[2021-07-06 21:48] oscarbenjamin commented on #21715
Note that both `_mat` and `_smat` were always private attributes with leading underscore names. However they have been around so long that I expect some code somewhere must be using them.

The changes in #21626 mean that these attributes are still available for read-only access but with a DeprecationWarning being emitted. Mutating the list/dict will not mutate the Matrix though so any code dependi

[2021-07-07 06:47] stevenleeS0ht opened #21716 "`isympy -c python` tab triggered auto completion not working"
It seems auto completion is supported in `isympy -c python` according to `https://github.com/sympy/sympy/blob/85e9c6c5882e8b628f5717770ce1f1439a204647/sympy/interactive/session.py#L266`.

However, when I typing `isympy -c python`, the `SymPyConsole` started, it when I type `si` in console, and press tab, no indent appear, so it is intend to work, but nothing out.

No matter how many times I hit ta

[2021-07-07 09:40] schymans commented on #14374
@meganly something similar to the `PhysicalQuantity` idea has also been proposed here: https://github.com/sympy/sympy/issues/19313
It is currently available as a separate package based on sympy, in case you are interested: https://essm.readthedocs.io

[2021-07-07 12:22] oscarbenjamin commented on #21716
Do you have ipython installed?

[2021-07-07 12:37] stevenleeS0ht commented on #21716
@oscarbenjamin , `isympy -c python` doesn't depend on `ipython`. It use `code.InteractiveConsole` and `readline` to autocomplete.

The python console have autocomplete ability.

[code]

[2021-07-07 12:39] stevenleeS0ht commented on #21716
@oscarbenjamin , maybe this is relevant https://docs.python.org/3/library/rlcompleter.html

[2021-07-07 12:58] stevenleeS0ht commented on #21716
@oscarbenjamin I have done some research on this.

The possible reason maybe that https://github.com/sympy/sympy/blob/85e9c6c5882e8b628f5717770ce1f1439a204647/sympy/interactive/session.py#L266,

the readline is imported inside method, so its lifespan will be ended when __init__ method finish.

Even if put `import readline` to global scope, the problem still not solved.

regarding the following toy

[2021-07-07 14:18] scimax commented on #21701
Wow, thanks! This seems to be a quick fix for the limit! I tried to look under the hood how it works but I didn't see the `.as_leading_term()` function.

Regarding the `NotImplementedError` in the series expansion, so the error is due to the order to which the function is expanded? Following this argument the error should be slightly different for
[code]
And, indeed, I get now:
[code]
For even hig

[2021-07-07 21:52] smichr commented on #14374
I think I mentioned that this can all be done transparent to the user via the printer which would print the PQ without the PQ except when the magnitude is 0, so `PQ(6, m)` would show as `6*m`.

[2021-07-08 00:07] stevenleeS0ht commented on #21716
@smichr , @asmeurer , @mattpap  any ideas?

[2021-07-08 04:19] stevenleeS0ht commented on #21716
Now, `isympy -c python` should behave properly.

[2021-07-08 14:35] pctablet505 opened #21721 "Bug in integration solver"
For calculating the integration of pdf of cauchy distribution I tried sympy, but it produced wrong result.

`integrate(1/(pi*(1+(x-a)**2)),(x,-oo,oo))`
the **expected** output was **1** but it **produced output 0 which is wrong**.

![image](https://user-images.githubusercontent.com/55033230/124940822-ef6a4e80-e027-11eb-8772-214cbb31fd8a.png)

![image](https://user-images.githubusercontent.com/5503

[2021-07-08 14:49] #19311 closed

[2021-07-08 14:49] oscarbenjamin commented on #19311
This is fixed now by #21699 which adds the bitwise methods to Integer and registers it with the numbers.Integral ABC.

[2021-07-08 14:52] oscarbenjamin commented on #21721
If `a` is declared as real then the correct answer is given:
[code]

[2021-07-08 14:54] pctablet505 commented on #21721
Thank you so much :)

[2021-07-08 14:55] oscarbenjamin commented on #21721
Reopening because the answer should not be given as zero when `a` has not been declared as real

[2021-07-08 15:09] oscarbenjamin commented on #21721
Seems to be a bug in the limit code:
[code]
Seems to be also a bug for this limit (even though the integral works in this case):
[code]

[2021-07-08 15:48] oscarbenjamin commented on #21721
Actually this is a regression on master since sympy 1.8. Bisected to 2b6b23370113ac3460fba8e200a89416dfbb6cec from https://github.com/sympy/sympy/pull/21589
CC @0sidharth @jksuom

[2021-07-08 17:03] jksuom commented on #21721
[code]
I get these results also on sympy-1.8. It looks like that would be correct if `im(a) > 1` so that the arguments of the two log terms are on the same side of the real axis (on the same branch).

[2021-07-08 17:27] oscarbenjamin commented on #21721
I wonder if it depends on the Python version because I do not get the same in sympy 1.8 with Python 3.6 on Linux:
[code]

[2021-07-08 18:27] mostlyaman opened #21723 "numsamples parameter for stats.sample() is deprecated"
### History of major changes in sample
In SymPy 1.6, `sample` function used the size parameter which is used to specify the no. of samples returned at a time.
[code]
In SymPy 1.7, 'sample' function behaviour was changed such that it returns an iterator instead of sample values. Since an iterator is returned, a numsamples parameter was introduced which specified the length of the iterator.
[code]
T

[2021-07-09 05:11] Fazel94 opened #21724 "A Case Where Limit Yields Wrong Results"
The following snippet yields 0 as the answer of the limit yet [here](https://www.youtube.com/watch?v=FPHHv1UcrMA) that isn't right and it is -e/2
[code]
output is 0

build info for python is:
[code]

[2021-07-09 05:26] Fazel94 commented on #21724
In a virtualenv from the same distro, I install sympy 1.9dev git commit d5813719, it yielded the desired result.
Sorry for in the convenience.

[2021-07-09 05:26] #21724 closed

[2021-07-09 06:13] praneethratna commented on #21057
Hey , I am bit new to open source contribution and would like to work on this issue, Could you give me an headstart on how to start working on this issue?

[2021-07-09 06:36] Maelstrom6 commented on #21057
I don't have any experience with the random vectors part of SymPy but there would probably be at least 4 things that need to change:
- The assertion to check if the covariance Matrix is positive should be changed to positive semidefinite.
- The pdf should also change. According to Wikipedia:

  This means that we should probably have a piecewise or if statement in the pdf function. Considering tha

[2021-07-09 09:58] SebastianHelm commented on #15700
Even with Dejavu sans mono, the following is still misaligned:

           -t   ⎛     t⎞  t
y(t) = C₂⋅ℯ   + ⎜C₁ + ─⎟⋅ℯ
                ⎝     2⎠
![sympy](https://user-images.githubusercontent.com/17769432/125060740-f5564300-e0ac-11eb-917f-7a23da102b78.png)

[2021-07-09 10:41] Lischip opened #21727 "Solved! I'm unable to get all intersections for segments"
Hey! I've been used plotly to visualise my issue. I can't seem to find all intersections. I singled out 6 segments (that form 2 triangles). I was expecting to find 2 intersections, but I only got one. I was wondering if there was something I'm overlooking.

[code]

![image](https://user-images.githubusercontent.com/4721925/125064708-38b2b080-e0b1-11eb-843c-888544b2eeb6.png)

Thanks in advance!

[2021-07-09 10:41] oscarbenjamin commented on #21711
The problem is with meijerg. It seems that manual integrate can find a result here:
[code]
Maybe manual integrate should be tried of meijerg returns an unevaluated integral. Also if meijerg is going to return an unevaluated integral it shouldn't return one that is more complicated than the original integral.

[2021-07-09 11:53] #21563 closed

[2021-07-09 11:55] oscarbenjamin commented on #21563
The basic issue has been fixed by #21590 which is now merged to master.

@analyzethem  can you test the current sympy master?

[2021-07-10 07:56] sidhu1012 opened #21729 "`Physics.vector` not respecting leading `-` sign"
The Vector class of sympy/physics isn't considering the leading negative sign( all comments [here]https://github.com/sympy/sympy/pull/21674#discussion_r667299559) ).

If we do something like

`-A.x.magnitude()` , it is being treated as `-(A.x.magnitude)`

Another example could be

`-A.x.angle_between(N.x)` is being treated as `-(A.x.angle_between(N.x)`.

Which is leading to wrong result.

But if w

[2021-07-10 10:52] moorepants commented on #21729
Good catch on the `magnitude()` that does also give ambiguous behavior.

[2021-07-10 10:53] moorepants commented on #21729
@asmeurer, is this a limitation we have to deal with with Python? And is how all of SymPy works?

[2021-07-10 11:05] sidhu1012 commented on #21729
This bahaviour is shown by all Vector functions.

[2021-07-10 11:10] moorepants commented on #21729
Yes, but it only matters for some of vector's methods. For example, it doesn't matter for `.dot()`.

[2021-07-10 21:58] oscarbenjamin commented on #21729
This is just how Python works:
https://docs.python.org/3/reference/expressions.html#operator-precedence

[2021-07-10 23:21] oscarbenjamin commented on #21727
Can you be more precise about what is not working? Which segments should have an intersection that doesn't seem to be found? Can you just show the minimal SymPy code that doesn't work?

Note that you have opened a GitHub issue which implies you are reporting a bug in SymPy. If you are just asking for help with using SymPy then that's fine but it should be opened as a "discussion" rather than an "i

[2021-07-10 23:24] oscarbenjamin commented on #21716
Should this be closed now that #21719 is merged?

[2021-07-10 23:29] oscarbenjamin commented on #21708
It looks like both of these are handled by the meijerg integration routine. Not sure why that might fail.

[2021-07-10 23:34] oscarbenjamin commented on #21691
Is there anything to fix here or can this be closed?

[2021-07-11 04:30] sidhu1012 commented on #21691
I think it can be closed .

[2021-07-11 06:48] moorepants commented on #21729
Thanks @oscarbenjamin. I think the solution for these are then to document the gotchas well, so users will be informed about the possible issues.

[2021-07-11 06:52] moorepants commented on #21691
@sidhu1012 providing the commit or PR that closes this is the ideal response.

[2021-07-11 06:53] moorepants commented on #21691
This PR https://github.com/sympy/sympy/pull/21662 closes this issue by making `orient_axis()` accept the arguments in either order with no warning.

[2021-07-11 06:53] #21691 closed

[2021-07-11 08:56] Lischip commented on #21727
Ah, I'm so sorry! I was not aware. Will ask further questions in the mailing list. Thank you! I did realise it was a mistake on my end. It was just a rounding error. I will close the issue now 😄.

[2021-07-11 08:56] #21727 closed

[2021-07-11 10:07] stevenleeS0ht opened #21732 "Bugs report: fraction power error"
Looking for the following code:

[code]

Why the second one is false?

[2021-07-11 10:09] stevenleeS0ht commented on #21732
@smichr , @asmeurer  please have a look.

[2021-07-11 11:39] donno2048 opened #21733 "Sympy is simply wrong calculating limits"
For example, take this code:
[code]

It will print `0`, but it's trying to calculate

![image](https://user-images.githubusercontent.com/61805754/125193487-443edc80-e255-11eb-8d92-e5c09f881d0c.png)

Which is `-3`, don't believe me?

![image](https://user-images.githubusercontent.com/61805754/125193543-8cf69580-e255-11eb-8dd0-e54f81ccd571.png)

[2021-07-11 11:45] johan-naizu commented on #21733
True it's -3

[2021-07-11 13:27] jksuom commented on #21733
`(-8)**(S(1)/3)` denotes the principal value of the cube root of `-8` which is not `-2`:
[code]
Hence the limit will be 0 in SymPy. In order to get `-2`, one should use `-(5 - x)**(S(1)/3)` in the denominator:
[code]

[2021-07-11 13:49] donno2048 commented on #21733
@jksuom The fact that using `**(1/3)` gives another result than `**(S(1)/3)` is a bit confusing anyway...

[2021-07-11 13:49] #21733 closed

[2021-07-11 13:58] bjodah commented on #19313
@schymans I looked into the documentation of essm, it's not apparent what

[2021-07-11 14:00] bjodah commented on #19313
Sorry about the noise (wrong button). Anyhow, I took a quick look at essm, I think this issue could use an example in the first comment showing what key features/functionality is destined for SymPy (since essm contains quite a bit of domain specific code).

[2021-07-11 15:11] oscarbenjamin commented on #21733
The Python expression 1/3 creates an inexact float. It isn't possible for sympy to override that unless you call some sympy function as part of the expression e.g. `S(1)/3` or more directly `Rational(1, 3)`.

[2021-07-11 15:32] donno2048 commented on #21733
I thought this is the reason, thanks

[2021-07-11 18:07] oscarbenjamin commented on #21732
These expressions are not equivalent for all values of the symbols:
[code]
This is discussed here:
https://docs.sympy.org/latest/tutorial/simplification.html#powers

If `n` is an integer then they are equivalent:
[code]

[2021-07-11 19:21] #21635 closed

[2021-07-12 03:05] sylee957 commented on #21513
I also encounter this issue with purely real numbers
[code]

[2021-07-12 03:47] stevenleeS0ht commented on #21732
@oscarbenjamin , Is there any equivalent tools in `sympy` which provide similar functionality as `Refine` function or `Assumptions` rule in `Wolfram Mathematica`?

https://reference.wolfram.com/language/ref/Assumptions.html
https://reference.wolfram.com/language/ref/Refine.html

[2021-07-12 04:58] Diogo-Rossi opened #21734 "sympy always imports a file named "code.py" on the current directory"
Oddly, when  I import `sympy` into a script, and there is a file in same directory named "code.py", sympy execute that file.

Is that expected?

Steps to reproduce:
1. Create a file named "code.py" in a folder.
2. Put some traceable code in this file, like `print("some thing")`
3. Open a python REPL in this folder and execute `import sympy`: check that de "code.py" file is executed and "some thing

[2021-07-12 10:46] oscarbenjamin commented on #21734
The Python standard library has a module called code that sympy tries to import:
https://docs.python.org/3/library/code.html

Putting a module of the same name in your directory conflicts with that standard library module. Name clashes between local modules and the standard library are a pitfall of Python. I think the language should be improved so that you can do `from stdlib.code import X` or so

[2021-07-12 10:46] #21734 closed

[2021-07-13 10:21] moorepants opened #21739 "to_png matplotlib deprecation warnings"
In Jupyter notebooks I've been seeing these deprecation warnings:

[code]

SymPy 1.8 and matplotlib 3.4.2 and IPython 7.25.0

[2021-07-13 10:29] clinssen opened #21740 "Simplifying zero-like expression discards Integer/Float type"
Simplifying a zero-like expression loses information as to whether the original expression was integer-like or float-like.

This behaviour changed somewhere between sympy 1.4 and 1.8; more precisely, it is caused by commit 7649a7c3f1c6c4514b6b1ceaaffede5634673867.

Compare:

**Before:**
[code]

**After:**
[code]

Note that this issue does not occur for One, because there is no special case in simp

[2021-07-13 16:38] Davide-sd commented on #21542
This is most likely an issue with `experimental_lambdify`. It is probably outdated. If I try to plot with `lambdify` I get the correct plot.

I'm linking this to issue #19996

[2021-07-13 16:39] Davide-sd commented on #19996
Hello @sylee957 ,
I think you have much more experience than me about `lambdify` and `experimental_lambdify`. What are the blockers that are preventing the switch to `lambdify`?

[2021-07-13 21:01] Davide-sd commented on #19996
Found the answer.

PR #20177

[2021-07-14 04:40] LuisMi1245 opened #21741 "integrate() does not work with multivariable function that is solved by simple substitution. DomainError: there is no ring associated with CC"
`>> x, y, z, t = symbols('x y z t')`
`>> fun = E ** (
    (-2*I*pi*
     (z*x+t*y)
    /
     (500*(10**(-9)))
    )
   )`
returns the following:
![image](https://user-images.githubusercontent.com/35621197/125561393-ef9fc234-b58b-4351-9a70-40d040665e80.png)

Now I try to integrate with respect to z:
`>> integrate(fun, z)`
And the output is an error raised by the get_ring() method of the Domain cla

[2021-07-14 08:03] sylee957 opened #21742 "DomainMatrix Jordan Normal Form"
I've drafted a Jordan Normal Form computation for DomainMatrix based on the
"Carl D. Meyer, Matrix Analysis and Applied Linear Algebra Ch 7.7 ~ Ch 7.8"

I think that it uses different algorithm and could be more inefficient in nature, but as long as there is no references about the mathematical details of the `jordan_form` sympy was using, I don't think that it would be easy to develop the algorit

[2021-07-14 11:35] oscarbenjamin commented on #21741
I see this error with sympy 1.8 but it is already fixed on master. I've bisected the fix to b963ae372e46a02cf30682ff927c4683dcceaee6 from #21337.

I'm marking this as easy to fix. This issue can be closed if a test is added for the two examples above in `sympy/integrals/tests/test_integrals.py`.

[2021-07-14 11:40] smichr commented on #21740
I'll see if this is resolved in #21619 and add this in if it is not.

[2021-07-14 11:54] oscarbenjamin commented on #21742
This looks good.

Some of these things could be added to `DomainMatrix` e.g. `rank`. Probably `hstack` and `vstack` should be made to be classmethods with `*args` signature. The `SDM` class already has a `particular` method for getting a particular solution but that isn't exposed by `DomainMatrix` yet.

I wonder if it's better to use `CRootOf` even where `roots` can find radical expressions for cu

[2021-07-14 11:56] oscarbenjamin commented on #21742
Also `connected_components` could be used here.

[2021-07-14 12:05] praneethratna commented on #21741
@oscarbenjamin Hi , I'm kinda new to open source contribution and would like to work on fixing this issue , can i be assigned this issue?

[2021-07-14 12:16] oscarbenjamin commented on #21741
Issues are not assigned to anyone. I have marked it as easy to fix in order to invite someone to contribute a PR that fixes this so go ahead. There is a guide to the workflow here:
https://github.com/sympy/sympy/wiki/Development-workflow

[2021-07-14 12:20] stevenleeS0ht commented on #21716
@oscarbenjamin , probability yes!

[2021-07-14 13:26] #21716 closed

[2021-07-14 15:52] olcc commented on #18271
Can you please also ensure that such expression gets simplified? Currently it does not.
[code]

[2021-07-14 18:00] smichr commented on #21732
If `n` is an integer or if the base is positive then these are equivalent:
[code]

[2021-07-14 18:38] praneethratna commented on #21741
@oscarbenjamin Hey , I'm kinda struck on how to write the test case for this issue , could you please give a headstart on how to  write?

[2021-07-14 19:32] LuisMi1245 commented on #21741
@praneethratna I think what Oscar is saying is that you need to add in the integral test method stack (sympy/integrals/tests/test_integrals.py), the two forms of the integral that I mention here with the correct solutions, using the assert function to throw exceptions in case the condition is not met due to problems with the integration algorithm.

[2021-07-14 20:51] adamesalles opened #21744 "Matplotlib deprecation: The 's' parameter of annotate() has been renamed 'text' since Matplotlib 3.3. Using `continuum_mechanics`"
I was following the docs examples of `sympy.physics.continuum_mechanics` and when I created a visualization of my Beam (`b`) with:

[code]

I got this error:

[code]

With a small search, I've found that it's just a little change - the name of the parameter `s` has been changed to `text`. I think it's not that hard to fix this.

This was found in my search: <https://stackoverflow.com/questions/673

[2021-07-14 22:06] oscarbenjamin commented on #21744
See also #21739

[2021-07-14 23:32] LuisMi1245 commented on #21741
@oscarbenjamin The error has not yet been resolved. I added the two integrals to the *test_integrals.py* file following the examples in that file. On the other hand, when running:

`>> ./bin/test sympy/integrals/tests/test_integrals.py`

The test fails as shown in the image. I use the most recent version (from 2 hours ago) from the sympy repository on Github.
![image](https://user-images.githubuse

[2021-07-14 23:38] LuisMi1245 commented on #21741
This is the same code. And the bin/test suggests me: "DO NOT COMMIT".

![image](https://user-images.githubusercontent.com/35621197/125705872-4f4adab2-ec4b-4b3b-876e-387b5a8d6bb0.png)

[2021-07-14 23:39] oscarbenjamin commented on #21741
Not sure what the problem is but try running that code directly outside of the test suite and see what the output is for both lhs and rhs.

Note that `10**-9` will create a float rather than Rational

[2021-07-14 23:44] LuisMi1245 commented on #21741
But the integration method should support the coefficient being of rational or float type, right?

[2021-07-14 23:57] LuisMi1245 commented on #21741
You are right, now it does work and performs the integral without problems, however the results are not the same even though the expressions to integrate are the same in the mathematical context. I think it has to do with what you mention about the 10**(-9).

![image](https://user-images.githubusercontent.com/35621197/125707197-21c96507-f758-45a1-89ca-6ce772bc8e80.png)

I will close the comment wh

[2021-07-15 04:04] praneethratna commented on #21741
@LuisMi1245 i got the same error that you got while adding the test case , well as also mentioned this seems to be a problem with 10**(-9) being a float but how can that be fixed?

[2021-07-15 04:20] LuisMi1245 commented on #21741
@praneethratna
[code]
You just need to understand that 10**-9 is a division that will first be captured and evaluated by python as a floating point expression. In that case, you must indicate that the expression is of type sympy using simpify() or Rational(a,b) so that it retains the fraction. You can find this at:
[Sympy: Simbolic-Expressions](https://docs.sympy.org/dev/gotchas.html#symbolic-expr

[2021-07-15 08:02] #21530 closed

[2021-07-15 08:02] #21701 closed

[2021-07-15 09:35] oscarbenjamin commented on #21741
The floating point numbers need to match exactly for the test to succeed:
[code]
You can see the internal representation of the expressions in full detail using `srepr`:
[code]
There should probably be a helper function for tests that can check whether two expressions are almost equal wrt floating point numbers.

[2021-07-15 09:39] 0sidharth commented on #21721
The limit regression has been fixed in #21731, although the answer is still returned as 0 when `a` is not declared real.

[2021-07-15 11:18] 0sidharth commented on #21598
Thanks for tracing the issue to a minimum example. Indeed, `log._eval_as_leading_term` does not raise when it is called with 1/x as x->0, hence an incorrect result is returned. Changing the function to raise in this case, would fix the issue.

[2021-07-15 11:33] 0sidharth commented on #21415
This was fixed in bd444d3 from #21731, which improved the leading term handling of `cos` and `sin` when the arg is infinite. This could be closed if a regression test is added

[2021-07-15 11:50] 0sidharth commented on #20578
This was fixed (`limit(abs(x)*sin(1/x),x,0,"+-")` now outputs 0) in bd444d3 from #21731, which improved the leading term handling of cos and sin when the arg is infinite. This could be closed if a regression test is added

[2021-07-15 12:06] moorepants commented on #21729
This is fixed by #https://github.com/sympy/sympy/pull/21749

[2021-07-15 12:06] #21729 closed

[2021-07-15 13:08] 0sidharth commented on #14126
Is there anything left to be done here? I think the answer being output is fine.

[2021-07-15 15:48] Davide-sd opened #21751 "lambdify produces incorrect results"
I think there is an error somewhere within `lambdify`. Here is an example code, comparing the output of `lambdify` with the one produced by the `experimental_lambdify` module (from sympy.plotting). I also printed the content of the lambda functions.

According to [wolfram alpha](https://www.wolframalpha.com/input/?i=imag%28sqrt%28-x%29%29), the correct result is given by `experimental_lambdify`.

[2021-07-15 15:51] Davide-sd commented on #21751
Maybe it's something deep within `numpy`. If I use `mpmath` as the module for `f1`, it produces the correct result...

[2021-07-15 15:55] smichr commented on #21741
[code]

[2021-07-15 16:06] praneethratna commented on #21723
@oscarbenjamin Hey , I would like to work on fixing this issue?

[2021-07-15 16:07] oscarbenjamin commented on #21751
This might be a clue:
[code]

[2021-07-15 16:13] oscarbenjamin commented on #21751
The issue is to do with signed zero in floating point:
[code]

[2021-07-15 16:13] Davide-sd commented on #21751
Link to NumPy issue: https://github.com/numpy/numpy/issues/19484

[2021-07-15 16:26] praneethratna commented on #20578
@oscarbenjamin  Hey , can i take up this issue and add the regression test?

[2021-07-15 16:52] jksuom commented on #14192
Closing, as the current results are the expected ones.

[2021-07-15 16:52] #14192 closed

[2021-07-15 17:11] #21741 closed

[2021-07-15 17:24] LuisMi1245 commented on #21741
Yes, I gave up trying a PR due to ignorance. I am glad I understood.

[2021-07-15 21:14] vr050714 opened #21752 "Quaternion class has no overridden evalf method"
`Quaternion` class has no overridden `evalf` method.

[code]

[2021-07-16 00:27] oscarbenjamin commented on #21613
This has just been reported on SO: https://stackoverflow.com/questions/68402079/sympy-lambdify-with-sympy-matrix-and-numpy-vector-inputs

I think that for lambdify to support matrix-valued expressions properly it needs to have a more careful API that defines exactly what the shape is supposed to be after broadcasting for e.g. substituting an array of values for the elements of a Matrix.

[2021-07-16 03:54] stevenleeS0ht commented on #21732
@smichr , possibly could close.

[2021-07-16 06:09] praneethratna commented on #21744
@oscarbenjamin Hi , I would like to fix this issue

[2021-07-16 12:20] sylee957 opened #21753 "Matrix Spectral Decomposition"
I present a method to compute the spectral decomposition of a matrix, which can be an alternative way to compute the matrix functions

If the characteristic polynomial of a matrix ![image](https://user-images.githubusercontent.com/34944973/125943073-2625cb0c-f074-4999-81cc-1133f3864d28.png) can be factored as
![image](https://user-images.githubusercontent.com/34944973/125943625-e3e78f45-41c0-4a13-

[2021-07-16 17:26] oscarbenjamin commented on #21753
Although it's good to avoid computing over splitting fields when possible it would also be good to make computing over them faster. The algorithm from here might make it a lot faster to compute  a suitable algebraic field:
https://www.sciencedirect.com/science/article/pii/S0747717189800616
Computing primitive elements of extension fields. Kazuhiro Yokoyama, Masayuki Noro, Taku Takeshima

It would

[2021-07-16 18:38] meganly commented on #16757
I totally agree!  My idea is to then have a class called `PhysicalQuantity` to represent numerical quantities with units as `PhysicalQuantity(magnitude, units)`.  Is this similar to your `Variable` class?  I found it a little confusing have a class for physical constants named "Variable" since constants are fixed, but variables change.  Overall essm looks pretty neat though.

[2021-07-17 11:26] oscarbenjamin opened #21756 "Incorrect limit with ratio of complex exponentials"
From SO:
https://stackoverflow.com/questions/68406242/managing-cases-of-an-expression-containing-positive-integers?noredirect=1#comment120914902_68406242

These limits all give 0 but the correct value is 5:
[code]

[2021-07-17 15:29] 0sidharth commented on #6683
This now returns -
[code]

[2021-07-17 18:45] praneethratna commented on #17804
@bjodah Hi , I'm new to open source and would like to contribute in fixing this issue , Could you please explain me about how to fix this issue?

[2021-07-18 04:59] harkynX commented on #21415
Hey! Can I work on this issue?

[2021-07-18 05:12] sidhu1012 commented on #21415
Yes sure, this issue can be closed of you add a regression test for it.

[2021-07-18 19:53] 0sidharth opened #21758 "Printing of Piecewise `FourierSeries` does not terminate on isympy"
On current master,
[code]
When using `print()` and executing as a python script, the above code does terminate (with the output I have mentioned in the comments). Perhaps the printer is trying to print infinite terms

[2021-07-19 14:23] proy87 opened #21760 "Poly div is slow"
I noticed that `Poly(x**2016 - x**2015 + x**1008 + x**1003 + 1, x).div(Poly(x-1, x))` is slow. Is it expected?

[2021-07-19 14:27] proy87 opened #21761 "sympy.polys.polyerrors.NotAlgebraic Exception"
`factor(-exp(x)*tan(pi/7) + 1, extension=True)`
Without the `extension` flag everything is OK.

[2021-07-19 14:48] oscarbenjamin commented on #21760
Internally this is computed over QQ so the speed will depend on whether or not you have gmpy2 installed as that makes calculations with rational numbers a lot faster. I have gmpy2 installed for the timings below which seems to make it around 2x faster for this operation.

I'm not sure why this is converted to a field and ends up using `dup_ff_div` over QQ rather than `dup_rr_div` over ZZ:
https://

[2021-07-19 14:54] oscarbenjamin commented on #21761
This works fine on master:
[code]

Seems to have been fixed in cc7e4c751a99497119dd5e467800235368159e03 from https://github.com/sympy/sympy/pull/21442

[2021-07-19 15:19] proy87 commented on #21761
I thought that extension works only on factoring binomials, not coefficients. Is there any way I can factor `x**2+1` into `(x-I)(x+I)`, but leave `Ix-1` unchanged? If I add `extension=True`, then `Ix-1` is factored as `I(Ix+I)`.

[2021-07-19 15:19] proy87 commented on #21761
I thought that extension works only on factoring binomials, not coefficients. Is there any way I can factor `x**2+1` into `(x-I)(x+I)`, but leave `Ix-1` unchanged? If I add `extension=True`, then `Ix-1` is factored as `I(Ix+I)`.

[2021-07-19 15:26] proy87 opened #21762 "xreplace hangs"
`((x**2 + 6)**(Integer(33333333333333333)/50000000000000000)).xreplace({x: S.Half})`

[2021-07-19 15:42] oscarbenjamin commented on #21761
When factor is used with an extension field it seems it always factors into monic irreducibles and separates out the coefficient.

[2021-07-19 15:46] oscarbenjamin commented on #21762
A more direct way to reproduce this is just with something like:
[code]
Basically sympy should not attempt to evaluate such large integer powers as this.

[2021-07-20 09:24] moorepants opened #21764 "Travis test on the master branch is failing"
The optional dependency test if failing on Travis, but only on the master branch. There must be some differences in this Travis CI test that aren't present in the Github actions test. The travis test only runs on the PRs merged to the master branch. @oscarbenjamin mentioned that this Travis CI will likely be removed soon. I'm not sure if we need to be spending time fixing it.

An example: https://

[2021-07-20 10:14] oscarbenjamin commented on #21764
Not a very informative error message

[2021-07-20 10:16] moorepants commented on #21764
Yeah, not sure what's going on there.

[2021-07-21 00:51] saliola opened #21766 "solve breaks on certain repeated inputs"
Hi everyone. Thanks for your work on sympy.

I came across an issue when trying to solve a system of equations, and I reduced it to the following example:
[code]
I would have expected `x == -y/z` as an answer, and indeed, this is what sympy returns if the second (redundant) equation is removed:
[code]

(I verified these tests on https://live.sympy.org/, but I came across them using sympy through s

[2021-07-21 01:23] oscarbenjamin commented on #21766
I can confirm this with latest sympy master:
[code]
Not sure what that code in `_solve_system` is doing...

[2021-07-21 03:53] tmbdirec commented on #21715
If I don't fun and White Cotton and White Cotton and White

[2021-07-21 14:13] guzmanojero commented on #11088
This would be so cool.
I wonder how other solver providers solve this issue.

[2021-07-21 16:42] #21732 closed

[2021-07-22 11:44] smichr commented on #21762
duplicates #6835

[2021-07-22 11:44] #21762 closed

[2021-07-22 16:47] redeboer commented on #18781
Just noticed that the docstring is indeed wrong (as shown in the tweet):
https://github.com/sympy/sympy/blob/f522c61ab51ca3e27eaeabe08c2c1c0417e6f246/sympy/physics/quantum/cg.py#L161-L162

but that the reprs are correct, for instance:
https://github.com/sympy/sympy/blob/f522c61ab51ca3e27eaeabe08c2c1c0417e6f246/sympy/physics/quantum/cg.py#L218-L221

See also the docs:
https://docs.sympy.org/latest/

[2021-07-23 08:01] stevenleeS0ht opened #21771 "The following equation solving too slow (compared with Wolfram Mathematica)"
The following expression:

[code]
Take so long time, I cannot wait for it to return result (after several hours, it still didn't return result).

If I try to solve it in Mathematica, the result will be returned before I rise my `Return` key.

[2021-07-23 08:02] moorepants opened #21772 "Create an abstract base class for the mechanics `*Method` classes and create a commit set of attributes & methods"
We currently have `KanesMethod`, `LagrangesMethod`, and very soon `JointMethod`. `JointMethod` is unique in that it will use `KanesMethod` or `LagrangesMethod` internally, but, even so, it would be helpful if all three of these methods had some common attributes and methods so that duck typing can work well and there is consistency among the methods.

Some reasons making these more consistent will

[2021-07-23 08:05] moorepants commented on #21772
@sidhu1012 I've opened this to work out how to unify the `*Methods` classes. It's worth thinking about this a bit before merging #21759 because we could make `JointsMethod` conform to a new standard.

[2021-07-23 10:37] oscarbenjamin commented on #21771
It's better to use `nsolve` for something like this:
[code]
What kind of output does Mathematica return?

The reason this is slow is because after unrad the solutions are found as the roots of this poly:
[code]
The `poly.all_roots` method can easily factor this but it then tries to create `CRootOf` for this factor
[code]
 which is then slow because the root isolation code is slow for complex roots

[2021-07-23 23:50] oscarbenjamin opened #21773 "TypeError multiplying Subs expressions"
From SO:
https://stackoverflow.com/questions/68284309/sympy-why-do-i-get-an-unsupported-operand-error-when-trying-to-solve-a-specifi?noredirect=1#comment121051793_68284309

This should not raise an exception:
[code]

[2021-07-25 04:09] waveletrider commented on #21655
The error is correctly raised as "Since there are no variables in the expression f, it cannot be differentiated." in version 1.3.

In versions 1.7.1 and 1.8, `diff` behaves as reported in OP, giving some random result 1 or 0 in first and second derivatives.  See https://stackoverflow.com/questions/68515219/why-the-derivative-of-an-unknown-function-is-1-in-sympy

In version 1.8 `Derivative` in the

[2021-07-25 05:40] Psycho-Pirate opened #21777 "Plot function shows negative values above origin"
[code]
![plotttt](https://user-images.githubusercontent.com/50932406/126888987-389a7a62-043a-4861-a5a6-9598f406e755.png)
Here the plot returned shows negative values on the y-axis above origin.

[2021-07-25 07:18] sidhu1012 commented on #21772
@moorepants `LagrangesMethod`, `JointsMethod` and `KanesMethod` all have the major required attributes.

[2021-07-25 07:28] moorepants commented on #21772
I don't' know what that means.

[2021-07-25 07:29] moorepants commented on #21777
What is the issue? It doesn't seem incorrect. What is the expected output?

[2021-07-25 07:38] sidhu1012 commented on #21772
`LagrangesMethod` , `KanesMethod` and `JointsMethod` all have `mass_matrix`, `forcing`, `mass_matrix_full` and `forcing_full` attributes.

[2021-07-25 08:27] Psycho-Pirate commented on #21777
Well I expected the default origin to be set at (0,0). So that above the x axis all the y values are positive.
Something like this:
![save](https://user-images.githubusercontent.com/50932406/126892770-9a7c3b20-682d-4686-a35d-a4a013497d23.png)

[2021-07-25 08:29] moorepants commented on #21777
Doesn't that have lots of wasted whitespace? I'm guessing the design uses the limits of the data to minimize dead space.

[2021-07-25 08:44] Psycho-Pirate commented on #21777
If it is designed to be like this then i guess it's fine. I just expected the origin to be at (0,0) by default.

[2021-07-25 16:21] #9497 closed

[2021-07-25 16:21] #18363 closed

[2021-07-25 16:21] #21598 closed

[2021-07-25 17:21] 0sidharth commented on #21756
I forgot to add it to the description, but #21775 closes this issue, a test has also been added.

[2021-07-25 17:58] #21756 closed

[2021-07-25 18:11] praneethratna commented on #20578
Hey! Can I work on this issue?

[2021-07-25 22:46] #17804 closed

[2021-07-26 15:30] oscarbenjamin opened #21785 "Limit gives TypeError from as_leading_term"
[code]
This is a regression on master. SymPy 1.8 gives:
[code]
The bug was introduced in bf1eb95c20d7b74e5bd30bfe03b17745f09faf23 from #21589 and is caused by using `<` rather than `is_negative`.

CC @0sidharth @jksuom

[2021-07-26 17:40] #6819 closed

[2021-07-26 17:59] oscarbenjamin commented on #21385
I think this also came up here: https://github.com/sympy/sympy_benchmarks/pull/76#issuecomment-886895703

Okay I see so the equation is Piecewise and the different pieces might have different numbers of solutions. Therefore we can't return a list of Piecewise solutions without making some of them nan. There are a couple of possible solutions for this:

1. In simple cases the solutions could be rec

[2021-07-27 05:08] badalyadav opened #21786 "Incorrect Domain of Inverse Trigonometric Functions"
Domain of the arc sin function is [-1, 1].
Although, the following code returns unhelpful answers.
Is there a workaround?
Does this happen for other kinds of functions as well?

Code:
[code]

Output
[code]

[2021-07-27 06:48] proy87 opened #21787 "Simplify hangs"
`simplify(40*(x + 5)**3*cos(10*(x + 5)**4))` hangs.

[2021-07-27 08:57] praneethratna commented on #6899
Hi , i would like to work on this issue , so the test should assert if  _.func(*_.args) is equal to Lambda(x,x).fun is that it ?

[2021-07-27 11:13] proy87 opened #21788 "evalf issue"
I don't understand how evalf is working.
`sqrt(10101).evalf(n=4)` gives 100.5. How to make it output the result precisely to 4 digits after the dot?

[2021-07-27 12:44] oscarbenjamin commented on #21788
You can use `round` for that:
[code]

[2021-07-27 12:59] proy87 commented on #21788
@oscarbenjamin , what is evalf for?
And is round a sympy function, how it behaves with variables?

[2021-07-27 13:23] oscarbenjamin commented on #21788
The evalf method evaluates an expression in complex floating point to a given number of significant digits. If you want "digits after the dot" then that's decimal places rather than significant figures which is what the `round` function can do.

[2021-07-27 13:27] proy87 commented on #21788
Got it. But how do I round something like `sqrt(10101)x` to get `100.5037x`?

[2021-07-27 13:42] oscarbenjamin commented on #21788
You can just apply `round` to expressions that don't have symbols:
[code]

[2021-07-27 13:44] proy87 commented on #21788
Thank you!

The last question. `evalf` has `chop` option. Does `round` have the similar?

[2021-07-27 13:54] oscarbenjamin commented on #21788
No, `round` does not have a `chop` option.

[2021-07-27 13:55] oscarbenjamin commented on #21788
Btw it would be better to have these kinds of discussions on the mailing list rather than on github issues. Github also has a new "discussions" feature but I still think that the mailing list is the best place.

[2021-07-27 14:02] proy87 commented on #21788
@oscarbenjamin , thank you. Closing this.

[2021-07-27 14:02] stevenleeS0ht opened #21790 "CI/CD feature request: add .drone.yml for drone-cli on local computer and drone CI server."
Different developer have different local environment, CI workflow maybe difficult on local environment through GitHub workflow.

Add `.drone.yml` may be a good option for `drone-cli`.

Plus, in the future, `sympy` CI part may move to Drone service for fast execution speed.

`Drone` is a complete open source software, both its server and cli-tool are written in Golang, and just a single executable

[2021-07-27 14:27] oscarbenjamin commented on #21790
I don't know what drone is. What exactly are you suggesting?

[2021-07-27 14:29] oscarbenjamin commented on #21787
The problem is that internally this gets expanded massively by `futrig` I think. Basically something like this but much bigger:
[code]

[2021-07-27 14:36] stevenleeS0ht commented on #21790
@oscarbenjamin ,
Have a look?

https://www.drone.io/

https://github.com/drone/drone

https://github.com/drone/drone-cli

[2021-07-27 17:16] asmeurer commented on #9446
I'm not a fan of this particular solution. It is mathematically correct, but it's an implicit solution. I don't know if it is helpful for dsolve to give implicit solutions to ODEs. It looks like this is coming from the Lie group solver. CC @Mohitbalwani26

[2021-07-27 17:44] proy87 commented on #21788
@oscarbenjamin , replace doesn't work.
`cbrt(21).round(5)` gives `2.75892`, but `cbrt(21).replace(lambda n: n.is_number, lambda n: n.round(5))` gives `2.7589`.

[2021-07-27 17:50] asmeurer commented on #9446
I guess nth_algebraic is also solving this.

[2021-07-27 18:00] oscarbenjamin commented on #21788
The problem is that replace works from the bottom up rather than top-down. I'm not sure what's the best way to get top-down replacement but something like this:
[code]

[2021-07-27 18:19] oscarbenjamin opened #21791 "dsolve should not preprocess ODEs"
CC @Mohitbalwani26

The ODE below should be easy for `dsolve` to solve using the `nth_algebraic` hint. It doesn't work though because `dsolve` preprocesses the ODE and evaluates all the derivatives so the `nth_algebraic` solver doesn't get to see the unevaluated derivative form that it knows how to solve. Although `classify_ode` says `nth_algebraic` can solve it `dsolve` will not use the `nth_alge

[2021-07-27 19:06] proy87 commented on #21788
@oscarbenjamin , does it matter here, when x is itself number? It will end in `if matchfunc(obj)`.

Round also fails for `2 + 3/(27/2 + 27*sqrt(3)*i/2)**(1/3) + (27/2 + 27*sqrt(3)*i/2)**(1/3)/3`

[2021-07-27 19:24] oscarbenjamin commented on #21788
Okay well that is a bug:
[code]

[2021-07-27 23:17] oscarbenjamin commented on #21790
I had a very quick look at each of those links and I don't understand why we should use this. Can you explain what you are suggesting and why?

[2021-07-27 23:55] #20578 closed

[2021-07-27 23:56] #21415 closed

[2021-07-28 01:29] stevenleeS0ht commented on #21790
@oscarbenjamin ,

At current moment, it is not for cloud usage, it is for local CI.

Github actions is too slow. for the majority of developer include me, we would rather execute those autotest in our own machine.

For some of us use `PyCharm`, we cannot install all the python tools for lint-check, coding style check in the repo's virtualenv, because it will make source code indexer so slow.

Dron

[2021-07-28 01:37] sidhu1012 commented on #21790
@oscarbenjamin I think we should have one pep-8 check too,(something like pep-8-speaks) to check that the code follows PEP guidelines, and it shouldn't be mandatory to pass this test.

[2021-07-28 04:05] asmeurer commented on #21790
For the majority of PRs you can just run the tests with `./bin/test` or even just a subset of the tests (like `./bin/test solvers` or whatever). That will be much faster than GitHub actions because it won't be running multiple combinations of Python versions.

[2021-07-28 05:25] sidhu1012 commented on #21772
The `__init()__` kwargs are way too different between `KanesMethod`  and `LagrangesMethod`, irrespective of denoting the same thing.

Also the `Lagrangian` for `LagranesMethod` should be calculated automatically rather than passing it as first argument in init.

[2021-07-28 06:50] proy87 opened #21792 "parse_expr function_exponentiation issue"
`transformations = standard_transformations + (convert_xor, implicit_multiplication_application)`
`parse_expr('cos^(x)(x)', transformations=transformations)` works well
`parse_expr('cos^(2x)(x)', transformations=transformations))` raises error

[2021-07-28 06:51] moorepants commented on #21790
@sidhu1012, the issue with implementing that in a library this big is that someone has to go through the whole library when the pep8 check is implemented and fix everything. You'll also find that there will be arguments on which pep8 rules should be strictly adhered to and loosely adhered to or ignored. I think the only way to do something like this for a library this big is adopt a tool like blac

[2021-07-28 15:31] oscarbenjamin commented on #18400
Having `size` raise an error like this just seems awkward e.g. even pretty printing is broken in isympy:
[code]
It could just return `n` so why does that raise an exception in the first place?

If there are good reasons for `.size` to raise an exception then there should be another method for getting the symbolic size.

It would be better to have an explicit check rather than catching an exception

[2021-07-28 21:22] EPort5317 opened #21795 "Error in the sympy tutorial in the matrix section"
Here is the page in question:
https://docs.sympy.org/latest/tutorial/matrices.html#shape

In the tutorial it says:

M = Matrix([[1, 2, 3], [-2, 0, 4]])
M
⎡1   2   3⎤
⎢            ⎥
⎣-2  0  4⎦
shape(M)
(2, 3)

but when I tried it in a Jupyter python notebook, it said:

<ipython-input-2-e4a181c16606> in <module>
----> 1 from sympy import shape
      2 M = Matrix([[1, 2, 3], [-2, 0, 4]])
      3 M
Im

[2021-07-28 22:25] oscarbenjamin commented on #21795
You need to use the latest version of SymPy (1.8). SymPy Live does not use the latest version: https://github.com/sympy/sympy-live/issues/175

[2021-07-28 22:25] #21795 closed

[2021-07-29 00:08] asmeurer commented on #20893
I don't know enough about tensorflow to know if we can fix this. Is it not enough to just wrap the output of the lambdified function with constant (like `tf.constant(func(x))`)?

[2021-07-29 00:14] asmeurer commented on #21790
We already have required flake8 tests, but it is configured to run only non-stylistic checks. If pep-8-speaks can be configured to us our flake8 configuration it might be useful to use it as it may give more informative messages than the CI failures.

[2021-07-29 00:32] oscarbenjamin commented on #21790
I'm not necessarily opposed to using something like black or a pep8 checker if it's not too onerous (I haven't tried using either before though so I'm not sure). Someone has to do the work though.

Having made the codebase flake8 compliant I can tell you that it was a lot of work. I think flake8 helps to pick up on real bugs though which is different from purely stylistic checking.

[2021-07-29 11:57] #19353 closed

[2021-07-29 12:01] praneethratna commented on #6899
@smichr I'm unable to build Identity function from args as it is saying an positional argument 'name' is missing , so how to fix that?

[2021-07-29 12:36] smichr commented on #6899
[code]

[2021-07-29 12:43] smichr commented on #21787
Thanks for looking into that, @oscarbenjamin. Masking of multinomials before expanding might be a good idea.

[2021-07-29 15:47] #6899 closed

[2021-07-29 20:59] asmeurer commented on #21790
I'm opposed to black generally, and for SymPy specifically I think it tends to format things like mathematical expressions in a way that is worse than their current formatting (like spaces around all operators).

Actually I think @sidhu1012's suggestion was to make the PEP 8 checks only apply to the new code for a given PR, and be non-mandatory. That could be useful (as long as it isn't too annoyi

[2021-07-29 21:16] sylee957 opened #21798 "Arnoldi iteration and Hessenberg decomposition"
For any square matrix ![image](https://user-images.githubusercontent.com/34944973/127556516-212f76d5-80c7-4c44-97f9-0b2696f66546.png), there is a decomposition in the form of ![image](https://user-images.githubusercontent.com/34944973/127556491-e1b12aed-b745-47cc-90b8-adbe084091ca.png) where ![image](https://user-images.githubusercontent.com/34944973/127556601-5411fbe4-3500-4c11-8fc9-537f2a447d72.

[2021-07-29 22:19] oscarbenjamin commented on #21790
The benchmark comments from the GitHub Actions bot could be extended to do this with diff-cover. It generates reports of coverage but can also report results from a quality tool:
https://diff-cover.readthedocs.io/en/latest/README.html

Using `pycodestyle` you can get either a text report like:
[code]
Or you can get a html report output but I'm not quite sure how to include that in a comment on git

[2021-07-30 03:15] sidhu1012 commented on #21790
Yes precisely. I have seen it in many orgs  and it just reports the PEP8 violations with line number in the PR and also tells what the violation is. Ans we can also make pep-8-speaks bot to ignore certain pep8 guidelines as per our convenience.

[2021-07-30 06:38] praneethratna commented on #21057
@Maelstrom6 i tried on fixing this issue , but i've some queries ; is there a function to check whether a matrix is positive semidefinite like is_positive_semidefinite because i didnt find one and also could you explain a bit more about what to implement in point 2?
thanks

[2021-07-30 12:49] delgh1 opened #21800 "Installation failed on Python 3.9.5 on Windows 10"
Symptom:
I ran `python.exe ./setup.py install`, at the end of the output:

`[Errno 2]` <--- obvious typo?
I heard that cli-64.exe does not exist in this version of python. Please address this issue for latest python releases.

[2021-07-30 13:33] oscarbenjamin commented on #21800
Do you have setuptools installed?

[2021-07-30 15:10] delgh1 commented on #21800
Yes, `setuptools-56.0.0`.

I installed vanilla Python 3.9.5.
I ran `py -m pip install --upgrade pip` to upgrade pip from 21.1.1 to 21.2.1, then I also upgraded setuptools to 57.4.0.
So this issue is solved. I recommend adding `"remember to upgrade pip and setuptools"` in the doc for newbies like me.
Case closed.

[2021-07-30 15:10] #21800 closed

[2021-07-30 15:18] oscarbenjamin commented on #21800
I think that we should just get rid of the setup.py and have a pyproject.toml.

For development I install in editable mode with `pip install -e .`. If you just want the latest release then you can just do `pip install sympy` which will also download it for you.

[2021-07-30 23:25] asmeurer opened #21802 "Units tests fail if ran in random order"
[code]

You may have to run a few times to get the failure. It looks like the units module uses global modifications, which IMO is a bad design, but even so, the tests should be written in a way that revert the modifications after the test is run so they don't affect things outside of the test.

CC @Upabjojr @schymans

[2021-07-30 23:27] asmeurer commented on #21800
As far as I know editable installs are still a work in progress for pyproject.toml (there was a PEP very recently accepted about it).

[2021-07-30 23:42] oscarbenjamin commented on #21800
The current state of the art is that a minimal setup.py is still needed for editable installs:
https://snarky.ca/what-the-heck-is-pyproject-toml/

All that is needed is:
[code]

I expect that soon it will not even be necessary to have that. For now though we could strip back to that and remove all reference to setup.py from the README or any other installation instructions. The setup.py also has t

[2021-07-31 02:08] asmeurer commented on #21800
@delgh1 "Errno" isn't a typo. It's short for "error number". In low level code, errors are represented by numbers, in this case, 2 (which based on the message means "No such file or directory"). The error in this case is most likely coming from Windows.

[2021-07-31 02:29] delgh1 commented on #21800
@asmeurer thank you for the clarification. From a newbie point of view I would say "Err no", "ErrNo", "Erronum", or "ErroNum" are easier to understand.

[2021-07-31 03:31] asmeurer commented on #21800
The term errno dates from the early C days when bytes were expensive and shorter names were preferred over verbose readable ones.

[2021-07-31 08:38] proy87 commented on #21788
`exp(1048576).round(n=2)` hangs, while `evalf` doesn't.

[2021-07-31 10:34] oscarbenjamin commented on #21788
What version of sympy are you using? It doesn't hang when I try:
[code]
Although 452 milliseconds might seem slow it is not surprising when you consider how large the output is:
[code]
You are asking for a calculation that is accurate to half a million decimal digits!

With `evalf` it's faster but the result is (by default) only accurate to 15 decimal digits:
[code]

[2021-07-31 11:02] proy87 commented on #21788
@oscarbenjamin , I use sympy 1.8 and I don't wait till it executes (far more than 10 seconds).

[2021-07-31 11:05] oscarbenjamin commented on #21788
I recommend installing gmpy2. I get around 0.5 seconds with gmpy2 installed and around 12 seconds if I uninstall gmpy2.

In general some things in sympy can be a lot faster if you install gmpy2: `pip install gmpy2`.

[2021-07-31 11:07] proy87 commented on #21788
@oscarbenjamin , thank you.

[2021-07-31 12:16] #4187 closed

[2021-07-31 16:01] proy87 opened #21807 "evalf and Integer"
`(sqrt(101010101).evalf(3))` outputs `10100`
`Integer(_)` outputs `10050`

How is this possible?

[2021-07-31 16:03] oscarbenjamin commented on #21807
I don't see the same:
[code]

[2021-07-31 16:13] proy87 commented on #21807
@oscarbenjamin , did you apply Integer to the result?
`Integer((sqrt(101010101).evalf(3)))` should output `10100`, not `10050`

[2021-07-31 16:35] oscarbenjamin commented on #21807
When you do `evalf(3)` you are only asking for the result to be correct to 3 decimal digits but the actual calculation is done in binary rather than decimal so you get a result that is correct to some number of binary digits. You can see the internal representation:
[code]
https://mpmath.org/doc/current/technical.html

So the result of calling evalf is in fact the integer 10050.

A more accurate r

[2021-07-31 16:40] #21785 closed

[2021-07-31 16:40] jksuom commented on #21785
The offending test was not introduced in https://github.com/sympy/sympy/commit/bf1eb95c20d7b74e5bd30bfe03b17745f09faf23 but it was revealed by a change in code path.

[2021-07-31 16:49] Jason-S-Ross opened #21808 "TensorIndexHead.set_metric() doesn't do anything"
The `set_metric` method referenced in the documentation of `sympy.tensor.tensor` doesn't appear to do anything.

Here's the method:

[code]

The `_metric` attribute isn't accessed anywhere in `sympy` as far as I can find. The `metric` property computes the metric based on symmetry and name of the metric only:

[code]

I grepped the repo for any reference to the `_metric` attribute and found nothin

[2021-07-31 18:49] proy87 commented on #21807
What I want to achieve is to return integer after applying evalf (if it is integer).
So, I want to return `10100` instead of `10100.0` when doing `evalf(sqrt(101010101), 3)`.

[2021-07-31 20:15] oscarbenjamin commented on #21807
It's easy to convert a Float to an Integer. You need to be more precise about what you are trying to do and as I said before:

This discussion should be on the mailing list rather than in a GitHub issue. An issue should only be opened once it is established that there is a bug.

[2021-08-01 09:52] proy87 commented on #21807
@oscarbenjamin , closing and moving to the mailing list.

[2021-08-01 09:52] #21807 closed

[2021-08-01 15:54] WenyinWei commented on #18155
The same with me, I have gotten stuck in the infinite wait of expression output in jupyter notebook for about half a year on Windows 10, no matter which version of python it is, 37, 38 or 39. The bug only happens on one of my laptops so I can switch to another Windows machine to avoid it. While on Ubuntu, everything goes well even when the OS is running as a WSL container and porting its underlyin

[2021-08-02 06:45] aadityasinha-dotcom commented on #21808
Can I work on this issue?

[2021-08-02 08:44] auntyellow opened #21811 "refine + simplify doesn't work for complicated formula"
I'm solving the problem is in section **Auxiliary Elements** in Polya's *How to Solve It*:

I get the solution below, and try to verify it by SymPy:

[code]

I used `refine` and `simplify` to expect result `x + y + z = p` but the actual output is a bit complicated:

[code]

I have to use `simplify` -> `refine` -> `simplify` to get the expected result:

[code]

Here I added a `simplify` in *Step A*

[2021-08-02 12:32] oscarbenjamin commented on #21811
Note that this was also asked on SO:
https://stackoverflow.com/questions/68617934/how-can-i-tell-sympy-that-some-terms-are-positive-then-make-sympy-simplify-sqrt

[2021-08-02 14:22] vasarm opened #21812 "LambertW displaying in jupyter lab"
When using JupyterLab and trying to raise LambertW function to some power (for example multiplying with itself) then it raises error when trying to display it. Same thing happens if I use sp.Pow() method as well.

For example sp.Pow(sp.LambertW(2), 2) causes the error as well.

[code]

[2021-08-02 14:50] oscarbenjamin commented on #21812
This can be fixed with something like:
[code]

[2021-08-02 19:44] asmeurer commented on #18155
Are you able to interrupt the kernel and get a traceback of where it is stuck that you can paste here?

[2021-08-02 21:19] oscarbenjamin opened #21814 "Printing of unevaluated Mul needs brackets"
The second version here should use brackets or something:
[code]

[2021-08-02 22:52] oscarbenjamin commented on #21790
@sidhu1012 I'm not sure exactly what you are suggesting if you want to implement this then go ahead and then we can see how it looks.

[2021-08-02 23:11] oscarbenjamin commented on #21811
Ideally it would be possible to pass assumptions to simplify and have it do this in one step.

I'm not sure that refine should be expected to work without the simplify.

It's possible that `cos(A)` could still be negative so the expression as a whole could be negative. If you mean for both `sin(A)` and `cos(A)` to be positive then you can use that directly:
[code]

[2021-08-03 02:18] sidhu1012 commented on #21790
Yeah sure, I can try to implement this but for that @oscarbenjamin you may need to install/enable `pep-8-speaks` bot for repository as I can't do that since I don't have those rights.

[2021-08-03 02:57] Audrius-St opened #21815 "codegen export to C | superfluous "1.0" as in x*1.0/y for x/y"
Hello,

I have been using sympy codegen to export sympy code to C.
In a new project, I've encountered the following issue of the form

`rhs_expr = x*(r*r*r)**(-1) `

is exported by codegen as

`y6 = x*1.0/(r*r*r);`

The "1.0" in the above expression has two issues for me:

1. It is superfluous

2.  In C I am using an extended precision library that requires a specialized data type.

Re the SymPy m

[2021-08-03 04:00] WenyinWei commented on #18155
Sorry, I tried `trace_set()` according to [What is the right way to debug in iPython notebook?](https://stackoverflow.com/questions/32409629/what-is-the-right-way-to-debug-in-ipython-notebook), but it can only set breakpoints and check variables rather than telling me in which function it is stuck. Could you please tell me how to debug then?

[2021-08-03 04:35] sidhu1012 commented on #21790
@oscarbenjamin You can check the bot [here](https://github.com/OrkoHunter/pep8speaks).

[2021-08-03 09:08] oscarbenjamin commented on #21790
You can enable that on your fork to test it out before we enable it on this repo.

[2021-08-03 09:23] sidhu1012 commented on #21790
@oscarbenjamin If you want to see example you can check these two.
https://github.com/Dacience/DataScientist/pull/95
https://github.com/Dacience/DataScientist/pull/84#issuecomment-747871129

[2021-08-03 09:26] sidhu1012 commented on #21790
That's how the bot would comment and after every pushed commit would keep updating that comment. And it shouldn't be mandatory to pass this pep test.

[2021-08-03 09:41] oscarbenjamin commented on #21790
If you enable it on your fork then you can open a PR in your fork so we can see how it works and make sure we know what is needed to get it set up.

[2021-08-03 09:51] #21752 closed

[2021-08-03 16:25] asmeurer commented on #21815
As I said on the mailing list:

the other printers, like the normal str printer, it doesn't print x/y
as x*1/y. If you look at the code (see sympy/printing/str.py), it's
handled more intelligently in the _print_Mul printer. I think the code
printer(s) should also handle Mul more intelligently, so that they
don't print superfluous 1.0s. It also makes sense to me that when it
does print 1.0, that it

[2021-08-03 16:31] Arnab1181412 commented on #21812
Hi Can I get to solve this problem I am a new contributor. Can you guide me for the same.

[2021-08-03 20:25] mohajain commented on #21812
I have made the changes suggested by @oscarbenjamin. Is there anything else that needs to be done?

[2021-08-04 00:31] smichr opened #21823 "nicer printing of Permutation (and others)"
Perhaps Partition's args print with FiniteSet because the args were made to be SymPy types. But the printing need not be so verbose.

[code]
Printing of its (and other combinatoric funcs as pertinent) args can be done with lists, tuples or sets as community preferences dictate, e.g. `Partition([1,2])` or `Partition({1,2})`, the latter more suggestive that the parts of the Partition are subsets of

[2021-08-04 03:04] econbernardo opened #21824 "Error in documentation in docs.sympy.org"
The paragraph on CuPy, in the Lambdify section of [Numeric Computation](https://docs.sympy.org/latest/modules/numeric-computation.html) is cut in half:
![image](https://user-images.githubusercontent.com/82622529/128115581-e2d026fb-6c0c-403e-b298-d5ef7343bfd0.png)

[2021-08-04 06:02] Upabjojr commented on #21802
Do you mean that some cached function in the units module should not be cached?

[2021-08-04 07:39] asmeurer commented on #21802
I didn't look close enough to see exactly why it happens. There is some global state that is not reset between test runs. I'm assuming `set_global_relative_scale_factor` does this, since it has "global" in the name. If that's not actually the case, it could be the cache or something else.

[2021-08-04 12:19] praneethratna commented on #21401
@oscarbenjamin all the three methods mentioned here - quaternion_pow , quaternion_log and quaternion_to_trig aren't implemented in PR #20853 , can i try adding these methods in the Quaternion class?

[2021-08-04 18:36] oscarbenjamin commented on #21057
A normal distribution with zero variance is also not permitted:
[code]

[2021-08-05 00:01] asmeurer commented on #21823
Is it really necessary for FiniteSet to ever print as "FiniteSet" instead of using "{...}" with the str printer? The latter will create a Python set, which will be converted to a SymPy object when mixed with other SymPy operations. It's no different from printing numbers as `1` instead of `Integer(1)`.

[2021-08-05 00:11] tomdunbar commented on #18987
@Davide-sd, I started to write up some documentation which defines the mathematical boundary of the module (i.e. what mathematics are included and what are not).  Additionally, this document serves as a sort of specification for how the module should behave.  I started with the nabla operator since this can be one of the most confusing aspects of vector algebra/calculus.

I tried to write the docu

[2021-08-05 18:50] asmeurer opened #21829 "Upload built docs for on PR CI builds"
If you look at the matplotlib CI, they have a special build that builds their docs and uploads them somewhere. For example, go to some matplotlib PR https://github.com/matplotlib/matplotlib/pulls and click the "Check the rendered docs here!" build in the checks section at the bottom.

I think they are using a combination of GitHub Actions and Circle CI. CC Matplotlib devs @tacaswell @story645 @Qul

[2021-08-05 20:46] story645 commented on #21829
@larsoner most recently touched this in #20680 which relies on https://github.com/marketplace/actions/run-circleci-artifacts-redirector and looks to be fairly general?

[2021-08-05 20:58] mrepetto94 opened #21830 "Piecewise plot with abs not working properly"
I tried

[code]
But it seems like the plot function does not take into account the absolute value whereas:

[code]
 works perfectly. Let me know If you need further information.

[2021-08-05 21:21] larsoner commented on #21829
The redirector step is just about trivial. Getting docs to build with artifacts on CircleCI is also fairly easy (IMO) for someone familiar with CIs

Yep, create CircleCI artifacts and you can use [run-circleci-artifacts-redirector](https://github.com/marketplace/actions/run-circleci-artifacts-redirector) / [circleci-artifacts-redirector-action](https://github.com/larsoner/circleci-artifacts-redire

[2021-08-06 06:31] weishanlee opened #21831 "Integration is NOT correct!"
![126897533-1aa3c024-1fe0-4923-83ef-eab344d1efe9](https://user-images.githubusercontent.com/44011158/128466418-c403aada-cbd0-41d1-a816-fd850465e32d.jpg)

The answer should be π/12

[2021-08-06 17:59] Arnab1181412 commented on #21831
Yes I see that also the answer should be pi/12

[2021-08-06 23:28] weishanlee commented on #21831
I tried many computer algebra systems, such as Mathematica, Maple, that are proprietary, and some open-source ones, such as sagemath, as well as sympy. Sympy is the more promising one. There are at least two reasons for it. First, it is implemented to python easily. Second, it is free. I will promote this lovely library to my class in the upcoming temrs.

[2021-08-07 00:58] oscarbenjamin opened #21834 "Faster matrix inverse using fraction-free LU solve"
This is an implementation of faster fraction-free LU solve and its use in computing the inverse of a matrix. Fraction-free algorithms are much faster for matrices with polynomial entries as they can eliminate the need for costly polynomial gcd calculations. This implementation should be added to `DomainMatrix` and should be used by `Matrix` for computing the inverse and for solving linear systems.

[2021-08-07 04:14] sylee957 commented on #21834
Does the example `M = Matrix([[1, 0, 0, 0], [0, 0, 0, 0], [0, 0, 1, 1], [0, 0, 1, 2]])` work?
I get `ZeroDivisionError` raised

[2021-08-07 10:20] jksuom commented on #21831
It seems that the bug is in `Integral.doit` that makes `atan` and `acot` continuous by adding `floor` terms. In some cases, `doit` may be iterated. Then the `floor` terms should be added only on the final round. Something like this will be needed to fix this:
[code]

[2021-08-07 10:24] 0sidharth opened #21836 "Wrong number of terms by `nseries`"
[code]

The cause of this is [this line](https://github.com/sympy/sympy/blob/4dcadb8bd625f835e645684964c690847991ebda/sympy/core/mul.py#L1900) -
[code]
 Possibly some sort of recursive handling is needed to ensure sufficient number of terms

[2021-08-07 10:33] C-R-Kelly commented on #21834
The determinet of this matrix is: M.det() = 0, therefore it is not possible to invert such a matrix. I'd reccomend adding a check for this, where if M.det() == 0, it raises an error

[2021-08-07 11:16] Davide-sd commented on #18987
@tomdunbar very helpful. Eventually, once the module is in a "working-state", it should be easy to port the document into a Read-The-Docs documentation.

I want to inform you that I won't be able to contribute to this module for the next couple of months, as I won a grant to implement a plotting module. Speaking of grants, you might want to consider in applying for the [NumFocus Small Development

[2021-08-07 11:23] oscarbenjamin commented on #21834
That matrix is not invertible but its LU decomposition can be computed:
[code]
The fraction-free LU decomposition method used in the algorithms here computes a modified form of LU decomposition so in principle it could compute something for this matrix. It has not been generalised to handle such nonsingular matrices though:
[code]
Also the current `Matrix.LUdecomposition/LUsolve` methods can handl

[2021-08-07 13:04] 0sidharth opened #21838 "Deprecation of `calculate_series` of `gruntz`"
The `calculate_series` method of `gruntz.py` is being deprecated. Simply calling `series()` with `n=1` suffices instead, and the method was fragile and used to fail often, so it is being removed.

Alternatively, if only the first term of the series expansion is desired, `as_leading_term` may also be used.

[2021-08-07 14:33] #21024 closed

[2021-08-07 14:46] oscarbenjamin commented on #21834
The technique here
https://mathoverflow.net/a/254095/334503
can efficiently compute the nullspace of a sparse matrix from its LU decomposition. That could be used to handle underdetermined systems. I'm not sure what modifications would be needed for the fraction free case.

[2021-08-08 00:20] sylee957 commented on #21834
What about using fraction-free rref for matrix inverse instead, if it was not implemented before?
Fraction free rref looks less complicated to implement overdetermined/underdetermined solutions.

And it is still the secondary best option to improve the operation counts.

[2021-08-08 08:27] Noor-Kalibbala opened #21839 "writing theta dot in sympy"
I want to write theta dot in sympy using the expression below but sympy outputs peculiar result
sp.symbols("\dot{\theta}")
(, ℎ𝑒𝑡𝑎˙)
i dont know what could be the problem

[2021-08-08 11:20] oscarbenjamin commented on #21834
Yes, fraction-free RREF is another possibility and is probably easier. I expect it's a relatively simple modification of `sdm_irref` to make it fraction free. It's basically doing Gauss-Jordan elimination but with a different order of operations.

The problem is that for a square system I think fraction-free LU is usually the best approach (I might be wrong about this) and we don't know in advance

[2021-08-08 11:25] oscarbenjamin commented on #21839
Use a raw-string `r"\dot{\theta}"`

[2021-08-08 11:25] #21839 closed

[2021-08-08 14:16] Noor-Kalibbala commented on #21839
@oscarbenjamin

[2021-08-08 14:17] Noor-Kalibbala commented on #21839
thank u @oscarbenjamin

[2021-08-08 15:33] #21831 closed

[2021-08-08 17:29] username27 opened #21841 "Replace weirdness"
Consider the following code snippet wherein i try to replace a product of two binomial coefficients

[code]

This returns

![](https://i.stack.imgur.com/zf9CU.png)

The replacement did not work. However if either one of the binomial coefficients has a different number than 1 it does work! For example, the following code
[code]
Returns

![](https://i.stack.imgur.com/Racas.png)

Is this a bug or did

[2021-08-08 17:33] username27 commented on #21841
Using sympy version 1.8 btw

[2021-08-08 23:22] oscarbenjamin opened #21842 "Expr.match fails for unevaluated expressions"
From SO:
https://stackoverflow.com/questions/68702235/need-help-understanding-weird-replace-behaviour/68705358#68705358

Pattern matching like this works fine:
[code]
However this fails:
[code]
If we make our own new binomial class it works:
[code]
The problem is that `binomial(k, 1, evaluate=False)` is an unevaluated object that does not satisfy the func-args invariant:
[code]
When an object does

[2021-08-08 23:24] oscarbenjamin commented on #21841
Thanks for reporting this. I saw this on SO and opened a separate issue #21842 before seeing this one. Since #21842 explains what the problem is I'll close this one as a duplicate.

[2021-08-08 23:24] #21841 closed

[2021-08-09 10:38] 0sidharth opened #21843 "Deprecation of `compute_leading_term`"
The `compute_leading_term` method is being deprecated in #21837. `as_leading_term` can be used instead.

The individual `_eval_as_leading_term` methods are quite cheap, some of them involve a call to `limit`, but that is generally on trivial args and would not take much time. `compute_leading_term` calculates series first (which itself would be relatively expensive if the arg of the function is no

[2021-08-09 15:19] HDembinski commented on #21751
It seems this can be closed since the corresponding numpy issue was closed.

[2021-08-09 21:08] oscarbenjamin commented on #21751
The numpy issue was closed because numpy's behaviour in this situation is as documented. The question is whether sympy's behaviour is also as documented. Usually `lambdify` is supposed to produce outputs that are equivalent to sympy's semantics. There can be a difference in rounding error but here the output is wildly different.

Maybe `lambdify` should output some different numpy code that would

[2021-08-09 23:26] #18781 closed

[2021-08-09 23:26] #21001 closed

[2021-08-09 23:55] asmeurer commented on #21751
The best thing here would be if `im(sqrt(-x))` didn't automatically evaluate. Even if the expression were correct for NumPy, it's much more complicated than `np.imag(np.sqrt(-x))`. I don't think `re` and `im` should auto-evaluate when they produce results that are almost always more complicated.

As to the expanded version, if you use `im(-x)` instead of `-im(x)` in the atan2, you get the correct

[2021-08-10 00:15] asmeurer commented on #21751
Actually even `np.sqrt(-(3.0+0j))` produces a number with a negative imaginary part. So NumPy (which is actually just IEEE and C standard floating-point behavior) is being self-consistent here.

There's really two ways you can look at sqrt(-x) when x is positive real. One is sqrt(•), which when evaluated for • on the negative real axis gives the standard principle value of a positive number times

[2021-08-10 08:26] jksuom commented on #21751
I think that this should be changed. Polar coordinates, `abs` and `arg`, are naturally suited for computing powers.

[2021-08-10 11:44] sebastian-east opened #21845 "itermonomials returns incorrect monomials when using min_degrees argument"
`itermonomials` returns incorrect monomials when using optional `min_degrees` argument

For example, the following code introduces three symbolic variables and generates monomials with max and min degree of 3:

[code]
The code returns `[x3**3, x2**3, x1**3]`, when it _should_ also return monomials such as `x1*x2**2, x2*x3**2, etc...` that also have total degree of 3. This behaviour is inconsistent

[2021-08-10 12:57] BalasubramanyamEvani commented on #21823
Hi, is this up for grabs? new contributor here, found the project interesting and wanted to contribute to it. Currently going over the docs.

[2021-08-10 13:20] oscarbenjamin commented on #21845
Doesn't look like the `min_degrees` argument is actually used anywhere in the codebase. Also there don't seem to be any nontrivial tests for passing `min_degrees` as an integer.

The issue would be fixed with this diff and some tests in `test_monomials.py`:
[code]

[2021-08-10 17:05] BalasubramanyamEvani commented on #21845
Hi @oscarbenjamin  can I work on this? First-time contributor here

[2021-08-10 18:50] #21845 closed

[2021-08-10 20:18] BalasubramanyamEvani commented on #21812
Hello @oscarbenjamin could you please review my PR - #21849

[2021-08-10 21:06] Mtk39 opened #21850 "SOPform shows different results in SymPY live shell vs python terminal"
When running these commands into a python terminal the following result is displayed:
[code]
However on the sympy live shell only ~n3 is displayed which is correct. The python terminal used to match with the live shell, anyone know what changed recently?

[2021-08-10 21:27] MKurtzAmazon commented on #21850
The issue actually is present only in python 3. Python 2 works as expected

[2021-08-10 22:36] oscarbenjamin commented on #21850
The sympy live shell is showing an old version of sympy which is why they are different. More recent releases do not support Python 2.

[2021-08-10 22:40] oscarbenjamin commented on #21850
The behaviour of this changed in d3e5f14c5241b9da96560c4deffef9eaf4991228 from #20245

CC @oscargus

[2021-08-10 23:16] asmeurer opened #21851 "Use of \limits in latex(Integral)"
latex(Integral) for definite integrals always uses `\limits` unless `mode='inline'`. This causes the limits to be put above and below the integral sign, rather than to the right (see https://tex.stackexchange.com/questions/83545/int-with-limits-or-without).

I think we should have some heuristics to remove \limits in simple cases, because it looks bad when it isn't needed. One instance where it li

[2021-08-11 03:27] smichr opened #21852 "simple quadratic not solving"
This is a little unexpected:

[code]

[2021-08-11 06:18] Maelstrom6 commented on #21057
The scalar normal distribution did have a PR for zero variance but it was closed because we couldn't reach an agreement on what the PDF and CDF should be and because the Wikipedia page says that the variance must be strictly positive.

The user could also replace `X = Normal('X', mu, sigma)` with `X = mu` to get the same functionality (except for sampling capabilities).

[2021-08-11 06:47] oscargus commented on #21850
@Mtk39 where did you see that input format? (Using `('x',)`.)

I cannot really find it from the documentation: https://docs.sympy.org/latest/modules/logic.html

So `('x',)` is used to specify don't-cares instead of using the `dontcares` input?

You can use e.g. `minterms=[{n3:0}]` instead.

(I know that there is at least one issue with the logic optimization code though, but I think that in this c

[2021-08-11 06:57] oscargus commented on #19822
Not really sure why the pattern https://github.com/sympy/sympy/blob/f57d98d8e54169678e8bba7805f0f71546c11e75/sympy/logic/boolalg.py#L3037
doesn't cover it. It should indeed work already there.

[2021-08-11 08:06] rikardn commented on #21057
The case of zero variance for a single variate normal distribution is analogous to the case of positive semi-definite but not positive definite for the joint normal distribution. In my opinion sympy should allow it. Some arguments as for why it should:

1. Numpy allows it

[code]

2. It arises naturally from numerical situations. For example if you have two datasets like for example

[code]

The s

[2021-08-11 09:25] rikardn commented on #21057
Not really. Let's say we want to calculate the probability of the random variable falling in some range: `P(a < X < b)` This would then be the integral from `a` to `b` of the pdf of the distribution. If the range includes `mu` the integral should become 1 else 0. A constant expression really cannot capture this. I think the dirac distribution needs to implemented as a distribution.

[2021-08-11 09:50] oscargus commented on #16690
I revisited this one now. First, my comment above is incorrect. It can indeed be simplified to that.

I believe that the things is that the PoS form is selected as it is simpler than the SoP form before any relational simplifications. Then, there are no relational simplifications to be done once the PoS form is selected.

(Btw, running simplify on the Piecewise again leads to 0.)

[2021-08-11 09:54] oscargus commented on #18150
No, it is not related to the simplification. The thing is that you need to replace `~apple` with `banana | orange` explicitly. There is no functionality to state a number of boolean relations and end up with a simplified one. When you perform `simplify_logic(edible)` it does exactly that, simplifies the expression which at the moment doesn't know about oranges.

[2021-08-11 10:03] oscargus commented on #7950
Seems to have been solved at some stage as it simplifies to False on the current master. #21854 adds a test for it and closes this when merged.

[2021-08-11 10:11] oscargus commented on #20262
This should be relatively simple to implement. However, one should consider what happens when the "variables" are relations. Should it only be possible to do this for symbols? Probably. Since `1-(Eq(a, 0))` gives an error.

[2021-08-11 10:23] oscarbenjamin commented on #16690
The condition shouldn't simplify away completely because this should give nan for some possible values:
[code]

[2021-08-11 12:11] oscargus commented on #14836
The problem is that the replacement is done using a multiplication of two temporary (`Dummy`) symbols which is not allowed as an input to a boolean function. It happens here:
https://github.com/sympy/sympy/blob/f57d98d8e54169678e8bba7805f0f71546c11e75/sympy/core/basic.py#L940-L944

The solution would probably be to detect that there are boolean functions involved and in that case not multiply the

[2021-08-11 12:28] oscarbenjamin commented on #21057
It seems to work as far as I can tell:
[code]
Apart from these:
[code]

I'm not sure what this means. SymPy's stats module does not really provide for working with distributions rather than expressions involving random variables e.g. https://github.com/sympy/sympy/issues/20643#issuecomment-749473694 https://github.com/sympy/sympy/pull/20560#issuecomment-740792093

[2021-08-11 12:31] oscarbenjamin commented on #14836
The quoted code looks hackish to me. I think that the best solution would be to remove it and write some explicit code that directly achieves whatever effect the dummy substitution gives. Basic routines should not need to have special cases for Boolean, Expr etc and the routines should be sufficiently general that subclasses don't need to override them.

[2021-08-11 12:35] oscargus commented on #16690
I was also surprised. I wonder if one should add a `(NaN, True)` piece at the end if no default value is there in the construction of the `Piecewise`? Will help to avoid these things plus that it is quite pedagogical...

[2021-08-11 12:38] oscargus commented on #14836
There is a variable `hack2` just above it (with corresponding keyword argument), so, yes, there are probably ways to improve it as well.

[2021-08-11 12:44] oscarbenjamin commented on #16690
There is always an implicit `nan, True` at the end:
[code]
We need to make sure that conditions don't simplify away if they are not known to be True though.

[2021-08-11 12:52] oscargus commented on #16690
Sure, but it is not visible and clearly some of the simplification routines does not consider segments not explicitly there. So although not fixing the underlying problem, it would help, both to make people understand what happens and solve the erroneous behavior.

[2021-08-11 12:54] rikardn commented on #21057
Wow, nice! Yes @oscarbenjamin, you are right. This seems to already be supported and a specific random variable for the dirac distribution is not needed in this case because a simple constant expression works fine as a case of a https://en.wikipedia.org/wiki/Degenerate_distribution

To summarize how to support the zero variance case (and any constant expression) for the one variable `Normal`:

1.

[2021-08-11 14:24] oscargus commented on #21851
Wouldn't it make sense to have this as an option to the printer? I think most people have their preference of the expected behavior and in case one use the results in papers etc it is quite nice if it is "correct" from the start.

[2021-08-11 14:39] #21204 closed

[2021-08-11 14:45] oscargus commented on #20063
I'm not overly familiar with TableForm, but I think it is fair to say that this may be a case of garbage in, garbage out.

What about if you integrate a TableForm? Should it give valid LaTeX code? The whole purpose of TableForm seems to be to print tables.

One may of course argue if a list is a mathematical expression as such, but considering what SymPy is used for, I think it is fair to assume t

[2021-08-11 15:48] smichr commented on #21852
The problem is that `solve_linear` is returning (0,1) meaning that the expression is independent of `x` -- the logic needs to be fixed.

[2021-08-11 16:13] mrepetto94 opened #21858 "Soveset of an absolute value periodic function"
`solveset` seems not able to solve absolute value periodic functions. For example:

[code]
returns an error. I then tried to unpack the absolute value into a piecewise function:

[code]
and again `solveset` cannot solve it. The interesting thing is that `solve` is able to solve `as_piece` but of course returns only the first two critical points as its output is not a set.

[2021-08-11 16:24] oscargus commented on #19950
Fixed by #20264

[2021-08-11 16:24] #19950 closed

[2021-08-11 16:29] magv opened #21859 "AttributeError: 'mpz' object has no attribute 'denominator' with sp.series()"
Hi, all. I've run into a problem that can be traced back to this example:

[code]
If you'll run this, it will fail with this output:
[code]

Now the cause of this problem seems to be the difference between gmpy and gmpy2 libraries: it seems that I have gmpy 1.17 installed (from system packages), but no gmpy2, and this code seems to assume interface that only exists in gmpy2: there is no `denominat

[2021-08-11 16:58] oscargus commented on #21671
I've been encouraging that type of substitutions (the integration variable is indeed real, so it should work _better_ if it is defined like that). So I agree that there is something strange (and unfortunate) here.

[2021-08-11 17:28] calcpage commented on #21671
I taught my class without any major issues using sympy. Thanx for a great package! Keep up the good work. This is from a professor who's been teaching computer science since the 1970s and math since the 1980s and physics since the 1990s, FYI.

[2021-08-11 18:20] #21812 closed

[2021-08-11 18:21] oscarbenjamin commented on #21858
This was initially asked on SO:
https://stackoverflow.com/questions/68689814/critical-points-of-an-absolute-value-periodic-function-in-sympy

[2021-08-11 18:31] oscarbenjamin commented on #21859
Support for using gmpy (rather than gmpy2) is going to be dropped in SymPy 1.9 (#21016).

[2021-08-11 18:49] oscarbenjamin commented on #21671
@calcpage glad to hear that it worked out.

[2021-08-11 18:54] asmeurer commented on #21851
An option would be good, but we should also try to make it look good by default.

[2021-08-11 20:12] asmeurer commented on #16690
Maybe it would indeed help to explicitly add that to the args, although I don't think the printers should print it.

[2021-08-11 23:25] oscarbenjamin commented on #16690
It might help but really there's just a lot of buggy code in Piecewise. The fundamental tension is between Piecewise as a purely logical construct `A if Acond else B if Bcond ...` and Piecewise as a piecewise function of a real variable like `f(x) if x < a else g(x) if a <= x < b else ...`. Formally Piecewise is the former but pieces of the simplification code assume the latter. All usage of `as_s

[2021-08-12 09:00] proy87 opened #21860 "xreplace hangs"
`(-3*t + y**3 + sin(2*t + y)).subs({t: Rational(7,125), y: -1.23516983720720999822e+472802}, simultaneous=True)` hangs or takes too long.

[2021-08-12 09:23] oscargus commented on #16690
I just remind you of #17443

I may have a bit of time to work on this over the weekend and think it would be quite nice to get it in, even in the current, probably suboptimal condition (the ordering of simplifications is really a problem and I do not think it can be solved rather than heuristically). At least I do not add any `as_set/as_relational` as far as I can remember... Maybe I'll give it a

[2021-08-12 10:11] oscarbenjamin commented on #16690
If you can work on refactoring Piecewise then that would be great. I think that the first thing to do is ignore inequalities and focus on equalities and unequalities. Those are actually a more common use of Piecewise anyway and simplifying them is much easier and should not be messed up by logic designed for inequalities. See also https://github.com/sympy/sympy/issues/21360

[2021-08-12 10:13] oscarbenjamin commented on #16690
I don't think that `as_set/as_relational` is a good approach at all because we should aim to preserve the form of the conditions as much as possible. Obviously if the condition (or part of it) can be shown to be True or False then that's a good simplification but otherwise replacing equalities/unequalities with inequalities is not a simplification. The key strength of unequalities and equalities i

[2021-08-12 10:25] oscargus commented on #16690
There are two different aspects here: 1) use knowledge of equalities/unequalities to reduce the number of segments, 2) use general simplification techniques to simplify the conditions. I am quite sure that the only was using inequalities is used to simplify the number of segments is e.g. `Piecewise((1, x >= 2), (2, x >= 4))`, but that is more a consequence of the second condition being a subset of

[2021-08-12 10:30] oscargus commented on #21360
1. There is a long discussion about this in #8373 Sometimes it makes sense, sometimes not.
2-5. This pretty much describes the logic used in #17443, sometimes it works, sometimes the logic simplification is not good enough, but the basic mechanism is there.

[2021-08-12 10:45] oscarbenjamin commented on #8373
We need to be careful here that saying that the two sides of the inequality must be (extended) real is not the same as saying that all symbols are real. For example if `x = I` then both sides of the inequality are real and the inequality is True:
[code]

[2021-08-12 11:43] Jan-Blaha opened #21861 "Exception plotting integration result using plot3d"
Hi,

using sympy (1.8), I'm solving a simple problem, that does not look problematic at all.

[code]

instead of the expected plot I get an exception

[code]

The result of integral computation seems to be just a normal fine Piecewise, but changing the integrand (just removing p) does not throw exception anymore, so I figured this will be some bug.

[2021-08-12 18:18] smichr opened #21863 "multiset_permutations needs to handle []"
[code]

[2021-08-12 18:34] #21852 closed

[2021-08-12 21:14] jack4janice opened #21865 "Coeff incorrect result"
expr = (t*x + 1) / z
expr.coeff(t) should return x/z, but returns zero
expr.expand().coeff(t) returns the correct value

[2021-08-12 21:45] oscarbenjamin commented on #21865
This is as intended. You should use `expand` before `coeff` if the expression is not already expanded. Maybe that could be explicitly stated in the docstring.

[2021-08-13 09:01] bjodah commented on #21815
I agree that the current output is suboptimal. My guess is that it was made like this to force floating point division when variables are declared as e.g. `int`.

@Audrius-St if you can/want to share I'm interested to hear what extended precision library you're working with in C which doesn't implicitly convert 1.0 losslessly into the underlying type.

[2021-08-13 09:06] FrancescoRegazzoni opened #21866 "Error in inverse of BlockMatrix"
The inverse computation of a square `BlockMatrix` with more than 3x3 blocks sometimes provides a incorrect solution. For example:

[code]
[code]

[code]
[code]

Notice that the correct solution should be the following `B` matrix:
[code]
[code]

*Remark*: the same issue is present with any of the following methods:
[code]

[2021-08-13 10:16] rikardn opened #21867 "Linear system of first order ODEs with more than 2 equations cannot be solved (hangs)"
I am trying to solve some linear systems of first order ODEs arising from compartmental systems in pharmacokinetics. Systems with 1 and 2 equations can be solved with sympy, but trying a 3 equation system hangs sympy seemingly forever (I left it running for more than a day without termination).
## Two equation system that works

This example arises from what is called a two compartment model with

[2021-08-13 11:50] oscarbenjamin commented on #21867
It is slow computing the Jordan normal form of the matrix:
[code]
The Jordan form is used to compute the matrix exponential. The calculation is slow because Matrix routines are generally slow but are particularly bad for symbolic matrices.

This can become a lot faster with DomainMatrix now. The calculation of the Jordan form in this case is basically the same as calculating the eigenvectors which

[2021-08-13 11:53] oscarbenjamin commented on #21867
Also the spectral decomposition method in #21753 should be usable here but the implementation is currently only for matrices with rational elements.

[2021-08-13 12:16] rikardn commented on #21867
Thanks @oscarbenjamin for looking into this.

[2021-08-13 12:31] emi0000 opened #21868 "possible error in matching an expression with wild parameter"
I want to check if an expression has a specific structure und find the parameters within the structure.

Example:

    import sympy as sym

    v = sym.Symbol('v',integer=True)

    p0 = sym.Wild('p0', exclude=[v, 0] )
    p1 = sym.Wild('p1', exclude=[v, 0] )
    p2 = sym.Wild('p2', exclude=[v, 0] )
    p3 = sym.Wild('p3', exclude=[v] )
    p4 = sym.Wild('p4',properties=[lambda pp: pp==-1 or pp==1

[2021-08-13 12:47] oscargus commented on #18642
I think that one can add a simplification for `Eq` and `And` expressions where one replace one variable of the `Eq` with the other in all the other expressions. If that evaluates to `False`, then one can say that the expression is `False`, if it evaluates to  `True`, it should be enough to keep the `Eq` expression(s), as in #18645, and in case it returns a generic expression, one should not do any

[2021-08-13 12:54] oscargus commented on #18645
There are patterns for this. However, the current master didn't use them for And-expressions at it had an early exit in case of no `Eq`. Fixed in #21854.

[2021-08-13 13:28] oscarbenjamin commented on #21868
This was initially asked on SO:
https://stackoverflow.com/questions/68769853/pattern-matching-of-an-expression-using-wild-parameters-with-sympy

As I said there the expressions and the pattern look like
[code]
I would say that `x` should match `pattern` although with the `1/2` absorbed into the numerator `p0` so the matched values would be different.

[2021-08-13 13:36] oscarbenjamin commented on #18642
It would be good to have a more general way of handling systems of at least linear equations and inequalities using e.g. linear programming (#21854).

The polynomial case is handled by cylindrical algebraic decomposition https://en.wikipedia.org/wiki/Cylindrical_algebraic_decomposition

[2021-08-13 13:38] oscarbenjamin commented on #18645
I think linear programming (#21687) can handle these systems of inequalities.

[2021-08-13 14:16] oscargus commented on #18642
Indeed! I've been looking into minimizing polyhedrons, but didn't really find a good solution. The general case is quite tricky, especially doing it symbolically.

I've just finished a small thing that actually solves this issue. The existing simplification code looks at equalities with a single free variable. I have added code that looks at all equalities, independent of number of variables, for

[2021-08-13 14:41] oscarbenjamin commented on #18642
We shouldn't use `solve` for this because it's too slow. Also solving one by one for all symbols in all equations could be very slow if there are many symbols and equations.

Instead I would propose something like:

1. We start with a system of inequalities, unequalities and equations
2. Identify a subset of the equations that are linear
3. Solve the linear equations to eliminate some unknowns
4.

[2021-08-13 15:06] oscargus opened #21869 "Incorrect relational simplification with squares"
Current master:
[code]
returns
`(y >= 4) & Eq(x**2, 4)`
so the square term in the equality is not accounted for (the code seems to just handle linear relations, but doesn't detect that this is not linear). The code is here:
https://github.com/sympy/sympy/blob/ec0fe8c5f3e59840e8aa5d3d6a7c976e40f76b64/sympy/logic/boolalg.py#L760-L761

I think it is related to the recently(?) introduced exception `No

[2021-08-13 15:57] Audrius-St commented on #21815
Paper: "CAMPARY: Cuda Multiple Precision Arithmetic Library and Applications"

https://link.springer.com/chapter/10.1007/978-3-319-42432-3_29

Thesis: "Towards fast and certified multiple-precision librairies"

https://hal.archives-ouvertes.fr/tel-01534090/

Code: https://homepages.laas.fr/mmjoldes/campary/

I'm currently using the CPU version which performs calculations in my application in doubl

[2021-08-13 16:21] #21863 closed

[2021-08-13 17:24] Jason-S-Ross opened #21870 "Tensors of rank 0 turn into arrays of rank 1 when .replace_with_arrays is called"
Minimum working example:

[code]

Testing this with tensors of rank 1 gives the expected result:

[code]

[2021-08-13 17:37] rprkh commented on #21456
Can I work on this?

[2021-08-13 19:20] oscarbenjamin commented on #21870
CC @Upabjojr

[2021-08-14 03:09] sidhu1012 commented on #21456
Yes you can, you neet to send a PR with the changes.

[2021-08-14 08:27] praneethratna commented on #16875
Is this implemented? else i would like to work on implementing this

[2021-08-14 11:35] oscargus commented on #18642
As always it depends on the size of the problem how long it will take. The benefit of `solve`, at least in the way I used it, is that it will actually simplify things in a way that is not really possible otherwise. Most constraints resulting from integrals and so on are not really linear. (There are even more ways to deal with multiple solutions I realized, which is some cases can be beneficial as

[2021-08-14 12:13] smichr commented on #21865
The docstring indicates that matching is literal:
[code]
If it is not clear in the last example that the OP expression would fail, then perhaps it could be elaborated.

As for finding this term, perhaps `expr.diff(x).as_independent(x, as_Add=True)[0]` could be used.

[2021-08-14 12:26] oscarbenjamin commented on #16875
It looks like `dsolve` can now solve this provided the third equation is differentiated:
[code]
Handling DAEs would mean figuring out when to differentiate and by how many times. That could be added to `dsolve` but it's not currently a feature.

This seems to be a bug though:
[code]

[2021-08-14 12:53] bjodah commented on #21815
Thanks! OK, so rather C++ than C then? So if you have explicit constructors, I guess you can also overload `_print_Float` in your custom printer subclass, to have it emit wrapped number literals: `T{...}` (where `T` is your class).

But as @asmeurer pointed out, we should change the printing in the base class here (the C-code printer) not to emit `1.0`.

I've worked some with the qd library by Dav

[2021-08-14 13:46] #21456 closed

[2021-08-14 15:03] Maelstrom6 opened #21874 "Stats module: Expectation of a compound pspace inside a product pspace"
This is just a note for when we overhaul the stats module eventually.

While starting the planning phase for the overhaul #20643, I found a bug in the most commonly used function in the stats module.

https://github.com/sympy/sympy/blob/340157811414e1891ee8cd2984150d70f3d57d3d/sympy/stats/rv.py#L633-L635

This function tries to create a probability space based on the expression that it is given. N

[2021-08-14 15:14] oscarbenjamin commented on #21874
Can this not be fixed without overhauling the stats module?

[2021-08-14 15:25] Maelstrom6 commented on #21874
It probably could for this specific case and the change might only need to occur inside the function in question. But I don't think it's possible in the general case.

As an example, what should it return in the case of `E(mu*X)`? It can't return a CompoundPspace because then it treats mu as constant and it can't return an IndependentProductPspace because mu and X are not independent.

[2021-08-14 15:35] Jason-S-Ross commented on #21870
This seems to have to do with how `Array`s are created:

[code]

[2021-08-14 15:37] Maelstrom6 commented on #21874
I just realized another thing: `E(X, mu)` (expectation of X given mu) should return the RandomSymbol `mu`, not the Symbol `mu`.

[2021-08-14 16:08] rikardn commented on #21057
#21855, which has been merged, resolved 2 and 5 in my list above. To recap the discussion in the review of that PR we would like to implement a basic `PSpace` class that can be returned by `pspace` for constant expressions. Named something like `DegeneratePSpace`, `DiracPSpace` or `ConstantPSpace`.

[2021-08-14 18:30] Jason-S-Ross commented on #21870
Fixed by #21875.

[2021-08-14 21:24] oscarbenjamin commented on #21874
So here you've extracted `mu` from the inner expectation because it is a "constant" there and expectation distributes linearly over constants. If I had something nonlinear like `E(sin(mu*X))` how could that be handled?

[2021-08-14 21:49] oscarbenjamin commented on #21859
@magv does that answer your question?

I think this should probably be closed as wontfix in sympy since support for gmpy is to be dropped in the next release.

[2021-08-15 03:58] Maelstrom6 commented on #21874
I think the iterated law of expectation is general enough to be useful in most use-cases. To be honest, I wouldn't know how to compute it without it.

According to maths.stackexchange if N ~ Normal(μ, σ) then E(sin(N)) = sin(μ)exp(-σ^2/2). We can extend the logic when multiplying by a constant, α. E(sin(αN)) = sin(αμ)exp(-α^2σ^2/2).

So for this problem we get E(sin(μX)) = E(E(sin(μX) | μ) = E(sin

[2021-08-15 10:26] magv commented on #21859
My takeaway is that for the moment I should just add gmpy2 to the list of dependencies along with sympy. If this takeaway is correct, then yes, close as "resolved in 1.8.1".

[2021-08-15 10:55] oscarbenjamin commented on #21859
There won't be a 1.8.1 but there will be a 1.9 release soon and in that release SymPy will no longer attempt to use gmpy if it is installed. It isn't necessary to have gmpy or gmpy2 with any release of SymPy (these are optional dependencies for speed).

If pySecDec wants to support running with older SymPy releases then it could add gmpy2 as a dependency which would mean that even if the user has

[2021-08-15 10:55] #21859 closed

[2021-08-15 14:03] #21869 closed

[2021-08-15 14:05] thedoctar commented on #13630
This may not be a problem with the simplify function in and of itself, because sp.simplify(a/sp.sqrt(x**2+1)) gives 1 for me.

So when you give a hint to simplify about the common factor, it can factorise.

Maybe if you use more sophisticated algorithms using ring theory, you could solve this. But it would inevitably involve the algorithm having to guess possible factors.

[2021-08-16 06:43] praneethratna commented on #20769
@oscarbenjamin is this issue still valid? if yes i would like implement these methods in Quaternion class

[2021-08-16 10:45] #21870 closed

[2021-08-16 16:34] mmsbrggr opened #21882 "Incorrect solutions given by `solve`"
The following code tries to find the solutions of a system of (multivariate quadratic) equations. However, the single solution returned by `solve` is not correct.
It seems like `f = 0` should be part of the solution but is not.

[code]

Output:
[code]

Expected Output:
[code]

The bug exists in sympy versions `1.8` and `1.7` but NOT in version `1.6`.

In the meantime, is there a way to circumvent

[2021-08-16 17:26] oscarbenjamin commented on #21882
I've bisected this to 67fbbe670dbf2e77b4fdebf6493ee4f32f9c8a79 from #18844.

A simple diff that fixes this is:
[code]
However it should be possible to split the system so there must be a bug somehow that was introduced by the changes in that commit.

[2021-08-16 17:39] #21057 closed

[2021-08-16 17:52] oscarbenjamin commented on #21882
This is a better fix but I'm not quite sure why it works:
[code]
Apparently that comment was committed by me in 67fbbe670dbf2e77b4fdebf6493ee4f32f9c8a79 but the code in that commit doesn't look like something that I would write and I don't understand what the comment means...

@smichr do you understand what this is doing?

[2021-08-16 18:35] oscarbenjamin commented on #20769
Yes, there as a PR #20853 that attempted to do at least some of this. First check why that wasn't merged and maybe comment there or help with it.

[2021-08-16 19:53] oscarbenjamin commented on #21882
That diff gives three test failures in the solvers tests:
[code]
I think that in the the #5849 case the tests might just be wrong. #18208 seems related and made a change to the ordering here. Actually seeing that a better fix here is:
[code]
I'm still not sure what the removed code does. With that diff though `test_issue_18208` passes but the other two for #5849 still fail.

[2021-08-16 20:43] oscarbenjamin commented on #21882
Fix plus update to tests:
[code]

[2021-08-16 22:12] #20982 closed

[2021-08-16 23:17] oscarbenjamin commented on #21882
I've opened a PR for this: #21883

[2021-08-16 23:36] oscarbenjamin opened #21884 "Adopt NEP 29 - Python support"
Should SymPY adopt NEP 29?
https://numpy.org/neps/nep-0029-deprecation_policy.html

It prescribes a policy for how long to support different Python versions (and numpy versions) for the scientific Python ecosystem. The relevant part for SymPy is just how long to support a given version of Python.

Adopting NEP 29 would mean dropping support for Python 3.6 in the next SymPy release (it could be rem

[2021-08-16 23:48] asmeurer commented on #21884
We do have a policy https://github.com/sympy/sympy/wiki/Python-version-support-policy

Our current policy is based on when Python itself drops support, whereas NEP 29 drops support sooner, meaning it supports fewer versions. I think it's a good idea to do this, because the increased CPython release cadence that was implemented in the past few years means that there are too many versions of Python

[2021-08-16 23:56] oscarbenjamin commented on #21884
Right, there is a policy. The difference with NEP 29 is to drop support for older Python versions before they reach EOL but in a predictable way. I'm not sure it really matters that much to anyone downstream but the noticeable differences to me are just that we don't need to test so many versions in CI and we can also use relatively recent language features.

[2021-08-17 00:23] moorepants commented on #21884
I think this should be based on time, not Python versions. We should support the past 1 or 2 years of Python, something like that.

[2021-08-17 00:31] oscarbenjamin commented on #21884
NEP 29 is based primarily on a time window:
[code]

[2021-08-17 00:34] moorepants commented on #21884
That looks good to me.

[2021-08-17 01:16] oscarbenjamin commented on #21884
I've opened #21886 to drop support for Python 3.6 and PyPy 3.6 immediately.

If NEP 29 is adopted then the support policy will need to be updated:
https://github.com/sympy/sympy/wiki/Python-version-support-policy

[2021-08-17 04:17] asmeurer commented on #21884
We should probably discuss this on the mailing list. A change in this policy would potentially affects users of SymPy.

[2021-08-17 10:13] oscarbenjamin commented on #21884
I asked on the mailing list:
https://groups.google.com/g/sympy/c/T6TD9kPdpvA

[2021-08-17 13:40] mmsbrggr commented on #21882
@oscarbenjamin We tried out your solution and it seems to resolve the issue mentioned at the beginning but introduces a new problem: Renaming the symbols appearing in the equations changes the solutions (also the number of solutions) we get. For example the following code solves two identical systems then just contains the symbol "_k" instead of "k":

[code]

Output:
[code]

[2021-08-17 14:18] oscarbenjamin commented on #21882
When you say that this introduces a new problem what do you mean?

I get the same output you showed when testing with master so I don't think it is caused by the change I suggested but is rather a different issue with `solve`. With master:
[code]

[2021-08-17 14:38] mmsbrggr commented on #21882
With master I get the following output:
[code]

[2021-08-17 16:59] rprkh commented on #18330
Hey I noticed this issue is open. Can I work on this and make the necessary changes to docscrape.py ?

[2021-08-17 17:59] oscarbenjamin commented on #21882
Oh, yes I get that now. I must have gotten confused and thought I was testing master when I wasn't.

There's clearly something fishy going on somewhere but it shouldn't be to do with the diff I showed. Those outputs on master are both incorrect. Let's try to work out what the correct answer should be from the Groebner basis:
[code]
So we can see that `g=0`, `d=-f`, `b=c` and `a=-2*c`. The remainin

[2021-08-17 18:44] oscarbenjamin commented on #21882
This seems to make the results for `k` and `k_` consistent:
[code]
There must be a bug somewhere in this:
https://github.com/sympy/sympy/blob/801b1045d714686fe1baec6ece94815fe43c003a/sympy/solvers/solvers.py#L1890-L1961

That code is called when `solve_poly_system` fails. I'm not sure why `solve_poly_system` would fail here but there's a clearly a bug in the code to handle the failure.

[2021-08-18 00:36] oscarbenjamin commented on #21882
So what that code does is it tries to solve the system of equations by solving for one variable at a time. It loops through all equations and then for each equation it checks what unknown symbols are present in the equation. Then the equation is solved as an univariate equation for each symbol in turn. That result is then substituted into the remaining equations and the already found solutions.

T

[2021-08-18 04:15] sylee957 opened #21888 "`TypeError` raised for `evalf` containing summations"
[code]

[2021-08-18 04:21] sylee957 opened #21889 "`TypeError` raised for rounding floating point results"
[code]

raises `TypeError: Invalid comparison of non-real zoo`

[2021-08-18 05:13] proy87 opened #21890 "RecursionError and TypeError in nonlinsolve"
`nonlinsolve([4*x**3*y**4 - 2*y, 4*x**4*y**3 - 2*x],x,y)` raises RecursionError

If there is an assumption that the variables are real:
[code]
then `TypeError: Invalid comparison of non-real 2**(2/3)*sqrt(3)*I/(2*x)`

[2021-08-18 07:29] mlangiu opened #21891 "Using diff on a linear expression expressed through Sum gives another sum instead of constant"
I seem to either have found a bug with the differentiation of Sum expressions or I am misunderstanding the use of diff:

[code]
Result:
`Sum(c_i, (i, 1, n))`

Expected:
`c_i`

The same happens if I explicitly specify the index as such:
[code]
Result:
Sum(c[i], (i, 1, n))

Expected:
c[i]

[2021-08-18 09:14] mmsbrggr commented on #21882
Thanks for your effort. I really appreciate it. I would try to solve the issue, but I have to say that I am not that familiar with the internals of sympy and all the mathematical delicacies one needs to include.
Is there, in the meantime, any way to circumvent these problems? The code at the beginning of this issue is just a minimal example I constructed. My application needs to solve systems of p

[2021-08-18 10:10] oscarbenjamin commented on #21888
What do you think `Sum(-1, (j, I, 5))` is supposed to represent? Probably it should give an immediate error.

[2021-08-18 10:11] oscarbenjamin commented on #21888
There are old open issues about disallowing non-integer limits for summations.

[2021-08-18 10:15] oscarbenjamin commented on #21889
These are the same as #21513

[2021-08-18 10:25] oscarbenjamin commented on #21891
The first result is expected:
[code]
Calling the symbol `x_i` does not mean that it has any relationship to the symbol `i`.

The second case is a bug. It works if you use a different symbol for the index:
[code]

[2021-08-18 10:43] oscarbenjamin commented on #21882
There are lots of ways to make a simple solver that can do this using resultants or Groebner bases. The complicated part is trying to find all cases in an underdetermined system or handling roots of high-degree polynomials: a system of degree 2 polynomials can lead to higher degree univariate polynomials which may not be solvable in radicals.

Do you need all cases (your "expected solution" above

[2021-08-18 10:59] proy87 opened #21892 "is_real None instead of False"
`(-2**(4/5)/8 + 2**(4/5)*sqrt(5)/8 + 2**(3/10)*sqrt(-5 + sqrt(5))/8 + 2**(3/10)*sqrt(5)*sqrt(-5 + sqrt(5))/8).is_real` return None, but it is not real.

[2021-08-18 12:09] oscargus commented on #21860
The problem comes from Python trying to evaluate `2**(200000000000-1)` which it does in an exact way.

An observation:
https://github.com/sympy/sympy/blob/d7d65f6c2baaddde2c659bace54fb13de8e6eac3/sympy/core/numbers.py#L1821-L1825

Line 1821 results in calling
https://github.com/sympy/sympy/blob/d7d65f6c2baaddde2c659bace54fb13de8e6eac3/sympy/core/numbers.py#L2339
which calls lines 1823-1825, at lea

[2021-08-18 12:10] oscarbenjamin commented on #21892
I think it's fine for `is_real` to give `None` here. The `is_real` attribute is part of the assumptions system and is based on three-valued logic. Giving `None` is always consistent in three-valued logic and the system is not intended to be able to resolve arbitrarily complicated queries:
https://docs.sympy.org/dev/guides/assumptions.html#the-old-assumptions-system

[2021-08-18 12:14] oscarbenjamin commented on #21860
There are a number of open issues about this and related problems. See #6835 and other issues referenced from there.

[2021-08-18 14:39] #21539 closed

[2021-08-18 15:45] oscargus commented on #21860
I was wrong above, it was the line
https://github.com/sympy/sympy/blob/d7d65f6c2baaddde2c659bace54fb13de8e6eac3/sympy/core/numbers.py#L2341
that is called in the second step (as the base is positive).

However, evaluating `Rational(a, b)**Rational(c, d)` for positive `Rational(a, b)` does the following

[code]
It seems like writing this directly would be faster if nothing else, even though that re

[2021-08-18 21:23] asmeurer commented on #21815
I hadn't considered that. Don't the printers generally assume everything is going to be float? It does seem possible though that changing this could break someone's code.

[2021-08-19 01:09] oscarbenjamin commented on #21882
This diff seems like a simple improvement for the second problem:
[code]
Using that in combination with the diff above (https://github.com/sympy/sympy/issues/21882#issuecomment-899805657) I get:
[code]
So both the `k` and `_k` systems give the same result although the cases in the solution are listed in a different order. The redundant `k=3/2` case is listed for both systems - a deeper fix is need

[2021-08-19 02:16] sylee957 opened #21895 "Congruence closure algorithm for proving ground symbolic identities"
I have a demonstration of a lightweight congruence closure algorithm which can be used to prove the conjectures containing only constant symbols, given a set of identities containing only constant symbols
I defer the explanation to the references below, and I may also need to complete the implementation of this demo to be able to do afterwards

1. A helper function which can convert between expres

[2021-08-19 06:18] oscargus commented on #21860
I would also like to point out that `Rational(c*(d-1), d)` cannot be simplified as (d-1) and d are relative prime (and c and d are probably relative prime to start with). Maybe there is something else clever behind, like the benefit of getting `b**c` separately is so much bigger, but there seems to be room for improvements here.

[2021-08-19 06:34] donno2048 opened #21899 "Generalized (complex) order integrals [Feature request + Bug report]"
You can generalize the order of integrals like so:

[code]

Then, for any natural `order` this will be equivalent to the integral with this order from the standard definition and for any complex (including real) `order` if you derive it you will get the integral of order `order - 1` if it's defined.

This is defined wherever `gamma` is defined.

For example:

[code]

Even if not used for fractiona

[2021-08-19 06:51] oscargus commented on #21860
Replacing line 1821 with
`return Integer(self.p)**expt*Integer(self.q)**Rational(expt.p*(expt.q - S.One), expt.q)/Integer(self.q)**(expt.p)`
so "looking ahead", gives
[code]
to compare with the master
[code]
so a clear improvement for that case. core tests pass and output is identical (not surprising).

(Using `return Integer(self.p)**expt*Integer(self.q)**Rational(expt.p*(expt.q - S.One), expt.q)

[2021-08-19 11:19] smichr commented on #21882
based on the comment, it is solving one of potentially multiple equations that share the same set of free symbols. I will look more closely later today.

[2021-08-19 11:22] mmsbrggr commented on #21882
@oscarbenjamin Thank you. I'll try that quick fix for now. Redundant solutions are not an issue for our purposes. It's just important that we get all solutions and no incorrect ones.

[2021-08-19 11:38] smichr commented on #21882
I'm not sure this is a good idea since then order of processing would be indeterminant.

[2021-08-19 11:47] smichr commented on #21889
closing as duplicate

[2021-08-19 11:47] #21889 closed

[2021-08-19 11:50] mmsbrggr commented on #21882
I just want to note that the bug does not exist in sympy's fork https://github.com/diofant/diofant

[2021-08-19 12:02] oscarbenjamin commented on #21899
There is a related issue for the nth integral: #16687

I think it would be reasonable to add a function for computing this or perhaps even a symbolic class to represent integrals of arbitrary/complex order. Are there useful identities that can be applied with this definition of the kth integral (for complex k) when working with it symbolically (i.e. without actually evaluating the integral or redu

[2021-08-19 12:13] oscarbenjamin commented on #21882
Yes, so the code that I'm suggesting to fix is actually the same in both SymPy and Diofant but this code runs as the final fallback for `solve_system` after `linsolve` and `solve_poly_system` have failed. SymPy's `solve_poly_system` only handles the zero-dimensional case but Diofant's also handles the positive dimensional case. It would definitely be good to improve SymPy's `solve_poly_system` as

[2021-08-19 12:14] oscarbenjamin commented on #21882
Why is it indeterminant? Do you mean that it would be non-deterministic?

[2021-08-19 13:19] donno2048 commented on #21899
I mean there is the known property that the differential of order `n` of the integral of order `z` is the integral of order `z - n`, other than that I have no idea.

[2021-08-19 13:40] smichr commented on #21882
yes

[2021-08-19 15:47] oscarbenjamin commented on #21882
How would it be nondeterministic? We should always get the same output for the same input.

These changes are all implemented in #21883 if anyone wants to try it out.

Basically on master it works like this:
[code]
The change I suggested changes the inner sort order so that symbols that are easier to sort for are solved first. Instead of `default_sort_key` we use an approximate measure of how easi

[2021-08-19 20:55] oscargus commented on #21892
An option, depending on the usecase, may be to do `expression.n().is_real` which will return `False`.

Sympy can determine correct `.is_real` for all the four terms, but cannot figure out if the result of the final addition is real or not.

[2021-08-19 23:09] smichr commented on #21892
This should be done automatically but see [here](https://github.com/sympy/sympy/issues/12327#issuecomment-335155480)

[2021-08-20 04:58] Leovmoreno opened #21905 "raise NotImplementedError("Equation not in exact domain. Try converting to rational") Error"
I'm trying to run the following code in the email and it works as I expect for FUCNTION = 0.06*x*y + 9/y + 22.5/x
The x and y value for critical points are FiniteSet((9.78716910292216, 3.91486764116886), (-4.89358455146108 - 8.47593707426474*I, -1.95743382058443 - 3.3903748297059*I), (-4.89358455146108 + 8.47593707426474*I, -1.95743382058443 + 3.3903748297059*I))

Analyzing critical point (9.78716

[2021-08-20 09:22] Geschiiii opened #21906 "Wrong Integration"
Hallo together, i want to report an erroneous Integral

    from __future__ import division
    import numpy as np
    import sys
    import matplotlib as mpl
    import matplotlib.pyplot as plt
    from scipy.optimize import least_squares
    from scipy.integrate import solve_ivp
    from sympy.plotting import plot
    from sympy import *
    init_printing()

    x,t = symbols('x t')

    y = (1

[2021-08-20 11:33] proy87 opened #21907 "nonlinsolve in real domain"
I want to solve this system in real domain: `6*x*(4*x**2 + y**6)=0,18*y**2*(x**2*y**3 - 1)=0`

`nonlinsolve([6*x*(4*x**2 + y**6),18*y**2*(x**2*y**3 - 1)], x, y)` just hangs.

[2021-08-20 11:36] oscarbenjamin commented on #21906
Both answers are correct as antiderivatives as the differ by a constant (`-log(-1) = -I*pi`). The answers give real values for different ranges of real `x` i.e. `log(x - 1)` is real for `x > 1` whereas `log(1-x)` is real for `x < 1`.

[2021-08-20 11:36] #21906 closed

[2021-08-20 11:47] oscarbenjamin commented on #21907
For some reason internally this introduces trigonometric expressions and the equations become:
[code]
I guess they come from `roots(..., trig=True)` somewhere.

It looks like what is slow is trying to factorise the polynomial over an extension field:
[code]
The `nonlinsolve` function always solves over the complex numbers but this system is a lot easier if solving over the reals:
[code]
The means

[2021-08-20 11:48] proy87 opened #21908 "incorrect result of nonlinsolve"
`nonlinsolve([(x**2 + 2*x - y**2)*exp(x), -2*y*exp(x)],x,y)` returns `(x,0)`, but clearly there are two solutions `(0,0)` and `(-2,0)`.

[2021-08-20 11:54] oscarbenjamin commented on #21905
The error is this:
[code]
If you do as the error message says and convert to rational then it works fine:
[code]
Maybe `nonlinsolve` should be able to handle this with floats though.

[2021-08-20 12:00] oscarbenjamin commented on #21908
This is already fixed on master
[code]
It was fixed in ec9397e269c1ea7496add29c19586a746b78ee38 from #21276.

This can be closed if a test is added for this system.

[2021-08-20 13:26] prathameshbhole commented on #21513
Just a simple suggestion until this issue is resolved

[code]

[code]

[2021-08-20 13:56] oscarbenjamin commented on #21513
This is a simple fix:
[code]
Probably `round` should be improved for the case of very large/small numbers though. Computing `10**-mag_first_dig` will be very slow for very small numbers and is not actually needed by `round`. Maybe `round` should not use this `_mag` function at all.

[2021-08-20 15:36] #21647 closed

[2021-08-20 15:54] oscarbenjamin commented on #20598
There is now a MPQ class that can be used:
https://github.com/sympy/sympy/blob/81f1401300956b27e5dff870c37022421c7e37bb/sympy/external/gmpy.py#L86

The optimisations that made SymPy's pure Python PythonMPQ class faster than the stdlib Fraction class have now been upstreamed to the stdlib. In Python 3.10 the PythonMPQ class can probably be removed and replaced with the stdlib Fraction class.

[2021-08-20 16:31] prathameshbhole commented on #21513
We can add one-time exception handling of TypeError: Invalid comparison of non-real zoo. where we can compute
```10**-mag_first_dig```.
So for small numbers previous version of code will work and when it raises a TypeError we can try to compute it only once and if it fails again then code will terminate by raising TypeError: Invalid comparison of non-real zoo

[2021-08-20 17:21] oscarbenjamin commented on #20598
Most of the suggestions in the OP have been implemented in #21016

1. There is a compatibility module that checks for gmpy2
2. The MPQ type is an alias for either gmpy2's mpq or the PythonMPQ pure Python class.
3. The poly domain QQ uses MPQ.

The remaining thing that needs doing is just to have Rational use `MPQ` internally. I expect that could lead to some big speedups for some operations.

[2021-08-20 17:30] oscarbenjamin opened #21912 "Deprecated `np.float` used in `test_sympify.py`"
The test function here uses e.g. `np.float` rather than `np.float64`:
https://github.com/sympy/sympy/blob/81f1401300956b27e5dff870c37022421c7e37bb/sympy/core/tests/test_sympify.py#L721-L740
That gives warnings with recent numpy releases:
[code]
Those should be changed to e.g. `numpy.float64`.

[2021-08-20 18:10] Kwanzoe commented on #21912
Could I be assigned to fix this?

[2021-08-20 18:13] ayushk7102 commented on #21912
Hello, I am submitting a pull request with the necessary changes

[2021-08-20 19:36] #21908 closed

[2021-08-20 20:40] #21355 closed

[2021-08-20 22:34] sylee957 opened #21917 "Returning idempotent most general unifier with `unify`"
SymPy's unify returns just an mgu (most general unifier), but not an idempotent mgu (mgu which has no variables on right hand sides that appears on left hand sides)
I think that this comes from the lack of the elimination steps both in the implemented algorithm and the reference (_Artificial intelligence : a modern approach_), but I'm not sure if this can be trivially implemented by applying the e

[2021-08-21 01:38] sylee957 commented on #21917
I just got to identify this as wrong results than correct but not optimal results.

[2021-08-21 15:15] praneethratna commented on #21576
So we have two possibilities of using `sinc` in place of sin , using sinc directly or rewriting sinc as piecewise function ie `sinx/x` by using sympy rewrite function, But I'm not sure of which one is a reasonable one to use. @oscarbenjamin

[2021-08-21 15:21] oscarbenjamin commented on #21576
Can you demonstrate what the different possibilities look like and what happens when manipulating them?

[2021-08-21 16:42] oscargus commented on #20097
This seems to work on the current master, so if a test is added it can be closed.

[2021-08-21 16:43] oscargus commented on #15350
Now this returns `FiniteSet(-1, 1)` so if a test is added, the issue can be closed.

[2021-08-21 18:05] praneethratna commented on #21576
The 1st possibility is using sinc directly in the exp() method , the output is:
[code]
But when someone wants the imaginary part in terms of sin , I'm not sure of how to do that, I tried using .rewrite(sin) but which gives an output `(sinh(1) + cosh(1))*sin(pi/2 + sqrt(29)) + 2*sqrt(29)*(sinh(1) + cosh(1))*sin(sqrt(29))/29*i + 3*sqrt(29)*(sinh(1) + cosh(1))*sin(sqrt(29))/29*j + 4*sqrt(29)*(sinh(1)

[2021-08-21 18:10] oscarbenjamin commented on #20097
Bisected the fix to 8cfb626c8fbd6031492f6b50a8c215d74a69ee7a from #21032 although that was subsequently improved by #21276

[2021-08-21 18:12] oscargus commented on #20097
I'm working on a PR with tests for this and whatever other issues I find that have been fixed elsewhere.

[2021-08-21 18:14] oscarbenjamin commented on #15350
Fix bisected to d237dcee792da526ee262d6f20211923ed0bca33 from #18324

[2021-08-21 18:20] oscargus commented on #19506
Current master gives a slightly different error message:
[code]

[2021-08-21 18:23] oscarbenjamin commented on #20097
Okay, so I removed the easy to fix label then

[2021-08-21 18:42] oscargus commented on #21157
Using `Rational` makes it work with `solveset`.
[code]

`solve` returns an empty set even now, but with `check=False` one gets
[code]

[2021-08-21 18:52] oscargus commented on #17880
Current master now gives an error for `solveset`:
[code]

[2021-08-21 18:57] oscargus commented on #17604
This seems to be fixed in current master:

[code]

[2021-08-21 19:02] oscargus commented on #17580
Seems like EmptySet is the correct result. I'll add a test and this can be closed.

[2021-08-21 19:04] oscarbenjamin commented on #17880
Potentially the error message could be improved but I think that it is correct to give an error for Poly. The input should be required to Expr or Relational and not Poly or PurePoly (same goes for `solve` which *does* work for `Poly` but shouldn't)

[2021-08-21 19:13] oscarbenjamin commented on #17580
This was fixed in 65b80818e0515b2967e4a93a6604a23d7b51e11e from #18426.

That suggests that the buggy result is still generated internally but then simplified away by `Intersection`.

The old result was this:
[code]
After #18426 that intersection gives the empty set:
[code]
Wherever the `oo*sign(zoo)` comes from should probably fixed not to return that rather than depending on `Intersection` to fi

[2021-08-21 19:31] oscargus commented on #17566
In current master it produces `FiniteSet((log(3 - 2**y)/log(2), y))` which may not be correct, but at least no recursion error.

[2021-08-21 19:33] oscargus commented on #15024
In current master it produces `FiniteSet(Integer(-5))`, so I'll add a test and close this.

[2021-08-21 19:52] praneethratna commented on #19774
Can this be fixed by adding ovverriden evalf() method in exp Class ? @oscarbenjamin

[2021-08-21 19:56] oscargus commented on #17580
OK! I'll add the test but will not close this.

[2021-08-21 20:01] oscargus commented on #16643
Point 3 is related to #16648

[2021-08-21 20:54] oscargus commented on #14642
This works in current master and returns:

[code]

(Also works symbolically if 0.5 is replaced by `S.Half`, but quite long.)

Will add a test and close.

[2021-08-21 21:01] oscargus commented on #14541
Works in current master. Will add a test and close.

[2021-08-21 21:03] oscarbenjamin commented on #19774
I think that the problem is more general than just the `exp` class:
[code]
Perhaps there is a problem with `Function.evalf` or something else in the `evalf` module.

[2021-08-21 21:05] oscargus commented on #13905
Current master returns `{x │ x ∊ ℂ ∧ (x < 2)}` which seems less than ideal (as complex x will not work in the comparison.

[2021-08-21 21:08] oscarbenjamin commented on #14541
Fixed in 9d0625bb7fd2e5a31da8642fb52ad4804773f302 from #21071

The PR notes that further improvements are possible: https://github.com/sympy/sympy/pull/21071#issuecomment-798884294

[2021-08-21 21:09] oscargus commented on #13625
`solveset` now accepts the input, but returns almost the same expression:
![image](https://user-images.githubusercontent.com/8114497/130334819-5e5a88ba-665b-4ce3-b1ca-470d4d3d7b3d.png)

[2021-08-21 21:14] oscargus commented on #13396
But
[code]
will always to real, right? (As it is an intersection with Reals.)  Not sure if that is an empty intersection though...

[2021-08-21 21:20] oscarbenjamin commented on #13625
The original issue is with `solve` rather than `solveset` and is still valid on current master.

[2021-08-21 21:21] oscargus commented on #13396
Mathematica returns {{y -> 0}, {y -> -I x}, {y -> I x}} for the original example.

[2021-08-21 21:26] oscarbenjamin commented on #13625
Using `solve(..., simplify=False, check=False)` gives an answer reasonably quickly but it's an extremely complicated answer. I think that's because it comes from the quartic formula.

[2021-08-21 21:30] oscargus commented on #13203
@oscarbenjamin then you set y to be positive? In that case it should be correct since the first piece will always be valid.

Setting y to real gives, a bit surprising,
[code]
which seems incorrect since x should still be allowed to be complex as the comparison is with y (which is already real).

Using `S.Reals` gives `{-2, 3}` independent of if y is real or not.

[2021-08-21 21:32] oscarbenjamin commented on #13625
The equation is this:
[code]
We can replace `sin(theta)` and `cos(theta)` with symbols `st` and `ct` and then introduce a new equation `st**2 + ct**2 = 1` to turn this into a polynomial system:
[code]
Since this is basically an arbitrary symbolic quartic for `ct` the solutions will come out messy.

The best thing for a situation like this would be some kind of `RootOf` object. The quartic formula

[2021-08-21 21:34] oscargus commented on #12345
Current master gives:
![image](https://user-images.githubusercontent.com/8114497/130335308-a36261d8-cc83-4fcd-8510-14eb9638ea1f.png)

[2021-08-21 21:49] oscargus commented on #12032
In current master on my I7 laptop it takes about 25 ms. I'll add a test and close this.

[2021-08-21 21:52] oscargus commented on #10876
Works on current master. I'll add a test that closes this.

[2021-08-21 21:57] smichr commented on #17566
*is* not correct: if it were true for all `y` then the last output below should be 0,
[code]

[2021-08-21 21:58] oscargus commented on #10226
Current master returns `ConditionSet(x, Eq(x**5 + x - sqrt(2), 0), Reals)` so better than exception.

[2021-08-21 22:00] oscargus commented on #10217
Solve now (current master) returns `[-pi/2, 3*pi/2, pi + asin(1 - 2*pi), -asin(1 - 2*pi)]` (not the original issue, but still a bit notable).

[2021-08-21 22:03] oscargus commented on #10085
Added test that will close this.

[2021-08-21 22:05] smichr commented on #17566
But that can be fixed later and the test is a place holder for the test that can be used when the issue is fixed. So I will commit this as is.

[2021-08-21 22:05] oscargus commented on #10068
Current master gives:
![image](https://user-images.githubusercontent.com/8114497/130335935-693e10cc-eb6c-4f28-b1a0-51fa89daac9a.png)

[2021-08-21 22:06] #15024 closed

[2021-08-21 22:06] #15350 closed

[2021-08-21 22:06] #16876 closed

[2021-08-21 22:06] #16877 closed

[2021-08-21 22:06] #17565 closed

[2021-08-21 22:06] #17604 closed

[2021-08-21 22:06] #18359 closed

[2021-08-21 22:06] #20097 closed

[2021-08-21 22:33] oscarbenjamin commented on #13396
I don't know why I didn't spot before that this is a very simple equation. The equation is this:
[code]
and we want to solve for `y`. The exponential function is nonzero for any complex argument so it can be factored out. Then the solution is `y=0` if the parameter `x` is not zero (and y = anything if x is zero).

How does Mathematica get `y -> I x` as a solution?
[code]
That's only a solution if

[2021-08-22 08:32] oscargus commented on #18586
(Exactly) the same issue as in #18511. Closing this as it is newer.

[2021-08-22 08:32] #18586 closed

[2021-08-22 10:31] #18460 closed

[2021-08-22 10:47] oscargus commented on #20151
If computations with Iverson Brackets should be supported, it is very similar to Zhegalkin polynomials requested in #20262

I'd say introducing the Iverson Bracket as such (making a class, printing correctly) is not very hard, supporting actually operating on it (without having to rewrite to Piecewise) is significantly more work. Currently, as far as I can recall, there are some issues with DiracD

[2021-08-22 10:51] proy87 commented on #21907
`nonlinsolve([exp(x) - exp(y), -x*exp(y)],x,y)` gives `FiniteSet((0, ImageSet(Lambda(_n, 2*_n*I*pi), Integers)))`. How do I solve it on real domain, or filter the found solutions?

[2021-08-22 11:02] proy87 commented on #21890
Another recursion error is `nonlinsolve([(1 - 4*x**2)*exp(-2*x**2 - 2*y**2), -4*x*y*exp(-2*x**2)*exp(-2*y**2)], x,y)`.

[2021-08-22 11:02] oscarbenjamin commented on #21907
The `nonlinsolve` function always works over the complex numbers. It returns sets though which should make it possible to use an intersection with the reals. However in the case of underdetermined systems the sets returned are not proper sets because e.g. in this example you have a set containing a single element which is a tuple with first element zero and the second element an imageset. Really t

[2021-08-22 11:08] oscargus commented on #19687
Better discussion in #18388

[2021-08-22 11:24] oscargus commented on #21651
The problem arises since
[code]
returns `2/2**k` so for some reason the floor is missing there.

(Summation replaces the original variable with a dummy variable with additional assumptions, such as integer, and in this case, positive.)

[2021-08-22 11:31] oscargus commented on #21651
This doesn't happen for the equivalent `floor(2**(-k+1))`.

[2021-08-22 12:55] oscargus commented on #20953
This seems to be solved by #21911 when that is finished.

[2021-08-22 14:37] oscargus commented on #14718
I think that #15939 fixes this, so please have a look there.

[2021-08-22 15:30] oscargus commented on #21315
The reason seems to be that the order of the expression is `O(1, (_x, oo))`, and,  hence, the p_series_test (x**p) returns p = 0 and hence it is deemed to not be convergent. So more or less does SymPy think that the function behaves as a constant near oo and hence is not convergent.

So the `O` method should be changed to return something else.

[2021-08-22 16:17] mgeier commented on #21329
I would like to add a few notes because it took me quite a while to understand how to replace my previous usage of `get_segments()`.

Previously, the method `get_points()` always returned uniformly sampled points, which meant that some functions were not plotted correctly when using `get_points()` to plot with Matplotlib.

To avoid this problem, the method `get_segments()` could be used, which use

[2021-08-22 16:45] oscarbenjamin commented on #21329
I don't understand why this is deprecated. Is it not possible to have the `get_segments` function continue to work after the other changes?

Also the release note does not mention anything being deprecated (and is not very informative).

@Davide-sd is it possible to restore `get_segments` before the next release (which is very soon)?

[2021-08-22 17:33] Davide-sd commented on #21329
`Line2DBaseSeries.get_segment` has been deprecated. That function has been moved into "MatplotlibBackend.get_segments`, as written in the [deprecation warning message](https://github.com/sympy/sympy/blob/master/sympy/plotting/plot.py#L609).

Up to Sympy 1.8, `Line2DBaseSeries.get_segments` **always** returns data formatted in such a way to be used by Matplotlib's `LineCollection`, irrespective of

[2021-08-22 18:23] oscarbenjamin commented on #21329
The function looks fairly straight-forward. Can we not just leave it there? Why should someone using that function not use it?

[2021-08-22 18:27] oscarbenjamin commented on #21329
There needs to be a reason for deprecating something. What is gained by discouraging use of the function?

[2021-08-22 18:29] #21912 closed

[2021-08-22 19:27] Davide-sd commented on #21329
1. Better code clarity: there is no reason for a series class to be coupled to a specific backend. Series should generate data, backends should use it. If `MatplotlibBackend` requires data to be formatted in a specific way, it should be done by `MatplotlibBackend` and not by `Line2DBaseSeries`. 10 years ago Matplotlib might have been the single best library, nowadays there are many other choices.

[2021-08-22 19:59] oscarbenjamin commented on #21329
I still don't see any reason to deprecate this. There has to be some problem that is solved that is nontrivial to solve in a backwards compatible way.

If incompatible changes are needed to make way for major improvement to sympy's plotting module then I won't oppose them. This just seems like a gratuitous change to me though.

I think that you need to take responsibility for the changes that you

[2021-08-22 20:12] oscargus commented on #21311
[code]
So this seems to have been fixed?

[2021-08-22 21:35] Davide-sd commented on #21329
To me, it appears like a thoroughly justified change. Here, there are two ideas clashing with each other:
1. keeping the plotting module the way it is for back-compatibility, thus blocking anyone who wants to improve and build on top of it.
2. allowing the plotting module to be logically improved, even if that's mean sacrificing some back-compatibility. After 10 years and an unreasonable amount of

[2021-08-22 21:36] vr050714 commented on #21576
Maybe just direct use of `Picewise` instead of `sinc` can be a solution to the problem. There is an example:

[code]

[2021-08-22 22:05] oscarbenjamin commented on #21329
As I said above I don't oppose incompatible changes that are *needed* in order to make *major* improvements to the plotting module. However unless I am missing something this particular change does not actually help anything.

The function we are talking about is here:
https://github.com/sympy/sympy/blob/de446c6d85f633271dfec1452f6f28ea783e293f/sympy/plotting/plot.py#L604-L614
I don't understand w

[2021-08-22 22:38] #19661 closed

[2021-08-23 06:34] praneethratna commented on #21576
The Piecewise function that you have mentioned `Piecewise((q.b, phi.is_zero==True), (q.b * sin(phi)/phi, True))` is indeed the `sinc` function if we remove the `q.b` inside the Piecewise function.

[2021-08-23 09:07] oscargus commented on #21823
Should `Partition` also print as `{}`? It seems to automatically do that right now... (Inherited from `FiniteSet`)

[2021-08-23 10:24] oscargus commented on #18400
Not setting any assumptions on n gives the (actually slightly better):
`ValueError: cannot tell if Range is null or not`

With `n = Symbol('n', positive=True, integer=True)` we still get
`ValueError: invalid method for symbolic range`

What about changing `n.is_Integer` to `n.is_integer`, possibly with the addition of `n.is_positive` or `n.is_nonnegative`?

That will produce: `ImageSet(Lambda(x, 2

[2021-08-23 17:14] proy87 opened #21934 "AtributeError in atoms for Matrix"
`Expr(Matrix([1,2]),Matrix([3,4])).atoms()` raises `AtributeError`.

[2021-08-23 17:20] oscarbenjamin commented on #21934
The `Expr` class does not automatically sympify its args:
[code]
However the Expr class is not intended to be used like this. It is really an abstract base class so you shouldn't try to instantiate it.

[2021-08-23 17:31] proy87 commented on #21934
@oscarbenjamin, just an example.
If I create some custom class that inherits `Expr`, I will get the same error.
For example, if I need a set of matrices wrapper.

Moreover, `Add(Matrix([1,2]), Matrix([3,4]), evaluate=False)` doesn't respect the `evaluate` flag. If it did respect this flag, there would be again the `AttributeError`.

[2021-08-23 17:41] oscarbenjamin commented on #21934
A subclass of Expr needs to sympify its args:
[code]

[2021-08-23 18:13] smichr commented on #18400
[code]

[2021-08-23 18:17] mgeier commented on #21329
The only issue I had was understanding the changed situation. It took me quite a while, so I thought I'll offer a few notes in https://github.com/sympy/sympy/issues/21329#issuecomment-903293003 to help others who might find themselves reading this issue because it is mentioned in the deprecation warning.

I thought it did. I used "IIRC" because I wasn't sure. Turns out I did *not* remember correct

[2021-08-23 19:25] proy87 commented on #21934
@oscarbenjamin , got it!

[2021-08-23 19:25] #21934 closed

[2021-08-23 20:51] #20752 closed

[2021-08-24 00:49] oscarbenjamin opened #21935 "Segfault from llvmjitcode test in Python 3.9"
This test from the optional dependency tests fails with a segfault under Python 3.9:
[code]
That gives:
[code]
The test needs `llvmlite` to be installed (`pip install llvmlite`).

_Originally posted by @oscarbenjamin in https://github.com/sympy/sympy/issues/21885#issuecomment-903192133_

[2021-08-24 00:50] oscarbenjamin commented on #21935
CC @markdewing

[2021-08-24 07:19] oscargus commented on #18400
Yes, adding `is_extended_nonnegative` to #21932 makes sense.

[2021-08-24 07:37] Upabjojr commented on #21494
`expr_free_symbols` is meant to represent indexed objects such as `MatrixElement` and `Indexed` as free symbols. Currently `.free_symbols` keeps iterating over their indices.

If I have `A[i, j]` in an expression, I would like to have a way to return `{A[i, j]}` as a free symbol, and not `{A, i, j}`, which by itself doesn't make sense.

Unfortunately much of the code has already been written in or

[2021-08-24 07:38] warm-ice0x00 opened #21937 "Factoring semiprimes with close factors"
Using examples from [Sage Thematic Tutorials](https://doc.sagemath.org/html/en/thematic_tutorials/explicit_methods_in_number_theory/integer_factorization.html):
[code]
`a` has 103 digits, and `b` has 55 digits.
On my computer, `a` can be factored in a few seconds. However, factoring `b` takes about an hour.
The [integer factorization calculator](https://www.alpertron.com.ar/ECM.HTM) can factor bot

[2021-08-24 09:50] bjodah commented on #18916
OK, so this is hopefully resolved in gh-21546, feel free to re-open / open a new issue if I'm mistaken.

[2021-08-24 09:50] #18916 closed

[2021-08-24 09:54] bjodah commented on #21935
I think LLVM IR is a bit of a moving target, so I'm guessing llvmlite [might have gotten a bump](https://github.com/numba/llvmlite/blob/257f77f7417e5fbeea3aa3f7eaba176aec482fa9/CHANGE_LOG#L17)? Perhaps we need versioned printers (e.g. LLVM11JitPrinter, LLVM12JitPrinter, ...).

[2021-08-24 10:01] bjodah commented on #11577
Borrowing this issue to write down some potential test cases/demos for docs, for future improvements of CSE, here is one case:
[code]
Probably there's some obvious choice of callbacks to pass in as `optimizations` here, but I can't figure out what it would be (e.g. `.factor()` is not included in `'basic'` but it's not enough here). I'll volunteer to update the docs with an example if anyone knows

[2021-08-24 10:25] 0sidharth opened #21938 "Series raises an error at infinity for an example which can be solved by aseries"
As the title suggests -
[code]

If `aseries` is able to calculate the answer, `series` should call it and return that.

[2021-08-24 11:35] oscarbenjamin commented on #11577
Something like https://github.com/sympy/sympy/issues/19386 might help for that example.

[2021-08-24 14:34] oscargus commented on #18400
Now I think #21932 can be checked. It will throw an exception for the right hand side of @smichr's example if n is not integer and nonnegative.

[2021-08-24 18:57] #18400 closed

[2021-08-24 20:55] asmeurer commented on #19774
I'm not sure if the Function.evalf is calling evalf recursively at all, at least when the expression doesn't evaluate to a single number. I remember the code for partial evaluations being kind of hacky and not well developed the last time I looked at it.

[2021-08-24 20:57] asmeurer commented on #19774
This reminds me of https://github.com/sympy/sympy/issues/6974#issuecomment-391583810. Even if the issues end up being unrelated, I'm sure the underlying design problems aren't. There's also https://github.com/sympy/sympy/issues/20479.

[2021-08-24 21:25] #21651 closed

[2021-08-24 23:06] oscarbenjamin commented on #21329
@Davide-sd I don't oppose deprecating this if there is a good reason. It's also possible that it just doesn't matter that much anyway.

Honestly I don't know this code so well so it's not easy for me to judge why a change is needed or whether a change is significant or not. That's why I asked about the reasons for the change above (I still don't think that you have answered that question).

As you

[2021-08-24 23:20] oscarbenjamin commented on #21721
Some of the problems mentioned above are fixed but some remain. The part that was identified as a regression has been fixed:
[code]
I'm removing the 1.9 milestone.

[2021-08-25 01:34] mkoeppe commented on #21884
FWIW, in Sage we have considered NEP 29 (https://trac.sagemath.org/ticket/30384) but haven't really adopted it (yet). As of Sage 9.4, we happen to be in sync with it in supporting Python >= 3.7; but I don't see us dropping support for Python 3.7 much earlier than its EOL unless numpy/scipy force our hand.

[2021-08-25 01:37] vnikoofard opened #21940 "Solved ODE by Sympy doesn't satisfy the given initial condition"
I'm trying to solve the following simple ODE using `dsolve` function in Sympy

    v = sp.Function('v', real=True)
    t, g, m, c = sp.symbols('t g m c', positive=True, real=True)
    eq = sp.Eq(v(t).diff(t), g - c/m*v(t)**2)
    sol = sp.dsolve(eq, v(t), ics={v(0):0})

The result isn't as simple as expected but the strange point is that if you check the solution to insure that the given initial c

[2021-08-25 01:53] mkoeppe commented on #13430
New discussion in https://groups.google.com/g/sympy/c/HwOsl8bFw-c/m/RDresNFfBAAJ

[2021-08-25 02:09] oscarbenjamin commented on #13430
Having just read this issue I'm unclear what the "issue" is. One interpretation from the above is that SymPy should expunge all `_sage_` methods and then not attempt to test Sage integration...

Currently I don't think there is any Sage integration testing on SymPy's side. When moving from Travis to Actions I tried but it seemed difficult to set up.

[2021-08-25 02:12] mkoeppe commented on #13430
I'll prepare the PR for Sage integration testing on GH Actions now. When it works, we can test a sympy branch that just expunges all _sage_ methods.

[2021-08-25 02:20] certik commented on #13430
@mkoeppe thank you for all the work on this. We really appreciate it.

[2021-08-25 02:23] oscarbenjamin commented on #13430
Yes, thanks indeed for your help with this. It has been something that I wanted to do for a while but hasn't happened because I don't actually know how to do it!

[2021-08-25 02:49] mkoeppe commented on #13430
This will take about 3.5 hours to run through

[2021-08-25 05:06] jessegrabowski opened #21942 "Algebraic re-arrangement of exponential equations"
Sympy version: 1.7.1
Environment: Google Colab
Python version: 3.7

I am trying to use Sympy 1.7.1 in a google Colab environment running python 3.7 to automate some tedious algebra in macroeconomic models, and I'm running into an issue when trying to re-arrange equations of the form:
[code]
With parameters 0 < a < 1, and p > 0, p != 1 given, and w, r > 0. I would like to be able to re-arrange this

[2021-08-25 08:23] asmeurer commented on #21884
The next version of NumPy will drop Python 3.7 support. I'm not sure when exactly it will be released, but I think it will be at some point before the end of the year.

[2021-08-25 09:00] sidhu1012 commented on #21884
I think we should adopt NEP 29 because numpy and all are also dropping older python versions plus it's the best way to force users to use newer python versions if they want to use latest sympy release since and as @oscarbenjamin said we would be running test suite on lesser versions.
It's a win-win situation I guess.

[2021-08-25 11:21] oscargus opened #21943 "Comparison of Union of sets with identical srepr is False"
From #21925
[code]
The following comparison gives `True`, but comparing the result and `sol` directly gives `False`

[2021-08-25 11:27] oscarbenjamin commented on #21494
This deprecation has not been released yet. There needs to be a clear decision before the imminent release.

The points raised by @smichr are good ones but an alternative to deprecation would be fixing the bugs and completing the implementation.

Generally though I would prefer not to keep adding attributes and methods to Expr which already has far too many. This would be better as a public functi

[2021-08-25 11:35] oscarbenjamin commented on #21943
The args are in a different order:
[code]
The output of `srepr` should not be the same for both:
[code]

[2021-08-25 11:57] oscargus commented on #21943
OK! Probably these are the culprit lines:
https://github.com/sympy/sympy/blob/63b8665369344ed7a63e3a9f9b41f27ed76fa809/sympy/printing/repr.py#L179-L183

While sorting makes sense in all other printing, it seems like it shouldn't be used for repr/srepr...

[2021-08-25 12:14] oscarbenjamin commented on #21943
Another problem is that `evaluate=False` is actually needed to create expressions with out of order args:
[code]
I'm not sure how to check whether `evaluate=False` is needed apart from `Add(*args).args == args`.

[2021-08-25 12:39] oscargus commented on #21943
Yes, but
[code]
so as long as it prints in a way that can be used without any further sorting it shouldn't really be a problem here. To me it seems like `srepr(expr1) == srepr(expr2)` should give `expr1 == expr2`, not necessarily that the arguments are returned in the same way to what is entered.

[2021-08-25 12:50] oscarbenjamin commented on #21943
To me the important identity is (assuming imports):
[code]
That is `srepr` gives a textual representation that preserves complete structural information to rebuild the expression exactly.

Currently:
[code]

[2021-08-25 14:07] oscargus commented on #21943
Personally, I'm not so worried about the `evaluate=False` case as this is something that will in general be very tricky to change (just see all the printing issue) and find it much more relevant that the regular use case works rather than trying to bypass some of the features... However, that case should also work by removing the use of sets (if any) and any type of sorting of arguments in the rep

[2021-08-25 14:09] oscargus commented on #21943
I mean, just look at this:
https://github.com/sympy/sympy/blob/63b8665369344ed7a63e3a9f9b41f27ed76fa809/sympy/core/add.py#L24-L27

Argument sorting is well built in, even for this. But printing the srepr so that it can be exactly recreated seems like a small step.

[2021-08-25 14:46] oscarbenjamin commented on #21943
I agree. The number one thing that printing should do is show when expressions are not the same. This is especially important for `srepr` because it is supposed to be a completely unambiguous printer.

[2021-08-25 15:54] smichr commented on #21494
Please get rid of the current implementation for all the reasons I cite. And perhaps create a new method `free_expressions` (after thorough discussion) that does not conflate symbols and non-symbols.

[2021-08-26 14:16] bjodah opened #21955 "Printing of UnevaluatedExpr needs parenthesis around Add terms"
Floating point "add" is non-associative, i.e. `(x+y)+z` often differs from `x+(y+z)`. In SymPy `Add` (re)orders its arguments (for good reasons), but for representing e.g. an algorithm in finite precision this creates a problem (see e.g. [Kahan summation on wikipedia](https://en.wikipedia.org/wiki/Kahan_summation_algorithm)).

Typically we use `UnevaluatedExpr` for situations like this:
[code]
but

[2021-08-27 13:25] Upabjojr opened #21960 "Failure to recognize traces of Hadamard product when converting array expression to matrix expression"
The code below reproduces the problem:

[code]

In both examples, the trace of the Hadamard product is not recognized and remains an array expression, rather than being converted into a matrix expression.

[2021-08-28 07:16] sidhu1012 opened #21964 "Make `Body` and `ReferenceFrame` analogous"
`Body` and `ReferenceFrame` are analogous in dynamics, and all the joint classes , jointsmethod and class body follow it, but rest of physics module doesn't.

Example -

[code]

So where ever ReferenceFrame works on being passed as arg, passing body to same arg should also work.

It can be done simply by -
[code]

cc - @moorepants

[2021-08-28 07:22] sidhu1012 opened #21965 "Add `orient` functions to `Body`"
Since `Body` and `ReferenceFrame` are analogous , all the orient functions should be added to class body so that we can simply do:-

[code]

cc - @moorepants

[2021-08-28 10:11] mohajain commented on #21964
I would like to work on this.

Where do I have to add this line?

[2021-08-28 10:16] sidhu1012 commented on #21964
In physics module wherever we can pass `ReferenceFrame`, we should be able to pass `Body`.

[2021-08-28 11:12] mohajain commented on #21964
The physics module is really vast, I'm unable to find such functions. Please guide me through, I'm new to sympy.

[2021-08-28 11:17] sidhu1012 commented on #21964
The one's that I remember are Physics.mechanics.functions module(Inertia and all) , physics.mechanics.vector.frame (orient functions) and many more.

All of the functions would be in mechanics and vector sub module.

[2021-08-28 13:50] mohajain commented on #21964
Thanks a lot!
Do I have to change these lines
[code]
to something like
[code]
as well?

[2021-08-28 13:53] mohajain commented on #21964
Thanks a lot!
Do I have to change these lines
[code]
to something like this
[code]
as well?

[2021-08-28 14:28] sidhu1012 commented on #21964
Only change required is to add seperate check if frame's a body before checking frame.

[2021-08-28 14:55] moorepants commented on #21964
It would be nice if duck typing worked, i.e. add all methods to body that mimic ReferenceFrame.

[2021-08-28 14:59] sidhu1012 commented on #21964
Yes that's the end goal,  Body should have everything possible that Particle, Rigid body and Reference Frame has.

[2021-08-28 18:47] smichr opened #21968 "failure in master?"
I saw the following in the most recent run of #21903

[code]

[2021-08-28 18:51] mostlyaman commented on #21965
Hello, I would like to work on this issue.

 I understand the changes required. I need to implement the 7 `orient` functions namely `orient_axis`, `orient_explicit`, `orient_body_fixed`, `orient_space_fixed`, `orient_quaternion`, `orient` and `orientnew` from `ReferenceFrame` to `Body`.
I would like to ask about the docstrings. I believe they also need to be updated when transferred to Body. Like

[2021-08-29 04:18] sidhu1012 commented on #21965
It should work with both frame and body.

[2021-08-29 06:37] ganeshswaroopavl opened #21969 "orient function"
def orient_axis(self, parent, axis, angle):
        "This body's orientation is set with respect to a
        parent body by rotating through an angle about an axis fixed
        in the parent body that this Body will be rotated relative to."

[2021-08-29 06:40] sidhu1012 commented on #21969
What's the issue here? Can you please be more specific.

[2021-08-29 13:12] xurq5953 opened #21970 "count_ops() retruns wrong result on logic expressons"
[code]

it print 3 not 5

[2021-08-29 13:16] xurq5953 opened #21971 "subs is not working in logic expression"
subs is not working in logic expression, for a long expression it only replacement the first match subexpression

[2021-08-29 13:46] sidhu1012 commented on #21971
It's better to share code snippet in issue.

[2021-08-29 13:49] xurq5953 commented on #21971
[code]

It only subs the first match one , for replace() is the same.

[2021-08-29 14:53] oscargus commented on #16318
I close this as we currently do not have a good idea how to systematically deal with coverage.

[2021-08-29 14:53] #16318 closed

[2021-08-29 14:59] oscargus commented on #21971
I can confirm it. Here is a simpler example:

[code]
returns
[code]

To compare with
[code]
which returns
[code]

[2021-08-29 15:06] oscargus commented on #21971
Probably related to #14836 (in the sense that if one is solved, probably so is the other although not the same problem).

[2021-08-29 15:14] oscargus commented on #21970
Look at t4. It is automatically evaluated/simplified to `(f & h) ^ (g & h)`, so 3 is correct.

Compare with `a & a & a & a & a`.

[2021-08-29 15:14] #21970 closed

[2021-08-29 15:45] oscargus commented on #18982
I have added this as a method `gateinputcount` in #21973. I can see the usefulness as this is often used as a cost measure for the complexity of a digital circuit.

[2021-08-29 15:46] #7950 closed

[2021-08-29 15:46] #8373 closed

[2021-08-29 15:46] #18645 closed

[2021-08-29 15:46] #19114 closed

[2021-08-29 15:46] #19822 closed

[2021-08-29 15:46] #20870 closed

[2021-08-29 18:53] mkoeppe commented on #13430
Fixed in #21958.

[2021-08-29 19:06] oscargus commented on #21971
I added a fix in #21976 that should work for `And`, `Or`, and `Xor`.

[2021-08-29 20:59] vr050714 commented on #21576
That's true unless the expression with `sinc` will be simplified further. For example:
[code]
In the example the `ex3` expression cannot be simplified despite that `a` is a real positive value.

[2021-08-29 21:12] oscargus opened #21978 "Assumptions on domains and intervals"
[code]

It seems like it can be useful for this to actually return something. Not sure if this breaks the idea of what Intervals and domains are for, but, e.g., `function_range` only works for ranges that are finite and real, so being able to test that easily should be useful.

[2021-08-29 21:29] oscargus commented on #21145
This seems fixed in current master.

[2021-08-30 07:11] praneethratna commented on #21576
It will not be simplified but you can rewrite in terms of `sin` using the `.rewrite()` function.

[2021-08-30 07:45] abhyareddy opened #21980 "Improvements in Maths and Sciences"
Mathematics and Sciences are much more fun when you understand their importance in real life. Showing few real life examples alongside the serious theories and problems can attract more reach. But too many examples are not ideal too. Any one could help add the info.

[2021-08-30 07:47] abhyareddy commented on #21980
I can help sympy improve in all the subjects if you think it's worth it.

[2021-08-30 07:55] moorepants commented on #21980
More diverse examples for the documentation is welcome.

[2021-08-30 07:56] abhyareddy commented on #21980
Thank you. Am I allowed to help?

[2021-08-30 07:57] abhyareddy commented on #21980
@moorepants

[2021-08-30 08:01] moorepants commented on #21980
Anyone can help improve SymPy. See our introduction to contributing to get started: https://github.com/sympy/sympy/wiki/introduction-to-contributing

[2021-08-30 08:10] oscargus commented on #20246
It has been pointed out that `DFT(3).as_explicit()` is not identical to `mdft(3)` as `DFT(3).as_explicit()` is not mutable. To get a mutable matrix use `DFT(3).as_mutable()`.

[2021-08-30 08:20] Upabjojr opened #21982 "Trace should have .as_explicit( ) method"
Trace objects are not matrix expressions. Anyways, it would be helpful it they implemented the `.as_explicit()` method of matrix expressions, as it would be comfortable to easily express traces of matrix expressions in an explicit form.

[2021-08-30 08:22] Upabjojr opened #21983 "Trace normalization should take into account Hadamard products"
Trace normalization should be aware of the property of Hadamard products in order to return a common form in case of traces containing Hadamard products (especially the case of a trace of a Hadamard product expression).

[2021-08-30 12:20] mostlyaman commented on #21965
@sidhu1012  I am new to sympy physics module. I have read quite a bit of documentation.  To my understanding, Body objects have a reference frame. So, to use orient functions on a body is equivalent to operating on its reference frame. So, from your example above.
[code]
Can this be done like this?
[code]
Does this make sense to you?

[2021-08-30 12:23] moorepants commented on #21965
Let's now add `orient` and `orientnew` as I'd like to see those no longer used (we can de-emphasize or hide them in the documentation).

[2021-08-30 13:07] Leone20010 opened #21984 "ValueError: list.remove(x): x not in list occurs in nonlinsolve"
ValueError: list.remove(x): x not in list occurs trying to solve with nonlinsolve a system of non linear equations.

Full traceback:
[code]
Code:
[code]
nonlinsolve works fine only for some values of ka and C0. In particular I observed: if ka is >100 C0 cannot be <10^-1. If ka less than 1 there's is a sort of relation that can make C0 smaller. It seems that the difference between C0 and ka matters

[2021-08-30 13:40] oscarbenjamin commented on #21978
The (old) assumptions system should only be used for expressions (Expr) representing number-like quantities. See here:
https://docs.sympy.org/dev/guides/assumptions.html#interpretation-of-the-predicates

See also #19474

What you want here is probably something involving `is_subset` i.e.:
[code]

[2021-08-30 15:33] praneethratna commented on #21982
Could you show an example of expected output if this is implemented?

[2021-08-30 15:44] oscarbenjamin commented on #16318
I think we do want coverage. I didn't enable codecov in Actions just partly because I didn't have time but also because it seemed to be unreliable and I wanted to know if there was a better alternative.

One approach would be to do something like the benchmarks job on Actions and then use something like `diff-cover` to produce a report for the "comment on PR" Actions workflow.

It's also possible

[2021-08-30 16:08] oscarbenjamin commented on #21576
It isn't necessary to quote the whole of a message when replying to it - the other messages can be seen above so quoting is just useful to clarify which part of which message you are replying to.

It would be good to have improvements in simplify so that things like `x*sinc(x)` can be simplified. Also simplifying Piecewise could be improved:
[code]
It should be possible for simplify to figure out

[2021-08-30 16:10] oscarbenjamin commented on #21980
I don't think that we need to keep an issue open for this unless there is a specific proposal for what to add. Otherwise this can just be discussed on the mailing list or elsewhere but open ended issues like this are problematic because they will never be closed.

[2021-08-30 16:42] oscarbenjamin commented on #21968
Note that the failure was with Python 3.10rc1 which might be significant since it has recently been added to CI.

I've installed 3.10rc1 locally and I can't reproduce this failure after 100 runs of the test.

Unfortunately the test script does not have good control of random seeds so it is not usually possible to reproduce random failures after seeing them in CI. Ideally the test script would rese

[2021-08-30 18:04] praneethratna commented on #21982
The _eval_rewrite_as_sum() method in Trace class returns the trace of a matrix expression in an explicit form , isn't that so?
[code]

[2021-08-30 18:18] praneethratna commented on #21576
I feel `sin` is better over `sinc` since the formula for exp() of a Quaternion is `e^a(cos||v|| + v/||v||*sin||v||)` and a output of `sinc(||v||)` instead of `sin(||v||)/||v||` is not what someone expects.

[2021-08-30 19:21] Upabjojr commented on #21982
Explicit on a trace should work as if by calling `Trace(trace.arg.as_explicit()).doit()` on the trace `trace`

[2021-08-30 20:16] oscarbenjamin commented on #20308
I can't reproduce this. I tried installing jupyter_contrib_nbextensions 0.5.1 but it still works fine for me.

Can you try creating a virtual environment and installing jupyter and sympy in there to see if you get the same problem without having all the other packages installed?

[2021-08-30 20:49] alijosephine commented on #19144
Looks like for `Expr` input, complex/imaginary solutions are included but for `Eq` input, they're not. Please see the results for the below code I tried to run.

`x = Symbol('x')`
`y = Symbol('y')`
`syms = [x,y]`
`eqs_expr = [y**2 + 1, x + y - 1]`
`eqs_eq = [Eq(e, 0) for e in eqs_expr]`

`nonlinsolve(eqs_expr, syms)` ---> {(1 - I, I), (1 + I, -I)}

`nonlinsolve(eqs_eq, syms)` ---> {(1 - y, y)}

Ca

[2021-08-30 21:58] oscargus commented on #21982
Side note: "correct" way to rewrite is `trace(A*y).rewrite(Sum)`.

[2021-08-30 22:57] #21882 closed

[2021-08-30 23:02] oscarbenjamin commented on #21882
@mmsbrggr Please try out the current SymPy master branch after #21883 was merged.

[2021-08-31 04:31] sidhu1012 commented on #21965
This can simply be done by
[code]

[2021-08-31 07:48] Upabjojr commented on #21982
Explicit is not meant to be a writing as sum, it is a way to get explicit matrix elements if the matrices are finite.

[2021-08-31 07:55] praneethratna commented on #21982
I don't understand the difference , `Trace(trace(y*A).arg.as_explicit()).doit()` also outputs  `A[0, 0]*y[0, 0] + A[0, 1]*y[1, 0] + A[1, 0]*y[0, 1] + A[1, 1]*y[1, 1]` .

[2021-08-31 09:32] #21960 closed

[2021-08-31 10:41] Upabjojr commented on #21982
`.as_explicit()` is not about rewriting as sums... but as rewriting a matrix expression as an explicit matrix. In the case of `Trace` there is some overlap, because `.rewrite(Sum)` is similar in case of non-symbolically shaped matrices.

In case of symbolically shapes matrices `.as_explicit()` should throw `ValueError: Matrix with symbolic shape cannot be represented explicitly.`

Anyways, the dis

[2021-08-31 10:57] alijosephine commented on #19144
Update to above change:

1. Made the change, added tests cases, passed all unit tests and doc tests before committing.
2. Had forked the repo, setup github remote and added SSH keys.
3. But pushing the branch gives below error and not able to troubleshoot:
[code]
I understand this error has nothing to do with the project but is caused by some authentication issue but any help if possible would be

[2021-08-31 11:05] oscarbenjamin commented on #19144
What repo are you trying to push to?

[2021-08-31 11:26] alijosephine commented on #19144
@oscarbenjamin I was trying to push to the forked repo - https://github.com/alijosephine/sympy. Guess I had not configured SSH keys correctly.
For now, I tried to commit the changes directly to github.

Could you please review the PR and comment in case the approach is wrong or needs further work on it?
Also, would like to contribute more to SymPy in other active issues.

[2021-08-31 13:25] bjodah opened #21991 "Should UnevaluatedExpr.is_real query its argument?"
Consider this:
[code]
Currently I need to treat UnevaluatedExpr as a special case in some logic. I don't see any reason why `.is_real`, `.is_complex` etc. can't be made to return `self.args[0].is_real`, ...?

But perhaps I'm missing something?

[2021-08-31 13:29] oscarbenjamin commented on #21991
The question is whether you want to allow evaluation of expressions containing UnevaluatedExpr:
[code]

[2021-08-31 13:47] bjodah commented on #21991
I don't think so. I would argue that it's unrelated for my use case, and that I think it is (very) good that it's not evaluated.

Here's an example:
[code]

[2021-08-31 14:00] oscarbenjamin commented on #21991
The assumptions can be implemented like this:
[code]
However that change will cause expressions involving UnevaluatedExpr to evaluate in some situations:
[code]
The mechanism that prevents expressions involving UnevaluatedExpr from evaluating is basically just the fact that it has no properties that any evaluation code checks for. If you add assumptions to it then that will change:
https://github.

[2021-08-31 14:12] bjodah commented on #21991
Oh, I see. Thank you. I did not anticipate that (I never looked into exactly how UnevaluatedExpr achieved its special treatment). So how would we advise users to treat this case? Running a pre-processing pass in the printing process? In this particular case, I can rewrite the tree to "lift" the expression inside `re(...)` if its argument is `UnevaluatedExpr` and `.args[0].is_real` holds. But it fe

[2021-08-31 14:18] #21980 closed

[2021-08-31 14:37] bjodah commented on #21991
OK, so thinking about this a little more. In this context (this special case of code printing), the user probably wants most of UnevaluatedExpr, but not everything. So one can create a subclass an overload in accordance with your suggestion:

[code]

this is probably the cleanest solution. Thanks again!

[2021-08-31 14:55] #21991 closed

[2021-08-31 19:11] smichr commented on #15441
cf #17186

[2021-08-31 19:19] #21971 closed

[2021-08-31 21:28] mkoeppe commented on #12825
This was apparently fixed in #12826; and it works correctly in current Sage. Should close

[2021-08-31 21:30] mkoeppe commented on #10795
I think this issue can be closed as outdated. I cannot reproduce this error in current Sage.

[2021-08-31 21:46] mkoeppe commented on #7091
I think this issue can be closed as a dup of #11579.

[2021-08-31 21:53] mkoeppe commented on #15802
This can be closed now that #21941 is merged.
#21958 removes the old scripts for Sage integration testing.

[2021-08-31 22:10] mkoeppe commented on #19690
This is caused by mpmath/Sage interfacing; I have added this issue to https://trac.sagemath.org/ticket/25445

[2021-08-31 22:24] #7091 closed

[2021-08-31 22:24] #15802 closed

[2021-08-31 22:27] asmeurer commented on #19690
This works for me with normal SymPy (not in Sage). It looks like a Sage issue, so I'm closing this issue in favor of the upstream Sage issue.

[2021-08-31 22:27] #19690 closed

[2021-08-31 23:04] mkoeppe commented on #19690
Yes, I agree.

[2021-08-31 23:20] oscarbenjamin commented on #13430
I just merged #21958 so I think this can be closed.

[2021-08-31 23:20] #13430 closed

[2021-08-31 23:21] oscarbenjamin commented on #12825
Thanks

[2021-08-31 23:21] #12825 closed

[2021-08-31 23:21] oscarbenjamin commented on #10795
Thanks

[2021-08-31 23:21] #10795 closed

[2021-09-01 00:56] mkoeppe commented on #19690
Actually, I tracked this down to an incorrect use of the `gmpy2` API in SymPy, fixed in #21996

[2021-09-01 01:06] Volker-Weissmann commented on #19690
Wow, fixing something after one year of silence.
Thank you, this does not happen often

[2021-09-01 01:11] oscarbenjamin commented on #19690
Yes, thanks @mkoeppe

Although I see sage in the traceback the OP doesn't say anything about sage. It's possible that this was overlooked because it wasn't obvious how to reproduce it.

[2021-09-01 01:23] #19162 closed

[2021-09-01 01:55] sylee957 commented on #18982
I thought that we could have a public API like `count_ops` that counts the function symbols + variables from the expression tree for more general use (if it was not implemented before yet)
I think that you don't need the restriction wrt to the class of expressions, because I think that the boolean expression that 'makes sense' can still use unrestricted function because they would purely be compos

[2021-09-01 10:08] praneethratna opened #21997 "series - aitken's delta squared process"
Can the Aitken's delta-squared process or Aitken Extrapolation which is a series acceleration method, used for accelerating the rate of convergence of a sequence be implemented in Series.accelaration module?

Source : https://en.wikipedia.org/wiki/Aitken%27s_delta-squared_process

[2021-09-01 17:17] smichr commented on #15441
@oscarbenjamin , @sylee957 , you often are writing about matrices. It seems like this sort of system could benefit from identifying the tightly banded region (the tridiagonal for most rows) and solve those reqions before attempting the solution of rows with entries out of the band:

[code]

[2021-09-01 17:38] oscarbenjamin commented on #15441
@smichr do you have the repr for that matrix? It looks to me like something that would be solved efficiently by linsolve already although the complexity depends on how complicated the rhs gets.

[2021-09-01 19:38] oscarbenjamin commented on #21145
It was fixed in 91f3ad35d2610c6dbbcede95bb15e2dba074f5be from #20721. A test for pretty much exactly this case was added then.

[2021-09-01 20:21] smichr opened #21999 "detection of infinite solution request"
[code]
[code]

[2021-09-01 22:14] oscarbenjamin opened #22000 "State of the docs for release"
I'm opening this to discuss what to do with the docs for the upcoming 1.9 release.

I just fixed the docs build in https://github.com/sympy/sympy_doc/pull/50 and after merging #21996 the dev docs have updated again. The current dev docs from master can be seen here:
https://docs.sympy.org/dev/index.html

The docs are currently a work in progress with @nanjekyejoannah's GSOD project under way to re

[2021-09-01 23:10] asmeurer commented on #22000
I don't see any problems with the current state of the docs in dev, but @nanjekyejoannah should confirm there aren't any known things that aren't yet resolved. It's worth pointing out that if there do end up being any issues, we can push up hotfixes to the docs repo without doing an actual release.

On the other hand, reverting @nanjekyejoannah's PRs for the release branch shouldn't be hard, if we

[2021-09-02 04:12] sylee957 commented on #15441
Currently, the only algorithms we have are when the matrix is , so if the matrix is irreducible, it won't help much.
I'm aware that there are much more granular bandwidth reduction algorithms like [Cuthill-McKee](https://en.wikipedia.org/wiki/Cuthill%E2%80%93McKee_algorithm), or we can even loosen the restriction to search the algorithms that can give the different left and right permutation matri

[2021-09-02 05:39] Leone20010 commented on #21984
SOLVED: Thanks for pointing out Diofant, it works great!

[2021-09-02 05:47] praneethratna commented on #21999
This is not a possible solution i feel , since some of the tests are failing and also weirdly `solve_poly_system([2*x - 3, y*Rational(3, 2) - 2*x, z - 5*y], x, y, z)`  is throwing a `NotImplementedError` .

[2021-09-02 06:12] smichr commented on #21999
Hmm. Well, they should yield similar results: an error or a solution. Looks like maybe a solution, then, should be returned? I am not sure. Maybe @jksuom would have some idea.

[2021-09-02 07:19] moorepants commented on #22000
Will all the urls redirect?

I think it might be best to have this major doc overhaul in a branch and in the next release, once it is complete.

[2021-09-02 08:09] jksuom commented on #21999
It seems that the number of polynomials in the Gröbner basis should be the same as the number of variables so there should be something like
[code]

[2021-09-02 09:52] jksuom commented on #21999
It looks like the test could be `if len(basis) < len(gens)` though I'm not sure if the implementation can handle all cases where `len(basis) > len(gens)`.

[2021-09-02 10:34] praneethratna commented on #21999
Yes this works and now `solve_poly_system((y - 1,), x, y)` also returns `NotImplementedError` , I'll open a PR for this.

[2021-09-02 11:58] schymans commented on #19313
I updated the first comment to include an example and a link to the key features.

[2021-09-02 12:47] oscarbenjamin commented on #21984
The bug is not fixed in SymPy so the issue should not be closed.

[2021-09-02 14:34] schymans commented on #14374
@smichr could you give a simple example?

[2021-09-02 15:25] nanjekyejoannah commented on #22000
Yes, we have made sure URLs redirect.

[2021-09-02 15:38] #21999 closed

[2021-09-02 16:00] #19814 closed

[2021-09-02 16:04] #21145 closed

[2021-09-02 17:38] smichr commented on #21937
closing as a sub-issue to be handled by #19031

[2021-09-02 17:38] #21937 closed

[2021-09-02 19:00] nanjekyejoannah opened #22006 "Categorize SymPy Modules"
To avoid having a big TOC, I propose categorizing the modules in the SymPy Modules Reference section of the documentation.

cc @asmeurer @oscarbenjamin

[2021-09-02 19:21] nanjekyejoannah opened #22007 "Reorganizing the SymPy Documentation"
## Abstract

SymPy documentation is currently difficult to navigate for users since the key topics are hidden in a big table of contents. After an audit of the documentation, this documentation discusses a way forward for the reorganization of the SymPy documentation.

## Scope

The main aim of the reorganization is to achieve the following goals:

- Reorganize the documentation following the [Diá

[2021-09-02 19:55] oscarbenjamin commented on #21968
I also saw the same failures here (also on Python 3.10rc1):
https://github.com/sympy/sympy/pull/21996#issuecomment-910696937

[2021-09-02 20:04] asmeurer commented on #22006
We should try to come up with ~8 high level sections that we can organize the public API reference documentation into.

[2021-09-02 20:31] asmeurer commented on #22006
Here's the current reference documentation. It's organized by SymPy submodules, but that's not necessarily the best organization for end-users. https://docs.sympy.org/latest/modules/index.html

Here's my initial thoughts on organization, based on the headers that are there.
This is just my initial thoughts, so please critique.

**Main category**. I'm not sure what this should actually be called, b

[2021-09-02 20:34] asmeurer commented on #22007
Can you add PR numbers to the checklist?

Another thing you didn't mention but I think was planned was changing the Sphinx theme so that the sidebar has better organization.

[2021-09-02 23:08] oscarbenjamin commented on #22006
Before seeing the comment above I tried to make a categorisation that might make sense to users for public docs. I took a bottom up rather than top-down approach: I looked at all the public things and tried to group them together hierarchically. This is what I came up with:
[code]

This gives 8 top-level items:
[code]
Everything else is a subsection of topics:
[code]
I'm not entirely happy with th

[2021-09-03 00:10] asmeurer commented on #22006
There's a lot of commonality, which I guess is a good sign. I like that you've organized the functions themselves. That will be useful.

My thoughts:

- "Basics" is a good name for what I called "main category". That also makes it clear why the base class for everything in SymPy is called "Basic", which is a little opaque otherwise.
- "Special topics" is also a good name, instead of "other" or "mi

[2021-09-03 00:25] oscarbenjamin commented on #22006
The flipside of thinking about what users would think before looking at the documentation is that the documentation itself influences the way that users think about SymPy. I think a lot of users would be very interested to be able to dig in to the expression types section and learn more about the essential components that build up an expression. The organisation of the docs there in itself could h

[2021-09-03 00:45] oscarbenjamin opened #22008 "Releasing SymPy 1.9"
This issue is to track the release of SymPy 1.9. The release issue for 1.8 was #21264

Release notes for 1.9 are here:
https://github.com/sympy/sympy/wiki/Release-Notes-for-1.9

- [x] Make sure latest versions of Python and other dependencies are tested in CI
- [x] Check authors:
  - [x] run bin/mailmap_update.py
  - [x] run bin/authors_update.py
  - [x] Open a PR to update .mailmap and AUTHORS

[2021-09-03 01:24] oscarbenjamin commented on #22000
I've reverted the doc changes in the 1.9 release branch 60af7dd25e493f248343a49e3533726eec39ccfd (release issue #22008).

The changes can continue on master but won't feature in the 1.9 release.

[2021-09-03 01:24] #22000 closed

[2021-09-03 07:00] moorepants commented on #22007
I'm fine with a different theme, but it'd be nice to keep some SymPy green in the color scheme. Maybe that's not to hard with the other theme options?

[2021-09-03 07:02] moorepants commented on #22007
The Diátaxis system has 4 categories. What is the reasoning for having 6 categories for us? Is it not possible to fit everything into the 4 categories. I thought that was the main design idea of the system.

[2021-09-03 07:14] moorepants commented on #22006
If there is any way to get feedback on the organization of the documentation from some people that are strictly users of SymPy, I think that would be a good idea. @nanjekyejoannah is one of those but maybe soliciting some more people would provide enlightening views.

Aaron's list looks more user friendly to me. Oscar's seems more dense developer friendly.

[2021-09-03 07:35] mostlyaman opened #22012 "False KeyError in Symengine tests"
Originated from https://github.com/sympy/sympy/pull/21988#discussion_r701142517

While working on PR #21988 while and running symengine tests, tests are failing for some reason.
The setup for recreating the bug is as follows.
[code]
This keyerror only happens when env variable USE_SYMENGINE is set to 1.
[code]
fyi - @oscarbenjamin

[2021-09-03 11:26] smichr opened #22014 "Q.real vs is_real when denominator might be zero"
from this SO [post](https://stackoverflow.com/questions/69019605/python-sympy-is-real-returns-none-instead-of-true-for-1-1-x-where-x-is-real/69030400?noredirect=1#comment122009249_69030400)

[code]

[2021-09-03 13:00] #21264 closed

[2021-09-03 14:08] EliaStocco opened #22017 "get spin operator for large S"
https://github.com/sympy/sympy/blob/46e00feeef5204d896a2fbec65390bd4145c3902/sympy/physics/quantum/spin.py#L246
Hello,
I am Elia Stocco,
I would like to to simulate a 1D Heisenberg model (spin chain),  with variable value of spin.
Then I would exactly diagonalize the Hamiltonian in order to study the differences in the spectrum between integer and half-integer spin values (do you think `sympy` cou

[2021-09-03 15:33] nanjekyejoannah commented on #22007
There are sections where we felt could not belong in the 4 categories perfectly, so we have two extra ones, tutorials and contributing. I think 4 categories in a guideline, most people who use Diátaxis may have some more sections.

Again, if you think these extra categories fit in the 4 Diátaxis categories, you can share your view.

[2021-09-03 15:36] moorepants commented on #22007
For example, the new contributor guide could/should go in "Getting Started". Getting started can be subsectioned into "Getting Started: Users" and "Getting Started: Developers".

[2021-09-03 15:37] moorepants commented on #22007
Also, tutorials seems to be clearly "How-To Guides".

[2021-09-03 22:21] nanjekyejoannah commented on #22007
Can we get consensus on this @asmeurer @oscarbenjamin

[2021-09-03 22:38] asmeurer commented on #22007
I don't feel particularly strongly about it either way. I agree they could probably fit into the main Diataxis categories, but it also seems to fine to me to have them at the top level so that they are easier to find.

[2021-09-03 23:37] oscarbenjamin commented on #22007
I also don't feel strongly about this. The main thing is just that it is navigable so that someone can come to the docs and intuitively click through the links to get to the right place.

[2021-09-04 00:53] isuruf commented on #22012
`solve` would transform symengine objects to sympy objects and therefore `td` contains `sympy` objects while `u1` is a symengine object. Although they are equal, they have different hashes and that's why there is a KeyError.

[2021-09-04 02:13] mostlyaman commented on #22012
@isuruf That is certainly the case. Using sympify on u1 before using it as a index gives no KeyError. Thanks for your help.

[2021-09-04 02:13] #22012 closed

[2021-09-04 12:28] oscargus commented on #18982
There is a significant difference here that motivates the use of a special function.

For example, `a + b` is one add operation so `count_ops` should return one. `a & b` is clearly one and operation. However, the cost commonly associated with it is the gate input count: two. The reason one prefer to use gate input count is that it provides a measure of the total number of pins needed for a PCB. It

[2021-09-04 12:44] oscargus opened #22018 "Proper support for Nand, Nor, and Xnor"
Right now `Nand`, `Nor`, and `Xnor` are rewritten as `Not(And(...))` and so on. This is useful it one considers that most of the simplifications etc only support `And`, `Or`, and `Xor`. However, from a circuit perspective it is typically better to expression the boolean expressions (or rather realize the circuit) using `Nand` and `Nor` (not so much `Xnor`). Hence, it would be better if `Nand` and

[2021-09-04 13:54] oscargus opened #22019 "is_extended_real = False does not lead to is_complex = True"
In #13396 the solution obtained is:

`Union(FiniteSet(0), Intersection(FiniteSet(sqrt(-x**2 + zoo), -sqrt(-x**2 + zoo)), Reals))`

Now, one could think that `sqrt(-x**2 + zoo)` is a non-real value and the intersection in the second part of the union is empty.

[code]

So if x is extended `x**2 + zoo` is not extended real, but also not complex. Although if x does not have any assumptions, it is not

[2021-09-04 14:12] oscargus commented on #22008
Is there a process to determine which PR:s one should try to get in before the release? That could probably help at least me both prioritizing and to some extent get motivation to finish them.

(Another, slightly related questions, have you considered having some sort of focused activity to clean up issues and handle PRs? There is a quite big list and some focused maintenance effort could probably

[2021-09-04 14:24] oscarbenjamin commented on #22008
I'm not sure there is a documented process but basically it is this:

1. If at any time an issue is identified as a regression since a previous release (especially if it is a regression on master relative to the previous release) then it should have the regression label and should be given the milestone for the next release:

    https://github.com/sympy/sympy/issues?q=is%3Aopen+is%3Aissue+label%3

[2021-09-04 14:35] oscargus commented on #22017
I do not really have any idea about the actual topic, but consider the following lines
https://github.com/sympy/sympy/blob/25a3b8ec67a2c0ae99d0be2e9f01d294e207e1ad/sympy/physics/quantum/operatorset.py#L148-L150

Hence, you are getting a set of two operators. You may have realized that, but I was a bit confused by the wording that you expect the first operator to be a specific one and a set is in g

[2021-09-04 14:53] oscarbenjamin commented on #22019
Basically it is not clear what a vanilla symbol represents. A plain `Symbol('x')` is not even known to be finite (#17224). This is discussed in the new assumptions docs here:
https://docs.sympy.org/dev/guides/assumptions.html#interpretation-of-the-predicates

Extended real and complex do not mix together so well. Part of the problem is that there is no extended complex so:
[code]

There is no case

[2021-09-04 15:27] oscargus commented on #22019
I might have replaced `is_real` with `is_extended_real` and missed to update the result for `(oo+oo).is_extended_real`... (I realized that I should test `is_extended_real` and not `is_real` after a while...)

I understand the undefined issue, but still it seems like quite a limitation that the fact that it is not real, but may be undefined does not allow the intersection with `S.Reals` to be empty

[2021-09-04 15:32] oscargus commented on #22019
Here, it is worth noting that `Intersection(S.Reals, {S.NaN})` and `Intersection(S.Reals, FiniteSet(S.Infinity, S.NegativeInfinity, S.ComplexInfinity))` are `EmptySet`, so maybe one should have a `is_infinite_and/or_undefined` check to get rid of these particular results...

(Not possible to add `S.NaN` to a `FiniteSet` though...)

[2021-09-04 15:40] oscarbenjamin commented on #22019
I would trace the problem for the issue back one step further: `solveset` should not be relying on evaluation/assumptions involving zoo in the first place. Where does the `sqrt(x**2 + zoo)` come from?

[2021-09-04 15:52] oscargus commented on #22019
Quick observation for now. The minimum example seems to be
`solveset(exp(x-y**2), y, domain=S.Reals)`
which returns an expression like this.

Replacing x with a "constant", including `oo`, `zoo` and `NaN` leads to `EmptySet`...

[2021-09-04 16:19] oscargus commented on #22019
And, yes, one can/should solve it in the piece that generates the incorrect solution. However, dealing with it at a higher level will have broader impact and probably avoid upcoming issues.

[2021-09-04 16:26] oscarbenjamin commented on #22019
Something like this:
[code]

[2021-09-04 17:03] oscargus commented on #22019
I just identified that as the problem, yes. But didn't know how to get around it. I'll try it out. Thanks!

[2021-09-04 17:50] oscargus commented on #21047
This seems to have been solved in the current master. Adding a test and closing.

[2021-09-04 17:51] #21047 closed

[2021-09-04 18:05] oscargus commented on #21890
Interesting semi-related issue:

[code]

It seems like they should evaluate to the same thing.

For your first equation, relationals are formed with the following arguments and only the last one triggers the exception.

[code]

[2021-09-04 18:30] oscargus commented on #19506
There is a bit of quite weird code here:

https://github.com/sympy/sympy/blob/5331d056276f22b74587c04cac8399b3ddfc6048/sympy/solvers/solveset.py#L1027-L1029

The argument of `arg` will more or less definitely be complex (otherwise there is limited point in using `arg`). I do not understand how this is supposed to work in the first place.

[2021-09-04 19:12] oscargus commented on #17906
Seems to be fixed in current master. Adding test that will close it.

[2021-09-04 20:42] oscargus commented on #17580
In #21925 this is now correctly fixed.

[2021-09-04 21:30] jonatanschroeder opened #22020 "Comparing two operations that contain `log` sometimes leads to TypeError exception"
This originally comes from PrairieLearn/PrairieLearn#4793, but it seems the problem is in sympy. We weren't able to narrow it down much further, other than to identify that this is specific to `log` (other functions like square root don't seem to have this problem).

In essence, two expressions can lead to an exception when being compared if the `log` expression is multiplied by a variable instead

[2021-09-04 21:44] smichr opened #22021 "malformed expression in Mul?"
Just don't want this to be forgotten: [discussion about issue](https://github.com/sympy/sympy/pull/21925#pullrequestreview-738464331) in #21925

A suggestion to use `Add(*bargs)` instead of `Add._from_args(bargs)` suggests that in some cases, `bargs` is not properly ordered. It would be better to identify the issue than to use the evaluated `Add` at this low level, I think. It will need some inves

[2021-09-04 22:26] oscargus commented on #22020
The problem comes from https://github.com/sympy/sympy/blob/5331d056276f22b74587c04cac8399b3ddfc6048/sympy/core/expr.py#L661-L669

where all free symbols are replaced by zeros on line 666 and numerically evaluated,which results in `-oo`. This later breaks the checking. I assume that checking that a is not infinite at line 669 will fix your problem, but not sure if it will break something else...

[2021-09-04 23:12] oscarbenjamin commented on #21890
I presume these are with x declared as real. If x is real then `x*I` can also be real if `x` is zero. However `I/x` is not real for any real value of `x`.

[2021-09-04 23:37] oscarbenjamin commented on #22021
What is needed is something equivalent to `Add(*args)`. I'm not sure what else could be equivalent to that without being equally slow...

[2021-09-05 00:52] echuber2 commented on #22020
This doesn't happen in Sympy 1.6.2 but does in 1.8. Is it not a regression then?

[2021-09-05 00:57] echuber2 commented on #22020
To elaborate, in 1.6.2 instead of getting an error, the `equals` call returns `None`:

[code]

[2021-09-05 05:38] asmeurer commented on #22007
@moorepants I recommend reading about [Diataxis](https://diataxis.fr/) or watching [this presentation](https://www.youtube.com/watch?v=t4vKPhjcMZg) for the difference between tutorials and how-to guides. We should probably have something in the main page that makes the differences between the different Diataxis sections clear to people who don't already know about it.

I think we should just stick

[2021-09-05 05:49] moorepants commented on #22007
If we are going with this system, then we should go with it as is. Otherwise, starting with a modified version will just set the stage for people adding new main categories in the future. My suggestion is that we stick with the four categories, but I don't know the fine details of how to fit each of our existing pages into the categories. That can be up to @nanjekyejoannah.

I've read and watched

[2021-09-05 06:00] moorepants commented on #22007
Just ignore that. Mistake,

[2021-09-05 06:03] moorepants commented on #22007
So "contributing guide" and "getting started" are the two non-diataxis categories. Those are the ones that need to be merged into the others. My statements above, just confused which of the 6 were the non-diataxis categories, which is irrelevant to my point. My point is that we stick with the 4 categories of the system.

[2021-09-05 09:15] oscargus commented on #22020
I'd say it is, yes. This code has not been touched in the last seven years, so probably something with the numerical evaluation has changed so that oo is returned rather than throwing a ZeroDivisionError.

[2021-09-05 09:27] oscargus commented on #22020
Added a fix in #22022. Hopefully it doesn't break anything else.

`None` is sort of correct here as sympy cannot really determine if the expressions are the same or not. (I assume that we do not want to return `False` as they can be identical if C is 2, but not really sure about the logic.) And it should definitely not throw an error.

[2021-09-05 09:34] oscargus commented on #21890
Good point!

[2021-09-05 10:48] oscarbenjamin commented on #22020
I bisected this to aef0304b86a5913b0dcf34483998277efff1cb46 from #20885. Maybe that should be changed or reverted.

[2021-09-05 10:59] oscarbenjamin commented on #21890
I'm not sure I understand what you mean as I don't see an error:
[code]

[2021-09-05 11:32] oscargus commented on #22008
OK! I add milestones to what I think are relevant issues. Feel free to remove them...

Currently merges go to 1.10, right? Is the idea to explicitly merge them to 1.9 separately? Is there a simple way to do that (considering release notes etc)?

[2021-09-05 11:38] oscarbenjamin commented on #22008
Yes, current master is for 1.10

The way to do it is to first open a PR for master and if that's good to merge then open a new PR rebased onto the 1.9 branch. The release note should go on the PR for the 1.9 branch if it is going to be merge into 1.9. Only I should merge PRs on the 1.9 branch.

[2021-09-05 11:45] allbits opened #22023 "Integral of sum of piecewise functions depends on integration order"
When integrating the sum of two-piecewise linear functions, the result depends on the integration order, which it shouldn't. The results for the individual terms does not.

`>>> a,b,c,d,v=symbols('a b c d v')
... p1=Piecewise((24, (a<=0.95) & (b<=0.2)),(12,a<=0.95),(v,True))
... p2=Piecewise((20, (c<=0.05) & (d<=0.2)),(10,c<=0.05),(v,True))
... p=p1+p2
... print(integrate(p1,(a,0,1),(b,0,1),(c,0,1

[2021-09-05 12:51] oscargus commented on #22020
I've realized that it still makes sense to have these checks. If https://github.com/sympy/sympy/blob/c181470266243ffdefa3c4129165e0e1e009195f/sympy/core/expr.py#L662-L663
returns `oo`, I think the same thing will happen. So I wouldn't fully blame #20885 here.

[2021-09-05 12:52] oscargus commented on #22020
One could of course discuss how `is_constant` should work in general.

[2021-09-05 14:42] oscargus commented on #21830
Do you get something like?
![image](https://user-images.githubusercontent.com/8114497/132130898-4002fa09-7f6b-4045-933a-dc097116068f.png)

I spent some time trying to figure out the problem before realizing that in this case the x-axis is a bit weirdly positioned so it looks like there are negative numbers...

[2021-09-05 14:44] oscargus commented on #21830
That is with current master I should say, so there might have been an issue in earlier versions.

[2021-09-05 14:55] oscargus commented on #21481
This seems to have been fixed in the current master.

[code]
(and some more lines...)

and
[code]

[2021-09-05 15:05] oscargus commented on #22020
The underlying problem is:

[code]

[2021-09-05 15:26] oscargus commented on #22020
Better fix in #22024

[2021-09-05 16:12] mrepetto94 commented on #21830
You are right, I got the same plot. I did not spot the shift upward the origin

[2021-09-05 16:12] #21830 closed

[2021-09-05 17:02] oscarbenjamin commented on #22023
Slightly simpler way to reproduce the problem:
[code]
[code]

[2021-09-05 18:16] oscargus commented on #21978
Closing this as I got a good answer!

[2021-09-05 18:16] #21978 closed

[2021-09-05 18:28] oscarbenjamin commented on #21968
After hundreds of runs I managed to reproduce this once under Python 3.10rc1 when running:
[code]
The output I got was:
[code]
I tried setting the random seed and hash seed like:
[code]
but that did not reproduce the failure again.

The failure is intermittent but somehow not reproducible by setting seed and hash-seed. Maybe something in sympy is ignoring the hash seed somewhere. It could also be

[2021-09-05 18:39] oscarbenjamin commented on #21968
I tried this diff to see if I could get a debugger into a process where the test fails:
[code]
After hundreds more runs I still haven't managed to reproduce the failure again.

[2021-09-05 19:11] oscarbenjamin opened #22026 "DeprecationWarning under Python 3.10 when importing sympy"
Running under Python 3.10 importing SymPy gives a deprecation warning:
[code]
If this is not fixed then when Python 3.10 is released the latest versions of sympy and python will show this warning every time anyone imports sympy.

This is because sympy uses disutils which is now deprecated:
https://www.python.org/dev/peps/pep-0632/

According to the PEP the replacement for distutils.version is pack