[2016-09-29 08:39] mzaffalon commented on #11581
@smichr I am sorry for commenting on this again: your initial reaction to check the reality of the expression was negative and instead proposed a different fix. Why do you pull the PR now? The fact that some tests fail could be because other functions are buggy and your intuition is correct.

[2016-09-29 09:17] sidgupta234 commented on #11668
I wish to take this up.

[2016-09-29 14:18] Upabjojr commented on #11678
[code]

Wrong, should be 1.

[2016-09-29 14:43] Upabjojr commented on #11678
In `sympy.series.gruntz.py`, function `mrv(1.0**k, k)` goes into infinite loop because of roundoff errors: `log(1.0) ==> 2.36364252615315e-125`.

Suggest to replace floating point numbers with rationals during the limit calculation.

[2016-09-29 15:10] Upabjojr commented on #11678
https://github.com/sympy/sympy/pull/11681

The problem is not just `1.0**k` for `k ===> oo`.

[2016-09-29 15:45] asmeurer commented on #11678
I remember discussing this before. This expression is tricky because any deviation in the base changes the value of the limit.

[2016-09-29 17:32] asmeurer commented on #10035
It should be the actual output of `pretty(ConditionSet(x, Eq(sin(x), 0), S.Reals), use_unicode=False)`.

[2016-09-30 03:16] latot opened #11683 "Point(1) in Interval(0, 2) == False ? - Fails in 1 dim"
Hi, here a little weird thing

[code]

as you can see Point works fine in 2 dims, but in 1 we get that.

Thx. Cya.

[2016-09-30 04:12] isuruf opened #11684 "Test failure in Travis"
[code]

I was able to reproduce this locally on a 64-bit system running Ubuntu 16.04.

How to reproduce:

[code]

[code]

[2016-09-30 04:13] isuruf commented on #11684
Log is here, https://travis-ci.org/sympy/sympy/jobs/163790187
Permanent link, https://gist.github.com/isuruf/9410c21df1be658d168727018007a63a

[2016-09-30 04:15] isuruf commented on #11684
ping @smichr

[2016-09-30 06:30] mon95 commented on #11677
Hello! I am new to open source and I would like to work on this issue and start contributing.

I understand that the Matrix power to an integer (in matrices/matrices.py) is computed using exponentiation by squaring.

Could you please elaborate on what exactly is expected?

[2016-09-30 07:22] Upabjojr commented on #11677
https://github.com/sympy/sympy/blob/2de847577b98934a8f8e96e02ce8fd11741687a6/sympy/matrices/matrices.py#L195

This is the code for matrix power in case of integer exponent, the while loop performs the matrix power in `O(log(N))` operations (presumably).

Next term to the `if` loop is the code with Jordan block:
https://github.com/sympy/sympy/blob/2de847577b98934a8f8e96e02ce8fd11741687a6/sympy/matr

[2016-09-30 17:28] walterhuber opened #11685 "simplify: wrong simplification with trigonometric functions with complex arguments"
sympy version is 1.0

[code]

Remarkably: if we remove the factors in the expression above, simplify leaves the expression unchanged

[code]

[2016-09-30 18:47] Lakshya1605 commented on #10961
I would like to work on this. It might take a little time, though. I am new here.

[2016-09-30 19:31] cbm755 commented on #10961
I think @zanzibar7 has a solution up above: perhaps you could start by reviewing his work?

@zanzibar7 is there a formal PR?

[2016-09-30 19:39] shrutishrm512 commented on #11378
@asmeurer  I have sent the pull request for this making changes in sets/__init__.py file please review it

[2016-09-30 19:39] asmeurer commented on #11378
Please cross reference the pull request here (and cross reference this issue on the pull request).

[2016-09-30 19:39] zanzibar7 commented on #10961
I did not submit a pull request on this.

@Lakshya1605 , it would be great if you wanted to finish this off.

[2016-09-30 19:46] shrutishrm512 commented on #11378
#11686

[2016-09-30 19:58] #11642 closed

[2016-09-30 20:03] smichr commented on #11378
If you just write in your OP (opening paragraph) of the PR "closes #11378" it will automatically create a notation here in the issue and close the issue when the PR is closed. See, for example, how #11558 references the issue and then click on the blue text/link in its OP to go to the issue and look near the bottom to see how a cross reference to the PR was made. And if you click on the Issue's cr

[2016-09-30 20:11] viditjain1 commented on #11667
I want to work on this. Can someone give me a hint on where to start..?

[2016-09-30 20:13] latot commented on #11667
I don't know to much about Sympy, but the logic say to me, when you don't send a direction you should calc the limit in both sides, the compare it, if are equals return the value, if not return nan.

[2016-09-30 20:25] asmeurer commented on #11378
@smichr you may be interested in this https://github.com/sympy/sympy/pull/11687

[2016-10-01 03:38] latot opened #11688 "SolveSet: solveset(x/y, y) == EmptySet() - Wrong Result"
Hi again, other problem, this time solveset, (solve can't handle this), basically this:

[code]
analyzing a little, case by case, we have basically two sets of solutions, first, when x is 0, y is UniversalSet() excluding 0, +oo, and -oo, with x every number except -oo and oo, the solution of y is +oo and -oo, if x and y go to +oo or -oo y is indeterminate, note, that its different to EmptySet, its

[2016-10-01 03:45] latot commented on #11015
Hi, only as a note, if we include the limit concept the solution should be EmptySet excluding x==0, if x==0 should be nan.

[2016-10-01 03:52] latot commented on #11015
little question here in sympy are you taking oo including it self or not?

if its included the solution of ```solveset(oo*x, x)``` should be nan.
else, ```solveset(oo*x, x)``` should be 0.

[2016-10-01 05:20] Lakshya1605 commented on #10961
Please can some one elaborate on what is expected

[2016-10-01 16:39] asmeurer commented on #11667
There are some older issues about this, if you search. It would be nice to make limit bidirectional by default.

[2016-10-01 16:45] zanzibar7 commented on #10961
In the comments above, from April, skirpichev and I suggested the changes that needed to be made and tested so we don't have this issue with fractional powers for Laguerre polynomials.  Read over those changes, check that they work, make the sure the test-suite passes, and if so, put them into a pull request we can review, comment on, and eventually merge.

[2016-10-01 19:42] mon95 commented on #11677
Thank you!

This link suggests that powers of Jordan normal form matrices are easier to compute.

The matrix powers for integers over 1e6 seem to be really slow. I checked this using different values on the interpreter. Could you tell me how to determine the threshold using benchmarks?

[2016-10-02 08:18] Upabjojr commented on #11677
http://stackoverflow.com/questions/2866380/how-can-i-time-a-code-segment-for-testing-performance-with-pythons-timeit

I suggest to try various matrix sizes and exponents.

Well, it depends on what you mean by _easier_, the algorithm is actually more complicated.

[2016-10-02 11:19] Lakshya1605 commented on #10961
@zanzibar7    Can you please tell me what is the use of  _ortho_poly = staticmethod(laguerre_poly) and why did you use this in  your commit,I was thinking what is wrong by directly returning laguerre_poly(int(n), x, 0).Sorry this may seem a very stupid question but i am new in here and not properly familiar with the code.Please help me

[2016-10-02 11:49] bhrzbbk commented on #11683
It seems that the reason for this behaviour is that `Point(1)` is passed as a `Point` object from `Set.contains()` to `Interval.contains()`. This causes the following test to fail:
[code]
On the contrary, when `ProductSet._contains()` passes each dimension of `Point(1,1)` to `set.contains()` (and then to `Interval._contains()`, it extracts the `Int` objects from `Point` :
[code]
  A possible fix i

[2016-10-02 14:44] zanzibar7 commented on #10961
All of the classical families of orthogonal polynomials like Laguerre  polynomials are subclassed from `OrthogonalPolynomial`.  `OrthogonalPolynomial` is  intended for housekeeping of stuff that's common, like dealing with fractional  exponents -- we're supposed to call members of the superclass like `_eval_at_order` when we need to evaluate the polynomial.

In order for to work, `laguerre` has to

[2016-10-02 15:11] opoplawski opened #11691 "Test failing with matplotlib 2.0.0"
[code]

Perhaps different output names with matplotlib 2.0.0?  Need to check...

[2016-10-02 22:08] richardotis opened #11692 "implemented_function (UndefinedFunction) fails to deserialize with cloudpickle"
An instance of `UndefinedFunction` is returned by the `implemented_function` routine. This issue causes a problem with using `implemented_function` with multiprocessing.

Example
=======
[code]
[code]

Workaround
=========
cloudpickle can handle nested classes, so you can get around the metaclass trickery by defining the function as a class directly:
[code]

[2016-10-02 22:14] richardotis commented on #11692
I did my best to work out the cause of this bug, but there's a lot of low-level stuff involving metaclasses that I had trouble following. I'm hoping someone with more familiarity with the core can take a look. cc @asmeurer @moorepants

[2016-10-03 12:24] viditjain1 commented on #11667
bidirectional by default meaning the same logic that is described in the previous comment by latot?

[2016-10-03 13:43] smichr commented on #11683
What you propose sounds fine to me.

[2016-10-03 17:06] asmeurer commented on #11667
I think it would make more sense to raise an exception when the different sided limits differ.

[2016-10-03 17:42] latot commented on #11667
Hi, sadly i'm not agree, conceptually the limit of an discontinuous functions is simply not defined, i think that is nan, or the expression you like, but an exception i think its too heavy, you can check the limit basically for tree reasons, get the right limit, get the left limit and get the limit of a point, in this last case its the same to check if the limit exist, actually Sympy works with di

[2016-10-03 18:23] asmeurer commented on #11667
The nice thing about an exception is that it could contain a message indicating to the user why the limit failed. `nan` is, in some sense, a non-failure state. It is designed to propagate to further calculations without error.

[2016-10-03 18:43] latot commented on #11667
mmm, if i'm right.. ```zoo``` represent an indeterminate point?, the main reason of why i don't like the exception is because if you use that the must start checking exceptions...

so, can be ```zoo``` an option? or some expression?

only in a practical case, i start working with discontinuos function, think in piecewise or ```1/x``` format,  if i try calc limits or diff, i will start getting a lo

[2016-10-03 18:51] asmeurer commented on #11667
`zoo` is the value of the complex limit of `1/x`, but it doesn't make sense as a generic value. You were right that `nan` is the most correct value for "doesn't exist".

I don't see why you wouldn't need to check for `nan` too. If you are taking a limit that doesn't exist, you'd want to know that fact. Maybe I'm not seeing your use case properly where it would be more useful to have a nan propagat

[2016-10-03 19:06] moorepants commented on #11692
I think you'll find many related issues, for example:https://github.com/sympy/sympy/issues/4297. That includes a number of references to other related issues too.

[2016-10-03 19:13] asmeurer commented on #11692
Also https://github.com/sympy/sympy/issues/4787

[2016-10-03 19:15] richardotis commented on #11692
Right, the inability to pickle many types of SymPy objects is nothing new. I'm specifically talking about cloudpickle support, which otherwise works flawlessly. The reason we should care about cloudpickle support is because dask uses it for serialization across workers by default. Sending `UndefinedFunction` across the wire ends up being necessary for making dask multiprocessing/distributed play n

[2016-10-03 19:19] asmeurer commented on #11692
Oddly, it seems that regular `pickle` can handle functions (when was that fixed?).

Do you know what `__new__` the traceback is referring to?

[2016-10-03 19:28] asmeurer commented on #11692
My best guess is that it's referring to this line https://github.com/sympy/sympy/blob/20872c3b27726825869876b2dbe38e2fcd3bef2a/sympy/core/function.py#L780

[2016-10-03 19:30] asmeurer commented on #11692
Another data point: it works in an interactive session

[code]

[2016-10-03 19:31] asmeurer commented on #11692
Python 2 gives a different traceback. Maybe more helpful to debug this:

[code]

[2016-10-03 19:40] asmeurer commented on #11692
I reported https://github.com/cloudpipe/cloudpickle/issues/65 upstream. Hopefully we just need to implement some `__reduce__` method on UndefinedFunction to make this work (or hopefully it is a bug in cloudpickle that can be fixed upstream).

[2016-10-03 19:44] guoyicong commented on #11650
Same question here. What's the reason for the recursive implementation? I wrote a dynamic programming version...

[2016-10-03 19:49] richardotis commented on #11692
UndefinedFunction is a metaclass which returns an instance of a class type. Shouldn't calling `UndefinedFunction('f')` be roughly the same as
[code]
(the above works fine with cloudpickle)

[2016-10-03 19:51] richardotis commented on #11692
Oh, no, I'm getting the metaclass mixed up with the class. The type of `UndefinedFunction('f')` will still be `UndefinedFunction`.

[2016-10-03 20:15] asmeurer commented on #11692
Yes, a more correct example is

[code]

which fails with the same exception.

[2016-10-03 20:20] latot commented on #11667
mm, i think an example will be better, lets imagine we have a n count of functions, f1, f2, f3.....
joined in one ```piecewise```, now we wan't check all discontinuous points, if we use ```nan``` we only need check if its ```nan``` the result, if we use a exception we must start using try/catch and that things, i don't think its appropriate in this context.

Thx. Cya.

[2016-10-03 20:36] richardotis commented on #11692
That example fails with the same exception for me, but at *class definition*. That makes this more likely to be a bug in SymPy I think.

[2016-10-03 20:56] richardotis commented on #11692
Changing
[code]
to
[code]

appears to fix the issue. I'm not sure what the consequences of this are, however.

[2016-10-03 21:03] asmeurer commented on #11692
If you add `print(args)` to the top of `__new__`, this is what is printed:

[code]

So, does every metaclass need to accept the full function signature of `type`?

[2016-10-03 21:09] richardotis commented on #11692
It looks like it. That would explain why unpickling and invoking the metaclass indirectly via the `class` statement raise the same exception.

[2016-10-03 21:12] asmeurer commented on #11692
OK, the first one comes from import time, from https://github.com/sympy/sympy/blob/20872c3b27726825869876b2dbe38e2fcd3bef2a/sympy/functions/combinatorial/numbers.py#L39. When `UndefinedFunction` is created from `Function.__new__` ([here](https://github.com/sympy/sympy/blob/20872c3b27726825869876b2dbe38e2fcd3bef2a/sympy/core/function.py#L408), only the arguments of `Function` are passed in (I don't

[2016-10-03 21:14] asmeurer commented on #11692
Or maybe it should be

[code]

That way we aren't eating arbitrary `*args`, and it is more self documenting.

[2016-10-03 21:15] asmeurer commented on #11692
Oh and it should probably be `mod_dict` instead of `dict` so that we don't override the builtin.

[2016-10-03 21:23] asmeurer commented on #11692
OK, see https://github.com/sympy/sympy/pull/11693. We should definitely test this somehow (probably by testing cloudpickle directly).

Also, note that it still doesn't work in Python 2 (same error as before). I'm guessing this is due to some limitations in the older pickle protocols, or possibly a bug in cloudpickle.

[2016-10-03 21:26] richardotis commented on #11692
Does it work in Python 2 if you change `bases` and `mod_dict` to be positional arguments?

[2016-10-03 21:30] asmeurer commented on #11692
Nope, doesn't look like it. And doing so breaks [this test](https://github.com/sympy/sympy/pull/7688/files#diff-5f25427da46082ec269576baef49a5c4R674) anyway, becuase you have to manually pass `bases=(AppliedUndef,)` and `mod_dict={}` when creating `UndefinedFunction` (that might even be considered an API change, I'm unsure how people are using UndefinedFunction in the wild).

[2016-10-03 21:39] asmeurer commented on #11667
Note that `limit` already raises exceptions for other things, like if the limit doesn't exist or can't be computed (although IMHO it ought to be returning `Limit` objects whenever possible).

[2016-10-04 04:09] latot commented on #11667
Hi, i try calc the limit with this but instead have a raise of the limit don't exist i get a ```NotImplementedError```:
[code]
for now i think conceptually its fine send an exception if the limit can't be calculated, that is because sympy can continue be improved, but an undefined value i think have other meaning.

[2016-10-04 05:59] viditjain1 commented on #11667
Yes, i also think raising exception will be more appropriate. I will try to implement it.

[2016-10-04 06:29] bhrzbbk commented on #11683
So I will work on this issue

[2016-10-04 08:48] Upabjojr commented on #11557
-1, many SymPy users may not realize how to perform matrix powers.

[2016-10-04 15:11] apalmer1377 commented on #11667
Hi, I submitted a pull request for a patch to this a few hours ago #11694 . Currently, if the bidirectional limit doesn't exist, the function returns None, since there is no limit at that point.

[2016-10-04 16:45] Lakshya1605 commented on #10961
Thank you @zanzibar7 . Working on this issue.

[2016-10-04 16:54] #11692 closed

[2016-10-04 18:59] mon95 commented on #11677
I wrote a small script to see how the time taken varies as we change the exponent. And, I used this with varying matrix sizes and found this:

(Matrix Size  ->  Exponent up to which using the matrix power definition for integers is faster)

2x2 -> 131072
3x3 -> 16000 (approx)
4x4 -> 8192
5x5 -> 8192
10x10 -> 8192
20x20 -> 8192
50x50 -> 8192

Code snippet used:

`def findpow(matrix, exponent):

[2016-10-04 21:05] Upabjojr commented on #11677
Maybe better try both sparse and dense matrices.

Did you try only one matrix? Did you try matrices with symbols?

If you edit, remember that the Jordan block algorithm requires the eigenvalues, which can be found only if the solvers are able to (sometimes it may occur that there is some unsolvable polynomial). So, better have a fallback on the old algorithm in case of failure.

[2016-10-04 21:06] Upabjojr commented on #11677
Better remove `.n()` in `findpow`, it might compromise the timing.

[2016-10-05 04:07] isuruf commented on #11684
Seeing jobs failing frequently now
https://travis-ci.org/sympy/sympy/jobs/164977570
https://travis-ci.org/sympy/sympy/jobs/164880234

[2016-10-05 04:32] ExpHP opened #11697 "diophantine: Parametrized solutions of ternary quadratics is incomplete"
Comparing solutions generated by brute force to those by sympy.

[code]

157 versus 10.  Alright.  To be honest, I wasn't too confident in my interpretation of the documentation of `parametrize_ternary_quadratic`, so I began trying increasingly weaker interpretations.  _Maybe the output order isn't necessarily `(x,y,z)`?_ Or, _since the signs and GCDs among (x,y,z) in the results don't seem to fol

[2016-10-05 05:40] ExpHP commented on #11688
Seems consistent with the rest of the output by `solveset`? It solves over the complexes (or a user-specified subset thereof), which does not contain infinity.  Furthermore, it does not solve for any variables besides the one requested. (so solving for `y` cannot produce a requirement on `x`; the result must become identically zero for all `x` in the specified domain).

[code]

[2016-10-05 07:37] bhrzbbk commented on #11683
In commit 29268d a condition is added which requires the `Point` object to be at least 2-dimensional.
[code]

Does it mean that we can close this issue?

[2016-10-05 09:38] latot commented on #11683
mm, i think its not solved, in some way yes, but the origin of this not, of the first place, why dim 1 is disabled? al leas to me don't have to much sense...

[2016-10-05 12:52] latot commented on #11688
Hi, seems we have two interpretations of solver concept, i think both are valid, so lets think this part by part, what is the difference?
In your interpretation, your question is, What value need take x to the expression can be true?
In my interpretation, What is the value in x in the system solution?

Now theoretically both should be equals, but don't is true in systems with infinite solution, so

[2016-10-05 13:16] latot commented on #11688
Second part, analyzing with ```UniversalSet```, it includes oo and -oo:
Yours exasmples in S.UniversalSet:
[code]
What should return? case by case:
[code]

Thx. Cya.

[2016-10-05 13:33] Upabjojr commented on #11677
May I suggest this kind of for-loop:

[code]
This would test all combinations of cases.

In particular, I wanna see if matrices containing symbolic expressions get sped up.

[2016-10-05 14:09] Lakshya1605 commented on #10961
I have submitted a pull request but i am getting " continuous-integration/travis-ci/pr — The Travis CI build failed "  please help me  @cbm755  @zanzibar7 .I am not pretty sure why this error is coming

[2016-10-05 14:51] zanzibar7 commented on #10961
When you submit a pull request to fix an issue, include the issue number ( #10961 ) in the request.  That way, a link to it will show up here.

I'm guessing we are talking about pull request  #11698.

Looks like you have a simple spelling error.  This would have been caught if you ran the test suite before submitting.  If you're in the terminal, working from the sympy home directory, run
[code]
to

[2016-10-05 18:19] Lakshya1605 commented on #10961
@zanzibar7  I am ran the command ./bin/test but i am getting test failed in "sympy/printing/tests/test_theanocode.py[27]" &"sympy/plotting/intervalmath/tests/test_interval_functions.py[24]"&"sympy/plotting/intervalmath/tests/test_intervalmath.py[7]" Though i have changed none of the this files Please help me.

[2016-10-05 19:24] Lakshya1605 commented on #10961
Thank you @zanzibar7  for your help .Pull request sent #11698

[2016-10-05 21:32] mon95 commented on #11677
I used something like this earlier today to try out various matrices (Removed the .n() in findpow() and used Matrix instead of SparseMatrix) :
`
def findpow(matrix, exponent):
    return (matrix ** exponent)

n = <some value>
A = Matrix(eye(n)).add(Matrix(ones(n))*random.randint(0,100)).add(Matrix(ones(n)) * random.randint(700,1000))
...
`

I used: A = Matrix([[a, 1, 0, 0], [0, a, 1, 0], [0, 0, a,

[2016-10-06 08:45] viditjain1 commented on #10610
is this issue solved?

[2016-10-06 10:01] krishnacharya commented on #11082
@asmeurer I was thinking of implementing the change by always calculating the general formula for the n*n Matrix then substituting the specific values of A00 A01 .. , should i proceed in this way

[2016-10-06 12:57] jksuom commented on #11684
It seems that the failure is generated in the following way.
[code]
`c*i*m` is recognized as a common factor of the first two expressions, and is marked as a candidate by writing it in the form `(c*i*m)**1` by [`update`](https://github.com/sympy/sympy/blob/master/sympy/simplify/cse_main.py#L316). It is later abandoned as a part of `c*g*i**2*m` and is left alone in `a*c*i*l*m`. When its expression

[2016-10-06 14:08] Lakshya1605 commented on #7358
Pull request  #11699 sent ,Please verify @asmeurer  and @tokencolour .Thank you.

[2016-10-06 15:45] Lakshya1605 commented on #11286
Is this still open if so i want to work on this.

[2016-10-06 15:55] krishnacharya commented on #11668
@sidgupta234 Are you still working on this?

[2016-10-06 17:23] leerobert commented on #10560
Here's another issue I came across with double negatives:

    2*4

    -(-8)

[2016-10-06 19:47] bhrzbbk commented on #11683
@smichr Why do we need to exclude the points in one-dimensional space?

[2016-10-06 19:51] nschloe commented on #2868
@asmeurer Bumped into this one as well. Google code is outdated, right? Should we reopen this one?

[2016-10-06 19:52] nschloe commented on #2868
This is now issue https://github.com/sympy/sympy/issues/4212.

[2016-10-06 20:19] asmeurer commented on #2868
There's https://github.com/sympy/sympy/issues/8430, but that's about the definite integral. So let's leave this open for the indefinite integral, which potentially separate.

[2016-10-06 20:20] asmeurer commented on #8430
See also https://github.com/sympy/sympy/issues/2868 for the indefinite integral

[code]

[2016-10-06 20:35] baoqchau commented on #11685
Can I work on this issue?

[2016-10-07 00:54] zanzibar7 commented on #2868
rewriting with `Piecewise` may do the job, but seems overkill to me.  Using `Heaviside` or `sign` keeps things algebraic.

[code]

[2016-10-07 01:30] asmeurer commented on #2868
We also need to consider if the result is valid for complex x.

[2016-10-07 07:39] sidgupta234 commented on #11668
Nope, I was waiting for his affirmation, which I didn't get.

[2016-10-07 09:01] jksuom commented on #11668
@sidgupta234  There is no need to wait for an affirmation. You can start working right away on any issue you are interested in.

[2016-10-07 09:48] Lakshya1605 opened #11700 "Summation not giving a finite answer"
summation(sin(x)/x,(x,1,oo)) is not giving a finite answer it is instead returning  Sum(sin(x)/x, (x, 1, oo))
.The answer according to wolframalha the answer is (pi-1)/2.(https://www.wolframalpha.com/input/?i=Summation&rawformassumption=%7B%22F%22,+%22Sum%22,+%22sumfunction%22%7D+-%3E%22sinx%2Fx%22&rawformassumption=%7B%22F%22,+%22Sum%22,+%22sumvariable%22%7D+-%3E%22x%22&rawformassumption=%7B%22F%

[2016-10-07 14:12] zanzibar7 commented on #2868
Alright.
[code]
which is not an analytic function, so any complex integral will be path-dependent.

[2016-10-07 15:54] Lakshya1605 commented on #11290
Is it still open if yes i would like to  work on this.

[2016-10-07 16:24] CodeMaxx commented on #10717
Closing this. The PR was merged.

[2016-10-07 16:24] #10717 closed

[2016-10-07 17:55] asmeurer commented on #11290
There is this PR, https://github.com/sympy/sympy/pull/11299, but I haven't seen any work on it. You might contact the author to see if he plans on finishing it, and if not, you can pick up the work.

[2016-10-07 19:21] Lakshya1605 commented on #11290
Even "dsolve((f(x)**2-(2*x))+((2*x*f(x))+1)*f(x).diff(x), f(x), simplify=False, hint='1st_exact_Integral').doit() " gives wrong result whereas" dsolve((f(x)**2-(2*x))+((2*x*f(x))+1)*f(x).diff(x), f(x), simplify=False, hint='1st_exact')" gives right result .This issue is happening maybe because in "1st_exact" first we are doing the the integration without substituting whereas in "1st_exact_Integral

[2016-10-07 19:30] Lakshya1605 commented on #11290
`Even "dsolve((f(x)^2-(2*x))+((2*x*f(x))+1)*f(x).diff(x), f(x), simplify=False, hint='1st_exact_Integral').doit() " gives wrong result whereas" dsolve((f(x)^2-(2*x))+((2*x*f(x))+1)*f(x).diff(x), f(x), simplify=False, hint='1st_exact')" gives right result .This issue is happening maybe because in "1st_exact" first we are doing the the integration without substituting whereas in "1st_exact_Integral"

[2016-10-07 19:47] govindlahoti commented on #10610
@viditjain1  No.
I am not working on this bug anymore. Sorry

[2016-10-07 20:15] asmeurer commented on #11290
Put ` on either side of your code to make it format correctly. See https://guides.github.com/features/mastering-markdown/

[2016-10-07 20:24] asmeurer opened #11702 "Make the releases in the release table links"
At https://github.com/sympy/sympy/releases, the items in the table should be links.

The table is generated automatically by `release/fabfile.py`.

[2016-10-08 05:20] latot opened #11703 "S("2.1") == Rational("2.1") is True??"
Hi, this is little weird:

[code]

only in case, as vpa shows, a don't is equal to b.
and this issue only happen with decimal expressions (in strings)

Thx. Cya.

[2016-10-08 05:45] latot opened #11704 "S("decimal") don't is created correctly"
Hi, like the last issue:
[code]

Thx. Cya.

[2016-10-08 12:42] MayankJhamtani commented on #11092
Should I try to implement a code to implement this, that is float inferring the precision from the argument. Or a precision of 15 for all arguments is alright?

[2016-10-08 13:41] ArifAhmed1995 commented on #11092
@MayankJhamtani It would be better to extract the `dps` from the mpmath float , rather than assume it to be 15 which the current code in `core.numbers` does.

[2016-10-08 19:23] b-mcg commented on #11703
S("2.1") creates a float which on my system has a precision of 53 which gives 15 digits.  When you call N(a, 100), you're asking for 100 digits which is why a is almost but not exactly correct.  Rational("2.1") creates an arbitrary precision Rational.  However, when you try to equate the two, Rational's _eq_ method is called which will set its precision to that of the float's.  Therefore, if both

[2016-10-08 20:00] asmeurer opened #11707 "a == b doesn't imply hash(a) == hash(b) for floats"
See https://github.com/sympy/sympy/pull/10657#r53846283.

[code]

I've written a blog post about things that can go wrong here (https://asmeurer.github.io/blog/posts/what-happens-when-you-mess-with-hashing-in-python/). You can already see, for instance

[code]

I don't know how to fix this.

[2016-10-08 20:03] asmeurer commented on #11703
N(a, 100) creates a new Float, which has higher precision:

[code]

With that being said, I think there really are some inconsistencies here, but maybe not in the parts you showed. Consider this:

[code]

This shows that float equality is not transitive. `a == b` and `b == N(b, 100)` does not imply `a == N(b, 100)`.  This isn't the only issue with float inequality (https://github.com/sympy/sympy/i

[2016-10-08 20:51] latot commented on #11703
mm, i think we can complement this to have a solution, basically if don't exist an easy fix to compare floats with rational if change the ```S()``` behavior, the idea is lock the comparison of it, and ```S('2.1')``` and  ```S('a*2.1')``` change automatically the decimals numbers to rationals.

Thx. Cya.

[2016-10-08 21:00] asmeurer commented on #11703
I'm having a hard time understanding exactly what you are saying, but if your suggestion is to make `S("2.1")` return `Rational(21, 10)`, then I think that's a bad idea.

[2016-10-08 21:06] latot commented on #11703
you understand it correctly, why its a bad idea? (sorry my bad english)

[2016-10-08 21:10] asmeurer commented on #11703
Just changing sympify doesn't solve the problem (you can still create floats in other ways). The only way it would really solve the problem would be to abolish Float entirely, which would be throwing the baby out with the bath water.

[2016-10-08 21:28] latot commented on #11703
mm, its a nice point, i think can help in some way but is true don't is a full fix.

[2016-10-08 21:50] latot opened #11708 "S("float") interpret string as real float"
Hi all, well, first to aclare this, this behavior is fine:

[code]

we are using floats so all fine, but now:

[code]

as you can see Rational returns correctly the string to number, but in the S case interpret it as float.

Only as a note, should be ideal `S('2.1*a')` transform the `2.1` to rational and then multiply with the a symbol..

Thx. Cya.

[2016-10-08 22:09] latot commented on #11703
mm, following your idea, if add to the overload of the equal operator something like:
```a == b and hash(a) == hash(b)``` in the return?

[2016-10-08 23:07] asmeurer commented on #11703
hash(a) == hash(b) need not imply that a == b. Hash collisions are a thing.

[2016-10-08 23:14] latot commented on #11703
yes, for that reason there is a ```and``` between them.

[2016-10-08 23:21] latot commented on #11703
its like ```equal(a, b) and hash(a) == hash(b)``` where ```equal``` is the actual function of equality.

[2016-10-08 23:21] asmeurer commented on #11703
I see. That would amount to making all floats unequal unless they are exactly equal, which would solve the problem, but I suspect there would be side effects. Perhaps we should try implementing this and seeing what breaks.

[2016-10-09 05:27] Lakshya1605 commented on #11702
I would like to work on this .Please can you elaborate on  what is expected .Thank You.

[2016-10-09 05:40] Lakshya1605 commented on #7827
Is this still open .If yes i would like to work on this issue.Thank you

[2016-10-09 05:50] Shekharrajak commented on #7827
@Lakshya1605 , go ahead. You can also use the PR #10444

[2016-10-09 07:06] asmeurer commented on #11702
The fabfile generates the release table. The items in the left column should be links to the downloads.

[2016-10-09 16:24] Lakshya1605 commented on #11702
@asmeurer  I have modified the code ,but i am not able to understand how to check it .Please Can you help me out.

[2016-10-09 18:38] Lakshya1605 commented on #11290
@asmeurer please review.

[2016-10-10 15:36] o-alexandre-felipe opened #11712 "Problem when solving binary diophantine (Pell) equation"
The function diop_solve finds two family of solutions for the equation y^2 + 12*(2*x + 1)^2 - y^2 = 3.
If a substitute the output value on the original equation and it is not satisfied for one of these families.

[code]

[2016-10-10 16:07] asmeurer commented on #11702
I'm not sure how to completely verify it without doing a release. I guess you can run the table command and check the resulting markdown. It may require running the other commands first (doing a fake release, see the release/README).

[2016-10-11 10:00] smichr commented on #11712
Are you using the most current version of SymPy?

[2016-10-11 13:03] o-alexandre-felipe commented on #11712
No I am used a version 0.7.5 shipped within python distribution, but I searched about the topic and I think this is not yet corrected. If I am wrong excuse me.
I can test it if there is some easy way to test with the latest version in a sandbox and without root privilleges.

[2016-10-11 18:08] asmeurer commented on #11708
I don't see the issue here. This is all expected behavior. S("2.1") creates Float("2.1") with the default precision (15). Rational("2.1") creates an exact rational number (21/10). If you want to create a float with higher precision you should use Float("2.1", 100). Perhaps it would be useful to you if sympify had a flag to control the precision of floats?

[2016-10-11 18:11] asmeurer commented on #11704
I don't see the issue here, nor how this is distinct from https://github.com/sympy/sympy/issues/11708. sympify creates floats using the default precision (15). A higher precision is automatically used if there are more than 15 digits, but in this case, there are only 2 digits.

[2016-10-11 18:17] asmeurer commented on #11700
Wolfram is able to compute the [partial sum](http://www.wolframalpha.com/input/?i=sum+sin(x)%2Fx,+x%3D1..infty&dataset=) using lerchphi. So likely some Meijer G rules for lerchphi are the key to computing this.

[2016-10-11 18:18] asmeurer commented on #11685
Go for it.

[2016-10-11 18:45] Lakshya1605 commented on #11702
@asmeurer  I am trying to follow to the release/README but i am getting this error "Fatal error: fabvenv is required. See https://pypi.python.org/pypi/fabric-virtualenv/"  when i run fab vagrant prepare,
I am not able to understand what to do .Can you please help me.

[2016-10-11 18:55] asmeurer commented on #11702
You'll need to install a few things to run the releases script, including fabric, fabric-virtualenv, and vagrant (and btw fabric requires Python 2). If you are unable to test the change you can just make a PR and I will test if it works.

[2016-10-11 19:43] jksuom commented on #11700
It is not necessary to consider the general lerchphi. A very special case (log) will suffice.

Writing `sin(n*x)/n` in the form `(exp(i*n*x) - exp(-i*n*x))/(2*i*n) = Im(exp(i*x)^n)/n` we see that
`Sum(sin(n*x)/n, (n, 1, oo))` is equal to the imaginary part of `-log(1 - exp(i*x))`, when `x` is real and `exp(i*x)` is different from 1 (necessary for convergence).
On the other hand, `1 - exp(i*x) = (1

[2016-10-11 19:48] asmeurer opened #11715 "Fix doc makefile to not rebuild svg files every time"
The docs Makefile should be fixed to use proper dependencies so that the svg files are not rebuilt every time it is run.

[2016-10-11 20:03] asmeurer commented on #11715
I'm specifically referring to this, from `cd doc; make html`

[code]

The logo should be fixed too (why is it forced to be regenerated each time?).

[2016-10-11 20:48] latot commented on #11708
Hi, i'll try explain this, and from this issue https://github.com/sympy/sympy/issues/11704 here, because have the same argument, basically its a concept of CAS and expected behavior, first examples of rational:
[code]
Interpreting in this context, if you send to a CAS a float should it works with it, its assumed the user don't care the minimal lost precision, but in the second example, the string

[2016-10-11 20:50] latot commented on #11708
I search in the doc: http://docs.sympy.org/dev/modules/core.html but i can't found if it says sympify use an approximation, so i think the logic has some sense.

[2016-10-11 21:11] asmeurer commented on #11708
I don't buy the argument that just because `Rational` returns a rational then so should `sympify`. You could just as well say that `S()` and `Float()` should return the same thing. I would expect passing a string to the the type constructors (`Float('2.1')`, `Rational('2.1')`) to convert it to that type. I don't think it has any interplay on what `sympify` does.

`sympify('2.1')` returns a Float b

[2016-10-11 23:35] latot commented on #11708
Hi, mmm, about the rational argument, is in a context, i know only thinking in it don't have to much sense, but in a precision CAS context is other thing, that point is the base of what i wrote.
To take a middle point, i think your idea of a flag to set the precision is nice, i'm imagining like:
[code]
Now one of the main conflict points, what should be the default value of precision?, i think we

[2016-10-11 23:56] latot commented on #11688
Note, i fix an example.

[2016-10-12 05:31] Lakshya1605 commented on #11702
@asmeurer Please Verify .

[2016-10-12 06:33] prateekg commented on #11677
Can't matrix power be calculated using the numpy.linalg.matrix_power(M, n) ?
{where M = square matrix, n = Integer}

[2016-10-12 07:18] prateekg commented on #11677
The 'if' statement for the integral power seems OK. We are looking to optimize the 'elif' statement ? @Upabjojr

[2016-10-12 07:36] Upabjojr commented on #11677
[code]

So I guess `m**100000` should be calculated symbolically, then have the exponent replaced by 100000.

It's OK, but it is too slow sometimes.

[2016-10-12 18:27] prateekg commented on #11677
Okay, so for simple int value passed, the pow() works slowly for big values while if the same value is passed symbolically as an expression it is calculated through Jordan_cells, which is quite efficient and faster.

So, if we find a way to replace the simple int value passed to be converted into some expression, it will solve our issue.

I guess my above assumption for solving the issue is correc

[2016-10-12 18:50] Upabjojr commented on #11677
Be careful, the Jordan cells algorithm might fail (e.g. if the solvers are unable to calculate the eigenvalues). We need to make sure there's always a fallback on the slow code.

[2016-10-12 20:06] madan96 commented on #11715
`rm -rf _build/logo`
`mkdir -p _build/logo`
`$(PYTHON) ./generate_logos.py -d`
@asmeurer Can you please explain the purpose of deleting logo and rebuilding it again?

[2016-10-12 21:36] latot commented on #11174
Hi, i want link this with this issue: https://github.com/sympy/sympy/issues/11688
basically both have a mix of concepts, i don't know why it returns  ```oo``` or ```-oo```, it only exist in ```UniversalSet``` not in ```Reals```, i try approach some of this conflicts in that issue.
[code]
Thx. Cya.

[2016-10-13 00:52] rlamy opened #11717 "dsolve(): classify_ode() is inefficient"
The docs claim:

"The idea is that there is a classify_ode() function, which takes in an ODE and tells you what hints, if any, will solve the ODE. It does this without attempting to solve the ODE, so it is fast." [source](http://docs.sympy.org/latest/modules/solvers/ode.html#module-sympy.solvers.ode)

but trying to match all possible hints is actually **not** fast. When profiling the [dsolve bench

[2016-10-13 13:50] rohitrango commented on #11715
I have a fix. It skips the building part if it sees the folder present there. Will it suffice?

[2016-10-13 13:53] Lakshya1605 commented on #7827
Please verify @asmeurer  @nicoguaro  @Shekharrajak

[2016-10-13 13:59] smichr commented on #11712
I'm closing this after running the following test:

[code]

[2016-10-13 14:01] #11712 closed

[2016-10-14 02:48] symbolique opened #11720 "Missing solutions or ZeroDivisionError in solve() with a system of polynomial equations"
Tested with Sympy version 1.0.

Consider these two slightly different systems of polynomial equations:
[code]

If you change k to be a specific positive value such as 1, both systems have 6 distinct solutions as expected:
[code]

But when k is a symbolic variable (or a symbolic constant such as pi), solve fails:
[code]

Replacing the constraint `c*x` with just `x` removes the two solutions where `

[2016-10-14 03:07] symbolique opened #11721 "abs(cosh(x)) should simplify to cosh(x) for real x"
Sympy 1.0 only simplifies in a limited set of cases:

[code]

[2016-10-14 03:55] symbolique opened #11722 "series() calculation up to O(t**k) returns invalid coefficients for t**k * log(t)"
Version: Sympy 1.0

## Description

The univariate expression `bad` defined below is `O(t**6 * log(t)**5)` around 0.

However, if we ask series() for an expansion up to order 5, spurious terms are returned instead of just `O(t**5)`:
[code]

They disappear when computing an expansion up to order 6:
[code]

Note that this time, all terms have the correct coefficients.

## Separating `t` and `log(t)`

[2016-10-14 08:19] Lakshya1605 commented on #11700
Is this still an issue ?,If yes how do we solve this(I would like to work on this)

[2016-10-14 12:16] jksuom commented on #11720
The solutions are algebraic functions of `k`, but SymPy currently lacks the ability to deal with algebraic function fields. (It falls back to the expression domain `EX`, which does not work well with `groebner`.) `_solve_reduced_system` should probably catch this before attempting to invoke `groebner`.

[2016-10-14 13:21] eho-eho opened #11723 "linsolve never completes"
I've ran this in a sympy shell (output below) and on my computer and linsolve never completes for the following problem:

Error: Operation timed out.

[2016-10-14 13:36] kshitij10496 commented on #11683
@bhrzbbk Can you open a PR with your fix for this issue ?

[2016-10-14 15:40] asmeurer opened #11725 "Rewrite release script"
The release script could use some rewriting. The things it does now work, but it has some issues:

- It uses fabric, which is Python 2 only.
- It provisions a VM that only has Python 2.

We should rewrite it with something that supports Python 3, both on the VM and for the user. It may also be better to use Docker than Vagrant.

[2016-10-14 16:10] nicoguaro opened #11726 "pde_separate does not allow expressions as input"
If I enter an equation to `separate_pde` it works

[code]

returning `[Derivative(T(x), x, x)/T(x), Derivative(X(t), t, t)/X(t)]`

But if I try to input an expression it fails

[code]

Since `pdsolve` admit both inputs, I think that this is not consistent behavior.

[2016-10-14 19:52] asmeurer opened #11727 "RuntimeWarning: divide by zero encountered in true_divide in lambdify tests"
[code]

The RuntimeWarning should not be printed. We might want to make them cause an error in the tests.

[2016-10-14 20:00] asmeurer commented on #11717
Is there a specific hint that is slow?

I agree that for `default` it shouldn't waste time checking hints beyond the first match.

[2016-10-15 14:26] latot opened #11730 "Union(FiniteSet(oo), S.Complexes) gives S.Complexes (should remain unevaluated)"
Hi, well searching i found this:

[code]

i don't know with this where `oo` belongs, is part of Complexes or not?

Thx. Cya.

[2016-10-15 16:43] latot opened #11731 "Interval(oo, oo) == {oo} (should be EmptySet)"
Hi again, well, i'm little confuse of the conditions to take or not `oo` in some sets:

[code]

First the means the interval is created excluding `oo` and `-oo`, and interval interpret it in that way, but now:

[code]

Here is a little conflict, in first place Interval show don't take `oo` but now it is there? in some way is fine to have a way to can represent the `oo` from Interval.

Now from thi

[2016-10-15 16:50] latot opened #11732 "Fails operators between Interval and some S.Sets"
Hi, here the problem:
[code]

For now i found this in Contains function, this can exist in others, so for now this is all.

Thx. Cya.

[2016-10-16 11:15] rohitrango commented on #11715
Please review my changes. #11735

[2016-10-16 20:06] rohitrango commented on #11732
As of now, modifying the `_contains` function of the `fancysets` seems to resolve the issue to some extent. But since they all seem to inherit from the `Sets` and `Singleton` class. Since I'm a newcomer, can someone guide me a bit?

Here's the temporary fix as of now.
![sympy_fix](https://cloud.githubusercontent.com/assets/15312514/19420493/11f3b078-940a-11e6-9447-8da3e1d85383.png)

[2016-10-16 22:25] rohitrango opened #11736 "Interval inside intervals"
I'm getting undesirable results in the following cases (only the 4th case is true) -
[code]

But we can definitely say that one interval lies inside the other.  Basically we are not checking whether an interval lies inside another interval or not.

[2016-10-17 01:48] asmeurer commented on #11721
I think to make it work in general `cosh(x).is_positive` should be True. It's strange that simplify works. It must be attempting some rewrites that cause it to reduce (like `rewrite(exp)`).

[2016-10-17 02:34] asmeurer opened #11737 "diff should return Derivative instances when they can"
It's confusing to allow `diff(f(g(x)), g(x))` but not actually return that:

[code]

If the derivative can be expressed without `Subs`, it should.

[2016-10-17 05:22] YodelingPenguin commented on #11736
Is that because 'in' is a shortcut of method contains? And 'contains' returns True if ‘other’ is contained in ‘self’ as an element.

Hence, when you do in for interval or set, it will always return a False?

[2016-10-17 06:12] rohitrango commented on #11736
Yes. I was just about to start work on it, but I don't know whether this is desirable or not. I would like a word or two from the admins on the same.

[2016-10-17 06:33] jksuom commented on #11732
`Interval(1, 1)` and `set([1, 2, 3, 4])` are not integers although `FiniteSet(1)` and `FiniteSet(1, 2, 3, 4)` are subsets of `S.Integers`. Therefore also 10 and 11 should be `False`.

[2016-10-17 06:35] rohitrango commented on #11732
Sympify function converts them to the FiniteSet class.

[2016-10-17 07:20] jksuom commented on #11732
The word 'contains' may be confusing. In SymPy, 'S contains x' means that x is an element of S. The word is often also used to indicate the subset relation, like 'S contains A' meaning that A is a subset of S, but that is not how it is used in SymPy.

So, if x is an element of S (or `x in S`), then the set {x} is a subset of S  but not an element of S.

(The sympify function has no role in this.)

[2016-10-17 07:25] rohitrango commented on #11732
Alright. Perhaps we can have some other function that tells whether it is a subset or not.

[2016-10-17 07:35] jksuom commented on #11732
There is the method `is_subset` in the 'Set` class.

[2016-10-17 07:39] rohitrango commented on #11732
Thanks! As of now, I'm running the tests and will soon send a PR. Thanks for the help. I'm a newcomer, and I'm really glad by the support I'm being given. Thanks again :smile:

[2016-10-17 08:03] rohitrango commented on #11736
Closing this after @jksuom recommended me to use the `is_subset` function and the understand the correct interpretation of `contains` (to be used for elements and not for subsets). Refer this #11732

[2016-10-17 08:03] #11736 closed

[2016-10-17 09:22] WoosterUK opened #11739 "solve(Eq(sin(a*x),cos(x)),x)"
Running the above command: in Python 3.4, SymPy produces the correct answers, `[-I*log(-(1 - I)/(1 + I))/(a - 1), -I*log(-(1 - I)/(1 + I))/(a + 1)]`, along with two incorrect ones, `[pi, pi/a]`; in Python 2.7, this works fine and does not produce the erroneous answers.

[2016-10-17 10:21] SeanRBurton opened #11740 "Sympy is unable to simplify Eq(1/x, 0) to False"
I don't know if this ommission is indended to account for the possibilty that x equals infinity, but it seems unfortunate.

[2016-10-17 10:53] isuruf commented on #11737
Isn't that all of them? What are some expressions that cannot be expressed without `Subs`?

[2016-10-17 11:34] adamasstokhorst opened #11741 "SymPy not working with Jython"
There are several issues with it:
- Using setup.py install, sympy throws "Method code too large!"
Excluding the .py files causing that fixed this, since I don't think it was necessary for my use. Those .py files are: sympy\polyquinticconst.py, sympy\polys\bench_solvers.py, sympy\physics\quantum\test_spin.py
Afterwards, it tries to install mpmath, which also throws an error (can't remember the exac

[2016-10-17 14:52] YodelingPenguin commented on #11736
Actually, I'm wondering if it is good option to make 'in' a more general method. So it will return True if ‘other’ is contained in ‘self’ as an element or as a set?
What do you think?

[2016-10-17 14:59] rohitrango commented on #11736
I thought it at first, but realized it is not a good idea. We already have other methods for that, and making a more general function may sometimes be undesirable.
That's the reason I closed the issue.

[2016-10-17 15:39] YodelingPenguin commented on #11736
Yeah, I agree with you. Thanks!

[2016-10-17 19:27] Upabjojr opened #11742 "integrate cannot solve integral, but Meijer int can"
Definite form can be solved by `meijerint_definite`. Apparently not linked from `integrate`:

[code]

16⋅π is the correct result.

[2016-10-17 19:41] saeedghsh opened #11743 "geometry module - sympy.Circle.rotate failure"
Hello,
[code]
Salute,
Saeed.

[2016-10-17 19:57] ArifAhmed1995 commented on #11739
Well for me , both Python 2 and 3 return the extra incorrect answers :
[code]
Using a debugger , I guess the problem lies in `f = factor(powdenest(lhs - rhs))` line of the `_tsolve` function in solvers.py. After this line executes factors : `(1 + exp(I*x))` and `(1 + exp(I*a*x))` appear along with others containing correct solutions.

I'll come back to this issue soon after my mid-semester exams g

[2016-10-17 19:59] ArifAhmed1995 commented on #11739
@WoosterUK By the way, how did you installed sympy ? I reckon you didn't a global install for both Python 2 and 3, otherwise the issue would rise up for both versions.

[2016-10-17 21:20] asmeurer commented on #11737
Derivatives can only be taken with respect to a symbol or a function. Taking derivatives of more complex expressions is not allowed (see http://docs.sympy.org/latest/modules/core.html#sympy.core.function.Derivative). So a simple example would be

[code]

[2016-10-17 21:24] asmeurer opened #11744 "Category theory module Xy-pic diagram label placement could be better"
Here is an example, from the SymPy paper: ![screen shot 2016-10-17 at 5 23 12 pm](https://cloud.githubusercontent.com/assets/71486/19456229/72d4464e-948e-11e6-8eb1-5f90c05ec33e.png)

The Xy-pic code for this is

[code]

I do not know the SymPy code to generate it (CC @scolobb).

As you can see, the labels for some of the arrows are covered up. The would be better placed on the outside.

[2016-10-18 08:40] WoosterUK commented on #11739
No, I installed python2, then sympy (using pip, I think), then python3, pip3 and then sympy for python3. In python2, I was using sympy 0.7.6.1. I have upgraded to sympy 1.0, and the bug now appears! So not a python3 issue, but a sympy 1.0 issue.

[2016-10-18 15:14] abhimnc commented on #11636
@Lakshya1605     another newbie here ! Have you made progress on this issue ? If not then I want  to solve this issue .

[2016-10-18 17:31] asmeurer commented on #11684
Do we have a fix for this? If not, let's revert the PR. @smichr

[2016-10-18 19:20] Upabjojr commented on #11636
LaTeX printers are easier. Just re-adapt the code from matrix/list printers.

[2016-10-18 22:03] asmeurer opened #11745 "TypeError: __new__() missing 1 required positional argument: 'cond' with solve"
Reported at https://stackoverflow.com/questions/40082924/error-when-using-sympys-solver-on-polynomials-with-complex-coefficients-4th-de

[code]

gives

[code]

In Python 3 the error is

[code]

which suggests that the object is a Piecewise. The code in question should be using `expr.func` instead of `type(expr)`, but even then, it isn't passing in the `args` correctly.

[2016-10-19 00:11] liamlundy commented on #11636
This isn't quite that simple. The array you gave in the example would be easy to print as it has 1 dimension, but other possible arrays could have many more dimensions. This means there would have to be a concise way of print an array of more than 2 dimensions. Although 3 is possible to visualize, there isn't an immediate way to print and anything with more than three dimensions would require tech

[2016-10-19 01:19] rlamy commented on #11717
In absolute terms, all the hints are equally slow since they spend the same time in `classify_ode()`, though `'all'` and `'best'` are as fast as they can be in that respect, since they do need all the computations done by `classify_ode()`. In relative terms, the faster `_helper_simplify()`, the worst the slow-down.

[2016-10-19 18:30] asmeurer commented on #11707
So apparently the CPython implementation gets this right (at least as far as I can tell in testing)

[code]

Note that 1.1 is not an exactly representable floating point number:

[code]

So we should look up the algorithm that CPython uses and see if it can be adapted for Float and Rational.

[2016-10-19 18:31] asmeurer commented on #11707
Here are the implementation details https://docs.python.org/3/library/stdtypes.html#hashing-of-numeric-types. We should, if possible, use the same implementation, so that `hash(SymPy type) == hash(equal Python type)`. Perhaps we just need to call some standard library functions in our hash implementations.

[2016-10-19 22:20] asmeurer commented on #11614
https://github.com/sympy/sympy/pull/11714

[2016-10-19 22:20] #11614 closed

[2016-10-19 22:31] khan08 commented on #11727
Hi I'm new here. Can I work on this? Seems like I should be able to figure this out if I dig around.. Any suggestions is appreciated

[2016-10-20 02:44] charlesfamu commented on #10560
This as well:
[code]

[2016-10-20 07:46] andres-ordonez opened #11746 "undesired (wrong) substition behavior in sympy?"
I'm getting this undesired behavior in sympy

In [1]: x = sy.var('x', real=True)

In [2]: (1/x).subs(x**2,1)
Out[2]: 1

Clearly, this should not be the case. Out[2] should be 1/x. Am I missing something or is this a bug?

[2016-10-20 08:59] Upabjojr commented on #11636
Just print it as nested lists. Or, print it as a nested list except for the last two dimensions, which can be printed as a matrix.

[2016-10-20 14:51] khan08 commented on #11746
I think it should be 1 instead of 1/x. The first argument is the variable and the second is the substitution. So your substituting x when x**2=1. If you try (1/x).subs(x**2,4), you will get 1/2.

[2016-10-20 15:25] andres-ordonez commented on #11746
The problem is that when x**2=1 x can be either 1 or -1. The subs method is assuming x is positive.

[2016-10-20 21:29] asmeurer commented on #11707
I don't know if the hashing need work, but we are definitely being too lax with equality:

[code]

So we have `a == b` and `b == c`, but not `a == c` (`a = Rational(11, 10)`, `b = S("1.1")`, `c = Rational(S("1.1")) = Rational(2476979795053773, 2251799813685248)`), breaking transitivity. The hash values are all different by the way:

[code]

So there are two issues here. First, `Rational(11, 10) ==

[2016-10-20 22:46] rohitrango commented on #11721
I would like to work on it. What is a good place to start?

[2016-10-21 08:41] jksuom commented on #11732
#11738

[2016-10-21 08:41] #11732 closed

[2016-10-21 14:35] jksuom commented on #11707
It seems to me that comparisons of floats should be made on the `_mpf_` parts alone. So,
`Float("1.1", 2)` and `Float("1.1", 10)` would be different.

On the other hand, floats that have the same `_mpf_` part should be equal (among themselves and also to the representing rational number) regardless of the recorded precision (assumed sufficient for the representation).

[2016-10-21 19:14] asmeurer commented on #11707
I think I agree. Incorporating the precision into the hash in a consistent way seems impossible. And furthermore, Floats with different precisions *already* compare equal (`Float.__eq__` just looks at the `_mpf_` when comparing to other Floats). So the TODOs then are:

- [ ] Fix the hashing of floats and rationals to be consistant (use the algorithm described in the CPython docs). This includes re

[2016-10-21 22:44] rohitrango commented on #11743
#11752

[2016-10-22 13:09] jksuom commented on #11707
On the implementation of hashing.

In CPython, hash is first defined for rational numbers, and the hash value of a floating point number is defined as the hash of its rational representative. This is how it should also be implemented in SymPy. mplib's `to_rational()` function can be used to efficiently transform an mpf to a (p, q) pair.

Currently, hash values of `Basic` objects are derived from t

[2016-10-22 14:17] isuruf commented on #11106
This was probably due to a broken python install and it is now fixed.

[2016-10-22 14:17] #11106 closed

[2016-10-22 18:26] Lakshya1605 commented on #11745
I would like to work on this, could someone please tell me what is expected to be done.Thank you

[2016-10-22 19:13] Lakshya1605 commented on #11742
I would like to work on this issue can you please elaborate on what is expected .Thank you

[2016-10-22 22:29] asmeurer commented on #11707
I think we should copy it, so that the hash is the same for built in floats and ints, since we compare equal to them as well.

[2016-10-22 22:30] asmeurer commented on #11745
You'll need to debug the problem to see what is going wrong.

[2016-10-23 01:58] asmeurer commented on #11737
Related bug, which will probably need to be fixed at the same time https://github.com/sympy/sympy/issues/7027

[2016-10-23 02:29] latot opened #11755 "Limit in Multivar don't is calculated correctly - limit(x*y, x, oo)"
Hi, well actually the limit function works nice with 1 var function, but with multivar is returning other thing, first an example, and technically this issue is valid to any func woth more than 2 vars, (>=2):
[code]
So, if you don't know what represent ```y``` you can't know the limit, because you don't know the relation or tendency, an example, what happen if y is 0?, the limit is 0 then the resu

[2016-10-23 02:40] latot opened #11756 "integrate don't return constant"
Hi all, well the actual integrate function don't returns the constant:
[code]
obvs, if the user send an interval of integration shouldn't exist the constant.

Well, would be great return a constant with the 'constant' assumption proposed here https://github.com/sympy/sympy/issues/8760
And maybe can choose in the integrate the constant name...

Thx. Cya.

[2016-10-23 03:06] rlamy opened #11757 "Instantiating Piecewise((a, Eq(x, y)), (b, True)) is extremely slow"
Another issue (after #11717) found by looking at the [dsolve() benchmark](https://github.com/sympy/sympy_benchmarks/blob/master/benchmarks/dsolve.py): constructing Piecewise instances of the form `Piecewise((a, Eq(x, y)), (b, True))` takes way too long.

To demonstrate the problem, here's [a simple benchmark](https://gist.github.com/rlamy/810ee71df6a6b2d426e63386637742b6). I get timings of ~45 ms

[2016-10-23 04:20] xuhdev commented on #8575
Can you close this? It should have been fixed now.

[2016-10-23 04:22] xuhdev commented on #8262
Can you close this issue? This has been fixed now.

[2016-10-23 07:06] Lakshya1605 commented on #11745
@asmeurer  as it has been mentioned in stackoverflow that "sym.solvers.solve(expr2, k, rational =False)" gives the result .Do we want  "sym.solvers.solve(expr2,k)" to also give the  same result

[2016-10-23 07:25] asmeurer commented on #11745
Yes.

[2016-10-23 07:45] jksuom commented on #11707
That is a good point.

[2016-10-23 09:59] Upabjojr commented on #11742
Well, I corrected the example. The definite integral should return 16⋅π, but it doesn't.

There is a SymPy integration algorithm that is able to calculate it (`meijerint.meijerint_definite`).

I have currently no idea on whether this is a simple or hard issue to solve.

[2016-10-23 13:21] jksuom commented on #11707
The implementation of `hash()` is different in Python 2.7 (see https://docs.python.org/2/library/numbers.html#notes-for-type-implementors), and the new one was introduced only in Python 3.2
(http://bugs.python.org/issue8188). This makes it harder to directly copy the algorithm as long as 2.7 is supported. (Maybe we should use the hash values provided by Python.)

[2016-10-23 19:27] moorepants commented on #8262
I get this in master:

[code]

[2016-10-23 19:27] #8262 closed

[2016-10-23 19:28] moorepants commented on #8575
Fixed in master. SymPy live will get updated when it gets updated.

[2016-10-23 19:28] #8575 closed

[2016-10-23 23:10] moorepants opened #11759 "The use of sets in solveset makes it very clumsy to get a dictionary of solutions"
An extremely common use of `solve` is to solve a system of equations and then substitute the results back into the original expressions. Here is an example of how one has to create the dictionary for subs from a linsolve result:

[code]

A dictionary comprehension can also be used. Why isn't there an option to return a dictionary? For an end user this API is not very pleasant to use. In general re

[2016-10-23 23:54] moorepants opened #11760 "solve fails to find roots of polynomial, whereas solveset does"
See this notebook near the end:

http://nbviewer.jupyter.org/github/moorepants/eme150a/blob/master/content/materials/notebooks/superposition_and_max_deflection.ipynb

`solve` will find the solution for `theta_AB` but not `theta_BC`.

[2016-10-24 04:43] Alsheh commented on #11756
Hi,
I'm new here.  I would be glad to work on this issue. However, I am not sure what the proper way of implementing your proposal is. Consider the following two scenarios:

1- The constant would be defined as a symbol in the integrate() function and returned as shown below. Also, the user would be able to choose the name of the constant when calling the integrate() function:
[code]

2- The user m

[2016-10-24 09:46] jksuom commented on #11742
[This test](https://github.com/sympy/sympy/blob/master/sympy/integrals/integrals.py#L465) will not allow the use of `meijerint_definite` unless at least one of the limits is infinite. This restriction should probably be removed.

[2016-10-24 12:21] latot commented on #11756
Hi thx for you helping here, you interpret in the right way, now thinking a little, i think would be better instead set a constant name set a prefix name, and the value will be enumerated like:
[code]
In some way i would prefer can set  a constant from the integrate function, but how we can't control the grade of the integration that will do a mess in a grade more than 1.

So maybe we can add an e

[2016-10-24 13:00] rohitrango commented on #11743
@saeedghsh I think the issue can be closed now.

[2016-10-24 13:31] #11743 closed

[2016-10-24 13:40] latot commented on #11740
Hi, i think it shouldn't ne simplified in that way, basically for this reasons:
  * Do this will break any non continuos function equality, you even can't solve or work with this eqs
  * While the domain don't will be specified x can be anything, including oo and -oo, and it belongs to UniversalSet, and is used in other sets too.

Only yo show an example:
[code]
As you can see the expressions in m

[2016-10-24 14:55] latot commented on #11605
Hi, simplified version:
[code]

Thx. Cya.

[2016-10-24 15:05] latot commented on #11756
Note, i think if constant don't is passed, the default value should be "C", to do the same behavior as ```dsolve```.

[2016-10-24 17:04] Lakshya1605 commented on #11745
@asmeurer  how to check whether a given expression is entering into a particular loop of sympy,solvers module .
If i change the code in the loop (in solvers module) to something like "print "inside the loop"" i get an error .Can you please help me out.

[2016-10-24 18:25] asmeurer commented on #11745
What error do you get?

[2016-10-24 18:42] asmeurer commented on #11707
I agree we should just call `Fraction.__hash__`, although for performance purposes it may be advantageous to call `float.__hash__` if the float is within range (we'd have to test this).

[2016-10-24 19:27] Lakshya1605 commented on #11745
File "/home/lakshya/sympy/sympy/solvers/solvers.py", line 1030
    print " in the loop"
                       ^
SyntaxError: invalid syntax

[2016-10-24 19:29] asmeurer commented on #11745
You need to put parentheses, like `print("in the loop")`.

[2016-10-24 19:31] Lakshya1605 commented on #11745
It working Thank you .

[2016-10-24 23:03] latot opened #11762 "diff don't works correctly in sums"
Hi all, well here is:

[code]

Thx. Cya.

[2016-10-25 01:03] jjdredd commented on #11605
no matter how you simplify the test, devs aren't fixing the bug. thanks anyway

[2016-10-25 02:09] latot opened #11763 "dsolve should be able to set a prefix constant and fix behavior"
Hi all, following this https://github.com/sympy/sympy/issues/11756, i think dsolve should be able to set a constant prefix, and continue using "C" as default, because its too normal use that names and the actual behavior is too... undefined:

[code]

dsolve os changing the user symbols......

So resuming:
- Improve a constant prefix for the user
- Fix behavior when constant is defined

Thx. Cya.

[2016-10-25 06:29] aananko opened #11764 "plot option aspect_ratio has no effect with matplotlib backend"
[code]

gives an ellipse instead of circle.

[2016-10-25 14:52] aheyman11 commented on #11435
Hi, I'm a new contributor interested in working on this issue. I think that I should be able to fix it, and I've read through the previous pull request and understand why that approach did not work.

[2016-10-25 14:54] parsoyaarihant commented on #11435
hi @aheyman11 , you can go ahead if you have fix for the bug.

[2016-10-25 14:55] aheyman11 commented on #11435
Thanks @parsoyaarihant, working on it now.

[2016-10-25 18:45] asmeurer commented on #11707
I think I agree. Incorporating the precision into the hash in a consistent
way seems impossible. And furthermore, Floats with different precisions
*already* compare equal (`Float.__eq__` just looks at the `_mpf_` when
comparing to other Floats). So the TODOs then are:

- [ ] Fix the hashing of floats and rationals to be consistant (use the
algorithm described in the CPython docs). This includes re

[2016-10-25 19:26] asmeurer opened #11768 "nsolve wrong result"
[code]

Here's a plot of the function in question. As you can see, the root should be around 0.7.

![8pzjlzvm767vqaaaaasuvork5cyii](https://cloud.githubusercontent.com/assets/71486/19700941/503fa83c-9ac7-11e6-8f51-76ce5bfd4441.png)

[2016-10-25 19:27] asmeurer commented on #11768
Using a different solver gives the right answer:

[code]

[2016-10-25 20:34] Lakshya1605 commented on #11742
@jksuom @Upabjojr After i removed the line "(xab[1].has(oo, -oo) or xab[2].has(oo, -oo))" then the test of "test_integral.py" is running forever. Though i have changed nothing in "test_integral,py". I am not understanding what is wrong .

[2016-10-25 21:03] Upabjojr commented on #11742
@Lakshya1605 I usually run the tests in debug mode to find the reason problems occur.

[2016-10-26 06:08] asmeurer opened #11770 "Possible to compute algebraic integrals with (transcendental) risch algorithm?"
I had discussed this privately with @jksuom a bit.

The currently implemented Risch algorithm only works with purely transcendental extensions. The code explicitly bails when an algebraic extension such as `exp(log(x)/2)` (`= sqrt(x)`) is encountered (except when it can be represented as a rational function, e.g., `exp(log(x)*2)` works just fine, and is automatically converted to `x**2`).

However

[2016-10-26 09:27] rancomp opened #11772 "Integral (fourier) transforms not evaluating distributions correctly"
Trying to calculate the (continuous) fourier transform of a distribution (e.g. 1, sine, cosine...) returns 0 as indeed this functions are not integrable.

As one would benefit greatly if the fourier_transform would deal with distributions aswell (easy example; figuring out main frequncies of a given expression) I think we would all benefit if this would be 'fixed'.

code example
[code]

[2016-10-26 09:32] #11772 closed

[2016-10-26 09:59] Lakshya1605 commented on #11742
@jksuom @Upabjojr after  modifying  code as mentioned above i am not sure why
"def test_limit_bug():
    z = Symbol('z', zero=False)
    assert integrate(sin(x*y*z), (x, 0, pi), (y, 0, pi)) == (log(z**2) + 2*EulerGamma + 2*log(pi))/(2*z) - \
        (-log(pi*z) + log(pi**2*z**2)/2 + Ci(pi**2*z))/z + log(pi)/z)"
Takes infinite time when i run "./bin/test " on "test_integrals.py", whereas it gives "

[2016-10-26 11:41] jksuom commented on #11742
There seems to be no problem when integrating over `x`.
[code]
Also, the antiderivative of `f` wrt `y` is can be found.
[code]
However, `g` cannot be directly evaluated at `y = 0` but the limit has to be taken.
[code]
This is the weak point of `meijerint_definite()`. The main integration function will take the limit if the substitution does not work, but `meijerint_definite()` apparently cannot do

[2016-10-26 14:35] Lakshya1605 commented on #11742
@jksuom is their any inbuild function to check the above or should i substitute the limits in the integrand and check that none of them  goes to infinity  and -infinity?

[2016-10-26 15:39] jksuom commented on #11742
I would start by substituting a limit and scanning the result for infinities and nan, though it is not guaranteed that this would solve the issue. That can be only found out by experimenting. It is possible that something else has to be modified as well.

[2016-10-26 16:03] Abdullahjavednesar commented on #11677
@Upabjojr it seems that the first algorithm works fine within a particular threshold value and beyond that the Jordan algorithm works better. So can I code it such that within the threshold first algorithm is executed else Jordan method(I'll see to it that it falls back to the first algorithm in case failure ).

[2016-10-26 16:20] prateekg commented on #11677
@Abdullahjavednesar  @Upabjojr  Instead we will calculate the threshold value first (which will take signigicant for computation), we can directly compute using Jordan Method and can fall back to first algorithm in case it fails to compute the eigen values.

[2016-10-26 16:34] Lakshya1605 commented on #11742
@jksuom  Still facing the same problem  not able to understand why this is happening

[2016-10-26 16:40] asmeurer opened #11775 "TypeError: unorderable types: PolyElement() < mpz() from factor_list"
[code]

Note that you need to use Python 3 to reproduce this error.

[2016-10-26 16:46] asmeurer commented on #11775
The problem is that `_sorted_factors` doesn't handle non-numeric coefficients. Is there a key function in the polys to sort PolyElements?

[2016-10-26 16:50] asmeurer commented on #11775
PolyElement has a sort_key() method. But how should it be applied in `_sorted_factors`?

[2016-10-26 16:59] asmeurer opened #11776 "jn(0, 0) giving nan"
Reported at https://stackoverflow.com/questions/40232986/spherical-bessel-transformation-using-sympy

`jn(0, 0)` remains unevaluated, but `jn(0, 0).rewrite(besselj)` and `jn(0, 0).evalf()` both give `nan`. The answer should be 1.

[2016-10-26 17:04] asmeurer opened #11777 "assume_integer_order in bessel.py should be more liberal"
Right now things like `jn(nu, x).rewrite(besselj)` won't work unless you explicitly set `nu = Symbol('nu', integer=True)`. It should be more liberal, only failing if the argument is not an integer. In general, SymPy should not require the correct assumptions to be true, only for the incorrect assumptions to not be True.

As a side note: I'm unclear why this has to require nu be an integer. Aren't

[2016-10-26 17:31] jksuom commented on #11775
One of the factors has integer coefficients while the others have polynomial coefficients:
[code]
A possible workaround is forcing all coefficients to be polynomials:
[code]
It seems that `domain` should be internally added to all factors before sorting. Otherwise, it may be hard to prepare for different types of coefficients.

[2016-10-26 17:59] smichr commented on #11768
`nsolve` only uses the numerator of the expression...and the numerator is close to zero at the reported root so it fools the solver.

[2016-10-26 18:09] moorepants opened #11778 "Beam isn't able to solve for reactions"
[code]

returns

[code]

@sampadsaha5

[2016-10-26 18:10] moorepants opened #11779 "Singularity function powers do not print correctly in the qtconsole"
[code]

![selection_058](https://cloud.githubusercontent.com/assets/276007/19738592/d9e1e172-9b6c-11e6-916a-b7e96a4f4926.jpg)

@sampadsaha5

[2016-10-26 18:41] Upabjojr commented on #11677
I wouldn't use the algorithm with the Jordan form of small powers like `A**2` or `A**3`. Besides, the Jordan form tends to give a rather messy result.

The point is simple: expressions like `A**100000` tend to hang up forever.

[2016-10-26 19:06] asmeurer commented on #11768
So we should probably make it not just use the numerator. Numerically, the denominator can be significant if it is near 0 where the numerator is.

[2016-10-27 09:22] parsoyaarihant commented on #11777
Some tests are failing as the assumption of having an interger parameter is removed.
[code]
Should I change the test in this case?

[2016-10-27 17:29] asmeurer commented on #11777
We should double check the result.

[2016-10-27 21:13] certik opened #11782 "Improve calculations of Lobatto points"
Per @nschloe comment in https://github.com/sympy/sympy/pull/11728#issuecomment-256768504:

[2016-10-27 21:19] certik commented on #11782
Those papers seem to discuss double precision calculations of those points, and require some linear algebra, like eigenvalues. The SymPy implementation works with arbitrary precision, so the we specifically chose a very simple algorithm that can robustly compute high precision answers.

@nschloe, do you know how to extend the algorithms that you mentioned to arbitrary precision? There are arbitrar

[2016-10-27 21:38] nschloe commented on #11782
Tough call! Most of the computations involve eigensolves of some sort, and I'm not sure about the implications for mpmath. There's always something like [this](http://keisan.casio.com/exec/system/1280801905), but given that we're already root-finding, this might not be a big improvement.

[2016-10-27 21:59] certik commented on #11782
I think the root finding algorithm can be improved, since it's currently using a bisection (https://github.com/sympy/sympy/blob/10093a14164d6113725e4d962033a5c87b33eff8/sympy/polys/rootoftools.py#L674), which is robust, but not very fast. One can probably do some other improvements. The challenge was to provide an algorithm, that gives the right answer.

Regarding eigenvalues --- mpmath seems to b

[2016-10-28 03:30] smichr commented on #11782
Would the "anderson" method work better for these roots?

[2016-10-28 03:39] smichr commented on #11768
It's probably better to make nsolve just use whatever function it is given and leave the choice of what function to use (numerator or rational expression) up to the user. The problem with leaving a denominator is that the singularities often cause problems for root solvers. But sometimes, as here, you get problems if you ignore the denominator.

[2016-10-28 13:57] smichr commented on #11768
tests are running on my nsolve branch...

[2016-10-28 14:00] smichr commented on #11768
If you look at the numerator of the expression you used you can see that it has a very different derivative structure than the full expression:

![image](https://cloud.githubusercontent.com/assets/90703/19808996/dbed6870-9cec-11e6-9338-077331bb0c57.png)

[2016-10-28 16:37] Lakshya1605 commented on #11742
@jksuom  @Upabjojr will it be correct if i just allow the use of meijerint_definite() only when the integrand is well defined at the limit points and when integration is based only on single variable("ie . len(self.limits) == 1")

[2016-10-28 18:28] moorepants commented on #11779
This is also the case in the notebook:
![selection_069](https://cloud.githubusercontent.com/assets/276007/19817720/aa91d698-9d01-11e6-9716-4604b1c16cf9.jpg)

The latex printer simply needs to have curly braces around the exponent.

[2016-10-28 18:44] jksuom commented on #11742
`meijerint_definite()` is always concerned with integration over a single variable only. Hence it seems to me that the number of limits in the original integral is irrelevant, and should not be taken into account, only that the (possibly intermediate) integrand is well defined.

Ideally, `meijerint_definite()` should be fixed to not fall into infinite recursion (as it seems to be doing) under any

[2016-10-28 19:18] Lakshya1605 commented on #11742
@jksuom  Can  please tell me how to "integrate(1/(1 + x + y + z), (x, 0, 1), (y, 0, 1), (z, 0, 1))" using  "meijerint.meijerint_definite " if i directly try "meijerint.meijerint_definite(1/(1 + x + y + z), (x, 0, 1), (y, 0, 1) ,( z, 0 ,1))" i get an error " unsupported operand type(s) for -: 'tuple' and 'tuple'" and if try step by step that is first integrating with respect to x then y then z then

[2016-10-28 22:01] nicoguaro commented on #11782
It might be a silly question, but why not using mpmath capabilities for polynomial roots?

http://mpmath.org/doc/current/calculus/polynomials.html

[2016-10-29 07:39] jksuom commented on #11742
The docstring of `meijerint_definite(f, x, a, b)` says:

    of two G functions, or as a single G function.
    Return res, cond, where cond are convergence conditions.

so that `x, a, b ` are expected to be a symbol and two numbers. To get the integral `res` one has to take the first component of the return value.

Iterated integrals should be computed recursively one at a time, e.g., as follows.

[2016-10-29 21:01] Alsheh commented on #11756
Thanks @latot for the helpful response and I apologize for the delay. I need further clarification on the following points:

1- Please elaborate on some of the problems you mentioned that might arise for a grade more than 1 when setting the constant name as a prefix name. Perhaps an example that shows the problem can be helpful.

2- Also, I'd appreciate it if you could explain to me what you mean

[2016-10-31 04:03] #11779 closed

[2016-10-31 13:50] isuruf commented on #11684
@smichr, ping.

[2016-10-31 18:24] latot commented on #11756
Hi!, i'll try explain this, in order, 2, 1, 3:

2) In derivatives you have the grade, its normally the number of times is derived, in integration is the same, so is number of times we integrate a function with some vars:
```integrate(x, x, x)``` have 2 grades, because we are integrating ```x``` in ```x``` 2 times.
Normally this concept is used independent of what vars you are integrating, ex: ```i

[2016-10-31 21:50] smichr commented on #11684
Just seeing this now. I thought that there was a line of code to remove exponents of "`1". I may be able to look at this tomorrow, but it's more realistic to expect a delay up until Friday. I'll see what I can do but if this is really a hassle for tests it can be reverted and I'll try again later.

[2016-11-01 06:02] asmeurer commented on #11756
My opinion in the past has been that integrate shouldn't do this. Consider multivariate integrals. For `integrate(x*y, x)`, the answer is `x**2/2*y + C`. But should `C` depend on `y`? What about `integrate(x*y, x, y)`? Even `integrate(x, x, x)` should have two distinct constants (the answer would be `x**3/6 + C1*x + C2`).

So my view has always been that if you want to track constants, you should

[2016-11-01 10:56] Lakshya1605 commented on #11742
@jksuom ,Will it be a correct approach if i do something like this -> if meijerint returns None in any case, then we restart the integration but  this time we don't call the "try_meijerint" function any time during the integration

[2016-11-01 13:52] jksuom commented on #11742
I think that the code is currently doing that according to this comment:

            # integral, then the code using meijerint_indefinite will not either
            # (it might find an antiderivative, but the answer is likely to be
            #  nonsensical).
            # Thus if we are requested to only use Meijer G-function methods,
            # we give up at this stage. Otherwise we just d

[2016-11-01 15:52] jksuom commented on #11707
When numerical objects of different type have the same value *and* the same hash, they are undistinguishable in computations (unless the type is explicitly tested). This makes tests that depend on types, such as [this one](https://github.com/sympy/sympy/blob/master/sympy/concrete/tests/test_sums_products.py#L261), unreliable. Even in current master the results of such tests may be hard to predict.

[2016-11-01 15:52] Upabjojr commented on #11636
https://github.com/sympy/sympy/pull/11792

[2016-11-01 15:58] Lakshya1605 commented on #11742
@jksuom , In the current code meijerint is used only if limits has "-oo" or "oo" even if the lines is removed (as suggested ) then as mentioned above for " integrate(1/(1 + x + y + z), (x, 0, 1), (y, 0, 1), (z, 0, 1))" .It first does meijerint integral with respect to x and returns "log(1 + 1/(y + z))" then next time it returns "None" so the function remains "log(1 + 1/(y + z))" and while finding

[2016-11-01 17:23] asmeurer commented on #11707
So my worries about SymPy effectively interchanging equal objects are founded, especially when the cache is used.

[2016-11-01 17:26] Upabjojr commented on #11636
https://github.com/sympy/sympy/pull/11793

[2016-11-01 17:44] cbm755 commented on #11762
I don't think `diff(f, x, k)` is correct syntax for what you are trying to do:
[code]

[2016-11-01 17:47] cbm755 commented on #11762
Oh wait, I thought you were trying to get `f'(k)`.  To clarify, @latot is wanting:

[code]

But my comment probably indicates why your approach won't work: `diff(f, x, k)` is the 2nd partial derivative `f_{xk}`.

[2016-11-01 17:48] cbm755 commented on #11762
I think this bug should really be "how to represent the `k`th derivative where `k` is a Symbol?"

[2016-11-01 18:00] jksuom commented on #11742
If this error is produced by meijerint_indefinite, then I think that is wrong. It should not be attempted once meijerint_definite has failed (and some flag should indicate that). But why would it be necessary to start from the beginning after some integrations in an iterated integral have succeeded. Would it not be possible to just continue without meijerint?

[2016-11-01 18:04] asmeurer opened #11795 "Issues with apart() and floating point coefficients"
Consider the following rational function

[code]

I want to compute the full partial fraction decomposition of this expression. Using `apart(rat_func, x, full=True)` fails with `PolynomialDivisionFailed: couldn't reduce degree in a polynomial division algorithm when dividing [2.2710680218891296e-14, 1.8921838854022448e-13, 1.292280270579278e-11, 2.2472030400428528e-10, 4.8361800878648284e-9, 8.016

[2016-11-01 18:22] asmeurer commented on #11762
Here's the issue for that https://github.com/sympy/sympy/issues/5575. Closing this as a dupe of that issue. The current behavior is correct (`diff(f, x, k)` represents `d^2/dxdk f(x)` which is indeed 0).

[2016-11-01 18:22] #11762 closed

[2016-11-01 18:25] asmeurer commented on #11763
This is a dupe of https://github.com/sympy/sympy/issues/11024 and https://github.com/sympy/sympy/issues/4838

[2016-11-01 18:25] #11763 closed

[2016-11-01 18:27] asmeurer commented on #11755
If y = 0 then sign(y) = 0, so oo*sign(y) is nan. So the result isn't completely wrong. A Piecewise may be more useful.

[2016-11-01 18:31] asmeurer commented on #11731
Interval should represent a real interval. I think we decided in another issue that Interval should always be open for infinite boundaries, because it should always be a subset of S.Reals. So

[code]

is wrong.  I'm going to modify the issue title to make this clearer.

Regarding your other points, note that `in` means "is contained in", not "is subset of". So `<set of numbers> in <set of numbers>

[2016-11-01 18:33] asmeurer commented on #11730
UniversalSet doesn't come into play here. It's just a formal set that always returns True for any containment check. `Union(FiniteSet(oo), S.Complexes)` giving `S.Complexes` is a bug.

[2016-11-01 18:34] asmeurer commented on #11730
(Optimistically setting this as easy to fix. I suspect it isn't difficult, but there is a chance I am wrong)

[2016-11-01 18:47] cbm755 commented on #11286
Its fixed in master, not sure why this issue didn't autoclose with #11381.  Anyway, closing now.

Hope you found something else to work on.

[2016-11-01 18:47] #11286 closed

[2016-11-01 19:20] cbm755 commented on #11776
Similarly `jn(n, 0)` should be 0 for `n >= 1` (at least for integers; I haven't looked deeper than that).

[2016-11-01 19:52] Lakshya1605 commented on #11742
@jksuom I don't know why  but once if something is being integrated by meijerint then it is not being able to find anti derivative of the result which was returned by meijerint
.And yes I have a  used flag to indicate failure of meijerint
Also I have started the process again because now meijerint dosent come into the picture and hence we are being able to find the anti derivative for each case.
B

[2016-11-01 20:05] Upabjojr commented on #11742
@Lakshya1605 if you have written some code and you wish to discuss your own code, it is best to open a PR. Describing the code by words without showing it is of little use.

[2016-11-01 22:10] mkoerner commented on #11496
I tried to isolate the reason and I'm unsure if rewriting `erfc(x)` as `_erfs(log(1/x))*exp(-log(1/x)**2)`could be the reason for the bug. Who knows the code of `_erfs`and `mrv_leadterm` a bit and could help?

    from sympy import *
    from sympy.series.gruntz import mrv_leadterm
    x = Dummy('x', positive = True)
    e = erfc(ln(1/x))
    print(e.rewrite('tractable',deep=True))
    print(mrv_l

[2016-11-01 23:41] versatran01 commented on #10718
The following matrix `C`
[code]

When I do `np.linalg.matrix_rank(C)` gives back 4.
But the reduced row-echelon form from sympy via `sympy.Matrix(C).rref()` has 5 pivots.
[code]
Did I do something wrong?

[2016-11-02 01:30] siefkenj commented on #10718
@versatran01 It is related to floating point issues.  If you use integers, you get

[code]

However, if you use `float`s you need to pass an `iszerofunc`.  For example,

```Matrix(C).rref(iszerofunc=lambda x:abs(x)<10**-10)```

will give you a more appropriate answer.

[2016-11-02 03:12] MooVI commented on #10718
I thought this was fixed by #11554 ? Isn't that supposed to choose a sensible iszerofunc automatically (at least for standard types like floats? Or is this not possible for some reason? It still seems worrying to me that SymPy just silently returns the wrong result.

Having to set a lambda seems even more opaque to me than the old simplify=True flag.

[2016-11-02 03:15] latot commented on #11756
Hi!, thx for your opinion, now, constants depends of ```x``` and ```y```? yes it depends, all math expressions are expressed in like ```k == x```, so following your example, ```integrate(x*y, x)``` is equal to ```x**2/2*y + C``` but that only the half of expression, ```x**2/2*y + C == K```, where all vars depends of the others, thinking in other way the constants in any equation represent a propor

[2016-11-02 03:18] siefkenj commented on #10718
Unfortunately this matrix doesn't seem to be reduced properly even with partial pivoting.  Partial pivoting increases numerical stability, but it doesn't give numerical perfection.  I agree, it is poor behaviour to silently give the wrong answer for matrices of floats.  I think a correct solution would be to create a `FloatMatrix` subclass that would set its `iszerofunc` automatically to something

[2016-11-02 03:34] MooVI commented on #10718
I see, Your suggestion sounds very sensible. Hopefully your PR #11592 will be merged soon (I will try and at least review it soon but am not a member...).

Perhaps until then there should be some sort of warning. I notice in #11554 you assume a non-zero element to use as a pivot if none can be found, which also seems ripe for silent errors (which as you say in the comment is in line with the previ

[2016-11-02 04:43] isuruf commented on #11684
Thanks for looking into this. We can wait for a few more days.

[2016-11-02 10:33] FabioLuporini opened #11798 "buggy count_ops ?"
I'm sorry I couldn't reproduce this with a simpler test case. However...

I have this expression:

which comprises 3 args:

(0.00250000000000000,
 1/(1.68888888888889*damp[x, y, z] + 2*m[x, y, z]),
 5.70469135802469*(u[t - 1, x, y, z - 1] + u[t - 1, x, y, z + 1] + u[t - 1, x, y - 1, z] + u[t - 1, x, y + 1, z] + u[t - 1, x - 1, y, z] + u[t - 1, x + 1, y, z]) + 675.555555555556*damp[x, y, z]*u[t - 2

[2016-11-02 11:21] parsoyaarihant commented on #11778
I think that the problem lies in the `linsolve()` method. Since the shear curve and moment curves are being calculated as expected.

[code]

Shear curve is :
[code]

Bending Curve is:
[code]

[2016-11-02 12:06] Lakshya1605 commented on #11745
@asmeurer  In the docstring it has been mentioned that "rational = True " by default.

        solution = nfloat(solution, exponent=False)

However the above line of code uses "None" as the default value . Is this a specified behaviour of the code or is it a unknowingly done.
Fixing the above issue gives the correct result.

[2016-11-02 12:47] bojone opened #11799 "Something wrong with the Riemann tensor?"
I use the following code to calculate the Riemann tensor of ds^2 = f(x,y)^2 (dx^2+dy^2)

`from sympy.diffgeom import Manifold, Patch, CoordSystem
from sympy.diffgeom import TensorProduct as TP
from sympy.diffgeom import metric_to_Riemann_components as Riemann
from sympy.diffgeom import metric_to_Christoffel_2nd as Christoffel
from sympy import Symbol, Function, latex, sin

n = 2
M = Manifold('M',

[2016-11-02 18:51] asmeurer opened #11801 "Exception when printing Symbol('')"
[code]

It has something to do with the unicode pretty printer. `pprint(Symbol(''), use_unicode=False)` works.

[2016-11-02 21:06] sampadsaha5 commented on #11778
I found that if we set
[code]
then we can get solution.

Here, I felt that for the case `l = 0` linsolve is not able to find the solution.

[2016-11-02 22:23] latot opened #11802 "N + Subs + Zeta + Derivative = maximum recursion depth exceeded"
Hi, here the problem:
[code]

Thx. Cya.

[2016-11-02 22:33] latot commented on #11762
Hi, i'm confused, following the expression i found in the wiki:
```Derivative(F, x, k) == d**k(F)/(dx)**k```
i don't understand very well your expression, because if we replace k in 2 we don't get the second derivative, while in the function we get it....
Can you explain a little more please?

Thx. Cya.

[2016-11-02 22:40] asmeurer commented on #11762
That works only if `k` is an explicit integer value. Otherwise, it takes a derivative with respect to k. So:

[code]

[2016-11-02 22:54] latot commented on #11762
mm, Thx, when they improve the n° derivative, it will be accessible from Derivative in that format?, or we will have a new Derivative expression (like DerivativeN, ex)?

[2016-11-03 00:42] asmeurer commented on #11762
The suggestion at #5575 is to use `diff(f, (x, k))`.

[2016-11-03 00:47] #11524 closed

[2016-11-03 00:59] latot commented on #11762
Why don't keep the actual format???, or that will be next format for derivatives?

[2016-11-03 17:28] asmeurer opened #11803 "ccode: allow printing rationals without L"
See https://stackoverflow.com/questions/40391602/sympy-ccode-number-type. ccode prints rationals like `1.0L/2.0L`, but this can cause problems std::complex in C++. Why is L used at all? We should add an option to disable it, at any rate.

[2016-11-03 17:37] asmeurer commented on #11762
We can't use diff(f, x, k) because that's ambiguous if k is a symbol.

[2016-11-03 17:47] Lakshya1605 commented on #11803
I would like to work on this issue could you please help me to get started

[2016-11-03 19:54] jksuom commented on #11799
This looks like a bug. The dummies should not be present in the final result. The relevant [piece of code](https://github.com/sympy/sympy/blob/master/sympy/diffgeom/diffgeom.py#L596) says:
[code]
However, this is what results from the substitutions:
[code]
So, the dummies are not removed, and, what is worse, the wrong coefficient 2 is introduced by doit().

[2016-11-03 20:55] asmeurer commented on #11745
Is that just because you're changing the default value of the `rational` flag? It seems from the traceback that the issue is in the core.

[2016-11-03 23:52] latot commented on #11731
Hi, can you open this again plis?, the objetives of the issue don't are solved (the pr contributes), i think we at least need solve or define the infinite behavior in Sympy, this days i was without time to write, in all case, i think we need start part by part, this issue can be too big..

So lets think in first way this oo behavior:
[code]
Now, this don't have sense, the first limit in x, the lim

[2016-11-04 00:02] asmeurer commented on #11731
I don't see that limit point as being about oo. The answer is not wrong (accumulation bounds are not guaranteed to be tight) and at any rate, limit, like most functions, ignores the assumptions on symbols.

I disagree that the integers and reals should have different infinities. oo represents the "limit" of any increasing unbounded sequence, integral or not. Like UniversalSet, oo is mostly formal.

[2016-11-04 00:09] asmeurer commented on #11756
Why do you have examples where the constant is the integration variable? The constant should, by definition, be constant with respect to the integration variable. Making it nonconstant makes it give a wrong answer. `diff(t**2/2 + t, t)` does not equal `t`.

Regarding your comments about dependence, in sympy, different symbols are assumed to not depend on one another, for the purposes of differenti

[2016-11-04 00:56] latot commented on #11756
Hi, i think its necessary split some things, first, we are agree the primitive should respect this:
```F'=f```
now, this is why i say, all of this depends of how we interpret or use math, in the strict case to respect the relation C must be a constant, but this don't is always try to any interpretation, my examples confirm this, if i change the interpretation of the integral obvs then the relation

[2016-11-04 01:42] bojone commented on #11799
@jksuom is there any method or plan to fix it?
it seems while use a concrete function to replace f(x0,x1), for example, sin(x0)

[2016-11-04 04:41] asmeurer commented on #11757
Should this be closed?

[2016-11-04 08:33] bhrzbbk commented on #11683
@kshitij10496 The failing tests are not just from `geometry` module. I tried to alter the tests and modify my fix to resolve this, but with no success. I have come to believe that my fix is violating (or has led to violation of) some fundamental assumptions. Given this status, do you still recommend opening a PR? Otherwise I can just leave the issue open.

[2016-11-04 10:01] latot commented on #11683
mm, think would be nice can see the changes, maybe link your branch with the tmp fix here?, or open a ```[WIP]``` pr?

[2016-11-04 10:07] jksuom commented on #11799
One could start by checking out an old version of SymPy where differential geometry was introduced to see if this has ever worked. (That would probably be v.0.7.2.)

If it did work, then one can try to find out when it did stop working, and why, by using git bisect.
If it never did work, then the .subs method should be investigated to see why it would fail.

It is also possible that the `__call__`

[2016-11-04 10:37] bojone commented on #11799
@jksuom so as you quote, replace "return result.doit()" with "return result" is a tmp solution. That generates right answer.

[2016-11-04 11:14] jksuom commented on #11799
That is true if we accept solutions with unevaluated Subs instances.
 It seems that .doit() was added to remove those, but obviously that also fails in this case. (That should be fixed independently.)

[2016-11-04 12:22] bojone commented on #11799
@jksuom it seems the problem is from .doit() or Subs. I have split the expression and get function a:

<class 'sympy.core.mul.Mul'>

-Subs(Derivative(f(_#_1(_Dummy_20), x1), _#_1(_Dummy_20), _#_1(_Dummy_20)), (_#_1(_Dummy_20),), (x0,))/f(x0, x1)

-2*Subs(Derivative(f(_#_1(_Dummy_20), x1), _#_1(_Dummy_20), _#_1(_Dummy_20)), (_#_1(_Dummy_20),), (x0,))/f(x0, x1)

[2016-11-04 12:40] bojone commented on #11799
I find the factor 2 is from Derivative of composite function. the following code
[code]
returns `2*Derivative(f(g(x)), g(x), g(x))`  and
`f(g(x)).diff(g(x), g(x)).doit()`
returns `4*Derivative(f(g(x)), g(x), g(x))`

[2016-11-04 13:25] jksuom commented on #11799
I agree. And the bug in .doit should definitely be fixed. The substitution failures are annoying but do not give manifestly wrong results.

[2016-11-04 16:25] Lakshya1605 commented on #11745
I figured out that "solve(expr2, k, rational=False)" as well as "solve(expr2, k, rational=True)" were giving the result .But "solve(expr2, k,)" wasn't able to and it was mentioned in docstring that rational uses True as default so i just searched were was "rational"  initialized as "None" or "False" if no agument is passed and fixing that gave that correct result.

[2016-11-04 17:25] lengelhardt opened #11806 "Incorrectly evaluating integral"
The following integral is incorrectly evaluated to be zero:

from sympy import *
var('x', real=True)
var('y, L', positive=True)
integrand = 1 / sqrt(x**2 + y**2)**3
integrate(integrand, [x, -L/2, L/2])

The result that SHOULD be returned is:
2/(y**2*sqrt(1 + 4*y**2/L**2))

It seems that x**2 is being treated as a negative number instead of a positive number for x<0.

[2016-11-05 02:14] augustt198 opened #11807 "exp(eye(2)) maybe wrong?"
[code]
Is `exp` not applied element-wise for matrices? Numpy, matlab, and mathematica give the result I expected: `[[E, 1], [1, E]]`.

[2016-11-05 03:24] parsoyaarihant commented on #11778
Is there a way to change the assumptions of ` l ` variable in the API so the user doesnt have to set the assumptions again.

Or, raise error if ` l ` is not positive?

[2016-11-05 08:05] Lakshya1605 commented on #11024
Is this still open if yes i would work on it.Please can someone get me started

[2016-11-05 09:31] jksuom commented on #11807
There is another method for that purpose.
[code]

[2016-11-05 11:26] UpmostScarab opened #11809 "Bug: acot(-0.0) zero division error"
While this:
`>>> acot(-0)`
gives pi/2 as expected,
`>>>acot(-0.0)`
gives ZeroDivisionError.
I'm using Python 3.5.2 and SymPy 1.0
Here's a full log:
`>>> acot(-0.0)`
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/site-packages/sympy/core/evalf.py", line 1277, in evalf
    rf = evalf_table[x.func]
KeyError: acot

During handling of the above exception, another exception occurred

[2016-11-05 18:24] latot commented on #11731
Hi, i want touch a little theme, i check the pr linked here, and i don't like it, one thing is choose how show an expressions, but other is the meaning change don't is the same expression:
[code]

so following this, this expression, ```Interval(1, oo)```, represent from 1 to oo, if you want represent it like ```[1, oo)``` that is other theme, but use this notation shouldn't change the original min

[2016-11-05 19:02] Upabjojr opened #11810 "N-dim array: creation of void Array fails:"

[2016-11-05 19:02] #11810 closed

[2016-11-05 19:27] Upabjojr opened #11811 "N-dim array: nested N-dim array in list not properly created"
[code]

`M2` should rather be `[[[1, 2], [3, 4]]]`.

[2016-11-05 19:36] rlamy commented on #11757
Well, the Piecewise constructor is still doing too much, and `random_complex_number(..., rational=True)` is still very slow, but it doesn't seem to be major bottleneck any more, so yes, probably.

[2016-11-05 19:36] #11757 closed

[2016-11-05 20:29] Abdullahjavednesar commented on #11811
@Upabjojr in case we print M prior to M2 then it's running fine

[2016-11-05 21:10] asmeurer commented on #11731
What is the travel of a number?

[2016-11-05 22:00] latot commented on #11731
mm, travel is how you can reach a specific expression, and as you can see depending of the context (like sets) the travel to the expression change, and depends of what travel you need, from where, etc, this is used in the limit concept, lets see some examples:

in the reals we want reach the number.. 6! (from left), so if we want reach if from the number 2 the travel is
[code]
But if we are in the

[2016-11-05 22:17] latot commented on #11731
Hi, i think i explain something in a bad way, when i say the travel of 2 to 6 is equal to ```Interval(2, 6)```, i mean you you start from 2 and you go to 6 passing on every point of the interval.

[2016-11-05 22:25] latot commented on #11731
maybe i should say, "the travel to a number"? is more clear?

[2016-11-05 22:31] ArifAhmed1995 commented on #11809
This seems to be an bug in the `acot()` function for mpmath, not in the equivalent function of sympy
One could modify sympy's `acot()` to return 1.57079632679490 (that is : `(pi/2).evalf()`) but the change to existing code would look out of place.

You might consider posting an issue here : https://github.com/fredrik-johansson/mpmath/issues

[2016-11-05 22:43] latot commented on #11755
mm, and what happen if y = 1/(2*x)? in that case don't is true the result..
I don't know how use piecewise in this context.......

[2016-11-05 22:51] latot commented on #11762
Hi, i think that is more a develop perspective, for the user, diff is derivative and only that, users don't know if you are using various class in that or something similar, so for the user don't is ambiguous that expression.
In some way can be ambiguous in the sense both are symbols, but the difference is when the expression enter to the diff don't is a symbol is a number. If we use a matrix with

[2016-11-05 22:57] asmeurer commented on #11731
Depending on how I interpret what you are saying, it is either wrong or confused (at best). Note that mathematically, in a real (or complex) context, lim f(x) as x -> a exists iff for every sequence xn with xn -> a, the sequence f(xn) converges (to the same value).

I think what you are trying to get at is related to this example. Consider lim sin(x\*pi) as x -> infinity. Obviously, the limit does

[2016-11-05 23:45] latot commented on #11731
Hi!, i think we are aligned in the theme!, i think we are agree in the behavior, i'll open a new issue.

And you are right, the variable point don't is exactly the infinite concept, is how it changes with every context.

I'll use ```>``` in the future, thx for the recommendation.

following other questions:

zoo is 1/0 too, should i open a new issue for a new expression or something?

Why sympy sa

[2016-11-06 00:03] certik commented on #11024
@Lakshya1605 yes, just go into #11040, and try to finish it up.

[2016-11-06 00:31] latot opened #11812 "Functions should not ignore assumptions and contexts (like sets)"
From https://github.com/sympy/sympy/issues/11731

Hi all, well some examples:

[code]

In the first example y should be ```Or(-1, 0, 1)``` or similar because it oscillates in that numbers.
In the second example y can't be 0.1, is restricted to be a integer.

To solve this issue would be nice 2 things:
  [] A collection of tests to check this in different contexts and assumptions
  [] Fix examples

[2016-11-06 00:45] trxrunner opened #11813 "Sympy can't do this integral?"
Sympy can't do this integral?

[code]

[2016-11-06 00:49] latot commented on #11813
what version are you using, i compile sympy this day and i get this result:
[code]

[2016-11-06 01:15] latot opened #11814 "Improve Differential"
Hi all, well i propose this new feature, and i think this can help to have better behavior in derivatives (and with it all functions depends of it).

I propose use the top generalization and then go down with dependencies. I will use some nicknames with the functions to don't write it completely all the time.

In the differential concept you never should execute the limit without a relation, one e

[2016-11-06 01:25] latot commented on #11806
Hi, its little hard read this, i can see ```x2``` and ```y2```, and i don't know if is ```x*2``` or ```x**2```, please edit the issue and use this format with this symbol "`" to can see this better plis:

code...
\`\`\`

Here you can get more info: https://guides.github.com/features/mastering-markdown/

Thx. Cya.

[2016-11-06 02:48] latot commented on #11814
ups, sorry i write the half of the definition, updated

[2016-11-06 05:42] latot commented on #11683
Hi, i check your change, i think i know why this fails, basically you change two behaviors with that change:
[code]
This two cases now pass when it should return an error, the first case i think is a nice change, and it respect the idea written in the wiki i think we can open a new issue for that and can use it.
Now the second expression that need return an error, your change change all non points

[2016-11-06 05:50] trxrunner commented on #11813
Ok, whoops, try
[code]
It should come out unevaluated

[2016-11-06 12:22] ArifAhmed1995 commented on #11760
`solve` manages to find the solution if the `real = True` is removed in the line
`x, F, b, E, I, l, w, a = symbols('x, F, b, E, I, l, w, a', real = True)`.
This is the result : `[-212.458467511565 + 0.e-19*I, 74.8365518854033 + 0.e-18*I, 159.761915626161 + 0.e-18*I]`

I am looking into this issue.

[2016-11-06 12:23] lengelhardt commented on #11806
Sorry.  Here is the correctly formatted code:
[code]
and the expected result:
[code]

[2016-11-06 12:46] MrOverlord commented on #11730
After working for a bit on this, there's also a related bug with Intersection
[code]
One would expect this to be [0,1].

I have tried fixing this [here](https://github.com/MrOverlord/sympy/commit/efa9a618bb277612c1520eaea01264a866d654b0#diff-c1c17bdd28aafd400bf9415c7d048382), but this causes a failure in test_ComplexRegion_union :
[code]
and test_union_RealSubSet :
[code]
Could you give me a hint,

[2016-11-06 13:45] latot commented on #11806
Hi, ```L2``` is ```L*2```?

[2016-11-06 16:44] lengelhardt commented on #11806
Whoops!  That should have been L/2.  I will add another comment.

Dr. Larry Engelhardt
Professor of Physics
Francis Marion University
(843) 661-1452,  LSF 103E
http://swampfox.fmarion.edu/engelhardt

From: latot <notifications@github.com<mailto:notifications@github.com>>
Reply-To: sympy/sympy <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Sunday, November 6, 2016 at 8:46 AM
To: symp

[2016-11-06 17:03] latot commented on #11806
Thx, Confirmed:
[code]

[2016-11-06 17:03] asmeurer commented on #11730
If the new test output is still mathematically correct, then just change the test. union returning Union is the default behavior. If it can return something more specific instead, that is preferred.

[2016-11-06 17:09] jksuom commented on #11707
Comparing floats and rationals as rationals reveals a number of test cases where a rational number is unintentionally entered as a float, typically `p/q` instead of `S(p)/q`. These are mostly obvious (except a typo in sol10 of test_linear_2eq_order2), and should preferably be fixed independently of any change in comparison. I have sent a PR (#11816) where the equality of floats and rationals is ba

[2016-11-06 17:30] asmeurer commented on #11707
Well the broken hashing should be fixed. hash not respecting == can lead to subtle bugs (as I showed in my blog post).

Another option, which I don't think I've mentioned, is to make floats and rationals not compare equal at all. I would be curious how that effects the tests. Obviously this would break a lot of people's expectations, but it would automatically remove all the issues here.

[2016-11-06 17:46] jksuom commented on #11707
That could, in fact, be a workable idea. One can think of floats as 'fuzzy numbers' that are never (exactly) equal to some rational number. The inequalities could remain, though `float < rational` and `float <= rational` would probably have the same meaning.

[2016-11-06 18:11] johanbluecreek commented on #10360
I'm here just to ask if there has been any progress on this issue.

The "why":

I'm asking is because of my PR #11774, which I realised is not complete after I made that PR. While it does add some features they are mostly superficial. One of the things I'm looking into now is to get expand to work.

As @asmeurer mentions above, indeed non-commutative symbols are working better, however because of

[2016-11-06 19:41] bhrzbbk commented on #11683
@latot Thanks for checking out the change.

About the first type of errors (upgrade to higher dimensionality), I also think that this is a good behaviour and probably the tests should be adapted to allow this.

As for the second type of errors, I guess silent upgrade of numbers to one-dimensional points can be dangerous. I'll try to address that in my fix; i.e. make sure that the errors of second

[2016-11-06 19:46] latot commented on #11683
Hi!, only as a reference of the second behavior ```Point(1) + 10``` there ```10``` is transformed to point.

Thx. Cya.

[2016-11-06 21:15] asmeurer commented on #11707
It also fits with the SymPy notion that == means structural, not mathematical equality. Inequalities are mathematical in SymPy, so that shouldn't change.

I really believe that to be fully consistent we have to go all the way in one direction or the other; either floats always compare as rationals, or different types don't compare equal.

In practice, from what I've seen on Stack Overflow and othe

[2016-11-07 02:52] asmeurer commented on #11814
I haven't really dealt much with functions of many variables, outside of the tensor module, which has its own ways of representing this. Does your use case have a lot of that?

[2016-11-07 02:58] asmeurer commented on #11812
For first point, one would need to extend AccumBounds to allow more precise representations. As it stands, the current answer is not wrong, since AccumBounds are not guaranteed to be tight. A more illuminating example would be `limit(sin(n*pi), n, oo)`.

`limit` checking assumptions could be interesting, although I think only `integer`, `odd`, and `even` would be of interest. In those cases, it ma

[2016-11-07 03:01] asmeurer commented on #11807
This is a semantic difference between SymPy and NumPy, MATLAB, and (imho, unfortunately) Mathematica. SymPy only uses mathematically meaningful operations on matrices. That means that operators like `*`, `**`, `exp`, and others perform their matrix versions. For NumPy, all operators apply element wise over arrays. I assume MATLAB is similar. Mathematica requires special operators to apply matrix o

[2016-11-07 03:01] #11807 closed

[2016-11-07 03:51] isuruf opened #11819 "SymPy's cache doesn't free objects at the end"
This can be observed when running symengine under debug mode.

When a sympy function that is decorated with `cacheit` is called with a symengine object, symengine object is converted to a sympy object and the function works correctly.
These symengine objects are not freed at the end though. (Seen from symengine's debug mode object pool, which gives a warning that these objects are not freed).

Whe

[2016-11-07 03:58] isuruf commented on #11819
An exit handler fixes this.

[2016-11-07 04:58] asmeurer commented on #11819
The garbage collector should handle this automatically. Maybe it's a bug in fastcache?

[2016-11-07 05:11] isuruf commented on #11819
Tried with fastcache removed as well. Same result.

[2016-11-07 05:56] isuruf commented on #11819
Consider the following two examples

Program 1
[code]
Output :
[code]

Program 2:
[code]

Output :
[code]

[2016-11-07 13:12] latot commented on #11814
Hi, actually sympy uses this in a lot of ways, like derivative and similars ex:
[code]
With partial derivative is the same, this is very useful because set in the right way the rules for use it, for example, why in some cases we can't use chain rule with partial derivative.
[code]
Out of the develop theme this is very useful in some expressions, specially in physics, when you normally use this exp

[2016-11-07 13:35] latot commented on #11812
mm, its a nice point, but i'm little worried, Sympy uses internally the subs function, and i think use a check can help to detect this type of problems in the future, maybe not check all time, something like:
[code]
at least to run tests, only an idea.

Thx. Cya.

[2016-11-07 14:59] natethern opened #11821 "bug with MatrixSymbol and subs()"
This session illustrates the bug:

In [1]: import sympy
In [2]: sympy.__version__
Out[2]: '1.0'
In [3]: from sympy import *
In [4]: A=MatrixSymbol('A',1,3)
In [5]: B=MatrixSymbol('B',1,3)
In [6]: C=MatrixSymbol('C',1,3)
In [7]: E=A-B
In [8]: F=C[0,0]
In [9]: F.subs(C,E)
Out[9]: (-1)*B + A[0, 0]

The output should be
Out[9]: (-1)*B[0, 0] + A[0, 0]
or
Out[9]: ((-1)*B + A)[0, 0]

[2016-11-07 16:10] thilinarmtb commented on #11486
Since the issue is resolved, I suggest closing this too.

[2016-11-07 16:29] Alsheh commented on #11801
@asmeurer I just submitted a pull request fixing this issue.

[2016-11-07 16:43] latot commented on #11814
Maybe just for comfort and common notation, we can just use d in vectors to all sections:
[code]
Other more practical example is calc the arc length:
[code]

Thx. Cya.

[2016-11-07 17:24] jksuom commented on #11707
Making float == rational always false results in 79 test failures, many of which, such as
[code]
obviously occur for trivial reasons. Such tests could either be fixed (== -> !=) or omitted.

Tests involving floats in number theoretic contexts such as
[code]
also become pointless and could be omitted.

It should also be decided whether Float(0) == S.Zero is true or false. I think it should be true

[2016-11-07 17:35] jksuom commented on #11707
This is a piece of a diff to show what kind of changes would be needed.
[code]

[2016-11-07 18:23] natethern commented on #11821
Continuing the previous session:
In [10]: Fs=F.subs(C,E)
In [11]: Fs.func
Out[11]: sympy.matrices.expressions.matexpr.MatrixElement
In [12]: Fs.args
Out[12]: ((-1)*B + A, 0, 0)

It's apparent that the actual substitution is performed correctly and this is a bug in the printer.

[2016-11-07 20:43] asmeurer commented on #11819
Interesting. I would be curious to find out just why this is happening.

Does symengine have deconstructors that need to flush things to disk or anything like that? Or is the concern about memory leaks from embedding Python?

[2016-11-07 23:29] Upabjojr commented on #11821
Hi @natethern , can you fix this?

Basically, it's about finding the `_print_MatrixElement` methods in the printers and adding a parenthesize condition.

[2016-11-07 23:31] Upabjojr commented on #11821
Parenthesize should match the precedence of `Add` non-strictly.

[2016-11-07 23:32] Upabjojr commented on #11821
Alternatively, modify the constructor of `MatrixElement` in order to distribute the addends over an `Add` object.

[2016-11-08 00:03] tschijnmo opened #11823 "Problem with symbolic summation of expandable geometric series"
In the symbolic summation function, there is very good support for geometric sequence [here](https://github.com/sympy/sympy/blob/6242d1239828d3e2256108243ae091d72782f415/sympy/concrete/summations.py#L961-L975).  However, in the higher-level function `eval_sum`, the summand is expanded before being given to this piece of code, [here](https://github.com/sympy/sympy/blob/6242d1239828d3e2256108243ae09

[2016-11-08 00:37] asmeurer commented on #11821
Side issue: why does it print `(-1)*B` instead of `-B`? The MatrixExpression printers maybe ought to be reusing the normal (noncommutative) expression printers more.

[2016-11-08 03:35] isuruf commented on #11819
SymEngine Python objects keep pointers to C++ objects created in the heap. They need to be freed before the program ends, otherwise memory leaks will occur.

[2016-11-08 03:48] cascala commented on #11809
I would agree with @ArifAhmed1995, but at the same time I would ask why "0" appears to be treated differently from "0.0". The former becomes a special number (Zero), the latter is an ordinary float.

Can the parser be changed to make them boh equal to the special number Zero?

[2016-11-08 04:13] isuruf commented on #11819
This is a gc issue. I'm not familiar with how Python's gc works to give you a reason for it
Following patch fixes it.

[code]

[2016-11-08 04:39] asmeurer commented on #11819
I am +1 to that patch. The cache ought to be using weakrefs anyway.

[2016-11-08 04:47] isuruf commented on #11819
What happens when `cfunc` is garbage collected and a user calls `clear_cache`?

[2016-11-08 04:52] isuruf commented on #11819
I'll use a [WeakSet](https://docs.python.org/2/library/weakref.html#weakref.WeakSet)

[2016-11-08 08:35] Upabjojr commented on #11821
All printing instances:
https://github.com/sympy/sympy/search?utf8=%E2%9C%93&q=_print_MatrixElement

In the case of `str`:
https://github.com/sympy/sympy/blob/d9c5013222f45d6d9189180e54ba87c69eed8d09/sympy/printing/str.py#L234

[2016-11-08 10:16] ArifAhmed1995 commented on #11809
@cascala That would need decision from Sympy's lead developers.
`0.0 == S(0)` yields `True` though.

[2016-11-08 13:17] jksuom commented on #11707
`x**2.0 == x**2` is currently true since the hashable contents `(x, 2.0)` and `(x, 2)` compare equal. When `2.0 != 2` this is no longer true and something has to be changed. I see two possibilities:

- Accept that `x**2.0 != x**2`.
- Replace `x**2.0` with `x**2` in `Pow.__new__` (when `evaluate=True`). This would be applied to all integer valued exponents.

The latter strategy could be extended to

[2016-11-08 13:46] Abdullahjavednesar commented on #11811
I want to fix this issue. How should I start ?

[2016-11-08 16:04] Alsheh commented on #11821
I am working this.

[2016-11-08 16:04] aureooms opened #11826 "Poly.set_modulus( some_polynomial ) not implemented"
Is this implemented somewhere else?

[code]

[2016-11-08 16:30] jksuom commented on #11826
set_modulus is intended for creating polynomials with the finite coefficient ring  `ZZ/<q>`. To get a quotient ring of a polynomial ring, see this:
[code]
or [this](http://docs.sympy.org/latest/modules/polys/agca.html#base-rings).

[2016-11-08 16:45] Lakshya1605 commented on #11024
@certik Can you please elaborate a little more on what is expected?.Thank You

[2016-11-08 16:52] aureooms commented on #11826
Ok thanks, I get it! Why the weird old_poly_ring method name?

[2016-11-08 17:21] jksuom commented on #11826
There are two implementations of polynomials. The 'new' one does not (yet) cover quotient rings.

[2016-11-08 17:29] aureooms commented on #11826
Ok. There seems to be an incompatibility :/ Should I use an old implementation of Poly?

[code]

[2016-11-08 18:05] jksuom commented on #11826
Unfortunately, the documentation on the subject is currently very meagre. There are examples in sympy/polys/domains/tests/test_quotientring.py. The method `.convert` can be used to create elements of a quotient ring from a polynomial expression.
[code]
([Here](http://docs.sympy.org/latest/modules/polys/agca.html#modules-ideals-and-their-elementary-properties) is a reference.)

[2016-11-08 19:41] asmeurer opened #11827 "set intersection gives TypeError: object of type 'Naturals0' has no len()"
This is from https://stackoverflow.com/questions/40441532/how-to-restrict-sympy-finiteset-containing-symbol

[code]

Optimistically marking this as easy to fix (I could be wrong).

[2016-11-08 19:45] aureooms commented on #11826
Ok! It works :)

[2016-11-08 20:42] ArifAhmed1995 commented on #11795
@asmeurer This main issue is in the values that are passed to the `dup_sub(f, g, K)` of `densearith.py`.
[code]
Maybe the relatively small difference of ` 2.4651903288156619e-32` should not be there,and somehow creeps in.Using nsimplify as a rough tolerance check a solution is obtained.
Changing the following code in  `def dup_sub(f, g, K)` from :
[code]
to :
[code]
yields following solution :
[co

[2016-11-08 20:44] pbrady commented on #11819
From the [python docs](https://docs.python.org/3/reference/datamodel.html#object.__del__)

It seems like a design error in SymEngine to rely on "not guaranteed" behavior

[2016-11-08 20:50] asmeurer commented on #11819
That's odd that Python does that. Does that mean that libraries that have "real" `__del__` methods (like writing to a database or whatever) always have to register atexit callbacks?

[2016-11-08 21:05] latot opened #11828 "New Integral Properties - Nonelementary"
Hi all, well, in the time i use this, i found when we do ```.doit()```, with all this type of integrals Sympy try recalc it again ad again.., so the idea is make a new properties to avoid this, and id the properties is true return the integral without do anything else.

I think the ideal would be something like this:

[code]

Thx. Cya.

[2016-11-08 21:08] asmeurer commented on #11828
The Risch algorithm does return `NonElementaryIntegral`, which is a subclass of `Integral`. However, it doesn't prevent computation, because there might be a closed form antiderivative with special functions, found by another algorithm.

[2016-11-08 21:13] latot commented on #11828
Hi, so thinking if i understand right, we can use the return of Risch algorithm to do this faster (i think).
And following this the value can be used to decide for example what algorithm use in that case.

Thx. Cya.

[2016-11-08 21:22] certik commented on #11024
@Lakshya1605 what is needed is to make sure all tests pass in #11040. If you have some specific question, feel free to ask, I am happy to help.

[2016-11-09 01:46] #11486 closed

[2016-11-09 04:03] isuruf commented on #11819
@pbrady, whole Cython community relies on it for clearing objects created in the C/C++ side.
I think the not guaranteed behaviour is because of situations like this, where the garbage collector fails to delete them because of issues like globals, cyclic references, etc.

[2016-11-09 09:42] Upabjojr commented on #11811
I'm not sure we want to fix this. Maybe `Array([M])` should be an array with `M` as its only element.

[2016-11-09 09:44] Upabjojr commented on #11821
I think any expression that is not an atom should be parenthesized.

If possible, use `parenthesize`, examples:
https://github.com/sympy/sympy/search?utf8=%E2%9C%93&q=parenthesize&type=Code

The precedence module:
https://github.com/sympy/sympy/blob/d9c5013222f45d6d9189180e54ba87c69eed8d09/sympy/printing/precedence.py

[2016-11-09 14:57] arghdos opened #11829 "Substitution of Indexed into Sum"
Consider the following example:

[code]

Currently, this substitution is ignored, resulting in `Sum(a[i]*b[i], (i, 1, 10))` due to the intersection of the old value's free symbols `set([i, b, a])` with the summation variable `i`, however I think this is a legitimate substitution pattern.

I have found one way to fix this problem, by simply uncommenting `Indexed.free_symbols`

[code]

However, doin

[2016-11-09 16:33] Lakshya1605 commented on #11024
@certik can you please tell me is their any way to incorporate you changes into my local machine ,or should i manually change the files. Thank you

[2016-11-09 16:39] rwst opened #11830 "erfinv() numerical problem"
The first value is also a doctest:
[code]

[2016-11-09 16:52] certik commented on #11024
@Lakshya1605 you can follow the instructions here to checkout a pull request locally on your computer: https://help.github.com/articles/checking-out-pull-requests-locally/

[2016-11-09 19:47] johanbluecreek opened #11832 "Moving TensorProduct out of the physics module?"
As per conversations with @asmeurer in PR #11774, I'm starting this issue to have a conversation on moving the `TensorProduct` out of the physics module.

`TensorProduct` has some functionality beyond the (seemingly) originally intended use for `Operator` and/or non-commutative symbols as arguments to also include `MatrixSymbol` (#11774), `ImmutableMatrices` (#10735) and already has support for ex

[2016-11-09 20:17] Ruediger-Braun opened #11833 "error in limit involving exp, sinh and an assumption (maybe related to caching)"
Hi all!

The following code

[code]
produces false output.  Correct is 0.
Since sometimes the correct result is returned, I think the problem is related to caching.  If caching is turned off, then the product in [5] cannot even be constructed.

[code]

This goes on until a RecursionError kicks in,

[2016-11-09 20:20] asmeurer commented on #11795
This sort of thing is supposed to happen automatically if you use RealField (that's why it has the `tol` field). But for whatever reason, I can't get RealField to work at all. I don't think nsimplify should come into play at all when using QQ.

[2016-11-09 20:21] asmeurer commented on #11795
Also where does the 50 number come into play? Is QQ converting the floats to rationals with too high precision?

[2016-11-09 20:49] asmeurer commented on #11795
There may be multiple issues going on here. The rationals returned from QQ are not the same as if you pass the floats to Rational (the latter gives the exact rational version of the float).

Beyond that, I believe the issue here is some numerical instability. There RootSum, which requires finding the roots of a degree 14 polynomial. Even when you use rational coefficients, root finding is numerica

[2016-11-09 21:08] asmeurer commented on #11795
So even if I go the other direction (partial fraction to cancelled expression), I get huge floating point errors. This happens regardless of whether I use floats or convert the floats to rationals first. So I guess that polynomial division is numerically unstable.

[2016-11-10 00:13] latot opened #11834 "Constants (Concept and conditions, affects Differential concepts and similars)"
Hi all, well checking dsolve, integrals and similars i found a little problem, actually for example dsolve return a constant, but the conflict is in the definition of the constant in a context, lets explain a little:
[code]
I suppose all are agree with that, now, what represent C in this context?, well here the point, in this context the constant means it don't depends of x, here all are agree, bu

[2016-11-10 02:02] zhou13 opened #11835 "cannot simplify log(x)+log(1/x)"
[code]

I believe it should be zero.

[2016-11-10 03:08] asmeurer commented on #11835
Logs only combine under the proper assumptions by default. You can use logcombine(force=True) to force them to combine.

[2016-11-10 03:09] asmeurer commented on #11835
Or set `x = symbols("x", positive=True)`.

[2016-11-10 03:11] zhou13 commented on #11835
Thanks for the input.

[2016-11-10 03:11] #11835 closed

[2016-11-10 14:44] jksuom commented on #11795
Do the errors appear in the computation over QQ even if you use the full precision instead of 17?
[code]

[2016-11-10 14:47] solarjoe commented on #11813
Same here, but what would be the correct result?

[code]

`>>> Integral(t*sqrt(-t + x), (t, 0, x))`

And can't SymPy resolve the **(-1/2) to 1/sqrt() ?

[2016-11-10 17:49] FabioLuporini opened #11837 "broken xreplace"
xreplace ends up expanding the common factor 2.5 in the following example (and similarly in all analogous cases):

[code]

[2016-11-10 18:51] thilinarmtb commented on #11486
Thanks !!

[2016-11-10 20:50] asmeurer commented on #11795
Maybe there's an oddity with srepr. The original number was `4.1609826642376613e-28`.

[2016-11-10 21:28] moorepants commented on #11837
I think this is expected behavior. If `xreplace()` has an `evaluate=False` flag, then it would fit with how SymPy deals with these simple evaluations.

[2016-11-10 22:12] ArifAhmed1995 commented on #11795
I executed the above in field RR , not QQ. The number 50 was arbitrary , just to see the floats more precisely.I'll try to understand why it does not work in the RealField .

[2016-11-10 22:14] latot commented on #11837
mm, i don't like this behavior....
basically, if is the expected behavior it leave ```evaluate``` option useless in this cases...., and there is very probable more functions with this behavior, if you want keep this maybe send a warning when a ```evaluate``` option is used?
other option, enable the ```evaluate``` option in xreplace. (so in this case is like don't inherit the properties).

[2016-11-10 22:40] ArifAhmed1995 commented on #11809
@UpmostScarab Can you close this issue now ?

[2016-11-10 23:13] UpmostScarab commented on #11809
@ArifAhmed1995 does fixing it in mpmath fixes it in sympy?

[2016-11-10 23:37] ArifAhmed1995 commented on #11809
Well,now that it's been fixed in mpmath one would need to use the latest development version of mpmath in order to avoid this issue.But either ways , this is not really a sympy issue.

[2016-11-11 07:15] FabioLuporini commented on #11837
@moorepants I don't understand why this should be the expected behaviour. ``xreplace`` should substitute nodes, but clearly not changing the tree structure. With larger expressions, I get totally different objects.

 There's no such a flag for ``xreplace``, unfortunately (AFAICT).

[2016-11-11 08:44] ArifAhmed1995 commented on #11482
@gxyd It should be printed as a list ? Like this : `[0, 2, 1]` ?

[2016-11-11 08:45] ArifAhmed1995 commented on #11482
@gxyd It should be printed as a list ? Like this : `[0, 2, 1]` ?

[2016-11-11 08:45] ArifAhmed1995 commented on #11482
@gxyd It should be printed as a list ? Like this : `[0, 2, 1]` ?

[2016-11-11 11:38] #11809 closed

[2016-11-11 15:16] ArifAhmed1995 commented on #11325
It does work on my system :
[code]

[2016-11-11 17:52] gxyd commented on #11482
No. I am sure it shouldn't be printed like a list. I will have to look
as to what should be the correct printing, currently my exams are going on.

On Friday 11 November 2016 02:15 PM, Arif Ahmed wrote:

[2016-11-11 19:54] asmeurer commented on #11801
Can you please link to the pull request.

[2016-11-11 22:31] moorepants opened #11841 "Function('gamma') pretty prints as Γ"
[code]

This should not create the [Gamma Function](https://en.wikipedia.org/wiki/Gamma_function).

[2016-11-12 00:45] trxrunner commented on #11813
According to Wolfram, the answer should be ```4/3*x**(3/2)```
or
[code]

[2016-11-12 04:39] trxrunner opened #11842 "nsimplify on integral: repeating error"
When I run this on SymPy 1.0, it gives a repeated error:
[code]

And errors keep happening hundreds of times:

[code]

Then almost at the bottom, the error changes (probably not relevant):

[code]

I'm assuming this is a bug? The same thing happens on SymPy Live.

[2016-11-12 05:03] #11827 closed

[2016-11-12 05:28] Alsheh commented on #11801
@asmeurer I just made the last commit to reference this issue. Is that what you meant by linking to the pull request?

[2016-11-12 10:10] jksuom commented on #11842
I cannot reproduce this error on 1.0.1.dev.
[code]

[2016-11-12 13:43] Abdullahjavednesar commented on #11841
I would like to work on this, @moorepants could you explain how to start.

[2016-11-12 16:11] trxrunner commented on #11842
I guess it's fixed then in the development.

[2016-11-12 16:11] #11842 closed

[2016-11-12 16:30] latot opened #11844 "Improve Power inverse"
Hi all!

Well this is something i think is missed here, and we don't have (or i can't found) an operation for the inverse os power, actually the similar function for **2 can be sqrt, but don't is the inverse because is restricted with the function definition, and this don't is the same as roots, lets see this with some examples and lets use inv(expr, power) to have some tmp expressions to it:

[co

[2016-11-12 22:43] b-v opened #11845 "Closely related integral raises exception."
[code]
All integrals should give the same result, since exp(a+b)=exp(a)exp(b) (except for -y vs y). Sympy is able to solve the first two, but not the third and fourth expressions.

The error is
[code]

[2016-11-13 07:24] siddharthist commented on #11638
Try constructing a matrix with the constructors in Sympy: http://docs.sympy.org/latest/tutorial/matrices.html

[2016-11-13 15:04] jksuom commented on #11845
This exception is caught in the current master (#10792).

[2016-11-13 16:45] latot opened #11847 "Dummy fails when is re-evaluated in S and srepr"
Hi all!

Well, i found this little problem, Dummy is a nice function but in the way is implemented exist this:
[code]
Basically, if you works with Dummy, and you get the expression with srepr or similar, when you eval it every Dummy will be interpreted as a new Dummy, so it fails, in the example you can see we can't eval the second expression because the 2 Dummy expression are interpreted as diffe

[2016-11-13 16:48] latot commented on #11845
Hi, actually seems work, is the right result?
[code]

[2016-11-14 07:29] cbm755 commented on #11847
I can confirm this.  Quoting `printing/repr.py`

Here's my minimal example:
[code]

Note that Dummy does seem to maintain its identity across pickling:
[code]

[2016-11-14 10:50] b-v commented on #11845
Hi, thanks, it works indeed with the latest git version. Sorry, I should have tried that first.

A  small remaining issue is that the third (fourth) integral has the same solution as the first (second) one. Now it gives an intermediate result with an integral. This integral needs to be entered again to give the complete solution to the original integral. This is in contrast to `integrate(exp(-y-x*

[2016-11-14 11:21] jksuom commented on #11845
I think this should be left open because of that remaining issue. It clear that SymPy can find the integral, but the code somehow misses it in case the exponentials have been combined.

[2016-11-14 17:08] mjeromin commented on #11399
@asmeurer Is this still a problem? What version of conda are you running? I could not reproduce the issue and I was able to interact with the plot, but I'm also testing on Linux (sorry, no OS X).
[code]

[2016-11-14 19:25] asmeurer commented on #11795
I'm becoming convinced that the issues with QQ are because of inherent numerical instability. I think the values from the two papers don't actually agree with each other.

The real issue here is the inability to use RR at all.

[2016-11-14 19:27] asmeurer commented on #11847
You have to set it to have the same dummy_index attribute. Right now there isn't a way to do that, but a (private) keyword argument could be added.  Not sure I agree that srepr should maintain this, though.

[2016-11-14 19:30] asmeurer commented on #11844
Can you give a mathematical definition of inv? I'm not following what it should do (your last example is particularly confusing to me).

[2016-11-14 19:35] latot commented on #11844
Hi, the inv is only a nickname i use for the inverse of the power function, because the inverse off **2 is sqrt, but actually is used as a function, so i can't use the normal nomenclature, basically the relation is:
[code]

[2016-11-14 19:51] mjeromin commented on #7615
@asmeurer Is the point here is that we could be alienating users by not providing this example? Would it be more appropriate to add it to the [FAQ wiki](https://github.com/sympy/sympy/wiki/Faq)?

[2016-11-14 19:52] latot commented on #11847
mm, not support this i think is a vary bad idea, because this means all expressions with Dummy, used internally or externally will break all data export.......... (like the examples posted here)
And not all expressions can not have a Dummy, is used a lot in subs, and similars, and other common expression are integrals without elementary functions... (ex, all elliptic functions), we will be unable

[2016-11-14 21:42] asmeurer commented on #7615
The tutorial is what people read the most of. Probably the solve docstring is common as well.  Note that since this issue was opened the tutorial has been changed to use solveset. However, I don't see obvious examples of how to access solutions. With solveset it's even worse because people don't realize how to access the solutions from sets.

[2016-11-14 21:52] asmeurer commented on #11399
@mjeromin this issue is very specific to OS X, and the way matplotlib interacts with its GUI system.

[2016-11-14 21:59] asmeurer commented on #11399
At any rate, this is working for me now, both with `conda-forge` packages and `defaults` packages. I suspect the problem was with the upstream conda packages.

[2016-11-14 21:59] #11399 closed

[2016-11-14 22:01] asmeurer commented on #11847
Well the fix is easy. Allow `Dummy('x', _dummy_index=10)` to override the `dummy_index` that is set from the class variable, and make srepr print that.

But the whole point of dummy is that they shouldn't be equal to other instances of the same name. So the question is, should objects created with srepr be considered new or not?

Also, if you do recreate an object in a new session, bets are off, b

[2016-11-14 22:08] asmeurer commented on #11844
This doesn't explain your assertion that `inv(x, 2) = Or(x, -x)` (ignoring the fact that the result is a boolean).

[2016-11-14 22:12] asmeurer commented on #11844
At any rate, `inv(a**n, n)==a` isn't a real mathematical definition. If `a = -1` and `n = 2`, then you assert that `inv((-1)**2, 2) == inv(1, 2) == -1`, but if `a = 1` and `n = 2`, then `inv(1**2, 2) == inv(1, 2) == 1`.

If you are just looking for a way to decompose a symbolic expression, use `as_numer_denom`.

Also take a look at `exp_polar` and related functions. They may provide a way to more

[2016-11-14 22:29] cbm755 commented on #11847
@asmeurer I think the point is that a single object could contain the same Dummy more than once (think of a variable of integration or my silly `evaluate=False` example).

Pre-serialization this is fine.

But upon `S(srepr(x))`, they become two distinct objects.  Bad news for the integral, whose meaning has just completely changed.

[2016-11-14 22:31] cbm755 commented on #11847
(There is a related concern about two distinct objects depending on the same Dummy, and serialized separately.  I agree that's a much greyer area).

[2016-11-14 23:42] asmeurer commented on #11847
Ah, I see. So in that case, I do think this is a good idea, but caveated that dummy objects are only guaranteed to be the same in a single srepr'd expression, not across expressions.

[2016-11-14 23:50] latot commented on #11847
Hi, can you give me an example of across expressions plis?

[2016-11-15 00:17] cbm755 commented on #11847
@latot, see my example above but consider:
[code]
Now `A2` and `A` are two expressions which contain the same Dummy (the Dummy is shared "across expressions".

Now do `B = S(srepr(A))` and `B2 = S(srepr(A2))`: we want each of those to "DTRT".  But perhaps we do not guarantee that both `B` and `B2` contain the same Dummy (the Dummy might not be shared across B and B2).

[2016-11-15 00:19] latot commented on #11847
mm, i think both dummy should be equals, only for one reason, if don't are equals will break the user env...... (ex, if is trying to export it)

[2016-11-15 00:23] cbm755 commented on #11847
Maybe, I'm not sure.  But let's fight one bug at a time: the most serious is the use of Dummy multiple times within one expression.  Let's fix that.  Then see where we stand.

Baby steps right?  No need to fix everything, all-at-once, all-in-one PR.  That's almost the same as never fixing anything.

[2016-11-15 00:36] latot commented on #11844
Hi, i think some concepts are mixed, this inv is the inverse definition of the Power, the problem i think is the start point, lets start with the inverse definition, is defined for:
[code]
despite being a function, this is an exception in one sense, and it tolerate multiples images of x in f, after all, all function can comply this eq is a inverse.
The next point, in math, (strictly, very very str

[2016-11-15 00:45] latot commented on #11847
mm, my fix cover that, but is for other reason, basically if we use the easy way, like explained above, we will have this:
[code]
Basically a hash collision, so to avoid it i try safer way....
(in this case is a little pr :-)

[2016-11-15 01:12] asmeurer commented on #11847
My suggested fix would fix that too. The downside would be potentially two dummys that should be unequal being equal.

[2016-11-15 01:22] asmeurer commented on #11844
If you want to restrict the domain of the base, use the assumptions system. `sqrt(x**2)` gives `x` when `x` is created with `nonnegative=True`.

Your point about derivatives is pertinent, with SymPy, where we have

[code]

This is indeed important, because it allows us to replace expressions depending on `x` with a single symbol (say, `y`) to do some manipulation, without worrying about derivative

[2016-11-15 06:34] jksuom commented on #11795
RR has only limited use in polynomial algebra since it is not a field.

In this case, if the roots of the denominator q are r1, ..., rn, then the partial fractions of p/q are ai/(t - ri) where  ai = p(ri)/q'(ri). It should be possible to use RR here if the roots are known with sufficient accuracy.

The crucial part is the computation of the roots. In SymPy, rootof should be able to do that when th

[2016-11-15 16:12] latot commented on #11844
mm, after talk about this, i feel we have a base problem we need solve before this, and is the simplification, i think i'll open a new issue for this, and we can continue here talking about the inverse of the power.

I still think sqrt and similars should work as inverses instead over the function definition, the reason of interpretation i write it above, but other reason is because when we solve

[2016-11-15 19:49] lxkain opened #11854 "integrating the sinc function"
Hello,

When I do

[code]

I get, after a relatively long time, `Si(t)`, whereas I was expecting the answer to be 1. Moreover, when I define the normalized sinc function via

[code]

and I then issue:

`nsinc(t).integrate()`

the process never returns (or perhaps it takes very very long). The expected answer in this case was also 1.

(this may be related to
https://github.com/sympy/sympy/issues/10

[2016-11-15 20:15] lxkain opened #11855 "DiracDelta function is zero for nonzero arguments"
For
[code]
I would have expected the output to be 0, but instead I am getting
`δ(t)`

[2016-11-15 22:54] asmeurer commented on #11854
Si(t) is the right answer. Why do you expect 1?

[2016-11-15 22:56] asmeurer commented on #11841
The issue is the printing I guess.

This is also somewhat related to https://github.com/sympy/sympy/issues/6938.

[2016-11-15 22:58] asmeurer commented on #11841
I updated the issue title. The function itself is distinct from `gamma`. The problem is that the printer is hardcoded to print gamma as Γ instead of γ. It should distinguish UndefinedFunctions and only apply the simple Symbol printing rules to them.

[2016-11-15 23:51] lxkain commented on #11854
My apologies. Indeed,
`sinc(pi * t).integrate((t,-oo,oo))`
_does_ evaluate to 1.

And even

`nsinc(t).integrate((t,-oo,oo))` works correctly too. For some reason I forgot to make the integral definite.

Thank you for an awesome project!

[2016-11-15 23:51] #11854 closed

[2016-11-15 23:54] lxkain opened #11856 "integration can take a _long_ time (possibly forever)"
Hello,

When I do

[code]

the process either takes a long time, or doesn't return.

[2016-11-16 06:13] asmeurer commented on #11856
It's (unsurprisingly) stuck in the heurisch algorithm.

[2016-11-16 07:09] Abdullahjavednesar commented on #11841
Fine, then I'm working on it.

[2016-11-16 18:22] smarterthanu1234 commented on #11855
Hi,
nonzero assumption is not checked in DiracDelta while returning 0.
Working on it.
Regards,
Aditya

[2016-11-16 19:46] asmeurer opened #11860 "ZeroDivisionError with nsolve(solver='bisect')"
[code]

The expression does indeed have a singularity at 1:

[code]

Nonetheless, this is annoying. I would expect the bisection solver (probably other solvers as well) to not care about singularities. Also worth noting: in this case, the singularity is removable

[code]

[2016-11-16 20:15] asmeurer commented on #8564
One can also fix the problem by removing the evalf line. I don't understand why it's there. The expression is lambdified, which should take care of converting things to mpmath (albeit with the issues you noted, which I haven't checked if they are still relevant).

Do you have a test case where lambdify breaks things? I removed the `f = f.evalf()` call and this works

[code]

[2016-11-16 21:15] latot opened #11863 "Range._intersect fails when (in a line) the solution is returned in other order"
Hi all!, well trying to fix some issue i found this, basically, the problem start in this line:

fancysets.py:684
[code]
The return is correct, but the problem is the algorithm applied next with a and b, it only check a, so the problem start when the first the Dummy is sorted after the second Dummy (are sorted by name), so when this happen the return is reversed, not a very big change, b is a, and

[2016-11-17 01:28] lxkain opened #11864 "simplifying exponential -> trig identities"
[code]

Ideally, this would yield `sin(k)`. Is there a way to do this?

As a corollary, it would be awesome if

[code]

could yield `sinc(k)`. Thank you for your consideration!

[2016-11-17 01:54] lxkain opened #11865 "can't plot piecewise function"
When I do

[code]

I cannot do

`sym.plot(f)`

However, just plotting the second piece works, via

`sym.plot(1 / (2 * π) * f.args[1][0])`

[2016-11-17 09:06] jksuom commented on #11864
rewrite can be used:
[code]

[2016-11-17 16:00] lxkain commented on #11864
Thank you for that suggestion!

[2016-11-17 16:14] lxkain commented on #11864
Too bad this doesn't work as expected:

[code]

It does not produce the desired sinc function in the equation.

[2016-11-17 16:46] jksuom commented on #11864
It seems that rewrite for sinc has not been implemented.

[2016-11-17 19:08] asmeurer opened #11868 "diff(f(x), x).is_real should be True if f(x).is_real is True"
[code]

`f` is defined like

[code]

I thought I remember reporting this before, but I couldn't find the issue.

[2016-11-17 19:20] asmeurer opened #11869 "Better "partial" factorization"
I know this has been discussed before, but I couldn't find an issue.

A lot of people want to be able to factor parts of an expression. As an example, consider (from http://stackoverflow.com/questions/40620585/expression-simplification-in-sympy/40643065?noredirect=1#comment68531753_40643065), `e + a*c + a*d + b*c + b*d` -> `e + (a + b)*(c + d)`. This case can be done using `collect(expr, e, func=f

[2016-11-18 00:42] latot opened #11871 "Someone plis stop this travis build"
Hi all, well travis is stalled, can someone stop this please?

https://travis-ci.org/sympy/sympy/builds/176803265

Thx. Cya.

[2016-11-18 09:28] latot commented on #11871
uff, finally, after 7h it stop...

[2016-11-18 09:28] #11871 closed

[2016-11-19 00:27] pentolope opened #11875 "sympy not importing in jython (when defining AtomicExpr) and modifications were needed to get mpmath and sympy to install on jython"
I have modified sympy and it's dependency mpmath to get it to install on jython. For mpmath I had to remove a test due to the method length limit that the vm has (java.lang.RuntimeException: java.lang.RuntimeException: Method code too large!). mpmath imports fine on it's own (it's missing test_fp.py though) inside jython. sympy I had to do a little more. I removed two tests (test_spin.py and bench

[2016-11-19 07:11] Abdullahjavednesar commented on #11841
@asmeurer here, if we are defining gamma as a symbol it should print γ rather than Γ. This is the bug I guess if I've got it right.

[2016-11-20 05:13] rohitrango commented on #11868
In my case, f(x).is_real does not return anything. How can I check that?

[2016-11-20 09:28] asmeurer commented on #11868
It returns None, which is the default assumption (meaning "unknown").

[2016-11-21 00:25] #10620 closed

[2016-11-21 18:26] axil opened #11876 "sympy can't integrate sqrt(log(1/x)) for x=0..1"
integrate(sqrt(log(1/x)), (x, 0, 1)) should be sqrt(pi)/2 according to reference books and Mathematica. Sympy is unable to calculate this.

This is formula 4.215 from Gradshtein Ryzhik:

integrate(log(1/x)**(m-1), (x, 0, 1)) == gamma(m) for Re(m)>0

[2016-11-22 01:11] lxkain commented on #11865
Also, evaluation, e.g f(0) doesn't work - do I need to specify the independent variable specifically somewhere?

[2016-11-22 09:40] axil opened #11877 "integrate(log(0.5-x), (x, 0, 0.5)) wrongly produces imaginary part"
[code]

The `1.0iπ` part is excess. It should be just
[code]

[2016-11-22 12:07] jksuom commented on #11877
The integral is improper, since the integrand is not defined at the endpoint 0.5, and has to be computed as the limit of integrals over (0, b) as b tends to 0.5. This is carried out in `Expr._eval_interval`. However, the implementation is defective as it will always take the limit from the right. In this example, the antiderivative is branched, and its limit from the left should be used.

[2016-11-23 02:20] GeekTemo opened #11878 "'solveset' function bug—solveset('log(x + 1) < 0', domain=S.Reals)"
when i call solveset to solve inequation: 'log(x + 1) < 0'. It return EmptySet. It is the error result.

In [2]: solveset('log(x + 1) < 0', domain=S.Reals)
Out[2]: EmptySet()

The correct result must be (-1, 0)

[2016-11-23 08:22] bsdz opened #11879 "Strange output from common limit used in elementary calculus"
I notice that the following limit expression returns output that appears to be wrong:

[code]

![image](https://cloud.githubusercontent.com/assets/6608130/20554698/802d49ce-b155-11e6-9825-38a259065aa2.png)

Here's [Wolfram's result](https://goo.gl/0EiVO0)

[2016-11-23 08:44] kalbhairab opened #11880 "please include latex 2 sympy"

[2016-11-23 09:39] jksuom commented on #11879
The code expanding a Pow will introduce exp and log whenever the exponent contains a symbol (https://github.com/sympy/sympy/blob/master/sympy/core/power.py#L1254). This transformation will make the limit computation fail. It would probably suffice to replace `e.has(Symbol)` with `e.has(x)`.

[2016-11-23 18:39] danielmclaury commented on #11868
What if f(x) isn't differentiable?

[2016-11-23 19:24] asmeurer commented on #11868
I'm not sure about that. We can't say much if we require that. Known functions will have explicit derivatives, so Derivative properties are mainly useful for undefined functions. There's no way to assume that a function is differentiable at a point. Maybe that should be added, but it gets pretty complicated. One complication is the distinction between differentiability at a point and differentiabi

[2016-11-23 20:28] danielmclaury commented on #11865
Looks like the plotting issue is a manifestation of #11248

Re: the second post, this is behaving as intended.  Compare

[code]

If you want to plug things in you can do

`f.subs(k, 2)`

or, if it weren't for the unresolved issue above,

`lambdify([k], f)(2)`

[2016-11-24 03:19] danielmclaury commented on #11878
Weirder:

`sympy.solveset('log(x) < 0', domain = sympy.S.Reals)`

returns `(-oo,1)`.

[2016-11-24 06:23] asmeurer opened #11881 "ZeroDivisionError: pole in hypergeometric series random test failure"
Originally saw this at https://travis-ci.org/sympy/sympy/jobs/177885184.

Note, I had to use Python 3.4 to reproduce (3.5 did not work, it's possible the hash and/or random seeding changed in that version). I didn't check which flags are actually necessary to reproduce.

[code]

[2016-11-24 13:34] jksuom commented on #11881
This error means that one of the b-parameters of the (generalized) hypergeometric series 2F3 is a negative integer or zero, so that the series does not make sense. The parameters are random values generated by `can_do` (using `randcplx`) in test_hypergeometric. The most obvious fix would be checking the parameters in `can_do` after the substitutions (`hyper(ap, bq, z).subs(repl)`) have been carrie

[2016-11-24 21:59] bsdz commented on #11879
I tried your suggestion and it does make the following test succeed:

[code]

However, it then causes test "test_issue_5172" to fail. In particular, and I'm not a gruntz algorithm expert by any means, it fails when trying to take sign(-dummy*c,dummy) which resolves to -sign(c) which isn't 1,-1 or 0 hence breaking limitinf.

[2016-11-25 10:46] jksuom commented on #11879
It looks like that simple fix was wrong, in general. The issue is that SymPy does not automatically recognize that `exp(n*log(x)) - x**n` has value zero:
[code]
Hence gruntz is led to believe that `(exp(n*log(x)) - x**n)/y` is the dominating part of the expression and returns a nonsense result. Some additional processing like this
[code]
 should probably be added to gruntz. The standard `simplify(

[2016-11-25 14:07] nanoant opened #11882 "Prevent latex/dvipng console window popup on Windows"
I have to recently use QtConsole and SymPy in Windows environment. While everything works fine, there is annoying 2 window popups appearing for fraction of second every time LaTeX -> PNG printing is performed. It is a fault of Windows which basically has this weird distinction between console and windows app.

Anyway, long story short, the workaround is very simple, you need to pass `creationflags

[2016-11-25 14:11] atemafac commented on #11877
hello , i am new here. i will like to work on this issue. please i will need more information on what to do and i will like to be assigned this.

[2016-11-25 16:06] jksuom commented on #11877
There is a good [introduction to contributing](https://github.com/sympy/sympy/wiki/Introduction-to-contributing) that also contains links to other sources such as an exposition of the practical [workflow](https://github.com/sympy/sympy/wiki/Development-workflow).

[2016-11-25 19:25] danielrees18 commented on #11634
@asmeurer Is this still an issue? I looked at fixing this but I didn't seem to see the problem.

Running the example from the docs:
[code]

This seems to be the correct behavior, but I may be wrong? If so, I would be happy to try to fix it.

[2016-11-26 01:14] asmeurer commented on #11634
The issue is with `dotprint(2**x + x*y)`. The tutorial example was changed to an example that doesn't have the issue.

[2016-11-26 03:34] benbaror opened #11884 "Addition with Order gives wrong result"
`O(x).subs(x,x-1) + 1` results in `O(x - 1, (x, 1))` instead of `cos(1) + O(x - 1, (x, 1))`

This results in a wrong series expantion:

`cos(x).series(x,1,n=1)` results in `O(x - 1, (x, 1))` instead of `1 + O(x - 1, (x, 1))`

See a [question](http://stackoverflow.com/questions/40798077/why-does-my-sympy-code-calculate-the-first-order-taylor-series-approximation-inc/40814600#40814600) on Stack Over

[2016-11-27 15:35] bsdz commented on #11879
I've put in a pull request following suggestion.

[2016-11-27 20:43] pelegm commented on #10938
I agree, but I am not sure this is a solution.

Perhaps we should have some `full_simplify` method that will try to simplify using a rewrite as factorial as well?

[2016-11-28 11:51] #11879 closed

[2016-11-28 17:17] smarterthanu1234 commented on #11878
returning correct output in my environment?  (for both cases)

[2016-11-29 03:50] aclarridge commented on #11876
Hello, I'm new, I'd like to work on this if possible. It seems like a straightforward problem, possibly meriting an implementation of a new type of integral? I'm stepping through the code, trying to figure out what's going on here. Any comments welcome.

[2016-11-29 08:22] jksuom commented on #11876
This is easy to compute by hand, substituting a new variable u for log(1/x). The integral then becomes the familiar integral formula for the gamma function. Such substitutions are effected in the manualintegrate module. One only has to add functions that will recognize the (transformed) integrand and return the antiderivative (an incomplete gamma funciton).

[2016-11-29 09:49] gunph1ld opened #11887 "Can't build RPM"
Hi Folks,

bdist_rpm failed with:

[code]
[code]

[2016-11-29 15:41] aclarridge commented on #11876
Ok, so when I do the substitution myself by hand, the new integral is sqrt(u)*exp(-u), for u from 0 to +inf. When I try
`integrate(sqrt(x)*exp(-1*x),(x,0,oo))`, I get sqrt(pi)/2 as desired. So I think the functions that recognize the transformed integrand already exist, it's just that the substitution functionality somehow doesn't work here. Is that right?

Looking at the code, in find_substitutio

[2016-11-29 17:46] jksuom commented on #11876
That is true, but manualintegrate does not know about them. A new integration rule should be added for that.

This is again a transformation for which 'manual guidance' is necessary. It should apparently be done elsewhere, probably in `manual_diff` to get `u_diff` in the proper form.

[2016-11-29 21:48] asmeurer commented on #8818
modules='mpmath' is used in nsolve (the function is lambdified and passed to `mpmath.findroot`). This bug prevents you from using higher precision in nsolve, even if you set `mpmath.mp.dps` manually.

CC @scopatz, this is the source of the problem we were having.

[2016-11-29 21:52] scopatz commented on #8818
I see, @asmeurer. So is the solution to remove that line? Or to have a kwarg to turn it off?

[2016-11-29 22:08] asmeurer commented on #8818
Fix is at https://github.com/sympy/sympy/pull/11862.

[2016-11-30 02:08] aclarridge commented on #11876
Thank you jksuom, that was very helpful.

Okay, I did some work but now I think I'm stuck.
I had to pass u_var over to `manual_diff`, in order to return a u in the substitution. In the debugger, I'm able to return u_diff = -exp(_u) where _u matches the _u in the substitution, since I pass it in the `manual_diff` call in the `find_substitutions` method. My changes are below. So I thought the job wa

[2016-11-30 14:06] jksuom commented on #11876
We have to keep in mind that finding substitutions and evaluating antiderivatives are two independent phases of the integration process. For the evaluation, it is necessary to write a new function that returns the antiderivative as explained in the docstring of the manualintegrate module. It should not call try_meijerg or any methods belonging to other integrators. (The flow of `integrate` is conv

[2016-11-30 17:38] abhimnc commented on #11877
Another newbie here :). I want clarify doubt regarding resolving issue.s Like in this issue I have made changes sympy/sympy/core/expr.py in function _eval_interval(self,x,a,b) but how to check it is correct or not.
I had tried to compiled  integrate(log(0.5-x), (x, 0, 0.5)) but the result is again −0.846573590279973+1.0iπ . I have edited code according to commit made by karan1276 but this also giv

[2016-11-30 17:44] karan1276 commented on #11877
@abhimnc i am already working on this issue. Tho I would not stop your from patching it, it's a good learning experience and maybe you will do it in a better way.

Perhaps you can show me your code?

[2016-11-30 19:08] abhimnc commented on #11877
I am just a beginner here and want to learn how issues are resolved. @karan1276  can you please tell me how you verified yourself after making changes. Have you checked the output of `integrate(log(0.5-x), (x, 0, 0.5))` by editing ? I have tried doing this but it doesn't make any change in result. If this is the way to check  then may be there will be no improvement ny making change in `_eval_inte

[2016-11-30 19:18] #11881 closed

[2016-11-30 20:03] #8564 closed

[2016-11-30 20:04] #8818 closed

[2016-11-30 23:11] lgallindo commented on #6700
Progress?

[2016-12-01 00:29] lxkain opened #11890 "simplifying complex math"
[code]

This results in:
arg(e^−i n0 ω)

but I would really like to see:
-n0 ω

Is this a bug or user error?

[2016-12-01 04:04] aclarridge commented on #11876
Ok so scrapped those changes, I think what you're talking about is a much better solution. Do I even need a change to manual_diff then? It seems like if we can substitute twice, then that's all we need, i.e. `u = 1/x`, `v = log(u)`.

So I tried to change `possible_subterms` as you suggest so that it recursively looks for more terms to substitute. I broke out the sympy.log case to its own elif stat

[2016-12-01 07:55] karan1276 commented on #11877
@abhimnc yes, i just run the function and check the output. in my code i get the answer, if you do everything right you should get the answer too. Maybe you are missing something.

[2016-12-01 16:08] smichr commented on #11860
It's customary to require the brackets to evaluate to a value when using bisection. Although I could think of ways to make the routine work until a valid bracket is found -- holding one boundary fixed while moving the other until a valid bracket is found -- it would be possible to have a situation where both bounds involved a singularity and then it gets interesting in how to proceed from there. P

[2016-12-01 18:43] asmeurer commented on #11860
I suppose it would be most helpful if it could detect that the singularity was a signed infinity from the one direction. I don't know if that's possible, however, since the error doesn't seem to contain that information.

[2016-12-01 22:05] asmeurer opened #11892 "Add warning in docs Live shell about SymPy version"
Sometimes people are confused when they go to the dev documentation (or docs for an older version), and the live shell doesn't give the same answer as the page example. We should add some warning to the shell that it runs SymPy 1.0 and that examples on other docs pages might differ.

I'm not sure where this change should go. It may need to go [here](https://github.com/sympy/sympy-live).

[2016-12-01 22:24] asmeurer opened #11893 "Support printing presentation MathML"
The mathml printer outputs content MathML, but it would be nice to have an option to output to presentation MathML, since not every MathML renderer supports content MathML.

[2016-12-02 15:12] rohitrango commented on #11878
[code]

@danielmclaury @GeekTemo I think it is working fine for both cases. I'm using sympy1.0.1.dev0

[2016-12-02 18:09] #11801 closed

[2016-12-02 19:10] FR4NKESTI3N opened #11894 "Functions with integer arguments remain un-evaluated"
Functions that are given an integer argument do not evaluate:
[code]
Float argument:
[code]
I am not sure if this is intentional or not and have not been anything on this. But this results in problems in comparisons:
[code]

[2016-12-03 03:47] asmeurer commented on #11894
This is intentional. The comparisons are an unfortunate consequence of the inexactness of floating point numbers.

[2016-12-03 09:59] FR4NKESTI3N commented on #11894
Although using evalf() seems to work
[code]

I tried adding this code to convert integer argument to float in eval method of tan class and it seems to show proper results.
[code]
If ones with integer arguments are supposed to stay unevaluated, maybe `__eq__`,` __le__` etc. can be used to return evaluated form when comparisons are being made.
If its okay, I would like to write the code for it accor

[2016-12-03 12:32] #11894 closed

[2016-12-03 15:53] danbri commented on #11420
@ataber - is there more documentation coming?

[2016-12-03 22:13] ataber commented on #11420
Apologies, this got lost in my queue :) I'll do it tomorrow, shouldn't be much to document. I did write up a blog post containing some code snippets showing how I use this feature [here](https://medium.com/@awildtaber/computer-algebra-and-graphics-4fcb97836ee8#.be67cf79p), but that's not exactly documentation.

[2016-12-04 03:27] #11275 closed

[2016-12-04 05:50] karan1276 commented on #11833
I think u wanted to write: `f = sympy.exp(x*(-a-1) * sympy.sinh(x))`
instead you wrote:  `f = sympy.exp(x*(-a-1)) * sympy.sinh(x)`
reason: brackets at the wrong place.

@asmeurer i think this can be closed.

[2016-12-04 07:36] Ruediger-Braun commented on #11833
@karan1276 unfortunately, the brackets are where I want them.  The problem is that the error is intermittent, so you may have seen the correct answer if you only tried once.

[2016-12-04 07:43] karan1276 opened #11898 "no easy way set default backend for plotting module"
lets say i have `matplotlib` installed but i still want to use `text` backend. I should be able to pass a parameter `backend="text"` or some thing like that to `Plot`, but that wont work.

How can i set a default backend?

example:
[code]

[2016-12-04 08:16] andreo opened #11899 "Simplifying expression with 1x1 matrix transpose"
[code]

[2016-12-04 09:44] gxyd opened #11900 "pi.evalf value in sympy docs-tutorial"
![pi_sympy](https://cloud.githubusercontent.com/assets/7712241/20865241/dc728eca-ba32-11e6-807e-d10641d2ac62.png)

But doing the following in SymPy I get
[code]

the value of `pi.evalf(100)` misses one point **8** at the end of it in the pdf docs tutorial in the `evalf`  (2.4.3) section.

[2016-12-04 12:26] karan1276 commented on #11833
@Ruediger-Braun Sorry i got you wrong.

I am new to sympy, i din't get what you mean by `f = sympy.exp(x*(-a-1)) * sympy.sinh(x)`. First you created an expression `x*(-a-1)` then multiplied it with another expression `sinh(x)`. Is that not equal to `x*(-a-1)*sinh(x)` anyways?

[2016-12-04 12:33] jksuom commented on #11876
It seems to me that this would take place automatically, since `integral_steps` is called recursively [here](https://github.com/sympy/sympy/blob/master/sympy/integrals/manualintegrate.py#L811) (though I may be wrong as I have not studied the implications in detail). If that is what happens, then the main remaining tasks would be the log(u) substitution and the final 'GammaRule' for the indefinite

[2016-12-04 16:05] arunans23 commented on #11900
Online documentation tutorials seems to be fine.  The last digit would have been cut down when getting a snapshot of the code.
A job for the pdf editor.

`>>> pi.evalf(100)
3.141592653589793238462643383279502884197169399375105820974944592307816406286208998628034825342117068`

[2016-12-04 17:12] gxyd commented on #11900
Yes, that seems to be so.

I checked by opening the pdf file in firefox as well as in "evince pdf editor" (default in Ubuntu 14.04.5), they seem to cut down the last digit **8**. Perhaps we can generalize this to happening in all editors?

[2016-12-04 20:27] Ruediger-Braun commented on #11833
sympy.exp is the exponential function.  Since sinh(x) = (exp(x)-exp(-x))/2, the formula for f simplifies to (sympy.exp(-a*x) - sympy.exp((-a-2)*x))/2, so the limit for x -> oo is clearly 0 under the assumption a > 0.

[2016-12-04 20:34] beling opened #11903 "(x*y).evalf(subs={y: sqrt(2)}) returns x*y"
[code]
returns `x*y`.

`(x*y).subs(y,sqrt(2)).evalf()` works as expected and gives `1.4142135623731*x`.

[2016-12-04 22:02] asmeurer commented on #11903
Dupe of https://github.com/sympy/sympy/issues/6974

[2016-12-04 22:02] #11903 closed

[2016-12-04 23:59] trosos opened #11905 "Disregarded parameter iszerofunc in methods inverse_LU, LUdecomposition and LUsolve"
The methods `inverse_LU`, `LUdecomposition` and `LUsolve` take parameter `iszerofunc`. However, they fail to pass this paramerer to the more low-level methods `LUsolve` and `LUdecomposition_Simple` (passing the default value `_iszero` instead).

[2016-12-05 02:55] aclarridge commented on #11876
You are right, it does take place already, I missed that.

It turns out the issue is that even the transformed integral, integrate(sqrt(log(x))/x**2,x), does not work so yeah it's just the log(u) substitution and the final 'GammaRule' for the indefinite integral. It is interesting that in `find_substitutions`, `test_subterm` seems to stop short of "solving" for x in terms of u, instead it just goe

[2016-12-05 07:36] jksuom commented on #11876
It seems that something like that is necessary, but I'm not sure in which part of the code that should be done. `test_subterm` currently does very little, but adding to it may have unexpected consequences. (That can be tested, of course.) Another possible place might be `substitution_rule`. It already attempts to process expressions that contain `exp`, though I haven't seen an example where that w

[2016-12-05 20:21] beling opened #11909 "both solveset(sqrt(x+2)>x, x, S.Reals) and solve([sqrt(x+2)>x], x) give wrong answers"
`solveset(sqrt(x+2)>x, x, S.Reals)`
gives `(-oo, -1) U (-1, 2)`

`solve([sqrt(x+2)>x], x)`
gives `Or(And(-1 < x, x < 2), And(-oo < x, x < -1))`

Correct answers is [-2, 2).

[2016-12-06 04:51] rohitrango commented on #11856
This looks like a good start for something a little more advanced. I have fixed a few easy bugs but I don't feel that I have understood how SymPy works yet. Where should I start to fix this issue (and start learning more about the functioning of the framework) ?

[2016-12-06 05:19] gxyd opened #11911 "typo in docs of printing"
Change "therefor" -> "therefore"  in [sympy/sympy/printing/printer.py
 line 19](https://github.com/sympy/sympy/blob/master/sympy/printing/printer.py#L19)

[2016-12-06 05:38] baoqchau commented on #11911
working on this. give me 15 mins. This will be my first pull request.

[2016-12-06 05:54] mohit3011 commented on #11911
I have changed printer.py file , can anyone help me to merge it

[2016-12-06 06:31] baoqchau commented on #11082
Hello @asmeurer. I want to fix this. Do you have any suggestion how to do it?

[2016-12-06 07:34] gxyd commented on #11911
Fixed by #11912

[2016-12-06 07:34] #11911 closed

[2016-12-06 09:34] jksuom commented on #11856
The `integrals` module makes use of several integrators which are suited for different kinds of integrands. `nsinc` can be integrated by `meijerint`, which can be seen by setting the keyword `meijerg`:
[code]
The integration takes a long time because `heurisch` is attempted before `meijerint` in the current implementation. (The extra `pi` in the normalized `sinc` function makes `heurisch` particul

[2016-12-06 14:41] Abdullahjavednesar commented on #11841
I've been working on this issue but unable to locate where to make changes in the sympy code. @asmeurer
please help.

[2016-12-06 19:03] Newman101 commented on #11909
Hi.

I tested the first one:

```solveset(sqrt(x+2)>x, x, S.Reals)```

It gives:

[code]

[2016-12-06 19:13] beling commented on #11909
I've checked at http://live.sympy.org/ (please try even now) and on my debian machine (SymPy 1.0). (also on quite fresh anaconda -- windows -- but I don't know exact SymPy version.) Everywhere the results were incorrect.
I belive that development version is free from the bug, but I can't check this.

[2016-12-06 19:15] Newman101 commented on #11909
I have the latest master branch, so that might actually explain why the bug is gone.

[2016-12-06 19:51] beling commented on #11909
So, this issue can be closed, but it also shows quite good reason to release the next SymPy version possibly soon.

[2016-12-06 19:51] #11909 closed

[2016-12-06 19:53] asmeurer commented on #11841
The change should be made in sympy/printing/pretty/pretty.py.

[2016-12-06 19:57] asmeurer commented on #11082
It would need to do that conditionally. For a large sparse matrix, for instance, that would be much slower.

[2016-12-07 06:44] Flexico commented on #10101
I'm getting a similar problem, though integrate(sin(x**2),x) is giving a different answer (though still with gamma functions):
[code]>>> integrate(sin(x**2),x)
                      ⎛  ___  ⎞
    ___   ___         ⎜╲╱ 2 ⋅x⎟
3⋅╲╱ 2 ⋅╲╱ π ⋅fresnels⎜───────⎟⋅Γ(3/4)
                      ⎜   ___ ⎟
                      ⎝ ╲╱ π  ⎠
──────────────────────────────────────
               8⋅Γ(7/4)

[2016-12-07 14:16] MrOverlord opened #11914 "contains called on union of ComplexRegions in polar form is incorrect"
Calling contains on unions of ComplexRegions in polar form returns incorrect values
[code]
Last four tests should return `True`
Interestingly, this is working properly for non-polar ComplexRegion
[code]

[2016-12-07 15:54] chinmay0301 commented on #11877
Hi, is anyone still working on this bug? Another newbie here, and wanted to try fixing it

[2016-12-08 07:06] asmeurer commented on #11900
PDF as a format is designed to render exactly the same in all viewers (unlike HTML/CSS).

[2016-12-08 07:08] asmeurer commented on #11856
I seem to remember that there was a good reason for it, but why is heurisch tried before meijerg? Heurisch is the slowest and hence ought to be tried last.

[2016-12-08 07:20] rohitrango commented on #11856
So, should the ordering of the algorithms be changed? That seems like a better fix than considering special functions separately.

[2016-12-08 08:49] jksuom commented on #11856
Yes, meijerint should come before heurisch. It can integrate many functions that heurisch cannot handle. In those cases no time will be wasted with heurisch.

[2016-12-08 10:39] rohitrango commented on #11856
Yes, actually I tried integrating some non common functions and meijerint was able to solve them quicker.

[2016-12-08 13:03] karan1276 commented on #11898
@asmeurer What do you think about this? Also if you could tag a few people who have been working on plotting module it will be great, thanks :)

[2016-12-08 14:16] Pastafarianist opened #11918 "Implementing a custom datatype"
This is a question, not an issue report. If these are not welcome in the bugtracker, please flag it as invalid.

(Crossposted from [StackOverflow](http://stackoverflow.com/questions/40947209/implementing-a-custom-datatype-in-sympy).)

I want to perform calculations with a binary operation (`Tensor`) that takes two non-commutative arguments, converts them into something like a pair, and then does f

[2016-12-08 14:34] jtoka commented on #11166
I can work on this issue.

[2016-12-08 19:10] jksuom commented on #11918
I cannot reproduce these results because there is a Tensor class also in SymPy. Its printing method becomes involved:
[code]

I suppose some other name should be used.

[2016-12-08 19:16] beling opened #11920 "SymPy claims that a triangle has a negative area"
`Triangle(Point(0, 0), Point(2, 2), Point(4, 0)).area`
gives `-4`, but should `4`.

I have SymPy ver. 1.0.

[2016-12-08 19:39] zorroblue commented on #11920
I think it is related to the signed area. SymPy treats polygons as closed paths and also the given order of vertices are in clockwise order. So, I guess the sign of the area must be negative.
http://mathworld.wolfram.com/PolygonArea.html

[2016-12-08 19:53] beling commented on #11920
Thank you! I checked, and this is even mentioned in the area documentation. Everything is ok.

[2016-12-08 19:53] #11920 closed

[2016-12-09 00:24] symbolique opened #11922 "Integration returns wrong result when multiple piecewise functions are present"
`f` is a non-negative function, but Sympy 1.0 computes a negative autocorrelation for some values of k:
[code]

If we reduce to a single piecewise expression, integration succeeds:
[code]

[2016-12-09 00:41] symbolique commented on #11922
Actually, even `good_autocorr` can return a wrong result when k is symbolic:
[code]

Note that when evaluated on symbolic arguments `good_autocorr`'s result contains Max and Min while `autocorr`'s result contains nested Piecewise, so this might be two different bugs.

[2016-12-09 00:59] symbolique opened #11923 "Odd behavior when substituting a variable with the same name"
Executing the same statement twice changes the result:
[code]

The bug disappears if the positive variable has a name distinct from 't'.

[2016-12-09 11:09] jksuom commented on #11923
`var()` does two things: It constructs a symbol object and injects its name into the global namespace.
[code]

[2016-12-09 17:50] symbolique commented on #11923
Not a bug then, thanks!

[2016-12-09 17:50] #11923 closed

[2016-12-09 18:37] symbolique opened #11925 "Q.prime returns False when it should return None"
The documentation for `ask` gives the following example:
[code]
which is wrong if one integer is a unit.

[2016-12-09 23:00] divs4debu commented on #11899
I am new to open source project and i am trying to understand sympy's code base but after searching and digging for hours i cant find where actually matrix subtraction is taking place. I looked in core, matrices etc but cant find it.
A little help would be great.I would like to work on this issue.

[2016-12-10 12:03] Pastafarianist commented on #11918
@jksuom the script should work out-of-the-box if you run it separately. In case this is not an option, here is a [revised version](https://gist.github.com/Pastafarianist/f1bdf74161e9ada9a6e38895b2001f24) (I only did `s/Tensor/TP/g` there).

[2016-12-10 13:48] rohitrango commented on #11925
Quite valid. @symbolique are you working on it? I want to fix it.

[2016-12-10 19:29] jksuom commented on #11918
It seems that `expand()` will always apply SymPy `Mul` instead of `TP.__mul__`. Therefore a custom version is needed, There should probably be a new class for "tensor expressions" like `Ym`, etc.

[2016-12-11 17:56] aclarridge commented on #11876
Okay, although it has been some time I'm still working on this.

I created a new `Rule` for this type of integral - I am calling it `PowLogRule`. It uses `integrand.match` to identify any integral of the form `a*(sympy.log(b*symbol**d))**c` (trying to make it general here). It then assigns it a value of `a*d**c/(b**(1/d)*(-1)**c)*sympy.uppergamma(c+1,-sympy.ln(b**(1/d)*symbol))` where t is a dummy

[2016-12-11 20:52] jhncls opened #11926 "ccode does not accept user_functions for Max and Min"
For example:
  ccode(Max(x,x*x),user_functions={"Max":"my_max", "Pow":"my_pow"})
returns 'Max(x, my_pow(x, 2))'
instead of 'my_max(x, my_pow(x, 2))'

[2016-12-12 03:04] asmeurer opened #11927 "Add link to PDF docs to docs site"
We build PDF docs with the release at https://github.com/sympy/sympy/releases, but people might not know about it. We should add a link to the release docs at http://docs.sympy.org/latest/index.html to the PDF docs. Probably the simplest solution would be to just add a sentence to the top that says "a PDF version of these docs can be found at https://github.com/sympy/sympy/releases".

[2016-12-12 06:20] karthikchintapalli commented on #11927
Hello, I am new to open source. I would like to work on this.

[2016-12-12 10:14] jksuom opened #11930 "Sphinx build failure in Travis"
All sphinx builds have failed in Travis after docutils was updated to version 0.13.1. It looks like there is a bug in the new _html_base.py, most likely in image handling. This is a part of how the old doctools did translate lin_pend_nonmin_example.rst:
[code]
while this comes from 0.13.1:
[code]
Until that is fixed, we should probably arrange to load version 0.12 before sphinx is loaded.

[2016-12-12 11:10] mamakancha commented on #11927
Has this issue been assigned?

[2016-12-12 11:18] gxyd commented on #11927
@mamakancha There is currently one PR #11929 for this issue, which has been approved.

[2016-12-12 11:21] mamakancha commented on #11927
@gxyd  Thanks for informing! In general, what should I do to get some issue assigned to me?

[2016-12-12 11:25] gxyd commented on #11927
You can first check if some pull request has already been submitted for the issue (you can ask others if you are not sure if there is already one), as is the current case. Otherwise just comment on the issue itself that "you are working on this issue".

[2016-12-12 13:07] rutsky commented on #10568
Any progress on this issue?

[2016-12-12 18:00] symbolique commented on #11925
Go ahead!

[2016-12-12 18:52] Erotemic opened #11934 "Unicode issue with sympy.stats.FiniteRV"
This is an issue with a quick fix.

In python 2.7 I kept getting an error
`TypeError: s should have been string or Symbol`

when executing the following code

[code]
it failed on my machine, but I checked and it worked on the live sympy terminal.

Turns out the issue is that in `sympy/stats/rv.py` there is a check for `isinstance(s, str)`.
On my machine I use unicode_literals and my 'X' is evaulat

[2016-12-12 21:05] asmeurer commented on #11930
https://github.com/sympy/sympy/pull/11935

[2016-12-12 22:05] asmeurer opened #11936 "collect should be aware of Order"
If you collect an expression with Order, it should keep the Order term separate (especially if the term in the Order is the variable being collected).  Consider this example (from https://stackoverflow.com/questions/40733545/trouble-with-taylor-series-in-python-sympy?noredirect=1#comment69423453_40733545)

[code]

The first case is putting the O term with the constant term, preventing it from bein

[2016-12-12 22:19] asmeurer commented on #11934
We don't use `six` but we do have a compatibility file (sympy.core.compatibility) with `string_types` that should be used.

[2016-12-13 05:40] mamakancha commented on #11934
@asmeurer  Hi. I would like to get this issue assigned. Since I am a new-comer, I am having a bit-difficulty as to how I should go about solving this problem. Can you suggest something?

[2016-12-13 07:40] #11930 closed

[2016-12-13 13:27] #11730 closed

[2016-12-13 13:55] patniharshit commented on #11934
@mamakancha let me know if you aren't doing it. I want to do it too.

[2016-12-13 17:12] #11841 closed

[2016-12-13 18:24] MrOverlord opened #11938 "Incorrect result in intersection of ComplexRegions and Reals"
Hi,

the following bug was found by @jksuom [here](https://github.com/sympy/sympy/pull/11818#issuecomment-266730240)
[code]
Expected answer would be `[1,2]`
Related bug for intersection with a real subset in case of polar coordinates:
[code]
Here, we would expect the answer to be `[-1,0]`

[2016-12-13 18:43] Abdullahjavednesar commented on #11938
I'd like to fix this. Can anyone suggest here.

[2016-12-13 18:58] MrOverlord commented on #11938
I actually started working on it.
So far, can't get sympy to simplify expressions like
[code]
Which causes tests to fail...

[2016-12-14 00:21] asmeurer commented on #11157
Interesting. For me it actually kills the interpreter.

[code]

[2016-12-14 03:28] asmeurer commented on #11157
That happens even in a fresh conda environment with no IPython, matplotlib, gmpy, or fastcache. I think it must be a Python bug.

[2016-12-14 03:36] asmeurer commented on #11157
I tested the cPython master and it doesn't kill the interpreter, so maybe it's been fixed.

[2016-12-14 11:52] #11938 closed

[2016-12-14 13:24] #11899 closed

[2016-12-14 20:42] cbm755 opened #11944 "matrix vstack/hstack can fail with immutable matrix as first argument"
[code]
Note it will work if one uses `MatrixBase.vstack`.

I don't think this is really about immutable matrices; its about `cls.col_join` not being the right method, depending on what is in `args`.

One way to fix this would be to take `cls` from the type of `args[0]` instead:
[code]
Although I'm not sure that's quite right.

Another option is to avoid `reduce` and use:
[code]
(or more pythonic v

[2016-12-15 04:26] rmagesh148 commented on #11934
@Erotemic @asmeurer I have fixed it as per your suggestion and the tests have passed. Thank you.

[2016-12-15 08:04] mamakancha commented on #11934
hi @asmeurer @Erotemic @rmagesh148 . I intend no offence here but I think it was pretty clear from the above thread that I was working on this issue. I have also made a pull request for the same about 11 hours ago. Kindly confirm it @rmagesh148 . Although I am getting some problems. They would be fixed very soon :)

[2016-12-15 09:34] Abdullahjavednesar commented on #11944
I want to try this.

[2016-12-15 11:27] codegeek96 commented on #11821
I'm new, and would like to solve this as my first bug. Can anyone tell me in which file this issue is?

[2016-12-15 11:41] Abdullahjavednesar commented on #11914
@MrOverlord are you working on this issue? I want to fix this.

[2016-12-15 11:53] Abdullahjavednesar commented on #11914
[code]

[2016-12-15 12:33] Abdullahjavednesar commented on #11944
@cbm755 this the output in my system and seems to be fine.
[code]

[2016-12-15 13:54] MrOverlord commented on #11914
In your example, `-3` is in both `c1` and `c2`. In mine it belongs only to `C2`.

[2016-12-15 16:24] rmagesh148 commented on #11934
@mamakancha I am also a newbie to open-sourcing. I didn't know that I should wait for someone who was actually assigned this problem. I just tried doing it as it is "Easy to Fix" and please tell me if there is any way of reverting this back :) . I don't have a problem but if you know, please guide me on that. Thank you.

[2016-12-15 16:32] mamakancha commented on #11934
@rmagesh148  No problem there. I just wanted to make things clear so as to avoid any confusion. Although I am new user too but based on the very little experience I have, you should check this [link](https://github.com/sympy/sympy/wiki/Development-workflow).
Also You only pushed your changes to your forked repository only. You did not make a pull request to merge into the original sympy repository

[2016-12-15 16:41] rmagesh148 commented on #11934
I believe I did [merge](https://github.com/sympy/sympy/pull/11945) my forked repo to the master:sympy, please let me know if that is wrong way of doing. Thank you.

[2016-12-15 16:42] cbm755 commented on #11944
Thanks for checking.  I've tried it and I can reproduce with Python 2 on both Sympy 1.0.1 and the current git master.  But on Python 3, it works as you show: nice catch.

[2016-12-15 16:47] cbm755 commented on #11944
Go for it.  It should be an easy fix, I'm just not enough of a Python expert to know which fix is the best.  Please add a test and read the https://github.com/sympy/sympy/wiki/Development-workflow.

[2016-12-15 16:52] mamakancha commented on #11934
@rmagesh148 Sorry. Did not check. Yes you have merged your repo with the original one [here](https://github.com/sympy/sympy/pull/11945). However since I am working on it I would suggest you to close your pull request.
I hope you understand that it was allotted to me first :)

[2016-12-15 16:54] rmagesh148 commented on #11934
@mamakancha I did [close ](https://github.com/sympy/sympy/pull/11945) it. :) Thank you.

[2016-12-15 16:59] mamakancha commented on #11944
Hi @Abdullahjavednesar . Let me know in case you're not working on it :)

[2016-12-15 17:05] mamakancha commented on #11893
Hi @asmeurer  I would like to work on this issue. Can you give me any starting point?

[2016-12-15 17:15] madan96 commented on #10472
@asmeurer What else needs to be done in this issue?

[2016-12-15 17:36] cbm755 commented on #10472
There are examples in #5094 as well as in the previous comments of thus bug.

Here's one that combines both:
[code]
Everything looks good except the baseline of the matrix.

[2016-12-15 17:40] madan96 commented on #10472
So this problem is specific to matrix only. Okay! I'll look into `sympy/printing/pretty/pretty.py`. I guess we will  have to take a look a the `_print_matrix*` functions. Am I right?

[2016-12-15 17:53] cbm755 commented on #10472
Probably, but I haven't looked at it in a long time.  #10423 might be helpful too.

[2016-12-15 18:01] Abdullahjavednesar commented on #11914
Oops! my bad. You are right @MrOverlord

[2016-12-15 18:13] cbm755 commented on #10415
Hmmm, its definitely not clear what I meant.  I guess things like:
[code]
Note the `str` output is ambiguous whereas the `pprint` output has parentheses.

[2016-12-15 19:09] #11927 closed

[2016-12-15 20:30] rmagesh148 commented on #11634
Hi @asmeurer I just tried printing the `dotprint` for `(2**x)` and `(x**2)` but I see the difference in the printing. Please advise me on this. Thank you.
`>>> dotprint(2**x)
\begin{equation*}digraph{

# Graph style
"ordering"="out"
"rankdir"="TD"

#########
# Nodes #
#########

"Pow(Integer(2), Symbol(x))_()" ["color"="black", "label"="Pow", "shape"="ellipse"];
"Integer(2)_(0,)" ["color"="black",

[2016-12-15 21:04] asmeurer commented on #11634
Do they give different graphs when you render them with graphviz?

[2016-12-15 21:51] rmagesh148 commented on #11634
Yes. I used [webgraphviz](http://www.webgraphviz.com/) to render the output of `dotprint(x**2)` and `dotprint(2**x)` I was able to see two different graphs

[2016-12-15 23:45] jna29 opened #11948 "MatrixSymbol fails with 'matches'"
When calling `Basic.matches` with a `MatrixSymbol`, the method fails as such:

`AttributeError: 'str' object has no attribute 'xreplace'`

This is because in `Basic.matches`(sympy/core/basic) on line 1447 we call `self.args` in `for arg, other_arg in zip(self.args, expr.args):` which returns a tuple of type `(str, Symbol, Symbol)`. I'm guessing that the method isn't supposed to work with these typ

[2016-12-16 07:09] asmeurer commented on #11893
I would start by understanding the two different types of mathml (see https://en.wikipedia.org/wiki/MathML). The current printer code is at https://github.com/sympy/sympy/blob/master/sympy/printing/mathml.py

[2016-12-16 08:40] #11914 closed

[2016-12-16 12:44] jksuom commented on #11157
I looks like a SymPy bug.

The mod code calls int(r) where r = pi/Sum(pi, (a, 1, 2) (= 1/2), and the interpreter calls `r.__int__()` in Expr. That tries to call `r.round(2)` which goes into a loop calling itself repeatedly at [this line](https://github.com/sympy/sympy/blob/master/sympy/core/expr.py#L3166) since `x.is_real` returns None each time.

[2016-12-16 15:27] Abdullahjavednesar commented on #11925
@rohitrango are you still working on it? I wanna try this.

[2016-12-16 15:40] rohitrango commented on #11925
@Abdullahjavednesar Sure! I had just started anyway. :smile:

[2016-12-16 17:47] smichr commented on #11157
Should a sentinel check be done to see that the real and imaginary parts are real and raise an error if they aren't?

[code]

[2016-12-16 19:26] jksuom commented on #11157
It seems that something like that would be necessary in general. In this particular case, it might be enough to improve the real handler of sums:
[code]
(BTW, if a sentinel check is added, the names i and r could also be swapped.)

[2016-12-16 20:25] #11926 closed

[2016-12-16 20:30] bjodah commented on #11880
@kalbhairab care to elaborate what you mean with include?
Are you referring to this?:
https://github.com/augustt198/latex2sympy

[2016-12-16 22:32] siefkenj commented on #11944
This is fixed in https://github.com/sympy/sympy/pull/11592 , for what it's worth :-)

[2016-12-17 04:46] cbm755 commented on #11944
@siefkenj that's great!  I wondered when I saw your refactor but I haven't had a chance to look yet.  Thanks.

@Abdullahjavednesar if that PR goes in first, we'll need to update your PR #11951 to just add tests---this issue will still need tests even if its fixed elsewhere.

[2016-12-17 15:34] jhncls opened #11953 "proposal: ccode of Max as concatenation of 2-parameter std::max"
In  reference to the discussion with @bjodah in https://github.com/sympy/sympy/pull/11933:
ccode of `Max(...)` now simply returns `Max(...)` which is not a standard C function.
`std::max` only accepts 2 arguments, while sympy's Max accepts an arbitrary number of arguments.
Concatenation of n-1 two-argument calls of std:max could be a solution:
  `ccode(Max(x1,x2,x3,x4,x5))`
would then return
  `st

[2016-12-17 22:03] shibasisp commented on #11543
@asmeurer if @kritkaran94 isn't working on this, can I work on this?

[2016-12-17 22:24] mamakancha commented on #11934
Submited a pull request for this issue with test. Please refer #11943

[2016-12-18 19:10] mamakancha commented on #11893
@asmeurer Thanks for the resources. I can give this one a try. Will start working on it and try to come up with something as soon as possible.

[2016-12-18 21:15] sdemarre opened #11955 "diophantine gives wrong solution for -4*x**2+4*x*y-y**2+2*x-3"
I used the diophantine solver to try to solve the following equation: `(-y**2)+4*x*y+(-4)*x**2+2*x-3 = 0`
The solver returns 2 solutions. I verified the solution by substituting it back into the equation, expecting 0 as result, but it is not the case.

Here is my session:

[code]
The second solution does seem to be correct:
[code]

[2016-12-19 04:05] #11934 closed

[2016-12-19 06:08] Abdullahjavednesar commented on #11955
@sdemarre are you working on it? I'd like to try this.

[2016-12-19 07:09] sdemarre commented on #11955
I'm not working on it.
I've been using the sympy diophantine solver to help me implement a solver
for Maxima and accidentally stumbled on this one.

On Dec 19, 2016 7:08 AM, "Abdullah Javed Nesar" <notifications@github.com>
wrote:

[2016-12-19 07:10] ShivramIITG commented on #11955
Hello i am newbie .... is it recommended to start contributing with this issue, is anyone working on it already?

[2016-12-19 07:55] ShivramIITG commented on #11024
@certik @asmeurer
Is this still open ? i am new here ... i would like to get started... pls help

[2016-12-19 09:11] ShivramIITG commented on #11435
@asmeurer  @parsoyaarihant
Is this still open ? Can i work on this ? Kindly help me getting started,i am new here

[2016-12-19 09:23] dhruvkb commented on #11955
I have been working on this problem for about nine hours now and have made some valuable progress. It would be nice if I could carry on with this problem and fix it.

[2016-12-19 09:32] sdemarre opened #11956 "diophantine doesn't find solutions for 2*x**2+y**2-16"
Diophantine returns the empty set but `{x=0,y=4}` and `{x=0,y=-4}` are solutions.
I suspect there is some issue with the solving of the elliptic case, as for example `10*x**2 + 12*x*y + 12*y**2 - 34` also doesn't return all solutions: it returns `{x=-1,y=2}` and `{x=1,y=1}` but fails to find `{x=-1,y=-1}` and `{x=1,y=-2}`

[2016-12-19 09:33] ShivramIITG commented on #11955
sure .. no probs :)

[2016-12-19 10:55] pranjaltale16 commented on #11956
Hello,
I have started working on this problem.

[2016-12-19 14:25] Abdullahjavednesar commented on #11955
@dhruvkb if you have started off you may go ahead.

[2016-12-19 16:39] bjodah commented on #11953
I just remembered that in C99 we have `double fmax(double, double)` in `math.h`.
Hopefully modern compilers optimize nested calls to this as well.

[2016-12-19 18:10] dharasty opened #11959 "diophantine solver not working well"
I can readily find examples of the Diophantine solver missing solutions.

I'm working on a family of problems in the general binary quadratic equation form, but all my cases are the "elliptical case", that is B^2 - 4AC < 0.

Here is ONE set of coefficients that shows sympy is missing values: A=10, B=0, C=10, D=-6, E=-14, F=-52548.  (I can generate MANY more if you'd like; let me know if you need m

[2016-12-19 20:50] dharasty commented on #11955
I also posted an issue today regarding Diophantine solver not working for elliptical cases: https://github.com/sympy/sympy/issues/11959

Let me know if you need test vectors; I can generate as many as you want.

[2016-12-19 21:19] pranjaltale16 commented on #11959
@dharasty could you provide me some more cases i have made some changes would love to test on more examples to comfirm things.

[2016-12-19 22:08] ayushjain19 commented on #11956
It returns all four possible solutions for 10*x**2 + 12*x*y + 12*y**2 - 34 when the parameter "permute" is passed as True in the Diophantine function. But yes, it returns an empty set for  2*x**2+y**2-16. Meanwhile I will try working on it. Suggestions are welcome.

[2016-12-19 23:02] dhruvkb commented on #11955
@dharasty Your issue with Diophantine is different from this one. However your issue should be fixed by PR #11961

[2016-12-20 07:28] karan1276 commented on #11898
@jksuom @asmeurer @smichr @shashank-agg @flacjacket @hacman @catchmrbharath

I am trying to write a new back for ploting module (Tikz) ref. #7225. But i can't find out how to change backend by passing a parameter, what do you think about it?

If someone can mentor me on the new backend it would be great :)

[2016-12-20 08:20] catchmrbharath commented on #11898
Can you try ```p1 = plot(x*x,_backend="text")```

[2016-12-20 13:35] chengdi123000 commented on #7806
Here is part of my code to solve Blasius Equation in [0,+oo) with change of variables to [-1,1]. I am using **replace** rather than **subs** or **xreplace**. I think this may be helpful.
[code]

[2016-12-21 07:08] sarthak268 commented on #11877
Please assign me this issue

[2016-12-21 07:13] sarthak268 commented on #11024
please assign me this

[2016-12-21 07:14] sarthak268 commented on #8129
please assign me this

[2016-12-21 07:45] shivamvats commented on #8129
@sarthak268 Looks like it has been solved. Can you add a relevant test for it?

[2016-12-21 08:55] #11925 closed

[2016-12-21 14:30] tyetis opened #11963 "Sympy very slow response for this equation"
Sympy very slow response for this equation:

solve([Eq(x**2+y/(x+y), 20)], x,y)

what is the reason ? Do you have a better method ?

[2016-12-21 14:32] Upabjojr commented on #11677
https://github.com/sympy/sympy/pull/11874

[2016-12-21 14:32] #11677 closed

[2016-12-21 14:39] Upabjojr opened #11964 "Singular matrix gives wrong result with negative powers"
[code]

[2016-12-21 17:57] Abdullahjavednesar commented on #11868
I think checking its differentiability makes it complicated.
I 'd like to try this.

[2016-12-21 18:04] asmeurer commented on #11868
It might spark a discussion on the differentiability thing, but the actual change I suggested should be easy enough, if you want to try it.

[2016-12-21 22:12] moorepants opened #11967 "There is no clean way to define a system's potential energy expression in LagrangesMethod"
When forming Lagrange's equations the potential energy expression, in general, is composed of individual components that map to particles and bodies. For example, if a spring is connected between two particles, the potential energy expression will look like `k/2/x**2` where `x` is the distance between the two particles. This is a system wide definition of the spring's potential energy and can't ne

[2016-12-21 23:32] asmeurer commented on #11608
I just ran the tests on the 3.6 beta and the tests failed at least.

[2016-12-22 00:52] asmeurer commented on #8404
A related example:

[code]

(see also https://math.stackexchange.com/questions/2067911/can-a-mathematician-review-my-t-shirt-design)

[2016-12-22 05:13] cbm755 commented on #10472
Just to add one more example to this, consider multiplcation of a short-wide vector by a tall-skinny vector:
[code]
My "by-hand layout" would be:
[code]
(I'm not even sure how to do that in LaTeX off the top of my head...!)

Here the current master rendering:
[code]

With the patch in #11947, we would have:
[code]
(And this matches what you'd get naively using `\begin{bmatrix}` in LaTeX so certain