[2018-08-13 21:10] bjodah commented on #15071
Mmmm yes, I remember you and I discussing that this could happen. `lambdify` was (and still is) quite under-tested. I opened gh-15085 with a test case that does pass. Is that viable?

[2018-08-13 21:50] asmeurer commented on #14318
subs has a flag simultaneous=True that should do a simultaneous substitution. I don't know if it works with units. Also if you use Python 3.6+ dictionaries do keep their order (and otherwise you can use a list of tuples to force the order).

[2018-08-13 22:06] petersbingham opened #15086 "Regression: Degradation of det function performance when applied to large matrices of polynomials."
I was directed to post my issue from [stackoverflow](https://stackoverflow.com/questions/50398584/unhandled-exception-cant-unify-dmp-when-calculating-det-of-sympy-matrix) (although the exception seems to have changed slightly with my repo here).

This report is for different versions of sympy. I have ran the tests on windows 10. Other versions, which remain constant throughout are:
python: 2.7.14,

[2018-08-13 22:40] smichr commented on #15084
I am working on this.

[2018-08-14 04:08] sylee957 opened #15088 "The function dotprint() is omitted from the sympy.printing module"
I've recently been following up the [tutorial](http://docs.sympy.org/latest/tutorial/printing.html) of printing.

And while the tutorial suggests me to import the method in following way
```from sympy.printing.dot import dotprint```
and regard it as
```dotprint()```

I would also like to use the method in hierarchically accessible way such as like in the following
```import sympy```
and access it

[2018-08-14 09:55] johnomotani opened #15090 "Solving quartic with complex coefficients fails"
Minimal example, using sympy 1.2.0:
[code]
produces
[code]

Note that changing the float `1.` to an int sympy produces solutions. They are Piecewise functions, but that would be OK because I could then simplify and evaluate them. My actual problem has complex float coefficients.

The problem seems to be evaluating nfloat(a, n, False) where a is a Piecewise. However, this should not be a problem be

[2018-08-14 11:05] jksuom commented on #15090
There should probably be a * in front of the list form argument on this line:

    return type(expr)([nfloat(a, n, exponent) for a in expr])

Otherwise there is only one argument.

[2018-08-14 11:35] NikhilPappu opened #15092 "Travis builds are failing because of a "pip" issue"
Check the Travis build for #15066. It seems like the "pip" no longer supports the `legacy` option.

[2018-08-14 11:36] NikhilPappu commented on #15092
@asmeurer

[2018-08-14 11:55] jksuom commented on #15092
A fix in https://github.com/sympy/sympy/pull/15089

[2018-08-14 12:35] jksuom commented on #15086
Complex floating point coefficients have not been implemented in SymPy yet though there is some work being done (https://github.com/sympy/sympy/pull/12192). Those are necessary for converting SymPy expressions to polynomials by a `poly` call. Unfortunately, working with raw expressions can be time (and space) consuming. Expressions with exact (rational) complex coefficients can be converted to pol

[2018-08-14 12:40] petersbingham commented on #15086
But it worked OK in 1.0. Is this known behaviour that has changed between versions?

[2018-08-14 13:07] jksuom commented on #15086
Did you compute successfully with polynomials in 1.0 using numbers like this?

-1360.393798360780044856477018417517128258181825797801822663234852702317479530758694403277270999911851 + 3.028755129743630048165040820491299486932384987680791282508318794359722116240588864740850378330409428e-98j

[2018-08-14 13:08] petersbingham commented on #15086
I believe so. The test code shown the coefficients of the polynomials used.

[2018-08-14 13:09] petersbingham commented on #15086
Sorry I should correct. The test file contains coefficients from which the final polynomial was constructed. Effectively the same result though.

[2018-08-14 13:12] jksuom commented on #15086
The imaginary part of the number above is negligent in comparison with the real part. Is it possible that a successful computation simply ignored the imaginary part?

[2018-08-14 13:16] petersbingham commented on #15086
Ah yes. It is possible but I will have to check this evening. So the 'breaking' change here is essentially that the later versions are not ignoring the small imaginary parts? So I could 'fix' in the latest by removing the small imaginary components. Thanks, I will investigate further and close if it is the case.

[2018-08-14 13:28] jksuom commented on #15086
The issue with this line

    new_poly_mat[i,j] = sym.poly(poly_mat[i,j])

is that it will create a polynomial of two variables, `k` and  the imaginary unit `I`. That will happen because complex floats are not implemented. This line will then raise an exception

    symPoly = sym.polys.Poly(det, k)

as it expects that det is a polynomial of one variable `k`. The second variable `I` is visible on t

[2018-08-14 13:37] petersbingham commented on #15086
Is it possible that in 1.0

`new_poly_mat[i,j] = sym.poly(poly_mat[i,j])`

the imaginary component has been dropped when creating the `new_poly_mat`?

[2018-08-14 15:16] jksuom commented on #15086
I don't think that was dropped in 1.0. It was probably a polynomial in `k` and `I`.

    det = new_poly_mat.det(method="berkowitz")

will also be a polynomial in `k` and `I`. The error message results when

    symPoly = sym.polys.Poly(det, k)

tries to transform it to a polynomial in the single variable `k`.

[2018-08-14 16:38] bPhysicist commented on #15076
The following change:
[code]
gives an error when running the test_ode.py test:
[code]
https://github.com/sympy/sympy/blob/master/sympy/solvers/tests/test_ode.py#L2531

[2018-08-14 17:08] schymans commented on #14318
Wow, no error with simulataneous=True. I narrowed down the problem:
[code]
returns
[code]
while `u.meter == m` returns `False`, so I have no idea why `.subs({m: 3 * u.kilogram})` does anything at all.

[2018-08-14 18:40] asmeurer commented on #15088
Several functions in SymPy aren't included in `__init__.py` files, meaning they can only be imported directly. I guess `dotprint` is one of these. However, since it is mentioned in the tutorial, we should probably include it.

This should be easy to fix. Just add `dotprint` to `sympy/printing/__init__.py`.

[2018-08-14 21:08] petersbingham commented on #15086
What you are saying may be correct in theory but it is not what I am observing. I've ran some additional tests and print to file the det repr prior to the call to `sym.polys.Poly` and the poly repr after. I ran these tests for:

1. Both 1.0 and 1.1.1 versions of sympy.
2. The polynomials constructed from the attached test files. Call this PolyBad.
3. Another polynomial, of the same nature as in 2.

[2018-08-15 01:40] majidaldo commented on #15083
why do i have to do it like that? i don't see the logical difference.

[2018-08-15 03:06] asmeurer commented on #15083
I wouldn't be surprised if this boils down to https://github.com/sympy/sympy/issues/11707.

[2018-08-15 06:12] cbm755 opened #15097 "dsolve: untested code in `_linear_2eq_order2_type10`"
All SymPy code should be tested.  But I don't think this block is.

It would be nice to figure out what sort of problem it solves and design a test case that exercises this code path.  Then implement that test in `test_ode.py`.

Background needed: basic knowledge of ODEs, patience to study the dsolve code.

If you do this, *please do not* just take whatever `dsolve` says the answer is as a test ca

[2018-08-15 07:40] jksuom commented on #15086
Can you give a (reasonably small) example of a polynomial `det` in `k` and `I` such that `Poly(det, k)` will succeed in 1.0 (or 1.1.1), and then also the result of that call. (Preferably as plain text files.)

[2018-08-15 07:57] petersbingham commented on #15086
I will but I'm going to close this and open two new tickets as I think there are two issues here:

1- The apparent `sym.polys.Poly(det, k)` one.
2- Degradation of the det function

Thanks

[2018-08-15 10:40] petersbingham commented on #15086
Reading the documentation here: [polytools.Poly](http://docs.sympy.org/latest/modules/polys/reference.html#sympy.polys.polytools.Poly) it appears that it is OK to call poly with only a single variable specified. It states that it will "Create a univariate polynomial, where y is a constant". In the case above y will be `I`. Perhaps I have misunderstood something?

[2018-08-15 11:48] jksuom commented on #15086
That should be true, and that is what happens in my tests on SymPy 1.2.
[code]
I have been trying to figure out why your system would raise a PolynomialError.

[2018-08-15 12:11] jksuom commented on #15076
This test provided with two comments

    # this is the equation that does not like x to be real
    # generates PolynomialError in solve attempt

If `x` is defined by `Symbol('x')`, then it will be the same as `x` defined in `_roots_quartic_euler`, and therefore it will raise PolynomialError. `dsolve` will then return the solution in implicit form as shown on the assert line.

If `x` is defined b

[2018-08-15 12:14] petersbingham commented on #15086
I think it's the det function (as vastly different returns for PolyBad, at least for size) but I want to run a couple more tests. I'll add as a new issue later with detter definition and simpler reproduction.

[2018-08-15 13:38] petersbingham commented on #15086
Yes, with the latest version the resultant poly after the det is _much_ more complex. The fact that this has changed though is a regression bug, is it not? (I'll post the reproduction later, I just want to check that the det from sympy 1.0 works with the `sym.polys.Poly(det, k)` using 1.1.1. If it does then I'll know that `sym.polys.Poly(det, k)` is not a contributing factor here.

Basically the p

[2018-08-15 14:49] #15042 closed

[2018-08-15 17:32] sidhantnagpal commented on #14668
This can be closed. SymPy live is updated to 1.2 in [sympy-live#120](https://github.com/sympy/sympy-live/pull/120).

[2018-08-15 18:01] sidhantnagpal commented on #14910
Similar to #13313. Both the links redirect to https version for me, though the connection is not fully secure.

[2018-08-15 18:32] asmeurer commented on #14910
Close this issue as a dupe of that one.

[2018-08-15 18:32] #14910 closed

[2018-08-15 18:35] asmeurer commented on #13313
Main issue at https://github.com/sympy/sympy.github.com/issues/105. The problem is getting https support for SymPy Live and SymPy Gamma, which are both on the app engine. Once we have that, switching to https for the docs and main site will be easy.

[2018-08-15 19:18] #6938 closed

[2018-08-15 20:49] asmeurer commented on #15086
Related old mailing list post https://groups.google.com/forum/#!msg/sympy/vxOa1Et30x4/7uMgbfi_BAAJ, which links to https://github.com/sympy/sympy/issues/13805 and https://github.com/sympy/sympy/issues/11082

[2018-08-15 20:50] will133 opened #15098 "Difference in behavior when handling a str vs numpy.str scalar type for sympy.sympify"
It seems like when handling an input of numpy.str_ (which arises from numpy.array(['abc'])[0]), the sympy.sympify has a different behavior comparing to a python str type.  For instance, in the old sympy:

[code]
while in the new sympy 1.2:
[code]
Notice that the custom MySymbol type is not  returned as a result in sympy 1.2.

[2018-08-15 21:08] asmeurer commented on #15098
Fix at https://github.com/sympy/sympy/pull/15099

[2018-08-15 23:39] cbm755 commented on #15097
There is `checksysodesol`.  But AFAICT it is tested by `test_checksysodesol()` but then is never used in actual tests of `dsolve`...  Sounds like another nice "easy to fix" project.

[2018-08-15 23:57] cbm755 commented on #15012
The `inline=False` cases isn't vectorized so room for improvement there too...  See https://github.com/sympy/sympy/issues/15012#issuecomment-410501691 for a possible approach (probably can't use if/else).  Maybe that's the only "easy" fix here.

@czgdp1807 has inline code that fixes the nan thing, but unfortunately I don't think it can be vectorized.

[2018-08-15 23:59] cbm755 commented on #9057
I cannot reproduce the segfault anymore so I will close this.  The underlying cause is fixed by #9064 (which has its own issue number, #3539).

[2018-08-15 23:59] #9057 closed

[2018-08-16 01:42] sylee957 commented on #15088
This issue has already been merged

[2018-08-16 02:29] asmeurer commented on #15088
In the future you can add "Fixes #15088" to the pull request description or a commit message and the issue will close automatically when the pull request is merged.

[2018-08-16 08:05] jksuom commented on #15086
It seems that the new implementation of the matrix module was not planned to work with polynomial objects. Their operations are not performed, presumably to save time. The resulting expressions that involve several Poly objects can not be handled by `sym.polys.Poly`.

With this patch I was able to run the demo code.
[code]
This could probably be included in the next release of SymPy.

[2018-08-16 09:09] petersbingham commented on #15086
Does this also explain why it works OK with some polynomial matrices and not others?
I have a new better demo using both good and bad polynomials. Would it still be useful to post here?

[2018-08-16 09:41] jksuom commented on #15086
The point is that matrices were initially not planned to work with polynomials. That they sometimes do is more or less accidental. The patch above is one place where handling of polynomials can be improved, but there may be other issues as well. It would probably be useful to post additional examples.

[2018-08-16 11:02] arielbro commented on #14836
Any update on this?
I'm not familiar enough with sympy to know how to mitigate this bug on user side (including finding out exactly when it manifests)

[2018-08-16 18:28] asmeurer commented on #13999
You could use `parse_expr` with a custom token transformer to add the evaluate=False. The problem, as noted here, is that not all functions support evaluate=False.

You could also subclass the EvaluateFalseTransformer in sympy.parsing.sympy_parser and add the code suggested here, then perform the transformation on the ast.

[2018-08-16 19:49] #15076 closed

[2018-08-16 20:58] asmeurer opened #15103 "Warnings about autolev in install"
When running setup.py install, there are some warnings

[code]

See https://travis-ci.org/sympy/sympy/jobs/416949633#L1912

Indeed, the autolev submodule doesn't have any of these files. Were these included in setup.py, or are they generated somehow? If they are generated, should it be done at install time? If they shouldn't be there, then they should be removed from setup.py.

CC @NikhilPappu @ce

[2018-08-16 21:01] asmeurer commented on #15103
The files are the same as the LaTeX parser. But in the LaTeX parser submodule, those files are there. Any files that are generated by antlr should be checked into the repo, so that users don't have to run antlr. Only developers, who modify the parser, should have to re-run antlr. (when I say "antlr" here I mean the antlr generator, not the runtime which of course the users will need to run the sub

[2018-08-16 21:04] petersbingham commented on #15086
Some more tests: [new_test.zip](https://github.com/sympy/sympy/files/2295232/new_test.zip)

The previous test code much simplified, with a couple of additional polynomials added. Rather than construct the polynomials I just eval them direct from the files. Some precision loss but I don't think it affects the issue from appearing. The code (which is in the new_test.py inside the attached zip) is ba

[2018-08-16 21:06] NikhilPappu commented on #15103
Aaron,
The .interp, .tokens etc are not needed so they could be removed from
setup.py. Also, those files aren't required for the parser to run. Only the
lexer, parser and listener files are required. The users do not need to run
antlr.

On Fri 17 Aug, 2018, 2:31 AM Aaron Meurer, <notifications@github.com> wrote:

[2018-08-16 21:11] asmeurer commented on #15086
Perhaps a bit of topic to the issue at hand, but matrices naturally operate over fields, whereas Poly only forms a ring (1/Poly returns an Expr object). It would be more natural for matrices to operate over the polys domains rather than Poly itself. Matrices over non-fields could be useful (perhaps for agca), but there would need to be a clear separation between methods that require division and m

[2018-08-16 21:12] asmeurer commented on #15103
What about the ones in the LaTeX parser? Should they be removed too?

[2018-08-16 21:12] NikhilPappu commented on #15103
We could still include those files but I am not sure what they are for as
it runs just fine without them.

On Fri 17 Aug, 2018, 2:36 AM Nikhil Pappu, <nkhlpappu@gmail.com> wrote:

[2018-08-16 21:13] NikhilPappu commented on #15103
I guess they could be removed.

On Fri 17 Aug, 2018, 2:42 AM Aaron Meurer, <notifications@github.com> wrote:

[2018-08-16 21:13] asmeurer commented on #15103
Also `MANIFEST.in` needs to be updated as well.

[2018-08-17 07:35] jksuom commented on #15086
Thanks for the examples. It seems that changing `Add` to `sum` as I suggested above will suffice to solve also these issues. These are the results I get:
[code]
I think that the patch should be merged into current code. (It is possible that the performance on some non-polynomial matrices would be slightly degraded but I don't expect that to be significant.)

[2018-08-17 07:36] sylee957 opened #15105 "Unused imports from matrices.py"
[code]

Here is the log thrown by my `pylint`.
And I suppose that these unused imports can be removed harmlessly without much effort, to clean up the code.

[2018-08-17 08:13] zenolin opened #15106 "Wrong result when calculate the shortest distance between a line segment and a point"
I used sympy's geometry package, I wanna get the distance between a line segment and a point. But wherever the point, I got the distance between a line (not line segment) and a point.

[code]
The result was 9*sqrt(2)/2. Obviously wrong!

I debugged, found the reason was **Multiple Inheritance** ：
[code]
I changed the Inheritance order as follows. It was OK.
[code]
I thought it was a bug. May be so

[2018-08-17 08:32] petersbingham commented on #15086
Thanks. Looks like it might be fixed but maybe worth checking that we get no exception from the `sym.polys.Poly(det, k)`. If you leave your generated files here I can check if you think it's worth doing.

[2018-08-17 09:13] jksuom commented on #15086
There seem to be no problems with `Poly(det, k)` when `det` is produced by the patched code. The sizes of the three `det` files are 303, 9407 and 1330.

Are you interested in sending a PR on the patch?

[2018-08-17 09:28] petersbingham commented on #15086
Yes, I can send a PR if you want. Take it you need to send me the patch file?

[2018-08-17 09:47] jksuom commented on #15086
You can simply edit the single line in dense.py and apply git commit. (The patch will be created automatically by git or by GitHub. No physical patch file is necessary.) Follow the instructions in https://github.com/sympy/sympy/wiki/Development-workflow.

You should create a reasonable simple test matrix with Polynomial entries and assert that its determinant is a Poly (`det.is_Poly`) with the pat

[2018-08-17 10:30] petersbingham commented on #15086
OK, give me a day or two. Thanks again!

[2018-08-17 10:58] jimmygraviton commented on #15106
i think answer is correct it should be 9*sqrt(2)/2=9/sqrt(2)
equation of lline is x+y-10 and Point is (10,0)

[2018-08-17 12:48] jksuom commented on #15086
`import Add` can be removed.

[2018-08-17 13:13] czgdp1807 commented on #15105
I would like to work on this.

[2018-08-17 13:47] sylee957 commented on #15106
https://github.com/sympy/sympy/blob/4a0f7981ddd6a611e48779bb212c151c23cd9b54/sympy/geometry/line.py#L1844

https://github.com/sympy/sympy/blob/4a0f7981ddd6a611e48779bb212c151c23cd9b54/sympy/geometry/line.py#L2372

https://github.com/sympy/sympy/blob/4a0f7981ddd6a611e48779bb212c151c23cd9b54/sympy/geometry/line.py#L2641

https://github.com/sympy/sympy/blob/4a0f7981ddd6a611e48779bb212c151c23cd9b54/sy

[2018-08-17 14:50] petersbingham commented on #15086
OK. Will do. Can you please assign to me. I will add my test into sympy\sympy\matrices\tests.

[2018-08-17 15:03] jksuom commented on #15086
You can add `test_issue_15086()` to test_matrices.py. I'll have suggestions for the matrices after some experiments.

[2018-08-17 15:41] zenolin commented on #15106
@sylee957  Thanks. My fault. I should use `Segment` class, not` Line `class.

But for python3, according to its the inheritance feature,  will `class Segment2D (Segment, LinearEntity2D)` is better? Using properties and methods of ` Segment` first?

[2018-08-17 15:59] jksuom commented on #15086
Here is one suggestion. First create a matrix with expression entries and then convert its entries to Polys by means of `applyfunc`.

    M = Matrix([[x, x, 0, 0], [x, 0, x, 0], [0, x, x, 0], [0, 0, x, x]])
    to_poly = lambda e: Poly(e, x)
    N = M.applyfunc(to_poly)
    assert N.det(method="berkowitz") == Poly(M.det())

[2018-08-17 16:58] sylee957 commented on #15106
@zenolin

Yes. python supports multiple inheritance with orders.
But you should be sure to convince others that it is safe, and necessary to do such flips.

You can propose a pull request, so that you can hear some opinions from the people who have better knowledge of those classes, than me.

[2018-08-17 17:28] #15105 closed

[2018-08-17 17:37] czgdp1807 commented on #15012
I am trying to find out a way to do that inline. If not possible then I will make changes to `inline=False`.

[2018-08-17 18:26] asmeurer commented on #15059
You need to run it in the notebook to get the LaTeX. Or you can just check `latex(Indexed('x1', Symbol('i')))`.

[2018-08-17 19:05] ayushmankoul commented on #15059
Thank You @asmeurer for responding.The problem we are getting as mentioned by @majidaldo the expected output in latex should have been  `x_{1,i}` but we are getting `x_{1}_{i}` which is not valid.Well do we need to alter the code in Latex file inside the printing directory to overcome this issue?

        tex = self._print(expr.base)+'_{%s}' % ','.join(
            map(self._print, expr.indices))

[2018-08-17 20:10] asmeurer commented on #15059
I would focus on getting it to output `{x_{1}}_{i}`. Getting `x_{1,i}` is more difficult, and I'm not even sure if it should do that anyway.

[2018-08-17 22:10] #3539 closed

[2018-08-18 00:38] zenolin commented on #15106
OK. Thanks a million.

I‘ll do more test to make sure whether it's necessary to do these.

[2018-08-18 10:17] sylee957 opened #15109 "Deprecate classof() and a2idx() in matrices.py"
We had found identical ones already existing in `common.py`.
And we had discussed to deprecate the ones from `matrices.py`

I had opened up this thread to reference #15108

[2018-08-18 16:16] bPhysicist commented on #15059
Hi, I was working on this before I realized that @ayushmankoul  was working on this as well. I came up with the following  change:
[code]
Maybe this is any help to you @ayushmankoul
Cheers.

[2018-08-18 16:47] smichr opened #15110 "f(x).diff(x,f(x)) gives 0"
This is only true if the derivative no longer is `f(x)`...but if `f(x).diff(x) == f(x)` then the answer would be 1. Since we don't know what `f(x).diff(x)` will return we can't assume it won't contain/be `f(x)`.

[2018-08-18 17:15] smichr commented on #15110
From the docs:

[code]

So this is a known (and desired) behavior.

[2018-08-18 17:15] #15110 closed

[2018-08-18 17:26] smichr commented on #14719
Think if the attribute `is_symbol` as meaning `not a scalar`:

[code]

So together the attributes mean "you can differentiate wrt to it and should (or should not) treat it like a symbol when you do".

[2018-08-18 17:27] smichr commented on #14719
This can be closed after a few days to give people time to see how this can work.

[2018-08-18 18:31] ayushmankoul commented on #15059
Thank You @bPhysicist for sharing the code and one would get the desired output `{x_{1}}_{i}` which was suggested by @majidaldo .May I know if you can point me to the test cases which checks for the validity of generated latex in case one would have to write a text case for this scenario ?

[code]

Output:-
[code]

[2018-08-18 19:04] ayushmankoul commented on #14718
Hello @asmeurer Can I work on this issue if it isn't yet resolved ?

[2018-08-18 19:09] ayushmankoul commented on #12710
Hello @asmeurer @siefkenj Can I work on this task if it is yet to be completed ?
Regards
Ayushman Koul

[2018-08-18 19:31] bPhysicist commented on #15059
This is the file which contains latex tests:
https://github.com/sympy/sympy/blob/master/sympy/printing/tests/test_latex.py

[2018-08-18 21:03] asmeurer commented on #15059
I would omit the regex and just always wrap the base in {}

[2018-08-18 21:10] petersbingham commented on #15086
I have all your suggested changes (and no more) ready. Passing your suggested test. Just running through all tests and checking that it fixes my own issues before PR.
Lots of thanks for fixing this and making my first sympy contribution so easy!

[2018-08-18 23:09] varkor commented on #14719
@smichr: I'm not so familiar with the attributes, but not being a symbol doesn't intuitively imply "scalar" to me (for example: matrices, which were what led to this conversation initially).

[2018-08-19 00:51] smichr commented on #14719
I agree -- please take a look at the last commit in #15049

[2018-08-19 09:00] smichr commented on #6681
in #15049 I get

[code]

[2018-08-19 16:52] smichr commented on #14526
cf #5553

[2018-08-19 16:52] #14526 closed

[2018-08-19 18:03] smichr commented on #11573
The reasons for not supporting differentiation wrt expressions is given in the docstring of Derivative.

[2018-08-19 18:03] #11573 closed

[2018-08-19 18:08] smichr commented on #9185
I believe this has been fixed or is fixed in #15049

[2018-08-20 01:41] bjodah commented on #15082
Don't think a fix is needed. This actually works for me on 1.2 and master, but not 1.1.1

[2018-08-20 03:26] smichr commented on #8801
In #15049
[code]

[2018-08-20 03:30] smichr commented on #8801
This is still failing.

[2018-08-20 04:33] moorepants commented on #12710
I think we should simply adopt the [numpydoc/napolean](http://www.sphinx-doc.org/en/master/usage/extensions/napoleon.html) format and work to change all docstrings to that format.

[2018-08-20 12:14] ayushmankoul commented on #15059
@asmeurer @bPhysicist  I tried to alter the code to  wrap up the base always in {} which is as following:
[code]
But the test cases failed due to following error:
[code]
On investigating the cause of assertion error I found out that on changing the code,the value of `indexed_latex=\\overline{{\\Psi}_{0}} {\\Psi}_{0}` had addition of {}around Psi ,whereas the value of `symbol_latex=\\Psi_{0} \\over

[2018-08-20 12:47] bPhysicist commented on #15059
@ayushmankoul no I have not created one - sure go ahead and open one

[2018-08-20 14:42] Haru-Fujimura opened #15113 "Sympy.ODE cannot identify or solve the Legendre Equation Correctly."
Using: `sympy                     1.2                      py36_0    conda-forge`

Sympy cannot identify the Legendre equation with classify ODE:

[code]

which instead returns:
[code]

Additionally,when plugging into the ODE solver, Sympy does not return the appropriate polynomials.
First, it is unable to perform the calculation for arbitrary `n*(n+1)`.

`dsolve(Derivative(((1-x**2)*Derivative(f(

[2018-08-20 18:49] asmeurer commented on #15059
I guess the test should be changed. Probably in the future we can try to optimize the latex printer so that redundant braces are removed, but that's a much harder problem for another issue.

[2018-08-20 19:25] asmeurer commented on #14718
Sure, no need to ask. Just check first if there are any existing pull requests cross referenced in the issue (I don't see any for this one).

[2018-08-21 05:38] #15103 closed

[2018-08-21 08:59] smichr commented on #13166
In master this now gives
[code]

[2018-08-21 09:15] smichr commented on #12967
It's not clear what the issue is. Perhaps the thought is that using simplify should collapse the sums. Using doit is the method that evaluates the unevaluated derivatives:

[code]

[2018-08-21 12:45] sylee957 opened #15116 "test_core_undefinedfunctions failing from pickling test"
[code]

My anaconda environment has `cloudpickle 0.5.3` installed.

My local machine fails on this test with the latest 1.2.1.dev version currently up to date with this repository, and I can give you more necessary system information if you need help tracing down this issue.

[2018-08-21 14:01] zougloub commented on #12967
Yeah that was the issue, `.doit()` does the job.
I'm closing the issue but if you could give me more background to understand what I got wrong (eg. why are the derivatives unevaluated), that would help.

[2018-08-21 14:01] #12967 closed

[2018-08-21 18:30] asmeurer opened #15118 "simplify flag doesn't work for eigenvals/eigenvects"
Reported on Gitter: https://gitter.im/sympy/sympy?at=5b7c3e8ee5b40332abdb206c

[code]

I think it might be the cause of being unable to compute eigenvectors

[code]

You can see from the error message that it isn't being simplified (on a related note, it's bad practice to put `str(expr)` in error messages, as they can often be large and slow to compute).

[2018-08-21 20:33] asmeurer commented on #15116
I get the failure too. I guess we aren't testing cloudpickle on Travis.

[2018-08-21 20:51] asmeurer commented on #15116
Looks like the test has always been broken (it fails on the commit that added the test f81e96b8ef7055e3d9510233c942600a33dcd6aa).

I guess a version of cloudpickle broke it. I checked the versions that are on conda and the first version that breaks the test is 0.4.0.

[2018-08-21 20:53] asmeurer commented on #15116
Bisected to cloudpickle commit https://github.com/cloudpipe/cloudpickle/commit/aec80d21ddff84cf2a83dce3cb5921a9f58ffd05

[2018-08-21 21:07] asmeurer commented on #15116
I opened an upstream issue https://github.com/cloudpipe/cloudpickle/issues/190. I don't know if this affects functionality. `f == f1` and `f(x) == f1(x)` are both True (where `f = Function('f')` and `f1 = cloudpickle.loads(cloudpickle.dumps(f))`).

At any rate, I would just change the test for now so that cloudpickle is excluded.

[2018-08-21 21:26] asmeurer opened #15120 "simplification of matrix expressions"
From https://stackoverflow.com/questions/51943198/how-to-simplify-matrix-expressions-in-sympy

[code]

The question is how to simplify the expression, which is `B^-1*(A^-1*B^-1 - A^-1*C*B^-1)^-1*A^-1`. The expression can be simplified by factoring out the A^-1 from the inner term on the left and B^-1 on the right, which cancels the whole thing to `(I - C)**-1`.

I expected nc_simplify to do this,

[2018-08-21 21:34] asmeurer commented on #15120
Regarding the printing errors, somehow `factor` is producing the same expression but with the `.name` in all the matrices replaced by a Symbol instead of a string, which breaks the printer. If Symbol is supported for `MatrixSymbol.name` the printers should be fixed. Otherwise `factor` needs to be fixed.

[2018-08-21 21:35] asmeurer commented on #15120
Most likely Symbol should be supported as that avoids str in .args, but I don't know if that is intentional.

[2018-08-21 21:44] asmeurer commented on #15120
The problem is that `factor_nc` calls itself recursively on the args of the expression. But it also calls `sympify()`, which converts the string name into a Symbol.

We really should change `MatrixSymbol.args[0]` to just always be Symbol (`MatrixSymbo.name` should stay a string). This is a breaking change, though, so it might not be easy to fix. It's also unrelated to the problem at hand here (as

[2018-08-22 00:38] Geremia opened #15122 "Feature Request: Differential Operator Notation"
For example,

`D*f(x)`

would produce a first derivative, and

`D**2*f(x)`

a second derivative, etc.

cf. the StackOverflow question: "[Differential Operator usable in Matrix form, in Python module Sympy](https://stackoverflow.com/q/15463412/1429450)"

[2018-08-22 01:45] retsyo opened #15123 "Abs(sin(u))**2 + Abs(cos(u))**2 can not be simplified to 1"
latest cloned sympy on python 3
[code]
outputs
[code]

the underline is
[code]
prints
[code]

[2018-08-22 02:59] smichr commented on #15122
cf #4719

[2018-08-22 04:39] cbm755 commented on #15123
Thanks for your careful report.  However, I think these results are correct because `u` could be a complex number.  Try it with `u = Symbol('u', real=True)` and it should do what you expect.

(Consider the vector `w = Matrix([I, 1])`.  The 2-norm should be `sqrt(2)`.  It is certainly not `sqrt(I^2 + 1^2) = sqrt(-1 + 1) = 0`.)

I think it could also have given you the following, if that helps expla

[2018-08-22 04:39] #15123 closed

[2018-08-22 06:27] retsyo commented on #15123
thank you for pointing out the possible complex argument

[2018-08-22 08:52] tBuLi commented on #14911
On a conceptual level, what kind of code are you afraid might break? Because any external code relying on this has been warned by the fact that all the methods nicely start with an underscore, and could therefore be changed in the future. (Of course still not something to change lightly)

Or are you worried that code inside SymPy might break?

I think the code here in a way already implicitly talk

[2018-08-22 10:31] sudz123 commented on #15097
Hi, I am new to Sympy but would love to have a go at this. Is this a good issue for a beginner? If so may I look into this one? It'd be great if you can guide me on this.

[2018-08-22 10:49] jqfeld opened #15124 "integrate doesn't work for exp with imaginary sum of Indexed"
Trying to integrate `exp(I*(omega[m]+omega[p])*t)` produces an error:
[code]
[code]
On the other hand,  writing `exp(I*(omega[m]+omega[p])*t)` as `exp(I*omega[m]*t)*exp(I*omega[p]*t)` gives the correct solution.
Using exp with a real argument: `exp((omega[m]+omega[p])*t)` is integrated correctly.
I think, this is not the desired behaviour, even though the bug is not critical because the integral c

[2018-08-22 10:49] jksuom commented on #15109
This should be left open until the deprecated functions are finally removed. (The purpose of the Deprecation Removal label is to act as a reminder.)

[2018-08-22 11:12] jksuom commented on #15124
This line does not look right to me:
[code]
It seems that the instances `m` and `p` of class `Idx` will appear in `eq.free_symbols`. However, it does not make sense to replace them by dummy polar symbols. The definition of `free_symbols` should probably be fixed.

[2018-08-22 11:55] jqfeld commented on #15124
@jksuom Wouldn't removing the indices from free_symbols change for example the behaviour of Sum() with an Indexed in the argument?

[2018-08-22 16:52] #9216 closed

[2018-08-22 16:57] cbm755 commented on #15097
Anyone can start any issue, no permission needed.  Yes this is probably good for a beginner but see the "background needed" above.

There are two places you could start, each one could and should be a different PR.

1. Open `test_ode.py` and see there is some stuff like:
[code]
Can that be replaced with `checksysodesol`?

2. Look at the docstring for `_linear_2eq_order2_type10`:  can you come up w

[2018-08-22 21:56] asmeurer commented on #15120
There's actually two issues here, getting the non-commutative expression to simplify, and getting the various simplification functions to work with matrix expressions. Currently even if you use nc_simplify it doesn't simplify the expression

[code]

I'm unclear to what degree after fixing these functions matrix expressions would just work too. There is potentially more work to be done for matrix e

[2018-08-22 21:56] Geremia commented on #15122
@smichr How is this a duplicate? #4179 is asking about

notation.

[2018-08-22 22:07] asmeurer commented on #15122
I don't think it's a duplicate. An operator as multiplication is different from the syntactic sugar to make f'(0) easier as D(f)(0), though they could potentially be implemented in the same class.

[2018-08-22 22:14] asmeurer commented on #15122
As I [pointed out](https://stackoverflow.com/a/15482872/161801) over on StackOverflow, a big issue with this using multiplication notation is that it doesn't really associate with normal multiplication. `(D*f)*g` is not the same thing as `D*(f*g)` due to the product rule. As a simple example, `D*2*x` would give 0 because it would be interpreted as `(D*2)*x)`.

I would suggest using something other

[2018-08-22 22:20] asmeurer commented on #15122
I guess the logic operators are no good because they also have higher precedence than `+`. What you want is an operator that has precedence between `*` and `+`, which doesn't exist. I think your best bet is to use `__call__`, which forces the precedence due to the parentheses (or else use `*` but caveat that parentheses are mandatory for products).

[2018-08-23 08:49] saullocastro opened #15127 "Expr.subs not working when symbols are defined with Symbol('')"
Why this is not working when I do `e.subs(dict(ab=1))`?
[code]

It is clear that `subs` is only working when I use the name `'a_b'` instead of the variable name. However, for slightly more complicated names like `Symbol(r'w_{,\xi}')` this workaround won`t work.

[2018-08-23 09:38] jksuom commented on #15127
`dict(ab=1)` denotes a dictionary having the string `'ab'` as its only key. To get a dictionary with key `ab` you have to write `{ab: 1}`.
[code]

[2018-08-23 10:36] retsyo opened #15129 "can't simplify sin/cos with Rational?"
latest cloned sympy, python 3 on windows
firstly, cos, sin with symbols can be simplified; rational number can be simplified
[code]
says
[code]

but
[code]
says
[code]

[2018-08-23 11:03] bjodah opened #15130 "Provide guidance to 3rd part library devs on SymPyDeprecationWarning"
We should try to find (and document) an easy way for 3rd parties to **selectively** turn `SymPyDeprecationWarning`s into errors. This will be helpful for people trying to hunt down where in a large codebase they are using deprecated sympy features.

Python 3.7 should offer [quite fine granularity](https://docs.python.org/3.7/library/warnings.html#describing-warning-filters) in `PYTHONWARNINGS` (or

[2018-08-23 11:13] retsyo commented on #15129
some can be simplified
[code]
says
[code]

[2018-08-23 12:03] mart-r opened #15131 "Differentiation of product of non-commutative factors does not preserve the order of factors"
When I have a product of non-commutative Function (of a non-commutative argument) and a non-commutative symbol, differentiation does not always preserve the order.

Example code:
[code]
Output:
[code]

Sympy version:
[code]

I've got a fear it's got something to do with with the ` <class 'sympy.core.containers.Tuple'>` class.

When I (additionally) run:
[code]

I get
[code]

There is a `None` with

[2018-08-23 13:06] valglad commented on #15120
We can get `nc_simplify` to handle this. At the moment, it only simplifies products and when given a sum, it simplifies each term. But if we did `factor` on the sum first, that might work better. It does work here:
[code]
I'll get this into a PR.

[2018-08-23 13:34] sudz123 commented on #15097
1) -The line in `test_ode.py` : ` assert s == sol ` always returns false, the reason being that the constants are not equal, for eg, one could be : ` C1*x+C2` and the other would be `C2*x+C1`. Is that how it is supposed to be?

2) -Using `checksysodesol` does give the correct answer for the first 5 cases. The next 4 cases it gives false, but I need to manually check whether the test cases are righ

[2018-08-23 14:27] emetor opened #15132 "Sympify's kernS hangs"
The following block of code works fine in Python3:

    from sympy.core.sympify import kernS
    formula = '(1-F)/(1-F*(1-K))'
    kernS(formula)

It produces the correct output:

    (-F + 1)/(-F*(-K + 1) + 1)

However, since I do not always have the control over the exact order of the formula string, it could look like (which is mathematically the same):

    formula = '(1-F)/(1-(1-K)*F)'

Now,

[2018-08-23 14:35] smichr commented on #13873
I tried to remove this but there are a couple places that generate errors that I couldn't easily figure out what to do. I made note of them in commit "negative count related" 061efe5f8cc3bc475a1f1fc39f4474c7b6f60484 of #15049.

[2018-08-23 14:48] DRMacIver commented on #14570
In case anyone is interested, the following variant triggers the same exception (and presumably the same or a similar bug):

[code]

[2018-08-23 18:47] asmeurer commented on #15132
It gets stuck in this loop https://github.com/sympy/sympy/blob/af7b5b23c8ecffeefa1e3452f5aec87a2d863e10/sympy/core/sympify.py#L452-L465

The string `s` gets longer and longer like `'(1-F_kern2_kern2_kern2_kern2_kern2_kern2_kern2_kern2_kern2_kern2_kern2_kern2_kern2_kern2_kern2_kern2_kern2_kern2)/(1_kern-_kern*(1-K)*F)'`

I'm not quite sure where the bug is. According to the commend, `_kern2` should

[2018-08-23 19:16] sudz123 commented on #15097
PR : #15133 - Hi I have submitted this pull request. I had to make some changes in the test cases too, but the value of the expression still remains the same. Is this ok?

[2018-08-23 19:43] valglad commented on #15120
I feel like getting `simplify` and other functions like that to work on instances of `MatrixExpr` would be easier if it was a subclass of `Expr` and `MatAdd`, `MutMul` and `MatPow` subclasses of `Add`, `Mul` and `Pow`. Not sure how compatible they would be in practice but it feels like it should be possible.

[2018-08-23 20:42] CarloNicolini opened #15134 "Sympy lambdify cannot handle lowergamma"
I need to lambdify an expression containing the `sympy.lowergamma` function.
However the lambdification of this expression results in an error, since the equivalent `mpmath` function is `mpmath.gammainc` and the names are different from `sympy.lowergamma`
Can the documentation contemple this cases?
Sympy 1.2
mpmath 1.0.0

[2018-08-23 21:10] rebot opened #15135 "Units in abbreviated form when using Latex printing"
Hi there,

I'm using *Mathjax* to print my equation in Latex, however I like to print my equations in **abbreviated form**. Is this possible to add this functionality? I was digging through the source code and I think this functionality can be added somewhere here.

https://github.com/sympy/sympy/blob/af7b5b23c8ecffeefa1e3452f5aec87a2d863e10/sympy/printing/latex.py#L1344

Kind regards,

Gilles

[2018-08-23 21:15] petersbingham commented on #15086
This is just a required change in usage: The following code works for all sympy versions:

[code]

[2018-08-23 21:15] #15086 closed

[2018-08-23 21:16] asmeurer commented on #15135
What is abbreviated form? Can you give an example?

[2018-08-24 05:35] jksuom commented on #15086
I would suggest the following:

    from sympy.polys.polymatrix import PolyMatrix as Matrix

(A try block should not be necessary, but if it is, then the except part could be `pass`.)

[2018-08-24 07:18] Upabjojr opened #15136 "Wrong result for derivative of trace"
[code]

The derivative returns:

[code]

The correct result is `(X*B + B*X).T`

[2018-08-24 08:42] retsyo opened #15137 "when sin**2 + cos**2 can be simplified to 1?"
it seems that the simple math expression can be simplyfied
[code]
says
[code]

then the more complex one fails
[code]
says
[code]
as we can see, the normalized vertcor in the last line is not `[-cos(u/100), -sin(u/100), 0]`. I don't know whether this has the common reason as that in https://github.com/sympy/sympy/issues/15129

[2018-08-24 09:17] jksuom commented on #15129
Trigonometric simplifications are performed by `trigsimp`. It works by calling sequentially functions defined in the `fu` module. This particular simplification is carried out by `TR10i` which comes right after `TRmorrie` in the [list of methods](https://github.com/sympy/sympy/blob/master/sympy/simplify/trigsimp.py#L1131-L1164).

`TRmorrie` does a very special type of transformation:

    Returns

[2018-08-24 10:15] smichr commented on #15127
It would be nice if issues could be marked to self-close after a period of time. This one can be closed after a few days.

[2018-08-24 10:18] smichr opened #15138 "Subs hashing problem?"
[code]

[2018-08-24 11:44] #15127 closed

[2018-08-24 11:45] saullocastro commented on #15127
@smichr and @jksuom thank you!

[2018-08-24 11:53] smichr commented on #15132
The last change is critical, the first two are tweaks:
[code]

I've only tested this with the expression in question and it gives '(1-F)/(1-(_kern*(1-K))*F)'

[2018-08-24 12:44] bjodah commented on #15134
Looks like `MpmathPrinter` has a `_print_lowergamma` method. Could you provide a minimal (failing) example?

[2018-08-24 13:33] CarloNicolini commented on #15134
I believe I fixed this problem by providing the argument modules='mpmath'
Thanks!

[2018-08-24 18:28] asmeurer commented on #15116
PR skipping the test at https://github.com/sympy/sympy/pull/15139. Once the upstream is fixed and released we can unskip the test again.

[2018-08-24 18:37] czgdp1807 commented on #15131
I would like to work on this issue. I would try my best to resolve the issue.

[2018-08-24 18:50] czgdp1807 commented on #15131
I executed the code you provided on my local system, and it worked correctly, that is, the order was preserved. My sympy version 1.1.1 and I think this issue was created after sympy 1.2

[2018-08-24 18:53] anubhavsinha98 commented on #13881
Hey is this issue still pending?

[2018-08-24 19:02] mart-r commented on #15131
I copied my code from here (to make sure I hadn't made any changes to it while editing the post) and tried again in both python2 and python3 (sympy 1.2 still) and got the same result that I got previously.
So if 1.1.1 does in fact preserve the order, then the issue seems to stem from 1.2 indeed.

[2018-08-24 19:56] asmeurer commented on #15127
@smichr now that we have a bot, these sorts of things are possible. You can open issues at https://github.com/sympy/sympy-bot for things that the bot could do. Is the idea to auto-close issues that are just questions once the question is answered and the discussion has stopped?

From a technical perspective, I'd have to figure out how to make the bot trigger after a set period of time. It's easies

[2018-08-24 21:11] sylee957 opened #15141 "Incorrect result with rref()"
While tracing down the issue #15118, #15125, I had found another issue from rref.
[code]
[code]

While the result from Mathematica is
[code]
[code]

I think there are some fundamental issue from the algorithm, that it fails to detect some complex formula like below
[code]
that it is zero, and some weird cross canceling occurs between rows after a certain moment, breaking the matrix.

[2018-08-25 05:28] jksuom commented on #15141
This is a known issue. It has been suggested that `rref` should call `simplify` by default but that may be time consuming (see e.g. https://github.com/sympy/sympy/issues/10120).

[2018-08-25 11:14] sylee957 commented on #15141
@jksuom
Interesting.
But I can confirm that even simplify fails on this particular expression for determining zero.
[code]
[code]

[2018-08-25 11:56] jksuom commented on #15141
It seems that simplification of hyperbolic functions should be improved. For trigonometric functions, there is `fu`, but support for hyperbolic functions is minimal.

[2018-08-25 16:13] sudz123 commented on #15097
#15144 - Hi I have submitted another PR. This uses `checksysodesol` for `3*3` as well as other systems. I think most cases where is could be substituted have been addressed. The remaining ones don't work well with `checksysodesol` and require `dsolve` to solve the equation.

[2018-08-25 18:34] ethankward opened #15146 "Incorrect limit (n/2) * (-2*n**3 - 2*(n**3 - 1) * n**2 * digamma(n**3 + 1) + 2*(n**3 - 1) * n**2 * digamma(n**3 +n + 1) + n + 3)"
This is the closed form of `Sum((k**2 + k)/(k + n**3), (k, 1, n))` (which SymPy doesn't evaluate, but that's not what this issue is about).

[code]

The answer should be `1/3`.

[2018-08-25 19:36] #15134 closed

[2018-08-25 21:11] valglad opened #15147 "warning in Theano code tests"
`sympy/printing/tests/test_theanocode.py` raises the following warning:
"""/home/travis/miniconda/envs/test-environment/lib/python2.7/site-packages/theano/gof/opt.py:251: UserWarning: WARNING: Supervisor is not added. Please build a FunctionGraphvia theano.compile.function_module.std_graph()or add the Supervisor class manually.
  sub_prof = optimizer.optimize(fgraph)""". Should anything be done ab

[2018-08-25 21:33] smichr commented on #15141
As I recall, it converts hyperbolics to trigs and runs the simplification on them.

In this case, however, simplifying `expr.rewrite(exp)` returns 0.

[2018-08-26 00:32] asmeurer commented on #15147
See also the comments at https://github.com/sympy/sympy/pull/14747. I tried fixing it there, but it lead to some other errors. Someone who knows about theano will need to fix it.

[2018-08-26 16:24] timokau opened #15149 "Nix package has various doctest failures"
In the process of upgrading the nix sympow package to 1.2, I noticed that we currently don't run the tests with the comment "Bunch of failures including transients". Re-enabling the tests, I do indeed get failures. In the python files:

[code]

and in the rst files:

[code]

Those are likely packaging failures. However I can't figure out what we're doing wrong. Any ideas?

[2018-08-26 21:11] wxgeo commented on #10391
The patch given by Sergey Kirpichev above obviously solves the issue.
Is it possible to merge it ?

[2018-08-27 15:04] #15132 closed

[2018-08-27 18:00] moorepants opened #15156 "import_module should return false if an exception occurs other than importError"
I have some code that imports theano. A bare exception is raised in the import of theano. SymPy's `import_module()` propagated the error instead catching it and returning `False`. Not quite sure why, but ideally this Exception would be caught. A traceback:

[code]

[2018-08-27 18:57] smichr commented on #10391
checksol should not be using a hard-coded value to see if a number is close to zero or not.

is_zero or is_nonzero can be used if the expr.is_number and I believe they each check numerical solutions and only return a non-None answer when the evaluated expression evaluates with significance.

If those are both indeterminate, then I think it would be better to return the solution and let the user ch

[2018-08-27 20:17] sylee957 opened #15157 "Slow test_matplotlib() from plot test"
My travis build had failed multiple times because of the timeout of the matplotlib test.

[code]
Here is some excerpt from my profiling.
[code]

[2018-08-28 03:38] jlumpe opened #15158 "Separate Latex representation of Symbol from its name"
The current Latex printer does a pretty good job of automatically finding a reasonable representation for a Symbol based on its name, but if a user wants more precise control they are essentially forced to write explicit Latex in the Symbol's name. Because the Symbol primarily functions as a unique (string-based) key, this can make other things more complex than they need to be. I think it would b

[2018-08-28 04:58] retsyo commented on #10529
any update in sympy? I met this today:
[code]
says
[code]

[2018-08-28 07:04] bjodah commented on #15158
I have found myself giving symbols crazy names for this exact reason. e.g.:

[code]
I do that when working in the jupyter notebook. But I do it out of convenience rather than necessity since `latex` does have a keyword argument all ready:
[code]
(detecting the need for parenthesis above would be a nice addition to the printer here...)

One could also hook up the ipython notebook to use a global di

[2018-08-28 07:42] retsyo commented on #15129
So, if the user-input expression varies, there is no way to simplify the expression to a very simple formation, isn't it?

[2018-08-28 07:51] jksuom commented on #15129
I think that this issue could be fixed by changing the order of `TRmorrie` and `TR10i`. (But, of course, there may be other issues in simplification that this will not resolve.)

[2018-08-28 07:52] jksuom commented on #15157
There are two tests named `test_matplotlib()`. Could the slow one be that in test_plot_implicit?

[2018-08-28 07:59] sylee957 commented on #15157
@jksuom
The one taking more than 100 secs is from test_plot.
Though another one from test_plot_implicit can also be reasonably slow for taking more than 10 secs, but not as critical as this one.

[2018-08-28 09:02] jksuom commented on #15157
The test should probably be split in two parts, test_matplotlib_1 and test_matplotlib_2.
That means that test_and_save should also be split.

[2018-08-28 17:31] #15059 closed

[2018-08-28 18:20] asmeurer commented on #15129
That should be easy to fix, assuming it works. If it doesn't work then the actual fix may be more complicated.

[2018-08-28 18:32] asmeurer commented on #15149
How are you running the tests?

I can reproduce these by running the tests twice in a row.

[code]

We generally run our tests with subprocess=True, as that's the only way to get a hash randomization seed, so these kinds of errors do not show up in our Travis tests. I guess the doctests also fail just from running the tests first:

[code]

[2018-08-28 18:40] jlumpe commented on #15158
Hmm, I definitely agree that the choice of keeping `Symbol` as small as possible is generally a very good idea for the reasons you have stated. In adding additional attributes like this it would be easy to get carried away.

But, I think there is a strong case to be made for giving LATEX printing special treatment. The whole point of a CAS is to represent and manipulate symbolic expressions in cod

[2018-08-28 18:46] ayushmankoul commented on #14718
Hello @asmeurer @jksuom I could not find any PR related to this issue.I would like to take up this issue could you please tell me what exactly should be the valid output of `print latex(symbol('_x'))` ? Should it drop the underscore and return `2x` instead of `2_x` as suggested in above discussion ? On investigating the `latex.py`  I think we can alter the `_print_symbol` method to overcome this i

[2018-08-28 19:35] asmeurer opened #15160 "autolev tests modify a checked in file"
[code]

CC @NikhilPappu

[2018-08-28 20:09] sudz123 opened #15161 "Assertion error in isympy terminal for test_ode.py code"
Running the code for `test_linear_2eq_order1` in `test_ode.py` in `solvers` module, in an isympy terminal gives an assertion error for the following lines :

[code]
However, the `./bin/test` runs fine.  Also refers to #15097

[2018-08-28 20:27] timokau commented on #15149
On 18-08-28 18:32, Aaron Meurer wrote:

`python setup.py test`

I don't think I'm running tests twice, at least not on purpose. The logs don't show it either.

So the tests don't run in parallel by default? How do I do that?

[2018-08-28 21:16] asmeurer commented on #15149
Here are the test failures that fail after running the tests twice

[code]

[code]

[2018-08-28 21:38] asmeurer commented on #15149
Here are the doctests that fail after running the tests (again, with `subprocess=False`) (I've removed several pyglet failures which I think are unrelated).

[code]

[2018-08-28 21:52] asmeurer commented on #15149
Here are the failures after running the doctests a second time, with some duplicates from above. I've truncated some long tracebacks from recursion errors.

[code]

[2018-08-28 21:55] asmeurer commented on #15149
@valglad can you take a look at the group theory related failures?

[2018-08-28 22:02] asmeurer commented on #15088
Actually that PR didn't make `sympy.dotprint` work, because the main `sympy/__init__.py` file does explicit imports from `.printing`.

[2018-08-28 22:31] asmeurer commented on #15088
Yes, it is fine. I think the reason there were explicit imports in `sympy/__init__.py` is that `import *` would also import the submodule names, which would mask some builtins (`str` and `repr` in particular). But the solution to this is to define `__all__` in `sympy/printing/__init__.py`.

I have a fix at https://github.com/sympy/sympy/pull/15162

[2018-08-28 22:53] asmeurer commented on #15149
I'm working on fixing what I can at https://github.com/sympy/sympy/pull/15163. Any help for the group theory failures or any others would be appreciated.

[2018-08-29 05:48] NikhilPappu commented on #15160
@asmeurer @moorepants I used to write to this file and read again from it to compare outputs previously. I have improved the parse_autolev API in #15006 and removed this file as it is no longer needed.
#15006 is the only PR of my GSoC PR's remaining and it is an important one that should be merged.

[2018-08-29 09:06] timokau commented on #15149
Yeah we do `export PYTHONHASHSEED=0` for all python packages to ensure determinism.

So does that mean the doctests and the regular tests are redundant? The tests take quite a long time. Running them in parallel might be a nice feature, although its off topic here.

[2018-08-29 11:55] valglad commented on #15149
Yes, I'll see what I can do. But how exactly does this work? Is each line run twice in succession? Because something like:
[code]
looks like `T` has never been defined but it comes from `(check, T) = group_isomorphism(<args>)` two lines above, and that function always returns something so it can't be not defined at all.

[2018-08-29 12:22] retsyo opened #15164 "sqrt(t**4 + 2*t**2 + 1) can't be simplified to t**2+1"
I have over-use simplify but it is still a complex expression

[code]

[2018-08-29 12:38] sidhantnagpal commented on #15164
You could use `sqrt(factor(t**4 + 2*t**2 + 1))`.

[2018-08-29 12:42] sidhantnagpal commented on #15164
By the way, `trigsimp` is for trigonometric simplifications. I don't think it will be required here.
As for the original issue, the minimal example would be just `simplify(sqrt(t**4 + 2*t**2 + 1))`.

[2018-08-29 13:12] retsyo commented on #15164
In fact, the `sqrt(t**4 + 2*t**2 + 1)` is calculated ahead
[code]

obviously the T can be written as
[code]

[2018-08-29 13:35] timokau commented on #15149
I think that is because the line defining `check` and `T` throws an exception (maximum recursion depth). Because of that `check` and `T` aren't defined. Its just an avalanche error.

[2018-08-29 15:29] valglad commented on #15149
Ah yes, of course. And that in itself is because something is wrong with `order`. Thanks @timokau

[2018-08-29 15:41] cbm755 commented on #15161
I cannot reproduce by just pasting that code into `isympy`:

[code]

But I never used `isympy` before.  Can you tell me exactly what to type to run `test_ode.py`?  I tried this
[code]

[2018-08-29 16:11] jksuom commented on #15149
It looks like the tests may be working but doctest does not see the results. Something wrong with file redirection?
[code]

[2018-08-29 17:05] valglad commented on #15149
Interestingly, the following with python3
[code]
only reproduces errors in `polyhedron` - the others appear in python2 only

[2018-08-29 18:30] asmeurer commented on #15149
@timokau the doctests and tests are separate things. You should definitely run them both if you want to run the full test suite. To run the tests in parallel, use the `--split` flag of ./bin/test (but again, for a package maintainer, I would just keep the simple thing of running setup.py test).

I hope you mean only when packaging, not when running the package on the end user's computer. The hash

[2018-08-29 18:36] asmeurer commented on #14718
I think the most reasonable thing to do if the symbol name starts with an underscore is to escape it, like `\_x`.

[2018-08-29 18:37] timokau commented on #15149
Yes, `PYTHONHASHSEED=0` is only set as part of the build system to help with reproducible builds and reproducible test results.

[2018-08-29 18:47] asmeurer commented on #15149
Regarding the rootof failures, the ComplexRootOf class uses some caching, but the doctests assume the cache is clear:

[code]

Is the cache supposed to work like this? If so, we should modify the docstring to work even when the cache is full. If not, we should modify how the cache works.

[2018-08-29 18:49] moorepants opened #15166 "Don't change the case of autolev variables"
Currently the autolev parser converts all autolev variables into lower case python equivalents. This introduces cognitive overload for the reader of the two code versions. Autolev is case insensitive but an author of the autolev code may (and is likely) to use case when writing the code to help with readability. When we convert everything to lower case it is hard to read both sets of code and chec

[2018-08-29 19:34] moorepants commented on #15160
We need to get #15006 in before 1.3. The API for the `parse_autolev()` function has been improved.

[2018-08-29 19:34] NikhilPappu commented on #15166
@moorepants Many Autolev examples I came across were in all caps so I thought it wouldn't look good in Python. I agree with this though. Adding an option would be the best way to go.

[2018-08-29 19:46] moorepants commented on #15166
Ok, so maybe something like:

[code]

Gonna add "easy to fix" on this one. Might be good PR for a newcomer.

[2018-08-29 20:15] CodHeK commented on #14718
I am trying to solve this issue and I think the issue is resolved and is working as per need
only problem is on running the tests it says 1 failed and the test which failed is completely un-related.
TESTS :
![screen shot 2018-08-30 at 1 40 17 am](https://user-images.githubusercontent.com/22097366/44812929-1f494480-abf6-11e8-9cba-e1375c57b062.png)

CODE :

![screen shot 2018-08-30 at 1 40 36 am](ht

[2018-08-29 20:36] asmeurer commented on #14718
It looks like that case is already handled

[code]

[2018-08-29 20:54] CodHeK commented on #14718
@asmeurer And what if there are more than one underscore in the beginning ...
such as "\__x__a_b" ?

[2018-08-29 21:42] CodHeK commented on #15166
@moorepants  I'd like to add this functionality, I am not very thorough with the code base yet so could you guide me with what auto lev parser is or if you tell me where the files for it is .
Any help would be appreciated, Thanks!

[2018-08-29 21:46] moorepants commented on #15166
The files are in `sympy/parsing/autolev`. @NikhilPappu can point you more directly to the relevant files.

[2018-08-29 21:49] asmeurer commented on #14718
In general any invalid LaTeX in a Symbol name should be escaped so that the `latex()` printer doesn't produce invalid LaTeX.

[2018-08-29 22:12] asmeurer commented on #15160
OK, how close is it to being finished?

[2018-08-29 23:06] moorepants commented on #15160
Close. I reviewed it this morning. Nothing major to fix.

[2018-08-30 04:59] CodHeK commented on #15166
Alright, can i work on this issue ? @moorepants

[2018-08-30 05:11] moorepants commented on #15166
You don't need to ask if you can work on the issue. Just say you are and do it.

[2018-08-30 05:12] NikhilPappu commented on #15166
@CodHeK
The changes you would need to make are:
1. Add the parameter `lower_case` in `parse_autolev()` and in the Listener class in the files `__init__.py`, `_parse_autolev_antlr.py` and `_listener_autolev_antlr.py`. These files belong to `sympy/parsing/autolev`.
2. Go over all the `.lower()` occurences in _listener_autolev_antlr.py  (there's a lot of them) and replace the ones which are meant for

[2018-08-30 06:51] CodHeK commented on #15166
@NikhilPappu Alright I'll make the following changes.

[2018-08-30 08:37] NikhilPappu commented on #15166
@moorepants @CodHeK Now that I took a closer look at this, I feel it isn't that easy to fix for someone else. I think I shall fix it myself and maybe update it so that it is easier to make changes from now.

[2018-08-30 08:39] CodHeK commented on #15166
@NikhilPappu The Changes to `.lower()` need to made inside the class `MyListener(AutolevListener)` in the file `_listener_autolev_antlr.py` right ?
and only to the ones where it outputs that is in the `self.write()` calls?

[2018-08-30 08:47] mehrdadn opened #15170 "UndefinedFunction.__hash__()'s use of class_key() broke existing code"
Hi, I just learned that commit e210a762d (_"Allow Function('f', is_real=True) != Function('f')"_) broke my code, and I'm not sure if this is a bug in SymPy or not. The problem appears to have been caused by this change:

	class UndefinedFunction(FunctionClass):
	+    def __hash__(self):
	+        return hash((self.class_key(), frozenset(self._extra_kwargs)))

The behavior change is as follows. If

[2018-08-30 09:14] ciuak commented on #14718
I think that *all* leading and trailing underscores should be backslash-escaped in order for the LaTeX output to remain truthful to the internal representation. Outputs such as `x_{}` are no different from `x` and so a potential viewer of such outputs would most probably think that `x` is the symbol to use and not `x_`.

[2018-08-30 09:42] NikhilPappu commented on #15166
@CodHeK Technically yes but there is a lot more to it. For instance, you would need to use `.lower()` in all dictionaries in the code to preserve the case insensitivity of the parser.

[2018-08-30 11:31] smichr commented on #13873
So here is a place where it arises and I am not sure of the best way to deal with this:
[code]
This is generated in `Mul._eval_derivative_n_times`. `-_k2+n-1` will be negative when `_k2==n`; this generates division by `zoo=factorial(-1)` which
drops that term from the sum when `_k1=1`...but is there a better way of
dropping it so we don't have to also encounter negative order derivatives?

Maybe `

[2018-08-30 14:58] ctung opened #15171 "xor bool_map equivalent to xnor? - Flaw in _finger fingerprint"
`from sympy import *`
`A1,A2 = symbols('A1,A2')`
`f1 = Xor(A1,A2)`
`f2 = ~(Xor(A1,A2))`
`print(bool_map(f2,f1))`
`print(bool_map(f1,f2))`

results in

`((A1 & A2) | (~A1 & ~A2), {A1: A1, A2: A2})`
`((A1 & ~A2) | (A2 & ~A1), {A1: A1, A2: A2})`

The simplified functions fro f1 and f2 are correct, and clearly different, yet bool_map returned what it though to be a valid symbol mapping?

[2018-08-30 15:28] NikhilPappu opened #15172 "Add support for configuration constraints in the Autolev parser"
This is how Autolev specifies motion constraints:
[code]
This is how the parser parses this:
[code]
It then goes onto specify the dependent speeds(`qB'` and `qC'`) in the kane's method.

However, Autolev doesn't do this for configuration constraints so the parser has no way of knowing the equations and the dependent variables.

Perhaps, a made up command like `Config_Constrain()` could be added to

[2018-08-30 17:35] ctung commented on #15171
This is a  flaw in the _finger 5-item fingerprint:

    [
    # of times it appeared as a Symbol,
    # of times it appeared as a Not(symbol),
    # of times it appeared as a Symbol in an And or Or,
    # of times it appeared as a Not(Symbol) in an And or Or,
    sum of the number of arguments with which it appeared,
    counting Symbol as 1 and Not(Symbol) as 2
    ]

[code]
results in identical

[2018-08-30 17:51] asmeurer commented on #15158
Adding a new attribute to Symbol isn't trivial. Two symbols with the same name and the same assumptions are considered equal. Should `Symbol('x', latex='x_1')` and `Symbol('x', latex='x_2')` be considered unequal? If so, we have to update the hashable_content and `__slots__` for Symbol. If not, then the parameter would basically be updating a global dictionary, separate from the Symbol instance, i

[2018-08-30 18:33] czgdp1807 commented on #15171
I would like to work on it. I am doing a course on Digital Logic and Design. It's a great opportunity to apply here. :-)

[2018-08-30 18:41] czgdp1807 commented on #15012
After trying a lot, I agree to the fact that `inline = True` would not help my approach to work. I am going to make changes to the `inline = False` part of the code. :-)

[2018-08-30 19:03] ctung commented on #15171
I'm very interested in the origination of the _finger heuristic.  Is it some classically known method? or was it a hack in place of a more compute intensive truth-table or formal approach?

An escape like this would be TERRIBLE in a Logical Equivalence Checking tool for digital circuit design!  Keep me posted on your suggestion for an alternate solution.

[2018-08-30 19:32] ctung commented on #15171
Formal equivalence checking looks like a fascinating topic: https://en.wikipedia.org/wiki/Formal_equivalence_checking
If I had time, I think it would be fun to implement something like BDD https://en.wikipedia.org/wiki/Binary_decision_diagram into sympy

[2018-08-30 19:38] ctung commented on #15171
Wow, it's been in there for 6 years, and nobody noticed it can't differentiate XOR/XNOR?

[2018-08-30 19:51] asmeurer commented on #15170
I don't know why it worked before. The issue is this:

[code]

The reason is that sympify doesn't recognize `temp(t)` as a SymPy object, and so eventually falls back to parsing `str(temp(t))`, which removes all the custom attributes.

We shouldn't be using [`sympy_classes`](https://github.com/sympy/sympy/blob/f4984def9f735823411bc5d5b0d9bcb322738303/sympy/core/sympify.py#L266) to determine if an o

[2018-08-30 20:31] asmeurer commented on #15170
OK, I guess `temp` actually is added to sympy_classes from the `BasicMeta.__init__`.

I think you must be right about the hash changing. That is the only thing that can explain this behavior (from debugging `sympify`).

[code]

`sympy_classes` is a Python `set`.

[2018-08-30 20:39] asmeurer commented on #15170
I see what is happening. The very adding of the class to sympy_classes in the metaclasses causes the hash to be calculated before _nargs is computed, because _nargs is added in `__init__`, which gets called at the top of the function. before _nargs is set https://github.com/sympy/sympy/blob/f4984def9f735823411bc5d5b0d9bcb322738303/sympy/core/function.py#L148

I think it should be enough to just mo

[2018-08-30 20:58] asmeurer commented on #15170
Fix at https://github.com/sympy/sympy/pull/15174

[2018-08-30 20:59] asmeurer commented on #15170
By the way, I believe a workaround that should work is to manually add the class to `sympy.core.core.all_classes`.

[2018-08-30 21:55] mehrdadn commented on #15170
Oh wow, that was fast! Awesome, thank you!

[2018-08-31 03:04] smichr commented on #13993
#7828 shows how this could be done by applying, as an additional condition, the conditions of the summation:

[code]
After allowing simplifications as this, the final step would be to re-replace the condition of the summation with True:

[code]

[2018-08-31 11:10] ManuelZierl opened #15177 "I think i found a bug in physics.quantum.grover"
I think i found a bug in physics.quantum.grover but i can also be that the this but it is also possible that this is wanted. After a bit of trying and searching (I haven't been working with the code that long) it seems to me that the problem might be more general.

If i do this it works just fine
[code]

this returns
`
|0>/2 + |1>/2 - |2>/2 + |3>/2
`
thats correct it inverted the phase of the sear

[2018-08-31 11:11] #15177 closed

[2018-08-31 18:36] isuruf opened #15178 "Matrix.solve should not compute the inverse"
`A.solve(b)` currently does `A.inv() * b` which is really slow when `b` has only 1 column

[2018-08-31 22:13] asmeurer commented on #15149
The IPython errors are because the [tests](https://github.com/sympy/sympy/blob/master/sympy/interactive/tests/test_ipython.py) work with the global IPython shell object. Is there a better way to test IPython that doesn't modify global state. It's not just repeated test runs. This happens:

[code]

As far as I can tell from the IPython source, the shell object is singletonized via traitlets, so I d

[2018-09-01 12:08] smichr commented on #12463
needs a test added for this issue

[2018-09-01 13:16] takluyver commented on #15149
I pushed years ago to make it possible to have multiple shell instances in one process. But the effort of cleaning up all the places it uses global state, plus the likelihood of introducing bugs in the process, outweighs the benefits of doing so. So don't hold your breath for it.

[2018-09-01 16:06] ManuelZierl commented on #15047
it works if u use
`from sympy.tensor.functions import TensorProduct`

also i'm not sure what you are trying to do but
`a = Symbol('a',commutative=False)`
is interpreted to the best of my knowledge as a number not a matrix so:
[code]
results in:
⎡x  0  0  0⎤
⎢0  x  0  0⎥
⎢0  0  x  0⎥
⎣0  0  0  x⎦

if you want x to be a Matrix as well (like i would suggest snice you are using the tesorproduct) i wou

[2018-09-01 20:51] asmeurer commented on #15149
How do you run your own tests?

[2018-09-01 20:57] takluyver commented on #15149
A mixture of breaking the test suite up into pieces which are run in their own processes, tests using try/finally to undo changes they made, and tests not assuming that the environment they're in is completely fresh. It's not elegant, but it's been like that for quite some time.

[2018-09-02 08:10] souravsingh commented on #15178
I am interested in taking a stab at this. What needs to be done?

[2018-09-02 10:05] #15170 closed

[2018-09-02 20:37] ronanpaixao opened #15182 "LaTeX display on Jupyter noteboook fails if inside evaluate(False)"
I have the following code on an IPython notebook:

[code]

This works fine. However if I use the `display_latex()` function inside an `evaluate(False)` context, it fails with an infinite recursion error:

[code]
[code]

Some testing has revealed that `latex()` has the key to the problem, since a straight `print()` will not exhibit the error. However, it appears there's also some hidden state invol

[2018-09-03 03:36] smichr commented on #6681
most recent modifications gives
[code]

[2018-09-03 05:48] smichr commented on #15171
Trying to stay true to the idea presented in the docstring, I would make this change:

[code]

[2018-09-03 05:55] smichr commented on #15171
The intent is not to check for digital equivalence, it is to detect when two expressions are structurally the same but having a different set of symbols. There are methods like `dummy_eq` that do this for objects that create a single dummy symbol in the result, e.g.
[code]
but not every object has this implemented:
[code]

[2018-09-03 06:10] bilymufac opened #15183 "TypeError: 'NoneType' object is not subscriptable"
i have a code for generating sentences given a word after sentence_start

the code that encounter an error:

[code]

here is the called function:

[code]

and here is the traceback:

[code]

i suspect the error caused by the function `print_sentence(sent, index_to_word)`
i was trying to edit the indentation for exclude the print_sentence function from looping.

but the output only read the last el

[2018-09-03 10:58] jksuom commented on #15182
This [change of sign](https://github.com/sympy/sympy/blob/master/sympy/printing/latex.py#L314) does not work as expected when `global_evaluate[0]` is `False`. It will only add new factors of -1:

    (Pdb) p srepr(term)
    "Mul(Integer(-1), Mul(Integer(-1), Symbol('\\\\mu')))"

[2018-09-03 11:12] halirutan commented on #12233
For everyone's notice: During the past months, we have created a [Rubi Organization](https://github.com/RuleBasedIntegration) on GitHub where the code for the Mathematica package and test-suites can be found. The Rubi engine version 4.16.0 has been tested thoroughly and is a good basis.

During the summer, I worked with Axel Kramer to translate these Rubi rules to SymJa and I helped him debug his

[2018-09-03 11:37] Upabjojr commented on #12233
Thanks for your tip, @halirutan

[2018-09-03 11:39] Upabjojr commented on #12233
We will probably re-propose the continuation of RUBI for the next Google Summer of Code (2019).

I really hope to get some developer who can fix MatchPy's code generator, that would be a huge plus.

[2018-09-03 14:58] smichr commented on #15183
This issues page is for SymPy related issues. This question would be better asked at a general coding site. A general approach to tracking down this error is to use a debugger that allows you to step through the code 1 line at a time, watching the values of the variables as they change. You will find the place that something is not being handled like you thought it was and the solution should beco

[2018-09-03 14:58] #15183 closed

[2018-09-03 17:59] Curious72 commented on #15129
@asmeurer Can i work on this ?

[2018-09-04 19:27] NikhilPappu commented on #15160
Yes it should be closed.

On Wed 5 Sep, 2018, 12:55 AM Aaron Meurer, <notifications@github.com> wrote:

[2018-09-04 19:29] #15160 closed

[2018-09-04 19:55] asmeurer commented on #15149
If you know of a workaround we can do, let me know. For now, I am just adding a comment to the test. The tests are usually run in a subprocess, so this shouldn't affect anyone unless they explicitly run the tests with subprocess=False in an IPython session. It does however mean the repeated test failure as noted here won't be fixed for now.

[2018-09-05 05:07] moorepants opened #15186 "Remove math and numpy imports from autolev parser output"
An example output:

[code]

The math input should never be needed and the numpy import is only needed if the parser flag for numerics is set.

[2018-09-05 05:17] moorepants opened #15187 "Improve variable naming in autolev parser"
Here is an example output from #15165:

[code]

Name clashes will vary likely happen with the primary import names: `me, sm, np`. There should at least be changed to `_me, _sm, _np` and even better there should be a check to ensure the Autolev code doesn't contain and reserved words and the properly handles them by adding underscores or some kind of pre/post fix. For example in autolev you might d

[2018-09-05 05:59] moorepants opened #15189 "Run sympy benchmarks on each PR"
We could run the https://github.com/sympy/sympy_benchmarks on each PR to sympy. The benchmarks would only need to be run for master and the head of the PR commits. This would introduce a single new matrix entry on Travis and add the time to run the benchmark suite twice, once for each commit. This would allow for a more automatic pre-merge test for slowdowns at the cost of making the test suite lo

[2018-09-05 07:05] NikhilPappu commented on #15187
This should be an easy fix ideal for newcomers. Not so sure about #15166 though.

[2018-09-05 09:54] timokau commented on #15149
How should I run the tests then with `PYTHONHASHSEED` set? Any reason the tests are automatically run without subprocesses when that is set?

[2018-09-05 11:03] smichr opened #15190 "f(x,f(x,x)).diff(f(x,x)).subs(f,Lambda((x, y), exp(2*x + 3*y))) leaves f(x,x) remaining"
The `_eval_subs` routine for derivative does not correctly make the substitution of a f, giving:
[code]
I believe the right answer is
[code]

[2018-09-05 15:21] ayushmankoul commented on #15187
Hello @NikhilPappu @moorepants I would like to give this bug a try.Could you please guide me how should I proceed over it ? Thank You

[2018-09-05 15:47] NikhilPappu commented on #15187
@ayushmankoul
The code is in `sympy/parsing/autolev/_listener_autolev_antlr.py`.
For starters prefix all occurences of `"me.`, `"sm.`, `"np.` and `"d"` with underscores.
Also, in `str_func(z)`, change `"d" + str(z)` to `"d" * str(z)`.
Once this is done you will have to update the tests in `test_examples` (no need to do this manually. I will let you know later how to update them by executing the te

[2018-09-05 16:21] ayushmankoul commented on #15187
Thank You @NikhilPappu for helping me.Do I need to replace all instances of only `"me.` or including instances of `me.` also ?

[2018-09-05 16:47] ayushmankoul commented on #15187
@NikhilPappu
Thank You for guiding me.I have replaced all the instances of `me.`, `sm.`, `np.` and `"d"` with underscores in prefix and altered the `str_func(z)` too.

[2018-09-05 16:57] NikhilPappu commented on #15187
@ayushmankoul Go to `parsing/tests/test_autolev.py`. In the function `_test_examples`, replace the `with open(correct_file_path...` with
[code]
Then run `bin/test parsing`. After this revert the changes made to `test_autolev.py` and open a pull referencing this issue.

[2018-09-05 18:02] ayushmankoul commented on #15187
Sure,I have altered the ` _test_examples` in  `test_autolev.py`  and has  successfully passed the `bin/test parsing` for the amendments and reverted the changes back.Please let me know if anything else needs to be done in this issue.Thank You ! @NikhilPappu

[2018-09-05 22:35] hamid-m opened #15193 "Incorrect result with Quaterniont.to_rotation_matrix()"
https://github.com/sympy/sympy/blob/ab14b02dba5a7e3e4fb1e807fc8a954f1047a1a1/sympy/algebras/quaternion.py#L489

There appears to be an error in the `Quaternion.to_rotation_matrix()` output.  The simplest example I created to illustrate the problem is as follows:

[code]
One of the `sin(x)` functions should be negative.  What was the reference of the original equations?

[2018-09-05 23:01] asmeurer commented on #15149
Once I get https://github.com/sympy/sympy/pull/15163 merged there shouldn't be any more failures (I am double checking that now).

As to why `PYTHONHASHSEED` disables subprocess, when I implemented the feature, I wasn't sure if running the tests in a subprocess wouldn't cause issues for some people, so I disabled it whenever it was pointless to do so. However, having had them run this way for some

[2018-09-06 01:27] asmeurer commented on #15149
OK, this is mostly fixed now, thanks to https://github.com/sympy/sympy/pull/15163, https://github.com/sympy/sympy/pull/15175, and https://github.com/sympy/sympy/pull/15167. Still issues:

- Many tests produce plots without closing them. This results in a failure

[code]

(I have added the `, i` to assert). And indeed, after running the tests with subprocess=False, many plot windows popped up, seem

[2018-09-06 01:28] asmeurer commented on #13375
I plan to start the 1.3 release branch tomorrow. I guess this will be postponed.

[2018-09-06 01:29] asmeurer commented on #14319
I'm planning on starting the 1.3 release branch tomorrow. If you want to improve the messaging for that release, please let me know ASAP.

[2018-09-06 07:34] #15157 closed

[2018-09-06 11:01] timokau commented on #15149
I think changing this behaviour without a good reason can be unintuitive, so I'd be in favor for removing it.

[2018-09-06 15:02] smichr opened #15194 "replacing count in Derivative shouldn't create Subs"
[code]
This can just be
[code]

[2018-09-06 15:15] mcsoini opened #15195 "Wrong linear_eq_to_matrix if equations not expanded"
I noticed that `linear_eq_to_matrix` doesn't yield the correct matrix if the linear equations are not fully expanded. For example
[code]
gives the wrong result `Matrix([[0, 0], [0, 5]])`. This can be fixed by adding `equations = equations.expand()` prior to the `linear_eq_to_matrix` call. Would it make sense to include an `expand` call in the `linear_eq_to_matrix` method itself? Willing to submit

[2018-09-06 16:00] smichr opened #15196 "Derivative.doit().doit() != Derivative.doit()"
As pointed out by @jksuom in #15049, a 2nd application of doit changes the initial instance of a "done" derivative. In the case below, an instance of `Derivative(f(x, g(x)), x, g(x))` appears in the doit result...so the 2nd application of doit does it again:
[code]

[2018-09-06 16:46] cbm755 commented on #15195
Maybe it will be fixed by #14999?  Can you check?  We'd certainly welcome a pull request that adds a test for this, either on top of #14999 or wait until it is merged...

[2018-09-06 17:45] cbm755 commented on #15195
I think you meant
[code]
And it seems this is still an issue on #14999: more specifically, I'm using:
[code]

#14999 also breaks putting the equations as rows of a matrix: we should probably fix that.

[2018-09-06 17:53] mcsoini commented on #15195
Of course, my bad.

[2018-09-06 18:02] cbm755 commented on #15195
So this will become a ValueError after #14999, certainly better than a wrong answer.

I think your original comment holds: we need to decide if `linear_eq_to_matrix` should automatically expand such things.

[2018-09-06 18:30] ayushmankoul commented on #15186
@moorepants @NikhilPappu  I would like to take up this issue.Please guide me how should I proceed to solve this issue ?

[2018-09-07 18:09] smichr commented on #15195
#14999 is a convenience function to extract coefficients from a trivially linear system (i.e. fully expanded). If you have a more complicated system of equations, consider either linsolve (which will expand your system and warn if there are persisting non-linear terms) or jacobian:

[code]

[2018-09-07 18:24] asmeurer opened #15201 "Remove Permutation.print_cyclic flag"
See the discussion at https://github.com/sympy/sympy/pull/15198. The Permutation printing should be handled in the SymPy printers, not on the object itself. The flag should be a flag to the printer. Any doctest that wants to change the printing should set the flag in `init_printing`. However, whichever is set as the default should be used everywhere.

Since it is publicly documented, it will need

[2018-09-07 20:36] ethankward opened #15202 "Recursion error when taking the limit of an unsimplified expression"
[code]

[2018-09-08 14:56] sudz123 commented on #15161
Hi, by running test_ode.py I meant running the `./bin/test` and other tests on test_ode.py. test_ode.py looks like a python script which does not initialise the functions in it. Also my sympy version is 1.1.1 , does that make a difference?

[2018-09-08 15:17] jksuom commented on #15161
The test seems to pass on current master:
[code]

[code]

[2018-09-09 00:14] sudz123 commented on #15161
Yes, when I run the code that way I too do not get any explicit error. But when I run it like [this](https://github.com/sympy/sympy/issues/15161#issuecomment-417000421). I get :
[code]

[2018-09-09 04:01] asmeurer commented on #15161
1.1.1 is an old version of SymPy. Can you try it again in the git master, or the 1.3rc1 release candidate.

[2018-09-09 04:33] sudz123 commented on #15161
I tried with `IPython console for SymPy 1.2 (Python 3.6.3-64-bit) (ground types: gmpy)` . Still getting `False`

[2018-09-09 04:44] cbm755 opened #15205 "1.3rc1 regresion from 1.2"
e762c496abcda0b3bb6f924d1873d6c46e87179a

This commit causes a regression, still checking how serious:

[code]
This can give negative singular values.

Previous to that commit, it gave:
[code]

CC @asmeurer @ethankward

[2018-09-09 04:53] cbm755 commented on #15205
Wait, this result looks correct to me, sorry for noise.

Must've misread `positive=True` as `real=True`.  For `real=True`, it also gives the correct result of
[code]

[2018-09-09 04:53] #15205 closed

[2018-09-09 05:15] cbm755 opened #15206 "1.3rc1 codegen regression in octave/julia/jscode"
@asmeurer @bjodah I have a (minor?) regression in codeprinting from e99b756df3291a666ee2d2288daec4253014df40
Can one of you double-check that commit before 1.3?

Octave codegen prints `laguerre` but is supposed to error on `assoc_laguerre` (untested, apparently).  The above commit breaks that.

[2018-09-09 05:39] cbm755 commented on #15206
Ok narrowed this down: I think its quite serious.  At least Julia code printing is broken, maybe others too.

Background: calling `octave_code(laguerre)` is not the same as `octave_code(laguerre(x,y))`.  The latter goes through the known function mechanism and translation tables.  The former does not.  I'm not sure what the former is used for or what it should do (in OctavePrinter).

Anyway, the c

[2018-09-09 05:54] sudz123 commented on #15201
Hi I am looking to fix this error. Could you guide me on this one a bit?
From what I understood `permutations.py` has some functions which use `print_cyclic` flag. But since this is a global flag, it should not be used. Instead it should use something from the `printing` module? Do I need to go through the `printing` module thoroughly? How do I get started on this?

[2018-09-09 06:45] cbm755 commented on #15161
Am I write that you are typing in test code that came from git master so maybe its ok if it fails on *any* old SymPy?

[2018-09-09 06:49] sudz123 commented on #15161
But I recently updated Sympy. Isn't 1.2 the latest edition? 1.3 is yet to be released right?

[2018-09-09 07:42] cbm755 commented on #15161
I think the point is if its already fixed in git master (or on the soon-to-be-released 1.3) then its not worth worrying to much about what happens on 1.2.

OTOH, if you can reproduce it on git master or 1.3rc1...

[2018-09-09 07:43] jksuom commented on #15161
Running the code in isympy (on current master) does not seem to break the test:
[code]

[2018-09-09 07:44] cbm755 commented on #15161
yes, as I said in the first comment.

@sudz123 maybe if you can reproduce, please show what `s - sol10` and `simplify(s-sol10)` gives.

[2018-09-09 09:37] sudz123 commented on #15161
I will try to install version 1.3 and reproduce the error. In my local machine:
`In [13]: print(s)
[Eq(x(t), C1*x0 + C2*x0*Integral(t**2*exp(Integral(5*t, t))*exp(Integral(9*t**2 + 5*t, t))/x0**2, t)), Eq(y(t), C1*y0 + C2(y0*Integral(t**2*exp(Integral(5*t, t))*exp(Integral(9*t**2 + 5*t, t))/x0**2, t) + exp(Integral(5*t, t))*exp(Integral(9*t**2 + 5*t, t))/x0))]
`
Here I see that its just `x0` and n

[2018-09-09 12:54] luohc2004 opened #15209 "operation time out when integrate\\"

[2018-09-09 17:17] sudz123 commented on #15186
I have removed all unnecessary imports and addressed this issue in the PR : #15210 . Do tell me if any additional changes are required :)

[2018-09-09 21:43] cbm755 commented on #15161
So this is probably related to the symbol `x0` not becoming the function when called as `x0(t)`, #9064.  That is, the test was changed in 1.3 because of that change.

As I said, you are pasting in an example from the git master test and expecting it to pass on older sympy.

[2018-09-10 06:51] kss682 commented on #15178
Hi ,I am new to sympy and I would like to work on this issue.
Can someone guide me through it.
Thanks.

[2018-09-10 11:56] valglad commented on #15201
@sudz123 Users should send printing preferences via `init_printing`, not by changing class attributes. So `print_cyclic` from the `Permutation` class should be deprecated, and `init_printing` should get a new keyword argument so we could do `init_printing(cyclic=True)` (or something like that) if we wanted permutations to be printed in cyclic notation.`init_printing` is [here](https://docs.sympy.o

[2018-09-10 14:29] ayushmankoul commented on #15209
Hello @luohc2004 It seems may be you have put wrong parenthesis around  `1/2` in `integrate((x**3*cos(x/2)+1/2)*sqrt(4-x**2),(x,-2,2))` which is changing the meaning of your expression.If your expression is like this `integrate((x**3*cos(x/2))+1/2*sqrt(4-x**2),(x,-2,2))` then the ideal output we are getting is `pi`.Hope it helps you.

[2018-09-10 15:05] ayushmankoul opened #15211 "Plotting of triangles and points has not been implemented in Sympy"
Hello everyone,
While having discussion with @jksuom on Gitter we came to one observation that plotting of triangles and points has not been implemented in Sympy. On investigating the codebase we came to notice that most objects to be plotted are the sub-classes of `BaseSeries`.In order to fix this issue we need to write method that would create objects for `List2Dseries` which will be used for ba

[2018-09-10 19:42] juehang opened #15213 "Simple integral results in SympifyError unless manual=True kwarg is used"
As described in title. Code to reproduce:
``
from sympy import *
b, u = symbols('b, u', real=True)
integrate(u*b/(u**2+b**2)**Rational(3,2),(u), manual=True) #this works
integrate(u*b/(u**2+b**2)**Rational(3,2),(u))
``
Sympy version is 1.2

[2018-09-10 21:17] ethankward commented on #15213
`heurisch_wrapper` attempts to create a `Piecewise` object out of `[(None, Eq(b, 0)), (zoo*u**2, Eq(b, -I*Abs(u))), (zoo*u**2, Eq(b, I*Abs(u))), (-1/sqrt(b**2 + u**2), True)]` on line 181.

[2018-09-10 23:12] jlumpe commented on #14986
Original behavior deprecated in #14949.

[2018-09-11 00:07] cbm755 commented on #15195
@smichr thanks for addressing this

[2018-09-11 07:15] jksuom commented on #15213
It looks like `heurisch_wrapper` works under the implicit assumption that if `heurisch` will succeed in the generic case, it would also succeed when special values have been substituted for some symbols.

The issue could probably be fixed by filtering the `(value, cond)` pairs in `pairs` by, for example, `isinstance(value, Basic)`.

[2018-09-11 08:27] ayushmankoul commented on #15156
Hello @moorepants I would like to work upon this issue.I went through the codebase of `external module` to understand its working.Is there something we are missing in `import_module()' function which would have caused the exception for `theano` like other libraries and also is this issue specifically related to only `theano` library or others too ? I am trying to get familiar with the codebase. Pl

[2018-09-11 08:31] luohc2004 commented on #15209
Oh, the expression I pasted from Maple did not displayed correctly....the answer is indeed same with a different parenthesis position, but the integration of the expression I posted cause no response both in my command line of IPython and Jupyter Notebook. When using a online shell on live.sympy.org, I got a hint called 'operation time out'

[2018-09-11 09:58] ayushmankoul commented on #15209
This issue can be minimized into `integrate(((x**3)*cos(x/2)*sqrt(4-x**2)),(x,-2,2))` returns `Error:Operation timed out `. Also `integrate((cos(x/2)*sqrt(4-x**2)),(x,-2,2)) returns another integral instead of the exact answer. @jksuom Sir please have a look on this issue ?
![integrtae](https://user-images.githubusercontent.com/22992482/45352786-eedeae80-b5d6-11e8-968a-a389f0fefc6c.PNG)

[2018-09-11 10:55] jksuom commented on #15209
Integrals of functions involving both trigonometric and algebraic components are, in general, expected to be handled by `risch_integrate`. However, its implementation is incomplete, and therefore other methods like `manual_integrate` must be attempted (see the docstring of `integrate`). It seems that all these methods fail in this case and finally `heurisch` will be called. It works by extracting

[2018-09-11 11:54] ayushmankoul commented on #15209
Thank you @jksuom for simplifying and helping me to understand this issue.Is anyone working on the implementation of trigonometric and algebraic components in `risch_integrate` which is supposed to resolve such issues for future ? If not,could you please let me know how should I approach to work on this implementation ?

[2018-09-11 12:08] jksuom commented on #15209
You can find some information [here](https://github.com/sympy/sympy/wiki/GSoC-2018-Ideas#risch-algorithm-for-symbolic-integration). Difficulty is not given but is should be 'Advanced'.

[2018-09-11 16:27] ayushmankoul commented on #15209
Thank You @jksuom for guiding me.
Hello @asmeurer I would like to work on [this project idea](https://github.com/sympy/sympy/wiki/GSoC-2018-Ideas#risch-algorithm-for-symbolic-integration).I have basic knowledge of abstract algebra and meanwhile I went through the discussion on google group about this project idea of yours and `Anurag Sharma` got a fair hint about the idea.Could you please let me k

[2018-09-11 17:31] moorepants opened #15214 "PyDy examples need to include the PyDy license"
There is a new directory in `sympy/parsing/autolev/tests`:

[code]

These examples are copied from PyDy, but the PyDy license isn't included. I don't care personally, but we should probably follow protocol and include the PyDy license.

[2018-09-11 17:39] moorepants commented on #15156
I think that `import_module` likely only catches `ImportErrors`. You may be able to have it catch any error and return none, but the user should be notified with a warning that something went wrong other than an ImportError.

[2018-09-11 17:42] moorepants commented on #15214
@NikhilPappu fyi

[2018-09-11 17:57] cbm755 opened #15216 "Codegen unsupported functions: raise errors or insert comments?"
@asmeurer sez:

Follow up on this; is it so?  If its different from `ccode` and `fcode`, fix it.

[2018-09-11 18:01] cbm755 commented on #15216
Looks ok to me:
[code]
Maybe there is a problem in codegen rather than OctavePrinter?

[2018-09-11 18:04] ctung commented on #15171
So the intent is that after identifying candidates for mapping, I need to then do something like truth table to confirm digital equivalence?  That's doesn't seem obvious from the description?

[2018-09-11 18:14] cbm755 commented on #15195
@mcsoini after #15212 is merged, do you think you could make a test case from your example and submit it as a PR?

[2018-09-11 18:16] cbm755 commented on #15195
I'm also curious if `a*(2*x+3*y)` works and `a*(sin(b)*x+(c+cos(b))*y)`.

[2018-09-11 18:19] NikhilPappu commented on #15214
@moorepants Sure, I shall include it.

[2018-09-11 18:59] asmeurer commented on #15216
Ah, I was under the mistaken impression that the octave printer produced an error.

[2018-09-11 19:02] cbm755 commented on #15216
Downstream in octsympy I use `human=False` and then raise exceptions so it causes errors there.  Perhaps I phrased something that implied that was the behaviour in SymPy too.

Anyway, this seems ok, closing for now.

[2018-09-11 19:04] asmeurer commented on #15156
It already has a flag `catch` to catch other exceptions. I think it's better to explicitly list other exceptions so that errors don't get slicenced.

[2018-09-11 19:06] asmeurer commented on #15156
By the way, I get a very similar error when I import theano (except for me it results in a popup GUI window from macOS to send a report to Apple). The error I get is

[code]

I guess theano is broken. And either way it's really annoying that it tries to compile a file *at import time*.

[2018-09-11 19:12] asmeurer commented on #15216
IMHO it should be an error instead of a comment, but I would definitely want to hear others opinions on it before changing anything.

[2018-09-11 20:03] moorepants commented on #15216
The error will be raised in the language that runs the printed code. I can imagine times when you want to print the code best as possible via SymPy and then hand edit to get to run in the target language. With that in mind I think we should just print a warning during the code printing via Python's warning module and to leave the comments in the code which will ultimately raise an error in the tar

[2018-09-11 22:44] asmeurer commented on #4471
To solve this, you need to recursively lambdify the integrand. This can be done naively as described at https://stackoverflow.com/questions/51173981/lambdify-a-parametric-integral, but that involves relambdifying the integrand every time it is called. Better would be to lambdify it once, save it as a dummy function, and add that function to the outer lambdify namespace. I think this would not be d

[2018-09-11 22:53] asmeurer commented on #15216
The other issue I've always had with this is that it makes the output not an expression (at least in languages that don't allow comments in the middle of expressions).

[2018-09-11 23:01] asmeurer opened #15217 "Euler ODE solver should recognize when there is a missing factor of x"
[code]

Probably the simplest way to fix this would be to make the ODE monic in the highest derivative and change the matching to check against that.

[2018-09-11 23:04] asmeurer opened #15218 "Eq.integrate doesn't evaluate the integral"
[code]

The integrals should actually be evaluated.

[2018-09-11 23:31] #15071 closed

[2018-09-11 23:34] oscarbenjamin opened #15219 "IndexError with dsolve for invalid ODE"
I'm not sure what the right output from sympy should be for this but I think that IndexError is a bug. Example below is from isympy using sympy 1.2 installed with pip.

[code]

[2018-09-11 23:38] asmeurer commented on #15219
The IndexError is a clear bug regardless, but should this actually be solvable? The ODE is `exp(...) = 0`, which is not possible.

[2018-09-11 23:43] cbm755 commented on #15206
Strange this didn't close automatically?  Maybe because it was merged to 1.3 instead of master.

AFAIK, 1.3 will be merged to master after release so I will close this manually.

[2018-09-11 23:43] #15206 closed

[2018-09-11 23:45] oscarbenjamin commented on #15219
No this ODE is not solvable. I was just testing `dsolve` and came across the `IndexError`

[2018-09-12 00:29] isuruf commented on #15178
For gaussian elimination, instead doing a rref calculation to compute the inverse, sympy should calculate the rref of the augmented matrix A|b and return the solution.

[2018-09-12 09:42] nantonel commented on #11772
has this been fixed? it doesn't look like from the version I'm using (v1.2) or is there any other issue?

[2018-09-12 11:10] jksuom commented on #11772
Fourier transforms of distributions have not yet been implemented.

[2018-09-12 11:43] smichr opened #15220 "deprecate Derivative.variables"
If #15049 makes it into master, consider the following as a vote for deprecation
[code]
In Lambda and Integral, variables means 'the variables of the function or of integration'
[code]
But in Derivative it means the enumerated list of variables *ignoring those with symbolic count*:
[code]

In #15049 I made the symbolic case raise an error and direct the user to use the added `_wrt_variables` metho

[2018-09-12 16:48] sudz123 opened #15223 "Application destroyed message in bin/test"
While running the bin/test we get the message in `test_plot.py` and `test_plot_implicit.py` :

[code]

[2018-09-12 17:15] #15195 closed

[2018-09-12 17:15] #14987 closed

[2018-09-12 18:52] ayushmankoul commented on #15156
@moorepants Do you have multiple Python installations on your system ? Actually, I was going through [Theano Issues](https://github.com/Theano/Theano/issues/6004) to get the insight of this issue what could be the possible reasons of raising this exception.Does the reason specified in following comment by `notoraptor` is able to match the cause of this exception in your system ?
![integrtae](https

[2018-09-12 18:58] asmeurer commented on #15217
Oh derp. It's from the mailing list.

[code]

The original `eqn` is in factored form, but that's a separate issue from this (although I do think classify_ode should try expanding factored expressions and seeing if they can be classified, see also https://github.com/sympy/sympy/issues/6259).

[2018-09-12 18:59] asmeurer commented on #15223
Can you give more context about where in the test the message is displayed. If you run the tests with `./bin/test plot -v` where does it show up?

[2018-09-12 19:00] asmeurer commented on #15220
Why _wrt_variables with a leading underscore? That suggests it is a private name not to be used by the end-user.

[2018-09-12 19:03] asmeurer commented on #15220
An error seems fine, but we could also just return `(x, (y, n))` for that case. I would expect `.variables` to just give something that can be used to recreate the derivative (but maybe less canonicalized than `.args[1:]`).

[2018-09-12 19:08] sudz123 commented on #15223
In `sympy/plotting/tests/test_plot.py` pops up with test_matplotlib_1,2,3,5,6 and in `sympy/plotting/tests/test_plot_implicit.py[2] ` it comes up with test_matplotlib. However there is a `ok` which is followed to everyone of them, so I am not sure whether it would affect anything.

[2018-09-12 19:10] asmeurer commented on #15223
We generally like to avoid things being printed to the terminal during the tests, but I haven't seen this before. It's possible there is some issue with your matplotlib installation. Does plotting work in an `./bin/isympy` session?

[2018-09-12 19:11] asmeurer commented on #15156
@ayushmankoul if you can provide a link to where that comment is from instead of a screenshot, that would be helpful. If you click the timestamp it creates a link to the specific comment.

[2018-09-12 19:15] jksuom opened #15224 "Travis job .21 fails with NoSpaceLeftError"
It seems that sage has grown too big.

[2018-09-12 19:18] asmeurer commented on #15224
CC @isuruf

If we can't find a solution to this soon we should just disable the sage tests.

[2018-09-12 19:28] ayushmankoul commented on #15218
Hello @asmeurer I would like to work upon this issue to get familiar with integrals module.There is another [issue](https://github.com/sympy/sympy/issues/15209) which has developed my interest to work on integrals module. I am seriously looking forward to work on implementation of Risch Algorithm in integrals module.Please guide me for the same and this issue.

[2018-09-12 20:26] moorepants commented on #15156
Likely. I don't have time to investigate now. But I think debugging my system is irrelevant to this issue. PyDy should have run regardless because theano is an optional dependency.

[2018-09-12 21:35] asmeurer commented on #15224
Is it possible to just install the core part of Sage that is needed for the Sage tests?

[2018-09-12 22:31] smichr commented on #7027
When this is fixed, `Derivative._diff_wrt` should be changed to return `self.expr._diff_wrt`.

[2018-09-13 02:14] smichr commented on #15220
In the PR it's private because this issue here hasn't been addressed yet.

Here is a quick demo of what we've got now:
[code]
In my PRs,
[code]
I would like to see `Derivative.variables` to behave like Integral and Lambda and use a more descriptive name for the enumerated variable list.

[2018-09-13 02:38] smichr opened #15226 "Subs needs to be more aware of the expr it is working with"
One of the motivations for Subs was to be able to handle Derivatives with expressions replacing functions. Right now, however, it doesn't process its arguments in a way that one might expect:

[code]

N.B.
If you try to confirm that assertions above with master you may see
[code]
That's another issue.

[2018-09-13 06:55] sudz123 commented on #15223
Yes, I tried a basic : `plot((x**2),(x,-5,5))` and it works fine. Any other tests I should try?

[2018-09-13 07:01] retsyo opened #15227 "too long to calculate integrate(ln(1-x)*ln((1+x)**2)/x, (x, 0, 1))"
latest cloned sympy with py 3 on Win7 64 bits

[wolframalpha](https://www.wolframalpha.com/input/?source=nav&i=integrate(ln(1-x)*ln((1%2Bx)**2)%2Fx,+(x,+0,+1))) calculated it quickly and the gave the answer `-1.50257`

scipy did it quickly too
[code]

but even after 3 minutes, sympy still can not finish the calculation. So I killed python
[code]

so, what is the matter?

[2018-09-13 07:56] jksuom commented on #15227
SymPy `integrate` tries to compute the exact value of the integral as a symbolic expression. That is not always possible, and SymPy may spend a long time before finding that out. Numerical integration is delegated to `mpmath`.
[code]

[2018-09-13 10:10] smichr commented on #15171
I don't think so. If there is a mapping, they are the same structurally. For example, `a + cos(b)` has the same structure as `x + cos(y)` if we map `{a:x, b:y}`.

[2018-09-13 12:07] valglad opened #15228 "potential infinite recursion in limits"
See #14574 for an example.
Equivalently, consider `limit(sqrt(1/x)*cos(1/x - 1/x**2) / (1 + 1/x), x, 0)`.
`heuristics` in `limits.py` can't evaluate it directly so tries finding the limit of `ratsimp(e)` instead.
[code]
But to compute the limit of `Add`, `heuristics` factorises it which leads back to `sqrt(1/x)*cos(1/x - 1/x**2)/(1 + 1/x)` (or rather `sqrt(1/x)*cos((-1 + 1/x)/x)/(1 + 1/x)` but it'

[2018-09-13 13:13] tBuLi opened #15229 "(NumPy)Printer does not handle contracted indices in Indexed"
I apologize if this is a known issue but I couldn't find it.

Consider the following (using sympy 1.2):
[code]
prints
[code]
This makes sense, but is not the desired result. I therefore wrote a function which simply replaces implicit sums by explicit sums, such that the result becomes `y=  Sum(a[i, j] * x[j], j)`. But then we get:
[code]
prints
[code]
Better, but I'm a bit supriced by the `builtin

[2018-09-13 15:08] hsharrison opened #15230 "autowrap fortran fails with expression containing Mod function twice"
Minimal example:

[code]

Error:
[code]

And here's the generated code.
[code]

Clearly the problem is that Mod gets imported twice. Hopefully this is an easy fix but I don't know where to start.

[2018-09-13 15:21] moorepants commented on #15230
The first step to fixing this is to define a print method for `Mod` in `sympy/printing/fscode.py`. There is no `_print_Mod()` method.

You can see it not working here:

[code]

[2018-09-13 15:43] moorepants commented on #15230
Possible fix: https://github.com/sympy/sympy/pull/15231

[2018-09-13 15:57] hsharrison commented on #15230
Thanks, that was fast. I'll give it a shot when I get a chance.

[2018-09-13 16:08] isuruf commented on #15224
It's possible to install `sagelib` which might not be enough depending on what modules you import from sage.

[2018-09-13 19:44] asmeurer commented on #15224
Also why are we pinning sage=8.1?

[2018-09-13 19:45] isuruf commented on #15224
sage>=8.2 failed with no space left error, because of more dependencies

[2018-09-13 19:58] saidctb commented on #15047
ah thanks a lot, yes I was trying to use a matrix

[2018-09-13 19:58] #15047 closed

[2018-09-13 20:13] asmeurer commented on #15226
Shouldn't Subs(expr, old new).doit() always be equivalent to expr.subs(old, new)?

[2018-09-14 00:02] Greg1950 opened #15234 ".subs() method misbehaves when symbol substituted is real"
The following code, when run using SymPy, exhibits unexpected and undesired behavior by the `.subs()` method.  The substitution process is affected by whether the variable `x` being substituted for was instantiated as a _real_ symbol or as a _complex_ symbol.

[code]

The following is the output produced by running the above code.

[code]

[2018-09-14 05:15] #15224 closed

[2018-09-14 08:17] tBuLi commented on #14960
Excuse me for commenting on a closed issue, but shouldn't the line giving this issue be changed to calling `str` on whatever it is given, rather than using `.name` directly? That seems more duck-typing friendly to me.

[2018-09-14 11:02] mgeier commented on #13383
I'm having the same problem when using the development version of Matplotlib, which is currently `3.0.0rc1.post275+g848d9fc56`.

[2018-09-14 11:12] bjodah commented on #15234
That's expected. In SymPy `Symbol` is canonically represented by its name and the assumptions (real, complex, etc.). That means that you can have multiple Symbol with the name `x` which do not refer to the same symbol. To avoid confusion you can e.g. use a naming scheme (e.g. 'z' for complex variables, 'n' for integer variables, etc...).

[2018-09-14 11:16] bjodah commented on #15234
Sorry I didn't read your example careful enough, diregard previous reply.
Do you intend to call subs with `1` as an argument?

[2018-09-14 17:01] ayushmankoul commented on #15156
@moorepants  Okay,so what should be the ideal approach to resolve this issue ?

[2018-09-14 18:35] asmeurer commented on #15156
To fix this issue for theano you would need to catch Exception, which would also mask every other exception raised during the import. IMHO no change should be made for this, aside from perhaps opening some upstream issues in theano.

[2018-09-14 18:37] asmeurer commented on #15226
I mean `doit` should literally just call `subs` and do nothing else. Is there need for other code in there that could make the results different?

[2018-09-14 18:58] asmeurer commented on #14960
This is the line:

[code]

I think it's OK to assume that the objects in free_symbols have `.name`. Calling str generally makes me uneasy because it works for any expression, and is usually an antipattern https://github.com/sympy/sympy/wiki/Idioms-and-Antipatterns#strings-as-input

[2018-09-14 21:00] smichr opened #15236 "NoSpaceLeftError still an issue?"
Run https://travis-ci.org/sympy/sympy/jobs/427914815 still gives the error. I tried restarting and closing and reopening the PRbut the error remains.

[2018-09-14 21:01] #15236 closed

[2018-09-14 21:09] oscarbenjamin opened #15237 "incorrect solution from dsolve with prep=False"
I found this while looking it #6259

There is a bug in the `nth_linear_constant_coeff_homogeneous` matching code that leads to an incorrect solution for the ODE below. The bug doesn't normally show up because without `prep=False` this kind of ODE would be preprocessed to a different form before it reaches the solver hint. The solutions is incorrect because it has ignored the `x` inside the `Deriva

[2018-09-14 21:12] asmeurer commented on #15236
I think Travis doesn't merge with the newest master unless a new commit is pushed.

[2018-09-14 21:46] asmeurer commented on #13519
I suggest a multi-stage process for changing this:

1. Make $math$ work for inline math.
2. Change `default_role` to "error" and modify all the warnings to use double backticks if they should be code or dollar signs if they should be math. The recently added `--keep-going` flag to Sphinx should help with this.
3. Do a mass find and replace of all double backticks with single backticks. Double back

[2018-09-14 21:51] asmeurer commented on #13519
Oh now that I played with it I'm not sure if `default_role="error"` works like I thought it would. I thought it would error whenever it came across a default role (single backticks), but it actually seems to just error unconditionally on the first file. So we will need to find some other method of finding and removing all the default roles.

[2018-09-14 22:36] #15171 closed

[2018-09-15 07:28] maxminner opened #15238 "polys/ring_series/rs_compose_product"
Please consider including fast algorithm for calculating composed product over ring series, in addition to `polys/ring_series/rs_compose_add`.

[2018-09-15 10:36] smichr opened #15240 "Integral and Sum (and similar) should compare equal ignoring dummy"
Subs has an `__eq__` method that allows trivial differences in equality comparisons to be ignored. Integral and Sum do not. The same could apply to Product, I suspect:
[code]

[2018-09-15 17:36] #15138 closed

[2018-09-15 23:18] smichr commented on #15226
So if you have `Subs(Derivative(f(x), x), (x, f), (x**2, Lambda(x, exp(x))))` you can't just do the subs then doit because you can't substitute in the `x**2`...and you can't doit and substitute in the variables because there is nothing to do. You have to substitute what you can and then do when you can and then finish the substitution.

[2018-09-16 15:58] #14574 closed

[2018-09-17 12:30] #15098 closed

[2018-09-17 13:41] oscarbenjamin opened #15257 "ode.constantsimp should simplify implicit equations for f(x)"
[code]

I think that `constantsimp` could be taught to spot that this is an implicit equation for `f(x)` in terms of `C₁` and can be rearranged to `f(x) = C₁`.

This arises in
[code]

[2018-09-17 13:41] oscarbenjamin commented on #15257
This is following on from discussion in #15255

[2018-09-17 14:55] smichr opened #15259 "Circle with radius of 0 should return as Point"
[code]

[2018-09-17 15:42] tBuLi commented on #14960
Good point, I guess it could cause more problems than it solves. And true, this actually solves the inconsistency with IndexedBase objects not having a name like the rest of the symbols.

[2018-09-17 22:02] highpost opened #15261 "Plot sine function using radians with xlim"
I'm trying to plot a sine function while defining xlim defined in terms of pi:
[code]
Workaround: Removing either sp.pi or the xlim argument allows plot to function correctly:
[code]

[2018-09-18 12:35] Bavish2201 commented on #15259
Hi! I would like to work on this.

[2018-09-18 14:28] sylee957 opened #15263 "Deprecate usage of bareis, det_lu and uppercase keys in det"
See discussion #15256

[2018-09-19 02:19] smichr commented on #15028
This sorting
[code]
could be this
[code]

[2018-09-19 02:45] smichr opened #15266 "series has to watch for cases when there is no order term"
[code]

[2018-09-19 03:55] smichr commented on #15190
now in master:
[code]

[2018-09-19 03:55] #15190 closed

[2018-09-19 11:05] Upabjojr opened #15267 "Pretty printer not working for arrays of rank 0"
[code]

Check the tensor printers as well.

[2018-09-19 13:18] #15261 closed

[2018-09-19 13:36] smichr opened #15268 "Ellipse with 0 h or v radius is Segment"
[code]
This could be
[code]
and similar for the case when hradius is 0. When both are zero, a Point should be obtained.

[2018-09-19 19:02] ayushmankoul commented on #15267
Hello @Upabjojr I tried to reciprocate your code to understand the issue.It seems without specifying parameters in `shape` attribute it will take `1,1` as parameters whereas it looks that it is mandatory to pass parameters within `[]` in `array`.Please correct me if there is some other interpretation of the issue and are you working on this ?If you don't mind, I would like to give it a try.

[2018-09-19 19:16] ayushmankoul commented on #15240
Hello @smichr I reciprocated your code to understand the issue.And as you suspected the same happens with `Product` method also. I would like to work on this issue. Can you please guide me how to proceed on this ? And do we need to alter `__eq__` method to catch the trivial differences and return False for it ?

[2018-09-19 19:42] asmeurer commented on #15240
Lots of discussions about this at https://github.com/sympy/sympy/issues/5539 (and see also the xrefed issues and PRs). I agree that we should not do dummy comparison with ==. I believe Lambda also has the same behavior.

[2018-09-19 19:44] asmeurer commented on #15240
Oh I misread what you were suggesting. I think we should **not** compare with dummies. It leads to problems. For instance one version gets put in the cache and others get replaced with it.

[2018-09-19 21:06] Upabjojr commented on #15267
I'm not currently working. It just happened to me, so I opened the PR to remember fixing it. No exceptions should be thrown by `str( )`, so this is definitely an issue.

[2018-09-20 01:53] smichr commented on #15240
The reason that I think this is a good idea is that it shouldn't matter what version of the expression is used and any code that depends on knowing what the dummy symbol is is probably doing the wrong thing (i.e. they should be considering free symbols, not bound symbols).  Subs already collapses:

[code]
Is there any reason to keep `Sum(x, (x, 1, 2)) + Sum(y, (y, 1, 2)` from being `2*Sum(z, (z, 1

[2018-09-20 10:01] #8263 closed

[2018-09-20 17:48] llucifer97 commented on #13881
Hi, @gxyd I would like to take up this issue,if its still open.

[2018-09-20 17:55] llucifer97 commented on #15186
hi,@moorepants I would like to solve the issue.Please guide me through.

[2018-09-20 17:57] moorepants commented on #15186
Go for it.

[2018-09-20 20:37] asmeurer commented on #9817
I now get this error here

[code]

[2018-09-20 20:38] asmeurer commented on #11600
This works for me in master. Should this be closed?

[2018-09-20 20:39] asmeurer commented on #11599
This works for me in master.

[2018-09-20 20:48] asmeurer commented on #13160
Seems to work in master

[code]

[2018-09-20 20:48] asmeurer commented on #13160
See also https://github.com/sympy/sympy/issues/2750

[2018-09-21 05:53] ArifAhmed1995 commented on #11600
Yeah I think so. [#11696](https://github.com/sympy/sympy/pull/11696) fixes it.

[2018-09-21 07:27] sidhantnagpal commented on #15268
Possible side-effects would be `isinstance(Ellipse((a, b), 3, 0), Ellipse)` (wrt this issue) and `isinstance(Circle((1, 2), 0), Circle)` (wrt #15259) returning `False`.

[2018-09-21 20:18] alex65536 commented on #15202
Got a similar issue.

[code]

Also increasing the recursion limit using `sys.setrecursionlimit` results in a segmentation fault of Python interpreter.

[2018-09-22 03:14] asmeurer commented on #11600
OK. In the future write "fixes #11600" in that exact format in the pull request description so that GitHub automatically closes the issue when the PR is merged.

[2018-09-22 03:14] #11600 closed

[2018-09-22 10:04] Upabjojr opened #15276 "Tensor: use .replace_with_arrays instead of .data"
https://github.com/sympy/sympy/pull/15271 has added support for `.replace_with_arrays`. This should be preferred to the `.data` property, as the `.data` property has several design flaws.

How to use:

[code]

[2018-09-22 12:39] ayushmankoul commented on #15267
@Upabjojr Can you please specify the file in `sympy/tensor/array` where we need to look for source code of this issue ?

[2018-09-22 13:05] Upabjojr opened #15277 "Make `indices` parameter optional in .replace_with_arrays"
Parameter `.indices` of method `.replace_with_arrays` introduced in https://github.com/sympy/sympy/pull/15271

[2018-09-22 13:08] Upabjojr commented on #15267
Maybe the array constructor should raise an exception. If the shape is `()`, then one element is required.

[2018-09-22 13:50] ayushmankoul commented on #15267
Yes that can be the possible solution for this issue. @jksuom Can you please have a look on this issue ?

[2018-09-22 14:27] ayushmankoul commented on #15178
Hello @isuruf Can you please share the snippet of your code so that I can get familiar with this issue ? It seems more of decision issue as pointed out by @moorepants .I would like to work on this issue to get more familiar with Sympy code base. Please guide me how should I go about it ?

[2018-09-22 14:57] ayushmankoul commented on #15156
@moorepants Can you please share the snippet of your code,I am trying to replicate this issue on local machine ? In order to mask every other exception should I replace `except ImportError` with `except BaseException` in `importtools.py` ?

[2018-09-22 16:01] jksuom commented on #15267
The length of shape is the dimension of the array. A 1-dim. array is a list, a 2-dim. array is a list of lists, etc..., but I don't think that a 0-dim. array could be anything useful. Therefore I would raise an error if shape is `()`.

[2018-09-22 17:31] jksuom commented on #15267
That could be possible with sparse arrays.

[2018-09-22 19:26] moorepants commented on #15156
It doesn't look like we have consensus that this should be fixed. `import_module()` exists primarily to let us support importing optional packages, i.e. gives simple way to check if something successfully imported. The primary case is that the user does not have the package in question installed, thus an ImportError is returned. I personally think that we should support a second case: the package

[2018-09-23 21:37] alex65536 opened #15282 "Works too long on some limits with big powers"
Invoking `sympy.limit((x**2000 - (x+1)**2000) / (x**1999), x, sympy.oo)` takes too long time. While it's obvious that the answer here is `-2000`, sympy needs very much time (waited for an hour, didn't finished) to compute it.

[2018-09-24 10:20] fakesecret opened #15283 "ValueError: intersection of ellipse"
Env: sympy-1.3 (mpmath-1.0.0), on Linux
Issue: The computing of intersection of 2 ellipses can sometimes raise issues. For example,
el1 = Ellipse(Point(0, 0), 2, 1)
el2 = Ellipse(Point(5, 0), 2, 1)
el3 = Ellipse(Point(3, 5), 4, 3)
el1.intersect(el2) # good, no intersection, but has Complex solutions in maths.
el1.intersect(el3) # ValueError: Imaginary coordinates are not permitted

[2018-09-24 14:50] apalmer1377 opened #15285 "TypeError: 'ConditionSet' object is not iterable when calculating definite integral"
[code]

A similar issue happened in issue #13433, though this was fixed inadvertently by the changes in #14097. In this instance, the singularities of the function are defined by the ConditionSet

[code]

and so when trying to iterate over this, python throws an error. I think an easy fix would be to catch the exception and pass, but there could be a better solution.

[2018-09-24 21:52] oscarbenjamin opened #15288 "checkodesol Invalid NaN comparison"
While working on #15255 I found an intermittent (hash-seed dependent) bug when calling `checkodesol` for a particular ODE:

[code]

Note that the timings are consistently different in the cases where it crashes vs the cases where it doesn't. Somehow a hash-seed dependent code path is taken long before the point where the exception is raised.

[code]

[2018-09-24 23:37] oscarbenjamin commented on #15288
The branch occurs here
[https://github.com/sympy/sympy/blob/sympy-1.3/sympy/solvers/ode.py#L369](https://github.com/sympy/sympy/blob/sympy-1.3/sympy/solvers/ode.py#L369)

Depending on the hash seed `reps.items()` can return results in different orders. This is diguised by calling `sorted` since the sort key is by derivative count which compares equal in this case. Under stable sorting this means t

[2018-09-25 12:34] #12856 closed

[2018-09-25 13:48] asmeurer commented on #15285
Agree it should just catch it and pass.

[2018-09-25 16:14] rwbogl opened #15292 "Type error in evaluating Fresnel-like integral"
### Error

When evaluating a [Fresnel-like](https://en.wikipedia.org/wiki/Fresnel_integral) integral, a type error occurs when some code attempts to iterate over an `Interval`.

The integral is a slight generalization of the Fresnel integral. Specifically, it is `exp(-x^2 * cos(2 * theta)) * cos(x^2 * sin(2 * theta))` from `x = 0` to `x = oo`. The correct result, for appropriate values of `theta`,

[2018-09-25 18:06] jksuom opened #15293 "Heaviside rewritten as Piecewise does not set H0"
The value of `Heaviside` at 0 is undefined by default. Therefore its piecewise expression involves the unknown value `Heaviside(0)`.
[code]
It is often useful to fix the value, for example, for integration. The private method `_eval_rewrite_as_Piecewise(self, arg, H0=None)` of `Heaviside` can do that.
[code]
However, the value `H0` is not passed over by the public `rewrite` method.
[code]
This sho

[2018-09-26 13:04] aionkgp commented on #15293
Hi, I want to give this bug a try and I am totally a beginner here, so would you please guide me a bit on this one. Thankyou

[2018-09-26 13:47] jksuom commented on #15293
You should start with https://github.com/sympy/sympy/wiki/Introduction-to-contributing and https://github.com/sympy/sympy/wiki/Development-workflow.

[2018-09-26 14:00] Sircular opened #15296 "Solving for symbols with large exponents is slow"
The following MWE takes 100% of a CPU core and does not find the solution after a full minute:

[code]

[2018-09-26 16:28] sylee957 commented on #15283
I think this issue is caused by equation solver giving some overcomplicated solution containing imaginary number like
[code]
And the solver's assumption checker is not properly working for this specific number.

[2018-09-26 18:37] jpskycak opened #15298 "Absolute value returns incorrect solution"
tried this on sympy.live to make sure it's not just a local error

`solve(sympify('Abs(x)'),symbols('x',real=True))`
`[]`

solution should be [0], not the empty set

[2018-09-26 18:50] jksuom commented on #15298
The symbol `x` that sympify will create in 'Abs(x)' is different from `symbols('x', real=True)`. Therefore there is no solution. The same symbol should be used. For example,
[code]

[2018-09-26 19:16] jpskycak commented on #15298
Oh, got it. Thank you!

[2018-09-26 19:16] #15298 closed

[2018-09-27 07:00] llucifer97 commented on #15296
![erro_sympy](https://user-images.githubusercontent.com/29053133/46128414-ff3a8e80-c250-11e8-8367-2f2d95f226b7.png)
 hi @Sircular i ran this code i have shared the result.
it ran without a error.

[2018-09-27 07:03] llucifer97 commented on #15129
hi @retsyo is this issue still open, in that case i would i like to take up the issue

[2018-09-27 09:54] faradai2008 opened #15301 "Problem with Beam module"
I think there is a problem with the Beam module when using a force with an order bigger than 1.
This is an example where R should be 1/3 and remains constant when changing the length of the beam, but unfortunately it's not the case.
I believe it has to do with the formation of the load equation, where the higher order compensation isn't been taken into consideration.

![image](https://user-images.

[2018-09-27 11:31] retsyo opened #15302 "plot_parametric says TypeError: can't convert complex to float"
I want to plot a curve which is actually has a `S` shape
1. draw a circle
2. move the down part of half circle a whole diameter distance

but the code says `TypeError: can't convert complex to float`. Where is the complex number? how to fix it? Thanks

[code]

[2018-09-27 11:37] retsyo commented on #15129
@llucifer97
the latest cloned sympy still has this issue

[2018-09-27 15:34] asmeurer commented on #15240
I agree mathematically they are equal. The problem is that SymPy uniformly assumes that if a == b then a can be replaced with b anywhere. The cache is one place where this happens but it also happens in other places too.

Generally people like to specify a specific integration variable. So if `Integral(f(t)*exp(-I*pi*t*x), (t, -oo, oo))` becomes `Integral(f(y)*exp(-I*pi*x*y), (y, -oo, oo))` that w

[2018-09-27 17:44] moorepants commented on #15301
This is giving the wrong results due to the incorrect logic here https://github.com/sympy/sympy/blob/master/sympy/physics/continuum_mechanics/beam.py#L393. The method we use to handle the end point is only valid for constant and ramp loadings. Here is a test that needs to be added to `test_beam.py`:

[code]

[2018-09-27 18:16] faradai2008 commented on #15301
When applying singularity method to an open ended function it's (afaik) impossible to do it in one go, therefore a cut must be made at the end of the load function with a constant that can be evaluated from a second singularity func. starting at the cut, but i believe that implementing this programmatically is tedious.

Neverless, a change should be made also in the documentation:
![image](https:/

[2018-09-27 18:27] moorepants commented on #15301
We could raise an error if order > 1 and end is not None as a quick fix for now. It would just force the user to figure things out manually for order >= 2. But it should be hard to implement the above pattern programmatically.

[2018-09-27 18:43] moorepants commented on #15301
Little bit of code that is relevant:

[code]
![figure_1](https://user-images.githubusercontent.com/276007/46167421-98b27200-c24a-11e8-9797-2ac959e12178.png)

[2018-09-27 18:46] faradai2008 commented on #15301
We could find a more generalized soulution, if we could find "something" that can represent the function shown by the yellow hatch:
![image](https://user-images.githubusercontent.com/34922526/46167566-6a5a8400-c296-11e8-9f53-99b543d5539c.png)

[2018-09-27 18:47] moorepants commented on #15301
I just wrote what represents it above: https://github.com/sympy/sympy/issues/15301#issuecomment-425195363

[2018-09-27 18:53] faradai2008 commented on #15301
Nice! but I wonder, what is the mathematical solution to this problem!
In the case of a ramp function we use the same consatnt for the function (q) but as the order goes higher the constant changes and i don't know exactly how to calculate it!

[2018-09-27 18:58] moorepants commented on #15301
I think the mathematical solution is a series that produces the pattern I wrote above.

[2018-09-27 18:59] faradai2008 commented on #15301
Maybe taylor Expansion!?

[2018-09-27 20:05] asmeurer opened #15303 "LaTeX printing for Matrix Expression"
[code]

The bad part is not only is Trace not recognized, but whatever printer is being used doesn't fallback to the LaTeX printer for the inner expression (it should be `A^2`).

[2018-09-27 20:49] moorepants commented on #15301
The cubic one fails trying to follow the pattern:

[code]

[2018-09-27 22:02] ethankward commented on #15303
What is the correct way to print the trace? AFAIK there isn't one built in to Latex. One option is ```\mathrm{Tr}```.

[2018-09-27 22:16] faradai2008 commented on #15301
I think i found a solution!
Its a Taylor series:

[code]

![image](https://user-images.githubusercontent.com/34922526/46177590-b9fb7880-c2b3-11e8-9a71-bf37c5407b1a.png)

[2018-09-27 22:48] moorepants commented on #15301
Nice, can you try with a quartic?

[2018-09-27 22:51] faradai2008 commented on #15301
Failure with x^4 and above!  :/

[code]
![image](https://user-images.githubusercontent.com/34922526/46178800-938c0c00-c2b8-11e8-8b8f-6c062e2b5124.png)

[2018-09-27 22:56] moorepants commented on #15301
Quartic seemed to work for me.

[2018-09-27 23:00] moorepants commented on #15301
This seems to work:

[code]

[2018-09-27 23:01] faradai2008 commented on #15301
Maybe I have problem in my system;
can you try it with a higher power; 8 for example.

[2018-09-27 23:01] moorepants commented on #15301
You have `f4=sm.diff(f,x,3).subs(x,l)` which should have a 4 instead of a 3.

[2018-09-27 23:05] faradai2008 commented on #15301
Oh! thats a typo !
It Works!!

[code]

![image](https://user-images.githubusercontent.com/34922526/46179217-7e17e180-c2ba-11e8-9905-876a3baf213c.png)

[2018-09-27 23:05] moorepants commented on #15301
Sweet! Would you like to submit a pull request to add this to the beam module?

[2018-09-27 23:09] faradai2008 commented on #15301
I would like to, but I'm not that good with Python.
Would you please do it for us and write the code ?

[2018-09-27 23:09] moorepants commented on #15301
NP, here is a basic implementation:

[code]

[2018-09-28 01:51] faradai2008 commented on #15301
I would also suggest adding the feature of applying load as a function of x regardless of its type.
For example:

[code]
![image](https://user-images.githubusercontent.com/34922526/46183544-9e06cf80-c2d1-11e8-9636-ae2220dae7af.png)
![image](https://user-images.githubusercontent.com/34922526/46183550-a52ddd80-c2d1-11e8-86c4-27704a643485.png)

[2018-09-28 02:33] moorepants commented on #15301
Great idea, please open a new issue for that.

[2018-09-28 09:04] weeTC opened #15305 "Refine doesn't simplify square root with only real solutions"
If I understand the purpose of the 'refine' function (a big assumption it has to be said), then the MWE
`from sympy import *
r,t,l, ref = symbols('r t l ref', real=True, positive=True)

refine(
    conjugate(
        sqrt(-l - t**2 + 1)
    ),
    Q.positive(1-(-l - t**2 + 1))
)`
should lose the conjugate. This would be because if the given Q-assumption is true, then the square root must be real?

[2018-09-28 13:16] faradai2008 opened #15306 "Beam module: applying load as a function"
I would like to suggest adding the feature of applying any load as a function of x regardless of its type.
Here is an example of the implementation:

[code]

![image](https://user-images.githubusercontent.com/34922526/46210513-34b6a900-c331-11e8-917b-8366c5b43584.png)
![image](https://user-images.githubusercontent.com/34922526/46210521-384a3000-c331-11e8-9672-ff9ed02902a6.png)
![image](https://use

[2018-09-28 13:46] davidsaxton opened #15307 "sympy.solve gives wrong solution for 2-D linear system"
Issue seems to be present in both sympy 1.2 and sympy 1.3. Example failing equation:
[code]

[2018-09-28 15:38] asmeurer commented on #15303
What's the difference between the two. It looks like we use both in different parts of the latex printer.

[2018-09-28 16:11] ayushmankoul commented on #15293
Hello, @jksuom I would like to work on this issue. I was going through your description of the issue and the codebase to understand the issue which I interpreted as that the value of Heaviside at 0 is undefined by default which can be resolved by fixing the piecewise expression for it. Please correct me if I am wrong, the possible changes we need to make in the code which you have mentioned in the

[2018-09-28 16:41] jksuom commented on #15293
I think that something like that should be done in `Heaviside._eval_rewrite_as_Piecewise` but that is not all. It should also be taken care that the keywords (`**hints`) will be passed to private methods if they are present. There should also be tests that would confirm the expected behaviour.

Also @aionkgp has shown interest in this so maybe we should wait a little to see how he is getting on.

[2018-09-28 16:44] jksuom commented on #15303
`\operatorname` is intended for printing without parentheses (like `Tr M`).

[2018-09-28 17:09] ethankward commented on #15307
On line 976 in solvers.py we have ```fi = Add(fi.lhs, -fi.rhs, evaluate=False)```. If evaluate is set to true this fixes the issue- what is the purpose of not evaluating here?

[2018-09-28 17:44] smichr commented on #9185
Yes, this gives `KroneckerDelta(i, j)*h[j]` on sympy.live.org so it's been fixed for a while.

[2018-09-28 17:47] smichr commented on #9185
It is also tested:

https://github.com/sympy/sympy/blob/5997e30a33f92e6b4b4d351e835feb7379a0e31d/sympy/tensor/tests/test_indexed.py#L285-L293

[2018-09-28 17:47] #9185 closed

[2018-09-28 17:47] asmeurer commented on #9185
The OP code works in master. https://github.com/sympy/sympy/issues/11568 tracks the remaining issues with derivatives wrt indexed expressions. Let's move the discussion on this over there.

[2018-09-28 18:38] smichr commented on #15307
Why does having it unevaluated fail? The unevaluated form needs to be saved for testing. The evaluated for can be used for solving. Somehow those two forms need to be kept track of.

[2018-09-28 21:15] asmeurer opened #15309 "parse_latex('\pi') produces Symbol('pi')"
[code]

It should probably use the sympy namespace to convert symbols, similar to `sympify`.

[2018-09-28 23:28] smichr commented on #15307
It's a problem with `_invert`:

[code]

[2018-09-29 00:53] smichr commented on #15307
[code]

[2018-09-29 03:35] sidhantnagpal commented on #15305
I think your example should have the Q-assumption as:
`Q.positive(-l - t**2)` or `Q.negative(l + t**2)`.

There seems to be possibly more than one unexpected results:
[code]

Also a few minimal cases:
[code]

[2018-09-29 04:10] ayushmankoul commented on #15293
Sure @jksuom Let us wait for the response from @aionkgp ,if he would like to continue to work on this issue.

[2018-09-29 04:12] ayushmankoul commented on #15156
@moorepants The second case which you discussed should also have been caught by `import exception`.Isn't it? If not maybe the error it throws is some other exception than `import error` and we need to catch that exception using `BaseException`.Is it so?

[2018-09-29 04:39] ayushmankoul commented on #15307
Hello everyone. Is anyone working on this issue? If no, I would like to give it a try to get familiarize with `solvers` module. I understood the core issue that we need to keep track of evaluated and unevaluated equations to reach to correct answer but am not able to figure out how `_invert` function is related to this issue.
@smichr I am new to open source contributions and trying to get familiar

[2018-09-29 11:07] smichr commented on #15307
The simplest thing would be to apply the diff above (or make it by hand and take a look at how the surrounding routine, esp. `_invert` is doing its part of solving the equations).

[2018-09-29 19:36] Trave11er commented on #15213
in line 146 of `heurisch.py `
`slns = [{b: -I*Abs(u), {b: I*Abs(u)}]`
followed in the code by
`slns0 = [{b: -I*(u), {b: I*(u)}]`
which is correct because `u` is real

[2018-09-29 22:10] smichr commented on #8617
`solve` may have worked a way around this but the issue still remains.
[code]
RootOf represents a number, so it's proper to hash the above as the same. But from a user perspective one has to realize that it doesn't represent a solution for `x` unless `x` is a symbol.
[code]
Perhaps the safest solution is to disallow anything but a symbol to be the generator.

[2018-09-30 06:59] jksuom commented on #8617
+1

[2018-09-30 07:04] aionkgp commented on #15293
I am also stuck at that part where we incorporate the above-mentioned code to get 'H0' from kw, beacuse the **hints is not passed to the private method `Heaviside._eval_rewrite_as_Piecewise`.

[2018-09-30 08:25] cbm755 opened #15311 "3rd-order ODE with irrational coefficient fails"
Consider the 3rd-oder constant coefficient homogeneous ODE:
[code]

Try to solve:
[code]
It's fine with `Rational(3,2)`.  But similar failures for `I`, `pi` and radicals.

Perhaps it would be be enough to specify the domain of that Poly as Complex.

[2018-09-30 08:55] cbm755 opened #15312 "`linear_eq_to_matrix` on `Eq` has unevaluated results"
@smichr @czgdp1807 I just noticed a problem with your nice work on `linear_eq_to_matrix` when combined with `Eq` inputs.  I often get results with unevaluated Adds like:
[code]

Here's a minimal example:
[code]
Probably this is because care was taken to prevent simplifing when doing `lhs - rhs` for `Eq` inputs.  Perhaps we should call `.doit()` to the final RHS vector?

[2018-09-30 10:01] jksuom commented on #15293
[This](https://github.com/sympy/sympy/blob/master/sympy/core/basic.py#L1589) is the call where `**hints` are missing. They could be added as follows:

    if hints:
        rewritten = getattr(self, rule)(*args, **hints)
    else:
        rewritten = getattr(self, rule)(*args)

Most rules do not expect keyword parameters. Therefore the original line should be left as is if there are no hints. (Als

[2018-09-30 14:33] aionkgp commented on #15293
@jksuom I have made the changes in the code where you have suggested as follows
[code]
and I think I got the right result
[code]

and I have also added the **kw argument as parameter in all private `_eval_rewrite_as_Piecewise`
but upon running `./bin/test` for testing
I got many [test failed](https://pastebin.com/31RqhMUh) and which I can't understand

[2018-09-30 15:42] jksuom commented on #15293
It seems that the keyword `deep` is causing errors. It should be removed before calling the private rewrite method. Then `**hints` should be added to the call only if something else is left.

             if hasattr(self, rule):
                hints.pop('deep', None)
                if hints:
                   rewritten = getattr(self, rule)(*args, **hints)
                else:

[2018-09-30 17:59] llucifer97 commented on #15312
I would like to take up his issue.

[2018-09-30 23:07] cbm755 commented on #15312
Sure, go for it.

I'm not sure my doit comment is the right fix, but its a place to start.

[2018-10-01 01:39] #15028 closed

[2018-10-01 03:44] smichr commented on #15312
similar trouble showed up with #15307

[2018-10-01 03:47] smichr commented on #15312
I would recommend replacing any rhs `foo` with `foo.func(*foo.args) if foo.args else foo` so other unevaluated things that may be lurking will not become evaluated.

[2018-10-01 03:49] #15301 closed

[2018-10-01 03:59] smichr commented on #15307
#15312 has a similar issue and the fix is to watch out for no-arg eqs. The following diff passes the tests that failed above:
[code]

[2018-10-01 04:02] smichr commented on #15307
(The order of the variables in the dict result don't matter.)

[2018-10-01 08:00] FrackeR011 commented on #15129
hi @retsyo  i would like to work on this if it is not assigned . I will need some help and guidance though .

[2018-10-01 10:05] ayushmankoul commented on #15307
Thank You @smichr for guiding me on this issue. I have made the necessary changes as asked by you and raised a PR for it. Please have a look and do let me know if anything else is required to fix this issue.

[2018-10-01 14:38] valglad commented on #15129
@FrackeR011, it looks like @llucifer97 (2 posts above yours) has already expressed an interest. You should ask them if they are still working on it

[2018-10-01 17:28] ayushmankoul commented on #15312
Hello, @cbm755 I am trying to replicate this issue on my local machine, can you please share your full code so that I am able to understand it. Also, I tried to replicate your given minimal example it shows `Type Error:'Equality' object is not iterable`.
The solution which @smichr has recommended is it like the following changes in :-

[code]

[2018-10-01 21:27] #2815 closed

[2018-10-01 21:27] #6952 closed

[2018-10-02 00:27] cbm755 commented on #15312
Probably you are not running git master

[2018-10-02 04:29] FrackeR011 commented on #15129
@llucifer97 are you working on this issue

[2018-10-02 06:20] smichr opened #15319 "rewrite accepts hints but doesn't pass them along in all cases"
The signature of rewrite is `def _eval_rewrite(self, pattern, rule, **hints):` but those hints are not passed along as `getattr(self, rule)(*args, **hints)` -- the `**hints` is left off. Not surprisingly, most defined `_eval_rewrite_foo` methods don't accept the hints. But some of physics do, e.g. `def _eval_rewrite_as_Jx(self, *args, **options)` in spin.py. It seems that all rewrite methods shoul

[2018-10-02 07:28] Upabjojr commented on #11568
We now have .expr_free_symbols . It behaves like free symbols but stops the revision as long as the arguments aren't Expr anymore.

[2018-10-02 10:31] #15285 closed

[2018-10-02 12:37] #15307 closed

[2018-10-02 12:52] smichr commented on #12710
#15272 has comments about what was done to fix up Matrix docstrings and might be a good reference to consult when writing the wiki page.

[2018-10-02 14:23] Akuli opened #15323 "limit of the derivative of (1-1/x)^x as x --> 1+ gives wrong answer"
[code]

the answer should be 1, not 0

[2018-10-02 15:30] gitlyap opened #15325 "sympy solve"
Hi,

after the sympy version 1.1.1 (with python 3.7) there is a `RecursionError` when solving a equation (see minimal example): "RecursionError: maximum recursion depth exceeded while calling a Python object"
With version 1.1.1 the error does not occur.
minimal example:
[code]

[2018-10-02 16:12] sidhantnagpal commented on #15325
Bisected it to the commit https://github.com/sympy/sympy/commit/91cc3d5f6523385091a03ab4ae5deff68019389e from #14712. (CC @smichr)
Prior to it:
[code]

[2018-10-02 16:36] smichr commented on #15325
minimal example:
[code]

[2018-10-02 17:10] smichr commented on #15325
ping @sidhantnagpal (see #15317)

[2018-10-02 17:12] smichr commented on #15325
Trying to solve for the `n` causes the recursion but with #15317 it doesn't...and then the previous solution can be returned:

[code]

[2018-10-02 17:27] sidhantnagpal commented on #15325
Commit https://github.com/sympy/sympy/pull/15317/commits/0c25eec3b9f2e342e25c353d5913b0059b5e726f looks good.

[2018-10-02 18:23] moorepants opened #15327 "Add example plot outputs to the Sphinx documentation"
We enabled the [matplotlib plot directive](https://matplotlib.org/devel/plot_directive.html) in #15310. This allows us to display plot results in the documentation in a number of ways. The first example is at: https://docs.sympy.org/dev/modules/physics/continuum_mechanics/beam_problems.html with the source here: https://github.com/sympy/sympy/blob/master/doc/src/modules/physics/continuum_mechanics

[2018-10-02 18:34] moorepants opened #15328 "Change Beam.plot_loading_results() to use the SymPy plotting module"
`Beam.plot_loading_results()` currently uses matplotlib directly because the desired plot is a subplot. This means the plots don't look as nice and the defaults used in `sympy.plot()`. We should be able to make subplots using `sympy.plot()` but it currently is not supported. One fix is to add subplot support or use a hack in the Beam code, for example: https://stackoverflow.com/a/15834752/467314

[2018-10-02 20:33] warnerjon12 commented on #14643
The source of the hanging is that the simplifier attempts to put the expression in minimal sum-of-product (DNF) or product-of-sum (CNF) form, and it does this using a truth table. Constructing a truth table for a function of n variables requires O(2^n) time. Hence it should only be used for shorter expressions, and larger expressions should not be simplified quite as much. I will make some changes

[2018-10-02 20:47] warnerjon12 commented on #14643
Scrap that, converting to DNF or CNF form can generally require O(2^n) time for an arbitrary expression. What we need is a check to see if the expression already is in DNF or CNF form.

[2018-10-03 00:06] #5023 closed

[2018-10-03 00:06] #15312 closed

[2018-10-03 00:06] #15319 closed

[2018-10-03 00:06] #15325 closed

[2018-10-03 01:20] moorepants opened #15331 "Create SVG images to replace beam ascii art"
See: https://docs.sympy.org/dev/modules/physics/continuum_mechanics/beam_problems.html

It would be nicer if each beam ascii diagram was replaced with a nicer looking SVG diagram. Example diagrams can be found in solid mechanics textbooks.

[2018-10-03 02:31] iamprayush commented on #15327
I'd love to be able to help with this. Would this be a good starting point for a first-timer?

[2018-10-03 03:40] asmeurer commented on #15327
How much boilerplate is it. Can we do it for the examples in the docstrings?

[2018-10-03 03:51] moorepants commented on #15327
They should be easy to convert. You just need:
[code]

[2018-10-03 03:55] moorepants commented on #15327
@iamprayush You can start by transforming the plot docstrings to the matplotlib directive format, see this file: https://github.com/sympy/sympy/blob/master/sympy/plotting/plot.py#L1256

[2018-10-03 07:52] aionkgp commented on #15328
I am a beginner here and I would really like to work on this one. would this be okay for a beginner to work on this bug?

[2018-10-03 08:11] #8617 closed

[2018-10-03 11:56] #15293 closed

[2018-10-03 12:53] #15263 closed

[2018-10-03 13:31] moorepants commented on #15328
Yep, go for it.

[2018-10-03 13:34] moorepants commented on #15327
I do not see any plots in the pdf you linked.

[2018-10-03 14:39] ayushmankoul commented on #15331
Hello, @moorepants I have converted each Ascii diagram to SVG diagram using online Svgbob Editor and saved them on my local machine.  Please let me know how can I update them in the given documentation?

[2018-10-03 14:39] iamprayush commented on #15327
Should I insert the plot outputs for all examples in https://docs.sympy.org/dev/modules/plotting.html , like the one below is for **append(_arg_)**:
`

Plot object containing:
[0]: cartesian line: x**2 for x over (-10.0, 10.0)
[1]: cartesian line: x for x over (-10.0, 10.0)
`

![append](https://user-images.githubusercontent.com/35144226/46417804-0fb6a180-c748-11e8-8a80-8dc223f20f30.png)

[2018-10-03 15:06] hetp111 commented on #15323
0^1 is not indeterminate form
y=(1-(1/x))^x
y=(1-1)^1
y=(0)^1
y=0

[2018-10-03 15:27] moorepants commented on #15327
You can submit plots for one or more. The more you add the better the documentation gets.

[2018-10-03 15:44] ayushmankoul commented on #15331
The following SVG picture is the corresponding SVG form of first ASCII diagram in example1. Please have a look.

![svg sample](https://user-images.githubusercontent.com/22992482/46422055-21e90d80-c751-11e8-873d-45f0cf6326e7.PNG)

[2018-10-03 15:50] moorepants commented on #15331
Super neat tool. I tried it out.

For this first one the arrows need to be sharper and actually connect to the beam. The beam should be more slender, so the ratio of the beam thickness to length is more appropriate.

I think you can convert using SVG bob and then open in inkscape to tweak them.

[2018-10-03 15:51] iamprayush commented on #15327
Ok, I'll try and document as many plots as possible. Should I update the plotting doc and then create a PR? And is this formatting appropriate?
 I'm sorry if I've been pestering you with such trivial questions, I'm just really excited to help in any way that I can!

[2018-10-03 15:52] moorepants commented on #15327
I suggest submitting a PR for one new figure to start. We will give you feedback there. Once you make it through the first PR you can add as many figures as you want in the next PR.

[2018-10-03 16:13] iamprayush commented on #15327
Ok, ill do that.

[2018-10-03 18:19] FrackeR011 commented on #15178
hi @isuruf i would like to work on this if it is still unassigned .
i think in solve member function of matrix i have to check the condition of b having only one column . If condition is true calculate inverse using Gauss - Jordan elimination .

[2018-10-03 21:16] asmeurer commented on #15331
All the examples at https://ivanceras.github.io/svgbob-editor/ use normal arrows. It's probably possible to fix this in svgbob.

[2018-10-04 00:50] aionkgp commented on #15328
I am bit confused here, @moorepants, are you suggesting that all the graph should come in one figure, instead of any subplots by the using `plot1.append(plot2)` or `plot1.extend(plot2)`?
If that is the case please notice that the range of `slope` and `deflection` is quite small compared to other parameters, hence the plot of `slope` and `deflection` can't be distinguished from `x-axis`
![figure_1]

[2018-10-04 01:31] moorepants commented on #15331
Looks nice. The curved arrow for the moment is missing now though.

[2018-10-04 02:35] zachetienne opened #15335 "create_expand_pow_optimization() is not robust"
Using SymPy 1.3:

[code]

Output is:
[code]

Notice that it failed to optimize `-a**2` and more disturbingly `a**(-5)` was evaluated to `1`.

[2018-10-04 02:54] moorepants commented on #15331
Thinking about this some. Maybe we should make the ASCII the source and use the svgbob tool in our doc build process to create html. This way the figures show up in the terminal and in the online docs.

The other option is use svgbob one time for each figure, then open in inkscape to tweak, and then commit the SVG files. Would we erase the ascii? Or somehow keep it around?

[2018-10-04 02:59] moorepants commented on #15328
The figure should contain subplots, just like it already does, but it should make use of sympy.plot() so that we get the adaptive sampling and other niceties built into sympy.plot().

[2018-10-04 03:27] asmeurer commented on #15331
How hard is it to install svgbob?

Also how configurable is it? Is it reasonable to do the whole figure automatically, even with things like the curved arrow.

[2018-10-04 03:28] asmeurer commented on #15335
CC @bjodah

[2018-10-04 03:28] moorepants commented on #15331
svgbob seems somewhat new and the spec is still being developed, but there is a spec. So theoretically you could use ASCII as a reliable source for these.

[2018-10-04 03:55] zachetienne commented on #15335
Replacing

[code]

with
[code]
in line 224 of sympy/codegen/rewriting.py

fixes the most egregious problem -- i.e., `a**(-5) = 1`. I'm still confused as to why multiplying by `-1` results in the optimization not being performed.

[2018-10-04 05:29] asmeurer commented on #15335
Looks like `replace` (via `xreplace`) doesn't respect unevaluated Muls. The issue is basically:

[code]

because

[code]

I don't know how easy it is to fix. Unevaluated expressions are a bit fragile. It probably would be smarter to create a custom unevaluated Mul object for the code generator and replace it with that instead.

[2018-10-04 05:38] asmeurer opened #15336 "autowrap doesn't handle CodeBlock"
Reported from the mailing list. autowrap handles CodeBlock naively:

[code]

[code]

I think probably `Assignment(x, Codeblock)` should learn to assign the last expression in the CodeBlock (or error if it isn't an assignable expression), and autowrap should use that.

See also https://github.com/sympy/sympy/issues/10194.

@bjodah what do you think?

[2018-10-04 06:43] bjodah commented on #15335
Thank you for reporting this @zachetienne, would you mind opening a PR with your suggested fix, so that we at least aren't returning incorrect results?

[2018-10-04 06:49] bjodah commented on #15336
Wasn't there a long time plan to allow for automatic reordering of expressions within a codeblock (or am I misremembering)? In that case relying on an expressions coming last could be troublesome.

Teaching autowrap about the `.codegen.ast` nodes should be fine since there shouldn't be any backward compatibility issues. But the autowrap code is treacherous so I wouldn't know beforehand how complic

[2018-10-04 09:41] nathanielvirgo commented on #10274
Just a note: the commits mentioned above do not actually fix the serious issue here, which is that the 'helpers' argument only works with a single helper function, not a list as it's supposed to.

It is a very easy fix, basically just deleting line 599 from sympy/utilities/autowrap.py , or fixing it so that it doesn't put the variable inside a list if it's a list already.

    helpers = [helpers]

[2018-10-04 09:51] nathanielvirgo commented on #10274
These changes didn't fix the helper arg - in fact they broke it! It's supposed to take a list of tuples rather than a single tuple, and the subsequent code then iterates over that list. Adding the following line makes it more convenient if you have only a single helper function (you don't have to put it inside a list), but it makes it impossible to use more than one!

    helpers = [helpers] if he

[2018-10-04 09:58] nathanielvirgo opened #15337 "Multiple helpers in autowrap"
The `autowrap` function only supports a single helper function. However, from the documentation and source code, it is clearly designed to support a list of helper functions as well.

The problem seems to be the line

    helpers = [helpers] if helpers else ()

which was added in response to issue #10274. This makes it possible to supply a single helper without putting it inside the list, but if t

[2018-10-04 12:32] zachetienne commented on #15335
I'm sorry, I have no idea how to submit a pull request. When I attempted the instructions, I was met with the error message:

remote: Permission to sympy/sympy.git denied to zachetienne.

[2018-10-04 12:33] zachetienne commented on #15335
I clicked the wrong button and closed the ticket. How to reopen?

[2018-10-04 12:39] zachetienne commented on #15335
Whoops, clicked the wrong button and closed the ticket. Reopening.

[2018-10-04 12:40] zachetienne commented on #15335
@bjodah : Sorry I have no experience in opening PRs. The patch is a one-liner above.

[2018-10-04 12:47] Bavish2201 commented on #15337
Hello, I would like to work on this issue. As I'm a beginner, would you please help me with this?
According to what I understood, I should change the above mentioned code to
[code]
Did I miss anything?

[2018-10-04 12:55] zachetienne commented on #15335
Here is the pull request: https://github.com/sympy/sympy/pull/15338

[2018-10-04 14:13] moorepants commented on #15337
@Bavish2201 You have the right idea. Make sure to write a unit test for the various possible helper inputs.

[2018-10-04 14:29] nathanielvirgo commented on #15337
I am not an expert either, but I would rather say `if type(helpers) is not tuple`, since someone might want to pass in some other iterable instead of a list.

[2018-10-04 14:39] Bavish2201 commented on #15337
Would this be better: `if not hasattr(helpers, '__iter__')`

[2018-10-04 14:46] moorepants commented on #15337
@Bavish2201 I recommend writing the improved unit tests for autowrap first, then work on the solution.

[2018-10-04 16:47] tBuLi commented on #14911
The problem has been solved: it is because at some point also `printmethod = _numpycode` is required,  and since the model above doesn't have one it causes the error.

So although the Exception is not for helpful debugging, it is not really a problem with the printer code after all. So I guess this issue can be closed.

[2018-10-04 17:10] trenoduro opened #15339 "Global variable substitution"
Can something like **redefine()** be implemented?

[code]
Output:
[code]

[2018-10-04 17:38] warnerjon12 commented on #15339
Assuming that symbols are stored as references (which I believe they are), this would be equivalent to assigning all properties of x to properties from the symbol foo. But then your variable in Python would have a different name than in SymPy and that could get confusing. It would make more sense to use expr1.subs(x, symbols("foo")) to change the expression accordingly.

[2018-10-04 18:16] warnerjon12 commented on #15296
SymPy is a tool, and like all tools, it can only be used well if you know the best way to use it. In your example, it is easy to see how SymPy might solve it, but in the general case it is hard to program intuition. As such, it is up to you as the user to determine how best to express your problem so that SymPy will work the fastest. In this case, I can get the exact answers in under 3 seconds usi

[2018-10-04 18:40] warnerjon12 opened #15343 "Basic Expression Timeouts and Structure Rethink"
I have seen now several issues posted where SymPy failed to solve seemingly basic problems in a reasonable amount of time. I recognize that part of the problem is that it is difficult to generalize the concepts applied in these special cases, however, I think that another part of the problem is how we are representing code objects. Currently, expressions are represented by some operator applied re

[2018-10-04 19:03] asmeurer commented on #15336
My thinking is that a CodeBlock can be thought of as an expression, where it evaluates to the last item in the block (assuming that item is an expression).  This is like an IPython/Jupyter cell where the last element in the cell is what the cell "evaluates to".

In general, actually using this as an expression will require rewriting, but it could be a useful way to abstract that rewriting to whate

[2018-10-04 19:35] RishobGuhaPatra commented on #9313
I want to take up this issue. Please guide me what to do! @cbm755

[2018-10-04 19:36] RishobGuhaPatra commented on #10132
I want to take up this issue. Please guide me how to do it! @asmeurer

[2018-10-04 19:43] aionkgp commented on #15328
I am really having a hard time here on using `_backend`, is there anything I could take reference of? I can't find any documentation on using `_backend`.

[2018-10-04 19:43] RishobGuhaPatra commented on #15283
Hey, I would love to help with this issue! Please guide me to what needs to be done!

[2018-10-04 19:46] moorepants commented on #15328
I am not familiar with the sympy.plotting module. You can use git blame to find out who last worked on code in specific files. Then you can ask them.

[2018-10-04 19:46] alatiki commented on #15186
hey , id like to solve this issue

[2018-10-04 19:47] moorepants commented on #10132
You should probably start by trying to create custom SymPy objects. You'll hit pitfalls and can then write what you learn about getting out of them.

[2018-10-04 21:42] ajdunlap opened #15344 "mathematica_code gives wrong output with Max"
If I run the code

[code]

then I would expect the output `'Max[x,2]'` which is valid Mathematica code but instead I get `'Max(2, x)'` which is not valid Mathematica code.

[2018-10-04 23:11] trenoduro commented on #15339
Sadly using subs() when you have a lot of expressions and a lot of variables in inconvenient..

[2018-10-05 03:58] asmeurer commented on #15344
`max` (lowercase `m`) is the Python builtin which tries to compare the items directly and give a result. Since `x` and `2` cannot be compared, you get an error. `Max` is the SymPy version that can return unevaluated results.

[2018-10-05 06:04] ajdunlap commented on #15344
I tried to fix it by modifying the mathematica printer; see above pull request. I am also new to the codebase though.

[2018-10-05 10:31] jashan498 commented on #15328
@aionkgp we are not passing a `sympy.plot` object to `axs[x].plot` there. They are just numpy arrays containing `x` and `y` values for the subplot.
`lambdify` is simply required to convert SymPy method to numpy function (as we are directly using matplotlib here).

[2018-10-05 18:51] asmeurer commented on #15337
A better check would be `if callable(helpers): helpers = [helpers]`.

[2018-10-05 20:45] iamprayush commented on #15327
I've opened a new pull request. I've run the scripts on my local machine and the output looks fine. If this is satisfactory, I can start adding more examples.

[2018-10-05 21:43] j-m-t opened #15348 "C functions generated by autowrap are not compatible with SciPy optimization packages"
I would like to solve a system of nonlinear equations using SciPy's `fsolve` wrapper with a function generated by SymPy's `autowrap` module, using the Cython backend. Unfortunately, I am coming across problems with creating a C function that takes the `x0` argument as a one-dimensional array, as required by `fsolve`. This is possible using SymPy's `lambdify` module.  Before I get into those detail

[2018-10-05 23:10] bjodah commented on #15335
So #15338 fixed the incorrect result. Next step would probably make e.g. `x**-4` print as `1.0/(x*x*x*x)`

[2018-10-06 00:31] moorepants commented on #15348
I suggest that you wrap the function generated with something that reshapes the arrays.

[code]

Also you may want to use ufuncity instead of autowrap because it creates humpy ufuncs by default which follow all numpy broadcasting rules.

[2018-10-06 06:52] amsuhane commented on #14920
@siefkenj is the issue still open?  I would like to work on the issue.

[2018-10-06 06:59] leosartaj commented on #15339
@trenoduro You can use a dictionary as an argument for subs. Something Like

[code]

I don't feel ``redefine`` is a good way to go. SymPy expressions are in general immutable. Something like ``redefine`` can cause potential confusion since it will mutate already created expressions.

[2018-10-06 12:54] smichr commented on #15296
Were you wanting all roots or a simple inversion?
[code]

[2018-10-06 15:17] j-m-t commented on #15348
Thanks @bjodah and @moorepants for your prompt responses.

@moorepants, I followed your suggestion and was able to pass the `autowrap` function to `fsolve` with a slightly modified wrapper function:

[code]
The reshape commands were necessary, since `fsolve` wants both the input and output in one-dimensional arrays.  It isn't the prettiest solution, I'll admit, but it works, and it has given a rou

[2018-10-06 15:17] #15348 closed

[2018-10-06 15:55] aionkgp commented on #15328
@Krastanov  , I am having trouble using the `backend` to use sympy plots to plot multiple objects in same file. So I took the reference from [Stack overflow : Sympy: generate figure with multiple subplots](https://stackoverflow.com/a/15834752/467314)
So hee is what I was trying :
I haven't taken multiple objects here, just for the simplicity, here I am trying to plot single sympy plot as a single

[2018-10-06 16:55] moorepants commented on #15348
Note that we probably won't design autowrap or similar functions to generate code tailored for specific scipy functions (or other packages) due to lack of consistency and standards on IO to various functions. But we could provide some options in autowrap so that the IO of the functions are set by the user when calling autowrap, as @bjodah suggests.

[2018-10-07 00:42] moorepants commented on #15327
You need separate `plot` directives for each block of code. See the beam examples for how i did it there.

[2018-10-07 01:26] JMSS-Unknown opened #15350 "Solveset throws TypeError with sqrt in denominator"
I was trying to solve
`solveset(diff(sqrt(1/x+x)))`
but it returned
`TypeError: 'NoneType' object is not iterable.`
Reducing the problem, it seems to occur if there is a sqrt in the denominator.
`solveset(1/sqrt(x))`
`TypeError: 'NoneType' object is not iterable`
I tested this with Sympy version 1.3 and 1.4.dev and the issue occured in both versions.

[2018-10-07 01:47] JMSS-Unknown opened #15351 "Solveset throws PolificationError when x cancels out"
Trying to solve
`solveset((2*x-2)/(1+x)-(2*x)/(2+x))`
gives
`sympy.polys.polyerrors.PolificationFailed: can't construct a polynomial from -2*x*(x + 1) + 2*(x - 1)*(x + 2)`.
The actual equation should have no solutions.

I haven't yet looked into how that function works but I suspect that the issues has something to do with the fact that
`>>> expand(-2*x*(x + 1) + 2*(x - 1)*(x + 2))`
`-4`
and tryin

[2018-10-07 02:04] JMSS-Unknown opened #15352 "Solveset does not find solution when using Eq with stats"
`solveset(Eq(sympy.stats.P(sympy.stats.Normal(Dummy(),0,1)>0.2),Symbol("x")))`
The solution should just be `sympy.stats.P(sympy.stats.Normal(sympy.Dummy(),0,1)>0.2)`
which is
`{-erf(0.1*sqrt(2))/2 + erf(inf*sqrt(2))/2}`
but the actual output is
`EmptySet()`

When the above is rewritten without Eq
`>>> solveset(sympy.stats.P(sympy.stats.Normal(Dummy(),0,1)>0.2)-Symbol("x"))`
`{-erf(0.1*sqrt(2))/2 +

[2018-10-07 02:16] JMSS-Unknown opened #15353 "Latex of ConditionSet gives 'FiniteSet' object has no attribute 'as_expr'"
Solving
`sol = nonlinsolve([(sin(a*x)),cos(a*x)],[x,a])`
gives
`ConditionSet((x, a), {sin(a*x), cos(a*x)}, Complexes(Reals x Reals, False))`
calling
`latex(sol)`
outputs
`AttributeError: 'FiniteSet' object has no attribute 'as_expr'`
with both versions 1.3 and 1.4.dev

[2018-10-07 04:59] iamprayush commented on #15327
I implemented the separate plot directives just like you did in the beam examples, like so:
`
Examples
    ========

    .. plot::
       :format: doctest
       :include-source: True

    Single Plot

    .. plot::
       :format: doctest
       :include-source: True

       Plot object containing:
       [0]: cartesian line: x**2 for x over (-5.0, 5.0)

    .. plot::
       :format: doctest

[2018-10-07 05:32] llucifer97 commented on #15351
hi @JMSS-Unknown  I am taking up this issue.

[2018-10-07 07:52] nathanielvirgo commented on #15337
@asmeurer that won't work - the helpers are supplied as tuples, not callables. So I guess it has to wrap it in a list if the argument is a tuple, but not if it's any other kind of iterable. (Or possibly it would be better to just change it back to using iterables of tuples and change the unit tests to reflect that.)

[2018-10-07 10:33] moorepants commented on #15327
you aren't using `:context:` anywhere. read the matplotlib directive documentation about this

[2018-10-07 10:54] #15193 closed

[2018-10-07 10:56] #15129 closed

[2018-10-07 11:43] #14129 closed

[2018-10-07 13:14] iamprayush commented on #15327
Does this look good? If so, I can do this for all other plots and then start a pr:
[plots.pdf](https://github.com/sympy/sympy/files/2453926/plots.pdf)

And, might I suggest to change the example for the extend method which outputs a similar plot to append and makes it kinda difficult to visualize the difference between the two methods.

[2018-10-07 13:45] moorepants commented on #15327
Yes, maybe use extend to add two new plots at one time.

[2018-10-07 13:54] ayushmankoul commented on #15331
@moorepants Should we go with changing each figure one time or we can try for installing the svgbob tool in our doc?

[2018-10-07 14:53] fuomag9 commented on #15350
1/sqrt(x)=0 has no solutions (https://www.wolframalpha.com/input/?i=1%2Fsqrt(x)%3D0)
if you want to differentiate sqrt(1/x+x) you don't need to use sympy.solveset() but sympy.diff()
[code]

[2018-10-07 15:31] lvenuto opened #15355 "Cannot find roots of big polynomial equation"
I'm trying to use the Sympy _solveset_ to find only Integer solutions of a big polynomial like I'm doing in Sagemath
[code]
Result is
```EmptySet()```

But with Sagemath I get:

```[(37598862050464270193369012399545432, 1)]```

How do I get a similar behaviour as Sagemath ```roots()``` method? With simpler polynomials Sympy works just fine.

[2018-10-07 16:33] aionkgp commented on #15331
as for the curved arrow problem, we can create something like this if it's acceptable

![bob](https://user-images.githubusercontent.com/43279204/46584077-b074cc00-ca7c-11e8-83c9-535126852134.png)

[2018-10-07 17:57] smichr commented on #15350
The TyperError is a problem, nonetheless, caused because sovleset is not expecting `unrad` to return None.

[2018-10-07 17:58] #15339 closed

[2018-10-07 21:52] normalhuman opened #15358 "GCD of Gaussian integers"
[code]
But `2+I` would be correct here, since `5 = (2+I)*(2-I)`.

Aside: the gaussian flag works for monic polynomials as expected.
[code]

From [Stack Overflow](https://stackoverflow.com/questions/52692068/find-the-greatest-common-divisor-gcd-in-gaussian-integers-with-sympy).

[2018-10-07 21:56] JMSS-Unknown commented on #15350
@fuomag9 Yes, 1/sqrt(x) has no solutions, but diff(sqrt(1/x+x))=0 has solutions x=-1 and x=1 (see https://www.wolframalpha.com/input/?i=D(sqrt(1%2Fx%2Bx),x)%3D0), but does not find it due to the sqrt in the denominator raising an exception.

[2018-10-08 00:01] asmeurer opened #15359 "Only install isympy with setuptools on Windows"
In https://github.com/sympy/sympy/pull/13193 we install isympy with setuptools if setuptools is installed, so that it can work on Windows. But we should perhaps be more conservative and only do so on Windows, so that we don't runtime depend on pkg_resources (c.f. https://github.com/conda-forge/sympy-feedstock/pull/13#discussion_r223233385).

[2018-10-08 07:07] nathanielvirgo opened #15360 "Functions don't respond to name"
Symbols have a 'name' attribute, but functions don't:

[code]

From reading the source code of the printing system, I discovered that I can get the name of a function using `f.__name__`, but this is rather unexpected from a user point of view, and it would be helpful if either this could be documented, or if functions would respond to `.name` instead.

[2018-10-08 08:05] sylee957 opened #15361 "RuntimeWarning encountered while building sphinx docs"
While running `make html` from doc,
[code]

I think it may be related to the recent plotting doc implementations in #15310 and #15347

[2018-10-08 11:32] Yathartha22 commented on #15352
It seems the problem is because of the [trimming condition](https://github.com/sympy/sympy/blob/65be583547a8ff73e00db2ec71d5cab31943be2c/sympy/solvers/solveset.py#L915) placed within `_solveset` after [`2793397`](https://github.com/sympy/sympy/pull/14253/commits/2793397f5942b761abb70ab385f01c7c8b2d9050) was made.
I guess all the modifications to the equation must be done before sending it to `_sol

[2018-10-08 12:15] jksuom commented on #15358
`gaussian=True` has been designed as an alias of `domain=QQ(I)`, which is a field. Hence 1 could be the expected result of `gcd(5, 2+I, gaussian=True)`. Another keyword would probably be needed for those finite extensions of `ZZ` where `gcd` can be implemented.

[2018-10-08 15:17] Krastanov commented on #15328
Hello, @aionkgp, @moorepants,

It has been more than 4 years since I wrote the module or have contributed significantly, so take my comments with a grain of salt.

I would suggest extending the plotting module to support sub plots instead of abusing the `_backend.fig` object. The `_backend.fig` object seems great for one-off changes, especially when using more esoteric `matplotlib` commands, but i

[2018-10-08 15:30] Krastanov commented on #15328
P.S. Pretty much the one thing that needs to change is on this line https://github.com/sympy/sympy/blob/master/sympy/plotting/plot.py#L908

Turn it into `for s, ax in zip(self.parent._series, self.parent._axes):` and make the according changes in the rest of the code.

[2018-10-08 15:55] GDelimpa opened #15362 "Matrix exponential cannot be simplified"
I have a sympy Matrix of a specific form, e.g..:
`A = sympy.Matrix([[0,1,0,0],[0,0,1,0],[10,20,30,1],[0,0,0,0]])`
I want to compute the matrix-time exponential of it, i.e. exp(A*t), where t is a sympy symbol:
`t = sympy.symbols('t')
At = sympy.exp(A*t)`
The problem is that I get a 4x4 matrix, of which each element is an expression with some capital 'I's in it. I guess that those are identity matri

[2018-10-08 16:31] #15362 closed

[2018-10-08 16:42] moorepants commented on #15331
If you want to give a shot at setting up svgbob, go for it. I think it will be more work to get that set up though. If you don't, then I recommend converting 1 time, clean up in inkscape, and then dropping the ASCII entirely. Most of the diagrams are in the sphinx docs only, so that's ok.

[2018-10-08 16:43] moorepants commented on #15331
That kind of arrow implies a twist on the beam to me. A point moment about z should be a small circular arrow. Please see examples in mechanics text books.

[2018-10-08 16:44] moorepants commented on #15328
Note that I'm ok with the "hack" in the beam code for now as quick solution. But feel free to solve it properly as @Krastanov suggests. That would be very nice if implemented.

[2018-10-08 18:37] asmeurer commented on #15331
It may be possible to get the ⭯ character in the figure. In the above examples, it shows up as a tofu symbol, but it would show up correctly if svgbob could be configured to pull it in from the appropriate font.

[2018-10-09 09:15] neeraj1909 opened #15363 "Contribution in polys/domains/domain.py"
There are many methods in class Domain which are still in the phase of NotImplementedError.
I want to contribute in some not implemented methods.
![not_implemented_error](https://user-images.githubusercontent.com/20766288/46659142-fe4f1880-cbd1-11e8-8546-e442cb16e1ea.png)

[2018-10-09 10:42] neeraj1909 commented on #15363
Does there anything still to implemented in SymPy.

I am an undergraduate student and have one contribution in open-source.
I want to contribute in SymPy.

On Tue, Oct 9, 2018 at 3:54 PM Kalevi Suominen <notifications@github.com>
wrote:

[2018-10-09 10:56] jksuom commented on #15363
There is no shortage of not-yet-implemented features in SymPy. Many of those can be found by running `git grep TODO` in SymPy's root directory (git version). More can be found in open issues.

[2018-10-09 11:06] neeraj1909 commented on #15363
I found many features which are yet to be implemented.
I have learnt how to contribute in open-source.
Looking forward for GSOC 2019

On Tue, Oct 9, 2018 at 4:26 PM Kalevi Suominen <notifications@github.com>
wrote:

[2018-10-09 15:36] asmeurer commented on #15343
I'm not sure I completely follow your suggestion. The problem with #15282 *is* that the numerator and denominator are being converted to polynomials, which requires expanding `(x + 1)**2000` and storing all 2000 terms. If the limit heuristics were smarter it could compute the limit with the expression as it is entered, without converting it to a polynomial, and do it instantly.

Anyway, working of

[2018-10-09 15:52] FrackeR011 commented on #15214
i am not able to find PyDy license ? do you mean including this [citation](http://proceedings.asmedigitalcollection.asme.org/proceeding.aspx?articleid=1830918) ?

[2018-10-09 16:20] FrackeR011 commented on #15337
@Bavish2201 are you still working on this

[2018-10-09 16:38] asmeurer commented on #15358
`gcd` already special-cases constant polynomials, performing integer gcd (or even generalizations for non-integers). Is there any reason to not do the same for gaussian integers/rationals?

[2018-10-09 16:51] asmeurer commented on #15337
There is an `iterable` function in the sympy.core.compatibility module you can use to check if something is iterable.

[2018-10-09 16:58] Bavish2201 commented on #15337
@asmeurer  When `helpers` is just one `tuple`, we need to do `helpers = [helpers]`, but if `helpers` is a list of tuples, then we shouldn't do this. But `iterable(helpers)` will be `true` in both the cases. How to identify when `helpers` is just one tuple or a tuple/list of tuples? Please help.

[2018-10-09 17:28] smichr commented on #15240
cf #14324

[2018-10-09 17:28] #15240 closed

[2018-10-09 17:34] moorepants commented on #15214
https://github.com/pydy/pydy/blob/master/LICENSE.txt

[2018-10-09 17:36] jksuom commented on #15358
That could probably be done (though I think that special-casing integers is confusing). The class of Gaussian integers/rationals should be constructed, [this comment](https://github.com/sympy/sympy/blob/master/sympy/polys/constructor.py#L22) should be effected and gcd implemented.

[2018-10-09 17:57] normalhuman commented on #15358
Understood as working over QQ(I), one may expect 1, but then there is also this:
[code]

[2018-10-09 18:11] asmeurer commented on #15337
I see. I don't see why the original change was needed in the first place.

[2018-10-09 21:51] #14911 closed

[2018-10-10 00:40] siefkenj commented on #14920
@amsuhane as far as I know, yes.

[2018-10-10 03:53] nathanielvirgo commented on #15337
I think the original change was made because the documentation was unclear. The OP of #10274 was trying to call autowrap with `helpers=('helper',x-y+z, (x,z,y))` when they should have been doing `helpers=[('helper',x-y+z, (x,z,y))]`, which I am guessing would have worked.

In response (changes #10274) a unit test was added to support the `helpers=('helper',x-y+z, (x,z,y))` syntax and the code was

[2018-10-10 10:36] aionkgp commented on #15331
I can't find the fonts which have that curved arrow or any way to draw that curved arrow.
But I guess, this should do it...
Again if we could find the exact curved arrow that would be the best.
![final](https://user-images.githubusercontent.com/43279204/46730582-2ad46480-cca6-11e8-8e46-54a3434f4787.png)

[2018-10-10 14:43] moorepants opened #15370 "Convert all docstrings to the numpydoc format"
Our docstrings do not use a consistent format. Most scientific Python packages use the numpydoc format (which sphinx supports with either the napoleon or numpydoc extensions). A fair amount of SymPy documentation does use this format and there is no other obvious common format present. There is discussion on this topic in #12710, #5987, and #4008.

This issue can be a meta issue listing all files

[2018-10-10 18:14] asmeurer commented on #15337
I agree the original change was not necessary. I'm not sure if we should just change back or try to support both.

CC @tokencolour @megh1241 would changing this back break your code?

[2018-10-10 20:41] asmeurer opened #15374 "Matplotlib tests failing in Travis (AttributeError: 'NoneType' object has no attribute 'pyplot')"
It's only in the 3.6 optional dependency build. It just started happening so it's probably related to some upstream change. Example https://travis-ci.org/sympy/sympy/jobs/439723277

[code]

[2018-10-10 20:45] asmeurer commented on #15374
matplotlib being None means the import failed. I'm not sure why this didn't just result in the doctest being skipped.

[2018-10-10 21:04] asmeurer commented on #15370
One thing that annoys me about NumPy Doc (and which we've currently [got patched in our version](https://github.com/sympy/sympy/commit/dc751a87b131ad53de0970ccedf366eba59d74b3#diff-8d68c80fca3c9baace6067cf224540a7)) is that it forces the section headers to be one of the predefined types, so you can't write your own custom header names (for example, https://github.com/sympy/sympy/blob/fd0e200ab363e

[2018-10-10 21:17] moorepants commented on #15370
Doesn't seem like it (https://sphinxcontrib-napoleon.readthedocs.io/en/latest/index.html see list of supported headers). Maybe that should be proposed upstream.

[2018-10-10 21:17] moorepants commented on #15370
We could also move "Hints" as a sub heading under "Notes" in your example.

[2018-10-10 21:35] asmeurer commented on #15370
I looked at the code and I don't think it would be hard to implement in Napoleon.

So someone wanting to work on this could:

- Upstream a change to Napoleon to allow arbitrary section headers (I think one just needs to add some kind of configuration flag, and then guard against it in places like [here](https://github.com/sphinx-contrib/napoleon/blob/83bf1963096490dd666f93ef5a9ed1cb229fc3ec/sphinx

[2018-10-10 21:39] asmeurer commented on #15374
I guess it got fixed https://travis-ci.org/sympy/sympy/jobs/439832721. The main difference I see there is that the `python` conda package build number got incremented by 1. I never got the chance to actually figure out what the problem was, but I'm going to close this. If it comes back, let's reopen.

[2018-10-10 21:39] #15374 closed

[2018-10-10 21:49] moorepants commented on #15370
As far as I know, there is no difference in Napolean and Numpydoc. Napoleon just implements numpydoc's standard and is included with sphinx. I didn't not know that we forked numpydoc and made any changes. Note that this issue title should only refer to the numpydoc standard (plus the small sympy change), not that we have to use the actual napoleon implementation. I think we can open another issue

[2018-10-10 21:50] moorepants commented on #15374
I've seen this error before on travis. Not sure where though. Maybe wrt to one of the matplotlib plot directive PRs.

[2018-10-10 21:53] moorepants opened #15375 "Switch from our forked numpydoc sphinx extension to the napoleon extension included with sphinx"
We forked numpydoc as some point and have made modifications, for example we added support for custom section headers. If our changes to numpydoc can be upstreamed to napoleon, we could drop our fork and switch to the maintained official extension. See discussion at https://github.com/sympy/sympy/issues/15370#issuecomment-428731466 for some more information.

[2018-10-10 21:53] moorepants commented on #15370
I opened https://github.com/sympy/sympy/issues/15375 to track the switch away from our fork.

[2018-10-10 21:55] asmeurer commented on #15370
I agree. I actually don't like that we have a fork because there are probably upstream fixes that we don't have. But I don't like not being able to format docstrings in a way that feels to me the most conducive to explaining things even more.

[2018-10-10 22:34] moorepants commented on #15370
I'm fond of just sticking to the standard even though there might be small details that I don't like. Same goes for PEP8.

[2018-10-11 02:42] #13333 closed

[2018-10-11 02:42] #13654 closed

[2018-10-11 11:49] #14324 closed

[2018-10-11 12:37] nathanielvirgo opened #15377 "ccode excessively slow when using user_functions"
The following code takes 28 seconds to run:

[code]

This seems excessively slow. It seems to scale exponentially with the number of times the user function is called, taking around three times longer with each one.

This is a bit of a pain, as I am trying to use this system for code generation. Is there a workaround?

Some observations:
 * This happens only when using a user-defined function in t

[2018-10-11 13:12] nathanielvirgo commented on #15377
I found a workaround for this issue, in case this affects someone else. Instead of using `Function('foo')`, make foo a subclass of sympy.Function that defines the following method:

[code]

Then it works as quickly as a built-in function. It would still be good to have this fixed, though.

[2018-10-11 14:21] moorepants commented on #15377
FYI this runs fast in SymPy 1.1.1 and slow on the master branch.

[2018-10-11 14:28] moorepants commented on #15377
Some information. pyinstrument profile from SymPy 1.1.1:
![selection_006](https://user-images.githubusercontent.com/276007/46811127-fe146180-cd26-11e8-9e8a-447508328a31.png)
and from the master branch:
![selection_007](https://user-images.githubusercontent.com/276007/46811201-21d7a780-cd27-11e8-8cb0-a8cd99b09d0d.png)

[2018-10-11 15:50] moorepants commented on #15377
Git bisect tells us this is the commit that slowed things down:

[code]

Which is from this PR https://github.com/sympy/sympy/pull/13692, FYI @bjodah.

[2018-10-11 16:03] bjodah commented on #15377
Ah, I did not foresee that. I won't have time to address this anytime soon, but we should definitely speed this up by changing the control flow.

[2018-10-11 16:32] asmeurer commented on #15377
I don't fully understand what is happening there. Can this be fixed by reverting that PR and implementing `_print_Mod` instead? Is the problem that the known_functions cannot handle parenthesize natively, because they cannot access `self`?

[2018-10-11 18:12] moorepants commented on #15377
I would vote for creating specific methods for functions if they require any logic. The `known_functions` dict should probably just be for simple text replacements.

[2018-10-11 19:55] moorepants commented on #15377
I proposed a fix in #15379.

[2018-10-12 01:44] asmeurer opened #15380 "Avoid links to docs.sympy.org in the docs"
Noticed at https://github.com/sympy/sympy/pull/15378/files#r224650857. There are several links in the docs to docs.sympy.org. These should be relative links.

We should also add some kind of check to the docs build that there are no links to docs.sympy.org so it is avoided in the future.

[2018-10-12 04:42] TKO-berg commented on #15380
What should be done? I am new to open-source and I couldn't understand the issue .

[2018-10-12 06:02] asmeurer commented on #15380
All the links to `docs.sympy.org` in the `doc/` directory need to be changed to use RST cross references.

[2018-10-12 07:12] mammalwong opened #15381 "Matrix.simplify() returns None"
I am using sympy 1.3.0, I found Matrix.simplify() return None instead of an element-wise simplified matrix. simplify(Matrix) do return the element-wise simplified matrix without problem.

[2018-10-12 13:16] sylee957 commented on #15381
`Matrix` defaults with `MutableDenseMatrix`, and the operations that mutates the matrix element returns `None`.

If you use `ImmutableDenseMatrix` instead,
[code]
you can get the result with the object out,

or you can check out with mutable matrix
[code]

[2018-10-12 14:33] #15377 closed

[2018-10-12 17:43] asmeurer opened #15384 "What should be done with lambdastr?"
As of https://github.com/sympy/sympy/pull/14713, `lambdastr` is no longer used by lambdify, because `lambdastr` generates a string for a lambda and lambdify generates a full Python function.

Currently `lambdastr` isn't used anywhere. However, it might be used by user code. It isn't included in `__init__.py`, but isn't prefixed with an underscore either.

One of the motivations of https://github.c

[2018-10-12 18:04] asmeurer opened #15385 "Add missing things to Azure pipelines"
See https://github.com/sympy/sympy/pull/15297

The following are missing from Azure pipelines

- [ ] PyPy (couldn't figure out how to get it working, waiting for https://github.com/Microsoft/vsts-tasks/issues/8514 which should make it easier)
- [ ] The optional dependency build is currently an allowed failure, and fails due to libgfortran issues. It should (hopefully) start to work once the compil

[2018-10-12 19:46] asmeurer commented on #15385
I just switched to oauth via @sympy-bot. Let's see if it still works.

[2018-10-12 20:10] #14648 closed

[2018-10-12 21:00] moorepants commented on #15384
It has been around quite a long time. It does seem to be out in the wild: https://github.com/search?l=Python&q=sympy+lambdastr&type=Code

[2018-10-13 05:47] smichr opened #15386 "disable replacement of expression in Derivative that introduces new symbols"
An assumption of the Derivative is that if a function is written as `f(x)` then it only depends on x. Replacement of `f(x)` with  `g(x,y)` will lead to inconsistent results depending on when the substitution takes place:
[code]
Perhaps such substitution attempts should raise an error a suggested [here](https://github.com/sympy/sympy/issues/4719#issuecomment-427795376).

[2018-10-13 10:52] tBuLi opened #15387 "Explicit Sum compatibility for tensor.index_methods"
I'd like to make a PR adding explicit `Sum` compatibility to the tensor  module's index_methods `get_contraction_structure` and `get_indices`. I haven't found a discussion about how we would like this to work, so let me start one here. These are my desires for this:

## Backwards Compatibility
Explicit sums over contracted indices should give the same result as the implicit sum. Example:
[code]
Th

[2018-10-13 14:27] sidhantnagpal commented on #15385
If it helps, recently [Travis](https://blog.travis-ci.com/2018-10-11-windows-early-release) also added support for Windows.

[2018-10-13 17:08] asmeurer commented on #15384
They are inspect friendly now.

If we keep it, we should clarify in the docs that it isn't actually used by lambdify anymore.

[2018-10-13 23:18] caley commented on #15384
@asmeurer , thanks for keeping me in the loop.  Regarding lambdastr breaking in the future, currently the work of turning an expression into something that can be eval'd is done by the LambdaPrinter class in the printing module.  If we do start generating non-expression code for functions, I imagine we'd keep LambdaPrinter as is, and so lambdastr would then keep on working.  For example, to implem

[2018-10-14 00:03] moorepants commented on #14958
I'm getting errors in my downstream package resonance based on this regression. `diff()` changes the type to an immutable matrix and if you rely on the methods for a mutable matrix (as has been in the past) code breaks after you introduce the `.diff()`. This needs to be patched to return the old behavior.

[2018-10-14 00:09] moorepants commented on #14958
Can we revert the PR that introduced this change? It is breaking downstream code that relies on SymPy mechanics. I'm seeing it across a number of my projects.

[2018-10-14 00:39] moorepants commented on #14958
Worth noting that this regression is in SymPy 1.2 and 1.3. It would be nice if a 1.2.1 and 1.3.1 fixed it for both versions.

[2018-10-14 00:48] asmeurer commented on #15384
Keeping a restricted printer for only expressions is a good idea anyway. As things move to non-expression output (like Piecewise for numpy), it will have to either return the less efficient expression or raise NotImplementedError.

Another option would be to make lambdastr generate the actual code used by lambdify. This will break compatibility with anything that calls eval. We could also have a f

[2018-10-14 11:02] amsuhane commented on #14920
I have edited the **dot** function by adding two kwargs to it (hermitian = False and convention = "maths").

If the hermitian is set to true then the **inner_product** function is called which returns the hermitian inner product. If a case arises where hermitian is set to false but one or both the matrices are complex, then a warning is returned which requests for dot function to be called with he

[2018-10-14 14:39] siefkenj commented on #14920
I think this is on the right track. I would change it a bit:

   * `convention` -> `conjugate_convention` and it should accept options of `'math'`, `'maths'`, `'physics'`, `'left'`, `'right'`, `None` (or possibly just `'left'` and `'right'`). If `conjugate_convention` is set, `hermitian` should be automatically set to `True`.
   * The warning should be changed to "**Warning: taking the non-Hermiti

[2018-10-14 14:45] moorepants commented on #15337
I've submitted a fix in #15391.

[2018-10-14 15:03] llucifer97 commented on #15355
hi @lvenuto  i taking up this issue.

[2018-10-14 15:35] jksuom commented on #15355
Note that `x = Symbol('x', Reals = True)` will redefine the symbol `x`. It is different from the symbol `x` of `eq` that was imported from `sympy.abc`. The result of `solveset(eq, x)` is empty since `eq` does not depend on the new `x`.

[2018-10-14 16:36] llucifer97 opened #15392 "Exception in SymPy Live"
Exception in SymPy Live of type
<type 'exceptions.ValueError'>
for reference the last 5 stack trace entries are
Traceback (most recent call last):
  File "/base/data/home/apps/s~sympy-live-hrd/56.412575950366508090/shell.py", line 781, in post
    live.evaluate(statement, session, printer, stream)
  File "/base/data/home/apps/s~sympy-live-hrd/56.412575950366508090/shell.py", line 453, in evaluate

[2018-10-14 18:44] amsuhane commented on #14920
I have changed the function as suggested above:

The new implementation is as follows:

[code]
Are there any other changes?

[2018-10-14 19:30] siefkenj commented on #14920
@amsuhane Do you have a PR for this? This discussion should happen there.

[2018-10-14 19:37] jksuom commented on #15355
What do you get when you substitute the integers to `eq` (`eq.subs(x, ...)`)?

[2018-10-14 19:43] lvenuto commented on #15355
[code]
Not 0

[2018-10-15 03:00] qwanzaden opened #15394 "collect() incorrect on fractional equations"
Calling collect() on a equation with a fraction and more than one term does not collect the terms within the fraction. Below is a example of collect() working on a equation with a fraction, and then not working when a term is added to the equation.
[code]

[2018-10-15 03:42] FrackeR011 commented on #15386
@smichr  which case should raise an error first or second ?

[2018-10-15 07:31] jksuom commented on #15355
It seems that `eq` has one positive root, but that is not an integer:
[code]

[2018-10-15 08:07] lvenuto commented on #15355
I'm sorry, 1 is not a solution, is the multiplicity. The only solution sagemath finds is the integer solution:
[code]
Anyway Sagemath thinks his solution is right :
[code]
The only thing I know is that the solution is correct, because it's used to factorize a big number into 2 primes with the coppersmith attack (https://github.com/mimoo/RSA-and-LLL-attacks/blob/master/coppersmith.sage) The attack

[2018-10-15 09:10] bjodah commented on #15392
@llucifer97 would you mind opening this issue over at https://github.com/sympy/sympy-live/issues ?

[2018-10-15 09:45] jksuom commented on #15355
It looks like `eq` and `new_pol` are different.

[2018-10-15 09:51] lvenuto commented on #15355
No they are not, I just used a different variable name in Sagemath, sorry.
Anyway maybe this is due to an approximation error in sympy.

[2018-10-15 10:34] jksuom commented on #15355
`nsolve` only gives floating point values. The exact roots can be found from linear factors, if they exist:
[code]

[2018-10-15 10:51] lvenuto commented on #15355
Thanks jksuom, that works and is very fast. Do you know if I can use solveset/solve and get a similar behaviour? Maybe it's faster as I don't need the factorization but just the roots.

[2018-10-15 11:42] jksuom commented on #15355
I believe that factorization is the best way for finding integer (or rational) solutions of polynomials with integer coefficients.

[2018-10-15 14:08] lvenuto commented on #15355
While _factors_ works in that example, I don't think it fits my use case. I need a list of integer roots, if they exists, or empty if there are no integer solutions. I'd rather have _solveset_ work as fast as sage _find_root_ method. The problem with factor is:

[code]
I understand Sympy is trying to tell me that there are no integer solutions, but how can I know that?

[2018-10-15 14:40] smichr commented on #15386
Interesting question. Maybe neither but one should just be aware of the issue. Or else the first case (which would then take care of the second if the `_eval_subs` routine of Derivative is modified, too).

[2018-10-15 15:04] jksuom commented on #15355
`factor(eq).args` did work above as `factor(eq)` was of type Mul, but it is not a universal solution. `factor(x**2-43*x+2)` is of type Add as the polynomial is irreducible and its arguments are not factors but the terms of the sum.  In order to get the arguments of a product, one can use `Mul.make_args(factor(eq))` (or `factor_list`).

[2018-10-15 15:38] lvenuto commented on #15355
Wow, works perfectly. I can cycle through all the factors. Do you know of a better way to print only the factors I'm interested in? This works but it's crude:
[code]

[2018-10-15 17:16] jksuom commented on #15355
Rational numbers can also appear as roots of linear factors. If `p = a*x + b` is a linear factor, then the root `x = - b/a` is an integer only if `a == 1`. `solve` is a relatively expensive way of finding the root. It is probably more efficient to directly compute the coefficient list by `Poly(p, x).coeffs()`, for example.

[2018-10-15 17:36] asmeurer commented on #15384
OK, though it does look like a lot of that code just prints the lambdastr, I guess implicitly assuming that it is what lambdify returns. Just from the first page of results I didn't see any instances of eval'ing it.

[2018-10-15 18:09] asmeurer commented on #15385
It isn't working. @vtbassmatt do you have any ideas what might be going on? I disabled the Apps integration and did an oauth integration via the @sympy-bot use, and now no builds work, even a manually triggered build gives `An error occurred while attempting to resolve a specific version from the source branch 'refs/heads/master'. Expected a GitHub connected service ID or a personal access token w