[2014-10-15 00:20] wenjundeng opened #8246 "integrate(x / (x**2 + y**2), y) gives incorrectly 0 when x and y are real"
I need to integrate(x / (x**2 + y**2), y). First I try it in Mathematica: `Integrate[x1 / (x1^2 + y1^2), y1]` would give `ArcTan[y1/x1]`. Further assuming the variables are real would give the same answer, i.e., `Integrate[x2 / (x2^2 + y2^2), y2, Assumptions -> {Element[x2, Reals], Element[y2, Reals]}]` would give `ArcTan[y2/x2]`.

Then I do it in sympy (I'm using Anaconda 2.1 which comes with pyt

[2014-10-15 09:24] pelegm opened #8248 "PSpace cannot integrate an `int`"
While pspaces can integrate a symbolic integer (`Integer`), they cannot integrate a pythonic integer (`int`). Example:

[code]

raises

[code]

I guess that since `Expr` has `xreplace`, this `AttributeError` should be caught, and the conclusion should be that the argument is not an `Expr`, and if it is `Expr`-friendly (python `int`', `float`, etc.), it should be casted into one (perhaps via `S(1)`

[2014-10-15 09:46] pelegm opened #8250 "Avoid "except Exception:""
Several places in the code contain the statement `except Exception:`. This is normally a bad habit, as we do not want it to catch `KeyboardInterrupts` etc, unless we reraise them immediately. So, I believe most of these should be replaced by the safer `except StandardError:`.

Here are a few examples. `combinatorics/permutations.py` has
[code]

`matrices/matrices.py` has
[code]

`sets/sets.py` has

[2014-10-15 10:20] leonidbl91 opened #8252 "And.as_set() does not work for infinite boundaries"
snippet:
[code]

also

[code]

[2014-10-15 16:45] hargup opened #8257 "Interval(-oo, oo) + FiniteSet(oo) takes forever"
It should rather remain unevaluated.

[2014-10-15 22:20] bgamari opened #8262 "physics.quantum.OuterProduct doesn't accept scaled vectors"
For instance
[code]

[2014-10-16 01:42] eunjongkim opened #8263 "factor() function issue for non-commutative objects"
In commit a5bd02caf51d868ef151a22fe588dbddb43aee82 by @smichr, from line 652 to line 660 in the file sympy/core/exprtools.py, there are some parts that I couldn't understand:

[code]

I am trying to add a non-commutative class whose free_symbols are commutative. (e.g., operator with time dependence) In this case, even if the object itself is non-commutative, the factor() function gives the wrong r

[2014-10-19 00:53] dqnykamp opened #8275 "Tuple behaves different for summation of logical"
As mentioned here: https://groups.google.com/forum/#!topic/sympy/82ls0doW6Nk

In [1]: from sympy import Tuple

In [2]: sum( (True, False, False))
Out[2]: 1

In [3]: sum(Tuple(True, False, False))
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-3-602f84e54f9b> in <module>()
----> 1

[2014-10-19 12:34] rominf opened #8276 "Preview should open file in default program"
Here is an attempt to open a file in a good program:
https://github.com/sympy/sympy/blob/master/sympy/printing/preview.py#L119

I think that user knows the best which program he wants to open pdf, png, etc. files. Use `xdg-open`.

[2014-10-24 06:34] pelegm opened #8299 "TypeError: bad operand type for unary -: 'NoneType' on Sum of a piecewise sequence"
The following:

[code]

raises

[code]

It looks similar to the closed issue #6372.

[2014-10-24 06:57] pelegm opened #8300 "Yet another hypsum bug: 'ComplexInfinity' object has no attribute 'p'"
This is another case where `hypsum` fails at the line
[code]

Other `hypsum` bugs include #8254 and #8219, and the latest #8299, which fails at a different line.

This is what fails now:
[code]
raises
[code]

[2014-10-25 18:40] dqnykamp opened #8312 "UndefinedFunction cannot take unicode name under Python 2.7"
[code]

[2014-10-26 14:41] satels opened #8324 "-x*cos(n*x) integral_steps AttributeError"
Error from sympy_gamma (with sympy==0.7.5.git)

[code]

[2014-10-30 14:35] smichr opened #8353 "minpoly should not fail if there is handler for something that _separate_sq fails on"
[code]

[2014-10-31 02:14] smichr opened #8357 "code quality: flag equivalence test without assertion"
If there is an `==` on a line and the line doesn't start with `if`, `while` or `assert` (others?) then it is perhaps a line where an assert was forgotten as [here](https://github.com/sympy/sympy/pull/8307#issuecomment-60472764).

[2014-10-31 02:17] smichr opened #8358 "code quality: flag functions having a name that starts any other function"
If you want to locally test a function with a name like `test_this_function` and there is another having the name `test_this_function_foo`, both will be run. It would be nice if there was a way to indicate the end of a name so other tests with a different suffix could be ignore. So the first function might be flagged as needing disambiguation. Alternatively, maybe some light wildcards could be sup

[2014-11-01 21:18] asmeurer opened #8365 "Should Geometric Algebra be a separate project?"
I saw that @brombo has a rewrite of geometric algebra at https://github.com/brombo/galgebra. Since in the next release after 0.7.6 we are going to start decoupling dependencies (namely mpmath), I think it might be a good idea to consider parts of SymPy which should themselves be decoupled into their own projects, which would depend on SymPy (but not visa-versa). Galgebra is the best candidate here

[2014-11-02 11:08] tdg007 opened #8368 "Sympy cannot find the laplace transform of sinh (t)"
The following code is supposed to calculate the Laplace Transform of **sinh(t)**.

    from sympy import *
    from sympy.abc import *
    laplace_transform(sinh(t), t, s, noconds = True)

But, it fails to calculate anything and returns:  `LaplaceTransform(sinh(t), t, s)`.
This is surely a bug, since `laplace_transform(cosh(t), t, s, noconds = True)` works and
`laplace_transform((exp(t) - exp(-t))

[2014-11-02 16:00] pelegm opened #8370 "inequality solving is not supported over EX"
This seems a rather naive/simple inequality, but apparently this is not implemented:
[code]
raises
[code]

[2014-11-03 06:30] pelegm opened #8373 "Simplification of Relational and BooleanFunction"
Consider the following:

[code]

I'd expect the result to be `True` or somehow else to designate "all `x`".

Even if I force the symbol to be a positive integer, this does not simplify:

[code]

which is a bit odd. All of this causes over-complicated outputs sometimes. For example, trying to sum the PMF of a negative binomial distribution with `p=1/2`, I get

[code]

[2014-11-07 14:08] pelegm opened #8403 "nan.is_number is True"
Is that a bug?

[code]

How else should I know I got `nan` as a result?

[2014-11-07 15:35] smichr opened #8404 "summation produces polar_exp in result"
Because of the exp_polar in the result, the result cannot be evaluated. Is it suppose to give exp_polar or should the be replaced with exp?

[code]

[2014-11-07 21:07] smichr opened #8407 "boolalg `equals` or `Equivalent` failure"
b and c should be detected as equal:

[code]

[2014-11-09 13:48] pelegm opened #8410 "Inconsistency in the type of the solution of an inequality with n and oo"
See this:
[code]

[2014-11-12 06:47] pelegm opened #8430 "integrate(abs(x), (x, 0, 1)) does not simplify"
See this:

[code]

`.doit()` doesn't help there. I'd expect `1/2`.

[2014-11-12 13:28] wanglongqi opened #8432 "Tests fail, seems like Cython is not configured to compile with numpy correctly"
Following are the standard output:

	D:\sympytest>git clone git@github.com:sympy/sympy.git
	Cloning into 'sympy'...
	remote: Counting objects: 153742, done.
	remote: Compressing objects: 100% (4/4), done.
	Receiving objects: 100% (153742/153742), 62.98 MiB | 13.00 KiB/s, done.

	Resolving deltas: 100% (122073/122073), done.
	Checking connectivity... done

	sh-3.1$ cd sympy

	sh-3.1$ ./bin/test |te

[2014-11-12 16:54] adequidt opened #8433 "limit involving error function returns bad result"
It seems that erf(x) is (wrongly?) rewritten in a form which is "tractable" at x=+oo.
But the form used is not tractable at x=-oo like here. The second case works because erf(x) = -erf(-x) is used.

IPython console for SymPy 0.7.5 (Python 2.7.6-64-bit) (ground types: python)
`In [1]: var('D t', positive=True)`
`Out[1]: (D, t)`
`In [2]: limit(erf(1-t/D),t,oo) # should be -1`
`Out[2]: 1`
`In [3]: li

[2014-11-13 10:52] pelegm opened #8439 "float('inf') is getting in the way"
Sometimes I find myself handling with mixed expressions like `n + float('inf')`, which are then printed like `n + +inf`. It does not help if I `n + sympify(float('inf'))`. Why won't `sympify(float('inf'))` return `oo`?

[2014-11-13 12:47] proy87 opened #8440 "Improper Integrals work with errors"
integrate(1/(x+1),(x,-2,3)) outputs ln(4)-i*pi, but instead this is divergent improper integral.

[2014-11-13 12:57] pelegm opened #8441 "Multiplying a boolean by a float"
Sympy does not support multiplying integers and booleans:
[code]
raises
[code]

However, multiplying floats by booleans does work for some reason:
[code]

This may lead to future exceptions: `_.evalf()` raises
[code]

Is this on purpose? Or is it a bug?

[2014-11-13 15:20] dpallone opened #8443 "Ipython Notebook Examples Are Not Working."
When I try to run the plotting examples from the command line with

`ipython plot_advanced.ipynb`

but I get an error that says
`/sympy/examples/beginner/plot_advanced.ipynb in <module>()`
`     15     {`
`     16      "cell_type": "code",`
`---> 17      "collapsed": true,`
`     18      "input": [`
`     19       "from sympy.plotting import plot"`
``
`NameError: name 'true' is not defined``

[2014-11-14 01:36] gungan37 opened #8447 "Integration by parts fails"
I ran the following on Sympy Gamma:

[code]

and received the result

[code]

This integral can be solved with integrating by parts twice (see http://www.wolframalpha.com/input/?i=integrate%28+e%5Ex*x%5E2%29)

[2014-11-16 01:26] cbm755 opened #8458 "Simplifying Piecewise when two cases have same value"
[code]

Perhaps this should not happen automatically, but it would be nice if `simplify()` did it.  Apologies if this is a dupe, didn't see it.  Figure its related to #1009 somehow.

---

Very simple cases work:

[code]

And some more complicated things work too:

[code]

[2014-11-17 14:56] pelegm opened #8462 "Trivial bounds on binomial coefficients"
This is a suggestion; I am ready to implement it, but I'll need a hint about how possible/easy it might be, and where to start.

In #5415 it is reported that limits of expressions involving function of several arguments, such as `binomial(n, k)`, fail. Perhaps trivial bounds on binomial coefficients may help to solve this issue for the case where all such functions are binomial coefficients.

The

[2014-11-17 23:01] cbm755 opened #8467 "S(srepr()) not identity for MatrixSymbol.as_explicit()"
Consider:

[code]

I can paste that in and it get an equivalent object (assuming I `from sympy.matrices.expressions.matexpr import MatrixElement`).

But:

[code]

After my failure in #8465, I think I won't try to fix this myself ;-)

[2014-11-18 11:07] Zaharid opened #8469 "Recursion computing time growing too fast"
I would expect the following code to work reasonably fast and grow more or least linearly with N. However it hasn't finished for N=9 in more than 15 min.

[code]

Is there any way to do this quickly with sympy?

[2014-11-19 16:30] raddy opened #8474 "b splines of degree > 1?"
Looking at the spline_basis function:

[code]

This seems to break while the following is fine:

[code]

I can tweak in extra knots, i.e. placing them at (0.1,0.2, 10.1,10.2 in the example) but this is still not really giving the desired basis matrix.

Or am I just missing something very obvious?

I always generated knots for bspline basis matrix by taking the list of knots and:

[code]

[2014-11-20 09:00] pelegm opened #8478 "Sampling from poisson distribution fails"
The following:

[code]

raises

[code]

Inverting the CDF is only one way of sampling from a discrete distribution, and I am not even sure it is the most efficient.

[2014-11-20 14:58] pelegm opened #8481 "Wrong error raised trying to calculate limit of Poisson PMF"
The limit of the Poisson probability mass function (PMF) is 0. Trying to calculate it using SymPy looks like the following:

[code]

but the last line raises the following error:

[code]

which is simply not right, as the result in this case does not depend on the sign of `log(lamda)`.

[2014-11-21 10:00] pelegm opened #8487 "oo.is_prime is not False"
`oo.is_prime` should be False, I guess, and same with `zoo.is_prime`.

[2014-11-21 10:39] pelegm opened #8488 "_eval_is_prime for the Mul class"
Can we implement a `_eval_is_prime` for the `Mul` class? For example, if `k` is an integer symbol, it would be nice if `(9 * k).is_prime` will return `False`.

[2014-11-21 11:23] obunau opened #8489 "integrate( exp(0.5*u)*sin(0.5*u) , u )"
Hi,
I'd like to report a bug related to integrals by parts.

In Sympy 0.7.4 , Sympy 0.7.5 and Sympy 0.7.6 :      integrate( exp(0.5_u)_sin(0.5*u) , u ) = 0
which is false, while the following yields the expected result :

integrate( exp(u/2)_sin(u/2) , u ) = exp(u/2)_sin(u/2) - exp(u/2)*cos(u/2)

Sympy 0.7.3 gets it right.

[2014-11-21 11:35] pelegm opened #8491 "factorial2 of some floats causes infinite recursion"
While `factorial2(1.0)` returns a `Float`, `factorial2(1.1)` raises

[code]

According to the function's docstring, it is not defined on non-integers, so maybe argcheck should be made.

[2014-11-22 15:11] skirpichev opened #8500 "Using and operator vs fuzzy_and while querying assumptions"
The problem is that builtin and operator is not symmetric wrt non-boolean args, esp. None:

[code]

That's important if we consider assumptions.  We have a lot of statements like `self.is_integer and other.is_integer` in the code (see, for example, [some cases](https://gist.githubusercontent.com/skirpichev/03fb41f52bcc6d3653df/raw/06c8df41ccc0200e2091c9cdfb7c48682416233a/a.log) in the core).  It s

[2014-11-22 16:11] certik opened #8501 "Mathematica parser can't parse 'x*Sin[1/x]'"
This works:

[code]

But this fails:

[code]

[2014-11-24 01:50] isuruf opened #8510 "Differentiation of general functions"
[code]

For `In [2]`, instead of the result, I would expect,
`Subs(Derivative(f(x+y, _xi_2), _xi_2), (_xi_2,), (x,)) + Subs(Derivative(f(_xi_1, x), _xi_1), (_xi_1,), (x + y,))`

[2014-11-24 09:22] Zaharid opened #8512 "Lambdify matrix element gives infinite recursion"
This snippet:

[code]

Causes does not work and causes an infinite recursion error.

[2014-11-24 22:23] jfosorio opened #8514 "Inverse Laplace transform of a simple function fails after updating from 0.7.5 to 0.7.6"
The following transfer function, which appears recurrently in control theory,  produces and error after updating to the new version 0.7.6.

[code]
The error shown is:

TypeError: cannot determine truth value of
-\omega_n*\zeta - \omega_n*sqrt(\zeta + 1)*cos(atan2(0, \zeta - 1)/2)*sqrt(Abs(\zeta - 1)) < oo

[2014-11-26 07:02] smichr opened #8519 "Interval convenience methods"
In one of the tests files I noticed helper functions (OpenInterval, RightOpenInterval, LeftOpenInterval) that might be good to add. Here's one suggestion of how to do so with slightly different names:

[code]

[2014-11-26 12:46] proy87 opened #8520 "manualintegrate doesn't give simple integral"
integral x/(1+x^4) is 1/2*atan(x^2), but manualintegrate gives DontKnowRule.

[2014-11-26 15:35] pelegm opened #8521 "Fix binomial._eval_is_integer"
Currently the following may happen:
[code]

Seems non-consistent. In addition, we do not **know** that if `n` is not an integer, then `binomial(n,k)` is not an integer, right? For example, `binomial(Rational(1,2), 0)` should be 1, I guess.

[2014-11-27 08:54] pelegm opened #8524 "gamma._eval_is_positive is broken?"
The first line in `gamma._eval_is_positive` is `if self.is_number`. Perhaps I don't understand it well, but even if `n` is a positive integer, `gamma(n).is_number` is `False`, and in particular, not positive.

I believe that the following code:
[code]
should return `True`.

[2014-11-27 09:55] pelegm opened #8526 "gamma of a negative integer should return zoo"
Currently, `gamma(-1)`, `gamma(-2)`, etc. all return `zoo`. Thus, it would be consistent if
[code]
would evaluate to `zoo` as well.

[2014-11-27 10:55] pelegm opened #8527 "bernoulli(2*n+1) should return 0 for a positive integer n"
Bernoulli numbers vanish on all odd indexes >1. Thus, the following
[code]
should be evaluated to 0.

[2014-11-27 13:52] pelegm opened #8531 "Dividing factorial(n) by n"
If
[code]
then this should return 0:
[code]
and this should return factorial(n-1):
[code]

Similarly, if
[code]
then this should return factorial(n+1):
[code]

[2014-11-28 04:12] redstoneleo opened #8535 "Mathematica parser can't parse ((-2x+5)(4x-1)-4(-x^2+5x+1))/(4x-1)^2"
[code]

[2014-12-01 18:51] smichr opened #8544 "TypeError generated when checking solution with RootOf instances"
[code]

[2014-12-03 21:27] moorepants opened #8557 "doit does nothing on a hadamard_product"
I would expect `doit()` to do the elementwise multiplication and return a single matrix:

[code]

[2014-12-04 00:59] proy87 opened #8558 "Expression match doesn't work properly"
I want to match expressions of the form 1/sin^2(ax+b)
import sympy
from sympy.abc import x
a = sympy.Wild('a', exclude=[x])
b = sympy.Wild('b', exclude=[x])

(1/sympy.sin(x+2)**2).match(1/sympy.sin(a*x+b)**2) matches
(1/sympy.sin(2x)**2).match(1/sympy.sin(a*x+b)**2) matches
(1/sympy.sin(3x+2)**2).match(1/sympy.sin(a*x+b)**2) matches
(1/sympy.sin(x)**2).match(1/sympy.sin(a*x+b)**2) doesn't match
Wh

[2014-12-04 22:33] cbm755 opened #8564 "nsolve loses accuracy when solving `x*x == pi`"
It looks like sometimes nsolve is limited to double precision:

[code]

But it often works properly, even on "harder" problems:

[code]

Other things that do work include `x*x == pi*pi` and `x*x == 2`.

[2014-12-05 12:25] maeshtro opened #8567 "sympy fails to solve a linear system of first order ODEs"
I tried to solve the following initial value problem

[code]

with sympy using the code

[code]

The solution I get is

[code]

which is wrong. The correct solution is

[code]

I am running python 3.3.2 with sympy 0.7.3 under fedora 19 x64.

[2014-12-05 15:14] cbm755 opened #8571 "printing: Add containing a Boolean fails"
I offer no particular opinion on whether they make sense but neither of these operations seem to be forbidden:
[code]
But only `a` can be printed (and gives `x*True`) whereas `print(b)` and `pprint(b)` give:

[code]

[2014-12-07 21:35] cowlicks opened #8575 "Where is the IdentityOperator"
It is defined [here](http://docs.sympy.org/dev/_modules/sympy/physics/quantum/operator.html#IdentityOperator) but running the example in the sympy live shell gives:

[code]

Importing `UnitaryOperator` works, it is defined and imported in the same way. Whats going on?

[2014-12-08 12:22] pelegm opened #8578 "binomial(1/2, 1/2)"
What's missing so that `binomial(1/2, 1/2)` would evaluate to 1, just like `binomial(1/2, 0)`? If `x` is real, sympy knows to evaluate `binomial(x, x)` to 1.

[2014-12-08 14:22] rwst opened #8585 "fails in sage -t testing of test_sage.py"
In Sage-6.5beta2+sympy-0.7.5:
[code]
These fail in the line: `assert not "sin" in a`, so the author assumed that globals are always untouched. But testing with `sage -t` preloads `sage` into globals so the assert triggers.

[2014-12-09 07:59] smichr opened #8591 "solve should try to reduce the order of polynomials to be solved"
[code]

As the above shows, it is much faster to use a change of variables to solve the first equation.

[2014-12-11 14:04] pelegm opened #8601 "Shouldn't catalan(-1/2) be evaluated to zoo?"
If I understand correct, catalan is extended to reals via gamma functions. So, `catalan(n)` may be rewritten as
[code]
so `catalan(-S.Half)` should be a multiplication of `gamma(-S.Half)` by some positive constant, so it should be `zoo`; shouldn't it?

[2014-12-14 20:12] rotu opened #8613 "Eq.as_set behaves funny with infinity"
The following works as I would expect:
[code]
But if the second argument is oo or -oo, then as_set hangs.
If the second argument is zoo, then it breaks:
[code]

[2014-12-14 22:15] asmeurer opened #8614 "integrate(exp(t)/t, (t, -oo, x)) gives infinite recursion"
[code]

[2014-12-15 11:35] zxo102 opened #8615 "A bug in Intersection of two Line3D?"
I tested two perpendicular lines in three cases, Case 1: the lines are on x=6 plane,  Case 2: the lines are on xy plane (2D) and Case 3: the lines are on z=6 plane. Running the script below: Case 2 and Case 3 return correct results: Point(-1, 0)] and [Point3D(-1, 0, 6)], but Case 1 returns [] instead of  [Point3D(6, -1, 0)].

Non-parallel 3D lines might not have a intersection point, but the follo

[2014-12-15 20:59] smichr opened #8617 "RootOf might ignore generator"
This is related to #8551 but a little different. I'm not sure of all the ramifications but just want to document this.

Note how feeding RootOf an expression in terms of a new generator might ignore that generator if the form of the polynomial is the same

[code]

[code]

[2014-12-17 18:18] glyg opened #8626 "bug in physics/mechanics/lagrange.py"
When providing a `forcelist` with more than one force, not all terms are computed,
this comes from the fact that the iterator `flist = zip(*_f_list_parser(self.forcelist, N))` is consumed in the first iteration of the loop.

I propose a following PR that fixes the bug, let me know if I need to also provide a test case.

Best,
Guillaume

[2014-12-18 07:33] pelegm opened #8630 "Mod ignores the `is_even` assumption"
For example,

[code]

should have probably returned 0.

[2014-12-18 08:03] pelegm opened #8632 "(n-1) is not known to be positive for a positive even n"
If `n` is positive and even, it must be at least 2, so `(n-1).is_positive` should return `True` (currently it returns `None`).

[2014-12-18 08:05] pelegm opened #8633 "n - 1/2 is not known to be positive for a positive integer n"
If `n` is a positive integer, it must be at least 1, so `(n-S.Half).is_positive` should return `True` (currently it returns `None`).

[2014-12-18 10:10] pelegm opened #8634 "limit(x**n, x, -oo) is sometimes wrong"
For example,

[code]

while

[code]

It looks like it assumes `n` is even, because stating `odd=True` for `n` seems to solve this issue.

[2014-12-18 10:40] pelegm opened #8636 "(n-1) is not known to be nonnegative for a positive integer n"
If `n` is positive and integer, it must be at least 1, so (n-1).is_nonnegative should return True (currently it returns None).

[2014-12-18 14:54] pelegm opened #8640 "Max forgets the `is_even` assumption"
For example,

[code]

returns `None`, but should return `True`.

[2014-12-18 15:15] pelegm opened #8643 "Max should be positive if any of its args is positive"
At the moment,
[code]
returns `None`, while it should return `True`. Do you think that implementing `_eval_is_positive` is enough here? Or `_eval_is_nonnegative` as well? Or just the latter? Will it conclude `is_nonpositive` and `is_negative` automatically?

[2014-12-19 08:53] pelegm opened #8649 "If t is transcendental, t**n is determined (wrongly) to be non-integer"
Check this:
[code]
etc.

[2014-12-19 21:40] GitRay opened #8662 "Expr._random() fails to catch ValueError exception"
When I run the following code, it fails with a "ValueError" exception. The problem is that is_constant calls _random, which eventually calls MinMaxBase._new_args_filter in miscellaneous.py. This function has an explicit check for conditions which can result in a ValueError, but _random only catches TypeError.

I'm happy to fix this and make a pull request, but I am not sure what the correct fix is

[2014-12-20 16:56] denfromufa opened #8665 "nested integrate without constants"
I was watching scipy14, sympy tutorial and got surprised that integrate() does not return const. This is a problem for nested integrate:
http://m.wolframalpha.com/input/?i=integrate%28integrate%28x**2%29%29&x=0&y=0
http://www.sympygamma.com/input/?i=integrate%28integrate%28x**2%2Cx%29%2Cx%29

[2014-12-21 07:13] pelegm opened #8668 "Ordinal arithmetic"
It would be nice if SymPy would have provided ordinal arithmetic.

That would require either definining a new object called `OrdinalNumber`, that will either inherit from `Symbol` or from `Basic` (option 1), or new assumption(s) that will allow the current symbols to be ordinals.

How can it work with assumptions? Roughly as follows:

[code]

and arithmetic should be defined: addition, multiplicat

[2014-12-21 11:37] pelegm opened #8671 "reduce -> functools.reduce / for loops"
From "what's new in python 3" webpage:

There are many (hundreds) of appearances of `reduce` in sympy's code. Only in a couple of places I saw `functools.reduce` or `from functools import reduce`.

What do you think? This is a project I am willing to take, if you think it might do good.

This issue is a specific 2to3 idiom, and the motivation can be found in #6698.

[2014-12-21 18:58] pelegm opened #8674 "Implementing Fraction Part function"
I wish to implement fractional part function, just like [this one](http://mathworld.wolfram.com/FractionalPart.html). I think of doing this in `sympy/functions/elementary/integers.py`.

Do you have any objection? If not, I'll do it - it should be easy enough.

[2014-12-21 19:15] pelegm opened #8675 "If p is prime, it is larger than 1"
Currently, if
[code]
then `p>0` resolves to `True`. However, `p>1` does not simplify at all. It would be nice if it would.

In general, it would be nice if reals would have a more general assumption mechanism, so that a symbol would "have it in mind" that it is larger than, say, `k`. So the assumption `prime` would suggest the assumption *is larger or equal than 2*, and together with the assumptio

[2014-12-21 19:25] pelegm opened #8676 "Max forgets the `is_prime` assumption"
For example,

[code]

returns `None`, but should return `True`.

This is related to issue #8640 and pull request #8652 (which I have authored) - but I am not sure whether `_eval_is_prime` is the way to do it here.

[2014-12-21 19:37] pelegm opened #8677 "factorial(n) should "know" that it is divisible by n"
This is related to #8531, but is not really the same.

It would be nice if `factorial(n)` would "know" that it divisible by `n`, or, even better, that it is divisible by any `k` for which `1 <= k <= n`. `n` and `k` in my example are both positive integers.

Formally, it would be nice if `factorial(n) % n` would simplify automatically to 0, and even better, that `factorial(n) % k` would simplify to

[2014-12-21 20:50] rotu opened #8678 "is_Boolean, you had one job!"
Neither Boolean nor BooleanAtom define is_Boolean like BooleanFunction does.

This means that `true.is_Boolean` and `false.is_Boolean` are both false.

Recommended fix is to move is_Boolean from BooleanFunction to Boolean (from which it derives)

[2014-12-22 06:20] smichr opened #8679 "solving change of variable equation"
Apparently the solution of x = 0 for `x + root(x, 3) + root(x, 3)**2` is not being detected by the unrad/change of variables methods of solving the equation.

[2014-12-24 00:16] asmeurer opened #8685 "Wrong result from integrate"
Reported on the mailing list:

[code]

The problem seems to be in heurisch.

[2014-12-25 07:17] satels opened #8692 "TypeError on solve(Eq(Abs(x+1)+Abs(x**2-7), 9), x)"
In master.

[code]

[2014-12-25 14:08] akritas opened #8695 "sqf and sqf_list output is not consistant"
The example below is wrong in the sense that we should have (x*_2 - 5_x + 6, 3) and not 2 factors of multiplicity 3.

[code]

whereas below is correct --- one factor of multiplicity 2

[code]

[2014-12-25 20:36] klemvor opened #8697 "rsolve fails to find solutions to some higer order recurrence relations"
I was trying to solve the difference equation:

[code]

with `rsolve` and I have the following output:

[code]

Hower I know that the correct solution is:

[code]

therefore I think that there is a bug in rsolve, which I think is located in the handling of degenerate solutions. Indeed if we take another equation with characteristic equation with roots of multiplicity greater than one like (for the

[2014-12-28 14:32] pelegm opened #8708 "Wrong solution for a simple inequality"
I have tried to solve the following rather simple inequality:
[code]
and the result (`False`) was quite surprising, and indeed wrong, as, for example,
[code]
which looks positive...

[2014-12-28 20:08] shivamvats opened #8709 "Solve misses a trivial solution."
[code]

Clearly, x=0 is also a solution.

[code]

Related to #8708
@hargup

[2014-12-28 20:33] smichr opened #8710 "geometry's encloses method fails for non-polygons"
The perimeter of objects that are not polygons are not properly accounted for with the encloses method so a circle whose center is in a triangle but is larger than the triangle is reported as being enclosed by the triangle:

https://groups.google.com/forum/#!topic/sympy/vhSScImk3dc

[code]

[2014-12-29 20:58] jksuom opened #8712 "Add flexibility to polar_lift"
In the documentation of meijerint there is a [link](http://nessgrh.wordpress.com/2011/07/07/tricky-branch-cuts/) to a post on the problems of computing the inverse Fourier transform of `1/(I*x + 1)`. The principal reason for these problems is that the function is not integrable over the real line (in the sense of Lebesgue). The transform can only be obtained by a limit process, which implies that

[2014-12-30 18:21] aktech opened #8716 "solve(x - sqrt(x**2)) returns no solution"
Solve is not able to determine the solution for this Equation:
[code]
It returns no solution.
Though the range of solution should be all nonnegative real numbers.

[2014-12-30 18:36] pelegm opened #8717 "An absolute value of an interval issues a deprecation warning"
If we don't wish to support an absolute value of an interval, we should raise a `ValueError`. If we wish to support it (as a pointwise function on the interval), we don't need to issue the warning. However, the current situation is weird:
[code]
issues
[code]

As the warning suggests, this is probably related to #6212.

[2015-01-01 07:52] pelegm opened #8722 "factorial(x) is not known to be real when x is a noninteger"
I guess this is very much related to #8658.

When `x` is a noninteger real, `factorial(x)` is simply `gamma(x+1)`, which is gamma of a number which is not a nonpositive integer, hence it must be real. Thus, `factorial(x).is_real` should return `True` (but now it returns `None`).

[2015-01-01 07:57] pelegm commented on #8676
Added that functionality to #8652.

[2015-01-01 08:21] aktech commented on #8722
Thanks for reporting.
PR #8723

[2015-01-01 08:43] pelegm opened #8724 "If n is a nonnegative integer, factorial(n+3) should be known to be composite"
Currently, if `n` is a nonnegative integer, `factorial(n+3).is_composite` returns `None`.

[2015-01-01 08:53] hargup opened #8725 "Add docs for solveset"
See #7523

[2015-01-01 12:21] skirpichev commented on #8725
Are you sure about "Easy to Fix" label?

[2015-01-01 15:25] #5581 closed

[2015-01-01 15:25] #8022 closed

[2015-01-01 16:55] #8221 closed

[2015-01-01 16:56] pelegm commented on #8250
With nothing good to add to this issue, I close it.

[2015-01-01 16:56] #8250 closed

[2015-01-01 17:02] #8300 closed

[2015-01-01 17:05] pelegm commented on #8410
This is now fixed. I don't think it deserves a test, but if you think so, please reopen.

[2015-01-01 17:05] #8410 closed

[2015-01-01 17:07] pelegm commented on #8370
Update: this does not raise an error any more, but instead leaves an unevaluated relational. If this is the wanted behaviour (until we know how to solve it), perhaps we could close this issue.

[2015-01-01 17:56] pelegm opened #8729 "`nan` is a rational function"
In `is_rational_function()`, there's a line which states that if the intersection of the expression's free symbols is an empty set, then the expression is a *constant rational function*. Thus, `nan.is_rational_function()` is `True`, and this behaviour causes bugs like #8414.

I guess that a simple check of `if self is nan` or so just before `return True` should fix that bug. However, there may be

[2015-01-01 18:08] pelegm opened #8730 "Limit of subfactorial"
Despite the fact that `subfactorial` is defined over nonnegative integers only, it still has a limit at `oo`, which is `oo`. So I'd expect `limit(subfactorial(n), n, oo)` to work (and return `oo`), but that insted raises a `ValueError`. I am not sure how to solve that.

[2015-01-01 19:29] asmeurer commented on #8250
I think you are confusing Exception and BaseException. The latter is the one that you want to avoid catching in most cases.

[2015-01-02 08:06] pelegm commented on #8046
In 1 you wrote:

I am not sure I follow. Do you suggest that `zoo.is_complex` should be true? Considering the discussion about `real` versus `extended_real`, I'd say whatever is `complex` **is** bounded. Don't you agree?

[2015-01-02 08:33] pelegm commented on #8046
The following is also an assumption which is wrong in master: #8649.

[2015-01-02 09:17] pelegm commented on #8046
#8732 should, when merged, resolve bullets 4 and 5.

[2015-01-02 09:22] pelegm commented on #8128
This now raises a different exception:
[code]

[2015-01-02 09:28] pelegm commented on #8129
Something is now different. Suddenly relationals containing RandomSymbols do not autosimplify. `b>b` is not `False` and `b>=b` is not `True`. Is that a new bug, or a solution for this issue? @shivamvats, are you behind this?

[2015-01-02 09:38] pelegm commented on #8167
The bug is now different:
[code]
but the result should be `1`. I guess it is so since `(E**a)**x` autosimplifies to `exp(a*x)`, ignoring the fact that `a` is `zero`.

[2015-01-02 09:41] pelegm commented on #8170
This is even weirder now:
[code]

[2015-01-02 12:51] pelegm opened #8733 "integrate(abs(x+1), (x, 0, 1)) raises gamma function pole error"
I've tried this:

[code]

and got

[code]

I have a reason to believe that this is a new bug, replacing previous bug that has appeared in a comment in #8430.

[2015-01-02 13:00] pelegm commented on #8733
Perhaps we can "inject" some assumptions to the integrand's symbols from the integration interval? For example, in that case the integration interval is `[0,1]`, thus we may assume `x` is nonnegative, thus removing the `abs` before resuming to calculate the integral.

[2015-01-02 13:05] sshkhr commented on #8724
While working on this issue I was wondering whether I should declare the values of factorial of 1 and 2 in the test file as these are the only non-composite factorials for non-negative integers (0 already declared).Or should I declare a variable separately .

[2015-01-02 13:18] kaushik94 commented on #7127
#8734

[2015-01-02 14:36] shivamvats commented on #8129
I am not. But that solves the issue, I guess.

[2015-01-02 14:47] pelegm commented on #8129
OK, so I'll add tests and only then close it.

[2015-01-02 14:49] shivamvats commented on #8129
That' d be great.

[2015-01-02 15:00] pelegm opened #8736 "Forbid symbol names containing "!""
This may lead to ambiguities. For example,
[code]
(which is confusing with `factorial2`).

In general, I guess that symbol names which contain operators such as `+-*/^!` and similar should be forbidden.

[2015-01-02 15:04] skirpichev commented on #8736
I'm not so sure.  For example,
[code]

[2015-01-02 15:05] pelegm commented on #8736
Well, you have a point there. But even if these are allowed, there should be some mechanism to help avoid ambiguities.

[2015-01-02 15:12] debugger22 commented on #8736
IMO forcing them not to use these isn't a good idea. It's true that it creates ambiguities but it is a result of actions by user itself.

[2015-01-02 15:15] skirpichev commented on #8736
If you have a generic solution - please go ahead.

But I'm not sure if that's doable (for sure, it's not easy).  In fact, I think this is the case when we should live with hammers & knifes in our houses (despite these things actually do harm people sometimes, you know).

Meanwhile, I'll mark this as an enhancement proposal.

[2015-01-02 15:16] pelegm commented on #8677
My proposition regarding the bounds can also help solving #8533. I agree with @asmeurer that doing so with inequalities is probably a better idea, but I was wondering **(a)** whether this is possible in the "old" assumptions system, and **(b)** how can I really implement it in the "new" assumptions system.

[2015-01-02 15:29] pelegm commented on #8736
OK, so if no good proposals come within a month or so, I'll bury this.

[2015-01-02 15:50] #8722 closed

[2015-01-02 16:35] pelegm commented on #8578
@mattpap any thoughts about `binomial(-1, -1)`?

[2015-01-02 19:04] debugger22 opened #8740 "Dev docs build stalled because of build failure"
The last working build no. is 12198 which corresponds to 5403e74b8f4d8a49f3532a2a26a052ae682d213d. Is this a coincidence?

@asmeurer

[2015-01-02 19:08] debugger22 commented on #8740
Oh sorry! It was intentionally disabled. 89865d5096199e6a34ac397207d8f621a367743f

[2015-01-02 19:11] debugger22 commented on #8740
If there is a previous issue related to this, you can close this one.

[2015-01-03 01:00] mwiebe opened #8742 "Convolution of pulse - Problem with Integrals of Piecewise"
I tried a bunch of things, and everything fails, gives an unevaluated answer, or gives an answer that looks wrong. I've created a gist notebook you can see here:

http://nbviewer.ipython.org/gist/mwiebe/48bed4e5d52335c47e25

I also sent a message to the sympy mailing list, but I guess it ended up in moderation purgatory? The message moderation is resolved, thanks!

[2015-01-03 08:04] asmeurer commented on #8742
It looks like you discovered three distinct bugs. I put a simple fix in for the second one (`sign.doit` needs `**hints`), and I found a fourth, which is that it can't be printed because it tries to evalf an integral to in the printer, which hangs.

[2015-01-03 14:39] Upabjojr opened #8743 "Tensor - Kronecker delta does not get .data"
[code]

last line returns None, should return numpy ndarray instead.

[2015-01-04 12:14] deepanshu1995 commented on #8725
I would like to work on this issue

[2015-01-04 15:26] pelegm commented on #7292
+1. NumPy also support this: https://github.com/numpy/numpy/pull/4547

[2015-01-05 07:05] hargup commented on #8725
@deepanshu1995 great go ahead. See how other docs are added. Make the changes and send a pull request.
@skirpichev I'm not very sure of "Easy to Fix", but I don't think it will be hard.

[2015-01-05 08:04] akritas opened #8746 "summation over poles of rational functions"
summation( 1 / (k * (k + 1)), (k, -3, n) )  returns -(n + 4)/(3*(n + 1)) whereas it should return nothing as Wolframalpha and Maxima.

[2015-01-05 09:03] pelegm commented on #8724
The author of the proposed pull request is a deleted user. I think I'll try to write something instead.

[2015-01-05 09:28] hydeik opened #8747 "sympy.physics.wigner: wigner_9j is broken for certain combinations of half-integer arguments"
Hi.

I found that `wigner_9j` raises unexpected ValueError for certain combinations of half-integer arguments like

[code]

In the example above, the summation

[code]

should be taken for `kk` half-integer (1/2,3/2,...) rather than integer.

[2015-01-05 13:29] woutergins opened #8748 "sympy.physics.wigner: wigner_6j not working as expected"
Using the following MWE, the 6J-symbol cannot be calculated.
[code]
File "C:\Users\MyStuff\Anaconda\lib\site-packages\sympy\physics\wigner.py", line 491, in wigner_6j
    racah(j_1, j_2, j_5, j_4, j_3, j_6, prec)
  File "C:\Users\MyStuff\Anaconda\lib\site-packages\sympy\physics\wigner.py", line 375, in racah
    _big_delta_coeff(aa, cc, ff, prec) \* \
  File "C:\Users\MyStuff\Anaconda\lib\site-pac

[2015-01-05 15:15] #8717 closed

[2015-01-05 19:26] pelegm commented on #8730
It fails in `heuristics`. The weird thing is that it tries to do heuristics on `subfactorial(1/n)`, which is generally not defined. I guess that what causes that issue is the following line:
[code]

Can we condition running that line only on certain cases, or catch `ValueError` exceptions raised by it?

@skirpichev, you seems involved in this area of the code - any ideas?

[2015-01-05 21:08] aktech opened #8751 "limit(Abs(x)/(x), x, 0) evaluates to 1, without knowing x is zero or not."
[code]
This can't be evaluated to 1, until and unless it knows that x is not equal to zero.

[2015-01-06 05:08] tanmaysahay94 commented on #8729
@pelegm: Can I work on this?

[2015-01-06 07:55] pelegm commented on #8751
I disagree. The default limit direction is `+`, and to the right of `0`, `x` is always positive. The limit result is true. At least, assuming `x` is real (and I believe `limit` assumes that).

[2015-01-06 09:08] aktech commented on #8751
I think for the limit to exist: the Left hand limit and Right hand limit should be equal to the value of the function at that point, and value of the function is not defined at that point.

[2015-01-06 09:50] pelegm commented on #8751
Check the discussion at #8165. The current decision (which is not according to my opinion) is that the default direction of the limit is `+`, and two-sided limit is not supported. If you want a two sided limit, you should manually try both sides and compare.

[2015-01-06 09:58] aktech commented on #8751
Oh! I see.
Thanks

[2015-01-06 10:47] #8751 closed

[2015-01-06 11:06] hargup commented on #8751
The second condition "limit should be equal to value of the function` is not necessary. See http://mathworld.wolfram.com/Limit.html

[2015-01-06 11:12] aktech commented on #8751
@hargup
Yes! Thanks

[2015-01-06 12:55] skirpichev commented on #8751
On another hand, there is a bug:
[code]

[2015-01-06 13:03] #8443 closed

[2015-01-06 13:06] skirpichev commented on #8729
Sure, if you *know* that it's an issue and you *know* how to fix that.

[2015-01-06 13:08] pelegm commented on #8751
@skirpichev, I'd open a new issue for that.

[2015-01-06 13:45] skirpichev commented on #8730
No, I don't know how to tune heuristic in a meaningful way.

BTW, I think that the Gruntz algorithm assume that the function in question is continuous (see section about tractable functions).

But we can generalize subfactorial to any real number and also in the complex plane.  See [this](http://mathworld.wolfram.com/Subfactorial.html).

[2015-01-06 14:22] skirpichev commented on #8730
See #8753

[2015-01-06 14:41] pelegm commented on #8730
You may solve the problem of `subfactorial` like that, perhaps, but I don't think you can generalize any function which is defined on the integers to the reals / complexes. For example, I don't know how you can extend Euler's totient function to the reals. You may still want to ask about its limit (which does not exist in this case).

[2015-01-06 14:55] skirpichev commented on #8730
For sure, I can :)  In may ways, actually.

But yes, we have another issue.  Clearly, we don't have notion of the domain of the function.  I think, we have similar discussions in the bugtracker.

[2015-01-06 16:19] jamescasbon opened #8754 "Problem factoring trivial polynomial"
[code]

The factoring of w is incorrect - look at the order of x it is 10^-8 not 10^-4.

[2015-01-06 16:32] skirpichev commented on #8754
Oh, just another example why Float's are dangerous for CAS.

No issue if coefficients from the field of rationals:
[code]

[2015-01-06 16:57] #8626 closed

[2015-01-06 17:32] naruto0323 commented on #8754
i would like to work on this

[2015-01-06 20:34] lidavidm commented on #8324
The direct error is that `manualintegrate` can't handle `Piecewise` inputs.

The underlying error is that the integration by parts rule is picking `u = x, dv = cos(nx)`, but `dv` is `0` when `n == 0`, giving an incorrect result. I think the rule needs to watch for when a `Piecewise` result comes up and retry picking `u`/`dv` with the conditions in the `Piecewise` already applied (not sure if that

[2015-01-06 23:10] smichr opened #8755 "cubics should always yield a solution"
A solution is not obtained for the following, but there should be the generic 3 solutions for a cubic:

[code]

[2015-01-07 02:01] shivamvats opened #8756 "Error while running plot_implicit test"
I'm getting the following error while running the test for plot_implicit:

"sympy/plotting/tests/test_plot_implicit.py[1] /home/aries/Software/anaconda/lib/python2.7/site-packages/matplotlib/pyplot.py:423: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (matplotlib.pyplot.figure) are retained until explicitly closed and may consume too much memor

[2015-01-07 02:10] amitsaha commented on #8756
I *think* the reason is that we are just creating too many figures (``self.plt.figure``) in ``sympy.plotting.plot:Plot`` - one every time we create a plot. May be we should try to adopt something from http://stackoverflow.com/questions/21884271/warning-about-too-many-open-figures ?

[2015-01-07 02:24] shivamvats commented on #8756
I tried placing a couple of plt.close('all') in the code and though it did fix the issue, I am not sure if it is the only/best solution.

[2015-01-07 03:53] aktech commented on #8679
Oh! I see.

[2015-01-07 06:36] pelegm commented on #7724
I think it stands for **arbitrary EXpressions**.

[2015-01-07 06:39] #8692 closed

[2015-01-07 06:45] pelegm opened #8757 "Rewrite factorial as a product"
It would be nice that if, say,
[code]
then the following would hold
[code]
(for a dummy positive integer `i`)

[2015-01-07 06:51] smichr opened #8758 "better trig simplification of cos/sin sum"
[code]

Perhaps the 2nd line should give results more similar to the first line in the Table.

[2015-01-07 06:52] hargup commented on #8179
This should be easy to fix.

[2015-01-07 07:00] pelegm opened #8759 "Assuming a function is bounded"
There have been a couple of discussions here about "assumptions on functions". A few examples:

* is_even, is_odd in #2671
* is_increasing, is_monotone, etc. in #8205

I was thinking that with the same spirit, we can implement something like `is_bounded` (which is not the old deprecated `is_bounded` discussed in #8071, but rather something like `is_bounded_function`).

This can be very useful in s

[2015-01-07 07:29] asmeurer commented on #7724
The domain parameter only specifies the domain of the coefficients of the polynomial, not the roots. Roots of a polynomial in the domain ZZ might be non-integers.

[2015-01-07 07:36] pelegm opened #8760 "Proposition: assumptions for functions"
Continuing my line of thought from #8205, #8759, and with relation to the discussion at #2671, I propose here a list of "assumptions" of functions, that can be incorporated into the (old) assumption mechanism, or lie next to it.
[code]

Then, just like in `core/assumptions.py`, `FactRules` can be defined and applied. What do you think?

[2015-01-07 11:48] hargup opened #8763 "Add examples in docs for ImageSet intersection"
After https://github.com/sympy/sympy/pull/7587 SymPy can evaluate Set Intersections like
`imageset(Lambda(n, 2*n), S.Integers).intersect(imageset(Lambda(m, 2*m + 1), S.Integers))` to `EmptySet()`. We should add these examples in the docs.

[2015-01-07 12:47] skirpichev commented on #8759
In fact, no, e.g. `f(x) = x**2*sin(sqrt(1/x))` for `x >= 0`.

But your claim still holds: this can be useful.

[2015-01-07 14:04] skirpichev commented on #8759
Indeed)

[2015-01-07 14:42] gxyd commented on #8746
I have modified the 'summation' method in the Concrete part. It seems to be working fine for me..
Can anyone tell me about it... ?

def summation(f, *symbols, **kwargs):
    r"""
    Compute the summation of f with respect to symbols.

    The notation for symbols is similar to the notation used in Integral.
    summation(f, (i, a, b)) computes the sum of f with respect to i from a to b,
    i.e.,

[2015-01-07 15:39] kaichogami commented on #8179
I am new to SymPy and I would like to work on this starter bug to start contributing as well as to get to know about the codebase.

[2015-01-07 16:10] skirpichev commented on #8746
@gxyd, please read [this](https://github.com/sympy/sympy/wiki/Development-workflow)

[2015-01-07 16:16] skirpichev commented on #8760
For example, I don't think how this can work with the current assumptions.  In some of your "assumptions" it the argument index of the function does matter.  E.g. `f=sin(x)*cos(y)` is even wrt `y`.

[2015-01-07 18:09] hargup commented on #8179
Great, go ahead, make changes, send a pull request and ask questions when in doubt.

[2015-01-07 20:10] asmeurer commented on #8760
I like the idea, but I'd much rather do this in the framework of the new assumptions.

[2015-01-07 20:18] pelegm commented on #8760
@skirpichev, good point. In @asmeurer's comments in #2671, he adds `var` argument to the `is_...` relevant methods, so perhaps that's the reason for it. Indeed, you must provide the relevant argument, even if you ask for `odd` or `bounded`. But your point is clear: that's probably can't be incorporated into the existing system of (old) assumptions.

@asmeurer, you know better than I am, so I'd fol

[2015-01-07 20:23] certik opened #8767 "== comparison returns True, but hashes differ"
All is good with caching on:
[code]
But when we disable cache:
[code]
Now the hashes are different, so also [1] must return False (that *is* the definition of a hash).

Another bug is that we never want a behavior change when caching is enabled.

[2015-01-07 20:30] certik opened #8768 "Subs in Subs returns incorrect results"
First without cache:
[code]
However, the output of [2] should be:
[code]
because [1] does not have any `x` in the final expression (it is substituted for 0). This is a major bug.

With caching enabled, there are more bugs, we found for example:
[code]
I.e. in [23] the `v` just contains `y`, but by multiplying by `x` in [24], suddenly `y` is changed for `x`... This test case can probably be simplif

[2015-01-07 20:31] asmeurer commented on #8760
The new assumptions would let you create a predicate like `Q.even_function` that can take arguments, like `Q.even_function(f(x, y), x)` means that `f(x, y)` is even with respect to `x`.

As far as how to write down facts for these things, that's something that's still being worked out. There are currently handlers, and also my system at https://github.com/sympy/sympy/pull/2508.

[2015-01-07 20:59] certik commented on #8768
The fix is simple:
[code]
I.e. the code in `Subs._eval_subs()` seems to be completely wrong. With this patch, only one test fails in the core:
[code]
and this test seems to be completely wrong, i.e. on the LHS Subs(x, x, 0) is simply 0, so if you do 0.subs(x, 1), the answer is 0. But the RHS is 1, so these two are not equal.

[2015-01-07 21:17] certik commented on #8768
Proper fix and tests submitted in #8769.

[2015-01-07 21:35] pbrady commented on #8768
It's interesting that there is a test for this behavior.  I'm assuming this means at some point that someone thought about this and decided it was a good idea.  I suppose it does have the benefit that `Subs` is treated like any other expression by `subs` whereas we are saying it should be treated differently.

[2015-01-07 22:38] cswiercz opened #8770 "rootof: x does not equal x.func(*x.args) when x is a RootOf"
I'm not precisely sure what role `Basic.func()` plays but the documentation states the following:

[code]

However, the following behavior is observed:

[code]

Since `r.func == RootOf`, in this case, the parameter `radicals=False` is not being passed to `r.func` since it's not in `RootOf.args`. A possible solution would be to include this parameter in `RootOf.args` but that doesn't make much sens

[2015-01-07 22:42] cswiercz commented on #8770
The main role of `radicals` is in determining whether or not to call `RootOf._roots_trivial()`...which simply returns the symbolic roots when the degree of the defining polynomial is one or two.

[2015-01-08 08:25] pelegm commented on #8760
@asmeurer, thanks for the explanation.

I think that I'll read #2508 more carefully, then play with new assumptions a little bit; in the meanwhile, I'll keep this issue open and fill it with "facts" that can be converted into "handlers" for new assumptions.

[2015-01-08 09:29] pelegm commented on #8760
This is a first attempt to discuss "known facts" of functional assumptions in the context of new assumptions. As a proof of concept, I've chosen the first assumption, `additive`. So these are the additive known facts; I ignore the variable issue for now, and I always assume that the function is of some symbol `x`. I'm not sure how to handle this more precisely at the moment.

Note: there are two c

[2015-01-08 09:37] pelegm commented on #8760
And this is a proof of concept for the `AskLinearHandler(FunctionalHandler)`:
[code]

This is in general quite difficult, but I'm writing it here to hear your opinion. For example, where and how can we take into account the relevant symbol/variable...

[2015-01-08 09:38] pelegm commented on #8759
I guess we should think of this in the context of #8760, so perhaps I can/should close this one?

[2015-01-08 10:59] pelegm opened #8772 "Limit of bell"
The limit of the combinatorial function `bell` at infinity is the unevaluated/undefined `bell(oo)`, which is not known to be infinite. It should be `oo`.

[2015-01-08 12:18] skirpichev commented on #8759
maybe

[2015-01-08 12:19] Zeleznyj opened #8774 "Missing parentheses in pprint output"
Parenthesis are sometimes missing in pprint output, when using MatrixSymbol. Here is an example that produces this issue.

[code]

Happens with sympy 0.7.6.

[2015-01-08 13:22] #8759 closed

[2015-01-08 15:03] aktech opened #8777 "And(x > 2,x < oo).as_set() returns EmptySet()"
`And(x > 2,x < oo).as_set()` returns `EmptySet()`
[code]
It should return `(2, oo)`

[2015-01-08 16:59] #8768 closed

[2015-01-08 18:44] smichr commented on #8777
The culprit is

[code]

But if assumptions allow, the solution is obtained:

[code]

[2015-01-08 18:50] aktech commented on #8777
@smichr
and the reason behind that culprit:
line 435 inequalities.py
[code]
The algorithm is not able to handle the situation when `start` and `end` both are infinity (positive and/or negative) as
(start + end)/2 returns nan.

[2015-01-08 20:01] nishithshah2211 commented on #8755
`roots` works fine and returns 3 solutions. I think the problem is with the recursive `_solve` call by the `unrad` part, which returns `[]` and the next line checks if `result` is still `False`.

[2015-01-08 20:22] toolforger commented on #8487
Is there even a mathematically useful definition of primality for infinities?
I'd expect is_prime to throw an exception for them.

This might be worth discussing in the mailing list.
And/or trying out that exception-throwing route, to find those parts of the test suite that even make assumptions about the primality of infinities.

[2015-01-08 20:36] skirpichev commented on #8487
No.  It should be either True/False or None.  None vs False (in case if assumption doesn't make sense) was discussed already, try to search over bugtracker.

[2015-01-08 20:57] toolforger commented on #8487
Okay, if these properties are used in assertions then an exception would not be right.
I'd still stick with None here. Primality isn't defined for infinities as far as I know.

[2015-01-08 20:59] thisch opened #8782 "substitution of symbols with 'real' assumption does not work"
[code]
outputs ``-1/sqrt(x**2 + y**2 + z**2)``

whereas in the following example ``r`` in ``b`` does not get substituted if ``x``,``y``,``z`` and ``r`` are real valued:
[code]
outputs: ``-1/r``

[2015-01-08 21:03] pelegm commented on #8487
Is it defined for imaginary numbers? For negative numbers?

I guess not. For all of these, `is_prime` returns False.
On Jan 8, 2015 10:57 PM, "Joachim Durchholz" <notifications@github.com>
wrote:

[2015-01-08 21:21] toolforger commented on #8487
Maybe these are incorrect, too.

[2015-01-08 21:32] skirpichev commented on #8487
On Thu, Jan 08, 2015 at 12:57:29PM -0800, Joachim Durchholz wrote:

None stands for "I don't know".  False - for "no" or "doesn't make sense".

[2015-01-08 21:33] skirpichev commented on #8487
On Thu, Jan 08, 2015 at 01:21:48PM -0800, Joachim Durchholz wrote:

Or maybe you should first read previous discussions
on the subject, right?

[2015-01-08 21:48] asmeurer commented on #8782
That's because `dict(r=rxyz)` is shorthand for `{'r': rxyz}`, and the string `'r'`gets translated to `Symbol('r')` (with no assumptions). Using this syntax is not recommended, for exactly this reason. Use `{r: rxyz}` instead.

[2015-01-08 21:48] #8782 closed

[2015-01-08 21:50] asmeurer commented on #8487
It should return False, because oo is not in the set of prime numbers. Fixing the infinity issues from https://github.com/sympy/sympy/pull/8134 will fix this automatically, because the assumptions system will know `prime -> integer -> real` and `infinite -> !real`.

[2015-01-08 21:54] toolforger commented on #8487
Am 08.01.2015 um 22:33 schrieb Sergey B Kirpichev:

Wrong.
I did.
Maybe you should give a useful reference.

[2015-01-08 22:22] thisch commented on #8782
Thx for the info.

[2015-01-08 23:26] skirpichev commented on #8487
On Thu, Jan 08, 2015 at 01:54:08PM -0800, Joachim Durchholz wrote:

Sure, I'll try to do.  AFAIR is was recent @smichr's issue (or PR).

[2015-01-09 02:47] asmeurer commented on #8760
A more common term for your "additive" is "linear".

[2015-01-09 02:48] asmeurer commented on #8760
Granted the two are not entirely identical, but additive but not linear is not common.

[2015-01-09 02:48] asmeurer commented on #8760
Another issue here: assumptions on the function may be dependent on an assumption about the domain of the function. How do we represent this. For instance, sin(x) is bounded if x is real.

[2015-01-09 02:59] asmeurer commented on #8760
I like the direction this is going. One thing I would caution about is to be *very* precise in your definitions of the assumptions. Ideally each assumption should have a precise unambiguous mathematical definition. There should be no controversy over any fact that you write down. I started doing this for the existing assumptions at https://github.com/sympy/sympy/pull/2538, but it wasn't finished (

[2015-01-09 06:02] pelegm commented on #8487
@asmeurer, so you say #8778 is redundant? I think that anyway it's good, at least for the meanwhile...

[2015-01-09 06:05] aktech opened #8783 "solve(x < oo) and solve(x > -oo) returns False"
[code]
It should return `And(x > -oo, x < oo)`.

[2015-01-09 07:00] pelegm commented on #8760
No argue this is complicated. However, I can imagine how to represent that in a system which resembles the old assumptions. Perhaps something like
[code]

[2015-01-09 07:04] pelegm commented on #8760
Agree. Do you have any idea where can I define all of these? Perhaps I should create a new text/rst file somewhere (in `sympy/assumptions`?), where the definitions and the abstract "facts" would slowly add up?

[2015-01-09 08:03] kaushik94 commented on #8783
This is correct. Try this
[code]

[2015-01-09 10:09] pelegm commented on #8760
Actually, I was not careful before. When I wrote `linear` I actually meant `linear function`, not `linear map`. That is, I wasn't intending to require `f(0)=0`, so, for example, `ax+b` is linear (but not additive if `b != 0`).

[2015-01-09 11:29] pelegm opened #8786 "Euler number of negative integers"
Currently `euler(-1)`, `euler(-3)`, etc. all evaluate to 0, as the first test in `euler.eval` is

[code]

but euler numbers are not defined on negative numbers, so this is wrong (and should probably raise a `ValueError`).

[2015-01-09 12:03] skirpichev commented on #8487
@toolforger, best I've found so far is #8045.

BTW, we should document this (i.e. in core/assumptions.py).

[2015-01-09 13:26] shivamvats commented on #8756
@amitsaha Are you fine with using `plt.close('all')` ?

[2015-01-09 13:47] amitsaha commented on #8756
@shivamvats can you pastebin a diff somewhere? here even. need not be a PR. Thanks.

[2015-01-09 17:27] smichr opened #8789 "create Root object"
Although some of this is discussed in [here](https://groups.google.com/forum/#!searchin/sympy/Fateman/sympy/40d-NGT_gF4/SJCETmfTfbkJ) I did not want this issue to get buried in the discussion.  When solving a radical expression like the following, SymPy's use of the principle root make solve miss a solution:

[code]

The 1/3 does not appear to be a solution because the principle value of the root

[2015-01-09 21:12] toolforger commented on #8487
I'm not sure that I follow Chris' logic there, but essentially it boils down to the question what callers expect of the is_* functions.
These questions can be surprisingly hairy. For Integer(5).is_prime it's clear that it should return True. For Rational(5,1), Rational(10, 2), and Complex(5, 0) one could argue that it's all the same old 5 number and should return True as well, or one could argue t

[2015-01-09 21:24] certik opened #8790 "Add detailed instructions for developing SymPy with Conda"
[code]
Add `~/bin` into my $PATH in `.bashrc`.

Then let's create a Python 3.4 environment and activate it:
[code]
Finally, let's add mpmath to it, so that we can use sympy:
[code]
So this currently fails. We can search on binstar, as it suggests:
[code]
Then we do:
[code]
So finally, we can do:
[code]
And it still fails, I assume because I use 64 bit linux? In any case, this needs to be fixed and

[2015-01-09 21:54] asmeurer commented on #8790
Your ln steps are unusual. For most people, the correct step is to let the installer edit the bash profile to add Miniconda to the PATH.

[2015-01-09 23:01] smichr opened #8792 "meijerint bug"
See [mailing list post](https://groups.google.com/forum/#!searchin/sympy/Tom%7Csort:date/sympy/DxnEb40HtvE/PzMvuUYb1O0J).

[2015-01-09 23:09] skirpichev commented on #8487
No.  None means "I don't know", not the wrong domain.

Coerced expression (i.e. Integer) has.  BTW, we don't have Complex Number's yet.

We have mathematical (Eq, and they are same) and structural (==, they are not same) equality.

No, we don't want that logical inference will blow up in random places.  If some property doesn't make sense - we can return False.

Please refer to the tutorial about

[2015-01-10 00:03] asmeurer commented on #8790
OK, mpmath is now on the official Continuum repos. So you can just `conda install mpmath`.

[2015-01-10 09:44] #8662 closed

[2015-01-10 10:16] toolforger commented on #8487
Am 10.01.2015 um 00:09 schrieb Sergey B Kirpichev:

In general, None has no fixed definition. It could be "don't know", or
"invalid question", or "don't care", or whatever the software package
assumes.
If "I don't know" is the proper definition here, then that should be
documented, e.g. in a docstring. Is it? (I haven't checked, too many
other things to do.)

Sure. If coercion is normal, then it's

[2015-01-10 11:32] shivamvats commented on #8756
Here's the diff:
https://gist.github.com/shivamvats/80cc147d26e4d577ead4

[2015-01-10 11:35] skirpichev commented on #8487
On Sat, Jan 10, 2015 at 02:16:19AM -0800, Joachim Durchholz wrote:

It is.

Next time, please do.  Sympy bugtracker - wrong place to
read documentation.

As Add(Number, Mul(ImaginaryUnit, Number))

http://docs.sympy.org/dev/tutorial/index.html

[2015-01-10 11:43] #8730 closed

[2015-01-10 11:43] toolforger commented on #8487
Overgeneral to the point of being useless.

[2015-01-10 11:48] skirpichev commented on #8487
I'm sorry, but for me, it looks you should read all tutorial, not just gotchas section (about equality).

[2015-01-10 12:21] toolforger commented on #8487
Am 10.01.2015 um 12:48 schrieb Sergey B Kirpichev:

section (about equality).

You made a very specific claim, namely that the docs define value equality.
The section about equality was indeed what I read, but as you noticed,
it's not what we're discussing.
So do me the favour and give a link to the section in question. I
already said why I can't read everything, but you keep ignoring that
(which

[2015-01-10 12:39] skirpichev commented on #8487
I'm just explain for you the difference between structural and mathematical equality in the SymPy.

http://docs.sympy.org/latest/tutorial/gotchas.html#equals-signs

[2015-01-10 13:28] amitsaha commented on #8756
thanks, your approach is straightforward and solve the problem. However, just seems a bit hackish.

What do you think of http://paste.fedoraproject.org/168081/89644114/raw/ ?

[2015-01-10 14:02] toolforger commented on #8487
Am 10.01.2015 um 13:39 schrieb Sergey B Kirpichev:

Nope, you're claiming I'm wrong and unable to prove the point.

That's exactly the section you just said I should not restrict myself to
reading.
Also, it's the section I actually read, and concluded that it does not
even define value equality.

Please do try to read why I write. If I'm unclear, please ask.
But *do not assume that I do not know w

[2015-01-10 14:05] skirpichev commented on #8487
@pelegm, I sorry for this noise in you bugreport.

[2015-01-10 15:09] skirpichev opened #8797 "ask(Q.real(x), Q.nonzero(x)) is True"
This should be None just like in the old assumptions (after #8293?).

[2015-01-10 15:59] pelegm commented on #8797
Perhaps we should have a different label for new assumptions?

[2015-01-10 16:54] asmeurer commented on #8487
@pelegm yes it will be. See what I did on that other pull request. Ideally objects won't have redundant assumptions defined on them, because it's just confusing. If oo is set as just `infinite = True` and `positive = True` then that is very clear that it's just those two assumptions that define the object.

[2015-01-10 17:15] pelegm opened #8798 "TypeError when checking whether DiracDelta equals 0"
Check this:

[code]

raises

[code]

[2015-01-10 17:18] pelegm commented on #8487
@asmeurer, I see, but the #8134 is closed, so perhaps we'll merge #8778 at least until either #8134 will be reopened/merged or when a proper substituion for #8134 will be merged?

[2015-01-10 18:34] pelegm opened #8800 "fibonacci(n).limit(n, oo) should be oo rather than fibonacci(oo)"
This is consistent with `factorial(n).limit(n, oo)`, `subfactorial(n).limit(n, oo)`, etc.

[2015-01-10 19:28] asmeurer commented on #8797
I'm still unsure about what nonzero should mean.

[2015-01-10 19:50] pelegm opened #8801 "Solving bell(x).diff(x)>0 leads to maximum recursion error"
The following:
[code]
leads to
[code]

[2015-01-10 20:04] pelegm commented on #8797
I guess it depends on other assumptions. Either way, it can't imply real. `1+I` is absolutely *nonzero*. I agree it should be `None` in this case.

[2015-01-10 21:16] skirpichev commented on #8797
@asmeurer I thought, it was discussed in #8134.  Should I add "Needs Decision"?

@pelegm Why?  `1 + I` is nonzero.  It should be True.

[2015-01-10 21:46] pelegm commented on #8797
@skirpichev, you've misunderstood me. I agree, `1+I` is `nonzero`. It should be `True` indeed. What I meant is that `ask(Q.real(x), Q.nonzero(x))` should return `None`.

[2015-01-11 04:46] asmeurer commented on #8487
#8134 is closed because as-is, it cannot be merged, and I don't have the time to finish it myself (and leaving it open would just give the illusion that I might). What needs to be done is to cherry-pick the commits from that PR that haven't already been cherry-picked into master, and all the issues fixed.

#8778 is mostly harmless, but whenever we do clean that up we should remove redundant assump

[2015-01-11 07:51] pelegm opened #8802 "ask(Q.even(x*y), ((Q.even(x) & Q.integer(y))|(Q.integer(x) & Q.even(y)))) should probably return True"
Now it returns `None`.

[2015-01-11 08:00] pelegm opened #8803 "New (definite-related) assumptions for matrices"
The following new assumptions for matrices are not implemented:
[code]
and a couple of more stuff to think about:

* `Q.positive_semidefinite`
* `Q.negative_definite`
* `Q.negative_semidefinite`
* `Q.indefeinite`

[2015-01-11 08:23] asmeurer commented on #8802
Works in #2508.

[2015-01-11 08:25] asmeurer commented on #8797
All the other "non" assumptions imply real (nonpositive, noninteger, etc.). Also if nonzero = !zero then it's basically useless, as one could always just use that.

[2015-01-11 11:09] Amitjha1412 commented on #8757
Hi ,
I am new to Sympy community. I wanted to get started with this bug. Can you please explain more about this bug ?

Thanks.
Amit

[2015-01-11 11:16] pelegm commented on #8757
@Amitjha1412, @aktech is already working on this issue.

[2015-01-11 11:42] Amitjha1412 commented on #8634
Hi ,
I am new to Sympy community. I wanted to get started with this bug. Can you please explain more about this bug ?

Thanks.
Amit

[2015-01-11 11:47] pelegm commented on #8634
Can you ask a more specific question?

[2015-01-11 11:51] pelegm commented on #8797
@asmeurer, you have some point there; if `nonzero` is redundant, we can either remove it, or leave it as an "alias" to `!zero`.

However, I'd take it one step further: I don't think `nonnegative` should imply real. It should imply it, assuming `number`. There are [`nonnegative` matrices](http://en.wikipedia.org/wiki/Nonnegative_matrix) as well. (same with `nonpositive`)

[2015-01-11 11:55] pelegm commented on #8797
If I understand correctly, the new assumptions do not assume `number`. So a general symbol may be a matrix as well (or a set?). Hence, if we wish to be very precise, it does not even make sense to infer `real` from `positive` or from `integer`, as there are `positive` matrices and `integer` matrices (and so on). Only when `number` is also assumed, we may infer `real`.

[2015-01-11 11:55] Amitjha1412 commented on #8634
Where should i start looking into?

[2015-01-11 11:56] pelegm commented on #8634
I have no idea. I just reported the bug, I don't have a clue about where to start looking for a solution.

[2015-01-11 12:19] skirpichev commented on #8757
Please start [here](https://github.com/sympy/sympy/wiki/introduction-to-contributing) and [here](https://help.github.com/).  Please be familiar with github's interface.

[2015-01-11 12:37] skirpichev commented on #8797
Yes.  This is exactly one of your arguments, discussed in #8134.

Shouldn't we move on, instead of repeating same again?  I thought we all were agreed on fact modifications in #8134.

[2015-01-11 12:41] #8757 closed

[2015-01-11 13:15] skirpichev commented on #8487
What about changes in assumptions.py.  Should we discuss them again?

[2015-01-11 16:45] Amitjha1412 commented on #6908
Is anybody still working on this bug?

[2015-01-11 17:14] skirpichev commented on #6908
#2209 is still open

[2015-01-11 17:29] rwst opened #8804 "series expansion of 1/x ignores order parameter"
This should yield `1/x+O(x^8)`:

[code]

[2015-01-11 17:33] rwst opened #8805 "series barfs on trivial inputs"
This is unexpected:
[code]

[2015-01-11 17:34] certik commented on #8790
Excellent, I tested it, and it works. Here are the instructions:
[code]
And sympy works, from the git repository.

[2015-01-11 17:51] skirpichev commented on #8804
That's not a bug, maybe documentation issue.

[2015-01-11 17:53] skirpichev commented on #8805
SymPy is not a Sage.  We don't support x^6 syntax.

[2015-01-11 18:06] skirpichev commented on #8805
see fix in #8806

[2015-01-11 18:09] asmeurer commented on #6908
But I think it's abandoned. It you want to pick up the work there feel free.

[2015-01-11 18:21] skirpichev commented on #8790
conda itself is a non-standard tool (e.g. in the Debian).

I think, we should promote also more usual variants with virtualenv/pip.

[2015-01-11 18:31] shivamvats commented on #8756
@amitsaha I agree. Your approach is much better.
We could also split the tests into manageable chunks/functions and use a decorator to close the images. Splitting the tests will also make the code much more readable.
https://gist.github.com/shivamvats/ca9c39cecc1776348f50

[2015-01-11 19:29] aka001 opened #8807 "factorial(0).is_composite returns True, the answer however should be False"
True

[2015-01-11 19:31] pelegm commented on #8802
@asmeurer, are you sure? I've just fetched asmeurer/sympy (c10daac083cfb83f7fa5a5a454942b8b6d6b2c22), and tried
[code]
and got `None`...

[2015-01-11 19:32] pelegm commented on #8802
Indeed, it works there. But surprisingly slow...

[2015-01-11 19:34] pelegm commented on #8373
@smichr, `Or(x < 1, x >= 1)` now simplifies to `True`, that's good. However, `Or(x <= 1, x >= 1)` does not simplify at all, nor does `Or(x < 1, x > -1)`. Should that become a new bug report?

[2015-01-11 19:39] pelegm commented on #8807
The real bug is that 1 is considered composite. This appears in `core/assumptions.py`, in the following line:
[code]
there's a relevant discussion in #8081, but this is absolutely a bug.

[2015-01-11 19:40] pelegm commented on #8807
Oh, and it shouldn't be `None` but rather `False`. 1 is not composite.

[2015-01-11 19:42] aka001 commented on #8807
@pelegm true that. Edited.

[2015-01-11 20:21] aktech commented on #7982
@skirpichev  @satels

It returns False because the expression `2*x**2 + 5*x + 20` is positive for any value of `x`.
Reason: for the given quadratic, coefficient of `x**2` is positive and Discriminant is negative, this is a  sufficient condition for a quadratic expression to be positive.
[code]

solve([x3 - 8.88*x2 - 56.08*x/5 - 106 >= 0, x - 1 <= 0], [x])

[code]

[2015-01-11 20:24] pelegm opened #8808 "1 is composite according to the new assumptions"
Following #8807, both in master and in `asmeurer/newassump`, `ask(Q.composite(1))` is `True`.

I guess the problem is in that line:
[code]
according to which, since `1` is not prime, but is a positive integer, it must not be composite.

I guess the only way to overcome this is to implement relationals, and replace `Q.positive` with something that will signifies `>1`.

[2015-01-11 20:35] aka001 commented on #8808
I want to solve this issue. Can you please help me in getting started?
Is there any ask key defined from "one"?
If there's no ask-key defined for "one", do we need to define a key for "one" to solve this issue?

[2015-01-11 20:49] pelegm commented on #8803
For the record, here's a more complete list of matrix assumptions that may be added:
[code]

[2015-01-11 20:50] pelegm commented on #8808
I don't think so. I think that `ask` should be implemented on relationals first, and I don't see that coming soon...

[2015-01-11 22:00] skirpichev commented on #7982
@aktech, please try to understand the issue first.

[2015-01-11 22:06] skirpichev commented on #8807
Perhaps, we can replace `==` with `->` (implies)

[2015-01-11 23:46] danaj commented on #6908
@Amitjha1412, @skirpichev is correct that this should be fixed by 2209.  I will get that completed in early February.

[2015-01-12 02:55] jcrist commented on #8803
Many of these are already implemented in the new assumptions system: https://github.com/sympy/sympy/blob/master/sympy/assumptions/ask.py

[2015-01-12 03:42] smichr opened #8810 "Poly keyword composite is ignored when instantiating from Poly"
Although Poly will modify the domain

[code]

it doesn't respond to the keyword `composite`:

[code]

This has implications when solving for the roots of the Poly:

[code]

I believe this should be fixed in the `_from_poly` routine by modifying the block

[code]

to include the appropriate call that will update the poly with a composite domain. It will take some research to see what that call shou

[2015-01-12 04:15] aktech commented on #7982
@skirpichev

.

Out[15]: False

I have gone through this in a debugger, I don't see an exception.
I had understood the issue, I have not given the example for system of equation (in comment above) in the issue, as for a system of equation to have a solution every equation must have a solution.
Then how can we expect the solution for this system: `2*x**2 + 5*x + 20 <= 0`, `x >= S(3)/2` when this eq

[2015-01-12 06:45] pelegm commented on #8808
Perhaps we can fix it similarly to #8809: replace `Equivalent` with `Implies`. But that's only a partial solution, since we still need relationals for the other direction, I guess.

[2015-01-12 06:50] pelegm commented on #8803
And one more thing: shouldn't we have `number`, `matrix`, etc. assumptions?

[2015-01-12 09:31] pelegm commented on #8633
The new assumptions equivalent would be to demand the two following statements to return `True`:
[code]

[2015-01-12 11:41] skirpichev commented on #7982
Last attempt.  Please read the issue first.

[2015-01-12 11:59] aktech commented on #7982
Sorry, I mistakenly wrote "inequality" as "equation". I have updated my comment.

[2015-01-12 14:55] aka001 commented on #8062
Why the PR is not merged? :/

[2015-01-12 15:03] skirpichev commented on #8062
Please read this thread first.

[2015-01-12 15:18] aka001 commented on #8062
@skirpichev Okay, just read it. The PR didn't pass travis CI, sorry I didn't see that.

[2015-01-12 15:53] skirpichev commented on #8062
No, here is the [answer](https://github.com/sympy/sympy/issues/8062#issuecomment-56259532).

[2015-01-12 16:00] aka001 commented on #8062
Okay. :thumbsup:

[2015-01-12 17:30] cbm755 commented on #8564
I lied `x*x == pi*pi` does not work.

I have tracked this down to a call to `f = f.evalf()` on line 2520 of solvers.py.  In my example, f will be `x**2 - pi` and evalf of this gives `x**2 - 3.14159265358979`.  And of course it doesn't matter how much precision one uses to solve that, it'll be limited to the 16 digits.

Perhaps I'm not supposed to be using `mpmath.mp.dps` to control nsolve, but the

[2015-01-12 17:39] cbm755 commented on #8564
So I can "fix" this by replacing the call `f = f.evalf()` with:
[code]
I'll submit a merge request later.

Another option would be to make `.evalf()` respect `mpmath.mp.dps` but I should problem read more about how Floats are supposed to behave in SymPy first!

[2015-01-12 19:21] smichr opened #8813 "asymmetry in roots result for quadratic expression"
[code]

It would be preferably to have the former result be +/-(z - 1), too.

[2015-01-12 20:51] asmeurer commented on #8790
I personally care more about tools that work well and minimize the amount of work we have to do to help people set up their development environment than about being "standard" (whatever that means). Conda is better here than pip, especially when you start to add Windows to the equation (and very especially if someone needs to install a package that isn't pure Python like numpy or the IPython noteb

[2015-01-12 21:23] smichr opened #8815 "make it easier to compare numbers"
[code]

It should be easier to compare numbers. Perhaps something like the following should be incorporated into equality testing for numbers?

[code]

Although string comparisons are often used successfully, a string comparison failed when using GMPY. The run is [here](https://travis-ci.org/sympy/sympy/builds/46880654) and the particular error is shown [here](https://travis-ci.org/sympy/sympy/job

[2015-01-12 22:44] certik commented on #8790
Exactly. Or CSymPy... Conda is a solution that fixes all these issues. Hashdist too. But pip doesn't.

[2015-01-13 00:19] skirpichev commented on #8790
On Mon, Jan 12, 2015 at 02:44:08PM -0800, Ondřej Čertík wrote:

Hmm, pip works for me in the Debian out of the box, but
not Conda (which is external software).

[2015-01-13 00:25] moorepants commented on #8790
Yes, pip is fine for sympy + mpmath. But if you want to use some of SymPy modules that depend on Cython, Theano, IPython, etc conda makes it extremely easier to deal with those dependencies. You can potentially use the Debian package manager for those too, but you'll often be stuck with older versions that you may prefer.

We should have instructions for both pip/virtualenv and conda based develop

[2015-01-13 02:41] asmeurer commented on #8062
Shouldn't this be closed?

[2015-01-13 07:50] rwst commented on #8585
Obsolete with mpmath unbundling.

[2015-01-13 07:50] #8585 closed

[2015-01-13 10:09] cbm755 opened #8818 "lambdify precision loss with module=mpmath from high-precision Floats"
Floats with more than 16 digits are converted to double precision somewhere.

Consider:

[code]

Note `h` has a 64-digit accurate Float in it (and the value is correct).

But lambdifying `g` and `h` is not same:

[code]

The help string for `f2` shows no loss:

[code]

I haven't figured out how to look at the actual code yet, but somewhere something is being converted to double-precision (which mi

[2015-01-13 10:09] cbm755 commented on #8564
Hmmm, this is a rabbit hole for sure.  Filed #8818 for lambdify problems.

[2015-01-13 10:23] cbm755 commented on #8818
Tracked down a bit: lambdify.py line 376 calls python's builtin `eval` from a string representation of the function.  This will convert the 64 digit float into a double precision.

Perhaps this is a design decision of `lambdify`: currently it cannot support more than double precision.  But then what is "module=mpmath" supposed to do here?

[2015-01-13 12:27] skirpichev commented on #8062
If you are sure this idea is bad.

[2015-01-13 12:42] skirpichev commented on #8790
It works for me in case of any software from the scipy stack.

[2015-01-13 13:10] #8252 closed

[2015-01-13 13:10] #8613 closed

[2015-01-13 13:10] #8777 closed

[2015-01-13 13:10] #8783 closed

[2015-01-13 17:21] aka001 commented on #8803
@pelegm The command ask(Q.square(x*transpose(x))) gives true for me:

[code]

[2015-01-13 17:24] moorepants commented on #8790
No one is claiming that pip can't work for the SciPy stack. In fact, I'm able to install pretty much all software in the SciPy stack via pip too, but it takes a great deal more effort to properly specify all of the dependencies. The other annoying issue, is that for every single virtualenv that you create you have to recompile all of the dependencies or try to hack it with symlinks (which doesn't

[2015-01-13 18:17] darkcoderrises commented on #6405
Hi, i would like to work on this.Can someone guide me ?

[2015-01-13 18:23] moorepants commented on #8818
If you check the history of lambdify, someone refactored it long back and added the "modules" support. I personally never understood why the sympy or mpmath modules are necessary at all, because evalf and subs already give that functionality. I'd be fine with removing them because I've never heard of a use case.

[2015-01-13 18:26] skirpichev commented on #6405
@hargup are you ready to mentor? ;)

[2015-01-13 20:35] pelegm commented on #8803
@aka001, you've defined a proper matrix. I have defined `x` to be a symbol.

[2015-01-13 21:31] asmeurer commented on #8487
Yes. Those are more or less what that pull request *is* (there were some other changes, but they've all been included in https://github.com/sympy/sympy/pull/8293). The rest is just fixing the code to match them. We need to figure out what assumptions definitions make sense, particularly for real and positive.

[2015-01-13 21:34] asmeurer commented on #8797
I agree it's not worthwhile to repeat the arguments without making code changes. When working on #8134 I started to second guess some of my arguments because it wasn't clear that the actual usage of the assumption matched what it seemed like it should be. So my current position on nonzero (as well as most of the real/positive/extended_real stuff) is that we should really take a look at how it is u

[2015-01-14 03:42] hargup commented on #6405
yes :),

cool, go through the implementation of `Real` class in `sympy.sets.fancysets`. Read [this](https://github.com/sympy/sympy/issues/6405#issuecomment-52150880) and following comments . This should give you a clear idea of what needs to be done. If not ask questions, even if you think your question is very silly. Then make changes and send a pull request. Also go through the [Developement wor

[2015-01-14 09:39] skirpichev commented on #8805
@smichr, please close this.

[2015-01-14 10:49] skirpichev commented on #8708
Actually, both)  Sympy miss some reall solutions of the Lambert's transcendental equation and (if that's fixed) it can't compare some such roots numerically (zero-decision problem).

[2015-01-14 12:39] cbm755 opened #8821 "N(<decimal string>) limited to double precision"
Is input like `N('1.23')` supposed to work?  It is limited to double precision.

[code]

Let's look at the `N` code:
[code]
So this happens because `N` runs `sympify(str)` which has no knowledge of `n`.

It should be easy enough to special-case strings that contain a decimal point (and only digits).  We could call Float directly in those cases.

Even so, some cases that would still lose precision:

[2015-01-14 13:13] skirpichev opened #8822 "hyperexpand bug?"
from [here](https://groups.google.com/forum/?fromgroups=#!topic/sympy/lWMg1lCDnso):

[code]

If I use Rational(3.5), sympy return nan instead.  And it seems the problem is hyperexpand, on the line
717 of summations.py we have `h = hyper((9, S(9)/2, 1), (10, S(11)/2), 1)` and convergence_statement is True.  But hypexpand return nan.

As a workaround, sympy could return here unexpanded hyper() insta

[2015-01-14 16:39] cbm755 commented on #8821
I looked a bit deeper to see what `sympify(string)` does.  It seems to coerce to `float` (lowercase Python float, double precision).  Is it desirable to change that?

i.e., do we want this
[code]
to be the same as:
[code]

[2015-01-14 16:47] asmeurer commented on #8708
Lambert equations have infinitely many complex solutions. Ideally solve would always return them all.

[2015-01-14 18:59] pelegm commented on #8203
Perhaps it worth mentioning this:
[code]

[2015-01-14 19:05] pelegm opened #8823 "Proposition: a domain of a function"
I believe we should have the notion of a domain of a function. In fact, I think that every expression should have a `.domain` method, which receives a tuple of symbols, and returns a domain (partial to the cartesian product set). There can be more than one method to implement a `domain`, but it would be the best to implement it as `Set` instances.

So, for example:
* the domain of every expression

[2015-01-14 19:11] pelegm commented on #8823
Motivation came from:

* #7870 (@shivamvats)
* #8715, as noting the domain of the expressions in the inequality and intersecting it with the solve result may fix the issue in a general way
* #8730, as in @skirpichev's comment
* #8760, as some of the functional assumptions require the notion of a domain

[2015-01-14 19:14] skirpichev commented on #8203
It's a bug.

[2015-01-14 19:15] aktech commented on #8823
I think we could also expand the singularities module to find the singularities of the function and remove singularities from the solution, this could save us from a lot of unexpected results.

[2015-01-14 20:19] smichr commented on #8821
I would vote 'yes' under the assumption that you should get what you are asking for, especially in a *symbolic* system like SymPy -- if one typed those symbols, it is fair to expect that they wanted all of them to be represented in the returned number.

[2015-01-15 02:05] smichr commented on #8789
One way to do it for roots would be to return something like:

[code]

[2015-01-15 05:28] darkcoderrises commented on #6405
what should be the output of
ImageSet(lambda(x,x),S.complex)

[2015-01-15 06:29] mihir-w commented on #8815
Hi, I am new to open source in general and am trying to solve this bug.
While comparing the Floats, mpf_eq function is used where a._mpf_ and b._mpf_ are passed as arguments.
As mentioned above, if normalized tuples are instead sent as arguments ( With precision being the greater precision of the two numbers ) to mpf_eq, comparison works fine.
Does this approach seem correct ?

[2015-01-15 11:21] maito78 opened #8824 "python 3.4 and lambdify - SyntaxError: more than 255 arguments"
Hi, I am working on a code where I used lambdify for more than 256 elemets.
I'm using IPython Notebook, and with python 2.7 I have no problems, but with Python 3.4 I obtain this error: *SyntaxError: more than 255 arguments*
Here an example:

[code]

[code]

When the code runs in Blender the error is:
[code]

[2015-01-15 12:42] cbm755 commented on #8821
Yes my feelings too.  I'll try to take a look at this.

For the record, may need to be a bit careful:
[code]
Where note the new approach would give a different `prec=`.

Also: I was wrong when I said it coerces to `float`.

[2015-01-15 13:13] #8708 closed

[2015-01-15 13:21] skirpichev opened #8825 "Can't use both weakref's & cache"
Without the cache:

[code]

With (builtin version, no fastcache):

[code]

clear_cache() doesn't help here.

---

BTW, I use this trivial patch to make Symbol's weakref-able:

[code]

[2015-01-15 13:21] skirpichev commented on #8825
@pbrady, what do you think?

[2015-01-15 13:26] skirpichev commented on #8708
I don't think it's possible.  solveset - a good candidate for.

[2015-01-15 13:46] pbrady commented on #8825
What happens if you manually trigger gc after clearing the cache?

[2015-01-15 14:00] skirpichev commented on #8825
On Thu, Jan 15, 2015 at 05:46:23AM -0800, Peter Brady wrote:

Nothing.  Perhaps, I do something wrong?

$ ./bin/isympy -q

Welcome to pylab, a matplotlib-based Python environment [backend: TkAgg].
For more information, type 'help(pylab)'.
IPython console for SymPy 0.7.6-git (Python 2.7.3-64-bit) (ground types: gmpy)

In [1]: import weakref, gc

In [2]: d = weakref.WeakKeyDictionary([(x,1), (y, 2)]

[2015-01-15 16:00] pbrady commented on #8825
I don't think so.  This doesn't make a lot of sense though.  After a call to clear_cache, there shouldn't be any more instances around.  Maybe clear_cache is broken?

[2015-01-15 16:11] skirpichev commented on #8825
On Thu, Jan 15, 2015 at 08:00:26AM -0800, Peter Brady wrote:

AFAIR, I tried also del'ing everything from the CACHE.

[2015-01-15 16:13] pbrady commented on #8825
I thought maybe IPython was keeping extra references so I tried in the repl.  Same results.  Cache is definitely empty.

[code]

[2015-01-15 19:26] chaffra commented on #8743
In the latest trunk version it works. However Lorentz.epsilon is still None.

[2015-01-15 19:30] #6688 closed

[2015-01-15 19:35] skirpichev opened #8827 "AssumptionsContext should have consistent assumptions"
[code]

I think, we should raise an exception before print statement.

[2015-01-15 19:45] hargup commented on #6405
ImageSet(lambda(x,x),S.complex)

It should be `S.Complex`

What is your use case? If by "send back" you mean returning two sets then you can return a tuple. `(set1, set2)`

[2015-01-15 19:50] asmeurer commented on #8827
I'm not sure if this is a good idea. This would make `assuming` a potentially non-cheap operation, as it would have to call the SAT solver.

[2015-01-15 19:51] smichr opened #8828 "real solution missed in nonlinear system"
Problem identified in http://stackoverflow.com/questions/27956969/cant-get-real-solution-with-sympy-solve: solving a set of equations in one form causes solutions to be missed. Basically we are looking for the intersections of 3 circles.

[code]

F has 2 real solutions

[code]

The solutions to F satisfy G

[code]

BUT...there are not real solutions found when solving G

[code]

Solving with check

[2015-01-15 20:39] smichr commented on #8815
I don't think so. I think the simpler problem has to be solved first: how to get the above comparison to succeed. The following are a few things that I tried quickly to show some different aspects of the problem.

[code]

False

False

True
[code]

True

True

False
[code]

False

False

True
[code]

...   a = sqrt(2).n(i)
...   p = a._prec
...   while 1:
...     if F(a._mpf_, a._prec)!=F(a._mpf_,

[2015-01-16 00:24] QuLogic commented on #7226
Are you sure about that? http://docs.sympy.org/latest/modules/galgebra/index.html points to http://docs.sympy.org/latest/modules/galgebra/ga.html which 404s, while GA.html would work fine.

[2015-01-16 01:42] petarmaric commented on #8821
I think the same underlying issue is causing #2439

[2015-01-16 02:08] asmeurer commented on #7226
Maybe only the dev docs were fixed.

[2015-01-16 03:42] darkcoderrises commented on #6405
I thought that and tried also, then the output of ImageSet(lambda(x,x),S.complex) comes out ,
 {x | x ∊ ((-∞, ∞), (-∞, ∞))}
Do i have to just create a class or update it in other places also?

[2015-01-16 04:13] hargup commented on #6405
{x | x ∊ ((-∞, ∞), (-∞, ∞))}

Save the output to some variable, say `var` and do `type(var)`. If the output is something like `sympy.sets.fancysets.Complex` then you are doing it right. You see `{x | x ∊ ((-∞, ∞), (-∞, ∞))}` as output because you might not have written a printer for `Complex` class and it is using the printer of `ImageSet`. Write printing functions for `Complex` in `sympy.printing

[2015-01-16 05:25] moorepants commented on #8824
You don't need a custom function to create varP. `Matrix` has this built it:

[code]
Can you use a `DeferredVector` of length 100 * 3 for this instead? Ideally, `MatrixSymbol` would work with `lambdify`, but this is an open bug: https://github.com/sympy/sympy/issues/8512.

The failure must be coming from the generated lambda function having a length limit on the number of characters in its argumen

[2015-01-16 06:36] smichr commented on #8828
Two alternate real solutions are selected when manual=True:

[code]

[2015-01-16 08:25] pelegm opened #8830 "Inconsistency in errors raised or not raised by comparing non-sets and sets"
`int <= FiniteSet`
----
[code]
raises
[code]

`int < FiniteSet`
----
[code]
raises
[code]

`Symbol <= FiniteSet`
----
[code]
raises
[code]

`One <= FiniteSet`
----
[code]
raises
[code]

`int <= Interval`
----
[code]
and these should raise. Same happens with `float < Interval`.

`int <= Set`
----
[code]
(same here)

`int <= EmptySet`
----
[code]
(same here)

-----

We have to decide what is the err

[2015-01-16 08:47] escher9 opened #8831 "NameError: global name 'z1e400' is not defined"
![bandicam 2015-01-16 17-46-52-905](https://cloud.githubusercontent.com/assets/5399495/5773609/b0349cd0-9da7-11e4-8e1e-00006b641063.jpg)

[2015-01-16 09:39] cbm755 commented on #8821
@petarmaric:  can you check if my proposed merge request #8826 helps?  I would, but cannot easily install:
[code]

[2015-01-16 10:13] pelegm commented on #8831
Please avoid reporting issues like that. There are several problems with it:

1. it's not searchable
2. it's hard do read
3. it's impossible to understand what you've tried to do

[2015-01-16 10:20] pelegm opened #8832 "Comparing a symbol with a matrix symbol"
We don't have any assumption `is_matrix`, neither in the old nor in the new assumptions system. I guess it is like that since we have a different class for these: `MatrixSymbol`, which is not even a subclass of `Symbol`. In this case, I'd expect that one will not be able to compare instances of the classes `Symbol` and `MatrixSymbol`. However,
[code]
This should probably raise an error instead; wh

[2015-01-16 10:23] pelegm opened #8833 "Comparing matrices"
The following is rather unexpected:
[code]

I guess that this is so as `MatrixSymbol` does not define comparison methods?

[2015-01-16 12:17] mihir-w commented on #6384
Hi! I am interested in contributing. Can anyone help me by pointing towards some long functions/files ?
Thank you.

[2015-01-16 12:20] darkcoderrises commented on #6405
how to save the output?

[2015-01-16 14:36] jugnu commented on #8813
But :

{x: 1, -x: 1}     +/- format..    // There is only a difference of symbol yet we are getting a +/- format

{-y: 1, y: 1}
How change in symbols are giving differnt answer to same equation ???

[2015-01-16 14:43] maito78 commented on #8824
Thanks for the advice.
`DeferredVector` works well. It is also possible `lambdify` more than one DeferredVector at time.

[code]

[2015-01-16 17:44] smichr commented on #8813
The order that items are printed in a dictionary can vary. In both cases the keys are +/-s where s is the symbol you solve for so all's well there.

[2015-01-16 17:47] asmeurer commented on #8813
I seem to remember opening an issue for this before. The quadratic equation can always denest `sqrt(x**2) = x` because it automatically includes both +/- (and `sqrt(x**2)` always equals `+/- x`).

[2015-01-16 18:32] smichr commented on #7158
This integral no longer gives an error but if an Or were to be encountered in an expression being simplified, the error that "'Or' object has no attribute 'as_numer_denom'" would still remain.

[2015-01-16 18:33] smichr commented on #7158
I am closing this and will open another more specific to the failure.

[2015-01-16 18:33] #7158 closed

[2015-01-16 18:43] smichr opened #8834 "methods not defined for Or and friends"
Formerly (issue #7158), simplification of an integral identified that Or did not have `.as_numer_denom` defined. That integral no longer gives that error but the problem is still potentially there. This issue is just documenting that issue; I have not researched whether the issue has been worked around or not.

[2015-01-16 19:32] smichr opened #8836 "powsimp drops factor"
[code]

The problem is with bkey which, for exp(I*pi/3), returns

[code]

[2015-01-16 19:52] asmeurer commented on #8789
We already have RootOf, which can probably be made to handle this.

[2015-01-16 19:55] smichr commented on #8789
Do you mean for something like root(-2, 3, 1) we get back RootOf(x**3 + 2, 0) (both referring to the real root)?

[2015-01-16 20:01] asmeurer commented on #8789
I don't remember how RootOf counts roots if 0 is the real one or not.

[2015-01-16 20:02] asmeurer commented on #8789
The point is with RootOf is that even if the root is not principal you have enough information to recover the remaining roots.

[2015-01-16 20:50] mihir-w commented on #8815
Pardon me if this seems stupid, but here is what I am thinking.

Consider the following example:
[code]

So here the two tuples finally became equal when the numbers have failed *twice*.  So we would also need to check *how many times* the number have failed before the required precision can be known and used in `mpf_norm` .

Instead what if we keep the numbers at default precision. Whenever a use

[2015-01-16 22:09] Kellel opened #8838 "E**x + 2**-x + 2*cos(x) -6 @ 1.5 doesn't simplify"
The following code:

    expr = E**x + 2**-x + 2*cos(x) -6
    expr.subs(x, 1.5)

Gives:

    -1.37683652632653 + 2**(-1.5)

Instead of evaluating to ~ -1.02328.

Am I doing something wrong?

[2015-01-16 23:29] petarmaric commented on #2439
I'm on sick leave (yay?), so I finally have some time to try and figure out which SymPy commit introduced a regression that caused beam_integrals tests to fail.

Please note, this is all done **without** gmpy installed and **without disabling** the SymPy internal cache.
If the variables:

* `gmpy_installed` (no, 1.x via Ubuntu package, 2.x via source code install) and

* `sympy_cache` (disabled, e

[2015-01-16 23:48] petarmaric commented on #2439
Can't prove it right now, but I have a "feeling" that this line https://github.com/sympy/sympy/commit/b84674d6ee847b352d0676f15be88e7e8ebedf10#diff-6cd5274897d73197c25bc41e9afe63e4R565 (L565-L566) is causing issues with https://bitbucket.org/petar/beam_integrals/src/9a74e91d5a5f50e2639a7e3aeb6de9a486d6e59d/beam_integrals/characteristic_equation_solvers.py?at=default#cl-46 (see the comment on L50-L

[2015-01-16 23:52] petarmaric commented on #8821
Sorry for the trouble but I still feel `beam_integrals`, altough quite stable, needs a bit more work before "blessing" an official release. If you wish you can grab the current dev version from https://bitbucket.org/petar/beam_integrals

Also, I'm sorry to say your proposed merge request #8826 has no effect on my problems, see https://github.com/sympy/sympy/issues/2439#issuecomment-70339616 for mo

[2015-01-17 06:35] aktech commented on #8838
You need to use evalf() to evaluate `2**(-1.5)`
[code]

[2015-01-17 06:49] darshanime commented on #8838
Or you could also use the `N()` function.

Like this ::
[code]
Read more about numerical evaluation [here](http://docs.sympy.org/dev/modules/evalf.html)

[2015-01-17 07:46] pelegm commented on #8838
Either way, this is not a bug, so you can close this one. If you wish, you may continue the discussion on gitter.

[2015-01-17 08:29] shivamvats commented on #8823
This issue looks like a duplicate. See #6054

[2015-01-17 08:46] #8838 closed

[2015-01-17 09:07] pelegm commented on #8823
Related indeed, but absolutely not a duplicate.

[2015-01-17 16:31] asmeurer commented on #2439
@smichr that was your commit.

[2015-01-17 16:51] hargup commented on #6405
assign it to some variable `var = ImageSet(Lambda(x, x), S.Complex)`, or if you are using the IPython console then `_` stores the output of the last run command.

[2015-01-17 16:55] darkcoderrises commented on #6405
if i do var =  ImageSet(Lambda(x, x), S.Reals) then type(var) it comes imageset not reals

[2015-01-17 17:03] DLunin opened #8840 "sympy fails to construct (1 + x)*x with disabled cache"
python v. 3.4, sympy v. 0.7.6
When caching is disabled (i.e. `SYMPY_USE_CACHE=no`)
[code]
goes to infinite recursion.

[2015-01-17 17:11] cbm755 commented on #2439
@petamaric: if you're right, my change in #8826 won't help because the new path still runs that same code (as you've already discovered).

[2015-01-17 17:26] hargup commented on #6405
oops, I'm sorry I should have mentioned earlier. You should use `imageset` instead of `ImageSet`. `ImageSet` always returns an unevaluated instance. See https://github.com/sympy/sympy/issues/7655

[2015-01-17 19:10] mihir-w commented on #8836
`bkey` is returning the same tuple for both `exp(I*pi.3)` and `root(-1,3)` which is causing problem. ( Factor gets dropped). If instead a check is made, whether the tuple returned is already present or not and then accordingly changing `c_powers` and `common_b`, I am getting correct answers.
Does this approach seem correct ?
Thanks

[2015-01-17 23:55] darkcoderrises commented on #6405
but imageset do not support tuple or list

[2015-01-18 04:24] hargup commented on #6405
Where do you need a tuple or list? Can you give me an example of code you are trying to run.

[2015-01-18 07:20] darkcoderrises commented on #6405
class Complex(with_metaclass(Singleton, Interval)):

	def __new__(cls):
		return [Interval.__new__(cls, -S.Infinity, S.Infinity),Interval.__new__(cls, -S.Infinity, S.Infinity)]

type(imageset(Labmda(x,x),S.Complex))

[2015-01-18 11:29] hargup commented on #6405
An ImageSet can have products of an interval as input set. See https://github.com/sympy/sympy/issues/6405#issuecomment-52150880

[2015-01-18 11:31] cbm755 commented on #2439
@petarmaric one way to "prove" it would be a minimum (non)-working example---several lines of code that demonstrate what does wrong.  I expect you're in a better position that we are to do this, as you (obviously) understand the `beam_integrals` code better.

This would go a long way to getting this resolved!

[2015-01-18 14:26] #8591 closed

[2015-01-18 14:26] #8679 closed

[2015-01-18 14:26] #8755 closed

[2015-01-18 14:42] #8821 closed

[2015-01-18 15:36] darkcoderrises commented on #6405
wait, what do i have to do?

[2015-01-19 08:36] pointhi opened #8844 "parse "=" inside sympy.parsing.sympy_parser.parse_expr"
I have searched through the documentation and didn't find any possibility to parse the equal sign inside strings.

The [doc](http://docs.sympy.org/0.7.5/gotchas.html) is explaining that the equal sign in python is a assignement, what is logical. But I think this shouldn't be a problem in the [parse_expr](http://docs.sympy.org/dev/modules/parsing.html) function to implement it as a transformation o

[2015-01-19 10:55] #8836 closed

[2015-01-19 14:14] aktech commented on #8831
This should be closed.

[2015-01-19 16:12] phdoerfler opened #8845 "latest documentation links are dead"
All the links in latest are dead but work just fine in dev.

Dead:
http://docs.sympy.org/latest/modules/galgebra/index.html

Not dead:
http://docs.sympy.org/dev/modules/galgebra/

[2015-01-19 16:16] debugger22 commented on #8845
Something converted `ga.html` to `GA.html` in `latest` docs. @asmeurer

[2015-01-19 17:30] moorepants opened #8847 "autowrap fails on MacOSX"
It seems as though the numpy header files are not being located properly.

Here is an example test failure: https://gist.github.com/leogargu/773e1715e991c055c01d

I've confirmed the same test failure on another Mac.

[2015-01-19 17:41] moorepants commented on #8847
Ok, this seems to be that when Ufuncify is used with the Cython backend, we don't add in the `include_dirs = [np.get_include()]` line in the setup.py file.

[2015-01-19 17:52] Nodragem opened #8849 "Closed Integral and Fourier Transform"
Hi,

when i do:
[code]

[2015-01-19 20:22] smichr commented on #8815
I don't like the idea of comparing the numbers at lower precision since there is no guarantee that the original numbers are actually the same, then. I think that recomputing the Floats from strings with precision defaulting to the string length is the most robust way to go:

[code]

That last step would happen in a comparison routine for floats so in practice one would just assert `a == Float('1.4

[2015-01-19 20:56] asmeurer commented on #8831
We would need to see what the `tangent_eq` is to reproduce this, unless someone wants to dig through the code and guess how it happened.

[2015-01-20 04:05] petarmaric commented on #2439
@cbm755 ask and ye shall receive

I've created [a gist](https://gist.github.com/petarmaric/09480183061f5c7fb7e7) with a minimal working example showcasing which SymPy versions/commits are causing beam_integrals tests to fail. As an added bonus, the code has no external dependencies besides SymPy itself.

The testing environment was based on instructions in https://github.com/sympy/sympy/issues/243

[2015-01-20 04:38] petarmaric commented on #2439
If we remove the context, we can make the minimal working example even shorter:

[code]

This test was done with SymPy 0.7.5 on Python 2.7.8 win-amd64 |Anaconda 2.1.0 (64-bit)|

[2015-01-20 05:19] petarmaric commented on #2439
In fact, after close inspection of the results discussed in my previous 2 comments I noticed something even more interesting:

[code]

It seems not only are the SymPy values getting zero-clipped at about the 39th decimal, but there are also digit-level inaccuracies long before that.

Judging from the `diff` I'd say they are introduced at about the 16th decimal, and `log10` of the `diff` is about 1

[2015-01-20 05:50] hargup commented on #6405
I think I made my self sufficiently clear in the comments above. Try reading them again and post your interpretation here. If you still don't get it then it is likely that I'm suffering from [the curse of knowledge](https://hbr.org/2006/12/the-curse-of-knowledge). I'll then try some other method of explaining it to you.

[2015-01-20 05:59] moorepants opened #8851 "Run Travis tests on OSX"
Travis has OSX support: http://docs.travis-ci.com/user/osx-ci-environment/

It would be nice to run a full sweep of the tests (especially those requiring external dependencies) to check for cross platform bugs. For example, issue #8847 could have been caught earlier on.

[2015-01-20 07:32] darkcoderrises commented on #6405
My interpretation was that I have to create a similar class definition of S.Complex as S.Reals. Then i was checking it using ImageSet. But then by "An ImageSet can have products of an interval as input set. See #6405 (comment)" i thought that i can also create a class definition using imageset not like S.Reals which uses Interval

[2015-01-20 09:22] cbm755 commented on #2439
Thanks @petarmaric "context-free" is exactly what I meant.  This does look like a bug in creating a Float from an mpf object: probably intermediate result converted to double precision.  I'll take a look into this.

Note that `sympify(mpmath_num)` should work if that helps you work around.

[2015-01-20 09:54] cbm755 commented on #2439
Have to do something else now, here's what I've found so far...

Could be.  As I think you mentioned earlier, ln 565 causes mpf input to eventually get to this line:

[code]

This creates a 15 digit Float (that is it calls Float again to do the `num[1]*2**num[2]` bit).

Deleting this bit:
[code]
sort of helps with your problem:
[code]

Note however:
[code]
I tihnk this is because `c` just copied t

[2015-01-20 11:19] alec-kalinin opened #8852 "match does not work properly for trigonometry function"
Consider following code:

import sympy as sp

t = sp.Symbol('t')
eq = sp.sin(t) + 2*sp.sin(2*t) + sp.sin(3*t)

A, B, C, X = sp.Wild('A'), sp.Wild('B'), sp.Wild('C'), sp.Wild('X')
m = eq.match(A*sp.sin(X) + B*sp.sin(2*X) + C*sp.sin(3*X))
print m[A], m[B], m[C]

The answer is: sin(t)/sin(2*t/3) sin(3*t)/sin(4*t/3) 2, but expected answer is: 1 2 1

But for other examples answers are correct:
eq = sp.

[2015-01-20 13:06] aktech opened #8853 "floor(x - S.Half).is_even returns True for negative even 'x'"
This should return False.
[code]

[2015-01-20 16:10] #8847 closed

[2015-01-20 16:10] moorepants commented on #8847
@leogargu This should work for you in master now.

[2015-01-20 17:18] phdoerfler opened #8855 "Feature Request: Ability to plot 3D points"
I'd like to be able to plot Point3Ds in a three dimensional plot from within sympy. I'd be a happy man if you could add a little bit of API to make this a reality.

The wiki suggests, this might be "easy":
https://github.com/sympy/sympy/wiki/Plotting-capabilities

or respectively:

[2015-01-20 17:40] smichr commented on #8853
Hmmm...floor(x - S.Half) -> x. That's wrong.

[2015-01-20 17:45] moorepants opened #8857 "python setup.py clean is not cross platform"
`find` and `rm` are not generally available on Windows. This should switch to using Python builtin functions to do the same thing.

[2015-01-20 17:47] aktech commented on #8853
Please note `x` is negative here:
So, for example:
[code]

[2015-01-20 17:52] smichr commented on #8853
Yes, so floor(x - S.Half) should be x - 1, not x.

[2015-01-20 17:54] aktech commented on #8853
Yes, that's what I meant, I thought you disagree.
:smile:

[2015-01-20 18:00] smichr commented on #8853
No -- we agree that floor(x-1/2) should be x - 1 if x is negative. So the attribute reported above is right...but it should have been False if x - 1 were returned from floor.

[code]

[2015-01-20 18:08] aktech commented on #8853
Ok, got it.
It means the when (x-1) is returned from floor, the `even`assumptions are is wrong.

[2015-01-20 18:16] smichr commented on #8853
Yes.  Note the following in evalf.py

[code]

That seems odd -- I would think that finding floor/ceil is easy but nearest integer the hard part. But it has something to do with being close to the middle (1/2) since the following do not fail to go the right way:

[code]

[2015-01-20 18:24] smichr commented on #8853
Do you want to make a branch and try the following?

[code]

[2015-01-20 18:26] aktech commented on #8853
Yes sure, I am looking at that.

[2015-01-20 18:32] aktech commented on #8853
It works though:
[code]
without breaking any test in test_eval.

[2015-01-20 18:38] smichr commented on #8853
So far so good! I can run a quick test of everything to see if this works and is ready for a PR.

[2015-01-20 18:43] aktech commented on #8853
That would be good.

[2015-01-20 18:46] smichr commented on #8853
The results are appearing [here](https://travis-ci.org/smichr/sympy/builds/47677120). Can you see that page? Only 3.4 is being run (and non-3.4 with special settings).

[2015-01-20 18:48] aktech commented on #8853
Yes, I can see that. Looks good so far.

[2015-01-20 19:08] smichr commented on #8853
Oops -- that's a different run. The correct one is [here](https://travis-ci.org/smichr/sympy/builds/47684323) and it has not yet begun to run.

[2015-01-20 19:10] aktech commented on #8853
Yes, got that, it's in the queue.

[2015-01-20 19:42] darshanime commented on #8857
Is this fine ?

[code]

I am not able to get the indentation right here. Will correct it in the actual file once you approve this.

[2015-01-20 20:29] #8519 closed

[2015-01-20 20:33] moorepants commented on #8857
That solution will likely work. I was thinking more of using `os.remove` and other python commands. The advantage to using the os module, is that all the if statements are taken care for you under the hood and you only have to write one version for all os's. But this is a solution and if you submit it as a PR it can be reviewed. Please show that it does what it is supposed to do on Windows, as we

[2015-01-20 21:10] asmeurer commented on #8857
It would be better to use shutil.rmtree than os.system.

[2015-01-20 21:29] amitsaha commented on #8857
+1 to avoiding ``os.system``.

[2015-01-21 02:13] cbm755 opened #8859 "wrong result: dsolve for systems with forcings"
Consider a linear ODE system with with some RHS forcing.  As far as we can tell at https://github.com/cbm755/octsympy/issues/183, any forcing which is a function of the independent variable fails.  No error, it just gives the wrong answer.

Example:

[code]

A constant forcing seems to work, but not a `t`-dependent one.

---

Possibly related: if one component is simple integration, it fails with

[2015-01-21 04:35] alanhdu opened #8861 "ContinuousRV probability bug when set is specified"
When I try to calculate probabilities w/ custom random variables w/ pdfs not valid on the entire real number line, I get this bug:

[code]

[2015-01-21 04:52] aktech commented on #8853
I think this is ready for a PR.
This needs to be merged, before merging [this](https://github.com/sympy/sympy/pull/8846).
Are you pushing? or shall I.

[2015-01-21 05:14] petarmaric commented on #2439
@cbm755 this is turning into a quite interesting discussion, thanks for the effort so far.

Sorry, but I'm not sure if you meant Python float or SymPy **F**loat here?

I solve most of these issues in `beam_integrals` by forcing a `decimal_precision` kwarg onto all functions performing numerical computations, to control the decimal precision explicitly between any API calls.
Is there a reason that

[2015-01-21 08:56] darshanime commented on #8857
Thank you for the suggestions.

How about this ?

[code]

[2015-01-21 09:27] cbm755 commented on #2439
Well it does both: `2**num[2]` makes a Python float and then S.NegativeOne stuff makes a SymPy Float.  Then it converts the SymPy Float to an `mpf`, then finally to a SymPy Float.   At very least, this is sub-optimal.

Your point 1. sounds reasonable.  Maybe try to patch it and see if it fixes anything?  Sorry I don't understand your point 2., probably because I've not dug deep enough into this co

[2015-01-21 11:33] #6849 closed

[2015-01-21 11:59] laituan245 opened #8863 "Logical operators precedence in the sympy.logic module"
In sympy, probably the implication operators (>> and <<) have higher precedence than the AND , OR , and NOT operators. For example:

[code]

In this case, if the AND operator (&) had higher precedence than the implication operator (>>), the result would be True.

But the Wikipedia says that AND, OR, and NOT operators actually have higher precedence than the implication operators (http://en.wikiped

[2015-01-21 13:15] smichr commented on #8853
ceiling(pos_int + 1/2) had the same problem.

[2015-01-21 13:17] aktech commented on #8853
I have made a PR, for your changes.

[2015-01-21 13:30] aktech commented on #8853
Ah! I can see, ceiling still have this problem.
[code]

[2015-01-21 16:11] moorepants commented on #8857
Please submit this as a pull request. It is much easier to comment on the code there. Thanks.

[2015-01-21 16:20] hargup commented on #6405
@darkcoderrises You can do something like:
[code]

[2015-01-21 16:42] cbm755 commented on #2439
@petarmaric a further thought: if you'd like to help but don't have time to really dive into the code, a PR for an "@xfail" test of the minimal nonworking example would probably be well-received!

[2015-01-21 19:40] alec-kalinin opened #8866 "Incorrect simplification of log function with base 10"
Consider the following code:

import sympy as sp
x = sp.Symbol('x')
f = sp.log(x, 10, evaluate=False)
print (f.subs(x, 10))
g = sp.simplify(f)
print (g.subs(x, 10))

The result should be the same and equals to 1. But the answer is:
1
log(10)

[2015-01-21 19:41] asmeurer commented on #6405
@hargup if you do that, then `Complex` becomes nothing more than a shortcut to create an ImageSet. You would never have an instance of `Complex`. I would look for some way use an ImageSet internally for calculations, but have a wrapper that can print nicely (like ℂ).

[2015-01-21 20:28] aktech commented on #8866
Culprit is this:
[code]

[2015-01-21 20:28] pelegm commented on #8866
Simply:
[code]

[2015-01-21 20:30] aktech commented on #8866
Yes, `evaluate=False` is meaningless.

[2015-01-21 23:17] #8524 closed

[2015-01-22 08:43] darkcoderrises commented on #6405
I gave the pull request for the class Complex declaration.
please check
https://github.com/sympy/sympy/pull/8870

[2015-01-22 08:46] pelegm opened #8871 "Expand (x+y)**k"
Currently, for any explicit `Integer` `k`, `(x+y)**k` can be properly expanded. However, for a nonnegative integer symbol `k`, this sum is not expanded. It could, easily, using the [binomial theorem](https://en.wikipedia.org/wiki/Binomial_theorem).

This should probably be updated in [`_eval_expand_multinomial`](https://github.com/sympy/sympy/blob/70c4525762b00a58399211a847d36479eebb8107/sympy/cor

[2015-01-22 11:43] aktech commented on #8853
Fixed here:  #8846

[2015-01-22 11:43] #8853 closed

[2015-01-22 13:59] darkcoderrises commented on #4703
Can anyone explain what is the problem in this issue.? and is  it still valid ?
Thanks

Sorry for asking such doubts, i am new here

[2015-01-22 18:28] #8527 closed

[2015-01-22 18:31] #8487 closed

[2015-01-22 18:31] asmeurer commented on #8746
@gxyd it would be easier to review the code if you open a pull request, even if the code is not ready to be merged yet.

[2015-01-22 18:33] asmeurer commented on #8746
Wouldn't a better answer be a Piecewise (c.f. what integrate() does in similar situations). In the example above, if n <= -2 then the summation does not go across any poles.

[2015-01-22 18:52] #8526 closed

[2015-01-22 20:34] #8179 closed

[2015-01-22 20:59] asmeurer commented on #4703
The integral now returns unevaluated. I think we fixed the Derivative subs thing that caused this a long time ago, so it's probably not an issue any more.

[2015-01-22 20:59] #4703 closed

[2015-01-22 21:09] darkcoderrises commented on #6405
Sorry i gave that request with running the test. But apparently the test is giving DO NOT COMMIT for this also only

+class Complex(with_metaclass(Singleton, Interval)):
+
+    def __new__(cls):
+        from sympy.core import Symbol
+        from sympy.core.numbers import ImaginaryUnit
+        I = ImaginaryUnit()
+        x = Symbol('x')
+        y = Symbol('y')
+        return ImageSet(Lambda((

[2015-01-22 21:17] luviiit commented on #6405
what would be the problem in defining the Complex set definition the following way?:
[code]

[2015-01-22 21:22] darkcoderrises commented on #6405
I think that we will also have to include symbol and imaginary unit, wont we?

[2015-01-22 21:29] luviiit commented on #6405
@darkcoderrises, i did a global import of both

[2015-01-22 21:31] darkcoderrises commented on #6405
@luviiit Sorry i am new here,is it in with_metaclass(Singleton,ImageSet)

[2015-01-22 21:38] luviiit commented on #6405
@darkcoderrises, global import means when you import at the top of the file and so it is accessible everywhere in the file

[2015-01-22 21:39] darkcoderrises commented on #6405
oh sorry then, it was not shown in the code snippet so i was confused

[2015-01-22 21:47] smichr commented on #8871
Could you give an example of what you would like to see? I'm having trouble imagining how you will represent the result as anything but an unevaluated sum if k is an integer symbol.

[2015-01-22 22:08] smichr commented on #8871
One thing that comes to mind is using this with series -- generating via the Sum is very fast relative to the series approach. I don't know if the binomial function in the symbolic case would cause problems for the limit machinery, however.

[code]

[2015-01-23 01:41] cbm755 opened #8873 "Assumptions: fix "be strict about commutativity""
When a Symbol is created, it forces `commutative=True` when commutativity is not specified.
The current implementation of this (in `Symbol`) makes it difficult for later code such as ``srepr()`` to tell whether the user specified commutative=True or omitted it.  PR #8819 adds a hack to workaround but its not ideal.

There may be good reasons for all this, but probably it should not be done by Symb

[2015-01-23 02:01] gxyd commented on #8746
@asmeurer i think it will be difficult to represent the summation in that case. For ex. summation(1/(k*(k+1)), (k, 2, n))   . If n== pi,  in this case the documentation says should include all the integer value from 2 to pi.
for that 'greatest integer function should be used'.

[2015-01-23 03:01] asmeurer commented on #8746
I'm not sure what our policy is regarding summation where the bounds are noninteger, but note that summations can have reversed bounds (using the Karr convention, see the docstring of `Sum`).

[2015-01-23 03:01] asmeurer commented on #8746
@raoulb thoughts on this?

[2015-01-23 08:37] pelegm commented on #8871
Here:
[code]
(where `_n` is a `Dummy` nonnegative integer symbol).

This can of course be extended to any real `r` instead of the nonnegative integer `k`:
[code]

[2015-01-23 13:36] gxyd commented on #8746
@asmeurer According to the current definition of the summation in the docstring, the issue i am fixing does not impact the answer.

[2015-01-23 14:27] petarmaric commented on #2439
RE point 2: currently all mpmath related code within `Float.__new__()` is executed in the mpmath default context. I might be in a situation where I want to keep the mpmath default context precision low (say 25 decimals) yet I wish to create a new `sympy.Float` at high precision (say 300 decimals).
As the code is right now any mpmath calls within ` Float.__new__(cls, num, prec) ` would be executed

[2015-01-23 15:00] cbm755 commented on #2439
Sure new issue fine with me: it is nicely self contained.  CC me.

Re: @xfail documentation, I'm not sure.  But for example, look in `sympy/core/tests/test_evalf.py`, `sympy/core/tests/test_numbers.py`.  Basically write the test that should pass and then put `@XFAIL` before it:

[code]
where xxxx is the new issue number.

[2015-01-23 15:04] cbm755 commented on #2439
Minimal nonworking example please?

[2015-01-23 15:06] cbm755 commented on #2439
Oops, maybe I only answered the `@XFAIL` part of this, more generally:
https://github.com/sympy/sympy/wiki/Development-workflow

[2015-01-23 17:40] gxyd opened #8875 "Totient of any non-integer number"
According to the Totient function definition on [wikipedia](http://en.wikipedia.org/wiki/Euler%27s_totient_function), the totient of non-integer numbers is not there. But in sympy:

[code]

the value is returned, instead of an error.

[2015-01-23 17:50] whitten commented on #8875
From the wikipedia article you cited:

In number theory <http://en.wikipedia.org/wiki/Number_theory>, *Euler's
totient* or *phi function*, φ(*n*), is an arithmetic function
<http://en.wikipedia.org/wiki/Arithmetic_function> that counts the totatives
<http://en.wikipedia.org/wiki/Totative> of *n*, that is, the positive
integers less than or equal to *n* that are relatively prime
<http://en.wikipedi

[2015-01-23 17:59] gxyd commented on #8875
I don't get you completely, but The wolframalpha also raise an error, http://www.wolframalpha.com/input/?i=totient%282.3%29

[2015-01-23 20:04] darkcoderrises commented on #8875
In number theory, Euler's totient or phi function, φ(n), is an arithmetic function that counts the totatives of n,
and In number theory, a totative of a given positive integer n is an integer k

And in sympy/ntheory/factor_.py toitent class is also defined this way
class totient(Function):
    """
    Calculate the Euler totient function phi(n)

    1

    20

    See Also
    ========

    diviso

[2015-01-23 21:15] pelegm opened #8876 "Subfactorial of nonintegers"
After looking at #8875, I have realized that `subfactorial`'s docstring suggests
[code]
But the actual code does not evaluate any nonintegers:
[code]

Thus we have two options: implement it, or update the docstring.

[2015-01-24 06:15] gxyd commented on #8875
@smichr  plz. take a look at this issue, i think earlier you were discussing about the totient function's output but i think the input to the function should only be a positive integer.

[2015-01-24 06:34] smichr commented on #8871
Oh. That seems more like rewriting than expanding since what you have there can't be expanded in the usual sense of the word since it has an infinite number of terms (unless r is a nonnegative integer) right?

[2015-01-24 10:56] gxyd commented on #8875
@darkcoderrises i think adding the code you are suggesting i.e.(else: raise ValueError("n must be positive") would not work, since this totient function should still be returned unevaluated for an instance of Symbol. Ex.

totient(x)              # should be returned as it is

[2015-01-24 13:54] darkcoderrises commented on #8875
@gxyd Ya sorry for that we can do something like elif n is number(real and complex)

[2015-01-24 21:53] kevinventullo commented on #8810
Hi, first time trying to contribute to SymPy.

So Poly doesn't completely ignore the `composite=true` option when instantiating from a Poly, as this example shows.
[code]
As far as I can tell, the option `composite = true` is telling the constructor of Poly what to do with the domain of your expression when it comes across coefficients which are symbols (and functions of those symbols) _which do n

[2015-01-25 04:18] gxyd commented on #8875
@smichr  please have a look at the reference i have given for this issue( #8875 ) .

[2015-01-25 07:30] sahilshekhawat commented on #7471
Seems like a bug to me as I am only able to plot if y is of the form 2**x. So, I am gettting the ``plot(2)``  , ``plot(4)`` etc. but not of others.

[2015-01-25 08:04] viv1 opened #8879 "Unable to build documentation"
While building documentation(from doc/ directory), following error is shown in log file:

# Sphinx version: 1.2.3
# Python version: 3.4.0
# Docutils version: 0.12 release
# Jinja2 version: 2.7.3
# Loaded extensions:
Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/sphinx/cmdline.py", line 253, in main
    warningiserror, tags, verbosity, parallel)
  File "/usr/loca

[2015-01-25 08:11] ArkBrj opened #8880 "MKS unitsystem does not have Hz and other units"
I think the problem is in this fragment of code in mks.py:

units = [m, g, s, J, N, W, Pa, Hz]
all_units = []
for u in units:
    all_units.extend(prefix_unit(u, PREFIXES))
all_units.extend([v, a, p, G, c])

We add all derivative units like mHz, kHz and so on to all_units but we never add the originals.

[2015-01-25 09:09] viv1 commented on #8879
Python doc building code is only python2 compatible, and not python3

Python3 has implicit provision for unicode strings.So, 'ur' does not make sense. Replacing all occurrences of "ur" with "r" (in 'doc/ext/numpydoc.py') solves this issue, BUT is now showing another error----------

Extension error:
Could not import extension numpydoc (exception: No module named 'StringIO')
make: *** [html] Error

[2015-01-25 12:10] darkcoderrises commented on #8813
hi, can anyone mentor me in fixing this bug?

[2015-01-25 14:13] #8725 closed

[2015-01-25 14:56] skirpichev commented on #8725
@smichr, it could be a good idea next time build a docs first.

unsubscribed

[2015-01-25 15:39] luviiit commented on #8876
@pelegm, to calculate the subfactorial of nonintegers, we will need to evaluate the value of incomplete gamma function for noninteger. Should I calculate the value of this function using ```gammainc``` function of ```mpmath```?

[2015-01-25 16:39] luviiit opened #8881 "value error in some simple differential queries"
Illustration of the problem:
[code]
Expected output: cos(x) (correct)
<br>
[code]
Expected output: cos(x)/2
<br>
[code]
Expected output: 0 (correct)
<br>
[code]
Expected output: 0

<br>
The above queries can easily be calculated using [chane rule](http://en.wikipedia.org/wiki/Chain_rule).

[2015-01-25 17:37] #8881 closed

[2015-01-25 17:38] luviiit commented on #8881
Closing comment: Read [this](http://docs.sympy.org/dev/modules/core.html#derivative)

[2015-01-25 18:33] #8857 closed

[2015-01-25 19:24] asmeurer opened #8882 "ValueError: a is not an integer with integral"
From http://stackoverflow.com/q/28110908/161801

[code]

[2015-01-25 20:08] smichr commented on #8813
I thought the root of the problem is somewhere in preprocess_roots of polyroots, but making the change there would require more insight than I currently have for the low-level workings of polys. I would be more inclined to make the change in roots_quadratic as

[code]

and then use the test of this issue to hit one of those lines and then see if there is another test that can hit the other line wh

[2015-01-25 23:40] huwpascoe opened #8886 "Symbol subs Vector exception"
[code]

```(s / t)```
output: s / t

```(v / t)```
output: 1/t n̂x

```(s / t).subs(s, v)```
output:
[code]

[2015-01-25 23:47] darkcoderrises commented on #8813
I belive while adding tests i have to do something like:-
assert  roots_quadratic(Poly((z - 1)**2 - y**2, y)) == [1-z,z-1]
but print roots_quadratic gives me [-sqrt((z - 1)**2), sqrt((z - 1)**2)]

please tell me where am i wrong

[2015-01-26 00:04] darshanime opened #8887 "Subtracting waves in optics module"
The Optics module enables working with waves.

However, subtracting the waves which follows intuitively results in the result being an instance of the `sympy.core.add.Add` class. This stops the user from accessing properties of the resultant wave like amplitude, phase etc.

This can be fixed by simply returning the result of the  `__add__(self, other)` method with the amplitude of `other` multipli

[2015-01-26 03:28] kevinventullo commented on #8861
Instead of writing `(0,1)` try using `Interval(0,1)`:

[code]

[2015-01-26 04:26] kevinventullo commented on #8887
Maybe it would be better to add the ability to multiply by scalars. Note that `-1*w1` is a Mul, not a TWave.

[2015-01-26 05:09] moorepants commented on #8886
Which vector is this from? `sympy/vector` or `sympy/physics/vector`?

[2015-01-26 05:11] moorepants commented on #8886
I'm not sure this *should* work. Why should you be able substitute a vector in for a scalar? It doesn't make sense mathematically.

[2015-01-26 05:56] pelegm commented on #8861
Right, this should be closed as invalid.

[2015-01-26 08:14] darshanime commented on #8887
Working on it !

[2015-01-26 12:57] huwpascoe commented on #8886
It's from physics

[2015-01-26 14:37] smichr commented on #8813
Probably nothing. I only tested that roots_quadratic gave the right result. But these sort of expressions you are considering are binomials so the changes are probably best made there. And you won't need a loop since you can check to see what the degree of the binomial is and then filter out any powers that have a matching exponent.

Perhaps the change is best made in `roots_binomial`. I'm guessin

[2015-01-26 14:56] alanhdu commented on #8861
Thanks!

I guess I assumed that you used a tuple because it looks like the function declaration uses a tuple:
[code]

[2015-01-26 14:56] #8861 closed

[2015-01-26 15:12] jksuom commented on #8882
One of the factors of the function to be rewritten is `sin(_s*atan(sqrt(a0**(-2))/2))`. It cannot be transformed since the coefficient of _s is not rational.
It looks like one should raise IntegralTransformError instead of TypeError.

However, the integrand has a double pole at the origin which is included in the integration interval.  I think meijerint should be able to catch that before even try

[2015-01-26 15:44] darkcoderrises commented on #8813
When you said:
Perhaps the change is best made in roots_binomial. I'm guessing that roots_quadratic should be left alone since that's a private method and one should be calling roots (not roots_quadratic) when trying to get the roots of an expression.

did you mean about the changes for tests or the code?.
1-if tests then probably i dint explain properly what i was saying.
when we do  roots(Poly((

[2015-01-26 16:06] moorepants commented on #8886
I don't think this should be supported. It is not mathematically correct to substitute scalars for vectors or vice versa. If you can prove why this should be allowed, then we can reconsider.

[2015-01-26 17:30] asmeurer commented on #8882
Let's definitely change the error, so that we don't get an ugly traceback during integration.

[2015-01-26 19:28] moorepants opened #8889 "Code generation documentation needs a major update"
We now have C, Fortran, and Octave/Matlab code generators plus recent support was added for generating code for Matrix and MatrixSymbol objects. The current documentation on code generation is pretty sparse.

There is also support for Theano that isn't well documented in the prose documentation.

This is the main thing we have now: http://docs.sympy.org/latest/modules/numeric-computation.html (bes

[2015-01-26 19:29] moorepants commented on #8886
I'm willing to provide a better error message for the `.subs()` method, saying that this isn't supported.

[2015-01-26 20:02] smichr commented on #8889
Perhaps it could include some discussion about using cse to optimize an expression calculation, too?

[2015-01-26 20:12] luviiit commented on #6405
@hargup, @asmeurer:
please take a look at https://github.com/sympy/sympy/issues/6405#issuecomment-71100499.

[2015-01-26 20:15] moorepants commented on #8889
Yes, more docs on cse would be nice too. This may be all there is: http://docs.sympy.org/0.7.0/modules/rewriting.html.

[2015-01-26 20:56] mihir-w commented on #8815
Just a fundamental doubt, I guess;
`test_numbers.py` has the following function:
[code]

Why are 1st and 4th tests not supposed to be equal ? They have different precision, but their values are same.

[2015-01-26 23:16] moorepants opened #8891 "Can't cse a list of sympy.Matrices"
It would be nice if cse accepted lists of things other than expressions. It seems to handle a single matrix fine and returns the original object with the new substitutions, but nothing happens with a list of matrices.

[code]

[2015-01-27 00:02] huwpascoe commented on #8886
I don't know if it should be allowed but better error messages are very welcome, thanks!

[2015-01-27 00:04] moorepants opened #8892 "subs needs a better error message when trying to sub in Vectors"
See issue  #8886. User tried to substitute a `sympy.physics.vector.Vector` for a scalar symbol in an expression. The error message isn't that informative. It should tell you that it isn't allowed.

[2015-01-27 00:05] moorepants commented on #8886
See #8892.

[2015-01-27 00:05] #8886 closed

[2015-01-27 01:15] darkcoderrises commented on #6405
I gave the pull request for the class Complex declaration.
please check
https://github.com/sympy/sympy/pull/8893

[2015-01-27 04:20] kevinventullo commented on #8887
Hey I was thinking of adding __neg__, __sub__, and __mul__ in as well. Do you mind if I work on this?

[2015-01-27 04:23] mw8 opened #8894 "solve((1e-32)*x) gives an error"
The same is true for any power of 10 less than -32, as reported by sympy gamma.

[2015-01-27 04:23] darshanime commented on #8887
I implemented **mul** already.
There is much to do here. We could surely work on this together !

[2015-01-27 05:11] darshanime commented on #8887
Ping if you want to discuss more.

[2015-01-27 07:33] abhirathb commented on #8894
can you please tell how to exactly reproduce the error?

[2015-01-27 10:49] jayesh92 commented on #7258
Hi,
I've resolved this bug in my forked repo. The commit can be viewed at https://github.com/jayesh92/sympy/commit/eed80ddec8dd0c4803e9883b153ab5efc43df9de
Any comments ?

[2015-01-27 12:25] jayesh92 commented on #8671
Isn't this issue already handled, in `compatibility` we have imported reduce from `functools` for PY3 and `reduce` elsewhere.
Line 89, 123

[2015-01-27 12:56] darshanime commented on #8892
Is it fine to use `try` `except` ?
Something like :

[code]

[2015-01-27 13:43] pelegm commented on #8894
It works here:
[code]

[2015-01-27 13:49] abhirathb commented on #8894
exactly!

[2015-01-27 14:43] jayesh92 commented on #8889
I was looking to fix up this issue. I'm not getting as to what else should be written for documenting the `utilities/codegen.py` . I also looked at the documentation at http://docs.sympy.org/latest/modules/utilities/codegen.html  and as far as I know the Sphinx documentation is also generated from the docstrings.
If you could help me get started with a few more use-cases, it would be a great help

[2015-01-27 15:27] #8081 closed

[2015-01-27 15:27] #8807 closed

[2015-01-27 16:26] jksuom commented on #8882
The logical place to detect nonrational multipliers would be phase 1) in _rewrite_gamma. I am testing a patch raising an IntegralTransformError. The TypeError in phase 3) can be left as is. It would indicate a bug in phase 1).

[2015-01-27 16:51] moorepants commented on #8892
Please post a pull request with any code that you'd like to suggest. We can discuss it there.

[2015-01-27 16:53] moorepants commented on #8879
Yes, please use Python 2.6+ to build the docs.

[2015-01-27 16:53] #8879 closed

[2015-01-27 16:58] moorepants commented on #8889
The page you link to is mostly API documentation. The first bit is ok but needs to be expanded. We'd really like a nice tutorial/prose style page that shows how you can use the code gen. I'd start by reading the docstrings in the codegen module and checking out the examples directory to see if there are any examples.

The matrices docs give a good example by what I mean by "prose" documentation.

[2015-01-27 17:00] moorepants commented on #8889
Maybe adding a new tutorial to: https://github.com/sympy/sympy/tree/master/doc/src/tutorial would be good.

[2015-01-27 17:01] moorepants commented on #8889
Or just expand this: https://github.com/sympy/sympy/blob/master/doc/src/modules/utilities/codegen.rst

[2015-01-27 17:02] moorepants commented on #7258
@jayesh92 Please submit a pull request with your code changes.

[2015-01-27 17:05] moorepants commented on #8889
This, http://docs.sympy.org/latest/modules/numeric-computation.html, is also missing any mention of autowrap.

[2015-01-27 17:05] asmeurer commented on #7258
@jayesh92 that's the right idea, although you'll need to fix code throughout SymPy to be compatible.

[2015-01-27 17:08] moorepants commented on #8889
Here is autowrap: http://docs.sympy.org/latest/modules/utilities/autowrap.html

So it seems there is mention of most things spread out in different places. It would be nice to consolidate the prose together into one document. The API (i.e. auto-generated from the docstrings) could remain with the module.

[2015-01-27 17:17] mw8 commented on #8894
My mistake. I assumed sympy gamma had the latest installation of sympy. Turns out it's using a version from April of last year:

http://gamma.sympy.org/input/?i=solve%281e-32*x%29

[2015-01-27 17:17] #8894 closed

[2015-01-27 17:19] mw8 commented on #8894
It is strange though that sympy.org is not running the latest version of its own software.

[2015-01-27 17:26] moorepants commented on #8894
It actually isn't that strange. It takes time to maintain downstream (of sympy) applications and each time we make a new releases it could possibly break things in gamma. So gamma is pinned to a version that works and when the developers have time they upgrade.

You are welcome to download the source from: https://github.com/sympy/sympy_gamma/ and update the sympy submodule to a newer release and

[2015-01-27 18:20] #8866 closed

[2015-01-27 19:47] viv1 commented on #8879
But, if sympy supports python3, shouldn't we be able to build docs in python3 itself?
@moorepants

[2015-01-27 19:49] moorepants commented on #8879
Building the documentation is currently considered a "developer task" so no resources have been spent to make ti Python 3 compatible. You are welcome to remedy that. We'd surely like it to work on both versions of Python.

[2015-01-27 19:56] viv1 commented on #8879
If you could direct me on how to go about it, I would like to try solving the issue.I have basic knowledge and experience with Python, C and a few more languages, and I can certainly learn other concepts, if required.
@moorepants

[2015-01-27 20:24] moorepants commented on #8879
You've already started the process. You simply try to run the doc build with Python 3 and see what errors you get. Then try to find out what is causing the error. Then change the code to something that works. That error you have is coming from numpydoc, maybe numpydoc isn't python 3 compatible.

[2015-01-28 03:37] threeofsix opened #8901 "Integrating hyperbolic functions fails"
Tested in v0.7.6 in Arch and v0.7.5 in Ubuntu

    cosh(x)

    cosh(x)

    0

Integral comes out as 0 when multiplied by a float. This also applies at least to cosh and tanh, while trig functions like sin, cos, and tan seem to be fine.

Also, trying tanh by force doesn't seem to produce correct results

    x + log(1 + exp(-2*x))

    0

[2015-01-28 04:38] aktech commented on #8845
http://docs.sympy.org/latest/modules/galgebra/index.html

It's working.

[2015-01-28 05:44] #7226 closed

[2015-01-28 05:44] #8845 closed

[2015-01-28 11:42] smichr commented on #8813
yes. At line 357 of polyroots.py `alpha` is calculated. Those factors that have exponents, e, with `e % n == 0` should be factored out. If base is `2*x**4` and `n=2` then `base = x**2*root(2, 2)`.

[2015-01-28 11:51] smichr commented on #8815
For the first case, it seems like they shouldn't be the same if they have different precisions. For the last case, I'm not sure. If we do Float(.12,3)-.12 (2nd case) we get -4.88281249999556e-6 while the same difference for the last case gives 0 (and actually does so with n=14 instead of n=22).

[2015-01-28 11:52] smichr commented on #8815
(I'm just assigning myself to watch this issue, not to fix it.)

[2015-01-28 12:14] smichr commented on #8813
It's too late to check there since the expression has already been expanded at that point. I'm not sure that using factor there is a good idea, either. If not, then the expression needs to be caught before it is expanded, e.g. `x**3 - 2*(y-1)**3` becomes `x**3 - 2*y**3 + 6*y**2 - 6*y + 2` by the time it gets to `roots_binomial`.

[2015-01-28 12:39] smichr commented on #8813
Perhaps the following?

[code]

[2015-01-29 02:57] alanhdu opened #8906 "Probability w/ Continuous RV Bug"
When I define an ContinuousRV on an interval, finding probabilities sometimes returns infinity

[code]

[2015-01-29 03:29] #8882 closed

[2015-01-29 17:22] #3444 closed

[2015-01-29 19:08] AadityaNair commented on #8671
Hey, I want to fix this issue.
Will replacing `functools` with `sympy.core.compatiblity` in the above files fix this issue ?

[2015-01-29 19:41] jcrist commented on #8671
Yes. Except in the last one, where an import needs to be added. If you're new to sympy, please read this: https://github.com/sympy/sympy/wiki/Development-workflow.

[2015-01-29 21:18] smichr commented on #8813
ping @darkcoderrises -- are you interested in making the changes and creating a PR?

[2015-01-30 05:04] kevinventullo opened #8910 "Comparing Float Infinity with Core Infinity"
So while looking at Issue #8906 I came across a possibly related issue.

[code]

The Traceback involved intersecting some sets to figure out the domain of X, which is where the comparison `-oo < -inf` arose. I'll try to fix it quickly.

[2015-01-30 06:19] darkcoderrises commented on #8813
@smichr sir i have created the changes but i was just understanding them.Sorry for the delay

[2015-01-30 06:55] darkcoderrises commented on #8813
please check https://github.com/sympy/sympy/pull/8911

[2015-01-30 10:42] Juanlu001 opened #8912 "Regression: expand fails to multiply float by -1 when calling init_printing in SymPy 0.7.6"
I found this strange behavior in SymPy 0.7.6, both Python 2 and 3:

[code]

I can confirm this does not occur in SymPy 0.7.5:

[code]

[2015-01-30 12:44] sahilshekhawat commented on #8912
I am not able to reproduce the results with the latest master branch.

[2015-01-30 12:55] AadityaNair commented on #8671
Generated pull request #8913. Please comment if modifications are needed.

[2015-01-30 15:35] #8678 closed

[2015-01-30 19:36] #8685 closed

[2015-01-30 19:55] smichr commented on #8849
Yes, you must use a definite integral:

[code]

[2015-01-30 19:55] #8849 closed

[2015-01-30 20:12] smichr commented on #2975
Integrating across 0 is perhaps the problem? The indefinate looks ok:

[code]

[2015-01-30 20:42] smichr commented on #7130
The result no longer depends on x:

[code]

So perhaps this can be closed with a test.

[2015-01-30 20:45] smichr commented on #7098
Now this is unevaluated:

[code]

[2015-01-30 21:05] smichr commented on #4326
This now gives

[code]

So perhaps this can be closed with a test (if necessary).

[2015-01-30 22:16] asmeurer commented on #7130
Yeah, I seem to remember a PR that fixed Integral.subs and this was probably fixed by it.

[code]

[2015-01-30 22:17] asmeurer commented on #4326
Yeah the contains nan vs. is nan stuff has been fixed in `_eval_interval` for some time. We can check, but I doubt a test is needed.

[2015-01-31 02:21] rfeynman opened #8915 "Plot ellipse in sympy 0.7.6"
I tried to plot ellipse in sympy:
Here is what I did:

from sympy.plotting.pygletplot import PygletPlot as Plot

el1=Ellipse(Point(0,0),3,2)
p=Plot(el1)
p[0]=el1

But I got error

Traceback (most recent call last):
  File "C:\Users\Erdong\workspace\Gungeo\src\gungeo.py", line 92, in <module>
    p=Plot(el1)
  File "C:\Python27\lib\site-packages\sympy\plotting\pygletplot\__init__.py", line 139, in

[2015-01-31 05:39] smichr commented on #4326
The integration starts to work with

[code]

By that point there is no NaN in the result. Since this is such a large commit, improving integration, and there are probably lots of integrals that wouldn't have worked before that do work now I am going to pass on documenting that this particular integral now works, too.

[2015-01-31 05:39] #4326 closed

[2015-01-31 06:00] smichr commented on #2949
The degree error was fixed by

[code]

which was addressing the issue of watching Floats so I will not add a test for this specific instance of the problem.

[2015-01-31 06:04] smichr opened #8916 "capitalize proper names in messages"
This is just a minor issue that I am mainly opening to see if it can be closed with the auto-closure syntax in the discussion areas of the PR.

[2015-01-31 06:08] #8916 closed

[2015-01-31 06:20] certik commented on #4326
Thanks @smichr.

[2015-01-31 08:32] smichr commented on #8915
in pygletplot/util.py and plot_rotation.py this import is missing, I believe: `from ctypes import c_float`

[2015-01-31 09:05] helloworld922 opened #8918 "integrate 1/x wrong"
Sympy Version 0.7.5

    log(x)

    -log(x-1)

Expected answers:

    log(abs(x))+c # first case
    -log(abs(1-x))+c # second case

The expected answer should always be real (except I suppose at x=1), where-as the sympy output has regions of complex results. It also seems to miss the constant of integration at the end, but I suppose that is the way sp.integrate is designed to work since it misse

[2015-01-31 11:21] AadityaNair commented on #8915
I had the same problem. I think in the latest version of pyglet (**1.2alpha1**) `c_float` is defined in `pyglet.gl.gl` not in `pyglet.gl`.
This causes all the plotting related tests to fail.

[2015-01-31 12:03] pelegm commented on #8671
So... should that be closed now?

[2015-01-31 13:27] AadityaNair commented on #8671
Yes. I think so.

[2015-01-31 14:23] rfeynman commented on #8915
@smichr  The problem still same
{
Traceback (most recent call last):
  File "C:\Users\Erdong\workspace\Gungeo\src\gungeo.py", line 110, in <module>
    p=Plot(el1)
  File "C:\Python27\lib\site-packages\sympy\plotting\pygletplot\__init__.py", line 139, in PygletPlot
    import plot
  File "C:\Python27\lib\site-packages\sympy\plotting\pygletplot\plot.py", line 16, in <module>
    from plot_axes impo

[2015-01-31 14:23] rfeynman commented on #8915
@AadityaNair
What is your solution?

[2015-01-31 16:13] #8671 closed

[2015-01-31 16:41] nbedou opened #8919 "Integration of Piecewise functions : wrong result"
Sympy yields a wrong result for the integral of the product of two Piecewise functions. The expected result is 1/3 c₁⋅c₃ + 2/3 c₁⋅c₄ + c₂⋅c₄.

[code]

Version : sympy 0.7.6, Python 3.4.0

[2015-01-31 18:34] asmeurer commented on #4326
8eab3aa1 is the relevant change here.

[2015-01-31 18:37] asmeurer commented on #4326
And indeed if I run the integral in 8eab3aa1~ I get a result with nan (and in 8eab3aa1 it gives an unevaluated Integral).

[2015-01-31 19:28] asmeurer commented on #2949
`integrate((5.5*x + 10)*exp(2.3*x), x, risch=False) ` still gives 0.

[2015-01-31 20:17] asmeurer opened #8920 "str(Eq()) should not use =="
See for instance https://github.com/sympy/sympy/pull/8771/files#r23880014. I imagine this is a pretty common mistake, especially with Piecewise. str(Eq) should maybe print with a single =, so that at least it will give a syntax error. Or maybe `str(Eq(x, y))` should just give `'Eq(x, y)'`.

[2015-01-31 20:25] AadityaNair commented on #8915
I tried a `try - except` block like this:
[code]
Seems to clear all the tests.

[2015-01-31 20:27] AadityaNair commented on #8915
I have generated a PR #8921.
What do you think @smichr ?

[2015-01-31 22:07] #6689 closed

[2015-01-31 22:56] aka001 commented on #8802
I would like to work on this issue.
A minor analysis on the issue is:
[code]

[2015-01-31 23:09] aka001 opened #8922 "Adding a test case for Euler totient function"
IMHO, We don't have any test case for the test case of euler totient function which includes:
m and n are relatively prime.
`assert totient(m*n) == totient(m)*totient(n)`
for example,
`assert totient(45) == totient(5) * totient(9) == 4 * 6 == 24`

[2015-01-31 23:29] aka001 commented on #8875
I have added test cases for this as well.
Please review it.
https://github.com/sympy/sympy/pull/8923

[2015-01-31 23:42] aka001 opened #8924 "totient(10/5.0) returns ValueError"
It's by design that totient(real_value) raises ValueError, but in this case shouldn't the answer be returned as 1.
we can check whether the value is real and positive, if yes then we can check whether it's an integer or not.
Please correct me if I am wrong.

[2015-02-01 02:50] aktech commented on #8918
Why do you think 'x' should always be real?
As far as constant of integration is concerned, you are right in assuming it's designed to work like that.

[2015-02-01 03:10] helloworld922 commented on #8918
True, but still:

    log(x)

[2015-02-01 06:49] smichr commented on #8920
In spirit of being able to copy str and sympify it, yes. Also I ran into this with `x != y` , too. It would be nice to get that wrapped with `Ne(x, y)`.

[2015-02-01 08:02] akritas opened #8926 "problem with greatest factorial factorization"
Consider the polynomial
[code]
with
[code]
However,
[code]
WHY??

[2015-02-01 09:13] aktech commented on #8918
Since, log is defined for positive numbers, may be that's implicit (x to be Absolute).
Even wolframalpha gives the same [result](http://www.wolframalpha.com/input/?i=integrate%281%2Fx%29).

BTW, that's Symbol('x', real=True) and not symbols('x', real=True). Symbol and symbols are different.

[2015-02-01 09:32] helloworld922 commented on #8918
WolframAlpha could have given ln(x) as the correct answer if it doesn't assume x is real. Also, I have found wrong results with WolframAlpha before; a wrong result is still a wrong result. Unrelated aside: [Old WolframAlpha wrong result](http://helloworld922.blogspot.com/2014/04/dont-throw-away-your-common-sense.html), [Current WolframAlpha fixed result](http://www.wolframalpha.com/input/?i=sin%28

[2015-02-01 12:03] mihir-w commented on #8828
@smichr I think this can be closed now.

[2015-02-01 13:40] aktech commented on #8918
True, Wolframalpha does give wrong results sometimes. I agree.

Normally we use Symbol for single variable and symbols for multi. Though that's not mandatory, my bad.

[code]

I think you are right. Thanks for clarifying.

[2015-02-01 15:23] postvakje opened #8927 "different running times of f(y) versus f.subs(x,y)"
[code]

If we are doing this test with integer coefficients, f(y) is faster than f.subs(x,y).

[code]

[2015-02-01 16:04] pelegm commented on #8802
As @asmeurer said, it works in #2508, so you may have a look there to see how it was solved, and either cherry-pick or immitate the work that was done there.

[2015-02-01 17:49] smichr opened #8928 "default_sort_key puts x before sqrt(x)"
If default_sort_key is being used to sort expressions according to complexity, it fails in this case:

[code]

ordered works, however:

[code]

default_sort_key should be fixed or ordered should be used

[2015-02-01 19:21] AadityaNair commented on #8915
Also we probably need to update Travis Tests catch such problems.

[2015-02-01 21:19] luviiit commented on #8920
Hi, I am working on this issue. Please have a look at https://github.com/luviiit/sympy/commit/bc038ab4d961816f79d2f7d588213ec5d0c19ddd

[2015-02-01 22:34] asmeurer commented on #8920
@luviiit go ahead and start a pull request with that. The change looks OK, but the tests will also need to be fixed.

[2015-02-02 03:25] kevinventullo commented on #8910
So I guess I have a more general question. Should it be the case that `oo == Float("inf")` evaluates to `True`?

[2015-02-02 04:54] darshanime commented on #8928
I would like to work on this !
Can you please explain to me the idea behind sorting according to complexity.

Continuing the above example,
[code]
If the `ordered` output is assumed correct, what is it based on ?

[2015-02-02 09:28] luviiit commented on #8920
Opened PR -> https://github.com/sympy/sympy/pull/8931

[2015-02-02 13:59] spescha opened #8932 "wrong result for integrate(s*cos(1.0*s), s)"
the code:
[code]
delivers the correct result. for floating point numbers in the argument of the cosine, the integration delivers wrong results:
[code]

[2015-02-02 14:48] #7173 closed

[2015-02-02 14:48] #8368 closed

[2015-02-02 14:48] #8901 closed

[2015-02-02 16:42] kaushik94 commented on #8932
Works fine for me
[code]
which version of sympy are you using ?

[2015-02-02 17:04] smichr commented on #8932
This was just fixed today.

[2015-02-02 17:04] #8932 closed

[2015-02-02 17:05] smichr commented on #8932
Thanks for reporting it, however.

[2015-02-02 17:16] smichr opened #8933 "using nsolve to solve equations with radicals"
When using nsolve to find the roots is that sometimes it needs a small imaginary component in the initial guess to find the root.

[code]

Also, the solver='bisect' sometimes will generate an imaginary part to the number and not be able to continue. (So either a different solver must be employed or the non-mpmath bisection routine, bisect in sympy.polys.rootoftools can be tried.)

[2015-02-02 17:25] #8789 closed

[2015-02-02 17:42] #8891 closed

[2015-02-02 17:47] sunny94 commented on #8928
@smichr
I think here ordered() will prove more useful as default_sort_key is not working with other examples like
In [158]: sorted([sin(x)*cos(x),sin(x)],key=default_sort_key)
Out[158]: [sin(x)*cos(x), sin(x)]

While ordered() do

In [160]: list(ordered([sin(x)*cos(x),sin(x)]))
Out[160]: [sin(x), sin(x)*cos(x)]

[2015-02-02 18:24] smichr commented on #8754
The `denom` is being mishandled. The following "fixes" the problem but I would have expected the solution to be `0.0001*(x + y)*(x + 4*y)`

[code]

[2015-02-02 18:35] mihir-w commented on #8358
Hey! Have some doubts regarding this.
I found a following example in `test_simplify`:
[code]

Adding a $ at the end will make the functions unambiguous. So basically, I need to find all pairs such as above, and add $ to the end of function with the shorter name. Or should I add $ to both functions ?

Also where can I state this convention, so that others would follow ? ( Development-workflow maybe

[2015-02-02 20:27] smichr commented on #7416
as_mpmath is not expecting a Float(0) after sympification

[code]

Then

[code]

[2015-02-02 20:44] smichr commented on #7416
And a sufficient test in test_evalf for this issue is

[code]

[2015-02-02 20:54] mihir-w commented on #7416
Done.

[2015-02-03 01:18] smichr commented on #8928
I guess we could look at it this way: `default_sort_key` isn't broken but it doesn't put smallest expressions first. As long as users know that and it's not documented otherwise I guess we're ok.

[2015-02-03 01:48] smichr commented on #8928
You can look at the code to see how it works. I believe it uses total arg length or count_ops value to sort on.

I'm not sure there is something to be fixed except to

* check the code where default_sort_key is being used to see if it is being used to put short expressions first. That's how I became aware of the problem. In heurisch or meijerint (I forget now) this was being done and it was assume

[2015-02-03 02:19] #7416 closed

[2015-02-03 04:01] yw5aj opened #8937 "Bug: calculation of determinant for real matrix"
Coming from a discussion in https://groups.google.com/forum/?fromgroups#!topic/sympy/PSwSHQSHmng

If I do this:

[code]

Then an error would pop up. Instead, if I do this:

[code]
It would calculate alright.

[2015-02-03 04:02] yw5aj commented on #8937
@asmeurer Thanks for Aaron in pointing out this bug!

[2015-02-03 07:34] darshanime commented on #8928
Sure. Will do. Thanks !

[2015-02-03 08:51] aka001 opened #8938 "x.is_Integer returns False"
False

It should be None.

However, x.is_integer returns the expected output.
I am not aware of the output expected from is_Integer. Please correct me if I am wrong.

[2015-02-03 09:38] darkcoderrises commented on #8813
I am not able to fix the last remaining test.Please can u suggest me something?

[2015-02-03 09:47] aktech commented on #8938
* `is_Integer` is used for checking if it is an instance of Integer Class.

(i.e. Capital attributes are used for checking instances (objects) of the exact Capital class.)
* `is_integer` is used to check the property.

(i.e. if that's an integer or not.)

[2015-02-03 09:49] #8938 closed

[2015-02-03 09:50] aka001 commented on #8938
@aktech Thank you for clarifying it.

[2015-02-03 09:59] spescha commented on #8932
I'm really impressed about that quick reply.
Before, I used sympy version 0.7.6.
I installed the newest version from GitHub (0.7.6-git) and now it works fine.

Thanks a lot

[2015-02-03 15:31] aka001 commented on #8922
I have created a pr: https://github.com/sympy/sympy/pull/8940
Please review it.

[2015-02-03 18:14] darshanime commented on #8928
`default_sort_key` is a more robust version of `sort_key`. It accepts non-SymPy objects too as arguments.
It ranks in the order:
`polynomials acc to power, log(x), sin(x), cos(x), tan(x), cot(x)`

`ordered` uses `_nodes` which places smaller expressions before large and also takes `deafult_sort_key` to resolve ties

[2015-02-03 20:08] AadityaNair commented on #8937
Hey, I want to fix this bug.
Can you tell me where I can begin working on it ?
I have already solved a few easy ones.

[2015-02-03 20:24] yw5aj commented on #8937
@AadityaNair This document might help:
https://github.com/sympy/sympy/wiki/introduction-to-contributing

[2015-02-03 21:32] aka001 commented on #8802
@pelegm Thanks for the reply. I will analyse the same, and then create the pr.

[2015-02-04 02:29] postvakje commented on #8926
The problem is that currently ff(p(x),3) returns p(x)*(p(x)-1)*(p(x)-1) whereas for the factors in gff_list requires p(x)*p(x-1)*p(x-2).  These two expressions are the same if p is a polynomial of order 1, but in your case the factors are of higher order.  I submitted a PR #8941 to address this issue.

[2015-02-04 06:37] smichr commented on #8813
This is fixed for quadratic and binomial expressions.

[2015-02-04 06:37] #8813 closed

[2015-02-04 07:46] luviiit commented on #8937
I cannot reproduce this bug. Although I am getting different result in both cases.

[2015-02-04 10:34] aka001 commented on #8358
@smichr I have written the script for this and there are 1000 such functions(category 2).
I want to confirm whether the format is:

or

Please clarify this.

[2015-02-04 17:57] asmeurer commented on #8910
This is probably a dupe of https://github.com/sympy/sympy/issues/8451.

[2015-02-04 18:01] yw5aj commented on #8937
@luviiit Thanks for checking! And let me provide more information on my environment:

Windows 7, 64-bit. Python 3.4.2, 64-bit. sympy 0.7.6

The detailed error info:
[code]

[2015-02-04 19:03] kevinventullo commented on #8910
Would it be okay to alter the comparison methods (e.g. `__le__`) of `core.Infinity` so that `-oo < -Float("inf")` evaluates to false?

[2015-02-04 19:04] smichr commented on #8937
You are running (perhaps an old) version from site-packages. That line is no longer present in master. It now reads, `elif q.is_real and q.is_negative:` not `elif q.is_real and q < 0:`

Also, I left a note in the discussion referred to in the OP.

[2015-02-04 19:04] #8937 closed

[2015-02-04 19:57] #8828 closed

[2015-02-04 21:47] asmeurer opened #8943 "diophantine misses trivial solution"
[code]

See http://math.stackexchange.com/questions/1133888/hard-number-theory-problem. The only solution is `(0, 0, 0)`. Nothing in the docstring indicates that it should skip trivial solutions.

[2015-02-04 21:57] certik opened #8944 "integrate(sin(x)**2/x, (x, 0, 1)) returns nan"
But the integral is finite:
[code]
and not only that, it is actually equal to:
[code]

[2015-02-04 22:01] asmeurer commented on #8944
It looks like a bug in the meijerg algorithm:

[code]

It looks like it can compute the definite integral just fine though (I'm not sure why it doesn't do this with `meijerg=False`)

[code]

[2015-02-04 22:01] certik opened #8945 "integrate(sin(x)**3/x, (x, 0, 1)) can't do it"
But the answer is given below in [15]:

[code]

Once this is fixed, try higher powers of `sin(x)^n/x` for integer `n`.

[2015-02-04 22:01] asmeurer commented on #8944
Oh I guess it's because the meijerg algorithm is what computes the indefinite integral.

[2015-02-04 22:03] asmeurer commented on #8945
This is the definite integral: http://www.wolframalpha.com/input/?i=integrate(sin(x)**3%2Fx%2C+x)&dataset=. I would expect the meijerg algorithm to be able to do this.

[2015-02-04 22:14] asmeurer commented on #8945
@raoulb

[2015-02-04 23:38] satels opened #8946 "Raise AttributeError on sympify('arcot(a*n)*g*x', evaluate=False)"
[code]

[2015-02-05 06:18] akritas commented on #8926
great!

[2015-02-05 14:59] gxyd commented on #8159
@vaibhav4595 according to the definition on wikipedia "In mathematics, the multiplicity of a member of a multiset is the number of times it appears in the multiset."  http://en.wikipedia.org/wiki/Multiplicity_(mathematics) . So in this case the multiset will be the set of primefactors of  0 , now primefactos(0) returns [] l. So i think it should rather return an Error. I am not sure regarding whic

[2015-02-05 17:16] certik opened #8949 "Test failures in PyPy on Travis"
The PR #8386 triggered unrelated failures on Travis:

https://travis-ci.org/sympy/sympy/jobs/49611610
https://travis-ci.org/sympy/sympy/jobs/49611613

Looking at one of the failures:
[code]
This looks like a bug in sympy, i.e. the order of `list(set([...]))` is undefined (http://stackoverflow.com/questions/9792664/python-set-changes-element-order).

[2015-02-05 17:58] darshanime commented on #8928
I think the issue is incorrectly titled. `deafult_sort_key` puts `sqrt(x)` before `x` while `ordered` puts it the other way.
[code]
Both `deafult_sort_key` and `ordered` are used to arrange the given expressions in specific orders. `deafult_sort_key` returns a key of the form `(class_key, (len(args), args), exponent.sort_key(), coefficient)`.
Key for `f(x)` : `((2, 0, 'Symbol'), (1, ('x',)), ((1,

[2015-02-05 18:18] sunny94 commented on #8928
Yes, it is incorrectly titled.
And I think only a note should be added that defaut_sort_key cannot be used for sorting in such manner as @smichr said.

[2015-02-05 18:28] darshanime commented on #8928
@sunny94, the documentation for `default_sort_key` is fine in my opinion. It does say that `The key returned is useful for getting items into a canonical order that will be the same across platforms. It is not directly useful for sorting lists of expressions`. This is followed by examples.

Also, let's wait for what @smichr thinks.

[2015-02-05 19:30] darshanime commented on #8927
Check this iPython Notebook regarding the use of `lambdify` to speed up numerical calculations in SymPy. [PR: #8842] (https://github.com/sympy/sympy/pull/8842)

[2015-02-05 21:46] Soumya-13106 commented on #8892
This issue has been addressed, I believe. Please close it.

[2015-02-05 21:58] moorepants commented on #8892
Seems like two PRs are open to address this:
- https://github.com/sympy/sympy/pull/8899
- https://github.com/sympy/sympy/pull/8900

Where has this been addressed otherwise?

[2015-02-05 22:55] mihir-w commented on #8943
I am thinking of simply adding a check which adds trivial solution if solution set is null and if the equation lacks constants.
Is this approach okay ? Or should I try to ensure that trivial solution is returned by every type of diophantine equation

[2015-02-06 00:19] smichr commented on #8928
I think the note looks good. I'll comment there. But I think the other part of this issue is to -- now that we are aware of the problem -- check to see that default_sort_key is never being used with the assumption that it is putting simple expressions first. I already fixed one such case; a check of code/comments surrounding its use in SymPy should to done to see if it is ever doing so anywhere el

[2015-02-06 03:17] kaushik94 commented on #8946
I think it is `acot` and not `arcot`
[code]

[2015-02-06 03:20] kaushik94 commented on #8946
But IMHO still it shouldn't matter because if we are calling evaluate=False, it should accept any function,
[code]

[2015-02-06 03:32] #8578 closed

[2015-02-06 04:21] darshanime commented on #8928
Sure @smichr. Can you show the case you fixed so that I can draw cues from it ?

[2015-02-06 04:41] moorepants opened #8953 "SymPy has invalid version numbers for PEP 440"
In particular the version number for the dev versions, e.g. `0.7.6-git` is invalid. The latest version of setuptools is now treating `0.7.6-git` to be older than `0.7.6`. This is bad. For example it is breaking upstream tests in PyDy for SymPy master: https://github.com/pydy/pydy/pull/113.

[2015-02-06 05:05] moorepants commented on #8953
It seems like Travis has just upgraded from pip 1.5 series to pip 6 series. See all of the backwards incompatibilities in the release notes: https://pip.pypa.io/en/latest/news.html.

[2015-02-06 08:40] yellowhat opened #8954 "integrate (1/ ( (A + (B-A)/L*x)^4 - C^4 ) )"
Hi,
I would like to calculate the indefinite integral of this function 1/ ( (A + (B-A)/L*x)^4 - C^4  )  so I typed in python3 shell:

A, B, C, L, T, G, theta, x = sp.symbols('A B C L T G theta x', positive=True, finite=True)

integrale = sp.integrate( sp.Pow( sp.Pow(A + (B-A)*x/L, 4) - sp.Pow(C,4), -1), x )

But it gives me this output:

L**4*(I*log(x + (-I*A*C*L/Abs(A - B) - A*L + I*B*C*L/Abs(A -

[2015-02-06 09:05] moorepants commented on #8953
If we want to be compliant with PEP 440 with our development version numbers then we need things to go like this:

- 0.7.6
- 0.7.7.dev1
- 0.7.7
- 0.8.0.dev1
- 0.8.0

whereas our current scheme is:

- 0.7.6
- 0.7.6-git
- 0.7.7
- 0.7.7-git
- 0.8.0

See this link: https://www.python.org/dev/peps/pep-0440/#id46

This is sort of annoying since you have to predict what the next version number is as soon

[2015-02-06 12:25] satels commented on #8946
Why this works?
[code]

May be add FunctionDnotExist exception ??

[2015-02-06 12:31] smichr commented on #8946
`arcot` is behaving like an undefined function.
[code]

[2015-02-06 12:37] satels commented on #8946
how to check this?

May be
[code]

[2015-02-06 14:47] smichr commented on #8954
:information_source: If you change the "..." to backticks "```" your equation will look better.

[2015-02-06 15:47] moorepants commented on #8953
The Travis people suggest:

`pip install pip<6 setuptools<8` to avoid PEP 440 issues.

https://github.com/travis-ci/travis-ci/issues/3060#issuecomment-73227013

[2015-02-06 16:22] smichr opened #8958 "maximum recursion for integrate(1/(-C**2 + ( x*(A - B)/L)**2), x, manual=True)"
[code]

*\* and then trying again gives an answer... **

[code]

[2015-02-06 17:03] certik commented on #8953
Unfortunately, I think we need to be PEP 440 compliant, as we need to be able to use pip.

So #8955 is the way to go.

[2015-02-06 18:25] smichr commented on #8949
At the end of [this thread](http://bugs.python.org/issue3332) Tim Peters wrote:
[code]

Although I tried to work around some tests by adding decoration to the doctest to make it work (e.g. a sorted_str_dict to convert a dict to an ordered string) but this is frowned on because they obfuscate what you are trying to show. In such cases I would recommend using the "# doctest: +SKIP" directive -- the

[2015-02-06 18:32] kevinventullo commented on #8943
My guess is that because it's homogeneous, the trivial solution is left out.

Finding integer solutions to homogeneous equations is often phrased as finding rational points on a hypersurface in projective space. In this context, you don't include the point *0*.

[2015-02-06 18:33] satels opened #8960 "Why Function(u'f') raise exception?"
[code]

[2015-02-06 19:18] certik commented on #8949
Interesting. It is consistent to just require exact string output, also it'd be hard for doctests to try all permutations until one agrees with the specified output. That being said, the comment right above Tim Peters is right --- this "feature" greatly diminishes the usefulness of doctests, because you can't show how functions that return dicts/sets should be used and what they return, because th

[2015-02-06 19:19] Sumith1896 opened #8961 "Finding columnspace of a given matrix"
SymPy already has a nullspace implementation,this can be extended to columnspace.The ability to find the columnspace of a given matrix can be implemented.

[2015-02-06 19:20] asmeurer commented on #8943
I would first investigate the algorithms and the code, to see why exactly this is not included. If @kevinventullo is right then we should just add a special case where we include 0 if it's needed.

[2015-02-06 21:03] asmeurer commented on #8949
You can't rely on `list(set)` giving a consistent output. Just replace `list` with `sorted` in the doctest.

[2015-02-06 21:18] #8920 closed

[2015-02-06 22:11] smichr commented on #8949
Rather, you can show how the output should be used, you just can't use the **doctest** to test *non-trivial* return values (i.e. set/dict with more than one element). You can skip a doctest, however, with output shown and (as always) you can test the output in the test suite.

We can work around the current failures of the above variety. I have no idea why the following have failures, however:

ht

[2015-02-06 22:14] #8949 closed

[2015-02-06 23:18] moorepants opened #8964 "Regression in CSE behavior."
PR #8934 changed cse to output singleton Matrices instead of a list of a single Matrix. The test was modified and I'm getting test failures in downstream code. The behavior no longer matches the docstring either:

[code]

[2015-02-07 00:17] moorepants opened #8966 "python setup.py clean should remove the pdfs generated by the docs."
[code]

It would also be nice if they were included in the `.gitignore` file.

[2015-02-07 00:45] lohmanndouglas commented on #7847
@MridulS  Hello the bug has been fixed?
If not, would like to know more information to resolve this bug. You need help to implement anything else?

[2015-02-07 00:57] moorepants commented on #7847
@lohmanndouglas You could add @MridulS's github fork of sympy as a remote and pull down his branch with his fix in https://github.com/sympy/sympy/issues/7847. Then play with it and see if it works.

[2015-02-07 05:37] #8964 closed

[2015-02-07 20:00] maniteja123 commented on #8960
I think it is due to the argument ``name`` passed in [here](https://github.com/sympy/sympy/blob/master/sympy/core/function.py#L710)

Making it

   ret = BasicMeta.__new__(mcl, str(name), (AppliedUndef,), kwargs)

instead of

   ret = BasicMeta.__new__(mcl, name, (AppliedUndef,), kwargs)

should probably work, since an ``unicode`` argument is causing the exception., whilst a ``str`` isn't.

I am ne

[2015-02-08 04:53] rohitsukhwal commented on #7163
Hi, I am new to Sympy community. I wanted to get started with this. Can you please explain more about this bug or from where to start?
Thanks.

[2015-02-08 11:10] darshanime commented on #8912
^ +1

[2015-02-08 13:08] simamura87 opened #8970 "Integrate freezes"
Integrate freezes on integral (b-a*x^2)*sqrt(4*x^2+1) dx

[2015-02-08 16:28] asmeurer commented on #7163
A similar fix to #2876 is needed somewhere.

[2015-02-08 22:59] jcrist opened #8972 "PyPy travis failures"
The tests in PyPy are failing for a couple tests. Mostly in combinatorics/permutations stuff. I'm 99% certain that this has to do with the [ordered dicts by default](http://morepypy.blogspot.com/2015/01/faster-more-memory-efficient-and-more.html) change in PyPy. This means that dicts that are key-value consistent are not _equlivalent_ due to ordering.

Example: https://travis-ci.org/sympy/sympy/jo

[2015-02-08 23:04] jcrist commented on #8972
Actually, not all failures are the same, some fail on other tests that aren't comparing dicts on output. I think this still has to do with the dict implementation messing with internals, but I could be wrong.

[2015-02-09 00:07] moorepants commented on #8972
Duplicate: https://github.com/sympy/sympy/issues/8949

[2015-02-09 00:12] jcrist commented on #8972
Woops, you're right. I did a quick scan of the issues before filing, and didn't see that one. My mistake.

[2015-02-09 00:15] jcrist commented on #8972
Actually, that issue was closed by @smichr , while we're still clearly having travis failures. I'm leaving this open.

[2015-02-09 11:21] darkcoderrises commented on #8945
Can i work on this?

[2015-02-09 13:24] certik commented on #8945
Of course!

Sent from my mobile phone.
On Feb 9, 2015 4:22 AM, "Harshil Goel" <notifications@github.com> wrote:

[2015-02-10 02:34] darkcoderrises commented on #8945
Is was thinking that we can implement something like, for all undefined defined integrals  we have we manually calculate the area i.e.
for (x = lowerlimit; x<upperlimit;x=x+0.00001//some low value)
{
    area = area + f(x)*0.00001;
}
(If such thing is not implemented yet.)

[2015-02-10 02:46] certik commented on #8945
Yes, that's implemented by `.n()` (in a much more robust way), see the cell [14] in the issue description for an example of usage.

[2015-02-10 03:04] darkcoderrises commented on #8945
Oh okay,thanks

[2015-02-10 12:23] aktech commented on #8808
Fixed here #8860
Should be closed.

[2015-02-10 12:57] debugger22 commented on #8808
Fixed in https://github.com/sympy/sympy/pull/8860

[2015-02-10 12:57] #8808 closed

[2015-02-10 14:05] aktech commented on #8972
@jcrist
I think, duplicate label can also be removed.

[2015-02-10 16:25] #8966 closed

[2015-02-10 17:00] aktech opened #8974 "solveset(-oo < x) & solveset(oo > x) returns EmptySet()"
[code]

Though reversing the relational expression works.

[2015-02-10 17:09] aktech commented on #8974
The Problem is with `solve_univariate_inequality`.

[2015-02-10 17:40] irogerthat opened #8975 "Or(And(-oo < x, x <= -2), And(2 <= x, x < oo)).as_set() gives wrong output."
[code]

[2015-02-10 17:52] darshanime commented on #8970
I am not able to reproduce the freeze.

[code]
Try again maybe ?

[2015-02-10 18:10] simamura87 commented on #8970
It is on live.sympy.org

[2015-02-10 18:25] MridulS commented on #7847
@moorepants unfortunately i have deleted that branch. @lohmanndouglas you can still see the changes I tried at https://github.com/sympy/sympy/commit/61838749a78082453be4e779cb68e88605d49244

[2015-02-10 21:06] rohitsukhwal commented on #7163
thanks. Please tell me how to proceed. I tried very much but i am not able
to start.

On Sun, Feb 8, 2015 at 9:58 PM, Aaron Meurer <notifications@github.com>
wrote:

[2015-02-10 22:38] asmeurer commented on #7163
I would `git grep "def doit"` and look for definitions that don't accept `**hints`.

[2015-02-11 05:41] darkcoderrises commented on #8945
In [43]: f = sin(x)**3/x

In [44]: g =mellin_transform(f, x, s)

In [45]: l=inverse_mellin_transform(g[0], s, x, (0, 1))

In [46]: integrate(l,(x,0,1))
Out[46]:
  Si(3)   3*Si(1)
- ----- + -------
    4        4

In [47]: _.n()
Out[47]: 0.247399170775520

[2015-02-11 06:11] darkcoderrises commented on #8945
for the functions which do not have a mellin transform (like e^(x**2)), we can see that
type(g) = sympy.integrals.transforms.MellinTransform
else
type(g) = tuple

[2015-02-11 06:27] certik commented on #8945
Nice. Essentially you are rewriting the `sin^3(x)` to an equivalent expression.

[2015-02-11 15:33] smichr commented on #8972
The auto-close feature closed this; I should not have said that it fixed all of the problems. I list the two remaining tests that fail there and repeat them here:

https://travis-ci.org/smichr/sympy/jobs/49777907
https://travis-ci.org/smichr/sympy/jobs/49777910

[2015-02-11 16:38] darkcoderrises commented on #8945
can someone help me in finding where to implement it.

[2015-02-11 16:51] darkcoderrises commented on #8944
https://github.com/sympy/sympy/issues/8945
Like in this, i suggested a way to find these integrals.
in this case the output comes out to be
  cos(2*x)    1
- -------- + ---
    2*x      2*x
and when i integrate this this gives nan at (0,1).
I think that is because at 0 is might that that 1/2*x is inifinite. So, this should be rectified irrespective of this issue.

[2015-02-11 17:18] certik commented on #8945
I think the integration subroutine needs to be fixed to handle this integral. I don't think it should call the Mellin transform.

[2015-02-11 17:21] pelegm commented on #8960
Is this not a duplicate of #8312?

[2015-02-11 19:06] darkcoderrises commented on #8945
Okay, Where should i start looking then?

[2015-02-11 19:16] pelegm commented on #8871
I don't fully agree. I still think this is an expanding, even if the number of terms is infinite. I think that at least wolfram alpha agrees with me, as it handles well the syntax `expand (a+b)^(-1)`, for example.

[2015-02-11 19:18] pelegm commented on #8970
`live.sympy.org` doesn't always hold the newest version. If this is not a bug in master, I suggest to close this issue.

[2015-02-12 00:39] Llewelyn62 opened #8977 "fourier_transform evaluates insufficiently well."
#8849 partly addressed the issue I am finding.
Problem #1:
W1 = simplify(fourier_transform(exp(-x**2/2),x,k))
W2 = simplify(integrate(exp(-x**2/2)*exp(-I*k*x), (x,-oo,oo)))
W1, W2, W1 == W2
This evaluates to:
(sqrt(2)*sqrt(pi)*exp(-2*pi**2*k**2), sqrt(2)*sqrt(pi)*exp(-k**2/2), False)
W1 is not equal to W2, which is correct.

Problem # 2.
Similarly, another fairly standard proof with Fourier is for

[2015-02-12 07:35] mihir-w opened #8978 "O(n) + n**2 evaluates incorrectly."
Using the big-O notation,
[code]

I think the first answer should be `O(n) + n**2`.

[2015-02-12 07:39] jksuom commented on #8977
Problem 1: There are two common ways of defining the Fourier transform with different values of the coefficient `b` in the exponential `exp(-I*b*k*x)` of the transform. The  most common case is `b = 2*pi` in which case `k` may be interpreted as 'frequency'. This is the default in SymPy. In the other case `b = 1`, and then `k` is often called the 'angular frequency'. The two transforms differ but c

[2015-02-12 09:27] Llewelyn62 commented on #8977
Understood --  and thanks for the clarification how sympy operates. So, the point perhaps is that sympy did evaluate both problems but, inferred the incorrect parameters. So, in problem 1 sympy is shown as not having capacity to evaluate outside of a 2pi bound, which is unhelpful. Where the integrate and other functions that are used to calculate this transform allow parameters from  -L to L, allo

[2015-02-12 12:06] sahilshekhawat commented on #8978
I just checked with the latest master and this seems to be working fine.
[code]

[2015-02-12 13:21] pelegm commented on #8978
I think that by default `O` is about 0. If you wish it to be around `oo`, you should do it explicitly:
[code]

[2015-02-12 13:28] sahilshekhawat commented on #8978
@pelegm I am getting inconsistence results while calculating this. I tried checking out various commit and even removing cache. Sometimes this works and sometimes it doesn't. I guess there is a bug in assumptions.

[2015-02-12 13:37] pelegm commented on #8978
@sahilshekhawat I have no idea what you're talking about. Perhaps you'd better post some inputs and outputs.

[2015-02-12 17:15] asmeurer commented on #8978
@sahilshekhawat please open a new issue with a log of what you are seeing.

@mihir-w as noted, O() is the order at 0 by default, not infinity like you are used to from computer science. This is because it's used for series expansions.

[2015-02-12 17:15] #8978 closed

[2015-02-12 17:53] asmeurer commented on #8945
You're welcome to try extending the meijerg algorithm, but a simpler way to fix this would be to add it to manualintegrate.

[2015-02-12 17:54] asmeurer commented on #8871
I don't think expand should do this. `expr.rewrite(Sum)` is a better place for it.

[2015-02-12 17:55] asmeurer commented on #8871
As one argument, expand and in particular expand_multinomial are often used to make sure that something is an expanded polynomial. Getting an unevaluated Sum from that would not be helpful for the places that do that.

[2015-02-12 18:52] Upabjojr opened #8981 "Tensor module - there can be no symmetry between different index types"
[code]
This creates `A` as a symmetric tensor, but `L` and `S` are different index types: they cannot be interchanged.

[2015-02-12 21:12] mihir-w commented on #8978
Thanks for clearing it up.

[2015-02-12 23:16] #8970 closed

[2015-02-13 11:08] toolforger commented on #8972
I just completed some local testing.

pypy 2.4.0 runs fine, no failures or errors.

pypy 2.5.0 (newly released on Feb 2 I think) gives me these:
sympy/solvers/tests/test_ode.py", line 112, in test_linear_2eq_order2
sympy/polys/tests/test_factortools.py", line 531, in test_dup_factor_list
sympy/polys/tests/test_factortools.py", line 636, in test_dmp_factor_list
sympy/solvers/tests/test_ode.py", lin

[2015-02-13 19:31] AadityaNair commented on #8960
I would like to work on this issue.
will encoding `name` to UTF8 be enough ?

[2015-02-13 20:26] asmeurer opened #8984 "Use \left \| instead of \lvert in latex(Abs)"
See https://groups.google.com/forum/#!topic/sympy/4kVZq27x6T0. It looks like `\lvert` isn't supported by matplotlib. Is there any good reason to use `\lvert` over `\|`?

[2015-02-13 21:48] asmeurer commented on #8960
Effectively, this is correct, though. Undefined functions are classes and in Python 2, classes have to be ASCII strings.

[2015-02-13 21:49] asmeurer commented on #8960
What is the behavior of `name.encode('ascii','ignore')` if `name` is non-ASCII?

[2015-02-13 22:03] jksuom commented on #8972
From python docs:

Apparently this is also valid in pypy. `items()`,  `keys()` and `values()` are not returned in the same order as in standard python.
The assertion error in the factor list test derives from `factors[0][0].almosteq(f, 1e-10)`. It can be fixed:
[code]

The failure in sympy/combinatorics/util.py appears to be caused by the nondeterministic nature of the incremental Schreier-Sims al

[2015-02-13 22:28] toolforger commented on #8972
The pypy 2.5.0 release notes claim otherwise:

I think we haven't fully understood what's happening yet.
At least I'm thoroughly confused right now...

[2015-02-14 10:40] toolforger commented on #8953
We can still do

* 0.7.7
* 0.7.8-git
* 0.8.0 (whoops, didn't want to go to 0.7.8 after all)

It might make people wonder, but most won't ever look at old -git versions anyway so I doubt it's going to hurt.

[2015-02-14 11:10] AadityaNair commented on #8960
I have generated a PR. Please review.

[2015-02-14 11:16] AadityaNair commented on #8972
Will an element-by-element comparison fix the issue ?

[2015-02-14 14:42] smichr opened #8992 "[enhancement] (p + 2)**3 > 1 should be True when p is positive"
Similar to issues #8632, #8633, #8638 and #8675, when values of variables in a polynomial put one in a domain where the polynomial is monotonic, then inequalities like the one of this issue should be known. For (x+2)**3 there is an inflection at x = -2 and the function is monotonically rising to the right (and falling to the left) so it should be safe to say that it is greater than 1 if x is posit

[2015-02-14 18:49] toolforger commented on #8972
I'd want to avoid element-by-element comparison.
First, it is going to be slower than a direct equality test.
Second, it's not going to help us understand why the key orders have started to diverge.
Third, since we don't understand what causes the divergence, it may or may not help.

[2015-02-14 19:57] paramsingh commented on #8880
Fixed this in #8989.

[2015-02-15 09:08] pelegm commented on #8992
Are you trying to accomplish it using old or new assumptions?

[2015-02-15 13:54] Sumith1896 opened #8996 "Prints out answer for non-convergent integral"
The following being a non-convergent integral,  SymPy still prints out the answer.
`In [5]: integrate( 1 /(1-(sqrt(2))*sin(x)),(x,pi/3,pi/4))`

[2015-02-15 16:17] moorepants opened #8997 "The ufuncify numpy and cython backends may have too much overhead"
Check out this gist:

http://nbviewer.ipython.org/gist/moorepants/ae16ef9d87eca0af72a9

It compares numba, numpy, and ufuncify. Our numpy and cython backends must have too much overhead as they should be comparable to the f2py backend and numba. They should definitely be faster than the pure numpy, but they aren't.

[2015-02-15 16:54] debugger22 opened #8998 "Unrelated test failure in combinatorics on pypy"
[code]
See [this](https://travis-ci.org/sympy/sympy/jobs/50809044)

[2015-02-15 16:55] debugger22 opened #8999 "Unrelated test failure in polys on pypy"
[code]
See [this](https://travis-ci.org/sympy/sympy/jobs/50809047)

[2015-02-15 17:11] vramana commented on #8999
Duplicate of #8972

[2015-02-15 17:18] debugger22 commented on #8999
Aw, Snap! Thanks!

[2015-02-15 17:18] #8999 closed

[2015-02-15 17:18] debugger22 commented on #8998
Duplicate issue.

[2015-02-15 17:18] #8998 closed

[2015-02-15 19:51] kaushik94 commented on #8632
@pelegm please check the issue title

[2015-02-15 20:24] jcrist commented on #8997
This is just the pow evaluation issue again. C doesn't have fast evaluation for integer powers (always uses full `pow` machinery, instead of converting to x*x), like fortran does. If we used `-ffast-math`, C should do those optimizations.

[2015-02-15 20:37] moorepants commented on #8997
Ah! I've had trouble compiling with `-ffast-math` in my opty package so I disabled it.

I'll try running the benchmark with `-ffast-math`. We should change the C code printer to do this. Is there any reason not to?

[2015-02-15 20:41] moorepants commented on #8997
It doesn't seem like the `CythonCodeWrapper` class has easy support for adding extra compile flags.

[2015-02-15 20:43] jcrist commented on #8997
Because floating point math is non-associative, this can lead to increased errors in calculations, that the user may not want. Last time we discussed this, a few options were suggested:

1. Turn on `-ffast-math`
2. Print integer powers less than some number as optimally parenthesized multiplications
3. Link in our own `powi` implementation for integer powers.

I'm not sure what's best here. I disl

[2015-02-15 20:44] jcrist commented on #8997
Yeah, we never did get around to that. For a quick test, you could generate the code with a specified file, manually edit it, then recompile.

[2015-02-15 20:57] moorepants commented on #8997
Relevant issues:
- https://github.com/sympy/sympy/pull/7517
- https://github.com/sympy/sympy/pull/7519

[2015-02-15 21:29] moorepants commented on #8997
@jcrist Just added this: https://github.com/sympy/sympy/pull/9001

But I don't get any speed ups:

http://nbviewer.ipython.org/gist/moorepants/a1ba433f9437602a0d2f

[2015-02-15 21:40] moorepants commented on #8997
Comments:

This should be an option regardless if we change the printing behavior.

I don't see anything fundamentally bad about this. You can also say that we shouldn't do CSE at this level and leave that to the compiler, but I'm not sure the compilers always do the best thing. I'm pretty sure that pre-CSEing the code before and optimized compile results in faster code. I'll implement this in PyD

[2015-02-15 21:44] jcrist commented on #8997
Hmmm, I'm not sure then. When I was working on this exact same issue this summer, I found that I could make C and Fortran almost equivalent by replacing `pow` with `x*x...`. The `-ffast-math` flag *should* perform that optimization for us here, but it may not be. I don't have time to dig into this today, but I'll try to look at it this week.

[2015-02-15 22:53] moorepants commented on #8997
I like this comment: http://stackoverflow.com/a/6442503/467314

It says "if you want x*x*x*x, then write that, don't write pow(x)". So I think we are fine writing that with our printers, but of course we are messing with the floating point accuracy. The question we have to ask is if a sympy expression orders muls in a certain way or has a pow, then what should we be printing on the code printers?

[2015-02-15 23:03] moorepants commented on #8997
Maybe the best is to have a "low_accuracy" flag for the C printer. Then we can make any kind of substitutions we want and disregard the associativity limit on floating point operations. The user will then know that they may get fast code, but it may be less accurate.

[2015-02-16 04:55] certik commented on #8997
Mathematically, `x*x*x = x^3`, so there is no issue for SymPy doing this simplification. You can use the `hold` attribute to represent `x*x*x`.

I would just use `-ffast-math` (the other options that I use are `-O3 -march=native -ffast-math -funroll-loops`). It seems to me the precision is dropped only about 4x or so in that stackoverflow post. I think that's negligible, but of course, ultimately

[2015-02-16 05:20] moorepants commented on #8997
It isn't an issue mathematically but if you are specifically targeting floating point operations with the SymPy expressions, it can be a issue. I'm not sure how we could apply a `hold` throughout all of the computations that happen in the mechanics package, or if we'd want to.

Thanks for the compiler flag tips. It isn't clear that `fast-math` actually "unrolls" the low integer `pow()` calls. I di

[2015-02-16 05:22] certik commented on #8997
The printing should definitely have an option to use the most optimized expression so that the gcc can produce fast code. If manually unrolling powers is the only way to get fast code, then we should support it. I am just surprised that this is the case. What compiler do you use?

[2015-02-16 06:06] moorepants commented on #8997
I use gcc most of the time. I haven't done extensive testing on the compiler flags, so there probably isn't any reason to discuss further until we do. I'll try to run some more tests this week when I have some free time.

[2015-02-16 06:16] certik commented on #8997
Cool. Make sure you enable `-march=native`, that's essential for good performance.

[2015-02-16 08:18] pelegm commented on #8632
What's wrong with it?

[2015-02-16 08:47] toolforger commented on #8996
What did you assign to x before that line?
Please post a full transcript of a minimal session that reproduces the behaviour.

[2015-02-16 11:38] aktech commented on #8996
In [5]: integrate(1/(1-(sqrt(2))*sin(x)),(x,pi/3,pi/4))

I think the function: `1/(1-(sqrt(2))*sin(x))` has a finite area between `(pi/3, pi/4)` . It attains infinity at pi/4.
[See Graph](http://www.wolframalpha.com/input/?i=1%2F%281-%28sqrt%282%29%29*sin%28x%29%29) and compare with these.

[code]

It doesn't prints an answer, It returns an unevaluated object.
[code]

[2015-02-16 11:43] mschubert commented on #8832
Would it be possible to be consistent with numpy here?

    array([[False, False],
           [False,  True]], dtype=bool)

Obviously, sympy can't reduce an operation between a `MatrixSymbol` and a scalar to a boolean matrix, but:
 * Treating an operation between a matrix and a scalar as a scalar operation to each element of the matrix greatly increases readability of code
 * This is standard prac

[2015-02-16 11:49] mschubert commented on #8833
This is also true for scalar comparisons:

[code]

Now, this could throw an error but I would advocate for element-wise comparisons with the `>` and `<` operators (as in #8832).

[2015-02-16 12:57] Sumith1896 commented on #8996
I am pretty sure that I had entered the same thing.When I am tried it out now, answer is varying at times. Is the integration consistent or should I recheck my facts?

[2015-02-16 13:09] aktech commented on #8996
Well I am not sure about that, I think @asmeurer will have some comments here.

[2015-02-16 15:32] shivamvats opened #9005 "Bug in experimental_lambdify"
[code]
Note that the plot that I got seemed correct.

[2015-02-16 16:51] lokeshh opened #9006 "'sys' NameError when mpmath dependency not met"
Environment with mpmath not installed returns the following upon running setup.py:

  File "C:\Users\Amit\Desktop\sympy-master\setup.py", line 47, in <module>
    sys.exit(-1)
NameError: name 'sys' is not defined

[2015-02-16 16:54] lokeshh commented on #9006
It's certainly because the

is written at the wrong place.

I am fixing it.

[2015-02-16 17:46] lokeshh commented on #9006
Here's my fix: https://github.com/sympy/sympy/pull/9007

[2015-02-16 22:02] abhiravredox commented on #8984
Hi! I would like to fix this bug , Please help me through it as its my 1st bug!

[2015-02-17 05:41] abhiravredox commented on #2915
Hi, Can I be guided on how to fix this bug (#firstbug).

[2015-02-17 19:19] bubka205 opened #9017 "Sympy throws valueerror on symbolic integration."
Hello, I'm new in sympy and tried to integrate irrational function and got valueerror.
[code]
By the way this example works in Sympy Live Shell. On my machine tried python 2.7.9-1, 3.4.2-2. Any help appreciated.

[2015-02-17 19:26] asmeurer commented on #9017
It works in the live shell because the -2/3 is converted to Rational(-2, 3).

[2015-02-17 19:44] bubka205 commented on #9017
Thanks a lot. It works now in python 2.

[2015-02-17 21:22] kaichogami commented on #7537
@amitsaha @skirpichev @hargup I think this issue could be closed now.

[2015-02-18 02:00] cswiercz opened #9019 "rootof: RootOf.evalf() infinite loop"
The following code hangs indefinitely:

[code]

Upon inspection, the issue occurs in `RootOf._eval_evalf()` inside an infinite (a `while True:`) loop. On [Line 598](https://github.com/sympy/sympy/blob/fa42fb33200ccb7d135cbccf29c6e77fb0cf8800/sympy/polys/rootoftools.py#L598) of `rootoftools.py` there is a check to see if the numerical approximation lies inside a continuously refining interval. Here

[2015-02-18 04:59] smichr commented on #9019
ping @jksuom

[2015-02-18 06:24] smichr commented on #8992
Old. Feel free to take a look.

[2015-02-18 06:28] #8974 closed

[2015-02-18 06:28] #8975 closed

[2015-02-18 10:37] jksuom commented on #9019
The evaluation begins with `dup_isolate_complex_roots_sqf()` which returns a *closed* complex rectangle containing one root. There is nothing to prevent the root from lying on the boundary or even at a corner. So I cannot see any possibility of avoiding the equality in the comparisons.

[2015-02-18 14:44] leosartaj commented on #8167
I would like to work on this bug. A simple check can be added in the 'doit' function of the Limit class, to substitute all the symbols that are equal to zero and then simply compute the limit or there can be a better approach?

[2015-02-18 15:47] smichr commented on #9019
Thanks, @jksuom. @cswiercz would you like to send a PR making the change?

[2015-02-18 15:49] cbm755 opened #9028 "Trace of MatAdd can fail with error: "mix of Matrix and Scalar symbols""
[code]

I will look into this.

[2015-02-18 16:14] #8984 closed

[2015-02-18 16:32] #8601 closed

[2015-02-18 16:48] cswiercz commented on #9019
@smichr Sure. Again, I wasn't sure if inclusion in the interior was a necessary condition for the algorithm to work but thanks to @jksuom it should be a quick change.

[2015-02-18 20:26] lokeshh commented on #9028
You might want to change the title to `Mix of Matrix and Scalar symbols` instead of `Mix of Scalar and Scalar symbols`

[2015-02-19 04:28] #8138 closed

[2015-02-19 04:55] smichr commented on #9006
#9007 was merged

[2015-02-19 04:55] #9006 closed

[2015-02-19 05:02] smichr commented on #8972
@toolforger , can this be closed now that #8972 has been merged?

[2015-02-19 08:44] toolforger commented on #8972
Did somebody run the tests locally? Including doctests and slow tests?
I wasn't aware of the patch, I added comments there.

[2015-02-19 09:52] toolforger commented on #8972
Local testing still reveals errors:

[code]

[2015-02-19 12:14] proy87 opened #9032 "Trigsimp hangs"
Trigsimp hangs on `-32*sin(64*x)/sqrt(cos(64*x))`

[2015-02-19 13:46] toolforger commented on #8972
Local doctests run fine with pypy 2.5.
AFAIK there are no Travis exclusions in the docstring code so that's what I expected.

[2015-02-19 15:50] toolforger commented on #8972
Slow tests just finished.
I'm just seeing the kane3 test failing with the usual complaint about deprecated API use.

[2015-02-19 16:31] #9019 closed

[2015-02-19 20:06] smichr commented on #9032
It doesn't hang but the time taken to simplify `sin(n*x)/sqrt(cos(n*x))` increases approximately eponentially with n:

[code]

[2015-02-19 23:36] simamura87 commented on #9032
Got it!

[2015-02-20 03:46] moorepants commented on #6131
This was fixed here: https://github.com/sympy/sympy/pull/8819

[2015-02-20 03:46] #6131 closed

[2015-02-20 12:39] #8815 closed

[2015-02-20 14:24] pelegm opened #9034 "Unicode printing problem with mixture of logs and powers"
Say `n` is an integer symbol. The following
[code]
prints
[code]
so for some reason the `(...)` of the log hangs one line above it.

[2015-02-20 17:12] lokeshh opened #9035 "Matrices: Trace ineffective when used with MatAdd"
`trace(MatAdd(M1, M2, M3...))`, lacks expression evaluation inside to give smart results.

To meantion one such example, let `X` and `Y` be defined as follows:
[code]
Now, it is expected for
[code]
to return

[code]

but it gives

[code]

(Its being dealt with at #9031.)