[2016-06-27 21:08] asmeurer commented on #11306
Wrong PR. It was changed at https://github.com/sympy/sympy/pull/9657.

[2016-06-27 21:15] asmeurer commented on #11306
Why was it changed to use `select` instead of if/then/else chains, which are the default from `LambdaPrinter`? Those work just fine, because they don't evaluate the value unless the condition is true

[code]

[2016-06-27 21:59] richardotis commented on #11306
The reason we don't use if/then/else is that it breaks as soon as you try to pass array arguments:
[code]
[code]

However you are correct to point out that using `select` is inefficient, which is why in my fork of `NumPyPrinter` I changed it to use `where`, which evaluates conditions lazily, not too long ago:
[code]

I don't remember exactly why I chose to use `select`; the original motivation may

[2016-06-27 22:01] richardotis commented on #11306
(Yes, it had to do with trying to make piecewise broadcasting work in numba, before I fully understood how `numba.vectorize` worked. Anyway, it doesn't matter now.)

[2016-06-27 22:03] asmeurer commented on #11306
Your printer that uses where doesn't fix the problem. It prints this Piecewise as

[code]

which still evaluates every instance of `1/x`.

[2016-06-27 22:05] asmeurer commented on #11306
In fact, given that Python is an eagerly evaluated language, I don't see how it's more efficient either.

[2016-06-27 22:06] richardotis commented on #11306
Of course you're correct that all the arguments to `where` will still get evaluated before it gets called. Let me think about this for a bit.

[2016-06-27 22:19] richardotis commented on #11306
(The lazy evaluation misconception must have come from something I was doing with numba.)

I can't think of a good solution to this until we have the ability to do array allocations in the code generator. NumPy, like Python, evaluates all function arguments eagerly. The only way to prevent a Piecewise represented in NumPy from evaluating an expression which will raise is to use Python's built-in b

[2016-06-27 22:28] asmeurer commented on #11306
Are we already setting that flag? The default numpy behavior is

[code]

[2016-06-27 22:29] asmeurer commented on #11306
Oh, it evaluates 1/0 in Python. So is the solution to wrap any divided expressions with `numpy.array`?

[2016-06-27 22:31] asmeurer commented on #11306
In other words, this works:

[code]

[2016-06-27 22:32] asmeurer commented on #11306
That doesn't change the inefficiency issue, though, but as far as I know no one has complained about that yet.

[2016-06-27 22:34] asmeurer commented on #11306
I guess `array(array)` does a copy. So we want `1/array(x, copy=False)`.

[2016-06-27 22:34] richardotis commented on #11306
Probably `asarray` is a better choice so we don't make an unnecessary copy, but otherwise I think that's the best call.

(I thought it was confusing that numpy's default behavior would be to raise on division by zero...)

[2016-06-27 22:37] richardotis commented on #11306
Looks like I have this commented out in my fork, where apparently I ran into this problem before:
[code]

[2016-06-27 22:40] richardotis commented on #11306
But the overflow issue is a good reminder. If something like `Pow` gets evaluated in pure Python, we could overflow and get this same issue. Would it be sufficient to wrap `_print_Integer`, `_print_Float`, and `_print_Symbol`?

[2016-06-27 22:40] asmeurer commented on #11306
What was the integer overflow bug?

The right place to put this is in `_print_Mul`, so that denominators get wrapped. If there are other places where Python ops raise exceptions but numpy ops don't, we should wrap those as well.

[2016-06-27 22:41] asmeurer commented on #11306
Interesting behavior:

[code]

[2016-06-27 22:43] asmeurer commented on #11306
Wrapping every symbol would do it, as then everything would be an array, but it's probably overkill. We really only need to protect denominators.

[2016-06-27 22:43] richardotis commented on #11306
[code]
[code]

[2016-06-27 22:45] asmeurer commented on #11306
Actually, a much cleaner solution is to wrap the input values as arrays:

[code]

So we should make it so that `lambdify(x, expr, 'numpy')(value)` is the same as `lambdify(x, expr, 'numpy')(asarray(value))`. NumPy does this implicitly automatically, but it can't when the operations are Python.

An issue here is that doing this automatically would be a backwards compatibility break with the current

[2016-06-27 22:53] richardotis commented on #11306
My thought is we should probably do both (wrap inputs and arguments to `Mul` and `Pow`), even though it's overkill, in case users try to pass in SymPy objects containing constant expressions which raise when represented in pure Python. But perhaps this is too much of an edge case for us to be worth complicating the way NumPyPrinter works.

[2016-06-27 22:55] asmeurer commented on #11306
Can you give an example of that? I'm unclear what you mean.

[2016-06-27 23:06] richardotis commented on #11306
Oddly, I can't seem to create an example. I don't see why this works:
[code]
[code]

[2016-06-27 23:07] richardotis commented on #11306
Never mind, it doesn't actually work. I just had the Integer-wrapping thing in there by accident. If you run it normally, it just hangs.

[2016-06-27 23:34] richardotis commented on #11306
To get back to the main point, do you think we should just add a decorator to the lambdify'd when called with numpy, like
[code]

[2016-06-28 00:00] asmeurer commented on #11306
Yes (or the equivalent).

Regarding the integer overflow thing, I'd consider that to be a separate issue. If it comes up in real problems, we can look at fixing it. The example you gave feels contrived, since evaluating `10**10e40` is going to either hang or overflow no matter how it is evaluated. But maybe there are real uses.

[2016-06-28 00:37] richardotis commented on #11306
Agreed. I'll write the PR to address this issue like you suggested, unless you have another idea.

[2016-06-28 01:50] trxrunner opened #11307 "solveset can't solve 2**x-4"
Solveset is unable to solve 2**x-4
[code]

[2016-06-28 06:01] parsoyaarihant commented on #11307
I think this is related to #11096

[2016-06-28 11:06] gutfeeling opened #11309 "matrix diagonalize and eigenvalue calculation doesn't work"
Here is an example of the error.

[code]

[2016-06-28 16:22] jksuom commented on #11309
SymPy cannot find the exact roots of the symbolic characteristic polynomial of degree 8. (Those are not algebraically solvable in general.) Numerical approximations can be used instead.
[code]

(The empty result is probably not the best way to indicate the failure.)

[2016-06-28 18:33] gutfeeling commented on #11309
Thanks. That clears up the issue. You are right about the empty result being confusing.

[2016-06-29 00:23] nicoguaro commented on #6257
@asmeurer, Maxima has an option of `parsubst`, that makes the substitution in parallel, for the cases that you don't want to make the substitution serially. Do you think that SymPy should have both options?

[2016-06-29 02:31] asmeurer commented on #6257
SymPy's subs has the flag `simultaneous=True`, but I think that's separate from this. That flag lets you swap expressions, like

[code]

but it doesn't affect the behavior of `(x*y).subs({y: z, z:2})`.

[2016-06-29 02:35] amitsaha opened #11311 "Any thoughts on starting to use mypy for type checking?"
For the uninitiated, [mypy ](http://mypy-lang.org/index.html) is "optional type checking" for Python.

[2016-06-29 06:12] asmeurer commented on #11311
Where would it be used? Most SymPy functions take any Expr or Basic type as input.

[2016-06-29 08:52] Upabjojr opened #11313 "Series of Derivative"
Given that

[code]

I suppose the series expansion of the derivative should be identical, but:

[code]

It looks like the expansion of `Derivative` is one order less than the computed derivative.

Is this a bug?

[2016-06-29 19:09] #11284 closed

[2016-06-29 19:09] #11285 closed

[2016-06-29 19:09] #11287 closed

[2016-06-29 19:09] #11289 closed

[2016-06-29 19:09] #11291 closed

[2016-06-29 19:09] #11292 closed

[2016-06-29 19:09] #11293 closed

[2016-06-29 19:09] #11294 closed

[2016-06-29 19:17] certik commented on #11284
[code]
So that's a 9.2x speedup over SymPy right here.

[2016-06-29 19:20] certik commented on #11293
This now works:
[code]

[2016-06-29 19:22] certik commented on #11294
That seems to be working now:
[code]

[2016-06-29 19:27] certik commented on #11292
This is fixed now:
[code]

[2016-06-29 19:29] certik opened #11314 "RuntimeError: maximum recursion depth exceeded while calling a Python object"
[code]

That should be fixed not to return an infinite recursion.

[2016-06-29 19:32] certik opened #11315 "Improve change_ics(self, b)"
Currently the source code is:
[code]
But one should never be using a bare `except` like above. One needs to catch a particular exception. The `from_sympy` should raise an exception, perhaps `NotHolonomicError`, or something like that (this is also related to #11314). And then `change_ics` should only catch `NotHolonomicError`, and let all other exceptions to propagate.

[2016-06-29 19:33] certik commented on #11314
See #11315 for what from_sympy should do instead on this case.

[2016-06-29 19:59] certik commented on #11288
Now I am getting:
[code]
Which is the right answer, as you can check using:
[code]
The ODE is the same, and the initial conditions are also the same, as can be checked numerically.

[2016-06-29 19:59] certik commented on #11288
So I think we can close this one @shubhamtibra, feel free to close it.

[2016-06-29 20:23] certik opened #11316 "from_sympy(sin(x)**2/x).integrate((x, 0, 1)) fails"
[code]
But the answer should be:
[code]

[2016-06-29 20:29] certik commented on #8944
As of 8d7b522e58aae883b4592e4fae3babf82d1e4db2, this is now fixed. But it's terribly slow. Fortunately, there now exists a much quicker (and robust?) way using holonomic functions:
[code]
Note that most time is spent converting to and from holonomic functions. The actual integration is immediate.
[code]

[2016-06-29 20:29] #8944 closed

[2016-06-29 20:30] certik commented on #8944
Thanks to @shubhamtibra for implementing the holonomic functions module, which made this possible. Great job, it's already very useful and better in the above case than what we have in sympy's integrate.

[2016-06-29 20:43] certik opened #11317 "from_sympy(exp(-x**2)*erf(x)).integrate(x).to_sympy() fails"
This integral:
[code]
Can be almost done, except the last step:
[code]
Any ideas how to convert it back to sympy?

[2016-06-29 21:05] certik opened #11318 "rename from_sympy to from_expr"
Either `expr_to_holonomic` or something like that or `HolonomicFunction.from_expr (like a classmethod)`.

[2016-06-29 21:06] asmeurer commented on #11318
And `to_sympy`. It's confusing because holonomic *is* part of SymPy.

[2016-06-29 21:11] asmeurer commented on #8944
I don't like how you have to substitute endpoints to get a definite integral. Based on that, I would say that miejerint_definite should still remain the default for definite integrals (plus it can give convergence conditions). But for indefinite integrals, that doesn't matter, so if this is good in general, it may be worth adding it before meijerint_indefinite (but after risch, I'd say, since risc

[2016-06-29 21:11] asmeurer commented on #8944
This is interesting. I wonder what is going on

[code]

[2016-06-29 21:11] certik opened #11319 "How to evaluate a definite integral when to_sympy() fails"
[code]
We have the antiderivative, we just need to evaluate it at the endpoints. But since to_sympy() fails, the hard part is to figure out if there is a way to still get a symbolic answer for a difference of a holonomic function evaluated at two points (one of which can be infinity).

[2016-06-29 21:16] certik opened #11320 "Example where HolonomicFunction works but MeijerG fails"
[code]
We should check that the answer is actually correct.

[2016-06-29 21:18] certik commented on #11320
A simple check on the results of `[40]` seems to fail:
[code]
So there might be a bug somewhere in the holonomic module.

[2016-06-29 21:19] asmeurer commented on #11320
Yeah, I can't get the derivative to simplify, and `equals` thinks they are not equal.

[2016-06-29 21:20] asmeurer commented on #11320
The answer should be `Si(2*x) + cos(x)**2/x` http://www.wolframalpha.com/input/?i=integrate+(cos(x)%2Fx)**2&dataset=

[2016-06-29 21:24] asmeurer opened #11321 "UnboundLocalError in holonomic"
[code]

[2016-06-29 21:25] certik commented on #11320
Part of the problem is that since `cos(x)/x` is singular for x=0, the initial conditions are taken at x=1. But then things become complicated when converting back to sympy, e.g. already this is complicated:
[code]
However, it's interesting that I got the same answer as in `[40]`, suggesting that the antiderivative is correct, just not of the function `(cos(x)/x)^2`, but of `[47]`.

@shubhamtibra,

[2016-06-29 21:29] certik commented on #11320
It looks like `from_sympy()` is correct:
[code]
So it must be `to_sympy()` that fails.

[2016-06-29 21:29] asmeurer commented on #11320
Am I interpreting the output of `from_sympy` correctly?

[code]

(by the way, how about fixing https://github.com/sympy/sympy/issues/4719 and using a valid Python notation, like `8*x + (4*x**2 + 6)*D(f)(x) + ...`)

[2016-06-29 21:30] asmeurer commented on #11320
(`f = (cos(x)/x)**2` there)

[2016-06-29 21:31] certik commented on #11320
@asmeurer yes, that's the differential equation, so `[37]` should be 0, unless we made a mistake somewhere.

[2016-06-29 21:35] certik commented on #11320
@asmeurer you made a trivial mistake, you have to do:
[code]

[2016-06-29 21:36] certik commented on #11320
@asmeurer but yes, you understood it perfectly, and in fact this method is a much more robust method to check if a given function satisfies the ODE. In this case, `from_sympy()` is clearly correct. It's the `to_sympy()` that seems to give a wrong answer here. In general, `from_sympy()` should be pretty robust, it's the `to_sympy()` that's the hard part.

[2016-06-29 21:37] asmeurer commented on #11319
Well this example does have an indefinite integral:

[code]

So in theory to_sympy could improve. But it's a valid question nonetheless. There are likely better examples, say where the indefinite integral requires a special function that SymPy doesn't have implemented (or is so obscure that a special function doesn't exist for it).

[2016-06-29 21:39] asmeurer commented on #11320
Ah. This just furthers my point that the str representation of HolonomicFunction should be valid Python, using `Function('f')`, so I can just `ode.subs(f(x), (cos(x)/x)**2)` to evaluate it.

[2016-06-29 21:40] asmeurer commented on #11321
By the way, this error is also caught by pyflakes. I would recommend using it to catch trivial mistakes like this one (I have it integrated into my editor, emacs, using flycheck-pyflakes).

[2016-06-29 21:44] certik opened #11322 "Convergence conditions for integrals using holonomic functions"
Per #11319, even if we could solve it using holonomic functions, another advantage of the MeijerG integrator is that it returns convergence conditions. Here is an example:
[code]
It would be nice to know if we can get similar conditions using holonomic functions.

[2016-06-29 21:48] certik opened #11323 "Can holonomic functions be extended to multiple variables"
Currently that doesn't work:
[code]
I don't know if this could be made to work or not, but we should investigate this, and either implement it, or document why it can't be done.

[2016-06-29 21:49] certik commented on #11322
I think the convergence conditions only arise if there are more than one variable. So we can tackle this issue after resolving #11323.

[2016-06-29 21:52] certik opened #11324 "str representation of HolonomicFunction should be valid Python"
the str representation of HolonomicFunction should be valid Python, using Function('f'), so I can just ode.subs(f(x), (cos(x)/x)**2) to evaluate it.

This came up in https://github.com/sympy/sympy/issues/11320#issuecomment-229497355

[2016-06-29 21:53] certik commented on #11320
@asmeurer I turned your last comment into #11324.

[2016-06-29 21:57] certik commented on #11323
@shubhamtibra, @jksuom, this is the most important issue. If we can make it work, then the holonomic functions could work as a more robust and general replacement for the MeijerG algorithm (assuming #11322 can also be fixed).

If it cannot be made to work, then this would indeed be a severe limitation of the holonomic functions approach. Though not the end of the world, it's still very useful for

[2016-06-29 21:58] asmeurer opened #11325 "HolonomicFunction converts floats to rationals"
It looks like the holonomic function to_sympy converts floats to rationals

[code]

For it to be useful in broader applications, like `integrate`, it needs to be able to handle floats natively. If it uses the polys, it should use the polys float domains.

[2016-06-29 21:59] asmeurer commented on #11324
For this to be convenient, it would be nice to have a derivative operator (https://github.com/sympy/sympy/issues/4719), so that you could just write `D(f)(x)` instead of `f(x).diff(x)`.

[2016-06-29 22:08] asmeurer opened #11326 "sympy.holonomic.to_sympy(1/sin(x)) gives RecursionError"
[code]

[2016-06-29 22:14] certik opened #11327 "from_sympy(sqrt(x)) fails"
[code]
Either it should raise `NotHolonomicError` or it should work.

[2016-06-29 22:19] certik commented on #11327
Here is the ODE that it satisfies, thanks to @asmeurer:
[code]

[2016-06-29 22:22] certik opened #11328 "convert to a hypergeometric function"
Add a method that returns an unexpanded hypergeometric representation (if it exists) of a given HolonomicFunction. We already use this in `to_sympy()` but we expand the hypergeometric function.

[2016-06-29 22:23] certik opened #11329 "convert to MeijerG"
Add a method that returns a MeijerG (unexpanded) of a given holonomic function, if it exists.

[2016-06-29 22:25] certik commented on #11327
Once this is done, also make sure things like `sqrt(1+x**2)` and other algebraic functions work.

[2016-06-29 22:50] certik commented on #8944
Regarding the endpoints, there is a technical bug (#11316) and then a fundamental issue (#11319).

[2016-06-30 07:19] shubhamtibra commented on #11320
`to_sympy()` is failing here. As of now it will fail when the initial conditions are provided at any point other than `0`.

The method uses the generalized hypergeometric function to convert to expressions. Basically we compute a recurrence relation in the coefficients of the power series expansion about origin, which should be of the form `u(n+k) = (a(n) / b(n)) * u(n)` to represent a hypergeomet

[2016-06-30 07:21] shubhamtibra commented on #11328
We have that, use `to_hyper()`.

[2016-06-30 07:28] shubhamtibra commented on #11327
There doesn't seem to be a direct algorithm for computing the differential equation of an algebraic function. We had a discussion on this [here](https://gitter.im/shubhamtibra/Holonomic_Discussion?at=5761215cf191398330a0a721), we should figure out some way to implement this.

[2016-06-30 07:44] shubhamtibra commented on #11321
This will be fixed after implementing this https://github.com/sympy/sympy/issues/11320#issuecomment-229579460.

[2016-06-30 09:13] jksuom commented on #11323
Holonomic functions with several variables can be constructed as easily as univariate functions. Only the differential equation has to be built on a family of many differential operators `Dx_i`.

However, in this particular case it seems to me that the variable `a` is more like a parameter with respect to which no differentiation is performed. If that is so, then no bigger changes would be needed

[2016-06-30 09:35] jksuom commented on #11329
This looks hard. It is easy to recognize those differential equations that have Meijer G-functions as solutions. Also the `a`- and `b`- parameters can be easily found from the equation. But this does not suffice, in general. To define a G-function these two families of parameters have to be divided into two parts each. Thus there are many G-functions satisfying the same differential equation. A ge

[2016-06-30 11:48] certik commented on #11329
Isn't the same problem with the hypergeometric differential equation?

Sent from my mobile phone.
On Jun 30, 2016 3:35 AM, "Kalevi Suominen" <notifications@github.com> wrote:

[2016-06-30 12:06] shubhamtibra commented on #11320
I added functionality in `to_sympy()` to make it work for any point `x0`, `0` or otherwise. (Thanks to @jksuom )

This example still doesn't work because the power series expansion of `(cos(x)/x)**2` about `1` isn't a hypergeometric series.

We need to add figure out a way to cover this case.

[2016-06-30 13:00] jksuom commented on #11329
G-functions and generalized hypergeometric functions (series that begin with a term `x**s` for some complex `s`) are solutions of essentially the same differential equations. So it seems that the problem is more or less the same.

[2016-06-30 15:46] certik commented on #11329
And yet, we can convert to a hypergeometric function. I think we use the series expansion, but if it is possible to overcome this problem for a hypergeometric function, it might be possible to do the same for the G function somehow.

[2016-06-30 15:56] jksuom commented on #11329
Those conversions succeed under special conditions. And only a specific branch of a holonomic function is converted in the current implementation.

[2016-06-30 15:58] certik commented on #11327
@shubhamtibra we can tackle a general algebraic function later. For now let's just tackle powers like `x^(1/2)`, `x^(1/3)` and so on. Here is how to derive the ODE:
[code]
E.g. if `f(x) = sqrt(x)`, then `n = 2` and the ODE is `-f + 2*x*f' = 0`.

[2016-06-30 16:00] jksuom commented on #11329
But I think that if a conversion is desired, the chances are better with hypergeometric series when a holonomic function is defined with  initial conditions.

[2016-06-30 16:02] certik commented on #11327
Similarly, for `x^(m/n)` I get:
[code]
Then for things like sqrt(x^2+1), cannot you use the composition function that is already implemented?

[2016-06-30 16:08] shubhamtibra commented on #11327
Cool, I think this will be the way to go. Thanks @certik .

[2016-06-30 16:43] certik commented on #11327
It's actually thanks to @asmeurer, he showed me this trick yesterday.

[2016-06-30 16:49] certik commented on #11329
I thought that's how we convert back to sympy, that we identify the hypergeometric function. The motivation to obtain a G function is to use the G function definite integrator, i.e. to use holonomic functions as a robust method to obtain a G function.

[2016-06-30 17:10] #11306 closed

[2016-06-30 19:52] asmeurer opened #11332 "Implement sum of squares polynomial algorithm"
See https://andrescaicedo.wordpress.com/2008/11/11/275-positive-polynomials/ for mathematical details, and http://www.mathcs.emory.edu/~vicki/pub/sos.pdf for the algorithm. Also https://en.wikipedia.org/wiki/Polynomial_SOS. The idea is an algorithm that can write any real polynomial (in any number of variables) as a sum of squares of polynomials, or prove that it can't be done.

It would also be n

[2016-07-01 08:26] shubhamtibra commented on #11319
The power series expansion of this function is hypergeometric at `-1`. Here's a small fix for this example as per #11330 :
[code]

[2016-07-01 08:57] parsoyaarihant commented on #11332
I want to work on this issue.

* Can anyone guide me on how to go about implementing this?

* @asmeurer , can you give a program example so I can better understand the API which will be used to use this algorithm?

[2016-07-01 16:45] asmeurer commented on #11332
Head up, this is a more difficult issue. I would start by reading the links I provided above to make sure you have a feel for the problem.

I haven't really thought about an API. Probably `sumofsquares(poly, parameter=Symbol('lambda'))` and `sumofsquares_list(poly, parameter=Symbol('lambda'))` (the former returns a factored expression and the latter returns a list of the unsquared terms). They sho

[2016-07-02 02:44] parsoyaarihant commented on #11332
I understand that this is a difficult issue. But I should give it a try.

* I have no problem if anyone else starts working on this issue too.

[2016-07-02 05:07] kotharitrisha commented on #10415
@kshitij10496 Has this been addressed? If not, I'd like to take a shot at this!

[2016-07-02 20:06] kshitij10496 commented on #10415
@kotharitrisha Please give it a go.
I haven't made progress on this issue.

[2016-07-02 20:36] #11203 closed

[2016-07-03 15:19] Shekharrajak commented on #11175
Another case

[code]

[2016-07-04 07:19] #10974 closed

[2016-07-04 20:01] leosartaj opened #11344 "``MatrixBase.inv`` should have a docstring."
Likewise, all the other public methods should have a docstring.

[2016-07-04 20:07] leosartaj opened #11345 "Add Support for ellipsis in slicing matrices."
We can add support for ellipsis in slicing matrices. Opinions?

Link - http://docs.scipy.org/doc/numpy/reference/arrays.indexing.html

[2016-07-04 21:57] kritkaran94 commented on #11344
@leosartaj I will take this issue and try to make the change/changes.

[2016-07-04 21:58] leosartaj commented on #11344
Sure.

On 5 July 2016 at 03:27, Krit Karan <notifications@github.com> wrote:

--
Regards
*Sartaj Singh*

*Mathematics and Computing*,
Indian Institute of Technology,
Varanasi - 221 005 INDIA

E-mail: singhsartaj94@gmail.com, *sartaj.singh.apm13@itbhu.ac.in
<sartaj.singh.apm13@itbhu.ac.in>*

[2016-07-04 23:59] #11204 closed

[2016-07-05 13:06] kornev opened #11348 "How plot 1/(y - x) function?"
Plot in Wolfram Mathematica:
![sympy](https://cloud.githubusercontent.com/assets/5138477/16585420/d557660c-42d1-11e6-8711-549d3a957615.jpg)
How set predicate y - x == 0 on plot3D function?

[2016-07-05 17:12] kornev commented on #11348
[code]
error: division by zero

[2016-07-05 21:51] asmeurer opened #11349 "horner doesn't factor a term"
I'm not sure if this is really a bug or not, as I'm a little unclear on what `horner` is supposed to do on multivariate polynomials. Take this example, taken from https://stackoverflow.com/questions/38168922/python-list-algebraic-simplification:

[code]

`D1` and `Kc` are not factored out of the last terms.

[2016-07-06 21:37] nicoguaro opened #11350 "UserWarning plot"
I tried to make the plot

    from sympy import *
    init_session()
    plot(exp(-100*x)*sin(exp(100*x)))

And I received the following warning

    UserWarning: The evaluation of the expression is problematic. We are trying a failback method that may still work. Please report this as a bug.

I am then reporting it as a bug. When I specify a range for the plot it works, though:

     plot(exp(-10

[2016-07-07 00:54] gorisaka opened #11351 "TypeError exception in totient and reduced_totient LaTeX printers"
In spyder, or other latex enabled environment, run:
[code]
...
[code]

The same occurs for `reduced_totient`.

Edit:info

[2016-07-07 05:32] gxyd opened #11352 "coset_enumeration_c raises "AttributeError: 'CosetTable' object has no attribute 'lookahead'""
[code]

[2016-07-07 05:38] jksuom commented on #11352
But `look_ahead` does exist.

[2016-07-07 10:08] kritkaran94 commented on #11351
@gorisaka It works fine for me.
![screen shot 2016-07-07 at 3 37 48 pm](https://cloud.githubusercontent.com/assets/10063868/16649899/cf7d42c8-4458-11e6-8534-566d20da8e88.png)

[2016-07-07 10:28] kritkaran94 commented on #11352
@gxyd @jksuom I got the same error. Is it a bug ?

[2016-07-07 10:36] gorisaka commented on #11351
Pretty printing is working. The problem ocurrs when using LaTeX printer.

[2016-07-07 11:16] bjodah opened #11353 "ccode to output expm1, log1p, exp2, log2"
Since C99, and C++11 respectively, there is support for:
- [expm1](http://en.cppreference.com/w/c/numeric/math/expm1)
- [log1p](http://en.cppreference.com/w/c/numeric/math/log1p)
- [exp2](http://en.cppreference.com/w/c/numeric/math/exp2)
- [log2](http://en.cppreference.com/w/c/numeric/math/log2)

These offer better precision/performance. Hence it would be nice if we could teach `ccode` how to outp

[2016-07-07 12:42] gxyd commented on #11352
This is to be a small fix. The [line 460](https://github.com/sympy/sympy/blob/master/sympy/combinatorics/fp_groups.py#L460) should be changed from `self.lookahead()` -> `self.look_ahead()`. Perhaps the test should also be added. Also remove [this comment](https://github.com/sympy/sympy/blob/master/sympy/combinatorics/fp_groups.py#L443) , since `look_ahead()` will then be tested.

[2016-07-07 13:16] kritkaran94 commented on #11352
@gxyd I will do that right away.

[2016-07-07 13:30] pnveme opened #11354 "Simple sympy integration does not complete"
from __future__ import division

from sympy import *
import numpy as np
import matplotlib.pyplot as pl
from sympy import init_printing
init_printing()
SUB = str.maketrans("0123456789", "₀₁₂₃₄₅₆₇₈₉")

# Management functions clear all variables and close all figures
import os
clear = lambda: os.system('cls')
clear()
pl.close('all')

print('Example 12 - centroid and MOI')
print('---------------------

[2016-07-07 13:35] pnveme commented on #11354
I copied and pasted the code from spyder.  The original exponential signs in the code appear to be missing above.  This is where the code stalls.
MOIy = integrate(x**2*da,(x,xa,xb))

[2016-07-07 13:44] kritkaran94 commented on #11352
Do we need the test too ?

[2016-07-08 00:19] asmeurer opened #11358 "Fu modules doesn't have tan half identity"
tan(x/2) = sin(x)/(1 + cos(x)), as can be verified the hard way:

[code]

(I couldn't find a way to get SymPy to rewrite one into the other)

It doesn't look like any of the functions in the fu module handle this (unless I misunderstood the `FU` object)

[code]

There are actually a few identities for tan(x/2) (it also equals (1 - cos(x))/sin(x), see http://mathworld.wolfram.com/Half-AngleFormulas

[2016-07-08 05:41] #11288 closed

[2016-07-08 05:41] #11314 closed

[2016-07-08 05:41] #11315 closed

[2016-07-08 05:41] #11316 closed

[2016-07-08 05:41] #11318 closed

[2016-07-08 05:41] #11321 closed

[2016-07-08 05:41] #11326 closed

[2016-07-08 05:41] #11327 closed

[2016-07-08 05:54] asmeurer opened #11359 "refine(aE.T * aE) gives "AttributeError: 'Symbol' object has no attribute 'T'" error."
Reported from https://stackoverflow.com/questions/38240986/refinea-e-t-a-e-fails

[code]

Gives

[code]

The problem is that MatMul can have a scalar as the first argument, but `refine_MatMul` is assuming all the arguments are matrix expressions. This is probably easy to fix.

[2016-07-08 18:52] parsoyaarihant commented on #11359
I am working on this.

[2016-07-08 19:39] gerritholl opened #11364 "integrate triggers TypeError: as_base_exp() missing 1 required positional argument: 'self"
I'm new to sympy so I'm not sure how to

[code]

I'm not sure if I'm doing something wrong here, or if this is a bug in sympy.

[2016-07-08 21:45] parsoyaarihant commented on #11358
I want to work on this. How do I start?

[2016-07-08 22:17] Kogorushi commented on #11349
By default, the horner's method is factoring in the order that the variables appear:

Horner(expr) = {first occuring variable, V, in expr}({subexpr containing V}) + {subexpr not containing V})
For each subexpr, do
  Horner(subexpr)

It is not factoring out D1 or Kc because C1 appears before it in the sub-expression containing B1, but not A1, so it factors that first.  You can specify the order the

[2016-07-08 22:31] asmeurer commented on #11349
That makes sense. I'm not sure if it's the order that they appear. I think the polys have some canonical way of selecting variables when none are given (for this case, I think it's just alphabetical) and I believe that is used here.

I think either horner should behave differently for multivariate polynomials to factor them more completely, or some other function is needed to do this sort of thing

[2016-07-08 22:45] moorepants commented on #8851
That's great, it's be nice if we ran them on Travis then.

[2016-07-08 22:50] asmeurer commented on #11349
Thanks for the reference. By greedy search do you mean, for instance, taking what is returned now but recursively factoring terms from each addition subexpression until no further factoring is possible? By the way I also noticed that B1 can be factored out from the while thing.

[2016-07-08 22:58] Kogorushi commented on #11349
It should already be recursively factoring terms...  By greedy search, I meant go through each sub-expression and count how many times each variable occurs.  Take Horner's method with respect to the variable that occurs the most in that sub-expression.

In your test case, that would mean taking Horner's with respect to B1 and then for Ka or Kc.

[2016-07-09 06:40] jksuom commented on #11364
The function `phi` has no argument in the integrand. Should it be a constant?

[2016-07-09 06:48] kritkaran94 opened #11366 "codegen: need for nested relationals"
With the addition of printer for relationals after this [PR](https://github.com/sympy/sympy/pull/11336) a new issue must be looked upon.

[code]
So far, we don't have parenthesis around nested relationals. However, as mentioned by @cbm755, the solution for the same should be the one with braces as one would typically expect.

[code]

[2016-07-09 18:54] sampadsaha5 opened #11367 "Code quality test failing at master branch."
Currently on master `bin/test quality` is having an error:
[code]

[2016-07-09 18:54] sampadsaha5 commented on #11367
Ping @asmeurer.

[2016-07-09 21:39] Piruzzolo opened #11368 "Does SymPy implement Marichev-Adamchik/Mellin method for integration?"
Does SymPy implement Marichev-Adamchik Mellin transform method for indefinite integrals? Plans to implement it?
I can't find it in the code.

P.S. I know that's not the right place to write this, but here on Github we don't have a Faq at all. So excuse me since now. (we should create a separate repo for the Faq, as [IPFS](https://github.com/ipfs/faq/) does, for example)

[2016-07-10 04:48] kritkaran94 commented on #11366
ping @cbm755, I guess this makes sense more after the other PR is merged. After that PR is merged I will work on this issue related to nested parenthesis. Is that ok ?

[2016-07-10 07:00] jksuom commented on #11368
Can you give a reference to Mellin transform method for *indefinite* integrals. I only know of the method for definite integrals that is implemented in the `meijerint` module.

[2016-07-10 09:13] Piruzzolo commented on #11368
Sorry, meant "definite integrals". Made a mistake.

So it actually implements the method for definite integrals?

Note: There's this test for differential equations:
http://12000.org/my_notes/kamek/kamke_differential_equations.htm
There may be something similar for integral testing, but of course we'd need to convert it to sympy form

[2016-07-10 10:14] jksuom commented on #11368
There is a description of Mellin related integrals implemented in SymPy in the [documentation](http://docs.sympy.org/latest/modules/integrals/g-functions.html#the-g-function-integration-theorems). In particular, the 'Mellin method for definite integrals' is based on integral 2. The method is automatically applied by the `integrate` function, if it is applicable.

[2016-07-10 10:43] Piruzzolo commented on #11368
Ok, thank you very much. Will go through the docs for further details

[2016-07-11 01:23] asmeurer opened #11375 "Pretty printing of Mod"
Mod should have pretty printing. I guess the mathematical way to print `Mod(x, n)` is `x mod n`, with parentheses around the whole thing if it is in a larger expression, like `1 + (x mod n)`.  We need pretty printing and LaTeX printing.

[2016-07-11 02:24] kafrankel opened #11376 "Problem with matrix element and multiply when integratimg"
I am having a problem with integration in sympy with matrix elements.
I upgraded sympy frorm the anaconda installation and get the same problem in either anaconda2
(Python 2.7.11)
or anaconda3 (Python 3.5.1), also on Sage
The following works

import sympy
from sympy import *
sympy.**version**
# output is '1.0'

x=Symbol('x')
y=Symbol('y')
M=IndexedBase('M')

integrate(cos(M[0] + x),x)
# output is

[2016-07-11 03:04] asmeurer commented on #11345
Matrix is only 2 dimensional, so a `...` in a slice is the same as `:`, but we can still add it, so people who are used to numpy can use it.

[2016-07-11 03:37] gorisaka commented on #11375
I'd like to work on this issue.

[2016-07-11 04:57] #11352 closed

[2016-07-11 06:08] parsoyaarihant commented on #11345
I am working on it.

[2016-07-11 07:44] Upabjojr opened #11377 "Suggestion: rewrite power to N as sum"
What about this:

[code]

Instead of leaving the last expression identical, return this form:

[code]

[2016-07-11 13:46] asmeurer commented on #11275
Another example:

[code]

[2016-07-11 14:58] asmeurer opened #11378 "S.Reals should be accessible as just "Reals""
I think it's confusing that things like S.Reals are only accessible from the S object. We should just import `Reals` into the namespace. Personally I would also avoid using `S` outside of library code (i.e., don't use it in the docs), as I think the fact that things are singletonized is an implementation detail that most users shouldn't care about.

I think there can be some issues if we use the s

[2016-07-11 14:58] asmeurer commented on #11378
CC @sympy/sympy-solvers

[2016-07-11 15:02] parsoyaarihant commented on #11378
working on it.

[2016-07-11 15:05] asmeurer commented on #11275
Another one (no parentheses around the piecewise):

[code]

[2016-07-11 15:12] asmeurer opened #11379 "list(Intersection) gives unexpected result"
[code]

`volume` should be set with `real=True`.

The list entry appears to be a boolean, but it should be an Expr. Perhaps it should just give the answer in the finite set. Or else use a Piecewise somehow.

[2016-07-11 15:13] asmeurer commented on #11379
Simpler example:

[code]

[2016-07-11 15:21] asmeurer commented on #11368
Regarding the FAQ, there is one in the [wiki](https://github.com/sympy/sympy/wiki/Faq), although it hasn't been updated in a while. We should also update the documentation, if something is missing.

[2016-07-11 15:31] #11359 closed

[2016-07-11 15:31] kshitij10496 commented on #11378
I think this is a good idea.

Should we extend this to `Complexes` as well ?

[2016-07-11 15:33] aktech commented on #11378
Yes, Indeed.

[2016-07-11 15:33] asmeurer commented on #11367
Travis passes because it only tests installed files. This looks like a false positive for the code quality tests. It thinks this file is a test file.

[2016-07-11 15:36] kshitij10496 commented on #11378
Moreover, would it be advisable to continue following this convention in the future ?

[2016-07-11 15:41] asmeurer commented on #11367
Fixed at https://github.com/sympy/sympy/pull/11380

[2016-07-11 16:29] kritkaran94 commented on #11379
@asmeurer I want to work on this. How should I proceed ?

[2016-07-11 16:30] asmeurer commented on #11379
First we need to figure out what it should return.

[2016-07-11 16:49] jlittle576 opened #11382 "Pendulum notebook exception"
[code]

[2016-07-11 16:55] kritkaran94 commented on #11379
Specifically for intersection I think a finite set looks good to me. However, I am open to the idea of returning a piecewise expression too.

[2016-07-11 17:29] kshitij10496 commented on #11379
[code]
The same behaviour exists with `Naturals` and `Naturals0`.

[2016-07-12 01:52] cimarie opened #11386 "ratsimp doesn't work when one of the terms has one as denominator"
`fraction(ratsimp(x+1/y))` gives as a result `(x + 1/y, 1)` and not `(x*y+1,y)` as I would expect. Not sure if this is a bug, but I hope you can introduce this functionality soon :)

Thanks!

P.S. sorry if this was already reported by somebody else. I did a simple search and couldn't find anything about it.

[2016-07-12 02:28] #11386 closed

[2016-07-12 15:36] moorepants commented on #11382
The API for `.kanes_equations()` has changed from `.kanes_equations(forces, particles)` to `.kanes_equations(particles, forces=None)`  in the SymPy development version. You can switch the arguments to deal with the error or be sure to run the development version.

[2016-07-12 22:30] #11351 closed

[2016-07-13 11:56] Wrzlprmft commented on #11354
Use a [code block](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to avoid problems with double asterisk being interpreted as boldface. Also, please reduce your code to a [minimal example](http://stackoverflow.com/help/mcve) so that your problem can be assessed and disected more easily. I may be mistaken, but it looks as if huge parts of your code are not relevant to the

[2016-07-13 12:45] Upabjojr opened #11388 "Series of Integral returns evaluated expansion"
Consider the difference:

[code]

_Derivative_ is expanded into a series of unevaluated derivatives. Shouldn't _Integral_ be expanded as a series of unevaluated integrals as well.

[2016-07-13 15:05] Upabjojr opened #11390 "Order of Indexed not properly recognized"
[code]

It should be `O(A[i]).args == (A[i], (A[i], 0))`.

[2016-07-13 15:21] #11367 closed

[2016-07-13 16:27] moorepants commented on #11075
@sampadsaha5 Are all of these items taken care of? Can this be closed?

[2016-07-13 16:48] sampadsaha5 commented on #11075
Yah sure.

[2016-07-13 16:51] asmeurer opened #11391 "Mod for complex arguments"
How should Mod behave fo complex arguments?

[2016-07-13 16:55] Shekharrajak commented on #11391
Some links that may help:

1.  http://math.stackexchange.com/questions/274694/modulo-complex-number
2.  http://www.freemathhelp.com/forum/threads/76383-Modulo-of-complex-numbers
3.  https://en.wikipedia.org/wiki/Gaussian_integer
4. http://fermatslasttheorem.blogspot.in/2005/06/division-algorithm-for-gaussian.html

[2016-07-13 17:13] Shekharrajak commented on #11391
Mod for complex number will help in these types of cases in solveset.

[code]

`{2⋅n⋅ⅈ⋅π + log(sin(3)) | n ∊ ℤ}` ans looks better.

[2016-07-13 17:14] siefkenj commented on #11391
I think `Mod` should take an optional third argument `integer_ring` specifying what ring to take the modulus with respect to.  Then `mod(x, y, integer_ring=X)` would return the representative of `x` in `x.ambient_ring/(y*X)`.  If `x` is a complex number, I think the default choice of `ambient_ring` should be the Gaussian integers (`{a+b*i : a,b are integers}`)

[2016-07-13 17:50] rpisarev commented on #11391
I agree with @siefkenj. The sense of Mod between 2 complex numbers exists only in special rings, e.g.  Gaussian integers or Eisenstein integer. We should have a norm for this numbers also. I this case we can go further: Euler's function phi(z), gcd(z_1, z_2) etc.

[2016-07-13 18:08] asmeurer commented on #11391
@Shekharrajak I don't think Mod is needed in that case. log is already assumed to be single-valued.

[2016-07-13 18:34] #11075 closed

[2016-07-13 19:05] Shekharrajak commented on #11391
@asmeurer , It is coming from [eval_imageset](https://github.com/sympy/sympy/blob/master/sympy/sets/fancysets.py#L182)  (canonical shift). I am not sure about this. (I think it is for like : `expr = n*pi + 3*pi` then `n*pi  + Mod(3*pi, pi) ` = > `n*pi + 0` => `n*pi`  . here match[a] = `pi` and match[b] = `3*pi`   )

[2016-07-13 19:13] Shekharrajak commented on #11391
I found a [link](http://functions.wolfram.com/IntegerFunctions/Mod/02/0001/).

`Mod[m, n] == m - n * Floor[m/n]`

where m, n is real or complex numbers.

for any complex number `z`

[Floor(z) = Floor(Re(z)) + I*Floor(Im(z))](http://functions.wolfram.com/IntegerFunctions/Floor/introductions/FloorRelated/02/)

For example : `Mod(-log(3), 2*I*pi )` = `-log(3) - (2*I*pi) * Floor(-log(3)/(2*pi*I))`

si

[2016-07-13 19:16] asmeurer commented on #11391
We do have that same definition for `floor`.

[2016-07-13 19:18] asmeurer commented on #11391
By that definition, larger real numbers mod `2*pi*I` would be complex.

[2016-07-14 05:46] Shekharrajak commented on #11391
@asmeurer , For large number e.g. `Mod(-log(3)*100000000, 2*pi*I)`
Ans will be

(`Mod[m, n] == m - n * Floor[m/n]`)

[code]

same as [wolframalpha](http://www.wolframalpha.com/input/?i=Mod(-log(3)*100000000,+2*pi*I))

[2016-07-14 07:31] Upabjojr opened #11394 "Series expansion of Integral missing integration constant"
[code]

while the integrate function has a constant:

[code]

This could potentially lead to mistakes. SymPy does not include the integration constant for simplicity reasons in the integral result:
[code]
Maybe we should include it in the series expansion?

[2016-07-14 15:36] jksuom commented on #11391
If Mod should be defined for complex arguments, one should probably begin by considering its range of values for arbitrary complex arguments (and fixed modulus arguments).

On the real line, the range of Mod is an interval. It is typically a fundamental domain of a periodic function. The values of such a function in the fundamental domain determine its values elsewhere. The value at an arbitrary p

[2016-07-14 22:47] #11102 closed

[2016-07-15 15:33] nicoguaro opened #11396 "Default colormap in plot3d"
By default, ``plot3d`` uses jet as a colormap. I think that SymPy should adhere to Matplotlib and use [Viridis](https://youtu.be/xAoljeRJ3lU) as a default colormap.

Even if there is not a consensus about this, ``plot3d`` should have an option (as an optional argument or keyword argument maybe) to change the colormap. Right now, the change can be done with the [code provided below](http://stackove

[2016-07-15 21:00] GitRay opened #11397 "Change in ccode printing behavior with Eq()"
In the past (v0.7.6), a Piecewise with an Eq() inside would print as:
[code]
Now (v1.0), it does the following:
[code]

I am presuming that this is unintended - it is certainly causing me difficulty.

[2016-07-15 21:23] asmeurer opened #11399 "Matplotlib plotting isympy with OS X makes the GUI inaccessable"
Whatever isympy is doing to enable matplotlib, it isn't the right thing. When I create a plot, I can't access the GUI.

If I instead start IPython and run `%matplotlib`, and then import SymPy and plot things, it does the right thing. I can access the GUI.

[2016-07-16 04:04] postvakje commented on #11349
The original expression has 25 multiplies.  Horner reduces it to 17. Using the greedy approach described above the result is:
`B1*(D1*F1*Kc*Kl*Kz + Ka*(A1*(D1*KD + Kc*(-D1 + D2 + 1)) - C1*D1*KF*Kc))`
which has 12 multiplies.
The output from the O(n!) exhaustive search is:
` B1*(A1*Ka*(D1*(KD - Kc) + D2*Kc + Kc) + D1*Kc*(-C1*KF*Ka + F1*Kl*Kz))`
which has 11 multiplies.
I think the exhaustive search

[2016-07-16 05:38] kritkaran94 commented on #11399
@asmeurer I am an OS X user. Could you please guide me how can I reproduce that same issue with a basic example.

[2016-07-16 08:14] proy87 opened #11401 "Runtime Error in trigsimp"
`expr = (( sin (x))**( log ( cos (x))))/ sin (2*x)`
`trigsimp(expr, deep=True)`

Above code gives RuntimeError: maximum recursion depth exceeded while calling a Python object

[2016-07-16 14:51] asmeurer commented on #11349
Having a flag to choose different algorithms would be great. I think we may want to implement some other algorithms at some point as well.

[2016-07-16 14:55] asmeurer opened #11402 "pointwise differentiation for Piecewise is wrong"
[code]

The otherwise case, to be correct, should use a limit for the derivative. The function is `sinc`. The second derivative at 0 should be -1/3:

[code]

[2016-07-16 19:05] asmeurer commented on #11275
Some of these were fixed in https://github.com/sympy/sympy/pull/11298

[2016-07-16 21:22] asmeurer commented on #11399
Start `isympy` and try plotting something, and see if you can interact with the plot that pops up (try clicking the buttons).

[2016-07-17 03:00] #11281 closed

[2016-07-17 03:03] cbm755 commented on #11397
I think this was fixed by @kritkaran94 in 53606796f9dd411a84c9c45ed00fc687c3729b86 and 6e316308cdc694fabac5fc7909be63ad0e0ad644.

Please do reopen if I'm wrong!

[2016-07-17 03:03] #11397 closed

[2016-07-17 03:05] cbm755 commented on #11366
Sure, if you want to try this, look at `str.py`, something like `self.parenthesize(expr.lhs, precedence(expr)`.

[2016-07-17 04:38] kritkaran94 commented on #11399
I started ``isympy`` and carried out the following steps.

[code]
I was able to interact with the plot (by clicking the buttons). A few screenshots can also be seen.

**Original Plot**

![screen shot 2016-07-17 at 10 06 05 am](https://cloud.githubusercontent.com/assets/10063868/16898777/36915c74-4c06-11e6-8b72-17e25fd41792.png)

**After clicking the buttons**

![screen shot 2016-07-17 at 10 06 29

[2016-07-17 04:40] kritkaran94 commented on #11402
I want to take up this issue. @asmeurer How should I start on this ?

[2016-07-17 04:41] kritkaran94 commented on #11366
@cbm755 I will start working on this.

[2016-07-17 15:32] asmeurer commented on #11402
I'm curious how other systems handle this. Does Mathematica do the right thing here?

[2016-07-17 21:06] Upabjojr opened #11406 "Order not parsing Indexed correctly"
[code]

4 should be equal to 5
6 should be equal to 7

The problem: Order's class constructor reads all `free_symbol` s in the expression, where both _A_ and _i_ are located.

__WARNING__: if you change `free_symbol` 's behavior, a lot of clutter may appear in the code printers.

[2016-07-18 04:48] kritkaran94 commented on #11402
@asmeurer I don't have mathematica installed. So, I will try to check on this.

[2016-07-18 09:25] kritkaran94 commented on #11402
In Mathematica, the output for this particular example is pretty much similar to what we have in Sympy.

[code]
In its current form, the value at x = 0 is indeterminate. It is only when taking the limit as x->0 that a value emerges. Hence:

[code]
@asmeurer  please visit [**Reference**](http://mathematica.stackexchange.com/questions/42159/make-sinc0-return-0-instead-of-indeterminate) for similar p

[2016-07-18 13:29] GitRay commented on #11397
I tested with the latest on git (v1.0.1.dev) and the problem persists.

[2016-07-18 13:35] kritkaran94 commented on #11397
@GitRay It works well with the present master branch at Sympy.

[code]
I too tested this particular example.

![screen shot 2016-07-18 at 7 01 32 pm](https://cloud.githubusercontent.com/assets/10063868/16916428/732822de-4d1a-11e6-9e8a-8e2d91e1ce1a.png)

[2016-07-18 14:15] astholkohtz opened #11407 "Series expansion of the square root gives wrong result"
Whenever the constant term on the square root is a sum of 2 or more symbols, the series() function gets the expansion wrong

[code]

As long as the constant term is only one, series() gives the correct result

[code]

[2016-07-18 14:32] GitRay commented on #11397
My apologies, my git branch was stale.

[2016-07-18 15:13] kritkaran94 commented on #11397
That's okay :)

[2016-07-18 16:05] asmeurer commented on #11402
sinc is a separate issue. The problem there is that there's no simple way to represent the derivative. See https://math.stackexchange.com/questions/1838572/more-convenient-form-of-derivative-of-mathrmsincx.

This issue is specifically about `Piecewise`. How does Mathematica handle that?

[2016-07-18 16:46] kritkaran94 commented on #11402
Talking specifically about ``Piecewise``, Mathematica too doesn't handle this correctly. It is evident from this example.

![screen shot 2016-07-18 at 10 13 01 pm](https://cloud.githubusercontent.com/assets/10063868/16922862/0b6b1406-4d35-11e6-911a-0f5629d85364.png)

So, Some other stuff must be worked upon to solve this. Any suggestion on this ?

[2016-07-18 18:06] asmeurer commented on #11402
I theory anyway, one just needs to use `limit`. I'm not sure how to get it right in full generality, though.

[2016-07-18 18:11] cbm755 commented on #11397
@GitRay thanks for double-checking and @kritkaran94 thanks for following up!

[2016-07-18 18:38] kritkaran94 commented on #11402
Ya I reckon, generalizing would be difficult to work upon.

[2016-07-18 18:43] kritkaran94 commented on #11397
@cbm755 no problem :)

[2016-07-19 14:15] rpisarev commented on #11401
What version of Python is used? And what version of SymPy used? For current master and 2.7 Python I have got
[code]

[2016-07-19 14:25] proy87 commented on #11401
Sympy version is '1.0', python '2.7.10'

[2016-07-19 14:29] rpisarev commented on #11401
Yep! I can confirm it for 1.0

[2016-07-19 21:10] rpisarev commented on #11252
Logcombine hangs on this expression for a:

[code]

If degree is less, like in b, all it's good. But if degree is more, we will get
`RuntimeError: maximum recursion depth exceeded while calling a Python object`

I think is related with #6322

[2016-07-19 23:18] bjodah opened #11410 "Deprecated as_finite_diff function"
Users found `sympy.calculus.as_finite_diff`to be confusing.
It used only to operate on `Derivative` instances, which arguably makes a method better suited to host such functionality. Furthermore people expected the function to differentiate expressions.

Hence the PR #11337 deprecated the original function and introduced a new method `Derivative.as_finite_difference` with the same (but extended) c

[2016-07-20 15:07] asmeurer opened #11412 "Move compatibility stuff from #11249 to the compatibility file"
At https://github.com/sympy/sympy/pull/11249 several compatibility things were added, but they should have been added to the compatibility file. CC @Carreau

[2016-07-20 15:16] asmeurer opened #11413 "Wrong result from Matrix norm"
Reported on the [mailing list](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/sympy/K_qjPseJO9I/jM8oCpczAQAJ):

[code]

The answer should be 1. Where are those minus signs coming from?

[2016-07-20 15:19] sn6uv opened #11414 "Strange performance issues with Log"
I've be running into some strange performance issues with `sympy.log`.  I've tried to reproduce a minimal example but am unable to.

### How to reproduce
It should be possible to reproduce this issue in Mathics:
- checkout revision fd83891ab39cc1fb1b77f20632ab2fd36d1f1551 from https://github.com/mathics/Mathics
- `python setup.py develop`
- `python mathics.main.py -e 'x = Times@@Range[5000]; Integ

[2016-07-20 17:24] kritkaran94 commented on #11413
How to work on this ? I want to take up this issue.

[2016-07-20 17:28] kritkaran94 commented on #11399
@asmeurer This worked for me. Any other stuff to work in order to rectify this?

[2016-07-20 18:31] jksuom commented on #11413
[This line](https://github.com/sympy/sympy/blob/master/sympy/functions/elementary/complexes.py#L470) will change the sign when `base = v0**2 + v1**2 + v2**2` is real but not known to be positive.

[2016-07-20 18:40] asmeurer commented on #11413
Is that line wrong?

Also, the check there should probably be for nonnegative, rather than positive. The square roots in the expression are not known to not be zero.

[2016-07-20 18:40] asmeurer commented on #11399
How did you install matplotlib? This could be related to the fact that I use conda.

[2016-07-20 19:11] jksuom commented on #11413
Maybe the sign should be left unchanged except when `base` is explicitly found to be negative.

[2016-07-20 19:27] asmeurer commented on #11413
Checking nonnegative instead of positive two lines above should be equivalent to that, since the whole block is only run if `base.is_real`.

[2016-07-20 19:33] asmeurer commented on #11413
Ah, no it won't because of `None` cases (which is the real problem for this issue). It needs to explicitly be

[code]

[2016-07-21 03:33] kritkaran94 commented on #11413
I am working on this issue.

[2016-07-21 04:54] certik commented on #11327
In the latest master, this now works:
[code]

[2016-07-21 04:56] certik commented on #11314
This now says:
[code]
So that's an acceptable answer.

[2016-07-21 04:56] certik commented on #11315
This was fixed to:
[code]
Which looks good.

[2016-07-21 05:01] certik commented on #11316
This now works:
[code]
This now works, impressive speedup! The meijerint_definite is a bit faster, but not as nice.

[2016-07-21 05:03] certik commented on #11318
`expr_to_holonomic` is now used.

[2016-07-21 05:07] certik commented on #11319
I am reopening this issue, since the original code still fails:
[code]

[2016-07-21 05:09] certik commented on #11321
This now returns an answer:
[code]

[2016-07-21 05:10] certik commented on #11323
Reopening, since the original code still fails:
[code]

[2016-07-21 05:11] certik commented on #11325
Reopening, since the original code still converts to rationals:
[code]

[2016-07-21 05:11] certik commented on #11326
This now gives:
[code]

[2016-07-21 05:12] certik commented on #11329
I think this is fixed:
[code]

[2016-07-21 05:12] #11329 closed

[2016-07-21 05:12] certik commented on #11328
I think this is fixed:
[code]

[2016-07-21 05:12] #11328 closed

[2016-07-21 05:15] certik commented on #11320
Now it returns:
[code]
Which is better than a wrong answer.

[2016-07-21 05:38] shubhamtibra commented on #11320
We can also use this
[code]

[2016-07-21 14:37] smichr opened #11418 "diophantine: misclassification"
[code]

A check should be made that all powers are the same (not only that they are even).

[2016-07-21 14:40] karthikkalidas commented on #11418
I would like to work on this issue. Please guide me

[2016-07-21 15:40] asmeurer commented on #11326
So if `f` is holonomic then `1/f` is never holonomic?

[2016-07-21 15:46] #11375 closed

[2016-07-21 16:10] jksuom commented on #11326
It is not holonomic in general, but may be in special cases. In particular, rational functions are holonomic. That follows from the definition of holonomic functions as solutions of differential equations with polynomial coefficients. The coefficients could also be rational with the same solutions.

[2016-07-21 16:35] asmeurer commented on #11326
That's what I thought. So that `__pow__` function is wrong:

[code]

[2016-07-21 16:36] asmeurer commented on #11326
Also shouldn't the `n == 0` case give `HolonomicFunction(1, x)` instead of `S(1)`?

[2016-07-21 17:36] raphaeltimbo commented on #8193
Is this solved? I tried the code sent by asmeurer and I am still getting the KeyError.
I see that this have been recently merged, so I tried to copy the ode.py file and then I tried to reinstall sympy. I saw the code inside the PR and I believe I have the updated code...
I have also tried the following:
`X = f(x).diff(x, x)`
`Y = f(y).diff(y, y)`
`system = [X, Y]`
`dsolve(system, [f(x), f(y)])`

E

[2016-07-21 20:02] elvis-sik opened #11419 "init_session() on ipython startup file a different mainloop"
I am trying to have a startup script for an IPython profile that calls `init_session()`. It seems doing this starts a different IPython mainloop. I can exit it with `C-d` and then get to the IPython prompt.

I think this has to do with wrongly assuming we are not inside IPython during startup:

[code]

[2016-07-21 20:10] asmeurer commented on #11419
It must be from [this line](https://github.com/sympy/sympy/blob/46f7204ba72ea13fb2e350c52fc27660f3861d64/sympy/interactive/session.py#L409). Why is that there? It causes the check below to never be run.

[2016-07-21 20:13] asmeurer commented on #11419
Oh nevermind, I misread the next line (confused the `in_ipython` and `ipython` variables).

[2016-07-21 20:18] asmeurer commented on #11419
Is the problem [here](https://github.com/sympy/sympy/blob/46f7204ba72ea13fb2e350c52fc27660f3861d64/sympy/interactive/session.py#L421)? It assumes that `get_ipython()` is defined when we are in IPython. Maybe that isn't the case for your scenario?

[2016-07-21 23:34] ataber opened #11420 "Is it possible to use Sympy to generate Tensorflow graphs?"
I'm interested in using Sympy to add a symbolic layer to my Tensorflow graph generation code. I noticed that Tensorflow is mentioned in the wiki, but I'm not sure how to get the two to play well together. For instance, I tried
[code]
And I understandably get a domain error. Would getting this expression to work simply require implementing a new domain, or is it more involved?

[2016-07-22 00:51] moorepants commented on #11420
tensorflow and sympy do not work together. The wiki page you found is simply a list of software that implements some form of code generation. SymPy does interact with Theano, which is a similar software as tensorflow.

[2016-07-22 05:08] kritkaran94 commented on #11366
@cbm755 I have some doubts. I guess making changes to the ``str.py`` file would make difference only to expressions involving ``str`` of some ``Relationals``. Some of the examples below would clear what I actually mean.

Before Making Changes

[code]
After Making Changes to ``str.py`` and ``test_str.py``

[code]

[2016-07-22 05:23] kritkaran94 commented on #11399
@asmeurer ``pip install matplotlib ```. Using the pip command I installed it earlier.

[2016-07-22 06:57] FiachAntaw commented on #8193
Running:

[code]

on the current git head gives me a NotImplementedError, not a KeyError (since classify_sysode can't classify the type of the ODE). Are you installing from pip or the git repository? There hasn't been a release since the new code was merged, so the version available via pip won't have the bug fix integrated.

[2016-07-22 07:55] kritkaran94 commented on #11412
@asmeurer I went through #11249. However, I didn't understand what needs to be added. Could you please describe a bit more so that I can work on this issue.

[2016-07-22 12:59] raphaeltimbo commented on #8193
@FiachAntaw

The first time I have got the files from the git repository, but I think I did not notice that it was a different error!
I have replaced again with the files from the repository and now I get the NotImplementedError.
Is this an issue? Or the results that I expected to get do not make sense in sympy?

Thank you for your explanation!

[2016-07-22 13:00] jksuom commented on #11413
Fixed by #11417

[2016-07-22 13:01] #11413 closed

[2016-07-22 14:25] #10964 closed

[2016-07-22 17:15] elvis-sik commented on #11419
It seems this is indeed the case. I did some `pdb` investigation and that seems to be it. Also, it seems to be expected behavior for IPython: https://github.com/ipython/ipython/issues/9791

If you have a script `ex.py` with just a single line: `get_ipython()` and you are inside IPython and you call `run ex.py`, it will go smoothly. If, rather, you are calling from the command line: `$ ipython ex.p

[2016-07-22 18:36] ataber commented on #11420
Makes sense. Would an implementation of a bridge like `theano_function` for Tensorflow be straightforward and welcome as a contribution?

[2016-07-22 21:44] moorepants commented on #11420
I'm not sure how straightforward it would be because I don't know anything much about tensorflow. But yes, a connector would be welcome. It may be as simple as defining the correct sympy-tensorflow mappings as we did for theano.

[2016-07-23 01:40] ataber commented on #11420
Gotcha! I'll take a stab at implementing it then. Thanks!

[2016-07-23 20:08] elvis-sik commented on #11419
If you feel this should be fixed, they suggested a method relying only on public API that should work even in situations in which `get_ipython` has not been added to the builtins.

[2016-07-24 02:55] moorepants opened #11427 "The Poly class needs a useful doc string"
At the terminal I get:

[code]

which is pretty useless for determining how to initialize and use the class.

[2016-07-24 05:35] FiachAntaw commented on #8193
I would say it's an issue (there's no explanation as to *why* the calculation fails, which is concerning) but at the same time your formulation of the ODE has a couple of problems:

- You're giving dsolve expressions, which are implicitly equated to zero as per the documentation.
- You're giving dsolve two separate differential equations in two different functions (`f(x)` and `f(y)` are considered

[2016-07-24 07:44] souravsingh commented on #11427
@moorepants I really want to work on this issue. How do I start?

[2016-07-24 07:58] jksuom commented on #11427
The docstring should refer to `Expr.as_poly` that is a user interface to `Poly`. Its docstring could be expanded as well. The meaning of various keywords should be explained.

[2016-07-24 08:31] moorepants commented on #11427
It wasn't really even clear to me how to create polynomials. The polynomial page on the sympy docs is also quite confusing. It has and "introduction to polynomials" but it is hardly an introduction, it doesn't even show how to create polynomials. Is the `.as_poly` method the preferred way to create polynomials?

[2016-07-24 09:02] jksuom commented on #11427
I think that `as_poly` was created for that purpose. I have recently expanded the introduction to `polys` in #11425, but that has not been merged yet.

[2016-07-24 09:06] jksuom commented on #11427
This [comment](https://github.com/sympy/sympy/pull/11370#issuecomment-233554159) contains some information on the meaning of some keywords.

[2016-07-24 11:48] BrickMoon commented on #11086
I take it this issue has yet to be resolved. I suppose I will take a stab at it, then.

[2016-07-24 17:28] moorepants opened #11428 "cse doesn't seem to get all subexpressions"
I was looking at the result of cse here:

![selection_020](https://cloud.githubusercontent.com/assets/276007/17085277/482d4e6a-5189-11e6-86d3-a654946a7fdc.jpg)

and noticed that I saw several repeated expressions, like b_21 * b_31 and omega_nm * zeta_nm.

Shouldn't these be pulled out as subexpressions?

[2016-07-24 20:15] Kodiologist opened #11429 "scipy.stats assumes independence"
For example:

[code]

The true probability may not be 1/2 if *X* and *Y* are dependent. For example, if *X* = *Y*, then *P*(*X* > *Y*) = 0.

No mention of an implicit assumption of independence seems to be in the documentation for the `stats` module.

[2016-07-25 04:17] rohitrango commented on #11025
Hello, I'm a newcomer here and I would like to work on this.
Can you please provide me with a starting point ?
Thanks :smile:

[2016-07-25 07:09] #7171 closed

[2016-07-25 12:50] asmeurer commented on #11025
Start with understanding how the printing system works (probably by reading the code). There are also some examples of subclassing printers in some StackOverflow answers if you search.

[2016-07-25 19:13] raphaeltimbo commented on #8193
Got your point.
The problem is that, in the code I'm writing, a system of ODEs is generated and it can be coupled or uncoupled depending on some parameters.
I thought that dsolve would be able to handle the case where the equations are decoupled.

[2016-07-26 14:22] JayHoe opened #11434 "Matrix rank() produces wrong result"
Consider the following code:

[code]

M.rank()
5

M.det()
0

You cannot have full rank of 5 and zero determinant. Cross-checked it on wolframalpha.com which gives 4 for the matrix rank. Thus, the rank calculation must be wrong.

[2016-07-26 16:25] moorepants commented on #11434
We have an issue open for these types of errors here: https://github.com/sympy/sympy/issues/9480

[2016-07-26 19:38] asmeurer opened #11435 "str printing of logic expressions should use operators"
Currently:

[code]

But it would be better for the str printer (and non-Unicode pretty printer) to use `~`, `&`, and `|`, like `~x & (y | z)`.

This should be easy to fix, although you need to make sure the parenthesization is correct.

[2016-07-26 19:38] jiahao opened #11436 "Fifth order equation with complex coefficients not solved"
Apologies if this is really just a feature request to handle a case not covered in #1746, but here is an example of a fifth order equation with complex coefficients that cannot be handled in 1.0:

[code]

In contrast, Mathematica solves it quite happily:

[code]

Ref: jverzani/SymPy.jl#79 @YingboMa

[2016-07-26 21:47] siefkenj opened #11437 "Stuck in loop while printing complicated `Sum`"
The following code executes in a timely manner:

[code]

However, calling `xxx.__repr__()` seems to get stuck in some kind of loop.

[2016-07-27 03:19] parsoyaarihant commented on #11435
I am working on it. Any tips are welcome :)

[2016-07-27 03:24] gorisaka commented on #11418
It appears it is not checking even if they are even, but only if their sum is even.
[code]

Also, if the powers are supposed to be the same, I think the name `'general_sum_of_even_powers'` is very misleading.

[2016-07-27 07:53] JayHoe commented on #11434
M.rank(simplify=True) works as expected and yields 4 as matrix rank.

[2016-07-27 19:47] gorisaka commented on #11418
The relevant file is sympy/solvers/diophantine.py. One could start by checking the function `classify_diop`.

@karthikkalidas Are you working on this issue or still want to?

Otherwise I would like to work on it.

[2016-07-28 02:07] BrickMoon commented on #9480
As has been said already, this is definitely related to the is_zero function returning None. Calling is_zero on this expression in particular returns None when it should return True:

expr = -5*sqrt(2)/2 + 5*(-5*sqrt(2)/2 + 5)/(-5 + 5*sqrt(2))

Is this correct behavior for sympy.core.add.Add? Is there a good reason why is_zero can't be determined for this expression? Seems weird to me that somethi

[2016-07-28 02:31] karthikkalidas commented on #11418
No you go ahead!

On 28 Jul 2016 01:18, "Gabriel Orisaka" <notifications@github.com> wrote:

[2016-07-28 04:51] siefkenj commented on #9480
I think `.is_zero` is supposed to have low computational overhead.  It returns `None` if it cannot decide without doing computations.  I suspect the root of the problem is someone not thinking of this somewhere in the code.  One should never write `if not x.is_zero:` for example, because that is different than `if x.is_zero == False:`

[2016-07-28 12:36] jhsong111 commented on #11435
I found that ccode function can perform similar function.
[code]
So, this issue can be resolved quickly. Thanks

[2016-07-28 15:32] asmeurer commented on #11435
ccode uses C operators, but the str printer should use Python operators (single `|` instead of `||`). Also, ccode will print all subexpressions as C code, which may not be desired.

[2016-07-28 15:46] MrDarkHorse opened #11441 "parse_expr(u'Abs(x+x)' , evaluate=False) reduces to 2*Abs(x). For me this is very bad"
I'm dealing with significant digits, so I NEVER want the expression to reduce itself.  Using parse_expr is generally what I need, but when I throw Abs into the mix, it goes haywire.

This is also the case when I attempt to substitute my own abs function using the global_dict.

[2016-07-28 16:40] vahlkar opened #11442 "Interval.is_EmptySet not defined."
It seems that the field **is_EmptySet** from the class **Interval** is not assigned and therefore equal to `None` which is problematic if we want to use its value in Boolean expressions.

[code]

[2016-07-28 17:56] MrDarkHorse opened #11443 "parse_expr(u'custom(x+x) + 1' , evaluate=False) crashes sympy"
`parse_expr(u'custom(x+x)+1' , evaluate=False)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/sympy/parsing/sympy_parser.py", line 892, in parse_expr
    code = compile(evaluateFalse(code), '<string>', 'eval')
  File "/Library/Python/2.7/site-packages/sympy/parsing/sympy_parser.py", line 902, in evaluateFalse
    node = EvaluateFa

[2016-07-28 17:58] yaroslavvb commented on #11420
Theano/TensorFlow have similar structure, so TensorFlow graph converter could be done analogously to Theano graph converter. I wrote Theano graph->TensorFlow graph converter for an older version of TensorFlow and it was about 300 lines of Python -- https://gist.github.com/yaroslavvb/8d2853645b381342344d39a39e006905

It's probably easiest to work with GraphDef directly. If you have 1-1 corresponden

[2016-07-28 18:45] yaroslavvb commented on #11420
Actually, if it's just a matter of covering 45 ops that is done for Theano already then direct graph translation may be overkill and this can be done through TensorFlow Python API

[2016-07-28 18:59] arghdos opened #11444 "Solving sum of indexed base"
On commit 46e3e96e5a6

[code]

results in

  File "<stdin>", line 1, in <module>
  File "/home/arghdos/.local/lib/python2.7/site-packages/sympy-1.0.1.dev0-py2.7.egg/sympy/solvers/solvers.py", line 980, in solve
    if fi.is_constant():
  File "/home/arghdos/.local/lib/python2.7/site-packages/sympy-1.0.1.dev0-py2.7.egg/sympy/core/expr.py", line 549, in is_constant
    simultaneous=True)
  File "/ho

[2016-07-29 05:25] michaeldongyuxi opened #11446 "Simplify acos(x)+asin(x) to pi/2"
Is there any way to Simplify acos(x)+asin(x) to pi/2 ? I tried simplify, trigsimp, expand_trig, none of them seem to work.

[2016-07-29 06:45] jksuom commented on #11446
You can rewrite the functions in terms of each other.
[code]

[2016-07-29 07:01] michaeldongyuxi commented on #11446
Awesome!

[2016-07-29 07:01] #11446 closed

[2016-07-29 14:41] kritkaran94 commented on #11441
@asmeurer How to work on this issue?

@MrDarkHorse Could you please give an example.

[2016-07-29 15:30] #11418 closed

[2016-07-29 15:32] MrDarkHorse commented on #11441
My example is in the title.

y = parse_expr(u'Abs(x+x)' , evaluate=False)

This expression "Abs(x+x)" is parsed as "2*Abs(x)"
Specifically, if you call print_tree(y), it shows:
[code]

Whereas, I would expect it to parse as "Abs(x+x)", with an abstract Syntax tree that looks like this:
[code]

While the 2 expressions are mathematically equivalent, they produce different results when significant di

[2016-07-29 16:00] moorepants opened #11447 "Poly.subs() returns an expression instead of a Polynomial"
Shouldn't subs() return the same type of object that it is called on? See below:

[code]

[2016-07-29 16:46] jksuom commented on #11447
It seems that polynomials do not currently support substitutions into their coefficient rings. (Ring homomorphisms should be implemented.) But if `a` is elevated to a generator, then substitution should work.
[code]

[2016-07-29 16:54] moorepants commented on #11447
What does it mean to have "a elevated to a generator"?

[2016-07-29 17:03] jksuom commented on #11447
If there are no arguments in `Poly` other than the expression, then all symbols (and many other subexpressions) will become generators. If only `x` is given, then everything else becomes 'buried' in the coefficient ring. The word 'elevate' was intended describe the move from the set of coefficients to the set of generators. I'm sorry if that was misleading :)

[2016-07-29 17:04] jksuom commented on #11447
You could also use `Poly(x**2 + a * x + 4, x, a)`.

[2016-07-30 05:46] shubhamtibra commented on #11323
We can use additional symbols by specifying the ground domain for the polynomial coefficients. Some examples:
[code]
For multiple symbols:
[code]
If the expression has floats we should use `RR` instead of `QQ`. The above Holonomic functions have one initial condition however while converting to expression we need two. So for converting to expressions:
[code]

[2016-07-30 06:14] kritkaran94 commented on #11441
Thanks a lot for the detailed explanation. I am working on this issue.

[2016-07-30 06:57] gxyd opened #11449 "`TypeError` on compressing a Coset Table generated by coset table method"
[code]

[2016-07-30 20:54] rpisarev commented on #11442
If SymPy knows the fact about a thing, it will return in is_* True or False. But there are cases when SymPy doesn't know.

We can (and have to probably) use `i.is_EmptySet is True`.

If Interval() is valid (Interval(2, 7)) we won't get  empty set and in this case `Interval(2, 7).is_Empty is True` will give False.

If begin and end of Interval equal (Interval(2, 2)) we will get FiniteSet ({2}), tha

[2016-07-31 15:01] chan-y-park opened #11453 "mpmath import issue"
I just installed conda 4.1.6 on Ubuntu 16.04, where sympy 1.0 is contained. Then I tried
[code]
But I got
[code]
Whereas when I run
[code]
It works without a problem.

When I use sympy 0.7.6 both works fine. Is this a bug, or am I doing something wrong?

[2016-07-31 21:56] gorisaka commented on #11453
Versions of sympy prior to 1.0 included mpmath, now it is an external dependency.
(http://docs.sympy.org/latest/install.html#mpmath)
(PR #8856)

So ```import sympy.mpmath``` is expected to fail from 1.0.
I think ```from sympy import mpmath``` should also fail, so it appears to be a minor bug.

`mpmath` is imported in sympy/\__init\__.py only to test if the module is available and should not be exp

[2016-07-31 23:49] moorepants commented on #11453
Seems like this should have had a deprecation warning if it was an existing public api. Mabye 0.7.7 did have one, but jumping from 0.7.6 6 to 1.0 skips that warning.

[2016-08-01 01:17] moorepants opened #11456 "codegen matrix arguments"
I often need to generate functions that take arrays or matrices as arguments where the entries to the matrices are used in calculations in the function. lambdify supports this with DeferredVectors and MatrixSymbols should be able to be used in a similar way. I'd like it to work with both sympy Matrices and SparseMatrices. Here is a simple example:

[code]

[2016-08-01 07:54] #7249 closed

[2016-08-01 18:46] asmeurer opened #11459 "trigsimp should simplify complex exponentials"
[code]

[2016-08-01 20:02] asmeurer opened #11461 "NameError: name 'Ne' is not defined plotting real_root((log(x/(x-2))), 3)"
[code]

[2016-08-01 21:03] asmeurer commented on #11461
Of course, normal lambdify works just fine (see https://stackoverflow.com/questions/38682936/cube-root-of-negative-real-numbers/38707315#38707315). I think we should ditch this "experimental" lambdify for the real lambdify and use that in `plot`.

[2016-08-02 05:39] kritkaran94 commented on #11459
@asmeurer I would like to work on this issue. How to start ?

[2016-08-02 06:37] asmeurer commented on #11459
Take a look at the fu module. That would be the best place to add this.

[2016-08-02 22:24] asmeurer opened #11463 "real_root formula doesn't work with lambdify"
[code]

See http://stackoverflow.com/a/38707315/161801.

[2016-08-02 22:28] parsoyaarihant commented on #11463
I want to work on this. How do I start?

[2016-08-02 22:28] asmeurer commented on #11463
You should start by debugging the problem to see what is causing it.

[2016-08-03 08:58] hombit opened #11465 "Limit of rational expression with hypergeometric function"
I've got an error when trying to calculate a limit of rational expression with hypergeometric function. It reproduces with this simple example (expression equivalents to `exp(-x)`):

[code]

I use sympy 1.0 and python 3.5.

Traceback:

[code]

[2016-08-03 10:15] vahlkar commented on #11442
Thank you for the answer.

I understand why `is_EmptySet` would be equal to `None` in case of symbolic begin and end, but in the case I exposed above, it was known float values, so `is_EmptySet` should not be equal to `None` but initialised with `True` or `False` depending on the values (as you exposed in your comment).
In my example above we have `Interval(2,7).is_EmptySet` equal to `None` and in

[2016-08-03 14:33] rpisarev commented on #11442
I can add method about "is Empty?" in PR, but again this method can know nothing and return None. I think, it is by design SymPy.

[2016-08-03 18:54] asmeurer opened #11467 "diff only evaluates sometimes"
This is from https://stackoverflow.com/questions/38702594/differentiation-diff-doesnt-give-expected-output

[code]

[code]

Calling `doit` causes the first one to evaluate, but it seems that the output of diff should be more consistent.

[2016-08-03 22:53] asmeurer opened #11469 "bokeh plotting backend"
It would be nice to have a bokeh plotting backend (at least for 2d plots; I don't think they support 3d plots). Bokeh has a nice interactivity system where interaction on the Javascript frontend can send messages to the Python backend. This should make it not too difficult to do things like make plots that automatically render what is on the screen when you pan around.

Here is a simple example to

[2016-08-03 23:39] asmeurer commented on #11469
Apparently you can just do

[code]

[2016-08-03 23:44] asmeurer commented on #11469
Some useful tips on this here https://github.com/bokeh/bokeh/issues/4923

[2016-08-03 23:51] asmeurer commented on #11469
The datashader InteractiveImage has the functionality needed for panning and zooming callbacks https://github.com/bokeh/datashader/blob/eb5eb705e5c7ba3a04107f2ea8469da150e13542/datashader/bokeh_ext.py#L20. I wonder if we should just depend on datashader for bokeh plotting. It's quite possible other datashader functionality could be useful for SymPy function plotting as well. [Here](https://www.you

[2016-08-03 23:55] surr opened #11470 "diffgeom and higher-order derivatives"
I try to compute second order derivative of scalar field with `diffgeom` module.
It fails to produce the desired output and sometimes gives me the wrong answer.

[code]

[2016-08-04 08:09] kritkaran94 commented on #11467
I will take this issue. How to begin this ?

[2016-08-04 08:10] kritkaran94 commented on #11459
@asmeurer What's the expected output for this particular example ?

[2016-08-04 09:50] kheuton opened #11471 "Can't override division operator"
I'm using Sympy to evaluate symbolic expressions provided by users, but the division operator isn't behaving like any other mathematical operator. When evaluating an expression on objects with overridden operators, I get the expected result for addition, subtraction, and multiplication, but not division. The code below illustrates my problem:

[code]

And the output:

[code]

I know the division o

[2016-08-04 13:45] vahlkar commented on #11442
I was more thinking about customizing the actual `is_EmptySet` attribute by using the python `@property` feature, rather than adding a method.

But if you think the current behaviour is better then leave it this way. I just thought it could be more explicit with some exception but it may not correspond with Sympy's design.

But even with your previous explanation, I still don't understand **why**

[2016-08-04 15:58] asmeurer commented on #11459
It should return the trig function, cos(x).

[2016-08-04 16:04] sn6uv opened #11472 "N rounding incorrectly"
[code]

expected `0.645659` (final digit is incorrect). Is this behaviour intentional?

Note that `mpmath` gives the correct digits:

[code]

[2016-08-04 16:09] asmeurer commented on #11472
Note that `round(x, 6)` is correct.

[2016-08-04 19:04] chan-y-park commented on #11453
Thanks for your help! I dropped using sympy.mpmath and started using mpmath directly and everything works. It would indeed be great if such a deprecation warning is printed. I will close this issue, then.

[2016-08-04 19:04] #11453 closed

[2016-08-05 14:25] nschloe opened #11475 "coeff() needs expand()"
When trying to find a coefficient of a variable in an expression, that expression always has to be expanded. Consider, e.g.,
[code]
You'd expect `7*a`, but the result is `0`. This
[code]
works better.

[2016-08-05 15:11] MrDarkHorse commented on #11441
Any update on this?

[2016-08-05 15:22] kritkaran94 commented on #11441
I apologize I haven't made any progress on this yet.

I will keep you updated.

[2016-08-05 15:51] asmeurer opened #11476 "Rewriting expressions to minimize loss of signifance"
For code generation, it would be nice to have a function that generically rewrites expressions to minimise the loss of significance (floating point precision loss). See https://en.wikipedia.org/wiki/Loss_of_significance.

For example, the quadratic equation, usually represented as `(-b +/- sqrt(b**2 - 4*a*c))/(2*a)` loses precision when `c` is small. It can be rewritten as `x1 = (-b - sign(b)*sqrt

[2016-08-05 22:25] lucidbee opened #11477 "AttributeError: 'bool' object has no attribute 'subs'"
I am writing an evaluator for a language. The expressions and values are run through sympy for evaluation. In my language I can have something like
  'if x == true'
Instead of using the test "x == true" I use just "x" and I can evaluate with values True or False:

True

This is what I want.
However this does not work for 'if x == false'
When I use 'not x' I get an AttributeError:

AttributeError:

[2016-08-05 23:06] gorisaka commented on #11477
The result of `not x` is a python bool and not a sympy expression. For what you want, I think you should use the logical function Not from sympy.

[code]

For more information on the sympy logics module:
http://docs.sympy.org/latest/modules/logic.html

[2016-08-06 00:53] lucidbee commented on #11477
Thanks for the awesomely fast and helpful answer!! Fixed my problem.

[2016-08-06 00:53] #11477 closed

[2016-08-06 08:44] shubhamtibra commented on #11324
How should the initial conditions be printed? Seeing an example would help me to get the correct picture, like how would one print `HolonomicFunction((1) + (1)Dx**2, x), f(0) = 0, f'(0) = 1`?

[2016-08-06 09:27] jksuom commented on #11324
I think that `(1) + (1)Dx**2` could be `(1) + (1)*Dx**2` (maybe without parentheses). Also rational coefficients should probably be in a form that does not make them floating point numbers on input. Perhaps there could also be a separate printer for `srepr` with valid Python output.

[2016-08-06 17:04] gxyd opened #11482 "Printing of a Permutation in array form is wrong"
[code]

[2016-08-06 18:27] rpisarev commented on #11442
@vahlkar Can you try this branch? #11483

[2016-08-06 22:28] BebeSparkelSparkel opened #11484 "Not converting floats to rationals in sympy.geometry objects"
For performance reasons I need to be able to turn off the conversion from floats to rational numbers for sympy.geometry objects.
The Point class has the ability to set evaluate=False. It would be good if all geometry could set evaluate to False, but at least the class sympy.geometry.ellipse.Circle .

[2016-08-06 22:39] asmeurer commented on #11324
The initial conditions could be a dictionary, like `{f(0): 0, f(x).diff(x).subs(x, 0): 1}`.  That's how it works in dsolve, for instance.

[2016-08-07 18:18] ranea opened #11486 "Pell equations"
I'm trying to solve pell equations with sympy.

However, I get some bad results.

For example, let d=2, n=-9.

[code]

But (3,3) isn't a solution!

[code]

Is there something about the Diophantine module that I am missing?

Thanks.

[2016-08-07 18:26] jksuom commented on #11486
The equation is `x^2  - d*y^2 = n`, or, explicitly, `x^2 - 2*y^2 = -9`.

[2016-08-08 09:36] genuinelucifer opened #11487 "Windows executable should run with elevated (administrator) permissions at start"
Even if my Python is in a directory where writing doesn't need administrator privilege. The `sympy-1.0.win32.exe` executable fails to properly install sympy as it also tries to create some `keys`!

I have tried and `import sympy` doesn't work if the "key creation" fails! I had to `run as administrator` for this to work. Since other setups (for games and other softwares) run as administrator automa

[2016-08-08 13:40] vahlkar commented on #11442
I ran your test and It seems to work fine.

Thank you for that !

[2016-08-08 14:54] certik opened #11488 "Why does an expression get constants like C1?"
An example is here, the output [9] has a constant `C₁`:
[code]

I thought that both `p` and `q` is uniquely given here, aren't they?

Also, if the `C₁` constant is needed, the user should have a way to specify a generator for these, similarly how the ODE solvers work.

[2016-08-08 14:57] certik opened #11489 "Better document holonomic functions"
For example,
[code]
This needs to have documentation for all the arguments (`initcond`, `x0`, `domain`, ...).

Similarly for all other functions in the holonomic module. The best documentation is a quick explanation what, say, `lenics` is, and then a few doctest examples.

[2016-08-08 14:58] rpisarev commented on #11442
Ok. I'll fix some test and hope for merge :)

[2016-08-08 14:59] certik opened #11490 "expr_to_holonomic(sqrt(a*x), x=x) gives SympifyError"
[code]
If this can't be handled by the holonomic module, it should give a real error, not sympify error.

[2016-08-08 15:00] certik opened #11491 "Typi in integrate() doctest"
[code]
There should be a coma after `x` in (x, 0, x).

[2016-08-08 15:05] certik opened #11492 "Write good documentation in the `doc` directory using Sphinx"
This should be a nice page, that explains what the holonomic function module is for, to somebody who has never heard of holonomic functions before. It should explain at least the following points:

* what a holonomic function is
* what the module can handle
* how to use it on a few examples
* how the conversion from sympy to holonomic works (will it always work, will it sometimes fail, is there a

[2016-08-08 15:14] certik commented on #11492
Here is another nice example:
[code]

[2016-08-08 16:13] asmeurer opened #11493 "solve hangs/fails when constants are replaced with floats"
This is from https://stackoverflow.com/questions/38817305/sympy-works-with-int-params-but-spins-with-floats

This works:

[code]

This hangs:

[code]

And this fails with `NotImplementedError: multiple generators [x, log(x)] No algorithms are implemented to solve equation -10.0*x*log(0.003003003003003*x) + 8.4984984984985*x - 2830.0`

[code]

`solveset` doesn't seem to be able to handle it either:

[2016-08-08 16:15] asmeurer commented on #11493
Regarding the hanging without rational=False, see https://github.com/sympy/sympy/issues/8515.

[2016-08-08 18:17] asmeurer opened #11495 "lisp printer"
It would be useful to have a lisp printer to generate lisp code, for example, `(x - 2*x + 1)**2` would become `(* (+ x (* -2 x) 1) (+ x (* -2 x) 1))` (if lisp has a power operator it could optionally use that as well).

[2016-08-08 18:32] parsoyaarihant commented on #11495
I am working on it. How do I start?

[2016-08-08 21:18] markdewing commented on #11476
One interesting tool based on rewriting expressions is Herbie

http://herbie.uwplse.org/

Other tools for analyzing floating point precision are focused on finding opportunities to reduce the precision in order to gain performance.

Precimonious is one (https://github.com/corvette-berkeley/precimonious)
Paper: https://people.eecs.berkeley.edu/~rubio/includes/sc13.pdf

And a follow-up paper using b

[2016-08-08 21:27] asmeurer commented on #11476
So it looks like these all work by just applying a bunch of rewrite
rules (with some intelligent searching), and picking the best result.
I was hoping there might be a more general algorithm, that isn't just
a search.

I tried Herbie on `expand((x - 2)**9)`, an expression which has
catastrophic cancellation near x = 2 (see the graph at the top of
https://en.wikipedia.org/wiki/Loss_of_significance)

[2016-08-08 21:34] asmeurer commented on #11476
Here I have plotted the absolute (green) and relative (blue) error of `(x - 2)**9` vs. `expand((x - 2)**9). Near 2, the relative error is huge (at x = 2 it's infinite because the expression is 0). However, it decreases away from 2. On the other hand, as the value of the polynomial itself increases, the absolute error does too (but not nearly as fast as the polynomial itself: `8**9 = 134217728`).

[2016-08-09 00:30] lopezdp commented on #11435
Where can i find the file for this line of code?

[2016-08-09 11:57] mkoerner opened #11496 "Wrong result in limit calculation of `limit(erfc(ln(1/x)),x,oo)`?"
Hi,

for the calculation of `limit(erfc(ln(1/x)),x,oo)` im getting `0` instead of `2`. The full example is

[code]

with output

[code]

Is this an error or am I doing something wrong?

-- Mathias

[2016-08-10 04:54] ataber commented on #11420
The PR was merged in, so now it's possible to generate TF graphs from Sympy expressions in the following way:
[code]
I'll make a PR to add some documentation soon.

[2016-08-10 04:54] #11420 closed

[2016-08-10 05:51] moorepants opened #11498 "ReferenceFrame.orient() needs an option to pass in the rotation matrices manually."
For example:

[code]

Currently there is no clean way to set rotation matrices manually.

[2016-08-10 13:38] dr-leo opened #11499 "ENH: stats: add multinomial distribution"
Hi,

I am new to sympy. Having played around a bit with some of its great concepts, I wonder why stats Features Binomial but not Multinomial Distribution. Adding this would be a low hanging fruit as multinomial_coefficient is already contained in ntheory.

I did a quick and dirty hack. As it would take some time though to prepare a PR, I wonder if there is Appetite at all in this Feature.

Leo

[2016-08-10 14:47] michaeldongyuxi opened #11500 "Can not simplify (sqrt(2)+2*sqrt(x))/(1+sqrt(2)*sqrt(x))"
Should this equation simplified to sqrt(2)?

[2016-08-11 03:52] gorisaka opened #11502 "Discrete logarithms"
Unless I'm missing something, it seems SymPy doesn't offer any way to compute discrete logarithms (i.e. generalized multiplicative order), only the multiplicative order.

For instance, Mathematica does it via ``MultiplicativeOrder[k,n,{r1,r2,…}]``.
http://reference.wolfram.com/language/ref/MultiplicativeOrder.html

What I would like to achieve in SymPy is something like:
[code]
and ultimately
[cod

[2016-08-11 03:58] justinsuen commented on #11500
Yeah it does. As long as 1-2x does not equal 0. You can see this by multiplying what you have by (1 - sqrt(2)*sqrt(x))/(1 - sqrt(2)*sqrt(x)).

[2016-08-11 05:04] asmeurer commented on #11502
Yes, this sounds like it would be a good addition.

[2016-08-11 14:14] deep-shekhar commented on #11500
when i put x = 2, or 1/2 or 0, the output comes as sqrt(2), but giving any another value of x say, x=5,just gives the output as,
(sqrt(2) + 2*sqrt(5))/(1 + sqrt(10)).
shouldn't the output come as sqrt(2) in every case?

[2016-08-11 14:29] prateekg commented on #11502
Yes, it will be good thing to start and I would be happy to contribute into it.

[2016-08-11 14:31] jbm950 opened #11503 "ReferenceFrame error"
There's a spot in frame.py where it tries to delete dictionary keys while iterating through the dictionary which causes an error. I'm posting a PR with the fix shortly.

[code]

results in

[code]

[2016-08-11 16:34] #2866 closed

[2016-08-11 19:11] asmeurer opened #11505 "Move check_assumptions into the main namespace"
sympy.solvers.check_assumptions checks if the given assumptions match a value. We should move that into the main namespace. It may also be useful to have a variant that checks a value against a variable/expression (the equivalent of `check_assumptions(val, **expr.assumptions0)`). Or maybe we just need to document that.

[2016-08-11 20:18] asmeurer opened #11506 "cancel on expressions with exponentials"
Consider this example:

[code]

I believe what is happening here is that in the first case, it views it as a rational function in `exp(x)`, and hence it isn't cancelled (`(x + 1)/x` is already in lowest terms). In the second case, it views the argument of the log as a rational function in `exp(-x)`, so it cancels it (as `(1/x + 1)*x` -> `1 + x`).

It ought to be more consistent here.

Another issu

[2016-08-11 20:31] asmeurer commented on #11505
Another idea: once ask works with Eq better, you could just do `ask(Eq(Symbol('x', negative=True), 3))`. So one way to fix this would be to just improve ask Eq support, and document that you can check assumptions by `ask`ing an `Eq`.

[2016-08-11 22:03] ataber opened #11507 "PolynomialDivisionError with resultant of two almost identical equations"
I'm trying to run the following program
[code]

The error message I get says that my domain is R[x,y,z] and I'm guaranteed zero detection, and the error says it might be a Sympy bug.

Does anyone see why just slight perturbations of the `r` variable produce errors?

EDIT: It seems to work with arguments 2.0, 3.0...etc, but fail for 2.5, 3.5, etc. I wonder if there's some kind of conversion to inte

[2016-08-12 03:02] gorisaka commented on #11502
@prateekg Sure, you are welcomed to contribute.

[2016-08-12 07:32] jksuom commented on #11507
The resultant algorithm does not work in RR because the basic laws of arithmetic are not valid in RR. It is based on the Euclidean algorithm that relies on those laws. If rational numbers are used instead of floating point numbers, for example, `S(1000000000001)/1000000000000` instead of `1.000000000001`, the algorithm should work. (For an explanation of `S`, see http://docs.sympy.org/latest/gotch

[2016-08-12 08:06] ustcscgy commented on #11507
Not comment on resultant algorithm, but comment on your program:

You seems to try to evaluate `r` at the result, you can compute resultant first, then evaluate:

[code]

[2016-08-12 09:36] prateekg commented on #11505
Hi, can you please brief me about the issue ?

[2016-08-12 11:47] parsoyaarihant commented on #11412
Is this issue fixed?

[2016-08-12 11:49] parsoyaarihant commented on #11427
@souravsingh is the issue fixed?

[2016-08-12 11:52] parsoyaarihant commented on #11505
@asmeurer , I submitted PR #11509 for this issue. However, I am unclear about

Could you elaborate on that through an example?

[2016-08-12 11:55] souravsingh commented on #11427
@parsoyaarihant I am waiting for the PR #11425 to be merged before working on it

[2016-08-12 11:56] souravsingh commented on #11498
@moorepants I would like to work on this. How do I start?

[2016-08-12 12:25] parsoyaarihant commented on #11275
[code]
This error is caused since there is no closing parentheses included in the printing piecewise functions. Will it be fine to add closing parentheses in Piecewise functions?

[2016-08-12 16:20] asmeurer commented on #11505
I mean something like `check_assumptions(-1, Symbol('x', negative=True))`.

[2016-08-12 16:25] asmeurer commented on #11275
The piecewise should print like it does for the Unicode pretty printer.

[2016-08-13 16:08] shubhamtibra commented on #11326
You are right @asmeurer . For `n==0` the answer should be `HolonomicFunction(Dx, x, 0, [1])`.

[2016-08-13 16:49] prateekg commented on #11505
Hi, when you say that " Move check_assumptions in main namespace", what actually you mean to say? Please help me this.

[2016-08-13 18:45] asmeurer commented on #11505
I mean to add it to `__init__.py`, or add an equivalent function to `__init__.py`. Or another option would be to add it as a method of Expr.

[2016-08-14 05:13] schoen opened #11512 "_sqrt_mod_prime_power factors argument unnecessarily"
I just used `ntheory.residue_ntheory._sqrt_mod_prime_power` successfully (thanks!), but I was using a very large value for `a` and I had to comment out the line that attempts to factor `a` in order to get the process to complete in a reasonable time:

https://github.com/sympy/sympy/blob/master/sympy/ntheory/residue_ntheory.py#L415

I think this `f = factorint(a)` may have been copy and pasted from

[2016-08-14 07:20] jksuom commented on #11512
It seems that `f = factorint(a)` was left over from an earlier implementation by mistake. It was originally introduced in https://github.com/sympy/sympy/commit/e0e0a182d7edff485f7fce6645a50f1735832988#diff-d43e7fc1bd11e75f0bc7baf255de6605R298 as an easy (but wasteful) way to find the exponent of the prime `p` in `a`. It was later found out that the idea was wrong and the code using the exponent wa

[2016-08-14 07:38] yash-reddy commented on #11512
I'd like to work on it. Any advice would be welcome

[2016-08-14 08:13] yash-reddy commented on #11512
removed the line and created a PR (#11513)

[2016-08-14 15:33] yellowhat opened #11514 "Eigenvals of a symmetric real matrix"
Hi all,
I would like to find the symbolic eigenvalues of a 3x3 symmetric matrix and convert the code to fortran.
This is my code:

[code]

This is the fortran code that I get:

[code]

Has you can see there are some cmplx function.
The eigenvalues of a symmetric real matrix are real so why am I getting complex number?

Thanks.

[2016-08-14 16:38] jksuom commented on #11514
It is a classic result, known as [casus irreducibilis](https://en.wikipedia.org/wiki/Casus_irreducibilis), that the roots of an irreducible cubic equation (with real coefficients and three real roots) cannot be expressed by means of real-valued radicals.

[2016-08-14 18:04] pbender3469 opened #11515 "import errors Version 1.0"
I am getting the following error when I try to import the mechanics module from sympy version 1.0
[code]
Thanks for any help.

Phil Bender

[2016-08-15 09:05] jksuom commented on #11512
Thank you, @schoen, for pointing out this.

[2016-08-15 09:05] #11512 closed

[2016-08-15 09:58] gxyd commented on #11442
The issue has not been fixed in the master9(that PR has not been merged), so I am reopening this issue.

[2016-08-15 19:11] ataber commented on #11507
Understood. Thanks for the explanation! I'll close the issue since sympifying rational inputs solved my problem. Closing thought: if there were a way to detect when Sympy requires the laws of arithmetic to hold to complete an algorithm, there should be an error message describing that algorithm can't be used when the domain is `RR`.

[2016-08-15 20:31] bjodah commented on #11515
Strange, I don't see this
[code]
no error messages

[2016-08-15 22:24] pbender3469 commented on #11515
Thanks for getting back to me.

The error went away after I installed the Anaconda distribution.

Sent with MailTrack
<https://mailtrack.io/install?source=signature&lang=en&referral=pbender3469@gmail.com&idSignature=22>

On Mon, Aug 15, 2016 at 1:31 PM, Björn Dahlgren <notifications@github.com>
wrote:

[2016-08-15 22:31] bjodah commented on #11515
I can't reproduce this in my anaconda installation either.
Is `c:\python27` the location of your anaconda installation?
I have had problems with anaconda environments picking up user site packages, setting the environment variable `PYTHONNOUSERSITE=1` helped me (on linux though).

[2016-08-16 04:56] zwaltman commented on #11505
@asmeurer, do you mean check_assumptions should just be moved from solvers/solvers.py to solvers/__init__.py? Looking at the __init__.py for other packages, none of them seem to contain functions... Do we want to make this an exception, or is there something I'm missing?

[2016-08-16 05:19] asmeurer commented on #11505
@zwaltman I mean to add an import for it to `__init__.py`, so that `from sympy.solvers import check_assumptions` (and hence `from sympy import check_assumptions`) works.

[2016-08-16 05:37] michaeldong21 opened #11518 "Exponent doesn't fully simplify"
Say I have code like this:

[code]

The output is
`-0.5*x**2.5 + 0.5*x**2.5`
How do I simplify it to 0?

[2016-08-16 05:39] michaeldong21 commented on #11518
However N() works
im```
port sympy
from sympy import *
x=Symbol('x')
expr1 = S(1)/2*x**2.5
expr2 = S(1)*x**(S(5)/2)/2
res = expr1-expr2
res= simplify(N(res), 5)
print res
[code]

[2016-08-16 05:48] zwaltman commented on #11505
@asmeurer Gotcha, thanks! Created a pull request with the addition.

[2016-08-16 14:05] micklat opened #11521 ""Piecewise((1,Eq(data[0],0)), (-1,True))" fails where "data" is a matrix"
Just tried this in the Live Shell (Python console for SymPy 1.0 (Python 2.7.5)).

[code]

[2016-08-16 20:11] asmeurer commented on #11518
A strange bug. The floating point numbers appear to be identical:

[code]

It also works if you use the default precision:

[code]

[2016-08-16 20:12] asmeurer commented on #11515
Perhaps you had a stale pyc file somewhere.

I'm closing this, but please reopen if you see it again.

[2016-08-16 20:12] #11515 closed

[2016-08-16 20:14] asmeurer commented on #11514
I would recommend using a numeric eigenvalue solver. It won't have this issue, and the results will be more numerically stable.

[2016-08-17 02:08] siefkenj commented on #11484
@BebeSparkelSparkel pull requestion #11241 should be a step in this direction.  It prevents existing points from being turned into points again and thus being resimplified.

[2016-08-17 06:58] Upabjojr commented on #11444
It's a _subs_ problem. Maybe one should try to override _\_subs_ in _Indexed_.

[2016-08-17 07:28] Upabjojr commented on #11444
Sorry, the problem is that _Y[i].free_symbols_ returns _set([Y])_, while it should return _set([Y[i]])_ for this to work properly. That is, _Y[i]_ is not recognized as a free symbol, rather its parts are.

[2016-08-17 10:48] sampadsaha5 opened #11524 "ASCII printing for Singularity Function."
Implementation of ASCII printing for Singularity Functions is needed.

[2016-08-17 11:06] rohitrango commented on #11025
Well, there are many printer functions and I do not have time to understand and write docs for all of them. Could you possibly redirect me to some other issue?

[2016-08-17 12:25] peterstangl opened #11525 "[tensor] TensAdd ignores all but one scalar argument"
If a `TensAdd` instance is formed by the sum of fully contracted tensors (i.e. `TensMul` instances with an empty list as the `free_args` attribute) and scalars (usual sympy symbols), `TensAdd` ignores all but the last scalar in the sum.

Consider the following example:
[code]
The scalar addends in `expr1` and `expr2` are treated as a single argument of `TensAdd` and no problem appears:
[code]
This

[2016-08-17 12:29] jksuom commented on #10985
Closed because of #11338

[2016-08-17 12:29] #10985 closed

[2016-08-17 12:46] kritkaran94 commented on #11524
@sampadsaha5 I would like to work on this. Can you please tell me how to start ?

[2016-08-17 14:58] sampadsaha5 commented on #11524
@kritkaran94 You can look into pretty printing module and figure out how to print Singularity Functions in the case of `use_unicode=False`.

[2016-08-17 16:17] asmeurer commented on #11025
Look for other issues with the "easy to fix" tag.

[2016-08-17 19:49] jbrea opened #11526 "Different result of limit after simplify"
Hi

I just stumbled over the surprising result that the limit function
returns a different result if I apply simplify to the argument.
The full example is here:

$ python
Python 3.5.2 (default, Jun 28 2016, 08:46:01)
[GCC 6.1.1 20160602] on linux
Type "help", "copyright", "credits" or "license" for more information.

The second result (after applying the simplification) is correct.
The first one i

[2016-08-17 20:13] Upabjojr commented on #11525
Oh, this is a serious bug. I have never noticed it.

[2016-08-17 20:16] Upabjojr commented on #11525
@peterstangl do you feel like trying to fix this bug? It should be in `TensAdd.__new__`.

[2016-08-17 20:20] Upabjojr commented on #9862
This is now solved.

[2016-08-17 20:20] #9862 closed

[2016-08-18 07:14] jksuom commented on #11526
The same phenomenon is visible in this part of the computation (where `1/J` is written for `J` in order to have the limit `J -> 0` instead of `J -> oo`):
[code]
The reason for the difference in the leading terms is [this line](https://github.com/sympy/sympy/blob/master/sympy/core/add.py#L794)
[code]
If some of the leading terms in a sum cancel each other, it is necessary to consider higher order t

[2016-08-18 09:13] Shekharrajak opened #11528 "factor_list is not able to check const which is not a `number`"
[code]

Ans should be:
[code]

[2016-08-18 09:14] Shekharrajak commented on #11528
[This discussion ](https://github.com/sympy/sympy/pull/11201#discussion_r66085734)may help

[2016-08-18 17:45] Nitin216 commented on #11524
@sampadsaha5 Could u give an example. I am not able to understand. Thank You.

[2016-08-18 20:08] asmeurer commented on #11505
https://github.com/sympy/sympy/pull/11509

[2016-08-18 20:08] #11505 closed

[2016-08-18 20:13] asmeurer opened #11530 "ITE(x, True, False) should auto simplify to x"
[code]

It works if you call `to_nnf()`, but it should auto-simplify.  The same with `ITE(x, False, True)` (should simplify to `Not(x)`).

[2016-08-18 20:24] parsoyaarihant commented on #11530
I am working on it.

[2016-08-18 21:45] prateekg commented on #11122
I think this should be closed.
Ref #11276
@asmeurer

[2016-08-18 22:03] #11122 closed

[2016-08-19 07:09] #11525 closed

[2016-08-19 19:24] asmeurer opened #11533 "Formula for tiling a chessboard with dominos"
See http://www.johndcook.com/blog/2016/08/19/how-many-ways-can-you-tile-a-chessboard-with-dominoes/. The function from the post can be adapted for SymPy:

[code]

This is a nice testbed for simplify, especially `trigsimp`. The 2 x 2 case gives a wrong answer!

[code]

The 4 x 4 case takes a lot of work to be simplified. Just `simplify` doesn't do it. I hit a bug with `sqrtdenest`:

[code]

To actu

[2016-08-19 19:27] asmeurer commented on #11533
The 2 x 3 case also gives a wrong answer. It must be wrong somewhere in auto-simplification:

[code]

[2016-08-19 22:17] Shekharrajak opened #11534 "invert is not working for x**2*y**2 + x**2 - y**2=0, x"
[code]

Original : https://groups.google.com/forum/#!msg/sympy/YtQYNVQGGqY/8dAEcQwkAgAJ

[2016-08-19 22:23] Shekharrajak commented on #11534
solveset should be able to solve this :

[code]

Ans : `x = ±y/sqrt(y^2+1) and y^2+1!=0`

In other words :

`invert` should work(lhs side only `x`) for this simple case:

[code]

[2016-08-20 12:17] jksuom commented on #11533
It seems that the formula is not quite correct. The product can be negative. The absolute value should be taken: `sqrt(abs(prod))`.

[2016-08-20 18:38] asmeurer commented on #11533
Supposedly it doesn't. I'll need to work out an example by hand to check. Regardless, something is wrong for the 2 x 2 case where simplify and evalf disagree.

[2016-08-20 23:28] asmeurer commented on #11533
I modified the formula to not take a square root and

[code]

Unless there is some other bug, it seems you are right for the 2 x 3 case. `simplify` definitely has a bug for the 2 x 2 case, though.

[2016-08-21 13:14] parsoyaarihant commented on #11524
@kritkaran94 , is the issue fixed?

[2016-08-21 13:40] kritkaran94 commented on #11524
@parsoyaarihant Working on it buddy :)

[2016-08-21 13:46] kshitij10496 opened #11536 "Solution of 0**x + a should be EmptySet"
There is some discrepancy in the behaviour of `0**x` and the solving technique for the following equations in solveset:

[code]

[2016-08-21 13:57] nikoskaragiannakis commented on #11534
I'd like to work on this. I think I have a solution

[2016-08-21 16:21] miketheanimal opened #11538 "Bug in solve maybe"
With python 3.4.2, Sympy 1.0:

[code]

If I run the following script

[code]

then I get:

[code]

Granted sympy.E and math.e are not the same thing, its odd that in the former case sympy says there are no solutions, and in the second that there are three (which looks plausible since there is a cube term.

Regards
Mike

[2016-08-22 18:49] #11449 closed

[2016-08-22 22:13] asmeurer opened #11539 "Easier way to list all possible (old) assumptions in code"
Right now, the only way to access a list of all possible (old) assumptions in in the Sphinx documentation, at http://docs.sympy.org/latest/modules/core.html#module-sympy.core.assumptions.

To access this list in code, the only way I found is

[code]

You have to use `sys.modules` because of an idiosyncrasy of Python's import system. When you do `import sympy.core.assumptions`, you can't access `sy

[2016-08-23 02:45] Finite-Programming commented on #11538
I tried e2 =  x + y + 4 + 4 * sympy.pi with same result. Workaround was adding evalf() to the end.

e2 =  x + y + 4 + 4 * sympy.E.evalf()

[2016-08-23 16:36] #11490 closed

[2016-08-23 16:36] #11491 closed

[2016-08-23 18:15] certik commented on #11490
This now works:
[code]

[2016-08-23 18:19] certik opened #11541 "expr_to_holonomic(sqrt(a*x), x=x).to_expr() gives incorrect result"
[code]
Which gives a different expression than the original. That `sqrt(x*y) != sqrt(x)*sqrt(y)` can be seen from this example:
[code]

I am suspecting that already this is wrong:
[code]

[2016-08-23 18:20] certik commented on #11490
@jksuom, @shubhamtibra, but see #11541, I think what this returns is incorrect.

[2016-08-23 18:41] nchisholm commented on #11254
Thanks for the response! It sounds like @jksuom is roughly suggesting the following procedure:
[code]
Nice! The constant at the end is, of course, arbitrary.  Let's try something harder:
[code]
That looks good too! The only issue I have doing it this way is when integrating `sech(x)**n` for odd `n`, as `RootSum`s come up in addition to the rational of exponentials.
[code]
The above should be equiv

[2016-08-23 18:47] jksuom commented on #11541
`sqrt(a*x)` is a multivalued function and `expr_to_holonomic` returns a differential equation with initial conditions. The latter data does not contain branch cut information. I think a one-one correspondence between expressions and holonomic functions cannot be expected, in general.

[2016-08-23 18:51] certik commented on #11541
That's a good point. Let's keep this issue open, I am still not sure if this is a bug or not.

[2016-08-23 19:36] asmeurer opened #11542 "PolynomialDivisionFailed from dsolve"
Reported from https://stackoverflow.com/questions/39071334/solving-non-linear-differential-equation-sympy

[code]

The `dsolve` line gives the error:

[code]

[2016-08-23 19:41] asmeurer commented on #11542
And the `1st_exact` hint hangs in heurisch (based on `1st_exact_Integral`, it's creating an expression with an exponent of `-1.0` instead of `-1`).

[2016-08-23 19:45] asmeurer opened #11543 "Update sympy section of scipy-lectures.org"
http://www.scipy-lectures.org/ is somewhat popular, but the SymPy section, http://www.scipy-lectures.org/packages/sympy.html is a little outdated.

It would be nice to update it, perhaps borrowing some material from the [tutorial](http://docs.sympy.org/latest/tutorial/index.html).  The source is at https://github.com/scipy-lectures/scipy-lecture-notes.

[2016-08-23 20:08] kritkaran94 commented on #11543
@asmeurer I will take this issue

[2016-08-24 03:51] cttefer commented on #11538
After more investigation: Python doesn't evaluate sympy.E or other NumberSymbol objects like it evaluates math.e. Currently neither Poly nor DMP evaluate their coefficients when NumberSymbol is involved. So, for the developers, should we evaluate NumberSymbol within DMP/Poly or should we provide a native function to the NumberSymbol class that allows Python to evaluate the value like a constant?

[2016-08-24 05:01] jksuom commented on #11542
This looks like the problem in #11507. Polynomial division does not work with floating point coefficients because the law `a/b*b == a` is not valid.

[2016-08-24 06:23] michaeldong21 opened #11544 "powsimp(-0.5**x + 2**(-x)) throws error"
[code]

[2016-08-24 06:56] michaeldong21 opened #11545 "nsimplify(log((exp(x)+1)/exp(x))) RuntimeError: maximum recursion depth exceeded"
`nsimplify(log((exp(x)+1)/exp(x)))`

[code]

[2016-08-24 14:40] smichr commented on #11539
Are you referring to this:

[code]

[2016-08-24 15:56] asmeurer commented on #11539
Ah, of course you can import the variable itself. So the sys.modules thing isn't strictly necessary.

[2016-08-24 16:03] asmeurer commented on #11507
Users shouldn't be required to use rational numbers. Floating point numbers should just work.

[2016-08-24 16:04] asmeurer commented on #11542
SymPy has access to arbitrary precision floating point numbers. We should definitely be able to work around these issue.

[2016-08-24 16:11] miketheanimal commented on #11538
Back with my original, if i do:

x, y, k = symbols('x y k')
e1 = x - y**3 + 4
e2 =  x + y + 4 + 4 * k
solve([e1, e2], x, y)

then I get (after several seconds, and omitting most of the 1200 or so characters) :

    [((-4*(k + 1)*(18*k + sqrt(324*k**2 + 3)) .......]

so the result is a function of the variable k. So, if instead of k i put E, I'd at least expect to get the same result but with k rep

[2016-08-24 18:32] madan96 commented on #9577
I am working on this issue. Any suggestions are welcome.

[2016-08-24 18:36] kshitij10496 commented on #9577
@madan96 Go ahead

[2016-08-24 21:13] ctefer commented on #11538
I think this is correct as well. Pardon my ignorance as I'm new to this system, but in keeping with the sympy philosophy that symbols are treated as symbols and never reduced to their approximate values, shouldn't NumberSymbol be also treated as a symbol?

I believe this issue may actually be caused by:

[2016-08-25 02:15] michaeldong21 commented on #11545
Fixed after I updated to the newest git version.

[2016-08-25 02:15] #11545 closed

[2016-08-25 02:49] ctefer commented on #11538
I think I figured it out. I noticed a bad tab spacing around sympy/poly/polyroots.py line 1012

[2016-08-25 07:45] yeus opened #11547 "mathml(Matrix([0,1,2])) gives back error"
Here is the error:

[code]

[2016-08-25 07:55] jksuom commented on #11538
It seems that `E` should be treated as a symbol in `polys`. It is not implemented that way currently, but can be effected by specifying the coefficient domain as a hint.  As `solve` doesn't currently pass the hints to `solve_poly_system`, the latter function has to be called directly:

`solve_poly_system([e1, e2], x, y, domain=ZZ{E])`

These deficiencies should probably be fixed.

[2016-08-25 12:51] mzaffalon opened #11548 "simplification of binomial (0,m) gives 0"
If `m = symbols("m", integer=True)`, the simplification of the binomial `simplify(binomial(0,m))` return 0, which is not correct when `m=0`.

This is for SymPy 1.0 (Python 3.5.2-64-bit) installed via Anaconda 3.

[2016-08-25 13:12] Chandak01 commented on #11530
I'm new to opensource and want to contribute in this,could you help me how to approach this problem and where to start

[2016-08-25 13:39] kshitij10496 commented on #11530
@Chandak01
I think this issue already fixed.
Feel free to work on other "Easy to Fix" issues

[2016-08-25 14:10] Chandak01 commented on #11498
I'm new to opensource and want to contribute to this,could you help me how to approach this problem and where to start

[2016-08-25 14:50] moorepants commented on #11498
I would suggest writing some unit tests in the sympy/physics/vector/tests/test_frame.py showing the desired functionality.

[2016-08-25 15:11] ctefer commented on #11538
In the constructor we could set it up so NumberSymbols are considered instead of just "is_number"

[code]

[2016-08-25 15:45] Chandak01 commented on #11498
I would appreciate if it could be debugging task,as I've no idea about setting the test cases currently

[2016-08-25 16:37] asmeurer commented on #11530
This was fixed by https://github.com/sympy/sympy/pull/11535

[2016-08-25 16:37] #11530 closed

[2016-08-25 16:48] jksuom commented on #11538
This is plausible, but there may be a problem. Not all number symbols are algebraically independent and therefore acceptable as generators in a coefficient ring.  `GoldenRatio` is also a number symbol, and it is algebraic.

[2016-08-25 17:37] souravsingh commented on #11498
Thanks for the advice @moorepants

[2016-08-25 17:55] ctefer commented on #11538
`GoldenRatio` seems to be the only current NumberSymbol that has this problem. Also, I ran something similar to the initial issue that I think is interesting. This makes me think that even though `Golden Ratio` is called algebraic, I'm wondering if it's implemented correctly.

I would ignore the timeout and assume that it's coming back with numbers. I ran this from the browser shell.
[code]

[2016-08-25 18:00] jksuom commented on #11538
That must be a bug.

[2016-08-25 23:13] ppeluso commented on #11548
I believe this has to do with the idea that when using  `binomial(n,k)`, no matter what n is if k is a negative value it will always return 0. I think in your case because m is not assigned a value it will automatically return 0. If you set m equal to 0 and run `simplify(binomial(0,m))` it will return 1.

[2016-08-26 03:53] mzaffalon commented on #11548
I was not aware of the definition for negative values of `k`.

It is unlikely that I am able to make a PR, but I would like to give it a try this weekend.

[2016-08-26 04:19] mzaffalon commented on #11486
Should this issue not be closed?

[2016-08-26 10:06] boeddeker opened #11549 "sympy.Matrix.inv has numerical problems on invertible matrix (compared with numpy)"
The Matrix is invertible, but the inverse of sympy.Matrix.inv is wrong, if the top left value is 6e-17

Code:

[code]

￼

Output:
￼

[2016-08-27 03:52] isuruf commented on #11549
For numerical problems, you should use numpy. If you want to get the same answer, you can do `sympy.Matrix(A_np).n(30).inv().n(16)` which uses higher precision floats so that the numerical is reduced. In this case you can also use, sympy.Matrix(A_np).inverse_ADJ()`

[2016-08-27 09:46] bjodah commented on #11544
Try to avoid Python floats (IEEE754 float64 numbers):
[code]

[2016-08-27 15:36] boeddeker commented on #11549
ok, that solves my problem, but the thing what I wanted to report is, that a value of 6.0e-17 for a Matrix which is good invertable (determinante is one) results in an error of 8 (should be 8, but is 16).

The value of  6.0e-17 appears in my calculations (numerical error, the analytical value is 0) and if it is a bit greater ( + 2.0e-17 = 8.0e-17 ) the solution is correct.

[2016-08-27 21:34] db87 opened #11551 "Integral difference when using variable or function"
With sympy 1.0, I seem to getting different results when doing an integral with respect to a function or a variable. Maybe I'm doing something wrong here but this:

[code]

Outputs this:

![image](https://cloud.githubusercontent.com/assets/1877777/18030187/6ec34478-6c62-11e6-998d-770530608538.png)

The solution of this type of integral should be:
![image](https://cloud.githubusercontent.com/assets

[2016-08-28 16:56] parsoyaarihant commented on #11524
@kritkaran94 , any update?

[2016-08-28 16:59] kritkaran94 commented on #11524
@parsoyaarihant You can work on this issue Bro. Little busy with other stuff. Sorry, for making you wait.

[2016-08-28 17:00] parsoyaarihant commented on #11524
Thanks :)

[2016-08-28 19:43] nikoskaragiannakis commented on #11498
I think I can help with this.

[2016-08-28 21:03] siefkenj commented on #11549
I suspect if sympy used partial pivoting during Gaussian elimination, it would reduce these numerical errors.

[2016-08-29 02:58] ctefer opened #11553 "Polynomial solve with GoldenRatio causes Traceback"
Found during issue 11538 investigation. The GoldenRatio::NumberSymbol is the only NumberSymbol currently treated as an algebraic expression. However when solve is called on the GoldenRatio a Traceback occurs where GoldenRatio is not being treated algebraically.

[code]

[2016-08-29 08:06] jksuom commented on #11553
It seems that `GoldenRatio` should be treated in the same way as `I` in `_minpoly_compse`. So, the following should be added:
[code]

[2016-08-29 13:54] Wrzlprmft opened #11555 "`clear_cache` leads to wrong results of `count` in 0.7.4.1"
I found a rather strange and annoying bug in SymPy 0.7.4.1 that is gone in SymPy 1.0, but I am unsure whether the underlying problem is actually fixed or the symptoms have just shifted. It is probably related to [this issue](http://github.com/sympy/sympy/issues/7687) but I am not sure. Hence I am reporting it here to leave a paper trail:

Here is a minimal non-working example. The assertion in the

[2016-08-29 18:16] trxrunner opened #11556 "Sqrt of matrix not simplifying"
The sqrt of the identity matrix won't simplify, but it will calculate it if you take to the power of 0.5:
[code]

[2016-08-29 20:18] asmeurer opened #11557 "Matrix**symbol should stay unevaluated by default"
`Matrix**symbol` evaluates:

[code]

It would perhaps make more sense to return a MatPow object for symbolic exponents.

[2016-08-29 20:19] asmeurer commented on #5094
Marking this as a duplicate of https://github.com/sympy/sympy/issues/10472.

[2016-08-29 20:19] #5094 closed

[2016-08-29 22:29] siefkenj commented on #11305
I can confirm this.  It seems like something depends on alphabetical order.

[code]

works, but

[code]

does not.

[2016-08-29 22:56] bjodah commented on #11557
+1, but perhaps change the behavior to *always* return MatPow objects then?

[2016-08-29 22:57] asmeurer commented on #11557
I think it should continue to evaluate for integer exponents.

[2016-08-29 23:03] bjodah commented on #11557
I was thinking about consistent behavior, but thinking some more about this I think I agree with you. One could always explicitly construct MatPow if one needs it to stay unevaluated, right?

[2016-08-29 23:06] bjodah commented on #11544
I guess you actually wanted simplify here:
[code]

[2016-08-29 23:06] #11544 closed

[2016-08-30 00:20] #11556 closed

[2016-08-30 15:07] #11498 closed

[2016-08-30 17:51] asmeurer commented on #10672
Related https://github.com/sympy/sympy/issues/10035

[2016-08-30 17:52] asmeurer opened #11559 "str of Transpose should be valid Python"
Right now

[code]

This is fine for the pretty printer, but the str printer should print valid Python, like `A.T`.

[2016-08-30 19:42] #5628 closed

[2016-08-30 19:42] #8740 closed

[2016-08-30 20:37] debugger22 commented on #5628
Good to see this working :)

[2016-08-30 23:55] Zaharid opened #11563 "Log simplification and comparison doesn't match on positive symbols"
I would expect the following equality test to be True (and more generally to always be the case that `simplify(X) == X`)

[code]

[code]

[2016-08-31 05:07] ArifAhmed1995 commented on #11557
@asmeurer Do you mean to say, if :  `x = symbols('x',integer = True)` then it should evaluate to that current expression?

[2016-08-31 11:58] JainulV commented on #11559
Can I do this?

[2016-08-31 13:50] Huyston opened #11565 "Solve only work after evalf()"
In some cases solve doesn't not solve the equation correctly, returning [].
If the same equation is evaluated (using evalf()), then solve gives the right solution.

An example of this issue is posted in https://gist.github.com/Huyston/4035351b8738464019895db23f0688ae

[2016-08-31 15:51] jksuom commented on #11565
This is a quintic equation for which there is no algebraic solution with radicals. Only numeric solution with numeric coefficients is possible, in general.

[2016-08-31 17:04] asmeurer commented on #11557
No only if it is an explicit integer (`exp.is_Integer`). I think autoevaluation conditioned on assumptions is generally a bad idea.

[2016-08-31 18:42] asmeurer opened #11568 "Fixes to diff to allow things like A[i].diff(A[j]) to return KroneckerDelta(i, j)"
See the discussions at https://github.com/sympy/sympy/pull/10594 (and also going further back, at https://github.com/sympy/sympy/pull/7437, https://github.com/sympy/sympy/issues/7421, and https://groups.google.com/forum/#!msg/sympy/wpmhMPuS8wE/eq-m6Q5hMCkJ).

I think we should do the following:

- [ ] Add new API for expressions to tell if another, _diff_wrt expression is contained in it for the p

[2016-08-31 18:44] asmeurer commented on #11568
Maybe instead of the new API, we can just remove the `has`/`free_symbols` derivative=0 short circuit if a non-Symbol `_diff_wrt` expression is used.

[2016-08-31 18:46] nikoskaragiannakis commented on #11565
I think sympy has solvers for quintic equations, provided these equations are solvable. Maybe applying something [some criteria](https://en.wikipedia.org/wiki/Quintic_function) in solve could be helpful.

[2016-08-31 18:48] asmeurer commented on #11568
Some of these issues also came up at https://github.com/sympy/sympy/pull/10084 in the vector module.

[2016-08-31 19:28] nicoguaro opened #11569 "Change the way to store SymPy papers"
I have been updating the [Sympy Papers wiki page](https://github.com/sympy/sympy/wiki/SymPy-Papers) regularly with new papers. But I think that is reaching a point where the list is getting too big to be useful.

Thus, I  thought that maybe we can store the bibliographic information (more than the info that we have right now) in  a different way, maybe a .bib file. And then, we can create a script

[2016-08-31 19:51] Upabjojr commented on #11568
That's way easier. Just hope that all current `_eval_derivative`, `fdiff` and other stuff can correctly handle derivatives of constant expressions.

[2016-08-31 19:59] asmeurer commented on #11568
We'll have to try implementing it to know for sure if it will work, but I agree that that way is much better.

[2016-08-31 21:43] Upabjojr commented on #11568
https://github.com/sympy/sympy/pull/11570

[2016-08-31 22:02] ataber commented on #11507
@asmeurer Would implementing that change be straightforward? I'd be willing to help, I just don't know how deep of a change it will likely be. For instance, would it simply require coercing float coefficients to arbitrary precision floats before doing the polynomial division algorithm, or would it be changing some fundamental logic of the `RR` domain?

[2016-08-31 22:08] moorepants commented on #11569
I started this when we started the recent SymPy paper:

https://www.zotero.org/groups/sympy

I'd be happy to add you to it. You can easily export to various file formats and reference lists with Zotero.

[2016-08-31 22:10] nicoguaro commented on #11569
I can certainly add the references there. That way more metadata of the documents can be recorded.

[2016-08-31 22:12] moorepants commented on #11569
If you make a zotero account and give me your username I'll add you.

[2016-08-31 22:14] nicoguaro commented on #11569
I am nicoguaro in Zotero.

[2016-08-31 22:26] moorepants commented on #11569
Ok, the invite has been sent.

[2016-09-01 00:39] JainulV commented on #11559
Pull request #11566

[2016-09-01 08:11] jksuom commented on #11507
`solve()` handles the same problem by coercing the floats to rational numbers before proceeding. The process is controlled by a keyword:
[code]
The same method could also be used in `resultant()`.

[2016-09-01 09:02] Upabjojr commented on #11568
Or maybe not, you don't want a function to be treated as _Symbol_, I'm realizing this while playing with the code. Maybe better add `is_Symbol = True` to `MatrixElement`.

[2016-09-01 09:15] Upabjojr commented on #11568
Here my fix for `MatrixElement`: https://github.com/sympy/sympy/pull/11571

[2016-09-01 15:06] nicoguaro commented on #11569
Should I create a new collection?

[2016-09-01 15:12] moorepants commented on #11569
You can just use the one that is there. I can rename it.

[2016-09-01 15:41] nicoguaro commented on #11569
Two more questions. Should I add keywords/tags? Should I attach PDF files?

I updated the database with a couple of references with testing purposes.

[2016-09-01 15:45] latot opened #11573 "Support derivate like d(f(x))/d(2*x) (Chain Rule)"
Hi all, well i think can be good idea implement this, basically is this:

[code]

i this case should be:

[code]

Thx. Cya.

[2016-09-01 16:19] moorepants commented on #11569
Yes, add whatever you like. I have notes and tags on some of the existing entries. You can attach PDFs but there is a storage limit, so don't attach very large ones.

[2016-09-01 16:26] asmeurer commented on #11568
In which cases should function be treated differently from MatrixElement?

[2016-09-01 16:59] #11559 closed

[2016-09-01 17:19] Upabjojr commented on #11568
Function objects need to be changed with dummies, otherwise it breaks a lot of existing code. Too large a refactory.

[2016-09-01 17:35] smichr commented on #11428
Could you post the text version so I can test this (without retyping what you have shown)?

[2016-09-01 17:50] moorepants commented on #11428
I think this came from the work I was doing here:

https://github.com/moorepants/BMD2016/blob/master/notebooks/solve_inner_loop_gains.ipynb

I didn't post the whole problem because it has a lot of build up. I should export the expression in `sol[0][0]` and provide it.

[2016-09-01 18:40] nicoguaro commented on #11569
I added all the documents in the section "Papers using SymPy". Should we also add the ones in the section "Papers mentioning SymPy"?

[2016-09-01 18:48] moorepants commented on #11569
Maybe those categories are worth having different tags to know whether sympy was used or just mentioned.

[2016-09-01 19:39] nicoguaro commented on #11569
It is done now.

[2016-09-01 19:45] asmeurer commented on #11569
That's awesome. I have an [alert](https://scholar.google.com/scholar_alerts?view_op=list_alerts&hl=en) set up for SymPy on Google Scholar and there are a couple of new papers about once a week. Most of them, maybe 75%, just mention sympy once in the paper but don't indicate how it was used (I'm guessing many just used SymPy as a calculator to get some result), but use it quite in-depth.

Does zote

[2016-09-01 19:48] moorepants commented on #11569
Zotero can sort by any of the fields it has and also by tags, keywords, etc. Unless the subject is in the meta data of the downloaded or manually entered citation, you won't be able to search by subject. What do you mean by "subject" anyways?

[2016-09-01 19:57] asmeurer commented on #11569
I'm mostly interested in high-level academic subject areas (biology, chemistry, etc.).

[2016-09-01 20:17] Huyston commented on #11565
I see, you are right.
I was wondering if it should raise an error or something to inform the user about this. Maybe a "No algebraic solution error" try using .evalf().
I'll close it since it's not sympy's fault :)
Thanks.

[2016-09-01 20:17] #11565 closed

[2016-09-01 21:33] asmeurer commented on #11568
So should this at least be set as a TODO. The whole point of _diff_wrt is that diff is agnostic toward the type of the wrt variable. Setting `is_Symbol` on something that isn't an instance of Symbol is a hack.

[2016-09-01 21:42] Upabjojr commented on #11568
It has already been done (RandomSymbol, Indexed). Those classes are supposed to have the same behaviour as symbols while manipulating expressions. Technically, all classes with the `is_Symbol = True` hack could be treated as symbols in the solvers, limits, differential equations. I think this can be the way to go.

[2016-09-01 22:17] asmeurer commented on #11568
If we do this we should document it. Every other `is_Uppercase` is a shortcut for `isinstance(Uppercase)`.

I really think it would be better to use a lowercase signifier, though. How about `is_symbol`?

[2016-09-01 23:21] moorepants commented on #11569
I think your best bet is to look at what journal is it published in. There is no standard for tagging papers that fall into different science domains.

[2016-09-02 00:46] asmeurer commented on #11569
Ah, I was misunderstanding the UI. There are a bunch of tags on the paper pages, like https://www.zotero.org/groups/sympy/items/itemKey/KSDB3BPK, but those aren't actually the tags for that paper. I thought maybe a bunch of tags were added by zotero automatically, but I guess that's not the case.

[2016-09-02 02:19] moorepants commented on #11569
Some of the tags come from when you download a paper using the zotero browser button. It picks them up from the metadata provided by the journal or repository website. Otherwise you have to add them manually in the zotero interface. The browser extension and standalone zotero program provide a richer UI than the web app to do all of this.

[2016-09-02 07:59] JainulV commented on #11563
The == operator tests for exact structural equality between two expressions.  You can use the Equality class to evaluate them mathematically.
`from sympy import *
m,n = symbols('m n', positive=True)
A = log(m) + log(n)
B = simplify(A)
print(B)
simplify(Eq(A, B))`

This evaluates to
`log(m*n)
True`

[2016-09-02 08:23] Upabjojr commented on #11568
+1 that's a good idea.

[2016-09-02 12:33] smichr opened #11577 "cse improvement possibilities"
The better results are listed as comments in the following:

[code]

[2016-09-02 21:24] nicoguaro commented on #11569
@asmeurer, as @moorepants mentioned, if the meta-data is associated to the DOI (or wherever you are retrieving the information) it will be added to the document entry. If you think that creating a rough categorization of the documents is worth it, then we can do it now that the list is "small". And then, we can suggest that any new entries should have those.

[2016-09-03 17:28] sudeepkatakol commented on #10043
@asmeurer
"dsolve already returns a list when its internal use of solve does"
When does this case occur?
Because
[code]

[2016-09-03 23:32] ataber opened #11578 "GLSL CodeGen?"
I'm writing a Sympy-to-GLSL Code Generator right now, and I'm wondering whether it should be its own project or whether it belongs in Sympy. On the one hand, I prefer having it be its own project so it can remain an optional module. On the other hand, some of Sympy's Codegen architecture would have to be copied in the new module (for instance, [this function](https://github.com/sympy/sympy/blob/ma

[2016-09-04 07:26] rwst opened #11579 "special functions meta issue"
When fixing Sage's interface to SymPy the following special functions were missing in SymPy:

- [ ] airy_ai_general*
- [ ] airy_bi_general*
- [ ] struve_H
- [ ] struve_L
- [ ] spherical_hankel1
- [ ] spherical_hankel2
- [ ] hypergeometric_M
- [ ] hypergeometric_U
- [ ] Jacobi
- [ ] InverseJacobi
- [ ] JacobiAmplitude
- [ ] prime_pi(symbolic)
- [ ] elliptic_eu
- [ ] zetaderiv*
- [ ] dickman_rho

*T

[2016-09-04 20:29] mzaffalon opened #11581 "conjugate of real expression should not change expression"
The square root of a real quantity does not seem to be detected as real. The last two expressions are not evaluated as 0.
[code]

[2016-09-04 23:19] moorepants commented on #11578
You are welcome to maintain your own separate package but for the code generators we generally like to have the support built in to SymPy. There are advantages and disadvantages of having a separate package. If you include with SymPy you benefit from our tests run on every SymPy pull and others are more likely to both use and work on the code. We've accepted several new languages for the code gen

[2016-09-05 07:35] ArifAhmed1995 commented on #11557
@asmeurer Just one more clarification.If the `doit()` command is executed for the returned `MatPow` obejct, should it evaulate to that large form ?

[2016-09-05 13:31] #11534 closed

[2016-09-05 15:11] ArifAhmed1995 commented on #11086
Maybe this issue has been fixed by some other merged pull request.

[code]
I am also using a 64-bit system :
[code]

[2016-09-05 15:57] isuruf commented on #11086
@ArifAhmed1995, are you using Python 3?

[2016-09-05 16:48] ArifAhmed1995 commented on #11086
@isuruf Oops ! Should have mentioned it. No , I am using `Python 2.7.12`

[2016-09-05 17:47] latot opened #11582 "Improve Binary assumption"
Well, i think this can help a lot with some math problems.

Cya.

[2016-09-05 17:53] latot opened #11583 "One Simplify binary rule. x^n {n>0} = x / x^n {n<0} = 1/x"
Hi, well this most wait https://github.com/sympy/sympy/issues/11582
But for their time, basically its a super simple and useful rule, in binaries:

[code]

a practical example:

[code]

Cya.

[2016-09-05 18:26] latot opened #11584 "Simplify problem, sqrt(t*t)"
Hi all, well one of the greats things in SymPy its it doesn't simplify sqrt, so its posible use it for multiples solutions, but actually this causes a problem (it can be fixed i think), its for example this:
[code]
its true but i think the problem we can appreciate better with this little change:
[code]
there its a problem, sympy can't simplify that expression, the result should be ```sqrt(1)``` w

[2016-09-06 01:22] asmeurer commented on #11086
I see the issue in 64-bit Python 3:

[code]

[2016-09-06 02:41] smichr commented on #11581
Do we just need to add a check for non-negative base with a non-negative power in the following?

[code]

[2016-09-06 06:19] mzaffalon commented on #11581
I do not understand the proposed code change, but is checking base and power necessary? If my understanding of the field `is_real` is correct in the following example
[code]
isn't sufficient to simply check the truth value of `is_real`?

[2016-09-06 13:58] latot opened #11587 "Question, how can i know what assumptions are available in my SymPy ver?"
Hi all, well i'm asking here because i can't get an answer, basically with the actual version of SymPy we can check this on the wiki:
http://docs.sympy.org/dev/modules/core.html

But this don't is documented for every version, and some time we works with differents versions of Sympy, so how can i get a list of the available assumptions for any version?
i can't try setting one by one because we can

[2016-09-06 15:50] smichr commented on #11587
Does this [comment](https://github.com/sympy/sympy/issues/11539#issuecomment-242088404) help?

[2016-09-06 15:56] smichr commented on #11584
[code]

Since `sqrt` only returns the principal root, `sqrt(x**2)/x` cannot return as `sqrt(1)` since that would only give one value: 1.

[2016-09-06 15:58] latot commented on #11587
:D
Thx.
Posting here for the record.
[code]

[2016-09-06 15:58] #11587 closed

[2016-09-06 15:59] smichr commented on #11587
P.S. The [group discussion list](https://groups.google.com/forum/#!forum/sympy) is a good place to raise questions. This is a place to identify issues that need to be fixed.

You beat me to the closing of this! :-) Thanks for doing so.

[2016-09-06 16:04] latot commented on #11587
Thx, i'll take into consider.
(i really don't knew that exist!)

[2016-09-06 16:06] smichr commented on #11581
I suspect the routine I pasted above is trying to avoid recursion errors by checking the base and power.

I'm not sure I understand the intention of your examples. The `nr.is_real` is None because it will be real if x**2 >= y**2 and imaginary otherwise. And if the result has both real and imaginary components then it will be neither real nor imaginary, just complex.

[2016-09-06 16:23] latot commented on #11584
mm, i'm not really convinced about this type of working, not about sqrt, its simplify, what way do you recommend to solve this problem?
because not simplify this expression i think its a bad idea, the codes will takes more time, expressions more complicated, etc.

[2016-09-06 18:50] ataber commented on #11578
Thanks for the answer! I'll finish developing it and will open a PR if it makes sense.

[2016-09-06 18:50] #11578 closed

[2016-09-06 23:37] brupelo commented on #11088
I dont' know why this issue was close when the answer was unnrelated to my question. Here's another guy asking the same in stackoverflow, http://stackoverflow.com/questions/39359220/how-to-show-steps-in-sympy

[2016-09-07 00:36] mzaffalon commented on #11581
Sorry for not being clear.

With my second example I wanted to say that SymPy already detects the correct type for `r` without the proposed patch. Then if SymPy evaluates `r.is_real` as true, both `conjugate(r)` and `conjugate(re(r))` should simply be equal to `r`.

Does it make sense?

[2016-09-07 01:07] siefkenj commented on #11584
If you use additional assumptions, the results might be more satisfactory.  Try `x = Symbol("x", real=True)`.

[2016-09-07 03:22] latot commented on #11584
Hi, thx @siefkenj for the recommendation, i think its useful for normal cases, and checking your example i found something little weird in this:
[code]
why Abs(t)??, sqrt have two solutions, should be something like ```+-t``` or more technically ```(-1)^n*t```
where n is 1 or 2, or 0 and 1, you know, a par and impar numbers or consecutive.
and other think @smichr a little demonstration why sqrt(1)

[2016-09-07 03:24] smichr commented on #11581
Yes. What I am trying to say is that I think the change needs to be made in the function I pasted and just putting `if self.is_real: return self` may lead to recursion problems for some expressions. You can try it and see.  (When you say `conjugate(r)` the function I pasted is going to be triggered.)

[2016-09-07 04:32] siefkenj commented on #11584
@latot It is true that there are two solutions to the equation `x**2 = 1`, however, for `sqrt` to be a mathematical function, it can only produce a single output from a single input.  Thus from `sqrt(x**2) == sqrt(1)` you can only deduce that `Abs(x) == sqrt(1) == 1`.  The `Abs` there captures the fact that you haven't actually "solved" for `x`.  You cannot "solve" for `x` in terms of functions.

[2016-09-07 09:52] smichr commented on #11581
Is this in line with what you are saying?

[code]

The `conjugate` tests pass and

[code]

[2016-09-07 13:00] latot commented on #11584
Hi, thx answering, its true for a function we only must use one value, but that don't say we can choose one arbitrary, with abs you are forcing the positive solution, lets interpret a little sqrt, we basically have two ways, first the sqrt comes from an expression (the two solutions must be checked if cumples the conditions), and if is not(here both are correct):
[code]
now sqrt have two possibles

[2016-09-07 14:32] siefkenj commented on #11584
See @smichr 's comment.  Unfortunately, the operation of squaring is not invertible.  Thus, `sqrt` doesn't "solve" equations like `x**2 == 9`.  Since `sqrt` is a function, `sqrt(x**2)` can only deal with its inputs.  If `x=3`, the input to `sqrt(x**2)` is 9.  If `x=-3`, the input to `sqrt(x**2)` is also 9.  These cannot be distinguished.  Thus, something like `simplify(sqrt(x**2))==x**2/x` would b

[2016-09-07 14:52] latot commented on #11584
mm, "look inside" an expression that should be part of simplify not sqrt i think, its possible implement it? (if solve can, why simplify not?).
or the functions like sqrt are restrictive to work?

[2016-09-07 21:34] latot commented on #11584
Talking about this, are a solution with abs:
[code]
but now how can you calc int of x?
this method help with simplify but its too restrictive.

Cya.

[2016-09-08 03:03] latot commented on #11584
Hi again, well thinking, the last example its right, but here is the problem, the last example works with eq and simplify not, more examples, first one idea if simplify is, ```a=symplify(a)``` that should be always true, if you get ```a==-a``` means the simplify fails, so:
[code]
With this step we have two interpretations, z now have a new restriction ```z>=0```, or this is a new eq, but in that c

[2016-09-08 08:48] #11007 closed

[2016-09-08 13:41] mzaffalon commented on #11581
I was trying to digest your first proposal and I missed your last comment. Yes, that was it. Does it lead to recursion problems as you mentioned above?

In your first proposal, why is the line you added
[code]
ever evaluated, after you checked the truth value of `i` and `p`?

(By the way, thank you for the excellent work you are putting in SymPy.)

[2016-09-08 14:04] siefkenj commented on #9480
Resolved by PR #11554

[2016-09-08 14:04] #9480 closed

[2016-09-08 14:05] siefkenj commented on #11434
This should be resolved by PR #11554.  @JayHoe  can you verify this and close the issue if true?

[2016-09-08 17:57] Zaharid commented on #11563
Ok, it's clear now. Thanks.

[2016-09-08 21:42] latot commented on #11584
Hi again, rererethinking this, its fine use ```Abs(x)==sqrt(x**2)``` with some concepts:

  * Simplify should works with expression, can't be limited for the function concept.
  * Simplify should works as a solver concept to get equals math expressions

If simplify use this concepts would be fine i think, in that cases can be possible solve this expressions:
[code]

[2016-09-08 22:58] dengsauve commented on #9390
@elvis-sik routed here from codetriage. Glad to help in any way, but could you close this issue if it has been resolved? Thanks.

[2016-09-08 23:04] #9390 closed

[2016-09-09 00:02] formans opened #11591 "Power of Sum wrong LaTeX output."
[code]

This prints:

    \sum_{x=1}^{n} x^{2}
    \sum_{x=1}^{n} x^{2}

This is correct for B but for A it should be something like:

    $\left(\sum_{x=1}^{n}x\right)^{2}$

[2016-09-09 03:08] gorisaka commented on #11591
Which version are you running?

Here it gives:
[code]

[2016-09-09 12:33] p-zander opened #11593 "special value of polylog(s, z) at z = -1"
Easy to fix:

The special value of the polylogarithm `polylog(s, z)` at `z = -1` is

`polylog(s, -1) = -dirichlet_eta(s)` [[wikipedia.org](https://en.wikipedia.org/wiki/Polylogarithm#Relationship_to_other_functions)]

but the sign seems to be missing, example:

`polylog(2,-1)` and `dirichlet_eta(2)` both return `pi**2/12`

[2016-09-09 16:22] smichr commented on #11581
No recursion problems. Having worked a fair amount on the assumptions system (which is full of such tets) I think I was confusing the `_eval_conjugate` routine with that.

Instead of `i` and `p` I should have written `self.base...self.power...`. But I think the simple change to just start by checking if the power is real or not is the better way to go. If you want to make such a PR I would be happ

[2016-09-09 17:37] formans commented on #11591
'1.0'

So it's already fixed?  Sorry for the noise.  :-)

[2016-09-09 17:37] #11591 closed

[2016-09-10 02:40] smichr commented on #11584
You might find the docstring of the `root` function to be helpful. That function will give you the different roots of a number, e.g.

[code]

[2016-09-10 02:43] smichr commented on #11584
The fact that `sqrt` is a function that returns a single value (the principal root -- again, see the `root` docstring) is the reason you need a `+/-` in the equation for the roots of a quadratic equation: `roots = (-b +/- sqrt(b**2 - 4*a*c))/(2*a)`.

[2016-09-10 03:15] latot commented on #11584
Hi thx the info, a little question, how can i represent a sqrt or some value of two solutions?, or don't exist any function at the moment? like to work with this:
```sqrt(2)+sqrt(2)```
where every sqrt represent both solutions, actually we get ```2*sqrt(2)```

[2016-09-11 02:01] siefkenj commented on #10718
This issue should be resolved by PR #11554.  I think it can be closed now.

[2016-09-11 02:03] siefkenj commented on #10120
PR #11554 should mostly resolve this.  The code is also set up to be able to raise warnings if non-zeroness of a pivot had to be assumed, though warnings aren't currently raised.

[2016-09-11 02:08] siefkenj opened #11597 "rref() should return a Matrix"
Currently calling `.rref()` on a matrix produces a tuple with a matrix and a list of pivots.  I think this is unexpected for new users and the default should be that `rref()` returns the row-reduced matrix only.  An `include_pivots` flag could be added to get the current behavior where a tuple is returned.

[2016-09-11 03:03] moorepants commented on #11597
How about simply adding some documentation improvement that show clearly what is returned? Or how you would only grab the matrix, i.e. `reduced, _ = M.rref()`.

[2016-09-11 03:04] moorepants commented on #10718
"Should be" or "is"? Can you add a unit test for this specific issue?

[2016-09-11 03:45] siefkenj commented on #10718
Sorry.  It is resolved and a unit test has already been added.

[2016-09-11 04:05] siefkenj commented on #11597
I think this is more than a documentation issue.  Octave, matlab, sage, mathematica, and maple all allow you to write code like

[code]

and then continue to manipulate the matrix `X`.  The current method would be better named something like `rref_and_pivots()`, but the _reduced row echelon form_ of a matrix should be a matrix.   Mathematically one expects `rref: Matrix -> Matrix`.  In sympy `rref

[2016-09-11 05:02] moorepants commented on #11597
I wasn't trying to imply it was a documentation issue, just raising an alternative to deprecating the functionality. Someone wrote the code with this API. It happens to be different than the API of other software, but if it is well documented then I personally think it's fine. But if it differs from the rest of our API, as you suggest, then deprecation may be the right thing to do.

[2016-09-11 18:25] mickyaero commented on #10035
I would like to work on this bug. Any hints would be appreciated

[2016-09-11 18:49] Shekharrajak commented on #11401
Works fine on  SymPy 1.0.1.

[code]

[2016-09-11 19:07] siefkenj opened #11599 "Cannot use `Add` on `MatrixSymbol`"
It would be nice to be able to call `Add` on `MatrixSymbol` objects.  Currently

[code]

I suspect `MatrixSymbol` should inherit from `Expr` instead of `Basic`, but switching this breaks a lot.

[2016-09-12 11:49] Upabjojr commented on #5858
https://github.com/sympy/sympy/pull/11570
https://github.com/sympy/sympy/pull/11571

[2016-09-12 11:59] Upabjojr commented on #11568
I've just had a look at http://orion.uwaterloo.ca/~hwolkowi/matrixcookbook.pdf , in the section about the derivative of the determinant.

We currently have
[code]

How can we express the fact that a `MatrixSymbol` might depend on a variable?

[2016-09-12 16:54] asmeurer commented on #11568
Should we create a MatrixFunction and require it to be explicit?

[2016-09-12 17:10] Upabjojr commented on #11568
I had some thoughts about something like TensorField for the tensor module.

My fear is that a MatrixFunction object would make it much more complicated to use. I would try to suggest to go for leaving `diff(M, x)` unevaluated, but I'm not so sure.

[2016-09-12 17:57] asmeurer commented on #11568
If it's unevaluated, how would you indicate that it doesn't depend on x to clear the derivatives in an expression?

[2016-09-12 18:43] asmeurer commented on #10035
The Reals one is probably the easiest to fix. One should change the printing of Reals and Interval in StrPrinter in sympy/printing/str.py and move the existing printer to the pretty printer in sympy/printing/pretty/pretty.py.

[2016-09-12 19:34] Upabjojr commented on #11568
That's true. What about allowing a `MatrixSymbol` to take a function in place of its symbol to define the matrix function? Same argument applied to `IndexedBase`, there were people on StackOverflow asking for indexed functions.

[2016-09-12 19:35] Upabjojr commented on #11568
Or... otherwise allow `Function` to take _MatrixSymbol_, _MatrixElement_, _IndexedBase_, and _Indexed_ objects?

[2016-09-12 19:46] asmeurer commented on #11568
You mean like `Function('f')(MatrixSymbol("x", 2, 3))`? The problem there is that `f` has no shape information. I would personally assume that `f` is a scalar function (`f: M_2x3 -> C`). `MatrixFunction` would take a shape, and the output would be a matrix of that shape, and actually the input could be anything. `MatrixFunction('f', 2, 3)(1)` and `MatrixFunction('f', 2, 3)(Matrix([[1, 2], [3, 4]])

[2016-09-12 19:53] Upabjojr commented on #11568
I mean `Function(MatrixSymbol("x", 2, 3))`.

I mean something like `MatrixSymbol(Function("f"), 2, 3)(x)`

That's a limitation, `Indexed` are more a multidimensional generalization of matrices that always require to be enclosed in summations for matrix/tensor multiplication. The only difference of concept I can think of is the behavior when they're regarded as function arguments: `exp(A)` for `A`

[2016-09-12 20:22] asmeurer commented on #11568
That's probably find as syntactic sugar. We still need the actual class structure that that would create, though.

I find that to be more confusing, especially since `f = Function('f')` is usually written separately.

[2016-09-12 20:23] Upabjojr commented on #11568
Yeah, I'd also rather go for `Function(MatrixSymbol("x", 2, 3))`.

[2016-09-12 20:28] asmeurer commented on #11557
I'd say yes. doit generally evaluates unevaluated objects like MatPow.

[2016-09-12 21:00] Upabjojr commented on #11568
It could be an subclass of function overloading __getitem__.

[2016-09-12 21:54] asmeurer commented on #11568
Actually, we may be conflating two separate things. `Function` actually works in two ways, as a superclass, and as syntatic sugar for `UndefinedFunction` (`Function('f')` creates a subclass of `AppliedUndef`, whose metaclass is `UndefinedFunction`). These are completely separate things. The former behavior (superclass) is used to make `__new__` simpler (`Function` subclasses only have to define `_

[2016-09-12 22:13] Upabjojr commented on #11568
+1, maybe even without subclass, just `MatrixSymbol.__call__` and `MatrixElement.__call__` to create `M(x)` and `M[i, j](x)` respectively.

Possibly the same procedure could be applied for `Indexed`.

[2016-09-12 22:14] asmeurer opened #11600 "re and im should work for matrix expressions"
Right now

[code]

We may need to create special matrix `re` and `im` classes. Or, more generally, is there a matrix expression class to represent calling a scalar function on all the elements?

[2016-09-12 22:16] asmeurer commented on #11568
Perhaps. I know there are a [lot of people](https://github.com/sympy/sympy/issues/3539) who don't like that `Symbol.__call__` creates a function.

[2016-09-12 22:23] Upabjojr commented on #11568
The point is about avoiding an explosion of ad-hoc classes. Consider:

- `MatrixSymbol`
- `MatrixElement`
- `IndexedBase`
- `Indexed`

They could all potentially need their _Function_-like class counterparts. Symbols and functions are two clear concepts, but are all these other ones?

[2016-09-13 01:55] asmeurer opened #11602 "Replace \dots with \ldots or \cdots"
In a few places in the source we have LaTeX math that uses `\dots`. According to https://tex.stackexchange.com/questions/77737/dots-versus-ldots-is-there-a-difference, `\dots` is `\ldots` in raw LaTeX, but with amsmath, it trues to guess if it should use `\ldots` or `\cdots`.

Fortunately, none of the printers are using `\dots`, but I still think we should be explicit everywhere. Another issue wit

[2016-09-13 06:13] JainulV commented on #11599
Matrixsymbol just Creates a SymPy Symbol to represent a Matrix. This matrix has a shape and can be included in Matrix Expressions.
If you want to use operations you need to create a Matrix class  object not matrixsymbol. Matrix symbol is just like a placeholder for the matrix.

[2016-09-13 13:19] siefkenj commented on #11599
@JainulV symbolic operations are supported in other ways.

[code]

[2016-09-13 15:01] moorepants commented on #11599
The issue here is that matrices do not subclass from basic sympy types in a way that allows them to work with the standard SymPy operators. All of the operators are redefined for matrices:

[code]

I know that for the Matrix objects they require mutability for specific operations to be efficient, so we can't subclass from Basic. I'm not sure about MatrixSymbol though. Maybe it could be seperated f

[2016-09-13 15:36] siefkenj commented on #11599
@moorepants `Matrix` does not inherit from `Basic`, but `MatrixSymbol` does inherit from `Basic` (even though it should really inherit from `Expr`).  `MatrixSymbol` doesn't inherit from `MatrixBase`, though `ImmutableDenseMatrix` inherits from both `MatrixSymbol` and `MatrixBase`.

[2016-09-13 16:37] moorepants commented on #11599
Hmm. I don't know why it doesn't work then.

[2016-09-13 17:39] jjdredd opened #11605 "nan after simplification"
after simplification of symbolic expression i get Nan.

steps to reproduce:

[code]
Than do `h.simplify()` or `simplify(h[0])` and get Nan.

[2016-09-13 17:39] asmeurer commented on #11568
I don't feel strongly about this particular issue either way.

[2016-09-13 17:46] ArifAhmed1995 opened #11606 "Incorrect input of Rationals"
I recently updated my local repository using `git pull origin master` (git remote is set correctly) and found out that Rationals are being typecast to Integer.

[code]

To be sure that this is an issue , I re-cloned the sympy repo into another folder and installed it by `sudo ./setup.py install`.Still the problem persists.Can anyone check if same is happening after a recent pull from the main repo

[2016-09-13 17:47] #11230 closed

[2016-09-13 18:01] asmeurer commented on #11606
This is the expected behavior. In Python 2, integer/integer performs integer division. In Python 3, or in Python 2 when using `from __future__ import division`, integer/integer produces a float.

If you want a rational, you have to explicitly use a SymPy type, like `Rational(1, 2)` or `S(1)/2`. See http://docs.sympy.org/latest/tutorial/gotchas.html#two-final-notes-and. I would recommend using Pyth

[2016-09-13 18:01] #11606 closed

[2016-09-13 18:44] ArifAhmed1995 commented on #11606
Ah ! I had gone through the tutorial earlier,but forgot some parts of it.

[2016-09-13 20:00] asmeurer commented on #10134
There are several instances of this. In Python 3.6, this will raise a DeprecationWarning, causing it to fail in our test suite:

[code]

[2016-09-13 20:01] asmeurer opened #11607 "holonomic tests fail in Python 3.6"
I haven't checked why. They pass in Python 3.5:

[code]

@shubhamtibra

[2016-09-13 20:02] asmeurer opened #11608 "Fix invalid escape sequences"
In Python 3.6, invalid escape sequences in strings, like '\P' give a DeprecationWarning, which result in an error in our tests. The solution for this is to change the string to a raw string (or, if that's not possible, use two backslashes).

[code]

[2016-09-13 20:04] asmeurer opened #11609 "Python 3.6 support"
I ran the tests and doctests in Python 3.6 and there were a few issues:
- [x] https://github.com/sympy/sympy/issues/11607
- [ ] https://github.com/sympy/sympy/issues/11608
- [x] https://github.com/sympy/sympy/issues/10134

Additionally, we need to
- [ ] Add Python 3.6 to Travis
- [ ] Update documentation to say we support Python 3.6

Python 3.6 final isn't out yet (it's still in beta), so the last

[2016-09-13 20:06] asmeurer opened #11610 "DeprecationWarnings should cause doctests to fail"
Right now, if there is a deprecation warning printed in a doctest, it is displayed to the terminal, but the doctest doesn't fail. It should fail, just as with the tests.

[2016-09-13 20:11] asmeurer commented on #10134
And from the doctests:

[code]

[code]

There is an additional issue, which is that deprecation warnings do not cause the doctest to fail. See https://github.com/sympy/sympy/issues/11610.

[2016-09-13 20:11] asmeurer commented on #11610
See for instance https://github.com/sympy/sympy/issues/10134#issuecomment-246808191.

[2016-09-13 20:16] shubhamtibra commented on #11607
Thanks for testing @asmeurer . My college exams are currently going on so I might not be able to look it up before one and a half week. What's our deadline for providing Python 3.6 support?

[2016-09-13 20:20] asmeurer commented on #11607
The final release is supposed to come out in [december](https://www.python.org/dev/peps/pep-0494/). It would be nice to have this fixed by then. Sooner if we decide to do a SymPy release before then, as we'd want it to support Python 3.6. I've tagged this with the 1.1 milestone so that we don't forget to get it fixed for the next release.

[2016-09-13 20:41] asmeurer commented on #10043
That happens when dsolve solves for f(x). For example:

[code]

[2016-09-14 04:06] ppeluso commented on #11608
I can take care of this

[2016-09-14 20:12] Upabjojr opened #11613 "Interval arithmetic wrong?"
It looks like the current SymPy master branch interprets the `+` operator as an interval union, which looks as an abuse of notation, since we already have the `|` operator, and `+` has another meaning in mathematics.

[code]
For some reason, some inequalities are wrong:
[code]

My expectations:

3. `[3, 5]` (the some of objects belonging to those intervals will fall inside this new interval).
5. `

[2016-09-14 20:24] Upabjojr commented on #11613
Compare the results by Wolfram Mathematica

[code]

More on: https://reference.wolfram.com/language/tutorial/IntervalArithmetic.html

[2016-09-14 21:01] asmeurer commented on #10805
Even `srepr` is not safe:

[code]

We should perhaps sanitize srepr output (although there may be other ways to do similar things). But the best way is to fix this in the parser. If attribute access is disabled, you can't access builtins like that.

[2016-09-14 21:10] mickyaero commented on #10035
I ran the following:-

(-oo, oo)

Correct me if i am wrong, the output doesn't seem to be string. So do i need to change something in here

[2016-09-14 21:12] asmeurer commented on #10035
`str` always returns a string. Where did you run this?

[2016-09-14 21:19] mickyaero commented on #10035
Ok ..Ok , i got confused as in the comment done on 25th october, the result displayed was quoted, but now i ran this in i sympy it didnt show any quotes. Now i checked the type it was string.
Could you please guide me where to find the S.Reals , i couldnt find it in sympy/printing/str.py?

[2016-09-14 21:21] asmeurer commented on #10035
Reals itself is defined in sympy/sets, but you should add the printer to sympy/printing/str.py, like

[code]

You can emulate how the other methods are defined in that file.

[2016-09-14 21:22] asmeurer commented on #10035
And `_print_Interval` is already defined there. So it should be changed to print a Python representation, and the current printer moved to `pretty.py`.

[2016-09-14 23:18] asmeurer opened #11614 "with evaluate(False) doesn't apply to numeric operators"
[code]

Obviously, we can't make

[code]

work (at least not without some hacks).

[2016-09-15 09:08] Upabjojr commented on #11217
I would like to see a syntax more like `assume(x > 1)`.

Do we have interval arithmetic support?

[2016-09-15 09:08] Upabjojr commented on #11217
https://github.com/sympy/sympy/issues/11613

[2016-09-15 17:06] smichr opened #11617 "distance calculation wrong"
[code]

The 3rd dimension is being ignored when the Points are zipped together to calculate the distance so `sqrt((2-1)**2 + (0-0)**2)` is being computed instead of `sqrt(5)`.

[2016-09-15 20:03] parsoyaarihant commented on #11617
PR #11618 is submitted to address this issue.

[2016-09-16 04:46] HeroicAutodidact opened #11620 "points are reordered on Segment's constructor"
In the source code for Segment's constructor:

[code]

Maybe this makes some internal calculations easier, but I can't think of ANY reason why this would be desirable default behavior. If I construct a segment as `s = Segment(p1,p2)` I'm expecting to access  `p1` when I do `s.p1`.

Every single application I've written with sympy I have to rewrite the Segment class just so I can get this basic con

[2016-09-16 10:27] ArifAhmed1995 commented on #11600
I've briefly looked through the `matrices` module and can't find any such classes.I'll work on adding such classes to `matexpr`

[2016-09-16 13:34] PaulPichaureau opened #11621 "Solve system don't show all solutions"
Hi,

In this simple example:

[code]

sympy returns only one solution:

[code]

the other ones (for m=0 and m=3) are note computed.

[2016-09-16 14:54] nikoskaragiannakis commented on #11536
SymPy 1.0 returns
[code]
Which version of SymPy are you using?

[2016-09-16 15:19] nikoskaragiannakis commented on #11597
What about adding passing a parameter like `pivot=True`?

[2016-09-16 16:35] siefkenj commented on #11597
It would require some expertise on the side of the user, but this could be accomplished by
[code]
That way if `.is_zero` cannot decide, it is assumed to be non-zero.
Perhaps this should be added as an example in the docstring.

[2016-09-17 03:23] sn6uv opened #11622 "integrate(1 / (1 - x**3), x) incorrect"
Incorrect results from integrate:
[code]

The `log(x-1)` teem should be `log(1-x)`.

Originally reported as https://github.com/mathics/Mathics/issues/551

[2016-09-17 03:58] asmeurer commented on #11622
Dupe of https://github.com/sympy/sympy/issues/11017. Note that the integral is correct (`log(x - 1)` equals `log(1 - x)` up to a constant), but it would be nice to return the "nicer" answer when possible.

[2016-09-17 03:58] #11622 closed

[2016-09-17 08:46] Shekharrajak opened #11623 "Wrond groebner basis"
[code]

But ans is :
`-130.204 - 5.71425 *y**2 + 0.925926 *y**3 + y**4, 1.38889 + x + 3.73475* y - 0.281096* y**2 - 0.303584*y**3`

[2016-09-17 08:47] Shekharrajak commented on #11623
But it works when we do

[code]
I think it is solvable using `solve_poly_system`, but it is not working.
[code]

[2016-09-17 08:49] Shekharrajak commented on #11623
[code]
I think this should be true. @jksuom

[2016-09-17 09:19] jksuom commented on #11623
The theory of Gröbner bases assumes that the coefficient field will satisfy certain conditions (those of a 'computable field'). These conditions are not satisfied by floating point numbers, and that is why the computation fails.
I think the solution would be to replace all floats by rationals before the construction of a Gröbner basis in `is_zero_dimensional`.

[2016-09-17 09:51] Shekharrajak commented on #11623
So we should do this

[code]
It should be done internally right ?

[2016-09-17 10:52] jksuom commented on #11623
That seems to be essentially what should be done in the function `is_zero_dimensional` before calling `GroebnerBasis` if there are floating point coefficients.

[2016-09-17 22:35] siefkenj opened #11624 "[geometry] Should dimensions be mutated"
At the moment there are several places in the `geometry` module where the dimension of the `Point` object is mutated.  Specifically, `Point3D(1,2)` results in `Point3D(1,2,0)`.  There is a question of whether we should be more flexible in this regard or less.  Should `Point2D(Point3D(1,2,0))` result in `Point2D(1,2)`?  Should `Line(Point3D(1,2,0), Point3D(2,2,0)) == Line(Point2D(1,2), Point2D(2,2)

[2016-09-19 09:49] mjenczmyk opened #11626 "Add Lanczos sigma approximation functionality"
I would like to add new function performing [Lanczos sigma approximation](http://mathworld.wolfram.com/LanczosSigmaFactor.html) task (I haven't seen one in sympy).

My first idea is is to create`LanczosApproximation` (or `Lanczos Series`) class in `sympy.series.fourier` module inheriting `FourierSeries` class and than write function `lanczos_approximation` in `sympy.core.expr.Expr` using new class

[2016-09-19 10:17] pt247 commented on #11608
@asmeurer : I have just run tests in python 3.6.0-beta-1 ( the latest version available )  and there seems to be no warnings or errors.
I have also run other tests mentioned in the issue. Since these are not failing in beta I suppose we can close this issue.

[code]

[2016-09-19 10:19] nikoskaragiannakis opened #11628 "Option in Travis to run only the docstring tests"
If a PR affects only docstrings (modifications, typos, etc), you can just run `bin/doctest` locally. But Travis runs all the tests.

It would be really nice if we could somehow flag these PRs on github, so Travis can handle them differently.

[2016-09-19 10:32] nikoskaragiannakis commented on #11600
Could this be related to https://github.com/sympy/sympy/issues/11599 ?

[2016-09-19 10:56] aktech commented on #11208
fixed here #11213

[2016-09-19 10:56] #11208 closed

[2016-09-19 13:45] leosartaj commented on #11344
Fixed by #11346

[2016-09-19 13:45] #11344 closed

[2016-09-19 13:50] jksuom commented on #10134
These are the remaining occurrences of `raise StopIteration`:
[code]
It seems that they should be replaced with `return` *except* those in factor_.py, which do not appear in generators. In  residue_ntheory.py, `sqrt_mod` should be modified to catch the return value `None` of the generator returned by `sqrt_mod_iter`. The following could be a first step.
[code]
Then the code should be simplified by

[2016-09-19 13:52] leosartaj commented on #11626
+1

``FourierSeries`` class is still new, we might have to see if there needs to be any changes.

Why not just write it in the fourier file for now. We can then find a better place to put it.

[2016-09-19 13:54] nikoskaragiannakis commented on #11217
I'd like to give it a try.

[2016-09-19 14:00] siefkenj commented on #11597
I like the idea of adding a parameter.

[2016-09-19 14:07] Upabjojr commented on #11217
@nikoskaragiannakis I think the best way to proceed is by finishing https://github.com/sympy/sympy/pull/2721

[2016-09-19 14:36] spapanik commented on #10134
I am working on it. Even when `sqrt_mod_iter` will be changed from using StopIteration to bare return, it will still raise a StopIteration to catch, so I don't think that the above change will not work

[2016-09-19 14:46] pt247 commented on #10415
@cbm755 can you please give me an example where this can be improved?

[2016-09-19 15:38] asmeurer commented on #11608
I also don't see any errors when just running that one test. I'm unclear why.  Try running the whole test suite.

[2016-09-19 17:39] asmeurer opened #11633 "Change authors_update.py to include the number of authors in the top paragraph"
See the logic in mailmap_update.py.

[2016-09-19 18:41] parsoyaarihant commented on #11633
working on it.

[2016-09-19 22:01] asmeurer opened #11634 "dotprint doesn't use the correct order for x**2"
The dot diagram in the tutorial is wrong (http://docs.sympy.org/dev/tutorial/manipulation.html). It shows

[code]

but it should show

[code]

since it represents `x**2`, not `2**x`.

I can't figure out how to make dot give the vertices in the right order. Whatever the fix is, we should fix this in the dot printer as well as the tutorial.

[2016-09-19 22:33] asmeurer commented on #11634
In the meantime, we should at least change the example to match it (use `2**x`).

[2016-09-20 03:55] JainulV commented on #11634
@asmeurer should I change all the occurances of x**2 to 2**x in manipulation.rst because they seem to be linked to the same example?

[2016-09-20 03:55] asmeurer commented on #11634
Yes

[2016-09-20 03:57] JainulV commented on #11634
Okay working on it

[2016-09-20 07:17] Upabjojr opened #11636 "N-dim arrays: add printers"
Add printers for the objects in `sympy.tensor.array`.

[code]

`A` is an N-dim array, it has no printers:

[code]

If _A_ is converted to a list, the printers will work correctly:

[code]

Notes:
- rank 1 and rank 2 N-dim arrays can be thought of as vectors and matrices.
- rank 3 and above arrays need a special way of representation.
- default `__str__` and/or `__repr__` needs to encompass the cla

[2016-09-20 15:36] bjodah commented on #11634
Fixed in #11635

[2016-09-20 17:49] asmeurer commented on #11634
This only works around the issue. The dotprint function is still wrong.

[2016-09-20 17:57] smichr commented on #11620
It's of interest to make objects canonical in some way. But Line doesn't do so, so I'm in favor of removing that reordering.

[code]

[2016-09-20 20:13] Anabstudent opened #11638 "How does the Reduce Row Echelon Form work with Sympy?"
So I am trying to make a program that can do a RREF algorithm to a matrix. Here is the code I have thus far:

[code]

[code]

[code]

[code]

The final line I am returned "AttributeError: 'numpy.ndarray' object has no attribute 'rref'" which does not make sense to me and was hoping I could get clarified for me today.

[2016-09-21 02:31] Dawny33 opened #11639 "Missing text in the Installation doc"
In the following installation doc: http://docs.sympy.org/latest/install.html#installation, the method for installing the git version from sympy is mentioned as: `setupegg.py develop`

But, the correct way to execute the `setupegg.py` file is: `python setupegg.py develop`

[Pl verify. If legit, I can fix it and send a PR]

[2016-09-21 03:44] mickyaero commented on #10035
What is expected to print if i run " str(S.Reals)"?

[2016-09-21 05:29] asmeurer commented on #10035
I would expect `"S.Reals"`.

[2016-09-21 05:31] asmeurer opened #11640 "Should Interval(-oo, oo) return S.Reals?"
This seems confusing:

[code]

I suppose the advantage is that the object created with Interval actually prints like an Interval. But it seems like it could be problematic to have S.Reals be a singleton, but not be identical to an object that it is equal to. But then again, maybe it isn't a real problem.

[2016-09-21 09:50] jksuom commented on #11640
Would it be possible to define `S.Reals` as a `ConditionSet`? Then Out[4] above would seem quite expected.

[2016-09-21 12:55] latot opened #11641 "Order in diff vars are important!"
Hi, well an unexpected thing:
[code]
This don't is true, to can be true have conditions to comply, but if you have only the ```f``` function you don't know if are true.
check this doc: https://en.wikipedia.org/wiki/Symmetry_of_second_derivatives

Thx. Cya.

[2016-09-21 14:12] raghvendrar commented on #11602
I want to work on this.

[2016-09-21 16:33] asmeurer commented on #11640
Which ConditionSet?

[2016-09-21 16:46] cbm755 commented on #11641
I agree, although I think its commonly done is CAS.  I just checked and Maple does this too for example.

In SymPy, it seems to be documented in `Derivative?` under "Ordering of variables"...

[2016-09-21 16:47] cbm755 commented on #11641
My guess is this is "wontfix" (given that it is documented) but I'll let someone else confirm.

[2016-09-21 16:50] jksuom commented on #11640
The set of all reals.

[2016-09-21 16:56] asmeurer commented on #11640
I mean how would you define it? `ConditionSet(x, True, Interval(-oo, oo))` reduces automatically.

[2016-09-21 16:59] asmeurer opened #11642 "Geometric sum doesn't evaluate with float base"
Originally reported at https://stackoverflow.com/questions/39547952/why-does-sympy-not-work-properly-with-real-numbers

[code]

[2016-09-21 17:09] jksuom commented on #11640
I think `x.is_real` should be the proper condition although it currently includes the infinities.

[2016-09-21 17:12] mjenczmyk commented on #11626
All right than, I'll put it in `sympy.series.fourier` module (the same in which the `FourierSeries` class is. There may be more to discuss, but it's better to discuss when there is a code, so I will make a pull request fist.

I'll be in touch - I'm a little busy recently, but I hope to find some time in a weekend.

Thanks for the response, and have a great time :)

[2016-09-21 17:16] asmeurer commented on #11640
I see. It would need to be the new assumptions anyway, as those the only ones that can be represented as unevaluated predicates. The new assumptions `Q.real` doesn't include infinities, so that's not an issue.

There is a larger issue at question there, which is how the sets and the (new) assumptions should be linked. Right now they are disparate. Ideally the assumptions would know about sets (we

[2016-09-21 17:19] devangkulshreshtha commented on #11633
@asmeurer do you want that the top paragraph of **AUTHORS** file must include the number of authors, including the ones with * next to their names ?

[2016-09-21 17:24] jksuom commented on #11640
I believe that `Interval` depends on `.is_real` in one way or another, so it does not seem too bad to me if `Reals` were defined that way.

[2016-09-21 17:29] latot commented on #11641
mm, i see....
its necessary sort the variables in this cases?
i think would be great don't do that....

Thx. Cya.

[2016-09-21 17:46] latot commented on #11641
mm, thinking a little, sort this vars can break the evaluation of the function.... (seems a bad idea)

[2016-09-21 18:56] asmeurer opened #11643 "SymPy cannot compute Sum(p**k/factorial(k) * 1/(h+k), (k, 1, oo))"
[code]

According to [WolframAlpha](https://www.wolframalpha.com/input/?i=sum%28p%5Ek%2Fk!+*+1%2F%28h%2Bk%29,+%28k,+1,+infinity%29%29), the answer is `((-p)**(-h) (exp(p) (-p)**h-(-p)**h+Γ(h+1, 0, -p)))/h` where `Γ` I think is an incomplete gamma function (WolframAlpha isn't working so well right now, so I can't check what it is exactly).

See https://stackoverflow.com/questions/39547495/how-to-so

[2016-09-21 21:54] smichr commented on #11642
Well...0.5 is not exact so are you expecting some sort of Float with appropriate precision from `doit`?

[2016-09-21 22:16] asmeurer commented on #11642
Yeah an answer of 1.0 would be appropriate.

[2016-09-22 15:28] smichr commented on #11642
I suspect you just want the equivalent of `Float(answer_of_sum_with_Float_converted_to_Rationals)` but is it trivial to calculate what the precision is of `Sum((1/2+eps)**n, (n,1,oo))`? If someone explicitly wants to treat the precision as infinite they should `nsimplify(the_sum, rational=True).doit().n()` -- explicit is better than implicit.

[2016-09-22 16:08] arsenovic opened #11645 ".real and .imag properties"
i am designing an algorithm, and i would like it to work with numerics (numpy) and symbolics(sympy). i realize this is not a typical usage..
in either case, i do a lot of work with complex numbers and frequently run into a problem with non-existence of the attributes `real` and `imag` on sympy objects.  i have hacked around this by adding these attributes in the past, but i cannot add them to ever

[2016-09-22 16:20] asmeurer commented on #11642
I don't see why it shouldn't just work. The closed form of a sum of `a**n` is very simple, and only requires that `abs(a) < 1` if the sum is infinite. It should just plug a into the answer, regardless of whether it a float or a rational. I can see maybe`Sum(1.0**n, (n, 1, oo))` being problematic, but 0.5 is very neatly in bounds.

[2016-09-22 22:00] pt247 commented on #11608
I ran the entire test suite as well and the following failed :
[code]
I have the stack trace for all the failours but none are related to this perticular issue.

[2016-09-22 22:07] asmeurer commented on #11608
@pt247 see https://github.com/sympy/sympy/issues/11609

[2016-09-22 22:09] pt247 commented on #11608
Oh. I understand why they are not failing its because these are warning not errors. I will fix them.

[2016-09-22 22:41] asmeurer commented on #11608
SymPy is supposed to be changing all warnings to errors when it runs the tests. The tests not failing is itself a bug.

[2016-09-23 11:30] VirtualAcoustics opened #11646 "Wrong answer: Diff. of trig. functions two times"
But function of cos

[2016-09-23 14:50] mzaffalon commented on #11581
Sorry for the delay, I seem to have an aversion to git that makes me procrastinate anything that has to do with it.

Your proposed patch fails for

1. `sympy\concrete\tests\test_sums_products.py:test_euler_maclaurin` -> `AttributeError: 'NoneType' object has no attribute 'is_nonnegative'`
2. ` sympy\concrete\tests\test_sums_products.py:test_is_convergent` -> `AttributeError: 'bool' object has no a

[2016-09-23 16:54] parsoyaarihant commented on #11646
This program runs fine locally:

[code]

[2016-09-23 17:28] VirtualAcoustics commented on #11646
Interesting...
setting output to ASCII instead of Latex yields correct answer on  http://live.sympy.org/
Locally, in Jupyter notebook, if I skip init_printing() the answer is correct. It seems like there is something with the paranthesis.

[2016-09-23 17:42] #11581 closed

[2016-09-23 17:54] #11602 closed

[2016-09-23 19:20] williamstein commented on #10040
works fine now.

https://cloud.sagemath.com/projects/4a5f0542-5873-4eed-a85c-a18c706e8bcd/files/support/sympy%20printing%20test.html

[2016-09-23 21:06] mickyaero commented on #10035
I wrote 4 functions in str.py :-_

    def _print_Reals(self, p):
        return "S.Reals"

    def _print_Naturals(self, p):
        return "S.Naturals"

    def _print_Complexes(self, p):
        return "S.Complexes"

    def _print_EmptySet(self, p):
        return "S.EmptySet"

But i am getting the error on running the test on str.py :-
assert str(Complement(S.Reals, S.Naturals)) == '(-oo, oo)

[2016-09-23 21:25] asmeurer commented on #10035
You will need to update the tests.

[2016-09-24 04:03] smichr commented on #11633
#11644 was committed.

[2016-09-24 04:03] #11633 closed

[2016-09-24 05:31] mickyaero commented on #10035
I updated the test_str.py. But the Travis Cl gave a lot failures, most of them were because i created new functions which return something else,
like the  "def _print_EmptySet(self, p):"
returns "S.EmptySet".
This function was used in many other files and they were expecting something else but got this.
So, what should i do?

[2016-09-25 01:01] asmeurer commented on #10035
You will need to update the all the tests that have changed.

[2016-09-25 15:16] #10134 closed

[2016-09-25 16:52] Lakshya1605 commented on #11636
Hello i am a newbie and I want to work on this issue.Could some one suggest me how do I start?

[2016-09-25 17:21] Upabjojr commented on #11636
There are various printers in SymPy, they can be found in `sympy.printing`.

Of special interest are classes like:

- `StrPrinter` in `sympy.printing.str`
- `ReprPrinter` in `sympy.printing.repr`
- `PrettyPrinter` in `sympy/printing/pretty/pretty.py`
- `LatexPrinter` in `sympy/printing/latex.py`

This issue requires to add the method `_print_NDimArray(self, expr)` (or its subclasses like `_print_I

[2016-09-25 17:22] Upabjojr commented on #11636
You could have a look at methods like `_print_list` and `_print_Matrix`, they already implement the printers for those special cases.

[2016-09-25 22:08] devangkulshreshtha commented on #11548
@mzaffalon do you want that the expression simplify(binomial(0,m)) should be left as it is or we should print answer for both cases(m=0 and general case) ?

[2016-09-26 04:58] shrutishrm512 commented on #11427
@moorepants I want to work on this issue. As of now, I think I can describe about what actually means like args and gens and in some methods , I can give examples like in revert method.
Since I am new,but I really want to work on this issue, so, can you please assign it to me?

[2016-09-26 05:20] moorepants commented on #11427
We don't really make use of Github's assign feature. If you want to work on it, simply state that in this thread and submit a pull request when you have something ready to for review (can be in draft state if you want early feedback).

[2016-09-26 05:30] shrutishrm512 commented on #11427
OK! I want to work on this issue.

[2016-09-26 05:52] hakobyant opened #11650 "Slow Recursive implementation of Stirling Numbers"
Hi folks,

I noticed the other day that the current implementation for Stirling Numbers is recursive and thus it works very slowly. I was wondering if there is any idea behind it why it should be recursive.

If there is no specific reason then I would like to work on this to update the implementation to a dynamic one.

[2016-09-26 06:01] hakobyant commented on #11584
Dear @latot,

According to the definition of the function sqrt() for real numbers in mathematics, it should always return a non-negative answer. Thus, the solution for an equation x**2 = 3 would be x = +-sqrt(3) and not x = sqrt(3).

[2016-09-26 07:25] jksuom commented on #11607
The two for loops for [a-parameters](https://github.com/sympy/sympy/blob/master/sympy/holonomic/holonomic.py#L2016) and [b-parameters](https://github.com/sympy/sympy/blob/master/sympy/holonomic/holonomic.py#L2019) of a hypergeomeric series determine the order in the output. Since `arg1` and `arg2` are dictionaries, the order should be made deterministic by something like `for k in ordered(arg1.key

[2016-09-26 09:53] shubhamtibra commented on #11607
Thanks @jksuom . I have opened up a pull request.

[2016-09-26 12:26] latot commented on #11640
Hi, i think it only should be true if the interval have the Real assumption, without that restriction i think ```Interval(-oo, oo)``` shouldn't by restricted for any set, so it should be UniversalSet.
[code]

[2016-09-26 12:31] latot opened #11653 "Solve: Normalize Input (f, *symbols...)"
Hi, i think this should be normalized, if we have only eqs we can pass symbols as a list, but if it have a ineq we get an error:

[code]

Thx. Cya.

[2016-09-26 12:34] latot opened #11654 "Solve: We can't request one symbol when it depends of more than 1 eq"
Hi, basically the title, if we request only 1 symbol and it depends of more than 1 eq the system don't is solved:

[code]

Thx. Cya.

[2016-09-26 12:35] latot opened #11655 "Solve: The system don't is solved when we request one symbol with one depend of eq"
Hi, this time its the system don't is simplified when we request one symbol, and it depends only of one eq:
[code]

Thx. Cya.

[2016-09-26 12:38] latot opened #11656 "Solve: If the symbol don't depends of the system don't is returned"
Hi, basically in automated process can happen we request a symbol but don't exist in the system, in that case the symbol should return the ```UniversalSet()```, if the system don't depends of the symbol it can takes any value.
[code]
to
[code]

Thx. Cya.

[2016-09-26 12:42] latot opened #11657 "Solve: request symbol + multiples var + eqs + ineq return non sense"
Hi, it feels its little strong say non sense, but this don't have it, when we have this conditions the system don't is solved and returns the same value to all requested vars:

[code]

Thx. Cya.

[2016-09-26 12:45] latot opened #11658 "Solve: when we request symbols or none symbols in a system with inf sols only some are passed"
Hi, well when we request symbols but the system have multiples solutions we only get one of it, the focus here its the solutions are incomplete:

[code]
this should be:
[code]
equal to:
[code]

This is very important to don't confuse with https://github.com/sympy/sympy/issues/11656

Thx. Cya.

[2016-09-26 12:47] latot opened #11659 "Solve: True is recognized as ineq and send an error"
Hi, if we have some True expression in the eqs it can be ignored but actually we get an error:

[code]

Thx. Cya.

[2016-09-26 12:48] jksuom commented on #11607
Fixed by #11652

[2016-09-26 12:48] #11607 closed

[2016-09-26 12:49] latot opened #11660 "Solve: If we request a non symbol and some symbol don't have numerical value in the expression, don't is solved"
Hi, well, one feature of Sympy its can request not only symbols, expressions too, like ```2*x```, but when some symbol in f don't have a numerical value we get an empty list:
[code]

Thx. Cya.

[2016-09-26 12:51] latot opened #11661 "Solve: Output format don't consistent with ineq"
Hi, well this is very confuse, when we solve ineq or ineq + eq the output don't is consistent with the normal output:

[code]

expected of the first expression:

[code]

Thx. Cya.

[2016-09-26 12:56] latot opened #11662 "Solve: If exist an imaginary value in the solutions and we send a ineq we get False"
Hi, well when we have a mix of eq + ineq, but the eq (or maybe too the ineq), have imaginary values (not alls) we always will get ```False```:
[code]

Thx. Cya.

[2016-09-26 16:28] latot opened #11664 "Solveset: Normalize output format"
As i know your intentions its in some future replace the actual solve with solveset, only remember the actual solveset output have two formats, first when we have a normal solution:
[code]
the second when we have a conditionalset:
[code]

The problem is the outputs don't match, and if we need use the value we need start re-format the output for can eval an expression, so it would be ideal return t

[2016-09-26 16:32] latot opened #11665 "Solve: Normalize the output format for one or multiples solutions."
Hi, basically the title, examples:

[code]
ideal to:
[code]

Thx. Cya.

[2016-09-26 18:16] Lakshya1605 commented on #7358
Is this still open? I'll take it if so.

[2016-09-26 18:17] asmeurer commented on #7358
I believe so. I don't see `scipy` used anywhere in the stats module.

[2016-09-26 19:58] Shekharrajak commented on #11662
[code]

1st case should return ans.

[2016-09-26 20:00] Shekharrajak commented on #11665
You can set `dict=true`

[code]

[2016-09-26 20:03] Shekharrajak commented on #11665
`solveset`

[code]

[2016-09-26 20:12] Shekharrajak commented on #11654
Since it is a liner system so it should be solvable using `linsolve`, but there is already known bug:

[code]
You can use `substitution` method :
[code]

[2016-09-26 20:20] Shekharrajak commented on #11655
`solve` or `solveset` do nothing, if in the equation no `symbol` is present.

[code]

[2016-09-27 00:11] latot commented on #11662
mm, seems solveset have other issue here:
[code]

And remember this is an example, the idea its can send more than 1 eq.
Should i open a new issue for solveset?

Thx.

[2016-09-27 00:34] latot commented on #11665
Hi, this is only examples, and the idea its can set more than one eq, when solveset support it i think it will be fine, this examples don't are restricted for linear systems.

The focus here its, don't play with the output, choose one type of output and respect it, its very umconfortable start handle this manually, think when we use this for some work we use this automatically, so normally we can'

[2016-09-27 00:36] latot commented on #11654
This are only examples, this happen with non linear equations too:
[code]

[2016-09-27 00:38] latot commented on #11655
Yes, but the problem is the system don't is solved when we request the var, we don't always need al the system like in simplex, and in this case the symbol exist, but only in one eq.

[2016-09-27 01:18] latot commented on #11584
@hakobyant Okis, thx to aclare what concepts you are using for this, in this case i think all this can be summarized in two points:
  * A function to represent a sqrt with two solutions
  * If you use always the positive solution for sqrt simplify should support solve ```sqrt(x*x)/x``` and get 1, (actually it returns the same expression).

Thx.

[2016-09-27 03:15] tokencolour commented on #7358
@Lakshya1605 I wasn't able to solve this. It will be great if you take a look at the issue!

[2016-09-27 05:07] Shekharrajak commented on #11655
E.g.

[code]

So, it should not solve for other symbols (`y, z`) , because user is not interested on that. Right ?

[2016-09-27 06:00] Shekharrajak commented on #11664
`solveset` may return : FiniteSet, ImageSet, Complement, Intersection, ConditionSet ( for one eq, one symbol. There should be some way to get soln in one format). FiniteSet of tuples for system of equations.

[2016-09-27 09:45] latot commented on #11655
m, you are right, let me update the tittle for the condition, when depends of one eq in a related system.

[2016-09-27 09:54] latot commented on #11664
Hi, this basically have 3 points:
  * I can't found in the doc some way to have a standard format like dict or set, so requesting it.
  * Don't play with the output, there is a similar issue with solve, use the same arguments
  * Thinking in the future, i read yours intentions is replace solve with solveset, so in some time it will support multiples inputs (eqs/ineqs/etc) and more than one, so i t

[2016-09-27 09:55] Lakshya1605 commented on #7358
I was thinking if we could use this  scipy.stats.invgamma.rvs(self.k,0,selk,theta) to  solve this issue.Can please some help me by stating whether this is the correct approach.

[2016-09-27 10:09] shrutishrm512 commented on #11427
@moorepants I have again sent the pull request and it has cleared all the checks, then it can be merged into the main code?

[2016-09-27 16:38] Lakshya1605 commented on #7358
inv_gamma=invgamma.rvs(self.a,0,self.b)
       return inv_gamma
is giving this error:TypeError: ufunc 'gammaincinv' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''
Whereas
  inv_gamma=invgamma.rvs(1,0,1)
       return inv_gamma
is working fine can someone please help me

[2016-09-27 17:36] latot commented on #11655
mm, i'll explain a little this, when i refer to a related system its about the requested var, with the actual examples:
[code]
here we have a system, but we only one eq for the system of x, in this similar case:
[code]
we have a system, but the system of x have two eq, so its a related system on x.

Thx. Cya.

[2016-09-27 19:17] latot opened #11667 "limit(1/x, x, 0) == oo ??"
Hi, well, what definition of limit are you using? or this is a bug.

[code]

I search if this issue exist and i can't found it, if i search bad close it please.

Thx. Cya.

[2016-09-27 20:33] asmeurer opened #11668 "Get rid of bare "except"s"
It looks like quite a few bare `except:` and `except Exception:` lines have crept up throughout the codebase. A few of these are OK (for instance, the ones in `runtests.py` are there to catch and report exceptions in the tests), but most should be replaced with an explicit exception, or rearranged so that the logic does not require checking for an exception. Even places where you really do want to

[2016-09-28 00:14] tanayag commented on #11634
I am almost complete with the issue

[2016-09-28 01:41] tanayag commented on #11634
![graphviz-d8d6268439273f5c9659310fcb25b50fd18c6260](https://cloud.githubusercontent.com/assets/16465642/18897712/36233cda-854a-11e6-98d3-f48b3f73f54d.png)

on the website(http://docs.sympy.org/dev/tutorial/manipulation.html),
can't we just change the picture of false dot diagram to the attached one, and change 2**x to x**2 accordingly.

and let it be on doc/src/tutorial/manipulation.rst , whateve

[2016-09-28 01:49] JainulV commented on #11634
@tanayag I already fixed the tutorial. The only part to focus on making it work correctly.

[2016-09-28 03:42] sn6uv opened #11669 "Function unicode name bug in Py27"
SymPy 1.0 crashes on Python 2.7 if the function name is a unicode string. No crash on PyPy or Python3.4.

[code]

[2016-09-28 03:43] hakobyant commented on #11584
@latot,

- Whatever you define is not going to be a function if it gives both solutions. That is simply the set of solutions of the equation.
- One thing about your second point to note is that `sqrt(x*x)/x` is not always `1`. That is only true for `x` positive, and the expression is equal to `-1` if `x` is negative.

[2016-09-28 07:54] SteliosStefanatos opened #11672 "limit(Rational(-1,2)**k, k, oo) fails"
Python 3.5.2, Sympy 1.0.

The following code

[code]

returns `NotImplementedError`, instead of `0`.

[2016-09-28 09:18] Lakshya1605 commented on #7358
I have fixed the bug and sent a pull request .Thank

[2016-09-28 09:53] latot commented on #11584
ups, you are right (second point), about the first i'm not saying the function should be used for sympy to return values, i mean for a user function to can send to sympy a representation of a sqrt with both solutions, its like an extension of sqrt. (for this, i think i'll open a new issue, this issue have a lot of things).

Thx.

[2016-09-28 10:22] Lakshya1605 commented on #6700
Is the issue still open? Would like to work on it.

[2016-09-28 10:23] Lakshya1605 commented on #6700
Is this still open? I'll take it if so

[2016-09-28 10:27] Lakshya1605 commented on #11672
I am a newbie a would like to work on this issue ..Get someone guide me

[2016-09-28 10:55] isuruf opened #11674 "n_link_pendulum_on_cart is slower than PyDy"
With SymPy's core, SymPy's version of `n_link_pendulum_on_cart` is faster, but with SymEngine, PyDy's version is faster.

Core | PyDy | SymPy
------| ------|--------
SymEngine  | 0.0219 | 0.0256
SymPy | 0.447 | 0.372

[2016-09-28 11:02] isuruf commented on #11674
There was a mistake in the script. Sorry about the noise

[2016-09-28 11:02] #11674 closed

[2016-09-28 15:08] smichr commented on #11584
`root(e, n, i)` is a general way to represent the `n` roots of `e` with `i` taking values in `range(n)`, e.g.

[code]

[2016-09-28 16:10] asmeurer commented on #7358
Please add a link to the PR here so that we don't have to go find it.

[2016-09-28 16:16] Lakshya1605 commented on #7358
https://github.com/sympy/sympy/pull/11673

[2016-09-28 16:24] Upabjojr opened #11677 "Matrix power to known integer too slow"
Is the matrix power to an integer calculated by repeatedly multiplying the matrix by itself?

For large integers, it may be convenient to calculate the matrix power by an integer symbol (currently implemented with an algorithm depending on Jordan canonical forms) and then replace it by the integer values.

The threshold (if it exists) should be determined by benchmarks.

[2016-09-28 16:33] asmeurer opened #11678 "Invalid limit of floating point matrix power"
[code]

I think the problem is the `1.0**k` terms, which confuse limit.

[2016-09-28 16:42] mickyaero commented on #9471
I would like to work on this bug

[2016-09-28 18:57] smichr commented on #11584
The `root` function also has the following property:

[code]

There does seem to be an issue with resolving the general expression, however:

[code]

[2016-09-29 08:15] mickyaero commented on #10035
I got this error

"" sympy/printing/pretty/tests/test_pretty.py:test_pretty_ConditionSet ______

  File "/home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/sympy-1.0.1.dev0-py2.7.egg/sympy/printing/pretty/tests/test_pretty.py", line 3279, in test_pretty_ConditionSet

    assert pretty(ConditionSet(x, Eq(sin(x), 0), S.Reals)) == ascii_str

AssertionError""

where
ascii_str = "S.Reals"