[2017-03-11 15:24] #12254 closed

[2017-03-11 16:10] rathirocks-4 opened #12290 "Runtime error encountered in testing of sympy/utilities/tests/test_lambdify.py"
RuntimeWarning: divide by zero encountered in true_divide

File "sympy/utilities/lambdify.py", line 440, in wrapper
    return funcarg(*[namespace['asarray'](i) for i in argsx], **kwargsx)

I am a beginner. Can someone guide me how to correct this?

[2017-03-11 21:32] Makman2 opened #12292 "Fatal Python error: Cannot recover from stack overflow"
Happens when executing this:
[code]

[2017-03-12 08:17] SatyaPrakashDwibedi commented on #12267
@bjodah as stated by @Franjov I edited t
test_fcode as:
[code]
and in fcode
[code]
which gives output as:
[code]

[2017-03-12 08:47] Yathartha22 commented on #12243
@kshitij10496 for the `exponetial solver` I was thinking to implement a function that would solve all the cases of `exponent expressions`. I have written a bit of code for few test cases. I thought to clarify first whether this could be a good idea.

I have summarized it as:

- expressions having/convertible to common base

  - only one `sub exp` contains `free symbols`
     eg: `2**(x+5) - 32`

[2017-03-12 08:50] Yathartha22 commented on #12284
I would like to take this. Could you please elaborate. What is to be done?

[2017-03-12 11:08] clavoirr commented on #12292
#output
Subs ( Derivative ( N ( _xi_1 ) ,   _xi_1 ) ,  (_xi_1 ,  ) ,  ( 1 , ) ) * Subs ( Derivative ( floor( x ) ,  x ) ,  ( x , ) ,  ( 1 , ) )

[2017-03-12 12:51] bjodah commented on #12267
@SatyaPrakashDwibedi that looks great! Commit your changes in a new branch, push that branch to your sympy repo on github and create a pull request from there, remember to reference this issue in the PR. Feel free to ping me in the PR for review after tests are passing or for guidance.

Regarding the complex case, @Franjov that would give us a complex unit vector unless z=0 + 0j
I could also imagi

[2017-03-12 15:05] Makman2 commented on #12292
Wait why do you do
[code]
? I want to use the function, not a symbol.

[2017-03-12 15:34] Franjov commented on #12267
@bjodah
About the complex sign function: I agree with you, but that's actually the behavior of [Sympy's sign function](http://docs.sympy.org/dev/modules/functions/elementary.html#sign).

@SatyaPrakashDwibedi
Look out for the superfluous `merge` in the last case.

[2017-03-12 17:34] SatyaPrakashDwibedi commented on #12267
@bjodah  I made the pull request

[2017-03-12 19:14] SatyaPrakashDwibedi commented on #12292
@Makman2 same happens in 2.7 also
how do you think we should proceed?

[2017-03-12 19:47] SatyaPrakashDwibedi commented on #12290
@rathirocks-4 can you post your original code with errors

[2017-03-12 20:15] SatyaPrakashDwibedi commented on #12271
@proy87 `classifier_ode` is not checking for degree
I think nonlinear equation solving is not yet implemented

[2017-03-12 20:23] SatyaPrakashDwibedi commented on #12248
@asmeurer I don't think it's anything related to `ccode()`
@brupelo just wants to generate postfix expression sympy expression so that he can send complex mathematical expression from swig c wrapper (another open source software).
Nothing related to C.
@asmeurer I would like to work on this.

[2017-03-12 22:21] wakita opened #12300 "Sum of the elements of an identity matrix is zero"
I think this is a bug.

I created a matrix by M.T * M under an assumption that M is orthogonal.  SymPy successfully recognized that the result is an identity matrix.  I tested its identity-ness by element-wise, queries, and sum of the diagonal elements and received expected results.

However, when I attempt to evaluate the total sum of the elements the result was 0 while 'n' is expected.

[code]

[2017-03-12 22:23] asmeurer commented on #12292
The infinite recursion is a SymPy bug, but the core dump is a Python bug (Python should never crash with pure Python code).

[2017-03-12 23:21] Makman2 commented on #12292
Probably `SymPy` uses under the hood C extensions. I recall I've seen this kind of message for C modules in Python, I believe...

@SatyaPrakashDwibedi Imo we should fix that ;D

[2017-03-13 05:04] SatyaPrakashDwibedi commented on #12267
@bjodah why it is giving assertion error?

[2017-03-13 08:01] Franjov commented on #12267
Maybe the difference of spacing in the generated code between `print_sign` and `test_sign`?

[2017-03-13 09:32] maurogaravello commented on #12078
I think I corrected the problem. See the pull request #12299

[2017-03-13 10:28] mamakancha opened #12302 "subs() not working properly"
I tried executing the following code :

[code]

Before `In [7]`, the `subs()` is working quite fine but after `x=2` in `In [7]`, the `subs` function does not work as seen in `In [9]` .
What could be the possible reason here?

[2017-03-13 10:35] jksuom commented on #12302
After [7], In [9] becomes `expr1.subs(2, 2)` (which does nothing to expr1).

[2017-03-13 10:41] mamakancha commented on #12302
If I use
`expr1.subs(x,8)` What should be the correct Output?

[2017-03-13 10:52] jksuom commented on #12302
Assuming that x denotes 2 and that there is no 2 in expr1, there should be no change in expr1.

[2017-03-13 11:02] mamakancha commented on #12302
Oh! Thanks a lot.
I tried this with the following code :
[code]
Output was :  `8*x + x**y/x`

So the code assigned value of `x` to `2` and when `expr1.sub(x,8)` was used, since `2` is `x` and `x` has to be substituted with `8` so we get our final output. Is that the correct explanation?

[2017-03-13 11:16] jksuom commented on #12302
I think so. It may be confusing that the (Python) symbol x has different meanings in different places. After import at [2] it denotes the SymPy symbol also denoted by x. So Python x denotes Symbol x in expr1. After [7] x changes its meaning and denotes the SymPy integer 2.So now Python x denotes Integer 2. There is no change in expr1, however. It still contains Symbol x.

[2017-03-13 12:09] srikanth100 commented on #11345
@asmeurer @leosartaj It seems to me that the fix provided in #11392 works for this problem. Is anything remaining to be done?

[2017-03-13 12:55] tools4origins opened #12303 "Ellipse comparison with other geometric entities throws an error"
This code throws an error whereas one would expect it to return `False`:
[code]

The error is:
[code]
This is because of the [method `__eq__` of sympy.geometry.ellipse]( https://github.com/sympy/sympy/blob/master/sympy/geometry/ellipse.py#L128) only checks that the second entity is of type GeometryEntity before accessing attributes specific to Ellipse.

[2017-03-13 13:05] SatyaPrakashDwibedi commented on #12267
@Franjov It seems you are right; when I deleted all the spacings there was no error .
Are the spacings required?

[2017-03-13 13:58] SatyaPrakashDwibedi commented on #12267
@Franjov seems you are right there was no error after removing the spaces

[2017-03-13 14:08] SatyaPrakashDwibedi commented on #12292
@asmeurer
In python 2.7
[code]
As this shows the error is in sympy module.
So how should we fix this?

[2017-03-13 14:42] SatyaPrakashDwibedi commented on #12300
@wakita
shouldn't these be 1
[code]

[2017-03-13 15:06] Vedarth commented on #12300
Hey,
I would like to try to solve this issue. Where should I look first?
**Interesting observation if I replace j with i in e[i, j] the answer comes as n**2 which is correct..

[2017-03-13 16:53] SatyaPrakashDwibedi commented on #12300
@Vedarth would you give your code here

[2017-03-13 17:13] #11684 closed

[2017-03-13 17:34] SatyaPrakashDwibedi commented on #11936
@asmeurer I would like to work on the issue.
What would you like me to do?

[2017-03-13 17:49] asmeurer commented on #11124
Duplicate of https://github.com/sympy/sympy/issues/7379

[2017-03-13 17:49] #11124 closed

[2017-03-13 17:56] Vedarth commented on #12300
@SatyaPrakashDwibedi `print(Sum(Sum(e[i, i], (i, 0, n-1)), (j, 0, n-1)).doit())`
Here is something more...
if i write `print Sum(e[i,i] ,(i ,0 ,n-1) ,(j ,0 ,n-1)).doit()` it gives the same output.
I am not sure where to look to fix the issue ,though, please tell me if you get any leads.

[2017-03-13 19:47] asmeurer opened #12305 "integrate(1/(x**5 + x + 1)) fails randomly"
This only happens half the time. Sometimes it works, and sometimes it gives this error:

[code]

[2017-03-13 20:11] wakita commented on #12300
@SatyaPrakashDwibedi Yes, both of the two math expressions that you gave should be 1s.

@Vedarth n**2 is incorrect.  'e' is an identity matrix.  The total sum should be the same as the number of diagonal elements, which is 'n'.

[2017-03-13 20:40] smichr commented on #12302
Closing as a non-issue for SymPy.

[2017-03-13 20:40] #12302 closed

[2017-03-13 20:48] smichr commented on #12300
The problem appears to be that while `e[0,0] == e[j,j] == 1`, `e[I,j] == 0` -- it assumes that if the indices are different then you are off-diagonal rather than not evaluating them at all because it is not known if `i == j`. I would start by looking in an `eval` method for this object. Inequality of indices *only for Numbers* should give 0 (while equality of numbers or expressions should give 1).

[2017-03-14 02:08] wakita commented on #12300
@smichr I see.  Thank you for your enlightenment.

I wonder if this situation be similar to `KroneckerDelta(i, j)`.

[code]
gives the following answer:

`Sum(Piecewise((1, And(0 <= j, j <= n - 1)), (0, True)), (j, 0, n - 1))`

If SymPy can reduce this formula to `n`, I suppose reduction of `e[i, j]` to a KroneckerDelta is a candidate solution.

[2017-03-14 03:02] smichr commented on #11577
Some guidance is available from [this paper](http://cseweb.ucsd.edu/~kastner/papers/tech-alg_opt.pdf)

[2017-03-14 05:28] SatyaPrakashDwibedi commented on #12300
@smichr I would like to work on this issue.
Where should I start looking

[2017-03-14 06:30] Vedarth commented on #12300
@smichr You are right. It is ignoring i==j case. What do you mean by eval method? Please elaborate a little bit on how do you want it done. I am trying to solve it.
@wakita I think you already know it by now but I am just clarifying anyways, e[i,i] in my code will be evaluated as sum of diagonals n times which gives n*n or n**2. So it is evaluating it correctly.
@SatyaPrakashDwibedi I have already

[2017-03-14 07:23] parsoyaarihant opened #12309 "Mathematica Parser Error"
Hi, I faced the following issue while parsing the following Mathematica code in SymPy:
[code]

I wanted to know if there are any plans to improve Mathematica parsing in SymPy for advanced syntax such as `:=`.

[2017-03-14 07:39] oldk1332 commented on #12305
Other than the bug may happen in `count_roots`, `log_to_real(h, q, x, t)` should factor its argument `q` first, in this case:

[code]

`-3381*_t**
5 + 160*_t**3 + 80*_t**2 + 15*_t + 1` can be factored.

[2017-03-14 08:53] rathirocks-4 commented on #12290
I didn't change anything from the forked version. I encountered this error while running customary tests on the whole project. The test and test file are as in my previous comment. "sympy/utilities/lambdify.py"
Test: test_lambdify.py

[2017-03-14 09:51] DRMacIver opened #12310 "sympy.fps doesn't always return a formal power series"
See the following:

[code]

I assume the logic is that the value in question is already a polynomial so doesn't need expansion, but it doesn't support the same interface, and [the documentation](http://docs.sympy.org/dev/modules/series/formal.html#sympy.series.formal.fps) doesn't suggest that this is what is supposed to happen.

[2017-03-14 11:02] parsoyaarihant commented on #11345
Hi @srikanth100 , I have submitted my PR on this issue but I am unable to get any feedback from @leosartaj .

[2017-03-14 12:05] KTaruneshwarSai commented on #12310
well could you please elaborate your issue, as of documentation it returns correct without `O` term
if you wish to have value of p(0) try p.subs(x,0)

[2017-03-14 12:07] DRMacIver commented on #12310
The issue is that the returned value is not a FormalPowerSeries object and doesn't support the same interface as it, so why is it being returned from a method that claims that's what it returns?

[2017-03-14 12:13] pspbot7 commented on #12310
I might be not completely sure about this, but according to what I understand fps can only be computed for a field, that is a series upto infinite number of terms, and I think that x**2 is treated here as an expression. Therefore it will not support the the same interface

[2017-03-14 13:10] parsoyaarihant commented on #12284
I think pattern matching should be done as a seperate subtree on `UnevaluatedExpr`. For example:

[code]
`a*x + c*x**n` should not match the expression due to presence of `UnevaluatedExpr`.

[2017-03-14 15:26] DRMacIver commented on #12310
There's no mathematical problem with treating a polynomial as a formal power series - it's just a power series where only finitely many coefficients are non zero.

My basic point remains:

* the method's documentation says it returns a formal power series
* it is not returning a formal power series
* this seems bad, and implies that one of the documentation or the method must be wrong

It would se

[2017-03-14 16:11] asmeurer commented on #12310
I agree that it doesn't makes sense to treat polynomials separately.

[2017-03-14 18:36] Shikhar1998 opened #12312 "Sympy returns an unevaluated limit"
Trying
[code]
returns an unevaluated limit.

[2017-03-14 19:44] SatyaPrakashDwibedi commented on #12312
@Shikhar1998 I think it should return 0.
right??

[2017-03-14 19:57] SatyaPrakashDwibedi commented on #11803
@asmeurer I went through the https://stackoverflow.com/questions/40391602/sympy-ccode-number-type should I add the class and function as you mentioned there.

[2017-03-14 20:10] SatyaPrakashDwibedi commented on #11456
@moorepants I would like to work on this issue .
So where do you think change needs to be done?

[2017-03-14 20:14] asmeurer commented on #11803
The custom subclass is a workaround for users. To fix this in SymPy, we should add an option to disable it (or remove it entirely, if it is not actually needed, which I'm unclear about).

[2017-03-14 20:22] SatyaPrakashDwibedi commented on #11803
@asmeurer I think we should add an option

[2017-03-14 20:36] leosartaj commented on #12310
@DRMacIver @asmeurer The documentation needs to updated. The documentation doesn't tell what the method returns if it is unable to compute the formal power series. In usage it just returns the expression unchanged. I did this keeping in mind how the series function works.

[code]

We need to think, if it is okay, to keep it as is and just update the documentation or should we raise an error? In ei

[2017-03-14 20:48] leosartaj commented on #11345
Hi,

I haven't been very active for some time now. I will try to review the PR
soon.

On 14 March 2017 at 16:32, Arihant Parsoya <notifications@github.com> wrote:

--
Regards
*Sartaj Singh*

*Mathematics and Computing*,
Indian Institute of Technology,
Varanasi - 221 005 INDIA

E-mail: singhsartaj94@gmail.com, *sartaj.singh.apm13@itbhu.ac.in
<sartaj.singh.apm13@itbhu.ac.in>*

[2017-03-14 21:29] DRMacIver commented on #12310
Could you elaborate on what's going on here? I don't see why it should be unable to compute a formal power series - as mentioned above, there's no problem with formal power series for polynomials, they just have all but finitely many coefficients zero.

It also seems like a very strange choice to return the value unmodified if it can't compute a formal power series as opposed to raising an error.

[2017-03-14 21:46] asmeurer commented on #12310
I raised a similar concern [here](https://github.com/sympy/sympy/issues/11102). I think it should error, rather than returning the expression unchanged. That way you can always assume that the return value is a formal power series.

And I agree that polynomials should be trivially representable as formal power series.

[2017-03-14 21:57] leosartaj commented on #12310
+1. Agreed.

[2017-03-14 22:43] asmeurer commented on #12310
I imagine making it error should be an easy change.

How hard is it to make the power series of polynomials work? Does it need a symbolic formula? The symbolic formula for the nth coefficient of p(x) is just coefficient(p(x), n), but we don't currently have a symbolic coefficient function.

[2017-03-14 22:44] Upabjojr commented on #12233
See post in https://groups.google.com/forum/#!topic/sympy/MIdVFe3VQGg

I think [sklearn.tree.export_graphviz](http://scikit-learn.org/stable/modules/generated/sklearn.tree.export_graphviz.html) could help.

[2017-03-14 22:46] asmeurer commented on #12310
Although writing one would be trivial:

[code]

[2017-03-14 22:48] asmeurer commented on #12233
For SymPy I wouldn't put too high priority on the visualization. Once we get it up and running we can look into that, e.g., for SymPy Gamma.

[2017-03-15 00:39] Upabjojr commented on #12233
Consider for a moment a sample rule, for example:

[code]

This could be divided into various rules (maybe a subset of rules, and a match by all of them shall be equivalent to this rule matching):

- is it a `Pow`?
- is the base of the power linear in _x_?
- are _a_ and/or _b_ and/or _m_ free of _x_?
- is _m = -1_?

Call `expr` a generic expression matching `(a_. + b_.*x_)^m_`. The pattern rule co

[2017-03-15 01:25] asmeurer commented on #12233
Assumedly the `b1.match(a + b*x)` also gets broken up into "is b1 `Add`", "does b1 have 0 or 1 terms", "is one term free of x and the other `b*x`" (and so on), and those subchecks are all part of the same tree.

I would like to represent that symbolically in SymPy, and, if possible, derive the decision tree ourselves (if it is too slow to do at runtime we can compile a file, similar to ask_generat

[2017-03-15 01:38] Shikhar1998 commented on #12312
<0,oo> according to me.

[2017-03-15 02:44] smichr commented on #12300
Exactly. Notice how the KD is evaluated as a `Piecewise` since we don't know whether `i==j` until actual values are substituted.

BTW, you don't have to write two `Sum`s; you can have a nested range:

[code]

[2017-03-15 03:03] smichr commented on #12300
OK, it's the `_entry` method of the `Identity` that is the culprit:

[code]

This should just return `KroneckerDelta(i, j)`. When it does then

[code]

breadcrumb: tracing is a great way to find where such problems are located. I started a trace with the expression `e[1,2]` and followed the trace until I saw where the 0 was being returned: in the `_entry` method.

[2017-03-15 03:09] #12303 closed

[2017-03-15 03:14] Upabjojr commented on #12233
Mathematica can express its own syntax in _M_-expressions using the [FullForm](https://reference.wolfram.com/language/ref/FullForm.html) command. _M_-expressions are easier to parse.

For example the rule:

[code]

becomes

[code]

I have written a short gist to parse such outputs in Python:
https://gist.github.com/Upabjojr/bc07c49262944f9c1eb0

[2017-03-15 04:05] bhavishyagopesh commented on #12312
@Shikhar1998 @SatyaPrakashDwibedi ,I might be wrong,But I think limit(L) at x=oo is not defined, as for large x=2*n*pi+pi/2, L=1 and for others L=0.

[2017-03-15 04:53] bhavishyagopesh commented on #12300
@smichr I guess,it is fixed then.Nothing else to be done?

[2017-03-15 05:10] Upabjojr opened #12313 "Code printer for Sum"
Verify that Sum (and by extension also Product) can be printed by the code generators (C, Fortran, Julia, etc...).

Verify that Indexed objects are supported and add some tests for them. Like

```Sum(a[i], i)```

to give (for example)

[code]

The last line gives
[code]

If you wrap the expression with a `Sum` object, you get an exception:

[code]

and so on.

Need to add a `_print_Sum` method eit

[2017-03-15 05:11] Upabjojr commented on #12313
```ccode(Sum(a[i], i))```

[2017-03-15 05:21] SatyaPrakashDwibedi commented on #12312
@bhavishyagopesh the first part 2**(-x) is zero
and zero multiplied by anything gives zero

[2017-03-15 05:27] pradeep8093 commented on #12313
@Upabjojr I would like to work on this issue.
Where should I start

[2017-03-15 05:29] SatyaPrakashDwibedi commented on #12313
@Upabjojr I would like to work on this issue.
How should I proceed

[2017-03-15 06:00] wakita commented on #12300
[code]

I think, given that (j, 0, n-1), we can conclude that `j <= n - 1` always holds.  Under this condition, the Piecewise form can be reduced to `1` and we can have `n` for the symbolic result.  Or am I demanding too much?

[2017-03-15 06:37] Vedarth commented on #12300
@smichr so we need to return KroneckerDelta(i,j) instead of S.one and S.zero? Is that what you mean?

[2017-03-15 06:58] parsoyaarihant commented on #12233
I think that is relatively simple to generate decision tree fo each pattern in Rubi. We already [have](http://www.apmaths.uwo.ca/%7Earich/DownloadRubi.html) all the rules along with their conditions implemented in mathematica. Example(code taken from sine.m file in rubi):
[code]
The rules are ordered in order of their condition complexity. We can observe that all the above rules have `FreeQ[{a,b,e

[2017-03-15 07:25] bhavishyagopesh commented on #12312
@SatyaPrakashDwibedi  You cannot apply limits on parts separately,when individual limits do not exist.Try putting x=2npi+pi/2, Then expression tends to 1.

[2017-03-15 07:27] asmeurer commented on #12233
Perhaps that should be integrated into SymPy's Mathematica parser.

[2017-03-15 09:40] bhavishyagopesh commented on #12285
@cbm755 Could you please elaborate, what would the right thing be?,I mean `Integral(-cos(t)/t, (t, x, oo)).rewrite(Ci)` returns back the symbolic expression.

[2017-03-15 10:22] ajaysjacob commented on #12238
I would like to work on this.How do I proceed?

[2017-03-15 11:59] Abdullahjavednesar commented on #12233
@Upabjojr I think that is a good way to present the pattern matching algorithm. If we could collect all such rules that comes under pow like,

Under **Algebraic**:
- ```(a + b*x)**m```
- ```(a + b*x)**m * (c + d*x)**n ```
- ```(a + b*x)**m * (c + d*x)**n * (e + f*x)**p``` and so on...

segregate it accordingly under different conditions as you did for ```(a + b*x)**m``` then maximizing details for

[2017-03-15 12:12] ArifAhmed1995 commented on #12312
The value of `sin(x)` is not mathematically defined when `x --> oo`. Hence, the correct answer is an unevaluated limit.
@SatyaPrakashDwibedi `2**(-x)` is **not zero**. It tends to zero. Therefore one cannot say this limit yields zero.

[2017-03-15 12:48] Upabjojr commented on #12313
@SatyaPrakashDwibedi the idea is that the _Sum_ should be converted to a _for_-loop. There are some examples in

https://github.com/sympy/sympy/blob/master/sympy/printing/tests/test_ccode.py#L99

They all used `Indexed` objects. I would like `Sum` to be able to generate something similar (even without the presence of `Indexed` objects).

[2017-03-15 12:51] Upabjojr commented on #12313
Warning: needs some manipulation in the code printers.

[2017-03-15 12:57] Upabjojr commented on #12233
It's important to have a compiler for such kinds of rules. If we have one, in the future we may be able to use rules more often (equations, differential equations, etc...).

Maybe we need a new class to express transformation rules. @mrocklin has done some work in that direction.

[2017-03-15 13:26] jksuom commented on #12312
The limit does not exist, but it seems to me that all accumulation values are in the interval [0, 1]. So a better result could be `AccumBounds(0, 1)`.

[2017-03-15 14:44] Shikhar1998 commented on #12312
Well, just to clarify, the above PR is not a fix, but will surely will give a good insight what the issue is .
See the comment.

I had opened a issue #12312 ,that was the function obtained by applying ratsimp on the above stated test. But, interestingly it didn't gave any answer. Further going through the discussion on the issue I realised the output generated is incorrect of the original function

[2017-03-15 15:36] Abdullahjavednesar commented on #12233
@Upabjojr, how is it expected for transformation rule to work, do we collect all cases and then generalise? In Rubi, transformation of expression should be carried out only before conclusion of a rule just for the sake of matching expressions RHS and LHS, but I'm not sure. Do we need anywhere else (in Rubi)? And how do we implement it can you give an example?

[2017-03-15 16:24] bhavishyagopesh commented on #12284
@parsoyaarihant @Upabjojr This is strange,but I'm not able to import UnevaluatedExpr using-`from sympy import UnevaluatedExpr`(it shows Traceback error)

[2017-03-15 16:45] SaiHarsh commented on #12313
@Upabjojr  Can you explain little more.

[2017-03-15 16:55] parsoyaarihant commented on #12284
@bhavishyagopesh , I am not sure why you are getting this problem. Can you post the error on [Gitter](https://gitter.im/sympy/sympy) so others can guide you?

[2017-03-15 18:03] SatyaPrakashDwibedi commented on #12313
@Upabjojr
as you mentioned `Sum(a[i],i)` but Sum in sympy takes two arguments.
Do you want something like
[code]

[2017-03-15 19:36] Franjov commented on #12267
Sorry to dig up the thread, I have a small suggestion:

While looking at the doc, I stumbled upon the `_print_Piecewise` method.
It uses `merge` for modern Fortran like us, but can also use an `if`construct for older code.
[code]
Wouldn't it be interesting to do the same for the `sign` function? Maybe by relying on `_print_Piecewise`?

[2017-03-15 19:46] bhavishyagopesh commented on #11967
@moorepants ,Hi , I would like to work in here, Could u specify except `k/2/x**2`what else you would like to get implemented.

[2017-03-15 19:50] SatyaPrakashDwibedi commented on #12267
@Franjov What should be the code for sign in older version of Fortran

[2017-03-15 19:59] Franjov commented on #12267
It could be something like
[code]
for integers,
[code]
for real numbers and
[code]
for complex numbers.
Of course, as for `Piecewise`, it can only work with an `assign_to` argument.

[2017-03-15 21:17] Upabjojr commented on #12313
I believe the last example should be evaluated directly and return s=45.

It should return a for loop when Sum cannot be evaluated (like presence of undefined functions or indexed objects).

There is also an idea to remove the implicit summation for repeated indices in indexed objects. For loops should be generated by Sum objects.

We need to make sure that the unevaluateable summations generate a

[2017-03-15 21:34] mamakancha opened #12318 "Problem updating AUTHORS"
Since the file for AUTHORS was not updated since Sep 2016, I thought it would be a good idea to update it  since many new contributors have submitted their patches to Sympy.
However, on running `./bin/authors_update.py` in a `virtualenv` I get the following error:

[code]
I don't understand why I am getting this error.

[2017-03-15 21:37] moorepants commented on #11967
I suggest doing a number of dynamics problems with Lagrange's Method to see the need.

[2017-03-15 21:45] moorepants commented on #12318
Fabric only works with Python 2, maybe you are using Python 3?

[2017-03-15 21:51] SatyaPrakashDwibedi commented on #12267
@Franjov I will fix it

[2017-03-15 21:59] mamakancha commented on #12318
Yes. Found the same Issue at [https://github.com/fabric/fabric/issues/1209](https://github.com/fabric/fabric/issues/1209).
Did the procedure with Python 2.7 and it worked.
Submitted a PR for the same.

[2017-03-15 22:08] mamakancha commented on #12318
Closing the issue as the reason was pointed out by @moorepants and I have corrected it.

[2017-03-15 22:08] #12318 closed

[2017-03-15 23:16] asmeurer commented on #12310
That Coeff class I suggested would be the formula. You could also represent it with existing functions like with Piecewise or with Subs and derivatives, but a new Coeff object would be the clearest and also the most efficient.

[2017-03-16 01:15] leosartaj commented on #12310
Somehow, missed your suggestion. Just did a small test. It seems to work very well.
+1 for implementing this.

[2017-03-16 01:28] Upabjojr commented on #12233
We need to decide.

We need to decide. Personally I'd suggest this way:

- Create a new class, say `TransformationRule`. It should have the matching expression and the substitution expression in it. Optional parameters specify the wild variables and what they match.
- Create a matcher and replacer methods for such an object.
- create a compiler for a list of `TransformationRule` objects.
- convert

[2017-03-16 01:32] Upabjojr commented on #12233
As a starting task, one could start to write a lazy associative/commutative subrange/subset generator.

It should generalize both:
- https://github.com/mathics/Mathics/blob/f21e3f52e791e392a735e87febe4f13977534c8d/mathics/core/util.py#L64
- https://github.com/mathics/Mathics/blob/f21e3f52e791e392a735e87febe4f13977534c8d/mathics/core/util.py#L143

We have a k-bins lazy generator somewhere (I believ

[2017-03-16 02:06] smichr commented on #12300
Although that would work, it's probably overkil. How about returning:

[code]

[2017-03-16 03:04] twhunt opened #12321 "Extend det_LU_decomposition to handle singular matrices"
When passed a singular matrix, `det_LU_decomposition()` raises a ValueError with the message "No nonzero pivot found; inversion failed". However, this indicates that the determinant is 0. `det_LU_decomposition()` can be easily tweaked to return the correct value in this case.

[2017-03-16 03:14] asmeurer commented on #12233
SymPy's match does do something here, e.g.,

[code]

I'm sure it's quite limited, but it would be a good idea to at least look at how the current system works, so we can understand its limitations.

[2017-03-16 04:39] cbm755 commented on #12285
"the right thing" in that case would be to return `Ci(x)`; no idea how hard this is to do or how useful it really is: maybe not worth the effort.

But I think having `Ci(x).rewrite(Integral)` would be nice (I'm trying to do this sort of thing in #11014 and #12136 for example).

[2017-03-16 06:16] SatyaPrakashDwibedi commented on #12267
@bjodah how should I proceed with this?
while using `assign_to` it returns`'var=None'`
because assignment assigns var to mathematical expression but here `sign` takes only one argument.
So what is your suggestion?

[2017-03-16 09:00] alexeymuranov commented on #12285
Well, in my opinion, if the definition of `Ci` is not recognised by `sympy` as `Ci`, there is a room for improvement.  For example, Wolfram Alpha [recognizes it](integrate  -cos(t)/t dt from t=x to infinity).

So, IMO, it should be
[code]

[2017-03-16 09:08] Franjov commented on #12267
I'm not sure to understand what you mean.
If there is no `assign_to` argument, you can't generate a Fortran 77 code for `sp.sign`. If there is, it should return the code as in my previous message where `var` is the string passed to the `assign_to` argument.
Try for instance:
[code]
Looking at `_print_Piecewise` might be useful to code the same behavior for the sign function.

[2017-03-16 13:27] smichr commented on #2815
There is a nice paper about arbitrary ellipses and their intersections with lines [here](http://quickcalcbasic.com/ellipse%20line%20intersection.pdf).

[2017-03-16 15:30] jwilk opened #12325 "string formatting error in dmp_integrate_in"
[code]
Found using [pydiatra](https://github.com/jwilk/pydiatra).
Tested with sympy 1.0.

[2017-03-16 16:14] juandesant commented on #12084
Trying the above in Python 3.6 gives:

    Fatal Python error: Cannot recover from stack overflow.

[2017-03-16 16:36] Jayjayyy opened #12326 "Why does `solve` sometimes fail, if the equation is in a list?"
This is a copy of my question on Stack Overflow: http://stackoverflow.com/questions/42818086/sympy-why-does-solve-sometimes-fail-if-the-equation-is-in-a-list

***

According to the [SymPy documentation on `solve`](http://docs.sympy.org/dev/modules/solvers/solvers.html#sympy.solvers.solvers.solve), the first argument can be:

However, sometimes it does make a difference, if it's `solve(equation, x)

[2017-03-16 17:35] bhavishyagopesh commented on #12300
@smichr I made one PR [here](https://github.com/sympy/sympy/pull/12316),I added Kronecker delta,it passes the tests, could you please review it.

[2017-03-16 17:37] smichr opened #12327 "quicker determination if something is real"
For a numerical expression which is indeterminantly complex it seems like numerical testing should be used to test this:

[code]

A query of `ask(Q.real(n))` takes 14 seconds to return False on my (slow) system while evaluation yields significant real and imaginary parts very quickly as `-47.2443911457886 - 3.85858914392612*I` from which it seems that the imaginary part should allow one to indicat

[2017-03-16 17:37] SatyaPrakashDwibedi commented on #12267
@bjodah @Franjov
In `_print_piecewise()` https://github.com/SatyaPrakashDwibedi/sympy/blob/master/sympy/printing/fcode.py#L149
this line is used for assigning expression to var(passed argument)
but if I do in `_print_sign` (for demo)
[code]
it is giving `'      var = None'` as output.
I am not getting where the mistake is.

[2017-03-16 17:49] SatyaPrakashDwibedi commented on #12313
@Upabjojr  I'm not getting your idea please show the code which you want to generate.

[2017-03-16 18:57] #6599 closed

[2017-03-16 19:10] parsoyaarihant commented on #12233
Hi, I have been thinking about checking consistency between rules after they are implemented.  Rubi integrator already has vast tests which can be used to test rules. However they may not be suffecient to detect errors in rules such as :

1. Some rules may never be selected.
2. Conflicting and self-conflicting rules.

I have written a gist [here](https://gist.github.com/parsoyaarihant/447934dece0b

[2017-03-16 19:51] ooovector opened #12328 "Upper and lower case assumptions in the Symbol() constructor are not equivalent"
I'm trying to simplify an expression containing sin(m*pi) terms. If m is a sympy rational, everything works nicely, however, if I try

`
m = sympy.Symbol('m', Rational=True, Integer=True)
print(m.is_Rational, m.is_real, m.assumptions0, m._assumptions)

print(sympy.functions.elementary.trigonometric._peeloff_pi(sympy.pi*m+sympy.pi*sympy.nsimplify(1)))
print(sympy.sin(m*sympy.pi+sympy.pi*sympy.nsimp

[2017-03-16 19:54] ajaysjacob commented on #12321
Hi.I would like to try this out.Will it work if i just apply a try statement over the block of code in which L,U and P are defined of self matrix and set prod as 0 in the except?

[2017-03-16 20:05] Upabjojr commented on #12313
Sorry I don't have a computer right now. Cannot really write the code.

https://github.com/sympy/sympy/blob/master/sympy/printing/tests/test_ccode.py

There are examples here generating for loops.

For example

ccode(A[i, j]*x[j], assign_to=y[i])

I want to make sure that something like

ccode(Sum(A[i, j]*x[j], j), assign_to=y[i])

generates the same code.

In the future I'd like to deprecate the

[2017-03-16 21:04] caiodallecio opened #12332 "Symbolic integral of positive functions return 0"
The function is `p0**2/(q1**2 + s**2)` `p0` and `q1` was definied as Real. The integral of this function on s returns 0 the result should be `(p0^2 tan^(-1)(s/q1))/q1`

[2017-03-16 21:17] asmeurer commented on #12233
@parsoyaarihant we should definitely make sure to test the rules themselves, and not just the final answers. Some other thoughts on testing:

It should be possible to generate some tests from the rules, perhaps even automatically. For such a large ruleset, the test suite will need to have a large automated component. We can add tests for known integral tables, or tests against the other integrator

[2017-03-17 03:27] twhunt commented on #12321
@ajaysjacob
I submitted a pull request for this issue, but please feel free to improve it!

[2017-03-17 04:55] Abdullahjavednesar commented on #12233
It is the matcher that is going to handle such conflicts, may be we can collect all such sets of conflicting rules and design the matcher with such details that it's conclusion is  mutually exclusive. It should end up with "one and only one" rule or "none".

[2017-03-17 07:10] ooovector commented on #12328
My problem got solved by changing
`
m = sympy.Symbol('m', Rational=True, Integer=True)
`
to
`
m = sympy.Symbol('m', integer=True)
`

after which the sine gets correctly evaluated to 0. Still, if this is a feature and not a bug it's not really well-documented

[2017-03-17 09:43] jksuom commented on #12332
Duplicate of #12050.

[2017-03-17 11:22] jksuom commented on #12328
In SymPy, upper case is generally used to denote classes, not properties in assumptions.

`e.is_Rational` means that `e` is an object of class `Rational`. For an object `x` of class `Symbol`, `x.is_Rational` will always return `False`. Adding `Rational=True` into its assumptions does not make it an object of class `Rational` and has no effect in SymPy since `Rational` is not a property in the assu

[2017-03-17 12:13] Shikhar1998 opened #12336 "Possible Improvement In Limit"
Currently, `limit(((sin(x) + 1)/2)**x, x, oo)` returns `AccumBounds(0, oo)`.
Though, the answer may not be incorrect but can be improved.
The AccumulationBounds just indicates the range of values the given expression can take in calculus.
On applying limits one may observe that the expression oscillates only between `<0,1>` . Thus, the answer can be improved to `AccumBounds(0, oo)`.

[2017-03-17 15:30] SatyaPrakashDwibedi commented on #12267
@Franjov are `isign(1,x)` `cmplx(0d0,0d0)` are FORTRAN inbuilt functions?

[2017-03-17 16:25] Abdullahjavednesar commented on #12233
One way to design a Matcher would be:
like in this case, **```(3 + 7*x)**8```**
```expr``` could be broken down step by step by ```extractor()``` recursively and fall into functions (in order):
- ```Pow``` returns ```pow``` along with sub expression this way ```pow(8, subexpr)``` and here ```subexpr = (3 + 7*x)```
- ```Add```, here will return ```pow(8, add(3, subexpr))```, ```subexpr = 7*x```
- `

[2017-03-17 16:39] #11353 closed

[2017-03-17 16:39] #11953 closed

[2017-03-17 16:39] #11969 closed

[2017-03-17 17:45] srikanth100 commented on #11290
Is this issue still open?

[2017-03-17 17:55] pspbot7 commented on #12044
I tried to type the code but it is giving the following error

can you explain me the reason for this error

[2017-03-17 17:57] asmeurer commented on #12044
I guess you have to import it from `sympy.physics.mechancs`.

[2017-03-18 02:37] smichr commented on #11272
I just started an experimental branch named `gsolve` where I introduced a function that should handle intersections of all geometric objects. This would eliminate the need for (much) special handling of objects. I can't track this down now, but I imagine that having a general intersection method for GeometryEntity is the way I would go and override that in any classes that need special handling. e

[2017-03-18 04:48] Yathartha22 opened #12340 "[Discussion] improving _solve_trig in solveset"
After having a brief study on how `trigonometric equations` are solved in `solveset` I came up with the following deductions.

- Simplification for some type of problems has to be done, like:
[code]

- Improving the result of `solveset(sin(x), x)` from `{2⋅n⋅π | n ∊ ℤ} ∪ {2⋅n⋅π + π | n ∊ ℤ}` to just `{n⋅π | n ∊ ℤ}`

- inability to solve nested trignometric expressions [issue#10217](https://github.

[2017-03-18 04:53] Yathartha22 commented on #12340
ping @asmeurer @smichr @jksoum @aktech @hargup @Shekharrajak @kshitij10496

[2017-03-18 06:00] mamakancha commented on #12327
So if the imaginary part is 0 the system could return `Q.real(n)= True`. So from what I am able to get from this, why do we need the old assumption system now?

[2017-03-18 06:12] mamakancha opened #12341 "The list of examples is not exhaustive."
In the file `examples/all.py` , The `TERMINAL_EXAMPLES` (line `50`) as well as `WINDOWED_EXAMPLES` (line `77`) don't contain the following examples:
`examples/intermediate/sample.py`
`examples/begineer/plot_examples.py`

Is there a reason behind that or this should be fixed? If someone could let me know what do we mean by Terminal and Windowed examples, I could fix this issue by adding them to the

[2017-03-18 06:12] kshitij10496 commented on #12340
1. Regarding `solve_decompisition`:
As you have pointed out, it is based on the principle of Rewriting and Decomposition. Currently, the solver works for a wide range of transcendental and trigonometric equations. We plan to incorporate `solve_decomposition` in `solveset` after `transolve` is implemented since this would only increase the coverage of equations solved by `solve_decompisiton` and `s

[2017-03-18 06:13] mamakancha commented on #12341
@jksuom  Any suggestions?

[2017-03-18 07:40] Franjov commented on #12267
@SatyaPrakashDwibedi
Yes. See : https://gcc.gnu.org/onlinedocs/gfortran/SIGN.html#SIGN and https://gcc.gnu.org/onlinedocs/gfortran/CMPLX.html#CMPLX

[2017-03-18 08:10] jksuom commented on #12341
Those examples depend on numpy that has not necessarily been installed in all systems. That may have been the reason why they were not included in all.py.

[2017-03-18 08:11] Yathartha22 commented on #12340
So, it would not be a bad idea if such type(as mentioned above) of trigonometric equations are solved using `solve_decomposition` after `transolve` is implemented. Since solving these equations are also a part of  implementing  `transcendental equations`.

[2017-03-18 08:20] mamakancha commented on #12341
Thanks for pointing it out!
`examples/intermediate/sample.py` does use numpy
However, I don't see any use of numpy in `examples/begineer/plot_examples.py`. Am I missing some usage of numpy in `plot_examples.py`?

[2017-03-18 08:24] Yathartha22 commented on #12243
@kshitij10496 I had open a discussion [here](https://groups.google.com/forum/#!topic/sympy/njY__7fyepA) . I need your feedback if it is right approach or not. If so I can even propose it in my application.

[2017-03-18 09:03] SatyaPrakashDwibedi commented on #12267
@Franjov check out :
[code]

[2017-03-18 10:08] jksuom commented on #12341
plot_examples imports plot that imports numpy.

[2017-03-18 10:10] ooovector commented on #12328
Then a guess this is not an issue and should be closed

[2017-03-18 10:10] #12328 closed

[2017-03-18 12:57] kshitij10496 commented on #12340
In my opinion, yes. We can call `solve_decomposition` in `transolve` as a base case i.e when it is unable to solve the given equation.

[2017-03-18 13:55] smichr opened #12345 "nonlinsolve (solve_biquadratic) gives no solution with radical"
solve_biquadratic is called in the process of using nonlinsolve but it does not give a solution (or error) when an equation contains a radical:

[code]

Replacing the radical with a rational approximation gives

[code]

(and those roots were checked visually by graphing)

[2017-03-18 15:08] cbm755 commented on #12285
Sounds reasonable to me.  Is `doit` the right thing?  Or `simplify` or something else...?    Do we any working examples of Integrals that get converted to closed-form functions?

[2017-03-18 15:15] alexeymuranov commented on #12285
Sorry, i cannot propose anything, i really know nothing about the inner working of SymPy.

[2017-03-18 15:20] smichr opened #12346 "nonlinsolve gives AttributeError related to ConditionSet"
[code]

The result it is trying to give is

[code]

I was able to see this by making the following modification:

[code]

[2017-03-18 15:32] Yathartha22 commented on #12340
thanks @kshitij10496 for the explanation
Regarding `simplifying the equations` , I guess we need to improve the set infrastructure first, and then implement such problems.

[2017-03-18 19:09] mohit3011 commented on #12257
@jksuom , sorry for replying late. I wanted to know whether I should give this issue a try ?

[2017-03-19 02:49] SatyaPrakashDwibedi commented on #11495
@asmeurer If you would like it to generate prefix expression then a stack has to be implemented`using algorithm http://scanftree.com/Data_Structure/infix-to-prefix

[2017-03-19 03:43] asmeurer commented on #11495
You don't need to implement a full stack. A Python list with `insert` and `pop` can be used.

[2017-03-19 04:31] smichr commented on #9555
Please post the actual command that you used. It looks like part of what you meant to say is missing since there is a missing closing parenthesis on the 2nd Matrix.

[2017-03-19 06:00] bhavishyagopesh commented on #11967
@moorepants Sorry For replying late, I have just started with some problems but if you could cite some specific problem you did(it would be great, fasten things up).

[2017-03-19 08:46] aktech commented on #12340
I think this is done in `solve` IIRC, we need to generalise that for Infinite solutions (using `solveset`) after our ImageSet Union problem is fixed.

[2017-03-19 09:34] bhavishyagopesh commented on #11967
I created one PR #12354 which I believe might fix this issue.

[2017-03-19 10:13] Yathartha22 commented on #12340
@aktech yes but I guess implementing(this specific case) for `solveset` might be a different thing, like I intend to use `solve_decomposition` though both(`solve's `  way and `solve_decomposition's`  way) have similar approach. We anyhow need it for `solveset` too with capability to handle for infinite solution as you said.

Also are there any start point or some references regarding algorithms fo

[2017-03-19 10:19] aktech commented on #12340
I am not aware of any such references as of now. I just realised that @Shekharrajak has also a PR on ImageSet Union: #12011 You can work with him to get that PR merged. Also have a look at @hargup's approach here: https://github.com/sympy/sympy/pull/7673

[2017-03-19 10:34] Yathartha22 commented on #12340
thanks @aktech I will have a look over these PR's.

[2017-03-19 10:41] Franjov commented on #12267
The output looks good!
You can also check the case with neither `assign_to` nor `standard=95`, and the case with both.

[2017-03-19 11:03] bhavishyagopesh commented on #12235
@asmeurer @bjodah why would just adding the new constants.py(and removing constants from unit.py) wont work....Yeah Could you mention the compatibility issues.

[2017-03-19 12:59] SatyaPrakashDwibedi commented on #11803
@asmeurer L is used because it is of the long type in C which is of max. size so it can handle up to max precision and as you mentioned that it may cause an error in `std:: complex` in C++, but `Language 'C++' is not supported.`. If you would like to make it compatible with C++ then we should define data types and let the user pass it as a flag.
Would that work?

[2017-03-19 13:53] Upabjojr commented on #12313
@SatyaPrakashDwibedi I updated this issue with an example.

[2017-03-19 14:43] SatyaPrakashDwibedi opened #12356 "CodeGen : Implementing for Sum()"
For e.g consider:
[code]
but if I do:
[code]
I think it would be nice if
[code]
and similarly for `fcode` ,`rcode`,`jscode` etc.

[2017-03-19 14:45] SatyaPrakashDwibedi commented on #12313
@Upabjojr
[code]
have a look at #12356 is this what you want?

[2017-03-19 16:39] Upabjojr commented on #12356
Oh, yeah. This could help for extremely large numbers for which python is too slow.

[2017-03-19 16:41] Upabjojr commented on #12313
It's related but different. Here it's about allowing the explicit summation of indexed objects (that is, mark which indices are summed over).

I'd recommend not to try to fix both issues at the same time (one at a time sounds OK).

[2017-03-19 16:43] Upabjojr commented on #12356
There are already methods to generate for-loops in the code printer. I think this could be solved by adding a few lines to the `CodePrinter` class.

[2017-03-19 16:53] SatyaPrakashDwibedi commented on #12356
@Upabjojr yes I think you are right.

[2017-03-19 20:04] bjodah commented on #12356
Doing the summation in C makes sense when we don't know the limits beforehand. e.g.
[code]
or
[code]

[2017-03-20 01:02] asmeurer commented on #11803
We now have a separate C++ printer, so we should C++ specific things in there.

[2017-03-20 02:03] SatyaPrakashDwibedi commented on #12356
@bjodah yes you are right but I this is regarding #12313 what about this one?
I am thinking of adding `isinstance(rhs,Sum)` to `_print_Assignment ` in base class `codeprinter` as this can be used by all code generators because I think the fix is needed to be done for every language

[2017-03-20 03:01] siefkenj opened #12361 "Misspelling of "Bareiss" in Matrix module"
There are several references to the "Bareis" method for determinants, though his name appears to be spelled "Bareiss".  I assume this should be fixed and the one `s` version should be deprecated.

https://en.wikipedia.org/wiki/Bareiss_algorithm
https://www.genealogy.math.ndsu.nodak.edu/id.php?id=12730

[2017-03-20 03:59] asmeurer commented on #12356
Dupe of https://github.com/sympy/sympy/issues/10194

[2017-03-20 04:53] siefkenj opened #12362 "MatrixElement in an Add cannot compare with `equals`"
For some reason, calling `.free_symbols` on a `MatrixElement` returns the matrix instead of the `MatrixElement`.  A consequence is that the following errors.

[code]

with

[code]

this is because `(A[1,1]-A[1,0]).free_symbols` returns `{A}` instead of `{A[1,1], A[1,0]}`.  However, overriding `.free_symbols` in `MatrixElement` to _do the right thing_ causes a host of errors in the matrix tests.

[2017-03-20 05:32] SatyaPrakashDwibedi commented on #12356
@asmeurer Ok.
But is my approach for solving it is correct?
I have solved for `ccode`,`fcode`,`jscode`,`rcode` and only some is left when it will be complete I will refer there and will close this.

[2017-03-20 05:32] mohit3011 commented on #12325
@jksuom ,If this issue is still open I would like to give it a try.

[2017-03-20 07:24] #12325 closed

[2017-03-20 10:10] sum2it commented on #12327
What do you think should be the proper way to approach this? What if evaluating imaginary part takes more time than ask(Q.real(n)) in some case?

[2017-03-20 13:09] Riyuzakii commented on #10983
@asmeurer i have done changes to the files on my pc regarding this issue but when i try to push using:
git push -f origin
it says:
[code]
can you please help me out?

[2017-03-20 14:07] amrandahvur commented on #12361
Can I be assigned this :)

[2017-03-20 15:03] gxyd commented on #12305
It does seem like `-3381*_t** 5 + 160*_t**3 + 80*_t**2 + 15*_t + 1` can be factored. But is it necessary for it to be factored?

[2017-03-20 15:08] smichr opened #12366 "(all) GeometryEntity should return equaion"
For `Point(x1, y1)`, the equation could be `(x - x1)*(y - y1)` and for objects like `Segment`, a `Piecewise` could be returned. I'm not sure what could be returned for the undefined region, however. Maybe `I`?

[2017-03-20 16:24] siefkenj commented on #12366
The graph of solutions to `(x - x1)*(y - y1)==0` look like a `+` symbol.  I'm not quite sure the utility of this.  Things of co-dimension 1 are level curves of nice functions, and if the co-dimension is higher, you should use a system of equations.

Of course, you can get things of higher co-dimension if you allow your function to have a critical value there.  For example `Point(x1,y1)` is the uni

[2017-03-20 18:09] asmeurer commented on #10983
@Riyuzakii you need to push to your fork. See our developer workflow for more information https://github.com/sympy/sympy/wiki/Development-workflow.

[2017-03-20 18:18] smichr commented on #12366
I knew that `x**2 - a*x*y - y**2` looked like that but convinced myself that what I entered was right...but you are. I like the square form, however. The utility is that one could use a general solver for geometrical object intersections. Perhaps the individual solvers for 1D, 2D-limited (like Segment) and general equations is better.

[2017-03-20 18:29] siefkenj commented on #12366
You'd have to be careful though.  The intersection of `Point(0,0)` and `Line(Point(0,0),Point(1,1))` is `Point(0,0)`, but `x**2+y**2 == y - x` has other solutions.  You need `x**2+y**2 == y - x == 0` to limit yourself to the correct solution.  Or am I misinterpreting how you'd aim to use the solver?

[2017-03-20 18:32] bjodah opened #12369 "Start using spherical_jn from SciPy"
SciPy 0.18 deprecates `sph_jn`, we should use a try/except block to try to import spherical_jn

[code]

here is the use of sph_jn:
[code]

[2017-03-20 18:48] asmeurer commented on #12356
The issue is handling Sums as part of larger expressions. As far as I know, you can't have a loop inside an expression in C (don't know about the other languages). That's why I started working on the ast objects in sympy.codegen, so we can start to represent non-expression code objects for printing. But the For object was never finished (in particular, https://github.com/sympy/sympy/pull/11278 nee

[2017-03-20 18:51] asmeurer commented on #12356
And we really should think about clean ways to separate expression and non-expresssion printing in the code printers. If someone writes a C template, and has `f({code})` and replaces `{code}` with `ccode(expr)`, that will be invalid C if `ccode` for `expr` happens to return a non-expression (like a for loop). So I think all the code printers need some `expression=True` flag, and there needs to be

[2017-03-20 19:21] bjodah commented on #12356
`expression=True` is what `assign_to=None` does right now or am I missing someting?
Perhaps we should even deprecate the `assign_to` kwarg once we have some other printer-like class that can handle a proper ast.

[2017-03-20 19:24] SatyaPrakashDwibedi commented on #12356
@bjodah I agree with you.
Won't it be nice if we implement using `Eq()`.

[2017-03-20 19:26] anca-mc commented on #12226
Tracing the steps for the above example into the method _solve_system() from the solvers module I noticed that the problem resides actually into
the _solve() method from the same solvers module: at some point it encounters the equation
eq = -a*v - c + (a*b*v - a*v + a - 1)/(b-1), to solve for the variable a.
The equation, solved by hand, gives the solution: a= b*c - c + 1.

However solve() produce

[2017-03-20 19:31] asmeurer commented on #12356
Yes, I would deprecate (eventually) assign_to in favor of using an Assignment.

Setting assign_to requires that the expression be a value. You can break certain non-expressions up across assignments like if/else chains, but consider something like a for loop or a code block. It isn't an expression, but also doesn't really have a value to assign to. So I think there is some confusion. assign_to='x'

[2017-03-20 19:36] SatyaPrakashDwibedi commented on #12356
@asmeurer I think setting a default flag in `settings` and overriding that in `ccode` will work.

[2017-03-20 20:08] Vedarth commented on #12185
@maccaughanc Thanks for your answer. I am terribly sorry for late reply. I wasn't familiar with sympy and github's markdown when i faced this issue but, even though now I am familiar with the codebase, your explanation was really helpful and accurate. I should have read it and replied to it sooner.
Thanks a lot for your help.

[2017-03-20 20:08] #12185 closed

[2017-03-20 21:06] SatyaPrakashDwibedi commented on #12356
@asmeurer can we do like this:
[code]
Will it work this way

[2017-03-20 21:11] E-DEA commented on #12369
@bjodah I would like to take up this issue. Also, any kind of specifications about the problem would be helpful.

[2017-03-20 21:13] mamakancha commented on #12369
@E-DEA Hey! I had actually started working with this issue . Would it be fine if I continue working on this issue instead?

[2017-03-20 21:15] bjodah commented on #12369
@E-DEA go ahead. Not sure what you mean about specific failures, this issue is only about that single deprecation warning.

[2017-03-20 21:15] nicoguaro opened #12371 "pde_separate fails for the hydrogen atom equation"
Trying to solve the Hydrogen atom equation using separation of variables for the radial and angular part (as it is commonly done) it returns ``None``, see code below.

    from sympy import symbols, S, diff, sin, pde_separate, Function, Eq
    psi = symbols("psi", cls=Function)
    r, theta, phi, E = symbols("r theta phi E")
    R, T, ang = symbols("R T ang", cls=Function)
    u = psi(r, theta,phi

[2017-03-20 21:17] bjodah commented on #12369
@mamakancha if you've already started just continue and maybe @E-DEA can review your PR (or vice versa).

[2017-03-20 21:21] E-DEA commented on #12369
@mamakancha Ok. Please continue with your work. @bjodah I'll review it thanks.

[2017-03-20 21:21] mamakancha commented on #12369
I have submitted a PR. I will definitely need some help. Please review @E-DEA

[2017-03-20 21:24] E-DEA commented on #12290
@rathirocks-4 Is numpy installed on your system ? I have been working on a problem with the same test and have put up a PR. Hopefully this error doesn't come up if PR is merged.

[2017-03-20 21:27] asmeurer commented on #12356
That works, yes, but the point is that that code cannot be inserted arbitrarily into some other C code. So if someone writes some C boilerplate, with something like

[code]

and replaces `{{{code}}}` with `ccode(expr)`, it won't work (in general, the boilerplate would be more complicated than that). So you can only print something like that if you know the code is going to be inserted into somewhe

[2017-03-21 01:40] mehrdadn opened #12375 "sympy.series() is broken?"
I'll keep it short & sweet. :)
[code]

[2017-03-21 02:00] smichr commented on #12366
No, that's what I intend.  What other solutions are you thinking of for the equation?

[code]

[2017-03-21 02:39] smichr opened #12376 "Ellipse.normal_lines gives wrong result"
{I am just adding this to make sure this doesn't get lost.}

The solution in the doctest for `Ellipse.normal_lines` should read:

[code]

I started to address this in #12350 but that's overkill for this issue in itself.

[2017-03-21 04:04] siefkenj commented on #12366
`x**2+y**2 == y-x` has solutions `(0,0)` and `(0,1)` if we're restricted to the reals.

[2017-03-21 04:48] siefkenj commented on #11034
This is an annoyance.  `ImmutableMatrix` inherits from basic and should have `count`.  There are plans to eventually make `ImmutableMatrix` the default, but that will take a lot of legwork.

[2017-03-21 04:50] siefkenj commented on #11082
For matrices with numbers, it seems that up to 4x4, it's faster to use the general formula, and after that, Bareiss is faster.

[2017-03-21 06:29] rathirocks-4 commented on #12290
Yes, numpy is installed. Could you refer which PR you are talking about?

[2017-03-21 07:47] mamakancha commented on #12376
Hi @smichr
I was working in this issue I am facing a problem (related to `git`). I was working on a branch `A` and had made some changes in that branch and made commits.
To work on this issue I created another branch `B`, however, now my branch `B` also has changes which I had done in branch `A`. What could be the possible reason for that? And how to fix this?

Commands I ran:
[code]

[2017-03-21 08:04] mamakancha commented on #12376
Got the reason. Submitted a PR . Please review.

[2017-03-21 13:08] mohit3011 opened #12381 "Addition of the Laplacian Operator"
While going through the Vector Module I noticed that Laplacian operations haven't been implemented in Sympy yet. I think this functionality can be added as in physics Laplacian operator plays a major role (like in Schrodinger Wave Equations).

Laplacian operations on Scalar functions is of importance and I would like to implement it.
What I hope after this implementation would be
[code]

[2017-03-21 13:08] mohit3011 commented on #12381
@jksuom , @asmeurer  , please review it. Thanks

[2017-03-21 13:17] maurogaravello commented on #12345
I think the problem is in finding roots of polynomials. Indeed at line 89 of polysys.py the instruction
q_roots = list(roots(q).keys())
gives an empty list.
q in this case is the polynomial of degree 4:
Poly(y**4 - 3*y**3 + (-3*sqrt(2) + 1)*y**2 + 2*sqrt(2)*y + 2, y, domain='QQ<sqrt(2)>')

[2017-03-21 15:04] kbauer opened #12383 "`flatten` returns wrong result for lists of Arrays"
When using `flatten` on a list of `Array` objects, the flattened list, the result is as if one had called
`flatten([ Array1, Array1.shape, Array2, Array2.shape, ...])`.

Example code:

[code]

Expected output:
[code]

Obtained output:
[code]

Using sympy (1.0) on Windows 10 through the Anaconda distribution.

[2017-03-21 15:55] smichr commented on #12345
Yes, and I tried raising an error there so the calling routine would fallback to something else and it didn't work either. I didn't look the other direction to see what has to be fixed in roots.

[2017-03-21 16:04] smichr opened #12385 "solve_poly_system misses solution"
As mentioned in issue #12366:

[code]

The solution (0, 1) is missing.

[2017-03-21 16:05] smichr commented on #12385
oops

[2017-03-21 16:05] #12385 closed

[2017-03-21 16:07] smichr commented on #12366
Leave a comment

Yes, but we aren't looking for solutions found by setting the two equations equal; we want only solutions that satisfy both equations. Only (0, 0) does that.

[2017-03-21 16:26] siefkenj commented on #12366
Maybe I don't understand how `solve` works.  `solve((x**2+y**2,y-x))` finds points where *both* `x**2+y**2==0` and `y-x==0`?  If that is the case, then you're right.  I though it somehow was solving for when `x**2+y**2==y-x`.

[2017-03-21 16:47] Upabjojr commented on #11636
Test.

[2017-03-21 16:49] Upabjojr commented on #11636
This issue has been solved.

[2017-03-21 16:49] #11636 closed

[2017-03-21 17:12] peey opened #12386 "Latex printer for MutableDenseNDimArray, MutableSparseNDimArray"
This is related to #11636

If in a jupyter notebook, you run
[code]

Then it outputs `[[Derivative(f(x, y, z), x), Derivative(f(x, y, z), y), Derivative(f(x, y, z), z)], [Derivative(f(x, y, z), x), Derivative(f(x, y, z), y), Derivative(f(x, y, z), z)]]` instead of outputting latex

If you replace MutableDenseNDimArray with MutableSparseNDimArray, the issue is the same. It's working for other tenso

[2017-03-21 17:42] peey commented on #12386
Could someone please try to reproduce this and see if it is working or not? As I was investigating I found that for some reason the Latex printer is not being used for just these two array types - `MutableDenseNDimArray`, `MutableSparseNDimArray`. So it's not an issue with the print methods defined in the latex printer.

[2017-03-21 18:29] SatyaPrakashDwibedi commented on #12356
@asmeurer Can we do this :
say for `Sum()`:
[code]
we can run `Sum(x,(x,y,z)).doit()` on background and return
[code]
Will this work? I mean here we have no loop inside an expression.

[2017-03-21 19:00] asmeurer commented on #12356
That certainly works when the sum has a closed form. The use-case I am interested in is computing dot products (https://github.com/sympy/sympy/issues/10163), which is basically `Sum(x[i]*y[i], (i, 0, n-1))`. If `n` is known ahead of time, you can expand the sum, but if it isn't, you have to codegen a loop.

[2017-03-21 19:10] SatyaPrakashDwibedi commented on #12356
@asmeurer can't we do that using a function to return the value.

[2017-03-21 19:13] asmeurer commented on #12356
Yes, that is a workable solution. The end-goal is for SymPy to be able to code generate as much as possible, so that you have to write minimal boilerplate.

[2017-03-21 19:14] SatyaPrakashDwibedi commented on #12356
@asmeurer ok

[2017-03-21 19:24] siefkenj commented on #12375
Could you elaborate more on the expected behavior?

[2017-03-21 19:28] SatyaPrakashDwibedi commented on #12356
@asmeurer `x` and `y` are vectors right?? :-P I am not going to delete this like last one.

[2017-03-21 19:31] mehrdadn commented on #12375
The result should have a constant term of `3`

[2017-03-21 20:06] asmeurer commented on #12356
Yes, they would be either Indexed objects or MatrixSymbol objects (probably the latter, as we now have `DotProduct`). They would codegen to "x[i]", that is, arrays in C.

[2017-03-21 21:08] mohamedotnet commented on #10095
(exp(-1)/2)**oo

nan

So, I don't think that it is a bug.. Perhaps you should calculate the limit instead.

[2017-03-21 21:31] siefkenj opened #12389 "normalize and deprocate some names of Matrix methods"
At the moment, there are many inconsistencies in the names of the methods of `BaseMatrix`.  For instance, there is `.berkowitz_det()` for computing the determinant using the Berkowitz algorithm and then there is `.det_LU_decomposition()` for doing the same via LU decomposition.

Besides that, I think many of these methods shouldn't be exposed in the API.  In the `det()` case, you can already call

[2017-03-21 22:05] SatyaPrakashDwibedi commented on #12356
I think this might work:
1.make a `cfunctions` module as @bjodah done in #12357
2.In that add a `Sum` defined by us.
3.While generating code we can display `Sum` function which will be used as some kind of generalised function generated when Sum encountered.
else:
have a look at `qsort` in C. For this a new header file is to be added not in `math.h`

[2017-03-22 02:44] siefkenj commented on #12376
Should the test get changed to `@XFAIL` while we know this is wrong?

[2017-03-22 05:14] SatyaPrakashDwibedi commented on #12356
I mean include all loop returning strings from `ccode` in a headerfile

[2017-03-22 14:21] smichr commented on #12376
No need: this issue is a "test holder" and when this issue is closed somebody will add this test at that time.

[2017-03-22 16:22] bhavishyagopesh commented on #12158
@moorepants Could you please elaborate what's the issue here?

[2017-03-22 18:00] asmeurer commented on #12356
I believe this is how Mathematica handles this.

[2017-03-22 18:08] SatyaPrakashDwibedi commented on #12356
@asmeurer How should We add that feature in `sympy` or is there any other way to solve this .

[2017-03-22 20:05] asmeurer commented on #12313
Closing this as a dupe of https://github.com/sympy/sympy/issues/10194. Let's continue the discussion over there.

[2017-03-22 20:05] #12313 closed

[2017-03-22 20:07] #12356 closed

[2017-03-22 20:08] asmeurer commented on #12356
The other way to solve it is the way I discussed at https://github.com/sympy/sympy/issues/10194 (by the way, I'm going to go ahead and close this as a duplicate of that issue, to keep the issues clean, but feel free to continue discussing here or over on that issue). Basically by being able to print loops, and having some way print larger, non-expression blocks of code.

Whichever way we solve thi

[2017-03-22 20:28] Shikhar1998 opened #12398 "Limits With abs in certain cases remains unevaluated"
Trying,
[code]

[2017-03-22 21:30] szymag commented on #12345
I run debugger during solving your equation and I found interesting things.
In your case, `roots` has problem with finding roots for this Poly: `Poly(y**4 - 3*y**3 + (-3*sqrt(2) + 1)*y**2 + 2*sqrt(2)*y + 2, y, domain='QQ<sqrt(2)>')`

I did some calculation for another polynomials and I found that, if poly has variables to the power greater than 3, the results may be wrong. For example:
`Poly(y **

[2017-03-22 23:00] mehrdadn opened #12400 "polytool.poly() can't raise polynomial to negative power?"
The code
[code]
should not result in the following, right?
[code]

[2017-03-23 05:29] ShikharJ commented on #10983
@asmeurer @Riyuzakii I already have an open PR regarding this issue. Please refer #12291.

[2017-03-23 06:59] oldk1332 commented on #12305
It was going to sum `(_t * log(x - 216384*_t**4/625 + 54096*_t**3/625 - 3284*_t**2/625 + 5941*_t/625 + 256/625)` over roots of `-3381*_t** 5 + 160*_t**3 + 80*_t**2 + 15*_t + 1`, so yes, it should be factored.

Then the answer can be written in closed form, although it will be huge.

[2017-03-23 09:25] jksuom commented on #12400
This looks like a bug. Negative exponents should not be used in the construction of polynomials [here](https://github.com/sympy/sympy/blob/master/sympy/polys/polytools.py#L6862).

[2017-03-23 14:32] jondo opened #12404 "Recursion error in eigenvector computation"
I am testing the following in SymPy 1.0:
[code]
I started it in the evening, and in the morning I found a `RecursionError: maximum recursion depth exceeded`.
Wolfram Alpha computes [this result](http://www.wolframalpha.com/input/?i=eigenvalues+of+%7B%7B1%2FSqrt%5B3%5D,+1%2FSqrt%5B2%5D,+1%2FSqrt%5B6%5D%7D,+%7B1%2FSqrt%5B3%5D,+-(1%2FSqrt%5B2%5D),++++1%2FSqrt%5B6%5D%7D,+%7B-1%2FSqrt%5B3%5D,+0,+2%2FSq

[2017-03-23 15:08] jondo commented on #12404
My current workaround is to see the eigenvalue `eival=-1` from `M.eigenvals()`, then manually compute `(M-eival*eye(3)).nullspace()[0].evalf())`, because that's what I really need.

[2017-03-23 16:04] gxyd opened #12405 "Coercion error for a Poly created with dummy symbols"
[code]

[2017-03-23 16:38] asmeurer commented on #12405
I would expect this. Dummy symbols should compare unequal to their symbol counterparts, which is what the string domain creates. How did this come up?

[2017-03-23 16:57] gxyd commented on #12405
I was trying to use the output of `DifferentialExtension` with input like
[code]

[2017-03-23 18:31] asmeurer commented on #12405
As discussed no Gitter, I think that we should consider changing the default in DifferentialExtension to `dummy=True`, since that is generally what you want when creating it manually.

[2017-03-23 18:43] dalleyg commented on #11922
Here's an even simpler example of `integrate` mishandling piecewise functions in version 1.0.

    Piecewise((0, t < 1), (10*t, t >= 1))

A correct answer to the indefinite integral is:

    Piecewise((0, t < 1), (10*t - 10, t >= 1))

The problem is that `sympy.integrate` independently computes the indefinite integral for each part, setting the piecewise constant offset to 0 rather than computing

[2017-03-23 19:40] gxyd commented on #12405
Changing from `dummy=True` to `dummy=False` fails [one test](https://github.com/sympy/sympy/blob/master/sympy/integrals/tests/test_risch.py#L635).
[code]

[2017-03-23 19:54] asmeurer commented on #9658
Travis finally has this feature built in https://blog.travis-ci.com/2017-03-22-introducing-auto-cancellation. I've enabled it for pull request builds. It seems reasonable to leave it off for master builds, and there aren't many of them anyway (only one per merged PR).

[2017-03-23 19:54] #9658 closed

[2017-03-23 20:55] toolforger commented on #9658
Am 23.03.2017 um 20:54 schrieb Aaron Meurer:

Nice to see that this has finally become possible :-)

[2017-03-23 21:51] mamakancha commented on #12404
@jondo
I ran the following code :

[code]

I got my output for `ev = M.eigenvects()` in seconds, and same was the case with `M2 Matrix`.
Try doing this again after updating your sympy version.

[2017-03-23 22:04] mamakancha commented on #12404
@jksuom Also, is there any function in Sympy from where we could view our output in term of square roots as provided by Wolfram [here](http://www.wolframalpha.com/input/?i=eigenvalues+of+%7B%7B1%2FSqrt%5B3%5D,+1%2FSqrt%5B2%5D,+1%2FSqrt%5B6%5D%7D,+%7B1%2FSqrt%5B3%5D,+-(1%2FSqrt%5B2%5D),++++1%2FSqrt%5B6%5D%7D,+%7B-1%2FSqrt%5B3%5D,+0,+2%2FSqrt%5B6%5D%7D%7D) as it would look better. ? As in this forma

[2017-03-23 22:06] #12386 closed

[2017-03-23 22:35] jondo commented on #12404
@mamakancha, you have to leave out the statement `from math import sqrt` to get the error and the symbolic results.

[2017-03-24 00:40] SatyaPrakashDwibedi commented on #12356
@asmeurer As you have stated the use of `mdefs.h` can't it be done?
I mean in that way we can do the mapping from `//Not Supported in C` to the header files they are in and add them when encountered.

[2017-03-24 00:56] SatyaPrakashDwibedi commented on #12356
Reg. header file approach:

- Define a C header file say`pythonc.h`

- Include all the nonsupported `Sympy` functions and implementation in `C`; basically, we should write a C header file for python's functions.

[2017-03-24 02:40] Hell0Kitty commented on #12361
Hello,
I am willing to help fix this issue and I have started.

[2017-03-24 02:49] asmeurer commented on #12215
https://github.com/sympy/sympy/pull/12227 was merged

[2017-03-24 02:49] #12215 closed

[2017-03-24 03:09] smichr commented on #12345
Note that the docstring says, "Only roots expressible via radicals will be returned."

[code]

[2017-03-24 03:09] smichr commented on #12366
yes, that's how it works.

[2017-03-24 04:03] smichr commented on #12366
Perhaps the Piecewise could contain a NaN for the region outside of the range or domain of interest:

[code]

But it looks like there are some issues:

[code]

[2017-03-24 06:09] siefkenj commented on #12361
There is already a complete pull request PR #12363 to address this.

[2017-03-24 06:26] choyiny opened #12409 "Expanding number theory class: Implemeting Quadratic Sieve"
Furthering our discussion in the mailing list (https://groups.google.com/forum/#!searchin/sympy/quadratic$20sieve%7Csort:relevance/sympy/BAcULntETIs/mzUuxpVCAAAJ), I would like to propose again the expansion of the number theory class with the implementation of the quadratic sieve for larger numbers.

Currently the algorithms for the largest numbers is the pho's p-1 algorithm, and the quadratic si

[2017-03-24 08:48] jksuom commented on #12404
There are two versions `sqrt` involved, the symbolic one in SymPy and the floating point square root of Python `math`. It seems that the computation with floating point numbers will succeed in SymPy, but the results are approximate. I suspect that the problems with symbolic computation derive from the limited ability to solve cubic (and quartic) equations with non-rational coefficients as is evide

[2017-03-24 10:30] jksuom commented on #12409
You are welcome to send a PR on the implementation. If you want to discuss its development in more detail, you can tag the PR with [WIP] (i.e., Work In Progress) even before it has been completed.

[2017-03-24 12:50] jondo commented on #12404
The Wolfram results of [M](http://www.wolframalpha.com/input/?i=eigenvalues+of+%7B%7B1%2FSqrt%5B3%5D,+1%2FSqrt%5B2%5D,+1%2FSqrt%5B6%5D%7D,+%7B1%2FSqrt%5B3%5D,+-(1%2FSqrt%5B2%5D),++++1%2FSqrt%5B6%5D%7D,+%7B-1%2FSqrt%5B3%5D,+0,+2%2FSqrt%5B6%5D%7D%7D) and [M2](http://www.wolframalpha.com/input/?i=eigenvalues+of+%7B%7B1%2FSqrt%5B3%5D,+1%2FSqrt%5B2%5D,+1%2FSqrt%5B6%5D%7D,+%7B1%2FSqrt%5B3%5D,+-(1%2FSqrt

[2017-03-24 12:54] jksuom commented on #12345
It seems that `root` is currently treating algebraic coefficients such as `sqrt(2)` by default as elements of `EX` domain, which the specific cubic and quartic solvers cannot handle. If one sets the argument flag `extension=True`, then the polynomial will be constructed properly (line 877 of polyroots.py) but later `retract` in `polytools` will lose the domain. This could probably be fixed by addi

[2017-03-24 13:00] #12361 closed

[2017-03-24 13:33] maurogaravello commented on #12345
I tried to add the following lines to the roots function.
        if len(result) == 0:
            for r in _try_heuristics(f):
                _update_dict(result, r, 1)

In this way, it seems to me that the roots of the polynomial are found correctly. All the tests are ok. I do not know if it is a good solution.
However, the result to the original problem 'nonlinsolve((x**2-y-sqrt(2), x**2+x*y-y

[2017-03-24 17:45] SatyaPrakashDwibedi commented on #12356
@asmeurer we can't add loop inside an expression in C but we can add recursive function returning result in c. Won't that work?

[2017-03-24 17:55] inducer opened #12411 "Efficiency of common subexpression elimination"
I'm writing to start a discussion on the efficiency of `sympy.cse`. We make [extensive use](https://github.com/inducer/sumpy/blob/master/sumpy/assignment_collection.py#L168) of CSE in some of our integral equation code, and we've made a number of observations:

* Sympy 1.0's CSE is viable for us, efficiency-wise.
* Something happened post-1.0 that has drastically worsened the CSE running times, to

[2017-03-24 18:05] asmeurer commented on #12356
How would you do it recursively?

[2017-03-24 18:45] smichr commented on #12345
Ohh...so perhaps that's it: solve_biquadratic relies on `roots` which only gives solutions 'expressible via radicals' so if the two quadratics don't have such a solution there will be no solution returned. Perhaps the only thing that needs to be done is to update the docstring to reflect this "feature." Better, there should be some sort of fallback to give a solution even if it takes longer.

[2017-03-24 19:20] asmeurer commented on #11703
This is (I believe) causing some weird issues with sorting floats. Consider the list:

[code]

We have

[code]

I'm not entirely sure what is going on here, but I noticed this:

[code]

The [docs](https://docs.python.org/3.6/howto/sorting.html#odd-and-ends) for `sorted` say that it uses `<` only, so I'm unsure exactly if this is the source of the problem. But I do think that Floats should compare

[2017-03-24 19:57] satels opened #12412 "Poly(..).as_dict() different keys for expr and expr.n()"
[code]

[2017-03-24 20:07] jksuom commented on #12412
Also
[code]

[2017-03-24 21:31] siefkenj commented on #12389
@moorepants @asmeurer @smichr @jksuom  do you have opinions about this?

[2017-03-25 01:45] asmeurer commented on #12389
I like keeping the decompositions uppercase. That makes it clearer at a glance that that's what that sequence of letters means. It does break with NumPy conventions, though.

[2017-03-25 02:08] smichr commented on #10699
All here is as intended. `Eq(foo, foo)` is shorthand for `True` unless `foo==S.NaN`. The Piecewise should be written as `Piecewise((-7, Eq(x, 0)), (-1/x , True))`.

[2017-03-25 02:08] #10699 closed

[2017-03-25 02:22] smichr commented on #12411
YES! The current cse solved outstanding issues which are now tested, so if those still pass with anything new that does the task in a more efficient way, it would be supported by me. I also commented on a paper implementing a mathematically well defined strategy at [here] (https://github.com/sympy/sympy/issues/11577#issuecomment-286308372). Other than that reference, I don't know how to improve th

[2017-03-25 02:29] smichr opened #12414 "solve system of equations involving Piecewise"
Although a single Piecewise can be solved, even if it is part of a larger expression, a system of equations involving Piecewise is not solved:

[code]

So the approach would likely involve returning the union of solutions obtained from all combinations of equations represented with consideration of the constraints of each piece. e.g. for `Piecewise((e1, c1), (e2, c2))` and `Piecewise((E1, C1), (E2

[2017-03-25 02:50] smichr commented on #9357
[code]

[2017-03-25 03:08] smichr commented on #12345
@jksuom -- I just noticed that I didn't see your response. Thanks for identifying this. Are you trying any of these modifications or would you prefer that someone else do so?

[2017-03-25 03:39] smichr commented on #12345
Well, it's pretty straightforward to do as you have said. I got these results

[code]

with these modifications -- I"m not sure if I put the right defaults in but would have to think about that later.

[code]

With those mods, @szymag 's example works like this:

[code]

To preserve backward compatibility, the default to `roots` should probably be `None`. Any thoughts?

[2017-03-25 05:06] SatyaPrakashDwibedi commented on #12356
Consider:
`>>>ccode(Sum(i,(i,0,9)))` should generate
[code]

[2017-03-25 06:29] Vedarth commented on #12300
@smichr  First of all I am so sorry for extremely late response. Secondly, I don't think def _entry is the culprit. _entry's job is to tell if e[i,j] is 0 or 1 depending on the values and i think it is doing it's job just fine. But the problem is that when we write e[i,j] it automatically assumes i and j are different and ignores the cases where they are ,in fact, same. I tried

if eq == True:

[2017-03-25 06:30] jksuom commented on #12389
I generally like all lowercase names for functions, but in case of acronyms like LU I think uppercase is better. I have no strong opinion on whether those should be separated by _ or not since both forms are visually sufficiently clear, but maybe I would slightly prefer adding _.

[2017-03-25 06:49] jksuom commented on #12345
That was my intention. It should not be hard to do though some unit tests may have to be revised. I think that taking all measures against being forced to use the EX domain is highly important in polyroots (and also elsewhere in polys).

[2017-03-25 07:40] mohit3011 opened #12416 "Addition of Directional Derivative Function"
Sympy, currently doesn't support the directional derivative function which is used for finding the components of a scalar field along a vector.

Directional Derivative functions are of importance these are used in vector mathematics as well as in differential geometry.

I hope that after this the issue has been solved we would be able to do the following:
[code]

[2017-03-25 07:43] mohit3011 commented on #12416
@jksuom  , @asmeurer  . Please have a look . Thanks

[2017-03-25 08:00] Vedarth commented on #12414
I would like to work on this issue. How do I start?

[2017-03-25 08:25] #11727 closed

[2017-03-25 08:26] ArifAhmed1995 commented on #12411
@inducer The current CSE does have limitations. Does the code by @mattwala improve speed **and** final result ?
I have studied the paper suggested by @smichr and have written a [proposal](https://github.com/sympy/sympy/wiki/GSoC-2017-Application-Arif-Ahmed:-Improve-Code-Generation-in-SymPy) for GSoC'17 regarding implementation of a robust CSE and other code generation improvements. I still thinkin

[2017-03-25 11:59] szymag commented on #12345
I run all test in `polys` with your mods. Unfortunately, some test didn't pass. In every case I had the same output:
[code]
When I set False in extension flag
[code]
I preserve backwad compatibility. I'm still not sure if this error, `OptionError,` should be raised or we should change something more.

[2017-03-25 12:58] smichr commented on #12345
Do you mean that you think the user should not have to worry about setting `extension=True` (thus, just make `roots` "do the right thing") or do you mean that `extension` should not be set True unless it really needs to be?

[2017-03-25 13:00] jksuom commented on #12345
It seems that the role of the composite flag in
`field=field, composite=f.domain.is_Composite or None, extension=extension)`
should be examined more closely. Under which circumstances is it necessary?

I think that it should be possible allow both composite and extension in construct_domain, at least if we want to give symbolic solutions to equations (of degree <= 4) having symbolic coefficients.

[2017-03-25 13:07] jksuom commented on #12345
I mean that extension could probably be always True in `roots` (unless maybe when the coefficients are Floats). It should not usually be harmful even if it is not really needed.

[2017-03-25 13:18] smichr commented on #12414
I would start by considering 1 Piecewise and 1 non-Piecewise and figure out what sets of equations would need to be solved. Then I would consider 2 Piecewise and do the same thing. Hopefully I would see the generalization and then I would add the code to separate the Piecewise into those systems just before the call to _solve_system at line 1062 of solvers.py, effiectively changing the if/else to

[2017-03-25 13:24] smichr commented on #12345
@szymag , I was reluctant to use False for extension because of this. Do you know the implications of False and None, @jksuom?

[code]

[2017-03-25 13:26] jksuom commented on #12345
I didn't know about that. It looks like one more example of the very conservative restrictions on polynomial options.

[2017-03-25 13:28] jksuom commented on #12345
I think that `construct_domain` should be built in such a way that users would not have to be too much concerned about the flags. It should have sufficient logic to decide which would be the correct result.

[2017-03-25 13:43] szymag commented on #12345
Sorry @smichr, I mean `None`. If we set `None` every test will pass.

[2017-03-25 14:31] smichr commented on #12300
That's because you are using literal values for `i` and `j`: `Eq(i,j)` when `i=1`, `j=2` gives `S.false`.

The modifications that I suggested work only if you don't nest the Sums; I'm not sure why the Sums don't denest when Piecewise is involved but (as @wakita demonstrated) it *is* smart enough when using KroneckerDelta to denest, but it doesn't evaluate until a concrete value is substituted.

[c

[2017-03-25 14:41] smichr opened #12418 "Nested Sum with KroneckerDelta denests but when Piecewise is used, it doesn't"
KroneckerDelta denests

[code]

Piecewise doesn't denest

[code]

The undenested form has problems evaluating:

[code]

If the denested form is used, it evaluates

[code]

[2017-03-25 16:45] Vedarth commented on #12414
@smichr I am on it.

[2017-03-25 17:05] bjodah commented on #12411
Our [benchmarks](https://github.com/sympy/sympy_benchmarks) picked up the speed regression:
http://www.moorepants.info/misc/sympy-asv/#large_exprs.TimeLargeExpressionOperations.time_cse

About a 4x regression for our benchmark. It would be nice to bring it back down, but the quality of the implementation should go first in my humble opinion. After all, if we have a high-quality & well tested imple

[2017-03-25 17:12] smichr opened #12420 "sqrtdenest raises IndexError"
[code]

If an expression cannot be denested it should be returned unchanged.

[2017-03-25 17:40] smichr commented on #12345
OK, I will shortly open a PR. One additional thing that might be addressed (but I am open to some comment) is this:

[code]

[3/2 - sqrt(8 + 6*I)/2 + 3*I/2, 3/2 + sqrt(8 + 6*I)/2 + 3*I/2]
[code]

[(-sqrt(10)*cos(atan(3/4)/2)/2 + 3/2, -sqrt(10)*sin(atan(3/4)/2)/2 + 3/2),
(3/2 + sqrt(10)*cos(atan(3/4)/2)/2, sqrt(10)*sin(atan(3/4)/2)/2 + 3/2)]
[code]

[_x**2 + 1, _x**2 - 6*_x + 13]

[{I: 1, -I: 1}, {

[2017-03-25 18:07] Vedarth commented on #12300
@smichr Thanks for quick response. I am really very sorry. I took so long to act on this issue, I spent countless hours on figuring out what is wrong, ran traces again and again but I was still not able to make any significant contribution. I am gonna try to be more efficient next time around.

`# the double sum form doesn't work`
Why is it so that even after substituting i and j with concrete val

[2017-03-25 18:10] #12300 closed

[2017-03-25 18:24] smichr commented on #12300
If you could give the input and output of an interactive session that would reduce guessing on my part. I am not sure which expression you are substituting concrete values into.

The expression `Sum(Piecewise((1, (0 <= j) & (j <= n - 1)), (0, True)), (j, 0, n - 1))` is not smart enough to evaluate to `n`; I don't suspect this is a simple change to make. In any case, once concrete values are substi

[2017-03-25 18:31] smichr commented on #12300
@wakita , thanks for raising the issue. Regarding your question,

I think it might be complicated to get the Sum to simplify to the desired value of `n`. Can you think of a straightforward way to test for this condition?

[2017-03-25 18:32] smichr commented on #12300
(You might want to open a new issue for this.)

[2017-03-25 18:44] Vedarth commented on #12418
I stumbled on this issue as well.
 ```Sum(Piecewise((1, (j >= 0) & (j <= n - 1))), (j, 0, n - 1))```
How to solve it?

[2017-03-25 19:05] siefkenj commented on #12389
Good point about NumPy.  The NumPy API lists functions

[code]

all lower case.  Perhaps a reasonable solution would be to have `LU_decomposition()` and `lu()` aliased as the same function. That way NumPy people get what they expect, and it's also easy to see at a glance by a different name.

[2017-03-25 20:14] Vedarth commented on #12300
@smichr

Then why did you close this issue? Because main problem is that we are not getting sum of all the elements of an identity matrix. I mean I know it is not giving an incorrect result but still... this answer feels incomplete. I am with @wakita on this one.

are you talking about the three cases true false and unevaluated?
okay so you are trying to minimize the amount of times KD is called.

[2017-03-25 20:28] SatyaPrakashDwibedi opened #12423 "Codegen:Boolean Implementation"
[code]
I think this is a bug in sympy it should return
[code]

[2017-03-25 20:31] SatyaPrakashDwibedi commented on #12423
I have fixed the bug inside the `codegen.py` file but having doubts regarding where to add the test case in which function

[2017-03-25 21:02] smichr commented on #12345
@jksuom , do you know how to fix this so `test_evalf_issue_939` passes?

[2017-03-25 21:18] moorepants commented on #12423
I think it should be a test case in the C printers.

[2017-03-26 02:28] #9821 closed

[2017-03-26 04:06] SatyaPrakashDwibedi commented on #12423
@moorepants Do you mean `test_ccode.py`; it's already there.
I mean on
[code]
but above `codegen` func didn't give the correct function.
 I think test case should be added somewhere in` tests` of `codegen.`

[2017-03-26 04:33] inducer commented on #12411
It's my understanding that his code largely exploits opportunities for eliminating redundant work and as such likely doesn't make much of a difference in terms of the result obtained. He did mention finding and fixing some issues IIRC. I'll let him comment on the details.

[2017-03-26 06:23] bhavishyagopesh commented on #11759
@moorepants I made a PR(#12424), please suggest if it lacks anything....

[2017-03-26 06:39] smichr commented on #11290
Not any more, it should have been closed with #11705 but there was no magic "Fixes #11290" in the PR.

[2017-03-26 06:39] #11290 closed

[2017-03-26 06:54] smichr commented on #12345
OK, here's what I've found. In one place it was necessary to watch for a CoercionError and retry roots with `extension=False` to get it to work. In a couple of places, the roots that are coming back are too complicated for sets to work with properly. In one case I added simplification in the code (`Gt(...).simplify()`) and in another I simplified a result coming back in a test. This feels very hac

[2017-03-26 07:00] jksuom commented on #12345
I see that the EX domain is again involved. I don't know yet how to fix that, but I'll try to look into it. In any case, `construct_domain` should not offer EX when there is nothing worse in the coefficients than symbolic parameters (`composite`) and radicals (`extension`). It should be possible to make them live together.

[2017-03-26 07:17] jksuom commented on #12345
So, I think that `construct_domain` is the main target here. Right now we can only try to work around the problems by attempting various combinations of the keywords, but that also feels very hackish.

[2017-03-26 11:17] bhavishyagopesh opened #12425 "Is `sympy/doc/src/modules/rewriting.rst` complete?"
It abruptly ends with More Information :

[2017-03-26 14:03] smichr opened #12426 "DiagonalMatrix[i, j] -> 0"
Similar to #12300, DiagonalMatrix references to position (i,j) give 0:

[code]

[2017-03-26 14:04] smichr commented on #12426
ping @bhavishyagopesh at #12316

[2017-03-26 14:32] smichr opened #12427 "DiagonalMatrix assumes shape is square"
`DiagonalMatrix` assumes its shape is (row x row):

[code]

So it is not surprising that the multiplication may fail;

[code]

But non-square matrices should be allowed:

[code]

The effective matrix size should be the minimum of the given dimensions. When any dimension is symbolic, there should be a way to indicate which one is the smaller. Or if one is symbolic and the other definite then (maybe

[2017-03-26 15:55] Vedarth commented on #12414
@smichr How to trace a code? In #12300 you said you you used trace but when I use trace it either gives me so many functions (by using `--functions`) it becomes impossible to find the relevant one or gives                nothing relevant i.e. `--count`. How to trace a code efficiently in Sympy. Here I am trying to figure out how Piecewise works. So i figured using trace might be handy. Btw is ther

[2017-03-26 17:42] bhavishyagopesh commented on #12426
@smichr I found something really strange(only if I'm not mistaken)
`from sympy import *
from sympy import Q as Query`

[2017-03-26 18:02] asmeurer commented on #12425
If you look at the rst, it is trying to pull in the docstring for cse, but it isn't working. What's even more concerning is that this didn't even raise a warning in sphinx, or else the docs build would have failed.

[2017-03-26 19:12] bjodah commented on #12423
Logcial operators operating on `double`s? I know it's defined but in my book that is a recipe for some serious confusion.

Isn't the user expected to pass something like:
[code]

[2017-03-26 19:34] SatyaPrakashDwibedi commented on #12423
@bjodah it works right for `ccode` but not for `codegen` the error is in `utilities.codegen` i.e if you run above command it does not work.

[2017-03-26 21:41] Vedarth commented on #12426
@smichr Here is my solution :- #12428
Kindly review it.

[code]
I used your solution and @bhavishyagopesh solution to make a very efficient code.
Is is it giving the expected answer?@smichr Here is my solution
[code]
I used your solution for #12300
Is it giving the expected answer?

[2017-03-26 21:46] achetan40 commented on #12158
I could not reproduce the issue, it seems to have been already solved.

[2017-03-26 22:07] Vedarth commented on #12426
@bhavishyagopesh

d = DiagonalMatrix(x)
d[1,1]

What you have done here is that, you have made a matrix of a matrix see if you take output of d only you get
[code]
So basically what sympy is thinking is that you have put a matrix inside a diagonal matrix. That is a matrix which is made of a matrix. It is quite complicated for me to describe exactly what you have done. d[0,0] is coming as 1 which i

[2017-03-26 22:14] mohit3011 commented on #12425
@asmeurer , I would like to work on this issue. Could you please tell me which file raises warning for rewriting.rst . Thanks

[2017-03-26 23:07] Vedarth commented on #12425
@asmeurer Here is my solution :-- #12428

Btw where is docstring for cse. Like what we need to do is simply write cse or something different after ```..autofunction::```?
I simply wrote cse. Please do review my changes.
I am really sorry  for mixing multiple solutions into single commit but my previous pull request hasn't been reviewed yet so I put solutions of two issues in a single pull request.

[2017-03-26 23:14] Vedarth commented on #12426
@smichr I am terribly sorry that I am submitting solutions of two different issues in a single pull request. I just don't how else could I have done it.

[2017-03-27 00:37] moorepants commented on #12158
When pretty printing is enabled, subscripts should shows a unicode subscripts. But this likely not fixable because unicode does not have definitions for all symbols as subscripts it seems. See: https://en.wikipedia.org/wiki/Unicode_subscripts_and_superscripts

[2017-03-27 02:42] smichr opened #12429 "solveset(log(x)/x <= 0, x, S.Reals) ->(0, oo) instead of (0, 1]"
[code]

The solution should be `(0, 1]`.

There is, perhaps, some issue with the `is_finite_with_finite_vars` routine which behaves as follows:

[code]

This is related to the reason behind why the test is failing that PR #12422 is addressing.

[2017-03-27 02:46] smichr commented on #7724
See also #12345 and #12421

[2017-03-27 02:48] smichr commented on #7724
The filters use the assumption system to filter the results, basically `return [i for i in full_solution if i.is_foo]`. So this is limited by the assumption system's ability to deduce these properties. For complicated expressions it might have problems and get a None.

[2017-03-27 11:55] Vedarth commented on #12427
@smichr  I am interested. Where should I start looking?

[2017-03-27 13:23] mohit3011 commented on #12429
@smichr , I would like to work on this issue . Should I start with `is_finite_with_finite_vars` function ?

[2017-03-27 15:02] skirpichev commented on #12345
EX here is for reasons.  It seems, working with algebraic number domains is slow (see #5428).  In my experiments in diofant/diofant#478, where 'extension' was enabled by default - there are several huge slowdowns.  And roots() output also appears much more complex.

[2017-03-27 15:43] smichr commented on #12429
I'm not sure. Why is the complex case coming back as True? Why is the real case None? After knowing that I would proceed to either fix the assumptions or the `_is_finite...`. Once that is working, it seems like `solveset` should not be passing denominators to the `_is_finite` -- they should have been removed after checking for the singularities of the user's function. I can't access the line numbe

[2017-03-27 15:45] smichr commented on #12345
Yes. I haven't had a chance to track that down. So it seems like a smarter auto-selection of when to use it and when to not is needed.

[2017-03-27 16:18] jksuom commented on #12345
I have often seen that working with the EX domain is much slower than with other polys domains. I can imagine that having to deal with many algebraic numbers in different extensions may be slow when those extensions have to be combined. If the computations can be arranged so that a sufficiently large extension is constructed in the beginning, then algebraic numbers should not be slow.

[2017-03-27 16:30] skirpichev commented on #12345
On Mon, Mar 27, 2017 at 08:45:06AM -0700, Christopher Smith wrote:

I doubt there is.  Bad things happens even for simple coefficients
(and low poly degrees), e.g.:

(7 + 5*sqrt(2))*x**3 + (-6 - 4*sqrt(2))*x**2 + (-sqrt(2) - 1)*x + 2

There are very simple algebraic number field,  QQ<sqrt(2)>.

[2017-03-27 19:00] ig248 opened #12432 "sympy.core.basic.Basic.replace does not permit type casting if result is numerically equal to original expression"
Replacement is only performedif `new != expr` (see https://github.com/sympy/sympy/blob/master/sympy/core/basic.py#L1393). This behavior prevents the user from performing replacements such as

[code]

The purpose of equality checking is unclear, but if it serves a deeper purpose, I will happily close the issue.

[2017-03-27 19:17] asmeurer commented on #12423
If the fix was in the codegen code I would add the test to the test_codegen.py file.

[2017-03-27 19:26] SatyaPrakashDwibedi commented on #12423
@asmeurer I am confused about adding in which function or should I define a new function for it?

[2017-03-27 20:10] SatyaPrakashDwibedi commented on #12423
@asmeurer See the changes I have done #12433  and it's giving output as required.

[2017-03-27 20:11] asmeurer commented on #12432
The equality check is there for a fast exit. The real issue here is that either `2.0 == 2` should not be True, or they should be the exact same object. See https://github.com/sympy/sympy/issues/11707 for more details.

[2017-03-27 20:46] wakita commented on #12300
Sorry I have not been able to respond earlier.  I appreciate @smichr and @Vedarth for taking your time and work deeply on this.

It is good to see that we have a fix on a wrong result problem.  I agree that it should be smarter but as @Vedarth speculates there seems to be much to be done.  I think the (not so smart) bugfix should be merged at an earlier point of time.

By the way, for your referen

[2017-03-27 20:49] asmeurer commented on #10675
I don't see any reference to this in #10657.

I don't agree that 0.3 and Rational(3, 10) should has the same, since they are not exactly equal (3/10 is not exactly representable as a floating point number). I would rather see `0.3 == Rational(3, 10)` give False.

[2017-03-27 20:52] asmeurer commented on #10675
Oh I see, it's https://github.com/sympy/sympy/pull/10657#r53846283. I'm closing this issue as a duplicate of https://github.com/sympy/sympy/issues/11707

[2017-03-27 20:52] #10675 closed

[2017-03-27 21:27] asmeurer commented on #11707
It really concerns me that to match the Python numeric equality, we have to ignore the precision. I think that `Float('1.0', 15)` and `Float('1.0', 30)` should be unequal. They behave differently in operations:

[code]

But on the other hand, we really do want `Float(1.1) == float(1.1)` to be True, since otherwise people will be too confused when using float literals.

Perhaps as a workaround, we

[2017-03-27 21:31] asmeurer commented on #11707
I'm a little less sure about this, but I also think that it's natural for `Float('1.0')` and `Integer(1)` to be unequal, for the same reason (`Integer(1)` is, in a very rough sense, like `Float('1.0', oo)`).  By the way, note that:

[code]

So I think SymPy is already trying to be too smart here.

Making `Float('1.0') != Integer(1)` would be a break from Python, but I think it is fine, because we

[2017-03-27 21:49] asmeurer commented on #11703
This issue is so closely intertwined with https://github.com/sympy/sympy/issues/11707 I feel it is cleaner to just merge the two. There are strictly speaking three distinct issues (note below, Rational includes Integer as a special-case):

a. SymPy Float equality doesn't match its hashing
b. SymPy Floats and Rationals that are only approximately equal compare equal with `==`
c. SymPy Float hashing

[2017-03-27 21:49] #11703 closed

[2017-03-27 21:51] asmeurer commented on #11707
Here another summary of the problem and my proposed solution https://github.com/sympy/sympy/issues/11703#issuecomment-289596766.

[2017-03-27 22:01] ig248 commented on #12432
Thanks Aaron,

Having read the hashing thread, I agree that a decision on comparing (and
hashing) different numeric types is non-trivial.

My feel is that in the case the short-circuit clause leads to unexpected
behaviour, especially when compared to applyfunc, or map/apply functions in
other libraries.

Do you have any cases in mind where the performance would suffer otherwise?

[2017-03-27 22:02] asmeurer commented on #11707
Potential problem: if two floats with different precision (but that have the same rational representation) compare unequal, the comparison operators will be inconsistent. We would have

[code]

(currently the last item is `True`). So `<=` would not be the same as `< and ==`. `sorted` (I believe) uses only `<` and `==` to do its comparisons, which means that you would get

[code]

And it might mess

[2017-03-27 22:26] asmeurer commented on #12432
I doubt it really matters much for an advanced expression like `replace`. It is more important in things like `xreplace`, which is supposed to be low level and fast. But in general, SymPy assumes that == objects are indistinguishable, which is why the current definition of == on numeric types is so broken.

[2017-03-28 05:05] rajatthakur opened #12438 "Trailing Semicolons"
Some of the files contain trailing semicolons which are redundant and should be removed.

[2017-03-28 08:53] SatyaPrakashDwibedi commented on #12438
@rajatthakur I don't think semicolons are significant in python

[2017-03-28 09:49] rajatthakur commented on #12438
@SatyaPrakashDwibedi You are absolutely right and that is same as what I am saying. Semicolons have no significance in python (at least in this case) and thus should be removed.

[2017-03-28 13:49] #12438 closed

[2017-03-28 13:59] smichr commented on #12414
I use an interactive debugger on Windows. Google also pdb and pudb.

[2017-03-28 15:52] maurogaravello commented on #12429
I noticed different behaviors of `solvify`   depending on different domains.

`from __future__ import division, print_function

from sympy import *
from sympy.solvers.solveset import solvify

x = Symbol('x')
expr = log(x)/x

dom = Interval(0, oo, True)
print(dom)
print(solvify(expr,x,dom))

dom = Interval(0, oo)
print(dom)
print(solvify(expr,x,dom))
`
In case the domain contains `0` the answer is

[2017-03-28 16:26] rajatthakur opened #12441 "Unnecessary Backslashes"
Several files contain redundant backslashes which should be removed.

[2017-03-28 16:38] #12257 closed

[2017-03-28 16:53] maurogaravello commented on #12429
I think that the problem is in the line 104 of `solveset.py`:

In the case, the function to be inverted is `log(x)/x`. In this case the inversion fails and so the return `s` is `0`, but it belongs to the co-domain and not to the domain. So `s.intersection(domain)` has not sense in this example.

[2017-03-28 19:25] Upabjojr opened #12443 "Trigonometric functions with units: degrees and radians"
[code]

Should trigonometric functions accept expression with units?

[2017-03-28 19:47] mohit3011 commented on #12443
@Upabjojr , what is the issue here, could you please explain ?

[2017-03-28 19:48] Upabjojr commented on #12443
Should output 3 be 1/2?

[2017-03-28 19:52] Upabjojr commented on #12443
Sorry, it's currently working in the master branch, but won't work anymore if #12246 is merged.

[2017-03-28 19:54] mohit3011 commented on #12443
Ohh , I think the output should be 1/2 (if I am not wrong)

[2017-03-28 20:05] plonter99 commented on #12429
I came to the same conclusion as @maurogaravello .
According to the invert function documentation, it returns a tuple (g(x), set_h). After calling invert_real (on the entire real domain), seems to me that set_h would need to be intersected with the image of the function g on the original domain. Thus, intersecting with the domain only makes sense when g(x)=x. In this example g(x)=log(x)/x, so the

[2017-03-28 20:34] asmeurer opened #12444 "Guard against recursion error in _can_print_latex"
In the Jupyter notebook:

[code]

gives

[code]

Note that RecursionError is Python 3.5+ only. We need to check for RuntimeError to support the lower Python versions.

[2017-03-28 23:42] bjodah commented on #8997
Just a small remark: `pow(x, 2)` generates the same assembly as `x*x` using gcc 5.4.0 when `-O1` is given (not for `-O0`). The unsafe simplification for `pow(x, 3)` still requires an active choice by setting the `-funsafe-math-optimizations` flag (together with `-O1`).

Bash script to check this (if someone is interested):

[code]

[2017-03-29 01:25] #11892 closed

[2017-03-29 01:41] kyleabeauchamp commented on #11548
I am seeing a more general error here:

[code]

[2017-03-29 06:00] Abdullahjavednesar opened #12446 "integrate((2*x)**5638654, x) takes too long due to simplification"
The reason for delay is unnecessary simplification of the given expression i.e. computation of `2**5638654`.

[2017-03-29 10:10] #12426 closed

[2017-03-29 10:23] vasdommes opened #12448 "solve hangs on 4*4 linear system with non-trivial coefficients"
sympy 1.0.1dev
Python 3.5.2

Consider solving 3\*3 or 4\*4 linear system with unknown coefficients: a_ik * x_k + b_i == 0.
`solve` works fast when coefficients are simple symbols like `a_12` (see function `solve_fast` below), but slows down dramatically if coefficients are undefined functions like `a(1,2)` (see function `solve_slow` below).

Example:
[code]

Simple benchmarks on my laptop:
[code]

[2017-03-29 12:33] smichr commented on #12448
Hmmm. That's unexpected. I would have expected that the functions to be solved for would have been replaced with symbols and the system would solve as for the fast case.

[2017-03-29 12:38] smichr commented on #12443
If it doesn't work there are still the `deg` and `rad` functions::

[code]

[2017-03-29 12:51] jtoka commented on #11427
@moorepants seems that this ticket has been dead for a bit. I picked it up and considered your comments. Please take a look when you have a chance.

[2017-03-29 13:15] jksuom commented on #11707
The gist of (the new) Python hash implementation is that the hash values of numerically equal objects of various types are equal. In SymPy, we already have this for Integers and Rationals since the latter are coerced to Integers when the (reduced) denominator is 1.

The relation between Rationals and Floats is different. It is not possible to make them identical since the arithmetic laws are diffe

[2017-03-29 18:00] asmeurer commented on #12300
It could be useful to add some Piecewise heuristics to Sum. However, it may require better algorithms to simplify and manipulate conditionals (the inequalities), which presently do not exist at all in SymPy.

[2017-03-29 18:09] twhunt opened #12452 "is_upper() raises IndexError for tall matrices"
The function Matrix.is_upper raises an IndexError for a 4x2 matrix of zeros.
[code]
The code for is_upper() is
[code]
For a 4x2 matrix, is_upper iterates over the indices:
[code]
The attempt to index the (3,2) entry appears to be the source of the error.

[2017-03-29 18:18] Vedarth commented on #12300
@asmeurer I am trying to propose a project which involves fixing this issue. Please tell me how am I supposed to propose the correction and it's implementation.
Thanks for your time.

[2017-03-29 19:02] mohit3011 commented on #12452
@twhunt , I would like to work on this issue

[2017-03-29 19:08] asmeurer commented on #12412
The symbolic numbers becoming generators was a conscious design decision of Poly. I don't know if it was the right one. On the one hand, it allows simplifying expressions where the symbolic numbers need to be represented as generators, for instance `cancel((cos(30)**2 - 1)/(cos(30) - 1))`. On the other hand, Poly can run into trouble if the generators have unexpected algebraic relationships (in th

[2017-03-29 19:29] Vedarth commented on #12427
@smichr You have given me really great guidance. Thanks a lot for helping me out. I really need your honest opinion on this one. I am submitting a GSoC proposal to clean up and reorganize Matrices module and rewrite and improve upon code that are mathematically flawed. My aim is to make Matrices module more usable. Which also involves trying to return n in #12300 .Can I submit a proposal like that

[2017-03-29 20:17] twhunt commented on #12452
I don't have any special Sympy privileges, but feel free to work on it.
It's probably worth checking if is_lower() has a similar issue.

On Mar 29, 2017 12:02 PM, "Mohit Chandra" <notifications@github.com> wrote:

@twhunt <https://github.com/twhunt> , I would like to work on this issue

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://gi

[2017-03-29 20:37] SatyaPrakashDwibedi opened #12453 "Codegen : Complex Implementation"
consider the following code snippet
[code]
should generate:
[code]
i.e we have to add complex library for calculation involving complex symbols in c.

[2017-03-29 23:23] bjornsing opened #12456 "integrate() chokes even though expected result is easily expressible"
I tired using sympy to derive the Kullback-Leibler divergence between two (arbitrary) Beta distributions, but I get stuck in integrate():
[code]
Now I wasn't very surprised by this, until I found [an expression for the integral in terms of beta and digamma functions on Wikipedia](https://en.wikipedia.org/wiki/Beta_distribution#Quantities_of_information_.28entropy.29). This expression can easily be

[2017-03-30 09:37] #11538 closed

[2017-03-30 13:19] vasdommes commented on #12448
Note also that for the 3*3 system the solution given by `solve_slow` has more complicated form in comparison to `solve_fast`:

input:
[code]
output:
[code]

This is indeed surprising: sympy doesn't know anything special about `a(i, k)` and `b(i)` (as well as `a_ik` and `b_i`). Then why does it use different solving strategies in `solve_fast` and `solve_slow`?

[2017-03-30 16:26] smichr commented on #12427
@vedarth , there is a very significant overhaul of matrices being attended to by @siefkenj (e.g. #12402, #12390). Also, I am submitting a PR addressing this (and other) issues with `DiagonalMatrix` and `DiagonalOf`. And having just done the work, I can safely say it wasn't GSoC in scale. ;-) Perhaps something else will catch your attention, however. To get youor feet wetter, however, I would value

[2017-03-30 17:40] asmeurer commented on #12453
The type of the final function should probably be specified as an argument to codegen.

[2017-03-30 17:54] SatyaPrakashDwibedi commented on #12453
Then how do you suggest to implement inbuilt complex functions  like `cpow()` as stated above

[2017-03-30 17:57] asmeurer commented on #12453
I think it should still use complex.h, but the types should be user specified as a keyword argument to codegen. If the user specifies dtype="double complex" then it will add the correct header files and code print cpow and so on. For instance, not all complex functions will have an explicit `I` in them for the codegen function to automatically deduce that the expression is complex.

[2017-03-30 18:03] SatyaPrakashDwibedi commented on #12453
so you are suggesting that we should add an attribute to codegen function as input i.e `dtype` and set it as
`double` by default.

[2017-03-30 18:35] SatyaPrakashDwibedi commented on #12453
so you want to add a dtypes argument to codegen function right??
I think it will be awesome because using double everywhere even in case of integers takes more space in C.

[2017-03-30 19:12] gxyd commented on #12405
Closing this. Since this probably isn't an issue.

[2017-03-30 19:12] #12405 closed

[2017-03-30 19:55] smichr commented on #12452
The issue is non-fatal there because the inner loop on j never runs. You just end up running the outer loop a little extra:

[code]

But the problem also exists for `is_upper_hessendberg`.

[code]

#12454 could address that, too, pretty easily

[2017-03-30 20:17] asmeurer commented on #12453
Yes. Doing types correctly requires a bit more thought, because different variables might have different types. And we may at some point want to add the ability to do type inferences (so for instance, if we are given an expression, we can determine its type from the types of the variables used in it).

[2017-03-30 22:02] TApplencourt opened #12461 "No simplification for union of symbolic Interval"
I have two Sympy interval:
```(Interval(1, m), Interval(1, m+1)) ```

To make the union of those interval you can do:
[code]
But now I and to simplify this expression.  I know that `m>=1` so the union should be  `[1, m+1]`.  Unfortunately It not possible (to my knowledge) to use this constraint on `m`.

##### Nota Bene
A quick  and naive mock-up of the desired result to make things more concrete:

[2017-03-30 22:22] asmeurer opened #12463 "dummify argument in lambdify should be smarter"
The default option in `lambdify` is dummy=True, which is handles names that aren't valid Python identifiers, like functions, or symbols with weird symbols in them.

However, this option breaks introspection for the lambdified function.

[code]

Shows

[code]

Whereas with

[code]

you get

[code]

I think the default should be to dummify only if the names are not valid Python identifiers.

[2017-03-30 22:25] asmeurer commented on #12463
It also seems to break numba.jit (although that has other issues too, see https://github.com/numba/numba/issues/2328).

[2017-03-30 22:45] mohit3011 commented on #12463
@asmeurer  , I would like to work on this issue

[2017-03-30 22:49] asmeurer commented on #12461
I think the union should be [1, m+1] regardless whether m is greater than 1. If m is less than 1 then [1, m] is empty, so the union of the empty set with another set is just the other set.

[2017-03-30 22:52] mohit3011 commented on #12463
Could you please specify where I should look in utilities/lambdify.py for fixing the error ?

[2017-03-30 23:07] bjodah opened #12464 "CCodePrinter._print_Indexed assumes row-major ordering"
When working with BLAS and LAPACK it's quite common to work with column-major ordering.
To avoid unneccessary transposes `_print_Indexed` should also support column-major ordering.
It is probably easiest to add either an `ordering` or `strides` property to `Indexed`.

[2017-03-31 00:19] TApplencourt commented on #12461
Good catch! I totally agree with you. The simpy result was not false but
can be simplify as you explained.

So in think we have now to aspect. First it will be useful if we can
simplify the result of the Union and  secondly if we can restrict the
domain of the symbol to solve the union in much complicated case.

Indeed, my example was over simplified. Let say that i want to compute
[code]
where, w

[2017-03-31 01:14] bjodah commented on #12369
We still need to tests this on Travis using a recent version of SciPy (preferably from conda)

[2017-03-31 06:17] SatyaPrakashDwibedi commented on #11495
@asmeurer reg. power as you stated , in LISP it can be implemented using recursion only;
There is no predefined function like pow in LISP

[2017-03-31 06:56] SatyaPrakashDwibedi commented on #12453
@asmeurer yes this will make user less worried about the datatypes .
There we can check the symbol types and print specific datatypes which will be memory efficient and print corresponding datatype or we can add a dictionary mapping from sympy symbol types to C data type
for e.g.
[code]
so that when that type of symbol is passed it will print the correct datatype in C.
Reg. addition of `complex.h`

[2017-03-31 11:04] FabianBall opened #12465 "combinatorics.Permutation can't be subclassed properly"
I stumbled across a subclassing issue with `combinatorics.Permutation`:
The object creation is done in `Permutation.__new__`, but internally the function `_af_new` is used (which itself is a reference to the static method `Permutation._af_new`). This method eventually creates the object calling `Basic.__new__(Perm, perm)` (`Perm` is a reference to `Permutation`).
In the end, this makes subclassing

[2017-03-31 12:20] #12452 closed

[2017-03-31 12:25] jksuom commented on #12465
It seems to me that there is no good explanation for the chosen implementation. `_af_new` should probably be a `classmethod` with creating command `Basic.__new__(cls, perm)`. Please test that and send a PR.

[2017-03-31 14:36] vishu006 commented on #12429
On using solveset function to calculate this

{7}
I think output should be (6,7], as the lhs is less than or equal to 0 for (6,7].

For examples such as

[−4,0)
Output is correct.

As I am new here, please correct me if I am wrong.

[2017-03-31 14:46] maurogaravello commented on #12429
I think it is another bug.

[2017-03-31 14:49] vishu006 commented on #12429
I want to work on this. Can you please guide me on how to start to work on this issue?

[2017-03-31 14:57] #12416 closed

[2017-03-31 14:58] smichr commented on #12443
The following sort of change could be made but this would allow two ways to do things and there "should be one-- and preferably only one --obvious way to do it."

[code]

[code]

[2017-03-31 15:01] smichr commented on #12443
(The unit `radian` would have to be replaced with `1`, too. Or in both cases the `scale_factor` attribute could be used instead of hardcoding the values in the `xreplace` dictionary.)

[2017-03-31 15:10] maurogaravello commented on #12429
I am quite new to sympy.
In general I prepare a script with the code not working and i use pudb

Il 31/mar/2017 16:50, "Rajanikant Tenguria" <notifications@github.com> ha
scritto:

[2017-03-31 15:10] Upabjojr commented on #12443
@smichr I wouldn't do it that way. It might slow down all of SymPy trigonometry.

My idea is to introduce something like post-processing triggers. There was a discussion on the forum:
https://groups.google.com/forum/#!topic/sympy/8tPTTQ-SnqU

Maybe `sin` could check if there is a function, say `_postprocess_function_sin()` and activate it.

`Mul` on the other hand could check if any of its argumen

[2017-03-31 15:40] vishu006 opened #12466 "Wrong result in solveset function"
On using solveset function to calculate this
`>>> solveset((log(x-6)/x)<=0,x,S.Reals)`
`{7}`
I think output should be (6,7], as the lhs is less than or equal to 0 for (6,7].

For examples such as
`>>> solveset(log(x+5)/x<=0,x,S.Reals)`
`[−4,0)`
Output is correct.

**My Observations** (a,b are constants)
Functions as log(x + a)/b<=0. Output is correct.
Functions as      log(x - a)/b<=0. Output is w

[2017-03-31 15:49] vishu006 commented on #12429
Thank you @maurogaravello for your suggestion. I did not know about pudb and this would surely be helpful.

[2017-03-31 16:09] smichr commented on #12448
Two different paths were being taken because of how symbolic matrices (vs numerical) were being detected. When that is fixed, the times taken are similar. See #12467

[2017-03-31 16:12] smichr commented on #12448
Thanks for this useful report!

[2017-03-31 17:35] mohit3011 commented on #12463
@asmeurer , could you please specify what does smarter means here ?

[2017-03-31 17:55] asmeurer commented on #12463
As I said above, it should only apply when it needs to, i.e., when the names aren't valid Python identifiers.

[2017-03-31 17:56] mohit3011 commented on #12463
Could you please refer any starting point in utilities/lambdify.py ?

[2017-03-31 18:38] anca-mc commented on #12117
linsolve() uses the linear_eq_to_matrix() to put the system of equations into matrix form.
The coeff() method of the Expr class (expr module) is used by the linear_eq_to_matrix() method to
put into rows the coefficients of the equations. The docstring of the coeff() method reads:

"no factoring is done, so 1 + z*(1 + y) is not obtained
        from the following:

        1

"

So expanding the eq

[2017-03-31 19:04] SatyaPrakashDwibedi commented on #12463
@asmeurer shouldn't it supposed to throw errors with invalid python identifiers, If you want to set `dummify`  True only for non-python identifiers then we should add a check to see if the identifier is valid or invalid.

[2017-03-31 19:06] asmeurer commented on #12463
This pull request is related https://github.com/sympy/sympy/pull/11457.

[2017-03-31 23:52] db87 commented on #12117
Thanks, that seems to fix it!

[2017-03-31 23:52] #12117 closed

[2017-04-01 07:55] ir1979 opened #12469 "1x1 Matrix"
zeroHelper = Matrix(1,1,lambda:0) produces error!

[2017-04-01 08:07] jksuom commented on #12469
Matrix needs a function of two arguments, lambda:0 takes none.

[2017-04-01 08:20] #12469 closed

[2017-04-01 14:11] smichr commented on #10671
@kshitij10496 , have you made any progress on [this]()? I noticed today, too:

[code]

I am expecting `[1, oo)`.  (Noticed in #12458.)

[2017-04-01 15:30] smichr commented on #10671
I've got a fix for this and a test showing that this issue has been fixed.

[2017-04-01 15:35] #12448 closed

[2017-04-01 19:11] asmeurer commented on #12461
I believe that is correct. It's unfortunate, because with more than two intervals the number of inequalities explodes combinatorially, unless the end points are numeric or have an obvious relationship (like m and m+1).  So at best you'd need to specify the inequalities for it to simplify, which feels redundant. It would seem to be more useful to always be able to assume that [a, b] means a <= b (w

[2017-04-01 19:35] #12427 closed

[2017-04-01 20:23] kyleabeauchamp commented on #11548
Ping: can anyone else confirm / deny this one?

[2017-04-01 23:02] #11427 closed

[2017-04-02 02:40] mzaffalon commented on #11548
I get your same result on sympy 1.0 and Python 3.5.

[2017-04-02 03:29] siefkenj opened #12473 "`inv_quick` is really slow with symbols"
Large matrices with symbols are really slow with `inv_quick`.

[code]

produces

[code]

There appears to be no size check from `inv_quick` when using large matrices.

[2017-04-02 06:05] kshitij10496 commented on #10671
@smichr No, I haven't worked in that direction since I assumed that #10709 fixed this.
However, I will review #12471 as it looks to solve the issue I was addressing.

[2017-04-02 15:51] bhavishyagopesh commented on #12383
@kbauer , I guess, it is due to method in .../tensor/array/densendimarray.py  but I dont know if it is intentional, so ping @asmeurer

[2017-04-02 17:27] JoelSjogren opened #12476 "sympy.solve variable name loss"
My variables get renamed in the solver for some reason.
https://pastebin.com/LDxgtgsf

Works.
`>>> sympy.solve(eqns[:-1])`
`[{x5**2: x0,...`

Works not.
`>>> sympy.solve(eqns)`
`[{_Dummy_25: 1/36,...`

Workaround.
https://pastebin.com/sbtPjxFh
`>>> sympy.solve(eqns, x)`
`[(1,...`

Running on Ubuntu 16.10 64-bit and Python 3.5.2+.
`>>> sympy.__version__`
`'1.0'`

[2017-04-02 20:38] smichr opened #12478 "solveset_real and solveset give different answers for soln of `sqrt(x - 2) + 2`"
[code]

[2017-04-02 23:46] siefkenj opened #12479 "`Permutation` constructor fails with non-disjoint cycles"
Calling `Permutation([[0,1],[0,1]])` raises a `ValueError` instead of constructing the identity permutation.  If the cycles passed in are non-disjoint, they should be applied in left-to-right order and the resulting permutation should be returned.

This should be easy to compute.  I don't see a reason why non-disjoint cycles should be forbidden.

[2017-04-03 01:53] smichr commented on #4215
Is this a duplicate of #12133 ? The OP test works in master after commit 8b81380  (#12142 from ArifAhmed1995/issue#12133).

[2017-04-03 02:01] smichr commented on #10033
This looks like a stale issue that should be closed. ping @Shekharrajak

[2017-04-03 02:42] smichr commented on #12429
@maurogaravello , could you open a new issue (if there is not one for this issue already)

[2017-04-03 03:18] smichr opened #12482 "is_finite_with_finite_vars output depends on symbol assumptions"
`is_finite_with_finite_vars` routine behaves as follows:

[code]

This is related to the reason behind why the test is failing that PR #12422 is addressing.
This was copied from #12429 as a related issue.

[2017-04-03 06:23] jksuom commented on #4215
I think this particular issue concerned with singularities of the integrand could be closed. There are other, unsolved issues with definite integrals where the indefinite integral is multivalued and may have removable singularities, but that is a different topic.

[2017-04-03 08:36] maurogaravello commented on #12429
@smichr vishu006 already opened #12466

[2017-04-03 08:47] Upabjojr opened #12484 "Support symbolic order of derivative"
Loosely based on:
http://stackoverflow.com/questions/43142568/use-index-of-summation-as-the-order-of-derivation

Suppose we want to derive a function `f(x)` by `x` at `n` number of times (where `n` is symbolic), how can we represent this?

Currently we have:

[code]

[2017-04-03 10:40] skirpichev commented on #9366
@cswiercz,  perhaps, you can do this in the class constructor.  Also, you should modify ``RootOf``'s class methods, like ``all_roots()``.  See POC PR in my project, diofant/diofant#430.

Unfortunately, root isolation is too slow in SymPy (or Diofant) for polys of high degree.

@jksuom, do you think that such canonicalization of ``RootOf``'s, to have polynomials with integer coefficients, does make

[2017-04-03 11:02] SagarB-97 commented on #10672
@Upabjojr I don't think this issue should be closed. #12112 takes care of only `str` printer. `srepr` printer is still the same.

[2017-04-03 11:36] Upabjojr commented on #10672
@SagarB-97 github apparently closed the issue automatically, I didn't actually notice that.

[2017-04-03 11:46] maurogaravello commented on #12478
The problem is in `_invert_real` of `solveset.py`.
At some point, sympy has to solve `sqrt(x-2) = -2`. For doing that, it takes the square `x-2 = 4` and so it returns `6`. I think it is sufficient to calculate the real domain of the function and do the intersection of the solution with the domain.

[2017-04-03 12:48] jksuom commented on #9366
@skirpichev By 'like Mathematica does', do you refer to this: `Root[{f1,f2,…},{k1,k2,…}]`?

BTW, I don't consider passing to the norm of a polynomial as an ideal solution. The degree of the norm is high and only few of its roots are also roots of the initial polynomial.

[2017-04-03 13:04] skirpichev commented on #9366
@jksuom no, this: ``Root[f,k] is automatically reduced so that f has the smallest possible degree and smallest integer coefficients. ``

For example:
[code]

Yes, but it's doable in principle (as Mathematica shows).  Currently implemented algorithm for root isolation [could be improved](https://mattpap.github.io/masters-thesis/html/src/algorithms.html#complex-roots).

[2017-04-03 13:28] jksuom commented on #9366
Always passing over to integer (or rational) coefficients does not seem a good idea to me. I would rather extend the root isolation algorithm for polynomials with real algebraic coefficients. That should be possible because they can be ordered compatibly with real numbers.

[2017-04-03 14:03] skirpichev commented on #9366
But real algebraic coefficients - only a special case of algebraic coefficients.  And, unless I misinterpret your opinion:

- for complex algebraic numbers some generalization of the root isolation algorithm will be much more costly.

[2017-04-03 14:52] jksuom commented on #9366
I forget the details but I probably had in mind the possibility separating real and imaginary parts of the coefficients in the same way as is currently done with the powers of the unknown variable. Extra processing would be needed, but maybe the total cost would still be of the same order of magnitude.

[2017-04-03 20:25] siefkenj opened #12487 "`Permutation` and `Cycle` as a callables have confusing behavior"
There was some cleverness in the design of `Permutation` as a callable to mimic cycle notation.  However, I think this is really confusing.

Cycle notation:  when a permutation is written as a product of cycles, for example "(a,b)(c,d)" and you wish to apply it to a list `l`, that generally means

[code]

That is, first do the swap `(a,b)` then do the swap `(c,d)`.  The `Permutation` object clever

[2017-04-03 21:46] #12444 closed

[2017-04-04 00:02] zimoun commented on #12461
Assuming strict order about symbols, such that: `a<b` leads to combinatorial number of inequalities, but somehow you **have to** provide one relation order about your symbolic objects coming from your reference set (integer, real, other). Otherwise you cannot reduce.

Assuming strict order, the reduction is simple logic. Combinatorial but simple :-)
Even there is open intervals or infinity which n

[2017-04-04 00:54] asmeurer commented on #12461
You can represent the inequalities with the assumptions, but it's annoying to type `A < m` and `m < B` in addition to `Interval(A, m)` and `Interval(m, B)`. It feels redundant, because if you create an interval, you probably meant for it to be nonempty. This isn't true for intervals that are created programmatically or generated as a result of some other set operation, however.

[2017-04-04 01:16] E-DEA commented on #12290
@rathirocks-4 , sorry for such a late reply didn't see the notification.
PR #12380 has solved the issue I guess.

[2017-04-04 08:14] ArifAhmed1995 commented on #12464
Can you show me a simple example of an `Indexed` object which would use this method when translated to C code? I have gone through [this page](http://docs.sympy.org/dev/modules/tensor/indexed.html) but any `Indexed` object I'm trying out seems to lack some or the other attribute required in `_print_Indexed`.

[2017-04-04 08:43] bjodah commented on #12464
Sure,
[code]

[2017-04-04 11:09] zimoun commented on #12461
Let me clarify my point.

Currently, `Interval(a, b)` means any `x` in real such that `a<=x<=b`.
If `a>b` then it is the `EmptySet`.
If `a=b` then it is the singleton `{a}`.

If you consider the simple example `u=[A,m] U [m, B]`, then by definition of `Interval`, the 3 cases read as above. I mean, obtain the right reduction is obvious here. And the tools are already there.

Now, let consider examp

[2017-04-04 14:28] Lowe-Marc commented on #12476
I'm interested in taking a look into it but I'm new here. If anyone has any advice/tips I'd thoroughly appreciate it (or if this is more complicated than I think it might be). So far I've just been able to trim down the size of the argument quite a bit and have seen the dummy variables passed around in a couple places, haven't narrowed down exactly where the dummy variables are supposed to be repl

[2017-04-04 15:42] kshitij10496 commented on #12478
I agree with @maurogaravello about the incorrect behaviour of `_invert_real` method.
The internal call to `_invert_real(sqrt(x-2), -2, x)` is the cause of this bug.

An approach to solve this issue can be to divide the problem of fractional powers of the kind `1/n` into two families based on the value of `n`.
For even values of `n`, we can simply reject the equation if the RHS is negative (since w

[2017-04-04 15:54] maurogaravello commented on #12478
Exactly. I divided the cases into two subcases in the PR #12488.

[2017-04-04 18:27] #11777 closed

[2017-04-04 18:28] #12423 closed

[2017-04-04 19:46] thisch commented on #11777
@asmeurer, regarding your question about the integer order in the description of this issue, for spherical bessel functions (jn, yn) the order has to be an integer AFAIU. This is in contrast to normal bessel functions, where the order can even be complex-valued (modified bessel functions).

[2017-04-04 19:48] asmeurer commented on #11777
So is the merged PR #11785 incorrect?

[2017-04-04 20:02] thisch commented on #11777
I totally agree with what you said in https://github.com/sympy/sympy/issues/11777#issue-185453192:  "It should be more liberal, only failing if the argument is not an integer. In general, SymPy should not require the correct assumptions to be true, only for the incorrect assumptions to not be True." Since in PR #11785 there is no check for the incorrect assumptions to not be True, i.e., it does no

[2017-04-04 20:52] sagar-bharadwaj-ks opened #12492 "Accessing base vectors using alias vector_names and variable_names"
If a coordinate system is defined as :

[code]

Then the user would probably want to do computations using `N.r`, `N.phi`, `N.theta` and `N.er`, `N.ephi`, `N.etheta`.

However, currently the `vector_names` and `variable_names` are used in printing only. The bases should be accessed using the default `N.x`, `N.y`, `N.z`, `N.i`, `N.j` and `N.k`.

Correcting this issue would especially be useful when

[2017-04-04 21:01] SagarB-97 commented on #12492
I have attempted to solve this issue in #12493. Please review!

[2017-04-04 21:28] #12478 closed

[2017-04-05 10:05] SteliosStefanatos opened #12494 "strange `solveset` output"
`solveset` fails for the following trivial (?) equation (Sympy ver. 1.0)

[code]

A similar output is given if a solution with respect to `x` is requested. Passing `expr.simplify()` instead of `expr` does not help either.

Using `solve` gives the expected `0` answer, when solving w.r.t. `y`, but requires to pass `expr.simplify()` in order to solve w.r.t. `x`

(This was reported in http://stackover

[2017-04-05 12:07] #10477 closed

[2017-04-05 12:07] #10671 closed

[2017-04-05 12:07] #11064 closed

[2017-04-05 12:07] #12429 closed

[2017-04-05 12:07] #12466 closed

[2017-04-05 12:07] #12482 closed

[2017-04-05 12:16] #11986 closed

[2017-04-05 12:27] #11882 closed

[2017-04-05 12:28] smichr commented on #11882
Thanks for the report @nanoant , how does it look now? If not fixed, please reopen the issue (or create a new one).

[2017-04-05 14:35] smichr commented on #12494
It's a constraint on y. If y had the value of `10*x/(x+10)` the denominator would be zero. If `x=0` then `10*x/(x+10) = 0` so the solution for the original expression is `{}`, otherwise the solution is 0. It's a set's way of returning a Piecewise solution (I think).

[2017-04-05 14:47] SteliosStefanatos commented on #12494
@smichr Thank you for the response. You are right, of course;  `solveset` does find the correct solution and moreover gives the set for which the equation is undefined.

[2017-04-05 14:47] #12494 closed

[2017-04-05 18:53] SatyaPrakashDwibedi commented on #12464
@bjodah I think `CCodePrinter` assumes row major ordering because accessing matrices through rows is faster than accessing them through columns.

[2017-04-05 19:51] nanoant commented on #11882
@smichr I am not particularly fond of the solution proposed by @ccordoba12 in #12391. Not that I mind that it was inspired by StackOverflow post which was in turn cited the solution originally posted here in this issue report - which makes kind of weird loop :)

The problem is that merged #12391 was reworked for some reason, and now it applies only to the `latex` call, whereas all other calls usin

[2017-04-05 20:25] valglad commented on #12476
@Lowe-Marc I believe you should look at what happens in `_solve_system` to which the equations and symbols are passed on line 1071. The Dummy variables are added to the list of symbols on line 888, but they are not part of any of the equations so `_solve_system` shouldn't return solutions for them, and yet it does. Clearly, `x0-1` is the culprit. If you replace it by `x0*x2-x1` or something like t

[2017-04-05 21:13] mohit3011 commented on #12484
@Upabjojr , I looked into the question on stackoverflow. It seems that even the derivative with for loop also doesn't work. In this issue are we looking into the printing part or the actual solving part for n times ? Please explain

[2017-04-05 21:39] valglad commented on #12476
@Lowe-Marc Now that I've looked at it more, everything goes wrong on line 1758 in `_solve_system`. `solved_syms` there is the same as `symbols` but `result` is only for variables involved in `polys` (the original equations that could be changed into polys). That would've been fine if `symbols` didn't start with all the Dummy variables. This order is imposed when `symbols` is sorted on line 951. My

[2017-04-05 22:21] bjodah commented on #12464
@SatyaPrakashDwibedi no, which is faster depends on ordering. Generally speaking, iterating over the dimension with the lowest stride gives fastest access due to cache locality.

[2017-04-05 22:25] bjodah commented on #12484
Duplicate of #5575?

[2017-04-06 08:34] #12484 closed

[2017-04-06 09:14] #12465 closed

[2017-04-06 13:45] Upabjojr opened #12495 "Matrix: cholesky_solve bug?"
Just noticed:

[code]

[code]

[code]

Should output 5 give the same result as output 6?

[2017-04-06 14:27] mstrzelec commented on #12157
Hi @moorepants - I wanted some practise in Python and got here - analysed the code / execution and it seems to me the problem is that the dyadic print function treats the coefficient and both of the vectors as separate strings which are then merged together with string join method, so it uses the regular way to print the coefficient and the vectors but this is all done separately and after the "pr

[2017-04-06 14:31] smichr commented on #12487
wikipedia gives the following statement about cycle notation:

So if the cycles are disjoint (as it sounds like they are intended to be) then there is no problem, is there?

And if the user chooses not to make them disjoint...they get what they get and they are told what they get: the docstring says evaluation goes from right to left. Perhaps the docstring could be modified to indicate that *if or

[2017-04-06 15:22] siefkenj commented on #12487
@smichr Yes, for disjoint cycles the order doesn't matter.  I think I understand what you're saying--to have evaluation go left to right instead of right to left via a kwarg, either the order would need to be stored in `.args` or there would need to e a `RightPermuation` and a `LeftPermutation` subclass...

[2017-04-06 16:01] maurogaravello commented on #12414
@Vedarth Are you working at the issue?
It seems to me that a possible problem is in the lines 1795-1804 of `solvers.py`. In particular the `continue` statement of line 1804 stops the `for-loop` starting at line 1789 and so the solution is not evaluated.

[2017-04-06 20:32] oscarlazoarjona opened #12499 "Factorization does not work when Sum contains IndexedBase expressions"
The `factor` function takes indexed arguments out of the sum

[code]
Of which the second result is incorrect.

[2017-04-06 22:26] valglad commented on #12499
Strange. I'm getting `Sum(E[l], (l, 1, Nl))/2` with both python2 and python3 which is correct.

[2017-04-06 22:34] oscarlazoarjona commented on #12499
I have sympy version 1.0

1.0

[2017-04-06 22:56] mamakancha opened #12500 "Getting cholskey() matrix for non positive definite matrix"
Consider the following piece of code I ran :

[code]

Both the matrices in `In [2]` and `In [4]` are not **positive definite** and hence `Cholesky` method can't be applied to them. However I am getting an output matrix. I might be able to fix this issue if someone could just let me know if this Issue is valid or not.

[2017-04-07 04:23] asmeurer opened #12501 "pprint(Sum(f(n), (n, -oo, oo))) gives False instead of n = -∞"
[code]

The False should be printed as `n = -∞`.

[2017-04-07 04:24] asmeurer opened #12502 "Z-transform"
SymPy could implement Z-transforms. See https://en.wikipedia.org/wiki/Z-transform. Our summation algorithms will likely need to be improved to be able to compute useful things, especially regarding heaviside and delta functions.

[2017-04-07 06:54] Abdullahjavednesar commented on #12501
SymPy live gives it correct
[code]

[2017-04-07 07:11] mohit3011 commented on #12501
@Abdullahjavednesar , sympy live often give a different result than what is produced on the terminal.

[2017-04-07 13:39] HoaiNam8282 opened #12506 "Simplify() returns wrong simplified expressions using Sympy 1.0 (trigonometric functions)"
The goal is to simplify the 2nd derivative of the following expression:
`expr = 1.0 * cos(x) + 2.0 * cos( asin( 0.5 * sin(x))) `

However, since Sympy was upgraded to version 1.0, the simplify() function does no longer return the correct simplification of its second derivative. The expression was correctly simplified in Sympy version 0.7.6.1.

Hence, the expression to evaluate was split in order t

[2017-04-07 18:58] asmeurer commented on #11707
The comparison issue discussed at https://github.com/sympy/sympy/issues/11703#issuecomment-289120070 is giving me real issues.

[code]

[2017-04-08 01:02] DarkSuniuM opened #12509 "Incompatibility with Cx_Freeze/Py2Exe/PyInstaller."
Hello
Here is my script:
`import colorama                 # Used for fix cprint in Windows CMD
from sympy import *             # Used for calculate user input
import sys                      # Used for exit command
from termcolor import cprint    # Used for change color of output
colorama.init()
cprint("Inline Python Calculator!", 'cyan')
while True: # Infinity loop
    _input = input('Enter Your

[2017-04-08 02:08] smichr commented on #12487
Here is the current status

[code]
I added a cycle (non-call) option to Cycle so tuples/cycles are processed from left to right. But the already existing input to Permutation operates right to left. To fix that we could raise an error/warning for non-disjoint cycles and fix it to process L to R, then remove the non-disjoint error after the next release.

Do you have other ideas? I don't really lik

[2017-04-08 11:26] jksuom commented on #11707
It seems that the Float comparisons have to be fixed. For example, in https://github.com/sympy/sympy/issues/11703#issuecomment-289120070, we have unexpectedly
[code]
Running [12] through pdb gives
[code]
Obviously, we should not run `other.evalf()` when `other` is a `Float`.

[2017-04-08 16:30] smichr commented on #7902
closed via #11481

[2017-04-08 16:30] #7902 closed

[2017-04-09 17:05] anca-mc commented on #12383
@asmeurer
The situation occurs when, inside the flatten() method,
the if statement " if hasattr(el, 'args'):"
executes; it replaces el by el.args ("el = el.args"), but when el
 is an array el.args is a tuple whose first value is the flat
 list of elements of the array and whose second value is the shape:

((0, 0, 0, 0), (2, 2))

so at the next level the iterable to be flatten is this tuple, hence

[2017-04-09 22:06] smichr opened #12522 "BooleanTrue and Boolean False should have simplify method"
If the simplify method is used on Relationals it might encounter an already-evaluated Boolean result...which will raise an error because the simplify method has not been defined for them:

[code]

[2017-04-09 22:11] smichr opened #12523 "more robust detection of inequality args needed for Imageset (and other?)"
[code]

The offending line is `if new_inf > new_sup:` where it has been assumed that since the args are real they are going to pass the inequality test -- but they don't. So either proper handling of `Gt` instead of `>` should be done or better tests of the args leading to that point.

[2017-04-10 00:51] asmeurer commented on #10805
Went ahead and made a PR. https://github.com/sympy/sympy/pull/12524. I'm just disabling attribute access for now. f-strings aren't supported by our tokenizer yet, so that isn't a concern.

[2017-04-10 09:03] #10295 closed

[2017-04-10 13:10] Vedarth commented on #12501
@asmeurer I don't understand how this loop is working.
[code]
What I am not getting is how n = lim[1] is getting printed. If self._print become false then how is anything getting printed?

[2017-04-10 14:05] hocbaicungcon commented on #12509
Me too. I can't build exe file.

[2017-04-10 15:42] parsoyaarihant commented on #12425
Is this issue fixed?

[2017-04-10 19:33] szymag opened #12525 "solve with real varaibles return complex result"
I'm trying to solve system of equation in real domain:
[code]
I know that we should get empty list `[]`  (these equation corresponds to two ellipses which no intersect each other), but We get:
[code]

I tried also `Dummy` with setting `real=True`, but `solve` also doesn't respect this argument.

Interestingly, following system of equations are solve properly:
[code]
We get empty list `[]`

[2017-04-10 20:20] asmeurer opened #12526 "Line wrapping latex equations in the qtconsole"
Someone pointed out on Gitter that LaTeX printing in the qtconsole does not line wrap. It just flows off the screen, and cannot be scrolled.

I wonder if we could use [breqn](https://www.ctan.org/pkg/breqn) to do some line wrapping.

The only workaround I know is to use `pprint`.

[2017-04-10 20:22] asmeurer commented on #12526
We perhaps should also open an upstream qtconsole bug about the inability to horizontally scroll large images. I'm not sure that the qtconsole is very actively developed right now, though, so unless someone wants to implement it I wouldn't expect it to get fixed very soon.

[2017-04-10 23:41] Lowe-Marc commented on #12476
Sorry, two of my class assignment/projects ended up eating way more time than expected and I was just getting to this. Looks like you solved it, thank you very much for the help anyway.

[2017-04-11 10:08] smichr opened #12527 "solveset mishandles domain"
Giving an explicit domain gives no solution:
[code]

whereas giving no domain and intersecting the result gives solutions

[code]

[2017-04-11 13:39] kshitij10496 commented on #12527
In v1.0:
[code]
In `master`:
[code]
This result is pretty weird and a type of regression, I guess (From a somewhat incorrect answer to an absolute wrong result).
We are supposed to take the intersection of the result obtained in the real domain with the `Interval(1, 10)`, aren't we?
@smichr I will try to dig into this.

[2017-04-11 17:20] smichr commented on #12527
Yes, if a domain is provided, the answer should come back within that domain.

Regarding the answer being wrong...I don't think there is a problem (unless I am missing something): they both give +/- odd multiples of pi/2.

Did you get the same result as me for `solveset(1/tan(x),x,Interval(1,10))
` in master? If so, have a look at the `domain_check` (or whatever it is). I recall seeing some issues

[2017-04-11 17:25] smichr commented on #12525
You get the imaginary results because solve's checker can't determine whether the solution is valid (i.e. soln_i.is_real is None for all soln_i).

[2017-04-11 17:35] kshitij10496 commented on #12527
I was referring to the difference between the results obtained in v1.0 and master for `solveset(1/tan(x), x, Interval(0, 10))`.
In v1.0, the `ImageSet` is not reduced to a `FiniteSet` while in the current master, an `EmptySet` is being returned.

Yes, I was able to reproduce the bug in the master.

As you mentioned, the issue lies in the behaviour of `domain_check` primarily.
`solveset` is able to

[2017-04-11 18:16] szymag commented on #12525
Oh, I see.
I evaluated these solution using `evalf()` and then checked `is_real`. After that, I got correct result, `false`.

[2017-04-11 18:31] valglad commented on #12476
Ah, well sorry if you were looking forward to solving it yourself. I waited for a couple of days and then just went ahead with it because I was curious if modifying the sorting would work (it did but felt unsatisfactory). Still plenty of bugs to work on though

[2017-04-11 18:49] asmeurer commented on #12425
No, it doesn't look like it was ever fixed. http://docs.sympy.org/dev/modules/rewriting.html

[2017-04-11 20:22] asmeurer opened #12531 "cancel does not return expanded form"
Reported from https://github.com/sympy/sympy/pull/12521#issuecomment-293383666:

[code]

The numerator and denominator in the result should expanded completely, to -1/4.

[2017-04-11 20:35] asmeurer commented on #12531
The problem is that Poly internally expands `(x**3 - 3)*(x**3 + 26) - (x**3 + 2)*(x**3 + 21)` when polifying (`parallel_poly_from_expr`), giving just `-120`, and then it fails to convert that to a Poly later because it has no generators.

I'm not sure how to fix it. I would need to look a little closer at the flow of the code to see where the fix should be. Does `parallel_poly_from_expr` require g

[2017-04-11 20:53] asmeurer commented on #12509
I know folks have had issues with this in the past. I don't know if anyone has found a way to work around them.

This looks like a bug in cx_Freeze. However, if a change to SymPy to make it work we should do it.

[2017-04-11 21:27] asmeurer opened #12532 "Cannot substitute upper limit of Sum created with Idx"
Reported at https://stackoverflow.com/questions/43355448/substituting-symbols-in-summation-expression-in-sympy

[code]

It works if you do the limits normally:

[code]

[2017-04-11 21:30] asmeurer opened #12533 "Cannot substitute IndexedBase for a list"
[code]

Ideally this would work.

[2017-04-11 21:31] asmeurer commented on #12533
If you pass a `list` instead of a `range` object it remains unchanged

[code]

[2017-04-11 21:52] asmeurer commented on #11707
I think this comparison issue should be fixable separately from the rest of this. The sorting problems might not go away until we also fix ==, but it should fix things like `max`.

It looks like `is_positive` has the right algorithm (it just takes evalf(2), from what I can tell, but I suppose the internal machinery handles the internal precision needed)

Current behavior (wrong):
[code]

is_positi

[2017-04-11 21:59] thisch commented on #6799
The 'Wrong Result' label can be removed:

[code]

[2017-04-11 22:13] asmeurer commented on #11707
Actually it doesn't round down:

[code]

So that's a limitation of `is_positive` using `evalf(2)`, I think.

[2017-04-11 22:16] asmeurer commented on #11707
These are also wrong:

[code]

[2017-04-11 22:21] asmeurer opened #12534 "Issues with numeric inequalities"
This is ported from https://github.com/sympy/sympy/issues/11707. There are many issues with wrong answers with inequalities with floating point numbers, especially when they have precision greater than the default `evalf` precision.

[code]

[code]

[code]

For reference, this is `pi.evalf(102)` (and pi.evalf(110), just to be sure):

[code]

So you can see the 100th digit should be rounded up, i.e

[2017-04-11 22:22] asmeurer commented on #11707
OK, I'm splitting this into a separate issue https://github.com/sympy/sympy/issues/12534. Let's keep this issue for == and hashing, and the other issue for inequalities, which I believe can be solved independently.

[2017-04-11 22:31] asmeurer commented on #12534
This is my patch in progress

[code]

But with this, `pi.evalf(100) < pi` gives True, and I think it should be False. Maybe I'm being misled by decimal rounding vs. the binary rounding that should actually be used. But the Rational comparison is still wrong regardless.

[2017-04-11 22:36] asmeurer commented on #12534
OK, I think the `pi.evalf(100) < pi` bit is actually right. The decimal rounding can be misleading, I supposed. Consider

[code]

Basically, `Rational(pi.evalf(100)) = p/q`, and here `q*pi` is greater than `p`, meaning that `pi > p/q = pi.evalf(100)`.

[2017-04-12 10:02] artemrizhov commented on #12533
Hi! Is there a workaround for substituting the IndexedBase for a list in summation?

[2017-04-12 17:08] jksuom commented on #12534
The use of `is_positive` etc. is appealing as it takes care of different kinds of `other` all at once. However, some tests may have to be added if we want to continue raising `TypeError` for nonreal values of `other`.

[2017-04-12 17:26] vbchrist opened #12536 "Sympy cannot parse sys.version correctly in Anaconda3 distibution"
This is my first bug report, please let me know if it needs anything.

When using the Python C API and the Anaconda3 Sympy distribution there is a bug where Sympy cannot be loaded using PyImport_ImportModule("sympy").

This is due to the addition of "|Continuum Analytics, Inc.|" in the sys.version string which the REGEX parser is not expecting. This was verified by setting sys.version to "3.5.2 (d

[2017-04-12 17:54] asmeurer commented on #12534
I fallback to the Expr methods if is_positive gives None, which is where the TypeErrors are raised. There's no possibility of nonreal > nonreal, since the lhs is always a Float.

Anyway, all the core tests passed with the above change (I haven't run full suite yet).

[2017-04-12 18:01] asmeurer commented on #12536
I don't think this is an issue with SymPy. It looks like the error is in the Python platform module, not SymPy itself. Please reopen if you believe otherwise.

Based on your traceback, your platform module is coming from `C:\Users\COMPANY_NAME\AppData\Local\Programs\Python\Python35-32\Lib\platform.py` instead of `C:\Program Files (x86)\Anaconda3\Lib\platform.py`. The Anaconda Python has platform.p

[2017-04-12 18:01] #12536 closed

[2017-04-12 18:35] asmeurer commented on #12533
Looks like you can do it with `replace`, but it doesn't know how to evaluate:

[code]

However, it looks like you can use replace directly to get it to work

[code]

[2017-04-12 18:53] #10498 closed

[2017-04-12 19:01] asmeurer commented on #12534
I think the Rational issue must be coming from `Rational.__lt__`. If you also fallback on it, it works

[code]

That's both before and after https://github.com/sympy/sympy/pull/12515, which potentially affects this.

[2017-04-12 19:02] asmeurer commented on #12534
Minor bug with the above patch: needs to be `return sympify(pos)` (and so on).

[2017-04-12 19:06] smichr commented on #12534
Didn't see this until committing #12515, sorry!

[2017-04-12 19:07] asmeurer commented on #12534
That's fine, I don't think your change affects it.

[2017-04-12 19:14] asmeurer commented on #12534
Ah, apparently pi compares specifically using the [approximation interval](https://github.com/sympy/sympy/blob/383c0fad7f8d131e8ddcad55088f2432535560f1/sympy/core/numbers.py#L3388) `(Rational(223, 71), Rational(22, 7))` smh

[2017-04-12 19:15] smichr commented on #12534
Don't have time now to comment more, but check these out in the new master. I *think* your OP expressions should work better. The calcs below are basically how I handle the inequality evaluations in `_n2` and they give opposite signs as you reverse the direction of the args:

[code]

hmmm...but I see you are tinkering with the methods in Number so maybe they won't make it to Expr level.

[2017-04-12 19:18] asmeurer commented on #12534
I want to remove the logic in Number and have it all in one place, because you really do need to use full evalf() except in really simple cases (like Rational < Rational).  So let me know if you have any suggestions on how to keep the code deduplicated. Ideally the (a - b).evalf(2) logic should be in one place, whether that's some special method of Expr or _eval_is_positive or `__lt__` or somewher

[2017-04-12 19:21] artemrizhov commented on #12533
This did not work for me. Is my code correct?

[code]
This produces TypeError: list indices must be integers, not Idx

[2017-04-12 19:22] asmeurer commented on #12533
You need to evaluate the Sum first, `expr.doit()` (or use `summation` instead of `Sum`). Otherwise it tries to do `range(1, 6)[i]` where `i = Idx('i')` and range does not know how to evaluate on Idx.

[2017-04-12 19:26] artemrizhov commented on #12533
Oh, I just found you reply on SO. Thank you!

[2017-04-12 19:29] asmeurer commented on #12533
Yes, I wanted to keep it in both places, so that people could find the answer regardless of which site they ended up in. Plus, the discussion here could get technical, as the goal is to actually fix the issue.

[2017-04-12 19:32] asmeurer commented on #12533
This issue is related: https://github.com/sympy/sympy/issues/7985. I guess it was fixed for dictionaries, but not lists.

[2017-04-12 19:37] skirpichev commented on #8789
@smichr, I don't think that your examples are relevant here.

Take ``eq = x + (x**3 - 3*x**2)**(1/3) + 1`` (btw, there is a typo in bug description), your last equation, which now in ``solve()`` docstring.  ``1/3`` is not a solution for this equation, but for ``x + RootOf(y**3 - (x**3 - 3*x**2), y, 0) + 1`` (see diofant's PR diofant/diofant#493, that use this test).

Mathematica 7 (which like SymP

[2017-04-12 19:41] artemrizhov commented on #12533
On StackOverflow you provided [an example](http://stackoverflow.com/a/43356538/969451) where you use a range of six elements:

[code]
This works, but `l` actually contains 6 elements instead of 5:
[code]
If I replace it with a range of 5 elements `range(1,6)` then it fails with "IndexError: list index out of range". Why it requires elements #0 for some reason, it does not uses it for the result:
[

[2017-04-12 19:47] asmeurer commented on #12533
Yes, as I noted on on the post, you really need to be indexing your sum from 0 to n - 1, since that is how Python does list indexing. If you do that, then your original `range(1, 6)` will give the answer you expect.

[2017-04-12 19:56] asmeurer commented on #12534
Some other test failures. At least one is due to not using `sympify`. I haven't looked into the rest yet

[code]

[2017-04-12 19:58] asmeurer commented on #12534
PR of work so far https://github.com/sympy/sympy/pull/12537

[2017-04-12 20:11] artemrizhov commented on #12533
Oh, I confused myself by trying to use identical indeces and values. I thought I've created a list starting from `l[1]=1` )))) Thank you for your patience!

[2017-04-12 21:57] smichr commented on #12534
I totally agree and that is why I abstracted the process to `_n2`. You would call it before trying an assumptions test as I have done in the Expr's inequality operators. I think I commented in the issue that I opened regarding the use of evaluation in assumptions that many of the queries don't make it to the numerical testing of the args. I'll have to look again to see what the issue is.

[2017-04-13 04:34] Yathartha22 opened #12538 "solve returns empty list for `x**(1/x) - 1`"
At present
[code]
should return

[code]

For this equation `solve` returns an empty list, rather it should return `[1]`. I guess there is something that `solve` is missing. I am trying to find out where `solve` is going wrong. I would appreciate if anyone have  suggestions regarding this bug.

@asmeurer @smichr

[2017-04-13 19:27] szymag commented on #12525
@smichr,
Do you think that it's good idea to use `evalf()` in `is_real` to handle more complex scenario? We need to somehow repair this, because for example `solve` in `intersection` method in `geometry` package don't work properly.

[2017-04-13 20:56] #12522 closed

[2017-04-13 23:06] valglad commented on #12538
Well, one problem is that `_solve()` complicates the equation when it makes it into a polynomial in `x**(1/x)` on line 1427: it solves the polynomial and proceeds to solve `x**(1/x) - t` so that it can turn the solutions of the polynomial into solutions of the original equation, but of course `x**(1/x) - t` is harder than the original. It would probably be good to have something in that block of c

[2017-04-14 10:02] Yathartha22 commented on #12538
thanks @valglad
I have also opened a PR regarding this. It would be great if you could give your suggestions regarding the approach

[2017-04-14 10:06] #12186 closed

[2017-04-15 09:50] hnykda opened #12543 "Current state of multivariable stats distributions"
Hi,

I am struggling to build a multivariate normal distribution. I found some hacky solutions on the web, but isn't there something right built in Sympy? There is some mention in [wiki](https://github.com/sympy/sympy/wiki/Random-Variables#multivariate-normal-random-variable), but I haven't found any code.

thanks

[2017-04-15 13:19] maurogaravello opened #12544 "Sum(cos(1/n) - 1, (n, 1, oo)).is_convergent() returns false"
The following code

[code]
returns `False`. This is not correct. Indeed this series has the same behavior of `Sum(1/n**2)`, which is convergent.

[2017-04-15 13:28] Upabjojr commented on #12532
This is related to a more complex issue: Should `d[i].free_symbols` output `(d, i)` or `d[i]`?

It currently defaults to `(d, i)`. Maybe it should output `(d, i, d[i])`?

If it were to output `(d[i],)` derivatives would fail.

[2017-04-15 13:39] Upabjojr commented on #12533
What about abolishing `IndexedBase` and just use `Symbol`? This would solve the problem of `Symbol("d")` and `IndexedBase(Symbol("d"))` being two different objects.

[2017-04-15 14:23] #12487 closed

[2017-04-15 17:08] asmeurer commented on #12533
I'm not sure if that's a good idea. Anyway, I doubt it would affect this issue, which has to do with Indexed.

[2017-04-15 17:10] asmeurer commented on #12532
Are there existing instances where free_symbols are not atomic?

[2017-04-15 18:04] YuriyTigiev opened #12546 "diophantine. base_solution_linear returns solution"
Hello,
The base_solution_linear returns a solution for case when equation doesn't have a solution
Sample code
[code]
Returns
`2 2`

[2017-04-15 18:05] Upabjojr commented on #12533
Why not? We can just move its `__getitem__` to `Expr` and/or `MatrixBase`. We could also abolish `MatrixElement` and just use `Indexed`.

[2017-04-15 18:45] adilbeknurmakov commented on #12501
Possible error may line in loop body. Specifically in the sequence of code. Printing statement is ran before than check of true false condition. That's why checking fails Try to change order and use something like this.
  # Create sum sign based on the height of the argument
            d, h, slines, adjustment = asum(
                H, prettyLower.width(), prettyUpper.width(), ascii_mode)

[2017-04-15 19:03] adilbeknurmakov commented on #12544
Where I can see method on convergence test? Because possible problems can be in initialization of  limit parameters. Python already has scripts for testing convergency. I would recommend to to use them and then if error is not identified change parameters in function itself. Example script may be found here.
http://exciting-code.org/lithium-simple-convergence-tests

[2017-04-15 19:20] RomanDerzh opened #12547 "problems in sum function"
I have function to calculate he sum of integers. But my exception is not active and is not thrown when it is necessary. The code is not complete
from sympy.solvers.diophantine import base_solution_sum_integers
from sympy.abc import t

...     n = ["a", "b"]
...     int(n[2])
... except ValueError, IndexError:  # To catch both exceptions, right?
...     pass
...
Traceback (most recent call last):

[2017-04-15 19:23] RomanDerzh opened #12548 "List of modulo operator sequence does not work"
List content is not updated and this causes range error
from sympy.solvers.diophantine import base_solution_math_operators
from sympy.abc import t

...     if odd(numbers[i]):
...         del numbers[i]
...
Traceback (most recent call last):
  	  File "<stdin>", line 2, in <module>
IndexError: list index out of range

[2017-04-15 19:32] adilbeknurmakov commented on #12525
why not? In this case it is reasonable to use evaf() in is_real. Especially if you have predefined array of domains.  Finally you always have to determine whether the solution is valid (. soln_i.is_real is none for all soln_i).

[2017-04-15 20:09] Yerniyaz commented on #12546
base_solution_linear(a,b,c) returns solution for the equation a=b*x+c*y. So, x=2 and y=2 is solution of the equation 2=4*x+(-3)*y. I think it returns rigth answer.

[2017-04-15 20:46] smichr opened #12549 "unify return type for polygons"
[code]

It would be nice to have the same type in both cases. Having them be lists would make it easy to process the elements in a `while container:`-loop.

[2017-04-15 20:47] Yerniyaz commented on #12548
python is organized such, that it does not update value given to range(). In your case, length of the list was changed , however for loop works only with initially given value. In this case, I recomend you to use while loop.

[2017-04-15 20:52] anca-mc commented on #12346
I traced down the problem to the call of the groebner() method, which does not give a correct answer (ideal generators)
 for the above polynomial system, the third element of the basis appears to be a constant polynomial, 1.0:

GroebnerBasis([1.0*x - 3.10794308728373*y**2 - 5.00025087400312, 1.0*y**4 + 3.22667920514154*y**2 + 0.00025972899805903, 1.0], x, y, domain='RR', order='lex')

However, cha

[2017-04-15 20:58] Yerniyaz commented on #12549
let me get this isue

[2017-04-15 21:25] nameofuser1 opened #12550 "Sympy rot_axis1/2/3"
I wonder why rot_axis1/2/3 functions returns matrices that do not conform right hand rule?

`import sympy as sym`
`print(sym.rot_axis3(sym.Symbol('q')))`
produces output:
`[[ cos(q), sin(q), 0],`
 `[-sin(q), cos(q), 0],`
 `[0,       0,      1]]`
which is not a right hand rotation. Negative sign has to be placed at the other `sin(q)`

[2017-04-15 21:31] Yerniyaz commented on #12549
I fixed it. Pull request #12551

[2017-04-16 04:23] YuriyTigiev commented on #12546
Thank you. All works. It was my mistake with order of the coefficients.

[2017-04-16 05:34] adilbeknurmakov commented on #12548
Ooooh, this is most popular python bug. The problem is that you are trying to delete item from the list while iterating through it. Fortunately, python has ready paradigms to make your code easier and without bugs. Here is ready correct version

[0, 2, 4, 6, 8]

[2017-04-16 06:00] adilbeknurmakov commented on #12547
Problem here: you are specifying incorrectly parameters for exception block. In the above code, the IndexError exception is not being caught by the except statement; rather, the exception instead ends up being bound to a parameter named IndexError. To correct code you need an except statement is to specify the first parameter as a tuple containing all exceptions to be caught.

[2017-04-16 06:01] adilbeknurmakov commented on #12547
Try this one

...     l = ["a", "b"]
...     int(l[2])
... except (ValueError, IndexError) as e:
...     pass
...

[2017-04-16 08:48] RomanDerzh commented on #12547
oh, thanks a lot. Problem really was at exception parameters, Now everything works

[2017-04-16 08:54] RomanDerzh commented on #12548
Thanks again, Adilbek.  I did not know that list is not reachable while iteration. Your code compiles

[2017-04-16 09:22] jady707 opened #12552 "Polynomial function"
Hello, from Australia. I want to try myself in writing polynomial function. But don't have deep knowledge in python syntax. For example, function negate(p) that negates the polynomial represented by the list of its coeffeicients p and returns a new polynomial (represented as a list). In other words, write a function that makes the list of numbers negative. How this will look like?

[2017-04-16 09:33] Yerniyaz commented on #12552
something like this:

def negate(p):
    for i in range(len(p)):
        p[i]=(-1)*p[i]
    return p

[2017-04-16 09:39] adilbeknurmakov commented on #12552
Alternatively you can  use  numpy.poly1d and numpy.polymul, where the coefficients are a0*x2 + a1*x + a2.

For example, to represent 3*x**2 + 2*x + 1
def negl_polynomial(p,x):
    return sum((a*x**i for i,a in enumerate(p)))

def multiply_by_one_term(p, a, k):
    return [0]*k + [a*i for i in p]

[2017-04-16 09:55] jady707 commented on #12552
Thank, you guys. Both ways work))) But second I guess is more flexible

[2017-04-16 10:09] #12550 closed

[2017-04-16 10:10] maurogaravello commented on #12544
It seems to me that the `is_convergent()` method in `summation.py` at a some point calculates the order of the expression `cos(1/n) - 1` through the instruction `order = O(sequence_term, (sym, S.Infinity))`.
After that, `order` has the value `O(1, (n, oo))`, which is mathematically correct, but some information is lost. Clearly the sum of '1' is not convergent. In this example, it seems that the c

[2017-04-16 20:30] asmeurer commented on #12533
We should open a new issue for it, but to me, it makes Symbol represent too many things.

[2017-04-17 08:56] maurogaravello commented on #12414
I noticed that, removing the `continue` statement in line 1804 of `solvers.py`, the example works correctly.
Moreover all the tests seem ok.  However, it is not clear to me whether `continue` is important or not.

Moreover, the line 1795, i.e. `b = checksol(u, u, eq2, minimal=True)` seems strange to me. If one put `b = checksol(eq2, u, u, minimal=True)`, then the example is ok without commenting t

[2017-04-17 11:26] stevemolloy opened #12554 "Integration fails unless I do it a step at a time"
I am working with Python3 in a Jupyter notebook.

My setup code:
[code]

Then I try to integrate over `phi`.  This step fails with `TypeError: Invalid NaN comparison
`.
[code]

To make it work, I go back to the same Jupyter cell, and edit it as follows:
[code]
This works.

Then this **which also fails**,
[code]

Then,
[code]
This works.

Then I try the original integration again.
[code]
**And it w

[2017-04-17 12:07] maurogaravello opened #12555 "limit((3**x + 2 * x**10) / (x**10 + E**x), x, -oo) gives 0 instead of 2"
The following code

[code]
returns `0` instead of `2`.

[2017-04-17 13:23] stevemolloy commented on #12554
Actually, that whole dance isn't necessary.  Just continually execute `sp.integrate(sigma, phi)` until it works.  Three or four times does the trick.

[2017-04-17 15:29] smichr commented on #8373
Reminder to check if `Or(x <= 1, x >= 1)`  and `Or(x < 1, x > -1)` simplify correctly. If they don't, the complementary args should be updated like `Le: (Gt, Ge), Ge: (Lt, Le)`, etc...

[2017-04-17 15:48] #12546 closed

[2017-04-18 05:27] nicoguaro opened #12557 "Fourier Series of sqrt(x**2) and integrate(cos(k*x)*sqrt(x**2), x) are wrong"
Computing the coefficients for the Fourier Series for ``sqrt(x**2)``

    from __future__ import division
    import sympy as sym
    x,y,z,t = sym.symbols('x y z t')
    k = sym.symbols("k", integer=True)
    fourier = sym.fourier_series(sym.cos(k*x)*sym.sqrt(x**2),
                                 (x, -sym.pi, sym.pi))

returns

    FourierSeries(sqrt(x**2), (x, -pi, pi), (pi/2, SeqFormula(Piece

[2017-04-18 06:49] mcho421 opened #12558 "manualintegrate of sec(4*x)**2 doesn't give tan(4*x)/4"
On master (4138c0fbf459e69bdbebddca6cc39afdce0a74fa)

[code]

This should be `tan(4*x)/4`

[2017-04-18 10:03] Xiaofei-Luo opened #12559 "solveset(log(x) < 1, x, domain=S.Reals) wrong answer"
`solveset(log(x) < 1, x, domain=S.Reals)` gives `(-oo, E)` instead of `(0, E)`. It seems that sympy fails to consider function definition field when solving equations containing logarithmic functions.

[2017-04-18 15:07] smichr opened #12560 "_nsort can handle results of length 1"
[code]

If there is only 1 real and/or 1 imaginary root, `_nsort` should return those roots as they don't need sorting.

[2017-04-18 16:59] parsoyaarihant commented on #12560
I am receiving different error:

[code]

[2017-04-18 17:01] parsoyaarihant commented on #12549
I think this issue should be closed.

[2017-04-19 02:46] mehrdadn opened #12561 "solve() with Dummy(real=True) doesn't work"
Input requests real results only:

	import sympy
	x = sympy.Dummy('x', real=True)
	for r in sympy.solve(x ** 3 - x + 1, x):
		print(r.evalf())

Output still contains non-real numbers:

	0.662358978622373 + 0.562279512062301*I
	0.662358978622373 - 0.562279512062301*I
	-1.32471795724475

[2017-04-19 03:24] mehrdadn opened #12562 "solve() with Dummy(real=True) suppresses reals"
Floating-point confuses SymPy into thinking there's an imaginary component:

	import sympy
	def f(t): return t ** 3 / 20.0 -  t ** 2 * 2 / 3 + t * 9 / 5 - 1
	print(sympy.solve(f(sympy.Dummy('s'))))
	print(sympy.solve(f(sympy.Dummy('t', real=True))))

Output:

	[0.754429249397174 + 0.e-20*I, 2.67737505573157 + 0.e-22*I, 9.90152902820459 - 0.e-21*I]
	[]

[2017-04-19 04:02] apalmer1377 opened #12563 "solveset(x==0,x,S.Reals) returns EmptySet()"
Running `solveset(x==0,x,S.Reals)` returns EmptySet().  However, `solveset(x>=0,x,S.Reals)` returns the proper value of `Interval(0,oo)`.

[2017-04-19 09:02] Xiaofei-Luo opened #12564 "Can't solve limit(x**2 + x*sin(x) + cos(x), x, -oo)"
`limit(x**2 + x*sin(x) + cos(x), x, -oo)` should return oo

[2017-04-19 13:32] smichr commented on #12563
`x==0` automatically converts to False and solveset(False, x, S.Reals) is the empty set. If you send `Eq(x, 0)` -- the unevaluated equality -- you will get {0}.

[2017-04-19 13:32] #12563 closed

[2017-04-19 13:35] smichr commented on #12560
Yes. It raises that error because `_nsort` raises an error. After looking at the docstring for `_nsort` I see that it is only intended to deal with numbers so the better place (perhaps) to deal with this is in the `solve_univariate_inequality` itself. I think that's what I am trying -- with success! -- in my `lts-wip` branch.

[2017-04-19 13:35] smichr commented on #12549
Thanks; closed.

[2017-04-19 13:35] #12549 closed

[2017-04-19 13:38] smichr commented on #12561
related to #12327 and #12534 -- if solve cannot tell if a solution is real or not it will return it. When those issues are addressed, this problem may go away.

[2017-04-19 13:40] smichr commented on #12562
Note: check to see that the test for an imaginary part *also* concludes only if the imaginary part has precision.

[2017-04-19 23:49] mamakancha opened #12565 "Matrix Norm for order 1 under development"
Consider the following piece of code :

[code]

[2017-04-20 07:12] mvanda opened #12568 "problem in integration"
I input this simple code:

x=Symbol("x",real=True)
y=Symbol("y",real=True)
y0=Symbol("y0",positive=True)
print integrate(1/(1+y**2),(y,0,y0))   # correct result: atan(y0)
print integrate(1/(1+(x*y)**2),(y,0,y0))  # incorrect result: 0

I am using sympy 0.7.5 but I tried this code with sympy 1.0 on the web sympy live
with the same output.

The second integration is correct when x is defined as
x=Sy

[2017-04-20 07:34] jksuom commented on #12568
Essentially a duplicate of https://github.com/sympy/sympy/issues/12050. Closing.

[2017-04-20 07:34] #12568 closed

[2017-04-20 11:57] szymag commented on #12525
Using `evalf()` in `is_real` is not the case.
I've looked up in `sympy/core/assumption`, where attribute like `real` is added to object and I saw that attribute `rational` for solutions is `None`.

I see two possible solution:
* improve algorithm which determine if object is rational or not (I suspect that it is too complicated for me)
* add to `solve` filtering of solution using `evalf()`. We can

[2017-04-20 11:58] parsoyaarihant commented on #12501
Related to #10927 .

[2017-04-20 13:45] mvanda opened #12569 "problem with polygamma or im"
N(polygamma(0,I))
yields a correct result
0.094650320622477 + 2.07667404746858*I
but
im(polygamma(0,I))
yields zero.

[2017-04-20 14:01] jksuom commented on #12569
`polygamma` is real for real arguments. Hence the imaginary part is zero.
[code]

[2017-04-20 14:08] mvanda commented on #12569
Please note that the second argument is I (imaginary unit) not 1 (one).

[2017-04-20 14:24] smichr commented on #12525
@asmeurer is working on something toward this end in #12537 (and I think I left breadcrumbs to related issues there)

[2017-04-20 15:19] jksuom commented on #12569
I see, now that you point that out. (My eyesight is not what it used to be..)

[2017-04-20 16:10] jksuom commented on #12569
It seems that the error results from this:
[code]
There a bug in `polygamma._eval_is_real`. It does not check the proper argument.

[2017-04-20 18:51] asmeurer opened #12571 "limit(-LambertW(-log(t))/log(t), t, 1) crashes with RecursionError"
[code]

I believe the answer should be `1`.

[2017-04-20 19:02] asmeurer commented on #12501
Curious that this bug doesn't seem to affect this

[code]

[2017-04-20 19:24] asmeurer commented on #12525
I'm not sure if my work in that PR will affect what you guys are talking about.

[2017-04-20 20:07] nicoguaro commented on #12557
This is probably a consequence of #2868. Maybe #8430 is also related

If I compute the antiderivative of the piecewise version of the abs function

    import sympy as sym
    x = sym.symbols("x", real=True)
    abs2 = lambda x: sym.Piecewise((-x, x<=0), (x, x>0))
    inte = sym.integrate(abs2(x), x)

it returns

    Piecewise((-x**2/2, x <= 0), (x**2/2, x > 0))

But if I try with the definite int

[2017-04-20 20:35] tgrassi opened #12572 "problem with parse_expr and Abs"
Hi all,

I found a problem when using `parse_expr` and `Abs`.
In particular, when I do this
[code]
I correctly get
[code]
However, when I try to do the same, but using `parse_expr`
[code]
I get an empty list
[code]
This happens in ver 0.7.6.1 and 1.0.1.dev0

Thanks in advance for your help.

[2017-04-20 21:14] debugger22 commented on #12572
There's a difference between both cases. In first case, the `x` is real where as in second it's unknown.

[2017-04-20 21:30] smichr commented on #12525
If it *can*be evalfed with precision, it should be. That was the motivation behind #12327 -- something is wrong right now and the evaluation is not taking place in Expr when dealing with a number (or something like that). The code that tries to make a justified conclusion based on evaluation (and to avoid giving a false positive if the expression cannot be computed with precision) is there (in Sym

[2017-04-20 21:39] aeantipov opened #12573 "Units broken in 1.0.1"
Here's a simple unit conversion code.
[code]
python3 + sympy 1.0.1 gives `meter/nanometer`.
python3 + sympy 1.0.0 gives `1000000000.00000`.

[2017-04-20 21:48] djsegal opened #12574 "Simplify constant coefficients"
I have something like:

[code]

And the coeffs (i.e. `57459.1742773058`) only grow with further solves.

Is there a way to make these scale/simplify towards `O(1)` values?

[2017-04-20 21:50] debugger22 commented on #12572
Feel free to close this issue.

[2017-04-20 22:53] tgrassi commented on #12572
Hi,
thanks for the prompt answer!
The second example is a continuation of the first, so `x` is already defined real by `x = Symbol("x",real=True)`.
In fact, if I comment the line `x = Symbol("x",real=True)` I get an error when using `parse_expr`, i.e. `NameError: name 'x' is not defined`, so `x` seems to be defined there.
If the "real" is lost, how can I define `x` as real in an expression parsed

[2017-04-21 03:06] debugger22 commented on #12572
`x` doesn't need to be pre-defined in order to be used within `parse_expr`.

[code]

[2017-04-21 08:35] TobiSchluter opened #12576 "Non-commutative multiply triggers inappropriate substitutions"
I was playing around with sympy a bit, but almost immediately ran into trouble. Even though I think it's a nice tool, I ran into this too fast to trust it :(

In sympy live I enter:
[code]
and I try two operations (x, y are symbols without further qualifications in sympy live):
[code]
Note how the imaginary unit appears out of nowhere when the same substitution is applied twice. I.e. ```a**3``` is

[2017-04-21 09:05] tgrassi commented on #12572
OK, thanks for the explanation.
I moved  to `solveset` using `domain=S.Reals` with the parsed expression and it works.

Thanks for maintaining this code!

[2017-04-21 09:06] #12572 closed

[2017-04-22 05:57] #10927 closed

[2017-04-22 05:58] #12501 closed

[2017-04-22 06:01] smichr commented on #12574
Perhaps replace them with `round(foo)` or `foo.n(nsig)`? Why do you want to replace them? Can you show more of the problem you are working on and how these are growing?

[2017-04-22 06:44] parsoyaarihant commented on #12425
[http://docs.sympy.org/latest/gotchas.html#help](http://docs.sympy.org/latest/gotchas.html#help) also ends up with `The output will look something like this:`.

[2017-04-22 11:56] xaverm opened #12578 "Taylor expansion wrong (likely because of wrong substitution at point of evaluation?)"
`import sympy as sp`
Then let
`xp = ((sp.Integer(1)-((u+sp.Integer(1)/u)/sp.Integer(2))**(-sp.Integer(4)))**sp.Rational(1,8))`
i.e. `xp = (1 - 1/(u/2 - 1/(2*u))**4)**(1/8)` ;)
then do
`s=sp.series(xp,u,0,17)`
we get
`1 - 2*u**4 - 8*u**6 - 34*u**8 - 24*u**10 + 118*u**12 - 672*u**14 - 686*u**16 + O(u**17)`
**This is wrong**, starting with the coefficient of order 10.
The proper series reads
`1 - 2*u

[2017-04-22 12:28] jksuom commented on #12578
Probably related to https://github.com/sympy/sympy/issues/10503, https://github.com/sympy/sympy/issues/9549 and some other similar issues.

[2017-04-23 00:12] aquirdTurtle opened #12581 "Infinite recursion trying to evaluate non-converging integral"
Hello,

Sympy is causing infinite recursion errors when trying to solve specific non-converging integrals. The following three lines reproduce the recursion error:

[code]

Which gives the trace-back of

[code]
etc. etc. until

[code]

Other non-converging integrals are handled more nicely, e.g.

![image](https://cloud.githubusercontent.com/assets/4393192/25309255/b08bd18e-2785-11e7-916b-f0036166e

[2017-04-23 07:41] neihousaigaai opened #12582 "Can't solve integrate(abs(x**2-3*x), (x, -15, 15))"
`integrate(abs(x**2-3*x), (x, -15, 15))` should return 2259 but it returned `Integral(Abs(x**2 - 3*x), (x, -15, 15))`.
That integral is solvable if I input `integrate(x**2-3*x, (x, -15, 0)) - integrate(x**2-3*x, (x, 0, 3)) + integrate(x**2-3*x, (x, 3, 15))`.
Besides, some integrals and antiderivatives with absolute can't be solved by sympy.

[2017-04-23 09:18] mehrdadn opened #12583 "SymPy can't compare real numbers?"
The code

	from sympy import sqrt
	v = sqrt(2)
	u = sqrt(v) + 2/sqrt(10 - 8/sqrt(2 - v) + 4*v*(1/sqrt(2 - v) - 1))
	if u >= 0: print("yes")

should not result in

	Traceback (most recent call last):
	  File "<pyshell#4>", line 1, in <module>
	    if u >= 0: print("yes")
	  File "sympy\sympy\core\relational.py", line 195, in __nonzero__
	    raise TypeError("cannot determine truth value of Relation

[2017-04-23 10:23] jksuom commented on #12583
Comparisons of real algebraic numbers have not yet been implemented in SymPy. It is currently necessary to pass over to floating point versions: `if N(u) >= 0: print('yes')`.

[2017-04-23 21:32] bjodah commented on #12573
I guess this is due to #12246, @Upabjojr might know.

[2017-04-23 23:59] nicoguaro commented on #12582
This is probably a consequence of #2868. Maybe #8430 is also related.

[2017-04-24 07:07] Upabjojr commented on #12573
The new intended behaviour is to leave units unevaluated whenever possible. Try to convert everything to the same unit, for example `u.convert_to(u.m/u.nm, u.m`.

[2017-04-24 07:08] Upabjojr commented on #12573
Fixing the .n( ) part can be more complicated. Mul should be made units aware.

[2017-04-24 07:08] mvanda commented on #12583
My output from your code is
yes
using
python version: 2.7.8
sympy version: 0.7.5

[2017-04-24 07:10] mehrdadn commented on #12583
I'm on SymPy 1.0.1.dev.

[2017-04-24 07:40] #12555 closed

[2017-04-24 10:06] ghost opened #12585 "Wrong measurement for one qubit state."
Hi, sympy developers.

    measure_all(qapply(Qubit('0')))

returns [(|01>, 1)] but should be [(|0>, 1)]

best, Vladimir.

[2017-04-24 13:03] VanHulleOne commented on #10844
Just ran into this issue myself `subs` works properly with derivatives but `dummyify` does not. My current work around is to create my own dummy variables first, sub them in for any derivatives, and then `lambdify`.

[2017-04-24 13:12] smichr commented on #12583
It is numerically inadvisable to do so in general since the evaluation may result in a number without precision about which no conclusion should be drawn. Here is another option that perhaps works because it forces an (careful) numerical evaluation in the assumption system:

[code]

[2017-04-24 16:42] maurogaravello commented on #12559
In the last version of sympy, `solveset(log(x) < 1, x, domain=S.Reals)` returns `Interval.open(0, E)`.
Probably some PR corrected the behavior.

[2017-04-24 19:21] #12559 closed

[2017-04-25 10:07] skirpichev opened #12589 "Wrong test in Basic,is_comparable for imaginary part"
Example

[code]

[2017-04-25 12:01] mvanda commented on #12589
According to documentation, "false" result does not mean that a quantity cannot be converted to comparable, e.g. by simplification.

[2017-04-25 12:23] skirpichev commented on #12589
Oh, it's now a feature.  Sorry.

Unfortunately, your codebase still use is_comparable to check if number is not comparable with 0.  Notable example is ``solve_univariate_inequality``.

[2017-04-25 12:23] #12589 closed

[2017-04-25 17:22] asmeurer commented on #12583
These numbers without precision should be raising errors themselves when in comparisons, and preferably the precision should be increased automatically.

[2017-04-26 06:47] mvanda commented on #12583
Hi all,

I do not understand the discussion on precision here. These numbers v and u are exact and the question is if u>=0 can be decided or not by some simplification and logical steps. Manually (and exactly) it can be shown than u>0 is true. So ver. 0.7.5 works and 1.0 does not?

[2017-04-26 07:06] jksuom commented on #12583
It is true that `u >= 0` can be decided by logical steps since `u` is a real algebraic number, but that has not been implemented in SymPy. Before that is done, passing over to floating point numbers is the best workaround, and then one has to take care of sufficient precision. (In this particular case that is not a problem since `u` is not close to `0`.) That functionality did not exist in v. 0.7.

[2017-04-26 07:08] mehrdadn commented on #12583
Note that it _does_ seem to have been implemented to some extent (try simplifying the expression, it'll figure it out), so the user doesn't expect it to be considered unimplemented, which makes it all the more unexpected and confusing. If it wasn't implemented at all, it would be spotted in the beginning and not pop up as a bug after release.

[2017-04-27 01:31] nicoguaro opened #12591 "Fourier transform of exponential returns 0"
When I try to compute the Fourier Transform of exp(x) it returns 0.

     import sympy as sym
     x, y = sym.symbols("x y", real=True)
     fun = sym.fourier_transform(sym.exp(x), x, y)
     print(fun)

returns

    0

[2017-04-27 06:58] ychen306 opened #12592 "Sympy can't simplify this modular expression"
Sympy can simplify `(i*n + j%n) % n` into `j%n`.
But `((j % n)*n + j%n) % n` can't be simplified.

[2017-04-27 08:35] jksuom commented on #12591
Maybe some kind of error message should be output.

[2017-04-27 09:06] mohit3011 commented on #12591
@jksuom , I think we can provide some error message whenever we find positive powers of any symbol as positive powers would give error in this case

[2017-04-27 09:07] mvanda commented on #12591
A similar problem can be found at

http://stackoverflow.com/questions/33208737/continuous-fourier-transform-with-python-sympy-analytical-solution

[2017-04-27 10:06] jksuom commented on #12591
It would probably be safe to give at least some kind of warning if the limits of the functions at `oo` and `-oo` are not zero. Strictly speaking, the Fourier integral can exist only if the function is integrable over the real line. However, it is possible to formally extend the integral to square integrable functions by a limiting process based on Parseval's theorem (integral of the square absolut

[2017-04-27 12:10] #12464 closed

[2017-04-27 12:18] bjodah opened #12593 "Handling of attributes not in args"
Optional attributes are not well suited to be stored in `args` (e.g. as `None`), as an alternative one may directly add attributes to objects. Currently, however, these attributes are lost during reconstruction of objects:
[code]
This should ideally "just work". See #12490 for some discussion on this particular case, and https://groups.google.com/forum/#!topic/sympy/VVaDc-yFtlQ
for a discussion ab

[2017-04-27 15:46] symbolique opened #12594 "Document and warn when solve_poly_system misses solutions not expressible by radicals"
Currently there is no documentation at all of the fact that `solve_poly_system` will throw away solutions not expressible by radicals. This results in confusion: for example bug #11179 shows some people are unaware.

Furthermore it would be a good idea to emit a warning in that case: `roots()` could accept an optional argument such as `warn=True`. Maybe it should even be the default when calling `

[2017-04-27 15:48] jksuom commented on #12585
It seems that if the number of qubits is one, the argument `nqubits` on [this line](https://github.com/sympy/sympy/blob/master/sympy/physics/quantum/qubit.py#L544) will be interpreted as an extra qubit. There should be only `IntQubit(i)` with no `nqubits` argument in case `nqubits == 1`.

[2017-04-27 15:51] symbolique commented on #11179
That solution has algebraic degree 35 so it is currently ignored by solve_poly_system. I filed #12594 because there should be a warning.

[2017-04-27 17:07] smichr commented on #12594
cf #12345

[2017-04-27 17:08] smichr commented on #11179
cf #12345

[2017-04-28 05:55] matthewwardrop opened #12597 "`subs` method of expressions no longer "sympifies" strings"
Hi all,

Not sure if this is intended behaviour, but running the following differs in output between Sympy 1.0 and Sympy master:

[code]

On 1.0, it outputs: `{x}`.

On master, it outputs `{2*x-1, x}`, treating the string as an atomic entity (rather than interpreting it).

I like the former behaviour in general, and am wondering if this is a regression.

[2017-04-28 07:59] bjodah commented on #12597
Don't know if that is intended or not, let's see when that happened: using find_regr.py:
[code]
and running:
[code]
72e2998 is part of #10638 so pinging @smichr to see what he thinks.

[2017-04-28 14:19] smichr commented on #12366
For segments, the following could be returned:

[code]

using this method

[code]

[2017-04-28 17:06] smichr opened #12598 "make ray intersection more robust"
The intersection of two rays is being rejected:

[code]
Output is:
[code]

(The last 3 should have given ray intersection identical to the Line-wrapped ray intersections.)

[2017-04-28 17:10] smichr opened #12599 "[feature] bisectors method for Polygon"
Something like this might be nice to add:

[code]

[2017-04-28 19:56] moorepants opened #12600 "kinematic_equations should return a zero vector if the speeds are all zero"
This is currently the behavior:

[code]

This expected output should be:

[code]

[2017-04-28 20:46] #12533 closed

[2017-04-29 00:00] asmeurer opened #12602 "count_roots is extremely slow with Python ground types"
*GMPY ground types:*

[code]

**Python ground types** (use `./bin/isympy -t python`)

[code]

Obviously the Python ground types are known to be slower than gmpy2, but I would hope that they could be a little faster than this.

[2017-04-29 04:07] moorepants opened #12604 "linsolve should be able to solve for functions in addition to symbols"
Currently:

[code]

returns

[code]

`solve` handles this just fine.

[2017-04-29 04:53] parsoyaarihant commented on #12598
I am able to get the intersection locally:
[code]

[2017-04-29 12:16] jksuom commented on #12602
It seems that the [gcd computation](https://github.com/sympy/sympy/blob/master/sympy/polys/domains/pythonrational.py#L60) in pythonrational is the bottleneck. With big numbers like those above the gcd is seldom greater than one, so there is no cancellation, and the numbers grow in size to nearly 30000 digits. Almost the same number of loop repetitions is necessary in the Euclidean algorithm for ea

[2017-04-29 14:23] maurogaravello commented on #12564
#12607

[2017-04-29 15:02] anca-mc commented on #12346
@smichr
The problem stems in the approximations of the coefficients for the two equations. The equations are considered to have real coefficients and
 a degree of approximation occurs from the start.
The first equation is beforehand 'approximated' to  0.04*x**2 + 0.00346020761245675*y**2 - 1.0.
The coefficient of y**2, 0.0034602076124567475, is an approximation of 1/289:

0.00346020761245674750988

[2017-04-29 18:11] #7910 closed

[2017-04-29 19:35] asmeurer commented on #12602
Looks like `math.gcd` uses [Lehmer's algorithm](https://github.com/python/cpython/blob/918403cfc3304d27e80fb792357f40bb3ba69c4e/Objects/longobject.c#L4657). Sadly, it is Python 3.5 only, but we should definitely be using it in that version.

[2017-04-29 19:38] asmeurer commented on #12602
This simple patch:

[code]

results in

[code]

which is still slow, but much more reasonable. There are other places in the code where gcd is implemented too (why is there duplication?). They should always use gmpy.gcd if gmpy is available, math.gcd otherwise if in Python 3.5, and the naive algorithm otherwise. We might also want to try to implement Lehmer in pure Python for Python < 3.5.

[2017-04-29 19:46] asmeurer commented on #12602
I did a profile (with pyinstrument) and it seems with that patch most of the time is still spent in `PythonRational.__init__`. So I don't know if we can get much faster. Perhaps in `__mul__`, where it also spends a lot of time, it can be faster by making use of the fact that the two rationals are already in cancelled form?

[2017-04-29 20:03] asmeurer commented on #12602
I did a little testing, and it does indeed seem to be a little faster (about 1.4x for fractions that don't cancel and 2x for fractions that cancel a lot) to compute `a*b` as

[code]

[2017-04-29 20:08] asmeurer commented on #12602
With this patch

[code]

I get

[code]

I don't know how to make it faster, unless there is a similar trick we can do for addition.

[2017-04-29 20:46] jksuom commented on #12602
It looks like gmp is also using this 'crosswise' gcd for multiplication.

[2017-04-29 20:47] asmeurer commented on #12602
Oh I forgot to actually disable gcd in the constructor. And a little more speedup from doing ints, and `__div__` too

[code]

[code]

[2017-04-29 20:49] asmeurer commented on #12602
Here's a pyinstrument profile: https://rawgit.com/asmeurer/3ac15d5d079bbac0924adbad86fc571f/raw/09df9ffa83a123c2db9e466acdcff8b983d1a891/profile.html (here's the code I ran https://gist.github.com/asmeurer/3ac15d5d079bbac0924adbad86fc571f). Don't know if that suggests any more speedups.

[2017-04-29 20:56] asmeurer commented on #12602
I added a TODO list to the top. Everything except for implementing Lehmer's algorithm should be quite easy, if someone else wants to pick up the work.

[2017-04-29 20:59] asmeurer commented on #12602
I also just remembered that the gcd in the core has a cache, so using that might speed things up even more, supposing the same inputs are encountered multiple times.

[2017-04-29 22:56] matthewwardrop commented on #12597
Thanks @bjodah

[2017-04-30 01:17] asmeurer commented on #12597
Automatic string sympfication should not be relied on, and it could be removed from any function at any point. With that said, it definitely shouldn't be creating a Symbol from a string.

[2017-04-30 02:19] smichr commented on #12598
I noticed that after posting...the issue is a floating point one where the intersection is not detected to be exactly on both of the original rays. (The floating pt values come from a more complicated expression which I did not show.) The solution, I think, is to find a way to confirm that the rays are going to intersect and then to accept the solution of the lines without testing to see if the re

[2017-04-30 05:06] parsoyaarihant commented on #12598
Can you post the expression which returns floating point?

[2017-04-30 05:43] isuruf commented on #12602
More performance improvement on top of @asmeurer's patch.
[code]

[2017-04-30 06:33] asmeurer commented on #12602
@isuruf nice trick. I had to work out the math to see why it works. With that, I get

[code]

Still 6x slower than gmpy, but that's probably about what we should expect anyway.

By the way, the first Google result for "lehmer's algorithm Python" gives https://bugs.python.org/file9464/lehmer_gcd.py, but there seems to be a bug in it. I tried using it, but I got a mod 0 error from the `a, b = int(b)

[2017-04-30 11:50] coderofgames opened #12609 "Sympy integration"
Hi, I don't understand the algorithm used for integration, (Meijer G-funcs??)
I have problems with some integrals, the example as shown below isn't what is expected,
I have a suggestion for an intelligent algorithm (view in ipython):

example<br>
$$ \int \frac{x}{(x^2 + y^2 + z^2)^{3/2}} dx $$
<br>numerator: $u = x$
<br>denominator: $ v = (x^2 + y^2 + z^2)^{3/2} $
<br>if denominator is a function

[2017-04-30 12:00] coderofgames commented on #12609
The Meijer G-function idea is very advanced, so I can't contribute without a tutorial. I would suggest a modification that uses simpler styles with lookup tables - taking partial fractions etc - a search tree - then if this fails the algorithm could resort to Meijer G-functions (does it do that already?).

[2017-04-30 12:11] parsoyaarihant commented on #12609
Hi, I think you should discuss this on Gitter chat instead:

[https://gitter.im/sympy/sympy](https://gitter.im/sympy/sympy)

[2017-04-30 13:38] coderofgames commented on #12609
I thanks, are you supposed to create a room or post in the room that appears when you log in ?

[2017-04-30 13:57] parsoyaarihant commented on #12609
Post in the room that appears.

[2017-04-30 17:02] smichr commented on #12598
It even fails without evaluation:

[code]

[2017-04-30 20:55] matthewwardrop commented on #12597
@asmeurer That's a pity. String substitution is extremely convenient, but understood. Thanks for looking into it!

[2017-04-30 22:07] coderofgames commented on #12609
Issue resolved, did not import division or use S() notation for the exponent ...
Thanks for all the help on the channel. Ciao

[2017-04-30 22:07] #12609 closed

[2017-05-01 02:25] asmeurer commented on #12597
You can always convert a string into an expression with `sympify` (`S`) first.

[2017-05-01 02:49] matthewwardrop commented on #12597
I know... but particularly for interactive work on the command line, I find it handy to remove as much boilerplate and nested braces/brackets/parentheses as possible. In this instance, I suppose you could reduce it to three extra characters `S(...)`, so it's not terrible. For my edification, though, can you describe some circumstances where you would not want automatic Sympification? Is it a perfo

[2017-05-01 07:43] skirpichev commented on #12602
In the Diofant I get
[code]
for recent CPython (3.5+).

Perhaps, it also does make sense for you - just drop PythonRational class at all and use Fraction.  \_\_mul__-type optimizations could be submitted to upstream.

There are paper by G.Collins (google for "Rational Number Arithmetics") with such optimizations.  I think, last patch for add/sub is also mentioned there.

BTW this testing was for 3

[2017-05-01 09:15] asmeurer commented on #12597
For interactive work, you should use things like `init_session()` or `var` to define symbols, and only work with expressions. It's much less typing if you never type a quote character.

[This page](https://github.com/sympy/sympy/wiki/Idioms-and-Antipatterns#strings-as-input) lists some reasons why using strings is an antipattern.