[2018-02-07 04:22] asmeurer commented on #14099
\iff seems to have less support (at least it wasn't working in Gitter, meaning KaTeX doesn't support it).

[2018-02-07 04:58] SaiSakethAluru commented on #14099
Do we need to change anything for the not equivalent printing also? Also can someone guide me as to how to update the test file as well?

[2018-02-07 05:02] asmeurer commented on #14098
DiracDelta is a symbolic convenience. Mathematically, δ(x) only makes sense inside of an integral of a certain type, but we allow using it generally as any other expression as a convenience, with the caveat that if you create an expression that is mathematically meaningless, you may get a result that is equally meaningless (garbage in, garbage out).

We could have just made a DeltaIntegral object

[2018-02-07 05:03] asmeurer opened #14101 "pprint(x*DiracDelta(x, 1)) gives TypeError: unorderable types: NoneType() > int()"
[code]

I bisected it to commit 5302444cbd0cb167f41f76e795d411784dce13a8:

[code]

CC @sampadsaha5

[2018-02-07 05:05] asmeurer commented on #14099
Yes, they should both use `\Leftrightarrow`.

For the tests, just change the instances of `\equiv` with `\Leftrightarrow` in the `test_latex.py` file. You can check it with `./bin/test latex`.

[2018-02-07 05:23] SaiSakethAluru commented on #14099
Thank you. I have made the required changes in PR #14102. please review.

[2018-02-07 07:23] #13642 closed

[2018-02-07 08:19] ghost opened #14103 "Sum(sin(n), (n, 1, oo)).is_convergent() is not implemented"
`>>> Sum(sin(n), (n, 1, oo)).is_convergent()`
Traceback (most recent call last):

  File "<ipython-input-7-5c5f3b72e2d9>", line 1, in <module>
    Sum(sin(n), (n, 1, oo)).is_convergent()

  File "C:\Users\Roland\Anaconda3\lib\site-packages\sympy\concrete\summations.py", line 528, in is_convergent
    "is not yet implemented" % (sequence_term))

NotImplementedError: The algorithm to find the Sum co

[2018-02-07 09:12] skirpichev commented on #14100
Evil joke.

BTW, there are new solveset(), as a drop-in replacement for solve, with a slightly more comprehensible codebase.  However, it uses more or less same heuristics approach (and, AFAIK, can only solve univariate equations).

I'm afraid, there is one algorithm used (for both framework) - for solving zero-dimensional polynomial systems.  It implemented to find only some solutions, which can

[2018-02-07 09:42] asmeurer commented on #14103
Related https://github.com/sympy/sympy/issues/8328

What convergence check can be implemented to show that the sum does not converge?

[2018-02-07 10:22] abaokar-07 commented on #14095
@asmeurer @smichr  The line number 529 of the file sympy/functions/elementary/exponential.py is :
`return cls(arg.p) - cls(arg.q)`
If we change it to `return cls(Rational(arg.p,arg.q), evaluate=False)` , then it is not doing the simplification.
If the input is given as `log(Rational(3,2))` the the output is coming out to be log(3/2)

[2018-02-07 10:45] jksuom commented on #14095
It is not necessary to change the return line. It will suffice to remove those lines altogether as indicated by @smichr in his [comment](https://github.com/sympy/sympy/issues/5950#issuecomment-362839107). If an argument `arg` does not satisfies any of the conditions, the code will run to the end and return `None`. This return value will imply that `log(arg)` be used as such with no modifications.

[2018-02-07 11:25] jksuom commented on #14095
What did you get?

[2018-02-07 11:30] abaokar-07 commented on #14095
I gave the input as log(Rational(3,2)) and I got the output as log(3/2)

[2018-02-07 11:33] jksuom commented on #14095
I think that is what was to be expected if we do not want `log(3) - log(2)`.

[2018-02-07 11:47] abaokar-07 commented on #14095
But since we have removed the lines which tell what to do when rational argument is encountered, how will logarithm know what to return? But still it is returning the expected answer

[2018-02-07 12:36] jksuom commented on #14095
`.eval()` is called by `Application.__new__`, and if it returns `None`, then a new instance of the given class (`log`) with given argument(s) (`Rational(3, 2)`) is [created](https://github.com/sympy/sympy/blob/master/sympy/core/function.py#L254). This is the default behaviour.

[2018-02-07 13:47] maurogaravello commented on #14103
In this case, it is sufficient to check the limit of `sin(n)` as `n` tends to `oo`. Since the limit does not exist (in particular is different from `0`), the sum can not be convergent.

[2018-02-07 14:11] bollwyvl commented on #14005
Yes, it appears it can follow any of them:
https://nbviewer.jupyter.org/gist/anonymous/e95ab5d42e1ebeeff5fa2aa039dd2cee

When a dot is included, it actually acts _as_ the left (or right) bracket, which might complicate things.

[2018-02-07 16:55] #8202 closed

[2018-02-07 16:55] gxyd commented on #14069
I'm really sorry, I didn't read the issue properly, that's pure carelessness on my part.

@Roland-Sands I've tried to revert the issue description back to how to initially was. Again I'm sorry about that, can you please give a second look to make sure that the issue description is what you originally intended to write?

[2018-02-07 18:20] abaokar-07 commented on #14095
@jksuom So after removing the lines in [comment](https://github.com/sympy/sympy/issues/5950#issuecomment-362839107), will the problem be solved, except for if the tests fail?

[2018-02-07 18:29] martmists opened #14108 "Not displaying images in consoles that DO support displaying them"
If a feature could be added to use e.g. w3m or similar for displaying these images, then that would be a great addition to this already awesome project.

[2018-02-07 19:00] jksuom commented on #14095
It will probably be solved if not too many tests fail (and those that fail can be reasonably fixed).

[2018-02-07 19:02] abaokar-07 commented on #14095
@jksuom Shall I open a pull request with those lines removed?

[2018-02-07 19:11] asmeurer commented on #14095
I would start by running the tests locally (./bin/test), and reporting here what fails.

[2018-02-07 19:18] abaokar-07 commented on #14095
@asmeurer @jksuom sorry that I am asking this again, but after we have made the changes, how to run the tests?
Actually I thought that I got that yesterday, but still I am unclear how to do it

[2018-02-07 20:12] abaokar-07 commented on #14095
I've got it

[2018-02-07 20:56] abaokar-07 commented on #14095
@asmeurer @jksuom I ran the test `(./bin/test)`. Shall I report the file names which in which "FAIL" was returned?

[2018-02-07 22:59] Roland-Sands opened #14110 "The Lagrange inversion formula is not implemented"
It would be pretty good if the Lagrange inversion formula was implemented

[2018-02-07 23:10] ghost opened #14111 "Sum(1/log(log(n)), (n, 22, oo)).is_convergent() not implemented"
`>>> Sum(1/log(log(n)), (n, 22, oo)).is_convergent()`
Traceback (most recent call last):

  File "<ipython-input-19-50f193f491f8>", line 1, in <module>
    Sum(1/log(log(n)), (n, 22, oo)).is_convergent()

  File ".\sympy\concrete\summations.py", line 528, in is_convergent
    "is not yet implemented" % (sequence_term))

NotImplementedError: The algorithm to find the Sum convergence of 1/log(log(n)

[2018-02-07 23:13] Roland-Sands opened #14112 "Sum((-1)**n/sqrt(n), (n, 1, oo)).is_absolutely_convergent() not implemented"
[code]

[2018-02-07 23:40] Roland-Sands commented on #14069
No worries, these things happen

Yes, that is what I wrote, thank you

[2018-02-08 06:24] normalhuman commented on #14111
You can post a code block by surrounding it with triple backticks ``` (so-called code walls). For example
[code]

When a Python program encounters an input for which it does not have an algorithm, it may raise NotImplementedError to inform the user about its limitation. The docstring of the `is_convergent` method says as much:

So rather than writing "causes an error" it would be more accurate to

[2018-02-08 07:05] #9569 closed

[2018-02-08 07:05] #13749 closed

[2018-02-08 07:17] #14101 closed

[2018-02-08 07:23] #14099 closed

[2018-02-08 07:40] Roland-Sands opened #14114 "exp(I*pi/4) is not evaluated"
`>>> exp(I*pi/2)`
`I`

`>>> exp(I*pi/4)`
`exp(I*pi/4)`

`>>> Sum((exp(pi*I/2)/2)**n, (n, 0, oo)).doit()`
`4/5 + 2*I/5`

`>>> Sum((exp(pi*I/4)/2)**n, (n, 0, oo)).doit()`
`Sum((exp(I*pi/4)/2)**n, (n, 0, oo))`

[2018-02-08 07:44] Roland-Sands commented on #14111
I put 3 backticks at the beginning and at the end
It put multiple lines in code form, but 1 line was lost and the 3 backticks at the end were displayed

[2018-02-08 07:48] Roland-Sands opened #14115 "Sum((exp(pi*I/2))**n, (n, 0, oo)).is_convergent() is not implemented"
`Sum((exp(pi*I/2))**n, (n, 0, oo)).is_convergent()`
Traceback (most recent call last):

  File "<ipython-input-44-64f14acbff6b>", line 1, in <module>
    Sum((exp(pi*I/2))**n, (n, 0, oo)).is_convergent()

  File ".\sympy\concrete\summations.py", line 447, in is_convergent
    lim_evaluated = lim.doit()

  File ".\sympy\series\limits.py", line 193, in doit
    raise NotImplementedError()

NotImplem

[2018-02-08 07:50] abaokar-07 commented on #14095
@asmeurer @jksuom  Shall I report?

[2018-02-08 07:54] VahanArsenyan opened #14116 "Presicion lose in subtraction"
`c**2-real_root(real_root(c,1/6),3)` return something like 3.56e-15 where `c=5`. I have checked `c**2` is 25 with 110 precision and `real_root(real_root(c,1/6),3)` is 25 with 110 precision.
I can not understand from where comes 3.56e-15

[2018-02-08 08:00] jarogames commented on #14048
I cannot get any reasonable output picture more complicated than a simple triangle. The whole geometry package has usability concerns that way. Without display, the orientation is very hard...

  Is there some known version of sympy where it worked? At least to be able to return back....

[2018-02-08 08:07] jksuom commented on #14111
I have noticed that those have to be alone on the first line. If there is something else, the whole line will be lost.

[2018-02-08 08:25] jksuom commented on #14095
How many failing tests were there?

[2018-02-08 08:29] Upabjojr commented on #13993
We need assumptions over ranges support first.

[2018-02-08 08:31] abaokar-07 commented on #14095
@jksuom 13 tests failed, 346 expected to fail, 12 expected to fail but pass and 12 exceptions were found

[2018-02-08 08:35] jksuom commented on #14095
Can you copy the lines where the 13 failures are reported?

[2018-02-08 08:59] abaokar-07 commented on #14095
@jksuom yeah sure, here goes:
1. sympy\codegen\tests\test_cfunctions.py:test_log1p
2. sympy\core\tests\test_evalf.py:test_evalf_bugs
3. sympy\core\tests\test_expand.py:test_expand_log
4. sympy\functions\elementary\tests\test_exponential.py:test_log_values
5. sympy\functions\elementary\tests\test_exponential.py:test_log_base
6. sympy\functions\special\tests\test_gamma_functions.py:test_loggamma
7.

[2018-02-08 09:17] skirpichev opened #14117 "Run out of coefficient configurations in primitive_element()"
While working on #8623 I got this example:
[code]

BTW, see #13849, where such issue was "fixed".

[2018-02-08 09:35] jksuom commented on #14095
Tests like `test_log1p` contain several parts. Could you add the exact line number of the failing assert?

[2018-02-08 10:08] bjodah opened #14118 "cse fails when given matrices in a Tuple"
Originally reported by @stewpend0us [here](https://github.com/bjodah/sympy/pull/2):
[code]
note that this works as expected:
[code]

[2018-02-08 10:17] vishalg2235 commented on #14114
It could be expanded from Euler's formula.
[code]

[2018-02-08 10:21] vishalg2235 commented on #14112
@asmeurer @normalhuman I would like to fix this issue, can you guide me how to proceed!

[2018-02-08 10:24] #8170 closed

[2018-02-08 10:24] #8440 closed

[2018-02-08 10:24] #14040 closed

[2018-02-08 10:24] #14096 closed

[2018-02-08 10:27] skirpichev opened #14120 "GeneratorsError for primitive_element([Poly(x**2 - 2)], x)"
But with ex=True (different algorithm):
[code]

[2018-02-08 11:55] skirpichev commented on #14120
Maybe reject this as an invalid input?

[2018-02-08 12:41] stewpend0us commented on #14118
Ah cool. I didn't think to try it with a list. Interesting that that works.

It seems weird that the matrix (immutable dense matrix I think) constructor works when the arguments are in a single element tuple but doesn't when they're not. I'll try to reproduce that outside of cse...It may be the real problem?

[2018-02-08 13:01] abaokar-07 commented on #14095
@jksuom sure
1. sympy\codegen\tests\test_cfunctions.py:test_log1p - line 35
2. sympy\core\tests\test_evalf.py:test_evalf_bugs - line 177
3. sympy\core\tests\test_expand.py:test_expand_log - line 304
4. sympy\functions\elementary\tests\test_exponential.py:test_log_values - line 176
5. sympy\functions\elementary\tests\test_exponential.py:test_log_base - line 191
6. sympy\functions\special\tests\test

[2018-02-08 13:44] jksuom commented on #14095
Thanks. It seems that some of those would probably not be hard to fix but then there are tests that are not directly connected with log and it more work may be required to fix them.

[2018-02-08 14:07] abaokar-07 commented on #14095
@jksuom okay, I would like to fix it
BTW I think 6th, 7th, 11th, 12th and 13th of the above listed files might require work, rest all should not be hard, am I right?

[2018-02-08 14:27] jksuom commented on #14095
It seems that your line numbers differ from those of mine in some files. I'd have to run those tests locally to see what is going on exactly. But, in any case, you can try to fix those and show the `git diff` for the fixes.

[2018-02-08 14:29] abaokar-07 commented on #14095
@jksuom okay I'll try at my end, starting from the files in which direct logarithm is involved, can you suggest what should be done?

[2018-02-08 14:33] jksuom commented on #14095
The simplest cases are those where the assert fails because a correct result is formatted differently. In those cases it is possible to edit the assert line to conform to the result.

[2018-02-08 14:34] #8945 closed

[2018-02-08 15:19] JameerBabu commented on #12600
Is this a closed issue or an open issue ? Please confirm . I am really confused as it is shown as open in list and closed when we look at it with different issue numbers.

[2018-02-08 15:33] moorepants commented on #12600
It is an open issue. @smichr worked on it here: https://github.com/sympy/sympy/pull/12698 but I didn't think his solution was correct. These equations have to be solved explicitly for the derivative terms and rewriting the equations to avoid zeros on the denominator only postpones this issue.

[2018-02-08 16:55] normalhuman commented on #14112
The method `is_absolutely_convergent` returns `Sum(abs(self.function), self.limits).is_convergent()` (incidentally, that should be Abs). The problem is this:
[code]
Even though we are talking about n being an index of a series, it is not treated as an integer (hence real) number. The logical place to enforce assumptions on the index is [here](https://github.com/sympy/sympy/blob/master/sympy/concre

[2018-02-08 17:33] gxyd commented on #14112
Documentation of `Abs` says:
[code]
So I don't think it is necessary to do so. Since `self.function` is going to be a SymPy object.

[2018-02-08 17:43] normalhuman commented on #14112
It's not necessary. But using SymPy functions in SymPy expressions is a natural thing to do, and it saves the round-trip to `abs` and back.

[2018-02-08 17:51] gxyd commented on #14112
Yes, that can be done. If you do so, then do it in other places in `is_convergent` method as well.

[2018-02-08 17:55] jksuom commented on #14117
It seems that there is something wrong with the algorithm. We have three generators
[code]
and the field they generate is `QQ(x, y, z) = QQ(x)` since `y = -1/x` and `z = (x - y)/2` are in `QQ(x)`.
As `QQ(x)` is of degree 4, any one of its elements of degree 4 is a primitive element, for example, the sum
[code]
This should have been the very first candidate for `primitive_element` but it was appare

[2018-02-08 18:01] gxyd commented on #14112
Just one more thing, I want to comment. With your suggested code-snippet, I guess the output error (in case it occurs), gives sequence term with dummy expression, like this:
[code]
Instead of simply `sin(n) / n` should be printed. I know it wouldn't be hard to do that, but I wanted to leave the comment here, in case I don't get to the PR :)

[2018-02-08 18:08] gxyd opened #14122 "[Enhancement] assert_raise_message utility in sympy"
Currently when we write test cases in sympy, the errors raising is asserted simply with `raises` which is good.

I think we can also have an enhanced version of it, `assert_raise_message` which (as the name suggests) actually checks that the output error message is exactly the same as expected.
[code]

[2018-02-08 18:14] jashan498 commented on #14118
@bjodah @stewpend0us I have created a PR. See, if it helps : )

[2018-02-08 18:38] skirpichev commented on #14117
BTW, for ex=False, I got reducible polynomial:
[code]

[2018-02-08 19:16] asmeurer commented on #14095
@abaokar-07 if you push up your change to a provisional pull request, Travis will run the tests and it will be easier for everyone to see what is failing.

[2018-02-08 22:05] asmeurer commented on #14122
`message` should most likely be a regular expression, since many built in exception messages are different across Python versions.

[2018-02-08 23:11] skirpichev commented on #14117
But in fact, this *is* a primitive element.

If you extend coefficient space to include list ``[8, 4, 1]`` - algorithm produce correct expansions for elements of the ``extension`` list (coefficients are in the third element of the tuple, returned by primitive_element() for ex=True).

[2018-02-09 01:08] cbm755 commented on #14116
I can reproduce this:
[code]
But I think its the expected behaviour because the 1.0/6 is a floating point number.

If you want exactly the rational number 1/6, use:
[code]
And this gives 0 as expected.

[2018-02-09 01:08] #14116 closed

[2018-02-09 01:36] Roland-Sands opened #14125 "limit_seq( n*n*(Sum(1/k, (k, 1, n)) - log(n + 1/2) - EulerGamma), n) is not exact"
[code]

[2018-02-09 01:41] Roland-Sands commented on #14078
Should this be closed

[2018-02-09 01:42] Roland-Sands commented on #14098
Should I close this

[2018-02-09 01:46] Roland-Sands commented on #14056
Should I close this

[2018-02-09 01:50] Roland-Sands commented on #14043
Should I close this

[2018-02-09 01:57] abaokar-07 commented on #14095
@asmeurer so shall I open a pull request regarding to the changes done?

[2018-02-09 03:00] normalhuman commented on #14125
1/2 creates a Python float 0.5, which SymPy turns into Float object. Subsequent manipulations with floats produce more floats. This is explained in [Python numbers vs. SymPy Numbers](http://docs.sympy.org/latest/gotchas.html#python-numbers-vs-sympy-numbers)

To avoid this, use one of: `Rational(1, 2)`, `Rational('0.5')`, `S(1)/2`, `S.Half` in place of 1/2.
[code]

[2018-02-09 03:00] #14125 closed

[2018-02-09 06:52] leewz commented on #14077
Would you be open to a context or symbol setting that would "taint" any symbolic value created from it, forcing booleans to be evaluated as ints?

Example:

    x = S('x', intbools=True)  # setting
    y = (x == 1)*2 - 1  # tainted

[2018-02-09 09:13] skirpichev commented on #14117
This method produce more simple primitive element in the given problem:

[code]

[2018-02-09 09:53] ghost opened #14126 "Sum(1/n, (n, -1, 1)).doit() is complex infinity"
[code]

[2018-02-09 11:46] skirpichev commented on #14114
Last example from bugreport looks as a real issue.

BTW, this is fixed in the Diofant:
[code]

``exp`` evaluation is a different story.  Trigonometric functions (sin, cos, tan) evaluate in case of some trigonometric numbers.  So, you can do:
[code]
More automatic evaluation is worse, not better.  Especially, if it can produce horror like this:
[code]

[2018-02-09 13:06] Roland-Sands opened #14127 "x**x cannot be numerically integrated"
[code]

[2018-02-09 13:11] Roland-Sands opened #14128 "A value is returned for integrate(log(x), (x, -4, 2))"
[code]

[2018-02-09 13:32] ghost opened #14129 "Care is not taken at the point x = 1 for Sum( k*x**k, (k, 0, n))"
[code]
Similarly for `Sum( k*k*x**k, (k, 0, n-1)).doit()`

[2018-02-09 13:38] abaokar-07 commented on #14095
@jksuom as @asmeurer suggested to push changes to a pull request, should I open a pull request by removing those lines in [comment](https://github.com/sympy/sympy/issues/5950#issuecomment-362839107) so that everyone sees what's failing?

[2018-02-09 14:18] jksuom commented on #14095
Yes, if you open a pull request after removing the lines having to do with Rationals in `log.eval`, then Travis will run the tests and we can see what is failing.

[2018-02-09 14:18] Roland-Sands commented on #14100
It seems that nsolve is imported from mpmath
This is not explicitly mentioned, a link is not provided to the mpmath code, the method mpmath uses is not mentioned

[2018-02-09 16:25] danielmaitre opened #14131 "tensor product does not transform correctly with the metric"
a tensor product of two vectors does not behave in the same way as a tensor defined with the same indices. I would expect the two lines printed by this snippet to be the same, but there is a sign difference.

from sympy.tensor.tensor import TensorIndexType, tensorhead, tensor_indices

undotted = TensorIndexType('undotted', dummy_fmt='a',metric=True)
undotted.data=[[0,1],[-1,0]]
dotted = TensorInde

[2018-02-09 19:22] heikoburau opened #14135 "evaluate_pauli_product breaks commutation rules"
In:
[code]

Out:
[code]
`J1` and `J2` are scalar symbols.

[2018-02-09 20:47] Roland-Sands opened #14136 "Increasing the scope of summation"
SymPy uses Gosper's algorithm for summation
I have seen Karr's algorithm mentioned several times, but it has never been implemented due to it's difficulty
Would it be worthwhile implementing algorithms by Zeilberger and Petkovsek (and perhaps, related algorithms for q-series), which are far easier than Karr's algorithm

[2018-02-09 21:14] Roland-Sands opened #14137 "1/2 + Sum(cos(k*t), (k, 1, n)) cannot be calculated"
I have seen this evaluation used in the theory of Fourier series

The sum is
[code]

[2018-02-09 21:15] asmeurer commented on #14100
nsolve uses mpmath.findroot, which is mentioned in the nsolve docstring.

By the way, I agree some high level Sphinx docs on what algorithms the solvers use would be great to have.

[2018-02-09 21:18] Roland-Sands opened #14138 "The Poisson summation formula is not implemented"
I think it would be pretty good if the Poisson summation formula was implemented
Plana's summation formula would also be good

[2018-02-09 22:39] asmeurer commented on #14136
Any algorithm that lets us compute more summations in closed form is worth implementing.

[2018-02-09 23:57] Roland-Sands opened #14141 "The continued fraction expansion of Riccati's differential equation is not implemented"

[2018-02-10 00:44] #4862 closed

[2018-02-10 01:10] Roland-Sands opened #14142 "Sum(binomial(n,m)*x**m, (m, 0, n)) is given an erroneous convergence condition and there is a strange factorization when y's are present"
[code]

Closing this issue would close #5446

[2018-02-10 03:18] smichr commented on #7069
[code]

fixed by #12999

[2018-02-10 03:18] #7069 closed

[2018-02-10 03:47] Roland-Sands opened #14143 "(log(1 + x)/log(1 - x)).series(x, n=5) is wrong"
Every coefficient is wrong

With some other instances of incorrect expansions, the right answer is obtained by having `n` large enough
That doesn't seem to be the case here

[code]

[2018-02-10 04:30] vishalg2235 commented on #14122
@gxyd I would like to make `assert_raise_message`. Can you guide me how to proceed and in which file.

[2018-02-10 04:34] Roland-Sands commented on #14143
Sorry

[2018-02-10 04:34] #14143 closed

[2018-02-10 04:44] normalhuman commented on #14077
Doesn't look like a good approach to me. The assumptions on a symbol are mathematical: integer, positive, real, etc. There are "intbools" numbers in mathematics.

[2018-02-10 04:56] leewz commented on #14077
What is mathematics except rules and their consequences? Algebraic structures describe the combinations of abstract objects. In this case, the intbool flag will help model a system that is itself abstract: Python.

"There are no intbools in math" makes a false distinction. It's also not true. Computability theory often uses integer representations of booleans (or multi-boolean representation of in

[2018-02-10 07:33] Roland-Sands commented on #14137
This could be done by writing `cos` as a sum of complex exponentials and then summing the resulting 2 geometric series
I don't know how hard it would be to put the final answer in the above form though

This method would allow the computation of any finite sum involving sines and cosines, provided that when the sines and cosines are transformed into complex exponentials, getting sum `S_1` in the v

[2018-02-10 07:35] Roland-Sands commented on #14142
Could this be solved by calling `gosper` instead of whatever method is used at present

[2018-02-10 07:35] gxyd commented on #14122
@asmeurer  is right. Actually it better be not the exact string but rather a substring. I think it should go where `raises` is present i.e. file sympy.utilities.pytest.
So for `assert_raise_message` its purpose should go like, given an exception, error message 'err_msg' (substring expected), a function (or callable), possibly with `*args*` and `**kwargs`, call that function as see if the error mes

[2018-02-10 09:52] Roland-Sands opened #14144 "integrate(1/sqrt(1 - x**3), (x, 0, 1)).evalf() does not return a decimal"
[code]

[2018-02-10 10:27] asmeurer commented on #14142
The method that gives a Piecewise with "irrelevant" convergence is the Meijer G algorithm (the same algorithm used for integrals). The convergence conditions aren't tight in general, though in practice they often are. Is it possible to clear the convergence question using the is_convergent algorithms?

What do you mean by "strange factorization"?

[2018-02-10 14:10] Roland-Sands opened #14146 "integrate(tan(x), (x, 0, 9)) is wrong"
[code]

[2018-02-10 14:16] Roland-Sands opened #14147 "I have doubts about the correctness of integrate(asin(x), (x, 0, 9))"
[code]
At first I thought it was clearly wrong, but now I'm not sure what I consider `asin` to be
[code]

[2018-02-10 22:18] normalhuman commented on #14147
Looks correct to me, considering how the arcsin is [defined in the complex plane](https://en.wikipedia.org/wiki/Inverse_trigonometric_functions#Extension_to_complex_plane). Mathematica
[code]
and Maple
[code]
return equivalent results.

[2018-02-10 22:18] #14147 closed

[2018-02-10 22:28] normalhuman commented on #14146
This is no longer an issue in the master branch, as it was fixed by #14097.
[code]

[2018-02-10 22:28] #14146 closed

[2018-02-10 23:31] normalhuman commented on #14144
Hypergeometric functions need to be unpolarified some more. Meanwhile, note that applying `hyperexpand` to the integration results returns it in a readable form, in terms of Gamma function alone.

[2018-02-11 00:35] normalhuman opened #14152 "ValueError in Sum((-1)**(2*n)/n, (n, 1, oo)).is_convergent()"
[code]
results in
[code]

[2018-02-11 00:39] Roland-Sands opened #14153 "Problems with integrating gamma(x)"
[code]
Does `0.e+2` mean 10**2

[2018-02-11 00:43] normalhuman commented on #14153
It means a float with low precision,
[code]
Of course, the integral diverges because of the pole at 0, so it shouldn't be returning any float at all. I wonder if this one is on mpmath.quad...

[2018-02-11 03:12] Roland-Sands commented on #14152
I'm confident I could find a large number of cases where .is_convergent() breaks down, I'm holding myself back

[2018-02-11 03:20] Roland-Sands commented on #14153
It's a shame that there is no is_convergent() for integrals
I was trying to get SymPy to tell me that the integrals diverge

[2018-02-11 03:39] Roland-Sands commented on #14153
I understand that SymPy doesn't want to do numerical analysis, but what about asymptotics
`gamma(x)` has a well known asymptotic for large `x`, which immediately implies the divergence of `integrate(gamma(x), (x, 1, oo))`

[2018-02-11 04:28] Roland-Sands opened #14154 "integrate((1 - x**4)**(-1/3), (x, 0, 1)) causes an error"
[code]

[2018-02-11 04:54] Roland-Sands opened #14155 "Hard to find how the hypergeometric function is defined outside the unit disk"
I was looking at `integrate(1/sqrt(1 - x**3), (x, 0, 2))`
[code]
The series cannot be used so I looked at hyper.py
I was unable to determine how the hypergeometric function is defined outside the unit disc, I wasn't even able to determine the domain

[2018-02-11 05:34] normalhuman opened #14156 "Undefined functions are assumed to be of sub-exponential growth at infinity"
[code]
The problem appears to be in the `mrv` function: `mrv(f(x), x)` declares x to be the most rapidly varying subexpression of f(x). It should raise NotImplementedError instead, since there is no way to tell how rapidly f(x) varies.

Some known functions indeed satisfy the condition that log|f(x)| / \log|x| has finite limit as x-> infinity, and for them the answer is correct.

This sort of thin

[2018-02-11 05:39] normalhuman commented on #14128
WolframAlpha returns [the same value](https://www.wolframalpha.com/input/?i=integrate+log(x)+from+-4+to+2), and I assume Maple/Mathematica do the same. What's the issue? The principal branch of logarithm is used for negative arguments.

[2018-02-11 07:04] normalhuman commented on #14156
In terms of Gruntz thesis ([Definition 5.1](http://www.cybertester.com/data/gruntz.pdf)), all functions are assumed to be _tractable_ by `mrv`.

One can't use limit( log|f(x)| / log|x|) to test this, since doing so will lead to infinite recursion.

Should we decorate all the functions with "tractable"? Or `intractable_at` with a list of points where it is not tractable? Most functions are tractabl

[2018-02-11 07:13] Roland-Sands commented on #14128
When I think of complex log I think of a branch cut along the negative real axis, the function being analytic on the slit plane
It didn't occur to me that a different function is being used

[2018-02-11 08:01] #14144 closed

[2018-02-11 08:56] jksuom commented on #14155
The hypergeometric series can be analytically extended to the whole plane along any path that does not pass through the branch point at 1. Its principal branch is usually defined in the complement of the ray along the real axis from 1 to oo. The extension can be represented by means of a Meijer G-function but that is not (fully) implemented in SymPy.

[2018-02-11 10:56] Roland-Sands commented on #14155
Are you saying that as of now the hypergeometric function is not defined outside the disc

[2018-02-11 10:58] Roland-Sands opened #14157 "Unnecessary complications with Sum((4*k + 1)*factorial(k)/factorial(2*k + 1), (k, 0, n))"
[code]
Gospers algorithm (which is available) gives
[code]

[2018-02-11 11:33] jksuom commented on #14155
It is defined symbolically but there is no code for computing its values.

[2018-02-11 11:58] JameerBabu commented on #12600
I tried on this issue to fix. Someone please review it .

[2018-02-11 13:31] skirpichev opened #14159 "Can't set bottom and top bounds of root isolation rectangle with dup_isolate_complex_roots_sqf()"
[code]

Perhaps, this is intentional, as it's possible to set left and right bounds:
[code]

But I think it would be better to have ability to shrink the initial root isolation rectangle in vertical direction too.  Like, dup_count_complex_roots(), which has a different call convention: ``inf`` and ``sup`` are tuples.

Currently, in dup_isolate_complex_roots_sqf() - bottom and top bounds are hardco

[2018-02-11 15:40] tjb900 opened #14160 "Necessary parenthesis in printing of some multiplications"
Reproducer:

[code]

Output:

[code]

The evaluate=False's are necessary because this is being used in a code-generation context, and the desired code is ``float lhs = -2*u/(a*a)`` not ``float lhs = -2*u*pow(a,-2)`` (which promotes the operations to double precision).

Python 3.6
Sympy Version: latest master (sympy-1.1.1-2784-g98d5dd9) but present before that.
Also occurs (importantly, in this cas

[2018-02-11 17:18] normalhuman commented on #14156
My current idea is to use `rewrite_as_tractable` for this purpose. It should receive a hint indicating which variable tends to oo, and based on that, make a determination whether the function is tractable already (return None), or can be made tractable (return tractable form), or raise NotImplementedError. In particular, for undefined functions it should just raise NotImplementedError.

[2018-02-11 17:43] gxyd commented on #14056
I think we can close this. But I agree here with Aaron on typesetting of big-O https://en.wikipedia.org/wiki/Big_O_notation#Typesetting . I think we can create a new issue for that.

[2018-02-11 18:33] gxyd opened #14163 "Typesetting of big-O symbol"
Currently typesetting of big-O symbol uses the ordinary 'O', we can use the typesetting as defined here https://en.wikipedia.org/wiki/Big_O_notation#Typesetting .

[2018-02-11 18:34] gxyd commented on #14056
I opened issue https://github.com/sympy/sympy/issues/14163 for typesetting. This can be closed now.

[2018-02-11 20:22] asmeurer commented on #14163
What I was saying was that we should replace the calligraphy O with a normal O, not the other way around.

[2018-02-11 21:02] jashan498 commented on #14163
Oh sorry, @asmeurer I didn't see your comment. Should I close this PR?

[2018-02-11 21:17] jashan498 commented on #14163
I also read the issue wrong. But I just checked the master branch:
[code]
The `O` here is ordinary O only, [see](https://github.com/sympy/sympy/blob/2c0a3a103baa547de12e332382d44ee3733d485f/sympy/printing/pretty/pretty.py#L1278).

[2018-02-11 22:15] smichr commented on #6257
Perhaps something like this for using it with replacement tuples:

[code]

[2018-02-11 23:05] Roland-Sands commented on #14155
SymPy was instructed to calculate an integral
I cannot check the correctness of its response because it is unclear what its response is
I consider this to be a bug

[2018-02-11 23:12] normalhuman commented on #14048
I understood that those examples are from "pygletplot" module which basically doesn't work, and hasn't for years. What SymPy can plot:

- graphs y=f(x), with `plot`
- parametric curves, with `plot_parametric`
- implicit curves, with `plot_implicit`
- 3D graphs z=f(x, y), with `plot3d`
- parametric curves in 3D, with `plot3d_parametric_line`
- parametric surface, with `plot3d_parametric_surface`

[2018-02-11 23:32] normalhuman opened #14168 "Geometry module refers to defunct pygletplot"
The documentation of [ellipses](http://docs.sympy.org/dev/modules/geometry/ellipses.html) offers this example of "Plotting:"
[code]

Does any of this work? Not under Python 3 for sure. I don't have a suitable 2.7 environment with pyglet to test, but reading the issues about pygletplot suggests it's not something that is likely to work.

[2018-02-12 00:07] Roland-Sands opened #14169 "A graduate student posted on Google groups that she has multivariate resultant code ready to go"
https://groups.google.com/forum/#!topic/sympy/22jHQiEoy3Q

She posted 16 hours ago and has received no response
I think it is urgent for a SymPy member to respond as quickly as possible to her
If graduate students started contributing to SymPy then the consequences would be extraordinary

[2018-02-12 04:57] #14169 closed

[2018-02-12 05:02] Roland-Sands opened #14170 "Small diop_solve bug"
[code]
With nicer printing (I used init_printing()), `diop_solve(2*x - 42)` returns `(21)`

[2018-02-12 05:13] normalhuman commented on #14170
Which one of these is supposed to be a bug? What is the expected behavior?

`diop_solve` (which, incidentally, is intended for internal use in the Diophantine module) returns a tuple of the length equal to the number of variables in the equation. In the `diop_solve(-123*x + 3*y + 123*x -17*y - 3)` the variable x cancels out before `diop_solve` sees the equation; the input is identical to `diop_sol

[2018-02-12 05:24] Roland-Sands commented on #14170
You are right `diop_solve(-123*x + 3*y + 123*x -17*y - 3)` and `diop_solve(2*x - 3)` are the same

Expected behaviour is to solve it in 1 variable, which `diop_solve(2*x - 42))` does, just prints an extra comma

Also, this is wrong, there is a solution
[code]

[2018-02-12 07:35] Roland-Sands opened #14172 "On diop_solve returning (None, None)"
If `a*x + b*y + c = 0` has a solution then `diop_solve(a*x + b*y + c)` returns all pairs `(m,n)` where `m` and `n` are integers and  `a*m + b*n + c = 0`
If `a*x + b*y + c = 0` has no solution then `diop_solve(a*x + b*y + c)` returns `(m,n)` where `m` and `n` are both `None`
`None` is not an integer, so these 2 classes of returns have different forms
They would have the same form if, instead of ret

[2018-02-12 07:43] asmeurer commented on #5858
I think this was closed accidentally.

[2018-02-12 08:59] Upabjojr commented on #5858
Yeah, the implementation is not finished. We need a way to handle the multidimensional expressions. In the cookbook they introduce a `J` matrix of matrices to handle the case `A.diff(A)`.

[2018-02-12 09:00] Roland-Sands opened #14174 "x - 1 is not recognized as a factor of x**n - 1"
[code]
Preferably, it would return
[code]

[2018-02-12 09:36] jksuom commented on #14174
That should probably have to be implemented by pattern matching as `x**n - 1` is not a polynomial in `x`. It is a polynomial in `x**n` but that cannot be factored:
[code]

[2018-02-12 10:13] VahanArsenyan commented on #14116
Thanks @cbm755

[2018-02-12 10:20] VahanArsenyan opened #14175 "Converting to LaTeX"
`latex(ln(10))` was converted to `log{\left(10\right)}` which is in some fields is log10(10) or log2(10).
There is '\ln' in LaTeX and `ln(10)` should be converted to  it not to `log{\left(10\right)}`

[2018-02-12 11:13] Roland-Sands opened #14177 "Some expressions not being evaluated at arbitrary positive integers"
[code]
The values of `zeta(2*n)` and `zeta(-n)` are given in the SymPy docs and the integral (which is related to the orthogonality of the Hermite polynomials) is
[code]

[2018-02-12 12:15] jksuom commented on #14177
It is probably not hard to modify `zeta.eval()` to return `zeta(-n)` and `zeta(2*n)` as expressions involving Bernoulli numbers when `n` is a positive integer symbol.

[2018-02-12 13:39] vishalg2235 commented on #14177
@jksuom what about the evaluated integral `Integral(exp(-x**2)*hermite(n, x)**2, (x, -oo, oo))` ?

[2018-02-12 14:20] normalhuman commented on #14172
The function diop_solve is internal to the module. The function intended for use is diophantine, which consistently returns a set of tuples (empty set if there are no solutions).

[2018-02-12 14:47] SaiSakethAluru commented on #14175
I would like to work on this. Can someone please guide me?

[2018-02-12 16:32] jksuom commented on #14177
`meijerint` can compute that integral for numerical values of `n`. For symbolic values there does not seem to be an algorithm.

[2018-02-12 18:02] VahanArsenyan commented on #14175
Thanks for replay

[2018-02-12 20:25] jashan498 commented on #11095
This solves the issue:
[code]
But its kinda scary to make changes in this module as it touches the whole code base.

The reason the above change work is, though for `negative` integer `S(2010*2012, evaluate=False)` was passed in `__neg__` but the `Mul` inside it transformed it to `-4044120` because of missing flag. So, I added the `evaluate=False` flag there.
The reason for `if` condition is just

[2018-02-12 20:55] asmeurer commented on #11095
You are right to be wary about making changes to the core. Is it possible to fix this in the parser?

[2018-02-12 21:26] jashan498 commented on #11095
Oh instead looking for  '(53, '-')' inside tokens, why not just separate expressions with string manipulation before this [line](https://github.com/sympy/sympy/blob/2c0a3a103baa547de12e332382d44ee3733d485f/sympy/parsing/sympy_parser.py#L947). The only condition is to break the expression before calling of [eval](https://github.com/sympy/sympy/blob/2c0a3a103baa547de12e332382d44ee3733d485f/sympy/par

[2018-02-12 21:28] asmeurer commented on #11095
Is it not possible to fix this in the EvaluateFalseTransformer? I'm unclear what the exact issue is here.

[2018-02-12 21:43] jashan498 commented on #11095
Oh, I completely ignored that possibility (i pre-assumed it has to do with `__neg__` because it was most visible diverging behaviour between positive and negative integers `Mul`).
I will try to understand `compile` and `eval` more deeply and see if there is a workaround.

[2018-02-13 00:00] Abogical commented on #14168
Not sure if I did something wrong here, but you're right. It doesn't work.

[code]

[2018-02-13 00:46] Roland-Sands commented on #14177
The Hermite polynomials have their own section in the orthogonal polynomials file
For the Hermite, Legendre, and other orthogonal polynomials in this file, could information be added on the interval over which they are orthogonal as well as the weighting
This would calculate the above integral (I think) as well as
`Integral(exp(-x**2)*hermite(m, x)*hermite(n, x), (x, -oo, oo)) = 0`

[2018-02-13 01:55] Roland-Sands opened #14183 "resultant gives inconsistent answers"
[code]

[2018-02-13 02:01] Roland-Sands opened #14184 "radsimp doesn't work on 1/(2**(Rational(1,3)) + 2**(Rational(1,4)))"
[code]

[2018-02-13 02:23] vishalg2235 opened #14185 "Harmonic(0, n) should be zero"
Harmonic should be zero if first argument is `0` irrespective of second argument.
[code]

[2018-02-13 06:51] asmeurer opened #14187 "Documentation fixes needed for Sphinx 1.7.0"
Apparently the fix from https://github.com/sympy/sympy/pull/14181 is wrong. See https://github.com/sphinx-doc/sphinx/issues/4606#issuecomment-365160088. We need to revert the newlines before `:members:` and fix the issues in the docstrings.

We may also consider disabling the `autodoc_inherit_docstrings` feature, as described in that comment. I don't think the feature really makes sense, since man

[2018-02-13 07:01] #14163 closed

[2018-02-13 07:32] jksuom commented on #14187
I fully agree with this.

[2018-02-13 07:59] jashan498 commented on #14187
@asmeurer @jksuom I have removed all the newlines. Where to disable the `autodoc_inherit_docstrings` feature?

[2018-02-13 08:39] jksuom commented on #14187
I think that the configuration value should be set in `doc/src/conf.py`.
(A comment line and then `autodoc_inherit_docstrings = False`.)

[2018-02-13 08:44] Roland-Sands opened #14189 "Sum doesn't work for matrices"
[code]

[2018-02-13 10:09] Abogical commented on #14189
You'll need to use the `doit()` method.
http://docs.sympy.org/0.7.6/modules/concrete.html?highlight=sum#sympy.concrete.summations.Sum

[2018-02-13 10:20] 2torus commented on #14098
@asmeurer I just wrote a similar email in the google group.
How hard would it be to insert a class ```GeneralizedFunction``` to be a super class of ```Function``` to allow some operations (differentiation, integration, multiplication by a function) but not others like multiplying two objects of ```GeneralizedFunction```?

[2018-02-13 10:39] #13098 closed

[2018-02-13 10:46] Roland-Sands commented on #14189
Thanks, I keep getting that wrong
The inconsistency with sums and integrals doesn't help

[2018-02-13 10:46] #14189 closed

[2018-02-13 10:57] skirpichev commented on #14159
Or, in turn, dup_count_complex_roots() should use same specification of ``inf`` and ``sup`` as dup_isolate_complex_roots_sqf() currently does (to numbes, not tuples).

@jksuom, what do you think?

[2018-02-13 11:28] Roland-Sands opened #14191 "Sum doit for series which are demonstrably divergent"
[code]
Returning the given expression gives no information to the user
If the convergence check was run after the summation failed, then useful information would have been provided to the user

[2018-02-13 12:01] jksuom commented on #14098
I don't think it would be too hard to define a `GeneralizedFunction` class, but that should probably not be a superclass of `Function` (nor a subclass). By default, SymPy functions are defined and analytic in the complex plane (apart from some singularities) while the domain of `DiracDelta` and other 'singularity functions' is the real line. The methods of generalized functions would mostly be dif

[2018-02-13 12:05] ghost opened #14192 "Problems with limits"
`limit(cos(x), x, oo), limit(cos(x)*exp(x), x, oo), limit_seq(cos(n)), limit_seq(cos(n)*log(n)), limit_seq(cos(n)*exp(n))` return `<-1, 1>`
`limit_seq(sin(n)*factorial(n))` returns `<-oo, oo>`
`limit_seq((-1/5)**n)` hangs
`limit_seq((-1)**n), limit_seq((-2)**n), limit_seq((I)**n), limit_seq((I/3)**n), limit_seq((2*I)**n)` execute and return nothing

[2018-02-13 12:14] Abogical commented on #14189
Actually it is consistent, it's just that there is a difference between `Sum` and `sum`, `Integrate` and `integrate`, etc. Capital letters signify objects and doesn't evaluate the expression immediately, while the others are simply functions and does evaluate immediately.

[2018-02-13 12:19] jksuom commented on #14159
Maybe it would be possible to have it both ways, tuples for setting the real and imaginary bounds and single numbers for real bounds (with hard-coded bounds for missing specifications).

[2018-02-13 12:36] skirpichev commented on #14159
I.e. functions for counting/isolating real roots should accept tuples for inf/sup?  Sounds odd.

[2018-02-13 12:46] 2torus commented on #14098
@jksuom You are right, it should be a separate class.
Let me see if I can put together a pull request.

[2018-02-13 12:49] jksuom commented on #14159
I understood this was about complex roots.

[2018-02-13 13:27] Roland-Sands commented on #14098
@2torus: In the Google groups thread, you wrote: "What was the reasoning to define DiracDelta as a function"
I know 1 reason
Scientists and engineers use Dirac's Delta in a non-rigourous way to create Green's functions

[2018-02-13 13:40] skirpichev commented on #14159
Oh, I didn't mention - there are methods for real roots too.  And for both real and complex.  All use same argument names (inf/sup) and same argument value convention, i.e. numbers; tuples - only in dup_count_complex_roots().

[2018-02-13 13:57] #14185 closed

[2018-02-13 14:11] Roland-Sands commented on #14189
[code]
`sum` and `integrate` don't seem the same to me

[2018-02-13 15:12] Abogical commented on #14189
Oh sorry, looks like this uses `sum` from the python library. I don't think there is a direct function like `integrate` for sums.

[2018-02-13 17:12] ArighnaIITG commented on #14170
I would like to work on this issue.
Does this issue still exist? Do I need to remove the extra comma?

[2018-02-13 18:51] #14056 closed

[2018-02-13 18:58] gxyd commented on #14152
Wouldn't this be fixed after https://github.com/sympy/sympy/issues/14112#issuecomment-364176502  is implemented?

[2018-02-13 19:36] vandythong commented on #14177
can anyone walk me through how to get started. im new here. Thank you!

[2018-02-13 22:10] asmeurer commented on #13375
I'd like to make a release some time before GSoC starts. Has there been any progress on this?

[2018-02-13 22:11] asmeurer commented on #13319
Was this ever fixed?

[2018-02-13 22:24] moorepants commented on #13375
I never had time to look into this. @Upabjojr contacted me to discuss. I don't use `sympy.vector` for anything. We had early goals to make a vector object that as more universally useful and that could also be used in place of `sympy.physics.vector.Vector` but I've yet to come up with a way to design the vector to be mutable and still do what we want it to do in the physics module. I'm fine with h

[2018-02-13 22:27] #14187 closed

[2018-02-13 22:56] #14172 closed

[2018-02-13 23:02] Roland-Sands commented on #14170
It is not an issue, I was using the wrong function
diop_solve is a function internal to the module, not meant for printing, Diophantine is the function meant for printing
I was using `diop_solve(2*x - 3)` when I should have been using `diophantine(2*x - 3)`, and there is no problem with `diophantine(2*x - 3)`

[2018-02-13 23:02] #14170 closed

[2018-02-13 23:10] Roland-Sands commented on #14056
ylemkimon gave a link to Wolfram alpha, and Wolfram alpha doesn't display it SymPy style
SymPy's notation here is most certainly at odds with standard mathematical practice

[2018-02-14 02:13] ghost opened #14194 "Problems with printing"
I was executing `Sum(m**38, (m, 1, n)).doit()` and I am using the IPython console

`print` works perfectly: individual terms `a_k*n**k` never split across lines and the output dynamically adjusts to the width of the window
`pprint` does split terms across lines, it split the `n**27, n**19, n**11, n**5` terms, and the output has some sort of default window size: increasing the width from that doesn

[2018-02-14 02:15] Roland-Sands opened #14195 "Sum(1/(sqrt(m) + sqrt(m-1)), (m, 1, n)).doit() doesn't work"
[code]

[2018-02-14 02:24] Roland-Sands opened #14196 "limit_seq(Sum(m**k, (m, 1, n))/(n**(k + 1))) causes an error"
[code]

The limit is
[code]
Also, in the error message, "Pleasespecify" is a typo

[2018-02-14 02:30] Roland-Sands opened #14197 "Sum(m**k, (m, 1, n)).doit() doesn't evaluate for arbitrary positive integer k"
It can be evaluated in terms of Bernoulli's numbers

[2018-02-14 02:59] normalhuman commented on #14196
Yes, there is a typo. But don't you think that the error message has a point? You didn't tell SymPy if n tends to infinity or k tends to infinity.

[2018-02-14 03:04] Upabjojr commented on #13375
Doubts emerged on the way two coordinate systems are connected. We introduced a new lambda notation, but the fear is that it should be done using the inverse transformations.

The operators have been generalized for any curvilinear coordinate.

The mutability of objects is a generic problem in SymPy.

[2018-02-14 03:35] Roland-Sands commented on #14196
You're right

There is no error message, it returns the wrong value though

[code]

[2018-02-14 08:07] Roland-Sands opened #14204 "Difficulties with limits"
[code]
Latex printing of `limit_seq(Sum(1/k, (k, n, 2*n)), n)` executed and returned nothing (I think returning nothing is better than returning the original expression)

[code]

[2018-02-14 09:24] skirpichev commented on #14117
Ok, I hope that issue with coefficient space was fixed in the Diofant.

@jksuom, are you still think that there something wrong with algorithm?

Of course it may return a reducible polynomial.  Not a good news if we assume that it should return a minimal polynomial for the primitive element, but fine if we just look for some polynomial p(x), for which p(theta)=0.

But we can choose appropriate fac

[2018-02-14 10:23] jksuom commented on #14117
There are actually two algorithms. I think that the one using Gröbner bases (with `ex=True`, where `ex` is apparently short for `experimental`) is unreliable as the [above example](https://github.com/sympy/sympy/issues/14117#issuecomment-364194877) shows. The other, recursive algorithm could be correct but I think that the implementation is inefficient. It should try to find the minimal polynomial

[2018-02-14 10:44] Roland-Sands commented on #14117
Would resultants be helpful

[2018-02-14 10:48] skirpichev commented on #14117
The normalization, [described above](https://github.com/sympy/sympy/issues/14117#issuecomment-365544492) - was implemented for Diofant in case of algorithm, which uses Groebner bases.  But I see no problem to extend it to the recursive algorithm too.  You can get missing parts (i.e. ``H`` coefficients) with ``field_isomorphism()``.

@jksuom, what do you mean?  If you do enough attempts (there are

[2018-02-14 11:52] jksuom commented on #14117
I am not so sure that the `ex` algorithm would always produce a result. That it runs out of coefficient configurations in such a simple example makes it doubtful. I think that there is no point in trying dozens of coefficient combinations to no avail when, in fact, almost each one of them is valid.

[2018-02-14 12:04] abaokar-07 commented on #14114
Shall I open a pull request for this?

[2018-02-14 12:05] skirpichev commented on #14117
It must.  See reference in https://github.com/diofant/diofant/pull/608/commits/7537cfda1a32e25f3edfea1006f6a50e83a74df8

Why do you think so?  It's true, if elements of the "extension" list aren't algebraically dependent.  But in given (unlucky) example - that's not the case.

[2018-02-14 12:28] ishanaj commented on #13178
@asmeurer @smichr I would like to take this up. From should this be started? Is defining an `invert()` for modular eq(inside `solveset`) a good point to start with?

[2018-02-14 12:43] jksuom commented on #14117
After looking at it more closely I see that 'almost each one' may have been slightly exaggerated, but there still remains an ample supply of valid configurations for the given example among the 108 ones that are currently generated.
[code]

[2018-02-14 13:47] skirpichev commented on #14117
The problem, as I said, that your search space for coefficients is too broad and include too much linearly dependent coeffs lists (you exclude only tiny part of those).   In the Diofant's version, there only one failed guess - second already successful.

[2018-02-14 17:14] #13121 closed

[2018-02-14 20:23] skirpichev opened #14210 "Sympy support sorting for complex algebraic numbers (via ANP)"
Take gaussian integers, as an example:
[code]

Probably, comparison operators should be reserved for mathematical ordering (if it does make sense, e.g. for numbers in ``ZZ.algebraic_field(sqrt(2))``).

Perhaps, same is valid for comparison of PolyElement's.

[2018-02-14 22:15] Roland-Sands opened #14211 "Differentiating and integrating sums"
[code]

[2018-02-14 23:04] normalhuman commented on #14152
Indeed, I tested in the branch of #14158 and got correct result (False) instead of the this error.

[2018-02-14 23:45] Roland-Sands opened #14212 "Sums of powers of a*x + b"
[code]
I think it would be better if the top condition was `for x = -1/3`
Perhaps this also applies to #14132

[code]
I think it would be better if `2*(x - a)` was not expanded and if the whole was written in ascending or descending powers of `x - a`

[2018-02-15 00:51] Roland-Sands opened #14213 "Problems with diff(Sum((-1)**(n - 1)*x**n/n, (n,1,oo)).doit(),x)"
[code]
There is a minus sign outside the left brace, I have never seen that notation
I think it would be better if the 2 conditions at the top had brackets around them,
[code]

[2018-02-15 03:39] Roland-Sands opened #14214 "apart(1/(x**n + 1), x, full=True).doit() causes an error"
[code]
Also, I think "contains an element of the generators set" is a typo
I think it should be "contains an element of the generating set" or "contains an element of the set of generators"

[code]
Should this be a piecewise thing, depending on whether or not a = b

[2018-02-15 05:00] Roland-Sands opened #14215 "approximants.py, in the series folder, is it correct"
The docs say that it performs Pade approximation
Pade approximants of a function f are a sequence of rational functions which converge to f
In an example, a finite list of Fibonacci numbers is given, and then approximants is applied to the list to create a list of rational functions
Which function is being approximated
This seems very strange to me
When I have seen Pade approximants being used, it

[2018-02-15 05:08] normalhuman opened #14216 "unpolarify raises an exception when given a matrix entry"
[code]

This is problematic because some special functions call unpolarify. For example,
[code]
fails with the above error.

[2018-02-15 07:59] ArighnaIITG commented on #14214
Great, I am fixing the typo, and then will proceed with the main part of the issue.

[2018-02-15 09:09] jashan498 commented on #14216
@normalhuman are below the expected outputs?
[code]

[2018-02-15 11:00] jksuom commented on #14214
`apart` is intended for rational expressions. `PolynomialError` essentially says that the input expression is not a rational expression of the generator `x` as `n` does not denote a nonnegative integer. (Instead, it denotes a symbol.)

[2018-02-15 11:02] ghost opened #14219 "Sum((diag(0, 2, -3))**n, (n, 0, 3)).doit() causes an error"
[code]
An evaluation of a finite sum containing a convergence condition

[code]
The above have `x*x**k` rather than `x**(k+1)`

[code]

[code]

[2018-02-15 11:12] skirpichev opened #14220 "Should be there both PolyRing and PolynomialRing?"
It seems that they represent multivariate polynomial rings (elements of which are PolyElement's).  Is it intentional or some temporary state?  Probably, there should be one class for domain (i.e. PolynomialRing) and one class for elements.

[2018-02-15 11:16] Roland-Sands commented on #14214
@jksuom I think it would be beneficial if it held for arbitrary positive integers
I have definitely seen some interesting mathematics resulting from splitting expressions similar to the one in the title

[2018-02-15 13:06] rahilhastu commented on #14044
can I work on this issue? like @h-ranjan1110 I am also a beginner

[2018-02-15 13:13] normalhuman commented on #14216
Yes, the expected output is the original expression in these cases.

Is it necessary to have a special case for MatrixElement? I wonder if other classes have this issue. What makes str appear in the process?

[2018-02-15 13:20] jashan498 commented on #14216
`A[0,0].args =(A, 0, 0)`, here `A` is a `MatrixSymbol`. Now all these three arguments are [recursively](https://github.com/sympy/sympy/blob/d7bf2bf34a0aaa455648517e2372a82abd188298/sympy/functions/elementary/complexes.py#L1120) passed again one by one where `A.args=('A', 2, 2)`. Thus `A[0,0].args[0].args` is a string.

[2018-02-15 13:26] jashan498 commented on #14216
So anything which ends this recursion for `MatrixSymbol` should work. I think any object whose all `args` doesnot end up to(or are)  `atoms` (as `MatrixBase` ending up to str) should be vulnerable.

[2018-02-15 15:11] normalhuman commented on #14216
So, the issue is that args of a SymPy expression may be of string type or of some other type that doesn't have `is_Atom` property. The current code has `isinstance(eq, bool)` check to guard against that but we see this isn't sufficient. I think the proper fix is to change the line
[code]
to
[code]
If eq inherits from [Basic](https://github.com/sympy/sympy/blob/master/sympy/core/basic.py#L29) then

[2018-02-15 15:35] smichr opened #14223 "solveset needs to clip solution with constraining set"
When a Piecewise is being solved by solveset, a check is not made that the solution is within the conditions under which the expression is constrained. This leads to spurious solutions as shown below. The solution should be clipped by the constraining set:

[code]

current behavior

[code]
after fix
[code]

On review of the situation, there should be no need for clipping the result since the domai

[2018-02-15 15:56] #14175 closed

[2018-02-15 16:03] Yathartha22 commented on #14223
I will take this up.

[2018-02-15 16:10] ishanaj commented on #14223
@smichr I tried this with the modifications in PR #13913 and it gives the correct result.
[code]

[2018-02-15 16:24] smichr commented on #14223
@Yathartha22 , how about adding the diff as a PR to @ishanaj 's #13913?

@ishanaj , how about the following?

[code]

The 2nd diff that I showed above should really be applied. It would be a good exercise of collaboration if @Yathartha22 made that PR to yours. I will leave another note on your PR regarding your work on Min/Max and Piecewise rewriting.

[2018-02-15 16:47] Yathartha22 commented on #14223
That will be a good idea, because this issue seems in accordance with the PR.

[2018-02-15 16:47] jashan498 commented on #14216
This looks good

[2018-02-15 16:52] ishanaj commented on #14223
[code]

Yeah, this seems cool!!!

[2018-02-15 17:18] smichr commented on #14223
That result should not include that -1...I think that is the part the @Yathartha22 could work out.

[code]

[2018-02-15 17:31] smichr commented on #14223
Uggh. Forget the diff and just see why this fails:

[code]

[2018-02-15 17:47] smichr opened #14226 "Imageset does not intersect well with S.Reals"
[code]

[2018-02-15 17:57] Yathartha22 commented on #14223
This is due to [this](https://github.com/sympy/sympy/blob/master/sympy/solvers/solveset.py#L108). The condition evaluates to `True`, since `x1==f_x`. Either we fix it here or have another check before returning the solution in `_solveset`

[2018-02-15 18:58] Yathartha22 commented on #14223
Alternate to `x_1==f_x`, we should use `(x1 == f_x and f_x != x)`.

[2018-02-15 20:17] smichr commented on #14223
This is what I concluded as well: `if not isinstance(s, FiniteSet) or x1 != x:` (see my 14223 branch for wip).

[2018-02-15 23:09] asmeurer commented on #14226
Isn't this correct? The only real `2*I*pi*n` is when `n = 0`.

[2018-02-15 23:40] Roland-Sands commented on #14184
I know the mathematics of doing this

Let x = 2**(1/3) +  2**(1/4)
So want radsimp(1/x)
Find the minpoly of x
minpoly x is `a_n*x**n + ... + a_0 = 0`
`1/x = -1/a_0 *(a_n*x*(n-1) + ... + a_2*x + a_1)`
Now substitute x = 2**(1/3) +  2**(1/4) into the right side and simplify

This will solve all problems of this type

[2018-02-15 23:44] smichr commented on #14226
@gxyd must be laughing *at* me, not *with me*...but I am laughing now, too...and closing this. I wasn't seeing the "I".

[2018-02-15 23:44] #14226 closed

[2018-02-16 00:00] Roland-Sands commented on #14184
And using this method I got
[code]

[2018-02-16 00:17] Roland-Sands opened #14227 "Bugs in minimal polynomial and evalf"
[code]
It looks to me that `f` is not the minimal polynomial

Yes, `f` can't be the minimal polynomial, the surds are independent

[2018-02-16 00:23] Roland-Sands commented on #14227
I don't know if this effects #14069 and #14088, the bug may not effect that computation

[2018-02-16 00:42] asmeurer commented on #14227
The argument to evalf should be the number of digits to evaluate to, not an expression.

[2018-02-16 00:46] asmeurer commented on #14227
You're also substituting a different expression (the redundant parentheses don't help, but you start with `1/(2**(1/3) + 2**(1/4))` and substitute `2**(1/3) + 2**(1/4)`. If you substitute the original, you get 0:

[code]

[2018-02-16 00:46] #14227 closed

[2018-02-16 00:51] Roland-Sands opened #14228 "Check what Wolfram alpha gives for minimal_polynomial(1/(2**(Rational(1,3)) + 2**(Rational(1,4))), x), compare this to SymPy"
I raised this as a bug, and it was closed
I am extremely unhappy with this, highly disrespectful

If Sympy says that min poly is f, where f has degree n, then the correct min poly is `f(1/x)*x**n`

[2018-02-16 01:13] skirpichev commented on #14228
Hmm, Mathematica 7 give me same output as Sympy (or Diofant):
[code]

Mathematica:
[code]

Why do you think it's wrong?

[2018-02-16 01:15] skirpichev commented on #14228
btw, WA thinks [same](http://www.wolframalpha.com/input/?i=minimal+polynomial+(2%5E(1%2F4)+%2B+2%5E(1%2F3))%5E(-1)).

[2018-02-16 01:57] asmeurer commented on #14228
@Roland-Sands if you think the bug was closed incorrectly, please comment such on the issue. An issue being closed isn't a final thing, and most definitely shouldn't be taken as a personal thing. I described in the issue (https://github.com/sympy/sympy/issues/14227 for reference) why I believe the bug was invalid. If you disagree, just leave a comment about why, and we can discuss it, and if you a

[2018-02-16 01:57] #14228 closed

[2018-02-16 02:02] asmeurer commented on #14227
As pointed out by @Roland-Sands in https://github.com/sympy/sympy/issues/14228, the minimal polynomial of `1/(2**(1/3) + 2**(1/4))` should be `f(1/x)*x**n`, where `f` is the minimal polynomial of `2**(1/3) + 2**(1/4)`.

[code]

Also, according to `factor` the polynomial is indeed irreducible.

[code]

[2018-02-16 03:43] Roland-Sands commented on #14228
In a calculation, I confused the minimal polynomial of 1/x with the minimal polynomial of x, and I reacted badly when that issue was closed

I'm sorry

[2018-02-16 03:56] Roland-Sands commented on #14184
In the above I mistakenly used the minimal polynomial of `1/x`

[code]

[2018-02-16 04:01] Roland-Sands commented on #14184
Perhaps I am in the minority, but I think 2 with 1/4 as an exponent is better than the 4 above the sqrt sign

[2018-02-16 04:05] Roland-Sands commented on #14184
Also, I think there is a display problem
I think it should have `2**(-1/12)` rather than `2**(11/12)/2`

[2018-02-16 04:46] Yathartha22 commented on #14223
@smichr the idea seems good. But what I figured out is that for any type of equations the helpers always return the result in the specified domain (be it _invert or _solve_as_poly or trigonometric etc), `_solveset` assumes that the `result` is in the specified domain (No bother to check again). The fix you suggested in a way becomes repetitive checking for the domain (once the helpers intersect an

[2018-02-16 05:34] asmeurer commented on #14184
I agree with this.

[2018-02-16 07:40] jksuom commented on #14220
I am guessing, as the [documentation](http://docs.sympy.org/latest/modules/polys/internals.html#domains) seems incomplete, that PolynomialRing and PolyRing are planned as two levels of the implementation, a high level class with stable public interface and a low level class for internal use. This need not necessarily be always so. The polynomial module has been rewritten several times. (The "secon

[2018-02-16 08:19] Roland-Sands opened #14230 "Sums of matrices"
[code]
I think the terms should be rewritten, in the form
[code]

[code]
I think the answer should be of the form
[code]

[code]

I think `1/(-sqrt(2)/2 + 1)` should be radsimped

[2018-02-16 09:00] Roland-Sands opened #14231 "sin(2*pi/17) cannot be written as a surd"
Admittedly it's a bit obscure (and the result is not pretty), but it would give SymPy bragging rights, Wolfram alpha can't do it

`sin(2*pi/p)` and `cos(2*pi/p)` can explicitly written in terms of nested square roots when p is a Fermat prime
Thus, it can be done when p is one of 3‎, ‎5‎, ‎17‎, ‎257‎, ‎65 537

It's related to that constructive polygon theorem of Gauss

[2018-02-16 09:09] jksuom commented on #14231
That can be done by applying `.rewrite(sqrt)`.

[2018-02-16 09:13] Roland-Sands commented on #14231
[code]

[2018-02-16 09:15] #14231 closed

[2018-02-16 09:37] Roland-Sands commented on #14184
I suppose that radsimp should not be automatically applied to `1/x` if `x` is an algebraic number of degree greater than 2

[2018-02-16 09:50] vishalg2235 opened #14233 "Bug in could_extract_minus_sign()"
Please check the following:
[code]

[2018-02-16 10:17] jksuom commented on #14233
I don't think that it is a bug. `y - x` and `-x + y` have the same internal representation.

[2018-02-16 11:06] vishalg2235 commented on #14233
Ok I didn't understood why we can extract minus from `y - x` but not from `x - y` ?

[2018-02-16 11:24] #14177 closed

[2018-02-16 11:39] Roland-Sands opened #14235 "integrate(exp(-a*x)*exp(-b*y), (x, 0, oo), (y, 0, oo)) causes an error"
[code]
In Latex printing, "periodic_argument" makes the word "argument" the subscript of the word "periodic"
I don't know what "periodic_argument(a, ∞)" means, should it be printed
I think that only the `1/a` should be returned, together with the condition on `a`, I don't think the "otherwise" thing should be returned

[code]

I think it should return
[code]

I'm not sure it's worthwhile giving (o

[2018-02-16 11:41] skirpichev commented on #14220
I'm not sure that there was something "planned" (taking into account also several rewrites).

Some digging into the history:
1. PolynomialRing was added: e4b53b3bc (and uses DMP as dtype)
2. PolyRing added: 90a9eff7a, #1840
3. PolynomialRingNG added (new sparse polys): 01e0a8fc1
4. Added class factory in PolyRing (later created types will be renamed to PolyElement for more fun!): d9a2079ef

Nothin

[2018-02-16 15:42] smichr commented on #14223
The first clause is the redundant, I believe, because if `x1 == f_x` the you can substitute that into `f_x != x` to give `x1 != x`...and that is the same as the second clause. So you are basically saying `x1 != x or x1 != x`.

[2018-02-16 15:50] normalhuman opened #14237 "The difference of MatrixSymbols prints as a sum with (-1) coefficient"
Internally, differences like a-b are represented as the sum of a with `(-1)*b`, but they are supposed to print like a-b. This does not happen with MatrixSymbols. I tried three printers: str, pretty, and latex:
[code]
Output:
[code]

Based on a [Stack Overflow post](https://stackoverflow.com/q/48826611)

[2018-02-16 20:23] normalhuman commented on #14231
expand_trig also does that. Perhaps the docstring of trig functions should mention that evaluation at more values is possible with this method. It isn't very obvious.

[2018-02-16 21:25] smichr opened #14238 "recursion error when doing subs with Piecewise"
Ignore the semantics...I've tried to pare it down to a minimal working example.
[code]

[2018-02-16 22:14] asmeurer commented on #14184
We should open separate issues for the radical printing, and automatic radicalization of negative fractional exponents (the latter probably already has an issue).

[2018-02-16 22:17] smichr commented on #13305
This might be a way to solve this:

[code]

[2018-02-16 22:21] smichr commented on #12806
Perhaps it leaves this out because it is not needed:

[code]

[2018-02-16 22:45] smichr opened #14239 "Interval intersection with Abs could evaluate"
The smallest value for Abs is 0 so the 3rd case should evaluate to `{1 - Abs(x)}`:

[code]

[2018-02-16 22:51] asmeurer opened #14240 "Major performance regression in summation"
See https://github.com/sympy/sympy_benchmarks/blob/master/benchmarks/sum.py. In sympy-1.1.1, the benchmark runs in a few seconds. In master, it takes several minutes.

I bisected it to commit 1c658e00ffa5cec777dd2d9f9453135ab55e75d0, which is from https://github.com/sympy/sympy/pull/12587.

CC @smichr

[2018-02-16 22:54] ethankward opened #14241 "n*x**(n-1) / (x+1) can be integrated for general n, positive n, and integer n, but not for positive integer n"
[code]

[2018-02-16 22:55] smichr commented on #14239
trying to simplify what I was seeing. The above is fine and the case I saw was

[code]

The first one is fine. I was not seeing the "Ropen" on the second case and thought it should evaluate -- it shouldn't because the 1 is not in the interval.

[2018-02-16 22:55] #14239 closed

[2018-02-16 23:14] tbennun commented on #13305
That's great! Looks promising. :)

[2018-02-16 23:16] smichr opened #14242 "Max(x, y).is_Function and isinstance(Max(x, y), Function) are False"
Is there a reason for these functions to not appear as Function? (They are Application type.)

[2018-02-16 23:16] #13800 closed

[2018-02-17 00:14] asmeurer opened #14243 "Python 2 performance regression"
Ever since https://github.com/sympy/sympy/pull/12945, there has been a serious performance regression in Python 2. This is because `BasicMeta.__eq__` now does `type(self) != type(other)`, which calls `type(self).__cmp__(type(other))`, resulting calling the class ordering code, which can be quite slow. This means any code that compares classes is slow. As an example, the [lambdify benchmark](https:

[2018-02-17 00:17] asmeurer commented on #14243
Here are the results of `asv compre sympy-1.1.1 master` for Python 2 and 3

## Python 2

[code]

## Python 3

[code]

I'm guessing all the things that are slow in Python 2 and not 3 are due to this issue. The sum slowdown is https://github.com/sympy/sympy/issues/14240. I haven't yet investigated the others.

[2018-02-17 00:47] #14216 closed

[2018-02-17 01:18] Roland-Sands commented on #14241
Many of the problems I have encountered have been because of `lerchphi`
I believe `lerchphi` is a major issue

[2018-02-17 01:26] Roland-Sands opened #14244 "On solve(f,x), where f is the minimal polynomial of a"
[code]

[2018-02-17 01:33] ghost opened #14245 "limit_seq(tan(n)) and limit_seq(sin(n)/cos(n))"
[code]

[2018-02-17 01:42] Roland-Sands commented on #13800
If this has not been fixed then I don't think it should be closed

[2018-02-17 03:08] parsoyaarihant commented on #12806
I see, this can lead to problems if we are using the substitution for some other purpose. Example: when I want to apply a rule on `sub` if `m_ == 1`.

[2018-02-17 03:48] jashan498 commented on #14242
Being `Application` type makes `Max(x, y).is_Function = True` but `Max` is not inherited from `Function` that is why  `isinstance(Max(x, y), Function) ` is False

[2018-02-17 05:37] Yathartha22 commented on #14223
Ok I see, so why not we change the condition to just `if not isinstance(s, FiniteSet) or x1 != x:`
It seems obvious that if we do not get `x` in the lhs then the equation is not solved.

[2018-02-17 06:50] skirpichev commented on #14244
"a" were among returned solutions.  So, I guess, you think that the issue is that solve() returns the answer in a (literally) different form.  Why it's a problem?

[2018-02-17 07:03] Roland-Sands commented on #14244
Person `p` ask SymPy to solve `x**6 - 6*x**4 - 6*x**3 + 12*x**2 - 36*x + 1`
SymPy says `[CRootOf(x**6 - 6*x**4 - 6*x**3 + 12*x**2 - 36*x + 1, 0), CRootOf(x**6 - 6*x**4 - 6*x**3 + 12*x**2 - 36*x + 1, 1), CRootOf(x**6 - 6*x**4 - 6*x**3 + 12*x**2 - 36*x + 1, 2), CRootOf(x**6 - 6*x**4 - 6*x**3 + 12*x**2 - 36*x + 1, 3), CRootOf(x**6 - 6*x**4 - 6*x**3 + 12*x**2 - 36*x + 1, 4), CRootOf(x**6 - 6*x**4 - 6*

[2018-02-17 07:07] Roland-Sands commented on #14184
I think "rewriting" is a better label than "simplify"

[2018-02-17 07:35] #13980 closed

[2018-02-17 07:35] #13981 closed

[2018-02-17 08:46] RISHAV98 opened #14246 "Taylor Series Expansion"
Created Taylor expansion and its plotting.
This code can be used to return taylor expansion for any function ,function can be represented using  sympy and it also generate the plot for that function

[2018-02-17 10:46] Roland-Sands commented on #14246
I think there already is code for Taylor expansions for functions of 1 variable

[2018-02-17 10:49] Roland-Sands commented on #14244
If SymPy had calculated the Galois group of `x**6 - 6*x**4 - 6*x**3 + 12*x**2 - 36*x + 1` then it would have detected that there is a solution by radicals

[2018-02-17 14:54] Upabjojr opened #14251 "Replace AccumBounds with SetExpr?"
`SetExpr` is a wrapper around any set to allow to calculate the new set constructed by arithmetic and set operations on the set.

If a `SetExpr` wraps an closed interval, it works approximately like `AccumBounds`.

Shall we deprecate `AccumBounds`?

[2018-02-17 17:54] smichr commented on #10158
That is now what `piecewise_fold` does.

[2018-02-17 17:58] smichr commented on #14223
Yes, that is what should be done. There are lots of little issues that I have uncovered while looking at this. Would you @Yathartha22  and @ishanaj be interested in looking over what I've got or do you want to work on your own changes? I'll post the PR so you can see what you think.

[2018-02-17 18:25] smichr commented on #14223
We can try this as a multi-person PR. @Yathartha22 , if you make your change first, then I will make whatever changes are left as a PR to @ishanaj work rather as a separate PR (which I now just marked as WIP).

[2018-02-17 19:18] gxyd commented on #14246
@RISHAV98 as Rolands pointed out. See http://docs.sympy.org/latest/modules/series/series.html#sympy.series.series.series . We already have a functionality to compute the taylor series expansion.

Or is there something else that you're trying to do?

[2018-02-17 19:18] #14246 closed

[2018-02-17 22:34] Roland-Sands commented on #14244
I think Galois theoretic techniques are algorithmic, that they would find any solution by radicals that exist

[2018-02-17 22:41] Roland-Sands commented on #14245
I agree, although I would go further
I think `<-a, b>` should only be returned when the user is explicitly asking for a heuristic

[2018-02-17 22:47] Roland-Sands commented on #14245
Or better yet, in my opinion, create a new function, `infimums`
`infimums(a_n)` would return `(b, c)` where `b` is the limit infimum of `a_n` and `c` is the limit supremum of
`a_n`, with it being made clear that these evaluations are heuristic

[2018-02-17 23:13] Roland-Sands commented on #14246
Is the plotting of the Taylor polynomials something that is not already implemented

[2018-02-18 00:29] asmeurer commented on #14244
I don't know if the Galois group algorithms would actually give you the radical form when it exists. If they do, that is a good reason to implement them.

SymPy currently only has complete radical form algorithms for polynomials of degree <= 5. For higher degree polynomials such as this one, it may fail. The radical form should definitely be preferred if it is available.

[2018-02-18 01:22] normalhuman opened #14256 "exp of MatrixSymbol throws an error"
[code]

Other functions, like sin(A) or cos(A), return the expected expressions.

[2018-02-18 02:15] normalhuman commented on #14251
### Limits vs sets

AccumBounds(0, 1) does not quite function like the closed interval [0, 1]:
[code]
The logic here is that if the limit of f(x) is expressed as AccumBounds(0, 1) and the limit of g(x) is oo,
then the bounds for the limit of `f(x)**g(x)` that we can derive are 0 and oo, not 0 and 1.

If we think of a static set, `Interval(0, 1)`,  then the logic of limits doesn't come into play, s

[2018-02-18 06:18] h-ranjan1110 commented on #14044
Yeah , go on.

On Feb 15, 2018 6:36 PM, "Rahil Hastu" <notifications@github.com> wrote:

[2018-02-18 06:23] rahilhastu commented on #12600
I cannot get what has to be done here? can u please make it clear @moorepants .Does this issue needs a PR or there already exists one?

[2018-02-18 06:49] sidhantnagpal opened #14258 "Rationalizing instead of taking LCM of the Denominator"
`>> solve(x**3 + 3*x + 2, x)[-1]`
`-(27 + 27*sqrt(2))**(1/3)/3 + 3/(27 + 27*sqrt(2))**(1/3)`
`>> simplify(solve(x**3 + 3*x + 2, x)[-1])`
`(-(1 + sqrt(2))**(2/3) + 1)/(1 + sqrt(2))**(1/3)`

Obtaining the real root:
x^3 + 2 = 3 (-1) x
x^3 + (1 - /2) + (1 + /2) = 3 (-1) x
x + (1 - /2)^(1/3) + (1 + /2)^(1/3) = 0
x = (/2 - 1)^(1/3) - (/2 + 1)^(1/3)

The real root of the cubic equation be simplified to

[2018-02-18 07:18] skirpichev commented on #14244
I think, the problem is that existing algorithms perform badly for large n (where "large" is around 10).

That's silly.  E.g. already for cubic or quartic equations it may take several pages of output, while not provide any additional insight, which you can't take just from RootOf's form.

[2018-02-18 08:12] rahilhastu commented on #9122
can I implement what @megh1241 is trying to do?
or the issue already has a PR?

[2018-02-18 08:29] RISHAV98 commented on #14246
the code is basically for plotting the taylor expansion series for any function and this code gives  plot function for the function sin(x) approximating up to the 9th term.

[2018-02-18 08:59] Upabjojr commented on #14251
I see your point.

I believe your examples are bugs in the current implementation. They need to be fixed.

[2018-02-18 09:42] rahilhastu commented on #7258
Is there some more Python2 to Python3 conversion pending?
xrange has been resolved, are there any other idioms pending? I'm new to contributing and would love to work on this.

[2018-02-18 11:35] Roland-Sands commented on #14244
I'm pretty confident that textbook methods are algorithmic, however, I think that they are slow, and also, they would probably give the solution by radicals in a highly complicated form, and my understanding is that simplifying radicals is hard apart from the case of nested square roots

[2018-02-18 11:41] Roland-Sands commented on #14244
I think it could be helpful in algebraic number theoretic computations

[2018-02-18 12:08] Roland-Sands commented on #14258
My understanding is that simplifying cube roots algorithmically is a challenging problem

If you want to put a whole block in code form, then put 3 "backticks" (symbol below ~) on a line by itself, then put all the code, then put 3 backticks on a line by itself

Also,
[code]
is hard to read
It could be worth considering
[code]

Also, using 1/3 for the fraction one third can cause problems, because

[2018-02-18 12:24] sidhantnagpal commented on #14258
Thank you for the tip, will keep in mind.

Yes, pprint does indeed make it look better.

Well, isnt it essentially rationalizing the term containing surds rather than simplifying cube roots (because such reduction will be possible even if cube root is replaced by nth-root)?

[2018-02-18 12:46] Roland-Sands opened #14260 "abs(I**n)"
[code]

[2018-02-18 13:11] smichr commented on #14242
Other than making Max inherit from Function, is there any way to make it so `isinstance(Max(x, 1), Function)` would be true? Is there a reason that Max doesn't inherit from Function (perhaps in addition to Application)?

[2018-02-18 13:18] smichr commented on #14233
A True from this routine means that the minus sign is not distributed in a canonical way. It should always be true that `could_extract_minus_sign(foo) == not could_extract_minus_sign(-foo)`; which of `foo` and `-foo` is canonical is arbitrary. In the case of `x - y` and `y - x` I believe the canonical form is the one that has the first ordered symbol positive. Since x comes lexically before y, `x

[2018-02-18 13:26] jashan498 commented on #14242
I don't think it would be possible until `Max` is a subclass of `Function`. I have seen a similar issue [here](https://github.com/sympy/sympy/issues/14000).

[2018-02-18 13:29] jksuom commented on #14242
Max and Min differ from most functions in that they are restricted to the real domain. I don't know if this was the reason for not making them inherit from Function, but it might not be a bad idea to keep it that way.

[2018-02-18 14:45] ArighnaIITG commented on #14048
@normalhuman , So should we change the documentation of `Plotting Geometric Entities` from `c.tangent_line(c.random_point())` to `c.tangent_lines(c.random_point())[0]` ?
I believe `p.show()` will not work due to the long-withstanding issues in `pygletplot` module.

[2018-02-18 17:45] GYeyosi commented on #14256
Here it's enough to check if the arg is an instance of MatrixBase or not. isn't it ?

[2018-02-18 17:55] normalhuman commented on #14256
Yes. You may notice a link to pull request just above your comment.

[2018-02-18 17:57] normalhuman opened #14261 "Deprecate sampling methods in stats module"
Sampling is a numeric procedure which duplicates what numeric packages (SciPy) already do, and should be out of scope for SymPy. Its implementation in SymPy is incomplete and inefficient, and attempts to fix that divert efforts from other areas of SymPy.

Specifically, I propose to deprecate

* numsamples parameter of [P](http://docs.sympy.org/dev/modules/stats.html#sympy.stats.P)
* numsamples par

[2018-02-18 18:32] sidhantnagpal opened #14262 "log(I**I)"
[code]
#### Expected Result
[code]
#### Related Issues
#7569 - simplify should call expand_complex
#13288 - Improve simplification

[2018-02-18 18:33] Yathartha22 commented on #14223
Yeah sure @smichr would love to do it.

[2018-02-18 18:49] normalhuman commented on #14262
I also expected `(I**I).rewrite(exp)` to return `exp(-pi/2)`.

[2018-02-18 18:55] sidhantnagpal commented on #14262
Yes, though `log(I**I).evalf()` and `(I**I).is_real` print the correct value.

[2018-02-18 22:21] ghost opened #14265 "Conjugate transpose of a matrix is in sympy.physics.quantum"

[2018-02-18 22:25] Roland-Sands opened #14266 "Cayley-Hamilton theorem"
Would it be worthwhile implementing the Cayley-Hamilton theorem, would it help in calculating powers of matrices which cannot be diagonalized

[2018-02-18 22:32] Roland-Sands opened #14267 "Thoughts on simplifying radicals"
Let `r` be a radical
`r` is an algebraic number, so it is an element of an algebraic number field, `F`
Find a basis for `F`
Express `r` in terms of this basis

[2018-02-18 23:30] normalhuman commented on #14048
That would look like repainting a bridge that's fallen down. If a plot can't be shown, what's the point of creating it?

[2018-02-19 00:08] #14000 closed

[2018-02-19 04:41] Roland-Sands commented on #14258
I rationalized the denominator of
[code]
and got
[code]
I don't know how to get SymPy to simplify that

[2018-02-19 04:51] Roland-Sands opened #14269 "simplify((x**3 + 3*x + 2).subs(x, b)) does not return 0, where b is a root of x**3 + 3*x + 2"
[code]

[2018-02-19 04:56] sidhantnagpal commented on #14266
Yes, actually not only can it be help for calculating powers of matrices which cannot be diagonalized, it will also be used as an intermediary for evaluation of Homogeneous Linear Recurrences (of higher order) with Constant Coefficients which I have proposed on the SymPy Google Group.

[2018-02-19 05:41] normalhuman commented on #14242
Heaviside is also restricted to real domain, but inherits from Function nonetheless.

I thought that the fact that the number of arguments of Max and Min is variable could be a factor here. But does anything actually break if the definition of Max was `class Max(MinMaxBase, Function)`?

[2018-02-19 06:27] normalhuman commented on #14265
I don't know about physics.quantum module, but conjugate transpose is implemented as a Matrix method `.H`, which works well enough for me.
[code]

[2018-02-19 06:56] #12874 closed

[2018-02-19 07:51] Roland-Sands commented on #14265
That means that it is implemented twice, for in the physics part the operation is called dagger

[2018-02-19 07:55] Roland-Sands commented on #14266
Excellent idea

[2018-02-19 08:44] #14095 closed

[2018-02-19 08:45] abaokar-07 commented on #14262
@normalhuman I think we have to add that if the argument of log is complex and has powers, then return the expected value
for example
`>>> simplify(log(I**I)).expand(complex=True)
-pi/2

-3*pi/2`
i.e. , depending on the coefficient of `I` which is in the power

[2018-02-19 08:51] abaokar-07 commented on #14262
@normalhuman   I think we have to add that if the argument of log is complex and has powers, then return the expected value
for example
`>>> simplify(log(I**I)).expand(complex=True)`
`-pi/2`
`>>> simplify(log(I**(3*I))).expand(complex=True)`
`-3*pi/2`
i.e. , depending on the coefficient of the `I` which is present in the power

[2018-02-19 11:22] Roland-Sands opened #14270 "integrate((1 - r)**(Rational(1/3))*x, x) hangs"
I think it is a hyper-elliptic integral

[2018-02-19 11:26] Roland-Sands commented on #14270
Sorry

[2018-02-19 11:26] #14270 closed

[2018-02-19 11:33] Roland-Sands opened #14272 "Rational(a/b) returns a rational rather than an error"
[code]

[2018-02-19 11:54] andrewrocks commented on #14272
Personally I like this behaviour, because it calculates rationals from floats for me.

[code]

[2018-02-19 11:58] jaromrax commented on #14048
Sorry guys, @normalhuman, I didnt understand, is there a way to plot something more than a circle?
Or `pygletplot` is broken for years and `p.show()` (whatever it is) is not going to work?

[2018-02-19 13:02] Roland-Sands opened #14273 "Free groups are in the combinatorics folder"
Is that an orthodox classification

[2018-02-19 13:04] sidhantnagpal opened #14274 "Abs((4 + 5*I)**(6 + 7*I))"
[code]

The evaluation of this without simplify gives an even complicated expression.

[2018-02-19 13:12] ghost opened #14276 "limit_seq(log(sin(n))) is log(<-1, 1>)"

[2018-02-19 13:19] Roland-Sands commented on #14274
We are noticing similar phenomena
#14263 will improve `abs`

[2018-02-19 13:39] sidhantnagpal commented on #14274
Yes, thanks for bringing this to notice.

[2018-02-19 13:46] Roland-Sands commented on #14276
[code]

[2018-02-19 14:16] Roland-Sands commented on #14276
[code]

[2018-02-19 14:21] skirpichev commented on #14267
Which basis you would like to take?

[2018-02-19 14:30] #14233 closed

[2018-02-19 15:09] KOLANICH opened #14281 "Units are not simplified with simplify()"
[code]

expected `10`
got `centimeter/millimeter`

[2018-02-19 16:40] jsharkey13 opened #14283 "lambdify(sympy.abc.a, sympy.abc.a / 0 , "numpy") gives NameError"
When using `lambdify(...)` with `"numpy"` as the module, if the expression involves the complex infinity `zoo` symbol then the result cannot subsequently be evaluated because a NameError is thrown.

A minimum working example:
[code]
gives
[code]
from the line `eval_func = func(1)`.

Note that if `expr = sympy.oo` or `expr = sympy.oo * sympy.abc.a` instead, we get `inf` as the result; this makes se

[2018-02-19 17:33] vishalg2235 commented on #12044
@pspbot7 are you still working on this issue ? Can I open a PR for this ?

[2018-02-19 18:00] bjodah commented on #14281
I wouldn't call that badly broken, just a missed simplification opportunity. In the meantime you can use this:
[code]
If you want you can try to implement a `_eval_simplify` method for `sympy.physics.units.quantities.Quantity`. Feel free to ping me in a pull request.

[2018-02-19 18:16] pspbot7 commented on #12044
I am currently not working on it, so you can open a new PR on the issue.

On Feb 19, 2018 11:03 PM, "Vishal" <notifications@github.com> wrote:

[2018-02-19 19:05] abaokar-07 commented on #14281
@bjodah I would like to take this up

[2018-02-19 19:10] abaokar-07 commented on #14281
@bjodah I would like to take this up

[2018-02-19 19:11] lilithxxx commented on #9313
I want to take up this issue. Please guide me how to do it

[2018-02-19 19:15] #12600 closed

[2018-02-19 19:27] smichr commented on #12600
I'm not sure you looked at the final modifications which didn't change the kinematic equations. I committed the quick exit for all speeds equal 0 but the issue of what to do in the certain cases still exists. Tests for those cases were added in the unmerged issue.

[2018-02-19 19:35] smichr opened #14285 "solving kinematic equations can yield NaN"
Unresolved issue from 12600 as presented by @moorepants:

[code]

Here are some addition test cases to consider:

[code]

A possible solution is presented in #12698.

[2018-02-19 20:26] ArighnaIITG commented on #14283
@jsharkey13 , I am taking this up.
Does this consist of only these changes in `sympy.utilities.lambdify.py` ?

[code]
By following this `git diff` methodology , we get --

[code]

Is there more to it? And what tests should be added?
`Assert` will not work because mapping will create `Assertion Error`.

[2018-02-19 20:34] asmeurer commented on #14272
This is indeed intended behavior. Getting a rational from a float is a real use-case. Note that SymPy has no way to differentiate `Rational(8/7)` and `Rational(1.1428571428571428)`.

[2018-02-19 20:45] asmeurer commented on #14048
I do not think the pictures from that blog post were generated from SymPy. It would be awesome if SymPy could generate such images, or at least something reasonably close.

[2018-02-19 21:31] asmeurer commented on #14283
The change should be made to the numpy printer.

I guess printing nan for zoo makes the most sense. I don't know if there's any other reasonable thing to do with it.

[2018-02-20 01:12] moorepants commented on #12600
I will look at it again.

[2018-02-20 01:15] moorepants commented on #12600
Just looking at this, makes me think that maybe `kinematic_equations` should be left as is and the zero velocity should be correctly handled in `ang_vel_in()`, i.e. `kinematic_equations` should not be called if the rotation angles are not functions of time.

[2018-02-20 03:04] normalhuman commented on #14272
[Documentation](http://docs.sympy.org/dev/modules/core.html#rational) is clear on this point:

[2018-02-20 03:04] #14272 closed

[2018-02-20 04:54] Roland-Sands commented on #14276
The following limit is from https://math.stackexchange.com/questions/2651471/calculating-a-limit-with-trignonometeric-and-quadratic-function, it is `E`
[code]

[2018-02-20 05:01] Roland-Sands commented on #14276
Is there code in limit_seq for taking logs when the exponent is a function of n

[2018-02-20 05:57] Roland-Sands opened #14287 ""ntheory", is that a better folder name than "number_theory" and "arithmetic""

[2018-02-20 06:10] akash9712 opened #14288 "Assertion fails for identical expressions"
[code]
This issue came up while writing the tests for `probability` in drv.py. (Refer to [these comments](https://github.com/sympy/sympy/pull/14119/files/ec2766ff35ca3e979a39cdcd2a5c8e81d23d50fa#r167012288) )

[2018-02-20 07:33] vishalg2235 commented on #12044
@asmeurer where does it uses `diff()`?? is it here -> `t = list(list(eq[0].atoms(Derivative))[0].atoms(Symbol))[0]` in line 1497 ? Can you please elaborate the problem here?

[2018-02-20 08:25] jksuom commented on #12044
The user code uses `diff()`:

`odesys=[Eq(u0.diff(),RHS[0]),Eq(u1.diff(),RHS[1]),Eq(u2.diff(),RHS[2]),Eq(u3.diff(),RHS[3])]`

[2018-02-20 09:57] jksuom opened #14289 "Sign of generator of an algebraic numberfield"
`AlgebraicField` calls [`to_number_field`](https://github.com/sympy/sympy/blob/master/sympy/polys/domains/algebraicfield.py#L33) in order to create an `AlgebraicNumber` generating the extension field. This number is chosen positive in some cases where the sign can be determined.  This choice is currently implemented, at least in part, when the algebraic number is [created](https://github.com/sympy

[2018-02-20 10:26] jsharkey13 commented on #14283
@ArighnaIITG, I think my proposed solution only works in versions `1.0` through `1.1.1` and that everything has been changed on master now.

I can't see how [`NumPyPrinter`](https://github.com/sympy/sympy/blob/master/sympy/printing/pycode.py#L289) or its parents deal with `oo` any longer, but I can confirm that the NameError for `zoo` is still thrown on master.

[2018-02-20 10:44] KOLANICH opened #14290 "simplification of full squares of sums inside sqrt is broken"
[code]

expected: ```0```
actual: ```- a - b + sqrt(a**2 + 2*a*b + b**2)```

[2018-02-20 11:05] skirpichev opened #14291 "poly(((x - 1)**2 + 1)*((x - 1)**2 + 2)*(x - 1)).all_roots() hangs"
bisected to 73fafba

[2018-02-20 12:52] vishalg2235 commented on #12044
Ok the problem should use `diff(tau)` :
`odesys=[Eq(u0.diff(tau),RHS[0]),Eq(u1.diff(tau),RHS[1]),Eq(u2.diff(tau),RHS[2]),Eq(u3.diff(tau),RHS[3])]`

Then,
[code]
The equations has `Subs(Derivative(u^0(_xi_0), _xi_0), (_xi_0,), (tau(t),))`, I think due to that `ode_order(eqs_,func)` (in line 1517) is returning 0 order wrt elements in `funcs`.
@jksuom  please help me in resolving the main problem.

[2018-02-20 13:59] sidhantnagpal commented on #14290
I think you have to resort to either of the following to obtain the desired result:
[code]
or
[code]

[2018-02-20 14:13] smichr commented on #14288
The expressions are not identical. As @normalhuman said, 'str printer produces a more readable form of the expression' so it's not WYSIWYG in terms of the underlying expression. I suspect that this is the autodistribution of the 32 on the expression. Try ((-S(71)/32 + 3*exp(4)/32)*exp(-4))/3*32` instead.

[2018-02-20 14:21] skirpichev commented on #14289
In the Diofant:
[code]
I think, that's correct.  C.f. with Sympy:
[code]

[2018-02-20 14:45] jksuom commented on #14289
That looks like the sign change was removed? I think that the sign should be the ignored in SymPy as well.

[2018-02-20 14:52] vishalg2235 commented on #14289
I don't know in deep but yes. I think the sign should be ignored(but maybe this property is used somewhere) as the number must retain its original sign.

well I found
[code]
and as done [here](https://github.com/sympy/sympy/blob/master/sympy/core/numbers.py#L2406) the `minpoly` of `obj` (`a` here) is `minimal_polynomial` of `b`.

We can also check type of `a` [here](https://github.com/sympy/sympy/

[2018-02-20 15:04] skirpichev commented on #14289
@jksuom, apparently so.

Great idea!  But why not ``a.args[0]*a.args[1][42]``?

[2018-02-20 15:23] #14237 closed

[2018-02-20 15:51] akash9712 commented on #14288
@smichr Thanks. This expression works.
Also, is this still an issue? The value shown as the return value on the python interpreter should evaluate as being equal to the actual return value of the function.

[2018-02-20 16:12] jrmuizel opened #14292 "Implement an analog to Mathematica's 'Convolve' function"
This would be nice to have and seems like it shouldn't be too hard to implement.

[2018-02-20 16:20] skirpichev opened #14293 "Sorting of polynomial roots"
In fact, it's about their identification.

Low-level code in rootisolation module produces complex roots, sorted by coordinates of south-western corner of the isolation rectangle (by ``ax`` with ties broken by ``ay``).  Clearly, this sorting is **not stable** (in sense that refining process doesn't preserve one) => no way to index roots.  Yet, this sorting has some nice properties for polynomials

[2018-02-20 17:38] Him98 commented on #9549
@leosartaj  I was following this issue. Firstly, I wanted to ask if I can work upon it?
Secondly, while going through the code of sympy/core/sympy/expr.py I inferred that the for loop in line 2679 is creating the whole issue. Is that correct?

[2018-02-20 17:43] davidlowryduda commented on #9638
I think Gadal's explanation is the correct one. Perhaps this issue should be closed?

[2018-02-20 17:45] deepakgouda commented on #8478
I would like to take up this issue. I have worked with Acceptance Rejection Methods to generate various sample.
@skirpichev

[2018-02-20 18:42] normalhuman commented on #9638
Perhaps... On the other hand,
[code]
so one can say there is still an issue with asin(sin()), though not exactly the same as stated.

[2018-02-20 19:10] Yathartha22 commented on #10085
This could be closed @smichr

[2018-02-20 19:40] skirpichev opened #14294 "to_number_field should be idempotent for single extension"
[code]

[2018-02-20 20:14] GProtoZeroW opened #14295 "lambdify not working with Piecewise And greater then 2"
Trying to implement the following

[code]
 but `PN(x, y, z` yields an error

[code]
but if I change the def of `P` to
[code]
`lambdify` will work with it just fine; So what the duce?

[2018-02-20 21:16] vishalg2235 commented on #14289
a.args[1] has only two index 0 and 1. a.args[1][0] will be 1 for positive root and -1 for negative root.([here](https://github.com/sympy/sympy/blob/master/sympy/polys/numberfields.py#L640)) .

Should I add a PR to remove the sign change?

[2018-02-20 21:27] skirpichev commented on #14289
How did you know that?

[2018-02-20 21:28] asmeurer commented on #14295
This works for me in SymPy master.

[2018-02-20 21:39] vishalg2235 commented on #14289
Yes! Sorry my fault `len(sarg)` [here](https://github.com/sympy/sympy/blob/master/sympy/core/numbers.py#L2399) could be more than 2 if `alias` is present.

@skirpichev the PR you referenced seem to be of 'diofant' repository. can I open a PR to remove sign change of `a` when it negative in sympy. ?

[2018-02-20 21:56] skirpichev commented on #14289
Wow!

Sure.

[2018-02-20 22:18] asmeurer commented on #14261
Sampling is a hard problem which is fundamentally numerical in nature, and I agree that we shouldn't get too deep in it. I do know that people use these sample methods (for better or for worse).

I do worry that leaving sample in could lead to major feature creep for what is effectively an out of scope feature. However, I do think that there is some room for SymPy to act as an intermediary to nume

[2018-02-20 22:21] asmeurer commented on #14283
One would just need to add `_print_zoo` as a method to the printer, which returns `'nan'`.

[2018-02-21 00:13] Roland-Sands opened #14297 "simplify(log((1 + 1/(n**2))**(n**2 + n))) does nothing"
[code]

[2018-02-21 00:16] smichr commented on #14288
If you mean that if you see the same thing in response to an entry made at the interpreter and the output of a function, then "yes", they *should* be the same but there have been some bugs (or printing issues?) that have made this not true.

This is a well-known issue, the auto-expansion of the 2-arg Mul. The simplest example is `-(1 + x)` which will become `-1 - x`. In this case, there is no arg-

[2018-02-21 00:16] #14288 closed

[2018-02-21 03:18] Roland-Sands opened #14298 "limit_seq((n**2 + n)*log(1 + 1/(n**2 + cos(n)))) is not evaluated"
The limit is 1

[2018-02-21 03:37] Yathartha22 commented on #9549
@Him98 if you have found a fix just create a PR, there are lots of active people here who will help review your PR.

[2018-02-21 04:17] normalhuman commented on #14297
I'm not sure that simplify should do anything here. What's simpler is ill-defined, as the docstring of `simplify` says. If the goal is to expand the logarithm, that can be done with `expand_log`:
[code]

[2018-02-21 05:29] ArighnaIITG commented on #14287
Can you elaborate?

[2018-02-21 08:57] Roland-Sands commented on #14297
Excellent, thank you

[2018-02-21 08:57] #14297 closed

[2018-02-21 11:14] Him98 commented on #14269
This is the case with too.
[code]

The values are too small. Why can't they be ignored?
For ignoring we can see that if the value returned is a and the correct answer is b then if
mod(a - b)/max(1,mod(b)) <= 10**-20. 10**-20 can be replaced by any acceptable number which on changing doesn't make a difference in answer.

[2018-02-21 12:07] grassknoted commented on #9549
I will take this up.

On Wed 21 Feb, 2018, 2:51 PM Sartaj Singh, <notifications@github.com> wrote:

[2018-02-21 12:13] jsharkey13 commented on #14283
Whilst investigating further, I discovered that the same issue exists also for Negative Infinity.
(If `expr = sympy.oo * -1` above it gives `NameError: global name 'oo' is not defined`).

The following two methods fix this issue if added to both `MpmathPrinter` and `NumPyPrinter` in `sympy.printing.pycode`.

[code]
Would it make more sense to just add them to the parent class `PythonCodePrinter` i

[2018-02-21 14:55] moorepants commented on #14287
It may not be a better name but it is not worth changing it because it will break the API.

[2018-02-21 15:00] rahilhastu commented on #14285
where is this method?

[2018-02-21 15:26] smichr commented on #14293
Perhaps sorting by (x, abs(y), sign(y)) would be preferable. `ordered` can easily and efficiently use such a key.

[2018-02-21 16:00] moorepants commented on #14285
In the Frame object.

[2018-02-21 16:06] skirpichev commented on #14293
@smichr, please explain what do you mean by x, y.  E.g., if south-western corner of the isolation rectangle (real and imaginary parts, respectively), then this will be not better that sorting used currently by rootisolation module.

Let me recall.  The issue is: sorting should allow you to index roots.  refine() of isolation rectangles shouldn't break this order.

[2018-02-21 16:44] jrmuizel commented on #2354
Running this today gives:
[code]

which suggests this is fixed.

[2018-02-21 16:58] normalhuman opened #14300 "Neither solve nor solveset can solve 1 - exp(-18000000*x) = y for x"
[code]
At least in my case (Ubuntu), the entire OS hangs, not just SymPy.

Based on a [Stack Overflow post](https://stackoverflow.com/questions/48903574/how-to-lambdify-an-intersection)

[2018-02-21 17:07] normalhuman commented on #2354
This is an exact duplicate of #13749 which was fixed by #13808 (and a test for it was added there).

[2018-02-21 17:07] #2354 closed

[2018-02-21 17:25] #14289 closed

[2018-02-21 18:43] skirpichev commented on #14300
You should set limits on memory usage for processes. man ulimit.

[2018-02-21 19:41] asmeurer commented on #14300
It's trying to create a dense polynomial of degree 18000000.

[2018-02-21 19:41] jashan498 commented on #14300
`solveset` tries to solve the above equation by using `_solve_as_poly` method, that is it is tried to convert into a polynomial. The ultimate polynomial formed for above example is `Poly((-y + 1)*(exp(x))**18000000 - 1, exp(x), domain='ZZ[y]')`  and i think finding its `18000000` roots is not quite feasible. Is there any other more efficient way to solve these kinds of equations?

P.S: I tried for

[2018-02-21 19:47] asmeurer commented on #14300
solveset could return the solution set in a parameterized form.

[2018-02-21 19:54] jashan498 commented on #14300
you mean something like using `RootOf`? Btw shouldn't there be a limit to maximum degree of poly  `solveset` should try to solve?

[2018-02-21 19:56] skirpichev commented on #14300
First, it's trying to return an arbitrary selected list of solutions from infinite set...  For more fun, number of such solutions is growing with number in the exponent.

[2018-02-21 19:58] asmeurer commented on #14300
RootOf can be used in general (`{RootOf(p, i) for i in degree(p)}`), but for this polynomial we could even return a parameterized explicit solution.

[2018-02-21 20:12] smichr commented on #14293
I'm not sure I understand what it is the most important issue to you. Here are my assumptions:

1. some polynomial p(x) has roots.
2. indexing is arbitrary and is not a mathematical property of the root
3. it might make sense to make indexing canonical
4. you don't know what a roots index will be until you define the rules
5. ones you have rules you won't know what the index is until you determine

[2018-02-21 20:13] jashan498 commented on #14300
@asmeurer actually I am confused exactly what are `parameterized` solutions, you mean something like `( -ln(1 - y)/18000000, y)`?

[2018-02-21 20:14] Upabjojr commented on #14251
https://github.com/sympy/sympy/pull/14301

Added some more support for `SetExpr`.

[2018-02-21 20:17] asmeurer commented on #14300
The final solution would be an ImageSet on Range(degree(p)), with all the solutions being represented as a single expression in a parameter `n` (similar to `solveset(sin(x))`).

[2018-02-21 20:34] jashan498 commented on #14300
oh got that. One last thing, how to divert equations particularly of this kind to produce a parameterised solution rather than giving an absolute sol?

[2018-02-21 20:58] skirpichev commented on #14293
We **want** this, as currently it's the only way to specify individual roots via RootOf.

The question: is there an algorithm, that allow us to "unambiguously distinguish" (after some finite number of refinement process steps) roots to enumerate them (read "assign index"), in order that will be unchanged by further refinement of roots.

That might be an option, i.e. partially assign indexes and ha

[2018-02-21 21:01] normalhuman commented on #14300
`solveset(exp(-18000000*x) - y, x)`  works by inverting exp, and returns
[code]
The problem is that when there is also 1, it does not recognize the possibility of bundling the rest of the terms (which do not contain the variable) into one.

A thing that comes to mind: if the equation is an Add where several terms do not contain the unknown, replace it by `Add(terms_with_unknown, `z_`)` and solve,

[2018-02-21 21:52] #14159 closed

[2018-02-22 02:26] vishalg2235 commented on #14291
I found that the infinite loop occurs [here](https://github.com/sympy/sympy/blob/master/sympy/polys/rootoftools.py#L323). I am having some difficulty in understanding the code/work of this function. @skirpichev  @jksuom can you show me some examples that what `_refine_complexes` do ?

[2018-02-22 03:18] Roland-Sands commented on #14267
Choosing an `F` of non-minimal degree may be advantageous

[2018-02-22 06:49] Subhash-Saurabh commented on #14281
Another issue related to mul/div  in units package
[code]
Expected -> `0.6`

With `convert_to`
[code]

[2018-02-22 07:26] Upabjojr opened #14305 "MatrixExpr derivative remain unevaluated if derivative calculation fails"
Currently we have:

[code]

In this case the parser was unable to parse the resulting expression, because it is a 4-dimensional array (not a 2-dim matrix).

I suggest to make this return an unevaluated `Derivative(A, A)` instead.

[2018-02-22 07:27] Upabjojr commented on #14305
@asmeurer we should fix this before the next release.

[2018-02-22 09:07] jashan498 commented on #14283
Adding these methods to `PythonCodePrinter` should make more sense as behaviour for both these sub-classes is same on this (also, as far as I know, `PythonCodePrinter` is inherited only by these two classes).

[2018-02-22 09:35] jashan498 commented on #14300
I don't know much about `_invert` but I think its the culprit here. The divergence in behaviour is that in case of  `solveset(exp(-18000000*x) - y, x)` , its get converted into a Mul having `exp(18000000*x) - 1/y` and
[code]
whereas in case of `solveset(1 - exp(-18000000*x) - y, x)`, the corresponding Mul having `-y*exp(18000000*x) + exp(18000000*x) - 1`:
[code]
Shouldn't `_invert`  convert the la

[2018-02-22 10:00] samyak-jain commented on #14290
Can I work on this?

[2018-02-22 10:06] samyak-jain commented on #14269
Can I work on this?

[2018-02-22 10:22] ArighnaIITG commented on #14283
I also believe that adding the above methods in the `PythonCodePrinter` class sholud be meaningful. This can prevent future APIs, which might inherit `PythonCodePrinter`, to render the above `NameError` in both the negative and complex infinity. This might be a safe bet.
Also, I guess modifying the parent method is always preferable.
@asmeurer , views?

[2018-02-22 11:09] smichr commented on #14300
In working with solve, I remember that there are cases where the result isn't solved...don't remember the details now but it *seems* like this should be attempted conditionally.

[2018-02-22 11:10] smichr commented on #14291
Isn't this the routine that tries to locate each root within a rectangle that is horizontally and vertically distinct from every other root's rectangle?

[2018-02-22 13:02] Roland-Sands commented on #14269
I think it would be excellent if you did

[2018-02-22 13:42] Siesh1oo opened #14307 "Not supported in C: Heaviside, DiracDelta"
Hi,

When generating code using ccode, sympy does not translate the Heaviside and DiracDelta function, but instead inserts a comment in code:
[code]
FWIW, a C translation might look like this:

[code]

[2018-02-22 13:52] abaokar-07 commented on #6924
@asmeurer @jksuom This problem is still present, shall I open a pull request for this?

[2018-02-22 14:18] samyak-jain commented on #14269
@Him98 If I were to work on the method you suggested, how will I know what the value of b is? Sorry, if it seems obvious, I am new to this.

[2018-02-22 14:31] smichr commented on #14293
Please correct me if I am wrong, but I believe the current method *is* such an algorithm. Roots are refined until they are distinct from one another and then are assigned indices. Are you wanting to assign an index before doing any refinement?

Yes, the reals are in order from negative to positive, the imaginaries are in order from negative to positive magnitude and the rest are in pairs.

[code]

[2018-02-22 15:05] skirpichev commented on #14293
Oh.  The word "algorithm" means (in particular), that it will end computation after several (finite number!) steps.  It can't stuck like #14291.

Could you formalize here criteria for "being distinct", e.g. in terms of isolating rectangles?  Apparently, if there are some algorithm in your code - it was wrongly implemented.

I want to assign indexes after some well defined procedure of refinement.

[2018-02-22 16:50] Him98 commented on #14269
@samyak-jain Yeah, that wasn't the correct way.
@Roland-Sands Can we just solve the equation using solve function and then do as follows:

[code]

So if the root is there in the answer we got using solve(), we directly returns 0.

[2018-02-22 17:07] Zeleznyj opened #14309 "Wrong latex output for fraction with a sqrt"
Latex output for some fractions, which involve a square root is wrong:
[code]
The square root is incorrectly taken out of the fraction.
Without the variable x, the output is correct:
[code]

 Tested on sympy version 1.1.1.

[2018-02-22 17:14] samyak-jain commented on #14269
@Him98 This sounds good. I'll start working on this then?

[2018-02-22 17:19] Roland-Sands commented on #14269
If I understand you correctly, you want to do a high precision evaluation and then conclude that a number so close to `0` must be `0`
If my understanding of SymPy is correct, then that is not the way to go, unless you provide a theoretical justification that lets you deduce an exact answer from an approximation

The intention of SymPy is to do things symbolically, which in this instance would be t

[2018-02-22 17:28] Roland-Sands commented on #14269
I wonder if the example in the title could be done by expanding `(sqrt(2) + 1)**(Rational(1,3))` and `(sqrt(2) - 1)**(Rational(1,3))` by the binomial theorem and then cancelling everything

[2018-02-22 17:31] Roland-Sands commented on #14269
Would another possibility be doing a finite fourier expansion of `(x**3 + 3*x + 2).subs(x, b)`

[2018-02-22 17:52] jksuom commented on #14269
The computation should be done with the element `a` defined by `b` in the number field it generates.
[code]
(This should be run on the latest master.)

[2018-02-22 19:22] jashan498 commented on #14309
setting `long_frac_ratio = 3` (ratio of number of terms in num to that in denom) should do the trick.
[code]

[2018-02-22 20:51] asmeurer commented on #14287
I never had a problem with the ntheory name. If we were starting from scratch I might prefer number_theory, but as it is, it's already part of the API, and we don't take [API breakages](https://github.com/sympy/sympy/wiki/Deprecating-policy) lightly.

[2018-02-22 20:59] asmeurer commented on #14309
Even so, it would be nice for the LaTeX printer and the pretty printer to be consistent here.

[code]

[2018-02-22 22:33] #14287 closed

[2018-02-22 23:01] #14260 closed

[2018-02-22 23:01] #14274 closed

[2018-02-23 03:49] sidhantnagpal opened #14311 "Integral 1/(sin(x)**4 + cos(x)**4) can not be computed"
[code]
Wolfram Alpha is able to integrate the [expression](http://www.wolframalpha.com/input/?i=Integral(1%2F(sin(x)**4+%2B+cos(x)**4),+x)).

[2018-02-23 05:04] smichr commented on #14293
Ok, I understand the issue. No solution, yet.

[2018-02-23 05:26] Roland-Sands commented on #14311
Evaluating the integral requires `integrate(1/(sin(x)**4 + cos(x)**4), x)`
The computation hangs

[2018-02-23 06:13] jashan498 commented on #14309
Without above flag, it's not possible to have more than twice the terms in numerator than in denominator.
[code]
Should this rule in latex printer be changed? Why even is it required to have fixed number of terms in the numerator?

[2018-02-23 06:37] normalhuman commented on #14311
Trigonometric power reduction seems to help (there was a suggestion to use it in heurisch):
[code]
The answer looks different. I haven't checked if it's equivalent to WA output.

[2018-02-23 08:45] sidhantnagpal commented on #14311
Yes, I don't think that it is correct. It should not have term containing `floor` depending on `x`.

I solved it manually, by using `sin(x)**4 + cos(x)**4 = 1 - 2(sin(x)cos(x))**2 = 1 - 1/2 sin(2x)**2` and I am getting the integral as `1/√2 atan(tan(2x)/√2) + C`.

I think, WA just expands this result for getting the output.

[2018-02-23 09:26] jksuom commented on #14311
The `floor` term is added to make the antiderivative continuous. Its derivative is zero. It is needed for computing definite integrals which cannot be computed by means of a periodic antiderivative.

[2018-02-23 09:35] sidhantnagpal commented on #14311
Oh, I didnt know that. Thanks for the information.

But shouldnt the coefficent of `atan` be `1/√2` since the `argument` inside is identical and derivative of second term is `0`.

[2018-02-23 10:25] samyak-jain commented on #14127
Does this require any specific algorithm to be implemented?

[2018-02-23 16:28] normalhuman opened #14312 "Incorrect solution of 3 by 3 linear ODE systems"
`dsolve` gives wrong solutions of the following 3 by 3 homogeneous linear system. Specifically, the first equation is the one not being satisfied by the solution. If the equations are reordered, the solution changes so that again, 2nd and 3rd equations are satisfied but the 1st is not. [From Stack Overflow](https://stackoverflow.com/questions/48949289/sympy-dsolve-answers-depends-on-the-order-of-t

[2018-02-23 16:50] normalhuman commented on #14311
WolframAlpha returns the function `g = (atan(sqrt(2)*tan(x) + 1) - atan(1 - sqrt(2) * tan(x)))/sqrt(2)` which is incorrect. This is clearly a bounded function while the true antiderivative of `1/(sin(x)**4 + cos(x)**4)` increases without bound as x->oo. Also, plotting g shows it's not continuous.

The SymPy output is a continuous increasing function `f`. Numeric check shows it gives the correct in

[2018-02-23 16:59] normalhuman opened #14313 "The series (1/2)**floor(n/2) is reported as divergent"
In current master:
[code]
The series actually converges.

[2018-02-23 17:11] gxyd commented on #14313
Just a question, wouldn't it better if we tag this as 'concrete' instead of 'series'? I remember may be I also tagged one `Sum` related issue as 'series' instead of 'concrete' (but I don't remember which).

[2018-02-23 17:24] normalhuman commented on #14313
Good point. `is_convergent` is a method of Sum, and Sum is in concrete. Even though the content of `is_convergent` is mostly about limits and not so much about concrete summation.  I'll fix the labels.

[2018-02-23 17:46] smichr commented on #14291
The problem is that the complex roots of two equations may share the same real value so the roots will never be isolated to satisfy the assumptions of the routine (which wrongly assumed this would not be the case).

[2018-02-23 19:10] sidhantnagpal commented on #14311
Yes, I think that would be advantageous.

But regarding the correctness (as I mentioned in my [previous comment](https://github.com/sympy/sympy/issues/14311#issuecomment-367957819)), derivative of SymPy output simplifies to `2/(sin(x)**4 + cos(x)**4)`, cross-checked via [WA](http://www.wolframalpha.com/input/?i=derivative+of+sqrt(2)*(atan(sqrt(2)*tan(2*x)%2F2) ), which should not be the case.
Is s

[2018-02-23 19:22] normalhuman commented on #14311
I don't see it. The derivative has some stuff with Derivative(floor), which is generically zero. Discarding that and simplifying the rest, I get `2/(4*sin(x)**4 - 4*sin(x)**2 + 2)`. And `(2*sin(x)**4 - 2*sin(x)**2 + 1).equals(sin(x)**4 +cos(x)**4)` returns True.

[2018-02-23 19:35] sidhantnagpal commented on #14311
Ah, the braces. I misread the initial comment as,

Yes, you are right.

[2018-02-23 19:50] normalhuman opened #14315 "The validity of the relation expr == expr.func(*expr.args)"
[SymPy Tutorial](http://docs.sympy.org/latest/tutorial/manipulation.html#recursing-through-an-expression-tree) says in part:

Neither is true when `expr = Matrix([[1, 2], [3, 4]])`, as Matrix has neither func nor args attributes. Matrix does not inherit from Basic. There may be other exceptions too. I see two ways to go about this.

1. Amend the tutorial to say there are exceptions to the stated r

[2018-02-23 19:58] andyy143 commented on #14044
may i be assigned this issue

[2018-02-23 21:38] samyak-jain commented on #14290
For some reason, this is only happening when we add the positive or real constraints to the symbols. @KOLANICH any idea why?

[2018-02-23 21:40] KOLANICH commented on #14290
No idea for now: I have not dug into it.

[2018-02-23 21:46] asmeurer commented on #14315
(Mutable) matrices are an exception because they live outside the SymPy class heirarchy (same with the internal classes in the polys module). The reason they are separate is that they are mutable, which goes against a requirement of Basic subclasses.

This is one reason why we have been trying to make ImmutableMatrix more of the default (https://github.com/sympy/sympy/issues/6509). This is partly

[2018-02-23 22:16] samyak-jain commented on #13847
Can I take up this issue?

[2018-02-23 22:25] asmeurer commented on #13847
Agreed. is_number already seems to mean "can be evalfed", so in line with that PR, `Integral(f(x), (x, 0, 1)).is_number` should match `f(0).is_number`.

[2018-02-23 22:55] smichr commented on #14293
Given irreducible polynomial P(x) with real coefficients we know that all non-real roots come in pairs.

If two pairs share the same real or imaginary coordinate then P(x) is not irreducible:
[code]

Since none of the pairs will share the same real or imaginary value the non-real complex roots of an irreducible polynomial can be refined numerically into non-intersecting rectangles.

So at least a

[2018-02-23 23:45] normalhuman opened #14316 "LaTeX printer does not use the same order of monomials as pretty and str"
When printing a Poly, the str and pretty printers use the logical order of monomials, from highest to lowest degrees. But latex printer does not.
[code]

[2018-02-24 00:14] asmeurer commented on #14293
@smichr I'm not sure if your proof is correct. A factorization of a polynomial only shows that it is irreducible (over Q) if the coefficients are rational. But there's no reason that `c**2 + d**2` and so on should be rational. With that being said, I don't know if the statement is true or not (except for the trivial case of a double real root, which is easy to show by the square free decomposition

[2018-02-24 06:03] gxyd commented on #14044
@andyy143 there already is a PR open fixing this issue.

Also in sympy we don't 'assign' issues, you can just comment stating that you intend to work on it, and we'll let you know in case you're not sure if a PR is open.

[2018-02-24 06:35] skirpichev commented on #14293
That's true for any polynomial with real coefficients.

As I фдкуфвн said, your statement above is valid irrespectively of irreducibility if we consider our polynomial over the field of coefficients big enough, namely, over C.  Therefore, this statement already wrong.

But it's easy to construct a counterexample:
[code]
There are two conjugated pairs, that share same roots.

[2018-02-24 08:08] vishalg2235 commented on #14291
@smichr I couldn't locate where in code it is checking the same real value of roots? please help!
And `complexes` in _refine_complexes() is:
[code]
What are those `(0, 6)`, `(0, -6)`?

[2018-02-24 09:04] skirpichev commented on #14291
Oh, again wrong (:  Complex roots of one equation may share the same real part (actually, we care about different conjugated pairs of roots, if coefficients of the equation are real).

BTW, @vishalg2235, I wonder what you did to "locate where in code it is"?

[2018-02-24 09:39] vishalg2235 commented on #14291
@skirpichev I was trying to understand `_refine_complexes()` but couldn't understand what logic is applied here. Can you please get me more familiar with this code ?

[2018-02-24 15:46] Upabjojr opened #14318 "Units: remove dimension and scale factor from the definition of Quantity"
Currently `Quantity` is constructed as `Quantity(name, dimension, scale_factor, abbrev)`.

The problem: **dimensions** are **not** an **absolute** association to a quantity. For example:

- in natural units length and time are the same dimension (so you can sum meters and seconds).
- SI and cgs units have different dimensions for the same quantities.

At this point a problem arises for scale facto

[2018-02-24 16:21] Upabjojr opened #14319 "Units: deprecate arguments "dimension" and "scale_factor" in Quantity"
See https://github.com/sympy/sympy/issues/14318

[2018-02-24 17:41] maurogaravello commented on #14313
This is due to the fact that `limit(floor(n/2), n, oo)` returns `floor(zoo)` instead of `oo`. Consequently, in the `is_convergent()` test of `Sum`, the following code returns `S.false`
[code]
Indeed, `lim_val` is `2**(-floor(zoo))` and `lim_val.is_number = True`.

[2018-02-24 18:29] sidhantnagpal opened #14320 "Improper results with inverse trigonometric functions"
[code]
Using simplify, does not give the correct value as range of `asin` is `[-pi/2,pi/2]`.
The other statements are not able to solve the same expression.

Having the ability to solve non-symbolic expressions involving compatible trigonometric functions would be useful.

[2018-02-24 18:52] jksuom commented on #14320
This was recently discussed on gitter. The attribute `inverse` does not differentiate between right inverse and left inverse. Therefore [this line](https://github.com/sympy/sympy/blob/master/sympy/simplify/simplify.py#L531) may lead to a wrong result.

[2018-02-24 19:10] sidhantnagpal commented on #14320
Yes, as you mentioned the line that leads to wrong result is integral to simplify.
Reduction by inverse trigonometric functions themselves, would be useful in such cases, I think.

[2018-02-24 19:17] Upabjojr commented on #14319
https://github.com/sympy/sympy/pull/14322

[2018-02-24 22:20] Upabjojr opened #14324 ".dummy_eq( ) does not compare Sum properly"
[code]
Output 16 should be true.

[2018-02-25 01:15] bjodah commented on #14307
We would need the printer to prin expressions instead of definitions. As pointed out in gh-14310 generating code containing DiracDelta is in many cases a sign that the expressions are not what the users thinks they are (so any support for DiracDelta should be opt-in).

Heaviside OTOH sounds reasonable to support by default. I suppose that 0.5 is arguably the most natural choice for `Heaviside(0)`.

[2018-02-25 02:42] Link2052 opened #14326 "Issue with inverse_laplace_transform"
I've been working on a fun side project for about a month and have noticed an odd error when using the inverse_laplace_transform function.  The error is as follows; when calculating the inverse from frequency space of a time coupled exponential, i.e.:
[code]
which **in** the frequency space is represented as:
[code]
I have noticed that the inverse Laplace cannot be computed if the **a** term is of

[2018-02-25 03:14] normalhuman commented on #14326
Indeed, `inverse_laplace_transform(1/(s-2.0)**2, s, t)` throws an error. I'm not entirely clear on the change you've made; was it based on SymPy 1.1.1? In the current development version `lu` is [already converted to int](https://github.com/sympy/sympy/blob/master/sympy/simplify/hyperexpand.py#L2314):
[code]
This prevents an error on that specific line, but there is still an error later and the tr

[2018-02-25 03:25] Link2052 commented on #14326
Oh, correction, I am using a decorated version of inverse_laplace_transform to make my code easier to read, and this decoration seems to have circumvented the issue!

I will include a picture of my code.

<img width="417" alt="decorated_inverse_laplace_transform" src="https://user-images.githubusercontent.com/5703330/36637779-2fe11cb2-19a9-11e8-97b7-fa799e217def.PNG">

[2018-02-25 03:27] Link2052 commented on #14326
But it also would seem to work with my un-decor
<img width="392" alt="undecorated_version" src="https://user-images.githubusercontent.com/5703330/36637790-6e90b602-19a9-11e8-8088-9b26defcf575.PNG">
ated version.

I will find my version and can post the code from my sympy if that is helpful, just let me know.

[2018-02-25 03:31] Link2052 commented on #14326
Ok, it seems that it works fine when the *power* of the *denominator* is a float as well.

If I use a *denominator* with a *power* of type int I get a different error.

_sympy.polys.polyerrors.PolynomialError: RisingFactorial(_t + 1.0, 1.0)**2 contains an element of the generators set_

<img width="700" alt="error_example" src="https://user-images.githubusercontent.com/5703330/36637817-00894010-19

[2018-02-25 03:35] vishalg2235 commented on #14312
I have debugged it and found that in [this](https://github.com/sympy/sympy/blob/master/sympy/solvers/ode.py#L7791) routine `M` and `evector` of both `eq` are following:
[code]
`M` vector in both case are different which makes their eigenvectors different and I think it is root cause of wrong result.

@normalhuman which algorithm is used here to solve ODE?

[2018-02-25 04:02] Link2052 commented on #14326
Ok, just noticed also, there is no issue when both *a* and *n+1* are of type int.

<img width="411" alt="no_issue" src="https://user-images.githubusercontent.com/5703330/36638026-5f017190-19ae-11e8-9145-697c0945c929.PNG">

so it seems the issue only arises when they are of opposing type.

[2018-02-25 04:05] Link2052 commented on #14326
I am using sympy 1.0.0 for reference.

[2018-02-25 04:09] normalhuman commented on #14312
A wrong one. The method `_linear_neq_order1_type1` assumes that when an eigenvalue is repeated, there is one Jordan block for it (i.e., there is one eigenvector, and the rest are generalized eigenvectors). So it returns incorrect solutions for any matrix that has an eigenspace of dimension greater than 1.

I don't see a way to correct it either, while keeping the overall structure of the method. W

[2018-02-25 04:14] normalhuman commented on #14312
How about this: at the end of the [MatrixBase.exp method](https://github.com/sympy/sympy/blob/master/sympy/matrices/matrices.py#L2486), check if all entries of self are real, and if they are, return `re(ret)` instead of `ret`. Will this break anything?

This change should be made (if it should be made) separately from the ODE issue, because it's not about the ODE, but about better form of exp(Matr

[2018-02-25 04:29] normalhuman commented on #14326
Okay. I think we've established that there is a bug, which makes
[code]
fail with a pretty long traceback, and that a solution for this issue is yet to be found.

[2018-02-25 04:31] Link2052 commented on #14326
Also, just as point of order, and apologies for the long submission history, as I've never done this before, I'm trying to follow protocol etc. I have noticed that it works when the *power* is a float and the *a* is an int.

[2018-02-25 05:17] vishalg2235 commented on #14312
I will try to implement putzer's algorithm for solving 'type6' ODE's.

I'am opening new issue for matrix exponential.

[2018-02-25 05:48] vishalg2235 commented on #14312
[code]
What is `E` here?

[2018-02-25 06:03] normalhuman opened #14329 "Integration of asec and acsc"
These are admittedly obscure functions, but they can be integrated.
[code]
SymPy can do it with a rewrite in terms of more familiar acos and asin. (Recall asec(x) is acos(1/x) and acsc(x) is asin(1/x).)
[code]
Should this rewrite be done by `integrate` automatically?

[2018-02-25 06:26] normalhuman commented on #14312
In SymPy, E denotes [Euler's number](https://en.wikipedia.org/wiki/E_(mathematical_constant)).

[2018-02-25 06:37] vishalg2235 opened #14330 "Matrix exponential of real number has complex numbers"
All the values of matrix `A` are real. But, matrix exponential of `A` has complex numbers. Is this used somewhere?
[code]

[2018-02-25 07:03] vishalg2235 commented on #14312
ohk !

[2018-02-25 07:04] jksuom commented on #14329
That will be done by `rischintegrate` once integration of trigonometric functions and their inverses is implemented. But I think that there could be a rewrite operation common for all integrators.

[2018-02-25 07:27] asmeurer commented on #14307
Apparently there are different conventions for Heaviside(0), which is why it's left undefined. Should is be configurable? @moorepants

[2018-02-25 08:09] jksuom commented on #14307
It is already configurable. From the docstring:

    Omit this 2nd argument or pass ``None`` to recover the default behavior.

[2018-02-25 08:38] Link2052 commented on #14326
Piecewise((0, exp(t) < 1), (1.8*meijerg(((4.4, 4.4), ()), ((), (3.4, 3.4)), exp(t)), True))

Piecewise((0, exp(t) < 1), (1.8*meijerg(((4.6, 4.6), ()), ((), (3.6, 3.6)), exp(t)), True))

Piecewise((0, exp(t) < 1), (1.8*meijerg(((4.9, 4.9), ()), ((), (3.9, 3.9)), exp(t)), True))

These results are as far as I have been able to get this evening, but they are odd to say the least, these three case do

[2018-02-25 08:50] jksuom commented on #14326
Floating point integers have been a nuisance in `hypersimp` since many expected automatic simplifications only work with Integer integers in SymPy. Some of these have been fixed by explicit conversions. For example, poles of gamma functions at nonnegative integers will only cancel each other if there are no floats in the arguments. Therefore integer valued floats are currently converted in [some c

[2018-02-25 09:07] Siesh1oo commented on #14307
@bjodah wrote:

In this case both the DiracDelta() and Heaviside() call are generated from within sympy (differentiation of sympy.Min()/Max()). So it is not so much about “what the user thinks”—most users probably wouldn’t even know about those intrinsic details anyways—, but what sympy thinks is the most sensible convention to use to match the internal representation.

[2018-02-25 12:05] sidhantnagpal opened #14332 "Modular inverse for negative modulo and sign resolve"
SymPy assigns `mod_inverse(a,m)` the same sign as `a`.
Mathematically, `mod m` has range `[0,m)` for `m>0` , `(m,0]` for `m<0`.

The former sign assignment is used in C/C++/Java built-in modulo operator as `-2%5` returns `-2`.
The latter sign assignment is used in Python's built-in modulo operator as `-2%5` returns `3`.

[code]

SymPy does not find modular inverses for negative modulo (because of

[2018-02-25 12:44] #14305 closed

[2018-02-25 12:57] bjodah commented on #14307
@Siesh1oo interesting. We should probably add a test case to the test suite of ccode that uses a differentiated expressions containning `Min`/`Max` then.

[2018-02-25 13:10] jksuom commented on #14307
I think that expressions containing Max/Min should be rewritten as Piecewise before attempting to do computations with their derivatives. Then the discontinuities would not create singularities.

[2018-02-25 17:55] Link2052 commented on #14326
Thanks! That did circumvent the error!
The output now is in a bit of an odd form, but perhaps I can work with it.

The output:

_(1.8*t - 3.6*EulerGamma - 3.6*polygamma(0, 1.0))*exp(3.7*t)_

[2018-02-25 17:58] Link2052 commented on #14326
Indeed, calling *.evalf()* on the result yields the desired output!

Thank you very much for all the help.

(1.8*t - 3.6*EulerGamma - 3.6*polygamma(0, 1.0))*exp(3.7*t)

1.8*t*exp(3.7*t)

[2018-02-25 18:33] normalhuman commented on #14326
Converting k to an int at the point indicated by @jksuom,
[code]
 indeed resolves the issue with `1/(s-2.0)**2`.

There is also an issue with non-integer floats, for example
[code]
hangs. This is in contrast to a similar transform with float exponent:
[code]
(This is a rare occasion that SymPy works better with a float in an exponent than with an Integer.)

So I wonder if, in the presence of float

[2018-02-25 19:07] Link2052 commented on #14326
I have not had the same issue.  Perhaps it is because I have an earlier version of sympy.

Before making these corrections, however, I did notice that inputting, as you described @normalhuman

inverse_laplace_transform(1/(s-2.3)**2.0, s, t)

does indeed work.

However with the *.evalf()* used on any odd-styled outputs from _i.l.t._ I have seen success in all forms of this example.

1.0*t**1.0*exp(

[2018-02-25 19:17] #14112 closed

[2018-02-25 19:17] #14152 closed

[2018-02-25 22:13] smichr opened #14336 "Set recursion error"
The following raises a recursion error:
[code]

[2018-02-25 22:40] #14316 closed

[2018-02-25 22:46] normalhuman opened #14337 "Poly constructor uses domain EX when it's not necessary"
I understand that polynomial manipulations with domain EX are slow. So it came as a surprise that this domain is used by polynomial constructor when a simpler one could do. Consider this example:
[code]
If `ZZ[sqrt(a)]` is automatically used to handle sqrt(a), why isn't `ZZ[sqrt(2)]` used to handle sqrt(2)?

Similarly,
[code]
This is a polynomial over Gaussian integers, the domain should be `ZZ[I]

[2018-02-26 00:49] #10158 closed

[2018-02-26 00:49] #14223 closed

[2018-02-26 00:49] #14238 closed

[2018-02-26 02:07] vishalg2235 commented on #14312
@normalhuman A doubt after computing `exp(A*t)`. As `x = exp(A*t)`, `x = Matrix([x(t), y(t), z(t)])` and `exp(A*t)` will be n*n matrix. Then how to get `x(t)`, `y(t)` and `z(t)`. Please correct me if I'am wrong somewhere.

[2018-02-26 02:18] normalhuman commented on #14312
A search for "matrix exponential, ODE system" should bring up some sources to learn from, such as[this](http://people.math.gatech.edu/~xchen/teach/ode/ExpMatrix.pdf) and [this](https://ocw.mit.edu/courses/mathematics/18-03sc-differential-equations-fall-2011/unit-iv-first-order-systems/matrix-exponentials/MIT18_03SCF11_s35_7text.pdf).

[2018-02-26 03:15] vishalg2235 commented on #14312
Ok! I should have searched it before.
I think docstring also should be changed ?

[2018-02-26 03:19] normalhuman commented on #14312
If the method is rewritten, the docstring should be rewritten too, to match the new method.

[2018-02-26 06:54] Roland-Sands opened #14339 "Power series of a matrix variable"
The exponential function accepts a square matrix as an argument , sin and log don't
A matrix can be the argument of any power series
It will converge when all of the eigenvalues are inside the disc of convergence

[2018-02-26 06:55] jksuom commented on #14337
This is an old, unresolved issue, cf. https://github.com/sympy/sympy/issues/5428.

[2018-02-26 06:56] Roland-Sands commented on #14339
I didn't close this

[2018-02-26 07:00] #14330 closed

[2018-02-26 07:08] jksuom commented on #14312
Now that was fixed. Maybe this method should also be implemented.

[2018-02-26 07:36] skirpichev commented on #14337
@jksuom reply catch major part of mine, but there are several minor issues.

1) Should it be ``ZZ[I]``, not ``QQ(I)``?

2)  In Sympy, ``ZZ[I]`` is a polynomial ring over ZZ with generator ``I`` (``ZZ.poly_ring(I)``), which doesn't assume any algebraic relations among generators.  (So, technically, there is no Gaussian integers yet.)  Same story for fields (e.g. ``ZZ.frac_field(I)``).  But there is

[2018-02-26 07:43] abhimanyuchaudhary commented on #12056
Is this issue still open, I'd like to take it up

[2018-02-26 07:51] abhimanyuchaudhary commented on #14292
Can I take this up?

[2018-02-26 08:39] asmeurer commented on #14337
Issues of using algebraic fields automatically aside, it does seem odd that sqrt(a) uses a polynomial ring and sqrt(2) uses EX. Neither is particularly good from a mathematical point of view: ZZ[sqrt(a)] does not know that `(sqrt(a))**2 - a)` is `0`. `EX` knows this but only because it simplifies automatically (it won't work for more complicated algebraic expressions.

I believe performance of the

[2018-02-26 08:52] skirpichev commented on #14337
I did this for Diofant (https://github.com/diofant/diofant/pull/478).  Not too hard, but there are several places where extension option should be disabled to pass CI tests.  In fact, working with coefficients over algebraic field is not slow.  That is slow - a construction of suitable algebraic number fields

If you ever read the code - it should be clear for you, that simplify() (actually, ``can

[2018-02-26 09:05] jksuom commented on #14337
This is not done. I think that is the principal issue with EX. I have seen computations with huge expressions whose value (after simplification) is 0.

[2018-02-26 09:56] asmeurer commented on #14337
Calling `cancel` on an EX expression would be no different from just having the coefficients be from a fraction domain in the first place, except slower because the domain is recreated each time. If that's the case, I can see why EX would be slower. However if it isn't the case it seems it should be faster.

[2018-02-26 10:47] jksuom commented on #13850
After spending quite a lot of time on various G-functions I noticed that the integral can be computed quite easily by partial integration using `log(1+x) = -polylog(1, -x)` and `diff(polylog(2, x), x) = polylog(1, x)/x` to get

    Integral(log(t)/(1+t), (t, 0, x)) = log(x)*log(1+x) + polylog(2, -x)

This is valid in the domain `|arg(x)| < pi` where the principal branches of `log(x)`, `log(1+x)` a

[2018-02-26 12:22] batman2203 opened #14340 "how to symbolize an undefined function like f(x)=(((x)^x)^x)......upto infinity"

[2018-02-26 14:09] vishalg2235 commented on #14312
@normalhuman should I open new PR for matrix exponential method and close [this](https://github.com/sympy/sympy/pull/14338) one?

[2018-02-26 16:38] #14320 closed

[2018-02-26 16:45] #14256 closed

[2018-02-26 20:08] normalhuman commented on #14312
I think there is room for both methods. One might fail for some reason where the other succeeds. dsolve allows users to supply hints indicating the method they want to use.

I think matrix exponential should be the default, but this is just a guess, as I haven't compared their performance on test cases.

[2018-02-26 20:35] asmeurer commented on #14340
This is [tetration](https://en.wikipedia.org/wiki/Tetration), which can be represented using the [Knuth up arrow](https://en.wikipedia.org/wiki/Knuth%27s_up-arrow_notation). It isn't implemented in SymPy, though it could be. I wonder what sorts of things could be computed with it, though. Is there a closed form for the derivative?

[2018-02-26 20:44] asmeurer commented on #14340
It also would probably help to have some kind of BigNumber implementation first (see https://github.com/sympy/sympy/issues/6835).

[2018-02-26 22:12] smichr commented on #14293
Can you construct an example in which the real part is not 0?

[2018-02-27 06:45] ac9888185875 commented on #13765
Is this issue still open or is resolved?
If it is opened, I would like to work on it.Can I?

[2018-02-27 07:41] sidhantnagpal opened #14344 "inv_mod in matrices.py uses totient calculation"
The implementation of matrix inverse for given mod uses [totient calculation](https://github.com/sympy/sympy/blob/master/sympy/matrices/matrices.py#L2694) for modular inverse of determinant.
This increases the overall complexity of the algorithm, while it can be done more efficiently by extended euclidean algorithm.

[2018-02-27 07:55] sidhantnagpal opened #14345 "Inverse of a matrix for prime fields is not optimal"
Currently, SymPy uses adjugate matrix calculation for [inv_mod](https://github.com/sympy/sympy/blob/master/sympy/matrices/matrices.py#L2699), which requires `n^2` determinants to be calculated of matrices of size `(n-1) x (n-1)`, for a `n x n` matrix adjugate. This makes the overall complexity for inverse calculation to be `O(n^5)`.

Since, `Gaussian Elimination` works for fields, inverse of matri

[2018-02-27 07:57] #14332 closed

[2018-02-27 08:42] batman2203 commented on #14324
see #6842 I think this will be helpful .

[2018-02-27 08:49] batman2203 commented on #14340
I am new here and was just going through sympy docs and I thought of the issue. I dont have any specific use for it in mind, though if we can't write this expression in sympy it won't be possible to find it's derivattive or perform other functions on it like in this example : https://math.stackexchange.com/questions/1317314/derivative-of-xxx-to-infinity

[2018-02-27 10:59] sidhantnagpal commented on #14340
Actually, it could be defined as an implicit function of the form `y=x**y`, which will be useful to calculate derivative, and other operations (except possibly evaluation).

[2018-02-27 11:07] sidhantnagpal commented on #14340
Actually, I dont think the link you mentioned is the same thing as the one posted here mainly because exponentiation follows right to left associativity.
So, in general, `a**b**c != ((a)**b)**c`.
As @asmeurer mentioned, `tetration` (Knuth up arrow notation) would be useful only if we strip the expression of braces.
Further (the expression without braces), could be written as an implicit function `

[2018-02-27 11:13] smichr commented on #14293
Yes, and I see the problem. So is there any way to know that a polynomial for which `factor(p(x)).is_Add` is true has real and imaginary parts that are the same (even though you might not know what they are)?

[2018-02-27 11:22] ViktorvdValk commented on #14312
Putzer's Algorithm as implemented in sympy still gives me lot of errors.

[code]

The M.eigenvals gives an error because in sympy.matrices calls eigenvals.values and eigenvals is not a dictionary.
Indexing the empty arrays r and p in the loop also gives errors because empty arrays cannot be indexed. (Could be changed to np.zeros(len(eigenvals)))
Identity is unknown and even setting an array elemen

[2018-02-27 11:23] ac9888185875 commented on #13753
Can I work on this issue if it isn't yet resolved?..And if possible give me some inputs over it as I am a beginner.

[2018-02-27 11:34] skirpichev commented on #14293
I hope, we shouldn't care about equal imaginary parts.

[2018-02-27 13:12] vishalg2235 commented on #14312
@normalhuman I want to discuss ideas on ODE which I can take as my GSoC 2018 project. Shall I make a wiki page for the discussion?

[2018-02-27 14:07] batman2203 commented on #14324
The same problem in  #6842

[2018-02-27 14:21] smichr commented on #14293
If that is the case (and I'm not sure why) then perhaps the answer is clear in terms of identifying roots: refine until either the real or imaginary parts are distinct for each expression.

[2018-02-27 14:44] skirpichev commented on #14293
It is.

I told in the issue description (I hope this time it will be clear), that such ordering (which is used by rootisolation module) is not stable.  If you continue refinement process, this order may change.   So, you can't index roots this way.

[2018-02-27 15:29] schymans commented on #14318
I still think that we need the possibility to associate a `Quantity` with a dimension, otherwise I don't see the use of `Quantity`. We could handle dimensional contraction in dimension_system, if we have something like `Quantity(name, dimension, dimension_system, scale_factor, abbrev)`.

[2018-02-27 15:49] schymans commented on #14318
The deprecation message of `Quantity` states:

SI_quantity_dimension_map instead. See
https://github.com/sympy/sympy/issues/14319 for more info.

Could you provide more info here? E.g. how to use `SI_quantity_dimension_map`?

[2018-02-27 15:54] Upabjojr commented on #14318
That is simply a dictionary mapping the quantity to its dimension.

The old API is still working. If it's not, please report it. We need to go through a deprecation process whereby the old code still works, but warns users to change to the new API.

[2018-02-27 15:54] Upabjojr commented on #14318
Maybe it was an error to change the argument order in `Quantity.__new__`.

[2018-02-27 17:21] Link2052 commented on #14326
I have also noticed a very bizarre error in which my decorated version of *i.l.t.* does not return an error, but when running the code in a line-by-line format it *does* raise a long series of errors.  This is caused by the use of *.evalf()* on the *i.l.t.* output when running it as a terminal command.

I have noticed this because of a more concerning error in the overall *i.l.t.* construct; thoug

[2018-02-27 20:40] skirpichev opened #14349 "Shouldn't be QQ.algebraic_field(I) == QQ.frac_field(I)?"
FracField doesn't assume any algebraic relations among generators, yet in similar cases it sounds odd if we will consider ``I`` just as a symbol, ignoring ``I**2 == -1``.

[2018-02-27 21:52] #13879 closed

[2018-02-28 01:52] LBWright commented on #14336
This is a guard against a stack overflow. Python doesn't optimize tail recursion, and unbridled recursion causes stack overflows. You can change the recursion limit with `sys.setrecursionlimit`, but that's probably pretty dangerous -- the standard is pretty generous but some computational stacks can get pretty big.

[2018-02-28 04:54] smichr commented on #14293
,

PR #14348 attempts to provide some level of stability in that a root and its conjugate are always next to each other with the one having the negative imaginary part having the lower index. An example of any polynomial whose indices are not stable wrt refinement would be appreciated feedback...I should know by tomorrow if failing tests provide such feedback.

[2018-02-28 06:13] skirpichev commented on #14293
For this you could just revert your patch 73fafba.  The rootisolation module already does this.

Could you specify how it's different from the sorting in rootisolation.py and why it's different?

[2018-02-28 06:58] asmeurer opened #14351 "Should indexing a Symbol produce Indexed?"
This seems to come up on StackOverflow a lot. Should Indexing a Symbol create an Indexed object automatically? The pro is that it would make Indexed a lot more visible to people who think that there is no way to use indexed variables. The con is that we are [already in a mess](https://github.com/sympy/sympy/issues/3539) because we make `Symbol.__call__` create a `Function`. So I'm not sure if we s

[2018-02-28 08:37] czgdp1807 commented on #13482
I am a beginner, can I work on this?

[2018-02-28 08:44] jksuom commented on #14349
`QQ.frac_field(I)`, as currently implemented, is clearly wrong. I think its implementation should consist of a `FracField` with no generators and `domain=QQ(I)`, where `QQ(I)` denotes the fraction field of Gaussian integers. It would be isomorphic to `QQ(I)` but more complicated and therefore not very useful.

`QQ(I)` is currently implemented as`QQ.algebraic_field(I)`, but there could probably be

[2018-02-28 09:05] skirpichev commented on #14349
@jksuom, to be more precise, the whole issue is not just about ``QQ(I)``.  I think, that same is valid for ``QQ.algebraic_field(sqrt(2))`` vs ``QQ.frac_field(sqrt(2))`` and so on.

[2018-02-28 09:15] asmeurer commented on #13482
I have the pull request https://github.com/sympy/sympy/pull/13485 but there are some sphinx errors and I haven't had the time to figure them out. If you can figure out what is going on it would help a lot.

[2018-02-28 09:48] Him98 commented on #14269
@jksuom can you please tell what exactly you imported as I am getting following error:

[code]
I am not able to get the mistake. I have also the cloned the present master only.

[2018-02-28 09:55] jksuom commented on #14349
I agree. `QQ.frac_field(sqrt(2)` should be implemented in the way with `domain=QQ(sqrt(2))`.

[2018-02-28 10:05] jksuom commented on #14269
from math import sqrt

`sqrt` should be imported from SymPy. The `math` version will convert the exact `sqrt(2)` into an inexact float that is not algebraic in SymPy.

[2018-02-28 11:15] smichr commented on #14293
The structure of the `roots(p(x))` is now `[sorted real roots, complex pairs of f1(x), complex pairs of f2(x), ...]` where `p(x) = f1(x)*f2(x)...`.

Reverting patch 73fafba will not produce this sort of ordering; the tests added in that patch were the motivation at that time. If you revert the patch, try them or any of the ones raised in this issue to see the problem again.

[code]

[2018-02-28 11:48] skirpichev commented on #14293
I see.  But you could just slightly adapt sorting key: ``(default_sort_key(r[1]), r[0].ax, r[0].ay)`` or something like that.

I'm a bit unsure, that **this** was a motivation.  Anyway, another "solution" - better refine initial rectangles, using ``eps``.  It seems,  with ``eps=1/10`` - current tests pass.

[2018-02-28 13:06] Upabjojr opened #14354 "Fix args of Quantity.__new__ before release of SymPy 1.2"
Recently, `Quantity(name, dim, scale, abbrev)` was changed to `Quantity(name, abbrev, dim, scale)` with the last two being deprecated.

Make sure that `Quantity(name, dim, scale, abbrev)` still works.

[2018-02-28 13:26] smichr commented on #14269
@jksuom has the best idea. For those not familiar with such methods, `w.equals(0)` returns True.

[2018-02-28 13:59] smichr commented on #14293
I don't see a reason to try refine non-real or non-imaginary roots whose sorting will inevitably be arbitrary. Once they have been refined enough to be uniquely identified, your work is done

I suspect, also, that you would easily come up with a case where eps=1/10 was not sufficient to distinguish between two roots. The `is_disjoint` (sp?) tests is the only way to know that the intervals are refi

[2018-02-28 14:47] skirpichev commented on #14293
The reason is not break tests too much.

Sure, as I said, this variant is not a real solution.

Variant with a different sort key solves same problem as your PR (i.e., "the structure of the roots(p(x)) is now  ``[sorted real roots, complex pairs of f1(x), complex pairs of f2(x), ...]``"), but it costs just a few lines.

Why not?  It can be.  "Flips" will occur not only between roots from same fact

[2018-02-28 15:45] sidhantnagpal opened #14355 "Bidirectional limit of floor(sin(x)/x) at 0, is not correct"
[code]
The correct limit should evaluate to 0.
Also confirmed from [WA](http://www.wolframalpha.com/input/?i=limit(floor(sin(x)%2Fx),x,0)).

[2018-02-28 17:03] normalhuman commented on #14355
Looks like yet another instance of "everything assumed tractable" problem with the Gruntz algorithm implementation, see #14156 and the issues linked there.

[2018-02-28 17:13] jksuom opened #14356 "Should (oo + I*oo).is_finite be False?"
This issue arose in https://github.com/sympy/sympy/pull/14229 which converts `exp(I*pi/4)` to `sqrt(2)/2 + sqrt(2)*I/2` thus transforming `exp(I*pi/4)*oo` to `oo + I*oo`. Then `floor(exp(I*pi/4)*oo)` will raise an exception instead of returning the argument unevaluated.

[2018-02-28 17:17] normalhuman commented on #14356
The cost of automatic conversion of Mul to Add: no longer having a simple check for whether the quantity is infinite. The product of nonzero terms in which one is infinite is infinite. Such a check for Add would be considerable more expensive.

I see this issue as a reason not to have automatic expansion of exp() to an Add.

[2018-02-28 17:31] normalhuman commented on #14356
Actually, expansion of exp would not create this problem if multiplication by oo did not distribute automatically. Which I now think is the real problem here.

- `(1+I)*oo` means going along the line y=x toward infinity
- `oo + I*oo` means both real and imaginary part go to infinity independently.

Automatic distribution changes the meaning of expression. This should be fixed, and I hope it will b

[2018-02-28 17:36] sidhantnagpal commented on #14356
Following, the `exp` notation, it should follow that `exp(I*pi/4)**oo` is really `exp(I*(pi/4*oo))`  which will not imply the `oo + I*oo`, naturally due to sin/cos restriction to `[-1,1]`.

[2018-02-28 17:37] jksuom commented on #14356
There is also the question of the return value of `floor(oo + I*oo)`.

[2018-02-28 17:40] sidhantnagpal commented on #14355
Thank you, I will have a look at the issues.

[2018-02-28 17:48] skirpichev opened #14357 "Implement normal closure for algebraic number field extensions"
Currently, to make normal extension you must explicitly select elements to construct the "right" primitive element.

[code]

[2018-02-28 20:48] normalhuman commented on #14351
The direct use of `Indexed(a, k)` (to which `a[k]` would presumably amount) has the downside of creating a new IndexedBase object every time. It calls `IndexedBase(a)`, and the `__new__` method of IndexedBase is not cached (unlike for Symbol), presumably because its return value is sometimes mutable (it returns a matrix if the input is a matrix).  Also, `Indexed(a, 3).base == a` would be False bec

[2018-02-28 20:49] asmeurer commented on #14354
This should be easy to fix. If the second argument is not a string, interpret the arguments in the old way, with a deprecation warnings.

By the way, the "feature" flag of the deprecation warnings should indicate which flags are actually deprecated.

[2018-02-28 20:54] asmeurer commented on #14351
+1 to making sympfiy do the right thing, regardless of how Symbol works. We already should be defining Function via the parser instead of `Symbol.__call__` (#3539), so perhaps it is good to be consistent with `__getitem__` as well. It's a bit annoying to do these at the tokenize level, so we should perhaps look into using ast transformers.

[2018-02-28 20:54] asmeurer commented on #14351
I didn't know about `_apply_functions`. So does that mean that `Symbol.__call__` is unnecessary, with respect to parsing `'f(x)'` correctly?

[2018-02-28 20:55] asmeurer commented on #14351
Also with _group_parentheses already existing, the "annoying" stuff is already implemented. So maybe we can continue to hold off on ast stuff in the parser.

[2018-02-28 21:52] normalhuman commented on #14351
No, `Symbol.__call__` is still used. I was mistaken about the role of `_group_parentheses_', it's only used for "implicit application" transformation. That one happens after the tokenizing step, which is the step where f(x) becomes `Symbol('f')(Symbol('x'))`.

Still, there seems to be room in there for a transformation rule to replace `Symbol('f')(Symbol('x'))` with `Function('f')(Symbol('x'))`, a

[2018-02-28 23:04] smichr commented on #14293
I don't think that the variant sort key, without a refinement process, is sufficient to assure that further refinement will not cause a flip.

[2018-03-01 01:32] cbm755 commented on #14312
@vishalg2235: completing my PR, probably by cherrypicking commits from https://github.com/diofant/diofant would be a very nice project, good start to for gsoc.   Don't know how much the code has diverged in the meantime.

[2018-03-01 07:44] skirpichev commented on #14293
Neither solution, which I know, allow you avoid such "flips".

[2018-03-01 07:46] sidhantnagpal opened #14364 "gcd and lcm of similar type of irrationals"
gcd for rational numbers is evaluated correctly:
[code]
but the result for following irrational pair:
[code]
Mathematically, it is possible to find gcd/lcm of 2 irrational numbers that are of similar type.
The latter is not able to produce the desired result because it is interpreted as a polynomial in `sqrt(5)`, which returns a monic result if polynomial is over a field as [explained](https://git

[2018-03-01 07:52] skirpichev commented on #14312
I didn't touch ode code since then.  Supporting IVP for ODE was, probably, last "big" change.

[2018-03-01 09:48] schymans commented on #14318
Yes, it took me a while to adapt my code to the new argument order. It makes more sense, though.

I still disagree that quantities and dimensions need to be separated. A quantity has no meaning until we define its dimensions, which, of course are specific to the dimension system we use. Could we not define base dimensions and then map those to dimension system-specific dimensions?
I agree that the

[2018-03-01 12:23] Upabjojr commented on #14318
The base dimensions are system specific: just think about Maxwell's equations in _SI_ and _cgs_. All their quantities have different dimensions depending on the chose system.

SymPy needs to support all strange dimension systems that arise in theoretical physics, we cannot just stick with SI.

[2018-03-01 12:43] schymans commented on #14318
I agree that we cannot just stick with just SI, but can't we create a dimension mapping between dimension systems? Then, one could define dimensions of a quantity in the system of choice and then easily switch dimension systems.

Thinking about your re-factoring, how about keeping the best of both worlds and allow specifying a dimension and dimension system within `Quantity()` for e.g. physical va

[2018-03-01 12:59] Upabjojr commented on #14318
Yes, my idea is that, but I don't have time right now to do that. The class `UnitSystem` needs to be refactored in order to support a mapping.

Well, you could potentially subclass `Quantity` and create a specific class, say for example `SIQuantity`, where you can put dimension and scale factor in the constructor. It's actually pretty straightforward to do, you just override `Quantity.__new__`.

Y

[2018-03-01 14:05] samyak-jain commented on #14269
@smichr What is the difference between `w==0` and `w.equals(0)`? Sounds counterintuitive.

[2018-03-01 14:06] #14281 closed

[2018-03-01 14:09] Upabjojr opened #14366 "Move set arithmetic operators to sympy/sets/sets.py"
Set arithmetic operators such as `set_add` and the function application on sets (`set_function`) have been defined in `sympy/sets/setexpr.py` to support `SetExpr`.

They are actually of generic use for all sets, so they should rather stay in `sympy/sets/sets.py`.

[2018-03-01 14:09] Upabjojr commented on #14366
Let's do it before version 1.2, so no API break.

[2018-03-01 14:44] abaokar-07 commented on #14366
Do we have to move all the set arithmetic operators?

[2018-03-01 16:10] Him98 commented on #14269
@samyak-jain == in Sympy represents exact structural equality testing and not the general equality that we usually think of and it returns just a boolean value. For example, (x+1)**2 = x**2+2*x+1 but when we do (x+1)**2 == x**2+2*x+1 in sympy we get False due to the same reason of structural equality testing. If we had taken a = (x+1)**2 and b =  x**2+2*x+1 then a.equals(b) would have returned Tru

[2018-03-01 16:39] czgdp1807 commented on #14366
I am beginner, can I work on this?

[2018-03-01 16:41] RavicharanN commented on #14354
@asmeurer Reordering might cause problems, 'cause the unit tests are written such that Quantity takes only 2 arguments (name, abbrev). When dimension is passed as the second argument and is reordered, it throws a deprecation warning and the tests fail.
Is it suggestable to skip the tests when the second argument is not a string?

[2018-03-01 18:42] cbm755 commented on #14312
@skirpichev good to know.

@vishalg2235: we are talking about https://github.com/sympy/sympy/pull/9235 and https://github.com/diofant/diofant/pull/286.  TL;DR: I never finished #9235, but @skirpichev did in his sympy fork.  It would be good to finish #9235 by using the commits from https://github.com/diofant/diofant/pull/286.

[2018-03-01 18:49] skirpichev commented on #14312
By wiping out rewriting to sin/cos...

[2018-03-01 21:14] jashan498 commented on #13999
OH, `evaluate=False` of `sympify` never gets passed to the inner function, not even in case of Integers. Its just `log (Integer (5 )) = 5` and `log (Float ('5.5' ))=1.704`.
So I suppose there is a need for a method similar to `visit_BinOp` of `EvaluateFalseTransformer` for these function calls too?

#11441 is similar issue I think.

[2018-03-01 21:55] smichr commented on #14293
If you mean by flip that one cannot assign an index and have it remain invariant for a desired sorting of the roots (like `key=lambda r: (re(r), im(r))`) then I agree. But I don't think the task of assigning a unique ordering is difficult. Is there a problem with the following? It is very close to what SymPy is doing without the offending commit.

1. P(x) is irreducible; none of its roots are repe

[2018-03-01 22:05] asmeurer commented on #13999
Yes, but the question is how to do it. We can't assume that every function supports evaluate=False. In fact, we don't even know if `f` in `f(x)` is a class or a function. I *think* we can jump directly to `Basic.__new__(f, x)` when `issubclass(f, Basic)`, but there could be issues there (but hey, there are already all kinds of issues with evaluate=False expressions).

I think we should just try th

[2018-03-01 22:17] asmeurer commented on #13999
So one issue is that `Basic.__new__` doesn't call sympify (I never understood the reason for this). So it should actually be `Basic.__new__(f, _sympify(x))`.

The other concern is that some class will still try to apply something to the input (other than sympifying) when passed `evaluate=False`. For instance, `AssocOp` (`Add` and `Mul`) [remove identity elements](https://github.com/sympy/sympy/blo

[2018-03-01 22:39] skirpichev commented on #14293
Yes, it seems in this way roots of irreducible, square-free polynomial can be numbered.  More or less on same way it may work for polynomials with complex coefficients (e.g. gaussian rationals).

But this numbering depends on initial bounds chosen.  Initial rectangle should be generated by some specific scheme, not just include all roots.

For reducible polynomials, probably, you can extend this "

[2018-03-02 04:42] vishalg2235 commented on #14312
Okay ! Thanks

[2018-03-02 07:14] skirpichev opened #14368 "Shouldn't be dup_count_complex_roots() == count non-real roots?"
An example:
[code]

Apparently, dup_count_complex_roots and dup_isolate_complex_roots_sqf use different convention.  First - count all roots.  Second - return only roots with nonzero imaginary part.

[2018-03-02 09:16] schymans commented on #14318
These are all very good ideas. Just a quick question: How important is it to switch back and forth between dimension systems? I would think that we usually do most of our work in one dimension system, so the `with` feature might not be used all that much.

[2018-03-02 12:29] Upabjojr commented on #14318
It's not too unreasonable that someone would like to switch from natural units to SI or from cgs to SI. Suppose an example case of someone working with SI but reading a paper using cgs.

[2018-03-02 18:38] bhaveshpoddar94 commented on #14366
Beginner here. Can I look into this issue?

[2018-03-02 23:35] itf opened #14371 "apart, partial fraction expansion returns wrong result when expression contains repeated roots"
When using `apart(expression, full=True)`, if `expression` has repeated roots in the denominator, the result of the partial fraction expansion is not reliable.

Examples:
`apart((z**2)/(z-0.9)**2, full=True)  returns 1`

`apart((z**2)/(z-1.2)**2, full=True) returns  1.0 + 3.5/(1.0*z - 1.2)`

` apart((z**2)/(z+2+1j)**2, full=True) returns PolynomialDivisionFailed: couldn't reduce degree in a polyno

[2018-03-03 01:25] Roland-Sands commented on #14371
[code]

`apart((x**2)/(x + 2 + I)**5)` and `apart((x**2)/(x + 2 + I)**6)` return answers (I haven't checked if they are correct)
`apart((x**2)/(x + 2 + I)**5, full = True)` and `apart((x**2)/(x + 2 + I)**6, full = True)` hang
`apart((x**2)/(x - Rational(9,10))**20)` and `apart((x**2)/(x - Rational(9,10))**6, full = True)` hang
`apart(1/(x - 1)**6, full = True)` hangs

[2018-03-03 03:20] ac9888185875 commented on #13753
I am not able to make a pull request to this issue.It's showing a remote error on running the command: git push origin master.
What I should do?

[2018-03-03 03:24] normalhuman commented on #14371
Polynomial module does not handle floating point coefficients well. Use

- `Rational('0.9')` or `Rational(9, 10)`, or `S(9)/10` instead of 0.9
- I (SymPy's imaginary unit, symbolic) instead of 1j (Python's imaginary unit, a float).

Then some of the problems go away.
[code]
but some remain
[code]

[2018-03-03 04:43] normalhuman commented on #14309
I agree: moving terms out from the numerator should not just happen by default. Changing `(a*b*c*d)/e` to `\frac{a b}{e} c d' is not always desirable.

[2018-03-03 15:33] Him98 commented on #9549
It would be really helpful if someone can explain the present implementation of series function.

[2018-03-03 17:37] normalhuman opened #14374 "Should 0 times a Quantity keep the units that the Quantity had?"
The current behavior is that multiplying anything (except an infinite quantity) by 0 returns 0 itself. ([Relevant code](https://github.com/sympy/sympy/blob/master/sympy/core/mul.py#L596)).
[code]
Should this be changed so that the result is 0 meters, instead of unitless 0? This was asked on Stack Overflow ([Why doesn't sympy support units with 0 magnitude?
](https://stackoverflow.com/q/49084526))

[2018-03-03 18:42] normalhuman opened #14375 "Invalid NaN comparison error in integrate(exp(I*x)*log(x), x)"
[code]
throws TypeError: Invalid NaN comparison.

Both `exp(x)*log(x)` and `exp(2*I*x)*log(x)` are integrated successfully.

[2018-03-03 19:07] jksuom commented on #14375
Apparently SymPy `Or` tries to evaluate all arguments even if the first one is `False`.
[code]

[2018-03-03 20:06] normalhuman commented on #14375
Good point, though it's not `Or`s fault, Python evaluates all arguments before passing them to a function.

[2018-03-03 21:05] Upabjojr commented on #14374
Well, you can still have `Mul(0, meter, evaluate=False)`.

Compare this behaviour with complex numbers. We don't distinguish between real zero and complex zero. The imaginary unit is a variable you put in the expression to have complex numbers.

Quantities are currently treated as variables, so a concept analogous to complex numbers apply.

Also consider that the `Quantity` object supports a scale

[2018-03-03 21:33] normalhuman opened #14377 "The limit of exp(I*x)*sin(pi*x) at infinity is reported to be 0"
In current master:
[code]

[2018-03-04 07:28] #14366 closed

[2018-03-04 09:30] asmeurer commented on #14374
It makes sense mathematically, but I don't know how hard it is to do in implementation.

The analogy isn't apt here because you can add real and imaginary numbers, but you can't add incompatible quantities, even if they have zero magnitude.

[2018-03-04 12:26] skirpichev opened #14380 "AlgebraicField.numer() could return an algebraic integer"
Right now, numer() and denom() methods are copy-pasted from Ring class and not too much useful.

[code]

I think, it will make more sense if \_14 be sqrt(2) and \_15 is 2 (i.e. ``denom()`` will do that ``AlgebraicNumberDenominator`` Mathematica's method does).

[2018-03-04 13:20] jashan498 commented on #13999
I am struggling to get `x`. I can only get `node` of `x` which is a `Call` object and thus has to be passed through `eval` before using it inside `Basic.__new__`.
Is this the way to get `x` or am I doing it wrong?

[2018-03-04 13:43] #14283 closed

[2018-03-04 17:30] normalhuman opened #14384 "An unspecified power of x is reported to be `O(log(x)**6)`"
[code]
This should probably return the expression `x**a` itself, as `x**a` is not `O(log(x)**6)` when a is negative.

[2018-03-04 17:46] normalhuman opened #14385 "Should 0 times UnevaluatedExpr return 0?"
[Documentation of UnevaluatedExpr says](http://docs.sympy.org/latest/tutorial/manipulation.html#prevent-expression-evaluation):

However, this looks like an interaction giving a simplified output:
[code]
I encountered this because I thought that wrapping a unit in UnevaluatedExpr could be a workaround for #14374 (on user's side). But the above behavior means it won't help.

[2018-03-04 18:10] jashan498 commented on #14385
You can wrap 0 if that helps
[code]
but still, i am confused why `Mul(0,UnevaluatedExpr(x)) = 0` and how wrapping up `0` works?

[2018-03-04 19:16] #12217 closed

[2018-03-04 19:36] normalhuman commented on #14385
The reason is [in Mul.flatten](https://github.com/sympy/sympy/blob/master/sympy/core/mul.py#L597):
[code]
This ignores the possibility of UnevaluatedExpr among other terms. If 0 itself is wrapped, then it's no longer S.Zero, so the clause does not apply.  In fact UnevaluatedExpr(0) is not even going to become coeff, because `UnevaluatedExpr(0).is_Number` is false.

[2018-03-04 20:16] bjodah commented on #14374
FWIW, I would prefer if e.g.
[code]
raised an Exception.

[2018-03-04 21:56] kofzor commented on #13389
I also found this out. I suspect Or also does not work.

My current workaround is to use adaptive = False, and i quickly hacked in the following code in plot_implicit (dirty but gets the work done):
`def _get_meshes_grid(self):
        """Generates the mesh for generating a contour.

        In the case of equality, ``contour`` function of matplotlib can
        be used. In other cases, matplotlib

[2018-03-04 22:01] normalhuman opened #14387 "Tutorial on limits creates impression that they are two-sided by default"
The [tutorial on limits](http://docs.sympy.org/dev/tutorial/calculus.html#limits) claims that `limit(f(x), x, x0)` will evaluate the limit $\limit_{x\to x_0} f(x)$. The mathematical notation used here means two-sided limit (or undirected limit in the complex plane when x0 is complex) but this is not what `limit` computes. As a user familiar with mathematical notation for limits, I was under impres

[2018-03-05 00:04] 3nr1c commented on #2709
Hello,
I would like to have this issue assigned to me. I want to start contributing, and reading the code I think I can fix this as my first issue.

Thanks

[2018-03-05 03:57] normalhuman commented on #2709
@3nr1c You don't need to have this issue assigned to you; if you have a solution, just send it a PR. Be sure to read [Development workflow](https://github.com/sympy/sympy/wiki/Development-workflow).

[2018-03-05 04:37] Greg1950 opened #14388 "unexpected behavior of .subs() method"
Consider the following code:

[code]

If one examines the outputs from the two segments of code, one sees that SymPy leaves the term `4*x**3` in `expr` unchanged in the first segment but changes that term to `4*y**2*Abs(y)` in the second segment.  I would expect that the second segment should act identically to the first.

[2018-03-05 07:27] jksuom commented on #14387
I think that there should be two 'phases' in the computation of limits. First, limits of meromorphic functions in the complex plane at a removable singularity or pole. These limits are independent of direction. Second, limits at essential singularities. These depend on direction (and `gruntz`).  I have discussed this in https://github.com/sympy/sympy/issues/8320.

[2018-03-05 07:35] #14375 closed

[2018-03-05 07:44] skirpichev opened #14389 "AlgebraicNumber should be a domain element?"
I think, this was a mistake to make it an Expr.  The last class - represents very rough idea of mathematical expression, but AlgebraicNumber - much more structure-rich representation for elements of some *special* algebraic number field.  This also can't be a canonical way to represent algebraic numbers, because such a representation will not be unique (e.g. sqrt(2) is an element of Q(sqrt(2)) and

[2018-03-05 08:03] jksuom commented on #14380
I agree, but I am not sure how this should be implemented. Maybe `to_number_field(ext)`, creating the generator of `QQ.algebraic_field(ext)`, should first be modified to always return an algebraic integer. Then all elements of the field could be represented as polynomials in the generator with integer coefficients (`numer`) divided by a common integer (`denom`).

[2018-03-05 08:47] jksuom commented on #14389
It seems that `AlgebraicNumber` is not much used internally in SymPy. It appears in `field_isomorphism` but could probably be replaced by some non-Basic class. `AlgebraicField.to_sympy` creates an `AlgebraicNumber`, and it may be harder to find a replacement. Expressions in terms of a generator may become complicated and inconvenient.

Canonical representation of algebraic numbers seems a hard pro

[2018-03-05 09:08] skirpichev commented on #14380
Seems to be a good idea.  Or just "canonicalize" in this way the ext, returned by to_number_field in the AlgebraicField constructor.

[2018-03-05 09:46] skirpichev commented on #14389
They might be also much simpler after expansion, e.g.
[code]

RootOf maybe?  After all, that's a definition of the field of all algebraic numbers...

The hard part is arithmetics in this field.  I think that working in a some finite extension of QQ is always unavoidable internally (to do arithmetics efficiently).

As a side note, please keep in mind that fixing a primitive element somewhat arbitra

[2018-03-05 10:28] skirpichev commented on #14220
BTW, same issue for FracField vs FractionField.  Perhaps, this might be easier to start with.

[2018-03-05 10:37] jksuom commented on #14389
Actually, the arguments are saved (`orig_ext`) but currently not used. Maybe `to_number_field` could be extended to return an expression of the primitive element in terms of those. Also, we could think of doing some preprocessing on the arguments (`1/√2` -> `√2`) before saving them.

[2018-03-05 14:58] smichr commented on #14388
The replacement of partial powers (`x**2` in `x**4`) is a known feature in subs. The docstring says that to "replace only the x**2 but not the x**4, use xreplace." So that in itself is not wrong. But replacing `x**3` with `y**2*abs(y)` is wrong: if `y < 0` shouldn't it be `sign(y)*y**2*abs(y)` (or perhaps unchanged)?

[2018-03-05 15:20] normalhuman commented on #14388
The logic of `Pow._eval_subs` in [allow fractional powers for commutative objects](https://github.com/sympy/sympy/blob/master/sympy/core/power.py#L671) is too loose. Any time `(y**2)**(3/2)` evaluates to something, it considers the substitution ok:
[code]
When y is real, the above evaluates to `y**2*Abs(y)`, correctly since the principal root is taken. But this does not mean that it's okay to use

[2018-03-05 15:55] smichr opened #14390 "suppress warning from dispatch in tests"
[code]

[2018-03-05 17:01] proy87 opened #14392 "RuntimeError in subs"
`((-sin(1/x)**2 + 1)).subs(x,0)` raises `RuntimeError: maximum recursion depth exceeded`

[2018-03-05 17:11] normalhuman commented on #14392
Subs actually works: `expr = ((-sin(1/x)**2 + 1)).subs(x,0) ` returns a valid expression, specifically `Add(1, -sin(zoo)**2)`; or simply put, `1 - sin(zoo)**2`.

The problem is that `expr.as_ordered_terms()` runs into infinite recursion; this method is used to produce a string representation of the expression.  So, the minimal test case is
[code]

[2018-03-05 17:18] proy87 opened #14393 "Incorrect limit"
`(x**b-y**b)/(x**a-y**a) as x->y` incorrectly gives `0`.

[2018-03-05 17:26] proy87 opened #14394 "Integral hangs"
`integrate(1/(4*cos(x)**2+9*sin(x)**2),(x,0,pi))` hangs.

[2018-03-05 17:29] normalhuman commented on #14394
In current master, it returns
[code]
after a considerable delay.

Applying TRpower (trig power reduction) results in a more efficient computation.
[code]

[2018-03-05 17:30] proy87 commented on #14394
I updated the integral.

[2018-03-05 17:35] normalhuman commented on #14394
Again TRpower eliminates the problem. We should consider using it in integrate.

The answer  `pi*sign(b/a)/(a*b)` agrees with Maple.
[code]

[2018-03-05 17:43] proy87 opened #14395 "Dsolve gives the answer in terms of integral"
`dsolve(Derivative(f(x), x, x) + 9*f(x)-sec(x), f(x))` gives `Eq(f(x), (C1 - Integral(sin(3*x)*sec(x), x)/3)*cos(3*x) + (C2 + Integral(cos(3*x)*sec(x), x)/3)*sin(3*x))`, but the answer can be expressed in terms of elementary functions.

[2018-03-05 18:01] normalhuman commented on #14395
dsolve does the right thing, the issue is with `integrate`, which is unable to handle these trigonometric integrals.
[code]
The antiderivative is indeed elementary, and particularly simple in the second case. Looks like something that `manualintegrate` should do.

[2018-03-05 21:23] asmeurer commented on #14387
I thought we were planning to change the default to two-sided. I guess that hasn't happened yet.

[2018-03-05 21:42] asmeurer commented on #14385
The idea behind UnevaluatedExpr is indeed to wrap the 0, not the x, to effectively trick things like Mul into not knowing that it is a 0.

It's an experimental idea. If you look at the code, you can see that it's not really doing much.

[2018-03-06 03:18] asmeurer opened #14398 "integrate(exp(x**2)*cos(x), x) cannot compute the integral"
I don't know if a more simple closed-form exists, but this integral can be computed by rewriting in terms of exp and collecting terms:

[code]

Aside from the `rewrite(exp)`, it also would be nice if the powsimp/expand part wasn't necessary. Right now integrate can complete the square in an exponential to result in an erf, but only in a naive way.

I think there are other issues related to this (I

[2018-03-06 03:21] asmeurer commented on #14398
Wolfram Alpha gives the same answer. So I don't know if a form that doesn't use `I` is possible.

[2018-03-06 04:51] AlexKaracaoglu opened #14399 "[Geometry] Improvements to Curves"
Currently Curves are restricted to 2 dimensional Euclidean space. Adding on support for higher dimension curves wouldn't be too difficult and would allow for us to get the Frenet Frame of 3 dimensional curves. I would be willing to add this on if people think this would be a good idea

[2018-03-06 05:13] proy87 commented on #14394
Why is there `sign(b/a)`?

[2018-03-06 05:30] proy87 opened #14400 "Incorrect improper integral evaluation"
I noticed that in a bunch of cases sympy incorrectly evaluates integrals.
One such example is `integrate(1/(1-x**2),(x,0,3))`. The integral is divergent, but sympy gives `-log(2)/2 + log(4)/2 + I*pi/2`.

The result is also not simplified, since `log(4)=2log(2)`.

[2018-03-06 06:01] normalhuman commented on #14400
This has been corrected recently. In the current master branch,
[code]

[2018-03-06 06:01] #14400 closed

[2018-03-06 06:56] jksuom commented on #14394
If `a*b` is negative, `sign(b/a)` will make the result positive.

[2018-03-06 09:14] skirpichev opened #14402 "AlgebraicField.has_assoc_Ring is False"
Unless I misunderstand something, this must be True and ``get_ring()`` method for AlgebraicField must point to it's ring of algebraic integers.

[2018-03-06 10:12] jksuom commented on #14402
I agree that, ideally, that should be so. But there is currently no implementation for the maximal order.
Zassenhaus has given some algorithms for its computation (Cohen: A Course in Computational Algebraic Number Theory, 6.1.8; Pohst & Zassenhaus: Algorithmic Algebraic Number Theory, 4.6) but they seem not easy to implement.

[2018-03-06 10:28] skirpichev commented on #14402
I doubt that not implemented algorithms are able to excuse wrong results.  ``get_ring()`` could raise NotImplementedError for while, that's fine.  But ``has_assoc_Ring`` class property must be fixed.

[2018-03-06 12:26] proy87 commented on #14394
But both `a` and `b` are squared, so it doesn't matter whether `a=-3` or `a=3`.

[2018-03-06 12:31] jksuom commented on #14394
It matters for the product `a*b`.

[2018-03-06 18:10] #14392 closed

[2018-03-06 19:23] asmeurer commented on #14402
Is it specified somewhere that it should mean that? My understanding of the "associated ring" stuff in the polys domains was always that it was rather ill defined.

[2018-03-06 19:27] asmeurer commented on #13999
I'm not sure I fully understand your question. However, I've found https://greentreesnakes.readthedocs.io/ to be an invaluable reference when dealing with Python's ast module. Perhaps you can find your answer there.

[2018-03-06 19:43] skirpichev commented on #14402
It was added in 622686b99.  I doubt it was later documented somewhere.

[2018-03-06 23:44] skirpichev commented on #13886
Looking on the history, starting from 31c9aa43ff, it seems that author intention was that ``FF(n)`` should be a finite *field*, not ring.

Apparently, not everything (i.e. the characteristic of the field is wrong) is working as expected for non-prime Galois fields, i.e. if order is a perfect power.  So, initial approach to address this problem does make sense.  Few broken tests should be replaced,

[2018-03-07 03:27] normalhuman commented on #14387
This issue is a duplicate of #8341.

I'm not excited about the prospect of `dir='+-'` becoming default, mostly for the reasons [stated here](https://github.com/sympy/sympy/issues/8165#issuecomment-57639160). SymPy symbols are complex by default, so `dir='+-'` does not match the mathematical notion of limit $z\to z_0$ anyway.

If there was an omnidirectional like suggested by @jksuom that would be

[2018-03-07 05:03] ArighnaIITG commented on #14384
@normalhuman ,
I was trying to decipher the `series` function in `sympy.core.expr` in order to solve this issue.
Some questions are coming up ::

I believe this particular function call goes to the `n-series` handling part of the function -
In that , we have
[code]
Is the `_eval_nseries` here being called from the `Pow` class in `sympy.core.power`?
And what checkpoints do we provide? Like when `a`

[2018-03-07 05:28] normalhuman commented on #14384
It's not about adding a checkpoint like "if the expression is Pow, and the exponent is a symbol, and the sign of symbol is unknown, then..." The goal isn't to special-case this particular function; it is to understand and improve the algorithm for computation of power series.

[2018-03-07 05:53] ArighnaIITG commented on #14384
Can you guide where the change should take place? Or where the problem is actually originating from?

[2018-03-07 06:20] proy87 opened #14410 "Sum(3-1/sqrt(x), (x,0,oo)).doit() is still sum"
`Sum(3-1/sqrt(x), (x,0,oo)).doit()` gives sum instead of `oo`

[2018-03-07 06:45] proy87 opened #14411 "limit(3*sec(4*pi*x-x/3), x, 3*pi/(-2 + 24*pi)) raises IndexError"
`limit(3*sec(4*pi*x-x/3), x, 3*pi/(-2 + 24*pi))` IndexError: tuple index out of range

[2018-03-07 07:46] sidhantnagpal opened #14412 "Sum(binomial(n, m)*sin(m*x)*cos((n-m)*x), (m, 0, n)).doit()"
[code]

Summation simplification using `T(m)` and `T(n-m)` can be helpful, where `T(m)` is the `mth Term` (in the summation).

Solving this by the above simplification, the result should be
[code]

[2018-03-07 08:16] fhchl opened #14413 "trigsimp with combined method throws error"
While using the default method of `trigsimp` works fine, `combined` throws an error:

[code]

throws

[code]

Versions:

[code]

[code]

[2018-03-07 08:52] schymans commented on #14318
Fair enough. In this case you would allow setting the unit system globally, e.g. for a whole jupyter notebook, but then switching using the proposed context manager to see the relation between unit systems on a case-by-case basis?

[2018-03-07 10:06] #6799 closed

[2018-03-07 10:06] #14395 closed

[2018-03-07 10:19] skirpichev opened #14414 "Should QQ[x, y, ...] syntax be removed?"
That's a syntactic sugar for ``QQ.poly_ring(x, y, ...)``.  Clearly, it's coming from standard mathematical notation, but I doubt that this syntax is pythonic.

For more fun, \__call__ overridden to create elements of the domain, not construct field of fractions (with ``.frac_field()``), as you might guess from the above example with rings.

[2018-03-07 10:24] jksuom commented on #14411
In `fu.TR3`:

    def f(rv):
        if not isinstance(rv, TrigonometricFunction):
            return rv
        rv = rv.func(signsimp(rv.args[0]))
        if (rv.args[0] - S.Pi/4).is_positive is (S.Pi/2 - rv.args[0]).is_positive is True:
            fmap = {cos: sin, sin: cos, tan: cot, cot: tan, sec: csc, csc: sec}
            rv = fmap[rv.func](S.Pi/2 - rv.args[0])
        return rv

`signsimp`

[2018-03-07 13:07] #14354 closed

[2018-03-07 13:29] normalhuman commented on #14410
It would be better to start summation with 1 here. That said, `Sum(1/sqrt(x), (x, 1, oo)).doit()` is not evaluated either.

[2018-03-07 13:44] jksuom commented on #14410
However,
[code]

[2018-03-07 14:01] normalhuman opened #14416 "Prime notation for derivatives of undefined functions in one variable"
The [Physics module printer](http://docs.sympy.org/latest/modules/physics/vector/api/printing.html) provides dot-notation for `dynamicsymbols`. Should it be possible to get something like this when pretty- or latex- printing regular SymPy expressions with derivatives? For general expressions the d/dx notation seems necessary, but the derivatives of undefined functions could well be printed as `f'(

[2018-03-07 14:05] normalhuman commented on #14410
Yes, but there are so many ways a series can fail to converge; getting `oo` or `-oo` from `doit` gives more information. For example,
[code]
Alas, the second example isn't right...

[2018-03-07 14:17] proy87 commented on #14410
Why `Sum(3 - 1/x, (x, 1, oo)).doit()=oo` is incorrect?

[2018-03-07 14:25] dionyziz opened #14417 "nsolve UnboundLocalError when trying to solve weird equation"
`nsolve` fails with "UnboundLocalError" when giving it a peculiar equation.

***Actual behavior***: An "UnboundLocalError" is thrown.

***Expected behavior***: Either a solution is found, or a "ValueError: Could not find root within given tolerance" is thrown.

Steps to reproduce:

[code]

However, altering the equation slightly avoids the error:

[code]

My version:

[code]

This is on macOS 10.1

[2018-03-07 14:42] normalhuman commented on #14410
It should be  `-oo`. SymPy has positive infinity `oo`, negative infinity `-oo` and complex infinity (with no particular direction) `zoo`.

[2018-03-07 14:49] normalhuman commented on #14413
Many such issues arise when polynomial manipulations involve floating point coefficients. It's best to avoid floating point coefficients in SymPy if you can.
[code]
Alternatives to `0.5*cos(x)`, all of which yield the same result (a _rational_ coefficient):

- `cos(x)/2`
- `Rational(1, 2) * cos(x)`
- `Rational('0.5') * cos(x)`
- `S(1)/2 * cos(x)`

See [Python numbers vs SymPy numbers](http://docs.

[2018-03-07 14:56] proy87 commented on #14410
`3-1/x > 0` for `x>0`, so how sum of positive terms can be negative infinity?

[2018-03-07 15:37] normalhuman commented on #14410
You are right. (I didn't have my morning coffee yet.)

[2018-03-07 16:30] jksuom commented on #14417
This seems to be an mpmath issue. It should be checked before [this line](https://github.com/fredrik-johansson/mpmath/blob/master/mpmath/calculus/optimization.py#L967) that at least one iteration was found.

[2018-03-07 17:43] fhchl commented on #14413
Oh. I didn't know. Wouldn't it be a good idea to raise a warning or so if
floats are used then?

On Wed, Mar 7, 2018, 15:56 Leonid Kovalev <notifications@github.com> wrote:

[2018-03-07 19:10] will-e-p opened #14421 "MatrixSymbol: "RuntimeError: maximum recursion depth exceeded while calling a Python object"
`from sympy import symbols, sin, cos, MatrixSymbol

t = symbols('t')
V = MatrixSymbol('V', 2, 1)

expr = (sin(t)**2*V[1,0]/V[0,0]**2 + cos(t)*sin(t) + cos(t)**2*V[1,0]/V[0,0]**2)
expr.simplify()`

[2018-03-07 19:52] asmeurer commented on #14414
I don't think it should be removed.

[2018-03-07 20:21] #11095 closed

[2018-03-07 20:26] asmeurer commented on #14416
My understanding is that dots imply the variable is `t`. I like the idea of using primes. It would be nice to have https://github.com/sympy/sympy/issues/4719 so that something like f'(x*y) could be represented as such and printed in the same way. We might even consider just making this the default. I'm +0 to the idea. Of course, functions of multiple arguments would still be ambiguous and would ha

[2018-03-07 20:33] Nikhilkoneru commented on #14411
I would like to work on this issue.can I proceed?

[2018-03-07 20:40] skirpichev commented on #14414
Could you explain why do you think so?  Should then ``__call__`` be overriden for ``frac_field``?

[2018-03-07 20:42] skirpichev commented on #14414
btw, issue is [not new](https://github.com/sympy/sympy/issues/4697#issuecomment-36993571)

[2018-03-07 20:45] skirpichev commented on #14414
(If it's not clear, I'm not suggesting to change string parsing for composite domains.)

[2018-03-07 21:00] asmeurer commented on #14414
It's a convenient syntax. If `__getitem__` made sense on a ring object in the usual sense (indexing), then it would indeed be bad, because people would expect it to index. But as there is no meaningful way to index a ring, even a finite ring, I don't see any harm in the syntactic sugar. Also it's been there for some time, so my default position for any breaking change is to maintain the existing A

[2018-03-07 21:14] normalhuman commented on #14411
@Nikhilkoneru There is already a PR for this issue, see the link above your message.

[2018-03-07 21:24] asmeurer commented on #14371
Related https://github.com/sympy/sympy/issues/11795

[2018-03-07 21:28] skirpichev commented on #14414
Well, ``__getitem__`` was defined not on a ring object, but for the Domain class.  I'm not sure if this class assume some algebraic structure at all.  It's like a set and there are ``__contains__`` method implemented which tests that element belongs to this domain (e.g. ``QQ(2) in ZZ``, but ``QQ(1, 2) in ZZ is False``).

Does it make sense to index such sets?  Sure, sometimes.  For example, ZZ is

[2018-03-07 22:30] skirpichev commented on #9366
Ok, root isolation algorithms now supports gaussian rationals in the Diofant.  It seems, that computations slightly faster if coefficients are kept algebraic:
[code]

Probably, algorithms could be extended for arbitrary algebraic coefficients.  For this we must extend ``dup_real_imag`` to support algebraic numbers beyond gaussian rationals and implement comparisions ops for real number fields.  No

[2018-03-07 23:11] cswiercz commented on #9366
Wow! That's fantastic that you posted progress on this problem after two years!

[2018-03-08 00:40] normalhuman commented on #14421
The recursion issue is due to the handling of strings. A MatrixSymbol contains a string among its arguments, and strings are iterable, which throws the line `type(a)([handle(i) for i in a])` into infinite recursion when `a` is `"V"`.

I included the diff below, but the solution seems incomplete because your expression still doesn't simplify. I tracked it down to `trigsimp` behavior, where MatrixEl

[2018-03-08 06:15] normalhuman commented on #14412
Combining T(m) and T(n-m) seems a bit specialized. A more general approach, which should also lead to solution, is to rewrite trig functions in terms of exp, and recognize the result as a sum of binomial formulas. Which sort of works... (m, n declared to be nonnegative integers):
[code]
Not really, since there is still a sum (that should be 0); but the correct answer is separated from it.

SymPy h

[2018-03-08 06:36] #12140 closed

[2018-03-08 08:38] ngoonee opened #14425 "physics.mechanics mpprint doesn't work with some greek letters"
from sympy import diff
    from sympy.physics.mechanics import dynamicsymbols, mpprint
    mpprint(diff(dynamicsymbols('a')))
    mpprint(diff(dynamicsymbols('b')))
    mpprint(diff(dynamicsymbols('o')))
    mpprint(diff(dynamicsymbols('alpha')))
    mpprint(diff(dynamicsymbols('beta')))
    mpprint(diff(dynamicsymbols('theta')))

The first 3 lines print as expected, the characters a, b, and o wit

[2018-03-08 08:43] DavidLining opened #14426 "How to process the 'ZeroDivisionError: matrix is numerically singular'"
I try to use scipy and sympy to solve same equations. But encounter the 'ZeroDivisionError: matrix is numerically singular' when i using lib sympy.
Following are codes:

def solve_eq_scipy(x):
    x1, y1, z1, x2, y2, z2, x3, y3, z3 = x.tolist()
    eqs = []
    f1 = x1**2 + y1**2 + z1**2 - 20.327 #red
    f2 = 487.5*x1 - 1398.5*y1
    f3 = x2**2 + y2**2 + z2**2 - 22.325 #blue
    f4 = 403.5*x2 - 1

[2018-03-08 08:53] DavidLining commented on #14426
[def solve_eq_scipy(x):
    x1, y1, z1, x2, y2, z2, x3, y3, z3 = x.tolist()
    eqs = []
    f1 = (x1)**2 + (y1)**2 + (z1)**2 - 20.327 #red
    f2 = 487.5*(x1) - 1398.5*(y1)
    f3 = (x2)**2 + (y2)**2 + (z2)**2 - 22.325 #blue
    f4 = 403.5*(x2) - 1482.5*(y2)
    f5 = (x3)**2 + (y3)**2 + (z3)**2 - 26.329 #green
    f6 = 570.5*(x3) - 1650.5*(y3)
    f7 = (x1 - x2)**2 + (y1- y2)**2 + (z1 - z2)**2 -0

[2018-03-08 09:02] DavidLining commented on #14426
Code:
[solve.txt](https://github.com/sympy/sympy/files/1792426/solve.txt)

[2018-03-08 10:00] jksuom commented on #14425
mpprint seems to return correct unicode characters.
[code]
The printed output probably depends on the available character set. (There may be 'a with dot above' but no 'alpha with dot above'.)

[2018-03-08 10:19] skirpichev commented on #14220
It turns that removing of FracField/PolyRing wasn't too hard.

One side issue: order property of PolynomialRing/FractionField's.  Does it make sense to have it? As an alternative, we could provide order kwarg (with default value) for methods that assume some total order in given domain.

[2018-03-08 10:36] jksuom commented on #14220
It seems to me that it would not be necessary to have the `order` attribute. In fact, it might even be more convenient not to keep it as a part of the ring/field object. If it is omitted, then some Gröbner methods would have to be edited, but that would probably not be too hard.

[2018-03-08 14:14] normalhuman commented on #14426
Both SciPy and SymPy have difficulties finding a solution here (if it even exists). Two issues:

Poor choice of the starting point. Giving equal values to all coordinates makes the gradient of the terms like `(x1 - x2)**2` equal to zero, and zero gradient is a problem for solvers (degenerate Jacobian matrix is the primary source for division by zero errors in this process). I notice that the SciPy

[2018-03-08 14:58] moorepants commented on #14425
@jksuom is correct, I don't think there are unicode symbols for this. But maybe it should return d alpha / dt instead so that there is no confusion.

[2018-03-08 15:18] #14411 closed

[2018-03-08 15:52] liupibm opened #14428 "check if it is ok to use sympy in our open-sourced project"
First, thanks for the excellent package provided to the public community.

I have built a sympy-based backends for IBM open source quantum package qiskit.
Before we merge it, could you advise if your license allows me to do so?
Here are more details:
https://github.com/QISKit/qiskit-sdk-py/pull/217

Thanks for your attention. Not sure this is the right place to discuss the matter, feel free to clo

[2018-03-08 17:33] abaokar-07 opened #14431 "integrate((x-t)**(-1/2)*t,(t,0,x)) raises ValueError"
I ran this in the current master branch and I got following `ValueError`

[code]

[2018-03-08 18:10] skirpichev opened #14432 "x**4 not in QQ.poly_ring(x**2)"
I think it should.

[2018-03-08 18:16] abaokar-07 commented on #7123
@asmeurer @jksuom This issue should be closed now, it's fixed in the current master

[2018-03-08 18:28] skirpichev opened #14433 "x not in QQ.frac_field(1/x)"
Again, probably it should.

[2018-03-08 18:51] jksuom commented on #7123
Fixed by https://github.com/sympy/sympy/pull/14134.

[2018-03-08 18:51] #7123 closed

[2018-03-08 19:21] normalhuman commented on #14431
1/2 creates a Python float 0.5 in the exponent. Many of SymPy's routines struggle to handle those. Use rational numbers whenever possible. More discussion in [gotchas and pitfalls](http://docs.sympy.org/latest/gotchas.html#python-numbers-vs-sympy-numbers).

Also, it looks like x is positive here, so let's declare it as such.
[code]

[2018-03-08 19:24] vishalg2235 commented on #14312
@cbm755 after making changes from https://github.com/diofant/diofant/pull/286 what else work will be left which can be done in Gsoc 2018?

[2018-03-08 19:49] moorepants commented on #14428
@liupibm You are welcome to copy and distribute SymPy as long as you follow the terms of our license.

[2018-03-08 21:06] ngoonee commented on #14425
With more testing it also depends what fontset is being used (obviously).

I think I'll either default to latex output or just restrict my code to using simple characters rather than the standard theta/alpha that my problem domain uses.

@moorepants that does make sense, and makes this sorta-kinda related to this? - https://github.com/sympy/sympy/issues/10173

[2018-03-08 21:47] asmeurer commented on #14428
If you have copied code from SymPy (it should not generally be necessary if you are just importing the code), then you should copy the SymPy license and include it with that code. Otherwise, there are no other requirements. The BSD license used by SymPy is very liberal. The only requirement is basically what I said above, that if you copy code, you have to indicate so by including the license some

[2018-03-08 21:47] #14428 closed

[2018-03-08 21:51] DavidArmendariz commented on #14431
I tried that but I only got
Integral(t/sqrt(-t + x), (t, 0, x))

[2018-03-08 21:53] asmeurer commented on #14387
We should definitely clarify the tutorial and mention `dir='+-'` until such a change is made.

[2018-03-08 21:54] normalhuman commented on #14431
I copied the output from SymPy's current master branch.

[2018-03-08 21:59] DavidArmendariz commented on #14431
@normalhuman sorry, I don't know what is that, but running from sympy live I get
![screenshot from 2018-03-08 16-57-54](https://user-images.githubusercontent.com/21047920/37178973-1abd0344-22f2-11e8-9dc9-d0f144596db2.png)