[2017-05-01 11:43] parsoyaarihant commented on #12598
In the above code:
[code]

or `r2 = Ray(Point(0, 1), Point(1, 5.712214450449026))`

The answer is correct since the two lines does not intersect.

[2017-05-01 12:16] thechargedneutron commented on #12600
Hello Sir, I am very much interested in contributing, but am new to open source. Where can I find this particular function kinematic_equation(), I opened sympy/physics/mechanics but could not find the function in the files. Can you please help me with this? I read that the code is present in sympy/core but could not find this

[2017-05-01 12:33] jksuom commented on #12600
It is defined in sympy/physics/vector/functions.py.

[2017-05-01 13:31] smichr commented on #12598
OK, here's the original and I can't confirm it here because `live` is timing out:

[code]

[2017-05-01 13:38] smichr commented on #12598
If this does prove to be a legitimate problem then perhaps the workaround is to check that both variables in arbitrary_point for both rays is positive, e.g. if `r1.arbitrary_point(t) = Point(t,t)` and `r2.arbitrary_point(u) = Point(1-u,u)` then the intersection is when `t=1-u` and `t=u` which gives `(t,u)=(1/2,1/2)`: both are positive so the intersection is valid regardless of whether it can be pr

[2017-05-01 13:58] parsoyaarihant commented on #12598
What is `r1` in `>>> assert r1.intersection(r2) # ok`? Is it the same as the one in previous code?
[code]

[2017-05-01 18:01] #12604 closed

[2017-05-01 18:35] smichr commented on #12598
yes. I have edited it show that.

[2017-05-01 18:50] asmeurer commented on #12602
If someone wants to upstream fixes to the standard library Fraction, go ahead. I likely won't have time to do it myself.  We should fix SymPy regardless, as it will be too long to wait for an upstream fix (at best we would have to wait until 2020 when we drop Python 2 support). I remember Fraction used to be used for the Python ground types, but it was dropped, I believe for performance reasons.

[2017-05-01 18:56] asmeurer commented on #12602
Some git history digging:

- Use of a separate gcd algorithm was a performance improvement: aac27c81e9e1dafc53791c5bed9fedbff1176b80
- PythonRational is (supposedly) faster than Fraction because it doesn't use ABCs: aac27c81e9e1dafc53791c5bed9fedbff1176b80

[2017-05-01 19:03] matthewwardrop commented on #12597
Okay. Thanks for explaining!

[2017-05-01 19:46] parsoyaarihant commented on #12598
It does not return `[]`:

[code]

[2017-05-01 21:27] yajnab commented on #12600
q1d - (w1 * c3 + w3 * s3)/ c2
This is what is returned
c2 is a function dealing with cos(q2)
q2 being Pi/2 makes c2 to become 0
x/ 0 is infinite which is getting to NaN

[2017-05-01 22:45] moorepants commented on #12600
My line of thought was that if the speeds are all zero it supersedes any result due to the definition of coordinates that may result in a singularity. From a physical, instead of mathematical, perspective I think that makes sense.

[2017-05-01 22:59] yajnab commented on #12600
@moorepants : Yes! But getting that mathematically will force us to equate infinity with 0. Binding a special case will look like a history text book rather than a mathematical equation.
Lets see If I can do anything

[2017-05-02 03:31] smichr commented on #12598
You've been a trooper. I posted the full example in the OP. Let's see how your results with that input fare.

[2017-05-02 04:04] moorepants commented on #12600
The function "kinematic_equations" is not some mathematical construct in SymPy. It's purpose is to provide the correct angular velocity given a variety of rotation types. If you tell the function that angular velocity is zero, then it should return the same, regardless of any mathematical rules.

Here is a little more context:

[code]

The automatic calculation of angular velocity relies on `kinem

[2017-05-02 06:55] skirpichev commented on #12602
I doubt.  Rational has additional overhead with assumptions machinery and so on.  Probably that's the reason why it's slow.  There is not difference with implementation of arithmetic (Maybe gmpy could help if large integers - are typical use case, as for polys tests).

http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=A891FFCCDE46AB48D9B39B7A8C864A0A?doi=10.1.1.114.3437&rep=rep1&type=pdf

P

[2017-05-02 07:19] asmeurer commented on #12602
Yep sorry, meant https://github.com/sympy/sympy/commit/c20b17e20fe9e461156ec47a84e13cb3173a43a1.

[2017-05-02 13:13] smichr opened #12613 "[feature] add arbitrary_point to Polygon"
[code]

For example:

For `Polygon(Point2D(0,0),Point2D(0,1),Point2D(1,1),Point2D(3,0))` this would give
[code]

[2017-05-02 19:19] jankoslavic opened #12614 "Cannot solve: integrate(3*exp(3*x - 2*y)*sin(2*x - 3*y),y)"
The solution should be:
`3/13 exp**(3 x - 2 y) * (3*cos(2*x - 3*y) - 2*sin(2*x - 3*y))`

why do I get: CoercionFailed?

[2017-05-02 20:24] a59 opened #12617 "trigsimp(a,method='groebner') -> NameError: global name 'Poly' is not defined"
[code]

[2017-05-02 20:52] manuel-rhdt opened #12618 "`bspline_basis` fails when its argument `n` is nonzero an the knot vector has repeated elements."
Minimal example:

[code]
The second command fails with backtrace

[code]

[2017-05-02 20:58] manuel-rhdt commented on #12618
Hmm actually I realized, I may be using this wrong. `n` seems to index into the knot vector, so using index 1 will not work because there is no spline between knot 0 and 1. `bspline_basis_set` however still throws this exception when a knot vector with multiple identical elements is used.

[2017-05-02 21:09] ccordoba12 commented on #11882
There's only one call to `check_output` in `master` that could benefit from my fix:

https://github.com/sympy/sympy/search?utf8=✓&q=check_output&type=

Probably, but it makes clear *in the code* why it's needed only on Windows. Else, it seems a bit of magic.

[2017-05-03 05:45] jksuom commented on #12617
It seems that this has been fixed in current master:
[code]

[2017-05-03 10:50] ghisvail opened #12619 "please implement a way to force a derivative to be partial or total"
Forwarded from the Debian BTS:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=826457

Cheers,

[2017-05-03 17:12] nanoant commented on #11882
@ccordoba12 Are you aware that this GitHub search page is only **"Showing the top two matches"** (as stated under the results) for each matching file? `sympy\printing\preview.py` contains another 2 calls to `check_output` (3 altogether, not just one).

You could always add some comment explaining more this parameter, then at least the intentions would be clear to the reader. But still since it is

[2017-05-04 20:13] a59 commented on #12617
Does
    trigsimp(a,method='groebner')
work?

[2017-05-05 04:35] smichr opened #12620 "infinite recursion in periodicity"
I get an infinite recursion when trying to solve

[code]

[2017-05-05 04:43] smichr commented on #12582
I'm not sure if this is the right place to do this, but the following works (and I don't think the extra entry in `rewritables` is necessary for this issue):

[code]

[2017-05-05 05:26] jksuom commented on #12617
That works too in current master, I should have added.
[code]

[2017-05-05 06:26] kshitij10496 commented on #12620
This bug arises due to the fact that:

    In []: f = abs(x**2 - 3*x)
    In []: f_s = simplify(f)
    In []: g = compogen(decompogen(f_s), x)
    In []: g == f
    Out[]: False

I propose that we add a conditional for checking equality with both the original function and the simplified expression to reflect this behaviour of `compogen`, `decompogen` and `simplify`.

[2017-05-05 08:11] smichr commented on #8733
cf #8461

[2017-05-05 18:36] #7380 closed

[2017-05-05 18:38] jamesharrop commented on #12614
Hello, I was trying to reproduce this error. I wonder if this has been fixed already?

The Conda version of Sympy gives CoercionFailed error message. However the latest GitHub version gives as output
`
-6*exp(3*x)*exp(-2*y)*sin(2*x` - 3*y)/13 + 9*exp(3*x)*exp(-2*y)*cos(2*x - 3*y)/13
`
which appears to reduce to the same solution you give.

[2017-05-05 20:15] jankoslavic commented on #12614
@jamesharrop thank you for the check. I tried the latest conda version and the github 1.0.1.dev0 version and with both I get now:
TypeError: _eval_power() missing 1 required positional argument: 'other'

Here is my code:
[code]

[2017-05-05 23:17] gauthe opened #12623 "Weird results for 2nd order ode"
Hello,

I was using sympy ode to solve good ol' RLC with excitation term. Depending on the constant of the excitation, I sometimes get very weird results.

`from sympy import *
from sympy.interactive import printing
printing.init_printing(use_latex=True)

t = symbols("t")
u = symbols("u",cls=Function)
R,L,C,E_0 = symbols("R L C E_0",positive=True)`

`eqRLC = Eq( L*C*u(t).diff(t,t) + R*C*u(t).diff(

[2017-05-06 14:23] maurogaravello commented on #12614
As **jamesharrop** observed, the latest GitHub version gives the correct output.
@jankoslavic The code in your last comment does not reflect the original issue. However your code gives such an error, since `exp**(3*x - 2*y)` is not correct. Use `exp(3*x - 2*y)`.

[2017-05-06 16:32] jankoslavic commented on #12614
Thank you! I was fast with the snippet which is the result:)

I am confirming, the latest version of sympy works fine!

[2017-05-06 16:33] #12614 closed

[2017-05-07 20:16] chaowenGUO opened #12624 "sympy.physics.wigner.gaunt does not return rational number"
example:
In [1]: import sympy.physics.wigner

In [2]: sympy.physics.wigner.gaunt(1,1,0,-1,1,0)
Out[2]: -0.5/sqrt(pi)
which does not return rational number

However, its equivalent return the rational
In [3]: sympy.physics.wigner.gaunt(0,1,1,0,-1,1)
Out[3]: -1/(2*sqrt(pi))

I use sympy 1.0

[2017-05-08 01:42] sdewaele commented on #11044
I encountered this issue with sympy 1.0. It would be great it could be solved. It seems to be addressed properly by PR #11046.

[2017-05-08 12:14] #12620 closed

[2017-05-08 23:29] asmeurer commented on #12233
@Upabjojr @Abdullahjavednesar @parsoyaarihant you may be interested in this paper http://scholar.google.com/scholar_url?url=https://arxiv.org/pdf/1705.00907&hl=en&sa=X&scisig=AAGBfm1NmeyOrzOwyVIFBBAsJYyN8G0hwQ&nossl=1&oi=scholaralrt

[2017-05-09 03:32] parsoyaarihant commented on #12233
Thanks @asmeurer .

[2017-05-09 12:01] andres-ordonez opened #12626 "sympy.integrate doesn't return piecewise result when it should (or makes undesired assumption)"
By comparing the outputs of

`x,x0 = var('x,x0')
integrate(exp(-(x-x0)**2)/sqrt(x),` (x,0,oo))`

`(sqrt(2)*sqrt(pi)*sqrt(x_0)*exp(x_0**2/2)*besseli(-1/4, x_0**2/2)*gamma(1/4)*gamma(3/4)/2 + 2*sqrt(2)*sqrt(pi)*sqrt(x_0)*exp(x_0**2/2)*besseli(1/4, x_0**2/2)*gamma(3/4)*gamma(5/4))*exp(-x_0**2)/(2*sqrt(pi))`

and (note the change of sign before x0 in the integrand and the sign of the coefficient of th

[2017-05-09 15:31] simone-pizzolato opened #12627 "Something strange with plot of factor(x**4/2 + 5*x**3/12 - x**2/3)"
Hi folks,
the plot is strange, it is always near zero in rage [-1.4,0.9].
Take a look at attached files
![wolframalpha](https://cloud.githubusercontent.com/assets/22774070/25858843/117ccc82-34dd-11e7-9d04-53d522047d7e.PNG)
![gammasympy](https://cloud.githubusercontent.com/assets/22774070/25858842/117a1910-34dd-11e7-8d7a-a9342a9dc880.PNG)

Simone

[2017-05-10 12:47] Wrzlprmft opened #12628 "as_numer_denom non-deterministically influences the state of Python’s random number generator"
When I apply `as_numer_denom` to a power expression, this changes the state of Python’s random number generator. This happens in a non-deterministic fashion, i.e., it isn’t just that random numbers are generated for whatever reason, but the state seems to be reset using some external information (like the system time).

Here is a minimal non-working example:

[code]

[2017-05-10 15:40] valglad commented on #12576
Yes, the assumption that the base of a `Pow` expression is always a complex number is made in the definition of the `_eval_power` function in `core/power.py`. It certainly shouldn't do that for symbols that are known to be non-complex (e.g. `x=Symbol('x', commutative=False)`. I think that it probably shouldn't make any assumptions in cases where it's uncertain either (so just `x=Symbol('x')`). So

[2017-05-11 00:04] Pastafarianist opened #12629 "Sequences with variable limits cannot be pretty-printed"
Sympy version 1.0-2 from Manjaro repository.

[code]

[2017-05-11 00:45] Pastafarianist opened #12630 "SeqFormulas addition is broken"
Sympy 1.0-2 from Manjaro repository.

[code]

Output:

[code]

[2017-05-11 02:11] Pastafarianist opened #12631 "piecewise_fold does not handle bound variables"
[code]

Needless to say, [5] and [6] should be identical.

[2017-05-11 16:35] hanq08 commented on #12631
Maybe I'm missing something but I don't see any error here. Why [5] and [6] should be identical?

picewise_fold() takes an expression containing a piecewise function and returns the expression in piecewise form.

[6] seems to be a correct representation of the piecewise function p defined in [4].

[2017-05-11 16:56] SebMagee opened #12632 "Integration of a sum of displaced Heaviside functions is not correct"
The issue arises with the function` f=Heaviside(x)-Heaviside(x-1)`, specifically when you try to integrate it. for some reason` sympy.intgrate(f,x)` produces a function with very strange properties:

1-> a downwards ramp from - infinity to -1
2-> a discontinuity in x=1

The first issue is strange as f doesn't have any discontinuity in x=-1.
the function f has a discontinuity in x=1, its integral s

[2017-05-11 19:11] Greg1950 opened #12633 "display of integrals"
I'm brand new to this, so if I'm posting in the wrong location, please let me know.

My system:  I'm using the latest version of 64-bit Anaconda3 under Windows 10, and I'm in a Jupyter notebook after which SymPy 1.0's  `init_session()` has been run.  Among other actions, `init_session()` imports `sympy` and invokes the `init_printing()` command.  Consequently output cells look (for the most part)

[2017-05-11 22:42] Pastafarianist opened #12634 "expand() doesn't work with SeqFormula"
Sympy 1.0-2 from Manjaro repository.

[code]

[2017-05-11 22:50] Pastafarianist commented on #12631
@hanq08 in this case, `i` is a variable bound in the second argument of `SeqFormula` in [4]. It is an index that is fed into the function within `SeqFormula`. In [6], `i` becomes a free variable.

The object defined in [4] is printed in [5]. [6] is different from [5], hence it is not a correct representation of the object defined in [4].

[2017-05-12 10:15] alabrazi opened #12635 "Sympy plot using log"
The code below work with cos(t) but not with ln(t) or log(t) -> TypeError: can't convert expression to float
[code]

[2017-05-12 11:38] jksuom commented on #12635
It looks like `t = 0`, where the logarithm is not well defined, is included in the computation. This is what I get:
[code]

[2017-05-12 11:59] #10682 closed

[2017-05-12 13:28] alabrazi commented on #12635
Seems so.
Extending the range to start from -1 instead of 0 is one option to make sympy plot the graph.
`plot((2.5-(t/8760), (t, 0, 8760)), ((-1348.8*ln(t)+12692)/1000, (t, -1, 8760)))`

[2017-05-13 14:44] smichr opened #12637 "residual polar_lift when integrating exp(-x) from Min(1,y) to oo"
When the sign of y is not known, a residual `polar_lift` remains in the result of this integration:

[code]

Can this be cleaned up?

[2017-05-13 16:55] jksuom commented on #12637
`polar_lift` comes from `meijerint`. Setting `meijerg=False` gives a clean result. It is clear that `polar_lift` should be removed, and `meijerint` also attempts to do that by calling `unpolarify`. However, that does not seem to work with `Max`, possibly because it does not have `unbranched=True`. (See https://github.com/sympy/sympy/blob/master/sympy/functions/elementary/complexes.py#L1118.)

[2017-05-13 16:59] smichr opened #12638 "collapse Min(a, b, Max(a, y)) to Min(a, b)"
I'm not sure where the best place to put this since MinMax are handled in the same place. It could go in the `__new__` definition for MinMaxBase in sympy/functions/elementary/miscellaneous.py around line 328. Or it could be defined as an `_eval_simplify` routine. The basic idea is (as for And/Or) that given f and g (which is the opposite of f) if g contains any args that f contains then g is redun

[2017-05-13 17:02] smichr opened #12639 "implement Piecewise rewriting for Min and Max"
This was mention in #10158. I am just puttng this here as a separate issue.

[code]

[2017-05-13 21:22] siefkenj commented on #11638
I think this bug should be closed.

[2017-05-14 03:10] smichr commented on #12637
Would it be better to make the default be True?

*if eq.is_Function and getattr(eq.func, 'unbranched', ~~False~~True):*?

[2017-05-14 05:27] jksuom commented on #12637
That might be a good idea. Most common functions are unbranched and it would not be too hard to add the condition to those that are not (log, nonintegral powers, many G-functions, ...).

[2017-05-14 12:16] neihousaigaai opened #12641 "Can't solve Integral((sin(2*x)*cos(x))/(1+cos(x)), (x, 0, pi/2))"
`Integral((sin(2*x)*cos(x))/(1+cos(x)), (x, 0, pi/2))` should return `2*log(2)-1`, but it returns itself.

[2017-05-14 15:01] ccordoba12 commented on #11882
Sorry, I wasn't aware of that. Please see #12642.

I left things as they are because I don't have more time for this. sorry.

[2017-05-15 21:26] hanq08 commented on #12641
Looks like sympy can't solve this. See issue #11876. A new integration rule should be added in manualintegrate so it can recognise and convert sin(2x) tp 2cos(x)sin(x), etc. Any ideas?

[2017-05-15 21:44] asmeurer commented on #12638
It should just be `foo`. If `foo >= y` then `Min(foo, Max(foo, y)) == Min(foo, foo) == foo`, and if `foo <= y` then `Min(foo, Max(foo, y) == Min(foo, y) == foo`.

This is the [absorption law](https://en.wikipedia.org/wiki/Lattice_(order)#General_lattice), and should probably be implemented on `LatticeOp`.

[2017-05-15 21:48] asmeurer commented on #12638
Apparently LatticeOp isn't a very good superclass for a lattice, as it has no references to meet and join. Ideally, that would abstracted and the subclasses would identify themselves as the corresponding meet (And, Min) and join (Or, Max).

[2017-05-15 21:59] asmeurer commented on #12633
The omitting of parentheses here is not uncommon. The integral sign and the `dx` are often considered as the left and right operands of the integral operand.

However, I do think we should put parentheses here, as it makes it easier to read. It is also what the pretty printer does, and generally `latex()` should match `pprint()`:

[code]

[2017-05-15 22:01] asmeurer commented on #12627
It seems to be a bad choice for the Y limits. Compare the range of Y values for Wolfram vs. SymPy Live.

The plotting at SymPy Live is not part of SymPy itself, so it should be reported at https://github.com/sympy/sympy-live.

[2017-05-15 22:02] asmeurer commented on #12627
Sorry, this is SymPy Gamma, not SymPy Live. https://github.com/sympy/sympy_gamma

[2017-05-16 12:39] smichr commented on #12638
Or, rather, `Min(foo)` where `foo` might be a sequence of elements, e.g `Min(1, 2, Max(1, 2, 3)) -> Min(1, 2)`. OP and title modified accordingly.

[2017-05-16 14:37] simone-pizzolato commented on #12627
Ok! Thanks.
I have opened a thread on SymPy Live.

[2017-05-16 17:31] TorinCooperBennun opened #12645 "TypeError solving an integral"
**EDIT:** The issue spontaneously stopped occurring after I edited manualintegrate.py (just added a no-op print statement, and removed it later). Presumably, the issue occurred because the Spyder IDE somehow caused some state to persist. However, the integral is still thrown back at me unsolved.

----------------------------------------------------

Run the following code to reproduce:
[code]

The

[2017-05-16 18:21] jksuom commented on #12645
It looks like `a` is redefined inside a loop on this line:
[code]
It is supposed to be a wild symbol for the match to work.

[2017-05-16 18:30] TorinCooperBennun commented on #12645
Bizarrely, I added `print(match)` under line 689 in manualintegrate.py, and the error stopped happening; now I just get the integral thrown back at me, unsolved. I reinstalled sympy and it continues to throw the integral back at me, without runtime errors.

I reckon it's because I was using the Spyder IDE, and some state somehow persisted after a previous run. Dunno, though.

[2017-05-16 20:48] CarlosBouthelier opened #12646 "Evaluating integrals, convert expression to float"
I am trying to compute an integral of a function f that has no primitive, I have used Integral(f,(Tita1, 0, pi/2).(Tita2,0,pi/2)), because I wanted to be able to define it and operate with it before evaluating it.

The problem is that when I try to use .evalf(), it won't give me a float number, just an expression of the integral divided in several sums of the same integral within different interva

[2017-05-17 18:28] asmeurer commented on #12646
I think perhaps evalf simply isn't implemented for higher dimensional integrals. Even the simple `Integral(x*y, (x, 0, 1), (y, 0, 1)).evalf()` does nothing.

[2017-05-17 21:10] asmeurer opened #12649 "latex(re(x)) should use parentheses"
latex(re(x)) returns \Re{x}, but it would be better to use \Re{\left(x\right)}.

I also don't really like \Re (would prefer \mathrm{Re}), but that's a separate issue.

[2017-05-17 22:04] CosmoVlad opened #12650 "No permutedims(,) in sympy.tensor.array.arrayop.py"
Hello,
I fail to import permutedims(,) from sympy.tensor.array in a jupyter-notebook under conda 4.3.18 on osx-64. I looked in the arrayop.py itself and there is no such function there. I have updated sympy through conda, but the problem persists (sympy is v1.0.1 according to conda). I also tried to update it manually through 'conda install sympy=1.0.1', but it says that there is no such package i

[2017-05-18 14:12] smichr commented on #12627
opened elsewhere so closed here.

[2017-05-18 14:12] #12627 closed

[2017-05-18 17:06] hanq08 commented on #12649
Can I just change precedence to 'Atom'?
`tex = r"\Re{%s}" % self.parenthesize(expr.args[0], PRECEDENCE['Atom'])`

[2017-05-19 04:28] smichr commented on #5666
This now just gives

[code]

We could create an Undefined class that doesn't support any substitution and overrides any expression that it is part of, e.g. Undefined + x -> Undefined. The Piecewise() doesn't behave this way:

[code]

[2017-05-19 21:05] smichr opened #12657 "(x<oo).subs({-oo:1,oo:3,x:2}) ->False"
This is really strange. Please confirm:

[code]

[2017-05-19 21:17] smichr commented on #12657
I suspect there is confusion about whether to treat `-oo` like an atom or a Mul. Using `xreplace` gives the right result and is a workaround.

[2017-05-19 23:23] asmeurer commented on #5666
Also things like https://github.com/sympy/sympy/blob/62bdb6ebd8f0773a36472e2dd5deb1aaeac3a67e/sympy/printing/ccode.py#L213 suggest that this is already supported.

[2017-05-20 08:03] maurogaravello commented on #12657
In `basic.py`, line 915, sympy does, more or less, the following steps in the substitution of `-oo` with `1`:
from `x<oo` we have `x<-(-oo)` and so `x<-1`.

[2017-05-21 23:16] twhunt opened #12661 "_eval_det_lu() always calls LUdecomposition_Simple() with its default keyword arguments"
_eval_det_lu() has no mechanism to pass LUdecomposition_Simple() keyword arguments.
_eval_det_lu() catches a ValueError that LUdecomposition() will not throw as of commit 782ff711d58c78b0017ffa30077cba70f38a136b.

[2017-05-21 23:18] #12321 closed

[2017-05-22 06:50] jksuom commented on #12661
Closed by #12662

[2017-05-22 06:50] #12661 closed

[2017-05-22 13:28] #12649 closed

[2017-05-22 13:36] smichr commented on #12657
The fix is to define `_eval_subs` for +/-oo. I'll make a PR this week unless someone else does so first.

[2017-05-22 23:38] Pastafarianist opened #12663 "Sums don't use Ranges as limits"
`sp.Sum` uses tuples of `(variable, from, to)` as limits:

    k, n = sp.symbols('k n', integer=True)
    s = sp.Sum(k**2, (k, 1, n))

whereas there is a (semantically) [perfectly suitable class `Range`](http://docs.sympy.org/dev/modules/sets.html#range) which could serve the same purpose (at least, if it supported variable limits).

[2017-05-23 12:06] smichr opened #12664 "FiniteSet(foo).contains(x) -> Or(*[Eq(x,i) for i in foo])"
Currently, the `FiniteSet(foo).countains(x)` remains unevaluated, returning a Contains instance. Like `Interval(a,b).contains(x)` which produces `And(x>=a, x<=b)` a FiniteSet could produce an `Or` with `Eq` instances in it:

[code]

[2017-05-23 12:08] smichr commented on #12663
I'm not sure how this would be better than the current situation. What do you imagine that the input to `Sum` would look like `Range` could accept a variable?

[2017-05-23 12:46] Pastafarianist commented on #12663
There is an issue that `Range`s don't include their upper bound. So with the current `Range` it could look like this:

[code]

This is beneficial for two reasons:

* It allows to do set arithmetic on sum limits, which, in turn, enables simplifications of expressions like `Sum(f(i), (i, a, b)) + Sum(f(i), (i, c, d))`. This is the particular use case where I came up with this idea.
* It is easier to

[2017-05-23 13:00] Pastafarianist commented on #12664
Might not be a good idea if the `FiniteSet` is huge.

[2017-05-23 13:53] nschloe opened #12665 "Python3-only: simplify with numpy.array fails with unhashable type: 'ImmutableDenseNDimArray'"
Simplifying expressions with `numpy.array`s works in Python 2, but _not_ Python 3.

MWE:
[code]
Error message:
[code]
Tested with current master.

[2017-05-23 14:15] nschloe opened #12666 "sympy.Matrix appends extra dimension"
(The following might or might not be intended by design.)

I'm having an issue when using a `sympy.Matrix` in a `dot` product: The lambdification will yield a dot-product with an extra dimension.

The MWE
[code]
prints
[code]
instead of `(7, 77)`. When replacing the `sympy.Matrix` by a `numpy.array`, it all works as expected ([other problems](https://github.com/sympy/sympy/issues/12665) set aside)

[2017-05-23 14:32] jksuom commented on #12665
This is probably a consequence of the new [rules](https://docs.python.org/3/reference/datamodel.html#object.__hash__) concerning equality and hashing in Python 3. This paragraph, in particular:

`If a class that overrides __eq__() needs to retain the implementation of __hash__() from a parent class, the interpreter must be told this explicitly by setting __hash__ = <ParentClass>.__hash__.`

In thi

[2017-05-23 18:15] benzene33333 opened #12667 "integrate(1/(sqrt(x**2 + c**2)), x)"
This does not return the correct function.  It returns asinh(x/c).  It should return ln(x + sqrt(x**2 + c**2)).  They are the same if c = 1 but are different otherwise.  I included a simulation in Origin to show this and I verified that the ln function is correct numerically and with my TI-89 which in my experience never misses.
![c1](https://cloud.githubusercontent.com/assets/28904042/26369312/4f

[2017-05-23 18:18] benzene33333 commented on #12667
Formatting ruined the content in the ln function above in the text...should be ln(x + sqrt(x**2 + c**2))

[2017-05-23 18:18] benzene33333 commented on #12667
Wow...same problem...it is x squared and c squared inside of the square root...whew

[2017-05-23 18:51] asmeurer commented on #12666
The shape of your `x` is `(7, 77, 3)` (see https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.rand.html#numpy.random.rand). Maybe you wanted [randint](https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.randint.html#numpy.random.randint).

[2017-05-23 18:55] nschloe commented on #12666
Thanks Aaron for your reply.

Actually I _do_ want `x` to have exactly that shape. The dot product then will be the dot product of all `[77, 7]` vectors of the length 3 as in
[code]
If `a` is of shape `[3, 1]`, then the result has shape `[77, 7, 1]`, which I must avoid.

[2017-05-23 19:01] asmeurer opened #12668 "Lambdify printers do not have printmethod defined"
The lambdify printers (in lambdarepr.py) do not have any `printmethod`. So if you want to define custom lambdify printing, you either have to modify the str printer, or pass in a custom function to lambdify.

We should make sure when we add this that the printers properly call printmethod on the superclass, so we don't break backwards compatibility.

[2017-05-23 19:02] asmeurer commented on #12666
I see. This is expected behavior. Matrices always have 2d shape. `Matrix([1, 2, 3])` is just syntactic shorthand for `Matrix([[1], [2], [3]])`. We used to use `np.matrix`, but this was deemed a bad idea.

Maybe there is a more elegant way of solving the problem, but one way would be to define a custom printer on your `dot` class that fixes the shape. Or you could pass a custom function to `lambdif

[2017-05-23 19:25] jksuom commented on #12667
The logarithmic form of `asinh(x)` is `ln(x + sqrt(x**2 + 1))`. It follows that

    asinh(x/c) = ln(x/c + sqrt(x**2/c**2 + 1)) = ln(x + sqrt(x**2 + c**2)) - ln(c).

Hence the difference of the two functions is constant and both of them are valid indefinite integrals of `1/sqrt(x**2 + c**2)`.

[2017-05-23 19:38] nschloe commented on #12666
A printer as in `print()`? Perhaps you can elaborate on that (if it makes sense at all in light of #12668).

A custom function? What do you mean by that?

[2017-05-23 19:44] benzene33333 commented on #12667
You are correct...my mistake.  I made a numerical error and got confused...didn't stop long enough to think.  Sorry.

[2017-05-23 19:44] #12667 closed

[2017-05-23 19:56] asmeurer commented on #12666
Sorry, I mean defining `_sympystr(self, printer)` on your `dot` class. Or for the custom function, passing `['numpy', {'dot': lambda x, y: ...}]` as the third argument to lambdify (where `...` performs `np.dot` after fixing the shape, I don't recall exactly how to do that in NumPy).

[2017-05-23 20:18] nschloe commented on #12666
I see. Even better would be to intercept the `Matrix` itself, but I'm not sure what keyword is necessary there. Neither of
[code]
and
[code]
did the trick.

[2017-05-23 20:20] asmeurer commented on #12666
The first one should work. There is even an example in the `lambdify` docstring that sets ImmutableMatrix to np.matrix.

[2017-05-23 20:23] nschloe commented on #12666
Well, it doesn't:
[code]

[2017-05-23 20:26] asmeurer commented on #12666
Hmm, it works in 1.0 but not in master.

[2017-05-23 20:29] nschloe commented on #12666
Probably worth filing a separate bug then. If you don't object, I'll go ahead and do so.

[2017-05-23 20:32] asmeurer commented on #12666
Bisected to 6d55b862ea1546269c52a93cf2984096501662a8. Seems it was changed to `ImmutableDenseMatrix`. @siefkenj can you add this and any other backwards incompatible changes to https://github.com/sympy/sympy/wiki/Release-Notes-for-1.1#backwards-compatibility-breaks-and-deprecations?

[2017-05-23 20:44] nschloe commented on #12666
Alright, great. Now
[code]
does what I had expected in the beginning: `Matrix([1,2,3])` is translated to `numpy.array([1,2,3])`. Unfortunately, one cannot distinguish between `Matrix([1,2,3])` and `Matrix([[1],[2],[3]])`, but there's nothing I can do about that.

@asmeurer Would you think that it'd be worthwhile discussing the fact that a `sympy.Matrix` always has two dimensions, never 1 or more t

[2017-05-23 21:57] chickadee7 opened #12669 "sympy requires ttfonts.map from the zhmetrics latex package"
[code]

It seems like sympy is not able to find the latex files it needs because when I enter these commands in python I get the following message:

![image](https://cloud.githubusercontent.com/assets/28904679/26371902/c68f916a-3fc1-11e7-8651-7fca5bb1261f.png)

I tried installing the zhmetrics latex package and copied the tile ttfonts.map to the directory
MiKTeX 2.9/tex/latex/fonts/map/ttf2pk but

[2017-05-23 22:37] Pastafarianist commented on #12629
Here is a possible fix. Replace `_print_SeqFormula` in `sympy/printing/latex.py` with the following:

[code]

This makes `SeqFormula`s render in Jupyter. However, for some reason it still calls the Unicode pretty-printer in `sympy/printing/pretty/pretty.py`, specifically, its `_print_SeqFormula` which is identically broken. If you really need to print `SeqFormula`s in Jupyter, a workaround is to w

[2017-05-24 05:15] jksuom commented on #12669
This looks like a MiKTeX installation problem. Probably TeX forums could help. For example this one: https://tex.stackexchange.com/questions/152721/problems-with-fonts

[2017-05-24 10:04] bjodah commented on #12666
@nschloe a Matrix is 2D by definition, constructs with higher dimensions are e.g. Tensors or N-dimensional arrays. We have an N-dimensional array in SymPy, it could be worth trying out.

[2017-05-24 12:36] #12665 closed

[2017-05-24 12:51] nschloe commented on #12665
Thanks everyone for the quick fix!

[2017-05-24 16:30] laolux opened #12671 "handling log(cosh(x)) for large x"
I am trying to plot something containing log(cosh(x)) with large x which sympy somehow does plot, but it tells me to report a bug.
/usr/lib/python3.5/site-packages/sympy/plotting/experimental_lambdify.py:230: UserWarning: The evaluation of the expression is problematic. We are trying a failback method that may still work. Please report this as a bug.

The problem with the resulting plot is that it

[2017-05-24 16:45] chickadee7 commented on #12669
You're right it is a MiKTeX problem.  After doing some more digging, I think sympy is running latex code that requires fonts stored in the zhmetrics LaTeX package, which is not automatically installed in the MiKTeX distribution.  I found this youtube video very helpful for installing LaTeX packages, which is sort of complicated: https://www.youtube.com/watch?v=ZTJkI-czgyA

[2017-05-24 18:24] asmeurer commented on #12666
Also worth noting that np.dot has somewhat odd behavior with 1D arrays. It automatically treats the array as a column or row vector, depending on the other argument.

[2017-05-24 18:31] asmeurer commented on #12671
Numpy is choking trying to evaluate the expression, since the intermediate numbers are too big.

[code]

We would need some way to evaluate the expression using mpmath. You can probably do it manually using `lambdify(x, log(cosh(x)), 'mpmath')`, but it would be nice to have a way to make plot do it automatically.

[2017-05-24 19:12] laolux commented on #12671
I know, that's why I don't try to evaluate `numpy.cosh(1000)` in my example, but rather use the equivalent form of `numpy.log(numpy.cosh(1000))`, in my mwe found as `np_replacement`.
Anyhow, it's only for demonstration purposes and does this rather well given sufficiently fine discretization. And exactly that behaviour should be reproduced by sympy given my `replacement` class. The biggest number

[2017-05-24 19:13] asmeurer commented on #12664
Probably shouldn't autoevaluate (that would almost defeat the purpose of having a Contains object), but `as_relational` should work.

[2017-05-24 19:48] asmeurer commented on #12671
I'm not sure how to get SymPy to rewrite it to the given form. `log(cosh(x)).rewrite(exp)` works, but you then need to apply some other transformations to get it in that form.  Also, I suspect that the transformation is only correct for real x.

More generally automatically rewriting expressions to more numerically stable forms is something we'd like to be able to do, but it's a very difficult pro

[2017-05-24 19:50] asmeurer commented on #12628
We should be using a random.Random instance so that it doesn't affect the random seed for other applications.

As a workaround, I suggest doing the same in your own code, so that nothing else can mess with random like this.

[2017-05-24 19:52] asmeurer commented on #12619
Copied here:

Hello!

I would love to have a way to force Sympy to consider a derivative
as partial or total, depending on my wishes.
This applies to how the derivative is printed (especially with the
LaTeX printer).

Let me explain with an example:

[code]

As you can see, the derivatives of z and of f(x) are printed with
the total derivative notation (they are treated as derivatives of
single-va

[2017-05-24 19:57] asmeurer commented on #12619
This can be done now by subclassing the respective printer and overriding `_print_Derivative`. Or one could subclass Derivative itself with a custom printer. I generally don't think printing information should be added to the object itself.

You can also trick a single variable function to printing with partial derivatives by adding a fake free variable.

[2017-05-24 20:02] asmeurer commented on #12626
Indeed it seems wrong. Based on this, I don't know if absolute value is the right answer

[code]

[2017-05-24 20:09] laolux commented on #12671
Yes, the transformation only does work for real x, but I supplied sympy with that information.

Using your hint to use `log(cosh(x)).rewrite(exp)` I almost got sympy to simplify everything, I only had to substitute for real posive y before before using `simplify`. Strangely enough it did not work using y directly or using a negative real z instead. But I suppose this should be discussed elsewhere,

[2017-05-24 20:25] asmeurer commented on #12626
OK, after some playing around, I believe this is the correct answer

[code]

I added abs inside the square roots, but also notice the sign(x0) on the second term.

I believe this is what is given above. For the first integral, it is correct for x0 >= 0 and for the second, it is correct for x0 <= 0.

[2017-05-24 20:27] Wrzlprmft commented on #12628
That’s what I eventually did. I stumbled upon this when checking something quickly and dirtily and since I didn’t expect SymPy to use random numbers for this (let alone in a way that is not even deterministic), I was rather baffled and it took me a while to find out what happened.

[2017-05-24 23:10] Ramit-Pahwa commented on #12668
Hi, I would like to take this up,I am new to open source contribution ,can point me to the right direction

[2017-05-24 23:15] asmeurer commented on #12668
Start with https://github.com/sympy/sympy/wiki/Introduction-to-contributing if you haven't already.  Then take a look at how `printmethod` works in the printers (sympy.printing).

[2017-05-24 23:18] Ramit-Pahwa commented on #12668
Thanks :),will get on it

[2017-05-25 08:13] ghisvail commented on #12619
@asmeurer, do you think this feature will be provided by `sympy` or should it be implemented separately by the client instead?

[2017-05-25 17:40] alexeistepa opened #12672 "beta latex input not working properly"
Just a basic bug,
When I try to define a symbol beta sympy prints a square followed by 'eta'.

... b
eta
The above was copy pasted from the online shell, I get the same issue when defining beta in my notebooks.

[2017-05-25 21:39] smichr opened #12674 "Piecewise integration test is wrong"
The following test in 'test_piecewise' is wrong:

[code]

as is asserted with these values:

[code]

[2017-05-25 21:59] asmeurer opened #12675 "vectors break pretty printing"
[code]

Also, when it does print correctly, the baseline is wrong (it should be centered).

[2017-05-25 22:06] asmeurer opened #12676 "srepr not defined for vectors"
[code]

srepr should give a string that completely recreates the expression (see how it works for other expressions).

[2017-05-26 06:57] maurogaravello opened #12677 "Definite integral not working"
I noticed that the following code
[code]
does not work. However, if one tries to calculate only the primitive of `expr = sin(x)/(cos(x)**3)`, i.e. `integrate(expr, x)`, then sympy returns the correct answer.

[2017-05-26 07:03] gxyd commented on #12677
It does work for me:
[code]

[2017-05-26 07:11] maurogaravello commented on #12677
What version of sympy do you use?
I tried with the last github version and with both python2 and python3. Unsuccessfully.

[2017-05-26 07:16] gxyd commented on #12677
[code]

[2017-05-26 07:21] gxyd commented on #12677
Does it return anything or just hangs in there for you?

[2017-05-26 07:29] gxyd commented on #12677
Sorry, in the latest master it does hang. My branch wasn't up to date.

[2017-05-26 07:30] maurogaravello commented on #12677
Sympy goes in an infinite loop. After some debugging, I notice that the loop is due to some lines in the `_eval_interval(self, x, a, b)` of `expr.py`. More precisely, at a certain point there is the code `list(solveset(self.cancel().as_numer_denom()[1], x))` and this is an infinite set. Then the next lines, starting with  `for s in singularities:`, are responsible for the infinite loop.
A possibil

[2017-05-26 07:38] andres-ordonez commented on #12626
Thanks for taking a look at it! I agree b is the correct answer.

[2017-05-26 09:58] Hsankesara commented on #12676
Hey, I like to do it. Can you please guide me ?

[2017-05-26 10:37] jksuom commented on #12674
Also the indefinite integral is wrong. It is discontinuous, in general:
[code]

[2017-05-26 13:06] #12666 closed

[2017-05-26 15:24] neihousaigaai opened #12679 "Can't solve integrate(diff(x/2-sin(2*x)/4+(-2/3)*cos(2*x)*sqrt(1+3*cos(x))+(8/27)*(1+3*cos(x))**(5/2)/(5/2)+(8/27)*(1+3*cos(x))**(3/2)/(3/2), x), (x, 0, pi/2))"
Although it's a long expression, it can be solved easily, because `Integral(diff(f'(x),x), x)` is f(x).

[2017-05-27 14:58] KhaledSharif opened #12680 "N(x, y) only rounds numbers that are outside functions"
Using `N(x, y)` to round an equation to `y` significant digits only rounds numbers outside functions and leaves numbers inside functions un-rounded.

The equation before rounding:

`21.1103000640869⋅h + 10.4724082946777⋅h + 3.13671159744263⋅sin(2.47921991348267⋅π⋅t - 1.98505127429962) + 1.2009756565094⋅sin(3.99539756774902⋅π⋅t - 1.89478814601898) + 8.82532326731832`

The equation after rounding to

[2017-05-27 18:12] A-Hilaly commented on #12679
i guess you want to say Integral(diff(f'(x),x), x) is f'(x)

i separated integral and diff , results were ok. so the problem was legibly to integrate the differentiated function.
integrating sqrt(cos(x)) is taking so long too

[2017-05-27 23:57] cylanyl opened #12682 "SymPy symbolic Heaviside simplification"
It seems that, under certain conditions, SymPy (version 1.0) does not apply assumptions to the Heaviside function.

`
import sympy as sp
sp.assumptions.assume.global_assumptions.clear()

# The code below works as expected and applies the assumption to x
x = sp.Symbol('x', positive=True)
print(sp.Heaviside(x))
print(sp.simplify(sp.Heaviside(x)))

# Every method in this section does not seem to prov

[2017-05-28 04:20] smichr commented on #12674
The following is from my `lts` branch which is in a rough state. I'm not sure what should be done: return the potentially many-conditional general solution or just return and unevaluated integral if there are "too many" conditions. (The same dilemma applies to the definite integral.)

[code]

[2017-05-28 06:20] jksuom commented on #12674
One possibility is to transform the function internally into the equivalent form

    Piecewise((0, x <= a), (1, x > c), (2, True)),

where `c = max(a, b)`. Then the integration could yield

    Piecewise((0, x <= a), (-2*a + 2*x, x <= c), (-2*a + c + x, c < x)).subs(c, max(a, b))

Another possibility is to deal separately with the two cases

    a < b:    Piecewise((0, x <= a), (2, x <= b), (1, b

[2017-05-29 00:05] hobenkr88 commented on #12633
This appears to have been fixed in the clone I made two days ago. Tested with:

[2017-05-29 03:13] smichr commented on #12674
This comes back as the following, now:

[code]

[2017-05-29 03:19] smichr commented on #11922
In #12587 this gives:

[code]

[2017-05-29 05:30] siefkenj opened #12685 "[matrices] Rename `jordan_cell` to `jordan_block`"
What sympy calls `jordan_cell` is more commonly called `jordan_block`.  For example, wikipedia has no redirect for "Jordan cell" but "Jordan block" sends you to the relevant page.  Google searches for "Jordan block" immediately show relevant results, while "Jordan cell" shows mostly irrelevant results.  Further, these functions are only used in `matrices` in sympy.

I propose renaming `jordan_cell

[2017-05-29 07:01] asmeurer commented on #12633
Indeed, it seems to be fixed in master.

[2017-05-29 07:01] #12633 closed

[2017-05-29 07:31] jksuom commented on #12674
(-2*a + b + x, Max(a, b) < x),  # this ExprCondPair
    (-2*a + Max(a, b) + x, Max(a, b) < x),  # should be this

[2017-05-29 09:41] #12677 closed

[2017-05-29 09:42] ducminh-phan commented on #11268
Another example:
[code]

[2017-05-29 14:48] moorepants opened #12687 "CCodePrinter is now a function instead of a class"
This behavior is causing downstream issues in PyDy. Notice in SymPy 1.0 the CCodePrinter is a class and now in master it is a function. @bjodah

[code]

[2017-05-29 15:00] bjodah commented on #12687
This is due to `CCodePrinter` being deprecated (and `sympy.core.decorators.deprecated` returning a function)

@moorepants in what way is this causing issues? (use of `isinstance` etc?)

I have personally written a "deprecator" which actually returns subclasses when the wrapped object is a class:
https://github.com/bjodah/chempy/blob/v0.5.1/chempy/util/deprecation.py#L116
would that approach addres

[2017-05-29 15:46] moorepants commented on #12687
I have code that imports CCodePrinter and then subclasses it in PyDy. The current behavior causes the subclassing to fail.

[2017-05-29 15:47] moorepants commented on #12687
Yes, your fix sounds like it would address the issue.

[2017-05-29 16:33] fgrosshans opened #12688 "latex outputs - x + y for -(x+y)"
The following code
[code]
ouptuts
[code]
The second is obviously wrong, and can lead to head scratching when a latex pretty printing is used !

The bug seems limited to -1 : `out=collect_const(-2*x-2*y,-2)` leads to the correct output
[code]

`sympy.__version__=='1.0'`

[2017-05-29 17:44] krcurtis opened #12689 "solve hangs with expression with floating point coefficients / sympy 1.0"
I ran into a problem where solve() was hanging when asked to solve an equation with floating point coefficients:

[code]
When I hit control-C, I get a long stack trace ending in densebasic.py, for example:
[code]

Solve() works fine if I remove the floating point coefficients:

[code]

[2017-05-29 19:40] asmeurer opened #12690 "Eq(pi/L, 0) simplifies to False with L positive"
[code]

If positive doesn't imply finite (we have oo.is_positive == True), then the second case shouldn't simplify.

[2017-05-29 22:04] asmeurer commented on #12688
Seems to be fixed in master.

[code]

[2017-05-29 22:04] #12688 closed

[2017-05-30 04:28] asmeurer commented on #12672
In Python, backslash escapes the next character. `\b` creates an ASCII backspace character (see https://docs.python.org/3.6/reference/lexical_analysis.html#string-and-bytes-literals).

To create a string with a backslash, either prefix the string with an `r`, to indicate that it is a "raw" string, like `symbol(r'\beta')`, or escape the backslash, like `symbols('\\beta')` (the first method of using

[2017-05-30 04:28] #12672 closed

[2017-05-30 19:30] #12657 closed

[2017-05-31 03:48] siefkenj opened #12695 "[matrices] remove dead files `densearith.py` `densetools.py` and `densesolve.py`"
It appears that `densearith.py` `densetools.py` and `densesolve.py` are left over from a half-finished project.  They are used nowhere in the code base, and glancing at the code, are least the row-reduction algorithm appears to be incorrect.

Those modules have to be imported manually.  I propose adding a deprecation warning whenever someone imports them and slate them for removal in sympy 1.2.

[2017-05-31 13:40] certik opened #12697 "test_heurisch.py fails on Travis"
This failure seems to be on master, since it was triggered by the PR #12673 which didn't touch any code that could break it, here is the relevant Travis output:

https://travis-ci.org/sympy/sympy/jobs/236868407

[code]

[2017-05-31 19:54] asmeurer commented on #12697
Perhaps Travis has been running particularly slow with the most recent issues they've been having.

[2017-06-01 10:53] neihousaigaai commented on #12679
Sorry, my mistake. I'll remove the '.

[2017-06-01 12:28] jksuom commented on #12695
The commit message of densearith says

This looks like something that is currently planned for all polys domains, not for gmpy types alone. If that is implemented, then this should apparently be deprecated. Maybe a warning would be appropriate now.

[2017-06-02 03:42] kyle-vigil opened #12701 "cannot import acsch"
All hyperbolic and inverse hyperbolic functions, except acsch, can be accessed from sympy.

Trying `from sympy import acsch`, acsch is the only inverse hyperbolic function to fail.
Trying `from sympy.functions.elementary.hyperbolic import acsch` acsch is again the only inverse hyperbolic function to fail.

Trying 'Run code block in SymPy Live' [here](http://docs.sympy.org/dev/modules/functions/ele

[2017-06-02 05:26] jksuom commented on #12701
It has been importable in master since March 2016.
taylor_term is lacking because acsch is not analytic at the origin.

[2017-06-02 07:03] kyle-vigil commented on #12701
I'm running version 1.0, as is the sympy live shell I linked.  Why does the pre-written code fail in the sympy live shell hosted on sympy.org?

[2017-06-02 12:00] bjodah commented on #12038
I just came across this when writing test cases for rounding to `float32` and `float64` precision, here is
a failing case with just 12 figures:
[code]

[2017-06-02 12:10] isuruf commented on #12038
That's expected. `Float('0.1234567894').n(9)` is not `0.123456789`. It is `8483885973*2**-36`. So when you subtract there is a small difference, but it is less than `10**-9`.

[2017-06-02 12:11] bjodah commented on #12038
@isuruf I see, so round should work then?

[2017-06-02 12:44] isuruf commented on #12038
Round should work. The difference you get is because of the behaviour of `sympify`.
Note that to sympy, `0.123456789` and `Float("0.123456789", 9)` are completely different things. Former has 53 bits of precision (15 decimal digits) while the latter has 9 decimal digits of precision.

[code]

[2017-06-02 12:49] bjodah commented on #12038
ok, but here is a counter example (at least I think so):
[code]
the only way I could get zero here is with the crazy `str`-hack:
[code]

[2017-06-02 12:51] bjodah commented on #12038
So if Float.round lowers the precision, is there any way to make it higher again without going via `str`?

[2017-06-02 13:08] isuruf commented on #12038
Take a look at the source of `Float.round`. It creates a Rational (`rv`) of the type `a/10**n`. Instead of lowering the precision at the end, you can preserve the precision with a new method.

[2017-06-02 19:04] asmeurer commented on #12038
I didn't know about the round method. It seems it tries to do decimal rounding. This should perhaos be changed, or at least documented.

[2017-06-02 19:05] #12701 closed

[2017-06-02 20:35] djsegal opened #12704 "Order of input can break Min/Max calls"
arose from: https://github.com/JuliaPy/SymPy.jl/issues/163

+ `min([0,x])` causes an error
+ `min([x,0])` does not

[2017-06-02 23:20] moorepants opened #12706 "Support code printing and code generation of integrals"
Currently, SymPy does not support any kind of code printing and code generation for Integral() objects. I haven't thought out the breadth of what that would entail but I'd like to open the issue and present one use case. I often write expressions for the objective function for optimization problems and would like them to be able to convert them to numerical functions for evaluation because the ana

[2017-06-03 01:48] asmeurer commented on #12706
Somewhat related to https://github.com/sympy/sympy/issues/7229 for SciPy.

There are so many different ways to do numeric integration, I think you'd need some wrapper objects to represent which algorithm you want to use, like `TrapizoidalRule(Integral(...))`. Of if you want to codegen the algorithm itself, I think SymPy should compute a symbolic representation for it (like a symbolic sum, e.g., `I

[2017-06-03 02:01] moorepants commented on #12706
I like the `as_sum`. You could also have `as_trapezoidal_sum()` and `as_simpson_sum` etc. That seems like a good way to proceed. The wrapper objects are less appealing to me.

[2017-06-03 02:05] moorepants commented on #12706
There is already an `as_sum` method :)

[2017-06-03 02:10] moorepants commented on #12706
For my use case above, we'd need to have `as_sum` output a summation form that could be aware that `x(t)` and `y(t)` are vectors. Using `J.as_sum(500, 'trapezoid')` takes a long time to compute.

[2017-06-03 02:16] moorepants opened #12707 "Integral.as_sum() should output a Sum() object"
Currently, Integral.as_sum() outputs an evaluated summation instead of an unevaluated expression:

[code]

For large n this takes a long time to compute. It seems like this should output an unevaluated sum and if the user wants to expand the sum they'd call `.doit()` on the result. It may not be worth deprecating this behavior, but maybe we need to have a `as_unevaluated_sum()` method.

[2017-06-03 02:17] moorepants commented on #12706
Just opened this: https://github.com/sympy/sympy/issues/12707

[2017-06-03 06:56] jksuom commented on #12704
`min` is a Python built-in that does not know how to handle SymPy objects. Its counterpart in SymPy is `Min`. Thus `Min(0, x)` or `Min(x, 0` should be used in SymPy.

[2017-06-03 12:55] bjodah commented on #12706
I'm not convinced that writing the code-gen machinery to generate one-line wrappers around SciPy functions is worthwhile. It doesn't really save you that much coding, or?

Generating the corresponding C-code (either standalone or based on some established BSD/MIT-licensed library) using e.g. Richardson extrapolation etc. may be more motivated?

[2017-06-03 15:38] moorepants commented on #12706
The one line wrapper is a simple example, albeit a useful one. And yes, I can code it, but that's not the point. The goal should be that all SymPy objects that can have a numerical code representation in other languages should. A user of SymPy should be able to do everything symbolically at a high level, not having to write custom numeric code for objects we've decided not to support. Integrals an

[2017-06-03 18:20] proy87 opened #12709 "ValueError in subs"
`(-512*b**3).subs(-2*b,-a+m)` gives `ValueError: negative shift count`

[2017-06-03 18:49] smichr commented on #12704
Thanks for the reply. Closing issue. BTW, if you have a question about SymPy behavior, feel free to use the mailing list, too, @djsegal .

[2017-06-03 18:49] #12704 closed

[2017-06-03 19:13] siefkenj opened #12710 "Model docstring examples for sympy"
Sympy could use some docs on what is expected for docstrings: how to list args, kwargs, include math, etc.

Nympy has a page that would make a good starting point: http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html

[2017-06-03 23:39] asmeurer commented on #12706
Codegening the quadrature itself also becomes interesting if we couple that with intelligently picking algorithms/parameters based on symbolic knowledge of the integrand. In fact, I would imagine that would be a prime use-case for doing it in the first place, over using a preexisting routine from a library.

[2017-06-04 00:10] moorepants commented on #12706
It may be worth noting that lambdify is simply a wrapper around a single line of code that makes heavy use of existing libraries.

[2017-06-04 21:43] siefkenj commented on #9796
This was fixed with your patch in #12218.  I think we can close the issue.

[2017-06-04 21:45] siefkenj commented on #11309
In PR  #12708, a warning is raised if not all eigenvalues are computed.

[2017-06-04 21:50] siefkenj commented on #5734
This appeared to be resolved in master.

[2017-06-05 05:37] jksuom commented on #9796
Closed on account of #12218.

[2017-06-05 05:37] #9796 closed

[2017-06-05 07:08] jksuom commented on #5734
It seems that the acute floating point issues have been resolved in master, probably after floats were converted to rationals by https://github.com/sympy/sympy/pull/1169. But that will only work as long as the eigenvalues can be computed exactly (quite often, fortunately). Otherwise, no solution is obtained as noted in https://github.com/sympy/sympy/issues/11309. Maybe some kind of fallback proced

[2017-06-05 11:54] bjodah commented on #12706
@moorepants, I can definitely see that it can be useful. I was more thinking about if actual code-generation is needed when targeting scipy? Couldn't we simply add a method to `Integral`—say `numeric_estimate()`—which simply calls SciPy with the integrand lambdified?

But then again, if we want to support code-geneneration for `Integral` targeting different languages I can definitely see the point

[2017-06-05 13:21] rasto2211 commented on #11025
Isn't this issue already solved? Isn't this part of the documentation the answer:
http://docs.sympy.org/dev/modules/printing.html#sympy.printing.printer.Printer ??

[2017-06-05 17:33] Hsankesara commented on #12676
Hey @asmeurer, waiting for your reply.Can I go for this?

[2017-06-05 20:37] asmeurer commented on #12676
Start with https://github.com/sympy/sympy/wiki/Development-workflow, and take a look at the code in sympy/printing/repr.py.

[2017-06-05 21:49] asmeurer commented on #11025
I'd like it if it were a little less hidden (like at the top of that page). Also there isn't an example for adding the printmethod to a custom class.

[2017-06-06 05:41] amitmanchanda1995 commented on #6340
Why is it so ?
[code]

[2017-06-06 09:06] ranjithkumar007 opened #12712 "Complement doesn't work when input is a mixture of Symbols and numbers"
[code]
`{x, y} \ [-10,10]` is expected as output.

[2017-06-06 11:19] jksuom commented on #12712
If `x` and `y` denote `Symbol`s and not `Number`s, they remain in the set `a` when any numbers are removed. The result will be different when they denote numbers, e.g, `x = 5`, `y = 12`.

[2017-06-06 13:48] smichr commented on #12638
@asmeurer , I wonder if this should be added as a quick simplifying test in `simplify_logic` or if it should be done at instantiation of And/Or. I know we tend to not favor automatic simplification but is there a reason that `f(x, y, g(x, z))` should not automatically give `f(x, y)` where `{f:g}` is `{And: Or, Max: Min, Min: Max, Or: And}`?

[2017-06-06 17:08] ayush1999 commented on #12709
How can I view the source code for subs method?
Sorry to interrupt.

[2017-06-06 17:15] ArifAhmed1995 commented on #12709
@ayush1999 Use a debugger like `puDB` , `WinPDB` , etc to step into the function calls triggered by the above statement.

[2017-06-06 17:24] ayush1999 commented on #12709
@ArifAhmed1995 Suppose I use the pdb debugger. I'm not sure how it can help me in finding the source code of subs method. Can you help me out?
Thanks.

[2017-06-06 17:54] ArifAhmed1995 commented on #12709
You should firstly clone the SymPy repository on your local machine.
Look up tutorials for `puDB`. I'm sure there are many available on the net.

[2017-06-06 18:50] asmeurer commented on #12638
My main concern would be with And/Or, if someone wants to represent absorption without the simplification happening. Min/Max you probably just want to simplify as much as possible.

But I suspect for the most part, you would want this to happen, so perhaps an automatic simplification is in order. It's similar in nature to the other automatic simplifications that already happen.

[2017-06-06 19:38] asmeurer commented on #12706
I believe mpmath does some things to try to detect the best quadrature automatically. We could probably start with that, and likely be smarter since we have symbolic knowledge of the integrand.

My idea is mostly just throwing ideas out there. It would help to have a real example to work with.

[2017-06-06 19:43] asmeurer commented on #12638
You need to fix LatticeOp first. Probably it's as simple as adding

[code]

and then subclasses would define

[code]

[2017-06-06 22:37] rasto2211 commented on #11025
Ok, I'll work on this issue.

[2017-06-07 05:52] ayush1999 commented on #12676
@asmeurer , srepr shows all operations and operands in the expression(in a tree kind of format). For example:

`from sympy.vector import CoordSysCartesian
from sympy import *
N=CoordSysCartesian('N')
v=3*N.i +N.j
print (srepr(v))`

This gives the output:
`Add(Mul(Integer(3), N.i), N.j)
`
As you can see, the output also contains N,i and N,j.
Can you explain why output 'e.i' in your code should be a

[2017-06-07 06:58] gxyd commented on #12676
I think it should be something like (thought not sure):
[code]

It is a large expression but easy to see, look at the `__new__` method of [BaseVector](https://github.com/sympy/sympy/blob/master/sympy/vector/vector.py#L352). As `i` has `type(e.i)` is `sympy.vector.vector.BaseVector`.

[2017-06-07 07:44] ayush1999 commented on #12676
@gxyd, But srepr gives only the operations and operands (in a tree format). why should Out[3] be that (as written in your code) ?

[2017-06-07 08:11] gxyd commented on #12676
You can consider `BaseVector` to be an operation with operands `("i", 0, CoordSysCartesian(Symbol("e"), VectorZero(), ImmutableDenseMatrix([[Integer(1), Integer(0), Integer(0)], [Integer(0), Integer(1), Integer(0)], [Integer(0), Integer(0), Integer(1)]])), "e_i", "\\mathbf{\\hat{i}_{e}}")` in that order, which further has `CoordsSysCartesian` as an operation and its arguments operands. It can also

[2017-06-07 11:07] adityausathe commented on #12690
@asmeurer
I am a newbie to the sympy world. I want to work on this one. Could you tell me what is the expected behaviour? Should `Eq(pi/L, 0)` evaluate to `True`?

[2017-06-07 14:40] WarShoe opened #12714 "Generated C code contains x**y expressions"
Both print_ccode() and CCodePrinter().doprint() do not change all expressions A**B to pow(A,B)

Reproducing code example:

[code]

Error message:

The printed C-code fragment contains "a**2" expressions.

SymPy version 1.0

[2017-06-07 15:01] debugger22 commented on #12709
Interesting! This only fails when it can be represented as `2**n` where `n > 7`

[code]

[2017-06-07 15:48] asmeurer commented on #12690
It shouldn't simplify. L could be `oo`.

[2017-06-07 15:51] asmeurer commented on #12676
`srepr` should recreate the expression in a session where only the SymPy names have been imported (for vector it can assume vector names have also been imported). It shouldn't assume that the name `e` has been set to `CoordSysCartesian('e')`. This is generally implemented by printing the full args list. Actually, perhaps the srepr shouldn't even subclass from str printer, but rather have a default

[2017-06-07 23:07] asmeurer opened #12715 "Add warning about modulus variant to elliptic integral documentation"
This just tripped me up. The elliptic integrals in Sympy are defined with the `m` parameter instead of the `k` parameter (`m = k**2`).

See https://en.wikipedia.org/wiki/Elliptic_integral#Notational_variants. We should add some notes to the docstrings to warn about this.

[2017-06-08 05:04] moorepants opened #12716 "Certain strings used as function names have odd behavior when the function argument is a Python float."
I'm not sure why these functions evaluate to floating point values. Shouldn't they remain as `psi(0.0)` and `phi(0.0)`.

[code]

[2017-06-08 05:17] gxyd commented on #12676
Shouldn't we have `CoordSysCartesian('e').i` be considered an object in itself i.e. I see it odd seeing the `.i` property represented in a tree-structure. Also I have always thought of `srepr` to return something in its tree-structure something that can't be further broken-down. Like in out case `CoordSysCartesian('e')` can be further broken down, like
[code]
As you can see its further components

[2017-06-08 07:49] rpz-harode commented on #12710
Hi! I would like to work on this.Please guide me through it.

[2017-06-08 10:37] LejlaMetohajrova commented on #12715
Hi, I would like to work on this. I am new to sympy, but this looks pretty easy so I hope I won't mess it up :)

[2017-06-08 11:10] smichr opened #12717 "BooleanAtom.is_Atom -> False (could/should be True)"
Is there any reason that the following gives False instead of True

[code]

[2017-06-08 13:46] LejlaMetohajrova commented on #12715
I am not able to build the documentation. It shows this error:
`Makefile:121: warning: overriding recipe for target '_build/cheatsheet/cheatsheet.pdf'`
`Makefile:116: warning: ignoring old recipe for target '_build/cheatsheet/cheatsheet.pdf'`
`rm -rf _build/logo`
`mkdir -p _build/logo`
`python ./generate_logos.py -d`
`INFO:root: File saved: ./_build/logo/sympy-notail.svg`
`INFO:root: File saved: .

[2017-06-08 14:18] samyak-jain commented on #12717
Can I work on this?

[2017-06-08 15:19] siefkenj commented on #12710
Great!  The first thing to do is get sphinx working for documentation building on your machine.  Then, survey the existing docs and extract the best practices.  For example, the docstring for `epath` in http://docs.sympy.org/latest/modules/simplify/simplify.html looks pretty good to me.  There are also several good-looking docstrings in `matrices.py`, but there are also some not-so-good looking on

[2017-06-08 18:53] smichr commented on #12638
Whoever understands how meet and join should work to affect the simplification should tackle this. I don't understand it yet. I've also added, to the OP, a couple of other simplifications that can somehow be added.

[2017-06-08 19:51] asmeurer commented on #12676
The tree structure part is just a side-effect of the way it works. It doesn't have to be that way, it just needs to recreate the object. Although note that if we implement the ideas from https://github.com/sympy/sympy/pull/12524 then attribute access in the output should be avoided.

[2017-06-08 19:52] smichr commented on #12717
Sure!  I would recommend a single line fix in BooleanAtom, right after `is_Boolean = True` :-) And then add a test function to `sympy/logic/tests/test_boolalg.py` that demonstrate that this now works.

[2017-06-08 20:43] rpz-harode commented on #12710
Thanks @siefkenj for this opportunity.Looking forward to contributing to this organisation.Just one thing , I am complete newcomer to this organisation so please bear with me , so that we can make the learning process faster.Also can I contact you one-to-one if I have some query.That would be great.

[2017-06-08 21:26] siefkenj commented on #12710
That's great.  New contributors are always welcome!  Questions related to this project should be asked here, if they'd be relevant to others trying to understand why a decision was made a certain way.  General questions, you can ask on Gitter.  https://gitter.im/sympy/sympy  I am in and out with my work schedule, so I'm not always timely, so it's best to ask questions on Gitter.  (Plus, I only kno

[2017-06-09 05:16] undefx commented on #11638
Replace your very last line:

[code]
with this:

[code]
---

+1 for close

[2017-06-09 08:01] #12715 closed

[2017-06-09 12:10] smichr commented on #12717
Looks good...now if you make a pull request we can get this committed.

[2017-06-09 12:59] valglad opened #12723 "Deprecate has_Field/Ring for domains and replace with is_Field/Ring"
The pr modifies `sympy/utilities/tests/test_pickling.py`. This is temporary and should be removed when `has_Field` and `has_Ring` are fully replaced.

The modification is adding `check_attr=False` to all the calls of `check()` in `test_pickling_polys_domains()`.

[2017-06-09 14:57] samyak-jain commented on #12717
I made the pull request. However, according to travis, some tests failed.

[2017-06-09 16:07] maurogaravello opened #12724 "Simplification with assumptions: refine and abs"
The following code
[code]
returns `ref1 = x` and `ref2=Abs(x*y)`. Clearly `Abs(x*y)` is correct, but I think that a better result should be  `x*Abs(y)`.

[2017-06-09 18:26] samyak-jain commented on #12724
Actually it seems none of the refine methods work well on multiple variables

'refine((-1)**(x*y), Q.even(x))'

gives (-1)**(x*y) even though it should give 1

I think I will try working on this.

[2017-06-09 19:25] maurogaravello commented on #12724
@samyak-jain Your example is not completely correct. Indeed if `x = 2` and `y = 1/2`, then `x*y = 1` and so `(-1)**(x*y) = -1`.

[2017-06-09 22:22] smichr commented on #12717
I see it. It was just a test that took too long and timed out. I restarted it and will commit after it passes.

[2017-06-10 12:06] #12717 closed

[2017-06-10 18:33] rpz-harode commented on #12675
Hi @asmeurer . I would like to work on this issue . Could you help me with the same ?

[2017-06-10 19:11] samyak-jain commented on #12724
Good point. Didn't think of that. That means the problem is only with refine_abs()?

[2017-06-10 21:53] davidpoensgen opened #12731 "Lambdify and Matrix : considerable slowdown for large sizes"
I recently updated to 1.0.1dev and noticed that parts of my code ran much, much slower, for some configurations seemingly endless. (Ran fine with sympy 1.0).

Trying to pin down the problem, it seems that using `lambdify` on larger matrices is surprisingly slow in 1.0.1:

[code]
My timings were
[code]

Interestingly, the problem does not seem to appear when using `SparseMatrix` even when the matri

[2017-06-10 22:10] siefkenj commented on #12697
I think the Travis splits need to be rebalanced.  `SPLIT="1/4"` seems to be timing out a lot.

[2017-06-10 23:05] moorepants commented on #12731
Interesting. Would you mind profiling the two cases for us and reporting the results here?

[2017-06-11 10:17] davidpoensgen commented on #12731
Gladly, with the caveat that I'm quite new to programming in general and sympy/python specifically, so I might have no idea what I'm doing.

With `Matrix`:
[code]
(Not sure if I pasted too much/little; will gladly update upon request.)

With `SparseMatrix`:

[code]

[2017-06-11 14:49] maurogaravello commented on #12724
I do not know whether the problem is only with `refine_abs()`.
However, I think that fixing this issue is important for simplification purposes.
@samyak-jain Are you working on this?

[2017-06-11 21:42] samyak-jain commented on #12724
@maurogaravello yes i am giving it a shot

[2017-06-12 13:52] smichr commented on #4313
In #12587 the equivalent method, `piecewise_integrate`, gives:

[code]

(The normal `integrate` in #12587 gives the *continuous* integrated result as a function of x...but that may change depending on feedback.)

[2017-06-12 14:56] Upabjojr opened #12738 "More unevaluated operators for the vector module"
We have introduced unevaluated expressions for some vector quantities:
https://github.com/sympy/sympy/pull/12696

This can be extended to include other operators, like:

- `Cross`, `Dot` operators (for cross and dot products),
- the laplacian,
- directional derivatives

[2017-06-12 14:57] Upabjojr commented on #12738
@szymag low priority issue, maybe later this summer.

[2017-06-12 15:00] szymag commented on #12738
Sure, we can do it comprehensively

[2017-06-12 15:38] smichr opened #12739 "sqrt splits out non-real factors"
[code]

It does this because that factor is nonnegative (but it's not real so it should remain in the sqrt).

I have this fixed in #12472; this is here as a reminder to make sure this is tested.

[2017-06-12 16:10] smichr commented on #5227
This now work in #12587

[code]

Notice that if x == 5 then the integral at y=6 is just 1 in the new PR instead of 6 in master.

[2017-06-12 16:34] smichr commented on #6900
In #12587 this gives:

[code]

[2017-06-12 17:46] smichr commented on #12674
OK, I updated the indefinite integration to work with the Min/Max sorted intervals and this now comes back as

[code]

I'm not sure how to get your result but the two evaluate to the same thing. Here is the approach I am taking to compute the continuous expression:

[code]

[2017-06-12 18:07] smichr commented on #12674
Oh, I see. In each interval I just want the upper limit to be `x` and let the condition on that piece limit what x can be, so the result should be:

[code]

[2017-06-12 18:13] jksuom commented on #12674
The first interval may be unbounded (`a == -oo`) and the definite integral may be infinite, Perhaps the first sum piece could be just the antiderivative `anti`.

[2017-06-12 20:21] smichr commented on #12674
Yes, that is what some of the tests reminded me about: if you don't do this then you end up with an infinity tagging along if the first interval has a non-0 integrand.

[code]

You might have noticed that I opened a new PR. I am trying to factor out some of the pieces to make the review easier. If all the tests pass, I don't have anything more that needs to be done. (I am expecting some tests to f

[2017-06-13 07:07] kkosmidis opened #12742 "Bug of vector norm function"
x=symbols("x",real=True)
v=Matrix([1,1,sqrt(x)])
v.norm()

The above returns sqrt(-x+2) instead of the correct sqrt(x+2)

[2017-06-13 11:58] ayush1999 opened #12744 "Cannot Evaluate I**I"
This gives the output:

Although output should be equal to e**(-pi/2)

[2017-06-13 12:59] jksuom commented on #12744
Powers with non-integer exponents are defined in SymPy via logarithms: `I**k = exp(k*log(I))`.
The logarithm is multivalued, in particular, `log(I)`  takes the values `I*pi/2 + 2*n*pi*I` where `n` is an integer.
Therefore the possible values of `I**k` are `exp(k*I*pi/2)*exp(k*2*n*pi*I)`. If `k` is an integer, this is well defined since the second factor has value 1. However, if `k == I` then the s

[2017-06-13 13:05] ayush1999 commented on #12744
But when i say:

The output comes out to be:
(I*sinh(1))**I

Though the exponent here is non integer, non real , we get the correct answer even without using log.

[2017-06-13 13:21] jksuom commented on #12744
But `(I*sinh(1))**I` is fully analogous to `I**I`. It also contains implicitly an infinite number of different values.

[2017-06-13 13:30] jksuom commented on #12744
In principle, it could be possible to return one of the many values, but that is not currently done. I suppose that is because SymPy is basically oriented towards symbolic computations instead of numerical calculations.

[2017-06-13 13:43] szymag commented on #12742
I have run your program with the newest version of SymPy and I get correct result:
[code]
[code]

[2017-06-13 18:01] samyak-jain opened #12745 "Refine function does not allow new_expr to be an expression"
In refine.py, the refine function is the following
[code]

I don't understand why do we have the lines
[code]

It implies that the new_expr formed by returning from the handler functions should not be an expression. Why is that?

[2017-06-13 20:17] kkosmidis commented on #12742
In sympy version 1.0 it produces the wrong result
 sympy.__version__
Out[8]: '1.0'

In [2]: from sympy import symbols, sqrt
   ...: from sympy.matrices import Matrix
   ...: x=symbols("x",real=True)
   ...: v=Matrix([1,1,sqrt(x)])
   ...:print(v.norm())

sqrt(-x + 2)

[2017-06-13 22:38] davidpoensgen commented on #12731
After digging a bit into the above, it seems that the main cuplrit is `.tolist()` of `MatrixShaping`, which would in turn call

[code]

which ultimately leads to a very large number of ``.__getitem__`` calls:, this has to do with the way items are extracted if the key is not a pair of integers, but e.g. `[0,:]` - in that case, the call is done via

[code]
Note that `list(self)` will call `__getite

[2017-06-14 02:24] siefkenj commented on #12552
Is this bug ready to close?

[2017-06-14 02:26] siefkenj commented on #12381
Has this been implemented?  Is it time to close this bug?

[2017-06-14 04:52] isuruf commented on #12731
See #12729

[2017-06-14 10:00] TobiSchluter commented on #12576
Hi, I just stumbled on your answer again.

Just a point: powers of complex numbers involve branch cuts. While in simple cases such as x**(1/2) one can probably fall back on a standard definition (such as the usual choice for the square root to have the branch cut along the negative real axis with the negative real axis included in the upper half) it is not really possible to naively combine comple

[2017-06-14 11:55] valglad commented on #12576
Hmm, I haven't thought of the issue with branch cuts. I suppose what SymPy currently does is treating fractional powers as multivalued complex functions and returning some element of the relevant set of values. Fractional powers with even denominator in the reals are also multivalued but there it's easy to use positivity to choose an element consistently. In the complex world, however, different b

[2017-06-14 13:14] smichr commented on #12576
This is really unexpected. I used just the simplest replicating expression and find:

[code]

[2017-06-14 16:16] adityausathe commented on #12716
- Any `f(<float>)` call first checks function name `f` against inbuilt library functions/constants of `mpmath` and invoke the corresponding method/value.

- In this case `phi` is actually a `mpmath` constant and `psi` is a method(probably). Please, see [http://mpmath.org/doc/current/functions/constants.html#golden-ratio-phi](url)

[2017-06-14 17:53] skirpichev commented on #12744
@jksuom, but ``Pow(b, e)`` assume the principal value of ``exp(e*log(b))``, isn't?

[2017-06-14 18:19] jksuom commented on #12744
I agree that it would be a natural way of defining the value, but it seems that it not currently implemented so.

[2017-06-14 18:52] iteachmachines commented on #12744
@jksuom is correct (I*sinh(1))**I is fully analogous to I**I. It  contains implicitly an infinite number of different values and it is made for symbolic computations instead of numerical calculations.

[2017-06-14 19:08] skirpichev commented on #12744
I'm not sure that your assumptions helpers are implemented in a way, that doesn't assume this.

Or even `_eval_power()` helper:
[code]

[2017-06-14 19:17] PrometheusPi commented on #11017
I ran into the same problem today:

[code]
with `res1_values = log(5)/4)` while `res2_values = log(5)/4 + I*pi/4`.

Considering `I*pi/4` an integration constant is not a problem.

I want to calculate a definite integral of similar form - thus the integration constant should cancel out.
Since the expression still contains symbols, sympy is not able to cancel out the imagninary integration constant.

[2017-06-14 20:14] asmeurer commented on #12744
I remember there being another issue about this, but it's almost impossible to search for in the issue tracker. I thought I remembered there being a way to make SymPy convert `I**I` to `exp(-pi/2`), but I can't find it now. I agree with @skirpichev that Pow generally only assumes the principal value. If you want multivalued expression, it's much better to add a variable to represent that, and poss

[2017-06-14 20:18] asmeurer commented on #11017
The only related simplification methods are `logcombine` and `expand_log` (possibly with the `force=True` flag). But I don't know if they will help here without some coercion because SymPy won't recognize that there is a `-1` factor to be expanded.

This method "works", but it's super finicky (it breaks if you switch the signs for some reason).

[code]

[2017-06-14 20:55] skirpichev commented on #12744
Then it worth documenting, if that's assumed.

[2017-06-14 20:55] symbolique opened #12746 "simplify() removes terms in series expansion with fractional powers at infinity"
All the terms in this series are incorrectly removed:
[code]
But the bug does not appear when only 2 of the 3 terms are present.

[2017-06-14 20:58] symbolique opened #12747 "Missing constant coefficient in Taylor series of degree 1"
[code]

[2017-06-14 23:14] siefkenj commented on #12731
@davidpoensgen This is some great investigating.  I noticed the `self._mat` problem for immutable matrices, but not the `to_list` slowdown.  Though I would hope `lambdify` would only call `tolist()` once...

[2017-06-15 00:28] siefkenj commented on #12731
Optimizing `to_list` gives another 20% speedup.  It looks like the remaining slowdown for `ImmutableDenseMatrix` is that `lambdify` is calling `xreplace` for each entry whereas it used to only call it once.

The profiler claims this is happening in `sympy/utilities/lambdify.py` on line `530`.

[2017-06-15 05:10] moorepants commented on #12716
That sounds like bad behavior then. I would expect this to operate consistently for all function names. It is odd to expect the user to know that there are some combinations of characters for function names that cause evaluation of arbitrary functions.

[2017-06-15 06:50] adityausathe commented on #12716
Do you want to get rid of that `mpmath` check? But, we don't why it was there in the first place. I can work on this one. Since, I'm newbie over here, it'll help me to get started.

[2017-06-15 08:36] firedranzer commented on #12723
Hi @valglad ! I would like to work on this issue . Guide me for this .

[2017-06-15 10:14] Patrick-Dietrich opened #12750 "Sums with KroneckerDelta not handled correctly"
KroneckerDelta within Sum is not handled correctly .
Example:

[code]

[2017-06-15 10:26] Patrick-Dietrich opened #12751 "Partial derivatives of Sum with indexed variables should NOT yield KroneckerDelta"
Example:

[code]
Related issue: #12750

[2017-06-15 11:14] jksuom commented on #12750
`S` is a `Sum` object, even after simplification. It can be evaluated by `S.doit()`.

[2017-06-15 12:05] Patrick-Dietrich commented on #12750
Thank you that helped.

[2017-06-15 12:05] #12750 closed

[2017-06-15 12:07] Patrick-Dietrich commented on #12751
[code]

[2017-06-15 12:07] #12751 closed

[2017-06-15 12:41] moorepants commented on #12716
@asmeurer @smichr Would you all call tis expected behavior or is this unintended?

[2017-06-15 13:43] valglad commented on #12723
It's too early. The deprecation has to stick around for a while to give the users time to get used to the new names. I've created the issue to make sure the changes are removed when enough time has passed.

[2017-06-15 15:28] videlec opened #12753 "sympy behavior depends on gmpy2 installation"
Once `gmpy2` is installed, the following fails

    import sympy
    v = sympy.Symbol('v')
    sympy.summation(1/((2*v+1)**2-4)**2, (v, 0, sympy.oo))

with [sympy_traceback.txt](https://github.com/sympy/sympy/files/1078236/sympy_traceback.txt)

- possible fix in #12784
- downstream report from Sage is [ticket #23248](https://trac.sagemath.org/ticket/23248)

[2017-06-16 14:30] ayush1999 opened #12756 "INVALID OPERATION (INVERSE TRIGONOMETRY)"
**Gives the output**

**Though asin(2) is not possible, due to which the whole expression becomes invalid.
_(sin(asin(x)) when x is not in the range of [-1,1] is invalid)_**

[2017-06-16 14:33] nebnola commented on #12742
abs(sqrt(x)) returns sqrt(-x), which is not true. If abs() is passed a SymPy expression, it will be handled by the Abs() class, defined in sympy/functions/elementary/complexes.py
This is the part that deals with powers (where arg is the expression of which you try to calculate the absolute value):
[code]

I just don’t know where to go from there.

[2017-06-16 16:14] jksuom commented on #12756
In SymPy, trigonometric functions and their inverses are defined for complex arguments. Also `asin(2)` is defined, it has multiple values that are complex and `sin` has value 2 at each of them.

[2017-06-16 17:53] ayush1999 commented on #12712
@jksuom @gxyd I Wish to solve this issue. Can you please tell me from where should i start?
Thank You.

[2017-06-16 20:28] firedranzer commented on #12707
Hi @moorepants ! I want to work on this issue .

[2017-06-16 20:37] firedranzer commented on #12695
@siefkenj Is this issue still open? I would like to work on this issue.

[2017-06-16 20:39] firedranzer commented on #12689
Hi @krcurtis ! I would like to work on this issue.

[2017-06-17 05:37] harsh4123 commented on #12668
since there is no activity from Ramit-Pahwa ,i would like to work on it .

[2017-06-17 07:44] jksuom commented on #12712
I'd start by studying how the complement is computed in different cases.

[2017-06-17 08:04] #12756 closed

[2017-06-17 09:24] szymag opened #12759 "pretty printing of nabla operator in vector module"
Currently, `delop` operator (in mathematics 'nabla') is created inside constructor of `CoordSysCartesian` and his pretty representation is `name.delop`, where `name` is name of `CoordSysCartesian`.

After removing dependency between `CoordSysCartesian` (#12749), we can create pretty representation of this operator as in mathematics, using `\nabla`

[2017-06-17 09:25] szymag commented on #12759
@Upabjojr,
low priority issue, but easy to fix.

[2017-06-17 10:20] szymag opened #12760 "Update documentation for vector module"
Corresponding to changes in #12720 and #12749, the documentation should be updated:
http://docs.sympy.org/dev/modules/vector/basics.html
http://docs.sympy.org/dev/modules/vector/fields.html#scalar-and-vector-field-functionality

[2017-06-17 10:27] rasto2211 commented on #12714
When I run the code with the current version of SymPy which is in pip3 (SymPy 1.0) then I get this output:
[code]
I can see that the problematic part is:
[code]

However, it seems that this issue has been fixed in `Sympy 1.0.1.dev`. That is the current version that is on master. The output of your script is:
[code]
The buggy part looks like this:
[code]
I think that is is correct now. When I grep

[2017-06-17 10:42] rasto2211 commented on #11495
Well, the question is which LISP dialect we want to support. For example, racket has a power function which is called [expt](https://docs.racket-lang.org/reference/generic-numbers.html#%28def._%28%28quote._~23~25kernel%29._expt%29%29). There are couple LISP dialects which might differ a bit. For example: Common Lisp, Scheme, Racket... Which LISP do we want to primarily support?

[2017-06-17 11:47] harsh4123 commented on #12760
@szymag i would like to work on it

[2017-06-17 14:30] moorepants commented on #12714
It would be worth finding which commit fixed this by bisecting and seeing if a regression test has been added. If there is no regression test, it would be worth adding.

[2017-06-17 15:24] siefkenj commented on #12695
@firedranzer It is!  You just need to add a deprecation warning to those files and fix the tests to handle the deprecation warning.  You can look at how the deprecated tests in `test_matrices.py` are handled.

[2017-06-17 16:32] moorepants commented on #12707
Go for it!

[2017-06-17 16:49] Upabjojr commented on #12759
Yes, both pretty printing and LaTeX printing.

We should do the same for the unevaluated expressions (the classes we've created, `Gradient`, `Divergence` and `Curl`, and the ones that haven't been created yet, like `Cross` and `Dot`).

[2017-06-17 16:50] Upabjojr commented on #12759
Printers are located in `sympy/printing`, LaTeX printer returns a string while the pretty printer is a bit more complicated, but you can look at the other classes to see how to do it.

[2017-06-17 16:55] Upabjojr opened #12763 "Vector module: make sure all elements in the expression tree are SymPy objects."
There are instances where `.has(...)` raises exceptions, this should never happen. Apparently Python integers are passed to the expression tree without being converted to SymPy integers.

[2017-06-17 16:55] Upabjojr commented on #12763
@szymag this is low priority.

[2017-06-17 17:52] nebnola commented on #12742
Turns out the problem was already fixed. You won’t see this issue anymore when the updates are rolled out. I recommend this issue to be closed.

[2017-06-17 18:53] szymag commented on #12760
Great. In first step, we need to remove information that this module deals only with Cartesian coordinate, see
http://docs.sympy.org/dev/modules/vector/basics.html
and
#12720

[2017-06-17 20:09] rasto2211 commented on #12714
This commit returns correct output:
49b4fa8e40379f4956db0cd2605972b5d8baa8c2
and this one returns incorrect output:
05179116ffce339b480a9d3fee68981da4f5f313
I had to reverse the exit codes in `git bisect` in order to find the newest incorrect commit.

The "correct" commit adds `test_ccode_Pow()` to `sympy/printing/tests/test_ccode.py` and I think that it tests all the cases that we want.

[2017-06-17 20:32] firedranzer commented on #12707
@moorepants Any kind of help will be appreciated.I'm new to this organization.

[2017-06-17 21:32] moorepants commented on #12707
Start here: https://github.com/sympy/sympy/wiki/introduction-to-contributing

Read the materials, setup your dev environment, and do the tutorial.

[2017-06-17 21:57] asmeurer commented on #12710
There's [this](https://github.com/sympy/sympy/wiki/Writing-documentation#docstrings). We could make that page easier to find, or move it to the docs (so far, most documentation for development on SymPy itself is on the wiki).

[2017-06-17 23:56] oscarlazoarjona opened #12766 "Add Wigner D matrices"
We should have [Wigner D matrices](https://en.wikipedia.org/wiki/Wigner_D-matrix) in sympy. They fit nicely in the physics.wigner module. I have functions `wigner_d_small` and `wigner_d` as defined in [1] that I would like to add.

[1] [A. R. Edmonds. Angular momentum in quantum mechanics](http://press.princeton.edu/titles/478.html). Investigations
     in physics, 4.; Investigations in physics, n

[2017-06-18 02:11] asmeurer commented on #12744
There is some discussion in the `root` docstring, but only for real bases.

[2017-06-18 09:14] LejlaMetohajrova commented on #11702
Looks like this was fixed by #12359. Is there anything else to do? Shouldn't this and #12359 be closed?

[2017-06-18 14:15] WarShoe opened #12769 "Slow limit() calculation?!"
I am not 100% sure it is a (performance) bug, but I observe something strange when I use limit().

I have a function f(x,y) and I want to calculate f(x,x). This can be achieved by:
`f.subs(y,x)`
or with
`limit(f,y,x)`

I have a good function, where f(x,x) is defined. So the simplest substitution `f.subs(y,x)` just works.  But when I try to use limit(), sympy goes to deep thinking and never returns

[2017-06-18 15:36] rasto2211 commented on #11495
I think that the choice of LISP dialect depends also on the main use case of this new printer. What is the main use case of this printer? @asmeurer

[2017-06-18 19:09] lej-la opened #12773 "Rust printer runs wrong method"
This code demonstrates the issue:

[code]

[2017-06-18 19:14] LejlaMetohajrova commented on #11821
I made a patch that fixes this issue (#12772). However it is not implemented for rust language yet due to the issue #12773
Could someone please check that or navigate me how to solve that? Thanks.

[2017-06-18 20:35] BenediktEberhardinger commented on #12690
I am also new and just started working on that issue by adding a test case that reproduces that bug.
I debugged the cause of the failure: it is in core.relational.py line 331 introduced by fixing #10728
The difference of `pi/L` and `0` is commutative and not zero thus `False` is returned.
From my point of view the fix to replace line 331 by
`if z is False and not dif.is_complex:`
I just wanted to

[2017-06-18 23:53] user234683 opened #12774 "solveset() solutions need extra conditions when other symbols are involved"
Suppose we want to solve for 'x', and our equation involves another symbolic parameter 'a', whose value we also don't know. If 'a' has certain values, the equation might not be solvable because it results in 'x' disappearing. Examples:

x**a = 1
x*a = 0
x/a = b

The naive solutions to these equations are only valid if a != 0.
So solveset(x*a, x) should return {0} \ {a} instead of just {0}, similar

[2017-06-19 02:31] #11702 closed

[2017-06-19 02:32] asmeurer commented on #11495
I believe Common Lisp and Scheme are the most common. Clojure I would consider to be a separate language.

[2017-06-19 05:49] ayush1999 opened #12775 "Trouble finding roots"
`from sympy import *`
`expr=sqrt(2*I)`
`print(expr)`

This prints
`(-1)**(1/4)*sqrt(2)`
which is actual same as expr.

**But, 1+I is the root of 2*I.
Shouldn't 1+I be the correct answer?**

[2017-06-19 06:39] jksuom commented on #12775
There some ongoing work on this: https://github.com/sympy/sympy/pull/12472.

[2017-06-19 07:41] ayush1999 commented on #12775
@jksuom Also, Can we calculate line integrals or surface integrals using sympy?

[2017-06-19 09:05] chaihahaha opened #12776 ""sympy.plot_implicit(Or(Eq1,Eq2),(l,0,10),(g,0,30))" diverge and the plot is wrong."
from sympy import log, Eq, symbols,Or
    from sympy import plot_implicit
    l, g = symbols('l g')
    r = 1.1
    b = 2
    b0 = 1
    plot_implicit(Or(
    ”“”Eq1“”“    Eq(log(10 * r - r * l * b / (r + 1) - log(g) * b * r / (b0 * (r + 1)))
             + l * b / (r + 1) -r * b * log(g) / (b0 * (r + 1)) - log(10 * r)),
    ”“”Eq2“”“    Eq(log(9 * r - r * l * b / (r + 1) - log(g) * b * r / (b0 *

[2017-06-19 09:14] jksuom commented on #12775
There is 'line_integrate` that computes the integral of a function along a curve. A ready-made function for surface integration does not seem to exist. One has to explicitly transform the surface integral to plane using a parametric representation.

[2017-06-19 10:30] ayush1999 commented on #12775
@jksuom  Don't you think there should be a module for line, surface and volume integrals? I mean they are widely used throughout maths. It could maybe come under the vectors section.

[2017-06-19 10:40] jksuom commented on #12775
It has been one of the GSoC ideas: https://github.com/sympy/sympy/wiki/GSoC-2017-Ideas#implementation-of-vector-integration.

[2017-06-19 12:51] PrometheusPi commented on #11017
Thanks for the input. This works great as a replacement:
[code]

Is exactly what I wanted.

Is there a method how to do this for arbitrary symbolic arguments in `log( anything -1 )`?
For example various `log(a*x -1 )`, `log(b*x-1)`, ...

[2017-06-19 19:03] abhigyank commented on #12600
Is this issue open?

[2017-06-19 23:08] bjodah commented on #12411
It turns out that the new implementation is not "only" 4x slower: it scales **much** [worse](https://github.com/sympy/sympy_benchmarks/pull/38) with the size of the expression. I would be in favor of simply merging `cse.py` from `sumpy` back into SymPy (if @mattwala approves, don't know if MIT vs. BSD license is an issue). I can volunteer to fix merge issues.

We can then add some larger expressio

[2017-06-19 23:37] asmeurer commented on #12411
If @mattwala we can just license it under the SymPy license. I would also be in favor of just reverting whatever relevant PR(s).

[2017-06-19 23:37] asmeurer commented on #12411
If @mattwala we can just license it under the SymPy license. I would also be in favor of just reverting whatever relevant PR(s).

[2017-06-20 07:31] mattwala commented on #12411
What's the best way of doing that?

[2017-06-20 10:50] #12742 closed

[2017-06-20 12:16] christophesaintjean opened #12777 "Different results for integrate in sympy and wolfram alfa"
Hi,
   i am trying to compute :
  $$\int log(\frac{x}{1-x} dx, for x in ]0,1[$$

   With Sympy, it gives :  $$G(x) = x*log(x/(1-x)) + log(x - 1)$$
   With Wolfram alpha, it gives $$G(x) = x*log(x/(1-x)) + log(1 - x) + cst$$

   Maybe these two results are correct but only the second one can be used in $]0,1[$

   Any ideas ?
C.

[2017-06-20 12:45] smichr commented on #11506
One way to handle this is to look for inverted generators...I had to do this in the old `solve` function.

[2017-06-20 12:54] jksuom commented on #12777
The results differ only formally since `log(1 - x) = log((x - 1)*(-1)) = log(x - 1) + cst` where `cst = log(-1)`. Hence the integral over the interval (0, 1) can be computed also with SymPy:
[code]

[2017-06-20 16:45] christophesaintjean commented on #12777
My bad, thank you ;)

[2017-06-20 16:45] #12777 closed

[2017-06-20 18:33] asmeurer commented on #12411
The BEST way is if you submit a pull request. :)

But as far as the license goes, you just need to agree that we can use your code in SymPy, under the SymPy license (so that we don't have to mess with copying the sumpy license).

[2017-06-20 21:16] firedranzer commented on #12707
@moorepants I've read the materials.
Coming back to the issue tell me about the changes need to be done and point me to the files to be worked with.

[2017-06-20 23:29] moorepants commented on #12707
Here is the associated code: https://github.com/sympy/sympy/blob/master/sympy/integrals/integrals.py#L993

I suggest seeing if the reviewers would accept a deprecation so that we can change the behavior of `as_sum` but if not you'll need to create a new method. It would also be worth determining if the `Sum` object has duplicate code for the expansions in it's `doit()` method.

[2017-06-21 05:41] smichr commented on #12775
Handling of these sorts of roots is added to the last commit.

[2017-06-21 13:34] OppenheimerAndTheMartians commented on #12766
I'd like to help you with this, if possible. Been a while since I've cracked open Sakurai, though...

[2017-06-21 16:10] oscarlazoarjona commented on #12766
Sure, well I have added a pull request. Maybe you could check the code and approve it if you think it is ok. The Travis CI build failed, but I think this is because of some bug on their side, as far as I can see. Thank you for your interest!

[2017-06-21 17:51] asmeurer opened #12779 "Risch algorithm could split out more nonelementary cases"
From discussion on jksuom/sympy gitter channel (starting [here](https://gitter.im/jksuom/sympy?at=5947568d22d02adf2881a73a)).

Currently in Risch, if `integrate_hyperexponential` or `integrate_primitive` fails, the whole polynomial part is returned as nonelementary. But actually, it should try to recursively compute the constant term. This would let it split out integrals like `risch_integrate(x +

[2017-06-21 21:08] asmeurer opened #12780 "Idx should not require integer assumptions"
[code]

Requiring assumptions is an antipattern. It should only fail if `is_integer` if False.

[2017-06-21 21:16] asmeurer opened #12781 "Indexed docs should be clearer about how code printers handle it"
[code]

The C loop runs from `[0, n]`, the Fortran loop runs from `[1, n+1]`, that is, it increased the index by one.

So two things here should be documented:

- The upper limit is included (unlike what you might expect with ranges). This makes sense since you can also use `Idx` in `summation`, but it should be documented better.
- In 1-indexing languages such as Fortran or Julia, the loop indice

[2017-06-22 02:28] GuyInALabCoat commented on #12780
Hi @asmeurer,

Going through the `Idx` docstring, it states that

    integer arguments.  The only exception is that you can use ``-oo`` and
    ``oo`` to specify an unbounded range.  For all other cases, both label and
    bounds must be declared as integers, e.g. if ``n`` is given as an argument
    then ``n.is_integer`` must return ``True``.

Therefore it appears that you must declare your symb

[2017-06-22 04:47] Rufflewind opened #12782 "Naming of modules and functions"
The current naming system where modules and functions have the same name makes it tricky to import the modules because functions always take precedence.  This has led to at least two StackOverflow questions:

  - https://stackoverflow.com/q/41214303
  - https://stackoverflow.com/a/22375385

There's a workaround (below), but it still doesn't let you import the module itself, just its members.  So y

[2017-06-22 04:51] trxrunner opened #12783 "No algorithm implemented to solve expression with LambertW"
Sympy cannot solve this simple expression with LambertW
[code]

[2017-06-22 07:42] asmeurer commented on #12780
Yes, this is the current behavior. But it should work with just `symbols('n')`. It should only check if `is_integer` if `False`, and not fail if it is `None`.

[2017-06-22 15:42] #12687 closed

[2017-06-22 18:13] smichr commented on #12783
Hmm...we recognize when solutions should be given in terms of LambertW but didn't include this one. Are there branches to worry about or is exp(x)*x always the solution?

[2017-06-22 19:52] trxrunner commented on #12783
I believe exp(x)*x is always the solution.

[2017-06-22 20:49] smichr opened #12787 "cancel should recognize non-Symbol generators"
This is being opened as a sub-issue of #11506 in which this issue is raised.

[2017-06-22 21:17] asmeurer commented on #8997
But `-O0` is quite common for generated code. `-O1` ranges from taking ~hours to compile to just never finishing (or crashing the compiler) for large code generated expressions. Even if you can split out the proper flag from the compiler, it would be much simpler to just output things better in the first place.

[2017-06-22 21:40] smichr commented on #11506
`cancel` creates Polys from the numerator and denominator of the given expression. In the first case, they are `(1 + exp(x), exp(x))` and in the second case `(log((1 + exp(x))/exp(x)), 1)`. Then these are passed to Poly. When creating Poly instances, `expand` is used. There is nothing to expand in the first case while the argument of the log gets expanded in the second case.

[code]

One way to ma

[2017-06-22 22:36] asmeurer commented on #12782
Yeah, I've seen this issue before. The problem (I believe) is that `from module import submodule` only works because Python defines `submodule` in `module/__init__.py` automatically. But if you redefine `submodule` in there, say by importing a function by the same name, you lose the ability to access `submodule` from the `module` namespace. It's honestly pretty dumb that `import sympy.printing.pre

[2017-06-22 22:37] #12753 closed

[2017-06-22 22:38] asmeurer commented on #12731
Can this be closed? If not, should it be a blocker for the release?

[2017-06-22 22:39] smichr commented on #12783
If you want to give #12785 a look, I have a proposal there for a SymPy update.

[2017-06-23 02:40] smichr commented on #12782
Is it worthwhile to add a helper?

[code]

[2017-06-23 06:46] gxyd opened #12788 "Documentation 'display' of '.is_number' function"
In the documentation http://docs.sympy.org/dev/modules/core.html#sympy.core.expr.Expr.is_number , it should display `.is_number` normally, currently it is showing it with a subscript of 'n'. Also is the case with `if not self.free_symbols`, that should also be changed to display normally.

[2017-06-23 08:04] cbm755 opened #12789 "octave_code: incorrect matrix arithmetic"
Octave/Matlab makes a distinction between multiply and elementwise multiply (hadamard).  Same for exponentiation.  codegen assumes that folks will want to vectorize arithmetic over symbols.  For example:
[code]

But our logic to decide which operation to use could be improved.  This is mostly heuristic so I'm sure there will always be corner cases, but here's a few things we get wrong:

[code]
(th

[2017-06-23 12:15] smichr opened #12790 "simplify ratio of powers with exponents that are opposite in sign"
Although a Symbol exponent behaves as expected,
[code]
a more complicated exponent causes problems that are resolved by a call to simplify
[code]
Is this case trivial enough to expect that it should simplify to 1 automatically?

[2017-06-23 13:45] PrometheusPi opened #12791 "Series expansion of polynomial/rational expression throws NotImplementedError with "trigonometric constants""
While trying to perform a series expansion on an expression containing trigonometric functions, independent of the variable used for the series expansion, I ran into a `NotImplementedError` error.
(As shown below, this could be avoided by substituting the trigonometric functions. - Thus sympy is (in general) capable of performing the series expansion but unable to perform it with these functions i

[2017-06-23 15:59] PrometheusPi opened #12792 "Simplify with float values leads to non-equal result"
While trying to simplify the following expression containing floats (it comes from a previous Taylor expansion around a non-zero value), I realized that amplying `simplify` to my expression gave a different result:

[code]
returns `False`.

Further analysis showed that the ratio between the two expressions is fixed:
[code]

This is probably caused by the use of float numbers.
Is this an accepted i

[2017-06-23 16:01] moorepants opened #12793 "Computation Speed Regressions since 1.0"
@bjodah and I maintain speed benchmarks for SymPy which can be viewed here:

http://www.moorepants.info/misc/sympy-asv/

There are a number of regressions since SymPy 1.0 that should likely be investigated before the next release.

Notable ones:

- CSE http://www.moorepants.info/misc/sympy-asv/#cse.TimeCSE.time_cse
- dsolve http://www.moorepants.info/misc/sympy-asv/#dsolve.TimeDsolve01.time_dsolve

[2017-06-23 16:23] smichr opened #12794 "gcd does not identify ful gcd in all cases"
Is there a better way to fully remove the gcd from a list of expressions? Or should `gcd` be fixed so it removes the full `gcd` at once?
I```

[sqrt(5)/5, sqrt(5)/10]

...   g = reduce(gcd, args)
...   args = [i/g for i in args]
...   print (g, args)
...
(sqrt(5), [1/5, 1/10])
(1/10, [2, 1])
[code]

[2017-06-23 19:45] mohit3011 opened #12796 "Addition of Line Integration module"
I would like to work on adding a module which would be responsible for performing Line Integration.
I have created a rough structure of the code and would like to discuss further upon it.

[code]
Here

* `field:` The field (which can be scalar or vector).In case of Vector field type(field)=='tuple'.
* `para_var:` Parametric variable.
* `para_path:` Parametric Coordinates in terms of para_var (tupl

[2017-06-23 20:37] asmeurer commented on #12794
In the first case, it is treating it as a polynomial gcd (with generator `sqrt(5)`). In the second case, it treats it as a gcd of numbers. Apparently the latter does a special thing with denominators, but the former does not. Most likely changing gcd for polynomials to not return a monic result would cause many breakages.

[2017-06-23 20:40] asmeurer commented on #12794
Really it should treat sqrt(5) as an algebraic number, not as a generator, but note that [gcd is not well defined](https://en.wikipedia.org/wiki/GCD_domain) for every algebraic domain (see https://en.wikipedia.org/wiki/Greatest_common_divisor#The_gcd_in_commutative_rings for a counterexample).

[2017-06-23 22:04] asmeurer commented on #12793
CC @siefkenj. Most of these are related to the matrices.

[2017-06-23 22:05] asmeurer commented on #12793
`dsolve` regression says it is from [this commit](https://github.com/sympy/sympy/commit/b5257d1a), but that commit is completely unrelated to the odes module.

[2017-06-23 22:05] asmeurer commented on #12793
I'm also skeptical that https://github.com/sympy/sympy/commit/dca59315 is the real source of the lambdify slowdown.

[2017-06-24 00:08] moorepants commented on #12793
Note that not all commits have been run for all of the benchmarks, you may need to look at a range. But in the past I've occasionally found regressions where the commit didn't make sense. I'm not sure what to make of that.

[2017-06-24 00:10] moorepants commented on #12793
Yeah, the dsolve one makes no sense. I'll rerun that benchmark monday when I'm back in the office with the machine I run these on.

[2017-06-24 04:39] jamesluke opened #12799 "Missing parentheses in LaTeX output"
The LaTeX output of `diff(sin(x)+cos(x), x, x))` is missing parentheses, producing incorrect output. The output looks like `-sin(x) + cos(x)`, instead of the correct `-(sin(x) + cos(x))`. The internal representation is correct.

The output of repr(...) is `'-(sin(x) + cos(x))'`
The output of srepr(...) is `"Mul(Integer(-1), Add(sin(Symbol('x')), cos(Symbol('x'))))"`
The (incorrect) output of latex

[2017-06-24 07:00] smichr opened #12801 "mrv XFAIL test will never pass"
In `/sympy/series/tests/test_gruntz.py` there is a test that is XFAILed and the way it is written it will never pass. Someone should see what was intended so it can be corrected.
[code]

The problem is that the mrv output is being treated like a set but mrv outputs a list containing a dictionary and an expression.

[2017-06-24 09:47] jksuom commented on #12794
Also, gcd may not be what one would expect in an algebraic domain. For example, consider `d = gcd(2, 1 + sqrt(5))` (which is well defined in the domain of `sqrt(5)`). From the universally valid rule

    gcd(a^2, b^2) = gcd(a, b)^2

it follows that

    d^2 = gcd(2^2, (1 + sqrt(5))^2) = gcd(4, 6 + 2*sqrt(5)) = gcd(4, 4 + 2 + 2*sqrt(5))
           = gcd(4, 2 + 2*sqrt(5)) = gcd(2*2, 2*(1 + sqrt(5))

[2017-06-24 11:50] #11821 closed

[2017-06-24 12:01] #12739 closed

[2017-06-24 12:19] smichr commented on #12773
That's because the definition get overridden a few lines down. The following will fix the issue:

[code]

[2017-06-24 12:30] #12783 closed

[2017-06-24 15:31] parsoyaarihant opened #12802 "SymPy documentation design issue"
Text from `Table Of Contents` is overlapping in the main documentation:

![screen shot 2017-06-24 at 20 57 56](https://user-images.githubusercontent.com/15258498/27509674-eb0f3b90-591f-11e7-86d7-52c1267ade0d.png)

[website link](http://docs.sympy.org/latest/modules/functions/elementary.html)

[2017-06-24 16:58] siefkenj commented on #12389
Update: All the decompositions were renamed in PR #12711. The solve methods have not yet been renamed.

[2017-06-24 17:06] siefkenj commented on #12793
`Lambdify` should have about a 20% slowdown as of the most recent immutable matrix commits.  I'm not sure how to improve performance beyond this.  My guess is that it's something that changed in `Lambdify` and not the matrix module that causes the last 20% of the slowdown.  The separate issue for this is #12731.

I'm also confused why several of the matrix slowdowns seem to happen at PR #11337.

T

[2017-06-24 20:50] moorepants commented on #12389
It isn't that clear to me if all those methods were deprecated. Where they?

Also, in general I'm -1 for making changes like `LUsolve > LU_solve`. It doesn't really gain anything but the broken method names could screw up tons of code in the wild. I'm mostly a fan of a matlab-like approach, i.e. I can run almost all my old matlab code in new versions with no changes. This is very important for use

[2017-06-25 05:15] moorepants opened #12804 "It'd be nice if plotting the Batman equations just worked."
[code]
![batman](https://user-images.githubusercontent.com/276007/27513825-931d149c-592a-11e7-8499-5c35e4ced942.png)

The head doesn't plot correctly for some reason. Equations are from: http://mathworld.wolfram.com/BatmanCurve.html

[2017-06-25 07:22] asmeurer commented on #12804
Most likely an issue with the Heaviside. And it seems `lambdify` doesn't even know how to handle Heaviside.

[2017-06-25 09:09] mohit3011 commented on #12802
@parsoyaarihant , I suggest we can use twitter bootstrap here . What do you say ?

[2017-06-25 09:10] mohit3011 commented on #12796
@asmeurer , @Upabjojr

[2017-06-25 09:11] mohit3011 commented on #12802
I can work on that

[2017-06-25 09:22] parsoyaarihant commented on #12802
I think its better to contact the person who worked on the front-end of the website. I don't know if the website uses bootstrap. But in my opinion adding bootstrap can increase the load of the website(because we need to import bootstrap everytime we open the website).

[2017-06-25 11:14] parsoyaarihant opened #12806 "`.match()` bug"
[code]

`.match()` does not give the substitution for `m_`

[2017-06-25 13:06] bjodah opened #12807 "Deprecated PythonPrinter"
The current `PythonPrinter` assumes that SymPy functions and classes are available in the global namespace. I will rename this class to `SymPyPrinter` and in another module create a `PyPrinter` which outputs python code (no dependency on SymPy), we can then subclass `PyPrinter` to have a `NumPyPrinter`. I intend to develop these printers together with `.codegen.ast` module.

Related issue: gh-1221

[2017-06-25 13:42] moorepants commented on #12804
`lambdify` can handle `Heavisde.rewrite(Piecewise)`.

[2017-06-25 13:44] moorepants commented on #12807
My guess is that noone uses the `PythonPrinter`. Instead of `PyPrinter` I'd keep the `PythonPrinter` name for the new "correct" Python printer.

[2017-06-25 13:47] moorepants commented on #12802
The documentation is built with sphinx. Fixing this would require adjusting the sphinx template. I don't think adding in bootstrap is necessary.

[2017-06-25 15:27] Upabjojr commented on #12796
Maybe this could help:

- http://docs.sympy.org/dev/modules/diffgeom.html#sympy.diffgeom.intcurve_series
- http://docs.sympy.org/dev/modules/diffgeom.html#sympy.diffgeom.intcurve_diffequ

[2017-06-25 19:26] moorepants commented on #12804
@bjodah Any reason you closed this?

[2017-06-25 19:26] bjodah commented on #12804
Misclicked -- sorry!

[2017-06-25 19:28] asmeurer commented on #12804
I tried that, but all I got were plots of a line.

[2017-06-25 20:47] asmeurer commented on #12804
Also I had to modify it because apparently we leave Heaviside(0) undefined.

[code]

[2017-06-26 07:24] isuruf commented on #12793
lambdify slowdown is because of https://github.com/sympy/sympy/pull/11468. (credits to @bjodah for figuring this out)

[2017-06-26 11:46] bjodah opened #12810 "cxxcode is inconsistent with respect to namespaces"
Currently on master we have:
[code]
whereas we probably want the set of overloaded functions in the `std::` namespace
[code]

[2017-06-26 11:51] bjodah commented on #12810
This is fixed in gh-12693

[2017-06-26 12:37] skirpichev commented on #12791
BTW, I think this is fixed in the [diofant](https://github.com/diofant/diofant/).  Following result was verified with Mathematica.

[code]

But I'm not sure about your "simplified (by hand)" expressions, @PrometheusPi, ``expr2`` produce a different (not equivalent) output.

[2017-06-26 16:09] msparapa opened #12811 "diffgeom does not support multivector fields >(0,m) well enough"
A limitation of the diffgeom package is that it does not provide support for fields higher than (0,m). TensorProduct, WedgeProduct, and others all assume inputs of differential form-fields, while mixed multivector fields make sense in some contexts (such as Poisson geometry).

I'll work on implementing (n,m)-fields in the current code, where it makes sense.

[2017-06-26 20:52] vvanarasi commented on #12788
Hi Gaurav,

Can i help to fix this documentation issue.

Thanks

[2017-06-26 22:47] asmeurer commented on #12793
That PR changes the semantics of lambdify. Does the benchmark include 'numpy' in the modules?

[2017-06-26 22:49] moorepants commented on #12793
It doesn't: https://github.com/sympy/sympy_benchmarks/blob/master/benchmarks/lambdify.py

We would need to parameterize that benchmark with different module names I guess, to get a true reflection of speed changes.

[2017-06-26 22:51] asmeurer commented on #12793
If you want to reevaluate that PR, now's the time to do it. I still think it's a good idea, although I do have real use-cases for lambdifying to non-numpy.

[2017-06-26 23:47] asmeurer commented on #12799
I believe this is fixed in master

[code]

[2017-06-26 23:47] #12799 closed

[2017-06-26 23:48] asmeurer commented on #12802
Looks like this already works if you build the docs with the newest version of Sphinx (1.5.1). So we just need to make sure everything builds fine with that, and update the version used in Travis.

[2017-06-26 23:51] asmeurer commented on #12793
I haven't heard from @siefkenj for a while. How do you suggest we go forward with the Matrix regressions? Are they significant enough that we should look into reverts for the release?

[2017-06-27 00:29] moorepants commented on #12793
My guess is that reverts would be rough, due to the amount of work that was put into refactoring. I don't suggest that but it would be nice if they were investigated. I know that some are due to improvements to accuracy in the solutions for the algorithms and we have to live with the slowdowns, but I'm not sure that all of them are.

[2017-06-27 00:40] siefkenj commented on #12793
I may have some time on Sunday to investigate some of them, but I am quite busy for the next month.

[2017-06-27 00:49] asmeurer commented on #11608
Should be fixed up in https://github.com/sympy/sympy/pull/12028

[2017-06-27 00:50] asmeurer commented on #12793
How bad are the slowdowns? Are they livable?

[2017-06-27 03:16] gxyd commented on #12788
Sure go ahead with fixing it. You just need to replace the backticks ( \` \` ) at two places with single quotes. Visit file sympy/core/expr.py to modify the documentation of the function `.is_number`. And you can see the output by building the docs https://github.com/sympy/sympy/wiki/Writing-documentation#building-docs.

[2017-06-27 07:06] mattwala commented on #12411
I apologize for the delay in replying to this. I agree to relicense my code under the SymPy license. At this time, I'm far too busy to submit a pull request for it, but I am be available to answer questions.

[2017-06-27 08:07] asmeurer opened #12814 "Replace 3.5 builds in Travis with 3.6"
The builds that are just Python 2.7 and 3.5 should be changed to 2.7 and 3.6. We will need to find a 3.6 build of tensorflow to install. Otherwise this is easy to fix.

[2017-06-27 09:54] smichr opened #12815 "left trim error while solving system of equations"
Regular solve runs into a problem with the following
[code]
Manually solving gives
[code]

[2017-06-27 11:30] #12811 closed

[2017-06-27 13:50] #12476 closed

[2017-06-27 14:00] smichr commented on #10228
reopen after cse mod reversion

Note: I suspect the slow down for larger expressions comes from the pairwise comparison to try find the best expressions to extract. I recall seeing something in one of the low-level routines where this issue was recognized -- trying to identify subexpressions amounts Add exponents, as I recall. I suspect the way to go with this is to have a keyword `best` to indica

[2017-06-27 15:44] isuruf commented on #12793
Isn't the speed of the default method kind of important too?

[2017-06-27 16:37] siefkenj commented on #12793
I have looked through all the benchmarks listed here that seem to be to be related to matrices.  These are `time_det`, `time_rank`, `time_rref`, `time_solve`, and `time_lusolve`.  (Please point out if I should look at a benchmark I didn't mention).

`time_rank`, `time_rref`, `time_solve`, and `time_lusolve` are all slowed down by the new pivot searching algorithm.  I am sure that there is room for

[2017-06-27 17:57] moorepants commented on #12793
Thanks @siefkenj. Sounds like we need to live with these speed regressions. Maybe it is worth opening an issue requesting speed improvements to those algorithms so that someone may try to improve them in the future.

So we can close this, since the only one that needs to be fixed is the cse one.

[2017-06-27 18:24] asmeurer commented on #12793
The old default was `['math', 'mpmath', 'sympy']`. Actually, this is still used if `numpy` cannot be imported. If you want to test the old behavior, test against that. Personally I don't really like that, because it mixes things up in ways that rarely make sense, i.e., you get `math` (finite precision, C implementation, `float` return type) for common math functions, `mpmath` (arbitrary precision,

[2017-06-27 18:29] asmeurer opened #12818 "Figure out why some slow tests failed on Travis"
See https://github.com/sympy/sympy/pull/12795 and https://github.com/sympy/sympy/pull/12813. The slow tests `test_pmint_logexp` and `test_prudnikov_3` are now skipped on Travis, but before they were, they would cause a lot of test timeouts. This is despite the fact that when run locally, they appear to finish within a minute, and be much faster than several other slow tests. So it would be good to

[2017-06-27 19:21] asmeurer opened #12820 "Float(prec=...) is deprecated"
Previously, the argument to the `Float` constructor to set the decimal precision was called `prec`. However, everywhere else in SymPy, `prec` means binary precision, whereas `dps` means decimal precision.

To change this behavior, the Float constructor is now `Float(num, dps=None, prec=None, precision=None)`. The decimal precision can still be passed as the second argument, like `Float(1.0, 100)`.

[2017-06-27 19:26] asmeurer commented on #12411
@mattwala we have reverted the changes that had slowed this down (see #12805), but would still like to add those changes if we can make them faster, because they do improve the CSE output.

[2017-06-27 19:29] asmeurer commented on #10228
Perhaps relevant: https://github.com/sympy/sympy/pull/11586 (and https://github.com/sympy/sympy/issues/11349).

[2017-06-27 19:54] asmeurer commented on #12389
What is the status of this? What needs to be done for the release?

[2017-06-27 20:25] #12793 closed

[2017-06-27 21:15] asmeurer commented on #11274
Haven't seen this in a while. I'm assuming it was fixed.

[2017-06-27 21:15] #11274 closed

[2017-06-27 21:17] asmeurer commented on #12070
@bjodah can this be closed?

[2017-06-27 22:12] moorepants opened #12822 "Remove 1.0 Deprecations"
We should remove all deprecated functionality that has been deprecated in versions <=1.0.

Here are some:
[code]

[2017-06-27 22:13] moorepants commented on #12822
Here are some pre 1.0 deprecations:

[code]

[2017-06-27 22:16] bjodah commented on #12070
Yes, thanks.

[2017-06-27 22:16] #12070 closed

[2017-06-27 22:35] moorepants commented on #12822
All calls of SymPyDeprecationWarning, may or may not have the `deprecated_since_version` kwarg:

[code]

[2017-06-27 22:36] moorepants commented on #12822
Tests that may need to be inspected:

[code]

[2017-06-27 22:46] moorepants commented on #12822
Probably worth checking these too: https://github.com/sympy/sympy/labels/Deprecation%20Removal

[2017-06-28 04:22] firedranzer commented on #12814
Hi @asmeurer .I want to work on this issue please help me with the changes.

[2017-06-28 08:38] man74cio opened #12825 "Abstract function traslation from sympy to sage"
Abstract function translation sympy -> sage is not well implemented :
In the case of known functions (like sin, cos, exp) the translation is ok but for abstract functions
the translation fails (test from sage):

[code]
gives:
[code]

Proposed changes in sympy/core/function.py :
Replace the function FunctionClass._sage_

[code]
with

[code]

[2017-06-28 12:26] isuruf commented on #7457
This was fixed unintentionally in #11862, but #7457 might be a good idea.

[2017-06-28 14:59] smichr opened #12828 "lgtm issue identified in translate"
I checked out an lgtm issue with translate. It appears to be valid. It also appears to me that this is tested in the docstring. I don't know how it is passing the docstring. Can anyone else confirm this:

[code]

This should fail under Py3 if it traverses that line (shouldn't it?):

[code]

[2017-06-28 16:16] msparapa opened #12830 "diffgeom: Fix nested WedgeProduct functionality and pad inputs"
It appears as if WedgeProduct doesn't pad missing inputs with None's whereas TensorProduct has this functionality. Since WedgeProduct is a type of TensorProduct, then we'd expect the input arguments to follow the same sort of format.

[code]

whereas the output should look like

[code]

Also, it doesn't look like it correctly computes results when we nest several WedgeProducts together.

[code]

I

[2017-06-28 18:35] smichr opened #12831 "lgtm: meijerint arg count mismatch"
In [function E(z)](https://github.com/sympy/sympy/blob/master/sympy/integrals/meijerint.py#L1348) should this
[code]
be this
[code]

If anyone has access to reference "[L] Luke, Y. L. (1969), The Special Functions and Their Approximations, Volume 1", a search of section 5.10 may be profitable as I think that is where you will find reference to the E(z) function.

[2017-06-28 19:13] #9351 closed

[2017-06-28 19:15] asmeurer commented on #12822
We don't have to remove them. Our [policy](https://github.com/sympy/sympy/wiki/Deprecating-policy) doesn't state how long deprecated behavior should stay.

Unless someone wants to work on this now (PR ready today or tomorrow), I think we should postpone this for this release.

[2017-06-28 19:31] moorepants commented on #12822
True, just nice to remove cruft. I took care of the mechanics related ones.

[2017-06-28 19:59] asmeurer commented on #12814
Modify the .travis.yml and see if the builds fail. It may be useful to enable Travis on your fork so that you don't have to wait for the SymPy Travis pull request queue.

[2017-06-28 20:29] asmeurer commented on #12389
Looks like they were deprecated in https://github.com/sympy/sympy/pull/12711.

This is basically what is being done now, except the deprecation warning is added immediately. Both methods are available and work, but the old ones give a warning.

[2017-06-28 20:32] asmeurer commented on #7457
@isuruf did you mean to link to a comment on this issue?

The fix in https://github.com/sympy/sympy/pull/11862 was intentional (see https://github.com/sympy/sympy/pull/11862/commits/8a7e07992035f05780ebc33b4ffbf72d32a83069). I didn't add a test for pickling, but I did add a test that Float works with a tuple input of non-mpz.

[2017-06-28 20:34] asmeurer commented on #7457
That is to say, I wasn't intentionally fixing pickling, but I did come across the source of this issue when working on Float and fix it directly (that PR didn't just mask the error or anything like that).

[2017-06-28 21:03] bad-ants-fleet opened #12835 "sympify the symbol 'S'"
Hi,
I use sympify a lot to rewrite autogenerated formulas in a nicer way:
[code]
but I realized that I cannot use the variable name "S", as it is interpreted as the SingletonRegistry
[code]
I haven't found this problem described anywhere, looks like a bug to me.

cheers,
Stefan

[2017-06-29 07:35] firedranzer commented on #12831
Hi @smichr . I want to work on this issue . I am a newcomer to this organisation. Help me with this issue.

[2017-06-29 09:39] smichr commented on #12828
maketrans can take 3 args in Py3. This is a false positive report from lgtm, @rneatherway

[2017-06-29 09:39] #12828 closed

[2017-06-29 10:00] kiwiheretic opened #12837 "Get KeyError when trying to integrate trig expression"
from sympy import *
x,y,z = symbols('x y z')
a,ax, b,c,r,alpha = symbols('a a_x b c r alpha', real=True, positive=True)
beta = symbols('beta', real=True)
integrate(a*cos(alpha)/(1-cos(alpha)),(alpha,0, 2*pi))

results in...

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-57-c5a50

[2017-06-29 12:35] rneatherway commented on #12828
Hi @smichr, you're quite right about maketrans. The check for Python version ([here](https://lgtm.com/projects/g/sympy/sympy/snapshot/71767d18fb67e6317c77a0161dc63c8a33e8a308/files/sympy/utilities/misc.py#L351)) is quite non-standard, so the analysis isn't able to determine what the `if py3` guard really means. I'll put up a PR that changes the check to a more standard technique, and the alert sho

[2017-06-29 22:35] #11608 closed

[2017-06-29 22:36] #11105 closed

[2017-06-29 22:38] #11847 closed

[2017-06-29 22:38] #12015 closed

[2017-06-29 22:39] asmeurer commented on #11609
Should be closable. The escape sequences have been fixed, and all tests are run in 3.6 on Travis.

[2017-06-29 22:39] #11609 closed

[2017-06-29 23:17] #12788 closed

[2017-06-29 23:24] smichr commented on #12831
A good place to start is [here](https://github.com/sympy/sympy/wiki/Development-workflow). When you are ready, this is an easy edit in the code base. As I recall, it is in hyperexpand. Search for it, modify it, save it, and commit it to a new branch of master that you already created, then open the PR. *BUT* the thing that makes this tricky is that unless you have a test for that line of code and

[2017-06-30 01:57] asmeurer opened #12841 "Get docs building with the latest version of Sphinx"
Right now there are some warnings if you build the docs with the latest version of Sphinx. The warnings should be fixed and the Travis file should be updated.

[2017-06-30 02:06] asmeurer commented on #12841
Also the latest version of docutils.

[2017-06-30 03:23] asmeurer opened #12842 "Version is being set to x.y.z"
I am using $VERSION in a function and it is being set to `x.y.z` instead of the version I am passing in.

[2017-06-30 03:23] asmeurer commented on #12842
Wrong tracker.

[2017-06-30 03:23] #12842 closed

[2017-06-30 08:09] cbm755 commented on #12835
I think this is documented in the help: see `sympify?`:
[code]
Later there is an example involving `O` and maybe a workaround.

So it seems this is in the intended behaviour, but reopen if I've missed something.

[2017-06-30 08:09] #12835 closed

[2017-06-30 14:19] Krista commented on #12724
@samyak-jain are you still working on this ?

[2017-06-30 19:32] smichr commented on #12815
I bellieve ltrim is miss assessing whether something is a dummy symbol. The criteria should be that that none of generators to be deleted appear in the monomials of the expression; alternitively, if any monomial has any of the generators that are being trimmed, the routine should signal failure.

[2017-06-30 19:37] smichr opened #12846 "Poly(x,x,y).free_symbols -> {x, y} instead of just {x}"
No free symbols of generators that don't appear in the expression of the polynomial should appear in the set of free symbols.

[code]

[2017-07-01 02:40] smichr commented on #12846
[code]

[2017-07-01 03:05] smichr commented on #12815
[code]

[2017-07-01 17:53] smichr opened #12851 "eliminate univariate equations (recursively) before solving"
Though this is blocked on #12815, the following should both give the first answer:

[code]

[2017-07-01 18:21] Upabjojr opened #12852 "Vector module: make sure that the base vectors remain orthogonal"
Given a generic transformation equation, make sure that the base vectors remain orthogonal, if not, raise an exception.

[2017-07-01 18:21] Upabjojr commented on #12852
@szymag

[2017-07-01 21:24] szymag commented on #12760
@harsh4123, would you like to still work on it issue?
I'm asking because I'd be nice to update information about `Del` class before release new version of SymPy.
The information should be updated mainly here: http://docs.sympy.org/dev/modules/vector/fields.html#the-del-operator
The changes should corresponds to this PR: #12749

[2017-07-01 21:57] harsh4123 commented on #12760
give me 2 days, I will update it and then u could close the issue and update it.

[2017-07-01 22:17] szymag commented on #12760
OK

[2017-07-01 22:33] moorepants commented on #12760
Note that if you have made changes that are already in the 1.1 release and you did not update the documentation to reflect these changes, it could possible have this mismatch for a long time. The 1.1 release will happen in the next day likely. If this needs to get in you should tell @asmeurer.

[2017-07-01 23:12] bad-ants-fleet commented on #12835
awww.. you are absolutely right:

A + S

thank you, didn't see that!

[2017-07-01 23:30] asmeurer opened #12853 "Figure out why doctest failures are not being caught by Travis"
See https://github.com/sympy/sympy/pull/12711#issuecomment-312461048. These will be fixed in the 1.1 branch, so after the release, they won't be failing in master any more.

[2017-07-01 23:34] asmeurer commented on #12389
Actually I am agreeing with you. And these deprecations weren't done according to our [policy](https://github.com/sympy/sympy/wiki/Deprecating-policy). So I propose to revert #12711 for the release. We can revisit it after the release, to see if it is still something we want to do.

[2017-07-02 00:21] asmeurer opened #12856 "sympy.physics.unitsystems is deprecated in favor of sympy.physics.units"
See discussion over at https://github.com/sympy/sympy/pull/12246. This issue is for the removal of the deprecation warning in sympy/physics/unitsystems.py. To quote @Upabjojr:

Everything is a SymPy atom now. Previously, the old units module, only defined the base units and gave the constants by their relationship with the base units.

For example, the speed of light used to be 299792458*m/s, now

[2017-07-02 00:30] asmeurer opened #12857 "Tensor module deprecations"
See https://github.com/sympy/sympy/pull/9521. Several methods and classes in the tensor module are deprecated.

@Upabjojr can you write more here on what is deprecated and why?

[2017-07-02 00:33] asmeurer opened #12858 "Deprecated behavior in the vector module"
See https://github.com/sympy/sympy/pull/12749. @Upabjojr @szymag can you please write more here on what has been deprecated and why?

[2017-07-02 00:43] #8798 closed

[2017-07-02 00:45] asmeurer opened #12859 "simplify method of DiracDelta is deprecated"
The simplify method of DiracDelta is deprecated. Use `expand(diracdelta=True, wrt=x)` instead.

This was done because the `simplify` method on other objects has a different API (no `wrt` flag), which was causing issues (e.g., https://github.com/sympy/sympy/issues/7716).

[2017-07-02 00:49] asmeurer opened #12860 "sympy.geometry.Line.equal was renamed to sympy.geometry.Line.equals"
This was done because `equals` matches the rest of the SymPy API. See https://github.com/sympy/sympy/pull/9526/

[2017-07-02 02:23] asmeurer opened #12861 "FutureWarning in plotting tests"
This is printed in the plotting tests. Make sure you have the latest version of matplotlib and numpy installed, and run `./bin/test plot`.

[code]

I don't understand what it is talking about. It doesn't look like `np.average` is taking a subclass.

[2017-07-02 02:26] asmeurer commented on #12861
I guess the fix is to use `np.mean` as the warning suggests. We aren't even using the weights option, so there's no need to use `np.average`.

[2017-07-02 04:31] asmeurer opened #12863 "tensorflow lambdify tests fail with latest version of tensorflow"
[code]

They work with tensorflow 0.9.0, which is what is used on Travis. Seems to fail with tensorflow 1.0 and greater.

[2017-07-02 06:09] asmeurer commented on #12863
In the older version the tests give this warning:

[code]

Perhaps related?

[2017-07-02 07:51] szymag opened #12865 "CoordsysCartesian is deprecated"
The `CoordSysCartesian` class is deprecated. Use `CoordSys3D` instead.

This was done because currently `vector` module supports different kind of curvilinear coordinate system, so name `CoordSysCartesian` is misleading .

[2017-07-02 07:51] szymag opened #12866 "CoordSysCartesian.delop() is deprecated"
`CoordSysCartesian.delop()` is deprecated. Use instance `Del()` instead.

It was done to reflect mathematical concept, that differential operator, `Del()` doesn't depend on coordinate system.
Currently, `delop` should be created as instance of `Del()` class.

One behavior is different during this change. Previously, we could get information about coordinate system from `delop` because it was creat

[2017-07-02 09:21] max-yue opened #12867 "support for real set"
if I have a latex expression \[x \in R\], that means x belongs to a real set, but I could not find class RealSet? could you please add support for real set.

[2017-07-02 09:25] max-yue opened #12868 "support for \[x = \pm 1\]"
I have a latex \[x =  \pm 1\], that means x could be +1 or -1, but I could not find the class MathOr， instead I only find the logic Or class, could you please add support for that?

[2017-07-02 09:36] gxyd commented on #12867
We do have support for a set of real numbers. You can use `S.Reals`, i.e. `x in S.Reals`, which will return a bool value or an error accordingly.

[2017-07-02 13:26] bjodah commented on #12389
I am testing master against some old notebooks of mine (to spot potential issues for v1.1). I think that it is inconsistent that we expect the user to write `.LU_decomposition()` while still calling the solve method `.LUsolve(...)`.

[2017-07-02 13:40] smichr commented on #12851
[code]

[2017-07-02 14:49] siefkenj commented on #12389
@bjodah I agree.  I will do a PR for this today.

[2017-07-02 19:20] bjodah commented on #12389
Well, I don't want to be negative, but I agree with @moorepants and @asmuerer that deprecation just for a name change is not worth it considering the frustration it causes by end users (I too have been a bit to keen to deprecate things).

It would be nice to keep a list of such improvements though, for a possible future "sympy2" (or similar) with a new API.

[2017-07-02 19:30] siefkenj commented on #12389
It seems reasonable to introduce a clearner API and move the old methods to `MatrixDeprecated` but not have a deprecation warning just yet.  They can stick around as long as need be (this looks like the current state of `1.1`.

I need to know if I should send a PR for these fixes to `1.1` or `master`

[2017-07-02 19:42] asmeurer opened #12870 "Random test failure in hyperexpand"
[code]

See https://travis-ci.org/sympy/sympy/jobs/249287570. Here's the test header

[code]

[2017-07-02 21:15] Upabjojr commented on #12857
`TIDS` class has been deprecated, it was a support class for tensor index operations. End-users weren't supposed to use it.

Default auto-matrix indices have been deprecated.

Some API renaming to look more intuitive.

[2017-07-02 21:17] Upabjojr commented on #12858
The del operator should be independent of the coordinate system choice. It doesn't make sense that it is a method of the coord system class.

[2017-07-02 23:00] user234683 opened #12873 "Eq with Poly object immediately evaulates to False"
[code]
[code]
This happens because in the `Equality` class, this code calls `is_zero` on the `Poly`:
[code]
And `is_zero` in `Poly` returns `True` if the poly is a zero-polynomial, and `False` if it's not, rather than returning whether it is *equal* to 0, which it still might be depending on the variables even if it's not a zero polynomial. I think this is an accidental name-collision.

Note: This

[2017-07-03 01:08] max-yue opened #12874 "No support for \[{90^^\circ }\]"
I have latex \[{90^^\circ }\], which means angle ninety degree, for example (cos(90 degree)) = 0, please add support for that? I appreate your reply.

[2017-07-03 01:24] max-yue opened #12875 "No support for approx"
I have latex \[e \approx 2.718\], which means e approx 2.718, please add support for that? Thank you.

[2017-07-03 01:29] max-yue opened #12876 "No support for g{(x)_{\min }} = - 7"
I have latex g{(x)_{\min }} =  - 7, which means min{g(x)} = -7, Please add support for that, thank you.

[2017-07-03 05:04] ixjlyons commented on #12863
It seems there were enough breaking changes introduced with TensorFlow 1.0 to warrant [migration docs](https://www.tensorflow.org/install/migration). In this case, `select` just needs to be changed to `where`. *Both* actually seem to work with 0.12.1, which is the oldest version on PyPI.

[2017-07-03 08:00] Krista commented on #11495
I would like to work on this.

[2017-07-03 08:01] asmeurer commented on #12863
Should we try to support old and new or just new? I don't know which versions are used in the wild.

[2017-07-03 09:29] ungung opened #12878 "How can I know what rules are used to simplify a expression?"
expr = sympify('(sin(a))^2 + (cos(a))^2')
expr = simplify(expr)
print(expr) # 1

I have a lot of expressions to simplify, such as '(sin(a))^2 + (cos(a))^2', but how can I know what rules are used to simplify a expression?

 I appreciate your help! Thank you!

[2017-07-03 10:30] A-Hilaly commented on #12878
simplify does more than mathematical simplification , it converts results to types that can be used inside sympy.
https://github.com/sympy/sympy/blob/master/sympy/core/sympify.py

[2017-07-03 10:39] ethan1987-2 opened #12879 "I think i've found a bug??"
running the following
[code]
YIELDS:
PolynomialDivisionFailed: couldn't reduce degree in a polynomial division algorithm when dividing [0.816496580927726*(Z**4.0), 0.0, 0.0, 0.0, 0.0] by [12.0/12.0]. This can happen when it's not possible to detect zero in the coefficient domain. The domain of computation is RR(Z**4.0,Z). Zero detection is guaranteed in this coefficient domain. This may indicate a

[2017-07-03 11:21] ungung commented on #12878
I mean, when I give an expression to simplify, what identities it used to simplify? I want those identities.

[2017-07-03 12:35] jksuom commented on #12879
It is a known issue that zero detection is not guaranteed in floating point domains because of rounding errors (contrary to the boilerplate claim). Another issue is that floating point exponents cannot be used to define polynomials. The expression  `RR(Z**4.0, Z)` indicates that `Z**4.0` does not denote a polynomial in `Z` but is interpreted as a new independent variable that only has a curious ex

[2017-07-03 15:09] jksuom opened #12880 "Matrices with ring entries"
The standard matrix classes currently create only matrices with entries of expression types. Integer matrices have entries of type `Integer` and the entries of rational matrices have type `Rational`. Instances of the standard matrix classes with entries in the more efficient `ZZ` and `QQ` domains cannot be created.

It should be possible to create matrices with entries in any ring by changing the

[2017-07-03 16:41] wulu473 commented on #9135
I think there might still be a problem. Version 1.0 gives me
[code]

[2017-07-03 16:49] bjodah commented on #9135
@wulu473 this appears to be fixed in the release candidate for v1.1

[2017-07-03 20:27] bjodah commented on #12875
Just subclass `Eq`:
[code]

[2017-07-03 20:35] bjodah commented on #12874
@ungung, thank you for your feedback. We try to keep the github issues in SymPy a bit concrete.
I believe you can get good feedback on our gitter channel, mailing list and stack overflow (where the latter is most suited for questions which may have a general audience).

Am I right to assume that you expect this to give `^\circ`?:
[code]
that would indeed be a nice addition.

[2017-07-03 22:01] MrOverlord commented on #12712
@ayush1999 Are you still working on the issue?

It affects other types of sets than intervals as well
[code]
However in this case seems to be an issue with `contains` as
[code]

[2017-07-03 23:38] asmeurer commented on #12747
Fixed by #10929

[2017-07-03 23:38] #12747 closed

[2017-07-04 01:28] ungung commented on #12875
from sympy import Approx, and it could not work, could you please tell me how to import this ?

[2017-07-04 03:51] ducminh-phan commented on #12878
@ungung You can follow the user's guide [here](http://docs.sympy.org/latest/guide.html) to understand what's going on inside the `simplify` function.

@A-Hilaly It seems that you are mistaking `simplify` for `sympify`.

[2017-07-04 04:10] ungung commented on #12878
expr = simplify(expr), expr simplifies to 1, use the identity (sinx)^2 + (cosx)^2 = 1. I have a lot of expressions to simplify, and I want those identities, such as sin2x = 2sinxcosx, etc...

[2017-07-04 04:21] ducminh-phan commented on #12878
@ungung Have you tried to follow the user's guide? For trigonometric expressions, `sympy` simplifies the expressions recursively by targeting common patterns using rules in a paper by Fu et al.
https://github.com/sympy/sympy/blob/master/sympy/simplify/fu.py
https://github.com/sympy/sympy/blob/master/sympy/simplify/trigsimp.py

[2017-07-04 06:14] szymag opened #12884 "coord_sys parameter in gradient, curl and divergence is deprecated"
`coord_sys` parameter in `gradient`, `curl` and `divergence` is deprecated. Please do not use any argument instead.

The reason for that is we can obtain information about coordinate system strictly from argument i.e `vect` or `scalar_field` so it is not necessary to forward them by separate argument.

[2017-07-04 07:04] ungung commented on #12878
if there is a function def simplify_rules(exp), return the rules or identities it used to simplify the given expression, that would be great.
for example,

['sin(x)/cos(x)=tan(x)']

['(sin(x))**2 + (cos(x)**2)=1']

['log(x/y)=log(x)-log(y)']
etc...
by the way, is there such a function I can use?

[2017-07-04 07:57] A-Hilaly commented on #12878
@ducminh-phan thanks for notifying and the links !! I
@ungung If I'm still understanding what you're looking for, `trigsimp `simplify trigonometric expressions,  but im not sure about the possibility of direct outputting used rules or formula to get the result.

[2017-07-04 08:30] ungung commented on #12878
I could not find it. Is there a possibility you guys add this function to sympy? Please, thank you. not just for trigonometric expressions, but for all rules and formulas.

[2017-07-04 10:32] firedranzer commented on #12870
Hi @asmeurer . Is this issue still open?

[2017-07-04 13:38] coderofgames opened #12886 "Latex output fails for superscript variables raised to a power"
using superscripts for coordinates like $$x^i$$ causes the latex to fail to print math (in jupyter notebooks) when the coordinate is raised to a power - it prints x^{1}^{2} for the case $$x^1$$ squared, I think it should use round brackets $$(x^{1})^2$$ instead.

[2017-07-04 13:44] schymans opened #12887 "Assumptions are ignored in Quantity()"
Assumptions passed to `Quantity()`, e.g. `real=True` are not passed on to `Symbol()`. I believe this should be done in https://github.com/sympy/sympy/blob/master/sympy/physics/units/quantities.py#L30

[2017-07-04 16:47] samyak-jain commented on #12724
@Krista I have stopped working on this for now

[2017-07-04 18:08] MrOverlord commented on #12712
Another problem with symbols in sets
[code]
Which is incorrect if ``x = y``

[2017-07-04 19:37] lutusp opened #12889 "Wrong result for Lie-group differential equation"
A second-order DE called the "skydiver equation" relies for its solution on the Lie-group library of dsolve().

The DE: g+u'(t) = k * u(t)^2

(Describes the velocity WRT time of a skydiver falling through the atmosphere.)

The correct solution, after removal of an unnecessary constant: v =  -sqrt(g)*tanh(sqrt(g)*sqrt(k)*t)/sqrt(k)

The error solution provided by Sympy's current dsolve(): v =  -sqr

[2017-07-04 20:40] firedranzer commented on #12886
Hey @moorepants I want to take this issue . Any help regarding the same would be great.

[2017-07-04 20:43] moorepants commented on #12886
You should investigate the latex printer and see how it prints exponents. I suggest writing a test case first from @coderofgames's description.

[2017-07-04 23:04] #12858 closed

[2017-07-04 23:04] asmeurer commented on #12858
This was moved to other issues.

[2017-07-04 23:17] asmeurer commented on #12870
Yes

[2017-07-05 15:10] #12852 closed

[2017-07-05 16:24] vedantc98 commented on #12886
I would like to take up this issue but the description seems unclear, maybe a code sample would help?

[2017-07-05 18:41] vedantc98 commented on #12886
I've identified the issue, can I take it up?

[2017-07-05 20:34] firedranzer commented on #12831
It is hard to figure out a test case for this issue . @smichr help me in deciding test for this change.

[2017-07-05 20:56] coderofgames commented on #12886
test case, environment is jupyter notebook with latex printing enabled, sympy imported too:

L__1, M__1 = symbols('L__1, M__1')
a = L__1* L__1
b =M__1*M__1
a+b

[2017-07-05 21:45] schymans opened #12892 "Unit information not readily accessible in Quantity()"
There is no obvious way to get to the actual units of a quantity:
[code]
It looks like the value in `atoms()` refers to grams, but why and how can I get to this information? Do I need to use `print M.convert_to(kilogram)`? But if I want to convert all quantities in an expression to their base units, I need to be able to enquire what their base units are, but I have not found a dictionary of base u

[2017-07-05 22:58] coderofgames commented on #12886
If the above example works, try more complicated examples, and also try using
L__1**2 with more complicated expressions, it always crashes on my home PC, and prints badly on notebook viewer and github (with the superscript and power being unclear)

[2017-07-05 22:59] moorepants commented on #12886
@firedranzer and @vedantc98 anyone can take up this issue.

[2017-07-06 08:23] FabricioS opened #12895 "Argument is not an mpz"
On some platforms (debian sid, with sympy 1.0, gmpy2 2.0.8), I got troubles with operations on some sympy objects (numbers, matrices, etc...). Here is the minimal example that I could produce :

[code]

The (deep)copy loses the correct type of the mantrissa for the floating value of the matrix. The error does not occur for Zeros, Ones, Rationale and Integer instances.

This is the cause of the tro

[2017-07-06 14:18] schymans opened #12896 "Create SI units system"
In sympy/sympy/physics/units/systems, there is mks.py, mksa.py and natural.py, but there is no system of SI base units. These should include those from mksa, i.e., m, kg, s, and A, but to get a complete set of SI units, we still need K, mol and cd: [https://en.wikipedia.org/wiki/International_System_of_Units#Base_units]( https://en.wikipedia.org/wiki/International_System_of_Units#Base_units).

[2017-07-06 16:50] #12760 closed

[2017-07-06 22:36] asmeurer opened #12898 "Another slow test to skip on Travis"
See https://travis-ci.org/sympy/sympy/jobs/250772759. Apparently `test_pow4` in `test_refine.py` stalls Travis. This is the first time I've seen it.

We could also split the test (it has 5 asserts).

[2017-07-07 01:50] #12861 closed

[2017-07-07 04:00] cbm755 commented on #12389
Overall, I very much like the improvements being done to matrices (thanks @siefkenj!).  Especially numerical stability.  I think its reasonable to have a smaller saner API (getting rid of berkowitz_* for example).

I have no strong opinion either way on the renaming of factorizations like LU and QR.

[2017-07-07 08:10] asmeurer opened #12899 "integrate(f(x, y).diff(x), y) is wrong"
[code]

It is acting as if `f(x, y).diff(x)` does not depend on `y`.

[2017-07-07 14:12] jamesjer opened #12902 "sympy/core/tests/test_sympify.py failure on 32-bit systems"
I maintain the sympy package for Fedora.  I just tried to build the 1.1 release.  The build succeeds on 64-bit builders, but on 32-bit builders (such as ARM), test_numpy in sympy/core/tests/test_sympify.py fails:

________________________________________________________________________________
_________________ sympy/core/tests/test_sympify.py:test_numpy __________________
  File "/builddir/build/

[2017-07-07 15:07] smichr commented on #12899
For anyone else pondering why this isn't true, consider `f(x, y) = x*y` where `f(x, y).diff(x) = y` whereas when `f(x,y) = x + y`, `f(x, y).diff(x)` is independent of y (and is 1).

[2017-07-07 15:53] #12896 closed

[2017-07-07 16:03] jdmarble commented on #8430
The Heaviside work around doesn't seem to work in version 1.0:

[code]

[2017-07-07 16:07] jdmarble commented on #8430
Disregard. I forgot the `real=True`. Sorry!

[code]

[2017-07-07 19:15] ayush1999 commented on #12899
@asmeurer @smichr I'd like to work on this issue. Can you tell me where to start?

[2017-07-07 19:39] asmeurer opened #12904 "(1/x).evalf(subs={x: 0}) gives 0"
[code]

[2017-07-07 19:55] orbisvicis commented on #12904
Valid for sympy-1.0 and sympy-1.1-58-gd250ff0

[2017-07-07 20:21] smichr opened #12905 "Relational.canonical does not yield canonical"
[code]

[2017-07-07 20:46] smichr commented on #12904
duplicates #8242

[2017-07-07 20:46] #12904 closed

[2017-07-07 20:58] smichr commented on #8242
Valid for sympy-1.0 and sympy-1.1-58-gd250ff0, too, as noted in #12904. There are many related issues:

#10662
#9807
#7867
#7192
#6974

[2017-07-07 21:14] asmeurer commented on #12904
Ah, I didn't find it because I was looking for issues with the wrong result label.

[2017-07-07 21:36] asmeurer opened #12907 "init_printing in IPython crashes with the cache off"
(sorry for insanely long crash log)

[code]

[2017-07-07 21:57] asmeurer commented on #12907
Can also reproduce by running `from sympy.physics.units.definitions import *` in a `SYMPY_USE_CACHE="no"` session (but it has to be the first import).

[2017-07-07 22:05] asmeurer commented on #12907
Seems there is a lot of implicit recursion of `_eval_is_*` functions calling themselves with the same arguments in the assumptions code that only doesn't trigger RecursionError because of the cache.

[2017-07-07 22:11] asmeurer commented on #12907
Seems there are also a lot of test failures with the cache off. How on earth can we automatically test this (the tests take *forever* with the cache off)?

[2017-07-07 22:36] smichr commented on #8242
I get these results

[code]

with these mods (which are suggestive as to where the problem lies)

[code]

Whoever tackles this beware: there is the `evalf` method and the `evalf` function (which references the `evalf_table` (of special evalf functions) and the `_eval_evalf` method. This is not a beginner's issue...unless you are a special beginner!

[2017-07-08 01:01] asmeurer commented on #12902
I can reproduce the latter with my Mac system Python 2.7 (`PYTHONPATH=../mpmath/ arch -i386 /Library/Frameworks/Python.framework/Versions/2.7/bin/python2.7 bin/test sympify`):

[code]

But when I comment out that assert (and another like it), I don't get the other failure.

The test in question catches AttributeError to try to guard against this, but apparently a different error is given instead?

[2017-07-08 01:03] asmeurer commented on #12902
Fixed the one issue at https://github.com/sympy/sympy/pull/12909.

[2017-07-08 01:10] asmeurer opened #12910 "Run the tests with the cache off"
And also fix the current set of failures, of which there are quite a few. https://github.com/sympy/sympy/pull/12908 fixes some. It looks like there are more similar recursion issues in assumptions.

If you don't know, you can run the tests with the cache off using `./bin/test -C`. Or `SYMPY_USE_CACHE="no" ./bin/test`. And be warned that things are *way* slower without the cache.

There is a really

[2017-07-08 02:15] user234683 opened #12913 "is_constant() raises AssertionError for constant Poly instances"
[code]

[2017-07-08 02:17] user234683 commented on #12873
I'd say `Poly.is_zero` should be renamed to `Poly.is_zero_poly`

[2017-07-08 05:58] parsoyaarihant commented on #12913
You need to use sympy number instead of `int` see [here](http://docs.sympy.org/latest/gotchas.html#python-numbers-vs-sympy-numbers).
Correct way to do it would be:
[code]

[2017-07-08 06:47] jksuom commented on #12873
Please note that `(x - 1)*(x - 2)` and `p = Poly((x - 1)*(x - 2), x)` are different kinds of objects. The former is an expression that can be considered as a polynomial function of the symbol `x`. The latter is an element of a polynomial ring, and the natural meaning of equation `Eq(p, 0)` is that `p` is the zero element of the ring. The corresponding equation where `p` is regarded as a function c

[2017-07-08 07:41] skirpichev commented on #12910
In the diofant I run no-cache tests while regular testing: a separate file to test caching and a special function here (just one for now) to test "cache off" regressions.  Ideally, there should be also minimal coverage testing for all \@cacheit-enabled functions/methods in the codebase.  Running the whole test suite (or even selected modules) with "cache off" - clearly overkill.  And this could ta

[2017-07-08 09:16] asmeurer commented on #12910
This is the issue now for cache test failures. I know we've fixed cache test failures since 2011 (probably multiple times), so I'd be surprised if the info in that old issue is still helpful.

[2017-07-08 13:42] #12905 closed

[2017-07-08 13:48] smichr opened #12915 "make is_convergent more robust wrt Piecewise cond testing"
A very [fragile piece of code exists](https://github.com/sympy/sympy/blob/master/sympy/concrete/summations.py#L410) in `Sum.is_convergent` where a condition of a Piecewise argument is being tested to see if it involves a range going to infinity. The former test was a check for a relational involving ">". But '-n < 1' was not detected (even though it represents n > 1) so the convergence test gave a

[2017-07-08 14:06] smichr commented on #12913
This is a consequence of #12846 and is fixed in #12881 but if (after that is committed) you want to add a test to confirm that this is closed, that would be good.

[code]

[2017-07-08 15:41] isuruf commented on #11819
Weakref objects cannot be made for the lru_cache objects. So, the only option is to use a atexit handler to run `clear_cache` at the end.

[2017-07-08 15:50] isuruf commented on #4217
Close as invalid?

[2017-07-08 15:53] isuruf commented on #4711
Close as invalid?

[2017-07-08 19:54] asmeurer commented on #4711
I guess close in favor of https://github.com/sympy/sympy/issues/3539.

[2017-07-08 19:54] #4711 closed

[2017-07-08 19:55] asmeurer commented on #4217
Cache is LRU now and should no longer grow boundlessly.

[2017-07-08 19:55] #4217 closed

[2017-07-08 20:00] asmeurer commented on #11819
Assumedly that should be implemented on the symengine side. Should this be closed?

[2017-07-09 02:51] isuruf commented on #11819
Here's the code that needs to be run. Should this happen on SymPy or SymEngine? If SymEngine, this issue should be closed?
[code]

[2017-07-09 05:04] casevh commented on #12895
I have committed a fix to both gmpy2 master (which will become version 2.1.0) and the gmpy2-2.0.9 maintenance branch. This should work around the issues where code in sympy does not use the MPZ type declared in mpmath when creating mpf instances.

[2017-07-09 09:30] skirpichev commented on #9276
No activity, closed.  Apparently, this is not an issue for the diofant.

[2017-07-09 09:30] #9276 closed

[2017-07-09 09:31] skirpichev commented on #8827
No activity, closed.

[2017-07-09 09:31] #8827 closed

[2017-07-09 09:32] skirpichev commented on #8825
No activity.  This is fixed in the diofant, thus not a problem for me.  Closed.

[2017-07-09 09:32] #8825 closed

[2017-07-09 09:33] skirpichev commented on #8500
No activity.  I believe, this is fixed in the diofant, so it's not a problem for me.  Closed.

[2017-07-09 09:34] skirpichev commented on #7635
No activity.  Closed.

[2017-07-09 09:34] #7635 closed

[2017-07-09 09:37] skirpichev commented on #8822
No activity.  Not a problem for me, as the diofant implements workarround.  Closed.

[2017-07-09 09:37] #8822 closed

[2017-07-09 09:38] skirpichev commented on #7212
No activity.

[2017-07-09 09:38] #7212 closed

[2017-07-09 09:39] skirpichev commented on #7916
No activity.

[2017-07-09 09:39] #7916 closed

[2017-07-09 09:39] skirpichev commented on #7917
No activity and fixed in the diofant.  Closed.

[2017-07-09 09:39] #7917 closed

[2017-07-09 09:43] skirpichev commented on #7940
No activity.

[2017-07-09 09:43] #7940 closed

[2017-07-09 11:12] asmeurer commented on #12895
When will 2.0.9 be released? Is it still making a patch worth working around this for the SymPy 1.1.1 bug fix release?

[2017-07-09 11:15] asmeurer commented on #11819
Shouldn't symengine have its own handler that calls del for all the symengine objects? It seems this issue could crop up in instances outside the SymPy cache.

[2017-07-09 12:37] isuruf commented on #11819
Right. I've never needed handlers for symengine objects except when sympy's cache is used.
I've now added atexit handlers to clear sympy cache in tests.

[2017-07-09 12:37] #11819 closed

[2017-07-09 14:13] asmeurer commented on #11819
I'm curious how it's an issue at all. If the process is ending, how can there be a memory leak?

[2017-07-09 21:44] user234683 commented on #12873
Ah ok. Perhaps the documentation should clarify this, because I was thinking of Poly objects as a more efficient representation of polynomial expressions with specialized methods and as interchangeable with expressions, rather than a different kind of mathematical object.

But I'm still a bit confused.
[code]
Shouldn't this evaluate to False, since " x**2+1 " isn't part of a polynomial ring? Or wh

[2017-07-10 04:20] ashu-22 commented on #12381
So Why we I get the issue from Triage account.I see that this issue is already revoked there.

[2017-07-10 04:22] ashu-22 commented on #9425
please update this thing asap.

[2017-07-10 09:43] jksuom commented on #12873
I agree that documentation is incomplete. One often has to read the code to see what to expect.
In the case of `Eq(Poly(x**2 + 1,x), ...)`, SymPy will try to make a `Poly` out of the right hand side before carrying out the comparison. (I suppose the idea is to make the method more 'user friendly'.)

It should probably be pointed out in the documents that this way of treating `Eq` can make it asymm

[2017-07-10 10:26] schymans opened #12918 "Addition of a quantity and a number does not raise an error"
If I add two quantities with inconsistent units, sympy rightly returns an error:
[code]
However, if one of the terms is a number, no error is raised:
[code]

If I add two quantities, one of which does not have a dimension, an error is raised:
[code]

If I add a quantity and a number, no error is raised:
[code]
I believe that this is a bug, as numbers should be treated like dimensionless quantities

[2017-07-10 10:44] schymans commented on #12918
Just to add to the above, during multiplication, numbers are treated like dimensionless numbers, and an error is raised in this case:
[code]
It would be even nicer if the error message contained the terms of the summation. In any case, the user probably expects similar interpretation of numbers as dimensionless quantities if they are stand-alone summands.

[2017-07-10 13:53] leosartaj opened #12921 "Documentation typo for fcode"
'Converts an expr to a string of c code'  -> 'Converts an expr to a string of fortran code'

[2017-07-10 14:06] asmeurer opened #12922 "Add rust_code and cxxcode to main SymPy namespace"
They should be added to `__init__.py`. All the other code printers are there.

[2017-07-10 18:08] firedranzer commented on #12922
Hey @asmeurer I want to work on this issue . I want to know about the files to be working on for this issue.

[2017-07-10 19:14] jirikuncar opened #12927 "Simplify testing framework"
I understand that there is a lot of work behind the custom testing framework. I have got myself to a trap in #12919 when I have naively though that PyTest markers should work.

Hence I would like to propose to use pure PyTest and few well documented plugins to simplify (and possibly speed-up) the tests.

* PyTest
* Doctests: `--doctest-glob="*.rst" --doctest-modules`
* Coverage: https://github.com

[2017-07-10 19:41] jirikuncar opened #12928 "Introduce `.editorconfig`"
Add editor config (http://editorconfig.org/) with cross-editor configuration.

[code]

[2017-07-10 19:43] jirikuncar opened #12929 "Sort imports"
Sort imports in the package uniformly (see possible config in #12928) and introduce tests to check the files: `isort -rc -c -df` in CI.

[2017-07-10 19:47] jirikuncar commented on #12927
An example of a subpart which is possible to "pytest":

[code]

[2017-07-10 19:53] moorepants commented on #12927
My guess is that improving the testing suite and making more modern pytest a dependency would be welcomed. I support it.

[2017-07-10 22:23] user234683 commented on #12873
I think I've figured it out. So Poly objects are functions with named arguments ('generators'), rather than arguments referenced by order.
Typically, if you have f(x) = 3x and g(y) = 5y, then (g + f)(x) = 8x, since the x and y in those definitions simply act as binding variables and have no meaning outside the definition (the "for all" is implicit). But with Poly objects f and g, it's rather like

[2017-07-11 05:38] jksuom commented on #12873
It think your understanding is essentially correct. Technically, Poly objects are collections of coefficients coupled with a list of labels called generators. So, strictly speaking, they are not functions, but it is possible to associate them with functions in the way you described.

I think this can be closed.

[2017-07-11 05:38] #12873 closed

[2017-07-11 05:52] WaldoHatesYou commented on #12921
I've opened a pull request that should fix this issue.

[2017-07-11 06:08] rubenpieters opened #12932 "No refining of variables done when solution is a=-b and a,b are nonnegative"
In the following code

[code]

I receive the solution {a_1 = - b_1, c_1 = 1.0}. While I would expect {a_1 = 0, b_1 = 0, c_1 = 1.0}

[2017-07-11 06:45] ritchieng opened #12933 "rref() issue"
Given this matrix

A = [
    [-3, 6, -1, 1, -7],
    [1, -2, 2, 3, -1],
    [2, -4, 5, 8, -4]
]

If you run rref() it would return
[code]
This is wrong. There's suppose to be only 2 pivots if you manually handle this compared to 3 pivots here.

[2017-07-11 07:42] jksuom commented on #12933
I seem to get only 2 pivots:
[code]
There are no floating point numbers either. I suspect that the wrong result is caused by rounding errors in floating point computations. It floats are used, then the zero detection function `iszerofunc` should consider very small numbers equal to zero and not make them pivots.

[2017-07-11 10:12] jirikuncar commented on #12892
@schymans IMHO the units are relevant only in a chosen unit system (e.g. `SI`).

[code]

[2017-07-11 11:43] parsoyaarihant commented on #12932
I am getting the following output locally:
[code]

[2017-07-11 11:51] parsoyaarihant commented on #12932
`{a_1 = - b_1, c_1 = 1.0}` is also a valid solution. Mathematica:
![screen shot 2017-07-11 at 17 20 47](https://user-images.githubusercontent.com/15258498/28067058-3b6ad186-665d-11e7-99ca-4e11e9d73053.png)

[2017-07-11 11:52] ritchieng commented on #12933
Thanks for the prompt reply. Yes it works if we feed in a nested list.

However I fed it through a numpy array.

[code]

`A = np.array(A)`

Even with

`A = np.array(A).astype(int)`

It doesn't seem to work. Any idea?

[2017-07-11 12:57] rubenpieters commented on #12932
I would consider {a_1 = - b_1, c_1 = 1.0} a correct rewrite of the given equations, but not a solution.

Also, I'm not sure what you gave as query, but here : https://www.wolframalpha.com/input/?i=solve%5B+a_1+%2B+b_1+%2B+c_1+%3D+1+%26%26+-+a_1+%2B+0.5+*+a_1+%2B+0.5+*+c_1+*+a_1+%3D+0+%26%26+-+b_1+%2B+0.5+*+b_1+%2B+0.5+*+c_1+*+b_1+%3D+0+%26%26+-+c_1+%2B+0.5+%2B+0.5+*+c_1+%3D+0+%26%26+a_1+%3E%3D+0+%

[2017-07-11 12:57] ayush1999 commented on #12922
I have created a pull request : #12937

[2017-07-11 13:35] afalaize opened #12938 "Behavior of Matrix hstack and vstack changed in sympy 1.1"
In sympy 1.0:
[code]
returns
`(0, 6)`

Now, same in sympy 1.1:
[code]
returns
`(0, 3)
`
whereas:
[code]
returns
`(1, 6)
`

[2017-07-11 13:48] uweschmitt opened #12939 "`autowrap` compilation fails when setting `tempdir`"
This is my setting:

[code]
The following code fails on my machine:
[code]

with the following traceback:
[code]

The folder  `./tmp` exists, is empty and writable before I run the code.

After the error happens `./tmp` contains the compiled files. I also can `cd tmp` and run `python -c "import wrapper_module_0"` without errors.

I get no errors and correct results if I modify `tempdir = "./tmp"`

[2017-07-11 13:50] asmeurer commented on #12938
CC @siefkenj

[2017-07-11 13:58] asmeurer commented on #11553
I think in general it shouldn't assume that `is_algebraic` means that it can find its minimal polynomial. It should check more directly for the types of expressions it can work with, rather than blacklisting.

[2017-07-11 14:33] gerritholl opened #12940 "lambdify fails with xarray dataarrays broadcasting in 1.1"
`sympy.lambidy(…)` fails with `ValueError: operands could not be broadcast together` in sympy 1.1 when I pass xarray DataArrays with a broadcasting intention.   In both cases I'm passing `modules=numpy` explicitly, so I'm not sure this is related to #11468.  The behaviour in sympy 1.0 is intended and shown below.

Is this due to an intended backward-incompatible change?  There is no difference if

[2017-07-11 14:40] bjodah commented on #12933
@ritchieng are you using the latest version of SymPy? Could you provide complete to code to reproduce the error? (I can't reproduce it)

[2017-07-11 14:48] gerritholl commented on #12940
This appears to be a consequence of the `asarray` call.  Can I disable this?  There is no equivalent in `xarray`, I just want to put the `xarray` datasets in unaltered.

[2017-07-11 15:00] #12714 closed

[2017-07-11 15:06] bjodah commented on #12940
Thanks for mwe.py, running `git bisect` with it:
[code]
finds e63dbdf4ccbbb9e457eef3bf7db73d4e8641b1e2

[2017-07-11 15:08] bjodah commented on #12940
I tried changing `asarray` to `asanyarray` but it didn't help. Any thought @richardotis ?

[2017-07-11 15:09] moorepants commented on #12714
@bjodah Was this fixed?

[2017-07-11 15:14] moorepants commented on #12939
I am not able to reproduce this. What operating system are you using?

[2017-07-11 15:16] asmeurer opened #12942 "Remove x**1.0 == x hack from core"
Apparently the fix for #6100 involves a [hack](https://github.com/sympy/sympy/blob/3a771edb034c81957c0975ca06f0e0d51ab3741b/sympy/core/basic.py#L315) in `Basic.__eq__`.

This is bad not only because special casing subclasses in superclass is bad practice, but `Basic.__eq__` is a core part of the core and should be as fast and general as possible.

This is related to the things discussed at https:/

[2017-07-11 15:16] asmeurer commented on #6494
Easy to make `Function('f', real=True)` work:

[code]

But a problem is that `Function('f', real=True)(x) == Function('f')(x)` gives True. Weirdly, regular `Function` subclasses already do this right:

[code]

[2017-07-11 15:17] bjodah commented on #12714
'**' is not being emitted for the code in the issue when using SymPy 1.1

[2017-07-11 15:21] asmeurer commented on #6494
Apparently `UndefinedFunction` is [special-cased](https://github.com/sympy/sympy/blob/3a771edb034c81957c0975ca06f0e0d51ab3741b/sympy/core/basic.py#L308) in `Basic.__eq__`, which is already bad (superclasses shouldn't have code for subclasses). Seeing if this is easy to fix...

[2017-07-11 15:23] bjodah commented on #12939
I can reproduce this on Ubuntu 16.04

[2017-07-11 15:24] asmeurer commented on #6494
It's actually the `AppliedUndef` line below. The `UndefinedFunction` bit does nothing, because `UndefinedFunction` isn't a subclass of `Basic` (it's a metaclass).

[2017-07-11 15:27] asmeurer commented on #6494
So this fixes it:

[code]

It makes `Function('f')(x) == Function('f')(x)` give True (critically, with the cache off!), and `Function('f')(x) == Function('f', real=True)(x)` give False.

Checking all of `__dict__` seems overkill. Maybe we should just save the passed in keyword args and test those.

[2017-07-11 15:31] uweschmitt commented on #12939
I use Mac OS X 11.6

[2017-07-11 15:50] ixjlyons commented on #12939
This is strange. I am able to reproduce this by running a script, but I used a relative path for `tempdir` in the codegen tutorial materials and it worked fine. I can actually run the script (which fails), then afterward open an interpreter and manually add the relative directory to the path and import using the name of the generated module and it works fine. @bjodah's fix works for me.

[2017-07-11 15:53] uweschmitt commented on #12939
Surprisingly it works if I run the script using `python -m pdb test_script.py`.

[2017-07-11 16:06] richardotis commented on #12940
Is it an acceptable workaround to pass `A.values` and `B.values` as arguments instead of the original DataArrays?

[2017-07-11 16:20] bjodah commented on #12927
I also think we should start using `py.test`. Last time I tried I had trouble getting `pytest.raises` to actually catch `SymPyDeprecationWarning`. I couldn't get it to work, but I didn't spend that much time on it. But I think that was the only blocking issue.

[2017-07-11 16:29] asmeurer commented on #12940
Maybe only call asarray for int/float inputs.

[2017-07-11 16:31] gerritholl commented on #12940
Not really.  Passing `A.values` or `B.values` is not enough; I'd need something like `A.values[:, numpy.newaxis]` and `B.values[numpy.newaxis, :]` to make it work, but the one of the main reasons I'm using `xarray` at all is the way it broadcasts named dimensions and considers coordinates.  And although it's rather easy to workaround in this minimum working example, my actual case is not at all mi

[2017-07-11 16:37] asmeurer commented on #12940
Or check if it's an `ndarray` first and only call if it isn't? What is the correct way to do that?

[2017-07-11 16:48] richardotis commented on #12940
@gerritholl We will keep working this issue, but to try to help you with your specific case (since the release cycle for sympy can be long), would this workaround work?
`f(*[x.values for x in xarray.align(*args)])`

[2017-07-11 16:49] asmeurer commented on #12940
We are planning on a 1.1.1 bugfix release soon. I've made my proposed fix #12946 against the `1.1.1` branch.

[2017-07-11 17:03] gerritholl commented on #12940
@richardotis Not with `xarray.align`, as my case is more about dimensions than indices.  If I instead use [`xarray.broadcast`](http://xarray.pydata.org/en/stable/generated/xarray.broadcast.html) the MWE no longer fails, but to make the workaround complete I'll need one more step to turn the resulting `ndarray` back into a `DataArray` with the correct dimension names, coordinates, attributes etc.

[2017-07-11 17:35] ayush1999 commented on #12841
@asmeurer I can't find any warnings when the docs are being built. Can you please explain?

[2017-07-11 17:58] firedranzer commented on #12922
@ayush1999 I have already made a PR with same file changes.#12930

[2017-07-11 18:40] asmeurer commented on #12922
@firedranzer in the future please add back references to the issue so that people can see that it is already fixed. At a minimum, you should have "fixes #12922" in your pull request info so that this issue gets automatically closed if your PR is merged.

[2017-07-11 18:42] asmeurer commented on #12841
What version of Sphinx and docutils do you have? Make sure they are the latest version.

[2017-07-11 18:54] ayush1999 commented on #12922
@firedranzer I didn't see them. Please address the issue when creating a pull request.

_Sent from my LENOVO Lenovo P1a42 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-11 19:30] firedranzer commented on #12922
@asmeurer I did not referenced this issue as I was unsure if the PR solves the issue completely but having looked at the same file changes done by @ayush1999,I felt a need to address them here.I will keep this advice from next time.

[2017-07-11 20:23] leosartaj commented on #12922
If you are unsure about a fix feel free to ask for a review. Or if the PR
needs  further work  and is not ready to be reviewed/merged mark it as WIP.

On 11 July 2017 at 14:30, Rupesh Harode <notifications@github.com> wrote:

--
Regards
*Sartaj Singh*

*Mathematics and Computing*,
Indian Institute of Technology,
Varanasi - 221 005 INDIA

E-mail: singhsartaj94@gmail.com, *sartaj.singh.apm13@itbhu.a

[2017-07-11 23:46] smichr opened #12949 "geometry intersection is too restrictive"
It seems that the intersection function of geometry is looking for a common intersection of all entities. Perhaps it should be reporting the union of intersections?

[code]

[2017-07-12 00:16] ritchieng commented on #12933
@bjodah My sincere apologies. You're right about the version. I was using 1.0 and upgraded to 1.1 and it was fixed. Thanks for the heads up.

[2017-07-12 00:16] #12933 closed

[2017-07-12 01:03] mstimberg opened #12950 "as_explicit raises an error for MatMul objects (regression in sympy 1.1)"
In sympy 1.0, the following works as expected:
[code]
In sympy 1.1, the last statement from above raises an error:
[code]

Bisecting shows that the problem has been introduced with this commit: 6d55b862 (pinging @siefkenj as the commit author).

[2017-07-12 06:06] micahscopes commented on #11578
@ataber I've submitted a pull request for a glsl code printer: https://github.com/sympy/sympy/pull/12713

Maybe you have some feedback?

[2017-07-12 06:57] casevh commented on #12895
I hope to release gmpy2 2.0.9 within a few weeks. I plan to release 2.1.0a1 first but I would only use that for testing. The mpmath code is stable but there have been many changes for real and complex numbers

Since many users have difficulties compiling a new version of gmpy2, I think including a patch in SymPy 1.1.1 bug fix release would be helpful for them.

[2017-07-12 08:01] ayush1999 commented on #12949
@smichr The output would be 0, since all the three lines **v1,v2,v3** do not meet at a single point. The total number of intersections among them is 2, but **intersection returns the point/points through which all entities pass.**

[2017-07-12 08:03] ayush1999 commented on #12949
@smichr  @asmeurer  We can, however have a new function which returns all the points of intersection. I would love to work  on that. It would be more universal and less restrictive than the intersection function. Any ideas?

[2017-07-12 09:28] #12922 closed

[2017-07-12 09:38] smichr commented on #12949
I think a fix to the current `intersection` routine would be in order. The docstring does not say that a common intersection is given so we are free to change it. Althernatively, a keyword "union" which, when true, could trigger all the pairwise intersections being given.

[2017-07-12 12:25] schymans commented on #12887
Adding `**asumptions` in L30 above does not help. Not sure why, but here is an example for what I mean:
[code]
returns:
[code]
but it should only return:
[code]
Interestingly, the assumption is stored in `._assumptions` but not in `.assumptions0`:
[code]
returns
[code]
See also discussion in [Issue #4983](https://github.com/sympy/sympy/issues/4983).

[2017-07-12 12:39] ayush1999 commented on #12949
I have opened a PR. The change is working for all test cases I tried (2-Dimensional).
A new "union " argument was added.
**When union is false, the function works like it used to before.**
**When union is true, it tells the total points at which interception, between any two entities took place.(Unlike the previous case, which told the point through which all entities passed.)**

[2017-07-12 13:10] #10258 closed

[2017-07-12 13:15] smichr opened #12954 "Function.is_commutative based on arguments"
Currently, the commutativity of a function is determined by the arguments which is probably a bad idea since one might return a non-commutative expression from a function which accepts commutative arguments.

Current behavior:

[code]

See also #12945

[2017-07-12 13:46] asmeurer opened #12955 "Negative Power on a Holonomic Function not implemented"
[code]

Gives

[code]

Even though it's simple:

[code]

Also, if `n` is not set as positive, you get a bug:

[code]

CC @certik @shubhamtibra

[2017-07-12 14:17] jksuom commented on #12955
Negative powers of holonomic functions are not holonomic, in general. (Holonomic functions form a ring but not a field.)

[2017-07-12 15:07] asmeurer commented on #12955
Is there a good subset of functions with multiplicative inverses that can be computed? Are rational functions always holonomic?

[2017-07-12 15:08] asmeurer commented on #12950
If you can get a fix for this in soon against the 1.1.1 branch, it can go in the bugfix release.

[2017-07-12 16:55] #12921 closed

[2017-07-12 19:30] nzabahim opened #12956 "mpmath"
mpmath is very slow to calculate the coulombs wave function

[2017-07-12 19:32] asmeurer commented on #12895
What is the correct way to patch this? Can we just wrap some more places in MPZ, or should we try to fix deepcopy?

[2017-07-12 20:13] schymans commented on #12918
Solved in [PR#12952](https://github.com/sympy/sympy/pull/12952).

[2017-07-12 20:13] #12918 closed

[2017-07-12 20:26] jksuom commented on #12955
Rational, and even algebraic, functions are holonomic. There is support for rational functions of one variable, but `is_rational_function` does not recognize `1/x**n`. ('This function returns False for expressions that are "rational functions" with symbolic exponents.')

[2017-07-12 20:35] asmeurer commented on #12955
I'm wondering how general we can be here. Can we compute the symbolic power of an algebraic function?

[2017-07-12 23:51] zaxtax commented on #12955
Is there is something that would allow the following to work?

[code]

[2017-07-13 02:33] jilljenn opened #12958 "Search in the doc fails"
http://docs.sympy.org/latest/search.html?q=diff&check_keywords=yes&area=default

It just loops.

[2017-07-13 09:07] jksuom commented on #12955
`is_algebraic` does not recognize symbolic exponents, either. I think that the natural way to handle `1/x**n` is to consider it as a holonomic functions of two variables, one continuous, one discrete. But those are not yet implemented.

[2017-07-13 13:55] jirikuncar commented on #12887
I have been trying to fix the issue, but I can't even subclass `Quantity` with different assumptions.

[code]

[2017-07-13 14:59] asmeurer opened #12962 "Sphinx gallery"
Just learned about this library from the SciPy keynote https://sphinx-gallery.readthedocs.io/en/latest/

Could be interesting to write some examples with it, especially for larger use-cases that require scripts rather than just a few lines, like the mechanics module or codegen.

[2017-07-13 15:01] asmeurer commented on #12956
Please open an issue in the [mpmath issue tracker](https://github.com/fredrik-johansson/mpmath/issues). I also recommend noting a more specific example to reproduce the issue.

[2017-07-13 15:01] #12956 closed

[2017-07-13 15:02] asmeurer commented on #12958
Let's check if the latest version of Sphinx fixes this https://github.com/sympy/sympy/issues/12841

[2017-07-13 15:02] asmeurer commented on #12958
Error shown in the console: `searchindex.js:1 Uncaught SyntaxError: Invalid or unexpected token`

[2017-07-13 15:49] asmeurer commented on #12958
Should try to fix this for the bugfix release.

[2017-07-13 18:18] asmeurer commented on #12955
I'm here with @zaxtax at SciPy. He is trying to implement Table 1 on page 7 of https://www.cs.indiana.edu/pub/techreports/TR719.pdf.

It looks like these are all linear differential equations, and the symbolic powers all work out because the powers cancel in the logarithmic derivative D(log(f)).

So should be able to implement any symbolic power of a rational function, `r**n`, since `p0/p1` = `-Dr

[2017-07-13 18:21] asmeurer commented on #12955
Or should it be degree <= 1?

[2017-07-13 19:24] asmeurer commented on #12955
So if `p1*Df + p0*f = 0`, then `p0/p1 = -Df/f = -D(log(f))`. So `-D(log(f^n)) = -nD(log(f))`, hence, if `f` is holonomic of degree <= 1, with `p1*Df + p0*f = 0`, then `p1*D(f^n) + n*p0*(f^n) = 0`. For the initial conditions, in the linear case, you just take it to the `n`-th power.

Summary: `HolonomicFunction(p0 + p1*Dx, x, [x0])**n` should be `HolonomicFunction(n*p0 + p1*Dx, x, [x0**n])`.

I thi

[2017-07-13 19:28] asmeurer commented on #12955
By the way, there are two issues here

- Arbitrary powers of linear holonomic DEs
- Unguarded `n < 0` check (should check if `n.is_Integer` first and give a different error).

[2017-07-13 21:13] asmeurer commented on #12958
Looks like the latest version of Sphinx fixes it https://github.com/sympy/sympy/pull/12965

[2017-07-13 22:03] regisin opened #12966 "Arbitrary point of a polygon misses some points."
I believe I found a bug.

I am trying to print a dot along the perimeter of a polygon. I just installed anaconda and updated it, so SymPy is 1.1.

This is my script:

[code]

So basically, every 5 points along the perimeter, there should be a green dot. For some reason I don't understand, the arbitrary point function skips 2 corners on the given polygon, and this is the output image:

![issue](htt

[2017-07-14 05:08] zougloub opened #12967 "Failing simplification of subs(diff(...))"
The following code:
[code]
Shows:
[code]

[2017-07-14 05:31] zaxtax commented on #12955
How would I multiply the n symbol by the DMP that HolonomicFunction uses internally to store its polynomials?

[2017-07-14 07:03] ungung opened #12968 "No support for Eq(f(x + T), f(x)) match"
It's ok to do the following code,
x = Wild('x')
T = Wild('T')
pattern = Eq(cos(x + T), cos(x))
expr = Eq(cos(x+2*pi, evaluate=False), cos(x, evaluate=False), evaluate=False)
d = expr.match(pattern)
print(d)

but it's not ok to do:
x = Wild('x')
T = Wild('T')
pattern = Eq(f(x + T), f(x))
expr = Eq(cos(x+2*pi, evaluate=False), cos(x, evaluate=False), evaluate=False)
d = expr.match(pattern)
print(d)

[2017-07-14 08:07] jksuom commented on #12955
That should be possible if `n` is included among the generators of the domain `dom` of the DMP's.

[2017-07-14 08:10] 2torus commented on #12899
@asmeurer @smichr @ayush1999 There is more:
`>>> integrate(f(x,y).diff(x).diff(y),x)
`
`
x*Derivative(f(x, y), x, y)
`
Worse still, in [test_manual, line 184](https://github.com/sympy/sympy/blob/master/sympy/integrals/tests/test_manual.py#L184)
`
assert manualintegrate(Derivative(x**2 + 2*x + 3, y), x) ==  x * Derivative(x**2 + 2*x + 3, y)
`
I'll post a pull request once the tests pass.

[2017-07-14 09:29] szymag opened #12969 "Directional derivative works different when is called from different place."
Directional derivative is defined in two places. We can use them as a method in `vector` class (is also overloaded):
[code]
and the output is:
[code]
But when we use function `directional_derivative` in `sympy/vector/functions.py` we can't calculate directional derivative from vector field as previously, only from scalar field:
[code]
The output:
[code]

[2017-07-14 09:29] szymag commented on #12969
ping @Upabjojr

[2017-07-14 10:29] #12851 closed

[2017-07-14 10:29] #12815 closed

[2017-07-14 10:29] #12846 closed

[2017-07-14 14:22] asmeurer commented on #12955
Also another thing: it should guard against symbolic powers that contain x (`other.contains(self.x)`).

[2017-07-14 15:15] Upabjojr commented on #12969
The exception is raised by the `gradient`: you cannot compute the gradient of a vector field.

`(v & delop)(a.x*v)`

with this example you are trying to perform a directional derivative of a vector:

https://en.wikipedia.org/wiki/Directional_derivative#Derivatives_of_vector_valued_functions_of_vectors

I suggest to create a `DirectionalDerivative` class and

- fix the `directional_derivative` func

[2017-07-14 15:24] Upabjojr commented on #12969
Otherwise, the `gradient` could be generalized to support vector fields:

https://en.wikipedia.org/wiki/Gradient#Gradient_of_a_vector

[2017-07-14 16:17] Upabjojr commented on #12969
I have thought a bit more, we basically need to contemplate two cases for the directional derivative:

- you know the directional vector (but not the scalar)
- you know the directional vector and the scalar (or expression) to derive

Both cases should support unevaluated expressions. We could either have two classes (say `DirectionalDerivative` and `DirectionalDerivativeApplied`) or a single class

[2017-07-14 16:23] szymag commented on #12969
I have already started working on unevaluated expression.
I also preferred solution with one class.

[2017-07-14 16:33] Upabjojr commented on #12969
There is a small problem: if you only have the direction, the class should be callable, otherwise not. Maybe it's better to have two classes.

[2017-07-14 18:27] #12886 closed

[2017-07-14 21:18] pbtsrc opened #12972 "Result of sympy.factor depends on the length of the symbol names"
[code]
`out = (x - y)*(a*k + a - b - k) `

The same as above, just replaced "x" with "xx":

[code]
`out = -(-xx + y)*(a*k + a - b - k) `

[code]

[2017-07-14 23:45] regisin commented on #12966
So, I think I solved it. How do I push something here? I never used github outside my own repos.

Anyway, the solution is simple, all done in the polygon.py:

1 - Create a new property, as the original create segments, so they are undirected, we need rays instead, so it doesn't mess up with the order of the points.

[code]

2 - Modify `def arbitrary_point(self, parameter='t')`:

[code]

3 - All do

[2017-07-15 00:44] ungung opened #12974 "No support for subset"
(1,2) is a subset of (0, 3), but how can I represent this in sympy?

[2017-07-15 05:32] jksuom commented on #12966
@regisin You can get started with this: https://github.com/sympy/sympy/wiki/Introduction-to-contributing

[2017-07-15 05:38] jksuom commented on #12974
[code]

[2017-07-15 06:20] parsoyaarihant opened #12975 "integrate((a + b*x)**(5/2)/x**5, x) error"
[code]

[2017-07-15 06:21] #12975 closed

[2017-07-15 08:10] ishanaj commented on #7615
@asmeurer Is there anything else that needs to be done in this issue. If so I would like to take this up.

[2017-07-15 08:12] ishanaj commented on #12710
@asmeurer Should we move this wiki page to `doc`, if so I would like to work on it. Please suggest.

[2017-07-15 11:43] pelegm commented on #8430
Anyway, this ticket seems to still be relevant. It is not obvious that one should rewrite using heaviside in order to calculate the integral.

[2017-07-15 12:45] #8919 closed

[2017-07-15 12:45] #10087 closed

[2017-07-15 15:07] #12974 closed

[2017-07-15 17:04] asmeurer commented on #12955
@jksuom that will only work if the symbolic power is a polynomial. But it should work for any symbolic power that is independent of x.

Why does the holonomic module use DMP objects instead of Poly objects? It would be much simpler to do this with Poly.

[2017-07-15 17:43] ayush1999 commented on #12972
@pbtsrc The output in both cases is **same**. I don't see the problem here.

[2017-07-15 17:45] jksuom commented on #12955
Poly representations are DMP.
[code]

[2017-07-15 19:01] asmeurer commented on #12972
You can get the same result if you pass the variable name(s) to factor with respect to to factor, like `factor(exp, xx)`.

[2017-07-15 19:03] pbtsrc commented on #12972
Of course, the results are mathematically equivalent. But it's just quite unexpected that the output depends on the symbol names.

[2017-07-15 21:48] asmeurer commented on #12955
To multiply with an arbitrary constant you have to use the Poly logic. So you have to round trip to and from Poly. It would be simpler if DifferentialOperator just used Poly.

[2017-07-16 06:39] Yathartha22 commented on #7615
I think the purpose of the issue is being solved. @asmeurer It would be better if we close the issue, what do you suggest?

[2017-07-16 14:25] asmeurer commented on #8430
It should just work out of the box. The assumptions should be unnecessary because it could infer that from the integration limits.

[2017-07-16 14:33] asmeurer commented on #12972
@pbtsrc depending on what order Poly uses for the generators, it will affect the output, because it wants to make the polynomials have positive sign in the highest order term. In the first case, they are ordered `x, y, a, b, k` (you can see this by creating `Poly(exp)`), so both `x - y` and `a*k + a - b - k` have positive sign.

In the second case, it uses the order `y, a, b, k, xx`, so the term `

[2017-07-16 14:54] #12939 closed

[2017-07-16 17:03] bjodah commented on #12902
Why do the paths start with `/usr/lib64` on 32-bit systems? Sounds like the machines may have improper configurations.

I can reproduce the integer overflow error on i386 and armv7:
[code]

but not the floating point error.

[2017-07-16 17:56] pbtsrc commented on #12972
@asmeurer Thank you for the detailed explanation

[2017-07-16 19:00] chiranthsiddappa commented on #12056
Needs base 2 rounding, based on what python's round does. evalf does that already, should be in mpmath already. Ex, round even.

[2017-07-16 20:53] #6494 closed

[2017-07-16 20:56] smichr opened #12979 "Function.is_commutative should default to True"
As discussed [here](https://github.com/sympy/sympy/pull/12945#issuecomment-315569262) the commutativity of Functions should probably not depend on the commutativity of the arguments. Perhaps it should just be True unless the function is declared to be non-commutative.

[2017-07-16 22:55] asmeurer commented on #12979
For context, it is now much easier to make an undefined function noncommutative

[code]

One can easily imagine cases where the commutativy of the function wouldn't align with the commutativity of the argument(s):

[code]

[2017-07-17 05:16] schymans opened #12980 "Implement Abs() in Quantity.get_dimensional_expr"
On the current master, I get this exception:
[code]
This is because:
[code]
This was also shown in [PR#12961](https://github.com/sympy/sympy/pull/12961), where the same problem was resolved for `Quantity._collect_factor_and_dimension()`:
[code]

[2017-07-17 11:17] ayush1999 opened #12981 "Important Operations cannot be done in the vector module"
Various important functions can be added for tasks such as:

- Finding the distance between **two points** ( in vector form, 2D and 3D)

- Finding the distance between **a point and a line** ( in vector form, 2D and 3D)

- Finding the distance between **two lines** ( in vector form, 2D and 3D )

[2017-07-17 11:18] ayush1999 commented on #12981
@asmeurer @smichr Any thoughts?

[2017-07-17 13:30] Queuecumber opened #12982 "Couple of Problems with Set Product"
I'm trying to evaluate an expression over {0,1}^n where n is unknown. To do this I have defined as follows

[code]
This gives me the following error:

[code]

which is weird since I defined `n` as exactly a positive integer.

Oddly, when I evaluate

`sp.sympify(n).is_integer` I get True, but `sp.sympify(n).is_Integer` is False, what exactly does capitalizing the I in integer change here? I cannot

[2017-07-17 14:17] louisabraham opened #12983 "_print_Piecewise of NumExprPrinter"
You can't use Piecewise with numexpr:

[code]
gives
[code]

The problem is that
[code]
gives you
`"lambda x,y,z: (evaluate('((y) if (x >= 0) else (((z) if (x < 0) else None)))', truediv=True))"`
and numexpr can't process that.

One should modify the function _print_Piecewise of [NumExprPrinter ](http://docs.sympy.org/dev/_modules/sympy/printing/lambdarepr.html) to use the `where` function of NumEx

[2017-07-17 14:27] jksuom commented on #12982
If `n = sp.symbols('n', integer=True, positive=True)`, then `n` is a symbol that denotes an indeterminate integer. `n.is_Integer` is True only if `n` an object of class `Integer` as in `n = Integer(5)` (which is the same as `sympify(5)`).

[2017-07-17 16:07] Queuecumber commented on #12982
ok so that makes sense, and I'm, assuming `is_integer`, lowercase i, means it is some integer symbol or otherwise?

Also, as per my other question, can I create a set {0,1}^n and can sympy do symbolic math with samples from that set?

[2017-07-17 16:11] moorepants commented on #12983
I think we require piecewise to be fully defined in the other code printers. We just through an error if they have a undefined case.

[2017-07-17 16:16] louisabraham commented on #12983
It seems you put nan as default for numpy:

[code]

I'll try to reproduce that then.

[2017-07-17 17:54] jksuom commented on #12982
What should `[0, 1]^n` mean when `n` is a symbol?

[2017-07-17 20:12] regisin commented on #12966
Thanks @jksuom
I don't know if it worked or not, but I can see the request here: https://github.com/sympy/sympy/pull/12985

[2017-07-17 20:27] asmeurer commented on #12982
I think it can be defined symbolically for positive integers. But it should assume that a generic symbol is positive integer, unless it is explicitly set otherwise (similar to how `Sum` indices work without having to set them as `integer=True`).

[2017-07-18 03:01] smichr opened #12988 "difference/sum of Ray and Segment gives Complement/Union set"
While Point + Point is defined, Ray + Ray is not (in a vector sense) and it seems like that might be useful. Instead, current behavior gives a Complement set. (And also does so for the difference of Segments, though perhaps that should just raise an error.) And sums give Unions.

[code]

[2017-07-18 12:26] Queuecumber commented on #12982
@jksuom `{0,1}^n` not `[0,1]^n`, i.e. the Cartesian product of `{0,1}` with itself `n` times, e.g an n-tuple where values of the n-tuple are either 0 or 1

@asmeurer so it already should be working like this or it is a scenario you want to support in the future?

Specifically my aim here is to compute sums over these sets like in free energy of a restricted boltzmann machine

F(x) = - \log \sum_{h

[2017-07-18 15:05] asmeurer commented on #12982
I am saying it should work in the future. It probably isn't hard to get it working.

[2017-07-18 15:39] Upabjojr opened #12992 "Location of RUBI code"
The [current PR](https://github.com/sympy/sympy/pull/12978) for the RUBI integration code is adding a module located in `sympy.rubi`.

Should this code be there? Or is it better to relocate it somewhere else, like in `sympy.integrals.rubi`?

[2017-07-18 15:54] moorepants commented on #12992
Seems like it belongs in integrals to me.

[2017-07-18 19:09] asmeurer commented on #12992
Agree an integrals submodule makes more sense.

[2017-07-18 19:46] nasser1 opened #12993 "TypeError: 'NoneType' object is not subscriptable from call to integrate"
Copied from

https://stackoverflow.com/questions/45173987/typeerror-nonetype-object-is-not-subscriptable-from-call-to-integrate

Error using integrate.  Here is the MWE

Python 3.6.1 |Anaconda custom (64-bit)| (default, May 11 2017, 13:09:58)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):

[2017-07-18 21:41] schymans opened #12995 "Collect factor and dimension in exponents"
This came up in the discussion of [PR#12961](https://github.com/sympy/sympy/pull/12961):
[code]
The first result shows that the factor and dimension of the exponent was not collected. Here is what should be returned above:
[code]

[2017-07-18 22:46] #12928 closed

[2017-07-19 04:57] jksuom commented on #12993
There is a bug in `manualintegrate.trig_substitution_rule`:
[code]
The wild symbols `a` and `b` are reassigned in the loop and, if the loop is repeated, `expr.match` will fail and return `None`.

[2017-07-19 05:15] nasser1 opened #12996 "sympy generates exception on integrate(log(abs(x)),x)"
copied from

https://stackoverflow.com/questions/45181469/sympy-generates-exception-on-integratelogabsx-x

If sympy can't do an integral, should it not return the input unevaluated? Why does it generate an exception here?

integrate(log(abs(x)),x) gives exception. But integrate(log(x),x) does not. Why?

[code]

Posting it here in case this is new issue.

[2017-07-19 07:24] user234683 opened #12998 "degree(f, var) is much slower than Poly(f).degree(var), (27x with this particular poly)"
Environment: Python 3.6.2 Windows 7 64 bit, sympy-1.1.2.dev0
I have `c0, c1, c2, c3, c4, c5, c6, c7, c8, c9, e = symbols("c0, c1, c2, c3, c4, c5, c6, c7, c8, c9, e")`
and f is a big polynomial in those variables (about 3 KB. I can supply it if necessary.)

With this particular polynomial, it's 27x slower. It depends on how many other variables you have, because the speed difference exactly mirrors

[2017-07-19 09:28] smichr opened #13000 "cse leaves behind hollow Mul"
[code]

This fails because `-4*a**2` comes back as `Mul(-1, 4, a**2, evaluate=False)`.

[2017-07-19 11:50] Yathartha22 commented on #7847
Is this issue fixed? I would like to take this on.

[2017-07-19 12:06] smichr commented on #12631
Does this work with the new `piecewise_fold` function?

[2017-07-19 14:32] #12995 closed

[2017-07-19 16:52] asmeurer commented on #12902
I was thinking, maybe the version of NumPy affects it?