[2017-10-12 20:41] asmeurer commented on #8373
Boolean logic is designed around the idea that everything is either true or false. The best way to make sense of `x > 0` for nonreal x is to just set it to False. That is, `a > b` is equivalent to `Q.positive(a - b)`. You'll notice that `ask(Q.positive(I))` gives `False`.

This leads to some things that you have to be careful about. You don't have that `x > 0` and `x <= 0` are exhaustive, but they

[2017-10-12 21:32] asmeurer commented on #13432
We should implement it. It's harder because argmax isn't well defined in general. In general, argmax would have to be a set. Assumedly for your equation you know your function in question has a unique global maximum.

So we probably should define `argmax(f(x), x)` so that it returns a Set object. But then it becomes more difficult to use in an equation.

[2017-10-12 21:40] sayak119 commented on #13436
@gxyd I would like to work on this issue

[2017-10-13 00:22] asmeurer commented on #13427
One of the reasons we created a separate boolean type for SymPy is because the Python booleans behave like integers, which is incorrect for our mathematical needs. For me, putting True or False in an expression (non-boolean) context is a garbage in-garbage out scenario.

[2017-10-13 00:24] asmeurer commented on #13427
See also the [docstring of BooleanTrue](http://docs.sympy.org/latest/modules/logic.html#sympy.logic.boolalg.BooleanTrue).

[2017-10-13 00:38] asmeurer commented on #13427
Here's some history for anyone interested (I'm pretty sure I'm the "happy elephant" on Google Code) https://github.com/sympy/sympy/pull/2560

[2017-10-13 04:35] #9184 closed

[2017-10-13 05:04] rwst commented on #13430
The ticket is only in part (the last part) about moving the testing. Of relevance to SymPy is testing the interface, and possibly leveraging Sage’s symbolic testsuite. Both are a very limited part of Sage, doctests in a few files that use SymPy. That will increase hopefully. Anyway, to do full Sage testing for this is overkill and not practical in Travis. Maybe it’s possible to have a docker image

[2017-10-13 06:24] #13436 closed

[2017-10-13 10:15] Wrzlprmft commented on #13427
Okay, Python booleans and SymPy booleans work differently, I accept that. But if there is already inconsistency here anyway (e.g., `~sympy.true != ~True`), what would be the problem with SymPy treating Python booleans like Python integers in all respects? That’s what I am suggesting here; I wasn’t even aware of the existence of SymPy booleans when I made this request. (Note that the above is not a

[2017-10-13 12:03] smichr commented on #13427
One of the idioms that we use is to convert python values to sympy values. `sympify(True)` -> `S.true`, the sympy boolean. So if you write `foo*True` where `foo` is a sympy object there will be a request to `sympify` to convert True. But there is no context to inform the conversion process as to whether True should be converted to 1 or whether it should be converted to S.true. Well, actually there

[2017-10-13 14:07] Wrzlprmft commented on #13427
I am not sufficiently familiar with SymPy’s code to make substantiated statements on this, but it could be as easy as replacing `type(x) == int` with `issubclass(type(x),int)`.

Well, it’s of course a simplified example and I do not suggest that either of this is typed. Rather all elements of `1*True*x` could be the result of some function evaluation. Thus, if you happen to change the order of ope

[2017-10-13 15:46] smichr commented on #13427
The results of all but a few low-level functions are all SymPy objects so I don't think this will occur unless a user is writing their own functions and returning non-sympified results and combining them with bool results. It might be worth a word in a gotchas section of the tutorial.

[2017-10-13 15:50] asmeurer commented on #13427
`~True` is actually the initial motivation, since in Python it gives a integer value that has a boolean value of True (`-2`). If you have boolean values and want to include them in SymPy expressions interpreted as 0 and 1, your best bet is to first convert them to 0/1.

I agree with @smichr that this could be documented better. There are some notes in the BooleanTrue docstring that hint at why it

[2017-10-13 15:53] Wrzlprmft commented on #13427
SymPy does not have to factor into this part at all. The function that sometimes returns a boolean in that example could be any Python routine, user-defined or by some other module (e.g., NumPy). Yes, in most cases, this would be non-perfect behaviour, but given Python’s standards on booleans, it’s not really bad either.

[2017-10-13 18:06] smichr opened #13444 "encoding missing from physics/units/definitions?"
I get the following in 2.7 but not in Python 3.6:
[code]

[2017-10-13 18:42] jksuom commented on #13444
There is  a utf-8 encoded EN DASH in stefan-boltzmann. It looks like  `â <80> <93>`  as latin1 characters.

[2017-10-13 19:41] clarkgwillison commented on #10380
Stumbled across this myself today. Here's what I found:

[code]

As a user, I would expect to see something more like this:
[code]

[2017-10-13 23:10] #12814 closed

[2017-10-13 23:10] #13412 closed

[2017-10-13 23:48] #10979 closed

[2017-10-13 23:49] smichr commented on #10979
You might give it another run, but glad this worked better for you. It's part of master, now.

[2017-10-13 23:51] #13444 closed

[2017-10-14 00:54] smichr commented on #13427
I think what we are discussing is inherent to the cse-in-python world. What you are saying makes sense in Python. Sympy has isolated Boolean behavior which makes sense mathematically. This is just one if those areas where a decision has been made not to let Python norms dictate something that doesn't make mathematical sense.

[2017-10-14 05:38] #13348 closed

[2017-10-14 05:48] cbm755 commented on #13425
I also worried about side effects, so maybe the `evaluate=False` thing is indeed a bad idea.

Re: changing `sympify`: this sounds reasonable, maybe something like `sympify('2*0.1', default_float_dps=30)`.  l poked around; looks like `sympy.parsing.sympy_parser.auto_number` is where the `Float` is.  So this *might* be an easy fix, just need to ensure the new kwarg gets to `auto_number`.

Note: `sym

[2017-10-14 08:31] Wrzlprmft commented on #13427
… and that’s all fine and proper. But that doesn’t mean that SymPy has to break with Python standard with respect to *Python* booleans.

As far as I can see, there are only a few ways to obtain a SymPy boolean anyway:

* Import it directly.
* Sympify a Python boolean (and nothing else), `"True"`, or something similar.
* Use a SymPy function returning a SymPy boolean.
* Use bitwise operators with a

[2017-10-14 08:31] Wrzlprmft commented on #13427
… and that’s all fine and proper. But that doesn’t mean that SymPy has to break with Python standard with respect to *Python* booleans.

As far as I can see, there are only a few ways to obtain a SymPy boolean anyway:

* Import it directly.
* Sympify a Python boolean (and nothing else), `"True"`, or something similar.
* Use a SymPy function returning a SymPy boolean.
* Use bitwise operators with a

[2017-10-14 08:36] ayush1999 commented on #13433
@ethankward . I ran the same on my machine. Here is the result:
[code]

[2017-10-14 14:17] moorepants commented on #10979
Thanks!

[2017-10-14 14:20] rwst opened #13446 "Wrong gamma rewrite of falling factorial"
[code]

[2017-10-14 14:31] moorepants opened #13447 "meijerg intergration has a signficant slowdown after 1.0"
It is difficult to identify due to the commits not giving consistent readings wrt to adjacent commits, but a 150x slowdown seems present:

http://www.moorepants.info/misc/sympy-asv/#integrate.TimeIntegration01.time_doit_meijerg

[2017-10-14 14:38] moorepants opened #13448 "Seems to be a dsolve speed regression after 1.0"
Somewhere here:

https://github.com/sympy/sympy/compare/307eaae4...b1041811

but not clear what it might be.

Benchmark:

http://www.moorepants.info/misc/sympy-asv/#dsolve.TimeDsolve01.time_dsolve

[2017-10-14 16:09] ethankward commented on #13433
@ayush1999 I get the error on the latest release, 1.1.1, as well as the current master branch.

[2017-10-14 17:08] ethankward commented on #13446
The rewrite condition that needs to be checked is that both `x` and `x+y` are real numbers that are not negative integers.

[2017-10-14 19:12] asmeurer commented on #13427
But the problem is that we want the ability to use True and False in SymPy boolean contexts. So sympify() currently converts those to the corresponding SymPy types. This is more important than having them work in integer contexts, since that's much rarer. You could try to be context sensitive, but it adds complication to the code, and you can't always guess correctly in every case.

[2017-10-14 19:14] asmeurer commented on #13448
It's most likely something in the matrices. Can you narrow it down further?

[2017-10-14 20:49] gxyd opened #13449 "Improve docstring of matrices/matrices.py"
The docstring of functions in matrices/matrices.py looks ugly. Since it should use double backticks for functions mention instead of single backtick.

Look at PR #12726 .

[2017-10-14 21:20] gxyd opened #13450 "Improve encryption of Zen of SymPy"
We have "The Zen of SymPy" here https://github.com/sympy/sympy/blob/master/sympy/this.py . Currently it uses rot13 for encryption, we can use something more clever than that.

Read discussion on merged PR #11071 for suggestions.

[2017-10-15 01:09] ylemkimon commented on #8758
FYI:
[code]

[2017-10-15 01:21] ylemkimon commented on #11459
I think we should integrate `exptrigsimp` into `trigsimp` or change the order of them in `simplify`. `trigsimp` or at least `simplify` should be able to simplify similar forms, but it currently isn't: #8758.

[2017-10-15 09:26] vishalg2235 commented on #13449
Hey. I'm new to sympy and open-source.
So should I change all the single backticks from all comments to double backticks ?

[2017-10-15 11:40] pelegm commented on #9184
Should this close #8772 as well?

[2017-10-15 11:51] yashkgp commented on #13449
Hey! @gxyd  , Can I work on this issue?

[2017-10-15 11:56] gxyd commented on #13449
We don't need to change all single backticks to double backticks. Rather the ones which represent code, like `self` in most of the cases should be double ticked, also there are functions names that are there those should also be double back-ticked.

@yashkgp let's please wait for @vishalg2235 and see if he sends in a PR. If he says he isn't working on it, you can then send in a PR.

[2017-10-15 11:58] gxyd commented on #8772
This issue was fixed by #9198 .

[2017-10-15 11:58] #8772 closed

[2017-10-15 11:59] gxyd commented on #9184
Yes, I have closed the issue. Thanks, I forgot to close this.

[2017-10-15 12:15] ylemkimon opened #13454 "Sympifying of NumPy array fails on Windows 64-bit Python 2.7"
[code]
on Windows 64-bit Python 2.7.

[2017-10-15 12:22] yashkgp commented on #13425
Can I get more info on this?

[2017-10-15 13:04] jksuom commented on #13449
Also, only docstrings need be considered. Comments elsewhere do not appear in documents.

[2017-10-15 13:10] vishalg2235 commented on #13449
`"""Return the submatrix obtained by removing the `i`th row
        and `j`th column from ``self``.

        See Also
        ========

        minor
        cofactor
        """`
@gxyd  Here should I also doubletick i and j ?

[2017-10-15 15:55] vruge opened #13456 "factor for MatrixSymbol, wrong atoms"
In polytools.py for `factor(., deep=True)` is
[code]
which is not work fine for MatrixSymbol, because MatrixSymbol use `MatMul` and `MatAdd`.

[2017-10-15 16:07] asmeurer opened #13457 "_eval_diff vs. _eval_derivative"
Why do we have both _eval_diff and _eval_derivative? It seems the difference is that _eval_derivative is called inside Derivative, whereas _eval_diff is called inside diff(). It was added in https://github.com/sympy/sympy/commit/d86f737d11b75165d1a050f4636be90b6e9222cd but the commit message doesn't mention it.

Is there anything that _eval_diff does that _eval_derivative cannot do? If not, I thin

[2017-10-15 18:35] ethankward opened #13460 "Integration of certain cubic rational functions is incorrect"
0.00836361801336797

More examples: `1/(40*x**3 + 34*x**2 - 30*x - 28)`, `1/(-(x**3) - 15*x**2 + 17*x - 18)`, `1/(-(x**3) - 15*x**2 + 23*x + 40)`.

I've verified the numerical result with other tools, so I'm pretty sure the error isn't in mpmath.

[2017-10-16 06:47] cbm755 commented on #13425
So first of all, I'm not *sure* its "Easy to Fix", I only say it might be...

1.  Try `srepr(sympify('2*0.1'))`.  Note result has double precision (16 digits, 53 bits).

2.  Try `Float(sympify('2*0.1'), 32)`.  Note result has higher precision but is half-full of garbage.  Think about and understand why approach will never work.

3.  Implement `sympify('2*0.1'), default_float_dps=32)` which uses `F

[2017-10-16 11:39] skirpichev commented on #13460
Apparently, issue is not in the definite integration:
[code]

[2017-10-16 16:18] jksuom commented on #13460
The antiderivative should be a sum of three logarithms since the denominator has three simple roots. It seems that `log_to_real` fails to recognize the two complex roots because 'chop' does not work as expected on [this line](https://github.com/sympy/sympy/blob/master/sympy/integrals/rationaltools.py#L367):
[code]

[2017-10-16 17:01] asmeurer commented on #13460
I would be careful about using chop=True in library code. I think the option only works when you know the value you are working with and know that it should go to 0. As far as I understand, it uses a method based on absolute value, which can easily lead to false positives if you actually do have a small but nonzero value (e.g., `(1/2**S(100)).evalf(chop=True)`).

[2017-10-16 19:01] divakarvi opened #13462 "Bug in sympy.limit()"
The following code was run using sympy version 1.0, python version 3.4, Anaconda installation.

[code]

It prints

[code]

As you can see, the result for c2 is wrong, although it is able to calculate c2x correctly.

Can someone please clarify what is going on?

Thanks!

[2017-10-17 01:41] smichr commented on #13460
That looks like a 0 with no precision -- and like using `chop` we must not make decisions when they are not warranted by a precisionless result.

[2017-10-17 02:23] #13359 closed

[2017-10-17 05:15] ylemkimon opened #13465 "Rename "Easy To Fix" label to "good first issue""
GitHub has added "help wanted" and "good first issue" labels to their [default labels](https://help.github.com/articles/about-labels/), and states:

Also, excerpted from https://github.com/servo/servo/issues/18905:

It currently suggests it at the top of issues page for first-time contributors like:

![issue](https://user-images.githubusercontent.com/888148/31647720-c1b63292-b344-11e7-93dc-9725350

[2017-10-17 06:21] gxyd commented on #13465
BTW, can any contributor add 'help wanted' label to his PR?

[2017-10-17 07:46] asmeurer commented on #13465
It would be great if GitHub could support making it so that we don't have to rename the labels. We have a lot of developer documentation and mailing list posts and so on that say "easy to fix". If we change the label name the links will break and it will be confusing to new users.

[2017-10-17 09:28] JohnStone2017 opened #13466 "Why not incorporate Maxima?"
I mean this with all due respect. This page describes some features of Maxima lacking in SymPy:

https://github.com/sympy/sympy/wiki/SymPy-vs.-Maxima

For Maxima-features not implemented in SymPy, why not have SymPy call Maxima for the answer? If necessary, a LISP could be implemented within SymPy to support Maxima; LISP would not be hard to implement in Python.

[2017-10-17 11:02] #13275 closed

[2017-10-17 13:11] ylemkimon commented on #13465
@gxyd No, still those with write access can apply labels. From documentation:

@asmeurer Maybe we can create an issue with labels "Easy to Fix" and "good first issue" and redirect to one label, or use both labels simultaneously.

[2017-10-17 14:15] #13223 closed

[2017-10-17 14:15] #13347 closed

[2017-10-17 14:15] #13349 closed

[2017-10-17 14:15] #13370 closed

[2017-10-17 14:45] #12564 closed

[2017-10-17 16:54] cbm755 commented on #13275
Thanks to both our new contributors for starting, and sticking with, this nice example of collaboration.

[2017-10-17 17:49] asmeurer commented on #13465
@ylemkimon a redirect issue sounds like a simple solution until they make it configurable.

[2017-10-17 19:28] Kenny3141 opened #13468 "Problem with sympy.physics.wigner"
When using the package wigner_9j from sympy.physics.wigner it gives wrong results for some specific wigner 9j symbols. The example given below does in fact only have integer or half-integer input and furthermore fulfills the triangle rule, yet it still returns an error. I cross checked with the module given on the webpage from [Anthony Stone]( http://www-stone.ch.cam.ac.uk/cgi-bin/wigner.cgi?symbo

[2017-10-17 19:35] Trave11er commented on #13275
Was a pleasure! Thank you for the gentle introduction into the development of SymPy.

[2017-10-17 20:46] bmgxyz commented on #13275
My thoughts exactly. Many thanks. :+1:

[2017-10-17 22:51] alubbock opened #13470 "Python 2->3 pickle fails with float-containing expressions"
Dumping a pickled sympy expression containing a float in Python 2, then loading it in Python 3 generates an error.

Here is a minimum working example, verified with sympy git commit 3546ac7 (master at time of writing), Python 2.7 and Python 3.6:

[code]

and the result:

[code]

[2017-10-17 23:05] nicoguaro opened #13472 "vector: Use of scale factors"
In #12261 I mentioned the use of scale factors when computing differential operators. There
is a list [here](https://en.wikipedia.org/wiki/Orthogonal_coordinates#Table_of_orthogonal_coordinates)

I use that approach in the following notebook

http://nbviewer.jupyter.org/github/nicoguaro/notebooks_examples/blob/master/Vectors_operators.ipynb

I should also add, that I am interested in using this op

[2017-10-17 23:05] nicoguaro commented on #13472
@gxyd, done

[2017-10-18 01:44] ethankward opened #13473 ".subs on coth(log(tan(x))) errors for certain integral values"
...
    File "C:\Users\E\Desktop\sympy-master\sympy\functions\elementary\hyperbolic.py", line 590, in eval
        if cotm is S.ComplexInfinity:
    NameError: name 'cotm' is not defined

Fails for 2, 3, 5, 6, 8, 9, 11, 12, 13, 15, 18, ... etc.

[2017-10-18 02:25] ethankward opened #13474 "Cannot simplify x + csch(sinc(1))"
...
    File "C:\Users\E\Desktop\sympy-master\sympy\simplify\fu.py", line 433, in f
    rv = fmap[rv.func](S.Pi/2 - rv.args[0])
    KeyError: sinc

(I should have said: cannot apply the simplification function, since I'm not expecting any simplification to  actually take place).

[2017-10-18 03:00] #13008 closed

[2017-10-18 05:31] ethankward opened #13475 "Recursion errors with exponential integral Ei composed with other functions"
...
    RecursionError: maximum recursion depth exceeded while calling a Python object

    ...
    RecursionError: maximum recursion depth exceeded while calling a Python object

`Ei(cos(x))` is dependent on the specific value of `x`: 2, 3, 4, and 8 produce the recursion error for example, and 1, 5, 6 and 7 do not.

[2017-10-18 05:47] jksuom commented on #13473
There is a typo on [line 590](https://github.com/sympy/sympy/blob/master/sympy/functions/elementary/hyperbolic.py#L590): `cotm` should be `cothm`.

[2017-10-18 14:14] ylemkimon commented on #13466
You can use [Sage](http://www.sagemath.org/) for integrating various mathematical packages. It includes SymPy, Maxima, as well as many other useful and powerful packages.

[2017-10-18 14:38] ferhatpy opened #13477 "dsolve gives correct solution"
y''+y'=sinx

eq=Eq(y.diff(x,2)+y.diff(x),sin(x))
dsolve(eq,y,hint="nth_linear_constant_coeff_undetermined_coefficients")
gives a wrong answer. It gives
C1 + C2*exp(-x) - sin(x)/2 - cos(x)/2
but it must be
(-(x/2) + C[1]) Cos[x] + C[2] Sin[x]
why?

[2017-10-18 14:39] Upabjojr opened #13478 "Mutable arrays don't support slice assignment"
See: https://stackoverflow.com/questions/46796005/type-error-in-sympy-when-using-tensor-arrays/46812789#46812789

[2017-10-18 18:10] gxyd opened #13481 "Add tests for normalized hydrogen wave functions psi_{nlm}"
To complete PR #12164 add tests for it.

[2017-10-18 19:30] asmeurer opened #13482 "High level lambdify documentation"
We need some high level documentation on how lambdify works. A simple explanation of what it does (print and eval an expression as a Python lambda in a separate namespace) can go a long way to using it properly and understanding what is going on when it does something unexpected.

I would either put it in the lambdify docstring, or, if it ends up being too long, a Sphinx document that is reference

[2017-10-18 19:42] asmeurer opened #13483 "lambdify doctests are not run"
The `doctest_depends_on` decorator for `lambdify` is written incorrectly, and the doctests are not run. It uses `modules=('numpy')` instead of `modules=('numpy',)`. So you get, with `./bin/doctest -v lambdify`

[code]

We should also check if other doctests have the same problem.

[2017-10-18 21:18] asmeurer commented on #13483
There is a partial fix at https://github.com/sympy/sympy/pull/13485, but I need some help figuring out some of the doctest failures in lambdify. Also, someone still needs to audit the codebase to make sure there aren't other doctests not being run, and we should also probably improve the `doctest_depends_on` to avoid issues like this in the future.

[2017-10-18 22:28] #13470 closed

[2017-10-19 04:33] JohnStone2017 commented on #13466
That is a good point, thanks.

[2017-10-19 05:37] #13473 closed

[2017-10-19 08:37] ylemkimon commented on #13027
Wrapping integer divisions would fail, when integer operation is in dividend or divisor, e.g., `2**3/7` and `(3+5)/7`, which is more common cases.

[2017-10-19 09:35] Trave11er commented on #12942
Hello, I'd like to work on this issue.

[2017-10-19 10:02] jksuom commented on #13468
Wigner 9-j symbols are computed as sums of triple-products of Racah coefficients. I have not seen the original reference, but the expression resembles closely the sum of triple-products of 6-j symbols presented in [wikipedia](https://en.wikipedia.org/wiki/9-j_symbol). Only no particular attention is paid to this condition: "the summation extends over all x admitted by the triangle conditions in th

[2017-10-19 11:13] dcabecinhas opened #13486 "Symbolic roots returned by roots_quartic() are not correct in some circumstances"
There is an issue regarding the symbolic roots returned by `roots_quartic` (in [polyroots.py](https://github.com/sympy/sympy/blob/master/sympy/polys/polyroots.py#L245)) using Ferrari's method.

The documentation for `roots_quartic` states

The problem is that for symbolic expressions the check for `f == 0` or `g == 0` cannot be done, in general, before numerical substitutions are performed. This i

[2017-10-19 14:19] ylemkimon commented on #13477
It seems correct. See [WolframAlpha](http://www.wolframalpha.com/input/?i=y%27%27%2By%27%3Dsin(x)).

[2017-10-19 18:28] ferhatpy commented on #13477
I'm really sorry that I have written the wrong equation and compared its solution with an another differential equation's solution.
The challenging one is the following,
y''+y=sinx

eq=Eq(y.diff(x,2)+y,sin(x))
dsolve(eq,y)
and SymPy gives the correct answer.
Eq(y(x), C2*sin(x) + (C1 - x/2)*cos(x))

Also the solution for the previous equation is true.
Many thanks to the developers.

All codes:
x =

[2017-10-19 18:28] #13477 closed

[2017-10-19 19:11] vruge opened #13490 "missing symplify for MatrixSymbol with neg"
following example failed to simplify `S.NegativeOne * S.NegativeOne`
[code]

[2017-10-19 20:01] skirpichev commented on #13027
@ylemkimon, good catch, more deep tests for arguments of ast.Div required in such cases.

[2017-10-19 22:38] asmeurer commented on #13326
Combining multiple modules in lambdify is only sort of supported anyway. I really don't know how we could combine multiple printers.

[2017-10-19 22:43] scottstanie opened #13491 "Sympy can't find laplace transform of the sum, when it can find it for each part"
I'm computing the inverse Laplace transform of an expression which is the sum of relatively basics terms to invert:

[code]

It seems to be able to compute each individual fine:

[code]

Yet when I take the sum of these, I get a long error saying it can't find the polynomial

[code]
[code]

Does anyone know a reason why sympy shouldn't be able to do this on the sum of the parts when it can do it o

[2017-10-19 23:07] asmeurer commented on #13491
It's probably undoing your nice partial fraction expansion, and then the integrator doesn't know how to handle it. Unfortunately, Laplace transforms are currently only handled by direct integration, which means if the integrator (generally the Meijer G algorithm, which is based on a lot of heuristics) fails, it won't get the answer.

I think we should move the integral transforms to pattern matchi

[2017-10-20 09:25] hoyeunglee opened #13497 "solve result in OverflowError: Python int too large to convert to C long"
sol1 = solve([Eq(Sol[sa] - exp(xx),0),Eq(Sol[sb] - exp(y1),0)],[xx,y1])

I should return complex number
if use Rational=False, it return empty []

Traceback (most recent call last):
  File "<stdin>", line 45, in <module>
  File "C:\Python27\lib\site-packages\sympy\solvers\solvers.py", line 1067, in solve
    solution = _solve_system(f, symbols, **flags)
  File "C:\Python27\lib\site-packages\sympy\

[2017-10-20 11:04] hoyeunglee commented on #13497
Typo, it should return complex number but error when run

[2017-10-20 11:05] yashkgp commented on #13468
Hey @jksuom Can i get more info on this one?

[2017-10-20 14:55] ylemkimon commented on #6276
Fixed by #13008.

[2017-10-20 14:55] #6276 closed

[2017-10-20 15:27] Yathartha22 commented on #13431
@smichr I would like to take this up.
I am concerned with two things:

- Where should this function be defined?
I think a good place would be in `core.symbols`. Not sure but since this file contains everything related to symbols, it would be a good place to put the function.

- Secondly, one improvement can be done, rather than user explicitly using `xreplace` and passing `t.free_symbols`, the fun

[2017-10-20 18:37] smichr opened #13499 "(cos(x) > 0).subs(x, oo) ->SympifyError"
[code]

Perhaps related to #13159 (?)

[2017-10-20 19:21] asmeurer commented on #13499
`>` shouldn't be using op_priority. It looks like `cos(oo) > 0` just gives None

[code]

[2017-10-20 20:12] asmeurer commented on #13499
Looks like `AccumBounds.__lt__` etc. incorrectly return None in some cases. They should be falling back to the `__lt__` of the super class, which would create an Lt object.

[2017-10-20 20:29] asmeurer commented on #12955
The powers of linear holonomics was implemented, but there is still the issue of the module using the lower level DMP objects instead of just using Poly, which would simplify the code quite a bit.

[2017-10-20 20:32] asmeurer opened #13500 "Holonomic module should use Poly instead of lower level objects"
The problem is that the lower level polys objects do not handle automatic domain creation. So if you want to add a new symbolic term, it's not easy (the easiest way is to create a Poly, then use the `.rep`).

See discussion at https://github.com/sympy/sympy/issues/12955 and https://github.com/sympy/sympy/pull/12989.

[2017-10-20 20:32] asmeurer commented on #12955
I opened a new issue for that. https://github.com/sympy/sympy/issues/13500

[2017-10-20 20:32] #12955 closed

[2017-10-21 03:23] normalhuman opened #13501 "Incorrect integral of a rational function with a symbolic coefficient"
Using SymPy 1.1.1., Python 3.6.2:
[code]
The integral is correct if `a` is not present, or is declared positive. With `a` having `positive=True` the output is
`atan(a*x)/a`.

Based on a [Stack Overflow question](https://stackoverflow.com/q/46841488)

[2017-10-21 05:04] jksuom commented on #13501
The correct integral is also obtained if `a` is declared negative. It is a known issue that the integrator currently fails if the sign of `a` cannot be determined (see https://github.com/sympy/sympy/issues/12050#issuecomment-273188218).

[2017-10-21 06:24] jksuom commented on #13468
Information on Wigner symbols and their variants is probably best found in wikipedia. However, that is not essential for the fix. It should be enough to embed the triple-product computations in a try-block and include in `sumres` only those terms that do not raise ValueError.

[2017-10-21 12:14] smichr commented on #13431
I think a good location is symbols, too. And your idea to just pass an object and get the object back with the disambiguated symbols makes sense. If the object passed is not a Basic type then perhaps if it is an iterable or sequence it could be returned as a tuple, e.g. `disambiguate_symbols([Dummy(x),Dummy(x)]) -> [_x_1, _x_2]`

[2017-10-21 12:29] ylemkimon opened #13503 "evalf of CRootOf fails on Windows Python 2.7 with gmpy2"
[code]

[2017-10-21 12:37] Trave11er commented on #13468
@jksuom, have tried your suggestion (see below) and it no longer gives an error by the result is wrong - my attempt with the OP's input gives the answer of 0 instead of 1/6, so something else is going on. Will have a deeper look.
[code]

[2017-10-21 12:49] josephcslater commented on #13376
Thanks. I'll pass it on (this was actually asked of me on [my blog](https://josephcslater.github.io/differential_equation_solution_sympy.html). Credited back to your answer. (First ever question on my blog and I couldn't answer it! Ha!)

[2017-10-21 13:14] ylemkimon commented on #13234
Also on Windows Python 2.7 32/64-bit.

[2017-10-21 13:14] ylemkimon commented on #13503
Duplicate of #13234.

[2017-10-21 13:14] #13503 closed

[2017-10-21 14:12] jksuom commented on #13468
Wikipedia says that the summation should extend over *all* x satisfying the triangle conditions. I think that it should also include half-integer values. In other words, the summation should run not over 0, 1, 2, ... but over 0, 1/2, 1, 3/2, 2, ... in steps of 1/2. That can be implemented by replacing `kk` by `kk/2` in the terms and doubling the range of `kk`.

[2017-10-21 14:37] yashkgp commented on #13468
Hey @jksuom Can i work on this issue?

[2017-10-21 14:49] ylemkimon commented on #13234
PRed a fix https://github.com/fredrik-johansson/mpmath/pull/374.

[2017-10-21 15:01] nilqed opened #13506 "Parse error (rationals)?"
### x+2/7 ==> x

[code]

[2017-10-21 15:04] #13506 closed

[2017-10-21 16:37] gxyd commented on #10035
Closing this issue, fixed by https://github.com/sympy/sympy/pull/12112.

[2017-10-21 16:37] #10035 closed

[2017-10-21 19:05] vruge opened #13508 "MatrixSymbol, future simplification with neg missing"
e.g.
[code]

[2017-10-22 00:01] #13454 closed

[2017-10-22 05:53] #13508 closed

[2017-10-22 08:38] Trave11er commented on #13468
@jksuom, changed `int(imax)` to `2*int(imax)` and `2*kk` to `k` however that didn't help and made the answer to the docstring example wrong. Happy to go though the implementation of Wigner functions but since, @yashkgp expressed interest first, I should probably step aside.

[2017-10-22 08:42] Trave11er commented on #13481
I would like to work on this issue.

[2017-10-22 10:08] jksuom commented on #13468
And also `kk` to `k/2` as arguments of `racah`?

Examples (also in the docstring) could be checked with Stone's calculator. (If there is something wrong in the implementation, the answer in the docstring example could be wrong.)

If wrong answers persist, I suppose the sum expression should be carefully compared with the original source. There could be a typo in the argument lists of `racah` calls

[2017-10-22 10:49] yashkgp commented on #13468
Hey @jksuom and @Trave11er I did the folowing changes in the code  :
  1.Added Try block in the loop
  2.Doubled the range of kk
  3. Replaced kk by kk/2 (in arguments of ranch too )
[code]

[2017-10-22 11:00] Trave11er commented on #13468
Indeed - thanks, @jksuom. Can confirm @yashkgp 's finding that it gives correct answer for the docstring example (which agrees with Stone's calculator) but not for the OP's input.

[2017-10-22 11:19] ylemkimon commented on #13234
A fix fredrik-johansson/mpmath#374 has been PRed and merged in the upstream. This issue will be fixed and in the next mpmath release, and I'll close this issue then. Thank you!

[2017-10-22 11:21] Trave11er commented on #13481
Added tests for `Psi_{nlm}` as implemented in #12164 and removed a duplicate line from test_spherical_harmonics.py. Also, for me the `integrate(...)` example in the docstring failed to calculate.

[2017-10-22 14:39] jksuom commented on #13468
The wikipedia formula also contains a sign factor. Maybe that should be added to SymPy as well. I would investigate by printing out the terms and trying to figure out if correct results could be obtained by suitable choices of signs.

[2017-10-22 16:07] gxyd opened #13514 "Improve fluid mechanics PR"
See PR #12611 . We need to address the comments mentioned on that PR.
Also at the very least need tests cases to check for the functionality. More functionality could be added to but that can be a separate issue.

[2017-10-22 16:17] gxyd opened #13515 "Address changes 'parameter' finding function"
Address the requested changes in PR #11069. The name of the function could be `parameter_value`, but when does submit PR for this issue, we can decide as to what will be a good choice of name.

[2017-10-22 16:25] gxyd opened #13516 "Add tests for added attribute 'usebackend' for Plot"
The task is to complete the closed PR #11983. In which I think (all) necessary changes were made for introducing attribute `backend` but no test cases were added.

Also address a few minor comments mentioned on PR #11983.

We would need to 'use the commits' of PR #11983  and on top of those add test cases for it.

[2017-10-23 05:57] ylemkimon commented on #13465
@asmeurer Should we move all “Easy to Fix” issues to “good first issue” or leave as is?

[2017-10-23 06:07] asmeurer commented on #13465
I would leave it as-is for now. Let's open a meta-issue with "good first issue" that points to "Easy to Fix" for now. Too much of our new user documentation references "Easy to Fix".

[2017-10-23 06:33] asmeurer opened #13519 "Change single backticks in Sphinx to render as code"
Right now single backticks, like \`this\` in a docstring render as math. You need double backticks like \`\`this\`\` to render as code.

This confuses just about everyone because it's different from markdown, which is what GitHub uses for comments and so on.

[Apparently](https://stackoverflow.com/questions/22256995/restructuredtext-in-sphinx-and-docstrings-single-vs-double-back-quotes-or-back) yo

[2017-10-23 06:38] gxyd commented on #13519
Yup a lot of places make use of single and double backticks inconsistently. Add 'Easy to Fix'?

[2017-10-23 06:40] asmeurer commented on #13519
Well first we should discuss if we actually want to do this.

Also I don't know how easy this is to fix, since it requires modifying the Sphinx configuration. Hopefully it's not too hard, though.

[2017-10-23 07:07] ylemkimon opened #13520 "To see issues good to start with, click "Easy to Fix" 🡪"
We welcome contributions from anyone, even if you are new to open
source. Please read our [introduction to contributing](
https://github.com/sympy/sympy/wiki/Introduction-to-contributing). If you are new and
looking for some way to contribute a good place to start is to look at the
issues tagged [Easy to Fix](
https://github.com/sympy/sympy/issues?q=is%3Aopen+is%3Aissue+label%3A%22Easy+to+Fix%22).

[2017-10-23 07:09] ylemkimon commented on #13465
I've created #13520. Any suggestions on the title and contents are appreciated.

[2017-10-23 08:39] yashkgp commented on #13515
Hey @gxyd Can i work on this Issue?

[2017-10-23 08:56] gxyd commented on #13515
Yes, you can work on it. No PR has been submitted.

[2017-10-23 09:50] yashkgp commented on #13515
Hey @gxyd Do you want a seperate function for testing of `parameter_value` function or I'll just add it in `test_contains`?

[2017-10-23 10:54] #13081 closed

[2017-10-23 10:57] gxyd commented on #13515
A separate test function `test_parameter_value` would be better I think.

[2017-10-23 13:06] yashkgp commented on #13515
Hey @gxyd ,I have send a pull request.Can you please review it?
P.S : Its my first PR .

[2017-10-23 14:20] skirpichev commented on #13519
More important, probably, that this break [numpy docstring standard](https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt#docstring-standard).  Using single backticks required to enclose variables, e.g. in Parameters section.

It's not mathjax, it's sympy devs (default_role sphinx option).

[2017-10-23 20:45] #13481 closed

[2017-10-23 20:50] smichr opened #13524 "make hydrogen functions allow symbolic input"
There are many tests like `if foo.is_integer and (foo < 1):` in the hydrogen.py file. These will fail if someone passes `Symbol('i', integer=True)` but won't fail for generic `Symbol('i')`. Perhaps it would be better to return a Piecewise like:

[code]

which will default to f(a,b,c) if the assumptions are right, else remain Piecewise or become nan if some assumption is wrong at instantiation *or

[2017-10-23 21:03] asmeurer commented on #12050
The problem seems to be the line that gets the roots https://github.com/sympy/sympy/blob/6d5fb9ebcb4c54b1c2f321a4c9082a215f4b25dc/sympy/integrals/rationaltools.py#L377. It doesn't get the imaginary roots with `a`, but then the `count_roots` guard below https://github.com/sympy/sympy/blob/6d5fb9ebcb4c54b1c2f321a4c9082a215f4b25dc/sympy/integrals/rationaltools.py#L379 fails (it returns 2 for `4*_u**4

[2017-10-24 06:25] gxyd opened #13525 "Use __all__ top-level variable in module files"
I have seen `__all__` top-level variable set to list of objects that are imported when we do `from sympy.combinatorics.coset_table import *` I get `bisect_left` which isn't even supposed to be in the module.

Also I think this will reduce import time when doing `from sympy.combinatorics.coset_table import *` (will this also reduce import time for `from sympy import *`? after considering the files

[2017-10-24 06:34] jksuom commented on #13519
Changing the role of single backticks is easy to do in [Sphinx config file](https://github.com/sympy/sympy/blob/master/doc/src/conf.py#L183), but I think that should be done only if single dollars can be used for inline math. MathJax can be configured to do that; in fact, this is in its `config/default.js` file:
[code]
The hard part is making the MathJax server use the modified configuration. It i

[2017-10-24 10:25] #8474 closed

[2017-10-24 12:26] gxyd opened #13526 "Add unit test for 'bosonic' operator"
Look at pull request https://github.com/sympy/sympy/pull/10677 . It adds latex string for "Bosonic operator", though no unit test has been added.

The task is to add write unit test case for those changes (i.e for 'Bosonic operator').
**NOTE**: The submitted PR should use the changes submitted PR original author, i.e. ownership of commits should retain with original author of PR #10677.

[2017-10-24 12:33] gxyd opened #13527 "Complete requested changes on PR #10693"
Address the requested changes on PR #10693 .

**NOTE**: The submitted PR should use the changes submitted PR original author, i.e. ownership of commits should retain with original author of PR #10693.

[2017-10-24 12:47] gxyd opened #13528 "Complete PR #10686 by adding 'coulombs_constant'"
See PR #10686 . Address the requested changes on that PR.

[2017-10-24 13:19] smichr commented on #13520
This was discussed somewhere...the documentation on the web should be updated to reflect this change. Apparently there are pages directing users to look for "Easy to Fix" [as here](https://github.com/sympy/sympy/wiki/Development-workflow#pick-an-issue-to-fix).

[2017-10-24 14:55] ylemkimon commented on #12942
Closed via #13518.

[2017-10-24 14:55] #12942 closed

[2017-10-24 16:20] jksuom commented on #12050
I don't think that is the problem. `count_roots()`, with no parameters, defaults to `count_real_roots`. It returns the number of distinct real roots that is also the value of `len(R_q)`.

The algorithm works by replacing the logarithms corresponding to each pair of complex conjugate roots by an `atan` and a real logarithm. For this purpose it selects the roots with [positive imaginary part](https:

[2017-10-24 18:45] asmeurer commented on #13519
It might be simpler to use a Sphinx extension to convert $math$ to the appropriate inline math directive.

[2017-10-24 18:47] asmeurer commented on #13519
For example https://github.com/certik/sphinx-jax/blob/master/exts/math_dollar.py (CC @certik)

[2017-10-24 20:37] certik commented on #13519
I agree, I think \`this\` should render code, and `$` can render math. One can use the extension, that seems to work pretty well.

[2017-10-24 21:51] shivam207 commented on #13528
coulombs_constant is already added in units/definitions.py .
`# vacuum impedance:
Z0 = vacuum_impedance = Quantity("vacuum_impedance", impedance, u0 * c)
# Coulomb's constant:
coulomb_constant = electric_force_constant = Quantity("coulomb_constant", force*length**2/charge**2, 1/(4*pi*vacuum_permittivity), abbrev="k_e")`

[2017-10-24 23:16] nicoguaro commented on #11569
The list of documents is 152 right now (and growing). Is it worth to add the list to the wiki?

[2017-10-24 23:23] moorepants commented on #11569
A regular export from zotero and pasting into the wiki would be fine I think.

[2017-10-25 08:00] rwst opened #13534 "solve dict=True ignored"
[code]

[2017-10-25 10:09] #13475 closed

[2017-10-25 10:30] #12645 closed

[2017-10-25 11:03] AtharvaKhare commented on #13534
Can I take this up?

[2017-10-25 12:38] rwst commented on #13534
Yes, please!

[2017-10-25 13:40] #13527 closed

[2017-10-25 15:24] MonteCarloMichael opened #13536 "TypeError for integration from infinity to a positive value"
The following code
[code]
results in an error

[code]

whereas

    -Integral(1/r**2,(r,a,oo)).doit()

, which is an equivalent formulation of the integral above, gives the correct result: `-1/a`.

Furthermore, lowering the restrictions for the domain of `a`

    r = Symbol('r', real=True, positive=True)
    a = Symbol('a')
    Integral(1/r**2,(r,oo,a)).doit()

gives the correct result as well.

I

[2017-10-25 15:45] jksuom commented on #13536
`meijerint_definite` returns a tuple that consists of the result of integration and the condition under which it is valid. Line 1803 should be replaced by `return -res[0], res[1]` where `res = meijerint_definite(f, x, b, oo)`.

[2017-10-25 16:42] #9687 closed

[2017-10-25 19:31] yashkgp commented on #13515
Hey @gxyd I have a send a PR again with the requested changes .
PR #13539

[2017-10-25 19:40] smichr commented on #13468
This gives `-1/6`

[code]

[2017-10-25 20:39] akash9712 commented on #13432
@asmeurer I would like to work on implementing the functions.
Would it be fine to implement the function so that it returns the value of argmax in case of a unique global maxima, and a set otherwise?

[2017-10-25 22:01] #10040 closed

[2017-10-25 22:10] asmeurer commented on #7003
The qtconsole is more problematic. To enable printing in the qtconsole, you have to enable PNG output. But you don't want to do this in the notebook, because of the way the notebook works, every SymPy equation will save a PNG, leading to a huge ipynb file size. So one thing `init_printing()` does is it dynamically enables PNG only when it detects the qtconsole. The good news is that not many peopl

[2017-10-26 03:24] #13499 closed

[2017-10-26 05:51] pavel-tkachenko commented on #13525
@gxyd
Good day!
I think the `__all__` variable in the `__init__` file do not solve your problem, because you try to import particular module. In this case the `__all__` variable should be contained right in the module file.

[2017-10-26 06:10] jksuom commented on #13468
One of the arguments in OP was 3/2. What would `w` give in that case?

[2017-10-26 17:17] gxyd commented on #13525
Yup, I think we should have them in the module file at the top.

[2017-10-27 01:05] asmeurer opened #13541 "Bugs inverting a matrix of matrix elements"
[code]

Also, I would expect both of these to work

[code]

[2017-10-27 03:51] Dragneel7 commented on #13516
@gxyd Hello, I am new to open source and am interested in contributing to this issue.May I work on this issue?

[2017-10-27 07:16] pavel-tkachenko commented on #13525
@gxyd
I would like to work on it. Is there any files that shouldn't be edited?

[2017-10-27 09:44] asmeurer commented on #13525
There are different ways of doing this. The calculus `__init__.py` has each item written out in `__all__` as well as imported, which is duplication, but it also makes pyflakes not give any warnings. You can think of it as double bookkeeping to avoid importing unwanted names. I use this for smaller projects, but I don't know how nicely it would scale to SymPy. The main `__init__.py` would have a to

[2017-10-27 09:47] asmeurer commented on #13525
I guess there are two separate issues here:

- `__all__` for module files. In that case, @public works fine, although it shouldn't be required for every submodule, only those for which `import *` on the specific submodule should be a supported API. This is typically those for which names are not exported to an `__init__.py` (otherwise, we should just recommend to `from sympy import` the name).

-

[2017-10-27 13:32] tosalonijain commented on #13520
I am new to open source and would love to start with this issue. Can I take up this issue?

[2017-10-27 14:31] pavel-tkachenko commented on #13525
@asmeurer
Is there any other reason to use `__all__` in `__init__.py` files, except pyflakes warnings?

[2017-10-27 14:43] smichr opened #13543 "Mod(Mod(x + 1, 2) + 1, 2) should simplify to Mod(x, 2)"
From [stackoverflow](https://stackoverflow.com/questions/46914006/modulo-computations-in-sympy-fail)

Also, something like `Mod(foo*Mod(x + 1, 2) + non_mod_terms + 1, 2)` could be simplified. Recursively.

[2017-10-27 20:12] asmeurer commented on #13525
The pyflakes warnings aren't an end unto themselves. The whole point of pyflakes is avoiding mistakes. In this case, the mistake would be exporting a name that shouldn't be exported. This is especially a worry if there is code in `__init__.py` (which we only really have in the main `sympy/__init__.py`). But beyond that it would make it very explicit exactly which names are exported, and when a new

[2017-10-27 20:15] asmeurer commented on #13525
Another advantage to having `__all__` in `__init__py` is that submodule names would no longer be imported with `import *`. Right now, `from sympy import *` imports every submodule, like `expr` or `ode`. This is not intended behavior; it's incidental to the way that importing works. It's led to a lot of errors for me (especially the `expr` one, which is a variable name I use often), and I imagine i

[2017-10-28 00:41] asmeurer opened #13545 "Poly loses modulus after arithemetic"
[code]

I would expect the first to give the same answer as the second.

[2017-10-28 00:48] ethankward opened #13546 "Product(n + 1 / 2**k, [k, 0, n-1]) is incorrect"
2**(n*(-n + 1)/2) + n**n

    9/2

This is incorrect- for example, the product for `n=2` is `(2 + 2^0) * (2 + 2^(-1)) = 15/2`. The correct expression involves the [q-Pochhammer symbol](https://www.wolframalpha.com/input/?i=product+of+n+%2B+1%2F2%5Ek+from+k%3D0+to+n-1).

[2017-10-28 00:55] asmeurer opened #13547 "Summation with Piecewise not computed"
Based on https://stackoverflow.com/questions/46966198/how-to-set-index-as-variables. I believe the loops reduce to

[code]

which doesn't evaluate or simplify at all. Even if you replace a_x with a number it doesn't evaluate

[code]

The answer on the SO post claims it should be `995900780000*(a_x**2 + a_x)`, which I have not verified.

[2017-10-28 05:48] tosalonijain commented on #13398
@moorepants I am new to open source but am interested to take up this issue.
Cant this be fixed by adding a default argument to free_symbols and find_dynamicsymbols asking for  Reference frame and then internally convert these vectors to matrix using v.to_matrix(A) ??
Or we can allow physics.vector.Vector to have atoms, so with only the argument of a vector to find_dynamicsymbols we can have the d

[2017-10-28 07:02] jksuom commented on #13545
I agree. Coefficient unification should be amended. It is currently defined strictly by size, the bigger domain being taken as the common domain. From domains.py:

        Known domains (from smallest to largest):

        - ``GF(p)``
        - ``ZZ``
        - ``QQ``
        - ``RR(prec, tol)``
        - ``CC(prec, tol)``
        - ``ALG(a, b, c)``
        - ``K[x, y, z]``
        - ``K(x, y, z)`

[2017-10-28 09:06] asmeurer commented on #13545
That sounds reasonable. It also implies that fields of different characteristics should not unify, which is apparently not the case currently:

[code]

We also probably really want only natural homomorphisms, at least for automatic unification (this maybe could be an issue for fields of order p^n? We don't have those yet, though, so it isn't a concern yet)

This all sounds quite similar to type un

[2017-10-28 13:15] moorepants commented on #13398
That all sounds find. Please submit a pull request and we can review what you do there.

[2017-10-28 22:10] tosalonijain commented on #13398
@moorepants I tried some modifications and the consequences are depicted by the following code:

{t}

{b(t), a(t), c(t)}

You may find the same code over pastebin through- https://pastebin.com/T3NYqkWt
Please guide me over this issue and suggest possible changes.

[2017-10-29 07:52] ethankward commented on #13546
The responsible line seems to be [line 286](https://github.com/sympy/sympy/blob/97571bba21c7cab8ef81c40ff6d257a5e151cc8d/sympy/concrete/products.py#L286) in concrete/products.

This line seems to be assuming that the product of a sum is the same as the sum of the products of its summands.

This leads to nonsense like this (directly mentioned in the comment above this line!)

    1

[2017-10-29 13:54] tosalonijain commented on #13398
Hey I have sent a pull request, please review.
Thanks.

[2017-10-29 14:17] ayush1999 commented on #13449
Ping. Is this still open?

[2017-10-29 14:21] gxyd commented on #13449
This issue is open but we already have two PR's submitted for this issue.

[2017-10-29 19:10] akash9712 opened #13550 "Wrong result with solveset"
[code]
This is incorrect. The correct output for the above code should be `FiniteSet(-3)`. When the `domain = S.Reals`, `FiniteSet(-3, 5)` is returned.

[2017-10-30 10:12] smichr commented on #13547
Ahh. `piecewise_fold` gets this wrong, too, because it doesn't consider the interaction between the summation and the conditions.

[2017-10-30 11:19] nikoskaragiannakis commented on #13524
I can have look.

[2017-10-30 13:02] smichr commented on #13547
Seems to me it should reduce to
[code]

[2017-10-30 15:12] wygos opened #13552 "incereect density calculation"
The following code

from sympy.stats import *
from sympy import symbols
from sympy.plotting import *
import sympy
print(sympy.__version__)
mixed =  Uniform("u1",-1,1) +  Uniform("u2",-1,1)
x = symbols("x")
d = density(mixed)(x)
plot(d, (x, -3, 3))

works incorrectly in sympy 1.1.1. It gives the following incorrect plot:
![index](https://user-images.githubusercontent.com/5690921/32178421-f421bbbe-b

[2017-10-30 23:17] aloksharma9656 commented on #13552
Actually i am interested in solving this bug. But i don't know what should be the the correct output for the input plot(d, (x, -3, 3)).

[2017-10-31 07:57] wygos commented on #13552
First of all, since it is a density function it cannot be negative.
I believe it should look like:
![index_correct](https://user-images.githubusercontent.com/5690921/32212955-7dc76788-be19-11e7-9f0d-49c5f3f0d016.png)

[2017-10-31 16:09] ashishkg0022 commented on #13514
@gxyd can you please review my pr ? #13554

[2017-10-31 21:22] #13546 closed

[2017-10-31 23:17] #13550 closed

[2017-11-01 17:22] moble opened #13556 "Cannot pretty print a function named gamma"
When I define a function named `'gamma'`, pretty printing interprets that object as the Gamma function and drops any but the first argument.  This happens in both the notebook and the terminal, though interestingly the notebook capitalizes gamma, whereas the terminal keeps it lowercase.  I can get around this by naming my function `r'\gamma'`, but that prevents pickling the object.  Here's the MWE

[2017-11-01 18:32] asmeurer commented on #13556
This is https://github.com/sympy/sympy/issues/2832. I think gamma is unlike beta or phi because it the SymPy function name is spelled lowercase but it pretty prints as an uppercase letter.

Duplicates https://github.com/sympy/sympy/issues/2832

[2017-11-01 18:32] asmeurer commented on #13556
Duplicate of #2832

[2017-11-01 18:35] asmeurer commented on #13556
Regarding the behavior you see, it looks like it was fixed in the pretty printer but not the LaTeX printer.

[2017-11-01 18:36] asmeurer commented on #2832
Looks like a special case fix was implemented for gamma in the pretty printer https://github.com/sympy/sympy/blob/ad7222648393e5befb9dd06e875cd312d0542c96/sympy/printing/pretty/pretty.py#L1262 https://github.com/sympy/sympy/pull/11919, but I still think all the printers should do the behavior I described above where UndefinedFunctions don't dispatch to named printers.  And either way, the LaTeX pr

[2017-11-01 18:38] #13556 closed

[2017-11-01 18:51] moble commented on #13556
Maybe I'm just confused about what's doing what, but something also appears to be wrong with the pretty printer and `gamma`:

<img width="561" alt="prettyprinting" src="https://user-images.githubusercontent.com/1470769/32291665-1be90bce-bf14-11e7-9b63-3ebc122ff25e.png">

[2017-11-01 19:12] jksuom commented on #13556
Fixed in pretty printer: https://github.com/sympy/sympy/pull/11919

[2017-11-01 19:19] asmeurer commented on #13556
@moble good catch. That's another reason why we should print undefined functions completely separately from the function printers.

[2017-11-01 19:21] asmeurer commented on #2832
As pointed out in #13556, there is another bug in the pretty printer:

[code]

It drops the `y`. There could be similar bugs with other functions that assume they have a single argument. So we should definitely fix UndefinedFunction objects to just not dispatch to the Function subclass printers.

[2017-11-02 04:27] asmeurer commented on #10299
Duplicate of

[2017-11-02 04:27] #10299 closed

[2017-11-02 07:38] tosalonijain commented on #13520
@smichr ,please guide me ahead with this issue.
Thanks.

[2017-11-02 13:21] #13514 closed

[2017-11-02 13:22] gxyd commented on #13514
Quoting @Upabjojr here

Also it seems better to close this issue.

[2017-11-02 14:01] pavel-tkachenko commented on #13525
@asmeurer
Good day!
I have concluded that `from sympy import *` should import only packages (calculus, combinatorics, core, functions, sets, etc). If so, `__all__` is not suitable for this case, because there are name collisions in `__init__.py` right now.

[2017-11-03 05:39] vishalg2235 commented on #13547
Summation limits of 'j' is limiting to total 100 iterations. like, it is computing for (j,0,99),(j,1,100),(j,10,109) and not computing for (j,0,100),(j,10,110) where 'j' iterations are going more than 100 times.
[code]

Also seems to me it must reduce to
[code]
because :
[code]

[2017-11-03 10:10] #5227 closed

[2017-11-03 10:10] #7305 closed

[2017-11-03 10:10] #10137 closed

[2017-11-03 10:10] #11045 closed

[2017-11-03 10:10] #11922 closed

[2017-11-03 10:10] #12221 closed

[2017-11-03 10:10] #12674 closed

[2017-11-03 10:10] #4313 closed

[2017-11-03 10:10] #6900 closed

[2017-11-03 10:10] #10122 closed

[2017-11-03 10:10] #12557 closed

[2017-11-03 14:48] psviderski opened #13559 "LaTeX representation raises RecursionError"
LaTeX representation of an expression that has division by 1 causes `RecursionError`. SymPy version: 1.1.1.

Code to reproduce the bug:
[code]
Output:
[code]

[2017-11-03 17:57] skirpichev commented on #13460
Probably, best you can do here to test for zero - call evalf with strict=True and "pass" if it throw a PrecisionExhausted exception.

Similar heuristics I use in diofant/diofant#430.  We can exactly solve zero-decision problem for algebraic numbers, but that seems to slow for me, at least with current polys module.

[2017-11-03 19:55] ashishkg0022 commented on #13536
@jksuom  may I send a pull request implementing the above mentioned changes ?

[2017-11-03 20:22] jksuom commented on #13536
@ashishkg0022 Yes, you can do that. And add a unit test as well.

[2017-11-04 07:26] jksuom commented on #13536
Closed by #13562

[2017-11-04 16:58] ylemkimon commented on #13430
@rwst The ticket seems to be closed. Should we remove sage interfaces?

[2017-11-05 06:10] vishalg2235 commented on #13547
ping @asmeurer

[2017-11-05 06:37] rwst commented on #13430
The sage interfaces are overwritten in Sage with 8.1.beta10. They were substantially enlarged so the SymPy version can be considered no longer up-to-date. All the tests from `test_sage.py` are now doctests in `sage/interfaces/sympy.py`. I would remove the SymPy version and Travis testing but this is only an opinion, I'm usually quick with such removals.

[2017-11-05 16:25] gxyd commented on #9202
Closing. Fixed by #10889.

[2017-11-05 16:25] #9202 closed

[2017-11-05 16:31] gxyd commented on #13071
Closing, fixed by #13558 .

[2017-11-05 16:31] #13071 closed

[2017-11-05 16:54] kalmarek opened #13567 "MultipleInstanceError"
Latest (`5.0.1`) Anaconda's `sympy-1.1.1` x86-64 with `python-3.6`;
This happens when running **in jupyter notebook** (works fine in standard console)
[code]
I can however run
[code]
just fine.

[code]

[2017-11-05 20:24] Trave11er commented on #13468
While implementing the fix for the bug reported above have come across a problem with racah coefficients. `racah(1/2, 1, 1/2, 1/2, 1, 3/2)` produces a `ValueError` which is raised by the following statement in sympy.physics.wigner:
`if int(aa + bb - cc) != (aa + bb - cc):
 raise ValueError("j values must be integer or half integer and fulfill the triangle relation")`

Now, if this statement is com

[2017-11-05 22:38] ylemkimon commented on #13567
Duplicate of #13319 and #13418, and a fix is available at #13300.

[2017-11-06 01:53] asmeurer commented on #13430
I'm still worried that we might break the Sage integration and it won't be caught until after we release (and our release cycle is slow), which will make it hard for Sage to ship the latest SymPy. So I'm not so sure we should remove the testing. In some cases it will be something that we need to fix (or rather, not break) on our part, and in some cases the Sage interfaces in Sage will need to be c

[2017-11-06 02:29] ylemkimon commented on #13430
@asmeurer If we remove `_sage_` functions from sympy, we cannot test Sage integration, as SymPy has to be made into a SPKG(Sage package).

[2017-11-06 03:16] asmeurer commented on #13430
Is it not enough to run the Sage tests with the Sage Python, so that it imports the development SymPy (what I believe it currently does)?

[2017-11-06 05:24] ylemkimon commented on #13430
@asmeurer I think it's impossible to actually test Sage interfaces on Travis. AFAIK,
(i) some patches are applied to SymPy source codes during installation of SymPy in Sage as SPKG.
(ii) SymPy to Sage conversions(`_sage_ functions) are now dynamically added to SymPy by `sage.interfaces.sympy.sympy_init`
(iii) Sage doctests cannot be tested using Travis(#13395)

[2017-11-06 06:31] rwst commented on #13430
Yes, to install SymPy master into Sage you need a Sage source installation. The system SymPy is not used by Sage.

[2017-11-06 06:42] rwst commented on #13430
@asmeurer To install SymPy master into Sage you need a Sage source installation and jump through hoops. The system SymPy is not used by Sage. That's why users rarely try a fresh SymPy with Sage.

[2017-11-06 07:39] jksuom commented on #13468
There are 6 arguments in the Racah coefficients and they appear in slightly different form in different sources. Fano-Racah, Irreducible tensorial sets (1959), has the following expression

    _  / a b c \
    W |         |
       \ d e f /

Its defining formula looks the same as that denoted in [wikipedia](https://en.wikipedia.org/wiki/Racah_W-coefficient) by  W(a, b, c, d; e, f). I have no acce

[2017-11-06 09:07] vishalg2235 commented on #13519
Should I change \`this\` to render code and $this$ to render math part in matrices.py docstring ?

[2017-11-06 09:30] asmeurer commented on #13519
The change here will need to happen in all modules at once when we make it, as it would change a single backtick to do code everywhere.

[2017-11-06 09:34] asmeurer commented on #13430
What patches are done to SymPy? Can we upstream them?

We shouldn't need to install SymPy. It just needs to import the local version instead of the version in Sage (assumedly setting `PYTHONPATH` should do the trick, unless Sage has seriously modified the way Python's import system works).

[2017-11-06 09:50] kalmarek commented on #13567
yeah, sorry for yet another duplicate; google didn't find the other two issues, but github search does;

closing this

[2017-11-06 09:50] #13567 closed

[2017-11-06 10:01] rwst commented on #13430
@asmeurer With the upcoming Sage 8.1.beta10 there is only #13476 left as patch. I'll try later if setting `PYTHONPATH` really works.

[2017-11-06 11:33] stefdoerr opened #13568 "AttributeError: 'function' object has no attribute 'x'"
Hi, I'm new to sympy. I'm trying to get the derivatives of a relatively simple operation. It's a projection of point j in space onto some axes defined by points i, a, b, plus finally a division of the new coordinates by the magnitude. However when I try to get derivatives, I get the `AttributeError: 'function' object has no attribute 'x'` error which doesn't help me much in debugging. Could someon

[2017-11-06 12:27] stefdoerr commented on #13568
Oh I see. The problem is that you don't seem to need N for that differentiation.
If I do `diff(Dij0, ix)` it works.

[2017-11-06 12:27] #13568 closed

[2017-11-06 12:29] jksuom commented on #13568
It is the name `N` of the reference frame that SymPy does not understand as an argument of `diff`.

[2017-11-06 12:31] stefdoerr commented on #13568
This is how the tutorial showed it
http://docs.sympy.org/latest/modules/physics/vector/vectors.html#vector-calculus-in-physics-vector

[2017-11-06 12:49] jksuom commented on #13568
In the tutorial, `diff` of a vector is computed. `Vector.diff` is a special method that has `frame` as an argument. `Dij0` is a scalar. Its derivative is computed by a standard method that does not understand frames.

[2017-11-06 12:51] stefdoerr commented on #13568
Ok great! Thanks for that explanation

On Mon, Nov 6, 2017 at 1:50 PM, Kalevi Suominen <notifications@github.com>
wrote:

[2017-11-06 14:17] rwst commented on #13430
Setting `PYTHONPATH` will not work, because of https://trac.sagemath.org/ticket/22608 --- I tried. What will work is:
[code]
Fortunately SymPy is not imported at startup, so unless you use specific calculus functionality of Sage there will be no version clash.

[2017-11-06 14:30] rwst commented on #13430
About the dynamical addition of `_sage_` methods, this happens starting with 8.1.beta10 in `sage.interfaces.sympy.sympy_init()`. This function is called once when the first Sage object is converted to SymPy---which is suboptimal. This will change with https://trac.sagemath.org/ticket/24067 which patches `sympy.__init__.py` such that the call is made with every import. As you won't have that patch

[2017-11-06 15:18] rwst commented on #13395
From discussion in #13430 it appears we can install SymPy master in a Sage binary distribution and run its tests by giving in Sage:
[code]
so it looks Travis testing is possible. Note: I only tested this on a source installation.

[2017-11-06 15:27] rwst commented on #13395
You could put the 4 lines (without the `sage:` prefix) in a Python script and run `./sage -python t.py`, parsing the output.

[2017-11-06 15:35] moorepants opened #13570 "Physics Dyadics do not render in LaTeX if contained in a sequence (tuple, list, etc)"
[code]

will not output correct latex for rendering in the notebook, etc.

[2017-11-06 16:05] vishalg2235 commented on #13519
ok.. is there something that I could help ?

[2017-11-06 16:12] BananaOrbit commented on #13547
I'm not sure if this is related but there is also an issue with plotting Piecewise. #13320

[2017-11-06 16:38] rwst commented on #13395
No, I checked too late, this does NOT work unless one gives the test option `subprocess=False`. Comment is edited.

[2017-11-06 16:42] ethankward opened #13571 "Incorrect limit of uppergamma(n, 1) / gamma(n)"
0

The answer should be 1.

[2017-11-06 18:43] asmeurer commented on #13519
Since it will be a lot of work to change all single backticks throughout the code, a good first step would be to add the ability to use $math$, without messing with backticks just yet. Then we can transition over a few PRs instead of trying to do it all in one.

[2017-11-06 18:46] asmeurer commented on #13430
Why does sage monkeypatch sympy? Is there no way to define a conversion without modifying the objects to be converted?

[2017-11-06 19:01] vishalg2235 commented on #13519
can you please guide me how to add that ability ?

[2017-11-06 20:28] asmeurer commented on #13519
We need to copy the Sphinx extension from @certik that I mentioned above.

[2017-11-06 21:52] Trave11er commented on #13468
@jksuom can see your point but not sure that j12 is indeed a sum of angular momenta. In particular, [wikipedia -> 6j symbol](https://en.wikipedia.org/wiki/6-j_symbol) gives W(j1,j2, j3, j4; j5, j6) should satisfy
`j1 = j2 +j3...|j2 - j3|`
and similarly for three other triads. All these four triangular rules are satisfied by
`racah(1/2, 1, 1/2, 1/2, 1, 3/2)`
Also, two other online calculators [here

[2017-11-07 06:26] yashkgp commented on #13570
Can I work on this issue?

[2017-11-07 06:54] rwst commented on #13430
- Ease of maintenance (not having to adapt to another repo/coding standards for a simple two-liner);
 - having it all in one file instead of all over the place (aspect oriented not object oriented);
 - the SymPy/Sage interface is not SymPy, and it is not owned by SymPy; it's also exclusively used by Sage

Objects are not modified, methods are added to classes. In Aspect-C++ I would have just added

[2017-11-07 10:43] jksuom commented on #13468
The ordering of arguments in Racah symbols is not W(j1,j2, j3, j4; j5, j6) but  W(j1, j2, j5, j4; j3, j6) with j3 and j5 swapped. Hence j1, j2, j3 = 1/2, 1, 1 in racah(1/2, 1, 1/2, 1/2, 1, 3/2), which does not satisfy the triangular condition. Note that the triangular condition is symmetric. It means that the sum of the three momenta is an integer and any single one of them is between the sum and

[2017-11-07 13:46] moorepants commented on #13570
Yes, you are welcome to work on the issue.

[2017-11-07 14:30] Dapid opened #13573 "randMatrix won't generatte symmetric sparse matrices"
When setting the percent parameter to anything else than 100, randMatrix fails to generate symmetric matrices. Consider the following examples:

' ' '
In [1]: import sympy

In [2]: from sympy.matrices import randMatrix

In [3]: randMatrix(3, symmetric=True, percent=1)
Out[3]:
Matrix([
[13, 61, 13],
[59, 29, 59],
[88, 13, 61]])

In [4]: randMatrix(3, symmetric=True, percent=50)
Out[4]:
Matrix([
[90

[2017-11-07 15:56] ylemkimon commented on #13430
So after sympy/sympy#13476 and next Sage release, can we do:
[code]
?

[2017-11-07 16:15] vishalg2235 commented on #13519
Ok so we pass every module from that extension and then every math part will be changed to $math$ . can we also use https://regexr.com/ for that

[2017-11-07 16:48] Dapid commented on #13573
The problem is here:

https://github.com/sympy/sympy/blob/master/sympy/matrices/dense.py#L1413-L1415

After some values are set to 0, the matrix is shuffled, ruining the symmetry. I'm writing a fix.

[2017-11-07 17:09] rwst commented on #13430
Yes, I just confirmed this with the Sage branch at https://trac.sagemath.org/ticket/24062 which will be part of the next release. Note I didn't succeed when giving the Python path, I had to give the full path to the SymPy egg. To confirm that I really loaded master I checked `sympy.__version__`. You don't need #13476 to pass the test because what is fixed in #13476 was not tested before.

[2017-11-07 17:31] ylemkimon commented on #13430
Thank you! Then, are #13476 and #13420 no longer needed?

[2017-11-07 20:56] asmeurer commented on #13430
I mean specifically why not have a method to define conversions that doesn't require monkeypatching (yes, monkeypatching is "modifying")? I would expect the logic to be something like

[code]

where `sage_translations` would be some Sage-level translations (there can also be other layers to this for user defined translations outside of both Sage and SymPy).

How would you handle things for a Pytho

[2017-11-07 21:28] asmeurer commented on #10942
So here's an update on this issue.

Presently, the release notes are added to wiki pages at https://github.com/sympy/sympy/wiki/Release-Notes.

The primary goal here is

1. Every pull request should update the release notes with major changes that it makes.

There is also a secondary goal, which is:

2. Put the release notes in the SymPy docs (instead of the wiki)

I am personally less convinced t

[2017-11-07 23:29] ethankward opened #13575 "limit(acos(erfi(x)), x, 1) causes recursion error"
1.0863377496157*I

    ...
    RecursionError: maximum recursion depth exceeded

This does not happen on the release branch 1.1.1, only 1.1.2.dev.

[2017-11-07 23:53] moorepants commented on #10942
The benefit for having them on the wiki is stated as "anyone can edit them". I don't see this as a benefit. My guess is that we have had few to no people that haven't submitted a PR editing the release notes on the wiki. The wiki is a big mess of information that is hard to navigate and I've yet to find the release notes from another project that are not in the source repository. Having release no

[2017-11-08 00:47] asmeurer commented on #10942
An example of why "anyone can edit them" is a benefit https://github.com/sympy/sympy/issues/13385.

[2017-11-08 05:33] asmeurer commented on #13575
Here is the full traceback

[code]

Bisected to commit

[code]

[2017-11-08 06:58] rwst commented on #13430
Agree, a `sage()` function instead of `_sage_()` members would resolve the design problem. One usually choses member functions to get fallbacks in case a subclass doesn't have it implemented but the object tree is not deep here.

[2017-11-08 09:17] jksuom commented on #13575
The computation of `erf(I).as_real_imag()` fails
[code]
and leads infinite recursion on line

    File "./sympy/core/power.py", line 1020, in as_real_imag
      return expr.as_real_imag()

It seems that the method is implemented in a strange way, apparently copied from [Wolfram](http://functions.wolfram.com/GammaBetaErf/Erf/19/01/0003/), that does not take into account the case of a purely imagina

[2017-11-08 09:20] Trave11er commented on #13468
Thank you for clarifying, @jksuom, (my previous comment is wrong) - external calculators indeed fail when the correct ordering is used for input.
The function of @smichr above is correct except for the additional '(-1)' factors when we convert from wigner6j to racah coefficient ([see](https://en.wikipedia.org/wiki/6-j_symbol)). In fact we need
`factor = j_1+j_2+j_9+j_6+j_4+j_6+j_8+j_2+j_1+j_4+j_9+

[2017-11-08 11:14] jksuom commented on #13468
I think your observation about the extra sign is correct and your code would be good to go. The sum `factor` (another name would be more suitable) is always an integer as it is twice `j_1 + j_2 + j_4 + j_6 + j_8 + j_9` which may be a half-integer, and therefore `(-1)**factor` is 1 or -1.

[2017-11-08 11:23] jksuom commented on #13468
I would suggest `j_sum = j_1 + j_2 + j_4 + j_6 + j_8 + j_9`.

[2017-11-08 13:08] vishalg2235 commented on #13519
@asmeurer I have gone through extension code. So how can I help (what is my task) ?
@certik  https://github.com/certik/sphinx-jax/blob/master/exts/math_dollar.py#L36  I didn't understood this ?

[2017-11-08 14:39] gxyd commented on #13526
Closing. Fixed by https://github.com/sympy/sympy/pull/13535.

[2017-11-08 14:39] #13526 closed

[2017-11-08 17:16] sswatson opened #13576 "Problem with discrete sampling"
The code
[code]
throws an error (`global name 'floor' is not defined`). I found the same issue with `Poisson` as well.

[2017-11-08 17:50] certik commented on #13519
@vishalg2235 I tried to document this part here:

https://github.com/certik/sphinx-jax/blob/master/exts/math_dollar.py#L15

There is an example there (`$f(n) = 0 \text{ if $n$ is prime}$`) where you don't want to change the inner `$n$` into math, since mathjax or latex themselves will do that. So then the comment here:

https://github.com/certik/sphinx-jax/blob/master/exts/math_dollar.py#L27

expl

[2017-11-08 18:17] skirpichev commented on #13519
Besides backticks vs dollar, using latex in docstring - probably a bad idea in general (except for optional sections like suggested by numpy standard, e.g. Notes).

[2017-11-08 18:35] certik commented on #13519
Yeah, I agree, I think it's best is to keep latex to minimum for docstrings.

[2017-11-08 18:35] certik commented on #13519
Yeah, I agree, I think it's best is to keep latex to minimum for docstrings.

[2017-11-08 18:35] certik commented on #13519
Yeah, I agree, I think it's best is to keep latex to minimum for docstrings.

[2017-11-08 20:14] asmeurer commented on #13519
I like the use of LaTeX math. It makes docstrings like the ones in the [integral transforms](http://docs.sympy.org/latest/modules/integrals/integrals.html#module-sympy.integrals.transforms) docs easier to read. And even for small things, I think using LaTeX makes the docs look more professional. I think most people consume the SymPy documentation online.

Even for those that use `?`, I think most

[2017-11-08 20:22] certik commented on #13519
I meant especially things like like `$f(n) = 0 \text{ if $n$ is prime}$`, which looks complicated, i.e., I think we should use rest or markdown to do the formatting, not latex. A simple latex math, like the one used in the integrals page, is fine I think.

[2017-11-08 21:10] skirpichev commented on #13519
numpy docstring from example seems to be too ugly even without LaTeX rendering.  Yet this feature looks promising.

For Diofant, I'm thinking about using unicode pretty-printing for math, e.g. for above integral transform definitions (except for optional heavy-math sections).  This should work both for sphinx docs and in any Jupyter frontend.  (Or even in plain CPython console.)

[2017-11-08 21:51] moorepants commented on #13519
I would also vote for moving most, if not all, latex into the "Notes" section of the docstrings. The main portion of the docstrings should be readable in ascii or unicode. I, for example, almost exclusively read SymPy doc strings in the terminal or notebook which only show the ascii/unicode. We followed this pattern in the mechanics package and the balance works pretty good. You can understand the

[2017-11-09 00:49] asmeurer commented on #13519
If you want to refactor our docstrings, go for it. It's a separate question of whether we should use ` for code and $ for math, which I assume we all agree on.

[2017-11-09 09:55] Trave11er commented on #13468
Have changed to `j_sum`. Thank you, @jksuom and @smichr for your very generous help.

[2017-11-09 12:50] vishalg2235 commented on #13519
@certik  Ok I got that.. I'm getting an idea what math_dollar.py is doing. Still I don't understand many lines because regular expressions is new to me.
I can improve documentation and comments in code. So should I send a PR in sphinx_jax repository ?

[2017-11-09 14:26] ylemkimon commented on #10942
@asmeurer It seem that only those with push access to the repository can push to the wiki, even if it is publicly editable. Will it be dangerous to include access token or deploy key that has push access to sympy/sympy in Travis?

[2017-11-09 16:49] #13559 closed

[2017-11-09 20:16] asmeurer commented on #10942
It is possible to add a deploy key to Travis so that it's encrypted (use the `travis encrypt` command). It will only be available to branches on sympy/sympy (not pull requests). So that mitigates the danger because malicious code would have to be merged first.

I don't know if deploy keys give you push access to the wiki. I'm assuming they do.

We could also potentially use [doctr](https://drdoctr

[2017-11-09 22:07] ArielKarp commented on #6013
Hi, I'm new to open source, may I try to fix this issue?

[2017-11-09 23:50] asmeurer commented on #6013
Yes, go for it. The lerchphi one should be easy. Just look at how printing of something like `gamma` is implemented.

[2017-11-10 04:38] vishalg2235 commented on #13571
How can I help in this issue ?

[2017-11-10 11:17] #13468 closed

[2017-11-10 13:35] vishalg2235 commented on #13519
also while checking $...$ why we need r"(?<!\$)(?<!\\)\$([^\$]+?)\$" in Line 41

[2017-11-10 14:36] Akuli opened #13582 "improper integrals and Piecewise()-Piecewise()"
I tried to evaluate this improper integral on Python 2.7 and 3.7, and I got this:

[code]

Indefinite integration works.

[code]

Here's the problem.

[code]

The empty Piecewises are also unprintable after `init_printing()`.

I *can* get the correct answer if I take the limit manually, but it feels kind of cumbersome.

[code]

[2017-11-10 14:40] Akuli commented on #13582
More weirdness: `dir='+'` in the limit returns 0 and no `dir` also returns 0, although the limits are different on either side.

[2017-11-10 18:03] ethankward opened #13585 "limit(tan(tan(x)), x, -oo) causes recursion error"
tan(tan(zoo))

    Traceback (most recent call last):
      File "<pyshell#3>", line 1, in <module>
                        limit(tan(tan(x)), x, -oo)
      File "C:\Users\E\AppData\Local\Programs\Python\Python36\lib\site-packages\sympy\series\limits.py", line 49, in limit
                        return Limit(e, z, z0, dir).doit(deep=False)
      File "C:\Users\E\AppData\Local\Programs\Python\Pyth

[2017-11-10 19:28] asmeurer opened #13586 "Allow passing a printer to codegen()"
The most common reason to pass a custom code_gen object to codegen() is to specify the printer. We should just add a printer flag to codegen(). See for instance http://www.sympy.org/scipy-2017-codegen-tutorial/notebooks/08-cythonizing.html#5.-Using-a-Custom-Printer-and-an-External-Library-with-autowrap.

[2017-11-11 07:21] ylemkimon commented on #10942
Is there are a Sphinx extension to retrieve external resources and fallback if Internet connection is not available?

[2017-11-11 07:42] #7457 closed

[2017-11-11 07:42] #12895 closed

[2017-11-12 11:55] #12400 closed

[2017-11-12 13:26] BMaxV opened #13591 "Vector module design"
Hello everyone,

recently I tried to do something with sympy again, using vectors.

Can you explain to me why the vector module was designed the way it was designed, because it's very confusing to me. Namely these two points:

 * Why we need a base coordinate system. Obviously one is implied any other time anyone describes a vector, why does the definition of a vector has to start with the base?

[2017-11-12 14:33] ylemkimon commented on #13591
A vector is an element of vector space, and a vector space is defined by a basis (vectors).

[2017-11-12 15:47] BMaxV commented on #13591
That is correct, it's not an explanation though. Just because x and y are letters of the alphabet, you don't have to initialize sympy symbols with

[code]

instead I can just use

`x,y=sympy.symbols("x y")`

So why do I have to do
[code]

instead of

[code]

[2017-11-12 15:48] yash-iiith commented on #13586
I would like to work on this.

[2017-11-12 16:33] ashishkg0022 commented on #12591
@jksuom regarding this issue , Is it just sufficient to check limits at oo and -oo or we should check  `∫|f(x)|dx`(integration from `-oo to oo`) , I think this must exist for Fourier transform to exist.

[2017-11-12 16:56] p-tka4enko opened #13592 ""from sympy import *" imports every package name"
I noticed that `from sympy import *` additionally imports every package name, like `core` or `functions`. Is it an intended behavior?

[2017-11-12 17:01] jksuom commented on #12591
For the existence of Fourier transform in the strict sense it is necessary that `|f(x)|` be integrable. However, SymPy has often issues with integrals involving absolute values. That is why I suggested looking at the limits. Another possibility might be checking the integral of `f(x)` with no absolute values and giving a warning if that is not well defined.

[2017-11-12 17:04] nicoguaro commented on #12591
What do you mean by "in the strict sense"? What about Fourier transforms over distribution spaces?

[2017-11-12 17:04] ashishkg0022 commented on #12591
ok . I will do it.

[2017-11-12 17:04] ylemkimon commented on #13591
I think it’s because we can use existing operations, functions, simplifications, and etc. As vectors are linear combination of basis vectors, we can just use them. If we do [a, b, c]+[d, e, f], we have to implement how to handle vector addition. Also, with [x, y, z], we cannot know what are basis vectors.

[2017-11-12 17:34] jksuom commented on #12591
I mean the transform as given by the integral of an integrable function (wrt the Lebesgue measure).

[2017-11-12 17:39] nicoguaro commented on #12591
I doubt that sin(x)/x is Lebesgue integrable, for example

[2017-11-12 17:47] BMaxV commented on #13591
You think? You can "just" use them? Which operations can you use by doing this? What's the gain?

You would not have to implement vector addition, since sympy already has an add function for expressions and symbols, it's not going to mix x and y.

It doesn't matter what the basis vectors are. (1,0,0) stands for a vector in any vectorspace with three dimensions, no matter what the basis is.

If you

[2017-11-12 17:52] jksuom commented on #12591
I agree, it is not Lebesgue integrable. But it is square-integrable and its Fourier transform can therefore be defined by a limiting process in the space of L2-functions. ([Wikipedia](https://en.wikipedia.org/wiki/Fourier_transform#Plancherel_theorem_and_Parseval.27s_theorem): Plancherel's theorem makes it possible to extend the Fourier transform, by a continuity argument, to a unitary operator on

[2017-11-12 19:53] moorepants commented on #13591
The vector module implements a "basis independent" vector, as opposed to a basis dependent one which you have shown: `vector = [x, y, z]`. This allows you to combine vectors without having to worry which basis the vector may be defined with respect to. The matrix module may provide sufficient functionality for your desired basis independent formulation.

We would likely more than welcome a pull re

[2017-11-12 20:21] Upabjojr commented on #6700
I suggest closing this issue. `P(X)` is not the same as `P(X == 0)`.

While `X == 0` clearly defines a measurable subset of the probability space (which can be passed to _P_ to get the probability), does `P(X)` have a clearly defined meaning?

`P(X)` could be interpreted as a function, where `P(X)(x) == P(X == x)`, which means that `P(X)` is the `pdf` (probability density function).

Reasoning: `X

[2017-11-13 00:58] asmeurer commented on #6700
The comments above seem to agree with this, although it wasn't a consensus that P(X) giving the PDF was a good idea.

[2017-11-13 00:58] #6700 closed

[2017-11-13 02:52] asmeurer commented on #10942
I'm not familiar with one but that doesn't mean it doesn't exist.

[2017-11-13 07:48] BMaxV commented on #13591
Right, I'm sorry, I admit my previous reply wasn't as nice as it could have been. I'll try to be nice in the future.

I guess just writing the new submodule first might be a better approach.

[2017-11-13 12:57] bjodah opened #13598 "Python code printer (pycode) should support Assignment"
There is a lookup on 'contract', either we should give it a default in the `PythonCodePrinter` or we should make the code accessing `_settings` use `.get` with a default.

[code]

[2017-11-13 14:21] #13586 closed

[2017-11-13 21:54] matveich commented on #13598
Hi @bjodah! I'd like to make my first contribution. Can I work on this issue?

[2017-11-13 21:56] bjodah commented on #13598
Sure! You can have a look here for how to get started: https://github.com/sympy/sympy/wiki/Development-workflow

[2017-11-14 01:28] Upabjojr commented on #13457
I guess the easiest explanation is that `diff` used to require the deriving variable to be a `Symbol`. In order to allow other objects to be derived wrt, `_eval_diff` has been created as a shortcut.

[2017-11-14 02:41] asmeurer commented on #13457
Is it no longer necessary? I guess if we remove it we should deprecate it, as it's apparently been there for some time (although undocumented).

[2017-11-14 03:49] Upabjojr commented on #13457
We now have `is_symbol` vs `is_Symbol`, and the lowercase is enough to be derivable wrt.

Just consider that my message above is just a guess.

[2017-11-14 03:50] Upabjojr commented on #13457
I have used `_eval_diff` in the past. If we are going to remove it, no deprecation is necessary as it is private API.

[2017-11-14 06:33] ashishkg0022 commented on #13543
@smichr can you please review the pull request

[2017-11-14 06:43] asmeurer commented on #13457
Your explanation makes sense. The code before [`_eval_derivative`](https://github.com/sympy/sympy/blob/d85689709985f508f99fcd31ea61b2415196a221/sympy/core/function.py#L1186) is called all deals with normalizing the variables. Particularly:

- Automatic variable for expressions with one free symbol,  like `diff(sin(x))`

- Sorting of variables and canonicalization (like (x, x) -> (x, 2))

- Checkin

[2017-11-14 13:21] #12591 closed

[2017-11-14 14:32] smichr opened #13605 "1 > Max(0, 1 - a) should evaluate when a is positive"
[code]

In the process of fixing that, `1 >= Max(0, Dummy(nonnegative=True))` will also probably work (as well as relationships with `<`, `<=` and Min instead of Max.

[2017-11-14 17:53] #8747 closed

[2017-11-14 18:47] cbm755 opened #13606 "slow inverse_laplace_transform for easy poles in LH plane"
Consider:
[code]
But change it to `f = 1/((p+1)*(p+10))` and it takes maybe 10 seconds.

Then change it to have `...(p+15)` and it takes at least 5 minutes (killed it then).

- - - - -

These functions have simple poles in the left have plane.  They should be easy to invert.

[2017-11-14 18:54] cbm755 commented on #13606
I labeled this "easy to fix" but...  Well, its probably easy to get involved and potentially a nice project for someone who has learned their laplace transforms, but other than that I have no idea..., it might be a deep dive into the transform code.

[2017-11-14 19:17] himanshukgp commented on #13606
I'll be working on this.

[2017-11-14 20:11] asmeurer commented on #13606
This probably isn't easy to fix. The integral transforms are currently computed with the meijerg algorithm. If you don't know what's going on there, it could take some time to learn it.

What we should do is add some table lookups a la manualintegrate for the common integral transforms so that cases like this can be computed quickly.

[2017-11-14 21:53] BMaxV commented on #13592
All __init__.py s are written that way. So yes, this happens for everyone. I have to assume it's intentional.

[2017-11-15 00:21] #11378 closed

[2017-11-15 04:35] jacluff1 opened #13608 "Integral that should have closed form is not evaluating"
I have an integral of the form:
t / sy.sqrt( A*t**2 + B*t + C ),

where:
t = sy.symbols('t', real=True, positive=True)
A,B,C = sy.symbols('A B C', real=True)

when I try to integrate in sympy, it does not evaluate; when I integrate in wolfram alpha, it does. I am writing code in Jupyter Notebook at http://localhost:8888/notebooks/meeting3.ipynb

[2017-11-15 06:06] mathlover2 opened #13609 "Weird issue."
The code
[code]
should, according to Cauchy's integral formula, yield 1/4. Numerical calculation respects this answer, but symbolic calculation returns 0.

[2017-11-15 14:22] jksuom commented on #13606
It seems that most of the time is spent in `hyperexpand`. The inverse transform of `1/((p+1)*(p+10))` is quickly found to involve `meijerg(((-9, 0), ()), ((), (-10, -1)), z)`. (Note the poles in `bq` and counterterms in `ap`.) Then the expression is simplified using `hyperexpand`:
[code]
It looks like the expansion process is computing with large (thousands of ops) polynomial expressions. It shoul

[2017-11-15 17:12] Akuli commented on #13605
Interestingly `limit((1 > Max(0, 1-a)), a, 0, dir='+')` is not working either.

[2017-11-16 02:32] smichr opened #13611 "allow Min/Max to be written in terms of Abs"
[code]

[2017-11-16 02:38] smichr opened #13612 "decompogen doesn't like Min/Max"
[code]

perhaps related to #13205 and #13207

[2017-11-16 05:04] ylemkimon commented on #13520
@smichr @tosalonijain Actually is this is a meta-issue for redirecting "good first issue" label to "Easy to Fix" label. Please see #13465, and sorry for confusions it may have caused.

I'll lock conversation for this issue. For further discussion or question, please go to #13465.

[2017-11-16 08:02] himanshukgp commented on #13611
@smichr  I am new to sympy. To solve this issue do I have to write the code as above or do something of my own. Can you please give some more info.

[2017-11-16 15:21] tosalonijain commented on #13449
@gxyd can I work now on this issue as there's quite passive participation here?
Thanks

[2017-11-16 15:24] tosalonijain commented on #13483
Hey @asmeurer can I work on this issue?

[2017-11-16 15:31] tosalonijain commented on #13515
Hey @gxyd can I work on this issue if no one is working presently on it?

[2017-11-16 15:33] gxyd commented on #13515
There is already a PR in progress https://github.com/sympy/sympy/pull/13539 to fix this issue.

[2017-11-16 15:40] tosalonijain commented on #13354
@moorepants can I work on this issue?

[2017-11-16 15:50] moorepants commented on #13354
Absolutely, I've been having to show a work around in my class and would love to see it fixed.

[2017-11-16 16:57] #13543 closed

[2017-11-16 21:09] asmeurer commented on #13483
Yes, you can base you work off my branch. I'm not currently working on it.

[2017-11-16 21:10] asmeurer commented on #13483
Or really just off https://github.com/sympy/sympy/pull/13485/commits/1f8bd0b658bbca90bfe87b0a61192346ac99467a. The other changes there aren't related to this issue.

[2017-11-17 00:27] smichr commented on #13611
I marked this as a good first issue because the above is a working diff -- you could just apply it and go through the process of making a PR. But if you have improvements to what is above, that's fine. Maybe there is a better non-recursive way to handle this.

[2017-11-17 08:23] prajwalgatti commented on #13612
I want to fix this bug :) I'll give it a shot.

[2017-11-17 09:31] pelegm opened #13616 "factorial(n) is not known to be at least n for a nonnegative integer n"
Continuing the line of #9115 and #9150:
[code]

[2017-11-17 12:19] pelegm opened #13617 "binomial(n,k) is not known to be nonnegative for nonnegative integers n,k"
In the same spirit as in #13616:
[code]

[2017-11-17 14:23] smichr commented on #8403
nan is a result of doing something illegal with numbers; it can be added to other numbers but it trumps others and the result becomes nan. It is a non-comparable number so

[code]

Seeing nothing to change, I am closing this issue.

[2017-11-17 14:23] #8403 closed

[2017-11-17 14:44] nschloe opened #13618 "Rational(numpy.int64(1), 2)) fails on Python 3: TypeError: invalid input: 1"
MWE:
[code]
This fails with
[code]
on Python 3, SymPy 1.1.1.

Also failing:

 * `numpy.int32`

Working:
 * Anything on Python 2.
 * `numpy.int`

[2017-11-17 14:49] pelegm commented on #8630
Thanks for verifying this. Do you think we should add a test before closing this issue?

[2017-11-17 15:06] ylemkimon commented on #8630
@pelegm I think we have it somewhere. But if not, please add it. Thank you!

[2017-11-17 17:50] pavel-tkachenko commented on #13592
@asmeurer has already noticed (#13525) that this is not intended behavior for submodules.
But now I mean the main packages (`core`, `logic`, `assumptions`, `polys`, `series`, `functions`, etc).

[2017-11-17 18:38] prajwalgatti commented on #13612
What are we expecting `decompogen(Max(3, x),x)` to return?

[2017-11-17 20:08] BMaxV commented on #13592
To be honest, I could speculate about this, but I'd rather leave you with [the documentation](https://docs.python.org/3/tutorial/modules.html) about imports and __all__.

[2017-11-17 21:04] #13611 closed

[2017-11-17 21:41] #13573 closed

[2017-11-18 00:22] asmeurer commented on #13592
Adding `__all__` to the main `__init__.py` would fix this. But we need to figure out a way to do this that doesn't lead to accidentally leaving things out. I guess we should have some tests that `__all__` is consistent across the `__init__.py` files.

[2017-11-18 10:33] shiv0408 commented on #8145
Is this issue still open?

[2017-11-18 11:25] amitmanchanda1995 commented on #13598
Hi @bjodah !
As you stated, I made the code accessing `_settings` use `.get` with a default `False`.
But now I am getting some other error
[code]
Can you guide me in solving it?

[2017-11-18 13:44] jksuom commented on #8145
There is no recursion error. It was fixed by #9528 and should have been closed.

[2017-11-18 13:44] #8145 closed

[2017-11-19 00:31] #5033 closed

[2017-11-19 00:31] #6646 closed

[2017-11-19 01:12] Dirivian commented on #13608
1. This doesn't evaluate for integrals even when I replace A,B and C with 1.

2. You linked the local path of your notebook (accessible only to you). If the notebook is important, put it up on github and link it,

[2017-11-19 05:11] moorepants opened #13625 "solve has difficulty solving a slightly more complex trig function"
This works:

[code]

But this takes a long time to compute (haven't waited to see if it ever finishes):

[code]

`solveset` throws an error about something not being a symbol.

[2017-11-19 12:56] pelegm commented on #8630
Couldn't find, so added...

[2017-11-19 13:38] pelegm opened #13627 "Catalan assumptions"
* For every nonnegative `x`, `catalan(x)` should be known to be positive.
* For every nonnegative integer `n`, `catalan(n)` should be known to be an integer.
* For every integer `n` larger than 3, `catalan(n)` should be known to composite.

I'll try working on some/all of these, you are welcome to add a couple of other assumptions here.

[2017-11-19 15:28] ylemkimon commented on #8630
I'm sorry, but it seems there is one:

https://github.com/sympy/sympy/blob/50d8a102f0735da8e165a0369bbb994c7d0592a6/sympy/core/tests/test_arit.py#L1649-L1653

[2017-11-19 15:43] pelegm commented on #8630
OOPS :)
Removing the PR.

[2017-11-19 15:43] #8630 closed

[2017-11-20 05:26] ylemkimon commented on #13576
https://github.com/sympy/sympy/pull/13583#issuecomment-343524339 by @akash9712

[2017-11-20 05:28] ylemkimon commented on #13627
Closed via #13628.

[2017-11-20 05:28] #13627 closed

[2017-11-20 05:33] #13536 closed

[2017-11-20 13:25] #12712 closed

[2017-11-20 14:47] smichr commented on #13625
The 2nd one, when rewritten in terms of exp and factored is a product of linear and quartic factors so it should be doable. You might want to pass the rewritten form -- perhaps even substituting x for `exp(I*th)`. Maybe the complaint came because you redifined th along the way and weren't aware of it?

[2017-11-20 15:42] zimmerma opened #13629 "bug in rsolve"
see https://trac.sagemath.org/ticket/24243

(sorry I don't know how to execute the corresponding SymPy commands, but it should be easy to reproduce in SymPy)

[2017-11-20 15:53] Akuli opened #13630 "square roots don't simplify"
Here's the problem.

[code]

[2017-11-20 16:40] himanshukgp commented on #13616
I understand that python is printing string. It should compare and give boolean. I saw through previous issues but couldn't figure where to look in the code to bring required result. Please guide me through it.   Thankyou

[2017-11-21 00:40] smichr commented on #13630
If we let `x**2 + 1` be `y` then `a` can be rewritten as `(y + x*sqrt(y))/(x + sqrt(y))`; factoring sqrt(y) from the numerator gives `sqrt(y)` (and that's valid because `sqrt(y)*sqrt(y)` is always `y`). I suspect that modifying factor to handle this sort of situation would be the way to go. I wonder if the fact that minpoly(a) gives `_x**2 - (x**2 + 1)` is a clue that "y = x**2 + 1" is the change

[2017-11-21 16:10] alexanderzimmerman opened #13632 "Live example fails to import sympy.vector.CoordSys3D"
I have been unable to import this on my own system, and the live examples [here](http://docs.sympy.org/latest/modules/vector/api/classes.html#coordsys3d) also fail with

`>>> from sympy.vector import CoordSys3D, gradient`

I have also locally tried

`from sympy.vector.coordsysrect import CoordSys3D`

because the class documentation on the same web page indeed says that CoordSys3D is in the module

[2017-11-21 16:26] alexanderzimmerman commented on #13632
I've found the problem. SymPy 1.1 names the class CoordSys3D, while SymPy 1.0 names the class CoordSysCartesian. Locally I am running version 1.0, and the live shell on the web site is also running version 1.0.

I personally still consider this to be an issue. The docs web site should not have live examples which fail. That being said, I don't know of any other libraries which actually have workin

[2017-11-21 16:39] moorepants commented on #13632
In general SymPy live lags the released version SymPy. This is mostly due to the fact that we have limited bandwidth. It shouldn't lag though. Also, these kind of backwards incompatible changes should have a deprecation cycle, as per our policy. So it should work if it was properly deprecated.

@Upabjojr Was this properly deprecated?

[2017-11-22 01:26] sswatson opened #13633 "Piecewise substitution issue"
The code block

[code]

throws an error `'Or' object has no attribute 'lts'`, even though the corresponding indefinite integration problem works.

[2017-11-22 11:41] akshayphy opened #13634 "Problem with integrate"
It could not solve integrate(exp(-x**2-1/x**2),x), where as maxima and mathematica could do it.

[2017-11-22 13:59] smichr commented on #13633
Please try this in the most recent master.

[2017-11-22 15:52] moorepants opened #13635 "KanesMethod should substitute zeros for the force/torque components associated with auxiliary speeds."
When using the `u_auxiliary` kwarg on KanesMethod, there are always force/torque measure numbers that correspond to the auxiliary generalized speeds. The returned Fr and Frstar have zeros substituted for the auxiliary generalized speeds in all the equations but the force/torque values should be replaced with zeros in the equations associated with the independent non-auxiliary generalized speeds.

[2017-11-22 17:19] sswatson commented on #13633
Works!

[2017-11-23 00:12] smichr commented on #13633
Nice!

[2017-11-23 00:12] #13633 closed

[2017-11-23 11:11] ManasGupta1998 commented on #13616
I feel the problem we are encountering is that n is a symbol type parameter whereas factorial(n) returns factorial type which python is unable to compare.

[2017-11-23 18:07] asmeurer commented on #13616
I'm not sure if this is something that should evaluate automatically.

[2017-11-23 19:19] sami-b95 opened #13636 "Strangely behaved gamma_trace (gamma matrix trace)"
I am trying to use the high energy physics module of SymPy to compute traces of gamma matrices using the dedicated function `sympy.physics.hep.gamma_matrices.gamma_trace`.  I have come accross the following strange behaviour: in some cases, the trace of a sum is not computed to be the sum of the traces. Here is an example:

[code]

It may be a normal behaviour, but I couldn't find any hint in the

[2017-11-24 06:06] pelegm commented on #13616
OK, but it should at least be evaluated upon request, somehow.

[2017-11-24 12:35] jksuom commented on #13636
`gamma_trace(B)` differs from that part of `gamma_trace(A + B)` which comes from `B` because it is processed by `_simplify_single_line`. It calls `extract_type_tens` in order to collect all gamma matrices, but only the explicit gamma matrix factors are found, not those embedded in `pis, kis, pfs`. Hence it seems that the result of `gamma_trace(B)` is wrong.

[2017-11-24 15:09] nschloe opened #13637 "products with arrays with only one element convert to float"
When multiplying a numpy array with more than one entries, `sympy` entities (such as `sympy.Rational`) correctly translate into the array:
[code]
[code]
If, however, the array only has length 1, the values are converted into `float`s:
[code]
[code]
I would have expected an `array([1/2], dtype=object)` here.

Any idea what's going on?

[2017-11-24 17:05] nschloe commented on #13637
Workaround: `numpy.multiply`
[code]
[code]

[2017-11-25 08:14] cbm755 opened #13638 "Float from string with underscores misplaces decimal point"
This is correct:
[code]

None of these are:
[code]

I think this is an upstream bug in mpmath: https://github.com/fredrik-johansson/mpmath/issues/377

[2017-11-25 13:31] aviral1701 commented on #13630
We'll have to improvise on some of the subfuctions that simplfy uses. I would love to work on this , just need some guidance from the maintainers.

[2017-11-25 18:26] jksuom commented on #13637
The method of multiplication is determined by the order of the factors.
[code]

[2017-11-25 23:17] nschloe commented on #13637
Tough. Why isn't this the same way with
[code]
tough?

[2017-11-26 04:53] moorepants commented on #13625
Thanks. This returns a solution and a minute or so:

[code]

[2017-11-26 12:15] ijackson opened #13642 "lambdify sinc gives wrong answer"
Unfortunately, there is not only sinc(x) = sin(x)/x, the mathematical sinc function.  Some DSP people decided it would be more convenient if the integral was 1, and reused the name "sinc", so they have sinc(x) = sin(pi.x)/(pi.x).

sympy uses the mathematical sinc.  But when you lambdify, it ends up using numpy's sinc.  numpy's sinc is the DSP sinc.

Steps to reproduce, and actual output:

[code]
(

[2017-11-27 15:20] moorepants opened #13643 "Matrix.col_insert() no longer seems to work correctly."
Example:

[code]

The 3 x 3 identify matrix to the right of the columns of twos is shifted from the bottom three rows to the top three rows.

@siefkenj Do you think this has to do with your matrix refactor?

[2017-11-27 16:09] PaiAkshay998 commented on #13642
If you have numpy installed, sympy will fall back to numpy's version of sinc which is the normalized version. However, if you want to use the unnormalized version of sinc, you can always pass "mpmath" to the modules parameter which uses the unnormalized version.

[code]
So, this should give you 0.8414709848078965 as expected.

Please do let me know if I've missed out something or misunderstood som

[2017-11-27 16:26] smichr opened #13644 "perimeter of ellipse"
Look into algorithm given [here](https://groups.google.com/forum/#!topic/sympy/uhKKkBDMvVo)

[code]

[2017-11-27 16:27] smichr commented on #13432
This is not a good idea. See [this email](https://groups.google.com/forum/#!searchin/sympy/argmin%7Csort:date/sympy/8Bwxkclh-0c/mjR5_fKECQAJ)

[2017-11-28 03:54] zachetienne opened #13645 "sympy hangs on evaluating expression"
From at least sympy 0.7.6 through the latest checkout (Nov 27, 2017 1.1.2-dev), the below minimal-ish example causes sympy to hang indefinitely.

*** Begin minimal example ***
from sympy import sqrt, symbols, sin, cos, log, exp

r,r_m  = symbols('r r_m', positive=True)
th = symbols('th', real=True)
a,M = symbols('a M', real=True)
kappa,gamma = symbols('kappa gamma', real=True)

l  = sqrt(M/r_m**3)

[2017-11-28 07:22] jksuom commented on #13643
It seems that `pos` shouldn't be [here](https://github.com/sympy/sympy/blob/master/sympy/matrices/common.py#L89).

[2017-11-28 08:16] yeshsurya commented on #13637
Thanks @jksuom . I'm new to sympy. What should be the output of sympy.Rational(1,2) * numpy.array([1,1.0]) . is it [1/2 0.5] or [0.5 0.5].

[2017-11-28 09:49] jksuom commented on #13637
I'm not sure there is a definite answer. When objects of different libraries are combined, it is not clear which kind of object should result. Should it be a plain Python object or should it belong to one of the libraries, and if so, then which one. I think that, in general, the programmer should make the decision clear by explicitly converting the objects to compatible form before they are combin

[2017-11-28 10:32] asmeurer commented on #13637
The reason this happens is that SymPy tries to convert the operand to a `float`, and NumPy arrays convert to floats when they have only one element.

If you are trying to do NumPy array calculations with SymPy objects you should put them in a NumPy array first so that they use the correct operations.

[2017-11-28 12:04] amitmanchanda1995 commented on #13644
Hi @smichr
Do we need to implement it? If yes, can I contribute to this issue?
Thanks

[2017-11-28 15:09] VahanArsenyan opened #13646 "Printing invalid latex"

[2017-11-28 18:22] Sayan98 commented on #13528
@gxyd this seems to have been solved, check [here](https://github.com/sympy/sympy/blob/67e3c956083d0128a621f65ee86a7dacd4f9f19f/sympy/physics/units/definitions.py#L152).

[2017-11-29 00:29] Weil0ng commented on #12024
Having exact same issue, any idea why?

[2017-11-29 06:19] jksuom commented on #12024
`type(expr)([nfloat(a, n, exponent) for a in expr])` invokes `__new__()` with 2 arguments, `type(expr)` (`ExprCondPair`) and `[nfloat(a, n, exponent) for a in expr]`. In this case, we should probably treat the two objects in the list as separate arguments by writing `*[nfloat(a, n, exponent) for a in expr]`.

[2017-11-29 06:32] Weil0ng commented on #12024
Thanks a lot! Would there be a fix or is there a workaround?

[2017-11-29 06:42] jksuom commented on #12024
I would first try simply inserting `*` to the code. If that would result in errors, then I would add the code:

    if isinstance(expr, ExprCondPair):
        return type(expr)(*[nfloat(a, n, exponent) for a in expr])

before the current line 2465.

[2017-11-29 07:28] #13643 closed

[2017-11-29 07:32] #13598 closed

[2017-11-29 07:52] Sayan98 commented on #13585
Could reproduce. Here's additional debug info:

[code]

[2017-11-29 10:33] jksuom commented on #13585
`limitinf` is not designed to work with periodic functions, though it does not always raise an exception. There should probably be a periodicity test after the removal of Order terms along the following lines:

    try:
        if periodicity(e, x):
            raise ValueError("Periodic function has no limit at infinity")
    except NotImplementedError:
        pass

[2017-11-29 13:06] sj29-innovate commented on #13617
I am taking this up.

[2017-11-29 13:07] ashishkg0022 commented on #8668
@jksuom can this be implemented? I want to take this up. Can you please tell me more about it.

[2017-11-29 13:57] jachymb opened #13649 "Documentation: In which sense is simplified dnf minimal?"
I run `sympy.logic.boolalg.to_dnf(expr, simplify=True)` to get the simplest dnf formula for expr. However, the documentation does not tell in which sense is the resulting formula minimal. There are more conceivable minimization criteria which may yield different results, e.g.

- simply the total number of literals (not preferable for me)
- the total number of literals when the number of terms is m

[2017-11-29 15:34] sj29-innovate commented on #13634
Taking this up.

[2017-11-29 16:33] sami-b95 commented on #13636
The result of `gamma_trace(B)` is actually right and similarly for `gamma_trace(A)`. Only `gamma_trace(A + B)` is problematic. Also, I am not sure I understand the argument about the "explicit gamma factors". Do you mean there is a problem with using the intermediary variables `pis, kis, pfs` ? Yet, it seems the documentation gives similar examples.

All in all, should this behaviour be considered

[2017-11-29 17:12] jksuom commented on #8668
It is hard to find easily accessible references where ordinal arithmetic is discussed in detail. The [wikipedia article](https://en.wikipedia.org/wiki/Ordinal_arithmetic) is probably the best starting point. It shows that there are (at least) two kinds of *ordinal arithmetic*, the 'classical' operations (defined by Cantor, I think) and 'natural' operations. The former are easier to understand but

[2017-11-29 20:17] akshayphy commented on #13634
Thank you!

On Wed, Nov 29, 2017 at 4:34 PM, Samyak Jain <notifications@github.com>
wrote:

--
Regards

*Akshay Bhatnagar*

[2017-11-29 21:42] iamthad opened #13651 "Missing parentheses in LaTeX / pprint output"
There appears to be a bug printing LaTeX representations of sums containing sums multiplied by -1:
[code]

EDIT:
This also occurs with `pprint`:
[code]

[2017-11-29 23:40] yashkgp commented on #13570
Hey @moorepants ,
Should I start by making a test case? It would  great if you can guide me on this issue .

[2017-11-30 00:15] GProtoZeroW opened #13652 "lambdify improvement via Direct mappings from Sympy Operations to Numpy/Scipy/ect."
Tried using pycode and its scipy code with just the binomial coefficient and it did not work. And `lambdify` is just not verbose enough. So here is my prototype of a way to verbosely define the mappings between sympy mathematical operations and their respective main numerical python implementation by means of defining the mapping as a dunder method in the sympy operations class definition. I am mo

[2017-11-30 01:41] ataber opened #13653 "Geometry: `subs` not working for `arbitrary_point` expressions"
Hello,

I'm seeing the following bug in both 2D and 3D lines
[code]

Hopefully I'm not missing something simple here...

Thanks!

[2017-11-30 02:10] moorepants commented on #13570
Yes, starting by writing a test case is a great idea. Look in the physics vector printing code for the tests.

[2017-11-30 02:21] moorepants commented on #13652
This is an outstanding issue: https://github.com/sympy/sympy/issues/7229

There have been a number of attempts to add this functionality but seem to be stale pull requests. You may want to look into some of their implementations. Maybe you can improve it.

[2017-11-30 05:26] vishalg2235 commented on #13606
hey! I would like to work on this issue. @cbm755 can I work on this issue ?

[2017-11-30 05:54] cbm755 commented on #13606
Anyone can work on any issue, no permission required :-)

[2017-11-30 05:59] cbm755 commented on #13651
I feel like this might be dupe but I cannot find a reference...  Confirmed on master branch.

[2017-11-30 06:41] GProtoZeroW commented on #13652
That issue chain has not been touched since '15. What I am suggesting is more than just scipy integration. For instance, I work with [myHDL](http://www.myhdl.org/) to generate verilog/VHDL code from python. And at one point it could take input from `lambda` but that is not the case and I have no idea why, but that's beside the point. For the boolean algebra operations, they can have a Dunder metho

[2017-11-30 06:50] moorepants commented on #13652
This summer we finally implemented a proper Python code printer. A good next step would be to change out the backend of lambdify to use this printer. Lambdify is currently built in way that makes it hard to understand due to it being too clever with namspace injection. If it were backed by our normal printers, then adding dunder methods for a variety of common NumPy, SciPy, etc operations would be

[2017-11-30 06:51] moorepants commented on #13652
Could it be because we recently made the default lambdify module numpy instead of mpmath? It was a subtle backwards incompatible change.

[2017-11-30 07:08] vishalg2235 commented on #13606
Thank you!
can you help me how to fix it ? which part of file meijerint.py I should look for ?

[2017-11-30 07:15] GProtoZeroW commented on #13652
on the myHDL lambda thing and mpmath most likely. I have put my myHDL work on hold for the time do work on Fourier Optics that give's rise to the dreaded Fresnel integrals and then visualizing the output to yt. Which is why I need `Integrate` to be able to translate `scipy.integrate.nquad` .

@moorepants do you have any R&D files/notebooks(most preferable) of the python printer utility or [`lambda

[2017-11-30 07:22] pelegm commented on #8668
@jksuom - I tend to agree with what you wrote.

[2017-11-30 08:14] cbm755 commented on #13606
Sorry, I cannot.  Note also @asmeurer's note earlier comment https://github.com/sympy/sympy/issues/13606#issuecomment-344382913

[2017-11-30 09:18] vishalg2235 commented on #13606
@asmeurer how to add a lookup table ?

[2017-11-30 10:57] ttxtea commented on #13333
Note that it is probably the repr() function that causes the problem. In `isympy`, where the output is based on `srepr` it is fine. So maybe the bug is somewhere in the `__repr__` function?

A workaround is to use additional parenthesis. like

`sympy.S('1/a').subs({'a':'(2*d/c)'})`

But the backwards compatibility to sympy 1.0 is not given and projects like `brian2` have problems with old model de

[2017-11-30 11:36] schedacomp opened #13654 "Substitution lacks parenthesis"
The following inconsistency in substitutions has emerged in `sympy 1.1.1` and is different to the behaviour found in `sympy 1.0`:

[code]

which gives

[code]

I think this could be solved by adding - by default - a parenthesis around expressions before substituting.

This issue has already been reported in [https://github.com/sympy/sympy/issues/13333](https://github.com/sympy/sympy/issues/13333),

[2017-11-30 12:11] ttxtea commented on #13654
Note that it is probably the repr() function that causes the problem. In isympy, where the output is based on srepr it is fine. So maybe the bug is somewhere in the __repr__ function?

This is an issue for all backages using sympy in a more general setting like the `brian2` simulator.

[2017-11-30 13:32] smichr commented on #13653
If you want to access the point you have to pass it, otherwise a real symbol will be created for you. The `t` that you get for `ex` is not `Symbol('t')` it is `Symbol('t', real=True)`. It should work if you just do

[code]

[2017-11-30 14:48] amitmanchanda1995 commented on #13516
Hi @gxyd.
Could you please review my pull request?
Thanks

[2017-11-30 15:49] vishalg2235 commented on #13644
@smichr I have checked it with few values. I also checked for circle it gives right answer (pi). I think it should return answer in terms of 'pi'.

[2017-11-30 16:42] smichr commented on #13653
Another thing you can do when you run into these issue is to see whether the symbol you are trying to replace is actually in the expression you are working with:

[code]
You can also confirm this (in the most recent update to master) with the `disambiguate` function:
[code]
That means the `t` in the equation is not the same as the `t` you defined.

[2017-11-30 16:43] smichr commented on #13653
ping @Yathartha22

[2017-11-30 17:29] Yathartha22 commented on #13653
Agreed with @smichr , we have now `disambiguate` function that can be helpful in cases like yours. `disambiguate` funcition takes in expression with symbols that appear the same but are different(like in yours), and returns numerically subscripted symbols.

So since there are numerically substituted symbols, it can be said that they both are different symbols.

Checkout the function [here](https:/

[2017-11-30 17:33] ataber commented on #13653
Great, thank you!

[2017-11-30 17:33] #13653 closed

[2017-11-30 21:31] asmeurer commented on #13606
I would look at adding transform integrals to manualintegrate. However, I'm not sure if manualintegrate supports integration limits yet (maybe it does, I'm not sure). If it doesn't, that will need to be added first.

[2017-11-30 22:42] Weil0ng commented on #12024
Oh, sorry, I meant to ask if that will be fixed soon in some future sympy release, or if there's a workaround in the application code (not in sympy source)?

[2017-12-01 00:07] Jwink3101 opened #13656 "Rational on floats and e"
I understand **why** this is an issue and that it relates to float precision, but I also think it is something that can and should be easily caught and ameliorated.

Consider the following:

[code]

Again, I understand why this happens, but it seems like an easy case to detect and correct.

[2017-12-01 00:52] asmeurer commented on #12045
I thought this was fixed, but `nsimplify(0.333333333333333, rational_conversion='exact')` still gives 1/3. And why is the default still 'base10'?

[2017-12-01 00:57] asmeurer commented on #13656
This isn't really fixable. There's no way to distinguish `11/10` and `2476979795053773/2251799813685248` once Python has evaluated them. The only thing SymPy can do is to take the exact floating point number it is given. To do otherwise leads to some issues. We've actually been fixing it in some places where it tried to be "smart" with regards to this (see for instance https://github.com/sympy/sym

[2017-12-01 00:57] #13656 closed

[2017-12-01 03:35] shivamvats commented on #10189
PR #12274 solves this.

[2017-12-01 03:35] #10189 closed

[2017-12-01 05:33] Krashcan commented on #10190
@shivamvats I would like to work on this issue

[2017-12-01 05:41] vishalg2235 commented on #13606
@asmeurer is there any work here in which I could help ?

[2017-12-01 06:54] asmeurer commented on #13606
I'm not aware of existing work but you might search the open issues and pull requests to see what is there.

[2017-12-01 10:32] Krashcan opened #13659 "Tests for ring series failing"
Running the `sympy/polys/tests/test_ring_series.py` results in failure for many test functions. Here is the output from when i ran `pytest --pyargs sympy/polys/tests/test_ring_series.py`

                                                           DO *NOT* COMMIT!
	====================================================================== FAILURES =======================================================

[2017-12-01 11:12] cbm755 commented on #13656
IMHO, `Rational(<float>, <float>)` should be an error or warning, at least when the floats are non-integer.  But I suppose that's not very pythonic.

(`Rational(<float>)` of course is a reasonable operation).

[2017-12-01 18:56] serendipity5497 commented on #13478
Hi I would like to work on this

[2017-12-01 19:10] Upabjojr commented on #13478
@serendipity5497 feel free to open a PR if you have a fixed version.

[2017-12-02 06:46] ashishkg0022 commented on #8668
thanks @jksuom  @pelegm  , I will try to implement it and soon open a PR.

[2017-12-02 09:30] johnesher opened #13661 "plot raises AttributeError: 'Abs' object has no attribute 'imag' in experimental_lambdify.py"
Hi,
I'm reporting this as the exception message asked me to do so but, as I do not understand the context well enough, cannot give a descriptive title.
This was sympy version 1.1.1 running inside jupyter
The version of the notebook server is: 5.1.0
The server is running on this version of Python:
Python 3.4.3 (default, Nov 17 2016, 01:08:31)
[GCC 4.8.4]

The line in my code that causes the excepti

[2017-12-02 12:26] smichr commented on #13644
see [this and its references](http://www.ebyte.it/library/docs/math05a/EllipsePerimeterApprox05.html)

[2017-12-03 05:23] vishalg2235 commented on #13644
@smichr I have read the reference but I didn't understand which approximation is used in this code. As here 's' is sum of 2^i*(x-y)^2 ; where x and y are AM and GM of previous x and y till x=y(abs(x-y)==tol) ?

[2017-12-03 05:40] rushyam commented on #9289
I want to work on it.

[2017-12-03 09:46] RohitJain3241 commented on #13659
I am working on it. I am new to python and need help.
These functions are working fine. But the expressions such as "1/3*x - 1/2 + x**(-1)" which is an instance of PolyElement are not able to handle fractions and converts them into integers.
But unable to understand the constructor of PolyElement.

[2017-12-03 11:02] jksuom commented on #13659
The error appears when Python 2 converts 1/3 and 1/2 to 0 (see http://docs.sympy.org/latest/tutorial/gotchas.html#two-final-notes-and). It can usually be fixed by adding `from __future__ import division`. Alternatively, it is possible to import `S` and write `S(1)/3` instead of 1/3.

[2017-12-03 12:53] RohitJain3241 commented on #13659
Thanks. It's working fine now. #13662

[2017-12-03 14:22] vishalg2235 commented on #11634
@asmeurer when I placed line 47:
`"Integer(2)_(1, 1)" ["color"="black", "label"="Integer(2)", "shape"="ellipse"];`
below line 49:
`"Symbol(x)_(1, 0)" ["color"="black", "label"="Symbol('x')", "shape"="ellipse"];`
then the graph generated has 2 on the right side of x.
![graph](https://user-images.githubusercontent.com/17894780/33526198-6eeabada-d863-11e7-8660-60db2486eaa1.png)

[2017-12-03 16:07] jksuom commented on #13659
Closed by #13662 .

[2017-12-03 16:07] #13659 closed

[2017-12-03 17:15] szymag opened #13664 "Full support of laplacian in vector package"
In #12261 `laplacian` function was added.  I think that it could be good idea to add to `vector` package full support of `laplacian` operator like it is done for `del` operator.
For example support for `laplacian` may looks:
[code]

Another advantage of adding `laplacian` is better looking of unevaluated latex form. Instead of printing `del` twice we have one `delta` symbol.

@Upabjojr, @gxyd, wha

[2017-12-03 17:46] aniketgattani commented on #9843
I would like to work on this issue can u tell me where to start from ?

[2017-12-03 22:56] Upabjojr commented on #13664
`lap = Laplacian()`

I don't really like the idea of overloading the `*` operator in general (it makes everything so confused when parsing _Mul_ expressions). I think it's best to use the name _Laplacian_ for unevaluated expressions, and use the function call `( )` for the operator application.

[2017-12-04 06:54] aniketgattani commented on #9843
@shivamvats  is this ok do I need to add tests as well ?

[2017-12-04 08:49] ishanaj commented on #10191
@shivamvats I am working on this issue. But the first statement doesn't give the output as mentioned above rather it gives a `TypeError` :
[code]

Which is because the `range` of the `for` loop is a fraction. Therefore on making the fraction evaluate the error disappears.
This could be the statement before the `for` loop executes:
 (where prec-->range)
[code]
Is this correct?

[2017-12-04 14:02] amitmanchanda1995 commented on #13651
@cbm755 I interested in solving this bug. Could you please help me on how to start?
Thanks

[2017-12-04 15:56] Subhash-Saurabh commented on #13651
Hey @amitmanchanda1995  I have already started working on this problem.

[2017-12-04 18:30] cbm755 commented on #13651
Anyone can work on an issue.  Send PRs if you make progress.

I can't really help except to say read the latex printer code and play with it.

[2017-12-05 00:04] asmeurer commented on #13651
A more direct way to create the expression is `c + Mul(-1, a + b, evaluate=False)`.

[2017-12-05 04:14] jarthurgross opened #13671 "Daggers print incorrectly in LaTeX"
When using `sympy.latex`, an expression with a dagger will be rendered as `\dag` instead of `\dagger`. As `\dag` is a text-mode command and `\dagger` is the math-mode command, it should always render `\dagger`.

Example:
[code]
outputs `'a^{\\dag}'` when it should output `'a^{\\dagger}'`.

This problem keeps `sympy.latex` from being easily used within a jupyter notebook to render sympy objects wit

[2017-12-05 08:34] ArighnaIITG commented on #13671
has this issue been solved?

[2017-12-05 12:08] jarthurgross commented on #13671
Pull request #13672 solves the issue.

[2017-12-05 13:10] szymag commented on #13664
I might agree with you, but shouldn't it introduce discrepancy between `laplacian` and `del` operators?

I mean, for `del` we have operator itself (`Del()`) and *acting* operator (`gradient(...)`, `curl(...)`, etc.), but for `laplacian` only *acting* operator. What do you think?

[2017-12-05 13:41] Upabjojr commented on #13664
We already have a `Del()` operator, the Laplacian could be represented by adding `_eval_power` or something similar to `Del`.

[2017-12-05 14:20] harsh-98 opened #13675 "Example not working"
In [basic_operations](http://docs.sympy.org/latest/tutorial/basic_operations.html) last example on `how the lambdify works with numerical libraries that it does not know`, is through error.
[code]

If is it really an error i would like to work on it :smile: !!

[2017-12-05 14:52] ArighnaIITG commented on #13675
It's working perfectly...

[2017-12-05 21:58] yashkgp commented on #13570
Hey @moorepants, In the documentation, its recommended that the `dyadic` class should be only called when you have to initiate a zero dyadic object.(Just like vectors)Something like this :
[code]
In all other instances when Dyadic object is printed, it is returned by a function (like inertia, outer)
So I think a directly calling Dyadic class through a sequence would give wrong results in printing.

[2017-12-05 22:48] symbolique opened #13677 "is_real returns False instead of None for many trigonometric and hyperbolic functions"
All the following assertions fail at the moment. I'm going to submit a pull request.
[code]

[2017-12-05 23:59] moorepants commented on #13570
You should construct the Dyadic from ReferenceFrame unit vectors not as I specified above. This will allow you to check the printing.

For example:

[code]

[2017-12-06 00:43] symbolique opened #13679 "Document the fact that acot uses the odd/discontinuous definition"
There may be some confusion over the definition of `acot`:
- it isn't specified in the documentation
- numeric evaluation and at least some simplifications use the odd/discontinuous definition
- the current `is_positive` implementation and test use the continuous/positive definition

In pull request #13678 I changed the latter to standardize on odd/discontinuous, but it could be worth considering

[2017-12-06 05:10] ethankward opened #13681 "integrate can return a meijerg object that evaluates to nan"
meijerg(((1/2, 1, 1), ()), ((1/2, 1), (0,)), 1)/2

    nan

The meijerg result might be correct and just be evaluating incorrectly (I don't know), but the actual value of the integral is  `pi log(2)`.

[2017-12-06 05:33] asmeurer commented on #13681
It seems the value is correct. There are a lot of issues here.

If you replace `1` with `z`, you get

[code]

Now `limit` can't handle this directly (issue 1):

[code]

I'm guessing limits of Piecewise not working is already a known issue.

If you extract the z = 1 part, you get

[code]

But that still doesn't work with `limit` (issue 2):

[code]

If you rewrite the `atanh` as `log`, though, it wo

[2017-12-06 05:35] asmeurer commented on #13681
Also want to say that in an ideal world even if SymPy can't compute the limit, hyperexpand would return `Limit(pi*log(-z + 1)/2 + pi*atanh(sqrt(z)), z, 1)`.

[2017-12-06 12:52] ishanaj commented on #12420
@smichr The issue no longer exists. The above statement now gives the correct answer i.e., `I` which seems correct to me. But if there is anything to be corrected, I would like work on it.

[2017-12-06 13:42] gxyd opened #13683 "Document methods and classes when *args, **kwargs are present"
A lot of functions in sympy use `*args` and `**kwargs`, which ofcourse is itself is like making a good use of python language.

But usage of `*args`, `**kwargs` brings in obscurity as to what possible argument the method or functions could possibly take. For example, this is the signature of `collect_const`
[code]

this doesn't have a good mention of what possible arguments could be taken. So the

[2017-12-06 13:55] gxyd commented on #13675
What you are using `expr` (that occurs from `from sympy import *`) is
[code]
What you should be doing is setting `expr = sin(x)` as done in first code block in this section http://docs.sympy.org/latest/tutorial/basic_operations.html#lambdify.

[2017-12-06 13:55] #13675 closed

[2017-12-06 13:57] gxyd commented on #13675
Also in general you should use better issue title.

[2017-12-06 14:19] ArighnaIITG commented on #13683
I will work on this issue. Could you tell me if I have to change the documentation for all functions with definitions *args and **kwargs ?? Or will I just modify collect_const?

[2017-12-06 14:22] #13671 closed

[2017-12-06 14:31] gxyd commented on #13645
Thanks for reporting the issue. I verified, this still hangs on the development version. A fix is welcome.

[2017-12-06 14:32] gxyd commented on #13645
Here is the keyboard interrupt:
[code]

[2017-12-06 14:44] schymans commented on #13379
I found your post when looking for it myself. There is no Celsius and Fahrenheit in  sympy/sympy/physics/units/definitions.py and it does not seem obvious to me how to do this. As far as I see, all unit conversions are done through scale factors provided in the definition of the units `Quantity(name,dimension,scale_factor)`. Unfortunately, I do not see an easy way to add an offset to `scale_factor

[2017-12-06 14:46] gxyd commented on #13683
I'll first wait for @asmeurer to give a thumbs for this.
This is a big task. You can probably focus to improve a few functions that you better understand. It will be better if you slowly proceed with this and not make a huge pile of changes in a single go.

[2017-12-06 14:51] gxyd commented on #12879
I'll close this now as a non-issue. The explanation is well given in the above comment by Kalevi.

[2017-12-06 14:51] #12879 closed

[2017-12-06 15:47] skirpichev commented on #13681
fredrik-johansson/mpmath#378

[2017-12-06 17:52] yashkgp commented on #13570
Hey @moorepants Could you tell what do you mean by Dyadic contained in a sequence
I have tried something like this
[code]
Its printing
[code]
which I think is the correct representation
It would be great if you can help me out .

[2017-12-06 19:20] asmeurer commented on #13683
Unless the kwargs are passed through to something else (in `collect_const` they are not), we should just change the keyword arguments to be explicit, like `collect_const(expr, *vars, Numbers=True)`.

And yes, in any case, all arguments and keyword arguments should be documented in the docstring, and if extra keyword arguments are passed to something else, that should be documented too.

[2017-12-06 19:31] skirpichev commented on #13677
Probably, it's a joke.

[code]

[2017-12-06 21:09] yashkgp commented on #9118
Hey, @gxyd This equation is satisfied for all real number in the range (0,1).To be more generic let's consider the equation ` ceil(x)+floor(x)-c=0` where c is a user input, a simple algorithm can be implemented to solve such equations.
[code]
A algorithm similar to this can be implemented to solve such problem

[2017-12-06 21:53] asmeurer commented on #9118
It would be good to try to solve the equation with as much generality as possible.

One idea is to write

ceiling(x) = floor(x) + 1, x not an integer
ceiling(x) = floor(x) = x, x is an integer

The first gives 2*floor(x) = 0, which could be solved for x giving (0, 1). The second gives 2*x = 1, which has no integer solutions.

In general, you would union the solutions of the two replacements, which

[2017-12-06 23:59] symbolique commented on #13677
Hopefully you meant to say that the situation is ridiculous?

In case I was unclear: this report is not a joke and currently we have
[code]
which is wrong as your example shows when `z = I*pi - 1`. The answer should be `None`.

[2017-12-07 08:23] RohitJain3241 opened #13688 "computation of negative powers of a Quaternion"
Computation of negative powers of a Quaternion returns 1 as result. Is this correct??
I think q^p =  (q.pow(-1)).pow(p). Am I correct? @asmeurer @Upabjojr

[2017-12-07 08:36] skirpichev commented on #13677
Sorry, my bad, I misread report.  Usually, wrong statements provided, not good (but failing) ones.

[2017-12-07 10:28] jdemeyer commented on #13430
I'll work on this.

[2017-12-07 10:31] jdemeyer commented on #13430
I would like to remove the monkey-patching but still implement the conversions in Sage. Essentially, keep the `_sage_()` methods in sympy but make them simple wrappers around functions implemented in Sage. Something like
[code]

[2017-12-07 11:11] jksuom commented on #13679
It seems that the evaluation of `acot` is based on the odd/discontinuous definition. It should probably be investigated how mpmath behaves before making final decisions.

[2017-12-07 12:49] ArighnaIITG commented on #13688
I can work on this.
The pow function in quaternion.py is not defined for p<-1 . res=1 is defined for p<-1.
Is that mathematically correct?
@gxyd  @asmeurer

[2017-12-07 13:10] ArighnaIITG opened #13690 "Arithmetic Operations performed on inverse of Quaternion(0,0,0,0) doesn't throw an error."
Check the below code copied from the terminal.

[code]

We can see that when we perform operations like addition, multiplication and division on the inverse of Quaternion(0,0,0,0), which is NaN(not a number) , it again gives NaN, whereas it should throw an error.

[2017-12-07 13:18] RohitJain3241 commented on #13688
I am waiting for @asmeurer to confirm this. Then maybe we could work on this.

[2017-12-07 15:28] gxyd commented on #13690
Thanks for reporting the issue. Feel free to submit a PR.

Also please don't use the issue description to ping, if you want to then use a separate comment.

[2017-12-07 15:34] vasdommes opened #13691 "dsolve error due to constant renumbering"
sympy 1.1.2.dev

`dsolve` gets confused when the ode contains symbol `C1` (in real life `C1` may come, e.g., from the result of another `dsolve`):

[code]

The problem arises because the method `constant_renumber` inside `dsolve` swaps `C1` and `C2`.
I think that we should not touch any symbol from ode, and renumber only the constants introduced during the equation solving.
P.S. Maybe it would be

[2017-12-07 16:41] RohitJain3241 commented on #13690
I have created a PR #13693 . Hope it solves this issue. @gxyd

[2017-12-07 17:31] yashkgp commented on #9118
So , one solution could be to use `collect` or `simplify` to isolate `floor(x)`then `floor(x)=c` can be easily solved .

[2017-12-07 17:34] smichr opened #13695 "make Line3D.equation like Line2D.equation"
Line3D.equation conflates the notion of arbitrary point and equation set defining a 3D line. In 2D a single  equation relating x and y is returned; in 3D I would expect the same except now *2* equations are needed to relate the 3 variables.

Currently, (X, Y, Z, k) is returned by Line3D.equation which is not an "equation" which can be solved to find the coordinates of some coordinates given others

[2017-12-07 17:35] jdolence opened #13696 "integrate(x**2*sqrt(1-x**2), (x, -1, 1)) raises AttributeError with SymPy 1.1.1"
[code]

[2017-12-07 17:45] certik commented on #13696
This works in the latest master:
[code]
Let me find out if this is an accident, or if it got fixed since SymPy 1.1.1.

[2017-12-07 17:51] certik commented on #13696
So this got fixed by 1c658e00ffa5cec777dd2d9f9453135ab55e75d0.

[2017-12-07 17:52] certik commented on #13696
@jdolence use the latest master for now, where this is fixed. We'll make a release eventually.

[2017-12-07 17:52] #13696 closed

[2017-12-07 17:52] certik commented on #13696
Thanks @smichr for fixing this!

[2017-12-07 18:49] yashkgp opened #13697 "Live Shell throws a Value Error while running a live example"
Live Shell is throwing a Value Error while running a  code from the Physics.Vector module in the documentation. the code block was :
[code]
Its giving a Value error
[code]
While locally its running fine .

[2017-12-07 18:50] asmeurer commented on #9118
solveset can be used recursively to solve for floor(x). There should already be logic in there for recursive solving.

[2017-12-07 19:39] Shikhar1998 commented on #13690
Similar would be the case, for another indeterminate form `Quaternion(0,0,0,0)`.

[2017-12-08 01:04] smichr opened #13699 "use fuzzy_bool instead of ternary_sort"
There is an existing function that can take the place of `ternary_sort`:
[code]

[2017-12-08 01:52] RohitJain3241 commented on #13690
@Shikhar1998 Thanks for pointing that out. Would include that too.

[2017-12-08 01:57] RohitJain3241 commented on #13699
I would like to work on this. Do I have to just change as described or anything more? @smichr

[2017-12-08 02:41] gxyd commented on #13683
@ArighnaIITG I would expect documentation to be of the form:
[code]

[2017-12-08 04:36] vishalg2235 commented on #13695
@smichr any other modification has to be done or should I send a PR with above changes?

[2017-12-08 04:49] ArighnaIITG commented on #13699
Is this issue open ?
Do I have to change only what is written? Or Something else too?

[2017-12-08 06:32] ethankward opened #13701 "limit(gamma(n + p) / (n**p * gamma(n)), n, oo) fails for real p, but succeeds when p is positive, negative or zero"
p = Symbol('p', real=True)
    print(limit(gamma(n + p) / (n**p * gamma(n)), n, oo))
    Traceback (most recent call last):
      File "C:\Users\ethan\Desktop\sympy\sympy\series\limits.py", line 190, in doit
        r = gruntz(e, z, z0, dir)
      File "C:\Users\ethan\Desktop\sympy\sympy\series\gruntz.py", line 646, in gruntz
        r = limitinf(e, z)
      File "C:\Users\ethan\Desktop\sympy\symp

[2017-12-08 12:17] ishanSrt commented on #12056
When is even the `__round__` method called? I am referring to the method in https://github.com/sympy/sympy/blob/e01729f7e7f9d43df711084dde431aad4461b792/sympy/core/numbers.py#L583

[2017-12-08 14:43] jachymb opened #13704 "Add option to project model onto selected subset of variables"
It would be useful in `sympy.logic.inference.satisfiable` to have an option such as `project_onto` which would be a set of variables, a subset of free variables of the SAT instance formula. When a model is found, only distinct assignments to variables from this subset are returned. This would be especially useful combined with `all_models=True` when the SAT instance has some auxiliary variables, s

[2017-12-08 15:53] smichr opened #13705 "import filldedent in line.py"
The following should raise a ValueError:
[code]
The following mod to line.py should be made and a test of the above added to the place where `arbitrary_point` is tested in the `test_line.py` file.

[code]

[2017-12-08 17:57] smichr opened #13707 "make AntiSymmetricTensor canonical"
There are two `_sortkey` routines in that file. One uses the label and the other doesn't leading to the issue raised by Matthew Chan:
[code]
The following fixes the issue:
[code]

[2017-12-08 18:20] scheswick2015 commented on #13705
@smichr I would like to work on this issue. I have looked into the arbitrary_point tests and was wondering what would be the best way to write a test for the ValueError, since that error is raised in the arbitrary_point method in the line.py file as shown below
[code]

[2017-12-08 18:22] akshat14714 commented on #13707
@smichr  I would like to work on this issue.

[2017-12-08 18:35] asmeurer commented on #12056
@ishanSrt it is called when using the `round` built in function. But be sure to use Python 3. In Python 2 `__round__` is not used.

[2017-12-08 23:10] asmeurer commented on #13649
It uses `simplify_logic`, though the docs for it aren't very clear either.

[2017-12-08 23:18] asmeurer commented on #13629
SymPy commands are exactly the same (except using the Python syntax for powers)

[code]

[2017-12-08 23:20] asmeurer commented on #13605
Seems a bit too much for automatic evaluation IMO.

[2017-12-09 09:02] shivamvats commented on #10191
@ishanaj Are you using Python3? I do not get that error on my machine.

[2017-12-09 12:49] ylemkimon opened #13711 "test_llvmjit.py fails with llvmlite 0.21.0"
[code]

It seems `get_pointer_to_function` was deprecated(https://github.com/numba/llvmlite/pull/83) and removed in https://github.com/numba/llvmlite/pull/307.

Failing Travis builds:

-  [ ] #13698
-  [ ] #13669
-  [ ] #13708
-  [ ] #13709
-  [ ] #13650
-  [ ] #13673
-  [ ] #13665
-  [ ] #13693

Also, there were ignored errors before:

[code]

[2017-12-09 12:57] ylemkimon commented on #13711
CC: @markdewing

[2017-12-09 14:27] ishanaj commented on #10191
@shivamvats I am using python 3.5.

[2017-12-09 15:17] gxyd commented on #10191
I can also reproduce this `TypeError` issue in python3 only. This error is probably because of https://github.com/sympy/sympy/blob/master/sympy/polys/ring_series.py#L1143 . This raises `TypeError` in python3 when `prec` is a non-integer.

[2017-12-09 18:57] ethankward opened #13715 "Limit can fail if an expression contains a zero=True symbol"
Traceback (most recent call last):
      File "<pyshell#3>", line 1, in <module>
        limit(n+p, n, 0)
      File "C:\Users\E\AppData\Local\Programs\Python\Python36\lib\site-packages\sympy\series\limits.py", line 49, in limit
        return Limit(e, z, z0, dir).doit(deep=False)
      File "C:\Users\E\AppData\Local\Programs\Python\Python36\lib\site-packages\sympy\series\limits.py", line 180, in

[2017-12-09 19:52] Akuli commented on #13605
Currently `(1 > Max(0, 1-a)).doit()` doesn't actually do anything.

[2017-12-09 20:03] yashkgp commented on #13570
@moorepants  What do you mean by Dyadic contained in list ?

[2017-12-09 21:00] #13711 closed

[2017-12-10 02:44] smichr commented on #13699
Actually, ternary can be left but fuzzy bool can be used to wrap the contains calculation.

[2017-12-10 03:03] gxyd commented on #13651
Closing. Fixed by #13673 .

[2017-12-10 03:03] #13651 closed

[2017-12-10 08:14] gxyd commented on #13450
Also refer to discussion on https://github.com/sympy/sympy/pull/13467

[2017-12-10 08:41] jerermyyoung opened #13723 "Difficulties calculating integration"
Recently I use SymPy to calculate this integration integrate(sin(x)*cos(x)/(sin(x)**4+cos(x)**4),x),resulting my computer to halt...
I wonder if the integrating algorithm can be improved

[2017-12-10 10:24] shubham3174 commented on #11345
@leosartaj
Hi, is this issue still open, If so I would like to work on it.

[2017-12-11 07:56] vishalg2235 commented on #13723
yup! my computer didn't even did it in 1 hour.
It didn't even computed :
[code]

[2017-12-11 09:21] vishalg2235 commented on #13701
I would like to work on this issue. @ethankward can you guide me which file code I must look into?
From error log I think `rewrite` function must be edited.

[2017-12-11 19:53] harsh-98 commented on #13697
@yashkgp what u mean by live shell?

[2017-12-12 02:43] smichr commented on #13723
Try simplifying first?
[code]

[2017-12-12 03:00] vishalg2235 commented on #13723
@smichr It should come:
`atan(cos(2*x))/2` ?

[2017-12-12 03:30] asmeurer commented on #13723
Trig integrals like this should be easily computable once the Risch tangent work is completed.

Getting heurisch to return an arctangent instead of complex logarithms is something that could be fixed independently (and perhaps not too difficultly).

[2017-12-12 03:39] vishalg2235 commented on #13723
@asmeurer I would like to work on this issue. Can you give me some idea how to proceed ?

[2017-12-12 06:16] Subhash-Saurabh opened #13729 "Substitution gives wrong output for fraction"
When we use substitute on a fraction it gives wrong answer.
[code]

[2017-12-12 06:26] vishalg2235 commented on #13729
That's Python. In python 1/2 = 0, try 1.0/2
[code]

[2017-12-12 06:27] #13729 closed

[2017-12-12 06:53] gxyd opened #13730 "sympy/plotting/tests/test_plot.py matplotlib failures on Travis"
[code]

Affected PR's https://github.com/sympy/sympy/pull/13728, https://github.com/sympy/sympy/pull/13726

**See this**: https://travis-ci.org/sympy/sympy/jobs/315158559 for seeing complete error

[2017-12-12 07:23] gxyd commented on #13730
Current configuration uses v2.1.1 of matplotlib, released a few days ago.

[2017-12-12 09:12] ylemkimon commented on #13730
Also #13725, #13539, #13708.

I think we should fix(lock) dependencies' versions and update them by a PR.

[2017-12-12 09:51] gxyd commented on #13730
Also: https://github.com/sympy/sympy/pull/13708

[2017-12-12 10:05] ArighnaIITG commented on #13730
Ok, Now I see the problem. What do I do now?

[2017-12-12 10:33] Ulfgard opened #13733 "Integral over normal cdf evaluates inf"
Version 1.1.1 (packaged with Arch Linux).

The following code:
[code]

returns:

`\mu*erf(sqrt(2)*\mu/(2*\sigma))/2 + sqrt(2)*\sigma*exp(-\mu**2/(2*\sigma**2))/(2*sqrt(pi)) + oo`

which is the correct result up to infinity.

[2017-12-12 11:40] jksuom commented on #13730
I suspect that there is a bug in matplotlib-2.1.1, and that we should temporarily use an older version. It seems that the file is not created because of an internal error.
[code]
The line 1339 was introduced quite recently (https://github.com/matplotlib/matplotlib/pull/9324) and apparently colors were not tested. `get_color` now returns a list, not a single color. (It seems that there used to be a

[2017-12-12 17:46] jksuom commented on #13733
This is what SymPy 1.1.2.dev gives (with m and s instead of mu and sigma):
[code]

[2017-12-12 23:10] asmeurer opened #13737 "coset_table doctest failure (Fatal Python error: Cannot recover from stack overflow.)"
See https://travis-ci.org/sympy/sympy/jobs/315588322

[code]

Here is the test header

[code]

[2017-12-13 03:49] vishalg2235 commented on #13723
ping @asmeurer @smichr

[2017-12-13 04:29] asmeurer opened #13739 "Some issues with combsimp"
See https://stackoverflow.com/questions/47772976/python-sympy-plot-overflowerror-int-too-large-to-convert-to-float.

I tried to use combsimp to simplify the expression and ran into some problems:

- If you try to simplify the expression as-is, it just hangs. I think it is trying to expand the factorial in the denominator as a polynomial.

- If you replace 365 with `n`, it works, but doesn't give a

[2017-12-13 05:30] asmeurer commented on #13723
@vishalg2235 this isn't necessarily an easy to fix issue. The heurisch fix could be straightforward if you can handle the math. The idea is to detect expressions of the form `I*(log(-I*x + 1) - log(I*x + 1))/2` in heurisch and automatically convert them to `atan`. This should be doable in-algorithm (checking the `log_part`), but it could also be done with some pattern matching at the end (in-algor

[2017-12-13 09:14] vishalg2235 commented on #13723
@asmeurer I couldn't detect from where the expression `I*(log(-I*x + 1) - log(I*x + 1))/2` is coming. I didn't even understood how to convert `log` part to `atan` ?
I'm really interested in solving this problem and in general knowing how integration is done using various algorithms.

[2017-12-13 09:59] gxyd commented on #13723
Since `I*(log(-I*x + 1) - log(I*x + 1))/2` is a logarithmic form of `atan`, you can use `atan(x).rewrite(log)` to get that.

For inverse part isn't currently done, I think.

[2017-12-13 10:01] gxyd commented on #13723
If you are interested in knowing how integration actually works, then see the documentation and source of `sympy.integrals`, start with the internals http://docs.sympy.org/latest/modules/integrals/integrals.html#internals

[2017-12-13 10:36] vishalg2235 commented on #13723
Thanx @gxyd . But I couldn't figure out where in heurisch.py this expression is coming. And what does `in-algorithm` means ?

[2017-12-13 14:14] gxyd commented on #13723
You can use pdb (python debugger) to figure out the workflow of code. Where is this 'in-algorithm' word that you are referring to?

[2017-12-13 14:30] #11025 closed

[2017-12-13 14:34] vishalg2235 commented on #13723
In last comment of Aaron in this issue. He referred two ways to convert `I*(log(-I*x + 1) - log(I*x + 1))/2` to `atan`. First 'in-algorithm' (checking the log_part) and second pattern matching. I got pattern matching but what is first thing he is saying ?

[2017-12-13 14:53] jksuom commented on #13723
The `log`-terms are created by `_integrate` and inserted in a list called `log_part`. It is easier to recognize conjugate pairs of logarithms in that connection. That is what 'in-algorithm' means. It is also possible to find such conjugate pairs later at the end by pattern matching but then more work is needed since there are also other terms in general.

[2017-12-13 15:22] vishalg2235 commented on #13723
ok! Thanks @jksuom . After finding `log` conjugate then `candidate` must be written in terms of `atan`.
I will try add exception of 'log' conjugate.

[2017-12-14 05:45] ArighnaIITG commented on #13688
@gxyd , @jksuom , @asmeurer
Please review this issue, and please say if this idea is correct.
If yes, What will I implement for p<-1??

[2017-12-14 09:32] ylemkimon commented on #13737
[code]
https://travis-ci.org/sympy/sympy/jobs/316084624

[2017-12-14 09:55] ylemkimon commented on #13737
CC @valglad

[2017-12-14 11:23] vishalg2235 opened #13742 "line3D.equation(k=...) is deprecated"
Argument `k` is deprecated from `line3D.equation()` .

Previously, the function `line3D.equation` returns `(X,Y,Z,k)` which is changed to `(Y-X,Z-X)` (here `X`, `Y` and `Z` are expressions of `x`, `y` and `z` respectively). As in 2D an equation is returned relating `x` and `y` just like that in 3D two equations will be returned relating `x`, `y` and `z`.

So in new `line3D.equation` argument `k` i

[2017-12-14 11:23] jksuom commented on #13688
Negative powers can be defined as (positive) powers of the inverse provided that exists. (So, if `p < 0`, then try to replace `q` by `q.inverse()`, and if that succeeds, then continue with the positive exponent `-p`.)

[2017-12-14 16:50] valglad commented on #13737
Will look into it. Seems to be something in the `reduce` method in `rewritingsystem.py`.

[2017-12-15 08:33] #13646 closed

[2017-12-15 08:43] #13737 closed

[2017-12-15 14:38] #13637 closed

[2017-12-15 15:24] Subhash-Saurabh opened #13746 "Wrong documentation of Gamma Function"
The current documentation of gamma function shows
Γ(x):=∫ (t**(x−1))*(e**(t)) dt

But it should be
Γ(x):=∫ (t**(x−1))*(e**(-t)) dt
as mentioned [here](https://en.wikipedia.org/wiki/Gamma_function)

[2017-12-15 17:42] #13705 closed

[2017-12-15 18:07] #13707 closed

[2017-12-15 18:47] #13431 closed

[2017-12-16 00:02] symbolique opened #13749 "Wrong result for integrate(1/(cos(t) + 2), (t,0,2*pi))"
`integrate(1/(cos(t) + 2), (t,0,2*pi))` returns 0 instead of `2*pi/sqrt(3)`.
[code]

[2017-12-16 00:12] symbolique commented on #13679
mpmath uses the odd/discontinuous definition and so do Mathematica and Octave, so it seems a pretty safe bet.

[2017-12-16 00:34] symbolique opened #13750 "erf has wrong limit in -oo"
This could be one cause of #13733:
[code]
There are multiple issues:
- `erf._eval_rewrite_as_tractable(z)` always rewrites for the `z->oo` case. This only works for the first two limits because `erf(1-x)` is rewritten as `-erf(x-1)`, but it can't be assumed in general.
- `_erfs` is neglected by the Gruntz implementation regardless of its argument, so the previous limitation causes a wrong result.

[2017-12-16 07:07] #13746 closed

[2017-12-16 08:01] jksuom commented on #13749
SymPy cannot currently compute *definite* integrals of most periodic functions. The antiderivatives of periodic integrands are typically multi-valued,
[code]
and there is no method implemented for choosing suitable values at the endpoints of the integration interval. #11165, #13112

This problem is discussed in http://www.reduce-algebra.com/reduce38-docs/trigint.pdf.

[2017-12-16 08:52] #13677 closed

[2017-12-16 09:37] vishalg2235 commented on #13723
@jksuom I had detected when `I*(log(-I*x + 1) - log(I*x + 1))/2` is forming. But getting trouble in detecting it in code :
At line 654 in heurisch.py
here V = [_x0,_x1,_x2] ; where _x0 = 'x', _x1 = 'cos(x)', _x2 = 'sin(x)'.
[code]
How should I write `if` statement and match those terms. Please correct me.

[2017-12-16 09:49] kartikey-sopho commented on #13683
I would like to work on this issue, I have noticed some more methods in sympy/simplify/radsimp.py using `*args` and `**kwargs` but not well documented like `rcollect(expr, *vals)`, `fraction_expand(expr, **hints)`, `numer_expand(expr, **hints)`, `denom_expand(expr, **hints)`, `_split_gcd(*a)`, is anyone else working on the same?

[2017-12-16 11:38] jksuom commented on #13723
It is better to search for those terms earlier, soon after they have been created by `root_factors` and inserted into `irreducibles` in [this loop](https://github.com/sympy/sympy/blob/master/sympy/integrals/heurisch.py#L587). Pairs of conjugate factors like `a + I*b` and `a - I*b` should be extracted from `irreducibles` and inserted into another set (e.g. `candidates`) before the [next loop](https

[2017-12-16 16:31] smichr commented on #13699
#13703 might want to look at the (tested) diff in the OP at the top of this page.

[2017-12-16 22:35] moorepants opened #13753 "lambdify can't handle substituting functions and their derivatives simultaneously"
It would be nice if this didn't fail:

[code]

I think this has to do with the order that the dummies are substituted in. If `subs` is used there may be no guarantee that the order of the args passed to `lambdify` is preserved.

[2017-12-17 00:02] asmeurer opened #13754 "Challenging trig expression for solve/simplify"
Take the following

[code]

The goal is to solve the expression for `n`.

The solution is `GoldenRatio`. simplify has a hard time simplifying this when plugged in, either in `GoldenRatio` form or `(sqrt(5) - 1)/2` form. I was able to manually simplify it

[code]

There are probably other complex solutions as well.

I'm not able to get this from `solve` or `solveset`. `solveset` gets close when giv

[2017-12-17 10:07] ArighnaIITG commented on #13753
I would like to this work on this issue.
Could you guide me as to which dummies should I change, and how should I proceed on with this issue?

[2017-12-17 12:41] Subhash-Saurabh commented on #13701
I don't think the problem is due to `p` being real.
[code]
The real problem is with sign function in gruntz.py that is unable to evaluate if the sign of `p` (postive,negative or zero) is not provided.
For example
[code]
gives NotImplementedError

[2017-12-17 16:28] jklymak commented on #13730
Figure legend argument handling was made more parallel to axes handling https://github.com/matplotlib/matplotlib/pull/9324.  Sorry something broke for you.  Can you isolate the use case so we can debug and add to our tests on matplotlib Thanks.

[2017-12-17 17:13] asmeurer commented on #13723
I thought I had remembered many similar issues but this is the only one I found: https://github.com/sympy/sympy/issues/11254 (namely, the `integrate( (sech(x)**1).rewrite(sech, exp), x )`, but that seems to be coming from risch, not heurisch).

Anyway, it's easy enough to construct examples by differentiating and integrating `atan(something)`.

[2017-12-17 17:18] moorepants commented on #13753
You should start by writing a unit test based on what I have written above. Then you need to find the code in lambdify that does the dummy substitution and modify it so that it subs in the highest order derivatives first. This should be robust for any order derivatives.

[2017-12-17 17:32] vishalg2235 commented on #13723
@asmeurer the integral of `integrate( (sech(x)**1).rewrite(sech, exp), x )` is coming as : `RootSum(_z**2 + 1, Lambda(_i, _i*log(-_i + exp(-t))))` . I think it should be converted into simpler terms.

[2017-12-18 03:39] sss97 commented on #9239
I would like to work on this issue! Can someone guide me on how should I get started?

[2017-12-18 06:44] sibasish14 commented on #6013
Hi I'm new to open source. May I try to solve this?
Where do I find the functions lerchphi and polylog?

[2017-12-18 12:57] Wrzlprmft opened #13760 "Inconsistent behaviour of power infinity (**oo)"
Raising an expression to the power infinity behaves strange:

* A symbol (or general abstract expression) can be raised to the power infinity, but once it is simplified, it yields `nan`.
* A non-negative number smaller than one raised to the power infinity yields `0` – as expected.
* One raised to the power infinity yields `nan` and not `1` (which may be the source of all these problems).
* A numb

[2017-12-18 13:10] jksuom commented on #13760
This is explained in the [docstring](https://github.com/sympy/sympy/blob/master/sympy/core/power.py#L136) of `Pow`.

[2017-12-18 13:15] Wrzlprmft commented on #13760
@jksuom Thanks, that explains `1**oo is nan`, but it doesn’t cover `(x**oo).simplify() is nan` (which is the major annoyance here).

[2017-12-18 13:17] jksuom commented on #13760
What would you expect to get?

[2017-12-18 13:23] Wrzlprmft commented on #13760
What I put in, i.e. `(x**oo).simplify == x**oo`. I can still substitute `x` with a non-negative value other than one, so it’s not clear that the result is `nan`. Right now we have:

[code]

[2017-12-18 13:31] jksuom commented on #13760
I agree that `x**oo` would be a good choice though there may have been some particular reason for `nan`.

[2017-12-18 13:38] Wrzlprmft commented on #13760
In that case, `x**oo` should arguably directly evaluate to `nan` and there is no need to wait for a simplification attempt.

[2017-12-18 13:42] jksuom commented on #13760
It seems that the current version of SymPy is working this way already:
[code]

[2017-12-18 13:49] Wrzlprmft commented on #13760
Argh, stupid me. Should’ve updated.

[2017-12-18 13:49] #13760 closed

[2017-12-18 14:53] ArighnaIITG commented on #13753
I have looked at the code.
In lambdastr function, I will put an isinstance check to see if the args term contain derivatives or not.
But how do I sort the derivatives list according to their order?
@moorepants

[2017-12-18 14:58] ArighnaIITG commented on #13704
@jksuom , @gxyd , @jachymb
I would like to work on this issue.
Please guide me as to how I should proceed on this?

[2017-12-18 17:12] vishalg2235 commented on #13749
Issues (this, #11165 and #13112) all three uses 'Weierstrass substitution'. So whenever any such substitution is found then appropriate "floor" term should get added to it's integral(as per REDUCE-trigint function) to make antiderivative continuous. @jksuom I think I can start by implementing this?

[2017-12-18 17:38] moorepants commented on #13753
I'm sorry, I don't have time to help you with every detail. Please try something and submit a pull request.

[2017-12-18 17:41] ylemkimon commented on #13730
@jklymak

[code]

where `s` is:

[code]

and `color_array` is:
[code]

[2017-12-18 18:02] #13695 closed

[2017-12-18 18:06] jksuom commented on #13749
Ok. But a proper location for it in the code should be found. It should preferably work with all integrators implemented in SymPy.

[2017-12-18 18:20] vishalg2235 commented on #13749
yup I'm working on it.

[2017-12-18 18:41] vishalg2235 commented on #13742
@smichr this should have a 'Deprecation removal' label.

[2017-12-18 19:02] #13398 closed

[2017-12-18 19:26] starlord1311 commented on #13699
@smichr can i take up this issue?

[2017-12-18 20:10] jklymak commented on #13730
Got an email about this w what I assume was a removed comment.  If at all possible a use case that doesn’t use sympy or other external dependencies beyond numpy would be appreciated.

[2017-12-18 20:11] gxyd commented on #13730
Yes, I'm just looking into it.

[2017-12-18 20:57] moorepants commented on #13730
I like @ylemkimon suggestion:

but I think we should support a range of dependencies. Maybe support all versions of dependencies that are available since the last SymPy release was made (or something similar). This would tie dependency version support to real time.

[2017-12-18 21:11] moorepants opened #13764 "Explicitly support a range of versions of all mandatory and optional dependencies"
SymPy is a major scientific Python package and releases about once a year. We depend on:

Required:

- mpmath

Optional:

- numpy
- matplotlib
- theano
- IPython/Jupyter
- Mathjax
- Cython
- llvm/llvmlite
- tensorflow
- various compilers
- all languages our code printers support
- matchpy
- (add more here I've missed)

I propose that SymPy should support a range of versions for each dependency to

[2017-12-18 21:52] asmeurer opened #13765 "Matrix.dot should be a little less lax for n x m matrices"
See https://stackoverflow.com/questions/47839177/sympy-dot-product-results-in-a-list. If you have non-vector matrix and use `dot`, it takes the dot product of the matrices flattened out to a single vector:

[code]

The goal of `dot` is to be lax so that you can dot `1 x n` and `1 x n` without having to use `.T`, but for the case of an `n x m` matrix where neither `n` nor `m` are 1, it should proba

[2017-12-18 21:56] asmeurer opened #13766 "@ (__matmul__) should fail if one argument is not a matrix"
[code]

Right now `@` (`__matmul__`) just copies `__mul__`, but it should actually only work if the multiplication is actually a matrix multiplication.

This is also how NumPy works

[code]

[2017-12-18 21:57] asmeurer commented on #13766
Note to anyone fixing this: `@`/`__matmul__` only works in Python 3.5+.

[2017-12-18 22:20] #5575 closed

[2017-12-18 23:53] Gerenuk opened #13767 "reprec referenced before assignment"
[code]

on sympy 1.1.1

[2017-12-19 04:40] ylemkimon commented on #13730
@jklymak Sorry, I thought I've isolated its use case, but it didn't reproduce the problem.

[2017-12-19 04:54] ylemkimon commented on #13764
I haven't used it, but there is a bot that facilitates dependency management: https://github.com/marketplace/dependabot.

[2017-12-19 05:00] ylemkimon commented on #13764
Also, isn't MathJax a javascript library, which is included in the documentations by a link?

[2017-12-19 05:04] gxyd commented on #13764
We have a wiki for dependencies, though it may also be somewhat outdated: https://github.com/sympy/sympy/wiki/Dependencies

[2017-12-19 05:08] ylemkimon commented on #13697
Live Shell is running SymPy 1.0, which is about 6000 commits old. There is an open issue to upgrade it to latest version: https://github.com/sympy/sympy-live/issues/112. As it works in the development version, I'll close this issue. Thank you for reporting.

@harsh-98 http://live.sympy.org/

[2017-12-19 05:08] #13697 closed

[2017-12-19 06:04] ylemkimon opened #13769 "Travis builds are failing during setup"
Since #13744(merged in https://github.com/sympy/sympy/commit/a07322b4f623ebac2e7be6f90b2715d27b4cb788, [Travis build #25235](https://travis-ci.org/sympy/sympy/builds/316819224)), Travis master builds are failing during setup.

See travis-ci/travis-ci#8920.

[2017-12-19 06:29] normalhuman opened #13770 "linsolve ignores equations with certain coefficients"
In SymPy 1.1.1,
[code]
returns {(-y, y)}, which ignores the first equation. The expected output is {(1, -1)}.

If sqrt(2) is replaced by 2 or 1/3 or 1.234, or sqrt(2.1), the output is correct.

[2017-12-19 08:16] ArighnaIITG commented on #13766
I would like to work on this issue.

[2017-12-19 08:28] jachymb commented on #13704
A straightforward way could be to select variables from the set `project_onto` for value assignment first. (Of course, unless unit propagation / pure literal elimination is being done.) If all the variables from `project_onto` have a satisfying value assigned, output the result. If `all_models=True`, then also backtrack.

But perhaps there is a smarter way to do it.

[2017-12-19 09:03] asmeurer commented on #13764
Unnecessary version restrictions can make it so that packages cannot be installed alongside SymPy if they require an older version. So I would only add the version restrictions to the metadata if they are really known to not work with versions older than that.

[2017-12-19 10:21] johanbluecreek commented on #12830
Since you are looking at resolving nesting/associativity and perhaps are looking at `TensorProduct`, then you might be interested in #11598 in which you can find two opposing ways (one is the PR, one in the discussion there) of resolving the associativity for `TensorProduct`. That might help you or whoever is looking into this.

[2017-12-19 13:25] ArighnaIITG commented on #13770
I am getting this correctly.

`>>> from sympy import *

{(1, -1)}
`

[2017-12-19 16:14] gxyd commented on #13730
@jklymak I can't seem to figure out a use case not using sympy.

[2017-12-19 16:25] jklymak commented on #13730
@dstansby do you know what the use case is hat fails?

@gxyd we have a fix on our end.  It’d just be nice to know why it was failing.

[2017-12-19 16:50] moorepants commented on #13764
If a user has an environment with very old packages that happen to be SymPy dependencies, they should install an older, compatible version of SymPy. I don't think it is our job to ensure SymPy can be installed alongside any versions of software, no matter how old.

The proposal here is intended to ensure that a given version of SymPy at least works with a set of versions of its dependencies.

[2017-12-19 17:21] watchduck commented on #13770
Could you check the SymPy example from the Stackoverflow question this comes from? https://stackoverflow.com/questions/47879246/why-does-sympy-calculate-wrong-intersections-of-planes

[2017-12-19 17:30] ylemkimon commented on #13770
* 2 seems to work
* As 1.234 and sqrt(2.1) are floats, results are returned in floats: `{(1.0, -1.0)}`
* Regarding 1/3, if you are using Python 2, you should import `division` from `__future__` to get 0.333333, otherwise you will get zero. Also, to get SymPy Rational, you should do `S(1)/3`

[2017-12-19 18:44] normalhuman commented on #13770
Indeed, it works correctly in 1.1.2.dev. Closing the issue.

[2017-12-19 18:44] #13770 closed

[2017-12-19 18:55] asmeurer opened #13774 "Odd behavior with Matrix*list"
[code]

This is based on the example in the Matrix.dot docstring. The result should probably be an exception, or an automatic conversion of the list to a matrix. The matrix of lists is wrong, and I'm surprised it's even allowed.

[2017-12-19 18:59] asmeurer commented on #13765
Apparently it's [documented](https://github.com/sympy/sympy/blob/1792d528d6c213a4fd488b6dad2de6d144278f94/sympy/matrices/matrices.py#L2366-L2368) that Matrix*vector gives a list of results. I think this isn't very helpful, as 1, it's inconsistent for n x m vs 1 x m matrices, 2, a list isn't as useful as a matrix, and 3, the result is exactly the same as if you just multiplied the matrix and the ve

[2017-12-19 19:14] asmeurer commented on #13764
Well for one thing, there is only really one hard dependency, mpmath. As far as I know, SymPy could work with older versions of mpmath. We'd have to run the test suite against older versions to see when it stops passing.

But consider the optional dependencies. Say we have some NumPy function in `lambdify` that only works for a newer version of NumPy, say 1.11 or newer. Does that mean we have to r

[2017-12-19 22:42] ahmed751995 commented on #13765
to make sure i understood well if we used B= n x m where n or m != 0 we should get error otherwise we should get a list of multiplying vectors

[2017-12-19 22:44] asmeurer commented on #13765
The behavior I'm suggesting is that it should only work if n or m are 1, and give an error otherwise. That isn't the behavior right now.

[2017-12-19 22:57] ahmed751995 commented on #13765
I would like to work on it

[2017-12-19 23:45] asmeurer commented on #13765
OK, but be sure to coordinate with the existing pull request.

[2017-12-20 02:44] moorepants commented on #13764
I wrote this issue after reading this one: https://github.com/sympy/sympy/issues/13730 and then thinking back to various other version issues we have encountered both in SymPy (things like IPython changes, recent tensorflow issue, etc) and for code that i have written (PyDy, opty, etc) that has had related issues.

I'm not sure we need to necessarily enforce optional dependency versions on package

[2017-12-20 03:54] normalhuman commented on #12618
Someone must have fixed this without referencing the issue, because it works in the current development version.
[code]

[2017-12-20 06:15] vishalg2235 commented on #13749
At [line](https://github.com/sympy/sympy/blob/master/sympy/integrals/heurisch.py#L348) in heurisch.py  any sin,cos or cot in `f` is substitutes to tan and hyperbolic functions to tanh (or we can say the "Weierstrass substitution" occurs), but it happens only when function `heurisch(f, x, ....)` is called with argument `rewrite = True`, which only happens [here](https://github.com/sympy/sympy/blob/

[2017-12-20 07:03] jksuom commented on #13749
I would place the fix in `Integral.doit()` since the issue is not connected with heurisch (or any other integrator in SymPy). It would come after (possibly multi-valued) `antideriv` has been computed but before the limits of a definite integral are substituted.

[2017-12-20 07:34] vishalg2235 commented on #13749
What is multi-valued antiderivative ? can you brief me with it ?

[2017-12-20 07:44] vishalg2235 commented on #13749
If we take example of `f = integrate(1/(cos(x)+2),x)`
Then, after `Integral.doit()` as result comes : `2*sqrt(3)*atan(sqrt(3)*tan(x/2)/3)/3` .
Then `free_symbol` in f was `cos(x)` and it is converted to `free_symbol` of `tan(x/2)` in result.
So now we must add the `floor` term to make antiderivative continuous ?

[2017-12-20 08:07] vishalg2235 commented on #13749
What are multivalued functions ?
asin, acos, atan are these multivalued ?

[2017-12-20 08:24] jksuom commented on #13749
Yes, that would fix the issue.

Yes, they are. In general, inverse functions of all periodic functions are multi-valued (i.e., the inverse value is not unique).

[2017-12-20 08:28] vishalg2235 commented on #13749
Ok. I will add the floor term.

[2017-12-20 08:52] ArighnaIITG commented on #13699
@gxyd , @smichr  I am taking up this issue, since the PR #13703 has been inactive for a lot of time.

[2017-12-20 09:36] johanbluecreek opened #13779 "Evaluating powers of `TensorProduct`"
Powers of tensor product expressions are not possible to evaluate with either `expand(tensorproduct=True)` method nor the `tensor_product_simp`function.

This is an example session showing the issue
[code]
where `[5]` and `[9]` shows expected result for `t1` and `t2` respectively.

[2017-12-20 11:13] jksuom commented on #13730
This a simplified version the code in SymPy:
[code]

[2017-12-20 11:41] vishalg2235 commented on #13749
@jksuom I'am able to check whether function has sin, cos. But how will I check their arguments (I have to check that whether it's converted to tan(x/2), tan(x/2+pi/4) or tan(x)) ?

[2017-12-20 12:13] jksuom commented on #13749
I don't think it should be necessary to know which kind of transformations (if any) were used to find the antiderivative. What is important is finding the discontinuities which are typically those places where tan becomes infinite.

[2017-12-20 12:23] vishalg2235 commented on #13749
here : http://www.reduce-algebra.com/reduce38-docs/trigint.pdf in page 4 table has given some b and Period of transformations.
Are we going to use that table or b and P will be computed in algorithm ?

[2017-12-20 12:34] ylemkimon commented on #13769
I've opened an issue at https://github.com/travis-ci/travis-ci/issues/8952, since it seems to be a Travis issue.

[2017-12-20 12:34] jksuom commented on #13749
I think the table is for the implementation of an integrator. We should assume that an integrator has already found an antiderivative (possibly using one of those methods), and the task is to add a suitable (floor) term making the sum continuous.

[2017-12-20 13:01] vishalg2235 commented on #13749
Ok in general for 'floor' I have to find that inner function (eg: tan(x/2),tan(x/2+pi/4) etc) to determine at which point discontinuity is present and what is period of function.

I think the table is for which particular substitution (sin(x) or cos(x) to tan(x/2);sin(x) or cos(x) to cot(x/2) etc) to use which values of b and P for making floor term.

[2017-12-20 13:53] vishalg2235 commented on #13541
First one works fine in my computer.

[2017-12-20 14:48] gxyd commented on #13541
Can you please verify (using `git bisect`) that indeed this commit https://github.com/sympy/sympy/commit/db19db4b03ba8f6a63d4ce3d48d92e385fb8d371 fixed it?

And also add a test case for this.

[2017-12-20 14:49] gxyd commented on #13541
I think adding a lower level test case would be better.

[2017-12-20 14:54] vishalg2235 commented on #13541
What is git bisect and how to use it ?

[2017-12-20 15:47] Upabjojr opened #13780 "Update documentation for n-th derivatives and array derivatives"
After merging
* https://github.com/sympy/sympy/pull/13751
* https://github.com/sympy/sympy/pull/13655

We need to update the documentation and the SymPy tutorial.

[2017-12-20 16:34] siefkenj commented on #13765
I am +1 for making `.dot` more sane and restricting it's input. When I reworked this code, it was quite contorted to stay compatible with the old functionality. Things would be much cleaner if it just worked on `1 x n` or `n x 1` matrices.

The error message for larger matrices should suggest how to flatten a matrix for use with `.dot`.

[2017-12-20 18:14] mohitiitb commented on #13780
Hello, I am new to open source and would like to solve this issue.
Can you please guide me.

[2017-12-20 19:03] Subhash-Saurabh commented on #11893
Is anyone currently working on this ? If not I would like to take up this issue.

[2017-12-20 20:47] jklymak commented on #13730
Thanks so much for the re-producible example.  We've had a few more good examples as well.

This is definitely a bug, caused by rolling buggy code from one part of the code-base to another.  Locking out 2.1.1 is reasonable.  I hope this will be fixed soon on 2.1.2.  My apologies for the inconvenience

https://github.com/matplotlib/matplotlib/pull/10064 I think is the proper solution.  But see also

[2017-12-20 22:28] asmeurer commented on #13541
The `AttributeError: 'MatrixSymbol' object has no attribute 'inv'` one isn't fixed.

[2017-12-20 22:30] asmeurer commented on #13541
@vishalg2235 see https://stackoverflow.com/questions/4713088/how-to-use-git-bisect. `git bisect` helps you determine which commit in a range caused a change. So you can compare the range of commits between `master` (where it works) and an older commit where it doesn't work (say, the `sympy-1.1.1` tag) to find the commit in between where it was fixed.

[2017-12-20 22:33] asmeurer commented on #13765
Is flattening a legit use-case? I guess if it's there someone must have used it. My guess is that most people using `dot` on a larger matrix would expect it to do multiplication, as in the SO question.

What is the canonical way to flatten a matrix? `Matrix(list(M))`? Is there a better way that works even for sparse matrices?

[2017-12-20 23:27] gxyd commented on #13541
Yes I meant only for the first one.

[2017-12-21 00:58] siefkenj commented on #13765
`Matrix(list(M))` works for sparse matrices too, but won't return a sparse matrix. `M.reshape(1,len(M))` will preserve the type of `M`.

[2017-12-21 01:32] smichr commented on #13754
The following should be able to be solved for n, but I can't check it here:
[code]

[2017-12-21 01:46] buggi22 opened #13781 "Converting log(Product(...)) to Sum(log(...)) using "replace""
Here's the setup:
[code]

I want to rewrite `expr` in terms of Sum(log(...)) instead of log(Product(...)).

I've tried using the following code:
[code]
However, the result I get is `Sum(log(f(m, k)), (b_, 1, n)) + 1` instead of `Sum(log(f(m, k)), (m, 1, n)) + 1`.  In particular, the `replace` function doesn't properly handle the dummy variable in the summation.

Related, but not part of the above

[2017-12-21 02:35] asmeurer commented on #13754
That simplifies it a great deal but solve/solevset still can't handle it.

[2017-12-21 04:01] ArighnaIITG commented on #13779
I would like to work on it.
Can you please guide me as to how I should proceed?

[2017-12-21 04:24] smichr commented on #13754
What are you getting? I get

[code]

[2017-12-21 04:28] mohitiitb commented on #13780
Is this issue still open??

[2017-12-21 06:11] asmeurer commented on #13754
I get `[]`, both for the original `expr` and the version simplified from your comment.

[2017-12-21 06:24] jksuom commented on #13754
[code]

[2017-12-21 06:31] asmeurer commented on #13754
Oh crap, `n` is an integer by default.

[2017-12-21 07:38] johanbluecreek commented on #13779
@ArighnaIITG
The file would be `sympy/physics/quantum/tensorproduct.py`, in which you can see that `tensor_product_simp` acts differently depending on the argument. Just as there is a `tensor_product_simp_Mul` when the argument is `Mul`, I would write a `tensor_product_simp_Pow` when the argument is `Pow` (replacing the line that is already there for `Pow`). This function should simply take the ex

[2017-12-21 10:12] vishalg2235 commented on #13541
Yup. commit https://github.com/sympy/sympy/commit/db19db4b03ba8f6a63d4ce3d48d92e385fb8d371 fixed the issue.

[2017-12-21 11:08] ridolfino opened #13783 "Per favore fate una doc decente"
La doc non è comprensibile, anzi è impresentabile....

[2017-12-21 11:08] SourceCode2 commented on #13783
Hai completamente ragione.

[2017-12-21 11:11] vishalg2235 commented on #13541
`Matrix(MatrixSymbol('b', 3, 3)).inv()` and `MatrixSymbol('b', 3, 3).inv()` should both give same results ? Will this `inv()` also work the same way ?

[2017-12-21 11:17] jksuom commented on #13767
[code]
This is on 1.1.2.dev.

[2017-12-21 14:35] shubham3174 commented on #12781
@asmeurer  I would like to work on it. Being new to sympy, can you please guide me as to how I should proceed?

[2017-12-21 15:13] vishalg2235 commented on #13541
HELP!! many of my files in sympy directory have become `read-only`. Does it has something related with `git bisect`? When I'am saving them it gives error `unable to save '~/git/sympy/sympy/integrals/integrals.py'`. Please help!

[2017-12-21 16:01] jksuom commented on #13541
Did you run this after `git bisect`?

       After a bisect session, to clean up the bisection state and return to
       the original HEAD (i.e., to quit bisecting), issue the following
       command:

           $ git bisect reset

[2017-12-21 16:10] jklymak commented on #13730
matplotlib/matplotlib#10064 was merged, so this bug should be fixed in Matplotlib 2.1.2.

[2017-12-21 16:14] vishalg2235 commented on #13541
Yes I had run that command

[2017-12-21 16:25] jksuom commented on #13541
What does `ls -l` show on those read-only files?

[2017-12-21 16:30] vishalg2235 commented on #13541
read only has it's owner "root" and read write files has owner as me
`ls -l` of a read only file gives :
`-rw-r--r--  1 root   root   11435 Dec 21 21:48 isympy.py
`

[2017-12-21 16:37] jksuom commented on #13541
If this is not in a system directory, you should change the owner by running `sudo chown -R owner:group path/to/directory` where `owner` and `group` are yours.

[2017-12-21 16:42] vishalg2235 commented on #13541
yes.. It worked.. thanks !!

[2017-12-21 18:09] mohitiitb commented on #9955
Is this issue still open??

[2017-12-21 18:32] ylemkimon commented on #13730
@jklymak Thank you!

Will close this issue when matplotlib 2.1.2 is released and #13740 is reverted.

[2017-12-21 18:39] jklymak commented on #13730
If you just changed #13740 to `matplotlib!=2.1.1` would that not work?  Then you’d just automatically get 2.1.2 when that comes out (though of course we hope that doesn’t break anything ;-)

[2017-12-21 19:20] moorepants commented on #9955
I'm closing this. I think the wiki page is sufficient. We don't need a requirements.txt.

[2017-12-21 19:20] #9955 closed

[2017-12-21 23:03] normalhuman commented on #13781
Without an assumption that f is positive, turning the logarithm of a product into sum of logarithms is mathematically questionable and SymPy correctly refrains from it.

consider log( (-2) * (-3) ) = log(6)
versus log(-2) + log(-3) = log(2) + pi*I + log(3) + pi*I = log(6) + 2*pi*I

Under the assumption that f is positive, there is no need for manual replacement, `simplify` does the job.

[code]
re

[2017-12-21 23:20] asmeurer commented on #13730
I think it's better to test against the latest matplotlib. That way these issues get caught and fixed right away, before any SymPy releases are made, rather than remaining latent and only being noticed after we make a SymPy release.

In other words, the fact that we caught this is a good thing.

[2017-12-21 23:21] asmeurer commented on #13764
If you're suggesting version restrictions that are <= or == I am strongly opposed to that.

[2017-12-21 23:29] asmeurer commented on #13781
Similarly log(exp(x)) = x is only true if x is real.

[2017-12-21 23:58] moorepants commented on #13764
I'm suggesting that we attempt to guarantee SymPy works with a range versions of its dependencies, in particular a ~2 year prior window of versions from each SymPy release. To be successful at this could require things like more testing, bounding versions of dependencies, additions to our release method, etc. I'm not proposing any specific solution, only what I suggest in the first sentence here.

[2017-12-22 00:00] moorepants commented on #13764
From the first post I wrote:

I'll restate it slightly:

[2017-12-22 00:08] asmeurer commented on #13730
With that being said, the current workaround is fine. But we should definitely remove it before we do any SymPy release (I'm assuming/hoping that matplotlib has a faster release cycle than we do).

[2017-12-22 11:48] Parapompadoo commented on #13750
I would like to work on this.
Can someone please guide me a bit.

[2017-12-23 07:35] Kiwiatomik opened #13788 "CDF of the Uniform distribution"
Hi,

[code]
The code above displays the following plot:

![git_sympy_cdf_current](https://user-images.githubusercontent.com/33783067/34317931-443b956a-e7f5-11e7-8477-70134385fbc4.png)

It should rather look like this:

![git_sympy_cdf_right](https://user-images.githubusercontent.com/33783067/34317959-62cec74e-e7f6-11e7-9563-31face0a4efe.png)

In stats/crv_types.py, the cdf function is calculated f

[2017-12-23 07:54] normalhuman commented on #13788
The cdf is not stored by distribution classes, it is computed  by `compute_cdf`  method from the pdf. The PDF of UniformDistribution class is implemented correctly. One issue with the `compute_cdf` method  is the substitutions
[code]
which are apparently meant to simplify the outcome of integration, but are only valid on the interval between self.left and self.right.

[2017-12-23 08:40] Kiwiatomik commented on #13788
I see.

Then, what is currently the correct way to handle operations with different cdf? For instance, the distribution of the maximum of two variables is given by the product of both variables' cdf.

I would write something like this:
[code]
In this code, `cdf_max = x*(x/4 - 1/4)`. However, the true cdf of the maximum between X and Y is really different: `(-Min(0, x)/2 + Min(2, x)/2)*(-Min(1, x)/

[2017-12-23 08:59] vishalg2235 commented on #13749
[code]
I had tried to add floor term like above shown code. But getting problem with `function.has(tan(a))` in if statement, because it's true when function has `tan(x)` but false when function has `tan(x/2)`, `tan(x/2+pi/4)` etc. How can I solve this ?

[2017-12-23 09:17] zimmerma commented on #13629
thank you, is the issue fixed now in the development version of SymPy?

[2017-12-23 10:35] jksuom commented on #13749
I would try using `f.has(tan)`.
[code]
The argument of `tan` can be any function of the integration variable, not `x`, `x/2` or `x/2 + pi/4` in general.

[2017-12-23 11:38] vishalg2235 commented on #13749
If I identify only `tan` then how would I get that at which point I must calculate limits(point where discontinuity occurs) ? in `x` it's at `pi/2` in `x/2` it's at `pi`.

[2017-12-23 12:37] jksuom commented on #13749
The discontinuities of `tan(f(x))` are at points where `f(x)` is an odd multiple of `pi/2`.

[2017-12-23 12:49] vishalg2235 commented on #13749
yes... How can I get that f(x) ?

[2017-12-23 12:51] jksuom commented on #13749
It is the argument of `tan`.

[2017-12-23 12:57] vishalg2235 commented on #13749
I don't know how to get that argument?

[2017-12-23 13:47] jksuom commented on #13749
The arguments of a function are called `args`. It is a tuple. In case of a function of one variable, it is a tuple with a single item, for example
[code]

[2017-12-23 13:47] vishalg2235 commented on #13749
This works :
[code]
But how to get args of : `-sqrt(3)*I*log(tan(x/2) - sqrt(3)*I)/3 + sqrt(3)*I*log(tan(x/2) + sqrt(3)*I)/3`

[2017-12-23 14:16] jksuom commented on #13749
I would search for the tan-terms, for example, as explained [here](http://docs.sympy.org/latest/tutorial/manipulation.html#walking-the-tree).

[2017-12-23 16:05] smichr opened #13789 "implement parameter finding routine"
#13539 started in an interesting direction by giving a parameter-finding function. This could be extended to solve for the parameter of any geometric object that implements the `arbitrary_point` method:

[code]

Tests for the different object would be added to the test suite (similar to the test given in the doctest above) for those objects that implement `arbitrary_point`.

[2017-12-23 16:43] normalhuman commented on #13788
The CDF of the maximum of two variables may or may not be the product of their CDFs - that depends on the joint distribution of those variables. Multivariate distributions are not currently implemented. I think this goes beyond the scope of this issue.

I like your proposed `_cdf` for UniformDistribution. Originally (in 1.1.1 and earlier) all CDFs were computed from given PDFs, which resulted in a

[2017-12-23 17:09] vishalg2235 commented on #13749
Thanks! That was really helpful.
I had tried to implement it for `tan` like following:
[code]
I tried it to solve for `integrate(1/(cos(x)+2),x)` but in this case while computing limit of `function` raises "Not implemented error" from [here](https://github.com/sympy/sympy/blob/master/sympy/series/gruntz.py#L643). Please have a look here.

[2017-12-23 17:48] normalhuman commented on #13750
For real arguments, erf(z) is equal to sign(z) * erf(abs(z)), so the following rewrite produces correct limits for all aforementioned cases:
``
def _eval_rewrite_as_tractable(self, z):
    return (S.One - _erfs(abs(z))*exp(-z**2))*sign(z)
[code]

[2017-12-23 18:23] ethankward commented on #13788
I think CDF's should be hardcoded for many more distributions, given that the integrator doesn't currently seem to be up to the task of computing them.

[2017-12-23 18:24] jksuom commented on #13749
There are also expression methods that do the same traversal looking for nodes of given types. For example, `expr.atoms(tan)` could be helpful.

[2017-12-24 00:56] vishalg2235 commented on #13541
Should I create an `inv` attribute in `MatrixSymbol` that gives same result as `Matrix.inv()`?

[2017-12-24 02:05] BobatPurdue opened #13791 "Recursion Error when Differentiating Functions"
I'm using sympy 1.1.1 on Anaconda 4.4.0.  I've tried differentiating a function of functions.  It will crash python.  In other circumstances, I will get a recursion error.  Anyone else see this problem?  Suggestions?

[code]

[2017-12-24 03:56] normalhuman opened #13792 "Regression: an improper integral is no longer evaluated, worked in 1.1.1"
In SymPy 1.1.1, the following commands correctly evaluate the improper integral as `polylog(2, -exp_polar(I*pi))`.
[code]
However, the current development version returns this integral unevaluated: `Integral(log(x)/(x - 1), (x, 0, 1))`

[2017-12-24 05:27] asmeurer commented on #13541
I would define `inv` on the super class `MatrixExpr`, as a shorthand for `self**-1`.

[2017-12-24 05:45] asmeurer commented on #13792
The assumptions seem to matter. Otherwise it just hangs (in both master and 1.1.1). The hanging comes from manualintegrate. I think it might be suck in an infinite integrate by parts loop. It's annoying anyhow because the positive assumption could be inferred from the limits.

[2017-12-24 05:47] asmeurer commented on #13792
I bisected it to 5fdc26e2edd76ea03acf53a1f2fb540baf040807

[code]

CC @gxyd

[2017-12-24 05:52] asmeurer commented on #13792
That commit isn't really at fault. The only difference is a minus sign!

[code]

In fact if you integrate `integrate(-log(1/x) / (x - 1), (x, 0, 1))` instead, it works.

Perhaps some code in meijerg (where the answer clearly comes from) is doing something with the (x, 0, 1) part and not accounting for a sign difference.

[2017-12-24 06:08] vishalg2235 commented on #13541
[code]
Means just like above `B.inv()` should give same result `b^-1` ??

[2017-12-24 09:22] kartikey-sopho commented on #13683
@gxyd  please review PR #13785

[2017-12-24 12:04] vishalg2235 commented on #13749
@jksuom the floor term for `tan` is added should create a different PR for it or should I commit it in #13758, otherwise the antiderivatives will come in complex-log terms?
Floor code added:
[code]
Results :
[code]

[2017-12-24 12:11] vishalg2235 commented on #13749
I think more discontinuous terms like `tan` should be covered. example: cot, sec, cosec. ?

[2017-12-24 14:46] ylemkimon commented on #13783
As most developers are native English speakers and mathematical terminologies are used, documentations are hard to read. If you don't mind, could you tell us which part(s) of documentation is hard to read?

[2017-12-24 15:06] ridolfino commented on #13783
I like the sympy lib, but I think the document is badly organized; can you redo it in a more understandable way? Maybe with more complete examples

[2017-12-24 16:37] moorepants commented on #13783
Related to last comment: https://github.com/sympy/sympy/issues/10456

[2017-12-24 16:41] moorepants commented on #13783
@ridolfino I think we would all like to see better documentation for SymPy. This is often a neglected part of open source software that is built mostly be volunteer work. Might you have some time to help us work on this topic? I'm happy to help you get started.

[2017-12-24 17:31] zybjzybj commented on #13389
Hi, Kenogo:

I'm using sympy 1.1.1 and found out from 'plot_implicit(And(y > x, y > -x))' that the output plot is the same as plot_implicit(y > -x), that's exactly as the issue you found out here. I'm wondering if there's any workaround as an end user that you'd suggest? Since obviously you are working on some other approaches.

Thanks,

[2017-12-25 03:59] BobatPurdue commented on #13791
Just tried 1.1.2.dev.  I had the same problem.

[2017-12-25 04:06] normalhuman commented on #13791
I think "Okay" might not be okay, either... First, if you change the order of differentiation producing Okay (symbolic derivatives don't depend on the order), then the following works without errors:
[code]
Disturbingly, v.diff(x).diff(y) and v.diff(y).diff(x) are different; and at this moment I'm not sure that either one is correct.

[2017-12-25 04:50] normalhuman commented on #13791
Here is a simplified example, which also shows where the infinite recursion comes from.
[code]
The answer is a long sum, but the last term in that sum is `Derivative(u(x, u(x, x)), x, x)` which is precisely the thing we started with. Hence, the answer is incorrect and is potential for infinite recursion.
That last term should have been `Subs(Derivative(u(x, _xi), x, x), _xi, u(x, x))` with a dummy

[2017-12-25 05:21] asmeurer commented on #13783
Please use English in the issue tracker.

I think Jason's issue goes into this in more detail. If you have any concrete suggestions on how to improve the docs or which docs need improvement, please add them as a comment to issue #10456.

[2017-12-25 05:21] #13783 closed

[2017-12-25 09:50] jksuom commented on #13749
sym = antideriv.free_symbols.pop()

The definite integral is to be computed with respect to a given variable, not just any free symbol.

    argtan = []
    for term in antideriv.atoms(tan):
        argtan.append(term.args)

There should be at most one substituted `tan` term. The method will not work with several (different) terms.

I think that `tan` is currently the only substituted function use

[2017-12-25 10:36] vishalg2235 commented on #13749
[code]
I have used `xab` which was previously defined as the limits of `integrate`.

Can you explain in more details, I didn't get what you are saying?

[2017-12-25 11:54] jksuom commented on #13749
This looks promising, but if there is more than one item in the `argtan` list (with different arguments), I am not sure if the method can be applied. That should probably be investigated more carefully with suitable examples. I also think that `solve` returns a list, in general. There could be several solutions, or none at all.

[2017-12-25 12:04] #13774 closed

[2017-12-25 13:33] vishalg2235 commented on #13749
Lets assume `antiderivative = f1(tan) + f2(tan) + f1(cot) + f2(cot) + continuous_part`. Then first we add floor to `f1(tan)`, then to `f2(tan)` and similarly we add "independent floor term" to each term making each one continuous.
Will this work?

[2017-12-25 13:54] vishalg2235 commented on #13749
for `solve` I think we should use cases on number of solutions.

[2017-12-25 15:52] jksuom commented on #13749
Yes, I think that should work. That would apply in case antideriv is an Add. The floor terms could then be added to each argument of Add independently.

[2017-12-25 21:15] ridolfino commented on #13783
I can help you with the doc, but i need ti know perfectly the lib. Some1 can share examples with sympy pls?

[2017-12-25 22:22] #11191 closed

[2017-12-25 23:23] normalhuman commented on #13791
I found the step at which this error is made, and isolated it into a simpler example:
[code]
The output from current master is
[code]
The first term is correct, but the second is not: it should be `Subs(Derivative(u(x, _xi), (x, 2)), _xi, u(x, 0))`.

Using the subscript notation for partial derivatives: the expression we started with was u_1 (x, u(x, 0)). Its derivative wrt x is `u_1(x, 0) * u_{12

[2017-12-26 04:14] vishalg2235 commented on #13749
Code :
[code]

Result : It gives correct answer for `(1/(2+cos(x)))+(1/(3+sin(x)))` but gives wrong answer for examples given [here](http://www.reduce-algebra.com/reduce38-docs/trigint.pdf) in page 6.
`antideriv` of 3rd example has terms `(-3*log(tan(x/2) - 1), 3*log(tan(x/2) + 1), 8*atan(3*tan(x/2)))` here `log` is tending to `oo` that's why it gives `nan`.
[code]

[2017-12-26 04:26] abhigyank commented on #13515
@gxyd No update has been on the PR since more than 10 days. Can I start working on this?

[2017-12-26 04:27] abhigyank commented on #13449
@gxyd  There seems to be no active PR on this, can I work on this issue?

[2017-12-26 04:28] normalhuman opened #13795 "Applying doit() to Subs with Derivative changes the meaning of expression"
Consider the following:
[code]
The meaning of expr is clear: it's the partial derivative with respect to y, evaluated on the diagonal y=x. Now try `expr.doit()`:
[code]
That's not the same thing; this is a derivative along the diagonal. For example, with f(x,y)=x+y the former derivative is equal to 1 and the latter is equal to 2.

This behavior is responsible for #13791 because the method _eval_de

[2017-12-26 04:43] asmeurer commented on #13783
The best way you can help as a new user is to indicate which docs you find lacking or confusing. These sorts of things tend to be difficult to see for those of us who already know the library well.

[2017-12-26 07:32] asmeurer commented on #13795
The proposed fix sounds correct to me.

It can probably be made more lax. For instance, replacing a differentiation variable should be safe if the differentiated expression is free of that variable. For instance, `Subs(Derivative(f(x, y), y), y, z)` giving `Derivative(f(x, z), z)` is fine.

How do the tests fail? In the first case, the substitution doesn't replace the differentiation variable beca

[2017-12-26 08:38] Kiwiatomik commented on #13788
The pdf function for a Uniform distribution on [0,1] looks like this:

![git_sympy_pdf](https://user-images.githubusercontent.com/33783067/34351539-38681208-ea58-11e7-935d-c6059331c39b.png)

It can be viewed as the difference between two step functions (the Piecewise functions in the code):

![git_sympy_piece1](https://user-images.githubusercontent.com/33783067/34351703-580afcb4-ea59-11e7-81e3-25b

[2017-12-26 14:24] #13699 closed

[2017-12-26 16:43] normalhuman commented on #13788
The PDF plots for me as expected. What exact steps lead to its failure to plot?

In any case, I wouldn't want to make the PDF more complicated for this reason. The current function, e.g., `Piecewise((1/4, (z >= 3) & (z <= 7)), (0, True))`  is correct and clear. If plot has an issue with this function, that's something to be fixed in plot, not in PDF.

[2017-12-26 20:30] normalhuman commented on #13795
I agree with changing subs, so that subs remains equivalent to Subs().doit(). The tests fail because the above sketch is too conservative in some ways; it also turned out to be too lax in some ways. This is important to get right, so I will summarize the situation here.

Substitution `Derivative(A, B).subs(C, D)` should proceed only in the following three cases.

### Substitution does not touch th

[2017-12-26 20:42] asmeurer commented on #13795
equals is an expensive check. I wouldn't do it in subs.

[2017-12-26 20:50] asmeurer commented on #13795
Derivatives on more complicated functions are going to be removed (https://github.com/sympy/sympy/issues/7027), so we should just test against things like `Derivative(F(f(x), g(x)), g(x))`. The fix for that issue can likely be made separately from this one, but any new tests added shouldn't rely on that behavior.

I think the test for the second case should be `if B == C and D._diff_wrt and len(A.

[2017-12-26 21:10] Upabjojr commented on #13795
Just a quick test:
[code]

Yes, I agree we should fix `._eval_subs` for `Derivative`.

[2017-12-27 00:05] normalhuman opened #13799 "Should the output of arbitrary_point be changed for Plane objects?"
According to the docs, [arbitrary_point](http://docs.sympy.org/latest/_modules/sympy/geometry/plane.html#Plane.arbitrary_point) is supposed to parameterize a circle of radius 1 in the plane.  Maybe this what its output does, but it's hard to see how anyone could use it (scroll to the right to see the entire formula).
[code]
Normally, parametric equation of a circle involves sin(t) and cos(t) in a

[2017-12-27 01:46] normalhuman commented on #13795
Case 1, "Substitution does not touch the variables in B", should be expanded. We want the following to be true (it's one of the tests):
[code]
What matters is that none of variables are affected by substitution, even though there is overlap in the symbols they contain. In the notation of [_eval_subs](https://github.com/sympy/sympy/blob/master/sympy/core/function.py#L1463) the test for Case 1 can b

[2017-12-27 02:02] Kiwiatomik commented on #13788
I have just updated sympy, and the pdf plots. Sorry about that...

[2017-12-27 02:40] BobatPurdue commented on #13791
So fixing doit() will correct the above behavior?