[2019-01-03 17:18] normalhuman commented on #15726
Disabling Risch integrator avoids the issue:
[code]

Without Risch, rational functions presented as a sum are integrated one term at a time:
https://github.com/sympy/sympy/blob/36374a3f7f1c6440511c1b649e6546c80c36bae7/sympy/integrals/integrals.py#L904

But Risch is trying to handle all at once, which complicates the computation even when it is successful: compare
[code]
and
[code]
With three terms

[2019-01-04 04:46] MaxisJaisi opened #15730 "Unable to integrate sqrt(1+sin(x))"
`from sympy import *`
`x, y, z, t = symbols('x y z t') `

Now

`integrate(sqrt(1+sin(x)),x)` gives me back what I put in.

[2019-01-04 06:14] jmig5776 commented on #15700
@asmeurer I had run the docs in my dev environment. But eventually i found that this font ```DejaVu Sans Mono``` is not available on google api fonts. Should i import this font from another site or should i  try for another font which have monospace?

[2019-01-04 06:21] RituRajSingh878 commented on #15730
i would like to work on this.

[2019-01-04 13:51] s1291 commented on #15701
@jmig5776 : Are you serious? The function *must* not return an error in this case. That is a huge mistake and a huge limitation

[2019-01-04 14:06] jmig5776 commented on #15701
@s1291 Mind your language . I had added the value error because if you go through the docstring of truncate it is clearly written there that we are required to return ```Return the first n nonzero terms of the series```. It means if the user is putting value greater than the length of the terms in series then it is an value error.
I thought of returning the whole series if the value is greater tha

[2019-01-04 14:54] mamueller opened #15732 "Generalization of vector module to n-dimensional vectors and dyads"
I need an n-dimensional equivalent for the 3d-vectors and dyads in `sympy/vector`.
Of cause, not all parts of it can be generalized ( e.g. the cross-product ) but the scalar and outer products would still work. I guess that the present classes would inherit from their n-dimensional parents and implement the additional 3D-specific stuff, including special predefined coordinate systems and so on.

[2019-01-04 22:45] asmeurer commented on #15700
My suggestion is just to set the font for people who have it already installed on their computer. Making it a web font is an interesting idea. We could probably do that as well, though we would probably have to serve it ourselves. The DejaVu Sans Mono [license](https://dejavu-fonts.github.io/License.html) should allow it.

[2019-01-04 22:52] bionicles commented on #11420
is it possible to make tensors with symbolic values? as opposed to symbolic expressions with tensor values, can we make a tensor of symbols?

[2019-01-05 08:50] proy87 opened #15738 "apart is not working"
`1/(71699*x**2 + 1644500000*x - 13004200000000*E).apart(x)` returns unchanged expression

[2019-01-05 10:13] jmig5776 commented on #15738
I think you are calling the apart function on denominator only which is like calling ```(71699*x**2 + 1644500000*x - 13004200000000*E).apart(x) ```.  I think the call should be like ```(1/(71699*x**2 + 1644500000*x - 13004200000000*E)).apart(x)``` but i had implemented it it is returning the unchanged expression in either case.

[2019-01-05 10:18] jmig5776 commented on #15700
Okk okk it will be seen to those who have already installed.  Yes I think having web font DejaVu Sans Mono would good as it has good looking output .

[2019-01-05 11:00] jksuom commented on #15738
The docstring of `apart` says that the default method (`full=False`) only works over the rational numbers. If there are irrational numbers like `E`, it is necessary to set `full=True`.
[code]
A more explicit expression can be obtained by `_.doit()`.

[2019-01-05 11:11] proy87 commented on #15738
What does keyword `extension` do?

[2019-01-05 11:35] jksuom commented on #15738
It is used for factoring over an algebraic extension field.
[code]

[2019-01-05 11:36] #15738 closed

[2019-01-05 22:34] taspargo commented on #15718
I found the MathML code that seems to be in error, when symbol with a number in it is used, the following code is generated:
`<mi><msub><mi>r</mi><mi>2</mi></msub></mi>`

It looks like an extra set of <mi></mi> tags are present, when they are removed:
`<msub><mi>r</mi><mi>2</mi></msub>`

the rendered output has the symbol in it.

[2019-01-05 22:57] oscarbenjamin opened #15743 "evalf hangs with expression involving CRootOf"
The following expression arises from `test_nth_linear_constant_coeff_homogeneous_rootof_sol` and seems to cause `evalf()` to hang (I haven't waited more than an hour):

[code]

The expression pretty-printed is:
[code]

I have tried to simplify this expression for this issue but if I remove any single term then the problem no  longer occurs (`evalf` returns immediately).

[2019-01-06 17:18] ckant787 commented on #15730
i am working on this issue
and when i run it in anaconda it is showing that it cant convert expression to float

[2019-01-06 18:14] #15493 closed

[2019-01-07 14:34] Upabjojr opened #15745 "New API proposal: square brackets for elementwise function applied to matrix"
SymPy currently handles functions of matrices in the mathematical way, for example `exp(M)` is the exponential map of matrix `M`. It would be nice to have support for elementwise application of functions ot matrices.

Recently, `sympy.matrices.expressions.applyfunc.ElementwiseApplyFunction` has been added to SymPy.
https://github.com/sympy/sympy/blob/53b5006a1a56c71fadc954e3ca530879b31db415/sympy/

[2019-01-07 15:07] anhhh11 opened #15746 "nsolve error: local variable 'x' referenced before assignment"
I run the following code but it return error
UnboundLocalError: local variable 'x' referenced before assignment

[code]

[2019-01-07 15:46] moorepants commented on #15745
I don't think that doing non-standard things with hacks to the base Python syntax is good practice. And large widely used libraries like SymPy shouldn't deviate from Python's base syntax. That is, square brackets should get items and parentheses should call functions. Mixing those things up is confusing to users. Why not create a set of function pairs, like `exp()` and `ele_exp()`?

[2019-01-07 15:48] RituRajSingh878 commented on #15746
Traceback (most recent call last)

UnboundLocalError
<ipython-input-21-6d9dfdff7dab> in <module>
----> 1 sympy.nsolve(inte, n, 1000)

~/sympy/sympy/utilities/decorator.py in func_wrapper(*args, **kwargs)
     89         dps = mpmath.mp.dps
     90         try:
---> 91             return func(*args, **kwargs)
     92         finally:
     93             mpmath.mp.dps = dps

~/sympy/sympy/solvers/so

[2019-01-07 15:57] Upabjojr commented on #15745
Shall we create pairs of functions for all functions? This issue is not limited to `exp`.

We already have `M.applyfunc(exp)`, this issue relates to possible extensions to matrix expressions and unevaluated expressions.

[2019-01-07 15:59] Upabjojr commented on #15745
Will we ever need to overload `__getitem__` for `Function`?

[2019-01-07 16:46] moorepants commented on #15745
`M.applyfunc(exp)` looks sufficient to me. Maybe make an alias for the method that has a shorter method name.

[2019-01-07 18:51] asmeurer commented on #15746
I believe this error comes from mpmath, and is fixed in the latest version. The real error is `ValueError: Could not find root using the given solver.
Try another starting point or tweak arguments.`

If you think the solver should be able to find a root near 1000, you should open an issue on the mpmath repo.

Here is the expression `inte` by the way

[code]

I'm closing this as I think there is no

[2019-01-07 18:51] #15746 closed

[2019-01-07 19:09] asmeurer commented on #15745
I agree with Jason. The other issue is that the syntax would only make sense for a small subset of SymPy types.

For single functions, applyfunc should work just fine, though I agree we could also make a shorter shortcut for it. The more complicated case would be larger expressions. You'd have to use a lambda/Lambda or elementwise each function independently (and make sure to use HadamardProduct i

[2019-01-07 19:38] asmeurer commented on #15701
Here is how I would suggest to fix this. We need to check if the input function has a finite Fourier series. A finite Fourier series is a finite linear combination of sines and cosines with arguments `n*x`. Probably applying the appropriate trig expansion functions from the `fu` module, and checking if it looks like a Fourier series should be sufficient. If it is, the FourierSeries object should i

[2019-01-07 19:52] jmig5776 commented on #15701
@asmeurer Ohh okk okk I would like to work upon this issue and would like to do changes as you suggested.

[2019-01-07 21:58] iamrajiv opened #15749 "Sympy returns some of the integral unevaluated"
### Sympy returns some of the integral unevaluated

Examples:
`integrate(sqrt(sin(x)))`
`integrate(exp(sin(x)))`
`integrate(sin(x)**Rational(3,2))`

#### for integral `integrate(sqrt(sin(x)))` and `integrate(exp(sin(x)))` it returns

[code]

[code]

Above code is in python 3.7.1 Shell. In Sympy Live it returns in symbolic form but does not evaluate the integral.

#### for integral `integrate(sin(x

[2019-01-07 22:13] iamrajiv commented on #15749
I used Wolfram Alpha to integrate these integrals and it just evaluates it.
#### my approach to this issue:
I think the problem occurs only when we are using the trigonometric function which is raised to some rational power or exponents but if I use `integrate(sin(x)**Rational(4,2))`  which is also have rational power it returns the correct evaluation
[code]
this means that integrals do not evalua

[2019-01-08 17:02] #15716 closed

[2019-01-08 19:00] asmeurer commented on #15700
The default font is now DejaVu Sans Mono if it is installed. We should investigate if a webfont can be used to use it always even if it isn't installed.

[2019-01-08 19:04] asmeurer commented on #15730
@ckant787 make sure you are only importing functions from `sympy`. Usually that error means you are also importing functions from `numpy` or `math`, which are not compatible with SymPy expressions.

[2019-01-08 19:08] asmeurer commented on #15707
The other possibility is NotImplementedError. We could add some flag to make it always return a list, similar to the flags that exist for `solve`.

If a solver is returning a `set` that's a bug.

[2019-01-08 19:51] asmeurer commented on #15743
The individual parts evalf fast. I guess it has to compute a lot of digits to avoid cancellation, which gets slow in the root isolation algorithm.

For me it takes about three and a half minutes and returns `-0.e-125 + 0.e-123*I`, meaning it never gets enough digits to avoid cancellation. Is the solution supposed to be 0?

[2019-01-08 19:51] aOrionis commented on #15749
The problem here is that there are some integrals that cannot be evaluated yet by Sympy.
For example the first equation requires an Elliptic integral to similarly some special functions are required to solve the last equation for non-integral exponents.
This is what I think is happening after some research. Would appreciate some guidance as well.

[2019-01-08 20:36] oscarbenjamin commented on #15743
I think it should be zero. It's coming from `checkodesol` here: [https://github.com/sympy/sympy/blob/sympy-1.3/sympy/solvers/tests/test_ode.py#L1743](https://github.com/sympy/sympy/blob/sympy-1.3/sympy/solvers/tests/test_ode.py#L1743)

[2019-01-08 20:39] ehren opened #15751 "Hang in rsolve (apparently due to slow casoratian determinant calculation)"
A number of solvable recurrence equations result in a hang when calling `rsolve`. This looks to be due to a slow calculation of the cassoration determinant.

Here's an example that still hangs after several hours of computation:

[code]

Typical stack trace when interrupting the calculation:

[code]

From profiling, most of the time is spent in `expand` (as a result of the `cancel` call in the det

[2019-01-08 20:49] oscarbenjamin commented on #15743
Yeah, it should be zero.

If you do:
[code]

Then you it factorises into zero polynomials. I can't seem tp print the resulting `sol` (it seems to hang) but looking at `.args` you can see the factors:
[code]
Each of those polynomial expressions should be zero.

[2019-01-08 20:54] iamrajiv commented on #15749
yup @aOrionis Wolfram Alpha also integrates the first example as the elliptic integral of the second kind with parameter `k=mk^2`  and evaluates answer as
![image](https://user-images.githubusercontent.com/42106787/50857310-3f162380-13b3-11e9-87f6-b315a97579a4.png)
The third example is also elliptic integral of the first kind and for second example Wolfram Alpha not able to integrate it. I think m

[2019-01-08 20:57] iamrajiv commented on #15749
my approach for integration of function `e^sin(x)` is that we should open e^x to Maclaurin series and integrate term by term but it is a long way though

[2019-01-08 21:07] asmeurer commented on #15743
I'm not sure if anything can be done here. If you have an expression that is identically 0 then evalf will just give you an indeterminate result because things never exactly cancel out numerically. The same thing happens with `(sin(1)**2 + cos(1)**2 - 1).evalf()`. It would be nice if CRootOf evalfed faster I guess. I don't know why it takes over an hour on your machine. That should be looked into.

[2019-01-08 21:20] oscarbenjamin commented on #15743
You're right I didn't have gmpy installed. I do now and it now runs a lot faster.

Also yes reducing the `CRootOf` powers like that would simplify everything to zero. I'll open a separate issue for that.

I'll close this issue since it doesn't hang with gmpy.

[2019-01-08 21:20] #15743 closed

[2019-01-08 21:32] iamrajiv commented on #15749
I used scipy and numpy to integrate `sqrt(sin(x))` and it gives
[code]
I want to just ask that can we convert the answer that we get from above to symbolic form i.e. decimal number to rational number if we could it will be easy to evaluate these integrals
@normalhuman can you guide me on this

[2019-01-08 21:34] iamrajiv commented on #15749
I used scipy and numpy to integrate `sqrt(sin(x))` and it gives
[code]
I want to just ask that can we convert the answer that we get from above to symbolic form i.e. decimal number to rational number if we could it will be easy to evaluate these integrals
@asmeurer @normalhuman can you guide me on this

[2019-01-08 21:35] asmeurer commented on #15751
That other issue suggests that the problem is those other methods calling expand, rather than the method itself. Maybe we should just remove the expand calls, or have a flag to turn them off.

[2019-01-08 21:48] asmeurer commented on #15749
If `integrate` returns an `Integral` it means that the algorithms don't know how to integrate the function. The algorithms for integration are heuristical in nature so there will always be functions that have integrals that SymPy cannot find (there is the Risch algorithm, but that only works for elementary integrals, and anyway is only partially implemented in SymPy).

There's no way to go from a

[2019-01-08 22:09] iamrajiv commented on #15749
got it @asmeurer thanks for the guidance...adding general integration rule to `manualintegrate` you mean adding python code to integrate these functions

[2019-01-08 22:22] ehren commented on #15751
In the stack trace above the expand is due to the `cancel` calls in `_eval_det_bareiss`. It's easy to disable these but with the above testcase we still hang due to `cancel` calls from the use of `simplify` in `_find_reasonable_pivot`.

e.g. with this patch against my pull branch

[code]

We'll hang with traces like

[code]

Removing any of those `cancel`s also results in a few determinate testcas

[2019-01-08 22:32] iamrajiv commented on #15749
got it @asmeurer thanks for the guidance adding general integration rule to `manualintegrate` you mean adding python code to integrate these functions

[2019-01-08 22:56] asmeurer commented on #15528
Matrices are put in the `coeff` as part of a hack to keep them separate from the rest of the expression.  See the discussion at https://github.com/sympy/sympy/issues/15665 (unfortunately, the pull request https://github.com/sympy/sympy/pull/15666 doesn't not seem to fix this issue).

[2019-01-08 22:59] asmeurer commented on #15528
The minimal example does work if you use `MatMul` instead of `Mul`.

[code]

Maybe instead of using the `coeff` hack, if a matrix is seen in Mul we should just pass down to MatMul. I don't know if there are any clean ways to handle this because the API wasn't really designed around, but we should at least try to get something that avoids wrong results.

[2019-01-08 23:04] oscarbenjamin commented on #15743
Okay so I've just rerun the exact code shown above. It takes 1m30s with gmpy and 3m30s without. That seems like a fairly reasonable difference to me.

What is slow is calling checkodesol in the test:
[code]

I have waited a long time for that to finish. I thought I diagnosed it to the evalf call in this issue but it turns out not to be the case. Presumably the 3 minutes on evalf are part of the pr

[2019-01-08 23:06] asmeurer commented on #15743
I think the root isolation is already being cached but if it isn't we should add that.

[2019-01-08 23:33] asmeurer commented on #15743
It definitely is being cached.

[code]

[2019-01-08 23:40] asmeurer commented on #15751
Some related issues: https://github.com/sympy/sympy/issues/13805 and https://github.com/sympy/sympy/issues/11082.

[2019-01-08 23:58] smichr commented on #15745
What about `M(exp)` being a shortcut for `M.applyfunc(exp)`?

[2019-01-09 00:36] ehren commented on #15751
With this testcase it's maybe not too surprising that cancel is taking so long. It's getting repeatedly called with larger and larger expressions due the complexity of the determinants calculated.

rsolve_hyper loops over the roots of the 8-th order characteristic polynomial associated with the recurrence here: https://github.com/sympy/sympy/blob/ab14b02dba5a7e3e4fb1e807fc8a954f1047a1a1/sympy/solv

[2019-01-09 07:58] Upabjojr commented on #15745
This could create conflicts with matrix functions, if we are going to support them.

[2019-01-09 09:58] FrackeR011 commented on #15732
Hi @mamueller. You will get better response from community if you use [mailing list].(https://groups.google.com/forum/#!forum/sympy)

[2019-01-09 13:06] mamueller commented on #15732
Thanks I will do it..
Cheers
Markus

Am Mi., 9. Jan. 2019 um 10:59 Uhr schrieb Faisal Riyaz <
notifications@github.com>:

[2019-01-09 15:10] moorepants commented on #15732
This sounds fine. You'll need to make the additions without changing the current API in a backwards incompatible way.

[2019-01-09 16:49] smichr commented on #15745
I don't think the polymorphic input would cause a problem in that the single argument being a function would be interpreted as something to apply to the matrix rather than something the matrix would be applied to.

[2019-01-09 17:21] Upabjojr commented on #15745
We can still have functions taking other functions as parameters. Consider Lagrangians in modern physics, they take a field as parameter and may be indexed (stacked in a vector).

[2019-01-09 19:04] ehren commented on #15751
Turns out there's an easy fix for this case that doesn't require switching to the berkowitz algorithm. There's a call to cancel in bareiss that drops the return value. Apparently this is causing cancel to be called repeatedly. I'll update the pull with this change.

[2019-01-09 22:35] #15751 closed

[2019-01-09 22:45] asmeurer commented on #15706
heurisch should absolutely be called very last.

[2019-01-10 10:45] vishal-vardhan commented on #15448
is there anyone working on this?

[2019-01-10 11:09] vishal-vardhan commented on #15448
@asmeurer can i work on this

[2019-01-10 12:42] sameshl commented on #15380
Is anyone working on this issue?I would like to work on this if no one is working on it.

[2019-01-10 20:32] goyalkanha11 commented on #15700
I would like to work on this issue. @asmeurer can you please tell me how should I start.

[2019-01-10 22:06] jmsureda opened #15765 "Sympy does not apply series function to matrix elements"
When working with MutableDenseMatrix, I've found that applying directly the series function on the object does not work and does not rise any error. Evenmore if you apply the series function on each element of the matrix indepently (using a for loop or just on one element) does not work either.

**This does not work:**

`B[0,0] = sp.series(B[0,0], x = epsilon,n=4)`

Converting first the sympy expr

[2019-01-10 23:35] asmeurer commented on #15749
If you do that you should always be careful to verify the answer from nsimplify somehow, e.g., by computing more digits.

By the way, `Integral(expand(log(x)*apart(1/((x - 1)*(x + 1)))), (x, 0, 1)).doit()` gives `pi**2/8 - I*pi*log(2)`, which I guess is wrong.

[2019-01-11 02:43] normalhuman commented on #15749
Yes, Meijer G does not always get the right branch of polylog in the antiderivative, but I failed to improve on its present state. #13850

[2019-01-11 05:09] ckant787 commented on #15370
Sir,can I take this issue.

[2019-01-11 09:52] GuoHao150 opened #15766 "Hot to type ∞"
I know this question is silly but how can I type out ∞ in sympy?

[2019-01-11 10:18] #5934 closed

[2019-01-11 10:18] #14831 closed

[2019-01-11 10:58] Pranay144 commented on #15766
Two o's

[2019-01-11 11:37] vishal-vardhan commented on #15492
is anyone working on this??

[2019-01-11 11:54] GuoHao150 commented on #15766
Thanks, you helped me a lot

[2019-01-11 12:00] oscargus opened #15767 "Double (denested) sum does not doit()"
(May be related to #5790)

There is an inconsistency (or maybe I do not get something) when evaluating the same sum written in two different ways:

    [k, l] = symbols('k l', cls=Idx)
    g = IndexedBase('g')
    K = symbols('K', type=Integer, real=True, positive=True)

    sum1 = summation(g[k]*summation(g[l],(l,k+1,K)),(k,0,K))
    sum2 = summation(summation(g[k]*g[l],(l,k+1,K)),(k,0,K))
    su

[2019-01-11 12:01] #15766 closed

[2019-01-11 14:09] oscargus commented on #15767
An observation while trying to get a bit more insight (when evaluating `sum2`):

The result from sympy/concrete/summations.py(187) `dif = b - a` is an integer, while the result from the same operation with what should be the same operands from sympy/concrete/summations.py(941) is not. (The result is `-k + 1` in both cases.)

Not sure that this causes the problem though. It rather seems like the fa

[2019-01-11 15:49] moorepants commented on #15370
Go for it. Multiple people can work on this. Submit one file or one sub-package at a time.

[2019-01-11 16:32] vishal-vardhan commented on #15448
@asmeurer please review this PR #15764

[2019-01-11 18:51] vishal-vardhan commented on #13230
Is the problem here is that the function intersection should still give a valid output even when the points are given in expression form?

[2019-01-11 19:43] jksuom commented on #13230
I think that the problem is a bug in `AlgebraicField.__init__` as described in the comment above. If `ext` is a tuple that consists of a polynomial and one of its roots, only the root should be saved as `orig_ext`.

[2019-01-11 21:37] #15623 closed

[2019-01-11 22:22] asmeurer commented on #15416
Bisected the physics.mechanics.lagrange.LagrangesMethodMassSpringDamper.time_lagrangesmethod_mass_spring_damper
 slowdown to 03ffa11604bcd59a75e3bb6acebe9e34416f8c65 specifically.

[2019-01-11 22:46] asmeurer commented on #15416
It's not clear to me from an instrument or from that commit's diff what is causing the slowdown. The instrument shows the same code path, just each call takes longer. The whole thing is just a bunch of recursive calls through the diff machinery. Is there a parameter I can tweak in that benchmark to make it run longer?

[2019-01-11 22:50] moorepants commented on #15416
Unfortunately, that benchmark can't be scaled up. This function:

https://github.com/pydy/pydy/blob/master/pydy/models.py#L16

can be. It is the same model you can increase `n` to make it take longer. I think that should strain the differentiation enough.

[2019-01-11 22:58] oscarbenjamin commented on #15767
Here's a simpler way to reproduce:
[code]
Output:
[code]
One way to deal with this might be to expand the outer summation into an sum of summations and then call doit on each sub-summation. (Maybe that is what happens for `sum1`)

[2019-01-11 23:12] asmeurer commented on #15416
OK, it looks like simply differentiating `f(x)` where `f = Function('f')` is 4x slower in master vs. 1.3.

[2019-01-11 23:31] asmeurer commented on #15416
Wow, this was interesting to track down. It looks like it came from the addition of `replace`. The problem isn't replace itself, but the fact that `replace` is calling `sympify` on functions and classes. This in turn ends up trying to parse the string form of them, because `sympify` does that as a final fallback (the functions and classes aren't actually sympifable).

The simple fix is to use `_sy

[2019-01-12 08:20] jksuom commented on #13230
Something like this will be needed for the fix:

    if len(ext) == 2 and isinstance(ext[0], Poly):
        self.orig_ext = ext[1:]
    else:
        self.orig_ext = ext

[2019-01-12 14:33] oscargus commented on #15767
Yes, probably the way to approach it is to analyze the possible relation between summation bounds and based on that make a decision how to proceed. (My actual case involves four summations which are "pairwise" related, so like the top but with a similar sum inside. Which should be possible to solve in two stages: first solve the inner sum and then throw the result back on the summation function ag

[2019-01-12 15:52] moorepants commented on #15416
Good find! Thanks. Good to know we should use _sympify in library code.

[2019-01-12 16:54] ajjayymahato commented on #6388
I am taking up this issue.

[2019-01-12 21:47] oscarbenjamin commented on #15767
The current implementation works from the innermost sum out. For any given sum if the limits aren't integers and it's not possible to find an analytic formula then it does nothing:
[https://github.com/sympy/sympy/blob/sympy-1.3/sympy/concrete/summations.py#L942](https://github.com/sympy/sympy/blob/sympy-1.3/sympy/concrete/summations.py#L942)

I think it should *always* be possible to implement `do

[2019-01-13 13:35] ShubhamKJha commented on #15701
@jmig5776 are you still working on it?

[2019-01-13 15:01] oscargus commented on #15767
I agree that it should always be possible to evaluate, at least explicitly, from the outermost sum.

This seems to (primarily) be an issue when dealing with `IndexedBase` and `Function` as the following experiments illustrate:

<pre>
In [4]: from sympy import *

In [5]: i,j,k = symbols('i j k', cls=Idx)

In [6]: summation(i, (k, 0, j), (j, i, 2), (i, 0, 2))
Out[6]:
11

In [7]: summation(j, (k, 0,

[2019-01-13 15:04] oscargus commented on #15767
The weird thing is that on line 187 the same expression as you linked to is an integer (not sure how to link to code directly), as stated in the first post. Still, I would assume that `dif < 100` would not evaluate to `True` in that case.

[2019-01-13 17:33] oscargus commented on #14005
As I understand it, a dot is used to balance the number of \left and \right. So, if you are having less \left than \right brackets for some reason (multi line equations for example), one need to balance the actual number of \left and \right using dots. Not sure how it affects this discussion though.

[2019-01-13 19:36] RituRajSingh878 commented on #15730
@asmeurer
there are many integral, return unevaluated like sympy.sqrt(sin(X)),sympy.sqrt(cos(x)),sympy.sqrt(1+cos(x)),
so i would like to implement it .

[2019-01-13 20:38] RituRajSingh878 commented on #15730
I think this integral should be unevaluated because sympy.sqrt(1+sin(x)) will open like |sin(x/2)+cos(x/2)|
, so to integrate it we have to open modulus and it will depend on values of x, so we can't open it directly.

[2019-01-13 21:54] iblanes opened #15778 "Integer and StdFactKB memory leak"
There is a memory leak in the Integer class. The internal ```_intcache``` caching dictionary does not have any size limitation and an instance of ```Integer``` and ```StdFactKB``` is kept for each integer that is ever used.

The following script reproduces the issue: a simple 100k "do-nothing" loop that takes around 350 Mb of memory.

[code]

(the ```objgraph``` module is available at https://mg.p

[2019-01-13 21:57] RituRajSingh878 commented on #15730
@asmeurerI i think when we know about the nature of x, then only we can integrate it else I think it should return as it is.

[2019-01-14 03:58] taspargo commented on #15718
I tried this on a Windows machine today and it works correctly. It doesn't on the MacBook Pro I'm using, OS 10.14.2.

[2019-01-14 05:52] vishal-vardhan commented on #13230
I tried that but when i try to import Poly from algebraicfield.py it pops up "cannot import" Poly.
@jksuom can u help me out.

[2019-01-14 06:47] RituRajSingh878 commented on #15730
because it will change into |sin(x/2)+cos(x/2)| and we can't integrate it directly .

[2019-01-14 07:18] vishal-vardhan commented on #13230
@jksuom i tried that but its giving the same error again

[2019-01-14 09:09] jksuom commented on #13230
That is true. It seems that `ext` is not a tuple of length 2 but a tuple of length 1 whose sole item is a tuple of length 1. So the test has to modified to look at `ext[0]` instead of `ext`:

    if isinstance(ext[0], tuple):
        self.orig_ext = ext[0][1:]
    else:
        self.orig_ext = ext

This should fix the error in AlgebraicField. However, it seems that there is another conversion issu

[2019-01-14 10:28] neihousaigaai opened #15781 "Sympy can't expand sqrt of a product with quadratic"
Why sympy can expand a short expression like this

[code]
but can't expand a long expression like this
[code]

, it's should be

[code]

[2019-01-14 17:53] Losspost opened #15782 "Sympy Cant calculate Phase of an complex Expression"
Hi.
I am trying to calculate the following example equation:
arg(5*j*w)=-pi
Now i tried to solve for w, but it just gives me out an empty quantity.
My Code:
[code]

The Output ist :
<img src="https://latex.codecogs.com/gif.latex?{V_4:&space;G_s**3*u_a/((1.0*I*C_s*\omega_s&space;&plus;&space;2*G_s)*(1.0*I*C_s*\omega_s&space;-&space;G_s**2/(1.0*I*C_s*\omega_s&space;&plus;&space;2*G_s)&space;&plus;&s

[2019-01-14 20:11] jmig5776 commented on #15673
I would like to work on this issue. @asmeurer , @normalhuman can you guide me what exactly to do.

[2019-01-14 22:37] oscargus commented on #15782
The equation you stated initially, arg(5jw)=-pi, cannot be solved when w is real. Any purely imaginary number will have an argument of +/- pi/2.

With that said, it seems like the equation you are actually trying to solve is something else.

[2019-01-14 23:34] smichr commented on #15147
Now this appears to be causing a failure in tests. (At least there is some failure related to theano functionality, as I read it.)

[2019-01-15 02:56] sylee957 opened #15784 "test_theanocode failing on travis"
I think test_theanocode had started failing on recent pull requests

For my PR #15722, and also all the other recent PRs made by others #15775, #15779, #15780

cf #15147
[code]

[2019-01-15 04:48] smichr commented on #15784
Are you able to bisect to see which commit made it start failing?

[2019-01-15 04:54] sylee957 commented on #15784
I think it had started failing after merging https://github.com/sympy/sympy/commit/9d53296873723e7a3a287b7508669f830c300400

[2019-01-15 04:55] sylee957 commented on #15784
There is no difference in theano version, but I think numpy version had changed from 1.15.4 to 1.16.0 between the merges

[2019-01-15 04:59] sylee957 commented on #15784
It may be related to the upstream issue https://github.com/Theano/Theano/pull/6671

[2019-01-15 12:59] jmig5776 commented on #15441
@smichr  I would ike to work on this issue Can you tell me what is exactly to be done.

[2019-01-15 12:59] RituRajSingh878 commented on #15706
I think there is an issue in  "manualintegrate"  because it is giving the wrong result for the above integrand when the manual is "True".

[2019-01-15 13:09] jmig5776 commented on #15702
I would like to fix this issue.

[2019-01-15 14:49] smichr commented on #15702
In this function,
[code]
perhaps you can use some kwargs cleaning: if `use_python_math` is true then set `complex_wrap_evalf` to False and change the `__call__` signature to `__call__(self, args, kwargs={})` and only do the complex wrapping `if kwargs.get('complex_wrap_evalf', None) is not None:`.

[2019-01-15 14:56] jmig5776 commented on #15702
@smichr Okk I got it I will do it as you suggested.

[2019-01-15 17:46] oscargus commented on #15784
I second that it relates to the numpy update and not the most recent merge. Maybe a way would be to use an earlier numpy version until it is solved?

[2019-01-15 18:45] oscargus commented on #15784
Looks like #15785 will fix it. Just have to wait for the latest tests to finish.

[2019-01-15 18:49] jmig5776 commented on #15702
@smichr  It worked as you suggested . Please review it.

[2019-01-15 18:56] jmig5776 commented on #15528
I would like to fix this issue.

[2019-01-15 20:03] jksuom commented on #15528
I don't think I can. That is something that has to be investigated. The use of MatMul appears promising to me.

[2019-01-16 11:51] vishal-vardhan commented on #13230
@jksuom can u guide me to solve it

[2019-01-16 12:05] jksuom commented on #13230
The `orig_ext` issue is easy to fix, and that should be done in any case. The coercion issue is harder. It need not be solved in the same PR. You should first find out how algebraic numbers are represented as ANP's, and then how elements of `QQ<sqrt(210)>` can be represented as elements of `QQ<sqrt(210) + sqrt(9879)>` starting from the representation of `sqrt(210)`.

[2019-01-16 12:08] vishal-vardhan commented on #13230
sure thanks

[2019-01-16 12:09] vishal-vardhan commented on #13230
should i create a pull request for the orig_text case?

[2019-01-16 12:41] leosartaj commented on #9446
Hi,

I tested the equation on Python 3.6.7 and sympy 1.3. I still see the exception for ``doit``. @oscarbenjamin can you share the python and sympy version you tried this on?

I see that the error has changed from ``TypeError: doit() got an unexpected keyword argument 'manual'`` to ``TypeError: doit() got an unexpected keyword argument 'meijerg'`` @sn6uv

[code]

[2019-01-16 12:45] sylee957 opened #15790 "MutableDenseMatrix becomes ImmutableDenseMatrix in printers"
[code]

I think it is because of the mutable matrix becoming immutable matrix after `sympify` https://github.com/sympy/sympy/blob/9d53296873723e7a3a287b7508669f830c300400/sympy/printing/codeprinter.py#L94

And #1667 makes sympify to force immutable matrix, whenever the matrix is originally mutable

Is it an intended behavior?

[2019-01-16 12:56] jksuom commented on #13230
I think you could do that even though the issue will not be solved. A suitable test should be devised to see that `orig_ext` will not contain Polys.

[2019-01-16 14:05] nouiz commented on #15784
We just released Theano 1.0.4 that added support for numpy 1.16 on the CPU. We didn't test on the GPU.

[2019-01-16 17:05] ajjayymahato commented on #13881
Is this issue still open? If yes then I would like to take up this issue.

[2019-01-16 18:47] RituRajSingh878 commented on #15706
@asmeurer after changing order of integrators ,many test case are failing .so i think we can add time limit function in heurisch so it will break it's self after some time  and continue to other integrators.

[2019-01-16 19:21] asmeurer commented on #15790
The printers shouldn't care if the matrix is mutable, because they won't be mutating it. So the simplest way is to call sympify and only deal with the immutable versions.

[2019-01-16 19:43] asmeurer commented on #15778
The fix should be similar to this one. https://github.com/sympy/sympy/pull/15453. Should be easy to fix.

[2019-01-16 23:04] sylee957 opened #15793 "Temporary files in external/tests/test_autowrap.py"
![image](https://user-images.githubusercontent.com/34944973/51283490-b2f7a200-1a2b-11e9-9fc1-2e8a7159ac87.png)

My previous PR #15354 had dealed with cleanups of `utilities/tests/test_autowrap.py`, but I think the tests in `external/tests/test_autowrap.py` are also having problems for temporary file cleanups in my system.

Those test codes are using implicit directory specification, and I think th

[2019-01-17 10:57] sekisushai opened #15795 "Legendre functions for non-integer arguments"
In module `mpmath`, Legendre functions of first and second kind are provided with `legenp` and `legenq`, they are callable with non-integer argument:
[code]
In Sympy, only the first kind seems to be available with `legendre` and `assoc_legendre`. Moreover, they seem to be callable with integer only argument:
[code]
Would it be possible to add support for first and second kind Legendre functions an

[2019-01-17 12:04] vishal-vardhan commented on #13230
To test it i think we should check the input args(some how) to the AlgebraicField class i.e "ext" here before it is passed to the class .

[2019-01-17 12:06] smichr commented on #15636
I am not sure if the [Rubik's cube issue](https://stackoverflow.com/questions/54228547/sympy-permutation-groups-parity-not-working-as-expected) is related or not.

[2019-01-17 14:10] vishal-vardhan commented on #15448
@asmeurer shall i change the sets.py so that every function works with python sets.

[2019-01-17 14:13] vishal-vardhan commented on #15448
I've changed the Union class already ,if i may i will change every function next so that they work with python sets.

[2019-01-17 14:19] sidhantnagpal commented on #15718
I am able to reproduce this behaviour on Safari. Unfortunately, Chrome does not support MathML.

The html code with MathML for `x2*z + x2**3` is:
[code]

Removing the pair of `mi` tags around `<msub><mi>x</mi><mi>2</mi></msub>` works.

[2019-01-17 14:40] jksuom commented on #15636
I think that the bug is where noted above:

Therefore `coset_factor` returns, correctly, the empty list of generators for the identity. Unfortunately, the empty list is also returned to indicate the failure. To fix this, the [test](https://github.com/sympy/sympy/blob/master/sympy/combinatorics/perm_groups.py#L1833) should be skipped for `p1` equal to identity.

[2019-01-17 16:11] MaxNoe opened #15796 "`sympy.log` fails with ValueError when base is given as keyword argument"
[code]
[code]

[2019-01-17 16:48] NoumbissiValere commented on #15778
@asmeurer am interested in solving this issue. please can you tell me how go about solving it?

[2019-01-17 17:25] lourenko opened #15797 "Tangent line to Circle does not work"
Running the code:
[code]
gives the horizontal line Lax is not tangent to the bottom of circle c. But measuring (and visually), the distance of circle to line gives zero. Can anyone check if I am doing something wrong please?

[2019-01-17 17:57] jksuom commented on #13230
The test should create an instance of AlgebraicField where `ext` contains a Poly. It will suffice to take one of the circles and convert its equation into a Poly with domain an AlgebraicField. Something like this, for example,

    p = c1.equation(x, y).as_poly(x, y, extension=True)

The field is then `p.domain`, and there should be no Poly in `p.domain.orig_ext`.

[2019-01-17 21:41] iblanes commented on #15778
@NoumbissiValere you already have a patch for this in #9294. It just needs to be tested for performance regressions.

[2019-01-17 21:55] normalhuman commented on #15796
Mathematical functions in SymPy take all their mathematical arguments as positional, not keyword arguments.  `Function.__new__` method has the signature
https://github.com/sympy/sympy/blob/5b55bddb1b9add4d35fcc4cea7098e07ff203826/sympy/core/function.py#L427

So, `log` behavior is by design,  the bug  is in having a misleading signature property of `log.__call__`, which is borrowed from `log.eval`

[2019-01-17 22:16] hackalog commented on #9918
It looks to me like any generators that are not explicitly referenced in the polynomial are dropped (even on a copy). This means `copy()` returns an unequal Poly,

e.g.:
[code]
The same thing happens after pickling

[2019-01-17 22:18] hackalog opened #15798 "Poly.copy() does not copy unused generators"
It looks to me like any generators that are not explicitly referenced in the a Poly expression  are dropped when performing a copy. This means `Poly.copy()` returns an unequal Poly object, which feels horribly wrong.

e.g.:
[code]
The same thing happens after pickling, leading to issues like those seen in https://github.com/sympy/sympy/issues/9918

In fact, it fails even the most basic:
[code]
Whi

[2019-01-17 22:20] MaxNoe commented on #15796
Maybe I'm alone in this, but I really dislike this, especially for log. For a simple reason:

`sympy.log(2, 10)`

Looks a lot like `log2(10)`, right?

[2019-01-17 22:23] normalhuman commented on #15795
Legendre does support floating-point evaluation for non-integer parameter:
[code]
There is a bit of symbolic support as well, `legendre(2.2, x).diff(x)` works and seems correct.  A notable missing value is `legendre(2.2, 1)` being `1`, this ought to evaluate symbolically.

Yes, it would be reasonable to have more special functions although the focus should be on implementing their symbolic propert

[2019-01-17 22:39] normalhuman commented on #15796
I see your point. Perhaps we should add `log.__new__` with `base` as keyword argument, so that this method will digest the arguments and call `Function.__new__`  for the actual work.

[2019-01-18 00:38] asmeurer commented on #15795
For numeric evaluation, as I noted on gitter, since it has a different name from mpmath, we have to add it evalf mapping so that it knows it is `legenp` in mpmath. So that part is trivial to fix.

We generally try to use the same naming as mpmath, in which case it finds the mpmath function automatically. But I guess that wasn't done in this case.

The dictionary in question is `MPMATH_TRANSLATIONS

[2019-01-18 04:32] RituRajSingh878 commented on #15730
@asmeurer  can you help me on this issue?

[2019-01-18 04:36] RituRajSingh878 commented on #15778
I would like to work on this.

[2019-01-18 05:11] hackalog commented on #9918
I've made a potential fix in PR #15799 . Let me know if this fixes your issue

[2019-01-18 05:48] sylee957 commented on #15784
I think theano issue is resolved. But sage test is still not working

[2019-01-18 07:33] neihousaigaai commented on #15781
Yeah, I was using sympy 1.1.1. After I upgraded, it works perfectly.

Thanks for supporting.

[2019-01-18 07:33] #15781 closed

[2019-01-18 07:55] NoumbissiValere commented on #15778
ok @iblanes  i will work in that direction

[2019-01-18 08:50] FabianBall commented on #15636
Alright, thank's for the feedback. From quickly inspecting the Rubik's cube issue, I can't see a relation, but if I find the time I will be looking at into more detail.
Anyway, I'll fix the original issue mentioned here.

[2019-01-18 08:59] RituRajSingh878 commented on #15718
I tried on a Ubuntu machine with chrome and Mozilla and it works fine for me.

[2019-01-18 12:20] NoumbissiValere commented on #15778
@iblanes i have look at the commit of the patch in #9294 issue. i notice he
was instead removing the -intcache from the code. removing that won't
disable caching ? i don't understand. please can you give more light into
this issue?

On Thu, Jan 17, 2019 at 10:50 PM iblanes <notifications@github.com> wrote:

[2019-01-18 12:37] iblanes commented on #15778
@NoumbissiValere #9294 changes the cache infrastructure being used from an adhoc (and unbounded) cache into a proper cache (notice the ```@cacheit``` annotation in the function).

[2019-01-18 12:44] NoumbissiValere commented on #15778
Ok. @iblanes please can you help me on how to perform the performance
regression test?

On Fri, Jan 18, 2019 at 1:37 PM iblanes <notifications@github.com> wrote:

[2019-01-18 13:34] NoumbissiValere commented on #15778
@iblanes i successfully applied the patches 🙂. please how to do i perform
the regression performance test so that its correctness can be confirmed.

On Fri, Jan 18, 2019 at 1:37 PM iblanes <notifications@github.com> wrote:

[2019-01-18 15:23] FabianBall commented on #15636
I checked the Rubik's cube issue a bit and don't see a relation to the issue discussed here. But I have to admit that I did not completely got into the provided code there. However, no subgroup checks are involved in any way.

[2019-01-18 15:44] jksuom commented on #15636
The Rubik's cube issue is about parity. This issue has no connection with that.

[2019-01-18 16:49] NoumbissiValere commented on #15778
It is ok, i have successfully done the regression performance test and they
were positive. the issue has been successfully resolved. yuppiiiiii. i just
solve my first open source issue. thanks @iblanes  for your help. i really
appreciate it

On Thu, Jan 17, 2019 at 10:50 PM iblanes <notifications@github.com> wrote:

[2019-01-18 17:01] sharma-kunal commented on #15492
If anyone is not working on the issue, I would like to take the issue.

[2019-01-18 22:41] asmeurer opened #15802 "Sage test failures on Travis"
See the discussions at https://github.com/sympy/sympy/pull/15785. There are some sage failures intermittently on Travis like

[code]

I think the build is timing out.

I ran that command on a Linux docker container and it seems that no tests are actually run

[code]

which is concerning.

The next line fails like this

[code]

If that's the same error that is happening on Travis, I don't know why

[2019-01-18 23:17] #15784 closed

[2019-01-19 00:34] NoumbissiValere commented on #13516
@asmeurer is this issue still open i will like to work on it

[2019-01-19 07:30] smitgajjar commented on #15730
Also if I type `integrate(abs(sin(x/2)+cos(x/2)), x)`, it produces the same issue!
(Output: `Integral(Abs(sin(x/2) + cos(x/2)), x)`)

[2019-01-19 09:19] czgdp1807 commented on #15676
[code]
The above code works correctly with 1.4
Though the issue still pertains.
Working on it, though quite lately. Apologies.

[2019-01-19 10:59] RituRajSingh878 commented on #15797
I think this is due to many points after the decimal as you can see Lax.distance(Ci) and Ri has a very small difference (should be zero) due to this it is showing "false" for the tangent.

[2019-01-19 15:18] NoumbissiValere commented on #8478
@asmeurer  is this issue still open? i will like to take it

[2019-01-20 05:19] asmeurer opened #15808 "Zero-argument Min() and Max()"
Right now `Min()` and `Max()` with no arguments raise `ValueError: The Max/Min functions must have arguments.`. It might be mathematically more convenient to have them return `oo` and `-oo`, respectively. See https://en.wikipedia.org/wiki/Empty_set#Extended_real_numbers for why these are valid answers mathematically.

[2019-01-20 06:09] jmig5776 commented on #15808
@asmeurer Please review it.

[2019-01-20 10:11] yblein opened #15810 "integrate(1/(2**(2*t/3)+1), (t,0,oo)) is wrong"
`integrate(1/(2**(2*x/3)+1), (x,0,oo))` returns 1/2 while [it should be 3/2](https://www.wolframalpha.com/input/?i=Integrate%5B1%2F(2**(2*x%2F3)%2B1),+0,+inf%5D). The indefinite integral is also wrong.

Tested against 1.3 and master.

[2019-01-20 10:37] jmig5776 commented on #15810
Yeah it is evaluating wrong , I will fix this issue.

[2019-01-20 17:54] oscarbenjamin commented on #9446
I tested this with latest master from git. I guess this issue was solved since 1.3 was released.

[2019-01-20 17:55] oscarbenjamin commented on #9446
Maybe a test for this should be added and then the issue can be closed as then it will remain fixed by the next released.

[2019-01-20 19:32] sharma-kunal commented on #15706
@asmeurer I would like to work on the issue, if you tell me how we can make heurisch to be called at last.

[2019-01-20 19:32] sharma-kunal commented on #15706
or we can do as proposed by @RituRajSingh878

[2019-01-21 01:04] oscarbenjamin commented on #15797
@lourenko the problem is that they are not *exactly* tangent. There is a small difference.

You can eliminate rounding error within Sympy by using `Rational` as in
[code]
(note the quotes)

However this will not solve your problem since the numbers you are putting in are not precisely correct: Sympy is returning the correct answer for the numbers you give.

[2019-01-21 05:10] jashrathod0 commented on #15810
Can I too work on this issue?

[2019-01-21 05:43] jhanwar commented on #15808
@jmig5776  Are you still working on it?

[2019-01-21 05:46] jmig5776 commented on #15808
@jhanwar I had solved this issue in #15809 . It would be better if you work on another issue

[2019-01-21 11:33] jksuom commented on #15802
[code]
With `python -v`, these are the last messages:
[code]

[2019-01-21 12:04] oscarbenjamin commented on #15797
@lourenko can you provide a complete example with all variables defined and the imports for any functions shown?

I can't run this because I don't know what `d0` etc are. Also I can't tell whether `pi`, `tan` etc are imported from Sympy or from numpy, or the math module etc.

[2019-01-21 12:13] jksuom commented on #15802
[code]

[2019-01-21 12:20] oscarbenjamin opened #15819 "Run doctests without implicit imports under pytest/doctestplus"
@drdavella @asmeurer

Recently merged #15768 makes it possible to run doctests under pytest using the pytest-doctestplus plugin from astropy. Sympy's existing (internal) doctest runner runs doctests differently from the stdlib doctest module, the pytest default doctest plugin, and the doctestplus plugin.

Specifically the difference is that Sympy's doctest runner requires all names to be explicitl

[2019-01-21 13:14] jksuom commented on #15802
This is a fragment of `python -v` log file (450 kB) at the point where importing of sage stops.
[code]

[2019-01-21 17:31] Ankit-Sonthalia commented on #7827
Is this issue still open? If so, I would like to give it a shot.

[2019-01-21 17:51] lourenko commented on #15797
I solved the problem adding and subtracting `1e-14` to all numeric values. As @RituRajSingh878 and @oscarbenjamin stated, this should be a rounding error problem. Now the code is running fine. Thank for your attention patience.

[2019-01-21 17:54] asmeurer commented on #15802
You can try python -X faulthandler to get a traceback.

[2019-01-21 17:55] lourenko commented on #15797
I solved the problem adding and subtracting `1e-14` to all numeric values. As @RituRajSingh878 and @oscarbenjamin stated, this should be a rounding error problem. Now the code is running fine. Thank for your attention patience.

[2019-01-21 17:57] lourenko commented on #15797
Btw @oscarbenjamin, I am using:
`d0 = 0.1412898146509956 #[meters]`
e
`d2g = 0.30038307607263465 #[meters]`
and importing like:
[code]

[2019-01-21 18:06] oscarbenjamin commented on #15797
The thing about something like `is_tangent` is that it requires *all* of your numbers to be exactly mathematically precise. The better solution here is either:
1. Use only exact calculations. Don't mix floats in and don't use numpy's pi, sqrt etc. Start with exact numbers from Sympy and use them to calculate everything, using only Sympy functions.
2. If you must use floats then you shouldn't ask a

[2019-01-21 18:10] #15797 closed

[2019-01-21 18:52] oscargus commented on #15802
It seems to be the same thing happening at Travis. For unknown reasons, I got a traceback for my latest commit, see #15772 where I pasted it before seeing the more or less identical traceback here (also available from the test log file).

[2019-01-21 18:57] asmeurer commented on #15802
I opened an upstream issue on the feedstock https://github.com/conda-forge/sagelib-feedstock/issues/62. If we don't hear back on it soon we should consider temporarily moving the sage tests to a allowed failures build.

[2019-01-21 19:05] jksuom commented on #15802
I got nothing out of faulthandler, but this might give a hint:
[code]

[2019-01-21 19:30] asmeurer commented on #15802
I am trying @isuruf's workaround at https://github.com/sympy/sympy/pull/15821.

[2019-01-21 20:48] asmeurer commented on #15802
The workaround fixed the builds but let's leave this open so we can remember to remove it once conda forge is fixed.

[2019-01-21 21:43] oscarbenjamin commented on #15726
It also looks as if manualintegrate can be improved:
[code]

[2019-01-21 21:57] asmeurer commented on #15802
So it looks like Travis won't pull in the latest master if you restart builds. I restarted https://travis-ci.org/sympy/sympy/builds/482008053 and the Sage job still fails.

I guess everyone will need to push a new commit to each PR to get the builds working. If there are no changes that are required you can merge with master and push the merge commit. But please don't do this unless it is otherwis

[2019-01-21 21:58] asmeurer commented on #15802
Also presumably the default conda-forge sage will get fixed at some point, meaning those old jobs will pass again once they are restarted.

[2019-01-21 22:04] iamrajiv opened #15822 "Sympy still gives the equation of evolute of the ellipse when the ellipse is degenerate"
![image](https://user-images.githubusercontent.com/42106787/51499882-f1a5a780-1df1-11e9-94b3-a2bb1a6709c7.png)
Above is the standard equation of an ellipse with `Center(x1,y1)` since the eccentricity of an ellipse is in `[0,1)` but if any of `a` and `b` is equal to `0` ellipse is not defined and we cannot make an ellipse.
So my issues is:
#### (1) Why in PR #7614 which is to find evolute of the el

[2019-01-21 22:05] iamrajiv commented on #15822
@normalhuman @debugger22 can you guide me on this

[2019-01-21 22:52] oscargus commented on #15782
@Losspost Feel free to provide more details or close the issue.

[2019-01-22 01:01] normalhuman commented on #15726
Yes, it does not have logic for completing the square in a quadratic denominator.
https://github.com/sympy/sympy/blob/de3c43c77670a1430756e66d2d70975ee9c6affa/sympy/integrals/manualintegrate.py#L731-L736

[2019-01-22 11:02] oscargus opened #15824 "Fortran printer: Multiple lines"
In `sympy.printing.fcode` on line https://github.com/sympy/sympy/blob/de3c43c77670a1430756e66d2d70975ee9c6affa/sympy/printing/fcode.py#L479 an exception is thrown when ""F77 init./parameter statem. req. multiple lines.". This seems to be the case, at least, when printing `FunctionDefinition` and `FunctionProtoype` see https://github.com/sympy/sympy/blob/de3c43c77670a1430756e66d2d70975ee9c6affa/sym

[2019-01-22 17:12] supreet11agrawal commented on #15448
@asmeurer . I saw https://github.com/sympy/sympy/pull/15479 which you mentioned above and tried to reproduce this result.
It is still giving an error while using `Union({1},{2})` or `Union({1,2},{3,4})` but not in case of `Union(Finiteset(1,2),Finiteset(3,4))`. Is it allright or still needs to be fixed?

[2019-01-22 19:00] jmig5776 commented on #15810
@asmeurer , @smichr Please review #15826 .

[2019-01-22 19:48] asmeurer commented on #13483
CC @oscarbenjamin

[2019-01-22 19:59] jmig5776 commented on #15196
I would like to fix this issue. @smichr Can you guide me what is exactly to be done.

[2019-01-22 20:04] asmeurer opened #15827 "Incorrect lambdify of constant times matrix symbol"
[code]

[2019-01-22 20:05] asmeurer commented on #15827
As far as lambdifying matrix expressions, some of the code that I wrote here may be useful https://github.com/ergs/transmutagen/blob/master/transmutagen/codegen.py.

[2019-01-22 22:03] asmeurer commented on #15375
Another issue I just noticed with our numpydoc fork is that it forces the sections to be in a certain order, even if they are in a different order in the docstring. So for instance, if you place the `Notes` section at the end, numpydoc will move it to the top. I think it is happening in [this function](https://github.com/sympy/sympy/blob/94f50f1d1df44ac80109c8c1797c8033131ba255/doc/ext/docscrape.p

[2019-01-22 22:20] asmeurer commented on #15375
I did a little testing and I think napolean doesn't do any sorting.

[2019-01-22 22:38] asmeurer commented on #15375
Actually it's [this function](https://github.com/sympy/sympy/blob/94f50f1d1df44ac80109c8c1797c8033131ba255/doc/ext/docscrape_sphinx.py#L229). We aren't using the plots feature of examples. So I think fixing this is a simple as removing "notes" and "examples" as special headers, as all that does is reorder them. The other sections (see also, parameters, references and so on) all get special formatt

[2019-01-22 22:43] asmeurer commented on #15375
A fix is at https://github.com/sympy/sympy/pull/15828.

[2019-01-22 23:06] #15702 closed

[2019-01-22 23:20] asmeurer opened #15829 "Spacing around example code blocks in the Sphinx docs"
In the example code blocks in the Sphinx docs, there is an empty line above the example block, but not below it. For example (from the ODE docs):

<img width="912" alt="screen shot 2019-01-22 at 4 19 30 pm" src="https://user-images.githubusercontent.com/71486/51572082-87c4e680-1e61-11e9-9feb-b7af86fd4c96.png">

This issue only seems to happen with code that is pulled in from a docstring. For examp

[2019-01-22 23:56] asmeurer commented on #12463
I am working on documenting this at https://github.com/sympy/sympy/pull/13485. It's odd that the default is `False` instead of `None` for `lambdify`, even though the default behavior seems to be to only dummify when necessary.  For `lambdastr`, the default is `None`.

[2019-01-23 00:42] asmeurer commented on #15795
I added a comment about this to https://github.com/sympy/sympy/pull/13485.

[2019-01-23 02:53] RituRajSingh878 commented on #15827
I am working on this.

[2019-01-23 06:43] sylee957 opened #15832 "GCC installation fails on Azure Pipelines"
I think azure had also started to fail on installing gcc, and it had gotten worse than #15671 as no optional dependency tests are getting run right now.

It had started failing after this commit
https://dev.azure.com/SymPy/SymPy/_build/results?buildId=1091

[code]

As long as my findings, I think I could reproduce the failing while installing gcc with anaconda in my local Windows Subsystem for Lin

[2019-01-23 07:36] #15545 closed

[2019-01-23 07:43] bjodah commented on #15832
I think the gcc package is called `gcc_linux-64` nowadays, but I haven't kept up with the latest developments in anaconda/conda-forge.

[2019-01-23 10:22] sylee957 commented on #15832
I think the test runs without gcc installation, can 0880f73e5f8343b3006fa2adb6d9bb09b3df8b55 be a workaround?
https://dev.azure.com/SymPy/SymPy/_build/results?buildId=1224

As far as I had inspected the issue, I think there is a conflict of `theano` and `gcc`
I think theano already gets shipped with `gcc_linux-64`
[code]

But if I try to install `gcc` package on top of `theano` installation, it fa

[2019-01-23 12:07] bjodah commented on #15832
gcc-4.8.5 is old. It looks like related issue(s)(?) are currently being discussed on gitter:
https://gitter.im/conda-forge/conda-forge.github.io

[2019-01-23 20:47] sylee957 commented on #15832
I think it was after `theano` 1.0.3 which had introduced `gcc_linux-64` and `gxx_linux-64`.
I still don't know how the `gcc` package is getting maintained

[2019-01-23 21:21] asmeurer commented on #15832
I think gcc has to be built manually because it cannot be built on CI (it takes too long). I guess someone built it manually and uploaded it. You would have to ask on the conda-forge gitter for details.

[2019-01-23 21:36] asmeurer commented on #15824
@bjodah did we ever make a clear distinction in the code printers between statements and expressions? I know we discussed this a lot but I don't see anything from a quick skim of the code.

[2019-01-23 21:39] asmeurer commented on #15796
We could remove the ValueError and pass the options through to `eval`. Keyword only arguments for `eval` are generally bad for SymPy functions because they are messy to store in `.args`, but for naming positional arguments I don't see an issue.

[2019-01-23 23:57] sylee957 commented on #15832
From one of my trials in https://dev.azure.com/SymPy/SymPy/_build/results?buildId=1235

GCC may had already been shipped with agent, so there may have not been any need to install gcc from the conda-forge from the first.
[code]

Possibly, there can be two ways to fix this issue.

First way would be using the gcc shipped with azure, so the sympy's compilation utilities would use `gcc` shipped with

[2019-01-24 01:17] asmeurer commented on #15832
Is @bjodah's suggestion about library code or just test code?

[2019-01-24 04:50] jhanwar commented on #15796
Okay, I will fix it.

[2019-01-24 07:14] bjodah commented on #15832
My comment was regarding the `_compilation` submodule which is only used internally by our test suite.

[2019-01-24 07:35] bjodah commented on #15824
@asmeurer no we did not, there were so many subtle differences between the distinction between those in different languages so that I gave up on the idea of having a strict distinction between those in our printers.

@oscargus if you can patch `_print_Declaration` so that it can be used to generate valid Fortran 77 code for declaration and initialization of variables just go ahead. I can't remembe

[2019-01-24 09:14] bjodah commented on #15832
Okay, so @sylee957 got a good answer on gitter:

Jonathan J. Helmus:

We should install `gcc_linux-64` instead of "gcc" under conda.
Are we using an activated environment on azure?
- If yes: inspecting $CC should do the trick.
- If no: we should add `x86_64-conda_cos6-linux-gnu-gcc` as a binary name to look for.

those changes need to be made to:
https://github.com/sympy/sympy/blob/master/sympy/ut

[2019-01-24 12:04] oscargus commented on #15824
I have very limited Fortran skills. Just happened to find (from static code analysis in Spyder) and fix a bug when looking through the printing code, see #15814 . Adding a test for the (former) bug lead to the exception so I primarily thought that I at least should post an issue for it as I guess it should be quite reasonable to solve for someone knowing F-77. Personally, I took a short university

[2019-01-24 12:44] bjodah commented on #15824
I see, thank you for the context. Did you find the undefined variable using pyflakes? (on that note: I'd be +1 to incorporating pyflakes into the CI).

[2019-01-24 14:21] oscargus commented on #15824
Not sure what I used. :-) In my default Anaconda Spyder markers show up next to the line numbers about undefined variables, unused imports etc. So I've basically browsed the code one package at a time to see what it showed and tried to remove the markers, while also improving the structure of the documentation when possible.

[2019-01-24 20:13] ditttu commented on #15822
I would like to work on this....Please assign this to me.

[2019-01-24 21:24] isuruf commented on #15832
I'd go with the first one.

[2019-01-24 21:40] asmeurer commented on #15832
I also think we should go with the first one, in case that wasn't clear.

[2019-01-24 23:08] ethankward opened #15838 "summation((n+1) / (n*(2*n-1)*(2*n+1)), [n, 2, oo]) returns nan"
[code]

The actual value has a simple form: `-7/6 + log(4)`.

The finite summation also gives `nan`:
[code]

[2019-01-25 04:06] RituRajSingh878 commented on #15838
I am working on this.

[2019-01-25 07:39] bjodah commented on #15832
yes, you can use `$FC` for the fortran compiler

[2019-01-25 08:29] oscargus opened #15839 "Simplify the igcd method"
In #15837 there was a suggestion in a review comment to simplify the `igcd`method (which wasn't really part of that pull request). Hence, there is a more or less ready solution that should be tested etc.

Although, I think the logic of `igcd` can be simplified a bit. The code seems to have some redundant checks:

https://github.com/sympy/sympy/blob/11e57159cb8bcaa1a75e1bf2119430f63d2f3815/sympy/co

[2019-01-25 08:48] oscargus commented on #15824
@bjodah I have now learned that I am using pylint. I agree with you that some basic code quality checking would be nice. I guess there may be a transition problem forcing people to fix issues not really related to their PR just because they happened to modify the same file, depending on how hard it is enforced. Could still be worth it though.

[2019-01-25 10:45] supreet11agrawal commented on #15839
I am taking up this issue is it's okay. @oscargus

[2019-01-25 12:14] supreet11agrawal commented on #15839
Sorry, I forgot to enter "NO ENTRY" in release notes. Tell me how to fix it @oscargus .

[2019-01-25 12:15] czgdp1807 commented on #15676
[code]
The above code give correct results for lowering `k`.
@Upabjojr I think there is a problem with `tensorproduct` or `tensorcontraction`.

[2019-01-25 12:18] supreet11agrawal commented on #15839
I have done the necessary changes. Kindly review

[2019-01-25 12:28] jgersti opened #15843 "`polytope_integrate`: Polygon vertex order assumption"
The `Polygon` class has a positive area if the vertices are in ccw order. In contrast the default behaviour of `polytope_integrate` is given the same polygon that the integral of, for example, the one function is negative.

This inconsistent behaviour is especially noticeable because the `polytope_integrate` docs refer to the `Polygon` class docs which state "ccw => positive area". Only the API se

[2019-01-25 12:54] oscarbenjamin opened #15844 "Implicitly converting floats to Rational in SymPy APIs"
Does SymPy have any policy on implicit conversion of `float` to `Rational` at API entry points?

It seems to me like there are many functions that work a lot better if you pass in Rationals even for simple numbers like 0.1. I would consider that important advice to users: pass in exact inputs where possible.

On the other hand there are lots of users who really want to be able to write `0.1` inste

[2019-01-25 12:56] sharma-kunal commented on #15843
I will be looking up on the issue.

[2019-01-25 12:56] sharma-kunal commented on #15843
@jgersti Can you please share the code of what were you trying to do. Especially the arguments passed.

[2019-01-25 13:15] jgersti commented on #15843
Here is the condensed source file which shows the second issue. The expected output is three times `1`.
[issue15843.py.txt](https://github.com/sympy/sympy/files/2796186/issue15843.py.txt)

(The first output might be because of other issues with the integration algotithm itself.)

[2019-01-25 16:35] oscargus commented on #15844
What about having a method (maybe that method is `nsimplify`, I do not know), which can guess what a floating point number really is and that is easy/short enough for the users to apply frequently? For example, 3.141593 will be good enough to convert to `pi`. I think that there is something similar in at least Maple.

Very relevant question though!

Also, I think that it can be OK to convert 0.1 t

[2019-01-25 18:21] asmeurer commented on #15832
You have to set the environment variables in the same script that the tests are run in. Unlike Travis, environment variables are not shared across scripts in Azure. See how the Sage environment variables work (they work around the same conda activate problem).

[2019-01-25 19:00] #15808 closed

[2019-01-25 19:49] asmeurer commented on #15844
`solve` has a `rational` flag which has been quite contentious in the past.

There is already some code that does this (yes, from nsimplify), but it is bad IMO. It leads to a lot of problems. See https://github.com/sympy/sympy/issues/12045. Also see https://github.com/sympy/sympy/issues/12534 and the dozens of linked issues if you want to get a better handle on this stuff.

There is no way for Sym

[2019-01-26 02:36] sylee957 commented on #15844
I also think that overdetermination can make the system too much sensitive and make too much undecidable cases.

Once some digits of an expression are floating numbers, I don't think there should be theoritical accuracy to be concerned because a same floating number can be arrived in many ways, from rational and irrational numbers truncated, to aggrevated errors due to multiplications.

I think sy

[2019-01-26 04:16] asmeurer commented on #15844
0.3*sqrt(3) is left unevaluated only because it could be too expensive in general to evaluate the rest of the expression in a Mul. Imagine it was `0.3*some_large_expression`. And in practice evalf can be slow, especially on things like Sum or Integral.

Function calls like `sqrt` or `sin` will evaluate on floats because that only requires evaluating the function on one float.

[2019-01-26 08:08] cbm755 opened #15847 "regression: `Ne` simplifies incorrectly"
Consider
[code]
Before fd63f10ec66c437513bdfd983ce4d62ae7747373, `simplify(a)` gave False.  Now it gives True

I think it should be False because `Eq(a.lhs, a.rhs)` should (and does) simplify to True.  `Ne` is mathematical inequality, not structural inequality.

CC @smichr

[2019-01-26 09:06] RituRajSingh878 commented on #15847
I would like to work.

[2019-01-26 12:42] jmig5776 commented on #15847
@smichr I have query that what should `simplify(x**2 + x*y)` return. Now it is returning `x*(x + y)` but i think it should return `x**2 + x*y` unless and untill it is known that the given symbols hold ditributivity i.e  it is surely true.

[2019-01-26 12:44] jmig5776 commented on #15847
`a.canonical` is `Ne(x*(x + y), x**2 + x*y)`

[2019-01-26 13:02] RituRajSingh878 commented on #15847
@jmig5776  you can go through simplify doc for your answer. There is a definition defined for simplify--"Nonetheless, especially for interactive use, or when you don’t know anything about the structure of the expression, simplify() tries to apply intelligent heuristics to make the input expression “simpler”. "

[2019-01-26 13:17] jmig5776 commented on #15847
Thanks @RituRajSingh878
I think the below `_eval_simplify` function of class `Unequality` should `return not eq` because if the equality holds then the function should return that this Unequality does'nt hold true.
[code]

[2019-01-26 14:08] RituRajSingh878 commented on #15838
I think the problem is, it is unable to calculate this summation so it is returning nan.

[2019-01-26 14:13] oscargus commented on #14425
It seems like sometime the combining accent is combined with the preceeding character, sometimes with the proceeding.

[code]
So it is not really consistent it seems.

Another interesting case:

[code]

(it is also worth noting that the diaresis is in different positions in the editor compared to the preview...)

[2019-01-26 14:18] RituRajSingh878 commented on #15847
yup I checked it and I am currently trying to resolve.
Thanks, @jmig5776

[2019-01-26 15:01] RituRajSingh878 commented on #15847
But I also solved.

[2019-01-26 16:43] oscargus opened #15852 "summation(x**y*y, (y, -oo, oo)).doit() hangs in infinite loop"
[code]

Hangs. The reason seems to be that `And(Abs(x) < 1, Abs(1/x) < 1)` is not evaluated to `False` here (which it should be possible to do as far as I can tell) and that instead the code goes into an infinite loop.
https://github.com/sympy/sympy/blob/1e999fc5159b830a9872b86675bc5f3692a9c1be/sympy/concrete/summations.py#L1176-L1179

[2019-01-26 17:15] RituRajSingh878 commented on #15852
I want to work on this.
For x=2 it is returning the same expression so the problem is with x as what you say.

[2019-01-26 17:33] bjodah commented on #15832
When setting $CC and $FC to conda compilers we should also set:
[code]
if we have activated a conda environment the `$CONDA_PREFIX` variable is already set, if not: we would need to specify the absolute path.

[2019-01-26 17:59] oscarbenjamin opened #15854 "Simplify doesn't assume abs(x) is positive"
SymPy doesn't simplify logs of symbols if it doesn't know that they are positive:
[code]

However `abs(x)` is always positive and `simplify` doesn't realise that:
[code]

I would like to be able to simplify expressions like this:
[code]

[2019-01-26 18:02] jmig5776 commented on #15854
I would work on this issue.

[2019-01-26 18:30] oscarbenjamin commented on #15854
I should probably clarify my comment above. `abs(x)` is always non-negative rather than positive. It is of course possible that `abs(x)` is zero which is the issue:
[code]
The zero case is usually well behaved though:
[code]

[2019-01-26 19:40] jmig5776 commented on #15852
I would also like to work on this issue.

[2019-01-26 20:08] jmig5776 commented on #15838
@ethankward Can you tell me from which series `(n+1) / (n*(2*n-1)*(2*n+1)` it is evaluating to `-7/6 + log(4)` so that i could workout to get this solve in sympy?

[2019-01-26 22:39] oscarbenjamin opened #15856 "ZeroDivisionError during round of zero expression (cancel(0.e-9*I))"
The following expression leads to an exception when calling `.round()`:
[code]

Tracing through the error comes from calling `cancel(expr)` where `expr` is `0.e-9*I`. I'm not sure how to directly create these subnormal floats to reproduce that way though.

Full traceback:
[code]

[2019-01-27 00:13] ethankward commented on #15838
I don't understand your question. That's the symbolic value of the summation which you can verify using other computer algebra systems or by hand.

[2019-01-27 05:06] cbm755 commented on #15847
There is nothing wrong with more than one person doing a PR for the same issue.  Sometimes that will help everyone find the best solution.  And there is always need for constructive review.

[2019-01-27 05:42] jmig5776 commented on #15838
Okk I got my answer I am trying to solve it. And I think this should not return nan, and sympy should able to solve it.

[2019-01-27 06:07] RituRajSingh878 commented on #15838
@jmig5776 I am working and I already made a pr. So you can go for other issues.

[2019-01-27 06:33] sylee957 commented on #15832
Anyway, I think workaround with using apt-get package installer goes fine.

I think it may get more complicated to use `gcc_linux-64`, `gfortran_linux-64` right now. As it may need a lot of work to make sympy's compilation utilities to support those compilers properly, as well as having to deal with Microsoft's "simulated" conda activation in tests.

I think it would be a better idea to open anoth

[2019-01-27 07:12] jmig5776 commented on #15838
@RituRajSingh878 There is nothing wrong with more than one person doing a PR for the same issue. Sometimes that will help everyone find the best solution.

[2019-01-27 07:22] cbm755 opened #15858 "regression: incorrect jordan_form for matrix with repeated pure imag eigenvalues"
Consider
[code]
Note two repeated eigenvalues

Now
[code]
This is the wrong size (and takes a long time).

If you ask for `J,P = A.jordan_form(calc_transform=True)`, it takes *very* long time and eventually errors out:
[code]

Seems quite similar to #9274 which I supposedly fixed, *sigh*.  It seems to work on Diofant, so we should look at how they fixed #9274...

[2019-01-27 07:41] RituRajSingh878 commented on #15838
yup But You can look my pr and can give some suggestions it would be better for both of Us.
and save the time of both people.

[2019-01-27 08:32] cbm755 commented on #15858
Its a regression, 97aeed33d99fabd4975c8e4fa6b322b4f87072b5 @siefkenj

[2019-01-27 11:01] oscargus commented on #12617
Closing this as it seems to have been solved.

[2019-01-27 11:01] #12617 closed

[2019-01-27 15:51] GoSim1 opened #15862 "sym2poly bug"
the following code gives me an error message (octave):

syms s
A=1/s
[n d ]=numden(A)
sym2poly(n)

error message:
error: ss(1): out of bound 0
error: called from
    sym2poly at line 88 column 7

so sym2poly can't handle when the polynomial is a constant. I'm using it in an automatic script and need to be able to handle all types of polynomials. It should be an easy fix. Kind regards.

[2019-01-27 19:39] cbm755 commented on #15862
I can confirm its an octsympy bug, please do file downstream so I don't forget about it...

[2019-01-27 19:53] Upabjojr opened #15865 "Equation solver unable to handle summations"
Equation solvers cannot handle expressions with summations, for example:
[code]
that is,
[code]

[2019-01-28 09:09] Sanjay126 commented on #15166
@NikhilPappu @moorepants I am working on this issue and want to completely understand this parser as I am willing to extend the parser for other languages as a project for GSOC'19.

[2019-01-28 09:46] cbm755 commented on #15862
filed downstream

[2019-01-28 09:46] #15862 closed

[2019-01-28 09:57] cbm755 opened #15870 "`octave_code` invalid code for complex expression"
[code]
That doesn't look right.  And its not:
[code]

[2019-01-28 10:13] oscargus commented on #15870
I get `'3*(1 - 1i)^2'`. Can you try this in a "clean" python terminal? I have noted that once an error occurs, things tend to go wrong after that...

[2019-01-28 10:47] sidhantnagpal commented on #10711
`Eq(x + 1, 4)` gives the correct representation in the latest docs.

[2019-01-28 10:47] #10711 closed

[2019-01-28 12:42] sharma-kunal commented on #15865
solveset was developed because solve still has some major issues. So, if solve can't handle summations and solveset can, it's obvious.
But I don't know if we must implement the function for solving summations in solve as it is already there in solveset.

[2019-01-28 13:35] Upabjojr commented on #15676
Can you find an explicit case where `tensorproduct` or `tensorcontraction` give the incorrect result?

[2019-01-28 13:39] Upabjojr commented on #15865
Look carefully. They both can't solve it.

[2019-01-28 14:10] #15847 closed

[2019-01-28 14:42] normalhuman commented on #15854
The title of the issue is misleading. Simplify knows that abs(x) is nonnegative. It also knows that a quantity `y` being nonnegative is not enough to conclude that `log(y**2) / log(y)` evaluates to 2.

When y is zero, `y**2` is equal to `y**3`. So, `log(y**2)/log(y)` is also `log(y**3)/log(y)` in this case. So should it simplify to 3 instead of 2?

SymPy's current behavior is correct, and the link

[2019-01-28 14:49] dsavransky commented on #15790
Possibly related (not sure if this is expected behavior) - it looks like a MutableDenseMatrix becomes immutable after applying simplify. This is particularly annoying as ImmutableDenseMatrix doesn't appear to use Matrix as a base class:

[code]

[2019-01-28 14:57] Upabjojr opened #15871 "Print MatrixSymbol boldface?"
What about printing `MatrixSymbol` objects boldface?

In LaTeX this would be `\mathbf{M}`, similar logic could be applied to the pretty printer.

Boldface matrix symbols are easier to distinguish from scalar symbols. Furthermore it's the convention usually employed in books and papers.

[2019-01-28 15:13] oscargus commented on #15871
Good idea! (For the record, for MathML one would write `<mi mathvariant="bold">M</mi>`.)

[2019-01-28 15:34] #15178 closed

[2019-01-28 15:48] #15360 closed

[2019-01-28 18:32] cbm755 commented on #15870
I'm sorry, now I cannot reproduce it either, on 1.3 or master.  So either I was on some ancient branch or I caching gremlins...

(I've still got the terminal open where it happens but cannot produce it elsewhere)

[2019-01-28 18:32] #15870 closed

[2019-01-28 19:36] siefkenj commented on #15858
This appears to be due to `.rank` being computed incorrectly.

[code]

[2019-01-28 19:47] siefkenj opened #15872 "Matrix.rank() incorrect results"
Another example where a matrix rank is computed incorrectly:
As referenced in issue #15858 the following matrix rank is not computed correctly:

[code]

The rank of `B**3` should be 2. Further, passing the `simplify` flag doesn't help, but applying `simplify()` to the whole expression does. This might have something to do with issue #13298 causing row reduction to make incorrect assumptions.

[2019-01-28 20:03] asmeurer commented on #15832
I'd appreciate if you could give your opinion on Azure Pipelines in general https://groups.google.com/forum/#!msg/sympy/jyYrYz8ys9o/OrVSL4NeAQAJ.

[2019-01-28 20:13] asmeurer commented on #15852
Even if it doesn't evaluate it shouldn't go into an infinite loop.

[2019-01-28 20:14] asmeurer commented on #15852
There should be a closed-form result, the same as `summation(x**n*n, (n, -oo, 1)) + summation(x**n*n, (n, 0, oo))`.

[2019-01-28 20:17] #15839 closed

[2019-01-28 20:37] ethankward commented on #15872
Tracing back the issue, one thing that jumps out is

[code]

[2019-01-28 23:06] asmeurer commented on #15385
https://groups.google.com/d/msg/sympy/jyYrYz8ys9o/p7IY4MCSAwAJ

[2019-01-28 23:46] asmeurer commented on #15385
Thank you. I cannot complain about the support from the Azure team.

The biggest feature request I would have would be to automatically give people who have push access on GitHub the appropriate permissions on Azure pipelines.

[2019-01-29 00:07] vtbassmatt commented on #15385
I agree, that would go a long way. Thanks again for the feedback.

[2019-01-29 00:19] sylee957 commented on #15872
SymPy does not expand multiplications automatically, and I think it's making things complicated.

![image](https://user-images.githubusercontent.com/34944973/51873412-68b5df80-23a0-11e9-8b12-a11f36a7344e.png)

I think real numbers are not treated unevaluated like 1 * 2 * 3, but imaginary units are treated like polynomials.
But I think those things would be too philosophical to discuss here, becaus

[2019-01-29 00:32] sylee957 commented on #15790
@dsavransky
Actually, `Matrix` is used as an alias for `MutableDenseMatrix`
If you would have to test whether it belongs to more generic matrix class, I think you should use
[code]
or
[code]

[2019-01-29 00:38] asmeurer commented on #15790
Most SymPy functions will call sympify on their inputs, so this isn't surprising. I would recommend using Matrix methods where possible, as these should maintain the same type. Otherwise, you should manually cast the matrix to a mutable one before mutating it.

[2019-01-29 00:39] asmeurer commented on #15790
We might also deprecate `Matrix` being a shortcut for the mutable variant at some point, and make it return the immutable version by default (or at least I think we should, if others disagree we won't do it).

[2019-01-29 00:43] dsavransky commented on #15790
Thanks for the explanation.  I'll switch to checking against MatrixBase.

[2019-01-29 01:07] #15593 closed

[2019-01-29 01:19] siefkenj opened #15873 "is_zero is incorrect on complex integer"
`is_zero` should return `None` if it cannot decide, but should never give the wrong answer. However:

[code]

This is causing errors in determining the rank of a matrix. See issue #15872

[2019-01-29 01:33] oscarbenjamin commented on #15854
Okay @normalhuman I take your point(s). I'll keep this open until the PR is resolved though...

[2019-01-29 01:59] sylee957 commented on #15873
I think the assumption handler was added in #10298
https://github.com/sympy/sympy/blob/b506169ad727ee39cb3d60c8b3ff5e315d443d8e/sympy/core/add.py#L532-L566

And it had returned none before 58e96d08c404375e813dafa7f974c529630f6957
Would this be a regression?

[2019-01-29 03:13] smichr commented on #15873
Should `if len(nz) == len(self.args):` need to be `if not nz or len(nz) == len(self.args):`?

[2019-01-29 08:38] oscargus commented on #15871
I'll give this a go once #15842 is merged (as there will be obvious conflicts otherwise).

[2019-01-29 08:45] oscargus commented on #14033
Closed by #15842

[2019-01-29 08:54] oscargus commented on #14033
Sorted out for LaTeX and Pretty printer in #15842.

Can also be added for MathML (presentation mode):
`<msup><mi>x</mi><mfrac><mn>1</mn><mn>3</mn></mfrac></msup>`
vs
`<mroot><mi>x</mi><mn>3</mn></mroot>`
where the latter one is currently used.

An additional issue here is that the MathML printer does not accept any settings at the moment.

[2019-01-29 09:13] oscargus opened #15877 "Add support for configuration of the MathML printers"
Currently, it is not possible to control the output of the MathML printers in detail (which is possible for e.g. the LaTeX printer). Two such cases are suggested in https://github.com/sympy/sympy/issues/14033#issuecomment-458457916 and https://github.com/sympy/sympy/issues/15871

The purpose here would be to introduce the additional code for easily allow adding flags to the MathML printers. Could

[2019-01-29 09:23] oscargus commented on #15852
I think the "best" way would be to sort out that `And(Abs(x) < 1, Abs(1/x) < 1)` evaluates to `False`. At least I cannot see any reason why it should not evaluate to that. Even if x is `-oo` or 0 and therefore sympy is hesitant to make any assumptions, the other should always be False.

[2019-01-29 09:33] oscargus commented on #15852
There is an approach by @jmig5776 in #15855 Also, @RituRajSingh878 said he wants to work on it. However, I guess that there are many possible solutions. The approach by @jmig5776 solves the hang issue, but it is unclear if it has other side effects.

Yes, it is most likely related to the problem that the `And` statement can not be determined to be `False`.

I think a careful analysis of the code i

[2019-01-29 13:05] jmig5776 commented on #15852
Yeah I tam trying the get the required answer rather than just getting returned the unevaluated integral.

[2019-01-29 15:39] #15636 closed

[2019-01-29 15:53] #10173 closed

[2019-01-29 17:14] Bavish2201 commented on #15877
Hello, I would like to work on this. Could you please guide me on this.

[2019-01-29 21:09] smitgajjar commented on #15877
Why is the mathml printer showing floating point exponent tag even though in this function, there is a condition that if the exponent is rational, then it will be shown as mroot tag. I guess, there is some issue.

https://github.com/sympy/sympy/blob/37c6d80a6080e8f72f33565fea1956c3ff28dfcf/sympy/printing/mathml.py#L788

Example:
``

<apply>
	<power/>
	<ci>x</ci>
	<cn>0.500000000000000</cn>
</apply

[2019-01-29 21:18] smitgajjar commented on #15877
Why is the mathml printer showing floating point exponent value in the power tag, even though there is an explicit condition in this function that if the exponent is rational, then it should be shown as mroot tag form.
https://github.com/sympy/sympy/blob/37c6d80a6080e8f72f33565fea1956c3ff28dfcf/sympy/printing/mathml.py#L788

Example:
`

<apply>
	<power/>
	<ci>x</ci>
	<cn>0.500000000000000</cn>
</a

[2019-01-30 01:02] oscarbenjamin opened #15881 "dsolve doesn't know order-reducing substitutions"
If an ODE only involves derivatives of the dependent variable then it is possible to use a substitution to to reduce the order of the ODE. This usually makes it easier to solved but `dsolve` doesn't know how to do it yet.

Here's an example:
[code]

Since `f(x)` only appears as a derivative we can use the substitution `g(x) = f(x).diff(x)` to obtain a first order ODE:
[code]

This is a solution of

[2019-01-30 02:46] XtremeGood commented on #15881
Hi, I 'm interested in fixing this bug but I' will have to see how to convert my math to symbolic computations.

[2019-01-30 04:42] #15873 closed

[2019-01-30 04:46] sylee957 commented on #15872
I think this issue had been fixed after merging #15875

[2019-01-30 07:50] sylee957 opened #15883 "Make all matrix properties as @property"
The properties in `MatrixProperties` class in `common.py` are not accessed in consistent manner right now.

| Properties | Functions |
|---|---|
| is_hermitian | is_symmetric |
| is_Identity | is_anti_symmetric |
| is_square | is_diagonal |
| is_lower_hessenberg | |
| is_upper_hessenberg | |
| is_lower | |
| is_upper | |

And also,

| Properties | Functions |
|---|---|
| free_symbols | atoms |
| |

[2019-01-30 08:15] oscargus commented on #15877
Good to see some interest! As there are (at least) two persons interesting I make a list of things to solve including switches to add support for (taken from the LaTeX printer):

- [ ] Add `__init__` method to `MathMLPresentationPrinter` that basically executes `MathMLPrinterBase.__init__` and extract the supported settings to local class member variables. Add documentation about the settings in `

[2019-01-30 08:18] oscargus commented on #15871
I called this parameter `mat_symbol_style` in #15877 with the options "bold" and "plain". Does this make sense? Are there more variants?

[2019-01-30 08:32] oscargus opened #15884 "ASCII printer generates Unicode (at least in physics.vector)"
As noted in https://github.com/sympy/sympy/pull/15849 the printing function in physics.vector adds dots on top of variables to indicate derivatives (Newton style). However, it seems like these are not properly converted to ASCII later when the ASCII version is derived. This should be sorted out in pretty_symbology and replace the dots with a proper number of `'`.

Note that there are currently tes

[2019-01-30 08:36] smitgajjar commented on #15877
I am not able to figure out the problem...Can you give the reason of not getting the required output for the shown example?

[2019-01-30 08:50] oscargus commented on #15877
Sorry, I have no idea about the inner working of these things (just happens to have some ideas from the "outside" of things). But I agree that it is surprising. It seems like the printer converts numbers to floats at some stage:

[code]

(Note that the presentation printer is the most interesting part here even though your example probably should work for the content printer as well, as 1/2 is a b

[2019-01-30 09:05] oscargus commented on #15877
I think that one needs to specify it to be a Rational for the number to stay a Rational, so
[code]

Hence, sympy does not by default keep numbers as Rational. (Not even sure if it is fully possible to bypass the Python parsing of the input, this is a thing that even the compiler may handle.)

[2019-01-30 09:54] smitgajjar commented on #15877
Ok, understood. Thanks for guiding!

[2019-01-30 10:54] #15872 closed

[2019-01-30 11:56] divyanshu132 commented on #8071
Is this issue still open??

[2019-01-30 14:42] sharma-kunal commented on #15877
I guess in

[code]

sympy is treating 1 and 2 as math integers and thus will give answer in decimals.
While if you do S(1)/2 now 1 will be treated as a sympy object and output would be

[code]

[2019-01-30 14:55] sharma-kunal commented on #15877
I think while doing

[code]
sympy treats 1 and 2 as integers and it converts the result to 0.5
While if you change 1 to S(1), now 1 will be treated as a sympy object and thus giving the output

[code]

[2019-01-30 18:01] sharma-kunal opened #15888 "SolveSet: nonlinsolve return EmptySet() - Wrong Result"
I was trying to solve two non-linear equations

[code]

But it returns

[code]

I tried figuring it out and found that

[code]

this function return False. Can someone explain me what this function does ?

[2019-01-30 18:05] oscarbenjamin commented on #15877
The floats here just come from the expression 1/2. This is not controllable by SymPy and is just part of basic Python. In Python 3` int/int` gives a float. Floor division is also possible with `int//int`. In SymPy we usually don't want floats and that's why as @sharma-kunal suggests we use e.g. `S(1)/2` all over the codebase. See here [https://docs.sympy.org/latest/gotchas.html#python-numbers-vs-s

[2019-01-30 18:11] jksuom commented on #15888
That function is expected to return True if the solution set is finite, as it is in this example. There must be a bug in the implementation.

[2019-01-30 18:35] sharma-kunal commented on #15888
You mean it just checks if the solution set is finite without actually finding the solutions.

[2019-01-30 18:41] ethankward commented on #15888
Note that this works as expected if you use a rational value for `3/4` instead of a float.

[2019-01-30 18:53] asmeurer commented on #8071
Apparently the attributes are gone, but the warning is still there if you set it on Symbol creation:

[code]

0.7.6 was a long time ago, I think this can be removed.

[2019-01-30 18:53] asmeurer commented on #8071
See https://github.com/sympy/sympy/wiki/Deprecating-policy

[2019-01-30 19:14] sharma-kunal commented on #15888
yes you are right, I converted 3 to a sympy object using S(3) and the answer is correct.
So is that a bug or it was meant to work so.

[2019-01-30 19:16] ethankward commented on #15888
It's still a bug since SymPy is generally expected to work with floats.

[2019-01-30 19:50] asmeurer commented on #15014
Perhaps it is because `np.where` is a `ufunc` (written in C), whereas [`np.select` is not](https://github.com/numpy/numpy/blob/184354962253fdab988d9c6fd7d379259cc55a9d/numpy/lib/function_base.py#L639).

`select` seems to have a lot of logic. Are `select` and nested `where` actually completely equivalent, for instance, wrt broadcasting?

[2019-01-30 19:57] asmeurer commented on #15014
Another option to look at is [np.fromfunction](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.fromfunction.html).

[2019-01-30 20:00] jksuom commented on #15888
This is probably a case where floats have to be converted to rationals during computation.

[2019-01-30 20:32] sharma-kunal commented on #15888
using solve() gives the result even if I don't take rational(3,4) but gives answer in decimals.
Do you think same should be applied in solveset also.

[2019-01-30 20:37] oscarbenjamin commented on #15881
Hi @XtremeGood. If you want to work on this you'll need to use the latest master version of SymPy. The equation you show has two solutions under current master:
[code]

In terms of how to code this the method could be roughly as simple as
[code]
The more complicated part is working out how to slot that into `dsolve`'s machinery. It needs to be split up into a matcher and a solver. The idea is that

[2019-01-30 23:12] oscarbenjamin opened #15889 "dsolve doesn't recognise separable ODEs that need rearranging"
This ODE can be solved by separation of variables:
[code]

`dsolve` doesn't recognise that though because it isn't in the standard form
[code]
The error comes from the Lie group solver but the real problem is that it should have been solved by the separable solver. If we first rearrange the equation by solving algebraically for `f(x).diff(x)` then `dsolve` can solve it:
[code]
Both cases give the

[2019-01-31 00:46] oscarbenjamin commented on #15194
That does seem to be what happens now:
[code]
But what does that mean? You're taking the xth derivative with respect to x?

[2019-01-31 01:05] shivanikohlii commented on #15884
I'll be working on this bug!

[2019-01-31 08:18] oscargus commented on #15884
Great @shivanikohlii !

I was checking out the code for another reason and noted that it said:
https://github.com/sympy/sympy/blob/24c34f0e4ceb34b316dbd315df8eebca5ce33693/sympy/printing/pretty/pretty_symbology.py#L199-L200

which should be compared to
https://github.com/sympy/sympy/blob/24c34f0e4ceb34b316dbd315df8eebca5ce33693/sympy/physics/vector/printing.py#L195-L196

I am not sure if it is rel

[2019-01-31 09:13] XtremeGood commented on #15881
Hi @oscarbenjamin
I will check that today.Thanks for the help.  :)

[2019-01-31 10:08] oscarbenjamin opened #15890 "Floats with equal repr are unequal"
This is coming from #15770.

SymPy can create floats that are unequal and compare unequal but have the same `repr`:
[code]
The repr of the float should ideally be sufficient to recreate the same float or at least the same number even if the precision is different.

[2019-01-31 10:41] oscargus commented on #15884
I think that the easiest way to do this is to simply use the property `_use_unicode` which is inherited from `PrettyPrinter`

https://github.com/sympy/sympy/blob/24c34f0e4ceb34b316dbd315df8eebca5ce33693/sympy/printing/pretty/pretty.py#L50-L51

and then do something different.

You can ignore the comment about the combining accents above. I will fix that in another PR since it requires a bit more t

[2019-01-31 11:54] oscargus commented on #15890
log2(2.22044604925031e-16) = -52 so probably there is a difference of one(?) LSB of the representations but they both happen to print the same.

The float is printed with 15 digits, log2(10**15) = 49.82892142331043 (which btw is 16 digits).

My guess is that sympy (python?) prints with 16 digits to cover 53 bits (double precision floating-point), but in case of the first digit is 0, one digit of p

[2019-01-31 11:57] RituRajSingh878 commented on #15120
[code]

[2019-01-31 13:15] #15843 closed

[2019-01-31 13:18] RituRajSingh878 commented on #15120
[code]

I am trying to solve and now I am getting this traceback.
and here mat=`A**(-1)*B**(-1) - A**(-1)*C*B**(-1)`.which is a matrix expr.

[2019-01-31 13:21] jksuom commented on #15890
It is probably better to use `srepr` of SymPy for `Float` objects.
[code]

[2019-01-31 15:41] oscargus commented on #15526
If you can provide a PR that will of course be much appreciated.

[2019-01-31 15:46] oscarbenjamin commented on #15890
Python floats have different reprs for these two by using an extra digits. I think SymPy:should do the same.
[code]

[2019-01-31 15:48] oscargus commented on #15526
However, note the discussion about possibly stop using Azure Pipelines: https://groups.google.com/forum/#!msg/sympy/jyYrYz8ys9o/p7IY4MCSAwAJ

Something I am missing is code coverage. I have not looked into it at all, but what support does Azure Pipelines have there. Is there something easy-to-use that is already built in?

[2019-01-31 15:56] oscargus commented on #13037
https://stackoverflow.com/questions/38549616/travis-determine-which-files-changed may not solve it completely but could be a start.

[2019-01-31 17:30] hazelnusse opened #15893 "diff behaves differently on expressions with Symbol vs Function"
[code]
Two things of note:
- Derivative(x(t), x(t)) isn't reduced to 1
- In the Symbol case, sign(x) is present in the result of diff(), while in the Function case, x(t)/Abs(x(t)) is present in the result of diff()

[2019-01-31 17:36] oleksandr-pavlyk opened #15894 "sympy.core.sympify.simpify('lambda') raises TypeError"
Running

[code]

The test ``sympy/core/tests/test_sympify.py:test_sympify_keywords`` fails with
[code]

Stand-alone reproducer:

[code]

<details>
In [1]: import sympy
   ...: print(sympy.__version__)
   ...:
   ...: from sympy.core.sympify import sympify
   ...: sympify('lambda') # raises TypeError
1.3
---------------------------------------------------------------------------
TypeError

[2019-01-31 18:11] asmeurer commented on #15890
Yes, Python uses an algorithm so that unequal floats always produce the shortest unique representation that recreates them. Surely this algorithm is already implemented in mpmath, and we can reuse it. I had thought that we already were, but apparently we aren't, or there is some bug with it.

[2019-01-31 18:14] oleksandr-pavlyk commented on #15894
BTW, this can be reproduced with Python 3.6, but works as expected with Python 2.7, namely `simpify('lambda')` raises `SympifyError`:

[code]

[2019-01-31 18:17] asmeurer commented on #15893
To be sure, the expressions are mathematically equal. The one is just not simplified properly.

[2019-01-31 19:39] hazelnusse commented on #15893
I agree. The consequence of not being simplified properly is that functions like ccode/cxxcode emit code that can't compile.

[2019-01-31 20:55] asmeurer commented on #8071
This is an interesting case, because unknown assumptions pass through without any error. So if we removed the warnings, `Symbol('x', infinitesimal=True)` would continue to work, but wouldn't do anything with regard to the usual assumptions (right now it sets `zero=True`). But maybe that is what we should do, since it has been deprecated long enough that no one should be using it.

[2019-01-31 21:14] oscarbenjamin commented on #15890
Maybe I'm not using it right but doesn't look like mpmath has that algorithm:
[code]
(if it did then it wouldn't need the extra 2 digits)

[2019-01-31 21:44] sharma-kunal commented on #15888
As suggested by @ethankward, it works for rational value and sometimes it also gives correct result for equations in real domain. So I have applied a check for if the algo returns empty result with equations being in real domain than a `NotImplementedError` must be raised with proper details as suggested by @jksuom

[2019-01-31 22:19] oscarbenjamin commented on #15137
I now get `None` as output from `t_n.simplify` (on master):
[code]

I think that's because `t_n.simplify` simplifies in place and returns `None`. Printing `t_n` after I get:
[code]

[2019-01-31 23:07] oscarbenjamin commented on #15106
Closing as the result is correct. The docstring for `Line` says
[code]
so the line does not have end points and the results are correct as @normalhuman says.

[2019-01-31 23:07] #15106 closed

[2019-01-31 23:28] oscarbenjamin opened #15896 "Solve of quartic with numeric coefficients gives Piecewise"
From #15090.

Solving a quartic with known numeric coefficients leads to a Piecewise solution (with conditions in terms of pure numbers):
[code]
(The output is long so omitted.)

Each solution is given as piecewise
[code]

An example of one of the piecewise conditions
[code]
This condition is always false.

[2019-01-31 23:54] oscarbenjamin opened #15897 "Evalf of piecewise doesn't fully eval"
Calling evalf on a piecewise doesn't evalf the subexpressions properly:
[code]

[2019-02-01 02:56] XtremeGood commented on #15881
Hi @oscarbenjamin
For second degree non homogeneous equations there is a method called variation of parameters techniques.Also laplace transformations can solve these type of equation.Should I build such a system?

[2019-02-01 05:40] XtremeGood commented on #15881
Hi @oscarbenjamin
Should I add a method in dsolve which which recursively try solving it for f(x).If not solvable then try substituting f'(x) and solve and return f(x).If still not then f''(x) to be substituted and so on.Will it be fine?
I still wonder why  sympy is not solving the equation by "Liouville ode" tactic already implemented.

[2019-02-01 06:13] oscargus commented on #15896
Isn't this related to complex values really being polynomials in `I`? Hence, the numerical coefficients must be complex?

Interesting with the empty fractional though.a

[2019-02-01 08:51] sharma-kunal commented on #15897
This looks like a bug. I would like to work on it.

[2019-02-01 10:19] divyanshu132 commented on #15852
@asmeurer @oscargus in the definition of eval_sum_hyper() in /sympy/concrete/summations.py we are calling Sum(f, (i, a, b)) to calculate the old_sum but the value of none of the variables f="x**y*y", i="y", a="-oo", b="oo" is changed in any call that's why it takes infinite time!!

[2019-02-01 11:38] oscarbenjamin commented on #15881
Hi again @XtremeGood.

If you add the code to match this type of ODE where I suggested then `classify_ode` will not return empty.

Perhaps you should open a new issue about the Liouville solver. The type of ODE referred to by this issue is more general than Liouville: it could be of any order.

[2019-02-01 11:47] XtremeGood commented on #15881
Hi @oscarbenjamin
I googled about the liouville equation but couldn't find any major content.It says it has some things to do with lie groups which is not even taught in my college till even 3rd year of math course .Nevertheless for the time being I will write the recursion till maybe tomorrow and the thing you are telling is quite necessary in solving many equations,About liouville equations, I w

[2019-02-01 11:48] oscarbenjamin commented on #15897
Great. Go ahead!

[2019-02-01 12:04] smichr commented on #15896
As I recall, rather than return NotImplemented when a decision can't (easily) be made as to whether a certain set of conditions or other applies to the 4 roots, the possibilities are enumerated and returned in a Piecewise. That it survives is testament to the fact that some condition(s) didn't evaluate and a decision was not made. If you run simplify on the conditions they will simplify; perhaps t

[2019-02-01 12:08] smichr commented on #15896
(Even a simple `_mexpand` from sympy.core.function would be a sufficient level of simplification.)

[2019-02-01 14:24] sharma-kunal commented on #15897
While solving the issue, I found that while solving a Piecewise function the algo checks for any substitution and if not it raises NotImplementeError which finally leads to returning the function as it was. For example
running these returns:

[code]

For the first example, since it has flag subs set, it is evaluated but giving output in wrong format.
As for the second case, it does not have any fl

[2019-02-01 15:50] #15888 closed

[2019-02-01 16:17] oscargus opened #15899 "Canonical and pi"
[code]

For all these expressions except the second to fifth, the method does what it is supposed to do, put the symbol on the left hand side and the number of the right hand side. Any idea @smichr ? (The same hold for `Eq`, just happened to try with `<` and `>`)

It messes things up a bit for #15898 (I do not think that it may be sorting things out directly anyway, but I ran across it trying to f

[2019-02-01 17:44] smichr commented on #15899
Probably just trying to be as fast as possible and not get bogged down with things that aren't very "simple". It could be that any `foo` such that `foo.is_number is True` could be put on the rhs. I knew about the difference when working on that. I don't remember now the rationale for not using `number` instead of `Number`. Maybe a diff would have a comment?

[2019-02-01 21:04] asmeurer commented on #15897
I'm not sure if the `subs` parameter is related here. I may be wrong about this (the evalf algorithm is somewhat complicated).

There is a special code path that partially evalfs expressions. For instance, `(pi*x).evalf()`. I would determine what code path that takes, and then determine why it does not work for Piecewise.

[2019-02-02 04:37] bghanchi commented on #15186
i would like to take thise issue

[2019-02-02 07:09] sannanansari commented on #15448
Is this issue is open? I would like to contribute to this issue.

[2019-02-02 10:30] jmig5776 commented on #15899
@oscargus, @smichr What  is exactly needed to be done here?

[2019-02-02 11:47] oscargus commented on #15899
@smichr I didn't see anything like that in the diff. It wasn't really clear how the earlier code handled that case either.

@jmig5776 Ideally, all `Relational` should look identical in their canonical form if they express the same thing, so `x <= 2*y`, `y >= x/2`, `-2*x >= -4*y`, and `x - 2*y <= 0` should all give the same result.

It is less important which, but most likely something like the fir

[2019-02-02 15:11] oscargus commented on #15899
I have worked a bit on `simplify` for `Relational` (no ready PR yet). The gcd stuff will to some extent be handled there, so basically it is the original issue (always get constants to the rhs) and always normalize the type of relation (first point in the list) that need to be sorted out here.

[2019-02-02 16:50] supreet11agrawal opened #15903 "FiniteRV allows non valid probability distribution"
https://github.com/sympy/sympy/blob/master/sympy/stats/frv_types.py#FiniteRV allows non valid probability distribution. It allows total probability not equal to 1. And also individual events' probabilities >1 or <0 are also allowed.
To reproduce the issue

This will work. You can check by using `E(X)` or `P(X)` that it works even if it wrong.
Other examples are
` >>> density = {0: .1, 1: .2, 2: .3

[2019-02-02 17:09] supreet11agrawal opened #15904 "Rademacher Distribution not added to sympy docs"
Description of sympy.stats.Rademacher from https://github.com/sympy/sympy/blob/master/sympy/stats/frv_types.py#Rademacher is not added to the docs https://docs.sympy.org/dev/modules/stats

[2019-02-02 17:38] supreet11agrawal commented on #15904
I see a similar problem with https://github.com/sympy/sympy/blob/master/sympy/stats/drv_types.py . Only Geometric and Poisson distribution are added to the docs

[2019-02-02 17:52] moorepants commented on #15186
Go for it.

[2019-02-02 18:57] oscargus commented on #15899
There is an issue in the current version of canonical:

[code]

or rather in reversed:
[code]

[2019-02-02 19:20] shubhamabhang77 commented on #15877
I too would like to work on this issue. I am new here. So please guide me so that I can cope up with it.

[2019-02-02 19:21] XtremeGood commented on #15881
Hi @oscarbenjamin
One thing caught my mind,that if the equation contains f(x),f'(x),f''(x)etc then only the lowest order should be substituted can be substituted.To make it more clear consider eq = f(x).diff(x, 2) + x * f(x).diff(x)**2 + f(x).Now if I substitute it would make it some integro-differential equation that too non linear.It would further require complicated maths ranging from Fredholm

[2019-02-02 19:59] jmig5776 commented on #15899
A lot of work is needed in this issue, I am trying to understand the domain of this issue before making any suggestions or fix.

[2019-02-02 20:12] sharma-kunal commented on #15897
@asmeurer Thanks for your suggestion. I also found that piecewise does work for expressions like

[code]

[2019-02-03 00:07] oscarbenjamin commented on #15881
This method should not be used if f(x) appears outside of derivatives. In dsolve it's not actually necessary to return NotImplementedError. We just need to test for this when deciding if the method matches the ODE. I recommend just to test `if eq.subs(...).has(f(x))`.

[2019-02-03 00:39] oscarbenjamin opened #15907 "Matching failure for simple linear expression"
This match works:
[code]
However removing the `a` Wild from the pattern means it longer matches:
[code]

[2019-02-03 00:47] oscargus commented on #15877
@shubhamabhang77 Have a look at #15901 and #15906 to get some idea. Will be easier to test once these are merged.

Then, pick one or a few flags and figure out what they mean. For example, the matrix printing code is:
https://github.com/sympy/sympy/blob/75e22267a5385591a7be80ed6cd68132b655c4e3/sympy/printing/mathml.py#L596-L607 so for `mat_delim` figure out which part generates the brackets (the l

[2019-02-03 01:45] oscargus commented on #15899
I agree that it sounded a bit complicated. However, after working with #15905 now, many of those things happens in the simplification rather than here I have realized. Hence, I believe that it should be quite feasible to implement something that does the following:

Assume that each relation have a left hand side, `lhs`, and a right hand side `rhs`. No need to move terms back and forth, that will

[2019-02-03 04:32] divyanshu132 commented on #15904
I'll take this

[2019-02-03 05:48] XtremeGood commented on #15881
Done it, please see,I do have a github account but 'm not familiar to merge,pull requests etc.
https://github.com/XtremeGood/Sympy-Contrib/blob/master/Sympy%20Edit.py

[2019-02-03 14:16] shubhamabhang77 commented on #15877
will it useful to read the content from this page for this issue. https://www.w3.org/TR/MathML2/chapter3.html

[2019-02-03 15:00] pathakcodes commented on #15907
I want to work on it. Please assign me this.

[2019-02-03 16:50] oscargus commented on #15907
@pathakcodes it seems that one can only assign people that are somehow "members" of sympy. Not sure how it works in detail, but your name does not show up when trying to assign you, not even typing your name works, despite having commented on the issue.

[2019-02-03 17:08] oscargus commented on #8373
I was pointed here by @smichr (thanks again!) after #15912 (also, #15905 is relevant).

Here are my 2 cents:
[code]

My conclusion from this is that relations are only valid for reals. Hence `x**2 < 0` is False by definition. If not, the above comparison should also be valid, since is valid (as a valid comparison, not True) for any x with -I as imaginary unit.

I realize that there are some potent

[2019-02-03 18:14] sharma-kunal commented on #15897
@asmeurer @oscarbenjamin I was trying to solve the issue and got correct result for this case and some more, but while testing for `test_solveset.py` it calls the recursion infinitely. I can't find why it is so ?
What i did is, how normal

[code]
was solved, I did the same for piecewise also. So it was just by changing method `_eval_evalf` at line 1155 in `sympy/core/power.py` from this

[code]
to

[2019-02-03 18:34] shubhamabhang77 commented on #15877
I have been reading on this much but I am not able to get what you said. i might be going in the wrong direction. Can you suggest any article regarding this ?

[2019-02-03 18:52] oscargus commented on #15877
Which part of it? MathML? The printer? Python? Sympy? XML?

[2019-02-03 19:04] oscarbenjamin opened #15913 "checkodesol doesn't recognise solution with unevaluatable integral"
checkodesol should report True/False to say whether an expression is a solution of an ODE e.g.:
[code]

However with the following ODE checkodesol gets it wrong:
[code]

We can correctly find that this is a solution much quicker when using
[code]

[2019-02-03 23:14] oscargus commented on #15448
@sannanansari  There are two ongoing PRs, #15479 and #15764. So probably better to work on something else.

[2019-02-04 00:57] oscarbenjamin opened #15915 "Error substituting a function into an Order"
Order `O` doesn't like having a function substituted into it:
[code]

I would have expected the result to be `1 + f(y) + O(f(x)**2)` but that also comes out strangely:
[code]

[2019-02-04 01:07] oscarbenjamin opened #15916 "Dsolve shouldn't return series solutions"
For most ODE inputs `dsolve` returns an exact solution or raises NotImpementedError. Occasionally though it returns a series solution e.g.:
[code]
Speaking just for myself I never want this solution when calling `dsolve`. It takes a long time to compute these solutions and there isn't any way of knowing in advance that this will happen.

I think it would be better if obtaining power series solutio

[2019-02-04 05:14] cbm755 commented on #15862
FYI, fixed downstream

[2019-02-04 08:06] #15904 closed

[2019-02-04 08:56] oscargus commented on #15877
The Printer tries to find a method called _print_xxx where xxx is the class name. To see the class names, use srepr(expr). For example:

[code]
Hence, it tries to find `_print_log` and `_print_Symbol`. As `_print_log` does not exist, it tries the parent class of `log`, `Function`. Here, `_print_Function` simply prints the name of the function, line 877,
https://github.com/sympy/sympy/blob/27f2f10b

[2019-02-04 09:01] oscargus commented on #15877
I'm not an expert on MathML, but I have used some "pattern matching" in my head and the editors pointed out above to get an idea what the correct output should be. Then one can always try out the result to make sure that it renders as expected.

[2019-02-04 11:57] oscarbenjamin opened #15919 "Evalf doesn't work for expressions involving Symbols"
See also #15897

[code]

[2019-02-04 12:01] oscarbenjamin opened #15920 "Eq(RootOf(), y) evaluates as False"
Creating an Eq with a `RootOf` evaluates as False.
[code]
Since `y` is Symbol there is no way to know that it isn't equal to `r` so this should do the same as
[code]

[2019-02-04 12:13] oscargus commented on #8373
After some more thinking. It should be possible to apply most of the "problematic" simplifications discussed above for the case of Piecewise segments, right?

For 5. One just need to make sure that oo is the first segment etc. (Although one could also wonder if that type of expression actually shows up unless hand written and I guess one can always write things that tricks the system, somehow I gu

[2019-02-04 12:56] sharma-kunal commented on #15897
@oscarbenjamin Is there some documentation regarding the algorithm used in evalf and about it's functions?

[2019-02-04 13:53] oscargus commented on #15920
This is where it becomes false:

https://github.com/sympy/sympy/blob/27f2f10b965f912ea38bb189e6b498ec00efdb08/sympy/polys/rootoftools.py#L964-L965

[code]

[2019-02-04 14:41] XtremeGood commented on #15881
Oh sorry I closed it by mistake.There was some message from sympy bot to edit it and I messed it up.Posting again.

[2019-02-04 14:53] RituRajSingh878 commented on #15920
@oscarbenjamin  insted of `False`. What should be the output .
I think we can raise `ValueError`.

[2019-02-04 16:39] SergeyKa777 opened #15925 "Problem integrate sqrt((1+sin(fi))**2+(cos(fi))**2)"
SymPy cannot calculate the length of the cardioid.
How to write the code to calculate the length of a closed line?
Python 3.7.1 SymPy 1.3

    from sympy import *
    fi = symbols('fi')
    cont = integrate(sqrt((1+sin(fi))**2+(cos(fi))**2), (fi, -pi/2, pi/2))
    print(cont)

    Integral(sqrt((sin(fi) + 1)**2 + cos(fi)**2), (fi, -pi/2, pi/2))

It also can not calculate the code:

    from sympy

[2019-02-04 16:41] XtremeGood commented on #15883
I would like to contribute.

[2019-02-04 17:43] oscarbenjamin commented on #15897
You can see the main code for evalf here I think:
[https://github.com/sympy/sympy/blob/master/sympy/core/evalf.py](https://github.com/sympy/sympy/blob/master/sympy/core/evalf.py)

There is a function evalf_piecewise there which is where I would start.

There is also some documentation here:
[https://docs.sympy.org/latest/modules/evalf.html](https://docs.sympy.org/latest/modules/evalf.html)

[2019-02-04 18:06] oscarbenjamin commented on #15920
The result should be `Eq(RootOf(x**5 - x + 1, 0), y)`.

[2019-02-04 18:13] asmeurer commented on #15897
I don't think there is any documentation beyond what is in the code.

[2019-02-04 18:51] asmeurer commented on #15883
This isn't a good issue to contribute on. We first need to decide if it is worth making this change. I am thinking it might not, as it would be a backwards incompatible change and we cannot do a deprecation.

[2019-02-04 18:57] pathakcodes commented on #15907
OK , So i am working and will send PR . PLease check how to assign me this.Thanks

[2019-02-04 18:58] RituRajSingh878 commented on #15925
#15730 look this issue .
These integral can be solved by applying simplify to the expressions.
because `simplify(sqrt((1+sin(fi))**2+(cos(fi))**2))` and `simplify(pp)` leads to form` (sqrt(1+sin(x)) or sqrt(1+cos(x))`.

[2019-02-04 20:20] adhoc-king opened #15926 "Function for perfect, deficient, abundant numbers"
There should be a separate function for checking whether a number is perfect, deficient or abundant. If you liked this idea then I can add a pull request.

- [x] perfect
- [ ] deficient
- [ ] abundant

[2019-02-04 21:05] Yathartha22 commented on #15352
Ohk so as I see this problem, the result is unevaluated because SymPy does not takes `inf` into account when multiplication operation is performed (because it has `oo` instead). The result is as per SymPy's behaviour (does not approximates).

I guess we need @jksuom 's and @asmeurer 's points of view on this.

[2019-02-04 21:19] asmeurer commented on #15926
I think it would be good to have.

For perfect numbers, there are only [51 known ones](https://en.wikipedia.org/wiki/Mersenne_prime), so we could just check against a list. I don't know if there is an efficient way to test if a number is abundant.

[2019-02-04 21:23] asmeurer commented on #15352
There was some discussion about replacing `Float('inf')` with `oo`. See https://github.com/sympy/sympy/issues/6965. I don't know if we ever decided if we should do it or not. IMHO we should, same as we did with nan, but there may be downsides to it I'm not aware of.

[2019-02-04 21:31] asmeurer commented on #15916
Agree, it shouldn't do it unless you use `series=True`, or even a separate function `dsolve_series`.

[2019-02-04 21:33] asmeurer commented on #15916
Technically you can check `classify_ode` first. But regardless I still think dsolve should only return exact solutions by default.

[2019-02-04 21:51] adhoc-king commented on #15926
I think ntheory/factor_.py would be the appropriate place

[2019-02-04 21:56] adhoc-king opened #15927 "Function for proper divisors"
A function returning the list of proper divisors seems to be missing

[2019-02-04 22:00] SergeyKa777 commented on #15925
This code also does not work.

from sympy import *
import math
fi = symbols('fi')
t = symbols('t')
pp=sqrt((-12*cos(t)**2*sin(t))**2+(12*cos(t)*sin(t)**2)**2)
zz=simplify(pp)
print(pp)
cont = integrate(zz, (t, 0, pi/6),manual=True)
print(cont)

`sqrt(144*sin(t)**4*cos(t)**2 + 144*sin(t)**2*cos(t)**4)
3*sqrt(2)*Integral(sqrt(-cos(4*t) + 1), (t, 0, pi/6))`

------------------
from sympy import *
fi

[2019-02-04 22:07] adhoc-king commented on #15927
#15928

[2019-02-05 04:16] divyanshu132 commented on #15323
I'll try to fix this.

[2019-02-05 06:06] RituRajSingh878 commented on #15925
It will work after merging pr #15773 .

[2019-02-05 07:36] jksuom commented on #15352
I agree. `_mpf_inf` and `_mpf_ninf` could be added to [special cases](https://github.com/sympy/sympy/blob/master/sympy/core/numbers.py#L1053) in `Float.__new__`. Something else could be changed as well, for instance, [these statements](https://github.com/sympy/sympy/blob/master/sympy/core/numbers.py#L955-L958).

[2019-02-05 08:46] asmeurer commented on #15352
I don't know how many places in the code look for or expect float inf, but we could keep compatibility by making oo and -oo instances of Float with the proper `_mpf_`.

[2019-02-05 10:49] funsunac commented on #15915
I would like to work on this issue, but for the first problem, I am not quite sure which direction to go.

The error is that `Order._eval_subs` tries to solve for y in x = f(y) in order to compute and update the new limit for the expression f(y).

https://github.com/sympy/sympy/blob/1bd5d04ffe2b47b91fd03a868ca31c3c3f9e243e/sympy/series/order.py#L437-L444

The solveset returns a ConditionSet
[code]

[2019-02-05 11:02] oscarbenjamin commented on #15915
Thanks for tracking this all down.

Mathematically I don't see how `O(x).subs(x, f(t))` can lead to anything other than `O(f(t))`. I don't know if allowing that would lead to problems in the implementation of `O` though. Maybe give it a try and see what it does to the tests?

I don't know much about this part of SymPy so perhaps someone else should advise.

[2019-02-05 12:38] jksuom commented on #15915
The full expression of `O(x)` is `O(x, (x, 0))`, and that of `O(f(t))` is `O(f(t), (t, 0))`. It seems to me that `O(x).subs(x, f(t))` should be something like `O(f(t), (t, a))` where `f(a) = 0`.

[2019-02-05 12:43] oscargus commented on #15877
If you compare it with the generated MathML code you will be able to tell what it does.

[2019-02-05 16:01] #8458 closed

[2019-02-05 16:03] Yathartha22 commented on #15352
You mean `oo` and `-oo` should inherit `Float`? Probably I didn't get the point in doing so.

Also I was trying an example after applying changes in `Float` class

[code]
and I couldn't figure out why `inf*sqrt(2)` doesn't simplifies and how `inf` gets here.
I will look in greater detail on working of `P` but till then any headstart will be really helpful.

[2019-02-05 17:10] jhanwar commented on #15927
I am working on it.

[2019-02-05 17:13] sharma-kunal commented on #15897
What I mean is for functions like

[code]

Shouldn't it be more or less like,

[code]

[2019-02-05 17:22] adhoc-king commented on #15927
@jhanwar Have a look at this PR #15928
Kindly suggest/make changes there

[2019-02-05 18:51] jmig5776 commented on #15919
@oscarbenjamin I would like to work on this issue.

[2019-02-05 18:51] adhoc-king commented on #15926
@asmeurer I can think of the following heuristics for this.
1. All primes and its powers are deficient.
2. Every multiple of abundant and perfect number is abundant.

[2019-02-05 19:15] jmig5776 commented on #15919
@oscarbenjamin Can you tell me exactly what we want?

[2019-02-05 21:59] oscarbenjamin commented on #15919
Here's an example that works:
[code]

Now I want to be able to do the same with an exponential function but it doesn't work:
[code]

The output I want to see from that last command is:
[code]

[2019-02-05 22:11] pathakcodes commented on #15907
@oscargus sir , I have checked the match function as well as associated functions. I think it requires one more try till then can you guide me in right direction or point out the problem part.
<pre>&gt;&gt;&gt; (x + (y-1)*z).match(a*x + (y-1)*z)
{a_: 1}
</pre>
above thing works but ,
<pre>&gt;&gt;&gt; (x + (y-1)*z).match(x + b*z)
</pre>
this gives a none  or no match instead of
`b : (y-1)`

[2019-02-05 22:14] oscarbenjamin commented on #15907
Hi @pathakcodes, yes that's the problem. Have you looked through the matching code to find the solution?

I would probably start by following through what happens when you call match in a debugger.

[2019-02-05 22:15] terben opened #15931 "series of sin(x) around x=pi wrong"
It seems that a simple series expansion of `sin(x)` around `x=pi` does not give the correct answer:

[code]
The leading term of the series should be `-(x-pi)` and not `pi`!

[2019-02-05 22:21] oscarbenjamin commented on #15931
It's showing up a little strangely. The `-x` is over by the `O`.

[2019-02-05 22:22] pathakcodes commented on #15907
@oscargus Yes sir , I have seen the core module match part . I think I had to check more with "Sympify".
Ok , will get back once problem is spotted . Can you guide where problem could be. Thanks

[2019-02-05 22:31] terben commented on #15931
Thanks! Great that it is only a display issue and no real bug!

[2019-02-05 22:38] oscarbenjamin commented on #15931
No problem. So can you close this or do you think that should be fixed?

[2019-02-05 22:43] terben commented on #15931
From my side we can close it. Fixing it at some point is certainly a *nice to have* but not essential.

[2019-02-05 22:43] #15931 closed

[2019-02-06 02:40] jmig5776 commented on #15919
Okk I got your point.

[2019-02-06 03:51] divyanshu132 commented on #15829
@asmeurer as I've seen lots of examples are in format as in first figure. Can you please tell me what actually needs to be done??

[2019-02-06 08:15] jksuom commented on #15494
I would preferably try to prevent `manualintegrate` from returning `nan` by something like this:
[code]

[2019-02-06 11:28] oscargus opened #15934 "LaTeX priniting: \mathrm vs. \text"
It turns out that both `\mathrm` and `\text` is used for printing "text" in the LaTeX printing routines. It seems like there should be one that is standard and that it should be possible to change that by configuration.

### \text
 * **Pro** adapts the font to the used math-font, not necessarily a Roman font
 * **Con** Relies on the `amsmath` (or some other `ams*` package

### \mathrm
 * **Pro** w

[2019-02-06 11:39] oscargus commented on #15934
I should probably add that many of these instances are probably from documentation, so the effort to implement it will not be to manually change 169 instances.

[2019-02-06 11:59] jksuom commented on #15934
I think that \text and \mathrm are intended for different kinds of use. \mathrm is used for symbols like 'sin' that contain typically only a few letters. \text is used for non-mathematical comments like 'otherwise', and the font is the current font used outside math.

[2019-02-06 12:11] supreet11agrawal commented on #15903
I am working on this

[2019-02-06 12:28] oscargus commented on #15934
There is also `\operatorname` which seems to be the best of two worlds. When in comes to operator names. This is used 183 times. So maybe it is less of a issue than I initially thought.

The main problem with `\mathrm` as I see it is if you are using your equations in a presentation with Beamer and the template is using a san-serif font. In this case all math will also be using a sans font, includ

[2019-02-06 12:39] jksuom commented on #15934
It is my understanding that \operatorname will also use a math font (\mathrm, I think) but will also add automatic space around the name in question, so "\operatorname{sin}x" will print "sin", a (thin) space and "x".

[2019-02-06 13:11] jmig5776 commented on #15919
@oscarbenjamin I had tried to solve this issue in #15935 . For now this fix seems to me specific, any suggestions you have to improve it please share.

[2019-02-06 13:17] jmig5776 commented on #15913
I would like to work on this issue.

[2019-02-06 13:45] ethren commented on #15838
@jmig5776
Sorry I think you shouldn't belong to Sympy you are useless. Please something else that could be convenient for you. Sympy doesn't work by hardcoding.

[2019-02-06 13:56] oscargus commented on #12090
Now this seems to generate `{a_{b}}_{c}` so I close this.

[2019-02-06 13:56] #12090 closed

[2019-02-06 14:05] oscargus commented on #6970
This seems to be fixed in the current master, so I am closing this.

`\\frac{1}{\\left(a_{j}^{+}\\right)^{2}}`

[2019-02-06 14:05] #6970 closed

[2019-02-06 14:27] oscargus commented on #11972
As you noticed it is not really feasible to fix this without Unicode symbols for it. I close this, but be sure that once there are symbols it will happen,

[2019-02-06 14:27] #11972 closed

[2019-02-06 14:29] oscargus commented on #9861
This seems to have been fixed since this was filed:

[code]

Feel free to reopen it if this is still a problem.

[2019-02-06 14:29] #9861 closed

[2019-02-06 18:16] asmeurer commented on #15827
The fix for this was incorrect.

[2019-02-06 19:00] asmeurer commented on #15934
I believe our LaTeX printer already assumes amsmath is used in several places. I don't use LaTeX much, but are there instances where amsmath can't be used?

[2019-02-06 19:55] oscarbenjamin commented on #15919
I said this on #15935 already but I think it's probably better I say it here:

I'm not sure that this is the right fix.

Looking in the debugger (under master) a `KeyError` is raised from here:
[https://github.com/sympy/sympy/blob/master/sympy/core/evalf.py#L1225](https://github.com/sympy/sympy/blob/master/sympy/core/evalf.py#L1225)
which is called from here:
[https://github.com/sympy/sympy/blob/m

[2019-02-06 20:19] asmeurer commented on #11668
I think we should add a code quality check for bare `except:`. The few instances where it is acceptable  (basically, when the exception is reraised) can be replaced with `except Exception:` or `except BaseException:`. But for the most part, using `except:` is a serious code smell, that should usually be rewritten to avoid the use of `try` at all, and when that is not the case, it should catch the

[2019-02-06 20:49] oscargus commented on #8774
At the moment it prints `x_01` as it seems like it is evaluating the expression. I am closing the issue and if anyone finds a similar current issue, feel free to reopen it.

[2019-02-06 20:49] #8774 closed

[2019-02-06 20:59] oscargus commented on #15934
I remembered correctly. This is an output from beamer with the different options:
![image](https://user-images.githubusercontent.com/8114497/52373097-25233b80-2a5a-11e9-8d26-d74860eda71f.png)
This shows quite clearly why `\mathrm` isn't a good idea (and why `\operatorname` is better for operators, as it uses the same spacing). The other spacing one can somehow ignore though, as of course it is pos

[2019-02-06 21:02] oscargus commented on #15934
Regarding amsmath: I do not know of any such case. I am thinking more from the perspective that many people have a hard time getting started with LaTeX and packages and so on. But I think that `\operatorname` and `\text` is still the way to go. Unless there are some symbols that for sure should be written in a Roman font.

[2019-02-06 21:16] oscargus commented on #9313
@sharma-kunal It did not close the issue. A hint is to identify all combining accents first and then do not include those when computing the width. See https://en.wikipedia.org/wiki/Combining_Diacritical_Marks

As they are in a single continuous numerical range it should be quite feasible, although Unicode in itself is a bit challenging sometimes.

[2019-02-06 21:22] asmeurer commented on #15934
In latex.py, `\mathrm` is used in the printers for `bool`, `NoneType`, `Trace`, `BaseScalarField`, and `Differential` (which has some unreachable code btw). For Trace we should obviously be using \operatorname, but for the others I'm not so sure. `\text` is currently used only in the Piecewise printer.

[2019-02-06 21:32] oscargus commented on #15934
Regarding amsmath I realized that \dddot and \ddddot are from amsmath, so #15982 added a bit more amsmath dependencies... (They were already used in the physics.vector printer earlier though.)

[2019-02-06 22:04] oscarbenjamin commented on #11668
Since your comment here appears to be prompted by #15935 I feel I should point out that [as I said there](https://github.com/sympy/sympy/pull/15935#issuecomment-461191411) that case is not a bare except. Actually it is:
[code]
The problem is that two lines are in the try block but the except is intended only to catch the expected error from the first. This means that exception raising bugs in the

[2019-02-06 22:14] asmeurer commented on #11668
Exactly. Almost every use of a bare `except:` can be replaced with `except SpecificException`, where the specific exception is what the author of the code expected to go wrong. The problem with bare except is it hides any other errors. Even something like misspelling a variable name would raise a NameError and be silenced by the except.

For `KeyError`, you should virtually always use `.get` inste

[2019-02-06 22:24] asmeurer commented on #15934
Even `matrix` requires amsmath, according to [this](https://en.wikibooks.org/wiki/LaTeX/Mathematics#cite_note-amsmath-3). I've never heard anyone complain about it. amsmath comes with LaTeX and is fully supported by MathJax, so I don't think there is an issue there.

The main compatibility issues for LaTeX are that it should be supported by MathJax (but virtually everything is), and it should be s

[2019-02-07 13:59] sylee957 commented on #15883
I would personally have some question about, for which criteria should a computation to be considered cheap or expensive?

For example, almost every matrix properties would have at least O(n^2) time complexity, for obvious reason that there should be elementwise investigation to search for a certain property.
Though some properties like `is_square`, which can take advantage of comparing some 'meta

[2019-02-07 14:16] cklb opened #15938 "Function: srepr does not include assumptions"
Similar to PR #8819 which added support for assumptions in Symbol, the same ability would be really helpful for Function. If I understand #6494 correctly, Assumptions themselves should work for Function since https://github.com/sympy/sympy/commit/6b5a3977ae23d025d8b2e53029662a7fa800d21b.

Sadly, currently the following assertion fails:
[code]

If I correctly understand the changes in #8819,  `_pri

[2019-02-07 15:45] oscargus commented on #14425
As I've read up more on this now. The combining accent (or combining diacritical mark as it should be called) is added after the character it is should be applied to in Python. However, as evident above, it is up to the terminal to render this correctly.

One can also note that one do not need a font for the combined character, only for the separate ones, as they will be rendered "on top" of each

[2019-02-07 16:29] #9136 closed

[2019-02-07 16:29] #12585 closed

[2019-02-07 16:32] divyanshu132 commented on #15380
I'm taking this.

[2019-02-07 17:44] jmig5776 opened #15940 "trigsimp or simplify fails to simplify this inverse trigonometric identity"
Following code is tested in Sympy 1.3.
[code]
This also does not simplify even if 0<D<1

[2019-02-07 22:43] lxkain opened #15942 "infinite sum evaluation"
Hello,

it would be lovely if

k = sym.symbols('k', integer=True)
sym.Sum(1 / (1 - 4 * k ** 2) ** 2, (k, -sym.oo, sym.oo)).doit()

evaluated to pi^2/8 instead of nan - thank you for creating such an excellent open-source library!

[2019-02-07 23:09] asmeurer opened #15943 "Wrong result from summation"
[code]

The result is clearly wrong, as it has a `zoo` term even though the summation is finite.

[2019-02-08 12:11] oscargus commented on #3926
Gigantic patch (probably caused by changing line endings): http://storage.googleapis.com/google-code-attachments/sympy/issue-827/comment-0/better_deriv_printing.patch

[2019-02-08 12:29] smichr commented on #15943
I saw this when working on derivatives. The code was using the zoo result to essential cancel out terms rather than minding whether the factorial argument was negative and avoiding those terms.

[2019-02-08 13:56] jksuom commented on #15943
`eval_sum_hyper` evaluates finite sums by computing [two infinite sums](https://github.com/sympy/sympy/blob/master/sympy/concrete/summations.py#L1159-L1160) and taking their difference. In this case, the computation is doomed as both sums are divergent:
[code]
Apparently, the helper function `_eval_sum_hyper` should return `None` for divergent sums.

[2019-02-08 15:38] certik commented on #3926
@oscargus would you mind please sending the patch as a github pull request?

[2019-02-08 17:14] jksuom commented on #15943
Correction: The series are not divergent. `zoo` comes from the computation of the second series starting from `k = n + 1`. That makes `factorial(n - k)` infinite on [this line](https://github.com/sympy/sympy/blob/master/sympy/concrete/summations.py#L1139). Probably `f` should be simplified before attempting `f.subs(i, 0)`.

[2019-02-08 18:07] lxkain opened #15945 "arg() expression should evaluate"
Hi,

let's say I have

X = 𝐴/(2𝑖𝜋𝐹+𝑎)

Currently, if I do arg(X) I obtain

arg(𝐴/(2𝑖𝜋𝐹+𝑎))

in other words, it just wraps the original expression. However, shouldn't this evaluate to

sym.atan(sym.im(X)/sym.re(X))

which is

−atan((2𝜋𝐹)/𝑎)

?

[2019-02-08 18:19] oscarbenjamin commented on #15945
The simplification `arg(X) = atan(im(X)/re(X))` isn't valid without assumptions on `X`:
[https://en.wikipedia.org/wiki/Argument_(complex_analysis)#Computing_from_the_real_and_imaginary_part](https://en.wikipedia.org/wiki/Argument_(complex_analysis)#Computing_from_the_real_and_imaginary_part)

[2019-02-08 19:11] lxkain commented on #15945
Does it make a difference that I issued

A, t, a, F = sym.symbols('A t a F', real=True, positive=True)

?

[2019-02-08 19:29] jksuom commented on #15945
You could try using `arg(X).rewrite(atan2)` to introduce atan.

[2019-02-08 20:25] lxkain commented on #15945
Thank you, I tried rewrite(atan), which didn't work, but atan2 works!

[2019-02-08 20:25] #15945 closed

[2019-02-08 22:28] oscarbenjamin opened #15946 "Matrix exponential for dsolve"
Previous PRs: #15449, #14445 , #14338 , #14536 , #11510 , #9235
Issues: #15574, #15474, #15407, #14312

Currently the only n equations ODE system solver in dsolve is for handling linear constant coefficient homogeneous ODE systems and is broken for non-diagonalizable systems.

The class of ODEs solved is `dx/dt = A x` where `x` is a vector and `A` a constant matrix. The solution to these ODEs is s

[2019-02-08 23:11] oscarbenjamin commented on #15161
This issue is a result of a mixup. Closing as nothing to fix.

[2019-02-08 23:11] #15161 closed

[2019-02-08 23:20] oscarbenjamin commented on #15097
The docstring for `_linear_2eq_order2_type10` says it solves ODEs of the form
[code]

The docstring for `_linear_2eq_order2_type6 ` says it solves ODEs of the form
[code]

These are equivalent if `f(t)==g(t)==1/(alpha t^12+ beta t + gamma^2)` and `a_1==a` etc. What this means is that the equations solved by type10 are a subset of those already solved by type6. Type6 will always match first:
[https

[2019-02-08 23:41] oscarbenjamin commented on #15097
Sorry I was looking at the wrong place. Type10 is matched before type6:
[https://github.com/sympy/sympy/blob/master/sympy/solvers/ode.py#L1807](https://github.com/sympy/sympy/blob/master/sympy/solvers/ode.py#L1807)

[2019-02-09 00:02] oscarbenjamin opened #15947 "_xreplace error differentiating function of function"
It's possible to call f(g) when f and g are both functions. The result raises an error when differentiating:
[code]
This is an error but it's an odd error message. Probably this should be disallowed but it should be explicitly checked and disallowed with a better error message.

Perhaps f(g) should raise an error in the first place.

[2019-02-09 00:42] oscarbenjamin commented on #15097
There is an ODE in the tests that matches this solver:
[https://github.com/sympy/sympy/blob/master/sympy/solvers/tests/test_ode.py#L944](https://github.com/sympy/sympy/blob/master/sympy/solvers/tests/test_ode.py#L944)

However it is not tested with `dsolve` (only `classify_sysode`).

Testing it with `dsolve` leads to
[code]

Looks like the `assert False` was put there by @cbm755 6 months ago (when

[2019-02-09 01:11] oscarbenjamin opened #15949 "exp and difference of logs doesn't simplify with irrational coefficients"
These expressions auto-simplify
[code]
However this one does not simplify:
[code]

I would expect one of these results:
[code]

[2019-02-09 01:16] oscarbenjamin commented on #14996
Closing as fixed by #15020

[2019-02-09 01:16] #14996 closed

[2019-02-09 01:31] oscarbenjamin commented on #14935
Closing as incomplete

[2019-02-09 01:31] #14935 closed

[2019-02-09 01:41] oscarbenjamin commented on #14921
Closing as incomplete/invalid

[2019-02-09 01:41] #14921 closed

[2019-02-09 01:58] oscarbenjamin commented on #14900
Do you have any information about how this happened?

[2019-02-09 02:02] oscarbenjamin commented on #14891
I'm not sure I understand the issue. Do you mean that reordering causes problems when used for code generation?

[2019-02-09 02:14] divyanshu132 commented on #13449
@gxyd can I take this??

[2019-02-09 02:14] oscarbenjamin commented on #14859
Closing as looks like this was fixed by #14379

[2019-02-09 02:51] asmeurer commented on #14859
That PR wasn't merged. IIRC this was never fixed.

[2019-02-09 02:55] oscarbenjamin commented on #14859
Okay reopened

[2019-02-09 02:58] oscarbenjamin commented on #14859
The docs from
[https://docs.sympy.org/latest/index.html](https://docs.sympy.org/latest/index.html)
are currently using
`https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full`
as referred to at the start of this issue so it isn't fixed.

[2019-02-09 03:03] asmeurer commented on #14891
Commutative operators in SymPy generally canonicalize their argument order.

We could add short-circuiting boolean operators to the codegen module that retain their order.

[2019-02-09 03:04] asmeurer commented on #14900
What code did you run that resulted in this? The Java traceback is not very useful. Was there any kind of Python traceback as well?

[2019-02-09 03:11] oscarbenjamin commented on #14859
According to [https://www.mathjax.org/cdn-shutting-down/](https://www.mathjax.org/cdn-shutting-down/) the CDN shut down two years ago. It's clearly still working though. I think I read somewhere that they put in a redirect...

[2019-02-09 03:13] asmeurer commented on #14935
The code was uploaded as a zip file. In the future, it would be helpful to paste at least the error message or incorrect code to the issue itself, so that people don't have to download a zip file to see what is going on.

However, this doesn't look like an issue with SymPy. `inspect` works by searching the source code for the function source, based on the filename and line number that are in the d

[2019-02-09 03:16] asmeurer commented on #14859
If you go to https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full in your browser you can see it is being redirected in Javascript. I guess we should just replace the URL with the one being redirected to.

I guess as far as getting the latest version goes we will have to manually update `conf.py` whenever MathJax does a release.

[2019-02-09 09:59] oscargus commented on #3926
I can give it a try.

[2019-02-09 12:32] RituRajSingh878 commented on #15949
I think` exp(log(x)-log(y))` should not combine until we define x as positive integer.
[code]
so i think this is an issue.
but if we define x,y as positive then also` exp(sqrt(2)*(log(x)-log(y)))` is not combining .
So i am looking for this.
Thanks

[2019-02-09 13:31] sidhantnagpal commented on #15949
At least with the appropriate assumptions set for `x` and `y`, the expected result is obtained.
[code]

In general, shouldn't it be the case that `exp(v*log(u))` simplifies to `u**v` as well (with no assumptions set for `u` and `v`)?

It is true that `exp(v*log(u))` could be multi-valued for non-integral `v` and complex `u` but so will `u**v` be.

[2019-02-09 14:02] smichr commented on #15947
Since `f+1, f*2, f**3` all raise, it is left to make raise the case `func(func)`...but maybe all cases could raise more intelligently by seeing that no arg is an Undefined function. They must be AppliedDef.

[2019-02-09 20:42] oscarbenjamin commented on #15949
For non-integral `v` and complex `u` I wouldn't know how to define `u**v` apart from as `exp(v*log(u))` with the understanding that `log(u)` can be multivalued but that `exp` ignores `2*pi*I` terms. In other words I would *define* the multivalued-ness of `u**v` in terms of that of `exp(v*log(u))`.

We also have for all complex numbers that `exp(a+b) = exp(a) * exp(b)` and
[code]

[2019-02-09 20:58] oscarbenjamin commented on #14859
It redirects to:
`https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js`

The Mathjax organisation recommends that same URL on this page:
[https://www.mathjax.org/cdn-shutting-down/](https://www.mathjax.org/cdn-shutting-down/)

The patch in #14379 also uses the same URL (except version is 2.7.2).

Stack exchange is also using that URL (currently version 2.7.5 from view source):
[https://

[2019-02-09 21:56] RashiG27 commented on #12710
Hey! I would like to work on it. Please guide me through it.

[2019-02-10 00:53] oscarbenjamin commented on #14762
Related #15854. Following @normalhuman's point there the value at zero is different from the limit as x tends to zero.

If `x=0` then `x**2=0` so `log(x, x)` when x is zero could equally be `log(x**2, x)` which would have limit 2 rather than 1.

Currently `log(x, x)` will auto-simplify to 1 but `simplify` refuses for `log(x**2, x)` unless `x` is declared positive:
[code]

[2019-02-10 01:00] oscarbenjamin commented on #14761
This is the same as #15589 (which was opened more recently)

It's possible that a fix for #15919 would help.

[2019-02-10 01:01] oscarbenjamin commented on #15589
This and #14761 are duplicate issues

[2019-02-10 01:07] oscarbenjamin commented on #14771
CC @oscargus

[2019-02-10 01:58] oscarbenjamin commented on #14755
For the precise example show you can use `doit` to force evaluation of integrals (if that's what you want):
[code]

As the answer to the linked SO question says if you just want to detect whether there is an integral somewhere in an expression then `has` will do the job:
[code]

You say that's suboptimal because you just want to know whether the call to integrate evaluated properly in which case I

[2019-02-10 02:01] oscarbenjamin opened #15956 "Integral inconsistently forces evaluation of integrals in the integrand"
I'm not sure what the right behaviour here is but this seems inconsistent:
[code]

Why does the second example force the integration of the sub-integral when the first does not? From quick testing it seems that the former case is more common: the sub-integral only gets evaluated when it is the only part of the integrand.

[2019-02-10 02:06] oscarbenjamin commented on #14752
What's the status of this?

The comments above indicate that #13682 would be followed up with changes to the printers but that was 8 months ago. Did that happen?

[2019-02-10 02:30] oscarbenjamin commented on #14741
I think being able to write
[code]
would be a lot cleaner.

It would be more useful if `Eq`s were generally used and returned by different APIs though. One problem I've had with trying to use `Eq`'s systematically is the fact that they sometimes turn into `True/False` as in
[code]
which means that some substitutions expressed this way won't work.

[2019-02-10 02:41] oscarbenjamin commented on #14733
The output seems to have changed but this is still not fixed. On current master:
[code]

[2019-02-10 03:50] asmeurer commented on #14752
`__str__` is still defined on Ordinal so I guess not.

[2019-02-10 09:00] jksuom commented on #15956
It seems to be the intended behaviour if the class of the integrand is `Integral`. Iterated integrals are [automatically denested](https://github.com/sympy/sympy/blob/master/sympy/concrete/expr_with_limits.py#L47-L50).

[2019-02-10 09:49] jmig5776 commented on #15913
@oscarbenjamin I had solved it in #15957 Please review.

[2019-02-10 10:02] Naereen commented on #14859
Hi guys, yes exactly!
It's what I said last July…
Can someone merge this PR #15955 and close this issue asap?
Thanks!

[2019-02-10 11:06] oscarbenjamin commented on #15956
I wondered if that was the case. It seems like a quirk but I can't think of a situation where this is actually problematic since someone can just use `Integral` if they don't want to evaluate the subintegral and `doit` if they do...

Closing

[2019-02-10 11:06] #15956 closed

[2019-02-10 17:12] proy87 opened #15959 "tan(3*pi/8) returns unsimplified result"
Returns `sqrt(2)(sqrt(2)/2+1)`, but should be `sqrt(2)+1`

[2019-02-10 17:31] RituRajSingh878 commented on #15959
[code]
In general, also it is not simplifying so i think it is not an issue.
there are many like other examples -
[code]
same with exp(also not simplify) also.

first one is not simplifying but the second one is simplifying So maybe it is an issue from here or in sympy it is defined like this.

[2019-02-10 18:22] jksuom commented on #15959
The result should be expanded:
[code]
That could probably be done already in the code:
[code]

[2019-02-10 20:39] jmig5776 commented on #15959
+                        return 1/sresult - cresult/sresult

This works fine as you suggested.

[2019-02-10 22:56] oscarbenjamin commented on #14700
Can you show the code you used to generate the above outputs? It's difficult to investigate this seeing only the output.

[2019-02-10 23:17] oscarbenjamin commented on #14694
The matrix here is almost lower triangular:
[code]
When you say that Matlab does this in seconds is the resulting solution relatively simple? (Also I assume you mean Matlab's symbolic toolbox)

[2019-02-10 23:54] oscarbenjamin commented on #14668
This example works fine in SymPy live now

[2019-02-10 23:54] #14668 closed

[2019-02-11 04:03] asmeurer commented on #14752
`__str__` is still defined on Ordinal so I guess not.

[2019-02-11 13:41] #15959 closed

[2019-02-11 14:44] shubhamabhang77 commented on #15877
Do we have to add more attributes i.e. parameters in mathml printer as like? and I wanted to ask if I make some changes in the code of mathml.py file, what do I have to do see that  what changed in the output , basically means how can I test the code?

[2019-02-12 00:33] smichr opened #15965 "Integral.simplify should extract constants"
Compare the extraction of `y` in one case but not the other:
[code]
This extraction would help checkode recognize solutions where the constants appear inside the Integral (and will help any other simplification where constants appear in or out of the integrand within an expression). e.g #15913

This applies to Derivatives, too, where a y could be pulled out of `Derivative(y*f(x), x)`. cf #15964

[2019-02-12 00:35] #15949 closed

[2019-02-12 05:41] ShubhamKJha commented on #15701
@asmeurer I have started working on this according to your suggestion.

[2019-02-12 06:10] Ashutosh1995 opened #15966 "Finding the matrix element index in Add expression"
I have an addition expression in sympy involving Matrix Element.

I want to find the index of the Matrix element in that expression.

I referred [this](https://stackoverflow.com/questions/48018843/how-to-find-the-index-of-an-element-in-symbolic-matrix-based-on-a-symbol) but didn't get any help.

The expression looks like this:

`-0.178571403026581*P[0, 2] + 0.267857104539871
`
where,

`PMat = Matr

[2019-02-12 09:09] sidhantnagpal commented on #15966
This works fine. See https://docs.sympy.org/latest/modules/matrices/expressions.html for more information.
[code]

[2019-02-12 10:33] #15903 closed

[2019-02-12 12:10] Ashutosh1995 commented on #15966
I actually wanted the index to be returned, as in 0 and 2.

[2019-02-12 12:19] oscarbenjamin commented on #15966
Use `_.args` instead.

[2019-02-12 12:33] Ashutosh1995 commented on #15966
Yeah that did, thanks a lot !!

[2019-02-12 12:33] #15966 closed

[2019-02-12 13:05] oscargus commented on #15943
Look at https://github.com/skirpichev/diofant/commit/271d86a634a87af8640e0023f2a3335a916ace89 to see one way to fix(?) it.

[2019-02-12 16:10] RituRajSingh878 commented on #15942
@lxkain can you tell me how you are getting your answer(pi^2/8).
it may be related to #15838  issue.

[2019-02-12 16:16] lxkain commented on #15942
I used Wolfram Alpha, thank you for looking into it!

[2019-02-12 16:35] davidlowryduda commented on #6767
PyPy's behavior is much better now than it was 6 years ago, and I don't think this is an issue any more. I suggest that it be closed.

[2019-02-12 16:38] davidlowryduda commented on #4417
Good interval arithmetic was added in #2682. I think that this issue should now be closed.

[2019-02-12 18:11] oscargus commented on #12158
There is a PR is #13964 to consider which seems to do the trick.

[2019-02-12 18:11] oscargus commented on #11197
Same issue as #9313

[2019-02-12 18:12] oscargus commented on #9313
Seems to be solved in #12205 although some tests are required to merge it.

[2019-02-12 18:19] homocomputeris opened #15969 "ratsimp does not work when these is a root in the numerator"
[code]
gives
`Out[10]: sqrt(15)/180 + 1/18`
not
`(sqrt(15)+10)/180`

[2019-02-12 18:49] certik commented on #4417
@davidlowryduda thanks!

[2019-02-12 18:49] #4417 closed

[2019-02-12 18:50] oscargus commented on #15718
Looking at https://www.tutorialspoint.com/online_mathml_editor.php

`<mi><msub><mi>r</mi><mi>2</mi></msub></mi>` gives x2 just as written.

`<msub><mi>r</mi><mi>2</mi></msub>` gives x2 with the 2 as a subscript.

So, while Safari could render it better, it still seems like the current output is not correct (as it is clear that it tries to render it with subscripts, `<msub>`).

[2019-02-12 19:10] asmeurer commented on #6767
I don't know how much memory it uses but it doesn't crash Travis, so that's good enough for me. We've also fixed several memory issues in SymPy itself since this issue was opened (like removing the unbounded cache).

[2019-02-12 19:10] #6767 closed

[2019-02-12 20:02] asmeurer commented on #15943
It should perhaps use similar logic to `_eval_interval`. Maybe even use `f._eval_interval(i, None, 0)`.

[2019-02-12 20:17] oscargus commented on #15969
I can confirm this, but even when changing the code to return what you expects it gets simplified...

[code]
![image](https://user-images.githubusercontent.com/8114497/52665280-7eccaf80-2f0b-11e9-914f-b735ecb30545.png)

[2019-02-12 22:32] oscargus commented on #15877
Yes, the whole idea is to add more parameters/attributes. There are currently quite a few, although only some are implemented.

The easiest way to check the output is to execute the printer. See e.g the tests.

[2019-02-13 00:04] jhanwar commented on #15926
This will need some changes. Please suggest. I have checked outputs. It takes some time to calculate 40th Perfect Numbers to 51th Perfect Numbers. but We can show it with symbol.
I also have test cases for Perfect Numbers. I can add them if you want to.
I have not added comments yet. Comments can also be added.

[2019-02-13 00:28] shubhamabhang77 commented on #15877
I am not able to test the code if I make some changes ? Can you suggest something?

[2019-02-13 03:41] RituRajSingh878 commented on #15969
many types of expression are failing -
[code]

[2019-02-13 04:21] RituRajSingh878 commented on #15969
`ratsimp `is -"Put an expression over a common denominator, cancel and reduce."
So after canceling and reducing, it may not have a common base.

[2019-02-13 05:32] #14859 closed

[2019-02-13 06:30] smitgajjar commented on #15877
In your local sympy repository, add a test case for the code to be tested
in the test file listed under bin file, then execute it

On Wed 13 Feb, 2019, 5:58 AM shubhamabhang77 <notifications@github.com
wrote:

[2019-02-13 08:01] oscargus commented on #15877
Also, to simply see what comes out (to get an idea of what to add in the test), you can simply use `print_mathml` on your expression as in the third post in this thread.

(If you plan to develop directly on Github, it is in general quite tricky, and probably not feasible for this one.)

[2019-02-13 08:54] oscargus commented on #14033
Fixed in MathML-printer as well in #15901. Any more or can we close this now?

[2019-02-13 08:58] oscargus commented on #11273
This seems to have been fixed over time so I am closing this for now. Current output:
`<matrix><matrixrow><cn>1</cn><cn>2</cn></matrixrow><matrixrow><cn>3</cn><cn>4</cn></matrixrow><matrixrow><cn>5</cn><cn>6</cn></matrixrow></matrix>`

[2019-02-13 08:58] #11273 closed

[2019-02-13 08:59] oscargus commented on #11547
This is fixed in #11576 so I am closing it for now.

[2019-02-13 08:59] #11547 closed

[2019-02-13 09:01] oscargus commented on #4372
This seems to have be solved in current master so I am closing for now.

[2019-02-13 09:01] #4372 closed

[2019-02-13 09:08] oscargus commented on #11200
It seems like it currently does not give any errors, but clearly it would be nice to have a correct MathML output. Hopefully someone will revive your PR so that it can be merged.

[2019-02-13 09:32] oscargus commented on #7591
This seems to work in the current master, at least on my 3.7 installation, so I close it for now.

[2019-02-13 09:32] #7591 closed

[2019-02-13 09:42] oscargus commented on #6994
This is solved in current master by using `print(mathml(...` so I close this for now.

[2019-02-13 09:42] #6994 closed

[2019-02-13 09:56] oscargus opened #15974 "MathML printer for MatrixElement"
Currently

[code]

gives an error as it falls back to `Basic`:
[code]

After #15891 is merged it at least produces an output, but not correctly:
[code]

Hence, there are two problems to be fixed:
 - [x] Correct `_print_Basic` where the string should be embedded in `self.dom.createTextNode` or something like that
 - [x] Add a dedicated printer, `_print_MatrixElement`, leading to a slightly better r

[2019-02-13 10:14] oscargus commented on #12089
Now it returns
[code]
for content printer and
[code]
for presentation printer.

Probably not correct as it seems like it falls back to the printer for `Basic`.

Hence, a method `_print_IndexedBase` is required. Could be good to look at the LaTeX version to see how subscripts etc are handled.

[2019-02-13 10:20] oscargus commented on #5613
This method seems to have disappeared in current master so I am closing this for now.

[2019-02-13 10:20] #5613 closed

[2019-02-13 10:42] oscargus commented on #3926
See #15975

[2019-02-13 10:48] oscargus commented on #15624
I would say that one would need to enclose the multiple character names in e.g.  `\mathit{}` or `\text{}` to begin with. If not, LaTeX will typeset it as implicit multiplications and that would also be the correct interpretation from sympys side. No idea how this should be handled in the parser though, but it would be a correct way to handle it from a LaTeX perspective.

[2019-02-13 11:07] sashank27 commented on #15974
Hi! I would like to work on this issue. Let me know how to proceed on this.

[2019-02-13 11:26] oscargus commented on #15974
For the first problem you will just have to debug the execution and see what the conditions are for it to go wrong. The `_print_Basic` method works for many cases, but apparently not for this. I would expect it to recursively call itself and the second time it does not work based on the traceback. Hence, you will need to figure out what the input argument is to this second call and probably genera

[2019-02-13 11:38] #6913 closed

[2019-02-13 13:59] oscargus commented on #14645
This seems to have been solved in Diofant, see https://github.com/skirpichev/diofant/commit/cfdd6299131a98b032630223133ccd494e43c896 so it should be possible to find the solution there (although not in that commit).

[2019-02-13 14:36] smichr commented on #15965
I would envision something like the following being called first from Integral and Sum's `_eval_simplify` routines:

[code]

But first Integral needs to be given an `_eval_simplify` routine:

[code]
Here is an example of the function being used:
[code]

[2019-02-13 15:06] oscargus commented on #15974
There is a fix for correct sub- and superscripts in #15976

[2019-02-13 15:47] oscargus commented on #13379
I think that it could be possible to add an offset for the conversion. However, I would assume that the offset must be related to the relevant SI unit.

Are there more cases than temperature where this happens?

[2019-02-13 15:50] oscargus commented on #13379
Also what would you expect adding 40 degrees Celsius to 5 degrees Celsius? In everyday use, 45 degrees, but depending on situation you may expect 312 degrees as well. Probably even worse if you add Celsius and Fahrenheit. What does Pint do?

[2019-02-13 16:00] jksuom opened #15977 "Wrong result from discrete logarithm"
The Pollard rho method for computing the discrete logarithm may produce wrong results. From [this comment](https://github.com/diofant/diofant/pull/785#issuecomment-462963925):
[code]
In this example, `b = 31` is not a generator of the multiplicative group modulo 11, in particular, `a = 7` is not one of its powers (mod 11). Yet, the algorithm returns the wrong result 2.

The code, taken from a hand

[2019-02-13 17:22] jksuom commented on #15977
There are two things to consider: If `order` is not a prime, it is necessary to check that `mod_inverse(r, order)` exists, the condition `r != 0` does not suffice. And secondly, it has to be checked that `e = mod_inverse(r, order) * (ab - aa) % order` really does satisfy `(pow(a, e, n) - b) % n == 0`.

[2019-02-13 18:04] oscargus commented on #15353
How would
![image](https://user-images.githubusercontent.com/8114497/52733030-f52be900-2fc1-11e9-9f38-75fef2d26adc.png)
do?

`\left\{\left( x, \  a\right) \mid \left( x, \  a\right) \in \mathbb{C} \wedge \left\{\sin{\left(a x \right)}, \cos{\left(a x \right)}\right\} \right\}` so I realize that it is exactly the same as you requested. In a PR soon near you.

[2019-02-13 18:23] oscargus commented on #13570
I tried this in current master
[code]
and got
`\left( (\mathbf{\hat{i}_{A}}{|}\mathbf{\hat{j}_{A}}) + (\mathbf{\hat{j}_{A}}{|}\mathbf{\hat{i}_{A}}), \  (\mathbf{\hat{i}_{A}}{|}\mathbf{\hat{j}_{A}}), \  (\mathbf{\hat{j}_{A}}{|}\mathbf{\hat{i}_{A}})\right)`

So either it is working now or we need a (non) working example to solve it.

[2019-02-13 18:34] oscargus commented on #13570
The following:
[code]

Gives:
![image](https://user-images.githubusercontent.com/8114497/52734771-4dfd8080-2fc6-11e9-9f05-8713e53fdf78.png)
so it seems like the LaTeX is correct. Not obvious why it is not rendering, but I re-label this to IPython.

[2019-02-13 18:51] homocomputeris commented on #15969
But it doesn't imply it is split back into some sum:
_Reduce a Fraction:_ Simplify. That is, cancel out all common factors in the numerator and denominator until no common factors remain.

I believe, if `ratsimp` is explicitly applied, then it should always return a fraction over a common denominator, which probably should be its main purpose. Probably, `expand` should be the opposite of `ratsimp`

[2019-02-13 19:06] oscargus commented on #14194
I got this now (a bit to my surprise it breaks the lines...):
![image](https://user-images.githubusercontent.com/8114497/52736679-b3537080-2fca-11e9-9747-590b59e7317c.png)

Increasing the width doesn't change anything though. I would almost assume that it is something in IPython that makes the line breaks as the Sympy code does not consider this at all.

[2019-02-13 19:19] oscargus commented on #12868
The problem is that while convenient to use it for printing, there is no actual mathematical function that works like that. So the only purpose is really just for printing. It should be possible to just subclass this similar to Approx as in #12875 . Where Approx really has the same problem. It is only useful for printing (at least until some sort of automatic approximation methods are introduced).

[2019-02-13 19:21] oscargus commented on #12876
`min{g(x)} = -7` works. You can also name a symbol `g(x)_{\min}` and it will print as you expect it.

[2019-02-13 19:21] #12867 closed

[2019-02-13 19:21] #12875 closed

[2019-02-13 19:25] oscargus commented on #12669
Interesting. zhmetrics contains fonts for Chinese characters and I am pretty sure that sympy does not use any of those. It is possible though that some parameters are based on locales from the system. Could that be a reason?

I close this for now since it is solved.

[2019-02-13 19:25] #12669 closed

[2019-02-13 21:07] oscargus commented on #12629
LaTeX fixed in #15980 and Pretty printer shows a clearer error.

Still a need to fix the pretty printer properly.

[2019-02-13 21:10] oscargus commented on #15969
I also think that it ideally should keep everything with a single denominator. Not obvious where it is changed back though...

[2019-02-13 21:47] asmeurer commented on #14194
I think MathJax does line breaking. This could also be related to https://github.com/sympy/sympy/pull/15625.

[2019-02-13 21:47] #14194 closed

[2019-02-13 22:39] nagordon opened #15981 "Improve docs to explain what the value is when loading beams"
In Example 5, the ramp load should be divided by length

https://docs.sympy.org/latest/modules/physics/continuum_mechanics/beam_problems.html#beam

[code]

Another example can be found in the attached pdf
[Beam Ramp function incorrect in Continuum Mechanics Module.pdf](https://github.com/sympy/sympy/files/2862496/Beam.Ramp.function.incorrect.in.Continuum.Mechanics.Module.pdf)

[2019-02-13 23:45] asmeurer commented on #12868
Duplicate of #5305

Also I now feel that this most likely not a good idea.

[2019-02-13 23:45] #12868 closed

[2019-02-13 23:47] asmeurer commented on #12876
But there is no symbolic function in SymPy that represents the minimum of a function.

[2019-02-13 23:47] asmeurer commented on #12867
Use `Contains(x, Reals)` to represent `x \in R` symbolically.

[2019-02-13 23:49] asmeurer commented on #12875
You could also use `Contains` and an `Interval` or an `And` with inequalities to represent the approximation precisely.

[2019-02-14 00:29] nickovs opened #15982 "Special case for printing Add(One, Mul(NegativeOne, expr)) and similar."
Currently when printing `Add` objects, numbers typically get placed at the end of the argument list. When the `Add` object has only two arguments, one is a positive rational and the other is a two-argument `Mul` for which one of the arguments is a negative rational, it would typically look better to print with the number first. For instance one would very seldom choose to write $-p+1$ rather than

[2019-02-14 00:42] oscarbenjamin commented on #15982
Agreed. This has bothered me for years:
[code]
Not sure what the best solution is though...

[2019-02-14 02:31] nickovs commented on #15982
It turns out it's not too hard to fix, since the ordering of arguments for printing an `Add` all funnels through one function. I've written a patch here https://github.com/sympy/sympy/commit/c52ebc834a89275433f7cbd3b596f66f6930a59c which works with the text command line and with the LaTeX printing in Jupyter Lab, and should also work with MathML and the rest. That said, since I have absolutely no

[2019-02-14 03:24] divyanshu132 commented on #15977
I'll try to fix this.

[2019-02-14 03:56] shubhamabhang77 commented on #15877
Can you explain a bit more?

[2019-02-14 05:06] ShubhamKJha commented on #15899
The ambiguity is happening because ```pi``` is technically not a number and hence doesn't include is_Number property. Infact, ```log(4), sin(10), exp(3)``` these would also fail the requirements for rhs.
[code]
A better fix would be to check if ```rhs.free_symbols``` is empty. This would make the rhs free of any variables.

[2019-02-14 09:31] oscargus commented on #15877
I think it is better if you ask direct questions. Try to execute the code, modify it, and execute the modified code, and tell me where you get stuck.

[2019-02-14 14:43] oscarbenjamin commented on #15982
The patch seems quite specific since it's only for two terms and only if they are Rational+Rational*expr. I think that we can specifically check that any of the muls has `.args[0]==-1` since this gets factored out:
[code]
I guess that the main thing is just to order the terms so that the first term is not Mul(-1,...).

In any case I'm not very experienced with this area of SymPy so it's hard for m

[2019-02-14 14:57] nileshpatra commented on #15925
Can I take up this issue? could I be guided to solve it?

[2019-02-14 15:13] nileshpatra commented on #15981
can I take up this issue?

[2019-02-14 15:28] moorepants commented on #15981
Here is a plot of the load for example 5:
![selection_436](https://user-images.githubusercontent.com/276007/52797096-fc86dd00-3029-11e9-9bf5-277ceb096aaf.png)

I see a slope on the ramp of 1kN/m that has a max of 3kN at the end of the beam.

Can you indicate more precisely why that might be incorrect? I don't see why at the moment.

[2019-02-14 15:32] smichr opened #15983 "presimplify odes"
It seems like it would make sense to make sure that all mutliplicative constants in a Derivative are removed before attempting to solve the ODE, e.g. right after `eq = hints.pop('eq', eq)` do
[code]
The motivation for doing this is that matchers will then not need to worry about superficially complicated derivatives -- they will be looking for `f(x).diff(x, n)`-like entities.

[2019-02-14 16:43] nickovs commented on #15982
The code above works because even though the -1 gets factored out for storing the expression, the call to `Mul.make_args()` (which seems to be standard in most of the printing code) merges the -1 back in to the other constant.

There is a more general question as to if this sort of printing behaviour is appropriate for more complex addition expressions. My feeling is that if we start trying to reo

[2019-02-14 16:46] jondo commented on #12233
Note that the original site http://www.apmaths.uwo.ca/~arich/ is now broken and replaced by https://rulebasedintegration.org/ .

How can I use/activate the current state of this work? Is it still very slow?
According to the following image (full tests, in progress, [update December 16, 2018](http://www.12000.org/my_notes/CAS_integration_tests/reports/rubi_integrate_13/inse1.htm#x2-70001.6)) from [

[2019-02-14 16:56] certik commented on #12233
@jondo, thank you for this update. That's very interesting.

@Upabjojr can comment what the current best way forward is. He has been working very hard on implementing the matching machinery in SymEngine: https://github.com/symengine/symengine/pull/1497, to support Rubi implementation.

@Upabjojr can you please help @jondo (and myself) to get up to speed what the current status is, and how to help

[2019-02-14 17:23] nickovs commented on #15982
It seems that there are 42 doctests that fail. I will have a look at rectifying the problems. Of course doing so is going to change the PR from being a small change in one file to being changed spread over 30+ files!

[2019-02-14 18:18] smichr commented on #15983
This is already handled in the `eq, func_ = _preprocess(eq, func)` step.

[2019-02-14 18:18] #15983 closed

[2019-02-14 18:18] XtremeGood commented on #15983
Ok.

[2019-02-14 18:48] ishanaj commented on #15981
I think there is no need to divide force by length as it is already in the form of N/m i.e. 1KN/m.
The `apply_load()` applies the load in the form of singularity function as:
[code]
which is similar to:
`Piecewise((0, x < 3), (x - 3, x > 3))`

This would apply the load appropriately as needed. I don't think there is a need to divide it by length.
Although, if the resultant point load acting on the

[2019-02-14 19:18] proy87 opened #15984 "Value error in limit"
`Limit((-x + log(exp(x) + 1))/x, x, oo, dir='-').doit()` raises `ValueError: cannot compute leadterm`

[2019-02-14 19:56] divyanshu132 commented on #15829
![sympy](https://user-images.githubusercontent.com/36084189/52813825-a7e27100-30c0-11e9-86f4-1125828953b8.png)
@asmeurer I think this much space will be fine.

[2019-02-14 20:16] shubhamabhang77 commented on #15877
ohh Thanks I tried and it worked. Where are we going to use the brackets when mat_delim flag is set another brackets ? Suppose I considered this example . where do we have to use brackets in output of matrix of print_mathml?
 `
In [1]: m = Matrix([[1,2],[3,4]])

In [2]: m
Out[2]:
⎡1  2⎤
⎢    ⎥
⎣3  4⎦

In [3]: print_mathml(m)
<matrix>
	<matrixrow>
		<cn>1</cn>
		<cn>2</cn>
	</matrixrow>
	<matrixrow

[2019-02-14 20:19] asmeurer commented on #15877
@shubhamabhang77 use three backticks ``` for multiline code blocks. Otherwise GitHub hides anything in <>.

[2019-02-14 20:25] shubhamabhang77 commented on #15877
I choosed ```mat_delim``` flag to work on .

[2019-02-14 20:57] asmeurer commented on #12233
@jondo thanks I did not know about that study. It's nice to see that SymPy is already better than Maxima. And once Rubi gets merged it can start to be considered the best integrator in a general purpose open source CAS. And it will get even better once we can improve the Risch algorithm.

@Upabjojr please also put any status updates on the GSoC ideas page https://github.com/sympy/sympy/wiki/GSoC-2

[2019-02-14 21:43] nickovs commented on #15982
I've fixed up a large number of `doctest` cases and submitted a PR.

One open question in my mind is if this should only be applied to `Rational` numbers or if there are other classes of number that should be included. For instance it might make since to include `NumberSymbol` for cases like `pi - x` vs `-x + pi`.

[2019-02-14 21:45] oscargus commented on #15877
If you use the presentation printer, i.e., `print_mathml(expr, printer=presentation)` it should be more clear. By default the content printer is used and then there isn't much one can change.

[2019-02-14 22:25] oscargus commented on #15982
Even though, of course, a more general solution would be better, I think that the 77 doctest issues show that this happens quite often and therefore that this specific patch will improve the situation often enough. I have not studied the code in detail, I just wanted to support the general idea.

[2019-02-14 22:28] #3926 closed

[2019-02-14 22:34] jondo commented on #12233
Attention, @asmeurer, I [noticed](http://www.12000.org/my_notes/CAS_integration_tests/index.htm) that the chart only contains 28425 integrals of a test suite of 69522 integrals, so the results cannot be compared to the [ones](http://www.12000.org/my_notes/CAS_integration_tests/reports/rubi_4_15_2/images/3D_chart.svg) of the August 2018 report, where Maxima was better than Sympy on the full suite.

[2019-02-14 22:58] nickovs commented on #15982
Interestingly, when I update the code to move all `Number` and `NumberSymbol` values to the front when one multiplicand is a negative `Number`, no more `doctest` cases fail. This might indicate that the more general cases are actually rather rare.

[2019-02-14 23:09] nasser1 commented on #12233
On 2/14/2019 4:34 PM, Robert Pollak wrote:

Hello;

The December 2018 test was stopped at 28,425 integrals due to Rubi in sympy
core dumping the whole python itself, so the test could not continue.

I posted bug report on this at

https://github.com/sympy/sympy/issues/15657

Will resume testing when this bug is fixed as not possible to continue if
Python itself crashes.

But 28,425 tests is more t

[2019-02-14 23:36] shubhamabhang77 commented on #15877
Is all setting done in ```printer.py```  of parameters/attributes ??

[2019-02-14 23:46] oscarbenjamin commented on #15982
I think it's best to comment on the detail of the code on the PR (#15985).

[2019-02-15 00:29] asmeurer commented on #12233
So is the 49% non-RUBI SymPy figure accurate?

Also I'm curious about the test suite. Does it include definite integrals as well as indefinite integrals? SymPy excels at definite integrals relative to other open source computer algebra systems because it implements the Meijer G-function algorithm, with a large number of special functions, especially integrals over infinite intervals.

[2019-02-15 01:04] nasser1 commented on #12233
Hello Aaron;

On 2/14/2019 6:29 PM, Aaron Meurer wrote:

Yes.

In summary
=============
The full test here

https://www.12000.org/my_notes/CAS_integration_tests/reports/rubi_4_15_2/index.htm

contained 69,522 of RUBI full test suite.
This one used sympy 1.1.1 under Python 3.6.5.

The later test, started in December 2018

https://www.12000.org/my_notes/CAS_integration_tests/reports/rubi_integrate_1

[2019-02-15 01:05] asmeurer commented on #15982
Your patch ignores the order if the order argument is passed to the printer. Changing the default ordering is fine, but `order='lex'` and so on should continue to give that exact order for polynomials.

It might be better to make this change in `as_ordered_terms`. Unfortunately, that may result in even more changes, as that affects the sort key ordering as well as the printing ordering (it may eve

[2019-02-15 01:39] nickovs commented on #15982
Thanks for the comment @asmeurer. I can certainly move the code to as_ordered_terms and honour the support for the `order`. Before I head off to do all that it would be helpful to know (a) if this is something that you think is useful and, if so, (b) what your opinion is regarding in which circumstances this should be applied?

[2019-02-15 02:05] moorepants commented on #15981
I also think it is correct.

[2019-02-15 04:13] asmeurer commented on #12233
The Meijer G algorithm is smarter than FTOC. It doesn't require knowing the antiderivative. Actually there are integrals that SymPy can compute the definite integral for but not the indefinite integral. Here is an example I found after trying some random expressions.

[code]

It looks like the antiderivative is something it could conceivably compute (it's in terms of `erf`), but I've also seen exa

[2019-02-15 07:58] dvarx opened #15987 "sympy.vector.express doesn't express field in spherical coordinates"
Hello

I am using the vector module to define a field in Cartesian coordinates and I want to get an expression for that field in spherical coordinates:

from sympy.vector import CoordSys3D, express

[code]

However, this code will result in the output:

Not quite what's the issue here?

[2019-02-15 07:59] oscargus commented on #15877
@shubhamabhang77 Yes, you do not need to worry about setting the parameters. You can simply get `self._settings['mat_delim']` when needed.

Right now, `print_mathml(m, printer='presentation')` gives:
[code]
However, if you want [], the `mfenced` tag should look like `<mfenced open="[" close="]">` (which one can get from http://www.wiris.com/editor/demo/en/developers , I use the "Compatible with Ma

[2019-02-15 08:20] oscargus opened #15988 "MathML presentation printing of multiple derivatives messed up"
Currently, the MathML presentation printed version of the expression `Derivative(f(x, y, z), x, z, x, z, z, y)`
looks like:
![image](https://user-images.githubusercontent.com/8114497/52842849-a3d64380-3100-11e9-845f-8abacba54635.png)

while a proper rending would be more along the lines of the LaTeX equivalent:
![image](https://user-images.githubusercontent.com/8114497/52843456-78545880-3102-11e9-

[2019-02-15 09:50] shubhamabhang77 commented on #15877
Is this how you want?
[code]

[2019-02-15 10:11] evan0greenup opened #15989 "Raise 'NotImplementedError' when solving equation 'x-sin(x)==0'"
When typing sympy.solve('x-sin(x)', 'x'), it raise NotImplementedError.

[2019-02-15 10:21] oscargus commented on #15877
Yes and no. I am not sure if the default should be `'['` (it makes sense but will break what people are used to). However, that is easy to fix later (just changing a single position). The code for '[' looks good as far as I can tell (maybe one would like to print `open` before `close`, but it may be that one cannot control it and it is not important, just slightly more intuitive).

For the `'('` c

[2019-02-15 11:23] Upabjojr commented on #12233
Hi,

there is a current attempt at porting MatchPy's code generator to SymEngine: https://github.com/symengine/symengine/pull/1497

In the future this could be the start of an attempt at porting RUBI to C++ by transforming the rules into a huge decision tree in a C++ file.

The current main issue is how to handle generators in C++, as of now they solve for all matching combinations before returnin

[2019-02-15 11:51] divyanshu132 commented on #15943
@jksuom I have tried `simplify(f) `and that resolves the problem of `zoo` for `Sum(binomial(n, k)*factorial(n - k), (k, 0, n)).doit() `. The result is `-E*(n + 1)*factorial(n)*lowergamma(n + 1, 1)/factorial(n + 1) + E*factorial(n)`

[2019-02-15 12:01] FrackeR011 commented on #15987
It looks like scalar_map() does not work correctly here.
[code]

[2019-02-15 12:20] jksuom commented on #15943
It would probably suffice to use `combsimp` instead of full `simplify` that is much more expensive. That could be applied to the argument `f` of `eval_sum_hyper`.

[2019-02-15 12:22] Mantabit commented on #15987
I also get an incorrect result if I pass a lambda expression as the argument for `transformation`:

[code]

This results in the output:

[2019-02-15 13:09] oscargus commented on #13570
It is obvious why it is not rendering in my comment above...

From the release notes:
"SymPy objects now render as LaTeX automatically in the Jupyter notebook. init_printing() is still required to make Python builtin numeric types (such as int and float) render as LaTeX, Python container types (such as list and dict) containing SymPy objects render as LaTeX, to change the printer settings, or to g

[2019-02-15 13:13] oscargus commented on #15943
Or `limit` instead of `_eval_interval`?

[2019-02-15 14:53] moorepants commented on #13570
In Jupyter I get this error:

[code]

[code]

The object still renders below, but throws this error. I used `sympy.init_printing()`.

[2019-02-15 15:07] shubhamabhang77 commented on #15877
I wasn't able to control ```close``` and ```open````. Even if I change the sequence of them They were same in the output.
Is this fine for ```mat_delim``` ??
[code]

[2019-02-15 16:09] oscargus commented on #15877
I realised that maybe they were put in alphabetical order rather than the way they were entered, so that is fine.

As far as I can tell, it looks just as expected! If you prepare a pull request we can have the discussion of default value etc there. (I think the default value in the code is '[' as it is just a copy from the LaTeX printer, I also think that this makes sense and that this is a breaki

[2019-02-15 16:14] shubhamabhang77 commented on #15877
the default value in the mathml is ```(``` . I saw it on https://www.w3.org/TR/MathML2/chapter3.html. In the example of section 3.3.8.3

[2019-02-15 16:23] oscargus commented on #15877
Yes, in MathML. I was thinking of the sympy code
https://github.com/sympy/sympy/blob/38174f7373a86ac92527dd7120cd92c668a38560/sympy/printing/mathml.py#L20-L34

But I think you can leave it as is and then see during the review process what the opinions are.

Please add some tests, for example those you showed above, and run the `bin/test quality` and `bin/test printing` tests at least. The rest can

[2019-02-15 16:32] shubhamabhang77 commented on #15877
I have add tests in tests folder of printing, right?

[2019-02-15 16:35] oscargus commented on #15877
Yes. In `sympy/printing/tests/test_mathml.py`.

From my experience it can be better to not add it at the very end as there are currently several PRs that may add them there. Adding them somewhere else (although towards the end), may reduce the risk of having to resolve conflicts later (although they are very easy to resolve) if the other PRs are merged before.

[2019-02-15 16:46] shubhamabhang77 commented on #15877
Can you tell about pull request?

[2019-02-15 16:47] oscargus commented on #13570
Thanks!
I think it is because for some reason both the pretty and LaTeX versions are generated, although only the LaTeX one is shown. I noticed that while fixing another issue with the LaTeX printer, while fixing it, I still got exceptions from the pretty printer. Not sure if it is a fallback or if there is something in `init_printing` taking on a weird state (most options are True/False, so I do

[2019-02-15 16:52] moorepants commented on #13570
Yes it is. The jupyter stuff calls three or more printers on every printed statement.

[2019-02-15 16:58] oscargus commented on #15877
It doesn't look like you have cloned sympy to your repository? Maybe you only have a local copy. Either way, you will need to set git up to point to your Github account. (I always Google this as I do it quite rarely, I think there is some information here as well.)

First, you should have developed your change in a different branch of git. This will simplify things.

Once you have committed what y

[2019-02-15 17:01] oscargus commented on #13570
Just briefly browsing the code, I guess the `Fake` class in Dyadic.py should have a height method (or inherit from something in Pretty).

[2019-02-15 17:11] shubhamabhang77 commented on #15877
Yeah right. I have just cloned the repository, not forked it.

[2019-02-15 19:13] asmeurer commented on #15943
[`_eval_interval`](https://github.com/sympy/sympy/blob/38174f7373a86ac92527dd7120cd92c668a38560/sympy/core/expr.py#L834) is just a wrapper that tries `subs` and falls back to `limit` if it returns nan or infinity (it also has some singularity logic, but that isn't relevant if only one value is evaluated).

[2019-02-15 19:55] shubhamabhang77 commented on #15877
I have created a pull request. Take a look at it.

[2019-02-15 20:16] oscarbenjamin opened #15995 "Dsolve system returns flattened solution list for non-unique solutions"
When `dsolve` solves a system of ODEs and finds multiple solution it returns a list `[x1(t), y1(t), x2(t), y2(t), ...]`. This should really be a list of lists as in `[[x1(t), y1(t)], [x2(t), y2(t)], ...]` or a list of dicts or sets or something.

I don't know if it's just done in one particular solver but it is tested: [https://github.com/sympy/sympy/blob/38174f7373a86ac92527dd7120cd92c668a38560/s

[2019-02-15 21:15] ethankward commented on #15989
It does raise `NotImplementedError` already. What output do you get?

[2019-02-15 21:18] oscarbenjamin opened #15996 "Dsolve: undetermined coefficient fails but variation of parameters returns"
There are several different possible issues here. This example comes from the tests:
[https://github.com/sympy/sympy/blob/38174f7373a86ac92527dd7120cd92c668a38560/sympy/solvers/tests/test_ode.py#L2236](https://github.com/sympy/sympy/blob/38174f7373a86ac92527dd7120cd92c668a38560/sympy/solvers/tests/test_ode.py#L2236)

1. The ODE below gives NotImplementedError under `dsolve` even though variation o

[2019-02-15 23:01] oscarbenjamin commented on #15989
This is a transcendental equation and those are difficult to solve in general. In this particular case there is a unique real solution `x=0` which is not found. I'm not sure about complex solutions.

I don't know how to propose a good general method for this situation short of saying that maybe it's worth having solve try substituting some obvious values like 0 or 1 to look for solutions:
[code]

[2019-02-16 01:33] oscarbenjamin opened #15999 "Dsolve clobbers integration constants"
If an ODE contains symbols like C1 then `nth_algebraic` will return an incorrect solution:
[code]
This solution should contain a new integration constant e.g. C2.

[2019-02-16 01:39] oscarbenjamin commented on #15999
Actually this is not just nth_algebraic. It also happens with nth_linear_constant_coeff_homogeneous. Maybe this is a general problem with dsolve:
[code]
Here the C1 and C1 are the wrong way round.

[2019-02-16 01:56] #15913 closed

[2019-02-16 02:30] oscarbenjamin commented on #15996
4. is a bug in checkodesol:
[code]
Ideally checkodesol would be changed so that it wouldn't be necessary to call `.rewrite(exp)`.

[2019-02-16 02:40] oscarbenjamin opened #16000 "No equivalent of checkodesol for series solutions of ODEs"
Some of the ODE solvers in `dsolve` give series solutions. Other types of solutions when listed in the tests are checked with either `checkodesol` or `checksysodesol`. There is no equivalent for series solutions and `checkodesol` doesn't work:
[code]

[2019-02-16 08:13] divyanshu132 opened #16001 "No result for ask(Q.rational(x/y))"
[code]
This is correct.

But, the queries in `p/q` form or for `float` queries there is no output.
[code]
[code]

[code]
[code]

[2019-02-16 08:24] jksuom commented on #16001
A single float can denote both rational and irrational numbers. Hence the query must return nothing for floats. I don't know why that happens for 3/1 as well. That should probably be changed.

[2019-02-16 08:28] divyanshu132 commented on #16001
But if the query is in the form of` p/q`, then also it should directly return `True` for `rational`.

[2019-02-16 09:41] jksuom commented on #16001
[code]
Python interpreter converts the numbers to floats before feeding them to SymPy. SymPy has no means of finding out their original form.

[2019-02-16 09:42] #15871 closed

[2019-02-16 09:51] divyanshu132 commented on #16001
Got the point, thanks @jksuom, Basicaly Sympy is not getting the actual form which was given by user by default python converts it in float. So, should I close it?

[2019-02-16 11:08] jksuom commented on #16001
Yes, I think so.

[2019-02-16 11:12] nileshpatra commented on #15984
can I please take this issue?

[2019-02-16 11:59] nileshpatra commented on #15650
can I take up this issue?

[2019-02-16 12:36] #15943 closed

[2019-02-16 12:38] oscarbenjamin commented on #16001
There is a discussion of this in the docs that has some tips: [https://docs.sympy.org/latest/gotchas.html#python-numbers-vs-sympy-numbers](https://docs.sympy.org/latest/gotchas.html#python-numbers-vs-sympy-numbers)

I'll close this now.

[2019-02-16 12:38] #16001 closed

[2019-02-16 13:41] XtremeGood commented on #15927
Hi if this still needs a solution I had previously solved problems on project euler in python which requires such programs as requirement in solving many problems.At that time I had not much idea of sympy so I builded these number theory stuff from scratch.So please tell me if it needs a fix.

[2019-02-16 14:08] smichr commented on #15999
So initial constants should be replaced with Dummies and returned constants be renumbered to avoid the clash and then the original constants returned into place?

[2019-02-16 15:47] oscargus commented on #15899
@ShubhamKJha I also think that is better. Thanks!

There is now a PR #16004 that have implemented something which at least solves this problem and I think more as well.

[2019-02-16 16:20] oscargus opened #16005 "len(list) == 0 vs not list"
As I learnt that `len(object.free_symbols) == 0` is (more or less) equivalent to `object.is_number`(the difference is the existence of undefined functions if I understood the documentation correctly), I started to grep for places where this could be replaced. They were quite few, but I realized that sometimes `len(list) == 0` is checked as `not list`, which of course is correct. I can also think t

[2019-02-16 16:25] oscargus commented on #16005
The PEP8 style guide recommend `not list`. Are there arguments against it? (Apart from the faster is_number for the particular case that the list is `free_symbols`.)

[2019-02-16 16:40] oscargus commented on #16005
I also noted that it it only three classes except for `Expr` that has a `is_number` property defined.

`ExprWithLimits` and `meijerg`:
[code]

Trace:
[code]

I may be grepping incorrectly, but are the two first actually even needed?

[2019-02-16 18:14] shubhamabhang77 commented on #15877
For ln_notation flag, we just have to change ```log``` to ```ln``` right?

[2019-02-16 19:02] shubhamabhang77 commented on #15877
Do we have use ln_notation flag for presentation printer only or for both presentation and content printer?

[2019-02-16 19:25] XtremeGood commented on #15920
Does this error guarantees merge if the problem is solved?

[2019-02-16 19:33] asmeurer commented on #15999
Duplicate of #4838

[2019-02-16 20:20] oscargus commented on #15877
Yes, for `ln_notation` that is correct. This should only be done for the presentation printer.

For `mul_symbol` it is about what to print as a multiplication symbol. Right now `&InvisibleTimes;` is used, i.e., just a small spacing, corresponding to the `None`option. `times` should yield `&#xD7;`, `dot`should yield `&#xB7;`, and `ldot` is a period `.`, possible with some spacing around it to disti

[2019-02-16 20:21] oscargus commented on #15877
And `mul_symbol` is also only presentation printer.

[2019-02-16 20:27] sidhantnagpal commented on #14610
Closing this, as it has been resolved.

[2019-02-16 20:27] #14610 closed

[2019-02-16 20:34] oscargus commented on #15920
Not sure if I understand the questions, but if I do: most solutions are merged. Sometimes the solutions are too focused (like making sure that only this particular polynomial works correctly), but general solutions not breaking anything else are more or less guaranteed to be merged.

For this particular problem there is an ongoing PR which seems to progress so there may be better ones to spend eff

[2019-02-16 20:39] XtremeGood commented on #15920
Well, I wanted to get my my pull merged.Oscar Benjamin said me to solve some error and I fixed it.Then some person named Christopher Smith says it won't be merged.I asked repeatedly what else does he wants more more my solver should do.I asked what further should I do but he seemed to be too confused and asked to close the request without telling me what else to do and when I had solved the proble

[2019-02-16 22:09] oscargus commented on #15920
Without knowing the details in your case, it is quite common that issues are fixed in a very specific way and therefore not merged. Where that line is drawn is hard to in general. On one hand one can think that it is better to have a very specific fix than none and that someone else will fix it later. However, that rarely happens.

It takes a few attempts to get to know the code base and provide a

[2019-02-16 22:12] XtremeGood commented on #15920
https://github.com/sympy/sympy/pull/15964

But what did I get after spending hours awaken?

[2019-02-16 23:14] oscarbenjamin commented on #15999
I'm going to reopen this because it's only a partial duplicate of #4838.

The first and second example I referred to are showing different overlapping problems. The problem in the first example is to do with the nth_algebraic solver (which I added myself) not using the `get_numbered_constants` function:
[https://github.com/sympy/sympy/blob/a22a512ca2330053eb2b0185aea92cd7f05677ea/sympy/solvers/ode

[2019-02-16 23:55] oscarbenjamin commented on #15920
@XtremeGood This issue is not the right place to discuss this (although I don't know what is the right place) but I will say this here: I think that your work in #15694 will get merged. Currently the code you wrote is in the first commit of #15992 as you can see here: [https://github.com/sympy/sympy/pull/15992/commits](https://github.com/sympy/sympy/pull/15992/commits)
I can't say exactly when tha

[2019-02-17 00:30] shubhamabhang77 commented on #15877
Is this fine for ln_notation?
[code]

[2019-02-17 00:49] sroopsai opened #16007 "Is it a bug in trigonometric functions"
sin(2) or sin(any integer) is evaluating to sin(any integer)
For example:
![screenshot from 2019-02-17 06-06-13](https://user-images.githubusercontent.com/38998304/52906823-d86e0a80-327a-11e9-884a-d34f7c1ed300.png)
See at end math.sin(2.2) == expr.subs(x,2.2) evaluating to True.
math.sin(2) == expr.subs(x,2) evaluating to False. I think this is because expr.subs(x,2) evaluating to a symbolic expre

[2019-02-17 01:07] shubhamabhang77 commented on #15877
Is this fine for ln_notation?
[code]

[2019-02-17 01:34] oscarbenjamin commented on #16007
The `math.sin` results just give a floating point number. Sympy does the same if you call SymPy's `sin` function with a float. That's why `expr.subs(x,2.2)==math.sin(2.2)` gives True (although I don't know that that's guaranteed because the functions might have different rounding errors).

The other case is `expr.subs(x,2)` which results in the symbolic SymPy expressions `sin(2)`. Since this is a

[2019-02-17 01:49] shubhamabhang77 commented on #15877
What should I do if flag value is not valid?  for eg. ```mul_symbol='blah blah'```

[2019-02-17 04:20] XtremeGood commented on #15920
Well then please tell me what to do.I have been asking you this.Do you want to solve d(x*f(x))/dx ..... = 0 type of equation?
Last comment I won't create any more mess here and should I delete my messages from here?

[2019-02-17 07:54] FrackeR011 commented on #15987
I think 'rotation_matrix' is the main problem here.
 `rotation_matrix` does not change when `transformation` equations are used to define a new system.

[code]

[2019-02-17 09:26] oscargus commented on #15877
`ln_notation` looks fine.

I do not think that there is a single correct answer there. Either one checks it explicitly and returns an error (preferably in the initialization) or one just have a case which is not explicitly checked (typically the default case) and just fall back to that.

If you look at the LaTeX printer handling for `mul_symbol` there is a bit of code that translates the name to t

[2019-02-17 10:05] divyanshu132 commented on #15977
@jksuom a small improvement instead of `(pow(a, e, n) - b) % n == 0`, it should be `(pow(b, e, n) - a) % n == 0`

[2019-02-17 10:15] oscargus commented on #9807
This seems to work now since the `test_autosimp_fails` no longer fails.

[2019-02-17 11:00] jksuom commented on #15977
Yes, I seem to have confused the roles of `a` and `b.`

[2019-02-17 11:58] proy87 opened #16011 "TypeError in as_independent"
`sqrt(144*x**6 + 408*x**3 + 290).as_independent(Symbol('x', positive=True), as_Add=False)` raises `TypeError`. Without `as_Add=False` error is the same.

[2019-02-17 12:10] oscargus commented on #16011
I cannot reproduce it. Can you send a complete minimal example with imports etc?

[2019-02-17 12:19] proy87 commented on #16011
Try this:

`x = Symbol('x', positive=True)`
`sqrt ((12*x**3 + 17)**2 + 1).as_independent(x)`

[2019-02-17 12:39] oscargus commented on #16011
[code]
This is on the very latest master, Python 3.7.1, though.

[2019-02-17 12:44] oscarbenjamin commented on #4838
I've opened #16012 which fixes this.

[2019-02-17 12:45] oscarbenjamin commented on #15999
I've opened #16008 which fixes the first issue and can close this

[2019-02-17 12:48] oscargus commented on #16007
In addition,
[code]
You can turn your symbolic `sin(2)` into a floating-point number through `evalf()`. For 2.2 this happens automatically since Sympy assumes that. However, doing `sin(Rational(11, 5))` or `sin(S(11)/5)` keeps it as a symbolic expression. (For `sin(11/5)`, Python evaluates 11/5 to 2.2 before submitting it to Sympy, in earlier versions to 2 as it then was an integer division.)

[2019-02-17 13:28] oscarbenjamin commented on #11282
I just tried this with #16012 and it looks as if dsolve gets a solution that checkodesol is happy with:
[code]
This gives:
[code]
Does that look correct to you @nicoguaro ? It's not exactly the same as the other solution you posted above but there can be different but equivalent forms.

If that solution is correct then the issue here is fixed and the reason SymPy gives the wrong answer now is just