[2016-12-22 06:52] #10472 closed

[2016-12-22 10:49] jksuom commented on #8404
It seems that exp_polar could always be replaced with exp when computing hypergeometric sums.

_eval_sum_hyper [calls hyperexpand](https://github.com/sympy/sympy/blob/master/sympy/concrete/summations.py#L1037) on a simple hypergeometric series h = hyper(ap, bq, x). hyperexpand [polarifies](https://github.com/sympy/sympy/blob/master/sympy/simplify/hyperexpand.py#L1954) the argument x and attempts t

[2016-12-22 14:43] allista opened #11968 "dsolve fails with error in _nonlinear_2eq_order1_type3"
This code, starting from this line:
https://github.com/sympy/sympy/blob/master/sympy/solvers/ode.py#L7891

[code]

Produces `UnboundLocalError: local variable 'sol1' referenced before assignment` because the `dsolve` call returns an empty list.

Code to reproduce:

[code]

[2016-12-22 16:06] dharasty commented on #11959
OK, here are the test cases and code to run the test cases:
[diophantine_checker.py.txt](https://github.com/sympy/sympy/files/669167/diophantine_checker.py.txt)
[diophantine_tests.py.txt](https://github.com/sympy/sympy/files/669169/diophantine_tests.py.txt)
Both are python files, so remove ".txt" from the files before running.

Then run "diophantine_checker".  This imports all the tests from "diop

[2016-12-22 16:23] tommyolofsson opened #11969 "printing.ccode regression for Max()"
The following works in version 1.0 but has since broken.
[code]

[2016-12-22 16:48] ArifAhmed1995 commented on #11969
@tommyolofsson The code does not yield an error for `Python-2.7` and Sympy version : '1.0.1-dev'. Can you tell me which Python version you are using ?

[2016-12-22 16:48] ritvikraj14 commented on #11435
I want to work on this.  Kindly let me know if this is still open?

[2016-12-22 16:52] pranjaltale16 commented on #11959
@dharasty
I tested your cases with my code and i got all cases(162 cases) passed.
While testing with (Sympy1.0) I got 25 passed and 137 Failed.

[2016-12-22 17:23] asmeurer commented on #11969
I bisected it to b3700eeeba1b6618b54442cf0bede1f7622bbe88. CC @bjodah

[2016-12-22 17:57] tommyolofsson commented on #11969
@ArifAhmed1995 I'm using Python 2.7.6. I think this is actually a fix that I incorrectly reported as a bug. The previous behavior of the code generator was to emit `Max(a, b)`with no indication of it not being a standard C function.

Would one not not expect something along the lines of `((a > b) ? a : b` instead?

[2016-12-22 19:18] asmeurer commented on #7806
This issue has been fixed, I believe by https://github.com/sympy/sympy/pull/10014.

@chengdi123000 subs works for me with your expression, although you need to reverse the order of `sd` before passing it to subs, like `beq.subs(reversed(sd))`, to make sure the higher derivatives get replaced before the lower ones.

[2016-12-22 19:18] #7806 closed

[2016-12-22 19:34] smichr commented on #11963
It's a cubic equation in `x` and it takes time to check the solutions. If you don't want to verify the solutions --which in this case are the same as those obtained with verification -- send the flag `check=False`. But a better approach would be to solve for y since it's linear in that: just use `solve([Eq(x**2+y/(x+y), 20)], y)` [note that the `x` has been omitted].

A better place to raise such

[2016-12-22 19:34] #11963 closed

[2016-12-23 05:11] dharasty commented on #11959
@pranjaltale16 -- glad to hear of your improvements!
So.... when will your code be available?

[2016-12-23 05:20] pranjaltale16 commented on #11959
@dharasty  i have already made a pull request #11961.
As soon as any Team Member will review it and merge., corresponding corrections will be available.

[2016-12-23 06:35] tyetis commented on #11963
Thanks for reply
i asked for my math project. it is here http://math.webrone.com/

[2016-12-23 09:02] nicolaje opened #11972 "Pretty printing with letter subscripts only works with some letters"
To reproduce the issue:
[code]

output:

[code]

I would have expected the subscripts to be correct for all letters. Note this works correctly with numbered subscripts.

[2016-12-23 09:53] nicolaje commented on #11972
Ok, unicode only has subscripts for a subset of character:
https://en.wikipedia.org/wiki/Unicode_subscripts_and_superscripts

Is there a way to have symbols with letters subscript nicely rendered though?

[2016-12-24 06:21] madan96 commented on #11539
Is there anything left to do in this issue? (I think it can be closed)

[2016-12-24 10:29] Terrydaktal opened #11975 "Sympy integrates e^x strangely"
On integrating e^x one gets a piecewise with the case, if log e=0 then int(e^x) = x,  which is impossible of course. Fix?

[2016-12-24 10:46] rajatthakur opened #11976 "Typo in ellipse.py"
Change focale -->focal in sympy/geometry/ellipse.py -- line 584
Change costructed -->constructed in sympy/geometry/ellipse.py -- line 1327

[2016-12-24 11:11] jksuom commented on #11975
The base of natural logarithms if written `E` in SymPy. For a general `e`, if `log(e) == 0`, then `e` and `e^x` are equal to 1.

[2016-12-24 13:47] rahul-prasad-cse commented on #11877
is this issue still open?

[2016-12-24 15:45] jtoka commented on #11877
Added fix. @axil @jksuom Are you able to validate?

[2016-12-24 17:06] moorepants opened #11979 "Master is failing on finite_diff doctest"
See: https://travis-ci.org/sympy/sympy/jobs/186466413

[code]

[2016-12-24 17:28] karan1276 commented on #11898
@catchmrbharath so sorry i got a little late.

I tried `p1 = plot(x*x,_backend="text")`, no luck it still uses matplotlib. Only workaround i found out is to uninstall matplotlib.

[2016-12-24 18:00] Pastafarianist opened #11981 "powsimp() fails with noncommutative variables"
[code]

Output:

[code]

Needless to say, `xyxy yxyx != xyyx xyyx`.

The bug is apparently around [here](https://github.com/sympy/sympy/blob/master/sympy/simplify/powsimp.py#L384).

Possible fix: replace line 390 from

[code]

to

[code]

Is this the preferred way for testing whether an expression is a `Mul`?

[2016-12-24 18:23] Pastafarianist commented on #11918
I have managed to accomplish this with:

* Implementing `__rmul__` in addition to `__mul__`
* Expanding the whole expression with `expand_mul` and `expand_multinomial`
* Manually going through the expression (which is of the form `Add(coefficient * (TP or Sum of TP)))) and applying all the remaining transformations.

[2016-12-24 18:23] #11918 closed

[2016-12-24 18:45] karan1276 commented on #11898
If we can catch pace on this it will be great. Issues #7225, #6395 and many other issues of plotting module need this to be resolved first. :sweat_smile:

[2016-12-25 05:37] madan96 commented on #11979
#11980

[2016-12-25 05:38] madan96 commented on #11979
@moorepants I guess this can be closed now.

[2016-12-25 07:21] #11979 closed

[2016-12-25 14:02] Pastafarianist opened #11985 "expand_mul() causes a crash for nilpotent terms"
[code]

Result:

[code]

Possible fix: replace [line 353 here](https://github.com/sympy/sympy/blob/9670ff89dd8bff7878c6d636ec4f493b87d092df/sympy/core/mul.py#L353) from

[code]

to

[code]

[2016-12-25 14:17] jksuom commented on #11877
Fixed by #11889.

[2016-12-25 14:17] #11877 closed

[2016-12-25 16:03] madan96 commented on #8129
@shivamvats Can you please take a look at the test cases I have added?

[2016-12-25 20:20] mamakancha commented on #11893
@asmeurer After making some changes, I want to test my `mathml.py` file with some inputs. How should I do that?

[2016-12-25 20:43] mamakancha commented on #11893
Also I am a bit lost in the code. I have gone through [https://en.wikipedia.org/wiki/MathML](https://en.wikipedia.org/wiki/MathML) but the code is confusing me. It would be great if you could suggest me something

[2016-12-25 20:46] MayankJhamtani commented on #11878
Worked for me too.
Using sympy1.0.1.dev0 and Python 2.7 .

[2016-12-25 20:49] mamakancha commented on #11893
First I thought of replacing all the ci with mi and all the cn with mn.
For this piece of code :

[code]
from line 85 onwards in [https://github.com/sympy/sympy/blob/master/sympy/printing/mathml.py](https://github.com/sympy/sympy/blob/master/sympy/printing/mathml.py)

What changes should I do?

[2016-12-25 20:59] mamakancha opened #11986 "Typo Error in mathml.py"
In the file [https://github.com/sympy/sympy/blob/master/sympy/printing/mathml.py](https://github.com/sympy/sympy/blob/master/sympy/printing/mathml.py), there is a typo:
 in line `106`,  `# thing a coeff of 1 can remain` , `thing` should be replaced by `think`

[2016-12-25 21:09] mamakancha commented on #11986
PR has been requested for this issue. Please refer #11987

[2016-12-25 21:23] mamakancha commented on #11985
@Pastafarianist How should I check if the code works after making the change?

[2016-12-25 21:24] mamakancha commented on #11981
I would like to get this one assigned too.

[2016-12-26 11:35] karan1276 commented on #11898
@catchmrbharath any news?

[2016-12-26 11:48] mohakuma commented on #11482
I want to work on this issue!

[2016-12-26 12:30] Shade5 commented on #11892
@asmeurer Can I work on this? I'm new

[2016-12-26 12:35] ArifAhmed1995 commented on #11482
@mohakuma Sure. Go for it.

[2016-12-26 13:29] karan1276 commented on #11482
@gxyd how should this actually be printed?

[2016-12-26 13:49] gxyd commented on #11482
It should be printed as:
[code]
i.e it should be printed as it is.
Apart from that, I think the whole [code block here](https://github.com/sympy/sympy/blob/master/sympy/combinatorics/permutations.py#L982-L1004) is untested. So it would be really good if it could be tested completely, perhaps to make sure it is untested you should first use some code-coverage tool first.

[2016-12-26 15:10] karan1276 commented on #11482
@gxyd i didn't get you, what code coverage tools are you talking about? is writing python tests an option?

[2016-12-26 18:10] asmeurer commented on #11539
Yes, there needs to be a public API for it.

[2016-12-26 19:46] moorepants commented on #11892
Yes you can work on this issue.

[2016-12-27 02:21] bjj opened #11988 "atan2-arg simplifies w/rewrite, but not automatically"
[code]

That is not 0.  If you append .rewrite(arg) *or* .rewrite(atan2) it simplifies to 0.

I also noticed while playing with this that arg will not rewrite to atan directly.  You have to explicitly rewrite to atan2, then atan.

[2016-12-27 04:07] gxyd commented on #11482
No for the changes required for the current issue, writing tests is mandatory.

If you ever want to get the report, just run:
[code]
and click on the file to know about the untested files. Though I have not installed coverage tools, so I am referred to installing the code-coverage package. After you install that you can have a coverage report like [this](https://cloud.githubusercontent.com/assets/

[2016-12-27 08:31] Shade5 commented on #11892
@moorepants Which shell is he talking about? How do I run it?

[2016-12-27 09:42] jksuom commented on #11892
I believe it is this one: http://live.sympy.org/

[2016-12-27 11:52] user5061 opened #11990 "lambdify() docs need a "Warning: Uses eval()""
[sympify()](http://docs.sympy.org/latest/tutorial/basic_operations.html#converting-strings-to-sympy-expressions) has a warning:

`lambdify()` needs it as well since:
[code]

PS: How can I PR the doc instead of asking you to do so? I m relatively new to git and PRs.

[2016-12-27 14:58] ArifAhmed1995 commented on #11990
Go through the Development Workflow page, everything related to contributing and testing is written there :
https://github.com/sympy/sympy/wiki/Development-workflow

[2016-12-27 18:39] tommyolofsson opened #11991 "cse() has strange behaviour for MatrixSymbol indexing"
Example:
[code]

This gives the following output:

[code]

`x0` and `x2` are just copies of the matrices `a` and `b`, respectively.

[2016-12-27 19:42] jaabell opened #11992 "Cannot compute integral which has analytic result"
The following integrals should be easy to compute (can be hand computed).

`from sympy import *
init_printing(use_unicode=False, wrap_line=False, no_global=True)

s = Symbol('s')#, positive=True)
x = Symbol('x')#, positive=True)
a = Symbol('a')#, positive=True)
F_1 = Symbol('F_1', real=True)
F_2 = Symbol('F_2', real=True)
F_3 = Symbol('F_3', real=True)
w = Symbol('w', real=True)
AE = Symbol('AE',

[2016-12-28 04:53] #11159 closed

[2016-12-28 14:26] jtoka commented on #11990
I will handle this issue

[2016-12-28 17:38] maurogaravello commented on #11833
Indeed the following code gives the correct answer

[code]
while the following (without **print sympy.sinh(x).limit(x, sympy.oo)**) does not

[code]

[2016-12-28 18:20] moorepants commented on #11990
One simple way to make a doc change like this is to find the file in the github interface, clock the little pencil to edit the file, and then when saving at the bottom, make a pull request from the change.

[2016-12-28 19:27] jtoka commented on #11990
@moorepants did what you suggested. Are you able to review the simple change?

[2016-12-28 19:48] jtoka commented on #11892
@jksuom @moorepants @asmeurer I added a warning line to sympy-live here: https://github.com/sympy/sympy-live/pull/103 . Are you able to review? Also, can you tell me the suggested way to reference another repo's issue in a PR?

[2016-12-28 20:21] moorepants commented on #11434
Tested here:

[code]

[2016-12-28 20:21] #11434 closed

[2016-12-28 20:40] moorepants commented on #11238
This is fixed in master:

[code]

These take too long to compute to be effective regression tests.

[2016-12-28 20:40] #11238 closed

[2016-12-28 20:42] moorepants commented on #8233
This is fixed in master.

[2016-12-28 20:42] #8233 closed

[2016-12-28 20:53] jksuom commented on #11985
The objects created should be SymPy objects. `S.One` instead of 1 and `S.Zero` instead of 0.

[2016-12-28 20:59] moorepants commented on #10718
The original now returns the following in master:

[code]

but Wolfram seems to give a different answer:

https://www.wolframalpha.com/input/?i=rref(%5B%5B3%2B3*sqrt(3)*I,+-9%5D,%5B4,-3%2B3*sqrt(3)*I%5D%5D)

[code]

[2016-12-28 21:20] moorepants commented on #10120
@siefkenj You say "mostly" above. Should this issue be closed?

[2016-12-28 21:39] siefkenj commented on #10718
Those are mathematically equivalent answers.

[2016-12-28 21:39] moorepants commented on #10718
Thanks, my algebra mus be rusty.

[2016-12-28 21:39] #10718 closed

[2016-12-28 22:19] moorepants commented on #6340
Current behavior in master:

[code]

[2016-12-28 22:26] #11382 closed

[2016-12-28 23:01] siefkenj commented on #10120
As far as the `simplify=True`, the issue is resolved. What isn't resolved is giving a warning if the result might not be accurate. Perhaps that should be a separate bug, though.

[2016-12-29 04:23] moorepants commented on #11991
Can you create a very simple example using MatrixSymbol and the expected output that you'd like to see?

[2016-12-29 08:32] ayodejiige commented on #11668
I'm new and would like to take this up if no one is currently working on it.

[2016-12-29 08:37] moorepants commented on #11668
@ayodejiige please do.

[2016-12-29 12:49] #11956 closed

[2016-12-29 17:56] #11990 closed

[2016-12-29 17:58] #8129 closed

[2016-12-29 21:44] mmckerns opened #11999 "Cannot pickle sympy.polys.domains.mpelements.constant"
When I isolate all of the objects in `sympy` that are not serializable by `dill`, I see that there are only a very few.  In particular, there is one that fails: the `constant` object:
[code]
The above shows there is likely only one serialization error as the root cause… and to get some more info, we turn on `trace`.
[code]
It seems that `dill` is trying to pickle an object that is dynamically crea

[2016-12-29 22:56] jtoka opened #12001 "Sympify/Lambdify docstrings need warning directive for unsanitized input"
Warning messages were added in the Sympify/Lambdify docstrings for unsanitized input in #11995 . These should use the ```.. warning``` directive. See comments in #11995.

[2016-12-30 01:25] #12001 closed

[2016-12-30 06:23] asmeurer commented on #11999
Why is the class being generated dynamically? What happens if we just define those three classes normally in the module?

[2016-12-30 08:25] tommyolofsson commented on #11991
I think one would expect the output to be similar to the following (except for the expression returned by CSE being a matrix where the individual elements are terms as defined by matrix multiplication, that is, unchanged by `cse()`).

[code]

Gives the output:

[code]

[2016-12-30 08:35] #2537 closed

[2016-12-30 08:35] #7337 closed

[2016-12-30 08:35] #10211 closed

[2016-12-30 08:35] #11806 closed

[2016-12-30 08:39] asmeurer opened #12003 "Better way to compose rational functions"
I have a degree 17/degree 17 rational function in one variable with floating point coefficients with 1000 digits of precision. I would like to compose this with the Möbius transformation `(t - c)/(t + c)`. Here `c = 51/5` but in general it will be a similar fraction. I want the final rational function in expanded form (expanded polynomial/expanded polynomial)

The problem is that if you try just a

[2016-12-30 08:48] asmeurer commented on #12003
CC @scopatz, c.f. recent commits to transmutagen.

[2016-12-30 12:29] jksuom commented on #12003
It seems that dup_transform should do this (with `p = 5*t - 51` and `q = 5*t + 51` to preserve precision). But maybe that is less efficient than dup_shift.

[2016-12-30 15:08] moorepants commented on #11991
Thanks. Note that it doesn't look like cse is well tested (i.e. designed) for MatrixSymbols based on the unit tests: https://github.com/sympy/sympy/blob/master/sympy/simplify/tests/test_cse.py#L315. Those tests don't really prove that it works as desired. So this definitely needs to be fixed.

[2016-12-30 15:14] moorepants commented on #11991
The first part works as expected:

[code]

[2016-12-30 15:22] moorepants commented on #11991
For the ccode of an expression of MatrixSymbols, I would not expect it to print the results as you have them. MatrixSymbols should map to a matrix algebra library like BLAS and LINPACK. But Matrix, on the other hand, should do what you expect. Note how this works:

[code]

[2016-12-30 16:13] Ruediger-Braun commented on #11833
Thanks for your suggestion.  I tried it three times
* once under python2.7: it worked
* twice under python3.5 (with the necessary change of the print-statement): once it worked, once it failed

I think the problems happens in the cache, but I have no idea what triggers it

[2016-12-30 17:32] tommyolofsson commented on #11991
But in order to get a single input argument from codegen it cannot be different symbols, and if you replace each symbol with a `MatrixSymbol[i, j]` then `cse()` starts doing the above non-optiimizations for some reason.

[2016-12-30 19:22] #11944 closed

[2016-12-30 19:26] asmeurer commented on #12003
I don't know why, but when I was testing, `expr.subs(t, (5*t - 51)/(5*t + 51))` lost precision but ``expr.subs(t, (t - 51/5)/(t + 51/5))` kept it (this was before attempting any expansion).

I didn't know about `dup_transform`. It doesn't seem to be exposed as `Poly.transform` (maybe because there's no `dmp_transform`?). It looks like exactly what I want (assuming it doesn't lose precision).

I al

[2016-12-30 19:28] moorepants commented on #11991
As far as I know, `codegen` does not work with Matrix or MatrixSymbol's in any meaningful way. There are related issues:

#11456
#4367
#10522

In general, there needs to be work done in the code generators to properly support matrices.

As a work around, I suggest using `ccode` and a custom template to get the result you want.

[2016-12-30 19:28] asmeurer commented on #12003
I can upload the full expression I was testing with, if you are interested.

[2016-12-31 01:20] bojone commented on #11799
I want to know if this bug has been fixed ? thanks.

[2016-12-31 07:27] jksuom commented on #11799
No, it is still there in the current master.

[2016-12-31 08:11] jksuom commented on #11985
@Pastafarianist The error should go away if `class Nilpotent` is fixed to return only SymPy objects. Perhaps this issue can be closed?

[2016-12-31 08:14] jksuom commented on #11975
@Terrydaktal Can this issue be closed?

[2016-12-31 08:19] bojone commented on #11799
as I say, the bug is from derivative of composite function. it is a very fundamental bug of a CAS. if it is not fixed, how can I trust the final result of a complex function of sympy

[2016-12-31 09:51] nettostundenlohn opened #12004 "evaluation of integral ∫exp(-x)/x dx"
Minimal example

[code]
What's going wrong? How can I prevent this error from happening?
Best regards!

[2016-12-31 10:24] ArifAhmed1995 commented on #12004
Are you using development version of Sympy or something else ? For latest development version I get the correct result :
[code]

[2016-12-31 10:29] nettostundenlohn commented on #12004
1.0-1

[2016-12-31 10:35] ArifAhmed1995 commented on #12004
Just `1.0.1` not `1.0.1.dev` ? How exactly did you install it(pypi , conda ,etc) ?

[2016-12-31 10:38] nettostundenlohn commented on #12004
Hi Arif, I updated my initial comment with all the details I have. It's simply 1.0.1, no dev.

[2016-12-31 10:48] ArifAhmed1995 commented on #12004
The Python version doesn't seem to be an issue. I just tested it on `3.5.2` environment and it ran fine.
Consider using the latest dev version from github.

[2016-12-31 11:25] jksuom opened #12005 "Subs._eval_derivative doubles derivatives"
This issue appears in the computation of higher derivatives with respect to functions.
[code]
Apparently, the derivative is computed in both of the two parts of the returned sum:
[code]

[2016-12-31 11:35] jksuom commented on #12005
This is the reason for the error encountered in #11799.

[2016-12-31 12:59] Pastafarianist commented on #11985
@jksuom It does go away, thank you.

[2016-12-31 13:00] #11985 closed

[2016-12-31 13:17] jksuom commented on #11981
[code]
This is not how non-commutative powers can be combined. That is possible when the bases are equal (but that is taken care of by the case `combine='exp'` above). Therefore this should be removed.

[2016-12-31 18:54] moorepants opened #12006 "Matrix.rref() needs an improved docstring"
This is the docstring:

[code]

Some points:

1. `iszerofunc` is not explained at all.
2. `simplify` is set to False, yet simplify will possibly be run. This is confusing.
3. There are no example for the different forms of the kwargs.

[2016-12-31 19:04] siefkenj commented on #12006
They're should definitely be an example of `iszerofunc` being used with a numerical matrix of floats.

[2016-12-31 20:31] jamesjer commented on #11691
Catching the OSError to get it out of the way shows that this is the real problem:

  File "/builddir/build/BUILD/sympy-1.0/sympy-sympy-1.0/sympy/plotting/tests/test_plot.py", line 286, in test_matplotlib
    plot_and_save('test')
  File "/builddir/build/BUILD/sympy-1.0/sympy-sympy-1.0/sympy/plotting/tests/test_plot.py", line 208, in plot_and_save
    p.save(tmp_file('%s_colors_3d_line_arity1' % n

[2016-12-31 20:59] siefkenj opened #12007 "`Poly.degree()` incorrect degree for multi-variable polynomials"
`Poly.degree()` returns the incorrect degree for multi-variate polynomials.
[code]

However, the degree of `x*x*y` is 3 as a polynomial in two variables.

[2017-01-01 09:01] jksuom commented on #12007
`Poly.degree(f, x=None)` is defined as
[code]
The degrees in all variables can be obtained by `.degrees()`.

[2017-01-02 02:02] siefkenj commented on #12007
`degrees` appears to have been renamed `degree_list`.  Nomatter, that is not the functionality I need, nor is it the meaning of the degree of a multi-variable polynomial.  `Poly(x*x*y).degree_list()` returns `(2,1)`.  The degree of `x*x*y` is 3.  See https://en.wikipedia.org/wiki/Polynomial#Definition for a reference.

[2017-01-02 02:26] asmeurer commented on #12007
I believe you want `total_degree`

[code]

[2017-01-02 07:27] mohit3011 commented on #11981
I would like to work on this issue if this issue is still open

[2017-01-02 11:12] Pastafarianist commented on #11981
@jksuom Noncommutative variables can still be combined with this code, at least in the case when one of the terms is just a single variable. Example:

[code]

This is why I initially suggested checking for `not isinstance(..., Mul)`. Off the top of my head, I can't come up with any counterexamples to this when at least one of the terms is not a `Mul`.

Can I get this one assigned?

[2017-01-02 11:29] jksuom commented on #11981
You are welcome to send a PR if you have discovered a valid algorithm. But it seems to me that checking for `Mul` does not suffice: `(xy)^2 * x^2  = xyxyxx` is different from `(xyx)^2 = xyxxyx` in general.

[2017-01-02 23:09] Pastafarianist commented on #11981
@jksuom you're right. And apparently a few people have taken care of sending a PR for this already (https://github.com/sympy/sympy/pull/12008, https://github.com/sympy/sympy/pull/12009).

[2017-01-03 10:52] #11981 closed

[2017-01-03 17:35] ignatenkobrain commented on #11691
@jamesjer this looks more like bug in numpy

[2017-01-03 20:32] asmeurer opened #12015 "Poly doesn't use correct precision unless mpmath.mp.dps is set"
[code]

Even trying to create a custom domain doesn't work

[code]

Oddly, the default precision is 53, suggesting that the code is confusing base 10 precision and base 2 precision (the default `mpmath` and `Float` precision is 53 base-2 digits corresponding to 15 base-10 digits). This is not surprising. `mpmath` calls base-10 precision `dps` and base-2 precision `prec`, whereas `Float` calls base

[2017-01-03 22:20] hetbo opened #12016 "Sphere Plot"
Hi
I'm new to python and also sympy
It's really useful
...........................
I  was trying to plot a sphere using sympy and only sympy.
but I couldn't. How I can do it?(without numpy or matplotlib)
I am so sorry if I asked my question in a wrong place.
so I hope you would help me.
And then it's your call to close or delete this issue.
Thanks So much.

[2017-01-04 05:14] westurner opened #12017 "Q: How to .subs/.replace/.xreplace without implicit simplification?"
[code]

- http://docs.sympy.org/latest/tutorial/manipulation.html
  - http://docs.sympy.org/latest/modules/core.html#sympy.core.basic.Basic.subs
  - http://docs.sympy.org/latest/modules/core.html#sympy.core.basic.Basic.replace
    - [ ] DOC: link to subs points to a different .subs
  - http://docs.sympy.org/latest/modules/core.html#sympy.core.basic.Basic.xreplace
    - [ ] DOC: link to subs points

[2017-01-04 05:17] westurner commented on #12017
And also, is it possible to (maybe optionally) keep the expression tree ordered? (e.g. OrderedDict)

[2017-01-04 07:04] rwst opened #12018 "solution not found by Sum and gosper_sum"
This should be found by `gosper_sum`. It is Exercise 5.7.11a from the A==B book.
[code]

[2017-01-04 07:38] chartl opened #12019 "mod_inv gives multiplicative inverse in python2.7 OSX but not in python3.5 WIN"
First code:

[code]

With OSX:

[code]

but on Windows:

[code]

[2017-01-04 07:45] asmeurer commented on #12017
You want `evaluate=False`. You can use it like `Add(x, y, evaluate=False)`, or `sympify('x + y', evaluate=False)` or

[code]

[2017-01-04 14:28] jksuom commented on #12015
It looks like `Float.__new__` is the culprit. There is even a comment. After including the precision
[code]
I get
[code]
To get the full precision the keyword `dps` should be used:
[code]

[2017-01-04 15:11] simkovic commented on #11968
I have different error but it's just few lines above the line reported in this issue, so I decided to put it here. I'm using the [latest code from master](https://github.com/sympy/sympy/commit/3862ca5cf09017f785031ccdd2a26dcfccf8c631)

I do:

[code]

I get:

[code]

[2017-01-04 21:22] opoplawski commented on #11691
Or somehow a sympy "Float" object is making it into somewhere in numpy where numpy float dtype is expected?

[2017-01-04 22:38] #11976 closed

[2017-01-04 22:45] westurner commented on #12017
Thanks!

[code]

[2017-01-04 22:45] #12017 closed

[2017-01-04 22:45] westurner commented on #12017
I suppose this is a different issue?

[2017-01-05 00:50] #11626 closed

[2017-01-05 01:42] asmeurer commented on #12003
I just tested it and `dup_transform` does indeed seem to maintain precision.  I've exposed it as `Poly.transform` at https://github.com/sympy/sympy/pull/12021. This effectively fixes this issue for me (unless we want to try to "fix" the more naive methods as well).

[2017-01-05 01:46] asmeurer commented on #12015
The comment was added by me at 8a7e07992. This was the case where I couldn't figure out how the `else` clause would actually be hit at https://github.com/sympy/sympy/pull/11862. I guess the unknown type in this case is the polys `RealElement`?

[2017-01-05 06:45] jksuom commented on #12015
Yes, that is the type in `RealField`.

[2017-01-05 06:50] asmeurer commented on #12015
Your fix looks good. We should really unify our conventions and rename the `prec` argument to `Float` to `dps`.

[2017-01-05 07:05] jksuom commented on #12015
`mps` can use both `prec` and `dps` taking the latter if it is given. Internally it will use `prec`.
[code]
So `dps=dps` could also be used. I'm not sure which keyword should be preferred in `Float`?

[2017-01-05 07:14] #11955 closed

[2017-01-05 08:36] asmeurer commented on #12015
I mean we should change it from `Float.__new__(num, prec=None)` to `Float.__new__(num, dps=None, prec='deprecated')`, to unify the terminology (and also to make the code of `Float.__new__` easier to read, since it changes the meaning of `prec` midway through). I can make a PR tomorrow.

[2017-01-05 09:01] jksuom commented on #12015
That is what I thought, too. My comment about the keywords in `mpmath.mpf` was probably a little confusing.

[2017-01-05 09:33] #10726 closed

[2017-01-05 16:12] Saintis commented on #8474
Also having problems with this. Is there no way of generating B-splines with repeated knots and order > 1?

[2017-01-05 20:42] asmeurer commented on #11609
3.6 final is out. We need to get this done before we can do a release.

[2017-01-05 23:19] scopatz commented on #12003
Just so I understand @asmeurer, where we using `dmp_transform` before then?

[2017-01-06 04:27] vdwees commented on #6878
I tried this:
`>>> combsimp(RisingFactorial(-10, 5))`
`-30240`

This is as expected.

Presumably, this is what the OP did:
`>>> from sympy.abc import n`
`>>> combsimp(RisingFactorial(-10, n))`
`0`

This is not as expected.

Should it instead behave as follows?
`>>> from sympy.abc import n`
`>>> combsimp(RisingFactorial(-10, n))`
`RisingFactorial(-10, n)`

[2017-01-06 07:21] #12003 closed

[2017-01-06 07:57] jksuom commented on #12003
It seems that 'transform' in `dup_transform` is comes from 'Moebius transform'. It is internally used for that purpose in `rootisolation`. Moebius transformations are the automorphims ot the projective line, and its generalizations to several variables are the automorphisms of the projective n-space (defined by n+1 linear forms in n+1, or n, variables). They have not been implemented in SymPy so f

[2017-01-06 15:27] mmckerns opened #12023 "pickling a lambdified expression causes sympy function to throw ValueError"
originally reported [here](https://github.com/uqfoundation/dill/issues/201) by @MarcoMagl

Without looking too deeply into what happens here… there is a pretty weird situation happening here. It looks like the serialization of the lambdafied expression object is destroying a pointer or a weakref on the corresponding `sympy` expression.

Here's the minimalist example of what happens:

    2*x**2 +

[2017-01-06 16:43] yashsharan commented on #11777
hello i would like to work on this. can you guide me where to start. I'm new here

[2017-01-06 16:49] yashsharan commented on #11412
is the issue still open? i would like to work on this

[2017-01-06 17:06] hetbo commented on #12016
I found the Answer :
![figure_1](https://cloud.githubusercontent.com/assets/13567670/21725962/cfde202a-d44f-11e6-87a7-9576001b5d93.png)

[2017-01-06 17:06] #12016 closed

[2017-01-06 17:13] smichr commented on #11684
I am working on this...perhaps can finish before Monday. I am getting 3 different possibilities, @jksuom for the test expression you gave:

[code]

So it looks like I have to make this canonical, too.

[2017-01-06 20:56] asmeurer commented on #12003
Möbius transforms is exactly my use-case. I need to transform a function from [-1, 1] to [0, oo).

What I would really want (and have wanted for some time) is a `Frac` object that represents rational functions (like `Poly` is to polynomials). Then `Frac.compose` would use this method internally. Working with two polys is not too difficult, but it gets annoying applying the same thing to the numera

[2017-01-06 20:58] asmeurer commented on #11777
I believe there is already a fix at https://github.com/sympy/sympy/pull/11785

[2017-01-07 08:16] Yathartha22 commented on #11634
@asmeurer I too tried with graphviz it gave two different graphs and the two seemed correct, I guess the dotprinter use the apt order of (x**2). Corrcect me if I am wrong..

[2017-01-07 09:45] damiendr opened #12024 "Error in solve() with Piecewise expression when rational=True"
I'm getting the following error when trying to solve this expression containing a Piecewise term, unless I set `rational=False`:

`sympy.__version__ == '1.0'`

[code]
[code]

[2017-01-07 11:18] Shikhar1998 opened #12025 "Implementing Gamma Function(with integration) calculation for negative rational numbers (not negative integers as they are poles) giving Recursion Error"
Gamma Function is undefined at negative integers but for saw a = -1/2(not an negative integer) in the  code( integrate(xaexp(-x), (x, 0, oo), conds='none')) ( i.e gamma(a + 1)  ) it should return
gamma(1/2) = sqrt(pi) a well defined value but however sympy gives a recursion error.

Am I missing out somewhere or sympy does not support it ?

[2017-01-07 18:37] asmeurer commented on #11634
Perhaps something is wrong with the Sphinx extension. Some more debugging is needed.

[2017-01-09 09:16] pramod1997 commented on #11821
I'm new, and would like to solve this . Please help me in getting started.

[2017-01-09 14:29] jksuom commented on #9464
This was fixed implicitly by https://github.com/sympy/sympy/pull/9758. Closing.

[2017-01-09 14:29] #9464 closed

[2017-01-09 15:49] jksuom commented on #10429
It seems that this can be closed.

[2017-01-09 15:49] #10429 closed

[2017-01-09 17:28] zleba opened #12032 "Error in solveset for polynomial equation"
The "solve" gives fastly the result of:
`solve(x**4 +x -1, x)`
whereas "solveset" for the same equation fails:
`solveset(x**4 +x -1, x)`
It seems to be traped in infinite loop.

[2017-01-09 17:44] zleba opened #12033 "Deadly slow algorithm of integrate() for "x^n * cos(x)" type of integrals"
The calculation of the following integral did not converge after several minutes:
integrate( x**10 * cos(x) )

Whereas the equivalent integral written in complex formalism succeed:
x = Symbol("x", real=True)
( integrate( x**10 * (exp(I*x)+exp(-I*x))/2 ) ).expand(complex=True)

The similar issue holds for sin(x).

[2017-01-10 09:39] mohit3011 commented on #6341
I would like to resolve this issue if it's still open

[2017-01-10 09:45] mohit3011 commented on #6341
Just guide me how to start because I'm new here.

[2017-01-10 10:02] jksuom commented on #6341
You should start by studying the code in combsimp.py. The issue #9785 contains some suggestions on how to continue.

[2017-01-10 11:09] mohit3011 commented on #6341
As you have mentioned in #9785 , combsimp.py contains both combinatorics and gamma functions and this is creating a problem in understanding combsimp.py

[2017-01-10 11:49] jksuom commented on #6341
There could probably be a separate function `gammasimp`. It could be added to the end of the file, and suitable parts of `combsimp` could be copied into it (leaving `combsimp` as it is for the time being). Those tests in `test_combsimp.py` that are concerned with `gamma` could be used to verify that the new `gammasimp` does what is expected. The aim is to make combsimp.py more understandable.

[2017-01-10 12:39] chrstphrchvz opened #12034 "Add contour plot function"
(Mentioned on [gitter](https://gitter.im/sympy/sympy?at=58740606cbcb2817704aa5dd), no responses yet.)

I saw 2d plots mentioned on [this wiki page](https://github.com/sympy/sympy/wiki/Plotting-capabilities#types-of-plots), but I understand that might be outdated/inaccurate.

Looking through what `plot3d()` does, I used `Plot(ContourSeries(…)).show()` as a workaround.
It seems like much of the infr

[2017-01-10 19:40] asmeurer commented on #12034
My guess is it wouldn't be too difficult to add it.

[2017-01-11 09:23] nilinswap commented on #11634
@asmeurer should it give different dotdiagrams for dotprint(x+2) and dotprint(2+x)?

[2017-01-11 19:41] asmeurer commented on #11634
SymPy sorts the arguments of Add and Mul, so 2 + x and x + 2 both create the same expression. It's important to test this with noncommutative operators like Pow.

[2017-01-11 21:24] asmeurer opened #12038 "evalf doesn't round Floats correctly"
[code]

The last digit is rounded as `4`, but in the original number we have `...34990`, so it should round to `3`.

@scopatz

[2017-01-11 22:13] mforbes commented on #9183
The basic issue here appears to be in `powsimp()`:

[code]

This is really frustrating as there is no clear path on how to prevent this when simplifying complex expressions.

[2017-01-12 13:38] ArifAhmed1995 commented on #11015
@AkshaySiramdas `nan` isn't a number.It cannot be treated as a solution which substituted back into the equation yields zero.

[2017-01-12 16:01] latot commented on #11015
mm, i think nan is the solution not for a numerical expression, is because that solution can't be calculated, at least while we don't have the expression of oo, or maybe other expression with this meaning?.

[2017-01-12 19:30] asmeurer commented on #12033
It's stuck in heurisch (unsurprisingly). Until risch can handle trig functions maybe we should add cases like these to trigintegrate (or manualintegrate).

[2017-01-12 19:35] asmeurer commented on #12023
This must be a caching issue. The lambdified function doesn't actually reference the original expression. It's created from scratch using `eval`. The only way they could reference each other is through the cache.

[2017-01-12 19:44] asmeurer commented on #12023
Ah, maybe not. It happens even with the cache off.

[2017-01-12 19:46] asmeurer commented on #12023
This is perplexing. I don't see how f_la could be referencing f_ex.

[2017-01-13 02:09] aclarridge commented on #11876
Got some time to work on this today, finally.

I think I've got it figured out now for GR 4.215, all four items. I implemented an assumption check as well so that the integral only works if the `mu ` term has the correct property (i.e. `mu>0` in 4.215 (1)). This is the code:

[code]

[code]

The output is as follows:

[code]

Should I just commit, or is there anything obvious I'm missing? Thanks f

[2017-01-13 07:20] tyagi-iiitv commented on #12038
a = sympy.Float('-0.0000057867107664997448463499028244089449711571964804965971815969033830405123907539224808148514326235873144513304794471647300065550649', 20) also gives -5.-5.7867107664997448464e-6

[2017-01-13 09:15] isuruf commented on #12038
First of all you should create `a` like,
[code]
otherwise it would use the default precision which is 32 bits.

Second, this is a problem with how sympy and mpmath hides info from the user. From the mpmath documentation,

For evalf(20), mpmath has the following two representations to choose from,

[code]

`a` is rounded to `p` instead of `q`. Note that `a` has `...34990` while `p` has `...35162`.

[2017-01-13 11:13] mohit3011 commented on #6341
I have edited combsimp.py as well as the test_combsimp.py but I am getting some trouble in testing.
I have followed the following steps in the python shell
`import sympy`
`sympy.test("sympy/simplify/tests/test_combsimp.py")`

But I'm getting error

sympy/simplify/tests/test_combsimp.py[0] Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "sympy/utilities/runtests.py"

[2017-01-13 11:14] mohit3011 commented on #6341
[Fixes#6341.zip](https://github.com/sympy/sympy/files/704136/Fixes.6341.zip)
In this zip file I have edited combsimp.py and test_combsimp.py

[2017-01-13 11:38] jksuom commented on #6341
This is what happens when Python cannot import a file because of syntax errors. You can probably find the error by running `python`  and then attempting `from sympy.simplify.combsimp import *` (or `from sympy.simplify.tests.test_combsimp import *`).

[2017-01-13 15:25] bjodah commented on #10945
Since people will turn to this issue when upgrading SymPy I thought I could provide an easy snippet which should work both with SymPy v1.0 and later:
[code]

[2017-01-13 19:15] jksuom commented on #11876
This rule is certainly better than nothing, but it is very special and does not reveal how it was obtained. The principal use of manualintegrate is to show (in SymPy Gamma) how integrals are computed step-wise as, for example, [here](http://www.sympygamma.com/input/?i=integrate%28exp%28x%29%20/%20%281%20%2B%20exp%282x%29%29%29). I would like to see something similar for this type of integrals if a

[2017-01-13 19:19] asmeurer commented on #6341
@mohit3011 please submit your changes as a pull request, not a zip file. There is a guide [here](https://github.com/sympy/sympy/wiki/Development-workflow). Feel free to ask here or on [gitter](https://gitter.im/sympy/sympy) if you have any questions.

[2017-01-13 20:00] asmeurer opened #12044 "dsolve doesn't work with dynamicsymbols"
Reported from the mailing list. First, if you use dynamicssymbols with dsolve, it fails:

[code]

This fails with

[code]

If you use a normal Symbol, `dsolve` hangs and eventually returns `None`.

[2017-01-13 21:37] moorepants commented on #12044
All a dynamicsymbol is is:

[code]

Looks the above does:

[code]

[2017-01-13 23:08] asmeurer commented on #12044
Ah, the problem is it uses `diff`, which takes the derivative wrt `t` instead of `tau`, which confuses the solver. The UnboundLocalError should be fixed in any case.

[2017-01-13 23:18] asmeurer opened #12045 "nsimplify uses unusual algorithm for converting Float to Rational"
I'm wondering why nsimplify doesn't convert Float to Rational exactly:

[code]

As you can see, `Rational` uses the exact representation:

[code]

The [`_real_to_rational`](https://github.com/sympy/sympy/blob/0a98993c722628ae6c63ad6212d8473108ebc362/sympy/simplify/simplify.py#L1322) function does something different, and I'm unclear why.

@smichr I think you wrote this code. Do you know why it doe

[2017-01-13 23:19] asmeurer commented on #12015
I am working on a PR for this fix. It also fixes things like `nsimplify(pi.evalf(100)*x)` (although I'm caught on https://github.com/sympy/sympy/issues/12045 for writing a test).

[2017-01-14 01:18] jondo commented on #9565
I have just tested this again in `isympy` on the current Git master.
For some reason it now does not work any more:

[code]

Can someone please reproduce what I see? Pinging @smichr @kshitij10496 @hargup.
What happened?

[2017-01-14 11:02] jksuom commented on #12038
I think that is a good explanation. In more detail, when `a` is truncated, there are two possibilities `p` and `q`. When `_normalize` in mpmath is called with `rnd='n'`, it will choose `p` which is much closer to `a` than `q`. When `p` is printed in decimal form, the last digit is 4, but that does not mean loss of accuracy since the internal (binary) representation of `p` is the best approximation

[2017-01-14 17:20] siefkenj opened #12046 "Issue #11230 in python3 with particular random seeds"
The test for cse issue #11230 fails for particular random seed values in python 3.

Taken from the unit tests, the following code fails on my machine

[code]

with python3 but not with python2.

The python3 output is

[code]

while the python2 output is

[code]

[2017-01-15 07:57] jack17529 commented on #2915
So is it fixed or not??

[2017-01-15 18:15] Shikhar1998 opened #12047 "Limit Representation of Dirac Delta Function"
The limit representation of Dirac Delta function is :
1/(a*sqrt(pi)) * (exp(-(x**2)/(a**2))) where a tends to zero
calculating the above with x does not give DiracDelta(x) as the output .
Though for specific values of x it matches perfectly with it.
and
trying
`integrate(exp(-S(2)*x)*diff(DiracDelta(x),x),(x,-oo,oo))` should give an output 2
but not so obtained.

[2017-01-15 19:34] jksuom commented on #12047
Dirac delta is not an ordinary function of a real variable but a measure. It is the limit of the measures defined by the density functions `1/(a*sqrt(pi)) * (exp(-(x**2)/(a**2)))` in the space of measures, not in the space of functions. These density functions converge to 0 except at x = 0 where the limit is `oo`. This limit function is sometimes treated as a density function for Dirac delta, but

[2017-01-16 19:26] abhibaba97 commented on #12047
@Shikhar1998
How can I proceed solving this issue? Like if I want to know the code of this function, where should I look for it?

[2017-01-16 21:06] mohit-raj commented on #12047
DiracDelta(x) (for all x != 0) is 0.
This return value zero is also returned by its limit representation i.e

This limit is Gaussian limit which is spread as a density function where on x != 0, the curve turns out to be asymptotic to x-axis (nearly zero, not exactly zero), and on x = 0 it takes infinity.

But DiracDelta function , apart from its limit representation, is a discrete function which t

[2017-01-16 22:18] timmythetiny opened #12050 "Incorrect indefinite integral involving inverse trig"
Not sure if I'm using the software incorrectly or if this is a bug, but I was trying to check my solution to ∫(1/(a^2 + x^2))dx, where a is a constant value.  Longhand, I found that the solution should be (arctan(x/a))/a, but Sympy was advising otherwise.  From my Jupyter session:

![real false](https://cloud.githubusercontent.com/assets/13814470/22000836/5b3eaede-dbf6-11e6-83a5-c82e44235aee.jpg)

[2017-01-16 22:49] asmeurer commented on #2915
I believe so. We don't even support Python 2.6 any more.

[2017-01-16 22:49] #2915 closed

[2017-01-17 01:00] jamesjer commented on #11691
Yes, the functions assigned to line_color and surface_color return sympy Float objects.  I don't know if this is a bug in matplotlib or a deliberately changed interface, but changing sympy/plotting/plot.py so that the two calls that now read:

  f = np.vectorize(c)

instead read:

  f = np.vectorize(c, [np.float64])

gets the tests to pass.

[2017-01-17 01:21] jkieberk commented on #6340
I'd like to work on this.

[2017-01-17 06:36] jksuom commented on #12050
The first solution (with `log`) is not incorrect. It is a complex form representation of atan. However, SymPy does currently not rewrite it as atan, and that is a known issue. The second result looks like a bug.

[2017-01-17 14:33] mohit-raj commented on #12050
@jksuom How can i reduce the complex form representation of atan, to obtain the arctan(x/a)*1/a.?

[2017-01-17 14:48] jksuom commented on #12050
SymPy fails when the sign of `a` is indeterminate. (This should be fixed.) As a workaround, the sign can be given.
[code]

[2017-01-17 19:04] mohit-raj commented on #11992
@jaabell Let me  know if you expected these outcomes right or else ?

-F_1*(AE*Integral(1/sqrt(F_1**2 + F_2**2 + F_3**2 - 2*F_3*s*w + s**2*w**2), (s, 0, L0)) + L0)/AE

-F_2*(AE*Integral(1/sqrt(F_1**2 + F_2**2 + F_3**2 - 2*F_3*s*w + s**2*w**2), (s, 0, L0)) + L0)/AE

(-AE*F_3*Integral(1/sqrt(F_1**2 + F_2**2 + F_3**2 - 2*F_3*s*w + s**2*w**2), (s, 0, L0)) + AE*L0**2*w/2 + F_1**2*w*Integral(s/sqrt(F_1*

[2017-01-17 19:59] zleba commented on #12032
@mohit-raj I run it for 12 minutes without any result.
My laptop isn't so slow, it's Intel i3.
I have version 1.0-2 from the Ubuntu repository, maybe you have something else, more developed.
The solve(x4 +x -1, x) gives result in a second.

[2017-01-17 21:01] asmeurer commented on #11691
@jamesjer can you send a PR with that change?

[2017-01-18 05:16] asmeurer opened #12052 "Better input validation for nsolve"
From https://stackoverflow.com/questions/41687908/python-nsolve-solve-triple-of-equations:

[code]

The problem is that the initial guess vector only has length 2.

I also noticed if you forget to pass the initial guess:

[code]

Based on the code it looks like it is trying to set the symbols from `expr.free_symbols.copy()`, but it should require them to be passed for a system.

[2017-01-18 06:33] isuruf opened #12053 "Install mpmath using pip in .travis.yml"
It seems the tests weren't installing mpmath at all and we were relying on a mpmath installed in the environment. A change in the python 3.5 env makes the jobs fail now.

https://travis-ci.org/sympy/sympy/jobs/192727874

[2017-01-18 08:09] isuruf opened #12054 "Test with gmpy2 on travis"
gmpy is not maintained anymore and gmpy2 is the successor of gmpy.

[2017-01-18 09:32] flamyowl opened #12055 "Integrate pylama into sympy"
Integrating pylama into [sympy](https://github.com/klen/pylama) could improve overall code quality of sympy codebase.

How I see that: first one could add pylama to system dependencies, configure pylama to run it on every travis run and add instruction to add pylama git hook in [Development workflow](https://github.com/sympy/sympy/wiki/Development-workflow) document.

Of course at the beginning we

[2017-01-18 09:47] kritkaran94 commented on #12052
@asmeurer I would like to work on this. Can you tell me how to start on this ?

[2017-01-18 14:02] gxyd commented on #11868
I suppose `diff(f(x), x).is_imaginary` should return `False` atleast even in case it doesn't exist.

[2017-01-18 14:34] isuruf commented on #12046
Duplicate of https://github.com/sympy/sympy/issues/11684

[2017-01-18 14:42] isuruf commented on #11890
What is `ω` and `n0`? Can you post a python script?

[2017-01-18 15:04] isuruf commented on #11830
This is not an issue with `erfinv`. When you do `erfinv(0.2)` you are actually evaluating at 15 dps (53 bits) precision and your calculation has numerical errors already.

[code]

[2017-01-18 15:08] yashsharan commented on #12054
I wont to work on this..can you guide me how? I'm new here

[2017-01-18 15:14] isuruf commented on #12054
See https://github.com/sympy/sympy/blob/master/.travis.yml

[2017-01-18 15:19] Dakurels commented on #12053
I would like to fix it :)

[2017-01-18 15:45] #12046 closed

[2017-01-18 16:01] lxkain commented on #11890
(first had to edit the original post)

In its simplest form:

[code]
 gives

`arg(exp(I*w))`

but just

`w`

should do it :)

[2017-01-18 17:13] asmeurer commented on #12055
I'm not a fan of having too many style checks as they can hamper development (especially for new developers), and not everyone agrees with every style point.

More logical based linting would probably be good, however. A good place to start would be to fix pyflakes issues in the codebase, since pyflakes checks only logical errors. There are presently quite a few of them, and no doubt several false

[2017-01-18 17:18] asmeurer opened #12056 "round for Float loses precision"
The `__round__` method on `Float` uses `float`, which causes it to lose precision.

[2017-01-18 17:20] asmeurer commented on #12056
It seems only Python 3 supports returning a non-float from `round`. So this will need to be accounted for in the tests.

[2017-01-18 17:24] keszybz commented on #10788
This also happens on Fedora (python-2.7.12-6.fc24.x86_64, sympy from today's git 1c752feee4167d13e326cca5f7bce67d8ab5bc36):
[code]

[2017-01-18 17:41] baoqchau commented on #12054
#12057

[2017-01-18 17:44] baoqchau commented on #12054
#12057 @isuruf Can you help me check this please? Thanks a lot.

[2017-01-18 18:18] yashsharan commented on #12053
@isuruf I think i have made the necessary changes to fix this bug but dont know how to test it. Do i have to run ./setup.py test command to make sure my changes have been made are corrrect?

[2017-01-18 18:54] madan96 commented on #12053
@yashsharan If you have made changes to `.travis.yml`, you can activate Travis CI for your fork and see if the issue is resolved or not.

[2017-01-18 19:09] flamyowl commented on #12055
OK, to begin I will try to fix pylint for a single module/package and make a pull request.

What should be the maximum length of line in the code? 79 characters as [PEP8 says](https://www.python.org/dev/peps/pep-0008/#maximum-line-length) or something more (100 or 120 characters)?

Should I also add pylint configuration file (or even add pylint check to travis) in separate commit ignoring unfixed

[2017-01-18 20:06] jayankmayukh commented on #12056
I'd like to fix this. I'm new to SymPy how should i begin?

[2017-01-18 20:14] mzaffalon commented on #11354
A minimal working example is the following:
[code]

[2017-01-18 20:17] asmeurer commented on #12056
Look in `sympy/core/numbers.py`.

[2017-01-19 04:57] mzaffalon commented on #12050
Is there also a workaround for `integrate(1 / (1 + x**2*y**2), x, y)`?

[2017-01-19 07:38] yashsharan commented on #12052
Hello i'm new here and want to solve this bug.Can you tell me from where i should start?

[2017-01-19 11:50] RafalSkolasinski opened #12060 "``_clash`` influance ``1j`` in ``sympy.sympify`` input"
In following code:
[code]

I believe that in second case a result should still be equivalent to ``sympy.I``.
``1j`` is not defined in ``_clash``.

[2017-01-19 15:22] jayankmayukh commented on #12056
Using decimal instead of float should work, right?

[2017-01-19 18:49] asmeurer opened #12062 "nsolve doesn't work with complex numbers"
[code]

The first one has never worked, but the second is a regression from the last release.

I plan to fix this.

[2017-01-19 19:10] nilabja10201992 commented on #12056
I've pulled a request after applying necessary changes
https://github.com/sympy/sympy/pull/12063

[2017-01-19 21:07] jayankmayukh commented on #12056
Is there any method to check precision of a Float? I could not find one

[2017-01-19 21:20] asmeurer commented on #12062
https://github.com/sympy/sympy/pull/12065

[2017-01-19 21:34] asmeurer commented on #12056
The binary precision is in the _prec attribute. I believe there should be a function or method to convert that to decimal precision.

[2017-01-19 22:28] asmeurer commented on #11795
So from https://github.com/sympy/sympy/issues/12015, you have to set `mpmath.mp.dps` to make Poly work correctly, but that still doesn't make apart work. I've also had no luck setting the `tol`.

I've had better luck just computing the roots of the denominator manually (using `nsolve`, although `intervals` can also be used if you convert the coefficients to rational first, but it's really slow), a

[2017-01-19 22:39] asmeurer commented on #12038
I see. So the Float rounding is actually what I want if I plan to use the number for floating point calculations.

I can use the Python `decimal` module to round the decimal digits (`round(d, n - 1 - d.adjusted())` will round the `Decimal` `d` to `n` nonzero digits). I've felt before that it could be useful to have a SymPy wrapper around `decimal`, but that is a separate issue.

[2017-01-19 22:48] asmeurer opened #12067 "pickling tests fail"
I think it doesn't fail when the full test suite is run (Travis hasn't been failing at any rate):

[code]

My guess is that somehow the singleton registry is in a different state when just the pickling tests are run vs. when the full tests are run.

[2017-01-20 00:00] jayankmayukh commented on #12056
I've created a new pull request, I hope it fixes the issue.

[2017-01-20 01:51] #12053 closed

[2017-01-20 03:14] mohit9727 commented on #12056
@asmeurer
i have an alternate solution i would like to contribute to this issue as well.
@jayankmayukh can you tell me your progress so that i can come along or suggest you my approach?

[2017-01-20 03:16] mohit9727 commented on #12056
@asmeurer  @jayankmayukh
We can have the hex storage of that float number
` x.hex()
'0x1.921f9f01b866ep+1'
`

[2017-01-20 03:29] jayankmayukh commented on #12056
@mohit9727 I guess we should leave anything related to float, cuz that would mean we're dealing with binary to decimal conversion, which is not accurate.

[2017-01-20 03:39] mohit9727 commented on #12056
My approach is: system actually reads the Hex value to be generated for any
float number and storing that number directly will be lossless.

On 20 Jan 2017 8:59 a.m., "Jayank Mayukh" <notifications@github.com> wrote:

[2017-01-20 03:49] jayankmayukh commented on #12056
See the problem is same even if one stores the values in hex, because certain decimal numbers such as 0.1 have no exact representation in bin, Oct, hex or any related number system. we use classes like decimal, Float, etc. to escape that kind of problem.
have a look on this
https://docs.python.org/2/library/decimal.html

[2017-01-20 04:26] satels opened #12069 "Two problems with use sets: high cpu time and incorrect answer"
Dev version:

[code]

May be the problem concentrated in intersection code:

[code]

[2017-01-20 05:04] madan96 commented on #12067
I would like to work on this issue.

By different state are you referring to different paths from which they run?

[2017-01-20 05:35] asmeurer commented on #12067
Yes.

[2017-01-20 06:46] mohit9727 commented on #12056
in that case, can we use the rational number concept, just convert them to p/q form as integers and store them? we have a function for it too.
`x = 3.14159
 x.as_integer_ratio()
(3537115888337719, 1125899906842624)`

[2017-01-20 09:10] isuruf opened #12070 "CSE regression"
Master
[code]

SymPy-1.0
[code]

cc @smichr

[2017-01-20 09:23] isuruf commented on #12070
This was caused by #11232

[2017-01-20 11:15] jayankmayukh commented on #12056
But how will you round a rational number? you'll convert it to Float or a similar class anyway.

[2017-01-20 11:33] nilabja10201992 commented on #12070
I'm new to open source contribution, I want to try solving this problem, where should I look for?

[2017-01-20 12:16] sukop opened #12071 "Infinite loop in Groebner bases"
While trying to use Groebner bases, the following code seems to enter an infinite loop:

    from sympy import *

    a, b, c, d, e, f, g = symbols('a, b, c, d, e, f, g')
    h, i, j, k, l, m, n = symbols('h, i, j, k, l, m, n')
    x, y = symbols('x, y')

    u = a*x**3 + b*y**3 + c*x**2 + d*y**2 + e*x + f*y + g
    v = h*x**3 + i*y**3 + j*x**2 + k*y**2 + l*x + m*y + n

    print(groebner([u, v],

[2017-01-20 12:31] Abdullahjavednesar commented on #11868
@gxyd that's correctly pointed, but the condition should also depend on the nature of the argument.

[2017-01-20 14:43] luukko commented on #11086
I got really burned by this recently:
[code]
Output:
[code]
I just thought I'll share this to point out that this bug has serious consequences in formulas that simplify nicely with integers but not with floats.
I'm also using 64-bit Python 3.

[2017-01-20 14:54] nilabja10201992 commented on #11668
If it is still open, I would like to work with this?

[2017-01-20 14:58] #11768 closed

[2017-01-20 15:52] ArifAhmed1995 commented on #11086
#11666 fixes this . Hope it will be merged soon.

[code]

[2017-01-20 17:40] asmeurer commented on #12056
Using the binary representation *is* correct but the issue here is that we shouldn't be using `float`. We need to use `Float`, which is a wrapper around `mpmath.mpf`, since that is arbitrary precision. Consider for instance `round(pi.evalf(100), 50)`. This should give pi to 51 digits.

[2017-01-20 17:41] asmeurer commented on #12056
Basically, `evalf` does the right algorithm, except you need to account for the difference between the number of digits (what `evalf` returns) and the number of places after the decimal (what `round` wants).

[2017-01-20 20:11] asmeurer commented on #12060
This happens because the parser replaces complex numbers with `*I`. This would be easy to fix if `I` were available under a different name, like `ImaginaryUnit` (it is under `S.ImaginaryUnit`, but `S` has the same problem). We could use `sqrt(-1)` but that would be an unnecessary performance penalty.

Why are you using `locals=_clash`? This will cause any single letter SymPy name to be parsed as a

[2017-01-20 20:17] asmeurer commented on #12047
`integrate(exp(-S(2)*x)*diff(DiracDelta(x),x),(x,-oo,oo))` does give 2 for me.

I'm unclear what behavior exactly you want here. But note that `1/(a*sqrt(pi)) * (exp(-(x**2)/(a**2)))` is just one way of approximating the delta function (see https://en.wikipedia.org/wiki/Dirac_delta_function#Representations_of_the_delta_function).

[2017-01-20 20:45] scopatz commented on #12038
It seems like for code gen we will also need to have a way to dump the hex rep too so we can get the exact binary version.

[2017-01-20 20:59] asmeurer commented on #12038
`a._mpf_` is an exact representation but it's not hex. It doesn't look like mpmath supports going to/from a hex representation, but that would be the place to implement it.

[2017-01-20 21:05] scopatz commented on #12038
Great!

[2017-01-20 21:07] asmeurer commented on #12038
I opened an upstream issue https://github.com/fredrik-johansson/mpmath/issues/345

[2017-01-20 21:45] jayankmayukh commented on #12056
I've switched from Decimal to mpmath.mpf, see if that serves the purpose.

[2017-01-20 22:26] barun511 opened #12074 "test_latex fails with IndexError: List Index out of range"
When running the test suite, test_latex fails with the following error message.

`File "/home/barun511/Desktop/sympy/sympy/printing/tests/test_latex.py", line 161, in test_latex_permutation`

`    assert latex(Permutation()) == r"\left( \right)"`
 ` File "sympy/printing/latex.py", line 2153, in latex`
 `   return LatexPrinter(settings).doprint(expr)`
`  File "sympy/printing/latex.py", line 175, in

[2017-01-21 00:11] barun511 commented on #12056
I've sent in a patch that solves this issue, but I'm not completely happy with my approach to it. Could you review it and let me know, so I can fix/fine tune?
#12076

[2017-01-21 02:30] isuruf commented on #12038
For codegen, are you using higher precision floating point types? If not, just `float(a)` would do.

[2017-01-21 02:32] asmeurer commented on #12038
We are comparing our results against published results that use 20 digits (and are apparently rounded using decimal arithmetic).

[2017-01-21 08:35] luukko commented on #11086
Let's hope so. This was a nasty bug to track down because of course everything works in unit tests with actual integer constants... Bugs like this make me think maybe duck typing is not so great ater all :wink:. Thanks for the pull request @ArifAhmed1995!

[2017-01-21 13:56] jksuom commented on #12074
The test for empty permutation in latex.py assumes that `Permutation.print_cyclic == True`.
[code]
I could probably be replaced by the more robust condition `expr.size == 0`.

[2017-01-21 20:54] mohit-raj commented on #12052
@asmeurer  I would like to know Why can't i add these lines, for auto assigning of variables in case we forgot:
if fargs is None:
        fargs = f.free_symbols.copy().

[2017-01-21 21:41] asmeurer commented on #12052
@mohit-raj free_symbols is a set. It has no order. The order of `fargs` could be arbitrary. The user needs to specify the symbols so that it is clear which corresponds to which points.

[2017-01-22 07:53] hrushikesht commented on #12074
I would like to fix this issue. From which file should I start?

[2017-01-22 10:18] barun511 opened #12077 "test_args fails on master"
On a clean master, the test_args suite fails. I've attached the log, since it's too big to put entirely into this message.

This is probably a local issue, I just figured I should raise it anyway, just in case!
[err.txt](https://github.com/sympy/sympy/files/721861/err.txt)

[2017-01-22 10:36] jksuom commented on #12077
[code]
It seems that merging of master did not succeed. (Not 'a clean master'.)

[2017-01-22 13:10] eugene-katsevman opened #12078 "vlatex is broken"
Say we have J_1O * alpha.diff()

![image](https://cloud.githubusercontent.com/assets/5425080/22182685/98999b34-e0bc-11e6-84a5-08dd77ba66c0.png)

and we want to substitute alpha with (beta - eta)

    print ((J_1O * alpha.diff()).subs(alpha, beta -eta))
    J_1O*Derivative(beta(t) - eta(t), t)

So, the internal representation is correct.

Then we do `latex` on it:

    print (latex((J_1O * alpha.di

[2017-01-22 13:18] barun511 commented on #12077
Aha, thanks!

[2017-01-22 13:18] #12077 closed

[2017-01-22 14:24] barun511 commented on #12074
test_latex seems to work fine after the suggested change. Note that the original issue could only be reproduced if you ran the full test suite...running test_latex by itself did not raise the exception.

Could somebody review the PR and let me know whether it's okay?

[2017-01-22 16:50] jksuom commented on #12071
It seems that SymPy is not running in a loop, but it is consuming a lot of time computing with integers `a` of this size:
[code]

[2017-01-22 18:03] #12005 closed

[2017-01-22 18:10] gxyd opened #12081 "integrate(x**(-S(3)/2)*exp(-x), (x, 0, oo)) encounters Runtime Error"
The integral of `x**(-S(3)/2)*exp(-x)` doesn't converge, so instead of returning the `Integral` instance as it is, it causes RuntimeError.
[code]

[2017-01-23 11:03] #12074 closed

[2017-01-23 11:31] sukop commented on #12071
True that the numbers grow quickly but I was not able to confirm that it terminates as I left it running for a few hours without getting an answer. Is this to be expected? For a system of total degree of 2, it calculates the result almost instantly, i.e.:

    u = a*x**2 + b*y**2 + c*x + d*y + e
    v = f*x**2 + g*y**2 + h*x + i*y + j

[2017-01-23 11:37] RafalSkolasinski commented on #12060
That is exactly what I want to achieve. I am working on a [MR](https://gitlab.kwant-project.org/kwant/kwant/merge_requests/41) that integrate processing of symbolic input in numerical package [kwant](https://kwant-project.org/).

Parsing string, that can be sympified, instead of sympy expressions is also type of input we want to support. We want to interpret all single letters there as Symbol beca

[2017-01-23 12:02] jksuom commented on #12071
The issue is `heuristicgcd`. It calls itself recursively once for each symbolic coefficient. The numbers grow by an order of magnitude on each call. When there are millions of decimals, it apparently looks like an infinite loop on most ordinary table machines. There should probably be some kind of limit check raising an exception in `heuristicgcd`.

[2017-01-23 16:34] juandesant opened #12084 "log(Max(x,x**2),2) causes recursion exception"
If you try to compute `log(Max(x,x**2))`, the symbolic output is obtained. Same with `ln(Max(x,x**2))`. However, if you enter a base, as in `log(Max(x,x**2),2)`, you obtain:

    RuntimeError: maximum recursion depth exceeded while calling a Python object

However, `log(Max(x,x**2),exp(1))` does not cause the exception, either. And `log(Max(x,x**2))/log(2)` also works.

Regression: This does not h

[2017-01-23 16:57] #12054 closed

[2017-01-23 19:46] juandesant commented on #12084
We are working around this issue by creating our own log function:

[code]

[2017-01-23 20:26] jksuom commented on #12084
This does not seem to happen on current master  either:
[code]
So it has probably been fixed.

[2017-01-23 21:01] asmeurer commented on #12060
There are probably ways to support parsing complex numbers without relying on a name being in the namespace, but I don't know if they will significantly slow down the parser.

[2017-01-24 04:36] asmeurer commented on #12045
I guess it's trying to be more user friendly:

[code]

Not sure if this is really a good idea, though. But even if we do change it to be the same as Rational, it might be worth keeping the current algorithm under a flag, as some may find it useful.

[2017-01-24 07:52] mohit-raj commented on #12052
@asmeurer It means while extracting symbols from f we need to maintain the order.

[2017-01-24 14:56] gerritholl opened #12089 "mathml printer for IndexedBase required"
Writing an `Indexed` object to MathML fails with a `TypeError` exception: `TypeError: 'Indexed' object is not iterable`:

[code]

It also fails for more complex expressions where at least one element is Indexed.

[2017-01-24 15:08] gerritholl opened #12090 "symbol name containing underscore leads to incorrect latex"
If a symbol name contains an underscore, the latex code generated fails to compile with `! Double subscript`:

[code]

There should perhaps be a warning or error on sympys side to handle this, or it should generate `{a_{b}}_c` instead.

[2017-01-24 16:06] scpmw commented on #12084
Yes, the fix (41eecbc, according to bisect) happened even before the 1.0 release, which is why I didn't report it originally. This might have been a mistake, given that we have now been sitting around for almost a year telling users over and over to use *anything* but the currently released 1.0 version.

[2017-01-24 17:40] gerritholl opened #12091 "Nested sum .doit() gives `TypeError: Base label should be a string or Symbol.`"
Calling `.doit()` on a nested sum might fail with `TypeError: Base label should be a string or Symbol.`, but I'm not quite sure about the exact circumstances.  Sometimes calling `.simplify()` first prevents the problem but that may require setting a high ratio.  See below for an example (with a very long traceback).

[code]

[2017-01-24 17:40] gerritholl commented on #11444
Is this related to #12091 ?

[2017-01-24 17:41] gerritholl commented on #12091
Is this related to #11444 ?

[2017-01-24 18:55] asmeurer commented on #12052
The order has to be specified in the arguments to nsolve. Three arguments should be required when the input is a system.

[2017-01-24 19:11] Upabjojr commented on #11444
@gerritholl Yes, it is

[2017-01-24 19:16] asmeurer opened #12092 "evalf does not call _imp_ recursively"
Example from https://stackoverflow.com/questions/41818842/why-cant-i-evaluate-a-composition-of-implemented-functions-in-sympy-at-a-point:

[code]

The code for this is in `Function._eval_evalf`. It isn't calling evalf recursively on the return of `_imp_`.

[2017-01-24 19:22] Upabjojr commented on #12091
Closing as duplicate.

[2017-01-24 19:22] #12091 closed

[2017-01-24 19:25] Upabjojr commented on #11444
I think this could be solved by defining `._eval_subs( )` for `Indexed`, which should then call recursively the substitution on the indices only (not on the base).

[2017-01-24 21:16] madan96 commented on #10884
@moorepants Can you try this one again?
It's working just right in my case for IPython 5.X.

[2017-01-24 23:11] tanayag commented on #12052
@mohit-raj yes we need to extract symbols in ordered way otherwise, we'll exchange the answers

Example:
`print(nsolve((a,b,c),(x,y,z),(50,50,50)))
[-1.5]
[ 1.5]
[ 1.5]

and

print(nsolve((a,b,c),(y,x,z),(50,50,50)))
[ 1.5]
[-1.5]
[ 1.5]`

so we can't just use frags = f.free_symbols
as here:

![screenshot from 2017-01-25 04-38-44](https://cloud.githubusercontent.com/assets/16465642/22271009/763107

[2017-01-24 23:28] asmeurer commented on #12052
The examples I listed above should give better error messages.

[2017-01-25 00:09] tanayag commented on #12052
working on it

[2017-01-25 04:29] tanayag commented on #12052
elif len(args) == 2:
        f = args[0]
        fargs = None
        x0 = args[1]
        for func0 in f:
               if len(func0.free_symbols)>1:
                       raise ValueError('expected a one dimensional function')

[2017-01-25 08:00] jondo opened #12095 "solveset regression: rational inequality with abs()"
Solving the inequality `abs((x-1)/(x-5)) <= 1/3` was fixed in #9565. However, with the current Git master the solution `[-1.0, 2.0]` is not found any more:
[code]

FWIW, the similar inequality without `abs()` works:
[code]

This is on `SymPy 1.0.1.dev (Python 2.7.12-64-bit)`.

[2017-01-25 08:24] jondo commented on #12032
@zleba BTW, please edit your comments to use backticks (`) around code, otherwise the contained "**" is parsed as markup for bold text.

[2017-01-25 11:17] mohit3011 commented on #6341
I am trying to test the new gammasimp function in combsimp.py . I have written the tests for it but somehow they are not getting tested as I am getting no error while testing locally. But, when I pushed the code for merging Travis found some error. Please help

[2017-01-25 11:19] mohit3011 commented on #6341
`import sympy
sympy.test("sympy/simplify/tests/test_combsimp.py")`

I am testing in this manner . Is this correct ?

[2017-01-25 11:23] mohit3011 commented on #6341
![screen shot 2017-01-25 at 4 52 56 pm](https://cloud.githubusercontent.com/assets/19210197/22288856/c8214532-e31e-11e6-8fca-0786a297f70b.png)

[2017-01-25 12:53] jksuom commented on #6341
That is one way of testing. bin/test can also be used to run individual test files by giving (a part of) the name as a parameter: `bin/test combsimp`.

[2017-01-25 13:53] gerritholl opened #12097 "differentiating Integral w.r.t. Indexed yields `Integral(0, b)` rather than `0`"
When I integrate `sympy.Integral(a, b)` with regard to `c[d]`, i.e. with regard to `IndexedBase(c)[d]`, I get `Integral(0, b)` which is clearly just `0`, as `.doit()` will show.:

[code]

See also [Stackoverflow](http://stackoverflow.com/q/41834132/974555).

[2017-01-25 16:27] mohit-raj commented on #12052
@asmeurer I would like to have your valuable suggestion on this :
` if fargs is None:
            fargs = [ ]
            seen = [ ]
            out = [ ]
            for i in f:
                temp = i.as_ordered_terms()
                for j in temp:
                    if(isinstance(j,Symbol)):
                        out.append(j)
        for m in out:
            if m not in seen:

[2017-01-25 18:43] mohit-raj commented on #12052
@asmeurer
I would like to have any valuable suggestions on this code below.
It is maintaining order of variables. I think preorder_traversal would also work.
Kindly do give suggestions on this.

if fargs is None:
            fargs = [ ]
            seen = [ ]
            out = [ ]
            for i in f:
                temp = i.as_ordered_terms()
                for j in temp:

[2017-01-25 19:02] asmeurer commented on #12052
@tanayag please wrap your code on GitHub with ``` so that it formats correctly.

[2017-01-25 21:34] chrstphrchvz opened #12100 "ContourSet not saved"
When plotting a ContourSeries with matplotlib, the [ContourSet returned by pyplot function `contour()` is discarded](https://github.com/sympy/sympy/blob/35e8c28de549f6f898ef5b09f8e39ca9a6a6196c/sympy/plotting/plot.py#L911). The ContourSet is needed for things such as adding inline labels using `clabel`. Would it be possible to save the ContourSet to the _backend, similar to how collections are sav

[2017-01-26 09:00] orlp opened #12101 "List of prime factors including multiplicity is missing"
The vast majority of the time when using prime factorization in algorithms I'm interested in a list of prime factors. E.g. for 24 it's `[2, 2, 2, 3]`. However sympy (to my knowledge) only provides `sympy.factorint` which returns a dictionary. I always end up writing a helper function:

    factorlist = lambda fac: sum(([p] * fac[p] for p in sorted(fac)), [])

It would be really nice if factorizati

[2017-01-26 09:52] tanayag commented on #12052
sorry @asmeurer

[code]
since the user is not giving any variable(fargs=None), that means f should have only one dimensional equations,
so I am checking all the equations in f and anyone contains more then one variable
I will raise a ValueError

so will it work?

[2017-01-26 20:29] smichr commented on #12101
A possibility is:

[code]

But maybe an argument `multiple=True` for `factorint` would be preferable.

[2017-01-26 20:36] orlp commented on #12101
@smichr `multiple=True` is definitely better than my suggestion. I really do think that providing this functionality straight up without a helper function is an improvement for sympy.

[2017-01-26 21:17] tanayag commented on #12052
@asmeurer I tried it
but can't understand why the tests are failing #12093

[2017-01-26 23:09] tanayag commented on #12052
I have also looked upon 1st problem

and a little help here!

[code]
u see
I can't find the length of x0(guess vector) if it is a single integer, since int type has no len()
or if fargs is just symbol(outside tuple/list whatever) since, Symbols type has no len() again

what should I do to, do this error right?

[2017-01-26 23:15] asmeurer commented on #12052
You can use the `iterable` function (see lower in the code) to check if `f` is an iterable.

[2017-01-26 23:50] tanayag commented on #12052
yep, now I guess it will work, running tests...

[2017-01-27 00:27] tanayag commented on #2709
[code]
I guess this is quite good

I mean why would we wanna do this
`In [15]: Poly(1.2*x*y*z, x, domain='RR[y,z]')`

BTW, Is this issue still on?

[2017-01-27 10:16] jksuom commented on #2709
It is still a valid issue. The preprocessing of options should be extended to accept polynomial rings with real coefficients.

[2017-01-27 15:07] akshaym96 commented on #11727
Hi,
   I encountered neither an error nor an exception. If there is a real problem can you give me a reference to a file so that I can try to fix it. @asmeurer

![screenshot from 2017-01-27 20-32-35 png 1366x768](https://cloud.githubusercontent.com/assets/6770064/22375441/0f2d33b6-e4d0-11e6-83b0-a98edbd16ddd.png)

[2017-01-27 20:21] asmeurer commented on #11727
@akshaym96 make sure you have NumPy installed. Otherwise it will just skip those tests (that's what the `s`s are in your test run.

[2017-01-28 04:02] AlDanial opened #12107 "trig series can be summed with Euler's formula"
Hi.  I'm very impressed by sympy, terrific stuff.  I recently tried to sum the series
``sin( pi*(k-1)/N )``
for k = 1..N but invoking ``.doit()`` just returns the original equation:
<pre>
In [29]: from sympy import I, pi, symbols, Sum, cos, sin, exp
In [30]: N, k = symbols('N k')
In [31]: Sum( sin(pi*(k-1)/N), (k, 1, N) ).doit()
Out[31]: Sum(sin(pi*(k - 1)/N), (k, 1, N))
</pre>

However, knowing

[2017-01-28 06:25] Omarkhursheed commented on #11727
Hello,
I'd like to work on this issue. I'm new and looking around the codebase. What should I do to get started on this problem?

[2017-01-28 09:45] tanayag commented on #12052
@asmeurer please review #12106

[2017-01-28 20:58] jondo commented on #12095
@kshitij10496, this got broken when you applied your new `solvify` in your commit 0d6d4edd1118e5a2f17c5368d3c2c0c748244f48 during your [GSOC participation](https://github.com/sympy/sympy/wiki/GSoC-2016-Solvers-Progress#kshitijs-progress). Can you please fix it and add it to the regression tests?

Also pinging @hargup, who merged this.

[2017-01-28 21:19] jondo commented on #9721
I now see the results `[0, pi/2) U (3*pi/2, 2*pi)` and `(0, pi/2)`. Those are correct w.r.t. the period intervals `[0, 2*pi)` and `[0, pi)` (without saying something about the periodicity). So I guess this is fixed?

[2017-01-29 13:04] Shikhar1998 opened #12111 "Why 1/S.Zero and limit(1/x,x,0) have different output ?"
[code]
Why are the 2 outputs different , 1/S.Zero = ComplexInfinity and limit(1/x,x,0) = oo
As in the complex plane the limit can be obtained from any direction.

[2017-01-29 13:16] jksuom commented on #12111
Actually, there are three possible outputs. `limit` assumes that its variable `x` is real. Then `1/x` is real, and so is its limit, which is from the right by default. Limit from the left is different:
[code]
`1/0` is defined as the limit of `1/z` for a complex `z` tending to 0, hence it is the complex infinity.

[2017-01-29 14:26] Shikhar1998 commented on #12111
@jksuom , I understand your point , but if I define x (i.e variable where x->0) to be defined in the complex plane the the answer should be complex infinity and independent of the direction as we can approach a point in the Argand plane from any direction but why I get an answer +oo.

[code]

[2017-01-29 15:16] jksuom commented on #12111
`limit` has keyword argument `dir` that has two values, `+` and `-`. If no `dir` is given, `+` will be the default value. That is why limit is from the right.

[2017-01-30 08:12] SagarB-97 commented on #11435
@asmeurer
Please review PR #12108.
./bin/test and Travis CI tests are failing because the assert statements require the old printing formats.
What should I do?

[2017-01-30 16:50] SagarB-97 commented on #10672
@asmeurer
Please review PR #12112

[2017-01-30 18:06] Shikhar1998 commented on #12111
@jksuom , ya that justifies the reason, thanks for clarifying 👍

[2017-01-30 18:08] #12111 closed

[2017-01-30 19:28] asmeurer commented on #11435
You should change the tests that tested against the old format to test against the new format. Also be sure to run `./bin/doctest` as generally when the printer changes you need to change several of those.

[2017-01-30 20:07] #11691 closed

[2017-01-30 21:06] mohit3011 commented on #12092
If this issue is still open then I would like to work on it

[2017-01-30 21:09] asmeurer commented on #12092
@mohit3011 it looks like https://github.com/sympy/sympy/issues/12096 fixes this.

[2017-01-30 21:12] mohit3011 commented on #12092
@asmeurer  But I see that it has failed in the Travis test

[2017-01-30 21:13] asmeurer commented on #12092
The Travis failure is an unrelated failure, which has been fixed in master. Once @parsoyaarihant pushes up a fix to pass through the precision the tests should pass.

[2017-01-30 21:30] mohit3011 commented on #12071
I would like to work on this issue

[2017-01-30 21:36] mohit3011 commented on #6340
It seems no one is working on it , I would like to work on this issue

[2017-01-30 22:51] #12062 closed

[2017-01-30 23:18] #11444 closed

[2017-01-31 11:38] tanayag commented on #12052
@asmeurer I guess we can merge and close the issue now!

[2017-01-31 13:56] SagarB-97 commented on #11435
@asmeurer
Thanks! I'll do that!

[2017-01-31 14:09] SagarB-97 commented on #11435
@asmeurer
Does Travis CI use the updated test files for approving build?

[2017-01-31 15:15] ArifAhmed1995 commented on #12081
I get this result :
`Piecewise((gamma(-S(3)/2 + 1), re(S(3))/2 < 1), (Integral(x**(-S(3)/2)*exp(-x), (x, 0, oo)), True))`

Python 2.7.11+ , Linux Mint 18 and latest development version of Sympy

[2017-01-31 15:19] vog opened #12114 "solve() leads to ZeroDivisionError: polynomial division"
In sympy 1.0 with Python 3.5 I tried to solve the following system of polynomial equations:

[code]

However, after ~15 seconds of computation, `solve()` fails with the following exception:

[code]

[2017-01-31 17:55] gerritholl opened #12115 "Cannot access imported submodules in `sympy.core`"
When importing a submodule from `sympy.core` using `import sympy.core.module`, any attempt to access the imported module results in `AttributeError`, as shown below.  Using `from sympy.core import module` does work:

[code]

[2017-01-31 19:49] #11964 closed

[2017-01-31 20:26] asmeurer commented on #12052
Fixed by https://github.com/sympy/sympy/pull/12106

[2017-01-31 20:26] #12052 closed

[2017-01-31 21:05] gerritholl commented on #12115
This happens because `sympy/__init__.py` has a `from .core import *`, this imports `sympy.core.core` to replace `sympy.core`, which makes the other `sympy.core.*` modules not directly accessible.

[2017-02-01 07:18] jksuom commented on #12114
It seems that `p.rem(f[:1])`, that computes the remainder of the polynomial `p` modulo the ideal generated by `f[:i]`, does not allow any zeros in the generator list. It would probably suffice that not all generators vanish. But, in the construction of a Gröbner basis it is not necessary to include any zero polynomials. Hence they can be removed from the argument `F` of `GroebnerBasis.__new__`.
Th

[2017-02-01 11:37] dranknight09 commented on #11776
Can we create a check ( like for besselj ) that could return the expected results for jn(0,z) .

I've created a Pull request #12216.

[2017-02-01 16:24] db87 opened #12117 "linsolve not working"
I have a set of 8 linear equations, representing two linear coupled optical cavities. I am getting weird results using `linsolve` to solve them.

Here is my code: I have the full set of equations that I solve first and then sub in some variable values, this gives a different result to when I sub in the variable values first and then solve
[code]
This outputs:
![image](https://cloud.githubuserconte

[2017-02-01 17:07] db87 commented on #12117
Ignore the part regarding the `D` variable, this was just me missing a simplify....

The issue with the simplification of equation 2 still seems to be there though.

[2017-02-01 18:32] asmeurer commented on #11776
Should be #12116.

[2017-02-01 20:32] tanayag commented on #12114
@jksuom
what is polynomials in `poly` ?
and how can I transform expressions in `F` into them??

[2017-02-02 10:55] jksuom commented on #12114
Elements of `F` are expressions:
[code]
and the transformation takes place in `GroebneBasis.__new__`:
[code]
Elements of `polys` are objects of class `Poly`:
[code]

[2017-02-03 20:53] asmeurer commented on #11435
Yes. Travis tests against the files in your branch.

[2017-02-04 12:01] dranknight09 commented on #11028
I am working on this.
How can I get the coefficients of a variable in an equation? For e.g z=y-2*x-1 , how can I get the coefficient of  x in z?
Is there a need for geometry object apart from line, circle and ellipse via equation, because I found only these entities available that can be expressed in a equation(non piece-wise)? (http://docs.sympy.org/0.7.2/modules/geometry.html)

[2017-02-04 12:14] shubham3174 commented on #11634
@asmeurer I would like to fix this issue. i used dotprint for 2**x and x**2 and it gave two different graph and both seemed correct  . i am not able to see where the bug is . i am new to sympy. which file should i look into...?

[2017-02-04 13:22] rammanoj commented on #11197
Can I work on this issue?

[2017-02-04 14:10] rammanoj commented on #12114
can I solve this issue?

[2017-02-04 16:47] Omarkhursheed commented on #12114
Hello,
If this issue hasn't been fixed yet, I would like to work on it.

[2017-02-04 17:00] nicoguaro commented on #9375
@moorepants, is this version of vector the same that the one under ``physics.vector``?

[2017-02-04 19:56] maurogaravello commented on #12078
I tried to correct this bug. I add '_needs_mul_brackets' in sympy/physics/vector/printing.py.
Pull request #12125

[2017-02-04 22:42] shevah opened #12126 "Eval function for boolean expression"
Hi,
Assume we have the following code:
[code]
I would like to see `rule.eval({x: False, y:True, z: True})` to return `True`.
Sympy has `subs()` and `xreplace` methods for this kind of behavior but they create new function/expressions internally which results in very poor performance (0.0003 seconds per `subs` call).

I would like to see a simple evaluation that given a full assignment to all varia

[2017-02-04 22:52] moorepants commented on #9375
No, not exactly. The physics.vectors are immutable and designed to be a standard SymPy object. The ones in physics.mechanics.vector allow for the mutability so that derivatives can be assign post creation, which is needed in the mechanics module.

[2017-02-05 02:33] adeak opened #12128 "Support for lambdifying logical operators with multiple arguments"
While logical operators such as `Or` and `And` work fine for more than 2 input arguments, the resulting function from `lambdify` tends to choke on this. Example, motivated by [this question](http://stackoverflow.com/q/42045906/5067311) on Stack Overflow:

[code]

The above throws a confusing error (at least confusing in case numpy is installed), since the third input argument is misunderstood by n

[2017-02-05 07:52] yanma opened #12129 "solve() doesn't solve cos(2*a) = 0 in cos(a)"
I found solve() cannot solve cos(n*a) = 0 in cos(a) when n > 1.
Following code reproduces the issue.

[code]

The output in my environment is below. If I expand the cos(n*a), sympy correctly find the solution.
But if I don't expand it, sympy cannot find it.
[code]

[2017-02-05 16:11] nicoguaro commented on #9375
@moorepants, I see ... I was considering starting with some tensor classes for stresses and strains for Continuum Mechanics. But I don't know how to proceed then. Any tips?

Also, there is probably a better place to discuss this. Should I open an Issue?

[2017-02-05 21:07] moorepants commented on #9375
An issue or the mailing list is fine. Note that we have tensors classes already that you may want to look into using. If you want to use these types of vectors and dyadics I suggest building off of sympy.vector. Only use sympy.physics.vector if you specifically need the immutability and the features that offers.

[2017-02-05 23:14] TomasRiker opened #12131 "Trivial integral gives complicated RootSum answer"
This:
´integrate(exp(x) / (1 + exp(2*x)), x)´

... should result in ´atan(exp(x))´, and manual integration indeed gives this result. However, the "normal" integration method gives a very complicated answer involving ´RootSum´.

(Tested in Sympy Gamma and the Live Shell)

[2017-02-06 03:49] Gouenji commented on #12114
please tell me if this issue has been fixed?
if not i would like to work on it

[2017-02-06 06:37] jksuom commented on #12114
It still leads to the same error:
[code]

[2017-02-06 07:53] prateekiiest commented on #12114
Hi, I would also like to work on this issue.
Can you tell me why this zero division error is arising?

[2017-02-06 08:14] jksuom commented on #12131
It seems that Risch integration is used if no hints are given. There is currently no automatic simplification. Manual integration can be used to get the simplified answer..
[code]

[2017-02-06 10:00] oldk1332 commented on #12131
To be more precise, this RootSum should be handled by the Rioboo algorithm, which is part of rational function integration.  See function log_to_atan at `sympy/integrals/rationaltools.py`.

[2017-02-06 12:55] vog commented on #12114
This surprises me, too. The commit by @skirpichev adds a test case which is almost identical to the input program I gave. So I wonder why that test case would work, but my original program wouldn't.

[2017-02-06 15:02] nschloe opened #12132 "[regression from 0.7] coeff(x, n=0) doesn't work correctly in some cases"
From the expression `a` I'd like to get all terms in which `x` does not occur (i.e., `a`). This
[code]
works fine.

However, if you replace `a` by `-a`, `coeff` will return `0`
[code]
Expected: `-a`.

This is a regression from 0.7.6.1 where everything worked fine.

[2017-02-06 15:14] prateekiiest commented on #12132
Yeah, its printing 0. Can you specify the code part??

[2017-02-06 15:21] nschloe commented on #12132
The offending funtion is [here](https://github.com/sympy/sympy/blob/master/sympy/core/expr.py#L1107). Haven't looked into what's going wrong exactly though.

[2017-02-06 15:22] prateekiiest commented on #12132
Thanks, I'm looking into it

[2017-02-06 15:32] nschloe commented on #12132
[This line](https://github.com/sympy/sympy/blob/master/sympy/core/expr.py#L1245) is responsible. Looking at `as_independent`.

[2017-02-06 15:36] prateekiiest commented on #12132
Yeah, it has not taken into account the possibility of the coeff. to be negative.

[2017-02-06 15:38] nschloe commented on #12132
What probably makes a difference: `a` is a `<class 'sympy.core.symbol.Symbol'>`, `-a` is a `<class 'sympy.core.mul.Mul'>`.

[2017-02-06 20:02] Abdullahjavednesar commented on #7027
I'd like to take this up.
@asmeurer can you tell me what exactly you mean?

[2017-02-07 07:43] kulalexey opened #12133 "integrate(1/x**2,(x,-oo,oo)) give 0"
Correct answer is oo

[2017-02-07 13:32] adeak commented on #12133
It seems that `integrate(1/x**2,(x,-oo,0))` is `-oo` (using 1.0). Doesn't look good. (And even then the 0 result would only be a correct result in the principal value sense, but that's another matter).

Adding any finite upper limit for the above integral obviously works fine. I suspect the limit of the antiderivative might be to blame: `limit(-1/x,x,0)` without a direction gives `-oo`. If this is

[2017-02-07 13:41] jksuom commented on #12133
This direction issue was fixed in https://github.com/sympy/sympy/pull/11889.

[2017-02-07 17:57] inducer opened #12134 "Sympy numbers don't adhere to Python's numbers ABC"
I'd expect this to be `True`:

[code]

https://docs.python.org/3/library/numbers.html

(Sorry if this has been considered before--a quick search didn't reveal anything.)

[2017-02-07 18:55] cbm755 commented on #11847
I hit this again today with an integral transform.  Specifically the `inverse_laplace_transform` introduces a `Dummy('c')` (which lives in both the upper and lower limits of integration).  But try `eval(srepr(...))` and now there are two Dummy `c`'s.

[code]

[2017-02-07 19:12] #12092 closed

[2017-02-08 03:10] asmeurer commented on #12134
Should be easy to fix. I think the last time this was brought up we still supported Python versions that didn't have ABCs.

[2017-02-08 05:23] Abdullahjavednesar commented on #12134
Why does it return ```False```?

[2017-02-08 05:29] mhlr commented on #2839
I have found a workaround for this. The problem is that when in an already running IPython session, `init_session` does not call `init_ipython_session` which is responsible for enabling the options as well as starting the session.  That call can be made explicitly first:

[code]

See http://stackoverflow.com/a/42105135/843348

[2017-02-08 06:52] asmeurer commented on #2839
@mhlr so I guess the `if ip is None` check before it calls `init_ipython_session` should be removed. Are there downsides to calling it twice? I tested your workaround and it seems to work. Can you send a patch?

[2017-02-08 07:11] madan96 commented on #12134
@Abdullahjavednesar I guess because `x` is not an instance of `Number` ABC in Python numbers.

[2017-02-08 08:08] madan96 commented on #12134
@asmeurer Will inheriting the `Number` class (from numbers module) into `Number` class in sympy.core.numbers work?

[2017-02-08 08:39] Abdullahjavednesar commented on #12134
@madan96 Hopefully inheriting ```Number```class should work.

[2017-02-08 12:02] Wrzlprmft opened #12139 "doit adds spurious factors to Derivatives of abstract functions."
Just consider the following example:

[code]

So `doit` does nothing but doubling `expression`, which is obviously wrong. This happens to me with SymPy 1.0, but I have found no indication that this was fixed later.

Found through [this Stack Overflow question](http://stackoverflow.com/q/42111375/2127008).

[2017-02-08 12:37] jksuom commented on #12139
It seems that this was fixed by https://github.com/sympy/sympy/pull/12066.

[2017-02-08 17:12] killerrex opened #12140 "Simplify does not always work with inverse trigonometric functions"
The simplification of an inverse trigonometric function depends of what surrounds it:

[code]
The same happens with the other trigonometric functions (cos, tan, csc...)

The opposite order works fine:
[code]

Tested with Sympy 1.0 and python 3.5 in windows and opensuse tumbleweed.

[2017-02-08 17:27] asmeurer commented on #12134
We might need to define some attributes required by the ABCs, but as far as I know it should work.

[2017-02-08 17:54] asmeurer commented on #12139
Yep, seems fixed.

[2017-02-08 17:54] #12139 closed

[2017-02-09 04:57] Yathartha22 commented on #7615
@asmeurer please have look at the PR and review it.

[2017-02-09 06:00] mhlr commented on #2839
@ausmerer I do not know if there are downsides. I have not observed any, but this is the first time I have really looked inside sympy source and I have only started using this method.
There is still the problem that the initialization need to be done separately, eg doing `eval-buffer` from emacs does not work.

I am happy to make a patch if you think this is good.

[2017-02-09 06:32] asmeurer commented on #2839
Yes, please send a patch.

[2017-02-09 07:14] mhlr commented on #2839
@asmeurer Ok. So I will just remove the if statement.

Also do you think wrapping the initialization in an IPython magic would fix the problem with needing separate evaluations?

[2017-02-09 10:48] SaiHarsh commented on #10446
Is it still open?
I would be glad to work on this.

[2017-02-09 11:18] meet7202 commented on #12134
[code]
importing numbers changes datatype of x to string from Number that's why Number ABC returns False.
@asmeurer , This issue can be solved if I will change
`num = str(num)`  to `num = mpf(num)` in "sympy/core/numbers.py" (Line Number 780-781) , But I am not able to figure our that it will misbehave in other cases or not please clear my doubt so I can send you PR.

[2017-02-09 13:38] mohit3011 commented on #12134
@meet7202  are you working on this issue ?

[2017-02-09 13:48] meet7202 commented on #12134
@mohit3011 , Yes I am. Just Needed @asmeurer's confirmation...!!

[2017-02-09 14:03] mohit3011 commented on #12140
I want to work on this issue , can you specify code part or any starting point ?

[2017-02-09 16:44] killerrex commented on #12140
I have reduced my case to this small test code:
[code]

For what I check with the debugger when the main function is the *f* the code enters in the following lines of simplify (lines 523-530 of simplify.py):
[code]
As the root expression is asin and not not Add, Mul, Pow, ExpBase. As is a Function and the argument is the inverse function it cancels both.

But when the main function is the *g* the

[2017-02-09 19:25] jksuom commented on #10610
Fixed by #12121.

[2017-02-09 19:25] #10610 closed

[2017-02-09 21:03] madan96 commented on #12134
@meet7202 You can run `tests` locally to check if there is any anomaly for other cases.

[2017-02-09 22:37] asmeurer commented on #2839
I don't know. Having a magic command sounds useful either way, though.

[2017-02-10 04:52] AnubhaAgrawal commented on #12129
Hello everyone,
I want to solve this bug, but I am new on sympy so, please tell me in which file we find this bug.

[2017-02-10 05:58] RoccoAPascale opened #12143 "Change Definition of **"
Hello,

I have been searching for a solution to having a negative real number being raised to a fractional exponent return the real root.  I understand there are functions which take care of this, but I am looking for something that would be implicit.  For example, if I derive a function using sympy and it contained a symbolic object to a fractional exponent.  If I then wish to integrate it with a

[2017-02-10 06:36] mohit3011 commented on #12140
So should I add these lines into my code and test it ?

[2017-02-10 08:12] jksuom commented on #12140
It should be kept in mind that `sin` is a many-to-one function with a multivalued inverse. `asin` denotes the principal branch of the inverse with branch cuts along the real axis from 1 to oo and from -1 to -oo. The values of `asin` lie in the zone `-pi/2 < re(x) < pi2`, and therefore `x == asin(sin(x))` is valid in this zone only. If, for example, `pi/2 < re(x) < 3*pi/2`, then `asin(sin(x))` is e

[2017-02-10 08:45] Gouenji commented on #10978
i would like to work on this bug
please tell me what i need to do

[2017-02-10 11:09] Yathartha22 opened #12146 "Improvement in check_assumptions in solvers"
check_assumption just returns True or False. So rather than just returning False if the assumption about the expression that is incorrect is also returned the user would know which of all the set of assumptions is False. This would probably help him determining the expression correctly.

[2017-02-10 11:50] killerrex commented on #12140
I also notice the problem of the principal value but my concern was more in the line of the different behaviour of simplify depending of the contest where the asin-sin composite is found.
To address that discrepancy we need to remove the inverse method from the trigonometric functions or tune it so it returns a full set of solutions. Although I think this will introduce many unexpected and undesir

[2017-02-10 11:56] valglad commented on #12114
@jksuom I'm not getting the error after making the change in polytools.py as in skirpichev's commit.

[2017-02-10 12:46] mohit3011 commented on #12140
I agree with both of you, so should I start with simplify.py

[2017-02-10 12:46] jksuom commented on #12114
This [comment](https://github.com/sympy/sympy/issues/12114#issuecomment-276589219) explains why that is to be expected. The reason is that zero polynomials are removed before they reach the critical `p.rem(f[:i])` call. Any way of removing the zeros will suffice.

[2017-02-10 12:55] valglad commented on #12114
Yes, I understand why it should work, and it does. But you commented after the commit that "it still leads to the same error", which it doesn't for me.

[2017-02-10 13:18] jksuom commented on #12140
I think that `asin(sin(x))` should be left as it is in `simplify`. It seems that the current conditions for cancelling two (partially) inverse functions are wrong.

[2017-02-10 13:25] jksuom commented on #12114
That was another comment showing that it was not fixed, a reply to this [comment](https://github.com/sympy/sympy/issues/12114#issuecomment-277580851).

[2017-02-10 14:08] RoccoAPascale commented on #12143
Hello,
Just wanted to add this.  A great example of this would be: "from __future__ import division".  But in this case for the power operator.

Thanks

[2017-02-10 14:08] valglad commented on #12114
But the commit by skirpichev fixes it, so the answer to that comment should be that the issue is essentially fixed, it's just a matter of adding what skirpichev did. Sorry if I'm missing something. Is this because skirpichev didn't pull a request? Should someone else do it instead?

[2017-02-10 15:09] jksuom commented on #12114
Ah, I see. It may seem confusing, but that was a commit  to skirpichev/diofant, not to sympy/sympy. A separate PR to sympy is expected. It need not be a copy of skirpichev's commit. There are other possibilities.

[2017-02-10 15:19] valglad commented on #12114
Oh, okay. Skirpichev's thing is the most obvious one, so I'll do that in a bit (I haven't created pull requests before though I've read the instructions so hopefully it'll work fine).

[2017-02-10 17:09] asmeurer commented on #12134
The fix here should to add `numbers.Number` as a superclass to `Float`.

[2017-02-10 17:13] killerrex commented on #12140
I think here there are 2 issues:
- simplify cancels f(finv(x)) => x only if f is the root expression,  so it does not solve nested expressions like 1+f(finv(x)) to 1+ x. This is contraintuitive and my patch solves it... Although I am convinced there is a cleanest way to do it.
- The inverse trigonometric functions (and also the hyperbolic ones) report incorrectly that they have inverse, ignoring t

[2017-02-10 18:33] OppenheimerAndTheMartians commented on #11668
Found some bare excepts...

[2017-02-10 18:55] articuno12 commented on #11197
@moorepants I wish to work on this issue.I tried to follow your previous comment.I am not able to understand what role matrix pretty printers play.Can you please elaborate a bit more?

[2017-02-10 19:33] meet7202 commented on #12134
@asmeurer sir, Please review PR #12152

[2017-02-10 20:10] mohit3011 commented on #12140
@killerrex
Could you explain what's exactly happening in these lines of codes
`if not isinstance(expr, (Add, Mul, Pow, ExpBase)):
        if isinstance(expr, Function) and hasattr(expr, "inverse"):
            if len(expr.args) == 1 and len(expr.args[0].args) == 1 and \
               isinstance(expr.args[0], expr.inverse(argindex=1)):
                return simplify(expr.args[0].args[0], ratio=ra

[2017-02-10 20:12] mohit3011 commented on #12140
![screen shot 2017-02-11 at 1 40 55 am](https://cloud.githubusercontent.com/assets/19210197/22842439/3f90c546-effb-11e6-8256-3794b59dcff6.png)
@killerrex  Could explain exactly what is happening . Thanks

[2017-02-10 20:39] zanzibar7 commented on #10978
Well, first, I'd check what the series expansion around x=0 is supposed to be,
since that's the calculation that seems to be having problems.  Then I'd trace
through and try to figure out why this mistake is happening, and how to get the
correct series to spit out, or pop up in the limit calculation.

--
 				Tim Reluga
 				Penn State, LLP

On Fri, 10 Feb 2017, Mehul Kumar wrote:

[2017-02-10 20:53] cbm755 commented on #7259
After #10531 is done, we may be able to cherry-pick here.

[2017-02-10 20:54] cbm755 commented on #10978
It also may be helpful to look at the other related issues, to see if any other fixes are availables and if so, if they fix this issue too.

[2017-02-10 22:32] killerrex commented on #12140
That part of the code was already in the simpñify code. My analysis of what is doing is:
- if expr is one of Add, Mul, Pow, ExpBase (and subclasses) just continue with the simplify function.
- for the rest of the expressions:
  + If is a function that declares to have inverse, and has just one argument, that is the inverse function with also just one argument (this part is really obscure) return t

[2017-02-11 05:13] mohit3011 commented on #12140
@killerrex   I saw the code in simplify.py and from what I can see is that we can at least add some conditions for correctly simplifying problems with one argument for now.
`if isinstance(expr, Function) and hasattr(expr, "inverse"):`
we can add a condition like this for simplifying the other way round for trigonometric functions.

[2017-02-11 06:12] akshaym96 commented on #11727
@asmeurer  Yeah I have installed numpy and got the same issue. Can please suggest some steps suggest some steps so that I can fix the problem. Which file do I need to start with?

[2017-02-11 07:26] cbm755 commented on #6092
For scalars this is fixed by #11888.

@asmeurer the OP mentions matrices: I don't know how to make nsolve return a matrix...  Is that still relevant?  Anyway, thought I should double-check before I close this.

[2017-02-11 07:51] cbm755 opened #12154 "Arithmetic and operations on "Complex Floats" do not evaluate"
`nsolve` is newly improved and working with complex number---yah!

But AFACIT, `Float` has to be real so the output can be difficult to manipulate:
[code]

Some other things work:
[code]

Some do not:
[code]

Maybe this is just #6071 but that one is all mixed up about `1j` versus `1*I` whereas what I'm talking about here is just the behaviour of `Float(...) + Float(...)*I`.

Sympy 1.0 has the same

[2017-02-11 07:52] cbm755 commented on #12154
@asmeurer do we need a "ComplexFloat" type to deal with this or am I over thinking it?  `mpmath` has `mpc`, consisting of two `mpf`s...

[2017-02-11 08:52] asmeurer commented on #6092
It does return matrices now, when passes a system.

[2017-02-11 08:52] #6092 closed

[2017-02-11 09:19] #11435 closed

[2017-02-11 10:14] meet7202 commented on #12134
[code]
`sympy.numbers.Number()` also gives WA and If I am not wrong Float is inherited from `sympy.numbers.Number()`.

[2017-02-11 10:57] mohit3011 commented on #12140
I have one doubt in mind , sine and asine are each others inverse then how does sin(asin(x)) gives x and asin(sin(x)) doesnot simplify because both should enter the second if condition in code i.e the condition `if isinstance(expr, Function) and hasattr(expr, "inverse"):`

[2017-02-11 11:34] jksuom commented on #12140
`sin(asin(x))` is evaluated by `sin.eval`. `simplify` has no part in it.

[2017-02-11 11:46] Gouenji commented on #10978
okay i am on it
thank you

[2017-02-11 12:39] #12114 closed

[2017-02-11 13:50] jhncls opened #12156 "sympy doesn't simplify expressions with GoldenRatio"
For example simplify(GoldenRatio-1-1/GoldenRatio) does not evaulate to zero.
Sympy seems to treat GoldenRatio as just a constant, different to (1+sqrt(5))/2

[2017-02-11 18:06] articuno12 commented on #11197
@moorepants I have understood what is causing the error and have narrowed it down to few lines. The error is caused after converting dq/dt to other notation(q ^()) , when we consider width or len of this element ,it comes out be 3 instead of 1 ,mostly because unicode character also gets counted.So now when we align the elements in a row in matrix extra space get added for blank vertical spaces to

[2017-02-11 19:06] moorepants opened #12157 "Dyadics and vectors do not pretty print well."
Using this script: https://gist.github.com/moorepants/8f0729c1a545945c10e01231f49e2200

[code]

This seems likely due to the fractions.

[2017-02-11 19:08] moorepants opened #12158 "Pretty printing doesn't print alphabetical subscripts properly"
[code]

[2017-02-11 19:20] ShikharJ commented on #12157
@moorepants I'd like to take this up.

[2017-02-11 19:40] moorepants commented on #12157
Go for it.

[2017-02-11 19:47] tanayag commented on #12157
I ran the script on my iPython Notebook and, IT.simplify() & To.pos_from(o) are printing quite fine
@moorepants !!!

[2017-02-11 19:52] moorepants commented on #12157
This is not an issue with Jupyter notebooks and LaTeX printing. It is an issue with pretty printing in the terminal. Try running the script in a terminal.

[2017-02-11 20:32] tanayag commented on #12157
Oh! I see,
So what do u think can be done to correct it, any suggestions??

btw, this is the code, printing fraction

[code]

[2017-02-11 21:19] mohit3011 commented on #12158
What is the issue here ? please explain as I would like to work on this issue.

[2017-02-11 21:31] articuno12 commented on #6333
I want to work on this issue. How do I proceed?

[2017-02-11 23:53] moorepants commented on #6333
Decide what the desired output should be, write a unit test in `sympy/physics/vector/tests/test_printing.py`, and then implement the code in `sympy/physics/vector/printing.py` to get the test to pass.

[2017-02-11 23:54] moorepants commented on #12157
You need to edit the Dyadic printing code so that fractions are handled correctly. Start by writing a unit test with the desired output.

[2017-02-12 08:46] mohit3011 commented on #12158
@moorepants  Could you please tell me where to start from

[2017-02-12 13:00] dranknight09 commented on #12156
You can use phi from mpmath.

from mpmath import *
x=mp.phi
print(x-1-1/x)

[2017-02-12 13:14] dranknight09 commented on #12156
float(GoldenRatio-1/GoldenRatio)=1.0
but float(GoldenRatio-1/GoldenRatio-1)=3.7818280418450374e-124

I think the issue is the precision of the second expression.

Alternatively phi from mpmath can be used
from mpmath import *
x=mp.phi
print(x-1/x-1)

[2017-02-12 13:26] jksuom commented on #12156
SymPy knows how to handle GoldenRatio when given a hint. It should be able to do that automatically.
[code]

[2017-02-12 14:06] kemlath opened #12163 "matematica code printer does not handle floats and derivatives correctly"
In its current state the mathematica code printer does not handle Derivative(func(vars), deriver)
e.g. Derivative(f(t), t) yields Derivative(f(t), t) instead of D[f[t],t]

Also floats with exponents are not handled correctly e.g. 1.0e-4 is not converted to 1.0*^-4

This has an easy fix by adding the following lines to MCodePrinter:

def _print_Derivative(self, expr):
        return "D[%s]" % (self

[2017-02-12 17:26] articuno12 commented on #6333
I tried few test cases.I believe the present version is giving right output.I think it is because when this issue was raised mlatex() was used and now it is replaced by vlatex().Would you like me to add testcases?

[2017-02-12 17:27] articuno12 commented on #10655
Is this issue still open? Can I work on it?

[2017-02-12 17:43] mohit3011 commented on #12163
I would like to work on this issue

[2017-02-12 17:45] mohit3011 commented on #12163
@kemlath could you tell me how to proceed .

[2017-02-13 09:59] SagarB-97 commented on #10382
@asmeurer
I would like to take this up and as a first step I would like to implement `rewrite(GoldenRatio)` for `fibonacci`.

But, `GoldenRatio` is a `Singleton` and the `rewrite()` function has not been implemented for `Singleton` objects.

So there are two ways it can be done.
1. I can add `try` and `except` blocks in `rewrite()` to handle `Singleton` objects.
2. `rewrite()` for `Singleton` s mu

[2017-02-13 10:45] SagarB-97 commented on #10382
The above PR implements it using method (1).

[2017-02-13 12:49] mohit3011 commented on #12163
So, should I add the lines in printing/mathematica.py ?

[2017-02-13 14:45] meet7202 opened #12168 "Wrong answer for ask(Q.rational(x)) for a float x"
Wrong answer for `ask(Q.rational(x))` for `x` a float instance
e.g
[code]
I want to solve this Issue can someone guide me.

[2017-02-13 14:53] roger- opened #12169 "Error solving equation involving symbolic function and division"
I'm using SymPy 1.0 with Python 3.6 and trying to run the following:

[code]

The last line gives this error: `TypeError: cannot determine truth value of Relational`

Am I missing any necessary parameters to `solve()`? I tried `check=False`, which didn't change anything.

[2017-02-13 16:31] jksuom commented on #12168
`math.pi` is internally converted to a Float that will be different from `pi` even if it is a good approximation. Hence it cannot be expected to have the properties of `pi`.

However, the last result (`True`) is wrong. To fix it this [Float handler](https://github.com/sympy/sympy/blob/master/sympy/assumptions/handlers/sets.py#L135) of rationality should be replaced by one always returning None.

[2017-02-13 17:08] isuruf commented on #12154
I agree that we need this. Note that there is code in SymPy in several places to detect ComplexFloats by looking at at the form, `Number + Number*I`, so a switch might not be very easy.

@certik might also be interested as it was one of his ideas to implement this in symengine.

[2017-02-13 17:13] kemlath commented on #12163
I've tested the above code by adding these methods to a class derived from MCodePrinter and I was able to export an ODE system straight to NDSolve in Mathematica.

So I guess simply adding them to MCodePrinter in in printing/mathematica.py would fix the issue

[2017-02-13 17:15] mohit3011 commented on #12163
Ok , so I'll add the method in McodePrinter class.

[2017-02-13 17:22] mohit3011 commented on #12163
@kemlath  it is giving some error , please have a look
![screen shot 2017-02-13 at 10 51 05 pm](https://cloud.githubusercontent.com/assets/19210197/22894439/fc1e8ab4-f23e-11e6-8d1e-3e27174a6e01.png)

[2017-02-13 18:23] mohit3011 commented on #12163
Maybe we should only go with printing issue of derivative.
I have submitted the PR #12171

[2017-02-13 19:00] wasd12345 opened #12172 "FallingFactorial ufuncify autowrap error"
Trying to ufuncify the FallingFactorial function:
Sympy 1.0
Python 2.7

Seems there is a problem with the autowrap code?

[code]

Gives the error:
[code]

Or in another environment, with Sympy 0.7.4.1, gives the similar error:
[code]

[2017-02-13 19:40] kemlath commented on #12163
My bad I should have called the super class version of _print_Float instead of str().
Please change the _print_Float method as below and the assertions are gone

[code]

or with fewer variables

[code]
I don't have access to the sympy unit tests I'm merely a user. Here's my test case that I built based on test_mathematica.py:

[test_MathematicaPrinterExt.py.zip](https://github.com/sympy/sympy/file

[2017-02-13 20:11] asmeurer opened #12173 "nsolve doesn't work with uppergamma/lowergamma"
Reported on the mailing list. It's because lambdify doesn't know how to convert uppergamma and lowergamma to mpmath's gammainc (see how `evalf` is defined).

Should be easy to fix. Just need to add some printers to `MpmathPrinter` in `sympy.printing.lambdarepr`.

[2017-02-14 04:55] patniharshit commented on #12173
Hi, I would like to take this up.

[2017-02-14 05:41] moorepants commented on #6333
Seems to work fine to me too:

[code]

[2017-02-14 05:41] #6333 closed

[2017-02-14 07:30] codesep commented on #12173
@asmeurer I would like to work on this issue.

[2017-02-14 07:37] codesep commented on #8557
@moorepants I would like to work on this issue.

[2017-02-14 08:39] HoaiNam8282 commented on #12140
Hello,

I encountered the same issue with `simplify`. The aim of this comment can be seen as a more complex test case when the issue will be solved. Note that the code presented below worked perfectly with the previous release of `Sympy` (`Sympy 0.7.6.1`).

The image below depicts the original code. It aims to successively compute the first and second derivatives of `self.pexpr[idep]` (in this cas

[2017-02-14 09:57] patniharshit commented on #12173
@codesep I am already working on this, will let you know if I can't do it.

[2017-02-14 11:21] patniharshit commented on #12173
@asmeurer I followed your cues and found MpmathPrinter class. Now I can't figure out how to write printer for the issue ?

[2017-02-14 16:15] moorepants commented on #8557
Go for it.

[2017-02-15 05:56] articuno12 commented on #11197
@moorepants  Please guide me how to move forward.

[2017-02-15 06:45] patniharshit commented on #11495
I would like to do this, tell me how to start.

[2017-02-15 08:06] SagarB-97 commented on #10382
Some consequences of changes :

[code]

[2017-02-15 08:11] asmeurer commented on #11869
Another example, from the above link: `a + a*c + a*d + b*c + b*d = a + (a + b)⋅(c + d)`. The "most factorable subterms" heuristic applies to it. I don't know how to implement that efficiently, though.

[2017-02-15 08:17] SagarB-97 commented on #10382
The above fix works for various definitions of `n` including
[code]
and
[code]

However, a `NotImplementedError()` is raised if `n` is defined as :
[code]
or
[code]

I think this might be a bug in the `doit()` function. The expression `fibonacci(n+1)/fibonacci(n)` only gets converted to an expression containing `GoldenRatio` raised to various `n` powers.

[2017-02-15 12:32] ArifAhmed1995 commented on #12154
Considering one issue : the evaluation of power of Complex Numbers.
Will it be better to extend `_eval_power` in `power.py` or add a separate class `class Pow(Function)` to `complexes.py` ?

[2017-02-15 16:18] jksuom commented on #10382
Closed by #12176.

[2017-02-15 20:19] jksuom commented on #12133
Closed by #12142

[2017-02-15 20:19] #12133 closed

[2017-02-15 21:01] Shariq03 commented on #12173
Hi, I've started knowing about open source organizations recently and I'm taking baby steps. I'm not clear with the problem statement. My understanding is that as there are only gamma & gammainc  and no upper gamma & lower gamma, we have to write code to equip users with upper and lower gamma. If this is actual statement then we can always find
1.  upper_gamma(a,z) = gammainc(a,z) * gamma(a)
2.  l

[2017-02-15 22:25] Juanlu001 opened #12177 "Wrong result with apart"
[code]

[2017-02-15 22:33] asmeurer opened #12178 "Empty intersection should be UniversalSet"
[code]

It should be `S.UniversalSet`. See https://en.wikipedia.org/wiki/Intersection_(set_theory)#Nullary_intersection

[2017-02-15 23:47] musically-ut opened #12180 "Confusing output from sympy.solve"
I've come across this rather puzzling problem with how `sympy.solve`.

## Problem setup

[code]

## Problematic behavior

So far, so good. However, I see the following outputs which I cannot explain
in light of the solutions given above:

[code]

Technically, I guess one can say that these are valid solutions. However, one
obvious atomic solution seems to be missing from this case.

### Expected o

[2017-02-16 01:30] asmeurer commented on #12173
There are no upper/lowergamma in mpmath. They do exist in SymPy. The issue here is to add translators to lambdify so that it knows how to convert them to mpmath.

[2017-02-16 01:40] asmeurer commented on #12180
I don't know the exact behavior, but I believe it's ambiguous whether solve will give a solution in terms of one of the variables you are solving for. I actually am surprised that solve gives `[{f_1: f_2}]`. IMHO, it should only do this when `implicit=True` (not to mention that you asked for `[f1, f2]`, but only got back a solution for `f1`).

To get what you want, you should solve for `f1` and `f

[2017-02-16 05:06] mohit3011 commented on #12178
I would like to take this issue.

[2017-02-16 06:16] jgoppert opened #12181 "Sympy Control Toolbox?"
Is there any interest in adding a control engineering toolbox I'm getting pretty good results with just writing some routines on top of the existing rational and polynomial stack.

Here is a demo of the state space and transfer function classes and conversion between the two for MIMO systems using a Gilbert realization. Also, I've implemented Jordan canonical form conversion. So far I just have th

[2017-02-16 10:39] musically-ut commented on #12180
Curioser and curioser.

Thank you for the explanation.

Perhaps I should attempt better to explain how I ended up discovering this behavior with the hope that it is not the case of an [XY problem](http://meta.stackexchange.com/questions/66377/what-is-the-xy-problem).

I am trying to set a polynomial identically equal to zero, which gives me a set of equations. The coefficients are a mix of free va

[2017-02-16 13:25] articuno12 commented on #12177
I want to take this issue.Please guide me on how to proceed.

[2017-02-16 13:52] patniharshit commented on #12173
If I am understanding you correctly then should I add MPMATH_TRANSLATIONS["uppergamma"] = "gammainc" in sympy/utilities/lambdify.py ?

[2017-02-16 15:50] Vedarth opened #12185 "Sympy doesn't compute powers in pretty print"
`def main():`
    `a = Symbol('a')`
    `b = Symbol('b')`
    `c = Symbol('c')`
    `e = ((a/a + 2*a/b )**(1/c))**c`
    `print('')`
    `pprint(e)`
    `print('')`
   `if __name__ == "__main__":`
    `main()`
Here output should be 1+2*a/b
But output is coming
![capture](https://cloud.githubusercontent.com/assets/22793275/23028856/96f42534-f48e-11e6-900a-7128c5443c50.PNG)
Here a/a is getting evalu

[2017-02-16 17:35] asmeurer commented on #12173
That will work for uppergamma. For lowergamma you need a printer.

[2017-02-16 18:43] pspbot7 commented on #12173
` def _print_Uppergamma(self,e):
        return "gammainc('%s','%s', ∞)" %e.args[0] %e.args[1]

    def _print_Lowergamma(self,e):
        return "gammainc('%s', 0, '%s')" %e.args[0] %e.args[1]`
@asmeurer I went through the syntax on the mpmath documentation, and will this solution work?

[2017-02-16 19:18] asmeurer commented on #12173
∞ is not valid syntax (should be `inf`). Also your string formatting syntax is invalid. But you have the right idea.

[2017-02-16 19:21] pspbot7 commented on #12173
@asmeurer can you help me with the string formatting syntax

[2017-02-16 20:09] halpernf opened #12186 "default behavior for product rule in differentiate_finite is incorrect"
Hi everybody,

First time user of SymPy. So far I am quite enjoying this and I was able to generate Arakawa brackets of arbitrary order with just a few lines of SymPy. I wanted to report on an issue I came across.

The following expression from the SymPy documentation shows use of the product rule for continuous function applied on a discrete function. This behavior is incorrect, e.g.

``>>> x = s

[2017-02-16 20:18] patniharshit commented on #12173
@pspbot7  you can write it like this:
`def _print_Uppergamma(self,e):
           return "gammainc({0}, {1}, inf)".format(e.args[0], e.args[1])`

[2017-02-17 00:21] cbm755 commented on #12154
@ArifAhmed1995 I think its either:
1.  a separate class ComplexFloat (possibly a subclass of Number)
2.  extending `_eval_power`

I'm taking a look at 1., if oyu want to help, I'll post a WIP PR soon!  Or you can try 2. if you think that's a better approach (it might be).

[2017-02-17 01:12] pspbot7 commented on #12173
@patniharshit  thanks for the help

[2017-02-17 01:14] pspbot7 commented on #12173
` def _print_Uppergamma(self,e):
        return "gammainc({0}, {1}, inf)".format(e.args[0], e.args[1])

    def _print_Lowergamma(self,e):
        return "gammainc({0}, 0,{1})" %e.args[0] %e.args[1]`
@asmeurer will this work, and if so do I need to add anything else?

[2017-02-17 04:52] patniharshit commented on #12173
Lowergamma is still wrong. It can be written either as
`"gammainc({0}, 0,{1})".format(e.args[0], e.args[1])`
or
`"gammainc(%s, 0, %s)" % (e.args[0], e.args[1])`

[2017-02-17 05:33] pspbot7 commented on #12173
` def _print_Uppergamma(self,e):
return "gammainc({0}, {1}, inf)".format(e.args[0], e.args[1])

def _print_Lowergamma(self,e):
    return "gammainc({0}, 0,{1})".format(e.args[0], e.args[1])`

@asmeurer will this work, and if so do I need to add anything else?

[2017-02-17 05:35] pspbot7 commented on #12173
@patniharshit overlooked while pasting the code, my bad

[2017-02-17 15:17] gerritholl commented on #12134
I've noticed that multiplying a `sympy.Float` with an `ndarray` gives an `ndarray` with `object`-dtype.  Would this become a `float` dtype if the `sympy numbers` were to adhere to Python`s numbers ABC, or is this a separate issue?

[code]

[2017-02-17 15:20] gerritholl opened #12190 "`SystemError` on top of (expected) `TypeError` when trying to coerce uncoercable object-array with sympy expressions to float"
[code]

[2017-02-17 15:51] asmeurer commented on #12134
That is the correct behavior (`Float*float` is `Float`, which numpy treats as `object`). This wouldn't affect that in any case.

[2017-02-17 15:56] #2839 closed

[2017-02-17 17:03] gerritholl opened #12191 "Cannot calculate derivative w.r.t. Indexed"
`sympy` cannot calculate the derivative w.r.t. an indexed value:

[code]

[2017-02-17 19:22] mamakancha commented on #12169
Could it be related to the logic that g(0) can't be equal to 0?

[2017-02-18 00:52] asmeurer commented on #12178
I don't see how the empty set is valid.

[2017-02-18 00:52] #12178 closed

[2017-02-18 14:42] RJ722 commented on #12191
Hi, I would like to take a shot at it!

[2017-02-18 20:35] MrOverlord commented on #12178
In ZFC intersection of a family of sets is always subset of union of said family (this convention is mentioned in linked wikipedia article).

[2017-02-18 20:43] asmeurer commented on #12178
I see. The universal set is more useful for algebraic operations, and SymPy does have a (formal) universal set object, so the ZFC concerns do not apply.

[2017-02-18 22:31] sum2it commented on #11539
I took up this issue and created an API. Solved in pull request #12197.

[2017-02-19 00:24] acz13 commented on #11668
@OppenheimerAndTheMartians fork the repository, commit there, and pull request back here

[2017-02-19 00:35] certik opened #12198 "GitHub sympy/sympy contributors page is incorrect"
This page: https://github.com/sympy/sympy/graphs/contributors lists the following people as the top contributors, sorted by the number of commits:

smichr
asmeurer
mattpap
mrocklin
certik
jrioux
raoulb
rlamy

However, the `git shortlog -ns` shows these people:

  4056  Chris Smith
  2884  Aaron Meurer
  1457  Ondřej Čertík
  1450  Mateusz Paprocki
  1055  Sergey B Kirpichev
  1046  Matthew Rocklin

[2017-02-19 13:24] valglad commented on #12095
It seems that solveset generally has trouble solving `abs(x-1)/abs(x-5)-1/3` (as an equation rather than an inequality) because it returns a ConditionSet but it can solve `abs((x-1)/(x-5))-1/3` just fine. The first equation gets modified by "together" at the beginning of _solveset to give an unpleasant-looking fraction with abs(x-5) in the denominator and then solveset gets confused. But the secon

[2017-02-19 17:20] maccaughanc commented on #12185
This is proper behavior on sympy's part as it follows the identities held by powers. In this case, sympy follows the identity that `(x**a)**b` doesn't necessarily equal `x**(a*b)`, with the example given in the documentation being that `(-1)**(1/2)**2 != (-1)**(2*(1/2))`. You can see a fuller discussion of this behavior [here](http://docs.sympy.org/latest/tutorial/simplification.html#powers).

If

[2017-02-19 19:44] articuno12 commented on #12157
Looks like this issue is not solved yet.If no one else is already working on it then I would like to take this up.

[2017-02-19 20:45] tanayag commented on #12157
@moorepants test written:
[code]

Results:
[code]

[2017-02-19 23:34] smichr commented on #12132
Is your SymPy up to date? With the current head I get:

[code]

Other than the docstring being wrong (indicating that `None` might be returned) I don't see a problem.

[2017-02-19 23:45] smichr opened #12200 "coeff docstring is wrong"
I don't think that `Expr.coeff` will return `None` and the following should probably be the new docstring:

[code]

[2017-02-20 03:46] articuno12 commented on #12200
I want to take this up.Please guide me on how to proceed.

[2017-02-20 06:26] Shekharrajak commented on #12129
You can use solvify(if you don't want soln like `solve` using `solveset`) :

[code]
To get the value of `cos(x)`, just put the soln into `cos ` :

[code]
In 3rd case there should be 3 ans(It seems a bug).

* We are more focus on `solveset`. but if you really want to fix it for `solve`, one need to check, where  `expand` is failing.

[code]

[2017-02-20 07:23] nschloe commented on #12132
@smichr Good call. Just tested master and found that the issue is fixed. Apparently this is only present in the 1.0 release. How unfortunate!

[2017-02-20 07:23] #12132 closed

[2017-02-20 14:52] musically-ut opened #12202 ""argument is not an mpz" while loading dill-ed SymPy expressions."
This is probably related to #2724.

The `.dill` file which causes this for me is [here](https://www.dropbox.com/s/wlj0e33c2tu85uv/state-N03-M04.0.dill?dl=0).

I see the following error:

[code]

I am using Python 3.5.2 with `dill` version `0.2.5` and `sympy` version `1.0`.

[2017-02-20 16:21] valglad commented on #12129
@Shekharrajak You said it is a bug that `expand(sin(2*x), x)` returns `sin(2*x)` but not when `expand (sin(2*x), sin(x))` does it. Is there some particular reason for wanting the first one to return `2*sin(x)*cos(x)` but not the other?

Also, `solvify(cos(n*x), x, S.Reals)` gives only 2 solutions for all values of n (it does for a first few so probably for the rest of them too). It looks like it o

[2017-02-20 23:58] sum2it commented on #8640
I think we can close this issue.

[2017-02-21 00:01] sum2it commented on #8676
I think we can close this issue since it clearly is a typo by OP. They should've written Max(p, q).is_prime ad it would've worked the way it is meant to.

Please close this issue.

[2017-02-21 08:10] tlowerison opened #12204 "Stray character"
In sympy/sympy/calculus/euler.py, in the first comment of function euler_equations there is a stray 'r' preceding the comment. Have not tested whether it creates any bugs.

[2017-02-21 08:38] pelegm commented on #8676
This was a typo, but the issue originally was a real issue, which now seems to be solved.

[2017-02-21 08:38] #8676 closed

[2017-02-21 10:28] mvnnn commented on #8640
@AnishShah ok, Close this issue.

[2017-02-21 12:00] jksuom commented on #12204
It is not a stray character but a [string prefix](https://docs.python.org/3/reference/lexical_analysis.html#string-and-bytes-literals) indicating that the docstring should be interpreted as a raw string. There are latex commands whose names consist of a \ symbol followed by some ordinary characters. In regular Python strings, \ is interpreted as an escape character but in raw strings it is not tre

[2017-02-21 12:00] #12204 closed

[2017-02-21 12:25] Shekharrajak commented on #12180
One can use `linsolve` (linear system solver) :

[code]

[2017-02-21 12:26] rammanoj commented on #11702
can I want to work on this issue?

[2017-02-21 12:35] musically-ut commented on #12180
@Shekharrajak Thanks for the suggestions. However, the coefficients can contain higher power monomials of the form `f_i ** n * f_j ** m`.

I am, at the moment, using the following `solve` settings to get results in a reasonable time:

[code]

[2017-02-21 22:21] moorepants commented on #12157
The result should be the desired output not the incorrect output. Once you have that you can add the test case to the source code and submit a PR.

[2017-02-21 22:34] tanayag commented on #12157
[code]

[code]

you mean, I should just add this test case?? @moorepants

[2017-02-21 22:35] tanayag commented on #12157
[code]

[2017-02-21 22:36] tanayag commented on #12157
[code]

[2017-02-21 22:41] tanayag commented on #12157
2  2        2
                       a ⋅c  + a⋅b  + b⋅c⋅d
d n_x⊗n_z +  ──────────────────── n_y⊗n_y
                                  b + c

[2017-02-21 22:45] tanayag commented on #12157
[code]

[2017-02-21 22:51] tanayag commented on #12157
[code]
you mean, something like this,
and should I just add a test only and submit PR?? @moorepants

[2017-02-22 04:25] moorepants commented on #12157
Yes, you can start the PR with the test but will need to work on the modifications to the dyadic printing code too. It think it is also a problem for vectors too.

[2017-02-22 04:52] tanayag commented on #12157
Sure, I will try

[2017-02-22 05:29] tanayag commented on #12157
@moorepants Is the PR right?

Also can u tell me where to start to solve printing problem?
I tried to look but have no idea about where should I start!

[2017-02-22 15:13] satels commented on #11048
Also see

[code]

[2017-02-22 15:20] RafalSkolasinski opened #12209 "chop=True ignored on expressions with symbols"
``evalf`` function got super useful option ``chop``. It works perfectly on numeric input

[code]

but it is surprisingly to me why it fails when there are symbols in the expression:

[code]

[2017-02-22 15:41] certik commented on #12198
I just sent them another email (2/22/2017) using the form https://github.com/contact with the following content:

[code]
After clicking "Send request", a page appears with a text:
[code]

[2017-02-22 16:41] certik commented on #12198
As a further data point, I have unblocked the user skirpichev, to see if perhaps that is causing the problem, but he didn't appear here:

https://github.com/sympy/sympy/graphs/contributors

So this really looks like a bug at GitHub.

[2017-02-22 16:58] skirpichev commented on #12198
Maybe, there must be some time lag after blocking/unblocking, before these settings will affect statistics.

[2017-02-22 23:13] gkorepanov opened #12210 "Vectors with non-trivial coefficients can't be printed"
The bug is not present in 1.0 release, it exists on the master branch.

[code]

[2017-02-23 06:13] cbm755 commented on #10927
Eh really?  With git master on either python2 or python3 I get:
[code]

Where-as with SymPy 1.0 I have:
[code]

For me, this has been broken since #10644.

[2017-02-23 10:00] Upabjojr opened #12213 "Python code printer"
The current Python printer prints expressions in a SymPy-style.

It could be useful to have a printer that prints non-SymPy Python code, for example:

- `Mod(x, 2)` as `x % 2`
- `And(x, y)` as `x and y` instead of SymPy's operator overloaded `x & y`.

Currently:

- `str( )` is supposed to return a valid Python code that is (with some exceptions/caveats) able to reconstruct the SymPy object.
- `lam

[2017-02-23 10:00] Upabjojr commented on #10672
https://github.com/sympy/sympy/issues/12213

[2017-02-23 12:26] mohit3011 commented on #12213
I would like to work on this issue, could you please refer the starting point

[2017-02-23 13:26] Upabjojr commented on #12213
Better discuss this issue a bit before starting, especially to get an idea of what other community members think about it.

This could potentially clash with the `lambdify` functionality.

[2017-02-23 13:28] mohit3011 commented on #12213
Yes, you are right.

[2017-02-23 15:57] #12163 closed

[2017-02-23 23:10] asmeurer opened #12215 "Float constructor should allow to set binary precision"
I discussed this in some other issues, but I don't think I've opened an issue for it.

The Float constructor only allows you to set the decimal precision. It then converts this to binary precision and saves that in `Float._prec`.

The problem here is that there are fewer decimal precisions than binary precisions. For example:

[code]

So for instance, if you had a float that used 54 binary digits,

[2017-02-23 23:15] asmeurer commented on #12213
Do you mean the printer in `sympy.printing.python`? I don't think that is used by anything, except for the `python` function. It isn't used by lambdify.

I agree it would be better to expand the functionality of this. It would be useful to directly codegen to Python. For instance, one could then subclass this to create a CythonPrinter.

It does tie in pretty closely with the LambdaPrinter. They sh

[2017-02-23 23:16] asmeurer commented on #12213
And I should add that the `str` printer could be a superclass here, but it shouldn't be considered to be a code generation printer. Aside from what you said that it focuses on SymPy output, it also has a high focus on readability and human consumption, whereas a code generator printer doesn't have that restriction.

[2017-02-24 06:30] asmeurer commented on #10672
@Upabjojr wrong number? I don't see how that's related.

[2017-02-24 07:26] ArifAhmed1995 commented on #12215
I'll work on this issue.

[2017-02-24 09:29] ArifAhmed1995 commented on #12215
What if `Float(s, prec='b54')` is treated to refer to binary precision and `Float(s, prec=54)` to 54 decimal digits.Would that be a decent workaround ?

[2017-02-24 11:42] Yathartha22 opened #12217 "Solveset doesn't solve for a number"
`solveset` is not able to solve expressions, if the symbol is specified as a number rather it returns an `EmptySet()`. Like the `solve` is able to do the same, I thought to add on this functionality to the `solveset`.
Is this advisable, if so I would do this.

[code]
While `solve` gets an answer.
[code]

[2017-02-24 14:35] Shekharrajak commented on #12217
In this case equation is `sqrt(2) - 1 == 0`, which is not possible so solveset returns `EmptySet`. But I think it must first check(whether it is a symbol or not) 2nd arg and returns `ValueError` (since 2ns arg should be a symbol).

See the [docs](https://github.com/sympy/sympy/blob/master/sympy/solvers/solveset.py#L743) .

I don't think `solve` should return this.

[2017-02-24 15:13] #12200 closed

[2017-02-24 15:36] certik commented on #12198
GitHub finally got back to me, they said my emails were not reaching them due to some internal bug. They confirmed that blocking a user removes them from the Contributors list (and apparently there is some lag before this happens and before the user appears in the list after he is unblocked). I have asked them to please not do that. Blocking a user should not remove any of their credits. They said

[2017-02-24 15:47] moorepants commented on #12213
I agree this is needed. I've needed it many times and just hacked around the str printer. I think it should likely be a separate than lambdify because lambdify does all these import tricks. It should just be another code printer that ties into the rest of the codegen framework.

[2017-02-24 17:09] smichr commented on #12209
Something like this is *perhaps* a step in the right direction. (I always have a hard time wading into the evalf currents.)

[code]

This, at least, did not break any evalf tests. And, as for your example:

[code]

[2017-02-24 18:04] asmeurer commented on #12215
That would make it more annoying for the user, who has to do `'b' + str(prec)`. The API I suggested above would match other functions (like RealField), and the mpmath API

[2017-02-24 18:15] Upabjojr commented on #10672
Sorry, I wanted to link the issue of the `And` and `Or` str() printer.

[2017-02-24 18:16] Yathartha22 commented on #12217
Yes, it would return a `ValueError`, but what prompted me to raise this issue is the point in the `[solvers docs](https://github.com/sympy/sympy/blob/master/sympy/solvers/solvers.py#L559)`
I thought that if `solveset` could do the same, it would be good. I might be wrong, what do you suggest @Shekharrajak

[2017-02-24 18:32] asmeurer commented on #12213
Also, for what it's worth, the lambdify restriction that it prints an expression is not strictly needed. Right now, lambdify works like

[code]

(roughly). But it could also work like

[code]

which would open up the possibility to do things like variable assignment inside of the lambdified expression. And then, in the long run, `lambdify` would just be a wrapper around the `python` printer. The L

[2017-02-24 18:44] asmeurer commented on #12217
I agree it should give ValueError because of the meaningless symbol argument. I don't like how `solve` lets you solve for 1. The answer is meaningless (it implies that `1 = sqrt(2)`). If you really wanted to do that `(sqrt(2) - 1).subs(1, x)` works.

[2017-02-24 19:16] Yathartha22 commented on #12217
[code]

@asmeurer this is what the line says in [solvers docs](https://github.com/sympy/sympy/blob/master/sympy/solvers/solvers.py#L559)
and the next line folllows the above example.
Should I suppose it to be a bug in `solve`.

[2017-02-24 19:35] asmeurer opened #12219 "Try out CircleCI for tests"
https://circleci.com/

It's a little harder to set up than Travis, but it should run a lot faster. Basically, you have to create a bunch of Dockerfiles that set up and run the tests. I've not configured it before, so I don't know exactly how to do it. We'll have to figure that out.

[2017-02-24 20:25] asmeurer commented on #12219
If someone wants to try this and they don't have permissions to enable CircleCI for sympy/sympy, just let me know and I can do it. You can also try testing it out on your fork first.

[2017-02-25 05:16] Shekharrajak commented on #12217
@Yathartha22 , `solve` can solve eq. for sub expression  (In this case expression is `1`)
[code]
 `solveset` 2nd arg should be symbol not any expression. So `solveset` should not return that ans, it is not made for solving expression. (There must be ValueError in this case)

[2017-02-25 10:59] SagarB-97 commented on #10672
Please review #12112

[2017-02-25 12:04] tanayag commented on #12219
is it to be configured using circle.yml file?? @asmeurer

[2017-02-25 12:07] bjodah opened #12220 "Deprecated CCodePrinter"
Since #11637 the C-code printers make a distinction with respect to standard.
As of writing C89 and C99 are the considered standards. Prior the the PR the
class `CCodePrinter` was using a mix of C89 and C99 features.

By introducing two classes: C89CodePrinter and C99CodePrinter, the user is
encouraged to think about the choice of standard.

During its deprecation CCodePrinter will continue to sup

[2017-02-25 12:35] hackrush01 commented on #12220
So as far as my understanding goes, the Class `CCodePrinter` has to be split up into two classes `C89CodePrinter` and `C99CodePrinter`, with `CCodePrinter` intact, giving a message that it is depreciated and tell them to use `C89` or `C99` instead.

[2017-02-25 12:42] rudransh071 commented on #12177
I want to take this issue. Should I work over the apart function present in partfrac.py?
I guess I should. Moreover, it would be really helpful if you can guide me a bit as I am totally new to sympy.
Thanks !!

[2017-02-25 13:20] Yathartha22 commented on #12217
thanks @Shekharrajak I could sum up, that `solveset` should not be made to solve for sub expression in future it should only solve for symbols. Am I right?

[2017-02-25 14:15] rudransh071 commented on #12191
Worked well on my system. Produced an output of 2 as expected.

[2017-02-25 15:27] bjodah commented on #12220
Precisely, I have done so locally, I will commit & push very soon. But I needed to create this issue to get an issue-number to add to the deprecation message.

[2017-02-25 15:31] hackrush01 commented on #12220
Oh! So you have already taken care of the issue. I was hoping to get on with it for the upcoming GSoC.

[2017-02-25 15:43] hackrush01 commented on #12209
According to me, chopping should not return zero when using variables(or symbols in SymPy's language) as the variable could have any value such as `1e+20`, then the returned result will be incorrect.

for e.g. (not using `e` as a variable so as to avoid confusion)

[code]

[2017-02-25 16:37] bjodah commented on #12220
Yes, this issue is just a placeholder to reference the deprecation.
I just pushed my changes to #11637  (sorry I referenced the wrong PR at firrst).
The codegen part still needs fixing but I won't work more on it for the next 24h so I pushed my changes.
Feel free to work on my branch (you can open a PR against https://github.com/bjodah/sympy/tree/expm1-log1p) if you want.

[2017-02-25 16:42] hackrush01 commented on #12220
Can you tell more about this codegen part, and which issue is this exactly(issue number).

[2017-02-25 16:45] bjodah commented on #12220
If you do something along these lines (untested):
[code]
there will be failing tests, i.e. somethings still not quite right with the code.
Since it's in the middle of sweeping changes this might not be the ideal
work to start with if you're new to the process but feel free to give it a try.

[2017-02-25 16:48] hackrush01 commented on #12220
I am new to this, should I start somewhere else? Will it be possible for you to point me to it?

[2017-02-25 17:39] Terrydaktal opened #12221 "Issue with definite piecewise integration"
I am creating a program that differentiates and integrates equations, everything integrates, including other piecewise expressions such as a^x with limits perfectly. Upon differentiating sqrt(1-x)/x  between the limits 5 and 3, wolfram alpha and integral calculator.com (pictured here) both come up with an answer
![image](https://cloud.githubusercontent.com/assets/24293492/23333272/c27994ac-fb80-11

[2017-02-25 19:39] sum2it commented on #10927
How do I reproduce the first pair of results? I've only been able to reproduce the second pair(presumably correct).

[2017-02-25 20:55] Shekharrajak commented on #12217
Yes.

[2017-02-25 20:57] mohit3011 commented on #12213
@Upabjojr ,  I read about Lambdify as well as about codegen. I don't know about the difficulty of this issue if it is easy to fix then I would like to work. Could you please refer to the starting point for solving this issue.

[2017-02-25 22:00] Upabjojr commented on #12213
@mohit3011 , I would roughly try to see how `lambdify` works and figure out a way of printing the generated code instead of evaluating it. Not sure about the difficulty.

[2017-02-26 01:58] Yathartha22 commented on #12217
I guess I should close this issue.

[2017-02-26 05:41] Yathartha22 commented on #12217
I will fix this.

[2017-02-26 10:07] Yathartha22 commented on #12217
@Shekharrajak I have created a PR please review.

[2017-02-26 10:25] bjodah commented on #12186
I am +1 for just changing the default to `evaluate=False`, @halpernf would you mind opening a PR changing this and perhaps changing the docstring to include the point you've made in this issue?

[2017-02-26 11:12] mohit3011 commented on #12186
@bjodah I would like to work on this issue, kindly refer to any starting point on this . Thanks

[2017-02-26 11:16] bjodah commented on #12186
@mohit3011 are you familiar with MFD? I would do this myself if I had experience with MFD, but since I don't, I think it's better that someone who has updates the documentation.

[2017-02-26 11:38] bjodah commented on #12220
I'm afraid I cannot advise you regarding what you should start with.

[2017-02-26 12:23] hackrush01 commented on #12220
Oh it's completely fine, thanks for your time.

[2017-02-26 12:34] mohit3011 commented on #12186
@bjodah  What's the full form of MFD?

[2017-02-26 14:44] RafalSkolasinski commented on #12209
I agree that ``x`` can be large and therefore it should not be a default behaviour. But when someone is sure that his variables are not taking such extreme values he should be able to simplify expression.

[2017-02-26 14:57] hackrush01 commented on #12209
Then we would have to make something in which user has to specify the max value `x` or any other variable for that matter, can take.

[2017-02-26 15:17] satels commented on #12069
[code]

[2017-02-26 16:22] ankibues commented on #12177
Hello there ! I have been trying to solve the problem too, and what I understand is that the result is varying where the expression is being converted to polynomial by ` (P, Q), opt = parallel_poly_from_expr((P, Q),x, **options) ` where `P, Q = f.as_numer_denom()` and f is the expression, the div() function in this line: `poly, P = P.div(Q, auto=True) ` is giving different result.

So, if I manual

[2017-02-26 18:52] cbm755 commented on #10927
Do you have a git clone?  You cannot reproduce from sympy 1.0.

[2017-02-27 13:05] rammanoj commented on #11821
Can anyone give more information about this issue?

[2017-02-27 14:20] citizen-seven commented on #12177
I've already been working on the issue for several days and going to make a pull request soon. The problem is that a domain of a fraction is identified as a ZZ[y] in this example:
`In [9]: apart((x+y)/(2*x-y), x)`
`Out[9]: 0`

If I manually change the automatically detected domain to a QQ[y], it works correctly, but I fail on several tests, e.g. `assert ZZ[x].get_field() == ZZ.frac_field(x)`.
The

[2017-02-27 14:27] anca-mc opened #12226 "solve system solution depends on the definition of the symbols"
It appears that the same system is compatible or not depending on how we choose the symbols:
For instance, the sytem Q is compatible:

[{c: d*e - e - e/v + 1, u: -v, b: d*e - e + 1, a: d - 1/v}]

whereas the same system seems to have  no complex solution when we substitute  the symbols (a, b, c, d, e, u, v) by  (b_26, b_14, b_24, b_16, b_34, u_1, v_1):

[]

[2017-02-27 15:24] citizen-seven commented on #12177
@ankibues Well, your solution simply converts a decomposition on one variable (t in this case) to a decomposition on two variables (a, t), which leads to `NotImplementedError: multivariate partial fraction decomposition` for the `bug.apart(t)` code.
Moreover, the problem is not only in the apart() function, e.g.
`In [20]: Poly(x + y, x).div(Poly(2*x - y, x))`
`Out[20]: (Poly(0, x, domain='ZZ[y]'),

[2017-02-27 15:56] ankibues commented on #12177
@citizen-seven  Thanks for your reply ! I understood why my solution is just a make-shift arrangement for one case, but would give errors in other !!

[2017-02-27 17:35] LaviDM commented on #12186
@bjodah sorry about my ignorance, by PR you mean pull request?

@bjodah @mohit3011 no need to implement MFD here. Changing the default to `evaluate=False` should be enough for the time being... I'll have some time later on this week. It should be easy enough to do even if I don't know the code that well.

[2017-02-27 18:36] mohit3011 commented on #12213
@asmeurer , could you refer to any starting point on this issue and it's difficulty level. Thanks.

[2017-02-27 18:59] citizen-seven commented on #9123
The issue should be closed, it works correctly now.

[2017-02-27 19:10] asmeurer commented on #9123
I still get 0 for `(x/2).apart(y)` in master.

[2017-02-27 19:24] mohit3011 commented on #9123
@asmeurer , I would like to work on this issue if this is easy to fix . Could you please refer to any starting point.

[2017-02-27 19:26] asmeurer commented on #9123
There is some `quo` call in `apart` somewhere that needs a `field=True` parameter. For instance:

[code]

[2017-02-27 20:13] jksuom commented on #9123
#12177 is probably related.

[2017-02-27 22:14] certik commented on #11489
Some initial documentation is at https://github.com/sympy/sympy/tree/master/doc/src/modules/holonomic, but it needs to be finished.

[2017-02-28 01:45] grassknoted commented on #9549
Is the Issue still open to work on?

[2017-02-28 04:54] AmericanEnglish opened #12229 "Both integrate(2*x/(x**2+y**2),y) and diff(2*atan(y/x),y) return wrong result. Result should be each other."
Forgive me here if this seems incorrect but I was recently doing some work for my complex analysis class and was testing out Smypys integration function. I suspected the integral should be some sort of arctrig function, I haven't done mutli-variable stuff in a while, but Sympy dumped this interesting imaginary function instead.

[code]

I went to Wolfram Alpha to double check the solution and it w

[2017-02-28 08:36] Upabjojr opened #12230 "Write documentation and examples to UnevaluatedExpr"
The class `sympy.core.expr.UnevaluatedExpr` can potentially be very useful.

- Write some documentation as to its usages in the tutorials and/or introduction to SymPy.
- Especially important, mark the difference between `UnevaluatedExpr` and `evaluate=False`.
- Show that SymPy printers seamlessly support `UnevaluatedExpr` (and report a bug if any issues arise).

Related on StackOverflow: http://st

[2017-02-28 10:05] SaiHarsh commented on #4862
If it's still open I would like to work on this.

[2017-02-28 11:58] jksuom commented on #12229
The values of `2*atan(y/x)` and `-2*atan(x/y)` are different but the derivative of their difference is zero.
[code]
Hence their values differ by a constant, and they are both antiderivatives of the same function.

[2017-02-28 13:12] mohit3011 commented on #12230
@Upabjojr , I would like to work on this issue

[2017-02-28 14:04] mohit3011 commented on #12230
@Upabjojr , should I write in doc/src/tutorial/intro.rst or anywhere else ?

[2017-02-28 16:18] Yathartha22 commented on #12230
@mohit3011 are you still working on it.
I would like to take this.

[2017-02-28 16:19] mohit3011 commented on #12230
Yes

[2017-02-28 16:31] Yathartha22 commented on #12230
Okay

[2017-02-28 18:58] asmeurer commented on #4862
Looks like it still doesn't work.

[2017-02-28 18:59] asmeurer commented on #4862
But there may already be a fix at https://github.com/sympy/sympy/pull/8334

[2017-02-28 20:24] Upabjojr commented on #12230
Candidates for the documentation:

* Add usage examples in: http://docs.sympy.org/latest/tutorial/manipulation.html
* Add class link after `Expr`: http://docs.sympy.org/dev/modules/core.html#id16
* Add some examples with `Float`: http://docs.sympy.org/dev/modules/core.html#float

It's about editing the RST files (I think) or maybe some docstring.

[2017-02-28 20:30] mohit3011 commented on #12230
@Upabjojr ,I have already written a full tutorial kind of thing , so I was thinking to put in as a whole rather than in parts ,  but I am confused in which rst file to put inside the folder (doc/src/tutorial/)

[2017-02-28 20:34] Upabjojr commented on #12230
Oh nice. How much did you write? Make sure to make it clear why it is different from `evaluate=False`.

I think the file is this: http://docs.sympy.org/dev/modules/core.html#id16
(github isn't properly showing its contents)

[2017-02-28 20:45] mohit3011 commented on #12230
@Upabjojr , the link you have given points to doc/src/modules/core.rst , so I will add the tutorial here

[2017-02-28 20:46] Upabjojr commented on #12230
No, wait, wrong link.

[2017-02-28 20:46] Upabjojr commented on #12230
https://github.com/sympy/sympy/blob/master/doc/src/tutorial/index.rst

[2017-02-28 20:53] mohit3011 commented on #12230
@Upabjojr  index.rst represents index , maybe we have to add it in some other file

[2017-02-28 20:55] Upabjojr commented on #12230
@mohit3011 just open the PR, it's better to see the code for me to comment.

[2017-02-28 20:58] mohit3011 commented on #12230
Okay so for I am adding the code in intro.rst for the time being

[2017-02-28 23:16] certik opened #12233 "Rubi integrator"
A great GSoC project would be to make more progress in implementing the Rubi integrator into SymPy.

http://www.apmaths.uwo.ca/~arich/

Our current status is: https://github.com/sympy/sympy/issues/7749, that PR implements the if/then/else decision tree. However, we should probably go back and:

1) Implement some of the Rubi 4.9 pattern matching rules in SymPy for some subset of integrals, say, tri

[2017-03-01 00:01] Terrydaktal opened #12234 "Floor and ceiling functions do not integrate"
When integrating floor and ceiling functions the integral doesn't compute and returns Integral(floor(x)), which isn't helpful. Does anyone have some unofficial code that fixes this, perhaps an own module that rewrites the floor function?

[2017-03-01 01:27] grassknoted commented on #12234
I would like to work on this issue.

[2017-03-01 04:32] cbm755 commented on #12215
I like this idea a lot but the API change is a bit scary: `Float(..., prec=15)` will silently give a much less accurate Float than previous.

Happily, the `Float(1, 32)` behaviour can be left unchanged by putting the `dps` kwarg first (as @ArifAhmed1995 has nicely done in #12227)

Possible deprecation route: use `precision=` for the bit-precision and have `prec=` be a deprecated synonym for `dps=`

[2017-03-01 08:44] tanayag commented on #12157
[code]
@moorepants I looked, and I guess it has something to do with this, but I can't find the problem

[2017-03-01 09:23] cbm755 commented on #10675
Just FYI, I'm not sure that decision has yet been made, e.g., https://github.com/sympy/sympy/issues/11707#issuecomment-258696173

[2017-03-01 09:29] bjodah opened #12235 "Introduce a constants module"
Currently `sympy.physicics.units` does not only contain units but also constants.
This is in my oppinion confusing, and furthermore we could have clashes with (or at least
risk of people mixing up) prefixes and constant symbols - c & k comes to mind (speed of light/centi & Boltzmann's constant/kilo).

I propose that we introduce a new module `sympy.physicics.constants` with physcial constants from

[2017-03-01 09:48] E-DEA commented on #12156
@jhncls , I would like to take up this issue.

[2017-03-01 10:05] ShikharJ commented on #12235
@bjodah I would like to do that with #12231

[2017-03-01 10:11] jhncls commented on #12156
Many thanks @E-DEA .  I don't know whether letting simplify automatically let expand(func=True) is always what people want, as it destroys the "compound" name GoldenRatio. Maybe simplify() should just try what happens, and if the result is simpler do the substitution, and if not let the compound name unaltered?
Another example would be `(GoldenRatio**20-(-GoldenRatio)**(-20))/sqrt(5)` which could

[2017-03-01 10:17] bjodah commented on #12235
Sounds good. Let's see if others agree, if so you can just go ahead and modify the PR to resolve this.

[2017-03-01 10:27] E-DEA commented on #12156
@jhncls , Yeah i agree that it maybe not what always people would want.
Also, if use_unicode is set to True, the format of the answer without expand(func=True) is mostly of a form that is simpler than we would get by replacing their exact values.
So can we put a check to see whether unicode is set to True before simplification ?

[2017-03-01 10:44] jhncls commented on #12156
I believe unicode has only to do with how things get displayed. And simplify() is meant to make an expression simpler as in getting an equivallent expression with less operations.

[2017-03-01 10:49] E-DEA commented on #12156
Yes.
But for constants like GoldenRatio whose symbols are well defined i guess user might prefer the answer in it (screenshot attached) for any given expression rather than having various irrational terms in the final output ?
![screenshot from 2017-03-01 16-17-40](https://cloud.githubusercontent.com/assets/18261500/23456764/d048f3a8-fe9a-11e6-9dde-fcf5e5796eff.png)

[2017-03-01 11:00] gxyd commented on #11855
Closing this issue. Fixed by #11867.

[2017-03-01 11:00] #11855 closed

[2017-03-01 13:30] Yathartha22 commented on #11459
@asmeurer I would like to take this issue.

[2017-03-01 15:25] Upabjojr opened #12237 "Symbolic probability expressions as random variables if conditional expression is random"
We now have symbolic expressions for probability, expectation, variance, and covariance.

Some boilerplate:
[code]

The function `P` calculating the probability support conditions, but only if they are conditional expressions. That is, no simple random variables:
[code]

On the other hand, with an inequality:

[code]

Symbolic probability expressions should allow conditions to be simple random var

[2017-03-01 15:35] isuruf commented on #12198
This is fixed now.

[2017-03-01 15:39] #12198 closed

[2017-03-01 15:52] satels opened #12238 "match can take a long time (possibly forever)"
[code]

[2017-03-01 16:54] roger- commented on #12169
Not sure. But as a workaround I've used ```eq = eq.as_numer_denom()[0]``` to get the numerator of the expression, which works with `solve()`.

Perhaps `solve()` should do something similar automatically?

[2017-03-01 17:01] roger- opened #12239 "solveset() doesn't support symbolic functions yet"
Example with SymPy 1.0 with Python 3.6:

[code]
The second to last example gives:

[code]

So I guess this hasn't been added yet.

This might be related to another inconsistency in symbolic functions in #12169.

[2017-03-01 18:21] SaiHarsh commented on #4862
@asmeurer  I feel this is not fixed  till now, please have a look below, I would like to solve this can you guide me

[code]

[2017-03-01 19:28] mohit3011 commented on #12213
@Upabjojr , did you look into this issue further ?

[2017-03-01 21:11] Upabjojr commented on #12213
No.

The way to go is to debug the `lambdify` function and see if you can reorganize the code to retrieve the expression string. If you feel like doing it, have a try!

[2017-03-01 23:23] grassknoted commented on #12239
I would like on this issue. I would be really helpful is @Upabjojr or @asmeurer could tell me how to get started.

[2017-03-01 23:54] grassknoted commented on #12234
I would like to solve this issue, could you please elaborate on your proposed fix?

[2017-03-02 08:11] #9452 closed

[2017-03-02 08:25] jondo commented on #9479
Note that this works in the SymPy fork [diofant](https://github.com/diofant/diofant):
[code]

[2017-03-02 09:03] jondo commented on #9565
For the record, @skirpichev showed me how to solve this without solveset:
[code]

[2017-03-02 10:40] Upabjojr commented on #12239
@grassknoted in such cases, I usually start by writing some simple test cases and then follow the execution of the code with the debugger. Then you'd try to guess from the point the exception was raised.

[2017-03-02 11:48] #12230 closed

[2017-03-02 16:50] Yathartha22 commented on #12239
I would like to take this issue.

[2017-03-02 17:06] smichr commented on #12209
With queries like `x.is_even`, a None is returned if SymPy doesn't know. @hackrush01 's comment regarding not chopping a factor in a term carries the same sentiment. The formula for gravitational attraction comes to mind where the G is very small. But a chopped version of the formula should not say that said attraction is zero.

[2017-03-02 18:35] E-DEA commented on #12156
@jhncls , I tried to fix it. Should i do a PR and see the review ?
Basically, i checked whether the expand(func=true) was in a simpler form or without that argument was.
And output that result as the final answer.

[2017-03-02 19:35] Yathartha22 commented on #12239
@Upabjojr I was thinking to implement it in a manner that `solve` does. Is this a good idea?
If so could you tell me the start point(could be the line in the code) in the `solvers` module where `solve` checks for this particular condition

[2017-03-02 19:49] Nedaaaa opened #12242 "system of linear equations with singular matrix"
I am computing the solution of a linear system of equation Ax=B, where number of equations are equal to number of unknown and A and B are sparse matrices but A is a singular matrix. I've tried several commands from Scipy and Numpy library to solve this system but non of them gave the correct results.
Does anyone would have any idea of how I can solve this equation in Python.

Thanks

[2017-03-02 20:55] jhncls commented on #12156
Hi @E-DEA . Yes, a PR referring to this issue seems appropriate.
Thanks again.

[2017-03-02 22:43] grassknoted commented on #12239
@Yathartha22  I am working on this issue, if you suggest your fix, we could work together.

[2017-03-02 23:33] twhunt commented on #12242
If the system does have a solution (which implies infinitely many solutions in your case), gauss_jordan_solve() will return a parameterized solution:
`>>> A=sympy.Matrix([[1, 0, 0],[0, 0, 0], [0, 0, 0]])`
`>>> b=sympy.Matrix([3, 0, 0])`
`>>> x=A.gauss_jordan_solve(b)`

x[0] is the parameterized solution, with parameters _tau0 and -tau1 in this case.
x[1] is a vector containing the parameters.

If

[2017-03-03 03:33] Yathartha22 commented on #12239
I was thinking that if we can replace the `function` term (`f(0)`) with a `dummy` variable then probably we could solve this like normal equations. I don't know if this is right or wrong but this was the first thing that came to my mind.
what do you say?

[2017-03-03 04:34] Abdullahjavednesar commented on #12233
Hi @certik,
I think we can get started with #7748 which needs to be implemented first prior to #7749. Can you give me a basic outline of what is exactly demanded in Implementing fast pattern matching/replacement for ~10,000 rules. I wish start from here as soon as possible.

[2017-03-03 04:53] Yathartha22 opened #12243 "implementing transcendental equation solver for solveset"
`solveset` has grown a lot to become as powerful as `solve`. To make it more efficient I wish to implement the `transcendental equation solver(equations solvable by LambertW)` in `solveset`. This could be one of my `GSoC` project if I get selected.
At present `solve` solves transcendental equations using `_tsolve` and `bivariate.py` module. While I was going through the code I found it a bit messy

[2017-03-03 05:24] kshitij10496 commented on #12243
Hey @Yathartha22
It's great to see that you are interested in this.

We intend to replace `_tsolve` with a new, modular and extensible `transolve` which can interface the solutions of transcendental equations with the `Set` API. I suggest you read the discussions and write-ups on `transolve` in the mailing lists and GSoC proposals.
Here are few PRs that I and @aktech initiated during our respectiv

[2017-03-03 06:51] ShikharJ commented on #12235
Ping @moorepants @asmeurer

[2017-03-03 07:28] aktech commented on #12243
There isn't a single reference for implementing it. Your best bet is to study the working of `_tsolve` in `solve.py` which is pretty powerful. You can start by documenting it in a wiki, like all the cases it handles and how it handles it and more importantly how we can abstract it.

[2017-03-03 08:41] Upabjojr commented on #12239
That's a quick way to fix it. It's probably due to the fact that functions do not show up as free symbols.

[2017-03-03 08:52] Yathartha22 commented on #12239
Should I start working on this idea then @Upabjojr

[2017-03-03 09:33] Upabjojr commented on #12239
You can propose any PR you feel like.

[2017-03-03 13:44] grassknoted commented on #12239
That's a novel approach, but wouldn't that reduce the flexibility of `solveset()`?

[2017-03-03 19:15] certik commented on #12233
@Abdullahjavednesar thanks for the interest!

I think we should first start with the pattern matching Rubi 4.9 approach. I would suggest the following, and you can let me know what you think:

* take a few rules from Rubi 4.9, e.g. go to http://www.apmaths.uwo.ca/%7Earich/IntegrationRules/PortableDocumentFiles/PortableDocumentFiles.html, click on "4 Trig" and select some rules, say the first rule

[2017-03-03 20:03] asmeurer commented on #12233
I think any GSoC application about Rubi should also discuss manualintegrate, which is already a rule-based integrator (trigintegrate is too, technically).

[2017-03-03 21:43] asmeurer commented on #12235
It's a good idea, though it is a (minor) compatibility break.

[2017-03-03 21:44] asmeurer commented on #12219
Yep

[2017-03-03 21:53] grassknoted commented on #12242
(Matrix([
[    1],
[_tau0],
[_tau1]]), Matrix([
[_tau0],
[_tau1]]))

[2017-03-03 21:57] grassknoted commented on #12235
@asmeurer, may I know the compatibility issue?

[2017-03-03 23:58] certik commented on #12233
Yes, I am not sure how `manualintegrate` and `trigintegrate` do that and if anything can be learned / reused from them.

[2017-03-04 01:14] ankibues commented on #12233
Hi @certik  ! I have been following this project details , and am interested on working out on Rule based integrator on Sympy . I will try to implement upon the above guidelines, and will update on it soon.

[2017-03-04 01:33] certik commented on #12233
Perfect. There is plenty of work for a lot of people here and multiple
GSoC, if there is enough interest. We just need to organize ourselves.

Sent from my mobile phone.

On Mar 3, 2017 6:14 PM, "ankibues" <notifications@github.com> wrote:

[2017-03-04 02:29] brupelo opened #12248 "How to convert sympy expression into a postfix expression?"
Is it possible somehow to convert a sympy expression into postfix/prefix expression? I'm looking for some sort of robust solution to send complex mathematical expression from my python software to a swig c wrapper, I thought sending postfix expressions like strings would be the most convenient way to go.

[2017-03-04 05:36] sn6uv opened #12249 "Simple integral hangs"
[code]

seen on sympy 1.0.

Correct result is `(-r + mu*z)/(z**2*sqrt(r**2 - 2*mu*r*z + z^2))`

Originally reported on [Mathics mailing list](https://groups.google.com/forum/#!topic/mathics-users/HOvJR915ThQ).

[2017-03-04 10:37] Abdullahjavednesar commented on #12233
Cool! now I get a much better picture of it.
I had a look at [1.1.1 (a + b*x)**m](http://www.apmaths.uwo.ca/~arich/IntegrationRules/PortableDocumentFiles/1%20Algebraic%20functions/1%20Linear%20products/1.1%20(a+b%20x)%5Em.pdf) and other rules too which are quite well organised in Rubi 4.9. I even had a look at those charts showing the efficiency of Rubi 4.8, it would be great once Rubi is implemen

[2017-03-04 11:48] E-DEA commented on #12156
@jhncls I tested the code with expand(func=True) for all expressions but then the code fails many tests and i can't understand why. Any idea ?
Because if it is failing when every expression is expanded and simplified then when the expand option is set to true explicitly it must fail then also for those tests.

[2017-03-04 12:16] Yathartha22 commented on #11536
I agree with you @kshitij10496. Should it be fixed? If so I would like to work on it.

[2017-03-04 12:24] SaiHarsh commented on #10983
Is it still open? I would like to work on this.

[2017-03-04 12:52] kshitij10496 commented on #11536
Yes, it needs to be fixed.

The function `0**x` is a transcendental function.
For now, I would suggest we prevent `solveset` from returning an incorrect solution by returning a `ConditionSet` object instead.
However, this case needs to be addressed in the future while implementing `transolve`.

[2017-03-04 12:59] kshitij10496 commented on #11536
@nikoskaragiannakis I think you might have confused between `solve` and `solveset` here.
In spite of that, I agree with you that `solveset` works fine in the `S.Complexes` domain.
However, the issue here is that an incorrect solution is returned in case of real domain.

[code]

[2017-03-04 13:44] SaiHarsh commented on #11608
If it is still valid I would like to work on this, can anyone suggest me the approach or the problem I will face, from previous experience you had while solving this problem.

[2017-03-04 14:00] #12101 closed

[2017-03-04 14:24] Yathartha22 commented on #11536
@kshitij10496 I could fix this to return `ConditionSet` for time being.
Right now I am trying to study `solve's` transcendental eq solver. Also looking forward to contribute in `transolve` in future.

[2017-03-04 14:28] mohit3011 commented on #12213
@Upabjojr  , please have a look at #12250

[2017-03-04 17:11] jhncls commented on #12156
Simplification seems to be a hard problem. There are no clear rules to define a desired behavior that works in all circumstances.

[2017-03-04 17:59] Yathartha22 commented on #11536
@kshitij10496 could you help me, how do I check that this eq has to return a `ConditionSet`.
At first I thought to just check that if it a transcendental type equation, if so then it would return `ConditionSet`.
But there are some eqs like : `3**x - 100` that would return `{log(100)/log(3)}` which is correct.
So how would I differentiate between the latter and the former equations to return a `Con

[2017-03-04 18:59] Yathartha22 commented on #11536
@kshitij10496 I was thinking to use `checksol` to check whether the the result satisfies the given eq `f`, but many tests were failing, I implemented it in line 692 of `solveset` module.
[code]
I guess its not the right place to use `checksol` or is there any other way to implement

[2017-03-04 19:22] SaiHarsh commented on #11986
Is it still open? if yes can I work on this?

[2017-03-04 21:19] mohit3011 commented on #12213
@Upabjojr , I looked into lambdify function in lambdify.py and also lambdarepr.py ,  but I couldn't get anything . Could you please help me

[2017-03-05 03:13] ankibues commented on #12233
hi @Abdullahjavednesar  This is a sample how I tried to use the first rule. @certik Please provide some feedback. Also, I am curious to understand, what kind of structure should be appropriate for the Rules. For example,I am not sure whether doing something like below, would be an economical one.(specially when we have some 10000 rules to check)

`def integrate1(expr):`
   ` a,b,m= Wild('a'),Wild(

[2017-03-05 03:32] kshitij10496 commented on #11536
Checking for the solution inside `_solveset` won't exactly address this behavior.
I would suggest you fix this by adding checks inside `invert_real` function.

[2017-03-05 06:15] asmeurer commented on #10983
`git grep --color '\\N'` shows lots of instances in pretty.py.

[2017-03-05 06:16] asmeurer commented on #12233
@ankibues put three backticks before and after your code (see https://guides.github.com/features/mastering-markdown/), so that you can indent it correctly.

[2017-03-05 06:18] asmeurer commented on #11608
There is [this PR](https://github.com/sympy/sympy/pull/12028) (you can also see this by the cross reference, right above your comment).

[2017-03-05 10:44] parsoyaarihant opened #12251 "manualintegrate doesn't check domain of variables"
Here is the program:
[code]

[2017-03-05 10:46] Abdullahjavednesar commented on #12233
Hey! @ankibues I think we'll using a pattern matching technique which will conclude as to which rule to be applied using a decision tree.
We will be constructing a decision tree based on the structure of the given expression,
example: for ```(a + b*x)**m``` generalized expression would be ```Pow(Add a, (Mul(b, x)), m)```.
Not sure, but this is what I guess is expected.
@certik @asmeurer did I get

[2017-03-05 11:06] mamakancha commented on #11986
This issue has been resolved. Pull request has also been requested. Please refer #11987

[2017-03-05 11:34] veerav96 commented on #12233
Hey! @ankibues There is a 'b' missing in the denominator in the 7th line. Also I guess elif argument will be true even if 'b' is rational. And I think condition for b=0 is missing.

[2017-03-05 14:03] SoumyadeepThakur commented on #12229
The output is correct
`atan(x)=pi/2-atan(1/x)`
hence the answer for `integrate()` is correct

`pprint(pprint(diff(2*atan(y/x),y).simplify())`'
this statement results in output:
`2*x/(x**2+y**2)`

Can this issue be closed?

[2017-03-05 15:55] moorepants commented on #12213
@mohit3011 I suggest reading the documentation on how printing works: http://docs.sympy.org/latest/modules/printing.html at a start.

[2017-03-05 19:10] manpreetsjsu commented on #10035
if this issue is still unresolved and open, I would like to contribute....please give starting hint or idea..

[2017-03-05 19:29] #12229 closed

[2017-03-06 06:35] cbm755 opened #12254 "cannot extract_multiplicatively(-2) from (-2*x - 2*y)"
I think this might be a bug.
[code]
similarly:
[code]

Assuming it is indeed a bug, here is why it happens:

Look in `core/expr.py` where:
[code]
which is then made into a *non-evaluated* `Mul`, from which `-2` cannot be multiplicatively extracted; for example:
[code]
@smichr do you think this is bug? (see your commit 8968b85310506c0a2b34f3d7aeb8e0d88f87885b: not clear whether we still need this s

[2017-03-06 09:04] E-DEA commented on #11727
@asmeurer Is this issue still open ? I would want to solve it if it is.

[2017-03-06 09:26] E-DEA commented on #11378
@asmeurer Is this issue open ? I would like to take it up if it is.

[2017-03-06 11:18] Yathartha22 commented on #12243
@kshitij10496 in your PR#11540 you said about `exponential equations`. `solveset` is unable to compute some exponential equations, like what I found is that:

- for `same bases` type equations `solveset` is not able to simplify the solution eg:
[code]
 it should rather be `{-1}`

- also for some it returns `EmptySet`
[code]
It turns out that `solveset` is not able to handle such type of equations

[2017-03-06 12:03] SaiHarsh commented on #12190
Is anyone is working on this issue if not then I would like to work on this.

[2017-03-06 12:15] gerritholl commented on #12190
@SaiHarsh I am not working on it.

[2017-03-06 12:31] SaiHarsh commented on #11668
Is it closed?

[2017-03-06 12:58] #12177 closed

[2017-03-06 13:00] jksuom commented on #9123
Closed by #12236

[2017-03-06 13:00] #9123 closed

[2017-03-06 13:04] wakita opened #12256 "IndexedBase commutes: A*B - B*A ==> 0"
The following code says A * B == B * A for IndexBases A and B:

[code]

[2017-03-06 13:12] mohit3011 opened #12257 "Simplifications in Dirac Delta function"
It seems that the Dirac Delta function might be more useful if certain simplifications can be done.
For Example:

- For using the symmetry property of the dirac delta function i.e DiracDelta(x)==DiracDelta(-x) . The existing provision for this is `DiracDelta(-x).expand(diracdelta=True, wrt=x)` . As of now we have this
[code]
What I hope after this issue would be
[code]
- Also we can include the pr

[2017-03-06 13:26] SACHIN-13 commented on #12254
I would like to work on this issue. Please help me to start with it!

[2017-03-06 13:40] SaiHarsh commented on #5090
@asmeurer  I have changed `sympy/solvers/pde.py:851:        assert ValueError('Unknown strategy: %s' % strategy)` to exception
It works the same
`strategy_dic={}`
`strategy_dic['add'] = True`
`strategy_dic['mul'] = False`
`try:`
`  	   do_add = strategy_dic[strategy]`
`	   print do_add`
`except:`
	`print('Unknown strategy: %s' % strategy)`
(It's properly indented code just the look is different).

[2017-03-06 13:51] wakita opened #12258 "solve(M*x + N*y, x) fails for non-commutative symbols"
Coming across with the following discussion, I found an issue that I think is a bug.
http://stackoverflow.com/questions/22820000/how-to-solve-matrix-equation-with-sympy

One of the answer suggests the following solution:
[code]

whose (incorrect) result is `[-N*y*M**(-1)]`.  It should give `[-M**(-1) * N * y]`, instead.

[2017-03-06 13:52] prateeksingh0001 commented on #11821
Hi, I'm new and I want to start with this issue.
I've studied the code for the relevant functions and classes but, I'm not able to figure out how to implement the parenthesize function, as in how would we set the level(precedence) for the expression that would be put inside the parenthesize function ?

[2017-03-06 16:39] kshitij10496 commented on #12243
We should try to simplify the solutions obtained in `solveset` before returning them.
I guess, I had raised this issue somewhere in the past and we decided that using `simplify` to achieve this was not the best course. You will have to dig it up to know more.

[code]
This is the correct result since the equation `2*exp(x) + 1 = 0` has no solutions for a real value of `x`.

[2017-03-06 17:55] SACHIN-13 commented on #12254
I do not understand why do we need
`elif self.is_positive and quotient.is_negative:
                    return None`
in line 1975-76 of `sympy/core/expr.py` ?? Can you please explain?

[2017-03-06 18:16] mohit3011 commented on #12257
@jksuom  , @Upabjojr  ,  can I go with this issue ?

[2017-03-06 19:02] jksuom commented on #12257
It seems that something like this has been implemented in deltaintegrate. Maybe that could be expanded.

[2017-03-06 19:26] mohit3011 commented on #12257
@jksuom , yes you are right, I think we can do something similar here too.

[2017-03-07 03:58] mamakancha commented on #12256
In general we know that two matrices commute if they are simultaneously` diagonalizable`. So would it be correct to say that the matrices formed by `IndexedBase` are `diagonalizable` or is it a bug in the code?

Note for reference: a square matrix A is called `diagonalizable` if there exists an invertible matrix P such that `(P^−1)AP` is a diagonal matrix.

[2017-03-07 04:37] wakita commented on #12256
Yes, I think so.  But is the use case of `IndexedBase` limited for simultaneously diagonalizable matrices?

[2017-03-07 06:06] cbm755 commented on #9060
@siefkenj sorry I haven't been following your work but this has been fixed by #11554 right?

[2017-03-07 06:10] cbm755 commented on #11549
I agree: I've tested this and it seems fixed thanks to great work of @siefkenj (#11554) and others.

[2017-03-07 06:10] #11549 closed

[2017-03-07 06:18] cbm755 commented on #12254
I'm not an expert so this is not much of an answer...  See `could_extract_minus_sign()` for an example of something that uses this.  You could also try dropping that `elif` and running the tests: I think you'll see endless recursion b/c this is used internally in various algorithms.

That thing is an `Add`.  It should try to extract `-1` from each of the things in the `Add`.  In this case that is

[2017-03-07 07:08] mohit3011 commented on #12257
@jksuom  , should I proceed with this issue ?

[2017-03-07 11:25] Upabjojr commented on #12213
@mohit3011 just debug the code, put some breakpoints and explore the local variables.

Once you understand how the code works, it will be easier to purpose an edit.

[2017-03-07 12:24] jksuom commented on #12257
The functionality exists already though it may look a bit clumsy:
[code]
I'm not sure if the conversion `DiracDelta(-x) -> DiracDelta(x)` should be made automatic. Maybe someone with more practical experience on these matters could have an opinion.

[2017-03-07 13:18] E-DEA commented on #11727
@asmeurer , I tried a fix. Is that what you expect from this test ?
![screenshot from 2017-03-07 18-45-14](https://cloud.githubusercontent.com/assets/18261500/23657911/6f3f75a2-0366-11e7-8d01-5ed9312aab30.png)

[2017-03-07 14:01] mohit3011 commented on #12257
@jksuom Yes, that is the whole point of this issue . The existing functionality is clumsy and could be shortened when we arguments of DIrac Delta as like "2*x" , "-x" etc . Here simply we write like (using the property of DIracDelta)

[code]

[2017-03-07 14:07] SACHIN-13 commented on #12254
This is what I thought it should work for, if it works fine for -1. But then what about the properties of arguments of self (the signs will then then be reversed )??
If we intend to preserve the properties, I think it shouldn't work for -1 as well!

[2017-03-07 15:06] siefkenj commented on #9060
@cbm755 No, this has not been fixed yet.  To fix this issue automatic detection of the condition number for matrices with Floats is needed.  I would suggest that this issue be fixed by a new `FloatMatrix` subclass and that the matrix constructor automatically would cast to a `FlaotMatrix` if every entry was a float or zero.

[2017-03-07 16:17] cbm755 commented on #12254
Maybe those docs are vague, ignore. Could_extract_minus_sign definitely replies on the -1 to keep working.

[2017-03-07 16:17] cbm755 commented on #12254
Sorry "relies" not replies

[2017-03-07 16:44] KTaruneshwarSai commented on #12254
well i have worked on it and noticed that extract_multiplicatively works fine if you give second argument as positive..and if you give negative value there are many cases where it fails...
For example
`>>> f=x**3*y**2

`

[2017-03-07 17:17] cbm755 commented on #12254
That looks like the correct behaviour: there is no minus sign in `x**3*y**2` so cannot extract.

My understanding of `.extract_multiplicatively(-1)` is something like "would a human factor a minus sign out of this expression?"

[2017-03-07 17:19] cbm755 commented on #12254
Put another way (and as I think I've said above at least once), if you could extract a "-1" from `x*y` then `.could_extract_minus_sign` would fail the `{e, -e}` thing explained in its docs.

[2017-03-07 18:43] mamakancha commented on #12256
If the commutative law is being followed for every square matrix of same order then I suppose `IndexedBase` indeed is limited for simultaneously diagonalizable matrices.

[2017-03-07 18:50] mamakancha opened #12266 "IndexedBase function limited for diagonalizable matrices"
Based on the discussion on the issue #12256 , it seems that `IndexedBase`  is limited for simultaneously `diagonalizable` matrices.
Refer the following code as provided in #12256 :

`n = Symbol('n', integer=True)`
`A = IndexedBase('A', shape=(n, n))`
`B = IndexedBase('B', shape=(n, n))`
`A * B - B * A`

The output is `0`. Which basically implies that `IndexedBase` is forming only `diagonalizable`

[2017-03-07 19:01] mamakancha commented on #12266
As suggested by @isuruf , This issue is same as #12256 . Hence, closing it down.

[2017-03-07 19:01] #12266 closed

[2017-03-07 20:26] Franjov opened #12267 "Codegen: sign function in Fortran"
The Fortran code generated by Sympy for the sign function is not a valid Fortran syntax.

With Sympy 1.0 and Python 3.6:
[code]
(The same behavior is obtained with `sympy.utilities.codegen`.)

The syntax of the sign function in Fortran is given [here](https://gcc.gnu.org/onlinedocs/gfortran/SIGN.html).

I guess it would be preferable to generate something like `sign(1, x)` or `sign(1d0, x)` depend

[2017-03-07 22:20] asmeurer commented on #12267
The x=0 case probably matters, because SymPy could return an expression that uses `sign` assuming that meaning. Does Fortran have ternary expressions?

[2017-03-07 22:24] asmeurer commented on #12257
The trig functions automatically canonicalize negative signs, so there is precedent. We should definitely have a way to do it the only question is if it should be automatic or not. I'm not sure if many practical applications create delta functions that aren't of the form `DiracDelta(x - a)`.

[2017-03-07 22:25] asmeurer commented on #12248
Are you looking for the `ccode()` function?

[2017-03-07 22:32] asmeurer commented on #12234
If I'm not mistaken, the integral should be `floor(x)*x`, no? I think heurisch could compute this if it knew that diff(floor(x)) == 0. Actual `diff` probably shouldn't give 0, since it's not completely correct, which is why we need a separate "heurisch_diff" (see https://github.com/sympy/sympy/pull/8350 and linked issues).

[2017-03-07 22:33] asmeurer commented on #12226
I guess the symbol names affect what order the manual solver goes through the expressions, and it isn't exhaustive in trying all the possibilities.

[2017-03-07 22:38] brupelo commented on #12248
@asmeurer Dunno what's that, where can i find the docs about it? In any case, I've made a little infix to postfix/prefix conversor out of python expressions using AST, so I guess this thread can be closed

[2017-03-08 01:44] wakita commented on #12256
I could not find any description about `IndexedBase`s being *simultaneously* diagonalizable in SymPy documentation.  I wonder what kind of application meets this severely restricted condition.

I personally am trying to generate a working Python function applying `lambdify` to a formula that involves matrices whose sizes are parameterized by variables.  For this purpose, I do need an indexable gen

[2017-03-08 01:50] smichr commented on #12254
Yes. Consider:

[code]

It allows a negative expression to be extracted. It seems that it should allow a bare negative to be extracted. I think I would change the routine by just recasting the input. Something like

[code]

[2017-03-08 01:52] #11015 closed

[2017-03-08 01:52] wakita commented on #12256
I think an assumption setting is wrong with fresh `IndexedBase`s as you can see from the following example:

[code]

It's weird that a non-square matrix is set commutative.

[2017-03-08 03:39] isuruf commented on #12256
You need `MatrixSymbol`, not `IndexedBase`.
`IndexedBase` is not a matrix but kind of an array that gives you indexed elements. `__mul__` doesn't make sense for it.
I'm closing this issue, but feel free to open this, if you think it should still be fixed.

[2017-03-08 03:39] #12256 closed

[2017-03-08 06:57] ranjithkumar007 commented on #12254
@smichr, I think the recasting you suggested might fail in the following test case.
[code]
But this should have been ```None```.

[2017-03-08 10:52] bjodah commented on #12267
Looks like fortran does support ternary expressions though `merge`:
https://en.wikipedia.org/wiki/%3F:#Fortran

[2017-03-08 13:27] SACHIN-13 commented on #12067
I would like to work on it. Please guide me as to where shall I start from??
I'm comparatively new to sympy and going through the singleton class to understand this issue.

[2017-03-08 14:00] jksuom commented on #12257
It seems that the principal means of producing Dirac deltas in SymPy is `_eval_expand_diracdelta` which only creates expressions of the form `DiracDelta(x - a)`.

[2017-03-08 17:19] jksuom commented on #12067
It seems that if `SingletonRegistry()` is pickled it will lose the classes waiting to be installed.
[code]

[2017-03-08 19:38] #12251 closed

[2017-03-08 20:10] smichr commented on #12254
Yes. What about doing something like

[code]

[2017-03-08 20:36] ranjithkumar007 commented on #12254
Looks great to me. I reproduced this locally and all tests(including the bugs reported in this issue) have also passed for ```extract_multiplicatively()```, If you agree i would like to send a PR with the fix that you suggested.

[2017-03-08 21:07] mamakancha commented on #12267
@bjodah
I would like to work in this issue. Could you please help me out?
Is the following code correct?
`sp.sign(x) = merge(0, sp.sign(x), x is 0)`

[2017-03-08 22:35] asmeurer commented on #11727
Yes, but the test should also be fixed to not fail. The original issue https://github.com/sympy/sympy/issues/11306 may be useful to read up on here.

[2017-03-09 00:14] wakita commented on #12256
All right.  Thank you for pointing me to `MatrixSymbol`.

[2017-03-09 02:42] smichr commented on #12254
Sounds good. I'll watch for it.

[2017-03-09 02:48] smichr commented on #12254
You might want to test if `test` (or whatever the arg is) has a negative coefficient as well (rather than simply being negative) so the following works:

[code]

[2017-03-09 06:56] proy87 opened #12271 "Sympy can't solve simple differential equation"
It can't solve y''=1+(y')^2
I noticed that it can't determine type of the equation.

[2017-03-09 07:20] aaditya733 commented on #12258
Hey I would like to solve this issue. Can anyone guide me on how to proceed ?

[2017-03-09 08:11] bjodah commented on #12267
@mamakancha no not quite. Fortran knows nothing about `sp.`. You can look at the C version:
[code]

[2017-03-09 10:48] SatyaPrakashDwibedi commented on #12271
@proy87 I would like to work on this issue so where do you think change is to be done

[2017-03-09 13:59] SACHIN-13 commented on #12067
Which section of code shall I go through to fix this? I went through `test_pickling` but couldn't understand what shall be done! Any suggestions??

[2017-03-09 16:09] SatyaPrakashDwibedi commented on #12267
@**bjodah** I think the changes should be done in `doprint()` of codeprinter.py` but not quite sure where and what the code should be .

[2017-03-09 16:10] SatyaPrakashDwibedi commented on #12267
@bjodah I think the changes should be done in doprint() of codeprinter.py` but not quite sure where and what the code should be ; some help is required.

[2017-03-09 16:11] SatyaPrakashDwibedi commented on #12267
@**bjodah** I think the changes should be done in `doprint()` of codeprinter.py but not quite sure where and what the code should be

[2017-03-09 16:13] proy87 commented on #12271
In solvers/deutils.py there is line `hints = classifier(eq, func, dict=True, ics=ics, xi=xi, eta=eta, n=terms, x0=x0, prep=prep)`
Where classifier is `classify_ode` function in the same file.

In short, it can't decide what type of equation it is (classify it).
It raises exception `raise NotImplementedError(dummy + "solve" + ": Cannot solve " + str(eq))` (this line is in the same file).

[2017-03-09 17:56] emath opened #12276 "Fixing Systems in ODE.py"
I have fixed many of the problems with systems in ODE.py.  See the attached notebook (its Python 3 -- huge native Jordan exp takes several pages -- useful info but definitely skip ahead):

But I need advice, guidance, help, ...   before I start generating pull requests, which I also am not very good at.   Here are my initial thoughts.

a) I'm concerned about speed.  In particular, I'm using **inte

[2017-03-09 18:01] cbm755 opened #12277 "Use mpmath to compute numerical SVD (for Matrix of Floats)"
If a Matrix has only Floats in it, and user wants the SVD, we could call `mpmath.svd` instead.

I assume (but haven't checked) that mpmath uses a numerically stable algorithm (being primarily a numerical package).  It also does the singular vectors and supports both "full and economy size" SVD.

This should also be done if the matrix had a mix of Floats and Integers.  Perhaps using this logic:
[co

[2017-03-09 18:22] SatyaPrakashDwibedi commented on #12271
@proy87 I think the error is in part `_nth_linear_match(reduced_eq, func, order)` because it's returning None in this case.

[2017-03-09 18:27] SACHIN-13 opened #12278 "NameError: name 'select' is not defined"
[code]

[2017-03-09 20:03] bjodah commented on #12267
@SatyaPrakashDwibedi I don't think that's needed. Simply adding a method to the printer class for fortran code should be enough (in analogy with the `_print_sign` method in the `CCodePriner` class).

[2017-03-09 20:41] Franjov commented on #12267
With a recent version a `gfortran`, I can confirm that
[code]
[code]
and
[code]
work as expected, for respectively integer, real and double precision `x`.

Note that [`merge`](https://gcc.gnu.org/onlinedocs/gfortran/MERGE.html) is only defined for Fortran 95 standard (or later). Another solution might be needed for the legacy Fortran 77 standard.

[2017-03-09 21:14] cbm755 commented on #12277
@siefkenj I've now tried this [downstream in my Octave package](https://github.com/cbm755/octsympy/pull/766).  It seems to work well!  Let me know what you think.

[2017-03-09 21:29] bjodah commented on #12267
Yes, I noticed that `merge` is a rather "new" addition. I don't know of an easy fix for fortran 77, there I think one would have to implement it using if statements. But supporting "only" F95+ is still a step in the right direction.

[2017-03-09 22:11] SACHIN-13 commented on #12067
SingletonRegistry is already instantiated in `sympy.core.singleton` as S.
`>>> from sympy.core.singleton import SingletonRegistry, S

{'EmptySequence': <class 'sympy.series.sequences.EmptySequence'>, 'BooleanFalse': <class 'sympy.logic.boolalg.BooleanFalse'>, 'BooleanTrue': <class 'sympy.logic.boolalg.BooleanTrue'>, 'EmptySet': <class 'sympy.sets.sets.EmptySet'>, 'Integers': <class 'sympy.sets.fan

[2017-03-09 22:19] siefkenj commented on #12277
I think deferring to `mpmath` for the numerical matrix operations on pure float/integer matrices is a good idea.

```is_NumericalMatrix = all(x.is_Float or x.is_Integer for all x in A)```

should be sufficient since `any([x.is_Float for x in A])` has to run through the entire matrix anyways to return `False`.

Even for matrix multiplication, this could speed things up for purely numerical matrices

[2017-03-09 23:54] cbm755 commented on #12277
Good point re: multiplication: this is getting more into your `FloatMatrix` idea (which would just be a thin layer of `mpmath.matrix` I suppose).

I'm not so sure: I guess someone making an `Integer` `Matrix` will be annoyed to get non-exact calculations done to it: that is why I said it would have at least one Float.

I haven't looked at `mpmath` for sparse matrices.  I agree with this statement

[2017-03-10 00:35] siefkenj commented on #12277
My mistake.  I thought `mpmath` automatically did BigInt arithmetic.

[2017-03-10 05:26] SatyaPrakashDwibedi commented on #12267
@bjodah will this work?
`>>> def p(func):
...   if func.args[0].is_positive:
...     return '(SIGN(1,{0})'.format((func.args[0]))
...   elif func.args[0].is_negative:
...     return '(SIGN(-1,{0})'.format((func.args[0]))
...   else:
...     return '(SIGN(0,{0})'.format((func.args[0]))
...`

[2017-03-10 05:27] proy87 commented on #12271
I didn't check it, but looks like you're correct.

[2017-03-10 08:48] bjodah commented on #12267
@SatyaPrakashDwibedi no that will not work. The argument might be symbolic and its sign is not known prior to runtime (or we would obviously not need to generate any call at all). You should look at `test_fcode.py` and write a test for sign checking that generated code looks like @Franjov suggested, then run ./bin/test sympy/printing/tests/test_fcode.py` and watch it fail. Then edit `sympy/printin

[2017-03-10 10:14] SACHIN-13 commented on #11967
I would like to work on it. Please guide me to understand this issue better! Thank you!

[2017-03-10 13:29] SACHIN-13 commented on #12278
Any suggestions as to how shall I proceed???

[2017-03-10 14:05] #12095 closed

[2017-03-10 14:05] SatyaPrakashDwibedi commented on #12267
@bjodah Will this work for test_fcode.py
`def test_sign():`
    ` x=symbols('x',Integer=True)`
 `    y=symbols('y',real=True)`
 `    z=symbols('z',Double=True)`
 `    assert fcode(sign(x))=="      merge(0, sign(1, x), x == 0)"`
 `    assert fcode(sign(y))=="      merge(0e0, sign(1e0, x), x == 0e0)"`
 `    assert fcode(sign(z))=="      merge(0d0, sign(1d0, x), x == 0d0)" `

[2017-03-10 14:59] bjodah commented on #12267
@SatyaPrakashDwibedi, that looks quite good, I'd suggest some minor changes:
[code]
maybe we should handle more cases, but I don't write that much fortran so it's hard for me to be sure, @Franjov what do you think?

[2017-03-10 17:39] #12067 closed

[2017-03-10 21:15] Upabjojr opened #12283 "SymPy stats expansion"
Add

- `is_random` to every SymPy object (returns true if expression contains random symbols).
- test `is_random` on undefined functions and indexed bases.
- stats functions such as `P`, `E`, `var`, and `cov` should return their respective objects in case the `RandomSymbol` has no specified probability distribution.

[2017-03-10 21:16] Upabjojr opened #12284 "Pattern matching on UnevaluatedExpr"
Decide how and what should be matched in `UnevaluatedExpr`.

[2017-03-10 21:32] #12173 closed

[2017-03-10 22:05] alexeymuranov opened #12285 "at least one of the definitions of cosine integral is not recognised as a cosine integral (Ci)"
[code]

[2017-03-10 23:18] cbm755 commented on #12285
Would be nice if `Integral(-cos(t)/t, (t, x, oo)).rewrite(Ci)` did the right thing.

Also, `Ci(x).rewrite(Integral)`...

[2017-03-11 05:32] SatyaPrakashDwibedi commented on #12267
@bjodah Should I move to `fcode.py`

[2017-03-11 10:21] E-DEA commented on #11727
@asmeurer , Yeah i got it and i'm working on it, thanks. Will get back to you with a PR.

[2017-03-11 13:02] SatyaPrakashDwibedi commented on #12267
@bjodah I think there should be a check in `fcode.py` for type of variables to return right type of string.

[2017-03-11 13:35] E-DEA commented on #11727
@asmeurer I have initiated a PR(#12265) for this issue, please review.

[2017-03-11 13:41] Franjov commented on #12267
You could also deal with the complex case. Something like
[code]
(not tested in Fortran yet).

Actually, it is probably safer to code `x == 0d0` as something like `abs(x) < epsilon`.
But `epsilon` might be too dependent of the problem for a code generator without more context.