[2015-12-09 16:11] asmeurer commented on #10218
I don't think we should think of Eq as a set (it's a boolean), but even if we did, `>` on sets should mean a superset relationship with other sets, not "all members are greater than".

[2015-12-09 17:07] pascalito opened #10220 "Matrix.jordan_cells() fails"
I have SymPy 0.7.7.dev (Python 2.7.6-64-bit) and the following **matrix**:
[code]
A 4x4 matrix, not very spectacular. However, the following computation **fails**:
[code]
Here is what my interpreter says:

I believe that the Jordan normal form **can be** computed for this matrix. So I guess I fell in a corner case.
The online engine [WolframAlpha](http://www.wolframalpha.com/input/?i=jordan+normal

[2015-12-09 18:47] smichr commented on #10218
Does the same apply to inequalities like Ge? If so, then I guess the way to think when "solving" these things for a set is that you are finding the set of values that makes the relationship True.

Perhaps we should raise an error, then, when Eq, Ne, Gt, ... are used as an argument in a Relational?

[2015-12-09 21:08] NickRSearcy commented on #9384
I'd like to add to this. I'm getting a similar issue with `Min` (and other such functions):

[code]

I'm expecting `2.0*b` because on the range (-oo, 1), `Min(1,b)=b`. I'm guessing refining of multiple `sympy.functions.elementary.miscellaneous.*` functions has not been implemented. I'll be looking at the Sympy source to see if I can offer anything as far as a pull request but as I've never contrib

[2015-12-09 21:20] asmeurer commented on #9384
It may not be easy, because currently the assumptions have no knowledge of inequalities at all (only things like Q.positive(1 - b)). Once the assumptions can handle things like this better it will be easy to enable refine for Min and Piecewise.

[2015-12-09 21:25] sampadsaha5 commented on #10218
@smichr
I am feeling like we are confusing among  what `Eq(1/x,2)` really does. `Eq(1/x,2)` actually produces a relation between `1/x` and `2` and the relation is of equality "`=`". `Eq(1/x,2)` just outputs `1/x = 2` that's it. `Eq(1/x,2)` doesn't solve `1/x = 2` for `x` . Now, If we use `solve(Eq(1/x, 2))` it would give `x = 2` as output which we may consider as a set. After this if we will be us

[2015-12-09 21:26] asmeurer opened #10221 "Deprecate var() for non-interactive use?"
A lot of people use `var` to create symbols, but it's not recommended usage except when working interactively. `var` works by injecting variables in the namespace which is unpythonic and can have unexpected consequences.

Should we raise a warning when var is used in a non-interactive usage? See http://stackoverflow.com/q/2356399/161801 for how we can check for this.

[2015-12-09 21:27] moorepants commented on #10221
+1

[2015-12-09 21:27] NickRSearcy commented on #9384
I couldn't tell if you meant that this should work for `Q.positive(1-b)` but just for the record it doesn't:

[code]

[2015-12-09 21:30] NickRSearcy commented on #9384
Is there work on making assumptions handle these cases better? I can only see the master branch. Anyway, it seems like a feature in at least some other CASs, so I'd like to help implement it anyway I can.

[2015-12-09 21:35] asmeurer commented on #9384
Any existing work will be on a GitHub pull request (you won't see branches here because people create branches on their forks).

There's no existing work as far as I know. There has been some discussion about it. I'll see if I can find it.

[2015-12-09 22:19] asmeurer commented on #9384
I can't find it. You can browse the issues here labeled assumptions.

The basic question is how to make things like `ask(Q.positive(x - 3), Q.positive(x - 4))` work (i.e., given that `x > 4`, we should know that `x > 3`).

[2015-12-10 01:35] typedeph commented on #9060
I just retried my example and yes, the rref output is still the same as when I first posted the issue. As smichr stated though, if you use iszerofunc or fractions you can get the result you desire.

[2015-12-10 08:38] cbm755 commented on #10216
@latot, if I understand correctly, you're wondering if the same technique (as in your stackoverflow link) can be used in SymPy.  Perhaps it could.  However, matrices in SymPy can contain:
(a) symbols;
(b) high precision floating point numbers;
(c) double precision floats.
Only (c) could be reasonably accelerated with CUDA.  And IMHO if you want fast linear algebra on doubles, SymPy is not the righ

[2015-12-10 09:17] leosartaj commented on #10221
+1

[2015-12-10 09:52] tokencolour commented on #8889
Other than the examples embedded in the docstrings  of codegen.py, I found the following:

1. https://github.com/asmeurer/scipy-2014-tutorial/blob/master/tutorial_exercises/examples-code-generation.ipynb
2. https://github.com/sympy/sympy/blob/master/examples/advanced/autowrap_ufuncify.py
3. https://github.com/sympy/sympy/blob/master/examples/advanced/autowrap_integrators.py

I couldn't find more e

[2015-12-10 09:59] tokencolour commented on #8889
Also,
When I try to execute the file https://github.com/sympy/sympy/blob/master/examples/advanced/autowrap_ufuncify.py, I get the following error:
File "autowrap_ufuncify.py", line 31, in <module>
from sympy import symbols, legendre, Plot, pprint
ImportError: cannot import name Plot
I have matplotlib installed and can't seem to figure out what the matter is.

[2015-12-10 12:05] mattpap commented on #10221
If this can be achieved reliably, then definitively.

[2015-12-10 13:35] moorepants commented on #8889
This page: http://docs.sympy.org/latest/modules/utilities/codegen.html, in particular could use some help. Everything on the page is autogenerated from the doc strings, but it doesn't really provide a use with a good starting point. I think a page that explains in prose what the code generation is all about, what all the options are, and how to use them would be nice. Maybe this belongs in the Sym

[2015-12-10 15:59] asmeurer commented on #8889
Not everything on that notes wiki page should go in the docs (in particular, the stuff on things outside of SymPy does not need to go in the docs).

[2015-12-10 16:16] latot commented on #10216
mm, i post the link because it has the method i found for octave, respect sympy i don't know if is the right method to use it.

[2015-12-10 16:46] moorepants commented on #8889
Agreed. I was just hoping we could take the nice overview you wrote for all the code gen related stuff in SymPy as an opener to a nice doc page on the topic. It can be followed by examples of how to use all of them, maybe in tutorial style or something.

[2015-12-10 18:31] smichr opened #10226 "solveset doesn't handle high-order EX polynomials"
[code]

When trying to solve the inequality, EmptySet is returned:
[code]

The correct interval is `x > RootOf(x**10 + 2*x**6 + x**2 - 2, 1)`

[code]

[2015-12-10 21:36] asmeurer commented on #10221
The only caveat I've found from the two test in that SO question is that if you import a module interactively, that still counts as interactive by those tests. So for instance, if you create `test.py` with `var('x')`, it would fail with `python test.py`, but would succeed with `import test` run in an interactive `python`.  I suppose this is not what we want. We want `var` to fail when it is writte

[2015-12-10 21:45] moorepants commented on #10221
Would linting be a better way to check this? Maybe we just need to keep it out of our codebase.

[2015-12-10 22:56] asmeurer opened #10228 "cse optimizations don't handle x**2 == x*x and 2*x == x + x"
[code]

We should add optimizations to split out integer powers to multiplications and integer multiples to additions. Some care must be taken to avoid unnecessary splitting for very large powers or multiples.

[2015-12-10 23:03] smichr commented on #10228
[code]

[2015-12-10 23:05] asmeurer commented on #10228
I'm not sure if that generalizes. Those might both appear as subexpressions of larger expressions.

[2015-12-11 04:19] smichr commented on #8370
It now gives True:

[code]

[2015-12-11 04:19] #8370 closed

[2015-12-11 05:16] sampadsaha5 commented on #10226
I don't know why I am having  `NameError: name 'solveset' is not defined`  as error.

[2015-12-11 05:33] sampadsaha5 commented on #10173
I am having `Out[8]: (p, ṗ, p̈, p⃛, p⃜)` as output. Can you please explain a little more about the issue?

@mikeroberts3000

[2015-12-11 05:55] kshitij10496 commented on #10173
@sampadsaha5 I think you must be using `ipython`.
If you run the above code in an IPython Notebook, you will get the above-stated result.

[2015-12-11 09:11] #10096 closed

[2015-12-11 10:20] matiasdahl opened #10232 "Working with many variables can be slow"
It seems that sympy can be very slow when expressions contain a lot of variables. The below code illustrate this by computing an inner product of one numeric vector of length 1500 and a symbolic vector with 1500 variables. The inner product is computed in two different ways and both approaches take around 100 seconds on a 3GHz/8GB system. The second approach shows that adding terms is fast in the

[2015-12-11 10:56] tokencolour opened #10234 "Error while importing Plot in autowrap_ufuncify.py"
I get the following error:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name Plot
It seems Plot is absent from the sympy.plotting.__init__.py as pointed out by @leosartaj on gitter.
I added `from sympy.plotting.plot import Plot` into the file autowrap_ufuncify.py in sympy/examples/advanced
There's a problem here.I get the following error.
*Tra

[2015-12-11 11:17] leosartaj commented on #10234
You can enclose code-blocks in ```. See [this](https://help.github.com/articles/github-flavored-markdown/).

[2015-12-11 12:43] pelegm commented on #8370
@smichr, perhaps we should add a test for this?

[2015-12-11 14:28] tokencolour commented on #10234
Thank you for the suggestion.

[2015-12-11 14:35] jksuom commented on #10232
It is possible to choose a quicker way:
``>>> result = sp.Add(*[v[k]*x[k] for k in range(1500)])``

[2015-12-11 15:17] matiasdahl commented on #10232
Thank you! That is much better. The runtime for the sum drops from c. 100 sec to 1 s. I experimented a bit, and if someone else is also trying to speed up these kinds of inner products, I noticed that the runtime also depends on the number of variables that are currently defined.

The below will run in 1.2 secs:
[code]

However, if one adds the below line before the code, the runtime will be aroun

[2015-12-11 15:41] VinaySingh035 commented on #10189
I would like to work on this issue.
@shivamvats  can you please help me understand what exactly do you want to be done in this issue.

until now what I got is that we have to use the ``rs_series`` somewhere inside ``rs_log`` so as to solve the rest of the part from the ``rs_series`` function. am I right or i missed something?

[2015-12-11 16:39] smichr opened #10237 "improper inequality reduction"
[code]

[2015-12-11 17:43] asmeurer opened #10238 "cse doesn't handle noncommutatives"
[code]

I plan on fixing this, but I'm trying to figure out the algorithm. Any suggestions are welcome.

[2015-12-11 17:58] smichr opened #10240 "Not(And(x>2, x<3)) does not evaluate"
[code]

[2015-12-11 18:43] smichr opened #10241 "any() in class_registry.py uses incorrect form?"
[code]

[2015-12-11 18:55] kshitij10496 commented on #5517
[code]
I tried the above input case and this seems to be fixed.
Ping @asmeurer

[2015-12-11 18:59] moorepants commented on #10234
These examples haven't been updated as the plot api has changed over the last releases. The examples are not run on our automated testing so they get out of date and have to be manually updated. You probably just want to use `plot`.

[2015-12-11 19:04] asmeurer commented on #10240
Why does it return a method?

[2015-12-11 19:12] moorepants opened #10243 "Run the examples during automated testing or at release"
Right now `examples/advanced/autowrap_ufuncify` doesn't run with the development version of SymPy because of backwards incompatible API changes, see #10234. We should figure out how to run these on Travis or simply before each release.

[2015-12-11 19:16] leosartaj commented on #10243
Some of these examples make graphs. They are of varying type. I am not sure what will be the best way to test them.

[2015-12-11 19:16] moorepants commented on #10173
Here is a screenshot: Jupyter 4.0
![selection_009](https://cloud.githubusercontent.com/assets/276007/11753176/90305c22-9ff8-11e5-984b-54600b3623f6.png)

[2015-12-11 19:17] moorepants commented on #10173
These lines only handle up to the 3rd derivative: https://github.com/sympy/sympy/blob/master/sympy/physics/vector/printing.py#L145

This should be a simple fix to make it more general.

[2015-12-11 19:19] moorepants commented on #10173
Pretty printing seems to work fine:
[code]

[2015-12-11 19:20] moorepants commented on #10173
@sampadsaha5 Do you want to try to fix it?

[2015-12-11 19:21] moorepants commented on #10243
The don't have to be unit tested, per se, but simply shown that they still execute. If you want to test graphs you can use matplotlib's image comparison testing framework.

[2015-12-11 19:55] #5517 closed

[2015-12-11 19:56] asmeurer commented on #10243
I think most of the examples are run, but we skip the ones with plots.

[2015-12-11 20:30] asmeurer commented on #10238
As for handling `A**2 == A*A`, I think that can be handled as a pre-processing step (see also https://github.com/sympy/sympy/issues/10228).

I think this then becomes a substring problem (noncommutative products are equivalent to a string of characters, where the "characters" are the terms). Given a collection of strings, find a set of length >= 2 common substrings of 2 or more of the strings from

[2015-12-11 20:30] asmeurer commented on #10238
Also worth noting that this issue is closely tied to https://github.com/sympy/sympy/issues/6717.

[2015-12-11 22:06] asmeurer commented on #10238
I guess the problem I want to solve is the "k-common substring problem".

[2015-12-11 23:43] #10240 closed

[2015-12-11 23:43] #10241 closed

[2015-12-12 00:10] #10200 closed

[2015-12-12 05:34] sampadsaha5 commented on #10173
Thanks @moorepants for this description.
I am trying to fix it.

[2015-12-12 06:06] sampadsaha5 commented on #10173
Thanks @kshitij10496 I got it.

[2015-12-12 06:44] asmeurer commented on #10185
https://github.com/sympy/sympy/pull/10225 fixed the tutorial but not the `srepr` docstring.

[2015-12-12 07:36] darkcoderrises commented on #10152
Can you look over it once and look if it is okay?
https://github.com/sympy/sympy/pull/10246

[2015-12-12 12:51] ritz301 commented on #10185
@asmeurer I am going to fix this. What exactly do I need to add in the documentation?

[2015-12-12 13:20] sampadsaha5 commented on #10185
@ritz301
Actually I am still working on this issue.

[2015-12-12 13:24] sampadsaha5 commented on #10173
@kshitij10496
Do you want to try to fix it ?
Actually I am still working on #10185

[2015-12-12 13:25] kshitij10496 commented on #10173
@sampadsaha5 Cool
I will work on this.

[2015-12-12 13:27] ritz301 commented on #10185
@sampadsaha5 Ok then, go ahead.

[2015-12-12 13:33] sampadsaha5 commented on #10185
Thanks @ritz301

[2015-12-12 13:40] shivamvats commented on #10189
@VinaySingh035 I will be glad to help you.

I think I should rephrase the issue. You don't need to modify the algorithm of `rs_log`. `rs_series` is a wrapper function that parses an input expression and calls the elementary `rs_` functions whenever required. Currently, it can recognize only four functions(as mentioned in the file). You need to make it recognize `rs_log` also. For this, certain cha

[2015-12-12 14:38] smichr opened #10248 "problems converting an intersection to a list"
[code]

[2015-12-12 14:47] gxyd commented on #10248
What is the expected answer?

[2015-12-12 16:51] kshitij10496 commented on #10173
@moorepants Adding a new `if` statement can easily fix this.
I am new to Tex so I wanted to know :
 - How to generalize the printing of dots (irrespective of their number) ?

[2015-12-12 17:00] satels opened #10250 "nsolve: NameError: global name 'Derivative' is not defined"
f = 2*x/(3+log((Abs(x-1)))-log((Abs(x-3))))

[code]

[2015-12-12 18:14] tokencolour commented on #8889
I have prepared a .rst file that includes Codegen,  codeprinters, ufuncify and lambdify in a similar fashion as described by the wiki note by @asmeurer . @moorepants , thank you for providing me the link. It is a nice summary indeed!
There's a problem I face while trying autowrap, though (and therefore I am not still able to include it in the file). I tried the first example given here: http://doc

[2015-12-12 18:15] khannavansh commented on #10194
Can you elaborate on the issue a bit more , I am interested in handling this bug .

[2015-12-12 18:17] khannavansh commented on #10237
Can you elaborate on the issue a little more

[2015-12-12 19:12] darkcoderrises commented on #10163
What all functions should I include in the module(sorry, I am new here so don't know all the required ones)

[2015-12-12 21:12] asmeurer commented on #8889
It looks like a bug. I'm not able to reproduce it, though. Are you using Python 2 or Python 3?

[2015-12-12 21:15] asmeurer commented on #10163
I would start with something very simple, i.e., very basic type checking. The Determinant object in sympy.matrices.expressions.determinant is a good reference as another object that represents a function from matrices to scalars that you can model DotProduct on.

[2015-12-12 21:16] asmeurer commented on #10194
`ccode(Sum(k, (k, 1, n)))` should print valid `C` code that computes the summation, i.e., a loop. Ideally it should be something that works inline.

[2015-12-12 21:19] khannavansh commented on #10163
@asmeurer  I am interested in working on the issue too rather the picture is pretty much clear in my head , so can I  ?

[2015-12-12 21:20] asmeurer commented on #10163
@khannavansh you should collaborate with @darkcoderrises so that you avoid duplicate work.

[2015-12-12 21:21] khannavansh commented on #10163
@asmeurer  okay!

[2015-12-12 21:28] khannavansh commented on #10163
@asmeurer  I have a query , may I  ?

[2015-12-12 21:39] satels opened #10251 "Calculate limit: math domain error"
[code]

[2015-12-12 21:50] khannavansh commented on #10194
@asmeurer  Thank you , got it.

[2015-12-13 04:53] tokencolour commented on #8889
Python 2.7.6

[2015-12-13 05:09] darkcoderrises commented on #10163
Thanks, @asmeurer. I created a PR on what you said, tell me if is okay and what should i do next
https://github.com/sympy/sympy/pull/10252

[2015-12-13 05:46] asmeurer commented on #8889
I think your error is masking the real error, since that line is an exception handling block. What happens if you run the code in Python 3. Python 3 will show you both errors (and it also handles decoding of strings better).

[2015-12-13 06:06] sampadsaha5 commented on #10185
@asmeurer We are supposed to change the srepr docstring at [here](https://github.com/sympy/sympy/blob/master/doc/src/modules/printing.rst).

[2015-12-13 12:59] sampadsaha5 commented on #10251
Hi @satels
What is your expected output?
Actually I am getting `mpf('3.5')` as output.

[2015-12-13 14:23] tokencolour commented on #8889
When I executed the above example on Python 3, I got
`ld: cannot find crti.o: No such file or directory`
I googled it and found that this might mean a wrong kind of installation of the fortran compiler. I reinstalled it and the code ran fine on both Python 3 and 2. Thank you!

[2015-12-13 15:04] meghana1995 commented on #10122
Even these seem to be giving wrong answers:

[1]

[1]

The answer for both cases should be [0, 1]

[2015-12-13 15:09] meghana1995 commented on #10122
The piecewise_fold() in solvers returns the following function
 list: [Piecewise((Piecewise((2*x - 2, x >= 1), (0, True)), x >= 0), (Piecewise((-2, x >= 1), (-2*x, True)), True))]

When Piecewise((2*x - 2, x >= 1), (0, True)) is solved, it doesn't consider 0 as a solution even though it satisfies (0, True). I think that seems to be the issue.

[2015-12-14 02:43] smichr opened #10255 "solving a Relational involving Piecewise fails"
[code]

[2015-12-14 06:52] #8510 closed

[2015-12-14 08:08] shuokay opened #10257 "Usage of memory still increase even with clear_cache()"
I am testing sympy for online service purpose. Here is my test code:
[code]
I am using Ubuntu 14.04 LTS, python2.7.6 and ```sympy0.7.6.1``` installed by ```pip install sympy```
I run this code in terminal ```SYMPY_CACHE_SIZE=1000 python test.py```
Then I open another terminal, watch the memory usage of ```test.py``` and found the memory usage increase constantly.
I have read most issues about ```c

[2015-12-14 08:51] madhur08modi commented on #10134
@asmeurer I want to work on this issue. I replaced  raise StopIteration with return statement then tried to run the tests some of tests were unable to pass so can u explain what can be the probable cause for this.

[2015-12-14 16:19] #10248 closed

[2015-12-14 16:22] smichr commented on #10248
The answer I would expect is `And(x < oo, x > -oo)`. If this is wrong, please open a new issue.

[2015-12-14 16:33] smichr opened #10258 "Relational involving Piecewise evaluates incorrectly as True"
[code]

[2015-12-14 18:59] cbm755 opened #10259 "serializing with srepr: `eval(srepr(...))` can fail on long expressions with more than 255 children"
An identity: `eval(srepr(q)) == q`

But suppose `q` has a sum of more than 255 items, then we get `Add(...)` with more than 255 arguments.  And `eval` then dies with a SyntaxError.

Example:

[code]

What can be done?
- I prefer srepr for serializing but could revert to using "pickles"...
- `Add` (and friends) could accept a list input which could be used by the appropriate printer when there is a

[2015-12-15 06:17] shuokay commented on #10257
After googled a lot of pages, I think maybe it is because Python maintains its own memory pools, and never releases memory to OS after I called clear_cache(). Is there any one can confirm this?

[2015-12-15 09:53] rwst opened #10262 "adding order term takes ridiculous amount of time"
[code]

[2015-12-15 13:59] leosartaj commented on #10251
Hi @satels.

Try using sympy's ``limit`` function.

[code]

[2015-12-15 15:14] certik commented on #10262
Wow, it looks like the `Order` class is doing something really slow. I think it's trying to combine with all the terms... I think the only solution is to have a dedicated `Series` class, that will know what order it is (implicitly) and only appends `O` for printing. This class will store the series internally in whatever format is the fastest, probably as the new `rs_series`.

[2015-12-15 16:01] Emile59 opened #10264 "Printing matrices in the qtconsole fails when LaTeX is not installed"
I have one computer with Anaconda 2.4.1, on which I can print symbolic matrices in latex on the Ipython console embedded in Spyder2 without raising any error. On this computer was installed another version of python 2.7.10 for other softwares.
Recently I got a new computer on which I installed the same anaconda distribution, and I can't print matrices anymore because of this error :

    Python 2.

[2015-12-15 16:08] moorepants commented on #10264
Do you know if Spyder is using the IPython qtconsole?

[2015-12-15 16:24] moorepants commented on #10264
I just reproduced this with SymPy 0.7.6.1, Spyder 2.3.8, Python 3.5.1, IPython 4.0.1. Spyder uses an IPython qtconsole by default. If LaTeX is not installed and you try to print a Matrix, then it will default to the matplotlib backend, which can't print matrices, thus the error you see.

The only current solution for correct printing is to install LaTeX with dvipng and the qtconsole printing will

[2015-12-15 16:24] smichr commented on #10237
I indicated in the OP that the wrong answer is obtained when the inequalities are run through `reduce_inequalities` and showed what the right answer should be. I see that @skirpichev was able to find a solution.

[2015-12-15 16:27] moorepants commented on #10264
The commit message in this pull request explains the issue: https://github.com/sympy/sympy/pull/9976

[2015-12-15 16:27] moorepants commented on #10264
Also see this: https://github.com/sympy/sympy/pull/10005

[2015-12-15 16:30] moorepants commented on #10264
The other workaround is to use `init_printing(use_latex='matplotlib')`, but you will only get unicode printing of the matrices.

[2015-12-15 16:32] darkcoderrises commented on #10152
When I ran the full suite of tests, sympy/vector/tests/test_field_functions.py failed on all the tests.
[code]

I saw that fails even on second case. Then I saw the items that case1 had but case2 did not. Which were all eighter `C.z <class 'sympy.vector.scalar.BaseScalar'>` or `C.k <class 'sympy.vector.vector.BaseVector'>`. So what should i do next?

[2015-12-15 17:15] asmeurer commented on #10262
Order.contains is calling the full gruntz algorithm. Having this capability is fine, but it shouldn't happen at object construction time (i.e., automatically).

[2015-12-15 17:29] Emile59 commented on #10264
First, thank you very much for your fast answers ! I'm sorry for not beeing
so reactive, I had to leave my computer for a while.

So if I understood you well, I need to install dvipng
<https://www.ctan.org/tex-archive/dviware/dvipng> (which is effectively
installed on the computer without the error as I have miktex) to get back
the alternative to mathtext printer ? In any case, I'm trying this and

[2015-12-15 19:37] moorepants commented on #10264
Yes, the best solution is to install a LaTeX distribution that includes dvipng. The second solution is to use `init_printing(use_lates='matplotlib')` so that the pretty printing fall-back will work without errors.

[2015-12-15 20:40] asmeurer opened #10265 "No way to set assumptions on matrix symbols"
Specifically, so that the MatrixElement objects have assumptions. Reported on the mailing list:

[code]

[2015-12-15 20:53] Emile59 commented on #10264
Well it works perfectly ! I did it on two different computers, and the problem is solved. Thank you very much Mr.Moore.
If I may, I will redirect this user (http://stackoverflow.com/questions/33792174/spyder-failed-to-render-latex-when-rendering-a-sympy-matrix) to this page because I am apparently not the only guy who couldn't find easily this solution.

[2015-12-16 00:05] kzielnicki opened #10266 "Autowrap produces incorrect code for implied summation of indexed expressions in exponent"
Here's an example:

[code]

The generated Fortran code is:
[code]

The problem seems to be that the implied summation is not carried out. For comparison, the same code without the exponent produces the correct output:

[code]

The generated Fortran code is:
[code]

[2015-12-16 02:33] smichr opened #10268 "solving inequality involving exp fails for large values"
[code]

[2015-12-16 02:55] meghana1995 commented on #10122
Is someone else working on this or should I go ahead and try to fix it ?

[2015-12-16 03:49] meghana1995 commented on #9384
Also if relational assumptions are implemented, it would make refine for piecewise easier. For example: ask(Q.positive(x), Q.is_true(x > 0)) does not give a meaningful result but it the documentation says that it is work in progress.

I would also like to help handle these assumption if there is not work being done on it currently.

[2015-12-16 07:14] darkcoderrises commented on #10268
It breaks on `solve(log(x)<250)`

[2015-12-16 09:36] kshitij10496 commented on #10150
@vishnu93 Are you still working on this ?

[2015-12-16 11:22] meghana1995 commented on #10268
I would like to add one more thing to that.
The return value of ' v = e.subs(gen, x)' in
https://github.com/sympy/sympy/blob/master/sympy/solvers/inequalities.py#L428.
is different in both the cases.

In the case of solve( log (x) < 100), some of the assumptions of v such as 'is_negative', 'is_nonnegative' have true/false values. However, in the case of solve(log(x) < 1000), these assumptions are

[2015-12-16 12:18] mayukuse24 commented on #5934
I am new to sympy and open source development and i would like to take up this task.
Can someone explain what the problem is and where to get started

[2015-12-16 20:30] #10220 closed

[2015-12-16 20:35] #10210 closed

[2015-12-16 20:39] #10185 closed

[2015-12-16 21:13] #8844 closed

[2015-12-17 06:33] tokencolour commented on #8889
I am ready with the rst file. Where should I include it? Should the codegen doc be extended or should it be a seperate doc or should it reside in the tutorials?
Also,
I wanted to include an example using helper function in `autowrap`. I can't figure out how.
I tried this.
[code]
The args in helpers are used to call make_routine(), so the argument sequence should be tuple or a list, shouldn't it be

[2015-12-17 08:19] tokencolour commented on #10243
I would like to work on this.

[2015-12-17 16:50] moorepants commented on #8889
Just include it wherever you think it belongs and submit a pull request. If we think the content belongs in a different spot we can move it during the review.

[2015-12-17 16:53] moorepants commented on #8889
As far as the "helpers" arg goes, I don't see any unit tests that exercise that kwarg, so it very well may be broken. Have you found an example of it's use anywhere?

[2015-12-17 16:55] moorepants commented on #10226
@sampadsaha5 You'll have to paste the full session's code for us to know.

[2015-12-17 17:03] moorepants commented on #10173
We should support as many dots as LaTeX allows. It seems that four dots is the maximum. So, adding an if statement for the fourth dot is fine. `\ddddot`

[2015-12-17 17:09] moorepants commented on #10120
@MooVI If you want to submit this change, then let's do it. But we need to test it for speed, so a new benchmark needs to be added to:

https://github.com/sympy/sympy_benchmarks

This benchmark should test a Matrix with fairly substantial expressions.

[2015-12-17 17:09] tokencolour commented on #8889
No, I haven't found an example for helpers kwarg.

[2015-12-17 17:11] tokencolour commented on #8889
Should I not include it?

[2015-12-17 17:15] moorepants commented on #10070
Yes they can be similar to those tests, but you should check out the tests in the printing package too.

[2015-12-17 17:16] moorepants opened #10273 "Add something like "Projects using SymPy" to the top-level of the docs"
See issue #10046 for background.

[2015-12-17 17:19] MooVI commented on #10120
@moorepants OK, I'll add a submit changing the value of the flag shortly when I have a moment. Having been using it myself I can probably supply such matrices, and I guarantee you it will be very slow (so slow I had to switch to Mathematica in the end), but at least it won't silently give the wrong answers.

 I profiled, and this slowness is of course entirely due to the slowness of `simplify`, fo

[2015-12-17 17:20] moorepants commented on #9955
@souravsingh Thanks, if you can update the dependencies page on the wiki that would be great, but there should probably be something in the documentation that details this too, that we keep up to date with the changing code.

There seems to be a lot of request for better dep management with conda that would be useful here: see https://github.com/conda/conda/issues/1696

For the setup.py file we co

[2015-12-17 17:24] meghana1995 commented on #9910
The problem seems to be that in extract_leading_order(), sin(x) is not removed, it is considered a leading order term ( even though it should not be in the above case ).
In extract_leading_term https://github.com/sympy/sympy/blob/master/sympy/series/order.py#L213, there is a check to see whether a term is contained in the other terms to determine whether it is a leading term or not.
The problem se

[2015-12-17 17:39] moorepants commented on #9389
Seems, fine. Please submit a PR with unit tests and we can discuss there.

[2015-12-17 17:46] moorepants commented on #8889
Please open an issue about the helpers kwarg being broken and that there are no unit tests for that. We should probably remove the helpers kwarg if that is the case, or fix it.

No need to include the helpers example until that issue is remedied.

[2015-12-17 17:50] moorepants commented on #10120
Ok, sounds good. I guess the main debate on PR with this functionality will be the default setting of simplify. My vote is to make it default to off so that problems that don't need simplification to zero will still be fast and to have a big bold warning telling you to try simplify True if you suspect wrong answers. But I don't really know. This is tricky. We should open an issue about adding in a

[2015-12-17 17:51] moorepants commented on #9171
@tokencolour We'd be happy to review your pull request with the new rst file. Have you submitted one?

[2015-12-17 17:53] moorepants commented on #10120
This issue https://github.com/sympy/sympy/pull/9121 is also relevant.

[2015-12-17 17:57] tokencolour opened #10274 "The helpers kwarg in autowrap method is probably broken."
The helpers kwarg in autowrap method is probably broken and there are no unit tests for that.
I get the following error:
[code]
The args in helpers are used to call make_routine(), so the argument sequence should be tuple or a list.

[2015-12-17 18:00] tokencolour commented on #9171
I'll submit it as soon as I am over with #8889 .

[2015-12-17 21:16] Shekharrajak commented on #10273
For this we need list of researches/papers, Sympy or works where Sympy is mainly used. Am I right ? @moorepants

[2015-12-17 21:29] moorepants commented on #10273
This is meant to be a list of software packages that utilize sympy like galgebra, PyDy, Sage, etc.

There is a list of research papers on the wiki but that is not what we are talking about here. See the cited issue for the conversation.

[2015-12-17 21:30] moorepants commented on #10273
You could search Github for "import sympy", "from sympy import *", etc. and see if you find any major projects that utilize SymPy for additional ones.

[2015-12-17 21:34] Shekharrajak commented on #7229
[NUMPY_TRANSLATIONS](https://github.com/Sympy/sympy/blob/master/sympy/utilities/lambdify.py#L67)  is it means, like we use  "atanh" in sympy but in numpy we use  "arctanh"for the same work.so mapping them?

[2015-12-17 21:54] bjodah commented on #10257
@shuokay that would be my guess as well. A quick indication could be to vary the SYMPY_CACHE_SIZE variable and see if you get a linear dependence for the memory usage.

[2015-12-17 21:58] bjodah commented on #10216
@latot you might be interested in [pyviennacl](http://viennacl.sourceforge.net/pyviennacl.html) as well.
I'm closing this for now. Feel free to ping me if you think of anything else and want it to be reopened.

[2015-12-17 21:58] #10216 closed

[2015-12-17 22:09] latot commented on #10216
Okis, thx.

[2015-12-17 22:51] MooVI opened #10279 "A fast zero-testing method is needed"
On occasion it is necessary to test if a symbolic expression is identically zero; for example in the row reduction algorithm `rref` where this issue arose (see #10120). Currently our best method is to apply `simplify` and see whether the expression reduces to zero. This is not ideal as `simplify` is very slow.

Quoting @asmeurer from the above issue:

'Zero equivalence is an impossible problem in

[2015-12-17 22:55] MooVI commented on #10279
Forgot to add, as brought up by moorepants, the issue #9121 is also relevant.

[2015-12-17 23:06] moorepants commented on #7229
Yes. For SciPy there are some special functions that map to SymPy objects.

[2015-12-17 23:26] Shekharrajak commented on #7229
[Abs](https://github.com/Sympy/sympy/blob/master/sympy/utilities/lambdify.py#L68) in sympy ,then we have [fabs](http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.fabs.html) , [absolute](http://docs.scipy.org/doc/numpy-1.10.0/reference/generated/numpy.absolute.html) and [abs](http://nullege.com/codes/search/numpy.abs) in numpy .so why only map Abs to  [abs](http://nullege.com/codes/s

[2015-12-18 03:18] shuokay commented on #10257
@bjodah I have run this code with ```SYMPY_CACHE_SIZE =5```, ```SYMPY_CACHE_SIZE =50``` and ```SYMPY_CACHE_SIZE =500```, the memory usages are somehow same of  69064, 70080 and 68920 respectively. So I think it is not caused by Python memory manage strategy.

[2015-12-18 05:36] meghana1995 commented on #10274
In the following line:
https://github.com/sympy/sympy/blob/master/sympy/utilities/autowrap.py#L522
helpers is a tuple, and one cannot iterate through a tuple of elements in that manner.
So I made helpers a list of tuples, so that the for loops won't show an error. I will add tests to this.

[2015-12-18 07:03] moorepants commented on #7229
What else do you suggest?

I think you need to decide on what scipy functions map to sympy functions. There are some other pull requests that attempted this but they never got the testing set up correctly. You should start with those PRs.

[2015-12-18 09:02] Shekharrajak commented on #7229
We need some proper addition of Scipy inside the code . I am trying to modify correctly .I'll catch you in gitter chat.Thanks.

[2015-12-18 15:43] smichr opened #10285 "simplify simple FiniteSet intersections"
If there is only a single element in a FiniteSet, it's intersection with an Interval could be simplified in some cases, for example:

[code]
could be

[code]

[2015-12-18 15:53] Curious72 commented on #10198
#10286

[2015-12-18 16:47] moorepants commented on #7229
Here are some issues and PRs that are relevant:

- https://github.com/sympy/sympy/pull/2883
- https://github.com/sympy/sympy/pull/7977
- https://github.com/sympy/sympy/issues/4471
- https://github.com/sympy/sympy/issues/5932
- https://github.com/sympy/sympy/issues/4470

[2015-12-18 17:56] #5299 closed

[2015-12-18 18:36] mikeroberts3000 commented on #10173
Ideally, mechanics_printing should gracefully fall back to Leibniz notation in the case of high-order derivatives, rather than printing them incorrectly. In other words, mechanics_printing should handle the case that would otherwise require 5 dots, using fraction-style notation for derivatives.

[2015-12-18 18:42] moorepants commented on #10173
I agree with @mikeroberts3000. The patch that fixes this would ideally have the fallback in-place.

[2015-12-18 19:32] kshitij10496 opened #10287 "Bug in ImageSet"
I think we should not use `args[0]` [here](https://github.com/sympy/sympy/blob/master/sympy/sets/fancysets.py#L240).
Reason :
It works fine when `linsolve` returns a non-empty set.
But when it returns an empty set, an error is raised.
As calling `args[0]` on an empty set raises an `IndexError`.

This is most likely the reason why this [test](https://github.com/sympy/sympy/blob/master/sympy/sets/te

[2015-12-18 23:28] MooVI opened #10288 "The slow subs method is used frequently in the codebase where only xreplace is needed"
`subs` has extra mathematical knowledge which makes it cleverer but *significantly* slower than `xreplace`. If one is just replacing a subexpression one knows is exactly matched one doesn't need `subs`, yet often it seems to be used anyway.

This isn't a minor nitpick: whenever `subs` is called in my programs I find on profiling a significant amount of time ends up spent there (admittedly `fastcac

[2015-12-19 04:37] darkcoderrises commented on #10285
Can I work on this?

[2015-12-19 07:31] kshitij10496 commented on #10287
Ping @aktech

[2015-12-19 07:47] aktech commented on #10287
A try catch should be used there.

It doesn't looks like we should, we are typecasting the first argument of `FiniteSet` returned by `linsolve` which is a `tuple`, & it's unneccesary to typecast a tuple to a list in this case.

[2015-12-19 08:18] kshitij10496 commented on #10287
Wouldn't an `if` condition checking the size of returned tuple be better suited here ?

Should we remove it and work on the returned tuple itself ?

[2015-12-19 08:43] jksuom commented on #9934
It seems that #10051 provides a serviceable solution. I'll close this.

[2015-12-19 08:43] #9934 closed

[2015-12-19 09:26] aktech commented on #10287
We wouldn't have a tuple when `EmptySet()` is returned.

Yes.

[2015-12-19 09:44] kshitij10496 commented on #10287
Yeah. Actually, I meant an `if` condition to check the size of the returned set from `linsolve`.
If its an `EmptySet`, we  can directly return `False`.

[2015-12-19 16:29] Curious72 commented on #10198
@smichr  I have made a PR at #10286 !! Please have a look at it !!

[2015-12-19 20:19] smichr commented on #10268
@meghana1995, thanks for your input. This is now resolved.

[2015-12-19 20:23] #10268 closed

[2015-12-19 21:13] asmeurer commented on #10288
I think expr.match can match subexpressions like `x**2` inside of `x**3`, meaning subs would be necessary.

[2015-12-19 21:14] asmeurer commented on #10279
I believe `equals` does this @smichr.

[2015-12-19 21:30] MooVI commented on #10288
@asmeurer I don't think it does:

[code]

And from the docs of `match`:

[code]

[2015-12-19 21:44] asmeurer commented on #10288
You have to use a Wild with match

[code]

[2015-12-19 21:45] asmeurer commented on #10288
Ah, but I guess I have the logic backwards. Even though match is smart, it will still work with xreplace, because you're replacing inside the pattern, not the original expression.

[2015-12-19 21:54] MooVI commented on #10279
@asmeurer Whoever wrote `solve_linear_system` (possibly @smichr ?) clearly considered .equals(0) too slow/unstable, but maybe it is now good enough. From an inline comment:

[code]

[2015-12-19 22:06] MooVI commented on #10288
@asmeurer  Ah, OK. In that case your initial point about `trigsimp` needing `subs` probably still stands though.

[2015-12-20 03:48] asmeurer commented on #10288
I don't know how it's used so I can't say. But note that trigsimp is slow for [other reasons](https://github.com/sympy/sympy/issues/7705) as well.

[2015-12-20 04:06] MooVI opened #10290 "Computing series where the free variable is not just a symbol is broken"
[code]

Arguably series should just complain and quit if it's not given an symbol for the free variable.

This odd behaviour is related to what `Order` does under `subs`:

[code]

The error is occurring because `solveset` cannot solve an equation Order gives it in `.eval_subs`, and there is no code handling no solution.

[2015-12-20 05:07] MooVI opened #10292 "poly cannot generically be rebuilt from its args"
[code]

Isn't it supposed to be a general property that we can rebuild expressions like this?

[2015-12-20 06:31] kshitij10496 opened #10293 "Singularities for complex functions should work"
fixed by #10275

[2015-12-20 09:33] tokencolour commented on #10243
I had made a few changes to  `autowrap_ufuncify.py`  so as to use `plot` from `sympy.plotting` and had run it  interactively to find out:
[code]
It can plot f(x) for all n using `plot()` and `plot.extend()` but not g(x). It shows the following error:
[code]
I guess that g(x), though an instance of the Function class, is not being type-casted properly.
I can't seem to figure out how to get this to

[2015-12-20 09:44] tokencolour commented on #10266
I would like to work on this.

[2015-12-20 11:59] kshitij10496 commented on #10150
I am working on this

[2015-12-20 15:47] asmeurer commented on #10292
Poly is not actually a Basic subclass. It only implements .args for some basic compatibility.

[2015-12-20 17:48] MooVI commented on #10292
@asmeurer Oh, I see. Just for my understanding in the future, what set of classes are expr.func(*expr.args) == expr supposed to be true for? One can't check whether something is a Basic subclass, because Poly is technically derived from Basic:

[code]

[2015-12-20 18:15] kshitij10496 commented on #10134
@madhur08modi Can you open a PR for this issue ?

[2015-12-20 18:52] #10056 closed

[2015-12-20 19:07] #9171 closed

[2015-12-20 20:34] sampadsaha5 commented on #10157
@asmeurer
I went through the issue as well as your mentioned commit.
Can you please explain the use of  `PRECEDENCE['Pow']`  briefly from [here](https://github.com/asmeurer/sympy/blob/63315630e86df3b6864783e83d2d9ee83f102b76/sympy/printing/latex.py#L438)

[2015-12-21 10:23] bjodah opened #10295 "sympy.S handles numpy arrays incorrectly."
There are currently (at least) two problems:

First problem is implicit conversion to finite precision floating point values instead of `sympy.Integer` when applicable:

[code]

The other problem is that array data are interpreted as shapes somehow:

[code]

This causes major problems when doing e.g. `rref` on a numpy integer array (which we arguably should support).

[2015-12-21 10:47] tokencolour commented on #7358
I would like to work on this.

[2015-12-21 17:02] kshitij10496 commented on #10173
It definitely should !

[2015-12-21 17:22] kshitij10496 commented on #9391
Doesn't #9364 close this ?

[2015-12-21 17:23] kshitij10496 commented on #8557
I would like to work on this if #8604 doesn't fix this completely

[2015-12-21 17:32] smichr opened #10297 "make subs into Or consider that Ne args might be true"
For `Or(x < 1, Ne(x, 1)).subs(x, 1 + I)` a TypeError is raised because the substitution fails with the `x < 1` (because it is only valid if `x` is real). But `Ne(x, 1)` would not fail and if any term in `Or` is true then the result should be true. So the presence of `Ne` terms which permits non-real comparisons.

[2015-12-21 18:31] Vutsuak16 commented on #10250
do  f.diff()  separately u will get
 2*x*(((re(x) - 3)*Derivative(re(x), x) + im(x)*Derivative(im(x), x))/Abs(x - 3)**2 - ((re(x) - 1)*Derivative(re(x), x) + im(x)*Derivative(im(x), x))/Abs(x - 1)**2)/(-log(Abs(x - 3)) + log(Abs(x - 1)) + 3)**2 + 2/(-log(Abs(x - 3)) + log(Abs(x - 1)) + 3)
 Hence Derivative an undefined name

[2015-12-21 19:59] kshitij10496 commented on #10143
[code]
This is because the `id` values of both these objects are different.

[code]
This is because the both objects hash to the same number as they have the same values i.e. `(-oo, oo)`

Moreover, I think since the types of `Interval(*S.Reals.args)` and `S.Reals` are different, their `id`s are correctly different.
Hence, `is` returns `False`.

[2015-12-22 00:59] tedtss opened #10299 "Fourier transform not returning DiracDelta"
Fourier transform is returning 0 intead of a DiracDelta. As a simple example, fourier_transform(1, x, y) returns zero, not DiracDelta(0).

[2015-12-22 01:50] moorepants commented on #8557
This hasn't been worked on for a while, so you are welcome to jump in on it.

[2015-12-22 03:12] tokencolour commented on #7358
To make a guarded import, in addition to a try except block that raises an `ImportError` only when situations described by @mrocklin arise (i.e when random stdlib has no method and when CDF is difficult to evaluate), I wanted to use the `_import(module)` approach as used in `utilities/lamdify.py`. Should I? This might help us to support more modules. However, this foresight might be unnecessary. W

[2015-12-22 03:33] tokencolour commented on #7358
Or rather should I just use `import_module` from `sympy.external` ?

[2015-12-22 04:26] asmeurer commented on #10238
https://github.com/sympy/sympy/pull/10271

[2015-12-22 06:34] kshitij10496 commented on #9609
@gxyd Isn't `False` the expected output ?
Can you elaborate on the issue I am overlooking ?

[2015-12-22 06:38] kshitij10496 commented on #9577
I think #9578 closes this.

[2015-12-22 06:44] kshitij10496 commented on #9447
I would like to work on this.
Any suggestions @gxyd @aktech

[2015-12-22 08:37] jksuom commented on #10299
This is a well known issue. SymPy's integrator (used for transforms) can not currently handle generalized functions such as Dirac delta.

[2015-12-22 09:17] pelegm commented on #8129
The probability function indeed returns 1 for True and 0 for False, and this is an implementation of option 1 described above. You may check if the PR linked by @asmeurer includes a relevant test, and if not, add one, and then close this issue.

[2015-12-22 09:19] pelegm commented on #8129
It also works perfectly (it seems) for `RandomSymbol` relationals.

[2015-12-22 09:28] pelegm commented on #8248
This is probably easy to fix (again, as `p.pspace.integrate(S.One)` works perfectly). I can do this, if you think it's the proper way to go. What do you think?

[2015-12-22 11:33] kshitij10496 commented on #9543
@gxyd Can you elaborate on your idea of checking domains beforehand ?
What exactly do you mean by checking `S.Naturals` and `S.Integers` ?

[2015-12-22 12:09] kshitij10496 commented on #9447
[code]
By setting the `evaluate` keyword to `False`, we get the expected output.

[2015-12-22 14:03] kshitij10496 opened #10301 "Union of Universal Set complements"
[code]
Shouldn't the `Union` in the above case give something like this ?
` UniversalSet() \ ([0, 1] ∪ [2, 3])`

[2015-12-22 14:43] kshitij10496 commented on #7805
The `TypeError` is introduced via this [line](https://github.com/sympy/sympy/blob/master/sympy/sets/sets.py#L975).

- Shouldn't adding an `isinstance` condition at the beginning fix this ?
- Wouldn't it add to code completeness, if we can call `is_subset` when `Interval() in Interval()` is called ?

[2015-12-22 15:53] kshitij10496 commented on #9706
Do we want the `closure` to remain unevaluated (like @hargup suggested in #8257 ) or
do we want it to return a value ?

[2015-12-22 20:58] smichr commented on #10285
Sure. I would suggest the following for tests to aim for:

[code]

That last one is more borderline. Let's see if anyone has an opinion regarding that (which would require factor_terms to be run on the expression).

[2015-12-22 21:04] smichr opened #10303 "expression reports as being comparable but is not"
The logic for `is_comparable` should be checked so that the following is False for `is_comparable`:

[code]

[2015-12-22 21:08] smichr commented on #10303
simplifying this type of expression does not help reduce it to zero because of #7981.

[2015-12-23 02:30] smichr commented on #6900
See also #5227

[2015-12-23 03:05] tokencolour commented on #7358
Could you please help me with this @leosartaj @gxyd ?

[2015-12-23 03:45] leosartaj commented on #7358
``import_module`` should do the job I guess. It looks general enough. Though you have to be careful if ``scipy.stats`` is not installed, it should gracefully fall back to ``random``. Try submitting a PR, it will be easier to discuss.

[2015-12-23 03:50] tokencolour commented on #7358
`random` doesn't support sampling Inverse-Gamma Probability Distribution, probably.

[2015-12-23 03:55] leosartaj commented on #7358
True. If ``scipy.stats`` is absent and user tries to sample from distributions like Inverse-Gamma Probability Distribution, user should be informed with a message.

[2015-12-23 04:35] smichr opened #10304 "Equality involving expression with known real part and 0 should evaluate"
[code]

That final expression should be False since we know that the real part is non-zero (so it doesn't matter if we can't decide about the imaginary part).

[2015-12-23 04:56] asmeurer commented on #10304
You also need to know d.is_real (if d == I then e is 0).

[2015-12-23 05:15] Vutsuak16 commented on #10301
@kshitij10496  for getting something like UniversalSet() \ ([0, 1] ∪ [2, 3]) the equivalent Python statement would be Complement(S.UniversalSet, Union(Interval(0,1),Interval(2,3))) which in turns gives the error "RuntimeError: maximum recursion depth exceeded while calling a Python object"
Anyways theoretically both mean the same,
This thus raise the question of the error, which is uncalled for

[2015-12-23 05:19] Vutsuak16 opened #10305 "Complement Of Universal Subsets"
Complement(S.UniversalSet,Union(Interval(0,1),Interval(2,3)))

The above mentioned statement gives the error :
RuntimeError: maximum recursion depth exceeded while calling a Python object

[2015-12-23 07:32] Curious72 commented on #10273
@moorepants  there are many such software packages, and can u tell me exactly what part of the documentation is to be updated?

[2015-12-23 07:33] kshitij10496 commented on #10301
No. They are not.
`(UniversalSet() \ [0, 1]) ∪ (UniversalSet() \ [2, 3])` is a `Union` object.
`UniversalSet() \ ([0, 1] ∪ [2, 3])` is a `Complement` object.
Both these object might be the same mathematical expression, but Pythonically, they are different.

Thanks for pointing out the bug in other case.
I think I am going to edit the issue.

[2015-12-23 10:21] Vutsuak16 commented on #10301
@kshitij10496 yeah pythonically they are different

[2015-12-23 16:12] moorepants commented on #10273
You could start by adding more information here: http://docs.sympy.org/latest/outreach.html#projects-using-sympy

[2015-12-23 16:17] Curious72 commented on #10273
@moorepants how to add information to documentation? is the documentation also saved in the build?

[2015-12-23 16:25] moorepants commented on #9955
This is a relevant issue that should be read:

https://github.com/sympy/sympy/issues/5259

[2015-12-23 16:28] moorepants commented on #9955
Also relevant to read: https://github.com/sympy/sympy/issues/7339

[2015-12-23 16:49] souravsingh commented on #9955
Thanks a lot @moorepants

[2015-12-23 18:06] darkcoderrises commented on #10285
Should I also aim for cases like `FiniteSet(x**2 + 2*x + 1).intersect(Interval(3, 5))`
If yes, then I was thinking that maybe we could solve the given equation for less than first element and greater than the second, then take a Union. But this will only be there for a single variable as multiple are not implemented yet.
Otherwise, I wanted to know that should I first remove the constant term, by

[2015-12-23 18:19] smichr commented on #10304
good catch -- I'll check for that condition, too.

[2015-12-23 18:41] harshsavasil commented on #9871
@moorepants i tried running the code through python debugger but i couldn't access the source code being executed.. i want to fix this bug. can u suggest something ?

[2015-12-23 18:48] #8889 closed

[2015-12-23 18:50] moorepants commented on #9871
You can use the lambdarepr printer to see what source code is generated.

[2015-12-23 19:05] tokencolour commented on #10243
Can you help me with this, @moorepants ?

[2015-12-23 19:11] Curious72 commented on #9871
@moorepants  can you tell exactly how to use lambdarepr !! i somehow want to access the code being accessed by the line print f_numexpr(xn,yn,zn) , the debugger cannot access the code for this line !! how should we go about solving this !!

[2015-12-24 01:02] amitsaha commented on #10243
Besides the matplotlib image testing framework, another option to actuallt test graphs created by plots is pytest-mpl: https://pypi.python.org/pypi/pytest-mpl which may be useful here.

[2015-12-24 02:36] tokencolour commented on #10243
@amitsaha , Once I get the plots using `ufuncify`, I'll try to write tests for it. As of now, I can only plot implemented functions via `lambdify`

[2015-12-24 06:10] janakagrawal commented on #8358
@smichr I would like to work on it.
This is the first time I am working on a bug or contributing to a project on github.
Can you give me some tips to where I can get started.

[2015-12-24 12:32] sr-murthy opened #10308 "`ValueError` when trying to get derivatives of functions"
Hi,

I am just testing out some derivatives of functions on sympy, but am getting a `ValueError`.  For example:
[code]

[2015-12-24 12:56] jksuom commented on #10308
It is not clear how ``x`` was defined. Is it possible that it is a variable with value 2 instead of a ``Symbol``?

[2015-12-24 13:08] sr-murthy commented on #10308
OK, it seems I had originally defined `x` as a variable, but later assigned it the value of 2, forgetting that.  It seems to work now.

[2015-12-24 13:08] #10308 closed

[2015-12-24 13:38] smichr commented on #10303
Sorry for the noise. My master branch must not have been up to date:

[code]

[2015-12-24 13:38] #10303 closed

[2015-12-24 13:42] meghana1995 commented on #10303
I must have had an older version of the master too as I had gotten the wrong output .

[2015-12-24 15:45] moorepants commented on #10243
I don't think it is necessary to turn the examples into unit tests. We really just needed to check and see if the examples execute before each release. Ideally, there is a script that we can run that will run them all from the top level directory, i.e.:

`bin/run_examples`

[2015-12-24 16:15] asmeurer commented on #10243
examples/all.py runs all the examples (but I think it skips this one).

[2015-12-24 16:20] Shaswat27 commented on #6700
@asmeurer Is the PR still open? Would like to work on it.

(Just starting out)

[2015-12-24 16:28] Shaswat27 opened #10310 "diff(integrate(e)) takes long time, can be made more efficient"
diff(integrate(e)) first computes the anti-derivative and differentiates the result to get the answer. However, a more more efficient method would be to directly return 'e'.
For cases where the integration variable and diff_wrt to variables are different, Leibniz rule must be applied which is already implemented in integration function.

e.g: e = ( x*_2 + 2_x + 1 + (3_x+1)_sqrt(x+log(x)) )/( x_sqr

[2015-12-24 18:13] asmeurer commented on #6700
Was there are PR for this? I don't see it linked here.

[2015-12-24 18:18] Shaswat27 commented on #6700
Sorry, this issue.

[2015-12-24 21:16] asmeurer commented on #6700
Yes. You can check yourself in SymPy master:

[code]

[2015-12-24 21:44] bjodah commented on #10273
@Curious72 the sources for the documentation are located in the same repo:
https://github.com/sympy/sympy/blob/a57f3c43b9c86979ff7fe04d520bc404b94d859a/doc/src/outreach.rst

[2015-12-25 07:46] Shekharrajak opened #10313 "Need good description about Dot printing."
[Dot printing](http://docs.sympy.org/latest/tutorial/printing.html#dot) need some explanation.

[2015-12-25 10:19] Shekharrajak commented on #7229
I am able to `import scipy` using the shell `bin/isympy` (and using `isympy` , `ipython` also) .Is it because I have installed scipy in my system ? Because we can't import it from sympy live.

[code]
@moorepants

[2015-12-25 13:25] tokencolour commented on #10189
@VinaySingh035 Are you coming up with a PR on this?

[2015-12-25 14:16] tokencolour commented on #10190
I would like to work on this.

[2015-12-25 16:58] moorepants commented on #7229
SciPy isn't available on the Google App Engine so you won't see it on SymPy live.

lambdify doesn't accept `scipy` as a module yet. That's what is desired.

[2015-12-25 17:37] tokencolour commented on #10243
I have changed the file so that it uses the new `plot` API. Though I feel, just plotting the `expr` defeats the purpose. Kindly have a look at it and should it be necessary, suggest some alternative solution.

[2015-12-25 18:57] Shekharrajak commented on #7229
Okay got it. Thanks

[2015-12-25 19:24] ec-m opened #10317 "Extend vigenère in crypto to accept repetitions in keys"
In line 369 of function `encipher_vigenere`, which is part of `crypto.py` the method `uniq` from utilities.iterables is used to return an iterator of the key-phrase without possible spaces in the key. However, `uniq` will return an iterator with only unique characters of the key. Therefore, if one uses a key such as "cool", `uniq` returns "col" and the function will hence encrypt in a wrong way.

[2015-12-25 19:29] moorepants commented on #10317
I'd recommend writing test cases for the functions you know are outputting the incorrect results. You can use git blame to see who works on the crypto package and ask them about the correctness.

[2015-12-25 20:03] ec-m commented on #10317
Alright, I'll do that. Thanks!

[2015-12-25 21:26] ec-m commented on #10317
The use of `uniq` in all the `bifid`-encryption functions actually seems fine - here it is mentioned in the doc string that the key does not allow repetition of characters.

For the `vigenere` functions I wrote the following examples to illustrate wrong results: (Sorry, I can only add this as a *.txt file since *.py is not allowed)
[test_crypto.txt](https://github.com/sympy/sympy/files/72266/test_

[2015-12-25 21:57] wdjoyner commented on #10317
Sorry, I'm not sure I understand.
Are you saying that the key must have distinct letters?

On Fri, Dec 25, 2015 at 4:26 PM, Eva Charlotte Mayer <
notifications@github.com> wrote:

[2015-12-25 22:06] ec-m commented on #10317
@wdjoyner No, I am not. I am just saying that the use of `uniq` in `encipher_vigenere` and `decipher_vigenere` can result in wrong results. Please see my examples here: https://github.com/sympy/sympy/files/72266/test_crypto.txt and my explanation from the opening message of this issue.

[2015-12-25 22:17] wdjoyner commented on #10317
On Fri, Dec 25, 2015 at 5:06 PM, Eva Charlotte Mayer <
notifications@github.com> wrote:

Sorry, I'm still confused. Do you have any examples where encipher_vigenere
and decipher_vigenere result in wrong results where the key has no repeated
letters?

—

[2015-12-25 22:24] ec-m commented on #10317
@wdjoyner No, the functions work fine if the key has no repeated letters. But it should also work if it does have repetitions, since no such restrictions are mentioned anywhere.

[2015-12-25 22:31] wdjoyner commented on #10317
On Fri, Dec 25, 2015 at 5:24 PM, Eva Charlotte Mayer <
notifications@github.com> wrote:

Sorry for the confusion. I think the code is correct as is. The docstrict
is perhaps not clear enough.

As described in the reference, where the cipher is defined more carefully,
"Although there are 26 key rows shown, you will only use as many keys
(different alphabets) as there are unique letters in the key s

[2015-12-25 23:12] ec-m commented on #10317
Alright, we could clarify this in the docstring. However, the Vigerère Cipher as I know it (see [this link](http://www.cryptool-online.org/index.php?option=com_content&view=article&id=51&Itemid=98&lang=en)) does not have restrictions on repeated characters in the keyphrase.

[2015-12-26 00:13] smichr commented on #10317
I read the link and indeed, it does not imply that there be no repeats. I know little about the merits in allowing them, however. One could use a keyword to control whether repeats are allowed or not.

[2015-12-26 00:20] wdjoyner commented on #10317
I'm not sure what you mean by link. Do you mean the Wikipedia reference?

On Friday, December 25, 2015, Christopher Smith <notifications@github.com>
wrote:

[2015-12-26 03:47] latot opened #10318 "request: new function rectangular matrix determinant"
Hi all, first happy day.

Well i wanna request this new function to sympy, i don't use python but i works with octave and symbolic package, it uses sympy (layer octave/sympy).

well i know strict talking non-square matrix don't have determinant but actually it have a solution with some conditions (columns>=rows) and with the jacobian interpretation, one of the reazon to why i think it should be im

[2015-12-26 04:25] shivamvats commented on #10190
@tokencolour Sure! Go ahead. Let me know if you need help.

[2015-12-26 06:00] harshsavasil commented on #9871
@moorepants The problem is with necompile.py in numexpr repo where the default value of truediv is set to False, Because of which integer division is taking place..

[2015-12-26 06:08] moorepants commented on #9871
Maybe this needs to be set to true or false depending on the Python version?

[2015-12-26 06:46] kshitij10496 commented on #10301
Ping @aktech .
What are your thoughts on this ?

[2015-12-26 11:45] kshitij10496 commented on #8257
@hargup Are you expecting an output like this : `(-∞, ∞) ∪ {∞}`

Moreover, can you explain why it should remain unevaluated ?

[2015-12-26 14:21] tokencolour commented on #10190
It seems `rs_atan` method already handles constant terms of both kinds (constant value or a term of a multivariate series not involving the generator). I have added the key `atan` to  `_convert_func` dictionary. @shivamvats kindly suggest what can be those use cases where the solution fails, so that I can amend it.

[2015-12-26 17:29] kshitij10496 commented on #9609
I think this issue is fixed.
[code]
Can someone verify this ?

[2015-12-26 18:34] kshitij10496 commented on #6475
I think the issue lies in the `reduce` method of the `Intersection` class, especially in [this](https://github.com/sympy/sympy/blob/master/sympy/sets/sets.py#L1555) code.
The `_handle_finite_sets` handles the case of `FiniteSet` and gives the desired output.
However, in other cases, it is giving `False`.
I think, in particular, there is some issue with the handling of `Interval`

[code]

[2015-12-26 19:56] Shaswat27 commented on #10189
@shivamvats Can I work on this?

[2015-12-26 20:09] asmeurer commented on #8257
Interval apparently can't contain `oo` (it always remains open), so `Interval(-oo, oo)` is incorrect. `(-∞, ∞) ∪ {∞}` is unevaluated (there's no way to evaluate it, unless we add support for intervals over the extended reals).

[2015-12-26 20:12] asmeurer commented on #9706
closure doesn't have a docstring, but given that Interval always represents a subset of the reals (it is impossible to create an interval containing `oo`), I think closure should mean "closure over R" (keep in mind that "closure" is a meaningless concept without a larger topological space, much like "complement" is meaningless without a set universe). In that case, the closure of `(-oo, 0)` is `(-

[2015-12-26 20:14] asmeurer commented on #9706
We could also change Interval to be over extended reals, but that would be an API break (currently `Interval(-oo, oo)` doesn't contain the endpoints, even though `Interval(a, b)` otherwise does contain the endpoints). IMHO we should keep it as finite real as it currently is (but make sure this is documented well).

[2015-12-26 20:33] VinaySingh035 commented on #10189
Initially I was working on this, but left in between.
So, If you like you can work on this. @Shaswat27.

[2015-12-26 20:34] Shaswat27 commented on #10189
@VinaySingh035 Alright.
@shivamvats Working on this one.

[2015-12-26 20:59] swn1 opened #10323 "bad ceiling(sqrt(big integer))"
[code]

fails in a python3 notebook on jupyter.org.

[2015-12-26 21:07] swn1 commented on #10323
In hindsight, "ll" is a poor choice for inclusion in this repro case.  instead of "lower limit" it shouts "eleven".  Sigh.

[2015-12-26 21:11] jksuom commented on #9706
I wonder if there is any well-grounded reason for defining intervals as subsets of reals instead of extended reals. (That would be natural as both concepts, intervals and extended reals, are derived from the same order.) I suspect that issues like this one and #8257 are symptoms of an inconsistent choice.

[2015-12-26 21:17] shivamvats commented on #10190
Cool! Have a look at the tests for other functions and write similar ones for atan. They should pass if all is well.

[2015-12-26 21:23] ec-m commented on #10317
I think we have two options: Either we clarify that character repetitions are not allowed (the way it is done in the bifid-functions for example, see line 563 for example) or we avoid the use of `uniq` and instead use `string.replace(" ", "" )` just to remove the white spaces which are not needed. This is actually all that needs to be changed, then the function works for both keys with and without

[2015-12-26 21:35] wdjoyner commented on #10317
On Sat, Dec 26, 2015 at 4:23 PM, Eva Charlotte Mayer <
notifications@github.com> wrote:

I have no preference but the first way is the way I intended the function
to work.

[2015-12-26 21:48] swn1 commented on #10323
a more thorough set of asserts.
import sympy
ll = 1206577996382235787095214
x = sympy.ceiling(sympy.sqrt(ll))
y = sympy.floor(sympy.sqrt(ll))
assert (x == y) == (x**2 == ll)
assert (x-1)**2 < ll and x**2 >= ll
assert (y+1)**2 > ll and y**2 <= ll

[2015-12-27 04:49] moorepants commented on #6729
Is this relevant anymore? I'm not sure what it is referring to.

[2015-12-27 04:51] #10274 closed

[2015-12-27 05:22] tokencolour commented on #10070
@kevalds51 Do you plan on working on this?

[2015-12-27 05:26] kshitij10496 commented on #8257
@asmeurer

[code]
I had the doubt as to why we want the union to remain unevaluated after I tried this.
Should, this behaviour be changed then ?

[2015-12-27 05:38] tokencolour commented on #9202
Why is this issue still open?

[2015-12-27 05:43] tokencolour commented on #9339
I would like to work on this.

[2015-12-27 05:54] kshitij10496 commented on #9706
Like its stated in the documentation of `Interval` that `Only real end points are supported`.

[code]
However, the `contains` method includes both `∞` and `-∞`.
Doesn't this contradict the stated behaviour of Interval being a subset of reals ?

[2015-12-27 06:12] Shekharrajak commented on #4157
Is this fixed ?

[2015-12-27 07:16] Shekharrajak commented on #2915
`unicode of Python2 is equivalent to str in Python3`
When I tried ipython --pdb
I got error :

[code]

similarly for  `test_ipythonprinting.te` also.
How we run this ?

[2015-12-27 08:00] kevalds51 commented on #10070
@tokencolour I'm hospitalized and won't we able to work on it for another 3-4 days. Someone else can take it if it's high priority.

[2015-12-27 09:34] kshitij10496 commented on #9447
Moreover, this complement is failing with Natural Set too.

[code]

[2015-12-27 12:04] bjodah commented on #10323
I can confirm this bug on Python 2.7, sympy 0.7.6.1, and even for smaller numbers (inside the range of ordinary 32-bit integers):

[code]

[2015-12-27 17:36] scheung38 opened #10324 "Problem with Matrix calculations."
[code]

It doesn't do anything other than printing verbatim:

[code]
Then inside virtual env, this happens:
[code]

[2015-12-27 18:08] moorepants commented on #10324
That looks like the expected output to me. What are you hoping it would do?

[2015-12-27 18:17] scheung38 commented on #10324
No formating and matrix multiplication?

[2015-12-27 18:52] moorepants commented on #10324
You have to use `pprint()` or don't use print.

[2015-12-27 23:25] pirocks opened #10325 "Making add iterable"
I would like to see something like this:

Which would output:

 I'm unsure if anything like this already exists, but I couldn't find anything in the documentation/google

[2015-12-27 23:46] leosartaj commented on #10325
@pirocks You can do something like this

[code]

[2015-12-27 23:53] pirocks commented on #10325
Thanks.

[2015-12-27 23:53] #10325 closed

[2015-12-28 02:47] smichr commented on #10323
I get

[code]

with the following change (correcting what I believe to be a misuse of `and` with negated args):

[code]

Would you like to make the change and add a test?

[2015-12-28 04:38] swn1 commented on #10323
Captain DeMorgan strikes again!  I don't know the logic flow intimately but I think your sense of the coding error is likely correct.  If so, it would seem more unit tests are needed closer to this level.

Adding the test case seems like good practice whether or not the fix is the right one.

But I'm a newbie here.

[2015-12-28 05:08] smichr commented on #10317
No, the CrypTool link [cited](http://www.cryptool-online.org/index.php?option=com_content&view=article&id=51&Itemid=98&lang=en). It says that the key can be arbitrary length (hence must allow for repeats). When the key is the same length as the text, it is a Vernam cipher; when a key (as long as the text) is randomly generated, it is a One Time Pad cipher.

There is no need for separate functions,

[2015-12-28 07:13] asmeurer commented on #9706
That definitely looks a bug. `foo` prints as `(-oo, oo)` and foo.args` is `(-oo, oo, True, True)` (True means open). Can you open a new issue (or pull request) for it?

[2015-12-28 07:15] asmeurer commented on #9706
I guess the issue is

[code]

in `Interval._contains`. But the problem is that oo.is_real is True, which is a known issue with the old assumptions (I guess https://github.com/sympy/sympy/issues/8203 is the issue for it).

[2015-12-28 09:50] Shekharrajak commented on #9871
It seems numpy and numexpr handling error part .Am I right ?

[2015-12-28 11:40] wdjoyner commented on #10317
On Mon, Dec 28, 2015 at 12:08 AM, Christopher Smith <
notifications@github.com> wrote:

The link cited where? I searched the entire cypto.py module and didn't find
it there.
The only link cited in that module's Vigenere cipher functions is the
wikipedia reference to the Vigenere cipher. Please reread the quote I gave
from that reference in a previous post in this thread. I can give other
reference

[2015-12-28 12:20] ec-m commented on #10317
Alright, I'll add an option for keys with repetitions then but don't make it default.

[2015-12-28 13:05] kshitij10496 opened #10326 "Interval(-oo, oo) contains oo"
Related : #9706

[code]

Ping @asmeurer

[2015-12-28 15:12] smichr commented on #10317
In the discussion [above](https://github.com/sympy/sympy/issues/10317#issuecomment-167266433)

[2015-12-28 15:31] smichr commented on #10317
OK, I read the wiki article carefully. What they mean, however, in the above quote is that you will ignore (of course) any shifted alphabet corresponding to an unused letter. It doesn't imply that there are no repeated letters in the key. If there are repeats you will (of course) reuse the corresponding shifted alphabet. Also, the wiki article cites as examples of keys that were used historically

[2015-12-28 15:35] wdjoyner commented on #10317
On Mon, Dec 28, 2015 at 10:31 AM, Christopher Smith <
notifications@github.com> wrote:

I interpret "The repeated letters of the key are always ignored." to mean,
for example, that the key "AAC" is replaced by "AC".

I think the currently implemented code allows repeats. It just ignores them
in the enciphering process.

[2015-12-28 21:12] asmeurer commented on #2915
@Shekharrajak it looks like @moorepants included the full terminal output including tab completion. The actual line that he ran was `from sympy.interactive.tests import test_ipythonprinting`.

[2015-12-28 21:16] asmeurer commented on #6729
I guess we got rid of that stupid makefile.

[2015-12-28 21:16] #6729 closed

[2015-12-28 21:28] asmeurer commented on #10326
To quote my comment from the other issue, I guess the issue is

        if self.start is S.NegativeInfinity and self.end is S.Infinity:
            if not other.is_real is None:
                return other.is_real

in `Interval._contains`. But the problem is that oo.is_real is True, which is a known issue with the old assumptions (I guess #8203 is the issue for it).

[2015-12-28 22:21] moorepants commented on #2915
I fixed the original comment.

[2015-12-29 01:56] smichr commented on #10317
<smile> That is self evident since these are your own words, not those of the wikipedia article.

What the article is saying is that each letter of the `key string` corresponds to one of 26 `keys`; repeated letters in the `key string` each use the same `key`. In fact, in the Kasiski analysis section it says "This means that the key length could be 30 ... characters long."  This would be impossible

[2015-12-29 03:01] wdjoyner commented on #10317
On Mon, Dec 28, 2015 at 8:56 PM, Christopher Smith <notifications@github.com

Sorry, I copied the wrong phrase. I meant to copy "Although there are 26
key rows shown, you will only use as many keys (different alphabets) as
there are unique letters in the key string"

You could be right that my interpretation of the wikipedia article
description is wrong. I actually got my description from Alasdair

[2015-12-29 03:18] asmeurer commented on #10317
@wdjoyner I looked up Vigenère in that Google books link (page 61) and I see no reference to repeated letters. Their only example key is "CODE", which has no repeated letters. The Python code for `vige(s,key)` appears to not remove repeats (I don't know what `str21st(key)` does, but if it removes duplicates there is a bug because `kn = len(key)` before `str21st` is called).  It does mention that r

[2015-12-29 14:47] ec-m commented on #10317
@smichr

...   rv = ''.join(''.join(phrase.split()).upper())
...   if repeats:
...     return rv
...   return ''.join(uniq(rv))

Should we check if the input has only alphanumeric value? This is what is done in `encipher_vigenere` right now, which is why I am asking. We could simply add:

`rv = ''.join(''.join([x for x in phrase.split() if x.isalnum()]).upper())`

[2015-12-29 16:24] smichr commented on #10317
BTW, I thought I left a smile in my comment; I didn't intend what I said to sound snarky. Regarding the newly quoted phrase -- I can totally see why there would be confusion. I only interpret it differently since I have the filter of this issue coloring my view. Perhaps I'll edit the wiki page to make this clearer.

[2015-12-29 16:25] smichr commented on #10317
That seems like a good idea to prevent garbage in the key.

[2015-12-29 16:28] kshitij10496 commented on #10326
@asmeurer I think fixing this issue in `_contains` would overlook the actual bug (`oo.is_real` returns `True`).
If the new Assumptions fixes this (as it should), wouldn't it be better if we wait until then ?

[2015-12-29 19:19] asmeurer commented on #10082
The PR in question is https://github.com/sympy/sympy/pull/10149

[2015-12-29 19:33] kshitij10496 commented on #10082
Thanks @asmeurer
I will try to work on this.

[2015-12-29 20:23] Shekharrajak commented on #2915
It seems someone already [fixed](https://github.com/sympy/sympy/blob/master/sympy/interactive/tests/test_ipythonprinting.py#L70) it.We need a better comment [here](https://github.com/sympy/sympy/blob/master/sympy/interactive/tests/test_ipythonprinting.py#L67). Can I send a PR with better comment?

[2015-12-29 21:29] asmeurer commented on #2915
Yes

[2015-12-30 00:05] jailuthra commented on #10157
I'd like to work on this. I'm a newbie so I might ping for help, though I've started to prepare a patch.

@sampadsaha5 See [printing/precedence.py](https://github.com/asmeurer/sympy/blob/master/sympy/printing/precedence.py) for understanding the order. Also check how the [parenthesize method](https://github.com/asmeurer/sympy/blob/master/sympy/printing/latex.py#L148) is flexible because it takes t

[2015-12-30 03:49] tokencolour commented on #10190
Sorry for the delay, had been travelling for a while.

I tried to write tests for atan in line with other tests in `test_rs_series` .
I added assert statements like:
`assert rs_series(atan(a), a, 5).as_expr() == (atan(a).series(a, 0, 5)).removeO()`
But it seems there's a problem in first part of the equality test here.
whenever I try to print `rs_series(atan(a), a, 5).as_expr()`  it runs into an A

[2015-12-30 08:00] smichr commented on #7773
Eq(1, S.NaN) is tested as giving False in `test_nan_equality_exceptions`.

[2015-12-30 08:00] #7773 closed

[2015-12-30 08:29] smichr opened #10336 "nsimplify problems with `oo` and `inf`"
[code]

We should handle oo and inf consistently whether they appear in an expression or not and watch for `inf` in expressions.

[2015-12-30 09:20] Sumith1896 commented on #10273
Oh I have actually met couple of interesting people who use SymPy in some conferences. I'll try to get in touch with them and update the list.

[2015-12-30 09:28] smichr opened #10337 "bad Boolean args not rejected"
Booleans aren't detecting bad args well enough:

This is ok:

[code]

This isn't:

[code]

[2015-12-30 09:34] kshitij10496 commented on #10305
I think this issue has already been addressed #9447

[2015-12-30 11:54] #10237 closed

[2015-12-31 04:33] kennyjoseph opened #10339 "bug in __add__ in rings.py"
Apologies for the convoluted example, still haven't been able to find a minimal one yet.

The following code:

[code]

Results in the following error:

[code]

Eyeballing the code, it looks like the culprit is the fact that the ```get``` method is called on ```p``` with a default value and then ```del``` is called without dealing with the possibility the the default value was used.

I will update

[2015-12-31 06:32] kshitij10496 commented on #10177
I agree.
Aren't all SymPy objects supposed to have the `Basic` class as their base class ?
[1] : http://docs.sympy.org/latest/modules/core.html#sympy.core.basic.Basic

[2015-12-31 10:28] meghana1995 commented on #10337
I have added checks in the _lt and _gt functions in the sets module for bad args.

[2015-12-31 13:12] bjodah commented on #10323
@swn1 yes, we should definitely add a unit test for this fix to avoid regressions. You may add these changes yourself and open a PR (you can find instructions [here](https://help.github.com/articles/using-pull-requests/) and you can always ask us for help), or let us know if you want someone else to add @smichr's fix.

[2015-12-31 15:40] swn1 commented on #10323
I have some doubts about the suggested fix.
is_one = c == 1 and p == 0
is equivalent to not(c != 1 or p != 0) by De Morgan's law.
then not is_zero or p < 0 is just not is_zero by associativity and p<0 ==> p!=0.
So the p<0 clause is no longer doing anything.

Unless I'm smoking crack, of course.

[2015-12-31 16:45] swn1 commented on #10323
adding a print statement to the calc_part function we see a discontinuity in the structure of the call at the point where the incorrect results kick in.  The problem is not (just) in calc_part.

In [1]: for o in range(10,0,-1):
   ...:     print(ceiling(sqrt(2**30+o))**2)
   ...:
re(sqrt(1073741834)) (0, 268435457, -13, 29)
1073807361
re(sqrt(1073741833)) (0, 268435457, -13, 29)
1073807361
re(18*s

[2016-01-01 08:25] harshsavasil commented on #9871
@moorepants did u check it with other versions of python ?

[2016-01-01 19:16] moorepants commented on #9871
Nope.

[2016-01-01 20:00] harshsavasil commented on #9871
@moorepants I think a issue must be raised in numexpr to fix this ?and this should be closed !! because ultimately the bug is numexpr repo.

[2016-01-01 21:14] #8710 closed

[2016-01-01 21:16] moorepants commented on #9871
If you think that is the case, then open an issue there.

[2016-01-01 23:50] moorepants commented on #9955
A conda metapackage that has all these deps would be useful too.

[2016-01-02 03:53] erwanp opened #10347 "simplify doesn't do the last simplification step"
Note: I'm using Python 3.5.1 and sympy 0.7.6.1. Full script is attached in the .zip file:
[simplify_last_step.zip](https://github.com/sympy/sympy/files/76131/simplify_last_step.zip)

---

I've been using Sympy to compute Laplacian in different geometrical coordinates system. This usually creates extremelly long expressions and simplify usually does a great job. However, I've come against one parti

[2016-01-02 09:35] akritas commented on #9915
We have created the module subresultants_pg_amv, which contains a total of 22 functions in the module. None of the methods uses prem(). Only one method uses remZ() to make it as FAST as subresultants in sympy which uses prem().

Function endings in _PG indicate that the function uses the Pell-Gordon theorem of 1917.
Function endings in _AMV indicate that the function uses the Akritas-Malaschonok-V

[2016-01-02 11:17] moorepants opened #10348 "Can't use some characters in ReferenceFrame.orient()"
This works fine:

[code]

But this fails:

[code]

Seems like you can't use the symbol character 'u'.

[2016-01-02 11:22] moorepants commented on #10348
This is the offending line:

https://github.com/sympy/sympy/blob/master/sympy/physics/vector/frame.py#L589

It needs to somehow be a dummy function.

[2016-01-02 11:24] moorepants commented on #10348
This seems to work:

[code]

[2016-01-02 12:26] akritas commented on #9915
In the previous file 2 functions (sturm_PG and euclid_PG) did not work according to the doc strings.
Corrected in the attached file:
[all_functions_2_functions_corrected.txt](https://github.com/sympy/sympy/files/76221/all_functions_2_functions_corrected.txt)

[2016-01-02 16:36] smichr commented on #10323
There is an alternative [approach](https://github.com/skirpichev/omg/pull/179) but I am not sure of the relative merits. The author of mpmath is the one that added the `get_integer_parts` in the first place, so I assume there is some efficiency in this function.

[2016-01-03 04:58] akritas commented on #9915
Changed the sturm_PG function and made it with 4 arguments. That way the user can have the remainder coefficients either as modified subresultants or as subresultants.  Attached is the 3rd version of all_functions.py.

I also included a picture that tells the whole story of the subresultants.  Hope it helps.

Waiting for your comments and suggestions for improvements,

![subresultants_overall_pic]

[2016-01-03 07:00] shivin9 opened #10352 "Van Wijngaarden transformation"
Hi,
I'm Shivin, a 3rd year Computer Science undergraduate at BITS Pilani, India. I am new to sympy and while going through the series tutorial, I found that a famous transformation namely the Van Wijngaarden transformation is missing. So would it be a good idea to add this functionality to the series acceleration module of sympy?
Thanks!

[2016-01-03 10:01] shaoron commented on #10318
Jacobian function exists. You can type
u = Matrix([x,y,z]).jacobian([a,b])
simplify(sqrt(det(u.T*u)))

Output is the same.

I can write something like "jacobian_det", if it is needed.

[2016-01-03 11:13] tokencolour commented on #10190
This is still work in progress.

[2016-01-03 16:13] tokencolour commented on #10190
The tests have failed. What I tried to do was to change  the type of coefficients decided by `rs_diff` and `rs_integrate`. @shivamvats, Am I going in the direction? Is there a better way to change the type of the coefficients?

[2016-01-03 17:49] gxyd commented on #10095
@asmeurer was the automatic simplification of `1/(2*E)**oo`  is not done. Is that so because that makes the `core` slow? Or is that a bug?

[2016-01-03 19:37] latot commented on #10318
Hi, willl be greate, but i have a little question, what shoud be used?
[code]
or
[code]
this depends how works sympy, if the las sqrt don't is removed and is used as always positive solution we can skip absolute value.
Note this should works with more than 3 dimentions.

[2016-01-04 02:42] moorepants commented on #10352
I don't know anything about what you are proposing, but if you know of a new feature that you need you should submit it as a pull request. if other's find it useful and relevant to SymPy they will accept the PR. You can also post a proposal with some example code before the PR to help people understand what you intend to do.

[2016-01-04 09:46] asmeurer opened #10354 "Laplace transform of Piecewise doesn't work even though SymPy can compute the integral"
Reported on Gitter:

[code]

[2016-01-04 11:22] tokencolour commented on #10339
Hello @kennyjoseph , I can't reproduce this error. Which version of Sympy are you using?

[2016-01-04 13:08] kshitij10496 commented on #10339
@tokencolour I can second this.
@kennyjoseph You can try the latest development version [here](http://docs.sympy.org/dev/install.html#git)

[2016-01-04 14:55] kshitij10496 commented on #10326
@asmeurer What are your inputs on this ?

[2016-01-04 14:56] tokencolour commented on #10295
Shouldn't an array containing `int 1` be the output?

[2016-01-04 15:09] bjodah commented on #10295
Yes, I suppose, but the major problem here is the implicit conversion to finite precision floating point values: we need numpy integer types to be converted to `sympy.Integer` instances.

I discovered this when I was trying to do `rref` on a NumPy array of integers and got lot's of matrix elements of size ~1e-16 (close to epsilon of float64).

[2016-01-04 15:12] tokencolour commented on #10295
I got the same when I tried
[code]
So there are two problems here.

[2016-01-04 15:12] kshitij10496 commented on #10310
Seems like a nice idea

[2016-01-04 16:35] kshitij10496 commented on #10232
I think this can be closed now

[2016-01-04 16:53] kshitij10496 commented on #10250
`nsolve` calls `mpmath.findroot` which, in turn, cannot handle `Derivative` objects.
@satels
I think, you can try `solveset(f.diff(), x)`.

Ping @aktech.
What are your inputs on this ?

[2016-01-04 16:54] woodscn opened #10355 "Condition_number method fails for Matrix with dimension 3"
Sympy version 0.7.6.1, from Anaconda on OS X 10.11.2, running Python 3.5.1.
[code]
yields RecursionError

[2016-01-04 19:35] matiasdahl commented on #10232
Yes, agree. Thank you.

[2016-01-05 01:39] ronanpaixao commented on #10354
Got a different, still unevaluated result:

    In[34]: u2=Piecewise((1.,t<1),(0.5,t>=1))

    In[35]: print(laplace_transform(u2, t, s))
    LaplaceTransform(Piecewise((1.00000000000000, t < 1), (0.500000000000000, t >= 1)), t, s)

    In[36]: laplace_transform(u2, t, s).rewrite(Integral).doit()
    Out[36]: Integral(Piecewise((1.0*exp(-s*t), t < 1), (0.5*exp(-s*t), t >= 1)), (t, 0, oo))

    In[

[2016-01-05 01:45] asmeurer commented on #10354
I ran mine on master so that's probably why.

[2016-01-05 03:14] #9447 closed

[2016-01-05 03:14] #10305 closed

[2016-01-05 03:36] rresol commented on #10152
I want to fix this if no one is working on it.

[2016-01-05 09:11] Shaswat27 commented on #10310
@asmeurer

[2016-01-05 09:11] kshitij10496 commented on #10355
@woodscn I think this issue has already been fixed on the latest development version.
[This](http://www.sympy.org/en/download.html) might help !

[2016-01-05 11:31] Shekharrajak commented on #9474
What is the difference between k and [k] ?

[2016-01-05 13:25] shaoron commented on #10318
Should it work as
Matrix(list of vectors).jacobian_det(list of dimentions)
OR
jacobian_det(Matrix)?

First one is clearer, I guess.

[2016-01-05 16:04] kshitij10496 commented on #10177
On the other hand, even the new assumptions return a `None` object
[code]

[2016-01-05 16:45] aktech commented on #10250
I think you are right.

[2016-01-05 17:16] moorepants commented on #9474
`[k]` is a list of one element, `k`.

[2016-01-05 17:22] moorepants commented on #10273
Depsy lists 50+ citations to SymPy in academic journals:

http://depsy.org/package/python/sympy

We should link to Depsy and also go through these papers and list the ones that use SymPy on our website/wiki.

[2016-01-05 18:39] asmeurer commented on #10310
Thus should already work if you pass diff an unevaluated Integral object. Otherwise, it can't be made to work, because Python is an eagerly evaluated language.

[2016-01-05 19:49] kennyjoseph commented on #10339
Yep, can't replicate in dev - I was using the latest version via ```pip install```ing.  Will close, sorry/thanks!

[2016-01-05 19:49] #10339 closed

[2016-01-05 21:53] asmeurer opened #10360 "Can't expand matrix expression"
MatMul doesn't have the expand method.

See https://stackoverflow.com/questions/34616170/how-to-expand-matrix-expression-in-sympy.

It also doesn't seem to be easy to replace matrix symbols with noncommutative Symbols (subs gives "TypeError: Mix of Matrix and Scalar symbols" because the class is still MatMul and it doesn't work with non-matrix expressions).

[2016-01-05 21:54] latot commented on #10318
Hi, seems fine to me use the first, some little things, should be:
[code]

and only to be sure about sqrt, it never sould be simplified even if we have cuadratic or somethings else.

Thx.

[2016-01-05 22:00] #10326 closed

[2016-01-06 01:11] cbm755 opened #10361 "Is nextprime supposed to return <int> instead of <Integer>?"
The output of nextprime/prevprime is not sympified.  Is that intentional or should I patch?

[code]
One might expect it to return an proper sympy `Integer`

[2016-01-06 07:12] akritas commented on #9915
So far, the algorithms included in the subresultants_pg_amv module were not concerned with speed. Since a friend asked for speed, I have included in the new version (v5) the algorithms euclid_AMV() and sturm_AMV().  So, the fastest methods in the pack are: subresultants_AMV(), modified_subresultants_AMV(), euclid_AMV(), and sturm_AMV().

[all_functions_v5.txt](https://github.com/sympy/sympy/files/

[2016-01-06 08:07] Thomas-van-Dijk commented on #10360
Hi,
Thanks for opening, I have edited the question on stack for clarification of what I'm trying to achieve.
https://stackoverflow.com/questions/34616170/how-to-expand-matrix-expression-in-sympy

[2016-01-06 11:52] achaitanyasai commented on #10285
@smichr  I have worked on this issue and I have tested and added these tests :
<pre>
<code>
assert FiniteSet(2*x + 1).intersect(Interval(3, 5)) == FiniteSet(x).intersect(Interval(1, 2))
assert FiniteSet(x*y + 1).intersect(Interval(3, 5)) == FiniteSet(x*y).intersect(Interval(2, 4))
assert FiniteSet(2*x + 2*y).intersect(Interval(2, 4)) == FiniteSet(x + y).intersect(Interval(1, 2))
assert FiniteSet(2

[2016-01-06 13:19] achaitanyasai opened #10365 "Problem with expression args"
<pre><code>

()

(-1, x)

(x, y)

(-x, -y)

(x, -y)
</code></pre>

Isn't expr1.args = (x) and expr2.args = (-x) ?

[2016-01-06 13:43] gxyd commented on #10365
`.args` goes through the expression-tree of the corresponding expression.(that stop's at the `Symbol` object)
For
[code]
Hence here for `expr2` the `.args` returns the it's expression tree which is an instance of `Mul`, hence returning the corresponding objects multiplied i.e `(-1, x)`.

So no.

[2016-01-06 13:53] achaitanyasai commented on #10365
Thanks!

[2016-01-06 13:53] #10365 closed

[2016-01-06 14:08] shaoron commented on #10318
Ok, thanks for good explanation.

sqrt works as you wish, I guess

[2016-01-06 18:20] achaitanyasai commented on #10285
@smichr  It seems like we should not simplify always, for example in this case :
<pre><code>>>> absxm3 = Piecewise(
...         (x - 3, S(0) <= x - 3),
...         (3 - x, S(0) > x - 3)
...     )

Intersection((-oo, 3), {y}) U Intersection([3, oo), {y})
</code></pre>
Where as the actual result is :
<pre><code>Intersection([3, oo), {y + 3}) U Intersection((-oo, 3), {-y + 3})</code></pre>

So can yo

[2016-01-06 18:54] latot commented on #10318
be careful:
[code]

last line should be:
[code]

[2016-01-06 19:36] tokencolour commented on #10295
It's getting type coerced [here](https://github.com/sympy/sympy/blob/master/sympy/core/sympify.py#L270).

[2016-01-07 01:12] asmeurer commented on #9915
CC @mattpap

[2016-01-07 01:15] asmeurer commented on #9915
@akritas are you able to submit a pull request? That would make it easier to include this file in SymPy.

[2016-01-07 01:18] asmeurer commented on #10360
It would work if you used noncommutative symbols instead of matrix symbols. Unfortunately, MatMul doesn't support a lot of the stuff that Mul does.

[2016-01-07 03:54] rresol commented on #10152
I am unable to figure out why 'Atom' has been assigned to 'types' . We can add the result while checking for the types and if there are no types then we can simply add x.args to the result. That way it will return null and we will not be having subclasses of Atom.

[2016-01-07 03:55] rresol commented on #10152
ping @asmeurer

[2016-01-07 07:18] smichr commented on #10361
For speed purposes, I believe this is intentional. `prime(n)` also returns an `int`.

[2016-01-07 07:20] smichr opened #10368 "int or Rational gives a long when it could give an int"
[code]

Just `0` would be preferred, I think.

[2016-01-07 08:55] cbm755 commented on #10361
I can see why the algorithm itself might be faster by using `int` internally.  But after it finishes?  I suppose so, if its used in a tight loop elsewhere in sympy...

Thanks!

[2016-01-07 08:55] #10361 closed

[2016-01-07 09:08] jksuom commented on #10368
I seem to get a different result.
[code]
Maybe different Python version? Mine is 2.7.3.

[2016-01-07 10:19] smichr commented on #10368
2.6.6 here. Hmm.

[2016-01-07 10:23] smichr commented on #10317
I've been working over the routines in crypto, especially vigenere and bifid. If you would like to take a look, they are in my crypto branch. My main concern is that the routines are too specific to allow experimentation, especially in an educational setting. Also, the bifid7 routine seems to be an albatross since once can't unambiguosly decode what it encodes. Likewise, the morse routine returns

[2016-01-07 10:25] jksuom commented on #10368
I just came to another possible explanation. Mine is a 64-bit machine.

[2016-01-07 10:27] jksuom commented on #10368
So
[code]

[2016-01-07 11:07] wdjoyner commented on #10317
On Thu, Jan 7, 2016 at 5:23 AM, Christopher Smith <notifications@github.com>
wrote:

Many thanks for improving these. I don't see it in
https://github.com/smichr/sympy/tree/master/sympy

[2016-01-07 11:48] ec-m commented on #10317
@smichr I like your changes. Especially the additional `AZ`, `paddedkey` and `check_and_join functions` are very helpful.

@wdjoyner

https://github.com/smichr/sympy/tree/master/sympy

You can find the changes in the crypto branch:
https://github.com/smichr/sympy/tree/crypto/sympy

[2016-01-07 12:22] tokencolour commented on #10295
The problem probably, is:
[code]
(This is part of sympify.py, see [this](https://github.com/sympy/sympy/blob/master/sympy/core/sympify.py#L279).)

This made a call to numpy.ndarray(...) which by the virtue of its construction took the list of numbers as its shape and created a random numpy array as a result.

My try:
This patch does make sure that the inputs are not converted to finite precision f

[2016-01-07 16:00] Shekharrajak commented on #9474
It returns correct answer if we use numpy module :
[code]

[2016-01-07 20:02] #10323 closed

[2016-01-07 20:06] #10304 closed

[2016-01-07 20:18] smichr commented on #10317
More changes but have to quit for now. I still think more consistent handling of initial args should be done. My inclination is to have an init function which, if symbols are not provided, does the uppercase default otherwise allow one to "shoot themselves in the foot." Something like this:

[code]

[2016-01-08 01:29] smichr commented on #10368
Thanks - PR is forthcoming.

[2016-01-08 08:04] akritas commented on #9915
I think I just submitted a pull request. Let me know if it worked.

Quoting Aaron Meurer <notifications@github.com>:

[2016-01-08 10:33] #10368 closed

[2016-01-08 10:42] bjodah opened #10375 "lambdify on sympy.Min does not work with NumPy"
[code]

whereas using SymPy module for lambdify does work:
[code]

[2016-01-08 10:47] bjodah commented on #10295
@tokencolour: Thanks for working on this! I will find some time later this weekend and get back to you.

[2016-01-08 13:11] akritas commented on #9915
Do not understand what is wrong with the Travis test.

Quoting Aaron Meurer <notifications@github.com>:

[2016-01-08 16:50] shaoron commented on #10360
I want to work on it

[2016-01-08 17:35] tokencolour commented on #10375
I will like to try to fix it.

[2016-01-08 19:39] Shekharrajak commented on #10375
It seems problem is in `Numpy` method.py  at line 29
`def _amin(a, axis=None, out=None, keepdims=False)`

[2016-01-09 17:06] ronanpaixao commented on #8960
Just a note: this is specially annoying if using:

    from __future__ import unicode_literals

which is common enough to be included in my default headers.

[2016-01-09 18:56] Shekharrajak commented on #2537
@asmeurer ,Do you have any suggestions/ideas to solve this ?

[2016-01-09 19:14] Shekharrajak commented on #2866
* Math module should be at first , because when we install `Sympy` we install math module also , so all the functions works without any other dependencies.
* If `NumPy` would be at first ,then if user haven't installed the `NumPy` module it will throw `can't import numpy` error.If it is installed then it works fine.May be that's why [this line
](https://github.com/sympy/sympy/blob/master/sympy/uti

[2016-01-09 19:17] jksuom commented on #2537
The indefinite integral given by the development version is ``1/(a*sqrt(a**2/x**2 + 1))``, which is formally correct. To compute definite integrals, one has to take the negative branch of the square root for negative arguments and the positive branch for positive arguments ``x``.

[2016-01-09 20:58] asmeurer commented on #2866
If numpy is not installed I believe it is skipped entirely (correct me if I am wrong).

[2016-01-09 21:12] smichr commented on #10317
OK, I think that's about it. Substitution can now handle multi-character replacements via the `replace` function that was added to `misc`. The trouble with `translate` between Py2 and Py3 was handled with a `translate` function also added to `misc'.  I'll put this up as a PR where comments can be added.

[2016-01-09 21:59] moorepants commented on #2866
I may agree that NumPy should be first. Here are some thoughts:

- User has Python, mpmath, and SymPy installed, so order of preference should be: math, mpmath, sympy.
- Python, mpmath, SymPy, and NumPy: numpy, math, mpmath, sympy.
- Python, mpmath, SymPy, NumPy, SciPy: scipy, numpy, math, mpmath, sympy (SciPy imports the top level of NumPy namespace).
- If numexpr is installed, I think we should

[2016-01-10 05:07] Shekharrajak commented on #2866
@asmeurer
If `NumPy` isn't installed then it [pass](https://github.com/sympy/sympy/blob/master/sympy/utilities/lambdify.py#L314) and continue executing from [this line](https://github.com/sympy/sympy/blob/master/sympy/utilities/lambdify.py#L319) without adding `numpy` is modules list.
* Similarly for `Scipy` also it [should be added](https://github.com/sympy/sympy/pull/10319/files#diff-16366e978f6

[2016-01-10 05:14] Shekharrajak commented on #2537
Thanks @jksuom

[2016-01-10 08:01] asmeurer commented on #2866
IMHO lambdify's mixing and matching of different libraries is confusing. NumPy/SciPy, mpmath, math, and SymPy all provide four different kinds of functions that each work on different data types (numpy.array, mpf, float, and symbolic expressions, resp.). In particular, if the input is a numpy array, then only numpy/scipy functions make sense. Additionally (this is unrelated to this issue but relat

[2016-01-10 08:51] jksuom commented on #2537
Perhaps I should add that this is a manifestation of a general problem in the computation of definite integrals. In many cases, an indefinite integral is multivalued. To compute definite integrals one has to be able to choose suitable branches of such functions. There does not seem to be an easy way to do this in general.There is currently no algorithm for this in SymPy.

In some cases it may be p

[2016-01-10 09:37] akritas commented on #9915
As you can see from

https://github.com/sympy/sympy/compare/master...akritas:subresultants#diff-ec150aa474016e69e812b17c283f0c9b

after 3 commits the Travis ci test continues to fail.  Can not do
anything more.

With my tests I have no problem whatsoever. Will wait to hear from you
what additional changes to make.

I do not know
Quoting Aaron Meurer <notifications@github.com>:

[2016-01-10 12:32] ronanpaixao opened #10379 "dsolve() converts floats to integers/rationals"
Unlike `solve()`, `dsolve()` doesn't allow a `rational=False` flag and **by default converts floats to rationals**. This causes bugs when solving ODEs with floats. This works:

    dsolve(x1(t).diff(t)-(1-41.05*y*x1(t)))

```x1(t) == (0.0243605359317905*exp(y*(C1 - 41.05*t)) + 0.0243605359317905)/y```

but this doesn't (just 41.05 changed to 51.05):

    dsolve(x1(t).diff(t)-(1-51.05*y*x1(t)))

[c

[2016-01-10 13:14] ronanpaixao opened #10380 "`evalf()`/`n()` doesn't propagate correctly into functions"
`evalf()` (also known as `n()`) does not propagate correctly into some functions when the argument contais a symbol and we try to evaluate to float.

See this example using `exp()` and `sqrt()`:

    exp(sqrt(4486721667889771416584794241657)*t/35184372088832)

Expected result would be like:

    exp(60.2025323387646*t)

Test without the symbol:

    1.39838768714266e+26

I don't understand the int

[2016-01-10 13:15] ronanpaixao commented on #10380
Maybe the fix is related to evaluation order. Note that in the first example, the `t` is between the two floats.

[code]

[2016-01-10 14:33] moorepants commented on #2866
I agree Aaron. "explicit is better than implicit" would make lambdify less confusing and I don't really see any need to have the mpmath or sympy backends.

[2016-01-10 19:54] ranlu opened #10381 "Problem with tensor contraction"
Hi Guys,

I found a strange problem with the tensor module, I am trying to test some simple contraction with a lorentz metric, you can see the sample code below:
[code]
Basically I am trying to calculating $g^{ab} g^{cd} n_a n_b p_c p_d$, where g is the usual diagonalized Lorentz metric, p is an arbitrary vector and n is a explicitly light-like ($g^{ab} n_a n_b = 0$). However as you can see from t

[2016-01-10 20:13] thisch commented on #10082
@kshitij10496 any updates on your work on this issue?

[2016-01-11 00:08] latot commented on #10318
Hi, sadly we need do other change, i test in sympy this:
[code]
and finally the sqrt is removed D:

this:
[code]
now should be:
[code]

[2016-01-11 01:00] asmeurer commented on #2537
There is work in the literature on avoiding branch cuts in the integral that didn't exist in the integrand, at least for the Risch algorithm.

[2016-01-11 08:45] #10195 closed

[2016-01-11 08:46] kshitij10496 commented on #10082
@thisch I am a bit stuck on @asmeurer 's suggestions [here](https://github.com/sympy/sympy/pull/10149).
Meanwhile feel free to share your ideas on this.

[2016-01-11 19:29] asmeurer opened #10382 "limit(fibonacci(n + 1)/fibonacci(n), n, oo) does not give GoldenRatio"
[code]

The answer should be `GoldenRatio`.

[2016-01-11 20:08] asmeurer commented on #10382
Calling rewrite(sqrt) on the expression first to get the closed-form expression for fibonacci that uses GoldenRatio results in `NotImplementedError: Result depends on the sign of sign(log(-1 + sqrt(5)) + I*pi)`.

At any rate, assumedly to make this work, one just needs to define the series expansion for fibonacci.

[2016-01-11 20:19] Shekharrajak commented on #2537
[code]
 Ans should be :  (2*a)/(sqrt(a**2+1))
[code]
 Ans should be : (a*x)/(sqrt(a**2+x**2))

[code]
 Ans should be : a*(a*x)/(sqrt(a**2+x**2))

It seems it is executing for :
[code]
It seems little difficult.I didn't understand how it is executing and why it becomes `a**3/(a**2 + x**2)**(3/2)` in between.

[2016-01-12 05:08] akritas opened #10383 "det of empty matrix is 1"
If M = Matrix(0, 0, []), then M.det() returns 1. Is this on purpose?

In other CAS's it returns an error message that the matrix is not square or something to that effect.

[2016-01-12 07:37] Shekharrajak commented on #8167
`Sympy ` treat zero assumption means   ` nonnegative & nonpositive & real`.But  `Sympy` doesn't  know  that is `0`.It is not defined anywhere in `Sympy`.
In this line ` x = Symbol('x' ,zero=True)`  , x is treated as symbol only during execution and didn't take its value.

[2016-01-12 07:44] latot opened #10384 "MatPow expresions problem (simplify, expand)"
Hi all, well here a little problem with this expressions basically if have a matrix A
A*A!=MatPow(A, 2)

this is because the right side MatPow only use the expresion but it can't be expanded or simplified (don't exist this in MatPow).

Code ex:

[code]

Thx

[2016-01-12 16:04] asmeurer commented on #10384
MatPow is designed to be unevaluated by default. If you want to evaluate it, call doit on it, or just use `A**2`.

[2016-01-12 16:28] latot commented on #10384
a little question, its normal can exp with matrix in matpow?
MatPow(A, A)

[2016-01-12 17:03] asmeurer commented on #10384
It looks like it doesn't do any type checking on the exponent, so garbage in, garbage out.

[2016-01-12 18:36] meghana1995 commented on #10382
I would like to work on this. I have a few questions though.
The closed form of Binet's formula can be written as Fn = (a**n - b**n) / (a-b) where a = (sqrt(5) + 1)/2 , b = (1 - sqrt(5))/2.
So Limit(n->oo) Fn+1 / Fn = Limit(n->oo) (a**(n+1) - b**(n+1)) /  (a**(n) - b**(n))
Would rewriting (factoring) a**n - b**n as  (a-b)*(a**(n-1) + a**(n-2)*b + a**(b-3)*(b**2) .. ) aid in computing the limit ? I

[2016-01-12 19:03] asmeurer commented on #10382
@meghana1995 wrap your expressions with backticks (like \`code\`) so that GitHub doesn't try to render them as Markdown. See https://guides.github.com/features/mastering-markdown/

[2016-01-12 19:14] asmeurer commented on #10382
Anyway, the rewrite(sqrt) comment above refers to doing this:

[code]

I called this on the input expression and limit gave the NotImplementedError. I guess it doesn't like the exponent with the negative base.

Apparently the series expansion has complex coefficients. I don't know if the gruntz algorithm can handle this.

Side note: `fibonacci(n).rewrite(GoldenRatio)` ought to work. That is easy t

[2016-01-12 20:12] latot commented on #10318
https://github.com/shaoron/sympy/pull/1

[2016-01-13 06:28] tokencolour commented on #10375
This is probably not an error in Numpy. We need to send the args correctly to Numpy.

[2016-01-13 06:49] shaoron commented on #10318
Sorry, exams.

Docs:
Sqrt always return positive solution, for example simplify(sqrt(x**2)) == sqrt(x**2)
But simplify(sqrt(x)**2) ==  x

We do not need abs

[2016-01-13 07:26] tokencolour commented on #5831
I can't reproduce this error. Also, I don't understand why `circuit_plot` is imported from `sympy.physics.quantum.circuitplot` in examples/advanced/dense_coding_example.py . Is this bug still valid or is it solved?

[2016-01-13 11:01] jksuom commented on #10383
I believe it is set on purpose. It simplifies coding as it is not necessary make preparations for exceptions.

The value 1 is analogous to the value of an empty product. In fact, the determinant of a diagonal matrix is the product of its diagonal entries. For a 0x0 matrix this product takes conventionally the value 1.

[2016-01-13 12:02] oscarbenjamin opened #10387 "(1 / (4 + 3*I)).is_imaginary -> None"
Currently we have:

[code]

I've attached PR #10386  that fixes this using the fact that z is imaginary iff 1/z is imaginary.

[2016-01-13 15:04] thisch commented on #10387
I think you don't need to open a separate issue if you've already submitted a PR.

[2016-01-13 15:47] oscarbenjamin commented on #10387
Oh okay. I'll close this then.

[2016-01-13 15:47] #10387 closed

[2016-01-13 16:20] asmeurer commented on #10383
Or applying the [Leibniz formula](https://en.wikipedia.org/wiki/Leibniz_formula_for_determinants), which (at least according to Wikipedia) is the definition of the determinant, you get Sum(Product(a_i,sigma(i), (i, 1, n), (sigma in S_n)). The Product is the empty product (i.e., 1), and the Sum is over S_0, which contains one element (the identity; S_n is a group so it always has at least one eleme

[2016-01-13 16:20] #10383 closed

[2016-01-13 18:02] asmeurer commented on #5831
I don't see that line in that file anymore, and I believe the examples are doctested in Travis now.

[2016-01-13 18:02] #5831 closed

[2016-01-13 18:17] latot commented on #10318
yes we need it, in your last example should be the positive solution, the jacobian determinant for non-square matrix and for square matrix always use abs, in other words, volume is always positive even if is ^2.

other doc:
http://tutorial.math.lamar.edu/Classes/CalcIII/ChangeOfVariables.aspx

here show how is used abs to calculate jacobian determinant.

[2016-01-14 07:23] gxyd opened #10388 "`factorial2` runs into `RunTimeError` for non-integer"
[code]

[2016-01-14 07:49] jksuom commented on #10388
It looks like ``if arg.is_Number`` should actually be ``if arg.is_Integer``.

[2016-01-14 14:13] gxyd opened #10390 "O(1, (n, oo)) is contained in O(sin(n), (n, oo))"
[code]

[2016-01-14 16:24] wxgeo opened #10391 "solve((2*x + 8)*exp(-6*x), x) can't find any solution"
[]

Obvious answer is -4.

[2016-01-14 16:33] kshitij10496 commented on #10391
Use `solveset` instead of `solve`
[code]

[2016-01-14 16:41] wxgeo commented on #10391
Thanks !
Is solve() deprecated ?

[2016-01-14 16:43] tokencolour commented on #10390
Hello @gxyd,
I read [this](http://docs.sympy.org/dev/modules/series.html#order-terms).  I couldn't quite understand why O(x + x**2) is O(x). Is there a condition imposed on x?
[code]
and what the second arg (the tuple (x, 0) or (x, oo)) means
[code]
Can you please recommend to me some reading material so that I can comprehend this?

[2016-01-14 16:52] gxyd commented on #10390
You can read this  https://en.wikipedia.org/wiki/Big_O_notation . I don't know the fix right now.
In particular in mathematics, `BigO` is "not just" about taking limit behaviour at `oo`(which is often done in computer science) that is done specifying a tuple `(x, oo)`.  We can find the limiting behaviour at any general point as `x tends to a` using tuple `(x, a)`

[2016-01-14 17:22] tokencolour commented on #10390
Thank you!

[2016-01-14 17:46] moorepants opened #10392 "Remove all 1.0 deprecated code"
There are likely a number of deprecations that can be removed with the 1.0 release. Someone needs to scour the source and see what needs removing. Deprecation warnings may need to be updated too.

[2016-01-14 17:49] joseph02 opened #10393 "i get error while sympy installation using conda"
os :: Linux Mint 17
[code]

[2016-01-14 19:52] sagarpatel10 commented on #5982
Hey so I just joined this issue recently, and I am sort of a newbie at open source codes can anyone point me in the right direction??

[2016-01-14 19:54] asmeurer commented on #5982
I don't think this issue is relevant any more.

[2016-01-14 19:54] #5982 closed

[2016-01-14 19:54] sagarpatel10 commented on #5982
Oh ok Thanks for letting me know

[2016-01-15 04:21] kshitij10496 commented on #10391
Its not deprecated formally yet.
You can read about it [here](https://github.com/sympy/sympy/issues/10006).

[2016-01-15 05:14] kshitij10496 commented on #10392
I just did a quick `grep` search of the `@deprecated` decorator and I found the following deprecations:

- sympy/utilities/iterables.py:1756: [Link](https://github.com/sympy/sympy/blob/master/sympy/utilities/iterables.py#L1756)
- sympy/galgebra/printing.py:237: [Link](https://github.com/sympy/sympy/blob/master/sympy/galgebra/printing.py#L237)
- sympy/galgebra/printing.py:242: [Link](https://github

[2016-01-15 05:29] moorepants commented on #10392
We need to make sure we don't remove any that haven't been in deprecated mode for at least one version. So any that have been introduced since 0.7.6 need to stay. But any that have been in deprecated more from 0.7.6 or before, we can remove.

[2016-01-15 05:40] kshitij10496 commented on #10392
Cool.
I will make the necessary fixes

[2016-01-15 12:31] bgatessucks opened #10395 "`nfloat` changes the arguments inside `Max`."
It seems that `nfloat` applied to the product of `Max(symbol, number)` function and another expression changes `number -> 1.0` if `number <= 0`.
Is it me misunderstanding the documentation ?

|expr|result|expected ?|
|:---|:-----|----------|
|`nfloat(Max(y, 0))`|`Max(0, y)`|yes|
|`nfloat(x * Max(y, 0))`|`x*Max(1.0, y)`|no|
|`nfloat(Max(y, -1.1))`|`Max(-1.1, y)`|yes|
|`nfloat(x * Max(y, -1.1))`|`x*

[2016-01-15 14:12] Arafatk commented on #10395
This is clearly a bug
[code]

The max of 0,-1.1 is 1 by this function.
I would like to work on this.

[2016-01-15 15:14] asmeurer commented on #10393
https://groups.google.com/forum/#!topic/sympy/rbrvEZKECAo

[2016-01-15 15:21] asmeurer commented on #10392
Be sure to check the "Deprecation Removal" tag on GitHub. Each issue should correspond to a deprecation.

[2016-01-15 16:28] #9541 closed

[2016-01-15 17:04] kshitij10496 commented on #10392
@asmeurer Sure.
I will check all the deprecations for their corresponding issues.

[2016-01-15 20:18] Shekharrajak commented on #10122
[code]
raises
`NotImplementedError: can't solve inequalities with absolute values of a complex variable`
means `SymPy`  did not find any solutions.
We can't check `solveset` using Sympy live ,right ?

[2016-01-16 05:58] Spaethk commented on #10395
I need a project for a class, so I am going to attempt to come up with a solution. When I am finished I will submit a pull request. Whichever solution is best may be used in the end.

[2016-01-16 06:25] cbm755 commented on #10259
One approach, recursively divide `Add`/`Mult` into chunks with 255 or fewer:
[code]
Is that more or less elegant than hacking `Add`/`Mult` to take a list:
[code]

[2016-01-16 07:04] gxyd commented on #10390
This will probably be solved after the implementation of `#TODO` left for  `AccumBounds.union` method. Since `limit(1/sin(n), (n, oo))` returns `<-oo, oo>` instead of `<-oo, -1> U <1, oo>`.

[2016-01-16 09:04] wxgeo opened #10397 "solveset(sqrt(x), x, S.Complexes) don't return {0}"
In [12]: solveset(sqrt(x), x)
Out[12]: {x | x ∊ ℂ ∧ √x = 0}

Note that if x is real, solveset is able to find the solution.

In [13]: solveset(sqrt(x),x,S.Reals)
Out[13]: {0}

However, sqrt() is defined for non-reals too in sympy.

In [14]: sqrt(-1)
Out[14]: ⅈ

In [16]: sqrt(I)
Out[16]:
4 ____
╲╱ -1

So solveset(sqrt(x), x) should return 0 as solution even without assuming x is real.

[2016-01-16 10:03] Nitin216 commented on #10189
@shivamvats Can i also work on this one too?

[2016-01-16 13:19] sampadsaha5 commented on #10397
If we use `solve()` instead of `solveset()`  we have
[code]

[2016-01-16 17:14] smichr commented on #10391
If you set check=False when calling solve, the solution will be given. The reason it is not otherwise given is because the denominator is close to zero and gives a false positive for the denominator being zero test. `checksol` needs to be improved.

[2016-01-16 17:23] smichr opened #10398 "invalid solution passes warn=True"
This is correct

[code]

because the solution obtained is not a solution:

[code]

But if the opposite sign is used, no warning is issued even though the obtained solution is also not valid (eveywhere):

[code]

So checksol is incorrectly validating the solution in this case.

[2016-01-16 17:42] smichr commented on #10398
Actually, the `force=True` allows it to conclude that the solution is valid for positive x, so this is an invalid issue. The result is as expected given the flags that were used.

[2016-01-16 17:42] #10398 closed

[2016-01-16 17:56] #10393 closed

[2016-01-16 18:19] smichr opened #10399 "zoo returned from solve"
[code]

[2016-01-16 19:46] smichr opened #10401 "Eq(x/(x + 1), 1) should evaluate as false"

[2016-01-16 21:56] smichr opened #10402 "Pow evaluates with precision though its base does not"
An expression, `z`, is zero:

[code]

Without simplification it cannot be evaluated with precision but when it is squared, it appears to have precision. This can't be right:

[code]

[2016-01-17 02:35] smichr opened #10403 "nsimplify could use as_real_imag"
[code]

[2016-01-17 07:34] Nitin216 commented on #10388
Hey guys if this issue is not solved then i would like to work on this problem

[2016-01-17 07:51] tokencolour commented on #10390
I debugged a little to find out that the reason why `limit(1/sin(n), (n, oo))` returns `<-oo, oo>` instead of `<-oo, -1> U <1, oo>` . It seemed to me that the problem is [here](https://github.com/sympy/sympy/blob/master/sympy/calculus/util.py#L561). I couldn't understand how this is related to `AccumBounds.union` being incompletely implemented. Can you please help me, @gxyd?

Also, I am interested

[2016-01-17 08:52] gxyd commented on #10390
The actual answer (if you debugged it right) to the point you are mentioning is because of the same reason as [these piece of code](https://github.com/sympy/sympy/blob/master/sympy/calculus/util.py#L453-L457) (see the comments) on the same file.

`@jksuom` also told me

Of course, that will make the arithmetic more complicated.
But unions would probably also lead to similar complications.

I don't

[2016-01-17 15:52] jksuom commented on #10401
I'm a little unsure about this. It might lead to contradictory results.
[code]
(Though, of course, ``f != g``.)

[2016-01-17 16:12] smichr opened #10406 "pi_hex_digits doesn't print leading 0 and errors"
[code]

In addition the following starting pts lead to errors in the last of the 14 digits (and only the differeing digits are shown). There are more errors, but these are the first instances where a progressively larger trailing error is found:

[code]

[2016-01-17 16:20] Shekharrajak commented on #10375
In `NumPy` ` min `is defined as this  :
`numpy.amin(a, axis=None, out=None, keepdims=False)`
So when we pass
`l(1, 2, 3)`
Then it takes `a` =1 ,`axis`=2,`out`=3
where `a` is list of numbers  for which we want minimum.
So `Sympy` mapping with `NumPy` `amin` is not correct.

[2016-01-17 19:04] Ghost99 opened #10408 "Can't solve simple equation with Unequality"
I trying to validate some simple math expressions, such as `[a=1, b=2, a!=b]`, with `solve` function.
But instead of True, False, or empty list I got `NotImplementedError: only univariate inequalities are supported`
[code]
Is there some other way to validate such simple expressions?

[2016-01-17 20:38] smichr opened #10410 "real power reported to not be real"
[code]

[2016-01-17 23:52] nicodjimenez commented on #5418
augustt198 has released a parser for Latex that uses Antlr: https://github.com/augustt198/latex2sympy

[2016-01-18 00:26] YKassim commented on #10410
expr = 4**((3*I*pi)/(2*log(2)))

    expr.is_real
    Out[44]: False

    simplify(expr)
    Out[45]: -1

    simplify(expr).is_real
    Out[46]: True

I believe the issue is that .is_real() checks if "expr" can be computed to a real number(or is a real number already) with **precision**. A false result does not mean it cannot be *simplified* to a real number. which means this expression is almost

[2016-01-18 05:42] smichr commented on #10408
Find a solution from the equalities and then test it in the inequality(ies) to see that it(they) are not False:

[code]

[2016-01-18 08:01] cbm755 opened #10413 "ascii pprint of ProductSet uses non-ascii multiplication symbol"
[code]

Last one should be `x` not `\xd7`.  See `printing/pretty/pretty.py`.

Possible fix might be:
`prod_char = U('MULTIPLICATION SIGN') if self._use_unicode else 'x'`

Also needs a test---can be simplier than mine.

[2016-01-18 08:07] cbm755 opened #10414 "`pprint(Union, use_unicode=False)` raises error (but `str(Union)` works)"
See `printing/pretty/pretty.py`.

1.  Possible fix:
`union_delimiter = ' %s ' % pretty_atom('Union', 'U')`

2.  Similarly, I wonder if lower-case `n` might be an appropriate ascii character for `Intersection`?  If not, at least throw `NotImplemented` like in `SymmetricDifference`.

[2016-01-18 08:15] cbm755 opened #10415 "`str(Union)` printer needs parenthesizing love"
I notice Union pretty printing has been improving.  The `str` printer could also use parentheses in (some of?) those cases.  See #7486, #9877, #9878, maybe others.

[2016-01-18 08:30] tokencolour commented on #10413
I'll change the tests if they fail. Thanks, @cbm755 .

[2016-01-18 08:47] cbm755 commented on #9044
@tokencolour its still open because it is not fixed.  #9049 has a partial solution

[2016-01-18 08:57] cbm755 commented on #9391
@kshitij10496 I don't think so.  I filed this issue so we didn't lose the discussion from #9364.

To refresh my memory, I tried:
[code]
Note the element of the Matrix has unknown commutativity.  IIRC, this issue just asks if this is ok or not.

Whereas:
[code]

Thanks for the nudge to clarify this a bit!

[2016-01-18 09:02] Ghost99 commented on #10408
Ok, it will work. But what if I have list with thousands of Eq, Ne, Ge, Le, Gt, Lt statements with hundreds of variables?
I need to programmatically verify (check for having at least one solution) arbitrary lists of simple mathematical statements. `solve` looks like best solution for that, but unfortunately, for some reason it can't handle Ne statements with variables. Is it really a way how that

[2016-01-18 11:03] tokencolour commented on #10414
I'll add the tests shortly.

A lower-case `n` looks better than `^`. So I've added the former. Thanks @cbm755 . Please take a look at this.

[2016-01-18 13:50] gxyd opened #10419 "Union of ComplexRegion and Interval returns ComplexRegion"
[code]

I think this should return a `Union` of `ComplexRegion` and the `Interval`

[2016-01-18 16:14] gxyd commented on #10419
@aktech . Was this done intentionally?

[2016-01-18 16:45] aktech commented on #10419
No.

[2016-01-18 17:09] aktech commented on #10419
It was due to this commit https://github.com/kevalds51/sympy/commit/6e002aaefd6d9efccf4cb0540911a2bdd43c92de

[2016-01-18 17:11] gxyd commented on #10419
This is the one i suggested :)

[2016-01-18 17:14] aktech commented on #10419
Oh, I see. Here is the fix #10420

[2016-01-18 17:46] shivamvats commented on #10189
@Nitin216 Sure! Talk to @Shaswat27 and together perhaps you can come up with a better solution.

[2016-01-18 18:58] kshitij10496 commented on #10415
@cbm755 I am looking into this.

[2016-01-18 21:11] leerobert opened #10422 "Simplifying the difference of two sympy.Eq returns -1"
Unless the two Equality expressions are identical, the difference of two equality expressions simplified returns -1. Is this a limitation of the simplify function or is there another way to handle linear systems operations?

[code]

I see the result of subtracting two expressions is:

[code]

Does this require handling each part of the equality separately when handling systems of equations?

[2016-01-19 02:40] tokencolour commented on #9044
@cbm755 , Please take a look at this. Do suggest any improvements. Thank you.

[2016-01-19 08:29] MSeeker commented on #10422
The current development version of SymPy (0.7.7.dev) no longer simplifies an `Eq` to `-1`. For example (This is the python 3.5 version, the 2.7 version works the same):
[code]
Nevertheless, I fail to see why arithmetic operation between `Eq`s are not supported in SymPy. After all, "adding X multiples of eq.1 to eq.2" should be one of the most elementary operations performed on equations. This feat

[2016-01-19 11:17] smichr commented on #10403
Perhaps `log`, like trig functions, should have pre-loaded simplifications for such complex args. This would make a lot of results a lot simpler, especially in `solve`.

[2016-01-19 12:26] MSeeker commented on #10422
Did a little digging and found the exact issue was already dressed in #8023. So the general idea is that `Eq` (as well as all subclasses of `Relational`) should behave like booleans in the context of arithmetic operations. For example, `Eq(1, 1) + Eq(2, 2)` should return `2` (being a result of `True` + `True`) instead of a single `True` from `Eq(3, 3)`.
This does make equation manipulation a bit i

[2016-01-19 13:31] #10419 closed

[2016-01-19 16:07] #10157 closed

[2016-01-19 16:12] aktech commented on #10355
Works in dev version as pointed by @kshitij10496

[code]

[2016-01-19 16:12] #10355 closed

[2016-01-19 16:21] asmeurer opened #10425 "solveset(domain=S.Reals) rewrites the function in the answer"
[code]

The function in the answer shouldn't be rewritten from the original.

(also solveset should be able to solve this equation, but that's a different issue).

[2016-01-19 16:25] asmeurer opened #10426 "Can't solve sin(x + a) - sin(x) (for a)"
[code]

The solution should be `a=2*pi*n`. I believe the first solution from solve is equivalent to that.

[2016-01-19 17:06] leerobert commented on #10422
I figured -1 being returned during simplification. was probably the result of a comparison on boolean operations (since subtracting the two equations returned a convoluted boolean expression). I was going to go ahead and write some logic that does add, sub, mult, and div operations on expressions as that is my current use case. Whatever I write up, I can contribute here. The simplify function was

[2016-01-19 18:57] smichr opened #10428 "recognize special literal complex arguments for `log`"
Like trig function which give certain simple values for given angles, `log` could use a similar mechanism to automatically simplify certain arguments to their simple form, e.g.

[code]

`pure_complex` could be used to test the argument of log.

[2016-01-19 19:56] asmeurer commented on #10152
@darkcoderrises I have some fixes at https://github.com/sympy/sympy/pull/10084 which might make your issues go away. Once that is merged you should try merging your branch into master and see if it fixes the problems.

[2016-01-19 21:49] asmeurer commented on #10194
Any ideas how to do this? `ccode` should generate an expression, but I don't know if a summation loop can be written as a single expression.

I checked Mathematica's CForm (side note: you can run Mathematica for free in the cloud at https://lab.wolframcloud.com/), but it just uses a `Sum` function which is defined in `mdefs.h`, which you have to include in your code. Same for FortranForm.

[2016-01-19 23:56] moorepants commented on #10194
We've talked about including our own set of functions for the supported languages. There are some other issues where this would be appropriate.

[2016-01-20 03:27] SooryaN commented on #10190
@shivamvats, seeing as how this hasn't been resolved yet, I'd like to have a go at it too.

[2016-01-20 03:30] tokencolour commented on #10190
@SooryaN Actually, I am in the middle of it at #10320 .

[2016-01-20 04:46] MSeeker commented on #10426
For a start, `a = 2*pi*n` is not the complete solution to the equation. Since `sin(x+a) - sin(x) = 2*cos(x+a/2)*sin(a/2)`, `a = 2*pi*n` corresponds only to the part of solution where `sin(a/2) = 0`, whereas `cos(x + a/2) = 0` gives `a = (2*n + 1) * pi - 2*x`.
SymPy seems to give the correct answer if we assume `x` to be real, but fails if it is a general complex variable. Perhaps this is due to th

[2016-01-20 06:33] shivamvats commented on #10190
@SooryaN You are more than welcome to work with @tokencolour to solve this issue. Collaborative PR's are very much encouraged.

[2016-01-20 07:27] zamb3zi opened #10429 "Can't simplify/rewrite inverse hyperbolic functions"
Hi,

I'm trying to simplify `asinh(sqrt(2)/4)` to `log(2)/2` without success. Similarly `asinh(x).rewrite(log)` just returns `asinh(x)` whereas it should give `log(x+sqrt(x**2+1))`.

My wider issue is trying to simplify the following:

[code]

which is equal to `(1-4**(-n))/3`. I can make progress with `Q.rewrite(exp)` but the inverse `asinh` won't rewrite so I can't proceed without manually rewri

[2016-01-20 07:47] MSeeker opened #10430 "`solveset` has problem handling equations in the form `f(x)*g(x) = 0` for x complex"
[code]
However, if the argument is assumed to be real then the equation can be solved:
[code]
I believe the discrepancy lies in the different implementation of `solveset_complex` and `solveset_real`. When there former is called, the given expressions are always expanded as long as its denominator part does not contain the variable to solve:
[code]
Thus after the expansion `f` changes to `x*sin(x)

[2016-01-20 09:31] Mindey commented on #10234
@tokencolour so, I also, try to use pyglet plot, and running into the same error. @moorepants , does plot support interactive plots? I've seen a [mention](http://matplotlib.org/1.4.3/mpl_toolkits/mplot3d/index.html) of interactive plots on matplotlib, which combined with mpld3, could probably give something close to what we have with pyglet. However, right now I see no true alternative to the kind

[2016-01-20 14:25] asmeurer commented on #10426
I think you are right. My goal here is specifically to find a solution that does not depend on x, so as to show that sine is periodic. Hence, although the solutions from solve are probably correct (plus `2*pi*n`) the second one is not useful as written because it is not easy to see that it doesn't depend on x.

[2016-01-20 15:05] moorepants commented on #10234
I think your comment warrants a new issue. This issue has been fixed I believe. Can you open a new issue and mover your comment there?

[2016-01-20 15:52] asmeurer commented on #10194
What are some of the other places where this is needed?

[2016-01-20 16:12] asmeurer commented on #10234
That's because you chose `%pylab inline` (side note: `%pylab` is no longer recommended, you should use `%matplotlib` instead). The inline plots in the qtconsole are not interactive. If you use the default backend (use `%matplotlib` instead of `%matplotlib inline`) you should get an interactive plot in a new window.

[2016-01-20 16:21] asmeurer commented on #10429
Adding the rewrites should be easy.

[2016-01-20 16:39] moorepants commented on #10194
I think it came up in the discussion about printing Pow. I know @jcrist has talked about it when he was doing his GSoC work. I just searched our issues and didn't find anything, but I know there are some conversations about us providing a mini C header with various functions.

[2016-01-20 16:40] moorepants commented on #10234
You can also use matplotlib's `%matplotlib notebook` to get a notebook enabled graph that will be interactive in the notebook itself.

[2016-01-20 16:54] jcrist commented on #10194
The reason for including our own header would be to implement things like `powi`, for faster integer exponentiation, and also special functions (although a PR to scipy to include the cephes headers on install would probably be better for that).

Back when I was looking at this I started experimenting with rewriting the codegen stuff using a more ast based formation. This would allow for easier com

[2016-01-20 17:05] asmeurer commented on #10194
Thanks for sharing. I've been thinking about doing the same things (see https://github.com/sympy/sympy/wiki/Code-Generation-Notes). I'll definitely take a closer look at symcc. I already started playing with my own CodeBlock type for blocks of assignments, but then I got sidetracked with https://github.com/sympy/sympy/pull/10271.

A few thoughts/concerns:

- I don't want to get in the business of

[2016-01-20 17:42] darkcoderrises commented on #10152
ok

[2016-01-20 17:53] moorepants commented on #10194
This is an aside, but I've been reading about this project over the weekend: https://github.com/antlr/antlr4. Might have some good ideas and also may show that we should use something like this as a dependency. Note that someone quickly wrote a latex2sympy parser with it: https://github.com/augustt198/latex2sympy

[2016-01-20 19:24] Upabjojr opened #10433 "Dict does not accept collections.defaultdict"
Currently, one needs to call

[code]

if `d` is a _defaultdict_.

[2016-01-20 19:25] Upabjojr commented on #10433
Should be easy to fix, how can I put a label?

[2016-01-20 19:48] #10413 closed

[2016-01-20 19:57] sandeepveethu commented on #10429
I would like to fix this.

[2016-01-20 21:30] #10414 closed

[2016-01-20 22:12] lxkain commented on #5051
1/(2*pi)*integrate(exp(1j*w*n), (w, -wc, wc))

does not correctly evaluate either

[2016-01-20 22:13] lxkain opened #10434 "Integral is not solved"
1/(2*pi)*integrate(exp(1j*w*n), (w, -wc, wc))

should evaluate to

(sin(wc)*n)/(pi*n)

[2016-01-21 00:53] nicoguaro commented on #7827
I also tried with a Taylor series, and the same problem appears

    x = symbols('x')
    n = symbols('n', integer=True)
    c = symbols('c', function=True)
    integrate(Sum(c(n)*x**n, (n, 0, oo)), x)

[2016-01-21 02:54] tokencolour commented on #10433
I would like to try to fix this.

[2016-01-21 04:48] Shekharrajak commented on #10214
[code]
In 1st it seems `solveset` first squaring then cube root.
2nd answer is wrong.if it would `-4^(1/3)` we may say it is returning whole `(-4)^(1/3)` but it is not.
It seems problem is in cube root only.
[code]
Isn't it ?

[2016-01-21 06:11] MSeeker commented on #10397
The issue lies in how `solveset_complex` and `solveset_real` (both are underlying calls made by `solveset`) handles radicals differently. `solveset_real` directly inverts `sqrt(x) = g(y)` to `x = g(y)**2` (as can be seen in the implementation of `_invert_real`), while `solveset_complex` does not (probably due to the multi-valued nature of complex radicals).
Instead, `solveset_complex` calls a subr

[2016-01-21 13:59] jksuom opened #10437 "Sympify test error in Python 3.5"
``bin/test sympify`` currently fails in Python 3.5 because of a ``TypeError`` in ``sympy_parser``.
[code]
Python 2.7 and presumably the other versions before 3.5 raise ``SyntaxError``
[code]
which is transformed into SympifyError [here](https://github.com/sympy/sympy/blob/master/sympy/core/sympify.py#L323).

This issue should be easy to fix by adding ``TypeError`` to the list. It must be tested in

[2016-01-21 18:48] aktech commented on #10397
Closed via #10435

[2016-01-21 18:48] #10397 closed

[2016-01-21 19:19] iamshubh22 commented on #10437
@jksuom I would like to work on this.

[2016-01-21 20:00] jksuom commented on #10437
Go ahead! Remember to test with Python 3.5.

[2016-01-21 20:02] asmeurer commented on #10437
It's already been fixed at https://github.com/sympy/sympy/pull/10084.

[2016-01-21 20:07] jksuom commented on #10437
But in a different way? Not in sympify.py?

[2016-01-21 20:09] asmeurer commented on #10437
Yes. Your fix would have masked the problem. The issue is that the code was generating invalid syntax which became valid in Python 3.5 due to the advanced star unpacking features new in that version. This is the fix https://github.com/asmeurer/sympy/commit/1404fcf4fd00b0aede484b7e7685c9ee3c3bc789

[2016-01-21 20:11] asmeurer commented on #10437
i.e., you can see from the error message, it was generating `Lambda ((*Symbol ('args' )),Symbol ('args' ))`, which is nonsensical (`*Symbol('args')` is wrong, since `Symbol('args')` is not iterable). In prior versions of Python this whole thing was a syntax error because of the function argument after the star (`f(*args, x)`), but in Python 3.5 this is allowed. Hence, the error propagated from som

[2016-01-21 20:12] asmeurer commented on #10437
Going to close this as a dupe of https://github.com/sympy/sympy/issues/9927 to keep the issue count down.

[2016-01-21 20:12] #10437 closed

[2016-01-21 20:13] jksuom commented on #10437
Ok. Thanks.

[2016-01-21 20:14] asmeurer commented on #5051
@lxkain can you open a new issue for this?

[2016-01-21 20:18] lxkain commented on #5051
I already did - thank you for the good work!

[2016-01-21 20:19] asmeurer commented on #5051
https://github.com/sympy/sympy/issues/10434

[2016-01-21 20:23] asmeurer commented on #10434
For me it remains unevaluated

[code]

which is strange, since the definite integral is easy, and SymPy can do it just fine

[code]

I guess it has a problem with the limits on the Piecewise somehow.

As for actually giving sin instead of a complex exponential, that's more work. I'm not too worried about integrate giving an answer in terms of exponentials, though. My view is that if your input fun

[2016-01-21 20:48] lxkain commented on #10434
I agree, even an answer in terms of complex exponentials would be fine.

[2016-01-22 05:06] architv commented on #10433
@Upabjojr Can you please elaborate a bit more about issue?

[2016-01-22 09:50] ashutoshsaboo commented on #10388
Is this still open? Can I work towards solving this issue?

[2016-01-22 09:58] ashutoshsaboo commented on #9480
I want to work on this issue, and try resolving this! Is this solved? Can I try solving this?

[2016-01-22 13:24] gxyd opened #10440 "Update that ``C`` can now be accessed via ``from sympy.abc import C``"
Issue #7124 has now been closed, probably solved as mentioned at last comment on the issue.

Hence on [sympy.abc line 15](https://github.com/sympy/sympy/blob/master/sympy/abc.py#L15) the ``C`` can now be removed from it, or from any other place possibly occuring on the same file or any other file.

[Edit]
This is what i get
[code]

[2016-01-22 13:37] gxyd commented on #10440
Or this a bug in `DeprecationWarning` message, since `0.7.7` -> `1.0`.

[2016-01-22 15:40] asmeurer commented on #10440
I will fix all the occurrences of 0.7.7 to 1.0 when I make the release branch.

I think we should hold off on adding `C` to abc.py until we fully remove `ClassRegistry`.

[2016-01-22 15:41] asmeurer commented on #7124
This is the issue in the code, so it should stay open until the object is completely removed.

[2016-01-22 15:42] asmeurer commented on #10440
That issue was closed prematurely (deprecation removal issues shouldn't be closed until the thing is removed completely, see https://github.com/sympy/sympy/wiki/Deprecating-policy). I'm closing this issue as a duplicate of that one.

[2016-01-22 15:42] #10440 closed

[2016-01-22 15:42] asmeurer commented on #7124
When this is removed we can add it to abc.py.

[2016-01-22 15:44] jcrist commented on #7124
Isn't #9371 the deprecation removal issue for this?

[2016-01-22 15:45] asmeurer commented on #7124
I suppose it is. The issue in the code is wrong then.

[2016-01-22 15:45] #7124 closed

[2016-01-22 15:47] asmeurer commented on #7124
https://github.com/sympy/sympy/pull/10441

[2016-01-22 15:53] asmeurer commented on #10433
The problem is that it's doing direct class comparisons instead of using isinstance.

[2016-01-22 16:10] architv commented on #10433
@asmeurer So should it support `defaultdict` ?

[2016-01-22 16:24] asmeurer commented on #10433
yes

[2016-01-22 17:15] architv commented on #10433
If this is isn't solved yet, I would like to work on this.

[2016-01-23 03:54] darkcoderrises commented on #10428
Could I work on this?

[2016-01-23 05:41] #10375 closed

[2016-01-23 08:58] darkcoderrises commented on #10428
I have a doubt, I can write -1 as `e**(I*π)`, so should it return I*π for log(-1).

[2016-01-23 10:22] jksuom commented on #10428
``log`` is a multivalued function and there are two common ways to define its principal branch. In Sympy it is defined by ``-pi < im(log(z)) <= pi`` and the other one is ``0 <= im(log(z)) < 2*pi``. In both cases, ``log(-1)`` will have the value ``pi*I``.

[2016-01-23 12:26] bolverk opened #10445 "Improper integral does not evaluate"
The integral of 1/(exp(x)+1) from 0 to infinity should give log(2), but sympy 0.7.6.1 produces a NaN

[code]

[2016-01-23 13:45] Shekharrajak commented on #7827
Thanks @nicoguaro  @asmeurer

[2016-01-23 16:01] jksuom commented on #10445
It appears that the integrator does not recognize improper integrals as limits. It finds the correct indefinite integral ``x - log(exp(x) + 1)``, but, instead of taking the limit ``x -> oo`` it tries to assign the value ``oo`` to ``x`` on [this line](https://github.com/sympy/sympy/blob/master/sympy/integrals/integrals.py#L523) and arrives at ``nan``.

[2016-01-23 17:28] moorepants opened #10446 "Add type declarations to C code printer."
I find myself prepending the type declaration to C code a lot and think that this should probably be an option to the printer. Something like:

[code]

[2016-01-23 17:43] AnishShah commented on #10446
I would like to work on this..

[2016-01-23 18:22] sandeepveethu commented on #10445
so , @jksuom do we have to leave this issue or try to fix this?

[2016-01-23 18:32] gxyd commented on #10445
The issue can be tried to solve if possibly you can. He wrote the explanation for what is going wrong according to him.(Most probably that seems right explanation to me as well).

[2016-01-23 18:54] jksuom commented on #10445
This is an issue that should be fixed. Improper integrals with infinite limits are easy to recognize, and perhaps they could be fixed first. But there are also improper integrals with finite limits where the integrand is singular at an end point. It may be harder to take care of those.

[2016-01-23 19:10] AnishShah commented on #10446
@moorepants I started working on this... and wanted to clear something...

For `ccode(a**2, b, declare='double')`, we need to give data type to an assignment variable.

For `ccode(a, declare='double')`, we need to give data type to a symbol.

Shouldn't `declare` variable be used to print data type for only assignment variable? As `_print_Assignment` function calls `_print_Symbol` to print LHS and

[2016-01-23 21:08] Shekharrajak commented on #10446
@AnishShah  I think, it need to print declare type for 2nd argument and if there is only 1 args then print that with declare type.

[2016-01-24 01:41] nicodjimenez opened #10449 "Integration is not threadsafe"
There

[2016-01-24 01:42] #10449 closed

[2016-01-24 01:44] nicodjimenez opened #10450 "Manual integrate thread safety"
The use of the cache as a global variable in:

https://github.com/sympy/sympy/blob/a57f3c43b9c86979ff7fe04d520bc404b94d859a/sympy/integrals/manualintegrate.py#L837

makes its usage inside SympyGamma an issue due to lack of thread safety.  Is there any way to restrict the scope of the cache variable?

[2016-01-24 06:53] moorepants commented on #10446
In C you can declare a variable in one line and assign a value in another line or you can do it all in one line. Ideally, we support both versions.

It may be worth seeing how this is implemented in the C code generator.

[2016-01-24 10:36] Shekharrajak opened #10453 "integrate return wrong answer (inverse trigonometric functions)."
[code]
answer should be
[code]

[2016-01-24 11:07] Shekharrajak commented on #10453
We can solve above problem using  `S(1)/2` instead  of `1/2`.
But I found similar worng answer for little complex  inverse trigonometric functions .
Like :
[code]
should be `atan(x/y)+C`.

[2016-01-24 11:46] Shekharrajak commented on #10453
[code]
desired answer  :
1. `(1/a)asec(x/a)` it seems asec is not defined there.
2. `ln(x +sqrt(x**2 - y**2))` this is basic formula.I think it is printing in the form of `sin`,`cos` which is more complex to understand.

[2016-01-24 12:28] darkcoderrises commented on #10428
Is something like this, okay?
[code]

This return `I*atan(1.0*sqrt(3))`

[2016-01-24 13:07] aktech opened #10454 "Point distance method is much slower than naive distance function"
[code]

[2016-01-24 16:54] moorepants opened #10456 "Reorganize documentation to separate API references from prose."
While working on #10341 I came to the conclusion that I think the docs need some reorganization to be clearer and provide natural places for "prose" documentation that spans multiple modules. Here are some perceived needs:

- There is no clear place to add non-tutorial prose documentation that isn't tied to a specific module.
- Prose documentation is often mixed with the API reference for a specif

[2016-01-24 22:04] bjodah commented on #10456
To be honest I usually google or grep the code base, I rarely browse the docs. But perhaps I would if the structure improved so I'm +1 if someone thinks it's worth the effort. Small question: with ABC order do you mean lexicographical order or "Abstract Base Class" order (e.g. exaplaining Atomic first and the Expr etc.)?

[2016-01-24 22:08] moorepants commented on #10456
I meant alphabetical order.

Do we have Google Analytics data for the docs? It'd be nice to see what pages are most useful to people.

[2016-01-24 23:43] moorepants commented on #9693
I'm closing this. Please reopen if needed.

[2016-01-24 23:51] #9693 closed

[2016-01-25 01:38] smichr opened #10458 "[enhancement] (1/x - 1).is_nonpositive should be True if x is positive integer"
[code]

Not sure of the best test, but this should be able to return True.

[2016-01-25 02:18] #10336 closed

[2016-01-25 06:01] AddemF opened #10459 "ChiSquared CDF does not run"
When I run the code

It will print the CDF of the Poisson distribution but it seems to run infinitely and lock up my interpreter when it gets to the Chi Squared distribution.  It does the same for a similar code that ends in

or other things that work when I try them on other distributions.

[2016-01-25 08:47] jksuom commented on #10459
It appears that the ``cdf`` integral is computed by ``heurisch``.  It does look for the result by trying to find a suitable linear combination of monomials in the components of the integrand. (In this case those are ``z``, ``sqrt(z)`` and ``exp(-z/2)`` where ``z`` is the integration variable.) The maximum degree of the monomials is computed from the degrees of the components in the integrand, and

[2016-01-25 10:28] Shekharrajak commented on #10434
what is `wc`?

[2016-01-25 11:00] Shekharrajak commented on #10214
[code]
Actual answer should be `S.EmptySet`.
Because when we check `2*2^(1/3)` in expression `x**(3/2)+4` we won't get zero.So `no solution for all x belongs to Real`.

[2016-01-25 11:02] mvnnn commented on #10458
you need to doing this type :
[code]
i will fix this issue.

[2016-01-25 16:17] asmeurer opened #10462 "solve(check=True) loses solutions due to accuracy loss"
See https://stackoverflow.com/questions/34937450/sympy-seems-to-break-down-with-higher-numbers. An example is

[code]

The same happens if you use an exact value instead of 1.02. If you use `solve(check=False)` you get all the solutions

[code]

[2016-01-25 16:24] asmeurer commented on #10408
@smichr's suggestion is just a workaround. This definitely should work, but it doesn't. I think his workaround might not scale to your problem. There may be many solutions to the equalities but few solutions when also considering the inequalities.

As the error message indicates, multivariate inequalities are not yet supported.

(By the way, you might try passing your problem to an SMT solver like

[2016-01-25 16:41] lxkain commented on #10434
-wc and wc are the lower and upper limits on the integral, thus making it definite. In this case, it can be viewed as the cutoff frequency of an ideal lowpass filter.

[2016-01-25 16:44] asmeurer opened #10463 "Dropping Python 2.6 and 3.2 support"
Once SymPy 1.0 is out, we should drop Python 2.6 and 3.2 support. Python 2.6 reached its end-of-life in 2013 and 3.2 will reach it on February 20 of this year (which will likely be before 1.0 goes out at the rate we are going). See https://docs.python.org/devguide/#status-of-python-branches. I don't think we should support Python versions that have reached end-of-life.

Additionally, with https://

[2016-01-25 16:56] moorepants commented on #10463
+1. I've seen chatter on the other SciPy stack projects about the same thing. Many have already dropped support.

[2016-01-25 17:29] #10293 closed

[2016-01-25 17:58] certik opened #10464 "integrate(sinc(x)**2, (x, -oo, oo)) can't do it"
But the algorithm itself can do it:
[code]
I.e. [7] is equivalent to [9].

[2016-01-25 18:17] AddemF commented on #10459
@jksuom I figured the issue would be something like this.  Is there any sort of fix or work-around for this, or will that take some development time?

[2016-01-25 19:12] jksuom commented on #10459
I don't think there would be any work-around in SymPy. It might be possible to develop a special integrator for some of these ``ChiSquared`` distribution functions, but that would be a major task.

[2016-01-25 19:51] asmeurer opened #10471 "summation(1/x**y, (x, 1, oo)) doesn't do it"
The answer should be `zeta(y)` (https://en.wikipedia.org/wiki/Riemann_zeta_function).

[code]

[2016-01-25 21:18] asmeurer commented on #10194
I discussed this a bit with @scopatz the other day. I think it's best for the code printers to only print expressions. There is already some precedence for this:

[code]

(I also think that regardless of this stance that ccode should be raising an exception, not returning a string, on error)

This means that you can always take the output of `ccode`, `fcode`, etc. and interpolate it in some larger

[2016-01-25 21:39] moorepants commented on #10194
FYI, this search shows 467 files on Github with "sympy.utilities.codegen" in them:

https://github.com/search?utf8=%E2%9C%93&q=%22sympy.utilities.codegen%22+in%3Afile+filename%3A*.py&type=Code&ref=searchresults

[2016-01-25 21:48] leosartaj commented on #10464
I am not very well acquainted with the integration routines. One way of doing this is to internally call ``sinc(x).rewrite(sin)``. Not really sure if it's the best way.

[2016-01-25 21:53] asmeurer commented on #10194
Cool. So some people do indeed use it. I still stand by what I said. I personally found it rather clunky. It seems like a good tool if it does exactly what you are looking for (spit out one module with one function that computes your expression), but it doesn't seem to be very easy to customize or extend (the Routine objects in the code are particularly confusing, at least to me), and for even sli

[2016-01-25 21:54] asmeurer commented on #10194
This is all a bit off topic. For this issue (code printing Sum), I suggest merging @jcrist's symcc into SymPy and implementing it in that. Unless someone knows of a way to do a summation as an expression in C.

[2016-01-25 22:18] moorepants commented on #10194
I agree, let's not implement things that can't be expressed as one line. We can discuss the bigger code gen issues in other issue or on the mailing list.

[2016-01-26 05:25] shubhamtibra commented on #10464
I would like to work on this.

[2016-01-26 06:25] asmeurer commented on #10464
Probably sinc needs to be added to the meijerg tables (meijerg is what is computing the sin(x)/x integral).

[2016-01-26 06:39] cbm755 opened #10472 "pprint should align the middle of the matrix to the baseline?"
Consider the current behaviour, where operators align with the top of the matrix:

[code]

This looks poor, but I figured it might be the desired behaviour...

Here's the example that makes me think its wrong:

[code]

Here's how I think it should work, using the proposed #10423:

[code]

where note the `sin` alignment is by-design, and (relevant to this bug) the `+` and `tr` operator line up with

[2016-01-26 06:52] cbm755 commented on #10194
(+1 for difficulty in understanding `Routine`: I had a hard time with that when adding Octave support a year ago.)

Ironically, it worse for `octave_code` where we actually could generate:
[code]
But instead we appear to just call `str` (!)

[2016-01-26 06:54] cbm755 opened #10473 "`octave_code` generates invalid code from `Sum`"
Perhaps `Prod` as well.  In addition to fixing those, figure out why this happened...

See #10194 for an example.

[2016-01-26 08:58] shubhamtibra commented on #10464
@asmeurer where is the code of meijerg tables located?

[2016-01-26 09:45] gxyd opened #10475 "zeta(2 + I).is_finite returns None"
Atleast `zeta(x)` for `Re(x) > 1` and `Im(x)` being finite it should return `True`.

[2016-01-26 10:11] jksuom commented on #10464
sympy/integrals/meijerint.py

[2016-01-26 10:22] jksuom commented on #10475
Actually the (analytically continued) Riemann zeta function is finite in the whole plane except at 1 where it has a simple pole.

[2016-01-26 11:45] mrcinv opened #10477 "sympy.inequalities.solve_univariate_inequality incorrectly solves rational inequalities"
The function `sympy.inequalities.solve_univariate_inequality` does not return the correct solution for rational inequalities. For example:

[code]

which is not the complete  solution ( complete solution is x<-3 and 0<x<=1).
I have tried different other rational inequalities and it always return incomplete solution.

Curiously the complementary inequality is solved almost correctly. It appears it

[2016-01-26 12:59] gxyd commented on #10475
Ok, i didn't knew the term `Analytic Continuation` (now i read it). It is sure to me that `zeta` function for `Re(x) > 1` is defined by summation of `1/n**s` from `n = 1 to oo` but for the remaining domain i.e `C \ {z | Re(z) > 1}` how is the function defined? (mathematically by which expression).
Since i know that `∑ 1/n**s` for `s = 1/2` is divergent hence equals `infinity`(mathematical) but you

[2016-01-26 13:38] jksuom commented on #10475
There are integral expressions for zeta that make sense for all complex values, but those may not be useful for computations.
An elementary way of extending the domain to ``Re(s) > 0`` is the following (dating back to Euler, I think). If you multiply the zeta  series by ``1 - 2**(1 - s)``, you get a similar alternating series, and this series is convergent if ``Re(s) > 0``. The remaining arguments

[2016-01-26 13:46] shubhamtibra commented on #10464
Where to get the Meijerg-G representation of sinc?
I guess it is `**G ( [ ], [ ], [ -1/2 ], [ -1 ],  t**2/4, sqrt( pi ))**`

[2016-01-26 14:21] triviality commented on #9136
I believe this really a bug. I think it happened because ```IntQubit```  inherit ```Qubit```, and ```Qubit``` accept two representation for qubit. For example, consider ``` v = |10101>``` , you can use ```Qubit("10101")```, or ```Qubit(1,0,1,0,1)```.

I like this library, but it looks like a forest for me when I was trying to debug the code through winpdb.

[2016-01-26 16:08] moorepants commented on #9136
Note that we currently do not have an active maintainer of the quantum physics modules but if you need help navigating the code, just ask here or on the sympy mailing list.

[2016-01-26 17:05] asmeurer commented on #10458
How is it that

[code]

is working?

[2016-01-26 17:09] mvnnn commented on #10458
i modifying only ask() only

[2016-01-26 17:12] mvnnn commented on #10458
i need to change (1 - x).is_nonpositive  to  simplify(1/x-1).is_nonpositive..i will fix this

[2016-01-26 17:12] jksuom commented on #10464
I think you have to derive it from the representation of sin the way your guess indicates. But I suspect that the constants should be re-checked.

[2016-01-26 17:13] asmeurer commented on #10458
`simplify` should not factor into the solution to this issue.

[2016-01-26 17:16] mvnnn commented on #10458
so we need to modify "def sympify" method ?

[2016-01-26 17:17] asmeurer commented on #10458
You need to modify `Add._eval_is_nonpositive`

[2016-01-26 17:17] asmeurer commented on #10458
In sympy/core/add.py

[2016-01-26 17:22] mvnnn commented on #10458
ok

[2016-01-26 17:23] mvnnn commented on #10458
but in ask() case... "sympify" can not modifying given expression in arguments.

[2016-01-26 17:42] mvnnn commented on #10458
[code]
that's also not work

[2016-01-26 17:45] asmeurer commented on #10458
That's because it can be 0 or negative. `None` is the right answer there.

[2016-01-26 17:58] jksuom commented on #10464
This is what I get
[code]
It is close, but not quite right.

[2016-01-26 18:32] ashutoshsaboo commented on #9060
Is this solved? I would like to work towards solving this? Can I work on this issue, in case if it's not solved till now?

[2016-01-26 18:47] cbm755 commented on #9060
It is not solved.  Perhaps "Easy-to-Fix" was not appropriate.

If you want to help, see the PR #9060 and #9121.  @ahhda I'm sorry I haven't been keeping up with this!

[2016-01-26 19:08] asmeurer commented on #10456
+1. I'm tired of people adding prose docs to the tutorial, which aren't really beginner docs.

Re the User's Guide, I still think we should merge this https://github.com/sympy/sympy/pull/2807

[2016-01-26 20:52] mvnnn commented on #10458
if we add another variable 'y' then it's return ```None```.so we need to this case also.
[code]

[2016-01-26 20:54] asmeurer commented on #10458
You spelled `negative` wrong (it still doesn't work though).

[2016-01-26 21:08] mvnnn commented on #10458
Now it's working ```>>> (1 - x).is_nonpositive``` is return ```None```. but i need change some test cases.

[2016-01-27 02:45] #10317 closed

[2016-01-27 04:52] ashutoshsaboo commented on #10388
I tried solving this issue. My code is #10478 . I don't understand why the Travis CI Test shows the failing test. How do I examine what's the problem in my code? And then how do I resolve that failing test? Any help would be appreciated.

[2016-01-27 06:19] mvnnn commented on #10458
@smichr said to me.```>>>(x - 1).is_nonnegative``` The smallest x is 1 and (1 - 1) = 0 which is nonnegative, so the answer should not be ```None``` but in above comment you told me ```None``` is right answer.

[2016-01-27 06:48] triviality commented on #9136
@moorepants
I would be glad to help in Quantum modules, particularly those related to quantum computations.   However, I need some time to read  documentation.
Thank you for informing me.

[2016-01-27 09:17] #10433 closed

[2016-01-27 11:22] Shekharrajak commented on #10426
solution should be :
`a = 4πn, a = 4πn + 2π, a = 4πn + π − 2x, a = 4πn + 3π − 2x`
because using this formula :
`sin s − sin t = 2cos((s+t)/2)sin((s-t)/2)`
we get this `2cos((2x+a)/2)sin(a/2) = 0`

[2016-01-27 15:15] asmeurer commented on #10426
Getting the solution to reduce to just `2*pi*n` would also be helpful (since that would be the period of sine). This is just a matter of getting `solveset(sin(x))` to give `pi*n` instead of `2*pi*n` and `2*pi*n + pi`.

[2016-01-27 15:23] asmeurer commented on #10458
I think you might be confusing x - 1 and 1 - x.

Nonnegative means negative or zero, and nonpositive means positive or zero.

x >= 1 so x - 1 >= 0 and 1 - x <= 0, meaning x - 1 is nonnegative and 1 - x is nonpositive.

However, 1 - x is not always nonnegative and x - 1 is not always nonpositive (let x=2 in each case), *but* they can be nonnegative and nonpositive, resp., (let x=1). Hence `(1 - x).

[2016-01-27 15:26] asmeurer commented on #10458
To keep yourself from getting confused, I would pick just one of `(x - 1).is_nonnegative` or `(1 - x).is_nonpositive` and work with it only. If you can get one working, the assumptions system should be smart enough to make the other work as well, since `a.is_nonnegative` is the same as `(-a).is_nonpositive`.

[2016-01-27 16:23] mvnnn commented on #10458
your given example is correct but ```Nonnegative means negative or zero, and nonpositive means positive or zero``` statement is wrong. Nonnegative means positive or zero and nonpositive means negative or zero.

[2016-01-27 16:24] asmeurer commented on #10458
Ah crap. I knew I was going to make a mistake somewhere in there. You are right.

[2016-01-27 17:31] certik commented on #10464
I would start with hypergeometric functions first, and then convert those to meijerg in a second step.
You start with `sin(x) = x * 0F1(3/2; -x^2/4)` and get:
[code]
Then you square it:
[code]
So now we just need to convert `2F3(3/2,1; 3/2,3/2,2; -x^2)` to a meijerg function.

[2016-01-27 18:24] sandeepveethu commented on #10477
In sympy version `0.7.7.7.dev` , it gives correct answer for both inequalities.

[code]

[2016-01-27 19:17] asmeurer commented on #10464
I'm not sure if you have to add the square to the tables as well.

[2016-01-27 21:19] smichr commented on #10408
Can you use the fact that if `Ne(x, y)` then multiplying denominators by `x-y` would exclude that relationship?

[2016-01-27 21:59] mvnnn commented on #10458
i will fix this.

[2016-01-27 22:08] Ghost99 commented on #10408
@asmeurer Thanks for Z3 suggestion, I'll look at it.
I just opened issue to report problem with `solve` function.

@smichr This will probably work. Thanks for another workaround, I have to use some of this.

[2016-01-27 22:42] certik commented on #10464
I started discussing this here: https://groups.google.com/d/topic/sympy/S0MSlsAhL74/discussion, I think we can definitely improve the Meijer G-function rewriting in general.

[2016-01-28 15:25] Ban44n opened #10483 "sympy.parsing.mathematica.parse returns faulty sympy expression"
The function sympy.parsing.mathematica.parse does not return the correct solution for a trigonometric series argument. For example:

[code]

Another example:

[code]

It only recognized the first trigonometric function in the first example, in the second example it did not recognize anything. The versions:

[code]

[2016-01-28 16:10] asmeurer opened #10484 "Gotchas docs for 1/2 and SymPy Live"
If you run the code blocks at http://docs.sympy.org/latest/tutorial/gotchas.html#two-final-notes-and in SymPy Live the 1/2 examples are wrapped by Integer by SymPy Live, so they don't show what they are supposed to show. We should add a small note about this to the page.

[2016-01-28 17:58] #10464 closed

[2016-01-28 19:10] ngaurav commented on #10484
similar exception applies to type(1 + 1) example as well

[2016-01-29 00:05] asmeurer opened #10487 "Apply inverse() on custom functions"
See https://stackoverflow.com/questions/35060127/sympy-simplifying-of-inverse-function. If you define `inverse` on a custom function, it works with `solve`, but you can't actually reduce it, like `f(g(x))` -> `x` (if `f(x).inverse() == g`).  Probably `simplify` should do it.

[2016-01-29 00:11] asmeurer commented on #10487
This is probably easy to fix.

[2016-01-29 01:55] yashu-seth commented on #5882
@moorepants Is this issue still open? I  think the rigid body object does not allow the user to not specify all the attributes in its __init__ method.

[2016-01-29 01:58] moorepants commented on #5882
I think we've fixed that by requiring arguments to the init method.

[2016-01-29 01:58] #5882 closed

[2016-01-29 02:06] AnishShah commented on #10487
I will work on this..

[2016-01-29 05:46] rtrwalker opened #10488 "integrate(x/(a*x+b), x) gives wrong answer"
Using sympy version 0.7.5, for the following code:

[code]
I get:

`x/a - b*log(a**2*x + a*b)/a**2`

which is wrong.  I should get:
`x/a - b*log(a*x + b)/a**2`

I'm not sure where the extra 'a' multiple within the log comes from.

Same thing happens on http://live.sympy.org/ which is sympy version 0.7.6

[2016-01-29 06:39] rtrwalker commented on #10488
I've narrowed it down a bit.  Following code produces the same wrong result as above:
[code]

As far as I can see the `a**2*x+a*b` term comes in after the line `g, h = ratint_ratpart(p, q, x)` which is line# 52(sympy version 0.7.5) of `sympy.integrals.rationaltools`  in the ratint function.    After that I get lost in Poly functions.

[2016-01-29 07:26] shubhamtibra commented on #10488
Technically the answer is not wrong as `x/a - b*log(a**2*x + a*b)/a**2` and  `x/a - b*log(a*x + b)/a**2` differ by a constant which is `b*log(a)/a**2` . Both are correct in indefinite integration.
I think after partial fraction ,sympy is integrating `1/(a*(a*x+b))` as a single term which gives `x/a - b*log(a**2*x + a*b)/a**2` .

[2016-01-29 07:51] rtrwalker commented on #10488
@shubhamtibra you are correct.  If I do it by hand with the substitution t=a*x+b then my 'extra' constant is
b**2/a**2.  It is just annoying that the superfluous constant is left it.  If I put `x/(A x +B)` into http://www.wolframalpha.com/ the indefinite integral does not have the extra constant (just a "+constant" term).  It would be nice if sympy gave the same answer.

[2016-01-29 08:00] Gjacquenot opened #10489 "Mathematical Symbol does not seem to serialize correctly LaTeX printer"
I would like to declare a Sympy symbol, that looks like `C_{x_{0}}` when displayed as a LaTeX string.

I have tested the following

    from sympy import Symbol, latex
    Cx0=Symbol('{C_{x_{0}}')
    latex(Cx0)

However, the result is not as expected, the second underscore is not present. I obtain

    '{C_{{x {0}}}'

Does anyone has a clue on how to display any mathematical LaTeX expression?

I

[2016-01-29 08:15] ashutoshsaboo commented on #10475
Is this issue solved? I would like to work on this issue. Can I work on this or is it already solved?

[2016-01-29 11:25] debodirno commented on #10484
How do I edit the documentation ? I wish to contribute to sympy.

[2016-01-29 11:32] #9980 closed

[2016-01-29 12:22] shubhamtibra commented on #10488
I will look into this.

[2016-01-29 13:36] leosartaj commented on #10484
@debodirno Read [this](https://github.com/sympy/sympy/wiki/Introduction-to-contributing#documentation)

[2016-01-29 14:55] gxyd commented on #10475
No, this has not been solved. You can work on this

On 01/29/2016 01:45 PM, Ashutosh Saboo wrote:

[2016-01-29 15:18] AnishShah commented on #10487
@asmeurer I have opened a PR.. please check

[2016-01-29 15:29] asmeurer commented on #10488
Perhaps a simple solution would be a post-processor in ratint that removes constant terms from the logarithms (or it may be easier to do it as a pre-processor, I'm not sure). I agree that the solution is not wrong, but it's also nice for integrate to return simpler answers when it can, and there are definitely some known issues with both ratint and rischintegrate including redundant constants in l

[2016-01-29 18:39] annakovale commented on #10489
I believe the issue is because  def _deal_with_super_sub(self, string) in Latex.py is not recursive.

Consider the following:

{L^{{x}_{{0}}}}

{C_{{x {y}}}}

[2016-01-29 19:48] #6550 closed

[2016-01-29 19:48] #7057 closed

[2016-01-29 19:48] #7141 closed

[2016-01-29 19:48] #7197 closed

[2016-01-29 19:48] #7460 closed

[2016-01-29 19:48] #7717 closed

[2016-01-29 21:02] asmeurer commented on #10489
It seems to me that if a symbol name has `{` in it that the latex printer should just print it as is.

[2016-01-30 08:34] thisch commented on #9474
Yes, but not if we don't use the numpy module.

[2016-01-30 09:17] #10388 closed

[2016-01-30 15:27] smichr opened #10496 "ImageSet._contains should watch for non-iterable solveset return values"
Perhaps there is a friendlier error that can be returned than the following when a non-FiniteSet result is obtained:

[code]

[2016-01-30 17:01] smichr opened #10497 "next(iter(S.Integers*S.Integers)) hangs (expected (0, 0), ...)"
While having finite and infinite set does not cause problems, having only two does

[code]

[2016-01-30 20:13] smichr opened #10498 "Expr.__gt__, et al., should test comparability of args"
Although symbolic tests are done, quick numerical tests should raise errors for expressions such as the following:

[code]

[2016-01-31 12:08] shubhamtibra commented on #10488
@asmeurer Can you explain more on how to do that?

[2016-01-31 16:04] darkcoderrises commented on #10471
I would like to give it a try, could someone mentor me?

[2016-01-31 17:12] certik opened #10503 "Series return an incorrect result"
The latest sympy master:

[code]

[2016-01-31 19:08] jksuom commented on #10503
This appears to be caused by the way ``range(nterms)`` works: ``nterms`` itself is not included on [this line](https://github.com/sympy/sympy/blob/master/sympy/core/function.py#L646). This is taken care of in many cases by the addition of 2 to the number of terms, but after division by the order ``cf`` of the argument the effect may be lost
In this example ``cf`` is 6:
[code]
With n + 2 = 16 ``nte

[2016-01-31 20:27] Gjacquenot commented on #10489
Well, I have tried to find the problem. As @annakovale mentioned, the string is not correctly dealt in method `_deal_with_super_sub` of `latex.py`. Maybe we could replace the method `_deal_with_super_sub` with the following: I have updated the `" ".join` instructions with `"^".join` and `"_".join`. It works for me, but :

- what are the consequences for other people
- the subscripts and upperscrip

[2016-01-31 20:53] stonebig commented on #10463
Why don't you stop targeting Python 3.3 / 3.4 at the same time ?
- Previous version users can live with the awesome 1.0.
- forbiding sympy to use the "@" may be a torture for future contributors.

[2016-01-31 21:07] asmeurer commented on #10463
`@` isn't a huge carrot for SymPy, since it has separate types for matrices (meaning `*` is always matrix multiplication on matrices). Personally the biggest carrot in 3.5 is the new star unpacking stuff, but we can live without it, just as we've lived without dictionary comprehensions and set literals.

We aren't going to drop Python 2 support until the community does (at least until 2020 when CP

[2016-01-31 22:13] asmeurer commented on #10489
You can try making the change and then running `./bin/test latex`. That will at least tell you if it breaks any of the existing tests.

[2016-01-31 22:16] asmeurer commented on #10489
And I'm still slightly in preference to my suggestion to not do any translation if the symbol name has `{` (probably also `\`). That would likely actually break things for some people, but it's a cleaner design, because you don't have to try to understand all the translations that SymPy does and how to potentially work around them just to get symbols to print the way you want. You can just write t

[2016-02-01 01:44] #10406 closed

[2016-02-01 10:35] mvnnn commented on #10324
@moorepants issue is only in this "null" row print between rows::
[code]

[2016-02-01 18:56] asmeurer commented on #10472
Also https://github.com/sympy/sympy/issues/5094

[2016-02-01 18:57] #9044 closed

[2016-02-02 00:47] dusenberrymw opened #10509 "MatrixSymbol Needs Differentiation Ability"
Currently, it does not appear to be possible to take a partial derivative of an expression of `MatrixSymbols`, failing with the error `'MatrixSymbol' object has no attribute '_diff_wrt'`.

The following example highlights this:

[code]
[code]

This would be great for the project to have, especially for those working with vectorized functions.

[2016-02-02 00:50] Upabjojr opened #10510 "N-dim array with rank zero"
A rank zero tensor should be a scalar.

Should N-dim arrays in _sympy.tensor.array_ return the scalar if created with _shape = ()_ ?

There is a bug in the array printer. Rank zero arrays are not correctly displayed.

[2016-02-02 01:55] moorepants commented on #10509
What is your expected answer for the above example?

Are you requesting this: https://en.wikipedia.org/wiki/Matrix_calculus#Scalar-by-matrix?

[2016-02-02 06:17] shubhamtibra commented on #10445
I would like to fix this. @jksuom can you explain how [this line](https://github.com/sympy/sympy/blob/master/sympy/integrals/integrals.py#L523) is working?

[2016-02-02 07:06] rwst commented on #10262
So when should that Gruntz algorithm be called?

[2016-02-02 08:47] jksuom commented on #10510
I agree. But I am not quite sure that tensors and arrays should be identified. Perhaps 0-dim arrays should not be allowed at all.

[2016-02-02 09:05] jksuom commented on #10445
It works by computing separately the contribution to the integral of each component of an antiderivative (i.e., arguments of ``Add``) and adding the results. That is fine for (proper) integrals but in this case the increments of the components ``x`` and ``log(x) + 1`` over the infinite interval are infinite, and it is impossible to find the difference afterwards even if it is finite. Therefore, it

[2016-02-02 09:08] jksuom commented on #10262
I think it should be called only when transcendental functions with essential singularities are involved. (And probably not always even then.)

[2016-02-02 09:33] rwst commented on #10262
This would speed up the above case by 8x, but it still takes 3.5s in other parts of SymPy.

[2016-02-02 09:37] Upabjojr commented on #10510
I agree that 0-dim arrays should not be allowed. The problem is to provide an array-like API for scalars. Class methods are not good, because one would need to monkey patch SymPy's core objects.

An example of API supporting scalars (in this case `rank()`) would be:
[code]
Then users would need not to use class methods directly, rather these external functions, to make sure the code won't raise an

[2016-02-02 10:39] jksuom commented on #10510
Can you give an example where an array-like API for scalars would be useful?

[2016-02-02 12:12] Upabjojr commented on #10510
I noticed this problem as a result of total tensor contractions in
https://github.com/sympy/sympy/pull/10511

The issue in that PR has been solved by returning a non-array object if _tensorcontraction_ contracts all axes of the array.

The problem: it hurts the class stability of the result. One may write code that expects results of _tensorcontraction_ to be arrays, and may eventually bump into a

[2016-02-02 13:20] jksuom commented on #10510
I think this is a valid problem. Perhaps it would be possible to introduce a new class for tensors allowing those tensor algebra operations. The name ``Tensor`` is already taken. Unfortunately, it seems to be used for a rather limited class of tensors involving a metric.

A new class having operations like addition, multiplication, contraction, and using arrays as representations might solve the p

[2016-02-02 14:30] Upabjojr commented on #10510
I had a thought for a while about a possible class, say _TensorArray_, to represent N-dim arrays with valence markings (e.g. variance/covariance) and possibly also a metric. But it is not necessary, I think that the existing class _Tensor_ could eventually perform that task. _Tensor_ is currently limited to polynomial tensorial expressions and abstract index convention (i.e. indices may not be rep

[2016-02-02 15:32] #9474 closed

[2016-02-02 15:35] shubhamtibra commented on #10445
The function `_eval_interval`  already  takes care in case `self.subs` return NaN . [link](https://github.com/sympy/sympy/blob/master/sympy/core/expr.py#L750)

[2016-02-02 15:46] aktech commented on #10484
Closed via #10493

[2016-02-02 15:46] #10484 closed

[2016-02-02 15:58] #10487 closed

[2016-02-02 16:02] jksuom commented on #10510
I am only superficially familiar with the current tensor module, and it seems quite complex with many classes. It would certainly be preferable if you could make that more usable.

BTW, it just occurred to me that it is, in fact, possible to define *sparse* arrays of rank zero.

[2016-02-02 16:11] jksuom commented on #10445
I think that in this case ``self.subs`` would return ``oo`` (or ``-oo``) for each component and ``limit`` would produce the same result. The limit should be computed for the total expression, not for each component separately.

[2016-02-02 16:30] shubhamtibra commented on #10445
Ah, you are right.

[2016-02-02 17:42] asmeurer commented on #10445
I don't understand why that Add.make_args bit is there. We should definitely remove it.

[2016-02-03 01:41] architv commented on #10475
I would like to work on this one.

[2016-02-03 02:49] architv commented on #10475
@gxyd What all values should I test for?

[2016-02-03 19:04] asmeurer opened #10519 "Try codecov (code coverage)"
See https://github.com/cloudpipe/cloudpickle/pull/48#issuecomment-169821928 for an example of why this is cool. We could also try coveralls (see my ancient attempt to get it working at https://github.com/sympy/sympy/pull/1960).

[2016-02-03 20:18] Adrien79 opened #10520 "Error when pretty printing a slice of MatrixSymbol"
Slicing a MatrixSymbol with pretty printing on triggers an error.

[code]

[2016-02-03 20:25] Adrien79 opened #10521 "MatrixSymbol and MatrixSlice have no row_join and col_join"
The row_join and col_join methods do not work on a MatrixSymbol and for slices taken from it (of type MatrixSlice).
This prevents a function written with those methods for the Matrix type to be reused on a MatrixSymbol.

[2016-02-04 06:05] shubhamtibra commented on #10445
This issue can be closed now.

[2016-02-04 08:32] dalum opened #10522 "ufuncify fails with complex numbers + matrices"
I don't know if this is intentional or not, but ufuncify does not seem to handle complex numbers at all and complains that the symbol `I` is undeclared when compiling (with backend 'numpy'). By adding `#include <complex.h>` to the temporary output and changing `double` to `double complex` I was able to compile it manually by running the generated `setup.py` script, but this is of course a suboptim

[2016-02-04 09:13] thisch commented on #10522
Thx for the report. I'll take a look at it.

[2016-02-04 10:42] AnishShah commented on #10471
I read the source code and it appears that `hypersimp` returns None as zeta is not hypergeometric.

[2016-02-04 11:44] #10445 closed

[2016-02-04 12:25] AnishShah commented on #10471
I think, I can solve this, but I'm not sure if my way is a good way of solving this issue, I will send a PR in sometime.

[2016-02-04 17:34] #9927 closed

[2016-02-04 17:35] #10044 closed

[2016-02-04 19:42] asmeurer commented on #10392
https://github.com/sympy/sympy/pull/10405 was merged. I think this can be closed.

[2016-02-04 19:42] #10392 closed

[2016-02-04 20:02] asmeurer commented on #10081
https://github.com/sympy/sympy.github.com/pull/86

[2016-02-04 20:05] asmeurer commented on #10081
Also https://github.com/sympy/sympy/pull/10527

[2016-02-04 20:08] asmeurer commented on #9962
The upstream bug in the qtconsole has been fixed. See also the related https://github.com/jupyter/qtconsole/pull/95.

[2016-02-04 20:08] #9962 closed

[2016-02-04 20:10] asmeurer commented on #10264
This is a bug in the upstream qtconsole that has been fixed https://github.com/jupyter/qtconsole/issues/63. The workarounds that @moorepants describes above should work in the meantime.

[2016-02-04 20:10] #10264 closed

[2016-02-04 20:12] asmeurer commented on #10006
That pull request was merged. I think we decided not to do any deprecations yet. So I will remove the milestone from this issue. If there is anything that still needs to be done before 1.0 let me know.

[2016-02-04 20:24] asmeurer commented on #10509
Related (or possibly a duplicate) https://github.com/sympy/sympy/issues/5858

[2016-02-04 20:39] asmeurer commented on #10509
Actually I'm going to say that this is a duplicate.

[2016-02-04 20:39] #10509 closed

[2016-02-04 20:42] asmeurer commented on #5858
Also probably related: https://github.com/sympy/sympy/pull/7437. Anyone wanting to work on this should see if that PR should be resurrected.

[2016-02-04 21:15] meghana1995 commented on #5858
@asmeurer . I would like to work on this. It looks like that PR has merge conflicts and some restructuring required. I will look into this

[2016-02-05 03:37] gabrielantao opened #10529 "plot3d_parametric_line don't plot constant functions."
I've tried to plot a 3d particle path by using the Sympy` plot3d_parametric_line` function, but when I use a constant function (I mean, a integer number as `args`) I get a 0-dimension error. I tracked the problem in a `tree2str_translate` called inside of `Lambdifier` class. This method returns just a string with a number (representing this number) which cannot be correctly translated to lambda fu

[2016-02-05 04:24] shubhamtibra commented on #10503
Is this issue solved, i would like to work on it.

[2016-02-05 08:56] kshitij10496 commented on #10392
@asmeurer Yeah.
I am editing the changelog.

[2016-02-05 09:39] mvnnn commented on #9426
this issue is open ? i want to work on this.

[2016-02-05 10:07] mvnnn commented on #9193
i want to work on this issue :
[code]
i think ```None``` is correct answer . @debugger22 can you explanation about answer of ```ask()```

[2016-02-05 10:26] mvnnn commented on #8676
i want to work on this issue.this issue is open?

[2016-02-05 10:46] Toshad commented on #10488
Has this issue been resolved?? I would like to work on this.

[2016-02-05 15:26] asmeurer commented on #9426
@mvnnn "Deprecation Removal" issues do not have anything do to. They are just here to inform people who use the deprecated behavior (if you run `Q.infinity` you will get a message leading you here). See https://github.com/sympy/sympy/wiki/Deprecating-policy.

[2016-02-05 15:51] asmeurer commented on #10488
It hasn't been fixed, but I don't know if @shubhamtibra is working on it.

[2016-02-05 16:23] shubhamtibra commented on #10488
I'm not working on it right now. You can take it @Toshad .

[2016-02-05 16:49] asmeurer commented on #9193
The correct answer is True. If x > 1 then x > 0.

[2016-02-05 16:51] asmeurer commented on #9193
Looks like it worked in `sympy-0.7.2`.

[2016-02-05 16:54] asmeurer commented on #9193
I bisected it to 7420f1954930a227343d22565210b6cc1d20e53d.

[2016-02-05 16:55] asmeurer commented on #9193
That comes from https://github.com/sympy/sympy/pull/1890

[2016-02-05 17:24] smichr opened #10532 "simplify solveset/solve result for functions containing Abs"
It seems like the following

[code]

is not quite right. With #10158 work, I think this will become

[code]

and that is definitely wrong since that doesn't give the right value of `x` for the original expression.

What is the better way to state this in terms of sets?  Stated directly we would say that the solution is values of `x` equal to `y - 1` if `x + 1>0` is positive else `-1 - y` if `x + 1

[2016-02-05 17:56] asmeurer opened #10533 "aboutus page in the documentation"
I think we should consider getting rid of the "aboutus" page in the documentation (http://docs.sympy.org/latest/aboutus.html#sympy-development-team) (or rather, specifically, the list of people on that page). Reasons:

- The page is duplicated against the [AUTHORS file](https://github.com/sympy/sympy/blob/master/AUTHORS).
- The AUTHORS file is updated automatically with the `bin/authors_update.py`

[2016-02-05 18:58] smichr commented on #10533
+1 for the reasons cited. The commit log already contains a history of what a person has done.

[2016-02-05 19:23] #8365 closed

[2016-02-05 19:36] smichr opened #10534 "solveset issue when solving Piecewise with conditions not involving the symbol of interest"
[code]

I think the solution should be `Piecewise((0, y < 0), (-1, True))`.

[2016-02-05 20:39] asmeurer commented on #10533
See https://github.com/sympy/sympy/pull/10535.

[2016-02-05 20:49] kaichogami commented on #7027
@asmeurer I would like to work on this if no one else is working on it already.

[2016-02-05 20:50] asmeurer commented on #7027
I don't think anyone is working on it. I don't see any pull requests.

[2016-02-05 22:12] Upabjojr opened #10536 "N-dim array and __mul__: matrix product or not?"
Currently arrays in _sympy.tensor.array_ use `__mul__` only for array-scalar multiplication, raising an exception on array-array products.

Should the asterisk `*` handle array-array products as a generalization of matrix multiplications? That is, _A*B_ would perform a tensor product followed by a contraction of the last index in _A_ with the first one in _B_?

This way, if _A_ and _B_ are rank-2

[2016-02-05 23:42] smichr commented on #10532
I think the expression that should be returned is

[code]

But that will return an error if we substitution `I` for `y`, so perhaps

[code]

But that doesn't evaluate when replacing `y` with a bad value because the condition doesn't become a bool. Contains is probably the better form to use:

[code]

An unevaluated `Contains` must be used or else it becomes an `And` with Relationals that will fail

[2016-02-05 23:48] #10454 closed

[2016-02-06 02:01] smichr opened #10537 "pprint ConditionSet generates AttributeError"
[code]

If the `Contains` is replaced with `And` or `Interval`, the same error occurs.

[2016-02-06 05:11] shubhamtibra commented on #10434
I would like to work on it.

[2016-02-06 05:50] Toshad commented on #10488
Is there a function which will return a list of factors of an expression? Currently I am trying to make the list from the output of factor(), but I am not sure it will work in all cases.

[2016-02-06 05:50] shubhamtibra commented on #10434
@asmeure I can't find where things are going wrong. Can you take a look at it?

[2016-02-06 07:13] Shekharrajak commented on #10434
Few days back when I was working on this ,It seems that `Integral` can't handle if  the uppper and lower bound is `symbol`.
So need some lines of code that can `eval_interval` having lower and upper bound as `symbol` type.
If you want to work on this go ahead.
If I find no open PR then I'll try to fix this later.

[2016-02-06 07:46] darkcoderrises commented on #10152
I merged the pull requests, and now the tests are passing. What should be my next step.
https://github.com/sympy/sympy/pull/10246

[2016-02-06 08:18] shubhamtibra commented on #10434
The issue is only in piecwise functions where upper bound and lower bound are `symbols`. In all other cases it is evaluating the integral.

[2016-02-06 09:19] jksuom commented on #10488
There is ``Poly.factor_list`` in ``sympy.polys.polytools``.
[code]

[2016-02-06 09:38] sandeepveethu commented on #8634
[code]
@pelegm odd=True doesn't solve this issue
@jksuom can you help me in fixing this , i think [limitinf](https://github.com/sympy/sympy/blob/master/sympy/series/gruntz.py#L408) function is causing this issue but i am not able to figure out where?

[2016-02-06 11:08] Toshad commented on #10488
Thanks.

[2016-02-06 13:29] jksuom commented on #8634
I'm afraid this is not going to be easy to fix. It seems that ``limit`` invokes ``gruntz`` even if that would not be necessary in this case. That will routinely replace the variable ``x`` with an expression of type ``-exp(y)`` (as ``x`` is expected to be negative). Then ``x**n`` will take the form ``exp(y*n + I*pi*n)``, which is correct. But afterwards, in passing to the limit ``y -> oo``, the ``I

[2016-02-06 13:57] jksuom commented on #10536
Perhaps the ``__mul__`` method could exist in the ``Tensor`` class. It could take a scalar and a tensor or two tensors. I think that the contracted product would be more useful in connection with vectors and linear operators.

[2016-02-06 14:34] pabloferz opened #10541 "Slow antiderivative of sinc(x)**2"
The following throws and error and hangs on my machine:

www.sympygamma.com/input/?i=integrate(sin(pi*x)**2%2Fx**2%2C+x)

whereas

http://www.wolframalpha.com/input/?i=Integrate[Sin[x]%C2%B2%2Fx%C2%B2,+x]

works.

**Update:** It seems to be working on master but it takes a while.

[2016-02-06 14:43] shubhamtibra commented on #10541
This works fine `integrate(sin(x)**2 / x**2, x)` . Sympy can integrate this but is not able to do it in the form of `sinc` function.

[2016-02-06 15:03] shubhamtibra commented on #10541
Take a look at this #10464

[2016-02-06 15:09] pabloferz commented on #10541
I search for open issues before posting this, so I missed that, I don't know if it serves as a reminder to leave one of the issues open or if I should I closed this.

[2016-02-06 15:33] shubhamtibra commented on #10541
I think the issue should be reopened as that issue was closed and the bug is still not resolved.

[2016-02-06 15:41] leosartaj commented on #10541
@shubhamtibra In the latest master I get

[code]

I guess the issue is fixed.

[2016-02-06 15:54] shubhamtibra commented on #10541
Yes, you are right. But it took a long time to give the answer, I don't know if adding sinc(x)**2 can give a quick answer.

[2016-02-06 16:03] pabloferz commented on #10541
Yeah it seems to take too much time. I don't know if there is a way to speed this up.

[2016-02-06 16:27] sandeepveethu commented on #8634
@jksuom thanks a lot for the insight.

[2016-02-06 18:13] kaichogami commented on #7027
@asmeurer if I am correct, we have to set `_diff_wrt` of various defined functions in sympy such as functions in `sympy.functions.elementary.trigonometric` to `False` so that it raises an error, instead of giving a `0`?

[2016-02-07 06:14] darkcoderrises commented on #10537
@smichr Is this okay?

[2016-02-07 07:38] shubhamtibra commented on #10520
This was the output when I tested
`>>> A = MatrixSymbol('A', 4, 4)

'A[1, :4]'`
Sympy version
`

'0.7.7.dev'
`

[2016-02-07 10:10] darkcoderrises commented on #10536
if no one is working on this, can I?

[2016-02-07 10:52] Upabjojr commented on #10536
We need to decide what to do first.

[2016-02-07 10:59] Upabjojr commented on #10536
`Tensor` already supports `__mul__`, the kind of product is determined by its indices.

[code]

_-n_ is a covariant index, _n_ is contravariant.

[2016-02-07 11:27] Adrien79 commented on #10520
You're right, the bug was in 0.7.6.1.
I've just checked in 0.7.7.dev and it works for me too, sorry.

[2016-02-07 11:27] #10520 closed

[2016-02-07 11:52] jksuom commented on #10536
Does ``Tensor.__mul__`` also take a scalar-tensor pair? (I was too lazy to investigate...)

[2016-02-07 12:07] Upabjojr commented on #10536
`Tensor.__mul__` creates a `TensMul` object. It does just that.

`TensMul` is equivalent to `Mul`, except that it also handles index contraction and provides an API to inspect/handle indices of its arguments. Ideally `TensMul` should subclass `Mul`, but it is currently not the case because of some SymPy bugs with subclasses.

So `a*A(m)` would create a `TensMul(a, A(m))` object.

[2016-02-07 12:17] jksuom commented on #10536
So the array data in ``TensMul(a, A(m))`` is not the data of ``A(m)`` multiplied by ``a``?

[2016-02-07 12:18] Upabjojr commented on #10536
If an array is associated to `A(m)`, when retrieving the array from `TensMul(a, A(m))`, the array gets multiplied by `a`.

[2016-02-07 12:20] Upabjojr commented on #10536
Also, if you specify the array for `A(m)`, you cannot retrieve the array of `A(-m)`, unless a metric array has been associated to the index type of `m`.

[2016-02-07 12:31] jksuom commented on #10536
I think it would be quite enough to have array ``__mul__`` only for the case with one scalar factor. It may be confusing to have a ``*`` product for two vectors. Should it denote inner product or perhaps dyad product.

[2016-02-07 12:52] shubhamtibra commented on #10488
@asmeurer Were you talking about traversing the final expression to find instances of `log` and use `expand_log` to seperate out the `log` terms?

[2016-02-07 13:31] pelegm commented on #8676
This is probably fixed in #10338, but it's a good thing to check!

[2016-02-07 16:26] bjodah commented on #3539
Possibly related: gh-9064

[2016-02-07 19:30] shubhamtibra commented on #10425
I would like to work on it. @asmeurer Do you have any idea about where it might be going wrong?

[2016-02-07 21:55] bjodah commented on #10536
I personally prefer to not implement `__mul__` in case of ambiguity (which seems to be the case here). Or raise an informative exception telling the use how to explicitly choose a kind of multiplication.

[2016-02-07 23:44] moorepants commented on #10536
Keep in mind that the `@` operator, `__matmul__` is not in Python 3.5. We should plan to use that when appropriate.

[2016-02-08 01:28] darkcoderrises commented on #10462
I tracked the error down to this line https://github.com/sympy/sympy/blob/master/sympy/solvers/solvers.py#L303

On increasing number of digits in the accuracy, the result come out to be ->
[code]

[2016-02-08 04:23] Shekharrajak commented on #10068
I tried to solve this using different online solvers, but I am not sure which answer is correct (answers are complicated). Can you please paste an answer which looks correct for you ?

[2016-02-08 10:07] Shekharrajak commented on #9759
What output is expected ?

[2016-02-08 16:00] wdv4758h opened #10554 "codegen for Rust"
We have codegen for C, Fortran, Octave, now. Then, I wanna add a codegen for [Rust](https://www.rust-lang.org/) which is a new system programming language.

As I notice the merge of symcc is still going https://github.com/sympy/sympy/pull/10486, maybe I should wait for it to be finished. (I have tried a little bit of codegen for Rust on my local repo, though)

(I also want to have a codegen for [J

[2016-02-08 16:40] asmeurer commented on #10488
It should be possible to do this at a much lower level in the algorithm, where it actually creates the logarithms.

[2016-02-08 16:59] asmeurer commented on #10462
Ideally the precision would be computed automatically instead of having hard-coded values.

[2016-02-08 17:14] asmeurer commented on #10554
The symcc stuff is just needed if you want to codegen loops and stuff. For pure expressions, you can already do it.

[2016-02-08 17:18] asmeurer commented on #10554
By the way, I'm curious why Rust? It says it's a systems programming language. Is it also good at compiling fast numeric code? Or do you have some application where you are using Rust and want to include expressions in it.

[2016-02-08 21:17] darkcoderrises commented on #10462
Could you suggest something for the precision to be computed automatically?

[2016-02-09 02:38] smichr opened #10555 "recursion error with solveset"
[code]

[2016-02-09 05:54] ashutoshsaboo commented on #4795
@asmeurer @sympy-issue-migrator Is this issue fixed? I would like to work on this. Can I work on this?

[2016-02-09 07:02] stanleyjs commented on #9265
This bug is still here!  P(x>=int) evaluates, but P(x == int) or P(x is int) returns
'NoneType' object has no attribute 'probability'

[2016-02-09 08:52] smichr commented on #8886
I know this is old but there is an active PR at #10528: isn't the OP reason enough to support it? `foo/t` is defined for `foo in [s, v]` so `(foo/t).subs(foo, v)` should give `v/t`, shouldn't it? If you look at more of the error message you will see that the reason for the error is that Vector doesn't derive from Basic and is not in sympy_classes. If you read the `sympify` code you will find,

[co

[2016-02-09 09:51] #7163 closed

[2016-02-09 10:06] Shekharrajak commented on #10430
it doesn't have complex solution that's why it is returning `{x | x ∊ ℂ ∧ (x - 1)⋅sin(x) = 0}` isn't it ?

[2016-02-09 10:31] pabloferz commented on #10554
For Julia I just started on #10556.

[2016-02-09 15:42] wdv4758h commented on #10554
@pabloferz nice :+1:
@asmeurer It's just because I like the design of the language (try to get memory safety at compile-time) and I wanna write project with it. (I like the design of Julia also :smile: )

Rust is not design specifically for numeric code, but if there is a stuff people think they should use C or C++, then Rust should also fit the stuff.

For overall speed, there are some benchmarks

[2016-02-09 16:43] #10471 closed

[2016-02-09 16:44] asmeurer commented on #4795
Looks like it:

[code]

[2016-02-09 16:44] #4795 closed

[2016-02-09 20:32] stanleyjs commented on #9265
Okay, so I am chewing on this a little bit, but I am new to contributing to these sorts of projects.  I have discovered the problem with this issue: namely, if you pass P(dist <conditional>) any conditional that evaluates to a boolean, it will evaluate it instead of passing it and taking the density of it.

EG

[code]
returns a proper value and, using the terminal to output the conditional:

`X>=2

[2016-02-09 20:55] stanleyjs commented on #9265
I updated to the git version and seems to be working now.

[2016-02-09 21:03] leerobert opened #10560 "Is simpify evaluate flag being recursively passed through sympy core functions (Add/Mul/Pow)?"
I have noticed when trying to explicitly write out solution steps sympy attempts to simplify the expression unless the evaluate flag is set to false. I'm fine with that expected behavior.

I seem to get some weird behavior depending on whether the any terms are negative:

    9.2*(4.1 + 3*4)

    9.2*(-12 + 4.1)

    9.2*(-12 + 4.1)

    9.2*(-2*3 + 4.1)

Explicitly writing out the Mul core functi

[2016-02-09 21:41] yash14123 commented on #10555
Please assign me this task.

[2016-02-09 21:44] yash14123 commented on #10532
Please assign me this task.

[2016-02-09 21:48] yash14123 commented on #10456
Is this open? Please assign me if this is open.

[2016-02-09 21:57] huberfelix0 opened #10561 "pprinting inconsistent: sympy.subs() with noncommutative symbols"
This issue is in reference to an [issue](http://www.github.com/jupyter/notebook/issues/1070/) on jupyter. There, opening a ticket on sympy was suggested.

pprinting (init_printing()) gives inconsistent output when confronted when using sympy.subs() with noncommutative symbols:

Inconsistent behavior with pprinting:
[code]

Expected and correct behavior without pprinting :
[code]

The issue does no

[2016-02-09 22:09] asmeurer commented on #10561
The problem is with the `latex` function:

[code]

I guess it doesn't handle unevaluated Muls that well (the Mul is unevaluated because otherwise the `-` would distribute automatically).

[2016-02-09 22:14] asmeurer commented on #10456
Yes, it's open. Feel free to work on it.

[2016-02-10 00:46] darkcoderrises commented on #10265
Should the assumptions to all MatrixElement's be same or there should be a way to set them individually.
And if they are different, then can we use a dictionary of tuple vs assumptions?

[2016-02-10 01:16] smichr commented on #10226
(I always start a session with `from sympy import *`; `solveset` is in `sympy.solvers.solveset`.)

[2016-02-10 01:28] smichr commented on #10226
It seems like it should not be trying to get anything from a solver that requires roots to be sorted. If the domain is real the `real_roots` routine should be used. If all radicals are removed from the OP expression,

[code]

[2016-02-10 04:45] dusenberrymw commented on #10509
@moorepants Apologies for the delay.  As a followup, I would expect `B` for the given expression `dA*B/dB`.

@asmeurer Thanks.  From the opening post (~2011) on that PR, it looks like differentiation on MatrixSymbols was once possible (albeit, possibly incorrect).  Was this removed at some point?