[2018-06-01 09:30] sidhantnagpal commented on #14709
Yes, issue confirmed. Also, integral does not evaluate for some numeric values.
[code]

[2018-06-01 16:03] VahanArsenyan opened #14762 "Simplification Error for logarithm"
`log(x,x)` simplifies to `1` which eliminate constraint that `x` have to be bigger then zero and not equal to 1 in real domain computation.
Is there a way to fix this, or change behavior to make evaluations in real domain.

Thank.

[2018-06-02 11:08] sidhantnagpal commented on #14762
Well, if you realize this logarithm value as `a` s.t. `x**a = x`, it would imply `a = 1`, which holds for all `x` in real domain.

[2018-06-02 11:57] ashishkg0022 opened #14763 "Implementation of `multivariate partial fraction decomposition`"
On performing apart on some expression I get a NotImplementedError.
For example:
[code]
In mathematica ouput for above is `e^2/((c d^2+a e^2) (d+e x^n))-(c (-d+e x^n))/((c d^2+a e^2) (a+c x^(2 n)))` .
It will be good if it's implemented.

[2018-06-02 12:16] VahanArsenyan commented on #14762
and what it be for `log(0,0)`

[2018-06-02 19:34] sidhantnagpal opened #14766 "Sage causing failures on travis"
The error being thrown is:
[code]

[2018-06-02 20:14] asmeurer commented on #14766
CC @isuruf

[2018-06-02 20:16] asmeurer commented on #14766
I don't know what the issue is, but it looks like the recipe only imports `sage` instead of `sage.all` in the tests.

[2018-06-02 20:17] asmeurer commented on #14766
Here is a build with the failure https://travis-ci.org/sympy/sympy/jobs/387181728

[2018-06-02 21:11] gbecigneul commented on #9190
@asmeurer @jcrist @jschall
Much simpler: access the only element of a matrix `X` of shape `(1,1)` with `X[0,0]`
[code]

[2018-06-03 01:43] JMSS-Unknown opened #14768 "Latex printer does not support full inverse trig function names for acsc and asec"
For example
`latex(asin(x), inv_trig_style="full")` works as expected returning `'\\arcsin{\\left (x \\right )}'`
But `latex(acsc(x), inv_trig_style="full")` gives `'\\operatorname{acsc}{\\left (x \\right )}'` instead of `'\\operatorname{arccsc}{\\left (x \\right )}'`

A fix seems to be to change line 743 of sympy/printing/latex.py from
`inv_trig_table = ["asin", "acos", "atan", "acot"]` to
`inv_t

[2018-06-03 05:44] #14766 closed

[2018-06-03 17:51] will-ca opened #14769 "Exception when autowrapping a large procedurally generated expression."
Stack trace:
[code]

The expression:
[code]

The same expression works on another computer without problems. However, even on the machine where it doesn't work, many other expressions still work just fine. I have several hundred of these with similar behaviours.

[2018-06-03 17:55] asmeurer commented on #14763
There is already an issue for this https://github.com/sympy/sympy/issues/6246

[2018-06-03 17:55] #14763 closed

[2018-06-03 18:36] jksuom commented on #14763
If there are several variables, `apart` should be given another argument.

    apart(1/((a + c*x**(2*n))*(d + e*x**n)), x**n)

[2018-06-03 18:43] bmccary opened #14771 "Functions and Exponents"
To begin: I teach math at university and I find sympy and pythontex very useful for reasons I imagine are obvious to you.

Suppose I have the following python script.
[code]
That is, `(sin(x))**2` is rendered as *sine squared x* and `(log(x))**2` is rendered as *log x squared*. Until recently, I believe that the logarithms would have followed the trigonometry functions in placing the exponent near

[2018-06-03 18:51] ashishkg0022 commented on #14763
Thanks @jksuom .
But there are other expressions like `(f*x)**m*(d + e*x**2)**q/(a + b*x**2 + c*x**4)` . Passing `x**2` or `x**4` is not resulting in any simplification.

[2018-06-03 19:36] skirpichev commented on #14380
I seems, implemented in AlgebraicNumber.to_algebraic_integer() algorithm produces not simplest algebraic integers.  For example, here we have extra factor 2:
[code]

[2018-06-04 01:47] will-ca commented on #14769
Another of the several hundred:
Stack trace:
[code]
Expression:
[code]

[2018-06-04 01:57] will-ca commented on #14769
Okay, so the problem seems to be exactly as it says; a temporary build directory was made in `/tmp` with each of the several hundred successive builds until the partition it was assigned to ran out of space.

I'm closing this as it is easily avoided/fixed on the user's end and not specific to `sympy.autowrap`. A note in the documentation for `autowrap` might still be nice though, as having `/tmp`

[2018-06-04 05:52] jksuom commented on #14763
`apart` only works with rational functions of one variable (that may be an expression like `x**n`). In case of `(f*x)**m*(d + e*x**2)**q/(a + b*x**2 + c*x**4)`, the numerator is not a rational function of `x` because of the variable exponents `m` and `q`. It seems that the expression cannot be written as a rational function of any single variable.

[2018-06-04 07:41] will-ca commented on #14769
Actually, wouldn't it make more sense for unused files to be deleted in each `/tmp/tmpXXXXXXXX_sympy_compile` directory after the autowrap function call finishes?

[2018-06-04 15:45] moorepants commented on #14769
Yes, we should be able to cleanup the files on failed builds. I thought that is what it did, but maybe not.

[2018-06-04 18:50] homocomputeris commented on #5856
In master branch I've noticed that
[code]
gives 0.
I don't know if by definition commutative by non-commutative should give commutative. This way, though, one can't represent, say, non-commuting operator acting on a commuting operator.

[2018-06-05 00:40] asmeurer commented on #5856
Yes, that is expected behavior. SymPy only knows about commutative expressions and noncommutative expressions. In a Mul, all commutative terms are pulled out to the end and re-ordered, and the noncommutative terms are kept in order. In other words, commutative=True means "commutes with everything", including commutative=False.

[2018-06-05 02:54] caley commented on #14671
As a crude fix, we could do something like this
[code]
i.e. only wrap the arguments if we run into a problem.  This would speed up this benchmark at least.  The overall benefit would depend on real world use: how often do zero divisions come up in (correct) code, or how often the arguments will already be numpy arrays, given that the user selected the numpy module.

[2018-06-05 05:43] asmeurer commented on #14771
I agree we should change it or at least add an option.

By the way, it isn't necessary to fork SymPy to make the change. The printing system is designed to be extensible. You can just subclass `LatexPrinter` and define your own custom `_print_Pow`.

Since you have done so, however, you can send it as a pull request. It will need a test as well. The option name could be something simpler as well.

[2018-06-05 05:52] asmeurer commented on #14671
The arguments will very often be numpy arrays, but not always. I can't say what the split would be but there are a good number of both.

The problem in the [original issue](https://github.com/sympy/sympy/issues/11306) was a piecewise function that had `1/x` which normally wouldn't be evaluated, but because of the way the numpy expression works, all arguments are evaluated, even if the `np.select`

[2018-06-05 05:56] asmeurer commented on #14769
Looks like it was disabled by f144353d91d, probably by accident. @bjodah

[2018-06-05 23:09] #14721 closed

[2018-06-05 23:51] #12675 closed

[2018-06-06 01:47] #14044 closed

[2018-06-06 06:02] jlumpe opened #14776 "Organize the wiki sidebar"
The wiki contains nearly 500 pages, which are all listed in alphabetical order in the sidebar with no other form of organization. There is of course a lot of useful information in there but as it stands it is very difficult to find without using the search box.

I think this could be solved nicely by creating a custom sidebar. The pages could be grouped into a smaller number of general categories,

[2018-06-06 07:55] jksuom commented on #14776
I think that it is a good idea. You are welcome to do that.

[2018-06-06 19:06] jlumpe commented on #14776
Great, I'll try to put together a series of Wiki pages to get everything organized, including a sidebar page that won't actually be set as the sidebar until I finish and submit it for review.

[2018-06-06 19:34] ethankward opened #14779 "Spurious solutions when solving equation involving Abs(x)/x"
[code]

Only `sqrt(130)` is valid.

[2018-06-07 07:59] k-eks opened #14780 "Endless loop on 4x4 matrix when calculating eigenvectors"
When i tried to run the code below, it seemed to loop endlessly without a result even after 14 hours of computation. What I tried was to compute the eigenvectors of a 4x4 matrix. I have the same problem wether I run it on a jupyter notebook or in ipython.

I ran the

[code]

[2018-06-07 10:53] ruchika-1 opened #14781 "How to solve set of 4 non linear equations."
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ruchika/anaconda2/lib/python2.7/site-packages/sympy/solvers/solvers.py", line 2730, in nsolve
    % len(args))
TypeError: nsolve expected at most 3 arguments, got 4

[2018-06-07 10:54] #14781 closed

[2018-06-07 11:43] jksuom commented on #14780
Computing the eigenvalues takes less than 2 minutes on my system but the expressions are very complicated. The expression of a single eigenvalue has length 59310, much more than what the screen buffer can hold. This is a small piece of one eigenvalue:
[code]
It seems that a the memory of my system is not big enough for computing the eigenvectors, and the system slows down dramatically when it star

[2018-06-07 20:59] ethankward opened #14782 "integrate(sqrt(-x**2 + 1)*(-x**2 + x), [x, -1, 1]) is incorrect"
[code]
The answer should be `-pi/8`.

The integral from `0` to `1` is also incorrect and returns a weird empty `Piecewise` object:

[code]

[2018-06-08 07:42] k-eks commented on #14780
Aha! Thanks for the information! I have not expected such an increase in complexity as the eigenvector calculations took only moments for a 3x3 matrix. I have outsourced the code to our computational cluster where the code can have all the time it wants. If you are interested, I can tell you the computing time results once it's done.

[2018-06-09 18:57] LostFan123 opened #14787 "Unexpected increasing of precision when using .evalf() method on a Piecewise function"
This
[code]
will give `8.28571428571429`.  As docs say, 15 digits is a standard precision.

But if I put this fraction in a `Piecewise` and apply `.evalf()`:
[code]
this will give:
[code]
Looks like a bug to me.

[2018-06-10 14:43] LostFan123 opened #14789 "Lambdified Piecewise produces "RuntimeWarning: invalid value encountered in log""
Simple example:
[code]
gives:
[code]
Value is calculated correctly, then why is there a warning?

[2018-06-10 16:16] moorepants commented on #14789
Seems like it is evaluating both log(x) and log(-x). But the underlying printer doesn't seem to do this:

[code]

[2018-06-11 16:09] sidhantnagpal opened #14791 "No solution is returned for `solve(exp(log(5)*x) - exp(log(2)*x), x)`"
Transcendental Equation:
[code]

Original Comment: PR [#14712](https://github.com/sympy/sympy/pull/14712#issuecomment-393174502)

[2018-06-11 21:12] ethankward opened #14793 "Limit involving log(factorial(x)) incorrect"
From [here](https://mathematica.stackexchange.com/questions/174966/bug-wrong-limit-in-mathematica-11-1-1-and-current-wolframalpha), SymPy also gets this wrong but in a different way:

[code]

The correct answer is `1/360`.

[2018-06-12 02:09] smichr commented on #14791
[code]

[2018-06-12 10:52] pozdneev opened #14794 "Docstring typo in TensorProduct()"
In `TensorProduct()`, the prefix "non-" should not be the last word on a [line](https://github.com/sympy/sympy/blob/c2360561e9fe2119791149f5b097bd860e0ab4cc/sympy/physics/quantum/tensorproduct.py#L59):
![image](https://user-images.githubusercontent.com/640788/41286242-64bb2d54-6e47-11e8-8901-e612ebc001cf.png)

That is rendered as "non- commutative" (notice the space between a dash and a word that

[2018-06-12 16:33] sidhantnagpal commented on #14794
Fixed in #14795

[2018-06-12 22:36] #14041 closed

[2018-06-13 11:58] schymans commented on #14741
Why would `foo.subs(Eq(a, b))` be a special case? Seems consistent to me that it would be the same as `foo.subs(a, b)`.

[2018-06-13 14:56] asmeurer commented on #14789
You want the NumPyPrinter.

[code]

It has to use `np.select` so that the if-then-else gets vectorized, meaning the "incorrect" branch is always evaluated. This was also the problem with https://github.com/sympy/sympy/issues/11306. Is there a better NumPy function we can use with lambdify that doesn't evaluate unused branches, but still works on arrays? Such a function would be more efficient too.

[2018-06-13 17:37] cklb opened #14796 "Substituiton of UndefinedFunction in Integral fails"
Consider the problem

[code]
where `expr.subs(f, g)` yields: `g(1) + g(x) + 10`. But if the same expression is the argument of an integral
[code]
the substitution `int_expr.subs(f, g)` fails with

Herein, `old` is the `UndefinedFunction` f and `old.free_symbols` is returning the property object.
As it occures to me, polling the property `free_symbols` should return a (possibly) empty set which is

[2018-06-13 22:23] #14794 closed

[2018-06-14 20:14] DarylMcCullough commented on #14796
I'd like to take a crack at working on this.

[2018-06-15 00:07] DarylMcCullough commented on #14796
Okay, looking into the problem, when you're doing `expr.subs(new, old)` and `expr` is an integral, then there is code that checks for the properties `free_symbols` and `args` and `atoms` of the `old` argument. In the case that `old` is an `UndefinedFunction`, it doesn't have any args or atoms or free_symbols. But the weird thing about the implementation is that `new.free_symbols` doesn't simply re

[2018-06-15 14:44] DarylMcCullough commented on #14796
I was able to fix cklb's bug, but I'm a little worried about whether a more major revision is needed to address substitution within expressions. As I said in the above comment, I don't really understand what `.atoms`, `.args` and `.free_symbols` are supposed to do for objects of type `FunctionClass`. Should they raise an error? Should they return an empty list? Currently, they return a `property`

[2018-06-15 18:20] DarylMcCullough commented on #14796
Okay,, I'm not sure what the original reasoning was, but function symbols are represented in SymPy by classes, not objects. So for example `cos(x)` is an object of type `cos`. That explains why `cos.free_symbols` returns a property; that's saying that `free_symbols` is a property of objects of type `cos`. It isn't returning the free symbols of the `cos` object.

So function names are not objects i

[2018-06-15 19:22] #12744 closed

[2018-06-15 19:22] #14262 closed

[2018-06-16 01:08] filip-misun opened #14799 "Faster and more accurate solve_poly_system"
So I was reading the source code of the solve_poly_system function. This is a function that finds the
solutions of a system of multivariate polynomial equations. As far as I understand it, the solutions are found by elimination of the variables, i.e. first, we compute the groebner basis with respect to the lexicographic ordering of the monomials and subsequently, backsubstitution is used to collec

[2018-06-16 03:13] #14768 closed

[2018-06-16 03:19] asmeurer commented on #14796
You can use `int_expr.replace(f, g)` to replace `f` with `g`. `subs` presently doesn't support replacing function objects. I'm not sure if support should be added.

[2018-06-16 03:29] asmeurer commented on #14762
`log(x, y)` just reduces to `log(x)/log(y)` (https://github.com/sympy/sympy/issues/6888).  Is the change of base formula not valid for all complex values?

And for x=0 and 1, is 1 the correct limiting value? If the change of base formula is correct, it should be.

[2018-06-16 03:36] asmeurer commented on #14787
Looks like `Piecewise._eval_evalf` passes the `prec` to `evalf`, but `prec` is the binary precision and `evalf` takes the decimal precision. It needs to call `_eval_evalf` instead. Should be easy to fix.

[2018-06-16 08:43] skirpichev commented on #14799
That's not true.  For polynomials with integer/rational coefficients - there are implemented methods (see rootisolation module) to solve such problems exactly (through, AFAIK SymPy still uses roots() function instead of using this fact, so some roots may be lost).

Unfortunately, during backsubstitution you may get new univariate equation with algebraic coefficients (see #9366).  Solving such equa

[2018-06-16 11:31] DarylMcCullough commented on #14796
asmeurer,

My feeling is that if the program doesn't want to support replacing function names, then it should raise an exception, rather than sometimes work and sometimes not. As I said, there is no reason for

`f(x).subs(f,g)`

to result in

`g(x)`

and yet

`Integral(f(x), (x, 0, 1)).subs(f,g)`

to raise an exception. (Especially not the exception

`TypeError: 'property' object is not iterable .

[2018-06-16 14:27] filip-misun commented on #14799
In any case, the backsubstitution method isn't implemented very well in solve_poly_system(), in my opinion. If you look at the source code, you can see that the groebner basis is computed from scratch at each step of the backsubstitution. Computing groebner basis can be very expensive and you don't want to do it more than once if it's not necessary. It is quite easy to implement the backsubstituti

[2018-06-16 15:13] skirpichev commented on #14799
That might be a good improvement on it's own.  I would like to port such algorithm to the Diofant even if it will be restricted only on zero-dimensional case (Diofant can handle positive-dimensional systems too).

Is that means they are rationals?

[2018-06-16 17:12] iamarshsingh commented on #14787
I would like to work on this.

[2018-06-16 21:14] dg234r opened #14803 "wrong summation index diff(Sum(a[k]*x**k, (k, 1, m)),x)"
When summing a symbolic polynomial of in summation form the index of the sum needs to be corrected to not include the 1/x term that is in the current version,
a = IndexedBase('a')
Sum(a[k]*x**k, (k, 1, m))
diff(Sum(a[k]*x**k, (k, 1, m)),x)  // range of answer k should automatically change to 2.
This is more of a hassle if you deed the derivatives of the product of two or more different polynomials

[2018-06-16 21:34] dg234r commented on #14803
APPOLIGIES,, PLEASE CLOSE it correct I missed the bounds of the original I thought I had started with the polynomial starting with the DC constant term not the linear term..
,

[2018-06-16 21:34] #14803 closed

[2018-06-16 21:56] dg234r commented on #14803
SORRY SORRY SORRY  I second guessed myself a little too fast.
It looks like I was right the first time
HERE is the derivative of the sum with the  DC term included.
THE ANSWER IN THE INDEX IS WRONG AFTER ALL.
 SYMPY IS INCLUDING   is including an extra term in the derivative.
a = IndexedBase('a'),
diff(Sum(a[k]*x**k, (k, 0, m)),x) ???? ANSWER INDEX K SHOULD START AT NOT ZERO,
first term should sta

[2018-06-16 22:28] dg234r commented on #14803
SUPER SORRY I GUESS I HAD IT THE FIRST TIME. THE INDEX ISSUE CAN BE SEEN VERY CLEARLY BY
STARTING THE SUM AT K=0.
Sum(a[k]*x**k, (k, 0, m))
diff(Sum(a[k]*x**k, (k, 0, m)),x) // FIRST TERM SHOULD BE a1 NOT a0!!!!!
A detail to fix. THANK YOU! DG

[2018-06-17 06:09] skirpichev opened #14804 "Functions in rootisolation.py should assume rational bounds for intervals/rectangles"
Consider [L301](https://github.com/sympy/sympy/blob/eb6382a1cdd1a87f7ef950dc588923273d2afa0f/sympy/polys/rootisolation.py#L301): here K.zero/K.one are used to initialize boundaries for interval, isolating a real root.  Currently, K can be only ZZ, functions don't accept anything else, see e.g. [L503](https://github.com/sympy/sympy/blob/eb6382a1cdd1a87f7ef950dc588923273d2afa0f/sympy/polys/rootisola

[2018-06-17 08:49] jksuom commented on #14804
It seems to me that the isolation code should work over any ordered field K. Currently, Q is the only choice but K could also be any real algebraic field provided its order is properly implemented. For such a field K, I think it would make perfect sense to support endpoints belonging to K for isolation intervals as they arise naturally in the process. Rational endpoints could probably be also foun

[2018-06-17 09:41] skirpichev commented on #14804
Yes, it should.  At least with some minor modifications (see PR).

@jksuom, the question: is it worth supporting such endpoints?

In fact, they don't arise in the process, that's the point, unless specified with sup/inf parameters.  If they are not specified - end points should stay rational.  See example from [this commit message](https://github.com/diofant/diofant/pull/630/commits/2ef4c01311d3b4

[2018-06-17 13:16] avishrivastava11 commented on #14787
I want to take this issue if still open..

[2018-06-17 16:39] jksuom commented on #14804
Hmm... I forget the details, but if it is easy to find intervals with rational endpoints, then they should probably be preferred. Could non-rational endpoints be useful in some connection?

[2018-06-17 17:27] skirpichev commented on #14804
I can't suggest use case.

[2018-06-17 17:36] jksuom commented on #14804
I cannot think of it either.

[2018-06-17 18:42] filip-misun opened #14805 "More effective backsubstitution in solve_poly_system()"
The solve_poly_system function, which is used for solving systems of polynomial equations, currently implements the backsubstitution method: construct groebner basis w.r.t. the lexicographic ordering and then use backsubstitution to find all solutions, starting with the univariate basis polynomial. If you look into the implementation of solve_poly_system, you can see that at each step of the backs

[2018-06-18 03:12] asmeurer commented on #14577
This was changed since the last release, so we should probably decide what we want to do before we release again. I'm leaning toward our current definition.

In sympy-1.1.1, `binomial(-1, -1)` gives `1`. Was the definition there the one from the paper, or was it just wrong?

[2018-06-18 03:50] sidhantnagpal commented on #14577
I am +1 for this:

[2018-06-18 06:04] avishrivastava11 commented on #14805
i would like to take up this issue if open..

[2018-06-18 06:08] avishrivastava11 commented on #14805
@filip-misun  can you tell the path (from the main repo ==> into the exact file) of the file and the exact location of the code (snippet) where you are suggesting the improvement

[2018-06-18 07:14] skirpichev commented on #14805
Oh...

@filip-misun, AFAIK it's not a requirement that you must fill bugreport first.  If you have a clear idea what to do - just make a pull request.  Beware, backsubstitution algorithm of solve_poly_system() in sympy is not very well developed (i.e. it can handle only zero-dimensional systems, can omit some solutions due to using roots() to solve univariate polynomial equations, etc).  So, you m

[2018-06-18 09:12] cklb commented on #14796
First things first: I want to thank you both very much for your replies.

If `subs` is not meant to replace function objects I'm perfectly fine with that, but as Daryl stated it should be more consistent in its behaviour. In favour of this functionality, I might add that `_eval_subs` of `ExprWithLimits` already includes cases for `AppliedUndef` and `UndefindFunction` it just doesn't manage to reac

[2018-06-18 13:48] skirpichev opened #14806 "Domain.is_positive (and friends) is a wrong interface"
By default, ``foo.is_positive(bar) == bar > 0``, see [this](https://github.com/sympy/sympy/blob/f3bba6cefdd047524f71bccb4a1295493c306acd/sympy/polys/domains/domain.py#L415).  Yet, this method (and is_negative and so on) are overloaded in subclasses to do very different things.

For example, [it returns](https://github.com/sympy/sympy/blob/f3bba6cefdd047524f71bccb4a1295493c306acd/sympy/polys/domain

[2018-06-18 14:11] sidhantnagpal commented on #14791
Fixed in #14712

[2018-06-18 14:12] #14791 closed

[2018-06-18 14:16] filip-misun commented on #14805
Sorry @avishrivastava11, I am already working on it and it's almost done.

I am just following the instructions in the [Development workflow](https://github.com/sympy/sympy/wiki/Development-workflow#pick-an-issue-to-fix), where it says "Create an issue if there isn't one for what you want to do". I guess I could skip this step, but honestly, I don't think it is a bad practice.

Yeah, I can see tha

[2018-06-18 16:41] asmeurer commented on #14805
There's no problem with opening an issue first. But if you already have some work in progress code you can start a WIP pull request and we can discuss things there (it's usually easier to discuss ideas if there is some code, even if it's incomplete).

By the way, `nsolve` can handle systems of equations just fine (it uses newton's method, via mpmath.findroot).

[2018-06-18 18:51] skirpichev commented on #14805
I see, sorry for misinformation.  That's something new, I guess to reduce numbers of stale PRs in the sympys review queue...

I'm not sure.  In the diofant this is fixed by using .all_roots() method, instead of roots().

Oh, I bet - nsolve() can miss solutions.  (but I think, that mpmath.polyroots shouldn't)

You can take look on the code, if interested.  Method is same as implemented e.g. in Redu

[2018-06-19 01:06] DarylMcCullough commented on #14796
I don't know whether it was incorporated, or not, but fixing things so that

```Integral(f(x) + f(1) + 10,(x, 0, 1)).subs(f,g)```

works to produce

 ```Integral(g(x) + g(1) + 10,(x, 0, 1))```

was not too difficult. The problem as I found out was that the substitution code looks for things like `exp.args` and `exp.free_symbols` and `exp.atoms`. None of those work if `exp` is a function name. My f

[2018-06-19 05:38] avishrivastava11 commented on #12045
I would like to take up this issue if it's still open @asmeurer ?
@asmeurer  could you tell me the progress you have made?

[2018-06-19 06:29] caley commented on #11306
I was looking at this in relation to #14671, and found the following fails (assumes numpy is available):
[code]
The problem is that numpy is used by default, but the input argument wrapping is only enabled if numpy is explicitly requested: https://github.com/sympy/sympy/blob/f3bba6cefdd047524f71bccb4a1295493c306acd/sympy/utilities/lambdify.py#L436-L440
Is there a reason for the `module_provided` p

[2018-06-19 07:00] caley commented on #14671
I just noted in in #11306 that the numpy backend gets used by default, but the input wrapping is only enabled when numpy is explicitly requested, which can cause problems.  It would be reasonable to leave the wrapping to the user if they asked for the numpy module, but not if they're just expecting sensible default behaviour.

If the only reason for the argument wrapping is to make Piecewise work,

[2018-06-19 09:39] cknoll opened #14808 "codegen changes pickle representation of an object"
Consider the code

    import sympy as sp, hashlib, pickle, copy
    from sympy.utilities.codegen import codegen

    e1 = sp.symbols("x1")
    e2 = copy.deepcopy(e1)
    e3 = sp.Symbol(e1.name)

    args = [e1]

    h1a = hashlib.sha256(pickle.dumps(e1)).hexdigest()
    h1b = hashlib.sha256(pickle.dumps(e2)).hexdigest()
    h1c = hashlib.sha256(pickle.dumps(e2)).hexdigest()

    res = codegen(("M

[2018-06-19 11:17] filip-misun commented on #14805
Sorry, I didn't express myself quite clearly. Of course, there is no numerical algorithm that guarantees to find all roots of any instance of a polynomial. But there are algorithms that perform reasonably well in finding all roots, except for some pathological instances. Numpy, for example, has polyroots() function, which reduces the root location problem to an eigenvalue problem of the companion

[2018-06-19 16:17] JonathonMisiewicz opened #14809 "secondquant.py evaluate_deltas eliminates non-dummy indices"
My use of secondquant.py requires that I sum over some indices but not others. My understanding is that SymPy assumes an index is summed over if it is a dummy, and not summed over otherwise. (See the _expand_operators docstring, and that we have substitute_dummies instead of substitute_symbols.) When I use the evaluate_deltas function, it can eliminate an index that is not marked as a dummy. It ca

[2018-06-19 16:42] asmeurer commented on #14671
I believe Piecewise is the only issue. The problem is that certain points are evaluated but never actually used.

I think the ideal solution would be to construct an output array and use masks to only apply the piecewise functions at the conditions. This is possible now that we can generate full functions. This would be more efficient, as np.select evaluates every element of the input arrays at ev

[2018-06-19 16:47] asmeurer commented on #14671
Something like this

[code]

(I think `np.broadcast` is the rig thing to use here)

[2018-06-19 16:50] asmeurer commented on #14671
Hmm, but we would have to apply the masks in reverse order, to ensure the first matching condition is applied. Meaning something like `Piecewise((log(-x), x < 0), (log(x), True))` from https://github.com/sympy/sympy/issues/14789 would still generate warnings.

[2018-06-19 16:51] asmeurer commented on #14671
I guess we can do something like

[code]

[2018-06-19 18:10] cklb opened #14810 "replace yields wrong result for Subs if encountered in Add"
First of all, sorry for the cumbersome title; Consider the following rather dumb case:
[code]
As one would expect, `expr.replace(a, c)` correctly yields `Subs(c, (c,), (b,))` . However, if the object of interest is an `Add` instance as in
[code]
a call to `expr2.replace(a, c)` yields `Subs(c, (_Dummy_19,), (b,)) + 1` .

**Traceback**
As it occurs  to me, the work here is mostly done in `Basic._xre

[2018-06-20 03:13] asmeurer commented on #12045
You can see the cross-referenced pull requests. It looks like `nsimplify(0.333333333333333, rational_conversion='exact')` still doesn't work correctly.

[2018-06-20 07:54] avishrivastava11 commented on #14787
@asmeurer
when you said

what does " it " refer to here ?
Because I have another solution by which `prec` will first get converted to decimal precision and then get passed on to `evalf` .
But I don't understand what you mean by

So pls explain what "it" is referring to, here.

[2018-06-20 07:56] avishrivastava11 commented on #14787
@asmeurer
I don't understand what exactly " it " was referring to in the below statement.

pls explain

[2018-06-20 08:45] avishrivastava11 commented on #14787
@asmeurer
I don't think calling `_eval_evalf` would be correct as you suggested earlier as then it would send the function into an infinite loop resulting in an error.
instead we could call `N` inside `evalf` which would then eventually result in the default decimal precision of (earlier binary) `prec`.
Pls let me know if I am wrong.

[2018-06-20 09:06] skirpichev commented on #9366
Real algebraic coefficients also not poses any problem (see draft implementation in diofant/diofant#/630).

@jksuom, I think that real/imag parts are defined well only for CM-fields.  Is there some algorithm to produce such extensions of QQ for polynomials with algebraic coefficients?  Or you are keeping in mind some other possibility?

[2018-06-20 09:42] avishrivastava11 commented on #13425
@cbm755 @asmeurer  can I work on this issue?
Is it still open?

[2018-06-20 10:15] pruvisto opened #14811 "Exception during evaluation of limit (only locally, not in the live version)"
The following limit correctly evaluates to ∞ in the live version of sympy at http://live.sympy.org:

    limit(((1 + (Rational(2,3) ** (x + 1))) ** (2 ** x)) / (2 ** (Rational(4,3) ** (x - 1))), x, oo)

However, in `isympy` on my machine, I get the following exception

    [...]

    /usr/lib/python3.6/site-packages/sympy/series/gruntz.py in gruntz(e, z, z0, dir)
        662     # It might be nice

[2018-06-20 12:51] jksuom commented on #9366
I think that you already have an algorithm for (an isolation interval of) the real part of an algebraic number. It should be possible to do the same for the imaginary part. Assuming that each algebraic coefficient can be written as `c = a + ib` where `a` and `b` are real it should be possible to separate the real and imaginary parts of any polynomial with algebraic coefficients in `z = x + iy`. Fo

[2018-06-20 13:56] skirpichev commented on #9366
For finding real roots of the polynomial with real algebraic coefficients.

The tricky part is: when notion of real and imaginary parts does make sense.

Lets we have some set of algebraic numbers (coefficients of the given polynomial, say ``{c_k}).  The problem is how to construct a 1) suitable extension of QQ, that has these numbers and that taking real/imaginary parts in this extension does mak

[2018-06-20 13:58] iamarshsingh commented on #14787
@asmeurer Please evaluate my pull request. I have given a small description of the issue and solution to it in the pull request. Thank You

[2018-06-20 16:15] cristian-frincu opened #14813 "xreplace does not replace all instances of the symbol"
I am trying to replace a function, with a matrix form, symbolically. I was getting an error when using .subs(), so I ended up using .xreplace(). The function works, but it does not make the replacements for all the instances of the variable I am trying to replace.
Does anybody have any idea why it might not work? There are no errors when the function is run.

I am not sure what portion of the code

[2018-06-20 17:46] jksuom commented on #9366
If you begin with the minimal polynomial (over Q) of an algebraic number, then its real part is a root of [this resultant](https://github.com/diofant/diofant/blob/master/diofant/polys/rootisolation.py#L1814). A polynomial with rational coefficients having the imaginary part as a root could also be constructed as another resultant. That way it should be possible to get the real and imaginary parts

[2018-06-20 17:58] asmeurer commented on #13425
I believe it is still open.

Another possible solution to this is for `N` to use `parse_expr`, and to add a flag that gets passed through to `auto_number` that sets the precision on the `Float` token. The way the tokenize transformations are designed this isn't particularly easy to do, though. Probably the simplest way would be for it to be its own transformation, which gets added after `auto_numb

[2018-06-20 19:37] skirpichev commented on #9366
I think, this is same construction as I told above.  I.e. we construct first a real field ``A``, which contains all re/im parts of coefficients ``c_k``.  Then construct another extension ``B = A.algebraic_field(I)``, which contains all ``c_k``, ``I`` and conjugated ``c_k`` as well.  We can take real/imaginary parts in this field much like in the field of gaussian rationals.  Is that correct?

If s

[2018-06-20 20:09] asmeurer commented on #14813
Your link is not publicly accessible. Can you post the code here on the issue, or on a gist if it's too large?

[2018-06-20 20:16] asmeurer commented on #14808
Here are the pickle values before and after

[code]

It looks like something that `codegen` does adds `'integer': None` to the `_assumptions` (which is part of the pickle because it's in `__slots__`). The real issue here most likely is in the core, not the codegen module.

[2018-06-20 20:23] asmeurer commented on #14808
Looks like this is just what happens when an assumption is checked

[code]

We could modify how the pickler works to ignore these. But this can also be considered a won't fix, because the two representations are still equal. In fact, with the cache enabled, they will create the exact same Symbol:

[code]

Is there any reason you can't just use the expression itself, or its `hash()`, to keep track

[2018-06-20 20:33] asmeurer commented on #14813
I think this is fixed in master. I get `(-(3/2)*(-K_*.T*K*K_* + K_**)**(-4)*(-K`_*.T*(K + K.T)*K`_* + K`_**)**2)*(y - K_*.T*K*Y)**2 + ((1/2)*(-K_*.T*K*K_* + K_**)**(-3)*(-K``_*.T*(K + K.T)*K``_* + K``_**))*(y - K_*.T*K*Y)**2 + ((1/2)*(-K_*.T*K*K_* + K_**)**(-2)*K``_*.T*K.T*Y)*(y - K_*.T*K*Y) + (-2*(-K_*.T*K*K_* + K_**)**(-3)*(-K`_*.T*(K + K.T)*K`_* + K`_**)*K`_*.T*K.T*Y)*(y - K_*.T*K*Y) + (-K_*.T*

[2018-06-20 20:35] asmeurer opened #14814 "Error pretty printing MatAdd"
[code]

The code shouldn't be using sympify to handle string arguments from MatrixSymbol.

I don't even understand what the code is doing. Why does it omit the `+` when the first argument is negative? This seems to assume that the arguments of MatAdd have a certain form, and that they will always print a certain way if they are negative.

[2018-06-20 20:36] asmeurer commented on #14814
Looks like it comes from fbbbd392e6c which is from https://github.com/sympy/sympy/pull/14248. CC @jashan498

[2018-06-20 20:38] asmeurer commented on #14814
`_print_MatAdd` should use the same methods as `_print_Add` to determine whether or not to include a plus or minus sign. If it's possible, it could even reuse the same code.

[2018-06-21 01:17] caley commented on #11306
I tried removing the `module_provided` part of the test, but then this test case fails:
https://github.com/sympy/sympy/blob/91adc7462c1fadb7cc903e6282c12f2feac8234c/sympy/utilities/tests/test_lambdify.py#L693-L694
with
[code]

[2018-06-21 01:33] caley commented on #14671
If we're doing
[code]
to figure out the output shape, we'd need to pull apart the expressions in each part of the Piecewise so that we know that we only need to broadcast on x, y.  Maybe that's doable in the example above, but for more complicated expressions?

[2018-06-21 02:17] asmeurer commented on #11306
I guess let's just leave it there for now. If we implement my suggestion from https://github.com/sympy/sympy/issues/14671 it won't matter because it would only affect the printing of Piecewise in the NumPyPrinter.

[2018-06-21 02:19] asmeurer commented on #14671
Yeah, I was thinking about that too. What if there's an unused argument. It would affect the broadcasting. It is doable, though (just look at the `free_symbols`).

Or maybe we can consider that `f = lambdify((x, y, z), ...)` as a numpy function should always broadcast x, y, and z, even if z is unused. This is sort of related to https://github.com/sympy/sympy/issues/5642.

[2018-06-21 02:45] asmeurer opened #14815 "sqrt.is_negative"
`sqrt(x).is_negative` currently gives None. But if sqrt represents the principal square root, shouldn't it be False?

This came up from [this StackOverflow question](https://stackoverflow.com/questions/50476889/how-to-eliminate-negative-solutions-from-sympy-solve-result)

[2018-06-21 04:18] #14787 closed

[2018-06-21 05:49] avishrivastava11 commented on #13425
then I'll start working on it...

[2018-06-21 06:30] avishrivastava11 commented on #14815
@asmeurer  I would like to work on this issue.
What exactly do we need to fix here can you specify again please

[2018-06-21 07:57] avishrivastava11 commented on #14718
I would like to work on this issue.
@asmeurer pls let me know what exactly do I need to correct here

[2018-06-21 08:14] jksuom commented on #9366
I think that this would suffice for root isolation. The two polynomials with real algebraic coefficients could be constructed at this point.

I think that this would not be necessary for root isolation. But if we want to have a field with fast complex conjugation, then a construction of type `Complex(A)` (field of pairs of elements of `A`)  might be better. It is not needed for the conjugates of `

[2018-06-21 08:20] cknoll commented on #14808
I use this in a custom library to easily generate c-code (https://github.com/cknoll/sympy_to_c). The expressions might get really big (count_ops >10**4). If I run a script again I want automatic detection whether an expression is already available as compiled c-code. Thus I store the `hashlib.sha256`digest inside the c-lib. Using the expression itself would require converting it to string form whi

[2018-06-21 08:29] skirpichev commented on #9366
Hmm, why?  Given the fact we already have something like this for transcendental extensions, i.e. ``QQ.frac_field(x).frac_field(y).frac_field(z)``.

[2018-06-21 09:38] jksuom commented on #14718
This needs to be corrected.

[2018-06-21 09:40] avishrivastava11 commented on #14718
@jksuom  @asmeurer and could you share where should I make the changes as I am unable to find the part of the code where I make the change

[2018-06-21 09:50] jksuom commented on #9366
I meant towers that would have the whole hierarchy coded in a single class. That is, a sequence of "domains" instead of a single `domain`. But I think that the domain of an algebraic field could be another algebraic field. Then towers could be constructed by chaining extensions as in case of `QQ.frac_field(x).frac_field(y).frac_field(z)`.

[2018-06-21 10:01] jksuom commented on #14718
Most LaTex printers are in `sympy/printing/latex.py`. There is currently no special printer for `Dummy`. (Instead, the printer for its superclass `Symbol` is used.) A new printer, `_print_Dummy`, escaping the underscore should be added.

[2018-06-21 10:53] homocomputeris opened #14818 "Linear independecy assumption"
Related to this [question at SO.](https://stackoverflow.com/questions/50955699/how-to-solve-equations-with-symbolic-coefficients-and-noncommutative-variables-i)
It would be great to have a possibility to mark a set of variables as linearly independent.

For example, it will make possible to solve fully symbolic equations where `a b` cannot be expressed by means of each other:
[code]
Here, the solu

[2018-06-21 10:55] 0110G commented on #14793
I am new to open source and wanted to ask what is S(1)  in the above code. Please help

[2018-06-21 11:30] 0110G commented on #14732
I am new to open sourcing and would like to work on this issue.

[2018-06-21 12:09] caley commented on #14671
Yes, I agree about the wrapping.  I'll have a go at a pull request to remove it.  The code change will be simple enough (and I guess some tests will have to change), but it will be about getting the documentation right.

And yes, expecting all the input arguments to broadcast to a common shape seems like a reasonable way to define the behaviour.  If we did that, then for #5642, we could change the

[2018-06-21 13:34] skirpichev commented on #9366
Yes, I also meant this option.  I think it shouldn't be too hard: ``minimal_polynomial()`` does work in the Diofant with algebraic fields, the missing thing is support ``domain`` option also in the ``primitive_element()``.

Such subclass of ``Field`` also could be useful.  It might cover gaussian rationals, root isolation needs and currect  ComplexField for inexact complex numbers.  I'm not sure a

[2018-06-21 15:18] cristian-frincu commented on #14813
You are correct, I was using version 1.1.1, which is the current on pip.
It is fixed in the 1.1.2-dev which requires install from source.

[2018-06-21 15:18] #14813 closed

[2018-06-21 17:40] asmeurer commented on #13425
I'm not really sure what fix should be applied here. I'm partly thinking it should just be "won't fix", as string inputs to things other than `sympify` isn't really supported. But maybe the token transformer idea that adds the precision to `Float` calls could be useful, even if it isn't used directly by `N`.

[2018-06-21 17:50] asmeurer commented on #14818
You can use `linear_eq_to_matrix` to convert the system to a matrix and `linsolve` to solve it as a linear system:

[code]

(0, 0) is given when tau0 = 0, but there are infinitely others too.

Can you clarify what you mean by `a` and `b` being linearly independent? Are they supposed to be elements of a vector space?

[2018-06-21 17:54] asmeurer commented on #14671
Ah right. If the lambdified expression is a list then each element should be broadcast independently. Let's open a new issue for the Piecewise thing. I think it will end up being more complicated to get right than initially anticipated.

[2018-06-21 17:58] ethankward commented on #14793
`S` is a shortcut for `sympify` that turns a value into a SympPy object.

[2018-06-21 18:09] asmeurer opened #14819 "Rubi parser monkeypatches the StrPrinter"
Why is the RUBI parser monkeypatching the printer? https://github.com/sympy/sympy/blob/0dbdc0ea83d339936da175f8c3a97d0d6bafb9f8/sympy/integrals/rubi/parsetools/parse.py#L412

If it needs different printing, it should subclass the printer and use that instead. This is bad because as soon as someone runs this function, it will change the str printer globally.

CC @Upabjojr @parsoyaarihant @Abdullahj

[2018-06-21 18:19] #14814 closed

[2018-06-22 05:23] cbm755 opened #14820 "octave/matlab codegen wrong for two argument zeta"
`octave_code(zeta(x,n))` should give `zeta(n, x)`.

See: https://www.mathworks.com/help/symbolic/zeta.html

[2018-06-22 06:02] cbm755 opened #14822 "RisingFactorial cannot do numerical (floating point) evaluations"
[code]

Expected result: something like `6.82615401311257` (but with 32 digits).

- - - - -

There is an `mpmath.rf` and it works fine.  I think its just not "connected" to sympy, perhaps because the names `rf` and `RisingFactorial` are different.

So probably this is an easy fix: find out how other special functions talk to `mpmath` and make it work for `RisingFactorial` (and `FallingFactorial` w

[2018-06-22 06:31] avishrivastava11 commented on #14718
@jksuom
can you tell me where exactly in the file `  `  is the LaTeX printer getting its implication for ` Symbol ` superclass as you mentioned above :-

[2018-06-22 06:38] avishrivastava11 commented on #14718
@asmeurer  @jksuom  can you pls specify where exactly in `sympy/printing/latex.py` is the LaTeX printer getting instructions for printing in a specific way when `Symbol` superclass is used?
If I can get that part (location of the code snippet in `sympy/printing/latex.py` that manages printing when `Symbol('_x') type commands are executed`) then I will be able to make amends and will remove the beg

[2018-06-22 07:11] asmeurer commented on #14718
It looks like the LaTeX printer for Dummy already does the right thing. It's only the str printer that adds the underscore.

[code]

[2018-06-22 07:14] avishrivastava11 commented on #14718
@asmeurer so what need to be done now??
Pls let me know so that I can finish this up.

[2018-06-22 07:16] avishrivastava11 commented on #14718
@asmeurer  and where is the code for the str printer that is adding the underscore (as you pointed out)?

[2018-06-22 07:28] avishrivastava11 commented on #14822
@cbm755 I would like to work on this.
Please provide me with a few hints as well.
(I'm a newbie so pls bear with me. :)

[2018-06-22 07:59] cbm755 commented on #14822
I already gave my suggestions about first steps...  In a bit more detail:

1.  convince yourself that `mpmath.rf` does the right thing.
2.  Pick another function (`factorial`, `besseli`, `beta`, `bernoulli`, etc).  Check if they work (they do) and if they call `mpmath.something`.
3.  Dig into code to see *how* they call mpmath.
4.  Dig into `RisingFactorial` to see what is different.

Please note:

[2018-06-22 09:43] avishrivastava11 commented on #14822
@cbm755  I got into the code and it turns out that `RisingFactorial` is actually assigned to `rf` later-on.
So the issue is not because of that ( as you commented above )

It also turns out that the issue is only occurring when there's a floating point number as an argument.

Also, other functions (`factorial`, `besseli`, `beta`, `bernoulli`, etc)  aren't calling `mpmath.something` at all.(accordi

[2018-06-22 11:21] homocomputeris commented on #14818
Basically, yes. But not necessarily.
Imagine I have a set of some elements that cannot be expressed one by means of others (ATM, I can't invent any concrete example when they do not form some vector space).
Then, I want to know if some other formal combinations of elements can be represented via this set (that is, actually, representation in a basis).

Now, solvers make a logical assumption that `

[2018-06-22 17:07] avishrivastava11 commented on #14822
Almost done..
Waiting for completion of tests.

[2018-06-22 18:15] asmeurer commented on #14718
I'm not sure what should be done. The original issue as reported is incorrect:

[code]

I guess we could add some escaping in the Symbol LaTeX printer for cases where the Symbol name cannot be valid LaTeX. I'm not sure if that's too much magic, although it does already do some magic like converting Greek names, so maybe it's not out of place.

[2018-06-22 20:42] #13036 closed

[2018-06-22 20:45] asmeurer opened #14827 "PyPy test failures in combinatorics (ValueError: there were repeated elements.)"
See for instance https://travis-ci.org/sympy/sympy/jobs/395547541

Here is the full traceback

[code]

The failure only occurs on PyPy (I haven't seen it in the normal Python builds).

@valglad @RavicharanN would you be able to get a fix for this soon? I'd like to get a release candidate out for 1.2 very soon, and this is a blocker.

[2018-06-22 20:57] asmeurer commented on #13336
@Upabjojr you should add more information to these deprecation removal issues. These are what users are pointed to by the deprecation warnings, so they issues should explain why the thing in question is deprecated, and how users should migrate their code. https://github.com/sympy/sympy/issues/14319 also needs more explanation.

[2018-06-22 22:00] valglad commented on #14827
I'll have a look at this tomorrow but not sure how long tracing down the bug and fixing will take. How soon would you like to get a release?

[2018-06-22 22:44] asmeurer commented on #14827
I'd like to have a release candidate by the end of the month and a final release by scipy.

[2018-06-23 05:09] RavicharanN commented on #14827
Looks like `{Permutation(0, 3, 1, 2): Permutation(1, 1), Permutation(3)(0, 1): Permutation(1, 1), Permutation(0, 1)(2, 3): Permutation(1, 0), Permutation(2, 3): Permutation(0, 0)}` are the repeated elements produced in `images = {g: Permutation([b[p[i]^g] for i in identity]) for g in group.generators}`. Can we just convert the lists `[1, 1]` and `[0, 0]` to sets before converting them to `Permutat

[2018-06-23 06:54] avishrivastava11 commented on #14822
@cbm755
It's working now. :)
I'll submit a PR once I finish remodelling the assertions

[2018-06-23 08:36] #14819 closed

[2018-06-23 19:28] mdavidovic opened #14829 "Weird bug with simple ccode and Max and Abs functions"
ccode should replace Max with fmax and Abs with fabs consistently. But here is what happens with:
ccode( Max( Abs(y), Abs(x) ) )
Output is 'fmax(Abs(x), fabs(y))'
Abs is not replaced in both cases! Can someone explain what is going on and how to fix this?

[2018-06-24 01:07] mdavidovic commented on #14829
I quick fixed it by adding key value pair in dict "known_functions_C89" in ccode.py file, "Max": "fmax".
This also fixes autowrap with cython backend that was originally failing.

[2018-06-24 03:19] asmeurer commented on #14819
Thank you @parsoyaarihant

[2018-06-24 05:30] avishrivastava11 commented on #14822
@cbm755  I am currently working on another solution which will fill the discrepancies in this one and also make the results symbolic.
I'll be submitting another PR soon.

[2018-06-24 05:42] cbm755 commented on #14822
You should use the same PR.

[2018-06-24 06:41] avishrivastava11 commented on #14822
@cbm755   @asmeurer
Also,
once the code starts working,
I'm getting the following assertion error (which is no surprise)
`assert rf(n, m).is_integer is True
AssertionError
`
since the resultant will not necessarily be an integer.
So should I change the assertion ?
I mean modify the test file containing that (and a couple of other assertions) ?

[2018-06-24 08:18] skirpichev opened #14831 "minpoly(-3*sqrt(12*sqrt(2) + 17) + 12*sqrt(2) + 17 -2*sqrt(2)*sqrt(12*sqrt(2) + 17), x) fails"
Should return ``x``, as do groebner-based method (``compose=False``).

Default algorithm raises an NotImplementedError in [L291](https://github.com/sympy/sympy/blob/e154e8df5aa1718ab043c2a1a4a0c690651a1bfa/sympy/polys/numberfields.py#L291).  But in fact, it examines clearly wrong factors here:
[code]

Taken from [here](https://github.com/sympy/sympy/pull/14807#issuecomment-399715936).

[2018-06-24 08:28] bjodah commented on #14829
On SymPy master, this is what I get:
[code]

[2018-06-24 08:49] avishrivastava11 commented on #14822
@cbm755 @asmeurer
I have made another PR. (implementing changes a bit differently)
( @cbm755 Sorry I didn't read your message earlier, or I would've made changes in the same PR)
Pls do give me a feedback on the new PR. :)
Thanks.

[2018-06-24 09:32] Upabjojr commented on #13336
Well, I made some bad design choices for the units module in the past and I'm trying to remedy. The explanation is already contained in the deprecation warning.

[2018-06-24 11:37] homocomputeris opened #14833 "coeff() returns incorrect results for non-commutative symbols"
It seems that `coeff()` needs some additional logic to treat non-commutative symbols.
Maybe, some kind of option to return only commutative coeffs, if I want only the coef of `a` and not `a * b` or whatever.
Or this can be overcome by non-commutative support in `Poly()`, that would be great.
[code]
Compare with commutative case
[code]

[2018-06-24 14:12] valglad commented on #14827
@asmeurer Does this happen in every PyPy build? I don't think any of that code uses randomization anywhere so it should be consistent. Perhaps something to do with how elements are ordered within a dictionary? I don't know much about how PyPy is different from CPython...
Also, I'm struggling to get it to work locally to run tests. I've installed PyPy and SymPy via `sudo pypy -m pip install sympy`

[2018-06-24 14:18] RavicharanN commented on #14827
If PyPy is installed, @valglad this worked for me, `pypy bin/test sympy/combinatorics/tests/test_perm_grps.py`
It'll run the tests in pypy env

[2018-06-24 14:35] valglad commented on #14827
@RavicharanN Thanks, that worked and interestingly, now everything works even when I do it my usual way. Not sure what happened there but that doesn't matter. :+1:

[2018-06-24 16:28] ashwinvaswani commented on #14833
I would like to work on this issue. Could you help me with a little more details and also tell me where is coeff() defined as I am new to open source. Thankyou.

[2018-06-24 19:21] mdavidovic commented on #14829
I was using latest anaconda python 3.6 and sympy 1.1.1 installed via conda. On windows 10.

[2018-06-24 19:33] bjodah commented on #14829
OK, so until v1.2 is released I guess you can provide your own "known_function". Alternatively install the master branch if that is a viable option for you.

[2018-06-24 19:49] cknoll opened #14835 "pickle representation randomly changes"
I aim for reproducible pickle representations of sympy-objects (see #14808 for motivation).

I found out that sometimes `pickle.dump(expr)` is reproducible and sometimes not. Consider the following code

    import sympy as sp, hashlib, pickle
    import sys

    x1 = sp.symbols("x1")
    e1 =  sp.exp(x1)

    if len(sys.argv) > 1:
        sp.sin(x1)  # has a side-effect on the pickle representati

[2018-06-24 19:54] cknoll commented on #14835
Interesting: If I run `export PYTHONHASHSEED=0`([background](https://jimmycallin.github.io/2016/01/03/make-your-python3-code-reproducible/)) before my evaluation script

    from plumbum import local
    from collections import Counter

    py = local["python3"]

    N = 100

    c1 = Counter()
    c2 = Counter()

    for i in range(N):
        print(i)
        r2 = py["sympy_pickle_question.py",

[2018-06-24 20:28] #14829 closed

[2018-06-24 20:36] asmeurer commented on #14822
If mpmath already has a function for it then you should be able to just add it to the evalf_table.

[2018-06-24 22:14] asmeurer commented on #14808
The simplest solution is to set the PYTHONHASHSEED. That can only be done before Python is started, and might not produce the same values between Python versions or platforms, so it might not be viable for every use-case. An alternative would be build your own reproducible hash from the `expr._hashable_content()`, which is what `hash(expr)` is based on.

Actually fixing this issue could be very tr

[2018-06-24 22:32] asmeurer commented on #14835
This is just how pickle dumps dictionaries.

[code]

[code]

If you use Python 3.6 or greater, you might get a more reproducible representation due to the consistent ordering of dictionaries, but even then, the order that the dictionary representation is created could depend on what you do with the expression (the dictionary here is the assumptions dictionary, which is built on-demand as the assum

[2018-06-24 22:32] #14835 closed

[2018-06-25 02:21] caley commented on #13483
The problem with printing of numpy arrays mentioned in https://github.com/sympy/sympy/commit/1f8bd0b658bbca90bfe87b0a61192346ac99467a is related to changes to the DoctestRunner for #5140: https://github.com/sympy/sympy/blob/e154e8df5aa1718ab043c2a1a4a0c690651a1bfa/sympy/utilities/runtests.py#L1717-L1728

The sympy code avoids resetting sys.displayhook, and on my system at least, this results in th

[2018-06-25 03:33] asmeurer commented on #13483
My [repr-doctests](https://github.com/asmeurer/sympy/tree/repr-doctests) branch has the basic change needed to make the doctests use repr. An easy to fix patch for someone would be to take my branch, run the doctests, and fix them all so they use the repr output (some outputs that use strings may need to change to use `print()` if the repr form is hard to read).

[2018-06-25 05:35] avishrivastava11 commented on #14822
@asmeurer where can i find the evalf table?

[2018-06-25 06:21] avishrivastava11 commented on #14637
@asmeurer  i would like to work on this

[2018-06-25 06:21] avishrivastava11 commented on #14782
@asmeurer @ethankward   i would like to work on this

[2018-06-25 06:30] arielbro opened #14836 "Logical operators don't have is_commutative setm subs fails with simultaneous=True"
"And" and "Or" inherit is_commutative, but the other logical operators in sympy.logic.boolalg don't have this field set.

This means that using subs with simultaneous=True and one of those operators as a replacement causes an error -
`from sympy import *
x, y = symbols('x y')
Nand(x, y).subs({x: Nand(x, y)}, simultaneous=True)`

`Traceback (most recent call last):
  File "<string>", line 1, in <mo

[2018-06-25 06:36] avishrivastava11 commented on #14637
@asmeurer  any leads you have got on this that you could share (would be highly appreciated) ?

[2018-06-25 07:34] #14827 closed

[2018-06-25 07:41] jksuom commented on #14822
`sympy.core.evalf`, in `_create_evalf_table()`.

[2018-06-25 13:57] smichr commented on #14815
If something has a nonzero imaginary component, SymPy gives False:

[code]

So I think it's fair to say that sqrt(x) will never be negative: it will either be nonnegative or have an imaginary component.

[2018-06-25 14:06] sidhantnagpal commented on #14815
Is it better to have this instead of `None`?

[2018-06-25 15:11] smichr commented on #14815
Not to be coy, but...it depends what your assumptions are:

[code]

With the following diff,

[code]
[code]

[2018-06-25 15:19] smichr commented on #14810
As I see it, those two *are* equal because the substitution will have no affect:

[code]

(The expressions are the same and neither of the variables are contained in the expression so the substitution will not change the expression.)

[2018-06-25 20:08] cbm755 commented on #14820
No!  This bug is incorrect.  Matlab two-arg zeta does the derivative of the Riemann zeta function, whereas ours is the Hurwitz zeta function.

@skirpichev you'll want to revert your fix in diofant too.  Maybe you can cherry-pick f9610e98714495854d935f49f7cdbefcd0a828fb.

There is still a problem in sympy because `zeta(x,y)` is not implemented in Matlab whereas the current implementation generated

[2018-06-26 00:01] cbm755 commented on #10259
Confirmed so closing.  Eventually everyone will be on Python 3.7 so probably not worth other fixes in the meantime.

[2018-06-26 01:16] asmeurer commented on #10259
It could be printed as `Add(*[1, 2, 3, ...])` when there are more than 255 args.

[2018-06-26 04:40] cbm755 commented on #10259
I cannot comprehend why that works!   I hope that is a pun on some kind of comprehension.

But it does work.

[2018-06-26 04:42] cbm755 commented on #10259
@asmeurer would you like such a patch for Add and Mul?

[2018-06-26 06:31] asmeurer commented on #10259
You can read the linked issues from the 3.7 release notes. I guess there are (were) some limits in the opcodes used for function calls. `*` unpacking doesn't have the problem because the args are all used to build the list and then a single argument is passed to the function:

[code]

A patch for this is probably a good idea. It's easy enough to support pre-3.7, and it will be some time before we

[2018-06-26 12:40] cklb commented on #14810
Your example sounds legit, rendering my solution approach useless. Since my deeper knowledge of sympy is very limited, do you have any other ideas on how to resolve the problem?

[2018-06-26 16:51] iamarshsingh commented on #14836
Seems like just adding `is_commutative = True` in `sympy.logic.boolalg.And` is not working. After making the change, we are getting error

  File "<stdin>", line 1, in <module>
  File "/media/arshdeep/Local Disk/Projects/Python/sympy/sympy/core/basic.py", line 910, in subs
    rv = rv._subs(old, d*m, **kwargs)
  File "/media/arshdeep/Local Disk/Projects/Python/sympy/sympy/core/basic.py", line 1033

[2018-06-27 06:15] czgdp1807 commented on #14779
I would like to work on this issue. I have found a very basic solution to fix this kind of issue.

[2018-06-27 09:00] czgdp1807 commented on #14547
I am working on this issue. I found out that the problem begins from `fin = L, R = [i.is_finite for i in (lhs, rhs)]`. Now I am unable to figure how to goes on to  `File "/home/gagandeep/anaconda3/lib/python3.6/site-packages/sympy/physics/units/quantities.py", line 173, in _Quantity_constructor_postprocessor_Add
    raise ValueError("summation of quantities of incompatible dimensions")`.
Can you p

[2018-06-27 10:04] vxgmichel opened #14840 "Performance issue with matrix inversion"
I wanted to use sympy to invert large integer matrices:

[code]
But the intermediate results are getting bigger and bigger, filling up the memory, and the program ultimately fails to produce a result.

However, using a [pure python implementation of the Bareiss aglorithm][gist1], I managed to get a result in about 20 seconds using about 50 MB of RAM. This implementation can be used to compute the

[2018-06-27 12:14] Yathartha22 commented on #14779
@czgdp1807 go ahead and create a PR with whatever fix you think is appropriate. It will help others to see whether the changes you made are good enough or not.

[2018-06-27 14:53] czgdp1807 commented on #14779
@Yathartha22 Sure, I will make a PR as soon as possible.

[2018-06-27 18:30] cbm755 commented on #10259
@asmeurer I patched for Add/Mul.

I'm sure there are many others in principle (MatMul, MatAdd, etc).   And its easy to make silly examples: "Bro, yer softwarez is teh sux, cannot take 256th derivative":
[code]

So I think in practice only Add really matters, rest can wait for Python 3.7.

[2018-06-27 19:32] czgdp1807 commented on #14779
@Yathartha22
After going through code of solvers.py I found that what I was trying to implement was already implemented in `_solve(f, *symbols, **flags)`. However, when I tried to solve the given equation in the issue by implementing, `_solve(e,x)`, it threw the following error,
`NameError: name '_solve' is not defined`.
Should I proceed with a PR or _solve method is sufficient and this issue shou

[2018-06-27 19:52] cknoll commented on #14835
Just if anyone has similar problem: for my purpose it helped to convert every (writeable) dict-attribute of the involved objects (Expression and its Symbols) to `OrderedDict`. This (for me) results in reproducible pickle-dumps and thus in reproducible hashes. For Matrices using  `ImmutableDenseMatrix` was also necessary.

This workarround was inspired by @asmeurer's hint that with Python 3.6 dict

[2018-06-27 20:43] asmeurer commented on #14779
I'm not following what your proposed fix is.

The problem is in the check machinery, which should be filtering 0 and -sqrt(130) because they aren't valid solutions.

[2018-06-28 02:54] zbzhen opened #14842 "sympy.factor bug"
from sympy import factor, var
x = var("x")
a = 0.1 * 0.1 * x * x - 1
print factor(a)

# In SymPy 1.1.1
# Wrong answer 1.0 * (0.01 * x - 0.1) * (0.01 * x + 0.1)
# Please check it.

[2018-06-28 03:35] Yathartha22 commented on #14779
Why you are trying to implement  `_solve(e, x)`, when it's already present. As @asmeurer mentioned there might be some problem in the way `check` filters out spurious values. Try to figure out what and where it goes wrong.

[2018-06-28 05:45] jksuom commented on #14842
This was fixed by #13198:
[code]

[2018-06-28 05:45] #14842 closed

[2018-06-28 09:40] moesphere opened #14843 "bspline_basis behaviour with non-increasing knot vector"
The bspline_basis function should always return a (piecewise) function, also in the case of a non-increasing knot vector, where it currently returns a zero object (e.g. to make the basis spline callable).

Example

[code]

[2018-06-28 19:09] asmeurer opened #14845 "Add test that no files are executable"
In https://github.com/sympy/sympy/pull/14844 I fixed an issue where some files in the vector module were had the executable bit set. We should add a test that runs in Travis that goes through all the files in git and makes sure none have an executable bit set, unless they are in a whitelist (anything in `bin/` should be whitelisted, `setup.py`, a few scripts in `release/`, maybe something else). Y

[2018-06-29 06:05] #10259 closed

[2018-06-29 16:59] A-Hilaly commented on #14845
@asmeurer Can i take work on this ?

[2018-06-29 16:59] A-Hilaly commented on #14845
Hey ! Can i work on this ? @asmeurer

[2018-06-30 05:34] czgdp1807 opened #14849 "Issue in documentation of solve method of solvers.py"
The following part is what I get when I use solve() on my system:
`>>> solve(x-y**2,x,y)`
`[{x:y**2}]`
The following part is written in the docstring of solve():
 `>>> solve(x - y**2, x, y)`
  `[(y**2, y)]`

Clearly, they don't match and I think it should be fixed.

[2018-06-30 06:46] jksuom commented on #14849
This is what I get on my system:
[code]

[2018-06-30 06:48] czgdp1807 commented on #14849
Thanks for your swift response @jksuom . I will close this issue as well as the PR associated with it.

[2018-06-30 06:48] #14849 closed

[2018-06-30 08:54] czgdp1807 commented on #14779
@Yathartha22 and @asmeurer I have made a PR on solving this issue at https://github.com/sympy/sympy/pull/14851.
It is failing some tests on my local system. Please help me in removing those failures and give your feedback on my code that I have added.
Thanks.

[2018-06-30 21:16] akash9712 opened #14852 "`Lambda` does not accept indexed symbols."
`Lambda` raises an TypeError when the variable argument passed is an indexed symbol. Example:
[code]

[2018-06-30 21:19] asmeurer commented on #14852
I think you just need to change `is_Symbol` to `is_symbol`, though you should check that everything else works with Indexed too.

[2018-07-01 07:06] schymans commented on #14547
`_Quantity_constructor_postprocessor_Add` should raise an exception if the dimensions of summands are incompatible. I have no idea why it raises an exception in this case, as the dimensions of `m_1`, `m_2` and `m_3` are the same. If you type `log(m1 + m2) - log(m3)`, no exception is raised, so it works correctly. The weird thing is that it raises an exception if we put the same expression in `Eq()

[2018-07-01 08:51] czgdp1807 commented on #14547
Hopefully I have found out the problem. Going to fix it as soon as possible. :-)

[2018-07-01 15:15] nschloe opened #14854 "sympy import time"
I just checked out the sympy's import time with Python 3.7's `importtime` and [tuna](https://github.com/nschloe/tuna)
[code]
Bottom line: `sympy.polys` take the lion share. Perhaps this could be lazy-loaded or improved in some other way.

![sympy](https://user-images.githubusercontent.com/181628/42135899-34fc5330-7d52-11e8-90ff-9b0cb1a46ed2.png)

[2018-07-02 05:10] mammalwong opened #14857 "sympy.Lambda does not treat another lambda properly"
I am using sympy 1.1.1, if I run:
x,G = sympy.symbols('x G')
F1 = sympy.Lambda(x, x**2)
F2 = sympy.Lambda((G,x), G(x) + 1)
F2(F1,x)
It returns G + 1 instead of x**2 + 1

[2018-07-02 14:38] Naereen opened #14859 "WARNING cdn.mathjax.org end-of-life"
Apparently, the current version of the documentation still uses the deprecated cdn.mathjax.org website to load MathJax
https://github.com/sympy/sympy/blob/f43d15e88174ec8cd6d61f2a16c6c50a3af0fde0/doc/src/conf.py#L35

The doc display wrongly all maths formula, see screenshot:
![cdn mathjax is dead](https://user-images.githubusercontent.com/11994719/42170260-553d18c2-7e16-11e8-987e-0f486207b8e4.png)

[2018-07-02 17:48] jashan498 opened #14860 "linsolve: Solving equations involving `Prefix` class give ValueError"
[code]
But if I use a `Prefix` object (like `kilo`) instead, it gives `ValueError`.
[code]
One possible way to solve this issue can be using [quantity_simplify](https://github.com/sympy/sympy/blob/849291225931d77a5c7dddad5e47361c7ec9399a/sympy/physics/units/util.py#L135) which removes `Prefix` from the units and convert terms like `8*kilo*newton` to `8000*newton`. But I don't know if removing `Pre

[2018-07-03 11:20] czgdp1807 commented on #14547
While fixing the issue I found one weird thing, when I replace, `eq1 = Eq(log(m3), log(m1 + m2))` with `eq1 = Eq(log(m1), log(m2 + m3))`, it successfully executes and gives the output `Eq(log(m_1), log(m_2 + m_3))`. Can you explain the reason behind this?

[2018-07-03 12:10] czgdp1807 commented on #14547
I think there is an issue with `log(m1)`. According concepts of dimensional analysis, `log(x)`, x should be dimensionless. I think the weird behavior is due to this passing a dimensional quantity into log. I have also noticed that sometimes, `eq1 = Eq(log(m3), log(m1 + m2))` executes correctly and sometimes throws errors which begin at `dif.is_zero` and sometimes at `n.is_zero`.

[2018-07-03 14:02] randolf-scholz opened #14863 "Unexpected behaviour of Array with lambdify"
Consider the following MWE:

    import sympy as sp
    a = sp.symbols('a')
    L = [[1, a], [0, 2*a]]
    ImmMat = sp.ImmutableDenseMatrix(L)
    MutMat = sp.MutableDenseMatrix(L)
    ImmArr = sp.ImmutableDenseNDimArray(L)
    MutArr = sp.MutableDenseNDimArray(L)

    fun_A = sp.lambdify(a, ImmMat, 'numpy')
    fun_B = sp.lambdify(a, MutMat, 'numpy')
    fun_C = sp.lambdify(a, ImmArr, 'numpy')

[2018-07-04 06:15] smichr commented on #10410
The imaginary part is not being computed with precision so a conclusion shouldn't be drawn. None should be returned instead of False.

[2018-07-04 07:42] caley commented on #13483
With the repr patch I got this:
[code]
This matches what you get in an interactive session if you haven't called `init_printing()`, but really is not nice.  Perhaps it's best to leave the doctests as they currently are?  Maybe note somewhere in the documentation that the examples assume `init_printing()` has been called?

[2018-07-04 10:08] avishrivastava11 commented on #14852
@asmeurer @akash9712  I am starting to work on this issue if there's no one else working already

[2018-07-04 10:57] SushantGahlot commented on #11668
This is still open. Should I go ahead and work on it?

[2018-07-04 16:12] asmeurer commented on #13483
Certain doctests that don't look good with repr can be modified to use print() or pprint()

[2018-07-04 16:14] asmeurer commented on #13483
Also does that class use the sympy printing machinery? Any class that does should have the same repr and str. This would only affect non-sympy types.

[2018-07-05 00:49] OppenheimerAndTheMartians commented on #11668
Completely forgot about this... yeah, go on ahead.
 

Sent: Wednesday, July 04, 2018 at 6:58 PM
From: sushant <notifications@github.com>
To: sympy/sympy <sympy@noreply.github.com>
Cc: "Ian George" <irgeorge@gmx.com>, Mention <mention@noreply.github.com>
Subject: Re: [sympy/sympy] Get rid of bare "except"s (#11668)

This is still open. Should I go ahead and work on it?

—
You are receiving this bec

[2018-07-05 05:39] mammalwong commented on #14857
I have checked sympy.Lambda does support returning another sympy.Lambda as the output.

[2018-07-05 08:58] rtotheb2000 opened #14869 "Can not plot Fourier-transform of d(e^-|t|)/dt"
Hi, using `sympy` to calculate the Fourier-transform of

    -exp(-Abs(t))*sign(t)

like this

    import sympy as sp
    t = sp.Symbol('t', real=True)
    o = sp.Symbol('o', real=True)
    temp = sp.im(sp.fourier_transform(sp.exp(-sp.Abs(t)), t, o))
    print(temp)

which will return

    4*pi*o/(4*pi**2*o**2 + 1)

Now I would like to plot this by invoking

    sp.plotting.plot(temp, (t,1,10))

w

[2018-07-05 12:03] #14869 closed

[2018-07-05 17:20] asmeurer opened #14871 "rf(0, n).rewrite(factorial) is wrong"
[code]

This leads to the wrong result:

[code]

(the sum should be 1)

[2018-07-05 18:06] ethankward commented on #14871
The correct condition would be, for `x` and `k` integers, if `k` is positive, rewrite as `factorial(k + x - 1) / factorial(x - 1)`, if `k` is negative or `0`, rewrite as `(-1)**(-k) / factorial(-k)`. This fixes the problem but it means that the sum won't be evaluated at all since rewriting as factorial won't split the sum into two pieces (`m=0` and `m > 0`).

[2018-07-05 19:32] asmeurer commented on #14871
What if it made a piecewise if k doesn't have positive or negative assumptions?

Anyway, the summation algorithms should probably be made to work with rf natively.

[2018-07-05 20:41] haoranShu opened #14873 "It seems not easy to convert sympy.core.numbers.Float types to just native python float type"
as described in title

[2018-07-05 20:43] asmeurer commented on #14873
Can you explain in more detail what the problem is? Calling `float()` on a Float object works for me.

[2018-07-05 20:48] haoranShu commented on #14873
Sorry it was my bad! I used Float all the time. Please close this issue. I am really sorry.

[2018-07-05 20:48] #14873 closed

[2018-07-05 23:05] ethankward commented on #14871
Not exactly, piecewise sums are not evaluated either (a separate issue):

[code]

[2018-07-06 01:05] nicoguaro opened #14874 "Limit x --> oo for besselk"
When I try

    from sympy import symbols, besselk, limit, oo
    x = symbols("x", real=True)
    limit(besselk(0, x), x, oo)

I obtain the following

    besselk(0, oo)

instead of obtaining 0.

[2018-07-06 07:12] schymans commented on #14547
Good point about log(unit) and dimensional analysis! According to https://en.wikipedia.org/wiki/Dimensional_analysis, the basic rule ` log(a/b) = log a − log b` is only valid if both a and b are non-dimensional. Otherwise, even if a and be have the same unit, the lhs would be dimensionless, but the rhs would have units of log(unit). See also this discussion: https://physics.stackexchange.com/quest

[2018-07-06 07:32] czgdp1807 commented on #14547
Yes they do have as far as the knowledge I have gained from [this](https://cdn-pubs.acs.org/doi/pdfplus/10.1021/ed072p954) paper. Actually what this document says is that we should divide the quantity x by its unit dimensions so that it becomes dimensionless, like log(x) is actually log(x/units(x)), units(x) denotes the units of x. Now, what I am trying to do is, convert `arg` in `log(arg)` to sym

[2018-07-07 02:51] nasser1 opened #14877 "RecursionError: maximum recursion depth exceeded on integrate, sympy 1.1.1"
cross posted at

[stackoverflow](https://stackoverflow.com/questions/51218097/recursionerror-maximum-recursion-depth-exceeded-on-integrate-sympy-1-1-1)

/opt/anaconda/bin/python

sympy                              1.1.1

[code]

gives

[code]

Thank you.,
--Nasser

[2018-07-07 12:39] avishrivastava11 commented on #12781
also @asmeurer
although the terminal shows the whitespaces on running
fcode(Assignment(Indexed("A", Idx('i', (0, n))), 0))
output == > ' do i = 1, n + 1\n A(i) = 0\n end do'
Travis CI is resulting in an error showing leading whitespaces.
what should I do to make it pass those tests?

[2018-07-07 14:20] Pretovelho commented on #8443
On python true or false must be capitalize: 'True' or 'False'.

[2018-07-07 14:46] JohnStone2017 opened #14880 "Sympy has no Fourier transforms between continuous and discrete domains?"
If there is a way in Sympy, I have not been able to find it after searching.

Mathematica has a function FourierSequenceTransform, implementing the "Discrete-Time Fourier Transform". Its mathematical definition is shown as the 3rd item in the 'Details' section here:

http://reference.wolfram.com/language/ref/FourierSequenceTransform.html

That function's inverse has various names. Mathematica call

[2018-07-07 14:52] JohnStone2017 commented on #13312
I wish I could offer to help fix this, but it is over my head. In the meantime, I am having to consider piping strings to and from Maxima or Reduce from Python in order to do symbolic integration. This type of of integral is something all other CAS can do, no?

[2018-07-08 03:39] asmeurer commented on #14880
See the current GSoC project https://github.com/sidhantnagpal/gsoc/wiki/GSoC-2018-Application-Sidhant-Nagpal:-Transforms,-Convolution-&-Linear-Recurrence-Evaluation. I don't know if it is planned to implement transforms on discrete expressions. CC @sidhantnagpal

For Z transforms see https://github.com/sympy/sympy/issues/12502

[2018-07-08 04:07] sidhantnagpal commented on #14880
Discrete Time Fourier Transform (DTFT) and Z-Transform take input as infinite discrete-time signal.
DTFT produces a continuous frequency spectrum which is periodic. Z-transform also produces a continuous complex frequency spectrum.

As suggested by Aaron, I think both of these transforms depend on summing capabilities of SymPy.

DFT, on the other hand takes input as finite (or periodic for that ma

[2018-07-08 05:47] asmeurer commented on #14880
Right. These things could be implemented today, but they would end up returning unevaluated Sum objects a large percentage of the time.

So to make this useful we need a serious project to improve SymPy's summation capabilities (see https://github.com/sympy/sympy/wiki/GSoC-2018-Ideas#concrete-module-implement-karr-algorithm-a-decision-procedure-for-symbolic-summation, I'm assuming Karr is sufficie

[2018-07-08 05:56] sidhantnagpal commented on #14880
Yes, I think this could be followed up in GSoC 2019, and correspondingly we can have DTFT, Z-Transforms implemented as well (it will be good to have them). I will be able to look into this post GSoC.

[2018-07-08 13:35] avishrivastava11 commented on #14732
@asmeurer I have made a PR which solves this issue. Pls review and merge if there's nothing to add.

[2018-07-09 04:42] JohnStone2017 commented on #14880
Thanks for the info.

[2018-07-09 04:48] schymans commented on #14547
Awesome paper, thanks for sharing! In my understanding, the paper does not say that we should divide x by its unit, but that fundamentally terms in logarithms are unit-less, and if they are not, such as e.g. `mu_i = mu_i0 + R*T*log(p_i)` this is because we mistakenly omitted division by a standard value, i.e. this should in fact be: `mu_i = mu_i0 + R*T*log(p_i/p0)`
Thus, all we should do is allow

[2018-07-09 04:58] czgdp1807 commented on #14547
Sure, I will implement the method you have agreed upon and will try to submit a PR as soon as possible. Thanks for helping me out with my queries. :-)

[2018-07-09 07:15] avishrivastava11 commented on #14871
@asmeurer can you help me find out what is going wrong in this only error in the PR made by @ethankward
Maybe I can help fix it; But I'm unable to find the thing which is going wrong.
This is the link to the Travis test error https://travis-ci.org/sympy/sympy/jobs/400566016

[2018-07-09 07:18] schymans commented on #14547
One of the challenges will be to make `print log(m1 + m2) - log(m3)` and `Eq(log(m3), log(m1 + m2))` return the same (informative) error if m1, m2 and m3 are not non-dimensional. I don't understand why only one returns an error. Thanks for looking into this!

[2018-07-09 08:16] skirpichev opened #14884 "Sorting of symbolic polynomial roots"
Poly.all_roots() in sympy currently can't return symbolic roots (except for linear equations, maybe), but ``roots()`` can.  Is this possible to make root order here consistent with root order with numerical coefficients?  This should be especially useful if all_roots() got support for symbolic roots.

Currently, sorting seems to be arbitrary and not consistent with numerical sorting.  This seems t

[2018-07-09 12:42] Electric-tric opened #14885 "Sympy series gives TypeError on x^(-3/2) * exp(1 - x)"
Hi! I tried the following code (trying to reproduce a minimal example here)

`import sympy as sp
x = sp.Symbol('x')
expression = 1/x**(sp.Rational(3,2)) * sp.exp(1 - x)
sp.series(expression, x, 0)`

and obtained a strange TypeError, seems to be some internal exception.
Maybe this is a non-implemented feature, I don't know, maybe a bug.
I've also tried different variations on the input, and they al

[2018-07-09 12:50] Electric-tric commented on #14885
I don't know what went wrong here, I restarted the kernel and the error disappeared.
So, I am not able to reproduce the error anymore. But maybe you know why such kinds of errors can appear?

[2018-07-09 13:04] Electric-tric commented on #14885
UPD: I discovered that with positive fractional index the function still works:

[code]

but once it becomes negative fractional, the error appears again

[2018-07-09 13:54] skirpichev commented on #14885
TypeError is a bug, of course.  BTW, it's fixed in the diofant long time ago.

[2018-07-09 15:08] Electric-tric commented on #14885
What is diofant? It is like a development version of sympy?

[2018-07-09 16:10] czgdp1807 commented on #14547
I have created a PR for solving the issue. My code converts any dimensional expression passed to log into dimensionless expression and then the further processing is done. However, there is no effect on the original quantities. I have verified on a local program and `Eq(log(m3), log(m1 + m2))` was executed successfully after applying the above mechanism. I can confirm by adding an appropriate test

[2018-07-09 18:46] smichr commented on #14547
I think the author means that we must "include" the units. And there is no reason to think of logarithms as unit-less (any more than we need to think of numbers, as is mentioned in the paper, as positive).

Units multiply a numerical quantity and have the normal behavior when taking logarithms. It is perfectly fine to plot log(T) vs time where T is some thickness. The offset of the plot will depen

[2018-07-09 19:12] czgdp1807 commented on #14547
@smichr The method you suggested is quite elegant. However, what I think is that, using statements like, log(mass) isn't conceptually correct, anything passed should be dimensionless or at least it should be processed as a dimensionless quantity. It should be conceptually correct. What's your view on this?
Please review my PR that I have made following this concept and please give your feedback on

[2018-07-09 19:46] czgdp1807 commented on #14565
The superficial solution to this issue is checking for redundant solutions and removing them. However, I don't think it would be a good view. There would be a more elegant way. Can you suggest one so that I can think on those grounds?

[2018-07-09 20:05] czgdp1807 commented on #14645
I would like to work on this issue. Can I make a PR on this, after working on its solution?. :-)

[2018-07-10 06:48] Bennyyy27 opened #14887 "Intersection of Circle and Line -> Problem"
Hi,
I am totally new to GitHub so please be indulgent if I forget something at posting a new issue.

If I am focussing on one timestep, my model can be broken down to a simple circle and line from sympy.geometry.
If I am plotting these two entities, an intersection is definitely taking place but, however, the intersection command does not return an intersection.
I already tried to find a solution

[2018-07-10 12:48] smichr commented on #14547
I tried to show  in my examples that there is nothing wrong with taking the log of a number with dimensions: log(2*foot) = log(2) + log(foot). An alternative approach (and perhaps preferred) would be to relax the constraint on when an error is raised: only consider dimensional mismatch of dimensioned numbers, don't consider something like `foot - 1` to be an error (only cases like `foot - quart`.

[2018-07-10 13:15] czgdp1807 commented on #14547
I got your point and may I work on the method you suggested for solving this issue, i.e., raising error only when all the addends in the addition operation are physical quantities?

[2018-07-10 16:42] sidhantnagpal commented on #14887
It works while taking r as `Rational` instead of `Float`.
[code]

[2018-07-10 17:06] will133 opened #14890 "Eq and Ne does not seem to work with lambdify"
It seems like the equality does not work with numexpr like numpy when you use lambdify:

[code]
This look ok for numpy:

[code]
But it does not work for numexpr:
[code]

It looks like the NumExprPrinter does not really convert the Eq into '==' for numexpr:

[code]
The expression Ne would not work as well as it does not look like it's translating it to '!=':

[code]

I'm using version 1.1.1 from co

[2018-07-10 19:40] will133 opened #14891 "And expression from sympify appears out of order"
Is there any reason the print  of the And expression become out of order?

[code]
I understand for & it's equivalent, but if for && context during say a element-wise evaluation, won't it be undesirable if the order actually matter where the short-cutting behavior is not the same as the original input?

This is on 1.1.1 on Linux.

[2018-07-10 23:54] JohnStone2017 opened #14892 "Why does this integral hang Sympy?"
Edited to correct an error: Mathematica actually can't solve it either.

[code]

After 10 minutes, Sympy still appears to be working on it, though I'm not sure whether I may have sent it into an infinite loop through some error. Mathematica, Maxima and Axiom rapidly return it unevaluated (I have never used Axiom before this, so may well have made an error with it). Is this integral not supported y

[2018-07-11 02:03] ethankward commented on #14892
What type of object is "seconds"?

[2018-07-11 02:16] JohnStone2017 commented on #14892
seconds is a Sympy symbol. I've added its declaration to the original post.

[2018-07-11 06:29] avishrivastava11 commented on #14822
@asmeurer @jksuom

When I add it to the evalf_table, I would also be required to add the method corresponding to `rf` and `ff`, (as done with `bernoulli`, there is a method `evalf_bernoulli` added) ?
Or should I just somehow direct it to the class `RisingFactorial` (and `FallingFactorial`) present in `factorials.py` ?

[2018-07-11 06:58] jksuom commented on #14892
SymPy has several integrators, and it tries them all if no additional hints are given. In this example, SymPy quickly finds that the three main integrators, risch, meijerint and manual, cannot evaluate the integral. The last one, heurisch, can be very slow and use a lot of resources, equations with hundreds of variables. It does not necessarily hang but the effect may look the same on the surface.

[2018-07-11 15:52] sidhantnagpal commented on #14577
As mentioned in John Cook's post, the definition for complex values extends using Gamma Function. [Wikipedia](https://en.wikipedia.org/wiki/Binomial_coefficient#Two_real_or_complex_valued_arguments) seems to include an explanation for that as well.

[2018-07-11 18:39] asmeurer commented on #14577
My question is, is the extension unique? I've never really clear on how uniqueness for analytic continuations works for extending a function defined on Z to a function defined on C.

[2018-07-11 18:43] #14684 closed

[2018-07-11 19:10] asmeurer commented on #14547
To me the whole point of keeping track of units is to catch mistakes. So any fix that allows false positives to slip through would not be acceptable.

Here's the question: should like `log(2*m) + 1` (`log(unit) + unitless`) make sense, or should they give an error? If the latter, then the only solution is to keep `log(unit)` unevaluated, as a different kind of unit which can be added to other log

[2018-07-12 01:55] JohnStone2017 opened #14895 "Can Sympy give closed form of Taylor series term?"
Sympy and Mathematica both do this:

[code]
Mathematica does this too, but I have not yet found analogous Sympy functionality:

[code]

Does Sympy have this functionality?

[2018-07-12 04:49] jksuom commented on #14577
An analytic extension of a function defined on Z need not be unique. The extension can always be modified by adding a functions that is zero on Z such as sin πx. For uniqueness of the extension, it is sufficient that the set on which the function is defined has at least one accumulation point (in each component of the domain of the extension if that is not connected).

[2018-07-12 07:53] schymans commented on #14547
Just to reinforce the points by @asmeurer:

-  `unit - 1` should in my opinion raise an error, and this is why we added some code with @jirikuncar to do this a while ago. If there are convincing arguments against this, we could re-think.
- `log(unit)` should not be unit-less, as the value will depend on the units used in the expression, e.g. `log(2*kilogram)` will have a different value than `log(

[2018-07-12 12:17] jksuom commented on #14877
This should be handled by `risch_integrate` but it is currently unable to find an antiderivative. It tries to find the integral of `(2*x**3+x)/(1-exp(x**2)*x)**2` which probably cannot be evaluated in closed form. This leads to infinite recursion in `manualintegrate`. (It alternates between two intermediate integrands that differ by the sign of the integrating variable.)

[2018-07-12 13:17] czgdp1807 commented on #14547
@schymans I agree partially with you and would like to explain you how my PR, https://github.com/sympy/sympy/pull/14886, accounts for the points you mentioned and solves the issue as
well:
-`unit - 1` will raise an error since, I haven't made any changes to the mechanism which checks the compatibility of two dimensions being added.
- I don't agree here, since, `log(unit)` is dimensionless so havin

[2018-07-12 13:56] czgdp1807 commented on #14374
This issue appears quite interesting. Can I work on this? I am starting my work on this. :-)

[2018-07-12 14:57] Upabjojr commented on #14374
@czgdp1807 feel free to work on it if you like.

[2018-07-12 14:58] Upabjojr commented on #14374
Just beware that `meter + second` may be meaningful in relativity.

[2018-07-12 15:11] czgdp1807 commented on #14374
@Upabjojr Sure. That's an important point.

[2018-07-12 15:22] asmeurer commented on #14577
That's something that has never been clear to me. How is, for instance, `gamma(z + 1)` the "proper" analytic continuation of `n!` and not `gamma(z + 1) + sin(z*pi)` or `cos(2*z*pi)*gamma(z + 1)`? Is there some way to use the "accumulation point" at infinity? Or is it just strictly convention?

[2018-07-12 15:45] jksuom commented on #14577
It is a convention, but there are good grounds for it. For example, `gamma(z + 1)` is the only analytic function extending the factorial that is *logarithmically convex* on the positive real line, i.e., the second derivative of its logarithm is positive. That was first pointed out by E. Artin in his book *Einführung in die Theorie der Gammafunktion* (1931).

[2018-07-12 16:12] smichr commented on #14547
Let's make progress by agreeing on what is wrong and what is not.

1. unit + unitless is wrong
2. unit*unitless is not wrong
3. log(unit) is not wrong
4. func(unit) + unit is wrong as is func1(unit) + func2(unit)

We already agree on 1 & 2. I hope we can agree on 3 or else the CAS-with-units is going to have troubles. Take the issue of pH. @czgdp1807, only units of molar will give a unitless value

[2018-07-12 16:20] asmeurer commented on #14547
I would argue that even func(unit1) + func(unit2) is wrong except when func is a logarithm, though I don't know if SymPy needs to check for that. It only works for logarithms because they map multiplication to addition.

[2018-07-12 17:31] terrorfisch opened #14899 "Indexed.free_symbols includes itself if the base has free symbols"
Upgrading to version 1.2 brakes my code because `Indexed.free_symbols` now includes `{self}` if the base has any free symbols. Is there any reason for this? I think it's quite unintuitive as `a[i]` is not a free symbol if `a` and `i` are defined.

My fix is to filter the free_symbols and drop all Indexed instances. Is there a better way to get te behaviour i need?

Comits that introduced the chang

[2018-07-12 18:50] polexo opened #14900 "Error while executing sympy on R Studio"
Hello,

I went to this error while executing sympy on R Studio.

[code]

[2018-07-12 18:50] asmeurer opened #14901 "Mod shouldn't require integer assumptions"
[code]

Functions should only fail on assumptions if they are False, not if they are None.

This was added in https://github.com/sympy/sympy/pull/14636

CC @sidhantnagpal

[2018-07-12 19:03] JohnStone2017 commented on #13312
This looks fixed; at least it solves an integral it couldn't several months ago. Thanks much; replacing Mathematica with Sympy is my goal, and this goes a long way.

[2018-07-12 19:05] asmeurer commented on #14577
Interesting. So this also implies that the gamma formula for binomial is log convex wrt k (see also https://www.johndcook.com/blog/2013/05/21/binomial-coefficients-log-concave/). Assumedly gamma(z + 1)/(gamma(z - k + 1)*gamma(k + 1)) is also unique in this sense for any given (complex) z.

[2018-07-12 19:32] JohnStone2017 opened #14902 "Mathematically extracting the pieces from piecewise?"
[The Sympy docs for elementary functions](http://docs.sympy.org/latest/modules/functions/elementary.html) include this example:

[code]

Subs enables further evaluation if you know exactly what value x will take, but what if you only know that `x < -1`? Can I ask Sympy "what is p assuming that `x < -1`" and get the specific result back from Sympy?

[2018-07-12 19:59] asmeurer commented on #14902
There's some issue with the docs. It isn't showing the attributes. The `Piecewise.as_expr_set_pairs` method does what you want.

[2018-07-12 22:13] JohnStone2017 opened #14903 "Basic.rewrite() is not reversible"
`atan(x).rewrite(log).rewrite(atan)` does not result in an expression in terms of atan.

[2018-07-12 22:22] JohnStone2017 opened #14904 "Does atan's definition cover all cases?"
atan's definition is likely fine, but I'm not sure.

[code]

If atan were defined alternatively as

[code]

That alternative definition would be equivalent to Sympy's definition on *real* arguments, but different on some non-real arguments. Is Sympy's definition superior, for some reason I can't see, or would it ever make sense to use the alternative definition optionally? Btw Mathematica defines

[2018-07-12 23:47] asmeurer opened #14905 "Deprecate source"
We ought to deprecate the `source` function. It is just a small wrapper around `inspect.getsource`, and for most users, using `??` in IPython/Jupyter is preferable.

If someone wants to fix this issue, you need to add the SymPyDeprecationWarning to the `source` function, referencing this issue. See https://github.com/sympy/sympy/wiki/Deprecating-policy

[2018-07-13 01:29] JohnStone2017 opened #14906 "Crash: (Piecewise / 2).simplify()"
[code]
The error message ends:

[code]

[2018-07-13 03:29] smichr commented on #14547
@czgdp1807, how is `log(2*foot)` made dimensionless?

[2018-07-13 04:17] JohnStone2017 commented on #14895
sympy's fps seems to be what I was looking for.

[2018-07-13 06:58] Upabjojr commented on #14899
I'm sorry to hear that. The reasoning behind this change was the introduction of `.expr_free_symbols`. That is, `.expr_free_symbols` returns all free symbols that are part of the mathematical formula, while `.free_symbols` goes deeper.

[code]
Maybe this could work as a stopgap measure?

The point is that `Indexed` is indeed a free symbol until the formula level, if you further break it down you d

[2018-07-13 08:37] schymans commented on #14547
@czgdp1807, thanks for explaining. I actually think here is the right place to have the current discussion, as it is about a more precise definition of the issue, not about how the issue is solved, which will be discussed in the PR. I think the issue is that `log(unit)` is neither (a) false, nor (b) dimensionless, nor (c) a unit by itself.
Arguments collected from above:
(a) This behaviour should

[2018-07-13 08:44] terrorfisch commented on #14899
Thank you for the reply. I see your point.

`expr_free_symbols` isn't available in 1.2, right?

I use `free_symbols` to determine which variables I need for a numeric evaluation of expressions. I think I will use a wrapper for this.

[2018-07-13 08:51] schymans commented on #14374
@Upabjojr, could you point us to an example? @czgdp1807 see also: https://github.com/sympy/sympy/issues/14318

[2018-07-13 09:05] udiptya999 commented on #14905
I would like to take up this issue. But actually, this is my first time.

[2018-07-13 09:31] Upabjojr commented on #14374
@schymans my wish is to make the units module independent of SI. That is, allow the choice of unit systems. If the user decides to use natural units, `meter+second` is a meaningful expression as one second = 299792458 meters in that unit system.

[2018-07-13 13:33] JohnStone2017 opened #14909 "Summation returns false region of convergence?"
[code]

prints:

[code]

Sympy shows convergence only for x in `(x >= -1) & (x < 1)`. In Mathematica's language, `(x >= -1) & (x < 1)` would imply that x must be *real* in order for the sum to converge. In fact, the sum converges for some non-real values, like termParticular. When I naively interpret sympy's answer, it tells me x must real in order for the sum to converge; but that assertion is fa

[2018-07-13 13:40] akash9712 commented on #14852
@udiptya999 What version are you using? The error appears for me on both the master branch and 1.2.

[2018-07-13 13:46] udiptya999 commented on #14852
@akash9712 Actually I am using 1.1.1.

[2018-07-13 15:40] #14877 closed

[2018-07-13 16:05] asmeurer commented on #14903
Is there a way to rewrite a single logarithm in terms of atan so that it cancels out, or would it need to detect a sum of logs?

[2018-07-13 16:10] asmeurer commented on #14909
The Sum in the Piecewise doesn't mean that it doesn't converge. It means it could be divergent or it could be a finite value. This is why it is included as-is unevaluated.

In general, convergence conditions returned by SymPy are not guaranteed to be tight.

Tight convergence conditions for this sum would be `abs(x) < 1`, but the algorithms aren't smart enough to give the general complex condition

[2018-07-13 16:13] asmeurer commented on #14902
This should be doable with `p.as_expr_set_pairs(ConditionSet(x, x < 0, Reals))`, but it looks like it gives a recursion error. Can you open a new issue for it?

[2018-07-13 16:54] jessexknight opened #14910 "Website "Documentation" links: change from `http` to `https`"
The Documentation links on the [project website](http://www.sympy.org/en/index.html) have destination
`http://www.sympy.org/en/index.html`.

This non-secure `http` protocol results (for me) in a hung page on Google Chrome (never loads).
However, simply typing `https://www.sympy.org/en/index.html` (note `https`) into my search-bar results in immediate (secure) page load.

Try it yourself!
[`http` l

[2018-07-13 17:48] JohnStone2017 commented on #14909
Thanks very much.

Mathematica has this one:

[code]

`ConditionalExpression[-Log[1 - x], Abs[x] <= 1 && x != 1]`

I mention that as a possible direction for Sympy's expansion.

[2018-07-13 18:05] JohnStone2017 commented on #14904
Thanks very much; that clears it up for me; I had not recognized the effective symmetry between the two definitions, even after some investigation.

[2018-07-13 18:09] JohnStone2017 commented on #14903
Apparently it would need to detect a sum of logs:

[code]

[2018-07-13 18:12] JohnStone2017 commented on #14902
I'll read up on ConditionSet and then open the new issue; thank you.

[2018-07-13 18:19] #14892 closed

[2018-07-13 18:19] #14895 closed

[2018-07-13 18:19] #14904 closed

[2018-07-13 18:35] tBuLi opened #14911 "printer.py in sympy 1.2 seems to break subclassing from `Symbol`"
I maintain a project which depends heavily on `sympy`, called [`symfit`](https://github.com/tBuLi/symfit).

However, it seems that sympy 1.2 breaks this project because of the introduction of `_print_Variable` in `codeprinter.py`.

The problem seems to be caused by this: I essentially have an object called `Variable` which inherits from `sympy.Symbol`:
[code]
When calling `lambdify` on an expressi

[2018-07-13 19:15] asmeurer commented on #14911
If you implement `_sympystr` on your object it will stop using that.

I'm not sure if the default printers should be bypassing types that aren't included in SymPy. This is fundamentally a namespacing problem. The printer assumes a global namespace, which isn't the case in Python. Maybe we should extend it to work in a namespaced way somehow, either by pointing to the object itself, or by using the

[2018-07-13 23:06] JohnStone2017 opened #14912 "Recursion Error in as_expr_set_pairs & ConditionSet"
I'm opening this at the request of @asmeurer [here](https://github.com/sympy/sympy/issues/14902#issuecomment-404880405). This demonstrates the issue:

from sympy import ConditionSet, Piecewise, Reals
from sympy.abc import x
print(
    Piecewise(
        (x**2, x < 0),
        (x**3, 0 < x)
    ). \
    as_expr_set_pairs(
        ConditionSet(x, x < 0, Reals)
    )
)

It prints

`[(x**2, ConditionS

[2018-07-14 06:34] JohnStone2017 opened #14914 "How to copy code from the Sympy docs?"
Reading the online docs in Chrome, copying code from the docs to the Windows clipboard is not as simple as highlighting the code and pressing ctrl-c. How is it done?

[2018-07-14 06:35] czgdp1807 commented on #14547
@asmeurer I agree with you log(meter) + log(second) is completely valid, since both are dimensionless and unit less. Let me keep my point of view with an example. Let us say we want to take the log of 2 seconds or for simplicity I would say, 2s. Now, log(2s) is not valid, since, according to dimensional analysis we can only take log of a dimensionless physical quantity. So, how can we make 2s dime

[2018-07-14 06:39] JohnStone2017 commented on #14914
"Sympy Line Shell" is popping open windows and printing tracebacks instead of letting my select code and copy it to the clipboard. A static HTML version of the docs would be helpful.

[2018-07-14 07:06] JohnStone2017 opened #14915 "Documentation: Assumptions documentation is unclear."
I have spent some weeks trying to decipher Sympy's assumptions-documentation system with little success. It lacks overviews, and it's not ordered meaningfully.

I don't know what types of Python objects can I pass to the function `sympy.assumptions.assume.global_assumptions.add`, so I try the online docs, but they [obstruct](https://github.com/sympy/sympy/issues/14914) my learning rather than faci

[2018-07-14 07:10] sidhantnagpal commented on #14914
Are you using the sphinx documentation available [here](http://docs.sympy.org/latest/index.html)?

[2018-07-14 08:23] harish123456798 opened #14916 "Error in bench_meijerint.py"
When i run the benchmark.I get the following error:-
Traceback (most recent call last):
  File "C:\Program Files\Python37\Lib\site-packages\sympy\benchmarks\bench_meijerint.py", line 242, in <module>
    exec(string)
  File "<string>", line 1, in <module>
NameError: name 's' is not defined

[2018-07-14 13:01] JohnStone2017 commented on #14914
By comparison, to read the Maxima docs, you do not need to dart your hand back and forth between the keyboard and the mouse. You rest your hands on the keyboard, and from inside Emacs, you type ctrl-h, i, m, 'maxima', Return; and then you see the manual. Like, they thought about the user-experience of reading the docs and made it easy for the user, and they figured it out in the 1970's and it's op

[2018-07-14 14:08] JohnStone2017 opened #14918 "Bug: Simplify, Piecewise, Q.is_true, assuming don't make sense"
sensible:
[code]
not sensible:
[code]

[2018-07-14 15:21] smichr commented on #14547
What should be the result of the following:

[code]

What does this mean:

[code]

[2018-07-14 15:30] czgdp1807 commented on #14547
@smichr  I got your point. I think introducing scale factor should be done. Converting to dimensionless is not right. What about this model:-
1. Convert `inch` to `meter`, `foot` to `meter` which would introduce a scale factor c.
2. Then multiply c with the quantity, like here 2.
`log(2/foot)` shouldn't be an error. May be the user wants 2 foot or 2 meter. Now, sin(5t + 6) is a sine wave and t is

[2018-07-14 15:32] asmeurer commented on #14914
In my testing the Live shell does not open unless you release the mouse. It also keeps the same location in the document when it is opened. But I agree the experience should be improved here. If you know how to do it the code is at https://github.com/sympy/sympy-live

[2018-07-14 15:32] czgdp1807 commented on #14547
I am not unable to understand about `length/foot`. I mean it is relevant to me to divide length by foot, dimension/unit. Can you please explain more on this?

[2018-07-14 17:09] mammalwong opened #14920 "Matrix.dot between 2 complex vector is wrong, it do not conjugating one of the vector"
I am using sympy1.1.1
If I create v = Matrix([1j,1j,1j]),
v.dot(v) returns -3, it didn't conjugate one of the vector.

[2018-07-14 17:29] JohnStone2017 commented on #14918
Thanks for the advice. A warning in the documentation would have spared me futile effort.

[2018-07-14 17:50] JohnStone2017 commented on #14914
Thanks for the link. I don't have the programming knowledge to alter it, but it needs help. Bad documentation made Mathematica not worth the effort for me, part of the problem was their document viewer is slow and a pain to navigate. GNU info shows how easy navigating can be in a well designed browser. It looks like Sphinx supports texinfo format for GNU info, but I don't know how that relates to

[2018-07-14 18:35] JohnStone2017 commented on #14918
The Maxima source code demonstrates one thing that can be done and how to do it:

[code]

I have barely used Axiom, but it has a reputation for strong typing. I haven't heard of drawbacks to their design, and it's open source. Their example could be a helpful model.

[2018-07-14 19:18] hikmetju opened #14921 "How I can construct the code of wavelets method to solve fractional differential equations in maple"

[2018-07-14 23:31] smichr commented on #14902
[code]

[2018-07-14 23:39] smichr commented on #14912
This Piecewise doesn't give the error (though it is not as simple as it could be). The error comes from

[code]

Try using the interval instead:

[code]

[2018-07-14 23:42] smichr commented on #14906
A quick workaround is to use `piecewise_fold` before simplify which then gives:

[code]

[2018-07-15 00:57] JohnStone2017 opened #14924 "Docs tell me to see something but they don't tell me how to see it"
`help(sympy.fps)` tells me:

[code]

but

[code]

Hyperlinks were invented how many decades ago, but Sympy gives no hyperlink while telling me to see something. I'm just typing my ass off trying to get Sympy to show me the docs it wants me to see, and I don't want to go back to Sympy Live, because it wasted my time last time. Losing my vision by the day, in severe pain, and Sympy makes me type so

[2018-07-15 02:17] asmeurer commented on #14924
@JohnStone2017 if you want to contribute to improve to SymPy, I suggest reading https://github.com/sympy/sympy/wiki/Introduction-to-contributing. We'd be happy to help you.

You should also take a read of https://github.com/sympy/sympy/blob/master/CODE_OF_CONDUCT.md, and please be aware that it is not optional. Certain aspects of your report do not follow this (I think you know which ones).

Regar

[2018-07-15 02:32] asmeurer commented on #13466
SymPy aims to be a full featured CAS. While we are open to external dependencies, we prefer ones that are native to Python, and we would require a BSD compatible license (Maxima is GPL). As @ylemkimon pointed out, Sage is the more appropriate project for glueing distinct computer computer algebra systems into a coherent system. If you look closely at what Sage does, this is not a simple problem by

[2018-07-15 02:32] #13466 closed

[2018-07-15 04:45] certik commented on #14924
@JohnStone2017, welcome to the SymPy community. SymPy is not perfect, but we are trying our best. Thanks for your reports.

As @asmeurer said, when you report what you think is a bug, please keep it civil in the issues, don't use swear words and please try to be constructive. Please read our Code of Conduct, and try to follow it.

[2018-07-15 05:17] cbm755 commented on #14920
I find this very strange too.  The reasoning might be that `numpy.dot` does it that way.  See https://github.com/cbm755/octsympy/issues/426

But actually on re-reading my old thread, it looks like I thought it was *SymPy*'s docs saying it was deliberate.  It is not.  SymPy docs don't seem to mention this at all (!)  I have updated my 2016 comment.

Very minimum: we should change these docs to note

[2018-07-15 07:05] mammalwong commented on #14920
@cbm755 before any change is made, I think there are some additional things we have to consider:
-The dot product of complex number is not commutative, does v.dot(w) means <v|w> in this case?
- does the @ operator only means matrix multiplication now? Do we need to change the case v @ w if v is a row matrix and w is a column matrix?

[2018-07-15 07:19] #14901 closed

[2018-07-15 12:03] smichr commented on #14905
I will miss this dash of sugar. Can we keep it?

[2018-07-15 12:34] skirpichev commented on #14924
@JohnStone2017, you can take look on the [diofant](https://github.com/diofant/diofant/).  I believe, it doesn't have this issue: broken hyperlinks should emit warnings while building of the sphinx docs and such warnings will break travis-ci build for the diofant. (You can see: there are no broken links in our public docs https://diofant.readthedocs.io/.)

I see no problem to fix same issue in the

[2018-07-15 13:30] tBuLi commented on #14911
Thank you for your quick reply. Defining `_sympystr` indeed solves the immediate problem. However, things just got a lot weirder. Let me provide a minimal example:
[code]
In `1.1.1` this runs without problems. However, in `1.2` it raises the following error:
[code]
Looking at the code around the line raising the error this makes little sense, as it looks like this:
[code]
So somewhere in these few

[2018-07-15 14:04] #14924 closed

[2018-07-15 14:39] asmeurer commented on #14911
It gets deleted at the bottom of the method. But the problem is that the method calls itself recursively in the _print call. Is _not_supported used outside of the function? If not, why can't it be a local variable? If so, a default should be added in `__init__` and it shouldn't be deleted.

[2018-07-15 14:40] skirpichev commented on #14924
Wow, closed.  @certik, do you also think that there is no issue at all?

[2018-07-15 14:42] asmeurer commented on #14911
Regarding the original issue, I think making the printing methods that are included in SymPy only dispatch to functions defined in SymPy is reasonable. It might break code that expects the opposite, though.

[2018-07-15 14:59] certik opened #14925 "Fix broken hyperlinks in Sphinx"
As reported in #14924, our documentation has some broken links, that should be fixed, as reported by @JohnStone2017 and @skirpichev:

"broken hyperlinks should emit warnings while building of the sphinx docs (in nit-picky mode) and such warnings will break travis-ci build"

[2018-07-15 15:01] certik commented on #14924
Hi @skirpichev thanks for the comment. I created a new issue for the broken links at #14925. I think that's definitely a problem. I didn't know that Sphinx can detect it. If you are interested in fixing it, please go ahead.

[2018-07-15 15:06] asmeurer commented on #14925
Which link is broken? The issue refers to compute_fps, which works just fine at http://docs.sympy.org/latest/modules/series/formal.html#sympy.series.formal.fps. The problem in the issue is with an interactive Python session, which is not a fixable issue due to the way Python handles names and the fact that we named both a module and a function `series`.

[2018-07-15 15:11] asmeurer commented on #14925
And we do already run Sphinx with -W, which causes warnings to turn into errors, and it runs on every Travis build. So as long as it is a type of link that Sphinx warns about (I think it warns about cross references, but not normal links), it will fail the build.

[2018-07-15 18:05] cbm755 commented on #14920
I looked at some other software.  I'm following @siefkenj's comment for the meaning of "physics convention" vs "math convention".

  * Matlab/Octave: "physics convention"
  * Maple: its rather complicated!  `DotProduct(u,v)` does physics convention if u is a column vector, math convention if u (yes u) is a row vector.
  * WolframAlpha (and probably Mathematica but I haven't checked): sum of elemen

[2018-07-15 18:19] JohnStone2017 commented on #14925
asmeurer understood what I was reporting in the other thread: A Python quirk that manifests annoyingly in the output of Python's help() function when called from IPython or Jupyter. My problem was not broken links, but the absence of links (by design) where links belong. I have no broken links to report,

certik, civilized people do not release undocumented or under-documented software. Under-docu

[2018-07-15 19:03] #14915 closed

[2018-07-15 19:48] asmeurer commented on #14920
I think we should create a different function, say `innerproduct`, that does the Hermitian inner product.

[2018-07-16 06:50] czgdp1807 commented on #14547
@smichr The modified `log` function gives the following results:
`>>> log(x/foot) -> log(x/foot)`
`>>> log(x) - log(foot) -> -log(foot) + log(x)`
`>>> log(2/foot) -> log(2/foot)`
`>>> log(2) - log(foot) -> -log(foot) + log(2)`
`>>> log(2*inch/foot) -> log(2*inch/foot)`
`>>> log(2) + log(inch) - log(foot) -> -log(foot) + log(inch) + log(2)`
@schymans @smichr Should I include a scale factor when the

[2018-07-16 09:22] schymans commented on #14547
@czgdp1807 After looking at the whole discussion, I do not think that we need to make the terms inside a logarithm or any function dimensionless, as `exp(log(meter/second)) == meter/second` should be perfectly valid. We just need to make sure that the dimensions inside the function are consistent, e.g. `log(meter + second)` should raise an error. This is currently the case, I think. What should no

[2018-07-16 09:29] schymans commented on #14374
In a unit system where second = 299792458 meters, length and time are not independent dimensions. We should probably only do dimensional consistency checks for independent dimensions. I agree with you that unit checking should not be hard-wired, but related to the unit system. How could this be done?

[2018-07-16 10:04] Upabjojr commented on #14374
That's the hard part. I believe that something similar to the new-style assumptions could be the way to go.

[2018-07-16 10:12] say2sankalp commented on #14852
Here
`
In [2]: sympy.__version__
Out[2]: '1.2.1.dev'
`
The error still persist in 1.2, @udiptya999  working in yours thats kool.

[code]

[2018-07-16 10:19] czgdp1807 commented on #14547
@schymans Originally `log(x) - log(foot)` also doesn't simplifies to `log(x/foot)`. I am also unaware of the reason. However, I have thought of a model is,
1. check if arg is an instance of Add class, and if it is, then check for the dimensional compatibility of addition.
2. To avoid `log(meter) - log(second)` we can assign the `log()` a dimension of 1, in this way arg will retain its original add

[2018-07-16 12:02] Upabjojr opened #14929 "MultivariateNormalDistribution args types"
In the class `sympy.stats.joint_rv_types.MultivariateNormalDistribution` the `.args` should probably be `ImmutableMatrix` types, not `Tuple`.

[2018-07-16 12:02] Upabjojr commented on #14929
@akash9712

[2018-07-16 16:57] #14929 closed

[2018-07-16 17:13] say2sankalp commented on #14852
The fix was easy,
in version 1.1.1
the line
   is_Symbol= true was present however in
version 1.2.1.dev
  this line was missing from indexed.py file
which was leading to error @akash9712
I proposed fix and did request, @asmeurer  and all can close this if my fix satisfies the problem.

[2018-07-16 17:19] smichr commented on #14547
I'm not even convinced that we need to do this (and it sounds, from your comment in #14923) that you agree. The beauty of a CAS is that it is self-documenting in terms of keeping track of symbols/units. If you simplify an expression and it doesn't give you `x=0` as you might expect, then the expression was wrong. Similarly, if you have something like `foot + liter` as a final expression, it is up

[2018-07-16 17:22] smichr opened #14932 "simplify(log(foot) + foo) raises an error"
[code]

I get similar errors if I replace `log(x)` with `log(2)`, `2` and `log(inch)`.

[2018-07-16 18:47] cknoll commented on #5654
Just for the record: I found another example where `sp.residue` fails. Terms like this arise in Z-Transformation of Inverse-Laplace-Tranformations (quite common in signal processing.)

    import sympy as sp
    s, z, k = sp.symbols("s, z, k")

    sp.residue(      (1)/s*1/(z-sp.exp(s)), s, -0) # gives 1/(z-1)
    sp.residue((1 + k)/s*1/(z-sp.exp(s)), s, -0) # wrong: gives 0

[2018-07-16 19:54] smichr commented on #14932
Here is a suggested fix:

[code]

[2018-07-16 22:06] rosgori commented on #14921
You should put this question in another place, such as https://scicomp.stackexchange.com/questions

[2018-07-16 23:01] richardotis opened #14933 "RecursionError with Piecewise.xreplace containing Indexed objects"
Minimal example to reproduce the issue:

[code]

[code]

Note that this will occur even if you pass `evaluate=False` to `Piecewise`.
This may be related to #14899

[2018-07-16 23:34] richardotis commented on #14933
In `sympy/functions/elementary/piecewise.py:173`, changing `c.free_symbols` to `c.expr_free_symbols` seems to fix the issue. Still analyzing.

[2018-07-17 03:12] asmeurer commented on #14933
CC @smichr

[2018-07-17 09:59] evgeniy97 opened #14935 "Inspect error"
Hello! It's look like  sympy magic and inspect magic break each other.

When we want to get the source of the lambda function, declared in another python file, in a dictionary, we get unexpected behavior - instead of got the function code we got all dictionary. Please, check the problem in attached files.

Thaks!

[Inspect_error.zip](https://github.com/sympy/sympy/files/2201139/Inspect_error.zip)

[2018-07-17 12:32] #12034 closed

[2018-07-17 15:25] schymans commented on #14547
Wow, hope Issue #14932 will be solved soon.
+1 for giving more control to the user, but we still need a way to check for dimensional consistency, as terms may be much less obvious than `foot + liter`. So, as long as units from within functions are not dropped and the above example of `eq1 = Eq(log(m3), log(m1 + m2))` does not raise an error as long as `m1` and `m2` have the same dimensions, this i

[2018-07-17 16:03] schymans commented on #14547
Actually, could PR https://github.com/sympy/sympy/pull/14923 be re-opened? I think that one would solve the initial problem here and after solving Issue #14932, we would probably have quite a consistent behaviour.

[2018-07-17 17:51] #14860 closed

[2018-07-18 05:51] avishrivastava11 commented on #13425
@cbm755

Thanks for the comment. Do you mind if I make a PR using some ideas and code from your PR #14824 (you mentioned that the PR was only for discussion, and not for merging). I think I can solve this issue once and for all. Do you mind?

[2018-07-18 10:29] valglad commented on #14833
@asmeurer According to the docstring of `coeff`, this behaviour was intended: when more than one coefficient is possible, return 0. The docstring gives this example:
[code]
So it's not technically a wrong result.Though it could make more sense to return `None` instead.

[2018-07-18 10:36] valglad commented on #14833
We could have another keyword argument `commutative` or something like that, so that
[code]
So when `commutative=True`, products of non-commutative symbols are treated as separate terms. Is that the sort of thing you had in mind, @homocomputeris ?

[2018-07-18 10:50] terrorfisch commented on #14899
Wouldn't `atoms` would give me sum indices, integration variables and the like?

Also atoms is ~3 times slower. Doesn't matter in my case (premature optimization) and its not even an order of magnitude but I would have guessed that free_symbols is the more complicated Task.

[2018-07-18 11:02] homocomputeris commented on #14833
But mathematically it is.

ATM, I cannot find it in the docs, but

Using the example from the 1st message, another option would be return only the 'exact matching' left/right coeffs, e.g.:

[code]
Alternatively, it can be done as 'exact matching' with no regard to left/right:
[code]

[2018-07-18 11:07] homocomputeris commented on #14833
I write this as a separate comment.
Some of thing I've written actually work:
[code]
But adding b breaks everything:
[code]

[2018-07-18 11:42] maurogaravello opened #14940 "Commutativity fails for Mul with AccumBounds"
[code]
It seems that `Mul(*l1)` is not correct, while `Mul(*l2)` is. However, `a*0 = 0*a = 0`.

[2018-07-18 19:37] asmeurer commented on #14547
That sounds like a much better approach.

[2018-07-18 19:41] asmeurer commented on #13425
@avishrivastava11 you might want to discuss what you plan to do here first, to avoid wasting time implementing something that we would end up rejecting. I'm of the opinion that very little should be done here, as most of the proposed changes add a lot of complexity for a very marginal benefit.

[2018-07-18 23:39] cbm755 commented on #13425
To answer this question in general: a good workflow is to checkout my branch, and make additional commits (on top of my existing commits).  This ensures appropriate attribution.

[2018-07-19 02:11] asmeurer commented on #14933
It also would help to bisect the issue.

[2018-07-19 05:43] drufat opened #14941 "AttributeError: 'list' object has no attribute 'xreplace'"
The following code used to work in the previous version of sympy:
[code]

However, with the latest version (1.2), I get an error:

[code]

Any idea what is causing this error?

[2018-07-19 08:21] avishrivastava11 commented on #13425
@cbm755 @asmeurer  I'll do that. Thanks.

[2018-07-19 11:54] jksuom commented on #14941
`sub_expr` should probably be `_subexpr`.

[2018-07-19 17:16] bhavya17037 commented on #10173
How do i start working on this issue? I guess i have figured out the solution.

[2018-07-19 21:16] isuruf commented on #14637
`-3.14853237286403e-11` is reasonably close to 0 given that the user is double precision.

`integral = Integral(906603243541811*S(10)**(-20) * v**2 * exp(-226650810885453*S(10)**(-20) * v**2),(v,103605809078537*S(10)**(-10),oo))` gives an answer close to 0.

[2018-07-19 21:30] asmeurer opened #14943 "Cannot convert Matrix to numpy array dtype"
[code]

The problem is that `__array__` should take an optional argument, `dtype`.

`matrix2numpy` already supports this argument, so this is trivial to fix.

[2018-07-20 05:26] cbm755 opened #14946 "Inverse Laplace and Mellin transform `as_integral` missing 2*pi*I"
The usual definition of Inverse Laplace Transform and Inverse Mellin Transform has division by `2*pi*I`.  Our docs are missing this.  And `.rewrite(Integral)` or `_as_integral` are missing it too.

IIRC, there are other possible choices about where to put these `pi` factors; we need to ensure the docs and `as_integral` match what our concrete transforms actual do.

[2018-07-20 16:49] yashabk opened #14950 "nsolve does not accept starting vector of type Matrix"
nsolve gives a TypeError when given a Matrix for the starting vector, requiring instead a manual conversion to a list via `v0.T.tolist()[0]`. Notably, nsolve is fine with a Matrix expression for the equation.

A minimal example:
[code]
The following line gives a `TypeError: cannot create mpf from Matrix([[17],[23]])`:
`
sy.nsolve(equation, v, w)
`

The following line gives the correct output, `Mat

[2018-07-20 21:31] #14941 closed

[2018-07-20 23:09] certik opened #14952 "Speedup Travis tests dramatically"
Here are some ideas that I strongly suggest to consider:

On the main Travis tests, executed for every PR:

* Only test the lowest and highest Python versions we support (currently Python 2.7 and 3.6), and don't test any versions in between

* Find all tests that take more than N seconds to run and mark them as slow. (I suggest N = 1 or perhaps 2, or something like that, not 10 or 60.) Slow tests

[2018-07-21 00:33] asmeurer commented on #14952
How would you manage rebuilding the Docker image? If an upstream package has an update that breaks something, we want to know about it right away, but if they are hard-coded into an image we wouldn't know about it unless the image were rebuilt.

By the way if we want to run CI with Docker images I think we have to use Circle CI.

[2018-07-21 00:46] asmeurer commented on #14952
A few general thoughts:

- A test that doesn't get run might as well not exist.
- Tests that are only run at release time should be avoided. They slow down the release, often considerably if the test failure is complex. We actually already have several things that are only tested in the release script (but nothing too complicated, just basic tests that the tarball is correct). Every test should be

[2018-07-21 08:34] davidrpugh opened #14953 "Cannot upgrade to latest version of Sympy with conda"
I noticed that my SymPy install was out of date so I ran

[code]

and got the following

[code]

Which updated `conda` but not SymPy. I tried to remove SymPy and reinstall using

[code]

and got the following

[code]

and then

[code]

which yielded

[code]

I tried completely uninstalling and reinstalling Anaconda entirely from a fresh download. Didn't resolve the issue.

I was able to download t

[2018-07-21 08:56] alexeymuranov commented on #14953
Did you check ig Sympy 1.2 is in the repository you are using?  [`anaconda / packages`](https://anaconda.org/anaconda/sympy) currently has Sympy 1.1.1 as the latest version.

[2018-07-21 10:36] davidrpugh commented on #14953
I didn't check and am using the default repository.  In the past even when Anaconda comes with an older version of a package pre-installed, running `conda update` usually grabs the most recent version available.  I guess they just haven't updated the relevant repositories with the newer `sympy`.

[2018-07-21 10:36] #14953 closed

[2018-07-21 19:32] #14779 closed

[2018-07-21 19:45] asmeurer commented on #14953
conda-forge should have 1.2

[2018-07-22 07:15] ramvenkat98 commented on #14822
Hi,

I've tried to fix this issue by adding _eval_evalf methods to the RisingFactorial and FallingFactorial classes. I added test cases and created a pull request referencing this issue. This is my first time contributing, so please let me know how I should proceed.

Thank you!

[2018-07-22 09:13] shubhscoder commented on #14943
I would like to work on this. Can anyone get me started? Thanking you in advance!

[2018-07-22 14:44] moorepants opened #14958 "Regression in Matrix indexing with SymPy 1.2"
On SymPy 1.1:

[code]

On SymPy 1.2:

[code]

MutableDenseMatrix indexing outputs a list now instead of a tuple.

Reported at PyDy here: https://github.com/pydy/pydy/issues/395

[2018-07-22 14:46] moorepants commented on #14958
Note that both versions output a list for simply created matrix:

[code]

[2018-07-22 14:47] moorepants commented on #14958
It seems that the diff() method on MutableDenseMatrix now outputs an ImutableDenseMatrix.

[2018-07-22 14:56] moorepants commented on #14958
This is the commit that introduced the regression: https://github.com/sympy/sympy/pull/13641/commits/2831e344ffc1f7b6a3874ec96331de93f7bf665e

And the PR:

https://github.com/sympy/sympy/pull/13641

[2018-07-22 20:06] asmeurer commented on #14958
CC @upabjojr

[2018-07-22 21:30] bjodah commented on #14952
Regarding marking tests as slow, we have a list of slow tests here:
https://github.com/sympy/sympy/blob/master/.ci/durations.json
(currently 2 groups, taking more than 10 seconds and 0.1 seconds respectively).

That list is used when a user passes `--veryquickcheck` and `--quickcheck` to pytest.

xref: https://github.com/sympy/sympy/pull/12365

[2018-07-23 00:13] asmeurer commented on #14943
@shubhscoder if you look right above your comment there is a link to a pull request that already fixes this issue. I would suggest looking for another issue as @ethankward has already fixed this one.

[2018-07-23 03:31] shubhscoder commented on #14943
Okay no problem . Will look for another issue. Thank you!

[2018-07-23 06:33] Upabjojr commented on #14958
Do you need this fixed quickly?

[2018-07-23 07:32] akash9712 opened #14960 "`integrate` raised issue with variable of integration of type `Indexed`"
This error was raised with the particular expression given below.
[code]

[2018-07-23 08:02] Upabjojr opened #14961 "@skirpichev unable to access SymPy bugtracker"
Report from:

https://github.com/diofant/diofant/issues/432#issuecomment-406972568

@skirpichev is unable to access the bugtracker of SymPy.

[2018-07-23 08:44] jksuom commented on #14960
It seems that plain `Indexed` is not the proper type for these variables. It should probably be a subclass of both  `Symbol` and `Indexed`.

[2018-07-23 20:02] cbm755 commented on #14946
Oops I think I found more:
[code]
AFAICT, there is no associated test so fixed this should also add a test.

[2018-07-23 21:15] asmeurer commented on #13159
I think the issue still exists for more complicated cases:

[code]

[2018-07-24 01:59] sidhantnagpal opened #14964 "Should ASCII/Unicode or LaTeX formulas be used in docstrings?"
This is how the docs for Bernoulli numbers look currently:

![image](https://user-images.githubusercontent.com/36465988/43112266-d8f7f918-8f12-11e8-9ac5-5a8c01d33d71.png)

The LaTeX version for the same is:

![image](https://user-images.githubusercontent.com/36465988/43112292-fe7422a2-8f12-11e8-95f9-423148f9eae4.png)

[2018-07-24 02:03] sidhantnagpal commented on #14964
As discussed with @jksuom, it would be ideal to have former for terminal and latter for docs.

[2018-07-24 02:07] sidhantnagpal commented on #14964
Reference to #13519 for similar discussion.

[2018-07-24 03:15] asmeurer commented on #14964
I like the LaTeX better. The LaTeX is more professional, and easier to read for complex formulas. You can see for example the Ramanujan formula is easier to read in LaTeX (by the way, I would render `A(n)` as a piecewise). It's also easier to write. In many cases you can just create the expression in SymPy and use `latex()` to generate it. Strictly speaking the raw docstring is already in a markup

[2018-07-24 03:46] #14822 closed

[2018-07-24 04:12] certik commented on #14925
Sergey has been blocked for a post in https://github.com/sympy/sympy/issues/14924 that breaks our CoC (trolling and derogatory comments).

[2018-07-24 05:31] #14946 closed

[2018-07-24 07:53] cbm755 commented on #14634
Doesn't seem like the previous expand/factor behaviour was by design, so perhaps not an important regression.

[2018-07-24 07:53] #14634 closed

[2018-07-24 16:55] cbm755 commented on #14961
Thanks.  The explanation is at https://github.com/sympy/sympy/issues/14925#issuecomment-407275207

[2018-07-24 16:55] #14961 closed

[2018-07-24 16:56] cbm755 opened #14966 "sympy.series is both a module and a function"
Background: there was a bug, #14924, of which I will summarize the technical aspect as follows:

1.  A user reported that `help(sympy.fps)` includes the text:
[code]
But that `help(sympy.series.formal.compute_fps)` doesn't actually work:
[code]
2.  @asmeurer responded:

3.  There was an further discussion of other broken links (like URLs to external projects).  That continues as #14925.

[2018-07-24 16:57] cbm755 commented on #14966
My understanding is that @asmeurer means this "can't be fixed" (or perhaps won't be fixed b/c doing so would break the Sphinx links).  Therefore I close this issue.

[2018-07-24 16:57] #14966 closed

[2018-07-24 17:45] cbm755 commented on #14964
+1 for the LaTeX.

With apologies for hijacking the thread, may I also request feedback on #12162?  I like the idea of doctesting the LaTeX equations but maybe its too messy.

[2018-07-24 17:53] ramvenkat98 commented on #14845
@asmeurer

Hi,

I would like to work on this and have a couple of questions about how to proceed. Is the task to write a Python script that asserts that only files in a particular whitelist have an executable bit set? If so, how do I determine what files are in this whitelist (besides ones like those in bin/ and setup.py as pointed out)? Also, how should I add this script to one of the Travis buil

[2018-07-24 18:56] asmeurer commented on #14966
Just to clarify something, we did NOT delete this issue or any other issue. I don't even know if it's possible to do that.

GitHub seems to have deleted every issue opened by @JohnStone2017, as well has his user profile (they all give 404). I have written to their support about it. I really do not want these issues to be deleted. GitHub allows comments to be hidden (they can still be viewed if you

[2018-07-24 19:02] asmeurer commented on #14966
Regarding this issue being closed, yes, it is not fixable without breaking backwards compatibility. We would have to rename either the function `series`, rename the module `series`, or remove series from `__init__.py`. In the future, we should try to avoid using module names that are the same as function names, especially top-level module names.  If someone knows of a fix that I'm not aware of, le

[2018-07-24 20:07] cbm755 commented on #8227
Not a dup, this one is about *inverse* Laplace transform.

[2018-07-24 21:20] moorepants commented on #14964
I prefer unicode for docstrings. A compromise could be that latex is only allowed in the "notes" section of the numpydoc format. The latex is virtually impossible to read quickly (or at all) for those of us that use the terminal docstring views as our primary reference.

[2018-07-24 22:06] asmeurer commented on #14964
Unicode pretty printing has its own issues. If you don't have the right fonts installed the math renders as [tofu](https://english.stackexchange.com/questions/62524/what-do-you-call-the-phenomenon-where-a-rectangle-is-shown-because-a-font-lack), or if different characters come from different fonts it doesn't alighn properly, especially in browsers where monospace text isn't guaranteed to align if

[2018-07-24 22:42] asmeurer commented on #14964
IPython/Jupyter's `?` just shows the raw docstring text. So does Python's builtin `help()`.

I think we should perhaps reach out to the Jupyter folks and see if they have any renewed interest in allowing `?` to render the docstring using RST, and the math along with it. Most of the work these days in Jupyter is going into jupyterlab, so maybe this could be a jupyterlab widget.

We can't really cha

[2018-07-24 22:45] cbm755 commented on #14964
Can we modify our own `__doc__` on import?

Then we could have both latex and unicode in the source.  On SymPy import, we strip one or the other depending on the environment we find ourselves.

[2018-07-24 22:45] asmeurer commented on #14634
Well `factor` has always worked on lists of elements (I never thought it was a good idea).

[code]

So maybe it was related to that.

[2018-07-24 22:47] asmeurer commented on #14964
I think it might be technically possible to do what you're suggesting. Wouldn't that require writing each docstring twice though?

[2018-07-24 22:51] cbm755 commented on #14964
Custom directives embedded in the docstring?

[code]

[2018-07-24 22:52] asmeurer commented on #14845
A good way to check is that if a file doesn't have a shebang line (like `#!/usr/bin/env python` or `#!/bin/bash`) then it shouldn't be executable, because executing it wouldn't even work anyway. In fact, the script could perhaps just check for that, instead of using an explicit whitelist.

[2018-07-24 22:57] asmeurer commented on #14964
Also it probably shouldn't happen at import time because it could slow down the import time too much.

I think if we had a Sphinx extension with a `sympy` directive as I suggested, you could easily have options in it to render latex or pprint(use_unicode=True/False) or whatever.

Also I wonder if the Jupyter notebook `?` is already customizable, so that we could do something like this on our own.

[2018-07-24 23:00] asmeurer commented on #14964
@Carreau I think you've looked at this before. Has there been any progress on rendering docstrings as HTML in the notebook or jupyterlab? And if not, is it possible for us to customize the output of `?` to give a custom HTML output? I also vaguely remember there were some issues with MathJAX because of sandboxing.

[2018-07-24 23:03] cbm755 commented on #14964
Might the sympy directive be even worse for terminal users who would see something like:

[code]

[2018-07-24 23:29] asmeurer commented on #14964
Or maybe we could have an extension that hooks into the doctests themselves, so that

[code]

gets replaced with

[code]

In other words, in Sphinx, `pprint` will "output" latex. It could still be confusing to users, but it's the most readable in the plain text.

[2018-07-25 00:06] cbm755 commented on #14964
either of those sound really good to me.

`.. sympy::` could happen in a `from sympy import *` environment.

How do we start?  http://www.sphinx-doc.org/en/stable/ext/thirdparty.html

[2018-07-25 03:16] #14732 closed

[2018-07-25 07:58] schymans commented on #14374
How about not raising any exceptions and moving dimensional checking into a separate function, which could be defined in each dimensional system individually? See also: https://github.com/sympy/sympy/pull/14923#pullrequestreview-139982093

[2018-07-25 15:15] say2sankalp commented on #14852
@akash9712   can you explain for referencing ?

[2018-07-25 16:50] Carreau commented on #14964
Some. Yes Mathjax can be an issue. Lat notebook release was because of a mathjax CVE allowing js execution on load...

there are some undocumented option in IPython:

[code]

and

[code]

It's not perfect and would need feedback.

On my back-burner is a question as to wether we could have a hook into `?` that allows custom rendering with mimetype. One question is do we do that on the fly, or do we

[2018-07-25 17:09] asmeurer commented on #14964
So is it possible to do this now with these options? Or is the MathJax still prevented from loading in the pager?

Is the prototype something that I can play around with somewhere?

How is the math in that doctest rendered? It doesn't look like MathJax.

On the fly could be pre-cached if it's expensive. But the advantage is that it would be simpler for stuff that is fast like what we have. Otherwi

[2018-07-25 17:17] Carreau commented on #14964
Mathjax should be in the pager.

Nah, that's rendered in a terminal:

https://gist.github.com/Carreau/f939617bcb300d1d9dd05928b829d8df

(That pushed me to start learning about parsing and made me consider rewriting a sane RST parser that give a proper AST).

Yeah, I had the same thoughts, but some docstring are quite complex and require custom directive. So on the fly rendering could be quite hard

[2018-07-25 17:24] asmeurer opened #14973 ""Not supported by Python" from lambdify"
Reported at https://github.com/sympy/sympy/pull/14971#issuecomment-407830406

For example

[code]

The problem is that `rf` is defined in the `MPMATH_TRANSLATIONS`, which the printer doesn't know about.

This doesn't affect behavior at all, it's just confusing when you look at the source code.

CC @bjodah @cbm755

[2018-07-25 17:26] asmeurer opened #14974 "lambdify(modules='mpmath') doesn't wrap rationals"
[code]

This results in reduced precision results from `nsolve`, because the 232/3 isn't evaluated at full precision.

[code]

Originally reported at https://github.com/sympy/sympy/pull/14971

[2018-07-25 17:27] asmeurer opened #14975 "SciPy lambdify printer doesn't know about rf"
The scipy rf is `poch`. The lambdify printer doesn't know about it.

This probably requires fixing https://github.com/sympy/sympy/issues/7229 first.

See also https://github.com/sympy/sympy/pull/14971

[2018-07-25 17:43] asmeurer commented on #14964
Yeesh, good luck with that. You might take a look at [parso](https://github.com/davidhalter/parso) (the library behind jedi). @davidhalter has told me that if you have a grammar and a tokenizer, it is easy to use it to generate a round tripping parser (but I haven't verified the claim yet myself). I don't even know if it's possible to write a grammar for RST, though. Just imagine what that would l

[2018-07-25 18:39] Carreau commented on #14964
Yeah, I doubt you can have an RST grammar. Wondering if just a subset of
RST would do it.

Maybe a table directive would be easier.

On Wed, Jul 25, 2018, 10:43 Aaron Meurer <notifications@github.com> wrote:

[2018-07-25 21:38] #14974 closed

[2018-07-25 22:00] #14943 closed

[2018-07-25 22:01] #14845 closed

[2018-07-25 22:47] asmeurer opened #14977 "Contains.as_set returns Contains"
[code]

This is wrong because Contains is not a set (it's a boolean). It results in failures in other places because it doesn't have as_relational (since it isn't a set). For instance, from https://github.com/sympy/sympy/pull/14965#discussion_r205281989

[code]

[2018-07-25 22:51] asmeurer commented on #14977
My understanding of `p.as_set()` for a boolean `p` is that it should return a set representing {x | p}, where `x` is the free variable in `p`. It isn't implemented yet for more than one variable, and I'm not even sure what it would do in that case; I guess it should take the variables as arguments and return `{(x1, x2, ...) | p}`.

So in short, if `x` is a symbol, `Contains(x, set).as_set()` shoul

[2018-07-25 23:42] cbm755 opened #14978 "imaginary part of nonreal symbol cannot be zero"
Start with `c = Symbol('c', real=False)`.

Good:
[code]

Room for improvement:
[code]

A consequence of this is this Eq cannot simplify to False:
[code]

[2018-07-25 23:52] cbm755 commented on #14975
Specifically, `scipy.special.poch`.

[2018-07-26 01:51] asmeurer commented on #14978
Straightforward fix https://github.com/sympy/sympy/pull/14979

[2018-07-26 19:29] asmeurer commented on #14964
By the way this issue is somewhat related to https://github.com/sympy/sympy/issues/13519. If things like IPython get the ability to render math in docstrings, it would be better if we used `$` to delimit LaTeX math (and there has also been some discussion of this issue itself over at https://github.com/sympy/sympy/issues/13519).

[2018-07-27 13:14] thatlittleboy opened #14982 "Finding eigenvalues of a 4x4 matrix (symbolic)"
Consider the following:

[code]

which is the matrix:
![chrome_2018-07-27_01-07-28](https://user-images.githubusercontent.com/30731072/43302596-78abf004-9139-11e8-8474-d28cf45a6db6.png)

It is real and symmetric.

I am trying to calculate the eigenvalues, which I have been told is:
![chrome_2018-07-27_09-11-13](https://user-images.githubusercontent.com/30731072/43322583-05c848c8-917d-11e8-9cd6-781

[2018-07-27 13:48] thatlittleboy commented on #14982
I upgraded my Sympy to version 1.2 and there is no longer a MatrixError. However, I am getting only 1 zero eigenvalue, are there any other tricks to simplify the expressions other than `trigsimp()`?

[2018-07-27 14:48] will133 opened #14983 "Incorrect reduction that leads to wrong expression"
It seems like the boolean And/Or function do not work properly with functions (like ITE) with a equality test.  For instance:

[code]
It seems like it would drop the function call, which would result in a serious logical error.

The behavior is somewhat erratic imho:

[code]
(NOte that the last case is necessary sometimes when b and c are actually boolean column and (where/ITE) and the new boolean

[2018-07-27 17:47] will133 commented on #14983
It looks like the problem has to do with Eq. For instance, if you compare an ITE with a constant, it would reduce to the constant:

[code]

[2018-07-27 18:43] will133 commented on #14983
I think it boils down to this code in the sympy/core/relational.py where the Equality `__new__` function would try to evaluate the expression:

[code]
It looks like ITE is actually a boolean function.  This seems somewhat odd to me as the result of the if-then-else ITE(a, b, c) can have b and c that is a non-boolean.  Futhermore, this is somewhat contradictory as the numpy ITE code printer seems t

[2018-07-27 18:57] asmeurer commented on #14983
Some notes here:

- Booleans in SymPy are not numbers. The are True or False. Strictly speaking if `Eq(boolean, 1)` always gave False it would be correct.

- If you want to represent a boolean equality, use `Equivalent`. However, it should also be noted that `Equivalent(x, True)` is the same thing as just `x` (and it will automatically reduce as such).

- ITE is a boolean function. Having argument

[2018-07-27 19:07] asmeurer commented on #14983
Looking closer at the code you posted, I guess this is the case. See https://github.com/sympy/sympy/pull/13445. @smichr do you think it makes more sense for Eq to raise an exception pointing people to `Equivalent` for booleans?

[2018-07-27 20:22] jlumpe opened #14985 "Deprecate strange handling of tensor dimensions in theanoprinter.theano_function"
The `theanocode.dim_handling()` function mostly only exists to process arguments to `theano_function()`. It has some minor utility to the end user in creating a dictionary to pass as the `broadcastables` argument to `theano_code()` or `TheanoPrinter.doprint()`, but I have improved `TheanoPrinter` itself to make this easier and more transparent to the user.

The behavior of the function itself is a

[2018-07-27 20:59] jlumpe opened #14986 "Change behavior of single output variables in theano_function"
`theanocode.theano_function()` takes a sequence of input symbols and a sequence of output expressions and compiles it into a callable function using `theano.function()`. Currently, only a sequence of outputs is accepted. If the user wants a function which returns a single tensor/array (instead of a list of arrays of length one), they must pass a sequence of length one:

[code]

This behavior is in

[2018-07-28 01:45] ramvenkat98 commented on #7229
@asmeurer @moorepants

Hi,

I would like to work on this issue if it is still open. It seems from the comment threads that pull request 10319 fixed most issues, except for:

1. Not repeating the Numpy dictionary when creating the Scipy dictionary but just updating a copy
2. Adding scipy.special functions to the existing functions (would this be similar to what has already been done in 2883?)

Are

[2018-07-28 12:10] jeremyherbert opened #14987 "linear_eq_to_matrix proceeds without exception even if equations are nonlinear"
Hi,

I would expect the following code to throw an exception (or give me a warning telling me I'm silly), but it does not. `x**2=0` is not a linear equation.

[code]

[2018-07-28 16:41] moorepants commented on #14466
@jashan498 Have you worked on this?

[2018-07-28 16:43] moorepants commented on #11778
I think we need to have proper assumptions set in all the examples so that users know they should be doing that for these beam problems.

@jashan498 Is this something you could address?

[2018-07-28 17:46] bjodah commented on #7229
It should be as simple as adding the functions missing to:
https://github.com/sympy/sympy/blob/952382d9dcd7eb949480f6662e3222176debcdbc/sympy/printing/pycode.py#L513

and making sure passing `'scipy'` to `lambdify` makes it use `SciPyPrinter` from `.printing.pycode`.

[2018-07-29 02:39] jashan498 commented on #14466
This issue was fixed. In current master:
[code]

[2018-07-29 03:06] jashan498 commented on #11778
This example is working in current master:
[code]
Regarding assumptions, would it be okay to apply `Abs` over the passed beam length. Something like:
[code]

[2018-07-29 03:18] moorepants commented on #14466
Great. Maybe this is worth adding as an example or test if there isn't something similar. Closing.

[2018-07-29 03:18] #14466 closed

[2018-07-29 03:48] jashan498 commented on #11778
I was thiniking of using `Abs` over length for cases where `is_positive` is not defined, something like:
[code]
But maybe it would unnecessarily add one more function to all values.

[2018-07-29 08:50] maurogaravello commented on #13159
I think that the issue can be resolved changing the line 265 of `mul.py` in the following way:
`                elif coeff.is_Number:  # it could be zoo
` (original line)
`                elif coeff.is_Number or isinstance(coeff, AccumBounds):  # it could be zoo
` (modified)

In this way the code
[code]
is executed also in the case `coeff` is `AccumBounds(-1, 1)` (or similar) and, in case `o` is `

[2018-07-29 09:41] jksuom commented on #13159
That looks promising to me. Can you send a PR?

[2018-07-29 10:01] maurogaravello commented on #13159
Sent it.

[2018-07-30 04:51] ArifAhmed1995 commented on #14960
@jksuom Do you mean to use `x, y = symbols('x y', cls=Idx)` and then rest of the statements ?
Similar error results on doing so.

[2018-07-30 05:35] jksuom commented on #14960
No, that is not what I mean. I mean that the type of the indexed symbols to be used in the stats module should probably be both `Indexed` and `Symbols`. The objects created by `symbols('x y', cls=Idx)` will be of class `Idx` only.

[2018-07-30 05:51] realmulder opened #14993 "assumptions fail on simple Q.Positive expression"
sympy1.2: ask(Q.positive(-x-1), Q.positive(x)) returns None
This used to work (return False) on sympy 1.0

[2018-07-30 06:19] #13159 closed

[2018-07-30 06:43] jksuom commented on #14982
It seems that the special trigonometric simplification, `fu`, is needed. `eigenvals` does not accept the `simplify` keyword but `charpoly` does. So the eigenvalues can be found as roots of the simplified characteristic polynomial:

    roots(mat.charpoly(simplify=fu))

[2018-07-30 13:12] akash9712 commented on #14852
@say2sankalp The reference is mentioned in the description of the PR.
The issue no longer appears in the master branch. Closing this now.

[2018-07-30 13:12] #14852 closed

[2018-07-30 13:47] thatlittleboy commented on #14982
@cbm755 Yes, I checked with some simple values (x=z=0) and (x=z=pi).

@jksuom Thanks, that seems to work well! Before I close this, can I check where is this documented at? I can't seem to find it anywhere in the documentation.

- `charpoly` only appears twice in the pdf documentation, and neither mentions what kw arguments `charpoly` is allowed to take.
- Where is the `fu` simplification method d

[2018-07-30 14:29] rpep opened #14996 "Proposal to add an extra argument to 'itermonomials' function"
Currently, in my use case for SymPy, we need to generate lists of monomials. The sympy.polys.itermonomials function is great for this purpose, but one thing that would be a useful addition for me would be to put a lower bound on the order of the monomials generated.

For e.g.

[code]

with expected output something like:
[code]

At present it is possible to do this using itermonomials and some not

[2018-07-30 15:13] will133 commented on #14983
Thanks for the explanation.  I always thought that ITE was like numpy.where but it seems like it's not the case.  Is there a equivalent of numpy.where (like where(a, b, c) and b and c are not booleans)?

I think the problem most of the time is that a sometimes non-boolean function is used in mixture of a boolean test.  Right now, if you use a non-BooleanFunction in a And/Or/Not clause you'll get a

[2018-07-30 15:17] will133 commented on #14983
Sorry I missed the Piecewise part.  I guess you'll use Piecewise to support numpy.where.

[2018-07-30 15:40] jksuom commented on #14982
It seems that the pdf documentation is incomplete and need be improved. For now, it is best to look at the docstrings: `help(Matrix.charpoly)` and `help(fu)` (or the code).

[2018-07-30 16:57] #14982 closed

[2018-07-30 17:32] cbm755 commented on #14987
Sure, anyone can work on any issue.

Some thoughts:

1.  Technically, there is no bug here because the docs say:

2.  But IMHO its still important to have sanity checks in place.  IIRC, there used to be bugs in ODE solvers because of this for example.

3.  It may be important (for other solvers) to have this code as fast as possible.  That might mean no calculating derivatives, for example.

4.  W

[2018-07-30 18:28] czgdp1807 commented on #14987
I was working on this issue form the past few hours. I have made [PR](https://github.com/sympy/sympy/pull/15000). Please review and kindly give suggestions on improving it further. :-)

[2018-07-30 21:48] moorepants commented on #11778
Great that is working in master. If it is worth adding this as a test (covers something you haven't covered), please do so.

Please open an issue about the Abs and give an example where it is needed.

I'm closing this, but add the test if needed. Thanks.

[2018-07-30 21:48] #11778 closed

[2018-07-30 22:28] cbm755 commented on #14987
Well I started too but then you closed it, see my comments in https://github.com/sympy/sympy/pull/14997

[2018-07-31 04:27] aliartiza75 opened #15001 "TypeError: cannot determine truth value of Relational"
In sympy version **sympy==1.1.1**. The code snippet given below was working fine:
[code]
but in version  **sympy==1.2** for the same code snippet I am getting this error:

**TypeError: cannot determine truth value of Relational**

Is this some kind of bug or feature?

Thank you

[2018-07-31 08:41] czgdp1807 commented on #14987
@cbm755 I apologize for random actions of mine while making a pull request for solving this issue. Actually, I was unaware of the release notes procedure. Hence, I got confused by the sympy bot.
I have reopened the [PR](https://github.com/sympy/sympy/pull/14999) which solves the issue to the best of my knowledge.
I will add the changes you suggested in this PR only.
Really sorry for the troubles.

[2018-07-31 15:54] #14782 closed

[2018-08-01 10:56] bjodah opened #15002 "Regression in 1.2: cse with ignore"
A downstream project of mine [has started failing](https://github.com/bjodah/pyodesys/pull/86#issue-205269220) when trying to upgrade sympy from v1.1.1 to v1.2.

Here is a minimal test:
[code]
I ran git bisect which identified gh-13221 as the source of the regression.

cc @isuruf

EDIT:
Traceback:
[code]

[2018-08-01 12:11] jksuom commented on #14960
That looks feasible to me. `str` could be used.

[2018-08-01 18:01] cbm755 opened #15005 "empty Piecewise fails to pretty print"
Consider:
[code]
Ok, but:
[code]

Now maybe you think no one should make empty Piecewise but they can occur naturally:
[code]
`f` is undefined for non-positive numbers:
[code]

(Another possible resolution is that empty Piecewise raise an exception.)

More background, just FYI: `octave_code(Piecewise())` and the other code generators deal with this in a graceful way by raising exception for all Pi

[2018-08-01 19:59] #15002 closed

[2018-08-01 20:01] asmeurer commented on #14966
After some discussion with GitHub, they have undeleted the issues.

[2018-08-01 20:09] asmeurer opened #15007 "f(x,y).diff(y,y,x,y,x) produces the wrong derivative"
[code]

[2018-08-01 23:54] asmeurer commented on #15007
The method `Derivative._sort_variable_count` assumes that `varcounts` has unique variables when it converts it to a dict https://github.com/sympy/sympy/blob/49a1c33d60a7359ad0acb7a13cd212b2e8d0ac80/sympy/core/function.py#L1300-L1319

But this is not the case here. `varcounts` is `((y, 2), (x, 1), (y, 1), (x, 1))`.

CC @Upabjojr

[2018-08-01 23:59] asmeurer commented on #15007
I don't really see how you can separate sorting of variables and sorting of variables with counts with the counts need to be kept with the variables. I think the two functions should be replaced with one function that does what `_sort_variables` does now but on `operator.itemgetter(0)`.

[2018-08-02 00:50] #14547 closed

[2018-08-02 00:50] #14932 closed

[2018-08-02 01:29] yashabk opened #15009 "lambdify does not work with certain MatrixSymbol names even with dummify=True"
`lambdify` is happy with curly braces in a symbol name and with `MatrixSymbol`s, but not with both at the same time, even if `dummify` is `True`.

Here is some basic code that gives the error.
[code]

The following two lines of code work:
[code]

The following two lines of code give a `SyntaxError`:
[code]

[2018-08-02 05:09] asmeurer commented on #15005
What is an empty Piecewise? What does it mean mathematically? The best I can think of is that it's just `nan`, which is the default "otherwise". If it's not used by anything I think we should remove it.

[2018-08-02 05:17] asmeurer commented on #15009
The default here should be to always dummify, unless dummify is explicitly False https://github.com/sympy/sympy/blob/a78cf1d3efe853f1c360f962c5582b1d3d29ded3/sympy/utilities/lambdify.py?utf8=%E2%9C%93#L742

[2018-08-02 06:00] jksuom commented on #15005
I would like to think that an empty Piecewise is a function with empty domain of definition. It has obviously no practical use, and I agree that it should be removed.

[2018-08-02 09:14] juandesant commented on #12084
Not sure when this was fixed, but at least SymPy 1.2 on Python 3.6 does not have that problem.

[2018-08-02 09:17] juandesant commented on #12084
And SymPy 1.2 on Python 2.7.13 (64-bit) does not have that problem, either.

[2018-08-02 09:17] juandesant commented on #12084
Both checks above done using Anaconda on Python 3.6 (root) and Python 2.7 (secondary) environments.

[2018-08-02 09:27] juandesant commented on #12084
Checked on a Docker image with Python 3.6 and SymPy 1.1.1, and this seems fixed there as well. I recommend this issue to be closed.

[2018-08-02 09:27] #12084 closed

[2018-08-02 11:32] smichr commented on #14983
Perhaps. So an error would be raised whenever one tried to compare Boolean with non-Boolean?

[2018-08-02 13:06] czgdp1807 commented on #14987
@cbm755
I have implemented your last suggestion, that is, `check_linearity = False`. This way the standard tests could be passed and if someone wants to confirm the linearity of equation that he or she is passing to the method can do so by setting, `check_linearity = True`.
If it passes all the tests, then I will make appropriate changes in the documentation of the method as well as add appropriat

[2018-08-02 13:15] czgdp1807 commented on #14996
Can I work on this issue?

[2018-08-02 13:17] rpep commented on #14996
Sure! I wasn't sure whether anyone had a better suggestion than what I'd put forward though; there might be a more elegant way to generate only the monomials necessary rather than truncating the list as I did in that example code.

[2018-08-02 13:24] czgdp1807 commented on #14996
Your issue is quite logical. I will search more on this and will try to resolve it as soon as possible. :-)

[2018-08-02 13:25] rpep commented on #14996
Thanks!

[2018-08-02 14:29] avishrivastava11 commented on #14329
@normalhuman @jksuom  In-fact, I suggest we add a `trig_integrate` method to `Integral class` specifically to handle such trig integrals. What do you say Sir?

[2018-08-02 17:24] cbm755 commented on #15005
Both your comments make sense.  But what does "remove" mean?  The creation of such throws an error?  Also throw when it is created, as in my example, from subs into a valid Piecewise?

Is it though?  If that were the case, my subs example could reduce to `nan`.  and codegen would not have to ensure there is ` (..., True)` subfcn.

Or are you *proposing* that every Piecewise has an implicit `(nan,

[2018-08-02 17:34] cbm755 commented on #15005
In the past, I maybe recall there was some resistance to using a `nan` as a sort of stand-in for "undefined".

`nan` does tend to result in code that needs special cases:
[code]
But this is wrong for say `x = 6` because `nan*0` is `nan`.  Maybe that's more of an `octave_code` bug but still its indicative of gotchas around using `nan`.

[2018-08-02 17:37] bPhysicist commented on #15009
Is
[code]
supposed to work without the Dummify option ?

[2018-08-02 17:42] cbm755 opened #15012 "Piecewise with nan gives invalid Octave/Matlab code"
Consider
[code]
But this is wrong for `x = 8` because `nan*0` is `nan` rather than `0`.  Should make sure the other codegen don't have a similar problem.

Could perhaps be fixed by checking if any of the subfunctions of the `Piecewise` are `nan` and if so, printing the code differently: it may not be possible to do it with inline code.

- - - -

This is probably "easy to fix" if:
   * you're famil

[2018-08-02 18:49] jksuom commented on #15005
I would go for this. I think that users (also library code) should be prepared to catch exceptions instead of just letting expressions with `nan` cumulate.

[2018-08-02 18:59] jksuom commented on #14329
I don't think that adding another method to `Integral` would be a good idea. How would a user know when to use such a method. The `doit` method should be able to handle ordinary integrals (including improper integrals) when they exist.

[2018-08-02 19:26] asmeurer commented on #15012
Is it possible to generate Octave code for Piecewise that doesn't evaluate every condition? NumPy via lambdify currently does this (with `select`) and it causes a lot of problems.

[2018-08-02 19:36] asmeurer opened #15014 "Better Piecewise printer for NumPy"
Currently the NumPy printer prints Piecewise like this

[code]

However this has many issues

- It's inefficient. Every term is evaluated. Ideally only the first term that has a true condition would be evaluated.
- If one of the terms leads to a fault in NumPy it will raise a warning, or even an exception. For example:
  * https://github.com/sympy/sympy/issues/11306 (a Piecewise with 1/x leads to

[2018-08-02 19:37] asmeurer commented on #14671
I opened https://github.com/sympy/sympy/issues/15014 for the Piecewise thing. Can this issue be closed, or are there still unfixed performance regressions?

[2018-08-02 19:40] asmeurer commented on #15012
See https://github.com/sympy/sympy/issues/15014 about Piecewise for NumPy, which outlines the issues it is causing there. I think what we're doing with Octave is even worse than NumPy because at least `np.select` always does the right thing regarding selection. With `boolean.*x` it assumes that `1.*x` and `0.*x` work properly, which they clearly don't in all cases (e.g., `NaN`).

I also should poi

[2018-08-02 19:45] asmeurer commented on #15005
I was pretty sure at some point that Piecewise always defaulted to nan. It definitely does this for the NumPy printers. But I guess I remembered incorrectly because it seems it gives an empty Piecewise, and has for some time.

I think it should default to `nan`. The NumPy printers already have done this for some time. Possibly some other code generators as well. By "remove it" I mean `Piecewise()`

[2018-08-02 20:04] smichr commented on #15005
BTW, I think I anticipated this in some way by defining `NAN` as `Piecewise()` in the integration work that I did. If a default of NaN is added then I think that constant will be `NAN = S.NaN`.

[2018-08-02 20:10] asmeurer commented on #15005
I found de24a5102c756b326b848b5872c3c11d63912b6c which lead me to https://github.com/sympy/sympy/issues/5666

[2018-08-02 20:15] asmeurer commented on #15005
It seems the NumPy behavior was added later https://github.com/sympy/sympy/pull/9657

So it looks like:

- Piecewise with no conditions matching has given empty Piecewise for a long time. Probably since the beginning
- The printing has been broken for `Piecewise()` for a long time
- The code printers have just been using `nan` for this for a long time, since empty constructs like `Piecewise()` don

[2018-08-02 21:30] asmeurer commented on #15005
Piecewise in its current form was introduced in 4abd9df150f183cb52c6608ffead13b4496d2f4c (it also existed a little before that with a different syntax). I confirmed that in that commit `Piecewise((x, x> 1)).subs(x, 0)` gives an empty `Piecewise()`. So it has been this way for a long time. But I still think we can change it. The fact that the pretty printing has also been broken for a long time (at

[2018-08-02 21:42] Foadsf opened #15015 "Numerically solving system of PDAEs using polynomial power series"
I requested this feature firstly [here in the Mailing list](https://groups.google.com/forum/#!topic/sympy/X3h38SqQBCo) and [this Reddit post](https://www.reddit.com/r/Python/comments/92cehq/using_sympy_for_solving_pdaes_as_taylor_series/), and then followed by [this post on cs.stackexchange](https://cs.stackexchange.com/questions/95886/algorithm-for-using-power-series-to-numerically-solve-a-partia

[2018-08-03 03:00] dimasad opened #15016 "`len` of rank-0 arrays returns 0"
`sympy.tensor.array.NDimArray.__len__` always returns zero for rank-0 arrays (scalars). I believe the correct value should be one, which is the number of elements of the iterator and the observed behaviour in numpy.

[code]
In numpy we have the following:

[code]

This was tested in sympy 1.2-rc1 running in Python 3.6.6

[2018-08-03 03:28] #15009 closed

[2018-08-03 03:41] ethankward commented on #10459
These CDF calculations are now possible and do not hang. Issue resolved?

[2018-08-03 04:31] aliartiza75 commented on #15001
Thank you @smichr

[2018-08-03 07:54] Foadsf commented on #15015
@celliern was so kind to implement one version of the idea [here](http://nbviewer.jupyter.org/gist/celliern/b38158d04d9dc3d8079dc44e3b747ac8). I haven't checked the code yet, but I have some other points to add:

1. maybe it is a better idea to separate algebraic equations from PDEs. the issue is that the former are not always in the form of polynomials. in that case it is better to expand them to

[2018-08-03 09:25] #8227 closed

[2018-08-03 12:47] czgdp1807 commented on #15012
I would like to work on this issue. Is there any work to be done it?

[2018-08-03 14:00] czgdp1807 commented on #14996
I have found a faster approach to this issue. I will make a PR shortly.

[2018-08-03 17:55] czgdp1807 commented on #14996
I have made a [PR](https://github.com/sympy/sympy/pull/15020). Please see and review.

[2018-08-03 18:44] certik commented on #15015
It would be also useful to first implement an equivalent `AsymptoticDSolveValue` into SymPy, that would be valuable on its own.

Regarding `AsymptoticPdeSolve` the best is to take some example and code a prototype, see if it works, then improve upon it.

[2018-08-03 19:06] #10459 closed

[2018-08-03 19:11] Foadsf commented on #15015
Great point. Totally agree. I just think PDEs are a completely different beasts, and `AsymptoticPdeSolve` won't be an easy extension to `AsymptoticDSolveValue`.

We now have one implementation by @celliern [here](http://nbviewer.jupyter.org/gist/celliern/b38158d04d9dc3d8079dc44e3b747ac8) and some ideas by me and @asmeurer  over [here](https://cs.stackexchange.com/questions/95886/algorithm-for-usin

[2018-08-03 20:09] Foadsf commented on #15015
I'm [here](https://groups.google.com/forum/#!topic/fricas-devel/I1_GAjAJKhI) discussing with the FriCAS team about the same idea, apparently there is a `seriesSolve` in Axiom-FriCAS. I will fins the source code and link in here.

[2018-08-03 22:16] will133 commented on #15014
I'd just like to add my two cents on performance.  I actually thought numpy.select is doing something smarter but it's really not.  It looks like a nested numpy.where clause is actually faster by a significantly margin for some reason.

(Note s is actually microsecond below):

[code]
Using numpy.where would look bad but it's generated code anyway.  The difference is quite significant though.

[2018-08-03 22:35] will133 opened #15023 "Assumption is wrong for undefined function with boolean arguments"
It looks like if you have an undefined function with a boolean argument, the assumption for is_real after joining it with the Mul clause is incorrect.  For instance:

[code]
I do not think sympy can make assumption for what the foo() function is going to return (so no assumption should be made).  This causes, for instance, the Min function to fail like this:

[code]

If the argument is not a boole

[2018-08-04 05:31] jsdeguzman6 opened #15024 "Error in solveset in a rational function with a radical denominator"
I'm using Sympy in order to get extrema and inflection points of certain functions.
When I used solveset in this case (I just put the function immediately to make reading easier):
[code]
I get this error:
[code]
...which is somewhere around here:
https://github.com/sympy/sympy/blob/49a1c33d60a7359ad0acb7a13cd212b2e8d0ac80/sympy/solvers/solveset.py#L721-L723

[2018-08-04 06:41] jksuom commented on #15024
It seems that `unrad` returns `None`. It should mean that there are no radicals to remove, but that is probably not correct in this case because of the square root in the denominator.

[2018-08-04 08:15] bhavya17037 commented on #6013
@asmeurer what greek symbol would lerchphi use?

[2018-08-04 08:46] Foadsf commented on #15015
**Whitepapers:**

Here I will list all the relevant papers, books or post I can find around:

1. Aroca, Fuensanta, J. Cano, and Françoise Jung. "Power series solutions for non-linear PDE's." Proceedings of the 2003 international symposium on Symbolic and algebraic computation. ACM, 2003.

[2018-08-04 10:28] Foadsf commented on #15015
Considering the fact that multiplication of long multivariate polynomials can be inefficient in sympy, I'm developing a multivariate polynomial class using numpy. please take a look at it over [here](https://gist.github.com/Foadsf/ba2f767f8c94cbb203ad368b4306039a) and let me know how do you think.

[2018-08-04 11:16] jksuom commented on #15015
There are two polynomial implementations in SymPy, dense and sparse. The former can be inefficient for many variables but not the latter one.

[2018-08-04 11:49] jksuom commented on #15015
The implementation is in `polys.rings`. There are several public interfaces, `ring`, `xring`, `vring` and `sring`. The last one is probably most convenient for constructing both rings and polynomials.

[2018-08-04 15:48] #15007 closed

[2018-08-04 15:54] smichr opened #15028 "better canonicalization of variables of Derivative"
Better canonicalization of `Derivative._sort_variable_count` will be had if any symbols, appearing after functions, that are not in the free symbols of the function, appear before the functions: `Derivative(f(x, y), x, f(y), x)` should equal `Derivative(f(x, y), x, x, f(y))`.

[2018-08-04 19:45] smichr commented on #15024
As I recall, `unrad` gives you an expression whose roots contain (as a subset) the roots of the original expression. If there are no radicals to remove in the governing expression of the original expression (read: the numerator) then None will be returned. One does not need to solve a radical to get a solution to the given function. (The solver should have separated the numerator from the denomina

[2018-08-04 20:05] bPhysicist commented on #14993
We also have the following:
[code]
I think that the function [AskNegativeHandler.Add](https://github.com/sympy/sympy/blob/a78cf1d3efe853f1c360f962c5582b1d3d29ded3/sympy/assumptions/handlers/order.py#L57-L79) has an issue when both arguments are positive and the function  [AskPositiveHandler.Add](https://github.com/sympy/sympy/blob/a78cf1d3efe853f1c360f962c5582b1d3d29ded3/sympy/assumptions/handlers

[2018-08-04 20:07] smichr commented on #15028
something like this:

[code]

[2018-08-04 20:08] ethankward commented on #10922
This is resolved with #10923.

[2018-08-04 20:09] ethankward commented on #4523
This is resolved with #10923.

[2018-08-04 20:09] ethankward commented on #6968
This is resolved with #10923.

[2018-08-04 20:50] normalhuman opened #15032 "Inconsistent application of the flag inverse=True"
The flag inverse=True is supposed to force the cancellation of inverse functions, as in
[code]
However, it is not applied in the following case:
[code]
The reason is that `simplify` defers to `_eval_simplify` of the `log` class, which neither receives nor cares about the `inverse` flag.

This is a symptom of a larger issue: the signature of class-specific simplification methods is inconsistent wit

[2018-08-05 04:56] moorepants opened #15034 "sympy_benchmark tests failing with SymPy 1.2"
A couple of tests are failing, seemingly due to some functions returning different outputs. If you run `py.test` in the `sympy_benchmarks` repo, you get:

[code]

[2018-08-05 05:15] asmeurer commented on #15034
Ideally all the benchmarks should be part of the SymPy test suite with comments that the benchmarks repo should be updated if they are changed.

[2018-08-05 05:16] #6968 closed

[2018-08-05 05:28] #4523 closed

[2018-08-05 05:29] #10922 closed

[2018-08-05 06:01] #15032 closed

[2018-08-05 06:46] jashan498 opened #15035 "integrate unnecessarily returns i in the solution"
`integrate` is returning `i` in the solution, even though it can be solved without it.
[code]

[2018-08-05 07:30] cbm755 commented on #15012
Here's a sample of the mutliline code.  Instead of ` (x <= 0) .* 42 + (x > 0) .* log(x)` we need something like:
[code]
This is short-circuited in the way @asmeurer suggests above (e.g., log is only evaluated at those entries of the vector where `x > 0`).  But it needs to be multiline.

The `zeros(..., class (x))` may not always be right; maybe there are other things we could do there.

[2018-08-05 07:46] jksuom commented on #15035
`integrate` tries to return a continuous antiderivative for functions defined piecewise. For example, the term `(log(x1 - 8) - log(4) - I*pi)*SingularityFunction(x1, 4, 0)` (that comes from `SingularityFunction(x1, 4, 1)`) will vanish for `x1 < 4` where `SingularityFunction(x1, 4, 0) = Heaviside(x1 - 4)` is zero. To make the antiderivative continuous at `x1 = 4`, one has to subtract the value of `

[2018-08-05 10:07] willprice opened #15037 "Lambdify can't deal with MatrixElements"
[code]

Results in the following error

[code]

I'm guessing this is probably due to the lack of support for `MatrixElement` objects in [`PythonCodePrinter`](https://github.com/sympy/sympy/blob/master/sympy/printing/pycode.py) which `lambdify` calls... but I'm very new to sympy and have only just started prodding around.

I'd be happy to do the work to fix this if someone could provide some guidan

[2018-08-05 10:31] willprice commented on #15037
It seems that the `_EvaluatorPrinter` preprocesses arguments to handle those that don't map to valid python identifiers.

`lambdify` calls `_EvaluatorPrinter.doprint` to generate the lambda expression:

[code]

Which calls `_EvaluatorPrinter._preprocess`

[code]

So it's probably at this stage that `MatrixElement`s should be handled so they're mapped to proper expressions, I see there is already c

[2018-08-05 16:09] 3vts opened #15038 "Incorrect notation when converting log with base to latex"
Issue comes when you try to get the latex equivalent of an expression like this `log(x, 3)` which should return `\log_{3}(x)` but instead you get `\log{\left (x \right )}`

    function = log(x, 3)
    print(latex(function))

prints the following

    \log{\left (x \right )}

[2018-08-05 18:45] sidhantnagpal commented on #15038
This is what [SymPy live](http://live.sympy.org/) gives:
[code]

[2018-08-05 19:43] moorepants commented on #15038
The master branch produces:

[code]

Which is valid.

[2018-08-05 23:04] westurner commented on #14318
[code]

I think this should work. AFAIU, this used to work; but does not now.

This does not link to an explanation of what needs to be changed:

[code]

- Why do I need to do manual map lookups? (I've read the issue thread)
- What code do I now need to add in order to use ``SI_quantity_dimension_map``?
- #14319 does not have more info. It has trackback links to e.g. this issue.

[2018-08-06 04:44] #14820 closed

[2018-08-06 16:19] moorepants opened #15042 "Make settings kwargs explicit in `latex()`"
See this comment: https://github.com/sympy/sympy/pull/15040#issuecomment-410574636

The documentation is much clearer and useful if we do:

`def my_func(a, b, c=None, d=True, f='leibowitz')`

versus:

`def my_func(a, b, **kwargs)`

because Sphinx will parse it and when viewing docstrings the kwargs are self documented. Many functions in SymPy could be improved like this. `latex()` is one of them.

[2018-08-06 16:32] moorepants commented on #15042
Related: https://github.com/sympy/sympy/issues/5987

[2018-08-06 16:42] czgdp1807 commented on #15012
@cbm755  I am familiar with both the requirements that you mentioned in your original comment. I am proceeding to work on this issue. I will ask for help if stuck anywhere. :-)

[2018-08-06 16:50] moorepants commented on #15034
Agreed. There is also a small test suite in the benchmarks repo, which may better belong in sympy.

[2018-08-06 17:52] will133 commented on #15023
After tracing through 300 nested recursive calls, it seems like the problem has to do with `is_commutative` for a function is evaluated in the wrong way.  It is strange that BOTH `is_commutative` property and the `_eval_is_commutative` is defined in class Function (in sympy.core).  The `is_commutative` property is defined as:

[code]
while the _eval_is_commutative is defined as:

[code]
Thus, this

[2018-08-06 20:22] cbm755 opened #15043 "inverse_laplace_transform of sum fails with `noconds=False`"
The way inverse_laplace_transform deals with conditions needs some love...    I'd like to consider having `noconds=False` the default like it is with other transforms.  Here's one particular issue to deal with along the way:

These transforms both work:
[code]
But put two of them together:
[code]

[2018-08-06 20:36] asmeurer commented on #15042
This is a sub-issue of https://github.com/sympy/sympy/issues/14030

[2018-08-06 20:44] cbm755 opened #15044 "IntegralTransform: default `_collapse_extra` missing return"
I haven't quite narrowed this down to a particular problem, but this code looks wrong to me:
[code]
I think that should end with `return cond`, at least the `doit` method looks to rely on this:
[code]

[2018-08-07 00:02] saidctb opened #15047 "TensorProduct bug when the args are a combination of symbols and matrices"
I have this simple example that doesn't work, I'm not so sure if we are allowed to combine such arguments or not, but then why does it work in a certain order and doesn't on the other.

In [37]: from sympy.physics.quantum import TensorProduct

In [38]: from sympy import Symbol, eye

In [39]: a = Symbol('a',commutative=False)

In [40]: TensorProduct(a,eye(1))
Out[40]: axMatrix([[1]])

In [41]: Tens

[2018-08-07 00:15] smichr opened #15048 "derivative of function wrt function is 0"
The current behavior of derivatives wrt functions does not match what is given [here](https://math.stackexchange.com/questions/954073/derivative-of-a-function-with-respect-to-another-function):

[code]

[2018-08-07 01:34] asmeurer commented on #15048
To clarify, the issue is with `x.diff(f(x))` giving `0`, instead of `1/diff(f(x), x)`.

It's explained in the docstring of Derivative. We treat `expr.diff(f(x))` as functionally equivalent to `expr.subs(f(x), y).diff(y).subs(y, f(x))`, which is the notation used by Euler-Lagrange.

[2018-08-07 05:57] VPetukhov opened #15050 "AttributeError when run solve on MatrixSymbol"
[code]

When I run
[code]

Get
[code]

[2018-08-07 06:37] jksuom commented on #15044
I think you are right. It seems that this default `_collapse_extra` is actually used by many transforms. Only the (direct) Laplace and Mellin transforms have their own versions.

[2018-08-07 07:03] jksuom commented on #15043
`x[1:]` on [this line](https://github.com/sympy/sympy/blob/master/sympy/integrals/transforms.py#L136) is a tuple (of length 1 like `(True,)`). So there should be `list(x[1:])` instead of `[x[1:]]`. (And `return cond` should be added to `_collapse_extra`.)

[2018-08-07 09:46] jksuom commented on #15050
The arguments of Basic objects are expected to be Basic objects. `MatrixSymbol` does not satisfy this condition (XFAIL in test_args). It should probably be modified to have no `args` but properties like `name`, `rows` and `cols` instead.

[2018-08-07 15:51] VPetukhov commented on #15050
Thank you for the answer! Would your solution work in case when `rows` and `cols` are variable?

[2018-08-07 16:05] jksuom commented on #15050
I think they could be symbols.

[2018-08-07 16:57] VPetukhov commented on #15050
@jksuom
Looks like it's assumed that all arguments of the constructor should be in `args`. The function `factor_terms` in [sympy.core.exprtools](https://github.com/sympy/sympy/blob/master/sympy/core/exprtools.py#L1101) uses the [following code](https://github.com/sympy/sympy/blob/master/sympy/core/exprtools.py#L1196) for matrices:

[code]

As `p.func` is the constructor, this part fails as soon as

[2018-08-07 17:14] jksuom commented on #15050
That is true for most classes but not for those that are considered atomic. For example,
[code]
I think that a MatrixSymbol could be regarded as a variant of Symbol.

[2018-08-07 17:47] asmeurer commented on #15048
In that case your original expression would still give the same result. I think this is actually very similar to `y.diff(x)` giving 0. We treat `y` as an independent variable from `x`, rather than as something that could be `x`. Similarly, `f(x)` is an arbitrary function distinct from any explicit function like `x` or `g(x)` or `cos(x)`. (I still think `expr.diff(cos(x))` should be a ValueError by

[2018-08-07 18:08] smichr opened #15054 "Derivative: when evaluate is False there is still some simplification"
`Derivative(f(x), x, x)` automatically collapses to `Derivative(f(x), (x, 2))`. If the Derivative is not to be evaluated then should even this be done? If this is automatic then we see
[code]
rather than
[code]

It would be easy to change this in #15049

[2018-08-07 18:09] VPetukhov commented on #15050
Thanks, now as I set `is_Atom = True` it doesn't fail. Though [`solve`](https://github.com/sympy/sympy/blob/master/sympy/solvers/solvers.py#L450) now returns empty result.
First problem is in [`non_inverts` elements](https://github.com/sympy/sympy/blob/master/sympy/solvers/solvers.py#L1103). By some reason, all occurrences of `_X0` are marked as `non_inverts` and [replaced with `Dummy()`](https://

[2018-08-07 18:44] #15016 closed

[2018-08-07 18:52] jksuom commented on #15048
It might be helpful to point out that although `f(x)` looks like a function it should actually be considered as an (infinite) indexed family of variables in `expr.diff(f(x))` (a generalization of the more familiar notation `x_i`). It means that the derivative is 0 unless `f(x)`, with exactly the same index `x`, explicitly appears in `expr`. The variables `f(x)` for different values of `x` should b

[2018-08-07 19:47] #12081 closed

[2018-08-07 20:12] smichr commented on #15048
OK, so the current behavior is documented so this looks like a non-issue for SymPy. Thanks for the feedback.

[2018-08-07 20:12] #15048 closed

[2018-08-08 02:08] smichr commented on #14523
For a single equation, `ConditionSet(x, Eq(f(x), 0), domain)` has the meaning: 'all values of x in the domain for which f(x) = 0". For multiple equations (as above) it doesn't have the same meaning and doesn't match the documentation:
[code]

So at least we should update the documentation to indicate what the multidimensional case means: the values for the symbols (in the given order and contained

[2018-08-08 05:15] ethankward opened #15055 "Incorrect limit of n**3*((-n - 1)*sin(1/n) + (n + 2)*sin(1/(n + 1)))/(-n + 1)"
[code]

The answer should be `1`.

[2018-08-08 05:33] #7229 closed

[2018-08-08 05:33] #14973 closed

[2018-08-08 05:33] #14975 closed

[2018-08-08 06:13] cbm755 opened #15056 "dsolve: `get_numbered_constants` should consider Functions"
Consider:
[code]
This should probably give `Symbol('C3')`.  Instead if gives `Symbol('C2')` which is technically ok but could lead to confusion (see `test_C1_function_9239`).

`test_C1_function_9239` in `test_ode.py` should be updated.  Also, a new test added, something like:

[code]

Easy to fix: you need some background in ODEs, know the difference between `Symbol` and `Function`, and have atten

[2018-08-08 08:11] cbm755 commented on #6335
I cannot reproduce with 1.2.  I could add a test as-is, but I'd like to remove magic `y(x)` making Function from Symbols (in #9064) and then the test wouldn't be valid anymore.

Ok to close this?

[2018-08-08 15:06] #14960 closed

[2018-08-08 15:28] jksuom commented on #15050
It seems to me that `solve` was not planned to work with non-commutative variables like matrices. However, matrix equations are supported. Each such equation is replaced by a list of scalar equations, one for each entry. Maybe something similar could be done with matrix variables. Taking a list of variables for each matrix.

[2018-08-08 18:05] asmeurer commented on #6335
I think there used to be a lot more bugs with symbols that automatically converted to functions. I'm OK to close.

[2018-08-08 18:05] #6335 closed

[2018-08-09 00:45] #8240 closed

[2018-08-09 05:01] majidaldo opened #15059 "not pretty printing indexed(x1, i)"
not sure if this is expected behavior but i'm expecting x_{1,i}

![image](https://user-images.githubusercontent.com/3588248/43878942-9caaee84-9b6f-11e8-9f49-44800d684ceb.png)

[2018-08-09 13:08] sidhantnagpal commented on #15054
I would actually expect this to collapse:
[code]
For multi-variate functions, I would expect the output to be order-dependent (which it is):
[code]

[2018-08-09 13:16] sidhantnagpal commented on #15054
The issue is `evaluate` can have different meanings when trying to differentiate `f(x)` (`Function('f')`) and `sin(x)`.

[2018-08-09 14:29] ramvenkat98 commented on #15005
@asmeurer @cbm755

I've made relevant changes to the pull request based on the reviews. Could I get an update on how to proceed further?

Thanks

[2018-08-09 16:15] Foadsf commented on #15015
I'm surprised nobody pointed out that SymPy already has the ability to solve ODEs using formal power series!
    dsolve(eq, hint='1st_power_series')

[2018-08-09 16:47] czgdp1807 commented on #15012
Can I add the mechanism to return a multiline code in the `settings["inline"]` part? Or should I make a different method that should be called from within `settings["inline"]` whenever needed?

[2018-08-09 18:30] asmeurer commented on #15054
I can't think of any advantage to distinguishing diff(f(x), x, x) and diff(f(x), (x, 2)). But if it falls out of the way evaluate=False works it's fine too. I agree that it should definitely keep the order.

[2018-08-09 18:33] asmeurer commented on #15012
Take a look at how it is done in the Python printer. There needs to be a clear separation between expressions and non-expressions in the code printers so that things that put code in expressions can do so without the printer producing non-expression code (like multistatement code for most languages).

Does Matlab have assignment expressions a la C? If so, this probably could be squeezed into a sin

[2018-08-09 18:35] czgdp1807 commented on #15012
I am able to do it in one line of octave code. I am coding and testing my solution currently.

[2018-08-09 18:44] smichr opened #15062 "EmptySet given for exponential equation"
[code]
For the following, the solution is log(z)/log(y) if y!=0 and z!=0; if z=0 (see above);
if y=0 then solution is empty set if z!=1 else 0
[code]

Unless there is a way to represent these with Sets, it's better to return ConditionSet with the unsolved equation.

[code]

[2018-08-09 19:11] yatna commented on #15042
I would like to work on this

[2018-08-09 19:32] czgdp1807 commented on #15012
I have created PR #15065 . Please give your reviews and suggestions.

[2018-08-09 19:45] moorepants commented on #15042
Go for it!

[2018-08-09 21:13] certik commented on #15015
Good. So you are halfway done already. ;)

[2018-08-10 00:05] smheidrich opened #15069 "Intersection between Plane and Segment3D returns points outside of the segment"
It seems to me that, as far as ``Plane.intersection`` is concerned, ``Segment3D`` is treated as if it wasn't delimited on both ends (i.e., as if it was a ``Line3D``), and so additional intersections that aren't actually within the segment are returned:
[code]

The expected result is of course that ``Plane.intersections`` returns an empty list in this case.

An easy workaround for the time being is

[2018-08-10 01:07] asmeurer commented on #15059
I guess the problem is that it's not valid LaTeX. We should at the very least wrap the indexedbase in `{}` in the printer so that it would print `{x_1}_{i}`.

[2018-08-10 03:28] sidhantnagpal commented on #14935
It would be better if you can include the code or exact problem in the description itself.

[2018-08-10 03:39] moorepants commented on #14935
Yes, please paste a code snippet of a minimal example. Here is a nice guidline: https://stackoverflow.com/help/mcve

[2018-08-10 04:10] cbm755 commented on #15012
When you do your new PR, it will need tests.  And presumably some existing tests will need changes.

[2018-08-10 04:52] czgdp1807 commented on #15012
I have made the new PR #15070 . I will add tests and modify the existing tests when you will approve the changes I have made in the code of _print_Piecewise method.
I apologize again for the mistakes I am making while creating a PR while solving an issue. :-( I am continuously trying to improve. I assure that I will be prefect in making PRs gradually with time. :-)

[2018-08-10 05:59] nschloe opened #15071 "[regression] lambdify with Matrix: `NameError: name 'Matrix' is not defined`"
I'm trying to create a lambda function from a sympy expression that involves a dot product with a `sympy.Matrix`. Since at least sympy 1.2, this fails.

MWE:
[code]
Error message:
[code]

[2018-08-10 06:57] devarajulu opened #15072 "TypeError: bad operand type for unary ~: 'Exp1'"
Hi Sympy Team,
I could not get simplified logic, I tried for following equation,
I could not find solution in this page [gotchas]( http://docs.sympy.org/latest/gotchas.html)
Please help me, I am new to this module,

`
from sympy.logic import simplify_logic
x = simplify_logic("A&~E", form="dnf")
print (x)

**ERROR:**

File "<stdin>", line 1, in <module>
  File "<work>/tmpConda/lib/python2.7/site-pa

[2018-08-10 08:55] devarajulu commented on #15072
Thank you Jksuom for Quick Reply,
Now it is working fine for me,

--
Thanks,
Devarajulu.

[2018-08-10 08:55] #15072 closed

[2018-08-10 10:25] Upabjojr opened #15073 "Multivariate random symbol raises exception if name is "N""
[code]

Input 4 should behave exactly like input 3.

[2018-08-10 10:25] Upabjojr commented on #15073
@akash9712

[2018-08-10 11:26] smichr commented on #15054
OK. @bjodah , note that d.variables will give the uncollapsed list of variables: `f(x).diff(x,2).variables == (x, x)` so rather than checking that `len(d.args)==3` you could check `len(d.variables)==2`.

[2018-08-10 11:26] #15054 closed

[2018-08-10 11:46] bjodah commented on #15054
@smichr Thanks, didn't think of that. I also realized that I was referring to Derivative in general (without `evaluate=False`) so I'm actually not convinced if it needs to canonicalize then..

[2018-08-10 11:49] Upabjojr commented on #14318
@westurner I simply realized that it was an error to add the scale factor and dimension to `Quantity`, because it's not an intrinsic property of the quantity. Indeed, different unit systems may associate different dimensions to the same quantity (e.g. electric current in _cgs_ and _SI_).

I haven't found time yet to add the support of different unit systems, but I have added the warning about this

[2018-08-10 14:59] czgdp1807 commented on #15069
I would like to work on this issue if it is not solved yet or anyone else is not working on this.

[2018-08-10 15:12] schymans commented on #14318
I think @westurner actually exposed a problem with `.subs()` and quantities:
[code]
returns
[code]
I do not see the reason why `(g*m).subs(values)` raises an exception, while `9.81 * (u.meters / u.seconds**2) * (3 * u.kilogram)` does not.

[2018-08-10 15:27] schymans commented on #14318
@westurner I added an example for the new syntax at https://github.com/sympy/sympy/issues/14319

[2018-08-10 17:48] Upabjojr commented on #14318
Blind guess: not a simultaneous substitution.

[2018-08-10 19:46] asmeurer commented on #14319
How about a PR improving the useinstead?

[2018-08-10 20:49] asmeurer commented on #14319
The plan is to do a 1.3 release in September, so we should improve any messaging for deprecations before then.

[2018-08-11 08:05] Foadsf commented on #15015
I'm surprised again to find out there has been already attempts to implement [sequences and formal power series in SymPy](https://github.com/sympy/sympy/wiki/UD-Sequences-and-formal-power-series-prototype), and nobody has pointed it so far!

One can symply generate sequenced symbolic formal power series using `Sequence` and `PowerSeries` of that branch. If I knew this exist I wouldn't have to do i

[2018-08-11 14:57] thatlittleboy opened #15076 "Finding eigenvectors lead to PolynomialError"
Sympy: Version 1.2

In the example below, I am trying to find the set of symbolic eigenvectors for a 4x4 matrix:

[code]

When I run this, I get the following error:

[code]

A simpler example like `M = Matrix([[1, cos(x/4+y/4)], [cos(y/4-z/4), cos(x/4 - z/4)]])` works just fine.

[2018-08-11 17:16] jksuom commented on #15076
The error is caused by a bug in `_roots_quartic_euler`. It should define `x` as a `Dummy` on [this line](https://github.com/sympy/sympy/blob/master/sympy/polys/polyroots.py#L229).

That should be easy to fix, but the solution of the quartic characteristic polynomial may prove too hard nevertheless.

[2018-08-11 17:56] thatlittleboy commented on #15076
@jksuom Thanks for looking into this and locating the bug. I suspect that solutions might be too complex to find as well, but just wanted to give it a try.

[2018-08-11 18:02] moorepants opened #15078 "Rendered LaTeX in JupyterLab is centered justified as opposed to left justified in the notebook"
In the new JupyterLab system SymPy rendered outpts are center justified:
![selection_227](https://user-images.githubusercontent.com/276007/43994665-bb309a56-9d55-11e8-87e7-300e968b2bc7.png)
But in the previous system (notebook server) the math is left justified:
![selection_228](https://user-images.githubusercontent.com/276007/43994669-d17f8ee8-9d55-11e8-9eda-bed4671862b6.png)
I personally prefer

[2018-08-11 18:11] asmeurer commented on #15078
I'm sure it's a change in Jupyter. I would open an issue with them. They probably do it because the math is in equation format instead of inline, which we do because inline looks poor for larger equations.

[2018-08-11 18:37] #15062 closed

[2018-08-11 18:51] knoahlr commented on #13999
Hey, i ran into this same issue. Where **sympify('sin(x)', evaluate=False)** evaluates if x is a float.
I intend to sympify() a string expression before using latex() to produce latex text.
something like.
[code]

You can see from the output that that it evaluates all the trig functions.
From this thread, I've learnt that this is caused by the **evaluate flag** not being passed to the inner functi

[2018-08-11 19:29] #15073 closed

[2018-08-11 20:25] moorepants commented on #15078
Opened here: https://github.com/jupyterlab/jupyterlab/issues/5107

[2018-08-12 10:35] jksuom commented on #15076
This matrix example is not a good choice for testing an issue in `_roots_quartic_euler` that has nothing to do with matrices. I would use something like this (added to test_polyroots.py, together with suitable imports):

    sol = roots_quartic(Poly(t**4 -  6*t**2 + t/x - 3, t))
    assert sol[0].has(x)

This test will currently raise a PolynomialError.

[2018-08-12 15:52] #15005 closed

[2018-08-12 18:52] mmohrhard opened #15082 "Sympy's CSE does not like expressions that are just a number"
The following code will fail with an error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python3.6/site-packages/sympy/simplify/cse_main.py", line 500, in cse
    for e in exprs:
TypeError: 'int' object is not iterable

import sympy
expr = 1
sympy.cse(expr)

However adding the following to simplify/cse_opts.py fixes the issue:

if isinstance(e, numbers

[2018-08-12 19:11] majidaldo opened #15083 "Piecewise float/int <= bounds"
This difference doesn't make sense.
When 1 is a float
[code]
but if 1 is an int
[code]
I think there is the 'otherwise' behavior here. If I put more (exprs, conds) after the second Piecewise, they don't show up.
[code]
It shows up using the float(1).
[code]

[2018-08-12 19:42] majidaldo commented on #15083
..wait was i supposed to nest Piecewise?

[2018-08-13 02:50] moorepants commented on #15078
Fixed upstream here: https://github.com/jupyterlab/jupyterlab/pull/5115

[2018-08-13 02:50] #15078 closed

[2018-08-13 08:34] schymans commented on #14318
Good point! I never thought about what happens under the hood if a dictionary is passed to `subs()`. In which order are the substitutions done, considering that a dictionary is un-ordered? You are actually right, this is the problem:
[code]
returns `expected dimension or 1`. No idea why.

[2018-08-13 08:37] schymans commented on #14318
OK, this is probably because `m = meter` in sympy.physics.unit. If I rename `m` to `m1`, there is no problem. However, this seems like a bug to me.

[2018-08-13 12:07] Naereen commented on #14859
Nobody to fix this please?

[2018-08-13 13:49] sidhantnagpal commented on #14859
I think some discussion has went into it. This will be fixed by #14379.

[2018-08-13 13:58] Naereen commented on #14859
OK, good to know. Good luck!

[2018-08-13 15:57] bjodah commented on #15083
Looks like there is deduction going on (assuming x is real I suppose). Is this what you're looking for?:
[code]
then using e.g. `lambdify` you get:
[code]

[2018-08-13 17:51] smichr opened #15084 "dummy symbol appears in diff result"
When a=2 in the following, the correct result is obtained. When symbolic, however, one gets:

[code]

[2018-08-13 19:27] asmeurer commented on #15082
A better solution is to call `_sympify` on the arguments at the top of `cse`.

[2018-08-13 20:42] asmeurer commented on #15071
Bisected to 998946c03c0934b2bb638f182d728a31120488e7 CC @bjodah

[2018-08-13 21:06] asmeurer commented on #15056
This also makes sense because dsolve should at some point get the ability to return constants as functions instead of symbols. For instance some PDEs can be solved by treating them as an ODE in one variable, but in that case the arbitrary constants need to be arbitrary functions in the remaining variables.