[2020-03-05 01:27] oscarbenjamin commented on #12889
I think that the solution given by sympy is correct although perhaps it is a different form from the one that you expected:
[code]

[2020-03-05 01:32] oscarbenjamin commented on #13263
This works fine now in master:
[code]
This issue can be closed if a test is added for this case.

[2020-03-05 02:27] asmeurer commented on #18778
Wouldn't that happen internally anyway?

[2020-03-05 05:37] mcpl-sympy commented on #18764
@asmeurer
Which-one-is-better in this case seems to be controversial. One may prefer `Add(x, x)` to return `2*x`; another may want `x+x`. Furthermore, one might want every expressions to be evaluated in one session, and not in another.

In sympy core, this behavior can be easily switched by changing `global_parameters.evaluate`. Just do `global_parameters.evaluate = False` and one can happily have

[2020-03-05 07:22] mcpl-sympy opened #18779 "Incorrect substitution on Derivative"
Substitution on `Derivative` returns `Subs` instance in the case where substitution may affect the evaluated result.
Here is an example of correct substitution:
[code]

Therefore, the example below seems to be an error.

[code]

Similary, here is another error.
[code]

[2020-03-05 08:23] smichr commented on #18779
I remember it was complicated working out when subs should be done and whether the substitution should be done with pre or post-doit semantics. Proceed with caution.

[2020-03-05 08:40] mcpl-sympy commented on #18779
Maybe `Derivative` should return evaluated result in more conservative way.

[2020-03-05 09:46] czgdp1807 commented on #16161
The issue still exists on current `master`. Please feel free to fix it via a PR.

[2020-03-05 10:01] jksuom commented on #18497
`ElementOf` looks like a special case of Hilbert's [epsilon operator](https://en.wikipedia.org/wiki/Epsilon_calculus) whose argument is a boolean expression (or "formula", in the language of formal logic) rather than a set. Elements of a set `X` can be obtained from a formula like `x in X`. Maybe the epsilon operator could also be useful in SymPy.

[2020-03-05 10:26] oscarbenjamin commented on #18497
What would be the hypothetical API for making a symbol that is an arbitrary complex number using the epsilon notation?

[2020-03-05 10:47] #18764 closed

[2020-03-05 11:22] oscarbenjamin commented on #16015
See also #18377

[2020-03-05 16:28] sylee957 commented on #18778
I only have concerns that this can make things like `is_eq` big because it can accept any expressions.
So managing such things would be an another concern.

I was also undecided about how things like `x > 2` should be handled in binary evaluations or should be coerced into `(x-2).is_positive`.
As far as I can see, sympy doesn't have logics for simple inequalities like triangle inequality, so the t

[2020-03-05 16:34] sylee957 commented on #18548
In my opinion, I hadn't find commit messages much useful than github posts.
Having better commit commit messages can help if we are ever going to move sympy to other hosts or when github gets doomed. So I'm not sure that we should establish any guidelines on commit messages than pull request templates.

[2020-03-05 16:49] asmeurer commented on #18548
Certainly commit messages aren't useful when they aren't there. I think well done commits with good messages can be really helpful for reviewing larger PRs, because you can review it by commit.

The bigger thing is that the commit message is what ends up in the repo, so it's important to have it there, because if anyone looks at a blame or bisect in the future, that is what they get. From that poi

[2020-03-05 17:01] oscarbenjamin commented on #18778
The `is_eq` function would just be the body of `Equality.__new__` so it won't be any bigger than that would be anyway. Currently `Equality.__new__` defers to `_eval_Eq` where appropriate.

Currently `Expr.__lt__` and `Lt.__new__` will usually end up doing `(lhs-rhs).is_negative` but that's partly just because there is no `is_lt` function to call. Asking whether `Add(a, -b)` is negative is not inhe

[2020-03-05 17:05] oscarbenjamin commented on #18548
Squashing makes it possible to write at least one good message as the short summary for the squashed commit which can be an improvement in many cases. Most of the PRs that get merged are quite short and don't need any internal commit history.

[2020-03-05 19:45] asmeurer opened #18781 "CG() docs are wrong?"
See https://twitter.com/lahelena/status/1235503518972329984

[2020-03-05 19:47] asmeurer commented on #18778
Ideally `ask(x < y)` would work.

[2020-03-05 19:48] smichr commented on #18548
My favorite way to handle this is to

[code]
Now commit those changes as a single commit and then `git push -f myacct branch` to update the PR.

[2020-03-05 20:05] oscarbenjamin commented on #18778
Yes, but that doesn't help us here unless we plan to stop evaluating `x < y` automatically.

[2020-03-05 20:08] asmeurer commented on #18778
I think it isn't a problem if it gives True or False, since ask(True) and ask(False) do what you'd expect. However, this is a problem

[code]

I think we should strongly consider making that return False instead, for reasons I've outlined in other issues.

[2020-03-05 20:59] asmeurer commented on #18764
The idea behind the matrix expressions design is that you should only use the classes directly if you want an unevaluated expression. If you want evaluation you should use a function or an operator. You can always force evaluation on an unevaluated expression by calling `doit`. It is the other way around that is challenging, because you can't "unevaluate" an already evaluated expression. That is w

[2020-03-05 21:05] asmeurer commented on #18781
I'm not familiar with the physics here, so someone who is will need to confirm.

[2020-03-05 21:17] asmeurer commented on #18779
Note that we explicitly allow this behavior:

[code]

In fact, that is the motivation behind `Derivative.subs` not evaluating. See https://github.com/sympy/sympy/issues/5148 and the referenced issues. The reason is that some functions replace expressions with dummies to do some processing, and we don't want it to break on derivatives. The assumption is that you will replace it back before calling

[2020-03-05 21:30] namannimmo10 commented on #18460
I have added Phase 1 implementation plan. Please check [this](https://docs.google.com/document/d/1Sifc2injFLrdsSfG7FCN0PN3ZRrwRXCaKVFUcjME2Kg/edit?usp=sharing) and leave comments if any changes are required.

[2020-03-05 23:23] oscarbenjamin opened #18783 "ratsimpmodprime fails with ImaginaryUnit"
I guess there's a bug in the algorithm somehow. These work:
[code]
But this fails:
[code]

[2020-03-06 00:59] oscarbenjamin commented on #17592
Some work was done on this in #17603 but it is not complete.

[2020-03-06 02:30] Saanidhyavats commented on #18431
We already have a method `applyfunc` for n-dim array.  The class which we will be creating shall be generalised for matrices and arrays. Whether I am thinking in the right direction or there has to be something more in this.

[2020-03-06 04:02] namannimmo10 commented on #18460
@moorepants We can drop `evaluate` for numeric solutions to the system, and focus only on symbolic evaluation and improving it even more. I'll update this in my application. Is there anything else that needs to be addressed or if I'm wrong somewhere as per my proposal, or should I move forward? Thanks!

[2020-03-06 05:04] mcpl-sympy commented on #18779
@asmeurer  Thanks!

[2020-03-06 05:04] #18779 closed

[2020-03-06 12:51] mcpl-sympy commented on #18764
@asmeurer

In that point of view, unevaluated form is better indeed. I agree with that core should not be evaluated by default. Why I am insisting though, is to enhance architecture consistency and user experience.

Using operator (e.g. `x + y`) is restricted because you cannot pass keyword argument with it. To access every feature, on must eventually call the class constructor.
However, there is

[2020-03-06 13:05] mcpl-sympy opened #18787 "doit(deep=False): core vs matrices"
In sympy core, `doit(deep=False)` does not evaluate unevaluated expression.
[code]

However, in matrix module,  `doit(deep=False)` returns evaluated expression.
[code]

I think matrix module is doing it right. Shall we change core's `doit`?

[2020-03-06 13:09] oscarbenjamin commented on #18764
There is a lot of inconsistency around sympy for these things. See #17280

[2020-03-06 13:10] oscarbenjamin commented on #18787
See #17280

[2020-03-06 14:15] kom-bu opened #18788 "Incorrect parenthesizing of fractions"
One of the test cases of test_str.py is as follows:
[code]
The current master branch passes this test. However, it fails to behave correctly in the following case.
[code]
In the former case the expression was printed correctly just because the precedence of the whole expression was reduced by the following rule in printing/precedence.py:
[code]
This rule may be revised for #17737. So this bug shou

[2020-03-06 15:39] mcpl-sympy commented on #18787
@oscarbenjamin
Thanks! This is encouraging.

[2020-03-06 16:17] Awkwafina commented on #16910
Hi! I am newbie in GSOC. So, I would like to work on this issue. I am a math major student and have some experience with Python. I hope I can handle it. Let me know if it still open.

[2020-03-06 17:21] Smit-create commented on #18730
Hi,
Taking example from the [https://reference.wolfram.com/language/ref/MixtureDistribution.html](https://reference.wolfram.com/language/ref/MixtureDistribution.html)
Implementing this example in sympy:
[code]
![IMG_20200306_225018](https://user-images.githubusercontent.com/55887635/76106510-0399d800-5ffd-11ea-8464-ef680631ec29.jpg)

[2020-03-06 17:25] czgdp1807 commented on #18730
Do we have a `plot` method in distributions to plot their PDFs/PMFs? This can be added for ease of use, though the task can be done simply by using plot.

[2020-03-06 17:29] Smit-create commented on #18730
Presently we don't have. But it will be a nice feature to be added.

[2020-03-06 17:31] czgdp1807 commented on #18730
I will suggest to do it using minimal code.

[2020-03-06 17:34] Smit-create commented on #18730
Also for API design to Mixture Distributions, we can have the following things:
1. A Probability space of Mixture distributions
2. A class Mixture Distribution
3. A random variable corresponding to the class Mixture Distribution.
Example of usage
`rv = Mixture_rv(name, list of weights, list of rvs corresponding to the weights)`
or we can also create using a dictionary
`rv = Mixture_rv(name, dictio

[2020-03-06 17:47] Smit-create commented on #18730
For plotting the `density` and `cdf `functions, API design can be proposed as:
1. We will create a` class stats_plot`
2. Pass a rv as an argument in the stats_plot
3. `class stats_plot` will contain two primary methods
     common options:
                                   1. if more than one rv passed the create subplots or a single plot
                                  2. whether to include me

[2020-03-06 18:20] Smit-create commented on #18718
Referring to the example: [https://en.wikipedia.org/wiki/Kullback%E2%80%93Leibler_divergence#Basic_example](https://en.wikipedia.org/wiki/Kullback%E2%80%93Leibler_divergence#Basic_example)
I was able to implement in sympy as following:
[code]

[2020-03-06 18:23] sksingh1202 commented on #17758
I have gone through the method "orient". However, I am still not very sure that whether I have to create new methods viz. orient_body( ), orient_axis( ) etc. in the same file "frame.py" or whether I have to make a new class with sub-classes for each method and put it in a new file in the same way as it has already been done for "orienters.py"? @moorepants could you please help.

[2020-03-06 18:29] harshavardhan-99 commented on #18642
I would like to work on this issue, can you please elaborate on the issue a bit more?

[2020-03-06 18:32] moorepants commented on #17758
These should be added to the existing ReferenceFrame class in that file.

[2020-03-06 18:44] harshavardhan-99 commented on #18384
I would like to work on this issue

[2020-03-06 18:45] harshavardhan-99 commented on #18504
I would like to work on this issue

[2020-03-06 18:45] Smit-create commented on #18718
So for KL Divergence, we can design an API as:
1. Create a function `KL_divergence`
2. Check whether both rvs have the same` domain.set`, if not `raise` error.
3. if discrete produce required result by `Sum`.
4. if continuous produce required result by `integrate`.

@czgdp1807  Does this seems good?

[2020-03-06 18:46] harshavardhan-99 commented on #18568
I would like to work on this issue, can you please elaborate on the issue a bit more?

[2020-03-06 18:48] moorepants commented on #16046
Yes, this is the expected behavior: return the Integral if SymPy can solve it.

[2020-03-06 19:10] j3parera commented on #18388
Just in case it's useful:
`Sum(Piecewise((n, n > 0), (0, True)), (n, -oo, 0)).doit()`
simplifies correctly, but
`Sum(Piecewise((n, n >= 0), (0, True)), (n, -oo, 0)).doit()`
don't.

[2020-03-06 19:26] guptabhaskar commented on #18666
Please review the changes made in PR.

[2020-03-06 19:53] #11255 closed

[2020-03-06 20:25] w495 opened #18789 "Use NameConstant instead of Name for True and False"
https://github.com/sympy/sympy/blob/f469375c923d8dc50c6632b21f39b7da3d252548/sympy/parsing/sympy_parser.py#L1088

I've stumble over this bug with python3 debug build.
If you clone default python and build it without ```-DNDEBUG``` and run something like this:
[code]
you will get:
[code]

This occurs due to the ```assert```-block in python source:
https://github.com/python/cpython/blob/master/Pytho

[2020-03-06 21:03] oscarbenjamin commented on #18789
Python 2 support is already removed in master. The next release will not support Python 2.

[2020-03-06 21:19] w495 commented on #18789
Great

[2020-03-06 21:24] shubham-khantwal commented on #17396
i would like to work on it . Though i am completely beginner i believe trying is better than doing nothing.
can somebody guide me ?  and what does module_format implies ? i see it a lot of time as self._module_format('scipy.sparse.coo_matrix')

[2020-03-06 21:38] asmeurer commented on #17396
You should look for the definition of the function https://github.com/sympy/sympy/blob/9fa2d4aa4683d24937f42d96f7fba4333ee6067a/sympy/printing/pycode.py#L122

It looks like it is related to a printer setting which controls whether it is printed as scipy.sparse.coo_matrix or just coo_matrix.

[2020-03-06 21:43] oscarbenjamin commented on #18023
I see that mpmath has `odefun` which could be used for solving ODEs numerically. This could be used by `IVPSolution.evalf`:
http://mpmath.org/doc/current/calculus/odes.html

[2020-03-06 21:50] m93a commented on #17396
As I mentioned, I believe that [the PR I've done](https://github.com/sympy/sympy/pull/18185/files) is pretty much self-explanatory in terms of what you need to do.

[2020-03-06 21:50] oscarbenjamin commented on #17560
I think that maybe a better structure would be to have functions `dsolve_single` and `dsolve_system` each of which would be called by `dsolve` for solving single ODEs or systems of ODEs respectively. The `dsolve` function would be responsible for:

1) Determining whether it receives a single ODE or a system of ODEs
2) Guessing the dependent variables
3) Returning an Eq or a list of Eqs depending o

[2020-03-06 21:58] oscarbenjamin commented on #18460
I think that numerical solutions can be fine if this is something that is added generally in sympy for working with ODEs i.e. https://github.com/sympy/sympy/issues/18023

[2020-03-06 22:59] oscarbenjamin commented on #18787
My point is that this is a general problem and not something to think about just for matrices. I made a start at trying to solve it in #17372 but then got distracted cleaning up various things in sets.

[2020-03-06 23:59] oscarbenjamin commented on #4383
I agree that more tests are need for the solvers module but this is a very old issue and doesn't contain any useful information to help anyone solve the problem.

A new issue could be opened that details what currently should be done i.e. which parts of solvers need improved test coverage.

[2020-03-06 23:59] #4383 closed

[2020-03-07 00:13] oscarbenjamin commented on #5154
You can use `parse_expr` to convert a string to a sympy expression:
[code]
Passing strings to arbitrary sympy APIs is deprecated.

[2020-03-07 00:13] #5154 closed

[2020-03-07 00:29] oscarbenjamin commented on #5211
The undetermined coefficients solver now matches and gives a valid solution:
[code]

[2020-03-07 00:29] #5211 closed

[2020-03-07 06:07] povinsahu1909 commented on #18247
I tried for different functions also and after magnifying the output plot to a certain level this problem occur. I think this problem can be overcome by removing the y-axis limit that was applied and providing the full y-axis without limit.

[2020-03-07 10:25] czgdp1807 commented on #15554
The `rubi_integrate` has been moved to a different namespace. And the error isn't raised instead the result takes infinite time for computation. Opening a new issue.

[2020-03-07 10:30] czgdp1807 opened #18794 "`rubi_integrate` takes too long for computation"
The following code doesn't work,
[code]
You may refer, https://github.com/sympy/sympy/issues/15543 and https://github.com/sympy/sympy/issues/15554

[2020-03-07 11:24] jksuom opened #18795 "Operations on AccumBounds should be amended"
Some operations on AccumBounds fail unexpectedly.
[code]
This is caused by the test `S.Zero in self` that raises if it cannot determine the truth value. This test should be replaced by something like `self.min.is_nonpositive and self.max.is_nonnegative` that will return None in such cases. The other tests with S.Zero in `__div__` and `__rdiv__` should be handled similarly. In addition, these lines

[2020-03-07 11:36] guptabhaskar commented on #18666
Please review the changes made in the new PR.

[2020-03-07 11:53] oscarbenjamin commented on #18795
Should `tan(r)` be considered `extended_real`? It can be `zoo`:
[code]

[2020-03-07 11:57] namannimmo10 commented on #18023
I think this could be a really nice addition to SymPy. I understand what you're trying to say.

@jksuom also had a similar kind of idea [here](https://github.com/sympy/sympy/pull/17866#issuecomment-552097384). Instead of adding `state_space_lamdify` in Phase 3, I can implement this feature. Any suggestions, @moorepants @oscarbenjamin?

[2020-03-07 12:40] jksuom commented on #18795
I think that `tan(r)` should be considered extended real for generic real `r`even if it evaluates to `zoo` for some specific arguments.

[2020-03-07 12:42] jainsee24 commented on #18636
Hey @sylee957 if nobody is working on the issue, I would like to work on that. I have started and get back with PR ASAP.

[2020-03-07 12:43] karandixit10 commented on #18742
I would like to work on the issue

[2020-03-07 14:25] oscarbenjamin commented on #6408
I get a new error now:
[code]
It seems that lamdify doesn't work with `Integral`:
[code]
The other example works now though:
[code]

[2020-03-07 14:34] oscarbenjamin commented on #6420
Now both `linsolve` and `rref` both work but `solve_linear_system` still does not:
[code]
This could be fixed by using `rref` in `solve_linear_system` (#4949)

[2020-03-07 14:36] oscarbenjamin commented on #4949
Using `rref` in `solve_linear_system` would also fix #6420 and #18531

[2020-03-07 14:39] oscarbenjamin commented on #18531
This can be fixed by #4949 sinve rref no longer has trouble with this matrix after #18572
[code]

[2020-03-07 15:03] shubham-khantwal commented on #17396
Thank you for guiding me . shubham From: Michal GrňoSent: 07 March 2020 03:20 AMTo: sympy/sympyCc: SHUBHAM KHANTWAL; CommentSubject: Re: [sympy/sympy] Add more SciPy functions to code printer (#17396) As I mentioned, I believe that the PR I've done is pretty much self-explanatory in terms of what you need to do.—You are receiving this because you commented.Reply to this email directly, view it on

[2020-03-07 15:10] RituRajSingh878 commented on #17560
@oscarbenjamin It will be a good idea to separate things from dsolve and make it simple. I can help with this if needed.

[2020-03-07 16:20] oscarbenjamin commented on #4949
This can probably also fix #6592

[2020-03-07 16:42] oscarbenjamin commented on #10001
The `solve_linear_system` function is still in use in `solve` and by users and does not have any deprecation warning so it can not be removed. Looks like #10000 did not get finished.

[2020-03-07 16:45] oscarbenjamin commented on #4949
Related #10000 and #10001

[2020-03-07 16:56] oscarbenjamin commented on #16823
This is now fixed and gives the correct result in 2 seconds:
[code]
The fix came from #18563.

This issue can be closed if a test is added for computing the rank of the matrix T above

[2020-03-07 16:56] jksuom commented on #18783
It seems that the algorithm assumes that the polynomial generators are algebraically independent. It fails when it comes to monomials of higher order including `I**2` that evaluates as -1. The first case with `I*z` succeeds because it only works with monomials of degree <= 1. The function should be given a hint that `I` is not transcendental.
[code]

[2020-03-07 16:57] namannimmo10 commented on #18460
@moorepants, I have completed Phase 1, 2, and almost 4. Please review my proposal whenever you get time. I just want to make sure I'm doing it the right way. Thanks.

[2020-03-07 16:59] Pristine-Cat commented on #16823
Yes, but only by avoiding the code path which originally took a very long time and computed the incorrect result here. The underlying problem probably remains if rank() returns 9 without the new matrix simplification.

[2020-03-07 17:02] oscarbenjamin commented on #10279
Using .equals is slow and very rarely helps. Since `.equals` is now used we can see the benefits of removing it e.g. https://github.com/sympy/sympy/issues/14675#issuecomment-555288318

[2020-03-07 17:16] oscarbenjamin commented on #14594
This system does not have a solution for most possible choices for `b`:
[code]
In particular a solution only exists if this quantity is zero:
[code]
The question is how should the solvers handle the case where the existence or not of solutions depends on parameters whose value is unknown. The generic case here is that no solutions exist but in the degenerate case that the expression above is zero

[2020-03-07 17:47] oscarbenjamin commented on #18783
I guess the docstring for `ratsimpmodprime` should explain this somehow. Is the problem essentially that `I` is neither rational nor transcendental?

[2020-03-07 17:49] oscarbenjamin commented on #16823
That's true. I just don't know how we can diagnose it from the report here. My guess is that zero-checking fails on some blown-up expression but I don't know how to pick that out from the example which presumably checks many expressions...

[2020-03-07 17:54] sksingh1202 commented on #17758
Thank you very much. I am almost done with the five methods and would try to open a PR very soon.

[2020-03-07 18:24] jksuom commented on #18783
It looks like it. Gröbner bases are expected to work with pure polynomial rings over a field (that need not be QQ).

[2020-03-07 19:15] Ryand1234 commented on #18795
Can't this can be done by checking if both the variable are of type AccumBounds it will perform the addition but if one of the variable is not of type AccumBounds then it will just ignore that variable and print AccumBound of other variable?

[2020-03-07 19:46] jksuom commented on #18795
That should be implemented in the `__add__` method of AccumBounds, and only in case min is `-oo` and/or max is `oo`. So an argument of the sum should not be `nan`.

[2020-03-07 20:26] Ryand1234 commented on #18795
@jksuom should the output of the above case be like this?
[code]

[2020-03-07 22:32] oscarbenjamin commented on #6819
This seems to be fixed now:
[code]
This issue can be closed if a test is added for this case

[2020-03-07 23:18] MooVI commented on #10279
Did #13877 add in a general zero-checking method finally?

I gather the problem of checking for zero pivots in ``rref`` (and possible ``solve_linear_system``?) was fixed via using a different method, but having some way of checking quickly whether an expression is not zero would still be useful.

[2020-03-07 23:48] oscarbenjamin commented on #10279
Verifying that a nonzero expression is nonzero is a lot easier than verifying that a zero expression is zero which is impossible in general if there are undetermined symbols in the expression.

Current checking for zero pivots uses `.is_zero` followed by simplification and `.equals`. From the test suite I find only one case (#17837) in which `.equals` succeeds where `simplify` fails and I consider

[2020-03-08 00:01] MooVI commented on #10279
Ah, I see rref is still not really fixed. That's unfortunate.

I agree with what you say. I still think a fast method to check that a value is not identically zero is needed (e.g. by evaluating on some "random" numbers). This would allow rref to not waste time calling simplify etc., but still get right answers more of the time compared to not simplifying at all.

[Ultimately I had to switch from u

[2020-03-08 00:21] oscarbenjamin commented on #7615
Closing as fixed in #12141

[2020-03-08 00:21] #7615 closed

[2020-03-08 07:53] Saanidhyavats commented on #18662
It will be good if we can make the changes in the same file `sympy/sympy/matrices/sparse.py` with a new method . Both the methods shall be there and later on one can be removed based on the performance. @sylee957  shall I make the changes in the same file?

[2020-03-08 09:16] czgdp1807 commented on #18718
What will be the arguments to the `kl_divergence` function? Random variables or distributions?

[2020-03-08 09:17] sylee957 commented on #18662
Yes, you should edit `SparseMatrix.multiply` and first implement them as different methods, and see if we can bind each ones to the matrix core.

[2020-03-08 09:18] czgdp1807 commented on #18730
What are the quantities that can be plotted other than PDF and CDF? IMO, if PDF and CDF are the only quantities which are most frequently visualised then adding two simple functions as wrappers to sympy plotting module will be better.

[2020-03-08 09:22] Smit-create commented on #18730
Okay, that seems a better option too.

[2020-03-08 09:23] Smit-create commented on #18718
The arguments will be two random variables

[2020-03-08 09:38] sksingh1202 commented on #17758
I have opened a new PR for this issue but it has not passed all the checks. I tried to view the details given by Travis CI but wasn't unable to understand them. Could you please suggest regarding what can be done further.

[2020-03-08 09:38] Smit-create commented on #18730
For mixture distribution does [this](https://github.com/sympy/sympy/issues/18730#issuecomment-595877955) seem good.

[2020-03-08 09:42] czgdp1807 commented on #15798
Current status,
[code]
Closing for now. Please let us know if there is a need to re-open this. Thanks for the contributions.

[2020-03-08 09:44] sudoWin opened #18799 "Automatic simplification fails"
[code]
If the expression contains both numbers and radicals, it is not simplified automatically.
Is this normal, or should it be simplified? If it should, then how can I fix it?

[2020-03-08 09:45] czgdp1807 commented on #9918
Current status,
[code]
It looks like the fix has been made. Closing this for now. Please let us know if there is a need to re-open this. Thanks for your contributions.

[2020-03-08 09:45] #9918 closed

[2020-03-08 11:17] sylee957 opened #18800 "Resolve timeouts in test_digits.py"
https://travis-ci.org/sympy/sympy/jobs/659764490?utm_medium=notification&utm_source=github_status
It can be because of the added feature in #18659 which involved random tests.

Ping @sr-murthy

[2020-03-08 11:27] sylee957 commented on #18800
I inspect that the timeouts are due to some wrong samples like `[0, 0, ...]`.
It needs better sampling in my opinion.

[2020-03-08 11:35] phofl opened #18801 "Sympy overloads maximum numpy function"
Hi,

I have encountered the following bug recently.

The implementation described in [#16473](https://github.com/sympy/sympy/pull/16473) overloads the maximum/minimum functions from numpy. I would like to get the componentwise maximum from two numpy arrays.

[code]

With sympy version 1.4 this code block returned np.arry([1.0, 2.0]). Since upgrading to sympy version 1.5 sympify interprets the maxi

[2020-03-08 11:52] sylee957 commented on #18801
You can use `Max`

[code]

[2020-03-08 12:11] phofl commented on #18801
Hi, thanks for the reply. Unfortunately the Max function returns the maximum from both arrays as a scalar, not componentwise. The return value in my example would be 2.0 instead of  np.array([1.0, 2.0])

[2020-03-08 12:33] Saanidhyavats commented on #18662
I am working on this if no one is currently working on it.

[2020-03-08 12:57] oscarbenjamin commented on #15798
This was partially fixed in #18513 but no tests were added for this case. I'm going to reopen this as easy to fix.

This can be closed if tests are added for the fixed behaviour of copy/pickle.

[2020-03-08 13:01] oscarbenjamin commented on #15798
Some tests are in #15799 which could be revived.

[2020-03-08 13:07] #18762 closed

[2020-03-08 13:34] danil179 commented on #17737
@kom-bu I was doing this change of PRECEDENCE for MOD (to be a little bit less), but it eventually caused failings on many tests (cause some of the printing uses Mod(x,y) and some x % y and so the PRECEDENCE changes with each printing method). I have added a predefined PRECEDENCE for each printing method to fix this, and maybe it resolves #18788 too.

[2020-03-08 15:16] smichr commented on #18269
There is a [short dissertation](https://ttu-ir.tdl.org/bitstream/handle/2346/46988/RAY-THESIS.pdf) about the Chao Cipher that shows how a certain cipher acts as Permutations on `Z26`. Maybe there could be some ideas for how to make the symbolic nature of text transformations more compatible with the algebraic nature of SymPy.

I'm not sure this works real well with transformations in general. Ther

[2020-03-08 16:32] mohitacecode opened #18804 "KeyError in creating a polycylic group from Dihedral Group"
I am getting this error when `n>2`and `n` is `even` is there any reason we are getting this?if yes should we raise a `exception` instead?
[code]

[2020-03-08 18:41] jrwrigh opened #18805 "lambdify does not work with LambertW"
There's nearly identical issue #17898 that was supposedly fixed in #17912, but it is not working for me currently.

`sympy.__version__`: 1.5.1
`scipy.__version__`: 1.4.1

[2020-03-08 18:44] jrwrigh commented on #18805
Figured it out. While #17912 was merged before the release date of sympy 1.5.1, it is not in the commits for the release. Not sure why that's the case though.

[2020-03-08 18:44] #18805 closed

[2020-03-08 19:12] smichr commented on #18800
[code]
should be
[code]

[2020-03-08 20:19] oscarbenjamin commented on #18800
You can also do `if py_version >= (3, 6)`.

Is there any advantage in using `random.choices` besides speed? If not then I would just use the list comprehension like:
[code]

[2020-03-08 20:37] oscarbenjamin commented on #8709
The behaviour here seems correct so closing

[2020-03-08 20:37] #8709 closed

[2020-03-08 20:47] oscarbenjamin commented on #8933
The original example works fine now without any imaginary component:
[code]

[2020-03-08 20:52] oscarbenjamin commented on #9721
Yes this is fixed:
[code]

[2020-03-08 20:52] #9721 closed

[2020-03-08 20:55] oscarbenjamin commented on #10071
The ConditionSet is now returned again for the 118 case:
[code]

[2020-03-08 21:07] oscarbenjamin commented on #10086
Current master gives
[code]
Declaring x to be real I get:
[code]
So we get 3 simple looking expressions and one complicated one. Numerically the first 3 are are
[code]
which matches with what @smichr has above. The 4th root does not numerically evaluate:
[code]

[2020-03-08 21:28] oscarbenjamin commented on #10176
In fact just creating the Piecewises is slow:
[code]
It shouldn't take 3 seconds just to create the Piecewise.

The time is taken predominatly by calling periodicity. Stack trace:
[code]
From there the slow bit is this:
https://github.com/sympy/sympy/blob/c4325fce8be7af736539de2d5d540c624316dafc/sympy/calculus/util.py#L451
which is a good reminder of why simplify should not be used in library code

[2020-03-08 21:35] oscarbenjamin commented on #10250
The Derivative is there because the symbol is not real e.g.:
[code]
That should be solvable by `nsolve` but apparently is not:
[code]

[2020-03-08 21:45] oscarbenjamin commented on #10426
Currently solveset gives
[code]
The first part of that is that the `2*n*pi` as requested. I guess that the other part shows that the solution depends on x in some way. For example if x is zero then we should have:
[code]
which gives `a = n*pi`. The solutions from solveset matches up with this for zero x
[code]
It also works for some other values:
[code]
I think this is correct so closing.

This ca

[2020-03-08 21:47] oscarbenjamin commented on #10426
A test should also be added for solve

[2020-03-08 22:01] oscarbenjamin commented on #11047
I think that the solvers should not be expected to handle infinities like this.

[2020-03-08 22:03] oscarbenjamin commented on #11088
This would require a major overhaul of the solvers code. It is currently not structured in a way that would make it possible to give step by step solutions.

[2020-03-08 22:18] oscarbenjamin commented on #11493
Both the integer and the float version hang now. Only the rational=False case succeeds.

[2020-03-08 22:40] oscarbenjamin commented on #14417
Looks like the mpmath issue was fixed. I now get
[code]
I can find the root with a much closer starting point though:
[code]

[2020-03-08 22:43] oscarbenjamin commented on #14417
I think this is fixed so closing

[2020-03-08 22:43] #14417 closed

[2020-03-08 23:21] oscarbenjamin commented on #15296
Ideally a solution would be found even where there are floats in the input. Perhaps it would be appropriate to return float solutions for float input.

[2020-03-08 23:32] oscarbenjamin commented on #16486
Closing as I don't think that there is a way to solve this kind of equation analytically.

[2020-03-08 23:32] #16486 closed

[2020-03-09 09:48] j3parera commented on #18751
`rsolve` also fails for quite simple recurrences:
[code]
results in `sol = None`.
But, surprisingly, just changing the last coefficient from `0.81` to `0.8` it works!

[2020-03-09 09:51] emath commented on #12276
Thank you for the comment.  To my knowledge, none of it was incorporated
into sympy.

I would be happy to work on it again, but I no longer have a "research"
teaching load (Im teaching 4 classes and have three master's students
currently).

Probably would be summer before I could contribute further.

Thanks again!

Jeff

On Wed, Mar 4, 2020, 8:00 PM Oscar Benjamin <notifications@github.com>
wrote:

[2020-03-09 10:09] oscarbenjamin commented on #12276
I've written a roadmap for ODE systems:
https://github.com/sympy/sympy/wiki/ODE-Systems-roadmap

I'm hoping that a student will take this up as a GSOC project this summer.

It looks like someone is interested (#18720)

Are you happy for someone to use the work that you have done here? Also if you have any feedback on the roadmap that would be great.

[2020-03-09 11:37] oscarbenjamin commented on #14594
There was a bug in the `linsolve_cond` solver in #16861 which I have fixed. Now for this system it gives:
[code]
Although that's quite long and complicated the key part is the condition:
[code]
This is the consistency condition needed for the existence of solutions. Solutions do not exist for generic values of the b parameters but if this condition holds then they do. We can replace b0, b1 and b2

[2020-03-09 12:10] abhinav28071999 opened #18806 "Matrix Matrix exponntial"
Sympy probably doesn't support this https://en.wikipedia.org/wiki/Matrix_exponential#Matrix-matrix_exponentials
It should be easy to implement. Only question is that should this be a  different function or can be included in  `pow` function.

[2020-03-09 12:15] emath commented on #12276
Absolutely!  Would be thrilled for a student to take it on!!  Huge fan of
GSOC!!!     Be glad to help in any way I can!

And I'll make time if you need me to help getting it set up as a GSOC
project.

Thanks!!

Jeff

On Mon, Mar 9, 2020 at 6:09 AM Oscar Benjamin <notifications@github.com>
wrote:

[2020-03-09 12:20] sylee957 commented on #18806
I don't think that it's easy to fit such in design goals of `pow`, because of the existance of left and right exponential.
So I'd rather expect to use a separate functions for matrix-matrix exponentials, because I don't think that it should be able to make the original `pow` more convenient.

[2020-03-09 12:29] emath commented on #12276
I would be glad to see this as a GSOC project.  And I'll make time if you
need me to help getting it set up as a GSOC project.

I glanced at the roadmap.  It looks good, but I'll take a better look when
I get the chance.  The Jordan Normal form is numerically unstable, but for
closed form solutions it is often the best because eigenvalues are exact
rather than approximate.  That given, if the Jord

[2020-03-09 12:44] sylee957 commented on #18666
Okay, I see the work is roughly done, but I still see that some more subtle works are needed to move the tests like
https://github.com/sympy/sympy/blob/a1fbd0066219a7a1d14d4d9024d8aeeb5cb8d51a/sympy/matrices/tests/test_matrices.py#L3021

[2020-03-09 14:57] oscarbenjamin commented on #12276
The primary goal for sympy's ODE module is always closed form solutions. I can see use in e.g. being able to compute numerical solutions to high accuracy but I imagine there are easier ways to do that within sympy and I know that numerical solution of ODEs is well covered by other libraries anyway.

What I find is that the primary limitation of the Jordan normal form technique is if the eigenvalue

[2020-03-09 16:33] leosartaj commented on #16975
Implemented in #17064. Closing.

[2020-03-09 16:33] #16975 closed

[2020-03-09 16:49] leosartaj opened #18808 "Fix documentation for FormalPowerSeries"
Currently, formatting of the documentation for [``FormalPowerSeries``](https://docs.sympy.org/latest/modules/series/formal.html) is broken.

On first look docs for the following function needs to be fixed (mostly latex):

* ``coeff_bell``
* ``compose``
* ``inverse``

[2020-03-09 16:57] jainsee24 commented on #18806
can't we simply use scipy.linalg.expm for matrix exponential?

[2020-03-09 17:41] smichr opened #18809 "generate_derangements mishandles unsorted perm"
The following is incorrect:
[code]
The routine is assuming that the `perm` is sorted (though this is not a requirement):
[code]

[2020-03-09 18:05] Upabjojr commented on #18431
There are methods for `tensor/array` in `sympy/codegen/array_utils.py`.

[2020-03-09 18:12] czgdp1807 commented on #8557
Closing this in reference to above comments. Feel free to re-open it if there is a need or let us know if you are unable to that. Thanks for the contributions.

[2020-03-09 18:12] #8557 closed

[2020-03-09 18:38] czgdp1807 commented on #15351
[code]
In the latest master the issue has been fixed. I am closing this for now. However, if there is a need to re-open this, please let us know. Thanks for contributions.

[2020-03-09 18:38] #15351 closed

[2020-03-09 18:46] asmeurer commented on #10426
The original motivation for this was for the `periodicity` function. It looks like `periodicity` currently works without making use of solve.

[2020-03-09 18:49] asmeurer commented on #11493
Usually solve hanging with rational=True is because it converted some float exponent to a rational with a large numerator or denominator, and it tries to create a polynomial with that degree. It isn't clear to me that that should be happening with this equation, but maybe something like that happens inside of the lambertw solver?

[2020-03-09 19:23] #18331 closed

[2020-03-09 21:34] sachin-4099 commented on #14192
`limit_seq((I)**n) ` and `limit_seq((2*I)**n)` these are the only cases which are still persisting,
Otherwise everything else is working fine. Please verify and let me know @oscarbenjamin.

[2020-03-09 21:58] sachin-4099 commented on #17847
This can be closed, everything seems resolved here. @oscarbenjamin

[2020-03-09 22:04] sudoWin commented on #18808
I would like to fix it

[2020-03-09 22:05] smitgajjar commented on #18808
I am working on it, I will make a PR soon!

[2020-03-09 22:44] #18809 closed

[2020-03-10 01:07] MooVI opened #18813 "Arguments in initialising singleton Half"
I came across this while trying to dump and then load SymPy expressions using PyYAML. Occasionally it would work and sometimes it would not. It turns out that the root cause was this behaviour:

[code]

So the reason why this is happening is that once Half is initialised it ignores any erroneous arguments (the relevant code is literally in the error message).

Should it always throw an error, or n

[2020-03-10 01:34] MooVI commented on #18813
Actually this seems to fail with `pickle`  (i.e. if I `pickle.dump` just `S.Half` then attempt to `pickle.load` in a different session before `S.Half` is initialised, I get the error message above) as well even at highest protocol level, which seems to be a regression of #5303 ?

[2020-03-10 01:38] oscarbenjamin commented on #18813
Are you using master?

[2020-03-10 01:46] oscarbenjamin commented on #18813
#18438

[2020-03-10 01:47] oscarbenjamin commented on #18813
We need to test unpickling in a subprocess

[2020-03-10 02:28] MooVI commented on #18813
Ah, my bad, I had forgotten that the machine I tested this on I had installed from pip rather than GitHub and therefore not updated. Also I hadn't initially connected the issue with pickling or I would probably have found #18438.

It's unfortunate that the `Singleton` stuff means things can't work consistently with PyYAML but I guess it can't be helped.

[2020-03-10 02:28] #18813 closed

[2020-03-10 02:34] oscarbenjamin commented on #18813
Is this still not fixed on master?

[2020-03-10 03:13] moorepants opened #18815 "TypeError instead of RuntimeError in interactive preview()"
I started getting this error on some CI builds that execute notebooks with SymPy printing. Here is an example of the error:

[code]

This is with Python 3.8, SymPy 1.5.1, and IPython 7.13.0, matplotlib 3.2.0.

From this build:

https://travis-ci.org/moorepants/resonance/jobs/658460123

Same error on this build too: https://travis-ci.org/moorepants/resonance/jobs/660446317 (but less informative).

[2020-03-10 03:18] moorepants commented on #18815
A new matplotlib (3.2.0) came out 7 days ago, so maybe there is a change in matplotlib.

[2020-03-10 03:28] moorepants commented on #18815
I tried running with matplotlib 3.1.3 but it failed with a similar error:

[code]

So it must not be the matplotlib version. Maybe its a change in IPython?

[2020-03-10 03:29] moorepants commented on #18815
It looks like the older non-failing builds have IPython 7.13.0 as well as the new builds. So not IPython...

[2020-03-10 03:37] MooVI commented on #18813
No, you're right, it works with PyYAML too! Not sure why I thought PyYAML wouldn't use __getnewargs__ as well.

Thanks for your help -- apologies again for not realising I wasn't on master.

[2020-03-10 03:38] moorepants commented on #18815
I found this change to matplotlib that might be the cause:

https://github.com/matplotlib/matplotlib/commit/c26a1516f56bf120e0240d653fd0390e51cb29a5#diff-bcf9fa5cc560e65428a680e85d316899

[2020-03-10 03:45] moorepants commented on #18815
From this PR: https://github.com/matplotlib/matplotlib/pull/15095

[2020-03-10 04:10] moorepants commented on #18815
I've confirmed that this is due to changes introduced in matplotlib 3.2.0.

[2020-03-10 04:11] moorepants commented on #18815
The offending changed lines are:

https://github.com/matplotlib/matplotlib/blame/v3.2.0/lib/matplotlib/mathtext.py#L3436

I haven't determined yet if it is ultimately SymPy's bad design for relying on a specific error but this PR might cause all Jupyter notebook printing for SymPy to break once people install matplotlib 3.2.0.

[2020-03-10 10:34] oscarbenjamin commented on #18815
There is a lot of poor exception handling in sympy

[2020-03-10 11:10] smitgajjar opened #18816 "Remove Python 2 imports"
Many modules still contain this import and similar ones, which is relevant for python 2:
`from __future__ import division, print_function
`
I don't know whether it is necessary or not, since python2 support has been discontinued and other parts of the repository has been improved to use only python 3.

Following is the complete list of files:

<details>
<summary>List of modules having __future__</

[2020-03-10 11:46] death-angel-141 commented on #15331
SVG images created to replace beam ascii art as per  #15331

[SVG_images_beam.zip](https://github.com/sympy/sympy/files/4312238/SVG_images_beam.zip)

[2020-03-10 12:32] emath commented on #12276
Yes, I agree -- I would not (and do not) use Sympy to compute numerical
solutions.  Agree absolutely that the primary limitation of Jordan is if
eigenvalues are complicated or not obtainable in closed form.   It appears
that the way Sympy matrix exponential works is to request eigenvalues and
eigenvectors for a matrix, where the eigenvalues are closed form roots of
the characteristic polynomial.

[2020-03-10 12:57] oscarbenjamin commented on #18816
There is already an issue for removing Python 2 code. If you look herre you can see a way to do this automatically: https://github.com/sympy/sympy/issues/17943#issuecomment-589387636

[2020-03-10 13:18] death-angel-141 commented on #18636
Added a simple implementation of Heaviside Function #18636

[Heaviside_function.zip](https://github.com/sympy/sympy/files/4312594/Heaviside_function.zip)

[2020-03-10 13:34] moorepants commented on #18815
Sure, we can probably fix this but it looks like the matplotlib change is breaking code for others too. I think that they will release a 3.2.1 with a fix for this.

[2020-03-10 13:41] mohitacecode commented on #18804
Ping @jksuom @divyanshu132

[2020-03-10 13:48] oscarbenjamin commented on #12276
That sounds useful!

Deciding whether the eigenvalue has multiplicity > 1 does not seem to be a problem. In the cases where sympy is able to find analytic roots at all it does not seem to have a problem with this.

I think the hard part of the Jordan form method is deciding whether a repeated eigenvalue has full geometric multiplicity which corresponds to whether it has trivial Jordan blocks. This

[2020-03-10 14:14] emath commented on #12276
The method we use is this:  Given n eigenvalues, with multiplicities, of an
n times n matrix A
1. Find a unit eigenvector of A w.r.t a given eigenvalue
2. Householder conjugate with eigenvector -> [1,0,...,0]^T reflector
3. Select next eigenvalue and lower left (n-1) x (n-1) submatrix as A
4. Repeat until done

Result in n steps or fewer is an exact upper triangular schur form. Note,
we get eigenv

[2020-03-10 14:30] death-angel-141 commented on #15331
I would love to work in this issue

[2020-03-10 14:34] #18795 closed

[2020-03-10 17:50] mohitacecode commented on #18453
Hello @sylee957 ,
I have seen some algorithms for computing the conjugacy classes however I am not sure whether they are feasible for implement can you please have a look.
Pg-94 `Random Method` in book Groups ’93 Galway/St Andrews (https://ru.b-ok2.org/dl/703924/d51e5b)

[2020-03-10 17:56] smitgajjar commented on #18816
Going through the link. Looks like it can be 100% automated using this command. I am working on it. But I have few questions. Running this command will convert python2 syntax to python3 syntax from the entire codebase.

Q1) Is it good to rely on this?
Q2) It will make changes in many files in the sympy master. Will it be feasible to review such a huge pull request? Because it will be difficult to

[2020-03-10 19:54] smitgajjar commented on #18816
As of now, it would be better to do one thing at a time. So, I am working on removing all occurences of __future__ imports and will make a PR soon!

[2020-03-10 19:55] #18800 closed

[2020-03-10 19:56] smitgajjar commented on #18816
As of now, it would be better to do one thing at a time. So, I am working on removing all occurences of `__future__` imports and make a PR soon!

[2020-03-10 19:57] #18808 closed

[2020-03-10 21:03] sylee957 commented on #18806
Is Pade approximation symbolic?
I would expect non-numeric methods for this. And better use `mpmath.expm` than `scipy` if we are going to wrap the numeric methods with evalf logic.

[2020-03-10 21:53] oscarbenjamin commented on #18816
I think it's fine to use the automated method but if it is applied to the whole codebase then the diff is too big for anyone to review. I suggest applying it to one small package first. Then you can review/edit the changes and then the reviewer can look through and discuss them as well.

[2020-03-10 22:30] smitgajjar commented on #18816
Ok, I will use the automated method for two packages algebra and assumptions, as suggested and make a [WIP] PR!

[2020-03-10 22:38] danshapero opened #18824 "incorrect lambdify of constant times dot product"
The following code:

[code]

throws this error:

[code]

The problem is that the lambdified `x.T * x` gives a scalar, which doesn't have a `dot` method.
Likewise, you can trigger the same problem with this code:

[code]

This is a different problem from #15827 but the two are similar.
As discussed with @asmeurer this could be fixed by using `np.dot` instead of the arrays `.dot` method.

[2020-03-10 22:47] asmeurer commented on #18824
The best way to work around this is to always pass in rank-2 arrays for matrices. `dot` has some odd behavior on rank-0 and -1 arrays that is undesirable. In fact, I wonder if we should somehow change the code that is generated to enforce this. For instance, if `a` and `b` are both rank-1, `np.dot(a, b)` treats `a` and `b` as row @ column so that you get a scalar. If you are supposing that rank-1

[2020-03-10 22:48] asmeurer commented on #18824
At any rate, changing the code printer to use `np.dot` instead of `array.dot` is a simple fix for this. I also think we should use `*` for the scalar part of MatMul. If anything, this will make the generated code less confusing to read.

[2020-03-10 23:05] asmeurer commented on #18824
Another problem with `np.dot` on rank-1 arrays. If you combine a rank-1 and rank-2 array, it treats the rank-1 array as a row vector if it is on the left and a column vector if it is on the right (and it also returns a rank-1 array, meaning it will propagate upward).

[code]

But with generated code, you don't even know which arguments are first or second arguments to `dot`. The problem is that we

[2020-03-11 01:00] asmeurer commented on #18824
OK, maybe this is something that could lead to wrong answers. The problem is

1. dot of two rank-1 arrays produces a rank 0 array (scalar)
2. dot of scalar does scalar multiplication

So you have

[code]

i.e., `np.dot` is not associative if you don't pass it rank-2 arrays. I can easily see this causing issues with `lambdify`, since the expression you start with can be so far divorced from the cod

[2020-03-11 01:07] asmeurer commented on #18824
It looks like we can avoid that by using `@` instead of `dot`, as it disallows rank-0 operations

[code]

we couldn't use it previously because of Python 2, but we don't support Python 2 anymore. It doesn't fix the rank 1 issues, but at least we wouldn't get wrong answers by the sort of thing I showed with `dot`.

[2020-03-11 05:28] Mohitbalwani26 commented on #18348
@oscarbenjamin For pattern matching, I kept in mind that we can extract the elements of our general solution from the equation with direct matching just like First_linear. And for `SingleODESolver` there will be proper logic checking whether the given equation matches or not.

I am a bit confused about how all linear solvers can be based on pattern because
let's say we want to implement `nth_linea

[2020-03-11 06:30] namannimmo10 commented on #18816
You can also use sed to remove `__future__` imports. Refer [this comment](https://github.com/sympy/sympy/pull/18612#issuecomment-584221881). To remove all such instances inside a directory, use `path/to/dir/*.py`.

[2020-03-11 09:39] #18775 closed

[2020-03-11 09:53] czgdp1807 commented on #18730
RVs shouldn't be there as mixture distribution is concerned with distributions. Instead, one can pass distribution classes along with the parameters.
A simple new distribution class can be made for mixture distributions just like there is `SingleContinuousDistribution` like, `MixtureDistribution` and for creating random variables a constructor function can be made for the same.
Currently the follo

[2020-03-11 09:56] czgdp1807 commented on #18718
Mathematically, KL divergence is defined over distributions rather than random variables. So may be something like,
[code]
For the above to be possible, distribution classes should be shifted to `sympy.stats` namespace.

[2020-03-11 11:21] oscarbenjamin commented on #18348
Both `_wilds` and `_equation` take an order argument that can be used to determine the order of the ODE so e.g.:
[code]

[2020-03-11 13:47] Tanmay-Kumar-Sinha commented on #17042
Is there more work needed to be done on this, since the issue is still open? If so, what all is needed to be done?

[2020-03-11 14:29] Smit-create commented on #18730
I have suggested using RV because currently at the user end we have most of the things accessed through RV. So, creating the RV that is of the corresponding Mixture Distribution with the provided arguments, so we could use them as all other functionality.

Or we could go the following way to hold the definition that Mixture Distributions are distributions,
1. Create a class Mixture Distribution wi

[2020-03-11 14:36] Smit-create commented on #18718
Yes, they must be shifted, also, I think that the users are generally used to RVs, so could we provide such flexibility of able to use either RVs or Distributions as the parameter.
If they pass RVs, we could go by `density(RV)` else `dist.compute_cdf()`.
Or else to provide this only for distributions, we need to raise an error if RVs are passed

[2020-03-11 15:23] sylee957 commented on #18453
It can be worth implementing, because I see sympy already contains some random group computations. But I can't be able to tell how the implementation looks like for now.

[2020-03-11 15:43] mohitacecode commented on #18453
I was hesitating about the `weak conjugacy test` and `strong conjugacy` test given in the algo.
What do you think I know implementation can't be described at now?
btw I am considering this for adding it into my proposal for gsoc.

[2020-03-11 16:10] death-angel-141 opened #18830 "Typo Error in the SymPy's Architecture Documentation/User Guide"
A small typing error relating to SymPy's Architecture documentation under the heading of Basic Usage.

![documentation_bug](https://user-images.githubusercontent.com/61632737/76438296-d07e8c80-63e0-11ea-8668-b051d459ec8b.PNG)

where the 2 should be replaced by 3.

[2020-03-11 16:34] Mohitbalwani26 commented on #18348
@oscarbenjamin sorry I should have explained more clearly. Actually what I want to say is in general equation p(x) should always consist of `sin,cos,x**n,exp(x),etc` because we need to check them for trialset.

In my opinion, through pattern matching, we try to extract elements through wilds function and we return an equation that should match the pattern in terms of these extracted elements.

Alt

[2020-03-11 16:41] Psycho-Pirate commented on #12623
I would like to work on this issue.

[2020-03-11 17:10] oscarbenjamin commented on #18348
For the undetermined coefficients solver there would need to a be a separate `_verify` call as there is in `AlmostLinear`.

[2020-03-11 17:20] oscarbenjamin commented on #12623
Go ahead. The tests should be added in `sympy/solvers/ode/tests/test_ode.py`. Look at how the other examples there are tested. The result here comes from the undetermined coefficients solver. That must not have matched this ODE before. The variation of parameters solver still gives the complicated result so this is fixed because undetermined coefficients solver now matches this equation.

Another

[2020-03-11 19:19] smichr opened #18832 "uniq modifies list argument"
When you iterate over a dictionary or set and try to modify it while doing so you get an error from Python:
[code]
It would be good to do the same thing from within `uniq` because the output will silently be wrong if you modify a passed list:
[code]
I think this would entail recording the size at the start and then checking the size and raising a similar RuntimeError if the size changes.

[2020-03-11 20:09] death-angel-141 commented on #18636
I think this problem can be solved by
![issue_heaviside_may_be_fixed](https://user-images.githubusercontent.com/61632737/76459478-47784d00-6402-11ea-853f-56a977d57196.PNG)

[2020-03-11 20:12] oscarbenjamin commented on #18832
I'm not sure there is a need to handle this case. Users should know not to mutate something while iterating over it.

[2020-03-11 20:39] sava-1729 commented on #18832
With regards to the above discussion, I believe it would indeed be helpful if modifying a passed list to ``uniq`` raises an error while iterating over it, because it does not immediately follow that ``uniq(f)`` would get updated if f gets updated, as the user might think something like ``uniq`` might store a copy of f, compute the list of unique elements in it, and return that list. The user may n

[2020-03-11 20:56] sava-1729 opened #18833 "disjoint_union() in sets"
Has evaluating the disjoint union of a collection of sets been implemented in SymPy? I could not find it therefore I'd like to implement it. Here's the definition: [https://en.wikipedia.org/wiki/Disjoint_union](url)

I was thinking of creating a class ``DisjointUnion`` derived from ``Set`` (just like the classes ``Union``, ``Intersection``, etc.), which would do the job.
If each argument is iterab

[2020-03-11 23:23] oscarbenjamin commented on #12276
A recent PR (#18797) added a bidiagonalisation algorithm. It seems that it can only work if it can determine whether `|A| <= |B|` for two vectors `A` and `B`. That places a significant limitation on its applicability in a symbolic context. Determining that `a<b` is a lot easier than determining that `a-b=0` if the expressions can be evaluated numerically with precision but where there are indeterm

[2020-03-11 23:28] #10993 closed

[2020-03-11 23:42] smichr commented on #18832
The easy case is if all elements are hashable. In this case we can see if they are in `seen`. In case that fails, however, we can store the element in a list and then see if the element is there.

[2020-03-12 01:57] sylee957 commented on #18833
I'd stick to allowing only sympy `Set` objects.
Getting it work with arbitrary iterables can introduce a lot of abuse.

[2020-03-12 02:46] sylee957 commented on #18830
I can't locate where it is, but it looks like a problem indeed.

[2020-03-12 03:20] sylee957 commented on #18824
I think that `@` would be same as using `numpy.matmul`

[2020-03-12 04:04] divyanshu132 commented on #18804
I think this should work, may be there is some problem with the collection of word.

[2020-03-12 04:15] shubham-khantwal commented on #18833
how can i contribute to this issue?

[2020-03-12 04:51] #18787 closed

[2020-03-12 06:05] mcpl-sympy opened #18837 "Enhancing consistency for evaluate and doit"
This issue is related to:
- Issues #17280, #18764, #18787
- PRs #18826, #18829

and possibly more.

# Issues

There are many 'evaluatable' classes across sympy, e.g. `Add`, `MatAdd`, `Derivative`, `Subs`, etc.
The main concept is that `.doit()` method evaluates these, but there are heavy inconsistencies among them.

__1. `evaluate` option__
---
Some classes take `evaluate` option, which evaluates

[2020-03-12 06:11] namannimmo10 commented on #18837
I'm working on adding `evaluate` to `Subs`.

[2020-03-12 06:48] death-angel-141 commented on #18830
It's in the Sympy Architecture Documentation under the heading of Basic Usage

![svlee_share](https://user-images.githubusercontent.com/61632737/76494759-90102480-645b-11ea-990e-564cd7f9094a.PNG)

[2020-03-12 06:59] mcpl-sympy commented on #18837
@namannimmo10
That's great. May I ask you one more?
Currently, evaluation of `Subs` is defined in `doit` method. Can you move it to another method, make `__new__(cls, [...], evaluate=True)` call it, and finally, make `self.doit(deep=False)` return `self.func(*self.args, evaluate=True)`?

[2020-03-12 07:06] death-angel-141 commented on #18724
@abhinav28071999  I think the PSLQ algorithm for integer relation is already implemented in the mpmath module

[2020-03-12 08:10] namannimmo10 commented on #18837
Alright,  I'll send a PR soon!

[2020-03-12 08:12] asmeurer commented on #18724
Yes, and it can be accessed via `nsimplify`.

[2020-03-12 08:45] sava-1729 commented on #18833
Yes, indeed, I'll only allow ``Set`` objects to be given as arguments. But even then, every ``Set`` need not be iterable, right? For eg, if we consider two closed intervals A = [1,2] and B = [1,2]. Clearly the two closed intervals are equal. But the disjoint union of the two would be
C = { (x, i) | (x ∈ A and i = 1) OR (x ∈ B and i = 2) }
So this set would look like the union of the sets:
{ (x, 1)

[2020-03-12 08:51] sava-1729 commented on #18833
I think I found it,
Given any collection of sets { A_i } where i varies from 0 to n, I'll define the disjoint union as:
(A_1 × {1}) U (A_2 × {2}) U ..... U (A_n × {n})
This way, it will be entirely defined using existing functions and classes in sympy.

[2020-03-12 09:19] DLade opened #18839 "Galois Multiplication (gf_mul) does not work for FiniteFields (FF)"
Version: sympy 1.5.1
Python: 3.7
OS: Linux

`gt.gf_mul([1,0,0,0,1], [1,0,1], 2, FF)`

results in

but in ZZ it works

`gt.gf_mul([1,0,0,0,1], [1,0,1], 2, ZZ)`

[2020-03-12 09:37] DLade commented on #18839
One way to "work around":
`from sympy.polys.domains.finitefield import FiniteField
FF = FiniteField(2)
gt.gf_mul([1,0,0,0,1], [0,0,1,0,1], 2, FF)`

[2020-03-12 10:27] oscarbenjamin commented on #18833
It would be good to think of some use for the disjoint union before making any decisions about how to define it. I see some imprecise/contradictory usages of the term.

[2020-03-12 10:51] sudoWin opened #18840 "Simplification of expressions having abs and pow"
Simplification does not occur for these kind of expressions:
[code]

The expression above should simplify to `t**2`

[2020-03-12 10:59] oscarbenjamin commented on #12623
The output on master is now simpler and tests are added for this in #18836.

However there are two points that remain from this issue:

1. The complicated output is still seen from the variation of parameters solver:
[code]
That gives:
[code]
The conditions here are unnecessarily complicated and can be simplified. Firstly the whole thing should be folded with `piecewise_fold` but also the conditio

[2020-03-12 11:04] oscarbenjamin commented on #18840
Since `Abs` has similar identities to `Pow` I wonder if it should be possible to expand expressions like this using `expand`.

[2020-03-12 11:05] jksuom commented on #18839
The last argument of `gf_mul` is expected to be a domain. `FF` (as defined in SymPy) is not a domain and it has no valid elements:
[code]
A domain like `FF(2)` should be used (as the comment above shows).
[code]

[2020-03-12 11:30] povinsahu1909 commented on #18455
While going through the plot function I realized that it will be easier to check for the singularity points before and modifying the range and thus converting the problem into multiple plots type problem with new range obtained
 i.e. if given range in input is form -10 to 10 and singularity is at points -5 and 0 then new range will be from (-10 to -5), (-5 to 0) and (0 to 10). And then plot functi

[2020-03-12 12:00] death-angel-141 commented on #18428
[code]

Clean Implementation of Chinese Remainder Theorem as it was already implemented

[2020-03-12 12:14] mijo2 commented on #18428
@death-angel-141 The implementation is already done by PR #18430 and if you have any suggestions then you can review that PR and help me make some changes or make one of your own PR if you think it is necessary. Thanks.

[2020-03-12 12:25] jessecarterMOOSE opened #18842 "Issue with series expansion of expression with log"
The following gives an error on the last line, but works fine if I set, say, point = 0.49.

[code]

Error:
[code]

Originally reported [here](https://groups.google.com/forum/#!topic/sympy/PBG81wivf2w).

As suggested by @asmeurer , using x0=Rational(point) as the argument to series does work, so the error appears to be with the floating point evaluation.

[2020-03-12 12:27] sava-1729 commented on #18833
So the only use I know of, is in category theory, where the disjoint union is the coproduct in the category of sets.
[https://en.wikipedia.org/wiki/Coproduct](url)

[2020-03-12 12:27] death-angel-141 commented on #18428
Yeah that's why I already said,that its a clean version of the respected PR

[2020-03-12 12:31] DLade commented on #18839
It's a little bit strange, but ok, calling like that:
[code]

[2020-03-12 12:35] mijo2 commented on #18428
Ok, thanks for your suggestion, I will incorporate the changes that you are suggesting and see if it helps or not. But, for future suggestions, you can review my PR. Thanks for the help :)

[2020-03-12 12:37] death-angel-141 commented on #18428
Welcome, and yeah I have already tested the changes that I made @mijo2

[2020-03-12 13:08] mijo2 commented on #18428
@death-angel-141 I see, I am currently busy with something else right now, but I think what would really help when it comes to this issue is finding the use cases of crt_remainder_theorem's use-cases. I tried finding something about it but then got busy with some other issues and tasks. If you can find those use-cases then it would be help a lot and finally the maintainers will be able to merge th

[2020-03-12 14:22] namannimmo10 commented on #18023
I have included this in my application! So in week 11 and 12, I will add such feature along with required tests and documentation.  Thanks, @oscarbenjamin.

[2020-03-12 16:21] DLade commented on #18839
I think I got something wrong.

`gf_mul` already calculates in the finite field of `p` and the domain in my case is `ZZ`.

[2020-03-12 16:21] #18839 closed

[2020-03-12 16:52] czgdp1807 commented on #15358
The issue still persists on `master`.

[2020-03-12 17:01] czgdp1807 opened #18845 "Generalize grover algorithm for an unknown function"
Please see https://github.com/sympy/sympy/pull/15179 and implement the ideas by checking out the PR locally on your system.
You may refer, https://blog.scottlowe.org/2015/09/04/checking-out-github-pull-requests-locally/ for help.

[2020-03-12 17:13] czgdp1807 commented on #14796
The issue still persists on `master` so it is open for work.

[2020-03-12 18:48] shubham-khantwal commented on #18778
how can I work with this issue?

[2020-03-12 19:30] death-angel-141 commented on #18428
@mijo2 Yeah that could be a great idea

[2020-03-12 19:37] shubham-khantwal commented on #18689
it seems it is #18689 is logically correct. it's not an issue.

[2020-03-13 01:41] sudoWin opened #18847 "Inequality Evaluation"
The above should be always `True`, but this inequality remains unevaluated.
From : #18797
[code]

[2020-03-13 06:22] smitgajjar commented on #17943
Please review PR #18825, Suggest whatever is necessary!

[2020-03-13 06:52] smitgajjar opened #18850 "Fix documentation in Parsing"
For `sympy.parsing.mathematica.mathematica()`,
formatting of example is improper.
[Link to the doc](
https://docs.sympy.org/latest/modules/parsing.html#sympy.parsing.mathematica.mathematica)
`In [1]: mathematica(‘Log3[9]’, {‘Log3[x]’:’log(x,3)’}) Out[1]: 2`
 is written instead of usual
`>>> mathematica(‘Log3[9]’, {‘Log3[x]’:’log(x,3)’}`
`2`
which results in flawed formatting!

[2020-03-13 10:19] oscarbenjamin commented on #18850
Can you give a link to code/docs and explain which part is broken?

[2020-03-13 14:18] sbt4104 commented on #13263
I have added a test, please review it.

[2020-03-13 14:42] #13263 closed

[2020-03-13 15:43] #18832 closed

[2020-03-13 15:46] smichr commented on #18751
my guess is that this is a Float vs Rational issue

[2020-03-13 15:55] #15055 closed

[2020-03-13 16:31] czgdp1807 opened #18855 "Add hyperfunctions in one variable"
There is no need to merge this yet. I would expect boundary values to be useful for handling generalized functions (distributions) but there is very little support for those so far. The class of [hyperfunctions](https://en.wikipedia.org/wiki/Hyperfunction) of one variable should be added first.

_Originally posted by @jksuom in https://github.com/sympy/sympy/pull/14715#issuecomment-531460392_

[2020-03-13 17:09] czgdp1807 commented on #14587
The issue still persists on `master`.

[2020-03-13 17:21] asmeurer commented on #14587
https://github.com/sympy/sympy/pull/14597#issuecomment-598828831

[2020-03-13 18:19] henryiii commented on #18815
Ouch, got got by this in CI as well.

[2020-03-13 19:19] ThomasHickman opened #18857 "continuous_domain fails to return the correct domain for log(tan(f(x))"
[code]
Prints:
[code]
which is incorrect.

I've had a bit of a digging in the source code, and it looks like the general topic in #11047 is resolved, this will return the correct answer, as the `continuous_domain` determines that `1/log(tan(x))` has no solution (which is incorrect), so returns the wrong value.

[2020-03-13 19:28] ThomasHickman commented on #11047
With regards to the decision about this: if this problem is solved, then the issue with `continuous_domain` posted above will be fixed.

Secondly, it is generally expected for CAS systems to "handle infinities" in this way for equations like `cot(x) = 0 <=> 1/tan(x) = 0`, for which wolframalpha solves correctly: https://www.wolframalpha.com/input/?i=1%2Ftan%28x%29+%3D0+for+x. I would therefore exp

[2020-03-14 04:37] sudoWin opened #18859 "Missing Latex in crypto.py"
Latex can be added for

https://docs.sympy.org/latest/modules/crypto.html#sympy.crypto.crypto.gm_private_key

[2020-03-14 04:48] Arpan612 commented on #18666
@sylee957 Can I work on the work left in test_matrices.py?

[2020-03-14 04:50] Arpan612 commented on #18428
@czgdp1807 Sir, is any work left which I can do?

[2020-03-14 04:51] Arpan612 commented on #18742
@alichaudry @asmeurer Is any work left here which I can do?

[2020-03-14 04:53] Arpan612 commented on #18090
@sylee957 Is there any work left here which I can do?

[2020-03-14 04:55] Arpan612 commented on #18580
@sylee957 @asmeurer May I work on this issue?

[2020-03-14 05:02] Arpan612 commented on #18859
@sudoWin Hello, I am working on this issue and will be sending a PR soon.

[2020-03-14 11:41] smichr commented on #18090
looks like the PR did not close this. I think the work is done.

[2020-03-14 11:41] #18090 closed

[2020-03-14 11:43] smichr commented on #18742
Not sure why this did not auto-close when the PR was merged. Closing now.

[2020-03-14 11:43] #18742 closed

[2020-03-14 11:44] #18751 closed

[2020-03-14 13:16] jksuom commented on #18855
Example: Fourier transform of 1.

Formally, the Fourier transform of the constant function 1 is `Integral(exp(-2*pi*I*t*x), (x, -oo, oo))` but the integral does not exist as 1 is not integrable over the real line. However, the constant function can be considered as a [tempered distribution](https://en.wikipedia.org/wiki/Distribution_(mathematics)#Tempered_distributions_and_Fourier_transform), whic

[2020-03-14 18:29] povinsahu1909 opened #18864 "No error on dividing expression by zero"
[code]
Expected outcome after running the the above code is `ZeroDivisionError: division by zero` . But it shows no error and got executed successfully.
[code]
But running the above will generate the expected error.

[2020-03-14 20:24] sylee957 commented on #18833
I see there are two definitions of the disjoint union that the 'external' disjoint one is the union made artificially disjoint, and the 'internal' disjoint union is the regular union made of the actually disjoint sets.
https://ncatlab.org/nlab/show/disjoint+union

And I see `DirectProduct` had used internal. So if the naming consistency matters,
I'm thinking of naming like `ExternalDisjointUnion`

[2020-03-14 22:19] #18859 closed

[2020-03-14 23:48] sylee957 opened #18867 "Lazy Jordan decomposition computation"
I see Jordan decomposition or matrix exponential computation is quite frequently used
But I see a lot of redundancy are made only to make the result an explicit matrix.
For example, matrix `exp` or `log` tries to get the diagonal block structure and also spends a lot of time computing the inverse and multiplication for computing the similarity transform.

So, I think that making such results into

[2020-03-15 00:28] Kroiririoroirkk commented on #18864
Strange. When I run

[code]

I get `KeyError: 'ComplexInfinity'`

[2020-03-15 00:31] Kroiririoroirkk commented on #18864
Do you get any output when running the above code?

[2020-03-15 00:33] oscarbenjamin commented on #18867
That seems reasonable to me. The documentation should explain how to access the different elements of the the results returned in this way e.g.:
[code]

[2020-03-15 01:08] oscarbenjamin commented on #18867
Maybe this could also work with matrix symbols like
[code]

[2020-03-15 02:49] sylee957 opened #18869 "Put back the matrix docstrings to the original file"
I see they are put into each private functions in separate files, and being copied like `foo.__doc__ = bar.__doc__` after the last refactory of @Pristine-Cat

But I see that the doc workflow had become worse after that because sphinx is not detecting any changes from the edits in the files and not making the build incrementally.

I think that the docstrings should be put back to `matrices.py`.
For

[2020-03-15 06:58] vishakha2108 opened #18871 "equation of tangent&Normal in parabola"
In the geometry module's parabola file , I would like to implement a function for equation of tangent and Normal  with a given point or given slope.

[2020-03-15 09:24] sava-1729 commented on #18833
Ah okay, that sounds good, I'll rename it.

[2020-03-15 11:14] MANIKTANEJA3 commented on #18801
@phofl @sylee957
"""
To work around this issue we can apply the vstack concept where the two arrays are vertically stacked and then using amax function we can find the maximum value along the particular axis .
The following code might help @phofl to overcome the overriding issue .
"""

import sympy
from sympy import *
import numpy as np
na1=np.array([1.0,-2.0])
na2=np.array([-1.0,2.0])
a=np.vstack

[2020-03-15 12:07] smichr commented on #18871
See `ellipse` and `normal_lines`, `is_tangent` and `tangent_lines`.

[2020-03-15 12:37] mhardcastle opened #18872 "integration does not return"
[code]
locks up on 100% cpu and never returns. (Expected behaviour is to return the unevaluated integral.)

[2020-03-15 13:19] Smit-create commented on #18730
From the Wikipedia, I found that: "In probability and statistics, a mixture distribution is the probability distribution of a random variable that is derived from a collection of other random variables as follows: first, a random variable is selected by chance from the collection according to given probabilities of selection, and then the value of the selected random variable is realized."
Therefo

[2020-03-15 14:37] mohitacecode commented on #18804
The problem seems in the `pc_relators` function because on line `335` of `pc_groups.py` this (`self.pc_presentation[key]`) is returning a `x2**4` which is a exponential value.

[2020-03-15 18:14] Smit-create commented on #18718
@czgdp1807 Any comments on [this](https://github.com/sympy/sympy/issues/18718#issuecomment-597671337)?

[2020-03-15 18:14] oscarbenjamin opened #18874 "Zero divisor from sring over QQ<sqrt(2) + sqrt(5)>"
This example seems to work okay:
[code]
However if I have `sqrt(5)+sqrt(2)` as the first expr then I get an error from zero divisors:
[code]
Should this be expected to work?

[2020-03-15 18:31] povinsahu1909 commented on #18864
Yes, after running the code it produces empty plot.
But this problem is not specific to the plotting module, it also got executed successfully when an expression which includes division by zero was formed and used with other methods available.

[2020-03-15 18:41] Saanidhyavats commented on #18543
Is this issue open or resolved? I want to contribute on this.

[2020-03-15 18:52] AyushGit123 commented on #17938
Documentation for 'evalf'

To evaluate a numerical expression into a floating point number, use evalf.
example:-

2.82842712474619

*SymPy can evaluate floating point expressions to arbitrary precision. By default, 15 digits of precision are used, but you can pass any number as the argument to evalf. Let’s compute the first 100 digits of π

example

3.1415926535897932384626433832795028841971693993

[2020-03-15 19:29] Kroiririoroirkk commented on #18864
Can you give examples of other expressions with division by zero that execute successfully?

[2020-03-15 19:47] Saanidhyavats commented on #16722
I want to contribute on this issue. I think the problem lies in `rewrite` function but not sure about it

[2020-03-15 20:55] mhardcastle opened #18876 "subs of a FiniteSet should yield a new FiniteSet"
[code]
Desired behaviour: `Finiteset(-3*(1/2 - sqrt(5)/2)**2 + 2*(1/2 - sqrt(5)/2)**3 + 3*sqrt(5) + 7
-3*(1/2 + sqrt(5)/2)**2 - 3*sqrt(5) + 7 + 2*(1/2 + sqrt(5)/2)**3)`

Actual behaviour: unhelpful traceback culminating in:
[code]

[2020-03-15 21:08] oscarbenjamin commented on #18876
Substituting into an expression should always give an expression. You are trying to replace a sub-expression with a set and it is right that that gives an error (although the error message could be improved).

Handling the output of solveset is a bit awkward and can probably be improved but the way to do this is
[code]
Or if you know that it is a finite set:
[code]

[2020-03-15 21:19] mhardcastle commented on #18876
I don't think either of those approaches will leave my class of beginners much the wiser. I'll show them explicit iteration over the elements of the FiniteSet, but allowing the substitution of the output of solveset to do something sensible seems like an obvious thing to try to me. I obviously don't know the code well enough to know why this isn't possible.

[2020-03-15 21:41] oscarbenjamin commented on #18876
I agree that it isn't ideal. The output from solve is much better in this respect. There is recent discussion about this in #10006.

The simplest approach if you don't need to handle infinite solution sets is
[code]

It could easily be made possible but it isn't a good idea because it conceptually mixes up expressions and sets which will lead to confusion and bugs.

We are definitely missing some

[2020-03-15 21:44] povinsahu1909 commented on #18864
If you try
[code]
it will produce an output showing `zoo`. But when
[code]
was entered which is the simpliified form of `x**2 at 1` error will come showing `ZeroDivisionError: division by zero`.

[2020-03-15 22:21] oscarbenjamin commented on #14694
A slight permutation of this problem (moving b1 to be the first symbol) makes the matrix tridiagonal. In that case it should be solvable by the tridiagonal algorithm which can be much faster:
https://en.wikipedia.org/wiki/Tridiagonal_matrix_algorithm

I suspect though that with so many arbitrary symbols there does not exist a simple form of the solution for this particular system.

[2020-03-15 22:22] Kroiririoroirkk commented on #18864
This doesn't seem like an error to me. According to https://mathworld.wolfram.com/DivisionbyZero.html "There are, however, contexts in which division by zero can be considered as defined. For example, division by zero z/0 for z in C^* =/= 0 in the extended complex plane C-* is defined to be a quantity known as complex infinity." (zoo = complex infinity)

However, when you type expr = 1/0, python t

[2020-03-15 23:28] death-angel-141 commented on #18872
There seems to be a problem while evaluating the integral because of the overloaded `sqrt(x)`.The integration works flawlessly when its simply `exp(x)`.But the mathematica evaluation of the given integral is
![integrate_bug](https://user-images.githubusercontent.com/61632737/76712894-af040480-6742-11ea-8ae6-a1711d43d8db.PNG)

[2020-03-16 03:12] sylee957 opened #18879 "More Kronecker Delta simplification based on evaluation identity"
Some kronecker delta simplification was already implemented in #17215
But I think that sympy lacks a lot of identities like
`KroneckerDelta(n, 0) * cos(n) == KroneckerDelta(n, 0)`,
`KroneckerDelta(n, 2) * binomial(n, 2) == KroneckerDelta(n, 2)`.

I would suggest that the evaluation of the function at the specified point of Kronecker delta can generalize the simplification in #17215. But let's see

[2020-03-16 05:20] povinsahu1909 commented on #18864
According to the article the you have shared, it was mentioned that the division by zero for reals is not defined. But then also after defining the x as real symbol output is same as the output by considering x as complex symbol.

The result which is coming after considering x as the complex symbol is desired as the complex infinity was implemented in sympy, but in case of real symbols, it is not

[2020-03-16 06:07] Arpan612 commented on #18879
Hello. I am working on this issue and will be sending a PR soon.

[2020-03-16 06:13] Arpan612 commented on #18857
Hello. I am working on this issue and will be sending a PR soon.

[2020-03-16 06:52] Mohitbalwani26 commented on #18377
@oscarbenjamin I looked at `test_ode.py` for every solver there is a separate function for its tests. so the idea discussed in OP should be implemented for particular solver?
can you please elaborate more with example of let's say def `test_nth_linear_constant_coeff_undetermined_coefficients():`

[2020-03-16 09:03] mhardcastle commented on #18872
Sure. To be clear, I didn't expect Sympy to be able to solve the original integral -- I was looking for an example for teaching purposes where the unevaluated integral would be returned. However, I think the behaviour of locking up and requiring the user to hit ctrl-C is not desirable!

[2020-03-16 10:33] mohitacecode commented on #7127
Basically we have to create two class 'Left Coset` (which will used in computing the left coset) and 'Right coset`(which will used in computing the right coset ) which will be used when `Permutation * PermutationGroup` and `PermutationGroup * Permutation`.
Am I understanding it right? @asmeurer @sylee957

[2020-03-16 13:21] BasileiosKal commented on #16318
Hello, i made a pr yesterday to increase the coverage for the Quaternion.py file. Could you please review the changes? I also would like to keep working on this if that’s ok.

[2020-03-16 15:24] sylee957 opened #18882 "Backtracking and revealing default assumptions"
I see there are some problems of the new assumption system that it is not able to resolve some facts inferred from the default assumption associated with the symbol.
I think that the the old assumptions system could solve because it has some backtracking.

For example, if the new assumptions system backtracks the conditions of `Q.invertible` and reveals some assumptions then the problem like below

[2020-03-16 15:27] sylee957 commented on #7127
Yes, I think that it’s good to begin with defining each objects symmetrically.

[2020-03-16 16:03] mohitacecode commented on #7127
what `_eval_rewrite_as_PermutationGroup` and `_eval_rewrite_as_FiniteSet` will be doing here?

[2020-03-16 16:36] jksuom commented on #18874
There is a bug in `primitive_element` with flag `ex=True`:
[code]
The latter form is used by `construct_domain` and it is expected to return the representations of the input expressions in terms of the primitive element. The algorithm uses Gröbner bases for efficiency but apparently it does not always return an irreducible polynomial.

[2020-03-16 17:57] jksuom commented on #18874
This is not the only problem with this algorithm. Sometimes it does not find any solution: https://github.com/sympy/sympy/issues/14117.

[2020-03-16 18:00] povinsahu1909 commented on #16674
I think there is also need for the tests to check whether the singularity in plot was handled correctly or not.

[2020-03-16 18:02] sylee957 commented on #16674
I think that the image comparison tests are needed. I have added some before for plots. But I wonder is there a better way to organize them such that it doesn’t bloat up the repository size.

[2020-03-16 18:59] asmeurer commented on #18882
This sort of problem is solved by satask.

The challenge with doing this with the old handler system is avoiding expensive evaluation. In the worst case you could end up evaluating every possible handler for an object.

[2020-03-17 00:40] sylee957 commented on #18882
I see things like `Identity = staticmethod(CommonHandler.AlwaysTrue)` are duplicated all over the different handlers to achieve same thing.
In my opinion, I think that the handler classes should be able to distribute them automatically in creation.

[2020-03-17 00:53] oscarbenjamin commented on #18882
Where it goes wrong is that in some cases the handlers try to do too much. It's okay for them to just return None some of the time and more important for them to be fast.

[2020-03-17 01:36] Psycho-Pirate commented on #18045
I would like to work on this issue.

After going through the code, i think the default sign convention is wrong(upward and counterclockwise positive). The problem can be fixed by setting default sign convention as
upward forces and clockwise moment as positive.
This will solve many errors in other examples as well.
In example 2, the moment given in question is in clockwise direction, however in th

[2020-03-17 01:44] souvik3333 opened #18884 "Update document related to environment creation"
In documentation (https://github.com/sympy/sympy/wiki/Development-workflow#create-your-environment), it is mentioned that to activate the `conda` environment `source activate env_name` command should be executed but actually `conda activate env_name` should be executed. Can I update this?

[2020-03-17 02:06] oscarbenjamin opened #18885 "Different results for QQ<sqrt(5)>() and QQ<sqrt(5)>"
I expected to get the same results for calculations in `QQ<sqrt(5)>()` as `QQ<sqrt(5)>` but in this example I do not:
[code]

[2020-03-17 02:12] sylee957 commented on #18882
What I mean is that would it be worth bounding the facts derived from `CommonHandler.AlwaysTrue` to the classes? This would still be cheaper

[2020-03-17 02:15] Saanidhyavats commented on #16722
when only z is declared positive `mrv` function in first recursion gives different result as compared  to 2nd case where both n and z are declared positive.

[2020-03-17 04:42] Sc0rpi0n101 commented on #18884
If you want to update the Development Workflow, there are a few things that can be updated.

Python 2 is not supported anymore. So, the supported versions can be updated.

I don't think we need that anymore

It'll be better to give reference to a Python 3 installation now.

Is our dependency still on >0.19 or should it be changed?

I don't think we need to provide a python 2.7 environment example

[2020-03-17 05:15] divyanshu132 commented on #18804
Mapped value can be exponential.

[2020-03-17 05:18] Sc0rpi0n101 commented on #18850
This one violates a lot of docstring styling guidelines.

The docstring is in triple single quotes instead of double-quotes.
The example section should not be represented by `# Example`, instead by
[code]
The format for doctests is wrong.
There is no empty line before the closing quotes.

It'll be better to rewrite the whole docstring IMO.

[2020-03-17 07:32] MANIKTANEJA3 commented on #18801
@phofl @sylee957
"""
I observed the same anomaly in using the "maximum" function for the two arrays .
Since, numpy allows us to vertically stack the arrays using the "vstack" function and then use "amax" function to find the maximum value in every array ; we can use these two features to compute the correct results .
the following is the numpy code for finding the maximum value of each array and r

[2020-03-17 10:27] oscarbenjamin commented on #18884
There is no need to use conda so there should be an explanation of setting up normal python virtual envirionments.

[2020-03-17 10:37] phofl commented on #18801
Hi,

unfortunately we do not know the dimension of our arrays beforehand. Your described workaround is a bit complicated in this case, but would work nevertheless. Thank you. We solved the issue temporarily through defining a user defined function *usr_maximum*. This function applies the ```np.maximum``` function for our array. That works, but it is not the best solution in my opinion.

I think th

[2020-03-17 11:53] PierreQuentel opened #18889 "Running sympy in Brython (Python in the browser)"
Hi,

I am the creator and main developer of [Brython](https://github.com/brython-dev/brython), an implementation of Python running in the browser. Its main focus is the development of front-end applications in Python instead of Javascript, but it is also used as a Python interpreter and as such, I try to make it as compliant with CPython as possible.

In the latest version (3.8.8) the sympy packag

[2020-03-17 11:54] jksuom commented on #18885
There are three implementations of `QQ<sqrt(5)>`. Most efficient, and recommended, is
[code]
It is also possible to define a constant field as a rational fraction field with no generators:
[code]
This is not intended for systematic construction of algebraic fields. It is a convenience for code that has to create fraction fields from both constant and non-constant arguments. The field `K1` is isomo

[2020-03-17 13:08] Arpan612 commented on #18889
Hello. In order to reduce the number of imports, I suggest we bundle modules which all contribute to the same operation and implement it in the code with this new module (with a new name).

[2020-03-17 13:12] Arpan612 commented on #18889
For Long Integers, if the nature of the problem is such that some amount of approximation is tolerable, a new function can be developed which rounds off the integers into a more workable number. This can reduce the computational power required to import and work with sympy.

[2020-03-17 13:19] Arpan612 commented on #18889
With reference to the example of SMALL_FACTORIAL_CACHE_SIZE, we can reduce the number 150 to some double-digit number so that the time required is less. Another suggestion to reduce time taken for using sympy in Brython can be that if you observe some of the functionalities of Sympy is required frequently in Brython, it can be implemented in the core code of Brython itself. I hope this helps. 💯

[2020-03-17 13:25] Arpan612 commented on #18882
@sylee957 Sir, I have tested the code snippet you shared and I agree with the problem you have raised. Could you tell me how can we proceed with solving this problem? And do you expect a PR for this issue? If yes, I would like to work on it.

[2020-03-17 13:43] souvik3333 commented on #18884
I will create two sections one with anaconda and another with a normal python virtual environment. I think it will be easier for new contributors this way. Also, I will remove the Python 2 contents.

[2020-03-17 14:14] smitgajjar commented on #18884
Also, it is better to include in the workflow [here](https://github.com/sympy/sympy/wiki/Development-workflow#id53), informing not to write **Parital Fixes <pr-id>** or similar words if a PR does not fix the issue completely since it auto-closes the issue!

[2020-03-17 14:41] oscarbenjamin commented on #18885
In #18844 I want to construct a poly domain for matrix calculations but I need to identify a suitable domain given the contents of the matrix. For that I have used sfield like:
[code]
Does that seem like a reasonable approach to you?

[2020-03-17 14:52] oscarbenjamin commented on #18889
It would be good to reduce the number of imports but it is not easy because:

1. It is standard in sympy that almost all public API gets imported to the top-level sympy namespace. I think that's a mistake but changing it is obviously not backwards compatible since that is where most of our users access the names.

2. There are strong cyclic import links between the many packages/modules of sympy.

[2020-03-17 15:24] dhruvmendiratta6 commented on #18850
I made the suggested changes but git diff is showing changes in files which weren't made.

[2020-03-17 16:05] smitgajjar opened #18891 "Improper docstring in codegen.array_utils.recognize_matrix_expression"
Docstring of code example under heading
*Recognize some more complex traces*
is not proper here: https://docs.sympy.org/latest/modules/codegen.html#sympy.codegen.array_utils.recognize_matrix_expression
resulting in a broken code formatting.

[2020-03-17 16:16] PierreQuentel commented on #18889
@oscarbenjamin
__`mpmath.libmp`__ imports __`mpmath.libmp.libintmath`__, which has in line 190:
[code]

The first number is 6668014432879854274079851790721257797144758322315908160396257811764037237817632071521432200871554290742929910593433240445888801654119365080363356052330830046095157579514014558463078285911814024728965016135886601981690748037476461291163877376

[2020-03-17 16:48] jksuom commented on #18885
That looks good except that it should not be necessary to convert the items to expressions and then back to domain elements. If there are no gens then the numerator `n` and denominator `d` of each item are dicts with a single key `()` (the empty tuple) and the corresponding value an element of K. The quotient `n[()]/d[()]` is then the required element of K.

[2020-03-17 16:58] Arpan612 commented on #18889
@oscarbenjamin I agree that the very nature of SymPy has modules interdependent on each other but the number of modules I suggest for bundling is only those which are often used in the task. It might take some time but is really important. And yes even I thought of using mpmath but as Pierre sir pointed out, it is already used.

[2020-03-17 17:03] asmeurer commented on #18889
I'm curious what is the problem exactly with large numbers? If Brython is slow in general with large numbers then it will be quite slow with SymPy, as it is very common for it to use large numbers internally in a calculation, even when the numbers in the end-user expression are not large.

Does Brython load .pyc files or only .py files? As far as I know, numeric literals such as the ones listed ab

[2020-03-17 17:31] oscarbenjamin commented on #18885
Thanks.

Should this issue be closed?

I had assumed that calculations using the domain elements would lead to unique results regardless of the order of arithmetic operations so that simplification would not be necessary. Is there a way in a rational function field like this to simplify the result of this:
[code]
I'm thinking of something like `radsimp`...

[2020-03-17 17:32] lzkelley commented on #18593
There is also some wiki documentation here: https://github.com/sympy/sympy/wiki/Unit-systems

[2020-03-17 17:56] jksuom commented on #18885
I think that this could be closed. The two implementations are different and it is not reasonable to expect that they would conform in all aspects.

It seems to me that the proper way to simplify `K.to_sympy(a/b)` is the use of the AlgebraicField version of K. It would simplify `a/b` automatically.

[2020-03-17 18:35] Arpan612 commented on #18891
`>>>expr = Sum(A[i, j]*B[j, i], (i, 0, N-1), (j, 0, N-1))

This should be the code. The answer must be Trace(A*B).

[2020-03-17 18:55] czgdp1807 commented on #18730
IMO, this approach can be helpful in sampling values of a random variable having mixture distributions. However, symbolically I think we can create a class `MixtureDistribution` and it should be possible for a random symbol to attain that distribution the way its possible with distributions currently in master.
See, https://reference.wolfram.com/language/ref/MixtureDistribution.html

[2020-03-17 18:59] czgdp1807 commented on #14587
Closing in reference to https://github.com/sympy/sympy/pull/14597#issuecomment-600243716

[2020-03-17 18:59] #14587 closed

[2020-03-17 19:04] czgdp1807 opened #18893 "Disallowing Interval in Sum"
Currently, `Sum` accepts `Interval` which is basically meaningless as there are infinite elements which can be given as an input to the function over which summation is performed.
See, https://github.com/sympy/sympy/pull/14597 and https://github.com/sympy/sympy/issues/14587 for examples.

[2020-03-17 19:10] czgdp1807 commented on #14541
The issue still persists on `master`. It is open for contributions. Please see, #14583 as well.

[2020-03-17 19:17] czgdp1807 commented on #14312
The issue still persists on `master`.

[2020-03-17 19:17] PierreQuentel commented on #18889
@asmeurer
Thanks for the information about .pyc files storing the result, I will try to do the same in Brython (the equivalent of a .pyc file is the translation from Python to Javascript, stored in an indexedDB cache).

Yes, Brython is rather slow on long integers, and will be so until the Javascript `BigInt` class is widely supported by browsers (it doesn't work on Safari for the moment). I under

[2020-03-17 19:35] smitgajjar commented on #18627
I got the same error once. When libclang and clang versions are not same, it gives this kind of error. Run these commands to resolve it:
`pip uninstall clang`
`sudo aptitude install python-clang-6.0`
`cd /usr/lib/x86_64-linux-gnu/`
`sudo rm libclang.so`
`sudo ln -s libclang-6.0.so.1 libclang.so`
`pip install clang`

Explanation:
Removes current clang from pip, installs python-clang-6.0 via aptitud

[2020-03-17 20:35] asmeurer commented on #18893
We should also not allow infinite discrete sets unless they have a very unambiguous ordering (basically `Naturals` or infinite `Range`). Otherwise we have to check if the series converges absolutely for the sum to make sense.

I'm also not sure if we're rigorous about sums that range from -oo to oo (I couldn't think of an example sum that would converge conditionally that SymPy can compute).

[2020-03-17 20:39] asmeurer commented on #18893
We could also allow Interval, but give oo or zoo or nan for infinite or nonconvergent values. It is possible for a summation over an uncountable set to have only finitely many nonzero terms, or countably many and converge absolutely. Although I'm not sure if we can really represent such things with SymPy, or even detect them. They generally require some sort of indicator function. It may be best t

[2020-03-17 20:52] Arpan612 commented on #18891
This should be the code. The answer must be Trace(A*B).
We need to rewrite the lines in the alignment above and also make sure it is accessible via the interactive SymPy shell.

[2020-03-17 20:59] oscarbenjamin commented on #18893
Maybe it would make sense to allow only sequences and to have a function that converts sets to sequences (where it makes sense).

[2020-03-17 21:08] czgdp1807 commented on #18893
Agreed. Allowing only sequences will make the API less ambiguous.

[2020-03-17 21:56] oscarbenjamin commented on #18885
I was thinking that having non-equivalent forms would cause a problem for zero-testing but it does not seem to:
[code]
So comparing with `==` is not reliable for distinguishing these elements but zero testing with `__bool__` is?

[2020-03-17 22:26] oscarbenjamin commented on #18885
This does not work in all cases e.g.:
[code]
Is there a way to check whether division will be exact? Perhaps I only need to check for `K.domain != ZZ`... Or perhaps it should be `K.domain.is_Field`?

If `K.domain` is not a field then I get the appropriate field with `K.domain.get_field()` but then how do I convert the items to that domain?

[2020-03-17 23:28] oscarbenjamin opened #18894 "sring extension=True error: nan is not in any domain"
Somehow a nan is generated in the intermediate calculations I guess (same for sfield):
[code]

[2020-03-18 00:47] oscarbenjamin opened #18895 "Factor with extension=True drops a factor of y-1"
I guess this related (or a duplicate of?) #5786

This is from stackoverflow:
https://stackoverflow.com/questions/60682765/python-sympy-factoring-polynomial-over-complex-numbers
[code]

[2020-03-18 02:24] smichr commented on #14293
The current state of SymPy is summarized in #14348:

What this means if `p` has 3 real roots and 4 roots with imaginary components that `RootOf(p,i)` for `i` in `(0, 1, 2)` will be the ordered real roots and roots with indices 3 & 4 and 5 & 6 will be conjugate pairs but there is no requirement for how the non-real root conjugate pairs are assigned indices 3/4 and 5/6. This shouldn't be a problem s

[2020-03-18 05:04] shubham-khantwal commented on #18840
how this issue should be approached?

[2020-03-18 09:04] Sc0rpi0n101 commented on #18891
There needs to be a blank line between the example and this line
https://github.com/sympy/sympy/blob/70381f282f2d9d039da860e391fe51649df2779d/sympy/codegen/array_utils.py#L1281

[2020-03-18 09:23] mcpl-sympy opened #18898 "Unable to substitute custom function inside Integral"
Undefined function can be substituted:
[code]

However, custom function is not substituted:
[code]

[2020-03-18 10:47] jksuom commented on #18885
For `n[()]/d[()]` to work, the domain of K should also be a field.
[code]

[2020-03-18 12:16] Psycho-Pirate commented on #16366
I would like to work on this issue.

[2020-03-18 12:49] Smit-create opened #18901 "Incorrect plot with constants"
I have attached the screenshot of the plot. The x-axis gets moved to y=3, instead of creating a horizontal line at y=3.

![IMG_20200318_181258](https://user-images.githubusercontent.com/55887635/76962245-e04c2280-6944-11ea-983f-55624ede827a.jpg)

[2020-03-18 13:43] progmatic-99 commented on #12369
can you elaborate on how to test this?
Also, would this issue be good for a begineer?
Thanks

[2020-03-18 14:30] povinsahu1909 commented on #16674
We can implement an MSE(Mean Square Method) and SSIM(Structural Similarity Index Measure) methods to compare the plot.

For calculating the similarity, we can pass the sample value for the reference figure instead of passing the whole reference figure which in turn will not increase the repository size.

Then passing the generated testing figure along with the sample value of reference figure to c

[2020-03-18 16:00] Arpan612 commented on #18891
@asmeurer @sylee957 I have used the view page source option of chrome and extracted the HTML of the documentation onto my code editor (Atom). Then I removed the bugs. Could you please tell me how to send a PR for my work? Or should I directly send the HTML file here?

[2020-03-18 16:05] sylee957 commented on #18891
Unfortunately, we don’t edit html files.
You should edit the respective rst or python source file which contains the docstring

[2020-03-18 16:08] smitgajjar commented on #18891
@Arpan612 That is not how it should be done! Just change the docstring of function `recognize_matrix_expression` codegen/array_utils.py

[2020-03-18 16:15] sylee957 commented on #16674
Yes. I have already done some in the test_plot_implicit.py.
I think that matplotlib provides some utilities for that.

[2020-03-18 18:01] Smit-create commented on #18730
Yes, I have designed a similar approach.

[2020-03-18 18:17] smichr opened #18904 "`is_cnf(to_cnf(expr))` should be True"
As reported [here](https://stackoverflow.com/questions/60740347/sympy-logic-module-assertis-cnfto-cnfexpr-simplify-true-fails) there are expressions which are in cnf form which, when passed to `to_cnf` with `simplify=True` are returned in non-cnf form. This is a diff that addresses the issue:

[code]

cf #9949

[2020-03-18 18:25] sschnug commented on #18904
In regards to my example, i would restate:

- the input is dnf (or anything *not already cnf* in general)
- `to_cnf` is called and the output might still be non-cnf without any notification
    - e.g. due to early-stopping to counter exponential-time computation

[2020-03-18 18:33] smichr commented on #9949
If relational literals are replaced with symbols this works:
[code]

Perhaps the following diff is sufficient to solve this:
[code]

[2020-03-18 18:38] smichr commented on #18904
If no simplification is done and the expression is not in cnf form then it gets to here (with the diff I proposed):
[code]
Is that sufficient to guarantee that it will be in `cnf` form? If you have a counter example that fails with the diff -- and I suspect you can think of one faster than me -- please post it here.

[2020-03-18 19:12] czgdp1807 commented on #18269
Well, I just gave this another thought. IMHO, `crypto` can be removed. There is an awesome project on cryptography. See, https://pypi.org/project/cryptography/
Is there any to find out how many users actually use `crypto` module? Can we use the number of hits on the documentation of `sympy.crypto` web page. If not many people are there using it then we can proceed deprecating it.

[2020-03-18 19:18] sschnug commented on #18904
I'm not sure if we focus on the same issues here.

Following my initial surprise to see `is_cnf(to_cnf(expr, simplify=True))` fails silently, the diff *looks* (i don't know much about sympy and i did not try it) like it shifts this towards:

- cnf is guaranteed to be returned (note: see part 2 of this comment)
- but the failing of simplification is now the hidden / silent characteristic
    - befo

[2020-03-18 19:20] Smit-create commented on #18730
I will be implementing the following diff in a new file named `mixture_rv.py`

[code]
Examples:
[code]

[2020-03-18 19:29] wdjoyner commented on #18269
On Wed, Mar 18, 2020 at 3:12 PM Gagandeep Singh <notifications@github.com>
wrote:

I'm not voting for or against. I just want to point out that these two
modules are
disjoint. They are on totally different aspects of cryptography. A third one
is here: https://github.com/jameslyons/pycipher/tree/master/pycipher

[2020-03-18 19:44] sylee957 commented on #18901
I think that it's better to force y range to [0, 2a] if it's a constant expression
For example wolfram does that https://www.wolframalpha.com/input/?i=Plot%5B3%2C+%7Bx%2C+-1%2C+1%7D%5D

[2020-03-18 19:47] smitgajjar opened #18906 "No usage of constructor argument "name" in CCodeConverter class"
In `CCodeConverter` class of `c_parser.py` module, constructer argument "name" is not used in any instance variables or methods. So, it can be removed.

[https://github.com/sympy/sympy/blob/0d77d28d1be6758d8d921068c7d54e32befe11b3/sympy/parsing/c/c_parser.py#L83-L87](https://github.com/sympy/sympy/blob/0d77d28d1be6758d8d921068c7d54e32befe11b3/sympy/parsing/c/c_parser.py#L83-L87)

[2020-03-18 20:17] asmeurer commented on #18269
modules are
disjoint. They are on totally different aspects of cryptography.

Yes, `cryptography` is a great module if you want to implement actual cryptography for a real-life application. In fact, we already recommend it at [the top of the crypto docs](https://docs.sympy.org/latest/modules/crypto.html).

However, insomuch as the `sympy.crypto` module serves to have example implementations of cry

[2020-03-18 20:31] asmeurer opened #18907 "minpoly based simplify function"
We should have a simplification function that simplifies algebraic numbers and algebraic functions by using minpoly. It will work well in any case where the expression reduces down to a very simple expression. This has been mentioned in some other issues (search the tracker for "minpoly"), but I don't think we have a real issue for it.

In particular, if the minimal polynomial is linear or constan

[2020-03-18 20:39] asmeurer commented on #18907
A concern with this for algebraic functions is that produces functions that are algebraically equivalent, but may not be functionally equivalent due to different branch cuts. For example

[code]

I don't know if there is a way around that, or we should just have it as a caveat.

As far as getting the right root for higher degrees, we can use something like this

[code]

This shows that `s[0]` is t

[2020-03-18 20:44] oscarbenjamin commented on #18907
Is it necessary to find the roots of the monpoly or can something like `ratsimpmodprime` be used with the minpoly like in https://github.com/sympy/sympy/issues/15753#issuecomment-595999499

[2020-03-18 20:45] oscarbenjamin commented on #18907
Maybe this could also work for `RootOf` as well

[2020-03-18 20:59] oscarbenjamin commented on #18885
Apparently zero has no numerator key:
[code]
So I've ended up with
[code]

[2020-03-18 21:21] asmeurer commented on #18907
Indeed, perhaps that is a better approach. We should definitely use it because it will work even for the cases where root finding does not.

I was hoping that this could also work to do something akin to sqrtdenest, but it seems our root finding algorithms don't do a great job there.

[code]

But I think in theory at least the roots from solve could be simpler. I don't know if ratsimpmodprime  wou

[2020-03-18 22:04] oscarbenjamin commented on #18907
When trying out `ratsimpmodprime` I did also find that it is quite slow

[2020-03-18 23:14] asmeurer commented on #18904
We do have some ideas about Tseitin (https://github.com/sympy/sympy/issues/7174). As it is now to_cnf should just attempt the transformation without worrying about whether it will cause expression blowup.

Regarding satisfiable() being inefficient with expressions that are already in DNF, I thought I remembered there being an issue about this, but I don't see it. I think satisfiable should recurse

[2020-03-18 23:46] oscarbenjamin commented on #18885
Okay that seems to work. I have one question left though:

The documentation for this part of sympy is sparse...

[2020-03-19 01:47] #18689 closed

[2020-03-19 04:14] mcpl-sympy commented on #18898
Seems like it should replace `Subs` in sime cases, as `Derivative` does...

[2020-03-19 07:50] jksuom commented on #18885
I'm not sure what `e` is but I assume that it is a constant element of rational fraction field with non-zero generators. It will then be different from `e2` that is an element of an algebraic field even if it may be numerically equal. I think that this is how structural equality == is expected to work. It is necessary to have explicit conversions if different fields are to be handled together.

[2020-03-19 09:27] mohitacecode commented on #7127
ping @sylee957

[2020-03-19 10:02] mohitacecode commented on #7127
I want to ask few things:
1.)will these class suffice for this issue?(since a*G and G*a just means left or right coset.
2.) what about these options will they be needed after the class is made.?

[2020-03-19 10:58] oscarbenjamin commented on #18885
The `e` there is just `e1`.
[code]
I had thought that elements of these domains would have a unique canonical representation so that any two equivalent elements would compare equal and zero testing would be trivial. It seems that there can be multiple distinct but mathematically equivalent elements so my assumption was incorrect. That is fine though: my question is about the zero testing.

Can I a

[2020-03-19 11:25] jksuom commented on #18885
I think that this holds for all domains except `EX` so there should be a `__bool__` defined for them and that can be expected to be reliable.

[2020-03-19 12:01] oscarbenjamin commented on #18885
Are there any cases in which sfield will give the EX domain? It seems to just make non-poly expressions become generators:
[code]

For the zero testing there are two issues. One is the distinction between possibly zero or identically zero e.g.:
[code]
Here the expression `x` (symbol) is possibly zero so `is_zero` gives None. Using bool on domain elements gives True or False where the False matches

[2020-03-19 12:38] jksuom commented on #18885
I am not aware of such cases unless `domain=EX` is given.

Maybe something like `f.numer.degrees() == f.numer.ring.zero_monom` and the same for denom.
This also means that `f` contains no generators.

This is a weak point of the implementation. There is no indication that there is an algebraic relationship between the generators of `sfield([x, sqrt(x)])`. It is entirely up to the user to take care

[2020-03-19 15:07] Sc0rpi0n101 commented on #18906
Sure, if it's not used anywhere, it can be removed

[2020-03-19 15:34] Saanidhyavats commented on #16350
@mloubout I am getting the following 2 errors:
a)`TypeError: object.__new__(X): X is not a type object (exp)`
b)`variable_count = cls._sort_variable_count(variable_count)
AttributeError: 'f' object has no attribute '_sort_variable_count`
can you guide me on it as I am unable to rectify the problem

[2020-03-19 15:50] smitgajjar commented on #18906
Okay, I'll make a PR for that soon!

[2020-03-19 17:48] sylee957 commented on #7127
Once the class is done to be representing some lazy evaluation of coset, then the stuff that I've enumerated should be implemented as computational methods inside the classes in any way.

The obvious computational things that would jump in are:

1. Writing `aG -> FiniteSet` to list all the elements
2. Finding isomorphic permutation group of the coset when it's possible
3. Finding a new representat

[2020-03-19 18:10] czgdp1807 commented on #18625
The following hangs,
https://github.com/sympy/sympy/blob/5b92c4497fcc6f1df4aac23b9c001ff323ffb421/sympy/matrices/eigen.py#L600
Try out,
[code]

[2020-03-19 20:26] #18906 closed

[2020-03-19 20:37] #12369 closed

[2020-03-20 01:15] #17396 closed

[2020-03-20 01:40] #18850 closed

[2020-03-20 06:45] Asingh421 opened #18914 "The output of differentiation file in examples directory is not in right format"
in place of expected dot symbol a different symbol is coming on running differentiation file in examples directory in windows 10 command prompt(screenshot is attached).
![Screenshot (40)](https://user-images.githubusercontent.com/48217430/77141893-6b8ffa00-6aa4-11ea-9605-983b614df497.png)

[2020-03-20 08:50] sylee957 commented on #18914
I think that it's a unicode issue from the prompt.

[2020-03-20 10:18] Arpan612 commented on #18889
@PierreQuentel Sir is there any other problem Brython faces or can we close this issue?

[2020-03-20 11:20] PierreQuentel commented on #18889
@Arpan612
If I understand correctly, there are no solutions to the problems Brython faces, so it's no use leaving the issue open. Thanks for the feedback anyway !

[2020-03-20 11:20] #18889 closed

[2020-03-20 11:34] Arpan612 commented on #18889
Very respectfully, Sir, I believe if we work on the lines we have discussed above, some aspects of the problem can be resolved. If I find a better solution to this problem I will definitely inform you.

[2020-03-20 12:34] smichr opened #18915 "clarify minlex docstring"
It is not clear in in the `minlex` docstring that the result is the *rotation* (and perhaps reversal) giving the smallest elements first that is sought.

Perhaps "Return a tuple obtained by rotations of ``seq`` which puts the smallest elements first. If ``directed`` is..."
[code]

[2020-03-20 13:32] fh9g12 opened #18916 "No option to use Common Sub-expression Detection in 'lambdify'"
This is less an issue and more a question / potential lack of understanding on my part. And I thought this was probably the best Forum for it....

A bit of context - I am using Sympy to build up the equations of motion of a flexible multi-link manipulator. As part of this I have matrices with a lot of sin / cos evaluations.

When numerically integrating my system that largest bottleneck was in eva

[2020-03-20 15:11] moorepants commented on #18916
This is a desired feature. I think the main hurdle was that lambdify produced lambda functions and we'd need to produced proper functions to take advantage of intermediate expressions. Your monkey patch does this, but to make it universal there is likely some more work to be done for a patch to introduce this feature.

[2020-03-20 15:56] mohitacecode commented on #7127
Thanks @sylee957  I got it.
Just a quick question I saw that gap does not provide leftcoset as a seprate datatype they say that left coset gU consists of exactly the inverses of the elements of the right coset.
Should we consider that as a option too?

[2020-03-20 17:37] czgdp1807 commented on #13842
It looks like the issue is still not resolved in `master`.

[2020-03-20 18:06] czgdp1807 commented on #13612
The issue still persists on `master`.

[2020-03-20 18:13] asmeurer commented on #18882
@Arpan612 you can try fixing it. You should be careful about potential performance issues, as I mentioned. If you do fix it, a PR is useful, even if it's just a work in progress.

[2020-03-20 18:40] sylee957 commented on #7127
I think that it can also make sense to have a single coset representative that can accept both arguments.

- `Coset(g, H)`
- `Coset(H, g)`

And making `Coset(H, g) => Coset(g**-1, H)` automatically canonicalized.

I may also think of dropping the third argument `G` if creating symmetric group every time can be time consuming. I think that coset needs some universe to be well-defined. But I'd expec

[2020-03-20 19:01] smitgajjar opened #18917 "(suggestion) Refactor code for NotImplementedError to avoid revealing code in traceback"
Consider the following:
<pre>
In [1]: from sympy.parsing.sym_expr import SymPyExpression

In [2]: src = """
   ...: char a='2';
   ...: """

In [3]: a=SymPyExpression(src, 'c')
---------------------------------------------------------------------------
NotImplementedError                       Traceback (most recent call last)
<ipython-input-3-a8a3005726bd> in <module>
----> 1 a=SymPyExpression(sr

[2020-03-20 22:46] asmeurer commented on #18889
I'm not sure if we can do much to reduce the number of loaded modules. It might be possible to play with lazy loading libraries like https://github.com/xonsh/lazyasd. I don't know if anyone has ever attempted such a thing with SymPy. Of course, once someone uses a function that requires a given object, it would have to be loaded.

[2020-03-21 02:05] oscarbenjamin commented on #18889
I think we should try to reduce the number of loaded modules in general. It is a problem that it isn't possible to `import sympy` without importing *everything*. It is a problem for CPython as well as Brython because importing sympy is relatively slow in CPython as well.

Fixing that would require a fundamental backwards incompatible change in approach though. Right now almost all public API is av

[2020-03-21 04:05] sylee957 commented on #18917
What is the advantage of showing a subset of traceback than the full traceback?
I don't think that this is more useful for a debugging purpose, because seeing where the function is being called is often useful.

And as you have noted, even if you change every error, not every commits can follow up the rule in the future and it will be more and more complicated.

[2020-03-21 06:39] asmeurer commented on #18916
We already produce proper functions, so this shouldn't be too hard to implement.

[2020-03-21 07:13] prshnt19 opened #18919 "plot() returns plot with vague values in y-axis"
[code]
[code]

[code]

[2020-03-21 07:51] sylee957 commented on #18919
I think that this is an issue of the default setting for textplot.
Textplot sets `H=18`, but I think that it should better be set into an odd number.

[2020-03-21 08:16] smichr commented on #16837
There is a method given for solving two quadratic/conic expressions [here](https://en.wikipedia.org/wiki/Conic_section#Intersecting_two_conics).

[2020-03-21 08:37] prshnt19 commented on #18919
Setting `H=19` gives slightly better result in some cases only. In other cases, the problem persists. I think a better approach would be, rounding off the y-axis values according to the range.  And plotting at middle of the y-axis.
[code]
[code]
[code]
I think there should be a line for the x-axis. It looks better.

[2020-03-21 08:54] sylee957 commented on #18919
Do you want to change how the values are displayed to be chosen from each bins arbitrarily?
I think that it can look unbalanced in your first example, if you have 10 spacing between 1 and zero, and 9 spacing between zero and -1.

I rather think that the plot should figure out better upper and lower limits, and the axis can be rounded to make a better display.
For example, I see the y-limit for the

[2020-03-21 10:08] sylee957 commented on #16841
I think that this is called "Stieltjes Integral".
https://en.wikipedia.org/wiki/Riemann%E2%80%93Stieltjes_integral.

[2020-03-21 10:36] Smit-create opened #18920 "Incorrect plot of exponential expression"
While trying to add a plotting feature for the `stats` module, I found the following issue with plotting.
[code]
While plotting the density(X)(x), I got the following plot(in the below attached screenshot)
![IMG_20200321_160059](https://user-images.githubusercontent.com/55887635/77224667-ebde5a00-6b8d-11ea-94cb-7ac27b29e5f6.jpg)

[2020-03-21 10:49] Smit-create commented on #18730
@czgdp1807  While trying to add `density` and `cdf` plotting feature, I found many issues related to the plotting module as for eg. #18920. So should we go ahead or keep this for later when plotting becomes more robust.

[2020-03-21 10:54] Smit-create commented on #18718
ping @czgdp1807

[2020-03-21 11:51] fh9g12 commented on #18916
Is it worth me converting this into a pull request with the addtions below, or is this approach a little far off what a proper implementation would look like?

- use an actual infinite generator sequence and not one bounded to 100
- have a 'cse' key word argument in the lambdify method (default false), that when true would do the above reduction

[2020-03-21 13:30] moorepants commented on #18916
If you are willing to give it a shot it would be nice to see this. I'd start by seeing if your patch works with any of the lambdify related tests and then setting up some tests that would ensure that lambdify with and without cse give the same results for the different types of lambdify inputs.

[2020-03-21 14:03] sukop opened #18921 "ntheory/primetest/is_extra_strong_lucas_prp edge case"
In the cited paper "Frobenius Pseudoprimes" p. 876, the second condition on being an "extra strong" Lucas pseudoprime reads:

    V_{2^ts} ≡ 0 mod n, where 0 ≤ t < r-1

However, the code for [is_extra_strong_lucas_prp()](https://github.com/sympy/sympy/blob/126485017c60e249c21dd68c46f70ea7b0584e1e/sympy/ntheory/primetest.py#L401) reads:

    if V == 0:
        return True
    for r in range(1, s):

[2020-03-21 14:16] #9949 closed

[2020-03-21 14:16] #18904 closed

[2020-03-21 15:02] smitgajjar commented on #18917
I agree with your points, but I thought that in case, sympy is used in some production-level environment, it will be better not to show traceback, which is irrelevant for the end-user. (Also, if he/she doesn't understand the error, then he will feel that something is wrong with code!)

Anyways, your reasons seem more appropriate here, since sympy is mostly useful for educational and research purpo

[2020-03-21 15:02] #18917 closed

[2020-03-21 17:49] #16686 closed

[2020-03-21 18:33] smichr commented on #18920
For a function that has an asymptote, you want to only use enough y-range to capture the asymptotic approach of the function to the vertical line defining the asymptote. A way to quantify this is to show approximately a length of asymptote that is about 2-5 times the length of the region beween asymptotes. So for tan(x) in the range of 0 to 2pi a vertical range of between 6 - 15 is about right.

F

[2020-03-21 18:44] Saanidhyavats commented on #18482
@oscarbenjamin can you give some directions on how to start with it? I have gone through all the steps which is involved in calculating the above limit but unable to get the bug

[2020-03-21 19:04] #18919 closed

[2020-03-22 03:39] MaqOwais commented on #16428
I think this should also be closed as this task is already done!

[2020-03-22 04:50] tnzl opened #18926 "SinglePatternODESolver class can be inherited only by solvers of order 1 ODE"
At present, all the pattern matching based single ODE solvers that have been refactored into solver classes are for the first-order ODEs only.
https://github.com/sympy/sympy/blob/c770bc7ede4c22962bacce96bb2388e5df1c47b7/sympy/solvers/ode/single.py#L233-L234
This condition blocks the implementation of any second or higher-order single ODE solvers based on a pattern matching. This condition should b

[2020-03-22 05:05] progmatic-99 commented on #16234
is there any more work that needs to be done?

[2020-03-22 05:06] Arpan612 commented on #18915
def minlex(seq, directed=True, is_set=False, small=None):
" " "
"minlex" is used to put smaller elements first by rotation of the elements in a particular direction. Here our main objective is to place the smallest element possible at the start of the string.

"minlex" remembers a particular order in which elements are to be rotated and this order is followed if directed = 'True', which is by defa

[2020-03-22 05:25] Arpan612 commented on #18882
@asmeurer Understood sir. Could you please give me some insights on how to proceed with the problem?

[2020-03-22 07:18] Smit-create commented on #18901
@smichr The issue is not fixed yet. PR #18922 does fix for `default` backend. Please find the attached screenshots for both plots.
1. For default backend (not fixed)
![IMG_20200322_124355](https://user-images.githubusercontent.com/55887635/77244495-4c77a080-6c3b-11ea-98d6-c44ee765a394.jpg)

2. For text backend (fixed)
![IMG_20200322_124329](https://user-images.githubusercontent.com/55887635/772444

[2020-03-22 10:59] oscarbenjamin commented on #18926
The `SinglePatternOdeSolver` class is still a work in progress. It is expected that it will need to be modified as new subclasses are added.

[2020-03-22 13:15] tnzl commented on #18926
Thanks for the reply. I will open a PR to move condition to check order for `SinglePatternODESolver` to `_verify` and remove it from `_matches`.

[2020-03-22 13:50] mohitacecode commented on #18891
I think the PR will solve the issue.

[2020-03-22 14:04] mohitacecode commented on #18666
the files mentioned in the issues are already created you have to identify the test in test_matrices.py and test_commonmatrix.py and move them to their related test file. for example all the solvers related test should be transferred to test_solvers.py.

[2020-03-22 14:07] Arpan612 commented on #18666
@mohitacecode Is the function code on from the line 3021 to be sent to test_commonmatrix.py?

[2020-03-22 14:15] mohitacecode commented on #18666
I think `test_reductions.py` should be the file.(but still I am not sure).
You move the test you think should be moved and open a pr it will be easy to review all at once.

just for future reference : My humble opinion will not to delete comments from gitter,pr or any issue It will other person refering your comments invalid.

[2020-03-22 14:30] Arpan612 commented on #18666
Thanks a lot.

[2020-03-22 15:46] jashan498 commented on #18045
Yes, the sign conventions used in the two examples are wrong. Everything else seems to work just fine.
User can set any direction to positive as long as upward forces & clockwise moments have similar signs (please correct if Im worng). I recently saw a similar confusion about sign conventions [here](https://groups.google.com/d/msg/sympy/MhRJ1Ahl8i0/roNHvKt6AQAJ) in the mailing list.
 Maybe we shou

[2020-03-22 16:25] Psycho-Pirate commented on #18045
I will add it in the beam and beam problems docstrings.

[2020-03-22 17:44] Arpan612 commented on #18666
@sylee957 Please review my PR.

[2020-03-22 18:41] Arpan612 commented on #17428
@asmeurer Sir, I have worked out an algorithm to import all optional dependencies, however, I am not able to code it. Could you please give me an example where similar work has been done?

[2020-03-22 18:44] Arpan612 commented on #18869
@sylee957 Sir, could you please elaborate which work of @Pristine-Cat are you referring to?

[2020-03-22 22:50] #18674 closed

[2020-03-22 23:59] moorepants commented on #18045
Yes, a lucid explanation about how a user should deal with sign conventions would be a good thing to do first.

[2020-03-23 02:06] sylee957 opened #18933 "Multinomial coefficients"
I think that multinomial coefficient can be added
It won't be difficult, but the conflicting notations between mathematica and maple is making it confusing.

Some people prefer to use
- ![image](https://user-images.githubusercontent.com/34944973/77272609-f6673380-6cf4-11ea-911e-70d0526f4101.png)

while some other people prefer to use
- ![image](https://user-images.githubusercontent.com/34944973/77

[2020-03-23 07:26] Arpan612 commented on #18933
Sir, I would like to work on this issue. I will be sending a PR soon.

[2020-03-23 07:28] zerothi opened #18934 "Integral cannot be evaluated"
I cannot evaluate a simple integral

[code]
Now this seems like a simple integral, so I don't know if it is expected or not.

[2020-03-23 07:30] sylee957 commented on #18933
Yes, but I'd expect it to be presented as a `class multinomial(Function):` rather than loose function. I think that there are already lots of same stuff implemented for computing mutinomial only for integers, but only not as a symbolic function

[2020-03-23 07:32] Arpan612 commented on #18934
Are you getting the answer as "Integral(x/(exp(x) + 1), (x, -5, 0))" for the 2nd last line of your code?

[2020-03-23 07:34] zerothi commented on #18934
Yes :) sorry about the confusion

[2020-03-23 07:37] Arpan612 commented on #18934
No problem. Any other query or can we close this issue?

[2020-03-23 07:40] zerothi commented on #18934
Well, this was exactly my point. It seems that sympy should be able to handle this without any fine-control? Is this expected? For end users they may be surprised and search for a long time to findout that it can be circumvented.

The documentation of [integrate](https://docs.sympy.org/latest/modules/integrals/integrals.html#sympy.integrals.integrals.integrate) isn't particularly clear on end user

[2020-03-23 07:40] Arpan612 commented on #18933
Sure sir.

[2020-03-23 07:43] Arpan612 commented on #18934
Yes, I do understand. I have explored the issue and for now, this kind of behavior is expected. In fact, the starting point of my GSoC proposal is working on this module along with "Calculus" for improving it's speed and generating a better result.

[2020-03-23 07:45] zerothi commented on #18934
Thanks, so it is in the works.

Feel free to close this issue then. :)

[2020-03-23 07:45] Arpan612 commented on #18934
If I am given the opportunity to work, I will surely highlight this issue. Only you can close this issue. Please do it.

[2020-03-23 10:02] oscarbenjamin commented on #18934
I don't see why this has been closed so reopening.

The integrand does not have an elementary antiderivative:
[code]
However the result can be expressed in non-elementary functions. Wolfram alpha gives
https://www.wolframalpha.com/input/?i=integrate+x+%2F+%281%2B+exp%28x%29%29
which is
[code]
Ideally sympy's integrate would find that result.

[2020-03-23 10:09] zerothi commented on #18934
@oscarbenjamin thanks, I'll leave this open then. :)

[2020-03-23 10:20] Arpan612 commented on #18666
Sir, you said that these functions needed to be moved, that's why I sent that PR. Could you tell me which parts of the code need to be moved?

[2020-03-23 10:30] sylee957 commented on #18666
Well, I have only pointed to 17827 test, but not the ones below.
I think that only these can move to `test_reductions`
https://github.com/sympy/sympy/blob/a1fbd0066219a7a1d14d4d9024d8aeeb5cb8d51a/sympy/matrices/tests/test_matrices.py#L2618-L2655
https://github.com/sympy/sympy/blob/a1fbd0066219a7a1d14d4d9024d8aeeb5cb8d51a/sympy/matrices/tests/test_matrices.py#L3000-L3005

[2020-03-23 10:34] etaash commented on #15798
I would like to work on this

[2020-03-23 10:37] Arpan612 commented on #18921
Hi, I am working on this issue.

[2020-03-23 11:20] Saanidhyavats opened #18936 "Bug in refine_abs"
While solving #18681 I found that there is a bug in `refine_abs` function.

-x

The above example gives the correct result but on doing

2

which is not the correct answer.

[2020-03-23 12:58] Saanidhyavats commented on #18936
Closing this issue as refine uses sanitized inputs

[2020-03-23 12:58] #18936 closed

[2020-03-23 15:10] cod3monk opened #18937 "Canonical form of relational does not adhere to documentation"
[Documenation of `Relational.canonical`](https://docs.sympy.org/latest/modules/core.html#sympy.core.relational.Relational.canonical) says:

[code]

According to the documentation, I would expect the result of `canonical` to be the same as the original relational (`N*M - M - 1 <= 1`).

[2020-03-23 15:23] smichr commented on #18915
What about this further edit?
[code]

[2020-03-23 15:33] smichr commented on #18937
The docstring can be clarified:
[code]

[2020-03-23 15:35] smichr commented on #18937
Canonical sign extraction is determined by the `could_extract_minus_sign`:
[code]

[2020-03-23 15:59] Arpan612 commented on #18933
Except for integers, where all should multinomial be applicable?

[2020-03-23 16:03] trenta3 opened #18939 "Question: How to invert a real-valued function?"
Hi! I couldn't find a procedure to call for inverting a specified real-valued function.
For inverting I mean that it should return the different branches of the inverse, i.e. if I would ask it to invert $f(x) = x^2$ I would like to have returned $(g_1(y) = \sqrt{y}, y \in [0, \infty])$ and $(g_2(y) = - \sqrt{y}, y \in [0, \infty])$.

The "trick" of using solveset as in
[code]
seems not to specify

[2020-03-23 16:03] sylee957 commented on #18933
In the wolfram function repository, I see they are using a generalized definition using gamma functions. So it can be defined all over the complexes and differentiable.

And I already see that factorial or binomial in sympy are using the definition from gamma, so the definition from wolfram can be used.

[2020-03-23 16:03] Arpan612 commented on #18921
@sukop I have done some work on this code. Could you please send me a link to the cited paper you are talking about?

[2020-03-23 16:21] sukop commented on #18921
It's [the one](http://www.ams.org/journals/mcom/2001-70-234/S0025-5718-00-01197-2/) in the docstring [references](https://github.com/sympy/sympy/blob/126485017c60e249c21dd68c46f70ea7b0584e1e/sympy/ntheory/primetest.py#L421). Thanks!

[2020-03-23 16:36] Arpan612 commented on #18933
http://functions.wolfram.com/GammaBetaErf/Multinomial/02/
Sir, do you mean this one?

[2020-03-23 16:37] sylee957 commented on #18933
Yes

[2020-03-23 21:03] asmeurer commented on #11802
There are a few things that need to be done here:

- Supporting for doing evalf on derivatives should be added, using http://mpmath.org/doc/current/calculus/differentiation.html?highlight=diff#mpmath.diff
- For `zeta` specifically, the mpmath implementation supports evaluating the derivative via a third argument. We should support this directly, as it is likely mpmath uses a specialized derivative

[2020-03-23 21:04] asmeurer commented on #11802
Another thing is we should make sure `lambdify(modules='mpmath')` also works correctly for derivatives. Depending on how we implement them in evalf, this may happen automatically, or not.

[2020-03-23 21:52] asmeurer commented on #11802
Derivative support should be added for numpy as well using https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html

[2020-03-23 21:57] oscarbenjamin commented on #11802
The recursion error is explained above: https://github.com/sympy/sympy/issues/11802#issuecomment-488145110

[2020-03-24 01:40] MaqOwais commented on #18939
For invert see ([https://github.com/sympy/sympy/blob/70381f282f2d9d039da860e391fe51649df2779d/sympy/solvers/solveset.py#L176-L181](url)
(documentation part)

I think for more vivid solution , it's under development :)

[2020-03-24 04:30] #18937 closed

[2020-03-24 04:56] asmeurer commented on #11802
For lambdify, I think Derivative support has to be done in the printer. We can't do it via a replacement, because the function inside the derivative will be replaced with a numeric function which will evaluate to a numeric value. This also makes this very difficult to work around. You can only pass a custom Derivative to the modules if you know ahead of time what the Derivative will be, e.g., `{"D

[2020-03-24 06:01] jrexmo commented on #18708
Hey there, I was looking to get started on this, but I think it might require quite implementing a bit of machinery from representation theory (if we were going for full generality i.e. DFT for any finite group https://en.wikipedia.org/wiki/Fourier_transform_on_finite_groups) and I'm not quite sure that's what you had in mind. Let me know - thanks!

PS I am new to this community!

[2020-03-24 06:14] Arpan612 commented on #18921
I think using this should work

`for r in range(1, s):
    if V == 0:
        return True
    V = (V*V - 2) % n`

I wanted to implement something more but it is throwing an error. I will submit a PR for this bit for now as this looks correct. If I am able to implement the additional bit, I will submit another PR.

[2020-03-24 08:14] trenta3 commented on #18939
Thanks a lot for the reference to `sympy.solvers.solveset.invert_real`.
I think the best thing is that it does not return incorrect result with the Heaviside function, despite being not able to simplify it.

[2020-03-24 09:27] #18891 closed

[2020-03-24 16:17] asmeurer commented on #18939
You can also use plain `solve`. For Heaviside, I think it isn't implemented yet.

[2020-03-24 17:25] #16366 closed

[2020-03-24 18:10] Smit-create commented on #18718
It might be possible that if we move all the distributions to `sympy.stats` namespace, the import time of the module gets be affected. Please share your thoughts on the type of arguments to be passed into the function.

[2020-03-24 18:49] trenta3 commented on #18939
Actually, looking into the code I found the source of the error, so I would like to "promote" this issue to a bug report.
[code]

I manually executed the lines of the function solveset in the current main branch.
After skipping the first checks, the lines that are executed are:
https://github.com/sympy/sympy/blob/0e22875c62b221dceeca2c79150daf43113e7d7c/sympy/solvers/solveset.py#L2026-L2034
in whi

[2020-03-24 18:56] asmeurer commented on #18939
You're of course free to submit a pull request. I don't know what the fix should look like. Someone more familiar with the solvers code will have to comment.

[2020-03-25 00:21] oscarbenjamin commented on #18872
It seems this goes into a slow infinite recursion in manualintegrate. Interestingly if I interrupt the integration then on a second run it returned unevaluated in around 10 seconds:
[code]

[2020-03-25 05:00] sylee957 opened #18948 "90 degree rotation of matrix elements"
I think that transpose matrix elements clockwise is often given as a coding test problem.

![image](https://user-images.githubusercontent.com/34944973/77502452-42091100-6e9e-11ea-817a-af5e34b93b29.png)

I see lots of people approach this problem in naive or overly complicated way.

But I have found an article that gives the most rigorous solution about this.

https://blogs.sas.com/content/iml/2013

[2020-03-25 06:21] Arpan612 commented on #18948
I am working on it sir.

[2020-03-25 06:44] Arpan612 commented on #18948
@sylee957 Sir, the objective is to make a function for executing the 90-degree rotation task right?

[2020-03-25 06:52] sylee957 commented on #18948
Yes. I think that you can mimic the numpy API (except for axis if it is only for 2d array)

[2020-03-25 09:13] ashutosh1919 commented on #18920
@smichr and @sylee957 , I want to work on this issue. Can you please guide me?

[2020-03-25 09:48] iammosespaulr commented on #18948
@Arpan612 hey mate,are you done with this ?

[2020-03-25 09:48] ashutosh1919 commented on #18915
@smichr , I have modified docstring for minlex. Please review PR #18949 .

[2020-03-25 09:54] iammosespaulr commented on #18948
@sylee957 I can do this ... shall I add rot90 as a function and r90 as a property as well ?

[2020-03-25 09:57] Arpan612 commented on #18948
@iammosespaulr Hi friend, I am working on it. I humbly request you to solve some other issues as I claimed it first.

[2020-03-25 10:02] iammosespaulr commented on #18948
@Arpan612 sure ... It's just that it's been 5 hours ... I'll submit a pr ... you do too ... the sooner the better ... 🥂

[2020-03-25 10:05] Arpan612 commented on #18948
Could you please solve some other issue as I have already started the work here?

[2020-03-25 10:26] iammosespaulr commented on #18948
MKay ... I haven't submitted a pr ... go ahead ... I'll work on other issues 😄

[2020-03-25 10:30] sylee957 commented on #18948
The feedback I can give about the commit is that you can better define k=1, k=-1 to define clockwise and anticlockwise rotation.
And you can just apply the rotation iteratively if k=2 or more.
(I think that you only need to consider k=0, 1, 2, 3 because the rotation parameter can be taken into modulo-4)

[2020-03-25 10:32] iammosespaulr commented on #18948
Ohhh thanks @sylee957  ... I'll go ahead with that then.

[2020-03-25 10:42] iammosespaulr commented on #18948
Question ... what bout -2 , -3 and so on ... would iterative rotation in the anticlockwise direction be useful ?

[2020-03-25 10:45] sylee957 commented on #18948
You can fist take modulo operation like `-2 % 4`, `-3 % 4` and they simply fall into category of rotating clockwise 2 or 1 times.

[2020-03-25 10:47] iammosespaulr commented on #18948
Ha yes!! They do ... I'll add them too

[2020-03-25 10:50] sylee957 commented on #18948
I also think that there is no need to actually rotate two times for `k=2`, but you can use `A[::-1, ::-1]`

[2020-03-25 11:16] Arpan612 commented on #18948
@sylee957 Sir, since I claimed this issue first, please give me the first chance to submit a PR.

[2020-03-25 11:26] sylee957 commented on #18948
Unfortunately, we don’t assign issues to specific person, but someone who come up with working patch first.
If the patch gets stalled, you can grab on. But in my opinion, you have other PRs to complete.

[2020-03-25 11:34] Arpan612 commented on #18948
@sylee957 Okay Sir.Please review my PR.

[2020-03-25 11:37] sylee957 commented on #18948
I think that you should agree on who’s going to continue the work or not

[2020-03-25 11:40] sylee957 commented on #18948
Or maybe I can just deal with the conflict by making a new patch myself adding the author information of you too if you request

[2020-03-25 11:42] iammosespaulr commented on #18948
@sylee957 I've added the tests as well ...

[2020-03-25 11:43] iammosespaulr commented on #18948
@sylee957 I only took this issue because it was stagnant for over 5 hours ... I leave it up to you, to choose which PR to merge ... 😄

[2020-03-25 11:45] Arpan612 commented on #18948
@iammosespaulr Oh, don't worry. There are many issues open for over a year.

[2020-03-25 11:45] Arpan612 commented on #18948
@iammosespaulr So may I work on the issue please?

[2020-03-25 11:51] iammosespaulr commented on #18948
@Arpan612 you might wanna consider this tho ...

[2020-03-25 11:52] Arpan612 commented on #18948
I think it is best that @sylee957 sir does this and gives the credit to both of us as we both have done the work. What say? @iammosespaulr

[2020-03-25 11:55] iammosespaulr commented on #18933
@Arpan612 you haven't submitted any pr for this one either ... smh ...

[2020-03-25 12:29] iammosespaulr commented on #18933
@sylee957 would it be preferred to write the Multinomial from scratch or just implement it as a product of binomials ?

[2020-03-25 12:31] Arpan612 commented on #18933
@iammosespaulr I am working on it. I will send a PR in a few hours. Please do not attempt it. There are more than 2900 unclaimed issues. Please work on it.

[2020-03-25 12:34] iammosespaulr commented on #18933
@Arpan612 I am sorry .... but this issue has been left open for 2 days ... just because you are working on it doesn't mean that I shouldn't ... if you complete it send a PR ... and If I complete it first I will do so ...

[2020-03-25 12:39] sylee957 commented on #18933
In my opinion, I'd just implement it from scratch because expanding a multinomial into a product of binomials may not have a unique representation.
But the computation can be done internally by that.

[2020-03-25 12:40] Arpan612 commented on #18933
@iammosespaulr Now please allow me to work on this. @sylee957 I request you to make it clear now that only I will be working on this. I will submit a final PR in a few hours.

[2020-03-25 12:41] iammosespaulr commented on #18933
beautiful ... okay then

[2020-03-25 12:43] Arpan612 commented on #18933
@iammosespaulr You are intentionally trying to create a conflict by taking up claimed issues when you can work on unclaimed ones. I believe you have joined this organization today. Please do not treat your fellow contributors in this manner. @sylee957 @asmeurer @czgdp1807 Please look into his unruly behavior.

[2020-03-25 12:46] iammosespaulr commented on #18933
@Arpan612 I don't think that there is such thing as 'claiming issues' ... everyone is free to work on improving code and the code which the admins see fit, is merged. I don't have any conflict with you.

[2020-03-25 12:48] Arpan612 commented on #18933
@iammosespaulr Working simultaneously on the same issue creates unnecessary tension, someone with prior experience of open source will know. And as @sylee957 said, the one who submits a PR first should have the full right to work on it. So, you will look for another issue now if you actually do not want conflicts.

[2020-03-25 12:51] Arpan612 commented on #18933
@iammosespaulr If no other issues existed, working on the same issue makes sense. But as I said, more than 2900 issues are there which are unclaimed/abandoned for weeks. Please feel free to contribute there.

[2020-03-25 12:55] iammosespaulr commented on #18933
let's just agree to disagree.

[2020-03-25 13:00] abhinav28071999 commented on #18933
@Arpan612 If i am not wrong then by your logic, #18950  should be preferred against #18951 cause @iammosespaulr submitted the pr first. ?????

[2020-03-25 13:03] Arpan612 commented on #18933
@abhinav28071999 It is common courtesy to allow a person who has claimed an issue just "5 hours" ago to give at least a day. Even more, a reason to leave the issue is when the person immediately says he is working.

[2020-03-25 13:13] abhinav28071999 commented on #18933
As far as i know there is no claiming of issues in Sympy. If you like an issue and if there is no ongoing PR fixing it then anyone can take it. You might say that you claimed an issue but who knows someone else might be already working on it and  didn't bother to send a claiming msg. So it's better that if anyone want to take up an issue then submit a pr for fixing it first otherwise you could hel

[2020-03-25 13:16] czgdp1807 commented on #18933
Please try to avoid off topic discussions. Some comments here were not relevant to the issue and hence are marked hidden. Even this comment is not going to solve the issue in any way but it has to be made to clarify things.

[2020-03-25 13:53] ashutosh1919 commented on #18915
@smichr , Please close this issue if #18949 has resolved it.

[2020-03-25 14:03] iammosespaulr commented on #18933
@sylee957 what about printing multinomials ... like print_binomial in latex.py and mathml.py ?

[2020-03-25 14:08] ashutosh1919 commented on #18830
@death-angel-141 , can you provide URL for the doc? I want to work on this issue.

[2020-03-25 14:15] czgdp1807 commented on #18933
I think this is better than other options as it isn't redundant, won't require, `n = Sum(k1, k2, k3, k4, ..., kn)`.

[2020-03-25 14:19] czgdp1807 commented on #18933
And binomial coefficients are multinomial coefficients. So, if they both are represented by classes then former should inherit the later.

[2020-03-25 14:20] iammosespaulr commented on #18933
That's what I asked @sylee957 ... but he was talking about writing one from scratch ...

But the computation can be done internally by dispatching them to binomials.

[2020-03-25 14:21] iammosespaulr commented on #18933
But I guess this a better chance at generalisation ... doesn't it ?

[2020-03-25 14:23] czgdp1807 commented on #18933
We can inherit `multinomial` in `binomial`. If `binomial` is already there then current APIs for `binomial` shouldn't break. If not then may be wen can go with the first option given by @sylee957 in the OP.

[2020-03-25 14:25] iammosespaulr commented on #18933
Okey 👍

[2020-03-25 14:28] czgdp1807 commented on #18933
Though I am not sure which design scheme should be followed. I think that, having general classes subclassed in specialised classes help in getting things done with little code. Like, a truck is a vehicle so we should go for vehicle being subclassed in truck. Though if there is any other compelling reason to do the reverse then that should be presented here.

[2020-03-25 14:29] sylee957 commented on #18933
When inheriting the class, the args structure must be coherent or other issues can arise.

I agree that multinomial without n looks better. However, it can make more difficult to keep the consistent structure with classes, so they should not inherit each other.

But I’d rather have other ideas like Binomial automatically evaluate to multinomial and keep binomial a stub class for notational purpose

[2020-03-25 14:32] czgdp1807 commented on #18933
I see, `binomial` is already there. May be then API for binomial can be extended to multinomial as well so that the consistency is maintained. It would be better if they both are compatible with each other.

[2020-03-25 14:34] Arpan612 commented on #18933
So can we use the binomial class then?

[2020-03-25 14:35] czgdp1807 commented on #18933
Can you please elaborate more on your question?

[2020-03-25 14:37] Arpan612 commented on #18933
Could we implement the multinomial coefficient as a function or it is necessary to construct a separate class for it?

[2020-03-25 14:41] czgdp1807 commented on #18933
I think that the APIs for `binomial` and `multinomial` should be similar with inter operability.

[2020-03-25 14:41] Arpan612 commented on #18933
Sure sir.

[2020-03-25 14:49] sylee957 commented on #18933
The only thing I'm concerned of making multinomial similar to binomial is that we will eventually see
![image](https://user-images.githubusercontent.com/34944973/77548923-89b98800-6ef2-11ea-97f8-4d61bc432326.png) and having to derive all the formula about it

[2020-03-25 15:02] czgdp1807 commented on #18933
IMHO, this isn't a really good representation. It is redundant, self-correcting i.e., if k1, k2, k3, k4, ...kn sum less than `n` then the last term in the denominator will correct that mistake. So, I think, what we can do to ensure inter operability between the two is if we want to represent `binomial(n, k)` in terms of `multinomial` by `multinomial(k, n-k)`. Actually `nCk` is very popular as `bin

[2020-03-25 15:09] czgdp1807 commented on #18933
Just for clarification, by similarity I mean that functions provided by `multinomial` and `binomial` should be same. Making them exactly same would not be possible due to the reasons mentioned above. Please don't this point wrongly. Inter operation is what matters more IMO.

[2020-03-25 16:56] trenta3 commented on #18939
Yes, I will wait for someone who known the solvers code to answer.
In the meanwhile I substituted the `return EmptySet` line in
https://github.com/sympy/sympy/blob/0e22875c62b221dceeca2c79150daf43113e7d7c/sympy/solvers/solveset.py#L915-L918
with a `return ConditionSet(symbol, Eq(f, 0), domain)` and no test broke.

It should now only be a matter of deciding how to return such results as sets, since

[2020-03-25 16:59] oscarbenjamin commented on #18933
I think it is okay for subclasses to have different args. The important thing is that code should access properties rather than accessing the args directly. Then a subclass that changes the args structure just needs to override the properties that access the args.

[2020-03-25 17:04] Arpan612 commented on #18933
@czgdp1807 @oscarbenjamin Could you please go through my PR?

[2020-03-25 18:14] iammosespaulr commented on #18933
[code]
I've been working on this ... is this close to what you were expecting @sylee957 @czgdp1807 @oscarbenjamin

[2020-03-25 18:16] rikardn opened #18955 "is_positive_definite gives wrong result"
The is_positive_definite does not always give a result. In the example below with a 4x4 matrix, which numpy can demonstrate is posdef, sympy returns neither False nor True but None. None is interpreted as False in an if statement and the result thus becomes wrong.

[code]

[2020-03-25 18:23] Davide-sd opened #18956 "Addition of tensor and matrix with same shape"
Little example:

[code]

[code]

Whereas:

[code]

works as expected.

[2020-03-25 19:52] czgdp1807 commented on #18933
IMO, it looks fine to me. Can you please make a PR to show whatever you have written for `multinomial`. I am not sure if multiple PRs are allowed but it is fine to make one, the better one can be kept.

[2020-03-25 19:53] czgdp1807 commented on #18933
@iammosespaulr

[2020-03-25 20:08] iammosespaulr commented on #18933
I'll submit a pr ... in 6-7 hrs or so. I'm soo sleepy , btw I am yet to add support for expanding the expression and for .eval , the rest are almost done @czgdp1807

[2020-03-25 20:19] abhinav28071999 commented on #18955
Just a  question, if a matrix is positive_definite the its eigen values should be positive. If the eigenvalues are complex then does it also require the imaginary part to be positive or not?

[2020-03-25 20:37] abhinav28071999 commented on #18955
The problem is when `is_definite` is used then sympy calculate the eigenvalues of the matrix, and in this case it seems to be too complex.   When i do evalf of the eigenvals it gives
0.0351585880190815 - 2.83824441184299e-30*I ... , But this imaginary part should not be here.
Instead of using eigenvalues we can use pivots of the matrix to determine if it's positive definite or not. Calculating  ei

[2020-03-25 21:58] oscarbenjamin commented on #18956
Instead of raising `TypeError` it should return `NotImplemented`. Both examples should raise though so `Matrix.__add__` should also return `NotImplemented`.

[2020-03-25 21:58] #18915 closed

[2020-03-25 22:03] oscarbenjamin commented on #18955
For the matrix to be positive definite the eigenvalues have to be real and positive.

[2020-03-25 22:20] amitkumarj441 commented on #18898
@mcpl-sympy You want something like below ones:point_down::point_down: ?
In [23]: Integral(x*y, (y,1,2))
Out[23]:
2
⌠
⎮ x⋅y dy
⌡
1

In [24]: Integral(f1(x,y), (y,1,2))
Out[24]:
2
⌠
⎮ f₁(x, y) dy
⌡
1

[2020-03-25 23:12] amitkumarj441 commented on #18060
@oscarbenjamin @maurogaravello What if we return the antiderivative just as it is:point_down: ?
[code]

[2020-03-26 01:28] smichr opened #18959 "give `digits` a `bits` argument"
Like `ibin`, I think a `bits` argument could be added to `digits` so the length would be padded with 0s if necessary to reach the given bit length:
[code]
Tests, too, should be added.

[2020-03-26 02:31] sylee957 commented on #18933
The framework I'd begin with is

[code]
Actually, when following the sympy `Function` framework, I don't think that it's easy to access parameters via properties because it uses classmethod to evaluate. And other things like sorting the `k` is not easy with this framework.

[2020-03-26 02:44] sylee957 commented on #18959
I don't think that it is necessarily needed because zero padding can be completely done after getting the digits. If it introduces more efficiency of doing this, it can be fine, but I don't think that your given example is different than just padding posteriori.

[2020-03-26 03:35] iammosespaulr commented on #18933
@sylee957 I wrote something similar to that ... but It was just using gamma

[2020-03-26 03:45] sylee957 commented on #18933
For integers only, it’s better to use factorials

[2020-03-26 03:46] iammosespaulr commented on #18933
Yes!

[2020-03-26 04:57] iammosespaulr commented on #18933
@sylee957 @czgdp1807 I've drafted a PR ... lmk what you think.

[2020-03-26 05:36] sylee957 commented on #18955
I don't think that it is a completely wrong result because at least it returns fuzzy `None`, but the problem is that the matrix returns complicated expressions that makes sympy undecidable whether the result is positive or negative.
(I'd claim that testing `real` is redundant since you should assume all the eigenvalues to be real if the matrix is symmetric)

I think that there are different ways t

[2020-03-26 05:55] Arpan612 commented on #18959
@sylee957 @smichr Are the changes sufficient or is something else needed as well?

[2020-03-26 06:12] sylee957 commented on #18956
I think that one of the problem in the sympy codebase are there are so many different array classes inter-operating well.
I may have different ideas like `Matrix + Array` should always return `Array` if it is two dimensional.

[2020-03-26 06:28] sylee957 commented on #18955
And usually, I'd use `x is False` instead of `not x` if you cannot expect that the problem can be decidable to True, False perfectly in sympy.

[2020-03-26 07:38] rikardn commented on #18955
Thanks @sylee957 for pointing out that None as a return value means that sympy couldn't determine the definiteness. I wasn't able to find that information in the documentation though.

Since this case is purely numeric you would expect a True or False result.

The sympy cholesky give:

[code]

But I don't know how good the symbolic cholesky is for more general cases

[2020-03-26 07:54] sylee957 commented on #18955
I see determining positive-definiteness by pivoting is equivalent to
- Testing positive-definiteness by evaluating all the principal minor determinants
- Testing positive when performing cholesky decomposition

Because division-free gaussian elimination may reveal the determinant of principal minors alongside the diagonals. (Though I'm not sure how to make this generalized for testing positive-sem

[2020-03-26 08:25] czgdp1807 commented on #17683
Hi @certik @asmeurer
I would like to add these two policies to SymPy wiki. Please let me know if it's okay to add them. I have been applying these two, to one of my projects and they seem work out pretty well but suggestions are welcome for making them better.

**Pull Request Policy**
[code]

**Issue Policy**
[code]

Both of these policies are also available at the wiki of the project where I am a

[2020-03-26 08:40] sylee957 commented on #18548
I think that it is also possible to force push to each author's PRs (if I have moderator access) or open up a complete new PR with squashed commit (for anyone) just to achieve same thing, if the author is not able or willing to squash himself.

So actually, not having a squash option also does not prevent squashing entirely.

[2020-03-26 10:52] harshavardhan-99 commented on #17302
As mentioned in the report by the previous Gsoc student, i would like to extend the truss class to create symbolic truss class. Could someone explain to me the scope of the module? I would like to include in my proposal for this year's project.

[2020-03-26 11:00] maurogaravello commented on #18060
It seems to me that it is the result SymPy already returns. In the case `x < -1`, it is not correct.

[2020-03-26 12:33] sylee957 commented on #18933
From the wolfram's source, mutinomial is undefined when `n` is negative integer (Because the gamma and factorial gets division of infinity by infinity) So when this is encountered, it should raise an error.

![image](https://user-images.githubusercontent.com/34944973/77647002-ff802b00-6fa8-11ea-93cb-6e22e57205f6.png)

[2020-03-26 13:58] iammosespaulr commented on #18933
Yeahh. I've removed test cases where n is negative. I'll add a check too.

[2020-03-26 13:59] Arpan612 commented on #18933
@sylee957 Okay sir.

[2020-03-26 14:12] oscarbenjamin commented on #17683
The wording is ambiguous e.g. "If any maintainer responds positively then they can start the work according to the requirement of the issue."

I don't think any permission should be needed to start working on something. I think it would be clearer just to say that anyone is free to work on any issue at any time. The problem with two people working on the same thing is that it is a duplication of e

[2020-03-26 17:11] smichr opened #18963 "`ibin` should raise OverflowError if too few bits are requested; negative arg"
Currently, `sympy.utilitities.iterables.ibin` passes silently, returning all bits of a number even if the requested bit length is too small. The user can omit the `bits` argument to get all bits; they should be warned if they request a certain length and the number has more than that many bits since this could indicate a logical error in their code.  e.g. 3 bits are required but the user specified

[2020-03-26 17:13] asmeurer commented on #18548
The bot now warns on added/deleted files as discussed above, and despite a lot of false positives, it has helped catch this sort of thing.  I wonder if we can extend it any further to help with this. Maybe detect commit messages that look very low quality and request they be improved?

[2020-03-26 17:14] asmeurer commented on #18907
I believe that's because it uses Groebner bases, which can be slow. I don't know if minpoly can be slow in more complicated cases as well, but unless I am misremembering it doesn't use Groebner.

[2020-03-26 18:39] Arpan612 commented on #18933
@sylee957 @czgdp1807 Sir, I believe my version of the PR is slightly better. Also, I have squashed the commits for easy readability. Due to the squash, checks are been performed all over again. I request you to wait for some time.

[2020-03-26 23:50] Psycho-Pirate opened #18964 "Inconsistencies in draw function of beam class"
In Sympy continuum mechanics Beam Class, the draw function produces wrong diagrams.
`E, I = symbols('E, I')`
`b = Beam(10, E, I)`
`b.apply_support(0,'pin')`
`b.apply_support(8.3, 'roller')`
`b.apply_load(-1, 2, 2)`
`b.apply_load(-2, 4, -2)`
`b.apply_load(3, 6.3, -1)`
`b.draw().show()`
![image](https://user-images.githubusercontent.com/50932406/77707099-26ab1c80-6fea-11ea-9325-0d6f0f20a310.png)

He

[2020-03-27 00:55] #18948 closed

[2020-03-27 00:56] moorepants commented on #18964
The draw function has to assume a sign convention for forces and moments, independent conventions for each. It might be better to have a documented default sign conventions for the draw function and also let the user optionally set them to the sign conventions they've chosen to describe their problem in.

[2020-03-27 07:05] #18921 closed

[2020-03-27 07:57] sukop commented on #18921
Thank you!

[2020-03-27 08:03] Arpan612 commented on #18921
Glad to help! :)

[2020-03-27 08:11] sylee957 commented on #18955
I made a new framework about this using division free gaussian elimination.
And I think that it would be mostly faster than computing the eigenvalues because computing eigenvalues would already involve computing determinants. c15f945406b6c344cc9c9a9e706daa5fcb671ecd
Though there are some cases where computing eigenvalues can be economical, like triangular matrix. So I'm only going to push the chan

[2020-03-27 08:21] Arpan612 commented on #18933
@sylee957 @czgdp1807 Please review and merge PR #18952

[2020-03-27 10:01] oscarbenjamin opened #18965 "linear_eq_to_matrix is slow for a large sparse system of equations"
This is from stackoverflow:
https://stackoverflow.com/questions/60879706/sympy-solve-linear-system-of-equations

In this example `linear_eq_to_matrix` takes a long time:
[code]
Interrupting I find that the call to `eq.has(*syms)` is slow. This is because it `eq` only has two symbols but `syms` has 2401 symbols. Possibly `has` can be made more efficient when there are a large number of symbols but

[2020-03-27 10:14] Arpan612 commented on #17683
@oscarbenjamin Sir, please have a look at the issue above. Even after repeatedly requesting the contributor to give me some time before jumping in, I have been ignored. I think my PR should be merged. I request your views on the same.

[2020-03-27 10:17] #14393 closed

[2020-03-27 10:38] czgdp1807 commented on #17683
The following are the points,

1. More tests, for increasing the diff coverage, should be added in your patch. You can use pytest-cov or coverage.py to see the coverage locally.
2. There are no policies which I am aware of in case of multiple PRs for the same issue. The discussions here are not finalised yet so I couldn't use the same for resolving the conflicts in your case.
3. IMO, a PR can be m

[2020-03-27 10:43] Sc0rpi0n101 commented on #17683
I'm sorry, but your comment is not related to this issue. The contributors and maintainers work on their own time and availability. A Pull Request should be merged when the reviewers and the maintainers feel it is ready to be merged. But you cannot be spamming about it at unrelated places.

Also, @czgdp1807 How about adding something about commits and commit messages before merging a pull request

[2020-03-27 11:05] abhinav28071999 opened #18966 "System of modular linear equations"
Does sympy support solving a system of modular linear equations?

[2020-03-27 11:09] czgdp1807 commented on #17683
IMO, that should be included. May be we can include it as one of the conditions(optional though) for merging a PR. For example, if there are too many commits then they should be squashed to one or just replaced with one commit by applying the latest diff after dropping all the commits.

For resolving this may be we can activate, `Squash and Merge` feature of Github. It will automatically squash al

[2020-03-27 11:14] sylee957 commented on #18548
One idea would be measuring changes of code lines per commits (both relative to the previous commit and cumulative to the master) and if there are too many commits than the code, bot can be made to disapprove the PR and link to a wiki page how to squash the commits.

[2020-03-27 11:21] czgdp1807 commented on #17683
Few updates on https://github.com/sympy/sympy/issues/17683#issuecomment-604294730
I have quoted the original one and updated version of that point is written below.

**How to work on issues?** - A contributor can comment on an issue to show his interest and to obtain the latest status. However, any one can start working an any issue whenever they want to. It is recommended(though not forced) that

[2020-03-27 11:25] czgdp1807 commented on #17683
Please let me know if any modifications are needed. I will try to make wiki pages within a week for these policies and will implement them after that. Thanks.

[2020-03-27 11:29] Psycho-Pirate commented on #18964
I think we can rely on the signs of reaction forces as they will always act along positive Y direction.
So all the forces with same signs as the reaction forces must act along positive Y and all the other forces should act in the opposite direction. What do you suggest @moorepants

[2020-03-27 11:31] abhinav28071999 commented on #18966
I think  that sympy probably does not support this. Sympy also does not allow matrix elements to be fields.
When `A = Matrix([FF(17)(5)])` then `A[0]` gives `5` instead of `SymmetricModularIntegerMod17(5)`.

[2020-03-27 11:40] sylee957 commented on #17683
I don't think that it should be in the policy. Because it isn't a rule. But in a workflow thread.

[2020-03-27 11:47] czgdp1807 commented on #17683
I have made the update.

[2020-03-27 11:48] abhinav28071999 opened #18967 "Buy with sympify"
when sympify is used on field elements it converts them to ZZ.
`a = FF(9221)`
`sympify(a(30000))` gives `2337`
and strangely `sympify(a(9754254))` gives `-1564`.
Is this a bug?

[2020-03-27 11:53] czgdp1807 commented on #17082
Should we keep this issue? https://github.com/sympy/sympy/pull/18381#issuecomment-589713427 suggest that we can still have Python2 code printers.

[2020-03-27 12:20] jksuom commented on #18967
It converts them to Integers:
[code]
`sympify` will convert a SymmetricModularIntegerMod9221 to its Integer representative having the smallest absolute value, so it can also be negative. That can be used to regenerate the modular integer. If one wants to use only non-negative representatives, keyword `symmetric=False` must be set.

[2020-03-27 12:56] #18967 closed

[2020-03-27 12:58] smitgajjar opened #18968 "[Discussion] Migrating C Parser from clang.cindex to pycparser"
Currently, C parser has been implemented using clang python bindings (`clang.cindex`). But, `clang.cindex` is not yet able to parse the **type** of binary operators or unary operators. Due to this, it is not possible to develop C parser further for remaining implementations(Assignment, AddAugmentedAssignment, SubAugmentedAssignment, MulAugmentedAssignment, DivAugmentedAssignment, ModAugmentedAssig

[2020-03-27 13:24] alex-fu27 opened #18969 "Wrong limits of LambertW"
In Sympy 1.5.1, limits of expressions containing LambertW give wrong results.

Minimal example:
[code]

Expected output would be `LambertW(b)`, but I get `b` instead. `LambertW` seems to be replaced by identity in most limits except in some like `limit(exp(LambertW(a)), a, b)` which (also incorrectly) evaluates to 1.

[2020-03-27 14:46] oscarbenjamin opened #18970 "Import sympy fails on Python 3.5"
I guess this is to do with my setup since 3.5 is tested on Travis.
[code]

[2020-03-27 14:54] smitgajjar commented on #18970
`typing.ClassVar` is supported in python version>= 3.5.3. Refer [this](url).

[2020-03-27 15:08] sylee957 commented on #18966
There is `inv_mod` for matrix.

[2020-03-27 15:08] jksuom commented on #18970
I also have 3.5.2 in Ubuntu 16.04. I had to load 3.6 from Debian and put a symlink to that on local PATH to make importing SymPy possible.

[2020-03-27 15:12] sylee957 commented on #17082
I think that as the roadmap of #18381 is modified, the PR can just close this issue instead.

[2020-03-27 15:26] #18959 closed

[2020-03-27 15:27] smichr commented on #18963
A ValueError is raised in `digits`; the same could be done for `ibin`.

[2020-03-27 15:49] abhinav28071999 commented on #18966
Got it but the final output of `inv_mod` is not modulo `n`, that is probably some minor bug??

[2020-03-27 15:57] abhinav28071999 opened #18971 "Discussion - Index-calculus algorithm"
I am thinking of implementing this algorithm, but i wanted to ask something. This is a fast
sub-exponential time algorithm for discrete log.
In the algorithm we require to solve a system of modular equation which will require the use of `inv_mod` from matrices but i am hesitant to use this cause the inverse calculation is really slow and it will make index-calculus algorithm painfully slow as soon

[2020-03-27 16:21] smichr commented on #18965
Would this work?
[code]

[2020-03-27 16:49] sylee957 commented on #18966
What do you mean by the output is not modulo n?
If the output integers exceed the range of 0-n, it can be a bug

[2020-03-27 18:09] oscarbenjamin commented on #18970
If we support 3.5 then we should support 3.5.0. I don't know why CPython added this in 3.5.3 but that is not good practice in a point release.

Since we don't actually use mypy it should be easy enough to fix this. The import can just be removed.

Perhaps a better way would be to guard some of these imports like in https://github.com/pydata/xarray/pull/2831

[2020-03-27 18:39] jksuom commented on #18970
I agree.

[2020-03-27 18:57] abhinav28071999 commented on #18966
i checked it's working. My code was multiplying the inverse with another matrix and i got confused. I  checked the inv_mod and it's working.

[2020-03-27 18:57] #18966 closed

[2020-03-27 20:21] oscarbenjamin commented on #18965
A bit more is needed:
[code]

[2020-03-27 20:25] oscarbenjamin commented on #18965
I think that eliminates all quadratic computation. Marking this as easy to fix.

[2020-03-27 20:35] #18926 closed

[2020-03-27 20:54] asmeurer commented on #17683
A few notes:

This is not true. GitHub has a triage permission that we can use to give people permission to add labels without giving the write access. Already some people have triage permission. There is an idea to make the bot auto-give people Triage permissions (https://github.com/sympy/sympy-bot/issues/68).

Regarding issue assignment, there is also an idea to make the bot auto-assign people t

[2020-03-27 20:57] moorepants commented on #17683
We should encourage people to work together on issues. At a minimum we make authors aware of parallel work and at a maximum we help them merge their efforts.

[2020-03-27 21:03] Psycho-Pirate opened #18979 "The solve_for_reaction_loads function produces wrong results for triangular loads"
In sympy's physics continuum mechanics beam class, the `solve_for_reaction_loads()` gives wrong results when triangular load is applied.
See this example
![image](https://user-images.githubusercontent.com/50932406/77799320-895bf100-709a-11ea-8b5e-1c7d459e2a23.png)
`b = Beam(6, E, I)`
`b.apply_support(0,'pin')`
`b.apply_support(6, 'roller')`
`b.apply_load(-20, 0, 1, 6)`
`b.draw().show()`
`b.solve_f

[2020-03-27 21:11] certik commented on #17683
@czgdp1807 thanks for your efforts to document this and all your work you do in the PRs.

[2020-03-27 21:20] moorepants commented on #17683
Where can we see the current draft of this policy?

[2020-03-27 21:29] czgdp1807 commented on #17683
The policy isn't ready yet. There is a policy on wiki about Closing PRs. I will add both Pull Request Policy and Issue Policy to the wiki by tomorrow. I am updating my comment where both of these are described according to the feedbacks received.
In fact, both the policies will  always be in a constant state of improvement as anyone from the community will be able to edit them.

[2020-03-27 21:35] moorepants commented on #17683
That all sounds great, but this thread is hard to make sense of at this point. It would be nice to see a current draft of what we will agree to so we can comment on it. If you are willing to compile the current version I will be happy to review it.

[2020-03-27 21:37] moorepants commented on #18979
Can you paste complete functioning code so it is easier for others to run and reproduce your results?

[2020-03-27 21:42] Psycho-Pirate commented on #18979
`from sympy import *`
`from sympy.physics.continuum_mechanics.beam import Beam`
`E, I, R_0,R_6 = symbols('E, I, R_0, R_6')`
`b = Beam(6, E, I)`
`b.apply_support(0, 'pin')`
`b.apply_support(6, 'roller')`
`b.apply_load(-20, 0, 1, 6)`
`b.solve_for_reaction_loads(R_0, R_6)`
`print(b.reaction_loads)`
@moorepants

[2020-03-27 21:47] moorepants commented on #18979
Curious if it works if you only use apply_load, instead of apply_support?

[2020-03-27 21:50] moorepants commented on #18979
I also edited your last comment with a better markdown syntax.

[2020-03-27 21:55] Psycho-Pirate commented on #18979
Thanks.

[code]

[2020-03-27 21:57] asmeurer commented on #17683
I would put what we have on the wiki somewhere, but note at the top that it is a draft. That way we can more easily comment on it or just edit it.

[2020-03-27 22:03] moorepants commented on #18979
I vaguely recall that there could be confusion about what the F in `F*<x-a>^1` might mean. I guess it is the slope of the force per distance ramp function, but you can confuse it with the maximum load at the end of the beam. Double check that.

[2020-03-27 22:11] moorepants commented on #18979
This example https://docs.sympy.org/latest/modules/physics/continuum_mechanics/beam_problems.html#example-11 may help you see the relationship.

[2020-03-27 22:11] Psycho-Pirate commented on #18979
Yes, replacing it with the slope gives the correct results. But there is no documentation for that.
In the beam docstrings [here](https://docs.sympy.org/latest/modules/physics/continuum_mechanics/beam.html#sympy.physics.continuum_mechanics.beam.Beam.apply_load), it says magnitude. Also in [example 3](https://docs.sympy.org/latest/modules/physics/continuum_mechanics/beam_problems.html#example-3), t

[2020-03-27 22:12] moorepants commented on #18979
This needs to be documented better, for sure. I think there are some prior open issues or mailing lists posts were this was discussed. I recommend browsing for those, reading them, and then opening a pull request to improve the documentation if you would like to.

[2020-03-27 22:13] moorepants commented on #18979
See: https://github.com/sympy/sympy/issues/15981

[2020-03-27 22:14] moorepants commented on #18979
Closing as this is a duplicate of #15981

[2020-03-27 22:14] #18979 closed

[2020-03-27 22:14] Psycho-Pirate commented on #18979
Sure I will open a pr fixing this as well as example 3.

[2020-03-27 22:17] Psycho-Pirate commented on #18979
I don't want to bug you with this, but please go through my gsoc proposal. I have posted it [here](https://groups.google.com/forum/#!topic/sympy/ZBzmefbBFSU) on the mailing list. I would really appreciate some feedback! Sorry for any inconvenience caused. @moorepants

[2020-03-27 22:24] moorepants commented on #18979
@Psycho-Pirate I will have a look at people's proposals before submission only if I have extra time. They will all be reviewed after submission by the SymPy mentors for sure.

[2020-03-28 01:14] stevenleeS0ht opened #18982 "[Feature Request]:Calculate GIC in logic expression."
GIC means gate-input-cost, it equals to how many wires entering gates in the logic circuit.

[2020-03-28 01:19] sava-1729 commented on #18970
I wish I had opened this issue. I was facing this problem for the past 10 days. I realized that Python3.5.2 (newest version on my OS, Ubuntu 16.04) was the default Python3 and a lot later realized that sympy runs fine on Python3.6, but not on versions lower than that. That way this issue cleared things up for me.
Kindly review my PR.

[2020-03-28 01:48] sylee957 commented on #18971
If you are going to implement a low level operation solely using python int and list of lists, it can be fine to go to number theory module for some utility, but if you're going to keep the interface of Matrix, there would be no difference than improving the `inv_mod`.

[2020-03-28 02:11] sylee957 commented on #18982
I think that you can recursively count all the nodes in the trees.
[code]

[2020-03-28 04:00] sava-1729 opened #18983 "[Discussion] Rename Category to FiniteCategory, and add a Category class that allows infinite ones"
Hi,
From what I understood in the categories module, the ``Category`` class allows only finitely many objects, hence a finite category. However, the standard and most important categories such as the Category of Sets, Category of Monoids, Category of Vector Spaces, etc. are infinite. And I propose to implement these as a part of GSoC 2020 (I'll put up the formal proposal soon). But to implement an

[2020-03-28 04:39] sylee957 commented on #18983
I think that working on sympy Function architecture to achieve that is too much huge because functions are classes than objects.
But I see there are already `Morphism` in category which has zero connection with sympy function, but define in their own way to represent domain and codomain,
So some work can begin independently in category module, and the task of connecting things sympy functions with

[2020-03-28 05:13] #17082 closed

[2020-03-28 05:25] sylee957 commented on #18066
I saw it was rather advertised in the previous tutorial.

https://github.com/sympy/scipy-2016-tutorial/blob/master/tutorial_exercises/01-Symbols-Derivatives-Functions.ipynb

So the section should be modified too.

[2020-03-28 06:25] sylee957 commented on #18221
I think that for pull requests, it can be fine for bot to entirely depend on the release notes to judge.
For issues, it can be difficult unless we give such a survey template.

[2020-03-28 06:54] divyanshu132 commented on #18804
Replace that line with below lines.
[code]

Probably, this will fix the above issue.

[2020-03-28 07:09] czgdp1807 commented on #18221
For PRs the following are the scenarios where the bot can fail,

1. `NO ENTRY` release notes where files are required to be checked manually and labels are to be attached. Github Actions can automatically check the files and attach labels but sometimes irrelevant files are also changed which don't require a label to be used for them.
2. `Please take over` PRs are to be manually checked for their s

[2020-03-28 07:16] czgdp1807 commented on #17683
That's a mistake in the policy. Thanks for pointing out. I will make the update.

IMO, issues should not be assigned before making a PR and when a PR is linked with an issue, through, `Fixes`, `Closes`, etc., it reflects in the `Assignee` section of both PR and Issue tracker. Assigning issues before a PR is made for it will lead to stalled work restricting other contributors to explore.

Sure, I w

[2020-03-28 07:24] czgdp1807 commented on #17683
Both the policies are on wiki in draft state at the following links,

1. https://github.com/sympy/sympy/wiki/Pull-Request-Policy
2. https://github.com/sympy/sympy/wiki/Issue-Policy

Please let me know of any suggestions. I will try to implement them from next month when they will be mature enough and will be out of draft.

[2020-03-28 07:36] sylee957 opened #18984 "Sympify loses precision for mpmath"
[code]

[code]

I see sympify is based on the context of the float, but in this case, context has lower precision than the `mpf` object.

[2020-03-28 09:30] #18215 closed

[2020-03-28 09:34] iammosespaulr opened #18986 "Inconsistencies for expand_func and .expand for binomial"
[code]
@sylee957 @czgdp1807 @smichr  is this normal ?

[2020-03-28 09:35] iammosespaulr commented on #18986
.expand and expand_func tend to return binomial instead of expanding, when passed a multiple of n?

[2020-03-28 09:38] sylee957 commented on #18986
I think that they were not made expandable because you can't count how many terms are needed in the explicit formula.

[2020-03-28 09:40] iammosespaulr commented on #18986
but they are expandable right ?
[code]
if this is expandable ... then it should be as easy as replacing n with 2n ?
[code]

[2020-03-28 09:43] iammosespaulr commented on #18984
I see that the sympify function specifies this ...
[code]

[2020-03-28 10:40] oscarbenjamin commented on #18970
Thanks @sava-1729 I guess we're all running Ubuntu 16.04 :). Having been forced to work at home I've started using an older computer again and quickly ran into this.

[2020-03-28 10:41] Davide-sd opened #18987 "Vector Expressions"
This is non-issues, it is more a request for informations....

With Sympy we can write general symbolic expression by using symbols, functions, numbers,...., which are instances of the class Expr.

Similarly, we can write symbolic matrix expression using instances of the class MatrixExpr. We can also substitute dense or sparse matrices into those symbolic expressions.

Is there something similar t

[2020-03-28 10:42] #18970 closed

[2020-03-28 11:04] Saanidhyavats commented on #18473
@proy87 I think that @smitgajjar is correct as cos(x) will take the value between (-1,1) and 1/x will approach to 0 as x tends to oo hence the result will be 1

[2020-03-28 11:25] oscarbenjamin opened #18988 "Unit prefixes are not associative in multiplication"
Multiplication involving units and prefixes like kilo is not associative. I think most users would be surprised by this:
[code]
Without the brackets this defaults to the former
[code]
I guess that keeping kilo as a prefix rather than converting it to 1000 is probably desired in which case maybe the problem is in the `__mul__` methods for kilo/meter.

Also the pretty printing for kilo should be imp

[2020-03-28 12:23] MaqOwais commented on #18543
This issue is solved, it just needed to get merged

[2020-03-28 12:41] mohitacecode opened #18989 "creating an induced polycyclic sequence from Alt(4) group takes infinite time."
[code]
It does not evaluate.

[2020-03-28 15:31] jlherren opened #18991 "signsimp() create invalid tree when matrices are involved"
I have an expression involving symbolic matrices that raises an error when given to `simplify()`. I reduced it to the following code which also fails:
[code]
Stack trace:
[code]
Obviously no noncommutative scalars are involved here. The reason seems to be a `Mul` object that has matrix arguments, which to my understanding is an invalid tree. The following diff fixes the problem, but I'm unsure whe

[2020-03-28 15:44] daschuel opened #18992 "Possibly incorrect limit related to Stirling's formula"
The following integral, related to Stirling's Formula, gives different results based on different definitions of the variable:

var('x')
print(limit(x/((factorial(x)**(1/x))), x, oo))
E

var('n', positive=True, integer=True)
print(limit(n/((factorial(n)**(1/n))), n, oo))
oo

According to [Wikipedia](https://en.wikipedia.org/wiki/E_(mathematical_constant)#Asymptotics), E should be the correct answe

[2020-03-28 16:00] Smit-create commented on #18718
@czgdp1807 Please share your thoughts on this.

[2020-03-28 16:12] jlherren commented on #18991
This seems much more sensible:
[code]
Unfortunately it breaks `test_issue_3959`.

[2020-03-28 16:44] Arpan612 commented on #18987
Hi. You are correct. This feature is not yet planned. I was also unable to work on a problem due to this issue. I have mentioned this issue and will be working on it in my GSoC project if given the chance.

[2020-03-28 16:51] smichr commented on #14811
reopen per comments in #18990

[2020-03-28 17:44] doswellf opened #18995 "Vector Docs Using Unit Normal"
Small issue, mathematical in nature. The Vector docs use n_hat instead of r_hat, _hat, j_hat, k_hat for the unit vector in any direction. Normally, n_hat is reserved for the unit normal vector to a curve, plane or surface. This could confuse readers when they start to use the Vector class for Electrodynamics, Fluid Dynamics or Aerodynamics.

The specific page I was using : https://docs.sympy.org/l

[2020-03-28 18:01] jlherren opened #18996 "Wrong matrix element fetched from BlockMatrix"
Given this code:
[code]
I get this output:
[code]
`(A)[i, 0]` is the wrong here. `C[i, 0]` should not be simplified as that element may come from either `A` or `B`.

[2020-03-28 18:26] moorepants commented on #17683
Change to:

Provide reviews - Make sure that the PR doesn't break any existing tests, coding style is followed, deprecation policy is followed, and unit tests are added for new functionality and regressions testing.

[2020-03-28 18:28] moorepants commented on #17683
Not sure what "looks good" means. Maybe say "and the commit messages adequately describe the changes" instead.

[2020-03-28 18:36] moorepants commented on #17683
This section does not encourage collaboration as I noted in this comment:

I would rather see the wording of this change from determining what is the "best" pull request to language that directs merging efforts and doing so in a way that preserves commit contributions from the various pull requests.

[2020-03-28 19:43] DhruvKothari22 opened #18997 "Incorrect limit result involving Abs, returns expression involving a symbol"
`limit(Abs(log(x)),x,0)` returns incorrect result. Similar result with `limit(Abs(log(Abs(x))),x,0)`

Both return expression `-oo*sign(log(_w))` involving a symbol `_w`

while `limit(log(Abs(x)),x,0)` works just fine.

[code]
[code]
[code]

[2020-03-28 20:17] joernheissler opened #18998 "sympy.prime() -> OverflowError: int too large to convert to float"
Hello,

getting an OverflowError when checking if a large (8192 bit) number is a prime.

System is debian/unstable on amd64. Installed sympy from pypi.

[code]

[code]

[2020-03-28 20:21] sava-1729 opened #18999 "is_finite_set property not implemented for Range"
Currently,
[code]
returns nothing, since is_finite_set is not implemented in class Range. I'd like to do that. I was thinking of something like this:
[code]
Any suggestions/views/ideas are highly appreciated. I will submit a PR for the above changes soon.
Also there are some other issues, like:
`sup` and `inf` don't work for ranges in which one of the elements is a symbolic integer, i.e.,
[code]
A

[2020-03-28 20:26] joernheissler commented on #18998
Never mind, I have been wanting to use `isprime`, not `prime`.

[2020-03-28 20:26] #18998 closed

[2020-03-28 20:34] asmeurer commented on #18066
Which part of that advertises this?

[2020-03-28 21:04] iammosespaulr opened #19000 "Binomial for -ve values"
here are some series inconsistencies in the binomial class ... like
[code]
[but it actually is -1](http://www.wolframalpha.com/input/?i=binomial(-1%2C-4))
and
[code]
[but it actually is -82251](http://www.wolframalpha.com/input/?i=binomial(-5%2C-40))

The thing with sympy's documentation is ...
[code]
This part is kinda incorrect mathematically ... isn't it. cause it should only return 0 if n < k

[2020-03-28 21:05] iammosespaulr commented on #19000
p.s I'm up for redefinition et.al

[2020-03-28 23:49] Psycho-Pirate commented on #18964
What do you suggest @moorepants ?

[2020-03-29 00:04] moorepants commented on #18964
It looks like the parabolic load should be on the bottom of the beam for the second case.

[2020-03-29 00:14] Psycho-Pirate commented on #18964
Yes, there are three errors basically.
1. The parabolic and ramp loads do not change direction even when signs are changed
2. The point loads and moment act along wrong directions
3. The draw function assumes a sign convention (positive point loads always act along negative Y)
irrespective of what the user chose.

What do you think about this?

[2020-03-29 00:21] moorepants commented on #18964
All of the plotting and drawing for the beam has to assume  that a positive force/moment is in the direction of the positive y/z coordinate axes, for example.

[2020-03-29 00:26] Psycho-Pirate commented on #18964
I think that will restrict the user to choose a certain sign convention while using the draw function.
What I am suggesting is that we can check signs of reaction forces and use that to define the sign which will produce a +y load.
As we know a reaction force will always act in +y direction, If it is negative, all negative loads act along +y and so on

[2020-03-29 01:00] moorepants commented on #18964
Whatever is chosen just needs to be documented clearly so the user understands. I personally think it would be more confusing if the diagram changes directionality based on the sign of specific forces. Sometimes you will have two or more reaction forces and they have different signs. So I'm not sure that will work consistently.

[2020-03-29 01:07] Psycho-Pirate commented on #18964
I see. I will start by adding documentation regarding this and also fixing the problem with parabolic and ramp loads directions.

[2020-03-29 03:08] sylee957 commented on #18066
In the section called ‘sympify’, it features about passing a string to convert to arbitrary sympy expression

[2020-03-29 03:55] asmeurer commented on #18066
This issue is *not* about removing the string parsing in sympify. That is a very important feature that shouldn't be removed. This is about calling `str(x)` for arguments that aren't of a type that sympify knows how to parse as a final fallback.

[2020-03-29 04:05] sava-1729 commented on #18999
Also,
[code]
Even though the size should be zero, because since n is an integer, it must be greater than -oo, therefore Range(n, -oo) would be empty.
The previous problem arises because in Range.size, it says:
[code]
We should change this to:
[code]
I probed into the previous error a little further, and realized that
[code]
Shouldn't this return True?

[2020-03-29 04:07] sylee957 commented on #18996
I was aware of the problem that the coordinates were loosely handled even if the matrix had symbolic dimensions
I also think that `C[3, 0]` should be undefined because there is no guarantee that n is sufficiently large to contain elements.

[2020-03-29 05:42] peteroupc opened #19001 "Characteristic polynomial and other matrix operations over finite fields"
Is there a way to use SymPy to compute a matrix's characteristic polynomial (`charpoly`) over a finite field (such as GF(2))?  If not, can this be added?

The same applies to other matrix operations.

[2020-03-29 06:07] sylee957 commented on #18056
I think that default_sort_key internally calls `sympify` (possibly with string fallback).

[2020-03-29 06:10] jrexmo opened #19002 "Smith Normal Form error, Gaussian Integers"
It looks like the `smith_normal_form()` function is unable to recognize that the entries of a matrix do in fact come from a PID. In particular,
[code]
I realize that I could just set domain to be the Gaussian integers, but is there any way that we could recognize that the Gaussian integers are the "smallest" ring that the entries of this matrix come from and then set that to be the domain?

[2020-03-29 07:03] Electrowolf2 opened #19003 "can't import sympy"
Hi everyone

I am quite new to this python language, I am using ironpython and install sympy package for it, with no apparent problem, but when I try to import sympy to my code I get the following error

![imagen](https://user-images.githubusercontent.com/56281145/77843294-ec13c200-7158-11ea-8a00-310e5df54440.png)

I really don't know what to do or how to repair it, I would really appreciate your

[2020-03-29 07:12] sylee957 commented on #19003
Sympy had deprecated support for python 2.7 after last release. What is your sympy version? Does ironpython support python3?

[2020-03-29 07:34] peteroupc commented on #19001
As it turns out, the coefficients of the characteristic polynomial returned by `charpoly()` can be adapted for the finite field I'm interested in, namely GF(2), and it's easy to do: odd coefficients become ones, and even coefficients become zeros. And this is enough for my purposes.

However, this issue remains open to see if SymPy makes it convenient to work with matrix operations over any finite

[2020-03-29 08:16] jlherren commented on #18996
`C[3, 0]` should just stay unevaluated, since it might be valid (I assume that's what you mean by 'undefined'). It should be possible to handle some cases properly, for example `C[n, 0]` should return `B[n - 1, 0]`.

If I get some time I might have a go at it, seems to be a nice first PR.

[2020-03-29 09:49] keithbriggs opened #19005 "pprint unicode does not format subscripts on Greek letters"
Good:

[ -t₀⋅w₀   -t₁⋅w₀   -t₂⋅w₀]

Bad:

[ -t₀⋅ω0   -t₁⋅ω0   -t₂⋅ω0]

[2020-03-29 10:19] oscarbenjamin commented on #19002
The Gaussian integers are not explicitly implemented as a domain yet #15396

[2020-03-29 10:30] oscarbenjamin commented on #19001
The PR #18844 adds a matrix class based on poly domains. At the moment the PR is focussed on solving linear systems of equations but I guess that the same matrix class could be adapted for other calculations over domains like finite fields.

[2020-03-29 10:48] iammosespaulr commented on #19003
apparently ironpython3 is not recommended for use and ironpython2 isn't deprecated .So it's mostly not an issue on sympy's part.

[2020-03-29 11:31] oscarbenjamin commented on #19003
The current release of sympy (1.5) should work on Python 2. If it does not then that is a bug and it is an issue for sympy.

[2020-03-29 12:55] Davide-sd commented on #18987
Did you already start working on it? I attempted to lay down the basis this morning (to get something usable to me), but I'm having trouble with a recursion error, which I don't understand where it is coming from.

Here is my code (note that this is just a sketch):

[code]

The problem seems to appear when I use `__neg__`, for example:

[code]

Will output:

[code]

Which in turns causes other pro

[2020-03-29 13:59] sylee957 commented on #19001
I think that finite field is not yet implemented completely for prime power orders. You'd just expect them to be modular integers.

[2020-03-29 14:54] sylee957 commented on #19001
I think that a new function can be created as Matrix.charpoly_mod just like it already have Matrix.inv_mod.

I think that it can still be a valid approach as long as there is no sympy frontend support for domain elements.

[2020-03-29 15:05] jlherren opened #19008 "Inconsistent simplify() of Sum()"
Passing a `Sum` directly to `simplify()` doesn't simplify it:

Input: `simplify(Sum(i, (i, 0, 10)))`
Output: `Sum(i, (i, 0, 10))`

But when it's part of a sub-expression it does:

Input: `simplify(1 + Sum(i, (i, 0, 10)))`
Output: `56`

The same behavior happens with other sums, although sometimes with opposite desirability:

Input: `simplify(Sum(sin(i), (i, 0, 10)))`
Output: `Sum(sin(i), (i, 0, 10

[2020-03-29 15:26] maxiherzog commented on #17042
I would also like to help if there is more work to do.

[2020-03-29 16:05] #18996 closed

[2020-03-29 16:14] smichr commented on #19000
A recent paper about dealing with and interpreting negative arguments is [here](https://arxiv.org/pdf/1802.02684.pdf). I think it would be worth allowing `binomial` to return values for all arbitrary arguments. (And perhaps doing so before committing #18960.)

[2020-03-29 16:32] iammosespaulr opened #19010 "problems expanding a series"
ideally expanding [ (1 + x)<sup>2/3</sup> = x<sup>2/3</sup> + (2/3) x<sup>1</sup> + 1/3 x<sup>0</sup>](http://www.wolframalpha.com/input/?i=(1%20%2Bx%20)%5E%202%2F3)
but sympy doesn't do that.
[code]

[2020-03-29 16:49] oscarbenjamin commented on #19010
Firstly you should use Rational rather than Float e.g.:
[code]
Secondly I don't know why you think that should expand to a finite sum of terms. The formula you showed is clearly incorrect (try x=0).

[2020-03-29 17:57] iammosespaulr commented on #19010
@oscarbenjamin sorry that seems to be an oversight on my part. It came up as I was working on another issue, I forgot to verify it 😅 .

[2020-03-29 18:04] iammosespaulr commented on #19010
it happens to be [(1 + x)<sup>2/3</sup> = 1 + (2/3) x<sup>1</sup> - (1/9) x<sup>2</sup> + (4/81) x<sup>3</sup> - (7/243) x<sup>4</sup> + ... ](http://www.wolframalpha.com/input/?i=(1%20%2B%20x%20)%5E(2%2F3))

[2020-03-29 18:04] #19010 closed

[2020-03-29 18:29] czgdp1807 opened #19011 "Support for reducible Markov chains"
The current code in `master` gives good results for irreducible Markov chains. However, some inconsistencies are there with reducible Markov chains. See examples below.

[code]

In the first case, an error should have been thrown stating that unique solution doesn't exist.
In the second case, an error should have been thrown stating that not even a single solution exist.

Morever, support for find

[2020-03-29 18:35] czgdp1807 opened #19012 "How to generate results for queries like `P(Eq(X(j), 2), Eq(X(1), i))`?"
In the query, `P(Eq(X(j), 2), Eq(X(1), i))`, X represents a Markov chain(discrete/continuous). Here, i and j are symbols.
Currently,
[code]
This issue should discuss what all needs to be done to support such queries.

[2020-03-29 19:06] oscarbenjamin commented on #19011
These are implemented already in iterables

[2020-03-29 20:13] czgdp1807 commented on #19011
I couldn't find the API which finds the strongly connected components of a graph in `iterables`. Can you please clarify on it?

[2020-03-29 20:40] DhruvKothari22 opened #19013 "Error in plot of trigo expressions which can be simplified"
Problems with the plot of `exp = csc(x)**2 - cot(x)**2`:
1. The plot is along `f(x) = 0` but it should be around `f(x) = 1`
2. There are spikes at x = multiples of pi

It should be a straight line along `f(x) = 1` because it can be simplified to `exp = 1`

[code]
The above code returns this plot:
![Figure_1](https://user-images.githubusercontent.com/20184115/77859825-264c9480-7229-11ea-895e-2af016