[2016-03-31 16:13] gxyd commented on #10931
Sorry, i am not the best person for working on `Sets` module. Probably @smichr or @aktech may be able to help you out for the solution to this issue.

[2016-03-31 16:29] #10806 closed

[2016-03-31 16:40] jksuom commented on #10936
The conditional probability distribution is constructed in ``frv.conditional_space`` by collecting those elements of the total space that satisfy the given condition. The condition is coded as  ``domain = self.where(condition)`` which is of type ``ConditionalFiniteDomain``. Testing its elements is very slow. If it is replaced by a set, for example, the time spent will be reasonable.
[code]

[2016-03-31 16:46] asmeurer commented on #10936
Why is the element testing slow? Does it redo some difficult calculation each time? Is it resulting in something like `6**3**2` calculations because of the outer loop?

Your patch looks fine for this issue, but what if `domain` is much larger? Is it possible for testing containment to be faster than computing the entire set?

[2016-03-31 16:46] asmeurer commented on #10936
I guess `self` is always a finite probability space, so maybe not.

[2016-03-31 17:53] nc95 commented on #10931
@smichr @aktech Could you guide me about this problem.

[2016-03-31 19:48] leosartaj opened #10942 "Including Release Notes in sympy repo."
Is there a specific reason why we don't have release notes version controlled? If version controlled, we can then also include them in the docs which seems missing to me.

[2016-03-31 20:47] leosartaj commented on #10942
Ping @asmeurer @certik

[2016-03-31 20:56] certik commented on #10942
I think that would be a good idea. I don't see why not.

[2016-03-31 21:15] asmeurer commented on #10803
https://github.com/sympy/sympy/pull/10940 fixed this.

[2016-03-31 21:15] #10803 closed

[2016-03-31 21:58] yidingjiang opened #10945 "Deprecated kanes_equation method"
The kanes_equation() under KanesMethod will be deprecated for a more ideal api in which the order of argument is switched from (loads, body) to (body, load). The reasoning is that sometimes there is no load therefore it makes more sense to have the body first and have an optional load. For details please see #10878.

[2016-04-01 06:15] leosartaj commented on #10942
I recently noticed this with the git project. AFAIK almost all major projects inlcude the notes in the repo.

This could actually work. Probably store all the files in a directory which are ultimately merged to build docs.

[2016-04-01 07:07] loeiten opened #10950 "Missing space in the Order class when prinitng with latex"
There seem to be a space missing in the `Order` class when printing with latex.

![screenshot at 2016-04-01 08 58 092](https://cloud.githubusercontent.com/assets/7699917/14200118/fa056f78-f7e8-11e5-9d6f-ddd588fc3c32.png)

[2016-04-01 07:27] gxyd commented on #10950
It seems to have been fixed in the latest version i.e 1.0 version, SymPy live uses 0.7.6 . You can try that.

[2016-04-01 08:25] loeiten commented on #10950
Hmm...from the latest release, I still get the problem
![screenshot at 2016-04-01 10 23 552](https://cloud.githubusercontent.com/assets/7699917/14201725/005d09e8-f7f4-11e5-937b-eebc86c6f1a9.png)

[2016-04-01 08:35] AkshaySiramdas commented on #10924
I executed the same set of operations. It gave me the solution as below.
`>>> from sympy.abc import x`
`>>> from sympy import *`
`>>> y=Function('y')(x)`
`>>> eq = -2*x*y + (3*x**2 - 2*y**2)*Derivative(y, x)`
`>>> solution=dsolve(eq)[0]`
`>>> solve(solution.subs({x: 0, y:1}), [Symbol('C1')],dict=True)`
'[{C1: 2**(2/3)*C2**(1/3)/6 - C6/C7**(1/3) + 1}]'

[2016-04-01 08:36] leosartaj commented on #10950
This was fixed after 1.0 was released(#10837). You can try using the development version, if that works for you.

[2016-04-01 08:58] loeiten commented on #10950
@leosartaj

Thank you for pointing to the commit for me, I didn't find this when I searched through the issues.

Sorry for the spam.

[2016-04-01 08:58] #10950 closed

[2016-04-01 10:19] wohnjayne opened #10951 "parsing expressions: Maximum recursion depth exeeded or segmentation faults"
I am using sympy for symbolic regression. Expressions are generated as strings, and parsed by sympy.
As soon as I introduce more complex operators such as sin(), sympy fails to parse expressions (both sympy 1.0 and 0.7.4.1).

e.g., the string
`(sin(sin((((1-x)*(x/1))/((x-1)*(x-x)))))*(sin((((1+1)*(1*x))/((x/x)+sin(1))))*((((1/x)/(x-x))*((x+1)/(x/x)))*(((x*x)+(x/x))+((1/1)*(1*1))))))`

cannnot be p

[2016-04-01 10:22] wohnjayne commented on #10951
Looks like this is the same issue as  #9449

[2016-04-01 11:20] wohnjayne commented on #10951
The issue could be related to a division by zero:

The above bug happens for this short example with a cosine:
[code]
 Notice the `(1-1)` term in the denominator.

With a slightly modified term  ( `(1-2)`  instead of  `(1-1)`) the line gets evaluated properly:
[code]

[2016-04-01 13:08] jksuom commented on #10936
The test ``key in domain`` consists of two parts in ``ConditionalFiniteDomain.__contains__``:
1. ``key in domain.fulldomain`` (Is ``key`` in the total space?)
2. ``domain._test(key)`` (Does it satisfy the condition?)

It is the first part that is really time consuming for a ``ProductDomain``:
[code]
In this case it is automatically satisfied by all keys in ``self._density`` as ``domain`` is derive

[2016-04-01 14:21] wohnjayne opened #10952 "Infinite loop in sympy.parsing.sympy_parser.parse_expr"
sympy.parsing.sympy_parser.parse_expr goes into an infinite loop for specific inputs.

one of them is
`sin(cos(exp(exp(exp(exp(1))))))`

minimum example:

[code]

(I interrupted the command after a couple of seconds, but it runs forever)

**Note 1:**
On second try, command immediately returns:

[code]

... but then, f.evalf() will not work and loop infinitely
`f.evalf()`

[code]

Edit: removed Not

[2016-04-01 14:26] nc95 commented on #10931
Fixed #10947

[2016-04-01 16:04] asmeurer commented on #10936
+1. The test only takes a few seconds with that fix.

[2016-04-01 17:41] josephcslater commented on #10840
That would certainly address my concern, and context-based solutions are a good compromise. It's unfortunate that the standard is already set. As a student, I as a bit perplexed by the standard, looking at the current SymPy response as what I would have expected. Unfortunately applied convention has indeed been so well established as to be entrenched. It's not feasible, reasonable, or prudent for

[2016-04-01 19:14] proy87 commented on #10924
What version if sympy do you use?
What are C2, C6, C7?

[2016-04-01 22:53] zanzibar7 commented on #10924
I've replicated this problem.
[code]
does also give me a `RuntimeError: maximum recursion depth exceeded`.  The mis-numbered constants looks like an old bug.

It looks like this is a bug in `solve()`.

[code]
At the very least, any exact solution, of obtainable, feels like it will be ugly.

[2016-04-02 15:56] Nitin216 opened #10956 "ImageSet intersection not working correctly on specific input."
I am getting this issue when working on an issue.
[code]
diop_base is returning None which is the problem. But when i do complement then it works.

[2016-04-02 18:41] #10785 closed

[2016-04-03 02:01] #10936 closed

[2016-04-03 02:11] #10841 closed

[2016-04-03 12:50] kshitij10496 commented on #10956
I think this is closed by #10958

[code]

[2016-04-03 16:25] Shekharrajak commented on #10956
It must show `TypeError: Coefficients should be Integers` . Isn't it ?

[2016-04-03 23:28] asmeurer opened #10959 "BlockMatrix assumes Symbols are matrices unless complex=True"
Not sure if this is intentional:

[code]

It seems to me that symbols should be treated as scalars always, since if I wanted to use a matrix I would have used a MatrixSymbol.

(from https://stackoverflow.com/questions/36353593/suppress-the-transpose-of-a-symbol-in-sympy-output-when-the-symbol-is-a-scalar).

[2016-04-04 09:22] smichr commented on #10956
The diophantine routine factors the expression and (should) discard constant factors, so it need not raise an error in this case.

[2016-04-04 14:57] gxyd commented on #10926
@Upabjojr you may want to look at this. We introduced in [this commit](https://github.com/sympy/sympy/pull/10824/commits/47e5848e8ec97cf56dcb3e1df036aec8c513c28b) the line
[code]
which only fails [this test](https://github.com/sympy/sympy/blob/master/sympy/physics/vector/tests/test_printing.py#L132-L133) for derivative. Since derivative can also be represented using dot-notation. This dot-notation

[2016-04-04 16:02] ianhbell commented on #10926
Please fix this as soon as you can.  I'm stuck on 0.7.6.1 until this regression is repaired.

[2016-04-04 16:18] Upabjojr commented on #10926
Dot-notation representation of a derivative should be handled by a separate class. Using the same class was a poor design choice.

Pretty printer seems to work correctly, maybe try to debug the pretty printer and port the code to the latex printer?

[2016-04-04 16:57] #7067 closed

[2016-04-04 16:57] #10956 closed

[2016-04-04 20:36] cbm755 opened #10961 "fractional order Laguerre gives wrong result"
[code]

Perhaps an `int()` cast somewhere which could be more precise?  It should either stay unevaluated or raise an exception, TBD.

"Easy to Fix" tag is a guess, not a promise ;-)

[2016-04-04 21:54] rd13123013 opened #10962 "maximum recursion depth exceeded on subfactorial(1000)"

[2016-04-04 22:07] rd13123013 commented on #10962
I think this can be resolved by two ways.
1. subfactorial uses Memoization, we can calculate subfactorial(1000) if we start from subfactorial(100) and then keep increasing the argument by some constant till we reach 1000 . for example if we calculate subfactorial(200) then subfactorial(300) going till subfactorial(1000) by increasing by 100 at each step we can avoid error.
function can be modified

[2016-04-05 00:28] postvakje commented on #10962
A third possibility is to move the `factorial(n)` in method 2 inside the sum and get:
`subfactorial(n) = Sum((-1)**(n-x)*ff(n,x), (x,0,n))`
or as you suggested not use `Sum` and compute `ff(n,x)` iteratively inside the function definition itself.

[2016-04-05 00:34] zanzibar7 commented on #10961
I think the issue actually comes about because `laguerre` is calling `laguerre_poly` directly,
rather than through `_ortho_poly` like the other standard orthogonal polynomials.

[2016-04-05 00:54] asmeurer commented on #10962
The docstring says it is defined by

[code]

This seems to be equivalent.

[code]

(this is very similar to the fibonacci sequence, so maybe there are even more efficient ways to compute it)

By the way, it's worth noting that the current implementation doesn't even use memoization, it uses caching (meaning if the cache is turned off, the runtime is exponential).

[2016-04-05 01:04] asmeurer opened #10963 "x**6000%400 hangs"
[code]

`__mod__` shouldn't be trying to perform any calculations, unless the input is numbers.

[2016-04-05 03:01] moorepants opened #10964 "The rhs() method of KanesMethod should only invert mass_matrix"
The following code is solving a 2*N system, when it only needs to solve a N system. It should do:

self.mass_matrix.LUsolve(self.forcing)

and then construct the full result from self.kindiffdict(). This would significantly reduce the computation time.

[code]

[2016-04-05 06:39] rd13123013 commented on #10962
recurrence  reduces to
`` !n = n*( !(n-1) ) + (-1)**n``
which is close to factorial function. Since matrix exponentiation can not be used here, hence linear time complexity is best we can get.

[2016-04-05 09:46] Upabjojr opened #10967 "Indexed and _diff_wrt"
Indexed objects should be usable as derivation variables:

[code]

One could naively force the value, but it doesn't seem to properly work:
[code]

[2016-04-05 09:49] Upabjojr opened #10968 "Indexed random variables"
There is currently no way to represent indexed random variables.

One idea: add a parameter to _IndexedBase_ to represent the base class.

`IndexedBase("A")` would be equal to `IndexedBase("A", base_class=Symbol)`

while

`IndexedBase("A", base_class=RandomSymbol)` could represent an indexed base for random variables.

It would operate in a manner similar to C++ templates, with some magic such as

[2016-04-05 10:37] jksuom commented on #10968
A parameter in ``IndexedBase`` could be a workable idea, but it would probably mean that the ``tensor`` module would have to import and deal with classes of the ``stats`` module. So maybe the creation of a new class ``IndexedRandomBase`` in ``stats`` would be preferable. It would have to override ``__getitem__`` and probably also ``__ new__``.

[2016-04-05 11:22] rd13123013 commented on #10963
works fine for me.
[code]

[2016-04-05 12:42] Upabjojr opened #10969 "RandomSymbol with unknown probability space"
_RandomSymbol_ as defined in _sympy.stats.rv_ associates a symbol name with a probability space.

One may be willing to operate on random symbols with unknown probability spaces, so maybe we could make the probability space parameter optional?

So transform:

[code]

to

[code]

and check all occurrences.

[2016-04-05 16:05] asmeurer commented on #10963
Indeed, I was using an old commit. Seems it was fixed by

commit 652150e05f430865086d6b3346afe1819ee84668
Author: Chris Smith <smichr@gmail.com>
Date:   Sat Mar 12 14:51:23 2016 -0600

    10755: raise TypeError when using int or round on symbolic expr

[2016-04-06 19:42] asmeurer commented on #10855
It should work, though. It's just not the recommended way of plotting.

[2016-04-06 22:34] vasdommes opened #10972 "[tensor module] incorrect evaluation of TensMul.data"
The code below gives a simple example when `TensMul.data` is evaluated incorrectly.
We compose TensMul expression from tensor `F` and vector `u`:
`mul_1 = F(mu, alpha) * u(-alpha) * F(nu, beta) * u(-beta)`,
and `mul_1.data` returns `[[0, 0], [0, 1]]`, as it should.

But if we change order of arguments and write
`mul_2 = F(mu, alpha) * F(nu, beta) * u(-alpha) * u(-beta)`, expecting the same result,

[2016-04-07 05:35] gxyd opened #10973 "Sum((-n + (n**3 + 1)**(S(1)/3))/log(n), (n, 1, oo)).is_convergent() raises Recursion Error"
[code]

[2016-04-07 11:20] bjodah commented on #10963
It would be nice to add a test for this:
`x**6000%400` takes about 10 microseconds on my machine.
I found this:
http://stackoverflow.com/questions/19527320/limit-the-maximum-running-time-for-unit-test
https://pypi.python.org/pypi/pytest-timeout
but that would mean more dependencies..

[2016-04-07 12:28] vasdommes commented on #10972
Also if we take sum of `mul_1` and `mul_1`, its `data` evaluates to `[[0, 0], [0, 0]]`:
[code]

This is because `TensMul.canon_bp()` is called inside `TensAdd` constructor (and canonical form of `mul_1` coincides with `mul_2`):
[code]

[2016-04-07 15:58] asmeurer commented on #10963
We could just add a test for it. If it hangs again, we'd catch it.

[2016-04-07 16:12] asmeurer opened #10974 "solvers.py contains BOM character"
See https://stackoverflow.com/questions/7297888/ufeff-character-showing-up-in-files-how-to-remove-them for more information. The first character of solvers.py is U+FEFF. As far as I can tell it's impossible to tell this from GitHub, but if you `git blame sympy/solvers/solvers.py`, or use a hex editor (or even `less`), you can see it. The BOM was added by 56713720.

We should find whatever other fi

[2016-04-07 17:04] John-Colvin opened #10976 "incorrect answer for limit involving erf"
[code]

The correct answer is `x`.

can be shown by l'Hopital's rule as follows:

![image](https://cloud.githubusercontent.com/assets/1867189/14359691/8dbeb066-fcea-11e5-85b2-6460cd814845.png)

Cross-checked with mathematica, see also http://www.wolframalpha.com/input/?i=lim_(s-%3E0)+(erf(s+x))%2F(erf(s))

[2016-04-07 19:59] Nitin216 commented on #10974
@asmeurer I think it is only in ```solvers.py```. So should i add it manually.

[2016-04-07 20:46] #10963 closed

[2016-04-07 20:48] asmeurer commented on #10942
I'm for whatever gets people to keep the release notes up to date.

[2016-04-07 20:52] asmeurer commented on #10928
Using gmpy integers as the internal storage type for integers when gmpy is installed is an interesting idea.

[2016-04-07 21:23] moorepants commented on #10942
In PyDy we have an issue template that has a checkbox for updating the
release note. It has added a surprising amount of accountability and pretty
much everything has been added.

Jason
moorepants.info
+01 530-601-9791

On Thu, Apr 7, 2016 at 1:48 PM, Aaron Meurer <notifications@github.com>
wrote:

[2016-04-08 04:47] cbm755 opened #10978 "LambertW(x) limit x to 0: maximum recursion depth exceeded"
Good:

[code]

But try this simple limit:

[code]

Possible related to #7259?  In particular, note `LambertW(x, -1).limit(x, 0, dir="-")` is correct (`-oo`).

[2016-04-08 10:43] vasdommes commented on #10972
@Upabjojr could your please take a look at this issue? Would it be hard to fix it?

[2016-04-08 10:58] Upabjojr commented on #10972
Using the newly introduced _sympy.tensor.array_ I get another result:

[code]

@vasdommes do you want to try to fix it? If you know how to debug Python code and understand how `_TensorDataLazyEvaluator` works, it won't be too hard.

[2016-04-08 11:26] Upabjojr commented on #10972
Sorry, didn't notice the metric. Anyway, I would also try to use the new array module, removing the external dependency (_numpy_).

[2016-04-08 14:19] moorepants opened #10979 "count_ops is slow for large expressions"
It seems that this script was hanging inside `count_ops`:

[code]

[2016-04-08 15:47] vasdommes commented on #10972
@Upabjojr

Either your result `[[0, 0], [0, 2]]` is obviously incorrect, or I am missing something important.

### Check №1:
[code]

### Check №2:
We can rewrite our tensor expression as

![codecogseqn 1](https://cloud.githubusercontent.com/assets/8809142/14388173/9b3aef36-fdb5-11e5-900c-37e0dc86e2d5.gif)
where

![codecogseqn 2](https://cloud.githubusercontent.com/assets/8809142/14388175/a07b049a-

[2016-04-08 15:54] Upabjojr commented on #10972
There's a bug in _sympy.tensor.array_, I have just realized it.

[2016-04-08 16:42] Upabjojr commented on #10972
Here is the fix:

https://github.com/sympy/sympy/pull/10981

[2016-04-08 17:42] asmeurer opened #10983 "Use pretty_symbology in sympy/printing/pretty/pretty.py"
There are several places in pretty.py where a unicode string is used directly like `"\N{RIGHTWARDS ARROW WITH STROKE}"`. These should be refactored to use the `pretty_symbology` submodule.

[2016-04-08 17:47] asmeurer opened #10985 "Remove u() function from compatibility"
The pull request https://github.com/sympy/sympy/pull/10778 missed some uses of the `u()` function in the printing module. The function should be removed from the compatibility file completely, and all instance of `u("string")` should be replaced with `u"string"`.

[2016-04-08 20:56] florianGithub opened #10986 "vertical bar at output end"
![sympy vertical bar at output end](https://cloud.githubusercontent.com/assets/14261779/14397290/db6f3586-fddc-11e5-8fd4-6223ed3356c3.PNG)

How can I remove the ugly vertical bar at the output end?

[2016-04-08 21:19] moorepants commented on #10986
I think this is a mathjax issue because I think I've only seen it in one browser. Can you report your browser name and try i tin other browsers?

[2016-04-08 21:52] Nitin216 commented on #10985
@asmeurer I am able to remove all the instance of ```u("string")``` with ```u"string"```. But after this when i test ```test_pretty.py``` i am getting AssertionError on PieceWise, Meijerg.

[2016-04-09 00:00] vasdommes commented on #10972
@Upabjojr it was a really quick fix=)

Although I have never looked at `_TensorDataLazyEvaluator` code before, I hope that I found the root of the problem. I'll try to fix it.

Do you mean that in the future `Tensor.data` should be stored in `Array` instead of `numpy.ndarray`?

[2016-04-09 03:22] nathanmusoke commented on #10983
I'm interested in doing this.

What is the correct way to do it?

It looks like sympy/printing/pretty/pretty_symbology.py will need some new definitions added too.

[2016-04-09 08:10] Upabjojr commented on #10972
Perfect.

Yes, it would remove all the problems associated with a dependency on an external library. Furthermore, _numpy_ isn't really intended to represent symbolic arrays.

[2016-04-09 08:24] Nitin216 commented on #10985
@asmeurer Could you tell me what to do. After removing the ```u()``` function`in ```compatability.py```. What to do of the imports including ```u```?

[2016-04-09 08:35] vasdommes opened #10987 "plotting.intervalmath test fails (problem with float rounding)"
latest sympy master branch
numpy 1.11.0
Python 3.5.1
Win10 x64

sympy\plotting\intervalmath\tests\test_interval_functions.py
test_tan() fails:
[code]

If fact this test should pass: `a.end - np.tan(np.pi / 4)` evaluates to `1.11022302463e-16`, so it's just rounding error.
I assume that test should use something like `numpy.isclose()` (or py3.5. `math.isclose()`) instead of `==`.

[2016-04-09 10:45] Nitin216 commented on #10987
@vasdommes I am getting no assertion Error. I am getting this output:
[code]
So Please check if your repo is latest.

[2016-04-09 10:50] Nitin216 commented on #10986
Hey, i am also getting this when i use ```init_printing()```.I am currently using Chrome.In Microsoft Edge,and Mozilla Firefox this vertical bar is not showing. This error is only in Chrome.

[2016-04-09 11:31] vasdommes commented on #10987
@Nitin216 yes, my repo is latest (BTW, last change in intervalmath was one year ago).

The last line fails in this test:
[code]

But if I replace it with
[code]
then everything works fine.

So test fails if `np.sin(np.pi / 4) / np.cos(np.pi / 4) == np.tan(np.pi / 4)` is `False`.
I assume that in almost all cases it returns `True`, but sometimes _float_ rounding messes things up (as in my case). On

[2016-04-09 14:46] moorepants commented on #10986
I would see if MathJax from other websites renders this way. If so you should report this issue to MathJax. Or if it is a Jupyter/Chrome issue, maybe you need to open the issue there.

[2016-04-09 14:58] Nitin216 commented on #10987
Sorry @vasdommes, but mine is not giving any error and my ```test_tan()``` is:
[code]

[2016-04-09 18:01] asmeurer commented on #10983
Yes, a lot of things will need to be added to pretty_symbology. Just add them in a reasonably high-level way, matching the format of what's there.

[2016-04-10 05:29] isuruf opened #10989 "Diff wrt MatrixSymbol"
Reported by @mohawkjohn
[code]

[2016-04-10 05:49] isuruf commented on #10989
Duplicate of #5858

[2016-04-10 05:49] #10989 closed

[2016-04-10 09:04] #10972 closed

[2016-04-10 13:12] vasdommes commented on #10972
Yes, it is a good idea. By the way, is there an issue for this improvement? I didn't found one.

[2016-04-10 13:13] Sumith1896 opened #10991 "Differentiation of Boolean expressions."
Differentiation of boolean expression w.r.t. propositional variables are defined. These are not implemented as of now in the `logic` module.
For a boolean formula `F` and propositional symbol `x`, derivative is defined as follows
[code]
That is the `Xor` of values obtained by substituting `x` as `True` and `False`.

This is used in analysis of combinational circuits where in we check if the output

[2016-04-10 13:55] vasdommes commented on #10987
@Nitin216 my `test_tan()` is the same as yours.

I noticed from your output that you used Python 2.7. So I ran the tests under Python 2.7 & numpy 1.9.3, and everything worked fine.
For me the error arises under Python 3.5.1 & numpy 1.10.4 or 1.11.0. Could you check it on your machine?

[2016-04-10 16:27] Nitin216 commented on #10987
@vasdommes Will check ok

[2016-04-10 18:49] pelegm opened #10993 "Solving equations with binomial coefficients should expand them first"
When trying to solve an equation with a binomial coefficient with a symbol, the solver fails:

[code]

[code]

But when expanding the binomial coefficient first, the solver succeeds:

[code]

Shouldn't the solver try to expand the binomial before failing?

[2016-04-10 19:57] SteliosStefanatos opened #10995 "acot(-x) evaluation"
In Sympy (ver. 1.0), the following input

`var('x');
acot(-x)`

gives

which does not hold. (It actually holds  `acot(-x) = pi - acot(x)`.)

[2016-04-11 07:46] leosartaj commented on #10995
This appears valid. According to the wikipedia [article](https://en.wikipedia.org/wiki/Inverse_trigonometric_functions) it should be ``acot(-x) = pi - acot(x)``. @SteliosStefanatos, if you want you should go ahead and fix this. :smile:

[2016-04-11 11:24] bluescarni opened #10996 "Bug in polynomial GCD computation"
This is incorrect:

[code]

The correct result is `-12*y**2*z-12*x**3*y**4+3*x*y**6`. This boils down to an error in the heuristic GCD. Indeed, the modular GCD works:

[code]

The heuristic GCD does not:

[code]

I encountered the bug while implementing heuristic GCD in piranha (https://github.com/bluescarni/piranha). The test case above was generated randomly by fuzzy testing and it is the only o

[2016-04-11 11:41] Upabjojr commented on #10972
There isn't. There are still unsupported features in SymPy arrays, like _numpy.swapaxes_ that is currently used to check the array compatibility with the tensor symmetry.

Another idea is to create arrays with symmetry info so that symmetric components are stored only once (e.g. a symmetric matrix of size _N_ needs only _N (N + 1)/2_ components to be stored, the others being symmetric).

[2016-04-11 12:14] vasdommes commented on #10972
@Upabjojr an issue with TODO-list would be helpful if someone else (e.g. me=)) would like to contribute.

[2016-04-11 14:43] postvakje commented on #10995
I guess it depends on how the principal branch of acot is defined.  In Wikipedia, the branch covering (0,pi) is used and thus `acot(-x) = pi - acot(x)`, but Mathematica uses the branch covering (-pi/2, pi/2) with a discontinuity at x = 0, so in that case `acot(-x) = -acot(x)`.

[2016-04-11 14:49] moorepants commented on #9714
Note that this has gotten even slower with SymPy 1.0:

http://www.moorepants.info/misc/sympy-asv/#refine.TimeRefine01.time_refine

[2016-04-11 17:39] zanzibar7 commented on #10978
`LambertW(x).series(x,0,4)` also gives an infinite recursion, probably for the same reason.

[2016-04-11 17:58] Upabjojr commented on #10972
The arrays are a recent introduction, I felt more like testing them a bit before replacing them with the existing ones.

@vasdommes do you feel like contributing to the tensor module?

[2016-04-11 18:08] Upabjojr commented on #10972
Also, bug reporting is really appreciated.

[2016-04-12 10:20] smichr commented on #10996
Thanks for the valuable feedback! It looks like the algorithm for heuristic gcd is describeed on pages 320 ff. I can't see pages 327-330, however. Someone else will have to see if they can get the reference or some other way address the issue by finding the problem in the existing SymPy code..

[2016-04-12 10:24] smichr commented on #7103
The 4th order quaternary equation is not recognized. The types of equations recognized is now part of the classify docstring in #10997

[2016-04-12 10:34] bluescarni commented on #10996
@smichr No problem. I have an electronic copy of the book (legally obtained). Do you think I can extract the subsection describing the algorithm and send it to you? Not sure if it falls under any fair use clause.

[2016-04-12 14:14] smichr commented on #10979
My first thought is that the following

[code]

should be

[code]

[2016-04-12 14:52] moorepants commented on #10979
Here is a pyinstrument profile of count_ops:

https://rawgit.com/moorepants/b92b851bcc5236f71de1caf61de98e88/raw/8e5ce6255971c115d46fed3d65560f427d0a44aa/profile_count_ops.html

[2016-04-12 16:36] moorepants commented on #10979
I've updated the script so that it also calls `jacobian()` and found that for n>3 there are wildly different results. It seems that count_ops is called somewhere in jacobian if n>3.

Profile from n=3:

https://rawgit.com/moorepants/b92b851bcc5236f71de1caf61de98e88/raw/77e5f6f162e370b3a35060bef0030333e5ba3926/profile_count_ops_n_3.html

Profile from n=4 (had to kill this one because it doesn't fini

[2016-04-12 16:36] moorepants commented on #10979
This gist: https://gist.github.com/moorepants/b92b851bcc5236f71de1caf61de98e88

[2016-04-12 16:41] moorepants commented on #10979
I'm seeing that _matches_commutative sympy/core/operations.py:127 is whats taking so much time. This calls some simplification routines in the fraction function and count_ops which takes for ever. I'm not sure why `_matches_commutative` is getting called.

[2016-04-12 17:46] jbm950 commented on #10834
@moorepants A project write up of sorts for that can now be found at https://github.com/sympy/sympy/wiki/Allow-arbitrary-choice-of-printer-to-be-used-by-init_printing() in the wiki

[2016-04-12 18:24] smichr opened #10999 "diop: holzer error"
[code]

addressed by #10997

[2016-04-12 18:25] smichr opened #11000 "diop: power_representation"
[code]
This should be [(1,)]

addressed by #10997

[2016-04-12 18:28] smichr opened #11001 "diop: sum of squares"
[code]

This should give 14 answers (addressed by #10997).

[code]

(I'm not sure the 0s should be included, however, so the first 6 in the set should perhaps be excluded.)

[2016-04-13 02:48] smichr commented on #9539
With modifications of #10997, this now gives:

[code]

[2016-04-13 03:30] asmeurer opened #11003 "Disallow string input to API functions"
Most SymPy functions "accidentally" accept strings as input, because they call `sympify` on the input, and sympify converts strings to SymPy expressions.

This would be somewhat of an API break, but I think we should disallow this. The problems with strings as input are outlined [here](https://github.com/sympy/sympy/wiki/Idioms-and-Antipatterns#strings-as-input). Additionally, it only works by acc

[2016-04-13 03:31] asmeurer commented on #11003
This will be easy to fix once we decide how we want to do it.

[2016-04-13 05:12] mhlr opened #11004 "problems with numerical evaluation"
I working with a simple statistical mechanics example,
using the Stirling approximation of the factorial in combinatorial functions:

[code]

Working tests:

[code]

The problem cases:
- Substitution not working `n` is not replaced by `N` - note that `print q.n(4,subs={n: N})` above works

[code]
- This looses the `log(n)` term completely and performs some other invalid transformations

[code]

[2016-04-13 09:51] Nitin216 commented on #11000
@smichr It is calling ```perfect_power(n)```. But what to return in ```perfect_power``` as it returns (b,e) where
```n = b**e``` as n is 1. We have multiple options of b if we put e=0 and only 1 if we use both b=1 and a=1.

[2016-04-13 10:15] smichr commented on #9538
What's the best way to

Would you return a set of dictionaries (actually Dict instances b/c dict cannot be contained in a set) in the cases where a set is returned?

To maintain backward compatibility, could we do the following?
* no symbols arg = ordered free symbols (default? or should a backward compatibility kw be required to get this, like ordered=True?)
* symbols -> symbols in the order give

[2016-04-13 10:18] smichr commented on #9539
Actually, that is already obtained in master w/o the PR's modifications.

[2016-04-13 10:27] kismir opened #11006 "strange behaviour of expr.subs(u,1/3).evalf(100)"
Python3.3 SymPy 1.0
Works fine:
[code]
But this seems not:
[code]
SymPy Live Shell:
[code]

[2016-04-13 11:16] bjodah opened #11007 "as_finite_diff does not support partial derivatives"
partial derivatives is not well supported by `as_finite_diff`:
[code]
which is incorrect, the correct output would be:
[code]

related:
https://groups.google.com/forum/#!searchin/sympy/Mathias$20Louboutin/sympy/MIlkgmts8xw/jQ_-EUrUAAAJ
https://groups.google.com/forum/#!searchin/sympy/Mathias$20Louboutin/sympy/mzr_ET2Pu2E/0gK6jxcUDQAJ

a nice addition would be to allow the syntax `wrt=(x, y)`

[2016-04-13 11:37] Shekharrajak commented on #10993
I think it is expected because input for `solve` is :
        - a single Expr or Poly that must be zero,
        - an Equality
        - a Relational expression or boolean
        - iterable of one or more of the above

[2016-04-13 11:59] Shekharrajak commented on #10930
You can use `linsolve` :
[code]

[2016-04-13 14:59] smichr commented on #11000
This is a special case for the diop routine; no change would (need to) be made to `perfect_power`. The docstring says that the default is to return non-zero containing solutions. (So getting a null answer for (6, 2, 4) is right since without 0 there are no 4 squares that sum to 6.)

[2016-04-13 15:01] smichr commented on #11006
sympify('1/3') gives a Rational which evaluates to infinite precision; 1/3 is a floating point value with limited precision. I think this is the expected behavior and recommend that this be closed.

[2016-04-13 15:02] smichr commented on #11001
Although I have a solution for this I haven't added it to the cited PR. One of the problems is that the `sum_of_foo_squares` routines only give a single solution rather than give all solutions.

[2016-04-13 16:48] vperic opened #11009 "Pretty printing expression, get too many minus signs (`- - - ...` instead of `- ...`)"
I am generating some expressions programatically and often, I get an expression of the form `- - - <whatever>`, where I'd obviously prefer a simpler `- whatever`. Looking at the srepr, I see there are more `Mul(Integer(-1), <whatever>)` objects than I'd expects. Calling simplify on this expression doesn't help --- is there another simplification function I should be calling?

[code]
Calling just `

[2016-04-13 17:55] pelegm commented on #10993
But `binomial` is nothing more than a polynomial, in fact. Shouldn't `solve` recognize it, and expand it instead of raising? That sounds easy enough...

[2016-04-13 18:27] asmeurer commented on #11009
I get this in SymPy 0.7.6 but not in SymPy 1.0 (or master). I think the bug has been fixed.

[2016-04-13 18:27] #11009 closed

[2016-04-13 18:42] vperic commented on #11009
Ah, you're right. Thanks, and sorry for the bother.

[2016-04-13 19:24] Nitin216 commented on #11000
thank you @smichr so is this now closed.

[2016-04-13 19:46] satels opened #11010 "latex print error Limit(((1+1/x)**x), x, oo)**2"
[code]
the result with latex syntax error:

testing page: https://cdn.mathjax.org/mathjax/latest/test/sample-dynamic.html

But must:
[code]

[2016-04-13 21:05] #11006 closed

[2016-04-13 22:08] florianGithub commented on #10986
Thanks for the answers! Nitin216 is right Firefox and IE work, Chrome only shows the bar.
I found this: https://github.com/mathjax/MathJax/issues/1300
I right clicked on the output -> Math Settings -> MathML and now the math display is really bad:
![bad math rendering](https://cloud.githubusercontent.com/assets/14261779/14511003/e2a058fc-01d4-11e6-8553-d40002917314.PNG)
Unfortunately, if I right c

[2016-04-13 22:26] moorepants commented on #10986
@florianGithub You need to submit the issue to MathJax or Jupyter Notebook. SymPy just uses those libraries and we don't necessarily know how to fix it.

[2016-04-14 00:47] smichr commented on #11004
Nothing stands out to me as being wrong:

[code]

The only thing different in case 3 is that the n has not been replaced (because doing so doesn't change the expression to a number that can be evaluated) so it isn't combined in with the numerical term -- thus 0.9189 instead of 1.266.

Is there something that I am missing?

[2016-04-14 01:13] clsn opened #11011 "Scientific notation should be delimited for LaTeX"
[code]

That's a double superscript, and raises an error in LaTeX rendering on qtconsole.  I would guess that the latex rendering of the S('1.453e4500') should be wrapped in {}s to prevent that.

[2016-04-14 05:01] mhlr commented on #11004
In my last example
[code]
There is no numerical term that comes from  `n`. It does not depend on `n` at all. Where did the `n` go?
Also when you divide through by `(k + 1)` coefficient of `log(k + 1)` is `0.5*k*k/(k + 1)` which
not equivalent to that in the other evaluations.

In the `z.simplify().n(4, subs={n:2})` case I do not understand the explanation:

What is the difference between `X.n(4, s

[2016-04-14 06:25] Nitin216 commented on #11010
@satels I am getting right answer. Mine is coming right. I am currently using Python 2.7.11.
The output is:
[code]

[2016-04-14 06:27] satels commented on #11010
@Nitin216 you use last git sympy version?

[2016-04-14 06:39] Nitin216 commented on #11010
@satels Mine is upto date.
[code]
and also repository is latest too.

[2016-04-14 15:24] isuruf commented on #10928
See below for a benchmark,
https://gist.github.com/isuruf/260739f0570e0bc9610749deb30b84bc

[2016-04-14 15:28] certik commented on #10928
Looks like we should. @isuruf, can you also add symengine's integer into your benchmark? I would expect similar result as the gmpy one, but let's make sure.

[2016-04-14 15:32] isuruf commented on #10928
@certik, done

[2016-04-14 16:00] certik commented on #10928
@isuruf thanks. So symengine is 1.17x slower than gmpy, python's Fraction is 13,239x slower than gmpy and sympy is 16,091x slower than gmpy. Of course, the two numbers `a` and `b` that you tested are huge, so that's why. But still, sympy is more than 4 orders of magnitude slower, that's a lot.

Finally, given that symengine is initializing the Integers just like for a symbolic expression, while gm

[2016-04-14 16:08] isuruf commented on #10928
SymEngine slowdown compared to GMP is fine, we do more stuff like allocate more memory, etc. Also the computation is very small.

Btw, what I found most interesting is that the arithmetic methods for Rationals have never been touched after the initial commit at https://github.com/sympy/sympy/commit/3d537a982287206cf52be50cf353f86daaff7378.

[2016-04-14 16:58] gxyd commented on #11010
@satels this issues was fixed by PR #10824 in sympy git version.

[2016-04-14 21:54] eronlloyd commented on #6810
I'm beginning to experiment with sympy.stats, and wonder if this and #6815 are what prevents the proper calculation of probability calls such as P(0.5 < X < 0.75) in SymPy? Conditional calls such as

`P(X > 0.5, X < 0.75)`

yield a different result and are not the expected way an area is calculated given P(a < X < b), where a and b are ordinates on a normal distribution.

I was going to file a new

[2016-04-15 13:04] isuruf commented on #10927
Reported by @CodeMaxx,
`Eq(-oo, oo)` is now True.

cc @smichr

[2016-04-15 14:16] smichr opened #11015 "solveset(oo*x - 1) -> {0}; should be {}"
Substitution of 0 into the expression `oo*x - 1` gives `nan - 1` -> `nan`, so 0 should not be reported as a solution from `solveset` (and `nan` should not be reported as the solution from solve).

[code]

[2016-04-15 14:41] smichr opened #11016 "diop: sum of squares needs to try more options to satisfy conditions"
[code]

Currently, only a single solution is returned to diophantine, (-10, -3, 0, 1, 1, 1, 1), but that one doesn't satisfy the condition that the values be nonnegative, so the empty set is returned rather than the solution without negatives.

[2016-04-15 15:01] smichr commented on #10930
In the case that is failing, you are solving a system of equations with the *number symbol* pi whose value is 3.14... when evaluated; when it doesn't fail, you are using the symbol named pi. By using the square brackets the way you did, you forced `solve` to solve the single equation using the matrix method. If you had left the brackets off, you would have obtained a solution.

There still remains

[2016-04-15 17:49] sscondie opened #11017 "Error in integration of 1/(1-x)"
Hi,

I can't tell if this has already been reported, but when running this system:

[code]

And inputing the following:
[code]

The output is
```-log(x - 1)```

when the expected output is
``` -log(1 - x) ```

[2016-04-15 22:05] vassbu commented on #10610
Yes,
here is one:

1                                      # Bug i SymPy!!

x/2 - 1/2

[2016-04-16 06:44] Shekharrajak commented on #11015
I think these should be EmptySet
[code]
Right ?

[2016-04-16 09:23] AkshaySiramdas commented on #11017
Actually, Both are the same.
`diff(-log(x - 1),x` = `-1 / (x - 1)`
if the minus sign in the numerator is taken down to denominator the expression would become
`1 / (1 - x)`
which is the required answer. Though the answer is correct it is not the desired one.

[2016-04-16 09:29] AkshaySiramdas commented on #11015
`solve(oo*x,x)` already is giving emptyset.

[2016-04-16 17:20] #11010 closed

[2016-04-16 18:23] Shekharrajak commented on #11016
From the current branch, I got :

[code]

[2016-04-16 18:26] smichr commented on #11016
OK, for demonstration purposes, declare all symbols as negative. I think you will get an empty set.

[2016-04-16 19:58] souravsingh commented on #11007
I would like to work on this. How do I start?

[2016-04-16 19:59] souravsingh commented on #10964
Is the issue fixed?

[2016-04-16 20:09] moorepants commented on #10964
#10965 gives a fix. It just needs a review.

[2016-04-16 23:21] vasdommes opened #11020 "[tensor module] incorrect evaluation of TensAdd.data"
The code below gives a simple example when TensAdd.data is evaluated incorrectly.
`add_1` and `add_2` are equivalent expressions, both must be equal to zero.

[code]

The cause of problem: after canonicalization free indices in first and second argument of `add_2` are stored in different order (`a, b, c` and `b, c, a`, respectively):
[code]

[2016-04-16 23:22] vasdommes commented on #11020
@Upabjojr is it bug of `TensMul.canon_bp()` or `_TensorDataLazyEvaluator._get()`?

[2016-04-16 23:36] vasdommes commented on #10972
@Upabjojr I don't have enough free time to contribute actively and regularly, but I feel like making some contributions from time to time.

By the way, I found another bug with `data` evaluation: #11020

[2016-04-17 02:40] smichr opened #11021 "diop: power_representation(4**5, 3, 1) -> (4,)"
[code]

The above answer is not right since `4**3 != 4**5`.

Addressed by #10997

[2016-04-17 04:55] Shekharrajak commented on #11016
If `eq=Add(*[i**2 for i in symbols('x:6',negative=true)])` then it returns empty set.
So if there is no assumptions then it should return both negative and positive solutions.

[2016-04-17 10:52] Upabjojr commented on #11020
I think the problem is the wrong summation: components of tensors in TensAdd are evaluated separately on each arguments, then naively summed.

Of course, in this way the the wrong components are summed, for example the component indexed by [0, 1, 1] in `a,b,c` should be summed with component indexed by [1, 1, 0] in `b,c,a`.

That is, it should be like:
[code]
where _C1_ and _C2_ are the arrays of

[2016-04-17 11:03] Upabjojr commented on #11020
Numpy has some functions that could help solve this problem:

* http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.swapaxes.html
* http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.rollaxis.html

To determine an unambiguous order for indices, I'd suggest to use:
`sort( ... , key=default_sort_key)`
with `default_sort_key` being defined somewhere in SymPy.

[2016-04-17 11:23] jksuom commented on #10996
It seems that the version of heuristic gcd implemented in SymPy makes use of following upper bound for the roots ``r`` of a polynomial ``f``:
``|r| < f_norm / |f.LC| + 1``,
where ``f_norm`` is the maximum absolute value of the coefficients and ``f.LC`` is the leading coefficient. However, this is not exactly how it is implemented. Instead of the rational quotient ``f_norm / |f.LC|`` the truncated

[2016-04-17 13:28] smichr commented on #11015
I agree.

[2016-04-17 13:56] bjodah commented on #11007
@souravsingh you can start by writing a (failing) test of what should be supported and add it to [test_finite_diff.py](https://github.com/sympy/sympy/blob/master/sympy/calculus/tests/test_finite_diff.py), then modify [finite_diff.py](https://github.com/sympy/sympy/blob/master/sympy/calculus/finite_diff.py) to allow those tests to pass (using `$ ./bin/test sympy/calculus/tests/test_finite_diff.py`)

[2016-04-17 23:21] smichr commented on #11016
Currently only 1 solution is returned, but in #10997 I am returning all solutions (except for permutations of order and sign)

[code]

By "except for sign" I don't mean that the solution will contain no negatives. If a symbol is required to be negative then it is made so as seen in the set given.

[2016-04-17 23:49] AkshaySiramdas commented on #11015
I think `nan` could be returned as a solution coz there is no solution to the given equation. Another thing to try is to return a no-solution error.

[2016-04-18 05:00] lePerdu commented on #11021
Since `perfect[0] ** perfect[1] == n`:
[code]

[2016-04-18 13:54] smichr commented on #11021
I'm not sure if you are agreeing and pointing out where the problem is or disagreeing. The `power_representation` is supposed to give you the base that must be raised to the prescribed power. In the example I gave, that power was 3 and `4**5` cannot be represented as `k**3` where `k` is an integer, so no solution should be given. As mentioned, however, this has been addressed in the cited PR.

[2016-04-18 13:55] smichr commented on #11016
The non-trivial solutions containing 0 are also returned now.

[2016-04-18 15:16] yougaindra commented on #11021
I tried it and I got [(2,)], here's the [link](http://live.sympy.org/?evaluate=from%20sympy.solvers.diophantine%20import%20power_representation%20as%20f%0A%23--%0Alist(f(4**5%2C3%2C1))%0A%23--%0A)
BTW, what does this function supposed to do, I tried to lookup in documentation but couldn't find it?

[2016-04-18 16:54] asmeurer opened #11023 "LambdaPrinter and NumPyPrinter should have their own print methods"
Right now LambdaPrinter and NumPyPrinter just inherit the print method `_sympystr` from StrPrinter. They should have their own printers, so that it's easier to define lambdify behavior for custom subclasses.

[2016-04-18 18:42] asmeurer opened #11024 "dsolve should allow to pass in iterator for arbitrary constants"
Right now the arbitrary constants for `dsolve` are fixed to `numbered_symbols("C")`. There should be a flag to `dsolve` to pass in any iterator, similar to `cse`.

[2016-04-18 18:49] moorepants commented on #11023
I'd really like to see a PythonPrinter that prints code that can be evaluated numerically in Python. We have a "PythonPrinter" but it just prints the SymPy commands that you'd type in Python, as opposed to using the math module or numpy like the LambdaPrinter does. The word "lambdify" is confusing too.

Do we actually have a NumPyPrinter?

[2016-04-18 18:51] asmeurer opened #11025 "Better docs for custom printing"
We need better Sphinx docs for how to customize printing for custom classes, and also how to subclass the printers to customize printing for existing classes.

[2016-04-18 18:53] asmeurer commented on #11023
Yeah, NumPyPrinter is a subclass of LambdaPrinter (which I think is actually the Python printer you are looking for). Really all the lambdify "translations" ought to be implemented in the NumPyPrinter, so that it's just code generation. But that's a separate issue.

Also, I just realized that this can also be achieved by implementing `_imp_` on the custom subclass.

[2016-04-18 18:55] moorepants commented on #11023
Yeah, I can raise another issue.

[2016-04-18 18:57] asmeurer commented on #11023
Also, when implementing this, we may should implement a superclass fallback, for backwards compatibility.

[2016-04-18 21:09] smichr opened #11026 "diophantine(x**3+y**3-2) -> KeyError instead of {(1, 1)}"
[code]

[2016-04-18 23:05] vperic opened #11027 "Should lambdifying Max to numpy use np.amax or np.maximum?"
When lambdifying `Max` to the `numpy` format, `np.amax` is used. This function returns the maximal element of the passed array. While this is the same as the definition of sympy.Max ("Return, if possible, the maximum value of the list."), it doesn't strike me as very useful. This was added back in 2008 in commit `8f2653b0`. Numpy also has the function `maximum(a,b)`, which returns the element-wise

[2016-04-18 23:34] lePerdu commented on #11021
I was agreeing about the problem and proposing a solution.
[code]
is problematic because `perfect_power()` returns `(4, 5)` (`(2, 10)` for me). The base-exponent pair `(a, b)` from `perfect_power()` can be used if `b` is divisible by `p`: `a**(b / p)` is a solution to the equation because `(a**(b / p))**p == a**b == n`.

[2016-04-18 23:46] lePerdu commented on #11021
I see now that the idea above was covered (with a better implementation) by the commit [diop: general_sum_of_even_powers; sum_of_squares; sum_of_powers](https://github.com/sympy/sympy/pull/10997/commits/8605f310734fd1db18e4f4ab2d7c0b3d387bf7d6) just after my comment, so I guess I was a bit late.

[2016-04-19 00:22] asmeurer commented on #11027
Note that Max takes multiple arguments whereas maximum only takes two, but max and min are associative so you can nest them.

[2016-04-19 00:22] lePerdu commented on #11026
`coeff[term] == Integer(0)` should be `coeff[term] = Integer(0)` (assignment, not equality)

Now:
[code]

[2016-04-19 14:03] smichr commented on #11026
Thanks, got it in #10997.

[2016-04-19 14:06] richardotis commented on #11027
Reading the documentation for [`Max`](http://docs.sympy.org/0.7.1/modules/functions.html#sympy.functions.elementary.miscellaneous.Max), I'm not sure lambdifying to [`np.amax`](http://docs.scipy.org/doc/numpy/reference/generated/numpy.amax.html) is even correct. It makes more sense (to me, anyway) to imagine users wanting to apply a "max" operation to some number of arguments and have it vectorized

[2016-04-19 15:40] Nitin216 commented on #11024
@asmeurer how should i start ?

[2016-04-19 15:45] bjodah commented on #11027
@vperic to the best of my knowledge it didn't work until I wrote gh-10442 this year (motivated by a real-world need so I would argue it is very useful).

@vperic and @richardotis, I fail to see why `sympy.Max` would map to `numpy.maximum`:

[code]

whereas the amax case goes like:
[code]

Why not introduce `Maximum` in sympy, make it play nice with [NDimArray](https://github.com/sympy/sympy/blob/m

[2016-04-19 16:07] asmeurer commented on #11027
@bjodah that's the case with every lambdified function. `sympy.cos([1, 2])` doesn't work but `lambdify(x, cos(x), 'numpy')([1, 2])` does work.

I'd be curious to hear more about your use-case.

[2016-04-19 16:30] bjodah commented on #11027
@asmeurer, you're right my comparison was not fair. Perhaps @richardotis solution is the way to go given it does reproduce the behaviour of `lambdify` when `module='sympy'` for scalar input (which it looks as if it does), but our tests would guard against that anyways.

The usecasse was for obtaining bounds for the solution vector of a system of non-linear equations resulting from chemical equilib

[2016-04-19 16:31] asmeurer opened #11028 "Create a geometry object from an equation"
See https://stackoverflow.com/questions/36694813/convert-equation-in-string-format-to-linegeometry-object. There should be a function (or maybe class constructors) to create geometry objects from an equation.

[2016-04-19 17:04] Upabjojr commented on #10926
I think this is solved now.

[2016-04-19 17:04] #10926 closed

[2016-04-19 17:19] Nitin216 commented on #11028
@asmeurer How to get started on this problem.

[2016-04-19 17:36] lianggecm opened #11029 "Codegen very slow for large expressions"
I'm using codegen to convert symbolic expressions to Fortran code. Codegen becomes extremely slow for very large expressions (I have a test case that took almost two days to finish the codegen function). One reason for this slow codegen is the repeated runs of atoms in the routine function of the Codegen class (Lines 527, 576 and 578). I'd suggest to combine these three runs of atoms into a single

[2016-04-19 17:38] richardotis commented on #11027
This is a bit off-topic but since @bjodah is developing chempy and is from KTH (birthplace of computational thermo), he may be very interested to check out my related project, [pycalphad](https://github.com/pycalphad/pycalphad), which also uses sympy under the hood to compute equilibrium, but for (primarily) inorganic materials.

[2016-04-19 17:46] bjodah commented on #11029
How long does compilation of the generated source take? (what version of compiler and what optimization level did you use?)

[2016-04-19 18:01] lianggecm commented on #11029
I didn't compile that really long test case due to a mistake in my symbolic expression. My current cases typically take a couple of hours for codegen to finish and the compilation is almost instantaneous (<10s, Intel Fortran compiler, -O2).

I would also bring attention to this codegen issue:
https://groups.google.com/d/msg/sympy/omYuHN68-_U/faQiIWPuAAAJ
Not sure if I should open a separate ticket

[2016-04-19 18:04] moorepants commented on #11029
Can you give us the example long expressions? I've been printing really long expressions with our tools (1000s and 1000s of lines of code) and have more trouble with compilation time than I do with code gen time. If you can give us a concrete minimal example to test, we can look in to it.

[2016-04-19 18:08] bjodah commented on #11029
A separate ticket is easier I think.
It would be valuable if you could construct an example which takes on the order of half a second or so (and also has the same bottle neck as your long running example), and ideally formulate it as a benchmark and submit it to:
https://github.com/sympy/sympy_benchmarks/
writing a benchmark is quite easy, see e.g.: [benchmarks/dsolve.py](https://github.com/sympy/

[2016-04-19 18:10] bjodah commented on #11027
@richardotis thank you for reaching out, I'll definitely look into your project. Some of the things we are donig are very similar, feel free to contact me on my email too.

[2016-04-19 19:18] ianhbell commented on #10926
Thank you!

[2016-04-19 19:58] dibus2 opened #11030 "doit method of symbolic sum slowed since 0.7.2"
Hi all, I am new to gitter but I have been using sympy for several years for algebraic manipulation as part of a project. I started with sympy-0.7.2 and never really updated until recently (to version 1.0). However, I have found dramatic differences in speed when using the doit method of symbolic sums. Of course I can see that this method has been modified but I am having a hard time figuring out

[2016-04-19 20:10] bjodah commented on #11030
@dibus2 would you mind opening a PR with your example against:
https://github.com/sympy/sympy_benchmarks/

See e.g. [benchmars/dsolve.py](https://github.com/sympy/sympy_benchmarks/blob/master/benchmarks/dsolve.py).

That way we can bisect where it got slowed down. (see e.g. [here](http://www.moorepants.info/misc/sympy-asv/))

[2016-04-19 20:15] lianggecm opened #11031 "MutableDenseMatrix determinant calculation failed for complicated matrix"
The following matrix det calculation failed:

`from sympy import Matrix, Symbol, symbols, exp, diff, sqrt, Rational, Idx
import sys, time

C00, C01, C02, C10, C11, C12, C20, C21, C22 = symbols('C00, C01, C02, C10, C11, C12, C20, C21, C22')
F00, F01, F02, F10, F11, F12, F20, F21, F22 = symbols('F00, F01, F02, F10, F11, F12, F20, F21, F22')
Fg11, Fg12, Fg13, Fg21, Fg22, Fg23, Fg31, Fg32, Fg33=symbol

[2016-04-19 20:17] dibus2 commented on #11030
@bjodah  I am sorry l am new to the environment and not sure I follow you. Can you elaborate on what you need me to do ?

[2016-04-19 20:28] bjodah commented on #11030
@dibus2 no worries. We have a guide here:
https://github.com/sympy/sympy/wiki/Development-workflow

In your case you don't need to do too much though, off the top of my head (untested):
1. fork sympy_benchmarks in github by clicking the fork button
2:
[code]
3. open github.com/dibus2/sympy_benchmarks in a browser, there should be a button "Create pull-request"

If this looks way too complicated fo

[2016-04-19 20:45] dibus2 commented on #11030
@bjodah Thanks for the details I think it should be there now.

[2016-04-19 21:03] asmeurer commented on #11030
Here is the full script, in case it gets taken down

[code]

[2016-04-19 21:05] asmeurer commented on #11030
I bisected the problem to

[code]

the problem is that piecewise_fold is way too slow for converting

[code]

to

[code]

[2016-04-19 21:07] asmeurer commented on #11030
(that's specifically [here](https://github.com/sympy/sympy/blob/6d6b31c149654e37522d8f10d4739eaaee053292/sympy/concrete/delta.py#L299))

[2016-04-19 21:51] jschall opened #11032 "Matrix does not support division by 1x1 matrix"
1x1 matrix should be interpreted as a scalar in this situation. Matlab does this.

[2016-04-19 22:04] nschloe opened #11033 "codegen from IndexedBase: Range is not defined for all indices in: u[k]"
(From https://groups.google.com/forum/#!msg/sympy/VtxujWe5Fkc/EZp8aU6DBQAJ.)

From an object like `sin(u[k]) + u0[k]` I would like to get the corresponding C code as a string. Since `k` is a variable, I cannot use `MatrixSymbol`, but there's always `IndexedBase` of course. With
[code]
things are looking good, but then
[code]
tells you
[code]
I could perhaps go through all `IndexedBase` instances i

[2016-04-19 23:07] jschall opened #11034 "Matrix has no attribute count"
Matrix does not support http://docs.sympy.org/dev/modules/core.html#sympy.core.basic.Basic.count

[2016-04-20 00:52] lePerdu commented on #11031
`Ce=Fg_inv.TCFg_inv` should be `Ce=Fg_inv.T*C*Fg_inv`. This is the problem if you got an `AttributeError`.

If you did have the '*'s and it just did nothing, then try the Berkowitz method: `Cedet=Ce.det(method="berkowitz")`; this worked fine for me. I think the other ones (Bareiss and LU decomposition) are simply too slow for matrices with elements this complicated.

[2016-04-20 01:13] lianggecm commented on #11031
Somehow those "*"s were missed upon copying the coding to Github.

Thanks for pointing to the berkowitz method. It works perfectly.

[2016-04-20 01:15] lePerdu commented on #11031
Looking at the code, the Bareiss and LU decomposition algorithms call `expand()` on the determinant before returning while the Berkowitz one does not. That's what takes them so long.

[2016-04-20 03:56] lianggecm commented on #11029
I created a benchmark file based on my application. This version takes about 1.5 seconds to finish.
https://github.com/lianggecm/Sympy_Codes/blob/master/codegenperf.py

I've done a preliminary test to combine the three atoms runs into a single one. The time saving is about 10%. See here:
https://github.com/lianggecm/Sympy_Codes/blob/master/codegen.py

[2016-04-20 04:00] lianggecm commented on #11029
@moorepants
I misguided you in my previous post with regard to the compilation time. I was actually using my own copy of codegen.py to generate the Fortran code and it uses cse to remove all common subexpressions before the Fortran code generation. Without this cse step, the generated Fortran code cannot compile at all.

[2016-04-20 04:05] lianggecm opened #11035 "Fortran code generated by codegen for long expressions exceeds the continuation line limit"
The Fortran language has a limit on the number of continuation lines:
http://fortranwiki.org/fortran/show/Continuation+lines

For long expressions, Fortran code generated by the codegen function exceeds such a limit and is not compilable.

[2016-04-20 04:28] lianggecm opened #11036 "diff failed for certain complicated expressions"
Here's the code to reproduce the failure:

[code]

Note that 'diff(Cedet, C[0,0])' works perfectly fine.

[2016-04-20 10:55] mloubout commented on #11007
Another non-supported mode (and easier to fix I think) is to able to give the product of two function as an input :

which would give

-f(x - 1/2)*g(x - 1/2) + f(x + 1/2)*g(x - 1/2,)

[2016-04-20 14:47] smichr commented on #11035
Perhaps `cse` should be used for such expressions.

[2016-04-20 14:54] smichr commented on #11028
I would look at the different geometry objects and see what forms of equations should be recognized. Then I would create a function, perhaps `geometry_object(eq)`, that either creates an object or returns None or an error.

[2016-04-20 15:53] moorepants commented on #11035
We definitely need to support and optional use of cse in codegen. It is on the todo list. It is just that no-one has implemented it.

[2016-04-20 16:03] moorepants commented on #11029
It would be great if you could make a pull request for each of those links. The first should go to the sympy benchmarks repository and the second could be to the sympy code base. We can discuss the changes in the PR.

[2016-04-20 16:06] moorepants commented on #11035
I've opened a distinct issue, #11038 about the CSE option. Note that we have some work by @asmeurer and @jcrist that introduce this: #10486.

[2016-04-20 16:22] isuruf commented on #10928
@moorepants, now that #11019 is in, can you run the benchmarks to see if any had any impact?

[2016-04-20 17:55] moorepants commented on #10928
Is there a benchmark in our benchmark repo? I'm running the latest master now from our benchmark repo.

[2016-04-20 17:56] moorepants commented on #10928
This is the repo: https://github.com/sympy/sympy_benchmarks

[2016-04-20 17:58] isuruf commented on #10928
I can send one, but it's going to be an artificial benchmark and I would prefer some benchmark that has applications. So, if there's already a benchmark in `sympy_benchmarks`, that #11019 speeds up, then that'll be good.

[2016-04-20 18:32] vasdommes commented on #11020
@Upabjojr I tried to fix this issue without any major changes, see PR#11037

[2016-04-20 19:58] moorepants commented on #10928
An artificial benchmark is fine. That's mostly what we are doing so far. Results are here:

http://www.moorepants.info/misc/sympy-asv/

[2016-04-20 22:03] vasdommes opened #11039 "[tensor module] Free index order problem in tensor expressions"
I am opening this issue for discussion of the problem mentioned by @Upabjojr in comments for issue #11020:

In current implementation the free indices in _Tensor_, _TensMul_ and _TensAdd_  are stored (in `free_args` property) in lexicographical order (see also PR #11037 for `TensAdd.data` bugfix).
This can lead to rather surprising bevaviour:

[code]

Same problem for _TensMul_:

[code]

...and fo

[2016-04-20 22:19] vasdommes commented on #11039
My opinion:

For _Tensor_ and _TensMul_ it is a bug of `__call__()` method.

For _TensAdd_ it is either
(a) bug, if the free index order is the same for all arguments,
or
(b) undefined behaviour, if the free index order in arguments is different and one cannot obtain the correct order unambiguously.

I think, in the case (b) we should raise an exception: as said in The Zen of Python,

[2016-04-20 22:21] certik commented on #11024
@Nitin216 I was going to post here a simple patch to get started, but it turned out to be a lot of work to get something minimal working, so I just submitted it as a PR #11040.

[2016-04-20 22:21] vasdommes commented on #11020
@Upabjojr I opened issue #11039 for discussion of free index ordering problem.

[2016-04-20 22:31] jschall opened #11041 "cse can't accept a list of matrices as input expressions"
I think this is part of a more general problem where Matrix does not inherit from Basic when it probably should. Am I off base here?

[2016-04-20 22:41] jschall opened #11042 "MatrixBase does not inherit from Basic"
This seems like it probably causes https://github.com/sympy/sympy/issues/11041 and https://github.com/sympy/sympy/issues/11034

[2016-04-20 23:09] jschall commented on #11041
from sympy import *

x = Symbol('x')
y = Symbol('y')
M = Matrix([[2*x+y, 2*x+y]])

subexpr1, outexpr1 = cse(M)
subexpr2, outexpr2 = cse([M])
subexpr3, outexpr3 = cse([M,M])

print type(outexpr1), type(outexpr1[0])
pprint(subexpr1)
pprint(outexpr1)
'''
<type 'list'> <class 'sympy.matrices.dense.MutableDenseMatrix'>
[(x₀, 2⋅x + y)]
[[x₀  x₀]]
'''

print type(outexpr2), type(outexpr2[0])
pprint(subex

[2016-04-20 23:11] jschall commented on #11041
Ah. I thought I had sympy 1.0 but I had an ubuntu package giving me 0.7.4. Closing.

[2016-04-20 23:11] #11041 closed

[2016-04-21 03:51] #10931 closed

[2016-04-21 09:51] saeedghsh opened #11043 "lambdify failure in Mac"
Hi,

Please consider the following scrip:
[code]
The result of running the script in Ubuntu is sound:
[code]

Unfortunately the result in Mac is otherwise:
[code]
It seems that in Mac `sym.lambdify` fails to associate the existing symbolic `x, y` in the expression `c.equation()` with those `x,y` that are passed to the `sym.lambdify`. As a consequence `f` does not become a function of `x,y`.

PS:
U

[2016-04-21 20:00] asmeurer opened #11044 "lambdify of Transpose is wrong"
Reported from https://stackoverflow.com/questions/36730931/converting-expression-involving-tranpose-of-vector-to-numerical-function-with-la

[code]

On a related note, the `str` printer for Transpose should print valid Python.

[2016-04-22 10:51] satels opened #11045 "integrate(1/(x*sqrt(x**2-1)), (x, 1, 2)) Sympy latest version AttributeError: 'Or' object has no attribute 'lts'"
Sympy with latest version:

[code]

[2016-04-22 17:22] Nitin216 commented on #11044
Without even multiplication of ```x.T`` with ```x```. It is still giving same error and its due to ```eval(lstr,namespace)``` statement in lambdify.py.I found that but can't see how to remove that.Can someone push me in right direction.

[2016-04-22 18:17] asmeurer commented on #11044
One need to change the `str` printer for Transpose (in sympy/printing/str.py) so that it prints `x.T` instead of `x'`.

I think lambdify still won't work after that, but it won't give a SyntaxError.

[2016-04-22 18:37] Nitin216 commented on #11044
@asmeurer Thank you. Just gonna do it now.

[2016-04-23 15:42] smichr commented on #10800
By default it only uses `_nodes` and `default_sort_key`. I would be interested to know of any case where it is slow.

[2016-04-23 15:42] smichr commented on #10800
Here's another simple printing failure:

[code]

[2016-04-23 17:02] asmeurer commented on #10800
I does get called. An easy way to check is to put a stack print in `_eval_evalf`.

[code]

So it looks like `as_terms` calls `complex()`, which uses evalf (this is the same instance in all three tracebacks here). I think for testing this, we should create a dummy Function subclass whose `_eval_evalf` raises an exception and print some expressions containing it.

Also worth noting: `_should_evalf`

[2016-04-24 02:32] trxrunner opened #11047 "Solve misses solution with 1/ln(x)"
[] #should be [0]

EmptySet() #should be {0}

0

[2016-04-24 11:17] satels opened #11048 "evaluate(False) and Matrix wrong result"
Sympy with latest version

[code]
Must be pretty print result:

[code]

[2016-04-24 11:32] Nitin216 commented on #11048
@satels I m geting this and i think this is correct.
[code]

[2016-04-24 11:35] satels commented on #11048
[code]
is not correct.

Will be:
[code]

[2016-04-24 15:05] smichr opened #11049 "diop: recursion error"
[code]

addressed by #10997

[2016-04-25 00:24] AStorus commented on #11032
Similarly should multiplication of an NxN by a 1x1 be treated as NxN * a scalar?

[2016-04-25 03:59] moorepants commented on #11032
Some previous related discussion: https://github.com/sympy/sympy/issues/9190

[2016-04-25 13:16] smichr opened #11050 "diop: partition(n, k) gives redundant result"
[code]

That last result should just be [(2,1)]. This is fixed in #10997

[2016-04-25 14:02] melissamenu commented on #10933
Hej,
Do you find any solution to your problem ?

[2016-04-26 02:08] michaeldongyuxi opened #11051 "1-1.1+0.1=−8.32667268468867^10−17?"
So when I input 1-1.1+0.1, the output is −8.32667268468867^10−17

[2016-04-26 02:28] asmeurer commented on #11051
Yep, that's how Python floats (i.e., IEEE-784 floats) work. See https://docs.python.org/3.5/tutorial/floatingpoint.html.

The expression `1-1.1+0.1` is evaluated entirely by Python. To use SymPy Floats, use `Float("1") - Float("1.1") + Float("0.1")`. This still gives the same result, because of the same issues, but you can know that since the default precision is 15, a value of 1e-17 is small enou

[2016-04-26 02:28] #11051 closed

[2016-04-26 02:32] asmeurer commented on #11051
Or use SymPy Rational numbers,

[code]

[2016-04-26 03:31] AStorus commented on #11032
@moorepants thanks for that

@jschall something as simple as this?

[code]

[2016-04-26 07:06] mikeroberts3000 opened #11052 "Matrix expressions returned by trigsimp are printed incorrectly"
This issue seems like it is caused by a strange interaction between sympy matrices, trigsimp, and pretty printing.

[code]

This code snippet prints the following console output:

[code]

That this console output is all correct, but notice that the matrix expression ```F_dot_simp``` is simplified differently than the scalar expression ```f_dot_simp```.

When these expressions are (pretty) printed

[2016-04-26 10:35] yoongkang commented on #6384
I'd volunteer to take on solve() and/or _solve(), but I'd like to know if the community is open to refactoring this function first before I spend days on it. It seems to me like the test harness is adequate.

[2016-04-26 15:30] moorepants commented on #11052
What version are you using? I think we've seen this reported recently. I think it is simply an error in the Latex printer.

[2016-04-26 16:09] asmeurer commented on #6384
A lot has changed since this issue was opened. Most of the community effort these days is going into solveset, which is a redesigned version of solve.

[2016-04-26 18:20] mikeroberts3000 commented on #11052
When I print ```sympy.__version__```, I get 1.0 as output.

[2016-04-26 18:25] mikeroberts3000 commented on #11052
To call this issue "simply" an error in the Latex printer is perhaps sweeping some of the problem under the rug. Yes, indeed, this seems to be a problem with Latex printing. However, my opinion is that if I do trigsimp on a matrix expression, I should get a character-for-character-identical result as if I do trigsimp separately on each of the entries of the matrix. This is not what happens in the

[2016-04-26 18:40] moorepants commented on #11052
If you do this:

[code]
you get 0. And if you do:

[code]

you'll also see that these are the same mathematical expressions.

This is some kind of printing error. I don't think that we have to guarantee exactly the same results form trigsimp from two slightly different expressions. It would be nice if we could, but that's not really how simplification works.

[2016-04-27 00:24] yoongkang commented on #6384
Thanks for that, I'll leave solve() alone then. Solveset seems to be a candidate for refactoring too -- although it doesn't have any particular long functions there seems to be a lot of reliance on type-checking.

I'd discuss a proposal, but I'm not sure if this is the right place. Sorry if this was written somewhere but do design discussions go on Github or the mailing list? Thanks.

[2016-04-27 00:55] asmeurer commented on #6384
You can do either place.

[2016-04-27 16:11] dibus2 opened #11054 "Slow down of doit method for symbolic sums"
Hi all, I have found another slow down from version 0.7.2 to 1.0.0 still related to the doit method of the unevaluated sums. However, this is not related to the piecewise_fold method. On my machine it takes four times longer to evaluate such expression as the one in the linked file. I link the example that examplify the issue. http://lpsc.in2p3.fr/lyonnet/shared/test_doit2.py

[2016-04-27 16:29] asmeurer commented on #11054
Here is the full script

[code]

[2016-04-27 18:46] delooper opened #11056 "subs does not like equations?"
Greetings,

If I have an expression like exp1 = L^3 * W and perform a substitution,

exp1.subs(L, 24)

sympy 1.0 works fine.  But if I put exp1 into an equation:

eq = sp.Eq(D, exp1)

substitute fails:

eq.subs(L, 24)

returns the error message:

TypeError: _subs() missing 1 required positional argument: 'new'

This would appear to be a bug.

[2016-04-27 21:41] asmeurer commented on #11056
I can't reproduce this. Can you give a full code snippet that gives the error?

[2016-04-27 21:53] delooper commented on #11056
``import sympy as sp
 L, I = sp.symbols("L I")
 blah = sp.Eq(D, L)
 blah.subs(L, I)

That does it.  The error message is quite large:

``TypeError                                 Traceback (most recent call last)
/usr/local/lib/python3.5/dist-packages/sympy/core/cache.py in wrapper(*args, **kwargs)
     92                 try:
---> 93                     retval = cfunc(*args, **kwargs)
     94

[2016-04-28 04:34] smichr commented on #11056
What is D for your example? When I do the following, I don't have a problem:

[code]

[2016-04-28 04:48] smichr opened #11058 "implement faster partition counting function"
The `nT` function could benefit from the work of [Ken Locey](https://github.com/klocey/partitions/blob/master/README.md) who published under the MIT license a couple of nice functions:
- [x] `NrParts` (Find the number of partition for a given total q and number of parts n) and
- [x] `P` (A function to return the number of partitions of q with k or less parts). This is perhaps not necessary since t

[2016-04-28 04:57] cy18 opened #11059 "The shape of output is wrong when integrating a zero matrix"
Code causes this error:

    from sympy import Matrix, integrate, symbols

    ma = Matrix([1, 0])
    t, to = symbols('t, to')
    inte = integrate(ma, (to, 0, t))
    print('inte=', inte)  # inte = Matrix([t, 0]), as expected

    ma = Matrix([0, 0])
    t, to = symbols('t, to')
    inte = integrate(ma, (to, 0, t))
    print('inte=', inte)  # inte = 0, expecting Matrix([0, 0])

I'm using master

[2016-04-28 05:49] delooper commented on #11056
Apologies, I am using D = sp.Function("D").  Somehow I forgot to paste that.

If I use D = sp.Symbol("D") there is no problem.

So it appears to be a problem with having an equation between a function and some symbolic expression of symbols.

[2016-04-28 13:51] woodscn opened #11060 "Heaviside undefined at zero"
The behavior of the Heaviside step function was recently changed such that H(0) is no longer defined, where previously it evaluated to 1/2. (See #9907 #9909) The reasoning given for this change was that there was no particular reason to choose a value of 1/2 over other choices.

Mathematically, this makes good sense. Pragmatically, it breaks code and makes it difficult to use Heaviside functions a

[2016-04-28 14:19] moorepants commented on #11060
@zanzibar7 @jksuom

[2016-04-28 14:50] zanzibar7 commented on #11060
We have an open issue related to this in the specific context of laplace transforms (issue #10840 addressed by pull request #10955).

I like the idea you are proposing, as an alternative.  I'm taking a quick look at a prototype implementation, and have snagged. `Heaviside` subclasses `Function` for it's machinery, so there is no constructor that can simply absorb the new key word argument. I'm loo

[2016-04-28 15:41] zanzibar7 commented on #11060
I don't know how to implement this.  I don't have a good understanding yet of sympy's conventions with
objects and classes representing functions.  The classes `Piecewise` and `hyper` for hypergeometric functions provide examples of how to override `Function.__new__`, but unless the new default value for `Heaviside(0)` is made a class property, then it I don't see how it can get propagated into th

[2016-04-28 15:57] asmeurer commented on #11056
You can't have unapplied functions in expressions (see https://github.com/sympy/sympy/issues/4787). If you want to use a function that isn't called with any arguments, you have to use `Lambda`.

[2016-04-28 15:57] #11056 closed

[2016-04-28 16:28] jksuom commented on #11060
Perhaps the value could be made a class attribute ``H0``, initially ``None``. It could be set by something like ``Heaviside.setH0(value)``. (Or maybe by ``setattr(Heaviside, 'H0', value)``).

[2016-04-28 16:32] woodscn commented on #11060
This would (I think) have the effect that changing its value in a script would propagate to every other instance of H in that script. For my specific purpose, that's better, but I wonder if it would violate the principle of least surprise.

[2016-04-28 17:55] delooper commented on #11056
Thanks.

[2016-04-28 18:15] isuruf commented on #11042
I think that's by design. Basic is immutable but not all types of MatrixBase are immutable. Only immutable matrix types like ImmutableDenseMatrix inherit from Basic.

[2016-04-28 18:50] asmeurer commented on #11042
Yes, this is intentional. Use ImmutableMatrix is you need a matrix that subclasses from Basic.

[2016-04-28 18:50] #11042 closed

[2016-04-28 23:48] LeopoldKellers opened #11061 "abs() returns complex numbers"
[code]

Ouch! abs() returning complex numbers must be a bug, right?

I ran setup.py test on my machine and nothing failed unexepectedly - isn't there anything in there to catch such a fundamental flaw?
I am willing to add a test case for the future at least! Would core/tests/test_complex.py be the right place for that?

What I am less sure about: is it really neccessary for a simple thing like abs

[2016-04-29 06:28] isuruf commented on #11061
This is due to a rounding-off error when `evalf` is called.

[code]
See the option `chop` for `evalf`

[2016-04-29 06:31] isuruf commented on #11061
You can create a Abs object if you don't want it to evaluate.
[code]

[2016-04-29 14:26] LeopoldKellers commented on #11061
Hello,

Thanks a lot!

So this is actually expected behaviour?
I looked at the documentation again and it does indeed not tell anything about the type that abs/Abs evaluate to. So seems like I made an incorrect assumption. I apologize. Maybe this could be mentioned in the docs then, to prevent others from falling for the same thing? For me it is pretty counterintuitive at least. I guess I was misl

[2016-04-29 17:22] smichr commented on #11061
Can you use `re`?

[code]

[2016-04-29 17:30] kirankonduru opened #11062 "Error while simplifying equations containing csc and sec using trigsimp_groebner"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\User\AppData\Local\Programs\Python\Python35-32\lib\site-packages\sympy\simplify\trigsimp.py", line 379, in trigsimp_groebner
    num = Poly(num, gens=gens+freegens).eject(*gens)
NameError: name 'Poly' is not defined

[2016-04-29 18:05] asmeurer opened #11063 "Some wrong answers from rsolve"
From https://stackoverflow.com/questions/36905146/is-it-possible-to-find-the-close-form-solution-of-following-recurrence-relation

[code]

Both answers are wrong (the correct answers are `2**n*t` and `t*rf(y, n+1)`). A simple substitution in each case shows that `t` isn't even right as a trivial solution.

[2016-04-29 18:30] #8943 closed

[2016-04-29 18:30] #9538 closed

[2016-04-29 18:30] #9539 closed

[2016-04-29 18:30] #10999 closed

[2016-04-29 18:30] #11000 closed

[2016-04-29 18:30] #11016 closed

[2016-04-29 18:30] #11021 closed

[2016-04-29 18:30] #11026 closed

[2016-04-29 18:30] #11049 closed

[2016-04-29 18:30] #11050 closed

[2016-04-29 20:39] zanzibar7 commented on #11060
Looks like sympy's design doesn't allow keyword args to granularly refine the Function class.  But
we can pass in a second argument similar to a branch-cut specification and get similar results.  Here's how it might work.

[code]

[2016-04-29 20:47] wxgeo opened #11064 "solveset(x+sqrt(x**2-5)>0,x,S.Reals) gives wrong resullt"
In [4]: solveset(x+sqrt(x**2-5)>0,x,S.Reals)
Out[4]: ∅

Result should be [sqrt(5), ∞)

[2016-04-29 20:48] woodscn commented on #11060
I don't think that would solve the problem. The real objective here is to allow something like the following:

`>>> expr = Heaviside(x, x0=y)`
`>>> expr.subs({x: 0}) == y`
`True`

Something like `expr.set_zero(y)` would also work. The point is to change the default behavior of H, either for a specific instance or globally, and these changes need to propagate through sympy operations. Is there no w

[2016-04-29 20:58] zanzibar7 commented on #11060
The proposed fix above deals with your case naturally, with the exception that it just doesn't have the
informative `x0 = ` keyword to remind us of the role of the second argument.

Changing the behavior globally is easy, though, as you point out, can cause suprise or confusion.  This approach only effects individual instances, and still gives you allot of flexibility.  Do you have other test case

[2016-04-29 21:07] LeopoldKellers commented on #11061
Indeed, this does the job:
[code]
And so far also seems to work for my more complicated functions!

I did not attempt this myself because for `re` the docstring suggests I shouldn't use it at all:
[code]
but going ahead directly and using `as_real_imag` instead of `re` did not help either (c.f. the last example in my previous post)

Well then, thanks a lot! The crucial part that I was not aware of

[2016-04-29 21:08] woodscn commented on #11060
I'm sorry about that; I misunderstood you. I thought that you had to specify the zero-behavior at evaluation time. I checked out your PR, and I think it fixes my problem nicely.

[2016-04-29 21:15] jschall commented on #11032
Closing in favor of #9190.

[2016-04-29 21:15] #11032 closed

[2016-04-29 21:22] jschall commented on #9190
What should be:
    K = (P*H.T)/(H*P*H.T + R)
is instead:
    K = (P*H.T)/(H*P*H.T + Matrix([[R]]))[0]

Far less readable. I'd like to see this change. Supporting operations between 1x1 matrices and scalars really shouldn't be a problem because it is dimensionally correct and commonly used. I think it should probably always return a 1x1 matrix.

[2016-04-29 21:27] jschall commented on #9190
Also I agree that matrices generally don't contain matrices, though it'd be nice to support something analogous to this sort of notation:

![screenshot from 2016-04-29 14 23 54](https://cloud.githubusercontent.com/assets/1015761/14930097/3f02c088-0e16-11e6-8184-6c34a91c93c7.png)

The elements are each 3x3, and it implies a 6x6 matrix. It can be accomplished using slice assignments but it'd be inte

[2016-04-29 21:56] dibus2 opened #11066 "Float to integer, printer bug?"
that must a stupid question but I have come accross the following thing: I have a variable result that contains 45.0000 as sympy.core.numbers.Float that I want to convert into an integer. However, calling int(result) returns 44 as well as Integer
see snapshot
anyone with an idea, what could be causing this

![float_to_int_sympy](https://cloud.githubusercontent.com/assets/4107563/14930658/472031f0-

[2016-04-29 22:00] asmeurer commented on #9190
@jschall checkout the BlockMatrix objects in the matrix expressions module.

[2016-04-29 22:02] smichr commented on #11064
solveset needs the ability to find the domain of a function.

[2016-04-30 04:31] isuruf commented on #11061
Let `p=abs(f)`
Issue here is that, the symbolic algorithms can deduce that the expression `p` is real.
Therefore `re` would return return `p` and `as_real_imag()` returns `(p, 0)`.

Lambdify is a numeric algorithm and it can't deduce that the expression is real. Therefore you need to apply `re` or `as_real_imag` after a numeric algorithm like `lambdify` or `.evalf()` both of which are numeric algo

[2016-04-30 05:19] parsoyaarihant commented on #11062
@kirankonduru  I would like to work on this issue, how do i start?

[2016-04-30 07:26] wxgeo commented on #11064
Indeed. This should be first step when solving an equation or inequation. (And this is particularly important for inequations).

[2016-04-30 07:36] wxgeo commented on #11047
It's not a proper solution unless domain is extended complex (by that, I mean Complex Field U {zoo}), since ln(0) does not exist if ln is defined as a C -> C function.

And if we include 0 in this case, what should return something like that :
In [15]: solve((x**2+2*x+1)**2/(x*(x+1)),x)
Out[15]: []

In [16]: solveset((x**2+2*x+1)**2/(x*(x+1)),x)
Out[16]: ∅

Should -1 be a solution ? Then we have t

[2016-04-30 07:38] wxgeo commented on #11047
Not that Wolfram Alpha doesn't return any solution either

[2016-04-30 08:28] Shekharrajak commented on #11047
[wolframalpha](http://www.wolframalpha.com/input/?i=1%2Flog(x)+%3D0+for+x) shows `no solution` .
But your argument is correct.Because `ln(0)` is `zoo` negative infinity.

[2016-04-30 10:02] rahulroxx commented on #11025
I would like to work on this !

[2016-04-30 11:57] wxgeo commented on #11047
In fact, `zoo` is not negative infinity, it's complex infinity.

In [5]: ln(0.00000000000000000001j).evalf()
Out[5]: -46.0517018598809 + 1.5707963267949⋅ⅈ

If z -> 0, re(ln(z)) -> -oo, but it's imaginary part im(ln(z)) don't necessary converge.

[2016-04-30 12:15] wxgeo commented on #11017
A correct answer would be ``log(abs(1-x))`` (or ``log(abs(x-1)`` which is obviously the same).

The real function ``x -> 1/(x-1)`` is defined anywhere except in ``1``, while real functions ``x -> -log(x - 1)`` and ``x -> -log(1 - x)`` are defined only on [1;+oo) and (-oo;1] respectively.

By the way, I notice that sympy don't simplify ``diff(log(abs(x)))`` :

Result should simplify to ``1/x``.

[2016-04-30 19:33] rpisarev commented on #9480
PQ #10650 was updated to currenr master

[2016-04-30 22:22] asmeurer commented on #11066
To clarify

[code]

The str printer should show the same floating point value as the srepr printer, in my opinion.

[2016-05-01 09:47] Shekharrajak commented on #11047
@wxgeo Thanks for pointing out the problem.
`ln(0)` should be `S.NegativeInfinity` .
From the current branch
[code]
I have added one testcase in this branch : https://github.com/sympy/sympy/pull/11008

[2016-05-01 12:02] rpisarev commented on #9807
On current master we have that

In [3]: 0**I
Out[3]: nan

Probably, we can close this issue.

[2016-05-01 22:36] LeopoldKellers commented on #11061
Alright, now I do understand how it works, thanks again for clarifying this!

Just one last thing I'd be interested to know before I dig through my code and fix things: this somehow used to work for me without that extra `re`/`evalf` handiwork before upgrading to 1.0:
[code]
(the same code as in my second post), so I am wondering why my code broke. I could not find anything matching my problem in

[2016-05-01 22:57] asmeurer commented on #11061
Small complex "tails" are unavoidable in general because how floating point numbers work, but this strikes me as something that shouldn't happen. Why does abs return a complex number? Shouldn't abs, when presented with a complex number, always return `sqrt(re(x)**2 + im(x)**2)` (or a floating point stable equivalent)?

As to `lambdify`, at that point, you're using numpy's algorithms. I wonder how

[2016-05-02 04:20] trxrunner opened #11070 "Pretty printer inconsistent"
[code]
Are these supposed to be different?

[2016-05-02 06:33] parsoyaarihant commented on #11070
I referred this in the documentaiton and I feel that the output is as expected : [documentation for sympify](http://docs.sympy.org/dev/modules/core.html)

[2016-05-02 07:03] isuruf commented on #11061
Change from 0.7.6 is that `abs(sqrt(I+x))` is automatically expanded into an ugly form.

You seem to be talking about two problems. One with `abs(sqrt(I+x))` and another with `abs(sqrt(I+1))`
With the latter, I get the same complex valued answer as it is automatically evaluated. With the former there is a difference, because sympy-1.0 expands it to an ugly form.

@asmeurer, reason for the expanded

[2016-05-02 15:54] asmeurer commented on #11061
I bisected the autoexpand change to

commit 5c3824f7f81aaa11a6abf1fac98092616091e8d4
Author: Chris Smith <smichr@gmail.com>
Date:   Mon Dec 28 20:52:21 2015 -0600

    modify Relational._eval_simplify add Add._eval_is_ funcs

[2016-05-03 02:45] LeopoldKellers commented on #11061
Passing the `evaluate=False` option to `Abs` does unfortunately not handle expressions well, where derivatives of `Abs` are involved, e.g.
[code]
is "an order of magnitude" more complicated (also wrt. the execution time of `simplify`) than the expression returned by
[code]
Unfortunately, (and this is the reason why I am using SymPy instead of numpy directly) I also need to evaluate a few expressio

[2016-05-03 07:14] isuruf commented on #11061
You can also do something like
[code]
or
[code]
Note that these functions use `expand` and it can quickly become a bottleneck.

[2016-05-03 11:30] jamesb6626 commented on #11017
The expressions -log(x-1) and -log(1-x) are not the same, though they are both correct answers.

`-log(x-1)`=`-(log(1-x)+log(-1))` by log rules, and `log(-1)`=`i*pi` (as `e**(i*pi)`=`-1`).

`-log(x-1)` is the same as `-log(1-x)-i*pi` so the expressions actually differ by a constant, which makes no difference to the result when taking the derivative of the expression.

Integrating an expression wit

[2016-05-03 21:56] asmeurer commented on #11017
This is indeed correct behavior. SymPy doesn't return `log(abs(x))` for `integrate(1/x)` because it isn't valid for complex numbers. Instead, the answer is correct up to an integration constant (which may be complex). All SymPy operations assume that variables are complex by default.

@wxgeo I believe `sign(x)/abs(x)` is different from `1/x` if `x` is complex. For instance, `sign(I)/abs(I)` is `I`

[2016-05-03 21:57] asmeurer commented on #11017
With that being said, I wouldn't be opposed to a heuristic in ratint that attempts to put the "right" sign inside the log.

[2016-05-04 05:13] burg1ar opened #11073 "wrong result in limit calculation"
and this is my code:
[code]
the I get the result:2,and actually the right answer is 1

[2016-05-04 09:47] #11020 closed

[2016-05-04 11:22] parsoyaarihant commented on #11073
Hi @sheldonAi , I ran this code in my computer and I am getting output 1.00. Can you tell me the version of python and sympy you are using?

[2016-05-04 12:57] Upabjojr commented on #11039
If you don't like index reordering, do not declare the tensor symmetry.

_TensAdd_ and other places perform a call to `canon_bp( )`, which performs the Butler-Portugal canonicalization. This means, given the symmetry structure of the tensor expression, it reorders the indices in the most lexicographic order allowed by the tensor symmetry, eventually adding a minus sign to the expression in case of

[2016-05-04 15:33] vasdommes commented on #11039
Well, this is not an answer=) Tensor symmetry is very useful, but the implicit (and unavoidable) lexicographical reordering is not the thing that users always want. As demonstrated above, it naturally leads to problems with `__call__`.

Sometimes user just wants to declare tensor expression `F(mu, nu, lambda)` (you can find such index order in many papers or textbooks), and he doesn't want to get,

[2016-05-04 17:04] sheldonAi commented on #11073
Thank you @parsoyaarihant for your reply,I am using the latest Anaconda distribution.
python --version:Python 2.7.11 :: Anaconda 4.0.0 (64-bit)
sympy:version 1.0
and I may figure it out,I tried to add a line of code:
`from __future__ import division`
then I got the answer:1.00000000000000,it is the right result.
the problem may be the "/"(divide operator),the result of / is always an interger in p

[2016-05-04 18:06] certik opened #11074 "We can put some screencasts into documentation"
E.g. how to launch `isympy` and execute a few simple commands. This sample one I just created nicely shows that it takes less than 10s:

[![asciicast](https://asciinema.org/a/97m38u4ww1k05psu64xh8w6in.png)](https://asciinema.org/a/97m38u4ww1k05psu64xh8w6in)

`asciinema` looks really awesome. It saves the recording as a json file. You can copy & paste from the screencast, etc. It allows to even emb

[2016-05-04 18:32] parsoyaarihant commented on #11073
@sheldonAi , I am not sure how evaluaiton of limit works too but in case of `limit(sin(x)/x,x,0)` after the expansion of `sin(x)` series is done the `x` cancels and we get a integer answer 1 directly by substitution. Hence you must be right regarding the  divide operator in python 2.7. I am using python 3.4 hence didnt face that problem when I ran the code.

[2016-05-04 21:47] smichr commented on #11074
When I first started with SymPy, I watched your tutorial on editing and learned several things about working efficiently. I really appreciated those. Anything we can do to let someone "look over our shoulder" is helpful, I think.

[2016-05-04 22:31] certik commented on #11074
@smichr thanks. I'll try to put up some. One disadvantage of the `asciinema` is that there is no sound. But I think for lots of the terminal work, perhaps no sound is ok.

[2016-05-05 09:50] Upabjojr commented on #11039
I think that eventually fixed evaluation of tensor expressions should be done away with.

The method `.canon_bp( )` should not be automatically called. Another possibility is the parameter `evaluate=False`, as used in other SymPy objects.

I would also like to make `TensAdd` and `TensMul` inherit `Add` and `Mul`, respectively. A `TensPow` expression could also be added in the future.

It still nee

[2016-05-05 09:54] Upabjojr commented on #11039
[code]

We have `.canon_bp()`, the canonical order is called Butler-Portugal canonical order. Lexicographical order is wrong, because generally you may get a different expression (if symmetry structure does not allow such permutation).

[2016-05-05 15:07] moorepants opened #11075 "Improvements to DiracDelta and Heaviside"
@sampadsaha5 We can use this issue to track the desired work on these functions.

First thought: You should ensure that these properties work with our functions: https://en.wikipedia.org/wiki/Dirac_delta_function#Properties. Many of these could be turned into unit tests.

- [x] Improve documentation of fdiff and explain the relationship to _eval_derivative. Aaron's comment " fdiff is a convenience

[2016-05-05 15:39] #2799 closed

[2016-05-05 17:03] asmeurer opened #11077 "Issues using MatrixSymbol to generate formula for determinant"
I want to use MatrixSymbol to generate a formula for the determinant of a 4x4 matrix.

[code]

does nothing (it doesn't evaluate).

What I can do is this

[code]

However, SymPy seems to be quite confused about the commutative property of these terms.

[code]

For reference, this is what I want

[code]

[2016-05-05 17:10] asmeurer opened #11078 "TypeError: 'Float' object cannot be interpreted as an integer from integrate((6-x*x)**(1.5))"
[code]

From https://stackoverflow.com/questions/37018381/why-sympy-cannot-calculate-fraction-power-formula-like-6-xx1-5.

[2016-05-05 19:19] sn6uv opened #11079 "integral of 1/cos(x)**2 is wrong"
The definite integral
`integrate(1 / cos(x)**2, (x, 0, 2 * pi))`
returns 0 when it should be infinite.

The indefinite integral is correct `sin(x) / cos(x)`. My guess is that the limits are being blindly substituted while ignoring the discontinuities of tan(x).

`sympy.__version__ == '1.0'`

[2016-05-05 19:27] asmeurer commented on #11079
Yep, this is a known issue. Even `integrate(1/x**2, (x, -1, 1))` is wrong. This likely should be closed as a duplicate of https://github.com/sympy/sympy/issues/4215.

Now that SymPy has a `singularities` function, we should integrate it into `integrate`. However, currently it only works with rational functions.

Beyond this, I don't know if there's a better way to avoid these issues.

[2016-05-05 19:28] #11079 closed

[2016-05-05 19:31] asmeurer commented on #4215
SymPy now has a `singularities` function (it currently only works on rational functions, but with improvements to solveset, it should be able to get smarter). It would be nice to integrate this into `integrate`. Basically, split the integral interval into smaller intervals based on singularities of the integrand, and `_eval_interval` each one. Things get hairy if you start having symbolic paramete

[2016-05-05 19:41] jksuom commented on #4215
It may be necessary to look at the singularities of the antiderivative as well. Consider, for example, `integrate(1/(cos(x) + 2), x)`.

[2016-05-05 19:44] parsoyaarihant commented on #11078
@asmeurer , I would like to work on this. It would be great if anyone can give tips on how to start fixing the issue.

[2016-05-05 20:01] sampadsaha5 commented on #11075
@moorepants This is a great idea.
I went through the link that you have posted :
- **Scaling and symmetry**  would work perfectly if #10863 gets implemented properly.
- **Translation** is working fine.
[code]
- If I can remove the merge conflict of #10863 I hope that **Composition with a function** would also work fine.

I will let you know when I am done with #10863. After this I will focus on do

[2016-05-05 20:01] moorepants commented on #11075
Please ensure that there are unit tests for these properties.

[2016-05-05 20:14] sampadsaha5 commented on #11075
OK @moorepants. I will make sure that there are tests written for each and every functionality that will be newly implemented.

[2016-05-05 20:21] moorepants commented on #11075
I also am suggesting that you should add tests that for existing untested functionality. For example, the two lines you show above, could be a test if it isn't already one.

[2016-05-05 20:24] sampadsaha5 commented on #11075
Ok Sure. I will then check for existing untested functionalities also and I will add tests to them.

[2016-05-05 20:47] asmeurer commented on #11078
Turns out this issue was already reported at https://github.com/sympy/sympy/issues/10681. You should start by reading the discussion there.

[2016-05-05 20:47] #11078 closed

[2016-05-06 00:54] smichr opened #11081 "where possible, use python fractions for Rational"
Since we have dropped support for 2.5 we can use the [fractions module](https://docs.python.org/2/library/fractions.html?highlight=rational) for Rational internals. The `gcd` method could also replace `igcd`:

[code]

[2016-05-06 09:19] parsoyaarihant commented on #11077
I am working on this issue, any tips are welcome.

[2016-05-06 09:20] Shekharrajak commented on #4215
If we look proper definition of Singular function :

A real-valued function f on the interval  `[a, b]` is said to be singular if it has the following properties:

* `f` is continuous on `[a, b]`.
* there exists a set `N` of measure `0` such that for all `x` outside of `N` the derivative `f ′(x)` exists and is zero, that is, the derivative of `f` vanishes almost everywhere.
* `f` is nondecreasing

[2016-05-06 10:34] sn6uv commented on #4215
@Shekharrajak, I think that definition is not quite what we want here. We are interested in functions that have a singularity  (or blowup) in the sense of https://en.wikipedia.org/wiki/Singularity_%28mathematics%29?wprov=sfla1

[2016-05-06 11:13] Shekharrajak commented on #4215
@sn6uv , actually I was talking about non rational functions. Here in this case we can get the point where it is not continuous using
[code]
Then we can split the integral from `-1 ` to `0` and `0` to `-1`  then we can get finite number or infinity as solution.

[2016-05-06 12:04] sn6uv commented on #4215
But $x \mapsto 1/x^2$ is not nondecreasing on [a,b] for a<0<b nor is its derivative zero anywhere. The definition for singular you gave is for another class of function e.g.  the devil's staircase.

[2016-05-06 12:18] Shekharrajak commented on #4215
Okay understood, deleting that definition. Thanks @sn6uv

[2016-05-06 16:18] asmeurer commented on #11077
The basic problem is this

[code]

`A[0, 1]` (of type, `MatrixElement`) should be commutative, but its `is_commutative` is `None`. Probably setting `is_commutative = True` on MatrixElement may fix it, but you'll have to check if any tests fail when you do that.

[2016-05-06 16:23] isuruf commented on #11081
`igcd` has a caching mechanism which is good, but it may take some fixed time for table lookup. It's essentially the same algorithm.

fractions module suffers from the same issue fixed in `https://github.com/sympy/sympy/pull/11019`

[2016-05-06 16:52] asmeurer opened #11082 "Matrix determinant calculation is too aggressive with simplification"
You can see [here](https://github.com/sympy/sympy/blob/ef47677483b2f29d0b8e6a0eb45de72b2e34477d/sympy/matrices/matrices.py#L2612) that the bareis determinant method calls `cancel` in order to cancel out fractions. But if the matrix in question has large expressions, this does too much, and can slow things down.

See for instance https://stackoverflow.com/questions/37026935/speeding-up-computation-

[2016-05-07 03:26] isuruf commented on #11073
Problem is here, `sin(1/2*x**3)`. `1/2` would evaluated to `0` by python and therefore give a wrong answer.
Use `sin(S(1)/2*x**3)` or simply `sin(x**3/2)`.

See here for a detailed explanation, http://docs.sympy.org/latest/tutorial/gotchas.html#two-final-notes-and

[2016-05-07 07:38] parsoyaarihant commented on #11077
[#9391](https://github.com/sympy/sympy/issues/9391) touches the same issue.

[2016-05-07 13:11] Pastafarianist opened #11086 "numpy's int64 is automatically converted to float"
[code]

Output:

[code]

I think it is unexpected that `int64` is cast to `float`. Perhaps it should be cast to `int`?

[2016-05-07 14:11] sheldonAi commented on #11073
@isuruf yes,that is the problem,and the doc is exactly what I want,thank you for your help.

[2016-05-07 14:46] isuruf commented on #11086
This seems to be an issue on 32 bit systems where `np.int64(1)` is not a child of `int`.
Note that `np.int32(1)` is converted to a sympy integer because `np.int32` is a child class of `int`

[2016-05-07 20:18] Pastafarianist commented on #11086
I am running a 64-bit system:

    $ uname -srm
    Linux 4.1.15-gentoo-r1 x86_64

[2016-05-08 10:52] brupelo opened #11088 "Step by Step solutions"
Hi,

I'd like to know what's the status of the step by step solution within sympy? I've read [here](https://github.com/sympy/sympy/wiki/gsoc-2014-ideas) there was some proposal a while ago and I think that'd be awesome.

I'm trying to understand how websites like [this](http://www.cymath.com/answer.php?q=2x%2B5%3D9) are providing the step by step solutions behind the curtains but google didn't rev

[2016-05-08 15:19] isuruf commented on #11086
What's the result of,
[code]

[2016-05-08 19:42] Pastafarianist commented on #11086
[code]

[2016-05-08 21:17] #10489 closed

[2016-05-09 06:00] isuruf commented on #11081
caching of igcd was not working properly. Fixed this in #11089

[2016-05-09 07:06] phillipberndt opened #11090 "ImmutableMatrix * MatrixSymbol raises AttributeError"
See [this SO question](http://stackoverflow.com/questions/32171509/sympy-transpose-object-has-no-attribute-tolist/). This should either be fixed or throw a proper error message, that is, one that says that this is intentionally impossible. Currently, the following snipped throws an AttributeError:

[code]

though `v.__rmul__(I)` works as expected.

I suggested a fix that does not require a change

[2016-05-09 11:12] robfauli commented on #10985
I've started working on this, it's been a month so presumably that is fine.

[2016-05-09 17:31] asmeurer opened #11092 "Float(mpf) loses precision"
[code]

`Float(a)` should give the same thing as `sympify(a)`.

[2016-05-09 17:34] asmeurer commented on #11092
Same with mpc (see https://stackoverflow.com/questions/37054917/solving-a-symbolic-sympy-with-mpmath-mpc-types).

[2016-05-09 17:36] asmeurer commented on #11092
Also `mpc` (see https://stackoverflow.com/questions/37054917/solving-a-symbolic-sympy-with-mpmath-mpc-types).

[2016-05-09 17:51] asmeurer commented on #9391
`commutative` is a weird assumption. In my opinion, it shouldn't be part of the assumptions system.

For most assumptions, `None`, basically means, "don't simplify this expression, using facts that would require knowledge of this assumption." For instance, if `x.is_positive` is None, then `sqrt(x**2)` doesn't get simplified. If `x.is_positive` is `True` or `False`, it does get simplified (to `x` o

[2016-05-09 19:14] smichr commented on #11092
Is there a precision declaration in sympify's documentation? If not, I don't see why the two should return the same thing. Float *does* declare that it uses 15 digits (as I recall).

[2016-05-09 19:17] asmeurer commented on #11092
IMHO unless the precision argument is passed to Float it should infer the precision from the argument (ditto if you pass it a string).

[2016-05-10 01:47] XiaoranJin opened #11095 "sympify (evaluate = False) gives unexpected result"
`>>> sympify('2**2 + 2010*2012', evaluate = False)`
`2**2 + 2010*2012`

`>>> sympify('2**2 - 2010*2012', evaluate = False)`
`-4044120 + 2**2`

It seems there are some issues with "-" operator.

[2016-05-10 03:09] parsoyaarihant commented on #11095
I would like to work on this issue. Any tips are welcome :)

[2016-05-10 03:47] rahulroxx commented on #11025
I would like to work on this !

[2016-05-10 04:43] trxrunner opened #11096 "No algorithms are implemented for solving (-2)**x=4"
Traceback (most recent call last):
  File "<pyshell#97>", line 1, in <module>
    solve(Eq((-2) *\* x,4))
  File "C:\Program Files (x86)\Python 3.5\lib\site-packages\sympy-1.0-py3.5.egg\sympy\solvers\solvers.py", line 1053, in solve
    solution = _solve(f[0], _symbols, *_flags)
  File "C:\Program Files (x86)\Python 3.5\lib\site-packages\sympy-1.0-py3.5.egg\sympy\solvers\solvers.py", line 1619, in

[2016-05-10 07:17] Nitin216 commented on #11095
Expression ```2010*2012``` is when passed to ```_neg``` in ```expr.py``` then it does not pass evaluate to the ```func_wrapper.py```. That it why it is evaluating. I am not able to find a workaround.

[2016-05-10 08:40] JensMadsen opened #11097 "Cannot integrate r/((r + 1)*sqrt(-r**2 + 1)). Mathematica can"
hest = r/((r + 1)*sqrt(-r*r + 1))
integrate(hest.expand(),r)

output:

Out[12]:
Integral(r/(sqrt(-r + 1)*(r + 1)**(3/2)), r)

Mathematica yields:

\frac{\sqrt{1-r^2}}{r+1}+\sin ^{-1}(r)

The version of the notebook server is 4.1.0 and is running on:
Python 3.5.1 |Anaconda 4.0.0 (64-bit)| (default, Dec  7 2015, 11:16:01)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]

Current Kernel Information:

Python 3.

[2016-05-10 21:42] asmeurer commented on #11025
Custom classes means user subclasses of `Expr` or `Function`. A good place to start would be to read through the code and try to understand how it works. You can also search the code for `_sympystr` to see some examples of this in action.

[2016-05-10 23:27] trxrunner commented on #11047
Solve also misses it with 1/tan(x).

[]

[2016-05-11 00:16] trxrunner opened #11098 "subs not working on sympify"
n

[2016-05-11 01:54] woodscn commented on #11060
This can be closed as soon as #11065 is merged.

[2016-05-11 02:06] parsoyaarihant commented on #11098
@trxrunner it works fine when i ran it :

`In [1]: from sympy import *`

`In [2]: from sympy.abc import n`

`In [3]: sympify('n').subs(n,4)`
`Out[3]: 4`

[2016-05-11 02:13] parsoyaarihant commented on #11097
@JensMadsen , the expression for hest is not clear. Is it:
`hest = r/(r*sqrt(-r**2 + 1) + sqrt(-r**2 + 1))`

[2016-05-11 02:39] parsoyaarihant commented on #11007
@souravsingh , is the issue fixed?

[2016-05-11 02:53] parsoyaarihant commented on #11096
I would like to work on this issue. @aktech , could you give some advice on how to go ahead on this one?

[2016-05-11 03:12] #11098 closed

[2016-05-11 07:41] JensMadsen commented on #11097
Sorry. Something went wrong when pasting the result. I try again:

import sympy
r, R0 = sympy.symbols("r R0")

sympy.assumptions.assume.global_assumptions.add(r<R0)
sympy.assumptions.assume.global_assumptions.add(r>0)

sympy.integrate(r/((r+1)*sympy.sqrt(1-r**2/R0**2)),r)

[2016-05-11 09:17] vasdommes commented on #11097
@JensMadsen you can create fenced code blocks by placing triple backticks \`\`\` before and after the code block. See [Creating and highlighting code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) help page.

[2016-05-11 10:19] haimoz opened #11099 "Min and Max would not substitute in evalf"
[code]

Looking at the code, the `MinMaxBase` class's [`evalf` method](https://github.com/sympy/sympy/blob/master/sympy/functions/elementary/miscellaneous.py#L457) is not correctly passing the options as keyword arguments, when evaluating its args.

I will prepare a pull request to resolve this issue.

[2016-05-11 13:44] smichr commented on #11097
I added the back ticks.

[2016-05-11 16:41] jmcui opened #11101 "Sum.doit() fails for expression"
I tried the code as following

`from sympy import *`
`i,j,k,N,Ns=symbols('i j k N N_s',real=True)`
`n_bar=symbols(r'\bar{n} ',real=True,positive=True)`
`PDF_thermal=Sum(n_bar**i/(1+n_bar)**(i+1),(i,0,oo))`
`simplify(`PDF_thermal.doit())`

 I expect to get '1', however the result is still in sum form.

if I try the similar form of the expersion
`PDF_thermal=Sum(n_bar**i/(1+n_bar)**i,(i,0,oo))/(1+n_

[2016-05-12 00:38] asmeurer opened #11102 "fps should print as a formal power series"
When I first used `fps`, I didn't realize it really was a formal power series as it claims to be, because it prints like a normal series (same as `series`)

[code]

But if you look at the string form, you see

[code]

That is, it really does represent it as the formula `Sum((-1)**n/factorial(2*n + 1)*x**n, (n, 0, oo))` (albiet, not simplified). It out to print it like this, so you can see that tha

[2016-05-12 02:24] #11099 closed

[2016-05-12 07:22] bluebrook commented on #2863
What is the expected results?

[2016-05-12 08:12] leosartaj commented on #11102
I got to admit that not much discussion was done on the printing aspect of Formal Power Series.  When I first wrote the code, I tried to keep it as similar as possible to what series has to offer. Since, Formal Power Series is all about a formula computed for the series expansion, I guess this is a good idea. +1

This is again similar to what series does. Return it in the original form, if it's un

[2016-05-12 10:31] #11090 closed

[2016-05-12 16:46] asmeurer commented on #11077
Fixed by https://github.com/sympy/sympy/pull/11084

[2016-05-12 16:46] #11077 closed

[2016-05-12 16:46] asmeurer commented on #9391
Fixed by https://github.com/sympy/sympy/pull/11084

[2016-05-12 16:46] #9391 closed

[2016-05-12 21:08] asmeurer commented on #11096
And solveset gives the wrong answer (`2` is a real solution)

[code]

[2016-05-12 21:09] asmeurer commented on #11088
You can get step-by-step solutions for derivatives and integrals at http://www.sympygamma.com/

[2016-05-12 21:12] asmeurer commented on #11102
I guess it depends on what the use-cases for fps are.  FWIW, I think series returning expressions unchanged is not so great either (but that's somewhat part of a bigger problem, where the type of series produced by `series` is not very well-defined).

[2016-05-12 21:13] asmeurer commented on #11086
I guess we should add sympify translators for numpy types (if it is installed). This should be done in a way that doesn't import numpy unless it is explicitly used.

[2016-05-12 21:14] asmeurer commented on #11081
Maybe we should merge with the polys, which uses gmpy types when they are available (which are even faster).

[2016-05-12 22:33] moorepants commented on #2863
It's hard to type the expected result in unicode, but it the unit vectors should not be in the numerator or denominator of the fractions. The unit vectors should render with subscripts and maybe bold. And everything should be on one line.

[2016-05-13 03:05] jtnydv25 commented on #11058
Hi! I improved the `npartitions` function some days back.
I think I can work on it.
Does a naive implementation exist in sympy presently?

[2016-05-13 05:14] isuruf commented on #11081
I've tried using gmpy mpzs here https://github.com/isuruf/sympy/tree/gmpy. Didn't have time to check whether there are speed improvements though.

Using gmpy mpqs will take some more work though, because Rational class keeps the two separate ints.

[2016-05-13 19:22] jschall commented on #10228
Darn, I tested 10271 thinking that it was a fix for this issue and figured out that it isn't. Is there a fix available for this issue?

@asmeurer

[2016-05-13 19:32] OMantere commented on #11062
Shouldn't this be closed?

[2016-05-13 19:57] asmeurer commented on #10228
No. I believe it can be done with a optimization that converts `2*x` to `Add(x, x, evaluate=False)` (meaning you could pass a custom optimization to `cse` to make it work).

[2016-05-13 23:36] asmeurer opened #11105 "ff and rf definitions changed in SymPy 1.0"
See https://github.com/sympy/sympy/pull/8941. We should revert the change.

[2016-05-14 05:10] isuruf opened #11106 "solve([x**2 + y**2 - 16, 4*x - y**2 + 6], x, y) gives an empty list"
This doesn't seem to affect everybody. It's working fine on sympy live and @asmeurer checked that it gives correct output on SymPy 1.0 and git master.

Gives an empty list for 1.0 and master. Bisected the change to 068607e7555d1741b6a46a2a152dfd3a6bd87c04

@smichr

[2016-05-14 05:22] parsoyaarihant commented on #11064
Solveset solves inequalities by finding the roots of the equation and checking where the inequality holds between the roots of the equation.

In this problem, the roots of the equation cannot be found. Hence, `solveset(x+sqrt(x**2-5)>0,x,S.Reals)` gives `∅` as the solution.

[2016-05-14 09:20] boegel commented on #10818
@verdurin same problem as in #4549?

[2016-05-14 10:45] parsoyaarihant opened #11107 "integration of partial derivatives"
Integration of partial derivates gives wrong result. Eg:

[code]
I am assuming the variables x,y to be independent and expect the answer to be:
  ∂
──(f(x, y))
∂y

[2016-05-15 05:57] rwst opened #11108 "Poly arithmetic error"
[code]

[2016-05-15 07:13] micklat commented on #10422
I've written a small Eqn class for my own purposes and found it very useful. I'm new to sympy so maybe I'm missing a better way to do this. I'm afraid I'm not very interested in working this into a pull request, but if somebody else would like to pick it up and add it so sympy, be my guest.

import sympy
from sympy import S
import operator

class Eqn(object):
  """
  This class represents an equat

[2016-05-15 07:22] micklat commented on #4986
I felt a personal need for an Eqn class so I wrote one and found it very useful. I'm new to sympy and not keen on delving deep into this so maybe I'm missing a better way to do this. I'm afraid I'm not very interested in working this into a pull request, but if somebody else would like to pick it up and add it so Sympy, be my guest.

[code]

[2016-05-15 12:13] Shekharrajak opened #11110 "solveset : Need to check assumptions before returning final solution ."
[code]
Emptyset should be returned (`x` is +ve ).

Another cases :
[code]

[2016-05-15 13:37] Shekharrajak commented on #11110
ping @hargup @certik @aktech @kshitij10496 @asmeurer .
Please check this PR . Work is in progress.

[2016-05-15 14:04] kshitij10496 commented on #11110
`solveset` was designed to be independent of the assumptions on the variable being solved for.

[2016-05-15 14:16] brupelo commented on #11088
Hi, I think you didn't understand my meaning...

I'm not interested on using any website like sympygamma or wolfram or similars... My question was more related to the usage of sympy to provide step by step solutions by myself. Ie: Coding an app/frontend using sympy behind the curtains. Is that possible? If it's so, how?

Thanks.

[2016-05-15 15:04] Shekharrajak commented on #11110
Okay .

[2016-05-15 15:32] kshitij10496 commented on #11110
I think this can be closed.
@aktech @hargup @asmeurer

[2016-05-15 15:52] aktech commented on #11110
Yes, Indeed.

[2016-05-15 15:52] #11110 closed

[2016-05-15 21:09] #11081 closed

[2016-05-15 22:38] smichr opened #11114 "consider the cost of type checking for time critical functions"
`igcd` converts its arguments to integers and whether or not the input is an int (or Integer) has a big impact on speed; even the function call to do the test has a large impact. Consider the following:

[code]

The take-away is that arg type matters and we need to think about at what level to stop checking argument types. There is an order of magnitude difference (factor of 10) in avoiding the ty

[2016-05-15 22:42] smichr commented on #11114
Suggestion: allow users to shoot themself in the foot by dropping type-checking from `igcd` and either let the `i` no longer indicate 'integer' or else make a new function `ngcd` that stands for general *numeric* gcd, e.g.:

[code]

[2016-05-16 00:08] bluebrook commented on #2863
I have reproduced this issue on latest Master branch on ipython. I want to fix it. Where should I start?

[2016-05-16 00:23] moorepants commented on #2863
You can start by adding new tests to this file:

https://github.com/sympy/sympy/blob/master/sympy/physics/vector/tests/test_printing.py

Once you have the tests, you can then modify:

https://github.com/sympy/sympy/blob/master/sympy/physics/vector/printing.py

until the tests pass.

[2016-05-16 01:49] bluebrook commented on #2863
Thanks.

[2016-05-16 13:39] smichr commented on #11106
I don't understand under which conditions it gives the wrong result:  "correct output on SymPy 1.0 and git master" vs "[g]ives an empty list for 1.0 and master".

[2016-05-16 23:09] #7716 closed

[2016-05-17 02:51] parsoyaarihant opened #11118 "solve() gives no result when check = True"
I am trying to solve the equaiton `solve(sqrt(x) + 1/root(x, 3) - 1, check=True)` and no output is being returned by the program.

`solve(sqrt(x) + 1/root(x, 3) - 1, check=False)` gives immediate result for the equaiton. Any way to make the program return RuntimeError for the equation `solve(sqrt(x) + 1/root(x, 3) - 1, check=True)` ?

[2016-05-17 10:12] haimoz opened #11119 "``Pow`` and ``Mod`` are non-commutative, but the ``is_commutative`` property is always True."
When I test for commutativity of `Pow` and `Mod`, I always get `True`:

[code]

Should it be `False` in both cases, or is the `is_commutative` attribute not meant to be applicable to `Pow` (inheriting `Expr`) and `Mod` (inheriting `Function`)?

[2016-05-17 14:07] smichr opened #11120 "piecewise_fold needs Relational handling"
[code]

[2016-05-17 16:11] asmeurer opened #11121 "stats module shouldn't require assumptions to be set on parameters"
Right now, if you try to create a Normal random variable with sympy.stats:

[code]

This is because I didn't create `sigma = symbols('sigma', positive=True)`.

This is an antipattern. Assumptions checks shouldn't fail on None, only on False.

This should be easy to fix. Just modify how the `_value_check` function works.

[2016-05-17 16:55] smichr commented on #11118
Although it's slow, I get results with live.sympy.org; did something break with a new release or is it possible you are not waiting long enough (or is None returned)?

[2016-05-17 17:12] asmeurer opened #11122 "x > 0 doesn't evaluate for x = Symbol('x', positive=False)"
[code]

The reason is that `Expr.__gt__` doesn't evaluate based on assumptions unless both sides are known to be real, because otherwise it doesn't want to subtract them (in case the nonreals all cancel). This is fine, but I think the case where one side is 0 should be sufficient for it to evaluate. Or, more generally, it should  be fine if just one side is real (subtracting a real can't make a no

[2016-05-17 18:27] parsoyaarihant commented on #11118
Yeah I am not waiting for long enough when it is running in my local machine. But if the answer is correct then the test [test_slow_general_univariate()](https://github.com/parsoyaarihant/sympy/blob/solveset-bug-%2311064/sympy/solvers/tests/test_inequalities.py#L302) should work when `check = True`.

[2016-05-17 18:38] parsoyaarihant commented on #11122
I am working on this issue. Any tips are welcome :) .

[2016-05-17 19:39] nsabovic opened #11124 "MatrixSymbol doesn't work in solve()"
In sympy 1.0, trying to solve a simple equation with `MatrixSymbol` gives an error:

[code]

The same thing works with manually entered symbols:

[code]

Am I missing something? I thought `MatrixSymbol`s were usable in this fashion. If not, `AttributeError` isn't the way to go.

[2016-05-17 20:30] Upabjojr commented on #11121
Remember that `sympy.stats` was intended for evaluation of integrals. If we don't set the proper assumptions, we could get wrong results when evaluating the expressions.

[2016-05-17 20:48] Upabjojr commented on #11121
Also, we should allow for compound random variables, that is putting a `RandomSymbol` as a parameter for the construction of another `RandomSymbol`.

[2016-05-17 21:13] asmeurer commented on #11121
To be clear, false assumptions should still error. The issue is disallowing None assumptions. Doing this is always an antipattern, because it places an unnecessary burden on users to set assumptions on their symbols, and furthermore, it limits the system to expressions which SymPy's assumptions system can compute (something like `Normal('X', mu, expr)` would be disallowed if `expr` were too compli

[2016-05-17 21:15] asmeurer commented on #11121
Having too few assumptions should never result in wrong results. If that happens, it's a bug. However, it is possible that not setting sigma to be positive might result in a more complicated result from an integral than what is desired.

[2016-05-18 00:36] smichr opened #11125 "use underlying sieve to compute composite(n)"
Although the current implementation is mathematically sound, performance may favor the following:

[code]

[2016-05-18 03:36] sampadsaha5 commented on #11075
@moorepants Can you please explain me a bit about the last one in the checklist?

[2016-05-18 03:39] postvakje commented on #11125
The current implementation of `composite(n)` mirrors the implementation of `prime(n)` in #10888, which also does not use sieve to improve performance for large n.

[2016-05-18 04:14] moorepants commented on #11075
I was wondering if it would be nice to enable pretty printers and latex printers that printed the DiracDelta class as:

[code]

[2016-05-18 04:19] sampadsaha5 commented on #11075
Okay, I will try to figure out how to implement that.
Can you please tell me how to use this method:
[code]

[2016-05-18 07:17] bluebrook commented on #2863
The issue is in the Vector._pretty() function. The code doesn't consider the expr strings could have multiple lines.  If we treat the relation between unit vector and component as multiplicity and the relation between x,y,z as addition, we could simplify the code here.

The unicode I got with this approach is
u'                     2    \na       b + c       c     \n\u2500\u22c5n_x + \u2500\u2500\

[2016-05-18 07:44] parsoyaarihant opened #11127 "relation between is_positive and is_nonpositive"
I ran the following code :

False

None

shouldnt `x.is_nonpositive = True`?

[2016-05-18 08:35] gxyd commented on #11127
May be this is not an issue. Symbols are dealt with in `complex plane` not in `real line` by default in SymPy. Since if `positive=False`, that doesn't mean `x` lies in the real-line.
For ex.
[code]
but does that mean `(4 + I).is_nonpositive` return `True`? Infact it doesn't
[code]
TLDR; `positive=False` doesn't make it to lie in the real-line, it still can be a non-real, complex-number.

[2016-05-18 11:05] parsoyaarihant commented on #11127
@gxyd, thanks.

[2016-05-18 11:05] #11127 closed

[2016-05-18 12:09] vasdommes opened #11130 "combinatorics.Permutation - exception not raised if wrong size is passed to constructor"
If I create `Permutation` object from list, which length is greater than `size` argument, then the `size` argument is ignored (and exception is not raised):

[code]

Is there any reason for such behaviour? It seems to me that it would be better to raise an exception.

[2016-05-18 14:10] proy87 opened #11131 "dsolve hangs"
Looks like a simple DE
`y=Function('y')(x)`
`dsolve(diff(y,x,x)-8*cos(x)+sec(x)**2)`

[2016-05-18 21:04] trxrunner opened #11132 "tuple and list don't have pretty printed brackets"
[code]

The () and [] for the tuple and list don't pretty print.

[2016-05-19 05:24] #11121 closed

[2016-05-19 13:10] Upabjojr opened #11134 "Implement expansion of Variance"
https://en.wikipedia.org/wiki/Taylor_expansions_for_the_moments_of_functions_of_random_variables

[2016-05-19 13:22] Upabjojr opened #11135 "Compound probability distributions"
Allow random variables to accept other random variables as parameters.

This makes the construction of the probability space a bit more complicated, but can be worked out:

[code]

The probability space is two dimensional: it has two random variables.

The PDF of _Y_ is then the marginalized joint probability distribution:

[code]

(integral replaced by sum in case of discrete RVs)

`PDF1(y | para

[2016-05-19 13:27] Upabjojr opened #11136 "Probability: rewrite as Probability"
Allow to rewrite symbolic probability expressions as probability.

Should distinguish two cases:

 * continous RV ===> integral ... P(x) dx
 * discrete and finite RV ===> sum ... P(x)

Possibly: give an option to use `DiracDelta` and integral for the discrete case.

[2016-05-19 15:58] sampadsaha5 commented on #11075
@moorepants @asmeurer @leosartaj
Under `eval` class method under `DiracDelta` class why does the following case  is not implemented:
[code]
This case is also an obvious value for Diracdelta.

[2016-05-20 05:36] bluebrook commented on #2863
submit a pull request
https://github.com/sympy/sympy/pull/11138

[2016-05-20 08:58] #11118 closed

[2016-05-20 12:42] vasdommes commented on #11130
@smichr could you please comment on this issue?

[2016-05-20 12:52] oldk1331 commented on #7149
This integral is no longer a bug in sympy 1.0:

[code]

The result returned by `integrate` is a bit long but can be simplified, and doesn't take too much time.

This bug can be closed now.

[2016-05-20 13:02] oldk1331 commented on #6828
In sympy 1.0, this integral no longer fails:
[code]

This bug can be closed now.

[2016-05-20 14:05] oldk1331 commented on #5948
With sympy 1.0, here is what I get:
[code]

I think that's good enough to close this issue.

[2016-05-20 14:11] oldk1331 commented on #5943
In sympy 1.0:
[code]

This issue can be closed.

[2016-05-20 14:37] oldk1331 commented on #5212
In SymPy 1.0, this no longer hangs:
[code]

This issue can be closed.

[2016-05-20 14:45] oldk1331 commented on #4987
In sympy 1.0:
[code]

Still need testing before close this issue?

[2016-05-20 14:54] oldk1331 commented on #4540
Seems this integral still takes forever (at least a few minutes) in sympy 1.0.

FYI, FriCAS can prove this integral has no elementary result.

[2016-05-20 15:18] oldk1331 commented on #4231
This integral computes much faster now (year 2016 and sympy 1.0):
[code]

That's on my slow laptop, should only take few second on a good computer.

However, I don't think this should get into test suite, because this integrand is a mixed algebraic transcendental function, sympy can compute it not by Risch algorithm, but by heuristic algorithm (Bornstein's poor man integrator) , aka "luck". A simp

[2016-05-20 15:30] #7149 closed

[2016-05-20 15:31] #6828 closed

[2016-05-20 15:32] oldk1331 commented on #3448
In SymPy 1.0:
[code]

This issue can be closed.

[2016-05-20 15:38] asmeurer commented on #5948
The result from `integrate(cos(x)/sin(x)**7, x)` is more complicated than the result from `integrate(cos(x)/sin(x)**n, x)`. I think this can still be improved.

[2016-05-20 15:40] #5943 closed

[2016-05-20 15:44] asmeurer commented on #4987
Yes, let's check if it's been tested, and then close.

[2016-05-20 15:47] asmeurer commented on #4231
Well lots of the algorithms in SymPy (and computer algebra in general) are heuristic in nature, so if they compute anything, it's by "luck".

I'm actually curious what change made this so much faster.

[2016-05-20 15:49] oldk1331 commented on #3954
Maybe we should close this issue and open a new one:

### integrate(sin(x)*exp(-x**2), x) times out

The answer given by FriCAS is:
[code]
Or in sympy's notation: `((sqrt(-1)*erf((sqrt(-1)+2*x)/2)+sqrt(-1)*erf((sqrt(-1)-2*x)/2))*sqrt(pi))/(4*exp(S(1)/4))`

The answer is correct, and maybe it can be simplified further.

[2016-05-20 15:53] oldk1331 commented on #4187
In sympy 1.0:
[code]

This issue can be closed.

[2016-05-20 15:55] asmeurer commented on #4231
It seems to always run relatively fast for me (the slowest I found was SymPy 0.7.0, where it takes 15 seconds). So maybe my computer was just really slow back then.

[2016-05-20 16:18] asmeurer commented on #5212
Found a related issue:

[code]

[2016-05-20 16:20] asmeurer commented on #4540
SymPy will assumedly be able to as well, whenever trig functions are implemented in the Risch algorithm. Getting the answer in terms of Ci, at least from Risch, is more complicated.

[2016-05-20 16:21] #3448 closed

[2016-05-20 16:23] asmeurer commented on #4187
Found a related bug. The indefinite integral `integrate(log(x)*exp(-x), x)` gives a recursion error from manualintegrate.

[2016-05-20 16:48] wxgeo opened #11142 "[stats] Calculating probabilities for a normal variable often raises an error when using Floats"
IPython console for SymPy 1.0.1.dev (Python 2.7.6-64-bit)
In [1]: from sympy.stats import Normal, P
In [2]: mu=7.74
In [3]: sigma=1.95
In [4]: X = Normal('X', mu, sigma)
In [5]: k=6.23
In [6]: P(X>k)

---

PolynomialDivisionFailed

In [19]: Y = Normal('X', 12.5, 1.1)
In [20]: P(Y>1.1)
Out[20]: 0.707106781186548⋅√2
In [21]: Y = Normal('X', 12.5, 6.1)
In [22]: P(Y>1.1)

---

PolynomialDivisionFailed

[2016-05-20 18:13] proy87 opened #11143 "Maximum Recursion Error in integrate"
`integrate(atan(x)/(x**2+2), x)` raises above exception.

[2016-05-21 18:05] smichr commented on #11120
Never mind. This is right.

[2016-05-21 18:05] #11120 closed

[2016-05-21 18:55] smichr commented on #11125
Perhaps the thing to do is use the sieve if the sieve is large enough, otherwise use the implementation given.

[2016-05-22 18:25] kshitij10496 opened #11147 "Incorrect result for Intersection of S.Integers( and S.Naturals) with Interval"
[code]
The correct intersection should be an `EmptySet`.

[2016-05-22 19:40] kshitij10496 commented on #11147
Working on it

[2016-05-23 15:52] agroce opened #11151 "Crash on simplify involving Sum(0,...)"
This code (also attached, with more verbose output of what's going on) causes an uncaught exception in simplify (TypeError: 'mpf' object is not iterable).  In the end, it just seems to be simplifying 0/8, don't see anything that should cause this behavior.  Produced with a new random testing tool (https://github.com/agroce/tstl), in first few hours fuzzing sympy.

from sympy import *
a = Symbol('a

[2016-05-23 18:30] lindsayad opened #11152 "Incorrect integration of (sqrt(1 + x) + sqrt(1 + x))**2/x with manualintegrate"
`In [36]: manualintegrate((sqrt(1 + x) + sqrt(1 + x))**2/x, x)`
`Out[36]: 4*x + 4*log(4*x)`

`In [37]: integrate((sqrt(1 + x) + sqrt(1 + x))**2/x, x)`
`Out[37]: 4*x + 4*log(x)`

[2016-05-23 20:42] agroce commented on #11151
Just noticed that it looks like if you run the sequence twice, the second time it does not cause a crash, only the first execution.  Some kind of initialization issue?

[2016-05-23 21:13] agroce commented on #11151
Sum(0, ...) is also not required, there is a version that doesn't require that, but has a different Sum:

rom sympy import *

a = Symbol('a')
expr0 = a**2 + a
expr1 = Sum(expr0,(a,0,0))
expr2 = expr1.subs(0,expr1)
expr3 = expr2 / a
expr4 = factor(expr3)
expr5 = simplify(expr4-expr3)

[2016-05-23 23:43] #11147 closed

[2016-05-24 05:11] jksuom commented on #11152
Both antiderivatives are valid though the latter one is simpler in form. Their difference is the constant `4*log(4)`.

[2016-05-24 05:12] lindsayad commented on #11152
Ah, you are of course correct. Silly me

[2016-05-24 05:12] #11152 closed

[2016-05-24 05:45] rajeshkumargp commented on #11086
Hi Could I work on this issue ?

[2016-05-24 15:39] chaffra opened #11155 "can't expand derivative of sum of functions"
In the code below the differentation should expand to  diff(U,y)  + diff(dU,y)

[code]

[2016-05-24 16:42] schalil opened #11156 "Limit of symbolic parameters gives different results"
We have the below symbolic parameters with symbolic values as below
[code]
When we apply the code
[code]
But when we apply the same code in matlab, we get the below result
[code]

I used SymPy package to get this solution. -oo is the wrong answer. The one that matlab gives is the correct answer. I have updated the coefficients with rational numbers
[code]

[2016-05-24 18:54] agroce opened #11157 "Recursion depth exceeded in modulo"
(pi % Sum(pi,(Symbol('a'),1,2)))

causes recursion depth to be exceeded (generated with fuzzer, again).  Possibly uninteresting (modulo may not be supposed to work here) but could point out deeper issues connected to other Sum problem.

[roundloop.zip](https://github.com/sympy/sympy/files/280228/roundloop.zip)

[2016-05-24 20:48] agroce opened #11159 "Substitution with E fails"
Same fuzzer.

expr1 = E
expr0 = expr1 \* expr1
expr1 = expr0.subs(expr1,expr0)

fails with:
[expfail.zip](https://github.com/sympy/sympy/files/280484/expfail.zip)

Traceback (most recent call last):
  File "expfail.py", line 11, in <module>
    expr1 = expr0.subs(expr1,expr0)
  File "/usr/local/lib/python2.7/site-packages/sympy/core/basic.py", line 902, in subs
    rv = rv._subs(old, new, *_kwargs

[2016-05-24 21:40] moorepants opened #11161 "Please add jbm950 to the sympy/mechanics Github group"
@certik @asmeurer

[2016-05-24 22:08] asmeurer commented on #11161
Done (@jbm950 needs to accept the invite), and I also promoted you to team maintainer (apparently that is a thing), so hopefully you should be able to do this in the future.

[2016-05-24 22:08] #11161 closed

[2016-05-24 22:10] moorepants commented on #11161
Thanks.

[2016-05-24 22:13] moorepants opened #11162 "Add angadhn to the SymPy organization"
I would like to add @angadhn to the mechanics team.

@asmeurer @certik

[2016-05-24 22:51] asmeurer commented on #11162
Are you able to do it as a team maintainer?

[2016-05-24 22:52] moorepants commented on #11162
No, I think it only allows me to add people to the team if they are members of the sympy organization. I'm not allowed to add members to the org.

[2016-05-24 22:55] postvakje commented on #11125
I think that is a good idea.  I added the use of sieve when it is large enough (back) in `prime()`, `composite()`, `nextprime()`, etc. in PR #11163.

[2016-05-24 22:58] asmeurer commented on #11162
I see. It doesn't matter that the mechanics team doesn't have any repositories associated with it.

By the way, I also made the team visible. Previously it was secret (meaning other people wouldn't be able to @mention it).

[2016-05-24 22:58] #11162 closed

[2016-05-25 01:46] oldk1331 commented on #7656
In sympy 1.0:
[code]

Closed?

[2016-05-25 01:48] oldk1331 commented on #8489
In sympy 1.0:
[code]

Closed?

[2016-05-25 01:51] oldk1331 commented on #8447
In sympy 1.0:
[code]

Closed?

[2016-05-25 02:35] asmeurer commented on #8447
Yeah, #2710 was likely the fix for this.

[2016-05-25 02:35] #8447 closed

[2016-05-25 02:41] oldk1331 commented on #7041
In sympy 1.0:
[code]

I think the answer is right. Closed?

[2016-05-25 02:51] oldk1331 commented on #9494
Duplicated with #8218

[2016-05-25 03:54] leosartaj commented on #8218
Duplicate to #9494

[2016-05-25 03:54] #8218 closed

[2016-05-25 10:45] mloubout commented on #11007
@souravsingh any updates?

[2016-05-25 16:07] Piruzzolo opened #11165 "wrong integral with integrate(1/(2 + sin(x)), (x, 0, 2*pi))"
It returns 0, while the correct result is 2*Pi/Sqrt(x) (taken from a textbook on residual's method and checked with Mathematica 10)

[2016-05-25 16:19] Piruzzolo commented on #11165
It doesn't work without a and b, either.

[2016-05-25 16:48] jksuom commented on #11165
It is a known issue that definite integrals of periodic functions (whose antiderivatives are multivalued) are not correctly evaluated in general. But it is unexpected that not even the antiderivative is computed unlike that of the variant with `cos` instead of `sin`.

[2016-05-25 17:30] asmeurer opened #11166 "Clean up periodic_argument"
Based on some discussion on gitter, here are some things that should be cleaned up with `periodic_argument`:

- Clean up the docstring. Right now, it says "Represent the argument on a quotient of the Riemann surface of the logarithm. That is, given a period P, always return a value in (-P/2, P/2], by using exp(P*I) == 1.", but this is ambiguous. It doesn't explain why, for instance, `periodic_argu

[2016-05-25 17:35] asmeurer commented on #11166
A related question, should `unpolarify(periodic_argument(polar_lift(x)**2, oo))` return `arg(x**2)`. I'm not 100% clear what unpolarify should and shouldn't do.

[2016-05-25 20:25] zanzibar7 commented on #8489
Looks OK to me.

[2016-05-25 20:56] #7041 closed

[2016-05-26 05:07] trxrunner opened #11167 "'denom' is not defined error with sympifying some expressions"
[code]
It only has an error for certain cases.

[2016-05-26 09:27] jksuom commented on #11167
I cannot reproduce the error. This is what I get:
[code]
It also seems that there is no line containing `denom(exponent.as_content_primitive()[0])`.

[2016-05-26 14:46] jbm950 commented on #10945
The new argument order is now active and putting in the forcing list first raises the deprecation warning as desired. I'm confused though because the documentation does not reflect this change online (look for .kanes_equations() [here](http://docs.sympy.org/latest/modules/physics/mechanics/kane.html) and [here](http://docs.sympy.org/latest/modules/physics/mechanics/api/kane_lagrange.html)) Adding

[2016-05-26 15:17] parsoyaarihant commented on #11166
I will work on this issue. Any tips are welcome :) .

[2016-05-26 16:04] moorepants commented on #10945
The online docs do not reflect the change for one of two reasons:

1. You are looking at SymPy 1.0 docs and this is development.
2. The dev docs are updated manually and are not always in sync with the latest master.

[2016-05-26 17:28] #11167 closed

[2016-05-26 19:45] Eh2406 opened #11169 "Integrals involving symbolic Beta distributions hang"
I was playing with the beta distribution.
`integrate(x**(a-1)*(1-x)**(b-1), (x, 0, 1))`

wolframalpha gives `(Γ(a) Γ(b))/(Γ(a+b))`
sympy hangs on calculating it.

I started with the
`integrate(x**(a - 1)*(-x + 1)**(b - 1)*(x**(i*y/(-y + 1) + j*(-y + 1)/y) + (-x + 1)**(i*(-y + 1)/y + j*y/(-y + 1))), (x, 0, 1))` so the `class beta` is not solve it.

Python 2.7 64bit
Sympy 1.0

[2016-05-27 05:19] kpsychas commented on #11119
In pow constructor there is this line:

       obj.is_commutative = (b.is_commutative and e.is_commutative)

and for custom functions like mod an expression is commutative (according to implementation) when all operands are commutative (variables and numbers are commutative).
The problem is that in math commutative property is defined for operators and not operands and I think it should be treated

[2016-05-27 05:54] kpsychas commented on #11132
What should be the expected output in this case?

[2016-05-27 06:59] oldk1331 commented on #3448
`log(cos(x)**2-1)/2` is complex, thus not a good enough answer.
Similar reason, `-1/2*log(1 + tan(x)**2) + log(tan(x))`, `log(sin(x))` is not good,
but `log(sin(x)**2)/2`, `log(tan(x)**2/(1+tan(x)**2))/2`, `log((1-cos(2*x))/2)/2` is good answer.

Reopening this.

[2016-05-27 07:01] oldk1331 commented on #7041
@asmeurer : should a test case be added for this issue?
[code]

[2016-05-27 23:13] trxrunner commented on #11132
[code]
Something like this? It can be hard to read if you have huge expressions and tiny brackets. I feel like the brackets should be the same height as the expressions.

[2016-05-28 02:32] smichr commented on #11125
PR was committed.

[2016-05-28 02:32] #11125 closed

[2016-05-28 02:39] johncurcio opened #11173 "Incorrect solution to diffeq y' = x^(-2)*(sin(2x) - 2xy)"
I started to use sympy not long ago and while trying to convince one of my professors to try it out he pointed out that the `dsolve` method does not correctly return an answer when the ODE is `y' = x^(-2)*(sin(2x) - 2xy)`.

I tried to solve the equation using:

[code]

All of these methods return the following solution (or something in the lines of that):

[code]

However, using solvers such as wo

[2016-05-28 05:44] Shekharrajak opened #11174 "solveset should not consider assumptions"
[code]
In 2nd case Intersection is not expected.

Also in some other cases like :

[code]

[2016-05-28 05:47] Shekharrajak opened #11175 "is_zero_dimensional bug"
[code]

`is_zero_dimensional` should return True, in this case, since this system has finite solution.

[2016-05-28 09:50] parsoyaarihant commented on #11175
I would like to work on this issue. Please give tips :) .

[2016-05-28 12:54] kshitij10496 commented on #11175
An audit of the method would be a good starting point.

[2016-05-28 17:24] parsoyaarihant commented on #11007
I have submitted PR #11177 for this issue.

[2016-05-28 18:19] smichr commented on #10228
I'm pretty sure it will work regardless of the length of the self-same expression it is part of:

[code]

[2016-05-29 01:06] smichr commented on #11007
Let's get that opened as a new issue if it is not addressed by #11177

[2016-05-29 02:28] parsoyaarihant commented on #11007
We could pass an optional argument to the function for non support mode. Will that be fine?

[2016-05-29 19:09] mloubout commented on #11007
I think it needs a flag 'expand' or 'noexpand' saying if you want to develop the product or treat it as a single variable, from all mathematical expression for derivatives should follow (product, quotient, f(g(x)),...)

[2016-05-29 19:43] smichr commented on #11058
Sorry to not have left a reference:

[code]

[2016-05-31 07:24] saeedghsh commented on #11043
a follow up...

Python 2.7.6
[GCC 4.8.2] on linux2
SymPy 1.0

let's define a line:
[code]
and now I would like to define a function ```f(x,y)``` based on the ```line.equation()```. I would normally do:
[code]

Apparently, sympy defines its own symbolic variable for ```x,y```.  The only way I could manage to get a hold of those was to extract atoms as follow:
[code]

My problem is that I was not aw

[2016-05-31 15:06] moorepants commented on #11043
This is an issue with `Line`. It should make the internal symbols available as attributes to the class. Here is the source for the `equation` method:

[code]

[2016-05-31 15:07] moorepants commented on #11043
You can pass in custom symbol names it seems, but it still doesn't give you clear access to the symbols.

[2016-05-31 15:14] Nitin216 commented on #11058
is this closed ?

[2016-05-31 15:34] akritas opened #11179 "solve_poly_system problem(?)"
I have sympy 1.0 installed and

solve_poly_system([3 * x**3 * y + 5 * x * y**6 + 2, x**5 + y**5 - 1], x, y)

returns

[ ]

I know it has a solution [-0.367..., 1.001...]

[2016-05-31 19:56] chaowenGUO opened #11181 "bug with trigsimp(method='combined') and trigsimp(method='groebner')"
code:

import sympy
x,y=sympy.symbols('x,y',real=True)
sympy.trigsimp(y\* sympy.sin(x/2)**2,method='combined')

NameError                                 Traceback (most recent call last)
<ipython-input-28-c21cbd1cfed9> in <module>()
      1 import sympy
      2 x,y=sympy.symbols('x,y',real=True)
----> 3 sympy.trigsimp(y\* sympy.sin(x/2)**2,method='combined')

/usr/lib/python3/dist-packages/sympy/

[2016-05-31 20:21] kpsychas commented on #11070
The problem is the first is identified as rational and the second as a division of two expressions. To avoid inconsistency we could always pretty print rationals the second way. Now this happens only if nominator and denominator have at least 2 digits.

[2016-06-01 04:25] trxrunner commented on #11132
Tuples would probably just look like normal pretty printed parenthesis.

[2016-06-01 04:51] cbm755 commented on #11132
Seems to work fine in git master:
[code]
I guess this has been fixed already.

[2016-06-01 04:53] cbm755 commented on #11132
Also it seems to work fine for me in 0.7.6.  What version is your SymPy?  Please re-open if I've misunderstood.

[2016-06-01 04:55] cbm755 commented on #11132
Apologies, without unicode I can confirm!
[code]

[2016-06-01 04:57] cbm755 commented on #11132
But what do you expect it to look like?  I don't see how https://github.com/sympy/sympy/issues/11132#issuecomment-222272499 is possible without unicode...

[2016-06-01 05:41] trxrunner commented on #11132
You're right. The list wouldn't be possible but the tuple could look like this:
[code]

[2016-06-01 05:53] jksuom commented on #11181
It is odd that the name 'Poly' should not be defined since it is imported at the top of the file. Maybe there is some problem in the installation.

This is what I get:
[code]

[2016-06-01 08:42] Shekharrajak opened #11184 "solveset : expression having nested sqrt."
[code]

Ans is EmptySet.

[2016-06-01 15:13] spors opened #11185 "Plot: axis_center=(x, y) does not work together with xscale='log'"
Using axis_center=(x0, y0) together with xscale='log' in sympy.plot generates an empty image. For instance

`sym.plot(sym.exp(t), (t,1,10), xscale='log', axis_center=(5, 0))`

Using a linearly scaled x-axis works fine

sym.plot(sym.exp(t), (t,1,10), axis_center=(5, 0))

[2016-06-01 18:50] gcwenken commented on #11181
Well, at top of file trigsimp.py, I just see:
from __future__ import print_function, division

from collections import defaultdict

from sympy.core.cache import cacheit
from sympy.core import (sympify, Basic, S, Expr, expand_mul, factor_terms,
    Mul, Dummy, igcd, FunctionClass, Add, symbols, Wild, expand)
from sympy.core.compatibility import reduce, iterable
from sympy.core.numbers import I, Int

[2016-06-01 22:19] lePerdu commented on #11184
As an intermediate step to solving (for `solveset()`), this comes up:
    `sqrt(-y**2 + 100) =  -191/20`.
The function `_invert_real()` keeps going with
    `-y**2 + 100 = 36481/400`,
ignoring that an even root cannot evaluate to a negative.

[2016-06-02 02:53] lePerdu commented on #11173
In the equation, you need to declare `y` as a function of `x`. This:
[code]
and this:
[code]
both yield the correct answer:
[code]

[2016-06-02 05:00] jksuom commented on #11181
[code]
Yes, you are right. It seems that it was imported only after v1.0 was released.

[2016-06-03 00:14] augustt198 opened #11189 "Derivative of integral not intelligent in some cases"
[code]
returns `exp(sin(x) + cos(x))`, as expected. However, this hangs:

[code]

I guess it's trying to actually compute `integrate(E**(sin(x) + cos(x)))`, then differentiate it.

[2016-06-03 01:43] trxrunner commented on #11132
Actually, a list could be pretty printed like this:
[code]
Using the underscores.

[2016-06-03 07:02] parsoyaarihant commented on #11175
Bases for the set of equations `[x**2 + 2/y - 2, x + y - 3]` are `{1/y, x, y}` which are creating problem in is_zero_dimensional function. Shouldnt we have the bases as `{x, y}` ?

[2016-06-03 07:48] rpisarev commented on #8257
Guys, let's see #10712 :)

[2016-06-04 07:32] dimitra-kon opened #11191 "There is no class for Parabola in geometry module"
We have noticed that there is no class in the geometry module that implements Parabola, so we are working on adding a new one.

[2016-06-04 07:57] ChristinaZografou commented on #11191
We sent a pull request including our basic implementation of class Parabola.

[2016-06-04 09:25] leosartaj commented on #11191
#11192

On 4 June 2016 at 13:27, Christina Zografou <notifications@github.com>
wrote:

--
Regards
*Sartaj Singh*

*Mathematics and Computing*,
Indian Institute of Technology,
Varanasi - 221 005 INDIA

E-mail: singhsartaj94@gmail.com, *sartaj.singh.apm13@itbhu.ac.in
<sartaj.singh.apm13@itbhu.ac.in>*

[2016-06-04 13:36] Pastafarianist opened #11193 "Poor simplification of certain complex fractions"
[code]

Output:

[code]

I don't know why the output is not aligned properly after I copy-pasted it here. It looked okay in my terminal.

Notice how `m[2, 4]` becomes `-I`. Furthermore, notice how many of these fractions become simpler when represented as `a + bi`. Perhaps the simplifier should have a special case for complex fractions, where it would multiply the numerator and the denominator by

[2016-06-04 19:56] vasdommes commented on #10381
The problem with tensor contraction was fixed in PR #10988, so with the latest _master_ branch your code should work correctly.
P.S. Tthere are some open problems with tensor indices - see #11039.

[2016-06-05 09:30] Shekharrajak opened #11194 "solveset hangs"
`solveset(2*sin(x) - 2*sqrt(3)*cos(x) - sqrt(3)*tan(x) +3,  x, S.Reals)`
hangs. It can be solved easily after factorization. But solveset directly rewriting it into `exp` form and trying to  solve it.

[2016-06-05 18:30] sadbuttrue1 commented on #8193
@FiachAntaw submit your fix please…

[2016-06-06 01:40] moorepants opened #11197 "Physics vector printing screws up matrix brackets."
On master:

[code]

[2016-06-06 10:31] wxgeo commented on #11142
Note that converting k to a rational avoids this error:

    from sympy.stats import Normal, P
    mu=7.74
    sigma=1.95
    X = Normal('X', mu, sigma)
    k=6.23
    P(X>Rational(k))

Previous code returns `0.55199635474805⋅√2` which sounds a bit weird imo but is correct.

[2016-06-06 12:43] Shekharrajak opened #11198 "factor_list(sqrt(const)*x) error"
[code]
It should return `(1, [(√2⋅x , 1)])` .

[2016-06-06 18:14] jbm950 opened #11199 "kane.old_linearizer"
I found this while looking through some tests for `KanesMethod`:

[code]

The `_old_linearizer` method is still present in kane.py and the `linearizer` method still pops up a deprecation warning if "new method" is not explicitly passed. Is this some code that should be cleaned up? It's my understanding from Issue #9641 that the new linearizer might not be currently working. In that case should the

[2016-06-06 19:29] gbernardino opened #11200 "Mathml printer piecewise error"
Hello,

I am using Python 2.7 with sympy 1.0, and I think I have discovered an error in the implementation of the Mathml printer. It is not able to convert a Piecewise statement to Mathml. It tries to convert it using an apply node, instead of a piecewise one.

Minimal Code with execution error:
----------------------------------

Second version (no execution error,  but the result is not a valid

[2016-06-07 15:13] hargup opened #11203 "docstring missing for invert_real and invert_complex"
There is not docstring for `invert_real` and `invert_complex`.

[2016-06-07 18:18] asmeurer opened #11204 "Code quality tests are not failing on Travis"
See https://travis-ci.org/sympy/sympy/jobs/135668052#L3715, where it says that on commit 36b0e24, the code quality tests pass (note that this is the test against the branch master, not a PR, so it's testing exactly that commit). But for me:

[code]

And indeed, at https://github.com/sympy/sympy/blob/36b0e2433fd9d814acd2ed74d5c2e68a69e37f12/sympy/holonomic/holonomic.py#L1042 you can see that that l

[2016-06-07 18:19] asmeurer commented on #11204
Here is the PR that clears the whitespace https://github.com/sympy/sympy/pull/11205

[2016-06-07 18:23] asmeurer commented on #11204
Travis claims to have checked out the [correct commit](https://travis-ci.org/sympy/sympy/jobs/135668052#L117). So I think there are two possibilities:

- Travis is lying, and is really testing a different commit, or
- something is clearing the trailing whitespace

A third possibility is that somehow the code quality tests are broken, but it seems odd that they would work on my machine but not on T

[2016-06-07 19:13] asmeurer opened #11207 "floor(ceiling(x)) doesn't simplify"
`floor(ceiling(x))` doesn't simplify. It should simplify to just `ceiling(x)`.

This works if `x` is set to be real, because then `ceiling(x)` sets itself as an integer, and `floor(x)` returns `x` if `x` is an integer. But for complex `x`, the floor and ceiling are still defined, but are not integers if `x` is not real. However, the definition appears to be simply that the usual floor and ceiling

[2016-06-07 19:18] asmeurer opened #11208 "Implement __floordiv__ on Expr"
`x//y` right now raises a TypeError. It should return `floor(x/y)`, or some special `FloorDiv` type. Just returning `floor(x/y)` would be easy to fix.

[2016-06-08 06:07] FiachAntaw commented on #8193
@sadbuttrue1 See PR #11209, sorry for the extraordinarily long delay (I completely forgot about this).

[2016-06-08 09:32] parsoyaarihant commented on #11208
I want to work on this. How do I start?

[2016-06-08 13:09] Upabjojr opened #11212 "IndexedBase: wrap more than a Symbol as base"
Currently, `IndexedBase` wraps a symbol to use as the _base_ symbol.

What about generalizing? For example, wrapping a function:

[code]

As another example, random symbols could be wrapped to allow for a naive representation of stochastic processes.

[2016-06-08 13:11] Upabjojr commented on #10967
https://github.com/sympy/sympy/pull/11144

[2016-06-08 13:11] #10967 closed

[2016-06-08 13:12] Upabjojr commented on #11212
https://github.com/sympy/sympy/issues/10968

[2016-06-08 18:28] #9593 closed

[2016-06-08 18:44] asmeurer commented on #11193
The SymPy function to perform this simplification is `expand_complex`. I was never really clear on why `simplify` doesn't make better use of `expand`.

[2016-06-09 05:38] parsoyaarihant commented on #11197
I want to work on this issue. How do I proceed?

[2016-06-09 08:38] parsoyaarihant opened #11214 "sqrt(x) > 0 doesnt return a bool expression"
I ran the following program in sympy:
[code]
Shouldnt sympy check the range of the function to return the output?

[2016-06-09 09:21] #11214 closed

[2016-06-09 10:41] parsoyaarihant opened #11216 "Unable to solve heaviside equations"
I ran the following program:

[code]

[2016-06-09 14:20] moorepants commented on #11197
The entries of the matrix are printed with the sympy.physics.vector pretty printers (basically changes Derivative(q(t), t) to q'. These dots don't seem to work with the matrix pretty printers. You'd need to investigate the interaction between these two printers.

[2016-06-09 14:36] parsoyaarihant opened #11217 "set range of a Symbol"
Sympy does not support symbols with variable range. I want API to support something like this :
[code]

[2016-06-09 16:53] #8257 closed

[2016-06-09 17:20] asmeurer opened #11218 "solveset(sin(pi*x), x, domain=S.Reals) doesn't give the solution"
See https://stackoverflow.com/questions/37603511/sympy-solve-for-all-solutions-on-domain.

[code]

[2016-06-09 22:03] schalil commented on #11156
Any updates?

[2016-06-10 03:17] siefkenj opened #11220 "`.is_finite` doesn't work for sets"
At present there seems to be a confusing naming convention: `is_finite` vs `is_FiniteSet`.

     from sympy import FiniteSet
     f = FiniteSet(1)

Now `f.is_finite` returns `None` while `f.is_FiniteSet` returns `True`.  Presumably `is_finite` was originally meant for numbers, but it seems like they should be synonymous for sets, or at least throw a warning saying that you probably want `is_Finite

[2016-06-10 07:18] kritkaran94 commented on #10985
@asmeurer I have removed the u() function from the file named compatibility.py and the corresponding imports too. However, this is the error I got after doing so :

![screen shot 2016-06-10 at 12 47 08 pm](https://cloud.githubusercontent.com/assets/10063868/15956975/9aa0a464-2f09-11e6-817d-6ec9b36d9d9f.png)

[2016-06-10 09:53] parsoyaarihant opened #11223 "subs() bug"
subs() method is giving wrong result.
#### The following gives correct result:
[code]
#### The following gives wrong result:
[code]
answer should be `-I*y**(2*pi) + I`

[2016-06-10 17:32] drocta commented on #8668
I wrote a python class for ordinal numbers less than epsilon_0 which has natural addition and natural multiplication, and I happened upon this issue. Might this code be useful as something to use as a base for a solution to this issue?

It uses natural (Hessenberg) operations, so `__mul__` is commutative for it (as is `__add__` ), so I don't know if it would serve the same purposes as well, but it

[2016-06-10 18:52] Wrzlprmft opened #11226 "Products of sums with fractions, integers and similar are automatically expanded"
Consider the following code:

[code]

On my Sympy, the first three expressions are expanded, while the last is not. This should not happen as expanding is no straightforward simplification and not easily reversible (`factor` can take considerably long if the sum is sufficiently long). Moreover, it is inconsistent with the last expression not being expanded.

This happens in version 1.0 as well as

[2016-06-10 19:20] asmeurer commented on #10985
You'll need to replace it with `u'string'` in the places where it is used.

[2016-06-10 19:42] Wrzlprmft opened #11227 "Using a complex term as an argument of a function takes very long"
Consider the following code:

[code]

For some reason, the last step eats up a lot of time, even though there is nothing that could possibly be simplified, given that nothing is known about `f`.

This problem occurs in SymPy 1.0, but not in SymPy 0.7.4.1.

[2016-06-10 19:53] #9135 closed

[2016-06-10 20:19] parsoyaarihant opened #11228 "solveset unable to solve equation x**2.5 = 1"
[code]

[2016-06-10 21:23] proy87 opened #11229 "How to parse string 'x_2' into variable x_2 ?"
I use parse_expr('x_2') to convert a string into symbol, but without luck.
It is converted into 2x.
It appears that parse_expr returns _
How to avoid this?

[2016-06-11 01:24] smichr commented on #11229
Do these work for your purposes?

[code]

[2016-06-11 01:32] smichr commented on #11226
Yes, this is issue #4596, a deeply rooted feature that nobody has yet extracted.

[2016-06-11 01:32] #11226 closed

[2016-06-11 01:34] smichr commented on #11217
related to #4417?

[2016-06-11 04:53] kshitij10496 commented on #11218
For solving trigonometric functions, we rewrite them in terms of exponential function.
As can be seen in this example, we cannot solve all the corresponding exponential equations.

However, some can be solved via `solve_decomposition`. #11141
I have been working on solving this particular example for some time.

[2016-06-11 06:38] kritkaran94 commented on #10985
After removing the function, I ensured that u() is not imported. Also,
later all instances of u(" ") which were present in
printing/pretty/pretty.py too are removed still there are similar issues.
What error could it be ?

*Krit Karan Singh Bhardwaj*
*IIIT Sri City *
*+91 7032306986 *
*kritkaran.b13@iiits.in <kritkaran.b13@iiits.in>*
http://iamkrit.in/

On Sat, Jun 11, 2016 at 12:50 AM, Aaron Meur

[2016-06-11 06:53] kritkaran94 commented on #11229
@proy87 I guess you should use symbols('string' ) to  convert a string into symbol. It would work fine.

[2016-06-11 06:58] proy87 commented on #11229
@smichr, in general I need to parse arbitrary input like sin(x_2)+exp(t)/t
I know that symbol works, but I need parse_expr

[2016-06-11 07:07] kritkaran94 commented on #11229
@proy87 What output do you expect for the same?
![screen shot 2016-06-11 at 12 35 53 pm](https://cloud.githubusercontent.com/assets/10063868/15983820/36c08cca-2fd1-11e6-8105-c70697d67e63.png)

[2016-06-11 08:34] kritkaran94 commented on #11194
@Shekharrajak Have a look at #10226. Actually, you must get NotImplementedError. @smichr How can this be worked upon ?
![screen shot 2016-06-11 at 2 03 38 pm](https://cloud.githubusercontent.com/assets/10063868/15984129/586e8992-2fdd-11e6-833b-9e39e971697a.png)

[2016-06-11 14:24] #11062 closed

[2016-06-11 16:53] proy87 commented on #11229
@kritkaran94 , you're right.
It works.

[2016-06-11 17:28] #10847 closed

[2016-06-11 17:42] kritkaran94 commented on #11229
resolved #11229

[2016-06-11 17:55] kritkaran94 commented on #11229
fixed #11229

[2016-06-11 22:27] smichr commented on #10228
My `cse` branch starts to address this.

[2016-06-12 00:04] smichr opened #11230 "cse leaves behind unevaluated subexpressions"
[code]

[2016-06-12 00:12] smichr commented on #8668
Activity on an issue raises it to the top of the "recently updated" listing, so all is not lost. If nobody responds to an old issue it gets stale. Now...whether anything will happen or not is another issue ;-)

[2016-06-12 00:15] smichr commented on #11229
just for completeness

[code]

So I will close this issue -- please reopen if there is something that is not working as you believe it should.

[2016-06-12 00:15] #11229 closed

[2016-06-13 04:46] GNAMGNAM commented on #11228
{-1, 1}

OK

ConditionSet(x, Eq(x**2.0 - 1, 0), Complexes((-oo, oo) x (-oo, oo), False))

UNABLE TO SOLVE

[2016-06-13 05:44] parsoyaarihant commented on #11228
I am working on this issue. I will submit a PR soon.

[2016-06-13 16:15] zanzibar7 commented on #11216
This should be easy to implement.  Is there documentation on the standard method for
extending `solveset`?  (like there is for `integrate`)

[2016-06-13 16:27] parsoyaarihant commented on #11216
I dont think so, but you can check [this](https://github.com/sympy/sympy/wiki/GSoC-2015-Application-AMiT-Kumar--Solvers-:-Extending-Solveset).

[2016-06-13 22:26] asmeurer commented on #11230
The unevaluated products are always supposed to be duplicated, so that they get replaced. This would seem to indicate a bug in the algorithm.

[2016-06-14 01:24] asmeurer commented on #10163
Here I have added support for DotProduct in lambdify with numpy https://github.com/sympy/sympy/pull/11235. My goal for this issue is to have support in `ccode` and `fcode`, so don't close it until those are implemented.

[2016-06-14 08:45] rouckas commented on #11228
Perhaps you want to do:
[code]
It is better to avoid floats in symbolic computations

[2016-06-14 08:49] rouckas commented on #11228
@GNAMGNAM see [Python numbers vs. SymPy Numbers](http://docs.sympy.org/latest/gotchas.html#python-numbers-vs-sympy-numbers)
This works:
[code]

[2016-06-14 08:50] parsoyaarihant commented on #11228
@rouckas , thanks.

[2016-06-14 08:50] #11228 closed

[2016-06-14 12:52] Shekharrajak opened #11236 "diophantine when symbol is not present in the equation"
[code]

Expected :  `set([(n₁, 0, n2), (-t₀, 3⋅t₀ - 4, n2)])`

[2016-06-14 13:10] Shekharrajak commented on #10434
[code]

It is correct now ?

[2016-06-14 17:29] siefkenj opened #11238 "`Matrix.rank()` returns incorrect result even with `simplify=True`"
This is related to issue #9480 and likely bugs in `simplify`, but even with `simplify=True`, `Matrix.rank()` can still return incorrect results.

[code]

will print `1`, `2`, `2` when all values should be `1`.  My guess is that this is a failure in one of the `_iszero` functions.

[2016-06-14 19:12] srajangarg opened #11240 "Polynomial division over ZZ"
I was about to write division for polynomials for SymEngine. I am confused about some results. I want to division of polynomials in the integer ring, and restrict the results to the integer ring. Ofcourse, the integer ring is not euclidean, so there is no universal way to define euclidean division.

[code]

I tested the same on other popular libraries like Flint and Sage. Both give this output :
[

[2016-06-14 19:17] jksuom commented on #11240
Please note that the original ring `ZZ[t]` has become `ZZ` in the quotation for some reason.

[2016-06-14 19:18] asmeurer commented on #11240
Somewhat relevant: https://groups.google.com/forum/#!topic/sympy/Pd_C9kvSn7I sympy/sympy#5130. The tl;dr there is that in the Risch algorithm, I made sure to always use the field variants of these functions, which behave much more reasonably.

It would be great to get Mateusz's opinion on this, as he wrote it. He may have muted SymPy notifications, though, so you might email him if he doesn't resp

[2016-06-15 00:33] lxkain commented on #10434
I believe this is different from

(sin(w) * n)/(pi * n)

id est the 'n' should not be in the argument to sin(), but a factor in the nominator (unless I'm incorrectly remembering the desired result).

[2016-06-15 03:43] Shekharrajak commented on #10434
since

[code]
I checked here [wolframalpha](http://www.wolframalpha.com/input/?i=(1%2F(2+*+pi)+*+integrate(exp(1*I+*+x+*+n),+(x,+-w,+w))))

[2016-06-15 03:52] lxkain commented on #10434
Oh yes, that is correct, I copied the answer incorrectly from my notes into my original post, which should have read

(sin(wc * n))/(pi * n)

Thank you for your efforts! My DSP students can now verify most of the equations in my DSP class symbolically.

[2016-06-15 17:57] smichr commented on #11223
Comments have been left on #11225 indicating that this is the correct behavior since the substitution as you have proposed would not always be valid (if I am understanding all correctly).

[2016-06-16 04:23] #11223 closed

[2016-06-16 16:05] #8193 closed

[2016-06-16 16:08] #11198 closed

[2016-06-17 07:46] debugger22 opened #11245 "Dev team section shrinks after loading on about us page in documentation"
Here's the picture of it

<img width="1680" alt="screenshot 2016-06-17 13 13 58" src="https://cloud.githubusercontent.com/assets/2821646/16143939/9eb9927a-348d-11e6-9592-b704d46cc097.png">

Page source has contents, though.

[2016-06-17 12:44] Newman101 commented on #11227
Problem reproduced with Ubuntu 14.04 LTS / SymPy 1.0 / Python 2.7.6. Memory leak somewhere?

[2016-06-17 14:27] Newman101 commented on #11227
Looks like the bottleneck is in simplify method, which makes a perfect sense:

[code]

[2016-06-17 14:31] Newman101 commented on #11227
I have a call graph generated by graphviz but it's 5.1MB and 32000+ pixels wide. So not going to post such a thing here.

[2016-06-17 14:52] Newman101 commented on #11227
Call graph below.

![test](https://cloud.githubusercontent.com/assets/4118513/16154592/73ee2e0a-34a3-11e6-8ea6-af189c4f49d2.png)

[2016-06-17 14:56] Newman101 commented on #11227
Case ```f(ugly)``` below.

![test2](https://cloud.githubusercontent.com/assets/4118513/16154747/1b7bd672-34a4-11e6-8d51-168201f5fe5b.png)

[2016-06-17 17:32] fokinpv opened #11248 "`Eq` does not lambdified with sympy module"
SymPy 1.0. Seems this is a bug. Could not lambdify `Eq` with sympy, with numpy it works ok.

[code]

[2016-06-18 08:43] kritkaran94 commented on #10985
@asmeurer Please review this PR.

[2016-06-18 10:31] proy87 opened #11252 "Logcombine hangs when variable has positive assumption"
`x=Symbol('x', positive=True)`
`logcombine(((x + 8)*(x**2 - 32*x + 192*log((x**2 + 16*x + 64))) + 1024)/(2*(x + 8)))`

Above code hangs.

If `x` is just `x=Symbol('x')`, then everything is OK.

[2016-06-18 10:36] kritkaran94 commented on #11245
@debugger22 Please review the PR

[2016-06-18 12:58] Pastafarianist opened #11253 "solve() returns different solutions on different invocations"
[code]

Outputs I've seen:

[code]

[code]

[code]

Version info:

[code]

[2016-06-18 16:09] siefkenj commented on #11220
Okay, as near as I can tell `is_`lower case is for things that are part of the assumptions system and `is_`CamelCase is for type-checking-like operations.

[2016-06-18 17:09] nchisholm opened #11254 "Integration of sech and csch functions"
Sympy does not evaluate the integrals involving the hyperbolic secant and hyperbolic cosecant functions when I try to do so.
[code]
The result is similar for `csch`.  However, `sinh`, `cosh`, `tanh`, and `coth` all evaluate as expected, so I can do
[code]
which is the result I expected for integrating `sech(x)**2`.  Is there a reason for this behavior?

[2016-06-18 19:39] kritkaran94 commented on #11254
@nchisholm It's a bug I guess. I am working on this.

[2016-06-19 04:50] Carreau opened #11255 "inspect.getargspec is depreacted."
[code]

`inspect.signature()` should be used (since 3.4 iirc, warning 3.4 docs say to use `getfullargspec`, but that was removed in 3.5).

Cf some discussion in #11249.

[2016-06-19 06:28] kritkaran94 commented on #10985
@asmeurer I worked upon your comment and submitted this PR. Please review it.

[2016-06-19 11:35] J12D opened #11258 "cdf over Uniform random variable produces non-deterministic results"
I'm on sympy 1.0. The following code:

[code]

produces non-deterministic output, for example:

[code]

I assume that this is a bug, can someone confirm this?

[2016-06-19 14:49] #2704 closed

[2016-06-19 18:38] siefkenj opened #11259 "[geometry] Proposed renaming of functions"
There are several functions in the `geometry` module that start with `is_` or `are_`.  This leads to confusing when using functions both as class methods and instance methods.  For example, if `l1,l2` are lines, `l1.is_parallel(l2)` makes English sense, but `Line.is_parallel(l1, l2)` makes less sense.  This has resulted in some people filing bug reports to change the name of `is_` to `are_`.... I

[2016-06-20 10:37] debugger22 commented on #10985
@asmeurer Can we user `unicode_literals` across the whole codebase and not use `u'string'` anywhere? It shouldn't create any issue except at few places in crypto where byte strings are required.

[2016-06-20 10:43] debugger22 commented on #11259
I agree that this(`is_` and `are_` together) indeed creates confusion. But I don't think we should remove both of them. I'd suggest to stick to either `is_` or `are_` preferably `is_`.

`is_` is being used all over the codebase of SymPy for e.g. `x.is_positive`, `x.is_Symbol`, etc.

How easily can this be done?

[2016-06-20 11:03] vassbu opened #11260 "Recursion solver fails"
The solution to the following recursion equation is wrong,

-3*(-1)**n/5 + 2*2**n - 6*n/5 - 12/5

Correct solution:  2**(n+1) - (-1)**n/2 - n - 5/2

[2016-06-20 11:08] vassbu opened #11261 "Recursion solver fails"
The solution to the following recursion equation is wrong,

Correct solution:  2**(n+1) - (-1)**n/2 - n - 5/2

[2016-06-20 11:10] vassbu opened #11262 "Limit function fails"
The limit of the following ratio should be 1/3, not 1:

[2016-06-20 11:54] jksuom commented on #11262
Looks like a duplicate of #10610.

[2016-06-20 14:56] bjodah commented on #10985
@debugger22 that would create massive head aches for people using Python 2.7, see Aaron's comment [here](https://github.com/sympy/sympy/pull/9692#issuecomment-126162173).

[2016-06-20 15:25] debugger22 commented on #10985
That's some great stuff. Thanks!

[2016-06-20 15:40] siefkenj commented on #11259
@debugger22

[code]

will output

[code]

This example is fairly compelling, but at the moment, if you added a `__getattr__` to `A`, it would never be called, thus if `A` did some fancy mangling aswell, it wouldn't be "inherited".  This could be fixed though.

I realized I could just do a little grepping to answer this question.  It appears `geometry` is the *only* place in the sympy codebase that

[2016-06-20 16:18] cyru commented on #11207
This seems to be fixed in the latest version of sympy. The expression "floor(ceiling(x)) == ceiling(x)" evaluates to true.

[2016-06-20 16:34] #11207 closed

[2016-06-20 16:35] debugger22 commented on #11259
From the stats it looks like staying with `is_` is a favourable option. From what I know, if I want to query something about an `Expr/Symbol` the name of method does come with an appended `is_`.

[2016-06-20 16:51] siefkenj commented on #11259
@debugger22 I agree that if you're querying for something about an object `is_` is the consistent thing, but there seems to be a difference to me between `a.is_zero` and `a.is_subset(b)` vs. `a.is_collinear(x,y,z)`.  The last one seems more like it should really be `a.is_collinear_with(a,b,c)` (then again, by this reasoning, you could argue it should be `a.is_subset_of(b)`)

[2016-06-20 17:48] Eh2406 commented on #11169
From my SymPy Live experiment today.

    ...     return log(x / (1 - x))

    Error: Internal Server Error.

maybe same error.

[2016-06-20 17:52] Eh2406 commented on #11258
I get the same result as you.

[2016-06-20 18:51] cbm755 commented on #11060
Fixed by #11244, which is basically #11065 with another change.

[2016-06-20 18:51] #11060 closed

[2016-06-20 20:48] #11245 closed

[2016-06-20 22:56] asmeurer commented on #11220
Not all finite sets are automatically converted to FiniteSet (for instance, finite `Range` instances). Right now I believe the best way to tell if a set is finite without caring if it's literally a `FiniteSet` is to call `len()` on it and see if it raises an exception (looks like both TypeError and ValueError are possible).

[2016-06-21 04:32] kritkaran94 commented on #11254
@jksuom @debugger22 Any idea about this issue. Looks a bug to me.

[2016-06-21 07:13] jksuom commented on #11254
Integration of hyperbolic functions is not fully implemented. It could be done in the Risch integration module, but that is not complete yet. Currently, some hyperbolic integrands are handled by the parallel (or poor man's) Risch integration module `heurisch`. However, that only works with some integrands, and there is no easy way to improve its performance.
It seems to me that the best way to dea

[2016-06-21 08:15] kritkaran94 commented on #11254
@jksuom Thanks a lot for that. Can I work on this issue ?

[2016-06-21 08:20] Wrzlprmft opened #11265 "cbrt and sqrt are handled differently by simplification routines and code printers"
`sqrt` is `cbrt` are handled quite differently (see the examples below) by simplification routines and code printers. This is undesirable for two reasons:
- Consistency.
- Without certain optimisation flags, C’s `cbrt(x)` is handled slightly more efficiently than `pow(x, 1.0L/3.0L)`. There may also be differences in terms of accuracy.

[code]

[2016-06-21 08:35] Wrzlprmft commented on #8997
For your interest, the optimisation of small integer powers is handled by the following flags:

- GCC: `-funsafe-math-optimizations` which is activated by `ffast-math`, which in turn is activated by `-Ofast`
- Clang 3.8: `ffast-math` which is activated by `-Ofast`.
- Clang 3.4: I could not find any such flag.

If this optimisation is activated, `pow(x,3)` is computed at least ten times as fast.

I

[2016-06-21 09:00] jksuom commented on #11254
You are welcome to work on that.

[2016-06-21 17:39] saeedghsh commented on #11043
And any other objects of "GeometryEntity" type from the geometry module, I guess...

[2016-06-21 17:51] certik commented on #11204
We need to figure out how it is possible that trailing white space got in.

[2016-06-21 18:23] asmeurer commented on #11204
I think setuptools is clearing whitespace when SymPy is installed. I just tested installing SymPy from master in an empty conda environment, and `sympy.test('quality')` passes.

[2016-06-21 18:26] asmeurer commented on #11204
Oh, it's not that at all. The holonomic module is not being installed. Meaning none of the holonomic tests are being run at all. @shubhamtibra can you fix this?

[2016-06-21 18:29] shubhamtibra commented on #11204
Sure. What am I supposed to do for installing the module?

[2016-06-21 18:43] asmeurer commented on #11204
Run [this](https://github.com/sympy/sympy/blob/master/setup.py#L66) and [this](https://github.com/sympy/sympy/blob/master/setup.py#L256). You may also need to fix some test failures in holonomic, since they have never been tested by Travis.

[2016-06-21 18:51] shubhamtibra commented on #11204
I ran these commands. I guess they should change some files, but there isn't any (nothing from `git diff` or `git status`).?

[2016-06-21 18:58] shubhamtibra commented on #11204
Oh, I get it. I need to make the changes manually.

[2016-06-21 19:07] gcwenken opened #11268 "latex printing does not behave like other kind of printing in denominator"
![latex](https://cloud.githubusercontent.com/assets/12224985/16242502/538d6938-37b8-11e6-9281-c0ab4b2197b6.png)
As the notebook show, latex printing does not behave like other kind of printing, I ask the question on mailing list. Aaron Meurer said that the problem was that latex printing used fraction() to pull out the numerator and denominator. And such fraction() is used in _print_Mul in LatexPr

[2016-06-21 19:10] asmeurer commented on #11204
I have a general fix at https://github.com/sympy/sympy/pull/11269, which now tests that the modules and tests are up-to-date in setup.py. But I didn't check if there were any holonomic test failures, so if there are any, you should fix those. Also, at least https://github.com/sympy/sympy/pull/11267 will need to be merged first.

[2016-06-21 19:15] shubhamtibra commented on #11204
Thanks for the fix @asmeurer . I will take care if test(s) fail.

[2016-06-21 20:31] krey opened #11270 "Limit erroneously reported as infinity"
[code]

[code]

The latter of the two is the correct answer. I understand that the discrepancy is due to the fact that python converts 1/2 into a floating point number before sympy is able to treat it as a fraction.

But I think it is buggy behaviour to return infinity instead throwing an "UnknownLimitError" or something.

I'm using the latest version (1.0 apparently?) from pip under Python 3.5.1

[2016-06-21 21:01] cyru opened #11271 "Missing parenthesis in the c codeprinter's output for sign(x)"
print(ccode(sign(x))) yields (((x) > 0) - ((x) < 0)).
There seems to be a missing parenthesis.

[2016-06-21 22:05] #11271 closed

[2016-06-21 22:05] cyru commented on #11271
i was wrong

[2016-06-21 22:17] saeedghsh opened #11272 "geometry module - problem with the line intersection"
Hello,

Please consider the following case of intersecting two line entities (sym.Line):
[code]
Which works all right.

But when I define a new class "LineModified" inheriting from "sym.Line" as its baseclass, it fails to perform the intersection procedure.
[code]
It seems the ```LinearEntity``` of the geometry module supports intersection of line entities of different types, namely (Line, Ray, Se

[2016-06-22 03:07] jksuom commented on #11270
Also this is possible:
[code]
Python converts the argument of `log` to 0.

[2016-06-22 04:17] gungan37 opened #11273 "MathML printer produces incorrect results with matrices"
When using the MathML printer, matrices are not printed correctly. For example,

`M = Matrix([[1,2],[3,4],[5,6]])`
`print_mathml(M)`

produces the following output

`<immutablematrix>`
`<cn>1</cn>`
`<cn>2</cn>`
`<cn>3</cn>`
`<cn>4</cn>`
`<cn>5</cn>`
`<cn>6</cn>`
`</immutablematrix>`

rather than using `matrix` and `matrixrow` MathML elements like the code is intended to.

[2016-06-22 05:03] cbm755 commented on #10927
This is pretty serious: we should not release with this problem, added the 1.1 milestone.

[2016-06-22 05:19] krey commented on #11270
Not in Python 3 ;-)

[2016-06-22 07:56] kritkaran94 commented on #10985
@asmeurer Could you please have a look at the code and hint at want more changes may be required in this PR

[2016-06-22 10:12] Sumith1896 commented on #11260
Duplicate of https://github.com/sympy/sympy/issues/11261
Needs to be closed

[2016-06-22 10:59] #11260 closed

[2016-06-22 16:28] asmeurer commented on #10985
@kritkaran94 can you link to the pull request?

[2016-06-22 16:42] asmeurer opened #11274 "Intermittent "Fatal Python error: Cannot recover from stack overflow." from wester tests on Travis"
[code]

For example, at https://travis-ci.org/sympy/sympy/jobs/136763509. I've also seen it in Python 3.5.

[2016-06-22 16:43] asmeurer commented on #11274
I haven't been able to reproduce this locally, even with the same PYTHONHASHSEED and so on. It may be Linux only (I only tested on OS X).

[2016-06-22 17:13] kritkaran94 commented on #10985
@asmeurer It's #11256 (There are issue's with the name of the commit's) I would correct that after your feedback on the changes.

[2016-06-22 18:02] jksuom commented on #11274
Is is possible to find out how much memory is allocated for the virtual machines running the Travis jobs?

[2016-06-22 18:31] asmeurer commented on #11274
I don't see any information about that in the logs. If there is a Linux command that shows the total memory, you can create .travis.yml that runs that command and look at the output.

[2016-06-22 19:26] jksuom commented on #11274
This would probably suffice:
[code]

[2016-06-22 20:57] asmeurer opened #11275 "LaTeX printer inconsistent with pretty printer"
The LaTeX printer should always give the same output as the pretty printer, unless better output is possible from LaTeX. In some cases it is inconsistent. For instance:

[code]

(I also don't think the assumptions should affect printing).

[code]

[2016-06-22 20:58] asmeurer commented on #11275
In each of these cases, the pprint output is better. I think in general the pretty printer is better tuned than the LaTeX printer, so if they disagree, the pprint output is likely the better one.

[2016-06-22 21:07] asmeurer commented on #11274
Would also be useful to run the tests with `-v` to see exactly what test this is that's crashing Python.

By the way, this error has happened before, which ended up being a [bug in Python](https://bugs.python.org/issue14537).

[2016-06-23 17:30] Shekharrajak commented on #11174
Another case
[code]

[2016-06-23 17:43] parsoyaarihant commented on #11275
Hi, I want to fix this issue. How should I start?

[2016-06-23 17:48] asmeurer commented on #11275
Each of the expressions is a Mul, so look at LatexPrinter._print_Mul and compare it to PrettyPrinter._print_Mul.

[2016-06-23 17:59] nacitar opened #11279 "solve() doesn't provide a value for all the variables requested"
X, RADIUS, RADIANS  = symbols('x radius radians')
    solve([Eq(X, RADIUS * cos(RADIANS)), Eq(RADIANS, 0)], [X, RADIUS, RADIANS])

The result of solve is:

    [{radians: 0, radius: x}]

I asked for X, RADIUS, and RADIANS... but there is no X in the result.  Of course, I can see that radius = x, so x = radius, but I feel that the result should be:

    [{radians: 0, radius: x, x: radius}]

asmeure

[2016-06-23 18:46] jksuom commented on #11274
I'm beginning to suspect that this is caused by a bug in SymPy. The failing test is (most probably) `test_W26` in wester.py. The integral is handled by `meijerint`. It wants to evaluate `polar_lift(cos(pi*exp_polar(I*pi)/2))`, and therefore it needs to compute `sqrt(cos(pi*exp_polar(I*pi)/2)**2)`. Though this appears trivial on the surface, it does easily lead to `RuntimeError: maximum recursion d

[2016-06-23 18:53] asmeurer commented on #11274
There is indeed a RecursionError in SymPy, but the issue is that this shouldn't crash Python. It should be caught by the interpreter. Likely the test that is causing this is an XFAIL test.

[2016-06-23 18:55] asmeurer commented on #11274
This is the same thing that happened with the aforementioned CPython bug 14537. A recursion error in an XFAIL test triggered a "Python error: Cannot recover from stack overflow."

[2016-06-23 19:11] jbm950 commented on #10855
When run locally I get the following.

[code]

On mine it looks like the pygletplot tests were not run at all. I do not know how the doctests work though so I do not know where to look to see if they have been removed or have already been blacklisted.

[2016-06-23 20:15] jksuom commented on #11274
There is `RuntimeError` in Python 2.7 and `RecursionError` in Python 3.5. That might explain why only 3.5 is affected. Could it be a regression in Python?

[2016-06-23 20:38] asmeurer commented on #11274
The example above is in 3.3.5. But I also saw it in a 3.5 build (I'm not able to find it, though. People have a tendency to just restart builds when they fail, so intermittent failures like this one go unfixed for a long time.)

[2016-06-23 21:05] asmeurer opened #11281 "ccode(sinc(x)) doesn't work"
[code]

I don't think `math.h` has `sinc`, but it could print

[code]

[2016-06-23 21:10] asmeurer commented on #10855
It's probably skipped entirely unless you have pyglet installed.

[2016-06-23 23:28] nicoguaro opened #11282 "Fail in checkodesol"
I am trying to solve a nonhomogeneous differential equation, but when I try to  check the result it says that is not the solution.

[code]

that returns

[code]

If we try with the solution I think is correct, I might derived this by hand and also using Maxima

[code]

we obtain

[code]

[2016-06-24 06:09] kritkaran94 commented on #11281
@asmeurer I would like to fix this issue. Should I work upon  the codegen.py file ? If there's something else tell me how to start ?

[2016-06-24 06:58] jksuom commented on #11274
I have modified the meijerint lookup table in #11283 so that the `polar_lift` call would be avoided. This should (hopefully) enable `test_W26` to finish with no exception (though not necessarily with the expected result). The bug in `sqrt(cos(pi*exp_polar(I*pi)/2)**2)` should be fixed independently of this.

[2016-06-24 13:51] jbm950 commented on #10855
I agree with Thomas that the errors seem to be from relative import errors. Two fixes would be to define the whole path to the module as is done in [physics/mechanics/kane.py](https://github.com/sympy/sympy/blob/master/sympy/physics/mechanics/kane.py) or doing the relative imports like Thomas mentioned which is currently done in [physics/mechanics/\__init\__.py](https://github.com/sympy/sympy/blob

[2016-06-24 16:42] asmeurer commented on #10855
It seems this file was never converted to Python 3.

[2016-06-24 16:48] asmeurer commented on #11281
The relevant file is sympy/printing/ccode.py

[2016-06-24 18:57] certik opened #11284 "Improving integrate() for holonomic functions"
Currently it does:
[code]
But should probably raise an exception, since it can't do it --- the returned answer is just a general holonomic function, which is wrong. Let's try just the indefinite integral:
[code]
using holonomic functions:
[code]
Exception, should be fixed. Let's try another way:
[code]
Let's confirm that this is the right answer:
[code]
The holonomic function is indeed the same, b

[2016-06-24 19:03] certik opened #11285 "Add a docstring how to plot a holonomic function"
Something like this:
[code]

This should be part of some larger docstring, or part of a tutorial for the holonomic module. Here is a jupyter notebook showing that it works:

http://nbviewer.jupyter.org/gist/certik/849a62d23f615d89dd37585b76159e78

cc @shubhamtibra .

[2016-06-24 19:07] rahuldan commented on #11281
@asmeurer I am new here. I would like to work on this issue. Please tell me how to start?

[2016-06-24 19:14] shubhamtibra commented on #11284
When we converted `sin(x)**2/x`, initial conditions are stored at `1` instead of `0` as the function is not defined at `0`. Currently the `.integrate` method can only compute initial conditions if limits are `x0` to `x`, `x0` being `1` here.
To compute initial conditions for arbitrary limits, we will first have to write the method for numerical computation at any given point (currently we have to

[2016-06-24 19:19] shubhamtibra commented on #11284
This can probably be the next thing to implement i.e. `making integrate work with arbitrary limits`. I will be on it.

[2016-06-24 19:25] certik commented on #11284
I see, I have to do:
[code]
The initial conditions are a bit different, but hopefully they are numerically the same, except f(1) which is just a constant shift.

[2016-06-24 19:26] cbm755 opened #11286 "octave(sinc(x)) doesn't work"
[code]

Octave does the "normalized sinc function" so the desired output is:

[code]

How to start:
1. clone sympy
2.  look at #11219, changes should be very similar to the `_print_uppergamma` stuff.

[2016-06-24 19:26] cbm755 commented on #11281
Since there are two people asking, maybe one person can try #11286 which is very similar, maybe even easier.

[2016-06-24 19:29] shubhamtibra commented on #11284
I didn't understand. Different from what?

[2016-06-24 19:30] certik commented on #11284
I clarified the comment. The initial conditions have symbolic form, that is obviously different, e.g. `-2⋅sin(2) + cos(2) + 1` is different to `-4⋅sin(1)⋅cos(1) + 2⋅cos^2 (1)`, but numerically it is the same value.

[2016-06-24 19:33] cbm755 commented on #11286
Note, these should work too:
[code]

[2016-06-24 19:33] certik opened #11287 "from_sympy should have x0 argument to set where to take the initial condition"
Currently you can only do:
[code]
But I would like to also be able to do:
[code]
and it would take the initial condition at x=2 instead of x=1.

[2016-06-24 19:36] shubhamtibra commented on #11284
Yes. In case limits  are `x0` to `x`, just a shift of initial conditions happens. In a general method, we need numerical values at both upper and lower limit.

[2016-06-24 19:37] certik commented on #11284
I think fixing #11287 should help a lot.

[2016-06-24 19:40] rahuldan commented on #11286
I want to work on this issue.

[2016-06-24 19:40] shubhamtibra commented on #11287
I agree, the user should have the power of choosing `x0`. I will fix this.

[2016-06-24 19:41] certik opened #11288 "Converting holonomic function to a symbolic expression"
[code]
Here `a` and `b` are the same functions, but `b` was calculated immediately, while `a` is very slow, since the `integrate()` function can sometimes be slow, its algorithm is pretty complicated.

However, to be truly fair, we need to be able to convert back to a symbolic expression, if it is possible.

[2016-06-24 19:42] shubhamtibra commented on #11285
Thanks for the link. How about adding in the docstring of the `HolonomicFunction` class?

[2016-06-24 19:44] cbm755 commented on #11286
great, send us a PR for comments whenever you can.

[2016-06-24 19:46] certik opened #11289 "sympy.holonomic.from_sympy(log(x)/2 - Ci(2*x)/2 + Ci(2)/2) fails"
[code]
If you take out the `Ci(2)/2` term, then it works:
[code]

[2016-06-24 19:48] shubhamtibra commented on #11288
If the function is also Hypergeometric, then we have an implementation at #11246 .  However we do need a general method for any Holonomic Function.

[2016-06-24 19:52] asmeurer opened #11290 "1st_exact_Integral wrong result"
[code]

You can see the 1st_exact_Integral answer contains `Integral(cos(f(x)), x)` as the term that should be `x*cos(x)` (the `1st_exact` result is correct, as can easily be seen by differentiating the left-hand side).

From the general solution (given in the docstring of `ode_1st_exact`)

[code]

Here `P(x, y)` is `cos(y)`, so the term should be `Integral(cos(y), x)` (with specifically `y` being

[2016-06-24 19:56] asmeurer commented on #11290
Or rather it should be `Subs(Integral(cos(y), x), y, f(x))`. This explains why this is wrong: `Subs` didn't exist when I wrote this. The substitution must be happening manually for the non-Integral hint.

[2016-06-24 19:56] certik opened #11291 "from_sympy(sin(x)**2/x).integrate((x, 1, x)).to_sympy() fails"
[code]

[2016-06-24 19:58] certik commented on #11288
That PR indeed works in many cases, though it fails in this case (#11291). Is it because `a` above is not a linear combination of hypergeometric functions?

[2016-06-24 20:05] certik opened #11292 "Allow to change x0 initial condition for a given holonomic function"
Say we have:
[code]
and we want to convert it to x0=1. We can either do numerical calculation of the initial condition at x=1, given x=0, but that only gives a numerical answer. I think that should still be implemented. But we should also try the following:
[code]
(This requires #11287 to be fixed, but then it will work.)

[2016-06-24 20:06] certik opened #11293 "Multiplying two holonomic functions with different x0 initial condition"
[code]

This should be fixed by first implementing #11292, and then the user can change the x0 initial condition for one of the functions and multiply them.

[2016-06-24 20:08] certik opened #11294 "Differentiation of holonomic functions"
Is there an algorithm for differentiation of holonomic functions? E.g. so that this works:
[code]

[2016-06-24 20:13] shubhamtibra commented on #11288
This didn't work also because of the fact that the initial conditions were stored at `1`. While computing a  Recurrence relation in the coefficients of Power series, the series is taken around origin only. This recurrence is further used to convert to `hyper` and eventually to symbolic expressions using `hyperexpand`.
One fix is that if conditions are not given at origin, then the method automatic

[2016-06-24 20:16] certik commented on #11287
Also, for this case (as well as the case above):
[code]
It should be possible to obtain symbolic conditions at x=0 using limits, here they are:
[code]
Or alternatively, one can expand the function into a series first and obtain the initial conditions using it:
[code]
Which might be faster, as limits are not computed.

[2016-06-24 20:30] certik commented on #11285
That would work.

[2016-06-24 23:06] asmeurer commented on #11282
I think the expression is zero. simplify just isn't smart enough:

[code]

[2016-06-24 23:17] nicoguaro commented on #11282
Yes, the second one should be zero. But the first one... I doubt it. This is part of a perturbation analysis I am playing with, at the end I have a solution that is not what I expected.

[2016-06-24 23:30] asmeurer commented on #11282
According to `equals`, the first one is not 0. What is the ODE in question?

[2016-06-24 23:40] nicoguaro commented on #11282
The equation is

    eq = -C1**2*omega**2*(C1*sin(omega*t) + C2*cos(omega*t))*sin(omega*t)**2 - 2*C1*C2*omega**2*(C1*sin(omega*t) + C2*cos(omega*t))*sin(omega*t)*cos(omega*t) - C2**2*omega**2*(C1*sin(omega*t) + C2*cos(omega*t))*cos(omega*t)**2 + omega**2*u1(t) + Derivative(u1(t), t, t)

[2016-06-24 23:41] asmeurer commented on #11282
This is probably an instance of https://github.com/sympy/sympy/issues/4838.

[2016-06-24 23:44] nicoguaro commented on #11282
If we replace C1 and C2 for k1 and k2 before passing it to the solver should it work then?

[2016-06-24 23:45] asmeurer commented on #11282
If it is that bug, yes.

[2016-06-24 23:57] nicoguaro commented on #11282
That does not seem to be the bug. I made the substitution without success. You can check it in [this notebook](http://nbviewer.jupyter.org/github/nicoguaro/notebooks_examples/blob/master/Perturbation%20methods.ipynb). Cells 8 to 11. I already know the solution, by hand and in Maxima but I am not getting there with SymPy.

[2016-06-25 06:19] kritkaran94 commented on #11275
@asmeurer In general what you want is that the output of both should be compared and if the LaTeX printer produces an output different from PrettyPrinter then Pretty Printer's output should be shown in the console. Right ? (A bit confused and posting a comment to clear my doubt)

[2016-06-25 06:53] asmeurer commented on #11275
It shouldn't change the printer type. They should just both produce the same form of the expression.

[2016-06-25 07:26] kritkaran94 commented on #11275
@asmeurer Thanks for the clarification.

[2016-06-25 09:53] parsoyaarihant commented on #11290
I am working on this issue. Any tips are welcome :)

[2016-06-25 10:03] kritkaran94 commented on #8851
@moorepants The tests do work at OSX.

[2016-06-25 13:21] shubhamtibra commented on #11284
I have made some changes in `.integrate()` at #11297 , so that it works with arbitrary limits using numerical computation. Since `0` is a singular point here, a numerical computation from `0` to `1` isn't possible however we can integrate from `1` to `0` and see if the magnitude is same with opposite sign. An example from the PR
[code]

[2016-06-25 13:22] shubhamtibra commented on #11284
Ping @certik @jksuom .

[2016-06-25 14:26] certik commented on #11284
0 is not a singular point. The function has all derivagives there.

Sent from my mobile phone.
On Jun 25, 2016 7:21 AM, "Subham Tibra" <notifications@github.com> wrote:

[2016-06-25 16:15] shubhamtibra commented on #11284
I meant for the differential equation. A numerical integration isn't possible on `0`.

[2016-06-25 16:15] jksuom commented on #11284
The differential equation of `sin(x)**2/x` is `(4) + (4*x)Dx + (3)Dx**2 + (x)Dx**3`, and the coefficient `x` of its highest derivative vanishes at 0. Hence it is a (regular) singularity of the equation.

[2016-06-25 20:41] kritkaran94 commented on #10985
@asmeurer I am stuck at this error. Could you please guide me.
[https://travis-ci.org/kritkaran94/sympy/jobs/140248731](url).
I tested this locally [https://github.com/kritkaran94/sympy/pull/3/files](url)

[2016-06-26 05:45] parsoyaarihant commented on #11290
Is `x*cos(x)` a typing error? I think it should be `x*cos(f(x))`.

[2016-06-26 07:49] asmeurer commented on #11290
Yes

[2016-06-26 11:47] rahuldan commented on #11286
#11300

[2016-06-26 11:51] rahuldan commented on #11286
#11300 Please review this PR

[2016-06-26 16:21] nicoguaro opened #11301 "Sum does not seem to simplify before using subs"
I have an expression of the form

    fun = Sum(x**(k + 4)/(k*x), (k, 0, oo))

and, when I try to substitute x for 0 I get

    Sum(0**(k + 4)*zoo/k, (k, 0, oo))

I try using simplify before

    simplify(fun).subs(x, 0)

I obtain the same

    Sum(0**(k + 4)*zoo/k, (k, 0, oo))

But If I use expand

    expand(fun).subs(x, 0)

I get

    Sum(0, (k, 0, oo))

I just checked with the ratio of two pol

[2016-06-27 10:30] #7055 closed

[2016-06-27 12:05] kritkaran94 commented on #10985
@asmeurer any suggestions where I am making a mistake. [[Travis Error](https://travis-ci.org/kritkaran94/sympy/jobs/140248731).
I tested this locally [here](https://github.com/kritkaran94/sympy/pull/3/files])]

[2016-06-27 13:14] kritkaran94 commented on #11281
@asmeurer @debugger22 the output for the same should be sinc(x/pi) right?

[2016-06-27 14:16] lucentdan opened #11304 "dsolve() constants not created as symbols in Jupyter session"
from sympy import *
    equationToSolve = Eq(f(x).diff(x, x) + 9*f(x), 1)
    solutionToEquation = dsolve(equationToSolve, f(x))
    solutionToEquation.free_symbols
    solutionToEquation.subs([(C1,0),(C2,0)])

fails with:

    NameError: name 'C1' is not defined

however if I add:

    C1, C2 = symbols('C1 C2')

before the substitution, the code works.

Should `dsolve()` add constants as symbols

[2016-06-27 17:06] nacitar opened #11305 "Symbol name seems to affect solve()'s success"
[code]

Clearly, renaming a symbol shouldn't have any effect on the result of the calculation.
It seems like perhaps it's something to do with the symbol names relative to each other.  For example, if I define 'f x z' instead of 'x f z', which then has the symbol names defined in alphabetical order, it works just fine... similarly, if I use 'a b c' for the symbols it works, but fails if I use 'b a

[2016-06-27 17:08] nacitar commented on #11305
Note that removing nonnegative=True also fixes the problem.

[2016-06-27 17:52] nacitar commented on #11279
An even simpler example:

    X,Y = symbols('x y')
    print(solve(Eq(Y, (90 * deg + X)),[Y, X], dict=True))

Prints: [{y: x + pi/2}]

Does not give the solution for X.

[2016-06-27 20:38] asmeurer commented on #10985
You need to create your pull request against sympy/sympy. The one you have now is made against your own fork, meaning that if you merge it, it will only update your fork, not sympy/sympy.

[2016-06-27 21:05] asmeurer opened #11306 "numpy lambdify of piecewise doesn't work for invalid values"
This example is given at https://stackoverflow.com/questions/38040846/error-with-sympy-lambdify-for-piecewise-functions-and-numpy-module

[code]

The Piecewise is designed to avoid zero division for (0, 1), but the problem is that the numpy lambdify printer uses `select`

[code]

which evaluates all values, and then picks the one corresponding to the first true selection.

ZeroDivisionErrors aside