[2020-01-13 12:08] proy87 opened #18319 "Sum of floats"
I have 5 expressions. After running `evalf(precision=15)` oh each expression I got the following list: `a=[0.25, 0.444444444444444, 0.4, 0.363636363636364, 0.166666666666667]`.
`sum(a)` gives 1.62318497474747 instead of 1.624747474747475

How to fix it?

[2020-01-13 12:14] #9478 closed

[2020-01-13 12:21] jksuom commented on #18319
I get
[code]
Can you show where 1.62318497474747 comes from?

[2020-01-13 12:43] proy87 commented on #18319
@jksuom , sorry, didn't right the full problem.
I evaledf, then converted to string to remove trailing zeros, then converted back to float.
a = [Float('0.25', dps=''), Float('0.444444444444444', dps=''), Float('0.4', dps=''), Float('0.363636363636364', dps=''), Float('0.166666666666667', dps='')]
`sum(a)` gives  1.62318497474747

[2020-01-13 12:46] oscarbenjamin commented on #18319
You are creating low-precision Floats:
[code]

[2020-01-13 12:51] #18278 closed

[2020-01-13 12:56] proy87 commented on #18319
Is it possible to create high-precision Floats, whose str representation is without trailing zeros?
Something `str(like Float('0.4', 15))` outputs 0.4.

[2020-01-13 13:49] sachin-4099 commented on #17142
Does the error still persists? @oscarbenjamin @ethankward

[2020-01-13 16:57] namannimmo10 commented on #12599
@smichr Can I add this feature? This looks good.

[2020-01-13 19:12] Smit-create opened #18323 "Incorrect Output while Comparing symbolic expressions"
[code]

[2020-01-13 19:24] oscarbenjamin commented on #18323
In SymPy `==` is for structural equality. You can use `Eq` for mathematical equality:
[code]
https://docs.sympy.org/1.5.1/tutorial/gotchas.html#equals-signs

[2020-01-13 20:14] asmeurer commented on #17042
A question here is what we should do with the pure Python versions once the C standard library versions are in every version of Python that we support. Already we support Python 3.5+ only, which means we could delete the pure Python `igcd`, since `math.gcd` was added in Python 3.5. Should we do this, or keep it around for benchmarking purposes, or some other purpose?

[2020-01-13 20:27] asmeurer commented on #17142
The code for Mul._eval_is_irrational still looks wrong. is_irrational in the assumptions system means real and not rational: https://github.com/sympy/sympy/blob/f119ab5d30e8b373dc8956d41b7c11e53c140209/sympy/core/assumptions.py#L211

This is the code for `Mul._eval_is_irrational`: https://github.com/sympy/sympy/blob/f119ab5d30e8b373dc8956d41b7c11e53c140209/sympy/core/mul.py#L1367-L1378

It goes th

[2020-01-13 20:37] smichr commented on #18319
If you mean "create a Float with 15 digits of precision from 0.4" then
[code]
If you mean "how can I easily strip trailing 0s from a decimal number"
[code]

[2020-01-13 20:40] proy87 commented on #18319
@smichr , thank you, it worked.

What does dps='' mean?

[2020-01-13 20:44] smichr commented on #18269
Whatever we can do to keep this from being a block hole that collects historically interesting, but provenly weak methods of encrypting text would be good. Thanks for the suggestions, @sylee957.

[2020-01-13 21:31] oscarbenjamin commented on #17142
We can just delete the method. It's not adding anything that isn't already handled by `_eval_is_rational`.

[2020-01-14 01:30] oscarbenjamin commented on #10006
The question is what do you want to know about the solutions that are returned. Is it important that get a complete solution set or do you just want any solution (or as many as possible...)?

A common use case for me is just wanting any solution, ideally the simplest. Consider for example trying to find the coefficients in the method of undetermined coefficients. For that sort of case I wrote a fu

[2020-01-14 01:45] #17142 closed

[2020-01-14 05:45] iamabhishek0 opened #18328 "Add an open with gitpod badge in the readme."
Gitpod launches ready-to-code dev environments for your GitHub or GitLab project with a single click. Thus, having a direct Open with Gitpod badge would be good for the first time contributors and beginners with Sympy.

[2020-01-14 08:39] sylee957 opened #18330 "Remove automatic capitalization for numpydoc builder for custom sections"
Regarding the comment https://github.com/sympy/sympy/pull/18317#discussion_r366121656

I've found out the reason why `Compressed LU storage` is always becoming `Compressed Lu Storage`

And this seems like unnecessarily restricting the freedom.
https://github.com/sympy/sympy/blob/b288152a85fc1b3c50a05272f36de2e95395a618/doc/ext/docscrape.py#L319-L321

I don't think that it had been issue in the `nu

[2020-01-14 09:15] mcpl-sympy opened #18331 "Functional in SymPy?"
Is there a module or classes in SymPy that deals with functional?
Or is it sufficient to use ``Function`` to represent the functional?

[2020-01-14 09:18] asmeurer commented on #18331
Can you clarify what exactly you mean by a functional? Which objects in SymPy would it operate on?

[2020-01-14 11:14] #9970 closed

[2020-01-14 11:20] Smit-create commented on #18323
While using integer, the output is correct as follows:
[code]
But after changing it to float:
[code]

[2020-01-14 13:10] proy87 opened #18332 "Error in trigsimp"
`trigsimp((34*(-sin(x) - cos(x))*exp(5*x) + 121*(17 - 5*sqrt(17))*exp(x*(7 - sqrt(17))/2) + 121*(17 + 5*sqrt(17))*exp(x*(sqrt(17) + 7)/2))*exp(-6*x)/408)`

[2020-01-14 14:31] mohitacecode commented on #17938
should I add note in the evalf.py file or in the documentation?

[2020-01-14 18:36] dhruvmendiratta6 commented on #18193
Why are the following limits taken and how are conditions which decide whether `super()._eval_nseries()` or `self._eval_nseries()` will be called determined ?
https://github.com/sympy/sympy/blob/c31a29a77a8b405d19ef79193ff0878345c62189/sympy/functions/elementary/trigonometric.py#L1136

https://github.com/sympy/sympy/blob/c31a29a77a8b405d19ef79193ff0878345c62189/sympy/functions/special/gamma_functi

[2020-01-14 20:41] #9471 closed

[2020-01-15 04:33] sylee957 opened #18338 "Clean up gotchas in _eval_Mod"
Things like
[code]
shouldn't return python integers, but sympy integers.

I see `_eval_Mod` in `factorial` and `binomial` have such pitfalls.
When you see `return 0`, it should be changed to `return S.Zero`.

[2020-01-15 05:00] asmeurer commented on #18338
Shouldn't it be automatically sympified?

[2020-01-15 05:04] sylee957 commented on #18338
I don’t think that it is.
I see a lot of _eval does not sympify, and I thought that this was left on purpose that post-sympify can slow down things slightly for stuff which can be resolved in a more careful review.

[2020-01-15 05:59] namannimmo10 commented on #18338
I'm working on this issue.

[2020-01-15 06:05] smichr commented on #18332
What is the error?
[code]

[2020-01-15 06:10] smichr commented on #18319
`dps` comes from mpmath. I think of it as "decimal precision setting" (i.e. how many decimal digits will be used):
[code]
That "13" is the binary precision with which `pi` is being represented.

[2020-01-15 07:59] proy87 commented on #18332
I think it is fixed, because a couple of days ago there was `KeyError` at live.sympy.org

[2020-01-15 07:59] #18332 closed

[2020-01-15 08:00] proy87 commented on #18319
What does `dps=''` mean?
No precision?

[2020-01-15 09:06] Mohitbalwani26 commented on #15996
@oscarbenjamin In my opinion PR #18309 which i recently made also fixes this issue, am i correct?

[2020-01-15 09:08] risubaba opened #18341 "Better factorization algorithms"
Is it in the scope of sympy to have better factorisation algorithms such as quadratic sieve which work well for numbers having as many as 100 digits?

[2020-01-15 09:30] jksuom commented on #18341
Yes, it would be useful. See https://github.com/sympy/sympy/issues/12409 and https://github.com/sympy/sympy/pull/12436.

[2020-01-15 09:59] abhinav28071999 commented on #18341
I am working on implementing quadratic sieve, it's a long code. Right now it's around half done. Will send a PR in a few days.

[2020-01-15 11:06] #16140 closed

[2020-01-15 13:20] oscarbenjamin commented on #18338
We don't generally have auto-sympification of return values. We could add that e.g. here:
https://github.com/sympy/sympy/blob/c580299ec3f05c5e8fb554a0b60a327cf2c11258/sympy/core/function.py#L294-L297
That would involve unnecessary auto-simplification in most cases. I think this is the kind of thing that would be better handled by mypy.

[2020-01-15 13:43] #18234 closed

[2020-01-15 13:44] oscarbenjamin commented on #15996
It partially fixes the issue since it makes the undetermined coefficients solver solve this ODE correctly. You should add a test for that ODE in #18309.

The other problem is a bug in checkodesol for the solution returned by variation of parameters. That solution is correct but checkodesol does not simplify it:
[code]
Possibly checkodesol should use `.rewrite(exp)` somewhere and that would fix thi

[2020-01-15 13:52] Mohitbalwani26 commented on #15996
thanks,i will try to fix this as well.

[2020-01-15 18:01] l-johnston opened #18344 "There isn't a public API method to update a Symbol's assumptions."
# System
- Windows 10
- Python 3.8.1
- Sympy 1.5.1

# Description
There isn't a public API method to update a Symbol's assumptions after instantiation. Currently, the only way to set assumptions is to use the Symbol constructor.

# What I tried:
[code]
The update is ignored - not even raising an exception!

# Workaround
[code]
The workaround requires the use of the private variable Symbol._assumpt

[2020-01-15 18:08] oscarbenjamin commented on #18344
Symbol objects are immutable and the assumptions are not supposed to be changed. Modifying the assumptions in any way is not supported and will lead to unpredictable behaviour. The `_assumptions` attribute is a private internal attribute that should not be depended on.

[2020-01-15 18:36] l-johnston commented on #18344
The documentation doesn't state that Symbol objects are immutable and the Symbol.assumptions0 dictionary still exposes update.

[2020-01-15 19:08] asmeurer commented on #18344
Every SymPy object is immutable, not just Symbol. This is stated in the tutorial https://docs.sympy.org/1.5.1/tutorial/basic_operations.html?highlight=immutable. If you have suggestions for other places it should be mentioned let us know.

Python doesn't have an immutable dictionary type, so the assumptions dictionaries have to be mutable.

[2020-01-15 19:12] asmeurer commented on #17877
@oscarbenjamin did you use the release scripts to update the documentation? I noticed that the documentation URL for docs.sympy.org goes to https://docs.sympy.org/1.5.1/. But the latest docs should be at https://docs.sympy.org/latest, with https://docs.sympy.org/1.5.1/ as a redirect to it. The reason is that we want to minimize the number of links that exist in the wild that point to a specific ve

[2020-01-15 19:33] oscarbenjamin commented on #18344
The `_assumptions` dictionary is internal and need to be mutable because for many objects it gets updated as properties are queried:
[code]
I view all of that as an internal implementation detail that can be changed in any future release of SymPy.

In general in Python you should not access names that begin with underscore as that is the convention for indicating that something is private.

[2020-01-15 19:40] #2929 closed

[2020-01-15 19:43] oscarbenjamin commented on #17877
I ran the release script but it screwed up: I had a missing dependency so it aborted first time. After fixing that and rerunning the script the second run went over the top of the first and committed and pushed everything. I think that I should have recloned the docs before rerunning the script. Somewhere in the script it does something like `cp -r dir1 dir2` which should create a new directory `d

[2020-01-15 19:54] l-johnston commented on #18344
I agree.

There is a default_assumptions attribute that is settable, but does not appear to have any affect. What is the purpose of default_assumptions?

[2020-01-15 20:00] asmeurer commented on #17877
I see. The script should be made more robust. I wrote it to use a pre-existing docs clone, but really it should just do its own clone in a temporary directory (for docs it should do a shallow clone as the docs repo is quite large).

[2020-01-15 20:04] asmeurer commented on #18344
Attributes in SymPy generally shouldn't be modified either, unless the docs specifically say you should set them. Python makes you go out of your way to make an attribute read-only, and there's generally no point to doing so.

[2020-01-15 20:07] asmeurer commented on #18344
I'm not sure I understand what default_assumptions is. Maybe I'm misreading the code (the old assumptions core code is quite complicated), but it seems like it's a feature that is currently unused anywhere.

[2020-01-15 20:41] oscarbenjamin commented on #18344
The `default_assumptions` is a class attribute so it belongs to instances of the metaclass `ManagedProperties`. The idea is that any time you create a new instance of a `Basic` type it will initially receive a copy of the default assumptions from its class:
[code]

[2020-01-15 20:46] proy87 opened #18346 "How to solve trig inequality in general?"
`solveset(Gt(sin(x),0),x, S.Reals)` returns `(0, pi)`. Is there possibility to solve in general and get `2pin<x<pi+2pin`.
As far as I know there is no something like IntervalImageset.

[2020-01-15 20:58] oscarbenjamin commented on #18346
I think we need `BigUnion` for that (#14566)

[2020-01-15 21:07] oscarbenjamin commented on #14566
I would expect a `BigUnion` to be related to `Union` in the same way that `Sum` is to `Add`.

So it could be e.g.
[code]
Or perhaps
[code]
Alternatively `BigUnion` can be the union of a set of sets e.g.
[code]

[2020-01-15 21:40] smichr opened #18347 "lambdify: array in scalar out?"
How can one make a lambdified function that will return an array of constants other than the symbolic trickery shown below?
[code]
SO [ref ](https://stackoverflow.com/questions/59757573/sympy-evaluating-a-constant-function-in-a-list-doesnt-give-me-a-list)
[code]

[2020-01-15 22:19] oscarbenjamin opened #18348 "Refactor the ODE module using classes for solvers"
This is a suitable GSOC idea.

Currently the ODE module (sympy/solvers/ode.py) which implements the `dsolve` function is messy. The code there would be easier to understand and maintain if each of the separate solvers was implemented as a class.

The idea here is to have classes like
[code]

The `dsolve` can be rewritten so it looks more like this:
[code]
Rewriting the code like this will make it

[2020-01-15 23:55] sylee957 commented on #18347
I don't think that lambdify is supposed to switch `1` into `array-in/array-out`, according to the input types.

But at least we can try something like getting `OneMatrix` or any equivalent array nodes to work.

[2020-01-16 01:01] #8207 closed

[2020-01-16 04:25] mcpl-sympy opened #18349 "Derivative.expr must be parenthesized when printed"
Here is an example:
[code]

Thus, I suggest that ``Derivative.expr`` be parenthesized with ``PRECEDENCE['Mul']`` when printed.

[2020-01-16 05:36] sachin-4099 commented on #11802
@oscarbenjamin can you please be specific as to what to code in the numerical differentiation part.

[2020-01-16 06:20] mitanshu001 commented on #17396
I would like to work on this issue

[2020-01-16 06:56] mijo2 commented on #18315
Hi @gschintgen, I would like to help you on this issue, will that be ok?

[2020-01-16 09:58] CM-BF opened #18353 "Bug of sympy.physics.quantum.TensorProduct"
Syntax Error occurs because of the result of it, or maybe it's not the fault of TensorProduct but ... Let's see:

when u2 = Matrix([
[0.5*sqrt(2)*I*(1.0*(hx + 1.5707963267949)*exp(0.5*I*(2.0*hx + 3.14159265358979))/(2.0*hx + 3.14159265358979) + 1.0*(hx + 1.5707963267949)*exp(-0.5*I*(2.0*hx + 3.14159265358979))/(2.0*hx + 3.14159265358979)) + 0.5*sqrt(2)*I*(-0.5*exp(0.5*I*(2.0*hx + 3.14159265358979)

[2020-01-16 10:47] #17013 closed

[2020-01-16 12:29] namannimmo10 commented on #16779
I'm working on this issue.
@oscarbenjamin, this works fine on SymPy Live. But shows ValueError in the terminal. Why is it so?

[2020-01-16 13:01] namannimmo10 commented on #11669
I think the issue is not relevant now.

[2020-01-16 13:05] m93a commented on #17396
@mitanshu001 you can use my PR as a tutorial :) Plus I haven't had time to add tests yet, but I'll do it soon.

[2020-01-16 14:54] l-johnston commented on #18344
In my library, I use sympy `factor` to factor an algebraic expression consisting of real, positive variables and operators from the set {*, /, **, sqrt}. This algebraic expression is an arbitrary string where I don't know the exact set of variables ahead of time. In `factor`, sympy will instantiate the variables in the string expression, but with the default assumption {"commutative": True}. I'd l

[2020-01-16 15:28] Mohitbalwani26 commented on #18348
so different methods should have different classes?

[2020-01-16 15:37] akhil-dh1 commented on #17276
@jksuom , @gschintgen can I work on this bug? I'm new to the solvers module, so if you could guide me where to start, it would be great!

[2020-01-16 16:26] proy87 opened #18355 "Assumptions system"
How can I assume that `x>2`?
I need to rewrite `Abs(x-2)` as `x-2` and also make assumption on the variable.

[2020-01-16 16:42] gschintgen commented on #18315
Feel free to investigate further and submit a PR.

[2020-01-16 17:22] mohitacecode commented on #18180
what do you mean by "arg-invariancy" here can you please describe.

[2020-01-16 17:43] jksuom commented on #17276
This is the relevant line: https://github.com/sympy/sympy/blob/efdeb1f32d67292531641431bf1517c1bc67b8be/sympy/polys/domains/algebraicfield.py#L30

`ext` is a tuple whose elements are the generators of the algebraic field to be constructed. They are usually expressions like `sqrt(3)`. Sometimes they may be different: tuples that consist of a polynomial and an expression. In those cases the polynomi

[2020-01-16 19:05] mohitacecode commented on #18349
I don't think so because when you replace f(x) and g(x) with some expression then both `Derivative(f(x), x) * g(x)` and `Derivative(f(x)*g(x), x)` will evaluate diffrently.

For example:
f(x) = x**2, g(x) = x**3

[2020-01-16 19:46] afishkin204 opened #18357 "AttributeError thrown with auto_int_to_Integer in IPython"
When I run:
[code]
and I try to run any piece of code, an error is thrown and IPython freezes.
This is what the IPython session looks like:
![Annotation 2020-01-16 134354](https://user-images.githubusercontent.com/56358445/72557393-41347d00-3866-11ea-89f3-01f4b4b211f3.png)
and this is the traceback of the error:
[code]

[2020-01-16 20:02] Smit-create opened #18359 "solveset should use piecewise_fold when a Piecewise is detected"
[code]

Expected that result1 and result2 both should be same as `Interval(1, 2)`

[2020-01-16 20:20] proy87 opened #18360 "Difference between free_symbols and has"
Is there any difference between using `x in f.free_symbols` and `f.has(x)`? Except special cases for Integral etc.

[2020-01-16 21:47] oscarbenjamin commented on #16779
I don't know why. I just tested and it seems to work okay on SymPy Live. I tried with 1.5.1 locally (same version as SymPy Live) and I see the error:
[code]

[2020-01-16 21:49] #11669 closed

[2020-01-16 21:51] oscarbenjamin commented on #18344
You could use `posify`:
[code]

[2020-01-16 22:04] oscarbenjamin commented on #18359
A `piecewise_fold` makes it work:
[code]

[2020-01-16 22:06] asmeurer commented on #18344
You shouldn't rely on functions like `factor` accepting string input. It's better to use `sympify` or `parse_expr` to parse your strings first.

The following will make `positive` the default for any symbols created by sympify

[code]

Or alternately you could replace the symbols with positive versions after parsing using something like `posify` as suggested by @oscarbenjamin.

[2020-01-16 22:15] #18241 closed

[2020-01-16 23:17] smichr commented on #18360
`has` will be faster since it returns as soon as it sees the symbol(s) of interest, *no matter where they occur* (which is what you refer to as the "special case".

BTW, the mailing list would be a good place to raise such questions which aren't really an issue that needs to be fixed.

[2020-01-17 00:01] sylee957 commented on #18180
'arg-invariant' is not a term used outside of sympy community.
it would mean if `x` is a sympy expression, it should mean by `x` can be reconstructed by `x = x.func(*x.args)`

[2020-01-17 00:04] #18360 closed

[2020-01-17 00:33] oscarbenjamin commented on #18353
Can you put the full code for this together including all imports? I can't reproduce this.

[2020-01-17 00:39] oscarbenjamin commented on #18319
This is explained in the docs. Try `help(Float)` or look up the `numbers` module in the web docs.

[2020-01-17 00:42] oscarbenjamin commented on #18272
Not sure if this is related:
[code]

[2020-01-17 00:44] oscarbenjamin commented on #18272
It is related. Also fixed by the diff above:
[code]

[2020-01-17 00:46] oscarbenjamin commented on #18272
Somewhere the printing code for `ConditionSet` depends on `Relational` having an `as_expr` method. I removed the `as_expr` method from `Relational` in #18053 and I don't think that is should be added back. Somewhere in printing though there is incorrect logic that depends on `as_expr`.

[2020-01-17 01:03] asmeurer commented on #18319
The Float docstring states that it automatically determines the precision
for dps=''. But it appears that it also does this for the default dps of
None. It also states that the autocounting only happens with string input.
So it isn't clear to me why dps='' exists if it's the same as dps=None, the
default. The only value it seems to have compared to dps=None is to type
check the input. Is there som

[2020-01-17 05:27] ritzvik opened #18361 "simplify not working on Array (but working on sympy expressions)"
As far as I remember, simplify could operate on Arrays previously. Kindly see the snippet below :
[code]

Now it is not working on Array, but working on same expressions when each element on Array is simplified individually.

[2020-01-17 07:00] #18338 closed

[2020-01-17 07:34] sylee957 commented on #18361
As done in the matrix, `_eval_simplify` can be added to apply for each array elements.

[2020-01-17 07:53] l-johnston commented on #18344
My final workaround looks like:
[code]

I agree with closing the issue.

[2020-01-17 08:47] proy87 opened #18363 "Assume real root in limit"
`Limit(((x - 6)**(Integer(1)/3) + 2)/(x + 2),x,-2,'-').doit()` returns `-oo*sign(2+2*(-1)^(1/3))`. How to make it real-valued?

[2020-01-17 09:10] sylee957 commented on #15700
I think that this is an important issue to fix, because it's giving bad impressions for any newcomers who are reading the docs.

At least something like adding `DejavuSansMono.ttf` under `doc/src/_static` and modifying `default.css_t` would make it work.

[code]

So I would have an immediate fix, by shipping all the font together.

But is it a manor concern to subset the font?
I've tried writing a

[2020-01-17 09:24] namannimmo10 commented on #12599
PR is merged. Issue can be closed now.

[2020-01-17 09:30] ShubhamKJha commented on #12599
Next time add **Fixes <issue>** and the connected issues are automatically closed.

[2020-01-17 09:30] #12599 closed

[2020-01-17 09:42] V1krant commented on #18272
There is no need to add that back. The problem was adding brackets around the expression. I have solved the issue and would be creating a PR soon, just adding some tests.

[2020-01-17 10:14] ritzvik commented on #18361
Yes I know alternatives are there. But I guess `simplify` used to work with `Array` in `v1.3`. Having the old functionality back would be good :)

[2020-01-17 10:48] mohitacecode commented on #18180
Do you have any suggestion or how to solve this issue?

[2020-01-17 10:48] ritzvik commented on #18361
@sylee957 Should I give it a try?

[2020-01-17 10:51] mohitacecode commented on #18361
@ritzvik can I try it?

[2020-01-17 10:57] ritzvik commented on #18361
Well, the go ahead is not mine to give 😄

[2020-01-17 10:58] mohitacecode commented on #18361
Sure

[2020-01-17 13:12] gschintgen commented on #18363
This is independent of `limit`.

You can use `real_root` though:
https://docs.sympy.org/1.5.1/modules/functions/elementary.html#sympy.functions.elementary.miscellaneous.real_root

[code]

[2020-01-17 13:46] proy87 opened #18365 "Bug in subs"
`(x*(x**2 + 1 - 1/x**2)).xreplace({x: 0})` gives, as expected, `NaN`. Why does `(x*(x**2 + y - 1/x**2)).xreplace({x: 0})` give `0`?

[2020-01-17 14:01] proy87 commented on #18363
@gschintgen , got some weird answer for right-hand limit: `limit((real_root(x - 6, 3) + 2)/(x + 2), x, -2, '+')` is `2*Subs(Derivative(sign(_x - 8), _x), _x, 0) + 1/12`

[2020-01-17 14:54] oscarbenjamin commented on #18365
It happens because that's what happens if you use sympy zero directly in the expression:
[code]
That should give NaN because
[code]
is infinite. However:
[code]
If any symbol is infinite in an Add can we say that the whole thing is infinite? The problem here is that we don't know whether y is infinite or not. If it is infinite then this should be nan. Otherwise if y is finite it should be zoo. Sin

[2020-01-17 15:36] proy87 commented on #18365
If nothing is known about variables, isn't it simpler to make it `nan`? It is better than `0`.

[2020-01-17 15:49] oscarbenjamin commented on #18365
I think that will break a lot of things. I've opened a pull request that tries this (#18366).

[2020-01-17 16:27] klim- opened #18367 "Multiplication of non-commutative and commutative symbols"
I am working with both commutative and non-commutative Symbols. I am kind of surprised that the following problem has not been addressed before (at least I have not found it).
[code]
Unfortunately this problem results in very ugly work arounds (casting every symbol to a non-commutative symbol, multiply, and cast back, etc.) that I do not find satisfying.

[2020-01-17 16:51] preetmishra commented on #18361
@sylee957 Can I work on this?

[2020-01-17 17:08] gutow opened #18368 "convert_to seems to combine orthogonal units"
Tested in sympy 1.4, not presently in a position to install 1.5+.
Simple example. Consider `J = kg*m**2/s**2 => J*s = kg*m**2/s`. The convert_to behavior is odd:
[code]
I would expect the unchanged original expression back, an expression in terms of base units, or an error. It appears that convert_to can only readily handle conversions where the full unit expression is valid.

Note that the follow

[2020-01-17 17:10] asmeurer commented on #15700
How big is the font? We don't want to increase the amount of data required to load the docs page by too much.

[2020-01-17 18:46] czgdp1807 commented on #12463
Closing this in reference to the above comment. Please let us know if there is a need to re-open this. Thanks for your contributions.

[2020-01-17 19:19] ethankward opened #18370 "Confusing test cases in test_classify_diop"
We have these two test cases:

[code]

In what way are these equations "inhomogeneous"?

[2020-01-17 19:43] proy87 commented on #18365
[code]
Still 0.
What assumptions on variables should be made, so the result is NaN?

[2020-01-18 00:07] sylee957 commented on #15700
[code]

Okay, I'm able to look up the character sets from the sympy codebase and the rst files.
There are only 285 characters used in the entire codebase, and it looks like using all the 332KB can be too much

[2020-01-18 00:14] sylee957 commented on #15700
But I think that there can be a better script for grepping the fonts.
What about adding a registry for all the characters that can possibly be used in the unicode pretty printer?

Sympy live also have this issue when pretty printing is used, so the fonts should be provided for sympy live as well, and the different thing here is that we can't anticipate the character sets pretty printing is using.

[2020-01-18 00:42] asmeurer commented on #15700
The character set should be generated from the pretty_symbology file I guess. There are currently a lot of unicode characters in pretty.py, but they should be moved over. You could also extend your script to search for `\u` and `\N` escapes in strings.

[2020-01-18 00:42] asmeurer commented on #15700
Although actually every Unicode character *should* appear literally in the test_pretty.py file. So I doubt your script really missed any, unless it is completely untested.

We can also add entire Unicode blocks if we are worried about missing some characters.

[2020-01-18 03:05] oscarbenjamin commented on #18367
Can you clarify the problem?

As far as I can tell you are asking why `b*b*a == a*b**2` when `a` is commutative and `b` is not. In SymPy if `a` is commutative then it commutes with non-commutative objects. Imagine that `a` is a scalar and `b` a matrix: is the transformation not valid in that case?

[2020-01-18 03:11] #18272 closed

[2020-01-18 03:11] #17339 closed

[2020-01-18 03:49] klim- commented on #18367
What you are saying is exactly what I was observing. But from a mathematical point of view this does not really make sense. In the general case (i.e. the free group of a set of symbols) `a*b` is not equal `b*a`, and also words like `a*b*a` are not equal to `a**2*b`, etc. Let's say you specify certain symbols to commute with each other, e.g. `a*c=c*a`, then this relation can be substituted in any w

[2020-01-18 04:04] namannimmo10 commented on #10961
The issue can be closed now. PR was merged.

[2020-01-18 04:06] oscarbenjamin commented on #18367
It comes down to the definition. It is unfortunate that in SymPy (currently) commutative is a property of a single object when it should really only be defined between a pair of objects. That is the way it is though so your complaint here comes down to this:
* You would like it to be that if a is commutative and b is not then a does not commute with b and `a*b!=b*a`.
* The current state in SymPy i

[2020-01-18 04:27] klim- commented on #18367
In fact, commutativity is defined between (all possible) pairs of symbols already, namely all symbols that are commutative! Non-commutativity is the general case, and this is how sympy should handle the multiplication as well. Your reasoning does not convince me.

[2020-01-18 07:08] namannimmo10 opened #18372 "Sympy docs show SymPy 1.5.1 twice"
![Screenshot from 2020-01-18 12-32-20](https://user-images.githubusercontent.com/43007653/72660104-f7c36980-39ee-11ea-8196-9f964d6bc1bb.png)
Here it shows SymPy 1.5.1 twice.

[2020-01-18 08:47] aranc commented on #7135
This still reproduces on sympy 1.5.1. Maybe it should be re-opened

[2020-01-18 12:04] gschintgen opened #18374 "reproducible test failure in master: iroot() requires 'mpz','int' arguments"
I now have a 100% reproducible local test failure with master:
[code]

I suppose this has been introduced by #18276.
Ping @Smit-create @asmeurer

[2020-01-18 12:26] gschintgen commented on #18363
Manually rewriting the root does the trick:
[code]

So the piecewise expression returned by `real_root` is not quite amenable to all operations, in particular derviatives and `sign` don't seem to mix well. For reference:
[code]

I think the underlying issue is has to do with this: if `x` is real computing the diff is no problem:
[code]
But if I set `x` to be real before calling `limit`, this assum

[2020-01-18 12:38] gschintgen commented on #18363
Also noteworthy:
[code]
A simple substitution of x = -2 would reveal that both `abs` and `sign` could be simplified even before the actual limit computation. But substitution is a dangerous idea in a limit computation, so I'm not sure if this will lead anywhere...

[2020-01-18 12:56] oscarbenjamin commented on #7135
The idea of the fix is that you can do:
[code]
Adding a rewrite method to turn factorial into binomial does not make sense in general: how would I write `factorial(n)` using only binomial coefficients?

[2020-01-18 13:05] oscarbenjamin commented on #18367
I am not trying to convince you. I am just explaining the way that the commutative attribute is currently defined in SymPy and what it is that you are proposing should be changed.

It would be fiddly but not impossible to change this. Clearly though the change would not be backwards compatible for anyone using non-commutative symbols.

It sounds to me like you are in a situation where you are real

[2020-01-18 13:25] klim- commented on #18367
Yes, this is my current workaround. But it really is the wrong approach. In mathematics, if multiplication of two objects is allowed, then it should be well defined, and therefore there is no place where you can freely choose which property is stronger.

Sure, the change would not be backwards compatible, but as far as I can see it would not break much either: The current workaround is converting

[2020-01-18 15:13] #5096 closed

[2020-01-18 15:22] oscarbenjamin commented on #18367
Well don't be rude then. This isn't about laziness, it is a question of definition. You want one definition that happens to fit your use case but sympy uses another definition.

The meaning of the commutative attribute in sympy is that if an object has commutative=True then it commutes with *everything*. If an object has commutative=False then it might commute with some things but does not necessa

[2020-01-18 16:11] klim- commented on #18367
Sorry for being rude, then. I appreciate your time and work.

I understand what is going on and I have an unpleasant workaround. But I question the current sympy interpretation, which I find should be based on the mathematical foundation of the free group of symbols, and not some arbitrary interpretation.

This is the contradiction I am referring to.

To be a bit more constructive: Do you know whe

[2020-01-18 16:47] proy87 commented on #18363
@gschintgen , thank you for the thorough answer.

[2020-01-18 16:59] mohitacecode commented on #18372
@namannimmo10 where to edit these docs?

[2020-01-18 17:14] aranc commented on #7135
Thanks!

[2020-01-18 17:16] aranc commented on #7135
Thanks for the reply!

[2020-01-18 17:55] oscarbenjamin commented on #18367
It's not a contradiction. Commutativity is an *all* property for a set `S` and binary operator `+` that
[code]
In sympy this is taken to be true for `+` where the set is `E` the set of all `Expr` instances:
https://github.com/sympy/sympy/blob/f5413ff89530b14ffc9b7359717f8c7ad03d2c6c/sympy/core/add.py#L273-L274

In sympy the commutative attribute is a property of an object and refers only to multip

[2020-01-18 17:56] oscarbenjamin commented on #18367
No but this is such a core routine that you will see a lot of test-failures if you change anything. I recommend trying something out and running the test suite. That will show you what is depending on this behaviour.

[2020-01-18 18:00] mohitacecode commented on #18306
Yeah I think this limit is unsolvable. Any suggestion @oscarbenjamin

[2020-01-18 18:28] klim- commented on #18367
This is a helpful, thanks!

And the other way around: What would break when getting rid of the non-commutative option as it is now, altogether, and then re-implement this from the ground up (e.g. `b = sp.NcSymbol("b")`)? I could imagine this breaks a lot less, and a transition from the current state would also be easier (well, I guess I could check that using the tests as well...).

[2020-01-18 18:28] oscarbenjamin opened #18377 "Refactor the ODE tests to reduce repetition and make the examples usable for other things"
Currently there are a lot of repetitive tests for ODEs in `test_ode.py`:
https://github.com/sympy/sympy/blob/f5413ff89530b14ffc9b7359717f8c7ad03d2c6c/sympy/solvers/tests/test_ode.py#L2839-L2847

We should make a function that does this so that those ODEs can be put neatly into data structures. For example given
[code]
We could rewrite that as
[code]
The idea is that the `test_all` function can tak

[2020-01-18 19:13] oscarbenjamin commented on #18374
I can reproduce this. I have gmpy2 installed. It looks like evalf isn't tested in the optional dependency tests so I guess it isn't tested with gmpy2:
https://github.com/sympy/sympy/blob/f5413ff89530b14ffc9b7359717f8c7ad03d2c6c/bin/test_travis.sh#L136

I think it's maybe a bug in gmpy2 since it only happens for large integers:
[code]

The cutoff seems to be `2**63`:
[code]

Converting to `mpz` doe

[2020-01-18 19:34] COOLIRON2311 opened #18378 "Invalid result in Limit"
`Limit(ln(exp(3*x)+x)/ln(exp(x)+x**100), x, oo).doit()` gives the output of `9` although `3` was expected.
Sympy 1.5 on CPython 3.7.4 on Windows 10 64 bit.

[2020-01-18 19:47] ShubhamKJha commented on #18372
Looks like the last line here was duplicated while docs were updated for sympy 1.5.1 https://github.com/sympy/sympy_doc/blob/fee564226584ab6042e8acb9574a09546ec6a20c/releases.txt#L21
Ping @oscarbenjamin

[2020-01-18 20:06] proy87 commented on #18306
@mohitacecode , the value of the limit is `1`.

[2020-01-18 20:35] oscarbenjamin commented on #18372
That comes from running the release script. I guess because I ran the script twice it added the line twice.

This issue should be opened against `sympy_doc` rather than `sympy`.

[2020-01-18 21:00] Smit-create commented on #18374
I also found that we must check that the argument must be less than `2**63`,
Also for different version of gmpy we have,
for gmpy version 1.17
[code]

for gmpy2
[code]
Therefore for `HAS_GMPY>=2` we should go for `iroot` and for `HAS_GMPY==1` we should go for `root` and a check of argument range can fix. I on am trying to fix this and will correct it soon.

[2020-01-18 21:15] oscarbenjamin opened #18379 "Type hint for sympify"
Maybe someone who knows more about mypy than me can answer this. How do we define the type of the return value of `sympify`?

I tried this as a start:
[code]
Then mypy complains that sometimes sympify returns a list which is true because `sympify([a, b])` becomes `[sympify(a), sympify(b)]`. I can change it to `Union[Basic, List[Basic]]` but that doesn't work because it needs to apply recursively.

[2020-01-18 22:13] Smit-create commented on #18374
I tried to fix it in the PR and now it passed the test locally

[2020-01-19 02:56] asmeurer commented on #18374
We might have to add the whole test suite to the optional dependency build as we include gmpy in more of the core.

[2020-01-19 03:00] asmeurer commented on #18379
Isn't there an Any type? sympify can return anything anyway if users specify custom converters.

[2020-01-19 05:44] Smit-create commented on #18374
I have added the test suite of the core to optional dependency.

[2020-01-19 06:22] klakho0400 commented on #18361
it was working on v 1.4
will try to solve it

[2020-01-19 07:00] nasser1 opened #18383 "AttributeError: 'NoneType' object has no attribute 'primitive' using integrate in sympy 1.5"
These below give different error from what I saw before in issue #18140, 18133, so I am opening new bug report just in case this is new bug in sympy integrate. If not, please feel free to close.

Using sympy 1.5 under anaconda 3.7.3

[code]

It seems when exponent on csc(x) is integer (other than 1) it fail. For example, all these fail with same error

[code]

Removing complex `I` also removes the

[2020-01-19 07:02] risubaba commented on #18348
@oscarbenjamin I would like to try doing this. However i am not really familiar with `ode.py`. Could you please guide me how i should start with this.

[2020-01-19 07:49] risubaba commented on #18348
In `_desolve()`
[code]
This should work as kwargs will always have a `type` key.

[2020-01-19 08:37] Akuli opened #18384 "abs(sin(x)*cos(x)) integrates wrong"
[code]

tested with latest master

[2020-01-19 09:10] Akuli commented on #18384
this is weird:

[code]

all of those integrals should be 1/2

[2020-01-19 09:44] e00E opened #18386 "PolynomialDivisionFailed in integrate"
[code]

[code]

Depends on the `1.1` constant. Some values error, some don't.

I am using `sympy 1.5.1` on arch linux.

[2020-01-19 09:55] risubaba opened #18387 "Check if polynomial has complex coefficients"
What is the correct way of checking if a polynomial has complex coefficients?

[2020-01-19 10:00] oscarbenjamin commented on #18387
I think a question like this belongs on the mailing list or on StackOverflow rather than as an issue. I'm going to close this.

[2020-01-19 10:00] #18387 closed

[2020-01-19 10:04] #15996 closed

[2020-01-19 10:08] mohitacecode commented on #18281
should I open a new issue and submit a pr?

[2020-01-19 10:10] oscarbenjamin commented on #18348
I'm not sure why you propose that change here. It might be a reasonable change but I think it is unrelated to the proposal here. You can open a new issue if you have an idea that you want to discuss.

I suggest reading the docs for `dsolve` and the ODE module. Then take a look at the code in the module and read the large comment at the top of the module that explains the current structure.

If you

[2020-01-19 10:11] Smit-create commented on #18374
I have opened an issue in gmpy2 related to this sympy issue [here](https://github.com/aleaxit/gmpy/issues/257).

[2020-01-19 10:22] albertz opened #18388 "Sum over Piecewise, simplify"
I have:

    n = Symbol("n", integer=True, negative=False)
    i = Symbol("i", integer=True, negative=False)

I expect these possible simplifications:

* `Sum(Piecewise((1, Eq(i, 0)), (0, True)), (i, 0, n))` should simplify to `1`.
* `Sum(Piecewise((2, Eq(i, 0)), (1, True)), (i, 0, n))` should simplify to `2 + n`.

SymPy does not do that.

[2020-01-19 10:24] albertz opened #18389 "Eq/Equality and Ge/GreaterThan integer expression"
I have this SymPy code:

    n = Symbol("n", integer=True)
    expr = Eq(n, 0) | (n >= 1)

I would expect that `expr.simplify()` results in `n >= 0` but it does not.
How can I make this simplification work?

[2020-01-19 10:26] risubaba commented on #18383
This is happening as `gcd` doesn't give correct output if complex numbers are involved.
I tried fixing that but was unable to get a general fix. Could someone suggest a fix to make `gcd` work with complex coefficients.

[2020-01-19 10:30] risubaba commented on #18348
Thanks for the response. I suggested the initial change as not just the structure but code style of various portions can be changed as well. Should i raise a different issue for such style related queries?

[2020-01-19 10:33] V1krant commented on #18348
@oscarbenjamin, While writing the code for `class FirstLinear`, I noticed the following symbols are used extensively.
https://github.com/sympy/sympy/blob/f5413ff89530b14ffc9b7359717f8c7ad03d2c6c/sympy/solvers/ode.py#L999-L1018
Should we declare these variables globally or only when required inside the `match` function, or are the two equally efficient?

[2020-01-19 10:36] mohitacecode commented on #18384
I think the result `Integral(abs(sin(phi)*cos(phi)), (phi,pi,2*pi))` is 0 and the sympy is giving right answer.

[2020-01-19 10:44] oscarbenjamin commented on #18388
It's usually better to express assumptions as True rather than False although it is equivalent in this example (because you also have integer=True):
[code]
Those sums should simplify ideally. Probably the way to fix this is to have the sum split into parts so
[code]

We also need a way to fix `piecewise_fold` so it handles a Sum of a Piecewise where the conditions depend on the summation variable:

[2020-01-19 10:45] mohitacecode commented on #18384
`integrate(abs(sin(x)*cos(x)), (x,pi,3*pi/2))` This should be positive instead of negative. @divyanshu132

[2020-01-19 10:51] mohitacecode commented on #18384
I think the result Integral(abs(sin(phi)*cos(phi)), (phi,pi,2*pi)) is 0 and the sympy is giving right answer.

[2020-01-19 11:00] oscarbenjamin commented on #18348
@V1krant I think that we should try to separate this out so we have functions that get what each solver needs. For example those wild symbols are used to get the coefficients of a linear ODE. We should make a function `_get_coeffs_linear_ode(eq, func, sym)` that does that and then use that in `FirstLinear`.

[2020-01-19 11:01] oscarbenjamin commented on #18348
@risubaba

Yes if you want to discuss bigger changes.

For smaller changes just open a pull request. Then we can see if the tests pass.

[2020-01-19 11:18] risubaba opened #18391 "gcd doesn't work properly if complex numbers are involved"
[code]
However the output should be `x-I`.
This is the reason why #18383 is causing errors.

[2020-01-19 11:18] risubaba commented on #18391
I have tried several things but was unable to get correct output.
Could someone please help with this.

[2020-01-19 11:22] V1krant commented on #18348
It sounds like a good idea. But I think that the same function (`_get_coeffs_linear_ode`) would be called again for calculating the solution in `get_general_solution`. Should we consider some workaround over this, or am I missing something?

[2020-01-19 11:28] gschintgen commented on #18384
That's absurd. The integrand is positive over the integration interval.

Thanks, @Akuli, for reporting.

[2020-01-19 11:32] oscarbenjamin commented on #18348
Don't worry about that now. Once the code is nicely organised it will be easy to make things more efficient.

[2020-01-19 12:02] gschintgen commented on #18391
Maybe this is helpful:
[code]
But note that I'm not really familiar with the `polys` module myself, so the above may be based on a misunderstanding.
(The module could definitely need more in-depth documentation regarding supported `domain`s.)

[2020-01-19 12:09] mohitacecode commented on #18384
Yeah I forgot to take abs in consideration.
Thanks for pointing out :)

[2020-01-19 12:15] risubaba commented on #18391
@gschintgen the output is wrong. x-i is the gcd.

[2020-01-19 12:18] Mohitbalwani26 commented on #18348
@oscarbenjamin should a pr be opened after implementing one or two solvers? Because if we do that than travis will obviously fail

[2020-01-19 12:31] gschintgen commented on #18370
Unfortunately it would not be the first time that dubious test results made their way into the test suite...

I'd say the tests you cited are bugs in `classify_diop`. (Or at least badly chosen default names for some classes of equations that diophantine is not currently capable of solving.) IMO it should be fixed.

[2020-01-19 12:36] Mohitbalwani26 commented on #18391
@risubaba `x**2 +1` can be written as `(x-i)(x+i)` so `gcd(x**2+1,x+i)` is `x+i`

[2020-01-19 12:41] gschintgen commented on #18349
I can't reproduce this issue in `isympy` (outputs are parenthesized), but in a Jupyter notebook with MathJax this is indeed an issue. (Without the `commutative=False`, the factor `g(x)` is put in front and there's no ambiguity.)

@mohitacecode :

And that's why this is an issue!

[2020-01-19 12:54] risubaba commented on #18391
You are correct, my mistake :)

[2020-01-19 12:56] oscarbenjamin commented on #18348
I don't see why Travis would need to fail. If you are interested in working on this then I suggest picking a particular solver (say which here so that others know) and then trying to factor it out into a class.

Different PRs will end up sharing some code so if there are several then one of them should be merged first and then the others will need to be made compatible with it afterwards.

[2020-01-19 13:00] oscarbenjamin commented on #18349
The problem is the latex printer (isympy uses the pretty printer):
[code]

[2020-01-19 13:18] jksuom commented on #18384
This a known issue. See e.g. https://github.com/sympy/sympy/issues/16046#issuecomment-466630229.

[2020-01-19 13:27] jksuom commented on #18391
This was discussed in https://github.com/sympy/sympy/issues/15358.

[2020-01-19 13:38] mohitacecode commented on #18370
hey how x*y+z & x*y + z + w + x**2 are homogeneous? I am considering this defination "A polynomial is homogeneous if all its terms have the same degree".

[2020-01-19 13:55] smichr commented on #18389
Perhaps by fixing Union of FiniteSet and Range so the Range absorbs contiguous or intersecting portions of the set: `Union(FiniteSet(0,1), Range(1, 4)) -> Range(4)`. Then the expression could be rewritten in terms of Sets, simplified, and re-written as relationals.

[2020-01-19 14:05] gschintgen commented on #18370
Oops, I retract my previous comment. I was probably thinking of linear equations where homogeneity reduces to the presence or absence of a constant term.

[2020-01-19 14:26] mohitacecode commented on #18370
is this issue still valid?

[2020-01-19 16:06] ethankward commented on #18370
`homogeneous` clearly is referring to the presence of a constant term here:

https://github.com/sympy/sympy/blob/9f98339b3344de9109f4d2780faf9822fb110848/sympy/solvers/diophantine.py#L497

Here the code checks that `homogeneous` is true and then immediately returns an inhomogeneous equation type:

https://github.com/sympy/sympy/blob/9f98339b3344de9109f4d2780faf9822fb110848/sympy/solvers/diophantin

[2020-01-19 16:48] abhinav28071999 opened #18394 "Noticed several bugs in residue.py"
(1) is_nthpow_residue(3, 0, 2) in the test case is wrong because x**0 = 3 mod 2 has solutions {0, 1}
(2) is_nthpow_residue(a, n, m) when a < 0 there should not be an assertion error.
(3) nthroot_mod(a, n, p, all_roots=False) when a < 0, it gives assertion error due to bug in is_nthpow_residue(a, n, m).

[2020-01-19 16:49] abhinav28071999 commented on #18394
@oscarbenjamin @smichr please check if these are correct issue, and i will start working on it.

[2020-01-19 17:05] Lishen1 opened #18395 "invalid order in Chain rule"
`x = sym.symbols('x')

g = sym.Function('g', real=False)(x)
f = sym.Function('f', real=False)(g)`
produces
[https://quicklatex.com/cache3/41/ql_b1ab0c1fdd20a6914ffe3ea153086541_l3.png](url)
but wiki says:
[https://wikimedia.org/api/rest_v1/media/math/render/svg/63b54293b9ca115caa553c556cc7faa6a022888a](url)
it's not a problen for scalar functions but it's a problem for vector functions

[2020-01-19 18:27] mohitacecode commented on #18370
In general,we look for the coefficient only in the case of linear equation which look like this `a1x1+a2x2+...+anxn=b` but  ` xy+z & xy + z + w + x**2 are polynomial` in which the only thing that matters is the degree should be same for all the term.

[2020-01-19 18:36] mohitacecode commented on #18370
This is why we look for constant to be zero in linear equation
`A homogeneous linear equation, say, 2x+3y+5z=0, is really special because it has an important property: if (x,y,z) is a solution then (λx,λy,λz) is also a solution for arbitrary constant factor λ. If you replace 0 in the right hand side of the equation by a non-zero constant, and get, say, 2x+3y+5z=1, this property is lost.`

[2020-01-19 18:42] Lishen1 commented on #18395
was fixed in ver. 1.5

[2020-01-19 18:42] #18395 closed

[2020-01-19 19:15] gschintgen commented on #18370
@ethankward :

Logically that boolean variable expresses `possibly_homogeneous` and not (definitely) `homogeneous`.

As I understand it, the intersection of `set(coeff)` and `set(var)` is non-empty (hence the `if`-condition true) exactly when a "naked" element of `var` appears in the expression, i.e. a term of degree 1. But the total degree in this case is 2, so in order to have a properly homogen

[2020-01-19 20:26] proy87 opened #18399 "Incorrect limit"
`limit((1-(1/2*x))**(3*x),x, oo)` gives `0`, which is incorrect.

[2020-01-19 20:55] albertz opened #18400 "imageset over Range does not work"
Simple example: `imageset(lambda x: x*2, Range(n))`
It throws the exception `ValueError: invalid method for symbolic range` while it tries to check `self.size == 1` where `self` is the `Range` object.

[2020-01-19 20:59] albertz opened #18401 "imageset over Range does not work"
Simple example: `imageset(lambda x: x*2, Range(n))`
It throws the exception `ValueError: invalid method for symbolic range` while it tries to check `self.size == 1` where `self` is the `Range` object.

[2020-01-19 21:00] albertz commented on #18401
(Sorry for double post, GitHub did not respond and I reloaded the page...)

[2020-01-19 21:06] albertz commented on #18400
Even `Range(n).sup` throws the same exception.

[2020-01-19 21:31] gschintgen commented on #18399
The same bogus result is obtained by the even simpler `limit((-x)**x, x, oo)`.

[2020-01-19 21:42] asmeurer commented on #18370
The ode module also makes use of both meanings of "homogeneous" and calls the uniform degree version "homogenous order" https://docs.sympy.org/1.5.1/modules/solvers/ode.html#homogeneous-order

[2020-01-19 23:53] oscarbenjamin commented on #18348
I realise that my description here was not very clear so I have opened a PR that does what I was thinking for the `nth_algebraic` solver (#18403). Any comments/reviews/questions on that PR are welcome.

[2020-01-20 04:52] vainaijr opened #18404 "get equation from latex"
When I use google colab, then it gives latex in documentation, I want to see the mathematical formula for this latex, how do I use sympy to do it.

I know how to get latex from equation, but how do I get equation from latex?

for example,
[code]
gives docs which includes
[code]
now how do I convert this latex into mathematical equation using sympy?

[2020-01-20 05:54] #10076 closed

[2020-01-20 06:05] mohitacecode commented on #18370
We can also add new things such as whether polynomia is symmetric or not?
I am not sure that whether sympy contain a module or method for `Elementary Symmetric Polynomials`
If not then I think we can add that functionality too. @asmeurer

`Elementary Symmetric Polynomials` = https://en.wikipedia.org/wiki/Elementary_symmetric_polynomial

[2020-01-20 06:20] sylee957 commented on #18404
Use parse_latex
[code]
![image](https://user-images.githubusercontent.com/34944973/72703083-fda87e80-3b97-11ea-9e3d-93edcd98c6f1.png)
[code]
![image](https://user-images.githubusercontent.com/34944973/72703116-19138980-3b98-11ea-974b-95fd2f41443d.png)

But I cannot guarantee that it will always parse into something accurate, since LaTeX itself doesn't have well-defined syntax for every math. But i

[2020-01-20 06:39] czgdp1807 commented on #11282
https://github.com/sympy/sympy/pull/16012 claims that it has fixed the issue in https://github.com/sympy/sympy/pull/16012#issuecomment-464457387
Therefore closing this for now. Thanks for the contributions. Please let us know if there is a need to re-open this.

[2020-01-20 06:39] #11282 closed

[2020-01-20 08:11] jksuom commented on #18370
Elementary symmetric polynomials can be generated by means of `symmetric_poly()` (implemented in `polys.special`).

[2020-01-20 10:52] #18361 closed

[2020-01-20 11:14] jksuom commented on #18306
The implementation of expansions (and limits) of non-integer powers is currently restricted to positive exponents. Therefore, the denominator `sqrt(sin(x))` will not be handled. It seems that all real exponents could be accepted.
[code]

[2020-01-20 12:26] Mohitbalwani26 opened #18408 "classify_ode doesn't recognise nth_linear_constant_coeff_undetermined_coefficients"
Although `dsolve(eq)` gives the correct answer but it should also classify this equation as `nth_linear_constant_coeff_undetermined_coefficients`
If it could have identified then solution time will also reduce as 'nth_linear_constant_coeff_variation_of_parameters' is slower than `nth_linear_constant_coeff_undetermined_coefficients`

[2020-01-20 12:47] jksuom commented on #18378
On 1.6, I get this:
[code]

[2020-01-20 13:01] #18306 closed

[2020-01-20 13:28] mohitacecode commented on #18370
I think `symmetric_poly()` only generate symmetric polynomial which is different from elementary symmetric polynomial.

`symmetric polynomial ` = if any of the variables are interchanged, one obtains the same polynomial
`Elementary Symmetric Polynomial` =  https://wikimedia.org/api/rest_v1/media/math/render/svg/79c403b205db7fa3b12a12d3504533a231eae9be

[2020-01-20 13:40] pinballwiz17 commented on #3663
Is the issue still open ? If so can I please give it a try ? I'm a newbie so I would appreciate any pointers before starting on. Thanks

[2020-01-20 14:03] oscarbenjamin commented on #17951
Closing as duplicate of #18090

[2020-01-20 14:03] #17951 closed

[2020-01-20 14:06] oscarbenjamin commented on #18090
Possibly related (from #18390):
[code]

[2020-01-20 14:15] oscarbenjamin commented on #18408
It doesn't look like `sinh` or `cosh` are checked for at all.

[2020-01-20 14:18] Mohitbalwani26 commented on #18408
`sinh(x)` can be written as `(exp(x) - exp(-x))/2` so shouldn't the classifiers identify this?

[2020-01-20 14:21] oscarbenjamin commented on #18408
Yes. We can do that now:
[code]
However I think it would be better to handle `sinh` and `cosh` as well as `sin` and `cos` internally. If the user uses `sinh` then we should try to give them an answer in that form.

[2020-01-20 14:26] Mohitbalwani26 commented on #18408
so `eq.rewrite(exp)`  should be used in `classify_ode`?

[2020-01-20 14:29] oscarbenjamin commented on #18408
I think it is better to not use rewrite. Rather the solver should handle sinh and cosh explicitly (like it does for sin and cos even though they can be written with exp).

[2020-01-20 14:31] YashAgrawal0 commented on #18064
I want to contribute on this issue. Is this issue still open?

[2020-01-20 16:08] COOLIRON2311 commented on #18378
1.5.1 also gives 9

[2020-01-20 17:32] sylee957 opened #18411 "Matrix slicing inconsistency with python"
[code]

I've made this discovery while working on #18298
And it looks like there are some flaws to the designs of matrix slicing for negative step.

I wonder if this can be treated as a bug fix, or a backward incompatible suggestion like #15464
But it looks like nobody had tested out slicing with negative step.

[2020-01-20 17:46] czgdp1807 commented on #3663
@pinballwiz17 I think you can test the various examples on the latest `master`. If they give correct results then we can close this issue otherwise feel free to make a PR for it.

[2020-01-20 18:56] smichr commented on #18411
To me this seems like it would be a bug fix. To output elements that are not in the physical matrix is not right and I doubt that anyone would be depending on this behavior.

[2020-01-20 19:44] Davide-sd opened #18412 "Applying replace to Equality - TypeError: cannot determine truth value of Relational"
Sympy 1.5.1

Here I'm trying to replace a power:

[code]

Output:

[code]

If I apply `replace` to the arguments of the equality, everything works fine:

[code]

Is this an issue or am I missing something? If the latter, would you please explain what I did wrong?

[2020-01-20 20:04] oscarbenjamin commented on #18411
Yeah, it looks pretty broken to me:
[code]
I'd call it a bug that can be fixed.

[2020-01-20 20:12] oscarbenjamin commented on #18412
That looks like a bug in replace. It seems to be fixed in master though:
[code]
From git bisect it seems to have been fixed unintentionally in #18053.

I think that a test should be added for this and then this issue can be closed.

[2020-01-20 21:09] mijo2 commented on #18412
Hi @oscarbenjamin I would like to work on this. So, all I need to do is add a test right?

[2020-01-20 21:22] albertz opened #18413 "exception while simplifying product over matrices"
[code]
Now `expr.simplify()` results in the exception `TypeError: cannot add <class 'sympy.matrices.immutable.ImmutableDenseMatrix'> and <class 'int'>`.

[2020-01-20 21:49] oscarbenjamin commented on #18413
Looks like a bug in `Product` that should be fixed. This line assumes that the expression in the `Product` is a number rather than a matrix:
https://github.com/sympy/sympy/blob/aaf43fc338cf3fe7bd9fb8b8b3d71d9212bf963c/sympy/concrete/products.py#L299

For your example SymPy can compute it as a power:
[code]
A side note here might be that perhaps Product should recognise when a product is just a pow

[2020-01-20 23:15] oscarbenjamin commented on #18386
It works with `Rational` rather than `Float`:
[code]

[2020-01-20 23:19] mijo2 commented on #18412
Since we are applying replace to the equality, I had a question that where should be the test case added? To sympy.core.test_relation.py or to sympy.core.test_expr.py??

[2020-01-20 23:23] oscarbenjamin commented on #18379
In the sympy codebase sympify should always return Basic (or list of Basic or list of lists of...). I'm not sure what the purpose of the `sympify` is if it doesn't give any guarantee on the return type. In any case we can use the type hint internally even if end users do something unexpected with converters.

We can declare that `sympify` returns `Any` but that largely defeats the point of using t

[2020-01-20 23:25] oscarbenjamin commented on #18412
The `replace` method comes from `Basic` which is a superclass of `Expr` and `Relational`. This is about the behaviour of `replace` with `Relational` though so I would add the test in `test_relational.py`.

[2020-01-20 23:51] #18048 closed

[2020-01-21 00:20] mijo2 commented on #18412
I came up with something like below -
`def test_issue_18412():
         d = (sp.Rational(1, 6) + z / 4 / y)
         assert Eq(x, pi * y**3 * d).replace(y**3, z) == Eq(x, pi * z * d)`

Will this be ok?

[2020-01-21 00:36] mijo2 commented on #18412
I came up with something like below -
[code]
Will this be ok?

[2020-01-21 00:56] mijo2 commented on #18412
@oscarbenjamin I have started running the tests for the PR, the tests passed for ```test_relational.py``` even with the added test case written above but test_evalf.py has failed.

[2020-01-21 00:59] oscarbenjamin commented on #18412
That's because of an unrelated issue. Please send your changes as a PR

[2020-01-21 01:40] mijo2 commented on #18412
Ok sure thing, I have already started working on it. But it might take a little more time since this is my first PR.

[2020-01-21 05:21] sylee957 commented on #18413
I anticipate that there are lots of problems regarding sympy functional used with matrix, because `Basic` `Expr` do not have the necessary attributes like `shape`.
I'd expect that there should be lots of matrix expression classes should be introduced, to fix these sort of problems, like `MatSum`, `MatProd`, `MatIntegral`, `MatSin`, `MatCos`, ...

[2020-01-21 05:22] sylee957 commented on #18411
Okay, I see it's the only problem with the matrix expression variant.

[2020-01-21 06:45] stevenleeS0ht opened #18417 "Add modules to implement Machine Learning in symbolic way with Sympy for education and learning purpose."
The popular machine learning framework is usually aimed at efficiency and practical aspect.

However, if for learning and research in very fundamental level (about principle). Symbolic stuff would be better than numerical and automatic differentiating.

Just like the usage of sympy in Physics. If there is common structure for machine learning defined in the submodule in Sympy. Sympy would become p

[2020-01-21 08:39] sylee957 commented on #18417
What kind of symbolic features do you need for machine learning?

[2020-01-21 12:35] sylee957 opened #18421 "Floor and ceiling functions are returning floats for zero"
[code]

[2020-01-21 13:51] Smit-create opened #18423 "Test failure with cache off"
[code]

If in the above code `@no_cachefail` decorator is used it produces correct expected output i.e `True`

Alternatively, The following code produces correct results without `@no_cachefail` decorator by introducing a slight change
[code]

[2020-01-21 14:20] #18412 closed

[2020-01-21 14:32] oscarbenjamin commented on #18413
I'm not sure we need special `MatSum` etc. At some point we will want something else like `VecSum` and so on. If we have a Cartesian product of things: operators (Add, Mul, ...) and objects (Number, Matrix, Vector, Tensor, Quaternion, ...) then making a class for every pair of the Cartesian product is not a great idea.

I can understand introducing `MatAdd` and `MatMul` etc but it is not ultimatel

[2020-01-21 14:34] #9425 closed

[2020-01-21 14:34] #9675 closed

[2020-01-21 14:34] #9426 closed

[2020-01-21 15:21] oscarbenjamin commented on #18421
This should return `Integer` rather than `Float`. Looks like the logic here needs to be changed:
https://github.com/sympy/sympy/blob/72cfe65d174931103781042fd8b94ba2e2290904/sympy/functions/elementary/integers.py#L21-L34
I guess that `_eval_number` should be called first.

[2020-01-21 15:32] oscarbenjamin commented on #18423
I don't think anyone reading this issue would understand what it means. Basically there is some code that behaves differently depending on whether or not the cache is enabled. You need to say what that code is and explain how to reproduce the difference in behaviour.

[2020-01-21 15:47] abhinav28071999 commented on #18421
I am taking this issue.

[2020-01-21 15:56] #18408 closed

[2020-01-21 16:57] pinballwiz17 commented on #3663
I have tested it for sample cases such as 0,oo,zoo,etc, but for other cases if I use evalf and N to find say acosh(-2) it only displays the real part of the answer.

[2020-01-21 18:03] Smit-create commented on #18423
@oscarbenjamin  Does is seem to be explainable now?

[2020-01-21 20:14] gschintgen opened #18427 "solveset(sin(pi*x), x) raises TypeError in _solve_trig2"
[code]
I think the above buggy behavior has been uncovered by #18202. So that PR is doing its job :-)

(The equation is the one of #11218.)

[2020-01-21 20:18] mijo2 commented on #18315
Hi @gschintgen, I am new to the community and I have been busy with some other issue. Sorry for the late response. I wanted to know what kind of behaviour do we need from the sympy modules. Like regarding this issue, what is supposed to be the correct answer? Like for ```exp(I*x/2)```, should it be substituted by ```sqrt(y)``` everywhere where ever possible?

[2020-01-21 20:31] gschintgen commented on #18315
That'd be an improvement, but I think that more advanced pre-processing would be better: Compare what happens with e.g. `sin(x/2)` if you call `_solve_trig1` and what is done in `_solve_trig2`. Rational coefficients should ideally be extracted before `.subs`titution. But beware of #18427. (i.e. the preprocessing cited in my previous comment is not without issue either...)

A step-by-step compariso

[2020-01-21 21:11] mijo2 commented on #18315
Ok got it! Will start with the comparisons and will try to investigate this issue further.

[2020-01-21 21:15] pathakcodes commented on #18427
Can I work on this, I am understanding the codebase and implementations and would like to work on this issue.

[2020-01-21 21:28] #17556 closed

[2020-01-21 22:48] stevenleeS0ht commented on #18417
@sylee957 , I would like to add some PR for the features. I means to implement most basic structures. But it won't have to be finished at once.

By the way, I don't know if Sympy has vector calculus support?

[2020-01-22 05:29] czgdp1807 commented on #10864
Wolfram returns 1 as can be seen [here](https://www.wolframalpha.com/input/?i=solve+x%5E%28yz%29+-+x+%3D+0+for+x_). Answer should be 0 too if `y*z` is positive. In fact, x can be `S.Reals` if `y.z` is `1`. Probably, the returned input is generic output for this situation.

[2020-01-22 05:44] czgdp1807 opened #18428 "Implement Chinese Remainder Theorem over Cartesian Products of Vectors"
There is some work on the above topic at https://github.com/sympy/sympy/pull/10949
It looked like a nice addition. It would be great someone can continue it. It is an easy to fix task.

[2020-01-22 05:55] mijo2 commented on #18428
Hi @czgdp1807 , I would like to work on it. Will that be ok?

[2020-01-22 06:02] czgdp1807 commented on #18428
Yes, sure. Please cherry pick the commits from the PR referenced above. Or use, `git fetch origin pull/10949/head:crt_cartesian` to make a new branch from that PR, merge master into it, resolve conflicts and make your additions.

[2020-01-22 06:57] namannimmo10 commented on #18428
@mijo2 I'd apologize for raising a pull request. I didn't see your comment earlier. Feel free to fix this issue as what @czgdp1807 suggests to you. Also, feel free to revive my Pull request.

[2020-01-22 07:04] mijo2 commented on #18428
Ok @namannimmo10 sure thing. @czgdp1807 In the ```crt_cartesian``` function mentioned in the above PR, a member of the community said that final sorting of the output is not needed. So, should I remove the sorting or take the function definition as it is?

[2020-01-22 07:25] czgdp1807 commented on #18428
IMO, we shouldn't sort the output.

[2020-01-22 07:27] mijo2 commented on #18428
Ok so removing the sorting then

[2020-01-22 08:06] stevenleeS0ht opened #18431 "Add class Map for array and Matrix(Symbol)"
I don't know if sympy support SIMD feature for Sympy collections operation.

The collection here include Array, Matrix, Matrix Symbol.

for example like this:
[code]

If it is MatrixSymbol, it would become like that:

[code]

[2020-01-22 08:28] #18394 closed

[2020-01-22 09:14] gschintgen commented on #18431
For matrices at least there's `applyfunc`: https://docs.sympy.org/1.5.1/modules/matrices/common.html?highlight=applyfunc#sympy.matrices.common.MatrixCommon.applyfunc

[2020-01-22 09:46] abhinav28071999 commented on #18291
This has been solved.

[2020-01-22 09:46] #18291 closed

[2020-01-22 09:59] AlexS12 opened #18432 "numba jit cache=True on lambdified sympy expression"
I am evaluating a big sympy generated expression to solve and ODE. I have been able to accelerate it by applying numba.jit to the lambdified expression. However, as the the compilation of the expression takes a long time I wanted to cache the jitted function. Unfortunately, this step returns an error.

A minimal working example is:

[code]

The error returned is

[code]

Maybe this is more a numba

[2020-01-22 10:08] oscarbenjamin commented on #10864
I think that we need a Piecewise set to handle this kind of case (e.g. #16861)

[2020-01-22 10:21] oscarbenjamin commented on #18432
I can reproduce this without sympy:
[code]
Note that using `lambda x: x` works but `eval('lambda x: x')` does not.

I think this happens because lambdify does something similar: it creates a code string and `eval`s it to get the function it returns. I don't know what other options there are for numba but one possibility would be to get the code generated by lambdify and put it in a file:
[code]
Th

[2020-01-22 12:06] AI-Beg commented on #18421
If the output to be in integer type , we could write it as
int(floor(float(0)))
0
int(ceiling(float(0)))
0
then output is coming in integer type as zero

[2020-01-22 12:10] gschintgen commented on #18427
Sure, go ahead.

[2020-01-22 12:36] YashAgrawal0 commented on #18421
@AI-Beg, I think we can return integer value in the "floor" class itself as floor is supposed to return integer value only, so every time after computing the result we can return int() of that result instead of doing that outside the class.

After going through the code I think another approach for the issue could be that we can put an if-else statement for the input 0.0 because for other inputs i

[2020-01-22 12:48] oscarbenjamin commented on #18421
`Floor.__new__` should return `Integer` (note that this is not the same as `int`)

[2020-01-22 13:04] YashAgrawal0 commented on #18421
@oscarbenjamin
Can't we use ```Integer(returnValue)``` in Floor?
```Integer``` in sympy has this utility to make integer for the input float like ```Integer(0.0) = 0 ```.

[2020-01-22 16:38] ShubhamKJha commented on #18421
This appear to happen because `Float(0)` is being considered an integer and hence returned as it is in the first step. This doesn't happen for other such floats.
[code]

The reason here is -  `zero` assumption eventually infers `integer` in the codebase.
[code]
These lines should be changed. (Here `zero -> even -> integer` )
https://github.com/sympy/sympy/blob/8a7dc8ef786cccbd7dc0fe0b0e6beec4dd1f7

[2020-01-22 17:53] joha2 opened #18435 "[wishlist] Tensor: Scalar "head" to encapsulate scalar expression such that they can be used within arbitrary functions"
Find a possibility to define a `scalar` head, which could be used to encapsulate some complicated scalar expressions within arbitrary functions, and which commutes with `PartialDerivative`. Define a function `putscalar()` which adds this encapsulation head to scalars within expression, such that every of them could be canonicalized for itself.
[code]
This would make the tensor package useful for e

[2020-01-22 19:03] asmeurer commented on #18432
I would open an upstream numba issue about this.

[2020-01-22 19:05] asmeurer commented on #18432
Putting the source in a file is something that we could make easier. Ideally one could just call some code printer to get everything you need. Right now, you will have to manually add the imports (`from numpy import *` is probably enough for most use cases).

[2020-01-22 19:40] pathakcodes commented on #18427
Ok sir I am working on it.

[2020-01-22 19:41] pathakcodes commented on #18427
Ok I am working on it.

[2020-01-22 20:15] gschintgen opened #18437 "test_solveset.py: unintended(?) assumptions in lots of tests"
Lots of tests in https://github.com/sympy/sympy/blob/master/sympy/solvers/tests/test_solveset.py use "predefined" variables `x`, `y`, etc.
This would be fine, except those have all been created with `real=True` assumption!
https://github.com/sympy/sympy/blob/8a7dc8ef786cccbd7dc0fe0b0e6beec4dd1f7b49/sympy/solvers/tests/test_solveset.py#L47-L55

I suppose this is unintended and falsifies a *lot* of

[2020-01-22 22:43] oscarbenjamin commented on #18423
The code example you have provided does not work and the instructions for running it describe how to run the test that will be changed after your other PR is merged. This needs a complete example of how to reproduce the problem including defining any variables like `A` and without reference to pytest.

[2020-01-23 01:58] drhagen opened #18438 "Unpickling simple expressions errors"
Unpickling SymPy expressions containing variables and constants appears to be broken when the the unpickling occurs in a separate process.

I ran the following script in a process on Python 3.7.6 or 3.8.1 using SymPy 1.5.1 on Ubuntu 18.04:

[code]

This prints out 15596. (I'll leave aside the observation that 15k seems like a lot of bytes to store this three-character expression.)

I then run the

[2020-01-23 02:14] oscarbenjamin commented on #18438
I tried the above by opening one isympy session to write the pickle and the another to read the pickle and it worked fine:
[code]
Can you generate a piece of code that I can run starting from a single process (e.g. with multiprocessing or fork etc) to reproduce the problem?

I get 9983 but yeah, that's surprisingly large either way.

[2020-01-23 08:03] risubaba commented on #18437
To fix this , can i remove all these declarations one by one and for every test that fails check if `real = True` should be used or not ?

[2020-01-23 08:18] risubaba commented on #18437
[code]

[2020-01-23 08:30] jksuom commented on #18438
`pickle` will also include all attributes (and probably each one will take several bytes).
[code]

[2020-01-23 09:06] AlexS12 commented on #18432
Thank you for your input! I didn't know that I could get the generated code like that. I followed you advise and opened an issue in numba also. Let's see what they say!

[2020-01-23 11:11] drhagen commented on #18438
Here is a one-shot script that reproduces the behavior:

[code]

Note that the the `set_start_method('spawn')` is required. It runs to completion if the start method is `'fork'`.

I am using Python installed via conda. The behavior is the same whether sympy is installed via conda or pip.

[2020-01-23 11:19] drhagen commented on #18438
Further investigation reveals that the behavior is seen in SymPy 1.5.1 and 1.5, but not in 1.4 and earlier.

[2020-01-23 11:22] oscarbenjamin commented on #18437
I would just remove the `real=True` from each and run the tests. You can add it back as needed in each test that fails. If you open a PR with that then issues can be opened for the tests that should work but don't.

[2020-01-23 11:26] risubaba commented on #18437
I ran the tests after doing the changes above and all tests passed. So should I make a PR for the same?

[2020-01-23 11:31] oscarbenjamin commented on #18438
Thanks. Bisected to 9efefdd7d09a9eee72d6f866613ca1b7a8f2bae0

I guess this is something to do with instantiating `Complexes`. Not sure how that's in the pickle...

[2020-01-23 11:32] oscarbenjamin commented on #18437
That's good news. Yes please open a PR that removes real=True.

[2020-01-23 12:53] oscarbenjamin commented on #18438
Looking through the output of `pickle.dumps` it seems the large size of the pickle is because it stores the assumptions not very efficiently. Probably we should make it so that pickle only stores the assumptions for symbols and adding pickle support for the `FactKB` could make it smaller I think (it's basically a dict).

[2020-01-23 16:28] jksuom commented on #18438
It looks like the culprit is `Half`. Its pickle string contains the arguments 1 and 2.
[code]
In a fresh python session, it cannot be loaded:
[code]

[2020-01-23 19:02] oscarbenjamin commented on #18438
I think there should be a cleanup of Singletons. I remember around the time of the offending commit discovering this:
[code]
What happens is that arguments to the constructor are ignored after the singleton instance is created. That means that you can see errors depending on the order in which things happen:
[code]
A workaround for this failure is to do `from sympy import S; S.Half` before attempt

[2020-01-23 19:10] oscarbenjamin commented on #18438
This also explains why this isn't picked up in the pickling tests. We should test unpickling in a subprocess.

[2020-01-23 19:11] #18421 closed

[2020-01-23 19:13] asmeurer commented on #18438
`Half` also gives problems when trying to subclass Rational. There was some discussion on Gitter about this a while back. https://gitter.im/sympy/sympy?at=5dfacdedb1701e50ca4aa5cd. I think the basic design of it is broken from an object oriented point of view. I'm not sure how to fix it.

There are also a ton of issues with pickling in SymPy https://github.com/sympy/sympy/issues?utf8=%E2%9C%93&q=i

[2020-01-23 19:21] proy87 opened #18442 "RuntimeError in limit"
`Limit(tan(x)**(2**(sqrt(pi))), x, oo, dir='-')` gives `RuntimeError`

[2020-01-23 20:21] gschintgen commented on #18442
... only if actually calling `.doit()`. Here's the trace with 1.5:
[code]

[2020-01-23 22:21] sylee957 commented on #18431
There is also a fully symbolic node `ElementwiseApplyFunc` for matrix expressions, so I don't think that it's an issue for matrix.
But I won't close this until I hear `Array` have similar symbolic feature.

[2020-01-23 22:34] sylee957 commented on #18417
If you mean by https://en.wikipedia.org/wiki/Vector_calculus, I'm sure that vector module have dot, cross, laplacian operations but I'm not sure that the integrals are supported.

[2020-01-23 23:38] Pristine-Cat opened #18443 "Running holonomic test by itself generates errors, as part of full test suite no."
When I run the full test suite on master everything is fine, however if I run holonomic test by itself it errors out:
[code]
I have seen this before with the vector module, some kind of global state dependancy which is set by a previous test?

[2020-01-24 06:28] czgdp1807 commented on #10800
@asmeurer
It looks like the issue has been fixed in `master` as of this comment,
[code]
Attaching a `Could close` label.

[2020-01-24 06:35] czgdp1807 commented on #10612
The issue is still unresolved.
[code]

[2020-01-24 06:47] czgdp1807 commented on #10734
Current status.
[code]
It looks like the issue is partly resolved. However, `TensorProduct`doesn't seem to be evaluated with all immutable matrices as input. Opening a new issue for the same.

[2020-01-24 06:47] #10734 closed

[2020-01-24 06:51] czgdp1807 opened #18444 "TensorProduct(only immutable matrices) doesn't get evaluated."
https://github.com/sympy/sympy/issues/10734 was raised which is partly resolved. The remaining part is the evaluation of `TensorProduct` when all immutable matrices are given as input. https://github.com/sympy/sympy/pull/10735 can be referenced for fixing the issue.
See the example below,
[code]

[2020-01-24 10:38] oscarbenjamin opened #18445 "Matrix refactor - moving matrix methods to functions"
I haven't been keeping up with recent changes, but I have some comments from when I was doing the major refactors.

  1) Indeed there is too much packed into the `Matrix` class (autocomplete goes wild on a matrix object...), and it is quite tangled. I tried my best to untangle it at the time. I am not sure what can be done without breaking compatibility. (I know there was a PR of my that was rever

[2020-01-24 11:12] Smit-create commented on #18423
I have edited it.

[2020-01-24 11:20] sylee957 commented on #18444
I think `TensorProduct` as symbolic node should not be automatically evaluated (Following how `MatMul` is designed to be), and neither be evaluated into a matrix because it confuses the notation of `KroneckerProduct`.

I don't think that it should even belong to the `physics`.
I'm even thinking of deprecating it, since it is implemented in wrong way. (And may block implementing the true `Array` ve

[2020-01-24 12:54] oscarbenjamin commented on #18445
There are a number of problems with matrices that can not be fixed in a backwards-compatible way by modifying the matrix classes as they are. I think that the best solution is to introduce new classes with new names and a new API and document that users should use those. Clearly we don't want to rewrite all of the code while doing that though so that is why I think it makes sense to split out the

[2020-01-24 12:58] oscarbenjamin commented on #10800
That's just because the integral now evaluates. If you try to print the unevaluated integral you will see the error:
[code]

[2020-01-24 13:00] jksuom commented on #18442
This will fix the recursion error (though there is no limit):
[code]

[2020-01-24 13:03] oscarbenjamin commented on #10800
The problem is that the printing code tries to sort some expressions (not sure why). The assumptions system attempts to numerically evaluate the expressions as part of a comparison like `expra < exprb`. Then apparently evalf fails for whatever expression is evaluated. So there are 3 possible things to fix:

1. The printing code should not sort or should sort in some way that doesn't involve evalua

[2020-01-24 13:05] oscarbenjamin commented on #18423
If you pick it apart exactly which of the operations is giving a different result?

[2020-01-24 13:24] faizan2700 commented on #10805
is someone working working on this?
I would like to work on this but I don't know ast so I will be studying that also. only ast is required to solve this problem, right? (or to add useful contribution if not solve problem completely)

[2020-01-24 13:35] oscarbenjamin commented on #10805
The first step here is probably reviving #12524

[2020-01-24 13:59] oscarbenjamin commented on #18090
Maybe we should xfail these tests

[2020-01-24 14:06] Smit-create commented on #18423
I added a comment for which the expected result is True but produces incorrectly as False

[2020-01-24 14:12] oscarbenjamin commented on #18423
Why is `==` giving False instead of True? The lhs and/or rhs must be giving a different value so which is it and what is the difference? Then is it necessary to have all of the code you have presented in order to reproduce the part that is different?

[2020-01-24 14:16] Smit-create commented on #18423
I have provided the difference because to verify that lhs and rhs both are equal as it gets evaluated to `0`. Therefore shows that lhs and rhs are equal, but `==` produces `False`.

[2020-01-24 14:17] Pristine-Cat opened #18447 "Transient test error in simplify/tests/test_hyperexpand.py"
Recently a commit which had nothing to do with this functionality failed for me with:
[code]
Running the test again with no changes succeeded. Is this a randomized test which just happened to catch a bug or an invalid generated input?

[2020-01-24 14:40] oscarbenjamin commented on #18423
I can reproduce a problem without disabling the cache with:
[code]
That gives:
[code]
Reversing the last two lines so it is
[code]
Leads to this:
[code]
Note that the difference is only seen with `srepr` as the printing code normalises the order of the terms in the `DyadicAdd`.

This happens because `DyadicAdd` has not canonicalised the order of its arguments but still compares and hashes equal wh

[2020-01-24 15:40] jksuom commented on #18447
This looks like the same issue as [here](https://github.com/sympy/sympy/issues/17841#issuecomment-549038153).

[2020-01-24 15:47] Pristine-Cat commented on #18447
So it is a known issue, in which case apart from that is it a good idea to have:
[code]
in what should in theory be a deterministic test?

[2020-01-24 16:01] sylee957 commented on #18090
Okay, I’m fine with xfailing these tests.
I’m quite busy now to pay attention to this issue

[2020-01-24 16:14] oscarbenjamin commented on #18090
I'm marking this as a good first issue. The fix is to add XFAIL to the two tests mentioned as failing above.

[2020-01-24 16:50] rajat-99 commented on #16543
I am interested to work on this

[2020-01-24 16:56] czgdp1807 commented on #16543
Probably you can make a PR on Route Cipher as the work on it is stalled in #18225
Or otherwise see if #12575 has any encryption decryption scheme which is not there in master. Also make sure that there's isn't any active open PR which is working on the same idea.

[2020-01-24 16:59] smichr commented on #16543
n.b. #18269

[2020-01-24 17:11] czgdp1807 commented on #18269
I was wondering that if we can check how the implementation in `crypto` module responds to symbolic inputs? For example is there a possibility to get an encrypted message with a symbolic key and then substituting that key with various numerical values.

[2020-01-24 17:47] #18205 closed

[2020-01-24 17:54] asmeurer commented on #18269
I think for at least some of the algorithms that would require some sort of symbolic string manipulations. But others may not, e.g., RSA basically works on numbers. I think doing things symbolically not only avoids a lot of the issues I am concerned about, but it also makes things a lot better for education, as you can actually see what the cryptosystem is doing beyond just reading the code.

[2020-01-24 18:52] asmeurer commented on #10800
Certainly evalf should be improved, but we shouldn't assume that it will be fast for every object.

Here is the issue

[code]

So if we remove evalf from the assumptions, it would remove a lot of functionality and would probably break things. So I'm not sure how to fix it.  Clearly it shouldn't try to evaluate very slow to evaluate things, but I don't know if it should try to remove evaluation ent

[2020-01-24 19:12] gschintgen opened #18449 "incorrect solutions given by nonlinsolve"
The example from #17494 no longer raises, but the solution set seems to comprise a number of invalid solutions:
[code]

For reference here's the relevant excerpt from the test file: https://github.com/sympy/sympy/blob/bbb3bf2897c29b7306a422fb8ff8893abfd27b49/sympy/solvers/tests/test_solveset.py#L181-L198

[2020-01-24 20:22] oscarbenjamin commented on #18445
Here is an example of a Matrix class that makes use of the polys domains:
[code]
This is faster for integers and rationals. It is much faster (and better) for complex numbers in Cartesian form. It also avoids blowup for polynomials:
[code]
I'm not going to show the output of `Matrix([[1+I, 1-I], [1-I, 1+I]])**100` but if you compare it with what we get for `Mdom` in a tiny fraction of the time the

[2020-01-24 20:28] oscarbenjamin commented on #10800
See also #17609

[2020-01-24 21:15] oscarbenjamin commented on #18445
See also #6841

[2020-01-24 21:29] asmeurer commented on #10800
Oh that's a good point. Even "normal" expressions can cause issues with evalf. I think we should have a "fast" evalf that gives up on anything that could potentially be slow (like integration) or produce excessively large expressions. `evalf()` itself should just do the evaluation, but anything used in library code to get a numerical estimate should use the safer mode.

The question is to what deg

[2020-01-24 22:23] oscarbenjamin commented on #10800
In evalf there is already a limit on the mantissa so we can have one for the exponent as well. As I said in #17609 the obvious place to check this would be `evalf_pow` but there are probably others. Most floating point systems limit the exponent e.g.:
[code]
Emax there is the maximum value that any exponent can have in the default decimal context. You can change the context but you are still limit

[2020-01-24 22:29] #18280 closed

[2020-01-24 22:40] pneudecorb opened #18452 "Infinite looping while computing Limit of Expression in 1.5.1"
This doesn't appear to happen using sympy 1.4.

The following will cause sympy to hang,

Limit(abs(log(x))**x,x,0).doit()

However, the following succeeds,

Limit(abs(log(x))**x,x,0, '-').doit() --> 1

but, the following triggers the infinite recursion

Limit(abs(log(x))**x,x,0, '+').doit()

[2020-01-24 23:18] ethankward commented on #18452
Bisected to commit 73369023393b148038958406e0cce92bd4036f59. Before this it raised `NotImplementedError`.

[2020-01-24 23:50] smichr commented on #18437
When solving in a real domain the assumptions on the symbol are made real if they aren't, so any test involving real symbols will just recreate a real dummy to replace a symbol that is passed with no real assumption.

[2020-01-25 00:27] oscarbenjamin commented on #18437
I just tried this diff:
[code]
Then the solveset tests gave these failures:
[code]

[2020-01-25 00:28] oscarbenjamin commented on #18437
I guess it's not possible for solveset to be completely independent of the assumptions because even the expressions it receives can be affected by the assumptions on the symbols involved.

[2020-01-25 01:13] oscarbenjamin commented on #18438
It seems that `Singleton` *sub*classes should usually override `__getnewargs__`. I have a diff that seems to fix this:
[code]
I'm still not sure why the bisected commit affects this though.

[2020-01-25 01:35] #18104 closed

[2020-01-25 06:00] czgdp1807 commented on #10568
Closing in reference to https://github.com/sympy/sympy/pull/10575#issuecomment-578380034
Though let us know if there is a need to re-open this. Thanks for the contributions.

[2020-01-25 06:00] #10568 closed

[2020-01-25 07:04] sylee957 commented on #18445
I have thought of domain-specific matrices, but have found that a lot of polys.domains objects are not Basic.
I would want to see the immutable version of your `DomainMatrix`, and, it would be better to have a new matrix class without a mutable version. (unless someone complains about it)

[2020-01-25 07:10] sylee957 commented on #18444
Whatever, it looks like `physics.TensorProduct` can be hard to pull out because it contains some stuff like handling noncommutative symbols, or quantum operators. So, I'd agree to continue your fix in this way, unless someone familiar with the physics can rework on that.

[2020-01-25 07:26] sylee957 opened #18453 "Improve speed for naive algorithm for computing conjugacy classes"
https://github.com/sympy/sympy/pull/9160#issuecomment-82567054

https://github.com/sympy/sympy/pull/18354#issuecomment-578162134
https://github.com/sympy/sympy/pull/18354#issuecomment-578384303

Since I have merged #18354 even though it's not the most performant way, I open this thread to discuss how to boost such computations, and hopefully come up a solution that is as fast as @pernici's but wit

[2020-01-25 07:58] sylee957 commented on #18453
Also, I think that this should contribute to sympy benchmarks.
I haven't seen any combinatorics benchmarks there yet, but some things should be added.

[2020-01-25 08:34] Mohitbalwani26 opened #18454 "dsolve hangs for linear differential equation"
Although `classify_ode(eq)` gives the correct answer but `dsolve` hangs for this equation.

[2020-01-25 08:39] mijo2 commented on #16288
@sylee957 Has this issue been fixed? If not then I would like to work on it.

[2020-01-25 08:42] sylee957 opened #18455 "Improve singularity handling for plots"
[code]
![image](https://user-images.githubusercontent.com/34944973/73118503-5f058e80-3f98-11ea-81e7-b4152cd3d8d6.png)

[code]
![image](https://user-images.githubusercontent.com/34944973/73118512-7fcde400-3f98-11ea-8c40-fdc835b3d0d9.png)

I don't think that `matplotlib` or `numpy` are responsible for these sort of problems, but I'd expect sympy to plot something meaningful because it can have educa

[2020-01-25 09:17] mijo2 commented on #16288
@sylee957 I ran the tests. With the following
[code]
and with tolerance ```10**-15``` the assertion error was raised but with tolerance 10**-12 and running it for 10000 times with both the same ```x```, ```k``` given above and random ```x```, ```k```, the tests passed
![github_16_issue1](https://user-images.githubusercontent.com/25644913/73118976-8b61e080-3f81-11ea-8a27-6d1fb78f4e35.png)
![github_

[2020-01-25 09:31] sylee957 commented on #16288
No, actually, I’m thinking of setting the tolerance like abs(a)*10**-15

We need to be careful about the one in mpmath because it guarantees some tolerance. And what I read from the theory of ‘significant digits’ it should be correct that the absolute tolerance scales with the magnitude.

For other numeric libraries like scipy or tensorflow, they can give a lot of low-precision results, so downrig

[2020-01-25 09:32] jksuom commented on #18438
This looks like the proper fix.

[2020-01-25 09:34] mijo2 commented on #16288
Ok will try some tests with abs(a) * 10**-15 then.

[2020-01-25 09:36] mijo2 commented on #16288
The tests didn't give an assertion error this time as well.
![github_issue_16_3](https://user-images.githubusercontent.com/25644913/73119196-4f7c4a80-3f84-11ea-8548-3c408cd1ccaf.png)

[2020-01-25 10:12] mijo2 commented on #18315
@gschintgen when I ran (sin(x/2)).rewrite(exp).subs(exp(I*x), y) with a debugger, it never reached or used ```_solve_trig``` function.

[2020-01-25 10:36] Mohitbalwani26 commented on #14760
Example mentioned in this issue now works so shouldn't this issue be closed?

[2020-01-25 10:49] sylee957 commented on #17396
You should take a look at `pycode.py` and `SciPyPrinter`.

[2020-01-25 10:55] sylee957 commented on #16288
Okay, then I’d suggest to go for using the scaled tolerance

[2020-01-25 10:56] mijo2 commented on #16288
Ok @sylee957 sure thing, I would create a PR and change the tolerance for ```ff``` tests.

[2020-01-25 10:58] #14760 closed

[2020-01-25 11:41] gschintgen commented on #16750
With 1.5 `plot(ln(x))` is working nicely (in a jupyter notebook), but the message about reporting a bug is still there when calling `plot(ln(x), (x, 0, 10))`. All 4 mentioned plots are correct. I'd close this if it weren't for the strange message in one case.

[2020-01-25 11:44] gschintgen commented on #18455
See also:
#17738 (plotting of discontinuities resulting from Piecewise)
#7280 (plotting f(x)/g(x))
and maybe #16750 (weird warning for plot of log(x))

[2020-01-25 11:50] oscarbenjamin commented on #18445
The idea would be that users don't use the `DomainMatrix` class directly. It's supposed to be an example of the `MatrixBuffer` class I mentioned above. The idea is that core performance sensitive routines like multiplication, rref etc are implemented by lower-level classes that do not need to have a particularly nice or complete API. Then the user-level Matrix class uses the lower-level class inte

[2020-01-25 12:17] mohitacecode commented on #16619
@sylee957 @smichr  I am working on adding these functions in matrices.py module but not able to decide in which class should I add these?

[2020-01-25 12:32] sylee957 commented on #18445
I have thought the creating the domain-specific matrix can be an user API because it can cover up the advanced topics like algebraic structure, and specifically like finite fields.

And I still see the same thing can be implemented as `MatrixAtom`, such that all the explicit numeric matrix become a `MatrixAtom`, as the core numeric types like `Float`, `Rational` are `Atom`.

<details><summary>CLIC

[2020-01-25 12:39] oscarbenjamin commented on #18454
It works with the `Integral` hint:
[code]
So I guess it hangs in one or more of those integrals.

For example the first integral hangs or takes a long time at least:
[code]
We get a nicer looking integral from `1st_linear`, `Bernoulli`, and `almost_linear` but that also seems to hang:
[code]
The `lie_group` solver also hangs in integration somewhere. Apart from possibly changing the order of the h

[2020-01-25 12:42] #16288 closed

[2020-01-25 13:06] oscarbenjamin commented on #18445
If the matrix classes are `Atom` does that mean that `subs` etc have to be reimplemented?

[2020-01-25 14:04] sylee957 commented on #18445
Yes, and in fact, it already is reimplemented for matrixbase.

[2020-01-25 16:16] oscarbenjamin commented on #18445
I would say that `Matrix` should internally hold a lower-level object but generate some kind of `args` when needed sort of like `Poly`.

Much of the advantage of having `Matrix` subclass from `Basic` does not apply if it is an `Atom`.

What is the advantage of `Matrix` being an `Atom`?

[2020-01-25 16:38] sylee957 commented on #18445
I'm just saying that it's a more easier protocol to work on, so even if `polys.domains` are not made sympy Basic objects, the work can be done purely focusing only the matrix part.

Actually, I think that how poly is made `Basic` can be no much different than `Atom`.
For example, it still has `__hash__` and `__eq__` defined independently.

[2020-01-25 16:44] jlaurens opened #18459 "Matrix assignment with slicing is not consistent with python"
Hi

Matrix assignment does not take the slicing step into account.
Next code is working as expected
[code]
but next one  raises
[code]

It seems that the `key2bounds` method is ignoring the slicing step.
I guess this should be quite easy to fix... for someone who is already familiar with the simpy development environment.

Thanks

[2020-01-25 17:03] abhinav28071999 commented on #18459
I am taking this on.

[2020-01-25 17:13] oscarbenjamin commented on #18445
I don't like the way that `Poly` does it. It also doesn't satisfy `obj = obj.func(*obj.args)`:
[code]
The `Poly` class only needs to implement `__eq__` because the `args` are not properly handled.

[2020-01-25 17:27] oscarbenjamin commented on #18445
The problem with reimplementing all of subs etc is that we will never get it right. There are already bugs in `Matrix.subs` etc. I just tried putting a `Poly` in a `Matrix` and found a bug in `Poly.replace`:
[code]

[2020-01-25 17:29] Pristine-Cat commented on #18445
Actually I can work on many parts of the new matrix classes before this is even decided, though I am waiting on a certain PR to be able to move ahead with that :)

Though to comment on the discussion, reimplementing functionality multiple times (especially if it is complex) is asking for bugs, so I have to agree with @oscarbenjamin on the benefits of `Basic`.

[2020-01-25 17:29] oscarbenjamin commented on #18445
Also #10589 for `Matrix.subs`.

[2020-01-25 17:32] sylee957 commented on #18445
But how would the internal-use only matrix function well for `subs`, or others.
It looks like if things are going to be made `Basic` properly, clearing the way through `polys.domains` can be the most priority.

[2020-01-25 17:33] sylee957 commented on #18445
The `polys.args` is not a perfect signature because it does not have `domain`.

[2020-01-25 17:58] oscarbenjamin commented on #18445
The user-level `ExplicitMatrix` class would have a `.args` property that generates sympified args using `self.domain.to_sympy(e)` (like in `DomainMatrix.to_Matrix`). Its `__getitem__` method would do the same. Likewise the constructor for `ExplicitMatrix` would sympify its args and then convert them to domain elements.

That way for things like subs etc we can satisfy the `obj = obj.func(*obj.args

[2020-01-25 18:02] namannimmo10 opened #18460 "Discussion regarding the API for control package"
Hello everyone,

Before this, some contributors made efforts to add `control` package to `sympy.physics` [here](https://github.com/sympy/sympy/pull/9916) and [here](https://github.com/sympy/sympy/pull/17866).

There is a great python library for the operations of control systems.
https://python-control.readthedocs.io/en/latest/index.html
But I want sympy to have a symbolic version of that.

A basi

[2020-01-25 18:10] sylee957 commented on #18445
So, the `ExplicitMatrix` would not have the signature of `domain`?

[2020-01-25 18:13] sylee957 commented on #17131
I may open up a new PR to pull out only the `is_zero` change from #18255

[2020-01-25 18:37] mijo2 commented on #10993
@sylee957 @asmeurer I would like to take up this issue if no fix has been made for it.

[2020-01-25 19:00] Mohitbalwani26 commented on #18454
@oscarbenjamin Any suggestions what needs to fixed for this kind of prblm?

[2020-01-25 19:03] oscarbenjamin commented on #18445
I'm not sure how that should work. I don't think the domains can be sympified. Some of them have a string representation but I don't think that works for the ones that have symbols (`to_sympy` needs to restore the same symbols).

One possibility is that `.func` can be something like `ExplicitMatrix.constructor[domain]`. I think that could work for `Poly` at least.

[2020-01-25 19:06] oscarbenjamin commented on #18454
One possibility is to investigate changing the order of the hints in dsolve. Maybe `1st_exact` should come later if it leads to more complicated integrals. You could try that and run the tests to see what fails and consider whether the output or the speed is improved or not.

Otherwise the problems here are in integration not dsolve. You can help with that by figuring out which integrals are hangi

[2020-01-25 19:12] Mohitbalwani26 commented on #18454
So according to you the ordering should be checked through bruteforce to find a possible fix right?

[2020-01-25 19:19] oscarbenjamin commented on #18445
Actually scratch that substituting into the args could change the domain of the matrix e.g.:
[code]
So I think the domain needs to be recalculated by `obj.func` from the new args each time.

[2020-01-25 20:01] jlaurens commented on #18459
Nice to here that

As I started to work on matrices.py, dense.py and sparse.py, may I share my work if it can help.

I also made some very minor changes to improve both readability and consistency.

I hope you'll find it useful

[slice.diff.zip](https://github.com/sympy/sympy/files/4112676/slice.diff.zip)

Thanks

[2020-01-25 20:01] oscarbenjamin commented on #18454
I just mean that the ordering might not be best. At least for this example it doesn't seem to be. You would need to look through the different kinds of solutions given by the different solvers to consider whether a different order would be better. Notice that in this example all of the other solvers lead to the same solution and only `1st_exact` gives something different.

[2020-01-25 20:02] proy87 opened #18461 "Simplifying radicals"
How do I simplify radicals that involve only numbers?
`-sqrt(5)*sqrt(1/2 - sqrt(2)/4)*sqrt(sqrt(2)/20 + sqrt(1/2 - sqrt(2)/4)*sqrt(sqrt(2)/4 + 1/2)/5 + 1/10)/sqrt(-1/2 + sqrt(2)/4 + sqrt(1/2 - sqrt(2)/4)*sqrt(sqrt(2)/4 + 1/2)) + sqrt(sqrt(2)/4 + 1/2)` should be `0`, but radsimp doesn't help.

[2020-01-25 20:12] oscarbenjamin commented on #18461
Your expression has floats in it. I'll fix that:
[code]
That gives
[code]
Then I can simplify that to zero:
[code]
I can do it faster though with `sqrtdenest` followed by `simplify`:
[code]

[2020-01-25 20:24] proy87 commented on #18461
@oscarbenjamin , thank you very much!

[2020-01-25 20:24] #18461 closed

[2020-01-26 00:21] oscarbenjamin commented on #18445
I've add rref to the DomainMatrix and it us much faster.

<details><summary>CLICK FOR CODE</summary>

[code]

</details>

The example from https://github.com/sympy/sympy/issues/6841#issuecomment-269543785 completes in 2 seconds. I waited an hour to see if `Matrix` could do the same:
[code]

This also computes the rref for `T` from #16823 in 0.1 seconds. It does take a long time to construct that m

[2020-01-26 00:28] sylee957 commented on #18445
In fact, this is one of the reason what I would expect to have a public domain-bound matrix class with sympifyable domain.
I already have progress of making most of the domains Basic, and even be picklable in #18462.
And I would not just rush on introducing some other non-basic object as workaround.

[2020-01-26 00:41] oscarbenjamin commented on #18445
I think that the reason the domain element calculations are so much faster is because the domain elements are not Basic. I can see the benefit of making the domain classes `Basic` but I expect that making the domain elements `Basic` would lose the speed advantages they offer.

[2020-01-26 02:36] Chanakya-Ekbote commented on #18460
I totally agree. In addition to that, we could have a combined control system, as well as a signal processing package as both applications, go hand in hand (to a certain extent).

I had raised a PR to try and include magnitude response, phase responses, magnitude plots as well as phase plots, finding out the poles and zeros of an equation as well as pole-zero plots. The link to the PR can be found

[2020-01-26 02:38] latot commented on #11802
Hi, the idea is replace that ```#attemp``` with the differentiation from mpmath, the link of asmeurer have the function, the idea is send the actual derivarive with the right arguments (order of the derivateve, params, etc) to get the final value, then sympy will finish joining all the values.

[2020-01-26 03:57] cjayross opened #18465 "Tensor contractions are wrong"
This is essentially a generalization of #17328.

The problem in the current implementation is that contractions are handled before applications of the metric, which leads to incorrect results such as in #17328.

In `tensor/tensor.py`:
[code]
And thus, the issue is that `_TensorDataLazyEvaluator.data_contract_dum` is being called prior to `self._match_indices_with_other_tensor` (where the metric is

[2020-01-26 04:04] namannimmo10 commented on #18460
I agree that these disciplines overlap to a certain extent. But it's just that they are separated by a set of common tools.

[2020-01-26 04:11] sachin-4099 commented on #11802
[code]
Are you talking about this?

[2020-01-26 04:13] Chanakya-Ekbote commented on #18460
ping @oscarbenjamin @moorepants @jksuom

[2020-01-26 05:38] latot commented on #11802
Yes, something like that, but be careful, you need use diff from mpmath for the aproximations, and need to work with mixed derivatives (not just one variable).
If you can, change the code and test this in your fork, i think in any case we need add tests to sympy to check this.
If you need values you can use wolframalpha to get some aproximations from test and compare with what you get.

[2020-01-26 05:42] sachin-4099 commented on #11802
@oscarbenjamin please review this and suggest changes.

[2020-01-26 07:52] czgdp1807 commented on #10534
Update:
Currently the issue is still unresolved.

[2020-01-26 07:55] Saanidhyavats commented on #17411
If no one is working on this issue can I start contributing on it?

[2020-01-26 08:00] czgdp1807 commented on #10458
Update:
The issue is still unresolved in current `master`.

[2020-01-26 08:08] czgdp1807 commented on #7827
@ghost Yes, the issue is still unresolved. You can check the already existing PR and may be cherry pick some commits from it or just check it out in a new branch and make your changes on top of the previous ones. Check https://blog.scottlowe.org/2015/09/04/checking-out-github-pull-requests-locally/

[2020-01-26 08:10] czgdp1807 commented on #8167
Attaching a `Could Close` label to it. If others agree with the results in https://github.com/sympy/sympy/issues/8167#issuecomment-565327214 then this issue can be closed.

[2020-01-26 08:24] czgdp1807 commented on #9384
Update:
The issue is still unresolved.

[2020-01-26 08:31] sachin-4099 commented on #11802
Here `self.args[0].args[0] is zeta(x)` but for mpmath.diff we want something like:
`mpmath.diff(zeta,4,3)` which is equivalent to what we are trying to calculate, that is, `find the third derivative of zeta(x) where x=4.`

So we can see: **we want zeta and not zeta(x)**, how to do that?

Moreover if we call `mpmath.diff(zeta(x),4,3)` an **error** is raised:
**TypeError: 'zeta' object is not callab

[2020-01-26 09:00] sylee957 commented on #18445
Would `Basic` have a lot of overhead of creating the classes itself?
I'd blame that the most of the speed disadvantages of `Basic` are from using the global `Add` and `Mul` which are hundreds of long.

[2020-01-26 09:41] sachin-4099 commented on #11802
My current code looks like:
[code]
where self.args[0].args[0]-->zeta(x)
           self.args[0].args[1].args[0]-->symbol-->x (the variable in the expression)
           self.args[2].args[0]--> 4 (we have to substitute x=4 finally)
           self.args[0].args[1].args[1]--> 3 (we have to to find the third derivative)

But `N(p)` is finally returning `0` instead of  returning `−0.0726408498913214`

[2020-01-26 09:53] Chanakya-Ekbote commented on #18455
* Code

[2020-01-26 09:56] sachin-4099 commented on #11802
Moreover this 1 testcase in test_function.py is giving an exception/error:
[code]
RecursionError: maximum recursion depth exceeded while calling a Python object

[2020-01-26 09:58] Chanakya-Ekbote commented on #18455
I was going through the code and I did get better plots. The issue is I am not able to understand what get_segments in the plotting package. I commented get_segments out and I modified the get_points code, and I got the following plot. If you could clarify what get segments does, I could probably do the same for that.
Edited Code
''' python
   def get_points(self):
        np = import_module('nump

[2020-01-26 10:02] drybalka commented on #18465
Hi! This is @drybalka.

I totally agree, due to the module design it is impossible to solve this problem without overhaul. Tensor indices contraction is placed inside TensorMul class (for some reason twice, if I’m not mistaken) even though you can have contractions in a single tensor. This code is intertwined with tensor canonicalization and explicit tensor value calculations, which in their turn

[2020-01-26 10:16] sylee957 commented on #18460
In my opinion, `TransferFunctionModel` and `StateSpaceModel` can subclass `Basic` and can be sympifyable.
I can say that they are quite well-defined symbolic models used in conventional softwares like Mathematica. Of course, I don't say that every objects should be sympifyable, but things can be complicated later if it does not follow the sympy standard design patterns and later if you are trying

[2020-01-26 10:37] sylee957 commented on #18445
It looks like working on making the domains `Basic` can be complicated before anyone immediately grabs a work of adding a non-basic matrix object.
It's quite painful to see not-so-expected solutions (And I may warn that this may introduce much more complications later as how the `Polys` are not well-designed makes this work complicated.)

But I would have some questions like, would this make the s

[2020-01-26 11:03] Saanidhyavats commented on #18417
I think we have to start with the implementation of basic model. What kind of model we should start working on ?

[2020-01-26 11:05] Pristine-Cat commented on #18445
Yes I imagine `dotprodsimp` would make no sense for a matrix of `Poly`s. Are you considering `DomainMatrix` as a type of matrix to live alongside `Matrix` or to completely replace it? Because if live alongside then each different type of matrix might have different possible types of simplifications which could apply, including new ones for domain matrix not applicable to general case, meaning each

[2020-01-26 11:16] gschintgen commented on #18455
@Chanakya-Ekbote

Where does this `singularities` function come from? Is it the one from the sympy.calculus?

IMO using the symbolic capabilities of Sympy may not be the best idea in this particular case: it's almost trivial to find expressions where `solveset` (used internally by `singularities` IIRC) either finds no solutions or, worse, takes an inordinate amount of time. (Even `singularities(ta

[2020-01-26 11:32] Saanidhyavats commented on #18431
I am interested to take up this issue. How should I start?

[2020-01-26 11:33] sylee957 commented on #18445
I was though of making the original matrix as a matrix over the 'universal ring', and introducing other matrix classes mathematically intuitive as a matrix over some-ring.
I'd expected `DomainMatrix` to be similar as  Sage's [MatrixSpace](http://doc.sagemath.org/html/en/reference/matrices/sage/matrix/matrix_space.html), which externally provides an API to users to define matrix algebra over some r

[2020-01-26 11:48] Pristine-Cat commented on #18445
You probably do not need to explicitly specify an algebra since how the operations proceed is (I am guessing in all cases) decided by the underlying `__mul__` and other operators of the elements, so if you create a matrix of all elements from some specific ring then shouldn't all their basic operations follow the rules of their ring - and by extension matrix operations since those depend on the ba

[2020-01-26 12:11] sylee957 commented on #18445
Actually, it doesn't look like they can inherit methods each other very well.
What I see from `rref` of @oscarbenjamin's example is that we would need an identical copy of all the functions used in matrix module with and without simplify, because `simplify` can harm `DomainElement` for now.

[2020-01-26 12:25] Pristine-Cat commented on #18445
So first we would need to concretize the matrix API to be duplicated. As for dealing with different simplification options for different types of matrices, we could shove those all into the `kwargs` of `def some_matrix_op(common arg1, common arg2, ... **kwargs)` and whatever options were not used by one type of matrix could be ignored.

[2020-01-26 12:46] Chanakya-Ekbote commented on #18455
So after messing around with the plot function for a while, I've realised that the plot backend (which is matplotlib) ends up interpolating the points unless it comes across a 'Nan' value. So that's a hack I've used in the previous code.

I think we would have to update the singularities package because it is possible that someone by some chance ends up plotting a very large value, where the y lim

[2020-01-26 12:52] oscarbenjamin commented on #18445
There shouldn't need to be much duplication. Notice that in my example `rref` and `matrix_mul` are deliberately functions rather than methods so that you can easily reuse them in another dense class.

Ideally at the end we should not have any keyword arguments for the methods.

[2020-01-26 12:55] sylee957 commented on #18445
Anyway, I'm weighted toward the introducing new formal symbols for rings (that wraps the implementation-wise stuff in `polys.domains`) for sympy, than working on making the `polys.domains` subclass Basic, regarding the [comment](https://github.com/sympy/sympy/pull/18462/files#r370991250).

So the only valid approach looks like similar to `class DomainMatrix` like @oscarbenjamin, because it may tak

[2020-01-26 13:01] sylee957 commented on #18455
I think that it still makes sense to use helpers for easy stuff rational polynomials or sinusoids

[2020-01-26 13:02] Pristine-Cat commented on #18445
Actually your `matrix_mul` is essentially just the current `MatrixArithmetic._eval_matrix_mul` but without attempting the `Add(*vec)`, which is just `DenseMatrix._eval_matrix_mul` but without the `return classof(self, other)...`. There seems to be much unnecessary duplication of functionality.

[2020-01-26 13:21] Chanakya-Ekbote commented on #18090
Could you please elaborate. I am not very sure what the task is. Should you just add ```@XFAIL``` before the method that is throwing random errors? Or is there something else?

[2020-01-26 13:23] sylee957 commented on #18090
Yes, try to add `@XFAIL` before the problematic tests.
Numeric quality tests are not important tests we should have.

[2020-01-26 13:31] #7370 closed

[2020-01-26 13:33] #17843 closed

[2020-01-26 13:36] Chanakya-Ekbote commented on #18090
Please refer to PR #18469. Thank you.

[2020-01-26 14:37] proy87 opened #18470 "Bug in subs"
`((2*x + exp(5/x))**(x/2)).subs(x,0)` should be `NaN`, not `1`. The bug, possibly, comes from incorrect assumption, that everything raised to zero power is `1`. `NaN` raised to zero power is `NaN`.

[2020-01-26 15:01] oscarbenjamin commented on #18470
So the bug is:
[code]

[2020-01-26 15:28] sylee957 commented on #18367
I think that this the limitation in the current architecture of assumptions, because `commutative` is defined in some universe, and it is not possible to define something like `a.commutes_with(b)` as assumptions.

I guess that some internal simplification algorithms should check commutativity binarily, and it can be more useful than downright considering identity matrix is not commutative.

[2020-01-26 15:52] oscarbenjamin commented on #18367
The identity matrix is not really commutative because e.g.:
[code]
This is all handled by `MatMul` though which can understand not just whether a matrix is the identity matrix but also the shapes etc. That is the right way to handle this: dedicated code that understands the kind of objects that it is working with.

[2020-01-26 16:16] #18442 closed

[2020-01-26 16:43] siefkenj commented on #18445
I'm in favor of a new matrix class that fixes issues in a non-compatible way, though I think we can do better for a name than `ExplicitMatrix`. Perhaps `Mat`?

As @Pristine-Cat points out, basically all the methods we need are already written in the `_eval_*` methods of the base classes. I think it would be better logically as well as organizationally to move the `return classof(...)` bits out of

[2020-01-26 16:46] smichr commented on #18470
This follows the Python convention:
[code]

[2020-01-26 16:55] Chanakya-Ekbote commented on #18455
Could you please elaborate what you mean by helpers?

[2020-01-26 16:57] proy87 commented on #18470
Will this be fixed, as this is incorrect?

[2020-01-26 17:24] proy87 opened #18473 "Bug in limit"
`limit(cos (x)**(1/x),x,oo)` should give `AccumBounds` instead of `1`.

[2020-01-26 18:21] sylee957 commented on #17856
I find one other problem with the current set framework that there is no way to represent integers multiplied with `n`.
But I think that this kind of stuff can be either done via extending `Range(-oo, oo, n)` or adding a new class like `MultiplieInteger`

I want to hear the idea about whether to pursue adding

1. `IntegerInterval` without step and `MultipleInteger`.
2. `IntegerInterval` with step.

[2020-01-26 19:02] sylee957 commented on #18445
I would vote for `with_pivots` default to be `False` and
1. Make every matrix properties as `@property`
2. Make all decompositions to return permutations as `PermutationMatrix`
3. Rework the `eigenvects` return type and make it less ugly.
4. Remove `LUdecomposition_simple` from user API.
5. I'd expect `orthogonalize` to be Q matrix of QR decomposition.
6. Make solvers solve one thing (determined s

[2020-01-26 19:10] sylee957 commented on #18470
[code]
What about mpmath?

[2020-01-26 19:30] proy87 opened #18474 "Subs incorrectly evaluates"
`(x+cos(x)).subs(x,oo)` gives `oo`, but `(exp(x)+cos(x)).subs(x,oo)` gives `AccumBounds`. Why is that?

[2020-01-26 19:40] latot commented on #11802
For the first case, than can happend for the precision, it can be changed, in the docs explains, with ```addprec```, ```relative``` and ```h```.

To can do that test in a easy way, you can assign every value tu one variable, and next run the assert, so, if fails with the recursion you can know the line with the error (is failing in ```n```, ```evalf``` or both?, maybe use ```try``` to can test bot

[2020-01-26 19:51] sachin-4099 commented on #11802
For the first case, than can happend for the precision, it can be changed, in the docs explains, with `addprec, relative and h.`

No success, it still return 0.

[2020-01-26 20:21] mijo2 commented on #7847
@asmeurer according to this https://stackoverflow.com/questions/25222681/scientific-exponential-notation-with-sympy-in-an-ipython-notebook I tried exposing the ```min``` and ```max``` fixed from ```mpmath``` to ```StrPrinter``` but currently we have to set the exponent values as ```min``` and ```max```. For example, to print in a fixed-point format for numbers between ```[0.01, 100]```, we can do

[2020-01-26 20:26] proy87 opened #18475 "Evaluate square roots"
How to simplify `-48*sqrt(4 + 2*sqrt(5))/(1 + sqrt(5))**(3/2)` to `-24`?

[2020-01-26 20:49] cjayross commented on #18465
I would be totally down for restructuring the module. Is anyone in particular in charge of the module? If so, they should definitely have a say; especially if we are going to be potentially breaking any functionality.

[2020-01-26 20:50] gschintgen commented on #18475
You can use `nsimplify`:
[code]
https://docs.sympy.org/1.5.1/modules/simplify/simplify.html?highlight=nsimplify#sympy.simplify.simplify.nsimplify

Note that questions about using Sympy are best asked in other channels (mailing list, stackoverflow).

[2020-01-26 20:50] latot commented on #11802
mm, can you test with other eq that the result is not 0? (and not close to it)

[2020-01-26 20:56] #16779 closed

[2020-01-26 20:58] sachin-4099 commented on #11802
suggest some equations which will make use of the function we are trying to improve.

[2020-01-26 21:06] latot commented on #11802
Hi, here you can try several examples like this:

https://www.wolframalpha.com/input/?i=diff%28zeta%28zeta%28x%29%29%29%2C+x%3D4

[2020-01-26 22:03] oscarbenjamin commented on #11802
I see that `Derivative` already has a `doit_numerically` which uses `mpmath.diff` although it only works for first derivatives:
[code]
We should adapt that so that it works for higher-order derivatives and then use it in `Subs.evalf`.

[2020-01-26 22:12] sachin-4099 commented on #11802
Should we change `Derivative - doit_numerically` to work for higher order derivatives? Is that what you mean?

[2020-01-26 22:12] #18475 closed

[2020-01-26 22:20] oscarbenjamin commented on #18445
In general I think that boolean flag arguments are not good API so I would suggest not having a `with_pivots` argument. Instead `rref` should always return the matrix and there can be a separate function `get_pivots_rref` that can be used to find the pivots from the rref matrix.

I also suggest renaming `eigenvects` to `eigenvectors`. Shortening by two letters is not worth it compared to being abl

[2020-01-26 22:21] oscarbenjamin commented on #11802
Yes `doit_numerically` should be made to work for higher-order derivatives.

[2020-01-26 22:22] sachin-4099 commented on #11802
Ok so what are the required changes then?

[2020-01-26 22:33] oscarbenjamin commented on #18445
I'm not sure if the domains have an equivalent of `Add(*vec)`.

[2020-01-26 22:34] Pristine-Cat commented on #18445
Inconsistent overdetermined should probably raise as should underdetermined with no solutions? But how to handle underdetermined with infinite solutions? Return one possible solution selected according to some criteria akin to selection of elements of eigenvectors?

One possibility is along the lines of how we use `_is_diagonalizable_with_eigen` which returns a tuple and is used by `is_diagonaliza

[2020-01-26 22:35] Pristine-Cat commented on #18445
Not all things do which is why that function has a fallback `return reduce(lambda a, b: a + b, vec)
`. To tell you the truth I don't know why the `Add` is there in the first place and the `reduce` is not used in all cases.

[2020-01-26 22:38] oscarbenjamin commented on #18445
There is a function `construct_domain` that I think is intended for this purpose. I didn't use it though because it doesn't handle `I` very well:
[code]

[2020-01-26 22:41] oscarbenjamin commented on #18445
When adding `n` terms `Add.flatten` is in some sense `O(n)` in the number of terms. Achieving the same result with repeated addition is therefore `O(n**2)`. So `Add(*vec)` is (at least theoretically) more efficient when adding a large number of terms.

[2020-01-26 22:43] Pristine-Cat commented on #18445
To be clear, what you are proposing with a `DomainMatrix` is one possible type of matrix which could speed things up in cases of polynomials, you are not proposing making this the main matrix type no?

[2020-01-26 22:43] oscarbenjamin commented on #18445
Computing the pivots of the rref is incredibly cheap compared to computing the rref itself. I don't imagine that this offers significant performance benefit.

[2020-01-26 22:46] Pristine-Cat commented on #18445
I haven't actually benchmarked but `_find_reasonable_pivot` does have multiple possible calls to `simplify` which we have seen on larger or more complicated element-wise matrices can be hit.

[2020-01-26 23:20] oscarbenjamin commented on #18445
Sorry I wasn't clear. The `_find_reasonable_pivot` function is a major performance problem (e.g. #14675 and #6841). Not only does it call `simplify` but it then calls `equals` which calls `simplify` again and then does even slower things. Identifying the pivots to compute the rref can be expensive but it is cheap to do in the polys domains (see the trivial zero-testing used by `DomainMatrix`).

I

[2020-01-26 23:28] Pristine-Cat commented on #18445
Clarified and understood.

I was actually thinking of this in the context of removing `_find_reasonable_pivot_naive` and changing `_find_reasonable_pivot` to use progressively more expensive steps to find zeros, specifically inserting an `expand` or `dotprodsimp` pass between the simple "PASS 1 (iszerofunc directly)" and more expensive "PASS 2 (iszerofunc after simplify)".

[2020-01-26 23:47] siefkenj commented on #18445
You can use `sum(*vec)` as long as `vec` is not a zero-length list.

[2020-01-26 23:47] oscarbenjamin commented on #18445
The problem with finding a pivot is that when there are symbols in the matrix zero testing is often unknowable because it depends on the value of the symbols. In that context an algorithm that tries progressively more expensive things will always end up doing the most expensive things.

It is even proven that the problem of identifying whether an expression containing a symbol is identically zero

[2020-01-26 23:51] oscarbenjamin commented on #18445
Is that the Python builtin `sum`? That's what I used in `matrix_mul` above but I'm not sure if a more efficient way is possible.

[2020-01-26 23:53] siefkenj commented on #18445
If I recall correctly, I used add because it had better performance and because it handled length-zero things correctly. The fallback is for non-sympafiable things...If the new matrix insists on sympafyable entries (which it should, even if it uses a non-sympafyable "backend"), this should make the code less branching.

[2020-01-26 23:53] Pristine-Cat commented on #18445
Wouldn't that still run into the inefficiency you mentioned since it is repeated addition?

[2020-01-26 23:57] Pristine-Cat commented on #18445
Unfortunately there are things in the codebase which use explicitly non-sympifiable matrix elements by design, specifically `RawMatrix` and `NewMatrix` for solvers which I had to modify in the cache PR to avoid sympification. That should be changed in some way, matrices should contain only sympifiable things.

[2020-01-27 00:04] Pristine-Cat commented on #18445
I am thinking of the cases where the symbols can cancel like `x/(x-1) - 1/(x-1) - 1`, `expand` wouldn't zero that one but `dotprodsimp` would, though how common are those cases?

[2020-01-27 00:06] oscarbenjamin commented on #18445
I don't know about `NewMatrix` but `RawMatrix` is a matrix of domain elements used for the same reasons that are discussed above. If we had `DomainMatrix` then `RawMatrix` wouldn't be needed.

[2020-01-27 00:13] oscarbenjamin commented on #18445
This is what the domain elements give:
[code]

[2020-01-27 00:22] Pristine-Cat commented on #18445
I get it, polys have powerful intrinsic simplification due to their restricted and well defined domain and internal representation. So I ask again whether you propose this to be the new general matrix type based on polys or simply as a type of matrix to live alongside an even more general matrix type based on `Basic` (which to me makes more sense and actually I can see as being very useful)?

[2020-01-27 00:33] siefkenj commented on #18445
I think there should be a `.solve()` that returns a unique solution or throws and a different `.solution_set()` which returns the set of solutions (which could be the empty set). There should be some method to pick a random point from a set. So you would do `mat.solution_set(vec).pick_one()` or somesuch if you wanted a single solution. (I don't claim `solution_set` is the right name, either...).

[2020-01-27 00:34] oscarbenjamin commented on #18445
I would propose a two-level API:

1. A lower level of classes that manage arithmetic and storage (like `DomainMatrix` does) that are not `Basic`.
2. A higher level class for most end-users that is `Basic` and uses the lower level classes internally.

Different parts of sympy (and different users) can choose which of these they want to use. The low-level should have an extremely limited API so that

[2020-01-27 00:37] oscarbenjamin commented on #18445
https://github.com/sympy/sympy/issues/10006#issuecomment-573955539

[2020-01-27 00:47] siefkenj commented on #18445
Another thing to deal with is that a new matrix class should play nice with the new assumptions system (I don't know its status right now...).

It makes me uncomfortable how `rref([[x, 0],[0,x]])` results in the identity with no warning. It would be nice if it spit out a warning of some sort, or at least had a flag to make it return what assumptions are required to get the result. The whole `_find

[2020-01-27 00:58] oscarbenjamin commented on #18445
I don't know how long it has been since you last checked but I imagine that the status has not changed. The new assumptions are nice but are not fully implemented and are not really used anywhere in sympy.

This is an example I think of where a different approach is needed in general. If we want to handle the symbolic case properly then we need API that gives conditional results. Using `linsolve_c

[2020-01-27 01:01] Pristine-Cat commented on #18445
As I understand it the point of `DomainMatrix` is that it greatly accelerates operations like `rref`, but `rref` is not exactly a low-level arithmetic operation. Various different low-level classes may be better at one operation or another, so what operations would really go into these "low-level" classes and would we not wind up pushing a larger part of the higher level API into these than expect

[2020-01-27 01:26] oscarbenjamin commented on #18445
Honestly I don't know. I would start with using something like `DomainMatrix` to ensure that at least numeric calculations don't hang. Then take a look at polys for the polynomial case. I'm really not sure where this would end up in the fully general case.

I think that from here we just need to try things out. One advantage of a two-level API is that we can implement useful classes and solve prob

[2020-01-27 02:03] smichr commented on #18474
It is an `Add.flatten` issue:
[code]
The following fails in master:
[code]

[2020-01-27 04:35] sylee957 commented on #18445
I also think that `Matrix([[a, b, ...], [c, d, ...], ...])` can have so many possibilities of the echelon forms, than the case of fixed identity.
I'm also agreed on changing to more 'logical' RREF and this can be possibly done via modifying the RREF to branch every time when it finds undeterminate zeros, but I don't know if every users would be satisfied about this because it would actually make t

[2020-01-27 05:45] sylee957 commented on #18355
The only predicate to describe such assumption is `Q.is_true`, but I don't think that any work is done about that.
[code]

[2020-01-27 06:16] sylee957 commented on #18344
I wonder if it can be a good idea to make sets callable and make something like
`S.Reals(x)` return another `x` coerced with `real=True` unless it was explicitly specified as `real=False` before.

[2020-01-27 08:14] sylee957 commented on #18455
I mean what about having a asymptotic classifier that briefly finds things like `1/(x-1)` or `sin(x)*cos(x)`, and some internal classes like `PolyPlot`, `SinusoidPlot` can be used to define the best sampling for some elementary stuff, and for some other cases, it can move on to finding finite differences or such.

[2020-01-27 08:46] Chanakya-Ekbote commented on #18455
Just for further clarification, would you want to creat a new method that helps in plotting polynomials, and a new method that helps in plotting trigonometric functions or edit the existing ones to include the same i.e. if we find that a function is rational, we could use the sampling I've added in the code. If not we could probably find out the magnitude of the finite differences and sample accor

[2020-01-27 08:58] sylee957 commented on #18455
Yes, this is exactly what I hope so.

[2020-01-27 09:11] #17131 closed

[2020-01-27 10:56] sylee957 commented on #18431
I'd add a new class like `ArrayElementwiseApplyFunc` if it is missing. But I'm not familiar with the tensor module and whether it is really needed. But I can say that it's not needed for `Matrix`.

[2020-01-27 11:01] proy87 opened #18480 "Why acot(0) is pi/2?"
From the plot it is clearly seen, that inverse cotangent is not continuous at x=0.

[2020-01-27 11:16] jksuom commented on #18480
I think that `acot(0)` is correct but the values of `acot(x)` for negative `x` are wrong. Principal values can be obtained by adding `pi`.

[2020-01-27 11:25] abhinav28071999 commented on #18480
I am taking this. Will send a pr soon.

[2020-01-27 11:30] gschintgen commented on #18480
AFAICT there's nothing to fix: there are two customary but incompatible definitions for `acot`:
- one that respects `acot(z) == atan(1/z)`
- one that respects `acot(z) + atan(z) == pi/2`

The first one is the one given by DLMF (https://dlmf.nist.gov/4.23) which is also in current use in Sympy. If I remember this correctly I read a while ago that in older editions of Abramowitz-Stegun the second de

[2020-01-27 11:34] gschintgen commented on #18480
See also: #13679.

[2020-01-27 11:44] jksuom commented on #18480
[Wikipedia](https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Arctangent_Arccotangent.svg/294px-Arctangent_Arccotangent.svg.png) seems to conform to the second definition, but I agree that we can retain the first one. So there is nothing to fix and this can be closed.

[2020-01-27 11:44] #18480 closed

[2020-01-27 12:00] proy87 opened #18481 "Incorrect evaluation of AccumBounds"
Possibly, I didn't understand the definition of `AccumBounds`, but, as for me, it is an interval, from which function can take any value.
So, `sin(oo)` is `<-1,1>` as sine can take any value from the interval `[-1,1]`.
On the other hand, `atan(1/sin(0))` can take only two values: `-pi/2` and `pi/2`. It is not an interval. But sympy still gives `AccumBounds`.
Is it correct behavior? If it correct,

[2020-01-27 12:20] jksuom commented on #18481
`AccumulationBounds` only gives an interval containing the set of accumulation values. It does not imply that all values in the interval are accumulation values. It is hard to describe the set of accumulation values in general. It can be almost any closed set, not only two points or an interval. AFAIK there is no function or method in SymPy that would distinguish between the different possibilitie

[2020-01-27 12:21] proy87 commented on #18481
@jksuom , thank you for clarification.

[2020-01-27 12:21] #18481 closed

[2020-01-27 12:53] proy87 opened #18482 "Incorrect evaluation of limit"
`limit(sqrt (x**2 + 6*x) + (x**3 + x**2)/(x**2 + 1),x,-oo)` is `2`
`limit((x**3 + x**2 + sqrt(x*(x + 6))*(x**2 + 1))/(x**2 + 1),x,-oo)` is `1`, but should be `-2`, since expressions are equivalent.

[2020-01-27 13:00] i-m-vivek commented on #17396
Can I work on this issue?

[2020-01-27 13:04] i-m-vivek commented on #12006
I want to work on this issue. Is this still open?

[2020-01-27 13:05] Pristine-Cat commented on #18445
I am not sure what you mean by:

Do you mean that a normal dense `Basic` matrix would use `DomainMatrix` internally for calculations? What if the matrix contains elements which do not translate?

It is looking to me like maybe the hierarchy:
[code]
is an idea, where the `MatrixAPI` (or `ExplicitMatrix`) contains the default implementations of general matrix functions like `rref` and `eigenvalues`

[2020-01-27 13:06] i-m-vivek commented on #17823
I want to work on this issue. Is it still open?

[2020-01-27 13:07] i-m-vivek commented on #18428
@czgdp1807 Can I work on this issue?

[2020-01-27 13:11] czgdp1807 commented on #18428
The work is already under progress by @mijo2

[2020-01-27 13:40] namannimmo10 commented on #9824
I think this just needs a test. And we can close this issue afterwards. @asmeurer, "easy to fix" label can be added.

[2020-01-27 14:07] namannimmo10 commented on #17792
@skirpichev What needs to be done to fix this issue?

[2020-01-27 15:03] mijo2 commented on #7827
Hi @czgdp1807 since no one is currently working on this issue, I started working on it. I tried the fixes introduced in #8771 and #8929 but there were couple of problems that I ran into and since the codebase has changed while this issue was active, I would like to point them below -

1. Last year, a new line was introduced in ```summations.py``` namely -
        ```from sympy.calculus.singulariti

[2020-01-27 17:18] lzkelley commented on #7847
@mijo2 why is `0.04` still printing as `4.0e-2`?  And is there a separate parameter for the 'sig-figs' (i.e. `55.0` vs `55` or `55.`?

[2020-01-27 17:27] RemiFabre opened #18486 "Question: why is solving with Eq() slower than not using it?"
I might be misunderstanding something obvious but using the solve function on these 2 equations is nearly 4 times slower when using an Eq() object. The solver finds the same solution in both cases. Is it because the function solve uses different solvers depending on the type of the input?

[code]

This prints:
[code]
Thanks,

[2020-01-27 18:15] #17841 closed

[2020-01-27 18:37] abhinav28071999 opened #18487 "Expansions"
Currently sympy does not support expansions of real numbers like, Engel Expansion, Pierce Expansion etc. Some of them are already implemented like egyptian fraction and continued fraction. I would like to expand this.

@jksuom @oscarbenjamin  If this is relevant to sympy i would like to start working on this.

[2020-01-27 18:59] #11884 closed

[2020-01-27 19:28] oscarbenjamin commented on #18445
Initially we should make sure we use this for the cases that definitely do translate. Specifically: integers, rationals, algebraic number fields, real and complex floats.

The case of polynomials is a bit different because we don't always know that a user wants the expanded forms that the poly domains give:
[code]
It's possible that it would be better to have an explicit PolyMatrix class that user

[2020-01-27 19:31] oscarbenjamin commented on #9824
I've added the easy to fix label. Tests are needed for these two results:
[code]

[2020-01-27 19:40] Pristine-Cat commented on #18445
So you want the general matrix to autodetect the domain from its elements and adapt accordingly? Better to explicitly specify the domain of the matrix I would think.

I don't necessarily mean using MI, I was more attempting to suggest the hierarchy of the inheritance, `MatrixExpr` -> `MatrixAPI` -> `MatrixBuffer` which could be done via the class order in MI or `MatrixBuffer` inheriting from `Matr

[2020-01-27 19:41] smichr commented on #18486
It's a caching issue. Once you have solved the problem, there are things in cache that make the repeat faster. Reverse the order of which equation set you solve first and you will see approximately the same results: the first run is slow and the second is faster.

[2020-01-27 19:59] proy87 commented on #18482
Also, `limit((2*exp(3*x)/(exp(2*x) + 1))**(1/x),x,oo)` should be `E`.

[2020-01-27 20:23] oscarbenjamin commented on #18445
The low-level classes would require specifying the domain. I think that the high-level class should automatically choose a domain and instantiate the appropriate low-level buffer.

What I refer to as a buffer above is a private attribute of the public matrix class that it is implemented separately and has no inheritance relationship at all to the classes that users end up using and shares no imple

[2020-01-27 20:23] gschintgen opened #18490 "solveset(cosh(x) + cosh(3*x) - cosh(5*x), x, S.Reals) raises AssertionError in _solve_trig2"
Here's the trace:
[code]

There are two issues with that:
1. the assertion fails... (somewhat related: #18427 is another failure in the pre-processing code)
2. more fundamentally: `_solve_trig2` *could* be adapted to work for hyperbolic equations (same basic idea with a tanh substitution instead; I have code in some old local branch), but currently it's not intended to handle hyperbolic equations.

[2020-01-27 20:57] Davide-sd opened #18492 "Limit of Piecewise function - NotImplementedError: Don't know how to calculate the mrv"
Sympy 1.5.1

I'm playing around with Piecewise functions. Unfortunately, there are times where I receive this `NotImplementedError`. Here I provides a few examples:

[code]

Traceback:

[code]

Note that if I try to compute the same limits over the pieces, for example `sp.limit(f31, x, -1, "+")` everything works fine!

[2020-01-27 21:19] Pristine-Cat commented on #18445
I understand you aren't worrying too much about the mutable matrices since they are ancillary but the case I am thinking about here is a mutable matrix where the user is assigning different elements from different domains and the class is constantly recasting to the best domain which matches all of its elements.

I was thinking since the type of the buffer can provide optimized functions for certa

[2020-01-27 21:47] ethankward opened #18493 "Refactoring the diophantine module"
Intending to refactor the various diophantine solvers to put them under a common interface (i.e., one class that handles parameters, permutations, equation properties, solutions etc).

Task list:

- [x] Create a package for all diophantine related files #18415
- [ ] Create a util file for common functionality #18485
- [ ] Create new solution and diophantine classes that can be used to represent an

[2020-01-27 22:02] oscarbenjamin commented on #18445
In the mutable case we shouldn't try any of the domains stuff. The way I see it there are two possibilities:

1. Mutable matrices should convert to immutable for all operations so e.g. `A*B` implicitly becomes `A.as_immutable() * B.as_immutable()`.
2. No operations are supported for mutable matrices directly. Users should use `as_immutable()` themselves if they want to do matrix calculations.

My

[2020-01-27 22:04] asmeurer opened #18494 "flake8 errors when run locally"
When I run `flake8 sympy` locally, I get several errors

[code]

But these errors don't appear in Travis. I can't understand why. I can't even tell if flake8 is run at all in Travis because it produces no output. This is because `flake8 sympy` is currently run in the install phase in Travis, but it should be run in the `bin/test_travis` script, which is run with `set -e` and shows all run commands

[2020-01-27 22:06] asmeurer commented on #18494
CC @gschintgen

[2020-01-27 22:09] oscarbenjamin commented on #18494
It depends which version of Python you are using when you run Travis

[2020-01-27 22:12] oscarbenjamin commented on #18494
https://github.com/sympy/sympy/pull/18489#discussion_r371502565

[2020-01-27 22:16] asmeurer commented on #18494
Oh I get it. Because Python 3.8 fixed the line number for decorated functions issue. I think we should noqa both lines, so that flake8 passes even for people who aren't using Python 3.8.

[2020-01-27 22:23] sylee957 commented on #18445
I think that this part is difficult to get quality assured, unless `ContainerMatrix` does every internal operations with `+`, `-`, `*`, `==`, and it's never intended to be changed.

[2020-01-27 22:25] oscarbenjamin commented on #18494
Yes but also flake8 gives different warnings for different versions of Python anyway:
http://flake8.pycqa.org/en/latest/
"""
It is very important to install Flake8 on the correct version of Python for your needs. If you want Flake8 to properly parse new language features in Python 3.5 (for example), you need it to be installed on 3.5 for Flake8 to understand those features. In many ways, Flake8 is

[2020-01-27 22:29] Pristine-Cat commented on #18445
So, essentially, no mutable matrices, period. Even if they would be easy to do, because we don't want users using them?

[2020-01-27 22:33] RemiFabre commented on #18486
Actually that's what I first assumed but I tried reversing the order and the Eq() solve was still the slowest by the same factor.

[2020-01-27 22:38] asmeurer commented on #18486
If you run them multiples times with something like IPython's %timeit the times are basically the same.

[2020-01-27 22:41] oscarbenjamin commented on #18445
`ContainerMatrix` has no use for any of those except perhaps `==`. It's just a container: you put things in, you get them out. If you want to do calculations you convert to an actual matrix.

I've looked around the codebase and I don't remember any examples where mutability of matrices is used for anything other than constructing a matrix like
[code]
Many of those examples can be rewritten as some

[2020-01-27 22:58] RemiFabre commented on #18486
Interesting. I changed the code to perform the (almost) same calculation 10 times in a row.

I've included the whole file so it's easy to reproduce:
[code]

This yields:
[code]
So the first Eq() solve is indeed much (x2) slower than the rest but the nonEq() solve is still ~30-40% faster every time. Any idea why?
If I remove the variable portion of the equations as follows:
[code]
We get very simil

[2020-01-27 23:05] Pristine-Cat commented on #18445
Your `ContainerMatrix` maybe already exists in the form of `MutableDenseNDimArray`. Not sure if it supports all the indexing and slice assigning like matrices. I get the feeling lots of code would need to be changed though if migrating it from old matrices.

[2020-01-27 23:06] asmeurer commented on #18486
Internally when solve() gets an Eq it does an lhs - rhs to convert it into an expression. This is the only difference for Eq. But that should take a negligible amount of time compared to the rest of the solve. The two do not use different solver algorithms.

If I invert Eq and no Eq in your script I get the same thing with no Eq. As @smichr said the first run is slower because it doesn't have anyt

[2020-01-27 23:14] oscarbenjamin commented on #18445
Another thing we should fix if making new matrices is that iteration over the matrix should be compatible with numpy arrays (returning rows rather than elements). There is an issue somewhere for that.

[2020-01-27 23:16] sylee957 commented on #18445
I also think that, if it becomes just a container, there can be an another argument like 'How would it be better than just using a python list?'.
If it has some crude `rref` method that only uses pythonic addition and multiplication, it can be fine supporting non-sympifyable operations and I guess this can be done by reusing some stuff in `densearith.py` (Though it may lose some point that why sho

[2020-01-27 23:16] smichr opened #18496 "refactor pythagorean triple result from diophantine"
`diophantine(a**2+b**2-c**2)` returns `(2*p*q, p**2 - q**2, p**2 + q**2)`. It might be more instructive to return `(p*(2*q + 1), 2*p*q*(q + 1), p*(2*q**2 + 2*q + 1))` which returns the [primitive triples](https://primes.utm.edu/glossary/page.php?sort=PrmPythagTriples) when `p=1`:
[code]

[2020-01-27 23:24] Pristine-Cat commented on #18445
I also thought Python list or list of lists but there is one thing which may be useful for the container, full 2D indexing and slicing.

[2020-01-27 23:25] oscarbenjamin commented on #18445
Most uses of mutable matrices probably should just use a list of lists.

As soon as we start down that path we will get all kinds of issues about why mutable matrices are slow or don't work correctly etc. We should clearly point users towards something that we can make good. We should make immutable matrices good without complicating their implementation by worrying about sharing it with mutable m

[2020-01-27 23:27] Pristine-Cat commented on #18445
When we introduce top-level matrix functions maybe a 2D list of lists should sympify to a matrix? Or too general?

[2020-01-27 23:28] ethankward commented on #18494
Should we be running flake8 in all supported versions? Maybe it would take too long for not much benefit.

[2020-01-27 23:29] oscarbenjamin commented on #18445
That's not backwards compatible because sympify already recurses through lists.

[2020-01-27 23:30] asmeurer commented on #18438
We should test both. There are possible bugs where unpickling can break in the same process, e.g., if an unpickled object does not compare equal to the pickled object because of some bad `__eq__` implementation.

[2020-01-27 23:36] oscarbenjamin commented on #18494
It doesn't take very long compared to the other tests. Mostly there isn't much difference between versions now that Python 2 is not supported though.

The multipledispatch issue is clearly something that flake8 has trouble with. Also mypy doesn't like it but requires the `type: ignore` to be on a different line (like flake8 in Python 3.7).

[2020-01-28 00:07] asmeurer commented on #18494
That documentation applies mostly to Python 2. There are very few differences between Python 3.5 and 3.8 that would affect flake8. The fix here is simple: just add noqa to both lines. We should try to make flake8 pass for all Python versions we support so that anyone who runs it locally won't get false positives. I don't think we need to run all versions on Travis, however, since as I said the dif

[2020-01-28 00:58] oscarbenjamin opened #18497 "Add ElementOf and ArbitraryConstant symbols"
I have two different ideas here that are related in that they could share a lot their implementation. Perhaps having just one is useful.

The first is that I think it would be good to create an `ElementOf` symbol type that represents an element of a particular `Set` e.g.:
[code]
The idea is that this forms a connection between sets and expressions that you can use as a more powerful way of express

[2020-01-28 01:03] oscarbenjamin commented on #18497
I guess another way of thinking about the distinction between these two is that an arbitrary constant is a particular (although unspecified) element of a set so it could be called `ParticularElementOf`.

[2020-01-28 01:11] oscarbenjamin commented on #18445
Another advantage is printing support.

[2020-01-28 01:13] oscarbenjamin commented on #18445
I just realised why this doesn't work with matrices: matrices are always two dimensional whereas numpy arrays are n dimensional. In numpy iterating over an n-dimensional array gives an (n-1)-dimensional array. If iterating over a sympy matrix gives rows then are the rows of type matrix? If so what happens when you iterate over them?

[2020-01-28 04:18] smichr commented on #18497
I like this idea. `ArbitraryConstant` reminds me of geometry's `arbitrary_point`.

[2020-01-28 05:18] smichr commented on #18496
No -- this only gives the primitive solutions, not the general solutions. e.g. 8,15,17 is missing from the primitive solutions.

[2020-01-28 08:19] sylee957 commented on #18445
I think that matrix had to be begun with the a two dimensional special case of the n-dimensional array in the first place, if it should be compatible with the numpy indexing.

It’s also a bit backward breaking change if we keep in mind of aligning with the matrix expressions module.

[2020-01-28 08:20] satels opened #18499 "The result of (1/oo)**(-oo) should be nan"
Now it is "0"

[code]

[2020-01-28 08:38] satels opened #18500 "Is "NaN" it the right result of "1**oo"?"
[code]

[2020-01-28 09:21] Smit-create commented on #2975
@oscarbenjamin I think this issue should be closed as the test case has been added in #18220.

[2020-01-28 09:25] asmeurer commented on #18497
See https://github.com/sympy/sympy/issues/4435 (which is incidentally the first issue I ever opened).

[2020-01-28 10:09] sylee957 commented on #18470
I'm not sure any direction this is decided, yet.

[2020-01-28 11:21] proy87 opened #18501 "Extraneous variable in limit result"
`limit(Abs(log(x - 1)**3 - 1),x,1,'+')` returns expression involving `w`:
[code]

[2020-01-28 11:32] oscarbenjamin commented on #2975
Yeas it should be closed. Thanks for pointing that out.

[2020-01-28 11:32] #2975 closed

[2020-01-28 12:03] Chanakya-Ekbote commented on #18455
The issue that I see is that there is a line ```collection = self.LineCollection(s.get_segments())``` that's causing the issue. Basically Matplotlib is interpolating the points and hence we can see a weird continuity in the graph.

What can be done is:
1. Use hold while plotting a rational function (where a lot of methods would have to be changed)
2. Or create a new method that only plots polynomi

[2020-01-28 12:25] gschintgen commented on #18455
AFAICT `.get_segments` is the method from here in class `Line2DBaseSeries(BaseSeries)`:
https://github.com/sympy/sympy/blob/15580c494287ce50df8a5cc30cdc88fa87776fc5/sympy/plotting/plot.py#L523-L531
If so couldn't we just stop generating those pesky vertical segments? (Using some heuristic as outlined in my previous comment.)

That's independent of the backend or am I mistaken? From a cursory look

[2020-01-28 13:07] Mohitbalwani26 commented on #18496
@smichr should ` diop_general_pythagorean`  return this type of solution for only triplets?

[2020-01-28 13:39] RemiFabre commented on #18486
You're right. I must have messed up my first test when I inverted the 2 lines. Inverting the solving order yields something very similar to your post:
[code]
So:
- Eq() or no Eq() doesn't have a noticeable impact
- There are important performance boosts thanks to buffering mechanisms
- The first call of Solve() in particular is much slower than the next call

Thank you all for your inputs, closing

[2020-01-28 13:39] #18486 closed

[2020-01-28 14:08] Pristine-Cat commented on #18445
Matrix indexing and probably iteration should not mimic ndarray indexing and iteration exactly, for example:
[code]
Whereas the common sense expectation is a column matrix:
[code]

Yes, and its a little counterintuitive:
[code]
You can recurse as many times as you want with iteration and you always get back a 2D matrix, the only way to pull an element out is with 2D indexing.
[code]

[2020-01-28 14:51] Chanakya-Ekbote commented on #18455
I guess it has to do with the backend itself. What I did was I incorporated the same code that I had written above into the ```get_segments()``` method however the plots I got were the same ones with those pesky vertical segments. Hence I believe the problem is with the backend. Please find the edited code down below.
[code]

[2020-01-28 16:16] #16715 closed

[2020-01-28 16:37] mijo2 commented on #7847
@lzkelley 0.04 is printed as 4e-2 because when we mention min as -2 and max as 2, then all the numbers between 0.1 and 100 where 0.1 inclusive and 100 exclusive, are printed in fixed-point floating format. That is why 0.04 is printed as 4e-2. These min and max parameters are straight from mpmath's to_str method that we are using in StrPrinter

[2020-01-28 17:22] smichr commented on #18496
I am not sure. Perhaps all that is needed is a docstring note that says that
[code]

All the solutions for a given set of parameter values can be obtained from
[code]
I don't know enough about these to know of a better way to handle them in terms of when an extra parameter would help.

[2020-01-28 17:29] lzkelley commented on #7847
Okay, the asymmetry is a little weird to me, but sure.

So is it possible to have `max` and `min` set in `init_printing()` via `Printer.set_global_settings()` or something like that?

[2020-01-28 19:11] mijo2 commented on #7847
@Izkelley let me try it out and get back to you regarding this.

[2020-01-28 19:15] asmeurer commented on #18496
I guess any homogeneous equation will have this property. Does this sort of thing happen outside of this case? IMO it should include the extra parameter in the solution set. I don't think the user should be required to notice that the input equation is homogeneous and that the solution set can be modified accordingly.

There are also other instances where you can have a homogeneous equation but th

[2020-01-28 19:40] proy87 commented on #18482
Same as above.
`limit(x + (1 - x**2)*exp(1/x)/(x + 2),x,oo)` is `1`. `imit((x*(x + 2) + (1 - x**2)*exp(1/x))/(x + 2),x,oo)` should be `1`, but it is `2`.

[2020-01-28 20:47] #18474 closed

[2020-01-28 21:26] smichr opened #18504 "diophantine returns permutations when permute=False"
For `binary_quadratic` types, permutations of the solution are returned. This feature may apply to other types, too:
[code]
It seems like only the base solution should be returned in this case and the permutations when `permute=True`:
[code]

[2020-01-28 21:43] smichr commented on #18496
So if there is more than one parameter in the parameterized solution then perhaps this is the case. e.g.
[code]

I'm not sure what the trick is to writing this so you can report a solution which, for all integer input, reports integer output. Multiplying/dividing by k is not the answer since then you would have to check that the result is all integers (but then you might as well check that the cur

[2020-01-28 21:49] Upabjojr commented on #18435
Isn't `x(i)*x(-i)` already a scalar? Why would you need to use a scalar head?

[2020-01-28 22:02] Upabjojr commented on #18435
Expressions like `(x(i)*y(-i))**2` should be allowed to construct a `Pow` object.

The idea of a scalar head is interesting, the `__pow__` operator in `TensExpr` should check whether the expression has no free indices. If there are no free indices, it should either create `Pow( ... )` or `ScalarHead(Pow( ... ))`, where `ScalarHead` would be an invisible wrapper (invisible = printing only its conte

[2020-01-28 23:57] asmeurer commented on #18496
If k is an integer then after multiplying by k they will still be integers, no?

Here is some math

A function `f(x1, ..., xn)` is *homogeneous* if `f(k*x1, ..., k*xn) = k^p f(x1, ..., xn)` for some `p` (see the `homogeneous_order()` function). If we are trying to solve `f(x1, ..., xn) = 0` this means that if `(a1, ..., an)` is a solution then so is `(k*a1, ..., k*an)` for any `k`. If `f` is a pol

[2020-01-29 03:18] smichr commented on #18496
The parameterized solution is supposed to be a parametric representation of the integer values which are solutions to the equation. If you take the solution presented for the `general_pythagorean` equation above and plug in integers you will get integer values for `a,b,c,d` that are solutions to the equation. Multiplying them each by `k` will not give you the solution (3,2,6,7). You can only get t

[2020-01-29 03:30] Saanidhyavats commented on #18064
I am interested to take up this issue, how shall I start?

[2020-01-29 03:57] smichr commented on #11130
Only saw this now. No good reason not to error:
[code]

[2020-01-29 04:25] smichr commented on #6878
`combsimp` starts with a `rewrite(gamma)` which, for `RisingFactorial(x, k)` is `gamma(x + k)/gamma(x)`. With `x = -10` this ends up being `gamma(-10 + k)/zoo -> 0`.

[2020-01-29 04:50] Smit-create commented on #18090
Possibly related from #18503
[code]

[2020-01-29 06:57] namannimmo10 commented on #6878
Yes, +1 to that.
https://github.com/sympy/sympy/blob/3c34a09e98aaeffe18ac5352e49e9f258384a375/sympy/simplify/combsimp.py#L49
This line indeed returns 0.

[2020-01-29 07:14] asmeurer commented on #18496
Oh I see. Maybe the best we can do is to set k as rational=True and note in the docstring that some parameters may require rational values s.t. that solution itself is an integer.

Alternatively we could add some sort of unevaluated integer gcd object.

[2020-01-29 07:27] czgdp1807 commented on #10153
Update:
The issue is still unresolved.

[2020-01-29 07:47] czgdp1807 commented on #9841
The issue still is unresolved.

[2020-01-29 08:44] Smit-create commented on #8062
I get the following results on the current master:
[code]
@oscarbenjamin  The issue seems to be fixed and I think it can be closed.

[2020-01-29 08:50] proy87 opened #18505 "Type Error in Union"
`s=Union(ImageSet(Lambda(n, -sqrt(n*pi/2 - 1 + pi/2)), Integers), ImageSet(Lambda(n, sqrt(n*pi/2 - 1 + pi/2)), Integers))`

`s + FiniteSet(0)` raises TypeError.

Can anybody tell me what is the problem?

[2020-01-29 09:24] mijo2 commented on #7847
@lzkelley So, when I made the changes and exposed the ```min``` and ```max``` options for string and latex printers, it became possible to set ```max``` and ```min``` via ```Printer.set_global_settings()```.

Example:
[code]

[2020-01-29 09:32] sylee957 commented on #18497
Actually, is it similar to what `Dummy` is?
`x=Dummy('x'); Eq(x, x)` is True, but about arbitraryconstant, it seems like it should be undefined for mathematical equality?

[2020-01-29 09:46] sylee957 commented on #5101
I see there is an another duplicate `Sqrt` in codegen module that does not expand, so if you use that, maybe it can be possible to `.has(Sqrt)`
But I wonder if such naming warkaround are needed in the codegen if the original `sqrt` was a class than function.

[2020-01-29 10:10] #7847 closed

[2020-01-29 10:21] mijo2 commented on #7763
@asmeurer We can add something like below in the README file below or above the source installation steps:

To install sympy using PyPI you can run the following command:
``` pip install sympy ```

I think that should suffice for a user who wants the latest released version instead of installing from source.

[2020-01-29 10:41] sylee957 commented on #18445
I think that the other problem of `M[i]` is that we would have to define inefficient vectorized iteration for `SparseMatrix` only to ensure that it gives the consistent result with the dense matrix.
But who is going to use that?

I think that scipy sparse matrix follows the `numpy.matrix` convention, but I'm still confused about what's gonna be the usage of defining the numpylike indexing for scip

[2020-01-29 10:45] proy87 opened #18507 "Bug in Mul"
`Mul(zoo, zoo, 0)` returns `zoo`, but should be `NaN`.

[2020-01-29 11:44] #8071 closed

[2020-01-29 11:59] proy87 opened #18508 "NotImplementedError in limit"
`limit(sin(x)/sqrt(1-cos(x)),x,0) `

[2020-01-29 12:03] proy87 opened #18509 "pi raised to infinity gives incorrect result"
`pi**oo` should be `oo`.

[2020-01-29 13:00] gschintgen commented on #18509
I get a perfectly valid result. Would you mind elaborating and showing *exact* (as in copy&paste) input and output?

[2020-01-29 13:19] Smit-create commented on #18509
I get the following output on master:
[code]

[2020-01-29 13:46] jksuom commented on #18507
https://github.com/sympy/sympy/blob/ef7bd27551b8f8fa7d55c85e51d8bb10a329545f/sympy/core/mul.py#L294-L296
This should not return, the last argument 0 will be ignored.

[2020-01-29 14:19] mohitacecode commented on #18507
I am working on this issue

[2020-01-29 14:25] gschintgen commented on #18470
I think that making a `NaN` disappear in such a way is peculiar. I'd expect `nan` to be "contagious" in computations. But then again `0**0 == 1` in Sympy, so it would be more a matter of principle than that the computation could turn out to be incorrect/incoherent for some particular base b in `b**0`.

I'm just skeptical if a CAS goes on computing even if there are already NaNs involved. That seem

[2020-01-29 14:26] gschintgen commented on #18509
Me too, so I don't see the incorrect result announced in the title. AFAICT it's just not auto-evaluated.

[2020-01-29 14:29] proy87 commented on #18509
@gschintgen , it is unexpected, because `2**oo` gives `oo` instead of `2**oo`.
Moreover, `2**oo / 3**oo` gives `NaN`, but `2**oo / pi**oo` gives `oo` and this is indeed incorrect.

[2020-01-29 14:35] Saanidhyavats commented on #18064
I am thinking to make a separate function for evalf() in `sympy.physics.vector.Vector` like in `sympy.core.function`

[2020-01-29 14:36] gschintgen commented on #18509
I agree that it's not optimal.

That is indeed an issue, thanks for pointing it out.

[2020-01-29 14:39] Pristine-Cat commented on #18445
This may be the most reasonable way to go as there is no real intuitive best way to handle these things, the minimalist approach.

[2020-01-29 14:50] gschintgen commented on #18508
Can reproduce with 1.5 but not with master:
[code]
The given result is correct, at least given Sympy's documented (but IMO incorrect) interpretation that limits are by default computed to the right.

I'm not sure if this can be closed right away or if we should add a regression test. Given the intricate nature of limit computations, I'd say it's best to add the test(s).

(BTW, with 1.5 all three v

[2020-01-29 14:53] Pristine-Cat commented on #18445
To copy something from another PR since it belongs in this discussion:

@oscarbenjamin

The solvers currently use `rref` obviously as well as indexing, low level ops like matrix add and mul  and some housekeeping functions like `zeros`, `hstack`, `vstack`, `col_swap` and `reshape`. I don't know what functions you would consider for including in this lower-level efficient matrix but here you have t

[2020-01-29 14:58] borysvorona opened #18511 "Incredibly long processing"
Incredibly long processing of limits and integrals

For example:
`sympy.Limit(sympy.Abs(sympy.log(x))**x, x, 0).doit()`
`sympy.Integral(sympy.cos(x) / sympy.Pow(sympy.sin(x), sympy.Rational(7, 4)), x).doit()`

It takes more than 2 minutes for simple functions.

[2020-01-29 15:04] mijo2 commented on #7763
Updated string for README -

- **Install SymPy from the GitHub source:**

To install SymPy from GitHub source, first clone SymPy using ```git```:

[code]

Then, inside the ```sympy``` repTo install SymPy from GitHub source, first clone SymPy using ```git```:

[code]

Then, inside the ```sympy``` repository that you just cloned, simply run:

[code]

- **Install SymPy using PyPI:**

To install SymPy

[2020-01-29 15:10] Smit-create commented on #18511
Similar to #18452

[2020-01-29 15:55] smichr commented on #5101
If this is done then all code that looks for Pow would have to be modified to also recognize sqrt.

[2020-01-29 15:55] gschintgen commented on #18509
I think there are two issues here to be fixed:
1. `pi**oo` does not auto-evaluate (but also other expressions; see below).
2. The wrong quotient result that still shouldn't return `oo` but NaN.

This behavior is not limited to `pi`:
[code]

[2020-01-29 15:59] mijo2 commented on #18508
@gschintgen I can add the tests. Should I create a PR regarding same?

[2020-01-29 16:10] namannimmo10 commented on #16500
@oscarbenjamin, Even after applying these changes, it isn't real....
[code]

[2020-01-29 17:51] #8062 closed

[2020-01-29 18:04] oscarbenjamin commented on #18064
Take a look at how `evalf` and the `EvalfMixin` works for other types if you want to work on this.

Note that I've removed the easy to fix label because there have already been two failed attempts at fixing this issue. I suspect that it is somehow harder than it looks because of the design of the vector module.

[2020-01-29 18:05] #18508 closed

[2020-01-29 18:11] oscarbenjamin commented on #18445
That's what I was thinking. We should define a small set of methods that makes up the stuff that takes all of the time in the more complicated calculations.

[2020-01-29 18:27] Pristine-Cat commented on #18445
Ok, well for the matrix classes I've processed so far its those four functions, with maybe `charpoly` thrown in since `eigenvals` depends on it and I am guessing you want the lower-level class to be self-contained and not call down to a subclass for a `charpoly`. Also the determinant should be just one function, no different `method`s or other such at that level. If the more general subclass wants

[2020-01-29 18:33] Smit-create commented on #10969
@czgdp1807 @oscarbenjamin  The issue has been fixed on the current master. I think it can be closed.

[2020-01-29 18:42] oscarbenjamin commented on #18445
Do eigenvectors and eigenvalues not in turn spend almost all of their time in det and rref?

[2020-01-29 19:04] Smit-create commented on #6589
On Current master:
[code]
For Normal Distribution standard deviation must be a positive number.
@oscarbenjamin @asmeurer @czgdp1807  I think the issue is fixed and can be closed.

[2020-01-29 19:36] Pristine-Cat commented on #18445
`eigenvals` is `roots` of `charpoly`, `eigenvects` is `nullspace` which yes is `rref`. I am thinking `eigenvals` may be accelerated if using `Poly` class?

[2020-01-29 20:57] oscarbenjamin commented on #18445
I assumed charpoly would use det but I see it's potentially the other way round so I guess that the low-level API could be charpoly, det, rref.

I'm not sure that using the `Poly` class would speed anything up in the current charpoly algorithm since it computes the coefficients directly without actually using any polynomials.

[2020-01-29 21:16] Pristine-Cat commented on #18445
If eigenvals is not low-level then should charpoly be? No determinant uses charpoly but both charpoly and det_berkowitz use `_berkowitz_vector`.

[2020-01-29 21:45] oscarbenjamin commented on #18509
I think the problem is that the logic for evaluating `a**oo` is in `Rational._eval_power`, `Float._eval_power` and `Exp1._eval_power` rather than being handled generally in `Pow.__new__`. If this would evaluate in general then it would handle cases like this as well:
[code]

For `oo / pi**oo` I think that the bug comes down to this:
[code]

[2020-01-29 21:52] gschintgen commented on #18494
I added a few notes to the "Development workflow" wiki page about installing and calling `flake8`:
https://github.com/sympy/sympy/wiki/Development-workflow/_compare/af1cfd166e241eb679fc79af2c7d6c76cc3da6c4...f9e104437a4ae96f15837be216ff3cbe8de00451

I did hesitate a bit about the mentioned Python versions (2.7 and 3.5). I wanted to update them to 3.5 and 3.8, but there are a number of additional e

[2020-01-29 22:17] asmeurer commented on #17943
We also need to update the development workflow pages on the wiki.

[2020-01-29 22:17] asmeurer commented on #18494
Yes, those need to be removed. Actually we haven't completely gotten rid of the compatibility file yet, so things are still messy. But this is covered by https://github.com/sympy/sympy/issues/17943.

Also this issue was fixed by my PR, so I'm closing it.

[2020-01-29 22:17] #18494 closed

[2020-01-29 22:17] #17999 closed

[2020-01-29 22:20] oscarbenjamin commented on #18445
I would imagine that the low-level version of `charpoly` would just be `berkowitz_vector` i.e. it returns a list of coefficients rather than a `Poly`. From there it is straight-forward to build either eigenvals or det. Likewise with det at the lower-level you can easily build charpoly and then eigenvals at the higher level but charpoly is slightly harder as you'll need to use polynomial calculatio

[2020-01-29 22:29] asmeurer commented on #18445
Regarding making Matrix immutable by default, I think it would be possible to do a deprecation, as described here https://github.com/sympy/sympy/issues/6509#issuecomment-243823604. Basically during the deprecation period

- `Matrix` creates a `MutableMatrix` with a `_deprecated_mutations` flag set to True. `MutableMatrix` creates a matrix with the flag set to False.
- If someone does a mutation op

[2020-01-29 22:33] Pristine-Cat commented on #18445
I was thinking initially one of the other two determinant methods `det_bareiss` or `det_LU` but I notice now they both eventually use `_find_reasonable_pivot`, which if not a low-level function by itself could be gotten from the pivot information from an `rref` (a case could be made maybe for making `_find_reasonable_pivot` one of these low-level functions). Other than that, `_berkowitz_vector` co

[2020-01-29 22:40] Pristine-Cat commented on #18445
`__setitem__` would simply not be allowed on an immutable matrix. But as it stands anyway there are currently discrepancies between how mutable and immutable functions of the same name work, `ImmutableMatrix.simplify()` for example returns a simplified matrix whereas `Matrix.simplify()` simplifies in-place and does not return anything.

They would always return a new matrix.

[2020-01-29 23:45] oscarbenjamin commented on #18445
@asmeurer I responded in the other issue about my attempt at something similar to your proposal. I want to respond here about the other issues:

1. The matrix classes have a tangled web of far too many methods.
2. We should have a class that gives an interface that can be consistently supported by matrix expressions.
3. The arithmetic is all broken and leads to blowup, wrong results and really slo

[2020-01-30 00:05] oscarbenjamin commented on #18445
I don't think we should have `det_bareiss` or `det_LU` in any new API (high or low-level). There should just be a `det` method and it should not have a multitude of options. If we want to provide multiple algorithms for doing these things then:

1. Either the algorithms should be separate functions (not methods) that operate on generic types and that a user can invoke when they want to...
2. Or *w

[2020-01-30 00:26] asmeurer commented on #18445
I agree with all these points.

I mean is there a simple way to rewrite something like

[code]

with an immutable matrix. The mutability makes constructing irregular matrices quite simple. I guess the best alternative is to do the setting on the list of lists before creating the matrix.

[2020-01-30 00:39] Pristine-Cat commented on #18445
I meant use one of those algorithms for the single `det` function, not necessarily that we should have those explicit functions. But if have the berkowitz function in the low-level class then we use that algorithm.

Well this only really applies to `det_bareiss` which uses `_find_reasonable_pivot` and `det_LU` which uses `_find_reasonable_pivot_naive` via `LUdecomposition_Simple`. IF we decide to

[2020-01-30 00:47] Pristine-Cat commented on #18445
For constructing matrices there is @oscarbenjamin's idea of using a  `ContainerMatrix` which would allow that, or constructing using the current `NDimArray` if you don't mind the indexing differences, or list of lists which these would then be cast to the matrix type. Or even housekeeping functions along the lines of `M.set(0, 0, element)` or `M.set_col(0, list)` or something along those lines whi

[2020-01-30 03:01] namannimmo10 commented on #16500
@mohitacecode What do you think about this one? Did you apply this diff on your machine first before raising a PR?

[2020-01-30 05:42] namannimmo10 opened #18514 "exp(x)*erf(x*I) and exp(-x)*erf(x*I) don't work"
[code]
The correct result can be found here: https://www.wolframalpha.com/input/?i=+exp%28x%29*erf%28I*x%29+

[2020-01-30 07:20] joha2 commented on #18435
Hey @Upabjojr

Thanks for your answer!

But they violate the index picture, don't they? So from a strict index picture perspective I would suppose `a(k)*b(-k)*a(i)*b(-i)` to be a correct expression, while `(a(i)*b(-i))**2` is not. With a scalar head this could just be coefficient to a valid tensor expression, where the index picture is not violated.

Yes, these are the main reasons for introducing

[2020-01-30 07:24] #4231 closed

[2020-01-30 07:24] #5101 closed

[2020-01-30 07:24] #9824 closed

[2020-01-30 07:38] oscarbenjamin commented on #18514
There is nothing incorrect about this. You can use rewrite if you want the other form:
[code]

[2020-01-30 07:44] namannimmo10 commented on #18514
I thought it would give the integral representation.
![MSP2532134h623i42ihieg600001388a2939104128b](https://user-images.githubusercontent.com/43007653/73429752-6515b980-4362-11ea-8d6f-d4c5f1857a08.gif)

[2020-01-30 07:56] proy87 opened #18516 "TypeError in evalf with chop=True"
`log(3273390607896141870013189696827599152216642046043064789483291368096133796404674554883270092325904157150886684127560071009217256545885393053328527589376/36360291795869936842385267079543319118023385026001623040346035832580600191583895484198508262979388783308179702534403855752855931517013066142992430916562025780021771247847643450125342836565813209972590371590152578728008385990139795377610001).ev

[2020-01-30 08:26] sylee957 commented on #18516
It works in my computer.

[2020-01-30 08:37] sylee957 commented on #18514
[code]
At least converting back from integrals work.

Integrals are often more complicated than original functions, so I don't think that functions should automatically evaluate to integrals (even if it gives more generalized form for special functions), than making integrals to automatically end up with special functions.

But I think that you should begin with adding `_eval_rewrite_as_Integral`

[2020-01-30 09:10] gschintgen commented on #18505
It's in here that the `TypeError` is raised:
[code]
Traceback of the above:
[code]

[2020-01-30 10:42] Psycho-Pirate commented on #17823
I am working on it.

[2020-01-30 12:31] oscarbenjamin commented on #18505
In `Intersection.__new__` arg order is canonicalised using `ordered` with the key `Set._infimum_key`. The keys in this case are:
[code]
A key function should return members of a totally ordered set so it is a mistake to try and sort sets by infimum.

I think the fix is this:
[code]
That leads to a couple of failures in solveset:
[code]

[2020-01-30 12:33] oscarbenjamin commented on #18505
With the diff above the result for the original problem is:
[code]

[2020-01-30 12:35] oscarbenjamin commented on #18505
Actually the original problem was
[code]

[2020-01-30 16:25] Saanidhyavats commented on #18064
I will have a look into it.

[2020-01-30 16:32] #6589 closed

[2020-01-30 19:55] Psycho-Pirate commented on #16836
I would like to work on this issue. I think I will have to add a note in gotchas section regarding this?

[2020-01-30 19:56] smichr commented on #18516
Yes. Fails at live.sympy.org (running an older version of SymPy) but passes at repl.it running Python3 and SymPy 1.5.1.

[2020-01-30 19:56] gschintgen commented on #18516
I can't reproduce this either, neither with 1.5, nor master.
I'm closing this issue; feel free to re-open if you think there's more to it.

In that case, **please** copy & paste the exact input and output, including the traceback.
[code]

[2020-01-30 20:08] asmeurer commented on #18516
SymPy Live converts Python integers to SymPy integers automatically. This issue appears on SymPy master.

[code]

[2020-01-30 20:26] gschintgen commented on #18516
My message must have crossed @smichr 's comment. I didn't check SymPy Live.

[2020-01-30 20:41] nicoguaro commented on #11726
@oscarbenjamin, should this be closed? I tried it and it works now. Maybe also #11754.

[2020-01-30 20:43] oscarbenjamin commented on #11726
Yes, I guess it should have been closed before

[2020-01-30 20:43] #11726 closed

[2020-01-30 23:39] vainaijr opened #18520 "different result in jacobian before and after simplification"
before simplification,
![Screenshot (262)](https://user-images.githubusercontent.com/43755000/73499760-4e27a380-4404-11ea-9522-75d61d9137be.png)
![Screenshot (263)](https://user-images.githubusercontent.com/43755000/73499772-5ed81980-4404-11ea-878e-db26bc1e7a3c.png)
![Screenshot (264)](https://user-images.githubusercontent.com/43755000/73499800-6ac3db80-4404-11ea-82dd-accfc7abe6bb.png)

after simp

[2020-01-31 04:29] namannimmo10 commented on #18460
Wouldn't it be better if we write this module as a set of few functions?

Maybe that is better if we're trying to use other sympy methods such as `subs` etc..

[2020-01-31 09:00] Davide-sd opened #18521 "Parametric limit - incomplete result"
Say I would like to solve a parametric limit: in the following example, `alpha > 0` is the parameter.

[code]

If I execute the code I get the result `-oo`, which is arguably incorrect.

If I were to compute this limit by hand I would look at the numerator and conclude that `exp(2 * sp.sqrt(1 + x**2))` is of the same order of `exp(2*x)`, which dominates `x * exp(x)`. Similarly, looking at the deno

[2020-01-31 09:03] sylee957 commented on #18460
It can be different if it is rewritten as a set of functions, than writing to Basic would not be an issue for a while

But if anything new is going to be implemented as a class and that wraps around sympy types, then it's better to be inheriting `Basic` from the first place. For example, there were obvious needs of `subs`, `_repr_latex_` and they had to be redefined in any way for these models.

[2020-01-31 09:40] namannimmo10 commented on #18460
Alright, `TransferFunctionModel` and `StateSpaceModel` will subclass `Basic`.

Regarding the API for `StateSpaceModel`,
I think it would be better if we do [this](https://github.com/sympy/sympy/pull/9916#discussion_r39408652)... Like the way it is implemented [here](https://github.com/python-control/python-control/blob/66bee9d31c0e4913aa2bda614794845563a616d6/control/statesp.py#L124). What do you

[2020-01-31 10:39] sylee957 commented on #18460
What kind of features do you think that StateSpaceModel is lacking for python-control?

I think that most of the stuff already mirrors python-control.

[2020-01-31 10:47] albertz opened #18522 "multinomial expansion for symbolic power"
[code]
I would expect that `expr` becomes `Sum(...)` by the binomial theorem / binomial expansion. But it does not. Is this a bug? Or am I doing it wrong?

[2020-01-31 12:04] namannimmo10 commented on #18460
This would be a **symbolic version** of linear control systems. I guess that would be one of the reasons..
Most of the things mentioned in  Appendix A of [this thesis](https://www.mcs.anl.gov/~wozniak/papers/wozniak_mmath.pdf) (mentioned in GSoC ideas list) are there in python-control..

[2020-01-31 12:18] namannimmo10 commented on #18460
We can also do that if everyone suggests.

[2020-01-31 12:38] sylee957 commented on #18460
`StateSpaceModel` already uses sympy matrix, so it would still be able to support most of the symbolics.

However, there can be some differences of enabling symbolics partially in computation, or making the whole model symbolic.
Do you mean that it should be implemented as the latter way?

[2020-01-31 12:50] Jonty16117 commented on #18522
I'm working on this....👍

[2020-01-31 12:54] gschintgen commented on #18505
Thanks, somehow I had trouble isolating the culprits.

I had a closer look at `ordered()` and at `Set._infimum_key`. For reference purposes here is the current `_infimum_key` implementation:
https://github.com/sympy/sympy/blob/573204b0feddfbbf9e5da0033bd52985088dc56e/sympy/sets/sets.py#L76-L86
I note that it takes care to only allow infimum values that are `is_comparable` (i.e. that can be compute

[2020-01-31 12:56] namannimmo10 commented on #18460
I don't know how difficult that would turn out to be. Please refer [this comment](https://github.com/sympy/sympy/pull/17866#issuecomment-552115713).
But if that's what is required to differentiate it from python-control, then I'm willing to move forward.....
But for that, I need some guidance.

[2020-01-31 12:57] gschintgen commented on #18521
I'll add the reference that has also been pointed out on stackoverflow:
The general issue that this is related to is filed as #13312 .

[2020-01-31 13:17] albertz opened #18524 "Sum over Pow incorrectly gives nan in some cases"
Let
[code]

Then `Sum(Pow(x, i) * Pow(1 - y, n - i), (i, 1, n - 1)).subs(n, 3).subs(x, 1.).subs(y, 1.).doit()` gives `nan`.
If I change `subs(x, 1.)` to `subs(x, 1)`, it does not give `nan`.
I'm not exactly sure why. Probably some incorrect simplification or rewriting?

[2020-01-31 13:19] sylee957 commented on #18460
Often, `Basic` offers safe immutable design patterns and can resolve lots of issues regarding rewriting, printing, picklingor such that and I think that this is one of the reasons that most of the stuff should be implemented as `Basic` possible.

I think that converting the objects to the form that are compatible with `Basic` is simple.

1. I'd first try to define the constructor with `__new__` th

[2020-01-31 13:48] namannimmo10 commented on #18460
That is a great idea :)

Seems like there are so many benefits while we subclass `Basic`. I'll include all this in my proposal, and I'll also try to add some other methods which are there in python-control but not in #17866
For instance -- `isObservable`,  `RootLocusPlot`, `Nyquist` and `Bode` plots and some more that can be useful for engineering point of view.

Thanks for the suggestions, @sylee

[2020-01-31 13:50] sylee957 commented on #18460
Yes, but I'd try to name `is_observable`, `root_locus_plot`, `nyquist_plot`, `bode_plot` for naming consistency.

[2020-01-31 13:51] namannimmo10 commented on #18460
OK. I'll follow snake_case naming style.

[2020-01-31 14:01] #18507 closed

[2020-01-31 15:03] sylee957 commented on #18460
I'd also make anchor an additional symbol `s` in the arguments like `Basic.__new__(cls, A, B, C, D, s)` and `Basic.__new__(cls, num, denom, s)` if it can allow symbolic coefficients. (For numeric cases, `s` may not be needed like done in python-control, but for allowing symbolic coefficients, there should be a way to anchor the symbol `s` like done in mathematica.)

[2020-01-31 15:16] moorepants commented on #18460
Maybe s should be optional, i.e. `s=Symbol('s')`. The user will need to be able to access what s is in the transfer functions for certain downstream manipulations.

[2020-01-31 15:38] sylee957 commented on #18460
But is it a good idea to specify `s` as `Symbol` than `Dummy`, considering the cases where `s` is not meant to be anything but coefficients.
I'm even thinking of internally using a model with anonymous symbols.

[2020-01-31 15:52] smichr commented on #18522
duplicates #8871

[2020-01-31 15:52] #18522 closed

[2020-01-31 16:16] sylee957 opened #18525 "Permutation group triple product property"
My attempt to see the actual code of coppersmith-winograd algorithm seems like in vain, but I see that they had discovered some useful properties for group theory, like triple product property.
https://en.wikipedia.org/wiki/Triple_product_property

I'd present a naive way of computing here, and see if anyone else here wants to implement this stuff to permutation groups.

[code]

[2020-01-31 16:19] mohitacecode commented on #18525
I want to work on this? @sylee957

[2020-01-31 16:31] sylee957 commented on #18525
Yes, but the code may need some refinement.

[2020-01-31 16:40] mohitacecode commented on #18525
ok I will first give some time to the given link. should I refine this code?

[2020-01-31 16:52] sylee957 commented on #18525
I think that there are some, but not many matherials that can be useful.
https://arxiv.org/pdf/1104.5097.pdf
(It also has the same algorithm that I have made here.)

[2020-01-31 17:06] asmeurer commented on #18521
Even without #13312 being fixed this shouldn't give a result that isn't correct for all values of alpha.

[2020-01-31 17:07] smichr commented on #18496
Would a `Divisors` object make sense? `list(Divisors(8))` would give `[1. 2. 4. 8]` while `list(Divisors(8, 16))` would give `[(1, 2), (2, 8), (4, 8), (8, 16)]`.

[2020-01-31 17:16] asmeurer commented on #18496
What does the general Euclid solution look like with Divisors?

[2020-01-31 17:17] #7763 closed

[2020-01-31 17:19] mijo2 opened #18526 "sympify failing for a test case with input '2**(1/10**50)'"
```sympify``` is failing for particular cases.

```sympify('2**(1/10**10)')```, this example works.

But when I run ```sympify('2**(1/10**50)')```, following error message pops up:

[code]

More insights: When I tried the expression, till ```1/10**18``` works but if ```1/10**19``` or less is used, the above error message is generated. This kind of expression is used in ```test_evalf.py``` and that

[2020-01-31 17:51] moorepants commented on #18460
I still don't understand what a Dummy is. So I don't know. But this is similar to the Beam module where you formulate polynomials in the class methods and need access to the independent variable for further analysis. @oscarbenjamin gave some nice suggestions on how to handle this in an issue somewhere. I forget where...

[2020-01-31 17:52] moorepants commented on #18460
Here: https://github.com/sympy/sympy/pull/17714 is where he proposed ideas for dealing with the implicit variable for time in the physics vector package.

[2020-01-31 17:54] sachin-4099 commented on #18509
[code]
Will this suffice, that is the result remains partially unevaluated.

[2020-01-31 17:55] moorepants commented on #18460
I just read https://docs.sympy.org/1.5.1/modules/core.html?highlight=dummy#sympy.core.symbol.Dummy and see that it is a symbol that ensures uniqueness regardless of its string base. So my question is then what advantage does this give over a symbol in this case? Why is it important to make the independent variable of the polynomial unique?

[2020-01-31 17:59] sylee957 commented on #18526
Did you update the sympy with the lastest master?
I see #18374 had been fixed recently

[2020-01-31 18:16] mijo2 commented on #18526
@sylee957 yes with the latest master it is working well. I didn't fetch the upstream sympy from my own forked repository. I am sorry. I am closing this issue.

[2020-01-31 18:16] #18526 closed

[2020-01-31 19:02] sylee957 commented on #18460
It's because I'm thinking of defining the equalities between each system models not to depend on the names of the variables.
But of course, it doesn't have to be mandatory.

[2020-01-31 19:35] nicoguaro commented on #11282
I have tested the new version with different perturbation analyses and it seems to be working properly now.

[2020-01-31 21:15] Davide-sd commented on #13312
Just happen to run this limit on Sympy 1.5.1:

[code]

Output: `exp(-oo*alpha)`

Was expecting 1.

[2020-01-31 21:30] asmeurer commented on #13312
Setting zero=True on a symbol won't always work, compared to just using `0` directly. The issue is that even with `alpha = Symbol('alpha', real=True)`, `exp(-oo*alpha)` is not valid for alpha=0 (at least it would give nan instead of an incorrect result). Once we have limit that can return Piecewise, it might be better to split out the alpha=0 case. Actually, a three-way piecewise with 0, 1, and oo

[2020-01-31 22:40] oscarbenjamin commented on #18505
That sounds reasonable. Another possibility is to use `cmp_to_key` and define a `cmp` that doesn't raise.

[2020-01-31 22:43] oscarbenjamin commented on #18509
Ideally it would evaluate but this is an improvement. An unevaluated result is always better than an incorrect evaluation.

[2020-01-31 23:26] meganly opened #18527 "integrate((cos(x)/(4+(sin(x))**2)), manual=True) gives the wrong answer"
Integrating with manual=True incorrectly adds an absolute value sign to the answer.
[code]

[2020-02-01 00:00] moorepants commented on #18460
I see. That could be valuable.

[2020-02-01 02:01] asmeurer commented on #18527
The real=True is important. Without it gives the right answer.

[2020-02-01 04:54] Chanakya-Ekbote commented on #18455
So how do I resolve this? Should I bypass the current backend or create a new function for plotting rational functions?

[2020-02-01 07:59] Upabjojr commented on #18435
OK, let's give a try to scalar heads, if you like.

IIRC, there is some kind of Taylor expansion on the exponential of transitional expressions to derive Feynman diagrams. At least one of the ways to derive them.

[2020-02-01 09:33] namannimmo10 commented on #16500
There is no `_eval_is_real` method in `Mul` class. Maybe adding such method will fix this issue..

[2020-02-01 11:15] smichr commented on #17823
The following diff passes core doctests, the subs suite and the OP issue:
[code]

[2020-02-01 11:31] smichr commented on #18527
In `eval_u` a print statement reveals the following substitutions:
[code]
And with real `x`, that last one gives `atan(Abs(sin(x))/2)/2`

[2020-02-01 11:57] sachin-4099 commented on #18509
So shall I just start by committing the minor change pointed out by @skirpichev

[2020-02-01 12:04] oscarbenjamin opened #18529 "DimensionSystem arg handling inconsistency"
@Upabjojr there is a problem in `DimensionSystem.__new__` that means it does not satisfy the `obj == obj.func(*obj.args)` invariant. Demo:
[code]
Output:
[code]
(Note velocity rather than Dimension(velocity).)

_Originally posted by @oscarbenjamin in https://github.com/sympy/sympy/pull/18513#issuecomment-580946465_

[2020-02-01 12:07] oscarbenjamin commented on #18529
This is happening somewhere in `DimensionSystem.__new__`:
https://github.com/sympy/sympy/blob/74227f900b05009d4eed62e34a166228788a32ca/sympy/physics/units/dimensions.py#L331

I took a look but I can't really understand what the arg-handling there is supposed to do.

[2020-02-01 12:46] oscarbenjamin commented on #18509
We should not copy changes from @skirpichev's fork for copyright reasons and also because I believe that in that fork the meanings of the assumptions is different from here.

[2020-02-01 12:55] oscarbenjamin commented on #18509
I have an old PR #16403 that tried to fix assumptions for `Pow`. That lead to a rabbit-hole of introducing `extended_real` etc and changing finite handling everywhere. The original PR is probably not usable now as the meanings of everything have changed since then. Probably it would be easier to fix those problems now.

To fix this particular issue we just need to find the place that gives the wro

[2020-02-01 13:24] oscarbenjamin commented on #18509
This fixes the wrong result:
[code]

[2020-02-01 13:44] sylee957 opened #18530 "Add new property for normal matrix"
[code]

I've found an additional lemma that can be useful for finding matrix diagonalizability, without computing the eigenvectors.
I'm thinking of adding this as a separate property, and make use of this inside `is_diagonalizable` as well.

[2020-02-01 13:45] sachin-4099 commented on #18509
[code]
This change is producing this result only

[2020-02-01 13:45] #18514 closed

[2020-02-01 13:46] oscarbenjamin commented on #18530
Could this be a function rather than a property?

[2020-02-01 13:49] sylee957 commented on #18520
Do you have the full example how `output` had looked like?
I don't think that your example reveals much information about how`output` was

[2020-02-01 13:52] Jonty16117 commented on #18524
ok, so let's iterate the problems in your equation one by one:
1. You didn't mention the value of **"n"** if you are trying to get a constant result
2. **"1."** in **"subs(x, 1.)"** and **"subs(y, 1.)"** is not valid since it is neither a float nor an integer, so here is this mistake.
3. If you are not trying to find the constant answer to this problem, let's say you want to simplify the result in

[2020-02-01 13:57] Jonty16117 commented on #18530
i think it could be both

[2020-02-01 14:22] albertz commented on #18524
1. But I have `subs(n, 3)` in there. Or what do you mean?
2. I don't understand. `1.` is a float. What exactly is wrong?
3. I want to find the constant answer here in this example.

[2020-02-01 14:24] Jonty16117 commented on #18500
It is not correct technically but, there's a reason for it. It is explained in sympy docs as:

expr | value | reason
-- | -- | --
z**0 | 1 | Although arguments over 0**0 exist, see [2].
z**1 | z |  
(-oo)**(-1) | 0 |  
(-1)**-1 | -1 |  
S.Zero**-1 | zoo | This is not strictly true, as 0**-1 may be undefined, but is convenient in some contexts where the base is assumed to be positive.
1**-1 | 1 |  

[2020-02-01 14:59] vainaijr commented on #18520
output contain only one element
![Screenshot (279)](https://user-images.githubusercontent.com/43755000/73594150-cef2b680-454e-11ea-875a-07bbb3c45cae.png)

[2020-02-01 15:13] oscarbenjamin commented on #18524
Here is a simpler reproducer:
[code]

[2020-02-01 15:14] oscarbenjamin commented on #18524
I'm guessing that there's a `0/0` somewhere in the calculation.

[2020-02-01 15:28] abhinav28071999 commented on #18530
I can work on this

[2020-02-01 15:34] Smit-create commented on #18530
I would like to work on it.

[2020-02-01 16:44] sylee957 commented on #18524
[code]
The closed-form solution gives
![image](https://user-images.githubusercontent.com/34944973/73595527-1122f480-455d-11ea-9fae-db3929ada09f.png)
Even though
`Sum(Pow(x, i) * Pow(1-y, n-i), (i, 1, n-1)).subs(n, 3).doit()`gives a better result
![image](https://user-images.githubusercontent.com/34944973/73595543-59421700-455d-11ea-8ec3-83a2666ffa42.png)
that doesn't require the division

NaN can

[2020-02-01 16:51] oscarbenjamin commented on #18530
We should think about whether `is_normal_matrix` makes sense for matrix expressions. If so perhaps it would be better to use this property as part of evaluation rather than use evaluation to compute this property. For example there could be some canonicalisation in `MatrixMul` that understands that this product can be reordered and then that could be used in order to compute `Eq(M1, M2)` rather th

[2020-02-01 17:13] proy87 opened #18531 "apart: hangs or takes too long"
Usin live.sympy.org it appears that `((x**2 + 1)**3/((x - 1)**2*(x + 1)**2*(-x**2 + 2*x + 1)*(x**2 + 2*x - 1))).apart(x=x,extension={sqrt(2)})` hangs.

[2020-02-01 18:51] sylee957 commented on #18530
I think that adding the properties as loose functions for matrix module is not 'traditional' (unlike the things done in `ntheory` module), so I'd address these

1. Should it really return non-sympified output? What's the advantage of returning bare `True, False, None` than returning sympy formal logic objects? (Which can be more versatile that it can even represent some undetermined relational pai

[2020-02-01 19:42] oscarbenjamin commented on #18530
In the old assumptions the purpose of fuzzy bool properties is to do quick checks during evaluation. The idea is that the properties should be cheap and should return None if there is no cheap way to get a more definitive answer. Because the `is_*` properties function at a level below evaluation (evaluation uses them when deciding what to do) they should not normally evaluate anything. This is why

[2020-02-01 20:22] sylee957 commented on #18530
Then, do you mean that it's better to use `fuzzy_and([(a - b).is_zero, ...)` than `Eq` if it is made as explicit matrix property?
For matrix expressions, I see that there are some obvious cases like `OneMatrix` where this should return `True` without computing anything.

[2020-02-01 20:26] m93a commented on #17794
I'm not sure I follow all the comments… The current consensus is that not only `subs` should allow the substitution of bound Dummy variables, but also `==` should mark as equal two expressions with different dummies but otherwise identical. Is that correct?

I would really appreciate at least the `subs` support: I want to analyze the properties of the vector field `f(x**2 + y**2 + z**2) * (i+j+k)`