[2019-02-17 13:34] oscarbenjamin commented on #16011
It also works in the lates release (1.3):
[code]
Which version are you using?

[2019-02-17 13:47] proy87 commented on #16011
I tested it on sympy.live

[2019-02-17 13:51] ShubhamKJha commented on #16007
Shouldn't the end result be the same for both the cases. ```sin(2)``` and ```sin(2.2)``` behaves differently but both can be part of a symbolic expression.

[2019-02-17 14:10] oscargus commented on #16007
Well, the current approach is that if the user starts using (Python) floats then things that can be evaluated are evaluated, rather than representing the float symbolically.

[2019-02-17 14:11] oscargus commented on #16007
One can always use `sin(2.2, evaluate=False)` if that is not wanted.

[2019-02-17 14:18] oscargus commented on #10598
In the current version it produces `ImageSet(Lambda(_n, 2*_n*pi), Integers)` so something has happened. Not sure if it is enough to close it.

(There are other cases with different types of Unions of ImageSets that can be simplified further, which is why I stumbled upon this.)

[2019-02-17 14:21] oscargus commented on #10033
Or even better `ImageSet(Lambda(_n, _n*pi), S.Integers)`

This is one of the simplifications that I was talking about elsewhere.

[2019-02-17 14:28] shubhamabhang77 commented on #15877
In latex printer, If we put anything other in ```mul_symbol``` for eg. ```mul_symbol='blah blah' ``` then it's printing that same value in between two variables.

[code]

[2019-02-17 14:34] oscargus commented on #15877
That is another approach, yes. Maybe you should at least check that it is a string and throw a `TypeError` if not. In `from sympy.core.compatibility import string_types`,  `isinstance(argument, string_types)` is the way to test this that works in both Python 2.7 and 3.X.

[2019-02-17 14:36] #15988 closed

[2019-02-17 14:38] #15353 closed

[2019-02-17 14:39] #15718 closed

[2019-02-17 15:14] ShubhamKJha commented on #16007
Yeah, it is right. I am just suggesting that for an end user it would have been better if ```evaluate=False``` by default.
[code]
The user might have expected a pure symbolic result.

[2019-02-17 16:45] ShubhamKJha commented on #15881
I would like to work on this issue. Is there any lead on the way it should be worked upon?

[2019-02-17 16:52] nikkigabbard commented on #12134
I'd like to work on this issue!

[2019-02-17 17:06] sroopsai commented on #16007
Yeah, end user should get either a pure symbolic result or a completely evaluated result.
End user obviously get evaluated result if the argument substituted with a float value, but does not get an evaluated value if argument substituted with an integral value.
![screenshot from 2019-02-17 22-19-01](https://user-images.githubusercontent.com/38998304/52916159-211cd680-3302-11e9-860a-25aeefa6a6c6.pn

[2019-02-17 17:29] oscargus commented on #16007
Imagine how confusing it would be and how many questions there will be for `Add(x, -x, evaluate=False)` i.e., `x-x`... All expressions will explode without evaluate.

[2019-02-17 17:48] oscargus commented on #16007
You can try it out in a program by wrapping it with:
[code]
Not sure if one can set it as default in the interactive shell.

[2019-02-17 17:53] ShubhamKJha commented on #16007
@oscargus  I get your point. But I didn't mean to stop evaluation of all the expressions. I just suggested to let ``sin`` or ```cos``` or any such function to be left unevaluated unless required. Leaving the symbolic form of ```sin``` or ```cos``` would be more representative. And it is from my perspective that I felt while working on SymPy.

[2019-02-17 18:01] oscarbenjamin commented on #16011
Does it only happen sometimes?

I just tried it on [https://live.sympy.org/](https://live.sympy.org/) and it worked fine.

[2019-02-17 18:05] ShubhamKJha commented on #16007
[code]
It doesn't work. Anyways I am not saying it's a necessity. It's just what might be expected by new users as a default.

[2019-02-17 18:07] oscarbenjamin commented on #15881
This is mostly done in #15992

[2019-02-17 18:15] ShubhamKJha commented on #16007
[code]
It works @oscargus
It's just what might be expected by new users as a default.

[2019-02-17 18:17] proy87 commented on #16011
Looks like the error is random.

expr.as_independent(symbol, as_Add=False)
  File "/usr/local/lib/python2.7/dist-packages/sympy/core/expr.py", line 1689, in as_independent
    if self.is_zero:
  File "/usr/local/lib/python2.7/dist-packages/sympy/core/assumptions.py", line 248, in getit
    return _ask(fact, self)
  File "/usr/local/lib/python2.7/dist-packages/sympy/core/assumptions.py", line 303,

[2019-02-17 18:25] ShubhamKJha commented on #15881
Thanks @oscarbenjamin

[2019-02-17 18:42] shubhamabhang77 commented on #15877
I have completed ```mul_symbol``` and ```ln_notation``` flag. Should I create a new pull request or choose next flag and then create it after all flags?

[2019-02-17 18:54] oscarbenjamin commented on #16007
The purpose of symbolic results is to be exact without e.g. rounding error. There's no way to achieve that once the user starts using floats. The number 2.2 already has a rounding error because Python converts it to a float with the exact value:
[code]
That happens before the number reaches SymPy. In fact it happens immediately as the Python interpreter parses the characters `'2.2'` in your .py fi

[2019-02-17 19:04] oscarbenjamin commented on #16011
Is Sympy live using Python 2.7? That should be updated...

If it is random then it most likely depends on dict/set ordering somewhere. That's difficult to debug.

How many times do you need to try it to see the error? Are you restarting SymPy between attempts or running it repeatedly within the same shell?

[2019-02-17 19:47] proy87 commented on #16011
from sympy.core.cache import clear_cache
f=sqrt (144*x**6 + 408*x**3 + 290)
clear_cache()
f = f.replace(x, Symbol('x', positive=True))
clear_cache()
powsimp(f, deep=True, force=True)

[2019-02-17 19:55] oscarbenjamin commented on #16011
Okay now I can reproduce this but only on Python 2.7:
[code]

[2019-02-17 19:58] ShubhamKJha commented on #16007
@oscarbenjamin I know floating point rounding errors are really difficult to handle. Now I get your point and understand why it has been left this way. In such a case, nothing can be done in this regard. It would add more ambiguity. Thanks for pointing out.

[2019-02-17 20:01] mpjuers commented on #15969
Does anyone know of a workaround for this?

[2019-02-17 20:17] oscargus commented on #15877
It is really up to you. Probably there should be one release note entry for each anyway, so it doesn't really matter. But feel free to create one if you want to. Always good to get the code in.

[2019-02-17 20:28] ShubhamKJha commented on #15707
I would like to work on it.

[2019-02-17 20:40] oscarbenjamin commented on #15707
Great! The thing it's not entirely clear what is to be done here.

I also find it annoying that `dsolve` sometimes returns a list and sometimes a single solution. However it's been that way for some time and 99% of the time it returns a single solution so that's what most users are expecting. We can't change that - it's too big a break in backwards compatibility.

@asmeurer's suggestion to use a f

[2019-02-17 20:54] ShubhamKJha commented on #15707
Change of docstrings seems to be more of a useful hack, given that users might have used dsolve for both a single solution and a list of solutions. I will look into the implementation of ```dsolve``` and check for better option.

[2019-02-17 21:19] oscargus opened #16014 "Inherit properties for integral variables"
Consider the following code.

https://github.com/sympy/sympy/blob/c6726a1e221d437bb2f56a86df75b9b7fab2bf06/sympy/utilities/tests/test_wester.py#L2571-L2577

The comments are not correct anymore, no errors are raised. However, with the default x and y (`from sympy.abc import x, y`) the result is, after a few seconds:
![image](https://user-images.githubusercontent.com/8114497/52919296-2c233700-3301-

[2019-02-17 21:39] oscarbenjamin opened #16015 "Fix failing checkodesol examples"
We need to figure out the cases in the ODE tests where checkodesol doesn't work.

The tests in the ode module use `checkodesol` to check that the tested results are correct. So most tests there are of the form
[code]

The idea is that dsolve should give the solution of the ODE and checkodesol should verify that solution. So if everything is good then both those asserts will work. You can see examp

[2019-02-18 04:01] sroopsai commented on #16007
K,I got your point @oscarbenjamin and now I can understand why it has been left this way.

[2019-02-18 04:01] shubhamabhang77 commented on #15877
I have created the pull request. Take a look at it.

[2019-02-18 06:41] #15977 closed

[2019-02-18 07:15] jksuom commented on #15969
You could try changing `return f/g` in `ratsimp` to `return Mul(f, 1/g, evaluate=False)`.

[2019-02-18 07:28] proy87 opened #16018 "Is this correct?"
`Pow((2**(1/2)/2)**(1/6), -1 ,evaluate=False).match(a+b*I)` returns `{a_: -2**(1/12) + 1/(2**(1/12)*2**(5/6)/2), b_: -2**(1/12)*I}` but input is real number.

[2019-02-18 07:38] jksuom commented on #16018
How are `a` and `b` defined? With `exclude=[I]`?

[2019-02-18 07:44] TobiSchluter opened #16019 "Overeager simplification"
I'm not sure if this is intended, but it certainly is unexpected and I didn't see it in the list of pitfalls. I ran into this when I wanted to modify expressions for output as source code:

[code]
gives the in my opinion overeager result:
[code]
Now imagine modifying a long expression where you want to replace all occurences of pow :-)

The same happens for arbitrary exponents:
[code]
gives:
[code

[2019-02-18 07:45] proy87 commented on #16018
No, Just wilds.

[2019-02-18 08:04] jksuom commented on #16018
There is no unique result, if `I` can be included in `a` and `b`.

[2019-02-18 08:57] proy87 commented on #16018
OK. Thank you.

[2019-02-18 08:57] #16018 closed

[2019-02-18 09:23] Upabjojr commented on #15650
if you can find a way to solve this, feel free to open a PR.

[2019-02-18 10:18] oscarbenjamin commented on #15920
Actually it looks to me like #15923 has stalled. The proper fix is probably as described in [this comment](https://github.com/sympy/sympy/pull/15923#issuecomment-463236979) although it would need more tests to see that it does the right thing in different cases.

[2019-02-18 10:59] Guvvala-Prasanth-Reddy commented on #15974
Hi @sashank27 !  are you still  working on this if not I will take it?

[2019-02-18 13:14] jksuom commented on #15984
[This piece of code](https://github.com/sympy/sympy/blob/master/sympy/series/limits.py#L250-L254) should be put in a try-except block. The `ValueError`  should be caught and the execution should continue to let `gruntz` handle the limit.

[2019-02-18 13:41] oscargus commented on #15974
For the information of both @sashank27 and @Guvvala-Prasanth-Reddy : Both the PRs mentioned above are now merged, so not clear how to solve the `Basic` printing problem, if it still exists. I guess one will need to find a new class that also falls back on Basic and provides an error, so maybe this is not the highest priority.

For the actual MatrixElement printer have a look at the `_print_Symbol`

[2019-02-18 15:48] shubhamabhang77 commented on #15877
What is the difference between ```fold_frac_powers``` and ```fold_short_frac``` ?

[2019-02-18 16:04] divyanshu132 commented on #13605
@jksuom @smichr please guide me how to approach this issue!!

[2019-02-18 17:40] divyanshu132 commented on #15433
@oscarbenjamin can you please explain me what actually needs to be done, I would like to work on this.

[2019-02-18 18:03] oscarbenjamin commented on #15433
I think that the repr for `NonElementaryIntegral` should be changed. I don't know exactly where that's defined though. Currently we have:
[code]
I'd like to see instead:
[code]
The general principle of repr is that if two objects have the same repr then they should be equal. If `NonElementaryIntegral` shouldn't compare equal to `Integral` then they should have different `repr`s.

[2019-02-18 18:43] oscargus commented on #15877
`fold_frac_powers` is just for powers so that should be quite straightforward.

`fold_short_frac` is for any frac. I have not tried it but there seems to some logic involved when to use it, even if the flag is set. Should be possible to copy that from LaTeX or even better extract a method for determining if an expression is short enough  (maybe there already is one).

[2019-02-18 18:47] divyanshu132 commented on #15433
I think `repr()` initiates `class Printer` in `sympy/printing/printer.py`. So, the required changes should be made in `def _print` and `def doprint` in `class Printer`.
@oscarbenjamin what do you think!!

[2019-02-18 18:48] asmeurer commented on #13605
I'm not sure if there is a infrastructure right now for simplifying inequalities. We should work on building that out first. Clearly "x > Max(a, b, c)` should reduce to "x > a and x > b and x > c".

[2019-02-18 19:37] oscarbenjamin commented on #15433
I don't know since I haven't looked at that part of the code yet. If you open a PR then others can take a look.

[2019-02-18 19:59] #15701 closed

[2019-02-18 22:44] #15999 closed

[2019-02-19 00:31] shubhamabhang77 commented on #15877
What changes are expected in ```fold_frac_powers``` and in ```fold_short_frac``` ? I am not exactly getting it.

[2019-02-19 01:15] nicoguaro commented on #11282
I don't think that it is working. I tried with the following

[code]

and get

[code]

[2019-02-19 05:16] ShubhamKJha commented on #15707
@asmeurer It appears that some of the `solvefunc` functions are returning `set`.

[code]
If `set `is unwanted I would try to return `list `values or do you have any suggestions on what should be the standard return type.

[2019-02-19 10:38] oscarbenjamin commented on #15707
So that's a system of ODEs. As I said above some of those cases might be inconsistent but that should be fixed. That case is different because unlike the single ODE case we have to provide a container of some sort because the solution will never be a single eq. It could be a list or a set but we should make it consistent.

In future can you provide code that can be easily copied and tests? E.g.:
[

[2019-02-19 10:45] ShubhamKJha commented on #15707
I will.

I am on it. Just there are so many.
One thing that came to my mind was to have a Data Structure(class) that can give individual results as well as lists (it has `getitem `method) So a standard output would be resulted.

[2019-02-19 11:51] oscarbenjamin commented on #15707
I don't think we want to change the return type except as needed to make it consistent. If most cases currently return lists and a couple return sets then we should change it so that they all return lists.

Consistency is more important than the actual return type here. If a user expects to be able to do:
[code]
then their code will break if dsolve unexpectedly returns a set.

You should also chec

[2019-02-19 14:06] rpep commented on #14559
I also just came across this issue, it doesn't seem to be resolved. It's quite tricky when you try to convert to code with a printer, because you have to handle the case in a non-straightforward way:

[code]

[2019-02-19 15:24] nileshpatra opened #16026 "exp(log(2**(log(exp(x))))) returns 2**log(exp(x)) , instead of 2**x i.e. a fully simplified expression"
[code]
also tried for natural log for base ambiguity
[code]

[2019-02-19 15:53] FrackeR011 commented on #15987
ping @jksuom

[2019-02-19 16:27] nicoguaro commented on #11282
Note that the solver create 4 parameters instead of the 2 expected.

[2019-02-19 16:41] jksuom commented on #16026
It is not simplified because `log` is a multivalued function. `log(exp(x))` may differ from `x` by a multiple of `2*pi*I`.

[2019-02-19 18:12] jksuom commented on #15987
It seems to me that `express` was designed to work with rectilinear coordinate systems only.

[2019-02-19 18:16] Mantabit commented on #15987
True. As far as I can tell, there's also no way to get the unit vectors of a spherical coordinate system which would be required to transform a vectorial expression.

[2019-02-19 18:53] nileshpatra commented on #16026
@jksuom , got it , thanks :+1:

[2019-02-19 21:15] asmeurer commented on #16026
You can create `x` with the assumption `real=True` to make `log(exp(x))` reduce to `x`.

[2019-02-19 21:15] #16026 closed

[2019-02-20 07:38] sylee957 opened #16029 "Development Tips Tutorial"
There's a tutorial in
https://docs.sympy.org/dev/python-comparisons.html
which is using old python code.

I have made changes as below to verify the documentation
[code]

But it seems like not working anymore, after my test in Python 3.6
[code]

[2019-02-20 08:24] truongkhanh opened #16030 "RuntimeError: cannot release un-acquired lock"
I have multi threads which requires checking 2 segments whether they are `disjoint`. However, it keeps having exception.

At line `criss_cross = np.array([not line_select.is_disjoint(line) for line in line_match])`, `line_select` is a segment, `line_match` is a list of segments. When I remove `sympy` and use our home-made disjoint function, no exception happens. I could not figure out why `sympy`

[2019-02-20 08:30] oscargus commented on #15877
With `fold_frac_powers` = True, the fraction is not written "on top" of each other but as 1/2.

In MathML, it turns out to be quite simple: `<msup><mi>x</mi><mfrac bevelled="true"><mn>1</mn><mn>2</mn></mfrac></msup>` instead of `<msup><mi>x</mi><mfrac><mn>1</mn><mn>2</mn></mfrac></msup>`. So if `fold_frac_powers`=True, set the attibute `bevelled` in the `mfrac`tag to `true`.

For `fold_short_frac`

[2019-02-20 10:37] jksuom commented on #16030
It may be possible that your threading will interact with SymPy's lru_cache. You could probably check that by running SymPy with `SYMPY_USE_CACHE=no` in the environment.

[2019-02-20 12:58] oscargus opened #16031 "Simplification of solution sets in solveset with trignometric equations"
Solving `solveset_real(sin(x) - cos(x), x)` gives
[code]
![image](https://user-images.githubusercontent.com/8114497/53093299-52222480-3517-11e9-9213-f9a4b6218bc1.png)

Clearly this can be simplified to:
[code]
![image](https://user-images.githubusercontent.com/8114497/53093282-4898bc80-3517-11e9-8f4f-d9e50ec8620b.png)

Also, sometimes one part of a solution looks like
[code]
![image](https://user-

[2019-02-20 15:32] Yathartha22 commented on #16031
Some work has been done in this regard. Ref: #12011 and #11188

[2019-02-20 17:17] shubhamabhang77 commented on #15877
[code]
I have done this. Is this correct for ```fold_short_frac```?

[2019-02-20 17:30] oscargus commented on #16031
Thanks for pointing it out @Yathartha22 !

Seems far superior to/more general than my initial attempt in #16033 but then it seems like they have stalled.

[2019-02-20 17:47] oscargus commented on #7914
`solveset(sin(2*x)*cos(x)+cos(2*x)*sin(x)- 1, x)` now gives
![image](https://user-images.githubusercontent.com/8114497/53112579-d5f00700-353f-11e9-8496-d0491e6274e8.png)

which seems to correspond with Wolfram Alpha. (At least it gives that using the #16033 PR...)

[2019-02-20 18:16] shubhamabhang77 commented on #15974
Is there anything working on this right now? I would like to work on this issue.

[2019-02-20 19:15] woodscn commented on #14399
I do think this would be a good idea, and I'm disappointed that the PR got dropped. Any chance this will be resurrected?

[2019-02-20 21:11] dandiez opened #16034 "Wiki: Development Workflow rebase setting not found and broken links"
Hello,

I'm getting started with the Development Workflow wiki and I could not find in Github GUI the setting for "sync does rebase" . Does anyone know if that setting is still relevant for the current Github GUI version and where to find it?
I was also trying to do the "Set up SSH keys", however the links seem to be broken.
Does anyone know where I could look to get started?

Is it ok to just edi

[2019-02-21 13:02] Guvvala-Prasanth-Reddy commented on #15700
@asmeurer  I think using an API for fonts would solve the problem. If it's still open I will be grateful to work on this.

[2019-02-21 15:33] oscargus commented on #15877
It is hard to say. I compared it the the LaTeX output, but there it seems like they never fold if there is a power in the denominator (see line 472).

Trying with x/y instead gives `\frac{x}{y}` for False, rendering like
![image](https://user-images.githubusercontent.com/8114497/53180381-c4693680-35f5-11e9-9576-0dd2ceb9c8b9.png)
while True simply gives `x / y`

Either way, it seems like 32 is not

[2019-02-21 17:42] shubhamabhang77 commented on #15877
[code]
It's giving this.

For 32 given above, Will I have to add bevelled attribute or it is fully wrong?

Basically "short" means less terms in the denominator, maybe less than 3 or 4, right?

[2019-02-21 17:46] shubhamabhang77 commented on #15877
[code]
What about this ```fold_frac_powers```?

[2019-02-21 19:45] #15509 closed

[2019-02-21 20:18] oscargus commented on #15877
`fold_frac_powers` is exactly like I expects. Except that it apparently should be `"true"`, so a small t.

For 32 I think that it should either render as 31 (if you decided to exclude denominators with powers) or use bevelled. I think that it is OK to render with powers, but maybe for a numerator of 1 (as in example 31 and 32), it is still better to use the rendering in 31. For 34 and 35 it is cle

[2019-02-21 20:31] #15385 closed

[2019-02-21 20:31] #15526 closed

[2019-02-21 20:42] oscargus commented on #15974
@shubhamabhang77 I do not know the status of @sashank27 and @Guvvala-Prasanth-Reddy .

However, if you want to work on more MathML stuff, I can recommend #6013 but for MathML (should be remapping lerchphi to the correct Phi-sign, polylog prints as zeta now, but `polylog(s, z)` should print as Li_s(z) (where _s is sub-s), see https://en.wikipedia.org/wiki/Polylogarithm ).
![image](https://user-imag

[2019-02-21 21:49] oscargus opened #16036 "Functions that require support in the MathML presentation printer"
The following functions/classes are currently not supported in the MathML presentation printer. Where applicable there is a LaTeX rendering of the expected output, possibly correct MathML code (note the different tags for numbers and named variables etc, which must be considered in the implementation) and maybe some more information. Note that the MathML printer will print __something__, typically

[2019-02-21 22:12] asmeurer commented on #2750
This works in master. We just need to make sure it is tested.

[2019-02-21 22:21] asmeurer commented on #7842
Latest situation in master:

[code]

The first should be easy to fix by defining `_eval_Eq` on MatExpr. It would need to unconditionally return an Equality when it cannot return a bool, to avoid the code in the Eq constructor that does `lhs - rhs`. The `_eval_Eq` would be something like

[code]

`Eq(A[1,0], B[1, 0])` works so we should make sure it is tested, so it doesn't break again.

[2019-02-21 22:24] asmeurer commented on #9817
The `simplify` bit works in master, so a test should be added for it.

The `as_explicit` thing should be easy to fix (remove the expand keyword from the `_entry` call).

[2019-02-21 23:43] ngharrison opened #16038 "solve_poly_system works with integers but not floats"
My issue looks like it relates to #6785 but that was closed about 5 years. It also might be have something to do with to #11179, #12594, and #12345.

Here is a simple example:

[code]

The only difference from the first to the second is the inclusion of a floating point number (2.0). As shown in the comments, sols1 contains the two real solutions (though no complex ones), and sols2 is empty. Unles

[2019-02-21 23:53] asmeurer commented on #11948
This works in master.

[code]

So a test should be added for it.

I also tested and it worked in SymPy 1.0 and 1.1, so maybe this wasn't the exact issue. At any rate, the problem as described here should be solved once https://github.com/sympy/sympy/pull/15121 is merged, if it still does exist.

[2019-02-22 03:59] nileshpatra commented on #2750
Can I work on this ?

[2019-02-22 04:01] nileshpatra commented on #9817
Can I work on it? Could I be guided as to how to solve it?

[2019-02-22 04:42] asmeurer commented on #2750
No need to ask. Just submit a PR and paste the link here when it is open.

[2019-02-22 05:03] nileshpatra commented on #2750
@asmeurer , please guide me onto solving it

[2019-02-22 05:23] shubhamabhang77 commented on #15877
So I should add bevelled attribute to mfrac and rest as it is in 32??
And for your example, bevelled attribute shouldn't be there because of long expression in denominator, right??  are you saying these two changes ?

[2019-02-22 06:53] truongkhanh commented on #16030
Thanks for your suggestion. The exception no longer happens. Great!

[2019-02-22 07:35] jksuom commented on #16038
`solve_poly_system` is based on `groebner` that does not work with polynomials having floating point coefficients. Those can be removed by applying `nsimplify` with `rational=True` to each polynomial before proceeding with `solve_poly_system`.

[2019-02-22 09:38] oscarbenjamin commented on #16030
So is this a bug in the lru_cache? Would that be a SymPy bug or is it actually using the stdlib lru_cache?

[2019-02-22 10:24] jksuom commented on #16030
No, I don't think so. Locks are used there in a very basic way.

[2019-02-22 14:00] #2750 closed

[2019-02-22 15:22] divyanshu132 commented on #13605
In place of this in ` Max `:
[code]
Can we do something like this
[code]

Using this, above equation will evaluate as ` True `.

[2019-02-22 16:47] jhanwar opened #16045 "isprime gives wrong result on a/b values"
`isprime(14/2)` returns `false`. I think it is because `isinstance(n, (Float, float))` returns `true` when n = 14/2

[2019-02-22 17:29] oscargus commented on #16045
Correct. Try `isprime(14/S(2))` which makes it a `Rational` of integers or `isprime(14//2)` (in Python 3.X) which uses integer division.

This is a Python issue as there is no way for Sympy to avoid evaluation of 14/2 returning a Float.

[2019-02-22 18:16] asmeurer commented on #16045
The logic for this comes from `as_int`, in sympy.core.compatibility. It allows floats to be converted to integers as long as they are equal.  This is somewhat surprising to me. I had thought it failed on floats.

[2019-02-22 18:31] smichr commented on #16045
it could have a strict option or else always reject floats, only allowing int or Integer to pass

[2019-02-22 18:34] asmeurer commented on #16045
I guess accepting floats was intended when it was designed. It's probably fine, although doing so for floats larger than 1e15 is probably a bad idea.

[code]

[2019-02-22 18:49] #15881 closed

[2019-02-22 18:58] XtremeGood commented on #15881
Am I a part of this merge?

[2019-02-22 19:01] asmeurer commented on #15881
Yes, if you look the first commit on that pull request is your commit.

[2019-02-22 20:09] #15982 closed

[2019-02-22 20:17] asmeurer commented on #15982
I think it's a good change. The `1 - x` thing has bothered me before. The only potential concern I can think of is that these special orders could fail to be transitive. I don't know if that would ever cause an issue. One could always switch to default_sort_key if it is.

[2019-02-22 20:20] asmeurer commented on #15982
I guess technically this order isn't transitive. We have `1 > -x**2` and `-x**2 > x`, but `x > 1`. For printing it isn't an issue (actually that's the whole point), but for other uses I don't know. Since nothing apparently broke in the tests I guess it isn't a problem.

Actually we already have a precedent for this, which is that order terms (like O(x**2)) reverse the order of polynomials. So I th

[2019-02-22 20:27] nickovs commented on #15982
Since this only changes the ordering for printing and print-like activities it should never break the mathematises, only the representation. The order in the underlying `Add` object remains the same so any manipulation that depends on the old order should be totally unaffected.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-22 20:33] asmeurer commented on #16007
Is there a valid issue here or should this be closed?

Note that `==` does symbolic equality, not mathematical equality. `sin(2) == sin(2.0)` gives False because they are not equal structurally (the left-hand side is a `sin` object and the right-hand side is a `Float`).

[2019-02-22 20:37] asmeurer commented on #16029
IMO dev guides like that should go on the wiki, not the docs.

This guide in particular is very Python 2 oriented. Things are much simpler now in Python 3. `__cmp__` is no longer used.

Furthermore, I believe this guide was written to help with class ordering, which [we are trying to remove](https://github.com/sympy/sympy/pull/13059).

There are some useful things that could be written about `__eq

[2019-02-22 20:42] asmeurer commented on #16019
The problem boils down to

[code]

The matching system is currently quite limited and there's no way to turn this off. Although you can force `a` to match a symbol with `Wild('a', properties=[lambda x: isinstance(x, Symbol)])`.

[2019-02-22 20:57] asmeurer commented on #13375
I guess this was already in two releases, so any changes at this point will need to go through a deprecation cycle. Removing the milestone.

[2019-02-22 20:59] asmeurer commented on #12910
A way someone could help with this issue (thought not necessarily completely fix it) would be to run `SYMPY_USE_CACHE=no python setup.py test` and report back the results. Note that this will probably take a really long time to complete.

[2019-02-22 21:16] XtremeGood commented on #15881
Thanks @asmeurer, @oscarbenjamin and  @smichr for the great help in first merge!!

[2019-02-22 21:22] ethankward opened #16046 "integrate(exp(exp(I*x)), [x, 0, 2*pi]) incorrectly 0"
[code]

The answer should be `2 \pi`.

[2019-02-22 21:42] smichr commented on #16045
whoa...I guess so! Nice catch.

[2019-02-22 21:51] oscargus commented on #16045
Also see #9097

[2019-02-22 23:52] #13482 closed

[2019-02-22 23:52] #13483 closed

[2019-02-22 23:53] smichr opened #16050 "add hints to docs regarding SPHINX?"
@asmeurer commented elsewhere:

[code]

[2019-02-22 23:56] asmeurer commented on #16050
There is a README in the doc directory where these sorts of things can go.

But I wonder if there's an upstream issue about this. The viewcode extension should be only rebuilding files that changed, same as with the rest of the docs.

[2019-02-23 00:16] oscarbenjamin commented on #16030
I think that the stdlib's lru_cache is threadsafe. Is it not possible to do the same in SymPy?

[2019-02-23 01:03] oscarbenjamin commented on #15881
Thanks @XtremeGood for your help!

There are many more issue with dsolve if you look...

[2019-02-23 01:31] ethankward commented on #16046
This returns an unevaluated integral in 1.3.

[2019-02-23 07:02] XtremeGood commented on #16045
Does this issue requires works?

[2019-02-23 08:46] jksuom commented on #16046
There are many examples of the same behaviour among older issues. When the integrand is periodic, its antiderivative will usually also turn out to be periodic. It follows that if the integral over a period is not zero, the antiderivative will be discontinuous. That should be checked before applying the fundamental theorem of calculus (that only works with continuous antiderivatives).

[2019-02-23 09:01] dandiez commented on #16045
Has it been considered to accept string inputs which have not been parsed by python?
e.g. to accept something like `isprime('14/2')` ?

[2019-02-23 10:24] XtremeGood commented on #16045
it's a checker why should it?Anyways eval( return x ) should do the job.

False

False

False

I still think you should explicitly check it since it's duty is to check not solve and check.

[2019-02-23 10:31] XtremeGood commented on #16015
Hmm it's quite a mouthful.But I would wanna work on it.

[2019-02-23 11:28] dandiez commented on #16045
I was trying to think if we could somehow go around the limitation of the python parser (that it evaluates stuff and, by the time it gets to sympy, things like 14/2 have become Floats).
For example, wolfram/alpha manages: https://www.wolframalpha.com/input/?i=isprime(14%2F2)

So I was thinking that if we were to accept strings we could parse them differently in sympy, however that does not go arou

[2019-02-23 11:31] XtremeGood commented on #16045
why not use eval?

[2019-02-23 11:35] dandiez commented on #16045
eval(14/2) would return 7.0, whereas the desired outcome is 7

[2019-02-23 11:44] XtremeGood commented on #16045
Ok you have a point. though it gives true for the above case.

[2019-02-23 11:53] XtremeGood commented on #16045
Ok what should I implement in order to solve it?One think it if it does int division 15/2 is not prime but it is not divisible so what exactly.Another way is split the string at / and check if a%b ==0 return isprime(a//b)
else error or something.

[2019-02-23 12:17] oscargus commented on #16045
I think it works as it is supposed to. Float are not prime.

[2019-02-23 12:40] oscarbenjamin commented on #16046
Is it possible to solve these by detecting periodic functions with discontinuous antiderivatives and then using a patched up antiderivative like `expr_discont + delta * (x % period)` where delta is the integral over the period?

Related issue #15730

[2019-02-23 12:46] oscarbenjamin commented on #16015
Go ahead. If you find an example where you know if the solution is correct or not then report it here and we can decide what the fix should be.

One way to do this would be to see what another CAS (e.g. Wolfram Alpha) thinks the solution should be.

[2019-02-23 12:49] oscarbenjamin commented on #16045
@jhanwar given the comments above do you think anything should be fixed here or can this issue be closed?

[2019-02-23 13:22] jksuom commented on #16046
Something like that will do if the discontinuities are at `n*period` for integers `n`. But perhaps there should rather be `floor(x/period)` instead of `x % period`.

[2019-02-23 13:26] divyanshu132 commented on #4886
@smichr I think it only needs a test or is there something which needs to be added?

[2019-02-23 13:45] oscarbenjamin commented on #16046
As long as the discontinuities are periodic (which they will be if the antiderivative is periodic) then it should be possible to add a number of different terms like `delta_i * floor((x-x_i)/period)` where `x_i` is the location of the discontinuity and `delta_i` is the difference across the discontinuity.

[2019-02-23 13:48] smichr commented on #15899
Could `-x <= pi` be made `x >= -pi`?

[2019-02-23 13:55] jksuom commented on #16046
I think that would work. Only, one has to find all the `x_i` and `delta_i`. The idea has already been implemented in some cases involving [atans](https://github.com/sympy/sympy/blob/master/sympy/integrals/integrals.py#L550-L570).

[2019-02-23 14:00] #16007 closed

[2019-02-23 14:05] oscarbenjamin commented on #16046
Are there already methods for detecting if an expression is periodic or continuous or for finding discontinuities?

[2019-02-23 14:12] jksuom commented on #16046
There is `periodicity` in `calculus.util`. Discontinuities are harder to find, especially, when branched multi-valued functions are involved.

[2019-02-23 14:28] pragyanmehrotra commented on #16038
Hi, can I take up this issue if it still needs fixing? And if yes can someone give me a general idea of what I'd have to do to fix it? I have some ideas but not sure if they are the best implementations

[2019-02-23 15:07] oscarbenjamin commented on #16046
In this particular case the antiderivative is
[code]
Periodicity doesn't work presumably because it doesn't understand `exp(I*x)`:
[code]

[2019-02-23 15:58] divyanshu132 opened #16054 "(x - 1).has(1) fails"
[code]
[code]
[code]
[code]

[2019-02-23 16:35] jksuom commented on #16030
SymPy's implementation of `lru_cache` (for Python 2) is essentially a 1-1 copy of stdlib's implementation. However, it is not used if `fastcache` has been installed, and that had [issues with multiple threads](https://github.com/pbrady/fastcache/issues/36). Those have now been fixed in the latest version 1.1.0.

[2019-02-23 17:10] jksuom commented on #16038
It has been suggested that new keyword parameters be added to `solve_poly_system` in order to handle those cases where it fails. However, no decisions have been made. In any case, I think that the docstring could be improved. It should tell that the results are unreliable if there are floating point numbers in the input polynomials and point out that they can be removed by `nsimplify`. That could

[2019-02-23 17:16] jhanwar commented on #16045
@oscarbenjamin
I think we should fix this because for the user, it seems intuitive that 14/2 should return 'True'
We can easily fix this issue. We can use the ceiling function and can check if `ceiling(n) == n` and then only we will check that n is prime or not. It seems right to me. What do you say? Should i send a pull request?

[2019-02-23 17:31] pragyanmehrotra commented on #16038
Cool then, can you notify me whenever the final decision is made regarding this issue. Meanwhile is there anything else that I could do?

[2019-02-23 19:03] XtremeGood commented on #16045
So does this require the fix?If so, then I would like to do it.

[2019-02-23 19:05] ngharrison commented on #16038
I have a semi-related question. Is there a way in the sympy solvers to handle inexact systems of equations, i.e. when an exact solution doesn't exist because of numerical inaccuracies? I know the numerical solver, nsolve, can handle such inaccuracies, but I don't know of a standard way to get all solutions to any system (such as 8 solutions for the one above).
If there is a better place to ask thi

[2019-02-23 19:20] dandiez commented on #16045
Since this is very related to the issue mentioned above, should we close this issue and continue the discussion/fix in https://github.com/sympy/sympy/pull/9097 ?

[2019-02-23 19:21] jhanwar commented on #16045
@XtremeGood I am already working on it..

[2019-02-23 19:25] XtremeGood commented on #16045
Ok, but I guess @dandiez referred another post in which the issue is already being worked upon.

[2019-02-23 19:32] #7842 closed

[2019-02-23 19:33] dandiez commented on #16045
I think the issue here is in principle the same as the issue in #9097
If I understood the plan to fix #9097 is to:
- check for floats and return False; this would also return false for isprime(14/2)  (because python parses the 14/2 and converts it to a Float before it gets to sympy)
- add to the documentation that isprime returns False for floats and for anything that returns a float, like 14/2, a

[2019-02-23 19:54] jhanwar commented on #16045
@dandiez
you are right. The principle is same for both the issue. what should `isprime(14/2)` return?
False or True

[2019-02-23 20:19] #5939 closed

[2019-02-23 20:28] oscargus commented on #15877
Yes, I think that is what I am saying. It is not clear why it doesn't happen in 32 so you may want to see what the code does there.

[2019-02-23 20:43] oscargus commented on #15899
Yes, but somehow one will have to select between having either only </<= (or >/>=) or lhs not starting with a minus to get consistent canonical relations. Now, I selected the </<= approach (partly because simplifications becomes easier if there are fewer variants to test, partly because it seemed like extracting sign may be a bit time consuming in certain situations, maybe I'm wrong here though).

[2019-02-23 21:10] dandiez commented on #16045
:D good quesion... without reopening the discussion from #9097 ...
I guess in an ideal world 14/2 should evaluate to 7 (integer) and therefore isprime return True.
Given the current constraints, 14/2 evaluates (evaluated by core python) to 7.0 (Float) and for consistency with any other floats, isprime should return False.
Since the users probably will fall in the pitfall, we can tell them via the

[2019-02-23 21:23] XtremeGood commented on #16045
Why not use 14//2?

[2019-02-23 21:36] smichr commented on #14441
This gives `t**2*x1*x2/2` in which there is no Abs. Please reopen if there is more information.

[2019-02-23 21:36] #14441 closed

[2019-02-23 21:41] smichr commented on #11253
I consistently get 2 solutions:
[code]

This can be closed if someone else can confirm this.

[2019-02-23 21:43] smichr commented on #10255
I now get the following:
[code]

[2019-02-23 22:57] oscarbenjamin commented on #16030
But there's a bug with something here. It should be possible to use is_disjoint in a multithreaded environment.

@truongkhanh can you post a minimal reproducing example?

[2019-02-23 23:30] oscarbenjamin commented on #11253
I got the same result 20 times in a row:
[code]

[2019-02-23 23:31] #11253 closed

[2019-02-24 01:13] asmeurer commented on #16045
`isprime` ought to be using `as_int`.

If we want to reject float values, that should be done in as_int, so that all number theory functions work the same way. That would need to be discussed first, though.

[2019-02-24 05:00] alugowski opened #16058 "incorrect sigfigs in Latex output"
When printing a value where the requested sigfigs exactly match the decimal point the Latex formatter adds an extra zero. Normal output is correct.

This means that the Latex output is wrong in at least two cases:

- Implies higher than intended sigfigs: `10` to two sigfigs is `10.`, but the Latex output is `10.0` which implies three sigfigs
- When the result of a computation is rounded then the `

[2019-02-24 05:34] alugowski commented on #15135
This is already implemented but isn't the default.

    sympy.printing.str.StrPrinter._default_settings['abbrev'] = True

should get you your desired behavior.

I think abbreviated should be the default. Outside of testing, who ever uses non-abbreviated units?

[2019-02-24 05:37] alugowski commented on #15135
Also non-abbreviated units are used for all printing, not just Latex.

[code]

[2019-02-24 06:23] soulslicer opened #16059 "Matmul not working as intended (Works in Numpy)"
Matmul seems to work with numpy

[code]
[code]
Giving an error 'AttributeError: 'ImmutableDenseNDimArray' object has no attribute 'as_base_exp''

Why does this happen?

[2019-02-24 06:32] alugowski opened #16060 "Text styling of units in Latex output"
Latex output should follow best practice and wrap unit names with `\textrm{}` or `\text{}`.

Today `sympy.latex()` emits unit names as simple strings. This is fine for normal text mode, but results in a few issues in math mode.

- units are indistinguishable from variable names. Does `10m` mean "ten meters" or "ten times `m`"?
- units should not be italicized, but math mode letters by default are.

[2019-02-24 06:33] alugowski commented on #16060
One could argue that all multi-letter symbols should get this treatment, not just unit names.

[2019-02-24 07:09] pragyanmehrotra commented on #12089
Hi, can I take up this issue if it still needs fixing?

[2019-02-24 07:10] TobiSchluter commented on #16019
Thanks for your feedback.

I understand that matching has to be somewhat smart about powers. E.g. matching a/c against (a**3*b/c) cannot simply look at (something equivalent to) the textual representation, but it also needs to know about the associative and commutative properties of multiplication. Yet in this case it goes further, applying properties of exponentials that can lead to wrong results

[2019-02-24 07:57] jksuom commented on #10255
result += [f.subs(f.args[0], symbol)] + decompogen(f.args[0], symbol)
  File "/home/runner/.site-packages/sympy/solvers/decompogen.py", line 37, in decompogen
    raise TypeError('expecting Expr but got: `%s`' % func_name(f))
TypeError: expecting Expr but got: `ExprCondPair`

`decompogen` treats `Piecewise` as a "simple function" on line 47. It will obviously need a special handling.

[2019-02-24 08:47] jksuom commented on #16059
SymPy's MatMul has been designed to work with matrices only, not arrays like A and b. The arguments of MatMul should be checked, and there should be a better error message.

[2019-02-24 09:41] oscargus commented on #12089
@pragyanmehrotra It is still needed so please go ahead!

[2019-02-24 10:07] pragyanmehrotra commented on #12089
@oscargus Sure I'll start working on it right ahead! However, Idk what exactly needs to be done so if you could point out how the output should look like and do I have to implement a new function or edit a current function it'd be a great help, Thanks.

[2019-02-24 10:58] oscargus commented on #15899
Also, `(-x <= pi).reversedsign` gives `x >= pi` if explicitly needed for e.g. printing. I can change the default, but based on matching etc, I think it makes sense to go with direction rather than sign. (I also think that there are some ambiguous cases when it comes to sign, but do not remember exactly now. This evolved during the development.)

[2019-02-24 11:42] oscargus commented on #15899
@smichr My memory is clearly limited. Turns out that I went for the no starting minus on the left-hand side approach. So `(-x <= pi).canonical` will indeed become `x >= -pi` in #16004.

This means that I should make sure to reverse all `>` and `>=` inequalities if I should be able to use fewer patterns.

[2019-02-24 13:00] oscarbenjamin opened #16062 "Don't use deprecated np.asscalar"
Running the tests locally under pytest I see 143 warnings about np.asscalar being deprecated:
[code]
I haven't looked into the difference but this looks easy to fix. Grep shows the two places where this is used in SymPy:
[code]

[2019-02-24 13:29] oscargus commented on #12089
[code]
which renders as
![image](https://user-images.githubusercontent.com/8114497/53299790-abec5c80-383f-11e9-82c4-6dd3424f37a7.png)

Meaning that the presentation MathML output should be something like
`<msub><mi>a<mi><mi>b<mi></msub>`

Have a look at #16036 for some good resources.

Basically you need to do something like:
[code]
in a function called `_print_IndexedBase`.

[2019-02-24 14:59] smichr commented on #10688
Both calls to solveset give `{-3, 2}` as the solution now. So the complex solution is being missed.

[2019-02-24 15:43] oscargus commented on #16060
I think `\text` is the way to go, see discussion in #15934 (solved in #16056 ). rm indicates stuff that one not necessarily wants.

There is also a test which seems to indicate that initially the idea was to do something different for multi-character variables names. However, since one easily can select the name on creating of the variable, `Vdd = Symbol('V_{\text{dd}}')` that seems to be less of

[2019-02-24 15:44] oscargus commented on #16060
It also opens up the question if it should emit meter or m.

[2019-02-24 15:58] oscargus commented on #16058
[code]
So the solution would be to trim the last zero from any floating point number (which I guess is what is done elsewhere). It seems like this is done in the code though.

[code]

For anyone interested in sorting this out, consider the correctly working code in str.py
https://github.com/sympy/sympy/blob/2d4eb2fd9f8333bb1992c31069f256db542b589b/sympy/printing/str.py#L612-L632
and compare it to

[2019-02-24 16:33] oscargus opened #16066 "Printing consistency"
It would be useful to easily see the output for different expressions. Right now, the four(?) "visible" printers are pretty printer with Unicode, pretty printer without Unicode, LaTeX and MathML presentation.

I'm not really sure how and where this should be implemented but if one can put Sympy expressions into a list and then generate a HTML page with a table like:

Expression  |  Unicode-pretty

[2019-02-24 16:36] oscargus commented on #16034
https://help.github.com/en/articles/adding-a-new-ssh-key-to-your-github-account should be useful for setting up the SSH keys.

[2019-02-24 16:44] smichr opened #16067 "Circle radius should be real"
In #15273 a decision was made to not forbid the creation of circles with imaginary radius. I'm not sure this is a useful idea (though looking at imaginary coordinates has been a fruitful and interesting endeavor for [some](https://phantomgraphs.weebly.com/)). Since all Points in geometry are expected to be real, it seems like it would have been better to insist that all geometry parameters are rea

[2019-02-24 16:49] alugowski commented on #16060
I agree about `\text` vs `\textrm`, I just wasn't sure if a dependency on `amsmath` is ok.

I agree there should be a space. I think `10~\text{m}` is neater than `10\text{ m}`, but it's only a slight preference.

[2019-02-24 16:49] normalhuman commented on #16054
This seems by design to me. SymPy does not have a subtraction operation, so `x-1` is `x+(-1)` where `-1` is a leaf of the expression tree, it does not have `1` in it.
[code]
There is no `Integer(1)` here.

Compared to
[code]
where we do have `Symbol('x')` because `-x` is the product of -1 and x.

[2019-02-24 16:51] alugowski commented on #16060
I strongly think it should emit `m`.

At least there is a hack where that can be enabled globally.

See #15135

[2019-02-24 16:54] alugowski commented on #16058
I noticed str.py calls `mlib_to_str` while latex.py calls `mlib.to_str`.

It's not clear to me what the `full_prec` setting is for, though it shouldn't be the cause of this particular issue.

[2019-02-24 16:55] alugowski commented on #16066
I've been using SymPy Latex output inside my Jupyter notebooks. I think what you describe can be emitted using a loop that spits out a Markdown table.

[2019-02-24 16:58] alugowski commented on #16058
Should everything above the `to_str` call be identical? It also seems odd that you'd get different output between string and latex depending on precision settings.

In my opinion only the rendering (2nd half) should be different. Everything else should ideally call the same helper so you never have non-cosmetic variation.

[2019-02-24 17:01] oscargus commented on #16060
Good! I agree with that, so in case you or I solve it, both will be happy.

Turns out that quite a lot of things already depends on `amsmath` anyway, even though I had the some doubt a few weeks ago.

[2019-02-24 17:04] oscargus commented on #15135
There is also the issue of `(mm)**2`(square millimeters) vs mm**2 (milli-squaremeters). Not sure how it is handled right now though, but probably something to consider here as well for properly defined output. (Also, without knowing exactly how the unit stuff works, I know that there are mm etc defined, one can imagine moving powers of 10 to prefixes).

[2019-02-24 17:08] oscargus commented on #16066
That is indeed a solution that would work as well for me.  I haven't tried MathML in the Jupyter notebooks, but apparently there is support for it: https://github.com/jupyter/notebook/pull/1672

[2019-02-24 17:12] oscargus commented on #16058
I think that the `to_str`-difference is just about how they are imported.
`from mpmath.libmp import prec_to_dps, to_str as mlib_to_str` vs `import mpmath.libmp as mlib`

No, it is not clear why they differ or exactly what the code does... I do not think that the concept of `_print_level` is used in the LaTeX printer either.

[2019-02-24 17:23] jksuom commented on #15135
I don't think there are milli-squaremeters. From [wikipedia](https://en.wikipedia.org/wiki/International_System_of_Units):

[2019-02-24 17:23] #6133 closed

[2019-02-24 17:51] dandiez commented on #16034
Thank you, I have added the link to the wiki.

[2019-02-24 19:25] #16062 closed

[2019-02-24 20:02] #15899 closed

[2019-02-24 21:08] jhanwar commented on #16045
I am not sure about what should `isprime(7.0)` return?
but if `isprime(7*1)` and `isprime(5+2)` returns `true` then I think, `isprime(7/1)` or `isprime(14/2)` should also return `true`

[2019-02-24 21:16] oscargus commented on #15135
Interesting! Thanks for pointing it out. We still need to be careful though if we should add/change prefixes automatically so that we add it to individual units and not to a compound unit.

(I read quite a lot of papers where people report things in square-micrometers. The approaches tend to differ... I doubt that many of those doing what should be the correct thing are actually aware of it.)

[2019-02-24 21:42] oscarbenjamin commented on #16045
I think that isprime and all other functions that are supposed to work with exact int/rational inputs should treat floats as being inexact. It does of course make sense that from a purely mathematical perspective that `isprime(7/1)` should return True. However in Python this translates to `isprime(7.0)` and that `7.0` is a float and there's no way for SymPy to tell the difference between `7.0` and

[2019-02-24 21:44] oscarbenjamin commented on #15135
Square micrometers means (um)^2 though rather than u(m^2) right?

In proper LaTeX there are packages for handling this sort of thing. Do any of those work in Mathjax? Or can we borrow what they do to use here?

[2019-02-24 22:44] #7157 closed

[2019-02-24 22:44] #9807 closed

[2019-02-25 11:07] sharma-kunal commented on #16015
@oscarbenjamin  I was looking up to the issue and while checking for the equation

[code]
having this solution or not

[code]
dsolve returned the above solution but using Wolfram Alpha gave

![screenshot from 2019-02-25 16-25-28](https://user-images.githubusercontent.com/40005050/53333302-787f0000-391b-11e9-8e39-b508be9691e0.png)

Is it that dsolve is returning the wrong solution
Also above FIXME,

[2019-02-25 12:13] XtremeGood commented on #16046
Hey, can I work on this issue? But I 'm still not good enough to do this alone since I have only fixed a single issue that too partly.

[2019-02-25 12:28] jhanwar commented on #16045
Python treats `7/1` and `7.0` as exactly same. So, there is no way that we can operate differently `7/1` and `7.0` in sympy. I think that the consensus is that `isprime(7/1)` or `isprime(7.0)` should return `False`. I think that we can close this issue. @oscargus

[2019-02-25 13:59] shubhamabhang77 commented on #15877
Any more changes you want? You can give some examples to test and then we can see do we need any changes or not?

[2019-02-25 14:42] oscargus commented on #15877
Probably the best is to open a PR and we can discuss it there. I think the main thing is to make it behave similar to the LaTeX version, but I have not used the option there so I do not really know what to expect.

[2019-02-25 16:09] oscargus commented on #16045
I was of the impression that this was decided earlier, yes. But based on the comment of @asmeurer it may not be like that.

It may clearly be confusing for newer users that `isprime(7/1)` is False, but on the other hand a very good example of what is Python and what is Sympy. Something that they eventually will have to learn anyway, so I guess "saving" them in this (and maybe a few other places) w

[2019-02-25 17:02] XtremeGood commented on #16045
But the implementation shouldnt be hard though. Afterall we can convert the
input to string and solve the input and then use isprime on that argument.
It would be just a simple decorator. Total user friendly.

On Mon, Feb 25, 2019, 21:40 Oscar Gustafsson <notifications@github.com>
wrote:

[2019-02-25 17:03] XtremeGood commented on #16045
Ok?

On Mon, Feb 25, 2019, 22:32 Vishesh Mangla <manglavishesh64@gmail.com>
wrote:

[2019-02-25 17:22] oscargus commented on #16045
How would you know if 7.0 comes from 7/1 or 14/2 (or 7.0)? Entering it as a string and evaluate it?

And how would you distinguish it from 7+1e-20?

Or am I missing something here?

[2019-02-25 17:41] XtremeGood commented on #16045
Isn't the objective to make 14/2 return as 7 not 7.0?

[2019-02-25 17:46] XtremeGood commented on #16045
[code]

[2019-02-25 18:05] oscargus commented on #16045
It may solve this particular case (not obvious to me, but since I do not know much about decorators I trust you there, `str` doesn't seem required nor the right thing to do though, but that is not part of the issue anyway), but then we just move the barrier slightly, sometimes. What about `isprime((28/2)/(6/3))` ? The actual discussion, I think, is whether floats, which happens to have a zero frac

[2019-02-25 18:11] XtremeGood commented on #16045
I too don't know about decorator. I prefer "outer function" terminology. It's just that people like fancy terms, jargons etc so I used that.No problem. Use a reduce(continuous splitting until no / is left and divisions are associative so it can be done) .I checked that isprime works for both "7/1" and 7/1
i.e. both int and string inputs

[2019-02-25 18:15] dandiez commented on #16045
I think if we go that way we might as well think how we intercept the python parser before it parses the string (or other math operands) and evaluates things like 7/1 to a float

[2019-02-25 18:17] XtremeGood commented on #16045
You can use split at a pattern.I can try making a working code if it closes this issue.

[2019-02-25 18:20] dandiez opened #16070 "why did sympy-bot add double entries for some PRs in the release notes?"
https://github.com/sympy/sympy/wiki/Release-Notes-for-1.4/_history
There seem to be double entries for PR#16063, PR#15816, PR#16028...

[2019-02-25 18:23] dandiez commented on #16045
I still don't understand the approach you want to use. Can you please put an example?
If the user input is

and you add a decorator to isprime(), would the decorator not receive 7.0? I would think that python evaluates 14/2 before passing it on? Or am I missing something?

[2019-02-25 18:26] XtremeGood commented on #16045
Umm, yes true if the user does not enter a string then it would be trouble.So we would have to explicitly take a string argument.Also by python convension 7/1 = 7.0 and 7//1 = 7

[2019-02-25 18:39] XtremeGood commented on #16045
One thing just caught my mind.Sympy is written in python and by default inputs are taken as string in python so why would 7/1 it be computed?

[2019-02-25 19:53] abhijeet47 commented on #15187
I would like to work on this issue.

[2019-02-25 20:46] oscarbenjamin commented on #16015
Adding the solution above into the tests would be a reasonable PR.

[2019-02-25 20:47] oscarbenjamin commented on #16015
Okay so `checkodesol` doesn't like the solution returned by `dsolve`:
[code]
The answer from Wolfram is different and `checkodesol` thinks it is correct:
[code]
The answer from Wolfram is definitely not equivalent under any change of constant or anything so... this is a bug in `dsolve`. More specifically it is a bug in the `1st_exact` solver:
[code]
I've tried the `lie_group` solver (`dsolve(eq2,

[2019-02-25 20:47] XtremeGood commented on #16015
If I can get help then I'm interested in fixing this.

[2019-02-25 20:47] oscarbenjamin commented on #16015
Adding the solution above to the tests would be a reasonable PR.

[2019-02-25 20:48] oscarbenjamin commented on #16015
For fixing it you'll need to to debug what's going on in 1st exact. Somewhere in there is probably a bug. If you can follow through what happens in a debugger you might be able to find it.

First compare the integrals above with what Wolfram is showing. Maybe Wolfram can give you a step-by-step solution which would help with debugging.

[2019-02-25 20:51] XtremeGood commented on #16015
Ya, I understand that.I will look into the module but first I' ll have to something called "sync it" since changed from desolve might not have incorporated.

[2019-02-25 21:00] oscarbenjamin commented on #16046
I don't know what can be done for solving this kind of integral. I described something above but it's not simple because other features for finding discontinuities etc. don't exist. `periodicity` is already being worked on in #16068

[2019-02-25 21:04] XtremeGood commented on #16046
well if you solve it by hand you use substitution e^ix = t but I don't know how does sympy use substitution
.

[2019-02-25 21:25] asmeurer commented on #16045
Python is eager evaluated, meaning it is impossible for a function `f` to distinguish between `f(7/1)` and `f(7.0)`, because the interpreter evaluates 7/1 before f is even called (actually with integer literals, it is evaluated when the code is compiled.

If you want an environment where `int/int` produces a rational, you can use `isympy -i` or `init_session(auto_int=True)`. This sort of thing is

[2019-02-25 21:26] asmeurer commented on #16045
This issue got somewhat sidetracked, but I think it should be about whether `as_int` should accept floats with zero fractional part. It currently does, but we should consider whether it is better to not to.

[2019-02-25 21:28] XtremeGood commented on #16045
Thanks for the info.

[2019-02-25 23:12] smichr commented on #16045
I think the example of `int(1e23) == 99999999999999991611392 == 1e23 == True` is enough to make me say that it should not allow floats as input. The reason it is being used is to make sure the routine has a Python int to work with instead of a slower class object like Integer. If a routine has `i = as_int(n)` you know that i is an int and is unambiguously so and you know the user will be told if i

[2019-02-26 00:47] oscarbenjamin commented on #14639
Is there something fixable here or should this be closed?

[2019-02-26 01:02] oscarbenjamin commented on #14569
So should this be closed?

[2019-02-26 01:05] oscarbenjamin commented on #14567
This particular issue seems to be fixed now:
[code]

Can this be closed?

[2019-02-26 01:09] oscarbenjamin commented on #14563
I get:
[code]

[2019-02-26 01:11] oscarbenjamin commented on #14562
I now get the same either way:
[code]

Closing.

[2019-02-26 01:11] #14562 closed

[2019-02-26 01:19] oscarbenjamin commented on #14550
I get a different result now. These are the same:
[code]
This one is different:
[code]

[2019-02-26 01:38] oscarbenjamin commented on #14499
@glenfletcher do you think this should be fixed in some way or can this be closed?

[2019-02-26 01:44] oscarbenjamin commented on #14492
This is still the case:
[code]

[2019-02-26 01:57] oscarbenjamin commented on #14436
I realise that this is old but what do you mean by the expression without conditions?

Here is the result:
[code]

From there you can get just the expression parts with e.g. `F.args[0][0]`.

[2019-02-26 02:26] oscarbenjamin commented on #14390
@smichr I don't understand this issue. Is it still relevant?

[2019-02-26 02:31] oscarbenjamin commented on #14385
The results are the same now but is this still considered a valid issue?

[2019-02-26 02:38] asmeurer commented on #14385
It's still not clear how UnevaluatedExpr should work or even if it can, so I would say it's still valid.

[2019-02-26 02:51] truongkhanh commented on #16030
@oscarbenjamin My program runs on local successfully but on our cluster failed.

Here is a minimal example that I just created. It also run successfully on my computer, but got the same issue on our cluster.

[code]

Stack trace
[code]

[2019-02-26 06:46] Strilanc opened #16074 "Option to make `sympy.srepr`'s output work with just `import sympy` instead of `from sympy import *`"
Generally speaking, it's bad form to `from X import *` because it's very easy for e.g. different modules to overwrite each others' imports.

Currently, `srepr` makes output that has values like `Mul(pi, Symbol('s'))`. But this output only evaluates correctly if you `from sympy import *`. It would be preferable for it to work with just `import sympy`, or for there to be an option to turn on this be

[2019-02-26 06:51] maxencemayrand commented on #14569
@oscarbenjamin

Yes, it should.

[2019-02-26 06:57] #14569 closed

[2019-02-26 06:59] asmeurer commented on #15832
Azure pipelines was removed. https://github.com/sympy/sympy/pull/15998

[2019-02-26 06:59] #15832 closed

[2019-02-26 07:06] asmeurer commented on #16074
I think a flag to prefix everything with `sympy.` could be useful. I don't think it should be on by default. `srepr` output is already verbose as it is, and `.` is problematic if we ever implement https://github.com/sympy/sympy/pull/12524.

Also unless you are using the output of `srepr` generically, you don't need to `import *`, you can just import the names. Actually, `srepr` is designed to work

[2019-02-26 07:23] asmeurer commented on #16030
I am able to reproduce the bug with Python 2 and fastcache 1.0.2, which is the latest released version.

[2019-02-26 07:27] jksuom commented on #14639
I think that it would be useful to have better control of signs of complex variables. That would probably help, for example, some integrating methods. One could add properties like `is_upper`, `is_left`, etc. One way of implementing such assumptions could be adding an attribute, `signs`, whose values would be a subset of `{0, 1, -1, I, -I, 1+I, -1+I, -1-I, 1-I}`. Setting `upper=True` when defining

[2019-02-26 09:23] shubhamabhang77 commented on #15877
I have made a PR. Take a look at it.

[2019-02-26 09:34] shubhamabhang77 commented on #6013
Is This solved or not? If not I would like to work on it. Tell me something more about it. I haven't got it that how the printing should look like.

[2019-02-26 09:36] shubhamabhang77 commented on #16036
Hey can you tell me more about this . I would like to work on this as there are some unmarked checkboxes.

[2019-02-26 12:08] divyanshu132 opened #16078 "integrate((sqrt(sin(x))*cos(x)**5), (x, 0, pi/2)) takes Infinite time"
`integrate((sqrt(sin(x))*cos(x)**5), (x, 0, pi/2))` takes Infinite time. The actual result should be `64/231`.

[2019-02-26 12:20] oscargus commented on #16036
Basically what I've done is to look at the LaTeX output and tried to mimic that with MathML. Often one can more or less just copy the corresponding LaTeX printer method and change it line by line.

For example,
https://github.com/sympy/sympy/blob/a0711ebd8d1b58ce0930a882c2cff09e6678cb08/sympy/printing/latex.py#L1906-L1907
should be something like
[code]

Others require a bit more thinking, but sti

[2019-02-26 12:22] oscargus commented on #16036
There are tens of more functions that can be added as well (one can simply compare the LaTeX printer and MathML printer and see which methods are missing), but these are somehow the once I have currently identified.

[2019-02-26 13:10] RituRajSingh878 commented on #15969
Due to this many test case were failing.

[2019-02-26 15:53] sharma-kunal commented on #16015
@XtremeGood I was also trying to solve the issue. So I think you can solve this bug and I may try to solve the next bug (where checkodesol hangs). I think that must be fine with you.

[2019-02-26 18:06] sharma-kunal commented on #16015
@oscarbenjamin Can you please help me with the equation,

[code]
It's solution as solved by dsolve is

[code]

So it was hanging previously so what I did was I assumed the roots of the equation to be constant and now the output is coming quite fast, but the problem is the solution given by Wolfram Alpha is

[code]

and both are giving `FALSE` with checkodesol. I can't figure out how to proceed to

[2019-02-26 18:47] piedenis commented on #14550
@oscarbenjamin: I interpret this last result as a rounding-error due to floating-point number representation. I'm not a Sympy developer but I presume such oddity cannot be avoided. From my point of view, the result is acceptable. Sympy offers rationals (e.g. `f/6` ) to avoid such annoying phenomenon.

[2019-02-26 19:29] asmeurer commented on #6013
Looks like lerchphi was fixed by https://github.com/sympy/sympy/pull/15971.

polylog requires a subscript, which is cumbersome for the Unicode pretty printer unless it uses only those characters that have subscript form. So I'm not sure if we should do it. There are other functions that print with subscripts, though. It looks like `latex(polylog)` already does the right thing.

[2019-02-26 19:33] divyanshu132 opened #16082 "integrate(x**2(x+1), (x, 1, 3)) throws TypeError"
[code]

[code]

[2019-02-26 19:38] #16082 closed

[2019-02-26 20:03] divyanshu132 opened #16084 "integrate(log(sin(x)), (x, 0, pi/2)) does not evaluate"
[code]
It would be nice if we can make this expression evaluated instead of producing the same result.
The correct answer is `-pi*log(2)/2`

[2019-02-26 20:09] bsamseth commented on #13992
As this had been open for a while, I've made a PR that I believe resolves this issue (#16085). I based the changes on @asmeurer's comment, and have reused the logic applied in ``Symbol``.

[2019-02-26 20:44] oscargus commented on #16066
I've made a small hack of which the results can be seen in https://github.com/sympy/sympy/pull/16047#issuecomment-467604691 and https://github.com/sympy/sympy/pull/16065#issuecomment-467598260

Not really in releasable form and not sure where I should put it in the source tree if it was, but if anyone is interested feel free to contact me.

[2019-02-26 21:55] Strilanc opened #16086 "srepr does not represent unicode strings correctly in python 2"
In python 2.7:

[code]

outputs:

[code]

instead of:

[code]

or `"text"`.

[2019-02-26 21:59] oscarbenjamin commented on #16015
@sharma-kunal  the two solutions are equivalent. In the `wolf_sol` solution some of the CRootOfs are complex:
[code]
So with a complex root `a` we can rewrite `exp(a*x)` as `exp(re(a)*x)*(cos(im(a)*x) + I*sin(im(a)*x))`. If we do that and rearrange the constants we can rewrite `wolf_sol` as the result returned by `dsolve`.

It isn't sufficient to assume that the roots are constant: the solution on

[2019-02-26 22:02] oscarbenjamin commented on #14550
@piedenis so should we close this?

[2019-02-26 22:05] alugowski commented on #16066
I've also made a hack in Jupyter that renders Unicode, Latex and MathML output, with optional Latex and MathML code.

This exercise also revealed some issues with the parsing that doesn't respect the `evaluate(False)` flag in some cases, as well as different simplifications between printers. That's a sign of too much code copy/paste that's started to diverge.

Jupyter code cell contents:

[code]
<

[2019-02-26 22:08] Strilanc opened #16087 "`subs` doesn't substitute symbols with unicode text in python 2"
In python 2.7

[code]

should output

[code]

but instead outputs

[code]

(If you use the dictionary `{"s": 1"}` then it does work, regardless of whether the symbol has a unicode text or not. If you use the dictionary `{u"s": 1"}` then it fails regardless of the symbol text type.)

[2019-02-26 22:16] oscargus commented on #16066
Nice @alugowski !

Yes, I also found some weird stuff. No brackets for `im` but for `re` in the Latex printer. No use of im and re Unicode characters. Exception is LaTeX generation of `xor`. Inconsistent brackets between printers etc.

So clearly useful exercises!

If you have time and interest to start an issue on things you've noticed that would be valuable.

[2019-02-26 22:20] piedenis commented on #14550
@oscarbenjamin: Yes, I think so. I'll do that if it's fine for you.

[2019-02-26 22:23] oscarbenjamin commented on #14550
Yeah it's fine. Closing. Thanks for the report!

[2019-02-26 22:23] #14550 closed

[2019-02-26 22:27] asmeurer commented on #16087
Probably due to this line:
https://github.com/sympy/sympy/blob/b68caad822d3ad0ae1fa09c78c9ed2db927e73cb/sympy/core/basic.py#L944

It should be using `isinstance(s[0], string_types)`.

[2019-02-26 23:02] oscarbenjamin commented on #16074
I think it would generally be good to have a paste-able printer for something that can go straight into code (e.g. tests). Something like:
[code]

[2019-02-26 23:40] oscarbenjamin commented on #14141
Can you explain what this issue is about?

[2019-02-26 23:47] oscarbenjamin commented on #14127
I'm guessing that evalf isn't implemented for `NonElementaryIntegral`:
[code]

[2019-02-27 00:37] oscarbenjamin commented on #14017
I get the same results as above except that is_constant gives ZeroDivision:
[code]

[2019-02-27 00:39] sylee957 opened #16089 "Using == operator in symbolic expression tests"
[code]
It gives `False`.
The equals operator in `Basic` objects seems like compares hash values, rather than having any mathematical validity.
And it seems like this is actually a intended design.
https://github.com/sympy/sympy/wiki/Faq#why-does-sympy-say-that-two-equal-expressions-are-unequal

However, a lot of tests in `solvers/tests/test_solver.py` are using this comparison to test out expressi

[2019-02-27 00:52] shubhamabhang77 commented on #6013
So basically this issue is closed, right?

[2019-02-27 01:05] oscarbenjamin commented on #13816
This seems to work now:
[code]

[2019-02-27 01:05] #13816 closed

[2019-02-27 01:19] oscarbenjamin commented on #13767
I get a similar (equal according to simplify) answer now. Closing.

[2019-02-27 01:19] #13767 closed

[2019-02-27 01:40] oscarbenjamin commented on #13632
The import works fine now:
[code]
Can this be closed?

[2019-02-27 01:44] oscarbenjamin opened #16090 "Term reordering follow up from #15985"
I just found this:
[code]
Haven't looked into the details yet but do you have any idea why this happens @nickovs:
[code]

_Originally posted by @oscarbenjamin in https://github.com/sympy/sympy/pull/15985#issuecomment-467681751_

[2019-02-27 01:46] oscarbenjamin commented on #16090
I had thought that those two examples would show up with as term1-term2 rather than -term1+term2 after #15985. Opening this issue to record examples for followup from there as [suggested](https://github.com/sympy/sympy/pull/15985#issuecomment-467687615).

[2019-02-27 03:11] nickovs commented on #16090
It seems like the most general way to do this would be to spot when the top level is an addition of two terms where one of the terms would be preceded by a minus if printed on its own but the other would not, and in that case print the negative one on the right.

Before I go off and do this I would like to have a discussion of what are the cases where this model would *not* render the most natural

[2019-02-27 05:22] supreet11agrawal commented on #16087
Running tests, will send PR asap

[2019-02-27 08:01] sharma-kunal commented on #16015
@oscarbenjamin I can't figure out what @asmeurer meant in this comment https://github.com/sympy/sympy/issues/15753#issuecomment-452520294. Can you explain it ?

[2019-02-27 08:02] oscargus commented on #16036
Some examples of special functions for comparison:
![image](https://user-images.githubusercontent.com/8114497/53474810-7083a500-3a6e-11e9-95ae-21499d7637b6.png)

[2019-02-27 08:13] oscargus commented on #16036
Some more functions:
![image](https://user-images.githubusercontent.com/8114497/53475334-fbb16a80-3a6f-11e9-8cf5-d6c7ba839af8.png)

[2019-02-27 08:24] abhijeet47 commented on #16086
I would like to work on it.

[2019-02-27 09:15] oscargus opened #16094 "Unicode compliance in Python 2.7 - string_types instead of str"
Inspired by #16093

`str` does not cover unicode strings (available in Python 3). In sympy this is solved by the compatibility type string_types.
https://github.com/sympy/sympy/blob/d44e6038bec476750bcbaf0fcffff4a108097e3e/sympy/core/compatibility.py#L22-L23

Still, quite a lot of code compares to `str` which may disallow unicode strings.

[code]
and
[code]

In most cases it should be possible to

[2019-02-27 09:17] oscargus commented on #16094
As Python 2 support is dropped next year it may have less priority since it will basically improve the Unicode support in Python 2.

[2019-02-27 09:54] oscargus commented on #16036
This may be a bit confusing since the "Expression" column is printed with `str`. Hence, to sort out the printing of `true` (which prints as `True`), the method `_print_booleantrue` should be defined etc.

[2019-02-27 10:48] divyanshu132 commented on #16094
I'll fix this.

[2019-02-27 11:01] jksuom commented on #16094
Unicode is not used everywhere. For instance, ascii will suffice for numbers.

[2019-02-27 11:17] #15713 closed

[2019-02-27 11:58] sharma-kunal commented on #16086
I would like to work on the issue. Can you please explain how to proceed ?

[2019-02-27 13:45] shubhamabhang77 commented on #16036
Yeah I would like to work on some functions. I am not able to figure out how the mathml code should be. Tell me some examples so that I can get an idea.

[2019-02-27 14:20] #16029 closed

[2019-02-27 16:28] supreet11agrawal commented on #16090
What is the problem if we are getting the results in this manner. I don't understand

[2019-02-27 16:49] nickovs commented on #16090
@supreet11agrawal The goal here is for the printout from Sympy to be as close as possible to what a mathematician would naturally write. In most cases a statistician would never write `-p + 1` when she meant `1 - p`, and many people see `-1 + √2` as clunky and unnatural compared to `√2 - 1`. The representation of the former has already been fixed by my (rather narrowly targeted) PR #15985 but ther

[2019-02-27 17:38] shubhamabhang77 commented on #16036
We have to print the same symbols in mathml as they are printed in latex, right? For e.g. zeta(x) should be printed same as printed in latex.

[2019-02-27 17:54] shubhamabhang77 commented on #16036
I have tried this with Lambda, see if this code is correct.
[code]

[2019-02-27 18:21] oscarbenjamin opened #16097 "Travis output for failed code quality tests not always informative"
After #16023 if a PR fails the code quality test then the only feedback they get from Travis for their whole PR is the log for that job. Looking at this [example though](https://travis-ci.org/sympy/sympy/jobs/499396388) it seems that the output is not always very informative.

The log there ends with:
[code]
As far as I can tell there is no further output.

I don't understand why though since the

[2019-02-27 18:21] bharatnishant commented on #16089
@asmeurer Kindly review this request. If it needs working then I would like to work on it

[2019-02-27 18:27] asmeurer commented on #16089
This requires more discussion before any work is to be done.

[2019-02-27 18:34] jksuom commented on #16097
There are also these lines produced by Python:
[code]
(If the log ends with no output from SymPy, I search the log for 'error'.)

[2019-02-27 18:43] oscarbenjamin commented on #16089
The same thing happens in `test_ode.py`. I think it's good (most of the time) that the tests also test the form of the solution returned. It means that you can see how a PR changes the output returned from `dsolve`/`solve` etc.

Ideally we should avoid changing the form of the returned solution unless it is an improvement. Sometimes it's not possible to fix one issue without changing the form of t

[2019-02-27 18:45] sharma-kunal commented on #15724
@oscarbenjamin @ethankward Can you please review the PR ?

[2019-02-27 18:50] asmeurer commented on #16089
I agree. Furthermore, simplify() can be an expensive function and it would not be good to call it in the tests.

[2019-02-27 18:54] asmeurer commented on #16090
Is it doing this because an Add of numeric terms is sorted numerically?

[2019-02-27 18:59] asmeurer commented on #16097
Yeah the compileall bit is confusing, because it doesn't stop at a syntax error. But we have to do it first to catch the escape sequences.

This code is very finicky (it took several PRs to get the logic correct). I think the best thing to do would be to not do the compileall step in the code quality build. It will be done in other builds, so it isn't a huge issue.

[2019-02-27 19:55] oscarbenjamin commented on #16097
Okay so this output is coming from
[https://github.com/sympy/sympy/blob/33b64d7a684fe3c736f9db6afca1b351c2a8e81f/.travis.yml#L261](https://github.com/sympy/sympy/blob/33b64d7a684fe3c736f9db6afca1b351c2a8e81f/.travis.yml#L261)

There is `-q` flag to compileall:
[code]

With that I get:
[code]
and none of the other extraneous output.

[2019-02-27 19:59] oscargus commented on #16036
The explanation was not so good for Lambda. The symbol is the arrow used. There are more things that must be printed.

I think zeta etc can be easily solved in the mathml_tag dictionary. I actually just about to try it out in another PR (for all functions above which is replaced by a single character).

[2019-02-27 20:01] Pranay144 commented on #16086
If we try something like this:

`import sympy`
`from sympy.abc import *`
`s = (u"text")`
`print(sympy.srepr(s))`

Outputs:

'text'

[2019-02-27 20:01] asmeurer commented on #16097
I must have missed that flag before. It seems it still does the right thing for invalid escapes.

[2019-02-27 20:14] oscarbenjamin commented on #15724
I think this might be the place that normally handles that but it should really be the very last thing that happens in `dsolve`:
[https://github.com/sympy/sympy/blob/fe3dea79551bbeab86011361af2364abc53105f6/sympy/solvers/ode.py#L2330](https://github.com/sympy/sympy/blob/fe3dea79551bbeab86011361af2364abc53105f6/sympy/solvers/ode.py#L2330)

[2019-02-27 20:15] oscarbenjamin commented on #15724
Sorry that last message was intended for the PR. I've recommented there.

[2019-02-27 20:36] oscarbenjamin commented on #16097
So the change needed is to add the -q flag in .travis.yml.

[2019-02-27 20:45] oscargus commented on #16036
@shubhamabhang77 Look at this for how Lambda should be printed (the LaTeX column):
![image](https://user-images.githubusercontent.com/8114497/53521618-e9b7e200-3ad8-11e9-8e4d-faadbbf9f634.png)

Tuple is added in #16065 which is still to be merged (although I think that will happen quite soon).

[2019-02-27 22:33] oscarbenjamin commented on #13618
This seems to be fixed now. I'll close - feel free to open if it doesn't seem fixed to you:
[code]

[2019-02-27 22:33] #13618 closed

[2019-02-27 22:38] oscarbenjamin commented on #13608
I get this on master for that general form:
[code]
Probably a simpler output is possible if you say what A, B and C should be.

Is this still an issue or should I close it?

[2019-02-27 22:41] oscarbenjamin commented on #13592
I would rather explicitly list all the things that are being imported in the `__init__.py` files. That does mean you have to explicitly add things if you want them to make it to the main sympy namespace but I think that's a good thing.

[2019-02-27 22:48] asmeurer commented on #13592
You mean the top-level `sympy/__init__.py` should list everything, in addition to the lower level ones (like `sympy/solvers/__init__.py`)?

[2019-02-27 22:53] asmeurer commented on #13592
Actually I guess you have to define `__all__` in the main `sympy/__init__.py` in order to avoid the module names from being included in `from sympy import *`. So we might as well duplicate the imports as well. But we should include some code quality checks that

- `__all__` and imported names match each other
- Any name in `__all__` in a submodule that is imported in `sympy/__init__.py` is actuall

[2019-02-27 22:57] asmeurer commented on #13592
There's also https://github.com/sympy/sympy/issues/13525. I thought of closing this as a dupe of it, but I guess they are technically different. To fix this issue, we need to define `__all__` in `sympy/__init__.py`. But that issue is about defining `__all__` in each submodule's `__init__.py`. That issue can be fixed separately of this one. It is also most likely a prerequisite of fixing this one,

[2019-02-27 23:00] asmeurer commented on #13525
We definitely should be using `__all__` in every `__init__.py` file, but I don't know if it is worth putting in every `.py` file as well. I only see that as worthwhile for files that aren't included in `__init__.py`, but are still usable by end users. For example, `sympy.utilities.autowrap`. In many cases we should consider whether it's better to just add the functions to `__init__.py`.

[2019-02-27 23:04] asmeurer commented on #13608
I get the same. And `simplify(integrate(t / (A*t**2 + B*t + C), t).diff(t))` produces the original expression. I think it can be closed, unless we want to add a test for it.

[2019-02-27 23:23] oscarbenjamin commented on #13592
What makes you think that import time would be affected in any significant way at all?

CPython is well optimised for importing lots of .py files that define functions, classes and basic data structures. Using `__all__` or not will not significantly affect the fact that the interpreter has to read many files and parse many things. Probably some SymPy imports involve symbolic computations that coul

[2019-02-27 23:27] oscarbenjamin commented on #13608
It's possible that @jacluff1 had a particular combination of coefficients that caused trouble. We should allow time to respond.

I'm going to create a label "could-close" for this situation - after some time if there is no response it can be closed.

[2019-02-27 23:34] asmeurer commented on #13592
You're probably right. It's just good to check things when refactoring the import system, to be sure. Doing `list +=` a bunch of time shouldn't be slow, but we should make sure.

And of course anything else that slows down the import time should be sped up too, if possible. Ideally no symbolic computations should happen at import time. I think a lot of the things in your profile could be improved.

[2019-02-27 23:54] oscarbenjamin commented on #13525
On a basic level `__all__` interacts with the star-import machinery of the interpreter. On a different level though it serves to document the *public* contents of a module. That means that any changes to the public contents can be reviewed so I am in favour of using it everywhere: explicit is better than implicit.

[2019-02-28 00:06] oscarbenjamin commented on #13582
On current master I get this:
[code]
So it seems to be working now.

[2019-02-28 00:24] oscarbenjamin commented on #13497
What is `Sol` in this example?

When I run this I get:
[code]

[2019-02-28 00:27] oscarbenjamin commented on #13490
Your example has a syntax error because of the extra `=`. Deleting that it seems to work fine:
[code]
(No AssertionErrror)

[2019-02-28 00:31] hoyeunglee commented on #13497
I lost the script due to my notebook leak electricity and long time not used, you can guess an example to have complex number as solution then try this in sympy then you will know.

[2019-02-28 00:35] oscarbenjamin commented on #13465
This came up recently on the [mailing list](https://groups.google.com/forum/#!topic/sympy/x80-mTsXQx8).

I think it would be reasonable to change from Easy-to-fix to Good-first-issue except that it's difficult to get everyone to understand a change when many people are involved. The question that needs answering is: how important is this?

[2019-02-28 00:46] oscarbenjamin commented on #13397
This integral works for me now on master:
[code]
(assuming that's correct...)

[2019-02-28 00:49] oscarbenjamin commented on #13396
@akash9712 is that the correct solution? I haven't spent any time thinking about this yet...

[2019-02-28 00:52] oscarbenjamin commented on #13497
Hi @hoyeunglee can you be more specific? i'm sorry I don't understand your explanation.

Can you show an example of code that produces this error?

[2019-02-28 01:30] asmeurer commented on #13525
More files aren't intended to be imported directly. Unless the functions aren't included in an `__init__.py` I would say it's actually bad to use fullly qualified imports outside of library code because it's not a part of the API. That is, we could move a function to a different file or rename a file and it wouldn't be considered an API break.

However, inasmuch as `__all__` serves as documentatio

[2019-02-28 02:49] #16045 closed

[2019-02-28 05:30] sylee957 commented on #10519
I have rebased the old branches to my fork, and could generate some coverage reports, despite some timeout issues

https://codecov.io/gh/sylee957/sympy/branch/codecov

But I don't know whether this project is valid at this point.

[2019-02-28 05:55] akash9712 commented on #13396
@oscarbenjamin Although the first part of the answer, `{0}`  satisfies the equation, I am not sure about the values included in the intersection.
[code]
I think both LHS and RHS should evaluate to `zoo` on replacing `y` with `+\- sqrt(-x**2 + zoo)` for a finite and non-zero `x`.

[2019-02-28 06:44] sidhantnagpal commented on #16034
Thanks for pointing out. I have updated the obsolete links in the References section. See https://github.com/sympy/sympy/wiki/Development-workflow#references.

[2019-02-28 06:44] #16034 closed

[2019-02-28 07:43] #16087 closed

[2019-02-28 08:03] jksuom commented on #13608
I think that there is currently no support for completing the square in `sqrt(A*t**2 + B*t + C)`. With `B = 0`, `manualintegrate` will find an antiderivative.

[2019-02-28 08:07] oscargus commented on #16090
The only case I can think of it the type of symmetry that you @nickovs is mentioning. Then, I assume most people would actually prefer `{π - x², π + x²}` which I guess just shows that it is a very hard problem to get it correct all of the time ("put constant to the left if there is another expression somehow printed at the same time where that is better", which may be feasible in e.g. sets or boun

[2019-02-28 08:17] jksuom commented on #13397
It look correct to me. Closing.

[2019-02-28 08:17] #13397 closed

[2019-02-28 08:29] jksuom commented on #13525
When debugging some functions in a file, I usually start with `from sympy.... import *`. Some files put only a few functions (and no classes) in  `__all__`, and then I have to write out explicitly `from sympy.... import xxx, yyy, ...`. I would prefer having no `__all__` in such files.

[2019-02-28 09:43] oscarbenjamin commented on #13396
A simpler example:
[code]

Actually it's clearly not right since we're solving over the reals so the solution should be a subset of the reals.

[2019-02-28 09:46] oscarbenjamin commented on #13608
Good point @jksuom  :)

I missed off the square root:
[code]

With `B=0` it does work:
[code]

So I guess the issue is adding support for completing the square inside the square root.

[2019-02-28 09:51] oscarbenjamin commented on #16090
I've often wondered what it is but is this what `could_extract_minus_sign` is for?
[code]

[2019-02-28 14:18] shubhamabhang77 commented on #16036
Suppose ```Lambda(x, x+1)``` is the expression , then how can one access the arguments which are in bracket i.e. ```x``` and ```x+1``` ?

[2019-02-28 14:30] nickovs commented on #16090
@oscarbenjamin I'm not quite sure what `could_extract_minus_sign` is designed for but it does something slightly different to what we need. That said, looking at the implementation it seems like if I have a term `t` then `t.extract_multiplicatively(-1)` does exactly what we need.

At first glance It seems that replacing my original patch with:
[code]
does pretty much exactly what we need. It certa

[2019-02-28 14:43] nickovs commented on #16090
@oscargus Regarding fixing up longer expressions, I think that displaying `x - x² + 1` would be less desirable than the current `-x² + x + 1` because having the polynomial terms out of order would be confusing and terms would get visually lost. In this case `1 + x - x²` might be better (i.e. reverse the whole thing) but when reversing additions with more than two terms the visual distance between

[2019-02-28 14:48] ritik-gupta commented on #15448
issue solved? If not then i would like to contribute to this issue.

[2019-02-28 14:49] shubhamabhang77 commented on #16036
Should it look like this?
[code]

[2019-02-28 15:28] divyanshu132 commented on #15926
I'm working on deficient and will try to cover abundant as well.

[2019-02-28 15:59] moorepants commented on #10519
We would like to have some kind of coverage reporting that works consistently on CI. There are different options. If you have something working, I recommend submitting a PR for discussion.

[2019-02-28 16:26] nickovs commented on #16090
I've built a fix for this: https://github.com/nickovs/sympy/commit/6159952e8ccc4592b298531250d0f493f40278e6. It turns out that now that the code is a little more general it helps to perform the regular ordering first and then patch up the result afterwards if necessary. As a side effect this also reduces the total work and the code is smaller.

I have not as yet fixed up all of the numerous doctes

[2019-02-28 16:29] oscarbenjamin commented on #16090
One way to demonstrate the doctest changes is by pushing a PR so we can see the failing doctest output on Travis.

[2019-02-28 16:43] nickovs commented on #16090
@oscarbenjamin I could do that. In general I don't like pushing half-done PRs that fail stacks of tests (and for which the test output ends with `DO *NOT* COMMIT!`). Also running a full battery of tests on travis takes sufficiently long as to actually cost someone a non-trivial amount of money for the CPU time and possibly warms the planet by a measurable amount :-)

Instead I have parked a copy o

[2019-02-28 16:56] oscarbenjamin commented on #16090
We've changed the way that Travis runs the tests now so it wouldn't use as much time as you think if it's based off recent master.

[2019-02-28 17:02] oscarbenjamin commented on #16090
What's happening [here](https://gist.github.com/nickovs/682a83ba6c02021ba600445cdee2f45d#file-doctest_output-L1083):
[code]

[2019-02-28 17:08] proy87 opened #16105 "Incorrect result of cancel"
`(-1 + 3*I)/(-1 + 3*I).cancel()` returns `-(-1 + 3*I)*(1 + 3*I)/10` instead of `1`.

[2019-02-28 17:12] nickovs commented on #16090
I've no idea. My code only re-orders the results of `as_ordered_terms()` so my best guess is that the solver is calling `as_ordered_terms()` without explicitly specifying `order=...` and making an assumption about the ordering that will be returned. I'd argue that that would be a bug in the solver not my code, but it's still clearly a bug.

[2019-02-28 17:40] supreet11agrawal opened #16107 "Benini distribution allows non valid parameters"
Currently, the parameters used in Benini distribution can take non-positive values as well.
According to https://en.wikipedia.org/wiki/Benini_distribution the shape parameters (alpha and beta) and scale parameter(sigma) must be positive.
To reproduce the issue
[code]
Any permutation of signs of `alpha`, `beta` and `sigma` (with at least one of them being non positive) works fine

[2019-02-28 18:23] asmeurer commented on #10519
Let me know if you need me to enable a GitHub integration.

[2019-02-28 18:28] asmeurer commented on #16107
When fixing this, the check should be `if parameter.is_positive is False` rather than `if parameter.is_positive is True`, so that `parameter.is_positive == None` still works.

[2019-02-28 18:40] sidhantnagpal commented on #16105
It looks like the expression is being reduced even before `cancel` is called.
[code]

[2019-02-28 18:44] asmeurer commented on #16067
You mean it should be positive?

I think it's a good idea. Complex geometry can have different properties than real geometry. For example, two real circles may intersect in the complex plane

[code]

Actually there's a theorem in algebraic geometry that tells you that two curves in the complex plane always intersect, except in certain degenerate cases.

So it's not just a question of allowing comp

[2019-02-28 18:49] jksuom commented on #16105
`expand` will simplify expressions of this type.

[2019-02-28 19:02] oscarbenjamin commented on #16090
And [this one](https://gist.github.com/nickovs/682a83ba6c02021ba600445cdee2f45d#file-doctest_output-L3121):
[code]

[2019-02-28 19:05] oscarbenjamin commented on #16090
I've been through all of those doctests. The vast majority of changes are improvements. There's a few cases where it looks a little less good but we can't win them all so I'm happy with this.

Need to follow up on those two cases though. It seems as if `as_ordered_terms()` is affecting the symbolic representation.

[2019-02-28 19:06] nickovs commented on #16090
That second one is correct; `-(y - x)⋅(z - y)` is equal to `-(x - y)⋅(y - z)`.

[2019-02-28 19:09] oscarbenjamin commented on #16090
I agree that it's correct but why has this change affected the result?

I thought this was just about ordering but there it's cancelled a minus sign between the two factors.

[2019-02-28 19:35] nickovs commented on #16090
I fear that the second one might have been correct only by luck.

Digging into the call history for calls to the new code from the `solveset.py` case, it seems that there calls to `signsimp()` that result in calls to expr.sort_key() without an explicit order and this calls the new code, and also calls from `parallel_poly_from_expr()` which end up calling `__str__()` and then applying a regex the t

[2019-02-28 19:59] nickovs commented on #16090
Moving the code back to `printing.printer._as_ordered_terms()` makes both of the problems identified above go away. The new set of output changes can be found here:
https://gist.github.com/nickovs/22e884760b02fa5040985b408a5dfd5e

[2019-02-28 20:24] oscarbenjamin commented on #16090
I think having this in `as_ordered_terms` is fine. As @asmeurer [said](https://github.com/sympy/sympy/pull/15985#issuecomment-463866880): it may even unearth some bugs.

Can you open a separate issue for cse? For this issue you can just change the doctest since it's no more or less correct than before.

[2019-02-28 20:34] oscarbenjamin commented on #16090
For tsolve both values are the same:
[code]

[2019-02-28 21:24] nickovs commented on #16090
Right. I hadn't spotted that it was `-log(... 2/9)` and `log(... 9/2)`, so these are the same value. So, it seems that the patch as proposed doesn't break any results, it only changes the way that the results are presented.

[2019-02-28 22:51] oscarbenjamin commented on #13263
The problem seems to boil down to:
[code]
so it works if you're solving for y and z but not if you're solving for derivatives of f(x).

Seems to work for one equation but not two:
[code]

[2019-02-28 22:53] oscarbenjamin commented on #13234
Looks like this is fixed upstream so I'll close this.

[2019-02-28 22:53] #13234 closed

[2019-02-28 23:09] oscarbenjamin commented on #13203
Output seems to have changed. On current master:
[code]
so still not correct.

[2019-02-28 23:11] oscarbenjamin commented on #13197
Is this still an issue?

[2019-02-28 23:17] oscarbenjamin commented on #13181
I no lonbger see the `ValueError` although it seems this is now deprecated:
[code]

The second example doesn't raise any error now:
[code]

[2019-02-28 23:51] smichr opened #16110 "[LGTM]: loop variable not used in diophantine"
Instances of `for v1 in` should be changed to `for var in` (2 of them) in diophantine.py.

Here is a test case:

[code]

[2019-02-28 23:51] oscarbenjamin commented on #13170
This seems to work now on master:
[code]
Does that look okay to you?

[2019-02-28 23:56] smichr commented on #11959
solved in #11989

[2019-02-28 23:56] #11959 closed

[2019-03-01 00:34] oscarbenjamin commented on #13160
Looks like this is fixed.

[2019-03-01 00:37] oscarbenjamin commented on #13136
Can you explain what this means?

[2019-03-01 00:43] oscarbenjamin commented on #13097
This seems to work fine now:
[code]

[2019-03-01 00:52] PorcelainMouse commented on #13197
No, it appears to not be happening anymore.  Thanks for asking; I forgot to check on it.

[2019-03-01 01:07] oscarbenjamin commented on #13197
Great. Thanks for responding!

I'll close this now but obviously let us know if you find more problems...

[2019-03-01 01:07] #13197 closed

[2019-03-01 05:57] sylee957 opened #16111 "Matrix sympify in SymEngine"
<img src="https://user-images.githubusercontent.com/34944973/53619162-b8065e80-3c31-11e9-92c2-78b268747232.png" width="512px">

Also may relate to the issue #15790.
But symengine python wrapper preserves mutability

https://github.com/symengine/symengine.py/blob/5179f1718683ec29954b5a21a457acea66363c19/symengine/lib/symengine_wrapper.pyx#L446-L455

[2019-03-01 06:59] FrackeR011 commented on #16110
Replacing `for  v1 in` with `for var in` gives this output:
[code]

[2019-03-01 07:04] sidhantnagpal commented on #15858
Resolved in #15875 and #15882.

[2019-03-01 07:04] #15858 closed

[2019-03-01 09:56] divyanshu132 opened #16113 "Add function for Goldbach's conjecture"
Goldbach's conjecture says, Every even integer greater than 2 can be expressed as the sum of two primes.
https://en.wikipedia.org/wiki/Goldbach%27s_conjecture

[code]

[2019-03-01 10:23] jksuom commented on #13136
I think it could mean this: https://github.com/sympy/sympy/issues/15987.

[2019-03-01 10:34] hoyeunglee commented on #13497
![image](https://user-images.githubusercontent.com/5094741/53632668-86e95680-3c50-11e9-8443-2bf4878698b5.png)

i did not remember the equation i used in the past.

i just tried
from sympy import *
xx, y1 = symbols('xx y1')
sol1 = solve([Eq(y1 - exp(xx),0),Eq(xx - exp(y1),0)],[xx,y1])

[2019-03-01 10:35] jhanwar commented on #16113
I would like to take this issue.

[2019-03-01 10:37] divyanshu132 commented on #16113
@jhanwar I myself working on this.

[2019-03-01 11:12] jgersti opened #16114 "`polytope_integrate` confused by smbolic constants"
`polytope_integrate` gets confused by symbolic constants in expressions

[code]
the expected result is `0` instead
[code]
is returned. Removing the scaling factor gives the right result and replacing the symbolc constant by an numeric one (`numpy.sqrt(3)`) gives an approximately right result.

win10 + python 3.7.2 (x64) + sympy 1.3

[2019-03-01 11:23] sylee957 opened #16116 "Displaying geometries in IPython had changed from svg to latex"
<img src="https://user-images.githubusercontent.com/34944973/53634822-996a8c80-3c5e-11e9-888e-885a652d48b1.png" width="384px">

#15368 had added `_repr_latex_` to all module, and I it is having more precedence than `_repr_svg_` which geometries have.

[2019-03-01 13:02] smichr commented on #16110
Indeed. var is used for the free symbols. So then change `var[0]` to `v1[0]` inside those two loops.

[2019-03-01 13:05] smichr commented on #16105
Note, too, that applying cancel in this way would only act on the expression within the preceding parens (i.e. the denominator). But that issue aside, the `expand` is your ticket for 1 in this case.

[2019-03-01 13:05] #16105 closed

[2019-03-01 13:08] smichr commented on #16113
SymPy is not really the vehicle for proving a conjecture like this.

[2019-03-01 13:08] #16113 closed

[2019-03-01 13:43] pragyanmehrotra commented on #16116
Hi, can I try this issue if it still needs fixing?

[2019-03-01 14:17] oscarbenjamin commented on #13497
Okay well that's a very different error message.

Do you think that SymPy should be able to solve this?

[Wolfram](https://www.wolframalpha.com/input/?i=solve+y+-+exp(exp(y))+for+y) only finds numerical solutions. SymPy can also find those:
[code]

[2019-03-01 15:09] smichr opened #16118 "[LGTM] non-iterable loop variable"
This [line](https://lgtm.com/projects/g/sympy/sympy/snapshot/dist-1950035-1542114507979/files/sympy/stats/joint_rv.py?sort=name&dir=ASC&mode=heatmap#L108) should read `for i in range(len(other)):` or `for i in range(len(rvs)):`. Either is fine; the latter is more direct.

[2019-03-01 15:11] oscargus commented on #16036
Yes, that should most likely work.

[2019-03-01 15:22] smichr commented on #16118
@rneatherway Do you know if there is a better way to do the following so it doesn't raise an LGTM warning? `[Dummy() for i in z]` -- that will warn that the loop variable `i` is not used.

One could do `list(map(Dummy, [None]*len(z)))` but that looks obtuse; would it warn if `_` were used as the loop variable: `[Dummy() for _ in z]`?

[2019-03-01 15:24] oscargus commented on #16118
Unfortunately, the LGTM issues have not been updated since mid July, so it has been fixed already:
https://github.com/sympy/sympy/blob/a302bbeb5fa4418be4ad82b6b5b3607de3f2d65d/sympy/stats/joint_rv.py#L149

[2019-03-01 15:26] smichr commented on #16118
Thx.

[2019-03-01 15:28] smichr commented on #16118
I will see if anyone has an idea about the other question I asked.

[2019-03-01 15:28] shubhamabhang77 commented on #16036
I have implemented some functions.

[2019-03-01 15:29] #16110 closed

[2019-03-01 15:30] oscargus commented on #16118
Probably "If you want to remove only this alert (and not other similar alerts), you can add the comment lgtm [py/unused-loop-variable] to the end of line 1128" may be the easiest approach, but it would indeed be interesting to avoid comments like this in the code.

[2019-03-01 17:58] oscarbenjamin opened #16120 "Use pytest with xdist for multicore tests on Travis"
I just discovered that Travis actually runs jobs with 2 cores. The current tests all run in a single process so only using one of those cores.

A quick timing of the ODE module (non-slow) tests shows that:
1. `bin/test sympy/solvers/tests/test_ode.py` takes 347 seconds
2. `pytest sympy/solvers/tests/test_ode.py -m 'not slow'` takes 313 seconds
3. `pytest sympy/solvers/tests/test_ode.py -m 'not slo

[2019-03-01 18:04] smichr commented on #16118
One could have a dummies iterator:
[code]

[2019-03-01 18:18] oscarbenjamin opened #16122 "Use @skip instead of "too slow for Travis""
Currently a number ot tests are marked as being "too slow for Travis". Those tests should instead be skipped using `@skip` or some other marker so that they skipped by default both with bin/test and pytest when run locally as well as when run on Travis.

The idea that these tests are too slow for Travis but not too slow for local tests is the wrong way round since few contributors run the full tes

[2019-03-01 18:44] shubhamabhang77 commented on #16036
I am getting some error while implementing floor and ceiling.
[code]
but when I try some example
I get this.
[code]
do you why this happens?

[2019-03-01 18:44] asmeurer commented on #16118
Where is this coming from? I only found one instance of this grepping through the code, in `test_function.py`, and lgtm seems to be showing an older version of the file without it https://lgtm.com/projects/g/sympy/sympy/latest/files/sympy/core/tests/test_function.py?sort=name&dir=ASC&mode=list.

This really shouldn't be giving a warning. Unused loop variables happen all the time. Python forces you

[2019-03-01 18:46] shubhamabhang77 commented on #16036
I am getting some error while implementing floor and ceiling.
[code]
but when I try some example
I get this ```&amp;``` extra.
[code]
do you why this happens?
This is the case for ceiling as well.

[2019-03-01 18:50] smichr opened #16123 "symbolic divisor_sigma"
`divisor_sigma(a**k*b**j, 1)` where `a` and `b` are prime and `k` and `j` are positive integers is `(a**(k+1)-1)/(a-1)*(b**(j + 1) -1)/(b - 1)`. Right now, the only case that is recognized symbolically is `divisor_sigma(a) -> a + 1`.
[code]

[2019-03-01 18:54] asmeurer commented on #16118
Although to be sure, the line in `test_functions.py` would be better as `symbols('xi_:3', cls=Dummy)`.

[2019-03-01 18:56] rneatherway commented on #16118
That's a good question, we already have a concept of variables that it is acceptable not to use, and as the queries are open-source you can see that (if you know the right place to look!). Your underscore intuition matches ours:

https://github.com/Semmle/ql/blob/66013272dabbca841b0e3362dff71faea7acd78b/python/ql/src/Variables/Definition.qll#L136

[code]

Or if you aren't a fan of the query at all

[2019-03-01 19:04] asmeurer commented on #16122
People very rarely run the slow tests locally. If you do, it is recommended to use a `--timeout`. There are some slow tests that do finish, but only after a while. The whole point of the `@slow` decorator was to skip the tests, but still allow a way to run them if desired. But then people decided that they should be run on Travis if possible, so there was a dilenation.

With that being said, a tes

[2019-03-01 20:26] oscargus commented on #16036
I've also got that. The only way I have figured out is to add the Unicode character in the code. This will be translated to the correct code once printed.

Look at https://www.tutorialspoint.com/mathml/mathml_algebra.htm and copy the symbol from the left-most column.

[2019-03-01 20:28] oscargus commented on #16036
Or maybe better is to use `u"\u2309"` etc as that does not require that the file is saved using Unicode.

[2019-03-01 20:28] #15926 closed

[2019-03-01 20:52] jhanwar opened #16124 "Adding a function for Collatz sequence (Collatz Conjecture)"
Collatz Conjecture is one of the unsolved problem in Mathematics.
If you take any positive number n:
If it is odd, n = 3*n+1, if it is even, n = n/2
and n will eventually converge to 1. This has not been proved yet that why this happen.
http://mathworld.wolfram.com/CollatzProblem.html
Can we add function for collatz sequence?
`collatz_sequence(10) = [10, 5, 16, 8, 4, 2, 1]`

[2019-03-01 20:54] jhanwar commented on #16124
I would like to take this issue if this function will be useful for sympy.

[2019-03-01 21:00] kmeagle1515 commented on #10696
Hello @asmeurer should i work on it?

[2019-03-01 21:02] kmeagle1515 commented on #10446
Hello  @moorepants should i work on it?

[2019-03-01 21:13] ethren opened #16125 "Cannot solve system of ODE"
I am trying to solve this system of ODEs

[code]
But I

[2019-03-01 22:26] oscargus commented on #16036
@shubhamabhang77 feel free to "assign" some functions for you to work on. No problems if you unassign them later. Better that than we work on the same functions.

[2019-03-01 23:54] smichr opened #16127 "iterables could use rotations"
Would a simple routine to return the rotations of a sequence be something useful in iterables?
[code]

[2019-03-01 23:59] asmeurer commented on #16066
Is there a good Javascript renderer for MathML or do you have to use Firefox?

[2019-03-02 00:04] asmeurer commented on #16066
Thanks for opening this. The printers should all be as consistent as possible. I almost exclusively use the Unicode pretty printer, but I think most users these days use the LaTeX printer in the notebook (it will be especially true after 1.4 is released , which [won't require `init_printing`](https://github.com/sympy/sympy/pull/15368)).

As much as possible they all should format the same. There a

[2019-03-02 02:37] divyanshu132 commented on #16127
I would like to take this.

[2019-03-02 02:38] divyanshu132 commented on #16123
I'm taking this.

[2019-03-02 03:36] RituRajSingh878 commented on #15580
[code]
It is working now in sympy master(i don't know from which patch) So I think this issue can be closed.

[2019-03-02 07:51] hoyeunglee commented on #13497
i can not search and find my old code in old notebook, i will use nsolve instead of solve in future when meet again, thank you.

[2019-03-02 07:52] hoyeunglee commented on #13497
please close case.

[2019-03-02 07:53] AkashAli506 opened #16132 "sympy/sympy/functions/elementary/exponential.py"
I think comments should need to be added in each function of " sympy/sympy/functions/elementary/exponential.py" file so everyone can easily understand the functionality of the functions.

[2019-03-02 12:06] oscarbenjamin commented on #13497
Okay thanks for checking this. I'll close this now but please let us know if you have other problems in future.

[2019-03-02 12:06] #13497 closed

[2019-03-02 12:08] oscarbenjamin commented on #16132
What sort of comments would you want to add?

A PR that makes the code easier to understand would seem reasonable.

[2019-03-02 12:08] oscarbenjamin commented on #16132
Perhaps adding something to the docs might make sense instead/also.

[2019-03-02 12:16] oscarbenjamin commented on #16122
I think that either way it should be straight-forward to locally run the same tests that would be run on Travis. The fact these tests are not marked means I can't specify not running them with pytest except with '-m not slow or not xfail' which is not exactly the same.

Having some tests marked as too slow for Travis would be fine if there was an actual decorator marker (`@too_slow`) rather than a

[2019-03-02 12:27] oscargus commented on #14700
The question if Quine-McCluskey is sub-optimal or if it is an issue in the Sympy implementation of Quine-McCluskey?

It should be possible to use the `qq` expression as a start here as that gives a longer expression compared to the original.

[2019-03-02 12:33] oscargus commented on #14700
May relate to #13649 in the sense that it is not clear what is minimized...

[2019-03-02 12:46] shubhamabhang77 commented on #16036
I have made a PR. Take a look at it.

[2019-03-02 13:39] oscargus opened #16137 "Logic equation suggestions"
While working a bit with the logic module I ran into a few things that can be improved:

 - [ ] After (If) #15912 is merged, `simplify` will no longer rewrite Xor to And/Or. However, it would be useful if `.rewrite(And)` is available. (I tried adding `_rewrite_as_And` but that wasn't called. With that said, I am not completely sure that it is the correct way.)

 - [ ] It is useful to be able to  r

[2019-03-02 13:46] oscarbenjamin opened #16138 "Solve ignores dict=True when bools are in the input equations"
The docstring for solve says:
[code]

However when given a list of Eqs where one of the Eqs has auto-evaluated to `True` it doesn't return a list of dicts:
[code]

[2019-03-02 13:55] oscarbenjamin commented on #16125
On master I get a different error:
[code]
This is failing earlier since it is failing in classifysysode. Maybe there has been a regression there as well...

[2019-03-02 13:59] #16107 closed

[2019-03-02 14:22] #16132 closed

[2019-03-02 14:39] zenith997 opened #16140 "subs method doesn't work with a partial derivative"
from sympy import *

x, y = symbols("x,y")
a, b = Function("a")(x,y),  Function("b")(x,y)
U = Function("U")(a,b)

from sympy import diff as D

#this doesn't work
( D(U,x) ).subs( D(U,a), 0 )

#Note, however:
In [1]   (D(U,x)).args[0].args[1] == D(U,a)
Out[1]   True

[2019-03-02 14:43] divyanshu132 commented on #16123
@smichr can you please crosscheck the result of above substitution will be `1944` and for the current master I'm able to evaluate it.

[2019-03-02 14:48] #11948 closed

[2019-03-02 15:23] ritesh99rakesh commented on #16059
I would like to fix this, but since I am new to sympy, could you guide me what has to be done here. Thanks for your help.

[2019-03-02 15:47] oscarbenjamin commented on #16124
Can the sequence be used for anything?

[2019-03-02 16:11] ethren commented on #16125
Sorry, there is a typo: `I = Function('I')` instead of `I = Function('V')` but I still get the same error after correcting this typo.

[2019-03-02 16:30] jhanwar commented on #16124
It can not be used anything in particular. But there is lot of research going on proving this fundamental property of positive numbers. So, the whole point lies to the analysis of the collatz sequence. In that only aspect, it would be useful.

[2019-03-02 16:41] ethren commented on #16125
After downloading `sympy 1.4 dev` I think it works, returning the following result:
[code]

[2019-03-02 16:46] oscarbenjamin commented on #16125
I got very confused there before realising that you had edited your initial post. Can you put EDIT: when you do that in future?

Now I can reproduce what you get on master:
[code]
Running that:
[code]

Taking away the ics (`pprint(dsolve(system, [V(t), I(t)]))`) I see that the general solution is very complicated:
[code]

I think this is another example of #15474. `classify_sysode(system)` gives:

[2019-03-02 16:48] oscarbenjamin commented on #16125
That looks like the general solution since it has constants (e.g. C1) in it. Does it work if you pass `ics`?

[2019-03-02 16:49] oscarbenjamin commented on #16124
Is there anywhere in the sympy code that has similar things?

[2019-03-02 16:59] ethren commented on #16125
Sorry for the confusion.
I have to mention that now I am using 1.4 dev version of Sympy:
**The following code works (note the highlighted changes to the original code)**

[code]

[2019-03-02 17:02] ethren commented on #16125
The code above works only if `ics` is not passed.

[2019-03-02 17:07] smichr opened #16144 "shortcut for is_perfect"
Since "Every even perfect number ends in 6 or 28 base 10" that would be a good first check for the newly added `is_perfect` function in ntheory:
[code]

[2019-03-02 17:32] oscarbenjamin commented on #16125
We can make dsolve use the 3eq solver by adding a dummy ODE to the system. Unfortunately that doesn't work with non-homogeneous problems so I removed that term to see what the solution looks like. The complementary function for your system can be found with the following:
[code]

Then classify gives:
[code]
so it will be solved with the 3eq type6 solver. That gives the general solution:
[code]
And

[2019-03-02 17:36] jhanwar commented on #16124
There are different series(Fibonacci, Bell) but i think there is no code about any conjecture in sympy.

[2019-03-02 17:36] jhanwar commented on #16144
I will take this

[2019-03-02 17:46] #14643 closed

[2019-03-02 17:59] oscargus commented on #14643
I introduced an overrideable limit of eight variables (about five seconds on my computer) in #16134 so this should, in some sense, be fixed now.

[2019-03-02 19:26] s1291 commented on #16125
Here is the solution returned by Matlab:

`I(t) = exp(-(t*((C*(C*L^2 - 2*C*L*R1*RC - 4*L*RC^2 + C*R1^2*RC^2))^(1/2) + C*L + C*R1*RC))/(2*C*L*RC))*((I0*(C*(C*L^2 - 2*C*L*R1*RC - 4*L*RC^2 + C*R1^2*RC^2))^(1/2)*(C^2*L^2 - 2*C^2*L*R1*RC + C^2*R1^2*RC^2 - 4*C*L*RC^2)^(1/2) - C^2*I0*L^2 + 2*C^2*R1*RC^2*V0 - C*I0*L*(C^2*L^2 - 2*C^2*L*R1*RC + C^2*R1^2*RC^2 - 4*C*L*RC^2)^(1/2) + C^2*I0*R1^2*RC^2 + 2*C*RC*V

[2019-03-02 19:32] oscarbenjamin opened #16146 "Dsolve: TypeError with too many functions"
This is invalid since I'm asking to solve for 3 functions from 2 ODEs but the error should be detected properly rather than failing in this way:
[code]

[2019-03-02 19:36] rwbogl commented on #14126
Why is this an issue? Isn't the first sum `-1 + 1/0 + 1 = 1/0`? I think that `1 / 0` always evaluates as complex infinity in SymPy. Is there some reason that it shouldn't here?

The same is true for the second sum; it has some finite terms plus `1/0`. The third sum is `nan` because it is `-1 / 0 + 1/ 0 + ... = -zoo + zoo = nan`.

[2019-03-02 20:03] oscarbenjamin commented on #16125
Matlab's solution looks pretty horrible as well.

The reason the original form is so complicated is that it is using a Piecewise to distinguish the different conditions and the Piecewise can't simplify without assumptions on the symbols. Probably if you substitute numerical values for those symbols it will work fine.

Declaring `C` to be finite helps a bit but still gives a complicated result:
[co

[2019-03-02 20:27] #4838 closed

[2019-03-02 20:27] #13691 closed

[2019-03-02 21:22] ethren opened #16147 "Overriding the imaginary unit"
In case we import * from sympy
We could override many variables, for example the imaginary unit, `I`

In this example:

[code]

**Output**:
`{-2*I*sqrt(I), 2*I*sqrt(I)}`

Now in the solution expression, there are two `I`. The first one is the imaginary unit while the second (argument of sqrt is the one defined by the user).

Should Sympy warn the user when he/she overrides  Sympy variables? or sim

[2019-03-02 21:30] oscarbenjamin commented on #16147
The user should be careful when choosing variable names.

There is no way for SymPy to detect that you have written something like `I=1`. It would be possible to give a warning for `Symbol('I')` but SymPy defines so many different symbols that you could override that that isn't useful. If you display your output using pprint/init_printing in a unicode capable terminal you can see
[code]
so it is p

[2019-03-02 21:31] ethren commented on #16147
I think this is the same case in the symbolic toolkit of Matlab and it is the same behaviour

[2019-03-02 21:37] #16147 closed

[2019-03-03 00:56] ethren opened #16148 "draw method for geometry module"
The geometry module doesn't contain a draw method (I know it is not the direct purpose of this module).
Is it possible to implement this method? or at least provide a simple way to plot them using an external library (matplotlib)

**Example**:
[code]

[2019-03-03 01:07] #9292 closed

[2019-03-03 01:07] #15778 closed

[2019-03-03 01:08] #15852 closed

[2019-03-03 01:09] #6143 closed

[2019-03-03 02:49] sylee957 commented on #16148
It is possible to draw geometries in IPython

[code]
![image](https://user-images.githubusercontent.com/34944973/53690241-3f76dd80-3daa-11e9-8cb3-f83bd6b7cebb.png)

[2019-03-03 04:24] Jayfaldu commented on #16148
We need to implement it in the same way as it is in dislay_svg ?

[2019-03-03 04:26] wizardofhogwarts commented on #16084
Best method to solve this sort of integrals is to use series expansion or as we have a definite integral to solve we can use numerical approximation methods.
Here is a common identity:
`log(sin(x)) = -log2-cos(2x)-cos(4x)/2-cos(6x)/3- -------`

[2019-03-03 04:50] divyanshu132 commented on #16084
One of the way that I think will be easy to do is using `contour integrals`.
`log(sin(x)) = log|e^2*i*x - 1| - log2`

[2019-03-03 06:12] divyanshu132 commented on #14587
[code]

@jksuom can you please have a look at this. I think the `return` in the below definition with `True, True` is not doing anything, Similar behavior for `Lopen`, `Ropen` as well.

[code]
**So, should I proceed with manually incrementing and decrementing a and b.**

[2019-03-03 08:02] Mohitbalwani26 commented on #16144
i would like to work on this issue can you please guide me?

[2019-03-03 09:58] supreet11agrawal commented on #16144
@Mohitbalwani26 , @jhanwar has already submitted a PR for this issue. If you are new, I suggest you to look issues under _Easy to Fix_ label.

[2019-03-03 10:17] oscargus commented on #14700
I've found a simpler case where something similar happens:
[code]
As seen, the expression with don't cares gives a larger expression which should never happen.

The additional term is valid, but not required.

[2019-03-03 10:39] oscargus commented on #16137
In #16133 the ability to specify terms as dicts was introduced as well. Hence, `[{w : 1, x : 0}]` means that w = 1, x = 0 and all combinations of the other variables. So this is a way to input values with don't care in the input specification (no need to speciy all combinations explicitly).

[2019-03-03 11:21] supreet11agrawal opened #16155 "Equal functions evaluated as unequal"
To reproduce the issue,
[code]
Both `f1` and `f2` are equal as denominator of `f1` is just the expansion of denominator of `f1`.
Now,
[code]
I think that `f1 == f2` should be evaluated to `True`.

[2019-03-03 11:46] divyanshu132 commented on #16155
I think this is the default behavior of Sympy please look at the below example.
[code]

[2019-03-03 12:02] divyanshu132 commented on #16155
I think this is the default behavior of Sympy please look at the below example.
[code]

[2019-03-03 12:14] sidhantnagpal commented on #16155
Yes, that is intended behaviour (`==` refers to structural equality). See the gotchas section https://docs.sympy.org/latest/tutorial/gotchas.html#equals-signs for more information.

[2019-03-03 12:14] #16155 closed

[2019-03-03 12:42] ethren commented on #16148
@sylee957  is it possible to display that in a separate window?

[2019-03-03 14:12] oscargus commented on #14700
After #16133 the solutions are:

[code]
and
[code]
where the SOPform contains 11 terms, so one better.

[2019-03-03 14:15] oscargus commented on #13649
`simplify_logic` uses `SOPform` and `POSform` that returns the smallest two-level And-Or or Or-And expression. With smallest meaning minimum number of terms, where each term has as few terms as possible. Quine-McCluskey/Karnaughmap style.

The docs can be clearer though.

[2019-03-03 17:07] smichr commented on #16137
`*`

[2019-03-03 17:13] #14700 closed

[2019-03-03 17:54] RituRajSingh878 commented on #15194
[code]
I think here it should raise some error because it is meaningless and for that, there should be some conditions in the argument of `Derivative` like in` (x, x)` second argument should be a constant else it should raise an error.

[2019-03-03 18:30] #15984 closed

[2019-03-03 20:06] #16067 closed

[2019-03-03 20:14] asmeurer commented on #15194
The subs version makes sense (it means replace the variable x with the number n after differentiating). So should we allow the non-subs version as well?

[2019-03-03 20:18] asmeurer commented on #15194
Actually never mind I was think of the reverse substitution.

[2019-03-03 20:26] RituRajSingh878 commented on #16140
[code]
In current sympy, it is giving false.

[2019-03-03 22:21] smichr commented on #16124
The most interesting thing that I've seen is using it for image encryption. Very interesting read [here](https://www.researchgate.net/publication/329189953_A_Novel_Image_Encryption_Scheme_Based_on_Collatz_Conjecture).

Anyone interested in this sequence should consider what makes snowflakes unique yet symmetric (to a large degree) over a macroscopic scale despite the process being inherently molec

[2019-03-04 00:07] jhanwar commented on #16124
@smichr
Thank you so much for sharing this.

[2019-03-04 03:15] divyanshu132 commented on #16123
sorry, I misunderstood the purpose of divisor_sigma(). I will do the required changes.

[2019-03-04 03:20] asmeurer commented on #15580
The answer is still wrong. It should return `expr` back, and definitely shouldn't have an unbound dummy symbol in it.

[2019-03-04 05:42] ShubhamKJha commented on #16146
@oscarbenjamin I will take this issue. What properly needs to be done here?

[2019-03-04 06:36] XtremeGood commented on #16140
Well this is the same time of the error @oscarbenjamin is trying to solve in ode module.It is using different symbols E0 and E for the two expressions and thus treating them as different.I would like to solve it but it wouldn't be easy since these symbols are autogenerated just like integration constants and numbering is assigned on the basis of occurence of them in your program.I would like to so

[2019-03-04 06:41] XtremeGood commented on #16124
I had made a Collatz conjecture sequence implementation while solving Project Euler problems. It should be easy for me. Can I implement this?

[2019-03-04 06:43] XtremeGood commented on #16124
@jhanwar There is more more unproven conjecture i.e, Goldbasch Conjecture.Should implement that too if not present already.

[2019-03-04 07:01] XtremeGood commented on #16084
Contour integration is fine but this can be solved by chain rule too. Why don't we implement that? But maybe contour integration might be easier to do for many functions since spliting functions into two parts can be tough

[2019-03-04 07:44] Upabjojr commented on #15580
`.from_index_summation` is going to be deprecated eventually.

[2019-03-04 07:51] XtremeGood commented on #16078
It's doing the same even if you remove that 5. The easiest way to solve this type of integrals is to use to use Wallis's Integrals.Just a few line implementations using only the factorial/double factorial function for any f(x)=cos^m(x ) * sin^n(x)
https://en.wikipedia.org/wiki/Wallis%27_integrals
Basically using gamma and Beta function.I would love to implement that.

[2019-03-04 08:49] RituRajSingh878 commented on #16138
https://github.com/sympy/sympy/blob/0d93891268729373339dddc759f7320c85dc4851/sympy/solvers/solvers.py#L981
I have gone through the code and I find that when bool is present it returns directly without checking other flags so in such case all flag is useless.

[2019-03-04 10:08] oscarbenjamin commented on #16146
The code that checks the arguments for `dsolve` isn't working properly. This should give a message to the user explaining that they have provided invalid arguments rather than failing in the middle like this.

[2019-03-04 10:10] XtremeGood commented on #16146
dsolve requires too many fixes. Can I choose it as my gsoc project?

[2019-03-04 10:17] oscarbenjamin commented on #16140
It will work if you use doit:
[code]

I wonder why that doesn't happen automatically. Maybe that should be fixed...

[2019-03-04 10:21] oscarbenjamin commented on #16138
I wonder why it does that. That line was add in #13204.

I would think that solve should return an empty list of any equation is `False` and ignore any equation that is `True` but maybe I'm misunderstanding...

[2019-03-04 10:29] oscarbenjamin commented on #16146
`dsolve` needs a lot of work. I think there is something for dsolve listed in the GSOC projects.

[2019-03-04 10:30] oscarbenjamin commented on #16146
Can you please use the mailing list for that kind of discussion though. This page is for discussin this particular issue with dsolve.

[2019-03-04 10:31] ShubhamKJha commented on #16146
@oscarbenjamin I will try to work on the code as you suggested.

@XtremeGood I think this is happening because the code of `dsolve` is tied to whole `ode` module and this module has been worked upon by many I guess. I will try to look into whole `ode` module for some time to make it more consistent and expandable.

[2019-03-04 10:36] XtremeGood commented on #16078
Here's the code for how to return an answer but the big problem is to create a checker...
[code]

[2019-03-04 10:43] #16127 closed

[2019-03-04 14:46] divyanshu132 commented on #16078
@XtremeGood I think better to ask @jksuom.

[2019-03-04 14:48] XtremeGood commented on #16078
Well, is this issue also raised by him?

[2019-03-04 14:50] sidhantnagpal commented on #15406
Closing this, as it has been resolved.

[2019-03-04 14:50] #15406 closed

[2019-03-04 14:55] sidhantnagpal commented on #15196
This issue seems to be fixed in master:
[code]

[2019-03-04 15:04] sidhantnagpal commented on #14905
The issue was resolved in #15064. Feel free to take up other issues.

[2019-03-04 15:20] oscarbenjamin commented on #14905
Yes it has been deprecated. I guess @asmeurer has kept it open with the "deprecation removal" label until the deprecation warning can be removed.

[2019-03-04 15:28] sidhantnagpal commented on #16138
Is this related to #13534? (which happens to be when relational operators are involved)

[2019-03-04 15:38] sidhantnagpal commented on #13313
This has been resolved. SymPy [docs](https://docs.sympy.org/latest/index.html) (and related sites) now support https.

[2019-03-04 15:38] #13313 closed

[2019-03-04 15:49] oscarbenjamin commented on #16138
They do look related and both are coming from the same line of code so both issues here can be closed by a single PR I guess.

The difference in this issue is that it shouldn't be calling the inequality solver here. These bools are coming from evaluated Eqs e.g.:
[code]
So #13534 is solved by propagating dict=True through to `reduce_inequalities` whereas this issue is solved by not assuming that a

[2019-03-04 16:29] sidhantnagpal commented on #11645
You can use `.as_real_imag()` or the functions `re` and `im`.
[code]

[2019-03-04 16:29] #11645 closed

[2019-03-04 16:33] sidhantnagpal commented on #11639
It seems to have been corrected now. The docs now say: `python setupegg.py develop`.

[2019-03-04 16:33] #11639 closed

[2019-03-04 16:34] sidhantnagpal commented on #11638
Closing issue as resolved.

[2019-03-04 16:34] #11638 closed

[2019-03-04 16:41] sidhantnagpal commented on #11131
This issue seems to have been fixed on master:
[code]
Perhaps @oscarbenjamin will know if there's a need to add a test for this, if it wasn't already.

[2019-03-04 18:26] #15920 closed

[2019-03-04 18:44] smichr commented on #15196
tested [here](https://github.com/sympy/sympy/pull/15049/files#diff-5f25427da46082ec269576baef49a5c4R310). Sorry I missed closing this.

[2019-03-04 18:44] #15196 closed

[2019-03-04 19:28] smichr commented on #15194
Think of the wrt variable as a bound symbol and the count as a free symbol, so `(x**2).diff((x,x)) == (y**2).diff((y, x))`; when you substitution x->2 you should get the 2nd derivative. The `_eval_subs` method of Derivative should sort out the details.

This was [tested here](https://github.com/sympy/sympy/pull/15049 but it wasn't tested whether the result would accept a number for x:
[code]

[2019-03-04 19:31] #15194 closed

[2019-03-04 19:35] smichr opened #16160 "subs when wrt and count in Derivative are the same"
In a Derivative expressed as `Derivative(f(x), (x, x))` the choice of `x` for wrt and count is allowed but the substitution of x with a value should proceed (I think) along the lines of treating the wrt variable as a bound symbol and the count as a free symbol, so `(x**2).diff((x,x)) == Subs((y**2).diff((y, x)), y, x)`.

When you substitution `x->2` you should get the 2nd derivative evaluated at 2

[2019-03-04 19:39] oscarbenjamin commented on #11131
I've checked and it is slow in 1.3 (doesn't hang) but it's slow in integrals. It faster in master because it is now solved by nth_algebraic:
[code]

The other solvers don't hang but they are slow and give suboptimal results:
[code]

This is because each method ends up with an integral like:
[code]
which takes a while and doesn't evaluate anyway.

It could be worth opening a separate issue in integ

[2019-03-04 19:39] #11131 closed

[2019-03-04 20:26] Phantsure commented on #15187
well in the previous build only travis ci failed rest there has been all corrections, so i dont know if it would be a good idea to make a new pr

[2019-03-04 20:31] #16097 closed

[2019-03-04 20:51] asmeurer commented on #15580
In favor of what?

[2019-03-04 21:13] oscarbenjamin opened #16161 "Integral of x*sec(x)**2 doesn't evaluate"
This comes from #11131.

This integral doesn't evaluate but Wolfram gives an answer that differentiates back to a form equivalent to the integrand:
[code]

[2019-03-04 22:28] catalinpit commented on #16094
@oscargus I can replace str to string_types.

[2019-03-04 22:48] asmeurer commented on #15194
I had thought we disallowed fractional derivatives, since they are ambiguous, but I just tested it and they don't raise any exceptions. I guess we leave them unevaluated in case someone wants to manipulate them formally.

Assuming we did, then the expression is a bit odd since `x` should be a continuous variable, but `n` can only be a nonnegative integer. Even so I don't see a reason to disallow i

[2019-03-04 23:04] asmeurer commented on #16078
This could be added either to trigintegrate or manualintegrate.

[2019-03-05 00:16] sylee957 opened #16163 "Deprecate _cache_is_diagonalizable and _cache_eigenvects"
See issue #15887

Also remove these lines
[code]
in test_pickling

[2019-03-05 00:43] asmeurer commented on #16124
collatz could be interesting to have. Then again, it's extremely easy to implement

[code]

[2019-03-05 01:44] drishyakumar opened #16165 "WE CAN GENERATE INTEGRATE CLASS INSTEAD OF INTEGRATE FUNCTION AND USE THE OBJECT OF INTEGRATE CLASS"

[2019-03-05 02:21] oscarbenjamin commented on #16165
Can you edit the title of this so it isn't in all caps. It looks like you're shouting at me...

Also can you edit the description below to be more informative?

[2019-03-05 02:28] oscarbenjamin commented on #13084
Now it gives the empty set:
[code]

[2019-03-05 02:38] oscarbenjamin commented on #13072
The error message above doesn't match the code shown. Running the example code on current master I get:
[code]

It looks like this issue was originally a misunderstanding so I'll close it. Feel free to open a new issue if you think there is something to fix.

[2019-03-05 02:38] #13072 closed

[2019-03-05 02:41] oscarbenjamin commented on #13065
This doesn't give a RecursionError any more but it also doesn't fully evaluate:
[code]

[2019-03-05 02:42] oscarbenjamin commented on #13062
This test runs fine under pytest now:
[code]

[2019-03-05 02:42] #13062 closed

[2019-03-05 02:43] divyanshu132 commented on #16094
@catalinpit I'm on it, here is the pr #16096

[2019-03-05 02:47] oscarbenjamin commented on #13060
I had to edit the code slightly to run it
[code]
but still get the same error afterwards.

[2019-03-05 02:51] XtremeGood commented on #16124
Then can i implement collatz and goldbasch?

On Tue, Mar 5, 2019, 06:14 Aaron Meurer <notifications@github.com> wrote:

[2019-03-05 02:52] oscarbenjamin commented on #13044
Running the code from above now gives the expected output:
[code]
However it also gives deprecation warnings. Since this code is deprecated and seems to work anyway I'll closing this. Please take a look at the new units system.

[2019-03-05 02:52] #13044 closed

[2019-03-05 03:34] drishyakumar commented on #16165
Sorry sir
I will change it

On Tue, 5 Mar 2019, 07:51 Oscar Benjamin <notifications@github.com wrote:

[2019-03-05 03:36] #16165 closed

[2019-03-05 03:37] drishyakumar opened #16166 "We can use integrate class instead of using function"

[2019-03-05 04:04] oscarbenjamin commented on #16166
That's a better title but you still haven't put anything in the description. You don't need to close the issue. You can just edit the description.

You will need to give more explanation to get a meaningful response.

[2019-03-05 05:13] jhanwar commented on #16124
@XtremeGood I have already implemented collatz sequence for my personal branch of sympy. I will send a pull request in a while.

[2019-03-05 06:23] Upabjojr commented on #15580
The new module.

[2019-03-05 06:38] sidhantnagpal commented on #16166
Are you proposing a class for integrals, because there is one already.
`Integral` is used to represent unevaluated integrals with the ability to call `doit()` on it. There is also the method `integrate`, as you mentioned, if you want to perform the symbolic integration.
[code]

[2019-03-05 06:53] sidhantnagpal commented on #7725
This issue seems to be fixed in master:
[code]

[2019-03-05 07:05] divyanshu132 commented on #16146
@oscarbenjamin [can we do something like this](https://github.com/sympy/sympy/blob/cf7322f5dba866c85ab3cfa2ad237e573b008a43/sympy/solvers/ode.py#L1543).

[code]

[2019-03-05 07:18] drishyakumar commented on #16166
Sir i have also an idea regarding the vector analysis and 3d geometry

On Tue, 5 Mar 2019, 12:09 Sidhant Nagpal <notifications@github.com wrote:

[2019-03-05 08:41] #15884 closed

[2019-03-05 08:48] oscargus commented on #16066
MathJax is the way to go here as well. So to some extent one may question if it is worthwhile. Not sure how/if the LaTeX and MathML support differs though.

[2019-03-05 08:52] LilJohny commented on #15327
Hi, @moorepants  I can take it if it`s still open.

[2019-03-05 09:32] oscarbenjamin commented on #16066
I've heard some people say that MathML is better than MathJax. However MathML on its own doesn't work in all browsers. So I wonder if the best thing is to serve MathML with MathJax MathML converter. Then maybe MathJax can be more or less a no-op in browsers that support MathML (i.e. chrome)

[2019-03-05 09:35] oscarbenjamin commented on #16146
Yes. I thought there already was a line checking that but maybe not.

[2019-03-05 10:14] jksuom commented on #16066
It seems that Sphinx does currently not support MathML (https://www.sphinx-doc.org/en/master/usage/extensions/math.html).

[2019-03-05 12:38] XtremeGood commented on #16161
Maybe the algorithm that Integrate uses(I think it's called Risch) does not support integration by parts trick of integration or alternatively solving via Laplace transform. In what way would you like this problem to be solved?

[2019-03-05 12:49] XtremeGood commented on #16124
Ok.

[2019-03-05 12:56] drishyakumar commented on #16161
Directly pass function to integrate as parameter in Integrate() function it may work

[2019-03-05 13:30] jksuom commented on #16161
`heurisch` can be persuaded to compute this by adding `sec` to the list of rewritables (to `tan`). But the result is not easy to simplify.

[2019-03-05 13:38] #7725 closed

[2019-03-05 13:40] drishyakumar commented on #16161
But some other similar functions are generating the answer where integration by parts have to be applied

[2019-03-05 13:52] drishyakumar commented on #16161
The solution may be possible if we use series expansion of the functions involved and instead of using integrate function we can use Integrate class as
val=Integrate(x*expansion of required function,x)
val.doit()

[2019-03-05 14:06] XtremeGood commented on #16161
Can I extract functions and their types from eq like x^n is polynomial.I want to use byparts.

[2019-03-05 14:30] jksuom commented on #16161
`manualintegrate` can do partial integration.

[2019-03-05 14:32] XtremeGood commented on #16078
So can I post a pull request implementing that trick of beta function?

[2019-03-05 15:01] oscarbenjamin commented on #16066
I had a quick look but I can't tell whether Jupyter supports MathML

[2019-03-05 15:18] jksuom commented on #16066
It seems that MathJax has some support for MathML: http://docs.mathjax.org/en/latest/mathml.html.

[2019-03-05 15:22] oscargus commented on #16066
https://caniuse.com/#feat=mathml

I think that there is/has been a plugin for Chrome to support MathML.

[2019-03-05 15:24] oscargus commented on #16066
Also, if I understand it correctly, while Safari supports MathML, it is only Firefox that has fully working extensive support for it.

[2019-03-05 15:39] oscargus commented on #16163
Should one set a milestone for when this should happen? (There is a clear risk that there will be PR suggested within the next few days, which are most likely not usable when the actual removal should happen.)

[2019-03-05 16:28] RituRajSingh878 commented on #16160
`Derivative(f(x).diff((x,x)))`
What about this ,i think it is meaningless.

[2019-03-05 17:06] oscarbenjamin commented on #16160
It's confusing because in SymPy we have to use a variable name to indicate differentiation.

SymPy's `f(x).diff(x,1)` can normally be written as `f'(x)` with only a single `x`. Then I can write something like `f'(1)` and `f''(2)` and `f'''(3)`. More generally I can write `f^n(n)` but the way to write that in SymPy would be `f(n).diff(n, n)`.

[2019-03-05 17:31] smichr commented on #16160
It means the same thing as `Subs(Derivative(f(y), (y, x)), y, x)` e.g. `f(x).diff(x,x).subs(x,2) -> f(x).diff(x, 2).subs(x, 2)`. So if `f(x) == x**3` then the answer is 12.

[2019-03-05 19:41] asmeurer commented on #15580
I don't see why it should be deprecated. Can't we just make from_index_summation call the new code? Code that changes from mathematically wrong behavior to mathematically correct behavior doesn't require a deprecation.

[2019-03-05 20:09] asmeurer commented on #16161
You can also get a solution by rewriting in terms of cos, but it's quite complicated (possibly the same as the heurisch one @jksuom mentioned) and simplify isn't able to simplify it.

[2019-03-05 20:27] XtremeGood commented on #16161
I guess a by parts solver is an essential need. We can choose polynomial as
the differentiating function and the other one as integrating. But how to
split this expressions into two parts.?One way that is used is
factor_list() but gives tuples of function, exponent. Still I recombined to
make it a list of 2 functions but now how do I select those those two
functions to put in my bypart solver sinc

[2019-03-05 21:06] #16160 closed

[2019-03-05 21:18] smichr commented on #16140
The following is a non-standard (but compact) way to represent `Subs(Derivative(U(_xi_1, b(x, y)), _xi_1), _xi_1, a(x, y))`:
[code]
It is non-standard in that a non-symbol is being used as the differentiation symbol. The resistance to make this "doit" might be this comment:
[code]
In this case, `x` is `a(x,y)` which has `y` in it.

[2019-03-05 21:44] smichr commented on #16140
[code]

[2019-03-05 22:15] asmeurer commented on #16163
I don't know the full context here, but is it necessary to deprecate these? They are private attributes (they start with an underscore), so can't we just remove them?

[2019-03-05 22:23] smichr commented on #15136
This was fixed in
[code]

The following can be uncommented in `sympy/matrices/expressions/tests/test_derivatives.py`
[code]

[2019-03-05 22:45] sylee957 commented on #16163
There are also some public keywords to deprecate
https://github.com/sympy/sympy/blob/e6509ea7b1e4bc14cd3276d993a1691b124343f8/sympy/matrices/matrices.py#L1437-L1448

I have just added every related bulk to undergo deprecation cycle.
But whatever, I'm fine with making either the private attributes removed before next release.
Though it may need some decision to remove the keywords.

[2019-03-05 22:50] smichr commented on #15947
[code]

[code]

[2019-03-05 23:11] sylee957 opened #16172 "Deprecate support for same primes in rsa_public_key and rsa_private_key"
Follow up the discussion in #16162

[2019-03-05 23:29] alugowski commented on #16066
I've tried my code above in Chrome, Safari, and Firefox respectively:

<img width="114" alt="image" src="https://user-images.githubusercontent.com/2730364/53844547-e1d5c300-3f5a-11e9-86b0-f0ff621f3408.png">  <img width="119" alt="image" src="https://user-images.githubusercontent.com/2730364/53844584-03cf4580-3f5b-11e9-9280-1a99b0b14fc9.png"> <img width="108" alt="image" src="https://user-images.gi

[2019-03-05 23:30] TuomLarsen opened #16173 "Discrepancy between `gf_edf_zassenhaus` and reference material"
I was comparing the implementation of Equal Degree Factorization by Cantor and Zassenhaus with the referenced book Modern Computer Algebra and it seems the [code](https://github.com/sympy/sympy/blob/master/sympy/polys/galoistools.py#L1894) is missing one condition.

The book reads:

    g1 <- gcd(a, f)
    if g1 != 1 then return g1

The later line is missing from the code, shouldn't there be somet

[2019-03-05 23:35] alugowski commented on #16066
That page is about Non-HTML builders. MathML is part of HTML. Just take the output of `sympy.printing.mathml()` and put it inside a `<math>` tag.

It looks like Sphinx *does* support everything you need to replicate my table above inside the docs. I'd suggest closing this ticket by building such a documentation page.

[2019-03-05 23:54] alugowski commented on #16066
Ah, so the `<math>` tag supports a `display='{block,inline}'` attribute, where inline is the default. My screenshots above are therefore all `display='inline'`. `display='block'` would look like my `Latex` column above. I think we should use `display='block'` for the purposes of showing differences between renderers.

See https://developer.mozilla.org/en-US/docs/Web/MathML/Element/math

[2019-03-06 00:05] oscarbenjamin opened #16174 "Graph theoretic algorithms for internal use (e.g. Tarjan's algorithm)"
I have thought of a couple of patches that would benefit from having algorithms for e.g. finding connected components of a graph. Do any graphs theoretic algorithms exist anywhere for internal use in SymPy?

I see #8186 rejects the idea of adding a graph theory module for external use but this is about internal use.

I have two examples:
1. Given a system of ODEs we can define a directed graph whe

[2019-03-06 00:05] asmeurer commented on #16163
I see. Those are definitely public API.

[2019-03-06 00:06] smichr commented on #15226
The OP expression giving 0 was fixed in a521b2d93a141f91b020456fceb1bec15fbed58b but the added test was incorrectly numbered as 15266 instead of 15226.

The test could be modified to read
[code]
I checked it (now) like this:
[code]

[2019-03-06 00:16] asmeurer commented on #16174
We have `topological_sort`, which is useful in several places. If a graph algorithm is needed for some library code we should implement it. Tarjan's algorithm, like the topological sort algorithm, doesn't seem that complicated, but it would be useful to implement it in one place.

Can the algorithm you describe for ODEs apply to solving regular systems of equations as well?

[2019-03-06 00:18] asmeurer commented on #16173
Permalink to the line https://github.com/sympy/sympy/blob/e6509ea7b1e4bc14cd3276d993a1691b124343f8/sympy/polys/galoistools.py#L1894

[2019-03-06 00:28] oscarbenjamin commented on #16174
It could be used for regular systems of equations but there we would have undirected graphs. So the idea would be that given
[code]
we could partition that into two subproblems for (a,b) and (c,d). I'm not sure how useful that wold be or if it already happens.

In the case of ODEs we can do the same but we can also go a step further since for ODEs we have a directed graph so given:
[code]
We can i

[2019-03-06 00:36] asmeurer commented on #16174
Ah. So this actually combines nicely with topological_sort, since the strongly connected components create a DAG. The topological_sort tells you what order to solve the sub-systems in. Although apparently Tarjan's algorithm already returns the components in (reverse) topological order). I suspect many places that use topological_sort could be using this instead, as a more generalized way to handle

[2019-03-06 00:47] asmeurer commented on #16174
For example you can topologically sort a substitution, to make it happen "in order". https://github.com/sympy/sympy/issues/6257

If there's a cycle, like `expr.subs({x: y, y: z})`, it fails. But maybe this can be generalized to finding the strongly connected components and substituting each strongly connected component with simultaneous=True, doing each component in topological order.

[2019-03-06 00:56] smichr commented on #15893
The function can be defined to be a scalar and this handles the self-derivative case.

The code dealing with differentiation of Abs can attempt to rewrite the result in terms of sign (or you could do that with your Abs expression, too):

[code]
This, then, gives:
[code]

[2019-03-06 01:04] oscarbenjamin commented on #16174
I would describe `expr.subs({x: y, y: z})` as a chain rather than a cycle.

We could certainly partition the substitutions into strongly connected components. Would those components be unambiguous though. What about something where one replacement expression appear in another e.g. `expr.subs({x:y, exp(x):z})`?

[2019-03-06 01:04] smichr opened #16176 "retain function assumptions when replacing them with symbols"
Sometimes in solvers and differentiation code, something like the following happens:

[code]
It might be worth considering retention of the assumptions. I am not sure of an easy way to do this, however. Maybe a function that would do something like the following would be useful.
[code]

I am just leaving this here as an idea. Maybe it's not necessary because after working with the dummy symbol, th

[2019-03-06 01:17] smichr opened #16177 "add function to test for unchanged expression"
In #2942 there was a lot of discussion about tests that write `assert foo == foo`.

An idea that I left there was this function which I still think could be used for cases when you want to assert that what you typed remained unchanged:

[code]

[2019-03-06 01:21] oscarbenjamin commented on #16177
I guess that could be used e.g. here [https://github.com/sympy/sympy/pull/15923#discussion_r262006408](https://github.com/sympy/sympy/pull/15923#discussion_r262006408)

[2019-03-06 01:33] oscarbenjamin commented on #12972
So can this issue be closed?

[2019-03-06 01:43] oscarbenjamin commented on #12927
I think the issues mentioned here are resolved:

1. It is now possible to use pytest for running (all of) the tests.
2. pytests markers work fine provided you use the subset provided from sympy/utilities/pytest
3. raises works fine
4. For SymPyDeprecationWarning we have the warns_deprecated_sympy context manager.

Since all problems listed here no longer apply I'll close this. If there are still p

[2019-03-06 01:43] #12927 closed

[2019-03-06 01:59] oscarbenjamin commented on #12837
I also get oo now:
[code]

Is that correct? (Wolfram Alpha thinks so)

[2019-03-06 02:23] FrackeR011 commented on #16177
I think this should be go in `sympy/sympy/utilities/misc`.

[2019-03-06 02:49] smichr opened #16178 "easier creation of banded matrices"
currently we have the `Matrix.diag` method which allows for easy creation of a single diagonal. To create a banded matrix is a little more difficult. This is the current docstring extract:
[code]
And here's a suggestion of how it could be enhanced:
[code]

[2019-03-06 07:07] divyanshu132 commented on #15916
I have checked `classify_ode` and  `_desolve`. I found that whenever `classify_ode` predicts `hint = "1st_power_series"` than we will have the series solution.

Let's take a simple example:
`dsolve(Eq(y.diff(x), (x+1)/(2-y)))`

![sympy2](https://user-images.githubusercontent.com/36084189/53862085-22414980-400c-11e9-98d9-eb7b7120a39a.png)

@asmeurer @oscarbenjamin should we modify the `hint`??

[2019-03-06 07:23] #12972 closed

[2019-03-06 08:58] sharma-kunal commented on #16138
@oscarbenjamin Why can't we just ignore the `Boolean Values` in solve e.g:

[code]
is equivalent to

[code]

[2019-03-06 10:00] GYeyosi commented on #16178
I'm working on this.

[2019-03-06 11:22] sylee957 opened #16181 "Improve RSA Documentation"
`encipher_rsa` and `decipher_rsa` docs only informs about encrypting with public key and decrypting with private key. But it is also possible to encrypt message using private key and decrypting it with public key.

The examples may also contain a process of 'signing' a message with private key,
and verifying the message by comparing the original message, with deciphered message with public key.

[2019-03-06 12:11] shubhamabhang77 commented on #16137
[code]
Will this be fine for rewrite method?

[2019-03-06 13:11] oscargus commented on #16137
@shubhamabhang77 that should to it. However, does `r.rewrite(And)` work? It may be that it doesn't work for Boolean equations though (as it does not inherit the same as most other functions). (The idea is that `rewrite(XX)` looks for a method `_rewrite_as_XX`, if I understand things correctly.) Also, one can mirror that as `_rewrite_as_Or = _rewrite_as_And` so that it works for Or as well.

For th

[2019-03-06 13:29] oscargus commented on #16174
I think something similar can be used when evaluating summations with symbols in the limits, see #15767 where one approach is to reorder the summation order. (Which will not solve the issue at hand, but still can be useful if deciding to do an explicit evaluation as it may split it into several independent summations/evaluations.)

[2019-03-06 13:58] smheidrich opened #16182 "NotImplementedError for series expansion of ( Integral((a+x)**(-1), (x, 0, 1)) )**(-1)"
Before you yell at me, the expression below is not the actual expression I want to do a series expansion on (would be pointless since it can be trivially evaluated analytically), it's just what I boiled down as the minimal reproducible example from the actual (much larger, not trivially simplifiable) expression.

So here goes:

[code]

raises

[code]

So it seems like something just isn't implemen

[2019-03-06 14:05] oscarbenjamin commented on #15916
I think that ideally there would be a separate function for getting series solutions but it's not easy to split it out of dsolve right now.

I guess some people are using this so it needs to go through deprecation.

I suggest to add a new keyword argument `series_solutions=` to dsolve. This argument should default to None in which case it will do the current behaviour but it should warn if that re

[2019-03-06 14:13] oscarbenjamin commented on #16138
We should ignore Trues in the input. If there is a False then we should return an empty list.

We have to imagine that these bools have come from evaluated Eqs. True means an equation that is trivially true and therefore tells us nothing about any of the variables we are interested in. Those can be ignored. False means that the equation was unsatisfiable: that means it cannot have any solutions.
[

[2019-03-06 15:31] divyanshu132 commented on #16182
@smheidrich try this:

[code]

[2019-03-06 15:44] smheidrich commented on #16182
@divyanshu132 ``doit()`` evaluates the integral, but like I said, that only works here because the integral is trivial. It's not possible in the actual expression I want to expand (not shown here).

[2019-03-06 15:47] divyanshu132 commented on #16182
Can you provide the actual expression so, anyone can test it otherwise it will be difficult to resolve the actual issue.

[2019-03-06 16:24] smheidrich commented on #16182
Sure:

[code]

But all this does it make things more complicated (and hence prevent ``doit()`` from doing much other than heating up the CPU), the issue is still the same.

A colleague of mine suggested I series expand just the integrand first, and that works just fine for my use case (as all I want for now is *some* approximation to this), so my actual problem is solved - I just thought I'd repor

[2019-03-06 16:56] shubhamabhang77 commented on #16137
No, ```r.rewrite(And)``` doesn't work.

[2019-03-06 18:33] smichr commented on #15893
Let's see what others think.

Also, *maybe* this should be done (and then the double doit would not be necessary):

[code]

[2019-03-06 19:37] shubhamabhang77 commented on #16137
[code]
Is this how it should look like in second?

[2019-03-06 20:25] oscarbenjamin commented on #16182
Thanks for reporting this.

NotImplementedError is raised from here:
[https://github.com/sympy/sympy/blob/d2fcf9ecdfef464b26f0e118018a7817059d22a2/sympy/core/power.py#L1375](https://github.com/sympy/sympy/blob/d2fcf9ecdfef464b26f0e118018a7817059d22a2/sympy/core/power.py#L1375)

At the point of raising k is nan. That nan comes from
[https://github.com/sympy/sympy/blob/d2fcf9ecdfef464b26f0e118018a78

[2019-03-06 20:46] asmeurer commented on #16174
I hadn't thought about that. Maybe you would also need an edge if one term's "old" also contains another's. I'm mostly thinking out loud with this idea. I don't know if it is a good one, just trying to think of ways this algorithm could be useful.

[2019-03-06 21:25] smheidrich commented on #16182
Well, that's embarrassing :) Thank you very much for putting so much work into this, I guess I'll close this then.

[2019-03-06 22:03] oscarbenjamin commented on #16182
I'm reopening this because I think there is possibly something to fix. Ideally you would get a ValueError plus a helpful message here rather than NotImplementedError.

Maybe we should check for the infinity here:
[https://github.com/sympy/sympy/blob/d2fcf9ecdfef464b26f0e118018a7817059d22a2/sympy/integrals/integrals.py#L1094](https://github.com/sympy/sympy/blob/d2fcf9ecdfef464b26f0e118018a7817059d2

[2019-03-06 22:36] #15724 closed

[2019-03-06 23:19] #10519 closed

[2019-03-07 00:01] oscarbenjamin commented on #16174
Here's an implementation of Tarjan's algorithm:
[code]
Output:
[code]

[2019-03-07 00:34] oscarbenjamin commented on #12787
Can you give an example @smichr?

[2019-03-07 00:39] oscarbenjamin commented on #12775
I now get:
[code]

Closing as fixed.

[2019-03-07 00:39] #12775 closed

[2019-03-07 00:48] oscarbenjamin commented on #12774
I currently get the same:
[code]
I guess this should be something like:
[code]

Similar issue:
[code]

[2019-03-07 00:52] oscarbenjamin commented on #12769
I just tested this on current master and didn't wait for it to complete.

[2019-03-07 00:56] oscarbenjamin commented on #12746
Thanks for the report. It looks like this is fixed now:
[code]
Does that look correct to you?

[2019-03-07 04:18] sylee957 opened #16187 "Deprecating 'cls' in special matrix constructors"
https://github.com/sympy/sympy/blob/9cb8736a8ab2495e8833de1f2a2b936f922f8111/sympy/matrices/common.py#L654-L903

There were some discussions about the keyword argument, and I also think that the keyword would not be any useful at all.

[2019-03-07 04:42] moorepants commented on #15327
Go for it.

[2019-03-07 05:34] supreet11agrawal commented on #16177
I'll take this

[2019-03-07 06:27] supreet11agrawal commented on #16177
@smichr @oscarbenjamin should we add this function to `utilities/pytest.py` if we are just going to use it for testing. Or are we planning to use to this method for general purpose (other than testing) as well?

[2019-03-07 06:40] rationa-kunal commented on #16054
As `(-x-1).has(x)` gives `True`, `(x-1).has(1)` should also give `True`
then, What is the expected result for `(x-1).has(1)` ?

[2019-03-07 07:24] #16146 closed

[2019-03-07 07:29] oscarbenjamin commented on #16177
It will be just for testing but probably doesn't want to go in pytest.py. The pytest.py file is supposed to be a compatibility layer that either imports functions from pytest or defines them if pytest isn't installed. Since this function isn't defined in pytest it should go somewhere else.

I guess I'd put this in utilities/misc.py.

[2019-03-07 08:12] arooshiverma commented on #15136
Has this issue been worked upon? Can I contribute to this?

[2019-03-07 08:22] arooshiverma commented on #15974
Hey ! Is anyone working on this? I want to do so if no one is. Please let me know.

[2019-03-07 08:27] oscargus commented on #15974
Not that I am aware of, so please go ahead. (More MathML functions in #16036 I put you up on this one for now.)

[2019-03-07 08:37] jksuom commented on #12769
This is an example where simple core methods would suffice to find the limit. `Limit.doit` currently only tries those methods (`inve.as_leading_term(u)`, [here](https://github.com/sympy/sympy/blob/master/sympy/series/limits.py#L251)) in case of limit at [infinity](https://github.com/sympy/sympy/blob/master/sympy/series/limits.py#L236) before passing over to `gruntz`. That should, in principle, be

[2019-03-07 08:40] oscargus commented on #15974
Here is an example of what it should look like (the LaTeX column) and what it currently looks like (the MathML column). The gray area is the expression, but see more below.
![image](https://user-images.githubusercontent.com/8114497/53943117-b1a63580-40bc-11e9-8115-e91b688e4899.png)

The first one is
[code]
so the `MatrixElement` at 0, 0 from a 10 by 10 matrix.

I also included an example of `Matri

[2019-03-07 08:41] oscargus commented on #15974
A good idea is to look at the corresponding code in the LaTeX printer and try to follow the same logic.

[2019-03-07 08:48] oscargus commented on #16137
`q._rewrite_as_Nand()` currently gives Nor (and Or) and `_rewrite_as_Nor()` gives Nand (and And).

`q._rewrite_as_Nand()` should give `¬(¬(y ∧ z) ∧ ¬(z ∧ ¬w))` which only contains Nand, so in general, write is on CNF/SOP-form, invert the individual terms that are OR:ed together and change the OR to a Nand.

[2019-03-07 11:47] shubhamabhang77 commented on #16137
How to implement forth? Means how is it going to be called?

[2019-03-07 13:57] #15893 closed

[2019-03-07 14:45] AbishekSeshan commented on #11634
@asmeurer  I'd like to contribute to fix the issue raised, please provide guidelines.
Also, addition is commutative, but still when we traverse through a tree, we go from left to right. Although mathematically it makes no difference, but technically shouldn't Mul and Pow branches be interchanged in the documentation?(Mul being shifted to right and Pow to left).

[2019-03-07 14:54] sharma-kunal opened #16191 "Solving Piecwise Functions with solve returns AttributeError"
Solving a piecewise function for `x` using `solve` returns `AttributeError`

[code]

[2019-03-07 14:54] arooshiverma commented on #15187
Is anyone working on this one? Can I work on this issue?

[2019-03-07 16:23] Naba7 opened #16193 "Cloning into local repo command"
In the installation guides of sympy,the cloning of sympy repo is written as git://github.com/sympy/sympy.git . It should be https://github.com/Naba7/sympy.git using https or git@github.com:Naba7/sympy.git using SSH.

[2019-03-07 18:06] Naba7 commented on #16140
Can I be assigned this issue?

[2019-03-07 18:28] oscarbenjamin commented on #16191
You don't want to use Eqs as the expressions in a piecewise. The piecewise is an expression that should go inside an Eq:
[code]

[2019-03-07 20:19] asmeurer commented on #16078
You can see how the other code in trigintegrate or manualintegrate does pattern matching. Basically you should create a pattern that matches the most general form of the integral you can solve.

[2019-03-07 20:24] XtremeGood commented on #16078
Well, in the module the hints refer to 4 separate files in that directory. I will try to incorporate my code in between the appropriate one.

[2019-03-07 20:33] asmeurer commented on #16182
The NotImplementedError could also use a message describing exactly what isn't implemented.

[2019-03-07 20:35] asmeurer commented on #16193
The command is correct. You generally want to clone from the main repo, as that is what is updated (if you do a `git pull` after cloning from your fork, you won't get the latest updates). Our [dev guide](https://github.com/sympy/sympy/wiki/Development-workflow) also uses the "clone from the base repo, add your fork as a remote" git workflow.

[2019-03-07 20:38] asmeurer commented on #16193
Or are you saying it should use the https URL instead of git://? I don't know if it makes a big difference. The SSH url is not ideal because it requires having your SSH key on GitHub. As far as I know git:// urls should work everywhere, but maybe there are some advantages to https://.

[2019-03-07 20:41] asmeurer commented on #16193
According to https://gist.github.com/grawity/4392747, git:// URLs do not do server verification. So I guess https:// should be preferred.

[2019-03-07 20:45] asmeurer commented on #16187
Here is the original comment for reference https://github.com/sympy/sympy/pull/16102#issuecomment-470348586

[2019-03-07 20:48] asmeurer commented on #16187
I agree. The cls argument (the first argument of the classmethod) should be the class that is used. That way follows standard Python inheritance patterns.

[2019-03-07 21:11] hannah-kari commented on #16181
Hi! I'd like to work on this issue. Is that alright?

[2019-03-07 21:42] asmeurer opened #16196 "Coverage for some lines varies between runs"
See for instance https://codecov.io/gh/sympy/sympy/compare/0e987498b00167fdd4a08a41c852a97cb70ce8f2...72d13c727dc591a32ee6eb4db5d3162b63d148bc/changes, which is from https://github.com/sympy/sympy/pull/16192. Every file except for latex.py is unrelated to that PR. I believe the coverage varies because of randomness in the tests, sometimes a line is covered and sometimes not.

We should verify that

[2019-03-07 22:13] asmeurer commented on #16174
Can it use the same input format as topological_sort. Input format is one thing that a real graph library like networkx will provide more flexibility over, but we should just pick a format that is convenient and use it.

Is `min` called over integers or over graph elements? If it's graph elements we should allow to pass a `key` function to it.

[2019-03-07 23:13] smichr opened #16197 "allow matrix shape to be specified by size"
Instead of requiring rows and cols to be given, perhaps a keyword size could be honored?

[code]

I would suggest not starting this as a PR unless there is positive feedback here from members familiar with Matrix codebase.

[2019-03-07 23:37] #16177 closed

[2019-03-07 23:42] sylee957 commented on #16181
@hannah-kari
You can go on. We don't reserve a specific someone to handle an issue. I can inform you that we are using [sphinx](http://www.sphinx-doc.org/en/master/), [numpydoc](https://numpydoc.readthedocs.io/en/latest/) extensions, to build our docs. And you can test out the build if you navigate to `/doc` folder.

[2019-03-08 00:31] Naba7 commented on #16193
So,shall I change it?

[2019-03-08 01:36] Naba7 commented on #16140
Can I get a lead to work on this issue

[2019-03-08 01:46] Naba7 commented on #16181
As you said no specific someone is assigned,can I take this issue

[2019-03-08 02:03] sylee957 commented on #16181
@Naba7
Honestly, anyone who gets proposal accepted first can get listed as contributor.

Though, we're not making this a sort of competition, which can discourage people from sharing information each other.
And I think you can use [Co-Author](https://help.github.com/en/articles/creating-a-commit-with-multiple-authors) system, or ask other people for listing your name, if you have your original ide

[2019-03-08 02:42] Naba7 commented on #16181
@sylee957  thank you. I am not taking this up as a competition.I just want to know more and learn from it.So,I want to take up issues.Its no bad if other person resolves it.I will learn if I work on the issue,the sole reason I asked for taking up on this issue.

[2019-03-08 03:53] FrackeR011 commented on #16174
Input format can be easily changed.

It is called over integers.

[2019-03-08 06:33] arooshiverma commented on #15974
I am getting the following error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\aroos\Anaconda2\lib\site-packages\sympy\printing\mathml.py", line 905, in mathml
    return MathMLContentPrinter(settings).doprint(expr)
  File "C:\Users\aroos\Anaconda2\lib\site-packages\sympy\printing\mathml.py", line 50, in doprint
    mathML = Printer._print(self, expr)

[2019-03-08 08:12] oscarbenjamin opened #16200 "Recreate random travis test failure"
In #16190 there is a test failure from a test that uses randomised values. I have tried to reproduce it with:
[code]
and:
[code]
but neither shows the failure. It looks as if I need to run the entire 3/4 split to see this. I took a look at test_travis.sh but it doesn't seem to have the option to pass in a random seed.

The test header is:
[code]
and the failure is:
[code]

I realise that in this e

[2019-03-08 08:43] Naba7 commented on #10006
Hi,I am new to SymPy.I am interested in extending solveset project-idea.I am participating in GSoC-2019.So,any leads to start working will be helpful.Thanks in advance.

[2019-03-08 08:48] Shekharrajak commented on #10006
Hi @Naba7 ,

You can find the discussions. progress report and blogs in [Solvers idea description](https://github.com/sympy/sympy/wiki/GSoC-2019-Ideas#solvers). Go through it and if you have any question, feel free to ask/disucss in mailing thread or comment.

[2019-03-08 09:09] Mohitbalwani26 commented on #15889
I would like to work on this issue. Please guide me where to start. I understood the issue but I need some guidance for where to implement this.

[2019-03-08 09:39] oscarbenjamin commented on #15889
I sent a link to the matching code. If you read the comment at the top of the ODE module it describes the general structure of dsolve.

[2019-03-08 10:10] ritesh99rakesh opened #16201 "Function to return Total Energy in physics/mechanics"
At present, there is are functions to calculate kinetic energy and potential energy of a rigid body in ```sympy/physics/mechanics/rigidbody.py``` but no function to return the total energy of the rigid body. I propose the following PR. Please let me know your views about it.

[2019-03-08 10:23] jksuom commented on #16196
We could try setting temporarily the random seed in files containing random tests such as test_hyperexpand.py.

[2019-03-08 11:38] jksuom commented on #16200
This error appears every now and then in computations with polynomials having floating point coefficients. The computations are based on Euclidean division identity, `f = q*g + r`, where `q, r = f.div(g)`. This identity is only approximately valid with inexact coefficients, and the cumulating error will occasionally lead to results that the algorithm can recognize as inconsistent.

I think that th

[2019-03-08 11:43] arooshiverma commented on #15186
hi @moorepants , is someone else working on this? I would like to solve this issue.

[2019-03-08 12:03] arooshiverma commented on #11967
Is this issue open to work on? Can I work on this one?

[2019-03-08 12:07] arooshiverma commented on #13570
Can I work on this one?

[2019-03-08 12:53] Naba7 commented on #10006
Thanks @Shekharrajak

[2019-03-08 13:07] #12089 closed

[2019-03-08 14:18] oscargus commented on #15974
That is partly why a special printer is needed. However, there are two different MathML printers. The presentation one is used as
`print(mathml(A[0,0], printer='presentation'))`

[2019-03-08 14:48] abhinav28071999 commented on #13871
@asmeurer  can i implement a norm program in matrices/expressions

[2019-03-08 16:42] #15226 closed

[2019-03-08 16:52] Vinayak-Shukla commented on #14815
Is this issue still open, if yes what needs to be done here, can anyone specify, I'd like to take up the issue.

[2019-03-08 17:41] oscarbenjamin commented on #16174
Here's a version that takes the same format as topological_sort:
[code]

[2019-03-08 17:52] oscarbenjamin commented on #16174
Here's an example of how we could use this in solve to partition a system of equations (this is an undirected graph so we're just finding the connected components). The function solve_scc solves a system of equations by first partitioning the system into connected components and is faster than solve.
[code]
Running this the timings are:
[code]
The differences grow as a system like this gets larger

[2019-03-08 20:54] #16193 closed

[2019-03-08 21:24] asmeurer commented on #16196
In some cases it would be dependent on the hash seed, so that wouldn't work. Even if it is just the random seed, that would make the test dependent on implementation details of how the function uses the random values. So if we can avoid this it would be better.

I think each of these should be investigated independently. For example, the function https://github.com/sympy/sympy/blob/6440412a7fdb3b3

[2019-03-08 21:52] oscarbenjamin opened #16207 "Faster eigenvalues using connected components"
This relates to #16174.

Sympy takes 30 seconds to compute the eigenvalues of the following matrix but this can be done much faster if the matrix is partitioned appropriately.

The matrix:
[code]
The matrix is
[code]

This matrix as it turns out has a particular structure. If we reorder the rows and columns (which doesn't change the eigenvalues) by uncommenting indicated line then we get a block d

[2019-03-08 22:17] oscarbenjamin commented on #12635
So can this issue be closed?

[2019-03-08 22:19] oscarbenjamin commented on #12634
This is still the case in current master

[2019-03-08 22:24] oscarbenjamin commented on #12632
I get this:
[code]
I don't know why it comes out like that.

It works if I rewrite as Piecewise:
[code]

[2019-03-08 22:46] Naba7 commented on #15827
Can I try working on this issue?

[2019-03-08 23:18] sylee957 opened #16208 "Deprecate keyword arguments 'rows' and 'cols' for jordan_block"
See issue #16102

[2019-03-08 23:58] oscarbenjamin commented on #12631
I get the same on current master.

[2019-03-09 00:06] oscarbenjamin commented on #12630
I get the same on current master. Even `sepr` has the same problem.

I've distilled it a bit:
[code]
This gives:
[code]

[2019-03-09 00:11] oscarbenjamin commented on #12623
This doesn't seem to be a problem now on master unless I'm missing something:
[code]

[2019-03-09 00:13] oscarbenjamin commented on #12618
So should this be closed now?

[2019-03-09 00:15] oscarbenjamin commented on #12613
@smichr can you explain what this issue means?

[2019-03-09 00:39] oscarbenjamin commented on #12597
On master now I get:
[code]
So it seems like this is now fixed...

[2019-03-09 00:42] oscarbenjamin commented on #11179
This is still the case on master.

[2019-03-09 00:46] oscarbenjamin commented on #12592
On current master I get:
[code]
so I think this is fixed...

[2019-03-09 00:49] oscarbenjamin commented on #12581
On curent master I get:
[code]
Is that correct?

[2019-03-09 00:52] aquirdTurtle commented on #12581
Ah, yes this looks correct. I can repeat on my system as well, so looks like the recursion error is gone.

[2019-03-09 00:55] oscarbenjamin commented on #12581
Thanks for the quick response @aquirdTurtle! I'll close this now but feel free to open a new issue if other problems come up.

[2019-03-09 00:55] #12581 closed

[2019-03-09 02:16] Naba7 commented on #15827
Can I get some leads to continue working?

[2019-03-09 04:21] jmig5776 commented on #16197
I look it will be good to access rows and cols by size.

[2019-03-09 04:26] jmig5776 commented on #16191
I think this issue should be closed now.

[2019-03-09 04:47] sylee957 commented on #16197
We would finally have to merge matrix into generalized N-dimensional array module, and in that manner, dimension specification should be in array form to be more versatile.
However, it may have to be discussed more that, from the point now, it may only add a new keyword that does same thing.

[2019-03-09 04:56] RituRajSingh878 commented on #15827
I already have done ,just needs a review .

[2019-03-09 05:00] Naba7 commented on #15827
ok

On Sat, Mar 9, 2019 at 10:26 AM Ritu Raj Singh <notifications@github.com>
wrote:

--
*nabanita*

[2019-03-09 06:57] asmeurer commented on #12630
If SeqFormula is something that is supposed to make sense in an Add, it should be subclassing from Expr, not Basic.

But is it? The docstring describes it as a sequence, which I wouldn't expect to be an expression.

Note if you want to add the terms of a sequence, you should use `Sum`, not `SeqFormula`. They have the same argument format, so `Sum(*s.args)` (if `s` is a `SeqFormula`) would convert

[2019-03-09 07:11] asmeurer commented on #12597
I think this was fixed by https://github.com/sympy/sympy/pull/15371

[2019-03-09 07:11] #12597 closed

[2019-03-09 08:04] jksuom commented on #12632
`Integral.doit()` should probably rewrite `Heaviside` as `Piecewise` by default. It could also simplify the computations by setting the value of `H0`: `function.rewrite(Piecewise, H0=1)`.

[2019-03-09 11:07] oscarbenjamin commented on #12630
Oh okay that makes sense.

Maybe `Add` should check that its args are `Expr`. There are other cases where we can get garbage in, garbage out that could be checked for like this:
[code]
The args do get sympified so maybe sympify could have an argument to check the types e.g.:
[code]
The idea is this would raise if sympify isn't going to return the expected type.

[2019-03-09 11:24] ShubhamKJha commented on #14993
I faced similar situations. I will work on this issue.

[2019-03-09 12:06] supreet11agrawal commented on #16177
@smichr, currently only arguments like `cos(x)` can be checked using `unchanged` function. I don't think it is possible to check something like if `cos(x)*exp(x)` is changing using it. Should we look into this as well. I saw a few cases where this might be used. For instance, see this
https://github.com/sympy/sympy/blob/00252f18af78cdc3013042e7ef264af8161c9366/sympy/core/tests/test_arit.py#L348
Th

[2019-03-09 12:34] alabrazi commented on #12635
Yes

On Sat, Mar 9, 2019, 12:17 AM Oscar Benjamin <notifications@github.com>
wrote:

[2019-03-09 12:55] Vinayak-Shukla commented on #13688
Is the issue still open? I'd like to work on it please.

[2019-03-09 12:57] oscarbenjamin commented on #16177
I think it's best to open a new issue for that.

[2019-03-09 12:58] oscarbenjamin commented on #12635
Thanks for getting back. Closing.

[2019-03-09 12:58] #12635 closed

[2019-03-09 13:04] oscarbenjamin commented on #13688
The issue is still open although #13745 says it fixes this and has been merged. This didn't get automatically closed because the PR description says "This fixes #..." rather than "Fixes #...". Probably the reviewer forgot to manually close this.

We should check that the issue is actually solved before closing though:
[code]

Looks like it's fixed and this should have been closed by #13745. Closin

[2019-03-09 13:04] #13688 closed

[2019-03-09 13:06] jksuom commented on #13688
I was fixed by #13745. Closing.

[2019-03-09 13:11] oscargus commented on #16174
I think it would make sense to add strongly_connected_components. We both have usecases for it, so go ahead, I would say!

[2019-03-09 13:37] oscargus commented on #16196
No idea. Always seems to be the more or less the same 11 files and more or less the same rows in those files so somehow it seems like the baseline is not updated even after one of those PRs is merged (assuming that the PR actually cover those lines, which is not really the case...). Another weird coverage difference is in runtests.py which should be exactly the same as the coverage tests are run t

[2019-03-09 13:38] oscargus commented on #16196
Btw, it seems like someone tried to get coverage working in coveralls at some stage: https://coveralls.io/github/sympy/sympy

I do not trust the dates though.

[2019-03-09 14:00] arooshiverma commented on #12044
Is this issue open?

[2019-03-09 14:45] #16191 closed

[2019-03-09 14:57] oscargus commented on #16196
I think it may relate to Codecov not knowing which PR or merge the test coverage files come from. I noted https://codecov.io/gh/sympy/sympy/pull/16206/changes which adds coverage from #16192 as was merged at about the same time as #16206 was tested.

[2019-03-09 15:28] oscarbenjamin commented on #12044
Okay I see the problem:
[code]
Note that tau is a function of t (because that's what dynamicsymbols means)

Using no argument diff allows to differentiate based on the argument of a function e.g.:
[code]
The original example in this thread does:
[code]
That doesn't work the way expected because what was wanted was to differentiate with respect to tau not t. I think it's entirely reasonable though

[2019-03-09 15:28] #12044 closed

[2019-03-09 16:36] matthewwardrop commented on #12597
Fantastic. Thanks for following this up. Will close the issue now.

[2019-03-09 16:58] supreet11agrawal opened #16215 "Core: Enhancing the unchanged function"
This issue follows from https://github.com/sympy/sympy/issues/16177.
For solving this issue, an `unchanged` function was added in `expr.py` through PR https://github.com/sympy/sympy/pull/16189
Currently, this `unchanged` function works perfectly for checking if an expression remains unchanged if the expression is something like `cos(x)` or `exp(x)`. However, for expressions like https://github.com

[2019-03-09 17:33] Vinayak-Shukla commented on #16215
I'd like to work on this, should I get started?

[2019-03-09 17:34] supreet11agrawal commented on #16215
Yes, you can

[2019-03-09 19:40] oscargus opened #16217 "Integrals with abs much slower recently"
The following test was added in #15710

https://github.com/sympy/sympy/blob/8fc3b3a96b9f982ed6dc8f626129abee36bcda95/sympy/integrals/tests/test_integrals.py#L1480-L1487

In #16216 I marked it as slow as it took at least 100 seconds to run the test depending on Python version.

When I revisited the run times of tests in #16010 it was not close to being that slow as I marked everything taking more t

[2019-03-09 19:42] Vinayak-Shukla commented on #16215
can you assign it to me then?

[2019-03-09 19:51] oscargus commented on #16217
It seems to be caused by #16185

[2019-03-09 19:57] asmeurer commented on #16066
Looks like MathML support is being developed for Chromium https://mathml.igalia.com/news/2019/02/12/launch-of-the-project/

[2019-03-09 20:42] asmeurer commented on #12630
We could try that. We have to be careful when making changes to the core. It could break something we weren't expecting. It could also affect performance (you always have to check).

Also, things start to get messy if with post processors like https://github.com/sympy/sympy/pull/15948 (although in that case, MatrixExpr is a subclass of Expr).

[2019-03-09 22:29] smichr commented on #16217
Hopefully it is the automatic [rewriting as sign](https://github.com/sympy/sympy/pull/16185/files#diff-12f1481a8b98f5fa6ae6a07a5e8a3ab4R583) which takes `x/Abs(x) -> sign(x)`. I would start by reverting that line. If it is, then we either:
1. accept that this rewriting is valuable and accept the slower times;
1. find a smarter way to know if the rewrite is necessary (e.g. expand an only rewrite ra

[2019-03-09 22:31] smichr commented on #16215
Try `unchanged(Mul, exp(x), exp(y)`; every expression has a `func` so `unchanged(foo.func, *foo.args) == foo` is an invariant for an expression that doesn't have unevaluated args.

[2019-03-09 22:38] smichr commented on #12592
Addressed, I believe, by [this PR](https://github.com/sympy/sympy/pull/15599).

[2019-03-09 22:38] #12592 closed

[2019-03-09 23:00] smichr commented on #12631
I suspect that functions should have their own `_eval_piecewise_fold` that can override the assumed simplicity in the folding of a function (see inline notes of `piecewise_fold`).

[2019-03-09 23:04] oscargus commented on #16217
It times out every now and then for the coverage tests. However, it may give some idea to what happens:

[code]

[2019-03-10 00:32] oscargus commented on #16217
It is late here so I may be to tired, but shouldn't it be possible to rewrite Abs(x) as x*sign(x) instead of x/sign(x)?

That makes things much faster, but not sure if it breaks something else...

[2019-03-10 02:03] smichr commented on #16217
In fact, preferable since otherwise the ratio creates a singularity when x = 0

[2019-03-10 06:15] supreet11agrawal commented on #16215
Yes, that is working. In this case, I'll just change the test which I mentioned above.

[2019-03-10 06:56] bharatnishant commented on #14593
@oscarbenjamin I would like to take up this issue

[2019-03-10 06:56] sylee957 commented on #15464
It is a notable difference that SymPy's matrix have different length.

[code]

[2019-03-10 08:19] jksuom commented on #16217
I don't think that any function involving `Abs` or `sign` can be handled by `heurisch`. Those should probably be rejected in the beginning. Currently, `heurisch` makes a few attempts (3, by default) before giving up. (That is where the time is spent.) I also suspect that `Piecewise` functions should be integrated "piece by piece" if at all.

[2019-03-10 09:30] pragyanmehrotra opened #16222 "Poly(E**100000000) is slow to create"
[code]

[2019-03-10 09:31] oscarbenjamin commented on #14593
Go ahead. I'm not sure I understand what the issue is though and I haven't looked at SymPy's stats modules so I don't think I can help you with this.

[2019-03-10 09:40] oscarbenjamin commented on #16222
I've edited your description so it uses markdown backticks to render the code properly. Can you do that yourself in future?

[2019-03-10 09:41] pragyanmehrotra commented on #16222
yes definitely, sorry about that

[2019-03-10 09:50] jksuom commented on #14593
The distribution of a sum like `G1 + G2` is not a mixture distribution. A mixture involves also a weight distribution and is implemented in SymPy as a compound (or possibly joint) distribution.

[2019-03-10 10:29] oscargus commented on #16217
@smichr apparently it breaks for imaginary numbers though, see #16219 so while it seems like a good idea, not really (although it should be a good idea if the expression is real).

@jksuom that is another aspect I was thinking about. So far I have not been able to `integrate` any function including Abs (although clearly, I have only tested a few, but since `Abs(x)` doesn't work it seems like, well

[2019-03-10 10:39] supreet11agrawal commented on #16217
Maybe the failures in Travis build are related to change in `.travis.yml` file. Looking back the pull requests of last 2-3 weeks, these are some of the PRs which might be looked into.
* #16154 [-q flag in .travis.yml for showing only error log during compilation] (By me actually)
* #16153 [Revived: Travis Code Coverage]
* #16130 [Remove code quality test from doctests matrix] (I don't think this h

[2019-03-10 10:46] oscargus commented on #16217
Yes and no. The newly introduced coverage makes the tests slower in general which is why the tests with coverage is split into four rather than two.

However, the particular test has gone from < 10 seconds to about 100 seconds (10 seconds is the limit for "slow" tests, so it can have been anything < 10 seconds before). With coverage this sometimes goes to beyond 600 seconds. In #16216 it is marked

[2019-03-10 10:56] oscargus commented on #16066
I agree that all above clearly are usable.

It may be that MathML is catching on then. I had the impression from reading up a bit that e.g. Chrome had decided to drop it completely, but that was apparently old news.

I think it would be useful to have a reference rendering page somewhere, both for users to see what to expect and for developers to see what can be improved. I've found things in the

[2019-03-10 10:59] oscargus commented on #16066
Clearly, the approach with initial expressions as strings is preferred, which can be seen from e.g. https://github.com/sympy/sympy/pull/16210 which prints the `srepr` of the expression. This is often long and cumbersome and hardly that what a user would write as input. Although well defined.

[2019-03-10 11:11] #16215 closed

[2019-03-10 12:03] oscargus commented on #16137
Ahh, it seems like the methods should be called `_eval_rewrite_as_YYY, not `_rewrite_as_YYY`... That should solve it I think...

[2019-03-10 12:18] oscargus commented on #16137
Also, please update the tests to use `.rewrite(Nand)` etc. Or rather, add those so that both the function as such is tested plus the general rewrite functionality.

I'm also thinking that maybe the Nand and Nor rewrites should use Nand and Nor in the code? (I think the result is identical though, but for transparency.)

[2019-03-10 19:14] Naba7 commented on #15726
As stated,should I change risch algorithm so that it takes up one term at a time?

[2019-03-10 19:51] asmeurer commented on #15726
The problem is there are integrals that risch can only compute without splitting over terms. Consider the derivative of `x**x`. Each term independently doesn't have an elementary antiderivative. Only the whole expression together does.

[2019-03-10 20:00] Naba7 commented on #15726
It outputs Integral(x**x, x),then we can add piecewise antiderivative to Risch function? Using print(sp.integrate(x**x,conds='piecewise')) as well as print(sp.integrate(x**x,conds='separate')) also outputs Integral(x**x, x)

Should I improve  Risch.py to allow it differentiate into terms then integrate?Then it will violate Risch algorithm,but will give positive results. sympy.integrate uses doit()

[2019-03-10 21:07] Naba7 commented on #15726
We can add it as a rule such Arcsinrule or Ellipticrule such as differentiaterule and add it there. @asmeurer

[2019-03-10 21:38] Naba7 commented on #15726
A function can be written to detect the operator and do further improvements on it

[2019-03-10 21:56] oscarbenjamin commented on #12574
@djsegal can you give more explanation?

Without that this issue is not useful so I will close it soon.

[2019-03-10 22:08] oscarbenjamin commented on #12554
I'm unable to reproduce this on current master. Is this still an issue for you?

[2019-03-10 22:10] oscarbenjamin commented on #12552
This isn't really a bug report so I'll close it.

[2019-03-10 22:10] #12552 closed

[2019-03-10 22:11] oscarbenjamin commented on #12548
This isn't really a bug report in SymPy so I'm going to close it.

[2019-03-10 22:11] #12548 closed

[2019-03-10 22:12] oscarbenjamin commented on #12547
This isn't really a bug report for SymPy so I'm closing this.

[2019-03-10 22:12] #12547 closed

[2019-03-10 22:27] oscarbenjamin commented on #12543
You can pass lists or matrices for mu and sigma to Normal:
[code]
I'll close this issue for now.

[2019-03-10 22:27] #12543 closed

[2019-03-10 22:29] oscarbenjamin commented on #12538
This is fixed now on master:
[code]
I think it was fixed by #15735.

Thanks for the report. I'll close this issue now.

[2019-03-10 22:29] #12538 closed

[2019-03-10 22:46] oscarbenjamin commented on #12531
This is still an issue:
[code]

[2019-03-10 22:48] oscarbenjamin commented on #12527
This is still an issue on current master:
[code]

[2019-03-10 22:51] oscarbenjamin commented on #12523
On current master I get this:
[code]

Does that look correct to you @smichr?

[2019-03-10 22:52] oscarbenjamin commented on #12509
@ghost is this still an issue?

[2019-03-10 22:56] oscarbenjamin commented on #12500
Looks like this is fixed now:
[code]

#12711 says it fixes this but not in the standard github way so this issue didn't get automatically closed.

I'm closing it now.

[2019-03-10 22:56] #12500 closed

[2019-03-10 22:59] oscarbenjamin commented on #12499
This is fixed in current master:
[code]
Thanks for the report. I'll close this now.

[2019-03-10 22:59] #12499 closed

[2019-03-10 23:01] oscarbenjamin commented on #12495
Same behaviour on current master:
[code]

[2019-03-10 23:16] oscarbenjamin commented on #12473
I get similar timings now but the docstring for `inv_quick` says
[code]
so it is documented that it is for small matrices.

[2019-03-10 23:20] oscarbenjamin commented on #12461
This is still the case on current master:
[code]

[2019-03-11 00:12] oscarbenjamin commented on #12446
I was surprised by this. Still the case in current master.

Integrating `x**n` where n is a large integer is really slow:
[code]

Output is
[code]

Looks like it scales like `O(n**2)` but it should be constant...

[2019-03-11 00:20] oscarbenjamin commented on #12441
It's true that several files have redundant backslashes. I don't think it's a big deal.

If you want to send a PR then that's great. Otherwise I'll close this issue soon.

[2019-03-11 00:27] oscarbenjamin commented on #12420
This now gives the correct answer:
[code]

However it does so because the expression auto-evaluates before sqrtdenest has a change to look at it:
[code]

@smichr is this issue still valid?

[2019-03-11 00:30] oscarbenjamin commented on #12418
This seems to be fixed on current master:
[code]

Closing.

[2019-03-11 00:30] #12418 closed

[2019-03-11 00:32] oscarbenjamin commented on #12414
Still the case on master:
[code]

[2019-03-11 00:32] oscarbenjamin commented on #12414
Still the case on master:
[code]

[2019-03-11 00:34] oscarbenjamin commented on #12412
Still the case:
[code]
But given the comment from @asmeurer is this actually an issue?

[2019-03-11 00:51] oscarbenjamin commented on #12404
This seems to work on current master (finished under a second):
[code]
The result is complicated if I use `eigenvects(simplify=True)` it takes a few seconds and I get:
[code]
which looks like it could be correct.

[2019-03-11 00:53] oscarbenjamin commented on #12383
Still the case on master:
[code]

[2019-03-11 00:57] oscarbenjamin commented on #12362
The issue seems to be fixed now:
[code]

Although the free symbols result is the same
[code]
but actually that seems correct to me.

[2019-03-11 00:59] oscarbenjamin commented on #12346
This now seems to work on master. I get:
[code]

I haven't

[2019-03-11 00:59] LilJohny commented on #15327
@moorepants check, please this [https://github.com/LilJohny/sympy/commit/96dae6b01248cdf5600c889d301406424d6ee5b4](url) Is this thing is what you need?

[2019-03-11 01:05] siefkenj commented on #12362
@oscarbenjamin Why does it seem right for the free symbols of `A[1,1]` to be `A`?

[2019-03-11 01:14] oscarbenjamin commented on #12362
Because `A` is the symbol and `A[1, 1]` is an expression derived from it (the same as `2*x` is an expression derived from the symbol `x`).

Maybe I'm misunderstanding this...

[2019-03-11 04:39] asmeurer commented on #16196
That was me, a long time ago https://github.com/sympy/sympy/pull/1960. I think coveralls uses the same coverage data, so we could try enabling both. It would just be a matter of uploading the coverage data to both. Then we can see if either is better.

Travis always merges with the latest master before testing. But coveralls uses the `master` Travis build as the baseline, which can lag, especially

[2019-03-11 05:26] jmig5776 commented on #15481
I think we should close this issue.

[2019-03-11 09:18] jksuom commented on #16173
There are two references. The implementation seems to follow the pseudocode given in "Algorithms for Computer Algebra" that does not contain this test. It is not essential for the method of Cantor and Zassenhaus. It is possible that the random polynomial `r` has a common factor with `f` but the probability is small. The method consists of computing `h = r**e ` modulo `f` where `e = (q - 1)/2` (in

[2019-03-11 10:38] sylee957 opened #16227 "IPython %pinfo magic error with core sympy classes."
[code]

[code]

Some primitive classes are throwing error in IPython because `__subclasses__` is defined differently.
`type.__subclasses__` always need some argument.

[2019-03-11 11:40] hirschmichael opened #16229 "documentation: incorrect citation for scipy.stats.f_oneway"
The documentation page of scipy.stats.f_oneway cites "Heiman, G.W. Research Methods in Statistics. 2002." I didn't find that title. It is probably an error. There are a few books by Gary W. Heiman, which could be the correct source, see e.g.  https://openlibrary.org/authors/OL37433A/Gary_W._Heiman

SciPy Release: 1.2.1, February 10, 2019
https://docs.scipy.org/doc/scipy/reference/generated/scipy.s

[2019-03-11 11:47] sylee957 commented on #16229
Is there any SymPy relevant issue about the docs?

If not, you may have to report to the SciPy issue tracker.
https://github.com/scipy/scipy

[2019-03-11 11:51] hirschmichael commented on #16229
You are right. Sorry I've got the wrong page.

[2019-03-11 11:51] #16229 closed

[2019-03-11 13:01] abhinav28071999 opened #16230 "Implementation of Strassen algorithm for multiplying large matrices"
I think there should be a method to multiply Two large matrices with strassen algorithm.

like

strassen algorithm has complexity is O(n^2.807) which is less compared to naive algorithm(O(n^3)).
So a user can use strassen algorithm when he wants to multiply really large matrices.

[2019-03-11 13:32] oscarbenjamin commented on #16230
I think that the overheads mean that is only beneficial for very large matrices. Since SymPy uses symbolic calculations it is much slower than a numerical library anyway and probably can't use any algorithm to efficiently do such large dense matrices unless working with floats in which case you should just use numpy etc anyway.

I would be surprised if something like this was beneficial in SymPy.

[2019-03-11 15:26] sidhantnagpal commented on #16230
See the discussion at #15421.

[2019-03-11 17:06] jonas87 opened #16231 "not solving overdetermined system of linear equations"
I have posted this issue on stackoverflow where it was suggested this may be a bug (using v1.3).
[https://stackoverflow.com/questions/55102209/sympy-solving-overdetermined-system-of-linear-equations](url)

This works:

    from sympy import *
    x, y, z = symbols('x y z')
    matrix = Matrix([
        [1, 0, 0, symbols('A')],
        [0, 1, 0, symbols('B')],
        [0, 0, 1, symbols('C')]])

[2019-03-11 17:23] abhinav28071999 commented on #16230
Okay.

[2019-03-11 17:23] #16230 closed

[2019-03-11 17:51] asmeurer commented on #15726
I can't replicate this issue in master. `integrate(f, x)` returns instantly, as does `risch_integrate(f, x)`.

[2019-03-11 18:11] asmeurer commented on #16227
This is a bug in IPython. See https://github.com/sympy/sympy/pull/16228#issuecomment-471657363. Even `type?` gives the same error.

[2019-03-11 18:13] asmeurer commented on #16227
I tested it in IPython master and it seems to be fixed already.

[2019-03-11 18:28] asmeurer opened #16232 "Make codecov not give a failing status"
It's kind of annoying that codecov can make the status for a PR an :x:. I use the status as a basic check whether to look at a PR, as a failing status automatically means the author needs to do something to fix it.  So I think we should configure it to never give a failing status.

[2019-03-11 18:28] asmeurer commented on #16232
Plus there are a lot of false positives due to https://github.com/sympy/sympy/issues/16196.

[2019-03-11 18:32] smichr opened #16233 "troubles with comparisons involving MinimalMatrix"
In master when I try to compare a SpecialOnlyMatrix with a Matrix
(using some new initialization parameters that are interpreted
by the SpecialOnlyMatrix), I get an error when trying the
comparison one way but not the other:
[code]
If I apply this diff I don't get the error but they don't compare the same
(and I think that is because the _MinimalMatrix is not recognized in sympy_classes)
[code]
[c