[2017-12-27 02:57] #13766 closed

[2017-12-27 02:59] #12624 closed

[2017-12-27 03:09] normalhuman commented on #13795
I'm trying to work out the rule for substituting functions (not expressions).  Example:
[code]
Currently this returns `Derivative(exp(x), x)`. Is this wrong, because the derivative is actually cos(x), and substitution, which is placed after differentiation, should have no effect on it? Or is this correct, because `subs` here is not meant to be the evaluation of derivative at a point?

One of [curr

[2017-12-27 03:32] vishalg2235 commented on #13739
For `combsimp` to automatically produce `binomial`.
I think after completion of [this](https://github.com/sympy/sympy/blob/master/sympy/simplify/combsimp.py#L88) `for` loop `nd_fact_args = [[n], [n - x]]` if `factorial(x)` is not multiplied and `nd_fact_args = []` if `factorial(x)` multiplied manually and binomial term is formed and added into `rvd`.
Now we can check `nd_fact_args` for any such pa

[2017-12-27 03:41] ethankward opened #13800 "limit(x**3 / ((b*x - sin(x))*sqrt(a + x)), x, 0) should not be 0"
0

    2*sqrt(3)

Interestingly this is also what [Wolfram Alpha](https://www.wolframalpha.com/input/?i=limit+of+x%5E3+%2F+((b*x+-+sin(x))+*+sqrt(a%2Bx))+as+x+-%3E+0) thinks the limit is...

[2017-12-27 04:05] normalhuman commented on #13800
The sqrt term could be omitted. The point is that `limit(x**3 / (b*x - sin(x)), x, 0)`  is 0 whenever b is different from 1, and is 6 otherwise. When given generic b, SymPy and WA deal with the generic case. I am not sure there is a computer algebra system that will tell you "0 unless b=1, when it's 6".

[2017-12-27 04:29] ethankward commented on #13800
It's easily expressible in set notation (if limits will eventually support that type of output), or it could be left unevaluated.

[2017-12-27 05:53] normalhuman commented on #13791
Yes, with the aforementioned commit there is no recursion error.

[2017-12-27 05:55] #13690 closed

[2017-12-27 06:03] ArighnaIITG commented on #13524
@smichr ,
No one seems to work on this issue.
Maybe I can work on this. Could you please guide me as to how I can proceed with this?

[2017-12-27 10:57] jksuom commented on #13749
This method is intended for those cases where conjugate log-terms have been combined to atan-terms. So the integrators producing the (raw) antiderivative have to be improved to do this.

[2017-12-27 11:14] vishalg2235 commented on #13749
we can combine `log` terms as then `limit` will be finite number.
[code]

[2017-12-27 22:32] normalhuman opened #13802 "Should free_symbols return set() for undefined functions?"
Consider the following:
[code]

I understand that diff expects an expression rather than a Function, but some people have the idea of differentiating functions, and throwing this TypeError at them isn't nice.  Apparently, `diff` expects to get a set from `f.free_symbols` but doesn't.
[code]

Here is another instance, with a slightly different error message but the same root cause:
[code]

[2017-12-28 09:03] #11258 closed

[2017-12-28 09:03] #13788 closed

[2017-12-28 13:09] gosiao opened #13805 "troubles with expressing f(x)/g(x) as a polynomial"
This is an issue following [the question on the mailing list.](https://groups.google.com/forum/#!msg/sympy/vxOa1Et30x4/9wwVvXLRBAAJ)

**An example explaining the issue:**

let's assume that f(x) and g(x) are polynomials of order 10 and 2, respectively, and that w(x) is a polynomial calculated as:
`w(x) = f(x)/g(x)`
which therefore should be of the order 8:
`w(x) =  a_8 * x^8 + ... + a_0`
where a_0

[2017-12-28 13:12] gosiao commented on #13805
@asmeurer suggestion was that it can be a bug in det() or a fault in cancel() which does not work correctly on floats:

[2017-12-28 15:03] smichr commented on #13799
👍 The object returned should be able to represent any point in the plane. To do so in some linear fashion would be highly desirable.

[2017-12-28 16:04] normalhuman commented on #13805
The behavior of det may be undesirable, but putting floating point values in from the beginning makes life hard for SymPy, because floating point arithmetics doesn't quite conform to the rules we expect (addition is not associative, multiplication is not distributive over addition, etc). It is better to keep the coefficients symbolic until the end of computation.

[code]

Now `det` is a polynomial

[2017-12-28 17:02] gosiao commented on #13805
Thank you, @normalhuman!

it is indeed better to insert the actual floating point values at a very last step, it didn't come to my mind to express A-C coefficients as symbols as well, thank you for the tip!

in the meantime (thinking that sympy won't work) i started to use sage to solve this problem and an interesting thing (although maybe a separate issue) is that sympy and sage produce two diffe

[2017-12-28 17:16] normalhuman commented on #13805
I put x = 0, converted the matrix to numeric NumPy array with
[code]
and found its determinant with NumPy: `np.linalg.det(numeric)`. The result was `-1.6680527551531696e-78`, in agreement with SymPy (constant term of the polynomial).

As a further test, I repeated the process with x = 12345. NumPy returned `6.5662550240764613e-36`.  In SymPy, `det.subs(x, 12345)` returned `6.56625502407643e-36` ag

[2017-12-29 05:55] abhigyank commented on #13617
I want to take this up, since there hasn't been any updates. Which file would be related to binomials?

[2017-12-29 09:25] pelegm commented on #13617
Try:
[code]

[2017-12-29 10:12] gxyd commented on #13515
@abhigyank yes we have to work to do on this issue but somewhat different from what has been described in this issue. See this comment by @smichr https://github.com/sympy/sympy/pull/13539#issuecomment-351415822 . So I think he has already opened an issue for that, see https://github.com/sympy/sympy/issues/13789 , let me know if you have any trouble with understanding the status of the issue.

[2017-12-29 10:18] gxyd commented on #13515
Also PR https://github.com/sympy/sympy/pull/13790 is an attempt at closing the issue https://github.com/sympy/sympy/issues/13789 . So I guess @saurabhkgp21 is working on it.

[2017-12-29 15:38] vishalg2235 commented on #13749
@jksoum should I submit PR for this ?

[2017-12-29 17:04] jksuom commented on #13749
You could do that. It would be interesting to see if some integrals could be evaluated.

[2017-12-29 17:09] vishalg2235 commented on #13749
I think it will work well if PR https://github.com/sympy/sympy/pull/13758 is also implemented.

[2017-12-29 17:24] jksuom commented on #13749
There should be more tests. You could probably find those by looking at unsolved integration issues.

[2017-12-29 17:34] vishalg2235 commented on #13541
Ping @asmeurer @jksuom @gxyd .

[2017-12-29 19:55] asmeurer commented on #13541
The API should be consistent between Matrix and MatrixExpr.

[2017-12-29 21:10] normalhuman opened #13809 "Implement interpolating splines"
SymPy has [`interpolating_poly`](http://docs.sympy.org/latest/modules/polys/reference.html#sympy.polys.specialpolys.interpolating_poly) but no interpolating spline method that I know of. Symbolic interpolating splines are sometimes requested on Stack Overflow by people who want to get a symbolc formula for a particular spline and either (a)  implement it themselves in some low level language, or (

[2017-12-30 02:49] ylemkimon commented on #13802
A function itself has no variable or symbol and differentiation operation is not possible. I think it is a correct behavior, since a function cannot have `free_symbols`.

[2017-12-30 04:10] normalhuman commented on #13802
To clarify, I'm not saying that `f` should have actual free symbols, or that `diff(f)` should not be an error. I'm saying that SymPy core code expects that accessing `.free_symbols` property of a SymPy object will return a `set`, and throws an unintentional exception when it isn't., Pretty much any SymPy object has free_symbols property of type `set`, including Integers and Rationals. Examples:
[c

[2017-12-30 04:36] yugeshk commented on #13780
Hi, I am new to open source and would like to work on this issue.
As per my understanding, new documentation needs to be added [here](https://github.com/sympy/sympy/blob/master/doc/src/tutorial/calculus.rst) before _integration_.
I was thinking there could be two separate sub-headings for _n-th order_ and _array differentiation_ each having a couple of examples.

Is this fine?

[2017-12-30 08:41] vishalg2235 commented on #13541
What does this mean ? Does it mean that both should have same functions ?

[2017-12-30 09:00] asmeurer commented on #13541
Yes

[2017-12-31 00:29] TheVirtualMachine opened #13813 "Wrong results for some definite integrals involving large numbers"
The following definite integral gives the wrong results in both SymPy and SymPy Gamma:

`integrate (x**9-x**2.5556-(x/(x-3.6**70)), (x,1,2))`

The correct answer is about 99.27 ([WolframAlpha](https://www.wolframalpha.com/input/?i=integrate+(x**9-x**2.5556-(x%2F(x-3.6**70)),+(x,1,2)))), but SymPy evaluates it as 0, and does so on all ranges I have tested.

I have tested this on Fedora using Python

[2017-12-31 00:51] normalhuman commented on #13813
The integration works fine, you run into [loss of significance](https://en.wikipedia.org/wiki/Loss_of_significance) due to a giant floating point constant. Inserting floating point numbers in a formula prior to symbolic manipulations is an unfortunately frequent antipattern. It's hard for CAS to do math correctly when [addition isn't associative](https://en.wikipedia.org/wiki/Associative_property#

[2017-12-31 00:54] TheVirtualMachine commented on #13813
Okay. Is there any reason why SymPy Gamma gives a different (also wrong) result?

[2017-12-31 01:02] normalhuman commented on #13813
Same reason, essentially. It boils down to the order of terms prior to summation. If they are ordered as
[code]
then after the aforementioned cancellation of two giant terms, which obliterate those preceding them, we are left with `- 2**(a + 1)/(a + 1)` which is about -3.3.

This behavior is not special to SymPy. Here is a simplified example in plain Python:
[code]

[2017-12-31 03:37] TheVirtualMachine commented on #13813
Thanks for your help.

[2017-12-31 03:37] #13813 closed

[2017-12-31 05:59] acthp opened #13814 "plotting examples don't work"
From the docs:

[code]

results in

[code]

Tried with python 2.7 and 3.4. Installed libs on 3.4:

[code]

[2017-12-31 06:15] jashan498 commented on #13809
I would like to work on it. Can you please assign this task to me?

[2017-12-31 06:19] normalhuman commented on #13814
The example is correct (tested it just now), somehow the matplotlib import fails in your system. Does `import matplotlib.pyplot as plt` succeed?

There are several reports regarding matplotlib import on Stack Overflow: [here](https://stackoverflow.com/q/40255191) and [here](https://stackoverflow.com/q/40963074). Unfortunately import errors are hard to debug remotely, as it's something specific to

[2017-12-31 06:25] normalhuman commented on #13809
I don't think anyone makes formal assignments of tasks to people in this repo. If you'd like to work on it, that's great; and your comment is enough to let others know that someone is on the task.

[2017-12-31 07:28] ylemkimon commented on #13802
I think it's better to add a check for Function at the top of diff, and raise an error like: `Cannot differentiate a function without variable(s). Did you mean {function name}({variable name if given else x})?`.

[2017-12-31 09:10] vishalg2235 opened #13815 "Deprecation of old code of dot() in class MatrixBase"
Old `dot()` code allows user to take dot product of non-row or non-column matrices and returns a `list` of results , like following:
[code]
Now `dot()` is restricted to be used for row or column matrices and gives deprecation warning.
Now results are as following:
[code]
This deprecation is implemented in https://github.com/sympy/sympy/pull/13768

[2017-12-31 12:01] nschloe opened #13816 "integral wrong"
When computing
[code]
sympy reports the value to be `0`. (Tested with the latest version from master.) However, it really is
[code]
c.f. https://www.wolframalpha.com/input/?i=integrate(2+sqrt(1+-+x%5E2)+(-sqrt(3)+%2B+4+sqrt(2)+x%5E2),+-1,+%2B1).
![a](https://user-images.githubusercontent.com/181628/34461446-9903412a-ee2a-11e7-8de3-2418cdbe4512.png)

Any idea what's going on?

[2017-12-31 13:33] vishalg2235 commented on #13816
Indefinite integral formed by sympy is correct :
[code]
However while substitution of `Piecewise` it is getting wrong. As you can see following:
[code]
@asmeurer @jksuom How to fix this ? I have debugged up substitution process and found that at "sympy/sympy/core/compatibility.py(797)wrapper()" ( link = cache_get(key) ), it is getting RuntimeError - `RuntimeError: maximum recursion depth exceeded

[2017-12-31 15:57] normalhuman commented on #13816
### Open-ended conditions in Piecewise output of integration

The issue is already in the Piecewise form of the expression for indefinite integral. The Piecewise is only defined for x strictly between -1 and 1, all other values are left undefined (and so they eventually default to 0). This means that not only this integral, but also integration from 2 to 3, and so on, will result in 0.

A thing to

[2017-12-31 17:31] acthp commented on #13814
No, that import fails:

[code]
I tried re-installing numpy, then matplotlib, which had no effect, and ```pip install --upgrade numpy``` which did nothing ("Requirement already up-to-date").

[2017-12-31 17:35] normalhuman commented on #13814
Sorry to hear that, but as you can see, this is not a SymPy issue.

Installing [Anaconda](https://www.anaconda.com/what-is-anaconda/) is a popular way to avoid the headache of managing packages with pip. Anaconda tends to just work.

[2017-12-31 17:59] acthp commented on #13814
Does this eliminate sympy as the source of the packaging problem?

I can get past the version warning by doing ```pip install numpy==1.14.0rc1```, so seems like some package has the wrong numpy dependency.

However, the example still doesn't do anything, as far as I can tell. It returns a plot object, like

```<sympy.plotting.plot.Plot object at 0x7fc7fec2aeb8>```

but doesn't draw anything. The d

[2017-12-31 18:16] normalhuman commented on #13814
The function plot returns a Plot object __and__ shows the plot, assuming there is a plotting backend available. SymPy itself doesn't actually puts pixels on the screen. If there is no backend, you get an object but no visible plot. The server at http://live.sympy.org does not have a plotting backend either, as an attempt to `import matplotlib.plot` shows.

The [plot function reference](http://docs

[2017-12-31 21:54] moorepants commented on #13814
You may not be using the correct python in which you have installed matplotlib alongside sympy. It is possible to install numerous Python's on you system (see here for some of the complications: http://jakevdp.github.io/blog/2017/12/05/installing-python-packages-from-jupyter/).

Be sure to check which Python you are using and then ensuring you are installing sympy and matplotlib with that version

[2018-01-01 08:52] jashan498 commented on #13809
Just made a pull request. Can you please review it and tell me possible improvements? :)

[2018-01-01 10:17] #8668 closed

[2018-01-01 15:05] sj29-innovate commented on #13638
I am taking this up.

[2018-01-02 02:30] pfalcon opened #13821 "Operations/simplification on bitvectors/modular rings?"
Sorry for dumb questions (I googled them up, I swear).

Can SymPy let me tell that `x` is a bitvector of size 8, or (somewhat) equivalently, that it's unsigned value modulo 256?

The can it perform simplification of `(x << 1) >> 1` to `x & 0x7f`? Or calculate that for `x = 255`, expression `x + 5 > 100` is false?

Actually, can SymPy simplify relations?

I get following (in the online SymPy Live S

[2018-01-02 03:09] normalhuman commented on #13821
Bits and unsigned integers are not really mathematical concepts, they are details of hardware implementation. There are no bit shifts in SymPy, there is modular arithmetics performed by [`Mod`](http://docs.sympy.org/latest/modules/core.html#sympy.core.mod.Mod) function. Taking Mod by 256 amounts to working with 8-bit unsigned integers. For example:
[code]
Also,
[code]
expresses `(x << 1) >> 1` bei

[2018-01-02 09:59] pfalcon commented on #13821
@normalhuman: I appreciate the quick response! (And Happy New Year!)

Of course they are. That's what good about math - anything which one can imagine and anything one can't is a mathematical concept ;-). For example, unsigned integers are also known as https://en.wikipedia.org/wiki/Natural_number , etc.

But you're right, I'm interested in a mathematical formalism which describes workings of a bi

[2018-01-02 11:29] pfalcon opened #13823 "Feature request: Explicit bitvector/bitarray type"
This is submitted as a follow up to https://github.com/sympy/sympy/issues/13821, in the hope that such an addition will be useful for SymPy.

Bitvector aka bitvect aka bit vector aka bitarray aka bit array is a well-known data type: https://en.wikipedia.org/wiki/Bit_array . One of its uses comes from the fact that it can be used to represent operations performed by binary computers, and thus to re

[2018-01-02 11:30] pfalcon commented on #13821
I also decided to submit a dedicated feature request with some references and rough requirement ideas: https://github.com/sympy/sympy/issues/13823

[2018-01-02 11:39] #13617 closed

[2018-01-02 15:13] kangwonlee commented on #10925
I am also experiencing a similar issue : sympy plot works with sympy.Piecewise in python 3.5 but not with python 3.6.

[2018-01-02 15:41] normalhuman commented on #13821
Parentheses are required in `(x > 1) | (x > 2)`

But you are right, the `reduce_inequalities` takes a system of inequalities, which means they are joined by AND. The only way to express OR logic there is to negate the inequality and then negate the result:
[code]
returns x <= 1, the negation being x > 1.

Yes, the sort of syntax and manipulation you'd like to see are not developed in SymPy.

[2018-01-02 17:18] smichr commented on #12239
`solveset` already will solve for symbolic functions but a re-ordering of code is necessary to handle the case when `symbol` is not a Symbol is needed, however, especially in the case when solving for a function having no symbols in the arguments, e.g. `solveset(f(1) - 3, f(1))`.

The code can be updated to use `recast_to_symbols`

There is no need to impose additional constraints on what non-symb

[2018-01-02 17:40] smichr opened #13825 "solveset result is too complicated when AppliedUndef"
I'm not sure why the 3rd result below is so complicated. `solve` doesn't make it so and if `f(0)` is replaced with `y` it is not complicated.
[code]
Perhaps a simplification decision is being based on the result not having any free symbols (rather than seeing if it is a number):
[code]

[2018-01-03 07:29] #13055 closed

[2018-01-03 15:21] smichr opened #13828 "SparseMatrix should have its own reshape routine"
The following should be about a million times faster with a dedicated reshape routine that just moves around existing elements and does nothing with 0s:

[code]

[2018-01-03 16:59] vishalg2235 commented on #13825
I changed `domain` to reals.
[code]

[2018-01-03 17:57] normalhuman opened #13830 "Precompute the CDF of several distributions where integration doesn't work well"
The way [continuous distributions](http://docs.sympy.org/dev/modules/stats.html#continuous-types) are implemented is that the density function (PDF) is defined, and then the cumulative distribution function (CDF) is meant to be obtained by integration. This often doesn't work well because integration is hard. In such cases we should have an internal `_cdf` method with a precomputed CDF, as is the

[2018-01-03 18:02] AAmberFan opened #13831 "Max & Min converting using SymPy"
Why many languages likes js and R cannot be converted from Max & Min?
![image](https://user-images.githubusercontent.com/26391392/34533015-54ffb7d4-f086-11e7-945a-5708f6739d5d.png)

[2018-01-03 18:07] vishalg2235 commented on #13828
@smichr I want to work on this issue. I need some help that routine should create another zero matrix and substitute non zero element or it should modify existing one?

[2018-01-03 18:13] normalhuman commented on #13831
I suppose these should be added, considering  JavaScript does have `Math.max` and `Math.min`.

Meanwhile, there is a workaround: Max(x, y) is equivalent to `(x+y+Abs(x-y))/2`, and Abs is supported.

'(1/2)*y + (1/2)*Math.abs(y - 1) + 1/2'

Similarly, Min(x, y) is equivalent to (x+y-Abs(x-y))/2.

[2018-01-03 18:45] normalhuman commented on #13320
@kangwonlee @BananaOrbit Can you check whether the error still occurs in the current master branch of SymPy? I've submitted a pull request (#13826) but there is a doubt whether the bug still exists.

[2018-01-04 01:22] ethankward opened #13833 "Feature request: add characteristic functions of probability distributions"
These could be computed as needed with integration (however I suspect many of them would be beyond the current capabilities of the integrator), or defined explicitly for the various distributions with something like _characteristic_function.

[2018-01-04 02:37] normalhuman commented on #13825
Aside: it turned out that `.is_number` would not solve the issue. While `f(0).is_number` is False, `sqrt(f(0)+1).is_number` is True... surprisingly.

[2018-01-04 03:58] vishalg2235 commented on #13833
I would like to ad this feature. Can you explain me how to implement it and in which file ?

[2018-01-04 05:02] vishalg2235 commented on #13815
@ylemkimon it should have deprecation removal tag.

[2018-01-04 05:39] ethankward opened #13835 "Matrix determinant raises Invalid NaN comparison with particular symbolic entries"
0

    -a

    2*a*(a + 2) + 2*a*(2*a + 1) - 3*a*(2*a + 2)

    0

    nan

    Traceback (most recent call last):
      File "<pyshell#4>", line 1, in <module>
            f(6)
      File "<pyshell#2>", line 1, in <lambda>
            f = lambda n: det(Matrix([[i + a*j for i in range(n)] for j in range(n)]))
      File "C:\Users\E\AppData\Local\Programs\Python\Python36\lib\site-packages\sympy\mat

[2018-01-04 06:06] normalhuman commented on #13835
The source refers to a thesis that might justify a more general form of Bareiss algorithm, but I can't access the thesis.  Meanwhile, the LU method works fine.
[code]
Unless the failure of 'bareiss' here is due to an implementation flaw, it seems we should change the default method to old-fashioned but trusty LU.

[2018-01-04 06:54] abhigyank commented on #13618
There seems to be no update on this issue since 1 month, so I am taking this up. No update on PR #13670 from 1 month as well.

[2018-01-04 09:12] pfalcon commented on #13821
Ah, makes sense! One can only share a sentiment of regret that Python's boolean operators `or`/`and` aren't overridable (which have the right precedence), but reading why they aren't (https://www.python.org/dev/peps/pep-0335/), one can agree with the decision to not make them so.

Thanks again @normalhuman for insightful replies, closing this then, hope #13823 can survive for longer time to collec

[2018-01-04 09:12] #13821 closed

[2018-01-04 10:39] jksuom commented on #13835
It is equally valid for other matrices. It is favoured for integer matrices since it tends to avoid denominators.

In this case, it seems that the computation of the determinant (as an expression) succeeds but `factor_terms` fails. It is possible to avoid that by using polynomials instead of plain expressions:

    f = lambda n: det(Matrix([[Poly(i + a*j, a) for i in range(n)] for j in range(n)]))

[2018-01-04 11:20] #13802 closed

[2018-01-04 19:50] ArighnaIITG commented on #12239
Okay.
@smichr , I will be working on this issue.

[2018-01-05 04:07] rbistolfi opened #13841 "Should (x <= y) == (y >= x) return True?"
Hello everybody!

I was expecting this to return `True`

`sympy.sympify("x >= 9") == sympy.sympify("9 <= x")`

I have been playing with the code and this seems to do the trick:

[code]
What do you think? Am I missing something? Is the behavior I expect, reasonable? What about the solution?

Thanks in advance for your time.

[2018-01-05 04:30] normalhuman commented on #13841
[`==` is meant to test structural equality, not mathematical equivalence](http://docs.sympy.org/latest/gotchas.html#double-equals-signs). For example, `x*(x+1) == x**2+x` is False, and so is x**1.0 == x. It seems undesirable (see #12942) to add special-case logic to make expression appear equal when they are not.

`GreaterThan(Symbol('x'), Integer(9))` and `LessThan(Integer(9), Symbol('x'))` are s

[2018-01-05 06:22] normalhuman opened #13842 "det(matrix) should support 'method' argument, like matrix.det() does"
The determinant of a matrix M can be computed as `det(M)` or as `M.det()`. The former is more intuitive syntax for users familiar with other CAS, so even though it's not mentioned anywhere in SymPy docs, it gets used (e.g., in #13835).

However, there is an inconsistency in that `M.det()` allows the `method` keyword argument, while `det(M)` does not. I think `det` should pass any `**kwargs` it get

[2018-01-05 07:16] mohitiitb commented on #13842
I would like to work on this.
So can you please guide me.

[2018-01-05 07:33] normalhuman commented on #13842
To begin with, the first line of the function would be `def det(matexpr, **kwargs):`
Then we have to figure out how to pass **kwargs forward. I think they logically belong in the `doit()` method, not in the Determinant object constructor. So the last line of the function would become `return Determinant(matexpr).doit(**kwargs)`.

Then, look at the `doit` method and see how it can pass **kwargs alo

[2018-01-05 08:38] normalhuman opened #13843 "n-th order derivatives behave incorrectly with doit(), and do not denest"
I tried out n-th derivatives (#13751) and found a couple of oddities. The setup:
[code]
First of all, `doit` is wrong:
[code]
The derivatives are unwilling to combine:
[code]
They do combine if a symbolic order is followed by numeric:
[code]
But not the other way around:
[code]

[2018-01-05 09:39] jashan498 commented on #13830
I am working on it !

[2018-01-05 11:51] asmeurer commented on #13842
Also it should raise an exception if kwargs is used with a matrix expression instead of an explicit matrix.

[2018-01-05 12:10] akash9712 commented on #13843
I'd like to work on this.
Also, as per this current behaviour,
[code]
Is this the intended behaviour? The order in which the derivatives are being taken should not be interchangable unless the function can be determined to be continuous.

[2018-01-05 12:44] jksuom commented on #13835
The recursive [`do`-method](https://github.com/sympy/sympy/blob/master/sympy/core/exprtools.py#L1154) deals with the arguments of a `Mul` object [one by one](https://github.com/sympy/sympy/blob/master/sympy/core/exprtools.py#L1197). The error occurs when a `Mul` object has arguments `a` and `b**-1` such that `a` and `b` have a common factor that simplifies to 0.

[2018-01-05 14:08] #12239 closed

[2018-01-05 15:34] normalhuman commented on #13843
Commutativity of such derivatives is assumed [by design](https://github.com/sympy/sympy/blob/master/sympy/core/function.py#L931), and I think this is the correct decision. On sufficiently abstract level (distributions) derivatives [always commute](https://en.wikipedia.org/wiki/Symmetry_of_second_derivatives#Distribution_theory_formulation). The lack of commutativity only comes up in some edge case

[2018-01-05 18:59] #13799 closed

[2018-01-05 21:31] asmeurer commented on #13843
CC @Upabjojr

[2018-01-05 22:57] #12146 closed

[2018-01-05 23:07] smichr commented on #13841
Yes, as @normalhuman says, the `==` is behaving as it should. The `canonical` property or `equals` method are made for purposes of testing things non-structurally:

[code]

<end of comment; friendly close>

[2018-01-05 23:07] #13841 closed

[2018-01-05 23:14] #13825 closed

[2018-01-05 23:33] normalhuman opened #13847 "Should Integral(f(x), (x, 0, 1)) have is_number = False?"
According to #13619, `is_number` now is only True for something that will evaluate to a number (though it may not do so with precision). For example, `f(2).is_number == False` if `f` is an undefined function. However,
[code]
returns True in current master branch. It seems to me that the definite integral of an undefined function `f` is no more numeric than `f(1)`.

Should `is_number` mean: no free

[2018-01-06 02:47] normalhuman opened #13848 "Derivative with unknown functions is flip-flopping between two forms under doit"
Applying `doit` has a somewhat unhelpful (though mathematically correct) effect on simple Derivative expressions with unknown functions:
[code]
returns `Subs(Derivative(f(_xi_0), _xi_0), (_xi_0,), (g(x),))`. This is not any simpler than the original, only harder to read. Indeed, a second application of `doit` brings us back to old form:
[code]
Of course, the process repeats forever:
[code]
This is

[2018-01-06 03:41] #13831 closed

[2018-01-06 06:52] normalhuman commented on #13848
It seems the resolution of this is easy, conditional on #13803.  The relevant code is [here](https://github.com/sympy/sympy/blob/master/sympy/core/function.py#L1267):
[code]
The condition in this `if` is too restrictive: it prevents direct replacement when `obj` is `Derivative(f(_xi_0), _xi_0)`, v is the dummy variable `_xi_0`, and `old_v` is `g(x)`. There is no reason to keep the dummy variable i

[2018-01-06 10:40] StanczakDominik commented on #10208
This does seem to have been fixed by #10084. Could probably be closed.

[2018-01-06 12:17] #10208 closed

[2018-01-06 13:19] #13843 closed

[2018-01-06 14:03] #12966 closed

[2018-01-06 17:25] sanyamg123 commented on #13765
I want to work on this issue. Can I work on it, if it isn't resolved yet?

[2018-01-06 18:43] smichr opened #13849 "solve/nonlinsolve: RuntimeError: run out of coefficient configurations"
[code]

[2018-01-06 18:53] gxyd commented on #2863
@moorepants may be forgot to close this? It seems that both Vector division and dyadic division printing was fixed here (atleast the issue in description).
![printing-vector](https://user-images.githubusercontent.com/7712241/34642896-f05d80f0-f340-11e7-9471-71901c901011.png)

May be we can close this issue?

[2018-01-06 19:18] jksuom commented on #13849
It is easy to create new coefficient configurations. This seems to suffice in most cases.
[code]

[2018-01-06 19:39] jksuom commented on #13849
It looks like `variations` will return a generator. So we should take `coeffs = list(coeffs)` before testing `coeffs[0]`.

[2018-01-06 19:57] #2863 closed

[2018-01-06 19:58] gxyd commented on #2863
Thanks Jason.

[2018-01-06 20:09] gxyd commented on #12168
@jksuom does `Q.rational(x)` checks whether `x` is mathematically a rational number or not? If it does check that, then isn't `math.pi` actually a rational number. So isn't actually the last answer correct?

[2018-01-06 20:38] normalhuman opened #13850 "Integration result appears to use a different branch of polylog"
The following is close to being correct:
[code]
The real part is fine. The imaginary part is (obviously) wrong. Indeed, polylog(2, 2) is `pi**2/4 - I*pi*log(2)` and so we end up with extra `2*I*pi*log(2)`.

My first guess was that polylog terms comes from somewhere where it's understood to have a different branch cut, equating to  `pi**2/4 + I*pi*log(2)`  at 2.

Or perhaps it's the branching of lo

[2018-01-06 21:57] asmeurer commented on #12168
I think we at some point decided that the assumptions returning None for Float.is_rational is the most reasonable thing. The new assumptions should do the same.

[2018-01-06 22:48] normalhuman commented on #11593
I don't know when this was corrected but it works in both 1.1.1 and current master: `polylog(s, -1)` returns `-dirichlet_eta(s)`

[2018-01-06 22:52] #11593 closed

[2018-01-06 23:09] siefkenj commented on #13765
@sanyamg123 This is being addressed by  #13768

[2018-01-07 00:53] normalhuman opened #13853 "Why does the expansion of polylog(1, z) have exp_polar(-I*pi)?"
I don't see a reason for exp_polar here:
[code]
To my understanding, `polylog(1, z)` and `-log(1-z)` are exactly the same function for all purposes. They agree for |z|<1 by their power series definition. Both are branched at 1 in the same way. The mpmath evaluation implements their branch cuts consistently: when z is real and greater than 1, the imaginary part of both functions is -pi. I tested th

[2018-01-07 04:32] asmeurer commented on #11593
This was fixed by https://github.com/sympy/sympy/pull/10799

[2018-01-07 09:02] sanyamg123 commented on #13853
Can't we print the evaluated value of (cos(a) + I*sin(a)) instead of e^(I*a) ? This simplification into sine and cosine will compute the actual value and then "" exp_polar(-I*pi)/(z*exp_polar(-I*pi) + 1) + 1/(-z + 1) "" this would surely return 0. Please correct me if I am wrong.

[2018-01-07 09:23] sanyamg123 commented on #13853
I would like to work on it. Can you please guide me a bit on how to proceed?

[2018-01-07 09:29] sanyamg123 commented on #13630
I would like to work on this issue. Please guide me.

[2018-01-07 09:42] ArighnaIITG commented on #13849
@smichr , @jksuom , I would like to proceed on this. Could you please guide me?

[2018-01-07 09:42] sanyamg123 commented on #13605
Can somebody please guide me? I think I can resolve this issue.

[2018-01-07 09:54] jksuom commented on #12168
A Float is an approximate representation of a real number. The (potential) number of Floats is countably infinite while the cardinality of the set of real numbers is bigger ("the cardinality of continuum"). Hence Floats cannot correspond to real numbers in a one-to-one way. Instead, each Float corresponds to an infinite set of real numbers, both rational and irrational. Therefore there can be no d

[2018-01-07 11:18] jksuom commented on #13853
I agree that `-log(z*exp_polar(-I*pi) + 1)` could be replaced by `-log(1 - z)`. There is some explanation for the use of polar numbers in the documentation (http://docs.sympy.org/latest/modules/integrals/g-functions.html#polar-numbers-and-branched-functions, last paragraph) but I am not convinced that it should apply here.

[2018-01-07 11:24] skirpichev commented on #13853
Do you know what exp_polar is?

It wasn't here before 0c7303d51.   No tests seems failing in test_zeta_functions.py if I revert this back.

@normalhuman, on a first glance, your reasoning seems fair: polar numbers shouldn't appear in expansions (not in final expressions at least).  So I'll test above "fix" in diofant/diofant#583.

[2018-01-07 11:37] jksuom commented on #13849
You could modify `_coeffs_generator` in numberfields.py as shown in the patch above and run the `solve` and `nonlinsolve` commands presented by @smichr .

[2018-01-07 13:44] skirpichev commented on #13849
@jksuom, ``[1, -1, 2, -2, 3, -3]`` looks like a new set of magic numbers.  Shouldn't it be the sequence of integers up to ``n`` (by absolute value)?

[2018-01-07 14:41] jksuom commented on #13849
Any not-too-small set would suffice, in principle, but numbers like these have the least absolute value.

The primitive element theorem says that such an element can be obtained as a linear combination of generators. In most cases it is enough to take coefficients +/-1 (e.g. in `QQ(sqrt(2), sqrt(3))`).

[2018-01-07 15:32] skirpichev commented on #13849
This sounds not very quantitatively.

But we should carry about all cases.  So, probably, there should be an infinite stream of coefficient guesses if we can't use a bounded set, suitable for given polynomial degree of the primitive element.

[2018-01-07 15:44] asmeurer commented on #12168
The way I think about it is that floats don't behave like rationals with respect to operations, so you can run into trouble with the assumptions which logically assume rationals have certain properties. For instance, floats don't go to zero when they are supposed to (even a + b - a - b could be nonzero).

[2018-01-07 16:07] jksuom commented on #13849
I think this would work in practice. If not, then one can add numbers to the set or use the iterative default method (with `ex=False`) for the construction.

[2018-01-07 16:53] normalhuman commented on #13853
@sanyamg123 `exp_polar` is subtly different from exp, in that `exp_polar(2*pi*I)` is not equal to 1. The function `exp(I*t)` is periodic with period `2*pi`, which means that if one rotates 360 degrees (`2*pi` radian) then it's the same as if there was no rotation. But when working with functions in the complex plane, rotation by `2*pi` may actually matter. For example, log(1) is 0 but if you start

[2018-01-07 16:57] gxyd commented on #12168
Both of your comments have helped me to create a good distinction between the Float's and Rational's. Thinking along the Kalevi's comment direction really clarified.

I've marked the issue as easy to fix.

[2018-01-07 17:04] skirpichev commented on #13849
Of course.  Until you catch another instance of this bug with a little different input...

I believe, there exists some theoretical bound on size of these coefficients.  In which case using it - better.

Another approach could be - re-run primitive_element constrruction with ex=False, instead of throwing an exception.  Not reasons to blowup, if we can do the job by another way.  Unfortunately, now

[2018-01-07 17:17] skirpichev commented on #13853
The short story is: "polar" numbers (assumption is_polar), including every beast, produced by exp_polar - live on the Riemann surface of log.  By default - symbols are complex-valued, they live on the usual complex plane, C, and any special function assumed to be C->C mapping.  So, ~~garbage~~C in - ~~garbage~~C out.

[2018-01-07 17:52] jksuom commented on #13849
This looks like a good idea before a generator for all coefficient combinations in Z^n starting from those with least absolute value is found.

[2018-01-07 19:10] skirpichev commented on #13849
I think, this is better - as a fallback method.

But there shouldn't be the need to search over all coeffs in Z^n.  For example, for extension list ``[x, y]``, where elements have minimal polynomials of degrees less than ``m`` - we can search primitive element as ``t = x + k*y``and the number of "bad" cases for coefficient ``k`` in ``Q`` will be strictly less than ``m**2``.  So, if we take ``m**2`

[2018-01-07 19:37] jksuom commented on #13849
I agree with your reasoning that something like `m**n` coefficient vectors would suffice. I would like to have a method of enumerating those vectors that would start from the neighbourhood of the origin and then proceed gradually to bigger vectors. Then it would not be necessary to consider some bounds.

[2018-01-07 20:46] skirpichev commented on #13849
In the Diofant - there is ``cantor_product()`` method.  Sage has similar method too.

Something like this:
[code]

[2018-01-07 22:52] #13809 closed

[2018-01-08 05:43] abhigyank opened #13859 "inv(matrix) should exist just like matrix.inv() does"
The inverse of a matrix M can be computed as  M.inv(). It should also be able to be computed using inv(M) which is more intuitive for people using Matlab or Scilab.
det(Matrix) exists to compute the determinant of a matrix, similarly inv(Matrix) can also be added.

[2018-01-08 08:34] sharanry commented on #13859
Hey, I am new here. Could I take this up?

[2018-01-08 15:07] normalhuman opened #13864 "ODE incorrectly classified as Bernoulli"
A bug reported on [Stack Overflow](https://stackoverflow.com/q/48148720)
[code]
returns `Eq(y(x), (C1 - x*(x - 1))**(1/(-x + 1)))`. This is clearly due to [exponent n here](https://github.com/sympy/sympy/blob/master/sympy/solvers/ode.py#L1067)  only excluding f(x); it should also exclude x and dx.

[2018-01-08 18:19] rbistolfi commented on #13841
It is clear now, thanks a lot for pointing me in the right direction!

[2018-01-09 01:54] normalhuman commented on #13073
I don't think this is a bug. The method `factor_list` expects a polynomial. Passing an expression that is not a polynomial is an error and should be reported as such.

The input referred to, `x**3/a + y**2*x**2/b`, probably means a polynomial in x and y variables, formally, `Poly(1/a*x**3 + 1/b*x**2*y**2, x, y, domain='ZZ(a,b)')`. But passing it to Poly without specifying the generators creates
[c

[2018-01-09 04:09] nityanandagohain commented on #13780
I want to work on it

[2018-01-09 05:29] normalhuman commented on #13835
Still, isn't it a fault of the method that it produces a 0/0 expression? Consider a simpler example:
[code]
Do we say that `factor_terms` is buggy, or that my `expr` was meaningless to begin with?

[2018-01-09 06:46] ArighnaIITG commented on #12168
@gxyd , @jksuom,
I would like to work on it.
Can you please guide me as to how I should proceed?

[2018-01-09 06:48] gxyd commented on #12168
Thanks for your interest, I think someone already asked on gitter, I think @abhigyank. So may be we should wait, if he submits a PR.

[2018-01-09 06:57] abhigyank commented on #12168
Yes I am working on it.

[2018-01-09 07:14] normalhuman commented on #13733
While not denying this is a buggy behavior, I'll point out a workaround that yields the correct result: simplify the antiderivative before plugging in the limits. That is, change the last line to
[code]
The internal `_eval_interval` method does the evaluate-and-subtract thing with the antiderivative, including taking limits when needed.  Being internal, the method expects the inputs to be SymPy ob

[2018-01-09 07:42] skirpichev commented on #13849
But there could be some bugs inside of this loop over stream coefficients.  Which may lead to non-termination of the computation.

This is why I usually find bounds useful.  In this example, we could indicate user that something is definitely wrong, not just too slow.

[2018-01-09 08:24] abhigyank commented on #12168
@gxyd From the discussion above, what changes are to be made? I am a bit unclear on the math.

[2018-01-09 08:26] gxyd commented on #12168
This assignment https://github.com/sympy/sympy/blob/master/sympy/assumptions/handlers/sets.py#L135 assigns both `Rational` and `Float` to `staticmethod(CommonHandler.AlwaysTrue)`.
See:
[code]
Here we'll need a function decorated with `@staticmethod` returning `None` for `Float`.

[2018-01-09 09:21] abhigyank commented on #12168
I am getting an issue here. If I change``` Float``` to ```staticmethod(CommonHandler.Float)``` where ```CommonHandler.Float``` returns ```None```, the output for ask(Q.rational(1.4)) would also return ```None`` . Thus it fails the existing float tests. What should be done?

[2018-01-09 11:02] gxyd commented on #12168
Modify the tests as well, I guess.

[2018-01-09 11:07] #13864 closed

[2018-01-09 11:27] jksuom commented on #13835
It seems that Bareiss' [`_find_pivot`](https://github.com/sympy/sympy/blob/master/sympy/matrices/matrices.py#L177) should use some zero detection like `val = val.expand()` before `if val:`.

[2018-01-09 13:16] Ulfgard commented on #13733
cool, thank you for this workaround! I got around it myself by typing in the correct solution by hand but your way is much better, of course :)

I hope this is going to be fixed t some point!

[2018-01-09 14:07] ishanaj commented on #12641
Is there anything else to be done(or added) apart from what is done in PR #12651?
I would like work on it.
@gxyd @neihousaigaai

[2018-01-09 14:39] tamis-laan opened #13871 "MatrixSymbol has no norm() method?"
Is this on purpose?? Or is something wrong here?

[2018-01-09 16:32] Subhash-Saurabh commented on #13253
@asmeurer Do we need to create a new class `IntegerDivision` like `Mul` and then override the `__floordiv__` function or is there any other way to proceed .

[2018-01-09 17:07] normalhuman opened #13873 "Derivatives of negative order should be rejected"
This seems wrong:
[code]
It's meaningless and it doesn't even print correctly:
[code]

An attempt to create a Derivative with negative order of differentiation should raise a ValueError in the `__new__` method of `Derivative` class.  I imagine the check being added [here](https://github.com/sympy/sympy/blob/master/sympy/core/function.py#L1176):

[code]

This is not entirely busywork because a user

[2018-01-09 17:08] jksuom commented on #13408
It seems that these timeouts have disappeared after #13411 was merged.

[2018-01-09 17:08] #13408 closed

[2018-01-09 17:13] himanshuladia commented on #13873
I would like to take this up.

[2018-01-09 17:18] Shikhar1998 opened #13874 "Discrepancies in find_unit"
Consider the following examples:
[code]
`electronvolt` and `electronvolts` have dimensions of `Energy` and not `volt`.

[2018-01-09 17:53] normalhuman opened #13876 "Give users more knobs to twist in integrate"
When `integrate(f(x), (x, 0, oo))` does not work as well as one hoped, an experienced SymPy user knows to try a few things:

1. `x = symbols('x', nonnegative=True)` may help; after all, x is nonnegative here. Sometimes it hurts, however: instead of quickly failing with one method, the integrator persists for a long time and returns something incomprehensible. For more, see my sketch #13858 where I

[2018-01-09 17:58] normalhuman commented on #13871
To better understand your use case for this method, could you give the context in which you expected to use it?

[2018-01-09 19:11] normalhuman commented on #13873
Aside: one might consider that negative order derivatives can be [interpreted as integrals](https://math.stackexchange.com/a/1503626) and then maybe `diff(sin(x), (x, -1))` should pass the function to Integral. I don't think this would be the right decision. As the Math.SE post itself indicates, this is a hairy subject. For example, `diff(3, (x, -2))` if we wanted to implement it, would be `(3/2)*

[2018-01-09 19:42] Subhash-Saurabh commented on #12158
@moorepants Since unicode printing is not possible should we implement ascii printing for this.
What do you suggest ? Should I proceed for implementing this.

[2018-01-09 19:48] himanshuladia commented on #13873
You might ask to add a fractional calculus module to the ideas page

For the negative order derivative, raising a ValueError at the place you told doesn't seem to work.

[2018-01-09 19:50] moorepants commented on #12158
I don't know what the best solution would be. Feel free to propose something.

[2018-01-10 07:08] jashan498 commented on #13876
I want to work on it, if someone else is not working on it :)

[2018-01-10 08:54] vishalg2235 commented on #13876
I'am also working on this!

[2018-01-10 10:17] jashan498 commented on #13876
No problem, you carry on this issue!  :)

[2018-01-10 13:21] #13849 closed

[2018-01-10 14:26] asmeurer commented on #13876
Point 3 should be fixed in `limit` itself. But be careful with limit heuristics in general, as they can lead to a lot of problems if not done carefully.

I would rather look into the root causes here for all of these before adding new APIs (especially the second API suggestion, which I'm not a fan of). https://github.com/sympy/sympy/issues/13792 looks like a bug, which happens to go away when you

[2018-01-10 14:53] asmeurer commented on #13873
Yeah, it should raise an error. There are too many issues with arbitrary constants. We have `integrate`, and `dsolve(Eq(diff(f(x), x, 2), 3), f(x))` will take two "negative derivatives" with constants.

Fractional calculus should be a separate function from `diff`. While it would be nice to have, it's too obscure for `diff`. Also I think there might be multiple definitions of a fractional derivati

[2018-01-10 15:11] vishalg2235 commented on #13876
For point 1 should I start from https://github.com/sympy/sympy/pull/13858 ?

[2018-01-10 15:51] vishalg2235 commented on #13876
@asmeurer Will it work if I add `e = simplify(e)` [here](https://github.com/sympy/sympy/blob/master/sympy/series/limits.py#L186) ? can you brief me how to proceed for `limit heuristics` ?

[2018-01-10 16:16] ArighnaIITG commented on #13848
I would like to take this issue up. Could you please guide me @normalhuman ?

[2018-01-10 16:40] spirali commented on #10589
This issue was not solved. In Python 3.6, the problem still occurs (I have just checked the current master and pip version of sympy). However, it seems that the bug is not manifested in Python 2.

[2018-01-10 16:52] #13876 closed

[2018-01-10 17:03] gxyd opened #13879 "sample method for GammaInverseDistribution"
Currently `GammaInverseDistribution` https://github.com/sympy/sympy/blob/master/sympy/stats/crv_types.py#L1186 doesn't have a `sample` method. An attempt was made to add in PR #11673 to add `sample` method. Though the tests haven't been added.

#### What needs to be done?

* Add docstring and tests for it.
* The contributor should make sure to send a PR with ownership of original commit retained t

[2018-01-10 17:09] normalhuman opened #13880 "Add evaluation of n-th order derivatives of certain functions"
The current behavior is that `diff` always returns unevaluated when an order of derivative is unspecified.
[code]
Ideally that would return `2**n * exp(2*x)`. In general, n-th order derivative can be evaluated in closed form for any expression of the form `x**k * exp(a*x)` hence of a linear combination of such expressions. I just did it by hand: `diff(x**k * exp(a*x), (x, n))` is equal to
[code]
(

[2018-01-10 17:23] ashish1500616 commented on #13879
I would like to work on this issue.

[2018-01-10 17:30] gxyd commented on #11044
Seems like @asmeurer forgot and opened a duplicate issue for 'str' printing here https://github.com/sympy/sympy/issues/11559 which has been fixed.

As for the `lambdify` error, it has been fixed by PR https://github.com/sympy/sympy/pull/11566 . Only task remains is to add a test case as @asmeurer suggested here https://github.com/sympy/sympy/pull/11046#issuecomment-299757406. I'm closing this one,

[2018-01-10 17:30] #11044 closed

[2018-01-10 17:32] gxyd commented on #11044
@sdewaele this has been fixed in sympy version >= 1.1, see https://github.com/sympy/sympy/pull/11566

[2018-01-10 17:39] gxyd opened #13881 "test case for syntax error on lambdify"
See this issue https://github.com/sympy/sympy/issues/11044 . That issue was fixed in PR https://github.com/sympy/sympy/pull/11566. Though no test case was added for the `lambdify`.

#### What needs to be done?

Add test case that this works just fine:
[code]

Test case needs to be added in appropriate file

[2018-01-10 17:40] gxyd commented on #11044
Opened https://github.com/sympy/sympy/issues/13881 for adding the test case for lambdify

[2018-01-10 17:42] 96mohitm commented on #13879
Hi, @gxyd I would like to take up this issue, as I am new to Sympy, can you please guide me on sample method. Thanks!

[2018-01-10 17:44] 96mohitm commented on #13881
Hi, @gxyd I would like to take up this issue.

[2018-01-10 17:47] #13515 closed

[2018-01-10 17:47] #13789 closed

[2018-01-10 17:47] gxyd commented on #13879
Yes, please go ahead. As mentioned in the "What needs to be done section?" section in issue description, you just need to add test case for it.

Make sure you do this on top of commits of PR https://github.com/sympy/sympy/pull/11673

[2018-01-10 17:50] gxyd commented on #13879
Can you please decide which one of you will work on this? @ashish1500616 @96mohitm

[2018-01-10 17:56] Akuli opened #13882 "cot(x).rewrite(sin) is broken"
[code]

Correct rewrite: cot x = (cos x)/(sin x) = (2 sin x cos x)/(2 sin² x) = sin(2x) / (2 sin² x)

The two should be in the denominator.

[2018-01-10 18:00] Akuli commented on #13882
Seems like fixing this would be simple as editing `cot._eval_rewrite_as_sin` in `sympy/functions/elementary/trigonometric.py`. I can create a pull request if nobody else wants to fix this.

[2018-01-10 18:04] ashish1500616 commented on #13879
@96mohitm You can take up this issue.

[2018-01-10 18:19] gxyd commented on #13879
I just came across this issue https://github.com/sympy/sympy/issues/7358 . I've just commented it so I don't forget, will take a look later.

[2018-01-10 18:21] gxyd commented on #13879
@normalhuman this is a stat one. Would you like to take a look?

[2018-01-10 18:40] nschloe opened #13883 "Rational doesn't accept Symbols"
I have a function that contains
[code]
When invoked with integers, all is fine. If either `a` or `b`, however, is a `sympy.Symbol`, one get's the error message
[code]
This can be worked around with
[code]
but it feels weird that sympy functions won't accept symbols.

[2018-01-10 18:55] gxyd commented on #13882
Yes, please submit a PR. You just need to fix this line https://github.com/sympy/sympy/blob/master/sympy/functions/elementary/trigonometric.py#L1389. Also write a test case for this.

[2018-01-10 19:23] ssk497 commented on #13882
Hi, @gxyd I would like to take up this issue.Thanks!

[2018-01-10 19:25] 96mohitm commented on #13879
@gxyd regarding the issue #13879 I need to make a pr over the pr #11673 how to clone this in my fork?
Can you give a example test for any other method so that i can get a reference. Thanks.

[2018-01-10 19:46] ArighnaIITG commented on #13882
I am submitting a PR based on the above issue.. Thanks..!!

[2018-01-10 20:07] normalhuman commented on #13883
I don't find it weird. Rational is a numeric class, like Integer or Float. It is not meant to contain symbolic expressions. An attempt to create an instance of such a class with a symbol is an error and should be reported as such. When you do `x/y` you don't get a Rational, you get an expression (class Mul to be precise).

What your function really should be doing is
[code]
Then the division happe

[2018-01-10 20:26] ArighnaIITG commented on #11715
Can I work on this issue? Since the PR related to this has been inactive for quite a period of time.

[2018-01-10 21:16] nschloe commented on #13883
[code]
Just what I needed. Thank you!

I'll leave the bug open in case you want to follow up to the exception simplification. Feel to close at any time.

[2018-01-10 21:27] normalhuman opened #13886 "Raise an exception for non-prime p in FiniteFIeld(p)"
This is meant to be someone's first issue to fix. As noted in #9544, the FiniteField class does not check that the input  makes sense.
[code]
Only prime orders are currently by this class, so its `__init__` method [here](https://github.com/sympy/sympy/blob/9670ff89dd8bff7878c6d636ec4f493b87d092df/sympy/polys/domains/finitefield.py#L28) should check the primality of the argument and raise `ValueErr

[2018-01-10 23:32] AAmberFan opened #13887 "max & min"
i found most language cannot be converted into max & min like octave,Fortran and others
(js and R have been fix , thx ;) )

[2018-01-10 23:48] normalhuman commented on #13887
A good issue for a beginner to tackle (preferably, adding more than just min and max): see the PRs #13832 and #13840 for an illustration of what needs to be done.

[2018-01-11 00:04] #13882 closed

[2018-01-11 07:11] ethankward opened #13890 "(-x/4 - S(1)/12)**x - 1 simplifies to an inequivalent expression"
(-x/4 - 1/12)**x - 1

    12**(-x)*(-12**x + (-3*x - 1)**x)

    -1 - 32*15**(1/5)*2**(2/5)/225

    -1 - 32*(-1)**(4/5)*60**(1/5)/225

    -1.32255049319339

    -0.739051169462523 - 0.189590423018741*I

[2018-01-11 07:39] normalhuman commented on #13890
The expressions really are equivalent, `simplify` is not to blame.  SymPy is acting strangely when raising negative rationals to the power of 9/5: depending on what that rational is, it sometimes decides the minus sign can be simply moved out.
[code]

[2018-01-11 07:58] sanyamg123 commented on #13887
I want to look into the issue.   Can you please guide me @normalhuman .

[2018-01-11 09:02] vishalg2235 commented on #13880
There are many functions of which `diff`(derivative) can be evaluated for unspecified order (n), like:
`diff(sin(x), (x, n))` should return a condition based answer on n being odd or even, diff(x**k, (x, n)) should return piecewise answer : when `k<n` it equals 0 otherwise `Binomial(k, n)*x**(k-n)`.
And a new function can be made to evaluate unspecified order derivative of many functions which wil

[2018-01-11 09:19] Upabjojr commented on #13880
Currently derivatives are evaluated by defining `_eval_derivative` in the function classes. The method `_eval_derivative` takes only one parameter (the derivation variable).

Ideas on how to do this:
- create a different method, for example `_eval_nth_derivative`.
- add a parameter `n=1` to `_eval_derivative(x, n=1)`, so that we it is different from 1, it will specify the number of derivations. Th

[2018-01-11 09:21] Upabjojr commented on #13880
The output of Wolfram Mathematica (if it can help):
[code]

[2018-01-11 12:53] samarthsinghal1 commented on #13886
I would like to work on this issue.

[2018-01-11 13:35] asmeurer commented on #13880
This was the original goal of implementing this. I wonder how general we can get. There is likely a general formula for the product rule. Is it also possible with the chain rule?

[2018-01-11 13:56] vishalg2235 commented on #13880
Getting general derivatives of general functions of all basic functions (like: sin(m*x), exp(a*x), x**k) and then use various differentiation rules (product, chain, division rules) on there combinations. Am I on right direction ??

[2018-01-11 14:23] ethankward commented on #13890
OK, "inequivalent" was the wrong word. But is it reasonable to expect sympy to try to keep the same complex root choice through simplification?

[2018-01-11 15:49] #11096 closed

[2018-01-11 15:58] LAV42 opened #13891 "linsolve() yields wrong solution"
[code]

Will produce
[code]
It found that `linear_eq_to_matrix` produces the wrong matrix.
I think that the problem resides in the fact that expr.coeff() does not return the right value since the expression must be expanded first. Using
`systeq = [expand(x) for x in systeq]`
solved the problem.

[2018-01-11 16:13] normalhuman commented on #13890
Yes, I think there should be consistency there.  The issue is at the level of SymPy taking in an object like (-1)**(S(4)/5) and parsing it into an expression tree. The trees are formed in significantly different ways for different exponents:
[code]

[2018-01-11 17:16] moorepants commented on #13891
I think a cleaner way to do this internal to this function would be to use the the Jacobian of the set of equations to extract the coefficients.

[2018-01-11 17:19] gxyd commented on #13881
Please go ahead.

[2018-01-11 17:36] Upabjojr commented on #13880
https://github.com/sympy/sympy/pull/13892

[2018-01-11 17:41] Mohit17067 commented on #13891
I am not sure about it but it is working fine for me
[code]
produces
`linsolve {(1/(alpha + 1), 2/(alpha + 1))}`

[2018-01-11 20:35] samarthsinghal1 commented on #13886
#13893 - FF(n) function is being called in test_densearith.py with non prime n and the test is failing as it is expecting an output. How should I go about fixing it? Should I include it in a try-except block to handle that ValueError?

[2018-01-11 20:40] normalhuman commented on #13886
No, don't put try-except block. This needs further investigation: why does the test want a FIniteField of nonprime order, what does it expect to do with it?

[2018-01-11 21:05] samarthsinghal1 commented on #13886
test_dup_mul() which tests the multiplication of dense polynomials in '' K[x] '' calls the following -

K = FF(6)
assert dup_mul([K(2),K(1)],[K(3),K(4)],K) == [K(5), K(4)]

test_dmp_mul() is also calling using it in a similar way.

[2018-01-11 22:43] srinisuja opened #13898 "Problem with Sympy Integrate"
Hi, Can someone help with the below as it does not work? I’m not sure what mistake I’ve made. Thanks

from sympy import *
x, y = symbols('x y')
integrate((((3 * pi)/2 - atan((3 - y)/x) - atan((4 - x)/y))/(12 * pi)), (x, 0, 4), (y, 0, (12 - 3 *x)/4))

[2018-01-11 22:44] normalhuman opened #13899 "Solving trigonometric equations that can be reduced to polynomial"
Wolfram Alpha can [solve 2 * cos(x) * cos(2*x) = 1](http://www.wolframalpha.com/input/?i=solve+2*cos(x)*cos(2*x)+%3D+1), but SymPy can't.
[code]
Or,
[code]

Such equations can be rationalized by [tangent half-angle substitution](https://en.wikipedia.org/wiki/Tangent_half-angle_substitution) and passed to polynomial roots; this is apparently  what WolframAlpha does.  SymPy can do it too, if someone

[2018-01-11 23:40] normalhuman commented on #13898
With multiple integration limits, integration proceeds from left to right. In other words, the inner integral should have its limits appear first. (And go easy on parentheses, more isn't always better.) Since the integral with y is the inner (its limits involve x) the correct order is `(y, 0, (12 - 3 *x)/4), (x, 0, 4)`.

Also, constant factors like 12*pi sometimes confuse `integrate` although they

[2018-01-12 01:53] normalhuman commented on #13886
Looking into this, it appears the class is used in a way that ignores its FiniteField name. It is used mostly to represent the ring Z/(nZ) which makes sense for any n. The name and notation are wrong, and "characteristic" doesn't seem to be the right term to use, but trying to change this looks like fixing the wrong problem.

I'm going to close this issue because raising an exception isn't a way t

[2018-01-12 02:03] normalhuman opened #13902 "A strange-looking binomial sum is evaluated incorrectly."
[code]
The result is wrong: when n is 1, it evaluates to -4 while the actual sum is 2.
[code]
I recognize it's weird to have `binomial(2, k)` but still, it is meaningful and the result is wrong.

[2018-01-12 03:13] jashan498 commented on #13899
I am on it :+1:

[2018-01-12 04:10] ArighnaIITG commented on #13902
I would like to work on this issue, would you guide me out @normalhuman ?

[2018-01-12 04:21] normalhuman commented on #13899
Fair warning: this is hard. SymPy has two solvers, `solve` (old, powerful, complicated, some might say messy) and `solveset` (new, clean, not yet as powerful but is supposed to be the future). I recommend working with `solveset`. Begin by studying its [`_solve_trig` helper](https://github.com/sympy/sympy/blob/master/sympy/solvers/solveset.py#L417), which is pretty short. At present it tries to rew

[2018-01-12 05:53] srinisuja commented on #13898
Thank you for the prompt and helpful reply!

[2018-01-12 05:58] normalhuman commented on #13898
If your issue is resolved, please indicate that by closing it.

[2018-01-12 06:22] jksuom commented on #13886
One way to deal with this is to define another class `FiniteRing` that would do what `FiniteField` does now. Then the invocations of `FiniteField` with non-prime (or non-primepower) arguments should be deprecated and passed on to `FiniteRing`.

[2018-01-12 06:23] #13898 closed

[2018-01-12 06:48] samarthsinghal1 commented on #13886
I can define the class and look for all the invocations of FF(n) with non-prime n and replace the calls with the FiniteRing. But the whole class would be the same as FiniteField except the primality testing?

[2018-01-12 07:32] jksuom commented on #13886
`FiniteRing` could be the same as `FiniteField` is now, but `FiniteField` should (eventually) be fixed to create a field for prime power arguments `p^n`  instead of the ring `Z/p^nZ`.

[2018-01-12 08:24] #7132 closed

[2018-01-12 08:24] #13853 closed

[2018-01-12 14:09] ishanaj commented on #13891
@LAV42 The issue seems to have been fixed in the current dev version of Sympy. The changes would be reflected in the next release.

[2018-01-12 16:06] wolfgang-302 opened #13904 "Issue with a substitution that leads to an undefined expression"
[code]

If b is substituted by a, r is undefined. It is possible to calculate the limit
`r.limit(b,a) # -1`

But whenever a subexpression of r is undefined, r itself is undefined.

[2018-01-12 17:03] jashan498 opened #13905 "Improvisation of inequalities in solveset"
For time being, solveset gives following error if we try it for inequalities without passing its domain as `S.Reals` (for example: on `solveset(x<2,x)`) :
### inequalities in the complex domain are not supported. Try the real domain by setting domain=S.Reals
This gives `open(-oo,2)` if we explicitly make `domain=S.Reals`
But as all real numbers are a proper subset of complex numbers, therefore it

[2018-01-12 17:44] nschloe commented on #13618
Not sure if this is the same issue:
[code]
fails with
[code]
under Python 3. Should I file a new bug for this?

[2018-01-12 18:07] normalhuman commented on #13904
`simplify` works for the generic case. SymPy would be hard to use if getting a+b from `simplify((a**2-b**2)/(a-b))` required an explicit declaration that a is not equal to b. (Besides, there is currently no way to express that declaration to `simplify`, anyway). This is part of reason we avoid `simplify` in code:  it can change the outcome in edge cases.

The fundamental issue here is: for what ki

[2018-01-12 18:15] normalhuman commented on #13618
I think you should file an issue at https://github.com/fredrik-johansson/mpmath/issues since it does not involve SymPy.  mpmath is not a part of SymPy, it's just a dependency.

[2018-01-12 19:57] wolfgang-302 commented on #13904
"But using something like numerator.is_finite would not work either"

I had thought of something like denom.is_zero. If in expr_1/expr_2 the denominator is zero, the fraction is undefined. The only way to get a value from this is to use limits. At least i would think so.

My first idea was that sympy first simplifies and then substitutes. But then, the result should be -1.

(zoo+a)/(a-zoo) # 1
exp

[2018-01-12 20:29] himanshuladia commented on #13905
Given that you want to solve for x, then yes, even in the complex domain, it should give open(-00,2). But the exception is simply says that solving inequalities in complex domain isn't implemented yet,

[2018-01-12 20:58] shril commented on #13881
Hi, @gxyd
Where should I add the test case?

[2018-01-12 23:46] smichr opened #13908 "[FEATURE REQUEST] integer_log"
In a recent PR #13844, the following function may have been useful.

[code]
As tested in the following, it is much faster than `int(log(y, x))`

[code]

This fills in a gap left by
* `multiplicity` - what is the power of x in y?
* `perfect_power` - can y be written as x**e?
* `integer_nthroot` - what is the largest integer x <= y**(1/n)?
* `is_square` - is x a square number

[2018-01-12 23:46] smichr commented on #13908
ping @Yathartha22

[2018-01-13 00:38] BananaOrbit commented on #13320
@normalhuman I am a Github noob. I have downloaded the GitHub for Windows GUI and I removed my pip version of SymPy. Then I cloned sympy in the GitHub for Windows, but when I try to import it in my python script it's not there. I normally just use the pip version of SymPy. I would be glad to test it if I can just figure out why SymPy is not importing.

[2018-01-13 00:44] normalhuman commented on #13320
@BananaOrbit If you clone SymPy into any directory, then it should be imported when you run python from that directory. Open a command line window, `cd` into the directory with SymPy and run python from there.

[2018-01-13 01:00] BananaOrbit commented on #13320
Thank you.

I ran the exact same code as in the original post. I think I might have had a programming error at the end because it gave me:
[code]
So I added ``` x = symbols('x') ``` after the final print statement. Then I got:
[code]

[2018-01-13 03:24] normalhuman commented on #13904
zoo/3 is zoo, and 4/zoo is 0. I think it's convenient, and not controversial, to have these.

Substitution is not to blame: it replaces b by a as requested, evaluating 1/(a-a) as zoo.  This is how `r` becomes `(1/(2*a) + zoo) / (1/(2*a) - zoo)`. So far nothing wrong has happened. The problem is that (because of -zoo being same as zoo) both parts are identified as the same and then the `_gather` he

[2018-01-13 04:19] ylemkimon commented on #13908
It seems it's faster than CPython's log implementation, `math.log`.

[2018-01-13 04:40] jashan498 commented on #13905
Yah you are right. Apparently, there are ways to compare complex numbers too which can be used here such as `re(z)<2`.
Thatswhy I said improvisation (or implementing it) of inequalities for this : )

[2018-01-13 04:40] ethankward commented on #13905
It doesn't make sense to talk about inequalities of complex numbers without redefining the usual definition of inequality. Shouldn't the variables just be assumed to be real here?

[2018-01-13 04:50] jashan498 commented on #13905
Kinda right what you said. But I said comparing like `re(z)<2` because solveset has complex domain by default and I want that user doesn't need to write `S.Reals` explicitly because all real numbers are complex too by default :)
We cant compare imaginary numbers, so sympy simply would only return real intervals.

[2018-01-13 04:55] normalhuman commented on #13905
@ethankward It makes sense to talk about solving, say, abs(z) <= 1 and im(z) >= 1 where z is a complex number (solution: z = I).

[2018-01-13 05:37] vishalg2235 commented on #13879
@96mohitm are you working in this issue?

[2018-01-13 05:38] vishalg2235 commented on #13908
@smichr should I add this feature?

[2018-01-13 05:43] 96mohitm commented on #13879
Yes, @vishalg2235

[2018-01-13 06:18] Yathartha22 commented on #13908
Looks good @smichr  but could you enlighten me a bit on the logic by which `integer_log` solves for x>2.

[2018-01-13 10:47] ArighnaIITG commented on #13908
I have submitted PR #13911 based on this issue.

[2018-01-13 13:32] smichr commented on #13908
Do you mean how does it do it or why does it exclude x == 1? I'll assume you mean x == 1 because that's the shorter answer. If x == 1 we are looking for `1**e = y` for which there is only the trivial case when y == 1 (in which case e == 1). But this is ambiguous with the case for when y = 1 for which `x**0` is the solution (hence e == 0). So log(1, 1) could be 0 or 1 -- so base 1 is excluded as it

[2018-01-13 15:12] wolfgang-302 commented on #13904
I dont really understand what happens. How can i get the result zoo?

In my example `r.subs(b,a)` returns ` 1`,
but `r.subs(b,-a)` returns `(zoo + 1/(2*a))/(zoo - 1/(2*a))`

So how is zoo defined? Is it `(1/z).limit(z,0)`? I get `oo` as result, but how is this related to  `zoo`? As far as i know, `zoo` is ComplexInfinity. By playing around, i just found another confusing result:

`(zoo+z)/(zoo-z)`

[2018-01-13 15:24] smichr commented on #13908
If you actually mean that you want the code explained, this is basically greedy base extraction using exponents of the base that are powers of two to quickly remove large multiples of the base. So for `integer_log(1800, 3)` we test remove 3 and are left with 600; remove 9 and are left with 66 and a total three 3s extracted so far. The next power to test would be 81 which is too large so we start o

[2018-01-13 17:00] normalhuman commented on #13904
There are three infinities: positive infinity oo, negative infinity -oo, and complex infinity zoo. Here is the difference:

- If z is a positive number that tends to zero, then 1/z tends to oo
- if z is a negative number than tends to zero, then 1/z tends to -oo
- If z is a positive number that tends to zero, then 1/z tends to zoo

The complex infinity zoo does not have a determined sign, so -zoo

[2018-01-13 17:59] normalhuman opened #13912 "How should re, im, and arg work on polar numbers?"
After sorting out `Abs(exp_polar(...))` in #13906 I decided to look at `arg` next, and wasn't happy with the outcome:
[code]
I understand that for ordinary complex numbers  `arg` is the principal branch, valued in (-pi, pi]. But how should it behave with polar numbers?

For comparison, I considered `log` because it's closely related. For ordinary complex numbers, `log` is also the principal branch

[2018-01-13 18:46] jksuom commented on #13912
I also think that `arg(exp_polar(w))` should be `im(w)`. Also `re` and `im` of `exp_polar(w)` should be those of `exp(w)`. This probably means that `re` and `im` should always unpolarify the argument (if possible).

[2018-01-13 19:08] normalhuman commented on #13912
Since `re` and `im` (and many other functions) already have `unbranched=True` property set, I begin to think that unpolarification of the argument should happen for such functions without someone going through and editing all their eval methods. For example, `erf(exp_polar(pi*I))` should just return `-erf(1)` because `erf` is unbranched. And if one applies `unpolarify` to the result, it indeed hap

[2018-01-13 20:10] wolfgang-302 commented on #13904
Ok. I think i got it. Thank you for your patient explanation.
Maybe one last question. Should `z + zoo` result in `zoo`? I think that would be natural.

[2018-01-13 20:20] normalhuman opened #13914 "The power of zoo"
`zoo` means complex infinity, the process of |z| -> oo as z varies in the complex plane. There is no base b other than 1 for which `b**z` has a limit as |z| -> oo. However this isn't recognized by SymPy:
[code]
`1**zoo` became nan in #8582, and recently (after 1.1.1) the same was done for `0**oo` although I couldn't locate the PR. But all of these should be `nan`; that is, `Pow(b, zoo)` should be

[2018-01-13 20:37] normalhuman commented on #13904
It's not obvious that it should because z is not known to be finite, either. Maybe z is also infinity that is somehow canceling the other one... for example, `zoo + zoo` is `nan`, correctly.

[2018-01-13 21:51] vivonk commented on #13914
Yes, it should. For this case, we can do like
`
- if a>1; a<sup>zoo</sup>=zoo , a<sup>-zoo</sup>=0
- if 0<a<1; a<sup>zoo</sup>=0, a<sup>-zoo</sup>=zoo
- if a<0; a<sup>zoo</sup>= undefined
`
But I don't know why you want to return nan for b>1 too.
I want to work on this issue, can you assign this to me?

[2018-01-13 21:59] normalhuman commented on #13914
You are thinking about positive infinity, oo. But zoo is complex infinity. And the base is in general complex too.  By default SymPy does not assume that the symbols are real.

[2018-01-13 22:05] vivonk commented on #13914
Sorry, I got it wrong. Thanks for the clarification.

[2018-01-13 22:19] vivonk commented on #13914
Yes, it should be `Nan`.
Can you assign to me? I want to work on this

[2018-01-13 23:18] normalhuman opened #13916 "Legendre polynomials should not rewrite "L_{-n}(x) ---> L_{n-1}(x)""
[Suggested 1st issue].

The following should return the 3rd degree Legendre polynomial, `5*x**3/2 - 3*x/2`:
[code]
Instead, I get "ValueError: The index n must be nonnegative integer (got -4)".

The culprit is a [strange rewriting rule](https://github.com/sympy/sympy/blob/97b7ec4949c4ecb9f6f4db65f4db96ef3b9e53a0/sympy/functions/special/polynomials.py#L789):
[code]
The function rewrites `legendre(5

[2018-01-13 23:20] normalhuman commented on #13914
We don't really assign issues here but you should feel free to work on it and submit a pull request.

[2018-01-14 03:37] vivonk commented on #13916
It is correct for n<sup>th</sup> order Legendre polynomial that
L<sub>-n</sub>(x) = L<sub>n-1</sub>(x) .
It can be shown from
[online calculator](http://keisan.casio.com/exec/system/1180573417) too that
the Legendre polynomial for -n is equivalent to the Legendre polynomial for n-1.

What this .subs(k,2) is doing ?

Another is if n is negative then why the code should produce `ValueError(

[2018-01-14 03:49] normalhuman commented on #13916
`.subs(k, 2)` means substitute 2 for k. Replace k by 2. This is why the polynomial should become a polynomial of degree 3.

Okay, I see now there is a convention to define [Legendre polynomials of negative order](http://functions.wolfram.com/Polynomials/LegendreP/02/). I didn't know about that, thanks for bringing it up. So let's keep the rewrite rule in place. But then, [this if-statement is wron

[2018-01-14 04:00] Yathartha22 commented on #13908
One thing, consider

[code]
@smichr for the second case I think it should be `2`, because 4 can be expressed as (-2)**2 in terms of -2.

[2018-01-14 10:59] akash9712 opened #13922 "solveset cannot solve multivariate expressions with symbols in exponents"
[code]
`solveset` returned the following result prior to https://github.com/sympy/sympy/commit/811ffffc.
Example:
[code]

[2018-01-14 12:19] #7907 closed

[2018-01-14 12:43] Yathartha22 commented on #13908
The above code would give

[code]
which is wrong, the last return statement should be something like `x**e == orig_y`.

[2018-01-14 15:55] Shikhar1998 commented on #13528
@gxyd, both `molar_gas_constant` and `coulombs_constant` do exist in `sympy/physics/units/definitions.py`.  So, I think this issue can be closed.

[2018-01-14 18:57] nschloe opened #13924 "sympy.S doesn't preserve numpy arrays of length 1, and unconditionally converts its member to float"
When sympifying a numpy array of length 1, the array is unconditionally converted to a `float`
[code]
Compare this with arrays of any greater length
where data types and array structure are preserved:
[code]

This behavior leads other funny things like https://github.com/sympy/sympy/issues/13637:
[code]
(As @asmeurer explained before, in the product `b*a` the sympy number is the first factor so sy

[2018-01-14 19:13] asmeurer commented on #13924
This can be fixed by moving the code that tries to convert arrays above the code that tries `float` and `int` in `sympify`.

[2018-01-14 20:11] #13833 closed

[2018-01-14 20:24] nschloe commented on #13924
Ah dang, @Shikhar1998 was working on it as well. Anyhow, feel free to merge #13926 or use whatever you came up with.

[2018-01-14 20:32] asmeurer commented on #12996
From gitter, proposed fix

[code]

[2018-01-15 01:37] smichr commented on #13908
@Yathartha22 , good catch...how about

[code]

[2018-01-15 06:30] ArighnaIITG commented on #13908
@smichr , I have implemented the above feature in my PR #13911 .
And also added test cases.
Please review.

[2018-01-15 07:06] ArighnaIITG commented on #13881
@gxyd , Could you elaborate as to what test case I should write?
I am getting this --

`>>> from sympy import MatrixSymbol, lambdify`
`>>> x = MatrixSymbol('x', 3, 1)`
`>>> f = lambdify(x, x.T*x)`
`>>> f`
`<function <lambda> at 0x7f279f32fa28>`

[2018-01-15 10:25] #13904 closed

[2018-01-15 13:08] #13914 closed

[2018-01-15 15:15] Yathartha22 commented on #13908
This looks good @smichr I'll update.

[2018-01-15 15:19] linspirit opened #13933 "how to use "rs_series" to get the correct result for multivariate expressions"
I wrote the following code:
from sympy import *
from sympy.polys.ring_series import rs_series
lambda_, t, x =symbols(lambda_, t,x)
rs_series(-lambda_**2*x**3*exp(t) - lambda_**2*x**3*exp(-t), lambda_, 4)
but I can the following result:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\opt\Python27\lib\site-packages\sympy\polys\ring_series.py", line 1984, in rs_ser

[2018-01-15 15:21] smichr commented on #13908
I'll check back in a few hours.

[2018-01-15 15:44] normalhuman commented on #13933
Please use triple backticks before and after the code block to get it formatted. Hard to read when asterisks turn into bold.

[2018-01-15 17:45] jksuom commented on #13850
I suspect that the integration result is oversimplified at some stage. `meijerint_indefinite` gives a more complete answer (though that is not necessarily correct either).
[code]

[2018-01-15 17:52] normalhuman commented on #13850
It's still the same thing, unfrortunately: the relevant piece is `-I*pi*log(1/(x + 1)) - polylog(2, x + 1)` which for positive x is equivalent to `I*pi*log(x + 1) - polylog(2, x + 1)`. Would be correct if the logarithm term had opposite sign.

[2018-01-15 18:41] #13924 closed

[2018-01-15 22:15] normalhuman commented on #13880
This is made obsolete by the more general approach taken in #13892

[2018-01-15 23:23] #13908 closed

[2018-01-15 23:23] #13922 closed

[2018-01-15 23:37] normalhuman opened #13935 "Length of intersection of a line segment with the interior of a polygon"
I understand that the Polygon class treats polygons mostly like curves rather than 2D shapes. Still, there are some methods (like `encloses` and `area`) which pertain to the region enclosed by the polygon.

In this direction someone asked about finding the [Intersection between Segment and Interior of Polygon in SymPy](https://stackoverflow.com/q/48271539#48272108) on Stack Overflow. They wanted s

[2018-01-15 23:52] normalhuman opened #13936 "Link Geometry class names to their descriptions"
Real world use example: I open [Geometry module page](http://docs.sympy.org/dev/modules/geometry/index.html) and see that it has an entity I need (Segment). Yay. Except I can't click "Segment" to find what the parameters and methods are. These names should be clickable.

Even if I scroll to the bottom, there's no link to Segment there. (By the way, why does the list on the bottom of that page has

[2018-01-16 00:18] linspirit commented on #13933
Thank you very much.
Using function rs_series has two reasons. Firstly,  the rs_series  is faster than series. Secondly, I donot need O(t**) for the example -2*lambda_**2*x**3 - lambda_**2*t**2*x**3 + O(t**4).

[2018-01-16 00:19] normalhuman commented on #13933
Please use code formatting (single backticks for inline code, triple backtickes for multiline code blocks).

Please clarify if you want expansion in terms of lambda_, as originally stated, or in terms of t.

[2018-01-16 01:17] normalhuman commented on #13933
If you don't need O you can remove it with `removeO`:
[code]
returns `-lambda_**2*t**2*x**3 - 2*lambda_**2*x**3`.

Yes, `rs_series` is much faster but it is also much more limited in scope at present.

[2018-01-16 01:18] linspirit commented on #13933
Thank you!!!

[2018-01-16 03:18] smichr commented on #13935
I have shied away from such additions because there are much better options available for dealing with filled regions. After a quick look, I think it was shapely that I had looked at before.

One thing we haven't implemented yet is a footprint area which ignores self intersections of segments.

[2018-01-16 03:21] smichr commented on #13935
Oh yes, pyclipper was the other library.

[2018-01-16 07:17] Upabjojr commented on #13880
The other PR is not yet merged. Keep open.

[2018-01-16 07:53] ishanaj commented on #9824
`solveset` currently produces the correct output for:
[code]
@aktech @kumarkrishna Is there anything else to be done? I would like to work on it.

[2018-01-16 08:16] #5658 closed

[2018-01-16 08:16] #7165 closed

[2018-01-16 08:16] #8430 closed

[2018-01-16 08:16] #8733 closed

[2018-01-16 08:16] #12582 closed

[2018-01-16 08:23] vivonk commented on #13936
+1, this make easy to people as most of the people don't want to read whole documentation or iterate over whole page.

[2018-01-16 11:30] #12996 closed

[2018-01-16 11:31] #13139 closed

[2018-01-16 11:46] TimFH commented on #13319
Been over 3 months now, and I've still got the same problem. Did you get around to checking it out? Be glad to work with you to reproduce the problem.

[2018-01-16 12:10] ylemkimon commented on #13319
@TimFH The fix is availabe at https://github.com/sympy/sympy/pull/13300/commits/6c4a694576d8ce8c26bd397b020a412fcc3547a0.

[2018-01-16 15:11] #13474 closed

[2018-01-16 15:24] lzkelley commented on #7847
@Yathartha22 I think this is still open, if you're still interested --- though it's been a while...

The [SO question that (partially) prompted this has over 1000 views](https://stackoverflow.com/questions/25222681/scientific-exponential-notation-with-sympy-in-an-ipython-notebook) now.

[2018-01-16 18:39] gxyd commented on #13073
Thanks for the explanation @normalhuman :) . Closing this as a non-issue.

[2018-01-16 18:39] #13073 closed

[2018-01-16 19:03] gxyd commented on #13936
For the contributor to this issue, we need to change \`Point\`  to :class:\`sympy.geometry.point.Point\`, similarly for other entities.

[2018-01-16 19:07] gxyd commented on #13936
@normalhuman I think "Contains" at the end of page should be removed?

[2018-01-16 20:04] ishanaj commented on #9825
@smichr  @Shekharrajak @aktech Currently `solveset(Eq(tan(x), y), x, domain=S.Reals)` goes to `_solve_trig()` and returns a `ConditionSet`. But, this can be solved by simply calling `invert_real()` (somewhere [here](https://github.com/sympy/sympy/blob/master/sympy/solvers/solveset.py#L720)) and the correct answer is obtained i.e.
`(x, ImageSet(Lambda(_n, _n*pi + Mod(atan(y), pi)), S.Integers))`.
C

[2018-01-16 21:18] vivonk commented on #13828
The same thing happens with this
`>>> s = eye(10**5)`
`Traceback (most recent call last):`
`
File "<string>", line 1, in <module>`
`  File "/base/data/home/apps/s~sympy-live-hrd/49.400254913747479351/sympy/sympy/matrices/dense.py", line 1275, in eye`
    `return cls.eye(n)`
  `File "/base/data/home/apps/s~sympy-live-hrd/49.400254913747479351/sympy/sympy/matrices/dense.py", line 529, in eye`
  `  m

[2018-01-16 21:18] michaelnowotny opened #13944 "Issue with sympy.poly function"
Dear SymPy developers,

I am experiencing an issue using the sympy.poly function when supplying an expression that is linear in the generating variable $x$ but has a denominator that involves a symbol, e.g. $expr = a * x / (1-b)$

Here is the Python code:
---------------------------
import sympy as sym
a, b = sym.symbols('a, b')
x = sym.Symbol('x')
sym.poly(a / (1 - b) * x , x)
-------------------

[2018-01-16 21:24] coffe2code commented on #13944
It doesn't give an error when i'm running it. The output is Poly(-a/(b - 1)*x, x, domain='ZZ(a,b)')

[2018-01-16 21:28] michaelnowotny commented on #13944
This is interesting. I am on Mac OS X High Sierra with Anaconda and SymPy version 1.1.1 and Python 3.6.4. I will have to try this on Linux. Which versions are you using?

[2018-01-16 21:30] coffe2code commented on #13944
I'm using ubuntu 16.04 with SymPy version 1.1.2dev. Before switching OS, try using 1.1.2dev

[2018-01-16 21:56] asmeurer commented on #13944
Indeed, it looks like this is broken in the 1.1.1 release, but it works in master.

I bisected the fix to f6e72f83ecb6153b4f1e297a517e93d199e6b19c, which is from https://github.com/sympy/sympy/pull/13588. It looks like a suitable test was added in that PR.

[2018-01-16 21:56] #13944 closed

[2018-01-16 22:02] michaelnowotny commented on #13944
It works for me in the dev version. Thank you for your help!

[2018-01-17 05:01] Yathartha22 commented on #7847
Sure I will take this up.

[2018-01-17 05:11] normalhuman commented on #13850
I think I found the source of this wrong result:
[code]
By [Wolfram Functions](http://functions.wolfram.com/ZetaFunctionsandPolylogarithms/PolyLog2/26/03/01/) this is `-polylog(2, -z)` which seems the same but I think the specific `exp_polar` used here is not always picking the right branch. The choice between `exp_polar(I*pi)` and `exp_polar(-I*pi)` may have to depend on |z| being greater or less

[2018-01-17 08:37] psalvy opened #13945 "Sum of many variable is slow"
Hi dear SymPy people,

I noticed something strange while generating sums of many variables:
[code]

sympy version: 1.1.1
Python 3.5.3
IPython 6.2.1

My workaround has been to split my sum into partial sums and then sum them together. Any idea why that might happen ?

Best,

Pierre

[2018-01-17 11:30] jksuom commented on #13945
In this case, `Add` is preferable. It works in parallel.
[code]

[2018-01-17 11:59] lucainnocenti opened #13946 "Simplify simple non commutative expressions"
Consider the following expression

[code]
which returns `a * b + a * c`. Is there any reason why such simple simplifications are not performed when the symbols are not commutative? Or is there a way to force simplification in such a case?

[2018-01-17 12:11] xqyww123 opened #13947 "integrate(a**t /(a**t+1), t) sucess but a**(t-s)/(a**t+1) fail"
No matter whether `conds='none'`.

[code]

And the error stack is
[code]

[2018-01-17 12:34] #13887 closed

[2018-01-17 12:42] ylemkimon commented on #12870
[code]

[2018-01-17 13:17] jashan498 commented on #13947
I don't know much about `integral` module so I read `integral.py` file and saw we can try to integrate with different methods, namely: `Full Risch algorithm`, `The Meijer G-Function algorithm` and `The "manual integration" algorithm`.
While i was getting error with first two, with `manual integration`i got :

`>>> integrate(g, t ,manual = 1)`
`Piecewise((zoo*Piecewise((zoo*a**t, Eq(log(a), 0)), (l

[2018-01-17 14:41] falematte opened #13948 "Cross product does not work correctly with addition"
Try this minimal example in order to verify that: https://pastebin.com/dWQSXP5N

[2018-01-17 15:20] vivonk commented on #13948
Try to put your code here instead of links.
Use ``` for put code like this
[code]
Btw code is the above one. ^^^^^^^

[2018-01-17 15:56] vishalg2235 commented on #13946
`factor()` will perform the desired action. Using the particular function like: (radsimp, powsimp) is always better option. As they are well defined.
[code]

[2018-01-17 15:58] asmeurer commented on #13947
The error here is a bug. Usually integrate does pass on to the different algorithms until it finds one that works, but if there is an exception that isn't expected, it results in a crash. So the issue here should be to fix the bug.

[2018-01-17 16:44] normalhuman opened #13949 "Add the docstrings of real_root and cbrt to the HTML docs"
The documentation of [root](http://docs.sympy.org/dev/modules/functions/elementary.html#root) says:

But `real_root` is not linked and not found anywhere on the site. It's an important function (not just syntactic sugar) as it's the only way to get -2 as the cubic root of -8, which is what a lot of people want.

Also, `cbrt` is not even mentioned. That one **is** syntactic sugar for `x**Rational(1

[2018-01-17 18:13] TimFH commented on #13319
That did it; thanks!

[2018-01-17 18:16] asmeurer commented on #13945
When you do `a + b + c + d`, Python evaluates this as `((a + b) + c) + d`. SymPy then evaluates the Add constructor on `a + b`, then `a + b + c`, and `a + b + c + d`. The constructor algorithm is primarily combining terms, like `x + x` -> `2*x`. The result is a quadratic increase in time in the number of terms. Add(a, b, c, d) on the other hand runs through the constructor once, which is linear in

[2018-01-17 18:24] #13418 closed

[2018-01-17 18:38] normalhuman commented on #13945
As an aside, [IndexedBase](http://docs.sympy.org/latest/modules/tensor/indexed.html) can express the sum of a bunch of symbols in O(1) time.
[code]
10000 loops, best of 3: 86.1 µs per loop
10000 loops, best of 3: 86.7 µs per loop
10000 loops, best of 3: 86 µs per loop

This may not be the right object for your purpose, it expresses the same idea.

[2018-01-17 18:42] normalhuman opened #13952 "The order of terms in Sum with IndexedBase isn't natural"
The order of terms here doesn't seem right.
[code]
returns
[code]

Should these be in the natural order from 0 to 100?

[2018-01-17 18:48] psalvy commented on #13945
Wow thank you very much for all this feedback! I definitely learned something here.
I will use the Add method in the short  term, and try the IndexedBase when I get a chance.
Shall I close the issue or do you want to keep it alive?
Cheers,
Pierre

[2018-01-17 19:08] ishanaj commented on #10071
Surprisingly, It gives the answer for : `eq = x**3 - 17*x**2 + 81*x - 110` but not for `eq = x**3 - 17*x**2 + 81*x - 118`.
[code]
While wolframaplha gives [this](http://www.wolframalpha.com/input/?i=solve+((x**3+-+17*x**2+%2B+81*x+-+118),x)).
Also `solve` gives the following output:
[code]
....which is correct.

@smichr @kshitij10496 I am working on this issue.
Please tell me where to start from.

[2018-01-17 19:32] normalhuman commented on #11737
Closely related to #13848 where I proposed a solution (replacing Subs by `subs` on [this line](https://github.com/sympy/sympy/blob/master/sympy/core/function.py#L1274)) but it is blocked by #13803.

[2018-01-17 19:41] normalhuman commented on #13952
@asmeurer I didn't think of it as a printing issue: the order of arguments in Add object returned by `
Sum(a[k], (k, 0, 100)).doit()` is such.

[2018-01-17 19:43] asmeurer commented on #13952
The printing sorting and the args sorting are separate things. The args sorting is arbitrary (though consistent). The printing order should be human friendly. The args sorting likely shouldn't be changed here, but the printer should be.

[2018-01-17 20:28] ArighnaIITG commented on #13952
@normalhuman , @asmeurer ,
I would like to work on this. Could you suggest me as to how I should proceed?

[2018-01-17 20:44] normalhuman commented on #13952
@ArighnaIITG Looking /printing module. There are many printers. Begin with str (the one we see at work here). Its function for printing Add objects is [here](https://github.com/sympy/sympy/blob/master/sympy/printing/str.py#L48). Note it does not sort things by default. But there is an option of calling sort method [here](https://github.com/sympy/sympy/blob/8b426b69d1123860ba7a1de1d887c007738945e4/

[2018-01-17 23:39] vivonk commented on #13947
@asmeurer  +1. So should it be solved by one best algorithm or just print maximum solved equation from the all possible algorithms as @jashan498  stated. Because I think that most precious and reliable algorithms are had been used in the module already. If these algorithms can't solve it more then it should return as much they can solve. I would like to work on this so can you guide me up? I have

[2018-01-17 23:45] ylemkimon commented on #13319
But until it gets merged, we'd like to leave this issue open 😄

[2018-01-18 00:34] #13890 closed

[2018-01-18 03:37] normalhuman commented on #13850
For a concrete example, take x = 3. The value of `meijerg(((1, 1, 1), ()), ((1,), (0, 0)), 3*exp_polar(-I*pi))` can be found numerically by taking the limit as
[code]
On the other hand, `hyperexpand` turns this G function into `-polylog(2, x)` which for x=3 is `-2.3201804233131 + 3.4513922952232*I`. Wrong side of branch cut.

I suspect the issue is in `do_slater` method of `hyperexpand` which rewr

[2018-01-18 07:46] xqyww123 commented on #13947
BTW `a**(t+s)/(a**t+1)` works so I guess may something about zero detection wrong ?
Anyway thank you fix the bug.

[2018-01-18 08:09] wygos commented on #13552
I checkout master and now it fails with
"TypeError: cannot determine truth value of Relational"

commit ed6c7e9cf08ff45669f93abba8d54c8d005e6824

[2018-01-18 09:04] jksuom commented on #13850
`_rewrite_single(log(x-1), x)` seems to work by writing

    log(x - 1) = log((-1)*(1 - x)) = log(-1) + log(1 - x)

Now, the question is, which value should be taken for `log(-1)`. I think that the value should be `-I*pi` to cancel the extra `I*pi` in the principal branch of `log(1 - x)` for `x > 1`.

On the whole, this computation by means of Meijer G-functions is on uncertain basis since it depe

[2018-01-18 09:38] ThePauliPrinciple opened #13954 "fcode(contract=True) fails interpreting indexed with arithmetic for indexes"
Taken from  http://docs.sympy.org/latest/_modules/sympy/printing/fcode.html
[code]
I added the last line to explicitely write the loop structure. Unfortunately this does not work.

Here a minimal example:
[code]
works as expected
[code]
However does not. The error message seems to suggest determining the loop bounds is unsuccesfull, supposedly because of the arithmetic performed on the index.

See

[2018-01-18 11:10] Subhash-Saurabh commented on #11066
@asmeurer The `str`printer and `srepr` printer do not print the same result.

In `test_float` in test_repr we can see that
`sT(Float('1.23', dps=3), "Float('1.22998', precision=13)")`

whereas in `test_float` in test_str we see that
`assert str(Float('1.23', dps=1 + 2)) == '1.23'`
The str printer prints the rounded off value of the expr.

Is this the desirable behavior of the printers or any chang

[2018-01-18 16:33] #13949 closed

[2018-01-18 17:08] gxyd opened #13956 "Add is_EmptySet for Interval"
#### Reference to related PR's

See #11501

#### What needs to be done?

Complete the PR #11501 . Addressing the comments left by @siefkenj would suffice I guess.
The contributor shouldn't forget to have `Fixes #11501 and Fixes #13956` in PR description.

[2018-01-18 19:38] normalhuman commented on #13850
Polar numbers are supposed to take care of that, avoiding us making a branch cut: for example,
[code]
seems legitimate to me.

Concerning the implementation of Slater's theorem, I question the logic of [this line](https://github.com/sympy/sympy/blob/master/sympy/simplify/hyperexpand.py#L2275):
[code]
It seems to me that taking power **after** lifting to Riemann surface would be more logical. If th

[2018-01-18 22:31] normalhuman commented on #13850
Upon further reflection, it seems the implementation of Slater's theorem is correct but perhaps its result is being over-simplified. Since we have a G-function with p=q=3, one has to deal with |z|<1 and |z|>1 separately, which is correctly implemented in `hyperexpand` which calls `do_slater` twice.

When reducing `meijerg(((1, 1, 1), ()), ((1,), (0, 0)), x*exp_polar(-I*pi))`, `hyperexpand` gets tw

[2018-01-19 08:53] ArighnaIITG commented on #13956
Can I work on this issue?
Do I have to create a PR on top of that PR?

[2018-01-19 09:03] #13916 closed

[2018-01-19 11:11] Yathartha22 commented on #10071
I don't think there is any problem with `roots()`, it evaluates correctly the result, and solve() gives that result, but `solveset` in a way to simplify the result makes it more complicated. You can do something [here](https://github.com/sympy/sympy/blob/master/sympy/solvers/solveset.py#L487) to get simplified result.

[2018-01-19 12:39] vishalg2235 commented on #13947
@asmeurer I would like to fix this bug. Can you please guide me?

[2018-01-19 18:44] asmeurer commented on #13947
Looks like the polys code isn't recognizing that `exp(-s*log(a))` is `1/exp(s*log(a))`.

[2018-01-19 18:46] asmeurer commented on #13947
A simpler case

[code]

[2018-01-19 20:39] gxyd commented on #12641
Fixed by https://github.com/sympy/sympy/pull/12651 . Closing this.

[2018-01-19 20:39] #12641 closed

[2018-01-20 04:06] Shikhar1998 opened #13967 "Unusual Behavior with Circle CI Builds"
Recently, in PR #13955, #13966, #13934, #13938, #13710 I observed some unusual results with Circle CI.
In PR #13955, while running tests locally on `Prefixes` module an error was observed while running the same tests on `Circle CI` builds no error was recorded.
A similar issue was also observed with PR #13710, in past.
To investigate repeated failing tests in PR's addressing the Issue #13881, I pu

[2018-01-20 05:08] ylemkimon commented on #13967
What tests are you running on the CircleCI?

[2018-01-20 07:20] #8404 closed

[2018-01-20 07:48] Shikhar1998 commented on #13967
I am trying to understand the cases when `Circle CI` passes `tests` which must actually fail.

[2018-01-20 08:49] ylemkimon commented on #13967
What exact commands are you running on it?

[2018-01-20 12:27] gxyd commented on #13520
@ylemkimon how about if we actually have a distinction between them? Not just a re-direction, as an example of usage in other project the definitions of 'easy to fix' and 'good first issue' are listed here http://scikit-learn.org/stable/developers/contributing.html#issues-for-new-contributors.

Though I *don't intend* that we don't accept PR for a 'good first issue' from someone who has got atleas

[2018-01-20 12:42] Shikhar1998 commented on #13967
Tests on these changes are passing `locally` but failing on `Circle CI`.

[2018-01-20 12:53] ylemkimon commented on #13967
Are you using `bin/test`, using `test` function from `sympy`, or running the tests directly by importing the test file?

[2018-01-20 13:04] Shikhar1998 commented on #13967
I am using `bin/test`. Can you run these tests locally and verify:
1. For `sympy prefixes` module
2. and with changes in PR #13968

[2018-01-20 13:37] ylemkimon commented on #13967
SymPy tests are not fully compatible with `pytest`. For example, SymPy's test module imports `division` from `__future__` for all tests. There is some open issues regarding using `pytest` to test SymPy: #5641, #6817, #12927, #13062.

[2018-01-20 13:44] ylemkimon commented on #13967
But in this case, it seems it's not the problem with `pytest`, but rather with `lambdify`. On environments where `numpy` is not installed, lambdify uses `math`, `mpmath`, `sympy` modules for default and `f(Matrix([1, 2, 3]))` returns an array, `[14]`. On where `numpy` is installed, it uses `numpy`, and an Integer, `14` is returned.

[2018-01-20 14:14] Shikhar1998 commented on #13967
Great!. Thanks for clarifying this. It had been bugging me for quite a while.

[2018-01-20 14:15] #13967 closed

[2018-01-20 16:07] moorepants commented on #13520
I think the point here is that we have used "easy to fix" for a long time now and it is spread across documentation, emails, etc. Github has this new feature but it doesn't support selecting whatever label you want to use for your issues for newcomers, so this is simply a redirection to make sure anyone that clicks on Github's default url's gets to the correct issue label for SymPy. I don't see an

[2018-01-20 18:37] asrdav commented on #13936
I am new here and I would like to try out to fix this issue.

[2018-01-21 00:55] Halolegend94 opened #13977 "Generation of wrong octave code for imaginary conversion"
Hi,
sympy generates code like '''sqrt(3)i''' which gives an error in Octave 4.0. Would it be better to substiture it with '''sqrt(3)*i'''?

[2018-01-21 06:20] tschijnmo opened #13979 "Simplification of expandable geometric series"
Inside `eval_sum_symbolic` function in `sympy/concrete/summations.py`, round [line 980](https://github.com/sympy/sympy/blob/84c125972ad535b2dfb245f8d311d347b45e5b8a/sympy/concrete/summations.py#L978), powerful simplification for geometric series exists.  However, if higher-level function is desired to be used, its invocation in `eval_sum` around [line 894](https://github.com/sympy/sympy/blob/84c12

[2018-01-21 06:39] ethankward opened #13980 "binomial(0,k) is inconsistent for non-integer k"
If `k` is not an integer, we have inconsistent evaluation / rewriting:

[code]

[2018-01-21 06:49] ethankward opened #13981 "binomial is inconsistent for negative k"
If `k` is negative, there is inconsistency (this is a regression in the development branch, in 1.1.1 they are both 0):

[code]

[2018-01-21 07:43] normalhuman commented on #13980
The discrepancy is due to [this condition](https://github.com/sympy/sympy/blob/22abf8c122ae128f7188200eaac6f947dafce3bf/sympy/functions/combinatorial/factorials.py#L841), which I'm not convinced should exist at all. Removing it does not cause test failures in series of concrete modules, the only one failing is the assertion `binomial(1, -1) == 0`.

[Wolfram definition of binomial function](http://

[2018-01-21 07:43] normalhuman commented on #13981
The discrepancy is due to [this condition](https://github.com/sympy/sympy/blob/22abf8c122ae128f7188200eaac6f947dafce3bf/sympy/functions/combinatorial/factorials.py#L841), which I'm not convinced should exist at all. Removing it does not cause test failures in series of concrete modules, the only one failing is the assertion `binomial(1, -1) == 0`.

[Wolfram definition of binomial function](http://

[2018-01-21 15:37] ylemkimon opened #13984 "NumPy-lambdified matrix multiplication performs dot product on SymPy matrices"
`NumPyPrinter` prints `MatMul` using `dot` method on the object, which is a dot product for SymPy matrices.

https://github.com/sympy/sympy/blob/2c2c4f9ab082b431b0ac72f855bbdc72200880e5/sympy/printing/pycode.py#L280-L282

[code]

Reported by @Shikhar1998 in #13967

[2018-01-21 16:30] bjodah commented on #13984
Would e.g.:
[code]
be preferable?

[2018-01-21 17:15] RavicharanN opened #13985 "Implementation of infinity norm for matrices"
The current _**norm()**_ method of the MatrixBase class doesn't have the implementation of infinity norm.

[2018-01-21 17:16] RavicharanN commented on #13985
I can go ahead and submit a patch for this issue if it's okay.

[2018-01-21 18:17] gxyd commented on #12168
Closing the issue, since fixed by #13870 .

[2018-01-21 18:17] #12168 closed

[2018-01-21 19:59] #13947 closed

[2018-01-21 21:17] Upabjojr commented on #13880
I'd keep this issue open as we still don't have all of the desired implementation.

[2018-01-21 21:17] Upabjojr commented on #13880
https://github.com/sympy/sympy/pull/13972

[2018-01-21 21:26] #13830 closed

[2018-01-22 00:18] isuruf commented on #13883
I think the exception messages are good enough

[2018-01-22 00:18] #13883 closed

[2018-01-22 00:23] normalhuman commented on #13883
On second thought, I agree: the traceback is this way on purpose, because an exception is being raised at one level, handled and then re-raised on another. Python printing "During handling of the above exception, another exception occurred" makes it look like SymPy is falling apart when it's actually designed to work this way. Not SymPy's fault.

[2018-01-22 01:09] normalhuman opened #13987 "Add debugging messages to manualintegrate"
Some of the more complex algorithms in SymPy, such as Gruntz for limits and Meijer G for integrals, issue debugging messages. Examples from meijergint:
[code]
These are shown if one uses `export SYMPY_DEBUG=True` before starting Python. I found them helpful in tracing integration issues, and I guess it's not just me.

I propose that manualintegrate.py should also issue `debug` messages when it att

[2018-01-22 02:03] #13576 closed

[2018-01-22 03:47] #13423 closed

[2018-01-22 04:09] normalhuman commented on #6603
This was corrected by #13965, which also added a [test](https://github.com/sympy/sympy/blob/master/sympy/integrals/tests/test_integrals.py#L290) with exactly this integral (which now returns `-pi**2/6`).

[2018-01-22 04:09] #6603 closed

[2018-01-22 04:23] normalhuman commented on #13501
Essentially the same issue as #6308

[2018-01-22 05:39] abhayjindal51 commented on #13984
Hi,
I would like to work on this issue

[2018-01-22 05:51] abhayjindal51 commented on #13987
Hi @normalhuman ,
I would like to work on this issue.

[2018-01-22 06:31] normalhuman commented on #13987
Sure, go ahead. My guess is that a debug statement should be in [this function](https://github.com/sympy/sympy/blob/master/sympy/integrals/manualintegrate.py#L1196) where rule is the  rule being applied. Begin by inserting `print(rule)` in there to see how a printed rule looks like, what information it contains.

[2018-01-22 09:22] Upabjojr opened #13989 "Relational of complex numbers should not raise an exception"
[code]

I believe that relational expressions of complex numbers should just remain unevaluated. Raising exceptions is a bad paradigm.

[2018-01-22 10:27] ylemkimon commented on #13987
Also it would be useful feature to show integration steps like SymPy Gamma(https://github.com/sympy/sympy_gamma/blob/master/app/logic/intsteps.py) and WolframAlpha.

[2018-01-22 11:12] jksuom commented on #13989
I don't think that returning comparisons of manifestly complex numbers (like `I`) unevaluated would be a good idea. Their appearance almost certainly means that there is an error somewhere, and an exception is an effective way of alerting the user.

[2018-01-22 11:18] abhayjindal51 commented on #13987
I added the debugging messages. @ylemkimon could you please help me in getting started for showing integration steps

[2018-01-22 14:03] bansalnitish commented on #13891
May I work on this issue if it is still up !

[2018-01-22 15:48] mayankgagrwl commented on #13881
I want to take this issue if still open..

[2018-01-22 18:43] asmeurer commented on #13984
I would consider this to be a bit of a garbage-in, garbage-out situation. If you lambdify a function with `'numpy'`, the function will only work properly if you input a NumPy object (or a Python scalar).

@bjodah np.dot only supports 2 arguments.

[2018-01-22 19:39] #13985 closed

[2018-01-22 20:15] normalhuman opened #13992 "Make assumptions about indexed symbols"
I think this should be possible to do:
[code]

Without assumptions, it's hard to do algebra with indexed symbols, e.g., get `sqrt(x[1]**2)` to simplify to `x[1]`.

I understand that the class Indexed inherits from Expr, not from Symbol, and there are no assumptions on Expr. Still, we already have some quasi-assumptions on Indexed and IndexedBase in the form of `is_commutative=True` class property.

[2018-01-22 22:12] #13780 closed

[2018-01-22 22:34] normalhuman commented on #9695
It seems that #9758 implemented this. Should the issue be closed, or am I missing something?

[2018-01-22 22:42] normalhuman opened #13993 "Piecewise within a Sum does not infer from summation limits"
This result could be simpler:
[code]
returns `Sum(Piecewise((1, (i >= 1) & (i <= n)), (0, True)), (i, 1, n))`. Correct, but it really should be `n`.

Perhaps not automatically, but at least when `simplify` is applied to such a sum, could it make an inference about the Piecewise from the limits of summation on `i`?

[2018-01-22 22:46] normalhuman opened #13994 "Incorrect derivative of a Product over an Indexed object"
This result could be simpler:
[code]
returns `Derivative(Product(x[j], (j, 1, n)), x[i])*n` which is wrong (and doesn't really make sense since `i` is a dummy variable). Apparently, since `Product(x[j], (j, 1, n))` does not explicitly involve `i`, the derivative is decided to be independent of `i` as well.

[2018-01-22 23:02] normalhuman commented on #13987
I don't think debugging messages need pretty recursive (hence resource-consuming) printing from intsteps. And it's probably not going to be available in the situations when we want to debug, because the process never finishes. The main issue with manualintegrate is going into infinite loops of rewriting the function.

[2018-01-22 23:50] Upabjojr commented on #9695
That was a toy implementation. The purpose is to overload the real integral function.

[2018-01-23 03:00] smichr commented on #13989
If for pedagogical purposes one wanted to show what can't be determined unambiguosly with SymPy, symbol hackery could be used as in "Symbol("I") < 1". Let's just close this issue as a WontFix since if there is nothing to be done with such an expression and (as @jksuom says) it likely represents an error in user intention. It is more likely to catch one's attention rather than just returning an une

[2018-01-23 04:24] #11463 closed

[2018-01-23 04:25] #13899 closed

[2018-01-23 05:20] asmeurer commented on #13989
The general SymPy paradigm is to raise an exception if an assumption check gives False and remain unevaluated if it gives None or True. For example, `MatrixSymbol('x', n, n)[S(1)/2]` raises an exception but `MatrixSymbol('x', n, n)[i - S(1)/2]` does not (because `i` could be 1.5). We don't always do a check, and sometimes where you might expect a check there isn't one, like apparently you can do a

[2018-01-23 06:43] #13936 closed

[2018-01-23 07:40] #13033 closed

[2018-01-23 07:42] skirpichev commented on #13989
Of course, there are, in mathematics (btw, Python doesn't assume something special about "<").  And some such extensions used in SymPy for sure, e.g. for ordering roots of polynomials.

There is no extension, which turn C into an ordered field.

Indeed.  Probably, most users would expect totality.

[2018-01-23 07:55] tanayag commented on #13881
@mayankgagrwl I guess PR is all right but, we are waiting for #13984 to get solved!

[2018-01-23 08:24] Upabjojr commented on #13989
I'm a bit skeptical of raising exceptions because it might be a potential problem for scripts where you'd like the code not to stop. The potentiality of exceptions forces users to wrap everything in `try ... except` blocks.

[2018-01-23 08:37] yeshsurya commented on #13994
I'm not able to replicate the issue : I'm getting this error : NameError: name 'n' is not defined. can you provide few more lines where n is defined.

[2018-01-23 10:00] harsh-2711 commented on #13881
Can u please provide the test case file

[2018-01-23 10:14] asmeurer commented on #13989
An exception in this case probably indicates a bug (either in SymPy or in the user's code). Although to be fair, unlike the TypeError from bool(Relational), it isn't clear to me that such a bug would propagate to wrong results if not raised as an exception. Most likely it would just result in the user getting a meaningless relational in their final expression.

[2018-01-23 10:32] #10925 closed

[2018-01-23 10:32] #13320 closed

[2018-01-23 13:33] jashan498 commented on #13994
@yeshsurya it's working for me. Maybe you missed out  `n = symbols("n")` ?

[2018-01-23 13:48] Yathartha22 commented on #13981
Correct me if I am wrong but I think the above mention case is correct output. What @ethankward has done is substituted the value `3/2` after simplifying the binomial equation, which gets simplified to `sin(pi*x)/(pi*x)`(I guess simplify achieves by converting it to gamma function), which seems to be correct as [evaluated here](http://www.wolframalpha.com/input/?i=binomial(binomial(x-3,++-1),+x)),

[2018-01-23 13:50] #13730 closed

[2018-01-23 14:28] normalhuman opened #13996 "x*DiracDelta(x) does not simplify to 0"
Neither `simplify`, nor `expand_func`, not other methods I tried could turn `x*DiracDelta(x)` into 0.

Well, except for the absurd "integrate and then differentiate" trick.

[Reported on Stack Overflow](https://stackoverflow.com/questions/48402981/simplification-of-dirac-delta-in-x%CE%B4x)

[2018-01-23 16:04] jashan498 commented on #13996
I would like to work on this.

[2018-01-23 16:59] RavicharanN commented on #13992
I would like to work on this 👍

[2018-01-23 17:18] tanayag commented on #13881
@harsh-2711 check PR #13966

[2018-01-23 20:03] asmeurer commented on #13996
As far as I know, the only thing that knows anything about DiracDelta is integrate (mathematically, DiracDelta doesn't even make sense outside of an integral, although SymPy allows that as a formalism).

I'm not sure what existing method should do it.

[2018-01-23 20:13] #12707 closed

[2018-01-23 20:35] jksuom commented on #13996
It could probably be done by `__mul__` of `DiracDelta` (if its priority was raised):

    `f(x)*DiracDelta(x) -> f(0)*DiracDelta(x)`

It would be automatic, but I don't think any harm would follow.

[2018-01-23 20:40] asmeurer commented on #13996
Wouldn't that defeat the purpose of deltaintegrate?

[2018-01-23 21:31] leesmith404 opened #13997 "Differential Equation [Part 4] URl broken"
Hi!  Thanks for putting this on the WEB.

I attempted to look at a tutorial for differential equations, but got a 404 error  ??

Do you know when this will be fixed?

Thanks in advance.

[2018-01-23 22:24] normalhuman commented on #13997
What is the broken link, and on what page? I don't see anything broken on http://docs.sympy.org/latest/tutorial/solvers.html#solving-differential-equations for example.

[2018-01-24 03:56] normalhuman commented on #13585
I don't think that `limit(tan(x), oo)` should raise a ValueError. It is a well-formed mathematical question: "what is the limit of tan(x) as x->oo"? The answer is: "it does not exist", which can be expressed by returning NaN or None, or something else. It's not like the user is asking SymPy to make exp(x) a polynomial in x, or differentiat 2*x with respect to 2.

[2018-01-24 04:12] normalhuman opened #13999 "sympify should pass evaluate=False to SymPy functions"
The flag evaluate=False of `sympify` is meant to prevent evaluation:
[code]
But it doesn't help with functions of a floating point argument:
[code]
This is despite `log`, and other SymPy functions, supporting `evaluate=False` on their own:
[code]

If ` evaluate=False` is set in `sympify`, it should propagate to any SymPy functions found in the parsed string.

[2018-01-24 04:22] normalhuman opened #14000 "sqrt and other root functions should inherit from Function"
The functions sqrt, cbrt, root, and real_root, defined in `miscellaneous.py`, are plain Python functions, defined with `def sqrt(arg): ...` This is in contrast to all other mathematical SymPy functions, which inherit from class Function. As a result, one cannot use `sqrt(5.5, evaluate=False)` to create un-evaluated sqrt(5.5), the way it works with exp, log, and all others.

Those functions should

[2018-01-24 04:28] jashan498 commented on #13999
I would like to try this issue : )

[2018-01-24 04:53] Subhash-Saurabh commented on #14000
@normalhuman If you are not currently working on this I would want to take this up.

[2018-01-24 05:02] normalhuman commented on #14000
Sure, go ahead.

[2018-01-24 05:12] normalhuman commented on #8946
This is a valid issue; the naming of `arcot` nonwithstanding. `sympify("foo(bar) + baz", evaluate=False)` raises an exception, and it clearly shouldn't.

[2018-01-24 07:39] skirpichev commented on #14000
Which is not necessary a bad thing.

That's an example of a real issue, easy to fix from my point of view.  No need to introduce new classes for this, unevaluated Pow instance should be fine.

[2018-01-24 09:13] jksuom commented on #13585
I was hoping that [this line](https://github.com/sympy/sympy/blob/master/sympy/series/limits.py#L212) would catch the error. Of course, `NaN` would probably do as well.

[2018-01-24 10:04] skirpichev opened #14001 "TypeError with dsolve and a system of ODEs"
See system from #8193.  Now this raises different exception:
[code]

I hope, second time this will not be "solved" in same way...

[2018-01-24 10:06] asmeurer commented on #14000
I also am not sure this should be done. We actually want to remove the separate redundant `exp` class https://github.com/sympy/sympy/issues/4898.  The problem with having separate classes is you lose the ability to work with Pow objects uniformly. Code that should work with any Pow may not work properly with sqrt (although to be sure if `sqrt` subclasses from `Pow`, any correct code for `Pow` shou

[2018-01-24 11:36] jksuom commented on #13996
It seems to me that deltaintegrate aims to deal with expressions of the form  δ(f(x)) (inverse image under f of δ considered as a generalized density). Straightforward multiplication could be handled in DiracDelta class with δ regarded as a distribution. It is possible to multiply δ(x) by a function but not by itself. That could be taken care of by a local `__mul__` method.

[2018-01-24 14:03] normalhuman commented on #14001
Support for ODE systems with symbolic coefficients is forthcoming #13812

[2018-01-24 15:10] normalhuman commented on #14000
Okay, let's amend the issue as "sqrt and other roots should support `evaluate` flag. @Subhash-Saurabh

[2018-01-24 15:16] normalhuman commented on #13585
Was there any discussion on what `limit` should return to the user when it was determined that the limit does not exist? Currently it's like <-1, 1> when oscillation is detected; (say, `limit(sin(x), x, oo)`) but it may happen that the limit was found to not exist although oscillation bounds have not been determined.

[2018-01-24 17:46] abaokar-07 commented on #13847
@normalhuman you are right, because if f(x) is not defined, then it's integral will lead to another function say g(x) and then after putting limits we will have [g(1) - g(0)]. So ultimately we should get False

[2018-01-24 20:03] asmeurer commented on #13996
I also want to note that from a technical point of view, I'm not very convinced that the current ways of doing such things are well designed (c.f. https://github.com/sympy/sympy/pull/13161).

[2018-01-24 20:11] #7032 closed

[2018-01-24 22:05] normalhuman commented on #14001
Without the ics, the solution according to #13812 would be
[code]

which `solve` can't handle, apparently because of this Piecewise. There is room for improvement in `solve` to better handle equations with Piecewise, but this is a separate issue.

My point here is that  although #13812 does not resolve this issue completely, it does the part that the ODE module is supposed to do; the rest is on `s

[2018-01-25 02:42] bollwyvl opened #14004 "Replace antlr4 LaTeX parser?"
If #13706 lands, there is at least a baseline for a (partially working) LaTeX parser. We can discuss a next-best (or best-of-n) replacement, as originally discussed on [latex2sympy](https://github.com/augustt198/latex2sympy/issues/1#issuecomment-349331543).

I did try out a [go at `ply`](https://github.com/bollwyvl/sympy/blob/feat/parse_latex_ply/sympy/parsing/_latex/_ply/parser.py), and feel like

[2018-01-25 02:58] bollwyvl opened #14005 "Handle LaTeX parsing \left and \right"
Many of the `sympy.printing.latex` implementations use the full `\left` and `\right` notation, which are not parseable as of #13706.

This has been solved on several of the [forks of `latex2sympy`](https://github.com/augustt198/latex2sympy/network):
- in the parent repo https://github.com/augustt198/latex2sympy/pull/35
- https://github.com/duxan/latex2sympy/commit/7a19ad99d99b5dd005a3afbdc9a5add0f

[2018-01-25 03:01] bollwyvl opened #14006 "Perform roundtrip testing of printing.latex and parsing.latex"
With either an integration of test fixtures between the two code trees, or some new approach, we should be able to make some assertions about the durability of expressions from sympy to latex and back, and at least provide better documentation about the limitations. This was also suggested on the [upstream](https://github.com/augustt198/latex2sympy/issues/11).

### Protoype: hypothesis
Here is a v

[2018-01-25 03:06] bollwyvl opened #14007 "Handle LaTeX parsing \matrix"
Based on feedback on https://github.com/sympy/sympy/pull/13706#issuecomment-359944477, `\matrix` parsing should be added.

[2018-01-25 04:17] asmeurer commented on #14005
There should be a bunch of tokens for LaTeX things that don't actually affect the mathematical meaning of an expression, like `\left`, `\right`, `\,`, and so on, and the parser should just ignore them.

[2018-01-25 04:18] asmeurer commented on #14007
There are several ways to print matrices. We should try to support all of them.

[2018-01-25 05:42] normalhuman commented on #13203
I came across this issue because with `dsolve` returns a Piecewise expression, `solve` will need to solve a system of those to determine the constants from the initial conditions. (See #14001 for an example.) Currently this tends to fail, and not because of the complexity of the equations, but because of the way Piecewise are handled one by one. Example:
[code]
The solution should be (1, 1) if z =

[2018-01-25 08:25] RISHAV98 commented on #13528
I would like to work on this issue...If it is still open

[2018-01-25 17:54] RISHAV98 commented on #13891
I would like to solve this issue..should  I proceed???

[2018-01-25 19:03] RISHAV98 commented on #13999
This problem is happening only with log function ... other function like cos , sin  are not facing this problem..

[2018-01-25 19:04] RISHAV98 commented on #13999
from sympy import cos

cos(30)

[2018-01-25 19:14] normalhuman commented on #13999
[code]

It happens with floating point arguments for any function.

[2018-01-25 19:40] asmeurer commented on #13999
This would require every function to support the flag.

[2018-01-25 20:55] normalhuman commented on #13999
Those that inherit from Function support it. And (in a different issue) it seemed reasonable for sqrt to support it as well.

[2018-01-25 23:28] asmeurer commented on #13999
It might be better to do it more directly with something like `Basic.__new__(cos, 30.1)`. I'm not fullly sure what the implications of that are, though.

[2018-01-26 02:17] asmeurer commented on #14005
I think @scopatz may also have some ideas about this.

[2018-01-26 02:18] asmeurer commented on #14004
CC @scopatz

[2018-01-26 03:02] DavidArmendariz opened #14014 "Sympifyin string with superscripts"
I am trying to sympify a string like these

    str1="a^0_0"
    ns={}
    ns['a^0_0']=Symbol('a^0_0')
    pprint(sympify(str1,locals=ns))

But I get the following error

    Traceback (most recent call last):
      File "cuaterniones_basic.py", line 114, in <module>
        pprint(sympify(str1,locals=ns))
      File "/usr/local/lib/python2.7/dist-packages/sympy/core/sympify.py", line 356, in symp

[2018-01-26 03:47] smichr opened #14016 "equals is missing quick exit possibility"
After an initial simplification, `Expr.equals` has the lines

[code]

The `has(Add, Mod)` is intended to make sure there is no Mod and that there are no unexpanded portions of the expression, but `(x + 1).has(Add)` is True so this exit is not happening.

Since we have an `is_rational_function` method for Expr, there should probably be something like

[code]

Here is a possible direction:

[code]

[2018-01-26 03:56] smichr opened #14017 "abs(arg) when arg has a real/im part without precision shouldn't yield precision"
[code]

The imaginary part has no precision -- the abs should not have precision, either, should it?

Even if this cannot be mitigated (easily) `is_constant` should watch out for this case by testing the real and imaginary parts before using abs -- or figure out how not to use abs so the following does not return False:

[code]

[2018-01-26 04:05] #13541 closed

[2018-01-26 16:16] gxyd commented on #13528
I'm closing this, it was fixed by https://github.com/sympy/sympy/pull/13548. That PR should had reference this issue.

[2018-01-26 16:16] #13528 closed

[2018-01-26 17:09] abaokar-07 commented on #4383
@asmeurer What more tests do we need to add? I mean what sorts of equation should be added to the test_solvers.py?

[2018-01-26 17:51] moorepants commented on #4383
Anything that isn't there already is a good place to start.

[2018-01-26 18:19] davidlowryduda commented on #7471
I don't think this is possible (surprisingly enough). This is easy enough to do in matplotlib, but there doesn't seem to be an obvious way to communicate to matplotlib through the plotting interface. Am I wrong?

[2018-01-26 18:32] ethankward opened #14018 "Inconsistency when simplifying (-a)**x * a**(-x), a a positive integer"
Compare:

[code]

vs

[code]

[2018-01-26 19:14] abaokar-07 commented on #4383
@moorepants But there are a lot of equations that aren't added, so what should we add anyway? Or which category equations are required to be added?

[2018-01-26 19:16] wolfgang-302 opened #14020 "expr.is_constant() raises an TypeError if expr is an exponential function"
In a jupyter notebook  i write

[code]
(results in '1.1.1')
[code]
this outputs `'20*0.8**x'`

[code]

leads to an TypeError
[code]

if i replace 0.8 by Rational(8,10), everything works as expected (but that is not what i need).
[code]
returns `False`

[2018-01-26 19:33] normalhuman commented on #14020
This bug is not present in the current master branch.
[code]
So the solution is to either update SymPy, or to use rationals as a workaround.

[2018-01-26 19:33] #14020 closed

[2018-01-26 22:19] moorepants commented on #7471
It should somehow translate to the axhline and axvline functions in matplotlib.

[2018-01-26 22:33] moorepants opened #14022 "We need a simplified dev workflow document for newcomers"
I find https://github.com/sympy/sympy/wiki/Development-workflow to be an extremely overwhelming document. It likely doesn't help us get new folks on board by sending them straight to this.

My hunch is that we could create an additional development workflow guide targeted at newcomers that gave an absolute bare minimum set of information for them to get a basic pull request in. Then our current de

[2018-01-26 23:02] normalhuman commented on #14022
Would the five simple steps be:

1. [Pick an issue to fix](https://github.com/sympy/sympy/wiki/Development-workflow#pick-an-issue-to-fix)
1. [Create a git branch](https://github.com/sympy/sympy/wiki/Development-workflow#create-a-new-branch) with your fix.
1. [Run the tests](https://github.com/sympy/sympy/wiki/Development-workflow#be-sure-that-all-tests-of-sympy-pass)
1. [Commit the changes](https:

[2018-01-26 23:19] moorepants commented on #14022
If they are well written I think this should be pulled out into a separate document so that they aren't clouded by all the other information. It may also be possible to remove the git branch step. I wonder if having them submit a PR entirely from the Github interface would remove a ton of the detailed Git steps.

Great comic, btw :)

[2018-01-26 23:19] normalhuman commented on #7471
`plot_parametric(x, 3)` works. Tested in the
[code]
![plot](https://i.stack.imgur.com/aumLe.png)

I think that for _vertical_ lines this is all there is to be done; they are not graphs of functions, so cannot be plotted with `plot`.

For horizontal, of course, this is a bug.

[2018-01-26 23:19] moorepants commented on #14022
Also, you could remove the run the tests step because Travis can run it...

[2018-01-26 23:22] ethankward commented on #14022
It's still a good idea to run the tests before you commit so you aren't wasting Travis resources.

[2018-01-26 23:24] moorepants commented on #14022
@ethankward I totally agree, but I'm trying to envision the absolute minimum step process for someone to submit a pull request to SymPy. Running the tests locally is definitely a very good idea, but is not essential. I think the entry point we have for the development workflow is not scaffolded for incremental learning. It is all presented in one huge document.

[2018-01-26 23:32] moorepants commented on #14022
Here is a shot at a different five steps:

1. Identify and choose an "easy to fix" issue.
2. Find the related `test_*.py` files and the related source files in the `sympy` directory on Github.
3. Click the edit button on the test file in Github and write a unit test function that demonstrates the desired behavior.
4. Commit the changes with an informational commit message and select create a pull

[2018-01-27 03:42] normalhuman commented on #14018
More succinctly, the problem is
[code]
Pow is supposed to use the principal branch, which means (-2) has complex argument pi, which under exponentiation becomes -10*pi/3 or equivalently 2*pi/3. But the result of automatic simplification is different: its argument is -pi/3.

The base (-1) is handled correctly, though.
[code]
Hence the inconsistency, because the simplified form of the product has (-

[2018-01-27 07:15] normalhuman opened #14025 "The method "has" fails to find a subexpression with noncommutative symbols"
Based on a [Stack Overflow post](https://stackoverflow.com/q/48471955):
[code]
I see no reason why the subexpression `b*c` should not be recognized, given that `a*b` is.

[2018-01-27 09:05] #14018 closed

[2018-01-27 09:48] #11893 closed

[2018-01-27 09:57] #13779 closed

[2018-01-27 09:58] #13047 closed

[2018-01-27 13:33] #10214 closed

[2018-01-27 14:11] abaokar-07 commented on #4383
In the test_solvers.py file, line number 121 :
assert solve(a + b*x - 2, [a, b]) == {a: 2, b: 0}
Can't there be another set of solutions in terms of 'x'?

[2018-01-27 16:56] jashan498 commented on #14025
@normalhuman I would like to work on this.

[2018-01-27 18:05] Nirvan101 commented on #13992
Can I work on this?

[2018-01-27 18:40] normalhuman commented on #13992
Yes, you can.

[2018-01-27 18:44] #13891 closed

[2018-01-27 22:07] #13835 closed

[2018-01-28 04:09] #7471 closed

[2018-01-28 05:26] normalhuman commented on #13997
Closing this, pending a clarification of the issue.

[2018-01-28 05:26] #13997 closed

[2018-01-28 10:46] ishanaj commented on #10023
`solveset` currently produces the correct result
[code]
I think the issue is resolved and should be closed

[2018-01-28 10:51] jondo commented on #10023
@ishanaj, I can confirm this on current master (and Python 2.7.12-64-bit).

[2018-01-28 18:34] bjodah commented on #14022
I like the idea. I someone has the time I think a narrated screencast hosted on e.g. YouTube could be useful. Regarding the text I think that words like "commit", "pull request" & "Travis" are not necessarily obvious to a newcomer.

[2018-01-28 22:45] normalhuman opened #14027 "Failed coercion of an expression with E and exp to a field element"
[code]
throws

This is the same kind of an issue that #13970 dealt with, apparently there is more to be done.

[2018-01-28 23:01] normalhuman opened #14028 "Replace **args of special polynomials with polys=False"
The polys module has a bunch of [special polynomials](http://docs.sympy.org/dev/modules/polys/reference.html#special-polynomials) (including "orthogonal polynomials" below) which take unspecified `**args`.  Reading the source, one sees the only keyword argument is `polys` (default False) which determines whether to return a polynomial or an expression.

I suggest these be changed to `swinnerton_dy

[2018-01-29 03:29] jashan498 commented on #14028
@normalhuman am I supposed to add extra tests for this because no new feature was added?

[2018-01-29 03:32] normalhuman commented on #14028
There are probably already tests for these, with polys=True and polys=False, just check that they exist.

[2018-01-29 03:54] #14025 closed

[2018-01-29 04:04] #2832 closed

[2018-01-29 04:19] vivonk commented on #14027
@normalhuman  I tried on the sympy 1.0 which is on [live](http://live.sympy.org) console of sympy and that was not throwing an error for this particular expression

[2018-01-29 04:23] normalhuman commented on #14027
That's interesting, thanks. SymPy 1.1.1 throws that exception, however, as does the current master branch.

[2018-01-29 05:13] normalhuman commented on #14027
The immediate reason for failure, inability to coerce E to a field element, is easy to fix:
[code]
So, now E is understood to be an element of Z(exp(1/2)). However, there is another error, coming from     `gmpy_gcd(a, b)` getting Integer types instead of expected 'mpz' type, and I don't see why that is happening.

[2018-01-29 05:59] asmeurer opened #14030 "Functions should list explicit keyword arguments when possible"

[2018-01-29 06:03] asmeurer commented on #14030
Oh apparently `legendre_poly` was [already fixed](https://github.com/sympy/sympy/pull/14029). But we should review the code for other instances of this. Since this is the second example I've seen of this in as many weeks, I know there must be many other instances of this problem.

[2018-01-29 06:06] asmeurer commented on #14030
In some instances this won't be possible, because keyword arguments after `*args` is not allowed in Python 2. For those cases, we should make sure the keyword arguments are documented well, and add a comment to change them to explicit keyword arguments when Python 2 support is dropped.

[2018-01-29 06:17] normalhuman commented on #14027
Turned out to be a bug that I introduced myself when fixing  #13970, not understanding why the code had `int` in the exponent. It's there because otherwise Integer type coerces mpz to Integer, and stuff breaks apart in gmpy methods. Fixing...

[2018-01-29 07:43] vivonk commented on #14030
+1, some reference can be seen [here](https://stackoverflow.com/questions/9872824/calling-a-python-function-with-args-kwargs-and-optional-default-arguments)

 but in python 3 keyword arguments can be used after `*args`. But I think the modules are same for python 2 & 3, is it?
I would like to work on this so @asmeurer can you tell about above question

[2018-01-29 08:32] #14027 closed

[2018-01-29 08:40] abaokar-07 commented on #14028
Is this issue solved?

[2018-01-29 09:20] jashan498 commented on #14028
yeah @abaokar-07, I have already created a Pull request for this issue. I think I have seen a similar issue [here](https://github.com/sympy/sympy/issues/14030). You can try on that if someone else is not working on it.

[2018-01-29 09:38] asmeurer commented on #14030
Yes, all code in SymPy must work in both Python 2 and Python 3 for now.

[2018-01-29 09:48] abaokar-07 commented on #14030
What functions do we need to change?

[2018-01-29 09:52] vivonk commented on #14030
@asmeurer should I try in replace in whole modules or in some modules?

[2018-01-29 15:20] normalhuman commented on #14030
@vivonk One module at a time may be a good approach. Easier to review.

[2018-01-29 15:35] vivonk commented on #14030
Is it mean that if the `**kwargs ` is passed but not used in that particular function then it should be removed from there ? for example [here](https://github.com/sympy/sympy/blob/master/sympy/solvers/ode.py#L666)
@normalhuman @asmeurer

[2018-01-29 16:45] normalhuman commented on #14030
In that example, `**kwargs` indeed looks like a typo. It's not used by the function, and nobody is trying to pass such keyword arguments to that function, either. Yes, should be removed.

[2018-01-29 17:30] vivonk opened #14032 "Typos in codebase for using built-in function names as variables"
In the codebase, there are some variables which are named as built-in function of the python core modules, like this [one](https://github.com/sympy/sympy/blob/master/sympy/solvers/deutils.py#L182)
`type = kwargs.get('type', None)`
where type is a built in function for identifying the class of a object or a variable. This kind of typos will look very strange to the new comers like me. So these typo

[2018-01-29 18:26] ethankward commented on #14032
Here's an example of using ast to get variable names:
[code]
gives `['type', 'test']`

[2018-01-29 19:45] asmeurer commented on #6526
Cython is not imported with SymPy any more. It looks like this is no longer an issue:

[code]

These are all standard library modules, except for gmpy and fastcache, which are optional dependencies that are used automatically if they are installed (and must be imported at SymPy import time).

[2018-01-29 19:45] #6526 closed

[2018-01-29 20:16] normalhuman opened #14033 "Add a flag root_notation to relevant printers"
Some printers, at least "latex" and "pretty", use root notation for certain fractional powers:
[code]
But this is not always desired. There should be a flag `root_notation`, True by default, setting which to False will cause the printers to not use that notation, printing fractional powers instead.

The relevant method of each printer is `_print_Pow`, see [LaTeX for example](https://github.com/sym

[2018-01-29 20:24] gxyd commented on #14030
Is this issue https://github.com/sympy/sympy/issues/13683 to similar to this?

[2018-01-29 20:54] vivonk commented on #14030
@normalhuman @asmeurer I am facing a problem. In some cases it is like
1. In first function `**kwargs` is passed and then the `**kwargs` value is used in calling another function. To write down the explicit arguments for the first function I should know the kwargs of the another function too. Should I check arguments of the another function and then change it accordingly or something else?
2. Anot

[2018-01-29 20:56] asmeurer commented on #14030
@gxyd yes that issue is related. In the case of #13683, there are functions that use `**kwargs` for which it cannot be made more explicit, because the options flags used in many functions and passed around (the polys work this way, for the most part). In that case, we should just make sure that all the options are documented well so that you can easily tell what options a function can take.

[2018-01-29 21:00] asmeurer commented on #14030
This is what I meant by "passed through". In those cases, it is generally best to leave the `**kwargs` for the options that are passed through (and make sure it is documented). Any option that isn't passed through (like `kwargs.pop(option)`) should be documented.

All new keyword arguments should be put after the existing ones. Once we drop Python 2 support, we can make these keyword arguments key

[2018-01-29 21:02] vivonk commented on #14030
@asmeurer got your point. Thanks to clear it

[2018-01-29 23:51] prajwalgatti commented on #14033
I'd like to try and fix this issue. May I?

[2018-01-29 23:54] #13269 closed

[2018-01-29 23:58] normalhuman commented on #14033
Yes, you can.

[2018-01-30 00:05] ylemkimon commented on #14030
I think in cases passing through `kwargs`, we should explicitly pass only needed arguments or use a custom options class to prevent unwanted side effects and user errors.

[2018-01-30 01:28] asmeurer commented on #14030
I agree such options refactoring would be nice. However it's a lot more refactoring than the basic change I am talking about here (definitely not "easy to fix").

[2018-01-30 01:30] tverticalis opened #14035 "Integration failure"
The following integral should evaluate to 1 (for beta > 0). The function is a probability density function (PDF) of the angular elevation of points distributed on a unit sphere. If beta = 1, the points are uniformly distributed on the sphere. In the general case, Python 3.6.3 does not produce an answer in a reasonable amount of time (< 30 min):

`from sympy import Symbol, integrate, Rational, Pow,

[2018-01-30 01:57] ethankward opened #14036 "product(1 - a**2 / (n*pi)**2, [n, 1, oo]) should not evaluate to 0"
[code]
(if the product is evaluated the correct result is `sinc(a)`)

[2018-01-30 03:07] ghost opened #14037 "residue(sin(x**50)/x**51, x, 0) raises an error"
The code in residue.py has a weird loop over powers of 2, it can't possibly be correct
I ran this to confirm

[2018-01-30 07:30] Roland-Sands opened #14040 "integrate(x**(-1), (x, -1, 1)) gives an imaginary answer"
In [1]: from sympy import *
In [2]: x = Symbol("x")
In [3]: integrate(x**(-1), (x, -1, 1))
Out [3]: -I*pi

[2018-01-30 08:06] jksuom commented on #14037
The loop over powers of 2 tries to work around a bug in `series`.
[code]
It should be possible to remove the loop when `series` has been fixed.

[2018-01-30 08:23] ylemkimon commented on #14022
GitHub provides a great guide on the development workflow: https://guides.github.com/introduction/flow/ and video guides: https://www.youtube.com/githubguides.

[2018-01-30 09:04] VirtualAcoustics opened #14041 "Latex output of vector error"
The latex output drops the B.x parenthesis squared in a vector expression i.e. L*(phi' + theta')**2*B.x.
See code,
[code]

[2018-01-30 09:47] Roland-Sands commented on #14037
`>>> (sin(x**50)/x**51).series(x, n=46)`
`O(x**46)`
`>>> (sin(x**50)/x**51).series(x, n=47)`
`1/x + O(x**47)`

[2018-01-30 10:06] Roland-Sands commented on #14037
When I glanced at the code for calculating the order of a power series,  it seemed to me that it may be fine when the order is a small number like 5, but can't possibly be correct for large orders

[2018-01-30 12:07] Roland-Sands opened #14042 "integrate(cos(x), (x, 0, oo)) does not return divergent"
`>>> integrate(cos(x), (x, 0, oo))`
`<-1, 1>`

I don't know what `<-1, 1>` means, but surely the correct answer is that it is divergent

`>>> integrate(cos(x), (x, -oo, oo))`
` <-2, 2>`
Which is inconsistent with the above

I think it would be better if evaluations of integrals/series/products/... were split into 2 steps:

1. First, try to determine convergence, and to return divergent or unknown

[2018-01-30 12:15] Roland-Sands opened #14043 "integrate(cos(x)/(x**2+1), (x, 0, oo)) results in a too complicated answer"
The integral evaluates to pi/2*e

`>>> integrate(cos(x)/(x**2+1), (x, 0, oo))`
`sqrt(pi)*(-sqrt(pi)*sinh(1) + sqrt(pi)*cosh(1))/2`

[2018-01-30 12:16] normalhuman commented on #14040
The answer makes sense. By default, x is complex. In the complex plane, the principal branch of log(x) has log(1)=0 and `log(-1)=I*pi`. And since `(log x)' = 1/x`, it follows that the integral should be `log(1) - log(-1) = -I*pi`.

However, it is disappointing that the answer does not change if x is declared real with `x = Symbol("x", real=True)`. Ideally this would force integration to happen wit

[2018-01-30 12:25] normalhuman commented on #14042
The answer is saying that it diverges, although not very explicitly because of the cryptic notation `<-1, 1>`. In a text terminal, it's
[code]
and `help(AccumBounds)` brings up more information. The message is that as we take the limit of integrals from 0 to B, with B->oo, the result of integration (namely `sin(B)`) oscillates between -1 and 1. This is a more precise statement than "diverges".

In

[2018-01-30 13:03] Roland-Sands commented on #14042
"This is a more precise statement than "diverges"" - it is giving obvious bounds to the partial sums for a limit that doesn't exist
I strongly disagree that returning `<-1, 1>` is better than returning "The integral does not converge", but I am happy to concede that I am in the minority

Should I close this issue now, does that just involve pressing the "Close and comment" button

[2018-01-30 13:09] Roland-Sands commented on #14040
If a function is integrated along a path in C and only the endpoints of the path are given, then I am very surprised that it is not assumed that the path is a straight line

[2018-01-30 14:01] normalhuman commented on #14043
Answers are not automatically simplified: see the wiki on [Automatic Simplification](https://github.com/sympy/sympy/wiki/Automatic-Simplification). Whether to simplify is up to the user.
[code]

[2018-01-30 14:08] ylemkimon opened #14044 "Extract common codes from printers"
(i) Printers have similar methods to print similar functions. For example, `_print_Min` and `_print_Max` in `LaTeXPrinter` have the exact same codes except the function name:
https://github.com/sympy/sympy/blob/5fcbde2ed7385df250510bd5207f270cba990265/sympy/printing/latex.py#L813-L831
This can be simplified to:
[code]

(ii) Printers have different methods of printing the name of the function used

[2018-01-30 14:12] man-of-code commented on #14033
@normalhuman  I would like to work on this.
Do you have any specifics on how you want it done ?

[2018-01-30 16:44] jashan498 commented on #14044
@ylemkimon should I change this or this issue is meant to be someones starter issue?

[2018-01-30 17:17] prajwalgatti commented on #14033
@normalhuman I added the root_notation setting to both, pretty and latex printers and when set to False it produces the expected results, i.e.

[code]

But I am failed in a few tests when I ran them. I'm fairly new to this, can you tell me how to go about this, please?

[2018-01-30 17:21] normalhuman commented on #14033
What are the tests that are failing?

[2018-01-30 17:27] prajwalgatti commented on #14033
Failed at these tests
sympy/assumptions/tests/test_assumptions_2.py
sympy/printing/pretty/tests/test_pretty.py
sympy/printing/tests/test_latex.py
sympy/utilities/tests/test_pickling.py

Would you like to view the changes in the printers' code I made?

[2018-01-30 17:33] normalhuman commented on #14033
Yes, that would help

[2018-01-30 17:34] prajwalgatti commented on #14033
this line in [latex.py](https://github.com/sympy/sympy/blob/b6139492f2be09691eb41494dfe89933ed84d17f/sympy/printing/latex.py#L484)

[code]
to
[code]

and this line in [pretty.py](https://github.com/sympy/sympy/blob/b6139492f2be09691eb41494dfe89933ed84d17f/sympy/printing/pretty/pretty.py#L1587)

[code]
to
[code]

[2018-01-30 17:35] normalhuman commented on #14033
But you need to also make sure that this setting is True by default. If these are all the changes, then the existing tests fail since root_notation is None, which is falsy.

[2018-01-30 17:37] prajwalgatti commented on #14033
Right, and I have.

[2018-01-30 17:48] normalhuman commented on #14033
But I don't see that code, so I can't comment further. Post a pull request, even if it fails some tests; then someone will be able to see what the code actually does.

[2018-01-30 18:41] #13979 closed

[2018-01-30 21:41] normalhuman opened #14048 "Documentation example of Plotting Geometric Entities does not work"
[Plotting Geometric Entities](http://docs.sympy.org/latest/modules/plotting.html#plotting-geometric-entities) example has several issues:

1. Why is it in IPython notebook format, unlike all other examples which show terminal prompt `>>>`?
2. `c.tangent_line(c.random_point())` throws an error: there is no `'tangent_line` method. Probably should be `c.tangent_lines(c.random_point())[0]`.
3. How to

[2018-01-30 22:20] stewpend0us opened #14049 "codegen C output of MatrixSymbol writes undefined behavior"
[code]

generates

[code]

which is not ok in c as far as I know...I would expect something more like

[code]

[2018-01-30 22:47] asmeurer commented on #14049
@bjodah @moorepants

[2018-01-30 23:32] moorepants commented on #14049
I don't think that codegen works with MatrixSymbols yet in this way. You'd need to do something like:

[code]

I think there is an open issue for this already.

[2018-01-30 23:36] moorepants commented on #14049
Master produces this:

[code]

[2018-01-30 23:38] moorepants commented on #14049
This all seems to work here: http://www.sympy.org/scipy-2017-codegen-tutorial/notebooks/08-cythonizing.html#2.-Generating-C-Code-with-SymPy's-codegen()

Not quite sure what I'm missing that is different here though.

[2018-01-30 23:47] moorepants commented on #14049
This works:

[code]

[2018-01-30 23:50] moorepants commented on #14049
I'm thinking that it misinterprets the MatMul object.

This works too:

[code]

[2018-01-31 00:21] normalhuman commented on #14037
Doubling the number of terms requested seems reasonable to me. This is what `rs_series` (an alternative algorithm based on polynomial manipulations) does as well.

Repeated differentiations of expressions involving `sin(x**50)` or something similar is not a practical way to expand them into a series. The alternative is to decompose the expression into terms, typically the arguments of Add, Mul and

[2018-01-31 00:44] normalhuman opened #14050 "erf in lambdify with NumPy discards the imaginary part of its argument"
I tried to lambdify `erf(x+I)` using NumPy as a backend:
[code]
Now `f(0.5)` returns

Indeed, this value is `erf(0.5)`, not `erf(0.5+I)`.

**The following is incorrect**, kept only for context.

I understand that NumPy doesn't have own erf implementation, and `pycode` ends up using `scipy.special.erf`. But that function is capable of handling complex values:
[code]
So I don't see where exactly the

[2018-01-31 02:45] normalhuman commented on #14050
Turned out, `erf` is imported from `math`, not from `scipy.special`. And `math.erf` does not support complex arguments, hence the problem.

[2018-01-31 04:14] normalhuman opened #14052 "The method _intervals of a Piecewise expression sometimes incorrectly replaces default"
I noticed that `integrate(abs(sin(x)), (x, 0, 2*pi))` returns 0 and tried to investigate. It's rewritten as Piecewise, which is then piecewise_integrated to
[code]
So far so good; this piecewise is not expected to be continuous. Then it gets processed by the method `_intervals` of Piecewise, where something goes wrong:
[code]
The last tuple is wrong: the default `cos(x)` got replaced by `-cos(x)`,

[2018-01-31 04:48] jashan498 commented on #14050
@normalhuman  is there harm in using `special.scipy` for `NumPyPrinter` too? I see that both `_not_in_numpy` and `_known_functions_scipy_special` have same functions.

[2018-01-31 09:06] Roland-Sands opened #14055 "Sum(1/(2*n+1)**2, (n, 0, oo)).doit() doesn't simplify"
The sum is pi**2/8

`>>> a = Sum(1/(2*n+1)**2, (n, 0, oo)).doit()`
`>>> simplify(a)`
`-polylog(2, exp_polar(I*pi))/2 + pi**2/12`

[2018-01-31 09:10] Roland-Sands opened #14056 "series(cos(x), x, pi, 3) does not display correctly"
`>>> series(cos(x), x, pi, 3) `
`-1 + (x - pi)**2/2 + O((x - pi)**3, (x, pi))`

[2018-01-31 09:16] Roland-Sands commented on #5888
I think this has been fixed

`>>>minpoly(exp(I*pi/8)) `
`_x**8 + 1`

`>>> minpoly(exp(I*pi/6))`
`_x**4 - _x**2 + 1`

It's a shame that it is a polynomial in _x rather than a polynomial in x

[2018-01-31 10:15] anoop-r-kulkarni opened #14057 "Issue with complex symbolic exponentials"
Hi,

I define the following

[code]
whereas it should be (cos(x) + 1)**2 **+** sin(x)**2

The issue is clearly related to "I" in the expression and expansion of square term. Am I doing it wrong or is there a workaround?

Thanks and regards
~anoop

[2018-01-31 10:47] ylemkimon commented on #14057
The result seems to be correct. ([WolframAlpha](http://www.wolframalpha.com/input/?i=re((1%2Bexp(I*x))**2)))

[2018-01-31 10:49] ylemkimon commented on #14055
-polylog(2, exp_polar(I*pi))/2 == pi**2/24

[2018-01-31 10:54] ylemkimon commented on #14056
The result seems to be correct. ([WolframAlpha](http://www.wolframalpha.com/input/?i=expand+cos(x)+at+x%3Dpi))

[2018-01-31 10:57] ylemkimon commented on #14044
@jashan498 You can `\min` and `\max` to the `_special_function_classes`.

[2018-01-31 11:04] ylemkimon commented on #14035
You can use triple backticks(```) for multi-line codes.

[2018-01-31 11:53] mithlesh4257 commented on #14057
Yes @ylemkimon, you are right. We will be getting **(cos(x)+1)**2 - **sin(x)**2** for above given
**f = (1+exp(I*x))**2**.

[2018-01-31 11:54] pernici commented on #5888
x**4 - x**2 + 1

On Wed, Jan 31, 2018 at 10:16 AM, Roland Sands <notifications@github.com>
wrote:

[2018-01-31 12:23] jaromrax commented on #14048
I also cannot get to work plotting.  While single `t = Triangle(z, y, x)` is plotted, the real example is not, whatever I try.

[code]
Result=  <sympy.plotting.plot.Plot at 0x7f07dd596240>

Python 3.5.2 (default, Nov 23 2017, 16:37:01)
Jupyter 5.0.0
IPython 6.0.0

[2018-01-31 14:16] stewpend0us commented on #14049
This seems to work also:

[code]

[2018-01-31 14:42] anoop-r-kulkarni commented on #14057
thanks folks. seems right.

[2018-01-31 14:42] #14057 closed

[2018-01-31 14:51] #4987 closed

[2018-01-31 15:58] abaokar-07 commented on #8946
@normalhuman as nobody is working on it, can you suggest me how to proceed to this problem?

[2018-01-31 19:15] asmeurer commented on #5888
@Roland-Sands you can specify the generator with the second argument (`minpoly(exp(I*pi/8), x)`). If you do not specify one, a dummy generator is used.

[2018-01-31 19:16] asmeurer commented on #5888
Looks like https://github.com/sympy/sympy/pull/2038 fixed this.

[2018-01-31 19:16] #5888 closed

[2018-01-31 20:58] Roland-Sands commented on #14056
It should display
`-1 + (x - pi)**2/2 + O((x - pi)**3)`
not
`-1 + (x - pi)**2/2 + O((x - pi)**3, (x, pi))`

When I saw this with nicer printing (was in SymPy live?) the extraneous bit at the end was x arrow pi,

[2018-01-31 21:19] normalhuman commented on #14056
Regarding calligraphic: [Wikipedia says](https://en.wikipedia.org/wiki/Big_O_notation#Typesetting): "commonly used calligraphic variants, like`\mathcal {O}`, are available, in LaTeX and derived typesetting systems."

[2018-01-31 21:21] asmeurer commented on #14056
`O((x - pi)**3)` would be incorrect. `O` without a second argument defaults to the order at 0.

If you want nice printing you should use `pprint` or `latex`. The `str` printer does try to be readable, but the primary use of it is to produce a recreatable form of the expression. Therefore it always uses valid Python, using the syntax used to create the objects in the expression.

[code]

Regarding

[2018-01-31 21:27] asmeurer commented on #14043
hyperexpand could perhaps be improved to give simpler results (at the very least, the redundant square roots could be removed). I don't know how easy it would be, though. Regarding cosh/sinh vs. exp, it might or might not be easy. It likely means changing the tables around. But for each of these, you have to consider how it affects the output of hyperexpand in general.

In other words, this might

[2018-01-31 21:38] asmeurer commented on #14042
Strictly speaking <-1, 1> is not the same as divergent, because accumulation bounds are not guaranteed to be tight. This is perhaps somewhat misleading: there's no guarantee that the endpoints of AccumBounds are hit an infinite number of times, or even at all.

It would actually be useful to give a definition of AccumBounds as a result of an integral. The docstring defines the arithmetic, but does

[2018-01-31 21:53] normalhuman commented on #14042
Having \le and \ge is correct, putting = would be an overstatement. And example of non-tight AccumBounds from an integral:
[code]
The actual liminf and limsup are 1-sqrt(2) and 1+sqrt(2).

So, we can only interpret the output as "limsup and liminf is within these bounds, and SymPy's best guess is that the integral is divergent".

[2018-01-31 22:01] asmeurer commented on #14042
We definitely need documentation here. The docstring of AccumBounds does have a note saying that the bounds are not tight, but it doesn't make any reference to Integral or what it means when returned by it.

[2018-01-31 22:20] Roland-Sands commented on #14056
If `O(x**3)` is correct then I just don't understand how `O((x - pi)**3)` can be incorrect
Then again, I am a novice in this area

[2018-02-01 00:20] Roland-Sands commented on #13112
Could the residue theorem be used for integrals of this kind

[2018-02-01 01:06] Roland-Sands commented on #14042
Does this mean that as of now, SymPy cannot prove that `integrate(cos(x), (x, 0, oo))` does not exist
And if so, would it be of interest if code were created which would allow SymPy to demonstrate that the integral does not exist

[2018-02-01 01:09] tomkoufakis opened #14060 "Sympy requires includes runtests but is not packaged"
When importing sympy for deployment on AWS using pip, the sympy.utilities.runtests gets included but is not available resulting in a runtime error.

Eg.
from sympy.matrices import Matrix

stack trace:
Traceback (most recent call last):
....
    from sympy.matrices import Matrix
  File "****/virtualenv/dedupe/sympy/__init__.py", line 57, in <module>
    from .core import *
  File "****/virtualenv/d

[2018-02-01 01:25] normalhuman commented on #14042
I suppose that we could put [somewhere here](https://github.com/sympy/sympy/blob/master/sympy/integrals/integrals.py#L434):
[code]
Whether the function is identically zero was already checked by that point. I don't know if the cost of calling `periodicity` on every improper integral is worth it, considering that the gain is having only obviously divergent integrals declared divergent.

[2018-02-01 02:18] #11856 closed

[2018-02-01 03:01] smichr commented on #14052
I think the misunderstanding --probably mine -- was in confusing an And condition that is true for a given equality with a conditionless-True condition. The latter signifies the default in a list of expr, cond piecewise args. The former just means that the condition can be replaced by the equality.

[2018-02-01 06:22] Roland-Sands commented on #14042
I was thinking of:
If F' = f then the integral over R_+ of f is the limit as b goes to infinity of F(b) - F(0)
So if SymPy can solve F' = f and if it can evaluate the limit as b goes to infinity of F(b) then SymPy has either evaluated the integral over R_+ or shown that it is divergent

[2018-02-01 07:24] jksuom commented on #14042
I think that it would be hard to find an algorithm for that purpose.

[2018-02-01 07:35] asmeurer commented on #14042
I think such a heuristic method to check for divergence would be useful. We already have similar methods on Sum and Product. It could be useful in other cases, assuming the heuristics are strong enough. For instance, the Meijer G algorithm routinely returns a Piecewise with what are effectively the convergence conditions for the integral, but with an unevaluated Integral as the "otherwise" conditi

[2018-02-01 14:28] h-ranjan1110 commented on #11345
Is anyone working on this? Is it still open?

[2018-02-01 17:15] stewpend0us opened #14063 "Codegen: float type and float functions in c"
To get codegen to use float types AND float functions in c I had to do the following:

[code]

Is this the "right" way go about this? Could this be an option on codegen to save someone else the pain i the future?

Unrelated rant:
No offence to anyone but I found the code to be very convoluted and hard to follow. Figuring this out took me several hours...more likely a personal problem but whew that

[2018-02-01 19:18] asmeurer commented on #4862
We just need to update our copy of the Python tokenizer (in sympy_tokenize.py) to be compatible with Python 3.

I forget the reason why we have a copy of it instead of just using the version from the standard library? Can someone figure out the difference between our tokenizer and the Python 2 tokenizer?

[2018-02-01 19:26] asmeurer commented on #4862
It looks like our tokenizer is there to support two extensions:

- factorial (`x!`)
- repeated decimals (`1.[2]`)

I would reconsider for both of these if they could just be done with a preparser, so we can just use the standard tokenizer. That would also allow disabling these things, which currently isn't possible. We'd have to do some manual tokenization to make sure we don't preparse the inside

[2018-02-01 19:36] asmeurer commented on #4862
Actually to properly handle ! we have to do a proper tokenization. Consider more complicated expressions like `(1 + 2)!`.

Perhaps it is possible to just tokenize the expression with `!` and postprocess. It seems to produce an ERRORTOKEN and not stop the tokenization.

[code]

For `0.[1]`, it's actually valid Python (it's an indexing of a float literal). So this can be post processed as well, prob

[2018-02-01 19:39] asmeurer commented on #4862
Our transformations are currently done only with the tokenization, not the ast (though that [could change](https://github.com/sympy/sympy/issues/10805)). Regardless, handling `0.[1]` is trivial to do with the standard tokenization.

[2018-02-01 19:51] moorepants commented on #14063
This is brand new functionality I think, from @bjodah's work this past summer. It may not be documented.

[2018-02-01 19:54] asmeurer commented on #4862
By the way you have to use `tokenize.generate_tokens`, not `tokenize.tokenize`, because in Python 2 `tokenize.tokenize` just prints the tokens instead of returning them.

[2018-02-01 21:03] asmeurer commented on #14063
Are you referring to sympy.utilities.codegen or sympy.codegen? If the former, then I completely agree. I would prefer to completely replace it with better alternatives, so that it isn't an issue any more. Some cleanups to it would be nice as well (though there's a limit to how much we can do without breaking the API).

If you mean sympy.codegen, then that's a more important issue, because that cod

[2018-02-01 22:06] stewpend0us commented on #14063
Ah. Yes I'm definitely working with sympy.utilities.codegen I didn't realize sympy.codegen was a thing. Perhaps that would have been a better place to start?

Forgive me I'm fairly new to github/collaboration #13100 looks like a codegen PR that's in progress? Would that PR be a good place to contribute or would I need to make my own PR?

[2018-02-01 22:19] bjodah commented on #14063
I'm fine with you working directly against against that branch. You can do like this (in your sympy repo):
[code]
then you can open a pull request from your branch to my branch if you'd like.

[2018-02-01 23:19] asmeurer commented on #14063
sympy.codegen is still very new, so I would recommend checking it out, but don't be surprised if something you want isn't implemented yet or if you find a bug (in either case, please open an issue). The basic idea behind it is to construct the thing you want to code generate as an AST, then use the code printers (CCodePrinter, ccode, etc.) to print them directly.

And by the way you are using symp

[2018-02-01 23:22] asmeurer commented on #14063
Also as I noted the API for sympy.codegen is still provisional, so if you have any suggestions on how to improve it, that's still possible (once it goes in a release it's a lot harder to change the API, so we'd like to fix any bumps now if possible).

[2018-02-01 23:40] stewpend0us commented on #14063
so even though i'm importing from sympy.utilities.codegen I'm using sympy.codegen? I did have to mess around with the code printer stuff to get the job done...but I didn't realize I was using the new stuff.

Thanks for the help!

[2018-02-01 23:58] bjodah commented on #14063
I was actually surprised that using the `float32` class from `sympy.codegen` worked (somewhat) together with the old `sympy.utilities.codegen`. (it worked because both rely on the printers in `sympy.printing`).

And as Aaron said, we really value all feedback (on `sympy.codegen` in particular since we can change it more freely still).

[2018-02-02 00:14] stewpend0us commented on #14063
Yeah it was strange how half of it needed settings on the printer to be changed and the other part was a local dictionary.

Derp I didn't realize the real and float32 were coming from sympy.codegen ... what was I doing?? haha

I'm about to take a look at the new stuff :)

[2018-02-02 02:18] Roland-Sands opened #14064 "integrate(1/cosh(x), (x, 0, oo)) doesn't simplify"
The result is pi/2

`>>> a = integrate(1/cosh(x), (x, 0, oo))`
`>>> simplify(a)`
`pi - I*log(1 - I) + I*log(1 + I)`

[2018-02-02 02:22] Roland-Sands opened #14065 "integrate(x**2/cosh(x), (x, 0, oo)) can not be calculated"
The result is pi**3/8

`>>> integrate(x**2/cosh(x), (x, 0, oo))`
`integrate(x**2/cosh(x), (x, 0, oo))`

[2018-02-02 02:38] Roland-Sands opened #14066 "integrate(x/(exp(2*pi*x)-1), (x, 0, oo)) can not be calculated"
The result is 1/24

`>>> integrate(x/(exp(2*pi*x)-1), (x, 0, oo))`
`Integral(x/((exp(pi*x) - 1)*(exp(pi*x) + 1)), (x, 0, oo))`

Wolfram alpha can't do it either

[2018-02-02 04:44] Roland-Sands commented on #8520
Does this count as fixed?
I don't know maualintegrate, but

`>>> integrate(x/(x**4+1),x)`
`atan(x**2)/2`

[2018-02-02 04:53] Roland-Sands commented on #14066
Closely related to #8169

[2018-02-02 04:56] Roland-Sands commented on #14040
Closely related to #8440 and I think #8170 as well

[2018-02-02 05:38] Roland-Sands commented on #14037
Related to #5654

[2018-02-02 05:38] h-ranjan1110 commented on #13879
@96mohitm   are you working on this issue?

[2018-02-02 05:51] Roland-Sands commented on #5907
I think this has been fixed

`>>> var('x a b c d')`
`>>> integrate(1/(x**2 + a**2)**2, x)`
`x/(2*a**4 + 2*a**2*x**2) + (-I*log(-I*a + x)/4 + I*log(I*a + x)/4)/a**3`
`>>> y = integrate(1/(x**2 + a**2)**2, x)`
`>>> z = diff(y,x)`
`>>> simplify(z)`
`1/(a**4 + 2*a**2*x**2 + x**4)`

[2018-02-02 06:25] h-ranjan1110 commented on #14041
Can I work on this? Do you have any suggestion for me, I am a beginner.

[2018-02-02 06:29] tverticalis commented on #14066
My Wolfram Mathematica 11.2 calculated it in 0.1 sec. If "-1" is replaced with "+1", Mathematica gives 1/48.   I posted a similar issue a few days ago (#14035). My feeling is SymPy's integration is not yet ready for prime time.

[2018-02-02 06:55] Roland-Sands commented on #14066
@tverticalis, if SymPy was successful with `>>> integrate(x/(exp(2*pi*x)-1), (x, 0, oo))` then I was going to test it with `>>> integrate(sin(a*x)/(exp(2*pi*x)-1), (x, 0, oo))`
And if SymPy was successful with `>>> integrate(x**2/cosh(x), (x, 0, oo))`, then I was going to test it with `>>> integrate(x**(2*n)/cosh(x), (x, 0, oo))`

[2018-02-02 09:05] h-ranjan1110 commented on #14041
This is the output of print(sp.latex(r_ddot))  :

-  L \dot{\phi} + \dot{\theta}^{2}\mathbf{\hat{b}_x} + L \left(\ddot{\phi} + \ddot{\theta}\right)\mathbf{\hat{b}_y} -  R \dot{\theta}^{2}\mathbf{\hat{a}_x} + R \ddot{\theta}\mathbf{\hat{a}_y}

But it should be --

-  L \left(\dot{\phi} + \dot{\theta}\right)^{2}\mathbf{\hat{b}_x} + L \left(\ddot{\phi} + \ddot{\theta}\right)\mathbf{\hat{b}_y} -  R \d

[2018-02-02 12:07] Roland-Sands commented on #6253
This no longer causes an error, though it still cannot be computed

[2018-02-02 12:49] h-ranjan1110 commented on #14044
@jashan498  are you working on this?

[2018-02-02 13:17] MarcoMagl opened #14067 "Cannot compute intersection between Plane and Line3D"
In the debugging session below, I can compute the intersection between P2 and L_int, but the computation of the intersection between P1 and _Lint raises a ValueError.

ipdb> L_int
Line3D(Point3D(0, 0, 11/20), Point3D(0, 1/20, 11/10))
ipdb> P1
Plane(Point3D(0, 0, 0), (1, 0, 0))
ipdb> P2
Plane(Point3D(0, 0, 11/10), (0, 1, 0))
ipdb> P2.intersection(L_int)
[Point3D(0, 0, 11/20)]
ipdb> P1.intersection(

[2018-02-02 13:31] Code-b0t commented on #14005
can i work on this? Also, can you suggest how should i approach this problem.

[2018-02-02 14:30] jashan498 commented on #13999
@asmeurer @normalhuman after going through the code, I don't think its quite possible to pass `evaluate=False` flag to SymPy functions(even those inherited from `Function` class). The reason being:
[code]
So whenever we do `sympify("log(5.5)", evaluate=False)`, `log(5.5)` gets passed to `sympify` as `1.70474809223843`, thus leaving no signature of `log` (so there is no `Function` class, hence no p

[2018-02-02 15:23] jashan498 commented on #14044
Oh, I forgot about this issue. @h-ranjan1110 you can surely take this up : )

[2018-02-02 15:29] smichr commented on #14067
Check that you are using the most up-to-date SymPy:

[code]

[2018-02-02 16:56] bollwyvl commented on #14005
Hi @Code-b0t!

It would be great to have some more folks looking at this, even while high-level architecture discussions are happening back on #13706... since hopefully this is a grammar-only fix, it should be good to go either way!

Like up at the head of the document, there are a number of implementations out there in the forkiverse of `latex2sympy`.

Likely, what you'd have to do is, assuming y

[2018-02-02 17:35] bollwyvl commented on #14005
Here's the [official info](http://www.sympy.org/en/development.html), with links to help.

Completely _unofficially_, the quickest way to this would, assuming [conda](https://conda.io/docs/user-guide/install/download.html), be:
[code]
- [1] you may want some of the other [optional dependencies](https://github.com/sympy/sympy/blob/master/.travis.yml#L27)

[2018-02-02 17:45] ylemkimon commented on #13999
@jashan498 `type(“log(5.5)”) == str`

[2018-02-02 19:16] jksuom opened #14068 "_eval_nseries of Mul is defective"
The series expansion of a product is computed as the product of expansions of the factors.

    def _eval_nseries(self, x, n, logx):
        from sympy import Order, powsimp
        terms = [t.nseries(x, n=n, logx=logx) for t in self.args]
        res = powsimp(self.func(*terms).expand(), combine='exp', deep=True)
        if res.has(Order):
            res += Order(x**n, x)
        return res

Thi

[2018-02-02 21:19] skirpichev commented on #13629
@zimmerma, SymPy master still return same wrong answer.

But this issue was fixed in dev version of the [Diofant](https://github.com/diofant/diofant/).

[2018-02-02 21:22] normalhuman commented on #14042
The bound is a bit too lax in this example, as the integral diverges when a is purely imaginary (a nonzero number with zero real part).

[2018-02-02 23:11] normalhuman commented on #14050
I think the concern with that is that a user may have NumPy but not SciPy.

[2018-02-03 07:30] tverticalis commented on #14066
The first integral yields ConditionalExpression[(-2 + a Coth[a/2])/(4 a), Abs[Im[a]] < 2 Pi].
The second one ConditionalExpression[
 2^(-4 n) n Gamma[2 n] (Zeta[1 + 2 n, 1/4] - Zeta[1 + 2 n, 3/4]),
 Re[n] > -(1/2)].

[2018-02-03 07:32] Code-b0t commented on #14005
@bollwyvl I tried setting up dev, but when i used this command :
conda create -n sympy-dev antlr -c conda-forge antlr-python-runtime mpmath pytest # [1]

an error popped up : conda: error: unrecognized arguments: antlr-python-runtime mpmath pytest

Please help, as i don't have any clue about this error.

Thanks!

[2018-02-03 08:28] Roland-Sands commented on #14066
The 2nd integral can be expressed more cleanly, it is a rational multiple of pi**(2n+1), and the rational number can be written explicitly in terms of Euler's numbers (I was implicitly assuming that n is a nonnegative integer)
A similar, but perhaps more attractive integral is `integrate(cosh(a*x)/cosh(x), (x, 0, oo))`, which evaluates to `pi/(2*cos((pi*a)/2))`

[2018-02-03 08:33] Roland-Sands opened #14069 "Condition for TODO in zeta_functions.py is now satisfied"
On line 162 it says:

Issue 5888 has now been fixed

[2018-02-03 08:42] h-ranjan1110 commented on #14044
@ylemkimon  can you please elaborate more on this issue moreover it would be great if you could guide where to start as I am a beginner, I have tried to understand those codes in latex.py.

[2018-02-03 11:08] abaokar-07 commented on #5950
I want to work on this issue

[2018-02-03 11:28] abaokar-07 commented on #5950
@asmeurer @normalhuman please review this

[2018-02-03 12:21] abaokar-07 commented on #5950
@normalhuman @asmeurer please review the changes made

[2018-02-03 13:29] jksuom commented on #5950
`logcombine` probably works correctly but its output is determined by the `eval` method of `log`:
[code]

[2018-02-03 16:26] smichr commented on #10033
I guess this is not stale: there is more than one interval in which, for example, `sin(x) < 0`

[code]

The equality returns a solution in terms of imageset; the inequality should do something similar:

[code]

[2018-02-03 17:26] bollwyvl commented on #14005
Drats! I just moved `antlr` in the above instructions after `conda-forge`

[2018-02-03 18:07] ethankward opened #14072 "limit(1 - lowergamma(n + 1, n)/factorial(n), n, oo) is incorrect"
[code]

The answer should be `1/2`.

[2018-02-03 20:04] smichr commented on #5950
If the rationals are not separated, it still may be a good idea to remove perfect powers of the base from the numerator or denominator so `log(2/27, 3) -> log(2/3**3, 3) ->log(2)/log(3) - 3`. `sympy.core.power.integer_log` can help with that process.

[2018-02-03 20:07] abaokar-07 commented on #5950
Ok @smichr I'll look into it, thanks

[2018-02-03 22:01] abaokar-07 commented on #5950
@smichr but if there are no perfect powers, for example Rational(3,2), then what to do?
Can you elaborate what you want to say?
Also, I was debugging the file simplify.py with the input as  logcombine(log(Rational(3,2) , evaluate = False) - log(2)). I found that after returning rv as log(3/2)(as per the code of simplify.py), it didn't proceed further and it automatically returned None and got out

[2018-02-03 23:51] asmeurer commented on #5950
`logcombine` could apply evaluate=False to force the combination.

Although I personally think automatically splitting rationals is too much (see also https://github.com/sympy/sympy/wiki/Automatic-Simplification).

[2018-02-03 23:52] normalhuman commented on #14072
Meanwhile, `limit(lowergamma(n + 1, n)/factorial(n), n, oo)` results in RecursionError, which is somewhat better: no wrong result returned. Also, `limit(lowergamma(n + 1, n), n, oo)` results in NotImplementedError.

It seems that lowergamma(n+1, n) is intractable for Gruntz on its own, but when 1 is added to the fraction, the numerator becomes `factorial(n) - lowergamma(n+1, n)` and the inconvenie

[2018-02-03 23:53] bjodah commented on #14050
we could make the default module of lambdify be 'scipy'

[2018-02-04 00:06] normalhuman commented on #14050
As far as I know, lambdify does not support scipy at all: #7229

[2018-02-04 00:07] tverticalis commented on #14066
This level of analytical depth/elegance may be too much for automated systems.
Assuming[n > 0 && n \[Element] Integers, Integrate[x^(2*n)/Cosh[x], {x, 0, Infinity}]] // FullSimplify
2^(-1 - 4 n) (-PolyGamma[2 n, 1/4] + PolyGamma[2 n, 3/4])

[2018-02-04 00:23] jashan498 commented on #14050
can we use one from `sympy.functions.special.error_functions` ?

[2018-02-04 00:23] leewz opened #14073 "Why is division sometimes implemented using exponentiation?"
I'm trying to combine SymPy with NumPy, creating an expression with SymPy and substituting with a NumPy array.

I use division and arithmetical logic in my expression. The arithmetical logic is to help it work with NumPy. Combining the two makes SymPy turn

    2/(10 + (x<1))

into

    2*(10 + (x < 1))**(-1)

Calling `lambdify(x, ex)(5)`, I get this error from NumPy:

    Integers to negative int

[2018-02-04 00:54] normalhuman commented on #14073
Internally, all division a/b is represented by multiplication of a by `b**(-1)`. Under certain conditions, [specified here](https://github.com/sympy/sympy/blob/master/sympy/printing/codeprinter.py#L430), this becomes division again when code is generated from an expression. The term `10 + (x < 1)` is not processed by this code because `(10 + (x < 1)).is_commutative` returns False, which is admitte

[2018-02-04 01:14] normalhuman commented on #14050
The idea of lambdify is to create a Python function for efficient numeric evaluation (as opposed to `expr.subs(x, value)`). Not using SymPy is the goal here. Besides, SymPy does not do any numeric evaluation itself, it relies on mpmath for that.

If mpmath is used as the backend, `f = lambdify(x, erf(x+I), "mpmath")`, then evaluation works. But I wouldn't consider this an option when the backend i

[2018-02-04 01:31] Roland-Sands opened #14074 "integrate(log(sin(x)), (x, 0, pi/2)) can not be calculated"
The result is `-pi*log(2)/2`

`>>> integrate(log(sin(x)), (x, 0, pi/2))`
`Integral(log(sin(x)), (x, 0, pi/2))`

[2018-02-04 01:37] Roland-Sands opened #14075 "integrate(log(x)*(1-x)**(-1), (x, 0, 1)) causes an error"
The integral evaluates to `-pi**2/6`

I am surprised by this because `integrate(log(x)*(1+x)**(-2), (x, 0, 1))` is correctly evaluated

`>>> integrate(log(x)*(1-x)**(-1), (x, 0, 1))`
Traceback (most recent call last):

  File "<ipython-input-5-ba95d81624e1>", line 1, in <module>
    integrate(log(x)*(1-x)**(-1), (x, 0, 1))

  File "C:\Users\Roland\Anaconda3\lib\site-packages\sympy\integrals\integr

[2018-02-04 01:55] Roland-Sands commented on #14066
I'm amazed that symbolic algebra systems can compute so many sums and integrals in terms of polylogs and polygammas, completely different to the way I do it

[2018-02-04 02:04] normalhuman commented on #14075
In the current master branch, I get
[code]
which still needs a bit of improvement (apparently #13965 did not go far enough in un-polarifying polylog), but is correct: `-polylog(2, 1)` is the answer.

[2018-02-04 02:21] leewz commented on #14073
That's unfortunate. Ideally, I would like the expression to be created without importing SymPy. Though I'm thinking of importing it in this module anyway, using a SymPy function here rubs me the wrong way, and it would mean that the return value is a SymPy value even when none of the inputs are.

My issue is solvable (for example, by testing for symbolics), but I do wish NumPy and SymPy played mor

[2018-02-04 02:39] normalhuman commented on #14073
I don't understand what you mean by "without importing SymPy". `lambdify` is a SymPy function.

The output of `lambdify` can be used without SymPy, of course - that's the point of `lambdify`. In your example, the generated code ends up being
[code]
which could be cleaner, but is executable NumPy code.

I don't mind declaring relationals to be commutative, but this merits larger discussion on the r

[2018-02-04 03:43] normalhuman opened #14077 "What is the status of expressions like x + (x > 0) in SymPy?"
Motivated by #14073. One can execute `expr = x + (x > 0) ` (where x is a SymPy symbol) without an exception raised. Operators like `expr*2` or `expr**2` work as well. Curiously, `expr.is_commutative` is False. And an attempt to substitute any number for x, `expr.subs(x, 3)`, yields an error.

On the other hand, `f = lambdify(x, x + (x > 0))` returns valid code, which can be used to find f(0), f(1)

[2018-02-04 03:51] normalhuman commented on #14073
That didn't clarify it for me. You started with "creating an expression with SymPy and substituting with a NumPy array" which made sense enough. Now, you want to create an expression without SymPy. What does "expression" mean here, if it's not a SymPy expression?

[2018-02-04 03:52] leewz commented on #14077
Copying my comment from #14073:

[2018-02-04 03:54] leewz commented on #14073
The function I have does a (mostly) arithmetic computation and returns it. If the function gets a symbol or an array, the arithmetic will just work, and it will return a symbolic or an array. The caller will then have to deal with that result.

[2018-02-04 04:08] normalhuman commented on #14073
"function gets a symbol". What is "a symbol" if it's not a SymPy symbol? How will arithmetics work with symbols if there is no symbolic library in the context?

[2018-02-04 04:14] normalhuman commented on #14073
Okay, understood. I'm slow today. The function might be like
[code]
and you want this to work and produce something that can be lambdified in case x was  SymPy symbol. Makes sense.

[2018-02-04 04:25] leewz commented on #14073
Personally, I'd be fine with just finding a clever way to write it. Any change from this issue won't help my code until the next release.

This issue is actually about how division changes when relationals are used, which breaks NumPy. The general relational discussion might be better held in your new issue.

But yes, I would like SymPy to support arithmetical logic because NumPy supports it, and

[2018-02-04 06:23] ghost opened #14078 "integrate((cos(3*x)-cos(x))/x, (x, 0, oo)) hangs"
The integral evaluates to `-log(3)`

Also:
`integrate((sin(3*x)-sin(x))/x, (x, 0, oo))` is correctly evaluated to `0`
`integrate((atan(4*x)-atan(2*x))/x, (x, 0, oo))` is returned unevaluated, its value is `pi*log(2)/2`

[2018-02-04 07:07] abaokar-07 commented on #5950
@asmeurer so what do you suggest should be done further?

[2018-02-04 08:34] asmeurer commented on #14073
Relationals are not designed to be used as expressions in SymPy (by design). Unfortunately, it doesn't raise an exception (many instances of this sort of thing in SymPy are garbage-in, garbage out).

It would probably be helpful to have an `IndicatorFunction` object that could take a boolean and return the equivalent of `Piecewise((1, cond), (0, True))`, except print more efficiently for things li

[2018-02-04 16:31] 96mohitm commented on #13879
@h-ranjan1110 go ahead.

[2018-02-04 16:32] normalhuman commented on #14073
@asmeurer Maybe add the method `as_indicator` to Relationals? Then the OP would be able to use `(x < 1).as_indicator()` without having SymPy in the current context. I imagine this method returning a normal Piecewise; the efficiency of NumPy printing for Piecewise of the form `((A, Rel), (B, True))` can be improved in `_print_Piecewise` regardless of how the Piecewise originated.

[2018-02-04 16:50] normalhuman commented on #14078
We should consider pattern-matching [Frullani integral](https://en.wikipedia.org/wiki/Frullani_integral) (of course, checking the conditions under which the formula applies).

[2018-02-04 17:36] maurogaravello opened #14080 "Integrate(1/(x**2 + y**2), x) returns a wrong result"
[code]

The correct result is `atan(x/y) / y`. It seems similar to #8246.

[2018-02-04 17:56] normalhuman commented on #14080
Essentially the same as #13501

[2018-02-04 21:19] #14075 closed

[2018-02-04 23:41] Roland-Sands commented on #14078
I was thinking of looking at Sage's code and seeing how they calculate integrals

`integrate(x**(2n+1)/(exp(2*pi*x)-1), (x, 0, oo))` can be calculated by multiplying numerator and denominator by `(exp(-2*pi*x)`, then expanding the denominator as a geometric series, then reversing the order of summation and integration, then integrating term-by-term, then identifying the series
Many integrals can b

[2018-02-05 00:52] asmeurer commented on #14073
I think a separate object could be useful for printing purposes. Piecewise functions tend to get unwieldy. We can definitely do everything with Piecewise, though, and the Piecewise printer should be improved regardless. And the method idea is also a good idea regardless.

Also the indicator function applies to any boolean. It also applies to sets, the indicator of the set A is a function I(x) = 1

[2018-02-05 01:31] #14036 closed

[2018-02-05 03:45] smichr commented on #13098
There is an error in logic in `calc_integer_part`. This expression `floor(log(9.99999999, 10))` is not larger than `2**30` but it is computed without precision when `assumed_size=30`. If that 30 is changed to even 31 then the result for `floor(log(9.99999999, 10))` is computed as 0 instead of 1. [Here](https://github.com/diofant/diofant/pull/179) a decision was made to remove that routine. An alte

[2018-02-05 05:50] asmeurer commented on #14078
Is there a generalization of Frullani over what is in the Wikipedia article? It doesn't directly apply to the cos integral, although it matches what you would get if you applied the formula blindly with cos(oo) == 0.

[2018-02-05 05:53] asmeurer commented on #14078
It's a neat idea, but I would try to find an example where it computes an integral that cannot otherwise be computed first. SymPy currently doesn't have many summation algorithms. The strongest summation algorithm currently implemented is the same algorithm used to compute integrals (meijerg), so I'm sceptical whether it could compute an integral that couldn't be computed directly.

[2018-02-05 06:08] normalhuman commented on #14078
@asmeurer  Yes, in the [article](http://www.ams.org/journals/proc/1990-109-01/S0002-9939-1990-1007485-4/S0002-9939-1990-1007485-4.pdf) that Wiki references; the existence of limit of f(x) is relaxed both at 0 and at infinity.

[2018-02-05 07:04] Roland-Sands commented on #14078
I gave 2 such examples
As of now,  SymPy cannot do the following 2 integrals, and the method I mentioned can:
`integrate(x**(2n+1)/(exp(2*pi*x)-1), (x, 0, oo))`
`integrate(x**(2*n)/cosh(x), (x, 0, oo))) `
where `n` is a non-negative integer

I can give more if you like

The summations are pretty easy ones though, such as `Sum((n)**(-2k), (n, 1, oo))`, ones that SymPy can already do, so I don't thi

[2018-02-05 07:38] #13723 closed

[2018-02-05 07:42] jksuom commented on #13723
I am not sure if everything touched here is covered yet but I am going to leave this closed for now. Please reopen, if you think it necessary.

[2018-02-05 07:44] Code-b0t commented on #14005
Hello @bollwyvl !

So i tried 2 approaches:
1) in first approach i changed the code to this :

L_PAREN: '\\left' | '(';
R_PAREN: '\\right' | ')';
L_BRACE: '{';
R_BRACE: '}';
L_BRACKET: '\\left' | '[';
R_BRACKET: '\\right' | ']';

and i got the following result :
![screenshot from 2018-02-05 17-26-10](https://user-images.githubusercontent.com/29678141/35793008-dac6285e-0a75-11e8-93b1-d3c08a136eab.p

[2018-02-05 09:07] jksuom commented on #14064
Fixed by #13758

[2018-02-05 09:07] #14064 closed

[2018-02-05 12:53] jaromrax commented on #14048
I have found beautiful pictures in the tutorial here
http://blancosilva.github.io/post/2014/10/28/Computational-Geometry-in-Python.html

Please, how to get this on my computer? Geometry without this beauty is like a sunset for a blind man.

[2018-02-05 14:45] #14052 closed

[2018-02-05 15:18] #14055 closed

[2018-02-05 15:21] bollwyvl commented on #14005
Ah. So as mentioned above, \left and\right are content-less and optional,
and they always need the actual bracket or paren immediately following. At
least one of the existing solutions defined two new tokens, and then used
them everywhere as an alternate construction.

Take a look at where the bracket-y tokens are being used, and see if you
can extend those rules to accept either the base brackets

[2018-02-05 16:15] gxyd commented on #14056
Hmm.. I can see that atleast Axiom doesn't use it:
[code]

So in Axiom is it supposed to be obvious from `O((x - %pi)^12)` that we are referring to `O` as `x -> 12`? Do other CAS's have support for sympy's equivalent of `O(x - pi, (x, 0))`?

[2018-02-05 16:23] Code-b0t commented on #14005
Yes, so as you said \left and \right does not affect the result since when i changed the code to this :

`L_PAREN: '(';`
`R_PAREN: ')';`
`L_BRACE: '{';`
`R_BRACE: '}';`
`L_BRACKET: '[';`
`R_BRACKET: ']';`

this had same result as with \left and \right.

Also , i couldn't understand what you meant by this :

can extend those rules to accept either the base brackets or base brackets
and left/right

[2018-02-05 17:11] gxyd commented on #14067
This is even fixed in sympy version 1.0. Probably fixed in PR #11241.

[2018-02-05 17:11] #14067 closed

[2018-02-05 17:17] gxyd commented on #14069
Thanks for reporting it. I've updated the issue description.

[2018-02-05 17:28] gxyd commented on #7827
To whoever tries to fix this issue, PR #8771 looked like a good attempt at that. Instead of starting from scratch, one can pick up the commits from that PR and eventually complete that may be.

[2018-02-05 17:43] #5907 closed

[2018-02-05 17:43] #6308 closed

[2018-02-05 17:43] #8246 closed

[2018-02-05 17:43] #12050 closed

[2018-02-05 17:43] #13501 closed

[2018-02-05 17:43] #14080 closed

[2018-02-05 17:50] normalhuman commented on #14078
The integral in the title evaluates to `-log(3)` in current master. The issue with hanging was fixed by #14015.

[2018-02-05 19:38] asmeurer commented on #14005
I don't see why we need to be strict about \left and \right. It is true that they have specific rules in the LaTeX grammar, for instance, \left and \right must always match each other, and they can only be followed by certain characters. But the point of the LaTeX parser isn't to detect invalid LaTeX. I don't see any downside to just creating a no-op token that matches `\left` and `\right` and jus

[2018-02-05 20:55] bollwyvl commented on #14005
So I think one of the forks out there has this pattern (reconstructed from memory, though does compile and pass tests):

[code]

This does let you write unbalanced things, i.e. `\left (1 + 1)` which is probably not what is wanted, even though it's simpler.

To do it that way right, you'd have to look for every line that includes an `L_*` and a `R_*`, and add an optional definition of that token th

[2018-02-05 22:03] asmeurer commented on #14077
See https://github.com/sympy/sympy/pull/13435 and related discussions. Booleans are separate from expressions (not equal to 0 and 1) by design. As I mentioned in the other issue, I believe an `IndicatorFunction` object that maps {True, False} -> {1, 0} would be a good way to manage this in a mathematically meaningful way.

[2018-02-05 22:36] asmeurer opened #14084 "Latex parsing tests print messages to the terminal"
Tests should not print anything to the terminal

CC @bollwyvl

[code]

[2018-02-05 22:40] asmeurer commented on #4862
Fix started at https://github.com/sympy/sympy/pull/14085.

[2018-02-06 05:04] gxyd commented on #14084
After installing antlr4 on my system, on master branch I get an error. I'm using python2 though:
[code]

I can see that `FileNotFoundError` is available in python3 and not on python2

[2018-02-06 05:09] abaokar-07 commented on #14069
I would like to fix this

[2018-02-06 05:10] gxyd commented on #14069
Go ahead.

[2018-02-06 05:35] SaiSakethAluru commented on #14069
Hi, is this issue still open? I am a beginner and would like to work on this if it is still open.

[2018-02-06 05:36] gxyd commented on #14069
You're a little late. We already have a PR for this. You can look for other issues, thoug thanks for your interest.

[2018-02-06 05:47] Roland-Sands commented on #14069
Are you sure this is correct
My understanding was that a little bit of ad-hoc code was to be replaced with a call to minpoly, and once this was done the comment was to be removed

[2018-02-06 06:15] bollwyvl commented on #14005
While looking into the matrix stuff on #14007, I did shake the cobwebs a few [more things](https://en.wikibooks.org/wiki/LaTeX/Mathematics#Brackets,_braces_and_delimiters) that, while not presently generated by `sympy.latex` might no doubt occur in the wild:
- a bunch more brackets (which we don't need to handle yet) and
- `\middle,`, `\big` `\Big` `\bigg`, and `\Bigg` which can modify any of the

[2018-02-06 08:17] asmeurer commented on #14005
That's why I think it's simplest if all these size delimiters, as well as space delimiters like \, and things like `\right .` are just completely ignored. I can't think of any instances where they would affect the mathematical content of an expression.

[2018-02-06 08:45] jksuom commented on #14005
There are also spacing commands like `\,`, `\:`, `\;`. I think that it should be possible to treat all of these, as well as `\left`, `\right`, etc. as whitespace. They should have no effect on the translated code.

[2018-02-06 08:53] jksuom commented on #14069
You can re-edit the comment. Please do that.

[2018-02-06 08:58] Roland-Sands commented on #14069
My comment was edited by a member of the SymPy organization
I'm not sure if I'm allowed to override that

[2018-02-06 09:08] jksuom commented on #14069
They probably should. Only the removal of the tail part of the comment is 'Easy to fix', the rest, using `minpoly` to recognize roots of unity (and writing them in the form `exp(2*pi*I*p/q)`), is not so easy.

[2018-02-06 09:16] jksuom commented on #14069
You could edit the last paragraph to say that there are two things to be done.
- Remove the reference to 5888 (easy part)
- Apply `minpoly` (hard part)

[2018-02-06 13:22] bollwyvl commented on #14084
Great catch, thanks!

[2018-02-06 14:11] bollwyvl commented on #14005
Great! Perhaps, then, instead of the approaches above, we'd want:
[code]

I haven't investigated the whitespace stuff, but yeah, there's some [things going on](https://tex.stackexchange.com/questions/74353/what-commands-are-there-for-horizontal-spacing) that we should handle, though that could be a separate PR, as I think we'd still want the bracket stuff grouped together. Thoughts?

[2018-02-06 14:31] #5950 closed

[2018-02-06 18:07] normalhuman commented on #14040
Also related to #8918.

For comparison, `integrate(1/x**2, (x, -1, 1))` returns oo and `integrate(1/x**3, (x, -1, 1))` returns nan. So there is definitely more going on than just finding an antiderivative and plugging the endpoints. The same divergence checks should be able to detect the divergence of 1/x.

Also, it would be nice to have a "pv" flag for `integrate`, computing the Cauchy principal

[2018-02-06 18:33] normalhuman commented on #10453
1. The "desired answer" would not be correct when |y| is greater than |x|.

2. It is possible to rewrite the result in terms of log, with `integrate(1 /sqrt(x**2 - y ** 2), x).rewrite(acosh, log)`. The first part of Piecewise then becomes `log(x/y + sqrt(x/y - 1)*sqrt(x/y + 1))` which seems more complex than it needs to be.

Disappointingly, if the variables are declared real, the output becomes w

[2018-02-06 19:06] jksuom commented on #14040
The divergence checking is done by `._eval_interval()`, which only sees the antiderivative. It tries to find its singularities but the code is currently unable to work with `log`.

A flag for the principal value looks a good idea to me.

[2018-02-06 19:07] asmeurer opened #14095 "Consider removing automatic log expansion"
Right now `log` automatically expands rational numbers:

[code]

I think this is a bit too much for automatic simplification (https://github.com/sympy/sympy/wiki/Automatic-Simplification).

See also the discussion at https://github.com/sympy/sympy/issues/5950.

[2018-02-06 19:07] asmeurer commented on #5950
I still think we should consider removing the automatic simplification entirely. I opened a new issue for that https://github.com/sympy/sympy/issues/14095.

[2018-02-06 19:12] jksuom commented on #14095
It would like to hear why this was originally implemented this way. If there is no particular reason, I am +1 for removal.

[2018-02-06 19:41] abaokar-07 commented on #14095
@jksuom @asmeurer can you suggest how this should be done?

[2018-02-06 19:49] asmeurer commented on #14095
I think @smichr was the one who implemented it.

@abaokar-07 removing it from the constructor should be easy enough. The hard part with changes like these is figuring out various test failures, because code came to rely on the automatic simplification, and it has to be modified (I haven't tried it yet, so I don't know how many test failures there will be, it could be easy or it could be hard).

[2018-02-06 19:50] normalhuman opened #14096 "TypeError for triple integral of 1/(1+x+y+z)**2"
[code]
throws
[code]

[2018-02-06 19:51] abaokar-07 commented on #14095
@asmeurer okay, I'll try
BTW what constructor are you talking about?

[2018-02-06 19:54] ethankward commented on #14096
Simpler example: `integrate(1/(x + y)**2, (x, 0, 1))`.

[2018-02-06 19:57] asmeurer commented on #14005
Can the . also follow \big and so on? I've only seen it after \left and \right.

[2018-02-06 20:07] ethankward commented on #14096
The main problem seems to be on line 864 in expr.py: solveset generates a singularity that is an `And` object that cannot be compared with `a` and `b` on line 866.

[code]

[2018-02-06 20:09] normalhuman commented on #14096
Yes, I've created this issue in the process of fixing it (as it came up when I was fixing another one). Thanks for the simpler example.

[2018-02-06 20:30] RavicharanN commented on #14068
@jksuom Can I take this up?

[2018-02-06 20:41] jksuom commented on #14068
Yes, of course.

[2018-02-06 23:27] Roland-Sands commented on #14069
I am happy with what I originally wrote:

On line 162 it says: TODO use minpoly instead of ad-hoc methods when issue 5888 is fixed
Issue #5888 has now been fixed

But I will leave it as it is

[2018-02-06 23:31] Roland-Sands opened #14098 "The nature of Dirac's delta in SymPy"
In SymPy I have seen expressions involving Dirac's delta being evaluated at a point

In SymPy, is Dirac's delta defined to be a distribution or some other kind of generalized function (so that it cannot be evaluated at points), is it defined to be a hyper-real valued function, or is some other approach being taken

[2018-02-07 00:16] asmeurer opened #14099 "latex(Equivalent) should use \Leftrightarrow"
Currently `latex(Equivalent)` uses `\equiv` (≡)

[code]

a much better symbol is `\Leftrightarrow`. `\equiv` generally means "identically equal", whereas `\Leftrightarrow` is more often used for "logically equivalent" (which is what `Equivalent` represents).

[2018-02-07 00:40] smichr commented on #14095
I made changes around that area with #1827 but the code `elif arg.is_Rational and arg.q != 1:` predated that change.

Part of the issue that may arise is that expressions like `log(2/3) - log(1/3)` will not simplify to `log(2)`  -- `expand_log` will have to be used. Maybe that's not too bad. The extraction of perfect powers will also need to be applied to the numerator and denominator, too. (`sqrt

[2018-02-07 01:20] SaiSakethAluru commented on #14099
Hi, I would like to work on it.

[2018-02-07 02:56] iaraiapc opened #14100 "Solvers algorithms"
Hello everyone. Does anyone know which algorithms the solve() function of sympy uses?

[2018-02-07 04:14] normalhuman commented on #14100
The code is readable and commented. Start by reading the function [`_solve`](https://github.com/sympy/sympy/blob/master/sympy/solvers/solvers.py#L1342) which is the central part of the algorithm. It uses

- known inverses of transcedental functions
- existing tools for solving polynomial equations
- tangent substitution for trigonometric equations
- rewriting the equation as a polynomial with poss

[2018-02-07 04:19] normalhuman commented on #14099
Would `\iff` be an even better representation of "logically equivalent", considering its name? (The appearance is similar to `\Leftrightarrow`).

[2018-02-07 04:20] asmeurer commented on #14095
I'm curious to see how many tests fail.

I think a single log is quite often very preferable to a sum or even a product. Since it's a single term, it's technically simpler (smaller), and much easier to deal with in expressions. Consider for instance that an addition might expand over other additions (like `log(3/4)*(x + y)`). Obviously you sometimes do want it expanded, but with no automatic evalu