[2016-02-10 06:19] yash14123 commented on #10456
Thanks ! I am fairly new to this. Do I first request to be a SymPy member?

[2016-02-10 08:26] cbm755 commented on #8571
Apparently also `S.true + 1` is treated differently than `1 + S.true` (thanks @latot)

[2016-02-10 08:32] mvnnn commented on #8571
@cbm755 i will fix that

[2016-02-10 13:22] leosartaj commented on #10456
@yash14123 start by reading [this](https://github.com/sympy/sympy/wiki/Introduction-to-contributing).

[2016-02-10 13:56] mvnnn commented on #8571
@cbm755 exactly what we need to do ?
[code]
that's output is right ?

[2016-02-10 14:51] smichr commented on #10555
Thanks for the offer, but it's already handled by #10448.

[2016-02-10 14:57] #10425 closed

[2016-02-10 15:04] #10537 closed

[2016-02-10 17:28] shubhamtibra commented on #10379
I would like to work on it. I can't find the code where it is converting those floats into rationals/integers.

[2016-02-10 20:20] sn6uv opened #10563 "non-rational matrix powers"
There's some strange behaviour in the current master branch:

[code]

MMA for comparison:

[code]

[2016-02-10 20:46] jksuom commented on #10563
For a singular matrix only positive integral powers are well defined. The given expression is valid for all positive integral values of ``n``. For other values an error is expected.

[2016-02-10 21:06] sn6uv commented on #10563
@jksuom What about `A^0 = I`?
The diagonal entries suggest this (although I'd argue it's unclear), but the off-diagonal isn't defined for `n = 0`.

[2016-02-11 02:06] smichr opened #10564 "solveset(exp(x)*(1-x), x, S.Reals) does not give {0}"
Curious that a solution is obtained for one case but not the other:

[code]

[2016-02-11 03:42] smichr commented on #10034
fixed with #10544

[2016-02-11 03:42] #10034 closed

[2016-02-11 03:45] smichr opened #10565 "simplification of ConditionSet with FiniteSet"
Should the following just simplify (automatically) to {0}?

[code]

If the set (last arg) is a FiniteSet, and all elements cause the condition to be evaluated (True or False) then perhaps the filtered FIniteSet should be returned.

[2016-02-11 03:57] smichr opened #10566 "flag bad input to ConditionSet?"
The 2nd arg to ConditionSet is supposed to be an expression that returns True or False when a value from the last arg (a set) is substituted into it, e.g. `ConditionSet(x, x > 1, S.Integers)`. But there is no checking of that 2nd arg which is a feature that allows one to use an expression,

[code]

Although that makes sense, other input does not (as far as I can tell):

[code]

Should we be raisin

[2016-02-11 07:35] cbm755 commented on #8571
Well for me I get:
[code]
So either:

1. its ok to make such a thing, so then it should be ok to print it.

2. or creating such a thing should raise a TypeError.  Similar to:
[code]

Perhaps I feel 2 is better, but as I said originally, I have not thought about it carefully.  If you try to fix this you will need to think about this carefully ;-)

Other examples of strange things: `S(1)*S.false` is

[2016-02-11 09:45] hercidav opened #10567 "Integral(v,t).doit() differs from integrate(v,t)"
Integrating a vector (v=sympy.Matrix([a*t,b,c]) shall give again a vector as a result. Sympy.integrate(v,t) gives the correct answer, however sympy.Integral(v,t) gives a completely different result:

[code]

See it also in the sympy online shell:
http://live.sympy.org/?evaluate=a%2Cb%2Cc%3Dsymbols%28%27a%20b%20c%27%29%0A%23--%0Av%3DMatrix%28[a%2Cb%2Cc]%29%0A%23--%0Avt%3DMatrix%28[a*t%2Cb%2Cc]%29%0

[2016-02-11 10:52] #10148 closed

[2016-02-11 11:08] jksuom commented on #10565
+1

[2016-02-11 11:14] jksuom commented on #10563
Powers of singular matrices should be computed with explicit numerical exponents: ``A**0``, ``A**1``, ``A**2``, etc.

Symbolic powers are well defined only for non-singular matrices. The function computing those powers in SymPy does currently return a result also for singular matrices, but it is not guaranteed that substituting numeric values for ``n`` would necessarily succeed.

If this becomes a

[2016-02-11 12:08] sn6uv commented on #10563
I agree, the MMA formula is not ideal either, but I think the `n=0` case is particularly important (e.g. transition/evolution matrices).

If the formula is only valid for positive integers then can we simplify `0**n`, to `0` and `0**(n-1)` to `delta_1(n)`? I think using `0**(n-1)` for a delta seems like a bad idea.

How about returning a piecewise function if the matrix is singular; one result for

[2016-02-11 13:12] jksuom commented on #10563
The function could probably be modified to return (Kronecker) deltas, but I'm not sure that it would be a good idea as it could allow the substitution of negative or non-integer exponents with no error message.

I think it has already been implemented for all (square)matrices.

[2016-02-11 13:14] ashutoshsaboo commented on #10567
In which file of the source code or equivalently which module is executed in the 4th and 5th line of the above code? Could you help on that?

[2016-02-11 13:15] Shekharrajak opened #10568 "linsolve Returns EmptySet() if equation is not simplified."
[code]

Answers are wrong.
In last  case, answer is simple : `{(-15 - 5/m, 5, 1)}`

also problem there is problem is this type :

[code]

[2016-02-11 13:17] Gjacquenot commented on #10489
I have added a single commit to fix the latex printing issue #10489. The solution is really simple and does not break existing tests. An additional test has been added. @asmeurer maybe you can have a look?

[2016-02-11 13:25] Shekharrajak commented on #10568
I try to fix this.

[2016-02-11 13:43] achaitanyasai commented on #10483
I would like to work on this issue (if it's not resolved).

[2016-02-11 14:20] ashutoshsaboo commented on #10567
Hi. I managed to find something, that maybe of use for this.

If you see Line No 746 in sympy/integrals.py -
`        poly = f.as_poly(x)
`
Now if you edit the code, and try returning that poly variable, this is what is the output for line 4 and 5 of your code, respectively - :

[code]

Now, If you notice the above output, which actually explains the output you get for the 4th and 5th line of your

[2016-02-11 15:34] asmeurer commented on #10489
Can you create a pull request? It looks good.

[2016-02-11 15:57] #10533 closed

[2016-02-11 16:10] hercidav commented on #10567
Hi @ashutoshsaboo, thanks for looking into this. It seems, that the Integral.doit() function is taking the input Matrix as a set of coefficients of a polynomial. But why it can be different for Integral and integrate(), if integrate (line 1230 of integrals.py) just calls Integral.doit():
[code]

David

[2016-02-11 16:16] Gjacquenot commented on #10489
@asmeurer : I did only one commit and have done some rebase operations to fetch sympy master head. The pull request was created 3 days ago here: #10548

[2016-02-11 16:19] asmeurer commented on #10489
In the future, create a new branch before making a pull request. You should never commit directly to master.

[2016-02-11 16:49] asmeurer commented on #10567
The correct behavior should be the one with the matrix output. integrate shouldn't consider an iterable to be a list of coefficients for a polynomial.

[2016-02-11 18:05] jksuom commented on #10567
``integrate`` is defined with the decorator ``xthreaded`` ''intended to make it uniformly possible to apply a function to all elements of composite objects, e.g. matrices, lists, tuples and other iterable containers, or just expressions."

``doit`` has no decorator.

[2016-02-11 18:13] asmeurer commented on #10567
Ugh, I don't like that decorator. We should get rid of it.

[2016-02-11 18:52] asmeurer commented on #10456
@yash14123 no, you don't need any permissions to submit a pull request.

[2016-02-11 23:50] ronanpaixao opened #10571 "autowrap.autowrap: TypeError: can only concatenate tuple (not "list") to tuple"
autowrap.autowrap says this about the `args` parameter:

However, it only allows lists. For example, a tuple raises TypeError:
[code]
[code]

[2016-02-12 00:06] ronanpaixao commented on #10522
I have a minimal test case for the matrix bug:

[code]

[code]

It's seems like the bug is caused by the generated program expecting an `out_###` output variable. This seems like the usual Fortran way to output a matrix. This should probably be allocated and passed by the wrapper function, but maybe isn't?

[2016-02-12 00:27] ronanpaixao opened #10572 "autowrap and ufuncify "helpers" arguments are inconsistent and poorly documented"
`utilities.autowrap.ufuncify()` doesn't explain properly how the `helpers` argument should be used. The best documentation, of course, is an example. Maybe one can include this in the docstring (it can also work as a test if using `doctest`):

[code]

It took a long time for me to find the proper "format" for the helpers, which really is like `iterable_of(3-tuple(str, SymPy expression, list))`.

`

[2016-02-12 00:55] ronanpaixao commented on #10572
An important note: since autowrap doesn't allow for more helpers and the C/Cython backend doesn't support (out-of-the-box) some builtin function like `sympy.Max`, this pretty much blocks using C/Cython for expressions with more than one function, any function.

[2016-02-12 01:12] cbm755 opened #10573 "Should `has` try `in` for collections like Sets?"
For `FiniteSet`, `in` and `has` do the same thing.

But for other `Sets` they do not.  So we have things like:

[code]

Having read the code, I know why this happens (`has` checks the atoms/args).  But potentially confusing...
1.  Is this by design?  (I haven't looked at what is using `has`).
2.  Should we change `has` to try `in` when the object is a collection?
3.  If not, should we document thi

[2016-02-12 01:32] asmeurer commented on #10573
I believe `has` is supposed to be strictly an expression tree algorithm, with no knowledge of mathematics.

[2016-02-12 01:57] #10496 closed

[2016-02-12 02:49] moorepants commented on #10572
We recently fixed this #8889 and added an extensive addition with code gen examples. I think the helpers is now in the master branch. It will be released with the 1.0 release that will happen soon.

[2016-02-12 02:52] moorepants commented on #10572
This was also recently merged: https://github.com/sympy/sympy/pull/10282

[2016-02-12 03:24] moorepants commented on #10572
@ronanpaixao Would you mind submitting a pull request with your docstring additions?

[2016-02-12 04:43] ashutoshsaboo commented on #10567
Thanks @asmeurer @jksuom @hercidav . I managed to solve the issue that is happening here.

@skirpichev The position where you have placed the isinstance of Matrix is I feel wrong, because it must always first check for the zero condition and the deep condition as well, and then only proceed to the condition of Matrix, otherwise in some special case your code, will give a problem.

I looked into th

[2016-02-12 08:18] cbm755 commented on #10573
Ok thanks.  Perhaps I should patch the `has` docs to note something like that.

(Also, just FTR: I was wrong about them being the same for `FiniteSet`: lots of things can go wrong if you `has` to try to test for set membership: *just don't do that*.)

[2016-02-12 09:46] jerli commented on #10571
I addressed this by adding one line to check if args is a tuple, then if it is, converting args to a list so that the rest of the function should work as expected.
I'm about to submit a pull request, but this is my first time contributing to SymPy, so let me know if there's any issues.

[2016-02-12 10:53] AnishShah commented on #10565
working on this..

[2016-02-12 14:42] Shekharrajak commented on #7914
Answer should be this :
`ImageSet(Lambda(_n, 2*_n*pi - pi/2), Integers()) U ImageSet(Lambda(_n, 2*_n*pi + pi/6), Integers()) U ImageSet(Lambda(_n, 2*_n*pi + 5*pi/6), Integers())
`
Isn't it ?

[2016-02-12 15:26] Shekharrajak commented on #9472
`solveset` returns correct answer
`

{y**2.32558139534884}
`

[2016-02-12 15:38] Shekharrajak commented on #9465
This should be closed , right ?.

[2016-02-12 15:59] asmeurer commented on #10573
Yes, the docstring could be improved. Implicitly, any method defined on `Basic` itself should be a structural algorithm (no mathematics), but this is not always made explicit.

[2016-02-12 16:44] hargup commented on #9465
Yes.

[2016-02-12 16:44] #9465 closed

[2016-02-13 06:35] ashutoshsaboo commented on #10488
Hi @asmeurer . I have been looking into this since a pretty long time.

What I feel till now is, if we want to resolve for logarithms in general only, then we can find the log terms in the expression, and then use expand_log on them. But the thing with this is that, it doesn't solve our purpose for any general integral value.

The best I can think is, to return the simplified answer, by operation

[2016-02-13 09:38] AnishShah commented on #9478
Hi, I'm working on this..

[2016-02-13 09:53] debugger22 commented on #9478
There were some discussions on removing hermitian/antihermitian from assumptions. You should first read them before proceeding.

[2016-02-13 10:04] ashutoshsaboo commented on #10488
@asmeurer @jksuom

Hi. I looked into this issue more closely.

With the addition of 2 simple conditions, it now gives the simplest possible answer for integral answers involving 'log' which is handled by the expand_log, and also other type of answers are simplified to the maximum possible by extent by the simplify() function.

Please find the PR, and suggest in case if there are any other addition

[2016-02-13 10:37] Shekharrajak commented on #10532
[code]
according to [this doc](https://github.com/sympy/sympy/blob/master/doc/src/modules/solvers/solveset.rst#how-does-solveset-ensure-that-it-is-not-returning-any-wrong-solution)
above answer is expected , right ?

[code]
[code]
[code]
[code]

[2016-02-13 11:12] AnishShah commented on #9478
@debugger22 Thank you for telling. I search on Google Group, but could not find any discussion. Do you have any link?

[2016-02-13 11:24] satels opened #10584 "integrate(sqrt(x**2 + 1/x**2), x) has no result"
But wolframalpha:
wolframalpha[.]com/input/?i=integral+of+sqrt%28x^2+%2B+1%2Fx^2%29

![2](https://cloud.githubusercontent.com/assets/220572/13027366/703813be-d25d-11e5-95ce-af0f052da7d2.png)

[2016-02-13 12:16] jksuom commented on #10488
Integration of rational functions is implemented in ``ratint``. [This line](https://github.com/sympy/sympy/blob/master/sympy/integrals/rationaltools.py#L95) (and a similar one below) will create the ``log`` terms. It is possible to remove extra factors such as ``a`` in this example by adding the following line above those lines.
``    _, h = h.primitive()``

[2016-02-13 13:00] ashutoshsaboo commented on #10488
@jksuom Thanks a lot! I'll open a new PR with the required changes, and the updated test files as well!

 :smile:

[2016-02-13 15:14] #10567 closed

[2016-02-13 15:18] #10475 closed

[2016-02-13 16:31] AnishShah commented on #8676
This works on the master

[2016-02-13 17:03] ashutoshsaboo commented on #10488
@asmeurer @jksuom

I've opened up the new PR, that fixes this issue - #10585 . Please have a look into. Are there any other additions required in the code? Or can this be merged now?

Thanks! :smile:

[2016-02-13 20:58] akki commented on #10198
@smichr
Please review - #10588
Thanks

[2016-02-13 21:00] akki commented on #10198
@smichr @certik
Please review - #10588
Thanks

[2016-02-13 21:13] jarthurgross opened #10589 "subs() doesn't work correctly with matrices and iterators"
Even thought the `subs()` function documentation indicates it can take an arbitrary iterable, sometimes it doesn't work correctly. For example, it will correctly perform multiple substitutions on a `Matrix` if the `(old, new)` pairs are passed as a `list`, but not if they are passed as an `iterator`.

[code]

I haven't looked at the source, but perhaps it's because the iterator is being exhausted

[2016-02-13 21:32] leosartaj commented on #10589
In current SymPy master,

[code]

I think the issue is fixed.

[2016-02-13 21:38] asmeurer commented on #7027
Yes, although the correct place to fix it is in the superclass in sympy.core.function.

[2016-02-13 21:40] asmeurer commented on #9478
I don't recall those discussions, but they were probably on a GitHub issue or pull request.

[2016-02-13 21:51] smichr commented on #10198
@akki, let's give @Curious72 a chance first. If there is no response by next Monday then do what I suggest on his PR #10286 and we'll go from there.

[2016-02-14 05:08] Shekharrajak commented on #6420
Using `linsolve` returns answer , but need to pass only 3 rows for 3 variable.
[code]

[2016-02-14 06:15] ashutoshsaboo commented on #10134
@asmeurer
Hi. I have been trying to look into this issue.

This is what I got when I searched for just `StopIteration` -:

[code]

Now, there are several files, if you notice above, that have `except StopIteration` , which `may` depend on the output of other modules. as in that if those modules `raise StopIteration` then only it will not go inside this condition of `except StopIteration` . Now, if

[2016-02-14 06:59] pelegm commented on #8676
@mvnnn, perhpas you could check if there's a test for it. If there is such, we can close this, otherwise you could write one and add a PR.

[2016-02-14 07:54] mvnnn commented on #8676
@pelegm thanks.

[2016-02-14 08:16] mvnnn commented on #8676
@pelegm Given example is wrong.you takes ```n``` and ```k``` instead of ```p``` and ```q```
[code]
that's working correctly in terminal but that's not working on ```SymPy Live Shell``` it's return ```None```.

[2016-02-14 08:28] mvnnn commented on #8640
[code]
that's return ```None``` but correct answer is ```False```.@pelegm i want to work on this.should i do ?

[2016-02-14 08:57] AnishShah commented on #8676
Yeah, I think it is a typo.

[2016-02-14 09:03] jksuom commented on #10134
It seems to me that not all ``raise StopIteration`` statements need or should be  changed. Those in factor_.py, for example, are used to internally control the flow together with ``except StopIteration``. They are not used in generators and could be replaced with a purely locally defined exception such as ``SymPyStopIteration`` (though I don't that would be necessary).

[2016-02-14 09:07] rwst opened #10590 "untangle core files"
As you can see from the import visualisation https://github.com/rwst/sympy-coredep/blob/master/inside-circle.svg, `sympy/core` files import themselves mutually in several cases (note the parallel double lines). Of course these are not real circular dependencies between two functions but between two files. Nevertheless it would help a lot if the design would be more hierarchical (tree instead of gr

[2016-02-14 15:37] ashutoshsaboo commented on #10134
@jksuom Thanks for your input. :smile:

Hmm... So, do you mean to say that, if any `StopIteration` statements are to be changed, then they are only the one's that involve `raise StopIteration` (also not all of them)? And that the rest all, having `yield StopIteration` or `except StopIteration` or other such one's are surely not to be changed?

And what about the `StopIteration` statements in the t

[2016-02-14 16:13] AnishShah commented on #8640
@mvnnn I think, `None` is the correct answer.
[code]

[2016-02-14 16:36] mvnnn commented on #8640
thanks @AnishShah, i forget to take ```2``` in assumption.

[2016-02-14 16:53] jksuom commented on #10134
This is from [PEP-479](https://www.python.org/dev/peps/pep-0479/#id34). It says that only generators will be affected. Elsewhere there is no need to change ``raise StopIteration`` to ``return`` (or maybe nothing at the end of a generator function). So it will suffice to find those statements that are in generators.

Apparently returning None will have the same effect internally in the future Pytho

[2016-02-14 17:03] AnishShah commented on #9478
@asmeurer I searched issues & PRs with "hermitian" but could find only 3 -> #1158 #1606 #6250
There's not much about removing hermitian/anti-hermitian from assumptions.
Should I work on this issue?

[2016-02-14 17:26] ashutoshsaboo commented on #10134
Hmm I see @jksuom . Thanks for your help.

I looked into all the files having `StopIteration` , and I found only 2 files, in which `raise StopIteration` wasn't being used internally, and could be easily changed without any issues!

Please check out my PR, and let me know in case if there are any changes in the code, that you could tell me!

Thanks ! :smiley: @jksuom @asmeurer

[2016-02-14 17:51] asmeurer commented on #9478
I'd say yes. I can't think of why we would want to remove them.

[2016-02-14 18:00] isuruf opened #10592 "zeta(0, n) where n is negative is wrong"
[code]
This should be `-n+1/2`

[2016-02-14 18:08] akki commented on #10198
Ohh I am sorry, I saw #10199 and thought the PR is closed :)

[2016-02-14 18:26] AnishShah commented on #10592
[code]

This is the output I got. I think `n + 0.5` is the correct answer.

[2016-02-14 18:28] isuruf commented on #10592
Sorry, updated the description

[2016-02-14 18:51] jksuom commented on #10592
This may be connected with https://groups.google.com/forum/#!topic/sympy/J2_bmBdisiU .

[2016-02-14 18:55] AnishShah commented on #9478
Okay, Thanks. I will send a PR..

[2016-02-14 19:55] Nitin216 commented on #10571
If this is open i would like to work on this one.

[2016-02-15 04:48] kamishettysreeja25 commented on #10456
I have worked on referencing modules of parsing.rst in alphabetical order. #10593
Would like to know whether  this is #10593 what you meant @moorepants

[2016-02-15 14:15] ashutoshsaboo commented on #10429
@asmeurer I guess, Is this issue closed? Because, I saw the merged PR above - #10439 .

[2016-02-15 16:24] rwst opened #10596 "factor(Integer/Rationals) does not"
[code]
Is there a reason for this? I know there is the specialized `factorint`. It would be convenient to have it all in one command.
[code]

[2016-02-15 17:24] #10571 closed

[2016-02-15 17:24] asmeurer commented on #10571
This was fixed by https://github.com/sympy/sympy/pull/10587

[2016-02-15 17:37] #10555 closed

[2016-02-15 17:44] smichr commented on #9586
But we can return a ConditionSet involving an interval, like `ConditionSet(y, y >= 0, S.Reals)` to say that `y` must be nonnegative, for example, in the solution of `solve(x**2 - y, x)`. If you look at the code for solving an inequality involving abs, there's a collection of conditions that are made as `Abs` are encountered in the expression. I think something like that could/should be applied to

[2016-02-15 17:46] debugger22 commented on #9478
This is what I was talking about.

https://gitter.im/sympy/sympy?at=55917d37666fd9af67369fcc

[2016-02-15 17:49] smichr opened #10598 "imageset could simplify expression"
Consider

[code]

Somewhere, it would be nice to get that `-I` and `I` distributed into the expression. It's probably overkill to use `simplify`, but perhaps there is a better way to do an `expand_mul` or something so expressions like this are somewhat simplified.

[2016-02-15 18:13] asmeurer commented on #9478
Ah, I remember now. So the issue is that hermitian includes real numbers, instead of just applying to matrices and operators. I think this issue is still valid, though, even if we decide to change that later.

[2016-02-15 18:14] debugger22 commented on #9478
+1

[2016-02-15 19:26] sandeepveethu commented on #10429
@ashutoshsaboo  yeah this issue was resolved, but the PR isn't closed, I don't know why. Maybe, this can be closed now.

[2016-02-15 20:12] Upabjojr opened #10599 "N-dim array documentation not showing"
N-dim array documentation not showing on the website:

http://docs.sympy.org/dev/modules/tensor/array.html

@asmeurer better solve this before 1.0 is out, I've been writing quite a lot so that end-users have an easy introduction.

When I call `make html` on my computer, that page gets displayed.

I cannot reproduce this problem on my computer.

[2016-02-15 21:31] asmeurer commented on #10082
Fix at https://github.com/sympy/sympy/pull/10600

[2016-02-16 04:20] SalilVishnuKapur commented on #10599
Hie ,
I would like to work on this . Kindly assign it to me .

[2016-02-16 04:29] moorepants commented on #10599
The dev docs have to be manually updated. I think Aaron and Ondrej may only have permissions to do this.

[2016-02-16 05:09] SalilVishnuKapur opened #10601 "Problem while importing solveset on sympy liveshell"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: cannot import name solveset

Even while trying to import solveset on ipython I am still facing the same error.

[2016-02-16 07:21] rwst commented on #8805
Was not closed automatically.

[2016-02-16 07:21] #8805 closed

[2016-02-16 07:34] SalilVishnuKapur commented on #10584
@satels I want to work on this. Can you tell which file in sympy/sympy/integrals/ in this repository we need to make changes ?

[2016-02-16 07:43] #10488 closed

[2016-02-16 08:05] SalilVishnuKapur commented on #10596
@rwst Can you tell me which file in sympy/sympy/ i need to study so as to make a new function that returs the factors as in sage .

[2016-02-16 08:11] rwst commented on #10596
@SalilVishnuKapur I'm at it already.

[2016-02-16 08:20] Upabjojr commented on #10599
`Last updated on Feb 11, 2016. Created using Sphinx 1.3b2. `

They were created on 11 February, documentation was already there.

[2016-02-16 08:25] SalilVishnuKapur commented on #10596
Ok great. In case you need some help then let me know.

[2016-02-16 09:14] jksuom commented on #10584
The integrand is an algebraic function in an elliptic function field. The integral can be shown to be elementary and computed by Risch's algorithm, which is currently implemented in SymPy only for purely transcendental integrands. This probably means that a whole new module is needed for algebraic integrands.

[2016-02-16 10:25] #8441 closed

[2016-02-16 10:25] #8571 closed

[2016-02-16 10:26] #10565 closed

[2016-02-16 10:55] AnishShah commented on #9478
Should I do it for matrices?

[2016-02-16 11:47] leosartaj commented on #10601
You need to do something like this

[code]

With the next release probably you will be able to do this ``from sympy import solveset``.

[2016-02-16 15:41] asmeurer commented on #9478
Yeah

[2016-02-16 16:00] #10082 closed

[2016-02-16 16:47] asmeurer commented on #9193
As I commented on https://github.com/sympy/sympy/pull/10604, this probably only used to work on accident. The fix from #1890 is correct. You shouldn't deduce that a fact for an expression that contains a symbol says anything about that symbol, but only if the expression is the symbol itself.

So I would say this issue is just a general case of inequality-type assumptions not working very well.

[2016-02-16 17:37] asmeurer opened #10606 "Range reverses backwards ranges"
[code]

Range needs to keep the right order so that it is useful for code generation (https://github.com/sympy/sympy/pull/10486).

[2016-02-16 17:43] sandeepveethu commented on #10140
now the answer is not only incomplete but also incorrect
[code]

[2016-02-16 17:54] asmeurer commented on #10606
Question about infinite ranges. Right now, `iter(Range(-oo, 1))` just iterates backwards. Should it continue to do this, or should it raise an exception?

[2016-02-16 18:04] SalilVishnuKapur commented on #10606
I am receiving error <generator object __iter__ at 0x7f8c9b478b48>  while running iter(Range(-oo, 1)). I want to work on this issue .Kindly guide how to proceed further.

[2016-02-16 18:14] asmeurer commented on #10606
What error do you get? It is working for me.

[2016-02-16 18:14] asmeurer commented on #10606
[code]

[2016-02-16 18:20] AnishShah commented on #10606
Works fine for me on the latest master.
If we correct the order of `Range`, I think, it should raise an Exception as `-inf` is not a finite term.

[2016-02-16 18:20] SalilVishnuKapur commented on #10606
No it works fine here as well, i restarted the kernel and it worked. I was wondering if you could tell me where in sympy directory do i need to look to fix the list(Range(-1, -10, -1)) that would be great.

[2016-02-16 18:22] AnishShah commented on #10606
@SalilVishnuKapur sympy/sets/fancysets.py

[2016-02-16 18:25] SalilVishnuKapur commented on #10606
Thanks @AnishShah . But regarding raising an exception , in my opinion it shouldn't because maybe in some indefinite problem we need the values in negative till some condition holds. What do you think ?

[2016-02-16 18:38] asmeurer commented on #10606
I don't think we should disallow infinite ranges. They already work and are useful.

@SalilVishnuKapur you should know that I am already working on this.

[2016-02-16 19:01] AnishShah commented on #10606
Okay @asmeurer . I was thinking that the behaviour of Range should be the same for everything.
`start, start + step, start + 2*step, ... , `. But, in Range(-oo, 1) , it iterates backwards.
But, as you said that infinite ranges are useful, then I think we should keep this as it is.

[2016-02-16 19:41] jpikonen opened #10607 "Symbolic trigonometric simplifications need to be optimised"
Some trigonometric expressions can easily and quickly be simplified without ever calculating some of the functions in them just by using the known properties of the functions in the expression.

For example:

sin(2*pi)

is 0. So:

sin(pi*factorial(847937526693730893984732849857349))

is also 0. This does not require calculation of the factorial, but the property knowledge, that the result of the f

[2016-02-16 19:41] asmeurer commented on #5105
Expressions now have the `rcall` method. It's still not possible to write `sin + cos` because of https://github.com/sympy/sympy/issues/4787, but that's a separate issue. Recursive calling with `__call__` was implemented and then removed because it led to many gotchas (people thought it would be multiplication), with little benefit.

[2016-02-16 19:41] #5105 closed

[2016-02-16 19:51] asmeurer commented on #10606
They are useful, but I am wondering if `iter(Range(-oo, 1))` shouldn't raise an exception, since it the only way to iterate through it is to change the order (same with `iter(Range(oo, 1, -1))`).  `iter(Range(1, oo))` would still work.

The confusion here is that Range is a Set, which is generally unordered, but to be useful, it really needs to maintain order always. `list(Range(3)) == [1, 0, 2]`

[2016-02-16 20:09] RmStorm opened #10608 "linear_eq_to_matrix fails on unsimplified version of equation"
For some reason the function linear_eq_to_matrix from solveset fails when used in a certain manner without any error! It simply returns 0's.

I have an equation which is part of a set of equations. Feeding it into linear_eq_to_matrix gives a row of zeros. When using simplify(eq), linear_eq_to_matrix does correctly recognize the terms and returns the correct answer.

Attached are 2 files, one file

[2016-02-16 20:34] ramidas opened #10609 "random variables"
I believe this is a bug:
[code]
also when I tried this:
[code]
console did not give any answer (computer was calculating with 100% of CPU but it last longer than 10 minutes (Intel(R) Pentium(R) Dual  CPU  T2390  @ 1.86GHz, 2GB RAM)

[2016-02-16 20:48] asmeurer commented on #10606
Finding some interesting bugs here by the way

[code]

[2016-02-16 21:07] asmeurer opened #10610 "limit(3**n*3**(-n - 1)*(n + 1)**2/n**2, n, oo) is wrong"
[code]

From https://stackoverflow.com/questions/35428617/sympy-fails-limit-test. If you expand the expression first the terms cancel and it gets the answer right. The answer should be 1/3.

[2016-02-17 00:34] nicoguaro opened #10612 "UserWarning plot3d"
I have the following code

    import sympy as sym
    from sympy.plotting import plot3d

    x, y = sym.symbols("x y")
    plot3d(sym.atan2(y, x), (x, -1, 1), (y, -1, 1))

That outputs:

    C:\Python27\lib\site-packages\sympy\plotting\experimental_lambdify.py:165:
    UserWarning: The evaluation of the expression is problematic. We are trying
    a failback method that may still work. Please rep

[2016-02-17 06:01] delooper opened #10613 "Solving a cubic, TypeError, can not determine truth value of..."
Greetings,

I am running sympy (0.7.6.1) in Python 3.   When I ask sympy to solve for the roots of a single-variable cubic polynomial with complex coefficients, sympy crashes with a rather strange error:

` TypeError: cannot determine truth value of 1/2 + 2*(-3*2**(2/3)/8 + 3*2**(2/3)*sqrt(3)*I/8)**3/27 < 0`

I am calling sympy.solve( p, x )

where p is the polynomial:

` 2*x**3 - 3*z*x**2 + 1 `

[2016-02-17 08:20] jksuom commented on #10610
It seems that the test ``ok`` referred to in [this comment](https://github.com/sympy/sympy/blob/master/sympy/series/limits.py#L148) is too liberal. It accepts all expressions that contain a polynomial both in the numerator and the denominator. In this case there are also dominating exponentials that essentially determine the limit, but they are ignored by the test.

[2016-02-17 09:19] jpikonen commented on #10607
Also expressions like:

cos(pi*factorial(8629264243264^64862423642638763847)+667284/372823682*sqrt(pi))

simplify to:

cos(667284/372823682*sqrt(pi))

without actually calculating the expression.

[2016-02-17 09:20] jpikonen commented on #10607
Also expressions like:

'cos(pi*factorial(8629264243264^64862423642638763847)+667284/372823682*sqrt(pi))

simplify to:

'cos(667284/372823682*sqrt(pi))

without actually calculating the expression.

[2016-02-17 09:22] jpikonen commented on #10607
Also expressions like:

cos(pi\*factorial(8629264243264^64862423642638763847)+667284/372823682\*sqrt(pi))

simplify to:

cos(667284/372823682\*sqrt(pi))

without actually calculating the expression.

[2016-02-17 09:32] sanyagithub commented on #10612
I would like to work on this..

[2016-02-17 09:42] gxyd commented on #10606
I get this: (which looks fine)
[code]

[2016-02-17 10:24] Nitin216 commented on #10613
Hey delooper,
I am currenlty running Sympy version 0.7.7 dev and this is working.
No error came it solved the equation but it is rather too much long.

May be you should update sympy from the repository.
Thanks

[2016-02-17 10:32] delooper commented on #10613
Thanks. It sounds like I need to download the sympy 0.7.7 repository.  Perhaps this is a bug that was fixed a year ago, but it has not been released, i.e. it isn't in 0.7.6.*

[2016-02-17 10:36] jksuom commented on #10613
It also advisable to write ``z = 2**(S(2)/3)/4 - 2**(S(2)/3)*sqrt(3)*I/4`` (with ``from sympy.core import S``) to avoid floats.

[2016-02-17 11:35] goretkin opened #10614 "documentation typo"
Sorry that I don't know the proper way to update the docs.

https://github.com/sympy/sympy_doc/blob/e166657d641ea7138a9fb1ac057209213f129b0d/latest/modules/simplify/simplify.html#L600

[code]

[2016-02-17 12:36] bjodah commented on #10614
Thanks, it looks as if it is already fixed in `master`:

[code]
https://github.com/sympy/sympy/blob/master/sympy/simplify/radsimp.py#L936

Or maybe I'm missing something?

[2016-02-17 12:42] goretkin commented on #10614
Great! Thank you. I would judge that the following sounds a bit better, but not enough to open an issue

"If we know nothing about *the* sign of some exponent, and *the* `exact` flag is set, then ... *a* pretty fraction will be returned."

[2016-02-17 12:42] #10614 closed

[2016-02-17 13:03] AnishShah commented on #8046
Hi @smichr, I'm trying to solve some issues from the above list.

7th one
[code]

We don't know whether the imaginary number is finite or infinite, so shouldn't the correct answer be None?
[code]

[2016-02-17 13:35] Upabjojr commented on #10599
Maybe all `\` in the LaTeX documentation should be escaped `\\` ?

[2016-02-17 13:35] bjodah commented on #10614
@goretkin I agree, feel free to open a pull request (you can edit using the "pen" button in my link)

[2016-02-17 14:02] jksuom commented on #10599
Maybe not necessarily if raw strings are used.

[2016-02-17 15:53] AnishShah commented on #8046
For 9-16 issues, what should be the output for
[code]

Should it be `None`? As we don't know whether it is finite or infinite?

[2016-02-17 15:58] asmeurer commented on #10606
You're right. I think these are some bugs that I introduced myself in the process of fixing this.

[2016-02-17 16:23] #8649 closed

[2016-02-17 16:25] hargup commented on #10606
I don't have a strong opinion on this one. I don't remember a case where we had to use `iter(Range(-oo, 1))` so it might not hurt raising an error for it. But I don't feel there is strong case to disallow them either, because mathematically infinite ranges are iterable and it is very easy to check if a range is finite or not, as you said this will also be inconsistent with the behavior of `S.Integ

[2016-02-17 16:52] smichr commented on #10606
I saw this always-increasing ordering when I worked on the recent PR to recognize range/xrange. I thought it makes sense and would still lobby for keeping it that way. It is a set (as you say). If you want the elements of a set to be ordered, you have to pick the appropriate ordering that you want. Or,
1. don't use Range when you should (perhaps) be using `range`
1. use list(sorted(Range(3))) if y

[2016-02-17 16:54] smichr commented on #10601
closing as there is nothing wrong -- that's just how the namespace is (as was noted)

[2016-02-17 16:54] #10601 closed

[2016-02-17 16:57] smichr commented on #10596
I suggested this some time ago and the idea was rejected. Perhaps sentiments have changed.

[2016-02-17 17:01] smichr commented on #10596
The return values for 1 don't look right, however. But perhaps `factorint` needs (internally) an empty dict for the special case of 1. I should know but I don't remember now.

[2016-02-17 17:08] asmeurer commented on #10606
It's useful because it's a SymPy object, so we can put it in SymPy expressions. You might argue that one could just use a Tuple, but

- `Range` allows very large ranges, without storing them in memory.
- `Range` allows infinite ranges.
- `Range` presently doesn't allow symbolic bounds, but I'll probably end up adding them at some point.
- `Range(start, stop, step)` is more useful for code generati

[2016-02-17 17:09] sanyagithub commented on #10607
I can work on this....

[2016-02-17 17:45] mvnnn commented on #8046
[code]
that's right answer is True or None.

[2016-02-17 17:47] asmeurer commented on #8046
I guess it should be None, since n can be 2 (and infinity is not rational).

[2016-02-17 17:53] jksuom commented on #10596
``factor`` is currently oriented towards polynomials. If it should also deal with denominators it would probably be necessary to add some keyword arguments to determine how that should be done. For example, should the (irreducible) polynomial ``x/3 + 1/2`` be factorised as ``(2*x + 3)/(2*3)``?

[2016-02-17 18:06] rwst commented on #10596
Please open another ticket for adding additional options.

On Wed, Feb 17, 2016, 18:54 Kalevi Suominen <notifications@github.com>
wrote:

[2016-02-17 18:10] debugger22 opened #10620 "GitHub added issue template feature"
e.g. https://github.com/dear-github/dear-github/issues/125

Should we have a not-so-strict issue template?

[2016-02-17 19:32] jksuom commented on #10596
Actually, I'm not sure that overloading ``factor`` by adding new options would be the best solution. There are already quite a number of options in ``polys``, and I find it often frustrating having to hunt through the code base in order to understand their implications.

[2016-02-17 20:04] rwst commented on #10596
You're right, poly factor should really be named `factorpoly` or so,
and the general wrapper `factor` moved out of polys. If we have a
consensus there this then would be part of this ticket.

On Wed, Feb 17, 2016, 20:33 Kalevi Suominen <notifications@github.com>
wrote:

[2016-02-17 20:27] jksuom commented on #10596
Perhaps it would be possible to start by implementing methods like ``Integer.factor``, ``Rational.factor``, etc.

[2016-02-17 21:24] rwst commented on #10596
They exist, are named `factors` and call the `factorint` function. Really,
we don't want more methods in the core, we want a general global wrapper
that can handle all types. Not relevant to this ticket we also want
handling of the visual toggle out of the core.

On Wed, Feb 17, 2016, 21:27 Kalevi Suominen <notifications@github.com>
wrote:

[2016-02-18 04:45] asmeurer commented on #10620
What would be in it? Most issues don't seem to be missing anything important.

[2016-02-18 05:43] debugger22 commented on #10620
It'll be good to ask them to provide some code to reproduce the bug.
On Feb 18, 2016 10:16 AM, "Aaron Meurer" <notifications@github.com> wrote:

[2016-02-18 08:16] rwst commented on #10620
This works for PRs too using `pull_request_template.md`

[2016-02-18 13:21] #10198 closed

[2016-02-18 13:53] #10379 closed

[2016-02-18 16:10] sanyagithub commented on #10612
#10626 I tried fixing this .. Please have a look !!

[2016-02-18 18:40] govindlahoti commented on #10610
I am looking into it

[2016-02-18 18:42] govindlahoti commented on #10610
I am looking into this

[2016-02-18 23:02] fredrik-johansson commented on #10596
Note that Sage distinguishes between integers that are just integers, and integers that are supposed to be polynomials.

The following is unsurprising about the current behavior in SymPy:

    In [5]: factor(897 * x**2)
    Out[5]: 897*x**2
    In [6]: factor(897 * x**1)
    Out[6]: 897*x
    In [7]: factor(897 * x**0)
    Out[7]: 897

Also, something like the following is not a hidden time bomb:

[2016-02-19 02:36] Spaethk commented on #10395
I have been working on this issue for a while now and would like to post an update. While doing manual testing to reproduce the bug, I discovered even more unexpected behavior. Basically, if you follow the table posted by the original author... But change 'x' to a symbol with a concrete definition or a number, it causes SymPy to crash!

![table9](https://cloud.githubusercontent.com/assets/10537691

[2016-02-19 04:40] rwst commented on #10596
Fredrik, I don't agree. It is mathematically and semantically surprising to
have factor not delegating to the resp. type's factorization. So why do you
think the coefficients will be factorized in the second example? The global
factor will just get added code that delegates to factorint and factorrat.
The behavior with polynomials will be unchanged.

On Fri, Feb 19, 2016, 00:03 Fredrik Johansson <

[2016-02-19 04:44] rwst commented on #10596
Ah ok I understand.  So why does SymPy not have polynomial type for
integers. That would be a dependency of this ticket of course.

On Fri, Feb 19, 2016, 05:39 Ralf Stephan <gtrwst9@gmail.com> wrote:

[2016-02-19 18:06] smichr opened #10633 "Eq(True, False) doesn't evaluate"
[code]

(expecting S.false as the answer)

[2016-02-19 19:21] smichr opened #10634 "numeric Piecewise is_number -> False"
[code]

Expected True from the first case for the same reasons as the second case: only a number can result.

[2016-02-19 19:46] smichr commented on #10634
Whereas the latter *can* evaluate, the former can't until it gets a value of x.

[2016-02-19 19:46] #10634 closed

[2016-02-19 20:35] asmeurer commented on #10599
I built the docs locally on the release branch and it shows up there. Maybe somehow @aktech missed it when he did https://github.com/sympy/sympy_doc/pull/16

[2016-02-19 20:49] asmeurer commented on #10532
+1. I came to the same conclusion myself, that it should use a ConditionSet. There was a typo in the solveset docs which really confused me about this, but even fixed, the solution form is very confusing. And that would only get worse for more complicated solutions of this form (say, of equations with multiple abs or multiple symbolic parameters).

[2016-02-19 20:53] aktech commented on #10532
+1

[2016-02-19 20:57] smichr commented on #10532
See also my comment -- for some reason these links never quite get me to the comment, don't know why, but you should see it on the page -- [here](https://github.com/sympy/sympy/issues/9586#issuecomment-184321410)

[2016-02-19 21:13] asmeurer commented on #10532
I think that is fine. Functions that determine the truth value of inequalities in condition sets should set an inequality to be false when it is complex. That is, something like I ∈ {x | x > 1} will be false because I > 1 gives false (put another way, `a > b` should implicitly mean `a ∈ ℝ ∧ b ∈ ℝ ∧ a > b`).

[2016-02-19 21:14] asmeurer commented on #10532
(the link doesn't bring you to the comment because the page isn't long enough to bring the comment all the way to the top)

[2016-02-20 04:56] #10633 closed

[2016-02-20 05:31] #10285 closed

[2016-02-20 13:09] smichr opened #10641 "Or, And don't evaluate"
[code]

This is going to need someone that can understand the inheritence-acquired attributes. For example, if I add the following test to test_operations.py, it passes which seems to indicate (to me) that LatticeOp knows how to evaluate. But `Or` and `And` *are* LatticeOps. Min/Max are, too, but I assume they inherit their evalf routines from Expr.)

[code]

Adding the following code to AssocOp m

[2016-02-20 13:20] smichr opened #10642 "AppliedUndef does not evaluate"
[code]

expecting `f(1.7)`

See also #10641

[2016-02-20 14:16] rpisarev commented on #2799
I want to help, so I created pull request https://github.com/sympy/sympy/pull/10643.
I think, in one-dimensional space Universal Set is the set of everyone of real numbers or interval (-oo, oo).

Yes, of course it breaks tests for Universal Set

assert U.union(Interval(2, 4)) == U

assert U.intersect(Interval(2, 4)) == Interval(2, 4)

But maybe, its wrong test?
I can remove this test or we can dec

[2016-02-20 18:06] sanyagithub commented on #10560
I can try fix this...

[2016-02-20 18:35] mvnnn commented on #10401
[code]
in this case ```Eq``` evaluate first and after this ```subs``` evaluate.
so doing this is better way
[code]
@jksuom correct me if i am wrong.

[2016-02-21 03:05] aktech opened #10648 "SymPy master build failing"
The code in master is broken

[code]

[2016-02-21 11:24] mvnnn commented on #10401
@smichr this code return wrong ans
[code]

[2016-02-21 17:03] aktech commented on #10648
Fixed via #10647

[2016-02-21 17:03] #10648 closed

[2016-02-21 17:08] AnishShah commented on #9478
Hi @asmeurer @debugger22, after reading the source code, I got familiar with all the workflow of the new assumptions.

Currently, `AskHermitianHandler/AskAntiHermitianHandler` are under `sets.py`, since we are adding Matrices to it, should it still under `sets.py`?

[2016-02-21 17:28] AnishShah commented on #9478
Or should I add a new handler specifically for matrices?

[2016-02-22 11:20] rpisarev opened #10651 "Method is_constant() doesn't work for mul expression with diffucult domain"
[code]

Expression **e** isn't defined if x == 1, then **e** isn't constant.
But _e.is_constant()_ says, **e** is constant. It's wrong

[2016-02-22 17:10] asmeurer opened #10654 "sympify(set) should give FiniteSet"
[code]

It should give FiniteSet(n), so that people can use that convenient syntax in set functions (like Union and so on).

This is easy to fix. Just add it to the converter dictionary in sympify.py

[2016-02-22 17:11] asmeurer commented on #10654
(and ditto for frozenset)

[2016-02-22 17:34] asmeurer opened #10655 "init_printing should change latex color if qtconsole background is black"
See for instance https://stackoverflow.com/questions/35539492/change-the-color-of-latex-output-in-ipython-jupyter.

Probably easy to fix.

[2016-02-22 17:43] AnishShah commented on #10654
I will work on this

[2016-02-22 18:35] asmeurer commented on #2799
Just because you have an interval doesn't automatically make the domain of interest just the real numbers. UniversalSet is an abstract set that contains everything, so UniversalSet.union(anything) should give UniversalSet.

[2016-02-22 18:54] rpisarev commented on #2799
Yes, I have already understood it, so my last commit return UniversalSet.

[2016-02-22 21:45] mvnnn opened #10658 "Boolean rowsList or colsList return incorrect Matrix"
[code]
it's return wrong output.when we takes ```boolean``` value for ```rowsList``` or ```colsList```.

[2016-02-23 00:44] siddharthist commented on #10655
Also see your answer at http://stackoverflow.com/questions/18257270/control-latex-expression-color-in-ipython-qtconsole :smiley:

[2016-02-23 02:15] siddharthist commented on #2716
I can't reproduce this warning:
[code]

[2016-02-23 04:47] Omer80 opened #10661 "ufuncify a vector function returns in an error message"
Hiello all, I am new to SymPy, so this issue will be probably easy to solve  - I try to use `ufuncify` on a vector function. The same line with `lambdify` works, but with `ufunficy` I get the following error message:
`CodeGenArgumentListError: ('out_817415551552344190', [<sympy.utilities.codegen.OutputArgument object at 0x7f8da54dccd0>])`
The full description of this issue is one Stackoverflow -
[

[2016-02-23 05:44] siddharthist commented on #10176
@kenenbek It would be useful if you posted the full stacktrace (for line numbers).

[2016-02-23 06:12] siddharthist commented on #3801
[This looks fixed in master](https://github.com/sympy/sympy/blob/0a15782f20505673466b940454b33b8014a25c13/sympy/plotting/plot.py#L175-L179)

[2016-02-23 06:16] siddharthist commented on #5090
PR https://github.com/sympy/sympy/pull/2655 was merged. Does any work still need to be done here?

[2016-02-23 06:41] siddharthist commented on #5368
Looks like a related PR was merged. Is this still relevant? https://github.com/sympy/sympy/pull/705

[2016-02-23 08:21] mzaffalon opened #10662 "evalf(subs={}) in Piecewise"
In the following snippet of code

[code]

I would expect to define the Heaviside step function, but the limit `w` is not evaluated. On the other hand, `phidir.subs(w,1).evalf()` does work.

[2016-02-23 13:05] EnriquePH opened #10665 "integrate does not give the right answer"
Version: 0.7.6.1 is giving me this problem:

http://stackoverflow.com/questions/35564899/sympy-integrate-does-not-give-the-right-answer

Best Regards, Enrique.

[2016-02-23 13:33] jksuom commented on #10665
This is fixed in SymPy 0.7.7-dev:
[code]

[2016-02-23 16:29] akritas opened #10666 "resultant misses the sign"
Take for example the case f = x**3 - 7*x + 7 and g = x.

In sympy

resultant(f, g, x) = resultant(g, f, x) = -7,

the _last_ element of the polynomial remainder sequence computed by the function subresultants(f, g, x),

instead of

resultant(g, f, x) = (-1)**(deg(f)*deg(g)) * resultant(f, g, x)

I do not understand the core code to fix the bug.

[2016-02-23 17:16] jksuom commented on #10666
The low level code assumes that ``deg(f) >= deg(g)``, and the polynomials are swapped to satisfy this if necessary. That can be compensated at higher level by changing the sign if ``deg(f) < deg(g)`` and both degrees are odd. (The principal use of ``resultant`` in SymPy is elimination of variables where the sign does not matter.)

[2016-02-23 18:46] asmeurer commented on #2716
I fixed this at https://github.com/sympy/sympy/pull/10084.

[2016-02-23 18:46] #2716 closed

[2016-02-23 18:46] #3801 closed

[2016-02-23 18:48] asmeurer commented on #5090
The command from the top shows some asserts for me, although I don't know how many of them are valid. I saw at least one that isn't:

[code]

[2016-02-23 19:59] moorepants opened #10669 "autowrap should accept any type of iterable for the args keyword"
[code]

[2016-02-23 20:01] moorepants commented on #10661
`ufuncify` with the numpy backend does not support SymPy Matrix yet. You can do this with autowrap but you will not get a ufunc that has all the broadcasting rules.

[code]

[2016-02-23 20:07] akritas commented on #10666
I understood that the polynomials are swapped, but imho the final answer should be compensated at the lower level and be in full agreement with other cas's

[2016-02-23 20:17] asmeurer opened #10671 "solveset(sin(y), y, Interval(0, pi)) is wrong"
[code]

It isn't intersecting the domain `Interval(0, pi)`.

@smichr

[2016-02-23 20:20] asmeurer commented on #5368
Looks like it can be closed.

[2016-02-23 20:20] #5368 closed

[2016-02-23 20:32] asmeurer opened #10672 "Sets printing issues"
Some issues with str and srepr printing in sets.

Some notes:
- The `str` printer should always generate valid Python, which recreates the expression (but may require some variables to be defined).
- The `srepr` printer should generate an expression that recreates the expression exactly, using only the names from `from sympy import *` (or other relevant imports for other submodules, but that isn't

[2016-02-23 20:52] asmeurer commented on #10509
It did work but it was completely wrong, so we removed it (non-behavior is better than wrong answers).

[2016-02-23 21:32] asmeurer commented on #10265
I think for variable assumptions one would need to subclass MatrixElement to define `_eval_is_positive` (and so on). I'm not really sure how exactly that would look like. The simple case, MatrixSymbol('M', N, N, real=True)` should apply to every element. That would fix the most common problems.

[2016-02-23 21:45] akritas commented on #10666
But when you use it for teaching purposes, it does matter.

Quoting Kalevi Suominen <notifications@github.com>:

[2016-02-23 21:59] Upabjojr commented on #10665
Please try the issue on the development branch before reporting a bug.

[2016-02-24 05:54] inception007 commented on #10672
I would like to work on this.

[2016-02-24 05:59] inception007 commented on #10669
I will work on this.

[2016-02-24 07:04] AnishShah opened #10675 "hash(Rational(a, b)) should be equal to hash(S(Floating point number))"
As discussed in PR #10657
hash of a Rational should equal to hash of it's floating point number.

For example, `hash(Rational(3, 10)) == hash(S(0.3))`

[2016-02-24 08:33] rwst commented on #10675
what precision is 0.3?

[2016-02-24 08:39] rwst opened #10676 "inconsistency with x**(x/log(x))"
[code]
I'm no calculus expert but pretty sure the latter is `e**(-1)`. So I think this is inconsistent.

[2016-02-24 09:11] jksuom commented on #10676
It seems that SymPy is generally very conservative with non-integer powers of negative (or complex) numbers, and leaves them unevaluated presumably because they are multi-valued.

[2016-02-24 09:54] SalilVishnuKapur commented on #10672
I am already working on this

[2016-02-24 10:01] SalilVishnuKapur commented on #10672
@asmeurer  Regarding the issue 1 . I find it outputs something else to on the sympy live shell . Kindly have a look .

[0,1]

[2016-02-24 10:22] AnishShah commented on #10672
The output is the same on sympy live

[2016-02-24 10:24] govindlahoti commented on #10675
I would like to work on this

[2016-02-24 10:31] SalilVishnuKapur commented on #10672
@AnishShah  but here have a look at this screenshot of what i tried on sympy live.
![image](https://cloud.githubusercontent.com/assets/10466576/13282607/cb860554-db0f-11e5-8011-2ed2702fee66.png)

[2016-02-24 10:39] shivamtaji commented on #10676
I think that the output is correct. 'log(z)' is undefined if z<0. But if 'z<0' then we can compute complex logarithm of 'z' which is Log(z)=log(r)+i*Q where z=r*(e**iQ).
Hence here first  log(-1) is computed which is log(1)+i*pi = i*pi . Which gives the same answer computed by sympy.

[2016-02-24 12:48] wrat opened #10680 "unable to get unevaluated Integral object for integrate ( x**log (x**log (x**log(x) ) ) , x) ."
while Evaluating

Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/sympy/polys/rings.py", line 365, in from_expr
    poly = self._rebuild_expr(expr, mapping)
  File "/usr/local/lib/python3.4/dist-packages/sympy/polys/rings.py", line 359, in _rebuild_expr
    return _rebuild(sympify(expr))
  File "/usr/local/lib/python3.4/dist-packages/sympy/polys/rings.py", line 35

[2016-02-24 13:14] SalilVishnuKapur commented on #10676
@shivamtaji I totally agree with you
Though I have another way of expressing the same
@rwst  I guess it is right the way it is because with logic that you are applying
1. Inverse properties:   loga ax = x   and   a(loga x) = x
In this case 1/(log(-1)) != 1*(log-1(e))  as logrithmic base  value can never be less than 0
Please have a look at the below rule
2 logy(x)     where y>0

[2016-02-24 13:28] AnishShah commented on #10672
I'm sorry if I'm missing something, but the output in your screenshot is same as the output mentioned by @asmeurer. I don't see any difference.

[2016-02-24 13:33] SalilVishnuKapur commented on #10672
'[0, 1]' and [0, 1] . I think it is already a string after getting evaluated by str.

[2016-02-24 13:56] SalilVishnuKapur commented on #10655
Is this where i need to look for fixing this sympy/sympy/printing/printer.py ? If not then kindly guide as I want to explore this.

[2016-02-24 16:07] asmeurer commented on #10655
`init_printing` is in sympy/interactive/printing.py.

[2016-02-24 16:11] asmeurer commented on #10672
@SalilVishnuKapur that's because the SymPy Live shell renders the output as LaTeX.

You should work locally against the git master. SymPy Live has some differences against the normal SymPy which might confuse, but more importantly, it runs SymPy 0.7.6, whereas you want to work against the git master.

[2016-02-24 16:49] yash14123 commented on #10672
I would like to take this up. :)

[2016-02-24 19:11] inception007 commented on #10669
I am getting different error.
`CodeWrapError                             Traceback (most recent call last)
<ipython-input-5-fcea31f79d7e> in <module>()
----> 1 f = autowrap(m, args=(a, b, c))

/home/parv/sympy/sympy/sympy/core/cache.pyc in wrapper(*args, **kwargs)
     91             def wrapper(*args, **kwargs):
     92                 try:
---> 93                     retval = cfunc(*args, **kwar

[2016-02-24 19:26] moorepants commented on #10669
Seems like you may not have numpy installed.

[2016-02-24 19:40] #10665 closed

[2016-02-24 19:48] asmeurer opened #10681 "TypeError: 'Float' object cannot be interpreted as an integer from integrate(r**2*(R**2-r**2)**0.5, r)"
[code]

See https://stackoverflow.com/questions/35548441/sympy-fails-wxmaxima-not/35611637#35611637.

[2016-02-24 22:37] smichr opened #10682 "Eq should evaluate when properties are incompatible"
e.g.

[code]

Some properties (for which `(lhs-rhs).is_zero` evaluates, where lhs and rhs are the sides of the Eq/Ne) already work:

[code]

Any properties which are mutually exclusive should cause Eq/Ne to evaluate. Perhaps this should be part of simplification, not evaluation.

Questions:
- [ ] how to get all assumptions to evaluate
- [ ] which of `_assumptions`, `_assumptions0` to use

[2016-02-25 04:08] sanyagithub commented on #10682
True

False

Eq(p, 4)

I just want to clarify.
Do you want to say that Eq(p,4) should evaluate to True??

[2016-02-25 05:12] thisch commented on #10682
No Eq(p,4) should not evaluate to True, since we only know that p is positive and not that p is a concrete Integer. Therefore it makes sense that it does not evaluate. See https://github.com/sympy/sympy/pull/10644#issuecomment-188614649

[2016-02-25 08:29] rajeev2010 commented on #3001
i have recently found a bug in the above function. if the very first term has a negative sign it does not get displayed. it can be easily remedied by the following change -
[code]
@jgoppert thanks for sharing this piece of code. it has helped me avoid manually processing latex expressions generated by sympy. i hope this bug fix will be helpful to others as well.

[2016-02-25 16:21] souravsingh commented on #4563
Is the issue still open?

[2016-02-25 17:20] Shekharrajak opened #10688 "Not able to solve some `const**(symbol)` type equation."
[code]
Reals solution is `-3,2`
Complex solution is
`-1/2-1/2 sqrt(25+(8 i n π)/(log(5)))` and `1/2 (-1+sqrt(25+(8 i n π)/(log(5))))`

[2016-02-25 19:02] asmeurer commented on #4563
The user installation docs should work fine on Windows. I'm not sure if the developer docs  https://github.com/sympy/sympy/wiki/Development-workflow are sufficient.

[2016-02-25 21:12] jksuom commented on #10681
This can be fixed by changing the type of some integer-valued floats to ints.
[code]
But this integration of expressions with floating point exponents is very slow and should be avoided if possible. Apparently the integrator spends a lot of time trying other alternatives before settling on meijerint.

[2016-02-26 08:55] Upabjojr opened #10691 "Should sympy.sandbox be linked in the documentation?"
The module _sympy.sandbox_ is a recent addition to SymPy, it is a container for experimental code with no support.

Should the documentation code in _sympy.sandbox_ be linked on SymPy official documentation?

[2016-02-26 14:52] moorepants commented on #10691
I think that we should show in the docs but we should definitely include a warning that  the API is not guaranteed to change or be backwards compatible.

[2016-02-26 15:03] leosartaj commented on #10691
+1

[2016-02-26 16:49] asmeurer commented on #10681
The line in hyperexpand.py is definitely a bug (it should never end up passing a float to `range`).

What integrator is it spending time on before meijerint? The only slow integrator should be heurisch, which should be tried very last.

[2016-02-26 16:55] jksuom commented on #10681
I did not examine the process in detail, but I suspect that risch_integrate may also be slow with floats.

[2016-02-26 17:06] asmeurer commented on #10681
risch_integrate should be failing fast if the integrand isn't of the supported type (this is an algebraic integral, which isn't supported). risch_integrate will only be slow with floats inasmuch as the polys are. My bigger worry is with inaccuracy. I've also seen issues where it hangs because polynomials with float coefficients don't reduce properly (roughly, leading coefficients should go to zero

[2016-02-26 17:10] jksuom commented on #10681
I can look into it more closely. The time spent was really unexpected.

[2016-02-26 19:59] asmeurer opened #10696 "Add a header to old docs stating that they are out of date"
We have a lot of older docs on the docs website, like http://docs.sympy.org/0.7.1/modules/simplify/simplify.html. Unfortunately, Google likes to return these in search results instead of the newest version (http://docs.sympy.org/latest/modules/simplify/simplify.html).

We should add a header to all the old docs that warns users that they are outdated, and links to the same page with "latest" in th

[2016-02-26 20:08] asmeurer commented on #10696
Apparently we can also influence Google with a sitemap.xml. If you know how to do this, that would be awesome too.

[2016-02-26 20:31] asmeurer opened #10697 "subs is too slow for large mappings"
If you have a large mapping, subs iterates over each term in the mapping, even if `simultaneous=True`. Contrast this with `xreplace`, which does the substitution all at once.

[code]

`subs` should only traverse an expression once when `simultaneous=True` (side note: I agree with the `XXX` comment in the code, simultaneous=True should be the default for dictionaries, maybe even the default always,

[2016-02-26 23:09] nishnik commented on #10671
I did a little research on it:
`solveset` calls `_solveset` which calls `_solve_real_trig(f, symbol)` for `f`=`sin(y)` and `symbol`=`y`.
Where it is solved by transforming the problem to complex plane and whose solution is then transformed back to real plane and returned. But then in `_solveset`, I couldn't find something for Domain Intersection.
If you guide me a little, I will be able to solve i

[2016-02-27 04:10] asmeurer commented on #10696
Another idea https://en.wikipedia.org/wiki/Noindex

[2016-02-27 04:19] asmeurer commented on #10671
I think it used to work, so I would investigate what broke it (you can use `git bisect`).

[2016-02-27 07:05] mvnnn commented on #10696
I would like to work on this.

[2016-02-27 07:44] rpisarev opened #10699 "Eq works incorrectly"
In [36]: Eq(x - 1, x - 1)
Out[36]: True

OK, because expresion x - 1 exists for all x.

`In [37]: Eq(1/x, 1/x)
Out[37]: True

In [50]: Piecewise((-1/x , Eq(1/x, 1/x)), (-7, Eq(x, 0)))
Out[50]: -1/x

In [51]: Piecewise((-1/x , Eq(1/x, 1/x)), (-7, Eq(x, 0))).subs(x, 0)
Out[51]: zoo
`

Oops.  Equality Eq(1/x, 1/x) does not hold for all x, but it holds for all x != 0

[2016-02-27 08:23] mvnnn commented on #10696
@asmeurer i added latest link on all ```index.html``` file.please check that if that's looks good then i will add latest link in all other html files.[PR#18](https://github.com/sympy/sympy_doc/pull/18)

[2016-02-27 09:40] mvnnn commented on #10696
![screenshot from 2016-02-27 15 06 43](https://cloud.githubusercontent.com/assets/12225578/13372301/3cea4588-dd64-11e5-97a6-e1c4f7bf35ff.png)

[2016-02-27 12:04] jksuom commented on #10681
The time is taken by heurisch. It is called before meijerint if meijerg=None. heurisch works with polynomials in a couple of dozen variables. It finds that the derivative of ``(R**2 - r**2)**0.5`` contains ``(R**2 - r**2)**-0.5`` but does not recognize it as the inverse. Instead, it is treated as another independent variable.

[2016-02-27 13:02] AnishShah commented on #10265
Hi @asmeurer, is this issue confirmed? I would like to work on this..

[2016-02-27 14:02] #10654 closed

[2016-02-27 19:05] dusenberrymw commented on #10509
@asmeurer Agreed.  Incorrect behavior is worse than lack of functionality.

[2016-02-27 20:45] nishnik commented on #10671
I found that it broke in #10448 . Before it in `solveset` we were doing:
[code]
But after that PR we are simply calling `_solveset`, and in it we are not doing the above mentioned intersection
But now, as `solveset_real` and `solveset_complex` have changed and they call `solveset` with their respective domain. So I tried to fix it like [this](https://github.com/nishnik/sympy/commit/cd633e19a75dada

[2016-02-27 22:43] rpisarev commented on #9609
On current master:
In [1]: from sympy import *

In [2]: (S.Naturals).contains(oo)
Out[2]: Contains(oo, Naturals())

In [8]: S.Naturals.intersect(FiniteSet(oo))
Out[8]: Intersection(Naturals(), {oo})

[2016-02-27 23:39] argriffing opened #10701 "Is the empty matrix nilpotent? IndexError: Index out of range: a[0]"

[2016-02-28 05:17] ashutoshsaboo commented on #10654
@asmeurer I guess this issue can be closed since #10657 is merged? :smile:

[2016-02-28 06:22] AnishShah commented on #10654
@ashutoshsaboo it is already closed.

[2016-02-28 07:44] rpisarev opened #10702 "Exression tan(x)*cot(x) is not constant"
In [11]: a = tan(x)*cot(x)

In [12]: a.is_constant()
Out[12]: True

That's wrong

[2016-02-28 12:59] Curious72 commented on #10697
@asmeurer  Can i have a look at this?

[2016-02-28 16:04] moorepants commented on #10697
FYI, we have subs benchmarks that could be useful and be expanded:

http://www.moorepants.info/misc/sympy-asv/#large_exprs.TimeLargeExpressionOperations.time_subs

[2016-02-28 16:49] nishnik commented on #10671
I don't think using an extra variable will be a good practice here. Using domain intersection *every-time* will work too, but that mean extra computation, even when it is not needed. Can you suggest an alternative @asmeurer ? Or using extra variable is fine.
Well in long term we can make all those solvers like `solve_real_trig`, to do domain intersection on their own, implementing a better encapsu

[2016-02-28 17:22] rpisarev commented on #9706
@gxyd Please see my fix

[2016-02-28 18:05] asmeurer commented on #10697
@moorepants I think that may be testing a different situation. This issue is specifically about the speed for large mappings, because of the loop. It's quadratic when it should be linear. Notice that for my test case no actual substitution is even done.

@Curious72 you don't need to ask for permission to look at an issue. You are always free to do so. For this issue I will likely fix it myself if

[2016-02-28 19:06] moorepants commented on #10697
Yes, it is testing something different. I just wanted to note that we could add benchmarks for performance issues here: https://github.com/sympy/sympy_benchmarks.

[2016-02-28 19:16] thisch commented on #10702
Why do you think that's wrong?

[2016-02-28 19:22] rpisarev commented on #10702
Because:

In [1]: from sympy import *

In [2]: x = Symbol('x', real=True)

In [3]: a = tan(x)*cot(x)

In [4]: a.is_constant()
Out[4]: True

In [5]: simplify(a)
Out[5]: 1

In [6]: a.subs(x, 0)
Out[6]: nan

Domain of a isn't S.Reals

[2016-02-29 07:04] rwst commented on #10676
Closed as invalid. Thanks.

[2016-02-29 07:04] #10676 closed

[2016-02-29 08:34] mvnnn commented on #10696
@asmeurer that's looks good.

[2016-02-29 08:53] Shekharrajak commented on #10671
https://github.com/sympy/sympy/pull/10482 and https://github.com/sympy/sympy/pull/10552
Return
[code]
I think I should rewrite these PR in a better way.

[2016-02-29 08:55] Shekharrajak commented on #10608
Can you paste only those lines code, on which you are getting problem?

[2016-02-29 09:38] RmStorm commented on #10608
This is directly from the linear_eq_to_matrix_BUG.txt the bug happens in the last line of code.
----------------------
from sympy import *

t,l = symbols('t l');
x2, phi1, phi2 = symbols('x2 phi1 phi2');
eq9 = l*cos(phi1(t)) - (x2(t) - l/2 * cos(phi2(t)));
U = (phi1(t).diff(t,2),x2(t).diff(t,2),phi2(t).diff(t,2));

A1, b1 = linear_eq_to_matrix([eq9.diff(t,2)], U);
A2, b2 = linear_eq_to_matrix([sim

[2016-02-29 12:16] nishnik commented on #10671
@Shekharrajak  Already  worked out the situation

[2016-02-29 12:30] kshitij10496 commented on #10671
@nishnik I appreciate your idea here.
But I think the core issue is with the Intersection and Union of ImageSet objects.
The code for these cases needs to be improved.
I am working on it.

[2016-02-29 15:50] #10395 closed

[2016-02-29 15:50] #10641 closed

[2016-02-29 17:49] asmeurer commented on #10696
Red text on green background is hard to read. I was thinking of a larger (maybe about 80 pixels or so) dismissable dialog at the top (similar to those cookie warnings that some websites have).

We should also definitely look into some of those metadata options to get Google to not rank those pages in the first place.

[2016-02-29 18:37] #9706 closed

[2016-02-29 20:25] kshitij10496 commented on #10008
I would like to attempt this.

[2016-02-29 20:55] debugger22 commented on #10620
If we agree to have this, I can draft a PR for this. Let's close this if it's not a good idea.

[2016-02-29 20:58] moorepants commented on #10620
I think it is a good idea. We use a template in the PyDy project:

https://github.com/pydy/pydy/blob/master/CONTRIBUTING.rst

These checklists help us keep a certain standard for contributions. I like that it always reminds us to add something to the release notes, for example.

[2016-03-01 09:20] kshitij10496 commented on #10140
[code]
I got this result after running the fix from #10022 locally.
So, I don't think a `ConditionSet` is exactly what we are looking for.
IMO, the output should be something like this:
[code]

[2016-03-01 10:34] kshitij10496 commented on #9759
[code]
The code for `solveset_complex` has undergone some behavioural since the time of creation of this issue.
And I think now we get the expected output. Isn't it so ?
@hargup

[2016-03-01 12:47] AvinashKalivarapu opened #10707 "GSoc 2016 Ideas Page broken link"
https://github.com/sympy/sympy/wiki/GSoC-2016-Ideas#assumptions

Under the High Priority List, In Assumptions Project Idea the content described contains an "broken link" or "currently non-existing page"
http://matthewrocklin.com/blog/work/2013/02/05/Assuming/     Label : this blog post

[2016-03-01 14:54] srajangarg commented on #10672
@asmeurer I was reviewing the whole str.py file. Always `str` printing `FiniteSet` in the `{ , , , }` fashion maybe problematic sometimes. Like
[code]

[2016-03-01 16:24] asmeurer commented on #10265
I don't think it's been fixed.

[2016-03-01 16:38] asmeurer commented on #10681
heurisch should always be called last. Did this change at some point?

And yeah, I definitely know heurisch can be slow. I don't know what to do about it. Making the polys faster for many variables and the linear solver faster for dense systems would help, but otherwise my only suggestion is to improve risch and the other algorithms so that it isn't needed any more.

[2016-03-01 16:44] laxmena commented on #10707
Fixed

[2016-03-01 16:47] jksuom commented on #10681
I believe that a lot of trouble with integrals could be avoided if floats that look like rational numbers were actually rational. Perhaps there could be some kind of filtering before any computation is done. Preserving the floating point property can hardly be necessary.

[2016-03-01 17:52] debugger22 commented on #10707
What does that mean?

[2016-03-01 18:01] debugger22 commented on #10707
I don't think I can do that. Anyways, why is that required?

[2016-03-01 18:03] laxmena commented on #10707
I'm very much interested in SymPy Organization, and I always wanted to be a part of it! :)

Any ways! Ill keep contributing :)

[2016-03-01 18:28] mvnnn commented on #10696
@asmeurer that's looks good.
![screenshot from 2016-03-01 23 41 58](https://cloud.githubusercontent.com/assets/12225578/13437296/849c0ce8-e009-11e5-94e0-b4116eadda1c.png)

[2016-03-01 18:29] debugger22 commented on #10696
@mvnnn How about this? https://docs.djangoproject.com/en/1.7/ref/models/querysets/

[2016-03-01 18:29] debugger22 commented on #10696
Also the sentence is not correct.

[2016-03-01 18:31] mvnnn commented on #10696
@debugger22 please tell me which sentence we need to write.

[2016-03-01 18:34] mvnnn commented on #10696
[code]
i am working on this. we need to improve also lot of things see :[PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/?url=sympy.org&tab=desktop)

[2016-03-01 18:38] debugger22 commented on #10696
You forgot a `to` after `go`.

IMO, it would be better to write this:

[code]

[2016-03-01 19:14] mvnnn commented on #10696
@debugger22 that's looks good.
![screenshot from 2016-03-02 00 42 48](https://cloud.githubusercontent.com/assets/12225578/13438637/db728bae-e00f-11e5-9938-3e1ace4ef5fc.png)

[2016-03-01 19:34] parnmatt opened #10710 "Any dict-like object in expr.subs"
https://github.com/sympy/sympy/blob/master/sympy/core/basic.py#L836
Explicitly checks for instances of `Dict` or `dict`.
Realistically this should be anything `dict`-like, for example a `collections.ChainMap` object.

As `Dict` is your own wrapper, it is up to you how to handle it's inheritance, however I suggest rather than, or in addition to `dict`, you have `collections.abc.Mapping`. All standa

[2016-03-01 19:38] debugger22 commented on #10710
+1
This would be a good addition.

[2016-03-01 22:08] tawaye opened #10711 "an error in the tutorial"
I was going through the tutorial here
http://docs.sympy.org/latest/tutorial/gotchas.html
the sample code

[2016-03-02 06:46] Curious72 commented on #10697
@asmeurer  Do we need to sort the list before substituting in the expression , i guess that is the reason for slow mappings!

[2016-03-02 12:15] AkshaySiramdas commented on #10711
Done!

[2016-03-02 14:05] aravindkanna commented on #10701
I would like to work on this issue. Can you please guide me on this issue because I am new to this.
It will suffice if you add some clear description of the issue and where to start.

[2016-03-02 14:15] rpisarev commented on #7805
In current master I had have:

In [1]: from sympy import *

In [2]: Interval(0, 1) in Interval(0, 1)
Out[2]: False

Should we close this ticket? @hargup

[2016-03-02 14:27] argriffing commented on #10701
It will suffice if you add some clear description of the issue and where to start.

1. Begin running the Python read-eval-print-loop (REPL). This may be available by typing `python` on your command line, followed by an 'enter' or 'return' keystroke.
2. Within the Python REPL, type `from sympy import Matrix`. This command may require that the Python package called "sympy" is installed on your syste

[2016-03-02 14:39] argriffing commented on #10701
@aravindkanna Sorry my last response was too snarky. I see that you are a new github user and that you are probably trying to build up your github portfolio. If you want increase your github metrics and start earning those green squares on your user page with contributions to high-impact projects such as this one, you might start by looking at issues that are labeled as 'easy to fix' https://githu

[2016-03-02 14:52] aravindkanna commented on #10701
Thank you for the quick reply.

So what I'm thinking to do is,
Raise an exception saying

Can I continue?

[2016-03-02 14:57] argriffing commented on #10701
To be clear, this is primarily a math question not a software engineering issue. There are math conventions like 'an empty sum is 0 and an empty product is 1' and 'the determinant of an empty matrix is 1`.
[code]
Maybe nilpotency can be determined by following those conventions. For example, non-empty matrices with nonzero determinant cannot be nilpotent. If this property extends to empty matrices

[2016-03-02 15:05] argriffing commented on #10702
Sympy is not WolframAlpha, but WolframAlpha says this is 1.

[2016-03-02 15:19] emilienkofman opened #10715 "sympy.Rational and sympy.core.numbers are not Number"
I don't know if it's the intended behavior  but the instances of `sympy.Rational`, `sympy.core.numbers.Integer`, `sympy.core.numbers.Float` ... and so on are not Numbers in the sense of the numeric abstract base class [number](https://docs.python.org/2/library/numbers.html). For instance the Fraction type from the fractions module (which is more or less the same than the Rational type from sympy (

[2016-03-02 15:48] thisch commented on #10702
I agree with @argriffing , per definition tan(x)*cot(x) has to be equal to 1.

I think the problem is that ``.is_constant`` 'sees' that ``tan`` is the inverse of ``cot`` and therefore returns ``True``, but ``.subs`` does not see it.

[code]

returns:
nan
1

[2016-03-02 15:54] rpisarev commented on #10702
Hm, yes, WolframAlpha says this is 1. It's very strange. E.g. for (x-1)/(x-1)  WolframAlpha says 1  (for x!=1)

I want to see  tan(x)*cot(x) 1 (for x != pi*k/2, k in Z)

[2016-03-02 16:50] thisch commented on #10702
So ``simplify`` should then return 1 only if it knows that x != pi * k / 2, k in Z. ``is_constant`` in this case should probably return ``None``  @asmeurer.

[2016-03-02 16:59] thisch commented on #10702
Thinking a bit more about this issue, I guess that WA is correct that cot(x)*tan(x) is 1 for all x. Try to write cot and tan in terms of sin and cos and take the limit as x->0. It follows from L'Hospital's Rule that cot(x)*tan(x) is 1 at x=0.  The same is true for (1-x)/(1-x).

[2016-03-02 17:02] jksuom commented on #10702
It appears not explicitly stated in the docs but I think that an expression is usually considered constant when it has the same value everywhere in its domain of definition.

[2016-03-02 17:12] rpisarev commented on #10702
Yes, it is 1 for all x in domain this expression. But domain is not whole space (R or C). That is why I think that is not constant. I will try discovery #6054 for solving.

[2016-03-02 18:12] aravindkanna commented on #10701
Sir,
I have done some work regarding this. What I have found is:

1) As you said, the empty matrix is also a zero matrix which is defined by norms. So following that if A is our empty matrix, A raised to power 1 is a zero matrix. So A is a nil potent with degree 1.

2) Now what I have found is, a small experiment in sympy itself.

**In [74]: a = symbols('a')
In [75]: b = Matrix([[]])
In [76]: c =

[2016-03-02 20:25] sampadsaha5 commented on #10662
I feel like if you use `subs={w:0}` then you are creating a dictionary which says `subs[w]=0`.
To use the substitution functionality one have to use `subs(a,b)` which would replace all `a` by `b`.
That is why when you use  `subs(w,1)` , the limit works and the former one fails.

[2016-03-02 21:03] augustt198 opened #10716 "solve() only works if simplify() is used first in this case"
I was using sympy to solve `2 * sec(x)**2 + tan(x)**2 - 3 = 0`, and I came across this error:

[code]

However, if I simplify before calling solve() it works:
[code]

Is this expected behavior?

[2016-03-02 21:15] hargup commented on #7805
Thanks I it works now, I would appreciate it if you can `git bisect` and let us know the commit which introduced the fix.

[2016-03-02 21:23] hargup commented on #9759
Yeah, it works fine now. It was probably fixed in #10448, can you do a `git bisect` and confirm?

[2016-03-02 21:23] #9759 closed

[2016-03-02 21:23] #7805 closed

[2016-03-02 21:24] chiragsinghal283 commented on #10716
I got ```[-I*log(-sqrt(3)/2 - I/2), -I*log(-sqrt(3)/2 + I/2), -I*log(sqrt(3)/2 - I/2), -I*log(sqrt(3)/2 + I/2)]``` as the output.

[2016-03-02 21:27] rpisarev commented on #7805
Sorry, but I don't know how to use git bisect.

[2016-03-02 21:27] mzaffalon commented on #10662
Unless I misread
http://docs.sympy.org/dev/tutorial/basic_operations.html#evalf, it seems
that what I do should be working.

On Wed, Mar 2, 2016 at 9:25 PM, Sampad Kumar Saha <notifications@github.com>
wrote:

[2016-03-02 21:33] hargup commented on #10716
Works fine with solveset, though the solution can be simplified. @augustt198 you can use solveset from the development branch.

[code]

Since we intend to replace `solve` with `solveset` I'm closing this issue.

[2016-03-02 21:33] #10716 closed

[2016-03-02 21:37] rpisarev commented on #8257
Can you confirm #10712, @hargup ?

[2016-03-02 22:05] hargup commented on #7805
Not knowing `git bisect` is absolutely nothing to be ashamed of, you can have a look at the [official document](https://git-scm.com/docs/git-bisect) to learn how to use it, basically you do a binary search on the history to see after which commit the behavior got the fixed.

[2016-03-02 22:56] danielbarter commented on #10699
I don't think anything is broken here.

Remember, 1/x is just a symbolic object, not a function, so Eq(1/x,1/x) is just true. In Piecewise, the conditions are evaluated left to right.

If you evaluate Piecewise((-7,Eq(x,0)),(-1/x,Eq(1/x,1/x))).subs(x,0), then you get -7.

[2016-03-03 02:13] CodeMaxx opened #10717 "Missing Hyperbolic functions: acsch"
The inverse hyperbolic cosecant function has not been implemented in `hyperbolic.py` .

I have already sent in a PR regarding this. #10714

[2016-03-03 05:01] aravindkanna commented on #10711
Hi, I too found this error in the tutorial. So anyone corrected it? can I continue?

[2016-03-03 05:15] aravindkanna commented on #10658
Now it is returning an error stating

**IndexError: Invalid index a[True]**

so, is the error fixed? Or I would like to continue with this. Can anyone please guide me?

[2016-03-03 05:28] aravindkanna commented on #10715
for the same command line inputs I am getting different outputs from those you got.

**In [29]: isinstance(Rational(1, 2), Number)
Out[29]: True

In [30]: isinstance(F(1, 2), Number)
Out[30]: False

In [31]: isinstance(pi, Number)
Out[31]: False

In [32]: isinstance(sympify(1), Number)
Out[32]: True

In [33]: isinstance(sympify(1.0), Number)
Out[33]: True
**

Is the thing got updated or what?

[2016-03-03 05:48] mvnnn commented on #10658
@aravindkanna that's issue is fixed in PR#10659.

[2016-03-03 08:39] emilienkofman commented on #10715
I updated to:
[code]
And obtained exactly the same results. @aravindkanna which version do you use? It is very weird since fractions has nothing to do with sympy, and should really be a `Number`...

[2016-03-03 08:48] aravindkanna commented on #10715
True

False

False

True

True

'1.0.1.dev'

I also have the same version. Previously I haven't run the commands on python script. But now I have run them using python script and the results are same.

[2016-03-03 09:50] aravindkanna commented on #10701
Sir, can you please guide me how to proceed with my existing knowledge and understanding of the problem.

[2016-03-03 10:46] mvnnn commented on #10696
@debugger22 that's looks good.
![screenshot from 2016-03-03 16 15 44](https://cloud.githubusercontent.com/assets/12225578/13491942/567b9ba0-e15b-11e5-9390-6c55e2efe89f.png)

[2016-03-03 11:57] proy87 opened #10718 "Incorrect rref"
`Matrix([[3+3*sqrt(3)*I, -9],[4,-3+3*sqrt(3)*I]]).rref()` returns identity matrix, but in fact rref is not identity matrix.

[2016-03-03 14:43] argriffing opened #10719 "eigenvals of empty matrix raises IndexError"
[code]
This appears to be a bug, spotted by @aravindkanna in https://github.com/sympy/sympy/issues/10701#issuecomment-191355482. I'd expect `eigenvals()` of an empty matrix to return an empty collection instead of raising an indexing exception.

[2016-03-03 14:44] argriffing commented on #10719
I'm using an old sympy version 0.7.6.

[2016-03-03 14:57] argriffing commented on #10701
@aravindkanna Thanks for looking at this issue, especially for showing that `eigenvals()` of an empty matrix gives the same error as I was seeing for `is_nilpotent`. I've opened https://github.com/sympy/sympy/issues/10719 for the `eigenvals` issue.

[2016-03-03 14:59] shashankgandham commented on #10696
Why not use redirect ? I mean redirect all the outdated pages to the new documentation ! Is there any problem with that ?

[2016-03-03 15:01] aravindkanna commented on #10701
Sir, this error is not only for eigenvals(), but also for eigenvects(). So the same issue can point to this too. And what should I do now?

[2016-03-03 15:13] mvnnn commented on #10696
@shashankgandham yes, if any user want to work on older version in that case what we do? so that's not good idea.

[2016-03-03 15:17] argriffing commented on #10701
I see that the `eigenvals()` of non-empty matrices returns a multi-set in the form of a Python dict, so I was going to suggest improving the implementation of `eigenvals()` of an empty matrix so that it returns an empty dict instead of erroring. But I see that numpy, for example, deliberately raises an error when asked for eigenvalues of an empty matrix, so maybe this decision is not as obvious as

[2016-03-03 15:21] AkshaySiramdas opened #10720 "Integral does not give correct value"
When doing the integral of   : integrate(sin(x)/a+x, x)  it results in x**2/2 - cos(x)/a
which is obviously the wrong answer!

[2016-03-03 15:21] #10720 closed

[2016-03-03 15:34] aravindkanna commented on #10701
So are you encouraging me to implement the `eigenvals(self, **flags)` function to return an empty dict if the input is an empty matrix?

[2016-03-03 15:42] argriffing commented on #10701
I was going to suggest that, until I saw what numpy does. Now I'm not so sure. Maybe the actual sympy devs could decide.

[2016-03-03 16:26] MooVI commented on #10718
@proy87 You need to set the simplify flag to `True`; i.e. ``Matrix([[3+3*sqrt(3)*I, -9],[4,-3+3*sqrt(3)*I]]).rref(simplify=True)`` gives the correct answer (at least it agrees with Mathematica's). I have tried to get this default changed to something more sane, but sadly to no avail so far, see the discussion in #10280.

[2016-03-03 16:42] proy87 commented on #10718
OK. Thanks.

[2016-03-03 18:12] sampadsaha5 commented on #10662
Yah , you are right. Actually I missed that thing.

[2016-03-03 19:11] bjodah commented on #10699
I agree completely with @danielbarter here. There is no bug here. @rpisarev do you follow the reasoning here? if not: feel free to ask here and we'll try to elaborate.

[2016-03-03 20:22] kshitij10496 commented on #9759
Cool
Thanks for the tip

[2016-03-03 20:39] danielbarter commented on #10680
I think you may just be using the wrong syntax.

integrate(x * log( x * log(x * log(x))),x)

returns the correct integral object for me.

[2016-03-03 20:47] danielbarter commented on #10680
My mistake, the syntax from the title does reproduce the error on my end.

[2016-03-03 21:10] danielbarter commented on #10680
[code]

and stepping through the code doesn't reveal anything obvious to me. This needs the attention of someone more experienced.

[2016-03-03 23:57] asmeurer commented on #8863
There's no way to change operator precedence in Python, unfortunately. This is a pitfall to overriding >> unfortunately, and the only way around it is to either avoid >> (use `Implies`), or to remember to always parenthesize things.

SymPy already assumes that AND and IMPLIES have no implied relative precedence in its pretty printer:

[code]

I suppose if you work with these symbols enough it migh

[2016-03-04 04:16] zamb3zi commented on #10429
Thanks a lot for this.

[2016-03-04 05:22] mvnnn commented on #10696
@asmeurer that's looks good. i know Google webmaster tools very well so i would like to work on this.

[2016-03-04 11:11] #8892 closed

[2016-03-04 13:02] wrat commented on #10680
Yeah I want to work on this but I am unable to find right way.Can anyone Help me?

[2016-03-04 13:07] wrat commented on #10672
I also want to work on this but i am new here so  how should start?

[2016-03-04 15:52] rpisarev commented on #10699
It's bug

[2016-03-04 17:06] rpisarev commented on #7805
@hargup I have read the article and done procedure. So I have had:

24672c20cc40662775ecba261ce2c150357860cf is the first bad commit
commit 24672c20cc40662775ecba261ce2c150357860cf
Author: Kshitij Saraogi <KshitijSaraogi@gmail.com>
Date:   Thu Dec 31 22:05:13 2015 +0530

    fixes #10326 Interval does not contain extended reals

:040000 040000 078ec8844260ec3d7ec61801b584d8c42a03226d 0d904e4fcf85e

[2016-03-04 17:10] AnishShah commented on #10265
@asmeurer @debugger22
I'm trying to solve this. While reading the source code (`sympy/core/assumptions.py`), I came to know that `_assume_rules` does not consider `matrices` while deducing `commutative = False`.
So, even if we pass `real=True`. It can give inconsistent assumptions.
What do you think, is a good way to solve this issue?

[2016-03-04 17:32] jksuom commented on #10680
The expression is not a polynomial. (On the first line there is ``_x2**_x6`` having a variable as exponent.)

You should catch the ValueError resulting from ``numer = ring.from_expr(raw_numer)`` in heurisch.py and raise a PolynomialError instead. That will be caught by ``_eval_integral`` and an unevaluated integral will be returned.

[2016-03-04 18:33] lapa19 commented on #10655
We can change back-color parameter to 'White' .. It will be readable irrespective of the background color, right ?

[2016-03-04 18:53] AnishShah opened #10726 "sympify(dict) should give Dict"
As discussed in #10657, sympify(dict) should return Dict (sympy/core/containers.py)

This is an easy issue, but some tests might fail.

@asmeurer Can you please confirm if this issue is valid?

[2016-03-04 19:04] asmeurer commented on #10672
It looks like this has already been started at https://github.com/sympy/sympy/pull/10708, so you should at least wait until that is merged and see if anything is left to do then.

[2016-03-04 19:04] asmeurer commented on #10672
Also see https://github.com/sympy/sympy/wiki/Development-workflow for general instructions on how to contribute.

[2016-03-04 19:12] asmeurer commented on #10655
Yes, White would be the best color I'd say.

[2016-03-04 19:15] sampadsaha5 commented on #10655
@asmeurer I have tried a fix, but  I had a doubt .
If we have to access the background color variable of qtconsole do we need to import the jupyter library?

[2016-03-04 19:16] wrat commented on #10672
Ohkk thanks Aaron Meurer!!!  I will wait for that or I will work on other Issue. Thanks for suggestion.

[2016-03-04 19:17] mvnnn commented on #10696
@asmeurer that's looks good. i know Google webmaster tools very well so i would like to work on this.
![screenshot from 2016-03-03 16 15 44](https://cloud.githubusercontent.com/assets/12225578/13491942/567b9ba0-e15b-11e5-9390-6c55e2efe89f.png)

[2016-03-04 19:23] sampadsaha5 commented on #10655
@lapa19 But there will be a problem if the background itself is light color.

[2016-03-04 19:24] asmeurer commented on #10655
Yes, you need to get the color information from Jupyter somehow (I don't know how to access it, but I'm sure it's doable).

[2016-03-04 19:26] sampadsaha5 commented on #10655
Yah , I have found a fix for that but I was confused . I am creating a PR then we can discuss.

[2016-03-04 19:44] pedritomelenas commented on #8697
We experimented a similar issue while using `rsolve` to solve the recurrence equation $a(n)=2a(n-1)+n$ with $a(0)=1$

By evaluating
[code]
we obtain
[code]
However if we check the solution,
[code]
the returned value is
[code]
So our first attempt to see what happens was to homogenize in two steps the original equation. As $a(n)-2a(n-1)-n=0$, the following equality is also satisfied by $a(n)$
[code

[2016-03-04 20:11] smichr opened #10728 "MatrixSymbol thinks it is not zero"
[code]

Why does this think it is not zero? Wouldn't it be better to give None? I found the `is_ZeroMatrix` attribute, but changing it to None doesn't affect the above behavior.

[2016-03-04 20:34] mvnnn commented on #10696
@asmeurer i know Google webmaster tools very well so i would like to work on this.my email address ```mavanibhautik@gmail.com```.

[2016-03-04 20:47] asmeurer commented on #10696
@mvnnn I'm about to do a SymPy release (hopefully either later today or this weekend). Part of the release process involves updating the docs, so in order to make sure that goes smoothly I want to hold off on pushing updates to the docs website until after that is done. The SymPy release script updates the docs automatically by running some scripts. Just letting you know that you can continue to w

[2016-03-04 21:23] mvnnn commented on #10696
@asmeurer sorry for disturb you.i would like to work on web related issue.i threw out all ```Label```-->
```Documentation``` issue.please suggest me more web related issue.if you have time for that else i would to like improve website code. what should i do ?

[2016-03-04 21:24] sampadsaha5 commented on #10655
@asmeurer [Here](https://github.com/jupyter/qtconsole/blob/master/qtconsole/styles.py#L32-L43) The whole entries are kept into a string. So how can we extract the value of `background-color`. Do we have to use regular expressions or we can do it in other way also?

[2016-03-04 22:41] asmeurer commented on #10696
It's not a disturbance, just letting you know. The website stuff is at https://github.com/sympy/sympy.github.com and https://github.com/sympy/sympy-web-static.

[2016-03-04 23:23] certik opened #10731 "Link to mpmath installation instructions is dead"
When I try to run `sympy` and `mpmath` is not installed, I get:
[code]
But the link http://docs.sympy.org/latest/install.html#mpmath seems to be a dead link. There is no `#mpmath` section on that page.

[2016-03-04 23:25] asmeurer commented on #10731
Yes, this is a known issue. The link won't be live until after we do the release and the docs are uploaded. You can see that the URL will be correct if you replace "latest" with "dev" in the URL.

[2016-03-04 23:25] certik commented on #10731
Indeed, http://docs.sympy.org/dev/install.html#mpmath is correct.

[2016-03-04 23:25] #10731 closed

[2016-03-04 23:28] certik opened #10732 "The sympy 1.0 gives:"
[code]
I am still debugging this.

[2016-03-04 23:29] certik commented on #10732
Ok, so `sympy/release.py` must be changed from `__version__ = "1.0"` to `__version__ = "1.0.0"`. Then this issue is fixed.

[2016-03-04 23:32] asmeurer commented on #10732
I pushed a fix to the release branch.

[2016-03-04 23:32] asmeurer commented on #10732
This code was also wrong for the last release (0.7.6.1).

[2016-03-04 23:33] certik commented on #10732
Nobody noticed for the last release?

[2016-03-04 23:34] asmeurer commented on #10732
The code didn't error. The last release was a tiny bugfix release over 0.7.6.

[2016-03-04 23:36] certik commented on #10696
I am fine with giving @mvnnn the needed access to fix this, let me know what needs to be done. @mvnnn, thanks for working on this!

[2016-03-05 01:08] asmeurer commented on #10265
The assumptions should not apply to the matrix itself, just its elements (they should apply to the MatrixElement objects created with that MatrixSymbol).

[2016-03-05 01:09] asmeurer commented on #10655
There's probably a better way to detect it.

[2016-03-05 01:13] nishnik commented on #10671
Fixed through #10709

[2016-03-05 03:11] raineszm opened #10734 "TensorProduct does not work with ImmutableMatrices"
Currently attempting to pass one or more `ImmutableMatrix` instances to `sympy.physics.quantum.tensorproduct.TensorProduct` leads to an error.

For example,

[code]

or

[code]

The code specifically tests if objects are of class `Matrix` instead of `MatrixBase`, however, the general logic as written should work perfectly fine for `ImmutableMatrix` instances.

[2016-03-05 04:54] AnishShah commented on #10728
@smichr MatrixSymbol has an explicit assumption: `commutative=False`, which deduces `zero=False`

[code]

[2016-03-05 06:29] lapa19 commented on #10655
I tried changing the back-color parameter to White . Here are the results for light and dark backgrounds:

Dark:
![git1](https://cloud.githubusercontent.com/assets/8463461/13546097/1fd7b0b0-e2c9-11e5-8ffc-4d927880bdd7.png)

Light:
![git2](https://cloud.githubusercontent.com/assets/8463461/13546101/38322d34-e2c9-11e5-8497-5eee8066cbac.png)

[2016-03-05 07:00] aravindkanna commented on #10701
Sir, after your conversation about Numpy I have done some study on that. What I found is:

1) Sympy is allowing or trying to allow to find eigen values for all dimenional matrices.

`
In [10]: a = Matrix([1])

In [11]: a
Out[11]: [1]

In [12]: Matrix.eigenvals(a)
Out[12]: {1: 1}

`

2) Numpy is not allowing to find the eigen values for all dimensional Matrices. They have restricted its usage such

[2016-03-05 08:30] kshitij10496 commented on #7805
@rpisarev I hope you mean that this commit fixed this issue.

[2016-03-05 09:10] kshitij10496 commented on #10532
@smichr I would like to implement your idea for solving atleast expressions containing `abs`.

[2016-03-05 10:02] rpisarev commented on #7805
Yes, of course!

[2016-03-05 11:19] mvnnn commented on #10696
@certik i agree with @asmeurer.

[2016-03-05 11:24] mvnnn commented on #10696
[code]
@asmeurer  i added latest link on all index.html file PR#18. if that's looks good then i would like to move to another issue.

[2016-03-05 14:40] smichr commented on #10728
Thanks. Consider this:

[code]

I guess that conclusion is fine since if we know it's not commutative and zero is commutative then the value cannot be zero. Here is the problem, though:

[code]

That should not be since if B == A then the result which involved non-commutative values **is** zero (which is commutative).

[2016-03-05 14:41] smichr commented on #10728
The culprit is

[code]

[2016-03-05 14:51] smichr commented on #10728
[code]

So `is_commutative` will never be None if there are noncommutative symbols in an expression, hence `is_zero` will always be False. That should be changed so that if the expression is noncommutative then None is returned for `is_zero`.

[2016-03-05 15:03] jksuom commented on #10728
Perhaps this should be changed by calling ``nc_part.is_zero`` if ``nc_part`` is not None.

[2016-03-05 16:14] vovapolu commented on #10669
@moorepants I don't get this error.
[code]

[2016-03-05 16:31] smichr commented on #10728
That's a good idea.

Another issue, Dummy(commutative=False).is_zero is always False. But that's wrong (isn't it?) since one might have an expression in which which symbols are non-commutative, but reserve the right to make one of them 0. So **the assumption that something is noncommutative should not imply non-zero** though the reverse is true: if it's zero, it's commutative.

Part of the problem

[2016-03-05 18:46] smichr opened #10739 "employ transformation simplification for trig expressions"
It is perhaps worth looking into using transformations to accomplish simplification of trig expressions as they should be much faster:

[code]

[2016-03-05 19:12] vovapolu commented on #10609
E(Z) produces `Integral(Piecewise((Piecewise((Integral((x**2 + y**2)**0.5/2, (x, -oo, oo))/2, And(-1 <= y, y <= 1)), (0, True)), And(-1 <= x, x <= 1)), (Piecewise((Integral(0, (x, -oo, oo))/2, And(-1 <= y, y <= 1)), (0, True)), True)), (y, -oo, oo))` before evaluation in this case.`Integral((x**2 + y**2)**0.5/2, (x, -oo, oo))` doesn't converge, therefore, I think, the answer is 0.

I found some st

[2016-03-05 19:26] pelegm commented on #7805
Should we add a test for this?

[2016-03-05 19:47] moorepants commented on #10669
It is also working for me on master and I'm unable to reproduce the the error:

[code]

I must have been using 0.7.6.1, as it fails there. I'm not able to easily find the PR that fixed it.

[2016-03-05 19:47] #10669 closed

[2016-03-05 20:46] hargup opened #10740 "Add a test for `Interval(..) in Interval(..) == False`"

[2016-03-05 20:46] hargup commented on #7805
Yes, #10740

[2016-03-05 21:06] #10348 closed

[2016-03-05 21:06] #10732 closed

[2016-03-05 21:11] moorepants commented on #10324
I'm closing this. I can't confirm a bug here. Please reopen if you have more info.

[2016-03-05 21:11] #10324 closed

[2016-03-05 23:06] sampadsaha5 commented on #10740
Added the test in `test_contain()` method.

[2016-03-06 01:22] AkshaySiramdas commented on #10739
Hello sir, I want to take this issue up. I need you to guide me because I'm new to open source developing. I'm thinking to write a expand function for trig functions and include expand in the simplify module.

[2016-03-06 03:31] kshitij10496 commented on #10740
@sampadsaha5 Send in a PR

[2016-03-06 07:52] AnishShah commented on #10728
@smichr working on this...
Just want to make sure that I understood correctly, what you want is:
[code]

This might also return `None` for `MatrixSymbol(commutative=False).is_zero`, as assumptions do not consider matrices while deducing from `commutative=False`.

[2016-03-06 12:11] bjodah commented on #10699
@rpisarev exactly what do you think qualifies as a bug?

One way to achieve what (I tink) you are trying to achieve is:
[code]

Another way is reordering you arguments to Piecewise:
[code]

Or do you feel `Eq(1/x, 1/x)` should evaluate as `False`?
[code]
Perhaps this is a bit of gray zone though:
[code]
but then again, wouldn't equality be defined even for infinity?

[2016-03-06 12:27] bjodah opened #10742 "sympy.physics.units not up-to-date with CODATA"
See this link for 2014 recommended values:
http://arxiv.org/pdf/1507.07956.pdf

[2016-03-06 12:36] bjodah commented on #10726
You probably mean `sympify(dict())` should return a `Dict`?
By analogy this raises the question if instances `list` should map to a sympy class, (`Array` eventually?).

[2016-03-06 15:20] vovapolu commented on #10592
@isuruf I found this code in `zeta` class
[code]
I don't understrand why the result is `1/2 - a - 1` when a is negative, since [Wiki](https://en.wikipedia.org/wiki/Hurwitz_zeta_function) and [Wolfram Alpha](http://mathworld.wolfram.com/HurwitzZetaFunction.html) say that `zeta(0, a) = 1/2 - a` regardless of the sign of a. Is it a bug? I can make a pull-request for it.

[2016-03-06 15:32] isuruf commented on #10592
Please do and ping me

[2016-03-06 19:01] JonnyMaddox opened #10744 "Geometric algebra module missing from SymPy 1.0.rc1"
The galgebra module is missing in the newest version, why, why?

[2016-03-06 19:04] moorepants commented on #10744
We are happy to answer your questions about the geometric algebra module but do not use language like this. It violates our code of conduct:

https://github.com/sympy/sympy/blob/master/CODE_OF_CONDUCT.md

[2016-03-06 19:46] PlatinumFrog opened #10745 "Sympy-1.0.rc1 gives error on installation"
When I install the version of sympy in the title on my mac, it gives the error:

  File "harddrive/user/desktop/sympy-1.0.rc1/setup.py", line 313, in <module>
    exec(open('sympy/release.py').read())
IOError: [Errno 2] No such file or directory: 'sympy/release.py'

There is in fact a release.py in the directory the error is talking about. I checked line 313 in setup.py and there doesn't seem to b

[2016-03-06 20:06] moorepants commented on #10745
Are you in the `sympy-1.0.rc1` directory when you run `setup.py`? If not, then it will not find the file.

[2016-03-06 20:59] wrat commented on #10680
I also found an expr where it is unable to evalute the
expr=expr= (4/(8*x+1)) - (2/(8*x+4)) - (1/(8*x+5)) - (1/(8*x+6)) * (1/16)**x
its also shows error while calculating integrate(expr,x)
 it shows like this----

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.4/dist-packages/sympy/utilities/decorator.py", line 35, in threaded_func
    retur

[2016-03-07 04:40] smichr opened #10746 "ImageSet._contains error"
The following (AFAICT) should be True

[code]

Corrected in #10645

[2016-03-07 05:12] wrat commented on #10688
Is this issue open or has fixed, want to work. Need some guidance.

[2016-03-07 06:28] rpisarev commented on #10699
The expression 1/x is symbol, yes. Also Eq(1/x, 1/x) is symbol too. But when it's used in piecewise, expression Eq(1/x, 1/x) is not abstract symbol anymore. It has domain already. E.g. the symbol Eq(1/x, 1/x) works for all x. But when it is defined as part of function, it does not work for all x: only for x from domain of function - x != 0. So, we have conditions Eq(1/x, 1/x) and Eq(x, 0). They co

[2016-03-07 08:00] #10740 closed

[2016-03-07 10:32] jksuom commented on #10680
Floating point numbers (such as Python 1/16 = 0.0625 ) should be avoided in integration and other applications of polynomials, since they are inexact and often lead to errors. SymPy rational numbers (written ``S(1)/16``) should be used instead.
In this example the last term has no elementary integral, and Risch's algorithm returns an unevaluated integral:
[code]

[2016-03-07 10:41] bjodah commented on #10699
I see your point. However, this would require some substantial changes to Piecewise (making it considerably more complex), and in my opinion, the current behaviour is not surprising. But I've reopened the issue to see what other people think.

[2016-03-07 13:45] aravindkanna commented on #10701
Sir, is there any update?

[2016-03-07 16:13] #10592 closed

[2016-03-07 18:36] wrat commented on #10680
ohkkk thanks @jksuom  I understood now.
@jksuom  as you told me about above expression is not polynomial and polynomial error should be raised while evaluating the expression.so I make some changes in heurisch.py and   catch the ValueError
,but can  you tell me , how I will check that changes that i  maked in file , will work or not ??

[2016-03-07 19:26] rd13123013 commented on #7858
The current code for  ``is_nthpow_residue`` uses Euler’s Criterion but this criteria assumes that ``n`` needs to have atleast one primitive root,  so we cannot use it for the numbers which do not have a primitive root. 36 and 5364 both do not have any primitive root hence function fails on this. We need to work further on behavior of function when ``n`` does not have any primitive root.  I am will

[2016-03-07 19:38] asmeurer commented on #10744
See https://github.com/sympy/sympy/wiki/Release-Notes-for-1.0. Geometric algebra is now maintained separately at https://github.com/brombo/galgebra.

[2016-03-07 19:39] asmeurer commented on #10745
setup.py should not require the current working directory to be the sympy/ directory. I'll push a fix for this to the release branch. Thanks for testing.

[2016-03-07 19:45] jksuom commented on #10680
You will see that it works, when running the integration command results in the unevaluated integral with no error message.

[2016-03-07 19:47] asmeurer commented on #10745
I pushed a fix to the release branch.

[2016-03-07 19:47] #10745 closed

[2016-03-07 19:47] asmeurer commented on #10745
https://github.com/sympy/sympy/commit/d33c528568c16f11f07de41a1ddd3c2ddf4b61ac

[2016-03-07 19:49] asmeurer commented on #10710
Should be easy to fix. Just change the isinstance check.

[2016-03-07 19:57] asmeurer commented on #10728
This is tricky. The issue comes from confusion of different kinds of zero, the real/complex zero (which `is_zero` refers to) and a non-commutative "matrix" zero, which is what `MatrixSymbol('x', n, n) - MatrixSymbol('x', n, n)` should refer to (if we use matrices it's easy to see the difference because here the zero is an n x n matrix of zeros).

If we confuse the two zeros in the assumptions syst

[2016-03-07 19:59] asmeurer commented on #10744
Perhaps we should add `sympy/galgebra.py` which raises an error message pointing to https://github.com/brombo/galgebra.

[2016-03-07 20:01] asmeurer commented on #10744
@brombo I recommend registering and uploading a release of `galgebra` to PyPI, so that we can point people to there. If you do this within the next 24 hours I will add this error message to point people there.

[2016-03-07 20:43] parnmatt commented on #10710
Indeed, I wished to get a consensus before creating a pull request, which should be linked above as #10753

(stupidly I create a pull request on myself, please ignore)

[2016-03-07 20:49] parnmatt commented on #10710
Although there is a `unordered = True` under the `isinstance`, even for `OrderedDicts`, I believe the intended functionality ought to be the same, following the code further down.

[2016-03-07 21:03] brombo commented on #10744
Why PyPi and not github.com/brombo/galgebra where it already is?

On 03/07/2016 03:02 PM, Aaron Meurer wrote:

[2016-03-07 21:05] asmeurer commented on #10744
Having it on pypi will allow people to pip install it. When you register it you should include a link to the github page as the homepage.

[2016-03-07 21:13] asmeurer opened #10754 "Logo in pdf docs should be vector version"
Right now the logo in the pdf docs is a png version, but it should render a pdf version (from `make logo`) and use that instead.

CC @certik

[2016-03-07 21:31] asmeurer opened #10755 "maximum recursion depth exceeded from solve(log(y) - log(0.1222*x**0.8628), x)"
[code]

It used to work in 0.7.6:

[code]

I bisected it to commit 26f77778e1e93388b1d092038bcb6ccd056bd7b4
Author: Chris Smith <smichr@gmail.com>
Date:   Tue Dec 29 20:39:39 2015 -0600

    check that round arg evaluates to a literal number

@smichr

[2016-03-07 21:40] asmeurer commented on #10744
https://github.com/sympy/sympy/pull/10756

[2016-03-07 21:47] moorepants commented on #10744
PyPi is the most popular and common way to distribute Python packages. It will allow people to simply type:

[code]

To install galagebra and all the dependencies. If it you only distribute through Github then users have to download the compressed source tree, uncompresses it, navigate into the directory, and run `python setup.py install`.

[2016-03-07 21:49] moorepants commented on #10744
But I guess people can do this too:

[code]

for a one liner.

[2016-03-07 21:50] asmeurer commented on #10744
Having it on PyPI lets you do versioned releases, and it makes the project more "official".

[2016-03-07 23:11] brombo commented on #10744
On 03/07/2016 04:49 PM, Jason K. Moore wrote:

My current setup.py is -

#!/usr/bin/env python
from setuptools import setup, find_packages
from distutils.core import Extension

setup(name='galgebra',
       version='0.4.0',
       description='Symbolic Geometric Algebra/Calculus modules for sympy',
       author='Alan Bromborsky',
       author_email='abrombo@verizon.net',
       license='BSD',

[2016-03-07 23:26] moorepants commented on #10744
Alan, the `setup.py` file essentially copies your library to a location on the operating system that is available to all users along side the system python, i.e. it "installs" the software. If a user has your source directory they can simple execute:

[code]

and it will put all the files in the correct place. Then you can be in any directory on your computer and successfully import galgebra. Seco

[2016-03-08 00:44] smichr opened #10757 "add Rationals to fancysets"
Changes made by #10645 make possible a Rationals class:

[code]

Perhaps the product set should be `S.Integers*S.Naturals` since the sign is always associated with the numerator of a Rational, and there is no option to create an unevaluated Rational.

[2016-03-08 04:04] kshitij10496 commented on #10757
@smichr I would like to give this a try

[2016-03-08 05:50] rd13123013 commented on #7858
We can use Chinese remainder theorem to enable function to work with m which don't have a primitive root . i seek little advice from senior member on this.

[2016-03-08 06:07] debodirno commented on #10754
if you can give the link for the pdf docs, it will be highly appreciated.

[2016-03-08 06:58] asmeurer commented on #10754
The docs are in the `doc` directory of this repo. The README there explains how to build it. `make latex` builds the pdf docs and `make logo` builds the logo (you need a few dependencies installed for it to work; if you are using Linux the command in the README should install everything you need). You can see what the pdf currently looks like by downloading it from the [last release](https://githu

[2016-03-08 08:14] rd13123013 commented on #5715
This is an old issue and I'm interested in working on it. I'd like to know if there is a reason why it hasn't been fixed yet, any organizational issues that I should be aware of? /cc @asmeurer

[2016-03-08 09:31] Shekharrajak commented on #10755
Answer is [`11.4314187062073*y`](http://www.wolframalpha.com/input/?i=(log(y)+-+log(0.1222*x**0.8628)+%3D+0+for+x)  .

`solveset` seems almost fine.
[code]

[2016-03-08 10:40] jksuom commented on #7858
@rd13123013 It seems to me that you are on the right track. It should be enough to consider separately the prime power factors of ``m``. Only powers of 2 need special attention. Please, go ahead.

[2016-03-08 11:28] aravindkanna commented on #10701
Sir, I would like to implement an `is_empty` property. Actually I have implemented it in my local machine and it worked as below.

`>>> from sympy import Matrix, zeros`
`>>> a = Matrix([])`
`>>> b = Matrix([1])`
`>>> c = Matrix([0])`
`>>> d = zeros(3, 4)`
`>>> a.is_empty`
`True`
`>>> b.is_empty`
`False`
`>>> c.is_empty`
`False`
`>>> d.is_empty`
`False`

I have created a new branch with name `test`

[2016-03-08 12:03] vovapolu opened #10761 "(1/(x**-2 + x**-3)).series(x, 0) gives wrong result"
`(1/(x**-2 + x**-3)).series(x, 0)` returns `x**3 - x**4 + O(x**6)` which is incorrect. Wolfram Alpha gives `x**3 - x**4 + x**5 - x**6 + x**7 + O(x**8)`.

[2016-03-08 12:12] jksuom commented on #10761
This is probably related to #10503.

[2016-03-08 12:17] vovapolu commented on #10761
@jksuom I found wrong behavior in method `_eval_nseries` in '`Pow` class while debugging this issue #9549

[2016-03-08 12:22] vovapolu commented on #9549
@leosartaj I found this while debugging your issue, but my fix doesn't solve the problem :(

[2016-03-08 15:19] aravindkanna commented on #10125
can you please elaborate on this?

[2016-03-08 16:13] rd13123013 commented on #7858
@jksuom

My idea was to check

    for all (p^k divides m ) if   s_nthpow_residue( a , n , p^k)  holds then it holds for m else not

    is_nthpow_residue( 676 , 3 , 5364 )

    But in case of 5364 = 2^2 * 3^2 * 149 it do not hold for 2^2 , but it should have

    I think power of two needs to be treated differently when power >= 3 , can u elaborate how we do that too ( i m not getting the part wh

[2016-03-08 16:19] isuruf commented on #7858
Yes, you also have to special case `p | a`.
There's an implementation in SymEngine which calculates the nthroot_mod of `a` for any integer `a`, `n`.
Used several literature which is mentioned there. You can read the literature or go through the code. https://github.com/symengine/symengine/blob/master/symengine/ntheory.cpp#L1166

[2016-03-08 16:32] smichr commented on #10757
sounds good

[2016-03-08 16:33] argriffing commented on #10701
Yes I think `is_empty` (True iff at least one of the dimensions is zero) is a great idea and I'm surprised it's not already available. But I'm not actually a sympy dev, so someone else will have to decide whether it will be added.

[2016-03-08 16:37] smichr commented on #10755
I can take a look this evening.

[2016-03-08 16:38] smichr commented on #10746
This just needs a test at about line 86 in `test_fancysets.py`.

[2016-03-08 16:48] smichr commented on #10728
+1  Basically, it already isn't part of it since the property is not deduced, it is assigned in operations.py. But it creeps in because the zero property looks at the commutative property.

Note, too, that MatrixExpr at line 65 (tried copying the line but it didn't work for me) assigns `is_ZeroMatrix to False when I think it should be None for the reasons stated by @asmeurer: it is a symbol and it

[2016-03-08 17:41] moorepants commented on #10701
@aravindkanna Please submit a pull request with your `is_empty` method. It can then be decided there if it is useful and should be included.

[2016-03-08 18:30] asmeurer commented on #5715
I don't think so. I think it should be easy to implement. Call `pow()` if the arguments are numbers, and create the symbolic power mod n otherwise.

[2016-03-08 18:36] asmeurer commented on #10744
The import warning was implemented.

[2016-03-08 18:36] #10744 closed

[2016-03-08 18:42] asmeurer commented on #10620
Is it possible to add text to the template that doesn't appear if the person leaves it there? If so, then we can probably do something useful here (one thing I think would be helpful would be to ask people to include a "Fixes #NNNN" in pull request descriptions). But if not, then I think the net result of this will be to make pull requests messier, because people will just leave the template there

[2016-03-08 18:56] asmeurer commented on #10755
Also, as pointed out in SO, in the 0.7.6 result, the exponent is left as a rational in the answer.

[2016-03-08 19:38] #10658 closed

[2016-03-08 19:38] aravindkanna commented on #10701
I am thinking to provide it with a NameError till anyone with exact idea comes or I get some other clarificaton.

Thank you,
Aravind

[2016-03-08 19:52] aravindkanna commented on #10701
@moorepants , I am getting an error while trying to push the changes.

`fatal: remote error:
  You can't push to git://github.com/sympy/sympy.git
  Use https://github.com/sympy/sympy.git
`
can you please help me?

[2016-03-08 19:56] moorepants commented on #10701
You need to fork sympy in the github interface, clone that, and only push to your fork.

Please read: https://github.com/sympy/sympy/wiki/Development-workflow

[2016-03-08 19:57] leosartaj commented on #10701
@aravindkanna You can't push directly to the sympy's repo. Also, it is not recommended to directly push to the repo, even you have the rights. You should try pushing to your sympy fork.

Something like this, ``git push https://github.com/aravindkanna/sympy.git [Branch-name]`` should work.

I would recommend going through https://github.com/sympy/sympy/wiki/Development-workflow first.

[2016-03-08 20:41] aravindkanna commented on #10701
Thank you @moorepants and @argriffing
I have submitted my pull request

[2016-03-08 21:43] asmeurer commented on #10680
Why does it create a non-polynomial in the first place?

[2016-03-08 22:15] wrat commented on #10680
try:
         numer = ring.from_expr(raw_numer)
except ValueError:
         raise PolynomialError
I have changed something in code but I don't know why this is occurring
File "heurisch.py", line 5, in <module>
    from sympy.core.add import Add
  File "/usr/local/lib/python3.4/dist-packages/sympy/__init__.py", line 51, in <module>
    from .integrals import *
  File "/usr/local/lib/python3.4/dist-

[2016-03-09 00:00] asmeurer commented on #10728
I think it is deduced, from [this fact](https://github.com/sympy/sympy/blob/master/sympy/core/assumptions.py#L171) (and the other facts that imply zero -> complex).

I think ZeroMatrix is a class, and is_ZeroMatrix is the same as isinstance(ZeroMatrix).

[2016-03-09 01:47] nagarakshay commented on #10746
I would like to work on this.

[2016-03-09 05:05] aravindkanna opened #10768 "singular_values() when ran for empty matrices giving Index error"
As the subject says all, when the `singular_values()` function run for empty matrices it is giving error.

[2016-03-09 05:09] aravindkanna commented on #10768
This is because of the following reason. The singular values of a matrix A are the square roots of the eigen values obtained for the product of its conjugate and itself. So for an empty matrix A, the conjugate is itself and the product of two empty matrices is an empty matrix. Now we have to find eigen values for empty matrix for finding the singular values and this is responsible for error.

Refe

[2016-03-09 09:13] nagarakshay commented on #10746
Is this issue fixed? Because in my sympy `
 from sympy import*
`>>> y,z,a=symbols('y z a')

True

True
`

[2016-03-09 09:53] aravindkanna opened #10770 "Adding a row or a column to an empty matrix"
There are methods `row_insert()`, `col_insert()`, `row_join()`, `col_join()`, `row_del()` and `col_del()` for modifying the matrices. Using the delete operations on a matrix a matrix can be transformed to an empty matrix. But later how to bring that back to a matrix of real shape. With the existing insert and join methods we are not able to do that to my knowledge.

[2016-03-09 10:15] AnishShah commented on #10728
+1. `is_commutative` should be `None` for MatrixSymbols.

Also, I think, commutative for symbols works correctly except for the `Add` class. I had a look at [code](https://github.com/sympy/sympy/blob/master/sympy/core/add.py#L491) and the logic does not consider commutative property. Like @smichr said, subtraction of two equal noncommutative symbols can be zero. But, commutative is correct for `Mu

[2016-03-09 10:19] kshitij10496 commented on #10746
@nagarakshay
Yes.
The core issue has been fixed by #10645
But we still need tests to be added.
You can give this a try

[2016-03-09 10:32] kshitij10496 commented on #10757
Thank you @smichr

[2016-03-09 12:05] rd13123013 commented on #5834
should we just return  `` x / ln(x)`` for symbolic arguments ?

[2016-03-09 12:17] Upabjojr opened #10771 "Rename TensorProduct to Kronecker product?"
A tensor product of two matrices is supposed to create a rank-4 tensor.

The operation that mixes two matrices to a matrix isomorphic to the rank-4 tensor is usually called a _Kronecker product_.

In Wolfram Mathematica:
* https://reference.wolfram.com/language/ref/KroneckerProduct.html
* https://reference.wolfram.com/language/ref/TensorProduct.html

In numpy:
* http://docs.scipy.org/doc/numpy-1.1

[2016-03-09 12:43] jksuom commented on #10680
The candidate solutions are polynomials in the components of the integrand, but their derivatives are not necessarily so, because they are constructed from the derivatives of the components.

In this example the components are ``x, log(x), x**log(x), log(x**log(x)), x**log(x**log(x))``, etc., and they are replaced by dummy symbols acting as independent variables. Their derivatives can be expressed

[2016-03-09 14:39] nishnik commented on #10354
@asmeurer You got the right results. And it is not coming the same when I tried to replicate it:
[code]
What needs to be done here ?

[2016-03-09 15:05] kshitij10496 commented on #10071
I think this has been fixed.

[code]

Ping @smichr

[2016-03-09 15:15] kshitij10496 commented on #9721
I would like to give this a try.
I am intending to continue the work of #10022

[2016-03-09 16:41] sanyagithub opened #10773 "sympify evaluates Div Operation in case of Unary Operator when evaluate = False"
`sympify('-10/5', evaluate = False)`
`-2`
`sympify('-10/-5', evaluate = False)`
`- -2`

See Issue #10560

[2016-03-09 17:48] smichr commented on #10728
Leave a comment

For symbols, perhaps as `~comm -> ~complex` and `0->complex` hence `~complex->~0`. For operations the line I cited just sets the attribute and skips assumptions.

[2016-03-09 20:05] asmeurer commented on #10463
Now that 1.0 is out, this can be fixed.

Another thing that will need to be fixed here is that the VM used by the release scripts uses Python 3.2, so we will need to use an updated VM.

[2016-03-09 20:05] #10273 closed

[2016-03-09 20:05] #10081 closed

[2016-03-09 20:10] asmeurer commented on #10599
It works in the "latest" docs. http://docs.sympy.org/latest/modules/tensor/array.html. I don't know what happened with the dev docs. Probably if you rebuild them they will work.

[2016-03-09 20:10] asmeurer commented on #9891
SymPy 1.0 has been released.

[2016-03-09 20:10] #9891 closed

[2016-03-09 20:33] AnishShah commented on #10463
@asmeurer I will work on this..
apart from removing travis build for Python 2.6 and 3.2, can you tell me what needs to be done?

[2016-03-09 20:35] AnishShah commented on #10463
Should I replace `set() , dict()` to `{}`?

[2016-03-09 20:37] asmeurer commented on #10463
You should remove things from the compatibility file that are no longer necessary.

You can also replace set with set literals and use set dictionary comprehensions if you want, but it isn't required. The old way still works.

We also need to figure out the release process, as I noted in my previous comment.

[2016-03-09 20:37] asmeurer commented on #10463
And I guess grep the repo for "2.6" and "3.2" to see if there are any other compatibility things that can be removed.

[2016-03-09 21:18] asmeurer commented on #5834
primepi(x) is equal to x/ln(x) only in the limit.

[2016-03-10 00:26] alanhdu commented on #8906
This seems to be fixed in Sympy 1.0

[2016-03-10 00:26] #8906 closed

[2016-03-10 08:30] AnshulBasia opened #10779 "Check if a number is a prime and find the largest prime factor of the number of order 10^12 ?"
@hargup
This is an essential problem of number theory and normal algorithm takes around days to evaluate the largest prime factor for number of this order. I have written an algorithm to evaluate the same in less than a minute in C++. I am new to open source and I want to contribute to sympy this summers. Should I pull a request to add my algorithm to the number theory section of the project ?

[2016-03-10 09:34] Upabjojr commented on #10599
OK, issue is closed.

[2016-03-10 09:34] #10599 closed

[2016-03-10 09:38] hombit opened #10780 "Dramatical precision error in sympy.matrices.matrices.det_bareis()"
Let the code speaks for itself:
[code]

I use sympy 0.7.6.1, python 3.5.1, OS X 10.11.3.

[2016-03-10 10:12] aravindkanna commented on #10770
During my usage in sympy, I found the following thing. I think it is an intended one.

`In [20]: a`
`Out[20]:`
`⎡1  2⎤`
`⎣3  4⎦`
`In [21]: b`
`Out[21]: [100000  200000]`
`In [22]: a.row_insert(2, b) == a.row_insert(20, b)`
`Out[22]: True`

Here the row_number (I mean the argument 1 of the row_insert() function) is not an issue if it is greater than or equal to the number of rows of matrix which we

[2016-03-10 11:05] #7858 closed

[2016-03-10 11:07] #10761 closed

[2016-03-10 11:36] smichr commented on #10503
I is simple enough to not predict, but I am not sure what to put for the power of the Order term:

[code]

[2016-03-10 11:36] nagarakshay commented on #10746
@smichr Thanks for the feedback. Does it look ok now?

[2016-03-10 12:30] jksuom commented on #10771
I am inclined to agree that KroneckerProduct might be more suitable as this is only defined for matrices (or matrix-like objects) and results are also matrices. But if the name is changed, should the names of all functions in the module be changed accordingly?

It seems to me that the matrix module would be more suitable. But there are a lot of imports from the quantum module. Perhaps those would

[2016-03-10 13:58] wrat commented on #10680
@jksuom  Ping!

[2016-03-10 14:20] jksuom commented on #10680
Now you should create the actual pull request for SymPy repository by following the directions given [here](https://github.com/sympy/sympy/wiki/Development-workflow#id42). The current PR above is only for your private repository https://github.com/wrat/sympy.

[2016-03-10 15:59] smichr commented on #10746
Yes, that looks right. Could you include spaces after the commas, please? And there is no need to recreate a new PR. Just open the old one, and push your branch there and it will be updated.

[2016-03-10 16:31] #10719 closed

[2016-03-10 19:39] asmeurer commented on #10728
Maybe I'm missing something. operations.py sets is_commutative=False, and from that the assumptions set is_zero=False.

@AnishShah but as I noted, this will make commutative useless. Any `A + B` can't be certain to be commutative by this rule because `B` could be `-A`. Also, it looks like you can't create `Symbol('A', commutative=None)`, which leads me to suspect that quite a few things won't work

[2016-03-10 19:41] asmeurer commented on #10655
That's a simple solution, but I think it would look better if we could detect the qtconsole background color and set the foreground color dynamically (and keep the background color transparent).

[2016-03-10 21:02] aravindkanna opened #10782 "condition_number() for empty matrices giving ValueError"

[2016-03-10 21:31] #7396 closed

[2016-03-10 21:34] AkshaySiramdas commented on #10770
#10781

[2016-03-10 22:10] asmeurer commented on #10354
It isn't working for me anymore either. Something recent must have broken it.

[2016-03-10 22:15] asmeurer commented on #10354
I didn't try super hard, but I can't find a commit where it works. Not sure what happened. Is the answer I "got" above correct?

[2016-03-10 22:26] nishnik commented on #10354
Yeah! That's correct.
Then, let me try `git bisect` again and see if I can find which commit broke it.

[2016-03-11 00:19] chubukov opened #10784 "autowrap on windows -- distutils doesn't work with C compiler"
I am running into problems trying to use autowrap on Windows with Anaconda python 2.7.

[code]

...
[code]

I do have the MS Visual Studio 2008 compiler installed and I have no problem building python packages from source. However, I believe the root of the problem is that this compiler is only found by setuptools and not by distutils.

If I go into setup.py and replace
[code]
with
[code]

then I'

[2016-03-11 00:46] aravindkanna opened #10785 "Problem with berkowitz_eigenvals() with empty matrices"

[2016-03-11 00:50] leosartaj commented on #10785
@aravindkanna It is helpful if you could give small description with a code snippet(in general for any issue), of what exactly is the problem.

[2016-03-11 00:53] aravindkanna commented on #10785
@leosartaj ,
Sir, the problem is that with empty matrices `berkowitz_eigenvals()` function returns index out of range error.

[2016-03-11 03:36] AnshulBasia commented on #10779
Thanks for the information. I'll check that function right away.

[2016-03-11 04:22] nagarakshay commented on #10746
@smichr I was not able to reopen the PR. So I created a new PR . I amended the commas as you advised. Thanks.

[2016-03-11 04:35] chubukov commented on #10784
Modifying `setup_template` in utilities/autowrap.py to use setuptools led to working behavior. I don't know what other implementations may depend on distutils, so I leave it to the more experienced folks to decide whether this change should be implemented.

[2016-03-11 04:45] moorepants commented on #10784
We should probably implement this:

[code]

as per https://github.com/cython/cython/wiki/CythonExtensionsOnWindows

[2016-03-11 04:49] moorepants opened #10788 "Pickling test is failing on Ubuntu 15.10"
[code]

[2016-03-11 04:53] moorepants commented on #10784
Posted a fix here #10789, can you see if that works for you?

[2016-03-11 05:28] chubukov commented on #10784
Yes, as expected that also works fine.

[2016-03-11 09:01] ankyAS commented on #10702
I think @rpisarev is correct as the tan and cot are discontinous function and the value of tanx is not defined at (pi/2)*k.So it should not always be 1.
@thisch  writing tan(x) in terms of  sin(x) and cos(x) will led to value being undefined at (pi/2) while both sin(x) and cos(x) are defined at pi/2

[2016-03-11 16:14] rwst opened #10795 "crash in parser with sympify called from Sage"
This is FYI, as it happens with input in Sage and I haven't found a Sympy-only trigger, but if you have any idea?

[code]

[2016-03-11 16:38] chubukov commented on #10784
By the way, there is a similar issue with `ufuncify`, which uses `numpy.distutils`. I'm not sure what the recommended workaround is for that.

[2016-03-11 17:42] moorepants commented on #10784
Can you please make a new issue for ufuncify and specify exactly what goes wrong (tracebacks and such)? Thanks. We don't test these on Windows often, so there are bound to be bugs.

[2016-03-11 19:17] raineszm commented on #10771
Looking at the `sympy.physics.quantum.tensorproduct` module it seems `TensorProduct` is intended to be an actual tensor product and that the Kronecker product is just being used as a representation of this for concrete matrices in the sense discussed in the [Wikipedia article](https://en.wikipedia.org/wiki/Tensor_product#Tensor_product_of_linear_maps) for tensor products.

So perhaps it makes more

[2016-03-11 20:32] Upabjojr commented on #10771
There is also a class name conflict, in _sympy.diffgeom_ there's a class with the same name operating on expressions of one-forms. A name conflict is not that terrible, provided that classes of the same name operate on different representations of mathematical objects that are equivalent.

Should we have a `TensorProduct` class that computes the Kronecker product for matrices but the ordinary tens

[2016-03-11 20:47] asmeurer opened #10798 "PolynomialError from risch with integrate(1/(1-(x*y)**2), (x, 0, 1), (y, 0, 1))"
[code]

[2016-03-11 21:10] asmeurer opened #10800 "pretty printing gets stuck doing evalf"

[2016-03-11 21:26] asmeurer opened #10801 "Make limit work with binomial"
limit can work with binomial by converting to factorial first.

[code]

[2016-03-11 21:28] asmeurer opened #10802 "limit doesn't work with hyper"

[2016-03-11 21:37] asmeurer opened #10803 "Bad pretty printing of power of Limit"
[code]

The `-2` power is just floating there. There needs to be parentheses. Marking as easy to fix because it's probably just an issue of marking the precedence of Limit correctly.

[2016-03-11 21:40] asmeurer opened #10804 "1/limit(airybi(x)*root(x, 4)*exp(-2*x**(S(3)/2)/3), x, oo)**2 is wrong"
[code]

The answer should be `pi`. c.f.

[code]

[2016-03-12 01:30] The-Penultimate-Defenestrator opened #10805 "Safety"
I think `sympy` shoudl be made safer for untrusted input, as discussed in the comments on [this stackoverflow issue](http://stackoverflow.com/q/35929640/4414003). Since `sympy` uses `eval` under the hood, it's vulnerable to attacks. There's really no reason to allow attribute access, etc, which leads to vulnerabilities like [these](http://nedbatchelder.com/blog/201206/eval_really_is_dangerous.html

[2016-03-12 01:41] asmeurer commented on #10805
My idea is to disable attribute access. That doesn't fix everything (see https://stackoverflow.com/questions/35804961/python-eval-is-it-still-dangerous-if-i-disable-builtins-and-attribute-access), but does fix most things, and is completely unnecessary for what sympify needs.

[2016-03-12 01:42] asmeurer commented on #10805
Unless I'm missing something this should be fixable at the tokenizer level.

[2016-03-12 01:43] asmeurer commented on #10805
The other option is to do an AST transformation from Python AST -> SymPy AST. This would almost certainly be slower, however (it's basically re-inventing `eval`, but in Python).

[2016-03-12 01:45] The-Penultimate-Defenestrator commented on #10805
Itnlooks like "f-strings" could be blacklisted pretty easily as well. Are there any plans to implement better safety?

[2016-03-12 11:10] nagarakshay commented on #10201
I would like to work on this.

[2016-03-12 13:29] The-Penultimate-Defenestrator commented on #10805
So, if you have this idea and want to implement it, do you have any kind of timeline for when this might go in? I've looked at `stringify_expr` but it doesn't seem easy to get simpler code from this without `eval`.

[2016-03-12 13:38] Upabjojr opened #10806 "LaTeX printer: Integral not surrounded in brackets"
[code]
Should be:
[code]

[2016-03-12 13:42] gxyd commented on #10806
Thanks for opening this!. I realised this in https://github.com/fredrik-johansson/314/pull/6 .

[2016-03-12 13:47] #10773 closed

[2016-03-12 13:47] #10560 closed

[2016-03-12 16:02] smichr commented on #10739
This was mentioned in #10280

[2016-03-12 16:19] raineszm commented on #10771
Point taken. That does seem a bit surprising and inconsistent.

The behavior of `TensorProduct` on bras, kets, and operators (e.g. A x B acting on |S> x |T>) doesn't seem to be provided elsewhere, but is consistent with the usual definition of the tensor product. Would it make sense to keep that functionality and deprecate the behavior of implicitly turning tensor products of matrices into a Krone

[2016-03-12 17:40] badcoderparashar commented on #10803
has this been fixed because i ll like to try it

[2016-03-12 19:11] AnishShah commented on #10803
No, it's not fixed.
On 12 Mar 2016 11:10 pm, "badcoderparashar" <notifications@github.com>
wrote:

[2016-03-12 19:27] kshitij10496 opened #10807 "solveset returns an unevaluated ConditionSet for solvable equation"
In the latest master,
[code]

Clearly, the solutions should are `{-2, 0}`.
I think the issue here lies with solving `f` after using `together` [here](https://github.com/sympy/sympy/blob/master/sympy/solvers/solveset.py#L544).
This changes the property of `f` from an `is_Add` to `is_Mul`, which in turn gives a different result.

[2016-03-12 19:45] #10782 closed

[2016-03-12 20:18] smichr commented on #10746
The test was merged but didn't have an autoclose tag. Closing manually.

[2016-03-12 20:18] #10746 closed

[2016-03-12 22:24] smichr opened #10809 "solveset(exp(I*x)-1,x,S.Reals) -> {0} instead of all multiples of 2*pi"
master:

[code]

expected:

[code]

[2016-03-12 23:59] asmeurer commented on #10805
No one is working on it as far as I know, so I can't give a timeline. I'm not familiar enough with the internals of the parser to know how easy this would be. Is it as simple as blacklisting tokens from the tokenizer or does it need to be done at the AST level?

[2016-03-13 00:17] smichr commented on #10287
Did #10645 address this issue?

[2016-03-13 00:33] The-Penultimate-Defenestrator commented on #10805
Cool. I think parsing with AST and whitelisting is a good approach, I'm not sure if `tokenize` can recognize attribute access. I'll look into it and see if the scope of this would be small enough that I could make a pull request. Are pull requests accepted here?

[2016-03-13 00:35] asmeurer commented on #10805
Yes, absolutely.

[2016-03-13 02:46] The-Penultimate-Defenestrator commented on #10805
I just spent about 10 minutes on this and came up with a pretty simple solution. Can you see any holes in the following code?
[code]
I tested it with:
[code]

[2016-03-13 03:13] nagarakshay commented on #9819
I would like to work on this.

[2016-03-13 05:48] kshitij10496 commented on #10809
Also,
[code]

[2016-03-13 06:15] wrat commented on #10801
Means we have to convert binomial to factorial in limit.py ??but how it can recognize that given expression is binomial??

[2016-03-13 06:50] wrat commented on #10610
if Everything all right(all test cases has been passed ) then why this pull request is merged yet???

[2016-03-13 07:22] asmeurer commented on #10801
You can use `expr.has(binomial)`.

[2016-03-13 07:24] asmeurer commented on #10805
That won't work for larger expressions that contain floating point numbers.

[2016-03-13 07:25] wrat commented on #10801
ohkkk , I am looking into this .

[2016-03-13 07:30] jksuom commented on #10798
``sqf_list`` only accepts polynomials as arguments. A quick fix could be the following.
[code]
Alternatively, ``DifferentialExtension._log_part`` could be modified to split logarithms with fractional arguments into two parts: ``log(a/d) = log(a) - log(d)``.

[2016-03-13 07:46] wrat commented on #10801
π
may be I have solved it ??

[2016-03-13 07:50] matthew-brett opened #10810 "Implemented function gives ValueError when constructing float expression in sympy 1.0"
Please forgive my imcomplete understanding here, but we ran into a new error with our package (nipy) when testing against sympy 1.0. (https://github.com/nipy/nipy/issues/395).

We use `sympy.utilities.lambdify.implemented_function` quite a bit to represent expressions which would be very cumbersome to represent symbolically.

One common implementation we use is an interpolated function of some num

[2016-03-13 08:54] Shekharrajak commented on #10809
Whenever `exp` args contains `I` then need to handle like `_invert_complex` inside `_invert_real ` and then intersect with `S.Real` , will return correct answer.
You self assigned ,so no need to worry.

[2016-03-13 09:15] govindlahoti commented on #10610
@wrat There are still test cases that can fail

[2016-03-13 09:49] nagarakshay commented on #10746
@smichr Thank you,sir. I wont forget it next time.

[2016-03-13 10:13] sampadsaha5 commented on #10806
@gxyd @Upabjojr

I am getting this :

[code]

I am not getting an issue.

[2016-03-13 10:26] gxyd commented on #10806
I get this issue on Python2.7 and Python3.5 (both) with development version of SymPy on jupyter notebook and terminal as well. Can you specify your system details?

[2016-03-13 11:40] wrat commented on #10801
gruntz fails on factorials but works with the gamma function .so
e= e.rewrite(factorial)  or e = e.rewrite(factorial,gamma) ??
I have tried from e=e.rewrite(factorial) then it is showing 'pi' as output (which is right)."
But why it shows not implemented error using e=e.rewrite(factorial,gamma) .

[2016-03-13 11:47] The-Penultimate-Defenestrator commented on #10805
But floating point numbers always have a digit on each side of the `.`. Can
you give an example of a case in which this would fail?

On Sun, Mar 13, 2016 at 3:24 AM Aaron Meurer <notifications@github.com>
wrote:

[2016-03-13 12:20] Upabjojr commented on #10806
Precedence operation here:
https://github.com/sympy/sympy/blob/5b3889aa679bdc808e27bb283cd516a048ccec13/sympy/printing/latex.py#L148

For `Pow` it is set to 60, for `Integral` it's 1000.

The problem is that `Integral` counts as some kind of single variable element, therefore it gets a precedence value of 1000.

For reference
[code]

Another related issue
[code]

LaTeX expression lacks brackets in

[2016-03-13 12:21] Upabjojr commented on #10806
Maybe `Integral` should have the same `PRECEDENCE` as `Mul`?

[2016-03-13 12:46] smichr commented on #9451
tested and correct in `test_inequalities.py/test_issue_10198`

[2016-03-13 12:46] #9451 closed

[2016-03-13 12:48] smichr commented on #10807
essentially a duplicate of #10023

[2016-03-13 12:48] #10807 closed

[2016-03-13 12:56] The-Penultimate-Defenestrator commented on #10805
Ah, I see it now. I forgot about defining floating-point numbers like `3.`.
Since [attribute names have to start with either a letter or an underscore](http://stackoverflow.com/a/10120327), I think this should be good:
[code]

[2016-03-13 13:02] #10755 closed

[2016-03-13 15:02] bjodah commented on #10780
You are using python floats (double precision which gives you ~17 significant figures).
Using SymPy's arbitrary precision numbers instead should help:
[code]

[2016-03-13 17:12] ThomasHickman commented on #10800
Intergral(sin(exp(x)), (x, 1, oo)) is being evaluated when considering the order of the terms printed in 2*integrate(sin(exp(x)), (x, 1, oo))+2*Si(E), as the values of coefficients are taken into account when ordering terms. This would be fixed if only complex terms were compared and therefore integrate(sin(exp(x)), (x, 1, oo)) would not be evaluated.

[2016-03-13 19:26] #10680 closed

[2016-03-13 19:32] wrat commented on #10680
thanks @jksuom

[2016-03-13 20:38] #10463 closed

[2016-03-13 21:04] wrat commented on #10801
@asmeurer
` def test_limit_seq():
      assert (limit(binomial(2*x, x) / Sum(binomial(2*y, y), (y, 1, x)), x, oo) ==
            S(3) / 4) `
can we discuss about this test case??

[2016-03-13 21:17] leosartaj commented on #10801
@wrat This limit is found using a different algorithm, implemented [here](https://github.com/sympy/sympy/blob/master/sympy/series/limitseq.py). It is currently called as last resort, in-case no other algorithm can find the limit. Reason being, it is still new, and capable of solving only a small subset.

[2016-03-13 21:52] #10768 closed

[2016-03-13 22:00] rd13123013 opened #10816 "is_nthpow_residue(a,n,m) gives NotImplemented error when m don't have primitive root"
[code]

[2016-03-13 22:19] verdurin opened #10818 "Unicode test error with Python 2.7.10"
When testing a build of sympy using EasyBuild, I see the following error during the tests:

[code]

Someone mentioned that this might be due to locale settings, so I changed them to `en_US.utf8`, but that didn't make any difference.

[2016-03-14 03:04] #10710 closed

[2016-03-14 08:10] rajeev2010 opened #10821 "latex bug for commutator output"
There is a latex bug in the output of the function sympy.physics.quantum.commutator.doit that gives incorrect result if there is overall negative sign involved. For example, the following code does not give the correct expression for the latex output.

[code]

[2016-03-14 08:34] thisch opened #10822 "simpliyfy expressions containing cmplx nums and im()"
[code]

also see #5395 and its fix in #1923

If the expression gets expanded (``complex=True``) then ``simplify`` returns the desired result. Is it really intended to manually expand the above expression in order to simplify it to 0?

[2016-03-14 09:58] hombit commented on #10780
Thank you, Björn.

[2016-03-14 09:58] #10780 closed

[2016-03-14 10:48] #10779 closed

[2016-03-14 11:08] Upabjojr commented on #10806
Update: this bug has been introduced in SymPy 1.0.

[2016-03-14 13:57] zanzibar7 commented on #9819
@nagarakshay  I [started to work](https://github.com/zanzibar7/sympy.git) on this several months ago and got a little way, but not to Bessel functions.  Airy equations seemed like an easier place to start, and then Bessel equations could be added on.  Ultimately, hypergeometric equations could also be addressed.  Please feel free to look at my changes, and feel free to incorporate them.

[2016-03-14 14:20] wrat commented on #10801
See PR #10825

[2016-03-14 17:44] asmeurer commented on #10801
I think we can also fix this by implementing binomial._rewrite_as_tractable.

[2016-03-14 18:14] asmeurer commented on #10805
I would still rather see this done at the parsed expression level, since there's no reason to not allow input with strings (other than f-strings).

[2016-03-14 18:19] The-Penultimate-Defenestrator commented on #10805
OK. The other way to blacklist attribute access is like so:
[code]
This could be modified to blacklist attribute access, but it's safer and
more thorough with a whitelist.

On Mon, Mar 14, 2016 at 2:15 PM Aaron Meurer <notifications@github.com>
wrote:

[2016-03-14 18:28] wrat commented on #10801
Yeah of curse we can fix it  like that but while implementing it  may be we will get  some issue according to me actually .so should I implement like binomial._rewrite_as_tractable to get merge.

[2016-03-14 18:34] badcoderparashar commented on #10803
can you guide me where to checks there

so i can make change

[2016-03-14 18:43] grelston opened #10828 "TypeError, SystemError and RecursionError from plot3d_parametric_surface"
I'm trying to plot the surface of an ellipsoid, following the parametric equations from [MathWorld](http://mathworld.wolfram.com/Ellipsoid.html). I get a 30,000-line Traceback, which I'll summarise later.

1. Environment:
  - Server Information:
    - You are using Jupyter notebook.
    - The version of the notebook server is 4.1.0 and is running on:
      - Python 3.5.1 |Anaconda 2.5.0 (32-bit)|

[2016-03-14 19:26] kshitij10496 opened #10829 "subs method gives wrong result for powers"
[code]

The `subs` method don't appear to work with certain power functions.

[2016-03-14 20:03] asmeurer commented on #10805
I think that's a better way to do it.

Here's some good docs on the ast nodes https://greentreesnakes.readthedocs.org/en/latest/nodes.html. The main dangerous one is Attribute, but we could also remove some of the others that don't parse to SymPy expressions, just to be safe (like `comprehension`).

At a glance, some things that are missing from your whitelist are slices (needed for Indexed), stri

[2016-03-14 20:38] The-Penultimate-Defenestrator commented on #10805
@asmeurer Yeah. This snippet was just something I copied from what I tried before turning to sympy and opening this. It definately accommodates a smaller scope.

[2016-03-14 22:25] nagarakshay commented on #10201
@asmeurer @cbm755  Please tell me if anything else needs to be done!!
PR #10830

[2016-03-15 00:51] jbm950 opened #10831 "Typo in the docstring of init_printing"
There is a typo in the docstring of init_printing where a sentence is repeated. I am currently submitting a pull request with the fix.

[2016-03-15 01:42] jbm950 opened #10834 "init_printing doesnt allow choosing of the latex printer in a standard python interpreter"
There is no implementation of the use_latex flag in init_printing for the standard python interpreter. I am posting a pull request with the fix now.

[2016-03-15 02:00] mnmt opened #10836 "Latex generation error for .series expansion for \rightarrow term"
Best shown with [notebook view of this gist](http://nbviewer.jupyter.org/gist/mnmt/3804cdaaeb70300a719e), but basically when the latex is produced for a series expansion for variable x around point x0 at the end of the expansion there is a "as x --> x0" at the end for the neglected expansion terms, which displays correctly when x0 is a number, e.g:
`x \rightarrow5`
 but when x0 is a symbol it does

[2016-03-15 02:35] mnmt commented on #10836
Added pull request #10837, I think this will fix it? Appreciate a look over to check though since I don't know how to easily test it myself.

[2016-03-15 03:02] leosartaj commented on #10836
This appears to be a bug. Also, @mnmt SymPy 1.0 is out. There are many bug fixes and new features. I suggest you should upgrade. :smile:

[2016-03-15 04:12] badcoderparashar commented on #10803
i know what to change can you provide me with the directory you worked with

[2016-03-15 04:30] badcoderparashar commented on #10742
is this issue free coz i want to work on it

[2016-03-15 05:45] nagarakshay commented on #9819
@zanzibar7 Thank you. I will surely have a look. I will incorporate them in my PR.

[2016-03-15 07:37] #10831 closed

[2016-03-15 09:58] grelston commented on #10828
I ran the notebook again after updating to sympy-1.0 and got [very similar results](https://gist.github.com/grelston/bb4affd1072402c7ed96).

[2016-03-15 12:12] bjodah commented on #10742
You are welcome to work on it. As you see there is an open PR regarding this issue.
You can start with reviewing that PR and add comments on e.g. something that can be improved or if something is missing. If you want to make substantial additions to said PR, it might be a good idea to see if it can be merged first and then you can start your own work on a subsequent PR. If the work on the referenc

[2016-03-15 13:49] wrat commented on #10801
@asmeurer ping

[2016-03-15 18:15] asmeurer commented on #10697
@Curious72 your dictionary keys are all the same, `Symbol('x')`. So your final dictionary is just `{x: 9999}` (check it with `print(mapping)`). When you have a dictionary comprehension and it sees the same key multiple times it just uses the one last seen. That's why in my example I include `i` in the symbol name, so that the mapping dictionary has 10000 items.

[2016-03-15 19:21] asmeurer commented on #10801
I think the as_tractable way is the best way to fix this.

[2016-03-15 19:44] asmeurer commented on #10803
The pretty printer is in sympy/printing/pretty/

[2016-03-15 21:04] #10701 closed

[2016-03-15 22:16] josephcslater opened #10840 "laplace_transform of DiracDelta yields wrong result"
`laplace_transform(DiracDelta(t),t,s)`
should yield 1, but instead yields 1/2 .

version 0.7.6.1 of sympy.

Example at
https://github.com/josephcslater/iPythonExamples/blob/master/Laplace_Transforms_Solution.ipynb

[2016-03-15 23:43] moorepants opened #10841 "KanesMethod.kanes_equations() should accept an empty variable for the loads."
[code]
should work. Not all systems have external loads (forces and torques) applied to them. This currently errors and requires you to add at least one dummy load.

[2016-03-16 12:01] badcoderparashar commented on #10803
on it

[2016-03-16 13:38] rehassachdeva commented on #10841
Hi, I'm a beginner. I would like to work on this. Could you please guide me how to go about this?
I took a look at the `kanes_equations` method and `_form_fr`.

[2016-03-16 14:00] Imran31 commented on #10803
I would like to work on this, and I want to clarify if you want the parentheses around the entire limit expression.

[2016-03-16 14:23] jksuom commented on #10840
Laplace transform is generally defined only for locally integrable functions satisfying certain growth conditions. It is possible to say that the formal integral (from ``-oo`` to ``oo``) denoting the two-sided Laplace transform of Dirac delta is equal to 1. However, the two one-sided transforms (from ``-oo`` to ``0`` and from ``0`` to ``oo``) are undefined since Dirac delta is not a function on th

[2016-03-16 14:40] moorepants commented on #10841
There are tests that exercise the KanesMethod class. You should start by modifying the tests by passing in an empty iterable for the loads. fr should then be a zero column matrix and frstar should successfully compute the correct equations.

[2016-03-16 14:56] rd13123013 commented on #10798
@jksuom  what should be modified in `DifferentialExtension._log_part` , should we convert each element of form `log(a/d)`  in `logs` ( `_log_part(self, logs, dummy=True) ` ) to two new elements `log(a)` and `-log(d)`

[2016-03-16 15:46] josephcslater commented on #10840
A couple of points:
a) The behavior is inconsistent with standard definitions of the Laplace Transform of a Dirac Delta. The result of 1 is fundamental to control theory and communication theory.
b) The result returned is inconsistent with Mathematica, Matlab (by extension Maple). I have only so many places to test it, though.
c) The argument you have is that "half of the delta" is before zero. I

[2016-03-16 16:33] rehassachdeva commented on #10841
Thanks for the directions @moorepants . But i haven't used KanesMethod or Matrix before.
Could you please guide me as to which tests I should try modifying.
Say in `test_one_dof`  in `test_kane.py` would this be a good approach?
[code]

[2016-03-16 16:35] asmeurer commented on #10798
Changing _log_part might break other stuff (I can't say for sure). The patch to is_deriv_k looks better. There's no reason it should assume that the log_args are polynomials.

[2016-03-16 16:42] asmeurer commented on #10798
I can confirm that @jksuom's patch fixes this. A more direct test is `integrate(integrate(1/(1-(x*y)**2), (x, 0, 1)), y, risch=True)`. Unfortunately, the integral isn't elementary. There seems to be another bug, though:

[code]

Half of the integrals returned are nonelementary (the ones with sums in the log, c.f. http://www.wolframalpha.com/input/?i=integrate(-log(1+-+1%2Fy)%2Fy,+y)&dataset=), but

[2016-03-16 16:42] jksuom commented on #10798
I think splitting the logs might be made to work. That would make the logs look better (no denoms) but their number would in general be bigger. I'll finish the tests with the patch to is_deriv_k and send a PR.

[2016-03-16 16:44] asmeurer commented on #10798
Ah, scratch that. There are several test failures with @jksuom's patch:

[code]

[2016-03-16 16:46] jksuom commented on #10798
That does not necessarily mean that the patch would not work. The form of the results could be slightly different.

[2016-03-16 16:46] asmeurer commented on #10798
Risch definitely can be smarter about logs (if I recall correctly, it tends to return things like log(a/b) + log(b)). I don't know if splitting logs in _log_part is the way to fix that. My preference in risch has generally been to try to keep the integrated expression as close to the integrand in form as possible.

[2016-03-16 16:46] aravindkanna commented on #10841
@moorepants ,
Sir, I have made some changes to `kanes_equations()` class. I got the following as result. Please review it once.

[code]

Just check whether it is correct or not. Just as you said fr is a zero column matrix and frstart is computing as it should be.

[2016-03-16 16:47] asmeurer commented on #10798
The test failures in risch are troubling. They suggest to me that is_deriv_k isn't working at all (the whole point of the function is to detect cases like `log(x), log(x**2)` or `log(x), log(x + 1), log(2*x**2 + 2*x)` where the logs are algebraically dependent).

[2016-03-16 16:47] moorepants commented on #10841
@rehassachdeva You can modify https://github.com/sympy/sympy/blob/master/sympy/physics/mechanics/tests/test_kane.py#L11 and set FL to an empty tuple. That should be sufficient.

[2016-03-16 16:48] moorepants commented on #10841
@aravindkanna Please submit a pull request if you think you have a fix.

[2016-03-16 16:50] jksuom commented on #10798
I think that those failures should be investigated in any case.

[2016-03-16 17:02] Shekharrajak commented on #10085
Now from current master branch
[code]

[2016-03-16 17:05] asmeurer commented on #10798
Oh, I see the problem. You need to do

[code]

not,

[code]

(otherwise they are the same list). With that change there are no test failures.

[2016-03-16 17:07] jksuom commented on #10798
Thanks. I did not think of it in detail.

[2016-03-16 17:13] asmeurer commented on #10798
I've looked at it closer and I think this patch is fine. I'm a little baffled this issue hasn't come up already.

[2016-03-16 17:15] jksuom commented on #10798
When I looked at the tests I noticed that all arguments were polynomials.

[2016-03-16 17:19] #10829 closed

[2016-03-16 17:20] asmeurer commented on #10798
I guess this only comes up when you have two logarithms that are algebraically dependent, and have denominators.

[2016-03-16 21:00] asmeurer commented on #10803
Yes, there should be parentheses around the whole thing, since it is the whole limit being taken to the -2 power. It should look like this

[code]

(I did that by hand so hopefully it's correct)

[2016-03-17 00:50] moorepants opened #10844 "lambdify should handle Derivative the same way it handles UndefinedFunction"
This should work like the second lambdified function that is shown:

[code]

[2016-03-17 04:22] #10816 closed

[2016-03-17 09:13] wrat commented on #9549
issue solved?? I would like to work on this .

[2016-03-17 13:43] lindsayad opened #10847 "integrate(sqrt(x - y) * log(z / x), x) has no result"
but with Mathematica I can get a solution:

2/9 (6 y^(3/2) ArcTan(Sqrt(x - y)/Sqrt(y)) + Sqrt(x - y) (2 (x - 4 y) + 3 (x - y) Log(z/x)))

Where in sympy would we have to do work to implement a solution?

[2016-03-17 13:44] #10201 closed

[2016-03-17 13:44] smichr commented on #10201
OK, the leak of wrong rersults has been plugged. Now it would be nice to have the correct result returned so this issue has not been closed.

[2016-03-17 14:32] smichr commented on #10822
What is your proposal: recognize `k+/-k.conjugate()`-like expressions as `2*re(k)` or `2*im(k)`?

[2016-03-17 15:08] thisch commented on #10822
Basically, yes. But also ``re(k)**2 + im(k)**2`` should be simplified to ``abs(k)**2`` and ``1/(k**n * conjugate(k)**m)`` to ``1/(|k|**(2n) * conjugate(k)**(n-m))`` assuming integral exponents and ``m > n``. I'm working on the latter by extending the code from #1923, but I don't think that this belongs to ``as_real_imag()``, since ``as_real_imag`` is not called by ``simplify``, right?

[2016-03-17 16:04] jksuom commented on #10798
Closing because of #10842.

[2016-03-17 16:04] #10798 closed

[2016-03-17 16:15] asmeurer commented on #10847
The simplest way to fix it is to add some rules to manualintegrate.

[2016-03-17 17:46] asmeurer opened #10851 "integrate(risch=True) splits integral but doesn't compute it"
From https://github.com/sympy/sympy/issues/10798

[code]

The integrals that are polylogs aren't elementary, so risch can't do them, but the other two are. How do they end up getting split up, but not computed?

[2016-03-17 17:51] asmeurer commented on #10851
Probably related to https://github.com/sympy/sympy/issues/2708. The unfortunate thing is that `integrate(integrate(1/(1-(x*y)**2), (x, 0, 1)), y, risch=True).doit()` is faster than `integrate(integrate(1/(1-(x*y)**2), (x, 0, 1)), y)` (the latter doesn't apply the Risch algorithm), and produces a "nicer" result (that could be argued, but it doesn't include an `I`).

[2016-03-17 18:31] asmeurer opened #10852 "Use conda for all Travis tests"
Now that we don't support Python 3.2, we should be able to use conda for all Travis tests, except probably the latex and sage tests.

We can use conda-forge (https://conda-forge.github.io/) for any packages that are not in the Continuum repos.

[2016-03-17 18:59] AnishShah commented on #10852
Hi, I will work on this!

On Fri, Mar 18, 2016 at 12:01 AM, Aaron Meurer <notifications@github.com>
wrote:

[2016-03-17 22:15] moorepants commented on #10844
Related SO issue: http://stackoverflow.com/questions/29920641/lambdify-a-sympy-expression-that-contains-a-derivative-of-undefinedfunction

[2016-03-18 11:03] proy87 opened #10854 "solve_univariate_inequality bug"
`solve_univariate_inequality(1/(x-2)**2 >= 0, x)` should return all real line except `x=2`, but instead it returns all real line.

[2016-03-18 13:30] Shekharrajak commented on #10854
You can use `solveset`
[code]

[2016-03-18 13:48] proy87 commented on #10854
Thank you.

[2016-03-18 14:37] ThomasHickman opened #10855 "sympy.doctest("plotting") fails in python 3.5"
When running `sympy.doctest("plotting")`, the following errors occur:

[code]

I think this is caused by a dot not being used for relative imports e.g. `import plot` should be `from .plot import PygletPlot` in https://github.com/sympy/sympy/blob/59e9ab5c5a2f1cf2cd809c23b7c3d89d442c069a/sympy/plotting/pygletplot/__init__.py#L139. This is not getting picked up from the doctests on TravisCI because p

[2016-03-18 15:11] ThomasHickman commented on #10855
Just seen http://stackoverflow.com/questions/25791425/plot-with-sympy-in-python-3. pygletplot therefore should be blacklisted in all cases, not just if pyglet is not installed.

[2016-03-18 16:22] #10834 closed

[2016-03-18 16:29] moorepants commented on #10834
I think this is still valid. It would be nice to be able to set any arbitrary printer to work with init_printing(). For example, we have sympy.physics.vector.init_vprinting(). There could be lots of cases for this and if it was handled by the main init_printing() command instead of creating tons of custom ones, then I think that would be better.

[2016-03-18 19:26] smichr opened #10859 "multidimensional interval fails bool test"
[code]

Although `__nonzero__` could be defined, it looks like bool calls to `len`; is there any way to fix this?

[2016-03-18 19:39] smichr opened #10860 "diophantine (and related) return value could you `dict` flag"
It's a little tedious to work with diophantine when the results are ordered in a way that is related to the ordering of the variables that appear in the equations:

[code]

if the API was changed, for example, `diop_linear(eq, param=t, **kw)` then the flag `dict=True` could be used to return a dictionary containing the variable: result mapping.

[code]

[2016-03-18 19:42] smichr opened #10861 "dioph_linear doesn't use param"
The docstring of `diop_linear` is slightly misleading in that it says that `param` will be used if provided. Actually, the name of `param` is used as the base name for the resulting equations:

[code]

In addition, the attributes of `param` are ignored and the resulting symbol in the result will simply have the `integer` assumption.

[2016-03-18 21:35] #10606 closed

[2016-03-18 21:35] rd13123013 commented on #9903
`Matrix..eigenvals()` returns `dict` and `dict` in python are unordered , Even if we sort them according to keys, we wouldn't be able to store them in a `dict` in a way that would preserve the ordering.
[http://stackoverflow.com/questions/9001509/how-can-i-sort-a-dictionary-by-key](url)
should we use `OrderedDict` ? ping // @aktech

[2016-03-19 05:35] Shekharrajak opened #10864 "solveset(x**(y*z) - x,x,S.Reals) returns ConditionSet"
[code]
Answer should be `1` .

[2016-03-19 07:30] CodeMaxx commented on #10864
I'm on it.

[2016-03-19 07:32] moorepants opened #10865 "partial_velocity should not require a rexpression in the provided reference frame"
I think that we may have a fundamental design flaw with some things about physics.vector. To illustrate, let's say that we have defined a vector that describes the linear velocity of point P in the reference frame N in terms of the generalized speeds: u1, u2, and u3.

[code]

Note that we have this velocity vector is expressed in a frame A which has an arbitrary relationship with the frame N.

If

[2016-03-19 07:50] moorepants commented on #10865
Here are some thoughts on using `Point` to take partial velocities.

[code]

A Point has the full set of information to say something about partial linear velocities (as does a ReferenceFrame and angular partial velocities).
[code]

[2016-03-19 09:35] ceremcem opened #10866 "Where is formula parser documentation?"
Hello,

I want to use my LibreOfficeMath equations in Sympy, so I first need to build a tokenizer for LibreOfficeMathFormulaLanguage and then pass this tokenized formula to Sympy somehow.

Where can I find the Scmpy's formula tokenizer so I can test my tokenized formulas directly in Scmpy?

[2016-03-19 14:53] sampadsaha5 opened #10867 "Getting KeyError while solving ode : dsolve(Eq(g(x).diff(x).diff(x) , (x-2)**2 +(x-3)**3), g(x))"
[code]

[2016-03-19 16:25] wrat opened #10868 "sympy is unable to solve limit for function log( x ) + asech( x ) at both point x = 0 and x = oo."
while Calculating the limit of function  log(x)+asech(x) at two different point sympy gives unexpected result

[code]

I think that gruntz algorithm has problem while  calculating limit for  function whose two side limit is not exist .
Reference  -https://www.wolframalpha.com/input/i=limit+of+log%28x%29%2Basech%28x%29+where+x+tends+0

[2016-03-19 17:55] Nitin216 commented on #10868
Hey wrat, do u want it to solve limit from right side by default or something else ??

[2016-03-19 17:59] kshitij10496 commented on #10208
I think this can be closed now

[2016-03-19 18:03] wrat commented on #10868
yeah from any direction it not give correct answer.
if we solve limit(log(x)+asech(x),x,0,dir=' - ' ) then it show

which is also wrong . So there is bug in gruntz algorithm.

[2016-03-19 18:38] Nitin216 commented on #10868
Got it.

[2016-03-19 19:42] nagarakshay commented on #9819
@zanzibar7 What further changes may be done?

[2016-03-19 22:40] nagarakshay commented on #9819
However the issue is not addressed because it really won't work for n=0 and I don't think it should because both solution are linearly dependant when n=0. Correct me if I am wrong.
Jn(x)=J-n(x)

[2016-03-20 00:58] nagarakshay commented on #9819
See PR#10870

[2016-03-20 01:49] smichr commented on #10867
`expand` is probably overkill. How about the following:

[code]

See the docstring on `_mexpand` and consider whether you should use the `recursive` flag.

[2016-03-20 01:56] smichr commented on #10800
Why don't we just use `Add(*list(ordered(Add.make_args(constant_expr))))` where `constant_expr` is the part of the expression containing constants?

[2016-03-20 02:05] asmeurer commented on #10800
Does ordered also use evalf? I've noticed that it can also be slow.

[2016-03-20 09:12] jksuom commented on #7021
This can be closed as #10848 gives a good implementation of ``primepi`.

[2016-03-20 09:12] #7021 closed

[2016-03-20 15:46] jksuom commented on #10851
It seems that ``integrate`` will attempt nothing else by design if ``risch=True``. The unevaluated integral is only split into a sum and a possible constant factor is moved out of the integrals by ``AddWithLimits._eval_factor``.

[2016-03-20 22:00] wrat commented on #10802
Ohkkk I looking into this.
@asmeurer I just asking that solving this limit ,As you hint that first we expand it as hyperexpand in limits.py
then solve it by gruntz() funtion ?? or we have implement something ?? as I can fugure out that gruntz is not work properly with funtion whose mrv_leadterm is complex to compute.

[2016-03-20 23:09] asmeurer commented on #10802
I'm not necessarily suggesting that, I'm just showing what the limit is. I don't know what the best way to fix this issue is, as I'm not very familiar with the limit code.

[2016-03-20 23:27] bjodah commented on #10866
Hello,

We try to track issues regarding SymPy in the issue tracker.
You may want to try to ask your question at stackoverflow and tag it with the [sympy tag](http://stackoverflow.com/questions/tagged/sympy) (perhaps along with an minimal example showing what you are aiming to achieve).

You will find the documentation for the parsers here: http://docs.sympy.org/dev/modules/parsing.html

If you ar

[2016-03-20 23:49] ceremcem commented on #10866
Hi,

As described [here](http://stackoverflow.com/questions/36096388/is-there-any-way-to-use-latex-formulas-in-a-programming-language-to-make-a-real) there is DRY problem which I'm also hitting. Since I find LaTex a little bit cryptic, I want to implement the exactly [the same functionality](https://github.com/augustt198/latex2sympy) with [LibreOffice's Math Formula syntax](https://wiki.documentfo

[2016-03-20 23:49] #10866 closed

[2016-03-21 02:18] smichr opened #10876 "solveset errors if numerator doesn't have symbol"
[code]

...but not always:

[code]

[2016-03-21 04:22] bolverk opened #10877 "sympy will evaluate planck integral"
When I try to calculate
`sympy.integrate(x**3/(sympy.exp(x)-1),(x,0,sympy.oo))`
the integral remains unevaluated.
Mathematica knows how to evaluate both the definite and indefinite integrals

[2016-03-21 12:12] rd13123013 commented on #10803
Ping @asmeurer

[2016-03-21 14:13] srjoglekar246 commented on #10865
I like the idea of having the functionality in Point. This way, the original method does not get modified. Would having a <code>try...except</code> block that simply differentiates the vector in the current frame (if not, then tries to re-express) do?

[2016-03-21 15:00] Nitin216 commented on #10876
Hey smichr, when the numerator is number unrad simply return and thus NoneType. Could you suggest me how to find the solution to this problem ??

[2016-03-21 15:36] smichr commented on #10876
I think I have modifications towards this end in my range2 branch. Basically, don't call `_solveset` if the numerator doesn't have the symbol of interest. The same thing needs to be applied to where Mul's are being handled in `_solveset` since `(x-1)/sqrt(x)` will otherwise fail *there* even though it passes out of `solveset`. If you want to cherry pick the commit from my branch and open a PR that

[2016-03-21 15:38] moorepants commented on #10865
But the other issue is that the current `partial_velocity` function is incorrect. For example, how can you take the partial velocity of a vector that isn't a velocity vector. That is currently possible. Also, our Vector.diff() requires that rotation matrices be defined for all frames in the chain, which is too strict when differentiating for partial velocities, for example.

I think we have a bigg

[2016-03-21 16:09] rehassachdeva commented on #10802
Hi! Can we do something like this, check if expression is an instance of hyper class, if yes then hyperexpand it before passing as input to gruntz function ?

[2016-03-21 16:11] rehassachdeva commented on #10804
Hi, Is this already resolved?

[2016-03-21 17:23] asmeurer commented on #10804
You can check yourself on git master. For me, it still gives zoo.

[2016-03-21 17:30] rehassachdeva commented on #10804
Hi. Yes I checked that. what i meant was if it is resolved on skirpichev/omg because it looks like it has but hasn't been merged?

[2016-03-21 17:41] asmeurer commented on #10804
No, patches from the omg fork won't get merged, because the author has not given us permission to merge them. You should feel free to work on this independently.

[2016-03-21 17:51] rehassachdeva commented on #10804
Oh okay. Thanks @asmeurer

[2016-03-21 18:27] rd13123013 commented on #10859
can we define `len` for `Interval` ?

[2016-03-21 18:27] wrat commented on #10802
Yeah this is  first  idea , which is comes in my mind but it will  not be a efficient Implementation for gruntz() funtcion . Hope  @asmeurer will suggest something.

[2016-03-21 18:30] #6711 closed

[2016-03-21 19:15] lesshaste opened #10881 "Riemann Theta function"
This is a feature request for an implementation of the Riemann Theta function in sympy.

There is a paper on how to implement the function at http://www.ams.org/journals/mcom/2004-73-247/S0025-5718-03-01609-0/S0025-5718-03-01609-0.pdf . It links to code in Maple here http://www.math.fsu.edu/~hoeij/RiemannTheta/RiemannTheta .   The function is in Maple 8+ and is documented here http://www.maplesoft

[2016-03-21 19:16] asmeurer commented on #10881
I wonder how difficult it would be to port all or part of the abelfunctions library to SymPy (it's BSD licensed).

[2016-03-21 19:49] rd13123013 commented on #10876
@smichr  couldn't find anything in range2 branch

[2016-03-21 22:13] asmeurer commented on #10802
I think the better way to do that is to implement _eval_expand_tractable on hyper. But I don't know if there's a more direct way to make limits work on hyper. If there is, that would be preferable, since not all hyper instances can be converted to other functions with hyperexpand.

[2016-03-21 23:18] gilbertgede commented on #10865
Well, it's been a little while since I thought about this, but...

Going back to Kane's book, he defines the partial derivative of a vector in a frame as:
<img width="581" alt="kane" src="https://cloud.githubusercontent.com/assets/331109/13936903/4a8a90c2-ef7e-11e5-8bb3-edcde1506678.png">
or rather, the sum of the partial derivatives of the scalar components (expressed in the target differentiatio

[2016-03-22 03:34] moorepants commented on #10865
I don't think our "partial derivative" function, i.e. `Vector.diff()`, is necessarily incorrect, but I think our notion of "partial velocity" isn't quite robust. When computing a partial velocity you have some extra information at hand that may provide useful.

But a velocity vector has two more important pieces of information that a normal vector doesn't have: (1) it is a velocity and (2) the fra

[2016-03-22 04:17] sleepdeprivation commented on #10860
Hey I think I implemented this feature in diop_solve,
however, I'm beginning to suspect I need to implement it in all the diophantine solvers?

[2016-03-22 06:56] sleepdeprivation commented on #10860
Should have read a little closer

[2016-03-22 07:08] sleepdeprivation commented on #10860
`>>> diop_solve(x**2 + y**2 - 5, dict=True)
{x: (-2, 1), y: (2, -1)}`
Fails miserably...

[2016-03-22 13:33] leosartaj commented on #5715
@rd13123013 @asmeurer This can be fixed by simply allowing 3 arguments for ``__pow__`` in ``Expr`` class. However, it looks as if ``_sympifyit``, allows only one argument. ``_sympifyit`` should be more flexible towards multiple args, I guess. Same is the case with ``call_highest_priority``.

[2016-03-22 14:11] jksuom commented on #10881
The paper in Math.Comp. is about the numerical evaluation of theta series. It is the generalization to many variables of mpmath.functions.theta. Is that essentially what an implementation of the Riemann Theta function in SymPy is expected to be?

[2016-03-22 14:33] moorepants opened #10884 "Right side matrix brackets print incorrectly"
[code]

Here is a script to get this result: https://gist.github.com/moorepants/45bec709a2cf27ebf8f9

[2016-03-22 15:00] rehassachdeva commented on #10802
Hi. could you please explain.. how  _eval_expand_tractable should work ? I just tried looking into similar `_eval_expand_` methods.

[2016-03-22 15:13] asmeurer commented on #10881
The numerical evaluation should be implemented in mpmath (https://github.com/fredrik-johansson/mpmath/issues/325). The SymPy implementation should be symbolic. That paper still has some symbolic identities that could be useful for the SymPy implementation (like the derivative formula).

[2016-03-22 15:15] lesshaste commented on #10881
It looks like mpmath needs a volunteer for this (see linked mpmath issue).

[2016-03-22 16:01] Nitin216 opened #10885 "sympy is not able to find the series expansion of asech(x)"
[code]
while WolfRamAlpha is able to get the expansion which is

`((log(2)-log(x))-x^2/4-(3 x^4)/32-(5 x^6)/96+O(x^7))+2 i pi floor((arg(x)+pi)/(2 pi))`

[2016-03-22 16:35] Shekharrajak commented on #9616
Current master branch returns correct answer:
[code]

[2016-03-22 16:39] moorepants commented on #10865
@monthubbard, Might you like to comment on this? This is the partial velocity issue that I discussed with you the other day, but this conversation is code heavy, so you might not be interested, fyi.

[2016-03-22 18:42] rd13123013 opened #10886 "No solution by nthroot_mod"
[code]

[2016-03-22 21:25] #10886 closed

[2016-03-22 22:13] bjodah commented on #10867
Fixed in #10873

[2016-03-22 22:13] #10867 closed

[2016-03-23 00:12] frankwang95 commented on #10884
Are you using ipython? Output looks fine in the standard python interpreter.

[2016-03-23 00:27] frankwang95 commented on #10859
I'd like to solve this.

[2016-03-23 01:12] asmeurer commented on #10859
We should define `__nonzero__`. I think it defaults to calling len if it isn't defined.

[2016-03-23 02:07] moorepants commented on #10884
Yes, this was IPython 4.X.

[2016-03-23 03:11] sleepdeprivation commented on #10860
Ok, how about [this](https://github.com/sympy/sympy/compare/master...sleepdeprivation:diopKwargs?expand=1) ?
It's passing the relevant tests:
[code]
I'm having trouble adding this change to the main diop_solve.
The last pull request I did (aside from being a failure from a functionality point of view)  failed a "slow" test. Which I took to mean it was unreasonably slow.
In addition, the main diop_

[2016-03-23 03:40] frankwang95 commented on #10859
Is it a problem then that `len` can be called on `ProductSet` type objects?

[2016-03-23 05:07] leosartaj commented on #10859
Consider,

[code]

The length in this case should be 4. If you want to implement ``__len__`` you will need to cover these cases as well. Defining, ``__nonzero__`` should be much easier.

[2016-03-23 05:08] Nitin216 commented on #10868
Hey wrat, I think i got that asech(x) is not expanding right. I have already opened an issue #10885 and found the solution too.

[2016-03-23 13:45] #10836 closed

[2016-03-23 13:59] Nitin216 opened #10891 "expand_log(x) not working Sympy Version:1.0.1.dev"
[code]

[2016-03-23 14:03] bjodah opened #10892 "Commutator algebra could be improved"
From http://stackoverflow.com/questions/36095622

[code]

where the expected output would be `0` but it is:
[code]
one can invoke the `.doit()` method:
[code]
but arguably `Commutator._eval_expand_commutator` should already know this identity.

[2016-03-23 14:05] leosartaj commented on #10891
See [this](https://gitter.im/sympy/sympy?at=56f2882e2d4bbff80a3fefb6).

[2016-03-23 14:08] Nitin216 commented on #10891
Thank You @leosartaj again. I am gonna close this issue.

[2016-03-23 14:08] #10891 closed

[2016-03-23 14:09] #10885 closed

[2016-03-23 14:10] leosartaj commented on #10715
@aravindkanna It seems to me you are mixing namespaces here (it's bad to do from ``from sympy import *``).

@emilienkofman SymPy has it's own ``Number`` class and we do not use ``numbers.Number`` class for defining things like ``Rational``, etc.

I don't see an issue here. Closing. Feel free to reopen, if something else comes up.

[2016-03-23 14:10] #10715 closed

[2016-03-23 14:19] frankwang95 commented on #10859
I submitted the pull request, having defined `__nonzero__`.

In response to leosartaj, Implementing `__len__` for intervals would be the only problem. It is already defined for ProductSet to be the product of each of the elements in `self.arg`.  The only question is to how to naturally define `__len__` on intervals.

[2016-03-23 14:32] rehassachdeva commented on #10802
Hi.
As i understood we can implement `_eval_expand_tractable` to return hyperexpand(self).
But where should we call `e.expand(tractable=true)` ?
Would it be correct to do something like
[code]

[2016-03-23 15:49] asmeurer commented on #10859
You can't define `__len__` on intervals. The mathematical answer would be some kind of infinity, but `__len__` can only return an int (https://docs.python.org/3.5/reference/datamodel.html#object.__len__). Hence, the current behavior or raising a TypeError is the correct one.

[2016-03-23 17:45] emilienkofman commented on #10715
Ok it just does not fit [the standard way to check that some argument is a numeric value](https://docs.python.org/2/library/numbers.html):

[2016-03-23 18:48] leosartaj commented on #10715
I guess, ``is_number`` can be used in this case.

eg.

[code]

[2016-03-23 19:21] smichr commented on #10876
I'll check later this evening. I just made two changes as suggested above. But I'll see if I can find those and open a PR or make a branch/diff availiable.

[2016-03-23 19:41] Nitin216 commented on #10607
@jpikonen As sympy evaluates the value in function first so that's why it is taking so much time.
It first tries to calculate factorial of large number at which it got stuck.If it is done, then it evaluates the expression inside using wrapper class to get the answer. So it does not know how to see pi*anything first without evaluating it.

[2016-03-23 20:21] Nitin216 commented on #10382
@asmeurer Hey, is this issue done or not.

[2016-03-23 20:36] #10801 closed

[2016-03-23 20:40] #10821 closed

[2016-03-23 20:54] asmeurer commented on #10382
I don't think so. Feel free to work on it.

[2016-03-23 20:58] leosartaj commented on #10382
@asmeurer does ``rewrite`` accept a singleton?

[2016-03-23 21:10] leosartaj opened #10894 "Allow GoldenRatio to be written in sqrt form"
Desired functionality,

[code]

[2016-03-23 22:30] harmor11 commented on #10894
Hello,
I am a beginner at fixing issues, but I would like to contribute.
What exactly is S? (in S.GoldenRatio)

[2016-03-23 22:40] harmor11 commented on #10894
Actually, 1/2 + sqrt(5)/2 can be achieved by
`>>> GoldenRatio.expand(func=true)`

[2016-03-24 04:51] moorepants commented on #10865
I've proposed a fix at #10895 that is the simplest fix I can think of. I may open another pull request in the future to move the partial velocity functionality to Point and ReferenceFrame instead of having it operate on arbitrary vectors.

[2016-03-24 07:51] leosartaj commented on #10894
``S`` is short for ``SingletonRegistry``. It is just a registry for all the singletons. Surprisingly I don't see any [docs](http://docs.sympy.org/latest/modules/core.html#s) for it.

``>>> GoldenRatio.expand(func=true)``

Yes, correct. It would be nice if this can also be achieved using ``rewrite``.

[2016-03-24 08:03] thisch opened #10897 "rewrite im() in terms of re() and vice versa"
There is a bug in the rewrite logic in ``complexes.py`` (see https://github.com/sympy/sympy/pull/8359#issuecomment-200560081 and https://github.com/sympy/sympy/pull/8359#issuecomment-200713532).

The expected output should be:
[code]

[2016-03-24 11:57] jpikonen commented on #10607
Hi,

It would be nice to have something like (sub)expression property list
available. That would make many quick simplifications possible.

In these trigonometric examples it would mention that the subexpressions
have properties like integers, odd/even integer etc.

BR

Jari-Pekka Ikonen

23.3.2016, 21:41, Nitin Chaudhary kirjoitti:

[2016-03-24 12:17] rehassachdeva opened #10901 "Limit of expression with binomial and sin doesn't evaluate"
[code]

Wolfram result is 0.
https://www.wolframalpha.com/input/?i=limit%28%28sin%28x%29%2Fx%29*16**x%2F%28x*binomial%282*x,x%29**2%29,+x,+oo%29

[2016-03-24 15:18] degeawapsh commented on #10868
In the first  issue, we should have i+oo = oo but Sympy give the wrong result :
[code]
It shows us that the bug is not by the limit function itself.
I'm new to this project, can anyone tell me where to fix this issue.

[2016-03-24 15:43] isuruf commented on #10519
Codecov is much better. In SymEngine, we tried both and codecov is better because of the ability to see the coverage of the lines changed in the PR, seeing the lines of new files in the PR and the browser extensions.

[2016-03-24 15:52] kshitij10496 commented on #10140
How about using an indexed union to represent the solution in such cases?
Refer : #9815

[2016-03-24 16:18] moorepants opened #10903 "doctest in master is failing"
[code]

[2016-03-24 16:28] leosartaj commented on #10903
#10902

[2016-03-24 16:46] asmeurer commented on #10519
Yep, from what I've seen, codecov is better. It should be trivial to get set up. Let's definitely disable the commenting on PRs if we do, though (that's really annoying).

[2016-03-24 19:46] asmeurer commented on #10382
No, it doesn't look like it works. rewrite expects a string or a class.  Perhaps for certain instances it should check the class of the instance. Maybe instances of NumberSymbol?

[2016-03-24 19:47] asmeurer commented on #10382
Or we could just do it for all instances. But rewrite(sin(x)) being the same as rewrite(sin) seems a bit odd, and it would be an unintended consequence.

[2016-03-24 19:56] leosartaj commented on #10382
I think we can support instances of ``NumberSymbol``. This will be a special case, though. They are generally all singletons, right? By allowing this something like ``_eval_rewrite_as_GoldenRatio`` can be allowed. Presently, for solving the current issue. I see when can either define ``_eval_rewrite_as_tractable`` that returns in the form of ``GoldenRatio``. Or we could simply change ``_eval_rewri

[2016-03-24 22:01] augustt198 opened #10905 "Simple substitution integral fails"
For some reason this simple u-substitution integral doesn't work:
[code]

The answer should be `tan(x**2)`.

[2016-03-24 22:10] leosartaj commented on #10905
This works,

[code]

[2016-03-24 22:22] augustt198 commented on #10905
Ok, but I'm more interested in making the original integral work instead of an equivalent integral. Should some type of rewrite function be used on the integral always?

[2016-03-24 22:24] leosartaj commented on #10905
i was just stating what works and what doesn't. Ideally sympy should be able to compute the integral of  ``2*x * sec(x**2)**2``.

[2016-03-25 04:57] #10903 closed

[2016-03-25 05:10] Nitin216 commented on #10897
This issue is resolved by PR #10899

[2016-03-25 05:11] Nitin216 commented on #10894
This issue is resolved from #10900 PR

[2016-03-25 11:56] SHIVAPRASAD96 opened #10909 "statement is not being accepted in Python3.4.4rc1 Shell"
The following statement is not being accepted in 3.4.4rc1 Shell
 x,y,z=symbols('x y z')
Error shown is:
Traceback (most recent call last):
  File "<pyshell#6>", line 1, in <module>
    x,y,z=symbols('x y z')
NameError: name 'symbols' is not defined

[2016-03-25 11:58] leosartaj commented on #10909
Did you import sympy?

[2016-03-25 12:33] SHIVAPRASAD96 commented on #10909
Yes i imported sympy

[2016-03-25 12:36] SHIVAPRASAD96 commented on #10909
it got fixed thanks, we need to give import and that statement on after other.

[2016-03-25 12:52] augustt198 commented on #10905
Should the integrand be rewritten in terms of non-reciprocal trig functions?
[code]
doesn't work either.

[2016-03-25 13:03] #10909 closed

[2016-03-25 17:41] akritas opened #10912 "fourier_series cannot be imported"
from sympy import fourier_series, pi, cos

results in

ImportError: cannot import name fourier_series

[2016-03-25 17:42] leosartaj commented on #10912
Which version you are using?

[2016-03-25 18:09] ChristerNilsson opened #10913 "intersection does not finish"
_Calculating successive smaller and smaller circles hangs when producing the third circle.
CPU is 0.38 secs, 1.8 secs, > five hours waiting for the third circle._

[code]

[2016-03-25 18:15] zanzibar7 commented on #10901
Currently, we do correctly evaluate the upper and lower bound limits.
[code]
The difficulty is in handling the oscillatory term, I think.

[2016-03-25 18:28] akritas commented on #10912
The very latest I think. From github.
Quoting Sartaj Singh <notifications@github.com>:

[2016-03-25 18:32] leosartaj commented on #10912
[code]

This should work for SymPy-1.0

[2016-03-25 18:36] zanzibar7 commented on #9558
`limit(sin(0-1/x)**15,x,oo)` also hangs. although `limit(sin(0-1/x)**13,x,oo)` completes successfully but slowly.  Feels like this might be an issue with recursion reaching it's limitations.  Approaching from the positive side is probably working better because on the negative side, powers of negatives force us into the complex plane in general (though not when the power is an integer!).

[2016-03-25 18:40] ChristerNilsson commented on #10913
Results in my comment above were based on version 0.7.6.
I switched to Sympy 1.0 and the third circle is now calulated in 481 secs.

So, this issue can be closed.

[2016-03-25 18:40] #10913 closed

[2016-03-25 18:49] akritas commented on #10912
[2] gives me the same Import error.

[3] gives me

0.7.3

Quoting Sartaj Singh <notifications@github.com>:

[2016-03-25 18:50] zanzibar7 commented on #7910
This has been fixed, and can be closed.

[code]

[2016-03-25 18:51] rehassachdeva commented on #10901
Yes.
Also, separately we're able to evaluate even for oscillatory term.
[code]

[2016-03-25 18:54] akritas commented on #10912
On my other computer (ubuntu) I have 0.7.4.1 and also does not work.

Quoting Sartaj Singh <notifications@github.com>:

[2016-03-25 18:55] leosartaj commented on #10912
You should update your SymPy version to the latest 1.0. Instructions can be found [here](http://docs.sympy.org/latest/install.html).

[2016-03-25 18:57] akritas commented on #10912
Thank you. Will do.

Quoting Sartaj Singh <notifications@github.com>:

[2016-03-25 18:58] #10912 closed

[2016-03-25 19:16] zanzibar7 commented on #7171
These rewrites were designed to force evaluation of things like `sin(pi/8)` in terms of radicals.
Somehow, the check of the argument isn't checked any more.

[2016-03-25 19:37] zanzibar7 commented on #10901
Hm.  Tried running with
[code]
but the debugging output doesn't show me any light.

[code]

So, not the oscillations?  the `16` ?!

[2016-03-25 22:27] #5412 closed

[2016-03-25 23:11] #10784 closed

[2016-03-26 00:26] #10854 closed

[2016-03-26 05:03] Nitin216 commented on #10868
@degeawapsh Currently working on this issue.

[2016-03-26 13:56] Nitin216 commented on #10868
@degeawapsh Sympy assumes ```oo``` as real number and ```I``` as Imaginary part. That is why it is doing so. If you want to see the difference see ```zoo + I```.

[2016-03-26 21:50] zanzibar7 commented on #10877
Maple gives the indefinite integral as
[code]

How should one evaluate this integral?  Repeated integration by parts?

[2016-03-26 22:52] zanzibar7 commented on #10840
Currently, we yield the following, which you probably dislike even more.
[code]
We had a related conversation about this a little while back regarding how to deal with `Heaviside(0)` (see issue #9907), and even how to handle `1**oo`.  Specifically, in my research, evaluating `Heaviside(0)` at all in my work yields in-correct answers without work-arounds because the `Heaviside` is representing the

[2016-03-27 03:45] smichr commented on #9684
duplicates #7067

[2016-03-27 03:45] #9684 closed

[2016-03-27 07:03] #10897 closed

[2016-03-27 07:08] #10894 closed

[2016-03-27 16:35] asmeurer commented on #6257
There should at least be a flag to subs to do this. I think `has` is fine, at least for a first implementation. See https://stackoverflow.com/questions/36197283/recursive-substitution-in-sympy.

[2016-03-27 16:37] asmeurer commented on #6257
Also, I find myself using topological_sort on expressions a lot. We should put an example in the docstring of topological_sort for how to use it with expressions.

[2016-03-28 08:06] iambrosie opened #10921 "sympy.org domain has been suspended"

[2016-03-28 08:38] leosartaj commented on #10921
Ping @asmeurer  @certik

[2016-03-28 15:52] postvakje commented on #10905
The following results in `tan(x**2)`:

`simplify(integrate((2*x * sec(x**2)**2).rewrite(tan),x))`

as does

`integrate(simplify((2*x * sec(x**2)**2).rewrite(tan)),x)`

and

`simplify(integrate((2*x * sec(x**2)**2).rewrite(cos),x))`

[2016-03-28 15:55] isuruf commented on #9658
See https://github.com/grosser/travis_dedup

[2016-03-28 17:02] asmeurer commented on #9923
https://github.com/sympy/sympy/pull/10896 was merged.

[2016-03-28 17:02] #9923 closed

[2016-03-28 20:42] #10742 closed

[2016-03-29 01:34] zanzibar7 opened #10922 "Infinite recursion in Delta function integration"
If we try

[code]

we get an infinite recursion.  The problem is different but related to issues #4523 and #6968 .
Looking through the code, it seems `change_mul()` is called recursively without appropriate
checks on its arguments.  I have an simple fix to propose.

[2016-03-29 07:12] degeawapsh commented on #10921
The domain was back.

[2016-03-29 07:15] iambrosie commented on #10921
Then I guess we could close this.

[2016-03-29 07:15] #10921 closed

[2016-03-29 13:46] proy87 opened #10924 "Trying to solve initial value problem for dsolve gives maximum recursion depth exceeded"
OK.
So, I have this commands, last of which is given RuntimeError:
`from sympy.abc import x`
`from sympy import *`
`y=Function('y')(x)`
`eq = -2*x*y + (3*x**2 - 2*y**2)*Derivative(y, x)`
`solution=dsolve(eq)[0]`
`solve(solution.subs({x: 0, y:1}), [Symbol('C1')],dict=True)`

Odd enough, because if I debugged this and saw expression for solution.subs({x: 0, y:1}).
If I enter it in Sympy directly, it

[2016-03-29 19:49] asmeurer opened #10925 "plot doesn't work with Piecewise"
From https://stackoverflow.com/questions/36258692/attributeerror-booleanfalse-object-has-no-attribute-evalf-piecewise-plotti

[code]

[2016-03-29 19:52] asmeurer commented on #10925
I don't like this "experimental" lambdify. If you use the normal lambdify, it can evaluate the Piecewise just fine.

[2016-03-29 21:29] ianhbell opened #10926 "latex output for partial derivative to a power is wrong"
In sympy 1.0, this latex output is incorrect:
[code]
![capture](https://cloud.githubusercontent.com/assets/11966765/14124475/ec66405e-f5c2-11e5-8c23-cf3d899000c3.PNG)

[2016-03-29 21:31] ianhbell commented on #10926
From 0.7.6 (correct):
![capture](https://cloud.githubusercontent.com/assets/11966765/14124537/4339379c-f5c3-11e5-822c-b78144c2b08a.PNG)

[2016-03-30 00:03] #10401 closed

[2016-03-30 05:16] mvnnn commented on #10682
@smichr That's issue fixed in PR #10644 so close this issue.

[2016-03-30 06:14] cbm755 opened #10927 "Regression: `Eq(x, oo)` should not evaluate"
After #10644, `Eq(x, oo)` is now False, but should be unevaluated (as it was before #10644).  I thought I'd added tests for this but perhaps I ended up dropping the patch---if so, sorry!

(`Eq(f, oo)` where `f = symbols('f', finite=True)` could be False: I think it was unevaluated before #10644.)

[2016-03-30 07:01] isuruf opened #10928 "Rational class improvements"
- [ ] Rational `+`,`-` Integer triggers a gcd call, but not needed.
- [ ] Rational `*`,`/` Integer triggers a gcd call, but only `gcd(Rational.q, Integer)` is needed
- [ ] `Integer(gmpy2.mpz(10))` is not stored as a `mpz`, but as an `int` although `mpz` is a type in `SYMPY_INTS`

[2016-03-30 10:25] proy87 opened #10930 "Simple linear equation raises NotAlgebraic in solve"
`solve([Eq(9*x, pi**2)],[x])` raises NotAlgebraic Exception.

However, solution is simple: x = pi**2/9

[2016-03-30 13:02] AkshaySiramdas commented on #10930
solve(Eq(9*x, pi**)) gives the desired result

[2016-03-30 15:15] Nitin216 commented on #10930
@proy87 You are using '[' wrong. Due to these it is giving NotAlgrebraic.
My output is coming right
[code]

[2016-03-30 16:10] gxyd opened #10931 "`S.Integers - S.Integers` does not evaluate"
[code]

[2016-03-30 16:28] SHIVAPRASAD96 opened #10932 "Existing code of sympy/sympy/functions/combinatorial/factorials.py"
sympy/sympy/functions/combinatorial/factorials.py
 _small_swing = [
        1, 1, 1, 3, 3, 15, 5, 35, 35, 315, 63, 693, 231, 3003, 429, 6435, 6435, 109395,
        12155, 230945, 46189, 969969, 88179, 2028117, 676039, 16900975, 1300075,
        35102025, 5014575, 145422675, 9694845, 300540195, 300540195
    ]
can someone same why is _small_swing list confined to 300540195???

[2016-03-30 16:31] asmeurer opened #10933 "TypeError: __new__() missing 1 required positional argument: 'cond' from solve"
From https://stackoverflow.com/questions/36286862/polynomial-function-cannot-be-solved-by-python-sympy

[code]

[2016-03-30 17:12] asmeurer opened #10934 "Recursion error lambdifying summation with Indexed"
[code]

It works if you use a MatrixSymbol

[code]

See also https://stackoverflow.com/questions/36282172/is-it-possible-to-index-numpy-array-with-sympy-symbols/36315408.

[2016-03-30 17:18] Nitin216 commented on #10931
@gxyd can i work on this one.

[2016-03-30 17:19] gxyd commented on #10931
Yes, you can work on this.

On Wednesday 30 March 2016 10:48 PM, Nitin Chaudhary wrote:

[2016-03-30 17:20] asmeurer commented on #10934
Fix https://github.com/sympy/sympy/pull/10935

[2016-03-30 17:41] Nitin216 commented on #10931
@gxyd is
[code]
true or not ??

[2016-03-30 17:51] proy87 commented on #10930
@Nitin216 , following doesn't work:
`from sympy.abc import A,B,C`
`from sympy import pi, Eq, solve`
`solve([Eq(A + B, 0), Eq(C, 0), Eq(9*A, pi**2)])`

[2016-03-30 20:26] asmeurer opened #10936 "test_dice_bayes in test_finite_rv.py it too slow"
It sometimes takes more than 10 minutes to run, which causes Travis to fail.

We should figure out why it is slow and see if it can be sped up. It doesn't seem like it should be slow, but maybe the computation is harder than I'm imagining it is.

If we can't figure it out, we should mark it as slow. But we should try to figure it out first before just marking it as slow.

[2016-03-30 21:08] #10934 closed

[2016-03-31 03:36] #10865 closed

[2016-03-31 07:59] pelegm opened #10938 "FallingFactorial(k, k-1) can be simplified"
Currently, if
[code]
then
[code]
but
[code]
and even
[code]
and
[code]
raises
[code]

I think `ff(k, k-1)` should be simplified to `factorial(k)`, just like `ff(k, k)`.

[2016-03-31 10:37] Nitin216 commented on #10931
ping @gxyd

[2016-03-31 10:51] Nitin216 commented on #10938
@pelegm If you use rewrite with ff then it gives right answer.
[code]

[2016-03-31 11:25] Nitin216 commented on #10930
@proy87 if u interchange the import in you second code then it will also give error. I don't know why this is happening

[2016-03-31 12:04] loeiten opened #10939 "Bug when taking limit of a nsimplified function"
When I take the `limit` of a particular function which has first been `nsimplify`ed, I get a `NotImplementedError`. However, the error is only raised if I use `nsimplify` before `limit`. What is maybe more strange is that the bug is only occurring with certain functions, see below.

[code]

Gives the following error

[code]

[code]