[2015-08-19 13:15] jorisvandenbossche commented on #9838
This was due to a `ip.__module__.startswith('IPython')` which is now ipykernel', and already fixed by #9418! Sorry for the noise.

Are there plans to release a bugfix for this? (or just a new release in the near future?)

[2015-08-19 13:15] #9838 closed

[2015-08-19 17:22] moorepants commented on #9838
@asmeurer This might warrant a bug fix release (or new one soon), as it will break for everyone that upgrades to IPython 4.0. Or we need to tell the IPython guys this and see if they have an solution from their end.

[2015-08-19 18:33] tbsexton opened #9840 "Hessian of a Matrix function (MatrixSymbol object has no attribute _diff_wrt)"
This input:

[code]
Gives
[code]

Bypassing this by simply finding the 1st derivative and combining the terms into a single matrix like

[code]

The hessian should collapse to something like `H+1/2*H.T`. How to get this functionality?

[2015-08-20 17:20] richardotis commented on #9389
What about a patch for `TheanoPrinter` like this? Something like this would need to be done for the code printer in `autowrap` too. CC @moorepants @jcrist  @mrocklin

[code]

[2015-08-21 01:31] mcho421 opened #9841 "manualintegrate((3**x+4**x)/5**x, x) takes long time"
[code]

I'm not even sure if the manualintegrate terminates. The answer should be: https://www.math.ucdavis.edu/~kouba/CalcTwoDIRECTORY/exponsoldirectory/ExponSol2.html#SOLUTION%209

Also if you interrupt it and try it again, you get an error:

[code]

On master (a2f490f8abdd678549a94d84258085f161b84876)

[2015-08-21 05:23] shivamvats opened #9843 "rs_series fails if input involves division"
[code]

[2015-08-21 06:33] #9773 closed

[2015-08-21 19:34] aktech opened #9846 "`test_conditonset()` in solveset.py fails in master"
[code]

This is because #9591  was in after tests in #9790 passed :
which caused `solveset(Eq(sin(Abs(x)), 1), x, domain=S.Reals)` return solution, which earlier was returning `NotImplementedError`

[code]

[2015-08-21 19:59] aktech commented on #9846
Possible Fix

[code]

[2015-08-22 07:34] gxyd opened #9848 "Defining printing for `S.Naturals0`"
[code]

There should should be some difference in their printing may be putting a `N0`(0 in subscript) for `S.Naturals0`.

[2015-08-22 08:43] #9846 closed

[2015-08-22 11:35] debugger22 commented on #9846
Thanks for fixing it! Two of my PRs were showing this failure.

[2015-08-22 13:44] gxyd opened #9849 "solveset(Abs(sin(x)) + 1, x, S.Reals) returns `Non-Empty`"
[code]
While the `Eq` version works correctly
[code]
The reason for this i think is(i am guessing):
[code]

[2015-08-22 13:45] gxyd commented on #9849
@aktech do you agree with the reason ?

[2015-08-22 15:20] aktech commented on #9849
The reason for this is `ConditionSet` doesn't simplify `ConditionSet(Lambda(x, False), (-oo, oo))`, even though it's implicitly an `EmptySet()`. I think `ConditionSet` can be made to return `EmptySet` when the second argument to `Lambda` is `False` .

[2015-08-22 15:27] aktech commented on #9848
It's not the case, printing is not defined for `Naturals0`.

[code]
Possible issue can be: Define printing for `Naturals0`.

[2015-08-22 15:33] aktech commented on #9742
It works now:

[code]

[2015-08-22 15:33] #9742 closed

[2015-08-22 16:03] gxyd commented on #9848
@aktech I have updated the title of the issue.

[2015-08-22 16:54] gxyd commented on #9742
Isn't it still required to add the `corresponding test`, and figure out which PR fixed this ?

[2015-08-22 17:06] aktech commented on #9742
Oh, I see #9743 was not merged, hence the [XFAILing](https://github.com/sympy/sympy/pull/9743/files#diff-fe18b6ce3631e6ad441c4d6cfc5eb58dR328) Test is not already present. Feel free to open an issue/PR for adding the test. Btw, I don't remember where it was fixed.

[2015-08-22 22:37] #9632 closed

[2015-08-23 07:35] thessem opened #9852 "Second derivatives of coordinates cause an error in Kane's method linearization"
I'm attempting to linearize the output of Kane's method with `linearizer = KM.to_linearizer()` and I am getting the following error

When checking for dynamic symbols it populates an excluded symbol list with `sym_list = set(Matrix([q, self._qdot, u, self._udot, uaux, uauxdot]))` but I have second derivatives of my coordinates in the equations, causing this check to fail (whereas first derivatives

[2015-08-23 08:14] moorepants commented on #9852
Kane's method requires that you substitute the definitions of the generalized speeds into all of the velocity expressions before forming the equations of motion. If you do that, then you should not have any second derivatives in the equations of motion, they should be in first order form with only first derivatives present.

Why do you have second derivatives in your equations of motion?

[2015-08-23 12:01] thessem commented on #9852
I had to add a a term to my u_ind, since I couldn't generate a list of velocity constraints without a coordinate 1st derivative. This was the obvious thing to do in retrospect, and so the failure to run the linearisation is a good sanity check.

I'm closing the issue, thanks.

[2015-08-23 12:01] #9852 closed

[2015-08-23 17:45] Erotemic commented on #9802
I did. Seems to be fine.

[2015-08-24 08:28] worldmaker18349276 opened #9855 "bad subset evaluation"

[2015-08-24 20:08] smichr commented on #9834
Probably due to the inability of the checker to determine that the solution satisfies the equation set; using flag `check=False` gives a solution for the first example.

[2015-08-25 05:53] mcho421 opened #9858 "manualintegrate(exp(x)*cos(exp(x)), x) infinite loop"
`manualintegrate(exp(x)*cos(exp(x)), x)` goes into an infinite loop when it tries to do integration by parts.

It picks `cos(exp(x))` as u and `exp(x)` as dv by the LIATE rule, and then tries to evaluate the integral v*du. This causes it to try integration by parts again and causes the infinite recursion.

[2015-08-25 12:32] #9849 closed

[2015-08-25 12:42] #9848 closed

[2015-08-25 15:03] FabricioS opened #9859 "[diffgeom] Trouble with base_oneform for non cartesian coordinates system"
I was trying to perform some computation on fields defined in cylindrical coordinates when I got caught by this puzzling behaviour.
[code]
gives 0 which is wrong as de_r/dtheta should be e_theta.
I may have confused by the documentation but it seems to it does not account for the change in the base vectors depending on the coordinates.

[2015-08-25 18:01] hargup opened #9860 "Change interface for ConditionSet"
In a recent [PR](https://github.com/sympy/sympy/pull/9696) we added a ConditionSet class to represent sets of form `{x | condition(x) is True for x in S}`. The current interface to create a condition set is `ConditionSet(imageset(var, condition), input_set)`. Since the first argument is always an `imageset` the interface can be simplified to `ConditionSet(var, condition, input_set)`.

[2015-08-26 00:18] QuLogic opened #9861 "Symbol names with sub/superscripts interact badly with parentheses"
[Here](http://live.sympy.org/?evaluate=Symbol%28%27x_a%27%29%0A%23--%0ASymbol%28%27x^a%27%29%0A%23--%0ASymbol%28%27x^ab%27%29%0A%23--%0ASymbol%28%27x^{a}b%27%29%0A%23--%0ASymbol%28%27{x^a}b%27%29%0A%23--%0ASymbol%28%27x_1^a%27%29%0A%23--%0ASymbol%28%27%28x_1%29^a%27%29%0A%23--%0ASymbol%28%27%28{x_1}%29^a%27%29%0A%23--%0ASymbol%28%27{%28{x_1}%29}^a%27%29%0A%23--%0A) is a SymPy Live example of sub/s

[2015-08-26 01:45] moorepants commented on #9861
Can you post what your desired output is? (and what you would expect the input to be)

Note, that our LaTeX printer tries to do a what the user might have intended. It doesn't convert full LaTeX symbol names directly to LaTeX.

[2015-08-26 02:03] QuLogic commented on #9861
As noted, I am aware that the parser tries to use the full name following a super/subscript (like in 7/8), but I also see there's a workaround using braces in 9.

But in 12/13, no amount of braces allow me to put the superscript on the closing parenthesis. It _always_ moves to the `x`. In LaTeX terms, I'd expect the output to be `(x_1)^a`, and if the extra braces are required, then it would be `{(

[2015-08-26 02:28] moorepants commented on #9861
You could try the `symbol_names` kwarg for the `latex()` function to enforce names of symbols. I think the trouble is that you are mixing exponents with superscripts and sympy doesn't have an easy way to tell what you are trying to do.

Note that you can see all of the desired behavior of our latex printer here:

https://github.com/sympy/sympy/blob/master/sympy/printing/tests/test_latex.py

In par

[2015-08-26 03:18] QuLogic commented on #9861
I don't understand; I am passing this text to `Symbol`, therefore it is _the_ name. Why should there be any confusion about whether I meant the exponential operation?

[2015-08-26 04:00] moorepants commented on #9861
In SymPy, we have objects that represent mathematical symbols and mathematical expressions (among other things). The printers then try to give an appropriate representation of these objects. I could name a symbol something like:

`symbol = Symbol('(a**2+b**2)**(-1/2)')`

but that is not a common way to represent symbols. But it is a common way to represent expressions made up of symbols. It seems

[2015-08-26 04:02] moorepants commented on #9861
The confusion is because SymPy symbols expect the user to pass in "reasonable" names. Then the printers try to do reasonable things with that set of reasonable names. SymPy symbols don't really support very unusual names, e.g. those that look like expressions.

[2015-08-26 04:58] QuLogic commented on #9861
If this is true, then there should be some documentation explaining what "reasonable" means. When I asked on gitter, @asmeurer told me there were _no_ restrictions on names.

[2015-08-26 05:14] moorepants commented on #9861
Aaron is right, there are no restrictions on names for Symbols (i.e. anything that can be held in a Python string). I should have said "The confusion is because SymPy printers expect the user to pass in "reasonable" names". Each printer can only "correctly" print some finite set of symbol names. If you want a printer to print special styles of symbol names then you have to create that printer. Our

[2015-08-26 09:34] oliverlee commented on #9641
Test doesn't finish after 42000 seconds if subs is used instead of msubs.

[2015-08-26 11:52] peterstangl opened #9862 "[tensor] error when retrieving data from TensAdd instance involving fully contracted tensor and scalar"
If a `TensAdd` instance is formed by the sum of a fully contracted tensor (i.e. a `TensMul` instance with an empty list as the `free_args` attribute) and a scalar (a usual sympy symbol), there is an error when retrieving its data.

Consider the following example:

First define a Lorentz Tensor `P` and a scalar `m`
[code]
Now one can contract `P` with itself and retrieve the data:
[code]
This gives

[2015-08-26 12:46] peterstangl commented on #9862
I tried the same thing as above with the newest sympy version from the github master branch. Here the last error message after entering
[code]
is
[code]
which is not a big deal since now `Expr1_0` is already a sympy `Mul` instance and so there is no need to retrieve data.

But the actual problem still remains. When entering
[code]
one gets
[code]

[2015-08-26 14:37] gxyd commented on #9860
In this what is the expected value of
[code]
?
I am asking since, if i use `Eq(sin(x), 0)` as answer of above question, then i have to make changes to the `printing` of `Condition` (a little more things to do then)

[2015-08-26 21:34] hargup commented on #9860
[code]
?
I am asking since, if i use `Eq(sin(x), 0)` as answer of above question, then i have to make changes to the `printing` of `Condition` (a little more things to do then)

Yes, `.condition` shoulld` return the condition not the underlying imageset.

[2015-08-27 04:01] aktech opened #9865 "Use Dummy symbols in ComplexPlane"
We implemented `ComplexPlane` here #9463,  Currently we defined symbols internally as:
[code]
The above symbols should be changed to Dummy symbols.

[2015-08-27 05:05] fretchen opened #9866 "Wigner symbols and Clebsch Gordon at several places in the code."
The Wigner symbols and Clebsch Gordan coefficients can be found at two places:

http://docs.sympy.org/latest/modules/physics/quantum/cg.html
http://docs.sympy.org/dev/modules/physics/wigner.html

[2015-08-27 05:05] fretchen commented on #8747
I can confirm the error. Did anyone find a fix ?

[2015-08-27 05:16] gxyd commented on #9865
@aktech  I agree that it is better to use `Dummy symbols` compared to `symbols` in internal calls. Is there is any specific reason(in this case) why this is necessary to be changed?

[2015-08-27 09:27] aktech commented on #9865
I think it's a bad practice in General. People may confuse these symbols with the defined symbols, in their code.

[2015-08-28 06:00] #9865 closed

[2015-08-28 07:28] aktech opened #9869 "Rename ComplexPlane to ComplexRegion"
See https://github.com/sympy/sympy/pull/9500#discussion_r37886701

The complex plane is the whole complex plane, whereas an instance of `ComplexPlane` is generally not.

[2015-08-28 09:24] gxyd commented on #7486
This "does not" seem to have been fixed. The problem is there with other `printing` in `sets`
[code]
Since in general `A U (B - C) !=  (A U B) - C`

[2015-08-28 21:43] mvanvleet opened #9871 "Lambdify performs unwanted integer division when used with with sympy.sqrt and modules='numexpr'"
The lambdify function does not correctly handle integer vs. floating point division in conjunction with sympy's native sqrt function and the numexpr module. This bug occurs in Python 2.7; Python 3 has not been tested. The following code illustrates the problem:

from __future__ import division
import numpy as np
import sympy as sp
from sympy.utilities import lambdify

#############################

[2015-08-29 00:13] asmeurer commented on #9869
Should be done before the release so we don't have to deprecate things.

[2015-08-29 06:45] aktech commented on #9869
Yeah, will do it, if no one does.

[2015-08-29 06:46] gxyd commented on #9869
@aktech  I am on it. I thought you were not around. So i started.

[2015-08-29 06:48] aktech commented on #9869
@gxyd
Cool! Go ahead. :+1:

[2015-08-29 13:28] gxyd opened #9874 ""S(1) in IndexedBase('X')" hangs"
[code]

I think we should have a `Contains` object returned here.

[2015-08-29 16:03] #9860 closed

[2015-08-29 17:16] preetskhalsa97 commented on #9869
I would like to fix this bug. Can someone please get me started?
Thanks.

[2015-08-29 17:23] gxyd commented on #7486
@jksuom can you confirm if this has been fixed or not ?

[2015-08-29 17:56] gxyd opened #9876 "A.inv() after A.row_del() and A.col_del() raises ValueError"
[code]

While this works correctly
[code]

[2015-08-29 18:03] jksuom commented on #7486
This is what I get in the first case: ``((-∞, 0) ∪ (1, ∞)) × ({1} ∪ (2, 3))``. So it seems to have been fixed.
But the other case with the complement definitely should have parentheses.

[2015-08-29 18:23] jksuom commented on #9876
The culprit seems to be [this line](https://github.com/sympy/sympy/blob/master/sympy/matrices/dense.py#L885). I does nothing if ``i == -1``.

[2015-08-29 19:27] hargup commented on #7486
@gxyd can you open up another issue for complement printing.

[2015-08-29 21:36] #9697 closed

[2015-08-30 02:07] gxyd opened #9877 "Complement Printing"
See [this](https://github.com/sympy/sympy/issues/7486#issuecomment-135709498) comment
[code]

[code]

[2015-08-30 02:08] gxyd commented on #7486
Opened #9877

[2015-08-30 09:19] jksuom commented on #9707
Fixed by #9875

[2015-08-30 09:19] #9707 closed

[2015-08-30 09:25] #9869 closed

[2015-08-30 09:27] leosartaj commented on #9869
@preetskhalsa97 this was fixed #9873. I suggest you to first look at https://github.com/sympy/sympy/wiki/Development-workflow. Then you should pick up an [easy to fix](https://github.com/sympy/sympy/labels/Easy%20to%20Fix) issue to get started.

[2015-08-30 13:16] hargup commented on #9877
@gxyd this is a low priority easy to fix issue, you should leave such issues for new people.

[2015-08-30 13:24] gxyd commented on #9877
@preetskhalsa97 you can take this up.

[2015-08-31 06:46] gxyd commented on #9877
@kshitij10496 you can take this.

[2015-08-31 06:48] kshitij10496 commented on #9877
@gxyd Thanks.

Onto it.

[2015-09-01 09:59] ketangoyani opened #9882 "Evaluate latex"
How can i get evaluate latex using sympy?

[2015-09-01 15:08] #9876 closed

[2015-09-02 09:26] bjodah commented on #9714
I got around finishing a notebook I've been writing on for a while, so
@asmeurer here is an example of what I use refine for:

http://nbviewer.ipython.org/0b794b1b216534193c02

If you try to run that notebook using SymPy master instead of 0.7.6 it essentially takes hours instead of seconds (which in my humble opinion should be considered a breakage of backward compatibility).

[2015-09-02 13:10] leosartaj commented on #9786
The following works for me in master(1d5ad9f7a3e41b5d52590cff1decf79c4748c0f0).

[code]

 I guess this is fixed. Feel free to reopen if you find something new.

[2015-09-02 13:10] #9786 closed

[2015-09-02 13:20] #9664 closed

[2015-09-02 15:05] leosartaj opened #9885 "add FormalPowerSeries.integrate to integration routines."
Currently Integration of `FormalPowerSeries` does not work when using sympy's `integrate`.

Only this works

[code]

See [this](https://github.com/sympy/sympy/pull/9782#issuecomment-134654184).

[2015-09-03 12:26] titas99 opened #9888 "init_printing(use_latex='mathjax') not working in ipython notebook 4"
Hi,

Previously I used ipython notebook 3, where init_printing(use_latex='mathjax') worked perfectly for sympy. But recently I upgraded my system, and now in ipython notebook 4 it is not working anymore. I posted this issue in ipython threads, but they suggested me to report here, as sympy might not recognize new ipython notebook 4.

Any help!!!!!! I am using sympy 0.7.6!!!!

[2015-09-03 14:32] titas99 opened #9890 "sqrt and conjugate are not commuting!!!!"
sympy sqrt and conjuagte are not commuting for symbols....

import sympy as sm
a = sm.Symbol('a')
sm.sqrt(sm.conjugate(a)) == sm.conjugate(sm.sqrt(a))
False

They are not even cancelling each other...

[2015-09-03 14:47] gxyd commented on #9890
[code]
So i guess the issue is not valid.

[2015-09-03 15:31] kshitij10496 commented on #9877
@hargup  @gxyd Sent a PR.
Please review it.

[2015-09-03 15:32] titas99 commented on #9890
Sorry, I think, I gave the wrong example ... but what about the following...

x = Symbols('x', complex=True)
sqrt( x *  conjugate(x) ) - conjugate( sqrt(x * conjugate(x) ) )

Since x * conjugate(x) is always real positive, so is its sqrt. This should always give me zero... right.
It will work correctly, if we put values on x.

P.S. corrected the original post.

[2015-09-03 16:07] moorepants commented on #9888
We are working on a bug fix release for this, see: https://github.com/sympy/sympy/pull/9883

[2015-09-03 16:51] titas99 commented on #9888
Thank you....

[2015-09-03 16:51] #9888 closed

[2015-09-04 07:42] pointhi commented on #9691
Ok, to find a sollution, I have to know some of the internal behaviour of sympy:

* is sympy using threads
* is sympy using a pipe, locking ressources or doing other things which cause problems when killing it abrupt.
* is it possible to exit sympy cleanly by raising a exception, and is sympy using system calls (because then exceptions are ignored)

https://stackoverflow.com/questions/323972/is-th

[2015-09-04 08:31] debugger22 commented on #9691
No, SymPy doesn't use threads or pipes and you can exit it by raising an
exception.

Sudhanshu Mishra

On Fri, Sep 4, 2015 at 1:12 PM, Thomas Pointhuber <notifications@github.com>
wrote:

[2015-09-04 15:31] asmeurer opened #9891 "SymPy 1.0"
This is a tracking issue for SymPy 1.0. Please note any issues that need to be fixed by that release here.

The release should be considered forthcoming, meaning that unless there are immediate plans to do something, it should be postponed.

[2015-09-04 15:54] asmeurer commented on #9891
There is also a milestone https://github.com/sympy/sympy/milestones/1.0

[2015-09-04 18:30] #9746 closed

[2015-09-05 14:39] proy87 opened #9895 "Subs RuntimeError: maximum recursion depth exceeded while calling a Python object"

[2015-09-05 14:44] gxyd commented on #9895
I guess this has been fixed in master. This is what i get in master.
[code]

[2015-09-05 15:27] juanklopper opened #9896 "Nice to have latex printing back (0.7.6.1) but Matrix([]) returns error"
Everything (latex printing as output) seems to be back to normal as far as 0.7.6.1 and Jupyter is concerned (somehow just SLOW), except Matrix() which returns an error: RuntimeError: latex program is not installed.

[2015-09-05 15:45] thisch commented on #9896
Can you provide a minimal example?

[2015-09-05 17:00] gxyd commented on #9895
I checked using `git bisect`, indicating that this was fixed in #9493 .

[2015-09-05 17:10] #9895 closed

[2015-09-06 13:07] bjodah commented on #9799
#9801 did not resolve this particular issue.

[2015-09-06 15:32] jksuom commented on #9799
This is what happens.
[code]

So ``\0`` is interpreted as a hex null character. This does not necessarily occur in SymPy, since the latex text comes via ipython/notebook.

[2015-09-06 16:07] bjodah commented on #9799
No I don't think what's happening here, I think matplotlib lacks support for \begin{cases} .... \end{cases}
I could be wrong though. See this notebook
http://nbviewer.ipython.org/aec7587270c688e701ee

[2015-09-06 16:10] bjodah commented on #9799
Ooops a typo in the last cell. Update here:
http://nbviewer.ipython.org/654feb2b1d72d9098b3b

so you are right too, even if we get past \begin{cases} we will run into problems when we reach '\\0'.

[2015-09-06 16:33] jksuom commented on #9799
I think that the failure of ``preview`` is the reason why matplotlib is attempted because of [these lines](https://github.com/sympy/sympy/blob/master/sympy/interactive/printing.py#L124).

[2015-09-06 16:36] jksuom commented on #9799
It is also true that mathtext in matplotlib only supports a subset of latex. In particular, it can not handle any of the latex environments ``\begin{...}...\end{...}``.

[2015-09-06 16:48] bjodah commented on #9799
Ah, I see, nice catch.
Here is a workaround:
https://github.com/bjodah/sympy/commit/1d925d1591469e6e5d46a74f95fb32e548749958

But I don't understand why I need four backslashes(!).

[2015-09-06 16:58] snotskie commented on #8128
Bumping this with a few more relevant examples to what I'm working on. Using random variables as parameters to other Sympy modules should definitely be a supported feature.

[code]

[code]
[code]

[code]

[2015-09-06 17:01] bjodah commented on #9755
Yes, this was fixed in #9692 and #9801

[2015-09-06 17:01] #9755 closed

[2015-09-06 17:19] jksuom commented on #9799
Does that work in ipython without notebook?

[2015-09-06 18:00] bjodah commented on #9799
It works (as in: it produces a sensible image), but it is not correct:

here is the output for Python 2:
[code]
Note the 3 backslashes (the last one escapes the space and includes it so that the 0 is misaligned with respect tot 1). Using Python 3 there are 4 backslashes left.
Which indicates that my escaping before calling `u()` here:
https://github.com/sympy/sympy/blob/master/sympy/printing/previ

[2015-09-06 18:36] jksuom commented on #9799
That is what I suspected...
Probably we should add ``backend='dvipng'`` to the ``latex_to_png`` call in ``sympy.interactive.printing``.

[2015-09-06 19:22] jksuom commented on #9799
[This](http://stackoverflow.com/questions/647769/why-cant-pythons-raw-string-literals-end-with-a-single-backslash) seems to explain why you need four backslashes. (A third one would escape the quote character.)

[2015-09-07 05:03] jksuom commented on #9799
The null character problem could probably be solved by replacing ``r"\\"`` with ``"\\\\\n"`` (not raw). It should be acceptable to add a newline after the backslashes in latex.

[2015-09-07 11:07] jksuom commented on #9799
That does not seem to help with the notebook. It does work in SymPy but the resulting latex string will be modified somewhere, probably in ipython, ipykernel or notebook.

[2015-09-07 14:33] jksuom commented on #9799
It appears that ipython etc. are not to blame. [This line](https://github.com/sympy/sympy/blob/master/sympy/printing/preview.py#L196) will replace a pair of backslashes with a single one spoiling the latex cases string.

I have not been able to find documentation on ``u()``.

[2015-09-07 18:35] alchemyst opened #9900 "Regression: Second order tf inverse_laplace_transform"
The following code returns a workable inverse in version 0.7.5 but causes an error in 0.7.6.1:

    import sympy
    tau, zeta, t = sympy.symbols('tau, zeta, t', real=True, positive=True)
    s = sympy.Symbol('s')

    G = 1/(tau**2*s**2 + 2*tau*zeta*s + 1)
    print sympy.inverse_laplace_transform(G, s, t)

Error:

    Traceback (most recent call last):
      File "bugreport_secondorder_inverse.p

[2015-09-07 18:55] jksuom commented on #9900
The error no longer appears in the current development version (0.7.7-dev),

[2015-09-07 19:09] alchemyst commented on #9900
Thanks, I'll try that.

[2015-09-07 19:09] #9900 closed

[2015-09-07 21:22] bjodah commented on #9799
Hmm.. I thought I protected pairs of backslashes two lines above by including [r'\\'] in the "preprocessing". `u()` is defined [here](https://github.com/sympy/sympy/blob/master/sympy/core/compatibility.py#L108).

But now I believe I shouldn't have used `u()` in the first place. See #9901

[2015-09-08 12:55] mouradmourafiq opened #9902 "Sum(n**(-0.5), (n, 1, oo)).evalf() should be oo"
Knowing that `1/n = o 1/n**a`, the result of `Sum(1/n**a, (n, 1, oo)).subs(a, 0.5).evalf()` should be `oo`, the returned value is `0.e+65`. I am not sure if this is intended or not.

[2015-09-08 16:23] asmeurer commented on #9794
Dupe of https://github.com/sympy/sympy/issues/7186

[2015-09-08 16:23] #9794 closed

[2015-09-09 16:57] omarshehab opened #9903 "Matrix..eigenvals() and Matrix..eigenvects() should follow the same order"
I am using SymPy 0.7.6.1 32 bit.
My sample code:

from sympy import *
from scipy import linalg as sp

def get_outer_product(vector):
    length = len(vector)

    outer_product = [[0 for x in range(length)] for x in range(length)]

    for i in range(0, length):
        for j in range(0, length):
            if i == j:
                outer_product[i][j] = 0
                continue
            ou

[2015-09-09 19:29] aktech commented on #8205
Implemented here #9820

[2015-09-09 19:29] #8205 closed

[2015-09-09 20:49] snotskie commented on #8919
Also getting bad results when attempting to convolute p.d.f.s, akin to the continuous example given [here](http://www.dartmouth.edu/~chance/teaching_aids/books_articles/probability_book/Chapter7.pdf)

[2015-09-10 04:21] Sequa opened #9905 "Mul not always respecting evaluate=False"
[code]
It looks like if the first number is negative, it's evaluating (at least to some extent, it doesn't evaluate completely in the last case).

Background: I need to build a sympy expression from latex with the least changes possible. I made a parser for latex and build the sympy expression tree from that.

[2015-09-10 06:26] irresolute commented on #9871
I would like to fix it.

[2015-09-11 01:25] zanzibar7 commented on #9826
This can be worked around but creating some symbol sets and looking for the new symbols that
didn't appear in your original equation.

[code]

[2015-09-11 01:39] zanzibar7 commented on #9819
Yes, we need somebody to implement a routine in ode.py that will recognize and solve the
classical 2nd-order variable-coefficient linear ordinary differential equations like the Bessel equation and the Airy equation.  The solution sympy is currently giving is the series for Bessel's J function of order 0:

[code]
The full solution should be `C1*bessely(0,x)+C2*besselj(0,x)`.

[2015-09-11 02:17] zanzibar7 opened #9907 "Heaviside(0) should be undefined"
I am working on an optimal-control problem that involves the derivative of a Max(0,x) function, which gives Heaviside(x) as it's derivative.  In the subsequent analysis, any line `y=mx` is tangent to Max(0,x) at x=0, so long as m is in [0,1].  Thus, in the subsequent analysis, it's very useful to treat Heaviside(x) as a generalized function where Heaviside(0) returns the whole interval [0,1].

Cur

[2015-09-11 07:34] MichielStock commented on #9826
Thanks for the hack. Seems to work now.

[2015-09-11 08:03] jksuom commented on #9907
I think leaving Heaviside(0) undefined could be a justified choice. The Heaviside function is most often used to simply cut the domain of a function defined on the real line to the interval ``(0, oo)``, Its value at 0 is not relevant for this purpose.

In more technical terms, if ``\lambda`` is the Lebesgue measure on the real line, and ``\mu`` is its restriction to ``(0, oo)``, then Heaviside is

[2015-09-11 09:30] derDavidT commented on #9799
Please also take note of [this question] (http://stackoverflow.com/questions/30015110/sympy-failed-to-render-matrix/32520117#32520117).

[2015-09-11 12:47] gxyd opened #9908 "Sum(1/(n**3 - 1), (n, -oo, -2)).doit() raise UnboundLocalVariable"
[code]

[2015-09-11 13:00] bjodah commented on #9799
This should have been resolved.

[2015-09-11 13:12] irresolute commented on #9871
Do we need to be specific while printing ?I mean is it necessary to return a value of type 'int'  if the input is of type 'int'.

[2015-09-11 14:24] derDavidT commented on #9799
Hi, i tested it with the current sympy dev version and still get an error; see [this gist] (https://gist.github.com/derDavidT/42a4545ffe09919355d6#file-error_dumpy-py).

However, I'm not sure if it is a sympy or a matplotlib issue...

[2015-09-11 14:32] bjodah commented on #9799
Did this use to work in an earlier version? If so were you able to bisect what commit introduced the bug?

[2015-09-11 14:58] derDavidT commented on #9799
Sadly, I just started using matrix variables. I'm sure it is an issue with sympy 0.7.6.1 as well. And looking at the question I posted above it was an issue in May 2015.

[2015-09-11 15:07] jksuom commented on #9799
This seems to be caused by the ``\begin{smallmatrix}...`` environment that matplotlib does not support.
Will this also happen with ``init_printing(backend='png')``?

[2015-09-11 15:26] moorepants commented on #9871
Not sure what this means.

The behavior should match the lambdify backend. If it is using numpy, for example, then if should do the same thing numpy functions do to ints.

[2015-09-11 16:29] asmeurer commented on #9691
You can implement your own simple timeouts using signal.alarm module. That can still get stuck in functions that are written in C (i.e., builtins), so to be completely safe you may have to implement something outside of the Python process.

[2015-09-11 21:59] leosartaj commented on #9908
This looks like an indentation issue to me. L-766 should be indented one more block.

[2015-09-11 22:00] leosartaj commented on #9908
@irresolute Maybe you can pick this up.

[2015-09-12 06:31] jksuom commented on #9799
Correction: The proper keyword for using the png backend is ``use_latex='png'``, not ``backend='png'`` as I mistakenly suggested.

So I reformulate the question: Does the error occur with this keyword in ``init_printing``? It should bypass matplotlib.

[2015-09-12 12:14] derDavidT commented on #9799
As described [here] (http://stackoverflow.com/questions/30015110/sympy-failed-to-render-matrix/32520117#32520117), using an external backend does work (since sympy generates valdi Latex code, I guess). My intention was primarily focused on using matplotlib as a backend.

Seeing as matplotlib does not support certain environments, it's up for discussion wether (a) sympy raises a backend error using

[2015-09-12 12:38] jksuom commented on #9799
Actually, matplotlib does not seem to support any latex environments (with ``\begin...\end{...}``).

[2015-09-12 14:52] #9907 closed

[2015-09-12 16:31] gxyd opened #9910 "Order(n*log(n) + sin(n), (n, oo)) does not remove sin(n)"
[code]

rather `O(n*log(n), (n, oo))` should be returned.

[2015-09-12 22:05] rresol commented on #9908
@leosartaj  sure!

[2015-09-13 12:05] gxyd opened #9913 "solveset(2*x + 1/(x - 10)**2, x, S.Reals) raises RuntimeError"
[code]

[Edit]
Problem seems to be with
[code]

[2015-09-13 12:16] gxyd commented on #9913
Though, without the complex solver works correctly.
[code]

[2015-09-13 15:50] Kmanfi opened #9914 "Logic And works but when changed to Xor it will give NameError"
Here is example code.
----------------
from sympy import *

# eq = 'And(term1, term2)'  # This works
eq = 'Xor(term1, term2)'  # This doesn't work
y = S(eq, locals={'term1': Symbol('term1'), 'term2': Symbol('term2')})
FF = lambdify(('term1', 'term2'), y)
values = [1, 1]
xx = FF(*values)
print xx
-----------------
    xx = FF(*values)
  File "<string>", line 1, in <lambda>
NameError: global name 'X

[2015-09-13 15:51] florianGithub commented on #9629
same problem here.
Is there any solution?

[2015-09-13 16:22] jksuom commented on #9629
``matplotlib.mathtext`` is unable to deal with latex environments. One solution is to install latex and run ``init_printing(use_latex='png')``.

[2015-09-13 17:15] moorepants commented on #9629
If you want mathjax printing without installing LaTeX just use `init_printing(use_latex='mathjax')`.  Otherwise you need to install LaTeX to avoid this error.

We need to deal with this. It is quite annoying.

The fact that the notebook printer will run both mathjax and matplotlib printing in the background when it only needs to run mathjax is one problem.

The second problem is that we should giv

[2015-09-14 06:29] akritas opened #9915 "comments on the function prem(f, g, x)"
Sympy users should be EXPLITILY warned that the function prem(f, g, x) can be safely used ONLY in the computation of the subresultant prs of two polynomials and NOWHERE ELSE.

Instead, the function remZ(f, g, x) should be used, which premultiplies the divident times the ABSOLUTE value of the leading coefficient of the divisor (raised of course, to the appropriate power).

To wit, for the famous Kn

[2015-09-14 16:37] gxyd opened #9917 "O(n*sin(n) + 1, (n, oo)) returns O(n*sin(n), (n, oo))"
[code]

rather the expression should be returned un-evaluated as `O(n*sin(n) + 1, (n, oo))`

[2015-09-14 18:33] Adrien79 opened #9918 "Several operations (simplify, Derivative, pickle) fail for constant Polys"
Pickle succeeds to store Polys:

[code]

But it fails for constant Polys:

[code]

My guess is that the generator is dropped when pickling, and unpickling tries to evaluate `Poly(1)`, an expression which fails with the exact same error message when passed to the shell.

[2015-09-14 18:38] jksuom commented on #9917
It is not clearly stated in the docstring but it seems that ``O`` is currently implemented as the "exact order" of an expression. Such an order should be represented by a function positive in at least some neighbourhood of the limit point. Hence ``O(n*sin(n))`` cannot have an order in this sense.

Using the standard "big Oh" interpretation we could say that ``n*sin(n)`` is ``O(n)``, which means th

[2015-09-14 19:05] gxyd commented on #9917
The same as i think this to be. I am pretty sure it seems to be working that way for most of the functions.

The value of `big Oh` is not going to be unique, so do you think that always representing the final result in terms of `n**k` where `k = 1, 2, 3, ....`  or may be `k  ℝ` could be used?

[2015-09-14 22:59] asmeurer commented on #9915
Sounds good.

[2015-09-15 04:22] zanzibar7 commented on #9914
'Nand' and 'Or' both work, but 'Implies' also fails.

The issue might be fixed with an update of `LambdaPrinter` in sympy/printing/lambdarepr.py

[2015-09-15 06:09] jksuom commented on #9917
Probably the values of ''big Oh" should belong to the same scale as those of ``O``. There should be no reason for avoiding non-integral powers although "standard" serial expansions do not contain them.

[2015-09-15 07:53] Adrien79 commented on #9918
I've just checked this:

    Poly(Integer(1))

Then `sympify(srepr(P))` fails with the same error message. So the problem is not specific to Pickle.

[2015-09-15 10:38] jksuom commented on #9799
I have tried to experiment with various backends using (approximately) the same configuration as in the [dump above](https://gist.github.com/derDavidT/42a4545ffe09919355d6#file-error_dumpy-py):
[code]

If LaTeX is installed no problems seem to appear. Otherwise,
-  If matplotlib is not installed, there is no error message but no useful output either.

-  If matplotlib is available, the error messa

[2015-09-15 11:02] bjodah commented on #9799
I think this sounds like a good approach. What do you think @derDavidT ?

[2015-09-15 12:55] jksuom commented on #9918
There is no method for printing a ``Poly`` in the ``ReprPrinter`` class. Hence it defaults to ``emptyPrinter`` that mistakenly prints only the argument omitting ``gens`` and ``domain``. Apparently it should use ``str(expr)`` instead.

[2015-09-15 15:36] zanzibar7 commented on #7985
I'm working on an issue with subs, and have encountered the following code in test_indexed.py which I do not understand.

[code]
The test passes, but `C[1].subs(C, {1: 2})` seems to evaluate to `{1: 2}[1]`.  What's that supposed to mean?  My best interpretation is that we really want `C[2]` out of this evaluation, but that's not what we're getting.

[2015-09-15 18:42] derDavidT commented on #9799
I've got one doubt: When forcing ``use_latex`` to ``False`` if no LaTeX is found, we effectively disable rendering through ``matplotlib`` alltogether...

[2015-09-15 18:57] jksuom commented on #9799
Yes. It seems to be replaced with the plain text printer. But If one does not want to have ``use_latex=False``, one can choose something else in the ``init_printing()`` call, so nothing is lost. The idea is just to have a default that does not give an error.

[2015-09-15 19:01] derDavidT commented on #9799
However, we'd have to adapt the sympy documentation, since it specifies that

[2015-09-15 19:07] asmeurer commented on #9917
Does that mean `O` is really `Theta`? https://en.wikipedia.org/wiki/Big_O_notation#Family_of_Bachmann.E2.80.93Landau_notations

[2015-09-15 19:24] gxyd commented on #9917
I had say, yes.
My reason is that:
[code]
which gives a more of a tight bound. Not the `bigOh`, the `bigOh(sin(n), (n, oo))` should rather make sense to return `1`. Atleast i think current `O` is not working in that(`bigOh`) manner.

[2015-09-15 19:45] derDavidT commented on #9799
By the way, I've found something rather fishy if LaTex is not installed, but matplotlib is:
Using ``sympy.init_printing()``, we get the expected error if rendering a ``sympy.Matrix``.
Using ``sympy.init_printing(use_latex='matplotlib')``, however, it automatically reverts to unicode printing, if ``matplotlib`` fails.

Following @jksuom initial suggestion: If no LaTeX is found, test for Matplotlib.

[2015-09-16 09:06] Sequa commented on #8086
This is causing me a big problem.
[code]

[2015-09-16 10:59] jksuom commented on #9799
If ``use_latex`` is ``True`` (the default for notebook and qtconsole) or ``'png'``, SymPy will apply ``_print_latex_png``, which will fall back to ``_matplotlib_wrapper`` if LaTeX is not found. If ``use_latex`` is ``'matplotlib'``, SymPy will use ``_print_latex_matplotlib`` that will also pass the text to ``_matplotlib_wrapper``.

There is a difference, however. The latter function will ``try`` ``

[2015-09-17 05:15] chan-y-park opened #9920 "sympy.discriminant fails for many cases"
Hi,

I've been using `sympy.discriminant` and have been facing many cases where it just hangs indefinitely, whereas for the same formula Mathematica has no problem finding a discriminant in a second.

For example,

[code]

and it doesn't return.

[2015-09-17 09:00] jksuom commented on #9920
It does return a result in 0.7.7-dev, though that appears too big to be copied here.

[2015-09-17 13:41] chan-y-park commented on #9920
Thanks for letting me know that! Do we know why it didn't work in the previous version?

[2015-09-17 14:28] jdcasi opened #9921 "boolalg.py:to_cnf: Extremely Slow for small expressions, what is this function's expected performance?"
I have created a sample test that runs to_cnf with a growing expression size, very quickly this function takes >10 hours to evaluate.  Most of the time is spent in while loop of boolalg.py:1455.  I also have an expression that ran for over 50 hours before a stopped it, it was still only in the truthtable building loop on boolalg.py:1514.

 * Is there easy performance gains that can be done to impr

[2015-09-17 14:32] jdcasi commented on #9921
This code results in the following output:
[code]

[2015-09-17 17:50] jksuom commented on #9920
I suppose it would be possible to find out  what happens in v0.7.6 if necessary. Anyway, the code for computing the resultant was simplified later.

[2015-09-17 19:28] Adrien79 opened #9922 "Computations not performed after substitution of MatrixSymbol"
In Sympy 0.7.6.1, if you substitute a MatrixSymbol in a polynomial expression, the computations are not performed, even if you call the `doit` method:

              2
    /[1   3]\
    |[     ]|
    \[-1  2]/

              2
    /[1   3]\
    |[     ]|
    \[-1  2]/

This was raised in this answer at Stack Overflow:
http://stackoverflow.com/a/32592456

I notice that the substitution gives a diff

[2015-09-17 23:44] rresol commented on #9922
@Adrien79  This works completely fine . I dont think this is an issue.Take a look.
![screenshot from 2015-09-18 05 11 51](https://cloud.githubusercontent.com/assets/11815848/9948811/04e1e5bc-5dc4-11e5-9d0a-b8119cd44804.png)

[2015-09-18 01:26] mikeroberts3000 opened #9923 "sympy.refine does not refine matrix expressions as I would expect"
Consider the following code snippet:

[code]

This prints the following output:

[code]

Note the ``Abs(...)`` in the second printout. I would expect the refine step to remove these absolute values from the matrix. In other words, I would expect refine to operate on every entry of a matrix.

[2015-09-18 09:16] Upabjojr opened #9925 "evaluate=False after substitution/replacement"
Some people may wish to use SymPy to represent formulae in non-canonical form.

Ordinary construction of _Mul_, _Add_, and _Pow_ may take the optional parameter _evaluate=False_ to do so.

It would be useful to add this possibility to _.subs( ... )_, _.replace( ... )_, and _.xreplace( ... )_.

A possible application example:
http://stackoverflow.com/questions/32612706/collecting-a-fraction-express

[2015-09-18 11:47] Adrien79 commented on #9922
Sorry, it must have been fixed in the dev branch then.

[2015-09-18 12:37] #9922 closed

[2015-09-18 14:42] derDavidT commented on #9799
I've tried that [here] (https://github.com/derDavidT/sympy), yet it did not solve it. Please have a look, whether I've screwed up somewhere.

[2015-09-18 18:19] Adrien79 opened #9926 "srepr fails on various expressions (differential equation, function, Poly)"
In the current 0.7.7.dev branch, srepr fails on a simple differential equation:

    x**2*Derivative(y(x), x, x) + y(x) - Derivative(y(x), x)

    Traceback (most recent call last):
      File "<pyshell#90>", line 1, in <module>
        srepr(L)
      File "c:\users\adrien\sympy\sympy\printing\repr.py", line 198, in srepr
        return ReprPrinter(settings).doprint(expr)
      File "c:\users\adri

[2015-09-18 20:52] Adrien79 commented on #9926
I get the same error message by passing several simpler expressions to `srepr`, like `srepr(y(x))` or `srepr(Poly(x**2,x))`. I've changed the title accordingly.

[2015-09-18 20:59] Adrien79 commented on #9918
I've tried this on 0.7.7.dev too.
The weird behaviour of constant Polys is not limited to `srepr` and `pickle`. Other commands fail too, like `simplify(Poly(1,x))` or `Derivative(Poly(1,x), x).doit()` (however `Poly(1,x).diff(x)` does work.)

[2015-09-19 01:01] zanzibar7 commented on #5842
This has been fixed and the issue can be closed, I believe.
[code]

[2015-09-19 06:41] jksuom commented on #9926
I have not been able to reproduce these errors.
[code]
There must be some essential difference in our systems.

[2015-09-19 09:31] jksuom commented on #9799
@derDavidT Did you see the comments I added to your trial commit?

[2015-09-19 17:49] Adrien79 commented on #9926
I tinkered with my Python install and now I'm unable to reproduce the bug. I don't understand at all what happened, sorry.

[2015-09-19 17:49] #9926 closed

[2015-09-21 07:31] derDavidT commented on #9799
@jksuom Have a look at this [gist] (https://gist.github.com/derDavidT/13848c2a1752a4163644).

[2015-09-22 10:07] ThomasA commented on #9464
I have just experienced this error in Python 3.4.3 (64 bit, Linux). In my case it involves trying to `simplify` a coefficient of a polynomial involving symbols created via `sympy.tensor.IndexedBase`. The same code does not produce the error in Python 2.7.10.

Please let me know if you need more details?

[2015-09-22 18:41] asmeurer opened #9927 "Python 3.5 support"
We need to run the tests in Python 3.5 in Travis, and fix any bugs that there might be.

[2015-09-23 11:10] juanklopper commented on #9896
Please close.  Seems to work now!  Thanks.
![sympy](https://cloud.githubusercontent.com/assets/8681335/10043526/11419b52-61f4-11e5-83dd-5be20a9aedfb.png)

[2015-09-23 11:10] #9896 closed

[2015-09-23 12:30] jksuom commented on #9464
Objects of ``IndexedBase`` are modified by ``doit()`` which makes their comparisons unreliable.
[code]
Looking at the code it is not hard to see what is happening in ``A.compare(A.doit())``.
[code]
1) Objects are different.
[code]
2) Hashable content includes ``None``.
[code]
3) Two ``None``s are compared. Python2 returns 0, but Python3 raises an exception.

Issue 1) can probably be fixed by makin

[2015-09-23 12:51] rmlopes commented on #9183
I am having a related issue I believe, however I am not sure this is supposed to be supported yet or not, or if I am doing something wrong. I deeply appreciate any input on this. If I try to integrate without symbols (using values for the interval) the computation is performed.

[code]

The traceback:
[code]

[2015-09-23 15:16] jksuom commented on #9183
As the integrand is a product, the integral can be computed by multiplying two independent integrals. (There is only limited support for multidimensional integrals.)
[code]

[2015-09-23 16:55] rmlopes commented on #9183
Thanks for the reply jksuom. The thing is that they are not independent (I realise now that in the example they are, I was following a buggy article), but what I need to do is actually:

`integrate(f, (x1, s+Q-x2, +oo), (x2, Q, +oo))`

So the inner integral depends on the outer. This actually gives a different error:

[code]

Should I start a discussion in the googlegroups forum?

[2015-09-23 18:48] jksuom commented on #9183
The cause of this DomainError is 28.3. Python will automatically transform it to a floating point number and some integrators in SymPy cannot deal with floats. The error does not appear if the rational number ``S(283)/10`` is used instead. Unfortunately, this does not help to compute the integral. It appears currently too hard for SymPy.

[2015-09-23 20:37] rmlopes commented on #9183
I see what you mean. I tried to use an integer instead, and I've been waiting for the result for half an hour (I am guessing it will throw an error sooner or later, or I'll just have to kill it).
For this specific case, I was trying to build an expression (which has that integral) that will be derived wrt s and Q iteratively. I know it is a rather complex task. In order to solve it manually we use

[2015-09-26 12:52] gxyd commented on #9908
closing fixed by #9919

[2015-09-26 12:52] #9908 closed

[2015-09-27 00:38] chadbrewbaker opened #9932 "Bad latex formatter."
This script creates mangled latex that will not compile. Inspecting it with print works, but the latex method is returning only 3 out of the four matrix entries.

[code]

[2015-09-27 01:17] chadbrewbaker commented on #9932
My bad need \usepackage{amsmath} in the LaTex preamble.

[2015-09-27 01:17] #9932 closed

[2015-09-28 19:57] asmeurer opened #9934 "limit on Sum(sin(n).rewrite(exp), (n, 0, k)).doit() is wrong"
This is related to https://github.com/sympy/sympy/issues/8328, but it's a different code path so it should be a separate issue.

[code]

According to WolframAlpha, both sums do not converge. I didn't check if the partial sums are correct, but I suspect they are and `limit` is what's wrong here.

[2015-09-29 01:37] gxyd commented on #9934
[code]
I guess this should not be 0. As [wolfram](http://www.wolframalpha.com/input/?i=limit+%28-cos%28k%29+%2B+cos%28k+%2B+1%29%29+%2C+k%2C+oo) gives the result.

I guess they are correct.

[2015-09-30 09:26] jksuom commented on #9934
Wolfram's result (-2 to 2) essentially says that the difference of two cosines on the real line is never less than -2 and never more than 2. Those are not even the best limits. The difference
[code]
can be written
[code]
Hence it lies between ``-2sin(1/2)`` and ``2sin(1/2)`` and has no limit as ``k -> oo``.

[2015-09-30 22:09] Rufflewind commented on #8747
Can confirm too.

[code]

This gives an error, when it should be `.5`.  The problem is due to [this section](https://github.com/sympy/sympy/blob/646c6909546ba1d24c56888ceaba912b0bf7f584/sympy/physics/wigner.py#L536-L540) of the code.  It wrongfully assumes that `kk` is an integer, when it can in fact be a half-integer under some circumstances.

[2015-10-01 01:32] asmeurer commented on #9934
The partial sum is just geometric, and it does indeed appear to be correct.

[2015-10-01 03:47] moorepants commented on #9799
Using SymPy 0.7.6.1 and IPython 3.2.1 I'm getting this traceback when trying to render matrices with `init_printing()`:

[code]

We really need to take care of this issue. It is quite annoying and there are a bunch of issues in the tracker about it.

[2015-10-01 04:01] gxyd commented on #9934
The problem is just the same as the issue #5196 . Since we have as @jksuom mentioned that
[code]

Now I think the solution of the problem could be the introduction of a new `nAn`(different from `nan`) or some alternative name which should be similar to the `S.NaN`(which we have right now). `nAn` should be returned when we know that the result is bounded(or finite), but do not know its value. That

[2015-10-01 04:41] Rufflewind commented on #8748
This has already been fixed by https://github.com/sympy/sympy/commit/cf159392a68242c1cffa3ce3e9df954fdfec4d96 in 2014-05-04.  Your Anaconda sympy distribution is likely out of date.

[2015-10-01 05:49] asmeurer commented on #9934
I think these are both reasonable results:

[code]

[2015-10-01 05:51] jksuom commented on #9934
I think the liberal use of expressions like ``cos(oo)`` is part of the problem.

[2015-10-01 05:53] jksuom commented on #9934
Instead, we could have something like what Wolfram gives: upper and lower limits (not necessarily always the best ones).

[2015-10-01 05:54] jksuom commented on #9934
So, instead of the "limit" ``cos(oo)`` we could have ``Limits(-1, 1)``.

[2015-10-01 05:54] gxyd commented on #9934
I too think the same.

[2015-10-01 06:43] gxyd commented on #9934
But since we can not find the `codomain` of such functions. Is not using `nAn` a good way?

[2015-10-01 07:23] jksuom commented on #9934
I am not quite sure I understand the meaning of ``nAn``. Would it just mean that the function or sequence is bounded? We had the deprecated attribute ``is_bounded``, but it was applied to single numbers (or infinities) as essentially a synonym of ``is_finite``. For functions and sequences it could actually be useful.

As to the "codomain", though we may not often find an easy exact description, it

[2015-10-01 09:48] jksuom commented on #9799
This issue only appears under some special conditions. I tried with IPython 3.2.1:
[code]
There must be some invisible difference in our systems.

[2015-10-01 10:22] satyajammy opened #9942 "Indexed has no assumtions"
Hi,
I'm trying to write a  nested Indexed object

it throws the following error:

g2 = Idx('i0',[go,go_max])
File "/usr/local/lib/python3.4/dist-packages/sympy/tensor/indexed.py", line 506, in __new__
raise TypeError("Idx object requires integer bounds.")
TypeError: Idx object requires integer bounds

I tried this,

This gives the error:
Indexed object has no assumptions.

This worked fine on the

[2015-10-01 12:12] bjodah commented on #9799
@moorepants agreed, the problem is that matplotlib does not have full support for LaTeX.
See @derDavidT's gist and the following discussion above.

[2015-10-01 12:13] moorepants commented on #9799
My traceback was from the IPython Notebook. I seemingly have LaTeX installed, so I wouldn't expect this issue. It hasn't come up for me in the past if I had LaTeX installed.

[2015-10-01 12:15] moorepants commented on #9799
I know that matplotlib doesn't have support for all LaTeX, but I think the actual problem is that we compute the matplotlib rendering when it isn't needed. The matplotlib calls should only run if:

1. You explicitly ask for matplotlib lib.
2. You are in an environment (qtconsole, notebook) and you don't have mathjax or latex available.

Otherwise these calls to matplotlib should never happen. Why

[2015-10-01 12:42] jksuom commented on #9799
I installed ipython-notebook-3.2.1 but even that did not produce the error. Maybe MathJax was used:
[code]
@moorepants Are you perhaps running offline?

[2015-10-01 13:03] moorepants commented on #9799
I just filed this issue: https://github.com/matplotlib/matplotlib/issues/5162

I couldn't find any similar issues on their tracker.

@jksuom I am not running offline. I'm pretty sure that the png is rendered in the background regardless if MathJax is present or not.

[2015-10-01 13:07] moorepants commented on #9799
This shows that both the png is rendered by matplotlib and that it ultimately gets rendered by MathJax:
![selection_004](https://cloud.githubusercontent.com/assets/276007/10221347/ad25c340-6802-11e5-9224-b13936a513dc.png)

[2015-10-01 13:13] jksuom commented on #9799
Is that because latex was not found?

[2015-10-01 13:16] moorepants commented on #9799
That's because dvipng was not found. Here is the notebook with debug mode. Notice how both the png and mathjax renderers are loaded simultaneously. It seems like if MathJax is available then we shouldn't load the png renderer.
![selection_005](https://cloud.githubusercontent.com/assets/276007/10221538/dac5cec0-6803-11e5-99fb-0f2af007319a.png)

[2015-10-01 13:22] moorepants commented on #9799
This could be an IPython limitation. IPython is structured such that you can't easily and reliably detect which environment code was executed in. For things to work in qtconsole we always need png output but for the notebook we need mathjax or png, but there isn't any way to know if the code was executed in the qtconsole or the notebook...I think.

[2015-10-01 13:32] moorepants commented on #9799
One potential solution here would be to switch from the amsmath matrix environments to array, see:

http://stackoverflow.com/questions/26329177/how-to-display-a-matrix-in-the-matplotlib-annotations

But we need to make sure MathJax renders array correctly too.

[2015-10-01 14:04] moorepants commented on #9799
Scrap that. mathtext does not support any LaTeX environments (`\begin{}\end{}`). See: https://github.com/matplotlib/matplotlib/issues/5162#issuecomment-144728549

Here are some options:
- Patch mathtext to support latex environments
- Raise a sympy error if the latex command includes latex environments and matplotlib is the only available rendered (still need to deal with simultaneously loading pn

[2015-10-01 16:03] jksuom commented on #9799
I am still unable to produce the error even after making latex unavailable. @moorepants What happens with matrix printing if you run ``init_printing(use_latex='matplotlib')``?

[2015-10-02 04:48] #7186 closed

[2015-10-02 05:02] sagaragarwal94 commented on #9300
I am working on this issue :)

[2015-10-02 06:02] arjunc77 commented on #8062
@debugger22 this issue seems to be fixed on master. I see the travis build passing.

[2015-10-02 06:06] sagaragarwal94 commented on #9300
Fixed it https://github.com/sympy/sympy/wiki/Faq#how-do-i-clear-the-cache .

[2015-10-02 08:31] farhaanbukhsh commented on #9339
i am taking a stab to fix it.

[2015-10-02 14:40] gxyd opened #9946 "is_strictly_decreasing() docstring incorrect"
On [these](https://github.com/sympy/sympy/blob/master/sympy/calculus/singularities.py#L133-L134) lines.
The docstring for `is_strictly_decreasing` says:
[code]
The docstring should be update to include `strictly`, so finally it should be
[code]

[2015-10-02 14:47] gxyd opened #9947 "is_decreasing(), is_increasing() and strictly functions should have `Symbol` as argument to them"
`is_decreasing()`, `is_increasing()`, `is_strictly_increasing()` and `is_strictly_decreasing()` should have `x` or Symbol for as their parameter.
Because of this it will be able to deal expressions like
[code]
Also we have
[code]

[2015-10-02 16:24] jdcasi opened #9949 "boolalg.py:is_cnf fails when it should pass"
- If i create a simple conjunction of two literals, which by definition is in conjunctive normal form, the boolalg.py:is_cnf function incorrectly returns false.
- Additionally, if I create I an expression in disjunctive normal form, and then call boolalg.py:to_cnf on it. It is correctly put in conjunctive normal form, but boolalg.py:is_cnf still returns false.

Below is sample code that demonstrat

[2015-10-02 17:20] yashmehrotra commented on #9927
@asmeurer I ran a changed `.travis.yml` file and replaced `python 3.4` with `python 3.5`. The failed test summary:

1. `sympy/doc/src/gotchas.rst` throws a `RecursionError` instead of `RuntimeError` with the same error message.
2.  https://github.com/sympy/sympy/blob/master/sympy/core/tests/test_sympify.py#L242 throws a `TypeError` which I will look into in detail.
3. There are many failures with

[2015-10-02 19:24] asmeurer commented on #9927
Great, we need to fix those errors. I think at least the caching one was discovered to be related to a bug in Python 3.5, but it could also end up being a bug in SymPy as well.

We also should figure out if we can reduce the number of entries in the Travis matrix, as adding another five for Python 3.5 would slow the time for Travis tests to finish down even more.

[2015-10-03 04:57] #9300 closed

[2015-10-03 04:57] debugger22 commented on #9300
Thanks!

[2015-10-04 09:55] leosartaj opened #9953 "linsolve([ ], x) should return [ ]"
Currently

[code]

This should return an empty list and should not fail.

Ping @aktech

[2015-10-04 10:21] gxyd opened #9954 "solve_univariate_inequality(x**2 >= 0, x) raises AttributeError"
[code]

Using `git-bisect` reveals [this](https://github.com/shivamvats/sympy/commit/b4596e3e2fe339062d27a0a1104fea298e25dfdf) commit  by @shivamvats
[code]

[2015-10-04 10:21] aktech opened #9955 "Create requirements.txt file"
Here are some:
# Required
- python 2.6-2.7, 3.2-3.5
- mpmath
# Recommended
- fastcache
- ipython, ipython notebook, ipython qtconsole
# Plotting
- matplotlib
# Code generation
- cython
- theano
- numpy
# Docs
- graphviz
- inkscape
- texlive
- texlive-xetex
- texlive-fonts-recommended
- texlive-latex-extra
- lmodern
- librsvg2-bin
- imagemagick
- docbook2x

[2015-10-04 10:25] aktech commented on #9955
ping @ethcelon

[2015-10-04 10:26] aktech commented on #9953
ping @Devyani-Divs

[2015-10-04 10:48] gxyd opened #9956 "Union(Interval(-oo, oo), FiniteSet(1)) not evaluated"
[code]

Can some one please verify the validity of issue?

[2015-10-04 11:34] jksuom commented on #9956
I think it is valid. It seems to be caused by the confusion of booleans in ``FiniteSet._union`` on [this line](https://github.com/sympy/sympy/blob/master/sympy/sets/sets.py#L1806). (``Interval(-oo, oo).contains(1)`` is ``True`` but not ``true``.)

[2015-10-04 12:37] gxyd commented on #9956
In these situations why not use `==` instead of `is`? (I know the difference between `is` and `==`). But would that be any of problem.

[2015-10-04 12:39] gxyd commented on #9956
I also confirmed using `git-bisect`, the same conclusion.

[2015-10-04 12:50] jksuom commented on #9956
Perhaps ``other.contains(x)`` would suffice.

[2015-10-04 12:56] jksuom commented on #9956
This is from PEP 8:

Don't compare boolean values to True or False using == .

Yes:   if greeting:
No:    if greeting == True:
Worse: if greeting is True:

[2015-10-04 13:17] gxyd commented on #9956
[code]

while
[code]
I know why this is happening, i had the same situation in one of previous PR's. Do you think we should go with `==`?.

[2015-10-04 13:50] jksuom commented on #9956
The docstring of ``contains`` says:
``Returns True if 'other' is contained in 'self' as an element.``
This looks to me as if saying that we can expect a boolean value or possibly None.

However, some internal ``_contains`` functions return boolean functions or true or false (singletons, I think). I have no clear idea about what should be done.

[2015-10-04 13:57] gxyd commented on #9956
.contains is supposed to return 3-valued logic `True`, `False` or `None`. This is different from `in` operator, which uses two valued-logic `True`, `False` and `TypeError` for unknown.

So i this is true what you said.

I am quoting @asmeurer here what he said in the `is_convergent` PR comment for `is_convergent()`.

[2015-10-04 17:23] moorepants commented on #3006
This works fine for me on IPython 4 and SymPy master.

![selection_006](https://cloud.githubusercontent.com/assets/276007/10269126/f0f45312-6a81-11e5-84f7-2608da8249b6.png)

[2015-10-04 17:24] moorepants commented on #3006
I'm closing this. Please reopen if you can show how to reproduce.

[2015-10-04 17:24] #3006 closed

[2015-10-04 17:32] flacjacket commented on #3006
Looks like this was fixed a while ago e5326881b16ac5c73dac95ef2fef6fbfb81fdf62, so this can stay closed

[2015-10-04 18:28] moorepants commented on #9955
Why is this needed? A requirements.txt file is typically used to set a specific environment, i.e. exact dependency version numbers. SymPy is a library that should work with a range of dependency versions.

It may be more useful to have sympy conda builds and distutils options that pull in and check for all of the optional deps.

[2015-10-05 01:25] moorepants opened #9961 "conda doesn't install the mpmath dependency"
[code]

@asmeurer

[2015-10-05 01:51] moorepants opened #9962 "Raise an error if matplotlib and latex are not installed when trying to render a png"
If you enable printing in qtconsole or ipython notebook and you have neither matplotlib or latex (or mathjax) installed you'll get empty pngs, e.g.:

![ipython_011](https://cloud.githubusercontent.com/assets/276007/10271647/c86c1122-6ac8-11e5-9133-17f6803ffcff.png)

`from IPython.lib.latextools import latex_to_png` doesn't seem to raise and error if neither are available.

[2015-10-05 02:29] moorepants commented on #9962
Maybe this should be: print using string or pretty printing if they are not installed.

[2015-10-05 05:58] gxyd commented on #9934
`nAn` would just be the same as `nan` but only difference that it's `is_finite=True`, hence other corresponding operations would follow similar thing. Like
[code]
Also similar other operations will be followed.

Just consider the current criterion
[code]
But after making use of `nAn` the following will be followed
[code]

[2015-10-05 07:35] debugger22 commented on #9961
And also, this (`http://docs.sympy.org/latest/install.html#mpmath`) doesn't point to any mpmath installation instructions.

[2015-10-05 07:49] jksuom commented on #9934
This definition does not apply to the case of ``cos(oo)`` where we actually know that no limit value exists. Instead, we only have a set of *accumulation values*, i.e, values ``a`` such that ``lim cos(x_n) = a`` for some sequence ``(x_n)`` (of real numbers) tending to ``oo``. This *limit set* is the closed interval ``[-1, 1]``.

Therefore I think it would be more useful to express the limit of ``c

[2015-10-05 15:35] leosartaj commented on #9953
As decided during the open-space at PyCon India, it will better to return a ``S.EmptySet`` instead of
``[]``. This is because ``linsolve`` currently returns sets.

[2015-10-05 16:01] isuruf opened #9963 "sympy.polys.polyoptions.Options does not sympify gens"
[code]

[2015-10-05 17:03] asmeurer commented on #9961
That's because mpmath isn't a dependency yet in the stable release. Also, that page won't exist until we do a release.

[2015-10-05 17:03] #9961 closed

[2015-10-05 17:15] Stefan-Code opened #9964 "Pretty Printing (Latex/Mathjax) doesn't work"
Hi,
I'm using
[code]
from a anaconda install (Python 3) on `Linux user 3.13.0-37-generic #64-Ubuntu SMP Mon Sep 22 21:28:38 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux`
When running this in an ipython notebook:
[code]
Pretty printing doesn't seem to work at all. Also I don't get any warning/error messages whatsoever.
Mathjax is installed locally using:

[code]

[2015-10-05 17:22] moorepants commented on #9961
Duh. Thanks. I was setting up dev environments and just got confused.

[2015-10-05 17:55] debugger22 commented on #9961
Oh! And we distributed git versions to people at conference. No one had a clue. :(

[2015-10-05 18:03] jksuom commented on #9962
notebook: Newer versions of notebook load MathJax from the net. It does not matter if neither matplotlib nor latex is available. It will suffice to provide IPython with a latex representation of the output.

qtconsole: If matplotlib and latex are not installed, png-data won't be available. If a latex string is provided, qtconsole will then try to use matplotlib. It will not fall back to pretty pri

[2015-10-05 18:58] moorepants commented on #9962
I don't necessarily agree with this. I'd like it to "work" without an internet connection too.

Agreed.

Maybe pretty print? But is it possible everything isn't installed for that to work too? Maybe it should just be the simple string rep.

[2015-10-05 19:17] jksuom commented on #9962
I was just referring to how the designers of notebook seem to have planned it. An alternative is a local installation of MathJax. But that is big, of course...

As to the default, I think text/plain should perhaps be taken even if MathJax could give nicer output in notebook. Anyway, a notebook user will always have the option of running ``init_printing(use_latex='mathjax')``.

[2015-10-06 02:14] moorepants commented on #9629
Fixed in #9959.

[2015-10-06 02:14] #9629 closed

[2015-10-06 02:14] moorepants commented on #9646
Fixed in #9959.

[2015-10-06 02:14] #9646 closed

[2015-10-06 02:16] moorepants commented on #9799
Fixed in #9959.

[2015-10-06 02:16] #9799 closed

[2015-10-06 05:22] asmeurer commented on #9934
I think that goes back to a point from another issue that knowing that a function is bounded is more useful than knowing the exact bounds. So instead of inventing some `Limits` or `Bounds` object we could just as well use `O(1, (x, oo))` to represent this.

I'm not saying necessarily that `limit` should return an order object, I'm just making the point that if we wanted to do something like that t

[2015-10-06 06:33] leosartaj commented on #9956
In the example given by @gxyd ``contains`` returns an unevaluated ``And`` because bound on ``x`` is not known. ``any`` returns ``True`` in this case. I think we should go with ``==`` here so that there is confusion.

[2015-10-06 07:37] account-login commented on #9964
I encountered the same problem. Clearing the cookie fixed the problem. (https://groups.google.com/forum/#!topic/jupyter/XsiE82A8r9I)

[2015-10-06 07:54] Stefan-Code commented on #9964
Thank you for your answer. I just tried it again today and it seems to work now!

[2015-10-06 07:54] #9964 closed

[2015-10-06 09:42] jksuom commented on #9934
I agree that in many cases it would suffice to know that the limit set is bounded. However, I think that in some other cases more exact information could be useful. For example, that all accumulation values of ``cos(x) + 1`` are non-negative. (``Limits(-1, 1) + 1 = Limits(0, 2)``)

It also seems that Wolfram's result for the limit of ``cos(x + 1) - cos(x)`` is based on this type of reasoning: ``Li

[2015-10-06 14:02] shivamvats commented on #9954
@gxyd The issue seems to be that on substituting `x` with a dummy variable, it auto evaluates it. Perhaps something like
[code]
should fix this. Anyway,
[code]
does not auto evaluate. Shouldn't both have similar behaviour? @asmeurer

[2015-10-06 14:15] jksuom commented on #9962
A possible plan for IPython notebook and qtconsole printing defaults (when ``use_latex=None``).

- If both latex and dvipng are available, set ``use_latex=True`` to enable png-formatting in SymPy.

- Else if matplotlib is available, set ``use_latex='matplotlib'`` to enable png-formatting in IPython.

- Else set ``use_latex=False`` to fall back to text/plain-formatting in SymPy. (Always configured,

[2015-10-06 18:00] Nedaaaa opened #9966 "Smoothstep function"
I am solving a problem and I need to ramp up an external force to its maximum amount during an interval and then it is constant but both the maximum force and the time interval are really small ( 4.91e-9 and 2e-7 respectively). I need a smooth transition at the end of the interval when the force is getting constant.
I used some transition function using tanh() and polynomial functions but actually

[2015-10-06 18:16] asmeurer commented on #9934
Maybe. At any rate, I doubt something like that is needed to fix this bug.

[2015-10-06 19:13] jksuom commented on #9966
Perhaps you could use symbols for the maximum force and the time interval and substitute the values only after solving the problem symbolically.

[2015-10-06 19:22] jksuom commented on #9934
As I see it, the bug is that SymPy pretends to offer a limit when no limit exists. My thought was that ``limit`` should return something that does not look like a number in such a case.

[2015-10-06 19:33] Nedaaaa commented on #9966
@jksuom I can not solve it symbolically because I have a numerical algorithm and I need to use the force in each step!

[2015-10-06 19:43] jksuom commented on #9966
Maybe SymPy is not the best library for such a problem. Did you consider others such as NumPy?

Another possibility might be scaling the problem differently. (Essentially using other units of force and time.)

[2015-10-06 19:49] zanzibar7 commented on #9966
```tanh((x-shift)/scale)``` should work well as long as you choose shift and scale to match your situation.  Alternatively, you can use  ```Piecewise``` to construct whatever you want.  But this does sound more like a numerical methods issue, and not an issue with sympy.

[2015-10-06 19:51] Nedaaaa commented on #9966
@jksuom Actually I do not know exactly which library is appropriate in this case!

[2015-10-06 19:52] Nedaaaa commented on #9966
@zanzibar7 I exactly use this function(tanh) but because all the numbers are small it did not work and it always return zero!

[2015-10-06 22:13] gxyd opened #9967 "Remove the function codomain() from file codomain.py"
the function "codomain" implemented in "codomain.py" is same as the functionality in "imageset" which is already implemented in SymPy.

What is to be done?
# TODO
- [ ] ~~Remove the file codomain.py from calculus part~~ . Remove the codomain() function from the codomain.py file.
- [ ] since it was there in Public API remove from __init__.py
- [ ] remove all tests of "only" codomain.py from tests/t

[2015-10-07 06:15] Devyani-Divs commented on #9953
@leosartaj committed that; need help writing test cases.

[2015-10-07 10:38] leosartaj commented on #9953
You should send in a PR. It will be best to discuss there.
On 7 Oct 2015 11:45, "devyani7" <notifications@github.com> wrote:

[2015-10-07 16:26] kevalds51 commented on #9967
Can I take this?

[2015-10-07 16:27] gxyd commented on #9967
Sure

On Wed, Oct 7, 2015 at 9:56 PM, Keval Shah <notifications@github.com>
wrote:

[2015-10-07 16:40] gxyd opened #9969 "(S.Complexes).union(Interval(1, 2)) is returned un-evaluated"
[code]

This is because of [this](https://github.com/sympy/sympy/blob/master/sympy/sets/fancysets.py#L906) line.

This should be changed from `is S.Reals` -> `.is_subset(S.Reals)`

@aktech can you please verify?

[2015-10-07 17:17] aktech commented on #9969
Yes, that would be correct. Thanks for this catch.

[2015-10-07 17:22] aktech commented on #9955
@moorepants

The idea was to write down all that's required in a single file.
Like `mpmath` is a dependency. There are few dependencies for building doc such as:
`sudo apt-get install --no-install-recommends graphviz inkscape texlive texlive-xetex texlive-fonts-recommended texlive-latex-extra lmodern librsvg2-bin imagemagick docbook2x;`

[2015-10-07 19:21] joyofdata opened #9970 "Wrong Probability for Exponential Distribution"
[code]

`a` yields (correctly): `exp(-3x)` but `b` gives `oo - exp(-3x)` instead of the CDF `1 - exp(-3x)`.

I am working on:
- Python 3.4.3
- SymPy 0.7.6.1

[2015-10-07 19:46] moorepants commented on #9955
Note that a `requirements.txt` file is specific to pip which is Python centric.

But we should have some list of all the dependencies. There are few layers too: python deps, conda installable deps (cross platform) and deps that have different install instructions for different OSs. I'll start a list that people can collaboratively edit in the first comment on this issue.

[2015-10-07 21:46] joyofdata opened #9972 "Probability of normal random variable below upper bound yields a TypeError for some values"
[code]

- Python 3.4.3
- SymPy 0.7.6.1

[2015-10-07 22:28] kevalds51 commented on #9967
The not_empty_in function is imported from the codomain.py module, so it wont work after we delete codomain.py in the first place. What should be done?

[2015-10-07 23:37] woodscn opened #9973 "sympy.solve returns imaginary solutions contrary to given assumptions"
[code]
Given the assumptions for x, this result is clearly wrong. For this problem, I would expect something more like this:
[code]

[2015-10-08 04:16] gxyd commented on #9967
First point was somewhat wrong, sorry for that. I have updated it. Have a look.

[2015-10-08 08:58] MarkSuperman opened #9974 "Error for the calculation of the radius of curvate of BeamParameter in physics.optics."
According to the source code the calculation of the radius of curvate for BeamParameter is:

@property
    def radius(self):
        return self.z*(1 + (self.z/self.z_r)**2)

As it can be seen here (https://en.wikipedia.org/wiki/Gaussian_beam#Radius_of_curvature), the correct calculation is:

return self.z*(1 + (self.z_r/self.z)**2)

[2015-10-08 09:41] jksuom commented on #9974
Yes, you are right. It has been taken care of in #9875.

[2015-10-08 13:42] aktech commented on #9955
Good Idea! :+1:

[2015-10-09 06:55] leosartaj commented on #9974
Looks like this is resolved. Closing.

[2015-10-09 06:55] #9974 closed

[2015-10-09 09:44] gxyd commented on #9972
[code]

Is this the expected answer? Or just a non-piecewise function `1 - exp(-3*x)`?

[2015-10-09 09:47] gxyd commented on #9970
[code]

Is this the expected answer? Or just a non-piecewise function `1 - exp(-3*x)`?

[2015-10-09 09:50] joyofdata commented on #9972
I don't understand your question. A valid expression `P(X<1.4)` leads to an error. As far as I can tell this is no good and it seems to be rather erratic given that for some upper bounds the expression works and for some it doesn't.

I guess the propper answer for `P(X<1.4)` **in line** with what SymPy returns for `P(X<1.3)` and `P(X<1.7)` is `erf(0.7*sqrt(2))/2 + erf(+inf*sqrt(2))/2` - right?

[2015-10-09 09:52] gxyd commented on #9972
First of all sorry i commented on the wrong issue. Please comment on issue #9770

[2015-10-09 09:54] joyofdata commented on #9970
For `P(X < x)` and `X ~ exp(\lambda)` the expected answer is piecewise, yes.

[2015-10-09 12:08] #9947 closed

[2015-10-09 13:31] gxyd commented on #9946
Fixed by #9951

[2015-10-09 13:31] #9946 closed

[2015-10-09 15:06] woodscn commented on #9973
I should mention I'm interested in doing work on this, if someone can point me in the right direction.

[2015-10-09 18:00] asmeurer commented on #9973
What does it return if no assumptions are set?

[2015-10-09 18:20] woodscn commented on #9973
Same result.

[2015-10-10 12:13] gxyd opened #9980 "simplification of Unions of ComplexRegions"
[code]

[2015-10-10 14:28] smichr commented on #9954
It seems like there is no need to use an unevaluated expression since the truth value is apparent after substituting a real value for x. How about just catching the change from a relational to a boolean as follows?

[code]

[2015-10-10 15:37] smichr commented on #9973
The solver tries to determine solutions for x that don't violate assumptions. The two results are correct in that regard. The solver doesn't try to figure out what values of z will make the the solution match the assumptions on x, however, and I'm not sure that one should change "check_assumptions" to do so since solving for values satisfying the assumptions is beyond to scope of checking that the

[2015-10-10 17:35] gxyd opened #9981 "Printing of Sum(sin(n), (n, 0, oo))"
[code]

[2015-10-10 17:55] gxyd commented on #9981
Sorry, this is not an issue.

[2015-10-10 17:55] #9981 closed

[2015-10-10 18:45] woodscn commented on #9973
I don't think I agree that this is out of scope. I am asking solve to take an expression, and to rearrange it based on the assumptions inherent in the variables. There's no difference in the expression I'm handing sympy between variables X, Y, and Z, so why should solve ignore the assumptions on one of them but not the other?

To put another way, solve was given a well-posed problem with a unique,

[2015-10-11 02:11] #8067 closed

[2015-10-11 06:33] leosartaj commented on #8067
Why was this closed @jiegec?

[2015-10-11 13:35] jiegec commented on #8067
@leosartaj Already fixed in the newest version.

[2015-10-11 13:38] leosartaj commented on #8067
Ok.

[2015-10-11 13:52] smichr commented on #9973
I agree. I am just saying that it should probably be a function of its own, not an add-on to `check_assumptions`.

[2015-10-11 14:13] gxyd opened #9983 "Product(1 + 1/n**(S(2)/3), (n, 1, oo)).doit() raise RunTimeError"
[code]

Though as far as the expected answer is concerned. Since the product `diverges` hence `oo` is the expected answer.

[2015-10-12 03:41] mcho421 opened #9984 "Integral(f(x), f(x)) doesn't work"
Calling Integral() or integrate() with a function instead of an integration variable doesn't work:

[code]

This raises `ValueError: Invalid limits given: (f(x),)`

I was expecting this to work since `Derivative(f(x), f(x))` works.

[2015-10-12 08:54] Newman101 commented on #9984
Error replicated. Stack trace here, might be useful.

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-3-ab1e69fdc24c> in <module>()
----> 1 Integral(f(x), f(x))

/home/jremes/Projects/Python/sympy/sympy/integrals/integrals.py in __new__(cls, function, *symbols, **assumptions)

[2015-10-12 15:01] leosartaj commented on #9953
Fixed by #9979

[2015-10-12 15:01] #9953 closed

[2015-10-12 15:01] jksuom commented on #9980
``simplify`` operates on an expression by replacing its arguments with simplified versions (on line 517).
This works well on expressions having the invariance property ``expr == expr.func(*expr.args)`` ([Key Invariant](http://docs.sympy.org/latest/tutorial/manipulation.html#args)).

In this case we have
[code]
``ComplexRegion`` expect sets as its arguments. It is confused by the lambda expression.

[2015-10-12 18:25] Upabjojr commented on #9970
[code]

The domain is wrong.

[2015-10-12 18:30] Upabjojr commented on #9970
https://github.com/sympy/sympy/blob/5d1bf976f6b6eddd42463cdd4d1044d3a3ba68c9/sympy/stats/crv.py#L313

This is the problem, the probability distribution function gets reconstructed without caring for the integration limits, which are `(0, oo)` for `Exponential`. They are wrongly set to `(-oo, oo)`.

[2015-10-12 18:35] Upabjojr commented on #9972
This has been solved:

https://github.com/sympy/sympy/pull/9199

@joyofdata please use latest master branch before reporting issues, not latest version.

[2015-10-12 18:36] Upabjojr commented on #9972
Close this issue, please.

[2015-10-12 18:59] joyofdata commented on #9972
Makes sense (y)

[2015-10-12 18:59] #9972 closed

[2015-10-13 02:57] shuokay commented on #5418
Hi, @dennisss , I am using your latex_addons branch, most expr can be parsed correctly, however, when  there are more than 2 minus symbol, the parsed result is wrong.
[code]
I think it is parsing "2-(1-1)". priority not set correctly.

[2015-10-13 09:01] Newman101 commented on #9949
Hi. I attempted to replicate this and got the following:

<input>:1: SyntaxWarning: assertion is always true, perhaps remove parentheses?
<input>:1: SyntaxWarning: assertion is always true, perhaps remove parentheses?
<input>:1: SyntaxWarning: assertion is always true, perhaps remove parentheses?
<input>:1: SyntaxWarning: assertion is always true, perhaps remove parentheses?
<input>:1: SyntaxWarni

[2015-10-13 15:15] jdcasi commented on #9949
Sorry that was a mistake I made, when converting from a unittest framework to a simple assert.  If you change the assertion line of code to the following line, I believe the assertion will fail.
[code]

[2015-10-13 15:26] jondo commented on #9567
@aktech Do you have any plans to continue [your GSoC work](http://iamit.in/blog/Google-Summer-Of-Code-with-SymPy/)?

[2015-10-13 15:30] Newman101 commented on #9949
Ok, thanks for verification. I'll have a look soon.

[2015-10-13 15:40] aktech commented on #9567
Currently, I don't have time to work on it full time, probably I may have some time in future to contribute more, but will be available to guide anyone interested in improving solvers, though expect slow replies from me these days, due to extremely busy schedule.

[2015-10-13 15:43] aktech commented on #9980
We could probably simplify the output API as:

[code]
rather than this:

[code]

[2015-10-13 15:45] dschwen opened #9989 "Clean up phase field module tests"
Remove use of file_base, prettify input files (indenting, removing dead crap, add comments)

[2015-10-13 15:45] #9989 closed

[2015-10-13 15:57] jdcasi commented on #9949
I just upgraded to sympy-0.7.6.1, the assertion is still hit for me.

-Thank you.

[2015-10-13 16:01] jksuom commented on #9980
It seems to lead to the same error.
[code]

[2015-10-13 16:24] aktech commented on #9980
Btw, [that](https://github.com/sympy/sympy/issues/9980#issuecomment-147755181) was a general comment. I think simplify probably won't work on `ComplexRegion`, that way.

[2015-10-13 16:46] jksuom commented on #9980
I think the issue is that ``ComplexRegion`` does not satisfy the Key Invariant. It should have the argument that is needed for its reconstruction (``sets``). The lambda expression is not necessary as it is known in advance.
[code]
There should be no compelling reason why ``simplify`` could not work on ``ComplexRegion``.

[2015-10-13 17:07] aktech commented on #9980
Yeah.

I used the lambda expression while writing `ComplexRegion` just for representational purpose. I agree with you that it is redundant and we can probably discard it. We can simply represent `x + iy` and `r(cos(θ) + isin(θ))` in printing.

The following output API, should work(?) probably:

[code]

(If `init_printing` is called, the current printing output would be used)

[2015-10-13 18:15] gxyd commented on #9969
fixed by #9977

[2015-10-13 18:15] #9969 closed

[2015-10-14 09:19] #9913 closed

[2015-10-14 11:03] hargup commented on #9980
I agree with @aktech and we should drop the lambda expression while printing a `ComplexRegion`.

[2015-10-14 12:56] wenaaa opened #9994 "wrong diff"
I use Python 2.7.9
trying simple diff

input: 'diff((-1/5)*cos(t)**5)'

output: '5*sin(t)*cos(t)**4'

which is obviously wrong
on [sympy live](http://live.sympy.org/) it works OK

[2015-10-15 00:16] gxyd commented on #9970
Yes, i also saw this. The same problem occurs with all distributions defined from `[0, oo)`, like `gamma distributions`.

[2015-10-15 08:43] leosartaj commented on #9994
This works correctly in the current master.

[code]

[2015-10-15 08:44] #9994 closed

[2015-10-15 12:57] Newman101 commented on #9980
I agree with @aktech too, it probably should be dropped.

[2015-10-15 13:06] Newman101 commented on #9980
Question follows: Class ImageSet has a __new__ method which is being called:

[code]

And...

[code]

Where:

[code]

Basically, should Lambda expression be removed from entire ImageSet class?

[2015-10-15 23:58] cy18 opened #9997 "as_coefficients_dict do not work as expect when the coefficients are float"
[code]

I think this should be a bug.
Python 3.5, sympy: master branch

[2015-10-16 04:44] rmccampbell opened #9999 "Parsing equations with equal operator"
This is a feature request. The equals operator in sympy does direct comparison, even when parsing from a string. I think in many cases it would be useful to transform an expression from a string like "a==b" into "Eq(a, b)". The sympify function and lower level parsing functions allow transformations (like replacing ^ with **) and I think replacing == with Eq would be a valid and useful transformat

[2015-10-16 15:07] smichr commented on #9567
I note the problem with even solve:

[code]

[2015-10-16 19:32] aktech opened #10001 "solve_linear_system is now deprecated"
`solve_linear_system` is now deprecated. Use `linsolve` instead.

This is the Deprecation Removal issue for the same. See #10000

[2015-10-16 20:16] asmeurer commented on #9891
The in-progress release notes are at https://github.com/sympy/sympy/wiki/Release-Notes-for-1.0. Feel free to edit them.

[2015-10-17 12:15] Sumith1896 commented on #9882
@ketangoyani  Could you please elaborate?

[2015-10-17 21:20] bjodah commented on #9999
@rmccampbell have you looked at #9436? it seems though as that work has stalled. And if you're interested to pick up where that author left off we would much appreciate it.

[2015-10-19 13:45] gxyd opened #10003 "P(X < -1) of ExponentialDistribution"
[code]

I guess this should return `S.Zero`, instead of an `AttributeError`.

[2015-10-19 15:43] smichr commented on #9567
The problem is that at line 1964 of solvers a `(0,0)` is returned; the logic of when there is no solution is wrong at that point. Line 1275 also needs to check that `d` is independent of `n`.

[2015-10-19 16:27] #10003 closed

[2015-10-19 20:12] VinaySingh035 commented on #9967
Has this issue been resolved, or can I try on this??

[2015-10-19 20:17] VinaySingh035 commented on #9927
do we really need to check the working of all the functions in all the versions of Python??

[2015-10-19 20:29] asmeurer opened #10006 "Replacing solve() with solveset()"
This is a tracking issue for the progress forward for replacing `solve` with `solveset`. We need to figure out what this will look like in the long run, as well as what should be done before the 1.0 release.

Some things:

- [ ] Replacing internal calls with solveset https://github.com/sympy/sympy/issues/8711
- [ ] Add `solveset` (and what other functions?) to `__init__.py`
- [ ] Is the solveset A

[2015-10-19 20:36] aktech commented on #10006
A couple of things that needs to be done to make it at par with solve
* non-linear multivariate/system
* Equations solvable by LambertW.

after these two things are implemented, we are ready to completely replace solve.

[2015-10-19 20:37] asmeurer commented on #9927
All the supported versions, yes. It's not uncommon for an issue to come up in only one version of Python, and for new issues to come up with new Python versions (for instance, because we used some undocumented API in the standard library that was changed).

[2015-10-20 00:33] gxyd commented on #9967
There is already a PR #9975 for solving this issue, you can try some other issue.

[2015-10-20 06:04] haimoz opened #10007 "`srepr' ignores the `evaluate' flag"
The following behavior violates the requirement specified in the [documentation](http://docs.sympy.org/latest/modules/printing.html?highlight=srepr#module-sympy.printing.repr):

[code]

I noticed this behavior when trying to establish pickling/unpickling mechanism for my application.  It needs to save the exact form of an expression (i.e., without evaluation) to the disk and be able to retrieve it

[2015-10-20 07:12] hargup commented on #7780
We will be replacing `solve` by `solveset` in the next release, see #10006 . Hence we are closing issues for `solve` and opening corresponding `solveset` issues if needed.

[2015-10-20 07:12] #7780 closed

[2015-10-20 07:37] hargup commented on #6798
`solveset` has got this issue fixed. It represents the unknown solutions by returning a `ConditionSet` object.

[2015-10-20 07:37] #6798 closed

[2015-10-20 07:46] hargup opened #10008 "Solveset: port procedures to solve non linear multivariate equations equations"

[2015-10-20 07:47] VinaySingh035 commented on #9967
ok thanks

[2015-10-20 07:52] VinaySingh035 commented on #9927
as i'm using python 2.7.6.

while using some of the functions it doesn't shows the result in the usual format.
so, do we need to consider that too for improvement.

[2015-10-20 09:57] smichr commented on #9567
Fixing the underlying issue fixes the reported issue:

[code]

[2015-10-20 15:12] luisaleman opened #10011 "plotting sympy issues axis/orientation display"
Hi, Im plotting a function of two variables in julia, and I know i'm getting the exact form plot that I want,  but when displayed it is displayed as the x-axis were the y-axis so the plot looks like a mess and Im pretty confused now.

Here's the code

x=Sym("x")
y=Sym("y")
g=x^2+0.00001*y
plot_surface(g,(x,-1,1),(y,-2,2))

and here's an image of what I'm getting
![captura de pantalla 2015-10-20 a

[2015-10-20 15:17] spjammy opened #10012 "set attribute 'is_integer' for Indexed / IndexedBase object"
this throws me an error

AttributeError: can't set attribute

Any help, is appreciated

[2015-10-20 15:48] asmeurer commented on #9927
If it's causing a test to fail, then yes, the test should be fixed so that it passes.

[2015-10-20 18:02] SpeedyiiiTH commented on #9927
its not about its failing a test or something like that.
I was going thorough the tutorial, and found that there its mentioned that if I give
Eq(x**2,0)
it should give x**2==0

but in my system its showing
Eq(x**2,0)

and gives same result for all the Eq usage.
Is this need to be improved or its all right??

[2015-10-20 18:52] asmeurer commented on #9927
That's a difference between the development version and the last release (the tutorial is based on the last release).

[2015-10-20 20:20] SpeedyiiiTH commented on #9927
ok then

by the way as per this issue is concerned.
what do we really need to do here, please tell me more about it as i'm a newbie.

thanks.

[2015-10-20 20:33] asmeurer commented on #9135
I don't understand what the derivative algorithm was doing. It was clearly wrong. None of the tests were testing cases that shouldn't be replaced. I rewrote it using a simple multiset check. https://github.com/sympy/sympy/pull/10014

[2015-10-20 20:40] asmeurer opened #10015 "Add FiniteMultiset object"
I just used collections.Counter, and even though it bills itself as a multiset, it isn't very good. It is missing several set operations (like subset), and it has some weird quirks (like you can do `Counter(a='b')` if you want, and `list(Counter)` doesn't give you what you would want: you have to do `list(Counter.elements())`).

We should add a basic FiniteMultiset object (we could also support in

[2015-10-20 21:09] asmeurer commented on #9927
The issue here is to:

- Run the tests in Python 3.5 and fix any failures.
- Add Python 3.5 to .travis.yml so that Travis CI runs them

[2015-10-21 06:13] jksuom commented on #10015
Maybe it could be implemented as a dictionary: ``{x: n, ...}``. A set of pairs ``(x, n)`` is one way of defining a mapping, and a dictionary in Python is designed for the same purpose. It is also possible write ``x in M`` when ``M`` is a dictionary.

[2015-10-21 09:13] SpeedyiiiTH commented on #9927
ok let me first get my environment suitable for the purpose,
then I'll like to try it out.

[2015-10-21 15:04] asmeurer commented on #10015
Sure, but it would need to be immutable. It could probably be based on our immutable `Dict`, which I think uses a combination of both.

[2015-10-21 15:23] asmeurer commented on #9483
Will this require better simplification of the conditions returned by integrate?

[2015-10-21 16:13] jksuom commented on #9483
I would rather say that the conditions should be extended to the boundary. In the Fourier transform issue above, the condition says that the argument is both in the (open) upper half plane and in the (open) lower half plane. So the transform is defined nowhere. (The two conditions appear because SymPy splits the integral into two pieces,)

It seems that the integration routines are currently very

[2015-10-21 17:26] #5842 closed

[2015-10-21 19:09] zanzibar7 commented on #9984
What are these supposed to mean?  I don't think they are well-defined.  When I've seen these kinds of things, they have been in functional calculus, which is infinite dimensional and involves lots of linear operators.

[2015-10-22 08:11] gxyd opened #10020 "oo**I raises RunTimeError"
[code]

Some part of traceback has been removed to keep it short

[2015-10-22 10:15] gxyd commented on #9934
I agree that it would be useful to have `Limits` concept rather than `nAn`.
@asmeurer  mentioned

But rather to me it seems quite appropriate what jksuom mentioned.

[2015-10-22 15:20] haimoz opened #10021 "Wrong output of `srepr' for unicode symbol (Python2 only)"
If a symbol is constructed using a unicode string, then `srepr' for this symbol fails to wrap the symbol name with single quotes and the leading 'u', as would for symbols constructed using an ASCII string.  Try the following:

[code]

It appears that for a unicode string at [sympy/printing/printer.py#L254](https://github.com/sympy/sympy/blob/113cce5a3f53b86657da99b5af737f1dfb04ba63/sympy/printing/

[2015-10-22 19:03] hargup opened #10023 "solveset fails with a solvable Abs"
[code]

The answer should be `{0, 2}`.

ping @aktech

[2015-10-22 21:53] drufat opened #10024 "Eq( Mod(x, 2*pi), 0 ) evaluates to False"
The condition `Eq( Mod(x, 2*pi), 0 )` always evaluates to `False` where `x` is just a regular symbol. Obviously when `x=0, 2*pi, 4*pi` it should be `True`. The correct behavior should be not to reduce the expression to True or False when x is a general symbol.

To replicate the bug, try:

    from sympy import Mod
    from sympy.abc import x
    print(Eq( Mod(x, 2*pi), 0 ))

[2015-10-22 22:12] drufat commented on #10024
It appears that when one initializes expr with `expr = Mod(x, 2*pi)` `expr._assumptions['zero']` is set to `True` when it should have been set to `None`.

[2015-10-23 02:58] gxyd commented on #9967
Fixed by #9975

[2015-10-23 02:58] #9967 closed

[2015-10-23 03:39] smichr commented on #10023
#10009 fixes the result from solve

[code]

[2015-10-23 03:40] smichr commented on #10023
(it does not fix the solveset result, however)

[2015-10-23 04:00] haimoz commented on #10021
Just found out that this issue only happens in python2.  In python3:

[code]

[2015-10-23 17:12] asmeurer opened #10030 "re((1 + I)**100000) is wrong"
[code]

It should give either a very large integer, or remain unevaluated.

I bisected this to

commit b2b7130ff87b88343077071f2fadba33d80821c0
Author: Chris Smith <smichr@gmail.com>
Date:   Mon Aug 25 21:43:57 2014 -0500

    add some numerical handling to Pow imaginary/real handlers

    I do not know how to add the same thing to the new assumptions
    since arg must be computed and whether it

[2015-10-23 17:16] asmeurer commented on #10030
Ah, nevermind. It actually is real.

[2015-10-23 17:16] #10030 closed

[2015-10-23 17:40] smichr commented on #10023
`_solve_abs` should consider only working with the numerator of the expression it is given. If it does so, then the correct solution for the OP expression is obtained:

[code]

[code]

[2015-10-23 18:01] smichr commented on #10024
`_fuzzy_group` should be used instead of `fuzzy_and` in `Mod._eval_is_integer`

[code]

[2015-10-23 18:19] drufat commented on #10024
Isn't it cleaner to have

    -        return fuzzy_and([p.is_integer, q.is_integer, fuzzy_not(q.is_zero)])
    +        if fuzzy_and([p.is_integer, q.is_integer, fuzzy_not(q.is_zero)]):
    +            return True

That's what I did in my pull request.

[2015-10-23 19:00] #9567 closed

[2015-10-23 19:09] smichr commented on #10024
I *think* so. As I recall, the assumption system's eval routines only have to worry about returning True and the implications will be worked out by the logic engine. If what you propose works then I guess this is true. Also, if p and q were rational and non-zero then we wouldn't want to return False. So I think your proposal is better.

[2015-10-24 00:16] asmeurer commented on #10024
If the implications are defined in sympy.core.assumptions, then yes, the system will deduce them automatically.

[2015-10-24 03:42] #9954 closed

[2015-10-24 08:28] Shekharrajak commented on #7827
What should be the answer for :
 integrate(summation(sin(n*x), (n,1,N)), x)
Should it be :
 Sum(Piecewise((0, n == 0), (-cos(n*x)/n, True)), (n, 1, N)) ?

Is there any better answer ?(without  Piecewise)
Please try to reply me @asmeurer @nicoguaro

[2015-10-24 13:06] Shekharrajak opened #10033 "wrong answer by Inequality solver , from sympy.solvers.inequalities import solve_univariate_inequality"
[code]
Answer should include -3 and -2 means : x <= 3  or  x >=2
[code]
Answer should be :
[code]
I also found some **trigonometric inequalities**
[code]
means π/4 < x < 3π/4 Answer within interval (0, π)
so correct answer should be greater than π/4  means(0.788079176244539 ) _not greater than or equal_.
Extended answers is : π/4 + 2k.π < x < 3 π/4 + 2k.π ,where k = 0,1,2,..
so it is returning  an

[2015-10-24 14:04] gxyd commented on #10033
I think they are working just fine. Probably you noted them on the terminal wrongly. Is that the case?
As for the last two expressions: Some of them `raise AttributeError`.

[2015-10-24 14:33] Shekharrajak commented on #10033
Yeah ,I tested them on the terminal .Is there other good way also?
I imported

[code]
using the [docs](http://docs.sympy.org/dev/modules/solvers/inequalities.html)
Are you getting correct answers ? @gxyd

[2015-10-24 14:42] gxyd commented on #10033
This is what i get on `0.7.7.dev`
[code]

For
[code]

For
[code]
For
[code]

[2015-10-24 15:17] Shekharrajak commented on #10033
Oops
In first case I wrote only ' > ' not ' > ='
and in second case I wrote 6*6 it was 6*x in my question. so 1 and 2 are giving correct.

let me check again other similar cases where I got confused.

In 3rd and 4th expression ,I again get same answer.Let me check again if I am doing any mistake here .
thanks @gxyd

[2015-10-24 17:17] #10024 closed

[2015-10-24 17:59] nicoguaro commented on #7827
@Shekharrajak, yes it is. Since the limits of the summation are 1 and N you already know that n!=0.

[2015-10-24 19:26] asmeurer commented on #7827
I don't know if there's a simple way to simplify a Piecewise given some known conditions on the variables.

[2015-10-24 19:34] asmeurer opened #10034 "Error pretty printing a ConditionSet with And"
[code]

[2015-10-24 19:39] asmeurer opened #10035 "str() printer for sets should give re-creatable representations"
[code]

For the first one, `Naturals` is not in the namespace from `from sympy import *`. For the second one, it would just create a tuple. For the third one, the product set is printed with an `x`, which is not valid Python syntax.  There may be other examples as well. In general, `str()` should give you something that you can copy and paste, and the more fancy printing should be left to `pprint(

[2015-10-25 13:05] #9956 closed

[2015-10-25 15:51] gxyd opened #10038 "un-tested line in sets.py"
[This line Line283](https://github.com/sympy/sympy/blob/master/sympy/sets/sets.py#L283) is not tested. An immediate example for this happening does not come to my mind. Perhaps if such a condition is not possible then it should be removed.

[2015-10-25 17:13] Devyani-Divs commented on #10038
@gxyd would like to work on it if you ain't working on it? :)

[2015-10-25 17:36] gxyd commented on #10038
You can go ahead with solving this.

On Sun, Oct 25, 2015 at 10:43 PM, devyani7 <notifications@github.com> wrote:

[2015-10-25 23:47] moorepants opened #10040 "init_printing() doesn't seem to do anything on cloud.sagemath.com"
See this notebook:

https://cloud.sagemath.com/projects/ebb30a0f-930e-45a6-b727-53df0c36a484/files/sympy%20printing%20test.html

It would typically enable LaTeX enabled pretty printing for SymPy objects.

@williamstein

[2015-10-26 10:40] emanuelelaface opened #10041 "integrate doesn't check the domain of some functions."
Python 2.7, Sympy 0.7.6 on Mac OS X 10.11 from Anaconda installation.
I calculate the integrate of secant of x:
integrate(sec(x)) = -log(sin(x) - 1)/2 + log(sin(x) + 1)/2.
The derivative of this function is correctly sec(x) but the domain of the first logarithm does not work because sin(x)-1 ≤ 0.
The correct answer (for real numbers) is
integrate(sec(x)) = -log(1 - sin(x))/2 + log(sin(x) + 1)/2.
O

[2015-10-26 16:46] jksuom commented on #10041
Both solutions are correct. Their difference is the constant ``log(-1)``. As complex numbers are the default type in SymPy, the integrator does not attempt to find a constant of integration that could make the result real for real arguments.

[2015-10-26 17:05] hargup commented on #10023
Ignoring the denominator can be dangerous for cases in which it attains zero value, #10042 attempts to fix that but it leads to infinite recursion in another test case.

[2015-10-26 17:23] asmeurer commented on #10041
It looks like the result is coming from `trigintegrate`, meaning it's probably pretty easy to change the form.

Interestingly, if you change the algorithm to meijerg, you get the more commonly used answer from calculus:

[code]

[2015-10-26 17:25] emanuelelaface commented on #10041
Thank you for your answer. Surely everything works well for complex numbers. I obtained the same result even if I create x = Symbol('x', real=True). But I suspect that the problem is not if the variable is real but if the domain of the function is real. Thank you again.

[2015-10-26 17:26] asmeurer opened #10043 "dsolve should solve different factors independently"
For example, `eq = Eq(-M * phi(t).diff(t), Rational(3, 2) * m * r**2 * phi(t).diff(t) * phi(t).diff(t,t))` (from https://stackoverflow.com/questions/33340217/sympy-solve-a-differential-equation). You can factor out a `phi(t).diff(t)` and solve the two factors independently.

One question is how to represent the solutions. `dsolve` already returns a list when its internal use of `solve` does, so th

[2015-10-26 17:30] emanuelelaface commented on #10041
asmeurer, yes, I just tried to change the integration method and I was posting the same result.

[2015-10-26 17:39] asmeurer commented on #10041
`integrate` currently doesn't check assumptions on Symbols at all, as far as I know.

[2015-10-26 17:58] asmeurer commented on #9980
@aktech @hargup what should be done here?

It's possible to have a class that can be constructed in multiple ways, as long as one of those ways corresponds to the .args (and as long as it is unambiguous).

ComplexRegion does seem odd to me, though. Why is it needed instead of just ImageSet on S.Complexes?  If the whole point is just to represent rectangular or polar regions, and nothing else, it w

[2015-10-26 19:17] asmeurer commented on #9191
0.7.7 will be 1.0. What ever happend with this? What needs to be done for the 1.0 release?

[2015-10-26 19:18] asmeurer commented on #9425
Unless I'm mistaken there's nothing to do here for the next release. Removing the milestone.

[2015-10-26 19:20] asmeurer commented on #10008
@hargup do you have plans to work on this soon? If not, we should remove the 1.0 milestone.

This is related to https://github.com/sympy/sympy/issues/10006.

[2015-10-26 19:24] hargup commented on #10008
Nope, I don't have a lot of free time at least till the end of this semester.

Done.

[2015-10-26 19:34] asmeurer opened #10044 "Error pretty printing a tuple with a sympy.vector basis vector"
[code]

I don't know what's causing the issue but it looks like it's probably not hard to debug, so I'll add the easy to fix tag.

[2015-10-26 19:37] asmeurer commented on #10041
I guess trigintegrate just rewrites it as `1/cos(x)` and then heurisch integrates that (giving logs of sin). To fix this a rule for sec directly should be added to trigintegrate or manualintegrate.

[2015-10-26 19:41] asmeurer commented on #10038
That line seems wrong. It assumes that `self` is finite, but this is the `Set` base class, so the logic there should work on any possible set. It's probably not tested because no subclasses return None for _contains (is that even what it's supposed to do? The base class _contains raises NotImplementedError). I would just remove that line.

[2015-10-26 19:46] asmeurer opened #10045 "sympy.vector del prints as .del but is accessed as .delop"
[code]

It should print the same as it is accessed.

[2015-10-26 19:48] asmeurer commented on #10045
Since delop has already been in a release I would recommend changing the printing.

[2015-10-26 20:41] asmeurer commented on #7284
0.7.7, now 1.0, is coming up. What needs to be done here?

[2015-10-26 20:48] SpeedyiiiTH commented on #10044
can I take this to work on.
As I'm a newbie too, so will give me a start too.

[2015-10-26 20:49] asmeurer commented on #10044
Go for it.

[2015-10-26 21:02] SpeedyiiiTH commented on #10045
In this issue we only have to put a function.
def del(self):
     return self._del

Is this all we need to add in this issue??
@asmeurer

[2015-10-26 21:06] asmeurer commented on #9191
I don't know if we received any complaints, although I don't know why we would, since the behavior is only different in master.

@jcrist @moorepants I remember discussing this at SciPy, but I don't remember what conclusion we came to.

[2015-10-26 21:07] asmeurer commented on #9191
I guess according to https://github.com/sympy/sympy/pull/9657, we decided to just change it. Meaning this issue can be closed, unless anyone objects.

[2015-10-26 21:07] #9191 closed

[2015-10-26 21:17] asmeurer commented on #7853
Closing this issue, since the deprecated feature was removed.

[2015-10-26 21:17] #7853 closed

[2015-10-26 21:18] asmeurer commented on #7284
See https://github.com/sympy/sympy/issues/7853 and https://github.com/sympy/sympy/issues/9191.

[2015-10-26 21:18] #7284 closed

[2015-10-26 21:19] asmeurer commented on #10045
No, the function name should stay the same. The printing should change.

[2015-10-26 21:26] moorepants commented on #9191
There have been no complaints if this was in 0.7.6, so we can ignore the proper deprecation.

[2015-10-26 22:18] asmeurer opened #10047 "solve(sin(x) < 2) is wrong"
[code]

The answer should be all real x. Note, this is from the Wester paper (N13).

[2015-10-26 22:59] asmeurer commented on #9191
Again, not sure what complaints you were expecting. 0.7.6 was identical to 0.7.5 except that the release notes mentioned a deprecation. The behavior didn't change until 0.7.7-dev.

[2015-10-26 23:20] moorepants commented on #9191
Oh yeah. I think we got the deprecation warning wrong, so no one has been warned that we are changing this for the next release. Maybe we do need to fix it so that users get some kind of warning.

[2015-10-27 01:09] SpeedyiiiTH commented on #10045
ok. Let me try once.

[2015-10-27 03:57] SpeedyiiiTH commented on #10044
can you please explain me what is this segment doing.?

`return getattr(self, printmethod)(expr, *args, **kwargs)`

as I'm not getting what this is doing or what is this calling really.

Regards.

[2015-10-27 04:14] moorepants commented on #10044
It retrieves the function named `printmethod` from the object and evaluates the function with the expression.

[2015-10-27 05:38] gxyd commented on #10047
The problem occurs on [this line](https://github.com/sympy/sympy/blob/master/sympy/solvers/inequalities.py#L438-L441) . The same thing that `sin(oo).n()`. returns `nan`.
Can you please tell what is "Wester paper"? (may be a link to that)

[2015-10-27 08:58] SpeedyiiiTH commented on #10045
I want to ask what does it really mean by your statement that.
**It should print the same as it is accessed. **

As when we are accessing the delop function, we are ourself returning self._del.

I'm really not clear on this, please guide me through this.

[2015-10-27 11:07] debugger22 commented on #9425
Yes.

[2015-10-27 12:05] SpeedyiiiTH commented on #10044
after this segment of code:
[code]
from `printer.py`

this function is called:
[code]
from `pretty.py`

but when I tried The following on my terminal this is what I got:
[code]

so I think this function should be called.
[code]
from preety.py instead of the tuple function.

am I going in the right direction?
or the required flow is what its going to?

need help to move forward in this issue.

[2015-10-27 15:36] smichr commented on #10023
In what case is there infinite recursion? It looked like all tests passed so I committed it.

[2015-10-27 15:40] asmeurer commented on #10047
See sympy/core/tests/test_wester.py.

[2015-10-27 15:42] asmeurer commented on #10047
How does it end up substituting oo? There is no oo in the original problem.

[2015-10-27 15:43] asmeurer commented on #10006
Which functions from solveset should be added to `__init__.py`?

[2015-10-27 15:47] asmeurer commented on #10045
I mean it prints as `N.del` but if you type that, it gives an AttributeError. It should print as `N.delop`.

[2015-10-27 15:48] aktech commented on #10006
I would say just `solveset()`, `linsolve()` & `linear_eq_to_matrix`.

[2015-10-27 15:51] asmeurer commented on #10044
In your code, `var` is the last value of `var` in the loop (take a look at `type(N).__mro__` directly). In the printing code, it uses the first value that exists, which should be `_print_CoordSysCartesian`.

Basically, all that code is doing is dispatching the printer to `_print_Class` for an object of class `Class`, or if that doesn't exist, trying the same for superclasses until it finds one tha

[2015-10-27 15:52] spjammy opened #10048 "Indexed Object Latex printing, wrong if base label has a subscript"
If the base label has subscripts, then the Indexed object latex format throw double subscript error.

 This change removes the error

def _print_Indexed(self, expr):
-        tex = self._print(expr.base)+'_{%s}' % ','.join(
-        tex = '{%s}'%self._print(expr.base)+'_{%s}' % ','.join(
           map(self._print, expr.indices))
       return tex

[2015-10-27 15:57] aktech commented on #9980
I don't think currently ImageSet is able to perform all the set operations on Complex Sets.

Please note that it's not just about representing rectangular or polar regions, we should be able to perform all the set operations in argand plane, & `ComplexRegion` is a good candidate for that.
To be concise: `ComplexRegion` is analogous to `Interval` *and* `S.Complexes` is analogous to `S.Reals` in com

[2015-10-27 15:59] asmeurer commented on #10006
See https://github.com/sympy/sympy/pull/10049. Let me know if anything else should be added.

[2015-10-27 16:00] gxyd commented on #10047
It substitutes the `start(=S.NegativeInfinity)`[on this line](https://github.com/sympy/sympy/blob/master/sympy/solvers/inequalities.py#L443) into `e`(the original expression) , the substitution takes [on this line](https://github.com/sympy/sympy/blob/master/sympy/solvers/inequalities.py#L428) then `sin(oo) - 2` is checked for `(sin(oo) - 2).n)()` which is `nan` hence is `.is_comparable`[on this li

[2015-10-27 16:31] SpeedyiiiTH commented on #10045
I got this from your words that:
if I type:
` N.del` it should give me `N.delop`

and on giving `N.delop` its giving `N.del` which is good.

am I getting you correct?

[2015-10-27 16:42] asmeurer commented on #10045
There should be no `N.del`. It should print as `N.delop`, because that's what it actually is.

[2015-10-27 16:51] shivamvats opened #10050 "`rs_series` fails with Puiseux series."
[code]
No expansion is done.

[2015-10-27 17:04] SpeedyiiiTH commented on #10045
It means in both cases either I type `N.del` or `N.delop` it should always give `N.delop`.

Or you want to say that there should be nothing of  kind `N.del` meaning .del should not be defined.

[2015-10-27 17:22] gxyd opened #10052 "P(X < oo ) for any Continuous Distribution raises AttributeError"
[code]

[2015-10-27 19:15] asmeurer commented on #10045
There should be no `N.del`.

[2015-10-27 21:44] manipalsingh013 commented on #10044
Was that suppose to do something like this:

In [1]: from sympy.vector import *
In [2]: N=CoordSysCartesian('N')
In [3]: pprint(N.base_vectors())
Pretty printing has been turned OFF

[2015-10-27 23:04] MooVI opened #10056 "linsolve does not find solutions that solve_linear_system does"
For some overdetermined systems, `linsolve` does not find solutions which `solve_linear_system` does. For example:

[code]
On the other hand:

[code]

works fine.

I understand that this issue is problematic because `solve_linear_system` is being deprecated in favour of  `linsolve`: #10000.

[2015-10-28 08:04] proy87 opened #10058 "Incorrect limit"
`limit(2/sqrt(tanh(1/x)**2-1),x,0)` outputs `2`, when it should be infinite.

[2015-10-28 08:54] jksuom commented on #10058
This is the result in v0.7.7.
[code]

[2015-10-28 09:01] proy87 commented on #10058
This is fixed then.

[2015-10-28 09:01] #10058 closed

[2015-10-28 09:52] SpeedyiiiTH commented on #10045
So this is the thing you wanted to be done here.

[code]
Is this all we need to do?

[2015-10-28 15:12] asmeurer commented on #10045
All you need to do is this

[code]

[2015-10-28 16:32] SpeedyiiiTH commented on #10045
So, I think I have Implemented that.

now should I drop a pull request?
or do you need to check the code changed first.

If I'm to send a pull request, Please guide me to do so as I hadn't created any pull request till now.
Thanks.

[2015-10-28 17:51] tyagi-prashant commented on #10045
SpeedyiiiTH: you can send pull request by cloning a latest git  repository , prepare a branch with your code upload it somewhere. after that send a link to your upload to sympy mailing list so that sympy members can review your work.

[2015-10-28 18:22] leosartaj commented on #10045
@tyagi-prashant @SpeedyiiiTH We prefer Github for sending pull requests. Read [this](https://github.com/sympy/sympy/wiki/Development-workflow) to get started.

[2015-10-28 18:32] asmeurer commented on #10045
I can't check the code until you send a pull request, so that's what you should do.

[2015-10-28 19:25] SpeedyiiiTH commented on #10045
I had made a pull request,
have a review of that and let me know if something more needed to be implemented.

[2015-10-28 20:47] asmeurer opened #10060 "Codegen doesn't support 1-D arrays for Fortran"
See https://stackoverflow.com/questions/33355858/sympy-generate-fortran-code-with-one-dimensional-array. If you give codegen a 3x1 Matrix, it generates code for a 3x1 array.

This behavior is probably correct, but there ought to be a way to generate code for a one-dimensional (or even n-dimensional really) array. The main question here is, what SymPy object would be correct to use? @Upabjojr

Inte

[2015-10-28 21:24] asmeurer commented on #7985
You can look at the discussion on the PR. The idea is that subs should not necessarily evaluate expressions automatically (doit() on that should give the final answer 2).

[2015-10-28 21:28] Newman101 opened #10061 "Code coverage report on README.rst?"
Hi all.

Is it possible to get code coverage report to README file?

Coveralls (https://coveralls.io/) does provide free coverage report for open source projects.

Thanks.

[2015-10-28 21:51] Upabjojr commented on #10060
Are you making a reference to https://github.com/sympy/sympy/pull/10016/ ?

[2015-10-28 21:56] asmeurer commented on #10060
Just asking your thoughts. Regarding that PR, I think we want at least a SymPy (immutable subclass of Basic) object.

[2015-10-28 23:04] Upabjojr commented on #10060
There's already an abstract super-class. I didn't want to make a single PR too long.

[2015-10-29 00:01] moorepants commented on #10061
I think people have worked on this some. There was a sympy coveralls account at some point. Feel free to set it up. You may want to search the mailing list and github to find other references. I don't think there will be any objection to adding it and it would be nice to know the number. But I don't think we should make it a strict goal to get 100% coverage.

[2015-10-29 00:51] asmeurer commented on #10061
I tried it at https://github.com/sympy/sympy/pull/1960 but it was a mess because of mpmath. It should be easier now that we don't use it, though.

If you want to do this and need me to perform any actions on coveralls (since you don't have push access) just let me know.

[2015-10-29 01:16] ian-r-rose opened #10062 "Problems with repr() in IPython"
Hi all,

This is a bit marginal as to whether it's a SymPy issue or and IPython issue. I've been trying to get some objects to output with LaTeX rendering in IPython notebooks, and I have been getting some sort of  collision with the state of the sympy printing system (regardless of whether my objects actually use sympy). That is to say, if I call `sympy.init_printing()`, it can break the renderin

[2015-10-29 04:30] cbm755 opened #10063 "Integer raised to Float power does not evaluate"
Rational raised to Float power does the right thing, but Integer raised to Float does not:
[code]
I think the first result should do the same as
[code]

[2015-10-29 05:16] asmeurer commented on #10062
It looks like a bug in IPython.

SymPy registers display formatters for various builtin types, including `list`. The formatter for `list` only prints LaTeX if all the elements are LaTeX printable (i.e., SymPy types). Otherwise lists that are completely unrelated to SymPy like `[lambda x: x]` would print as LaTeX, and it wouldn't look good. The relevant code is in sympy.interactive.printing.

Since

[2015-10-29 07:23] coozmaster opened #10065 "Inconsistency with Residue"
When using the residue function, I'm seeing some inconsistent behavior (this is being used to evaluate potential flow theory).

I have a complex potential:
F= m/(2 pi) (ln(z-b) + ln(z-a**2/b) - ln(z) )

Where m, b, and a are all positive. Additionally, I know that b>a and z is a complex number.

Then I evaluate the complex velocity by differentiating with respect to z:
w = diff(F,z).expand()

So f

[2015-10-29 07:33] #10052 closed

[2015-10-29 11:46] tyagi-prashant commented on #10045
@asmeurer i made a pull request for this issue.
please review it, so that i could get to know if something went wrong

[2015-10-29 12:31] jksuom commented on #10065
It looks like both results are incorrect, the factored form being worse. Setting ``g = f.factor()`` we get
[code]
Neither of these results is correct. The correct residue can be extracted from the series expansion.
[code]
The denominator of the second term is quadratic in ``z - a**2/b``. Hence the residue is obtained from the two remaining terms whose denominators are linear. The result given abov

[2015-10-29 12:45] moorepants commented on #10062
Yes this is a possibility. SymPy has a very extensive printing system that came along before IPython's system. Our current method of enabling out printers to work the the IPython system relies on enabling various classes through a global hook into IPython via `init_printing`. In the long run this interaction with IPython may need to be redesigned.

Our printing system prints lists and tuples of Sy

[2015-10-29 12:46] moorepants commented on #10062
Sorry, I had the above half typed yesterday and missed Aaron's response before pressing "Comment".

[2015-10-29 15:36] asmeurer commented on #10045
@tyagi221295 there is already a pull request by @VinaySingh035 at https://github.com/sympy/sympy/pull/10059 (in the future, to both of you, please actually paste the pull request link instead of just writing "I made a pull request").

[2015-10-29 15:42] asmeurer commented on #10045
Oh and I completely missed that `del` is a keyword. So `N.del` is actually impossible.

[2015-10-29 15:43] asmeurer commented on #10045
I merged https://github.com/sympy/sympy/pull/10059.

[2015-10-29 15:43] #10045 closed

[2015-10-29 15:45] #10063 closed

[2015-10-29 16:05] asmeurer commented on #10056
@aktech @hargup

[2015-10-29 16:37] asmeurer commented on #10006
https://github.com/sympy/sympy/pull/10049 was merged.

@hargup @aktech would love to hear your thoughts on the above checkboxes. I don't think https://github.com/sympy/sympy/issues/8711 necessarily needs to be fixed before the release, unless we do end up deprecating solve (probably not going to happen, unless you have LambertW and non-linear multivariate ready to go).

So what really needs to be

[2015-10-29 16:44] asmeurer commented on #9480
The problem is that it shouldn't raise an error if `simplify=True` is already given, and there's no way for `iszerofunc` to know what the value of that option is.

[2015-10-29 16:47] smichr opened #10068 "recursion error for solveset_real"
The following generates an infinite recursion error:

[code]

[2015-10-29 16:48] smichr opened #10069 "key error for solveset_real"
The following generates a key error

[code]

[2015-10-29 16:56] tyagi221295 commented on #9480
@asmeurer when the rank function is being called cant be check if the  is_zero value if it turns out to be none then we could simply assign simplify=True instead of false that is default value

[2015-10-29 16:58] moorepants opened #10070 "Vector package needs printers"
The sympy.vector package could use some custom printers to enhance the readability of the objects in different environments. Inspiration and code can be gathered from the sympy.physics.vector package.

[2015-10-29 17:02] tyagi221295 commented on #10070
@moorepants what actually are you trying to say please explain me??

[2015-10-29 17:33] smichr opened #10071 "solveset returns ConditionSet for solvable expression"
[code]

The answer should be

[code]

[2015-10-29 18:24] TomasRiker opened #10072 "Unable to integrate sin(exp(x)) and sin(x^2)/x"
SymPy seems to be unable to integrate `sin(exp(x))` and `2*sin(x^2)/x` (tested with Live Shell).

This is kind of surprising, since both integrals are easily solved by substituting `u=exp(x)` (first case) or `u=x^2` (second case), resulting in the new integral `sin(u)/u`, which SymPy knows to be `Si(u)`.

Why doesn't it consider these substitutions?

[2015-10-29 19:07] ian-r-rose commented on #10062
Thank you for the quick replies.

After some more experimentation, it seems that explicitly registering the output function via the IPython `for_type()` interface as described [here](https://ipython.org/ipython-doc/3/config/integrating.html) does the trick. That is to say, instead of implementing a `_repr_latex_()` function, I can get a handle to the LaTeX formatter and do

[code]

I am not sure w

[2015-10-29 19:09] asmeurer commented on #10062
Ah yes, that should also fix it. I would still report this to IPython, though, since it does appear to be a bug in my view.

[2015-10-29 19:49] asmeurer opened #10073 "1/(-ln(35) + 2*sqrt(3)) > 0.1 evaluates but 1/(-ln(35) + 2*sqrt(4)) > 0.1 does not"
As reported on the mailing list

[code]

The former should be True.

I dig into it, and it's coming from `Expr._eval_is_positive` where it calls `_eval_evalf(2)` on the expression. We have

[code]

The `zoo._prec` is then checked, which raises AttributeError, so the routine returns None.

I think the routine would do the right thing if it weren't for this (if I comment out that check, it works and

[2015-10-29 19:50] asmeurer commented on #10073
@smichr IIRC you wrote a lot of this code. What are your thoughts?

[2015-10-29 20:14] asmeurer commented on #10070
It needs printers for the various printers in `sympy.printers` to be defined (string printer, pretty printer, latex, etc.).

[2015-10-29 20:16] asmeurer commented on #10072
I checked on master and `integrate(2*sin(x**2)/x)` works.

The other one does not. It ought to work via the code in manualintegrate which does try various u substitutions.

[2015-10-29 20:18] asmeurer commented on #10072
I even see code that always tries `u = exp(x)`. But maybe manualintegrate only uses itself, whereas I think the `Si(x)` integral requires another algorithm to actually compute. I'm just guessing, though, as I haven't fully investigated.

[2015-10-29 20:25] jksuom commented on #10072
It looks like the tables of manualintegrate are currently restricted to elementary integrals. It might be possible to extend them to include functions like ``Si`` and ``Ci``.

[2015-10-29 20:41] asmeurer commented on #10047
I don't really understand how the algorithm works, but substituting oo seems wrong.

[2015-10-29 20:47] asmeurer commented on #9980
What other kinds of regions would you have (other than those that can be constructed from Union and Intersection of rectangular and polar regions)?

I'm unclear what you think should be done here.

[2015-10-29 20:54] manipalsingh013 commented on #10038
I'm newbie, @asmeurer  @gxyd how are checking whether line283 or some other line was checked or not.

[2015-10-29 20:55] moorepants commented on #10062
I tried this with sympy master and IPython 4.0 and it seems to work properly.

[2015-10-29 21:28] manipalsingh013 commented on #10044
@asmeurer @moorepants I put a pull request https://github.com/sympy/sympy/pull/10057 but it failed on some tests, need help, also I'm not getting that error anymore.

[2015-10-29 23:09] moorepants commented on #10062
Here is the gist showing this is working :http://nbviewer.ipython.org/gist/moorepants/5eb4863f65cbe7635dc0

[2015-10-30 00:48] smichr commented on #10073
I would have to dig into this again. My initial feeling is that `_eval_evalf` should return a float. Note that if you increase the precision the result will evaluate to a float:

[code]

[2015-10-30 01:04] ian-r-rose commented on #10062
Huh, neat. I will try to reproduce (I am currently using sympy 0.7.6 and IPython 3.2), but if this is no longer an issue in more recent versions, I see no reason to continue.

[2015-10-30 02:06] ian-r-rose commented on #10062
Hm, when I try to use the sympy dev version and IPython 4.0 it still does not work.
The workaround described above still fixes it, however.
https://gist.github.com/ian-r-rose/f296376d0d824ee34dbe

[2015-10-30 03:46] coozmaster commented on #10065
Ah, I see. I appreciate the explanation, I believe I understand more about the residue function and its inherent limitations.

I'll be sure to pay attention to this in the future, and checking its results against f.nseries.

Thank you for the help, it is greatly appreciated!
Andrew

[2015-10-30 03:46] #10065 closed

[2015-10-30 04:18] gxyd opened #10075 "X.pdf(x) for Symbol x returns 0"
[code]
Either this should raise a `ValueError` or unevaluated. Returning unevaluated seems more favourable.

[2015-10-30 04:30] moorepants commented on #10062
I can't reproduce that effect anymore either. I'm not sure what was going on.

[2015-10-30 04:46] asmeurer commented on #10073
I guess it has to do with the relative difference between these numbers

[code]

[2015-10-30 05:32] gxyd opened #10076 "SingleContinuousPSpace(x, NormalDistribution(2, 4)).probability(x < 1) return Wrong Integral"
[code]

[2015-10-30 09:55] jondo opened #10078 "Cylindric algebraic decomposition (CAD)"
I know that's a huge topic, but please keep this issue open for tracking it.

First of all: [qepcad](https://www.usna.edu/CS/qepcadweb/B/QEPCAD.html) and [Redlog](http://www.redlog.dolzmann.de/) contain the only free implementations available, as far as I know. Is it absolutely necessary to have a Python implementation (as certainly intended in the [GSoC idea](https://github.com/sympy/sympy/wiki/G

[2015-10-30 10:23] jksuom commented on #10065
@coozmaster , thanks for opening this issue. It is a bug that ought to be fixed. I think you should reopen the issue even if there is a workaround for finding the residues.

The code in SymPy is based on the series expansion that is probably reliable. The fix could be to extract all terms with linear denominator, not only those strictly of the form constant times ``1/(z - a)`` where ``a`` is the p

[2015-10-30 11:34] kevalds51 commented on #10070
can I take it?

[2015-10-30 11:38] debugger22 commented on #10070
Sure! I don't see any open PR for it.

[2015-10-30 13:36] jksuom commented on #10075
``X`` is a uniform discrete distribution with value 1/6 at each point of its space {1, 2, ..., 6}. This could be returned. (And maybe ``ValueError`` for invalid argument values.)

[2015-10-30 13:50] tyagi221295 commented on #10038
i have made the pull request for this issue.#10080.

[2015-10-30 15:26] TomasRiker opened #10081 "Website says "SymPy is written entirely in Python and does not require any external libraries.", but then "SymPy now depends on mpmath as an external library.""
SymPy's main website says:

But then, when trying to import SymPy, I get the error:

Isn't that a contradiction?

[2015-10-30 15:31] certik opened #10082 "refine(sqrt(x**2), Q.positive(x)) stopped working"
Before 270c351966f75cb4edbdf780af7081f82b616b5e we had the following (correct) behavior:
[code]
After that commit, we have the following (incorrect) behavior:
[code]
Or in master, we get:
[code]
Either way, this looks like a major regression. I don't quite understand that none of our tests failed.

[2015-10-30 15:53] debugger22 commented on #10081
Yes, it is. Website should be updated. Thanks for pointing it out!
On Oct 30, 2015 8:56 PM, "David Scherfgen" <notifications@github.com> wrote:

[2015-10-30 15:54] debugger22 commented on #10082
Hi Ondrej. I'll try to fix it today.
On Oct 30, 2015 9:01 PM, "Ondřej Čertík" <notifications@github.com> wrote:

[2015-10-30 15:56] TomasRiker commented on #10081
Well, at least mpmath doesn't have additional dependencies, and it is also fully written in Python, so no need to install any binary libraries. :)

[2015-10-30 16:04] asmeurer commented on #9955
There is https://github.com/sympy/sympy/wiki/Dependencies, but it's out of date. We could just update that, and reference it (or move it to the docs if it seems useful).

[2015-10-30 16:26] moorepants commented on #10081
Yes, we are still purely python dependent, but the next release (1.0) will introduce dependencies. The current release, 0.7.6, does not require deps as mpmath is included. So the website needs to be updated for the next release. You must be installing the dev version.

[2015-10-30 16:31] #10038 closed

[2015-10-30 16:32] asmeurer commented on #10038
Huh, apparently if you put "fixes #10038" in the merge commit message it doesn't automatically close the issue.

[2015-10-30 17:49] certik commented on #10082
@debugger22 thanks. I just discovered that with @woodscn today. It's weird, because I thought it is part of our doctests here: http://docs.sympy.org/dev/modules/assumptions/refine.html#sympy.assumptions.refine.refine

[2015-10-30 18:58] asmeurer commented on #10082
Looks like those doctests were changed at 9a7732a8. We should revert them back to how they were and add real tests to this too (after fixing the issue).

[2015-10-30 23:15] smichr opened #10085 "invert_real returns non-real value for exp(x)"
[code]

Probably empty set should be returned?

[2015-10-31 00:52] smichr opened #10086 "solve generates a NaN comparison error"
[code]

It looks like the problem is that it is trying to sort the solution which contains a nan. One can see the solutions it is working with by requesting a set:

[code]

It's interesting to see that a Piecewise is present because it couldn't decide the sign of an expression.

BTW, the actual solutions (confirmed visually) are:

[code]

[2015-10-31 13:15] smichr commented on #8458
cf #8453

[2015-10-31 13:31] smichr opened #10087 "simplify sum/product of Piecewise functions"
`piecewise_fold` might be able to simplify expressions containing products and sums of piecewise more compactly:

This product

[code]

could be

[code]

And this sum

[code]

could be

[code]

[2015-10-31 14:43] tyagi-prashant commented on #9480
if a waring is add for simplify = True when rank function is called without it, the warning will also shown when the matrix is already simplify. I think it is not right to add a waring.

[2015-10-31 21:41] smichr commented on #10023
I have a fix for this in my 9451 branch but other commits are in process. If I can separate out the changes that fix this I will do so.

[2015-10-31 21:49] hargup commented on #10023
That'll be great, thanks!

[2015-10-31 23:51] smichr commented on #10023
I took out the irrelevant parts but still have several commits that depend on each other at #10089. Since you worked on the g/h modification, perhaps you could take a look at the related commit at the PR.

[2015-11-01 12:59] smichr opened #10092 "subs into inequality involving RootOf raises GeneratorsNeeded"
If x is real then the following generates and error

[code]

But a vanilla x does not raise:

[code]

[2015-11-01 15:05] smichr commented on #7189
This appears to be fixed:

[code]

I suspect it was fixed when the change to root isolation was made. I guess a test could be added to close this fully.

[2015-11-01 18:30] gxyd opened #10095 "simplify((1/(2*E))**oo) returns `nan`"
[code]

[2015-11-01 20:18] leosartaj commented on #10095
This works,

[code]

[2015-11-01 20:59] gxyd opened #10096 "unxfail tests in test_eval_power.py"
[These lines in test_eval_power.py](https://github.com/sympy/sympy/blob/master/sympy/core/tests/test_eval_power.py#L338-L344) now pass in master. So `@XFAIL` can be removed.

[2015-11-01 20:59] gxyd commented on #10096
@debugger22 please have a look(for validity of issue)

[2015-11-02 10:51] kevalds51 commented on #10070
How exactly do I implement test cases? Should I do it same the way it is done in physics.vector package?

[2015-11-02 20:07] asmeurer commented on #7189
Or check if the PR that fixed it already added a similar test.

[2015-11-02 20:54] cbm755 opened #10101 "Fresnel integrals contain gamma fcns and do not simplify enough"
[code]

But the various constants are (correctly) just 1:

[code]

I haven't looked carefully, but one possibility is

[code]

which is possibly related to #8156.

[2015-11-02 21:01] cbm755 opened #10102 "fresnel limit to infinite gives wrong answer"
[code]

[2015-11-02 21:03] cbm755 commented on #10102
Hmmm: `fresnels(x).limit(x,-oo)` correctly gives `-1/2`

[2015-11-03 07:56] jksuom commented on #10101
It seems that the simplification of gamma functions should be developed further. It is currently done in ``combsimp`` that was originally developed for combinatorial functions. In #9785 I suggested that the gamma function part be moved to an new module ``gammasimp`` that would make it easier to concentrate on properties specific to the gamma function.

[2015-11-03 14:53] gxyd opened #10104 "DiscreteUniformDistribution(1) does not raise Error"
[code]
[Link to Wikipedia Article](https://en.wikipedia.org/wiki/Uniform_distribution_(discrete))
@jksuom Can you please verify the validity of issue.

[2015-11-03 18:58] tyagi-prashant commented on #10092
@smichr it should return a error,right??

[2015-11-03 19:35] tyagi-prashant opened #10106 "subs into equality on same equation but different variable treat's differently."
[code]
@asmeurer please verify the issue

[2015-11-03 20:02] VinaySingh035 commented on #10106
@tyagi-prashant  it seems to me that here the error is only in the case when the variable is "x".

For other variables it works fine.
I will be happy to work on.

Regards,
Vinay

[2015-11-03 21:31] VinaySingh035 commented on #9890
In my thought the conjugate of an expression gives us as a complex number.
As every Real number is too a complex number.

so we need to mention real part of the conjugate part while subtracting it from the real part only.

so the following works:
[code]

as conjugate of a real takes the real as an imaginary input and makes the conjugate as  "x + I*y " where y=0 but it will still be a Imaginary num

[2015-11-03 21:50] VinaySingh035 opened #10107 "Error in pretty print of sqrt(), conjugate(Complex)"
when called for real variable:
[code]
and for complex:
[code]

similar for sqrt() function.
[code]

[2015-11-03 23:03] thisch commented on #10107
I can't reproduce your issue. Which version of sympy are you using?

[2015-11-03 23:09] manipalsingh013 commented on #10107
I'm also not getting any error, even on live sympy
![screenshot from 2015-11-04 03 53 20](https://cloud.githubusercontent.com/assets/13970876/10924615/f0ec9aa2-82ad-11e5-90b2-921490d7c250.png)

[2015-11-04 03:21] smichr opened #10111 "loss of precision when evaluating an expression"
I am not sure what is the root cause of the low accuracy result of the following expression calculate to less than 5 digits, but there is something wrong.

The expression is from the non-RootOf solution to

[code]

Evalution at 3, 4, and 5 should all agree to the digits shown -- the first value should be 0.373 not 0.375.

The true answer can be obtained numerically from nsolve:

[code]

The actual

[2015-11-04 07:45] VinaySingh035 commented on #10107
Mine veersion of sympy is "0.7.7.dev".  with python2.7.6.

giving different error when using the installed sympy.
[code]

the error above mentioned is the one I got when used the cloned sympy.
and this is the error when I used the sympy I installed via `sudo apt-get`.

[2015-11-04 07:51] thisch commented on #10107
I guess it is not using the version you installed via apt-get, as sympy is used from ``/usr/local``. You probably also installed your cloned repo to ``/usr/local``. Try to remove this folder from ``/usr/local`` and try it  again.

[2015-11-04 11:59] gxyd opened #10113 "imageset(lambda x: x**2/(x**2 - 4), S.Reals) returns (1, ∞)"
[code]

Since `[1, ∞).is_subset(S.Reals)`

[2015-11-04 15:21] loeiten commented on #9183
I just got the same ```sympy.polys.polyerrors.DomainError: there is no ring associated with RR``` error when trying the following

[code]
Although rewriting to
[code]
did not throw the error. Also

[code]
made it work (as suggested by @jksuom).

Is there any plans to make this happen? I guess this very bug could be the cause of major frustrations for many users (at least it did for me).

[2015-11-04 16:35] asmeurer commented on #10107
Are you on the `master` branch? I also don't see this error.

[2015-11-04 17:08] VinaySingh035 commented on #10107
I have no idea as I an on Master branch or not.
I tried too hard to find the same error on my friends systems, but is unable to produce on anyone's system.

The Initial Error is found on the Sympy cloned.
` int object is not callable.`

and the `UnicodeEncodeError` is found when I used in the system's sympy. which I have installed using `sudo apt-get install`.
I think there is some problem with my

[2015-11-04 17:41] smichr commented on #10106
duplicate of #10092; conversation continue there.

[2015-11-04 17:41] #10106 closed

[2015-11-04 17:44] smichr commented on #10092
PR #10106 just makes subs pass over RootOf -- RootOf is kind of like an atom as I think I discussed in the commit message there. In general, if a subs shouldn't target something it just passes over that object; the behavior is governed by `_eval_subs`.

Please feel free to make comments on the PR.

[2015-11-04 20:23] lblum opened #10117 "Something strange with XOR"
Maybe I'm doing something wrong, but I'm having the following

[code]
It's intentional? or maybe I'm doing somenthing wrong?

Thanks a lot!

[2015-11-04 20:48] mafiya69 commented on #10117
I am getting
[code]

[2015-11-04 21:08] leosartaj commented on #10117
In the latest release (0.7.6.1)

[code]
I recommend upgrading to the latest version.

[2015-11-04 21:08] #10117 closed

[2015-11-04 21:08] leosartaj commented on #10117
Feel free to reopen if you have further issues.

[2015-11-05 01:28] MooVI commented on #10056
On further investigation, this issue is not restricted to just overdetermined systems. Here is an example of an undetermined system for which `solve_linear_system` (and Mathematica) find solutions but `linsolve` does not:
[code]

On the other hand, I have found a matrix equation which `linsolve` solves but for which `solve_linear_system` hangs indefinitely (an issue I am not reporting since it's b

[2015-11-05 14:21] jksuom commented on #10104
It seems to me that ``DiscreteUniformDistribution`` was planned to be very general. Its probability space is allowed to be practically any finite set of (SymPy?) objects. On the surface, there appears to be no reason why it could not be a singleton {1} or the set {2, 1} given in non-standard order.

I think it could be argued that a ValueError should be returned whenever the argument does not belo

[2015-11-05 15:28] hargup commented on #10069
`solveset_real` is meant to be only used through the high level wrapper `solveset` with the `domain=S.Reals` argument. In case an inequality is passed to it, it calls the appropriate inequality solver. We should make this clear in the doc-string and maybe we should make `solveset_real` a private function.

[2015-11-05 16:17] asmeurer commented on #10006
After a video chat with @hargup and @akhmerov, we've decided not to do any full deprecations of solve for this release but just document that it will be replaced and that people should use solveset. We also agreed to replace solve with solveset in places like the tutorial.

[2015-11-05 16:26] MooVI commented on #10056
The problem is with this [line] (https://github.com/sympy/sympy/blob/f865a088d2b717f3840a4814cb4660f31af8f84a/sympy/matrices/matrices.py#L4320)

[code]

If you change that to:

[code]

Then:

[code]

which are the same solutions, although `solve_linear_system` give them in simpler form (but one could always call `simplify` on the results of `linsolve`).

Perhaps the arguments of rref (`iszerofunc`

[2015-11-05 16:29] aktech commented on #10056
I think that would probably complicate the input API.

That seems like a better idea.

[2015-11-05 16:49] MooVI commented on #10056
OK. I merely wondered whether giving the choice would be good because of the answer asmeurer gave in [this stackoverflow question] (http://stackoverflow.com/questions/19072700/why-does-sympy-give-me-the-wrong-answer-when-i-row-reduce-a-symbolic-matrix):

What do you think about linsolve calling simplify on its results as well? It does give much more complex solutions than `solve_linear_system` doe

[2015-11-05 17:03] aktech commented on #10056
@MooVI  The problem with such flags is that, if the user is not aware of them he would be getting `EmptySet()` & we would not like to have the result of `linsolve` dependent on flags.

Yeah, that's better Indeed.

[2015-11-05 17:57] MooVI opened #10120 "Default value of simplify flag of rref() should be True"
The default value of the `simplify` flag of `rref()` is False, which is confusing because it means some symbolic calculations do not work by default. This was recently highlighted in #10056 , which was caused by `linsolve` not setting the flag correctly. I notice in matrices.py both `rank` and `QRDecomposition` call `rref` without simplify by default, which also risks causing problems.

In [this s

[2015-11-05 17:59] moorepants commented on #10120
-1. Simplification is too slow of an operation to have the default as True. In general, no SymPy computations should rely on simplification. I agree with @asmeurer's comment.

[2015-11-05 18:02] aktech commented on #10120
I think there could probably be some pre-processing in `rref` so that it knows, when to simplify the things.

[2015-11-05 18:05] MooVI commented on #10120
@moorepants Certainly simplification is slow, but slow is better than silently being wrong. I agree with @aktech 's suggestion if it is possible. At the very least on encountering the symbolic entries in the matrix `rref` could spit out a warning that it may well give an incorrect result.

[2015-11-05 18:25] moorepants commented on #10120
If you get wrong answers without simplification then there is likely another issue that needs to be dealt with.

Note that we solve linear systems in the sympy mechanics package that have huge expressions. If you want some test cases that show how detrimental the simplification routines can be, we can provide them.

[2015-11-05 18:34] MooVI commented on #10120
In the part of his answer @asmeurer I didn't quote, he explains why simplification is fundamentally necessary for `rref()` with symbolic entries:

I don't doubt this slows the algorithm down, and obviously the flag should remain an option so you can go fast if you want for large expressions *which you know are safe*. With the current default, most users won't initially be aware of the importance o

[2015-11-05 18:53] MooVI opened #10121 "Incorrect circular references in solutions from linsolve in underdetermined systems"
**Edit**: See comment below pinpointing the problem and providing a possible solution

I am sorry that this is hardly a minimal working example, but this is a real world problem and though I've been playing around with it I can't reproduce it with simpler systems:

[code]

`linsolve` will only get this far with the changes in #10119 merged. Now observe in the `linsolve` answer we have a number of

[2015-11-05 19:13] #10075 closed

[2015-11-05 19:18] moorepants commented on #10120
I see, yes the rref zero detection is an issue. I wonder if evaluating the expression with numbers could be faster than trying to simplify the expression. For an arbitrary expression in a matrix entry, simplification is likely the slowest possible way to determine if it is zero. This is an issue with all symbolic manipulators and others must have some solutions for this. Have you researched how th

[2015-11-05 19:28] asmeurer commented on #10120
Zero equivalence is an impossible problem in general (see Richardson's Theorem). For restricted classes of functions it is computable (e.g., for rational functions). I my opinion the only completely right way to solve this is to have domains for matrices, e.g., a matrix over QQ(x) would only allow rational functions in x with rational number coefficients as its entries. This domain would know how

[2015-11-05 19:53] MooVI commented on #10120
Possibly of relevance here is the [Mathematica notes on implementation] (https://reference.wolfram.com/language/tutorial/SomeNotesOnInternalImplementation.html) for symbolic linear algebra.

But how in practice you'd go about implementing without falling into the obvious pitfalls with substituting in random values, I don't know

[2015-11-05 20:36] asmeurer commented on #10073
I guess it also doesn't return a Float for finite complex numbers either

[code]

[2015-11-06 01:10] MooVI commented on #10121
No, in fact, the circular references are actually just wrong. The correct solution should just be `x5: x5`, `x6: x6`, `x7: x7`; i.e all those variables should be free. This is easily seen by comparing the number of free variables in the solve_linear_system answer, or just by looking directly at the answer of `gauss_jordan_solve`.

I believe this is due to a bug in `gauss_jordan_solve` [here] (http

[2015-11-06 01:57] smichr commented on #7189
I remember work that I and @jksuom did on this. There were some issues with root isolation that were fixed and those were tested well. I'm just going to close this.

[2015-11-06 01:57] #7189 closed

[2015-11-06 04:42] smichr commented on #10069
For efficiency sake, I beleive that's a good idea (to make all but `solveset` private): `solveset` gets args into shape and dispatches to the appropriate helper.

[2015-11-06 05:25] smichr opened #10122 "expression with multiple abs has partial solution returned"
Here is the right answer (confirmed graphically)

[code]

Here are ways to get the wrong answer:

[code]

[2015-11-06 18:27] proy87 opened #10123 "inverse_laplace_transform value error"
`inverse_laplace_transform(20/(s**3 - 2*pi*s**2), s, t)` raises `ValueError: too many values to unpack`

[2015-11-07 11:58] jksuom commented on #10123
SymPy's integrator finds a hypergeometric function representing the transform, and then tries to express that in terms of more tractable functions, Lerch's transcendents in this case.

The new expression is derived from the partial fractions of the coefficients of the hypergeometric function. ``try_lerch`` applies [``apart``](https://github.com/sympy/sympy/blob/master/sympy/simplify/hyperexpand.py

[2015-11-08 01:16] eric-wieser commented on #7219
Here's a crappy implementation that catches the simple cases correctly (ignoring initial conditions):

[code]

[2015-11-08 10:47] Upabjojr opened #10124 "Simplification fails to recognize sin expressed as exponentials"
[code]

The expression for `sin(1)` has not been recognized, while expressions for `cos` and `-sin(1)` have.

[2015-11-09 11:34] owenwr opened #10125 "Substituting matrices into a formula"
How can I substitute a matrix for a symbol?

[2015-11-09 21:50] asmeurer commented on #10006
@hargup @aktech do either of you want to write this documentation, or should I do it?

[2015-11-09 22:07] imranal opened #10127 "Key error from evaluation of expression with float value in trignometric function"
I posted about this on SO :
http://stackoverflow.com/questions/33595476/key-error-while-performing-simplification-on-an-expression?noredirect=1#comment55003854_33595476

The following code
[code]
 generates the error :
[code]
The issue is resolved if rational expressions are used in the trigonometric functions.

[2015-11-09 22:19] asmeurer commented on #9312
Dupe: https://github.com/sympy/sympy/issues/10044

[2015-11-09 22:19] #9312 closed

[2015-11-09 22:41] asmeurer commented on #10044
There is a fix at https://github.com/sympy/sympy/pull/10084

[2015-11-10 14:50] aktech commented on #10006
I will take care of it.

[2015-11-10 15:23] aktech commented on #10006
@asmeurer @hargup   See #10131

[2015-11-10 16:38] asmeurer opened #10132 "Documentation on how to create custom SymPy objects"
There are a lot of pitfalls that you can fall into when creating your own SymPy objects. We need to have some best-practices documentation in the Sphinx docs.

I intend to do this myself, although I don't know when I'll get to it. Others should feel free to pick it up if you feel that you know what should go in it.

[2015-11-10 22:20] #10092 closed

[2015-11-10 22:54] tschijnmo commented on #9341
Solved by PR #10112.

[2015-11-10 22:54] #9341 closed

[2015-11-11 20:52] asmeurer opened #10134 "Remove "raise StopIteration""
See https://www.python.org/dev/peps/pep-0479/. Support for raising StopIteration is going to be removed.

This issue is easy to fix (at least in principle). Just replace `raise StopIteration` with `return`.

There is a `__future__` import in Python 3.5 but we can't use it because it is not available in earlier versions (and because of the way `__future__` imports work they cannot be imported condi

[2015-11-11 21:00] asmeurer commented on #10134
I guess there is also a deprecation warning that is silent by default, but we could turn it into an error when the tests run. That would be better than a syntactic test in the code quality tests.

[2015-11-12 10:14] VinaySingh035 commented on #10134
do we just need to replace the `raise StopIteration` statement to `return`?

as "raise StopIteration" is present only in two files:
[code]
do we need to do anything else in this issue.
Regards.

[2015-11-12 10:38] gxyd commented on #10134
Here is what i get
[code]

So i think it is present in these many files.

[2015-11-12 10:43] VinaySingh035 commented on #10134
@gxyd i got this:
[code]
on doing
[code]
I think the first 4 are only files, and rest are just **binary files**  which get generated while compiling our source code I guess.

[2015-11-12 10:49] VinaySingh035 commented on #10134
oh, sorry I misunderstood the message of binary file.

so after changing in the respective modules, is it all needed in this issue?
@asmeurer @gxyd

[2015-11-12 11:00] #10107 closed

[2015-11-12 16:38] asmeurer commented on #10134
There are also subclasses.

[code]

[2015-11-12 17:48] VinaySingh035 commented on #10134
@asmeurer

what should be done with these there subclasses:
[code]

as replacing the **StopIteration** here with **return** doesn't make any sense.

and again do we need to replace this all only in this issue.

[2015-11-13 06:32] asmeurer commented on #10134
I don't know. What is the point of that subclass?

[2015-11-13 17:57] smichr opened #10137 "integration of equivalent Piecewise gives two different results"
The following are different only in how the inequalities are written yet two different results are obtained from integration:

[code]

[2015-11-13 18:14] VinaySingh035 commented on #10134
so should I make a pull request without changing the `raise SqrtdenestStopIteration` in the modules.

@asmeurer

[2015-11-13 18:50] asmeurer commented on #10134
That would be a good start.

[2015-11-13 19:46] asmeurer commented on #10137
Looks like it's a bug in `_eval_interval`:

[code]

[2015-11-14 14:56] smichr opened #10140 "solveset gives only a single interval for periodic trig function"
solveset should give more than a single interval for periodic functions

[code]

If this is addressed by #10022 a test should be added there.

[2015-11-14 21:45] zanzibar7 commented on #7902
Currently, this is partially implemented, but easy to break
[code]

[2015-11-14 22:40] zanzibar7 commented on #7902
I'd appreciate any suggestions on how to improve this pull request.  It works, but I'm concerned it isn't adequately recursive.

[2015-11-15 05:36] gxyd commented on #10113
Now i checked from [google](https://www.google.com/?gfe_rd=cr&ei=qRlIVu6yM4LD8Aess4XoBw&gws_rd=cr&fg=1#q=x**2%2F(x**2+-+4)) for its graph, which clearly shows that
`range` of `x**2/(x**2 - 4)` overs `S.Reals` should be `(-∞, 0] ∪ (1, ∞)`.

[2015-11-15 19:14] zanzibar7 commented on #10137
Related to issue #5227 -- resolving arbitrary conditionals is hard.

If done explicitly with Heavisides,
[code]

[2015-11-15 19:31] zanzibar7 commented on #10137
Both agree but give the wrong answer when using `manual=True`.
[code]

[2015-11-15 20:54] zanzibar7 commented on #10137
`And()` also has problems.
[code]
These are both the same answer, and are correct if a > 2, but are incorrect for a < 2.

[2015-11-16 04:33] smichr commented on #10137
Agreed. This seems to be working now in my `pc` branch which I will create as a PR some time this week. The answer for the p3 and p4 expressions in that branch is `Piecewise((x, And(x < a, x > 0)), (0, True))`. For the p0 and p1 expressions I now get:

[code]

[2015-11-16 04:39] smichr commented on #5227
Just an update for the master as of this date:

[code]

[2015-11-16 06:11] smichr opened #10143 "Interval(-oo, oo) is not S.Reals"
It seems like the Interval created from S.Reals should be S.Reals

[code]

[2015-11-16 07:26] asmeurer commented on #10143
I agree that it's weird, since S.Reals is an Interval, but it seems that it would be useful to be able to represent the two differently, at least for printing. That probably means that S.Reals shouldn't really be an Interval, though. This does break the pattern for other singleton objects.

[2015-11-16 07:52] jksuom commented on #10143
Here are some additional experiments.
[code]

[2015-11-16 10:33] VinaySingh035 commented on #10134
@asmeurer  is this the all until now we need to change here regarding this issue.
have a look on the pull request I made.

[2015-11-16 15:58] smichr commented on #7902
We should put comments regarding the PR on the PR, not the issue. I will add one there.

[2015-11-16 16:38] Curious72 commented on #10143
Performed the following experiment ...
This computes to true

True

(-oo, oo)

[2015-11-16 16:47] Curious72 commented on #10143
I guess u are comparing the objects of the wrong type , that is why it is giving an error
Interval(-oo, oo) is of type sympy.set.sets.Interval while S.Reals is of type sympy.sets.fancysets.Reals,
so comparing objects of two different types is returning false, i guess thats the problem

[2015-11-16 17:17] opoplawski commented on #9927
sympy builds in Fedora are failing now with the switch to python 3.5.  Build log is here: https://kojipkgs.fedoraproject.org//work/tasks/8924/11858924/build.log

[2015-11-16 17:40] asmeurer commented on #9927
There is work to fix all these issues at https://github.com/sympy/sympy/pull/10084.

[2015-11-17 00:42] asmeurer commented on #10082
@debugger22 are you still planning to fix this?

The problem is that `_eval_refine` uses the old assumptions, but it needs to use the new assumptions. Also, `_eval_refine` itself needs to take `assumptions` as an argument, and use things like `ask(Q.positive(e), assumptions)` instead of `e.is_positive`. Other `_eval_refine` functions should be fixed as well.

If you don't have time to fix it I wil

[2015-11-17 07:33] Curious72 commented on #10134
I was looking through the file sympy/build/lib.linux-x86_64-2.7/sympy/logic/tests/test_inference.py
and it has the following lines:

 result = satisfiable(A ^ B, all_models=True)
    print type(result)
    models.remove(next(result))
    models.remove(next(result))
    raises(StopIteration, lambda: next(result))

the satisfiable is returning a generator named "result"
the use of next (result)  req

[2015-11-17 17:15] asmeurer commented on #10134
I believe that test is correct. `return` in an iterator is automatically converted to `raise StopIteration` internally:

[code]

[2015-11-17 17:24] asmeurer commented on #10082
Also `refine_Pow` needs to call `refine` recursively when it returns an `abs`.

[2015-11-17 17:26] SJCaldwell commented on #8129
Is this still open? I'll take it if so.

[2015-11-17 17:45] smichr commented on #7902
The recent PR by @zanzibar7 now allows Sums to be factored.

[2015-11-17 18:34] Curious72 commented on #10134
So U cant remove the use of StopIteration as if we use an iterator and use the next() method , it will internally use the StopIteration method , So the way to remove this issue would be to abandon the use of next() , or writing customized next() method !!

[2015-11-17 20:02] asmeurer commented on #10134
Only "raise StopIteration" should be removed. Other uses of StopIteration (catching the exception) are fine and correct.

[2015-11-17 21:02] VinaySingh035 commented on #10134
@asmeurer
there's got a tag on the PR:#10138 I had created saying ```PR: author's turn``` what does it mean here.

[2015-11-18 00:09] gxyd commented on #10134
It just means that: your Pull Request currently needs more work from your side, since the last time someone reviewed. You can continue to work on that PR(without any problem), that tag (author's turn) is helpful for the reviewers.

You can read more about it [here](https://groups.google.com/forum/#!searchin/sympy/autor$27s$20turn/sympy/14dxPREl56k/WNEPcHwmwlYJ)

[2015-11-18 00:59] asmeurer commented on #8129
You'll have to check, but I suspect that https://github.com/sympy/sympy/pull/10053/files fixed this.

[2015-11-18 08:28] Curious72 commented on #10134
@asmeurer  Dont u think we would have to change more files , as If we replace "raise StopIteration" with return in a method in a file,  if any other file imports that method and depends on the StopIteration exception , then we would have to make changes to that file as well !

[2015-11-18 10:10] Curious72 commented on #10134
hey can u please explain , when we are running tests ,for ex->  /sympy/core/expr.py[3].......[ok]
what does that [ no. ] mean after the filename...
and how to debug the errors using the data on travis , like we can see which files failed

[2015-11-18 14:05] gxyd commented on #10134
That represents the number of `functions` or `test functions` in the file `sympy/core/expr/tests/test_core.py`. So [3] means there are 3 functions in the file `sympy/core/tests/test_core.py`.  This numbering only appears during running tests, so it will only have a path something like `sympy/directory_module/tests/test_file_name.py`.

This question does not make sense to me. Perhaps you want to kn

[2015-11-18 16:26] asmeurer commented on #10134
@Curious72 only the ability to raise StopIteration is going away, because `return` is exactly the same as it, but less error prone (see the PEP). The exception itself is still used by the interpreter to signal that a generator has stopped.

[2015-11-18 17:21] asmeurer commented on #10082
Oh never mind on the recursive thing. `refine` does that automatically.

[2015-11-18 18:27] asmeurer opened #10148 "ask(Q.nonnegative(x**2), Q.positive(x)) gives None"
[code]

The relevant fact(s) would probably have to be implemented in satask to make this work.

[2015-11-18 18:29] asmeurer commented on #10082
I'm hitting some snags fixing this because of https://github.com/sympy/sympy/issues/10148. Also, it seems that refine is much slower when using ask than using the old assumptions (which is to be expected).

[2015-11-18 20:34] asmeurer commented on #10082
A "fix" at https://github.com/asmeurer/sympy/tree/eval_refine, but there are some issues.

[2015-11-18 21:17] asmeurer opened #10150 "Derivative of _diff_wrt object with itself doesn't evaluate"
[code]

Marking as easy to fix because it probably is.

[2015-11-18 21:42] asmeurer opened #10152 "expr.atoms() should return objects with no args instead of subclasses of Atom"
`expr.atoms()` with no arguments returns subclasses of `Atom` in `expr`. But the correct definition of a leaf node should be that it has no `.args`.

This should be easy to fix, but one needs to check that this doesn't affect the performance.

[2015-11-18 22:31] zanzibar7 opened #10153 "Powers of Integrals and sums should be automatically recognized"
Sympy should recognize that `Integral(f(x)*f(y),(x,0,1),(y,0,1))` is really just a single integral being squared.  Currently,
[code]
The answer should really be
[code]
But would everybody be okay with automatic changing of these dummy variables?

[2015-11-18 22:47] asmeurer commented on #10150
It's because it has no `_eval_derivative` method (the one on `Symbol` comes from `AtomicExpr`). You can work around this by defining it in a similar way. It seems like it should work automatically, though. At the very least, it should be documented that you have to do this.

[2015-11-19 00:54] Harrison-G commented on #5418
:+1: Would love to see this soon, especially seeing as [it's been planned on the wiki since March of 2012](https://github.com/sympy/sympy/wiki/Parsing).

[2015-11-19 02:34] smichr opened #10156 "do not use `has` to test against self.variables when factoring Sum"
[code]

[2015-11-19 04:25] Curious72 commented on #10150
@asmeurer  do we have to make change to the sympy/core/expr.py : diff(self,*symbols,**assumptions)?
putting a special case inside diff method might work !! but after making changes i am getting errors on python shell , in importing sympy -> " sympy now depends on mpmath as an external library ...."

[2015-11-19 07:38] debugger22 commented on #10082
Sorry about it. I was carried away by other things. I've commented on the PR.

[2015-11-19 11:36] #10121 closed

[2015-11-19 16:30] asmeurer opened #10157 "Replace needs_brackets with parenthesize in the latex printer"
The LaTeX printer has a `_needs_brackets` method, which checks if something needs parentheses. But there is already the parenthesize module, which works more generally. Uses of `_needs_brackets` should be replaced and `_needs_brackets` should be removed or deprecated.

I've already replaced one instance of this over at https://github.com/sympy/sympy/pull/10084, but I didn't bother with the rest.

[2015-11-19 16:33] asmeurer commented on #10157
https://github.com/asmeurer/sympy/commit/63315630e86df3b6864783e83d2d9ee83f102b76 is the relevant is the relevant commit from that PR.

[2015-11-19 16:39] #10156 closed

[2015-11-19 17:02] asmeurer opened #10158 "solve(x*Max(x, 15) - 10, x) doesn't work"
`solve(x*Max(x, 15) - 10, x)` gives NotImplementedError. `solveset` can't solve it either.

I think to solve equations like this, one should replace the Max with each argument and solve independently, then backtrack and remove any solutions where the Max argument is not actually the maximum. For instance, in this case, one would solve `x**2 - 10` and `x*15 - 10`. The first one gives `[sqrt(10), -s

[2015-11-19 20:55] Nedaaaa opened #10160 "System of Equations"
I am trying to solve a system of linear equations which in matrix notation it is like below:
K -  w * M = 0
where K and M are known square matrices and I am trying to find the values for w.
Can I solve this matrix equation with SymPy??

[2015-11-19 21:54] asmeurer opened #10161 "factor gives an invalid expression"
This was reported on the mailing list a while back

[code]

[2015-11-19 21:59] asmeurer commented on #10161
Oh, it's very important that `x = Symbol('x', real=True)`.

[2015-11-19 22:01] asmeurer commented on #10161
Probably related:

[code]

Notice how the `x` doesn't combine correctly in some of the terms.

[2015-11-19 22:11] asmeurer commented on #10161
It used to work. I bisected it to

commit 246f52e36141783bdee253b518d8faad9366c44b
Author: Aaron Meurer <asmeurer@gmail.com>
Date:   Mon Jul 23 00:20:26 2012 -0600

    Refactor expand() (again)

    This is a continuation of the work that was started in
    d166080d296249281289ec957ad2ef887dc43ed4.  This commit goes even further than
    that one.

    expand() now completely handles all the deep

[2015-11-19 22:22] asmeurer commented on #10161
I guess this is the real problem

[code]

which doesn't look like it ever worked correctly.

[2015-11-19 22:43] smichr commented on #10158
Perhaps rewriting as a Piecewise and resubmitting to `solve` rather than handling the solution in-place would be a way to go? The `piecewise_fold`would then take care of multiple Max/Min in the expression

`x*Max(x, 15) - Max(x, 10)` -> `Piecewise ((x**2, x>15), (15, True)) - Piecewise ((x, x>10), (10, True))` for which sympy says the solution is 15.

[2015-11-19 22:58] zanzibar7 commented on #10153
I've got some proposed code for fixing this in terms of a good hashing.  However, I get some errors from the quantum module because QExpr does not provide names for it's symbols even though they return as free symbols under some conditions.

[2015-11-19 23:53] certik commented on #10161
Nice work figuring out what went wrong!

[2015-11-20 03:44] smichr commented on #10161
This is one way to fix it:

[code]

This gives

[code]

[2015-11-20 05:37] asmeurer commented on #10158
Yep, this seems to work

[code]

So I guess the algorithm I hinted at is already implemented for Piecewise. You don't need to fold to solve multiple Piecewise, by the way, just check every combination of Piecewise args.

It looks like Max.rewrite(Piecewise) isn't implemented.

By the way, this is from http://stackoverflow.com/q/33803806/161801.

[2015-11-20 05:42] asmeurer commented on #10161
I'm a little concerned how that would affect the performance of Mul.flatten (which is a very core routine). What is the fundamental cause of the issue?

[2015-11-20 05:43] asmeurer commented on #10161
What is the point of `bnew, enew = Pow(b, c*t).as_base_exp()`? I assume you're intentionally trying to get the Pow constructor to do some simplification, since otherwise `bnew, enew` would just be `b, c*t`.

[2015-11-20 05:46] asmeurer commented on #10161
Oh I get it. It's because `abs(x)**2 == x**2`. How does this affect the performance? I think a better solution would be to remove that automatic simplification based on assumptions. That's basically already starting to be done in Pow and Abs, but I guess this particular instance happens in `Abs._eval_power`, and not in the Pow constructor directly.

[2015-11-20 07:23] mforbes commented on #9173
Any update on why this might be happening?  It still seems to be an issue.

[2015-11-20 07:30] jksuom commented on #10160
If you multiply the matrix equation by ``M**-1`` you get ``K*(M**-1) - w = 0``, i.e., ``w = K*(M**-1)``.

[2015-11-20 15:29] Nedaaaa commented on #10160
@jksuom
Sorry, I made a mistake! actually I want to solve this equation:
det( K - w * M ) = 0

[2015-11-20 16:49] asmeurer commented on #10160
Is w a scalar or a square matrix?

[2015-11-20 16:49] jksuom commented on #10160
If ``w`` is to be a scalar, its possible values are the eigenvalues of ``K*(M**-1)``. Those are the roots of the characteristic polynomial and obtained from ``(K*M**-1).eigenvals()``.

[2015-11-20 16:50] asmeurer commented on #10160
You can also use `solve((A - w*M).det(), w)` directly.

[2015-11-20 16:52] Nedaaaa commented on #10160
@asmeurer
w is an unknown variable which will be the roots of det( K - w * M ) = 0 equation.
actually w is a scalar but it would have n different value based on the size of the K and M matrices.

[2015-11-20 16:53] Nedaaaa commented on #10160
@jksuom
What do you mean by K*(M**-1)?

[2015-11-20 16:53] asmeurer commented on #10153
This is a more general version of https://github.com/sympy/sympy/issues/5539. You should read the discussion on this issue there before making this happen automatically.

[2015-11-20 16:54] jksuom commented on #10160
``K*(M**-1)`` is the matrix product of ``K`` and the inverse of ``M``.

[2015-11-20 16:56] Nedaaaa commented on #10160
@jksuom
You are right! I hadn't noticed it!
Thank you so much.

[2015-11-20 17:46] Shekharrajak commented on #10161
It is giving correct answer on latest version ( http://live.sympy.org/ ).
[code]
and we can check, both are not equal :
[code]

[2015-11-20 18:26] asmeurer commented on #10161
`==` will only tell you if they are structurally equal, not mathematically equal. To check that, you need to plug in different values and see if they evaluate to the same result as I have done above, or subtract the two and see if the difference simplifies to 0.

[2015-11-20 18:30] asmeurer commented on #10161
@smichr did you check if your fix fixes the original problem? I'm not 100% sure that it's the full extent of the issue. The core problem is that the `x*x**2`, and probably also the `Abs(x)**2 == x**2`, is confusing the polys, leading it to make invalid assumptions on the independence of the variables (it will pick `x` and `Abs(x)` to be the variables of the expression). `together` and `as_numer_de

[2015-11-20 18:49] Shekharrajak commented on #10161
I checked there is some problem and your guesses look correct.It gives wrong answer when we do
[code]

but gives correct one when we do :
[code]

[2015-11-20 19:21] jksuom commented on #9173
It seems that there is a bug in the computation of the series expansion of ``1/f`` when the order of ``f`` is negative (and that of ``1/f`` is positive).
[code]
It is caused by an incorrect loop count in ``Pow._eval_nseries`` (on [this line](https://github.com/sympy/sympy/blob/master/sympy/core/power.py#L1179)).

[2015-11-20 20:55] asmeurer opened #10162 "Why does indexing a MatrixExpr not give a MatrixElement object?"
There is a `MatrixElement` object for representing elements of matrix expressions unevaluated. If you slice a matrix expression, it generates the expression:

[code]

But it can be represented unevaluated with

[code]

and evaluated

[code]

(The `S(0)` is needed because MatrixElement doesn't sympify its args, which is a separate bug). It seems that slicing should return the unevaluated form, whic

[2015-11-20 21:21] asmeurer opened #10163 "DotProduct object needed for matrix expressions"
A dot product object for the matrix expressions would be useful. You can achieve the same thing with MatrixElement and MatMul, but a dot product would at least be able to print better, and it could have built-in type checking that the input matrices really are vectors.

[2015-11-21 02:21] zanzibar7 commented on #9461
This is we well known result.  https://en.wikipedia.org/wiki/Gaussian_integral  But the general problem of changes of variable in 2 or more dimensions is something that's harder to implement .

[2015-11-21 02:27] zanzibar7 commented on #10153
I've read through the old issue ported in #5539 now.  The problems with nested, multiple integrals and coordinate transforms remain in Integral, as far as I can tell.  I was motivated by classic calculations
of bias in statistics.

[code]

You cann't do this calculation unless you can recognize the index variable alone doesn't change
the sum's values.      (of course, it's a pretty nasty cludge in

[2015-11-21 07:59] smichr commented on #10161
The test expressions from the OP are in my first reply and both give the same answer. I don't know about how performance will be affected -- I cringe to think about iterating over all powers again. There is probably a better way to identify these problems before combining pairs.

[2015-11-21 08:01] smichr opened #10165 "Intersection gives wrong result"
This is one of the tests in the test suite. The following demonstrates that Intersection gives the wrong result.

[code]

I am running tests on my `reduce` branch that fixes this.

[2015-11-21 09:20] smichr commented on #10161
One can see that Poly will trip over (some) un-gathered powers:

[code]

[2015-11-21 18:12] smichr commented on #10161
The running of the core tests went from 350 (2 run ave) to 360 (2 run ave) with the changes I made. PR forthcoming.

[2015-11-22 07:23] vishnu93 commented on #10150
Hi, I made a fix for this which is adding the _eval_derivative in Expr class. Derivatives wrt itself is showing result one. I have the following doubts :
1 The test file test_diff.py breaks as we are checking the Expr class doesnt have a _eval_derivative method. Since are requirement is that this method should be present, should that test be modified?
2 Should _eval_derivative be removed from the

[2015-11-22 10:58] darkcoderrises commented on #10143
I added a print statement to as to when a new S.Reals class object is created. I noticed that
In [19]: Interval(*S.Reals.args) is S.Reals
Out[19]: False

In [20]: Interval(*S.Reals.args) == S.Reals
other
Out[20]: True

Interval creates a new object, so it comes true only when new S.Reals object is created.

[2015-11-22 17:33] #10113 closed

[2015-11-23 13:16] jksuom commented on #9464
This is probably not hard to fix. If there is no shape in an instance of ``IndexedBase`` (i.e. ``self._shape`` is None), then `` + (self._shape,)`` should be omitted from ``IndexedBase._hashable_content`` (in the same way as in ``IndexedBase.args``).

The result should be tested with Python 3.

[2015-11-23 16:01] proy87 opened #10169 "solve_undetermined_coefficients hangs"
Thisexample can't be solved, method hangs
`-8*A - x**5*(A + B + C + E) - x**4*(4*A - 2**(3/4)*C + 4*C + D + 2**(3/4)*E + 4*E + F) - x**3*(-4*2**(3/4)*C + sqrt(2)*C - 2**(3/4)*D + 4*D + sqrt(2)*E + 4*2**(3/4)*E + 2**(3/4)*F + 4*F) - x**2*(4*sqrt(2)*C - 4*2**(3/4)*D + sqrt(2)*D + 4*sqrt(2)*E + sqrt(2)*F + 4*2**(3/4)*F) - x*(2*A + 2*B + 4*sqrt(2)*D + 4*sqrt(2)*F) + 5`

[2015-11-23 18:10] jksuom commented on #10160
@Nedaaaa Maybe this could be closed?

[2015-11-23 19:53] Nedaaaa commented on #10160
@jksuom yes, I got my answer.
Thank you

[2015-11-23 20:09] #10160 closed

[2015-11-23 20:12] asmeurer commented on #10161
I'm also worried about the possibility of infinite loops.

[2015-11-23 21:49] asmeurer commented on #10150
@Curious72 you will need to install mpmath. We used to include it with SymPy but you now need to install it yourself.

@vishnu93 Can you be more specific about which test you are referring to?

[2015-11-24 16:46] jksuom commented on #10161
There is another possibility. The critical part in ``factor`` seems to be ``poly_from_expr``, in particular this piece:
[code]
That can be fixed in ``polys`` e.g. in the following way.
[code]
This might be more appropriate than a change in core, since the issue derives from the polynomial relation ``Abs(x)**2 - x**2 = 0``.

[2015-11-24 17:58] asmeurer commented on #10161
The polys in general are going to choke on generators with algebraic relations on them. That does seem like a simple fix, though. Did you check the tests to see if it doesn't break anything else.

A reminder that a third possible fix would be to remove the automatic simplification of `Abs(x)**2`. All three of these fixes seem like they could be "right". We shouldn't consider them to be exclusive t

[2015-11-25 04:24] joshuacook commented on #10157
I can take a look at this.

[2015-11-25 07:18] jksuom commented on #10161
The fix I proposed is based on the observation that ``_dict_from_expr`` currently relies on the monomials being reduced. That is not the case with ``x*Abs(x)*Abs(x)``. After ``Mul`` gets done wiith it, it is still a product ``x*x**2`` instead of ``x**3``. This goes into the argument of ``_dict_from_expr``. My fix simply collects the exponents ``1 + 2`` instead of allowing the last one overwrite pr

[2015-11-25 12:59] vishnu93 commented on #10150
@asmeurer I'm referring to this test case under test_diff.py :

def test_diff_no_eval_derivative():
    class My(Expr):
        def __new__(cls, x):
            return Expr.__new__(cls, x)

    x, y = symbols('x y')
    # My doesn't have its own _eval_derivative method
    assert My(x).diff(x).func is Derivative #This is the problem as diff wrt itself should be 0
    # it doesn't have y so it shou

[2015-11-25 16:51] smichr commented on #10161
I am in favor of your change because Poly should correctly deal with unevaluated expressions (I would think).

I believe that the core "flatten" routine should also correctly flatten args and should do the right thing if a power changes form because of autosimplification.

[2015-11-25 18:07] jksuom commented on #10161
I agree.

[2015-11-25 19:11] darkcoderrises commented on #10152
Hi, can i work on this?

[2015-11-25 20:47] benaxelrod opened #10172 "improper numpy test?"
It seems to me that line 166 of `sympy/external/tests/test_numpy.py` should be changed from this:

[code]

to this:

[code]

[2015-11-25 21:17] asmeurer commented on #10152
Sure. Did you read https://github.com/sympy/sympy/wiki/Introduction-to-contributing?

[2015-11-25 21:39] darkcoderrises commented on #10152
Yes, thanks.
Can you tell me if I am looking in the correct file?
https://github.com/sympy/sympy/blob/master/sympy/core/basic.py#L399

[2015-11-26 10:24] mikeroberts3000 opened #10173 "mechanics_printing module does not display 4th derivatives correctly"
When I run the following code snippet in an IPython notebook, the 1st, 2nd, and 3rd derivatives display correctly, but the 4th derivative does not. The 4th derivative simply displays as p, rather than as \ddddot{p}.

[code]

At first glance, this behavior seems to be caused by the `_print_Derivative` function in sympy/sympy/physics/vector/printing.py not handling 4th derivatives. I'll try hacking

[2015-11-27 20:22] skstar opened #10175 "about using subs, replace"
I'm newbie of python and sympy.

I have a problem to use subs and replace

I tried to below code.

(x + 1/x).subs(1/x, x)
(x + 1/x).replace(1/x,x)

I expected 'x + 1/x'
but result was 2x

Am I wrong? or did I misunderstand about using subs?
Please help me.
Thanks.

[2015-11-27 22:24] darkcoderrises commented on #10152
How should I remove .args? Should I try to remove ._args from object instance or add new attribute to class Atom(), is_leave. Which when assigned as false, will raise attribute error on .args. Or something else?

[2015-11-28 06:35] leosartaj commented on #10175
``subs`` will find occurrences of ``1/x`` and replace them with ``x``.

This should work in your case

[code]

Also checkout the docs for [subs](http://docs.sympy.org/latest/modules/core.html?highlight=subs#sympy.core.basic.Basic.subs) and [replace](http://docs.sympy.org/latest/modules/core.html?highlight=subs#sympy.core.basic.Basic.replace).

[2015-11-28 10:58] kenenbek opened #10176 "Can't solve piecewise function"
I have this code: But I can't resolve it, because python (sympy) says `RuntimeError: maximum recursion depth exceeded while calling a Python object`. How can I resolve this problem?
from __future__ import division
from sympy import *
import numpy as np
import time
def wealth_evolution(delta, wealth=10, rate=0.13, q=1, realEstate=0.1, prev_price=56):
    price = symbols('p')
    z = rate - ((price-

[2015-11-28 14:33] gxyd opened #10177 "sympified Matrix.is_real returns False"
[code]
I don't think this is expected.

[2015-11-29 13:34] PaulElschot commented on #7671
I may have hit a similar problem. When running this code:

[code]

The output (`t x y`) is:
-3 697 984
-2 21 28
-1 1 0
0 -3 4
1 -119 168

However, for `t=0` and `t=1`, I would expect (`x y`) values in this way:

4 4
120  168

For these non negative`t` the solutions contain `-x+1`  instead of` x`, which is ok from inspection of the first two terms `-2*x**2 + 2*x == -2*x*(x - 1)`.

In this case both

[2015-11-29 14:24] jksuom commented on #7671
These are the values I get using the development version:
[code]

[2015-11-29 21:37] PaulElschot commented on #7671
The development version provides two solutions, and that is a nice improvement.
The actual solution has more structure, for each t it has a pair of values for x and a pair of values for y.

I only need solutions with `1 <= x <= y` , and the first solution in dev appears to provide these.
I'll give the dev version a try.

[2015-11-30 06:32] moorepants opened #10181 "solve() can't solve a simple exponential expression"
The following causes SymPy to start computing and doesn't finish within a couple of minutes. Seems like `solve()` should be able to do this.

[code]

[2015-11-30 12:43] gxyd opened #10182 "init_printing(use_unicode=True) printing of Cycle(1, 2) raises AttributeError"
[code]

[2015-11-30 16:20] #10165 closed

[2015-11-30 22:52] smichr commented on #10181
Can you use nsolve instead? I think the floating exponent is going to be converted to a rational and you will get many (i.e. 10000)  roots. You can see what I mean by solving something like `y=x**1.2` which will give 5 roots.

[2015-11-30 23:32] PaulElschot commented on #7671
Thanks, the dev version here provides the improved answer.

[2015-12-01 03:32] moorepants commented on #10181
Yes I can use nsolve in this case. I guess I was assuming solve to do the numeric solve under the hood. I'll close this.

[2015-12-01 03:32] #10181 closed

[2015-12-01 12:31] pedritomelenas opened #10184 "pprint Matrix with characters E"
If you try to latex print a matrix with characters and this character is E or I, the they are translated in LaTeX to lower case (with N will raise an error). The same issue in print.

[code]
Notice the the `e` is translated to the exponential.

Thanks

[2015-12-01 15:01] souravsingh commented on #9955
I can work on the issue

[2015-12-01 15:06] souravsingh commented on #6571
Is the issue still open?

[2015-12-01 15:07] souravsingh commented on #6002
Is the issue still open?If so,Then I can work on it.

[2015-12-01 15:36] asmeurer commented on #10184
This is a perfect example of why you should not use strings as input. SymPy (sometimes) converts strings to SymPy expressions automatically using `sympify`, but `sympify` will translate names of SymPy functions to those functions, and only unknown names are translated to Symbol objects. In this case, `E` is `exp(1)` and `N` is a function that numerically evaluates expressions. See https://github.c

[2015-12-01 15:36] #10184 closed

[2015-12-01 15:46] asmeurer commented on #6571
I see a lot of xpass tests in the Travis logs, so yes.

[2015-12-01 15:47] asmeurer commented on #6002
I believe these are the docs http://docs.sympy.org/latest/modules/simplify/hyperexpand.html.

[2015-12-01 17:06] pedritomelenas commented on #10184
Yes, I already used the symbols trick in my code. But for me this is a bug.

Enviado con Aquamail para Android
http://www.aqua-mail.com

El 1 de diciembre de 2015 4:36:55 p. m. Aaron Meurer
<notifications@github.com> escribio:

[2015-12-01 19:33] asmeurer opened #10185 "Clarification about srepr in the docs"
Quoting from Gitter chat

but for SymPy we don’t actually use it for `__repr__` because it’s way too verbose
and on top of that when you print a list or a tuple it calls repr on the elements instead of str, so a list of sympy expressions would always have the repr output
that page should probably mention all of this. it could be a lot clearer
oh I guess that’s the tutorial. For the tutorial I woul

[2015-12-01 19:39] asmeurer commented on #10152
I think you're misunderstanding the issue. The issue is not to remove .args. Indeed, every SymPy object should have .args in order to be valid.

The issue is that the `atoms()` method currently uses `x.is_Atom` to check for "atomic" expressions (expressions with no subexpressions), but it really should be checking `not x.args`. It should be a simple one-line fix to the `atoms` function definition

[2015-12-01 20:46] asmeurer commented on #10150
@vishnu93 wrap your code with ``` so that it renders properly (see https://guides.github.com/features/mastering-markdown/)

[2015-12-01 20:49] asmeurer commented on #10150
In any case, I'm still not following what you did. Can you show me the change you made, either by opening a pull request, or pasting the git diff here?

[2015-12-02 10:56] gxyd opened #10187 "Remove the #TODO from numbers.py"
[This line](https://github.com/sympy/sympy/blob/master/sympy/core/numbers.py#L1163) having #TODO can be removed. This is now tested by [this test](https://github.com/sympy/sympy/blob/master/sympy/core/tests/test_numbers.py#L289)  `assert Rational('1e2/1e-2') == Rational(10000)`.

[2015-12-03 05:53] shivamvats opened #10189 "Make `rs_log` work with `rs_series`"
`rs_series` is the newer and faster series expansion method which calls elementary `rs` functions as required by parsing the input expression. However, it currently works with expressions involving sin, cos , exp and tan only. To make it recognize `rs_log` certain changes need to be made in `rs_log`.
Read the comments [here](https://github.com/sympy/sympy/blob/master/sympy/polys/ring_series.py#L1)

[2015-12-03 05:54] shivamvats opened #10190 "Make atan work with rs_series"
See #10189

[2015-12-03 05:56] shivamvats commented on #10050
This was fixed by #10094

[2015-12-03 05:56] #10050 closed

[2015-12-03 08:18] shivamvats opened #10191 "Bug in rs_series"
`rs_series` misses a term for this input:

[code]

[2015-12-03 15:51] #9565 closed

[2015-12-03 15:51] #10047 closed

[2015-12-03 15:51] #10069 closed

[2015-12-03 17:30] jondo commented on #9565
Thanks!
For the record, setting `x` to real is not enough. I need to set the domain in the call:
[code]

[2015-12-04 13:38] gxyd commented on #10187
fixed by #10192

[2015-12-04 13:38] #10187 closed

[2015-12-04 15:25] darkcoderrises commented on #10152
Okay. But, Basic() also return .args to be null. So will not that also appear in the result of .atoms()?

[2015-12-04 16:47] asmeurer opened #10194 "Code printers can't print Sum"
[code]

And similar for `fcode`.

https://github.com/sympy/sympy/pull/9314 may be relevant here.

[2015-12-04 17:46] asmeurer commented on #10152
Yes, that's an example of an object with no args but that isn't a subclass of Atom. `atoms` should return that, because it's a leaf in the expression tree.

[2015-12-04 17:50] decimad opened #10195 "Simplification bug on alternating series."
Hi!
[code]
I think this should be considered a bug.

[2015-12-04 18:04] darkcoderrises commented on #10152
Okay, but if I am understanding you correct, won't this test fail?
https://github.com/sympy/sympy/blob/master/sympy/core/tests/test_basic.py#L73

[2015-12-04 20:42] darkcoderrises commented on #10163
Hi, can i work in this?

[2015-12-04 20:48] #10161 closed

[2015-12-04 23:14] VinaySingh035 commented on #10185
what exactly do you expect to be done in this issue??
as things aren't much clear from above statement.

[2015-12-05 13:31] smichr opened #10196 "reduce_inequalities error"
[code]

[2015-12-05 13:35] smichr opened #10197 "solveset error when input is bool"
[code]

[2015-12-05 13:51] smichr opened #10198 "solving abs with negative powers"
The condition that prevents the following from being solved should be removed:

[code]

[2015-12-05 19:45] Curious72 commented on #10197
what should be the correct output?

[2015-12-05 19:55] leosartaj commented on #10197
As ``solveset`` returns solutions in the form of set. I think this should work fine.

[code]

ping @aktech @hargup

[2015-12-05 19:56] leosartaj commented on #10197
Though I am not very sure about this.

[2015-12-05 20:27] smichr commented on #10197
I've got a fix in progress. Something that isn't clear to me is the ambiguity in what solveset is answering. If the expr is not a Relational then it should answer when expr=0, hence solveset(0) should be the domain. If expr is a Relational (or something that can be obtained from a Relational, i.e., True, False) then True should be the domain and False the EmptySet.  So 0 and 1 which are aliases to

[2015-12-05 21:13] leosartaj commented on #10175
Feel free to reopen.

[2015-12-05 21:13] #10175 closed

[2015-12-05 21:38] leosartaj commented on #10096
Looks valid to me.

[2015-12-05 21:58] leosartaj commented on #9905
I get the following results in the current master

[code]

[2015-12-05 21:59] leosartaj commented on #9905
This appears to have been fixed. Closing.

[2015-12-05 21:59] #9905 closed

[2015-12-06 06:40] kshitij10496 commented on #10096
@gxyd I would like to work on this

[2015-12-06 08:30] mafiya69 opened #10200 "Error of having more than one variables when there are none"
[code]

[2015-12-06 11:05] elDan101 opened #10201 "Solution of "first order linear non-homogeneous ODE-System" is wrong"
## Sympy:

[code]

##### Solution:
[code]

## Maple:
[code]

##### Solution:
[code]

With the initial condition v = (0,0,0) I get 3 zero functions in sympy. The first two in Maple are non-zero due to the extra terms 1/2.

I solved the system also by hand and agree with Maple. It seems that sympy solves the homogenous ode (ignoring the inhomogeneous part). I assume sympy can also solve inhomogenous

[2015-12-06 11:39] gxyd commented on #10096
Sure you can go head.

[2015-12-06 11:40] gxyd commented on #9877
Closing, fixed by #10178

[2015-12-06 11:40] #9877 closed

[2015-12-06 12:53] kshitij10496 commented on #10200
@mafiya69 I would like to work on this.

I think that we just need to add a separate case for no variables with a proper error message.

[2015-12-06 12:57] tokencolour commented on #10200
@mafiya69 @kshitij10496 @leosartaj Would you mind if I look into this?

[2015-12-06 12:58] kshitij10496 commented on #10200
@tokencolour Actually, I have already fixed this and was about to make a PR

[2015-12-06 12:59] tokencolour commented on #10200
Oh! go ahead, then!

[2015-12-06 13:53] kshitij10496 commented on #10096
I will be sending a PR soon

[2015-12-06 15:46] smichr opened #10203 "errors for linear Eq and Ne expressions"
Although expressions involving `<` or `>` are handled, those involving `==` and `!=` are not:

[code]

[2015-12-07 07:59] tokencolour commented on #9044
Why is the issue still open? I would like to work on it if required.

[2015-12-07 09:24] stanle opened #10207 "solve misses solution"
[code]

prints

[code]

but the function also has another root at approximately 0.64 as shown in the plot,
I am using  sympy 0.7.6.1.
[func.pdf](https://github.com/sympy/sympy/files/53658/func.pdf)

[2015-12-07 10:40] kshitij10496 opened #10208 "Test Failure in test_theanocode.py"
While running the tests, I found this [test](https://github.com/sympy/sympy/blob/master/sympy/printing/tests/test_theanocode.py#L177) fails with an `AssertionError`.
Can someone verify the validity of the test failure ?
If verified, I would like to work on this.

Ping @asmeurer @gxyd @leosartaj

[2015-12-07 12:48] #10182 closed

[2015-12-07 13:10] leosartaj commented on #10208
It is failing for me.

[code]

But this shouldn't be happening. Anything to do with versions? @asmeurer

[2015-12-07 16:21] gxyd opened #10210 "LaTex printing of Cycle"
Currently
[code]
That's something of latex for dictionary(`dict`). The LaTex should give the latex representation of `(1 2)`. i.e `latex(Cycle(1, 2))` should return the latex representation of `(1 2)`.

In IPython Notebook
[code]
You can also see the discussion [here](https://github.com/sympy/sympy/pull/10183#issuecomment-162313211) on PR #10183 . Changes should be made to file `printing/latex.py`

[2015-12-07 16:56] asmeurer commented on #10185
Two things

1. Replace `repr` with `srepr` in the tutorial (`doc/src/tutorial` in the sympy source)
2. Add some discussion about `repr` and `__repr__` based on my quoted text above to the `srepr` docstring (which I linked to above).

[2015-12-07 17:10] asmeurer commented on #10152
Yes, it would need to be changed. This is a slight redefinition of what `atoms` means (although hopefully not enough of a breaking behavior to require deprecation).

[2015-12-07 17:22] asmeurer opened #10211 "integrate((1/sqrt(((y-x)**2 + h**2))**3), (x,0,w), (y,0,w)) is wrong"
From http://stackoverflow.com/a/34072296/161801.

[code]

However, the resulting integral is negative when `h` and `w` are positive, even though the integrand itself is nonnegative. It looks like this is coming from the `meijerg` algorithm.

[2015-12-07 19:44] VinaySingh035 commented on #10185
do we have to replace it for all the file's `repr`  present  here in the tutorial directory of the source?

[2015-12-07 21:25] asmeurer commented on #10185
I think it's only mentioned once in the tutorial (in the printing section).

[2015-12-07 21:33] asmeurer commented on #10208
This is fixed at https://github.com/sympy/sympy/pull/10084/files#diff-6bb9fdf4f4680648a0fec6cdc44cde01

[2015-12-08 08:23] kshitij10496 commented on #10208
Thats cool

[2015-12-08 08:46] VinaySingh035 commented on #10185
would be good for a newbie to start with.
so, leaving it.

[2015-12-08 10:26] #10196 closed

[2015-12-08 10:26] #10197 closed

[2015-12-08 13:34] sampadsaha5 commented on #10185
I m going to fix it.
What else from the above quoting we need to add in the documentation ?
@asmeurer

[2015-12-08 14:08] tokencolour commented on #9171
Hello everybody,
As it has been a while anybody commented here, I took the freedom to look into this issue. I have an .rst file ready which is on the lines of what @aktech suggested here. I am new to Sympy and open source community as a whole. I have run tests and as soon as they are over I'll submit a PR. Kindly review it.

[2015-12-08 14:54] jksuom commented on #10211
It seems that most of the wrong integration results are caused by a wrong branch choice of a multivalued indefinite integral. In this case, the first (meijerg) step appears formally correct:
[code]
However, it is not evident from this expression that one should use the negative branch of the square root if ``x < y`` and the positive default branch only if ``x > y``. This is easier to see if both t

[2015-12-08 15:04] #10203 closed

[2015-12-08 15:10] smichr opened #10214 "solveset is not solving equations like sqrt(x) - const"
There is an XFAIL test that indicates that solveset is doing something wrong: the following fails in master

[code]

[2015-12-08 15:49] #10020 closed

[2015-12-08 17:51] asmeurer commented on #10163
Sure, go for it.

[2015-12-08 20:14] latot opened #10216 "Cuda support"
Hi all, do you intend to support in the future cuda?
it feels can be very good here :D
or think this like a feature request.

Cya.

[2015-12-08 21:49] moorepants commented on #10216
Cuda for what? You'll need to be more specific about your request. Maybe you want to be able to generate CUDA code from SymPy objects?

[2015-12-09 00:40] latot commented on #10216
Hi, mm i prefer talk as a user i have some tchnical knowledge but don't is enough, so i'll replace the explanation with my little experience.
I use sympy thx to the pkg symbolic of octave to realize the symbolics calcs.
in this case i found a way to optimize the product of matrix in octave using cuda.
So i think if its posible optimize in that way the sympy functions too, it can be very helpful, t

[2015-12-09 01:07] moorepants commented on #10216
@cbm755 You may be interested in this. Sounds like @latot uses your Octave package.

[2015-12-09 03:13] smichr commented on #8196
In master as of this date:

[code]

So I think this can be closed.

[2015-12-09 03:13] #8196 closed

[2015-12-09 03:19] smichr commented on #10198
duplicates #9451 (same error) but this expression is pehaps different in that it includes a negative power of the Abs -- so I'll leave both open

[2015-12-09 03:22] smichr commented on #10207
If you use rationals instead of floats you will obtain the answers:

[code]

[2015-12-09 03:22] smichr commented on #10207
perhaps this issue should be closed.

[2015-12-09 03:25] smichr opened #10217 "sovleset doesn't solve some nested expessions"
[code]

[2015-12-09 03:29] smichr opened #10218 "AttributeError when solving Eq(1/x, 2) > 0"
The expression is kind of odd and I'm not sure right now what should be done with it, but I am just documenting the issue:

[code]

[2015-12-09 04:33] tokencolour commented on #10218
Hello Sir,
I am a newbie here and I would like to work on this issue. As it is recommended that new people try issues that have Easy to fix labels associated to them, I wanted to ask if, in your opinion, it would be fine if I worked on this.

[2015-12-09 05:24] tokencolour commented on #8889
I would like to work on this.

[2015-12-09 06:11] moorepants commented on #8889
@tokencolour Sounds good. Let us know if you have any questions. Hopefully the conversation above is helpful.

[2015-12-09 06:12] Shekharrajak commented on #9060
Is this issue fixed ?

[2015-12-09 10:42] sampadsaha5 commented on #10218
I went through your issue and I found that :
Eq(a,b) -- Represents that two objects a,b are equal.It means
                                        1
Eq(1/2,x) represents       ─  =  2
                                        x
                                                                                1                                                                     1
After this if we use

[2015-12-09 11:02] aktech commented on #10218
@smichr

I didn't noticed the expression, but as @sampadsaha5  mentioned, I think `Eq(1/x, 2) > 0` doesn't makes sense.

[2015-12-09 11:16] sampadsaha5 commented on #10218
@aktech
So, it means that there is no bug here

[2015-12-09 16:08] smichr commented on #10218
Another way to think of it is an equality represents a set of values (so Eq(1/x,2) is x = {2} whereas Eq(x*(x-1), 0) is x = {0, 1}) and saying `set > 0` might be construed to mean "all members of the set that are positive".  Does that make sense?