[2017-07-19 17:27] bjodah commented on #12902
Could be, I could test against a specific version

On Jul 19, 2017 6:52 PM, "Aaron Meurer" <notifications@github.com> wrote:

[2017-07-19 17:47] pv opened #13004 "Wrong/surprising result from noncommutative Pow.subs"
The following behavior in Sympy seems surprising:
[code]
I would have expected this produces `x`.

The issue appears to be that `Pow._eval_subs` uses fractional powers in the substitution. This then raises questions on what noncommutative symbols in Sympy actually mean mathematically. At least in my use cases for them, certainly `x**2 == 1` does not imply `x**3 == 1`.

I would suggest something li

[2017-07-19 20:35] asmeurer commented on #13004
Agreed, fractional power logic should not apply to noncommutatives. Does your patch result in `x` or `x**3` for the substitution?

[2017-07-19 20:37] pv commented on #13004
It results to `x**3`, so there's room for improvement.

[2017-07-19 20:40] asmeurer commented on #13004
If you're happy with `x**3` you can use `xreplace` instead of `subs` as a workaround. `xreplace` just does exact substitution, no mathematical manipulation.

[2017-07-19 23:24] segevfiner opened #13008 "Package isympy using setuptools console_scripts for Windows support"
`isympy` can't be used easily on Windows since it's installed as an extension-less Python script under the Python scripts directory. The best way to handle this is using the `console_scripts` feature of setuptools (This does add a dependency on it though, but that is quite common nowadays):

[code]

Moving "bin/isympy.py" to "sympy/isympy.py" will also enable `python -m sympy.isympy` to work. Othe

[2017-07-20 07:23] afalaize commented on #12938
Tests with sympy 1.1.1rc1 (from [`here`](https://github.com/pyphs/pyphs/issues/49#issuecomment-316618994)):
[code]

[2017-07-20 08:02] afalaize commented on #12938
The problem is solved with Matrix but not SparseMatrix:
[code]

[2017-07-20 11:46] srihegde commented on #13000
I would like to work on this.

[2017-07-20 13:38] srihegde commented on #12988
I would like to work on this.

[2017-07-20 17:14] ishanaj commented on #10696
@asmeurer @debugger22 @certik if the issue still persists ...i would like to work on it.

[2017-07-20 17:42] andreclaudino opened #13014 "Solve: sort unknows for beter results"
I am working in Sympy for my doctorate. Many system of equations are solved by other cas like maple but not sympy, I note, most of then could be solved by simple Solve if we just sort variables in optimal order.

A simple example, a first equation on these systems usually is like:

``PYTHON
solve(a\*q-3\*c)
[code]

I have no unknows, this way next equation is solved easily.

Could we work in a met

[2017-07-20 19:06] asmeurer commented on #12938
Bisected to 27e9ee425819fa09a4cbb8179fb38939cc693249. Should we revert that commit? CC @aravindkanna

[2017-07-20 21:10] asmeurer commented on #12992
Should this be closed?

[2017-07-20 21:42] Upabjojr commented on #12992
Yes.

[2017-07-20 21:42] #12992 closed

[2017-07-20 22:10] pv commented on #13004
Somewhat better fix in #13018.

[2017-07-21 01:24] #12929 closed

[2017-07-21 11:58] smichr commented on #13014
Nice observation! Just out of curiosity, try set `manual=True` and see if you get a solution. And could you post an example system of equations that is not being solved?

[2017-07-21 15:54] Yathartha22 opened #13019 "solveset should have it's own function like solve's checksol()"
I don't know whether it would be a great idea, but while I was working in `solveset`, I thought it should have it's own function similar to `checksol()` in `solve`. At present `solveset` uses `solve's checksol()` to determine whether a `value` is a solution of a function or not.
The idea is on the basis that sooner or later `solveset` has to replace `solve` internally or externally as mentioned in

[2017-07-21 16:21] andreclaudino commented on #13014
I've altread tried with ``manual=true``, this didn't help.

Next is the system I am trying to solve. These are abyssal equations related to shallow equations obtained from a prelle-singer problem. By my studies, these systems has a forma of regular chain, who could be easy solved if the variables are in "best order".

![gif](https://user-images.githubusercontent.com/10980654/28472238-2ebb2d8a-6e16

[2017-07-21 18:59] asmeurer commented on #12938
Any thoughts? This is the last fix to potentially go in the 1.1.1 release, but I want to cut a release candidate today or tomorrow, so speak now, or hold your peace (until the next major release).

[2017-07-21 19:06] #13000 closed

[2017-07-21 19:12] #12425 closed

[2017-07-21 19:40] siefkenj commented on #12938
I am away at a conference. The change should be almost identical to the fix for dense matrices, if someone can manage to get a patch in. I *might* be able to do it tomorrow.

[2017-07-21 20:14] Queuecumber commented on #12982
Neat, I'll keep my eyes open then for the future.

[2017-07-21 20:47] srihegde commented on #12988
Please review PR #13020. Thanks!

[2017-07-21 22:30] #13004 closed

[2017-07-22 03:32] #12949 closed

[2017-07-22 03:36] smichr commented on #12913
A test for this can be added.

[2017-07-22 03:51] smichr commented on #12942
+1

[2017-07-22 05:52] parsoyaarihant opened #13022 "apart() is very slow"
`apart(1/(x**2*(a + b*x)**10), x)` takes minutes to compute. Is it possible to optimize the function?

Mathematica:
![screen shot 2017-07-22 at 11 20 36](https://user-images.githubusercontent.com/15258498/28488793-d8ecdb6e-6ecf-11e7-9f12-b6014bb02c00.png)

[2017-07-22 07:55] asmeurer commented on #12942
Might be easy to fix, depending on what test failures it causes.

[2017-07-22 08:41] jksuom commented on #13022
Optimization might be possible. `apart` builds a system of linear equations and currently calls `solve` for its solution. `solve` works by inverting the coefficient matrix, which takes a long time for bigger matrices. (It uses `inv_quick` that is intended for sparse or small matrices. ) It would probably be worth investigating if `apart` could apply directly some matrix method for solving the syst

[2017-07-22 11:03] srihegde commented on #12988
I feel sum/difference (in a vector sense) of segments is meaningless given the fact that they don't have directions. So in the present version (of PR #13020) I have only added addition/subtraction for Rays.

Please review. Thanks!

[2017-07-22 12:43] jksuom commented on #13019
In which way would `checksol` for `solveset` differ from the code in `solvers`? The existing code should be used as much as possible.

[2017-07-22 13:44] Yathartha22 commented on #13019
I am not sure about the code,  we can make it simpler to understand. I will look more into it how can we make it more different.

But my main thought was if we had similar function for `solveset` we can make it completely independent of `solvers`. I might be wrong with this idea.

[2017-07-22 15:12] Shekharrajak commented on #11536
These are indeterminate forms :

[code]

So [0**x  - 1 = 0 for x ](http://www.wolframalpha.com/input/?i=0**x++-+1+%3D+0+for+x) should return no solution. Right ?

[2017-07-22 15:14] #12780 closed

[2017-07-22 15:31] Yathartha22 commented on #11536
We can have a look [here](https://math.stackexchange.com/questions/11150/zero-to-the-zero-power-is-00-1)

[2017-07-22 15:40] Yathartha22 commented on #11536
Then I guess, we should return no solutions for `0**x + a` type equations, because

`x = log(a)/log(0)`
and `log(0)` is undefined.

[2017-07-22 15:50] kshitij10496 commented on #11536
@jksuom @asmeurer
As @Shekharrajak mentioned above,`0**0` returns `1`.
Is this by design or a bug?

[2017-07-22 16:23] Yathartha22 commented on #11536
I have found an interesting [answer](https://stackoverflow.com/questions/14414430/why-0-0-equals-1-in-python) as well as the [wiki link](https://en.wikipedia.org/wiki/Exponentiation#Zero_to_the_power_of_zero) that might be able to answer our question.
Since python too evaluates `0**0` to `1`, might be possible that `sympy` is made to do the same.
I guess it may help.

[2017-07-22 16:33] jksuom commented on #11536
It seems to be by design in the current implementation. But I think that nan would be more consistent with the way powers with special base or exponent are defined in the docstring of `Pow`.

The idea is that `0**0` should be the limit of `x**y` when `x` and `y` tend to 0. The function `x**x` has limit 1 at `x = 0`. However, `x**y` has no limit at `(x, y) = (0, 0)` as a function of two variables.

[2017-07-22 17:54] abhinov2 opened #13026 "not about to find manualintegrate in sympy library"
Not about to find manualintegrate in sympy library.

[2017-07-22 20:03] siefkenj commented on #12938
Okay.  I've looked this over and its convoluted...

`SparseMatrix` should impliment `_eval_col_join`.  `col_join` should not be implemented.  It is, and that is what `hstack` is calling, which is why my previous patch didn't fix `SparseMatrix`s as well.  However, the patch that @asmeurer referenced ensures that `SparseMatrix.row_join(DenseMatrix)` returns a `SparseMatrix` whereas `CommonMatrix.row

[2017-07-22 20:12] asmeurer commented on #12938
So is there a simple fix that can be made for the release or should this be postponed?

[2017-07-22 20:47] #4720 closed

[2017-07-22 22:36] ivanistheone opened #13027 "Lambdify with `modules='numpy'` fails when `auto_int_to_Integer=True`"
Every input in the `sympy-live` shell is processed using `int_to_Integer` (converts Python `int` to sympy `Integer`s) because this makes it much nicer. Not sure but maybe some of the example in the docs also assume this behaviour.

While trying to understand some bugs in `sympy-live` related to `numpy`-lambdification, I was able to isolate the following bug that appears to exist in `sympy` (1.1 an

[2017-07-23 00:31] asmeurer commented on #13027
It's because SymPy objects do not work in NumPy functions, and auto_int_to_Integer causes the `f(3)` to become `f(Integer(3))` (here, `f` is essentially the same as `np.sin`).

Probably the most correct fix would be to modify the int -> Integer translation so that it only applies to int/int division. In other words, instead of wrapping integer literals with Integer, replace int/int division with a

[2017-07-23 00:50] ivanistheone commented on #13027
So instead of
[code]
we'll have
[code]
this makes a lot of sense...

The [code](https://github.com/sympy/sympy/blob/master/sympy/interactive/session.py#L88) looks quite readable, so I'll try to implement that.

Would this break anything else? I never used `auto_int_to_Integer=True` on the command line, and it seems like it's just a minor convnience so this API change shouldn't impact too many peop

[2017-07-23 01:48] user234683 opened #13029 "with gens, sqf increases orders of magnitude faster than factor as input size increases"
As the title says, certain expressions/polys given to `sqf`, `sqf_part`, or `sqf_list` will take an extremely long time while `factor` will complete almost instantly. This happens **when gens are given and when those gens do not cover all the free symbols in the expression**. To demonstrate this, I wrote a function that generates random polynomials with increasing numbers of terms, numbers of symb

[2017-07-23 07:52] asmeurer commented on #12898
And test_real https://travis-ci.org/sympy/sympy/jobs/256373884

[2017-07-23 16:41] Pastafarianist commented on #12631
@smichr I haven't tested it and I probably won't for a long time.

[2017-07-23 18:37] srihegde commented on #12988
I think this issue looks pretty much solved now with inclusion of Ray operations (and raising error with Segments).
Please review PR #13020. Thanks!

[2017-07-24 06:34] josbys1 opened #13032 "Acsch does not work"
When trying to run the line:
`from sympy import acsch`

I get
`ImportError: cannot import name acsch`

You can see this when you run it online also. Try running the code block shown [here](http://docs.sympy.org/latest/modules/functions/elementary.html#acsch).

I am not able to use this function at all when I try to omit it from the import.
I'm using SymPy 1.0 installed with Anaconda.

[2017-07-24 06:43] #13032 closed

[2017-07-24 06:43] josbys1 commented on #13032
This is fixed by updating to 1.1 in Anaconda.

[2017-07-24 15:59] Upabjojr opened #13033 "Prefixes wrong under multiplication"
[code]

[2017-07-24 16:31] skirpichev commented on #12238
@bjodah, I believe there is something more then just performance issue.  See diofant/diofant#462.

[2017-07-24 18:27] parsoyaarihant commented on #13026
Hi @abhinov2 , can you elaborate on your issue?

[2017-07-24 18:28] parsoyaarihant commented on #13026
Here is the code for `manualintegrate` : https://github.com/sympy/sympy/blob/master/sympy/integrals/manualintegrate.py

[2017-07-24 20:14] abhinov2 commented on #13026
Yes,i got that....
Just curious to know how to integrate this sympy module in website .
Or give any reference to any useful documentation.

Thanks
For your help.

[2017-07-24 20:44] #12913 closed

[2017-07-24 23:37] asmeurer commented on #12898
Here's a job that hasn't been restarted https://travis-ci.org/sympy/sympy/jobs/256534547

[2017-07-24 23:40] asmeurer opened #13036 "PyPy tests on Travis aren't running"
See https://travis-ci.org/sympy/sympy/jobs/256534554.

[code]

I think whatever apt thing we are using to get the latest pypy isn't working. We can't use the pypy that comes with Travis because it's too old.

[2017-07-25 00:53] asmeurer commented on #9641
Still fails in the 1.1.1 branch:

[code]

It took 5437 seconds to run.

[2017-07-25 01:16] user234683 opened #13037 "Travis should first do tests on files that were changed"
And if the tests for those files fail, it shouldn't bother with the others. It could save a lot of time, since a lot of pull requests will ultimately fail the tests.

Another way to save time could be to quit once one of the python versions fails, rather than going on to test every single one.

[2017-07-25 04:34] cbm755 opened #13038 "regression: jordan form does not orthogonalize eigenvectors"
@asmeurer @siefkenj here's a (minor?) regression from 1.0.  `A.jordan_form()` used to give orthogonal basis for eigenspace but now it does not.

[code]

The resulting vectors seem correct,  I'm still checking if this is alright by defn of Jordan form..., but wanted to let you know about this ASAP in case it needs to hold up 1.1.1.

Apologies for not seeing this sooner!

[2017-07-25 04:36] cbm755 commented on #13038
BTW, I bisected this to 97aeed33d99fabd4975c8e4fa6b322b4f87072b5 or
88bca19948a9f937be21de14e72069017ab5cec2

[2017-07-25 04:55] cbm755 commented on #13038
No mention of orthog basis for eigenspace on wikipedia.  Maple does not seem to orthogonalize.  So I'm thinking this isn't wrong, just a change.

Would be good to have @siefkenj's opinion

[2017-07-25 11:23] ayush1999 opened #13039 "Problem in pretty printing"
`
Gives output:
⎛   x⎞ e_i
⎜⎛x⎞ e_i ⎟
⎜⎜─⎟ ⎟
⎝⎝2⎠ ⎠

Which isn't proper ( **exponent breaks the bracket** ). Is there any way to fix this?

[2017-07-25 12:03] #12807 closed

[2017-07-25 14:44] siefkenj commented on #13038
Jordan form does not require the eigenspaces have orthogonal bases. I believe the newly implemented algorithm is more efficient, in part because it doesn't orthogonalize.

[2017-07-25 15:55] cbm755 commented on #13038
ok thank you.

@asmeurer sounds like @siefkenj agrees this should not block 1.1.1, nor does it need "fixing".  Closing.

[2017-07-25 15:55] #13038 closed

[2017-07-25 19:18] asmeurer commented on #13037
It would be nice to have, but it seems hard to implement without upstream support for it in Travis itself.

[2017-07-25 20:29] asmeurer commented on #12904
Duplicate of #8242

[2017-07-25 20:29] asmeurer commented on #12904
(FYI https://github.com/blog/2398-manage-issues-and-pull-requests-with-keyword-updates)

[2017-07-25 20:53] asmeurer commented on #8242
I believe the problem is [here](https://github.com/sympy/sympy/blob/b42c1c6645cc1b0d8e8a6c9c9e86c6979ef2c76d/sympy/core/evalf.py#L673). `evalf_pow` assumes that 0 to an integer power is 0 (`None`s represent exact zeros). But this is only true if the exponent is > 0. The question is, what *should* it return. I guess we want it to give zoo, but what value to we return from that function to give that

[2017-07-25 21:58] asmeurer commented on #12898
The problem seems to be with the following:

[code]

On my computer, these each take about 30 seconds to run in Python 3 and 60 seconds in Python 2. I guess somehow they must be taking ~120 seconds each on Travis, for the 10 min. timeout to be occurring (the remainder of the test takes less than a minute).

[2017-07-25 21:59] asmeurer commented on #12898
With the following change, each assert takes about 9 seconds in Python 2 (6 in Python 3), and the whole test takes 47 seconds.

[code]

[2017-07-25 22:16] asmeurer commented on #12898
The issue is that `satisfiable` calls `eliminate_implifications`, and the `simplify` flag to `to_nnf` causes it to do a lot more work. The above patch doesn't seem to cause any test failures.

The rest of the performance seems to come from `ask` recursively calling itself in the various handlers. Probably if we could make it work with satask it would make it faster, as it would avoid the handlers

[2017-07-25 22:24] asmeurer commented on #12898
And I've no idea why things are 2x slower in Python 2.

[2017-07-25 22:31] asmeurer commented on #13036
And now it is working again ¯\\\_(ツ)_/¯ ‏

[2017-07-25 22:42] asmeurer commented on #12898
I think things are slower in Python 2 because `Basic.__eq__` calls `type(self) == type(other)` (from my change at https://github.com/sympy/sympy/pull/12945), which in Python 2 calls `__cmp__` (`__cmp__` is still called in other places in Python 3, because of `Basic.compare`, but not from `__eq__`).

So if we finish removing the ordering of classes nonsense, it should speed up the core by quite a b

[2017-07-25 23:09] asmeurer opened #13042 "decompose() function in intpoly returns a list of arbitrary order"
The decompose() function, with separate=True, returns `list(poly_dict.values())`, which is ordered arbitrarily.

What is this used for? It should be sorted somehow, or returning a set (in which case, why not just use the returned dictionary and have the caller take the values). This is causing test failures for me after some changes to the core.

CC @ArifAhmed1995 @certik

[2017-07-26 03:19] szsdk opened #13044 "Convert_to in physics.unit does not work as expected for self-defined dimension."
[code]
The output is
[code]
But the expected output is
[code]

System information
conda 4.3.23
python 3.6.1
sympy 1.1

PS: I think the unit for information is extremely useful. Maybe you guys could add those units into the lib.

[2017-07-26 10:20] parsoyaarihant commented on #13026
Cool, @abhinov2 , can you close this issue?

[2017-07-26 11:27] #13026 closed

[2017-07-26 18:37] cbm755 commented on #5365
I think this can be closed.  @siefkenj do you agree?

[2017-07-26 18:42] cbm755 opened #13047 "jordan_form() with Floats loses precision"
Something is working to only double precision.  Here I start with a roughly quad precision matrix and compute its Jordan Form.  The result is only double-precision.

[code]

CC @siefkenj

[2017-07-26 18:49] cbm755 commented on #10415
This looks like its fixed as `str` now prints with `Union(..., ...)`

[2017-07-26 18:49] #10415 closed

[2017-07-26 19:09] smichr commented on #13037
I was just thinking this the other day. I thought that maybe there could be an easy way to have a whitelist file which will vary with every pull request. The canonical I'm-ready-for-the-final-tests form would be a whitelist file identical to master's version of that file. Otherwise, only the files in the whitelist file would be tested. So basically, our test suite would be run using that external

[2017-07-26 19:28] #13042 closed

[2017-07-26 21:30] Upabjojr commented on #13044
Hi, thanks for reporting. Yes, your units could be useful.

[2017-07-26 21:34] Upabjojr commented on #13044
By the way... isn't a kibibyte = 1024*bytes? Kilobyte is 1000 bytes, despite many systems using 1024.

[2017-07-26 21:38] Upabjojr commented on #13044
https://github.com/sympy/sympy/pull/13048

[2017-07-26 22:28] Upabjojr commented on #13044
@szsdk the problem is that your new dimension is not registered in the dimensional dependency tree.

[2017-07-26 23:18] szsdk commented on #13044
[code]
@Upabjojr You mean like this? It still does not work.

[2017-07-26 23:28] Upabjojr commented on #13044
I've noticed that. If you put that in `sympy/physics/units/dimensions.py`, apparently it works.

The best is to debug `convert_to`.

[2017-07-26 23:34] szsdk commented on #13044
@Upabjojr By the way, it this a typo in abbrev?
[code]

[2017-07-26 23:49] Upabjojr commented on #13044
It looks like a typo.

[2017-07-26 23:50] Upabjojr commented on #13044
But don't know, if I remember correctly there could be some way to add the k

[2017-07-27 03:06] abhi18av commented on #11741
Whoops, no response on this at all!

Hey @adamasstokhorst , did `jython-2.7.1` solve your issue at all? What's the current status of this line of work?

[2017-07-27 03:09] abhi18av commented on #11875
@pentolope I came here and following the jython issues in the sympy repo. I was interested in your modifications but the repo seems to have been deleted...

What's the current status of this effort?

[2017-07-27 03:16] smichr opened #13050 "degree of number that is hidden zero"
I'm not sure why it is important that `degree(Poly(0, x), x)` be `-oo` but `degree(Poly(1, x), x)` be 0 but I suppose there is some rationale. If there is, then more care should be taken to handle cases where a number is not known to be 0 or not:

[code]

Perhaps this should be returned instead: `Piecewise((-oo, Eq(-1 + cos(1)**2 + sin(1)**2, 0)), (0, True))`

[2017-07-27 03:50] asmeurer commented on #13050
This is a general issue in polys. You can have the leading coefficient be actually 0, and it will produce wrong results.

[2017-07-27 03:52] #12898 closed

[2017-07-27 05:55] siefkenj commented on #5365
Yes

[2017-07-27 08:11] #5365 closed

[2017-07-27 18:30] bmccary opened #13055 "latex() and mul_symbol"
The `latex()` pretty-printing function accepts a `mul_symbol` kwarg that must be one of four choices. I would like to be able to supply my own choice which is not in the list. Specifically, I want the multiplication symbol to be `\,` (i.e., a thin space). This is what I mean
[code]

Thin spaces are used by sympy to separate differentials from integrands in integrals.
[code]

Is there a reason why

[2017-07-27 21:36] mcocdawc opened #13058 "ENH: Schoenflies + matrix representation in symmetry groups"
Disclaimer in the beginnig:
I am a chemist and we use only a small set of permutation groups for describing the symmetry of molecules, so probably I am lacking the rigorous knowledge about group theory.

Is it planned to support the Schoenflies notation for permutation groups?
By supporting I mean generation of the group instances via Schoenflies symbols like ``'C2v'``
and a ``__repr__``  that out

[2017-07-27 22:31] jostheim opened #13060 "Error solving system of ODEs"
I am a newbie to sympy, only used it for simple things before but I am getting some weird error messages, here is my code:

[code]

I get the following error:

[code]

As far as I can tell I setup the problem correctly, does anyone have any advice?

James

[2017-07-27 23:15] pentolope commented on #11875
I was told from the jython team that sympy is functional now (discussion is here: https://github.com/jythontools/jython/issues/52), I apologize for not updating this.

[2017-07-27 23:15] #11875 closed

[2017-07-28 00:09] smichr commented on #13050
do you mean something like this:

[code]

Also, is it important that -oo be returned or could a simple -1 -- like that returned by 'abc'.find('z') -- suffice?

[2017-07-28 02:07] asmeurer commented on #13050
-oo is generally preferred for the degree of 0 as it works nicer with properties of the degree. For instance, `deg(p*q) = deg(p) + deg(q)` only works if `deg(0) = -oo`.

[2017-07-28 02:12] asmeurer commented on #13050
Yes, but it gets worse, because the division algorithm relies on detecting if coefficients are zero. Which in turn propagates to other things:

[code]

It's very similar to the RREF algorithm for matrices, which can also be fooled by false zeros.

[2017-07-28 03:03] smichr commented on #12709
This happens because small_trailing are handled explicitly in trailing. Past that, bitcount is used -- it assumes `n >= 0`. The error above is triggered when n is negative. I'll open a PR shortly.

[2017-07-28 06:23] jksuom commented on #13058
There are no plans as far as I know. A few groups are defined in the named_groups module. It should be straightforward to add new groups.

[2017-07-28 06:48] dilawar opened #13061 "'gamma function pole' error when float (instead of int) used in Laplace expression"
The inverse Laplace is computed when expression have integer constant:

[code]
However, if expression have floats as multiplicative factor of 's', it fails :
[code]

[2017-07-28 09:13] mcocdawc commented on #13058
Thank you for your answer.
And what about the matrix representations?

[2017-07-28 09:58] #12638 closed

[2017-07-28 10:15] bjodah opened #13062 "One test failing under pytest, but not under ./bin/test"
When running the full test suite (just using `pytest`), I get two failures.

One is the earlier reported gh-9641 (thanks @jksuom for pointing out that it was already reported)
and this:

[code]

[2017-07-28 10:19] jksuom commented on #13058
There is currently practically nothing on group representations. I'm afraid this will be harder to implement. (There are apparently no contributors specializing on groups.)

[2017-07-28 10:45] mcocdawc commented on #13058
Ok thank you very much for this information

[2017-07-28 10:45] #13058 closed

[2017-07-28 10:49] maurogaravello commented on #13060
For the system in the example, the code
`    sol2r = dsolve(Eq(diff(v(u),u), G.subs(v,v(u))/F.subs(v,v(u))))
`
returns an `Equality`. I tried to avoid it inserting the code
`    if isinstance(sol2r, Eq):
        sol2r = [sol2r]
`
so that `sol2r` becomes a `list`. Unfortunately the output is

It seems that no algorithm is implemented.

[2017-07-28 12:20] jksuom commented on #13062
It seems that the test actually fails. See https://github.com/sympy/sympy/issues/9641.

[2017-07-28 12:44] bjodah commented on #13062
Thanks, updated the issue text to reflect that.

[2017-07-28 18:06] RusselLuo opened #13065 "Integrating a expression exceeds maximum recursion depth"
integrate(abs(x + pi / 10) + x / 2 - x**2,(x,-2,2)) gives a RecursionError

[2017-07-28 18:10] richardotis commented on #12895
@asmeurer Can we use the open PR https://github.com/sympy/sympy/pull/10674 to fix this issue, and use the minimal example above as the test?

[2017-07-28 19:05] casevh commented on #12895
The bug is triggered by manually created an `mpf` instance without using
MPZ() around `man`. I took a quick look in the code recently and didn't
find any other instances but there may be others.

Apologies but I have very little time available... :(

On Fri, Jul 28, 2017 at 11:10 AM, Richard Otis <notifications@github.com>
wrote:

[2017-07-28 19:48] asmeurer commented on #12638
Would still like to see some refactoring in the base classes. Maybe we should open a new issue.

[2017-07-28 19:54] asmeurer commented on #13062
Is this a slow test? I ran the slow tests against the 1.1.1 branch before releasing, and the bicycle test was the only one that failed.

[2017-07-28 20:29] bjodah commented on #13062
No it's a pytest related issue:
[code]

[2017-07-29 10:18] #12907 closed

[2017-07-29 10:18] #12940 closed

[2017-07-29 10:18] #12958 closed

[2017-07-29 10:18] #12980 closed

[2017-07-30 01:44] user234683 opened #13066 "cos(pi/51).rewrite(sqrt) does not fully rewrite the expression on python 3.6 (test failure)"
It currently returns `cos(6*pi/17)/2 + sqrt(3)*sin(6*pi/17)/2`, even though both `cos(6*pi/17)` and `sin(6*pi/17)` can be rewritten using `sqrt`s. The slow test `test_sincos_rewrite_sqrt` in test_trigonometric.py currently fails because it tests that `cos(pi/51).rewrite(sqrt)` returns the full expression in terms of `sqrt`s. I tested on python 3.4 64 bit and python 3.6 64 bit, and it only happens

[2017-07-30 01:54] user234683 opened #13067 "sin(2).is_Number and E.is_Number return False"
[code]
Appears to happen on any evaluated function. Tested on Python 3.4 64-bit and 3.6 64-bit

[2017-07-30 01:58] user234683 commented on #13067
Whoops, nevermind. I was using `is_Number` not realizing it's different from `is_number`. Does not happen for `is_number`.

[2017-07-30 01:58] #13067 closed

[2017-07-31 09:39] szymag opened #13068 "Point class in vector module express coordinates only in rectangular coordinate system"
`Point` class in  `vector` module has method `express_coordinates` which return coordinates only for rectangular coordinate system.
When adding another types coordinate systems to `Coordsys3D` will be finished, `express_coordinates` should be also updated to also handle this feature.

[2017-07-31 09:39] szymag commented on #13068
ping @Upabjojr

[2017-07-31 15:57] Upabjojr commented on #13068
OK.

[2017-07-31 20:38] asmeurer commented on #13055
Your change sounds good to me. It seems to be restricted only because it's a mapping, but it could be set so that an unknown argument is used as the latex.

[2017-07-31 21:29] asmeurer opened #13071 "meijerg.is_number is wrong"
[code]

This is because Expr.is_number just checks the args, and Basic.is_number defaults to False, which is what is used for the Tuple args of meijerg. meijerg should probably implement its own is_number to work around this.

[2017-08-01 01:51] madeline-parsegon opened #13072 "SympifyError('could not parse %r' % a, exc)"
I have a python program that write polynomial functions and then uses Sympy's `solve()` function to find their inverses.

[code]

However, when I run the program I get the following error:

[code]

Could someone explain to me the syntax error in my polynomial?

[2017-08-01 02:24] smichr commented on #13072
You have a single `=`; you should use Eq(y, f(x)) instead.

[2017-08-01 02:45] madeline-parsegon commented on #13072
@smichr When I do, `Eq(p, f(x))`, I get `NameError: name 'f' is not defined`. Pardon my very basic questions, I am very new to python. I also construct the polynomial as a string - would that pose an problem for Sympy?

[2017-08-01 03:35] user234683 opened #13073 "factor_list fails in symbolic mode when an expression has symbolic fractions, but works fine when the same expression is given as a Poly"
[code]

[code]
`factor` also works fine:
[code]

[2017-08-01 09:07] vedantc98 commented on #13071
Can I take up this issue?

[2017-08-01 13:36] skirpichev commented on #13027
I would suggest you to use ast transformations instead, as I did in the diofant.  See linked pr.

[2017-08-01 20:19] regisin opened #13075 "Find value of 't' in an arbitrary_point()"
I have 2 entities, they are intersecting each other. I can get the point(s) where they intersect. Is there a way to find where in the perimeter that point is?

Something like:

[code]

PS: I'm not sure I'm using `Eq()` correctly.

[2017-08-01 20:32] asmeurer opened #13076 "UnboundLocalError in evalf"
[code]

I found this after changing the order of Mul args in https://github.com/sympy/sympy/pull/13059.

Based on the code, I think the elif clauses that define reprec and imprec should have an `else: raise NotImplementedError`. That appears to fix it, although I didn't try to debug to see why the arg order is mattering here.

[2017-08-01 20:46] smichr commented on #13075
What do you mean by "where"?

Issue #12613 suggests that there is no `arbitrary_point` method; is this something you added? Or maybe it's been fixed but the issue was not updated.

In your snippets above, I am not sure what `expr` refers to.

One way you could find the location of the intersection on the original object (p?) would be to see if the intersection is one of the vertices, else see whic

[2017-08-01 20:55] smichr commented on #13076
An else for re and I'm needs to be added in which prec is set to None just before line 1308 where the error arises:

[code]

[2017-08-01 21:00] asmeurer commented on #13076
Is the correct fix to set the prec to None or to raise NotImplementedError? I thought prec=None meant the number was an exact zero.

[2017-08-01 21:01] asmeurer commented on #13076
I guess the values being None means that. The documentation in the module doesn't specify what prec=None means.

[2017-08-01 21:05] regisin commented on #13075
I have version 1.1 of Sympy (came with anaconda), and apart from issue #, it appears that the method is implemented.

But anyway, I'm sorry for the incomplete/misleading snippet, but you got it right. Now that I know which side it is I can find what the value of 't' would be, given a point in the perimeter.

[2017-08-01 21:05] #13075 closed

[2017-08-02 01:10] danielwe opened #13078 "Return NotImplemented, not False, upon rich comparison with unknown type"
Comparison methods should ideally return ``NotImplemented`` when unable to make sense of the arguments. This way, the comparison is delegated to the reflected method on the other object, which might support the comparison (see https://docs.python.org/3/reference/datamodel.html#object.__lt__, and your own article on the subject, https://github.com/sympy/sympy/blob/master/doc/src/python-comparisons.

[2017-08-02 01:27] user234683 opened #13079 "Multiplying an expression by a Poly does not evaluate when the expression is on the left side of the multiplication"
Tested in Python 3.4 64-bit and 3.6 64-bit
Version: 1.1.2.dev0
[code]

[2017-08-02 05:44] max-yue opened #13080 "Union could not hold wild symbols"
This is the code:
from sympy import *
from sympy.abc import *

a = Wild('a')
d = sin(x).match(sin(a))
print(d)
A = Wild('A')
B = Wild('B')
d = Union(Interval(1, 1.5), Interval(1, 3), evaluate=False).match(Union(A, B))
print(d)

# this is the result
{a_: x}
Traceback (most recent call last):
  File "F:/zsy-label-robot/tes.py", line 47, in <module>
    d = Union(Interval(1, 1.5), Interval(1, 3), eva

[2017-08-02 15:13] asmeurer commented on #13078
Classes are generally required to subclass from Basic to interoperate with SymPy.

What happens in the test suite if you change it to NotImplemented?

[2017-08-02 18:51] billzorn opened #13081 "Some comparisons between rational and irrational numbers are incorrect"
If you choose just the right rational number, you can end up in a situation where it is neither less than pi, nor equal to it, nor is pi less than it. This is with sympy 1.1.1, using Python 3.6.0 from Anaconda on Ubuntu 16.04.
[code]
Of course, that same number is greater than pi, even though pi is not less than it.
[code]
I believe this is a result of using evalf() to do comparisons between ratio

[2017-08-02 19:22] danielwe commented on #13078
Subclassing won't help in this case, it will just move the problem to line 319 (returns ``False`` if sympy types are different). Which is to say, ``NotImplemented`` should be returned in this case too in order to maintain symmetric relations. As a bonus, there may be potential for cleaning up some of the rich comparison methods throughout the package (when some specialized type deems itself compar

[2017-08-03 04:55] billzorn commented on #13081
Some experimentation shows that the behavior can be improved by computing the difference and then looking at the sign with .is_positive and .is_negative. However, that can break as well, you just need a bigger fraction:
[code]

[2017-08-03 05:02] ducminh-phan opened #13084 "solveset cannot solve an equation which invert_real can solve"
When I tried to solve the equation `sin(2*x + 3) = 1/2` using `solveset`, `TypeError` was raised:
[code]

However, the above equation can be solved using `invert_real`:
[code]

Maybe we should try to use invert for equations with a single occurrence of the variable?

[2017-08-04 05:08] ouening opened #13086 "Could not integrate simple odd function which has sin(x)"
I tried to integrate the odd function: `x**3*sin(x)**2/(x**4 + 2*x**2 + 1)` ,my code was `integrate((x**3*sin(x)*sin(x))/(x**4+2*x**2+1),(x,-4,4))`，and it failded to solve it.Its' result is simply 0.
And I tried `integrate((x**3)/(x**4+2*x**2+1),(x,-4,4))`, it worked.

[2017-08-04 07:54] Yathartha22 commented on #13084
I think the problem is that after converting into `exp` by `_solve_trig`, `_solve_rational` tries to solve it and when evaluating `valid_solns - invalid_solns`, the result is a `CondtionSet` for the former and `FiniteSet` for the latter which gives the `TypeError`.

[2017-08-04 07:54] ketchers opened #13087 "rref wrong on this matrix"
S = Matrix([[-1/sqrt(2),-1/sqrt(6),1/sqrt(3)],[0,2/sqrt(6),1/sqrt(3)],[1/sqrt(2),-1/sqrt(6),1/sqrt(3)]])
    T = Matrix([[sqrt(3)/2,-1/2,0],[1/2,sqrt(3)/2,0],[0,0,1]])
    M = S*T*S.T
    P, D = M.diagonalize()
    N = (M - D[1,1]*eye(3))
    R = N.rref()

Clearly, N is singular (by definition of what an eigenvalue is) so its N.rref() is not I, but R[0] is I.

[2017-08-04 10:27] Shekharrajak commented on #13084
Okay! solveset is not able to solve it right now. So it must have returned `ConditionSet`. But one can try to fix this bug with following approach (with solveset) :

[code]
Using solveset we must get ImageSet as the solution.

[2017-08-04 12:34] Yathartha22 commented on #13084
@Shekharrajak we can also use `solve_decomposition`, that probably does the work that you said.
[code]

[2017-08-04 12:44] Shekharrajak commented on #13084
Yes!

[2017-08-04 12:54] Yathartha22 commented on #13084
Also, I think this should be done while implementing `transolve`

[2017-08-04 19:23] asmeurer commented on #13081
This is the same as that issue. See the discussion there and at https://github.com/sympy/sympy/pull/12537.

[2017-08-04 21:46] billzorn commented on #13081
Ah, awesome.

Is there a workaround to force evalf() to use enough precision that the digits it gives me are correct? I don't mind if it uses a lot of memory, or loops forever, or tells me it can't determine the answer. I just want to avoid the case where I get an answer that's wrong.

Something like the behavior of Hans Boehm's [constructive reals](http://www.hboehm.info/new_crcalc/CRCalc.html) w

[2017-08-04 21:57] asmeurer commented on #13081
evalf already does this. It's just the way it's being used in the comparisons is wrong. But if you do `(a - b).evalf()` the sign of the result should tell if you if a < b or a > b (or you'll get something like `-0.e-124` if it can't determine, which I believe you can check with `is_comparable).

[2017-08-04 22:01] asmeurer commented on #13081
To clarify, evalf internally increases the precision to try to give you as many digits as you asked for correctly (the default is 15 digits). For comparisions, you can just use `evalf(2)`, which is what the [core does](https://github.com/sympy/sympy/blob/d1320814eda6549996190618a21eaf212cfd4d1e/sympy/core/expr.py#L3371).

An example of where it can fail

[code]

Because `sin(1)**2 + cos(1)**2` and

[2017-08-04 22:18] billzorn commented on #13081
Perfect.

So it seems like I can do the following to compare (rational or irrational reals) a and b:
1) check if a == b; if so, we're done
2) subtract, and keep calling evalf(2) with increasing arguments to maxn, until the result .is_comparable
3) if we find a comparable result, then return the appropriate ordering
4) otherwise give up at some point and claim the results are incomparable

Hmm, is

[2017-08-05 16:09] ayush1999 commented on #13076
I'd love to take this up. Can someone please tell me how to start?

[2017-08-05 23:25] asmeurer commented on #13076
Look at https://github.com/sympy/sympy/wiki/Introduction-to-contributing

[2017-08-06 10:26] jondo commented on #7264
According to that diofant issue, the Rubi integrator (https://github.com/sympy/sympy/issues/12233) can integrate this.

[2017-08-07 13:14] #12709 closed

[2017-08-07 15:24] Upabjojr opened #13094 "trigsimp( ) keeps reconstructing CoordSys3D"
Test `test_coordinate_vars` in `test_coordinate_vars` is very slow. This is probably due to the fact that `trigsimp` keeps calling the constructor of `CoordSys3D` in its `.xreplace( )` instructions.

Is it correct that `trigsimp( )` contains `.xreplace( )`? Should'nt `.trigsimp( )` only act on expressions (stopping the replacement recursion as soon as it meets an `AtomicExpr`)?

[2017-08-07 17:37] asmeurer commented on #13094
Is CoordSys3d an AtomicExpr?

Also I thought it doesn't try to reconstruct the expression if it remains unchanged. I could remember that incorrectly, though.

[2017-08-07 17:44] Upabjojr commented on #13094
`CoordSys3D` is not atomic, but the expressions of vectors and scalars do contain `CoordSys3D` instances. We are currently working on this.

[2017-08-07 23:55] asmeurer commented on #13094
Can you profile the code and verify that this is indeed the case? The constructor shouldn't be slowing things down, unless it is doing a lot of computations itself.

A while back I looked into some performance issues in trigsimp, and as I remember, they came from a few overly expensive function calls (calls to `factor` if I recall correctly).

It would be awesome to make trigsimp faster, but it's

[2017-08-08 00:49] Upabjojr commented on #13094
I think I have identified the problem:
https://github.com/sympy/sympy/blob/9670ff89dd8bff7878c6d636ec4f493b87d092df/sympy/polys/rationaltools.py#L79

This is the point where `CoordSys3D` gets reconstructed. I believe that only subclasses of `Expr` should be reconstructed there.

[2017-08-08 16:20] Upabjojr opened #13097 "No support for composition of Cross"
[code]

The last instruction raises an exception, as it does not recognize `Cross` as a vector.

[2017-08-08 21:03] #13078 closed

[2017-08-09 05:57] billzorn opened #13098 "sympy.floor() sometimes returns the wrong answer"
The title says it all. If you take the floor of a number slightly less than an integer, sometimes you get that integer, even though evalf() even at default precision could tell you the number was actually less. This is with sympy 1.1.1, using Python 3.6.0 from Anaconda on Ubuntu 16.04.

Here it is with log(x, 10) slightly less than one:
[code]
It seems reluctant to reproduce with other numbers kno

[2017-08-09 09:15] szymag commented on #13039
In my opinion, the problem is in `sympy/printing/pretty/pretty.py:803:876`
The method `_print_BasisDependent` is responsible for vector's pretty printing.

I've checked that printing `((x/2)**x)` without base vector or with base scalar gives correct result.

[2017-08-09 13:51] bjodah opened #13101 "Relationals from classes compares different to those implicitly constructed"
Here's an example:
[code]
looking into the source I see `evaluate=False` passed in `__lt__`, and indeed that gives equality:
[code]
But shouldn't they evaluate as equal even when constructed without `evaluate=False` since the arguments are the same?

[2017-08-09 16:07] skirpichev commented on #13101
@bjodah, I believe there is no issue, except usual Python [op precedence](https://docs.python.org/3/reference/expressions.html).

C.f.
[code]

[2017-08-09 16:14] bjodah commented on #13101
Ah, how silly of me. Thank you @skirpichev

[2017-08-09 16:14] #13101 closed

[2017-08-09 18:36] asmeurer opened #13102 "could_extract_minus_sign incorrectly handles expressions with zoo"
If an expression `a` contains `zoo`, then `-a` will be the same as `a`. But could extract_minus_sign doesn't check for this. This leads to recursion errors in functions like `sin` that try to call `sin(-arg)` if `could_extract_minus_sign` is True. Example:

**BEWARE: the below code can crash the Python interpreter for too old versions of Python (it works in 3.6.2)**

[code]

Probably an easy fix:

[2017-08-09 20:49] asmeurer commented on #13081
For floats in the present code, yes (see https://github.com/sympy/sympy/issues/11707).  Once that is fixed no.

[2017-08-10 04:33] smichr opened #13105 "solving inequality involving polynomial with imaginary coefficients fails"
target new bahavior:

[code]

Although the function is continuous for all reals, it doesn't produce reals except when the imaginary part vanishes. So there should be some additional processing to find the reals of interest for this corner case.

[2017-08-10 06:02] ylemkimon opened #13106 "subs cannot substitute expanded expression"
(1)
[code]

- **Expected result :** 2*t
- **Actual result :** 2*x + 2
- Possible fix(workaround) : factor expression before substitution, i.e. `factor(expr).subs(x+1, t)`

(2)
[code]

- **Expected result :** 2*t
- **Actual result :** (2*x + 2)/y
- Above fix(workaround) doesn't work

[2017-08-10 06:05] awa5114 commented on #7219
Has this been fixed yet?

[2017-08-10 09:16] #13066 closed

[2017-08-10 11:47] manelfpx opened #13107 "collect_const() cannot collect rationals represented with the slash operator "/""
Sympy version: 1.1.1

The argument `Numbers` doesn't seem to work well with the arithmetic operator "/".
For example:

    x/2 - y/2 - z/2

    x/2 - y/2 - z/2

It doesn't seem to affect the expression.
However, if we change "/2" for ".5*" the result is quite different:

    .5*x - .5*y - .5*z

    .5*(x - y - z)

[2017-08-10 15:15] Dirivian commented on #13102
Opened #13108 for this

[2017-08-10 17:07] RScrusoe commented on #13102
Hello sir,
I'm Rahul and want to start contributing. A total beginner with some experience with python3.
Will you please guide to fix this bug?

[2017-08-10 20:45] asmeurer opened #13111 "Don't use "is" to compare classes"
There's a lot of code, especially in the core, that tests things like `expr.func is Add`. This should instead use `isinstance(expr, Add)`.

This is a subissue of https://github.com/sympy/sympy/issues/6751.

[2017-08-10 21:51] zequequiel commented on #13106
Try stopping automatic simplification:

"**Mul**(Integer(2), Add(Symbol('x'), Integer(1)))"

2*t

NOTE: simplification is stopped only on the top level of expr, the topmost `Mul` instance in this case.

[2017-08-10 21:55] ethankward opened #13112 "Integration error"
The integral of `sin(t)^2 / (5 - 4*cos(t))` from `0` to `2 pi` can be verified numerically and with other symbolic integration programs as `pi / 4`. However, sympy gives `5 pi / 8`:

    '1.1.1'

    5*pi/8

The integral from `0` to `pi` is computed correctly (`pi / 8`):

    0.392699081698724 + 0.e-21*I

[2017-08-10 23:24] #8875 closed

[2017-08-10 23:40] #6984 closed

[2017-08-11 00:12] smichr commented on #13106
This is a known issue of automatic simplification. If you use `factor_terms` you will get the workaround that you are looking for. You should probably use it on the target expression, too:

[code]

This is the very "face of ambiguity" situation where guessing is to be avoided...but the batteries are there to help you do what you want.

[2017-08-11 00:48] ylemkimon commented on #13106
Thank you for quick responses.

@zequequiel
What if I don't have control of input(expr)? Also, it seems it doesn't work with second issue.
[code]

@smichr
It seems it doesn't work with second issue. It still returns same result(`(2*x + 2)/y`).

----

I've encountered this issue when simplifying `2*(exp(x)-exp(-x))/(exp(x)+exp(-x))` into `2*tanh(x)` using simplify. In exptrigsimp, it attempts to su

[2017-08-11 02:53] asmeurer commented on #13098
My guess is it's related to https://github.com/sympy/sympy/issues/12534.

[2017-08-11 05:01] Yathartha22 commented on #13111
@asmeurer so what needs to be done here is to replace the occurrences of all `is` to `isinstance` wherever present.

[2017-08-11 06:49] #12724 closed

[2017-08-11 14:34] smichr commented on #13106
For the second case, you might try rewriting the old, new pair as follows
[code]
It seems like that should work without that, however. I'm not sure why it is failing.

Given the trig failure, perhaps this *is* something that is worth pursuinig in the subs routine.

[2017-08-11 18:23] mshvartsman commented on #5856
How easy would this be to fix, for someone who's not familiar with the internals of sympy? I have a super kludgy hackaround for my specific setting (creating f(x) as a separate variable), but if fixing it so I can do it properly isn't too hard I can give it a shot.

[2017-08-11 23:22] dignakov opened #13115 "Bug in simplify ?"
Hi, I'm running into issues where simplify comes up with incorrect results.

sympy verion 1.0, python version 3.52, ubuntu 16.04. I've also verified the same with the Sympy online console (http://live.sympy.org/).

The problem comes when trying to simplify a mass matrix for a simple 3-DOF robot:
[code]

If I use the matrix above directly, I get correct results:
[code]
which should be:
[code]

If o

[2017-08-12 04:29] Auerilas opened #13116 "Can't solve inequality with product or division"
I can't seem to solve an inequality with a product or a division.

[code]

[code]
and

[code]

I've tried:
[code]

But that solution doesn't make much sense to me. Any thoughts?

[2017-08-12 04:54] parsoyaarihant commented on #13102
@RScrusoe , you can start here: https://github.com/sympy/sympy/wiki/Introduction-to-contributing

[2017-08-12 06:54] BertiesBeans commented on #13111
I'm new to contributing to open source, and I'l like to make this my first contribution. Do you mean something like changing
if nonn is not S.One:
     nonneg.append(nonn)

to

if not isinstance(nonn, S.One):'
     nonneg.append(nonn)

?

[2017-08-12 07:25] vddesai1998 commented on #13111
Is this issue already assigned to someone?
If it isn't assigned to anyone I would like to fix this issue.

[2017-08-12 10:23] smichr commented on #8242
SO [reports this issue](https://stackoverflow.com/questions/45637615), too.

[2017-08-12 10:36] smichr commented on #13116
Try declaring your variables as positive. If that doesn't work, you could try it in my upcoming PR #13093. Even there, though, you may have to declare y as positive or negative (`y = symbols('y', positive=True)`). Though it makes me think that another way of reporting the solution would be to use the sign of the unknown factor.

[code]

But even if that were done, one would have to know that y is

[2017-08-12 16:15] ylemkimon commented on #13115
`factor()` seems to be the problem.

[code]

[2017-08-12 17:42] Dirivian commented on #13112
I was wondering if #13086 is also related.

[2017-08-12 18:05] jksuom commented on #13112
That fails because there is no integrator for it yet. SymPy cannot currently compute the antiderivative.

[2017-08-12 19:17] #11536 closed

[2017-08-12 22:09] Auerilas commented on #13116
Declaring positive values solved most of the issues. But I still get this one:

[code]

[2017-08-13 03:16] user234683 commented on #13029
I ended up writing an implementation using `factor` for the project I'm working on that needs `sqf_part`. Thought it'd be relevant:
[code]

[2017-08-13 03:17] smichr commented on #13116
That should work on Monday after my PR #13093 is added.

[2017-08-13 09:30] jksuom commented on #13029
There are two implementations of polynomials, dense and sparse. The dense implementations consists of nested lists, and it is a known issue that computations become very slow when the depth of the list grows. The depth of the list is the number of generators specified when the polynomial is constructed. If there are many generators, the usual solution is to single out one (or a few) significant va

[2017-08-13 10:24] ylemkimon commented on #13115
Looks like similar issue of #12792 .

[2017-08-13 11:33] ylemkimon commented on #11890
Argument function(arg) is multi-valued function and SymPy's arg returns principal value which is not necessarily w. ([Wikipedia](https://en.wikipedia.org/wiki/Argument_(complex_analysis)))

[2017-08-13 15:57] lxkain commented on #11890
Can you show me the case when it is not w?

[2017-08-13 17:55] Yathartha22 opened #13121 "solve_decomposition misses some equations"
While trying to incorporate `solve_decomposition` in [this PR](https://github.com/sympy/sympy/pull/13088), I encountered with its inability to solve some equations, like

[code]
Similarly `f = (a*x + b)*(exp(x) - 3)` raises similar error.

While such equations are solvable by `solveset`, `solve_decomposition` on the other hand fails.

@kshitij10496 @smichr @Shekharrajak.

[2017-08-13 20:26] dignakov commented on #13115
I've been looking more through the issues, and there are also #12506 and #12140. Not sure if related, but both have to do with errors in simplify().

[2017-08-13 22:41] ylemkimon commented on #11890
Any w outside (-pi, pi]. For example,
[code]

[2017-08-13 22:56] lxkain commented on #11890
I see what you mean now, thank you.

From my naive (as in: I don't know anything about the internals of an algebra system) perspective, it seems as if some sort of rewrite rules should know about the special relationship between arg and the imaginary part of exponentiation. I must conclude that there must be good reasons for not doing this.

[2017-08-13 23:01] asmeurer commented on #5856
This now works in master:

[code]

[2017-08-13 23:01] #5856 closed

[2017-08-14 05:44] asmeurer commented on #11459
I didn't know about that function. Is it new since this issue was made?

[2017-08-14 06:23] ylemkimon commented on #11459
@asmeurer No, it seems it was commited on 17-19 May 2013(https://github.com/sympy/sympy/commit/7ee3a1e46914bd4bce985e128a29a8962b93bfd8 https://github.com/sympy/sympy/commit/5c22627053be00cde437cb7f2990ab9248032c11) and merged on 22 May 2013(PR #2117).

[2017-08-14 16:45] AncientZygote opened #13124 "matrix module eigenvector method simplify flag will not apply to multiplicities gt 1"
_sympy.matrices_ invokes the _eigenvects_ method with default _simplify_=_False_, which leaves possible fractions, i.e., pure integers in the denominators of the eigenvector values.

For a matrix **A**, _A.eigenvects_ (_simplify_=_True_) is supposed to multiply out any fractional results. This works properly except when the multiplicity of the eigenvector is greater than one. Example:
<pre><code>

[2017-08-14 17:58] pdknsk opened #13125 "modulo bug"
[code]

[2017-08-14 18:27] #12810 closed

[2017-08-14 18:34] #12668 closed

[2017-08-14 18:36] bjodah commented on #12213
Since there is a rudimentary Python code printer now (since gh-12808) should we close this issue? We can open up new issues for the new printer (wishlists and/or bug-reports)

[2017-08-14 18:39] bjodah commented on #11803
Old behaviour:
[code]
And this is our new behaviour:
[code]
closing this for now.

[2017-08-14 18:39] #11803 closed

[2017-08-14 19:29] asmeurer commented on #11459
It should at least be mentioned in the docstring of trigsimp in the see also section. Or maybe trigsimp should just be calling it (I'm unsure).

[2017-08-14 19:32] #12213 closed

[2017-08-14 19:36] cronopy commented on #8863
Hi, i don't uinderstand what is the problem, 'cause in logical interpretation procedure it's clear about WFF (well formed formula) wich means "one formula have only one interpretation". If a formula have one or more interpretation it's ambiguos and are not part of language.

[2017-08-14 21:13] cbm755 commented on #13124
I agree this would be nice to have.  Are interesting in trying the fix?  Looks like you've found a reasonable place to start!

[2017-08-14 22:37] user234683 commented on #13029
What happened to sparse polynomials? I found some methods for them in distributedmodules.py, but it's not very complete, and doesn't seem to ever be used by Poly's except for groebner bases.

Also, why does `sqf_part` only consider the first variable given? For instance, if I call
`sqf_part(a*(x - 1)**2*(y-3)**3, x, y)`
I'm interested in getting `(x-1)*(y-3)`

[2017-08-14 23:16] user234683 opened #13126 "resultant is extremely slow with polynomials that have many symbolic denominators because it first tries to cancel all of them"
This example is a smaller polynomial since this method would never actually finish with the ones I was using:
[code]
Notice the /(e+1) at the end. This one has it removed:
[code]
This was making my routine unacceptably slow, so I went looking for the bottleneck and I found it here:
[code]
To represent each term, it first creates a `FracElement` which first tries to use `cofactors` to cancel the fr

[2017-08-15 00:58] smichr commented on #13116
in master:

[code]

[2017-08-15 00:58] #13116 closed

[2017-08-15 05:11] asmeurer commented on #8863
Every formula does indeed have one interpretation (Python's grammar is not ambiguous). The problem is that that interpretation might not be what the user expects.

[2017-08-15 11:05] bjodah commented on #12506
Try using `Rational(1, 2)`, `Rational(1, 4)`, ... instead of 0.5, 0.25, ...

[2017-08-15 13:26] smichr opened #13129 "degree(multivariate) -> degree of first generator"
When giving the degree function a multivariate expression, the default degree returned is for the first generator which is chosen canonically but arbitrarily. When the degree method of Poly is called, this is not so bad because one would/should know what the generators are.  For the case of using the function, however, I believe it allows ambiguity to pass silently by not requiring the generator t

[2017-08-15 14:52] ylemkimon commented on #11605
The simplified result seems to be indeterminate. The denominator simplifies to zero, and depending on w, it is indeterminate or (complex) infinity. ([WolframAlpha](http://www.wolframalpha.com/input/?i=(I*w*((w+%2B+1)%2Fw)%2F(w+%2B+1)+%2B+w%2F(w+%2B+1)+%2B+1)%2F(-w**2%2F(w+%2B+1)+%2B+w+-+w%2F(w+%2B+1))&t=crmtb01))

[2017-08-15 16:49] AncientZygote commented on #13124
I'm a little old and slow, Colin, but I could take a look at a fix in the background (of my daily Bataan Death March, grin).

Dalton Bentley
<p><a href="https://physics.stackexchange.com/users/111801/dalton-bentley/"> SE profile as bio</a> inline link.</p>

[2017-08-15 20:14] ethankward opened #13133 "Summation of 1/(n*(n + 1)*(2*n + 1)) , n=1 to infinity converges but symbolically evaluates to nan"
'1.1.1'

    nan

    0.227411277760219

The actual value is `3 - 4 log(2)`.

[2017-08-15 23:09] #13102 closed

[2017-08-16 00:34] asmeurer opened #13134 "Some uses of could_extract_minus_sign can lead to infinite recursion"
The issue coming from https://github.com/sympy/sympy/issues/13102 was fixed, but there is another issue has come up in my pull request https://github.com/sympy/sympy/pull/13059. Several places in sympy/functions/special/polynomials.py use could_extract_minus_sign() in a way that can lead to infinite recursion. For example, in [`chebyshevu`](https://github.com/sympy/sympy/blob/dceb708ca035c568c816d

[2017-08-16 00:38] asmeurer commented on #13134
Actually I just thought of a much simpler way. Look at the numeric term (the `coeff` from `as_coeff_Add`), and canonicalize based on whichever is closer to 0. If the numeric term is -1 (so that the term in -n - 2 is also -1), then use `(n + 1).could_extract_minus_sign()`.

@smichr what do you think?

[2017-08-16 02:51] arita37 commented on #11420
Hello,
Can't we just map with a dictionnary-style or graph style ?
    SymPy Tree  ---->    TensorFlow Tree (Code Generation)

TF_operation  <--->  Sympy Matrix Operation.
 tf.mult               <--->
 tf.add                .....

[2017-08-16 08:25] ylemkimon commented on #11533
Latest development version seems to give correct answer(2).

[2017-08-16 09:18] ylemkimon commented on #11518
@asmeurer It seems that 2.5 from expr1 is Float('2.5', precision=53) which has default precision(53) and 2.5 from evalf-ed expr2 is Float('2.5', precision=20), so although their _mpf_ is identical, their hash of x**2.5 is different.
As a result, Add fails to see them as same term in https://github.com/sympy/sympy/blob/master/sympy/core/add.py#L188.

I think this issue can be solved by one of follo

[2017-08-16 11:24] mstimberg commented on #12950
This has been fixed via #12957 and released with 1.1.1.

[2017-08-16 11:24] #12950 closed

[2017-08-16 13:22] smichr commented on #13134
I am not following how this might be so -- can you tell me what the `n` is?

Also, what was `n` that cause the recursion error?

[2017-08-16 15:50] asmeurer commented on #11533
Indeed, it no longer incorrectly splits the square root

[code]

[2017-08-16 15:51] asmeurer commented on #11533
And even `simplify(num_tilings(4, 4))` works now.

[2017-08-16 15:59] asmeurer commented on #13134
[code]

Sorry for the confusion for `n` the arg name of `chebyshevu` and `Symbol('n')`. I should probably use a different symbol name for the example.

`chebyshevu(n - 1, x)`, but only in my branch, which has changed up the args ordering for Add and Mul. However, it seems you could probably find an example for master too, since `n.could_extract_minus_sign() == True` is no guarantee that `(-n - 2).

[2017-08-16 16:01] asmeurer commented on #13134
Here's an example that works in master: `chebyshevu(n - x - 2, x)`

[2017-08-16 16:12] asmeurer commented on #13134
So I'm suggesting

[code]

And similar logic for the other places in the file that have this problem. That will produce an arg with constant term closest to 0, using could_extract_minus_sign for the split case.

[2017-08-16 16:17] asmeurer commented on #13134
Other instances of this I found in the file:

[`legendre`](https://github.com/sympy/sympy/blob/dceb708ca035c568c816d9457af1b7ca9e57c0a5/sympy/functions/special/polynomials.py#L790): `n` -> `-n - 1`

[`laguerre`](https://github.com/sympy/sympy/blob/dceb708ca035c568c816d9457af1b7ca9e57c0a5/sympy/functions/special/polynomials.py#L1088): `n` -> `n - 1`

For legendre the split case is `coeff == -S.Half

[2017-08-16 17:19] abhigyank commented on #13111
I'd like to fix this.

[2017-08-16 17:30] smichr commented on #13134
What you are proposing in terms of keeping track of the split point makes sense. And I agree that could_extract makes no guarantee about a new expression derived from n.

[2017-08-16 21:21] Upabjojr opened #13136 "Vector module"
Make sure that `express` works with the new kinds of extended transformations, i.e. the ones defined by a generic transformation.

[2017-08-16 23:59] smichr opened #13137 "signature of degree function changed"
I inadvertently lost track, in #12999, of the change in `degree` function's signature which was `(f, *gens, **args)` and is now `(f, gen=0)`. I don't believe any danger in allowing a wrong result to pass silently has been introduced. Any mis-use will simply result in a TypeError:

1) degree(f, x, y, z) will now generate an arg count mismatch TypeError
2) degree(f, x, gen=y) will generate a duplica

[2017-08-17 09:10] schymans commented on #12892
Yes, the value given in the definition of `M` is stored as a scale factor and we can convert to any matching units, e.g.:
[code]
I'll close the issue.

[2017-08-17 09:10] #12892 closed

[2017-08-17 09:29] schymans opened #13139 "strange error when using kilogram in .subs()"
Not sure where to start trouble-shooting this, so I wondered if anyone here has an idea. In the below example, `.subs()` does something that seems to replace `kilogram` by `kg` somewhere, which causes an error:

[code]
returns
[code]

[2017-08-17 11:50] jksuom commented on #13137
I do not think deprecation would be necessary. The new signature is better than the original since it now raises an error if more than one generator is given. (That might happen if a user erroneously assumes that `degree` will work like `total_degree`.)

[2017-08-17 14:10] Pastafarianist opened #13140 "integrate() outputs ∞ * sign(1 / s²)"
Execute in a Jupyter notebook cell:

[code]

Output:

![image](https://user-images.githubusercontent.com/1315874/29416492-f07c1b24-836e-11e7-87c5-89c09761cd94.png)

Clearly, `∞ * sign(1 / s²)` is not correct.

[2017-08-17 19:47] asmeurer commented on #12902
1.1.1 was released and I haven't heard anything further about this. If there are still issues, please open a new issue.

[2017-08-17 19:47] #12902 closed

[2017-08-17 19:47] #12938 closed

[2017-08-17 19:53] asmeurer commented on #13140
I believe it's correct. What is the output you'd expect?

Outside the interval [0, b] the integrand is `-(y - r)**2 / (2 * sigma**2)`, which is either - or + infinity depending on the sign of `sigma**2` (SymPy isn't simplifying `sign(sigma**2)` to 1 because sigma could be complex, e.g., if sigma is sqrt(-1) then the sign of `sigma**2` is -1).

[2017-08-17 21:18] asmeurer opened #13143 "collect giving wrong results for derivatives"
[code]

I asked it to collect the second derivative, but it collected the first. I believe this is because it is trying to be smart with derivatives, but it relies on the args order

[code]

This is a modified example from https://github.com/sympy/sympy/pull/13059#issuecomment-323195614 (in that PR, the args order of `f(x)*diff(f(x), x)` is reversed from master.

I'm unclear what exactly collect i

[2017-08-17 21:21] asmeurer commented on #13143
Here is a simpler example (which should be more robust to arg order changes):

[code]

The last result should be `f(x)*(Derivative(f(x), x) + 1) + Derivative(f(x), x)`.

So `collect` respects the `syms` order when they are symbols, but when they are a function and its derivative, it disregards the order (and that order is actually arbitrary, based on the args order of the Mul).

[2017-08-17 23:55] #13137 closed

[2017-08-18 05:38] parsoyaarihant commented on #13125
@pdknsk , use SymPy integers:

[code]

See: http://docs.sympy.org/latest/gotchas.html#python-numbers-vs-sympy-numbers

[2017-08-18 06:12] ylemkimon opened #13147 "MpmathPrinter.doprint(expr) fails when expr is string or list"
Lambdify-ing string or list expressions using MpmathPrinter fails, since doprint attempts to replace log2 and log1p to log by Expr.replace() in [sympy/printing/pycode.py#L210-L213](https://github.com/sympy/sympy/blob/master/sympy/printing/pycode.py#L210-L213).
As a result, following tests fail:
[code]
Is replacing necessary? If so, I think it should check type of expr before replacing.

[2017-08-18 06:49] asmeurer opened #13148 "Tests on Travis always have NumPy installed"
I think somehow the Travis virtualenvs always have NumPy installed. See https://github.com/sympy/sympy/pull/13145. As a result, there are several test failures in master when NumPy is not installed that we haven't caught.

We should add a `pip remove numpy` line to the Travis builds that shouldn't have it. And also check if other libraries are installed that shouldn't be.

[2017-08-18 06:50] asmeurer commented on #13147
In general the printers shouldn't have logic in doprint. I think the same could be achieved by adding _print_log2 and _print_log1p.

As an aside, apparently are tests on Travis are never being run without NumPy (see https://github.com/sympy/sympy/issues/13148), so that's why we haven't noticed these errors before.

[2017-08-18 09:04] ylemkimon opened #13149 "factor() of expression with float coefficients gives incorrect result"
[code]
`factor()` of expressions with float coefficients seems to give incorrect result.

It has been suggested that cause of this is incorrect handling of `denom` in `dup_factor_list()` `dmp_factor_list()` in `/polys/factortools.py` and various fixes has been suggested[1][2][3], however, none of them seems to fix every cases.

Related issues: #8754, #9296, #9630, last comment of #12140, #12506, #

[2017-08-18 14:26] Pastafarianist commented on #13140
Apologies. I had forgotten to wrap the entire integrand in `sp.exp` but was thinking that I had not. The correct integral (`sp.integrate(sp.exp(-(y - r)**2 / (2 * sigma**2) + R), (y, -sp.oo, sp.oo))`) cannot be evaluated by sympy at all, but that's a topic for a different bug report.

[2017-08-18 14:26] #13140 closed

[2017-08-18 14:54] Upabjojr opened #13153 "Dimensional contraction support"
Sometimes dimensions get contracted.

For example, when setting the speed of light to one, the spacial and temporal dimensions become the same (seconds can be converted to meters by using the speed of light value). Addition of length and time intervals should therefore be allowed (which is currently not allowed).

How would you implement a contraction API? And a de-contraction API to restore the p

[2017-08-18 15:00] Upabjojr commented on #13153
@schymans you might be interested.

[2017-08-18 15:35] smichr commented on #13143
Might the problem be that collection on `f(x)` targets derivatives? When you give `f(x)` as the first element in syms, it collects derivatives as can be seen by omitting the derivative and using *only* `f(x)`:

[code]
My hunch is that it should *first* try to match functions. And if that doesn't work, *then* try matching derivatives containing those functions.

[2017-08-18 15:46] smichr opened #13156 "clarify Derivative docstring"
The discussion in Derivative's docstring is confusing. I think cut-and-paste wasn't edited properly and the example needs to be re-edited for clarity. This is only a piece of the documentation; the glaring problem is highlighted, but other edits may be necessary:

[code]

[2017-08-18 18:58] asmeurer commented on #13143
I believe the automatic collection of derivatives was a feature that was added at some point to make collecting differential equations easier.

The problem is how collect resolves ambiguities (`x*y` when both `x` and `y` are variables to be collected). When the ambiguity is in variables, it seems to do the right thing, but when they are a function and derivative, the automatic logic somehow confus

[2017-08-18 19:06] asmeurer opened #13158 "AccumBounds needs recreatable str/srepr"
[code]

The str and srepr should be recreatable. The pretty printer should be the only thing that prints the pretty form.

[2017-08-18 19:07] asmeurer commented on #13158
This is probably just a matter of moving the current printer from the str printer to the pretty printer.

[2017-08-18 19:10] asmeurer opened #13159 "Mul(AccumBounds(-1, 1), 0) gives AccumBounds(-1, 1)"
[code]

Even though

[code]

This is resulting in a regression in https://github.com/sympy/sympy/pull/13059 for `limit(atan(x)*sin(1/x), x, 0)` because the limit heuristics are going through the args in a different order. Probably an example could be found for master where an AccumBounds is returned from limit instead of 0.

[2017-08-18 19:11] asmeurer commented on #13159
Seems to be an issue with the op priority stuff.

[2017-08-18 20:32] lianggecm opened #13160 "Can't get explicit expression of the inverse of MatrixSymbol"
I'm trying to get inverse of symbolic matrices. The following code returns a NotImplementedError:
`C=MatrixSymbol('C', 3, 3)`
`C.inverse().as_explicit()`

Error message:

Alternatively,
`C.as_explicit().inv()`

returns

[2017-08-18 20:42] asmeurer commented on #13140
I get an answer for that. It's quite complicated but it can be simplified quite a bit if you add assumptions like `real` or `positive` to your constants.

[2017-08-18 20:49] asmeurer commented on #13159
Actually, the op priority *does* work. The problem is that there is code in Mul.flatten that tries to handle AccumBounds, and it is doing it wrong. Mul.flatten shouldn't be aware of these special classes (that's the whole point of op priority).

If you remove it, it fixes this issue, but you also end up with some AccumBounds in the tests that don't auto-simplify, like

[code]

Maybe it needs to be

[2017-08-18 20:51] asmeurer commented on #13159
OK, it only fixes it in that case because Mul(0, anything that isn't infinity or nan) gives 0. In general, Mul.flatten doesn't look at op_priority. So I think it does need to implement a post-processor.

[2017-08-18 21:11] asmeurer commented on #13159
https://github.com/sympy/sympy/pull/13161

[2017-08-19 12:22] ylemkimon commented on #13148
[code]
Above test fails on Windows where mpmath seems to be first default module when NumPy is not installed.

[2017-08-19 15:14] Pastafarianist commented on #13140
@asmeurer can you share the code for that?

[2017-08-19 19:13] asmeurer commented on #13140
Oh never mind I was using `R = symbols("R")` not the Piecewise.

[2017-08-19 19:16] asmeurer commented on #13140
I also tried it on https://github.com/sympy/sympy/pull/12587 but it doesn't work there either.

[2017-08-20 02:53] #13143 closed

[2017-08-20 15:05] ylemkimon commented on #12837
Latest development version seems to give correct answer(oo).

[2017-08-20 23:09] jklw opened #13166 "f(x,g(x)).diff(x,x) produces inconsistent result"
Hello!

Example session:

[code]

Apparently Sympy intends Term 3 to mean "the second derivative of `f` after its first parameter, holding the second parameter fixed" (cf. [Wolram Alpha](https://www.wolframalpha.com/input/?i=d%5E2%2Fdx%5E2+f(x,g(x))); Term 3 corresponds to the `f^(2,0)(x,g(x))` term there). On the other hand, `f(x,g(x)).diff(x,x, evaluate=False)` produces an identically-looking te

[2017-08-21 07:21] schymans commented on #13153
Interesting idea, but I don't understand the example. Could you refer to e.g. a wikipedia article that explains the underlying reasoning? I assume that `E` is a variable with the units of energy, i.e. `M*L*T**(-2)`, but the contraction seems to convert it to units of `M`. Does this imply that `L*T**(-2) = 1`?

[2017-08-21 08:06] ylemkimon opened #13168 "Test failures on non-NumPy environment"
Following tests fail on where NumPy is not installed:

[code]
Temporarily fixed by #13196:
[code]

Following doctest fails:

[code]

[2017-08-21 09:44] ylemkimon commented on #11685
This seems to be problem in hyper_as_trig(osborne) in fu.

[2017-08-21 10:07] smichr opened #13169 "Mod(x**2, x) is not (always) 0"
When the base is not an integer, `x**2 % x` is not 0. The base is not tested to be an integer in Mod's eval logic:

[code]

so

[code]
but
[code]

[2017-08-21 15:52] smichr commented on #13169
Even if `p.base` is an integer, the exponent must also be positive.

[code]

[2017-08-21 16:19] lianggecm opened #13170 "CodeBlock.cse() doesn't work for multiple Matrix Assignment"
`C_s=MatrixSymbol('C', 3, 3)`
`F=MatrixSymbol('F', 3, 3).as_explicit()`
`c=CodeBlock(Assignment(C_s, F.T*F), Assignment(x, 1))`
`c.cse()`

returns

[2017-08-21 17:22] jhacsonmeza opened #13171 "Scalar + sympy Matrix error."
When for example I try to do the following operation:
`sympy.Matrix([[1,2],[3,4]]) + 4`
I get the following error:
`TypeError: cannot add <class 'sympy.matrices.dense.MutableDenseMatrix'> and <class 'int'>`
I get the same with the `Array` module.
I would appreciate your help.

[2017-08-22 01:58] asmeurer commented on #13171
This is the intended behavior. If you want to add an multiple of the identity use `Matrix([[1, 2], [3, 4]]) + 4*eye(2)`. If you want to add a multiple of a ones matrix use `Matrix([[1, 2], [3, 4]]) + 4*ones(2)`.

[2017-08-22 01:58] #13171 closed

[2017-08-22 12:34] rheaparekh commented on #13169
I would like to work on this.

[2017-08-22 12:53] anca-mc commented on #13169
One would need just a slight change in the order of the properties,

            p.is_Pow and p.base == q and q.is_integer and p.exp.is_Integer
            and p.exp.is_positive):
            return S.Zero

instead of

        p.base == q and q.is_integer and p.is_Pow and p.exp.is_Integer
        and p.exp.is_positive):
        return S.Zero

otherwise one gets an Attribute error:'Symbol' object h

[2017-08-22 18:11] Upabjojr opened #13175 "Vector module: Spherical and cylindrical transformations should have cartesian parent"
When passing `transformation=spherical` or `transformation=cylindrical` to the coordinate system constructor, make sure that the parent's Lamé coefficients are all 1.

[2017-08-22 18:11] Upabjojr commented on #13175
@szymag

[2017-08-22 18:24] Upabjojr commented on #13175
I think it should raise an exception.

[2017-08-22 18:26] Upabjojr commented on #13175
The `spherical` transformation connects a cartesian coordinate system to a spherical one. Same idea for `cylindrical`.

Especially, the `spherical` pre-sets the Lamé coefficients, if the parent is not cartesian, they may be wrong.

[2017-08-22 18:32] Upabjojr commented on #13153
Yes, the speed of light is the constant that is being contracted, therefore the dimension of speed will become dimensionless, so that `length == time`. At this point the energy has the same dimension as mass.

Some descriptions can be found in: https://en.wikipedia.org/wiki/Natural_units

[2017-08-22 19:08] laolux opened #13176 "sympy.heaviside does not properly get lambdified using numpy backend"
I just noticed that `sympy.heaviside` does not properly get lamdified to numpy's `numpy.heaviside`.
Numpy's heaviside function was added recently in version 1.13.0, so I guess it has been overlooked so far. The change should be rather easy for someone who knows the internals of sympy (not me).
Below I attached a minimal working example:

[code]

I think the output of `numpy_heaviside([-1,0,1])` sh

[2017-08-22 20:31] firedranzer commented on #13158
Hi @asmeurer . I would like to work on this issue.

[2017-08-22 20:57] asmeurer opened #13178 "Ability to solve modular equations with integer solutions"
See for instance https://www.johndcook.com/blog/2017/08/22/predicting-a-lcg-output/. It would be cool if you could just write

[code]

and it produced the answer {100}.

[2017-08-23 02:32] #12007 closed

[2017-08-23 02:37] smichr opened #13179 "add `total_degree` thin-wrapper like function to polytools"
Just as there is a `degree` function and a `Poly.degree` method, a `total_degree` function could be added to polys.polytools.

Perhaps something like the following:

[code]

[2017-08-23 02:57] asmeurer commented on #13179
It should also allow to specify the generators. It should match the other polys functions in its form.

[2017-08-23 06:02] ylemkimon commented on #11685
The implemented osborne's rule isn't valid for simplification like TR10i.

[2017-08-23 10:11] schymans opened #13181 "inconsistent errors using Quantity()"
I think this is related to `_Quantity_constructor_postprocessor_Add` in sympy/sympy/physics/units/quantities.py, perhaps @jirikuncar  can help. In the below example, summation of the terms works, but putting one of them on the lhs of `Eq()` gives a "incompatible dimensions" error:
[code]
returns:
[code]
Conversely, writing a summation with indeed inconsistent units does not give the correct error

[2017-08-23 13:13] smichr commented on #13179
ahh...so `total_degree(x*y + z**3, x, y)` gives 2 instead of 3?

[2017-08-23 20:25] smichr commented on #13178
breadcrumb:

[code]

[2017-08-23 20:56] asmeurer commented on #13178
The equation is the same as solving `x = a**n*z` for n except each operation must be done as its analogue mod m.

[2017-08-24 06:02] Upabjojr commented on #13153
Without going into relativity or other strange stuff, the Gaussian units are a simpler example:
https://en.wikipedia.org/wiki/Gaussian_units

The idea behind the Gaussian unit is simply not to define the _Ampere_, and Coulomb's constant becomes one.

Maybe `convert_to` could be updated to support conversions with dimensional contractions.

[2017-08-24 16:06] isuruf commented on #12411
@mattwala, what were the benchmarks you ran to compare `sumpy` vs `sympy`?

[2017-08-24 23:18] peabody124 opened #13192 "CSE crashes when combining matrix and matrix symbol"
A fairly simple example can cause a crash from CSE.
[code]

I have attached the error below. I've managed to track it down to this command https://github.com/sympy/sympy/blob/master/sympy/simplify/cse_main.py#L346

Where it ends up creating an sympy.matrices.immutable.ImmutableDenseMatrix and then expands the parameter list (which in this this is [x[0, 0], x[1, 0]]). So it should not have a star b

[2017-08-24 23:20] peabody124 commented on #13192
As a workaround expanding the whole thing first
[code]
seems to function

[2017-08-25 17:23] ylemkimon commented on #10127
This seems to be caused by #11707.

[2017-08-25 20:00] smichr commented on #13178
I get an unexpected error when trying the above:

[code]

[2017-08-25 20:38] asmeurer commented on #13192
`expr.func(*expr.args)` is something that should work for every sympy expression. If it doesn't, that means the args are generated incorrectly.

[2017-08-25 20:42] asmeurer commented on #13179
Yes

[code]

Anything not in the generators should be thought of as a symbolic constant.

[2017-08-25 20:55] peabody124 commented on #13192
Yeah that's what I'm seeing. Digging into it I see that the line I highlighted is using invalid args.

<img width="867" alt="screen shot 2017-08-25 at 3 54 04 pm" src="https://user-images.githubusercontent.com/618346/29732330-ca0d9d42-89ad-11e7-86e3-f32cae96fff1.png">

Which I can confirm is an appropriate response to getting those arguments
<img width="934" alt="screen shot 2017-08-25 at 3 54 14

[2017-08-25 21:28] peabody124 commented on #13192
I've tracked it down a bit more. At the beginning of the cse code there is this snippet

[code]

For most things with matrix math, the matrices are combined into one matrix before the expression even hits CSE, so that line immediately pulls out the Matrix constructor and that inner _rebuild never deals with it.

When you do something like add a MatrixSymbol (appropriately dimensioned) that prevent

[2017-08-26 03:13] PorcelainMouse opened #13197 "init_session() throws exception when called from iPython startup: "maximum recursion depth exceeded""
Sorry, I couldn't find any references to this issue.  When I call init_session() from iPython startup file (~/.ipython/profile_default/startup/NN-sympy.ipy), I get a huge traceback that ends with:

maximum recursion depth exceeded

But, it seems to work fine when I call it, manually, once the interactive session has started.  Does anyone recognize this symptom?

[2017-08-26 04:37] ylemkimon commented on #13197
Please upload or post full traceback. Although it's huge, last functions calls are probably repeating.

[2017-08-26 16:11] #13147 closed

[2017-08-26 16:29] smichr opened #13201 "discrete_log expects to work with ints"
[code]

Fixing this also fixes the error in #13178

[2017-08-26 17:03] PorcelainMouse commented on #13197
Thanks for you help!  Yes, I think it is repeating.  A full console log is 1.3 MB and I doubt you want me to attach all that.  I'm just going to attach what I think is the last repeated output.
[ipython.onetraceback.txt](https://github.com/sympy/sympy/files/1253834/ipython.onetraceback.txt)

[2017-08-26 17:09] PorcelainMouse commented on #13197
BTW, ipython3 just crashes when I call init_session() from startup.

[2017-08-26 18:02] #13169 closed

[2017-08-26 20:36] anca-mc commented on #13156
I can edit the docstring. To begin with, I guess the second F(c).diff(c) line should be in fact F(cos(x)).diff(cos(x)).

[2017-08-26 21:20] smichr opened #13203 "solving equations involving Piecewise"
In addition to #12414, here are a couple of other issues regarding the solving of Piecewise equations:

1. It seems to me that both solutions for the following should be the same as the 2nd solution. This comes from issue #6060
[code]
2.
[code]
I think the solution to the 2nd equation should be `[Piecewise((3, y>0), (2, True)),Piecewise((3, y>0), (-2, True))]`. The principle is that when the condi

[2017-08-26 22:09] #8754 closed

[2017-08-26 22:09] #9296 closed

[2017-08-26 22:09] #9630 closed

[2017-08-26 22:09] #12506 closed

[2017-08-26 22:09] #12792 closed

[2017-08-26 22:09] #13115 closed

[2017-08-26 22:09] #13149 closed

[2017-08-26 23:16] smichr opened #13205 "periodicity(x > 2, x) give recursion error"
Accidentally stumbled across this. A Relational is an expression and it might have a periodic behavior, but `periodicity(x>2, x)` leads to a recursion error whose message ends as

[code]

If Expr that are Relational are not to be supported then perhaps an error message could be raised instead of letting this go to decompogen. Otherwise, would the periodicity just be `periodicity(f.lhs - f.rhs, x)`

[2017-08-27 12:48] souravghosh97 opened #13207 "periodicity(Abs(sin(x)),x) return 2*pi"
periodicity(Abs(sin(x)),x) returns 2*pi instead of pi
[code]

[2017-08-27 15:55] Itay4 commented on #13087
Can I take this issue?

[2017-08-27 16:57] jksuom commented on #13087
It is a known issue that `rref` does not work well with floating point numbers, (See e.g. https://github.com/sympy/sympy/issues/9060) In this example 1/2  is converted to floating point 0.5 by the Python interpreter. To avoid such conversions one can define  `h = Rational(1, 2)` and use that instead of 1/2 in the definition of T. (It is also possible to write `h = S(1)/2` before S is redefined.)

[2017-08-27 17:01] PrometheusPi commented on #12792
@bjodah Thank you for this information. I will try rerunning the code with rationals.

[2017-08-27 20:11] Itay4 commented on #13207
Can I have this issue ?

[2017-08-28 03:41] #13201 closed

[2017-08-28 15:11] #9885 closed

[2017-08-28 19:05] asmeurer commented on #13197
Is this with the latest version of SymPy? This looks like https://github.com/sympy/sympy/issues/12907, which was fixed in 1.1.1.

[2017-08-28 19:21] souravghosh97 commented on #13205
what periodicity(sin(x)>0,x) should return None or 2*pi considering sin(x)>0 as boolean??

[2017-08-28 19:29] PorcelainMouse commented on #13197
Well, my package says 1.1.1.  I don't know which commit, though.

python3-sympy-1.1.1-1.fc26.noarch

[2017-08-28 19:31] asmeurer commented on #13207
Note by the docstring we are not guaranteed to get the fundamental period. But of course it would be good to improve the answer if possible.

[2017-08-28 19:32] PorcelainMouse commented on #13197
Maybe it's my iPython?  python3-ipython-5.3.0-4.fc26.noarch.  Looks like that is and old version.  Let me know if that is possibly the problem.

[2017-08-28 19:39] asmeurer commented on #13197
Maybe it's a different error. It would have been helpful to see the top of the traceback. What is the code that you have in your startup file?

[2017-08-28 19:42] asmeurer commented on #13197
What is `/home/<username>/.ipython/profile_default/startup/99-last.py`. It seems to be retrying the init after it fails with ImportError (I'm unclear why you are getting the import error).

[2017-08-28 22:27] PorcelainMouse commented on #13197
99-last.py contains:
`
sympy.init_session()
`
See attachments.  I have both iPython3, which crashed, and the first repeat of errors from ipython.
[ipython3.STDOUT.txt](https://github.com/sympy/sympy/files/1258562/ipython3.STDOUT.txt)
[ipython.STDOUT.head.txt](https://github.com/sympy/sympy/files/1258571/ipython.STDOUT.head.txt)

[2017-08-29 14:48] bjodah opened #13219 "Argument `logx` to Expr.series is undocumented"
See [here](https://github.com/sympy/sympy/blob/master/sympy/core/expr.py#L2500).

[2017-08-29 15:47] isuruf commented on #12411
See https://github.com/sympy/sympy/pull/13220

[2017-08-29 16:12] jksuom commented on #13219
I believe that it was never intended for public use. It was introduced by commit 9c46974d in order to make some existing code usable for gruntz.

[2017-08-29 16:15] bjodah commented on #13219
I see. Closing this then. Thanks for the link.

[2017-08-29 16:15] #13219 closed

[2017-08-29 16:20] mattwala commented on #12411
The input to the CSE benchmark was all the derivatives of a truncated multipole expansion up to a certain order.

[Here is the code](https://gist.github.com/mattwala/8c5c3ea00f2184ddef318127026e0270). Unfortunately it is pretty heavily tied into sumpy.

[2017-08-29 16:23] isuruf commented on #12411
Thanks.

No worries. I'll run the above benchmark and extract the sympy expression.

[2017-08-29 16:27] mattwala commented on #12411
I forgot to explain that to run it with sympy you should set `SUMPY_FORCE_SYMBOLIC_BACKEND=sympy`

[2017-08-29 21:06] smichr opened #13223 "ITE.to_nnf appears to use Boolean of else arg"
I expect both to give the same result in the following:

[code]

The NaN evaluates in a different way than the (1,2) does in an Or: Or(x<1,foo) is True if foo is a Number.

[2017-08-29 22:28] asmeurer commented on #13223
ITE expects all three args to be booleans, especially to_nnf, which rewrites it as a boolean expression.

[2017-08-29 23:50] smichr commented on #13223
It need not in general: using the same `e` we can get the tuple result from either form:

[code]

But yes: in the Boolean form there is no way (that I can think of) to have an Or return its first arg as a Number instead of as True or False. Whereas `2 or 3` is `2`, `Or(2, 3)` is `True`. Do you recall why don't we return the first true arg?

[2017-08-30 00:33] asmeurer commented on #13223
I'm not a fan of treating numbers as booleans. It's convenient for a programming language, but the SymPy logic module deals with boolean algebras, and the manipulations therein. OR in a boolean algebra is commutative.

To this problem, even if it did work on non-booleans and short circuit, `Or` sorts its arguments, so the short circuiting would be arbitrary. In fact, for me, `e.to_nnf()` gives `x

[2017-08-30 14:37] #13156 closed

[2017-08-30 14:54] ylemkimon commented on #11741
As of jython-2.7.1, it can import SymPy and most of SymPy works on it. However, it is slow compared to CPython possibly due to this issue http://bugs.jython.org/issue2604 and test takes few weeks. See #4332.

[2017-08-30 15:15] ylemkimon commented on #4332
As of jython-2.7.1, it can import SymPy and most of SymPy works on it. However, it is slow compared to CPython possibly due to this issue http://bugs.jython.org/issue2604 and test takes few weeks and some tests fail.

`test()` **Stopped after exception** [sympy_test_1.txt](https://github.com/sympy/sympy/files/1264072/sympy_test_1.txt)
`test(`_failed tests_`)`  **2 failed and 39 exceptions** [sympy

[2017-08-30 15:50] certik commented on #4332
@ylemkimon thanks for trying it. I am still interested in this simply because I think it's very useful to run SymPy in Jython and PyPy (and other Python interpreters) to ensure that the Python code in SymPy is multiplatform, not dependent on a single interpreter. I do the same with my Fortran and C++ codes, e.g. for C++ I use gcc, clang and MSVC.

Perhaps what we can do is to run some small subset

[2017-08-30 20:09] asmeurer commented on #4332
We still have a few years of Python 2 support, which is enough time for Jython to port to Python 3 if they work on it. So I think as long as we can support it we should try to (assuming anyone is willing to work on the issues).

[2017-08-30 20:36] #11518 closed

[2017-08-31 02:41] smichr commented on #13223
Ahh yes. So there is no problem here other than that it would be better to simply convert args to Booleans since that is how they are going to be treated. So instead of `x ≥ 1 ∨ (1, 2)` we would just get `x ≥ 1` since `(1, 2)` is a True expression. Maybe this would work

[code]

Could that be  an __init__ or __new__ for Boolean?

I would really like to keep the ability of *something* to hold any t

[2017-08-31 03:38] smichr commented on #13223
To avoid confusion, perhaps the input and output should be the same as Piecewise: give tuples in `(b, cond)` order. So `ITE(cond, a, b)` could be entered as `ITE((a, cond), (b, True))`.

[2017-08-31 10:09] iwhiz commented on #13111
Even though there is lot of competition, why was this issue not assigned to anyone yet?? Any particular reason??

[2017-08-31 11:58] nylocx opened #13230 "Intersection of two circles can lead to a crash"
In Sympy 1.1.1 this code:

[code]

crashes with the following Stacktrace:
[code]

Gaurav Dhingra @gxyd at gitter noted

and Kalevi Suominen @jksuom noted that this might be related to the AlgebraicField

[2017-08-31 12:22] tonigi opened #13231 "Codegen matrix output not reproducibe"
I'm trying to get matrix output from codegen. It almost works, but the output arguments are in random order, which makes the functions unusable.  Given that the rhs list is ordered, can the same order be kept on output?

I can't seem to work around the issue neither with explicit Eq, nor with with argument_sequence...

[code]

[2017-08-31 12:42] jksuom commented on #13230
File "/usr/lib/python3.6/site-packages/sympy/polys/domains/algebraicfield.py", line 33, in __init__
    self.ext = to_number_field(ext)

The `ext` argument of `AlgebraicField` can take several forms. It can be an expression for a single algebraic number or a list of such expressions. Then `to_number_field` returns an algebraic number in terms of which all items of `ext` can be expressed (the primi

[2017-08-31 12:55] tonigi commented on #13231
Edit: possibly found the solution: **MatrixSymbol**.  Thanks.

[code]

[2017-08-31 13:26] shutebt01 opened #13232 "Solveset to String to Parse_Expr"
I've been working on adding numpy to a site, and have noticed an odd error occuring.

When calling solveset on `sin(x+5)` for `Symbol("x")` it creates the solution following solution:

```Union(Intersection(Complexes(S.Reals x S.Reals, False), ImageSet(Lambda(_n, -I*(I*(2*_n*pi - atan(sin(5)/cos(5))) + log(sqrt(cos(5)**2 + sin(5)**2)))), S.Integers)), Intersection(Complexes(S.Reals x S.Reals, Fals

[2017-08-31 14:10] anca-mc commented on #13178
One should then define an _invert (modulo m) function by the model of _invert_real and _invert_complex?

[2017-08-31 21:05] asmeurer commented on #13111
We don't assign issues to people. If you want to fix it, just state here that you are working on it and then open a pull request.

[2017-09-01 00:34] ylemkimon opened #13233 "What should rewrite return when result depends on argument(s)"
What should func.rewrite(other func) should return when expression in terms of 'other func' differs depending on argument(s)?

For example, FallingFactorial and RisingFactorial can be rewritten in terms of gamma function as gamma(x+1)/gamma(x-n+1) and gamma(x+n)/gamma(x), respectively.(hereinafter general case)

However, as gamma function is not defined for non-positive integers, this is not valid

[2017-09-01 03:58] ylemkimon commented on #8630
Latest development version gives correct answer(0).

[2017-09-01 07:37] deep-42-thought opened #13234 "test_rootoftools.py fails on i686"
Hi,

while trying to compile python2-sympy-1.1.1 for archlinux32 (the i686 continuitation fork of archlinux), the following test failed:

[code]

The given int is indeed to large to fit in 32-bit, but I guess, that should have been hanlded somewhere else, right?
Let me know if you need any more details.

cheers,
deep-42-thought

[2017-09-01 10:00] jksuom commented on #13234
This looks like an mpmath issue. It should probably use Python 2 long instead of int for unlimited precision.

[2017-09-01 14:30] ayush-vibrant commented on #13111
I would like to work on this.

[2017-09-01 15:47] Itay4 commented on #13111
I'm working on it.

[2017-09-01 18:30] simenkva commented on #12284
Any progress on this? I am unable to load UnevaluatedExpr on (at least) latest anaconda Python distribution.

[2017-09-01 23:12] peteroupc opened #13238 "Consider converting `sympify(decimal)` to a rational number"
In SymPy version 1, `sympify("0.2345")` is converted to a `Float` number, that is, a binary floating-point number (presumably the 64-bit `double` -- which moreover might not represent a given decimal number exactly), so that repeated mathematical operations (especially divisions) on the number run the risk of being inexact.  This can be avoided if `sympify` were to convert "0.2345" to a rational n

[2017-09-01 23:34] asmeurer commented on #13238
`sympify` has a rational flag that does just this

[code]

The default value is False because we generally assume that if someone enters a number as a float that they want to use the floating point form. Usually if you have a number in floating point format it's "inexact already" because it was output from something else that used floating point.

You can also use the `Rational` constructor to con

[2017-09-01 23:34] #13238 closed

[2017-09-01 23:44] asmeurer commented on #11707
Another tertiary but related issue here is that SymPy's Float printer truncates floats. Typically, the str form of a machine float is computed in such a way that it recreates the float exactly, meaning any two exactly unequal floats print differently.  Consider the classic example

[code]

In SymPy, we get

[code]

even though they are different

[code]

mpmath apparently gets this right.

[code]

[2017-09-02 00:24] peteroupc commented on #13238
Thanks for pointing me to the `rational` flag.  That part of the issue is resolved.

My new question: Does `mpmath` use binary (base-2) or decimal (base-10) arithmetic? If the former, there is the risk that the decimal number won't be representable as a binary fraction (even with arbitrary precision), so that my issue about inexact results will remain.  If the latter, this issue is fully resolved.

[2017-09-02 00:33] asmeurer commented on #13238
mpmath uses base-2 arithmetic. You can read more about it [here](http://mpmath.org/doc/current/technical.html#representation-of-numbers). There presently isn't a way to do base-10 arithmetic directly in SymPy, although you can use the Python standard library [`decimal` module](https://docs.python.org/3/library/decimal.html) if you are working just with numbers.

If you are worried about precision,

[2017-09-02 00:50] peteroupc commented on #13238
Base-10 arithmetic in SymPy is not a priority for me, now that I know about the `rational` flag.  Thanks for your response.

[2017-09-02 03:07] certik opened #13239 "Rubi tests hang in master"
In the current master, the Rubi tests simply hang. It gets to this stage in couple dozen minutes, and then it hangs here for more than 5h:
[code]

This is a big problem, tests should not hang in master.

[2017-09-02 03:08] certik commented on #13239
When I killed it, the stacktrace was:
[code]

[2017-09-02 03:13] certik opened #13240 "rubi_integrate is 7.6x slower than integrate"
Here is a test case with the current master (96074807d8d003dbd83198d82ee0d5b16390709d) using `isympy`:
[code]

[2017-09-02 03:17] certik opened #13241 "rubi_integrate takes over 2min to import"
Here is a test case with the current master (96074807d8d003dbd83198d82ee0d5b16390709d) using `isympy`:
[code]

[2017-09-02 03:18] certik opened #13242 "Rubi module is not tested in master"
The Rubi module that landed in master is not tested on Travis. If it was, it would hang, but that's another issue (#13239).

[2017-09-02 03:19] certik opened #13243 "Improvements to Rubi"
Here are some of the issues with the current Rubi integrator in master:

* [ ] Rubi module is not tested in master (#13242)
* [ ] Rubi tests hang in master (#13239)
* [ ] `rubi_integrate` is 7.6x slower than `integrate` (#13240)
* [ ] `rubi_integrate` takes over 2 min to import (#13241)

[2017-09-02 03:22] certik commented on #13242
To fix this, one just has to run at least one test:
[code]
which runs under 3 minutes. Given that the whole test suite hangs due to #13239, this is a reasonable compromise to fix this issue.

[2017-09-02 03:34] certik opened #13244 "rubi_integrate(1/(1 + x**5), x) fails"
[code]
This is essentially a consequence of #13242. In Python, each line has to be tested, so that there are no syntax errors, or import errors like these.

[2017-09-02 03:35] certik opened #13245 "rubi_integrate(1/(1 + x**6), x) fails"
[code]

[2017-09-02 03:48] certik opened #13246 "Check that rubi_integrate(1/(a + b*x**2), x) is correct for a,b real"
It returns:
[code]
But that is a different expression than `integrate` returns, as can be easily checked by plugging in some values:
[code]
I think the two expressions might differ by a constant `C = C(a,b)` that depends on `a` and `b`. They might both be correct, but we should verify that. I am a bit suspicious seeing that `sqrt(a)*sqrt(b)` in there, as that is not equal to `sqrt(a*b)`, e.g., for

[2017-09-02 03:52] certik opened #13247 "rubi_integrate(1/(a + b*x**2+c*x), x) gives RecursionError"
[code]

[2017-09-02 04:03] parsoyaarihant commented on #13240
One optimisation is to make `apart` faster: #13022

[2017-09-02 04:14] parsoyaarihant commented on #13246
This issues is known, these tests can be verified by differentiating the results:
[code]

[2017-09-02 04:24] certik commented on #13246
Cool, so this works. Thanks!

[2017-09-02 04:24] #13246 closed

[2017-09-02 04:49] asmeurer commented on #13239
This is with matchpy installed I'm assuming.

[2017-09-02 04:50] asmeurer commented on #13244
At the very least the new files should pass `pyflakes`, which checks for undefined names.

[2017-09-02 05:12] certik commented on #13239
Yes, see my conda commands above.

[2017-09-02 05:43] parsoyaarihant commented on #13240
This integration uses `ExpandIntergand` I will try to use MatchPy's `is_match()` instead of SymPy's `.match()` to implement this function. In my opinion that would be the best we can get to optimise `ExpandIntegrand`.

[2017-09-02 05:50] Upabjojr commented on #13243
I guess you are loading the algebraic rules only. When I loaded all rules it took more than one hour.

[2017-09-02 07:06] jksuom commented on #13233
I think that the standard `rewrite` should not try to be too smart. It should probably do just what the name implies (case 1). When a rising of falling factorial is rewritten in terms of gamma, the user should be responsible for taking a limit if direct evaluation leads to a meaningless expression.

[2017-09-02 10:52] falematte opened #13250 "Error importing UnevaluatedExpr"
I get the following error when I try: ImportError: cannot import name UnevaluatedExpr. The same is happening on the sympy online shell.

[2017-09-02 11:40] jksuom commented on #13250
`UnevaluatedExpr` was defined in sympy-1.1. The online version should be updated.

[2017-09-02 13:51] #13242 closed

[2017-09-02 13:52] certik commented on #13242
The module was actually tested in master in https://travis-ci.org/sympy/sympy/jobs/270968939, I missed that.

[2017-09-02 14:01] certik commented on #13244
This now returns a (long) answer.

[2017-09-02 14:01] #13244 closed

[2017-09-02 14:02] certik commented on #13245
This now returns a (long) answer.

[2017-09-02 14:02] #13245 closed

[2017-09-02 14:02] certik commented on #13247
This now works:
[code]

[2017-09-02 14:02] #13247 closed

[2017-09-02 14:05] certik commented on #13239
Ok, now in just a few minutes the Rubi tests run:
[code]
So I think this issue is fixed.

[2017-09-02 14:05] #13239 closed

[2017-09-02 14:09] certik commented on #13241
@Upabjojr wrote this in #13243, and I moved his comment here:

I guess you are loading the algebraic rules only. When I loaded all rules it took more than one hour.

[2017-09-02 14:12] certik commented on #13243
@parsoyaarihant, thanks a lot for quickly fixing most of these issues! It seems that now the most pressing is #13241, as every time I want to test something, I have to wait 2 minutes.

Let's discuss it in #13241, so I moved @Upabjojr's comment here: https://github.com/sympy/sympy/issues/13241#issuecomment-326746212

[2017-09-02 14:18] certik commented on #13241
What is the underlying cause of the slow imports?

@Upabjojr how can I choose what rules import?

I read the documentation:
[code]
and it does not say.

[2017-09-02 14:39] certik commented on #13022
I wonder if SymEngine can help here. We don't have `apart` implemented, so I created an issue for it there (https://github.com/symengine/symengine/issues/1324).

In general, I think SymEngine might help with lots of stuff in Rubi eventually. But this could be the start.

[2017-09-02 15:22] Upabjojr commented on #13241
It depends on MatchPy as an external library, which creates a complex data structure that gets updated for each rule that is added.

The main problem is that the rule subgroups depend on one another. The algebraic rules appear to be to only independent ones. I suggested that we keep the subgroups in different files, I believe @parsoyaarihant is currently putting comments on the imports according t

[2017-09-02 15:28] certik commented on #13241
So matchpy seems too slow to construct so many rules. Is it that it's using
inefficient data structures or algorithms, or is it that Python is too
slow, and it needs to be implemented in C++?

Sent from my mobile phone.

On Sep 2, 2017 9:22 AM, "Francesco Bonazzi" <notifications@github.com>
wrote:

[2017-09-02 15:32] jklw commented on #13166
PS: This isn't just a cosmetic problem. We can derive a falsehood simply by evaluating selectively:

[code]

[code]

This clearly isn't true in general, e.g. take g(x) = x and f = anything with positive second partial derivatives.

The problem is that `foo.doit()` contains `foo` as a subterm, but with different intended meaning (as described above).

[2017-09-02 15:52] Upabjojr commented on #13241
Well, MatchPy seems to use the more efficient data structures known to this day. I don't know exactly how it works to explain the reasons of its slowness, I believe there could be still improvements on our part.

The matching conditions are all defined as lambdas, I suspect that makes it somehow harder to optimize the matching algorithm.

[2017-09-02 15:59] parsoyaarihant commented on #13241
Actually @wheerd suggested that if the `Constraints` for a rule are subdivided divided into smaller individual constraints, it will make the matcher faster because it can backtrack faster. I can implement only `FreeQ` constraint directly using `MatchPy`  directly.

[2017-09-02 15:59] Upabjojr commented on #13241
We have discussed this, the idea is to generate a decision tree out of MatchPy. It actually works already, but the generated file is huge and exceeds some Python limits.

[2017-09-02 16:02] Upabjojr commented on #13241
Some identical constraints definitions are repeated many times in the generated rules. Each lambda definition in Python will be stored as a separate object, even if the lambda are identical. Does this potentially affect the performance of MatchPy?

[2017-09-02 16:11] parsoyaarihant commented on #13241
Each `Patterns` needs to be defined with all the `Constraints` for that `Pattern`. I don't think there is any workaround this.  Probably some optimisations can be done in MatchPy regarding this.

[2017-09-02 16:32] Upabjojr commented on #13241
What I fear is that identical constraint checks keep getting repeated in MatchPy.

Mathematica's pattern matcher is definitely much faster, though their code is private so we cannot inspect their algorithm.

[2017-09-02 16:54] certik commented on #13241
I think the pattern matching is just an intermediate step anyway. It'd be
nice to load it faster, but ultimately if it's too big an effort, it might
not be worthy.

I think we should spend our effort in figuring out how to do the decision
tree.

You said the main problem is that the file is too large. There are two ways
out. Either split it into subroutines and multiple files, or save the
decision

[2017-09-02 16:57] Upabjojr commented on #13241
I have opened an issue on MatchPy:
https://github.com/HPAC/matchpy/issues/27

[2017-09-02 17:00] Upabjojr commented on #13241
@parsoyaarihant has been in contact with the MatchPy developers, they added the support for the generation of the decision tree to ease our work (huge thanks to @wheerd ). Unfortunately there are some problems: for what I understand, the size of the generated program is excessive.

I believe we should keep working on the SymPy-MatchPy interaction.

[2017-09-02 17:10] certik commented on #13241
I see, your idea is that this is matchpy's problem and that our job is to
interface matchpy well, and then we just need to work on matchpy.

I like the division of work. As long as we can get a performing decision
tree out of it, one way or another.

Sent from my mobile phone.

On Sep 2, 2017 11:00 AM, "Francesco Bonazzi" <notifications@github.com>
wrote:

[2017-09-02 18:29] jklw commented on #13166
Narrowed it down to this:

[code]

This illegally makes the differential operator capture the `x` in `g(x)`. So it seems that the problem is that `Derivative._eval_subs` doesn't check for variable capture: https://github.com/sympy/sympy/blob/628286fb5cc2248002bb0b141a911757a2e81fa7/sympy/core/function.py#L1392-L1412

[2017-09-02 23:30] asmeurer commented on #13241
Regardless of the cause, these things should not be done at import time. They should be done the first time the function is called. If it takes two minutes, maybe we should `warnings.warn()` that it is precomputing something.

[2017-09-03 05:57] mfarrokh opened #13252 "Error in plot_implicit sympy-1.1.1"
Hi

When I run the following code in sympy-1.1.1:

[code]
getting the following result:
![figure_1](https://user-images.githubusercontent.com/7220244/30000929-224b3ae2-9092-11e7-9859-f3a318ac0388.png)

While the result of the above-mentioned code in sympy-1.0.0 is:

![figure_2](https://user-images.githubusercontent.com/7220244/30000921-f7bde3ba-9091-11e7-8f72-eaf07886e4c9.png)

I think that there

[2017-09-03 09:21] asmeurer opened #13253 "Integer division object"
Right now we have

[code]

It would be better to return an IntegerDivision object. That way the code printers could print a more useful thing for them, especially for languages that have native integer division.

[2017-09-03 14:38] akash9712 commented on #12954
@smichr So should `Function.is_commutative` return `None` unless it is explicitely specified that `commutative=True` for an undefined function?

[2017-09-03 16:59] ylemkimon commented on #11500
You have to extend the algebraic domain to include sqrt(2). You can do this by explicitly passing the extension, i.e., `cancel(expr, extension=[sqrt(2)])`, or by `cancel(expr, extension=True)`, which automatically extends it.
However, I think `simplify` should do this.(Related #5428)

[2017-09-05 07:07] deep-42-thought commented on #13234
ok, I opened an issue for mpmath, too: https://github.com/fredrik-johansson/mpmath/issues/368

[2017-09-05 12:30] schymans commented on #13153
Thanks for the examples. I think that there is more to this than just unit contraction during conversion. As explained in the wikipedia article on Gaussian units, use of the Gaussian unit system also requires reformulating some fundamental physical equations. Shouldn't the conversion be part of `UnitSystem`? I think the contraction only makes sense when using a specific unit system, e. g. in the P

[2017-09-05 12:32] #13107 closed

[2017-09-05 14:16] #8677 closed

[2017-09-05 14:16] #9150 closed

[2017-09-05 14:16] #9151 closed

[2017-09-05 14:16] #13125 closed

[2017-09-05 15:14] Upabjojr commented on #13153
I think that the idea behind the contraction of dimensions is that you take a physical law and drop the constant. In the case of gaussian units, the Coulomb law becomes constantless:
[code]
The dimensions of the constant `(1/4 pi epsilon0)` are `force*length**2*charge**-2`, which is set to unit and then, as an equation, used to abolish the electric current dimension (i.e. all units prop to Ampere)

[2017-09-05 22:12] jankoslavic opened #13263 "BUG: sympy.solve when variables are differentials"
Thank you for this great product!

I do not understand why this:
[code]
works without problems and why this (being the same equation):
[code]
does not.
Am I doing it wrong or is this a bug?

[2017-09-06 19:11] uwevil opened #13266 ":bug: sympify error when expr contains "ff""
Hello,

I had an error when I used sympy to simplify an algebraic expression which contains "ff" constant.
For example,

I got:
[code]

But if I replace "ff" by "fa" or something else like "aa", it works fine:

`fa + m + 12`

`aa + m + 12`

Here is my "requirements.txt" file:
[code]

Best regards,
uwevil

[2017-09-06 19:16] uwevil commented on #13266
It likes something `FallingFactorial`.

`FallingFactorial`.

So it is not an error!!!

[2017-09-06 19:17] #13266 closed

[2017-09-06 23:07] #13129 closed

[2017-09-06 23:21] smichr commented on #13121
`function_range` is required to solve `f.diff(x)` and while a solution is obtained by solve, one is not obtained by solveset. So although this issue is pertinent for equations that can't be solved, this particular example will hopefully eventually not raise an error when the derivative is solvable by solveset.

[2017-09-07 07:34] schymans opened #13267 "BUG: Equation evaluates to FALSE if it contains a fraction"
The below example shows equations with quantities and a real number, an integer and a fraction. The one containing the fraction evaluates to `False`, which is certainly a bug.

Code:
[code]
Output:
[code]

[2017-09-07 07:51] ylemkimon commented on #13267
1 and 2 in 1/2 are Python integers and therefore / is Python integer division and results 0 in Python 2.
You should use SymPy Integer, i.e. S(1), where division results in SymPy Rational, or `from __future__ import division` at start(top), where division results in Python float.

[2017-09-07 07:52] jacknlliu commented on #5858
Is this process still forward?

[2017-09-07 08:02] schymans commented on #13153
This implies that the quantities `F`, `q1`, `q2` and `r` have to contain information about the unit system they refer to, right? Otherwise, we would have no chance of knowing that `F = q1 q2 / r^2` is only valid in the Gaussian unit system and vice versa. In sympy/physics/units/definitions.py, we define different quantities for e.g. `mass` and `planck_mass`, so in the above case, we would need to

[2017-09-07 08:23] schymans commented on #13267
Thanks, this takes me one step further, to the real issue:
`Eq(vel1, 0)` should not evaluate to false, either. Even worse:
[code]
gives:
[code]
This absolutely defeats the use of Quantities as physical variables!

[2017-09-07 08:25] jacknlliu commented on #9840
@tbsexton did you resolve the issue? I got the same error.

[2017-09-07 08:25] schymans commented on #13267
Usually equations involving quantities are only evaluated if they are given as an argument to `convert_to`.

[2017-09-07 08:47] ylemkimon commented on #13267
You've got a typo at the name of `vel2 = Quantity('vel1', length/time, meter/second)`.

[2017-09-07 08:51] ylemkimon commented on #13267
Inequality with zero is because Quantity is assumed to be positive(in fact, same as sign of scale factor).

[2017-09-07 08:59] schymans commented on #13267
Thanks, I removed the example with the typo, sorry about this. It does not make sense to me to assume that quantity is positive or non-zero. A distance can be zero and any difference between quantities can be another quantity, which can be negative.

[2017-09-07 09:48] schymans opened #13269 "Printing should use short representation of quantities."
There is a test that explicitly expects that printing does not use `abbrev` but `name`:
https://github.com/sympy/sympy/blob/8e962a301d7cc2d6fc3fa83deedd82697a809fd6/sympy/physics/units/tests/test_quantities.py#L87
Is there a reason behind this? I find it quite user-unfriendly to look at `1.34*meter/second` instead of `1.34*m/s`.
It would be very easy to change here: https://github.com/sympy/sympy/

[2017-09-07 09:59] ylemkimon commented on #13267
Quantity is used for units and constants, which cannot be zero. From documentation:
A quantity is defined by its name, dimension and factor to a canonical quantity of the same dimension. The canonical quantities are an internal reference of the units module and should not be relevant for end-users. Both units and physical constants are quantities.

[2017-09-07 10:19] schymans commented on #13267
I saw this, but I couldn't find out what canonical quantities are. I have seen some examples where quantities are used like physical variables, which is what I am doing, too. Perhaps we will need a separate class for this, with information on the unit system but no scale factor, and where assumptions can actually be specified for each separately.

[2017-09-07 15:55] certik opened #13270 "test_issue_7130 hangs on Travis"
This was discovered in https://github.com/sympy/sympy/pull/13229, but this seems unrelated to it.

https://travis-ci.org/sympy/sympy/jobs/272747201

[code]

[2017-09-07 15:56] ylemkimon commented on #13270
Requested PR to skip on travis, see #13260.

[2017-09-07 15:57] #13270 closed

[2017-09-07 17:48] Upabjojr commented on #13153
I was considering the basic unit in the gaussian system, the statCoulomb. As of the current state of the code in SymPy, we cannot define it:

[code]

because we get `ValueError: quantity value and dimension mismatch`. Yet, the _statcoulomb_ measures charges and that's how it is defined.

The dimensional dependencies are registered in a static dictionary inside the class `Dimension`. When I organiz

[2017-09-07 23:36] asmeurer commented on #13269
We could add a flag for it. Also I think the pretty printer should be using the shorter form always.

[2017-09-08 03:49] Yathartha22 commented on #13179
@smichr I would like to work on this.

[2017-09-08 04:00] 13steinj opened #13272 "Sympy nonlinsolve can break and attempt to treat an expression as a symbol"
Relevant traceback with some contextual code:

[code]

Now, I'm a bit of an idiot, but I don't think this system can be considered linear. If it can, then the result of the was

[code]

Which isn't helpful.

[2017-09-08 05:18] aktech opened #13273 "function_range keeps iterating over infinite critical points of ImageSet solution"
`function_range(sin(x)*exp(x) - 1, x, S.Reals)` hangs forever as it keeps iterating over critical points in the following:

[code]

https://github.com/sympy/sympy/blob/1e2760d8da15fe238abdb9741dadb3b63a3114ec/sympy/calculus/util.py#L141-L145

[2017-09-08 05:44] cbm755 commented on #12820
@asmeuer, to avoid ambiguity, I think that should say: "As before, the decimal precision can still be passed as the second argument, ..."?

[2017-09-08 06:07] cbm755 commented on #11086
I think this was fixed by #11666 but not marked closed.  I did test it but please do reopen if I'm wrong.

[2017-09-08 06:08] #11086 closed

[2017-09-08 06:13] cbm755 opened #13275 "creating Float explicitly from numpy types can fail"
#11666 improved various `S(<numpy thing>)` but `Float(<numpy thing>)` still gives errors like `TypeError: cannot create mpf from...`

Examples:
[code]

`Float(np.float64(5))` is ok on my computer, possibly because `np.float64` is the same as native python double-precision `float`.

Probably be nice to fix this without duplicating lots of code from the #11666 fix but I haven't looked at it at all s

[2017-09-08 06:59] corywalker commented on #12233
I've been working on adding Rubi support to a CAS I've been writing. It's able to parse the package from source in about 15 seconds, but right now it's only able to mostly pass the first test case file for 1.1.1. I haven't gotten around to testing or fixing up support for the other test cases. There seems to be a belief in this thread that the pattern matching is the most difficult part. There are

[2017-09-08 07:07] asmeurer commented on #12233
@corywalker Rubi has been implemented in SymPy (see https://github.com/sympy/sympy/pull/12978). @Abdullahjavednesar and @parsoyaarihant can tell you more, but I believe all the utility functions have been translated. The pattern matching is done by matchpy. There are still some issues, particularly for performance (search the issue tracker for "Rubi").

[2017-09-08 07:14] parsoyaarihant commented on #12233
@corywalker , the utility functions can be found here: https://github.com/sympy/sympy/blob/master/sympy/integrals/rubi/utility_function.py. For some inbuilt Mathematica functions, we have used SymPy equivalents.

We have used MatchPy's [ManyToOneReplacer](https://matchpy.readthedocs.io/en/stable/api/matchpy.matching.many_to_one.html) to match the rules with the expression.

[2017-09-08 09:43] Abdullahjavednesar commented on #12233
@corywalker, we spent most of our GSoC period writing utility functions. At times we faced problems while writing those in Python because implemention of some functions were not so straight forward as in "Integration Utility Functions.m" but we have tested utility functions to a good extent.
tests for utility functions:
https://github.com/sympy/sympy/blob/master/sympy/integrals/rubi/tests/test_uti

[2017-09-08 11:18] falematte commented on #13250
Thank you for the answer. How am I supposed to use it?

[2017-09-08 16:52] smichr opened #13278 "TypeErrors encountered when doing subs with Matrices"
[code]

As reported at [StackOverflow](https://stackoverflow.com/questions/46097382/substituting-matrix-for-a-scalar-in-sympy)

[2017-09-08 20:10] asmeurer commented on #12576
I believe the issue noted by @smichr was fixed by https://github.com/sympy/sympy/pull/13018

[2017-09-08 20:13] asmeurer commented on #12576
Actually I believe the original issue was fixed as well

[code]

[2017-09-08 20:13] #12576 closed

[2017-09-08 20:42] asmeurer opened #13280 "Possible wrong result with integrate(x*exp(x)**x)"
[code]

See the discussion at https://github.com/sympy/sympy/pull/13225#issuecomment-328142341. `exp(x)**x` is not the same as `exp(x**2)`, but the Risch algorithm converts them to one another. Basically, Risch assumes that `log(exp(x))` is equal to `x`, because it works algebraically.

[Wolfram Alpha](https://www.wolframalpha.com/input/?i=integrate(x*exp(x)**x)&dataset=) gives

[code]

I don't kn

[2017-09-08 20:45] asmeurer commented on #13280
Actually maybe `integrate(diff(x**x))` would be unaffected now that I think about it. We would need to check where the structure theorems are flattening `log(exp(x))` and stop the algorithm (but again, is it really giving truly wrong results?). I think such terms would only occur in places like `exp(x)**x` or when `log(exp(x))` appears directly.

[2017-09-08 20:58] asmeurer commented on #13280
A simpler example would be `integrate(log(exp(x)))` itself. [Wolfram](https://www.wolframalpha.com/input/?i=integrate(log(exp(x))&dataset=) says it is `log(exp(x))**2/2`.

We want to know if `x**2/2` and `log(exp(x))**2/2` differ by a piecewise constant (in which case, they are equivalent for the purposes of integrate), or not.

Let's plug in `x = a + 2*pi*n*I`, where `a` is real and `n` is an int

[2017-09-08 22:14] Upabjojr commented on #13280
Even RUBI gets it correct:
[code]

[2017-09-08 22:20] asmeurer commented on #13280
What about SymPy's Rubi?

[2017-09-09 01:25] Upabjojr commented on #13280
Well... I guess the RUBI module still needs some work:
[code]

[2017-09-09 01:28] Upabjojr commented on #13280
Even worse:
[code]

[2017-09-09 01:30] Upabjojr commented on #13280
Even worse:
[code]

[2017-09-09 01:59] asmeurer commented on #13280
Undefined names can be found with `pyflakes`. I just ran it on the rubi submodule and there were a lot.

[2017-09-09 02:00] asmeurer opened #13283 "Fix all pyflakes errors in the rubi module"
The rubi module has a lot of code. If you run pyflakes on it, it reports a *lot* of errors, including undefined names.

pyflakes should be giving no errors anywhere in the rubi module. That way we can be sure there aren't basic logical errors.

[2017-09-09 02:01] Upabjojr commented on #13280
RUBI still needs another GSoC to complete.

[2017-09-09 02:21] asmeurer commented on #13280
Well one way or another the code is sitting in master. So it needs to have a certain level of stability. Probably since that will take a while to achieve we should put some warnings on it that it isn't ready and can hang and/or produce wrong results (please open issues for those things you found above by the way, this issue relates to the Risch algorithm).

[2017-09-09 02:23] asmeurer commented on #13280
By the way, I've created labels for Risch and Rubi to help organize the issue tracker.

[2017-09-09 02:28] asmeurer commented on #13252
Ran git bisect. Lots of skipped commits because of syntax errors or other bugs that prevented plot from working:

There are only 'skip'ped commits left to test.
The first bad commit could be any of:
7b82e8dac8af94652d7a00f8e97463b45b153341
dead1d9bf4474c49d61b54a3aa0e4845231f2b38
32a89142b7e242255a4c6e6bb949f1ccaf81673f
88fd46ac3a87833c80cbb88577c278a05bc065bf
c62cb0e3fe06aa217be13c57009f322785c3d

[2017-09-09 02:29] asmeurer commented on #13252
At any rate, looks like the bug was introduced by https://github.com/sympy/sympy/pull/12108 CC @SagarB-97

[2017-09-09 02:30] Upabjojr commented on #13280
That's not an issue, it doesn't load unless you are using Python 3.6, and even then, it takes ages to load.

[2017-09-09 02:32] asmeurer commented on #13252
Here is the problem

[code]

The parenthesization isn't correct. The final term, `(X1 - X2 - 12)**2/120 + (X1 + X2 - 5)**2/30` should have parentheses around it.

[2017-09-09 02:32] asmeurer commented on #13280
The fact that it takes ages to load is one of the reasons it needs a warning.

[2017-09-09 02:33] asmeurer commented on #13280
And even if it's practically unusable, people will still see it and try to use it, so we should have it documented that it isn't ready, and probably also a `warnings.warn` when someone tries to load it.

[2017-09-09 02:51] #13278 closed

[2017-09-09 11:55] alirizwi commented on #13283
I want to work on this issue.There are around 9717 errors on running pyflakes on rubi module,mostly module imported but unused, undefined names, etc..

[2017-09-09 17:03] ylemkimon opened #13288 "Improve simplification"
**simplify() :**
- [x] ~fix factor() of expression with float coefficients: 7 issues [#13198]~
- [x] call cancel again: #10347 [#13264]
- [x] add rationalize flag [#13264]
- [ ] add LambertW function simplification: #5080
- [ ] add `extension=True` to polynomial operations like `cancel()`: #11500, #5428
Polynomial operations on algebraic number domain is slow and causes many errors like NotAlgebra

[2017-09-09 18:14] smichr opened #13290 "solveset returns FiniteSet for periodic Relational"
[code]

This should probably return the union of imageset intervals (if such a thing is possible).

A problem with this result is that representation of Booleans is not correct:

[code]

This is missing the values for x = -n*pi where n is a nonnegative integer.

[2017-09-09 18:45] #13205 closed

[2017-09-09 18:45] #13207 closed

[2017-09-09 22:46] Piruzzolo opened #13291 "Use Mathematica complexity function in symplify()"
Here is MMA complexity function (see [here](https://reference.wolfram.com/language/ref/ComplexityFunction.html?q=ComplexityFunction) at "Properties & Relations")

[code]
It has some advantages and gives more control than the measure currently used by `simplify()`, I think.
Do you think it is worth to implement it (or an improved version) as the default measure? Maybe using the Symengine backend?

[2017-09-09 23:38] #9183 closed

[2017-09-09 23:38] #10095 closed

[2017-09-09 23:47] #10347 closed

[2017-09-10 03:23] #13179 closed

[2017-09-10 05:08] chubukov opened #13292 "symbols fails on large array argument"
[code]
throws

I don't have any particular need to use an array over a list, just ran into this by accident.

[2017-09-10 11:54] alirizwi commented on #13283
@asmeurer In sympy/integrals/rubi/utility_function.py, few functions like CoprimeQ, LE and PureFunctionOfCothQ are called but not defined. I can add PureFunctionOfCothQ function from http://www.apmaths.uwo.ca/~arich/IntegrationRules/PortableDocumentFiles/Integration%20utility%20functions.pdf , but what about the other functions?

[2017-09-10 13:47] #13292 closed

[2017-09-10 18:01] mfarrokh commented on #13252
Dear  asmeurer:

Thanks for your reply.
I did not get the problem. I added the parentheses around the last term but it did not affect.

[2017-09-10 18:51] parsoyaarihant commented on #13283
@alirizwi , you can add those functions in `utility_function.py` file: https://github.com/sympy/sympy/blob/master/sympy/integrals/rubi/utility_function.py

[2017-09-11 03:29] #10124 closed

[2017-09-11 05:18] Yathartha22 commented on #12639
@smichr I would like to take this issue.
I guess [this](http://docs.sympy.org/latest/_modules/sympy/core/basic.html#Basic.rewrite) will the starting point.
Could you provide me with some headstarts?

[2017-09-11 06:37] BrandonNav opened #13297 "NoneType error when attempting to manualintegrate trigonometric expression"
I am attempting to use manualintegrate on expressions in the form of:

`manualintegrate.manualintegrate(sin(x)*cos(x)**n, x)`

I have found that when n > 4 and is odd that I get either:

- TypeError: 'NoneType' object is not iterable
- or ValueError: Cannot evaluate rule None

I seem to get the TypeError when I first try n=5 and the ValueError on subsequent calls

Tracebacks can be found at: [http

[2017-09-11 07:42] cbm755 opened #13298 "<Expr>.is_positive can fail with InconsistentAssumptions"
Consider `z = (cbrt(3) + 3**(S(5)/6)*I)**6*LambertW(1) + 1`, a real, positive number.  Sympy sometimes concludes `.is_positive` is True and simulateously False.

To reproduce, run this a few times (doesn't fail every time):
`python3 -c "from sympy import *; z = (cbrt(3) + 3**(S(5)/6)*I)**6*LambertW(1) + 1; print(z.is_positive)"`

[code]
Note it is both positive and not positive...

The key feature

[2017-09-11 19:32] axkr commented on #13241
I had the same problems importing the Rubi rules in the Symja project.

In the end I programmed a converter which creates internal Java rule files (IntRules...java files) from the Rubi rules:
https://github.com/axkr/symja_android_library/tree/master/symja_android_library/matheclipse-core/src/main/java/org/matheclipse/core/integrate/rubi45

The same technic is used for other rules for functions lik

[2017-09-12 03:24] smichr commented on #12639
Have a look at ITE's rewrite method to convert ITE to Piecewise -- just search boolalg.py for Piecewise and you will find it.

[2017-09-12 20:05] Wrzlprmft opened #13303 "Using evaluate context manager inside try clause messes things up"
I proceed straight to the minimal example:

[code]

This causes some obscure error in the last line that is gone when the try–except statement is removed.
The error is also gone if `evaluate` is moved out of the try clause.
While this should arguably done anyway in most cases, the error indicates that something more is going wrong.

[2017-09-13 10:05] tbennun opened #13305 "match() fails with Min/Max and exclude"
When trying to match a wildcard with a multivariate function such as Min and Max, if one of the wildcards exclude a symbol matching fails. See the following example:

[code]

Tested on master as well as 1.1.

[2017-09-13 11:55] schymans commented on #13153
This would be awesome. Plus, would it be possible to make `scale_factor` optional in a quantity? Then one could use `Quantity()` to define physical variables with information on the dimension and dimensional dependencies, but not necessarily prescribing a scale factor that affects assumptions attached to that quantity. See also [PR#13268](https://github.com/sympy/sympy/pull/13268).

[2017-09-13 20:17] RaenonX opened #13306 "Two type of solve(s) with same equation?"
I ran the 2 codes below on Sympy live, the only difference is one is list and the other one is not. Why?

1. (Has solve)
[code]
2. (No solve)
[code]

[2017-09-14 08:15] schymans commented on #13269
Thanks! I created a PR: https://github.com/sympy/sympy/pull/13310
I don't even see a point of adding a flag for it, as one should not provide `abbrev` to a `Quantity` if one does not want it to be used.

[2017-09-14 11:23] gyulat opened #13311 "Does not simplify a*x+a*y+z to a*(x+y)+z"
Please consider the following example

[code]

It gives
`  a*x + a*y + z`
instead of
`  a*(x+y)+z`
even if the number of operations is lower for a*(x+y)+z :

[code]

[code]

[2017-09-14 12:22] fredrik-johansson opened #13312 "SymPy does not evaluate integrals of exponentials with symbolic parameter and limit"
This ought to be easy:

    (a, b, t)

    Integral(exp(-a*t), (t, b, oo))

[2017-09-14 12:55] jksuom commented on #13312
Apparently, the limit should be implemented:
[code]

[2017-09-14 15:07] canavandl opened #13313 "Request: serve SymPy documentation via https"
Currently the entire SymPy site is served via http. It would be nice for the security of users to serve the site via https.

[2017-09-14 18:47] skirpichev commented on #13298
I can reproduce this on py3.6 only.  And for <=v1.1 - there was just a wrong answer (False).

Instead of testing .\_prec for real/imag parts, you could use "strict" option of evalf, like I did [here](diofant/diofant#500).  One warning: sometimes with strict=True - evalf still produce imaginary part with \_prec=1, lower than requested precision (and no PrecisionExhausted raised).  I believe, this i

[2017-09-14 19:43] asmeurer commented on #13298
Shouldn't it use the minimum of the precs when multiplying?

[2017-09-14 19:50] wsdookadr commented on #13312
Isn't this one 0 for positive `a` and oo for negative `a`?
Individually, each of those cases work. But without restricting a to
positive/negative, the result should be a piecewise function.

[2017-09-14 19:59] cbm755 commented on #13298
@skirpichev thanks!

@asmeurer I certainly think so, but lots of places in SymPy try to magically upscale low-precision Floats to higher-precision, as if that were actually possible to do.  (I think I could give more evidence of this by looking back through #12192 commits).

[2017-09-14 20:07] cbm755 opened #13315 "Improve rank calculation of numerical matrices"
1.  Define "numerical matrix" as one with only Float and Integer entries.
2.  If we have a numerical matrix, we should compute rank using the SVD (which should be computed using mpmath).
3.  We then decide the numerical rank by thresholding the SVs using a tolerance.
4.  That tolerance should be based on the minimum precision in the numerical matrix.
5.  The tolerance should also be a optional kwa

[2017-09-14 20:10] cbm755 commented on #13315
`_find_reasonable_pivots` may also be useful.

[2017-09-15 06:04] skirpichev commented on #13312
And 1 for a == 0...

This issue was fixed in the Diofant, but parametric limits are handled not quite well.  See diofant/diofant#425.  E.g., ``limit(exp(-a*t), t, oo)`` should be ``Piecewise[(1, Eq(a, 0)), (exp(-sign(a)*oo), True))``.

[2017-09-15 06:53] jksuom commented on #13312
Maybe `re(a)` should be considered if `a` is not known to be real. And the case of purely imaginary `a`

[2017-09-15 09:01] awa5114 opened #13317 "Add description to symbols class"
I think this would be an important and east addition to the symbols class and comes from the following stackexchange thread https://stackoverflow.com/questions/46021227/possible-to-add-descriptions-to-symbols-in-sympy.

The idea is to add a description attribute to the Symbol class as shown in the link above to allow user to give physical description of each symbol. The implementation shown in the

[2017-09-15 14:50] #13250 closed

[2017-09-15 16:17] wsdookadr commented on #13312
@jksuom
I am going to quote [a comment](https://github.com/sympy/sympy/blob/94a24240ef3b6016afe8e044f62a5ef99f5fc491/sympy/series/gruntz.py#L508) from gruntz.py

This is one hint that the current implementation is intended for real functions.
Another one would be that the paper itself(just from skimming through it)
seems to deal with real-valued functions of real variables.

[2017-09-15 16:43] jksuom commented on #13312
Gruntz's algorithm is based on the theory of Hardy fields whose elements are equivalence classes of real functions defined and not changing sign on real intervals `(a, oo)`. In SymPy, some effort is made to extend this to complex functions but with limited success. Another problem is that the theory cannot handle functions of variable sign.

[2017-09-15 17:19] wsdookadr commented on #13312
@jksuom The part about handling variable sign could be approached by first identifying all constants, enumerating all their possible sign combinations, then handling each sign combination with the existing logic, and at the end, building a piecewise function with one branch per sign combination. In our case, there would actually be three such branches. Would this approach be useful?

[2017-09-15 17:25] wsdookadr commented on #13315
@cbm755 Doesn't this better fit numpy than sympy?

[2017-09-15 17:48] skirpichev commented on #13312
This will not work :)  Before invocation of the algorithm - you can't know which combination of constants you would like to test.   In this case - it's just ``a``.  But for another one-parametric function it could be a more generic expression like ``a - 1`` or ``a**2 - 1``.

Yet you could, in principle, catch mentioned above exceptions (like "Result depends on the sign of ...") - and then re-run a

[2017-09-15 18:05] wsdookadr commented on #13312
@skirpichev Ok, but then how about a change of variables `θ = a-1` and `φ = a**2 - 1`. Then do what we talked about above with the enumeration(but with expressions with `θ,φ`). And at the end, solve `φ > 0` and `φ < 0` in `a` and find out what the branches will be (for example `φ` will create two branches, a>1 and a<1).

[2017-09-15 18:22] skirpichev commented on #13312
Yeah, place assumptions on symbol θ and substitute a=θ+1 back into expression...  That could solve 2)-nd issue, more technical one.

[2017-09-15 19:55] asmeurer commented on #13312
The error from Gruntz itself is

[code]

This "result depends on sign(expr)" error comes up a lot. Shouldn't it be possible to split this into a 3-piecewise expression for the different values of sign(expr)?

[2017-09-15 20:06] siefkenj commented on #13315
I would like to see a `FloatMatrix` that automatically sets the error tolerance for row reduction, etc. built into sympy. Technically, one should use numpy for such an application, but the number of people who get unexpected results is too large to ignore.  Sympy matrices should definitely "just work".

[2017-09-15 20:42] skirpichev commented on #13312
In this case you have just one special value of the parameter, a=0.  In general, there may be more.  How many?  Can you prove that there will be only a finite number of such special values?  Say, if we just extend exp-log functions of one variable, x, by adding parameter a.

[2017-09-15 20:48] asmeurer commented on #13312
You don't need to solve for a in the cases. The Piecewise can just be `sign(expr) > 0`, `sign(expr) < 0`, `sign(expr) == 0`. Maybe I'm missing the point. Can you give an example where there would be a problem?

[2017-09-15 21:04] wsdookadr commented on #13312
@skirpichev

Well, let's say we were trying to determine `sign(sin(a))`. this wobbles between -1 and 1 an infinite number of times, and it has zeros for `a=k*pi` (with k being an integer) , so an infinite number of such special values. It does help that it's periodic though, and we can describe with precision when it's positive/negative/zero.

There may be more complicated cases like that though.

[2017-09-15 21:08] cbm755 commented on #13315
Numpy is single, double and extended precision only.  This is certainly what you want for number crunching / scientific computing / etc.  But there are use cases for arbitrary precision Floats (where Numpy is not appropriate).  Teaching comes to mind, so does executing an algorithm in higher precision to help understand or analyze that algorithm.

My view is if Sympy allows the creation of Floats

[2017-09-15 21:32] skirpichev commented on #13312
Yes.  Of course, no periodicity in a general case.

[2017-09-15 21:38] asmeurer commented on #13312
For `limit(exp(sin(a)*x), x, oo)` what's wrong with `Piecewise((oo, sin(a) > 0), (0, sin(a) < 0), (1, Eq(sin(a), 0))`?

Simplifying conditionals is always nice if we can do it, but it's not required, and it's a separate problem from limits.

[2017-09-16 01:11] smichr commented on #13311
For this, the `collect` function is better at doing what your want. `collect(a*x +a*y +x*y, a)`  should collect the terms that have `a`.

[2017-09-16 06:29] gyulat commented on #13311
Thank you for your comment. In my problem I tried to simplify a complicated expression containing many such sums automatically, i. e. not knowing which factors to collect in advance.

Code snippet:

[code]

There are many complicated sums in of4 which I would like to simplify automatically.

[2017-09-16 10:55] wsdookadr commented on #13312
On a different note, let's look at what [Maxima](http://maxima.sourceforge.net/) says about this:

[code]

So the same thing, Maxima which has another implementation of Gruntz's algorithm raises the same exception.

[2017-09-16 15:28] skirpichev commented on #13312
Nothing. But lets take a random exp-log example.  I'll make this with Diofant.

[code]
We can substitute a positive symbol to examine one branch of our future Piecewise expression, but...
[code]
And only after second substitution we got answer:
[code]

As you see, on practice we don't have an analytic expression of special values from beginning, as in your example.  Also, this time we discover "sp

[2017-09-16 18:57] TimFH opened #13319 "MultipleInstanceError with init_session from notebook or qtconsole"
Running sympy.init_session() from a jupyter notebook or qtconsole gives the exception:

sympy.init_session(ipython=False) works (although it starts a subshell in the same notebook cell, with its own "In: " input box, so the if anything is entered into the other cells of the notebook, they wait for the init_session cell to terminate, which it does not do with either "quit", "quit()" or "^D").

In a

[2017-09-16 20:19] BananaOrbit opened #13320 "plotting.plot.plot does not plot Piecewise function, error in experimental_lambdify.py"
The following python 3.6.2 code causes the error

TypeError: '>=' not supported between instances of 'complex' and 'float'

 in the experimental_lambdify module.

[code]

In this code I have defined a Piecewise function to compute the Federal Income Tax and attempted to plot the result.  I know the piecewise function is giving me correct values because I have verified it against other tax calculat

[2017-09-17 17:52] Trave11er commented on #13275
Hello! I would like to work on this issue.

[2017-09-17 21:52] #12639 closed

[2017-09-17 22:41] cbm755 commented on #13275
Sure, go for it and send us a PR, see https://github.com/sympy/sympy/wiki/Development-workflow

[2017-09-18 00:10] asmeurer commented on #13312
Let's try to implement the Piecewise logic, and see if it leads to infinite recursion. At worst may need to limit the depth of the Piecewise. And probably also some cycle detection.

I also noticed that things can be dependent on one another. If you dig in the code, it depends on `sign(a)`, `-sign(a)`, `sign(-a - 1)`, `sign(1/a)`, and `sign((a - 1)/a)`, which are obviously not all independent. So

[2017-09-18 00:16] ylemkimon commented on #13311
This is because `simplify` uses `factor_terms` and it factorizes the whole expression(as its name suggests). I'm not sure there is an efficient algorithm to factor only part of expression, but `simplify` should do this.

[2017-09-18 04:59] asmeurer commented on #13311
If you search the issues there are several issues about partial factorization. Also related is https://github.com/sympy/sympy/pull/11586

[2017-09-18 13:18] chubukov opened #13321 "autowrap sparse matrix with cython"
I started off by wanting to see if sympy does something clever when generating C code for sparse matrices (something like `memset`  to set zeros and then only setting the relevant elements).

The answer to that seems to be no, but instead what I ran into was I think a simple bug.

[code]
Threw an error when compiling. See the generated C code -- `autofunc` is being declared as a `double` but treat

[2017-09-18 19:57] Vaibhavdixit02 commented on #13263
The second equation is returning no result because mathematically f'(x) = -4 and f'''(x) = 7 don't make sense.

[2017-09-18 22:47] jancellor opened #13322 "linsolve returns incorrect solutions for nonlinear equations"
For example,
`linsolve([x + y - 1, x ** 2 + y - 3], [x, y])`
return the incorrect solution `{(-2, 3)}`. I expect it to raise an error because not all equations are linear.

[2017-09-18 23:18] asmeurer opened #13323 "Weird behavior with Wild replace"
Originally reported at https://github.com/JuliaPy/SymPy.jl/issues/186

[code]

The desire was to get `b*g + f`. `subs` does this just fine, but I think the replace call should also work. The result is correct (if you replace `g` with `phrase` you get the original expression back), but why did it introduce a power?

[2017-09-18 23:35] smichr commented on #13323
[code]
It seems like it has something to do with the expr that is matching. In the docstring it shows a function with wild arg and then a new expression with the wild arg. Here it seems like you are encountering an Add with a Mul pattern. Just my initial hunch which led to the experimental result that I give above where you get the preferred answer.

[2017-09-19 04:51] jankoslavic commented on #13263
@Vaibhavdixit02 thanks for checking it out. my real problem is this:

[2017-09-19 12:09] erelsgl opened #13324 "Conditional expectation problem"
I tried to calculate the conditional expectation of a random variable:

    from sympy.stats import *
    v = Uniform("v",0,1)
    E(v)

this returns correctly 1/2, but then:

    E(v, v>1/2)

returns NaN. I also tried:

    E(v, where(v > 1/2))

it returned 1/2, which is incorrect (it should be 3/4).

I asked in Stack Overflow, and was told that:

    E(v, v>1/2, evaluate=False)

shows that SymPy

[2017-09-19 13:19] jksuom commented on #13324
It looks like the conditional distribution function is not normalized properly on [this line](https://github.com/sympy/sympy/blob/master/sympy/stats/crv.py#L344). The integral in the denominator should probably be explicitly computed by `.doit()`.

[2017-09-19 14:26] ylemkimon opened #13326 "Lambdify does not respect modules"
Lambda function string is created with following `Printer` in `lamdify()` if `printer=None`(default):
https://github.com/sympy/sympy/blob/3f6bed2a101836db26ed0d7ce19be4e97041dd12/sympy/utilities/lambdify.py#L369-L380

As a result, the first match in `modules` is selected as Printer, and the order of `modules` and other modules are ignored.
For example, if `modules = ["math", "mpmath", "sympy"]`(de

[2017-09-19 14:31] ylemkimon commented on #13168
Caused by #13326

[2017-09-19 16:40] #6153 closed

[2017-09-19 16:40] #6341 closed

[2017-09-19 16:40] #6658 closed

[2017-09-19 16:40] #7135 closed

[2017-09-19 16:40] #8156 closed

[2017-09-19 16:40] #9785 closed

[2017-09-19 16:40] #10101 closed

[2017-09-19 16:40] #11548 closed

[2017-09-20 07:29] mrajancsr commented on #13061
I am getting the same issue.  Can someone provide a fix for this?

[2017-09-20 07:47] dilawar commented on #13061
For me, using `pypy` instead of python fixed it.

[2017-09-20 17:52] jus1tin commented on #6384
This seems like a good way to start contributing and get to know the sympy code. Is this still something that is needed? I noticed the issue is a little old.

[2017-09-20 19:06] ethankward opened #13330 "Matrix .subs does not properly handle generators"
It seems that only the first element of the matrix is substituted when using a generator as an argument;

    3*t

    Matrix([
    [t],
    [y],
    [z]])

    Matrix([
    [t],
    [t],
    [t]])

[2017-09-20 19:10] asmeurer commented on #6384
I'm going to close this issue because it's too open ended. Google CodeIn is long over.

You are still free to open pull requests refactoring the code. I'm only closing the issue because there's no clear goal that would indicate that it is completed. Code cleanups in general are something we can always do and don't need a broad issue for.

[2017-09-20 19:10] #6384 closed

[2017-09-20 20:00] #13283 closed

[2017-09-20 20:21] dniku opened #13332 "limit(): AttributeError: 'NoneType' object has no attribute 'rewrite'"
[code]

[code]

Sympy version is 1.1.1.

[2017-09-20 20:33] jus1tin commented on #6384
I guess you're right! I'll find something else usefull to do. I have a question though. I cloned the repository and ran the tests, other than that I didn't do anything yet but for some reason there is are a couple of failing tests and my terminal is telling me I shouldn't commit. I didn't change anything though, some of the failures seem to be caused by python2/python3 issues (integer division) bu

[2017-09-21 09:56] ttxtea opened #13333 "New problem with substitution and paranthesis handling"
Something has changed in the way substitutions work in sympy version 1.1.1. on python3.4.2

[code]

with sympy 1.0 on python2.7.9 this yielded

[code]

The update seems to have wronged something.

[2017-09-21 13:44] jksuom commented on #13333
It looks like SymPy is doing exactly what is prescibed:
[code]
Before substitution, `S('R*F')` is a `Mul` expression with two symbols as arguments. The names of the symbols are Python strings and the substitution will replace them with new (long) strings. This should probably not be regarded as an error.

The values in the dictionary, `'8314.4*mjoule/(mole*kelvin)'` and `'96484.6*(coulomb/mole)'`,

[2017-09-21 14:02] #11685 closed

[2017-09-21 14:02] ttxtea commented on #13333
But the division is wrong, isn't it??

[2017-09-21 14:18] ttxtea commented on #13333
Sorry for the messy example with the "Nernst equation". Maybe this is clearer

[code]
but
[code]

[2017-09-22 05:55] #13158 closed

[2017-09-22 07:15] #13297 closed

[2017-09-22 17:59] Upabjojr opened #13336 "Deprecations in sympy.physics.units"
Dimensional dependencies are now part of `DimensionSystem`.

All related methods inside `Dimension` have been deprecated in favor of the methods in `DimensionSystem`.

[2017-09-23 06:57] gxyd commented on #11668
**Announcement:** This issue is still _open,_ you can work on it and send in a PR.

[2017-09-23 12:39] pebz opened #13338 "Very large Polynomials multiplication"
I need to multiply 2 very large multivariate polynomials P and Q.

They have 16 variables x1,...x16 and around 2^30 monoms.

We can write P = sum(i=0..2^32 pi*x1^di1*x2*di2...x16*di16

All the coefficients pi are less than 64.
All the powers dij are less than 32.

The naive polynomial multiplication would do this in O(n^2) which would clearly be difficult to achieve without large computation resou

[2017-09-23 14:31] OppenheimerAndTheMartians commented on #11668
I'm sorry, I've been busy with the job search for the past several months. It's taken me far longer than I've ever dreamed, so I haven't been working on the open source projects I want to get involved with.

 

I'll see if I can get around to it soon.

 

Sent: Friday, September 22, 2017 at 11:58 PM
From: "Gaurav Dhingra" <notifications@github.com>
To: sympy/sympy <sympy@noreply.github.com>
Cc: "I

[2017-09-23 18:08] normalhuman opened #13340 "Eigenvalues of a 3 by 3 symbolic matrix are not found by .eigenvals"
[code]

throws

Since the characteristic polynomial is cubic, it can be solved explicitly:

[code]

returns three roots of the characteristic polynomial. I do not understand why these are not found by `roots(M.charpoly())` which returns `{}` (hence the failure of `eigenvals` method). Declaring x as a real symbol does not help.

Based on Stack Overflow post [Computation of symbolic eigenvalues with

[2017-09-23 20:37] smichr opened #13341 "regression in master (Indexed defines is_Symbol to be True)"
Commits 2982de46096e8cb774a89ca6c85a480b7de049e4 and a105d0ee84fd5bb2fc93bd9aa87900e8b2999da8 introduced regressions in terms of what is considered to be a Symbol by defining Indexed to have `is_Symbol = True`. The former regression was correccted in bc580c3a5e5fd947317cbc3f3b1e873f252bb79e, but the latter regression shows up in trying to solve the following equation:

[code]

There are 3 places i

[2017-09-23 20:41] #12411 closed

[2017-09-24 08:43] ethankward commented on #13330
This is because the generator can only be "used" once to apply the substitution, for example:

    [(1, 4), (2, 5), (3, 6)]

    []

The matrix subs method says that it "should mirror core.basic.subs", which has additional checks to convert possible generators to lists before applying the substitutions. It seems like Matrix should use a common .subs method instead of defining its own, if that's po

[2017-09-24 15:47] normalhuman commented on #13324
There are more issues than that, as the output of `Executing E(v, v > 1/2, evaluate=False)` shows:

`Integral(Piecewise((v/Integral(1, (v, 0.5, inf)), (0 <= v) & (v <= 1)), (nan, True)), (v, 0.5, inf))`

1.  We see `Integral(1, (v, 0.5, inf))` which is infinity. So if it gets evaluated, the result of division is 0. Instead of 1, the integral should have a piecewise function there.

2. The Piecewis

[2017-09-25 03:54] Eight1911 commented on #13303
Just out of curiosity, how did you manage to find this bug? I'm really impressed.

[2017-09-25 05:00] gxyd opened #13344 "Builds on Travis that run without NumPy installed"
Refer to [comment](https://github.com/sympy/sympy/pull/13145#issuecomment-323277791) by @asmeurer on #13145

[2017-09-25 05:16] ylemkimon commented on #13344
Maybe a duplicate of #13148?

[2017-09-25 05:18] gxyd commented on #13344
Yes, this is a duplicate. Thanks @ylemkimon . I am closing this.

[2017-09-25 05:18] #13344 closed

[2017-09-25 05:37] Wrzlprmft commented on #13303
@Eight1911: [I subscribed to Stack Overflow’s SymPy tag.](https://stackoverflow.com/q/46180266/2127008)

[2017-09-25 13:37] smichr opened #13347 "incompatible use of binary symbols is allowed in Relationals"
While `And(Eq(x, True), x)`  is ok (and should reduce to `x`, writing `And(x < 1, x)` should be disallowed if the args of And should be Booleans since x, being a Boolean in this context, cannot be used in an expression with a real value: neither `x < 1` nor `x + 1`.

Care needs to be taken, however, to not disallow `Eq(x, 1)` since without a context that dictates that x is binary, this will permit

[2017-09-25 13:39] smichr opened #13348 "Eq(True, 1)` doesn't evaluate to False"
While it makes sense that `Eq(x, 1)` doesn't evaluate, I'm not sure that not evaluating `Eq` when the arguments are literals makes sense.

[2017-09-25 13:42] smichr opened #13349 "solve(Eq(x, True)) raises error"
[code]

[2017-09-25 13:47] smichr opened #13350 "derivative of Boolean needs attention"
This is [discussed here](https://groups.google.com/forum/#!topic/sympy/WqQIp8oDbVk).

[2017-09-26 02:38] #13168 closed

[2017-09-26 13:00] #11061 closed

[2017-09-26 13:02] #13105 closed

[2017-09-26 22:57] #13148 closed

[2017-09-27 02:24] ylemkimon commented on #8972
[code]

and

[code]

which are introduced in #13104, fails on PyPy. @valglad

[2017-09-27 04:33] moorepants opened #13354 "Physics vectors are raising printing errors"
In the Jupyter notebook:
[code]

gives:

[code]

[2017-09-27 06:13] asmeurer opened #13355 "Test failures in master"
See https://travis-ci.org/sympy/sympy/builds/280268429.

The docs build one you can ignore (that's https://github.com/sympy/sympy/pull/13352, which should be fixed in the next build). One seems to be a slowdown, which should be investigated. The other seem symengine related. CC @isuruf

I'm unclear if the changes from https://github.com/sympy/sympy/pull/13237 caused any of these, but we should inv

[2017-09-27 06:19] ylemkimon commented on #13355
I think it's SymEngine issue(tests fail after SymEngine version up), and opened an issue at https://github.com/symengine/symengine/issues/1331.

[2017-09-27 06:19] asmeurer commented on #13355
@gxyd have you been restarting builds, and noticed these failures before?

In general, we should avoid just restarting builds until they work, because you are just masking the failures. Instead, report the failures and try to fix them. And especially be careful that timeouts aren't *caused* by the slowdowns from the PR in question.

[2017-09-27 06:22] asmeurer commented on #13355
@ylemkimon OK, how about this timeout https://travis-ci.org/sympy/sympy/jobs/280268440? Has anyone seen it before (in `test_perm_groups.py`)?

I don't think it's also SymEngine related (SymEngine only runs on the two optional dependency builds, right?).

[2017-09-27 06:22] isuruf commented on #13355
I've just pulled the broken symengine packages.

[2017-09-27 06:24] asmeurer commented on #13355
@isuruf thanks. My guess is that the slowdown test will be intermittent (i.e., hard to debug), since it doesn't seem to be related to the most recent PR merged. I wonder if we should run the tests with `-v` in Travis to make it easier to see which test causes slowdowns when this happens.

[2017-09-27 06:31] ylemkimon commented on #13355
It seems to be `test_sylow_subgroup()` of `sympy/combinatorics/tests/test_perm_groups.py`, however, I think it is just random timeout on Travis.

[2017-09-27 06:32] gxyd commented on #13355
@asmeurer the PR I just merged i.e. #13237 had passed all the tests, so I merged it.

Also, I had re-started one test for PR #12517 yesterday (it was timing out just one), so I restarted it and it passed the test and then I merged it.

[2017-09-27 06:36] ylemkimon commented on #13355
Maybe we should implement timeout in `.sympy.utilities.runtests` or `/bin/test_traivs.sh`, which prints traceback.

[2017-09-27 08:17] MarcoMene opened #13356 "How do I get confidence intervals from a Random Variable"
I have a Continuous Random Variable, with a given pdf, for example:
 Z = Normal('Z', 0, 1)
I want to have confidence intervals or, more generally, quantiles from this distribution.
How can I get them?
I see that in a previous version of the library there was a "distribution.confidence" method, but it has been deprecated. What's the new way to deal with this?

[2017-09-27 08:28] asmeurer commented on #13355
@gxyd do you recall if the timeout was the same one as here?

In general, be careful about restarting timed out tests, because sometimes the PR does indeed make things slower, and even if it doesn't (like those two obviously couldn't have affected performance), it is something that needs to be fixed if it's recurring.

[2017-09-27 08:30] asmeurer commented on #13355
Perhaps a --timeout of 595 or 590 seconds on Travis could be useful. It isn't foolproof because if the code is in a C function, such as most Python builtins, it can't be interrupted until it finishes.

[2017-09-27 09:51] gxyd commented on #13355
I think (but I am not sure) it was the usual error, i.e.
[code]

I'll try to take extra care of **any** time-out restart in the future.

[2017-09-27 10:15] valglad commented on #8972
@ylemkimon The answer in the second case is still correct. The block representatives seem to have changed, but it's not a problem. I suspect the first error is for the same reason.

Either I could change how it's tested so that it's more general, or add a couple of lines to `minimal_block` to rewrite a block system after it's found so that the representative is always minimal. I suppose I could do

[2017-09-27 15:50] MarcoMene commented on #13356
Also.. to define custom pdfs and thus continuous random variables, I see I've got to use your functions like sqrt, exp etc...
If I have a function already defined in "standard python", so using np.sqrt and np.exp, can I wrap it into your format "easily" (do you have a wrap function?) and use it to build a custom pdf?

[2017-09-27 18:17] asmeurer commented on #13355
When you see that, make a note of what test file it stopped on. If it seems potentially related to the PR, it could be a slowdown. If not, there's likely a random slowdown in master.

[2017-09-27 19:48] normalhuman opened #13359 "evalf with subs argument incorrectly evaluates expressions with floor"
[code]
returns `Float('16.0', precision=1)` instead of 20. (Python 3.6.1, SymPy 1.1.1). It seems that incorrect `precision=1` attribute is somehow attached to the result of `floor(0.5)`, which is why 20 is then rounded to the nearest power of 2.

Considering that `(floor(x)+20).subs({x:0.5}).evalf()` works correctly, perhaps a fix would be to make `expr.evalf(subs=dict)` pass its subs argument to

[2017-09-28 03:58] samfdwang commented on #12271
@proy87 how about use Fourier Transformation to make those type of nonlinear equation to linear one

[2017-09-28 04:17] samfdwang commented on #12271
There's no general theory to guarantee the uniqueness of such kind of non-linear DE.

[2017-09-28 04:36] gxyd commented on #13355
Okay, I'll report it by taking a screenshot of it.

[2017-09-28 05:01] samfdwang commented on #12271
This is Riccati type equations after making a transform $f=y'$, then $f'=1+f^2$,

[2017-09-28 08:07] ylemkimon commented on #13111
Should `assert x.func is type` in tests be changed?

[2017-09-28 09:37] #13324 closed

[2017-09-28 13:01] gxyd commented on #12899
Fixed by #12971 . Closing this issue.

[2017-09-28 13:01] #12899 closed

[2017-09-28 14:21] knuesel opened #13365 "Unexpected truncation to integer when using evalf"
Calling `Sum(1.9**k/factorial(k), (k, 0, oo)).evalf()` returns the value for e^1 instead of e^1.9. Calling `Sum(x**k/factorial(k), (k, 0, oo)).doit().subs(x,1.9)` however gives the expected result.

[2017-09-28 16:29] jksuom commented on #13365
SymPy evaluates sums of hypergeometric series by using integer arithmetic. All numbers are truncated to integers by `MPZ` ([hypsum](https://github.com/sympy/sympy/blob/master/sympy/core/evalf.py#L1111)). That will also affect factors like `1.9`:

[code]
To make use of non-integer factors the truncation should occur after the operation, not before:

            term = MPZ(term*func1(k - 1))

[2017-09-28 17:16] asmeurer commented on #13111
The ones in tears should be left alone. In those cases, we do want to check for the exact type.

[2017-09-28 18:27] jgukelberger commented on #12573
I just ran into essentially the same issue when upgrading from sympy 1.0:
[code]
This can hardly be intended behavior, can it? In particular since earlier versions routinely evaluated the above expressions to `True`. Even `u.kg == 1000*u.g` used to work.

[2017-09-29 00:20] ethankward commented on #13340
The initial problem occurs on line 1005 of polys.polyroots.py, since to_rational_coeffs fails. I do not know why it is necessary to have rational coefficients to solve a cubic.

[2017-09-29 06:20] jksuom commented on #13340
It seems to me that the treatment of polynomials with `EX` domain has not been completed. Transforming the equation to one with rational coefficients will succeed only rarely. It should be possible to continue with `_try_heuristics` in case the coefficients cannot be made rational.

[2017-09-29 10:27] #12565 closed

[2017-09-29 13:22] smichr commented on #12126
Some answers are give at [stackoverflow](https://stackoverflow.com/questions/42024034/evaluate-sympy-boolean-expression-in-python/46489689#46489689).

Rather than compute this via eval, a Lambda of the rule can be directly evaluated:

[code]

[2017-09-29 16:35] Upabjojr commented on #12573
The reason for this new behaviour is quite simple: `gram` is now a different object than `kilogram`.

The previous units did only define one unit for each dimension, all others were defined simply as multiplications (e.g. `kilometer = 1000*meter`). Now `kilometer` and `meter` are two different symbols, and `Eq` only checks obvious equalities (it's a bit complicated to make it check).

The fact tha

[2017-09-29 17:30] normalhuman commented on #13359
The issue is not localized to floor being zero, although that's the most prominent case. Consider the following:
[code]
returns "Float('1.1113', precision=11)"  while the expected is something like `Float('1.1111111111111111', precision=53)`.  Notice that floor evaluates to 1 here.

Without srepr, the output of
[code]
prints as 1.1.

[2017-09-29 18:25] kangwonlee commented on #13320
I also noticed similar problem.  Following code works on a Windows PC but not on a macOS.  `sympy` version = 1.0.

[2017-09-29 19:15] asmeurer opened #13370 "Define Basic.__lt__ etc. to raise TypeError on incompatible types"
As pointed out by @smichr in Gitter, in Python 2, we get

[code]

That's because in Python 2, the default comparisons return some arbitrary (but consistent) ordering. In Python 3, we get

[code]

We effectively already have consistency between Python 2 and 3 in Expr. A comparison that isn't known to be true or false remains unevaluated, but if you try to use it in a boolean context (like an `if` s

[2017-09-29 19:22] asmeurer commented on #13370
`Basic.__lt__` could be something like

[code]

and ditto for the other three comparisons.

Note that I didn't actually test this.

[2017-09-30 00:54] ylemkimon commented on #13355
During the test of above PR, the same slowdown occured:
[code]

[2017-09-30 09:52] Wrzlprmft opened #13371 "Allow partial numerical evaluation of expressions containing a definite integral"
It would be nice, if numerical evaluation (`N`, `evalf`, …) would detect if an integral that is part of an expression does not depend on any unknown variables and numerically evaluates it in that case. For example:

[code]

It would be nice if the last call yielded `y + 0.430606103120691`.

This would for example make the task discussed [here](https://stackoverflow.com/q/46499261/2127008) consider

[2017-09-30 11:47] ishanaj commented on #13348
@smichr I think that `Eq(True, 1)` should evaluate to false as True == 1 makes sense while True = 1 does not. So if you say would like to take up this issue.

[2017-09-30 12:58] smichr commented on #13111
I believe these have all been removed but I am leaving this open, suggesting that the code quality add a test that nothing in the code adds new occurrences of ".func is " anywhere except in the test suite.

[2017-09-30 16:05] anca-mc commented on #13076
It seems that adding before line 1308 the lines

            else:
                reprec = None

 raises TypeError: 'Max' object is not iterable.

 So I used a debugger to trace the behaviour of Mul(...).evalf() when the order of the arguments changes.

Adding instead

            else:
                raise NotImplementedError

solves the issue:

The idea would be that evalf_mul() to fall back t

[2017-09-30 16:48] wdscxsj opened #13373 "Minor error in Matrices tutorial"
In the [RREF section](http://docs.sympy.org/latest/tutorial/matrices.html#rref) of the Matrices tutorial, the note says "The second is of type `list`." The actual type should be `tuple`.

[2017-09-30 19:43] Upabjojr opened #13375 "Review sympy.vector before any new release of SymPy"
See https://groups.google.com/forum/#!topic/sympy/e1O7G8NVtRs

[2017-09-30 20:36] #5715 closed

[2017-09-30 21:28] josephcslater opened #13376 "Evaluation of simple integrals not being executed when inside other expressions"
Simple integrals aren't performed when inside complex expressions [as illustrated in this gist](https://gist.github.com/anonymous/c720faa84037815abb3da93f05010f92).

I've tried what I can, but the obvious simplifications can be made to happen. Is this a known bug, or is there a work around?

[2017-09-30 21:48] bjodah commented on #13373
@wdscxsj thanks, we welcome any corrections. You can fix this even using github's built in editor, here's the source file: https://github.com/sympy/sympy/blob/master/doc/src/tutorial/matrices.rst

(you can click the pen in the top right).

[2017-10-01 04:30] wdscxsj commented on #13373
Thanks for the tip! Fix proposed.

[2017-10-01 04:44] gxyd commented on #13373
You will also need to send in a pull request against SymPy master. Probably you have just created a commit on your branch. So now you need to send a PR. :)

[2017-10-01 05:14] wdscxsj commented on #13373
Thank you. I guess it's OK this time.

[2017-10-01 06:38] #13340 closed

[2017-10-01 11:55] ylemkimon commented on #13355
@vaglad Do you have any thoughts on why above slowdown occurs?

[2017-10-01 11:57] ylemkimon commented on #13355
@valglad Do you have any thoughts on why above slowdown occurs?

[2017-10-01 14:49] #13373 closed

[2017-10-01 18:12] makmanalp commented on #9305
I have a similar issue, I'm trying to use MatrixSymbol/Matrix to solve/plot an absolute value equation on a vector, e.g. max(|b0,0|,|b1,0|)=1 or `\sqrt{\left|{b_{0, 0}}\right|^{2} + \left|{b_{1, 0}}\right|^{2}} = 1` or similar, and I get: `NotImplementedError: solving Abs(b[0, 0]) when the argument is not real or imaginary.`

But MatrixSymbol doesn't seem to have a way to specify that its contents

[2017-10-01 18:26] makmanalp commented on #9305
Ah, seems to be kinda related to #7379 and #11124 etc maybe

[2017-10-01 18:30] valglad commented on #13355
`G.sylow_subgroup(p)` reduces on a certain centralizer so that it eventually says something like `return G.centralizer(g).sylow_subgroup(p)` for some `g` with specific properties. If `G.centralizer(g) == G`, this will obviously get into an infinite loop. And since `g` is chosen randomly before it's checked for "specific properties", this would only happen occasionally. If I'm right, simply adding

[2017-10-01 18:36] ethankward commented on #12599
@smichr I noticed that the Triangle class implements bisectors using segments, and you're using rays. If I were to implement this, what do you think about just using Line objects? That seems the most natural to me since an angle bisector doesn't intrinsically have a direction or a length.

[2017-10-01 18:43] makmanalp commented on #9305
Workaround was:

[code]

[2017-10-01 18:59] zanzibar7 commented on #13359
Not sure what the benefits are to using ``subs'' this way are.  This seems to conceal the order of operations to no clear ends.

Anyway, not sure exactly what is going on or why 20 is being evaluated to a single bit of accuracy, but the most obvious fix is to force all subs to be performed before any attempts at evaluation.

[code]

This is naive fix is probably suboptimal, but almost all tests se

[2017-10-02 03:25] asmeurer commented on #13319
It definitely is supposed to work inside the notebook.

@Carreau can you look at this, or CC someone more appropriate to look at it?

[2017-10-02 03:27] ylemkimon commented on #13355
@valglad Thank you!

[2017-10-02 05:22] minecraft2048 opened #13379 "sympy.physics.units documentation doesn't list supported units"
I'm wondering whether sympy.physics.units supports degree Celsius as temperature units, but there is no documentation of units that sympy supports in http://docs.sympy.org/latest/modules/physics/units/index.html , so I have no idea whether sympy supports degree Celsius. Compare it to [Pint](https://pint.readthedocs.io/en/latest/) where they have a complete documentation of supported units: https:/

[2017-10-02 08:56] fschaef opened #13380 "solve() does not expand summation() expressions."
As discussed on stackoverflow, the 'solve()' function does not expand the 'summation()' expressions.

[https://stackoverflow.com/questions/46521521/sympy-version-1-1-1-solve-containing-summation](url)

As a consequence, for example, the zero transition of x in
`summation(x + y(i), (i, 0, N))` cannot be determined with 'solve()'.

However, the zero transition of `summation(x, (i,0,N)) + summation(y

[2017-10-02 10:07] #13076 closed

[2017-10-02 13:12] Shikhar1998 opened #13382 "Incorrect Result for limit(n*(((n+1)**2+1)/((n)**2+1)-1), n ,oo)"
[code]
The answer should be `2`.

[2017-10-02 14:42] DevinCharles opened #13383 "Sympy Plot3d (Probably others) fails to import Matplotlib RC Version"
Plot fails to import Matplotlib 2.1.0rc1 because StrictVersion fails to read this string.

[code]

[code]

**Offending code is at line 160 in importtools.py:**
`if StrictVersion(modversion) < StrictVersion(min_module_version):`

**Potential fix:**
[code]

[2017-10-02 15:24] Carreau commented on #13319
Yes, I can try to have a look; Probably not in the next week, but I'll open an issue on IPython to remember.

[2017-10-02 16:10] jksuom commented on #13383
Using `LooseVersion` would probably suffice.

[2017-10-02 17:08] smichr commented on #12831
The code near this change is:

[code]

So the asymptotic expansion result is valid when p >= q while the only line that uses E() comes at line 1363. The conditions there require that n >= 1, p< q, m >=1, rho*pi-delta >= pi/2 and delta > 0. Then `E(zz)` is called where `zz=z*exp(I*pi*(nu+1))` and E(zz) will tell when zz converges. The result does not depend on b or c:

[code]

[2017-10-02 17:10] #12831 closed

[2017-10-02 18:54] asmeurer opened #13385 "Add release dates to the release notes"
The release notes on the wiki (https://github.com/sympy/sympy/wiki/Release-Notes) do not have the release dates for the release. The release date can be found from the tag metadata at https://github.com/sympy/sympy/releases (use the final release), or from the news section at http://www.sympy.org/en/index.html.  The date should be added to the top of the page (like
"SymPy 1.0 was released on ...")

[2017-10-02 21:07] kenogo commented on #13385
Can I just go ahead and add these in the wiki?

[2017-10-02 21:10] asmeurer commented on #13385
Yep, just do it. Let us know when it's done so we can close this issue.

[2017-10-02 21:28] kenogo commented on #13385
Ok I'm done, you can close this.

[2017-10-02 21:41] asmeurer commented on #13385
Thanks.

[2017-10-02 21:41] #13385 closed

[2017-10-02 21:50] kenogo commented on #13252
@mfarrokh Where exactly did you add parentheses? The problem is apparently somewhere inside the And function not handling the brackets properly. I'll try fixing this.

[2017-10-02 23:12] kenogo commented on #13252
Okay. So I found the issue. The problem is that `sympy.printing.str.StrPrinter._print_Add` function calls a function called `stringify` which eventually calls the function `parenthesize`, to which a precedence value gets passed on. The value used for this is `sympy.printing.precedence.PRECEDENCE["BitwiseAnd"]` and it's equal to 38, which is less than the addition operator with `PRECEDENCE["Add"]`

[2017-10-02 23:15] kenogo commented on #13252
If you wanna try it out: changing the precedence passed on to `stringify` in `_print_Add` to 41 makes @mfarrokh's code work again. But that's obviously not a real fix.

[2017-10-02 23:20] kenogo commented on #13252
As a matter of fact, when I change the precedence passed on to the call of `stringify` in  `_print_Add` from `PRECEDENCE["BitwiseAnd"]` to 41, it return the parenthesization that you expected, @asmeurer, but @mfarrokh's code still doesn't produce the expected results. So maybe the problem isn't with printing after all?

[2017-10-03 07:16] rwst commented on #13338
Use other libraries like Piranha, SymEngine, Singular/libfactory or Giac/libgiac. In short time, Flint should allow this too. These are practically the fastest Open Source solutions you can get for multivariate polynomial manipulations because they are written in C++.

[2017-10-03 07:22] pebz commented on #13338
Hi rwst,

Thanks for your answer. I'm gonna try those :)

[2017-10-03 09:31] kenogo commented on #13252
I'm pretty sure the error is in `sympy.plotting.experimental_lambdify`. This function is called by `ImplicitSeries.get_raster` which is needed for the plotting matplotlib backend. I guess `experimental_lambdify` wasn't edited to support the new printing of `And` and `Or`. I'll try to fix this and send a pull request if I get it.

[2017-10-03 10:44] kenogo commented on #13252
Further testing has shown that `experimental_lambdify` works correctly when its lambda function gets its values passed  as single nubers, e.g.

[code]

But it produces wrong output if you call `func` with intervals:

[code]

Here, it only seems to recognize the first epxression inside `And` and ignore all others.

[2017-10-03 11:24] kenogo commented on #13252
Okay, so the problem is that the `and` operator has no different namespace for intervals defined in `experimental_lambdify`. For some reason though, the following is the case in python:

[code]

So I was actuallly wrong. It's not the first expression inside `And` that gets recognized, it's the last one.

[2017-10-03 11:32] kenogo opened #13389 "And and Or in sympy.plotting.experimental_lambdify don't work correctly with sympy.plotting.intervalmath.interval"
Hey so this is the cause for #13252. Basically, the issue is that the standard python operators `and` and `or` are used on the boolean tuples returned from comparing intervals. So you get something like

[code]

when the result we want should be
[code]

[2017-10-03 11:40] kenogo commented on #13389
There actually already is an `And` operator for these tuples defined in `sympy.plotting.intervalmath.lib_interval`, but `experimental_lambdify` just doesn't use it. So this is all that has to be changed

[2017-10-03 17:53] asmeurer commented on #13252
I would just change the printers to add parentheses. Apparently the precedence of & is indeed such that you don't need parentheses for the above expression, but that isn't obvious. I wouldn't assume that the precedence of the logical operators is obvious.

[2017-10-03 19:36] #11864 closed

[2017-10-04 06:03] rwst opened #13395 "fix TEST_SAGE=yes Travis script"
As discovered in #13392 the Travis testing of the SymPy --> Sage interface is non-functional. The test that should have failed was in #12826, the job log is https://travis-ci.org/sympy/sympy/jobs/257302234.

I'm not suggesting the fix is important, as we will have that testing in official Sage soon, but it may bite folks installing newer SymPy versions with Sage.

[2017-10-04 06:06] parsoyaarihant opened #13396 "solveset() unable to solve -2*y*exp(-x**2 - y**2)*Abs(x)"
[code]

[2017-10-04 08:27] akash9712 commented on #13396
The latest version of the master branch appears to be working fine with this. It gave the following output:
[code]

[2017-10-04 11:11] bolverk opened #13397 "Strange behaviour with exponential integral"
I ran into a problem when I was trying to calculate a symbolic integral which should have yielded an exponential integral, but instead gave a NaN

[code]

However, if I break it down to additive terms then the symbolic integration succeeds
[code]

My python version is 3.6.1 and my sympy version is 1.1.1

[2017-10-04 15:38] moorepants opened #13398 "physics.vector.Vector should have atoms and free_symbols"
It would be nice to be able to call `free_symbols` on a physics vector and it works as it does with any expression. It would also be nice if `find_dynamicsymbols` worked with vectors. A current hack is to convert to a matrix then use these functions.

[2017-10-05 11:35] dineshsuthar786 commented on #13398
Hello, I would like to work on this Issue.

[2017-10-05 11:36] gxyd commented on #13398
Yes, you can send in a PR.

[2017-10-05 11:45] ylemkimon commented on #13355
Since Travis build #24342, `import_module('matchpy')` is failing:
[code]

[2017-10-05 11:54] gxyd commented on #13355
Python 3.6.3 was released a few days ago, https://twitter.com/gvanrossum/status/915313456168951808 . Can this be because of that? Seems like it is using `3.6.3`.

[2017-10-05 11:56] ylemkimon commented on #13355
@gxyd It seems so. Since #24342, Travis is using Python 3.6.3.

[2017-10-05 12:13] ylemkimon commented on #13355
Since it seems to be an issue of `MatchPy`, I opened an issue at https://github.com/HPAC/matchpy/issues/28

[2017-10-05 12:20] bmgxyz commented on #13275
I did a thing. (!) Hope this is useful. First time contributor; please be gentle.

[2017-10-05 12:24] bmgxyz commented on #13275
Oh, I just noticed this: https://github.com/Trave11er/sympy/commit/246e262bce2dd0706dcdeb21a348727f6c8974bd

Since this thread seemed dead, I thought it would be alright to go ahead and fix this. I'm rather confused now.

[2017-10-05 12:34] gxyd commented on #13355
Yes, I just verified. It could be one of the 'good' reason to avoid having to introduce dependencies.

[2017-10-05 12:53] Trave11er commented on #13275
Hi Bradley, that is an unfortunate coincidence - was running tests as your message arrived and it is also the first time for me :) Perhaps, the most diplomatic solution would be to take best bits from both our codes somehow...

[2017-10-05 13:49] bmgxyz commented on #13111
I think I've got a quality test going for ".func is". (Turns out that testing tests is hard.) Running full test suite now.

[2017-10-05 14:38] ylemkimon commented on #13355
Also, since Travis build [#24340](https://travis-ci.org/sympy/sympy/jobs/283189829), the `matplotlib` test is failing:
[code]
It seems `matplotlib` has been upgraded to 2.1.0 and an API breakage.

[2017-10-05 14:51] Shikhar1998 opened #13403 "Incorrect Result for limit(n*(-1 + (n + log(n + 1) + 1)/(n + log(n))), n ,oo)"
Calculation of the following limit gives an incorrect result:
[code]

The answer should have been  `1`.

[2017-10-05 14:54] gxyd commented on #13403
You can use 'triple backticks' https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code to better format the code.

[2017-10-05 14:57] Shikhar1998 commented on #13403
Thanks, for the advice, I will surely do that in future.

[2017-10-05 15:39] bmgxyz commented on #13111
All tests pass locally, but I've noticed at least one other PR recently that failed on CI in spite of that, so we'll see.

[2017-10-05 18:23] cbm755 commented on #13275
Thank you both for your efforts on this so far, these things happen!

May I suggest we work together to try to the find the best fix?  I don't think either PR is ready to merge yet.

[2017-10-05 18:36] cbm755 commented on #13275
Ok I've roughly reviewed both PRs.  If the approach of @bmgxyz works (note: **if**), then I think that might be what we want.  May I suggest a path forward?

1.  You both review each others' work.
2.  Eventually, we rebase and ideally take @Trave11er's testset and @bmgxyz's changes to `Float.__new__`.
3.  don't rebase anything yet.

[2017-10-05 18:47] gxyd commented on #13355
@asmeurer

[2017-10-05 19:07] Trave11er commented on #13275
Happy to do as you propose, @cbm755.

[2017-10-05 19:35] Upabjojr commented on #13355
MatchPy hasn't been updated in a month. It's strange to believe that it is a fault on MatchPy's side.

[2017-10-05 19:38] gxyd commented on #13355
Probably the changes introduced in Python 3.6.3, since by default we have Travis using Python 3.6.3, so MatchPy should be modified so that it is compatible with Python 3.6.3 . Or we should modify SymPy to specifically use Python 3.6.2 , not latest Python 3.x version available.

`typing.py` in Python3.6.3 has changed.

[2017-10-05 19:47] jksuom commented on #13355
This is from https://docs.python.org/3/library/typing.html. It may have something to do with the issue.

[2017-10-05 20:07] bmgxyz commented on #13275
Sounds good to me. Review incoming as soon as I've got some time.

[2017-10-05 23:23] asmeurer commented on #13355
The matplotlib test should be updated with whatever the message says now (unless it really is an error that prevents the plot from working). That test is a bit fragile (I've had to fix it quite a few times in the past). If there's a better way to write that test we should do it.

[2017-10-06 04:11] ylemkimon commented on #13355
The matplotlib error is due to `UserWarning: The following kwargs were not used by contour: 'contours', 'fill'` at:
https://github.com/sympy/sympy/blob/8f7d41673860e7f4741db205feb4ea53712d2013/sympy/plotting/plot.py#L944-L946

I'm not sure why it has `contours` and `fill` arguments in the first place, as it is not documented in matplotlib anywhere.

[2017-10-06 04:14] Upabjojr commented on #13355
https://github.com/sympy/sympy/pull/13405

[2017-10-06 11:16] ylemkimon commented on #13355
Could anyone please restart Travis build [#24344](https://travis-ci.org/sympy/sympy/builds/283404273), [#24345](https://travis-ci.org/sympy/sympy/builds/283488748), [#24352](https://travis-ci.org/sympy/sympy/builds/283760638), [#24353](https://travis-ci.org/sympy/sympy/builds/283773153)? Thank you.

[2017-10-06 15:58] ishanaj commented on #13349
@smichr I think this issue is somewhat related to the issue #13348. The error won't show up if the the latter gets resolved as per PR #13391.

[2017-10-06 18:51] gxyd opened #13408 "Test timeout of slow group in perm_groups"
Quoting @valglad from gitter:

Apparently one of the perm_groups tests related to sylow subgroups times out from time to time, at least so I have been informed in this issue: #13355. But I don't know what seed was used when the test timed out - I tried a few locally but can't reproduce it. If anyone sees timeouts in perm_group for sylow subgroups, report that here.

cc @valglad

[2017-10-06 19:40] #13111 closed

[2017-10-06 19:42] gxyd commented on #13111
@smichr do you think we still need to keep this issue open?

[2017-10-06 19:59] gxyd opened #13409 "Don't use is to compare classes"
A special case of #13111 .
Delete line `func = self.func` and change `func is Add` -> `isinstance(self, Add)`.
On https://github.com/sympy/sympy/blob/master/sympy/core/expr.py#L1656

[2017-10-07 01:31] asmeurer commented on #13408
Here is an example build https://travis-ci.org/sympy/sympy/jobs/280268440

[2017-10-07 01:32] asmeurer commented on #13408
[code]

[2017-10-07 05:32] dps7ud commented on #13409
Removing `func = self.func` caused exceptions in test suite and was left intact.

[2017-10-07 05:37] ylemkimon commented on #13408
[Job #24220.11](https://travis-ci.org/sympy/sympy/jobs/281980056)
[code]
[Job #24161.12](https://travis-ci.org/sympy/sympy/jobs/278489983)
[code]

[2017-10-07 11:18] valglad commented on #13408
Hmm, the issue seems to be different from what I thought. Apparently the time out occurs because the program fails to recognise that a given group is alternating or symmetric - `is_alt_sym()` is a Monte Carlo method and fails about 5 percent of the time with default setting. Even if I set the error probability to be lower, the time out would occur from time to time. Maybe there should be an attrib

[2017-10-07 12:13] ylemkimon opened #13412 "TEST_ASCII is not tested"
https://github.com/sympy/sympy/blob/e97e23abe86bf8bb8136c827de89b1c74550b587/bin/test_travis.sh#L35-L46

`TEST_ASCII`, ASCII-only environment testing was added in #8364, but has several issues.

* `LC_ALL` environment variable is set to UTF-8(Unicode) in Travis, which overrides `LANG` variable. As a result, Python's stdout encoding is set to UTF-8(Unicode) during `TEST_ASCII`.
* Test failure does

[2017-10-07 13:24] #13409 closed

[2017-10-07 14:48] dineshsuthar786 commented on #13398
Can Someone explain, what needs to be done as part of this?

[2017-10-07 15:43] ylemkimon commented on #13111
There seems to be cases of using equality(`==`) operator, e.g., `expr.func == exp`, using `in` operator, e.g., `expr.func in (And, Or)`, and comparing each other, e.g., `a.func != b.func`.

[2017-10-07 16:45] #13322 closed

[2017-10-07 18:32] ethankward commented on #13356
I suspect that this hasn't been implemented because for most distributions it would require numerically computing the inverse, which isn't in scope for a symbolic library.

[2017-10-07 19:10] ethankward commented on #13356
The intervals can be easily calculated for normal distributions since we have the inverse error function, but what about other distributions? What is the definition of confidence interval for a non-symmetric distribution?

[2017-10-07 19:30] Shikhar1998 opened #13416 "Incorrect Result for limit((-n**3*log(n)**3 + (n - 1)*(n + 1)**2*log(n + 1)**3)/(n**2*log(n)**3), n ,oo)"
[code]
The correct answer should have been 1.

[2017-10-07 21:52] moorepants commented on #13398
To start, this should work:

[code]

[2017-10-08 05:01] Upabjojr commented on #13416
Apparently it's been fixed on _diofant_. I keep suggesting to merge the improvements on the limits algorithm from _diofant_.

[2017-10-08 05:04] Upabjojr commented on #13375
@moorepants

[2017-10-08 05:09] Upabjojr opened #13417 "Stats: wrong distribution for the addition of uniform random variables"
Current result:

[code]

This is wrong, see
- [convolution of probability distributions](https://en.wikipedia.org/wiki/Convolution_of_probability_distributions)
- [Irwin-Hall distribution](https://en.wikipedia.org/wiki/Irwin%E2%80%93Hall_distribution)

[2017-10-08 05:14] #13417 closed

[2017-10-08 05:14] Upabjojr commented on #13417
Sorry, result is correct. `n + n` is the same random sample repeated twice.

[2017-10-08 15:41] moorepants opened #13418 "init_session() gives MultipleInstanceError in qtconsole"
First an error message when trying `init_session`:

[code]

[2017-10-08 16:08] jksuom commented on #13418
Related to https://github.com/sympy/sympy/issues/13319.

[2017-10-08 18:39] prajwalgatti commented on #13398
@moorepants Can you explain what free_symbols and find_dynamicsymbols functions are meant to do?

[2017-10-08 18:59] moorepants commented on #13398
Note that this works:

[code]

and this works:

[code]

I think that these functions will need to have a reference frame as an argument, just like express because they may be functions of different scalars depending on what reference frame they are viewed from.

[2017-10-08 20:41] moorepants commented on #13398
Yes, that is a mistake I made above. Change to:

[code]

[2017-10-08 20:50] prajwalgatti commented on #13398
Can you please elaborate a bit more on why the reference frame needs to be taken as an argument?
I'm new to this and I am interested in finding a solution for this

[2017-10-08 21:46] moorepants commented on #13398
The vectors are functions of scalar variables when viewed from a particular reference frame. If viewed from different reference frames the may be functions of different scalar variables or none at all.

[2017-10-09 13:18] smichr commented on #12327
Copying from #12525:

[2017-10-09 15:09] lucentdan opened #13423 "Display of SeqFormula()"
[code]

The Jupyter rendering of this command backslash-escapes the brackets producing:

`\left\[0, 1, 4, 9, \ldots\right\]`

Copying this output to a markdown cell this does not render properly.  Whereas:

`[0, 1, 4, 9, \ldots ]`

does render just fine.

So - sequence output should not backslash-escape square brackets, or, `\]` should instead render?

[2017-10-09 18:46] gxyd commented on #12078
Fixed by #12299 . Closing.

[2017-10-09 18:46] #12078 closed

[2017-10-09 20:53] cbm755 opened #13425 "N(<string>, 30) and sympify: implement a decimal precision kwarg?"
Passing a string to `N` is not explicitly documented, but it does work.  The implementation is `sympify(<input>).evalf(n)`.  Should we change `N` to `sympify(<input>, evaluate=False).evalf(n)`?  This improves accuracy in some very specific cases.

This came up downstream https://savannah.gnu.org/bugs/?51748

- - - - -

Here's the background.  The current code generally DTRT, for example:
[code]

I

[2017-10-10 08:38] Wrzlprmft opened #13427 "Allow simple arithmetic operations with Python booleans"
Right now,  adding or multiplying Python booleans with SymPy arrays raises a `TypeError` (BooleanAtom not allowed in this context). It would be nice if this were treated as if the boolean was 1 or 0:

[code]

The obvious advantage of this is that it allows the user to avoid tedious conversions, but it also makes things more consistent, thus avoiding difficult-to-trace errors:

[code]

[2017-10-10 09:48] smichr commented on #13427
What should `[1,2,3]*False` give? `[]`, `[0, 0, 0]` or `0`?

[2017-10-10 09:54] Wrzlprmft commented on #13427
That already works and and has nothing to do with SymPy as it only uses plain Python.
It yields `[]` which is the same result as for `[1,2,3]*0` (because that’s how the multiplication of iterables and integers works in Python).

[2017-10-10 12:59] Itay4 commented on #13111
@ylemkimon Could you please point to the files where these cases occur?

[2017-10-10 13:34] ylemkimon commented on #13395
Adding `sage -t sympy/external/tests/test_sage.py` to Travis `TEST_SAGE` build seems to raise following error:
[code]

[2017-10-10 14:01] rwst commented on #13395
That looks like a serious Sage installation problem. Is Sage reinstalled from scratch every time? That would strain Travis quite a bit. If so then, honestly, testing the SymPy/Sage interface for every SymPy PR seems big time overkill to me.

[2017-10-10 14:14] ylemkimon commented on #13395
Yes, it reinstalls `sagemath-upstream-binary` from scratch, from `ppa:aims/sagemath` using `apt` like [Job #24412.30](https://travis-ci.org/sympy/sympy/jobs/286021892):
https://github.com/sympy/sympy/blob/41e59dd7e92350a90c792944953a7203325a6c4a/.travis.yml#L265-L269

[2017-10-10 14:24] rwst commented on #13395
Ah you install binary. That is much lighter. It seems the Sage doctester needs a source installation, so the command `sage -t` fails with a binary distribution. I have no idea if it helps to provide the Sage git source without actually building Sage.

Really, it's much easier to do this all when installing SymPy in Sage.

[2017-10-10 14:59] rwst opened #13430 "move Sage conversion into Sage"
After the Sage ticket
https://trac.sagemath.org/ticket/24006

 - the `_sage_` member functions
 - the file `sympy/external/tests/test_sage.py`
 - Travis tests and scripts with `TEST_SAGE`

can be removed.

Motivation:
The real problems of #13395 raise the question if the conversion methods named `_sage_()` shouldn't better be part of Sage? The methods can be added dynamically there.

Not only is T

[2017-10-10 15:26] rwst commented on #13430
It looks like @certik started the Sage interface in https://github.com/sympy/sympy/commit/98e996ca4b89c6cebcec60f5574621cd8342006e. We certainly would like to hear from him on this.

OTOH the move could be done completely independently in Sage, and I will try to experiment this for principle.

[2017-10-10 15:26] #8061 closed

[2017-10-10 16:43] certik commented on #13430
@rwst I am fine either way. The only disadvantage of adding it in Sage is that if something has to be modified in those `_sage_` methods that is tied to a sympy version, then you have to maintain specific patches to specific SymPy versions. But I guess Sage will use just one version of sympy at a time, so I guess that's fine. How do other Python libraries handle this?

[2017-10-10 20:08] smichr commented on #13427
Sorry for the confusion. I meant the list to be illustrative, e.g. `Tuple(1, 2)*False` -- should it give (0, 0) or ()? Or `(x<1)*False`. It just seems that explicit is better than implicit here:
[code]

[2017-10-11 00:27] smichr commented on #12583
This appears to be working in master.

[2017-10-11 00:51] smichr commented on #12534
It is not rounded up by evalf. It has a fixed underlying value (which is less than pi):

[code]

See also the "show" examples of the Float docstring. If, however, you use round you will see what you expect:

[code]

[2017-10-11 02:16] smichr opened #13431 "provide a method to disambiguate symbols that print the same"
[code]
where
[code]

[2017-10-11 05:27] rwst commented on #13430
Yes, Sage always has one specific SymPy version. I'll now change the issue description.

[2017-10-11 09:52] Wrzlprmft commented on #13427
Well, the same question can be asked for  `Tuple(1,2)*0`, but that design decision has been made long ago. My point is that `Tuple(1,2)*0` should return the same as `Tuple(1,2)*0` (which it does). Python booleans are just a special case of integers, and in fact they behave the same with exception of printing  (see the quotes I added to the initial comment).

SymPy breaks this for no reason. I list

[2017-10-11 10:06] smichr commented on #10979
The use of matches in the core should be forbidden (mostly):
[code]

[2017-10-11 10:13] smichr commented on #10979
Could you run this again on my `n` branch?

[2017-10-11 16:34] certik commented on #13430
I agree that if we don't have to test Sage, it will become simpler. I am just a bit worried that it might happen to be a lot of work to keep things working if things are not tested in SymPy itself. But perhaps it will not be too much work to update the _sage_ methods for each new SymPy release to be put into Sage.

[2017-10-11 19:32] #12278 closed

[2017-10-11 19:32] #12863 closed

[2017-10-11 20:00] kofzor opened #13432 "Argmax/Argmin as operators"
The last few days I have been trying to write my equations in Sympy. It works all well up to the point where I want to write an argmax operator defined over a discrete space.

Normally, if argmax is the terminal operation, one can just use solveset or differentiate and find the argument maximizing the value.

However, in this case argmax is just part of a much larger equation. I have tried subclas

[2017-10-11 23:23] #13341 closed

[2017-10-12 01:57] smichr commented on #13427
I agree. I'm not sure of the ramifications in terms of the code base, bowever.

[2017-10-12 04:26] ethankward opened #13433 "TypeError: 'ConditionSet' object is not iterable with definite integral"
...
    singularities = list(solveset(self.cancel().as_numer_denom()[1], x, domain = domain))
    TypeError: 'ConditionSet' object is not iterable

Note that the indefinite integral and limits can be computed:

    (y**3*log(1/y) - y**3*log(y) + 2*y**3 + y*log(1/y) - y*log(y) - 2*y)/(y**6 - 3*y**4 + 3*y**2 - 1)

    0

[2017-10-12 05:55] moorepants commented on #10979
Much improved. It finishes in a tolerable time:

[code]

[2017-10-12 07:50] rwst commented on #13430
I'm afraid the Sage ticket will have to use `_sage_()` instead of `sage()` because all other interfaces in Sage use that too. So it will overwrite what is in SymPy.

[2017-10-12 17:24] asmeurer commented on #12534
I see. Here is the issue:

[code]

pi has `798` in that position, but `pi.evalf(100)` has `797`. But the printing for evalf(100) always rounds to 100 digits, so you see an 8.

[2017-10-12 17:25] smichr commented on #13427
cf #8571

[2017-10-12 17:33] asmeurer commented on #13430
Can you guys test SymPy master in your testing infrastructure so that you aren't surprised by a bunch of accidental breaks every time we do a SymPy release? That's the main disadvantage of moving everything to Sage, is that we can break stuff in SymPy and not really know about it.

[2017-10-12 17:39] asmeurer commented on #13418
Duplicates #13319

[2017-10-12 17:41] asmeurer commented on #13412
See https://github.com/sympy/sympy/pull/8364. It was added because there were some test failures on Windows, which we never knew about until we did a release because we never tested on a non-Unicode lang environment. If LC_ALL takes precedence over LANG we should be setting that for the test instead.

[2017-10-12 17:48] asmeurer commented on #13376
I don't know why it's not evaluating. Calling `soln[0].doit()` will make it work (simplify currently doesn't call doit, https://github.com/sympy/sympy/issues/6399).

As for the initial conditions, they work in master, although you need to specify the `t` value (like `{x(0): .1, y(0): 0}`). However, I get an error from this, perhaps because the unevaluated integrals are making the `solve` call not

[2017-10-12 17:52] asmeurer commented on #13425
Passing strings to anything other than sympify is not really supported, but I don't see an issue with fixing just N() for this, since it's clear that it could help. However, there could be side effects for evaluate=False, since that also prevents evaluation of symbols expressions (like `N('x - x', 30)`).

[2017-10-12 17:53] asmeurer commented on #13425
Maybe sympify() should gain a flag to change the precision of automatic evaluation. I wonder how difficult that would be to achieve.

[2017-10-12 17:57] gxyd opened #13436 "Add Stefan Boltzmann constant in physics/units/definitions.py"
Make changes introduced following the comments in PR #12288 .

[2017-10-12 20:16] smichr commented on #8373
In closed #12579 the following was written:

I have been revisiting this issue and now understand better the nuances that @jksuom was talking about. An expression `x > 0` is not the same as `Q.positive(x)`; it is `Q.positive(x)` & `Q.real(x)`.

Here are some situations that need special care:

1. `x**2 < 0` cannot return `False` ... and that will happen if set simplification is used on this expres